[2020-04-10 19:36] benjha commented on #7562
I was able to spawn 128K task accross 4K nodes on Summit with @rhc54 suggested changes to OpenMPI

https://github.com/open-mpi/ompi/pull/7581

[2020-04-10 19:38] rhc54 commented on #7562
Thanks!

[2020-04-10 19:38] #7562 closed

[2020-04-10 20:29] rjdave commented on #7615
Manually replacing -force_load works and produces a usable Open MPI. Thanks!

However, adding "-Wl," before "-force_load" also works and is probably a more workable solution. Thanks for idea of taking flag recognition out of ifort's hands.

I'm busy with other things right now but I will investigate this further if/when I get a chance. I'm guessing the developers there probably know how to correct

[2020-04-10 20:31] hjelmn commented on #7617
That doesn't sound right. osc/rdma does not use the packed datatype descriptions. That is specifically there to support sending the target datatype when using osc/pt2pt. The function is ompi_datatype_get_pack_description. This might be a leak in the datatype system.

[2020-04-10 20:32] hjelmn commented on #7617
Also, MPI_Win_complete? Ugh, need to discourage its use as much as possible. Active target RMA was a bad idea in MPI-2.0 and is still a bad idea :).

[2020-04-10 20:34] hjelmn commented on #7617
Hmm, though this is on the target so the place to look is ```osc_pt2pt_data_move.cc```.

[2020-04-10 20:39] hjelmn commented on #7617
All instances of datatype_create are paired with a call to OMPI_DATATYPE_RELEASE.

[2020-04-11 02:30] ggouaillardet commented on #7615
Thanks, it looks like we will have to patch the generated `configure` one more time to correctly support `ifort`. Meanwhile, feel free to raise this issue to Intel since they might consider it as a bug and fix it.

[2020-04-12 04:50] ggouaillardet commented on #7615
I found this https://software.intel.com/en-us/forums/intel-fortran-compiler/topic/763137

TL;DR

`csrutil disable && reboot`
and then try again.
do not forget to
`csrutil enable` back after you tried.

[2020-04-12 05:05] ggouaillardet commented on #7615
an other thing worth trying is to use Apple's autotools

in the source directory, you can run
[code]
and then try again to build Open MPI

[2020-04-12 08:45] ggouaillardet commented on #7615
an other workaround is at https://git.ustc.edu.cn/qqq/linuxbrew-core/commit/61b85a5e3b425439098f25c7f7ef33c76253943c

TL;DR

[code]

[2020-04-13 12:58] awlauria commented on #7504
@hkuno did #7505 fix this? If so, we can close this issue.

[2020-04-13 14:44] hppritcha commented on #5115
closed via #7609

[2020-04-13 14:44] #5115 closed

[2020-04-13 15:29] hkuno commented on #7504
**> @hkuno did #7505 fix this? If so, we can close this issue.

@awlauria Yes, #7505 fixes this. We can close this isssue.

[2020-04-13 15:29] #7504 closed

[2020-04-13 18:33] ollielo commented on #7617
@hjelmn

No, not all of the creation (or retain) is paired with release, otherwise there wouldn't be this issue  to be reported in the first place.

Without knowing the detail about the internal of ompi/opal, if I comment out this suspicious RETAIN, the memory leak goes at least for pt2pt.

[code]

[2020-04-13 18:38] bosilca commented on #7617
I don't know of the details in that part of the code, but you don't need to retain a datatype if you are not planing to cache it (and I do't see any caching at the level where the retain is done).

[2020-04-13 18:46] ollielo commented on #7617
@hjelmn

If active target using PSCW is a no go, how about Win_Fence as recommended by ATPSEC 2019 tutorial? They also have a version using Win_Fence. Here is the valgrind output:

[2020-04-13 19:04] hjelmn commented on #7617
@ollielo Active-target RMA *is* supported but all active-target RMA is discouraged. This includes MPI_Win_fence. If you want fence you can use MPI_Win_flush_all() + MPI_Barrier(). That is effectively the same thing which is why active-target makes little sense.

And, yes. That retain seems a little suspect. There is no reason to be retaining there. You are probably on to the correct fix there. Ope

[2020-04-13 19:06] hjelmn commented on #7617
FWIW, no other osc component could possibly be affected by this bug. That function is only called by osc/pt2pt. Probably should be removed from the base and put into osc/pt2pt.

[2020-04-13 19:12] jsquyres commented on #7471
Ok.  Planned branch (i.e., feature completeness) for v5.0 is April 30.

[2020-04-13 19:15] rhc54 opened #7620 "MPI_Intercomm_merge fails when multiple interfaces are on node"
https://mtt.open-mpi.org/index.php?do_redir=3216

The intercomm_create test ends with an intercomm_merge of the three different communicators. However, it appears that the various processes wind up with different ordering of the resulting communicator, resulting in errors for "unexpected identifier" when the procs attempt to communicate using the final merged communicator.
[code]

[2020-04-13 19:21] jsquyres commented on #7586
Forgive my ignorance, but F18 is not yet a production-quality compiler, right?

If that's correct, I'd prefer to have them fix their issue rather than put in a gnarly workaround in our m4 code (and/or patch Libtool).

[2020-04-13 19:27] gpaulsen commented on #7616
Added blocker label to block a v4.0.x release until we understand this, and hopefully fix this.

[2020-04-13 19:29] gpaulsen commented on #7616
@jsquyres said he'd take a look at this.  We probably just want a solution on the v4.0.x branch, and leave master as-is for upcoming v5.0.

FYI:  v4.0.x PR looks like this came into v4.0.x on https://github.com/open-mpi/ompi/pull/7116/

[2020-04-13 19:40] ollielo commented on #7617
@hjelmn

This is a problem with a scale far wider that you thought. It is a _systematic misuse_ of the ref count pattern and can not be simply fixed by my single line, one off hack. The OpenMPI core developers need to go through a process of code audit to really make sense of it. Here are some instances of memory leaks based on the combination of pt2pt/rdma and fence/put (with only the rdma + fenc

[2020-04-13 20:01] ollielo commented on #7617
@hjelmn

Not even passive sync can escape the fate, here is p2p+lock_put

The rdma counterpart deadlock again.

[2020-04-13 20:14] hjelmn commented on #7617
Can you open a separate bug for the osc/rdma leak? That is a different issue unrelated to the datatype leak in osc/pt2pt. I will focus on that one first as osc/pt2pt is on life support as is.

[2020-04-13 20:29] bosilca commented on #7612
UCX 1.8 works nicely with the UCT BTL. One just need to allow it with the following patch
[code]

[2020-04-13 20:54] ollielo commented on #7617
@hjelmn

Which is the preferred way of doing osc for LANL machines? ucx? If it is the case, can you focus on it and try to reproduce the problem? My attempt to run mca osc ucx resulted in deadlock. You probably have better luck than me.

[2020-04-13 21:04] hjelmn commented on #7617
On Trinity class machines I prefer not do not use UCX. No reason to add an extra layer there as Open MPI has native uGNI support. osc/ucx has shown to be very unstable and scales poorly.

[2020-04-13 21:04] hjelmn commented on #7617
If both osc/rdma and osc/ucx deadlock there is a good chance that the bug there is not in Open MPI.

[2020-04-13 21:05] hjelmn commented on #7617
I am in a crunch trying to finish up a project. Once that is complete I will get on Trinitite and see if I can figure out what the issue is.

[2020-04-13 23:36] ggouaillardet commented on #7616
@amckinstry I am now double checking in my environment.

FWIW, the commit you are pointing is only for the `master` branch.
In order to workaround a `flang` bug/feature, some constants were revamped (e.g. moved from a `BIND(C, ...` symbol to a `parameter`), so that clearly broke the ABI and we are aware of it.
That being said, extra care was taken when back porting this to the `v4.0.x` branch.
New

[2020-04-14 00:18] ggouaillardet commented on #7615
the root cause is `ompi/mpi/fortran/use-mpi-f08/base/constants.c` has been removed from `Makefile.am`, so the symbols are no more slurped into the `libmpi_usempif08.so` library.

It seems that was caused by subsequent backport(s), I am now working on a fix.

[2020-04-14 00:20] ggouaillardet commented on #7616
the root cause is ompi/mpi/fortran/use-mpi-f08/base/constants.c has been removed from Makefile.am, so the symbols are no more slurped into the libmpi_usempif08.so library.

It seems that was caused by subsequent backport(s), I am now working on a fix.

[2020-04-14 01:53] ggouaillardet commented on #7616
@amckinstry you can manually download and apply the patch at https://github.com/open-mpi/ompi/pull/7622.patch.
If you apply it on the `v4.0.3` tarball, you will also need to run `./autogen.pl --force`

[2020-04-14 02:17] jsquyres commented on #7616
Thanks @ggouaillardet

[2020-04-14 09:09] cniethammer commented on #7612
@bosilca : Thanks, that was the info I was looking for! From the UCX 1.8.0 release notes I could not see changes related to the UCX API. So, it was also my impression that this is a simple extension of the allowed UCX version range.

[2020-04-14 12:57] awlauria opened #7623 "MTT master: test datatype/type_f90 fails"
https://mtt.open-mpi.org/index.php?do_redir=3219

It looks like a failure in the creation of an `MPI_Type_create_f90_real`:
[code]

[2020-04-14 13:09] awlauria opened #7624 "MTT master: test int_overflow segmentation fault"
https://mtt.open-mpi.org/index.php?do_redir=3220

[code]

[2020-04-14 13:14] awlauria opened #7625 "MTT master: collective/ireduce_scatter_block_nocommute_stride fails"
https://mtt.open-mpi.org/index.php?do_redir=3221

[code]

[2020-04-14 13:17] awlauria opened #7626 "MTT master: intercomm_create failure"
https://mtt.open-mpi.org/index.php?do_redir=3222

[code]

[2020-04-14 13:21] awlauria opened #7627 "MTT master: Segmentation faults in various Fortran_20.0_32_CentOS6.10 basic tests"
https://mtt.open-mpi.org/index.php?do_redir=3224

`c_hello` and `c_ring` are both segv'ing:

[code]

[2020-04-14 15:13] rhc54 commented on #7627
@jsquyres Boris needs to see some debug info from Absoft - can you put him in contact with somebody there? We are unable to reproduce the problem, even when using the same OS version.

[2020-04-14 16:11] rhc54 opened #7628 "Hangs in many MTT tests during "fence" in collective/intercomm"
https://mtt.open-mpi.org/index.php?do_redir=3225

Seeing the same timeout over and over again in IBM tests for collective/intercomm:
[code]

[2020-04-14 16:54] gpaulsen commented on #7560
Today @jsquyres reported that he and @bwbarrett discussed and that Brian is working on.
Adding Severity: critical, as this may impact both static and non-static builds.

[2020-04-14 20:09] brendanxwhitaker opened #7630 "Error on cluster over WAN: ORTE does not know how to route a message to the specified daemon"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
From tarball.

### If you are building/installing from a git

[2020-04-15 02:47] awlauria commented on #7442
I believe this issue can be closed. It was removed from 5.0 tracking. PR merged here:

https://github.com/open-mpi/ompi/pull/7554

[2020-04-15 02:47] #7442 closed

[2020-04-15 02:49] awlauria commented on #7514
Closing since https://github.com/open-mpi/ompi/pull/6578 was merged

[2020-04-15 02:49] #7514 closed

[2020-04-15 10:34] devreal opened #7631 "UCX osc: missing progress in shared memory"
I encountered the following problem when forcing UCX with `--mca osc ucx` on a shared memory system (mainly for testing; I know it's not optimal but it shouldn't hang):

[code]

Process 1 will hang in `MPI_Win_lock_all` because `MPI_Barrier` will not progress UCX (presumably because UCX is not used for collectives in shared memory?). The UCX osc's progress callback gets called in the barrier call

[2020-04-15 16:21] gkatev opened #7634 "Undeclared variable in ompi_proc_complete_init_single with --enable-heterogeneous"
Hello,
In a fresh git clone, when compiling with --enable-heterogeneous, I receive the following compilation error:
[code]
https://github.com/open-mpi/ompi/blob/708f945605c65e97377a99f157af935289f4f83d/ompi/proc/proc.c#L133-L167

[2020-04-15 16:23] rhc54 commented on #7634
It was just fixed: https://github.com/open-mpi/ompi/pull/7633

[2020-04-15 16:23] #7634 closed

[2020-04-15 16:54] rhc54 commented on #7627
Refs https://github.com/openpmix/openpmix/issues/1720

[2020-04-15 17:11] rhc54 commented on #7630
Looks like you have a mismatched version on one of your nodes:
[code]
Only an old version of OMPI would not understand that cmd line option.

[2020-04-15 17:31] jsquyres commented on #7627
Hey @cagoelz -- can you help out here?  We're getting some errors in the MTT Absoft runs, but no one is able to reproduce them.

[2020-04-15 17:48] cagoelz commented on #7627
I will take a look and see what I can find out.

On 4/15/20 1:32 PM, Jeff Squyres wrote:

[2020-04-15 17:58] rfkspada opened #7635 "Configure error - cannot compute sizeof (long long)"
Dear all,

I need to compile OpenMpi with intel compilers (icc, icpc and ifort). The configure fails because it can not compute the size of long long type. The last lines of the output are:

[code]

The version of OpenMpi is 4.0.3. The intel compilers version is:

`icc (ICC) 19.1.0.166`

I only installed the 64bits version of the Intel compilers.

The command line used to start the configure was:

[2020-04-15 18:11] cagoelz commented on #7627
Here are stack traces for c_hello and c_ring from the core files left behind in
scratches/2020-04-15/installs/ompi-nightly-master--absoft--master-202004150242-708f945/tests/trivial/test_get__trivial

---------------------------------------------------
$ file core.29236
core.29236: ELF 32-bit LSB core file Intel 80386, version 1 (SYSV), SVR4-style, from './c_hello', real uid: 500, effective uid: 50

[2020-04-15 18:51] cagoelz commented on #7627
Possibly exceeding the default stack limit?

Working in  scratches/2020-04-15/installs/ompi-nightly-master--absoft--master-202004150242-708f945/tests/trivial/test_get__trivial

$ source ../../../mpi_installed_vars.sh
$ ulimit -s
10240
$ mpiexec -n 2 ./c_hello
[ompi32:29858] *** Process received signal ***
[ompi32:29858] Signal: Segmentation fault (11)
[ompi32:29858] Signal code: Address not mapped

[2020-04-15 18:55] rfkspada commented on #7635
Dear all,

I figured out how to make it work. I explicitly set i8 integers and m64. It worked with the options below.

`./configure --prefix=/opt/hpc/openmpi-4.0.3/build/ CC=icc CXX=icpc F77=ifort FC=ifort FFLAGS="-i8 -m64" FCFLAGS="-i8 -m64" CFLAGS="-m64" CXXFLAGS="-m64"`

Thanks

[2020-04-15 18:55] #7635 closed

[2020-04-15 18:58] rhc54 commented on #7627
Has to be something like stack corruption as it otherwise makes no sense.

[2020-04-15 19:01] rhc54 commented on #7627
That's an awfully short stack limit - is there a reason for it? I don't believe that is what comes with CentOS by default - is it?

[2020-04-15 22:22] brendanxwhitaker commented on #7630
Thanks for replying. I've reinstalled on all nodes, and the `unknown option` error is gone, but the rest of the output is the same error (ORTE can't route from the head node to the target node).

[2020-04-15 22:47] jsquyres commented on #7612
@bosilca @cniethammer If you guys want that for v5.0, you might want to PR it soon -- branch is April 30.

[2020-04-15 23:33] cagoelz commented on #7627
I did not do anything special when creating our 32 bit test bed, just a stock install with the extra packages for development.  I just checked a 64 bit version of CentOS 6.10 that I set up a
week or so ago and it also has 10240k as the default stack limit. Out of curiosity, I checked
on 64 bit RHEL 8 system and the default stack limit there is 8192k.

[2020-04-15 23:54] rhc54 commented on #7627
Just to clarify: are all the failures on 32-bit test beds?

[2020-04-16 00:41] cagoelz commented on #7627
Yes, all of the failures at Absoft are on the 32-bit test bed.

[2020-04-16 01:02] #7603 closed

[2020-04-16 05:00] karasevb commented on #7627
According to the backtrace it fails at [pmix_pshmem.finalize()](https://github.com/openpmix/openpmix/blob/040a47cdadc9a3ba3010f93825bd4a6b8efcb461/src/mca/pshmem/base/pshmem_base_select.c#L89) line 89:
[code]
In the case that we see, the `pmix_pshmem.finalize` pointer must be [NULL](https://github.com/openpmix/openpmix/blob/master/src/mca/pshmem/base/pshmem_base_frame.c#L48). Looks like the `final

[2020-04-16 13:39] cagoelz commented on #7627
We are running the 32 bit test bed on VMWare 6.5 but that is probably not significant. The only other thing I can add is thatt anything that changes the memory layout causes the seg fault to go away, Examples: loading c_ring into gdb, running it under valgrind, setting LD_USE_LOAD_BIAS in the environment.

[2020-04-16 14:10] rhc54 commented on #7627
And I noted that all the problems went away with last night's tarball. So it does seem to be something overwriting the `pmix_pshmem` location.

@karasevb Perhaps valgrind could tell us something? I'm not entirely sure how to approach this one.

@cagoelz IIRC, you guys have a fortran compiler, but use standard gcc for building the C portions of OMPI? Can you tell us what C compiler and version is b

[2020-04-16 14:20] cagoelz commented on #7627
gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-23)

[2020-04-16 16:29] rhc54 opened #7639 "Hangs in IBM MTT tests"
https://mtt.open-mpi.org/index.php?do_redir=3226

I am unable to replicate the hangs for the following tests:
* environment/abort
* environment/final
* dynamic/intercomm_create  -  this one fails (see #7626), but IBM shows it hanging

The rest of the hangs are mostly one-sided problems.

[2020-04-16 18:28] alex--m commented on #7311
@ggouaillardet @rhc54 I probably didn't have the same intention as @cponder , but I stumbled across what seems to be the same issue: `mpirun --rank-by core XYZ` just fails (OMPI v4.0.3, internal pmix3). I have a workaround, but I was hoping I could help find the root cause.

This may help - notice how some ranks are "INVALID" when I pass the flag, and the printf() I added in dstore_base.c (inside

[2020-04-16 19:07] artpol84 commented on #7627
@karasevb let's try to use address sanitizer in llvm.

[2020-04-16 19:17] awlauria commented on #7627
What about compiling with `-fstack-protector-strong`?

[2020-04-16 19:35] rhc54 commented on #7627
@cagoelz You mentioned that you are running a VMWare for this? I'm wondering if you could setup an instance with the OMPI hash that fails, and then provide me with a copy of that VMWare image? I have VMWare here as well and can perhaps debug this easier (and without bothering you so much with it).

[2020-04-17 10:32] jeorsch opened #7642 "Occasional segfaults and hangs when running multiple MPI jobs on one node"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.3 (also occured with v4.0.0)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From a tarball with "--prefix", "--enable-debug", and "--with-hwloc=internal" confi

[2020-04-17 17:50] cagoelz commented on #7627
I am happy to attempt this but keep in mind that I am far from a VMware expert. I know how to create the machines we need for testing but that's about it.  We are using the free ESXi  6.5 with the web interface.  Do you want me to just create the smallest possible virtual disk with the required install of CentOS and the OMPI files from 04-15-2020 or is there some magic I don't know about that will

[2020-04-17 18:01] rhc54 commented on #7627
We haven't been able to reproduce the problem even with a VM containing CentOS and that OMPI hash that we construct, so I think what we need is to have you do the VM build just as you normally do, then verify that OMPI fails and send us that complete image. Have to figure out where to post it so we can retrieve it as GitHub won't be able to handle something of that size. I do have a dropbox we cou

[2020-04-17 18:08] gpaulsen commented on #7628
@rhc54 Can we close this issue?  Did PR#7629 address this?

[2020-04-17 18:18] rhc54 commented on #7628
Yes, looks like I got it!

[2020-04-17 18:18] #7628 closed

[2020-04-17 18:29] gpaulsen commented on #3408
@artemry-mlnx Can we close this issue?

[2020-04-17 19:08] BrendanCunningham opened #7644 "OpenMPI ./configure --with-hwloc=<dir> fails in opal/mca/threads/pthreads/configure.m4"
## Background information
Am building ompi/master and required hwloc, libevent, and pmix libraries under my `~/` to be able to develop without overwriting my distro's installed ompi. To do this, I configure hwloc, libevent, pmix, and ompi with `--prefix=~/projects/ompi_master_build_issue`.

Am using the following versions of hwloc, libevent, and pmix:
- libevent, heads/master, commit 0d2f1700
- hw

[2020-04-17 19:33] awlauria commented on #7617
@hppritcha can you post the mpirun command of the reproducer? Thanks.

[2020-04-17 20:11] lee218llnl commented on #5115
While it looks like the session directory still exists after detaching the initial debug session, I still have problems when trying to reattach to the same job (i.e., launchmon hangs). @hppritcha did you retry your reattach launchmon test on the commit for #7609? @dongahn we may need your eyes on this one to see what is going on inside launchmon and what state it see's orterun in.

[2020-04-17 22:16] awlauria commented on #7617
@ollielo fyi - please show your compile/mpirun commands to reproduce. I've had no luck. Thanks.

[2020-04-18 01:33] artpol84 commented on #3408
I think we ca.

[2020-04-18 01:33] #3408 closed

[2020-04-18 11:36] jsquyres commented on #7519
@hjelmn Ping.

[2020-04-20 13:59] ollielo commented on #7617
Here is a sample of it, you can then try all the combination of mca osc and examples.

There is a submit.sh in the root directory in the tgz as well.

[2020-04-20 22:04] dipti-kothari opened #7647 "Seg fault when running ring_c test on 1152 ranks over 32 nodes with direct modex"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
master, commit ```6539a55708```

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone

### If you are building/installing from a git clone, please copy-n-paste the

[2020-04-21 01:36] karasevb commented on #7647
I experienced a similar crash where two problems can be separated:
- direct-modex: some process cannot get a pml endpoint key and PMIx_Get ends due to timeout.
- segfault: at the PMIx_Get timeout scenario.

Here is backtrace:
[code]

[2020-04-21 02:22] rhc54 commented on #7647
I can correct the segfault, but the real question is: why can't a process get the PML key?

[2020-04-21 02:50] karasevb commented on #7647
I'll try to collect more details.

[2020-04-21 15:38] rhc54 opened #7648 "Determining version of OMPI being used"
When a user types `mpirun --version`, they are expecting to see the version level of the OMPI code, not the PRRTE code that actually is implementing `mpirun`. However, PRRTE currently has no idea of the version of OMPI as it isn't an OMPI program.

One option is to pass a configure flag to PRRTE indicating the version string to be provided in response to `mpirun --version`. This will work for the

[2020-04-21 16:26] devreal commented on #7617
I can reproduce this locally, will try to dig into it.

[2020-04-21 16:34] jladd-mlnx commented on #7617
@janjust @artpol84 - heads up. Let's check UCX OSC on IB.

[2020-04-21 17:44] aasraoui commented on #7607
thanks jsquyres,  trying to use mpirun from  mlnx-ofed 4.5 on centos 7.6
it is reporting the ucx versions of 1.5, although ofed4.5 is using version 1.8

[root@client4 hpcx-v2.6.0-gcc-MLNX_OFED_LINUX-4.5-1.0.1.0-redhat7.6-x86_64]# mpirun --allow-run-as-root --hostfile mfile.1 -np 2 ./mdtest -F 1 -n 1 /mnt/beegfs
[1587490450.253368] [client5:20941:0]    ucp_context.c:1187 UCX  WARN  UCP version is i

[2020-04-21 20:57] devreal commented on #7617
@ollielo I posted https://github.com/open-mpi/ompi/pull/7650 which fixes the memory leak in the pt2pt osc regarding the datatype. You're initial analysis was right, the datatype does not need to be retained there.

I also looked into the `rdma` osc leaks. I posted https://github.com/open-mpi/ompi/pull/7651 which removes another retain that seems suspicious. Unfortunately, I do not have a system at

[2020-04-21 21:06] gpaulsen commented on #194
Removed critical label.  This is still an issue, but it has been open for 5 years with no work.  It can't be that critical (agreed to in 4/21/2020 weekly web-ex)

[2020-04-22 02:00] MicroTed commented on #7615
Thanks for the hints here! I manually edited libtool to add the -Wl, for ifort, and that worked. (I'm on High Sierra with ifort 13 (I know -- old!)

[2020-04-22 05:12] MicroTed commented on #7615
@ggouaillardet  Would this also be related to having problems with MPI_IN_PLACE not working? I was able to compile 4.0.3 (clang + ifort), and mpif90 creates executables. But ALLREDUCE using MPI_IN_PLACE return zero because apparently MPI_IN_PLACE has a value of zero.
I just updated to 4.0.3 from 2.1.2, and I think 2.1.2 was having the same problem.
I'll try compiling with gfortran.
(Sorry if this

[2020-04-22 06:37] ggouaillardet commented on #7615
@MicroTed please open a new issue and describe your environment

(fwiw, `MPI_IN_PLACE` is working with gcc 9.2 in my Linux environment)
that should describe your OS, compiler (vendor and version) and a test case that evidences the issue.

[2020-04-22 17:41] jsquyres commented on #7615
@MicroTed BTW, this was fixed on the v4.0.x branch for the upcoming v4.0.4 release.  Would you mind giving the latest v4.0.x nightly snapshot tarball a whirl to make sure we got it right?

https://www.open-mpi.org/nightly/v4.0.x/

[2020-04-22 17:43] jsquyres commented on #7616
@amckinstry The fix for this was merged in #7622.  Can you try the latest nightly v4.0.x snapshot to make sure we got it right?

https://www.open-mpi.org/nightly/v4.0.x/

[2020-04-22 17:47] jsquyres commented on #7607
@jladd-mlnx @artpol84 @yosefe Can someone from Mellanox help this user?  Thanks!

[2020-04-22 17:49] MicroTed commented on #7615
@jsquyres  Sure, I can try it. I'll also post a new issue for the mpi_in_place, though I wonder if it's an ifort problem. Might be overdue for a new license :)

[2020-04-22 18:03] jladd-mlnx commented on #7607
@aasraoui it looks like you're trying to run HPC-X v2.6 over RoCE (and *not* MPI from MOFED.)  It also looks like there is a UCX version mismatch between host 1 and host 2 as specified in your Hostfile. Per the HPC-X user manual:

launch from propagating the library path to the compute nodes. Thus, make sure to pass LD_LIBRARY_PATH variable as follows:
`% mpirun -x LD_LIBRARY_PATH -np 2 -H host1,h

[2020-04-22 18:44] MicroTed commented on #7615
In that nightly build, I see that libtool has

# A language specific compiler.
CC="ifort"

# Is the compiler the GNU compiler?
with_gcc=no

# Compiler flag to turn off builtin functions.
no_builtin_flag=""

# Additional compiler flags for building library objects.
pic_flag=" -fno-common"

# How to pass a linker flag through the compiler.
wl=""

So it appears not to recognize that ifort needs wl="-

[2020-04-22 20:17] aasraoui commented on #7607
@jladd-mlnx, thanks this works!!
do you have documentation on how to launch with with slurs ?

hpcx-v2.6.0-gcc-MLNX_OFED_LINUX-4.5-1.0.1.0-redhat7.6-x86_64]# mpirun -v --oversubscribe --allow-run-as-root -x LD_LIBRARY_PATH --hostfile mfile.1 -np 32 ./mdtest -F 1 -n 8 -i 3 -d /mnt/beegfs
-- started at 04/22/2020 13:11:26 --

mdtest-1.9.3 was launched with 32 total task(s) on 2 node(s)
Command line

[2020-04-22 20:31] jladd-mlnx commented on #7607
@aasraoui Great news! As for SLURM, you will first need to have your cluster admin install [SLURM](https://slurm.schedmd.com/overview.html ). Once that is done, you won't need to specify a hostfile or forward the `LD_LIBRARY_PATH` into the remote environment. Launching will "just work". I'm going to go ahead and close this issue.

[2020-04-22 20:31] #7607 closed

[2020-04-22 21:04] jsquyres commented on #7615
What was fixed was the missing `.c` file that should make the symbols be present.

We didn't patch Libtool to fix warnings.

[2020-04-22 21:11] MicroTed commented on #7615
Sorry, I guess I forgot to add that the library error still occurs:

tmimac:COMMAS% mpif90 hello.f90
Undefined symbols for architecture x86_64:
  "_ompi_buffer_detach_f08", referenced from:
      import-atom in libmpi_usempif08.dylib
ld: symbol(s) not found for architecture x86_64

[2020-04-22 21:20] jsquyres commented on #7615
I might have accidentally mixed up which bug this issue referred, to -- I thought it was referring to the missing `.c` file, but I think I was mistaken.  Sorry!

Did you try @ggouaillardet's suggestion of:

[code]

and/or raising the issue with Intel?

The issue here is that Libtool is a third-party tool; having us patch it is fairly painful, fragile, and error-prone.  If there is an incompatibili

[2020-04-22 22:09] MicroTed opened #7653 "constants not recognized with ifort on OS X"
Summary: Intel ifort not recognizing special constants (e.g., mpi_in_place). Is there a work-around for this? (The PMIX error at the end also occurs when compiling with gfortran, so I assume that is a separate issue.)

MacOS 10.13.6 (High Sierra), iMac Pro
Open MPI version: 4.0.3 (though also occurs with 2.1.2), installed from source
ifort Version 13.0.3.198 Build 20130606 (yes, it's old)
CC is Ap

[2020-04-22 22:44] MicroTed commented on #7615
Ah, I'm not so familiar with libtool, or configure for that matter -- just enough to hopefully get stuff compiled. It's interesting that configure figures out that ifort needs -Wl, (according to config.log) but doesn't output that to config.status.

I don't have a current ifort license, but I probably should update this year if I can.

I just figured out what I did wrong with "lt_cv_ld_force_load=

[2020-04-22 23:20] #7648 closed

[2020-04-22 23:21] rhc54 commented on #7647
@dipti-kothari @karasevb can you folks do a quick check of the latest OMPI master and see if this persists? Just want to get a baseline before digging into it as OMPI/PMIx/PRRTE have been updated a few times over the last couple of days.

[2020-04-23 04:17] karasevb commented on #7647
The last master 91be01b is still crashing with the same backtrace.

2 nodes, 10 ppn crash:
[code]

[2020-04-23 13:03] karasevb commented on #7647
I found a timeout problem, will open the PR.

[2020-04-23 15:39] cniethammer commented on #7612
@hjelmn : may I ask you to have a short look as I see that you had coped with this UCT code lastly in #7128

[2020-04-23 16:14] mkre commented on #7049
We recently ran into the same issue with Open MPI 4.0.2. Can anyone please comment here? Is my assumption correct, that the issue can only occur if

* at least two Open MPI jobs are running on the same host at the same time,
* they are launched by different users (otherwise, the permissions should be fine and `orte_create_dir()` should return successfully),
* their `mpirun` (or `orterun`?) has the

[2020-04-23 16:36] rhc54 commented on #7049
How is it possible for two unique processes to have the same pid at the same time on your machine?

[2020-04-23 16:41] rhc54 commented on #7049
Just to be clear: the original problem reported here is clearly that something happened that caused ORTE not to completely cleanup (e.g., the daemon died unexpectedly), thus leaving a directory behind. Once the PID table cycles around, another job comes along with the same pid and "collides" with the leftover directory from the prior job.

The only answer to that problem is to periodically pause t

[2020-04-23 16:55] mkre commented on #7049
Thanks for your assessment!

Sure, that's not possible and I was a bit inaccurate in my post above. The same PID obviously does not have to be present at the same time.

As you explained, the root cause is abnormal terminal which causes the tmp directory to not be deleted.

Can the tmp directory be set from outside, e.g. by passing a parameter to `mpirun`? By this, we could clean only this directo

[2020-04-23 17:03] karasevb commented on #7647
@dipti-kothari could you verify please, that https://github.com/openpmix/openpmix/pull/1740 fixes this issue?

[2020-04-23 17:17] rhc54 commented on #7049
Yes - and we generally recommend people do that for precisely the cleanup problem. You can do it in several ways:

* set `TMPDIR` in the environment, though that might impact your application too
* set `OMPI_MCA_orte_tmpdir_base` in your environment or default MCA param file
* add `--mca orte_tmpdir_base <foo>` to your mpirun cmd line

The last two will only impact ORTE and not the app.

[2020-04-23 17:21] rhc54 commented on #7049
I suppose we could adapt the code a bit to help - for example, if the session directory already exists, we could probably safely assume that the PID table has cycled and we are hitting a leftover crumb, remove it, and replace it with a fresh one.

I'm not sure there really is a risk in doing so - the directory name is uniquely marked by the pid of the daemon creating it, so the only way we can hav

[2020-04-23 17:44] mkre commented on #7049
Great, I guess we'd like to look into `orte_tmpdir_base` then 👍 .

bq. I suppose we could adapt the code a bit to help - for example, if the session directory already exists, we could probably safely assume that the PID table has cycled and we are hitting a leftover crumb, remove it, and replace it with a fresh one.

I suppose that would only work if the previous job was from the same user. Otherw

[2020-04-23 18:09] rhc54 commented on #7049
Good point - still, easy to add and at least it has the potential of providing a little help. The referenced code returns an error in this case - it doesn't remove/recreate the directory. I suspect the result is that ORTE errors out. I'll check and implement a solution if it does.

[2020-04-23 18:40] rhc54 commented on #7049
Had to dig a layer or two down, but bottom line is that you are correct - so long as the "new" user has adequate permissions, the current code should do the correct thing. Thus, the underlying problem here is that it is a different user that lacks the required permissions.

Afraid there is nothing more we can do here. Setting the temp directory head and ensuring it gets cleaned out is the only rea

[2020-04-23 18:40] #7049 closed

[2020-04-23 20:26] dipti-kothari commented on #7647
I still get an error with master, ill try the patch posted by @karasevb
[code]

[2020-04-24 06:19] rhc54 commented on #7627
Not seeing this any more - chalking it up to something odd over there. Can revisit it if/when it recurs.

[2020-04-24 06:19] #7627 closed

[2020-04-24 06:21] rhc54 opened #7658 "Deprecate and warn: comm_spawn info keys"
Convert MPI_Info keys for MPI_Comm_spawn to their PMIx equivalents. Issue a deprecation warning for older inputs, showing the converted version.

[2020-04-24 06:40] mkre commented on #7049
Thanks Ralph!

[2020-04-24 13:05] awlauria commented on #7617
@ollielo @hppritcha #7650 and #7651 were merged to ompi master, you can give that a shot to see if it improves/fixes what you were seeing.

If not, we can re-open the issue.

[2020-04-24 15:18] hppritcha commented on #7617
reopen because we've not PRd back to 4.0.x yet

[2020-04-24 18:01] gpaulsen commented on #7616
@amckinstry, Thanks.  Based on the sounds of it, this should possibly drive an earlier v4.0.4 release, would you agree?

[2020-04-24 18:37] jsquyres opened #7660 "Incorrect + misleading output from --report-bindings"
A customer reported misleading / incorrect output from `mpirun --report-bindings ...` in the Open MPI v4.0.x series.  @rhc54 and I talked about this, and the customer run a few experiments with master (i.e., what will become v5.0.x).

The customer runs a SLURM cluster, and they allocate by core.  Meaning: multiple SLURM jobs may co-exist on the same server.  SLURM dutifully sets a cgroup with the

[2020-04-24 18:56] gpaulsen commented on #7617
PRed to v4.0.x (see linked PRs), Still awaiting v3.x if they're interested.

[2020-04-24 18:59] gpaulsen commented on #7311
This has been merged into v4.0.x and will be released with v4.0.4.
In Master however, the codepaths will use PRRTE, and so should be re-verified then.

[2020-04-24 19:39] cponder commented on #7311
What are you closing here? There are 2 issues now, (1) my wanting a way to run one-socket-per-node without using a hostfile, and (2) the error-message that Alex is reporting.

[2020-04-24 19:42] cponder commented on #7311
Using an existing hostfile means that I can't vary the number of nodes, right?
Or, at the very least, I can't port my run-script to another cluster without having to re-write the hostfile.

[2020-04-24 20:02] gpaulsen commented on #7311
Okay, sorry, It was unclear to what extent the PR addressed the issues.
Reopening.

[2020-04-24 20:22] dipti-kothari commented on #7647
Thank you @karasevb
I have hit another issue in master, which is not related to dmodex. I’ll test ompi/master once that issue is cleared and update it here.

[2020-04-24 21:03] rhc54 commented on #7311
We solved the problem from @alex--m.

I confess I'm still having trouble really understanding the other problem here. IIUC, what @cponder wants is to have 4 procs running on socket0 of each node. Yet I am not gathering why the following reportedly doesn't work:
[code]
Yes, it will output that the procs "are not bound", but that is because the procs are being confined to the specific cores listed h

[2020-04-24 21:47] cponder commented on #7311
Can you give me a more specific command I can try running?

[2020-04-24 22:36] rhc54 commented on #7311
Errr...well, why don't you use the above command and run a program like this:
[code]

[2020-04-25 20:53] hkuno opened #7663 "size-related MPI environmental variables not set properly"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
master, commit 6c5e57f2da12805f03716c943de5f3fc28ed8a6f

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

built from git clone

### If you are building/installing from

[2020-04-26 00:09] #7663 closed

[2020-04-27 09:35] amckinstry commented on #7616
The patch appears to be missing constants.c (not present in 4.0.3) ? Adding constants.[ch] makes the patch work.
Meanwhile my test case has disappeared, as mpgrafic in its latest version (0.3.18) had changed to avoid using the symbols. No urgency on at 4.0.4 ?

[2020-04-27 10:19] ggouaillardet commented on #7616
@amckinstry sorry for the glitch.

Indeed, since `constants.c` was missing from `Makefile.am`, it has not been included into the tarball.
`constants.h` is automatically generated when running `autogen.pl` (`autogen.pl --force` in your case since you are running from a tarball)

[2020-04-27 19:15] rhc54 commented on #6606
Let's close this - things have changed so much that this is no longer relevant

[2020-04-27 19:15] #6606 closed

[2020-04-27 19:16] gpaulsen commented on #6568
@steve-ord, We think this has been fixed back in Sept of 2019.  Closing this issue.

[2020-04-27 19:16] #6568 closed

[2020-04-27 19:16] jsquyres commented on #7616
As far as I can tell, the issue has been resolved on the v4.0.x branch.  I'm closing this issue -- let us know if we need to re-open it.

[2020-04-27 19:16] #7616 closed

[2020-04-27 19:29] #7475 closed

[2020-04-28 08:38] cponder commented on #7311
I get 16 copies of this line
[code]
and the messages
[code]

[2020-04-28 14:35] bwbarrett opened #7666 "Minimum external Libevent version for Open MPI 5.0?"
With Open MPI 5.0, we are trying to be much more aggressive about using external libevent (and hwloc) packaging, rather than our internal packages.  Currently, we prefer the internal version if the external version is older than the internal version (2.0.22).  We are trying to find the oldest version Open MPI supports to prefer external in those cases.  For testing purposes, we start with the dist

[2020-04-29 12:08] CrashLaker commented on #6130
Facing the same issue with other versions of openmpi.
My problem:
[code]
I'm running with
[code]
in `$prefix/etc/openmpi-mca-param.conf` of all nodes.

some hostfiles i've tested with:
[code]
[code]

versions:
- openhpc1.3.8
openmpi3/3.1.4 gnu8/8.3.0

- openmpi3.1.0 gnu8.3.0
- openmpi3.1.0 gnu4.8.0
- openmpi4.1.3 gnu8.3.0

openmpi4.1.3 got me this though https://github.com/open-mpi/ompi/issues/455

[2020-04-29 13:00] awlauria opened #7668 "ORTE -> PRRTE changes for users need to be documented, users educated"
From ompi email chain, sent by @rhc54:

[code]

[2020-04-29 17:31] bwbarrett commented on #7666
Copied this data to https://github.com/open-mpi/ompi/wiki/OMPI-Third-Party-Packages

Also, on the call yesterday, we decided to set the minimum version to default to external support to 2.0.21, based on this data.

[2020-04-29 17:31] #7666 closed

[2020-04-29 17:39] CrashLaker commented on #6130
nvm. can confirm these versions are working.
it was actually a bug in my code

thank you

[2020-04-29 20:20] hppritcha commented on #7580
fixed via #7661

[2020-04-29 20:20] #7580 closed

[2020-04-29 23:21] wckzhang opened #7672 "Inconsistent & Perhaps buggy dynamic tuning behavior"
Dynamic tuning files are organized in this format:
[code]

However, the actual definition of "Message size" is vague and dependent on the collective in question (https://github.com/open-mpi/ompi/blob/master/ompi/mca/coll/tuned/coll_tuned_decision_dynamic.c)

The following table represents the behavior of each collective's interpretation of "Message size"

Collective MPI Call | Message Size in coll

[2020-04-29 23:32] #7658 closed

[2020-04-30 03:41] bosilca commented on #7672
The decision is made based on two principles: use a globally known amount such that the decision is deterministic across all processes, and use an amount that is reflective of the amount of data each process is supposed to receive but without taking in account the algorithm. This explains why for allgather we use comm size (because at the end each process will need to receive that amount), but we

[2020-04-30 10:41] tugcenaz opened #7674 "Add analysegit to README"

[2020-04-30 16:39] bwbarrett opened #7676 "Master build failure on Ubuntu 20.04"
master is failing to build on Ubuntu 20.04.  I will look into what's going on, but wanted to cut a ticket so that I don't forget:

[code]

[2020-04-30 17:29] wckzhang commented on #7672
@bosilca Can you explain why datatype size * comm size is used for MPI_Gather? I don't really understand why datatype size is important without number of elements

[2020-04-30 17:48] jsquyres commented on #7674
I'm sorry, I don't know what this issue means.

Can you please clarify what you are suggesting?

[2020-04-30 19:30] tugcenaz commented on #7674
Hello,
Iam sorry was not my intention and i cant delete it.

________________________________
From: Jeff Squyres <notifications@github.com>
Sent: Thursday, April 30, 2020 7:48:37 PM
To: open-mpi/ompi <ompi@noreply.github.com>
Cc: tugcenaz <tugcenaz-46@hotmail.de>; Author <author@noreply.github.com>
Subject: Re: [open-mpi/ompi] Add analysegit to README (#7674)

I'm sorry, I don't know what this iss

[2020-04-30 19:33] #7674 closed

[2020-04-30 19:48] wckzhang commented on #7672
It's not that important whether comm size is used for each collective or not, but MPI_Gather just seems broken, can only ever tune based on collective size, not number of elements being sent

[2020-04-30 20:43] hppritcha commented on #7653
@MicroTed we just did put some fixes for fortran constants in the 4.0.x branch.  Would you mind retesting against the nightly tarball at
https://www.open-mpi.org/software/ompi/v4.0/
thanks

[2020-04-30 21:07] MicroTed commented on #7653
I will try it! Thanks!

[2020-05-01 01:52] MicroTed commented on #7653
@hppritcha  I'm sorry to report that it didn't change my result. (Using openmpi-v4.0.x-202004280241-849b560). I might see if I can try a trial version of the current ifort.

...
Hello, world, I am  3 of  4: Open MPI v4.0.3rc4, package: Open MPI ted.mansell@4354-tmansell-mp Distribution, ident: 4.0.3rc4, repo rev: v4.0.3-43-g849b560, Unreleased developer copy
WARNING: Fortran MPI_BOTTOM not recogni

[2020-05-01 03:53] MicroTed commented on #7653
For comparison, I compiled mpich 3.3.2 with the same tools, and there at least MPI_IN_PLACE appears to work correctly (it doesn't have that test subroutine, but I tested the MPI_IN_PLACE flag with a couple ALLREDUCE calls).

[2020-05-01 15:55] bosilca commented on #7672
The comm size is an extremely important tuning parameters as most of the papers highlight. But you are right, the number of elements should have been part of the gather decision.

[2020-05-01 17:27] MicroTed commented on #7615
For comparison, I tried out mpich (3.3.2) after not having used it for years. Its configure does set up -Wl, in the config.status, compared to the config.status from openmpi:

< lt_prog_compiler_wl_FC='-Wl,'
< lt_prog_compiler_wl_F77='-Wl,'
---

(It has an additional section for F77) And then the libtool has that, too. If I knew anything about the configure process, I'd try to help with that.

[2020-05-01 17:41] wckzhang commented on #7672
I do think comm size is important, but that information is already contained in the file format (since all message sizes belong to a comm size already), so it seems a little extraneous, but it's not a big deal. The datatype size * comm size we should just change, seems like a bug we should fix.

[2020-05-01 17:59] rhc54 commented on #7676
I suspect the issue is that you picked up an external HWLOC, but are trying to build with internal libevent and pmix. We only have PRRTE linked against libopen-pal, so if hwloc isn't in that library, PRRTE won't find the symbols. IIRC, if you select one of those three (hwloc, libevent, pmix) to be external, then they _all_ had to be external.

[2020-05-02 07:46] devreal commented on #7612
Is there a reason why the UCT btl is using a whitelist for UCX versions? Is it in anticipation of API breakage in the future? Or to turn the question around: is the UCT btl superseded by other components and thus safe to be dysfunctional starting with UCX 1.8.0 (or 1.9.0/2.0 if #7673 gets merged)? My concern that we will be at the exact same position with the next UCX release...

[2020-05-02 10:32] cniethammer commented on #7612
What I see in https://github.com/open-mpi/ompi/issues/7128#issuecomment-550198825 the used UCT API is not stable in this part.

[2020-05-02 15:06] jsquyres commented on #7586
Given the length of time between responses on this issue, I'm going to close it due to inactivity.

If it turns out that F18 is a production-quality compiler and/or there is a bug we should be fixing here in Open MPI, we can re-open this.

[2020-05-02 15:06] #7586 closed

[2020-05-02 16:35] jsquyres commented on #7612
@devreal @cniethammer Yes, exactly.  The UCT API is not guaranteed to be stable from release to release.  Before we whitelisted UCT versions, we were in a situation where new UCX releases broken Open MPI builds (because of the UCT BTL).  After significant debate in the community, we decided to put this whitelisting in place so that a new UCX release wouldn't break Open MPI's build -- especially wh

[2020-05-02 18:32] cniethammer commented on #7612
@jsquyres Yes, there is a `--enable-uct-version-check` option, which enables the check by default (see commit 9d345d9aa000233bec148540b071cecffc94438c).

[2020-05-03 08:29] jacksonsq97 opened #7682 "Performance drop of MPI_Allreduce (ring allreduce) as the number of containers increases"
Thank you for taking the time to submit an issue!

## Background information

Version: Open MPI from the master git branch;

Installation information: From a git clone, git submodule status
[code]

System information: docker container

* Operating system/version: Linux 4.5.7, ubuntu16, docker 19.03.8;
* Computer hardware:  Cloudlab machine c220g5; CPU Two Intel Xeon Silver 4114 10-core CPUs at 2.2

[2020-05-03 11:22] Vidyaranya opened #7683 "Getting Out of resource error"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
3.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Using it on a HPC cluster where I had to just load the open MPI module

### If you are building/installing from a

[2020-05-04 17:30] bwbarrett commented on #7676
The core problem is that as of Ubuntu 20.04, the linker has been modified so that if artifact (library or binary) A calls function B in library b, then A must add the -lb, even if it adds a -lc, where c depends on a.  In this case, prted is making hwloc calls, but depending on libopen-pal.so to pull in the hwloc dependency.

It looks like I've accidentally fixed this in my branch, so we don't have

[2020-05-04 18:29] jjhursey opened #7686 "Cleanup PGI Compiler Warnings"
Mentioned in [this](https://github.com/open-mpi/ompi/pull/7685#issuecomment-623537164) thread the PGI compiler is throwing some warnings around the atomics code on `ppc64le`:
[code]

We should sweep through and clean those up.

[2020-05-04 21:03] rhc54 commented on #7647
@dipti-kothari \<poke\> have you verified this is fixed?

[2020-05-04 21:05] rhc54 opened #7688 "Update/write mpirun man page"
Needs to reflect ORTE -> PRRTE changes.

Corresponds to https://github.com/openpmix/prrte/issues/450

[2020-05-04 21:06] rhc54 opened #7689 "Provide new manpage on mapping/ranking/binding"
Cover all the PRRTE variations

[2020-05-04 21:15] rhc54 opened #7690 "btl/smcuda using NUMA nodes"
NUMA nodes don't really mean what they used to mean - as a result, "get_location" will almost always return that the process is "on" multiple NUMA nodes. The algorithm needs to be updated to look at some other indicator for locality.

[2020-05-04 21:19] rhc54 opened #7691 "btl/usnic using NUMA nodes"
NUMA nodes have changed a great deal in recent years - you may need to update the code in btl_usnig_hwloc.c to use some other means of determining locality.

[2020-05-04 21:24] rhc54 opened #7692 "btl/ugni using incorrect topology"
In `mca_btl_ugni_init`, a decision on the number of virtual devices to use is based on getting the number of cores on the node. However, HWLOC will return that value based on the number of cores available to the PRRTE daemon - which is _not_ the same as the number of cores available to the application. For example, the user may have specified a cpuset (a.k.a., "soft" cgroup) that only applies to t

[2020-05-04 21:25] rhc54 opened #7693 "btl/uct using wrong topology"
In mca_btl_uct_component_open, a decision on the number of contexts to use is based on getting the number of cores on the node. However, HWLOC will return that value based on the number of cores available to the PRRTE daemon - which is _not_ the same as the number of cores available to the application. For example, the user may have specified a cpuset (a.k.a., "soft" cgroup) that only applies to t

[2020-05-04 21:37] awlauria opened #7694 "master: code in opal will try to bind in non-mpirun scenerio"
For example - with prun.

This code needs to be refactored or removed entirely.

[2020-05-04 21:38] awlauria commented on #7694
@jsquyres @rhc54 the issue discussed earlier today. If I worded it incorrectly, or it needs more detail, feel free to update.

[2020-05-04 21:43] rhc54 commented on #7694
I don't think we know if this is true - my point was only that we did this at one time and it should be checked and removed if still present. IIRC, it was actually done in ORTE, so it may no longer be relevant.

[2020-05-04 21:45] rhc54 opened #7695 "OMPI_Affinity_str and friends need to be updated"
They are using the OPAL output code, which we are replacing with PRRTE code. I'm not sure if you can link it across or if you just want to copy/paste the PRRTE code (when done) to replace that in OMPI/OPAL.

[2020-05-04 22:11] jsquyres commented on #7694
Just to be clear -- I volunteered for #7695, not this one.  😉

[2020-05-05 00:40] awlauria commented on #7694
ok - is this still a valid issue or should be closed in favor of #7695?

[2020-05-05 01:16] jjhursey commented on #7486
I think this needs to be a blocker for v5. Otherwise, I don't know how you compile in support for things like Slurm and LSF into PRRTE from the OMPI configure.

This fell off my radar, but I'll try to get to it this week.

[2020-05-05 09:34] devreal opened #7697 "Argobots: Missing _Atomic qualifier in threads_argobots_mutex.c"
I tried building the Argobots integration with the current Clang trunk while testing #7675. Clang seems to be more strict about the `_Atomic` qualifier than GCC so the build fails:

[code]

[2020-05-05 14:43] jsquyres commented on #7694
@awlauria It needs to be checked.

[2020-05-05 15:51] gpaulsen commented on #7486
Brian said to wait until the branch he posts later today.

[2020-05-05 16:48] gpaulsen commented on #1401
Updating milestone to v6.0.0 now that that has been created, but we should re-evaluate it at that time.

[2020-05-05 19:07] goduck777 commented on #6823
I found this error seems to show up again in recent version.

I got the same error message as @rodarima a few month ago. After I downloaded the daily snapshot of openmpi v4.0.x source package and compiled it, the problem was solved then.

However, recently I tried to run my code on another cluster. I downloaded a more recent daily snapshot and compiled the code, but found the error reappeared. The

[2020-05-05 19:36] jeorsch commented on #7642
Another hang! This time two MPI jobs crashed.
First crahed job's backtrace (printed by 2/4 ranks):
[code]
Second crashed job's backtrace (printed by 1/2 ranks):
[code]
I don't know how to translate these backtraces to code lines since I do not not the addresses of the shared objects that the chrashed processes used. Any hints how to do this?

Again, there is an additional MPI job that hangs foreve

[2020-05-06 12:40] mwheinz opened #7699 "PSM2: Call add_procs through PML"
Shamelessly cribbed from Brian Barrett's issue #7571 - Update PSM2 MTL to use the correct add_procs call.

[2020-05-06 12:40] mwheinz commented on #7699
Catching up on my backlog.

[2020-05-06 13:37] mwheinz opened #7700 "PSM2 is not compiling with OMPI master"
master can't compile the PSM2 transport due to a missing #define. This is apparently related to the replacement of ORTE with PRRTE.

At the moment, it's only a single #define, but I'm still looking into it.

[2020-05-06 13:40] philippkraft opened #7701 "[Fixed in PMIx v4.2.7 and PRRTE v3.0.1] mpirun issues the warning "no protocol specified""
Thank you for taking the time to submit an issue!

## Background information
I have updated a machine to Ubuntu 20.04 LTS which involved an update to OpenMPI 4.0.3. When starting something with mpirun I get a message in stderr "no protocol specified". This has not happened in earlier versions. I do not find any information on this warning in the documentation or elsewhere in the web.

I am running

[2020-05-06 13:41] dipti-kothari commented on #7647
@rhc54 I have verified the fix, it works. Closing the issue

[2020-05-06 13:41] #7647 closed

[2020-05-06 14:36] devreal opened #7702 "Argobots integration vs UCX PML"
I tried to run a rather simple benchmark (`osu_latency_mt` ported to use Argobots) to test the Argobots integration on an IB cluster using UCX. It appears that the UCX PML does not use the sync objects in blocking operations but instead hammers the UCX library, with occasional calls to `opal_progress`. Of course, there will never be a switch to another argobot in that case, causing deadlocks if th

[2020-05-06 15:28] naughtont3 opened #7703 "nolocal option not working w/ master"
The "nolocal" option is not excluding the local machine when passed to `mpirun`.  This is on master.  The `--nolocal` gets noted and translated to the newer `--map-by :NOLOCAL`, but the actual mapping does not work to exclude the local node.

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

-  ompi master @ b66e27d

###

[2020-05-06 16:08] hppritcha commented on #7702
@shintaro-iwasaki - how did you handle this in MPICH?

[2020-05-06 16:19] shintaro-iwasaki commented on #7697
Thanks for your report. I will fix it soon.

[2020-05-06 16:30] shintaro-iwasaki commented on #7702
In MPICH, all the possible busy-wait calls in the MPICH runtime call a yield function (i.e., `ABT_thread_yield()` for Argobots or `sched_yield()` for Pthreads). Blocking system call might be problematic in Open MPI, though I haven't encountered this issue in MPICH.

There are a few pieces to fix:

#### libevent
We should need ULT-aware (in this case, Argobots-aware) libevent, which has been droppe

[2020-05-06 17:16] mwheinz opened #7704 "Master does not appear to respect the --allow-run-as-root option."
When building from the tip of the master branch, it does not seem to respect the --allow-run-as-root option:

[code]

[2020-05-06 21:48] #7704 closed

[2020-05-06 21:56] rhc54 commented on #7703
FWIW: I have this fixed, but it is mixed in with the branch addressing the binding issues. Will commit it when I get that branch working properly.

[2020-05-06 23:46] jsquyres commented on #7642
Can you provide simple reproducers for either or both of these problems?

Per your question above: there isn't a good way to map the addresses to individual line numbers.  If you are compiling Open MPI yourself, you can add in `-g` to the CFLAGS, and that should then show line numbers in core dumps.

[2020-05-07 02:03] #7700 closed

[2020-05-07 13:59] naughtont3 commented on #7703
@rhc54 was PR openpmix/prrte#546 that branch, or something still pending?  i pulled openpmix/prrte#546 and updated prrte master and still see issue.  I guess I should have filed this in runtime repo (prrte), sorry about that.

[2020-05-07 14:11] #7519 closed

[2020-05-07 14:27] jeorsch commented on #7642
Unfortunately, I cannot provide a reproducer since the problem only occurs every few days while everything works fine in the meantime. IMHO the vader BTL probably runs into a race condition when multiple MPI jobs are running simultaneously. However, I also tried to explicitly stress the system with many simultaneous jobs to trigger the error, but this was not successful. Now, I will try, if can re

[2020-05-07 14:45] naughtont3 commented on #7703
@rhc54 does your other branch also have dash-host mapping edits?  Asking to know if I should look further into openpmix/openpmix#1750 related to `--host` issue on node assignment.

[2020-05-07 14:46] abouteiller opened #7710 "tag-output and timestamp-output have no effect"
## Background information

Running
[code]

Expected behavior would be for lines to be prefixed like so (as in v4.0.2)
`Thu May  7 10:39:20 2020[1,1]<stdout>:Hello, World, I am 1 of 8`

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

0dce61b1fc (master,     Merge pull request #7679 from rhc54/topic/nm)

### Describe how Open MPI was installed (e.g

[2020-05-07 14:47] rhc54 commented on #7703
I haven't fixed it yet, but I have identified the issue and laid out what has to happen. Unfortunately, it involves things that are in the middle of what I'm currently touching, and so it will have to wait a bit until I get the binding stuff done.

[2020-05-07 14:51] naughtont3 commented on #7703
Thanks @rhc54!  No rush, I just wanted to know if i should check on things before telecon today. I did notice that will error out now with latest prrte, which is better to make sure does not silently pass. Thx!

[2020-05-07 15:59] abouteiller opened #7711 "Regression with SPAWN not inheriting oversubscribe flag."
## Background information

MPI_COMM_SPAWN will report 'not enough slots' when spawned from a job for which `mpiexec -n 8 --map-by :oversubscribe` has been provided.

This is probably a regression to issue #6130 due to the fact that the associated corrective PR #5968 did not get propagated to PRRTE.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

[2020-05-07 19:17] naughtont3 commented on #7689
See also:
 - https://github.com/openpmix/openpmix/pull/1752

[2020-05-07 19:23] jsquyres commented on #7689
@naughtont3 Agreed!  The goal would be to able to write this new man page in markdown, not nroff.

[2020-05-08 16:23] mwheinz opened #7715 "Remove osc/pt2pt from OMPI master"
The only remaining use for the pt2pt transport is to get one-sided messaging when using OPA. Removing it is in preparation for supporting the use of the OFI BTL as a replacement.

(Other pieces will include adding reference counting to the PSM2 library to allow multiple transports to open the library and checking for the reference counting capability when initializing the PSM2 MTL.)

[2020-05-08 16:40] awlauria commented on #7715
This PR to remove it is open:

https://github.com/open-mpi/ompi/pull/7621

[2020-05-08 16:42] mwheinz commented on #7715
Doh! You're right. I'd forgotten.

[2020-05-08 16:42] #7715 closed

[2020-05-10 08:23] cniethammer opened #7717 "--map-by with PE=n not working"
I see this issue with Open MPI 4.0.3 installed with pure `./configure --prefix=... --enable-shared --enable-static` under Centos 8 running on a dual socket  AMD EPYC 7742 64-Core Processor or single CPU Intel I5-8350U system.

The logic of `--map-by`, `PE=n`, and `--bind-to` does not work as intended.

The `man mpirun` example for the usage of `--map-by`includes the following:
[code]

However runn

[2020-05-11 03:54] umusa opened #7719 ""no enough slots available " error of running openMPI on linux clusters"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

https://download.open-mpi.org/release/open-mpi/v4.0/openmpi-4.0.3.tar.gz

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package,

[2020-05-11 15:02] #7697 closed

[2020-05-11 15:05] hppritcha commented on #7692
I'm removing the blocker label on this issue as the intersection in terms of users between
- those using Open MPI on cray systems
- using a cpuset on Cray XC's (not even sure cray XCs are typically configured to allow users to do this)
is, if not zero, certainly very small.

[2020-05-11 17:07] mwheinz opened #7721 "Add check for PSM2 reference counting to PSM2 MTL"
As discussed, a feature is being added to libpsm2 to correctly handle the case where the library is opened by multiple OMPI transports in the same process. (For example, the OFI BTL and the PSM2 MTL).

[2020-05-11 22:04] awlauria commented on #7626
@rhc54 I was able to reproduce this.

What I found was that the output shown in the original ticket (which happens on aws, not ibm machines):

- hangs with UCX
- and the above wrong answer when using `--mca pml ob1`.

[2020-05-11 22:17] rhc54 commented on #7626
It is true that this report was for Amazon - but the ones shown here (https://github.com/open-mpi/ompi/issues/7639) are for IBM.

[2020-05-11 23:25] rhc54 commented on #7719
Really cannot answer your question without knowing what is in your hostfile. The error is telling you the problem - mpirun believes that not enough process slots have been allocated on your nodes to execute the number of processes you requested.

[2020-05-12 00:04] ggouaillardet commented on #7719
FWIW, the very same question was already asked on Stack Overflow https://stackoverflow.com/questions/61723369/no-enough-slots-error-of-running-open-mpi-on-databricks-cluster-with-linux

[2020-05-12 00:17] rhc54 commented on #7719
@umusa Please don't do that - it wastes the time of multiple people. We'll let you get the answer over there

[2020-05-12 00:17] #7719 closed

[2020-05-12 04:44] umusa opened #7723 ""No route to host" Error of running Open MPI on databricks clusters"
Sorry for the previous question, which was not presented well.

I have downloaded
        https://download.open-mpi.org/release/open-mpi/v4.0/openmpi-4.0.3.tar.gz
and installed on databricks cluster.

      Operating system/version: Linux 4.4.0 Ubuntu
      Computer hardware: x86_64
       Network type: databricks

The cluster has 3 nodes:

      Driver node: 8 cores
      two worker nodes: each h

[2020-05-12 05:45] ggouaillardet commented on #7723
Nodes must be able to SSH passwordless to each other (among other things)

The error message suggests you have firewall(s) preventing SSH connections.

Is `mpirun` running on `DRIVER_NODE_IP`?
In that case, it looks odd `mpirun` basically tries to ssh to itself.

[2020-05-12 05:49] umusa commented on #7723
yes, mpirun running on  DRIVER_NODE_IP.

[2020-05-12 05:55] ggouaillardet commented on #7723
It is fine to have `DRIVER_NODE_IP` in your hostfile, but I am puzzled why `mpirun` tries to ssh to itself (instead of simply forking the MPI tasks). Anyway, first fix your SSH/firewall issue and see how it goes.

Let's do it one step at a time :
 - `sudo ssh DRIVER_NODE_IP hostname`
 - `sudo ssh ONE_WORKER_NODE_IP hostname`
and when it works
 - `sudo mpirun --allow-run-as-root -np 25 --hostfile m

[2020-05-12 06:14] umusa commented on #7723
I run the command from python notebook on databricks.

    %sh
     sudo ssh -T DRIVER_NODE_IP

I got:
      ssh: connect to host 10.71.82.129 port 22: No route to host

[2020-05-12 06:27] umusa commented on #7723
I have restart the cluster and try it again.

I got:

       Host key verification failed.

[2020-05-12 06:32] umusa commented on #7723
I also run

    ping  DRIVER_NODE_IP

it works. But,
      ping ONE_WORKER_NODE_IP

does not work.

it seems that all nodes cannot talk to each other.

[2020-05-12 06:51] ggouaillardet commented on #7723
This is infrastructure related and you have to figure it out by yourself.
When this is working and you are still facing some Open MPI issue, you are welcome to follow up here.

[2020-05-12 12:05] devreal opened #7724 "Error: option pandoc requires an argument"
I just pulled current upstream `master` into my fork, updated all submodules, and found the build breaking:

[code]

The error I'm getting seems to come from the prrte submodule:
[code]

Pandoc isn't installed on that system and I haven't bothered installing it myself. A previous fork (sometime mid April) accepted the `--disable-man-pages` flawlessly.

The Open MPI repo stands at `3078485eee5b5153

[2020-05-12 13:05] awlauria commented on #7639
environment/abort takes about 5 minutes real time, but mtt kills it after 30 seconds.
environment/finalize takes about 4-5 seconds, but mtt kills it after 4.

These timeouts just need adjustment.

[2020-05-12 13:15] rhc54 commented on #7724
Problem is that we haven't yet linked the OMPI-level configure flags to the PRRTE and PMIx level configure, and thus those levels are not getting the `--disable-man-pages` option passed down to them.

[2020-05-12 14:39] jsquyres commented on #7724
Yeah, sorry @devreal -- the Pandocification hasn't made it up through the Open MPI submodules yet...

In the meantime, note that you can get a static Pandoc Linux binary from https://github.com/jgm/pandoc/releases/tag/2.9.2.1 (i.e., the pandoc-2.9.2.1-linux-amd64.tar.gz
 tarball contains a Pandoc Linux binary).

[2020-05-12 16:06] jladd-mlnx commented on #6941
@janjust - Tommy, is this issue resolved with your latest UCX OSC global table refactor https://github.com/open-mpi/ompi/pull/7681? Ca we close this?

[2020-05-12 16:08] awlauria opened #7725 "Support HWLOC < 2.0"
It has been determined that OMPI 5.0 needs to support HWLOC versions < 2.0 based on this 3rd party package support list:

https://github.com/open-mpi/ompi/wiki/OMPI-Third-Party-Packages

Work needs to be done to make sure master/5.0 supports this. We also need to add testing infrastructure to MTT/CI for this as well.

[2020-05-12 16:45] mwheinz opened #7726 "MTLs are inappropriately calling exit() or abort()"
As a part of discussing #7699, it was pointed out that there are several error paths in the OFI MTL that call exit() and several in the Portals MTL that call abort(). These are inappropriate and need to be rethought, possibly replacing them with calls to ompi_rte_abort().

[2020-05-12 16:48] jsquyres commented on #7725
Specifically:
* Amazon Linux uses hwloc v1.7
* Several Linux distros use hwloc v1.11

[2020-05-12 17:14] bosilca opened #7727 "UCX MTL performance degradation"
I noticed a drastic performance degradation with UCX PML on our small test platform, 8 Linux nodes ConnectX-4.

## Background information
Master was based on 3a036f8486605a plus the patch to allow UCX 1.8 to be used. I compare 4.0 vs master with different UCX version. In all cases I placed one process per node using --map-by.

The outcome can be seen in the graph below. The 4.0 with UCX PML (line

[2020-05-12 18:14] karasevb opened #7728 "mpirun was unable to start the specified application as it encountered an error code: 63"
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
master, v4.0.x and possibly older

### Please describe the system on which you are running

* Operating system/version: Red Hat Enterprise Linux Server 7.6
* Computer hardware: AMD EPYC 7702

-----------------------------

## Details of the problem
Starting mpirun at single node results in the follow

[2020-05-12 18:33] rhc54 commented on #7728
Seems reasonable

[2020-05-12 19:16] jsquyres commented on #7724
@devreal I'm actually unable to replicate this issue with today's master:

[code]

Can you verify with these (or later) versions?

[2020-05-12 19:23] devreal commented on #7724
@jsquyres For me the latest commit on master is `3078485`

[code]

That is also what I see on https://github.com/open-mpi/ompi/commits/master. I don't see the commit you mention (`g3078485eee`). Strange

[2020-05-12 19:28] jsquyres commented on #7724
That's the same commit.

`git describe` puts an extra `g` before the hash: `v2.x-dev-7777-g3078485eee` == git hash 3078485eee.

Looking at earlier comments on this PR, I see you mentioned 3078485eee earlier -- sorry.  But you're at a different prrte commit than master currently is: you're at https://github.com/openpmix/prrte/commit/7389e17c5dd4ea7c07198267ab4a5260bc6e5bba, but master is at https:/

[2020-05-12 19:30] devreal commented on #7724
Ah darn, should have paid more attention... I have run `git submodule update` mutliple times, yes. Will try again...

[2020-05-12 20:05] devreal opened #7729 "Bind-to core and socket show same binding, but actual binding seems different"
I am trying to run an MPI/OpenMP application with flexible configurations regarding number of processes per node / number of threads per process. The cluster has Haswell dual-socket nodes, 12 cores each, 24 in total. I'm running in interactive sessions for now, with the node running mpirun being one of the compute nodes.

I started with a simple example: mapping one process per node, assigning it

[2020-05-13 00:09] goduck777 opened #7731 "Request to reopen #6823"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.x daily build

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From source tarball

### Please describe the sy

[2020-05-13 00:12] rhc54 commented on #7731
Does it show up on the nightly tarball from OMPI master?

[2020-05-13 00:22] goduck777 commented on #7731
Yes, I tried openmpi-v4.0.x-202005050241-3b600b8, and the error is still there.

[2020-05-13 02:02] rhc54 commented on #7731
That is the nightly tarball from the 4.0.x branch - I'm talking about master:
https://download.open-mpi.org/nightly/open-mpi/master/openmpi-master-202005120242-3078485.tar.bz2

Could you please test that one?

[2020-05-13 02:51] goduck777 commented on #7731
sorry I missed word "master". I have tested it and can confirm there is no problem with master branch.

However, master branch is not compatible with PMIX installed on my cluster. I hope it can be fixed in 4.0.x branch.

[2020-05-13 03:12] rhc54 commented on #7731
It helps to know where to look for the difference, so thanks for confirming master is good.

What version of PMIx is on your cluster? OMPI v4.0.x is using PMIx v3.1.5 internally, and (barring some mistake) OMPI master should support that level.

[2020-05-13 03:49] goduck777 commented on #7731
It is PMIx 1.x. I'm not sure if it is PMIx's problem, but I can only use mpirun by specifying hostfile, otherwise it will give error.

[2020-05-13 06:09] rhc54 commented on #7731
I see - yes, that is a very old PMIx. Are you building OMPI v4.0.x against that PMIx?? If so, that may well be a significant part of the problems you are experiencing. Please ensure that you are using OMPI's internal PMIx and not the external PMIx 1.x version.

When you are trying to run `mpirun` without a hostfile, what RM are you using? Slurm, JSM, ??

[2020-05-13 07:39] devreal commented on #7729
Here is the binding Open MPI reports vs the binding `numactl` reports:

With `--bind-to socket`:

[code]

With `--bind-to core`:

[code]

My guess is that the rank on the node running `mpirun` has the correct binding, the others are bound to the first core only.

[2020-05-13 07:48] yosefe commented on #7727
@bosilca can you pls post the command lines for the test runs?

[2020-05-13 13:47] bosilca commented on #7727
```mpirun --np 2 --map-by node --mca pml ucx ./NPmpi```
```mpirun --np 2 --map-by node --mca pml ob1 --mca btl uct,self ./NPmpi```

[2020-05-13 14:02] saareliad opened #7733 "synchronize cuda-aware streams"
## Background information

* v4.0.3
* installed from source (tar)
* cuda aware mpi
* cuda 10.2

* This is not a system problem, but suspected behavior/implementation issue in cuda-aware MPI. it will happen on all systems
-----------------------------

## Details of the problem

Inside cuda-aware MPI ([here](https://github.com/open-mpi/ompi/blob/e9e4d2a4bc4ca34d8f426a5f175e3a9eabe50a66/opal/mca/com

[2020-05-13 14:43] #7699 closed

[2020-05-13 14:43] #7240 closed

[2020-05-13 14:47] goduck777 commented on #7731
No, I am building OMPI using internal PMIx.

I am using Slrum.

[2020-05-13 15:05] rhc54 commented on #7731
If Slurm's PMIx support is being built against the old PMIx v1.x release, then that is the reason why you have to use the hostfile. The compatibility chart [here](https://pmix.org/support/faq/how-does-pmix-work-with-containers/) shows what is supported.

Any chance you can configure Slurm to use PMIx v3.1.5 instead? Would allow you to run OMPI with both `srun` and `mpirun`.

Won't impact your orig

[2020-05-13 15:14] goduck777 commented on #7731
I agree that building a new slurm will solve this issue. However, I am only a user of the cluster and don't have admin right, so I guess it is not possible for me. The admins don't want to upgrade in case it will break the system.

[2020-05-13 15:21] goduck777 commented on #7731
I don't think srun support spawning a new process, or does it?

[2020-05-13 15:26] rhc54 commented on #7731
I don't believe so, no.

[2020-05-13 17:58] devreal commented on #7724
The system I was testing this on is offline until further notice so it seems like I won't be able to check the commit hashes anytime soon. I think this is a potential source of error though if things break because I forgot to `git submodule update` after a `git pull`. Could the `autogen.pl` check that the correct submodule commits are available?

[2020-05-13 20:13] bosilca commented on #7733
MPI implementors, and OMPI developers in particular, have been talking for quite some time about similar concepts, but without converging to a suitable solution.

First of all, I think there is a misunderstanding on how OMPI uses CUDA streams internally. To be precise, we use streams in some cases, but not necessarily all the time, and these streams might be bound to one side on a send/recv commun

[2020-05-13 21:04] sjeaugey commented on #7733
@saareliad this is one of the key difference between MPI and NCCL. However, there are pros and cons on both sides.

To be able to guarantee the example George mentioned above would work, the MPI calls would need to become CUDA stream oriented, <b>in both directions</b>. You'd need MPI operations to be blocked from making progress until the stream is ready, and you would need all subsequent operati

[2020-05-13 21:09] janjust commented on #7727
@bosilca @yosefe @jladd-mlnx  , just fyi, I measured on our thor (x86) system I'm not observing the same behavior.
[code]
![image](https://user-images.githubusercontent.com/3287332/81865913-17e5de00-9534-11ea-922c-c7789c3edb1f.png)

[2020-05-13 22:27] #7727 closed

[2020-05-13 22:27] bosilca commented on #7727
I confirm, UCX 1.8.1 with master (9996b9f) seems to work just fine again.

[2020-05-14 04:16] woodlgz opened #7736 "specific logic cpu binding in rankfile not working"
**Background Infomation**
 openmpi 4.0.1 installed from a tarball.
 linux platform
 lscpu output:
[code]
**Detail**
I am testing openmpi rankfile functionality in a linux container, only some cpu cores are available for binding (container
 created with cpu-set 1,2,3,4,5,6,7,8,9,10,13,14,15,16,17,33,34,35,36,37,38,39,40,41,42,45,46,47,48,49
).
consider the following rankfile
[code]
and I issued a j

[2020-05-14 13:31] abouteiller opened #7737 "Open MPI MCA Param file not applied."
Changing MCA parameters through openmpi-mca-params.conf does not work (no effect). It shows in ompi_info, though.

## Details of the problem

`$installdir/etc/openmpi-mca-params.conf` file changes are not applied to MPI processes.

File has been modified so that `$installdir/bin/ompi_info` reports such changes

[code]

Running `$installdir/bin/mpirun -n 3 --omca pml_base_verbose=10 hello` reports

[2020-05-14 17:45] hppritcha commented on #7676
I'm seeing similar behavior on my ubuntu vm, but with libevent.
No problem building prrte standalone:
[code]
built within OMPI:
[code]
I'm using Ubuntu 18.04

[2020-05-14 20:24] abouteiller opened #7738 "mpiexec -wdir and other MPI standard options are reported deprecated"
`mpiexec -wdir` is reported as deprecated, in favor of `--wdir`.

This is problematic because the MPI standard, in "Chapter 8.8 Portable MPI Startup" states that mpiexec is optional, but if mpiexec is provided, it must be of a fixed form that accepts standardized arguments exactly (then provides a list of arguments that correspond to the MPI_INFO that are standardized to pass to MPI_COMM_SPAWN).

[2020-05-14 22:35] markalle commented on #7738
I'm not sure specifically about ```-wdir```; my reading of the standard makes it sound optional.  I do however see ```mpirun -configfile``` that doesn't look optional, so that may be an argument against the universal ban on single hyphen long command line options.

OMPI doesn't support command line option aggregation, eg interpreting ```-abc``` as ```-a -b -c``` so I think the argument for banning

[2020-05-14 23:35] bosilca commented on #7738
It does say “must be”, which does not sound optional to me. However, these restrictions only seems to apply to mpiexec, and not to any other means of starting up (aka. not to mpirun).

[2020-05-15 00:24] abouteiller commented on #7738
Agreed, that is only for `mpiexec`.

[2020-05-15 00:48] beew opened #7739 "some tests failed"
Thank you for taking the time to submit an issue!

## Background information
compile open-mpi from source, build success with no issue but some tests failed

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
4.0.1, 4.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system dis

[2020-05-15 01:08] jsquyres commented on #7739
@beew I have found that this happens if you have an installed Open MPI that can be found in your PATH / LD_LIBRARY_PATH when you run `make check`.  I.e., the Automake `make check` infrastructure gets confused between which library it should use, and chooses the wrong one.  Things go downhill from there.

Can you verify that you do not have any other Open MPI in your PATH / LD_LIBRARY_PATH when you

[2020-05-15 01:25] rhc54 commented on #7738
Just remember - we simply link `mpirun` to `mpiexec`. We don't differentiate between them.

[2020-05-15 01:28] rhc54 commented on #7738
Should also point out that of the options listed above, we only support `wdir` and `path`. So if we are saying we have to support the others, then we have a problem.

[2020-05-15 04:33] beew commented on #7739
Hmmm.. this is funny

I have installed 4.0.1 in /opt and prepend it to $PATH and $LD_LIBRARY_PATH. Commenting it out and recompile now make check works for both 4.0.1 if configure with no option or --with-cuda, or with --mpi-cxx but not both

for 4.0.2 make check failed even only enable-mpixx

But make check again failed for both with same errors if configure with --enable-cuda and --enable-mpi-cx

[2020-05-15 06:50] devreal commented on #7724
I pulled current master and all submodules (`git submodule update --remote`) this morning and I'm seeing the exact same issue. OMPI is `v2.x-dev-7783-g9996b9f`, prrte is `dev-30566-g3f7a91e`.

[2020-05-16 06:05] leofang commented on #7733
Hi, we also discussed this issue a while ago when attempting to revise the `__cuda_array_interface__` protocol on the Python side, see https://github.com/numba/numba/pull/5162. (It's a protocol that many Python GPU libraries support, including mpi4py and PyTorch.) I thought in Open MPI `cuStreamSynchronize` or `cuEventQuery` is always called to sync the internal streams before an MPI call is retur

[2020-05-16 06:46] Akshay-Venkatesh commented on #7733
This isn't true. MPI implementations are expected to honor MPI semantics and this doesn't require synchronizing internal streams.  The choice of how to treat internal streams and how MPI semantics are guaranteed are independent. As an example, for performance reasons a call to MPI_Isend would try not to synchronize on an internal stream that was, say, used to initiate inter-GPU data movement. If a

[2020-05-16 14:16] karasevb opened #7742 "`mpirun` failed with `--map-by core`"
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
git clone -b v4.0.x ...

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
./configure --prefix=`pwd`/install
make install

### Please describe the system on which you are running

* Operating syst

[2020-05-16 21:00] rhc54 commented on #7737
Fixed by https://github.com/open-mpi/ompi/pull/7744

[2020-05-16 21:00] #7737 closed

[2020-05-16 21:31] rhc54 commented on #7729
Please give it a try with the latest head of master and let me know if the problem persists.

[2020-05-17 12:54] saareliad commented on #7733
@bosilca , I have 2 suggestions. (1) why not pass multiple (optional) streams to MPI?
if the user won't pass anything - do default (current) behavior. Otherwise, use user's streams.

It would also allow additional level of control we currently miss. For example, for intra-node communication, its sometimes useful using streams with different priorities.

Let's say we implement the `Isend` example i

[2020-05-17 14:21] dalcinl commented on #7733
@saareliad Have you guys ever though about using `MPI_Send_init()` and then `MPI_Start()` the (persistent) MPI request on an event callback [using `cudaLaunchHostFunc()`]? This approach should at least fix the issues on the sending side.

PS: Do not forget to explicitly free the request after waiting for it.

[2020-05-18 00:35] yongjun67 opened #7746 "OpenMPI cuda aware wrong result"
I am developing FDTD code on  GPU. I tried to use OpenMPI cuda ware option to send and receive data between GPUs.

First try: Copy data from GPU to CPU, call MPI_Isend and MPI_Irecv to send and receive data. Copy data from CPU to GPU. The result is correct.

Second try: Directly call MPI_Isend and MPI_Irecv to send and receive data between GPU. The result will diverge after some times.

It looks l

[2020-05-18 04:16] bosilca commented on #7746
Do you wait for completion of your nonblocking calls ?

You might want to take a look at
https://github.com/open-mpi/ompi/issues/7733 to understand some of the
potential issues while mixing MPI and CUDA.

  George.

On Sun, May 17, 2020 at 8:36 PM yongjun67 <notifications@github.com> wrote:

[2020-05-18 04:19] yongjun67 commented on #7746
Hi George,

Thanks for your reply. Yes, we always use MPI_Wait for no blocking mpi calls.

Yongjun

[2020-05-18 04:26] bosilca commented on #7746
And you always wait for a CUDA event on the kernel that generates the data before your MPI_Isend ? Is there any way you can post some kind of reproducer here ?

[2020-05-18 04:55] yongjun67 commented on #7746
Hi George,

Below is my code example

	kernelPrepadata <<< >>>( ... )

	if( id == 0 )
	{
		tag = 1;
		MPI_Isend( sendBufDev, iBufSize, MPI_FLOAT,
			1, tag, MPI_COMM_WORLD, &request[0]);

		tag = 2;
		MPI_Irecv( recvBufDev, iBufSize, MPI_FLOAT,
			1, tag, MPI_COMM_WORLD, &request[1]);
	}
	else
	{
		tag = 2;
		MPI_Isend( sendBufDev, iBufSize, MPI_FLOAT,
			0, tag, MPI_COMM_WORLD, &request[2]);

		t

[2020-05-18 05:30] bosilca commented on #7746
The CUDA kernel submission being asynchronous you need to synchronize your stream in order to access the updated (the correct) content of your buffers during the MPI call. Otherwise, your kernel and the MPI call will execute concurrently, and MPI might send that has not been updated yet. This is exactly what is under discussion in the other thread I pointed to.

[2020-05-18 05:32] yongjun67 commented on #7746
Thanks. I will try.

[2020-05-18 08:24] saareliad commented on #7733
It seems like a good idea at first, but I briefly checked now, it seems problematic (see [1](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__EXECUTION.html#group__CUDART__EXECUTION_1g05841eaa5f90f27124241baafb3e856f), [2](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__STREAM.html#group__CUDART__STREAM_1g74aa9f4b1c2f12d994bf13876a5a2498)):
"Note that as specified by cudaS

[2020-05-18 15:47] #7711 closed

[2020-05-18 16:28] sjeaugey commented on #7733
@saareliad tying an MPI communicator to a CUDA stream is something we explored and as I mentioned in my comment above, the main problem is on the receive side. Blocking the progress of an MPI_Isend based on a CUDA stream wouldn't be too hard. But blocking a CUDA stream on an MPI_Irecv is a much harder thing to do. And it would be weird to provide a CUDA-oriented mechanism that only works in a sing

[2020-05-18 16:32] rhc54 commented on #7639
I'm not seeing that behavior - abort exits in just a couple of seconds. Is that a behavior specific to IBM? FWIW: 5 minutes to execute MPI_Abort is an unacceptable amount of time.

[2020-05-18 16:47] #7710 closed

[2020-05-18 17:19] yongjun67 commented on #7746
Hi George,

The issue was solved. Thank you very much for your help.

Yongjun

[2020-05-18 17:19] #7746 closed

[2020-05-18 18:13] jsquyres commented on #7739
I cannot reproduce the problem with `--enable-mpicxx` and `make check`.

The next step would likely be to run the test manually and see if you can reproduce the problem.  If you can, triple check that you're linking against the shared libraries that you think you are linking against.

[2020-05-18 19:07] gpaulsen commented on #7285
I'm working on figuring this out too, so any additional ideas, please post here.  I'll make this happen one way or another hopefully this week!

[2020-05-19 00:13] beew commented on #7739
Hi, how do I check which libraries it links against other than changing LD_LIBRARY_PATH?

[2020-05-19 01:30] jsquyres commented on #7739
If you're on Linux, use the `ldd` command.  For example:

[code]

[2020-05-19 17:24] yongjun67 opened #7752 "OpenMPI warning message"
I built OpenMPI with LSF support. When I ran OpenMPI on a machines that LSF library was not set in LD_LIBRARY_PATH, I got the following warning message:

mca_base_component_repository_open: unable to open mca_plm_lsf: libbat.so: cannot open shared object file: No such file or directory (ignored)

If I set LD_LIBRARY_PATH, then I will not see the message.

How can I avoid this message output?

Than

[2020-05-19 19:44] jsquyres opened #7753 "common_ofi fails to compile with Libfabric v1.5"
When building Open MPI master with Libfabric v1.5, I get the following compile error:

[code]

Either this needs to be protected with `#if`s, or we need to set a lower bound on what versions of Libfabric Open MPI will support (and fail during configure if Libfabric is too old).

Personally, I would prefer to keep supporting older Libfabric releases unless there's a reason not to.

It looks like th

[2020-05-19 19:51] dancejic commented on #7753
I'll take a look and get a fix in as soon as possible. I think if libfabric 1.5 doesn't support the pci attributes there's no reason to even try and find the locality, so I'll discuss with the team on the best way of putting the `#if`s

[2020-05-19 20:00] jsquyres commented on #7753
@dancejic Thank you!

[2020-05-19 21:24] rajachan commented on #7753
https://github.com/open-mpi/ompi/commit/21bc9042e1ff9c3075ababda9eaf49ccc90f64db bumped the API requirement to 1.5 when adding the local/remote comm capabilities. Rather than adding `#if`s, the cleanest way to handle this would be to bump the requirement since the MTL depends on fi_nic now.

[2020-05-19 21:26] jsquyres commented on #7753
Do not forget: the OFI MTL is not the only user of Libfabric.

[2020-05-20 14:09] jjhursey commented on #7752
The `lsf` components in Open MPI (`plm/lsf`, `ess/lsf`, `ras/lsf`) link against LSF's `libbat.so` library. The path to that library must be in your `LD_LIBRARY_PATH` for the components to be loaded properly. If it is not in your `LD_LIBRARY_PATH` then you will get that warning message and the LSF functionality will disable itself. The warning message is coming from the `dlopen` of the components d

[2020-05-20 16:36] yongjun67 commented on #7752
Thank you very much.

[2020-05-20 16:36] #7752 closed

[2020-05-20 20:25] #7728 closed

[2020-05-20 21:06] dancejic opened #7755 "Open MPI master fails to initialize ofi MTL component"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master branch, but the issue began on commit 9f1081a07ac3c7b7277a27277ed970ed713207c9.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

installed from git clone

###

[2020-05-21 13:39] jsquyres commented on #7755
@hppritcha FYI: this behavior was apparently introduced in https://github.com/open-mpi/ompi/pull/7646, which was the whitelist/blacklist for the MTL OFI.

[2020-05-21 13:39] louisespellacy-arm opened #7757 "Failure to stop at MPIR_Breakpoint with OpenMPI v3.1.x and v4.0.x"
###  Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v3.1.6 and v4.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from source tarball with PGI 19.5 and 20.1

### Please describe the system on which you are running

[2020-05-21 19:14] correaa commented on #2331
In case it matters, `nvcc` has the same problem. It rejects the `pthread` option and refuses to compile.
Supposedly `nvcc` doesn't need the option but effectively acts if the option is active.

[2020-05-22 03:59] wckzhang commented on #7755
This is a very peculiar bug...I was able to reproduce it, but couldn't when I tried again.

[2020-05-22 04:07] wckzhang commented on #7755
I have two clusters up, one which I somehow managed to trigger this issue, and one where I can't.

One of the errors is:
[code]

It looks like some procs are returning success and some are returning failures which is causing a mismatch of mtls and btls.

[2020-05-22 04:08] wckzhang commented on #7755
For more context to the above error, my mpirun command which is on a local node:
[code]

[2020-05-22 10:16] jeorsch commented on #7642
Here are some new backtraces from another crash. This time the application was instrumented with gcc's address sanitizer (OpenMPI was not sanitized). The sanitizer printed a resolved backtrace of the crashing jobs. Though, this time no jobs hang. I had to demux the output from the MPI processes and ASAN unfortunately does not print the process ID in every line, so the backtraces might be demuxed i

[2020-05-23 18:59] hppritcha commented on #7755
@wckzhang could you post the output of ```fi_info``` for the two clusters?

[2020-05-23 19:09] hppritcha commented on #7755
The include providers list should be NULL by default.  Investigating....

[2020-05-25 06:59] wckzhang commented on #7755
The explicit NULL setting fixed the issue for me. The behavior is a bit strange still. Please confirm @dancejic

[2020-05-25 13:36] SpinTensor commented on #1475
Hi,
are there any news regarding the inclusing of `MPI_F08_Status` C-type and the `MPI_Status_f082c` C-routine? I need them in a lot of places of a project I am working on and a workaround via F90-status transfers would be possible, but ugly and cumbersome.

[2020-05-25 14:17] devreal commented on #7724
Tried again today with current `master` and updated all submodules (Open MPI `g4d0c23c`, PRRTE `g32bdb54`) and couldn't reproduce this anymore. Closing.

[2020-05-25 14:17] #7724 closed

[2020-05-26 06:53] SpinTensor commented on #1475
Hi again.
While trying to implement a workaround I realized that it is also not possible to convert between f08 and f77 status variables with openmpi. This means that there is no way to in open-mpi to pass an f08 status in any way to a c-routine, either directly or inderectly via f77.

[2020-05-26 07:14] devreal commented on #7729
The binding seems to work properly now. However, it seems that Open MPI (PRRTE?) is moving from `socket` to `package`, which is not yet reflected in the help message:

[code]

The same is true for the `--bind-to` option:
[code]

Using `--bind-to package` yields the correct binding but the output of `--help` mentions `socket` for both but does not list `package`.

[2020-05-26 07:45] ggouaillardet commented on #1475
@SpinTensor I am working on it

[2020-05-26 08:13] devreal commented on #7729
Something else I noticed: it is still ok to pass `-map-by` instead of `--map-by` but mpirun barks if I pass `-bind-to` instead of `--bind-to` (both used to accept the single-dash version)

[2020-05-26 13:27] jsquyres commented on #1475
Ugh; are we missing a bunch of the status conversion functions from MPI-3.1 Figure 17.1 (aka figure 33 in https://www.mpi-forum.org/docs/mpi-3.1/mpi31-report/node447.htm#Node447)?  That's... embarrassing.  ☹️   @ggouaillardet If you have a PR up soon, I'll be happy to test / review.

Would be Very Good to have this in time for v5.0.0 (i.e., ASAP).

[2020-05-26 13:49] jsquyres commented on #7724
Thanks for testing, @devreal

[2020-05-26 13:59] tkordenbrock opened #7763 "mtl-portals4: Call add_procs through PML"
Shamelessly cribbed from Michael Heinz' cribbing of Brian Barrett's issue #7571 - Update Portals4 MTL to use the correct add_procs call.

[2020-05-26 14:06] ggouaillardet commented on #1475
@jsquyres PR was posted 3 hours ago, and I chose you as the reviewer :-)

note `MPI_F08_STATUS[ES]_IGNORE` is still not defined (mangling issue iirc) but all the conversion subroutines are now implemented.

[2020-05-26 15:46] hppritcha commented on #7755
@dancejic could you retry your tests on master now?

[2020-05-26 16:22] dancejic commented on #7755
it works, thanks! I'll close the issue now.

[2020-05-26 16:22] #7755 closed

[2020-05-26 16:43] hppritcha commented on #7644
@BrendanCunningham i'm having problems reproducing but think this is fixed by PR #7764. Could you give it a try?

[2020-05-26 20:24] wckzhang commented on #7672
#7758 resolves this issue for gather/scatter

[2020-05-26 20:27] wckzhang opened #7765 "Dynamic Tuning (coll/tuned) behavior doesn't have any non commutative checks"
The dynamic reduce MPI operations do not have any verification or check if an algorithm a user selects is non commutative capable for a non commutative op. I think this is an odd behavior, especially if one wants to have the defaults be tuned for commutative ops (Not safe to do so if a non commutative op is possible). There needs to be either a fallback mechanism or a way to add separate non commu

[2020-05-26 23:45] srherbener opened #7766 "Option to enable two level namespace on Mac OS"
Thank you for taking the time to submit an issue!

## Background information

I work on a large numerical weather prediction system which has a mix of C++ and Fortran source code. We are support native Mac environments which use Apple Clang to compile C++ and GNU Fortran to compile Fortran. This results in libraries that contain object files from both C++ and Fortran.

### What version of Open MPI

[2020-05-27 02:42] rhc54 commented on #7729
I checked this and cannot replicate on PRRTE master, so I'm assuming it just means we haven't update recently. I'll take care of that tonight.

As to the above help output issues, I have fixed them in https://github.com/openpmix/prrte/pull/582 - it will be included in the update. I'll set this issue to close upon that commit.

[2020-05-27 03:48] #7729 closed

[2020-05-27 15:30] mathstuf commented on #7532
So it seems that the signature and/or usage of `MPI_Win_allocate` is confusing (at least to me).

[code]

and then `baseptr` is documented as an *output* parameter? Is it not being `void**` a mistake then (not that it can be fixed anymore)? Is there really a `*(void**)baseptr = newmem;` inside there somewhere?

It seems that `MPI_Win_allocate` cannot be used for this case because it wants to alloc

[2020-05-27 15:40] chaowatson opened #7768 "Error: UCP worker does not support MPI_THREAD_MULTIPLE"
HI! OMPI team. I am using openmpi4.0.2 with ucx to compile and run Tinker-HP. It was successfully compiled but ran into an issue when I run it with mpirun, here are the Errors:
[code]
this is my ompi_info about pmix
[code]

I wonder if I can compiled and run every application with ompi and ucx or not.

Thanks.

[2020-05-27 15:48] rhc54 commented on #7768
I changed the title of this issue to correctly identify the problem you are citing - the error output at the end is simply because your program segfaulted.

Seems like the error message is pretty clear - you asked for `MPI_THREAD_MULTIPLE` and the library you are attempting to use (UCP) does not support it.

[2020-05-27 15:50] jladd-mlnx commented on #7768
@chaowatson - You need to build UCX with threading support.

[2020-05-27 16:36] hppritcha commented on #7035
closing this.  highly unlikely there will be any more updates on the 3.0.x and 3.1.x release streams.

[2020-05-27 16:36] #7035 closed

[2020-05-27 18:47] devreal commented on #7532
@mathstuf This is not a mistake but by design (see MPI v3.1, Section 2.5.5). The rational is that C allows you to cast *any pointer type* to `void *` (the generic pointer) but you cannot pass `int**` for a `void**` parameter because it would require *a pointer to a generic pointer*, losing its generic character.

Example (i is of type `int*`):

[code]

I tested your use-case with current master an

[2020-05-27 19:15] mathstuf commented on #7532
Hmm. I guess I'm getting rusty on my C type system and want it to be more like Rust :) . I'll take a closer look at it.

[2020-05-27 22:49] beew commented on #7739
I don't know why I can't reproduced it consistently.
After having failed for hours at the same spot for openmpi-4.0.3 (same with 4.0.1 and 4.0.2) it suddenly works. The build environment has been identical. The only think I have changed in configure is to have set a prefix to a test directory rather than /opt/openmpi. Could it because it detects the already installed version there even though I ha

[2020-05-27 23:08] jsquyres commented on #7739
Open MPI's installation doesn't know anything about other Open MPI installations on the same machine -- it just knows about the `--prefix` you gave it.  It doesn't matter if that prefix is `/opt/openmpi` or `/home/bernard/src/ompi_test` or anything else that doesn't conflict with system-level things.

But if `LD_LIBRARY_PATH` (or similar) muddles the issue by unintentionally pointing to another Op

[2020-05-27 23:19] beew commented on #7739
I meant to say that the prefix in configure already has a version of openmpi install even though I have removed it from LD_LIBRARY_PATH. Now to follow up I just renamed /opt/openmpi to /opt/openmpi-bk and recompiled openmpi with prefix /opt/openmpi and this time was successful!

[2020-05-28 03:16] chaowatson commented on #7768
@rhc54  @jladd-mlnx - Thanks for replying ! I rebuilt UCX withthreading support but the PMIX errors still occurred, here are the errors:
[code]
the app has successfully begin but then crush.

Thanks.

[2020-05-28 03:19] rhc54 commented on #7768
As I said, the errors being reported are _because_ your app crashed and the PMIx server has therefore lost contact with it. The problem is in your app. You might want to investigate the core files and see what is wrong.

[2020-05-28 03:21] chaowatson commented on #7768
@rhc54 I see. I'll keep working on it. I appreciate for your reply!

[2020-05-28 15:03] baditaflorin opened #7769 "How do you install it on a ubuntu/linux mint installation ?"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

### If you are building/installing from a git clone, please copy-n-

[2020-05-28 15:06] baditaflorin commented on #7769
Here I get info about an installer, but I do not get the link to it https://www.openempi.org/confluence/display/openempi30/Installation+using+the+Installer

[2020-05-28 15:38] ggouaillardet commented on #7769
Here is Open MPI, and you are looking for `openempi`!

[2020-05-28 15:38] #7769 closed

[2020-05-28 17:48] awlauria commented on #7757
What version of automake are you using?

It was found that older versions of automake are adding the -O3, and newer versions are doing the correct thing in not adding it.

See this comment/discussion:

https://github.com/open-mpi/ompi/pull/6828#issuecomment-514315352

[2020-05-28 17:50] awlauria commented on #7757
it's also documented in the code of orted_submit.c, for reference:

https://github.com/awlauria/ompi/blob/00106f5ac96a3d9e6288ec07dc47e325897cd5f8/orte/orted/orted_submit.c#L181

[2020-05-28 17:54] awlauria commented on #7742
@karasevb do you only see this on the 4.0.x branch? Or does it also happen on master?

[2020-05-28 18:14] awlauria commented on #7639
I have no idea why I said 5 minutes - edited it.

It takes about 2 seconds or a little above, and MTT seems to kill it right at 2 if I am reading it correctly.

[2020-05-28 18:17] awlauria commented on #7617
@gpaulsen @hppritcha it looks like all linked PR's have been merged. Ok to close?

[2020-05-28 18:21] #7471 closed

[2020-05-28 18:21] awlauria commented on #7471
Completed with #7671 merged to master.

[2020-05-28 18:22] jsquyres commented on #7757
I think @awlauria is asking: are you running `autogen.pl` during the build process?  Or just `./configure` / `make`?

[2020-05-28 18:23] rhc54 commented on #7639
Hmmm...yeah, that is too fast. Should be adjusted.

[2020-05-28 18:43] awlauria commented on #7639
Yeah, I am not too familiar with how to change that. I've spent a bit of time here and there looking, but I haven't found where these timeouts are set yet. I can keep poking at it in my free time.

[2020-05-28 18:58] BrendanCunningham commented on #7644
Yep, I'll see if I can reproduce it before and after PR #7764.

[2020-05-28 19:16] louisespellacy-arm commented on #7757
I was building out-of-the-box openmpi-3.1.6.tar.gz and openmpi-4.0.3.tar.gz when first testing. Using
the configure script that it ships with.
./configure / make
Unless modified by the user, the resulting CFLAGS is:
[code]
By just running ./configure / make you get the following line in the orte Makefile:
[code]

Later I pulled from the most recent branch of `v4.0.x` and used automake/configure/ma

[2020-05-28 21:49] BrendanCunningham commented on #7644
Summary: Yes, configure issue is fixed by PR #7764.

Details: Checked out your PR branch, reverted HEAD commit, built, verified could still produce original issue.

Did 'git reset --hard HEAD' on your PR branch, ran build script, and verified that configure got past the pthreads-have-different-pids test in config.log.

[2020-05-29 05:07] #1713 closed

[2020-05-29 18:31] dancejic commented on #7753
sorry for the delays, I had some issues figuring out the configure code

https://github.com/open-mpi/ompi/pull/7771

[2020-05-29 20:47] jeorsch opened #7772 "Address sanitizer detects illegal access in `opal_str_to_bool`"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From a tarball using
`./configure --prefix=<INSTALLDIR> --with-hwloc=internal --enable-debug CFLAGS=-fsanitize

[2020-05-30 02:11] ggouaillardet commented on #7772
Thanks for the report!

the root cause is `sizeof(str)` is used instead of `strlen(str)`

will issue a PR and backport it.

[2020-06-01 02:26] zhxh1 commented on #7368
Hi, I encountered a similar situation where OpenMPI cannot bind to memory in a docker container.
The container can be built from [this docker file](https://github.com/horovod/horovod/blob/master/Dockerfile.gpu).

Running `CUDA_VISIBLE_DEVICES=0,1 mpiexec --bind-to socket -np 2 python run.py` will raise a warning:
[code]

For more details, I also opened an issue [here](https://github.com/horovod/ho

[2020-06-01 06:29] rhc54 commented on #7368
@zhxh1 Please provide the info requested by @bgoglin - this is most likely a Docker issue, but we cannot confirm that without the output from `lstopo-no-graphics` and `hwloc-info --support`

[2020-06-01 06:41] zhxh1 commented on #7368
@rhc54 Thanks for your quick response!

I build `hwloc 2.2` inside the container with [this tutorial](https://www.open-mpi.org/projects/hwloc/tutorials/20120702-POA-hwloc-tutorial.html)

[code]

[code]

I paste the summary for `./configure` just in case it's useful.
[code]

[2020-06-01 08:37] bgoglin commented on #7368
I guess you did make install outside of the normal path, and added the bin directory to $PATH. If so, you also need to add the lib directory to $LD_LIBRARY_PATH.

[2020-06-01 08:56] zhxh1 commented on #7368
@bgoglin Thanks for your reply.

Forgive my ignorance. I am not sure what do you mean by

I install `hwloc` in the following procedures:

1. `wget https://download.open-mpi.org/release/hwloc/v2.2/hwloc-2.2.0.tar.bz2`
2. `tar xvf hwloc-2.2.0.tar.bz2 && cd hwloc-2.2.0`
3. `./configure`
4. `make`
5. `sudo make install`

And it seems the hwloc is installed into `/usr/local` by default:
[code]

My `$PA

[2020-06-01 13:48] rhc54 commented on #7368
Well, that pretty much tells the story:
[code]
The docker container doesn't support binding the process memory, which is what the warning is telling you. As the warning indicates, your job will go ahead and execute. All it means is that there is no guarantee that any memory you malloc will reside in the same NUMA domain as your process, which can result in some loss of performance.

Afraid I'm not

[2020-06-01 19:17] bgoglin commented on #7368
membind:set_proc_membind is not supported on Linux at all. mbind() and set_mempolicy() operate on the current thread only. Hence only membind:set_thisthread_membind should be 1, and it is here.

Do we know which hwloc is used by OMPI? If hwloc 1.x, it needs libnuma devel headers for membind support.
hwloc 2.x doesn't need libnuma, it might explain while binding works fine with 2.2 here.

[2020-06-01 20:02] #7578 closed

[2020-06-02 01:31] beew commented on #7739
After testing a few more times, the culprit is setting prefix=target in configure where target already has an earlier version of openmpi installed (usually I removed it after configure instead of before). Removing the earlier version from target before running ./configure --prefix=target fixes the problem.

[2020-06-02 01:31] #7739 closed

[2020-06-02 15:15] jsquyres commented on #7668
@jsquyres volunteered to take a first pass at this.

[2020-06-02 15:16] jjhursey commented on #7668
Related PRRTE items:
 * https://github.com/openpmix/prrte/issues/450
 * https://github.com/openpmix/prrte/pull/557

[2020-06-02 15:26] awlauria commented on #7738
Est. 1 week.

[2020-06-02 15:28] awlauria commented on #7703
Will retest.

[2020-06-02 15:40] awlauria commented on #7660
Blocker for ompi 5.0 release.

[2020-06-02 16:06] naughtont3 commented on #7703
Fixed.

[code]

[2020-06-02 16:06] #7703 closed

[2020-06-02 16:12] cniethammer commented on #7717
A quick test with latest master (0a21a58f08196bc9e2717bbac33f10aedaca41bd) shows the same problem.

[2020-06-02 16:25] rhc54 commented on #7717
I believe I explained this elsewhere, but I'll do so again here. That message is not an error - it is telling you precisely the correct thing. You cannot map-by core and bind the result to two cores as that is logically impossible to do. You are telling us to assign a process to a single core, and then bind it to two cores.

What you really want is to `map-by slot:pe=2` so that we will map process

[2020-06-02 16:26] rhc54 commented on #7717
In other words, the example in the man page is wrong, not the code implementing the mapping.

[2020-06-03 06:21] karasevb commented on #7742
@awlauria
The current master (0a21a58) doesn't have this problem.

[2020-06-03 14:50] mwheinz opened #7779 "Add minimum library version needed to use PSM2 in OMPI 5.x/master"
As per conversations in recent OMPI meetings, we should add a note to the README file indicating what the required version of libpsm2 is.

[2020-06-03 19:07] #7779 closed

[2020-06-03 20:20] bwbarrett opened #7782 "Investigate file munging issue found in openpmix"
I think https://github.com/openpmix/openpmix/pull/1772 applies to Open MPI as well.  Need to investigate a bit deeper to understand.

[2020-06-04 00:41] brandongc opened #7783 "error with persistent collective (MPIX_Bcast_init) with Fortran 2008 style call"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.0.2 module on Cori

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

4.0.2 module on Cori

### Please describe the system on which you are running

* Operating syste

[2020-06-04 01:12] kawashima-fj commented on #7783
You need `use mpi_f08_ext` because `MPIX_Bcast_init` is Open MPI extension. (See `MPIX_Bcast_init(3)` man for details)

[2020-06-04 01:37] brandongc commented on #7783
Perfect, that resolves the issue. Thank you

[2020-06-04 01:37] #7783 closed

[2020-06-04 13:03] pllopis opened #7784 "Increased intra-node communication latency going from v3 to v4"
Hi all,

When moving to version 4 (more precisely, 4.0.3), I have detected an increased latency between processes within a node.

## Symptoms

Using OpenMPI 4.0.3

[code]
Using OpenMPI 3.0.0
[code]

As you can see I have tried to narrow down the BTLs and process mapping/pinning being used to make everything more explicit. But in spite of both OpenMPI builds behaving seemingly the same way, there's

[2020-06-04 14:04] ggouaillardet commented on #7784
Pablo,

There is a possibility vader is not used at all. That typically occurs when UCX or MXM or OFI pml or mtl are used.

To force the use of btl/vader, you also need to force pml/ob1

mpirun --mca pml ob1 --mca btl vader,self ...

Cheers,

Gilles

Sent from my iPod

[2020-06-04 18:36] pllopis commented on #7784
Thanks for the quick reply Gilles,

Indeed, I confirm that I can get sub-microsecond latencies when using pml/ob1.
My OpenMPI build was built with support for the OFI pml (I haven't tested UCX yet, but I will soon) and I believe was using pml/cm by default.

While I only reported on the pt2pt microbenchmark, the increased latency is present in collective operations as well and is noticeable for sm

[2020-06-05 08:28] ggouaillardet commented on #7784
Pablo,

OFI is a mtl component, that means it is used with pml/cm.
UCX is both available as a pml and a btl (btl/uct).
pml/ob1 is not gonna be deprecated, it allows the use of different btl on a
per peer basis
(e.g. btl/vader for intra node communications, and btl/tcp for inter node
communications).
There is no such possibility with the other pml.

I do not use OFI, but IIRC, you must use the 'shm

[2020-06-05 08:38] pllopis commented on #7784
Thanks for the clarification Gilles. I am closing this issue since the question has been resolved. Thanks again!

[2020-06-05 08:38] #7784 closed

[2020-06-05 19:28] iassiour opened #7790 "orphaned orted processes after failing mpi jobs"
After failure of mpirun jobs there is often orphaned orted processes left behind that consume 100% cpu. The version I am using is 4.0.1 and looks like this is the first version to show this kind of issue.

The pstack of the hanging orted process as follows:

[code]

[2020-06-05 23:52] jsquyres commented on #7790
Can you try 4.0.4rc2 (or later)?

https://www.open-mpi.org/software/ompi/v4.0/

[2020-06-06 00:07] iassiour commented on #7790
I will try that but the issue is not easy to reproduce so I would not know straight away if new version works.

Is this related to some known issue? If so could you please give me some more details.

[2020-06-06 02:24] jsquyres commented on #7790
No, it is not related to a known issue.  I'm just asking to update to the latest on the release series to see if it has been fixed as a matter of course.   Sorry.  ☹️

[2020-06-06 13:21] iassiour commented on #7790
Looks like the issue is fixed from 4.0.2 onward. Can it be related to this:

- Update embedded PMIx to 3.1.4

[2020-06-06 20:54] KaleabTessera commented on #6535
@danziy0904  Have a look at this PR https://github.com/tomgoldstein/loss-landscape/pull/28 .

You basically need to add ```os.environ["HDF5_USE_FILE_LOCKING"] = "FALSE"``` to fix this issue.

[2020-06-09 08:24] angainor opened #7795 "segfault with HDF5 chunked file"
I am looking at OpenMPI 4.0.3 and HDF5 1.10.6 compiled against it. A user reported segfault in `ADIOI_Flatten()` when using a chunked dataset, i.e., when the following line is executed:
[code]
A simple FORTRAN reproducer is attached (compile with `h5pfc ioerror.F90`, run with `mpirun -np2 ./a.out`). The same code works with Intel MPI. Here is the stack:

[code]
Could that be an OpenMPI problem, or

[2020-06-09 10:54] yogitanegi opened #7796 "Not able to run MPI job on multiple nodes of a cluster"
**Execution on one node of cluster(gpu7)** :

[capc@gpu7 hybrid_slurm_scripts]$ mpirun ./a.out
--------------------------------------------------------------------------
WARNING: There is at least non-excluded one OpenFabrics device found,
but there are no active ports detected (or Open MPI was unable to use
them).  This is most certainly not what you wanted.  Check your
cables, subnet manager con

[2020-06-09 14:33] rhc54 commented on #7796
It appears the two nodes have very different OMPI versions on them.

[2020-06-10 05:00] yogitanegi commented on #7796
Both have same OMPI version, I have checked using ompi_info & mpiexec --version

[2020-06-10 05:09] ggouaillardet commented on #7796
In your script, did you double check that
which mpirun
is pointing to the binary you expect?

also, the `conda` related error is suspicious

you might also want to try replacing
mpirun
with
`which mpirun`
(this is "which mpirun" between backquotes, not sure how github markdown is
gonna display this...)

and see if it helps.

[2020-06-10 05:14] yogitanegi commented on #7796
Its pointing to the same binary in both the nodes, I have checked.

[2020-06-10 09:31] angainor commented on #7795
Just to add some info, I found that the segfault happens when the file is located on the Lustre file system. The same code works fine if the file is stored on a local disk, or on a BeeGFS share.

Can this have something to do with Lustre integration / version / etc? Does anyone have suggestions on how to debug this?

[2020-06-10 10:13] yogitanegi commented on #7796
The above error got solved.
Now, its getting hang on execution

[capc@gpu6 mpi_tests]$ /opt/openmpi4.0.3/build/bin/mpirun --host gpu7,gpu6 ./a.out
bash: conda: command not found
--------------------------------------------------------------------------
WARNING: There is at least non-excluded one OpenFabrics device found,
but there are no active ports detected (or Open MPI was unable to use
them).

[2020-06-10 10:47] ggouaillardet commented on #7796
do you want to close this issue and follow up at https://stackoverflow.com/questions/62301355/error-in-mpi-program-execution-no-active-ports-found ?

[2020-06-10 10:54] yogitanegi commented on #7796
Sure :+1:

[2020-06-10 10:54] #7796 closed

[2020-06-10 20:15] bwbarrett opened #7801 "v4.1.0 Release Checklist"
**NOTE:** The Open MPI v4.1.x branch was created after v4.0.5.  Hence, for some of the `git log ...` commands, the `last_release_tag` should probably be `v4.0.5`.

## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gn

[2020-06-11 09:00] cponder opened #7804 "Improper use of 'basename' in regression-tests"
I'm building OpenMPI 4.0.2 & 4.0.4rc2 using the PGI 20.5 compiler.
Running the "make check" command, i get these messages
[code]

[2020-06-11 09:07] cponder commented on #7804
This is on Ubuntu 18.04.

I grep'd to see instances of the string "--test-name" but can't tell where it's being passed to the "basename" primitive. The messages come out when the tests in the "test/asm" (atomic tests) directory are run, not anywhere else.

[2020-06-11 09:31] cponder opened #7805 "GNU-only flags in build"
I'm building OpenMPI 4.0.4rc using the PGI 20.5 compiler on Ubuntu 18.04.
I see quite a few of these messages
[code]
They don't cause the build to fail-out because I use this form to downgrade the invalid switch to a warning:
[code]

[2020-06-11 09:32] cponder commented on #7805
Maybe the discovery step using the autotools config can be used to detect whether the switches are valid for the compiler or not.

[2020-06-11 12:43] jsquyres commented on #7804
The `make check` engine is wholly in control of GNU Automake; I don't think we have any unique code in there.

Can you track down a little further where this is happening?  I don't know if `make V=1 check` emits any additional output...?

[2020-06-11 12:46] jsquyres commented on #7805
It looks like the `checking dynamic linker characteristics` test is part of GNU Libtool.

It could well be that GNU Libtool doesn't recognize / handle all of pgcc's flags properly...?

Is this the first place in the output where these warnings/errors appear?  Or are those flags inserted in CFLAGS (or whatever) earlier in `configure`?

[2020-06-11 14:47] angainor opened #7806 "unexpected binding with srun"
I have tested OpenMPI 4.0.3, but also 3.1.4. When running applications with `srun`, it seems that OpenMPI is honoring the binding scheme set by `srun`, unless it is the `none` scheme, or a mask containing all cores. Consider the following start line:

`OMP_NUM_THREADS=128 srun --tasks-per-node=1 --cpus-per-task=128 -N 1 -n 1 --cpu-bind=verbose,mask_cpu:FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF

[2020-06-11 16:10] hppritcha commented on #6228
Probably will not fix in 4.0.x release stream.  Moving to 4.1.0 milestone.

[2020-06-11 16:12] hppritcha commented on #7615
didn't get fixed in 4.0.4

[2020-06-11 16:13] hppritcha commented on #7795
didn't get fixed in 4.0.4

[2020-06-11 16:13] rhc54 commented on #7806
See https://github.com/open-mpi/ompi/pull/7511

[2020-06-11 18:00] angainor commented on #7806
@rhc54 Thank you! I missed that. It seems that this PR addresses the first part (forced OMPI binding when I would expect no binding). Do you also have any thoughts about what to do by default with hybrid MPI-thread applications?

[2020-06-11 18:14] rhc54 commented on #7806
Usually the best performance in that model is to bind to socket/NUMA/package. It keeps all the threads localized while allowing max usage of the available cpus. If you have a multi-socket system, not binding to a socket can cause the threads to fall on different sockets, causing loss of performance due to NUMA impact.

[2020-06-11 18:25] angainor commented on #7806
@rhc54 Yea, it's even more complex on the Epyc's, which have 4 NUMA nodes per socket :) So binding to socket is wrong, but binding to numa is also wrong in general, because you might have, say, 2 ranks per socket. If you bind to numa, you're using half of the system.

But in either case, in that scenario OMPI is currently by default binding to core, which makes all threads run on the same core. My

[2020-06-11 18:25] angainor commented on #7806
preferably with reasonable binding / mapping among numa nodes :) but anything will be better than running on a single core.

[2020-06-11 18:29] rhc54 commented on #7806
I'm not sure how we would do that - at one point, I had implemented detection of OpenMP directives that guided the binding pattern, but I got yelled down for it and so it was removed. Probably something that requires some thought as it will become a more common problem over time.

[2020-06-11 18:32] angainor commented on #7806
In the slurm case it is simple - you specify `--cpus-per-task`, which could (maybe) be translated to `PE=..`. For the `mpirun` case I would maybe leave all to the user, who should do the correct thing. But with `srun` I am already doing the correct thing (`--cpus-per-task`) and then I have to do it again by thinking about cpu masks.

[2020-06-11 20:01] brtnfld opened #7809 "MPI_File_read_at_all hanging"
Thank you for taking the time to submit an issue!

## Background information

Using CGNS with HDF5, we've run into a couple of use cases that cause the program to hang in collective H5Dread, specifically in MPI_File_read_at_all. For example, when running on 16 processes, 8 processes will complete MPI_File_read_at_all, but  the other 8 hang inside the MPI_File_read_at_all. We've tried it on two com

[2020-06-11 20:03] rhc54 commented on #7806
How does Slurm translate the `--cpus-per-task` directive? Does it show up as an envar? I would have thought it would show up in the binding mask, but apparently not?

[2020-06-11 20:29] angainor commented on #7806
@rhc54 This is what I get on our system - I think we have task affinity disabled in slurm:
[code]
I have removed some irrelevant envars. You are right - it seems that sometimes `--cpus-per-task` do show up in the mask, but not always, and not in a helpful way. For example in this case the mask is all `F`'s, which is correct, but OMPI decides that this means 'go ahead bind'.

It seems there are pro

[2020-06-11 21:52] ckhroulev opened #7810 "Do not assume that __STDC_VERSION__ is defined"
## Background information

CI builds of our C++ code use a set of pedantic warning flags with `-Werror` to ensure that it compiles without warnings.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution pac

[2020-06-11 21:54] ckhroulev commented on #7810
See also: https://github.com/open-mpi/ompi/issues/7099

[2020-06-11 22:21] edgargabriel commented on #7809
@brtnfld thank you for the bug report, I can have a look. Could you please provide some additional information on whats the easiest way to reproduce the bug, including things like the HDF5 version used, file system, number of processes and any other arguments required to run the app. I assume CGNS is open source and I can download and compile it?

[2020-06-11 22:39] #7502 closed

[2020-06-11 22:47] cponder commented on #7805
This one only shows up during the config so I probably shouldn't have mentioned it:
[code]
The other two are being tested in the config
[code]
but keep giving warnings during the build:
[code]
I think my using `-noswitcherror` is causing a false pass on these tests so they end up being inserted into the build.

[2020-06-12 01:35] jsquyres commented on #7805
So you're saying the only real error is `pgc++-Error-Unknown switch: -print-prog-name=ld`?

Can you send the output listed here: https://www.open-mpi.org/community/help/

[2020-06-12 09:22] cponder commented on #7805
Ok this is my bad -- if I leave out the `-noswitcherror` completely, then the `config` is (correctly) recognizing that they aren't valid and then they are not used in the rest of the build.
I'm closing this one.
(FYI -- I believe I had added this flag trying to get around some other error (maybe a linkage issue) that ended up being fixed some other way).

[2020-06-12 09:22] #7805 closed

[2020-06-12 10:06] jsquyres commented on #7810
Well that sucks.  Is there some other `#define` that is always there that can be used instead?

FYI: @hjelmn This is going to be a problem for C11 detection (e.g., https://github.com/open-mpi/ompi/blob/master/config/opal_setup_cc.m4#L84).

[2020-06-12 14:04] hjelmn commented on #7810
Another irritating C++-ism. WG21 should have required this to be set based on the level of C that they are compatible with.

We can assume C89 if __STDC_VERSION__ is not defined since that is the greatest commonality between C++ and C.

[2020-06-12 14:26] brtnfld commented on #7809
The hdf5 version I used was 1.10.6, but you can probably reproduce it with any version. I think the linux-rhel7-skylake was lustre, but I was able to reproduce it on a non-parallel filesystem (ext4).

We used the 'develop' branch for CGNS, https://github.com/CGNS/CGNS. The CGNS program is
[cgns_par_coord_read.c.gz](https://github.com/open-mpi/ompi/files/4771269/cgns_par_coord_read.c.gz)

and the c

[2020-06-12 15:12] hjelmn commented on #7810
And, no. It won't break our detection. Compiling Open MPI with CC=g++ or something similar is user error.

[2020-06-12 15:32] brtnfld commented on #7809
To build HDF5 from source I used the script:

#!/bin/bash

par=1
DIR=$HOME/packages

if [ $par -eq "1" ]; then
  opts="--enable-parallel --enable-instrument"
  set opts="--without-zlib $opts"
  export CC="mpicc"
  export FC="mpifort"
  export CXX="mpicxx"
  export RUNPARALLEL="mpiexec -n 4"
else
   export CC="icc"
   export FC="ifort"
  opts="--with-zlib=$DIR/zlib-1.2.11/zlib"
fi

export CFLAGS="

[2020-06-12 15:36] brtnfld commented on #7809
To build CGNS from the source I used the script, run from the "src" directory:

#!/bin/tcsh -f

set par=1

set DIR=$HOME/packages

if ($par == "1") then
  set opts="--enable-parallel"
  setenv CC "mpicc"
  setenv F77 "mpif90"
  setenv FC "mpif90"
  setenv CXX "mpicxx"
else
  setenv CC "gcc-8"
  setenv FC "gfortran-8"
  setenv CXX "g++-8"
  set opts=""
endif

#path to where HDF5 is installed
set HD

[2020-06-12 15:41] edgargabriel commented on #7809
@brtnfld thank you for the information, I will try to reproduce it in the next few days.

[2020-06-12 15:41] brtnfld commented on #7809
The easiest way to compile the provided program is to just replace one of the programs in 'ptests', and do make in the 'ptests' dir.

move the CGNS file to read to ptests and run the program using

mpirun -n 16 <what ever program's executable name you replaced>

[2020-06-12 17:00] cponder commented on #7804
V=1 doesn't tell me anything more:
[code]

[2020-06-12 17:10] cponder commented on #7804
Using this wrapper
[code]
I get this output
[code]
It looks like this should be the arguments to some other command, unless the above command was supposed to be evaluated before it is passed to the `basename` command.

Is there some flag I can put into the wrapper so I get a backtrace of where it was invoked from?

[2020-06-12 17:27] cponder commented on #7804
I tried adding things like
[code]
or
[code]
but they didn't return anything beyond
[code]
It looks like these commands, at least, don't give any visibility into the components of the test harness (probably not written in bash).

[2020-06-12 17:32] cponder commented on #7804
The command
[code]
(where 'distro' is where I unpacked the source tarball) gives 168 lines, most of which look pretty much the same as this one
[code]
so I think the problem is down in the expression that $(am__check_pre) is evaluating to.

[2020-06-12 19:38] bjpalmer opened #7813 "RMA Functionality"
I'm using MPI 4.0.1 installed from a system module. Our cluster is running RHEL6 with an infiniband network. The cores are Intel Xeon processors.

I’m curious about the status of RMA functionality in OpenMPI.

We’ve had a MPI-RMA based runtime in Global Arrays for some time now but it does not work well with OpenMPI. It does, however, operate reasonably well with other MPI implementations. I’ve ru

[2020-06-12 19:49] hjelmn commented on #7813
Can you share your test suite? The RMA implementation used by Open MPI depends on your set up. There are two implementations that support infiniband and one that provides basic functionality. If the latter one (osc/pt2pt) is on use failures wouldn't be surprising as it is not as well tested. osc/rdma is well tested and provides high performance. osc/ucx still has some bugs but provides goods perfo

[2020-06-12 20:14] bjpalmer commented on #7813
The test suite is part of GA so if you download GA from our github repository, you will pick it up. The github repository is at

git clone https://github.com/GlobalArrays/ga.git
git checkout develop

I've been configuring with the MPI-RMA runtime using the line

./configure --enable-i4 --enable-cxx --with-mpi3\
 --prefix=/my/install/directory CC=mpicc CXX=mpicxx FC=mpif90 \
 CFLAGS="-g" CXXFLAG="-

[2020-06-12 21:05] bjpalmer commented on #7813
For got to mention, the source code for the test codes is $GA/global/testing.

[2020-06-13 08:56] ChaiBapchya opened #7816 "MPI failing to bind a process to socket"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Tarball
https://download.open-mpi.org/release/open-mpi/v4.0

[2020-06-13 09:17] ChaiBapchya commented on #7816
Related issue https://github.com/open-mpi/ompi/issues/7368

[2020-06-13 14:11] bgoglin commented on #7816
If OMPI is using a hwloc 1.x, make sure you have numactl developement headers installed (libnuma-dev package on Ubuntu).

[2020-06-13 14:15] rhc54 commented on #7816
@bgoglin Since this keeps coming up, should we put an FAQ for it somewhere? Perhaps update that warning message?

[2020-06-13 14:31] bgoglin commented on #7816
Yes, but I don't understand why this problem isn't mostly gone already. Isn't OMPI 4.0.x using the embedded hwloc 2 by default? That one doesn't need numa headers anymore. Are people explicitly requesting the use of an external hwloc, and they happen to have a 1.x?

[2020-06-13 14:37] rhc54 commented on #7816
Yeah, I'm pretty sure that is what is happening - just people configuring with external packages. Remember, the distributors all package strictly with external hwloc and friends - so if people install via rpm, then that is what they get.

[2020-06-13 15:29] edgargabriel commented on #7809
@brtnfld I wanted to inform you that I can in fact reproduce the bug, and I know where the problem occurs, but I don't know yet why. Looking into it.

[2020-06-13 16:22] edgargabriel commented on #7809
ok, I know what the problem is. A fix should be coming shortly, but I need to confirm something with another developer, to make sure that I am not breaking backwards compatibility. Otherwise I can apply a trivial fix for the 4.0.x series, and the proper fix going forward.

[2020-06-13 23:31] ChaiBapchya commented on #7816
Any way to verify which hwloc ver is being used?

[2020-06-13 23:33] ChaiBapchya commented on #7816
what is the way to ensure 2.x hwloc is used [embedded default in openmpi 4.0+]? are we consuming from the wrong location?

[2020-06-14 09:19] bgoglin commented on #7816
Post your OMPI configure command-line to check if you're using the embedded or external hwloc (or even attach config.log). And post the output of 'dpkg -l | grep hwloc' to check which hwloc is installed by your Ubuntu. Make sure somebody else did not build/installed another hwloc somewhere else.

[2020-06-14 20:35] mignonph75 opened #7818 "FCLD libmpi_usempif08.la ld: library not found for -lhwloc"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
4.0.4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from source distribution

### If you are building/installing

[2020-06-14 20:54] cponder commented on #7805
Here's what brought the problem on to begin with: when I build without any `-noswitcherror` flags, I get this error
[code]
This particular is from OpenMPI 4.0.2. During the `configure` phase, I can't tell if it is checking whether the `-pthread` is valid or not. I only see the flag show up, though only in this one part of the build.
That being said, I'm not sure this is a problem with 4.0.4rc2 so

[2020-06-14 23:36] ggouaillardet commented on #7818
What is your `configure` command line and which compilers (C/C++/Fortran) are you using?

[2020-06-15 04:07] mignonph75 commented on #7818
configure command line ./configure was performed without options

which gcc
/usr/bin/gcc
ls -l /usr/bin/gcc
-rwxr-xr-x  1 root  wheel  31488 28 mai 01:37 /usr/bin/gcc

which gfortran
/usr/local/bin/gfortran
ls -l /usr/local/bin/gfortran
lrwxr-xr-x  1 kassad  admin  34 14 jui 21:30 /usr/local/bin/gfortran -> ../Cellar/gcc/9.3.0_1/bin/gfortran

[2020-06-15 04:08] mignonph75 commented on #7818
thank you for helping

[2020-06-15 04:10] mignonph75 commented on #7818
[config.log](https://github.com/open-mpi/ompi/files/4777983/config.log)

[2020-06-15 04:11] mignonph75 commented on #7818
[Makefile.txt](https://github.com/open-mpi/ompi/files/4777987/Makefile.txt)

[2020-06-15 04:13] ggouaillardet commented on #7818
Is there any reason you want to use `/usr/bin/gcc` (which an apple customized `clang`)?

If you want to use GNU 9.3 compilers, you can

[code]

[2020-06-15 04:34] ggouaillardet commented on #7818
it seems the root cause is `/usr/bin/gcc` looks for libs in `/usr/local/lib` by default (and hence expect to find `libhwloc.dylib` there, but `gfortran` does not look for lib in `/usr/local/lib` and is hence unable to link with `-lhwloc`.

[2020-06-15 04:53] mignonph75 commented on #7818
**with configure CC=gcc-9 CXX=g++-9**

makefile performed successfully !

thank you for helping me

[2020-06-15 05:53] ChaiBapchya commented on #7816
These are set of mpi config commands in our dockerfile
[code]

I don't see any other package build/install another hwloc.
Actually, in my nvidia-docker container
I can see openmpi but can't find hwloc
[code]

[code]
Makes me question if hwloc is installed correctly or not.

[2020-06-15 11:19] jsquyres commented on #7810
PR #7817 fixes this on master.

[2020-06-15 15:16] hppritcha commented on #7399
this problem appears to be resolved with most recent pmix/prrte submodules.   I can no longer reproduce so closing.

[2020-06-15 15:16] #7399 closed

[2020-06-15 16:44] hppritcha commented on #7813
Is there a way to separate out building the tests from running them?  The system I'm using doesn't support building on the compute nodes.

[2020-06-15 16:48] jladd-mlnx commented on #7813
@janjust - FYI - let's test this example on the latest greatest UCX/OSC goodies targeting OMPI v5.0 release.

[2020-06-15 16:50] hjelmn commented on #7813
Might be a Fortran binding issue. I don't know how well those are tested.

[2020-06-15 18:41] bjpalmer commented on #7813
If you type

make checkprogs

in the build directory, it should build all the executables in the test directory.

[2020-06-15 19:03] bjpalmer commented on #7813
Some of the fortran tests pass and quite a few of the C tests fail. The underlying GA library is all written in C and the Fortran interface is a thin compatibility layer.

[2020-06-15 19:57] hppritcha commented on #7818
Here's what I'm seeing on an aarch64 platform using gcc 9.3.0, ompi 4.0.4, and ucx 1.7:
[code]
I used the configure options given in an above comment.
I had
export OMPI_MCA_osc=ucx
export OMPI_MCA_pml=ucx
set in my shell.

[2020-06-15 19:58] hppritcha commented on #7813
Here's what I'm seeing on an aarch64 platform using gcc 9.3.0, ompi 4.0.4, and ucx 1.7:
[code]
I used the configure options given in an above comment.
I had
export OMPI_MCA_osc=ucx
export OMPI_MCA_pml=ucx
set in my shell.

[2020-06-15 19:58] hppritcha commented on #7818
sorry wrong issue.

[2020-06-15 20:18] hjelmn commented on #7813
@hppritcha Can you run with osc/rdma as a sanity check?

[2020-06-16 01:38] #7810 closed

[2020-06-16 04:02] ChaiBapchya commented on #7816
@bgoglin gentle ping.

[2020-06-16 10:12] devreal commented on #7813
Out of curiosity, I ran the tests on my local shared memory machine using current master and osc rdma. I see 42 tests failing, most (all?) of which seem to end up in a similar Segfault:

[code]

Attaching a debugger, it seems that `ompi_request_complete` is called twice on the same request object, which leads to the Segfault in the second call:

1 invocation:

[code]

Second invocation:

[code]

N

[2020-06-16 14:20] jsquyres commented on #7805
Ok.  If you do re-open, please send all the information listed in https://www.open-mpi.org/community/help/

[2020-06-16 14:20] bjpalmer commented on #7813
We have vanilla builds of UCX 1.4.0 and 1.8.0 on our machine. I can try running with that to see if I can reproduce @hppritcha's results. What exactly do you need to do to run with UCX? Put the libraries in your LD_LIBRARY_PATH and set the environment variables?

[2020-06-16 15:04] hppritcha commented on #7813
@bjpalmer you need to add ```--with-ucx=path_to_ucx_1.8.0_install``` to the OMPI configure line and rebuild.  Then just to be certain set then env. variables in your shell before running the make check
[code]

[2020-06-16 15:09] hppritcha commented on #7818
@mignonph75 does @ggouaillardet 's solution suffice to address this issue?

[2020-06-16 15:39] janjust commented on #7813
@bjpalmer Can these tests potential hang? Or is there a mechanism to kill jobs that are taking too long - mine seems to be stuck on ga_shift running ompi-master with UCX, but there were other tests that took a while but eventually passed.

[2020-06-16 16:11] bjpalmer commented on #7813
Some of them can definitely hang. On our system running 4.0.1, the mir_perf2.x, perf2.x and thread_perf_contig.x tests were hanging. I haven't seen any hangs in ga_shift.x. Some of the tests take a significant amount of time before finishing. I don't know of a way to kill tests that hang while the test suite is running. I usually just go edit the source file (they are in GA_DIR/global/testing) and

[2020-06-16 16:18] jsquyres opened #7830 "Fix OSC RDMA to work in cases where one BTL cannot reach all communicator group members"
Cisco MTT shows that `MPI_WIN_CREATE` is failing since the OSC pt2pt component was removed (i.e., `MPI_WIN_CREATE` fails because there is no OSC component available).  [Here's an example of a simple test failing because `MPI_WIN_CREATE` failed](https://mtt.open-mpi.org/index.php?do_redir=3238).

After discussion on the 16 June 2020 weekly Open MPI webex, @hjelmn said that he could add a few functi

[2020-06-16 16:37] janjust commented on #7813
@bjpalmer, I made a mistake, it's not _ga_shift.x_ that hangs, it's _ghosts.x_ seems to be a threaded code. And looks like that same code failed for @hppritcha.

[2020-06-16 16:49] mignonph75 commented on #7818
Yes

[2020-06-16 16:57] bjpalmer commented on #7813
I ran using openmpi 4.0.4 with built with UCX and with the OMPI_MCA_osc and OMPI_MCA_pml environment variables set to ucx. I had two hung processes and a total of 27 failures. I'm not doing as well as @hppritcha and while this is still a lot of failures, it is a considerable improvement over the previous run using Open MPI 4.0.1. I'm compiling with gcc/7.3.0 and using UCX 1.8.0.

[2020-06-16 17:08] devreal commented on #7813
With the patch in #7829 all tests run successfully on my local shared memory system using osc/rdma. Can someone test osc/rdma on multiple nodes? (I don't have access to a non-IB machine anymore)

[2020-06-16 17:50] devreal commented on #7813
I ran the test suite using osc/ucx on my local system and see a number of tests failing. It seems that UCX 1.8.0 is complaining about misaligned variables in all failed tests, e.g.:

[code]

AFAICS, the MPI standard does not mandate any alignment for user-provided input buffers and only mentions alignment in the context of performance (aligned memory may lead to better performance). This looks lik

[2020-06-16 19:22] devreal commented on #7813
This gets more and more interesting: the UCX error is not caused by the application using misaligned target offsets but by the osc/ucx issuing a 64bit atomic fetch-add inside an Rget to acquire a request:

[code]

The problematic code line is this: https://github.com/open-mpi/ompi/blob/master/ompi/mca/osc/ucx/osc_ucx_comm.c#L868

The target offset is the offset the user provided but that may not b

[2020-06-16 21:47] janjust commented on #7813
@devreal just fyi - @artpol84 and myself are looking into this

[2020-06-17 01:56] janjust commented on #7813
@bjpalmer in your testing, are you using UCX compiled in multi-threaded mode?

[2020-06-17 04:37] janjust commented on #7813
@bjpalmer Out of curiosity, is your UCX compiled in multi-threaded mode?
./ucx_info -v | grep enable-mt you should see the --enable-mt configure flag set. I think that's the reason behind the hangs and subsequently failures.

I ran the tests with ompi-v4.0.4rc3 ucx-v1.7.x and ucx-v1.8.x and I see:
7/80 and 3/80 failures, respectively.

The common failures were:
[code]

ucx-v1.7.x failed in:
[code]

[2020-06-17 12:07] paugier opened #7832 "Incompatibility mpirun / xonsh (PATH modified)"
Sorry to post this here. I guess it is not a issue from OpenMPI, but I don't know and I don't understand what could be the issue. You may be able to provide some hints how to solve this problem.

I'm trying to use the shell xonsh and it seems that `mpirun` (Open MPI 4.0.3 on Ubuntu 20.04) prepends "/usr/bin:/usr/bin" before the PATH when launched from xonsh (and not from bash or fish).

[code]

Th

[2020-06-17 12:51] devreal commented on #7813
I tried the benchmark with the modified osc/ucx in PR #6980 and I see the same three tests failing after applying the following patch to fix the rput/rget issue:

[code]

I dug into the `test.x` case it a bit and found that osc/ucx does not correctly handle indexed datatypes if the datatype has overlapping entries. In the benchmark, some values may be the target of multiple updates in the same acc

[2020-06-17 13:29] ggouaillardet commented on #7832
That is indeed pretty odd.

in `xonsh`,  what if you replace
`mpirun -np 1 ./print_path.sh`
with
`env mpirun -np 1 ./print_path.sh`

[2020-06-17 13:48] rhc54 commented on #7832
Potential problem: the rsh launcher attempts to detect the remote shell so it can adapt the cmd line used to launch the remote daemons. It doesn't know anything about `xonsh` (I've never heard of it before), and so it is likely getting confused. Not sure what precisely it would do with the path in that circumstance, but it could easily prepend the usual standard path. Solution might be simply to u

[2020-06-17 14:22] paugier commented on #7832
Yes, it is much better with env!
[code]
I don't understand why, but at least it is a good workaround. Thanks!

[2020-06-17 14:24] artpol84 commented on #7813
@devreal do you mean that master with #6980 fails on 3 tests?

[2020-06-17 14:26] janjust commented on #7813
I would be shocked, I'm getting consistent 27/80 failures with master.

[2020-06-17 14:27] devreal commented on #7813
Sorry, that wasn't entirely clear: both master and #6980 fail for the same reason that I described above. The problematic part didn't change in #6980.

Also: this was on my local shared memory system, there may be more failures on multiple nodes.

[2020-06-17 14:29] janjust commented on #7813
Can anyone comment on the scale of these tests? I run these across 2 nodes, ppn2. @devreal how many ppns do you run on a single node?

[2020-06-17 14:36] devreal commented on #7813
I ran them with both a single and four processes. The three failed test cases caused by the indexed data type occur even when running on a single process.

[2020-06-17 14:54] bjpalmer commented on #7813
A bunch of questions to catch up on:
1) I looked at the output of ./ucx_info -v for our UCX 1.8.0 build. The only option listed was --prefix.

[d3g293@constance01 bin]$ ucx_info -v
# UCT version=1.8.0 revision c30b7da
# configured with: --prefix=/share/apps/ucx/1.8.0

2) The results on Intel MPI/5.1.3.181
cache_test.x hangs
sprsmatmult.x hangs
ga++/threadsafecpp.x fails

Results for MPICH 3.4a2
ga

[2020-06-17 15:03] jladd-mlnx commented on #7813
@bjpalmer it appears your UCX is not configured with multithreaded support.

[2020-06-17 15:11] bjpalmer commented on #7813
Should it be? I can try building it on my own and rebuild 4.0.4.

[2020-06-17 15:18] janjust commented on #7813
@bjpalmer yes, the hangs you are seeing are due to UCX not being configured for multi-threaded support. With UCX v1.8.x with multi-threaded support, I'm seeing 3/80 failures.

[2020-06-17 15:19] jladd-mlnx commented on #7813
@bjpalmer You don't need to rebuild OMPI, just UCX. Please add `--enable-mt` to your UCX configure command.

[2020-06-17 15:22] janjust commented on #7813
alternatively, UCX configure option: ./contrib/configure-release-mt will include it.

[2020-06-17 16:02] yosefe opened #7833 "mpirun process exit without sync"
Thank you for taking the time to submit an issue!

## Background information
While running a simple "hello world" on single machine for many iterations, it can fail with the message "mpirun has exited due to process rank 0 with PID 0 on
node (node name) exiting improperly"

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
OpenMPI 4.0.x branch, comm

[2020-06-17 17:26] bjpalmer commented on #7813
I built UCX with --enable-mt and used that in the open MPI 4.0.4 build. I reran the test suite but still saw 26 failures.

[2020-06-17 17:40] jsquyres commented on #7804
Hah.  I found it.

Looks like we're using a hook in the AM tests engine to insert our own `run_tests` script:

https://github.com/open-mpi/ompi/blob/fcdcb593bb0676bf4f16cbef554bf0e32f15ff10/test/asm/Makefile.am#L21

And `run_tests` is https://github.com/open-mpi/ompi/blob/master/test/asm/run_tests.

And guess what?  `run_tests` calls `basename`.  😄

I found the fix and filed a PR: https://github.c

[2020-06-17 18:11] #7804 closed

[2020-06-17 18:11] cponder commented on #7804
Thank you for following up on this!
I'm trying to clear out regression-failures while I figure out why my app is breaking, in case there's a connection. Not in this case, of course, but it looked like a programming oversight that might be easy to identify & fix.
OpenMPI 4.0.4 is out now, but hopefully the errors with go away in the next one...

[2020-06-17 20:17] janjust commented on #7813
@bjpalmer - so something is amiss, I able to reproduce @hppritcha results with ucx v1.7, and with v1.8 I see only 3 failures. I reran to make sure it's not a coincidence.

My commits are: 56470b4aba18c886fe843daffd80e09ac3fb4bf0 (ompi v4.0.x) and 49982d4dcf2a4a9ff4a39dc4c962d9612f673301 (ucx v1.8.x).
my gcc version is 8.3.0, running on x86 and rhel 7.6
I'm not sure if any of this matters; however.

[2020-06-17 20:20] devreal commented on #7813
Also, @bjpalmer could you share the logs or check whether you are seeing crashes in them?

[2020-06-18 03:20] ggouaillardet commented on #7832
@rhc54 the issue occurs on a single node, where `rsh` is out of the picture.

the issue/surprising behavior can be evidenced by running (under bash)

`/usr/bin/mpirun -np 1 ./print_path.sh`.

Under the hood,
`mpirun -np 1 ./print_path.sh
will result in (in `bash`)
`execve ("/usr/bin/mpirun", ["mpirun", "-np", "1", "./print_path.sh"], [...])`
but in `xonsh`
`execve ("/usr/bin/mpirun", ["/usr/bin/mp

[2020-06-18 17:25] collinmines opened #7841 "WARNING: There was an error initializing OpenFabric device --with-verbs"
Thank you for taking the time to submit an issue!

## Background information
This may or may not an issue, but I'd like to know more details regarding OpenFabric verbs in terms of OpenMPI termonilogies.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
version 4.0.4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball,

[2020-06-18 18:14] jeorsch commented on #7642
Still an issue with 4.0.4! Disabling vader and using tcp BTL fixes it, but this is not a nice solution.

[2020-06-18 19:45] bjpalmer commented on #7813
I'm running 4.0.4 which I built from the download tarball. I can checkout the master and try that instead, if that is what your are using. Can you tell me exactly how you configure UCX? I just used

./configure --enable-mt --prefix=/people/d3g293/mpich/ucx-1.8.0

and then built MPI with

../configure --prefix=/qfs/people/d3g293/openmpi-4.0.4/build-ucx --with-ucx=/people/d3g293/ucx-1.8.0

Most of t

[2020-06-18 20:08] janjust commented on #7813
I'm not using master, I tested it but it I'm seeing about ~28 failed tests. I'm using the 4.0.x branch, which is 4.0.4rc3, basically I cloned both repos and checked out the latest 4.0.x and 1.8.x branches for ompi, and ucx respectively.

My config and build commands are:
for ucx:
`./autogen.sh && ./contrib/configure-release-mt --prefix=$MTR_SCRAP/builds/ucx-v1.8.x-mt-rel --without-java && make -j

[2020-06-18 21:47] laloch commented on #7832
Thanks again for investigating the issue @ggouaillardet. I have opened xonsh/xonsh#3627 with a fix making Xonsh behave consistently with other shells. I think this `mpirun` feature should be documented on the `mpirun` man page.

[2020-06-18 22:30] yongjun67 opened #7842 "About memory requirement for MPI code on LSF"
Hi experts,

When I run MPI code on LSF, how can I require memory for per-job, not per-host?
For example,
          bsub  -n 4 -R "rusage[mem=100]" myprg
The 100MB memory is per-host. How can I require total memory 400MB? Each myprg needs 100MB.

Thanks,

Yongjun

[2020-06-18 22:54] rhc54 commented on #7842
You'd probably be better off asking the LSF community about that one - it's an LSF cmd line issue, not anything related to OMPI or MPI.

[2020-06-19 05:13] #7842 closed

[2020-06-19 16:37] abouteiller commented on #7738
A second part of this issue is the deprecation of standard mandated spawn info key. Just like the `mpiexec` parameters these keys are listed in the standard and should not be deprecated

I have prepared a PR to do this part. PR #7844

[2020-06-19 17:03] devreal commented on #7813
Just talked with @artemry-mlnx offline about the osc/ucx issues. So far there are two issues to address:

1) The way rget/rput is implemented right now needs fixing. A quick fix would be for the fetch-and-op to work on aligned target memory (see https://github.com/open-mpi/ompi/issues/7813#issuecomment-645354174). However, maybe the non-blocking flushes introduced with UCX recently could be a bett

[2020-06-19 17:19] bjpalmer commented on #7813
I tried the above configurations (I think) but all tests failed. I got rid of the --without-verbs option on the ompi build and got back to 27 failures. I'm still using the 4.0.4 tarball but I will try the 4.0.x branch to see if that makes a difference. At this point, given the difference between my results and yours, I'm inclined to believe that there are deficiencies in the environment of our clu

[2020-06-19 17:34] janjust commented on #7813
@devreal I think you synced with @artpol84, not \@artemry-mlnx

@bjpalmer quite possible, fwiw I'm running on x86 system, with ConnectX-5 (I tested 6 too), RHEL 7.6, Mellanox OFED 5.0 - so all in all relatively newer setup.

[2020-06-20 13:02] jsquyres opened #7847 "Periodic AWS CI hangs"
We're getting periodic hangs in simple AWS CI tests on master.  For example, in PR #7846 -- which only changed the VERSIONS file, and didn't change any code at all -- the `ring_usempif08` test appeared to have hung (specific test, for however long it remains available in Jenkins: https://jenkins.open-mpi.org/jenkins/job/open-mpi.build.configure_options/6631/CONFIGURE_OPTIONS=--disable-oshmem/conso

[2020-06-20 22:06] adammoody commented on #5643
Hi guys, I was retesting this reproducer lately.  I realize external32 is not yet supported in OMPIO.  However, now I'm getting seemingly bad results from the ROMIO module in Open MPI 4.0.3.
[code]
That output above should be duplicated in the top and bottom portions.  The test code here writes and reads a file in "external32" and then in "native".  However, the integers and strings in the top par

[2020-06-20 22:28] edgargabriel commented on #5643
@adammoody  ompio actually supports meanwhile external32 on master, and it is scheduled to be part of the 5.0 release (not the upcoming 4.1 release however). Based on my own testsuite, the romio321 implementation supports external32 for blocking I/O operations with OpenMPI, but not  non-blocking.

--snip--
Checking for external32 data representation:
   using MPI_File_write....................work

[2020-06-21 10:29] ggouaillardet opened #7851 "error with MPI_Unpack_external ("external32",...) and derived datatype"
This is a followup of #5643

The reproducer below can be used to evidence this issue.

The issue occurs on `master` and the `v4` release branches.
It does not occur on the `v3` branches nor the `4.0.0` release.

fwiw, `git bisect` (on the `v4.0.x` branch )points to open-mpi/ompi@4f754d01562340f66d4eee40913dca3786a38909

@bosilca can you please have a look at it?

[code]

[2020-06-21 10:34] ggouaillardet commented on #5643
This seems to also involve a regression in the `v4` and `master` branches, I opened #7851 in order to track it.

Though the trimmed test program I wrote in that ticket passes in `4.0.0`, the reproducer in this ticket also fails on that Open MPI release.

@edgargabriel you might want to wait for #7851 to be fixed, or investigate this issue on the `4.0.0` version or try to revert the commit pointed

[2020-06-22 10:30] devreal commented on #7813
Having checked the MPI 3.1 standard, I believe that the test (`test.x`) is incorrect. Section 11.3.4 (`Accumulate Functions`) states on page 425 that:

The test case eventually passes an indexed datatype to `MPI_Accumulate` that contains overlapping entries. The same seems to be true for `overlay.x`. @bjpalmer can you confirm that?

I thus now believe that osc/ucx is correct in that regard.

The t

[2020-06-22 14:17] bjpalmer commented on #7813
I will check the test. I'm not sure if having unique indices is a requirement from the GA side, but if indices are repeated, that would probably be an error for most algorithms, especially accumulate.

[2020-06-22 14:40] gpaulsen commented on #7813
@devreal, to be clear are you saying that you believe osc/ucx is correct in this context *WITH* https://github.com/open-mpi/ompi/pull/7852 or without it?

[2020-06-22 14:42] devreal commented on #7813
@gpaulsen #7852 addresses a bug in osc/rdma, it's independent of osc/ucx.

[2020-06-22 15:01] LudovicEnault opened #7857 "Device binding according to process"
This is not an issue, it's a feature I would like to add first myself in OpenMPI, and then it might interest the rest of the community.
For a start I am wondering what is the best way & location to add such modification in OpenMPI: adapt device(s) used by each process depending on general setting.
E.G:
MPI task | CPU binding | socket | Device binding
---------- | -- | -- | ----
0  | 0-23 | 0 | mlx

[2020-06-22 15:17] yosefe commented on #7857
@LudovicEnault UCX by default picks the device which is closes to the current thread's CPU.
So using --bind-to option and UCX_NET_DEVICES=mlx5_0:1,mlx5_1:1 (or not passing UCX_NET_DEVICES at all) should ensure optimal usage

[2020-06-22 16:12] LudovicEnault commented on #7857
Thanks for your feedback.
Maybe it should but it does not, or the one that I specify is better.
Do you mean this should be something to check in UCX rather than OpenMPI ?

[2020-06-22 16:16] yosefe commented on #7857
@LudovicEnault yes, can you please specify exactly waht you are running (versions, command line), maybe also hwloc-ls output) and how do you see that the behavior is not as expected (e.g a sub-optimal device is used)?

[2020-06-22 22:09] hjelmn commented on #7813
@jladd-mlnx Is there a reason why ```--enable-mt``` is still not the default? I find that a little confusing.

Doesn't impact btl/uct as it does its own locking if UCX doesn't have MT enabled but that isn't the default path.

[2020-06-22 22:12] hjelmn commented on #7813
It might be worthwhile for Open MPI to fail configure if UCX is being used and OpenUCX doesn't have multi-threading enabled.

[2020-06-22 23:02] LudovicEnault commented on #7857
I am using OpenMPI 4.0.3, UCX 1.8.0, PMIX 3.1.5 KNEM coming with Mellanox drivers.
The commands are:
1. With "default binding":
[code]
2. with manual device assignement:
[code]
ucx_net_devices.sh will export UCX_NET_DEVICES=mlx5_0:1 for process running on socket 0 and 2 and mlx5_2:1 for process running on socket 1 and 3.
In the four socket topology CPU 2 is directly connected to CPU0 and CPU3 to C

[2020-06-23 00:06] jladd-mlnx commented on #7813
@hjelmn: https://github.com/open-mpi/ompi/pull/6209

[2020-06-23 00:24] hjelmn commented on #7813
@jladd-mlnx Right. But this is about RMA. What happens with RMA? Does osc/ucx disqualify itself? if not it should.

[2020-06-23 02:33] ntq1982 commented on #7615
I made some tweaks to 'configure' script and now it works.

https://ntq1982.github.io/files/20200621.html

macOS Sierra 10.12.6
Open-MPI 4.0.3 and 4.0.4
Intel Composers XE 2018 (icc, icpc, fort)

[2020-06-23 14:52] hjelmn commented on #7830
I have the implementation mostly complete. It will require reworking how BTL receive completions are handled but that is a good thing. Been looking at reworking those for years. I have a branch with the changes but I can not test usnic or portals4. I verified vader, tcp, and self. Will validate uGNI and UCX today.

[2020-06-23 15:00] jsquyres commented on #7830
Send me the branch and what tests to run, and I'll check usnic.

[2020-06-23 15:01] pllopis opened #7861 "UCX iWARP support does not provide the same performance as the openib counterpart"
## Background information

I am trying to build OpenMPI in a way that works with good performance on two different clusters. One cluster is iWARP, the other is Infiniband.

With OpenMPI 3, since both Infiniband and iWARP were supported by ob1, the same OpenMPI build worked for both clusters. With OpenMPI4, things change and Infiniband is no longer supported by pml/ob1, while iWARP is still support

[2020-06-23 15:14] hjelmn commented on #7830
https://github.com/hjelmn/ompi/tree/btl_base_atomics_are_awesome

This only has the changes to the BTL receive logic. Please run a standard set of two-sided tests. IMB would work. Feel free to push back and changes btl/usnic needs.

The old receive callback got btl, tag, descriptor, cbdata. The new callback gets the btl and a new receive descriptor which contains the tag, endpoint, received messag

[2020-06-23 15:15] hjelmn commented on #7830
Really curious if there are any performance regressions. There shouldn't be but that is going to be where any pushback will be.

[2020-06-23 15:21] jsquyres commented on #7615
We talked about this issue in our weekly Open MPI engineering roundup and came to the conclusion that you should probably raise this with Intel support.  The issue is generic to GNU Libtool -- it is not specific to Open MPI.

[2020-06-23 16:08] yosefe commented on #7857
@LudovicEnault thanks, so maybe the the problem is relating to making the right choice for CPU2 and CPU3.
1. can you pls attach the output of `numactl -H` and `lscpu`?
2. how was UCX ./configure'd? by default it tries to take libnuma, unless `--disable-numa` is passed?
3. can you pls attach the script ./ucx_net_devices.sh for reference of the right way to select the device?

[2020-06-23 16:15] hppritcha opened #7862 "Open MPI v4.0.5 checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2020-06-23 16:48] hjelmn commented on #7861
You seem to have the two reversed. Swap "Latency between two nodes over iWARP using OpenMPI pml/ob1:" with "Latency between the same two nodes using UCX:".

I agree that is bad. Someone from the OpenUCX community needs to address this since the openib BTL is gone in later releases.

Can you try with ```--mca ob1 --mca btl vader,self,uct --mca btl_uct_memory_domains ib/cxgb4_0,rdmacm``` and see if

[2020-06-23 17:05] jsquyres commented on #7861
Is UCX falling back to TCP?

[2020-06-23 17:08] hjelmn commented on #7861
@jsquyres That is what I was thinking. By eliminating the top layer or UCX it helps to isolate what is going wrong.

[2020-06-23 17:16] jsquyres commented on #7861
Does UCX have controls like Open MPI to limit which devices/plugins/endpoints/whatever it uses?

[2020-06-23 17:20] yosefe commented on #7861
yes, set `UCX_NET_DEVICES=cxgb4_0:1` for example
However, UCX does NOT support iWarp for the time being (probably need to update OpenMPI FAQ)

[2020-06-23 17:24] hjelmn commented on #7861
Wait, but wasn't the removal of the openib btl based on OpenUCX supporting iWarp? It doesn't matter to me but that is what I remember from the discussion.

[2020-06-23 17:27] yosefe commented on #7861
Seems like a miscommunication. UCX can work over iWarp in TCP mode, but with RDMA (hence the worse performance)

[2020-06-23 17:28] jsquyres commented on #7861
We discussed this last week on the Tuesday teleconf: no one could remember _precisely_, but we all had the feeling that iWARP was supposed to be supported *somehow*.  We *thought* it was UCX, but perhaps it was Libfabric...?

In any case, the original report on this issue may well be that UCX fell back to TCP, thereby giving un-offloaded-TCP levels of performance.

@yosefe Can you explain what tha

[2020-06-23 17:37] yosefe commented on #7861
Sorry. let me rephrase that:
UCX can work over iWarp in using **TCP sockets**, but **not in RDMA-over-TCP mode** (hence the worse performance reported in this issue)

[2020-06-23 17:42] pllopis commented on #7861
So UCX provides a (sort of) SoftiWARP implementation, if I understand this correctly? It does rdma over tcp, but without using any offloading capabilities?

[2020-06-23 17:49] jsquyres commented on #7861
@yosefe Sorry, I'm still confused.  The iWARP protocol *is* message passing and RDMA over TCP sockets.

I think the question is: does UCX support iWARP devices via the IB verbs API?  Because if so, then UCX should support both regular messaging and RDMA over TCP sockets (because the iWARP devices will utilize the iWARP wire protocol, which -- for both regular messaging and for RDMA -- is fundament

[2020-06-23 17:57] yosefe commented on #7861
No. UCX does not support RDMA over TCP socket.

Yes, iWarp is working in not-OS-bypass / not-offloaded / plain POSIX sockets mode

[2020-06-23 18:06] jsquyres commented on #7861
@yosefe You are not making things any clearer.  ☹️  iWARP is a protocol.  There are many types of Ethernet devices; some natively support the iWARP protocol in hardware, others do not.

Are you saying that UCX has a userspace software-based iWARP implementation (that assumedly works on _all_ Ethernet devices, not just iWARP hardware devices)?

Or are you saying that UCX has a TCP mode that works o

[2020-06-23 18:10] leofang commented on #7733
Hi @bosilca @sjeaugey @Akshay-Venkatesh I am revisiting this issue to ensure my understanding on what CUDA-awareness can and cannot do, as it's little documented AFAIK...So far we've put this in production without noticing issues, so I am still surprised how complicated the problem is.

Let's revisit @bosilca's earlier example:
[code]
My question is, for such common CUDA/MPI mix-up operations, wha

[2020-06-23 18:12] yosefe commented on #7861
Yes

[2020-06-23 18:29] jsquyres commented on #7861
Ok.  So just to be 1000% clear for those who end up on this issue in the future:

As of today (23 June 2020 / UCX v1.8.), UCX does not support iWARP at all.

[2020-06-23 18:30] jsquyres commented on #7861
@pllopis I believe we wrote that FAQ entry back when we understood that UCX supported iWARP.  Apparently, that is incorrect.  Could you try the OFI MTL (i.e., libfabric)?

[code]

[2020-06-23 18:38] sjeaugey commented on #7733
CUDA-aware MPI only means you can use pointers to CUDA memory. It does not mean anything w.r.t. streams (at least today).

In the example, the only thing you need is to add a cudaStreamSynchronize before MPI_Isend to make it correct (the stream being default/sync/async doesn't matter):
[code]

[2020-06-23 18:50] pllopis commented on #7861
Thanks to all for the awesome support! Indeed I'll try out what was suggested. The issue is clearly understood now.

I'm trying to find a configuration that works well for both Infiniband and iWARP, is there any way to achieve that on OpenMPI 4? (i.e. one config that gets the low latency on both networks, without changing component configurations for each case) If you prefer, I can open a new issu

[2020-06-23 18:54] jsquyres commented on #7861
No need for a new issue, this is all kinda the same thing...

UCX is definitely Mellanox's preferred mechanism for IB support these days.  So `mpirun --mca pml ucx ...` is the best way to go for IB.

IB _does_ work with the `openib` BTL, but it's not preferred (and will be going away in the Open MPI v5.x series).  It's mostly unmaintained at this point, so if you find bugs in the v4.x series, it m

[2020-06-23 19:00] hjelmn commented on #7861
For the BTL route the UCT btl has replaced openib for IB but requires extra configuration until I can find time to ensure that enabling btl/uct has no negative impacts on pml/ucx.

[2020-06-23 19:01] leofang commented on #7733
Thanks, @sjeaugey!

Right, which is why this issue was opened and why I'm seeking guidance 🙂

I should have been clearer. By "sync/async" I am referring to the MPI call (ex: `MPI_Send` vs `MPI_Isend`, see the comment I left in the code snippet), not the cuda stream.

Next, how about the subsequent kernel launch following the MPI call? What do we need to ensure the correction of its operation?

[2020-06-23 19:20] sjeaugey commented on #7733
In the CUDA -> MPI direction you need a call to cudaStreamSynchronize to make sure CUDA operations are complete.

Similarly, in the MPI -> CUDA direction you need to wait for MPI operations to be complete, i.e. call MPI_Wait[all/any], or use synchronous operations, before starting new CUDA kernels.

Now I didn't reuse the example above, as kernel2 could still be launched after MPI_Isend (without w

[2020-06-23 20:28] jsquyres commented on #7861
I have confirmed that Libfabric supports iWARP.  Specifically:

* The `verbs` provider supports iWARP devices.
* The `rxm` provider supports the tagged message support that Open MPI needs.

Meaning: there is likely some way to get `mpirun --mca pml cm --mca mtl ofi ...` to work.  If that command line doesn't work out of the box (i.e., if Open MPI doesn't automatically select `rxm`+`verbs` for your

[2020-06-23 22:14] adammoody commented on #5643
Thanks @edgargabriel , it's great to hear that external32 is coming in a future release!

[2020-06-23 22:48] adammoody commented on #5643
And thanks for investigating the problem in the reproducer in the other issue, @ggouaillardet and @edgargabriel .

[2020-06-24 04:22] zhucaoxiang opened #7864 "Failed in check-TESTS at opal_proc_table when installing on MacOSX"
## Background information

* open-mpi version: v4.0.4
* Install: Homebrew/2.4.1
* Compiler: GCC/9.3.0
* Operating system/version: OSX/10.15
* Computer hardware: Intel x86-64h Haswell
* Network type: Wifi (?)

-----------------------------

## Details of the problem
Hi, I am trying to install `open-mpi` on my MacBook pro 2019. I was using `homebrew` for the installment with the compiler of `GCC/9.3

[2020-06-24 09:43] pllopis commented on #7861
It does work, albeit with slightly higher latency than ob1:
[code]
In my build it picks it up automatically even if I just use `-mca pml cm`.

Thanks for the support.

[2020-06-24 09:51] pllopis commented on #7861
I think this is the expected outcome, but just to re-confirm, I tested this:
[code]

Cheers

[2020-06-24 10:59] pllopis commented on #7861
Sorry to not have added this before, but I just wanted to provide a bit of background/clarification on why I am getting this increased latency that I reported above when I used pml/cm:

I suspect this is related to what I reported in #7784 where using pml/cm and ofi resulted in high intra-node latencies. I am not sure how to force pml/cm with shared memory. My `fi_info` lists, amongst all the othe

[2020-06-24 12:58] hjelmn commented on #7861
What is the latency with the ofi btl? ```--mca pml ob1 ---mca btl self,vader,ofi```. I don't know if any other settings are needed.

[2020-06-24 13:47] pllopis commented on #7861
In every case where I don't use pml/cm, the intra-node latency is <1us

[code]
I'm assuming you meant the openib btl or the ofi mtl, as I don't see any ofi btl as per ompi_info (and trying to enable "ofi" as btl gives errors).

Any of the following provide sub-microsecond intra-node latency:

-  `-mca pml ucx`,
- `-mca pml ob1`
- `-mca pml ob1 -mca btl self,vader,openib`
- `-mca pml ob1 -mca btl s

[2020-06-24 14:28] hjelmn commented on #7861
Thats why I ask about btl/ofi. cm will never be the fast path for shared memory. It is easily beat by ob1 with btl/vader (now btl/sm). If btl/ofi works well for iWarp then maybe the right answer is ob1.

[2020-06-24 14:28] jsquyres commented on #7861
It's probably not entirely surprising that the latencies are a bit higher with CM and Libfabric for iWARP.  The iWARP support is at least somewhat emulated.

Specifically, the "CM" PML is intended for networks with MPI-style "matching" built in to the fabric itself.  By definition, MPI-style matching requires allowing matching across both shared memory and the network.  iWARP does not support MPI-

[2020-06-24 14:30] jsquyres commented on #7861
The "now" in Nathan's statement refers to the upcoming Open MPI v5.x series (i.e., vader was renamed to "sm" in Open MPI v5.x -- but that's still months away).

To clarify this point: there _is_ a BTL OFI, but I do not believe it exists in the v4.x series.  I think it's only on master (i.e., what will become the v5.x series).

[2020-06-24 14:40] tkordenbrock opened #7865 "portals4: fix inappropriate use of abort() in mtl-portals4 and coll-portals4 components"
As mentioned in https://github.com/open-mpi/ompi/issues/7726, the mtl-portals4 and coll-portals4 components call abort() in their progress threads when portals4 error events are generated.  Find a friendlier way to exit.

[2020-06-24 14:55] hjelmn commented on #7861
@jsquyres Might be worth a try with master. If it gives better performance it would be relatively simple to PR btl/ofi back to 4.1.x at least.

[2020-06-24 15:15] bjpalmer commented on #7813
The calls to MPI_Accumulate uses either an MPI SubArray or MPI Struct as the datatype argument. I'm assuming that there is no chance that a SubArray can specify overlapping entries.

[2020-06-24 15:27] devreal commented on #7813
OK, I will have to check what datatype is used in that case then (I was assuming indexed as that would be my choice for the random index pairs in `test.F`). I guess structs can contain overlapping entries.

[2020-06-24 15:37] bjpalmer commented on #7813
I pushed a fix for the overlapping entries problem to the develop branch.

[2020-06-24 19:28] jsquyres commented on #7861
@hjelmn You have a very, very short timeframe (~a week) to PR that back to v4.1.x.  😄

[2020-06-24 19:34] lyu opened #7867 "v4.x: Using --map-by core:span causes error in MPI_Init"
## Background information

### What version of Open MPI are you using?
`4.0.4` from release tarball. ~~Can't test the git version since it requires `pandoc`.~~

### Describe how Open MPI was installed
OpenMPI configuration:
`./configure --prefix=$PREFIX --without-verbs --with-hwloc=internal`

### Please describe the system on which you are running
* Operating system/version: CentOS Linux release 7

[2020-06-24 19:42] hjelmn commented on #7861
@jsquyres I might do that proactively. There is no harm in including it and it could help with iWarp so why not.

[2020-06-24 20:00] jsquyres commented on #7864
We have seen this `make check` problem before when you already have a different Open MPI installation in your PATH / LD_LIBRARY_PATH.

Can you confirm that there are no other Open MPI installations in your PATH / LD_LIBRARY_PATH?

Also, can you specify the exact command you used to homebrew install Open MPI?  When I did it on my High Sierra laptop, it installed Open MPI binaries (and therefore did

[2020-06-24 21:33] simonbyrne opened #7868 "mpiexec always reports `stdout` as a terminal"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Homebrew on MacOS, Cluster provided version on Linux

### Please describe the system on which you are running

[2020-06-24 22:42] rzambre opened #7869 "Need to explicitly set --with-hwloc=internal for successful build"
## Background information

Got the following error at the end of compilation.

[code]

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.4 relase tarball

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

### Please describe the sys

[2020-06-24 23:16] rzambre opened #7870 "Unable to bind to multiple cores with MPI+OpenMP"
## Background information

Running this benchmark: https://github.com/rzambre/mpi-openmp-bench/blob/master/rma/multiple_put_with_lock_flush_mbw_mr.c

Compile with `make multiple_put_with_lock_flush_mbw_mr`.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

openmpi-4.0.4.tar.gz

### Describe how Open MPI was installed (e.g., from a source/distribut

[2020-06-25 01:27] rzambre commented on #7870
Never mind, there was some issue in my environment after submitting a slurm job. I was able to achieve the expected output using a fresh bash session.
[code]

[2020-06-25 01:27] #7870 closed

[2020-06-25 05:03] zhucaoxiang commented on #7864
@jsquyres Thanks for your reply. That might be the reason. I installed open-mpi at the very beginning, but it was associated with `clang`. So I `brew rm open-mpi` and checked with `which mpicc` (not found). I re-installed it with the following command to enforce using `gcc-9`.
[code]

[2020-06-25 05:31] bgoglin commented on #7869
Thos function are hwloc 2.x functions that are not in 1.x, hence you could be using hwloc 2.x headers with hwloc 1.x libs. Can you show how hwloc in installed on your system (which version(s) and where) and whether you specified something in the environment for hwloc include and lib path?

[2020-06-25 07:12] devreal commented on #7813
@bjpalmer thanks, both `test.x` and `overlay.x` now succeed locally (though I wonder whether that should be addressed inside GA's MPI-RMA adapter as users may still provide overlapping entries in applications...)

I am still seeing `scan.x` fail with osc/ucx (`Scan_copy failed.`) but it's not entirely clear what happens in this test and how to debug that as there seem to be multiple operations inv

[2020-06-25 07:43] pllopis commented on #7861
Thanks for all the extra input.  I tried to join the webinar yesterday but I had issues connecting to Webex, so I will watch the uploaded version, thanks for the heads up.

I agree. I am running the latency benchmark as I know that's one of the indicators for how well some of the applications will run.

I have built OpenMPI from the master branch and so far I'm getting the same behaviour. For the

[2020-06-25 07:43] leofang commented on #7733
Thank you, @sjeaugey! 🙏 I think it's clear to me now.

[2020-06-25 15:16] jsquyres commented on #7861
@hjelmn @pllopis Guess what? @bwbarrett already back-ported the OFI BTL to the v4.1.x branch.

So @pllopis, you might want to try `mpirun --mca pml ob1 --mca btl ofi,vader,self ...` on a v4.1.x nightly build (v4.1.0 hasn't been released yet): https://www.open-mpi.org/nightly/v4.1.x/ (any build starting from last night should be ok)

Just to clarify some things:

- UCX is the PML that only uses UCX

[2020-06-25 15:35] jsquyres commented on #7869
@bgoglin In OMPI v4.0.x, we support hwloc>=v1.5, so there's probably some missing protection of those hwloc2 functions somewhere.

[2020-06-25 15:56] pllopis commented on #7861
Thank you for the clarifications, this helps understand some things, especially the part about CM using MTLs vs OB1 using BTLs.

I edited my previous comment above. I can already get good performance on iWARP-enabled nodes for both intra and inter-nodes if I use `--mca pml ob1`. Sorry for the confusion.

In light of this, I my case I think I wouldn't want to use CM at all? Compared to ob1, it has

[2020-06-25 16:28] bjpalmer commented on #7813
It looks like the scan.x test is failing because an underlying MPI_Accumulate is trying to use overlapping entries. The accumulate operation is producing incorrect results, which then lead to an MPI_Abort. I will modify the test so that it does not do this (the accumulates are used as a check on the results of scan_copy, so they are not integral to the test).

I've also tried running Open MPI 4.0.

[2020-06-25 16:41] tonycurtis opened #7874 "Compile: error (undeclared variable) in UCX osc component"
Thank you for taking the time to submit an issue!

## Background information

Error in UCX component during compilation

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

git master @ 634f67b216fdcce841867f15ecd75538e65702e8

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating syste

[2020-06-25 16:43] devreal commented on #7874
Oops, that comes from my PR, sorry for that. Will post a fix soon

[2020-06-25 16:48] devreal commented on #7874
Strange, that `free` was not there in my PR: https://github.com/open-mpi/ompi/pull/6980/files#diff-77ea785e333e9e6e17e99a4460cb88c1R742 Not sure where that comes from but working on a fix.

[2020-06-25 17:05] devreal commented on #7874
There was a merge conflict between https://github.com/open-mpi/ompi/pull/6980 and https://github.com/open-mpi/ompi/pull/7843 that inserted a stray call to `free`. I wonder why Github didn't complain (I saw it complain in other projects, requiring a rebase before the merge). The fix is in #7875, thanks for catching that @tonycurtis

[2020-06-25 19:04] zhucaoxiang commented on #7864
@jsquyres When I build from the downloaded source, I used the following command.
[code]

The error I got was
[code]
I have tried different solutions searched from the internet. During the trials, I also saw errors with `hwloc` even though I explicitly enforce `--with-hwloc=internal --with-libevent=internal `.

[2020-06-25 19:12] bjpalmer commented on #7813
I pushed a change in scan.x that should get rid of the failure you are seeing.

[2020-06-25 23:13] tonycurtis commented on #7867
BTW you should be able to just create a shell script that does `exit 0` or equivalent called `pandoc` ( or symlink to `/bin/true` for example).  That will pass.

[2020-06-26 04:05] #7874 closed

[2020-06-26 05:28] rzambre commented on #7869
@bgoglin I have my own installation of hwloc-2.1.0 whose, `bin`, `lib`, `include` paths I have included in the `PATH`, `LD_LIBRARY_PATH`, `LIBRARY_PATH`, `C_INCLUDE_PATH`, and `CPLUS_INCLUDE_PATH` environment variables.

[code]

[2020-06-26 06:08] devreal commented on #7813
@bjpalmer I tried the fix and a run with a single process succeeds but the test hangs on 4 processes, with one process stuck in `MPI_Allgather` and three in `MPI_Barrier`:

Output:
[code]

The one in MPI_Allgather:
[code]

The ones in `MPI_Barrier`:

[code]

It looks like the check for `if(num.gt.nelements_max)` only triggers on one process.

[2020-06-26 09:15] bgoglin commented on #7869
@jsquyres I manually verified, couldn't find any non-protected call to these functions. Do you guys still don't have a CI building OMPI on hwloc 1.x?

@rzambre Check whether there are some hwloc official packages from your distrib installed. It really seems to me you have a hwloc 1.x library somewhere that the compiler picks up first when linking. If you have updatedb, "locate libhwloc" will help.

[2020-06-26 09:33] LudovicEnault commented on #7857
Hello,
1. output of numactl -h and lspcu attached
2. I used the following option to compile UCX (those used by Mellanox but with logging capabilities): `--build=x86_64-redhat-linux-gnu --host=x86_64-redhat-linux-gnu --disable-dependency-tracking --disable-optimizations --enable-logging --disable-debug --disable-assertions --disable-params-check --enable-cma --without-cuda --without-gdrcopy --with-

[2020-06-26 10:16] devreal commented on #7813
I ran the test suite on 4 Haswell-based IB nodes (as far as I got within the 30 minute limit for interactive jobs on our system) and see tests failing that didn't fail when I ran them locally:

- `FAIL: global/testing/ntestfc.x`: this test failed with the following UCX error in `MPI_Finalize` resulting in a `SIGABRT` (6):
[code]
@janjust Any idea what that could be?

- `FAIL: global/testing/scan_a

[2020-06-26 10:54] pllopis commented on #7861
I tried the nightly at https://download.open-mpi.org/nightly/open-mpi/v4.1.x/openmpi-v4.1.x-202006260337-4654149.tar.bz2, but I'm getting a crash when using `mpirun --mca pml ob1 --mca btl ofi,vader,self ...`

[code]

The above is for the nodes that do iWARP, but I tried for both IB and iWARP, with the same outcome.

I welcome these improvements :) but as I mentioend in my previous comment: if I'm

[2020-06-26 13:30] liqi17thu opened #7878 "Unable to find environmental variables"
## Details of the problem

I want to determine the local_rank and world_size using following code in python:
[code]
but I find those environmental variables don't exist. The default version of Open MPI is v1.10.3, so I also try to install the newest version from the source tarball, which is v4.0.4. But the environmental variables are still not set.

### Please describe the system on which you are

[2020-06-26 13:39] awlauria commented on #7878
What is the output when you print them? I am unable to reproduce, copying your script and running under mpirun:

[code]

[2020-06-26 13:55] liqi17thu commented on #7878
Actually I am using apex distributed data-parallel, so more complete code in script is
[code]

 Before I can simply run
[code]
and everything goes well. But after switching to a new public cluster it doesn't work anymore and I find the problem is above environmental variables are not set. Another issue is I am running 1 job using 2 machines, so in the past, I use OMPI_COMM_WORLD_RANK to check whet

[2020-06-26 13:57] hjelmn commented on #7813
@devreal How is osc/rdma looking for these tests after your fix?

[2020-06-26 14:04] ggouaillardet commented on #7878
these environment variable are set by `mpirun` or `mpiexec`. If your cluster features direct launch (e.g. `srun` or cray alps), these environment variables are not set.
is there any reason why you would not use `mpi4py` and the python equivalent of `MPI_Comm_rank()` and `MPI_Comm_size()` ?
not you might be luckier with the `PMIX_*` variables such as `PMIX_RANK`.

[2020-06-26 14:05] devreal commented on #7813
@hjelmn is there a chance to test osc/rdma without the openib btl? I tried `--mca osc rdma --mca btl uct` but the `uct` (or `ucx`) btl is not found.

[2020-06-26 14:22] liqi17thu commented on #7878
I use two machines (each with 4 GPUs) to run a PyTorch-based job. I use a bash script to set up the environment and run the python script. Now two machines run the script simultaneously (before I can use OMPI_COMM_WORLD_RANK to make sure only one machine set up the environment but now it is set up twice) and two independent python jobs are launched.

[2020-06-26 14:52] hppritcha commented on #7867
I'm able to reproduce this.

[2020-06-26 15:03] jsquyres commented on #7867
Or you could just download a pandoc binary from https://github.com/jgm/pandoc/releases/ 😄

[2020-06-26 15:29] devreal commented on #7813
I have updated my summary above, the unaligned AMO errors and errors in `MPI_Finalize` are gone after merging https://github.com/open-mpi/ompi/pull/7871 into `master`. The tests that fail now are not trivial to debug, some seem to trigger race conditions as stepping through them lets them succeed. Plus, some of them are generated from macros, which makes debugging a challenge. @bjpalmer can you tr

[2020-06-26 16:02] lyu commented on #7867
OK, built OMPI from the master branch, the error messages are:
[code]
Not sure what happened, but looks like a different issue, or simply because of changes to launch parameters.

[2020-06-26 17:16] jsquyres commented on #7867
Yes, master and the v4.x branches have an entirely different back-end for run-time support (i.e., master is what will eventually become v5.0.0, and that has had a complete revamp of the run-time system compared to the v4.0.x/v4.1.x series).

[2020-06-26 17:26] sjeaugey commented on #7878
@liqi17thu are you sure you are using MPI/mpirun ? as far as I know PyTorch has its own launcher so that's likely why you are having issues.

Getting the Open MPI environment variables only works when using Open MPI.

[2020-06-26 17:51] hppritcha commented on #7867
@jsquyres other binding options also exhibit this behavior

[2020-06-26 18:00] jsquyres commented on #7867
@hppritcha Mapping or binding or both?  Can you provide a list?

[2020-06-26 18:02] hppritcha commented on #7867
I'm busy bisecting

[2020-06-26 18:05] devreal opened #7880 "Segfaults trying to use osc/rdma with btl/uct on v4.0.x"
I'm trying to run `osc/rdma` with the `btl/uct` component on an IB cluster but see two different (possibly unrelated?) Segfault. (Unfortunately, `btl/openib` fails to open the device for some reason.) Both Segfaults happen when running with a single process.

With `--mca osc rdma -mca btl uct` I see the following Segfault in `ob1`:

[code]

With `--mca osc rdma -mca btl uct --mca pml ucx` (explici

[2020-06-26 18:38] devreal commented on #7880
Update: I see the same two Segfaults happen in `master`.

[2020-06-26 18:38] bjpalmer commented on #7813
I will download master and see if what kind of luck I have.

[2020-06-26 18:49] hjelmn commented on #7813
@devreal  You need to enable it used ```--mca btl_uct_memory_domains=```. You can find the ib memory domain with ucx_info.

[2020-06-26 18:53] #7612 closed

[2020-06-26 20:10] bjpalmer commented on #7813
Is that the correct syntax? My configure doesn't seem to have heard of it. It tried adding

--mca btl_uct_memory_domains=ml4_0

but I just get a message saying --mca is an unknown option. There doesn't seem to be anything similar showing up when I type configure -help.

[2020-06-26 20:11] hppritcha commented on #7867
git bisect is implicating 7643 commit 79c426885a4af7e2329e35acfc81ad6f7fc560ff

[2020-06-26 20:26] devreal commented on #7813
@hjelmn I found a second instance of the fragmented rput issue and posted a PR for `master`: https://github.com/open-mpi/ompi/pull/7882

So far, I see a bunch of tests failing with `osc/rdma` and `btl/uct` on 4 nodes using the patch above:

[code]

I will try to investigate that next week.

[2020-06-26 20:29] devreal commented on #7813
@bjpalmer Could you please try to use the UCX one-sided component? The `btl_uct_memory_domains` parameter is only needed when using the RDMA one-sided component with the UCX byte-transfer layer (yeah, my head keeps spinning, too).

You should only need to pass `--mca osc ucx` to use the UCX one-sided component.

[2020-06-26 21:25] bjpalmer commented on #7813
I must be missing something here, but I'm configuring with

../configure --prefix=/qfs/people/d3g293/ompi/build-ucx \
   --with-ucx=/people/d3g293/ucx-1.8.0 --disable-man-pages --mca osc ucx\
   --enable-mca-no-build=coll-ml,btl-uct --enable-orterun-prefix-by-default=yes

but I'm getting

[d3g293@constance03 build-ucx]$ ./build_csh
configure: error: unrecognized option: `--mca'
Try `../configure -

[2020-06-27 05:01] devreal commented on #7813
@bjpalmer Sorry, I slightly misread your first comment. The `--mca` configuration parameters are a runtime configuration mechanism passed to `mpirun`, not `configure`.  The "common symbol warnings" at the end of the build process are OK, your build seems to succeed.

[2020-06-27 16:00] jsquyres commented on #7867
What's the path forward on this one?

Is it just `--map-by core:span`, or are other mapping options affected?

Are binding options affected, too?

[2020-06-27 16:26] jsquyres commented on #7861
Yes, the way it is currently implemented, CM PML + OFI MTL will give you higher shared memory latencies because the OFI MTL is using the "MPI-style matching" functionality in Libfabric (which, because "MPI-style matching" must encompass *all* peers, will take over all communication to _all_ peers, both local [shared memory] and remote [iWARP]).  Put simply:

* Libfabric's shared memory functionali

[2020-06-27 16:27] jsquyres commented on #6228
FWIW, I confirm that this option does not exist on master / will not be in Open MPI v5.x.

I'm hesitant to remove it in Open MPI v4.x because of backwards compatibility issues (for at least the environments where it does currently work).

[2020-06-27 16:40] jsquyres commented on #6228
I take back my prior comment from a few minutes ago, because:

* `--enable-install-libpmix` (apparently) works on a git clone (according to past Jeff, who initially filed this issue 😄)
* It does _not_ work on any Open MPI v4.0.x tarball (I just manually tested this)

Hence, it has never worked for users.  Hence, there's no backwards compatibility issue.

Hence, I agree with Ralph: let's take it ou

[2020-06-27 17:05] jsquyres commented on #7869
@rzambre Please send all the build information listed on https://www.open-mpi.org/community/help/

[2020-06-27 17:24] lyu commented on #7867
@jsquyres Here is a list of `--map-by` options that can reproduce the error when used on OMPI 4.0.4
[code]
Adding modifiers like `:span` or `:PE=n` has no effect, the error persists.
Also, `--rank-by xxx` causes the same error using `xxx` from the list above.
Finally, `--bind-to xxx` has no effect, whether used alone or combined with other options.

[2020-06-27 18:53] jsquyres commented on #7864
Is there a reason you're building Open MPI from source with Homebrew rather than using the binary / already-compiled version?

I don't know why `make check` is failing in the Homebrew packaging, but it doesn't fail for me when I build Open MPI either from a git clone or a 4.0.4 tarball on my Mac, with either the MacOS gcc or the homebrew gcc-9.  So I'm not sure why the Homebrew packaged one is fai

[2020-06-27 21:20] rhc54 commented on #7867
The problem is clearly in the rank-by code. When you map-by an object, it automatically sets rank-by to the same object. You can work around the problem for now by simply adding `--rank-by slot` to your cmd line.

[2020-06-27 22:40] hjelmn commented on #7861
Yup. And I will take a look at ofi/btl and see what is going on. With was tested with highly threaded workloads for a paper so it probably is a simple bug.

[2020-06-27 23:52] rhc54 commented on #7867
FWIW: I cannot replicate any of these problems, including the `--map-by core:span` report for master, once master has been updated by https://github.com/open-mpi/ompi/pull/7886. I haven't looked at v4.

[2020-06-28 00:24] rhc54 commented on #7867
I should note that there is nothing in that PR that I can see as having an impact on the map/rank behavior.

[2020-06-28 15:07] yosefe commented on #7857
@LudovicEnault thanks for the info, so the problem with UCX is selecting the right device for socket1: it selects both mlx5_0:1 and mlx5_2:1 , but it should select only mlx5_2:1
Can you pls provide also:
1. The script check-ucx-info.sh
2. output of:
[code]

[2020-06-29 03:41] janjust commented on #7813
Just fyi, with the added updates in ga tests.
I now see only 1/80 tests failing using ompi v4.0.x and ucx-v1.8.x (I haven't checked master yet.)
scan.x failed, but it was either a hang, or just took too long.
I had to kill it - I'll rerun again with more added time. And the hang was in the collectives library.

[2020-06-29 14:07] LudovicEnault commented on #7857
Here you go:
1. [check-ucx-info.sh.txt](https://github.com/open-mpi/ompi/files/4845966/check-ucx-info.sh.txt)
2. [mlx5-device-info.txt](https://github.com/open-mpi/ompi/files/4845968/mlx5-device-info.txt) (only mlx5_0 and mlx5_2 have cables connected).
[code]

[2020-06-29 19:15] hppritcha opened #7892 "IBM attr-error-code test fails with OSC pt2pt component removed"
I"m seeing that random/attr-error-code is failing with the Pt2pt OSC component removed.
This is in the log file:
[code]

[2020-06-29 19:22] hppritcha commented on #7892
c_transpose6 fails in a similar manner.

[2020-06-30 07:05] devreal commented on #7892
It looks to me that osc/rdma does not select `btl/self` because it is missing `MCA_BTL_FLAGS_ATOMIC_OPS` and `MCA_BTL_FLAGS_ATOMIC_FOPS` capabilities. @hjelmn is there a reason `btl/self` does not implement atomic operations? Or could `btl/sm` be selected instead even for `MPI_COMM_SELF`?

[2020-06-30 11:41] yosefe commented on #7857
@LudovicEnault seems like different devices are selected for different endpoints (for different connections).
1. On my setup, i see potentially similar problem, which is resolved by adding `-mca coll ^hcoll` to mpirun. Can you pls check this flag as well?
1. can you pls upload ucx_default/job.log?

[2020-06-30 14:06] LudovicEnault commented on #7857
1. I am checking
2. [ucx_default-job.log.txt](https://github.com/open-mpi/ompi/files/4852325/ucx_default-job.log.txt), I made some cleaning (removing "UCX  WARN  object ... was not returned to mpool ucp_requests" and stuff like that)

[2020-06-30 14:13] bjpalmer commented on #7813
I discovered an array overflow in scan.F after I bumped up the size of the test. I've fixed it and checked it in so it may work better now. I'll also try compiling the fortran-based tests with the array bound checker on and see if anything else shows up. I will try running with --mca option and see what happens.

[2020-07-01 02:17] janjust commented on #7813
I tested the latest tests with ompi master branch (410596e), and with ucx-v1.8.x-mt
5/80 failures, significantly lower than what I previously measured.
[code]

I'll retest v4.0.x and report back on the scan.F issue if I still see it.

[2020-07-01 15:23] mrzv opened #7900 "Terminal size under OpenMPI"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Homebrew (same result for packages from the ArchLinux distribution)

-----------------------------

## Details

[2020-07-02 05:16] ricardopieper opened #7901 "MPI_Intercomm_merge never returns. Just hangs forever."
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Started to happen in all versions since 2.1.1, Tested 4.0.4, 4.0.2 and 2.1.1 (from sudo apt-get install libopenmpi2). It was working fine on all of them before.

### Describe how Open MPI was installed (e.g., from a source/

[2020-07-02 08:10] mkre opened #7903 "Configure support for Torque _and_ PBSPro"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from a source tarball

### Please describe the system on which you are running

* Operating system/version: va