[2015-02-26 17:30] rhc54 commented on #374
FWIW: I reviewed the code and it looks fine. Rolf: are you sure that tarball is current?

[2015-02-26 17:30] roblatham00 commented on #255
If you want to cherry pick a fix from MPICH, the commits are these two:
- check for pwrite, provide our own version:  http://git.mpich.org/mpich.git/commit/4e80e1d2b9
- remove the troublesome X_OPEN_SOURCE declarations: http://git.mpich.org/mpich.git/commit/5a10283bf7fd

[2015-02-26 18:17] rolfv commented on #374
This is with an updated master from this morning. Here is what my output looks like.  Looks like maybe a clue in there.
[code]

[2015-02-26 18:45] jsquyres commented on #374
FWIW, I'm able to replicate this on today's master when I run on a machine with no PSM hardware.  That may be the key.

[2015-02-26 18:49] yburette commented on #374
Thank you. I'm now able to reproduce the error on my system. It is the equivalent of trying to use a non-existing OFI provider:
```--mca mtl ofi --mca mtl_ofi_provider bla```

I'm still not sure what's missing here. When fi_getinfo() fails, init() returns NULL.

Is there a problem with the unloading of the component?
[code]

Do I need to "unregister" my string parameter somehow?

[2015-02-26 19:18] jsquyres commented on #374
@hjelmn Can you comment on this?  The relevant code is https://github.com/open-mpi/ompi/blob/master/ompi/mca/mtl/ofi/mtl_ofi_component.c#L64-L83

[2015-02-26 20:01] hjelmn commented on #374
The string should be getting automatically deregistered when the component is unloaded. Let me verify this is working as intended for this case.

[2015-02-26 20:19] jsquyres commented on #433
@rhc54 Any ideas here?  Is this possibly part of the code that you're just about to replace?

[2015-02-26 20:38] rhc54 commented on #433
I honestly have no idea. I assume it is doing a lot of runs during that time? Since each one is independent, it's hard to imagine the mechanism. Best guess would be that the tmp dir is getting filled?

[2015-02-28 03:50] eschnett opened #437 "Man page for MPI_Comm_split_type is wrong"
The man page of `MPI_Comm_split_type` (as available online at <https://www.open-mpi.org/doc/v1.8/man3/MPI_Comm_split_type.3.php>) is wrong. It speaks of "color", but there is no "color" argument to this function. I assume that this is a copy-paste error from the related function `MPI_Comm_split`. Judging from the possible values for the argument `split_type`, the main part of this man page needs t

[2015-02-28 17:34] #437 closed

[2015-02-28 19:25] jsquyres commented on #330
I think valgrind failed because you need to use `--enable-memchecker` (two dashes, not one).

But that's ok -- this does not feel like a valgrind issue.  The issue is why https://github.com/open-mpi/ompi-release/blob/v1.8/ompi/mpi/fortran/mpif-h/allreduce_f.c#L81 does not return MPI_IN_PLACE in this line of code:

[code]

OMPI_F2C_IN_PLACE is a macro that effectively expands to this (https://githu

[2015-02-28 22:42] howarthjw commented on #330
Oddly I don't see those debug messages output after rebuilding and reinstalling openmpi. What exact shell commands do you use locally to insure that the local build of openmpi is used rather the system one? The linkage looks correct here...

$ ldd ././a.out
	linux-vdso.so.1 =>  (0x00007fff5b9ff000)
	libmpi_usempi.so.1 => /home/howarth/dist_openmpi/lib/libmpi_usempi.so.1 (0x00007f4c651bb000)
	libmp

[2015-03-01 20:17] jsquyres commented on #330
Ah -- if you're not seeing the debug files, then you are, indeed, likely running the with "wrong" libmpi or module, and that could be the problem here.

Note that it's not sufficient to ensure that your PATH and LD_LIBRARY_PATH are set properly in your local shell, but also for non-interactive logins on your servers, too.  Check out these 3 FAQ items and see if they help:

1. http://www.open-mpi.o

[2015-03-02 06:14] igor-ivanov commented on #367
After talk with Alex it was agreed that oshmem logic should be changed.

[2015-03-02 09:30] bertwesarg commented on #367
Any news on this? Thanks.

[2015-03-03 12:48] nkogteva commented on #394
Looks like we have a significant improvement in modex performance (especially in modex_receive)  after fixes in grpcomm. Total pmix test execution time was reduced in more then 20 times:

![fence-page-001](https://cloud.githubusercontent.com/assets/5219209/6462594/7e945a48-c1bb-11e4-8f4d-5d285f39779f.jpg)
![modex_recv-page-001](https://cloud.githubusercontent.com/assets/5219209/6462595/813fbdfa-c1

[2015-03-03 14:24] jladd-mlnx commented on #394
Great data!!! Great work, Nadia and Elena!!

On Tue, Mar 3, 2015 at 7:48 AM, Nadezhda Kogteva <notifications@github.com>
wrote:

[2015-03-03 15:22] rhc54 commented on #394
Indeed - thanks! The time from modex to barrier would indicate that someone is doing something with a quadratic signature during their add_procs or component init procedures. We should probably instrument MPI_Init more thoroughly to identify the precise step that is causing the problem.

[2015-03-03 17:33] jsquyres opened #442 "Fix MCA var alias problem"
Per #441 and #438 and #415, we have an issue with MCA var aliases.

* If you ever register an MCA var alias for a variable outside of the alias' component, there's a race condition.
* For example, component A registers var X.  It reads the value of X and gets P.
* Then later, component B registers alias Y to var X.  The user invokes "mpirun --mca Y Q".
* ...but it's took late.  The value of X has

[2015-03-03 19:10] #255 closed

[2015-03-03 21:36] bosilca commented on #394
For the sake of completeness, here are some results from 2011 [1]. They are based on an Open MPI 1.6 spin-off (revision 24321). We compared it with MPICH2 (1.3.2p1 with Hydra over rsh and slurm), as well as MVAPICH (1.2) using the ScELA launcher. Some of these results were using the vanilla Open MPI, and some (the ones marked with the prsh) were using a optimized launcher developed at UTK.

This r

[2015-03-03 21:58] bosilca commented on #442
@bosilca Force all the aliases to be set to the same value. Don't force a
registration location or impose any other restriction capable of
introducing race conditions. Instead, the MCA system should simply prevent
the existence of multiple aliases with different values. To be clear if I
have A and its synonyms B and C, the MCA should only allows one of them to
be set (any non default value), and t

[2015-03-03 22:35] hjelmn commented on #380
@bosilca Any progress on the pack/unpack issue? We need a fix for 1.8.5.

[2015-03-03 22:37] jladd-mlnx commented on #394
Thanks, George. This is very enlightening.

On Tue, Mar 3, 2015 at 4:36 PM, bosilca <notifications@github.com> wrote:

[2015-03-03 22:58] bosilca commented on #380
Not yet, I had no time to look into this issue. It's on my TODO list but I
am not sure when I will get to it.

On Tue, Mar 3, 2015 at 5:35 PM, Nathan Hjelm <notifications@github.com>
wrote:

[2015-03-04 08:56] rhc54 commented on #394
Actually, what @bosilca said isn't quite true. The old ORTE used a binomial tree as its fanout. However, we switched that in the trunk to use the radix tree with a default fanout of 64, so we should look much more like the routed delta-ary tree curve.

[2015-03-04 09:48] ggouaillardet commented on #403
i fix the issue related to btl/openib in open-mpi/ompi@f43b5b46ee745e27ead0e0cbe95fff2a2f5c1c9f

there is an other issue with pml/ob1 i am working on
FWIW, here is where i am :
[code]

[2015-03-04 10:47] miked-mellanox commented on #414
not reproducible anymore, since fix in yalla.
cannot reproduce in ob1.
closing for now, will reopen if re-appear.

[2015-03-04 10:48] miked-mellanox commented on #402
fixed with yalla patch.
unable to repro on ob1 now.
will reopen if reappear.

[2015-03-04 13:01] jsquyres commented on #442
@hjelmn and I talked through this possibility yesterday morning.  We also remembered talking through this issue waaaaay back when designing the MCA system revamp.

It wasn't done for the following reasons:

* There is long-standing precedent (from the old MCA var system) that if you specify an MCA var multiple times, the "last" one is the value that wins.  E.g., "mpirun --mca foo bar --mca foo yow

[2015-03-04 13:38] alinask commented on #442
@jsquyres can you please explain what you meant by "register all the aliases at the same time as the original var"?
Where would it be - in oob/ud in this example?
Also, what do you mean by "hide" those aliases until their actual component is registered"?
If opal_common_verbs_want_fork_support is already registered and used in oob/ud then what would happen to its usage when openib btl is registered

[2015-03-04 13:52] jsquyres commented on #442
@alinask See the "The best that we could come up with is..." bullets in my initial description, and the "Will add some magic..." comments following those bullets.  If they don't make sense, I can explain further.

For the specific want_fork_support case: I'm still assuming that oob/ud and btl/openib call opal/mca/common/verbs to do the actual work.  I.e., the code won't be duplicated into oob/ud a

[2015-03-04 15:23] bosilca commented on #394
@rhc54 If at any moment ORTE would have had the scalable behavior you describe, we would not be here to discuss about it.

[2015-03-04 15:41] rhc54 commented on #394
Ah now, George - don't be that way. My point was only that we haven't used the binomial fanout for quite some time now, and so your graphs are somewhat out-of-date.

ORTE has exhibited very good scaling behavior in the past, despite your feelings about it. According to you're own data, we do quite well when launching in a Slurm environment, which means that the modex algorithms in ORTE itself were

[2015-03-04 16:36] rolfv commented on #393
After further investigation, this has nothing to do with CUDA-aware.  It turns out that this is an intermittent problem and that tripped me up.  Such a simple test.  I am going to give this back to Nathan.

[2015-03-04 17:09] hjelmn commented on #403
@ggouaillardet Looks good to me so far

[2015-03-04 17:11] hppritcha commented on #394
George, for the data in the cited paper, were the apps dynamically or statically linked?  Also, which BTLs were enabled?

[2015-03-04 17:25] bosilca commented on #403
@ggouaillardet <https://github.com/ggouaillardet> The change in pml_ob1.c
seems wrong to me. The header that is prepared is ((mca_pml_ob1_fin_hdr_t
*) fin->des_segments->seg_addr.pval) and not (mca_pml_ob1_fin_hdr_t *)fin.
"fin" is a mca_btl_base_descriptor_t which has nothing to do with a header.

On Wed, Mar 4, 2015 at 12:09 PM, Nathan Hjelm <notifications@github.com>
wrote:

[2015-03-04 17:33] hjelmn commented on #403
@bosilca Ah, yes. Good catch. That line is clearly wrong.

[2015-03-04 19:09] rolfv opened #444 "c_fetch_and_op, c_get_accumulate, c_reqops hang with master"
These 3 tests are in the IBM onesided area and all three hang when running.  You can just run with np=2 and use any BTL.  These tests are passing in the 1.8.4.

[2015-03-05 09:49] alinask commented on #433
@rhc54 I checked the tmp dir during the hang on all the nodes and they aren't full.

[2015-03-05 16:32] rhc54 commented on #433
I gather all the daemons are gone, but mpirun remains? Only thing I can think of is that somehow mpirun doesn't realize that the job is "done" even though the daemons quit. More disturbing frankly are the zombies. It sounds like something is happening in IMB (in the MPI layer or whatever) that has frozen the job so we can't kill the procs even with a SIGKILL.

[2015-03-05 16:40] bosilca commented on #394
Hopefully there have been significant progress on ORTE design and infrastructure with palpable impact on it's scalability. I might have failed to correctly read @nkogteva results, but based on these I can hardly quantify all these improvement you are mentioning.

Superpose @nkogteva results on the graphs presented above. What I see from the new scalability graphs is that at 120 processes one needs

[2015-03-05 16:46] bosilca commented on #394
@hppritcha the cluster was a heterogeneous cluster, more like a cluster of clusters. Some of these clusters were IB-based, some others MX and few had only ethernet 1G. We didn't restrict the BTLs on the second graph (the one going up to 900 nodes). The application were dynamically linked, but the binaries were staged on the nodes before launching the application (no NFS in our experimental setting

[2015-03-05 22:45] jladd-mlnx commented on #394
@bosilca I think it might be worthwhile for my team to to try to reproduce your experiments. Should be pretty straightforward as @nkogteva has automated the process. What version of OMPI was used?

[2015-03-05 23:57] bosilca commented on #394
r24321. We used a Debian 5.0.8 that came with SLURM 1.3.6.

On Thu, Mar 5, 2015 at 5:45 PM, Joshua Ladd <notifications@github.com>
wrote:

[2015-03-09 15:59] #311 closed

[2015-03-09 20:07] hjelmn commented on #374
I see the problem. Working on a fix now.

[2015-03-09 21:35] hppritcha opened #455 "mpi_f08 interface to MPI_Comm_idup needs updating"
Per MPI-Forum ticket [#168](https://svn.mpi-forum.org/trac/mpi-forum-web/ticket/168), need to add ASYNCHRONOUS attribute to newcomm argument.

[2015-03-09 21:46] hppritcha opened #456 "need to verify Open MPI complies with MPI Forum ticket #419"
Need to verify that Open MPI complies with corrections made in MPI 3.1 standard concerning neighborhood collectives and non-symmetric graphs.  MPI Forum Ticket [#419](https://svn.mpi-forum.org/trac/mpi-forum-web/ticket/419).

[2015-03-10 15:12] jsquyres commented on #330
@howarthjw Any update?

[2015-03-10 18:38] hppritcha opened #460 "Open MPI missing MPI_COMM_DUP_FN and relatives for mpi_f08 bindings"
It appears the the mpi_f08 bindings for MPI_Comm_dup_fn, etc. are missing.  Looks like they
should be in attr-fn-f08-callback-interfaces.h.

[2015-03-10 18:59] jsquyres commented on #311
Just to tie off this issue: #410 was the PR that contained the final solution for this issue.

[2015-03-10 19:05] hjelmn commented on #444
Thanks for reporting. I will track this down.

[2015-03-10 19:09] hjelmn commented on #456
Ticket says there is no impact to implementers so we don't really *need* to do anything. It would be nice to have a check for a symmetric graph though. This check could probably be done at communicator creation and enforced in the neighborhood collective routines.

[2015-03-10 20:10] #444 closed

[2015-03-10 20:24] hppritcha opened #462 "need fortran 08 ts style interfaces"
Open MPI doesn't currently define the "ts" fortran 08 interfaces added as part of MPI 3 errata.
See Item 18 in B.1.1 of the proposed MPI-3.1 standard, as well as MPI Forum trac item [388](https://svn.mpi-forum.org/trac/mpi-forum-web/ticket/388).

[2015-03-10 20:28] jsquyres commented on #462
Specifically, see Table 17.1 in (the new) section 17.1.5 in MPI-3.1.

[2015-03-10 20:58] hppritcha opened #464 "MPI_Aint addressing arithmetic functions needed"
The MPI-3.1 MPI_Aint helper functions MPI_Aint_add and MPI_Aint_diff need to be implemented.
See MPI-Forum ticket [349](https://svn.mpi-forum.org/trac/mpi-forum-web/ticket/349) and sections 2.6.4 and 4.1.5 of the MPI-3.1 standard document.

[2015-03-11 12:27] nasailja opened #466 "mpirun consumes stdin unecessarily"
With regular programs I can queue up several commands while previous ones are executing by just typing stuff or using up/down keys and enter but that doesn't work with mpirun as everything I type while mpirun is executing is consumed and ignored. For example if I run sleep 10 and while it's waiting type echo test I see test echoed on screen after sleep returns but when running sleep 10 via mpirun

[2015-03-11 13:01] jsquyres commented on #466
FWIW, I've noticed this issue, too.  And you're right: it is annoying.  It would be a quite a bit of work to fix it, unfortunately.

A little background...

With a "normal" program (e.g., not mpirun), input is slurped off stdin when the process itself reads from stdin.  stdin usually defaults to line mode, so input is read a line at a time.  Hence, if you:

[code]

i.e., you type `echo test` while

[2015-03-11 13:21] nasailja commented on #466
That does sound like too much work. I though it would be possible to connect or pass through stdin of mpirun to stdin of whichever single program is launched so that stdin reads of that program would be taken from mpirun's stdin. I couldn't find anything like this though. Or maybe in case of a single program one could replace mpirun's stdin with the one of the launched program? In that case mpirun

[2015-03-11 13:32] rolfv commented on #444
This has fixed my issues.  Thanks.

[2015-03-11 13:35] jsquyres commented on #466
Unfortunately not.  One major complicating factor is that mpirun may not be running on the same server as the process(es) that receive the stdin forwarding.

[2015-03-11 14:09] rhc54 commented on #466
Or you could just tell mpirun not to slurp stdin by adding “—stdin none” to the cmd line

[2015-03-11 17:30] hppritcha commented on #394
I've gotten some data off of the edison system at NERSC (cray XC30) 5500 node system.  Its not practical except during DST to get more than about 500 or so though.  I've managed to get data comparing job launch/shutdown times for a simple hello world - no communication, using the native aprun launcher.  8 ranks per node.  I'm not seeing any difference in performance between master and the 1.8 bran

[2015-03-12 04:25] rhc54 commented on #394
I'm afraid that doesn't really tell us anything except to characterize Cray PMI's performance. When you direct launch with aprun, OMPI just uses the available PMI for all barriers and modex operations. So none of the internal code in question (i.e., PMIx) is invoked.

The real question here is why you are having hangs with mpirun at such small scale. We aren't seeing that elsewhere, so it is a con

[2015-03-12 13:30] miked-mellanox opened #469 "--cpuset is not working when head node has different topology than compute nodes"
setup:

* headnode (nodeA), Compute node (nodeB,nodeC).
* nodeA has different cpu topology than B,C

problem:

When mpirun --cpuset is executed from headnode but hostlist uses nodeB,nodeC - the mpirun consults nodeA topology for cpu-list instead nodeB/nodeC.

command line to reproduce

[code]

logs:

* mpirun from nodeB (problem not exists when launched from nodeA):
ftp://bgate.mellanox.com/upload

[2015-03-12 13:55] hppritcha commented on #394
The data is useful in helping to sort out whether any performance
difference between 1.8 and master is due to the btls.  Id say that at least
on the system where this data was collected the answer appears to be no.
On Mar 11, 2015 10:25 PM, "rhc54" <notifications@github.com> wrote:

[2015-03-12 20:57] eschnett opened #471 "./configure does not look into hwloc's "lib" directory"
I configured OpenMPI 1.8.4 with a self-built hwloc library using the command
[code]

This was on OS X; I also tried Linux.

The configure stage aborted with the error (taken from `config.log`):
[code]

A few lines further up I see
[code]

This indicates that OpenMPI does not look into hwloc's `lib` directory, but only into its `lib64` directory. Unfortunately, there is no `lib64` directory, and hw

[2015-03-12 23:15] rhc54 commented on #471
Odd - it looks like the configure code should first be checking the with_hwloc/lib and then with_hwloc/lib64, so it should have worked. However, I do note that a couple of variables aren't initialized in that code, and so maybe that's the problem? See if this patch helps:

[code]

Note that you will be required to re-run autogen.pl before configure so this can take effect.

[2015-03-12 23:34] jsquyres commented on #471
Can you put the full configure output and config.log in a gist?

[2015-03-12 23:38] rhc54 commented on #471
Ignore my above comment - my bad. The 1.8 series definitely has a bug in it. Specifically, if you don't explicitly set the libdir, then we leave that variable empty. OMPI_CHECK_PACKAGE will then only look at the default LD_LIBRARY_PATH location - it never looks at any with_hwloc/lib or with_hwloc/lib64 options.

Looks like it applies to master as well.

[2015-03-13 01:15] rhc54 commented on #471
Jeff: consider the following patch (this is against 1.8, but should apply to master:

[code]

[2015-03-13 11:09] jsquyres commented on #471
:+1:

[2015-03-13 11:30] jsquyres commented on #471
Wait, no -- that patch is wrong.  Let me investigate...

[2015-03-13 11:52] jsquyres commented on #471
@eschnett I'd still like to see your OMPI configure output and config.log -- I'm not sure why OMPI would pick $hwloc_dir/lib64 over $hwloc_dir/lib (especially if $hwloc_dir/lib does not exist).

Are you sure that OMPI is not checking $hwloc_dir/lib64 *after* it checks $hwloc_dir/lib?  It *should* be checking for both.  And if it fails with $hwloc_dir/lib, that area in config.log should provide som

[2015-03-13 14:55] rhc54 commented on #471
Are you sure that patch is wrong? Here is what I see when I trace the code. Let's assume that we have one hwloc version in a standard installation location, but we want to use the one we hand-built under our home directory. So we configure --with-hwloc=<foo>.

In the current code, this means that OPAL_CHECK_PACKAGE (in the master) is called with the following arguments:

[code]
If I then look at O

[2015-03-13 18:11] rhc54 commented on #55
Per Mellanox, this can be closed. Any further work will be done on a separate new ticket.

[2015-03-13 18:11] #55 closed

[2015-03-13 18:12] rhc54 commented on #192
Per Mellanox, this can be closed. Any further work will be done on a separate new ticket.

[2015-03-13 18:12] #192 closed

[2015-03-13 18:13] rhc54 commented on #148
Per Mellanox, this can be closed. Any further work will be done on a separate new ticket.

[2015-03-13 18:13] #148 closed

[2015-03-13 18:13] rhc54 commented on #109
Per Mellanox, this can be closed. Any further work will be done on a separate new ticket.

[2015-03-13 18:13] #109 closed

[2015-03-13 18:13] rhc54 commented on #101
Per Mellanox, this can be closed. Any further work will be done on a separate new ticket.

[2015-03-13 18:13] #101 closed

[2015-03-13 18:13] rhc54 commented on #94
Per Mellanox, this can be closed. Any further work will be done on a separate new ticket.

[2015-03-13 18:13] #94 closed

[2015-03-13 18:14] rhc54 commented on #93
Per Mellanox, this can be closed. Any further work will be done on a separate new ticket.

[2015-03-13 18:14] #93 closed

[2015-03-13 18:15] rhc54 commented on #180
Per Mellanox, this can be closed. Any further work will be done on a separate new ticket.

[2015-03-13 18:15] #180 closed

[2015-03-13 21:43] jsquyres opened #473 "Vader BTL crashes"
Per the thread starting here: http://www.open-mpi.org/community/lists/devel/2015/03/17131.php

@opoplawski is seeing crashes in the Open MPI test suite in openmpi-1.8.4-99-20150228 (Feb 28 nightly tarball) with the vader BTL.  If he disables the vader BTL, the crashes go away:

[code]

@hjelmn Can you have a look?

[2015-03-13 23:27] hjelmn commented on #473
Trying to wrap my head around this stack trace. It should not be possible. Check fboxes reads from a pointer in a shared memory segment owned by the sender. The sender's fat box data pointer is initialized by the sender before it is sent to the receiver. This rules out the possibility that the sending process ran out of room in its shared memory segment.

Only thing i can think of is memory corrup

[2015-03-13 23:42] hjelmn commented on #473
Even more suspicious. The line number of the crash is not the first read from either the fast box or the endpoint. This is not likely Vader's fault.

[2015-03-14 00:39] jsquyres commented on #473
@opoplawski Can you post the program here that caused the problem?

[2015-03-14 02:31] opoplawski commented on #473
Note that the stack trace is from one of the hang conditions where each process spins in opal_condition_wait().  Other times it will trigger and MPI error.   I'm afraid the test program is fairly involved.  It's the nc_test4/tst_nc4perf.c (https://github.com/Unidata/netcdf-c/blob/master/nc_test4/tst_nc4perf.c) test program in netcdf 4.3.3.1 that makes use of HDF5 IO - in this case its hdf5 1.8.14.

[2015-03-14 02:33] opoplawski commented on #473
I should also note that I'm not entirely sure if this is a regression or not (or when it started).  I've seen odd behavior for quite a while with netcdf's MPI tests.

[2015-03-14 05:00] hjelmn commented on #473
Ah, ok. If the trace is not a crash that makes more sense. I will take a look and see if I can figure out why that test is getting stuck.

[2015-03-14 11:15] jsquyres commented on #471
@rhc54 Heh -- I was *very* confused by your comment, but then I realized that your use of `<foo>` was unescaped, so Github turned it into the HTML tag &lt;foo&gt;, which renders as "empty" in HTML email and the Github web interface.  So I edited your comment in the web interface and put all cases of &lt;foo&gt; in single quotes (i.e., verbatim) mode, and now `<foo>` shows up in all the proper plac

[2015-03-14 14:23] rhc54 commented on #471
I didn't realize Github did that - sorry. I'll try to remember they do in the future.

I hear what you say, but that isn't what I see in the code. This is what is in OPAL_CHECK_PACKAGE:

[code]
Note that it only checks the lib subdirectory _if_ the provided libdir is not empty. So an empty libdir doesn't go down that path.

Is this a bug in the check_package code?

[2015-03-16 15:28] hjelmn commented on #473
Can't reproduce on master (same vader revision) on SLES11 with btl_vader_single_copy_mechanism set to either xpmem or none. tst_nc4perf runs to completion with 2, 4, and 10 ranks running on a single node. I used netcdf master with hdf5 1.8.14.

This could be a romio bug. The version in 1.8.4 lags behind trunk. Can you try running with -mca io ompio?

[2015-03-16 15:37] hjelmn commented on #473
Another alternative would be to run with master.

[2015-03-16 15:46] opoplawski commented on #473
That's worse:

$ mpirun -np 4 -mca io ompio ./openmpi/nc_test4/tst_nc4perf
*** Testing parallel IO for NASA...
num_proc        MPI mode        access          cache (MB)      grid size       chunks  avg. write time(s)      avg. write bandwidth(MB/s)      num_tries
*** *** stack smashing detected ***: /builddir/build/BUILD/netcdf-4.3.3.1/openmpi/nc_test4/.libs/tst_nc4perf terminated
[mock1:09190] *

[2015-03-16 15:50] opoplawski commented on #473
(gdb) list *0x91a4
0x91a4 is at io_ompio_file_open.c:455.
450         }
451
452         ret = data->ompio_fh.f_fs->fs_file_set_size (&data->ompio_fh, size);
453
454         return ret;
455     }
456
457     int
458     mca_io_ompio_file_get_size (ompi_file_t *fh,
459                                 OMPI_MPI_OFFSET_TYPE *size)

[2015-03-16 15:55] edgargabriel commented on #473
Is this test publicly available? I can have a look at it to see what is
going on in ompio. I assuming this is master?

Thanks
Edgar

On 3/16/2015 10:46 AM, Orion Poplawski wrote:

--
Edgar Gabriel
Associate Professor
Parallel Software Technologies Lab      http://pstl.cs.uh.edu
Department of Computer Science          University of Houston
Philip G. Hoffman Hall, Room 524        Houston, TX-77204,

[2015-03-16 16:09] edgargabriel commented on #473
If this was the 1.8 series of Open MPI, the ompio module there does not have all the fixes necessary to pass the hdf5 test suite, that was done last summer and it includes too many changes to ompio for it to be feasible to backport it to the 1.8 series.

[2015-03-16 16:09] opoplawski commented on #473
@edgargabriel  See earlier comments for what test and openmpi version this is.

Some more details:

 The HDF5 call seems to be from ./hdf5-1.8.14/src/H5FDmpio.c:1091:

        if (MPI_SUCCESS != (mpi_code=MPI_File_set_size(fh, (MPI_Offset)0)))

[2015-03-16 16:14] opoplawski commented on #473
Okay, so probably not worth worrying about the 1.8 ompio failure.  Looks like the original issue may be fixed in master, but we have no idea that the fix may have been?

[2015-03-16 16:20] hjelmn commented on #473
Can you verify that it indeed works for you with master? Just because I can't reproduce doesn't mean it is fixed :). Once we know whether it is fixed we can start the discussion about whether we should back-port the romio fixes on master to 1.8.

[2015-03-16 16:32] eschnett commented on #471
I find that things are working fine if I use gcc instead of clang. With gcc, I was not able to reproduce the problem at all. I am still using clang to build hwloc -- I only switch to gcc for OpenMPI.

At the same time, even when I manage to configure hwloc for OpenMPI correctly (using both `--with-hwloc-libdir`, and setting both `-L` and `-Wl,-rpath,` via `LDFLAGS`), I cannot build OpenMPI with cl

[2015-03-16 17:12] opoplawski opened #475 "Segmentation fault in dlopen_test"
I'm trying to build openmpi master from openmpi-dev-1330-g7640507 as the Fedora package for testing.  I'm getting:

$ ./dlopen_test
[barry:08971] *** Process received signal ***
[barry:08971] Signal: Segmentation fault (11)
[barry:08971] Signal code: Address not mapped (1)
[barry:08971] Failing at address: 0x1
[barry:08971] [ 0] /lib64/libpthread.so.0(+0x100d0)[0x7f6a37c2c0d0]
[barry:08971] [ 1] /

[2015-03-16 17:13] opoplawski commented on #473
I'm trying to build the Fedora package with opmi master, but running into issue #475

[2015-03-16 17:38] opoplawski commented on #475
Okay, this turned out to be caused by having an already installed openmpi on the system.  Apparently the dlopen() code it picking that up in preference to the build libraries.  This seems like a bug as well, but not sure if this is new or not.

[2015-03-16 17:40] hjelmn commented on #475
That is a long outstanding bug in Open MPI. We are discussing ways to correct this for 1.9.

[2015-03-16 18:14] opoplawski commented on #475
Okay, I'll leave to this to close/reassign/etc. as you see fit then.

[2015-03-16 18:19] opoplawski opened #478 "asm test suite failures - atomic_cmpset"
Building openmpi dev-1330-g7640507 on Fedora Rawhide i686 I get:

[code]

Also seeing (may not be related):

[code]

[2015-03-16 20:04] hjelmn commented on #473
Any luck with master?

[2015-03-16 20:27] opoplawski commented on #473
Still compiling deps.  Ran into issue #478 as well - disabled tests for now.

[2015-03-16 22:48] hjelmn commented on #478
Weird. Is this also with gcc 5?

[2015-03-16 22:55] opoplawski commented on #478
yes

[2015-03-17 02:39] opoplawski commented on #473
I can still reproduce the hang with the current dev snapshot.  This may be triggered by gcc 5.0.0 as well.

[2015-03-17 02:42] hjelmn commented on #473
That is my guess. I am trying to install a gcc 5 snapshot build to test this theory. Keep in mind that gcc 5.0 is still technically in beta so there is a good chance this is a gcc bug.

[2015-03-17 14:58] hjelmn commented on #478
Can't reproduce on OSX with GCC 5 20150315 on x86_64. Will try on Ubuntu Linux 14.04.2.

[2015-03-17 17:38] rolfv commented on #393
Just retested with master checkout from March 17, 2015.  I can still see the error but it is intermittent.  Here is an example:
[code]

[2015-03-18 13:02] rolfv commented on #374
Just an FYI that this is still failing for me.- March 17, 2015 latest master.

[2015-03-18 14:17] opoplawski commented on #473
I've found another package that is entering a hang loop on Fedora rawhide i686: elpa.  Haven't looked at it in detail yet, but this does seem to be a problem with more than just netcdf.

[2015-03-18 14:38] hjelmn commented on #374
Should be fixed now.

[2015-03-18 15:32] jsquyres commented on #471
Sorry for the delay in replying; I traveled / presented at a workshop this week, which always makes me behind in actual work...

@rhc54 No, I think opal_check_package (ompi_check_package in v1.8) is ok.  The hwloc/external/configure.m4 will pass an empty libdir value if --with-hwloc-libdir was not specified (and in this case, it wasn't).  Hence, opal(ompi)_check_package will check both `<foo>/lib`

[2015-03-18 15:55] jsquyres commented on #471
FWIW: @rhc54 and I just talked through the opal(ompi)_check_package.m4 code on the phone, and we convinced ourselves that it appears to be correct.  So I think that's a red herring in this issue -- let's see what the config.log from a failed configure shows, and go from there.  Thanks!

[2015-03-18 16:26] opoplawski commented on #473
Yup, looks like the same cycle in opal_progress().

[2015-03-18 16:31] rolfv commented on #374
Well, this test program still fails for me.  I still get a SEGV but this stack track is odd.
[code]

[code]

[2015-03-18 16:35] rolfv commented on #374
I also realized I only see this when the openib BTL is in the list of BTLs.

[2015-03-18 18:33] jladd-mlnx commented on #394
Nadia fixed the last remaining big performance bug in #482. With this fix, we are seeing end-to-end hello world times on the order of 90 seconds on 16K ranks ~ 800 nodes.  We are focusing now on ratcheting down the shared memory performance.

[2015-03-18 18:57] rhc54 commented on #394
I have a favor to ask - please quit touching the pmix native and server code in the master. I'm trying to complete the pmix integration, and have to fight thru a bunch of conflicts every time you touch it. Only solution is for me to just dump whatever you changed as the code is changing too much and your changes are too out-of-date to be relevant.

[2015-03-18 20:34] hjelmn commented on #475
Thanks Howard.

To begin the discussion we could probably use the following scheme for plugin paths:

<prefix>/lib[64]/openmpi/<project>/<PROJECT_VERSION>/<framework>/<ABI_VERSION>/

This is the most flexible naming scheme. So for example a 1.9/2.0 btl 3.0 plugin might be found in:

<prefix>/lib/openmpi/opal/2.0/btl/3.0

[2015-03-18 22:17] jsquyres commented on #475
I mostly agree, but will be slightly more pedantic:

[code]

That being said, this is probably a little overkill -- do we need both PROJECT_VERSION *and* ABI_VERSION?  I.e., won't those 2 be chained together?

[2015-03-18 22:18] jsquyres commented on #475
Actually, I wasn't pedantic enough.  :-)

This is more correct:

[code]

[2015-03-18 22:31] hjelmn commented on #374
Hmm. That might be why i could no longer reproduce. I was running without openib. Will dig deeper.

[2015-03-19 00:25] bosilca commented on #475
Our modules have a version number. Why simply discarding right after dlopen all modules with the wrong version number is not a adequate solution?

[2015-03-19 00:43] hjelmn commented on #475
Hmm, that may be the way to go. We now have the mca version, project version, and type version in the mca component.

[2015-03-19 00:46] hjelmn commented on #475
To make this work well I should probably version the frameworks themselves. Will investigate.

[2015-03-19 00:50] hppritcha commented on #475
George do you mean the shared library version number?

Couldn't we use some versioned symbols  similar to the way libfabric does it, and then check for the presence of a particular versioned symbol in a *.so using dlvsym? Are there any other projects that need all this type of subdirectory structure for shared libraries they use internally?  It seems a little weird.

Is the goal to be able to inst

[2015-03-19 01:07] hjelmn commented on #475
Howard, the primary goal is to no open incompatible .so's but it would be a useful feature to be able to have multiple versions of a project (opal for example) installed in the same tree.

[2015-03-19 01:40] jsquyres commented on #475
Don't forget that there are other reasons why we can't install two versions of OMPI into the same tree, such as:

* mpi.h is installed into $installdir
* libmpi.* (and all the other top-level libraries) are installed into $libdir

The goal is to prevent a scenario like this:

1. User installs version A.B.C into $prefix
2. User later installs version D.E.F into the same $prefix
3. User runs new D.E

[2015-03-19 01:44] opoplawski commented on #475
Just to be explicit - the problem I was running into was having openmpi 1.8.2 installed in /usr, then building newer versions in my home directories and running in-tree tests.

[2015-03-19 02:15] hppritcha commented on #475
I thought the *.so's in openmpi directory lack version numbers, hence the --avoid-version in the la_LDFLAGS in all the mca/*/Makefile.am's.  I guess we'd have to pay attention to VERSION then and not just fill in 0.0.0?   I'd be fine with that.  As long as we kept true to the current/rev/age formula and have C-A really mean something, this would take care of the problem, including Opoplawski's pro

[2015-03-19 02:28] eschnett commented on #471
I have created a new gist with the contents of `config.log` as well as the captured output of the complete build: <https://gist.github.com/eschnett/6d0855fa5a0413e156a8>. This is with clang, and shows the errors I receive in the end ("duplicate symbol").

This is OS X:
[code]
and clang installed via MacPorts (that's not Apple's system clang):
[code]

[2015-03-19 03:47] hjelmn commented on #475
Yes. The .so files have no version number in the filename. What George is referring to is the mca_base_component_t inside the .so. That contains version information for the plugin.

The only problem with using that structure is we may change it from release to release. We just did this by adding the project name and version.

[2015-03-19 03:51] hppritcha commented on #475
sounds like a problem of introducing standard shared library versioning.
just say no to -avoid-version and really use so versioning.
 On Mar 18, 2015 8:47 PM, "Nathan Hjelm" <notifications@github.com> wrote:

[2015-03-19 08:31] nkogteva commented on #394
Latest results (1 run, 0-vpid, hello_c):
![time from completion of rte_init to modex-page-001](https://cloud.githubusercontent.com/assets/5219209/6726669/1f4d884e-ce2b-11e4-88cd-e15c8e0d57d1.jpg)
![time to execute modex-page-001](https://cloud.githubusercontent.com/assets/5219209/6726677/2aa3ed50-ce2b-11e4-800c-27a1c3f504da.jpg)
![time from modex to first barrier-page-001](https://cloud.githubuser

[2015-03-19 14:35] eschnett commented on #471
I have now identified a similar issue when building OpenMPI on Linux with gcc. This is a self-built gcc:
[code]

Make screen output and OpenMPI configure log file are at <https://gist.github.com/eschnett/0cc565ce3768af4e9119>. Configuring fails when configuring libevent; libevent's configure output is at <https://gist.github.com/eschnett/75316b734bdee0a8b08e>.

[2015-03-19 14:57] eschnett commented on #471
Regarding the Linux/gcc issue: If I configure OpenMPI like this (taken from `config.log`):
[code]
then it configures and builds fine. The difference is that I explicitly pass `LDFLAGS`.

[2015-03-19 16:03] jladd-mlnx commented on #394
Nice, @nkogteva . Looks like you resolved the performance issues. Great work! Now let's help @elenash drill into and analyze the shared memory DB work.

[2015-03-19 16:23] hppritcha opened #484 "cray native launch broken"
Commit a0487e014 broke native launch on cray.  I'm Implementing a cray native launch specific oob component to wall off these kins of problems from aprun users.  When launching with aprun , there is
no need for any oob support from orte anyway.

The usock doesn't work on most cray's since getpwuid doesn't typically work on crya compute nodes.

@hjelmn

[2015-03-19 16:38] rhc54 commented on #484
How will you handle connect/accept operations via the MPI standard, which allows the user to specify a port by which to reach the other processes?

Or are you going to declare that MPI-2 dynamics ops are not available on the Cray?

[2015-03-19 16:38] jsquyres commented on #471
This is great information; thank you.

I may be swamped and unable to look at this until Monday, but I'll definitely get to it.

Sent from my phone. No type good.

On Mar 19, 2015, at 8:57 AM, Erik Schnetter <notifications@github.com<mailto:notifications@github.com>> wrote:

Regarding the Linux/gcc issue: If I configure OpenMPI like this (taken from config.log):

  $ /project/eschnett/shelob/src/c

[2015-03-19 17:06] hppritcha commented on #484
MPI-2 connect/accept is not available with native launch on cray for open mpi.  It is available for craypich, but mpich passes the portname directly down to all available netmods, but it doesn't look like the current orte_dpm does.  A given mpich netmod will have its own portname format, which in the case of craypich, supplies all the info needed to build up connections over the gni fabric.

 I'd

[2015-03-19 17:58] rhc54 commented on #484
Guess I'm now confused: when you say "native" launch, do you mean launching with mpirun, or launching with aprun? If the only thing blocking use of usock during mpirun-based launch is getpwuid, then that is easy to workaround - much easier than writing yet another OOB component.

We used to have that support anyway if you provided the -disable-getpwuid configure option. Did that get broken or go a

[2015-03-19 18:19] hppritcha commented on #484
I mean launching with aprun.  The fact that getpwuid doesn't work on most production crays means the usock doesn't work, and the recent change you did disqualifies the tcp oob too.  That's how things broke.

Already wrote the component and testing.

[2015-03-19 18:25] rhc54 commented on #484
Huh? That makes no sense - if we launch via aprun, then we are in a direct launch scenario. This is the _only_ time the app _retains_ the tcp oob component. So how did this break? Are you not using the ess/pmi component when direct launching under aprun?

[2015-03-19 18:33] rhc54 commented on #484
FWIW: usock is the sole method for the proc to talk to the local daemon when we launch via mpirun. So if usock won't work on the Cray due to the getpwuid issue, then it would be launch via mpirun that would break. The commit I made would indeed break that mode of operation - not direct launch.

It sounds like you may be chasing the wrong problem. A simple #if ENABLE_GETPWUID would solve the proble

[2015-03-19 18:37] hppritcha commented on #484
Yep, I agree about the mpirun launch problem.  Only a matter of time before Nathan picks the commit up and discovers this too.

I'm mainly interested in making sure the aprun launch method works.

[2015-03-19 18:45] hppritcha commented on #484
You broke things by addition of lines 454-459 in orte/mca/oob/tcp/oob_tcp_component.c

[2015-03-19 18:48] rhc54 commented on #484
Right - those only affect mpirun-based launch. Easy enough to make usock work when getpwuid isn't available - I can do that if you want.

[2015-03-19 21:42] hppritcha opened #487 "mpirun launch on cray broken (general case)"
mpirun based launch on cray is currently broken unless the system is configured to have LDAP or other authentication available on the compute nodes.

@hjelmn

[2015-03-20 01:40] #484 closed

[2015-03-20 01:48] hppritcha commented on #487
@rhc54

If you can get usock to work when getpwuid isn't available that would suffice to solve this problem.
Be aware however, that some cray customers don't allow one to use writeable tmp.  There are alternatives but I'd need to give you pointers on that.

Nathan, are you really able to run current master HEAD on cielito?  Does cielito project LDAP to the compute nodes?

[2015-03-20 01:53] rhc54 commented on #487
I confess I'm scratching my head a bit as I can't find any reference to getpwuid in the usock code. It does, however, require that the session directories are available so we have a place to put the named pipe. Are you not allowing session directories to be built? If so, where do you put things that are session-specific?

[2015-03-20 02:43] hjelmn commented on #487
Not sure why getpwuid works on Cielito. Didn't encounter a Cray system where it didn't work until Edison.

I don't like using getpwuid just to get a unique name for the session directories. The uid is sufficient for our support needs. Do Open MPI users really need/want the username in the name of the session directory? If that still is the case we should add logic to disable getpwuid if running on

[2015-03-20 03:07] hjelmn commented on #374
I might have an idea what is going wrong. Open MPI sets up classes lazily as we call constructors. Now, if an object from a particular class were to be destructed *after* its component is dlclose'd the destructor function pointer would point to garbage and we might get weird stack traces, crashes, etc.

[2015-03-20 03:29] rhc54 commented on #487
We have all the #if’s in there for that purpose - all you have to do is set —disable-getpwuid. We have always had a username in the session directory to avoid conflicts, but we can revisit it at some point

[2015-03-20 17:57] yafshar opened #489 "MPI_IN_PLACE problem in openmpi-1.8.1 (FORTRAN)"

[2015-03-20 22:01] #489 closed

[2015-03-23 15:31] rolfv opened #490 "loop_spawn fails with openib BTL"
I get a failure in both 1.8 latest and trunk.  I think this has been around for months.   With 1.8, I get the following:
[code]

With the trunk I get this.
[code]
bot:milestone:v1.8.5
bot:label:bug
bot:assign: @hjelmn

[2015-03-23 15:43] rhc54 commented on #490
Yeah, I'm afraid this is something in openib - looks like it is in an event, and then calling opal_progress, which re-enters libevent.

[2015-03-23 17:43] jsquyres commented on #490
@rolfv FWIW: we don't have the bot monitoring the ompi issues -- just ompi and ompi-release pull requests.  You can just assign labels/milestones/users on ompi issues directly.

[2015-03-24 01:32] hppritcha commented on #478
where are we on this issue?

[2015-03-24 12:40] jsquyres commented on #374
@hjelmn Are you implying that there's something in openib that is being destructed after it is dlclosed?

[2015-03-24 14:15] rhc54 commented on #469
Been fixed

[2015-03-24 14:15] #469 closed

[2015-03-24 14:15] rolfv commented on #374
One other observation.  My nightly tests are all passing.  I realized the difference is whether the host I am running on is remote or not.  For example:
[code]

[2015-03-24 14:16] rhc54 commented on #466
As I said, this enhancement already exists via the "--stdin none" option

[2015-03-24 14:16] #466 closed

[2015-03-24 15:11] jsquyres commented on #478
The failure of atomics in this bug is likely related to/causing the vader failure in #473.

[2015-03-24 15:12] jsquyres commented on #330
@howarthjw Any update?

[2015-03-24 15:13] #402 closed

[2015-03-24 15:13] #414 closed

[2015-03-24 15:18] jsquyres opened #491 "Remove async thread from openib BTL"
The real solution to #490 is to remove the async thread from the openib BTL.

[2015-03-24 15:18] jsquyres commented on #490
Per discussion on the call today, this is a "wontfix" for v1.8.  The real solution is #491.

[2015-03-24 15:20] jsquyres commented on #433
@alinask Any update, perchance?

[2015-03-24 19:01] hppritcha commented on #487
tested master on edison and mpirun based launch works again.  usock is working now.
thanks Ralph.  closing.

[2015-03-24 19:01] #487 closed

[2015-03-24 21:21] hjelmn commented on #374
Could you try disabling oob/ud with -mca oob ^ud?

[2015-03-24 21:26] hjelmn commented on #374
@jsquyres I don't know. Just trying to think of possible reasons for the bizarre stack trace.

On a side-note. Think about this possibility... MPI_T causes component x to be loaded (dlopened). It creates an instance of class y causing class y to be initialized in the opal base. The user then calls MPI_T_Finalize causing component x to be unloaded (dlclosed). MPI_Init then loads component x which t

[2015-03-24 21:42] jsquyres commented on #374
@hjelmn What if we never dlclose anything until at least MPI_Finalize?  And if MPI_Finalize is invoked while MPI_T is still initialized, we can defer the dlclosing until MPI_T_Finalize is invokes.

Specificially, in a sequence like this:

1. MPI_T_Init
1. MPI_T_Finalize -- don't actually finalize anything here
1. Repeat the first 2 steps a few times
1. MPI_Init
1. MPI_T_init
1. MPI_Finalize -- don

[2015-03-24 21:58] hjelmn commented on #478
@opoplawski Which gcc snapshot produced this failure? I can't reproduce with the latest.

[2015-03-24 22:15] hppritcha opened #493 "test all env query functions for compliance with MPI-3.1 thread safety compliance"
The MPI-3.1 standard states that

[code]

are callable from threads without restrictions irrespective of the actual level of thread support provided.
It appears the the sun/threads/mt_env.c covers most, but not all of these.  This test could either be enhanced or a similar test could be added to the ibm tests in opmi-tests.

[2015-03-24 22:38] bosilca commented on #493
No, the mt_env.c test bails out if the MPI_THREAD_MULTIPLE mode is not supported.

[2015-03-24 22:57] opoplawski commented on #478
Just fired off another test build: http://koji.fedoraproject.org/koji/taskinfo?taskID=9315351  And the i386 tests are still failing, see https://kojipkgs.fedoraproject.org//work/tasks/5354/9315354/build.log.  x86_64 is fine.

This is with openmpi-dev-1364-gf588ad7 and gcc 5.0.0-0.21.fc23.  Hard to tell what's in the Fedora gcc build, as they pull in some extra stuff -but looks like mostly svnrev 2

[2015-03-24 23:03] hjelmn commented on #478
Thanks. I have only tested x86_64. I will give i386 a try tonight and see if I can reproduce the failure.

Were the vader failures with i386 as well?

[2015-03-24 23:42] opoplawski commented on #478
Yes, the vader issues are only see on i386 as well

[2015-03-25 04:16] hjelmn commented on #478
I was able to reproduce the bug with gcc 5 with the -m32 option. Looking at the disassembled binary this is clearly a gcc bug. I will provide more details tomorrow.

[2015-03-25 09:23] alinask commented on #433
@jsquyres no update, a reproducer was provided and it can be reproduced on any setup as described above.

[2015-03-25 10:19] jsquyres commented on #433
@alinask We've been unable to reproduce it.  I think @rhc54 asked an (indirect) question in his last reply: can you dig a little further?  He asked if the daemons (and MPI processes) were all gone / dead, but mpirun was still running.

[2015-03-25 11:00] alinask commented on #433
yes, mpirun was still running and almost all the IMB processes were gone except for several zombies.

[2015-03-25 12:01] jsquyres commented on #433
So just to be clear:

* mpirun was still there
* some IMB processes were running, but some were dead
  * could you manually kill the remaining IMB processes (e.g., via `kill -HUP <pid>`), or were they really unkillable zombies?
  * can you get some backtraces of the still-running IMB processes?
* were any orteds left?  If so, were they left *only* on the servers where IMB processes were left?

@rh

[2015-03-25 12:52] rolfv opened #495 "datatype/subarray test is failing on 1.8.5 starting last night"
Just looked through MTT results and there is a new failure from the 1.8 series.  This is v1.8.4-134-g9ad2aa8.

From MTT:
[code]

[code]

[2015-03-25 19:16] hjelmn commented on #478
Actually, this *is* an Open MPI bug. We are using the = constraint modifier for a read/write operand. This combined with aggressive optimization is what is causing the problem.

Fixing now.

[2015-03-25 20:29] howarthjw commented on #330
Jeff,
    I am stymied in trying to get the debug output to work with x86_64
Fedora 15's gcc 4.6.3 compilers. Setting PATH and LD_LIBRARY_PATH seems to
be insufficient to keep the system openmpi from being used during the
linkage.
            Jack

On Tue, Mar 24, 2015 at 11:12 AM, Jeff Squyres <notifications@github.com>
wrote:

[2015-03-25 23:04] rhc54 commented on #433
If you can make the job small enough so the output isn't overwhelming, set "--leave-session-attached --mca state_base_verbose" as a starting point. This will tell us what the state machines of each daemon are trying to do.

It sounds like the daemons are terminating without (a) killing their local procs, and (b) mpirun realizing it. I should have thought the keepalive commit would help fix this sc

[2015-03-26 15:07] alinask commented on #433
Unfortunately I don't have the setup anymore and therefore can't reproduce this issue.
As far as I remember, there were orteds left, not only on the host which had the zombies

[2015-03-26 15:16] jsquyres commented on #433
When you say "zombies", do you really mean unkillable MPI processes?  Or just MPI processes that happened to still be running?

[2015-03-26 15:34] alinask commented on #433
Well, I saw this when I checked what was running on the host:
[IMB-MPI1] < defunct >
[IMB-MPI1] < defunct >
...

There was only one host which had this output.

[2015-03-27 03:38] opoplawski commented on #478
I can confirm that the commit appears to fix the atomic tests on i386 for me.

[2015-03-27 03:38] #478 closed

[2015-03-27 16:50] #380 closed

[2015-03-27 17:25] opoplawski commented on #473
I've updated to 1.8.4-134-g9ad2aa8 and applied the atomic patch.  It does not appear to affect this problem.  I'm also seeing a (probably) similar failure on arm7hl.

[2015-03-28 04:00] rtmclay opened #500 "It should be safe to run "mpiexec -v" as root in version 1.8.2"
Switching from version 1.6.5 to 1.8.2, I have found out that root can not run "mpiexec -v" to report the version.  mpiexec for version 1.8.2 report that running "mpiexec -v" as can be a problem and doesn't report the version.    It should still report the version and not produce the error message.

[2015-03-28 15:25] rhc54 commented on #500
Good point - I've pushed the change to the master, and am scheduling it for 1.8.5 release.

Thanks for bringing it to my attention!

[2015-03-28 15:25] #500 closed

[2015-03-30 12:29] rolfv commented on #495
This has been fixed and the test is passing.  Thanks nathan.

[2015-03-30 12:29] #495 closed

[2015-03-30 18:30] jsquyres commented on #396
FYI: RFC to update master to later Autotools: http://www.open-mpi.org/community/lists/devel/2015/03/17177.php

[2015-03-30 21:52] jsquyres commented on #374
@rolfv Just curious: does the patch from #392 find the errant MCA var?

[2015-03-30 22:17] hjelmn commented on #473
Found the problem. Vader assumes 64-bit load/store in the fast box code. With gcc 4.8 this doesn't seem to cause any issues but with gcc-5.0 there is a data race between the process setting the fast box header and the process reading it. This causes the receiver to read an incomplete message leading to a hang or a crash.

I am putting together a fix for the data race for master and with PR it to 1

[2015-03-30 22:30] hjelmn commented on #473
@opoplawski #503 should fix the issue. I was able to reproduce crashes/hangs with ubuntu 14.04 i386 with gcc 5.0-032215.

[2015-03-30 23:07] rolfv commented on #374
@jsquyres I just tested with patch from #392.  The code in the patch is not triggered and I still get the same crash.  However, I also added some opal_output() into the var_destructor() function to make sure I was going through the new code you added.. However, I see no output.  So, I am not even sure if the var_destructor() function is being called.  I must be missing something.

[2015-03-30 23:34] rolfv commented on #374
OK, figured out that opal_output() was not working for me.  But printf does.  So, in conclusion, the patch is not triggered so the SEGV I am seeing now must be a different issue.

[2015-03-31 13:32] nysal commented on #396
Thanks Jeff. For 1.8.x series, I'll work on a patch this week.

[2015-03-31 15:07] opoplawski commented on #473
It does indeed appear to fix it for me, thanks!  Now I just need to track down the armv7hl issue...

[2015-03-31 15:10] jsquyres commented on #473
Closing, since @opoplawski confirms that it's fixed.

[2015-03-31 15:10] #473 closed

[2015-03-31 15:10] #490 closed

[2015-03-31 15:11] jsquyres commented on #367
@igor-ivanov @miked-mellanox Any news on this issue?

[2015-03-31 15:11] jsquyres commented on #231
@ggouaillardet @bosilca Did this fix go in to the master and/or v1.8?

[2015-03-31 16:20] jsquyres commented on #433
Ah, ok -- un-reaped processes.

Since we don't have a way to test this further, I deferred this to v1.8.6.  If you can ever replicate this problem again, let's keep digging.

[2015-03-31 17:12] bosilca commented on #231
The original code was pushed both in the trunk and 1.8. Unfortunately it appears the code is not accurate in computing the amount of data to be allocated. Thus, the fix proposed here should be considered as a possible fix.

[2015-04-01 14:31] igor-ivanov commented on #367
It was not actual for trunk. See referenced comment
https://github.com/open-mpi/ompi-release/pull/202#issuecomment-77353803

[2015-04-01 14:47] #367 closed

[2015-04-03 15:42] jsquyres commented on #330
I somehow missed your last comment -- sorry!

I typically build and install Open MPI under my $HOME -- e.g., install Open MPI to $HOME/local, and then put $HOME/local/bin in my $PATH And $HOME/local/lib in my $LD_LIBRARY_PATH.  As noted above, you need to ensure to *prefix* your PATH / LD_LIBRARY_PATH, and ensure to do it in your shell startup files *before* they exit for non-interactive logins (a

[2015-04-03 20:33] rhc54 commented on #471
@jsquyres did you ever resolve this? Is it something that needs to be done before releasing 1.8.5?

[2015-04-07 15:24] hjelmn commented on #393
I wonder if the latest osc/pt2pt updates fixed this issue.

[2015-04-07 18:54] rolfv commented on #393
I just retested and this problem still exists.

[2015-04-07 18:58] hjelmn commented on #393
Thanks for verifying that. I will see if I can reproduce the issue.

[2015-04-08 16:29] #374 closed

[2015-04-08 18:02] lebedov opened #515 "improve parsability of ompi_info --parsable output"
As of OpenMPI 1.8.4, the output of `ompi_info --parsable` is difficult to parse because some of the fields, e.g., (`build:timestamp`) contain colons. This could be addressed by quoting such fields as is done in most variations of the CSV format, e.g., `build:timestamp:"Tue Dec 23 15:47:28 EST 2014"`

See mailing list discussion [here](http://www.open-mpi.org/community/lists/users/2015/04/26647.php

[2015-04-11 16:38] NAThompson opened #521 "`./configure --disable-wrapper-rpath` does nothing"
Found this trying to distribute binaries. My own directory is hard-coded into RPATH even using `--disable-wrapper-rpath`:

Full build sequence:

     ./autogen.pl; make distclean; make clean; ./configure --prefix=/home/nthompson/openmpi --enable-mpi-thread-multiple --with-threads=posix --disable-wrapper-rpath && make -j6 && make install

Now to verify that this didn't disable the RPATH:

    reade

[2015-04-11 18:22] rhc54 commented on #521
what version is this with - master? or 1.8.x?

[2015-04-11 21:38] NAThompson commented on #521
I tried it on master, then switched to branch 1.7. It was present in both. `gcc -v` is 4.8; CentOS 7.

[2015-04-12 05:40] miked-mellanox commented on #521
same issue on v1.8 as well.

[2015-04-13 18:25] hppritcha opened #522 "orte oob ud should obey --with-verbs=no configure option"
I happen to be working on a system with an ofed install that isn't quite canonical.  In order to get the btl part of Open MPI to build right, I have to use the --with-verbs=no option.  Unfortunately, the build still fails because the oob/ud component doesn't appear to observe this option being set.  It should as oob/ud does rely on components from the BTL that are not built when the --with-verbs=n

[2015-04-13 19:31] hppritcha opened #523 "update hwloc to 1.11 for v2.0.0"
It would be very nice to update hwloc in ompi to 1.10 prior to the branch of master for 1.9

[2015-04-13 19:39] rhc54 commented on #523
Intel needs it updated to the 1.11 series, actually...

[2015-04-13 19:46] jsquyres commented on #523
I changed the title to say "1.11".

[2015-04-13 19:55] jsquyres commented on #471
(I know, I'm *dreadfully* late in following up on this issue... :-( )

I finally spent some quality time with this issue today.

I believe that part of what has been confusing me is that there are (at least?) *two* distinct issues being reported on this issue:

1. `duplicate symbol ___sputc` output when building with clang on OS X
1. libevent failure to configure when using an external hwloc

## F

[2015-04-13 20:13] eschnett commented on #471
Regarding `-Wall`: This sounds a bit as if configure was looking at compiler output, either directly, or indirectly by using `-Werror` that then triggers because of additional warnings.

[2015-04-13 20:16] eschnett commented on #471
Regarding `-lhwloc`: You could check whether building a program and then running it works. If it doesn't, then that's an error that should be caught before libevent catches it.

Alternatively, you could add the respective `-Wl,-rpath` flag to `LDFLAGS`, so that hwloc will be found at run time.

I circumvent this issue now by setting `LD_LIBRARY_PATH` (and `DYLD_LIBRARY_PATH`, since I'm using OS X)

[2015-04-13 21:19] jsquyres commented on #471
Regarding the duplicate __sputc issue: well, this was tangled.

The root cause of the issue is that AC_C_INLINE somehow determines that the compiler does not support the `inline` keyword, and therefore plops this into opal_config.h:

[code]

...which causes all kinds of Badness, the most obvious of which is that it screws up the actual inlining of `/usr/include/stdio.h`'s __sputc symbol on OS X.

[2015-04-13 21:21] jsquyres commented on #471
Fixed the first issue on master in open-mpi/ompi@1029dea72b10a772cff3d81c8349adae9a9077f9 (I accidentally referred to the wrong bug number in the commit message -- curses!).

[2015-04-14 14:11] miked-mellanox opened #525 "psm sighandler called even if psm is not selected"
On system with OFED and PSM module available ompi fails with segv on ^C or any other signal even if PSM is unused. (Thanks to @yosefe )

It was traced that PSM signal handler is registered and called even if PSM is not selected

salloc -N2 --ntasks-per-node=28 mpirun --report-bindings osu-micro-benchmarks-4.4.1/osu_barrier
^C

[code]

[2015-04-14 14:57] rhc54 commented on #525
Won't happen on master because the select logic is different, but I shifted the code there as well just to keep it in sync with 1.8.

[2015-04-14 14:57] #525 closed

[2015-04-14 15:52] rhc54 commented on #515
We talked about this today and decided we can't change it for the 1.8 series as that might well break people who are already using it. However, we'll certainly consider the change for 1.9, so I'm adjusting the milestone accordingly.

[2015-04-14 16:03] jsquyres commented on #471
This issue is now fixed on master, and the 2nd (of 2) PRs is opened to bring the fix over to v1.8.

Yippie!

So I'm closing this issue.

[2015-04-14 16:03] #471 closed

[2015-04-14 16:28] evandeaubl opened #526 "Sending SIGTSTP during init with orte_forward_job_control on causes hang"
In 1.8.4, there seems to be a small time window during job initialization where sending the SIGTSTP signal to suspend the job causes the MPI job to permanently hang. Sending SIGCONT to the mpirun process does not cause the job to continue, and it also does not respond to other signals (SIGINT, SIGTERM). ompi-ps indicates the state of the job is PENDING APP LAUNCH, and the process state is INITIALI

[2015-04-14 17:43] jsquyres commented on #515
@lebedov What you say makes sense.

I think, per the note on the mailing list, there may well be a few cases where there are multiples names -- e.g., the value is not necessarily always after the 2nd colon.  E.g.,

[code]

See #527 for a suggestion of how this could work.  @lebedov Would you mind trying that PR and seeing if it's what you think it should be?

[2015-04-14 18:23] #522 closed

[2015-04-14 18:32] jsquyres commented on #521
This is intended behavior.  Open MPI uses rpath in its libraries; there is no option to turn it off.  This is mainly to make it easier to find libmpi's dependent libraries (especially if they are not in the same dir as libmpi).

`--disable-wrapper-rpath` disables the specification of the rpath/runpath arguments from the wrapper compilers (i.e., mpicc and friends).  In short: this switch controls t

[2015-04-14 20:38] NAThompson commented on #521
Forcing users to edit the `LD_LIBRARY_PATH` is annoying to them; and anyone can edit it, making the `mpi.so` which is picked up indeterminate. But in any case,  I'll just use `patchelf --replace-rpath $ORIGIN` to get around this.

[2015-04-14 20:47] jsquyres commented on #521
I think you're falling into the tiny minority of our users.  :-(

The vast majority of our users are happy with a single installation location, and therefore the same "forcing them to edit `LD_LIBRARY_PATH` is annoying" rationale applies: they just want OMPI to work in the single location where it is installed.  So using rpath/runpath (to pick up dependent libraries) is a good idea.

Moving librar

[2015-04-14 20:47] #521 closed

[2015-04-15 16:37] hjelmn opened #533 "MPI_T MTT initialize/finalize tests fail"
Currently the new MPI_T initialize/finalize tests in MTT fail with master. The failures can be fixed by either #517 or #528.

[2015-04-16 18:52] masteele commented on #180
What was Mellanox's reason for closing this?

[2015-04-17 21:40] jsquyres opened #538 "MPI onesided test hangs"
I don't know if the test is correct or not, but the onesided/t_winf test hangs on master and v1.8 branches.

The hang happens somewhere in this block of code:

https://github.com/open-mpi/ompi-tests/blob/master/onesided/t_winf.f90#L215-L238

[2015-04-17 21:58] jsquyres commented on #538
Similarly, the cxx-test-suite hangs during the test of MPI::Win::wait on the v1.8 branch (where the C++ bindings are still built by default):

[code]

[2015-04-18 11:05] jsquyres commented on #515
I'm going to close this issue; all further discussion should happen on #527.

[2015-04-18 11:05] #515 closed

[2015-04-18 12:17] jsquyres opened #540 "Heterogeneous builds are broken"
@hjelmn It looks like the latest round of updates broke --enable-heterogeneous, as reported by @siegmargross:

http://www.open-mpi.org/community/lists/users/2015/04/26753.php

When I --enable-heterogeneous on Linux, I get this build error in ob1:

[code]

Probably pretty simple to fix -- can you have a look?

[2015-04-18 12:28] ggouaillardet commented on #540
looks like a duplicate of #403
I will work on that this week

[2015-04-18 12:44] jsquyres commented on #540
@ggouaillardet Sweet; thanks.

[2015-04-19 13:38] astrung opened #543 "OpenMPI install error:`Lhwloc1' is already defined."
i have downloaded openMPI 1.8.4,and i get this error:
: Assembler messages:
/home/as/openmpi-1.8.4/opal/mca/hwloc/hwloc191/hwloc/include/private/cpuid-x86.h:40: Error: symbol `Lhwloc1' is already defined.
Config:
./configure --prefix=/usr/local
make all install
So what is my wrong??

[2015-04-20 14:49] jsquyres commented on #543
The problem is a bug in the embedded copy of hwloc that is inside Open MPI.

Can you try Open MPI v1.8.5rc1 (or rc2, which should be out in the next day or two)?  We updated the embedded hwloc to fix the bug:

    http://www.open-mpi.org/software/ompi/v1.8/

If you prefer to stay on a public release, you can install hwloc externally (e.g., download hwloc from  http://www.open-mpi.org/projects/hwlo

[2015-04-20 15:23] hjelmn commented on #403
@ggouaillardet You are converting some stuff that shouldn't be converted. I have a fix ready to go that I can commit.

[2015-04-20 15:27] hjelmn commented on #403
ob1 fixed in d251fa15253a0270b54bfeeb8258e695e38bd65b

[2015-04-20 15:41] bosilca commented on #403
Can you please also remote it from the comment?

  Thanks,
    George.

[2015-04-20 15:45] jsquyres commented on #403
@siegmargross Can you give master a whirl and see if the problem is fixed for you now?  Thanks.

[2015-04-20 17:31] hjelmn commented on #533
Should be fixed in master by 8287e1d28faa83e99de378badd71ad7a57b0f4c0

[2015-04-20 17:31] #533 closed

[2015-04-20 17:32] hppritcha commented on #394
can this be closed now?

[2015-04-20 18:00] rhc54 commented on #394
I think so, but I'll let Josh be the final decider

On Mon, Apr 20, 2015 at 10:32 AM, Howard Pritchard <notifications@github.com

[2015-04-20 18:33] jsquyres commented on #403
This issue is now likely a (at least effectively) a duplicate of #540.  So we might as well close one of them -- I'm arbitrarily choosing to close the older one, because `--enable-heterogeneous` builds again on the master; we just need a confirmation that it actually works (which can be done on #540).

[2015-04-20 18:33] #403 closed

[2015-04-20 19:49] adrianreber opened #544 "mpi_test_suite segfault since e794658"
Starting wtih commit e794658f2da2cf7e25affc0559d1232d55370d34 the mpi_test_suite fails on different MTT targets with following error:

[code]

[2015-04-20 22:30] jsquyres commented on #544
@hjelmn Adrian cites an MCA base commit -- can you have a look?

[2015-04-21 00:44] ggouaillardet commented on #393
As discussed in http://www.open-mpi.org/community/lists/devel/2015/04/17288.php here is a patch for the test case :

[code]

i am waiting for a confirmation MPI_Win_fence does not imply MPI_Barrier before i push this to the ompi-tests/ibm repo

[2015-04-21 00:47] hjelmn commented on #393
I believe it was discussed on the mailing list awhile ago that MPI_Win_fence does not imply a barrier. In this case it is just a no-op in osc/pt2pt.

[2015-04-21 00:47] hjelmn commented on #393
If I am wrong I will be happy to update master and 1.8.

[2015-04-21 00:55] hjelmn commented on #393
Yup. MPI-3.0 page 443 lines 44-47:

[code]

[2015-04-21 00:57] hjelmn commented on #393
@ggouaillardet Go ahead and push the change to the test.

[2015-04-21 03:11] hjelmn commented on #393
Can we consider this fixed?

[2015-04-21 03:28] ggouaillardet commented on #393
i think so,
did you read Kawashima-san's comments on the devel ML http://www.open-mpi.org/community/lists/devel/2015/04/17294.php ?

[2015-04-21 03:40] kawashima-fj commented on #393
I think this is a bug in pt2pt OSC regarding MPI_MODE_NOPRECEDE,
described in my mail.

The easiest fix will be:
[code]

[2015-04-21 03:44] hjelmn commented on #393
I am ok with that change but I am still unsure about the interpretation. The problem with the test case is that it initializes a region in the window then claims there is no preceding operation but that is not the case. There is no preceding MPI RMA operation but the memory has been modified. I will see if I can clear this up with the RMA WG.

[2015-04-21 06:03] bosilca commented on #393
From the standard: "MPI_MODE_NOPRECEDE — the fence does not complete any
sequence of locally issued RMA calls." It doesn't talk about any local
accesses to the window, only about the locally issued RMA.

This is also clarified in the "Using Advanced MPI: Modern Features of the
Message-Passing Interface" page 99 (
https://books.google.com/books?id=GY5IBQAAQBAJ&pg=PA99&lpg=PA99&dq=MPI_MODE_NOPRECEDE

[2015-04-21 15:03] jladd-mlnx commented on #394
This can be closed.

[2015-04-21 15:03] #394 closed

[2015-04-21 15:34] hjelmn commented on #544
Think this might now be fixed. Looked like a bad component initialization. Won't know until he reruns though.

[2015-04-21 15:36] siegmargross commented on #540
Great !! I can build everything once more. Thank you very much to everybody who helped to fix the problem.

[2015-04-21 15:40] #540 closed

[2015-04-21 19:07] adrianreber commented on #544
Unfortunately this still fails with latest master: 5ea1f1c12b05299cfb0fa51b8672c870c5ff4c48

[2015-04-21 20:32] #544 closed

[2015-04-22 13:14] jsquyres commented on #543
I haven't heard back from you, so I'm going to close this issue.  Let us know if we need to re-open it.

[2015-04-22 13:14] #543 closed

[2015-04-22 15:32] hjelmn commented on #538
Wrote a C version of the part of t_winf that is hanging and I can't get it to hang.

[2015-04-22 15:48] hjelmn commented on #538
Will enable the C++ bindings in my build and see what is happening there.

[2015-04-22 16:10] hppritcha commented on #420
@hjelmn
I'm going to close this unless anyone thinks this is important.

[2015-04-22 17:21] bosilca commented on #420
Why would anyone care about this?

[2015-04-22 17:46] jsquyres commented on #420
@hppritcha did the problem get resolved?  If not, it should stay open.

[2015-04-22 19:10] hppritcha commented on #420
not that I know of.

[2015-04-22 19:31] hjelmn commented on #420
We don't even know exactly how the regression happened. The multi-rail code in ob1 hasn't really changed so it should continue to function as it always has.

[2015-04-22 20:12] jsquyres commented on #420
@hjelmn Fair enough, but I thought Dave showed that it didn't.  So it seems like until we investigate, we shouldn't close this issue.

[2015-04-22 20:31] jsquyres commented on #538
@hjelmn Is t_winf hanging for you?  I ran it through DDT and it shows that t_winf is hanging on line 221 (the MPI_Win_wait()).

[2015-04-22 20:33] bosilca commented on #420
Sorry guys I think I did click on the wrong button "Comment and Close" instead of "Comment". I'll rollback my action.

[2015-04-22 20:36] jsquyres commented on #420
@bosilca Just to clarify: your "Why would anyone care about this?" comment was snarkasm, right?

[2015-04-22 20:59] rolfv commented on #420
i am not sure this is related, but I also ran into a somewhat similar issue.
http://www.open-mpi.org/community/lists/devel/2015/02/17065.php

[2015-04-24 14:37] #538 closed

[2015-04-28 03:14] jiangxincode opened #557 "I write a vim plugin for open mpi syntax highlight, anyone will give it a try?"
I write a vim plugin for open mpi syntax highlight, anyone will give it a try?
Now it only support c and c++ binding, and fortran is on the way.
https://github.com/jiangxincode/mpi.vim

[2015-04-28 20:33] marcocod commented on #251
Any news about this issue? I have the same problem of bphusted with the version latest 1.8.4.
I built the openmpi library with the intel compiler (15.0.2) and now during the linking I have a lot of ipo warning #11021. The only option in the configure I used is --prefix; the environment variables CC and CXX were icc and icpc; I didn't set any flags.
I tried also the versions 1.7.5 and 1.6.5: the 1.

[2015-04-28 20:50] rhc54 commented on #251
Should be fixed in the 1.8.5 about to be released - can you try the 1.8 nightly tarball to verify?

http://www.open-mpi.org/nightly/v1.8/

[2015-04-29 07:12] griznog commented on #369
We are seeing similar behavior with a simple test program that just does a multiply and add in a loop. Testing with different JVMs and OpenMPI 1.8.4 and 1.8.5rc3 we see:

Oracle 1.8.0: segfault
Oracle 1.7.0: segfault
OpenJDK 1.8.0: segfault
OpenJDK 1.6.0: works (or, hasn't segfaulted yet).

I can post our code and segfault messages, but they have less info than what I have seen here.

[2015-04-29 14:00] hppritcha commented on #369
Hi John

Does the segfault seem to occur after mpi finalize is called in the app? If
you would not mind posting the app and the segfault message that would help.

Howard
On Apr 29, 2015 1:12 AM, "John Hanks" <notifications@github.com> wrote:

[2015-04-29 18:02] griznog commented on #369
Howard,

Where the segfault occurs is JVM dependent. The IBM 1.8.0 JDK segfaults before the program starts while the Oracle JDK segfaults after MPI.Init and into the loop of busywork. The test code I am using is:

import mpi.*;
public class MPIHelloWorldLoad {
    public static void main(String[] args) throws MPIException,Exception {
        MPI.Init(args);
        MPI.COMM_WORLD.setErrhandler(MPI

[2015-04-29 18:37] marcocod commented on #251
ok, with the nightly version the problem is fixed.
So I'll wait the 1.8.5 version...

[2015-04-30 16:22] jsquyres commented on #211
I'm going to close this issue since PR #228 is open for it.

[2015-04-30 16:23] jsquyres commented on #70
I doubt this will ever be fixed.

[2015-04-30 16:23] #70 closed

[2015-04-30 16:23] #211 closed

[2015-04-30 16:30] jsquyres commented on #330
@howarthjw There's been no real progress on this for quite a while, and I can't reproduce it.  I'm going to close this issue.  Please feel free to add comments on here; we can re-open it if you have the cycles to debug, etc.

[2015-04-30 16:30] #330 closed

[2015-04-30 16:35] jsquyres commented on #91
URL of Markus' original post: http://www.open-mpi.org/community/lists/devel/2009/09/6821.php

Gist for his 2 program attachments: https://gist.github.com/d551d98eba357bc85c01.git

[2015-04-30 17:27] jsquyres commented on #91
I cannot reproduce either of these problems at the 1.8 HEAD.  Closing the issue.

[2015-04-30 17:27] #91 closed

[2015-04-30 19:03] jsquyres commented on #251
@marcocod Any news on trying a v1.8 nightly snapshot tarball?

[2015-04-30 19:10] jsquyres commented on #251
@marcocod oops -- I didn't refresh my browser to see your prior response...

[2015-04-30 20:29] marcocod commented on #251
Ok, I have some news.
When I compile my project, in the Makefile there are many (parallel) targets that share some objects. The list of ipo warnings appears only for some applications and not for the others.
I also tried to set as target only one of the application that shows the warnings but the issue remains.

[2015-04-30 20:54] jsquyres commented on #251
@marcocod In re-reading this issue, let me answer a question that was previously unanswered: the numbering of libmpi.so.X is unrelated to the version number of Open MPI.  So libmpi.so.1.6 does not necessarily mean "Open MPI v1.6".

If you care: We use the GNU Libtool scheme for numbering our shared libraries: https://www.gnu.org/software/libtool/manual/libtool.html#Versioning

libmpi.so.1.6.0 actu

[2015-04-30 21:19] jsquyres commented on #251
This is very strange; I have more emails for this thread than are showing up here in the Github web UI...  Huh.

@marcocod One clarification: did you compile Open MPI with the Intel compiler, or gcc?  (I ask because you mention that you compiled your app with -ipo and not OMPI)

[2015-04-30 21:39] jsquyres commented on #251
FWIW, I'm able to replicate this issue (build OMPI with Intel compiler, then build an MPI app with the Intel compiler and -ipo).

I do note two things:

1. All of these messages are warnings; you still get a valid executable.
1. All the symbols it is complaining about are not in libmpi -- they are in other Open MPI libraries.

I think I know why you don't see these warnings in 1.6 and you do see t

[2015-04-30 21:41] marcocod commented on #251
When I talked about version of openmpi I refered to the version of the package I downloaded.
To be more specific package 1.8.5 has the library libmpi.so.1.0.8 and package 1.6.5 has the library libmpi.so.1.6.0.
I compiled openmpi library with both gcc and intel compiler (I use the environment modules). If I use the intel compiler module I load the openmpi library built with intel compiler, if I use

[2015-04-30 22:05] marcocod commented on #251
Thanks, now the reason of warnings is clear.
Anyway, in my opinion, it is better if the wrapper links explicitly all the libraries. Maybe you can add an option in the configure script for this.

[2015-04-30 22:32] jsquyres commented on #251
We actually intentionally only link in -lmpi for long, complicated reasons.  See https://svn.open-mpi.org/trac/ompi/ticket/3422 if you care to see the sordid details.

That being said, there are workarounds if you want to link in the other libraries yourself (with the disclaimer that you'll break the reasons we do this).  E.g., --with-wrapper-libs, or setting an environment variable, or editing th

[2015-05-01 11:05] jsquyres opened #568 ""make check" fails: opal shmem framework requires at least 1 component"
On master, if you `make check` in a tree where you haven't run `make install`, the OPAL shmem framework won't be able to find any components, and therefore at least the `test/datatype/ddt_pack` test will fail (because `opal_init()` will fail because it can't find any shmem components).

The comments in the shmem framework code state we *need* to have a shmem component, and it's a failure if we don

[2015-05-02 10:54] #568 closed

[2015-05-04 17:52] hppritcha opened #569 "undefined symbol: psmx_eq_open in libmca_common_libfabric"
When configuring ompi with default --enable-dlopen one now gets warnings about an undefined symbol (psmx_eq_open) at job launch,
e.g.

[mu1567.localdomain:16525] mca_base_component_repository_open: unable to open mca_mtl_ofi: /users/hpp/ompi_install/lib/libmca_common_libfabric.so.0: undefined symbol: psmx_eq_open (ignored)

[2015-05-04 17:55] jsquyres commented on #569
@yburette Can you have a look?

[2015-05-04 18:17] yburette commented on #569
Is this with the embedded libfabric?

[2015-05-04 18:29] j-xiong commented on #569
sound like an older version of libfabric is dlopened.

[2015-05-04 19:42] hppritcha commented on #569
yes, I think its just by chance that psmx_eq_open is showing up.  Its
probably a generic thing about the way the ompi is building libfabric
embedded and that libfabric by default doesn't export internal symbols.
Seems to confuse the ompi mca framework.  Don't understand why yet.

2015-05-04 12:17 GMT-06:00 Yohann Burette <notifications@github.com>:

[2015-05-04 20:29] hppritcha commented on #569
Never mind think I found the problem in the top level Makefile.am in the embedded libfabric. checking

[2015-05-04 20:32] hppritcha commented on #569
the psmx_eq.c was missing from the source file listing for the psm provider in the "embedding" makefile.
so its an ompi mca problem not really a psm provider problem.

[2015-05-04 20:36] yburette commented on #569
Strange... I thought we had fixed that problem before.
@jsquyres: could there be a problem in the way the embedded libfabric gets updated?

[2015-05-04 20:43] jsquyres commented on #569
If that was a mistake in the top-level Makefile.am, that should be outside the embedded copy of libfabric (and therefore not subject to change when the embedded libfabric is updated).

Perhaps we/I just goofed in there at some point and erased a fix to that Makefile.am.  :(

--
Jeff Squyres
jsquyres@cisco.com
For corporate legal information go to: http://www.cisco.com/web/about/doing_business/lega

[2015-05-04 20:44] hppritcha commented on #569
I'm putting together a fix

2015-05-04 14:43 GMT-06:00 Jeff Squyres <notifications@github.com>:

[2015-05-04 21:59] #569 closed

[2015-05-05 15:12] jsquyres opened #571 "ompi is failing netcdf-fortran tests"
Per 's @opoplawski post (http://www.open-mpi.org/community/lists/devel/2015/05/17383.php), it looks like OMPIO is failing netcdf-fortran testing.

@edgargabriel Can you have a look?

[2015-05-05 15:33] edgargabriel commented on #571
ok, I can but I am shocked to see that ompio in 1.8.5 is the default?
THat was not the plan, that should be ROMIO. THere are a *huge* number
of fixes on master that we can not backport to 1.8 series (since it
involves interface changes of the frameworks), so by all means, ROMIO
should be the default in 1.8 series...

THanks
Edgr

On 5/5/2015 10:12 AM, Jeff Squyres wrote:

--
Edgar Gabriel
Associat

[2015-05-05 15:52] rhc54 commented on #571
I fixed it

[2015-05-05 15:58] jsquyres commented on #571
Slightly less terse than @rhc54: it was an accident that OMPIO was the default on v1.8.  It was fixed in 02bdb63a27c039028922dff70547e6d22547055a.  :-)

[2015-05-05 16:00] edgargabriel commented on #571
thanks! I will still have a look at it, since there is always a chance that people might use it accidentally, e.g. if they configure without profiling interface, ROMIO can not be used and it will default to omio.If it is something that can be fixed without the changes in master, I am happy to provide a patch.

[2015-05-05 16:03] jsquyres commented on #571
@edgargabriel Question: do the netcdf-Fortran tests pass on master with OMPIO?

[2015-05-05 16:03] edgargabriel commented on #571
honestly I have not tried them, that's another reason to look into that

[2015-05-06 14:17] rhc54 commented on #571
@edgargabriel sorry for that terse reply - I was just buried in meetings yesterday, didn't have time to say a lot, but also didn't want you chasing something that I'd already fixed.

[2015-05-06 14:23] edgargabriel commented on #571
no worries :-) even if it doesn't make it into the 1.8 series, I would still like to understand what is causing the problem

[2015-05-06 14:56] edgargabriel commented on #571
even with the options mentioned on the mailing list, I can not reproduce the problem :-( I will continue to look into it next week, but both, the C and Fortran tests of netcdf pass for me on the 1.8 series as well as master.

[2015-05-09 23:42] hppritcha opened #575 "commit a2b55e12 breaks open mpi for some cray systems"
The faking the IB device code in commit a2b55e12 has bad effects on some cray systems.
In some cases, compute nodes on Crays are always configured to be able to run so-called
CCM (cluster compatibility mode).   This CCM mode, makes use of a purely user space
ibverbs library that attempts to provide most, but not all, of the functionality of ibverbs over
a true HCA.  In this case things go wrong.

[2015-05-10 01:48] eschnett opened #576 "[patch] Linker error -- confusion with -L option"
I see this build error with OpenMPI on Shelob at LSU:

[code]

I configured with

[code]

I am using a self-built clang 3.6.0 that is called via the "wrap-clang" script, which calls clang, adding a few command line options to set include and library paths pointing to the self-build gcc 5.1 installation that provides libstdc++. (This is necessary since not all software packages honours CFLAGS, CXXF

[2015-05-11 00:17] scrobey opened #579 "Memory leak with version 1.8.5?"
I'm seeing a large memory leak with version 1.8.5, installed with brew on Mac OSx 10.8.5. The same code does not have the problem with versions 1.8.1 to 1.8.4. This is just a heads up to see if others are seeing a similar problem.

[2015-05-11 01:06] rhc54 commented on #579
Can you tell us something about what you were doing to expose this so we can track it down?

[2015-05-11 04:12] scrobey commented on #579
If you are interested in tracking it down, it is with the CLAMR open source adaptive mesh refinement code at http://www.github.com/losalamos/CLAMR. The particular problem that is failing is a hybrid MPI/GPU code. To reproduce it:

Download CLAMR source

https://github.com/losalamos/CLAMR.git
cmake .
make -j
mpirun -n 2 ./clamr -n 128 -i 100 -t 600

Within a couple of hundred cycles, it has the 16

[2015-05-11 11:29] ggouaillardet commented on #579
is a gpu needed to reproduce the issue ?
I have no gpu and no clamr binary is built

[2015-05-11 11:53] jsquyres commented on #579
Adding @rolfv, the NVIDIA Open MPI rep, in case it's a GPU issue...

[2015-05-11 14:47] scrobey commented on #579
body{font-family: Geneva,Arial,Helvetica,sans-serif;font-size:9pt;background-color: #ffffff;color: black;}body{font-family: Geneva,Arial,Helvetica,sans-serif;font-size:9pt;background-color: #ffffff;color: black;}I think a GPU is necessary. The code path through the clamr_mpionly is almost identical in the MPI calls, but does not show the problem. Also, I am running GCC 4.9 and with NVidia GeForce

[2015-05-11 14:54] rolfv commented on #579
Do you what configure flags were used to configure Open MPI?

[2015-05-11 16:05] scrobey commented on #579
body{font-family: Geneva,Arial,Helvetica,sans-serif;font-size:9pt;background-color: #ffffff;color: black;}I'm using the brew package for the Mac OSx. The website for their build is:https://github.com/Homebrew/homebrew/commit/931ef2827101198ea027a032f6e97d1f9d05b2cf#Library/Formula/open-mpi.rband the configuration formula is:class OpenMpi < Formula

          homepage "http://www.open-mpi.org/"

[2015-05-11 16:38] jsquyres commented on #579
@scrobey Your last comment came through very garbled -- it looks like Github didn't understand the markup your mail client used.

Gilles and I made the assumption about GPU because you said it was an MPI/GPU code -- if you're not using GPUs, then that eliminates a whole bunch of variables.

[2015-05-11 17:22] scrobey commented on #579
body{font-family: Geneva,Arial,Helvetica,sans-serif;font-size:9pt;background-color: #ffffff;color: black;}It may very well have something to do with the GPUs. I don't see the problem with the MPI only code despite the code paths being very similar through the MPI communication for the two versions. The configure instructions are from brew -- here is a link to the site rather than a cut and paste.

[2015-05-11 17:59] rolfv commented on #579
I just ran this with Open MPI 1.8.5 and Open MPI 1.8.4 and they both ran fine for me.   Here is 1.8.5 version.
[code]

[2015-05-12 00:45] scrobey commented on #579
I retested the Mac after a reboot and reinstalling openmpi 1.8.5 and it still leaks memory like crazy. I tried these options that Nathan Hjelm suggested. The first option did not get recognized and the second still has the memory leak. I can try some others and see if I can isolate which layer is causing the problem. I'll also try a 1.8.5 build on another system. None of our big systems have it in

[2015-05-12 00:51] scrobey commented on #579
I just looked at top on the Mac when it is leaking memory and it is orterun that is showing the large memory use rather than the 2 clamr processes. Does this tell us anything? Top at around 80 cycles

8885  clamr        64.5  00:27.53 8/1   5    71   393+   9484K+ 26M+   20M+   79M+   2675M+ 8885 8882 running
8884  clamr        36.6  00:24.90 7     4    71+  393+   9620K- 27M+   20M    94M-   2675

[2015-05-12 13:05] rolfv commented on #579
That is perplexing.  I do not see that on my machine but it is RHEL 6.5.  For the record, here is some output from top just as the job gets going.  It will be interesting to see if you observe it on another machine.
[code]

[2015-05-12 14:30] scrobey commented on #579
body{font-family: Geneva,Arial,Helvetica,sans-serif;font-size:9pt;background-color: #ffffff;color: black;}I'll also rebuild open-mpi 1.8.5 from scratch on the Mac and maybe a newer version of the Mac OS. -----Original Message-----
From: Rolf vandeVaart
Sent: May 12, 2015 7:05 AM
To: open-mpi/ompi
Cc: Bob
Subject: Re: [ompi] Memory leak with version 1.8.5? (#579)

That is perplexing.  I do not see

[2015-05-12 15:39] ianhinder commented on #579
I am seeing the same problem with the Cactus code (cactuscode.org) also with OpenMPI 1.8.5 installed from homebrew.  The orterun process takes a huge amount of memory, whereas the MPI process memory usage is normal (about 4 GB, as intended).  This is with -np 1.

[2015-05-13 04:00] scrobey commented on #579
What is the platform you are seeing this on? Is it just MPI code or is it a hybrid MPI/+X code?

On May 12, 2015, at 9:39 AM, ianhinder <notifications@github.com> wrote:

[2015-05-13 09:54] ianhinder commented on #579
We see the problem on OS 10.9 and OS 10.10.  In both instances, OpenMPI was installed via Homebrew (https://github.com/Homebrew/homebrew/blob/master/Library/Formula/open-mpi.rb).  The homebrew commit (https://github.com/Homebrew/homebrew/commit/931ef2827101198ea027a032f6e97d1f9d05b2cf) which updated 1.8.4 to 1.8.5 does not seem to make any other changes, so I suspect this is not a homebrew problem

[2015-05-13 12:12] ggouaillardet commented on #579
@ianhinder can you please provide basic instructions on how to build and run cactuscode ?
is some input data required ? if yes, do they come with the code ? if not can you make them available ?
fwiw, I note homebrew configure with --enable-ipv6

[2015-05-13 14:59] rhc54 commented on #579
I can reproduce this on the Mac - don't see it on Linux. I'm not sure of the root cause but will investigate.

FWIW: it seems to be happening regardless of configuration, and even with just "sleep 1000" as the application. The key is to keep mpirun alive for awhile. Everything is stable for roughly 30 seconds, and then something triggers a rapid growth in memory footprint accompanied by 100% cpu.

[2015-05-13 15:06] ianhinder commented on #579
To reproduce this using Cactus (I wish it were simpler):

    brew tap homebrew/science
    brew install curl gcc --without-multilib fftw gsl hdf5 --with-fortran hwloc jpeg openssl pkg-config szip open-mpi

Apple's gcc is not enough, which is why you need the version from homebrew.

Apple's SVN doesn't like the Cactus server certificate.  Either use an svn which has a modern certificate chain, or

[2015-05-13 15:10] rhc54 commented on #579
As I said, it is unnecessary to go to those lengths - a simple "sleep 10000" will do. Still investigating. I'm not finding anything obvious, so this may take a bit. Clearly something limited to the Mac.

[2015-05-13 15:12] ianhinder commented on #579
And the last hour was wasted...

[2015-05-13 15:33] rhc54 commented on #579
Sorry - I did get to it as soon as I could :-(

I have confirmed that this isn't happening on the master. Am now checking with earlier versions in the 1.8 series.

[2015-05-13 16:27] rhc54 commented on #579
I've confirmed that this does _not_ exist in 1.8.4. Still no clear root cause, but at least there is an interim solution - just stick with 1.8.4 until we figure this out.

[2015-05-13 23:46] scrobey commented on #579
body{font-family: Geneva,Arial,Helvetica,sans-serif;font-size:9pt;background-color: #ffffff;color: black;}I rebuilt 1.8.5 on the Mac with a simple configure (only a prefix option) and it still reproduces the problem. Also running with mpirun -n 1 shows a leak though it doesn't seem to be as bad. The description using sleep matches what I see. It seems OK for some seconds and then starts leaking li

[2015-05-14 09:42] barrywardell commented on #579
As of https://github.com/Homebrew/homebrew/pull/39745, homebrew has reverted to using 1.8.4 until a fix is found.

[2015-05-15 00:18] rhc54 commented on #579
I have this fixed and awaiting commit into the 1.8 series:

https://github.com/open-mpi/ompi-release/pull/275

[2015-05-15 00:24] jsquyres opened #585 "Commit broke TCP BTL when IPv6 is enabled"
Git bisect shows that a7b0c00 broke the TCP BTL when `--enable-ipv6` is used (this commit does not appear to be the problem; it seems to have exposed a latent bug elsewhere; see below).

Before this commit, I can `mpirun --mca btl tcp,sm,self --host a,b ring_c` and it works fine.  After this commit, I get this:

[code]

This is on machines with 4 IP interfaces, none of which have IPv6 enabled in t

[2015-05-15 02:27] hppritcha commented on #575
commit e95010b fixed this issue. closing.

[2015-05-15 02:27] #575 closed

[2015-05-15 04:35] bosilca commented on #585
The output was wrong as the port was printed in network byte order. I pushed open-mpi/ompi@675dccf to fix this particular issue. Unfortunately this doesn't solve the issue.

Here is what is happening when IPV6 is enabled (on my machine at least but this apply easily to any other environment). The BTL TCP reports 2 interfaces, one IPV4 and one IPV6. On the first send the IPV6 interface is used, but

[2015-05-15 05:30] scrobey commented on #579
I tried out the fixes and now there is no problem with running on the Mac. Nice work.

Bob
On May 14, 2015, at 6:18 PM, rhc54 <notifications@github.com> wrote:

[2015-05-15 11:15] jsquyres commented on #585
I think there's multiple issues uncovered here:

* if_linux_ipv6.c is not ignoring disabled interfaces like it should.  I.e., we shouldn't even have 2 TCP BTL modules when all IPv6 networking is disabled.  That being said, I'm not sure why the IPv6 addresses exist on my machine when my /etc/sysconfig/network file contains `NETWORKING_IPV6=no` (which is the RHEL 6.x default).
* Should we simply ign

[2015-05-15 22:04] jsquyres commented on #579
@barrywardell FYI: You can still stick with 1.8.5 (there have been many bug fixes since 1.8.4) and just disable the "keepalive" functionality by adding this line to the openmpi-mca-params.conf file that is installed in $(sysconfdir):

[code]

[2015-05-16 09:39] yafshar opened #587 "MPI_Waitall problem in utilizing MPI Fortran interfaces "use mpi, and use mpi_f08""
utilizing MPI Fortran interfaces "use mpi, and use mpi_f08" does not match with "mpif.h" when I am
using MPI_Waitall and give MPI_STATUS_IGNORE as an input

[code]
It will give me an error
[code]
which is totally fine when I utilize "mpif.h" interface.
What should I use for MPI_STATUS_IGNORE in case of array_of_requests

[2015-05-16 10:39] jsquyres commented on #587
You should use MPI_STATUSES_IGNORE (note that it is plural).  It is technically different than MPI_STATUS_IGNORE (note that it is singular).

The mpif.h interfaces are not cross-checked by the compiler at compile-time; the "use mpi" and "use mpi_f08" interfaces are checked by the compiler at compile-time.

--
Jeff Squyres
jsquyres@cisco.com
For corporate legal information go to: http://www.cisco.c

[2015-05-16 10:40] #587 closed

[2015-05-18 05:36] ggouaillardet commented on #585
@jsquyres i know almost nothing about IPV6 and i did a bit of research :
- each IPV6 interface has an IPV6 link local address
- this is a non routable address
- when using an IPV6 link local address, the interface to be used must be explicitly specified :
  ping6 <my ipv6 address> fails but ping6 -I<my ipv6 interface> <my ipv6 address> does work :
[code]

I could not find any logic in the tcp btl

[2015-05-18 15:42] jsquyres commented on #585
@ggouaillardet How about ignoring link local addresses in if_linux_ipv6.c?  This would obviate the need to put something in oob TCP and the TCP BTL.

[2015-05-20 01:34] jsquyres opened #592 "Problems with keepalive support"
Per discussion on the OMPI call today, I tried the following keepalive experiment on master and v1.8:

* Not in a SLURM allocation
* Used a trivial "mpi_sleep" program that I wrote:

[code]

* `mpirun --host a,b -np 2 mpi_sleep` (this is using the connectionless usnic transport between servers).
* mpirun is running on the cluster head node (which is neither `a` nor `b`)
* I let the job run for a f

[2015-05-20 01:41] jsquyres commented on #592
I forgot to mention -- the behavior is essentially the same on the v1.8 branch.

[2015-05-20 16:26] bosilca commented on #592
I am not sure that the ssh connection was still supposed to be around? I have a recollection that once we started the daemon it forks and the ssh connections returns. So I would guess that the orterun issue is independent on the ssh session being active.

As a side note: I checked on our fault tolerant version (based on 1.6) and the ssh connections disappear once the orte daemons are up.

[2015-05-20 16:34] rhc54 commented on #592
It sticks around if one sets the debug options or asks for --leave-session-attached. I suspect Jeff is working in debug mode and so the connection remains active.

[2015-05-20 19:10] gonnetp opened #594 "MPI_THREAD_MULTIPLE still broken in 1.8.5"
I am currently working on a piece of software (SWIFT, see http://icc.dur.ac.uk/swift/) which relies heavily on MPI's asynchronous communication primitives and on `MPI_THREAD_MULTIPLE`.

Essentially what is happening is that the code will often call `MPI_Isend`, `MPI_Irecv`, and `MPI_Test` from more than one thread at the same time. The code works fine with Intel's MPI, IBM's Platform MPI, and with

[2015-05-20 19:40] hjelmn commented on #594
The backtrace looks like a normal iteration of the progress loop. This is a different issues. I will take a look now.

[2015-05-20 20:41] hjelmn commented on #594
See the problem. There is a double-unlock in an error path. Fixing in master now.

[2015-05-20 20:52] gonnetp commented on #594
Wow... That was quick!

Re-compiling from source, will check if this fixes everything.

Many, many thanks.

[2015-05-20 21:00] hjelmn commented on #594
Looks like there is still an issue. Will commit a fix soon.

[2015-05-20 21:33] jsquyres commented on #592
I did a debug build, but I did not specify `--leave-session-attached`.

Either way, it's apparently not (only) the ssh session sticking around that is causing mpirun to not die.  Is there just a missing `orte_errmgr.abort()` somewhere, perchance?

[2015-05-20 21:48] rhc54 commented on #592
I'll take a look at it

[2015-05-20 22:16] hjelmn commented on #594
I think I get the remaining issue. The test appears to run fine on my mac.

[2015-05-20 22:16] hjelmn commented on #594
Let me know if the issue is fixed. I will open a PR to bring the change into 1.8.6

[2015-05-21 14:55] rhc54 commented on #592
@jsquyres I reviewed the code and don't see an obvious error. I did see a code path that would result in this behavior, but you shouldn't have gone down it given your reported setup and cmd.

Can you add "--mca errmgr_base_verbose 10 --mca oob_base_verbose 100" to the cmd line and send me the entire output?

[2015-05-22 14:41] jsquyres commented on #592
Done -- full output is in this gist:

    https://gist.github.com/jsquyres/3209c46f07cdb34a6f76

This was across 2 machines (ivy01,ivy02), not in a slurm job, without `--leave-session-attached`, and with the errmgr and oob verbose output.

The job hung at the bottom of the gist output:

* ivy02 was powered down
* all jsquyres processes on ivy01 were dead
* On the head node (where mpirun is running

[2015-05-22 17:51] roblatham00 commented on #158
nope.  Or perhaps, "not at that time" but now it has.  I've opened http://trac.mpich.org/projects/mpich/ticket/226

[2015-05-22 18:26] rhc54 commented on #592
@jsquyres I think I have the rather trivial fix required here - can you please apply and try the following:

[code]

[2015-05-22 20:03] jsquyres commented on #592
Sweet!  It now [mostly] works.  The only "glitch" is that it exits without any kind of error message, and mpirun's exit status is 0:

[code]

[2015-05-22 20:09] rhc54 commented on #592
hmmm...okay, i can easily fix that one. Will do so and set it up.

Thx!

[2015-05-22 20:34] jsquyres commented on #579
This is now fixed on master and the v1.8 branch -- will be in the upcoming v1.8.6 release.

[2015-05-22 20:34] #579 closed

[2015-05-23 03:31] astrung opened #599 "open mpi error:bash: orted: command not found"
When i use mpirun on a computing cluster with 2 nodes,i get this error:
bash: orted: command not found
--------------------------------------------------------------------------
ORTE was unable to reliably start one or more daemons.
    -My command:
mpicc testprogram.c
mpirun -np 5 --hostfile .mpi_hostfile ./a.out
    -If i run in a single node:
mpirun -np 5 --host localhost ./a.out >>> it works f

[2015-05-23 03:51] rhc54 commented on #592
Fixed and committed to master

[2015-05-23 03:51] #592 closed

[2015-05-23 10:25] jsquyres commented on #599
It is likely that you do not have your PATH set correctly for non-interactive logins on the remote server.  See the FAQ for more info on setting the PATH properly (to include the "prefix" option): http://www.open-mpi.org/faq/?category=running#run-prereqs

[2015-05-23 10:25] #599 closed

[2015-05-23 11:19] astrung commented on #599
When i try to test:
Node1(master):which mpirun:/usr/local/bin/mpirun
Node2(slave):which mpirun:/$USER/openmpi/bin
And when i run this command from master:
mpirun --hosts master,slave -np 4 a.out>>>same error
But when i run from slave:
mpirun --hosts master,slave -np 4 a.out>>>work fine.
It looks like that mpi will find in default location(/usr/local/...) when run and if i set another PATH for slav

[2015-05-23 11:28] jsquyres commented on #599
Note that there is a difference between interactive logins and non-interactive logins.  The FAQ I cited explains both the "prefix" option and how you should be setup for non-interactive logins.

[2015-05-23 12:03] astrung opened #600 "How to uninstall without installed directory"
I have install openmpi1.8.4 2 months ago,and now i want to reinstall 1.8.5.But i have remove the installed directory,so i dont have any "configure" file to run make uninstall.So can we have another ways to remove it????

[2015-05-23 12:07] jsquyres commented on #600
Open MPI only installs files in the installation tree -- it doesn't modify files, or put files outside the installation tree.  So you basically have three options:

1. If you installed Open MPI into a tree by itself (e.g., if you supplied `--prefix=/opt/openmpi-1.8.4`), you can just `rm -rf /opt/openmpi-1.8.4` -- job done.
2. If you installed Open MPI into a tree with other things (e.g., if you su

[2015-05-23 15:42] scrobey commented on #579
Thanks for the quick response on this. Does this mean that we should not install 1.8.5 on Macs? Or is the fix being back-ported?

Bob
On May 22, 2015, at 2:34 PM, Jeff Squyres <notifications@github.com> wrote:

[2015-05-23 17:31] rhc54 commented on #579
You can use 1.8.5 on Mac, but you need to set the MCA param oob_tcp_keepalive_time = 0 in your default MCA param file to ensure it is always applied

FWIW: I plan to release 1.8.6 (which will include the fix) in about 1 week

[2015-05-27 12:47] plesn opened #607 "usock error with many ranks on 1 node"
I am getting oob usock errors on master (dev-1802-gae0d577) when
launching more than 131 ranks on 1 node. I stumbled on this on a Xeon
Phi KNC, but it also happens on regular nodes just with `--oversubscribe`.

example:
[code]

Usock must be reach some limit with > 130 ranks, but what is strange
is that I get the same error even whith `--mca oob ^usock`

[2015-05-27 12:55] rhc54 commented on #607
The problem is that the pmix component is also using usock's for its
communication - we'll need to clarify the error message. Unfortunately,
there is no way around that one, so you'll need to discover the cause of
the problem. I can try to replicate tomorrow on my system - not sure why
you'd hit a limit down that low.

On Wed, May 27, 2015 at 5:47 AM, plesn <notifications@github.com> wrote:

[2015-05-27 13:52] dribbroc commented on #286
Just tried out the 1.8.5 release and the bug is gone on my jetson board.
Thank you for that!

Unfortunately a seg fault now occurs every time i execute a mpi programm (that uses no cuda at all) on x86 ubuntu 12.04 with cuda-mpi support enabled.

Precisely the call to cuMemHostUnregister segfaults, because the variable checkmem is zero.
https://github.com/open-mpi/ompi-release/blob/v1.8/ompi/mca/co

[2015-05-27 14:01] rolfv commented on #286
Glad things work although I cannot take credit for that.  Are you using CUDA 7.0 now instead of CUDA 6.5?  In terms of the other issue, yes, I just ran into that also.  I have already put a fix back and it will be in Open MPI 1.8.6.  If you have time, could you try 1.8.6rc1 and verify that fixes things for you.

http://www.open-mpi.org/software/ompi/v1.8/downloads/openmpi-1.8.6rc1.tar.gz

[2015-05-27 14:01] dribbroc commented on #286
Ok i found your commit
https://github.com/open-mpi/ompi/commit/b3e4ae71d5303b91cf719303fc1eed8377e65ce4
which might fix the above issue :)

[2015-05-27 14:08] dribbroc commented on #286
Duh, should refresh the page before posting new messages.

No, I'm still using cuda 6.5 on the jetson board.
As far as i know, there does not exist any cuda 7 release for jetson tegra k1.
At least https://developer.nvidia.com/linux-tegra does not contain any cuda 7 release.

On the x86 side, i testet cuda 6.5 and 7.0, just to be sure it was not related to a 7.0 only error.
Both failed with 1.8.5

[2015-05-27 16:21] hjelmn commented on #158
I think Ron means http://trac.mpich.org/projects/mpich/ticket/2261

[2015-05-27 16:34] dshrader commented on #158
I have run in to similar behavior and Nathan asked me to comment on it here. Basically, the problem is that whenever  MPI_MODE_EXCL is used with a panasas target file, a non-zero return status is returned from MPI_File_open. However, the file is created on the panasas volume but has size zero. If MPI_MODE_EXCL is not used, the file opens just fine. I am using Open MPI 1.8.5.

So, this works:
ret =

[2015-05-27 17:53] roblatham00 commented on #158
The problem has been perfectly explained.  I just need a bit of time to patch it.  If we open files in the hinted path, we need to either close them or update the EXCL flag.   I think close is the way to go, unless there's some weirdness about a closed file forgetting its hints?

[2015-05-27 21:26] dribbroc commented on #286
Your patch seems to fix the x86 issues with cuda not initialized at all.

Thanks in advance for your quick help.

[2015-05-28 10:24] plesn commented on #607
Ah yes, indeed, I was confused by the message and looking at the wrong
place, this happens rather in the first call of pmix
get_attr(PMIX_JOBID,…) which uses usock.

By the way on a KNC (but also with --oversubscribe) this first
sendrecv/wait call to the orted is rather expensive : it takes 8s with
128 ranks. But this should be a separate issue…

[2015-05-28 12:31] jsquyres opened #609 "oob:ud is .ompi_ignored in v1.10.0"
@hjelmn @rhc54 I just noticed that oob:ud is .ompi_ignored on the v1.10 branch.  Is the oob:ud component stable on master?  Should it be brought over to the v1.10 branch?

@miked-mellanox @jladd-mlnx may also have opinions here...?

(this is an open question -- I don't have an opinion here; I just noticed this and thought that someone might want to enable ud in the v1.10.0 release)

[2015-05-28 14:43] rhc54 commented on #607
There seems to be a limit being applied to the usock number - I'm investigating.

[2015-05-29 19:33] rhc54 commented on #607
I've isolated the problem and am finalizing a fix - hope to commit it in the near future. Thanks for bringing this to my attention!

[2015-05-29 23:00] rhc54 commented on #607
Okay, this has been committed to the master. There are still a few performance improvements that can be made, but it is at least working right now.

[2015-05-29 23:00] #607 closed

[2015-05-30 16:19] jladd-mlnx commented on #609
It doesn't make sense to include it in 1.10. We revived it in master to
support PMIx collectives on IB systems. It can stay .ompi_ignored in 1.10
and will go live with PMIx in the 2.0 release.

Josh

On Thu, May 28, 2015 at 8:31 AM, Jeff Squyres <notifications@github.com>
wrote:

[2015-06-01 09:43] jsquyres commented on #609
Roger.

[2015-06-01 09:43] #609 closed

[2015-06-02 11:25] hppritcha opened #616 "commit ea35e47 breaks cray build"
commit ea35e47 breaks build of ompi for cray

[2015-06-02 11:38] jsquyres commented on #616
@hppritcha I can't seem to find this commit in the ompi repo.  Which commit are you referring to?

[2015-06-02 15:01] alejandro-all opened #618 "Message queues debugging not working"
We (Allinea) are experiencing a problem when debugging the message queues:

Summary: Message queues debugging broken on recent OpenMPI versions.

Affected OpenMPI versions: 1.8.3, 1.8.4 and 1.8.5 (at least).
The debug message queue library is not returning any pending messages. This does not happen with previous versions of OpenMPI, as some processes are blocked in MPI_Receive.

The function resol

[2015-06-02 15:06] ggouaillardet commented on #616
i forgot some git add in my last three commits (missing fortran bindings) and that broke many things.
I am afk, so feel free to revert them.

[2015-06-02 15:07] ggouaillardet commented on #460
i have some stuff ready for that, and I will pr tomorrow

[2015-06-02 15:34] hppritcha commented on #616
fixed the commit sha in description.

[2015-06-02 15:49] #616 closed

[2015-06-02 15:58] rhc54 commented on #618
@jsquyres Could you please take a look?

[2015-06-03 13:33] ggouaillardet commented on #618
looks like all v1.8 does not work
this is likely due to the different implementation of ompi_free_list_t that was not reflected into the dbg plugin.
I will try to dig a bit more

[2015-06-04 02:42] ggouaillardet commented on #618
@alejandro-all with Open MPI v1.8 and above, the debugger does not "see" the message that are being sent by MPI_Send or received by MPI_Recv
if you replace
[code]
with
[code]
then the debugger can find the pending messages.

the root cause is the debugger plugin is not (yet) aware of an optimisation in mca_pml_ob1_send/mca_pml_ob1_recv in which the request is now allocated on the stack, instead of

[2015-06-04 09:36] plesn commented on #607
Thanks a lot, I had the occasion to run the fix on a KNC and this
solves the problem at 131 processes. It still bumps into a limit at
<202 processes on the node:

    [mo102-mic0:08157] [[45814,0],0] ORTE_ERROR_LOG: The system limit on number of network connections a process can open was reached in file util/listener.c at line 321

I have no problem running an openmpi-1.8 on the 240 hwthreads of t

[2015-06-04 10:39] astrung opened #626 "OpenMPI:A request was made to bind to that would result in binding more processes than cpus on a resource."
when i run a program what use MPI_Broadcast within a loop .when i use more processes,i get this error(with >=5 process)

[code]

But this program with run with 4 or lower process.
SO how to fix it??I use OpenMPI 1.8.4

[2015-06-04 16:38] bosilca commented on #618
@ggouaillardet there is a comment in [orterun.c:2421](https://github.com/open-mpi/ompi/blob/master/orte/tools/orterun/orterun.c#L2419) about the integration of MPIR_being_debugged and the different parallel debuggers available.

[2015-06-04 21:24] jsquyres commented on #626
You might want to upgrade to the recently-released 1.8.5; it has lots of bug fixes.

Additionally, you probably have 4 processors.  When you run with >= 5 MPI processes, MPI will emit this warning because you are oversubscribing the machine.

I have a dim recollection that we disabled binding by default when you run more processes than processors; can you try upgrading the 1.8.5 and see if the pro

[2015-06-04 23:24] hppritcha commented on #618
I'm not keen on having changes in behavior  of ompi - esp. in the critical path for messages - when using a debugger.

[2015-06-05 03:09] rhc54 commented on #607
The problem lies in your system limit on the number of file descriptors a user can have open. The default limit on many systems is 1024, and that is too small when you are running hundreds of processes. You can check it with:

[code]

It’s the “open files” limit that is the issue here. I’ve upped mine to 4096, and I can run over 300 procs locally. How you change it depends on the OS and your privi

[2015-06-05 13:32] dribbroc opened #627 "cuda & MPI_THREAD_MULTIPLE"
This maybe not a real issue, but at least unexpected behaviour.
Testet with cuda 7 and openmpi 1.8.5.

Background: If using hosts with only on gpu equipped, you ever hardly use the cudaSetDevice statement in your code, as all cuda calls default to the only existing device (0).

When allocating cuda device memory in the host thread and calling MPI_Send / Recv from other threads, mpi crashes with CU

[2015-06-05 13:38] rolfv commented on #627
Can you provide a test program?  There is some special code in Open MPI for handling when there are threads to make sure we have a context for the threads.

[2015-06-05 13:50] dribbroc commented on #627
Testcase & output: https://gist.github.com/dribbroc/86422b72afe9c61b59d1

compiled with
mpic++ -std=c++11 -o testcase testcase.cpp -L/sfw/cuda/7.0/lib64 -lcudart -I/sfw/cuda/7.0/include

with openmpi 1.8.5, cuda 7.0, gcc 5.1

https://gist.github.com/dribbroc/86422b72afe9c61b59d1#file-testcase-cpp-L7
activating Line 7 resolves the issue

[2015-06-05 13:58] dvandok opened #628 "opal_path_nfs test is undeterministic and may fail in chroot environments (such as mock)"
Rebuilding from the source RPM (http://koji.fedoraproject.org/koji/buildinfo?buildID=636070) failed in our private mock environment at the moment the opal_path_nfs test was run.

The reason is that mock runs in a chroot environment, which doesn't expose the mount points from outside on the inside. But mock will mount the /proc directory *before* doing the chroot, so in /proc all the mounts from ou

[2015-06-05 16:51] rolfv commented on #627
I know what the issue is.  This does not exist in CUDA 6.5 as I handle it properly.  I will look at how to fix this.

[2015-06-06 17:17] #585 closed

[2015-06-06 17:41] jsquyres commented on #585
cddc894 contains the fix for the initially-reported bug on this issue, and therefore closed this issue.

It fully explains why commit a7b0c00 broke things w.r.t. IPv6: now that the `opal_net_private_ipv4` MCA param is being read properly, and therefore `opal_ifinit()` is properly classifying local IP interfaces as "private" instead of "public," the missing `continue` statement in the TCP BTL proc/

[2015-06-08 15:42] dribbroc commented on #627
Speaking of cuda 6.5 in general and the nvidia jetson k1 board in particular, this little test codes gets even more buggier.
(ompi 1.8.5, gcc 4.8.2, linux4tegra 21.3)

If I make the communication call synchronous (removing all threading stuff), see https://gist.github.com/dribbroc/86422b72afe9c61b59d1#file-testcase2-cpp ,then i get the following error on my jetson board:
https://gist.github.com/dr

[2015-06-08 16:36] dribbroc commented on #627
Further note to make things more clear:
https://github.com/open-mpi/ompi/issues/286 arose only at program exit.
Now the same issue arises during the program execution, when there are plenty of things to do.

[2015-06-08 20:34] jsquyres commented on #618
I think @ggouaillardet's patch is in the right spirit, but not quite correct (I have a license for DDT, so I can test the message queue functionality).  He's right that the optimization to `alloca()` is not putting the pending requests in a place that the debugger can see.

However, I cannot find any variable that is set by the debugger *in the MPI processes* indicating that a debugger has attache

[2015-06-08 21:14] jsquyres commented on #618
...well, it turns out that that was a lovely *theory*, but there's no `mqs` functionality to *set* a value in a process (you can only *read* values).  :-\

So I'm not quite sure what the right answer is here.  We know what the problem *is*: that the pending blocking requests are not being put on the global lists (because it's useful/faster to not do so).  Should we have an MCA param to disable thi

[2015-06-09 00:32] hppritcha commented on #618
I think the env. variable approach is okay.  What I would not want, and
sounds like its not posdible anyway
, would be for ompi behavior to change under. the covers when run with
debugger attached.

----------

sent from my smart phonr so no good type.

Howard
On Jun 8, 2015 3:14 PM, "Jeff Squyres" <notifications@github.com> wrote:

[2015-06-09 00:38] ggouaillardet commented on #618
@bosilca already pointed to [orterun.c:2421](https://github.com/open-mpi/ompi/blob/master/orte/tools/orterun/orterun.c#L2419)
it seems MPIR_being_debugged is not required to be set by the debugger.
(totalview does it, ddt does not)

anyway, MPIR_being_debugged is only good for tasks started under the debugger.
(e.g. if i attach a mpi app to debug a deadlock, some send/recv might be missing from th

[2015-06-09 00:40] rhc54 commented on #618
Well, the MCA var is fine - for when you are launched via mpirun and know you are being debugged. However, it is useless for the case where you are trying to attach a debugger to a running job. So as long as we somehow explain to users that attaching to a running job _might_ not work, this is okay.

[2015-06-09 00:48] ggouaillardet commented on #618
i'd rather put it this way :
before running an app, and if the user think he/she might want to attach it with a debugger, then use the MCA param to make sure no send/recv will be missing.
if not, then some send/recv might be missing

an other option is to maintain a "list" for these requests to make sure they will never be missing.
if not MPI_THREAD_MULTIPLE, then the "list" is just a pointer.
if

[2015-06-09 01:46] rhc54 commented on #618
I'll bring this up at the call tomorrow - this is a very significant change in behavior that is going to cause some considerable upset. Most users attach debuggers when their app runs into a problem - requiring that they kill the app and restart it under the debugger means that it may not reproduce the problem.

We should find a better solution, even it if means dumping that optimization.

[2015-06-09 02:32] hppritcha commented on #618
I agree with Ralph's last comment.  Excluding the vader btl, what does this
optimization buy us anyway?

2015-06-08 19:46 GMT-06:00 rhc54 <notifications@github.com>:

[2015-06-09 02:59] ggouaillardet commented on #618
@hppritcha this optimization is at pml/ob1, so it is btl agnostic

here is the related git-log (the first part is relevant here)

@hjelmn feel free to comment ...

[code]

[2015-06-09 21:57] jsquyres commented on #618
@ggouaillardet We talked about this on the call today.  Here's the suggested resolution:

1. For v1.8.x / v1.10.x: @bosilca is going to code up a solution that is similar to what you said previously: we'll freelist-allocate a request that can be used for *all* blocking operations (since there will only be one at a time, since there is no decent THREAD_MULTIPLE support in v1.8/v1.10).  We can put i

[2015-06-10 14:27] ctheo opened #634 "MPI_Gather of indexed typed to raw data"
I have encountered a problem on using MPI_Gather for gathering indexed integers to a vector of integers. When I try to gather the integers without creating a new receive type, I get a MPI_ERR_TRUNCATE error.
The error appears from two processes.

**\* An error occurred in MPI_Gather
**\* on communicator MPI_COMM_WORLD
**\* MPI_ERR_TRUNCATE: message truncated
**\* MPI_ERRORS_ARE_FATAL: your MPI job

[2015-06-10 16:00] jsquyres commented on #634
@bosilca Can you have a look?  I can confirm that the issue is repeatable on the master and head of v1.8 branch.  To my quick look, the test program looks correct.

The test program is included in the initial issue report (it wasn't included in the initial email, but it's visible on the web interface).

[2015-06-10 19:44] jsquyres opened #635 "openib memory corruption"
open-mpi/ompi@ce915b5757d428d3e914dcef50bd4b2636561bca is causing memory corruption (found by git bisect).  I don't know if this commit moved over to v1.8 yet.

I am able to get segv's when running with ce915b5757d428d3e914dcef50bd4b2636561bca and later with:

[code]

The segv is during the openib BTL initialization, but if I add printf's, the exact location of the segv moves around.  Hence, I thi

[2015-06-10 19:54] bosilca commented on #634
This is a known bug. The tuned collective modules fails to work correctly
when processes are using different datatypes, especially when some level of
pipelining is involved.

Until I have some time to look into the details, setting the following 2
MCA parameters might provide a temporary solution.

coll_tuned_gather_algorithm = 2
coll_tuned_gather_algorithm_segmentsize = 0

On Wed, Jun 10, 2015 at

[2015-06-10 21:08] #635 closed

[2015-06-10 23:30] bosilca commented on #618
Branch topic/message_queues in [@bosilca/ompi](https://github.com/bosilca/ompi/tree/topic/message_queues). It should work in single threaded case, the thread multiple fix will come shortly. However, due to the existence of the immediate send, there are cases where a request is not even allocated in the send path, so this case is not covered at all. One should notice that the immediate sends are su

[2015-06-11 06:32] ctheo commented on #634
@jsquyres and @bosilca thanks for the support.

The workaround I use is:

    MPI_Type_contiguous(block*count, MPI_INT, &recv_type);
    MPI_Type_commit(&recv_type);
    err = MPI_Gather((void*)send_data, 1, send_type, (void*)recv_data, 1, recv_type, 0, MPI_COMM_WORLD);

How about Open MPI v1.6.5?
As you might know ubuntu 15.04 uses 1.6.5.

[2015-06-11 15:56] larrystevenwise opened #638 "Problem with the default value of btl_openib_memalign_threshold"
Email thread:

Ralph --

This change was not correct (https://github.com/open-mpi/ompi/commit/ce915b5757d428d3e914dcef50bd4b2636561bca).  It is causing memory corruption in the openib BTL.

[2015-06-11 15:56] larrystevenwise opened #639 "problem starting a ompi job in a mix BE/LE cluster"
I'm seeing an error trying to run a simple OMPI job on a 2 node cluster where one node is a PPC64 BE byte order and the other is a
X86_64 LE byte order node.  OMPI 1.8.4 is configured with --enable-heterogeneous:

./configure --with-openib=/usr  CC=gcc CXX=g++ F77=gfortran FC=gfortran
--enable-mpirun-prefix-by-default --prefix=/usr/mpi/gcc/openmpi-1.8.4/
--with-openib-libdir=/usr/lib64/ --libdir=/

[2015-06-11 15:57] larrystevenwise commented on #639
Steve,

MCA_BTL_OPENIB_MODEX_MSG_{HTON,NTOH} do not convert all the fields of the mca_btl_openib_modex_message_t struct.

I would start here ...

Cheers,

Gilles

[2015-06-11 20:03] rhc54 commented on #618
@bosilca will you be bringing this across soon? I'm being asked about when 1.8.6 is going to release, and would like to do rc2 this weekend if possible.

[2015-06-11 20:33] bosilca commented on #618
I'm waiting for someone (hint @jsquyres) to validate the existing patch. I have some troubles with tv8 on my environment, I would definitively appreciate some help with the testing.

[2015-06-11 21:36] larrystevenwise commented on #638
Structure mca_btl_openib_component is a global so it should start out as 0.  Thus the "bug" of using mca_btl_openib_component.eager_limit before it is initialized effectively disables all memory alignment since mca_btl_openib_component.memalign_threshold will get set to 0.   And this is the way it has been for a while I guess.

The "fix" correctly defaults memalign_threshold to mca_btl_openib_comp

[2015-06-11 21:49] larrystevenwise commented on #638
This worked w/o any error on my cxgb4 setup:
/opt/ompi-trunk/bin/mpirun --allow-run-as-root --host stevo1,stevo2 --np 2 --mca btl_openib_memalign_threshold 12288 --mca btl openib,sm,self --mca btl_openib_if_include cxgb4_0:1 /usr/local/src/imb/3.2.4/src/IMB-MPI1 pingpong

[2015-06-11 22:58] larrystevenwise commented on #639
I'm waiting to get time on the P7 BE node to further debug this

[2015-06-12 09:24] alejandro-all commented on #618
If you point me to the patched source code I can test this on DDT.

[2015-06-12 11:12] jsquyres commented on #638
@larrystevenwise Remember that Ralph has reverted the bad commit -- I had to revert his revert to get the bad behavior to occur again.

My setup is a single local server that has libibverbs and the kernel module loaded, but no local verbs interfaces:

[code]

Once I reverted 12d3c9ca221e9485d35ac025014223d5e9bdadad, I can run examples/ring_c and get a segv:

[code]

If I add various printfs in the

[2015-06-12 13:35] larrystevenwise commented on #638
Thanks Jeff.  My mpirun set btl_openib_memalign_threshold so I thought that would simulate the change that got reverted.  I'll use your reproducer and see what's up.

[2015-06-12 13:45] rhc54 commented on #618
It was in the earlier note:  https://github.com/bosilca/ompi/tree/topic/message_queues

[2015-06-12 14:09] larrystevenwise commented on #638
Hmm, ring_c runs fine with the change on my setup:
<pre>
[root@stevo1 openib]# git diff
diff --git a/opal/mca/btl/openib/btl_openib_mca.c b/opal/mca/btl/openib/btl_openib_mca.c
index 42ea77f..fbad179 100644
--- a/opal/mca/btl/openib/btl_openib_mca.c
+++ b/opal/mca/btl/openib/btl_openib_mca.c
@@ -705,11 +705,11 @@ int btl_openib_register_mca_params(void)
                   32, &mca_btl_openib_compo

[2015-06-12 14:19] larrystevenwise commented on #638
@jsquyres, how did you config your ompi?  What version?

[2015-06-12 14:46] larrystevenwise commented on #638
interesting, it runs on ok my ompi-trunk git repo with the suspect change, but seg faults on 1.8.5 with the same change.  So perhaps this is tickling some other bug that was fixed in the trunk?

[2015-06-12 15:00] rolfv opened #640 "ibm/onesided/c_strided_acc_onelock is failing on master with openib BTL"
I noticed the following failures in my nightly tests.  I re-ran tests without CUDA-aware confiigured in and still see the failure.  This only seems to happen with openib BTL. I do not see this in 1.8 series.
[code]

[2015-06-12 15:09] larrystevenwise commented on #638
huh, i built/reinstalled 1.8.5 w/o any changes and ring_c seg faults :(
<pre>
[root@stevo1 examples]# /opt/ompi-1.8.5/bin/mpirun --allow-run-as-root --np 2 ./ring_c
[stevo1:10392] *** Process received signal ***
[stevo1:10392] Signal: Segmentation fault (11)
[stevo1:10392] Signal code: Address not mapped (1)
[stevo1:10392] Failing at address: 0x6e0
[stevo1:10392] [ 0] /lib64/libpthread.so.0[0x3975

[2015-06-12 15:15] larrystevenwise commented on #638
orte_ess_base_proc_binding() is passing NULL to opal_hwloc191_hwloc_get_cpubind() which then seg faults derefing NULL.

<pre>
Program terminated with signal 11, Segmentation fault.
#0  0x00007f542117ab00 in opal_hwloc191_hwloc_get_cpubind (topology=0x0, set=0x234d800, flags=1) at bind.c:91
91          if (topology->binding_hooks.get_thisproc_cpubind)
Missing separate debuginfos, use: debuginfo-ins

[2015-06-12 15:17] larrystevenwise commented on #638
This seg fault in my previous comment isn't related to the suspect change. And it is different from @jsquyres seg fault which was in the mem alloc hooks.  /me confused...

[2015-06-12 15:51] larrystevenwise commented on #638
Ok I rebuilt/reinstalled openmpi-1.8.5 on another system and ring_c works.  So somehow I screwed up the first time.  One thing I did on the other system:  ran ./autogen.sh first.  On the 2nd system, I just ran ./configure then built/installed it.  Perhaps the autogen.sh script did something unexpected.

So let me again try the suspect change on 1.8.5 and debug the seg fault.

[2015-06-12 16:23] larrystevenwise commented on #638
@jsquyres, I cannot reproduce your seg fault on a fresh 1.8.5 with/without the suspect change.

[2015-06-12 16:49] larrystevenwise commented on #638
I cannot reproduce it on top-of-tree from git, nor on 1.8.5.  @jsquyres, can you please retry your experiments, maybe on a 2nd system?

[2015-06-12 18:10] jsquyres commented on #638
I've been testing master only -- not v1.8.5...

[2015-06-12 19:10] jsquyres commented on #618
Sorry for the delay.  I'm compiling / testing now...

[2015-06-12 19:31] jsquyres commented on #618
The functionality seems to work with single-threaded MPI apps (excluding unexpected messages, of course... we should file a ticket for that...).

I left some minor comments on the commit itself, and asked about THREAD_MULTIPLE support: don't we need to handle that case (perhaps sub-optimally) on v1.8/v10.0, too?

[2015-06-12 20:23] bosilca commented on #618
Support for THREAD_MULTIPLE has been added, as well as OPAL_UNLIKELY.

On Fri, Jun 12, 2015 at 3:31 PM, Jeff Squyres <notifications@github.com>
wrote:

[2015-06-12 20:31] jsquyres commented on #618
Looks good; thanks.  Will you file a PR for v1.8 and v1.10?

[2015-06-12 20:53] bosilca commented on #618
Feel free to do the PR, I'll be off the grid 'til Sunday.

On Fri, Jun 12, 2015 at 4:31 PM, Jeff Squyres <notifications@github.com>
wrote:

[2015-06-12 21:24] rhc54 commented on #618
@bosilca @jsquyres I have it queued up as PR to master. Will PR for the release branches once that is merged

[2015-06-12 22:11] jsquyres commented on #618
Fixed by #641 on master.  Ralph is filing separate PRs for v1.8 and v1.10.

[2015-06-12 22:12] #618 closed

[2015-06-13 03:12] #638 closed

[2015-06-13 11:15] jsquyres commented on #628
Admittedly, that test is fragile.  However, we need it because we've inadvertantly broken the mount-listing functionality a few times -- this test keeps us honest.

How about a compromise: if the test detects that it is running in a mock environment, it just calls exit(77).

Elsewhere in the code, we check for $FAKEROOTKEY, $FAKED_MODE, and $SANDBOX_ON.  Are any of these environment variables set

[2015-06-15 02:01] ggouaillardet commented on #640
can you give a try to the attached patch (it works for me ...)
[code]

the crash occurs in progress_pending_frags_wqe

for some reason, mca_btl_openib_endpoint_post_send fails
(acquire_wge fails in qp_get_wge, which puts the fragment in a list)
since a fragment cannot be part of two lists, you get a crash when progress_pending_frags_wqe handle the error and invokes opal_list_prepend(..., frag)

no

[2015-06-17 14:24] rolfv commented on #640
This patch works for me and I think basically correct.  In the case that we get back OPAL_ERR_RESOURCE_BUSY, this means that somewhere within the post_send function the fragment was already queued up so no need to add it back to the no_wqe_pending_frags list.  In the 1.8 series the return value from mca_btl_openib_post_send was never checked and the opal_list_prepend was not there. Maybe if we can

[2015-06-18 20:34] nschloe opened #648 "undefined reference, underlinking, -Wl,--no-undefined"
When linking Open MPI with `-Wl,--no-undefined`, I'm getting errors of the kind
[code]
This is from [a launchpad build](https://launchpadlibrarian.net/209451020/buildlog_ubuntu-wily-amd64.openmpi_1.8.6~201506182208-wily1_BUILDING.txt.gz). These errors indicate that some libraries (in this case `libs/mca_compress_gzip.so`) are not properly linked.

[2015-06-18 20:56] rhc54 commented on #648
What version of OMPI?

[2015-06-18 20:58] jsquyres commented on #648
Thanks for reporting.  A few notes:

1. I see that you're running `autogen.sh` in the build process of a 1.8.6 tarball.  This shouldn't be necessary; we don't advise it unless you really want/need to.  The normal `configure ...; make install` process should work without re-bootstrapping the GNU Autotools.
1. You're seeing underlinking of a plugin (i.e., the `compress_gzip` plugin).  It's linked ag

[2015-06-18 22:09] nschloe commented on #648
Thanks for the comments.
I now deactivated `-Wl,-no-undefined` (although I don't yet fully understand the reasoning behind). Anyhow, the reason why I started this in the first place were other undefined references, see [this build log](https://launchpadlibrarian.net/209458132/buildlog_ubuntu-wily-amd64.openmpi_1.8.6~201506182340-wily1_BUILDING.txt.gz).
[code]
Any idea what might be going wrong?

[2015-06-20 15:37] jsquyres commented on #648
I'm still digging into this, but I have some more questions:

* I notice that you're supplying `--with-devel-headers` on your `dh_auto_configure` line. Are you doing that for a reason?  That option should only be necessary for Open MPI plugin developers -- it's not necessary for MPI application developers.  Specifically: without this option, Open MPI will still install `mpi.h` and whatever other h

[2015-06-20 15:38] kim0 opened #649 "Cannot build libmpi_usempif08.so.0 and libmpi_usempi_ignore_tkr.so.0"
Hi,

Sorry if this is not really a bug, but perhaps a config error. I am building openmpi 1.8.3 and 1.8.6 and passing --enable-mpi-fortran=all .. But I am unable to locate the following 2 libs:

libmpi_usempi_ignore_tkr.so.0
libmpi_usempif08.so.0

which are needed by a commercial application I'm trying to get running. Any hint please why doesn't make generate these 2 so's .. Thanks!

[2015-06-20 16:08] jsquyres commented on #649
You must use a "recent enough" Fortran compiler to get support for these two libraries.  If you're using an older Fortran compiler (e.g., gfortran <4.9), you'll be forced into a legacy implementation of the `use mpi` Fortran bindings, and the `mpi_f08` bindings won't be built at all.

See https://github.com/open-mpi/ompi/blob/master/README#L357-L400 for the full story.

Is there a reason you're lo

[2015-06-20 16:55] nschloe commented on #648
Thanks Jeff for the feedback!

The reason why I'm digging into this is that I'd like to bring the Debian Open MPI package up to speed (it's still at 1.6 for all releases). I'm picking up where the last dev has left, so possibly the build file will include stuff that's not really necessary like

I've removed that.

I'm building Open MPI master, so I'll have to run `autogen.pl` there. The plan is th

[2015-06-20 17:02] jsquyres commented on #648
@nschloe Ok, sweet.  By "master", I assume you mean "a git checkout of the v1.8 tag on the ompi-release repo", right?  If so, can you try with an Open MPI 1.8.6 tarball?  (I think that that is what you were saying you were going to do, but I just want to make sure :smile: )

[2015-06-20 17:04] nschloe commented on #648
Indeed. [Running right now](https://launchpad.net/~nschloe/+archive/ubuntu/openmpi-nightly/+build/7561249).

[2015-06-20 23:12] kim0 commented on #649
Thanks a lot for the help! I'm trying to install a commercial app (lsdyna) that links against those 2 specific libraries (see below). Although the file name specifically mentions ompi183 .. It also mentions ifort so not sure if that's a cause of the problem .. Let me know your thoughts.. Thanks

ldd ./ls-dyna_mpp_d_r8_0_0_95359_x64_redhat54_ifort131_avx2_openmpi183
        linux-vdso.so.1 =>  (0x0

[2015-06-22 01:10] ggouaillardet commented on #649
@kim0 please be aware there is no binary compatibility between gfortran (gnu) and ifort (intel)

so if ls-dyna was built with ifort, it was also built vs openmpi built with ifort.

bottom line, you should build openmpi with ifort to get the desired results
( you can use ompi 1.8.3 or 1.8.6 since they are binary compatible)

[2015-06-22 18:25] kim0 commented on #649
@ggouaillardet @jsquyres .. Thanks a lot folks, your help is most appreciated. I think this can be marked resolved now. Thanks a lot

[2015-06-22 18:25] #649 closed

[2015-06-23 14:38] hppritcha opened #652 "make use of new info keys for MPI window creation"
MPI Forum ticket [369](https://svn.mpi-forum.org/trac/mpi-forum-web/ticket/369) adds info keys to potentially allow for some optimizations in the implementation of ```MPI_Win_create``` and friends.
Open MPI would probably benefit from optimizations that make use of these info keys.

[2015-06-23 18:31] hppritcha commented on #462
@ggouaillardet would you be interested in taking a look at this?

[2015-06-23 18:40] hppritcha commented on #462
It may be that the only Fortran compiler that supports this feature is the Cray compiler.  @ggouaillardet you may want to check if gfortran supports this feature.  If it doesn't, feel free to unassign yourself.

[2015-06-23 18:59] jsquyres commented on #462
@ggouaillardet We talked about this in the dev meeting.  There's two main issues here:

1. I would really, really love it if the f08 bindings became generated instead of hard-coded.  We have a set of perl data structures that break out the Fortran bindings (by type, parameter, etc. -- although, they may be missing some of the latest 3.0 and/or 3.1 functions...?); this is being used to generate man

[2015-06-23 20:11] jsquyres commented on #462
Per http://lists.mpi-forum.org/mpiwg-fortran/2015/06/1665.php, it looks like gfortran 5.0 doesn't yet support this.  Intel Fortran v16 will, though (the public beta of which is ending soon).

[2015-06-23 21:45] hppritcha opened #655 "need to verify that Open MPI RMA compliant with active target synchronization"
The MPI 3.0 errata tickets [437](https://svn.mpi-forum.org/trac/mpi-forum-web/ticket/437), [434](https://svn.mpi-forum.org/trac/mpi-forum-web/ticket/434), [435](https://svn.mpi-forum.org/trac/mpi-forum-web/ticket/435) clarify behavior of active target synchronization for shared memory windows.

Need to check that Open MPI is complying with these errata items.

[2015-06-23 21:46] hjelmn commented on #655
Cool, will do.

[2015-06-24 00:52] jsquyres commented on #600
Closing this due to lack of replies in a month.  Feel free to reply on the issue if you need further info.

[2015-06-24 00:52] #600 closed

[2015-06-24 00:52] jsquyres commented on #626
Closing this due to lack of replies in about 3 weeks.  Please feel free to reply on this issue if you need further information.

[2015-06-24 00:52] #626 closed

[2015-06-24 00:53] jsquyres commented on #571
@edgargabriel Any further progress on this?  If not, I guess we should close the issue...?

[2015-06-24 01:05] ggouaillardet commented on #462
i can have a look at it

@jsquyres could you please send me some more pointers ?

the only perl script i could find was gen-mpi-sizeof.pl :-(
also, which files would you like to be automatically generated ?
- ./mpif-h/prototypes_mpi.h ?
 - ./use-mpi-f08-desc/mpi-f-interfaces-bind.h ?
- ./use-mpi-f08/mpi-f-interfaces-bind.h ?
- others ?

[2015-06-24 01:33] jsquyres commented on #462
Meh!  It looks like this was on a branch that I never released... checking...

Ah, I found it -- the work wasn't done in the OMPI tree.  It was originally done on Craig and Soren Rasmussen's bitbucket for Fortran<-->C interop stuff (https://bitbucket.org/SorenRasmussen/pyofp).  I/Jeff did a bunch of local commits and never pushed them anywhere to use Craig/Soren's stuff to generate the header file

[2015-06-24 01:37] jsquyres commented on #648
@nschloe Looks like that build succeeded in all the ways that it failed before, but then failed because the ompi-iof executable wasn't found.  We haven't included ompi-iof in quite a while -- is this some kind of specific artifact in your build process, perchance?

[2015-06-24 02:23] jsquyres commented on #576
@eschnett Gah -- somehow I totally missed that you filed this issue until now.  :-(

Unfortunately, this code comes directly from Libtool -- not Open MPI (i.e., it's part of the code that Libtool injects into Open MPI's configure script).

Can you post the wrap-clang script, and post the output of `make V=1` for this failed CCLD command?

[2015-06-24 02:57] jsquyres commented on #455
Per db41d749c1a4a3bfcbd4d94468151b965fe83ece, we intentionally removed `ASYNCHRONOUS` from the ignore TKR `mpi_f08` interface.

When we have a TS 29113 `mpi_f08` interfeace, `ASYNCHRONOUS` should be used in all the proper locations (see #462).

[2015-06-24 02:58] #455 closed

[2015-06-24 09:41] alejandro-all commented on #618
1.8.6 tested on Allinea DDT and the issue is fixed. Thank you guys!

[2015-06-24 11:11] ggouaillardet commented on #462
thanks Jeff,

your directory is self contained :-)
I had to refresh some constant values.
I will focus on the f08 part from now.
the most painful part will be to add all the bindings since there are just a few right now.

btw, I got limited access to a cray with cray compilers, so I can fully investigate this :-)

[2015-06-24 15:19] jsquyres commented on #462
Sweet!

[2015-06-24 20:41] eschnett commented on #576
This is the wrap-clang script:
[code]

The environment variables use in this script (with the `LLVM_` prefix) are set via these commands:
[code]
and have these values:
[code]

I will post the `make V=1` output later.

[2015-06-24 22:44] hppritcha opened #659 "integrate hwloc 1.11 in to Open MPI"
Integrate hwloc 1.11.  This version of hwloc provides features needed by ORCM.

[2015-06-24 22:44] jsquyres opened #660 "Release 1.10.0"
Make sure we release v1.10.0 before we release v2.0.0 :smile:

[2015-06-24 22:45] #659 closed

[2015-06-24 22:46] hppritcha commented on #659
dup of #523

[2015-06-24 22:47] hppritcha commented on #222
this issue can be closed thanks to @ggouaillardet  work.

[2015-06-24 22:47] #222 closed

[2015-06-24 22:48] jsquyres commented on #409
@hjelmn Did this get fixed?

[2015-06-24 22:50] hppritcha commented on #143
can this be closed?
@regrant

[2015-06-24 22:52] jsquyres commented on #220
This component does not exist any more.  Closing.

[2015-06-24 22:52] #220 closed

[2015-06-24 22:54] jsquyres commented on #176
This issue (improving WAIT/TEST) has come up a few times (e.g., in the face-to-face dev meeting in Jan and June 2015).  @bosilca is working on it.

[2015-06-24 22:55] jsquyres commented on #169
I think we might be in a "don't care" situation for this one... Sorry, Charlie...

[2015-06-24 22:55] #169 closed

[2015-06-24 23:04] jsquyres opened #661 "Random THREAD_MULTIPLE fixes"
@bosilca has a bunch of THREAD_MULTIPLE fixes and TEST/WAIT THREAD_MULTIPLE performance improvements.

[2015-06-24 23:04] jsquyres opened #662 "Vader XPMEM needs some THREAD_MULTIPLE fixes"
@hjelmn Has a gut feeling that he is missing locks around the registration cache.

[2015-06-24 23:05] jsquyres opened #663 "usnic BTL is not THREAD_MULTIPLE safe"

[2015-06-24 23:06] hjelmn commented on #409
Thought I fixed that. Will double-check.

[2015-06-24 23:06] hppritcha commented on #213
The commits associated with these patches are all present in the ROMIO 3.1.4 refresh done as part of PR #558

[2015-06-24 23:06] #213 closed

[2015-06-24 23:21] jsquyres commented on #409
K. If fixed, please close this issue.

[2015-06-24 23:31] jsquyres commented on #150
@hjelmn Did you ever do this, perchance?

[2015-06-24 23:32] jsquyres commented on #149
@hjelmn Did you ever do this, perchance?  Or should we close it?

[2015-06-24 23:33] jsquyres commented on #147
@regrant @tkordenbrock Is this issue still relevant?  Will it be fixed for v2.0.0?  Or sometime in the 2.x series?  Please update the milestone as appropriate, or close this issue.  Thanks!

[2015-06-24 23:33] jsquyres commented on #144
@regrant @tkordenbrock Is this issue still relevant?  Will it be fixed for v2.0.0?  Or sometime in the 2.x series?  Please update the milestone as appropriate, or close this issue.  Thanks!

[2015-06-24 23:33] jsquyres commented on #143
@regrant @tkordenbrock Is this issue still relevant?  Will it be fixed for v2.0.0?  Or sometime in the 2.x series?  Please update the milestone as appropriate, or close this issue.  Thanks!

[2015-06-24 23:33] jsquyres commented on #142
@regrant @tkordenbrock Is this issue still relevant?  Will it be fixed for v2.0.0?  Or sometime in the 2.x series?  Please update the milestone as appropriate, or close this issue.  Thanks!

[2015-06-24 23:34] jsquyres commented on #137
@bosilca Will this issue be resolved by #661?

[2015-06-24 23:39] jsquyres commented on #121
Looks like this was fixed long ago.

[2015-06-24 23:39] #121 closed

[2015-06-24 23:41] jsquyres commented on #119
@rolfv Is this issue going anywhere?

[2015-06-24 23:44] jsquyres commented on #112
This might be relevant to some updating that we're doing to add_procs() stuff.  Assigning to @hjelmn.

[2015-06-25 00:02] jsquyres commented on #41
I strongly doubt this will ever be fixed.

[2015-06-25 00:02] #41 closed

[2015-06-25 00:05] jsquyres commented on #85
I'm throwing this to IBM @gpaulsen @dsolt.  Do you guys care?

[2015-06-25 00:07] jsquyres commented on #388
@rhc54 Is this still relevant?  Will it go away with PMIX 1.0.0?

[2015-06-25 00:12] jsquyres commented on #92
Discussion at the June 2015 dev meeting...  @bosilca @hjelmn

A simple way to fix this is for when OB1 puts something on the packet pending list, it should also queue up an event on libevent to just try to unconditionally progress the packet pending list. Additionally, if OB1 ever drains the packet pending list, this event should be removed from the libevent base.

For completeness, the same thing

[2015-06-25 00:15] jsquyres commented on #205
As of June 2015, coll ml is disabled by default in v1.8, v1.10, v2.x.  @shamisp and @manjugv say that they are actively working on coll ml again (per email on 23 June 2015), so we'll mark this one for the v2.x series.

[2015-06-25 00:17] jsquyres commented on #200
@ggouaillardet Did this issue get resolved by the ROMIO refresh?

[2015-06-25 00:19] rhc54 commented on #388
Yes - we won't fix what is in the current master

[2015-06-25 00:19] #388 closed

[2015-06-25 00:20] jsquyres commented on #189
PERUSE won't be removed until MPI_T can exhibit the same functionality.  @hjelmn is working on a proposal for the MPI Forum Tools Working Group to add PERUSE-like capabilities to MPI_T.

[2015-06-25 00:24] jsquyres commented on #177
I highly doubt this will ever be fixed.

[2015-06-25 00:24] #177 closed

[2015-06-25 00:29] jsquyres commented on #73
This will never be fixed.

[2015-06-25 00:29] #73 closed

[2015-06-25 00:31] jsquyres commented on #51
@hjelmn I'm assuming this won't be fixed.

[2015-06-25 00:31] #51 closed

[2015-06-25 00:44] hppritcha commented on #456
per @hjelmn 's comment closing this.

[2015-06-25 00:44] #456 closed

[2015-06-25 00:47] hppritcha commented on #475
@hjelmn  is #449 good enough to close this bug.

[2015-06-25 00:52] jsquyres commented on #475
We talked about this in person at the dev meeting in June 2015.  We concluded:

1. It is *not* sufficient to pass the framework (and/or framework version) to the framework open function, and only open components that match that version, because you could run into a scenario like this:
   * OMPI vA.B.C is installed
   * OMPI vA.B.(C+1) is installed
   * Component X in both of these has the same fra

[2015-06-25 00:54] jsquyres commented on #396
@nysal The v1.8 series is effectively done.  Do you want to make a patch for v1.10?

[2015-06-25 01:03] hppritcha commented on #393
I agree with George, the code as is correct.  Inserting a barrier is just causing an underlying problem in the osc/rma/tcp btl stack.

@hjelmn any update?

[2015-06-25 01:06] jsquyres commented on #393
From verbal discussion: this is an issue for v1.10.0 and v2.0.0.

[2015-06-25 01:10] jsquyres commented on #491
@hjelmn is waiting for @rh54 to create an OPAL progress thread (i.e., a separate libevent base than the one that is hooked to ompi_progress() / opal_progress(), which is for synchronous progress).

[2015-06-25 01:13] hppritcha commented on #200
I'm checking to see if I can reproduce using gfortran/4.9.2

[2015-06-25 01:17] jsquyres opened #665 "TCP causes performance penalty on single-node runs"
At the OMPI dev meeting in June 2015, @hjelmn mentioned that on OS X in particular, he sees that when he runs on his Mac, the TCP BTL is being disabled via vader exclusivity, but it still somehow doesn't decrement the opal progress count, so libevent still gets polled frequently.

This seems like a bug -- it causes a large performance penalty on OS X (it seems like the performance hit is less on L

[2015-06-25 01:24] jsquyres commented on #137
From verbal discussion at the dev meeting in June 2015: yes, this can happen.  It won't be fixed by #661.  @bosilca thinks that he knows how to fix it: make sure that all threads read whatever they need to read from the request before decrementing the length.

[2015-06-25 03:49] jsquyres commented on #187
This was fixed on the SVN trunk in Feb of 2014.  It's therefore already included in the v2.x branch.

Since this apparently won't get fixed for v1.8 / v1.10, we can just closed this issue.

[2015-06-25 05:20] hppritcha commented on #200
I am unable to reproduce this problem with master.
Closing.

[2015-06-25 05:20] #200 closed

[2015-06-25 06:03] bosilca commented on #665
This issue is more subtle than this ticket make it sound. The exclusivity works locally, so a process might decide that TCP will not be used to communicate with its peers. However, as the peers decision is not known locally, TCP BTL cannot simply be discarded. We need at least the listen socket setup and checked on a regular basis.

We can solve this either by making assumptions about decisions ta

[2015-06-25 14:23] nschloe commented on #648
Indeed. I was now able to complete [a successful built](https://launchpadlibrarian.net/209773976/buildlog_ubuntu-wily-amd64.openmpi_1.8.6~201506231003-wily1_BUILDING.txt.gz), too. There are probably a bunch of things that need to improve, but we'll come back to that later.

Now, I'm still wondering why the build from [master](https://github.com/open-mpi/ompi) doesn't go through in the same way.

[2015-06-25 14:53] jsquyres commented on #648
Ok.

Do you need any help with master?  Or should we close this issue?

[2015-06-25 15:16] hppritcha opened #668 "remove fault tolerance (crs) related infrastructure from v2.x"
The infrastructure for supporting FT in ompi master at this point in time is not functional.  So for v2.x series we will remove this, including configury related options, and potentially the related frameworks.
Need to AC_DEFINE the appropriate macros to turn off references to FT.

 - [x] remove calls from MPI C interfaces (open-mpi/ompi-release#643)
 - [x] remove ompi mca crcp
 - [x] remove ompi

[2015-06-25 15:27] jsquyres opened #669 "Fix lama warnings that came from hwloc 1.11 update"

[2015-06-25 16:41] bosilca commented on #137
I spent some time looking at this again. It is a plausible but extremely unlikely. The problem is that we are trying to complete the request by calling send_request_pml_complete_check with the lock help, so the function does nothing. This force us to check the completion of the request once we release the lock, so outside the protected section.

[2015-06-25 17:22] hppritcha opened #671 "enable distcheck IU jenkins project for ompi-release/v2.x"
enable distcheck IU jenkins project for ompi-release/v2.x.  Proving to be a very good on master.

[2015-06-25 17:49] jsquyres commented on #594
Looks like this was fixed in 1.8.6.

[2015-06-25 17:49] #594 closed

[2015-06-25 20:17] jsquyres commented on #665
@bosilca @hjelmn I think you guys talked about this a bit more at the June 2015 dev meeting today -- did you conclude something different than what George said above?

[2015-06-26 05:01] jsquyres commented on #460
This issue will be fixed by #623.

[2015-06-26 08:52] #460 closed

[2015-06-26 18:30] hjelmn commented on #640
I think this is the correct change. I thought I had made the same change myself but it might not have been pushed.

[2015-06-27 00:30] jsquyres commented on #648
I'll close the issue -- feel free to open a new issue if something comes up.

[2015-06-27 00:30] #648 closed

[2015-06-27 00:31] jsquyres commented on #523
This is now done.

[2015-06-27 00:31] #523 closed

[2015-06-27 00:32] jsquyres commented on #464
This is now done.

[2015-06-27 00:32] #464 closed

[2015-06-29 20:22] hppritcha commented on #671
fixed

[2015-06-29 20:22] #671 closed

[2015-06-29 20:39] hppritcha opened #682 "ugni btl fails some threadsafe tests."
ugni periodically fails in some of the thread-tests-1.1 using longer messages.

[2015-06-29 20:59] jsquyres commented on #682
@hppritcha is this a dup of #662?

[2015-06-29 21:00] jsquyres commented on #682
Umm... no it's not. #662 is about vader, not ugni. Duh!

[2015-06-29 21:03] hppritcha commented on #682
unfortunately not, well it might be, but xpmem and ugni have different
registration caches (the cray udreg stuff).
At any rate, not clear its a dup.

2015-06-29 14:59 GMT-06:00 Jeff Squyres <notifications@github.com>:

[2015-07-02 08:22] ggouaillardet commented on #462
i worked on the automatic generation of f08 bindings.
my branch is at https://github.com/ggouaillardet/ompi/tree/poc/new_fortran_bindings

right now :
* f08 interfaces are automatically generated
* most f08 subroutines are automatically generated
* the script is still invoked from autogen.pl, and it should be invoked in configure
* when the script is invoked from configure, the appropriate pragma

[2015-07-03 12:22] jsquyres commented on #462
That sounds sweet!

I agree -- the script should be invoked from configure.  It can then use the results from configure (e.g., what aspects of Fortran are supported); this will allow us to get rid of many `#define`s -- i.e., we emit Fortran that precisely matches what the configure-determined Fortran compiler can support.

[2015-07-06 00:46] #640 closed

[2015-07-07 04:50] bosilca commented on #170
Several issues with compiling on a RasberryPi2 (armv7-a) have been reported on the mailing list. The patch proposed in the original [svn r27882](https://svn.open-mpi.org/trac/ompi/changeset/27882) provides an ugly but functional solution. I propose we reintegrate the original patch in master.

[2015-07-07 13:27] tkordenbrock commented on #147
This was caused by a bug in the Portals4 Reference Implementation that has been fixed.

[2015-07-07 13:27] #147 closed

[2015-07-10 16:42] webmaven opened #707 "Python API?"
Is a Python API in the works?

[2015-07-10 16:51] jsquyres commented on #707
Check out http://bfy.tw/kkX

:smile:

[2015-07-11 02:13] jsquyres commented on #170
@bosilca Sounds good.  Can you commit to master?

[2015-07-11 14:23] jhedev opened #714 "failures when running multiple mpirun instances on at least 3 nodes in a cluster"
**Problem**
We have a cluster of 12-core and 24-core nodes using PBS/Torque where the following problem occurs with OpenMPI version `1.8.6`.
When running multiple `mpirun` instances on more than 2 nodes (so at least 3 nodes), some `mpirun` calls fail with
[code]
I was able to track down a certain pattern, which is described in the following.

**How to reproduce**
The simplest way to reproduce I fo

[2015-07-11 14:31] rhc54 commented on #714
Could you please rerun the failing execution with --display-allocation and post the output?

[2015-07-11 14:47] jhedev commented on #714
Running the following script:
[code]

The output is:
[code]

[2015-07-11 15:02] rhc54 commented on #714
Ah - yes, it sees the state is unknown and won't use the node. Looks like a bug in the code that reads the allocation. I'll fix it for the 1.8.7 release that is about to go out the door.

[2015-07-11 23:23] rhc54 commented on #714
Okay, I pushed a fix in to the 1.8 repo - it will be available in tomorrow's nightly tarball. Could you please give it a try and let me know if the problem is fixed?

[2015-07-12 07:09] jhedev commented on #714
Unfortunately not :(

I've used the same script as above and get the following output:
[code]
Looks like the state has changed to `UP`.

Verifying the version: `mpirun --version`:
[code]

Btw, I get the following output with last working version (1.8.4):
`mpirun --version`:
[code]

Running the script from above:
[code]

[2015-07-12 14:48] rhc54 commented on #714
Hmmm...okay, I dug some more and found the missing commit. It's in the 1.8 branch now, so you'll see it in tomorrow's nightly tarball. Sorry for the problem, and we do appreciate your help in tracking it down

[2015-07-13 06:52] jhedev commented on #714
It's fixed now! Thanks so much! When can expect a stable release including this patch?

[2015-07-13 13:34] rhc54 commented on #714
I'm just waiting for confirmation of a configure fix, which looks like it passed yesterday, and then we will release. So figure on mid-week.

Thanks for the report and the assist!

[2015-07-13 13:34] #714 closed

[2015-07-15 18:42] eschnett opened #722 "Cannot pass multiple arguments to --with-wrapper-ldflags"
I am trying to pass two options to the configure option `--with-wrapper-ldflags`, as in `--with-wrapper-ldflags='-Ldir1 -Ldir2'`. This fails; configure complains about an unrecognized argument `-Ldir2`.

Autoconf uses a shell for loop to parse its arguments; it is thus impossible to pass arguments with whitespace to configure options. One has to set environment variables instead.

[2015-07-15 18:50] eschnett commented on #722
I was confused.

[2015-07-15 18:50] #722 closed

[2015-07-21 15:21] gpaulsen commented on #85
did this get into master?
Yes, extra debug info is always a good thing, unless it affects performance. :)

[2015-07-21 15:37] jsquyres commented on #85
The bitbucket that the mailing list post refers to is quite stale -- it was never directly brought back into master.

However, I think that various people have put in at least *some* of those features over time (e.g., I think @rhc54 or @bosilca put in some kind of magic number handshake...?).

It might not be a bad idea to compare the content of the commit that was cited (https://bitbucket.org/jsq

[2015-07-21 22:49] nrgraham23 opened #732 "MPI_NEIGHBOR_ALLTOALLW and MPI_INEIGHBOR_ALLTOALLW java bindings"
These functions still need the java bindings completed for them.  I did the bindings but I was unable to port the c test to java to verify that the bindings worked.  There were a fair number of crashes and wrong answers in the ported test.  Also, I was unable to find java tests for the other neighbor functions (MPI_NEIGHBOR_ALLTOALLV, etc).

[2015-07-22 02:01] jsquyres opened #733 "Update README for v1.10"
@opoplawski noted that, at a minimum, we don't discuss libfabric.  There should be text from the master README that can be stolen / applied to the v1.10 README.

[2015-07-22 02:02] jsquyres opened #734 "Update v1.10 shared library versions"
Needs to be done before release.

[2015-07-22 16:30] yburette opened #735 "MTL priorities not working?"
Hi,

I was trying to run OMPI without any -mca parameter but it fails.
My build has both the PSM and the OFI MTLs. libfabric has both the PSM and sockets providers.

It looks like both MTLs are actually opened and the OFI MTL is being selected. I thought the priority scheme put in place would select the PSM MTL first.

I also tried to add --mca mtl_ofi_priority -100 to no avail...

@hppritcha @jsq

[2015-07-22 16:33] hppritcha commented on #735
Hi Yohann,

is this master or 1.10?
trying to reproduce on our qlogic cluster...

Howard

2015-07-22 10:30 GMT-06:00 Yohann Burette <notifications@github.com>:

[2015-07-22 16:39] jsquyres commented on #735
FWIW, component priorities are restricted to the [0, 100] range -- so setting a priority of -100 likely won't do anything...?

What's the priority of PSM vs. the OFI component?

[2015-07-22 16:42] hppritcha commented on #735
psm == 100, ofi == 10.

i think psm is not initializing for some reason for Yohann.

2015-07-22 10:39 GMT-06:00 Jeff Squyres <notifications@github.com>:

[2015-07-22 17:45] yburette commented on #735
Hi Howard,

I was using 1.10.0rc2 that Ralph posted. But I'm thinking it would be the same with master.

To me it looks more like both MTLs get initialized, no?

Yohann

[code]

[2015-07-22 17:59] hppritcha commented on #735
I think you probably want for 1.10.0rc2 to work for customers, so I'll work off that instead.

Hmmm... you're right but it looks like there is something missing from the psm mtl.
Looks ike the psm mtl is missing vital commits from master.
I'd suggest looking at eb977de5 as a start.

[2015-07-22 18:06] hppritcha commented on #735
time to start on rc3 it looks like.  There were some other commits I did about that time for intro of the ofi mtl.  Looks like you may want to checkout #363.

[2015-07-22 18:14] yburette commented on #735
Yes, I think you're right. That whole commit is missing.

@rhc54

[2015-07-22 18:17] jsquyres commented on #735
Can one of you file a new PR for the missing stuff?

[2015-07-22 18:21] #732 closed

[2015-07-22 18:26] hppritcha commented on #735
Sure.

[2015-07-22 18:29] hppritcha commented on #735
Any other work done besides commit open-mpi/ompi-release@ed587fb in pulling from master to 1.10?

[2015-07-22 18:43] yburette commented on #735
How about 869041f770d6b52896f28fdd3e1f1a7c34219397?

[2015-07-22 18:59] hppritcha commented on #735
hopefully -Xignore-all-whitespace will help.

[2015-07-22 22:39] hppritcha commented on #735
Opened PR open-mpi/ompi-release#409.

This will have to be reviewed by impacted MTL authors before being pulled in, esp. since the cherry-pick had conflicts.

[2015-07-23 18:10] #733 closed

[2015-07-23 18:41] jsquyres commented on #707
If this didn't address your question, let us know.

[2015-07-23 18:41] #707 closed

[2015-07-23 18:50] jsquyres opened #739 "Strange mpi_f08 alloc_mem MTT failures"
@rhc54 pointed out some strange MTT failures with regards to mpi_f08 and MPI_ALLOC_MEM:

    http://mtt.open-mpi.org/index.php?do_redir=2245

The problem appears only in builds (in master and v1.10) when you build `--disable-weak-symbols` and run the IBM test suite problem pt2pt/allocmem_usempif08.  The specific problem that occurs is that an assertion about MPI_COMM_WORLD fails during MPI_FINALIZ

[2015-07-24 00:13] ggouaillardet commented on #739
@jsquyres would https://github.com/open-mpi/ompi/pull/432 fix this issue ?
i will rebase it to confirm it is ready to be merged.
currently, MPI_STATUSES_IGNORE is handled as an array or requests if ompi is configure'd with --disable-weak-symbols, and this is prone to memory corruption

[2015-07-24 16:38] hppritcha commented on #735
came up fix for the segfault (Nathan and me).  too much inlining in ofi and probably psm2.
I'll open a new PR for that fix.  Meanwhile the priority selection stuff needs to get reviewed.

[2015-07-25 11:51] jsquyres commented on #739
Mmm... interesting point: you're right, #432 may fix this issue.

Let's finish up #432 (I just put some comments on it), and see if this issue goes away.

[2015-07-25 11:52] jsquyres commented on #655
@hjelmn Any progress?

[2015-07-25 11:52] jsquyres commented on #652
@hjelmn This is done already, isn't it?

[2015-07-25 11:53] jsquyres commented on #639
@larrystevenwise Any progress?

[2015-07-25 12:07] jsquyres commented on #493
GET_VERSION abd GET_LIBRARY_VERSION are multi-threaded safe.

For INITIALIZED, FINALIZED, QUERY_THREAD, and IS_THREAD MAIN, I'm thinking that all we need to make the following globals `volatile` -- right?  (these are all declared in `ompi/runtime/mpiruntime.h` and defined in `ompi/runtime/ompi_mpi_init.c`)

[code]

[2015-07-25 12:15] bosilca commented on #493
I don't think they should be volatile. However, I do think they should be accessed via atomic operations. Moreover, we need to redesign our init/finalize process in order to remove all possible race conditions between the init and finalized states (such as once finalize is started, init does not return success).

[2015-07-25 12:20] jsquyres commented on #493
Forgive my ignorance: why access via atomics vs. volatile?

As for the behavior of MPI_INITIALIZED, MPI-3.1 (and 3.0) is quite clear:

So I think our current implementation of that aspect is correct.

[2015-07-25 12:25] jsquyres commented on #433
@alinask I'm assuming you haven't been able to reproduce this again, so let's go ahead and close it.  If necessarily, please re-open it.  Thanks.

[2015-07-25 12:25] #433 closed

[2015-07-25 12:26] jsquyres commented on #369
@hppritcha Do you think you'll be able to have this fixed by v1.10.0?

[2015-07-25 12:28] #204 closed

[2015-07-25 13:02] bosilca commented on #493
Thanks for pointing out the text about MPI_FINALIZE, I was not aware that it has no impact on the behavior of MPI_INITIALIZED.

Using volatile will prevent the compiler from caching the variables, so this might look like a good idea. However, such behavior is only maintained in the context of a single function. As long as MPI_INITIALIZED is not a macro used in a busy-loop, there will be no benefit

[2015-07-25 13:07] ggouaillardet commented on #739
ok, will do
note I wrote some tests just for this issue
waitsome_usempif08
testall_usempif08

[2015-07-25 16:26] hppritcha commented on #369
Ill give it a shot.

----------

sent from my smart phonr so no good type.

Howard
On Jul 25, 2015 6:26 AM, "Jeff Squyres" <notifications@github.com> wrote:

[2015-07-25 23:21] jsquyres commented on #493
With the MPI API specified as it is, I don't think there's a way to guarantee that the code snipit you proposed will always be safe when executed by multiple threads.  I.e., there's no atomic "test for INITIALIZED, and if not INITIALIZED, the INIT."

There was much argument about this in the Forum (i.e., make a new INIT function that does stuff like this), but after much round-and-round debate, th

[2015-07-26 00:02] bosilca commented on #493
I am not sure about returning a non-fatal MPI error, I don't think the standard supports such type of exception. What I was proposing is to protect the internals of the MPI initialization and force all subsequent MPI_Init in a wait mode until the first MPI_Init complete. Upon completion of the first MPI_Init, all MPI_Init return with the same error code (this goes together with MPI_INITIALIZED ret

[2015-07-26 12:43] eschnett opened #751 "Error in `configure` in v2.x-dev-96-g918650a"
`configure` in version v2.x-dev-96-g918650a needs approximately this patch:
[code]

Whether the check for the flag `-l` is necessary I don't know; however, the missing `x` prefix before the `$p` is crucial. This seems to come from an error in `config/libtool.m4`. As is, these test can never be true.

[2015-07-26 15:11] ggouaillardet commented on #751
This is coming from the config/libtool.m4 of hwloc
is this file even supposed to be here (e.g. in the ompi git) ?
could the root cause be a buggy libtool ?

[2015-07-26 15:13] ggouaillardet commented on #751
@eschnett out of curiosity, in which environment (compiler, configure command line) does this bug have an impact ?

[2015-07-26 15:15] eschnett commented on #751
This creates problems on a Cray XC30 (Edison at NERSC). It leads to stand-alone `-l` flags in the ldflags that `mpicc` uses. These are already visible in the `config.status` of OpenMPI. In the end, the compiler complains about options such as `-l-L/some/path`, which is treated as a library that cannot be found.

[2015-07-26 18:58] RyanMarcus commented on #579
Just wanted to note that Homebrew upgraded to 1.8.6 around July 6th, so if anyone stumbles into this issue, a quick "brew update && brew upgrade" should fix the problem.

[2015-07-26 21:53] jsquyres commented on #579
Sweet -- thanks for the heads up.

[2015-07-27 01:25] ggouaillardet commented on #751
please ignore what i wrote about hwloc and config/libtool.m4

the issue comes from libtool 2.4.3 and later. v1.8 and v1.10 uses libtool 2.4.2 (ok)
v2.x and master uses libtool 2.4.6 (ko)

i can access an other XC30, but i cannot reproduce exactly the problem.
could you please post
- the output of module list
- the configure command line
- you config.status
i can report this to the libtool maintain

[2015-07-27 01:31] eschnett commented on #751
I don't think you need evidence. The code is clearly broken. Using an `x` prefix for strings inside `test` is a common pattern (to avoid grammar ambiguities), and this needs to be done on both sides of the equals sign. (If you look for `test` in `configure`, you'll see this.) This is a clear case where someone forgot to add the `x` on the right hand side.

Whether the additional case handling `-l`

[2015-07-27 01:41] rhc54 commented on #751
I agree with Erik - I don’t think this is a libtool problem, regardless of version. It’s just a broken test that needs to be fixed on master and backported to the 2.x series. I’m not sure which .m4 has the problem in it, but it shouldn’t be too hard to find.

[2015-07-27 06:00] ggouaillardet commented on #751
@rhc54 i respectfully disagree

the broken test comes from libtool.m4 which is (indirectly) copied from the local libtool installation by autogen.pl

on my rhel7 box
[code]
from /usr/share/aclocal/libtool.m4
[code]
and the very same code ends up in configure :-)

now on an other box with a custom install of libtool 2.4.6
[code]
and the same broken code end up in configure

[2015-07-27 07:33] ggouaillardet commented on #751
for the record, here is my email to the libtool folks http://lists.gnu.org/archive/html/bug-libtool/2015-07/msg00002.html

[2015-07-27 08:51] rhc54 commented on #751
Kewl - as I said, I don't know (and I guess I missed your earlier comment about the source) which .m4 was the problem Given that it is from libtool itself, then they do indeed have a bug.

Going back to 2.4.2 isn't an option as too many users have the higher version. I'd have to look at the question of whether it is necessary to slurp it into OMPI (other than the fact we just install their tarball

[2015-07-27 09:54] ggouaillardet commented on #751
Ralph,

if I understand correctly (Jeff, feel free to join !), libtool.m4 is copied
by libtool (e.g. not by us...),
and this happens in autogen.pl

I can see only two options right now :
a) inform the community 2.4.6 has a bug, and generate tarballs for master
and v2.x with libtool 2.4.6
b) patch libtool 2.4.6 and generate the tarballs

Cheers,

Gilles

On Monday, July 27, 2015, rhc54 <notificatio

[2015-07-27 23:27] sushmith opened #754 "orcmd crashes with a segfault when we do a nmap scan on its open tcp port."
When we do a scan on the open port using nmap locally on the same machine( loopback address), it causes the ormcd to crash with a segfault.
The specific command that I used for nmap was "nmap -sT -p T:50000-60000 127.0.0.1"

Below is the core dump for the seg fault. As per the below core dump, the problem happens when the file "orcm/orte/mca/oob/tcp/oob_tcp_connection.c" when the variable "peer" i

[2015-07-28 02:35] rhc54 commented on #754
All I can say is that you have a stale copy of orcm - from the public master:

[code]
I suggest you folks update

[2015-07-28 04:09] ggouaillardet commented on #751
i noticed we already "kind of" patch the libtool output in order to fix some known bugs.
this patch does the trick for libtool > 2.4.2

[code]

[2015-07-28 15:42] #735 closed

[2015-07-28 15:49] #734 closed

[2015-07-28 18:51] sushmith commented on #754
Thanks :) sorry.. my mistake.

[2015-07-28 18:51] #754 closed

[2015-07-29 00:15] ggouaillardet commented on #739
#432 did fix this issue (see mtt results at http://mtt.open-mpi.org/index.php?do_redir=2247)

[2015-07-29 00:15] #739 closed

[2015-07-29 07:33] ggouaillardet commented on #751
@jsquyres i forgot to add you as a participant for this issue.
could you please check it out and comment ?

[2015-07-31 00:59] edgargabriel commented on #252
This was fixed with Pr/sharedfp sm logic3 #745.

[2015-07-31 00:59] #252 closed

[2015-08-05 18:18] rolfv opened #776 "Improve CUDA extension code"
Need to make at least two more changes to the extension code.
1. Have them built unconditionally so they are always available.
2. Have them then properly set the MPIX_CUDA_AWARE_MACRO to 0 or 1 depending on whether library has CUDA-aware configured in. Also have the MPIX_Query_cuda_support() function do the right thing.

The problem is now they are only set when we have CUDA-aware so to use them r

[2015-08-05 18:18] rolfv commented on #776
bot:milestone:v2.0.0
bot:label:bug
bot:assign: @rolfv

[2015-08-05 18:19] rolfv commented on #776
Duplicating bug that I put in wrong place.

[2015-08-05 18:26] rolfv opened #778 "Intermittent hang of ibm/communicator/comm_idup tests"
I am getting intermittent hangs of mostly the comm_idup_mpfh.f90 test. This happens with np=6 across two nodes using openib BTL. Figured I would capture some data here.  I have seen on both 2.x and master.

[code]

[2015-08-05 18:26] rolfv commented on #778
Note that this happens on both C and Fortran, but easier to get failure with Fortran tests.

[2015-08-05 21:49] jsquyres commented on #751
Sorry for the delay.  I agree with @ggouaillardet -- the problem is libtool's .m4 file, which we don't control.  We can patch it (and we have done so in the past, as Gilles noted).

@ggouaillardet In principle, I agree with your patch.  Is there a reason add the new patch_configure_output() sub?  I.e., is it not safe to always call patch_autotools_output()?  If it's not safe, can we try to not dup

[2015-08-06 07:19] ggouaillardet commented on #751
@jsquyres here is a snippet of autogen.pl
[code]
currently ```patch_autotools_output``` is only called when there is no autogen.{pl,sh}, and i just do not know why.
so unless this is a bug (e.g. ```patch_autotools_output``` should always be invoked) we need to fix all the generated ```configure``` files, regardless they "come from" autogen.{pl,sh} or configure.{in,ac}

if ```patch_autotools_output

[2015-08-06 11:00] jsquyres commented on #751
@ggouaillardet I'm honestly not sure why we're not calling `patch_autotools_output()` in only one of the 3 cases.  The only reason I can think of would be that we can't assume/know that invoking `autogen.pl` or `autogen.sh` will necessarily invoke the GNU Autotools.  E.g., they *could* use CMake to build a component (no one has ever done that to my knowledge, but it's possible).

So perhaps we sho

[2015-08-06 11:41] jsquyres commented on #751
@ggouaillardet Ok, I just pushed a commit to `autogen.pl` that calls `patch_autotools_output()` in all cases.  Go ahead and add the bits for the new patch that @eschnett identified.

[2015-08-07 02:52] #751 closed

[2015-08-07 10:52] jsquyres commented on #576
@eschnett Did this issue get solved by https://github.com/open-mpi/ompi/commit/67fdfdda7da8f94448ea4e5fc51e05128fdfce10?

[2015-08-07 13:54] rolfv commented on #776
This is now in master and v2.0.0.  Closinig.

[2015-08-07 13:54] #776 closed

[2015-08-07 15:53] jsquyres opened #785 "OFI MTL being auto-selected"
If there are no other available MTLs, the OFI MTL with the sockets provider will be selected over OB1 (and any BTLs).

This is very undesirable...

@yburette Can you have a look?

[2015-08-07 21:51] yburette commented on #785
Yes, I bet we will get the same issue with other providers such as MXM, right?

There are two priorities schemes here:
1) between MTLs (e.g. PSM vs OFI MTLs)
2) between PMLs (e.g. OB1 vs CM PMLs)

The OFI MTL doesn't have any control on 2). CM has higher priority over OB1 if any MTL can work.
I guess the only way to fix this is to ignore the sockets OFI provider unless explicitly requested by the

[2015-08-07 22:09] jsquyres commented on #785
Yes, this is probably a good idea -- I think the sockets OFI provider is really only intended for debugging/testing.  It's not necessarily going to give higher performance than the TCP BTL, right?

[2015-08-07 22:26] yburette commented on #785
@jsquyres You're absolutely right, the sockets provider is mostly for testing.

I'll create a PR shortly.

[2015-08-10 18:43] jsquyres opened #792 "Build failure with Lustre"
HLRS's MTT runs are running into a build failure on master at dev-2223-g731cfe3 (see http://mtt.open-mpi.org/index.php?do_redir=2248):

[code]

@ggouaillardet @hppritcha @cniethammer @roblatham00 Is this something we need to patch in OMPI's copy of ROMIO?

[2015-08-10 18:48] jsquyres opened #793 "Add mca_mtl_provider_include|exclude MCA vars"
Per #788, add `mca_mtl_ofi_provider_include` and `mca_mtl_ofi_provider_exclude` MCA params. This would make it similar to other MCA params in OMPI.  Specifically:

* a user can set one or the other of these two MCA params -- but it's an error if they set both
* if the user sets `_include`, it's a comma-delimited list of providers that are eligible to be used
* if the user sets `_exclude`, it's a c

[2015-08-10 18:49] jsquyres commented on #785
This should be fixed by #788.

[2015-08-10 18:49] #785 closed

[2015-08-10 18:52] edgargabriel commented on #792
No, this is in OMPIO, not in ROMIO. And it is weird, since I developed and tested the patch on the Stuttgart Cray.

[2015-08-10 18:54] roblatham00 commented on #792
The identifier in ROMIO is MAX_LOV_UUID_COUNT.  It's not a lustre
identifier: the Lustre folks just defined that to 1000 in ad_lustre_open.c
itself.   I don't know what happens in the distant future (of 2017?) when
lustre can finally write to more than 160 OSTs at once.

On Mon, Aug 10, 2015 at 1:43 PM, Jeff Squyres <notifications@github.com>
wrote:

[2015-08-10 19:32] edgargabriel commented on #792
The only reason that I can see why the compilation fails is if the system used for MTT has a different Lustre version which does not define that string. @cniethammer could you check the Lustre version on that machine? Once again, it compiles without issues on hornet.

[2015-08-10 19:41] roblatham00 commented on #792
LOV_MAX_STRIPE_COUNT has been in lustre_user.h since July 2012 (commit
8a06a00535b92).

It was in lustre_idl.h before that, added in commit 01138321c7ce3 of
december 2011.

It might be time to either upgrade your lustre libraries or
configure-time check for that macro (160 would be a perfectly fine
default value, as before that macro was added that *was* the max)

==rob

On Mon, Aug 10, 2015 at 2:

[2015-08-10 20:15] edgargabriel commented on #792
ok, thanks Rob for the info, will add something to catch that!

[2015-08-10 20:25] edgargabriel commented on #792
well, probably something as simple as
#ifndef LOV_MAX_STRIPE_COUNT
#define LOV_MAX_STRIPE_COUNT 160
#endif

would do, isn't it?

[2015-08-11 13:30] jsquyres opened #797 "treematch fails to compile when --without-hwloc is used"
Compile errors occur in treematch if `--without-hwloc` is used.

Does treematch *require* hwloc?  If so, it can be disabled via its configure.m4 if hwloc support is disabled.

[2015-08-11 16:05] yburette commented on #793
PR #795 is an attempt at fixing this.

[2015-08-11 18:13] hppritcha opened #799 "remove LAMA support from v2.x release"
The developer/maintainer of LAMA has no cycles to maintain it any longer.  Remove from v2.x.

[2015-08-11 19:16] rolfv commented on #627
This issue has been fixed in the master version of Open MPI and the v2.0.0 version.  Any chance you can try out v2.0.0 to see if this fixes your issue @dribbroc?

Nightly tarfiles are available here: http://www.open-mpi.org/nightly/v2.x

Any nightly build from August 10, 2015 or later.

[2015-08-11 19:39] jsquyres commented on #799
Fixed in open-mpi/ompi-release#486

[2015-08-11 19:39] #799 closed

[2015-08-12 12:42] jsquyres opened #800 "Memory corruption in PML OB1 iprobe"
Coverity CID 710549  detected memory corruption in `mca_pml_ob1_iprobe`.  At `mca_pml_ob1_iprobe.c:39`:

[code]

but then further down in the same function, we call

[code]

which calls `OBJ_RELEASE()` on the request datatype, which was defined to be `&ompi_mpi_char.dt`.

It looks like the same thing happens in v1.10 and v2.x.

@hjelmn @bosilca Can you suggest a fix?

[2015-08-12 14:07] bosilca commented on #800
The datatype is retained in MCA_PML_BASE_RECV_REQUEST_INIT in pml_base_recvreq.h:55 without taking in account if the datatype is predefined or not (by design to remove a branch in the critical path). So as long as we increase the refcount as many times as we decrease it there should be no problem.

Do you have an example that show this as being an issue?

[2015-08-12 14:19] jsquyres commented on #800
No, it was just flagged in Coverity.  If it's not a problem because we artificially OBJ_REQUIRE the type, then all is cool -- this is a false positive by Coverity.

[2015-08-12 14:19] #800 closed

[2015-08-12 14:21] jsquyres commented on #797
@bosilca pinged me in IM -- looks like the intent is that treematch should fail configure.m4 if hwloc is not configured.  It apparently used to work, but maybe something has changed.  I'll have a look.

[2015-08-12 18:45] eschnett commented on #576
@jsquyres: No, this issue did not get resolved. I still need to apply that part of the patch that checks for the `-l` option.

[2015-08-12 19:14] eschnett opened #802 "`LOV_MAX_STRIPE_COUNT` undefined"
I am building OpenMPI v2.x-dev-187-g8516895. I now see
[code]
on several systems (e.g. Hopper at NERSC). These errors were not present in earlier snapshots.

[2015-08-12 20:05] #797 closed

[2015-08-12 20:07] jsquyres opened #804 "Move treematch support to v3.x"
This is a ticket to ensure that we don't forget to move treematch over to v2.x when it has soaked on master long enough.

[2015-08-12 20:08] jsquyres opened #805 "Move opal_progress_thread support to v2.x"
This is an issue to ensure that we don't forget to move all the opal_progress_thread stuff over to v2.x.

Note to whomever does this work: there are several commits that will need to be brought over; make sure you get them all!

[2015-08-13 00:52] edgargabriel commented on #802
I commit earlier today a patch for that 55f0e1a1f859a0f16c4de3b1edf5ed4ba13e4818 which should take care of that, if you have a chance could you please let me know whether it works?

[2015-08-13 13:44] jsquyres commented on #576
Oops!

@ggouaillardet it looks like your fix to autogen.pl didn't add in the processing for the `-l` option.  Can you amend the fix to autogen.pl?

[2015-08-13 16:26] eschnett commented on #802
I left a comment for the commit.

[2015-08-13 17:41] jsquyres commented on #576
@rhc54 Yes, we'd like to include this in v1.10 if possible.

[2015-08-14 02:02] ggouaillardet commented on #576
@jsquyres i made PR #808 and i will do the PRs for the release branches

@eschnett per the output you posted, the error occurs when linking libmpi_usempi_ignore_tkr.la
in this case, wrap-gfortran is invoked instead of wrap-clang
could you please
[code]
then manually run the command returned by ```make -n libmpi_usempi_ignore_tkr.la``` after having manually removed the ```--silent``` flag, and post

[2015-08-14 02:51] eschnett commented on #576
For the record:

Original error message:
[code]

Then:
[code]

Output:
[code]

Note the empty `-l` in the command. This is already present in `config.status`; see <https://gist.github.com/eschnett/a48f63e9b4da66aaee61>. See also <https://gist.github.com/eschnett/608ad2b9f7694b2054f6> for `config.log`.

[2015-08-14 03:20] ggouaillardet commented on #576
thanks
i noted the empty ```-l``` from ```config.status``` is in the ```postdeps_FC``` definition only.
could you please post your wrap-gfortran and all the environment variables it uses ?

[2015-08-14 06:24] ggouaillardet commented on #369
per http://www.open-mpi.org/community/lists/users/2015/08/27465.php i could get rid of the problem by not using the psm mtl
```mpirun --mca mtl ^psm -np 2 java MPITestBroke```

[2015-08-15 12:07] jsquyres commented on #793
This is now done.

[2015-08-15 12:07] #793 closed

[2015-08-15 12:08] jsquyres commented on #652
@hjelmn Is this already done?

[2015-08-15 12:14] jsquyres opened #812 "MPI_T_pvar_get_index misbehaving?"
[Per the discussion on the devel mailing list](http://www.open-mpi.org/community/lists/devel/2015/08/17747.php), it looks like MPI_T_pvar_get_index() might be misbehaving...?

Here's @bosilca's reproducer:

[code]

[2015-08-15 12:26] jsquyres opened #813 "Remove ALPHA support"
[Per discussion on the mailing list](http://www.open-mpi.org/community/lists/devel/2015/07/17640.php), remove alpha support from the code base.

@hjelmn Go for it.  :smile:

[2015-08-15 12:48] jsquyres commented on #576
@eschnett We just merged #808 into master -- the nightly tarball tonight should (finally) contain the fix.  Can you verify that it works for you? If so, we'll merge it over to v2.x.

[2015-08-15 16:26] hjelmn commented on #652
I have a pull request that updates the MPI_Win_get_info code to set these keys. The enhanced one-sided code is the only component that sets any of the new flags.

[2015-08-15 16:52] hjelmn commented on #812
I will double-check with the tools working group. My interpretation is that when a variable goes away MPI_T_pvar/cvar_get_info can return an error. The caller should ignore the error and move on.

I might be wrong though given that there is an example in the standard that stops reading variables as soon as soon as one of the info functions returns an error.

[2015-08-15 17:13] hjelmn commented on #812
I can very quickly modify the get_info code to return variable info for variables that have gone away.

[2015-08-15 22:24] hppritcha opened #814 "merge PR #807 back in to v2.x"
reminder that #807 needs to merged back in to v2.x

[2015-08-16 10:56] jsquyres commented on #652
Can you cite the PR here on this issue so that we have the cross-link?

[2015-08-17 11:08] ggouaillardet commented on #369
the root cause is recvBuf is freed by the garbage collector in the middle of the main loop.
I will fix that tomorrow by having the java persistent request pointing to the java buffer.
as a workaround, simply pass recvBuf to a dummy subroutine before mpi_finalize.

[2015-08-17 13:53] edgargabriel commented on #792
fixed with commits 55f0e1a1f859a0f16c4de3b1edf5ed4ba13e4818 and 9f369ba515417a7c3ce5d634c218918546789dba

[2015-08-17 13:53] #792 closed

[2015-08-17 13:54] edgargabriel commented on #802
fixed with commits 55f0e1a1f859a0f16c4de3b1edf5ed4ba13e4818 and 9f369ba515417a7c3ce5d634c218918546789dba

[2015-08-17 13:54] #802 closed

[2015-08-17 15:31] hjelmn commented on #814
See open-mpi/ompi-release#517

[2015-08-17 15:31] #814 closed

[2015-08-17 15:47] hjelmn commented on #812
Looks like the behavior in Open MPI is indeed correct. Closing.

[2015-08-17 15:47] #812 closed

[2015-08-17 18:07] hppritcha commented on #369
HI Gilles,

I hope this is not true, or that I don't understand what you mean.  The
recvBuf in the example
i'm working with the MPI newIntBuffer method to allocate the buffer.  This
is suppose to be
allocating a direct byte  buffer.

My understanding of the way direct byte buffer is suppose to work is that
it allocates memory
out of a heap that is not eligible for cleanup by the gc like normal
all

[2015-08-18 01:12] ggouaillardet commented on #369
@hppritcha i think you understood correctly what i meant

per the java doc
[code]
so unless i am misreading English (which happens quite often ...) this is equivalent to
[code]
i made PR #815 and it solves the issue for me, as long as i run with ```--mca mtl ^psm``` but this is a different story.
strictly speaking, we could consider this is a bug on the user side. but since this is very tricky to

[2015-08-18 02:37] eschnett commented on #576
Yes, I can build `dev-2312-g5ef0632` without any of my current patches (the one discussed here, and another one having to do with Lustre).

[2015-08-18 10:58] dribbroc commented on #627
Ok, here we go:

jetson k1, openmpi-v2.x-dev-239-gb672e5c (Aug 17), gcc 4.8.4, cuda 6.5

code from https://gist.github.com/dribbroc/86422b72afe9c61b59d1
built with
mpic++ -std=c++11 -o testcase testcase.cpp -lcudart -I/usr/local/cuda/include -L/usr/local/cuda/lib
fails with
output in  https://gist.github.com/dribbroc/dde1a15e2caea9035773

Where the retun code 801 is defined in cuda.h as
CUDA_ERROR

[2015-08-18 14:24] osvegis commented on #369
Thanks Gilles.
I tested PR #814 and it also solves the issue for me.
I think is better to hold a reference to the buffer in the Request class.

[2015-08-18 14:31] jsquyres commented on #369
@ggouaillardet your explanation makes sense to me, but as @osvegis can attest, I am far from a Java expert.  :smile:

[2015-08-18 15:43] gpaulsen opened #818 "Implement --enable-static-runtime configure option."
From #729:

Jeff Squyres recommend this approach to solve this type of issue:

I do like the idea of a `--enable-static-runtime` kind of configure option.  This would seem to solve all the problems, and not require the user to know/do anything at runtime.

The only problem is: I'm not entirely sure how to do that.

1. With the Intel compiler, there's the `--static-intel` option, but that doesn't m

[2015-08-18 16:00] jsquyres commented on #818
@gpaulsen Your Github wiki-foo is weak.  :-)  I updated the description to be proper wiki notation.

[2015-08-18 16:03] gpaulsen commented on #818
:flushed:  I shall aspire to wiki-it-up :heavy_exclamation_mark:

[2015-08-18 16:05] hppritcha commented on #369
I think what we will probably do is rewrite the direct buffer allocator methods in the MPI class to actually use a native method to create the buffer object.  That plus using the NewGlobalRef method should  prevent the gc from moving/deleting any of the buffers allocated for MPI calls. That hopefully will also solve some of the problems we are seeing trying to reproduce @osvegis results in the omp

[2015-08-18 16:35] osvegis commented on #369
Direct buffers never are moved. They reside outside the Java heap, but when there are not any reference to them, then they are destroyed by GC. If we put a reference in Request class, the buffer won't be destroyed.
I think the @ggouaillardet suggestion is better.

[2015-08-18 17:20] nrgraham23 commented on #369
I am going to work on a solution that solves the problem by allocation the buffers on the C side as @hppritcha suggested to see if this also fixes the poor performance we have been seeing.  Ill create a PR with the changes when I complete them.

[2015-08-18 18:35] osvegis commented on #369
@hppritcha and @nrgraham23,
You are wrong. The only difference you'll get is that users must deallocate direct buffers manually.
Java already allocates buffers natively as you want.

[2015-08-18 19:19] rolfv commented on #627
Great, thanks for testing.  I believe we have therefore fixed this specific issue about CUDA and MPI_THREAD_MULTIPLE.  The errors you are seeing are now the same as in bug #286. If you agree than I will close this issue as fixed in version v2.0.0 and we can continue discussion about #286 in #286.

@dribbroc   Do you agree with above statements?

[2015-08-18 19:54] hppritcha commented on #369
Okay, I don't want to use the  patch from Gilles as is.  It is only a band aid for one test.   There are many more places, basically all the non-blocking pt2pt and collectives, where the same problem effectively exists.  Also, for some of the functions, like iGatherv, there are two buffers associated with the request.  I think we've just been getting lucky with the way java bindings have been used

[2015-08-18 21:41] nrgraham23 commented on #369
Howard and I discussed a more robust solution that uses the idea Gilles suggested.  We plan to use an array list to store the buffers so we can store a variable number of buffers, and we will move it to the Request class so the non-blocking pt2pt and collective operations can store the buffers as well.  Additionally, instead of modifying or making new constructors, we will add a single method that

[2015-08-18 23:48] nrgraham23 commented on #369
How does this look?

#820

[2015-08-18 23:54] ggouaillardet commented on #369
@nrgraham23 i did not test this yet, but at first glance, that looks good to me.
are there any cases in which a request can reference more than two buffers ?
if not, and from a performance point of view, i'd rather replace
```ArrayList<Buffer> buffers;``` and ```addBufRef()``` with
```Buffer sendBuf, recvBuf;```, ```addSendBufRef()``` and ```addRecvBufRef()```

[2015-08-19 00:13] nrgraham23 commented on #369
At the moment there are not (as far as I am aware).  We decided to do an array list in case there comes a time when there are more than two buffers.  I think I agree with you on the suggested change, but I will wait for others to weigh in as well.  Ill also see if I can find some more information on the performance hit associated with each option.

[2015-08-19 00:33] ggouaillardet commented on #369
@nrgraham23 in order to make the garbage collection more efficient, should the references to the buffers be removed when a __non__ persistent request completes ?

[2015-08-19 00:54] ggouaillardet commented on #818
fwiw, except having a statically linked orted (or orted that only links with system libs) i do not see how this can be achieved ...
libopen-rte.so, libopen-pal.so and all plugins (if any) need the intel runtime.
so far, i think the only way to achieve the desired result is to have orted binary link with libopen-rte.a, libopen-pal.a and no plugin at all.

[2015-08-19 01:05] nrgraham23 commented on #369
@ggouaillardet We could do something like that, however there would be performance costs associated with it.  We could potentially set them to null in the waitFor method, however we would have to verify that it was not a persistent request.  There could also be increased costs in other methods like the testStatus method which could be called multiple times before the request is actually completed.

[2015-08-19 01:14] ggouaillardet commented on #369
@nrgraham23 the costs of setting a pointer to null is very small comparing to allocating an object.
for example, at the end of the waitFor function, it is possible to add a call to ```this.removeBufRefs()```
in the ```Request``` class, ```removeBufRefs()``` remove the buffer references.
the ```Prequest``` class redefines the ```removeBufRefs()``` method and simply return.
as you pointed, ```remove

[2015-08-19 01:34] rhc54 commented on #818
That is correct - Brian Barrett had done this a few years back. The key is that you build all of OMPI as static. Today, that still won't build the orted as fully static, so you have to add some magic dust to get that to include all the dependent libs. I don't remember what he had to do - something in the orted Makefile.am plus some configure stuff. You could send him a note and ask - he might reme

[2015-08-19 01:38] gpaulsen commented on #818
Why must all of OMPI be built static?  Why not just link / archive (ar) each of the OMPI pieces against the static compiler runtime libraries?  seems like you could still build a liborte.so, but just archive in the static C runtime.

[2015-08-19 01:43] rhc54 commented on #818
You could try that - I was just relaying what Brian had done. The problem he had was that he built OMPI static, but the orted was not fully static and was still trying to load dependent libs.

[2015-08-19 01:46] ggouaillardet commented on #818
@gpaulsen is that even possible ? if i read you correctly, it means each .so includes the static compiler runtime lib. that would make all the .so very big, plus all symbols would be defined multiple time.
an other option could be to tweak the linker command so libopen-rte.so does not require the intel runtime. i am not sure the linker would allow this (undefined symbol) nor what will happen when

[2015-08-19 02:23] gpaulsen commented on #818
I'd think it'd be possible if you took all of libX's .os and ar'ed them with the compiler runtime .a to create another .a (built PIC of course), and then created a .so from that.  I'd think the ar would resolve any of the undefines, but not pickup any symbols that were not needed.
There can be weird other issues though if some "globals" (though possibly not globally scoped) from the compiler runti

[2015-08-19 08:42] dribbroc commented on #627
Sounds good to me.

[2015-08-19 08:47] dribbroc commented on #286
Just to sum things up:
The 801 error arises on the jetson with 2.0 but not with 1.8.5.
I will check the output of openmpi 1.8.8, once the jetson cluster is free from users.

[2015-08-19 10:39] jsquyres commented on #818
Remember: the goal here is not to make a 100% static orted, but rather just eliminate the need for setting LD_LIBRARY_PATH on remote nodes to find the compiler run-time libraries.  The mechanism for doing this -- with the Intel compiler, at least -- just happens to be `--static-intel`, which statically links in the Intel compiler runtime libraries (vs. dynamically linking them in).

[2015-08-19 10:40] dribbroc commented on #286
Error 801 in cuMemHostRegister back in 1.8.8, too.

[2015-08-19 11:52] rhc54 commented on #818
I'm not sure that is completely accurate. We want to eliminate dependencies on any non-standard dynamic libraries. So if you build OMPI against an external hwloc, libevent, or libpmix, then we will also want to pick those up since they might not be installed in the remote LD_LIBRARY_PATH.

Given all the potential combinations, a static orted might be the easiest solution.

[2015-08-19 12:48] rolfv commented on #627
Closing this issue as fixed in v2.0.0.

[2015-08-19 12:48] #627 closed

[2015-08-19 12:49] jsquyres commented on #818
FWIW, I stated that the goal was to link in the compiler runtime because we know we can do that.  It's easy, low-hanging fruit, and is &gt;90% of the problems we've heard over the years.

It's difficult to make a 100% static `orted` (or, at least, an `orted` that is statically linked against libraries in non-standard locations) for the following reasons:

1. We don't know exactly what "non-standar

[2015-08-19 12:51] rolfv commented on #286
I would have expected that this error would exist regardless of the Open MPI release.  It is odd that you did not see it with Open MPI 1.8.5.  Maybe it was somehow masked by other errors.

I still do not know how to fix this.

[2015-08-19 14:29] hjelmn commented on #813
Done.

[2015-08-19 14:29] #813 closed

[2015-08-19 15:53] nrgraham23 commented on #369
@ggouaillardet Obviously setting a pointer to null costs fairly little.  I think that since the Request object is likely to go out of scope shortly after the request completes anyways, it is not worth while to do the extra work.  Your suggestion of how to remove the buffers would cause a useless method call in the case of Prequests.  It is not a bad idea, but again, since the Request objects will