[2021-04-16 20:51] markalle commented on #8818
Update: my first gist had a bug (at iov[0].iov_base = packed + length) and it works fine now with the pointer math there fixed to use (char*).

But the reason I was making that test is I wanted to test big-endian to make it do a conversion, so I've made that test here:
https://gist.github.com/markalle/ac88752093058857d98d7441a466e65b

Is the above expected to work?

[2021-04-16 22:43] WurmD commented on #8803
Txs for the suggestion.

Nope,

produces the test1.txt files in both servers

produces no files

[2021-04-16 23:53] artpol84 opened #8823 "PMIx detection is broken in OMPI 4.x and below when PMIx 3x and above are used"
## Background information
I was helping folks from LANL to debug the issues with their Slurm/PMIx environment and we observed the bug related to the PMIx detection logic. Basically for PMIx v3.x and above the PMIx is not correctly detected by OMPI.
* The ORTE/PRRTE configurations work because PMIx component doesn't disable itself completely, but rather reduces the priority from "100" down to "5".

[2021-04-17 10:48] Adahai opened #8824 "running bug"
Thank you for taking the time to submit an issue!

## Background information
I  have git cloned Open MPI source code and installed it  in my  machine. But I always get an error when I run a classic MPI program in container of docker!
program  is as follows:

[code]

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
release version of 3.1.6

### Desc

[2021-04-17 12:21] jsquyres commented on #8824
If you're using UCX, you'd probably be much better served by using Open MPI 4.0.x or 4.1.x.

I can't speak to what is happening with UCX in a container, however.  Perhaps the @open-mpi/ucx team can address that further.

Is there a reason you're git cloning the Open MPI source code at the v3.1.6 tag rather than using an official tarball?

[2021-04-17 17:40] yosefe commented on #8824
+1 for using OpenMPI 4.1.x
UCX supports containers, and the segfault here seems to come from mca_oob_ud compoentn.

[2021-04-17 17:56] rhc54 commented on #8823
The `PMIX_SERVER_URI` envar was used by the old `usock` transport that was dropped starting with PMIx v3. PMIx, therefore, cannot restore it as that would falsely imply that the client could use `usock` to connect to the server. The better solution is, as you suggest, to have OMPI's component check for a generic envar that starts with `PMIX_SERVER_URI`. The PMIx library will then find and use the

[2021-04-17 23:19] artpol84 commented on #8823
I see, thank you Ralph.
This is what I suspected about the old envar.
I think that looking for the PMIX_NAMESPACE is a good idea as this is something not specific to the PMIx component but rather a generic envar.
I'll open the PR and test it with my LANL colleagues.

[2021-04-18 08:47] J-shel opened #8825 "mca_sharedfp_lockedfile_file_open: Error during file open"
Hello,

## Background information
I'm running an application, which reads input files from local storage on each node since our parallel storage system is under maintenance. And I got the following message. The application got stuck here.
[n406:131617] [86]mca_sharedfp_lockedfile_file_open: Error during file open
[n356:132695] [65]mca_sharedfp_lockedfile_file_open: Error during file open
[n354:131

[2021-04-18 20:43] tamiko opened #8827 "Memory leak in MPI_Allreduce when using a repeatedly created and freed MPI_Datatype"
I observe a memory leak in `MPI_Allreduce` when using a repeatedly created and freed custom `MPI_Datatype`. This issue seems to first occur in ompi version 4.1.0. I cannot reproduce with ompi 4.0.5.

Minimimal source code (C++) demonstrating the problem attached.

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.0

#

[2021-04-18 21:34] yosefe commented on #8827
@tamiko thank you for the report.
Can you please add "-mca pml ob1 -mca btl vader" as an experiment to see if UCX is causing the issue?
@hoopoepg i think we have leak in mca_pml_ucx_init_datatype: if the type is contig, we do not call "ompi_attr_set_c" to register type destructor. probably, the "out:" label from line 241 should be moved to line 228

[2021-04-18 21:52] tamiko commented on #8827
@yosefe I can confirm that `mpirun -mca pml ob1 -mca btl self,vader -np 10` does indeed not leak.

Also, I forgot to mention: Yes, I can confirm that the leak occurs in `mca_pml_ucx_init_datatype` (called over `MPI_Allreduce`). (I ran a heap memory profiler, "heaptrack", when investigating this issue.)

[2021-04-18 22:09] yosefe commented on #8827
@tamiko thank you for the confirmation,
Any chance you can try the following patch as a potential fix:
[code]

[2021-04-18 22:14] tamiko commented on #8827
@yosefe I was already on it :smile:  Yes, the above patch indeed fixes the issue!

[2021-04-19 01:55] Adahai commented on #8824
I think that  Git clone approach easy to manage, and if I have problems compiling or running OpenMPI, I can quickly switch to another version，are  there some  differences  between a Git clone and a Tarball?

I have previously tried installing OpenMPI 4.1.x,  the congfig parameters are exactly the same as above, however, **there are always compilation errors, as follows:**

     pshmem_free.c: In f

[2021-04-19 02:07] ggouaillardet commented on #8824
@Adahai it seems `pshmem_realloc.c` points to an outdated version (it is a sym link)

I do encourage you to restart from a fresh `git clone`

[2021-04-19 02:19] Adahai commented on #8824
@ggouaillardet  I downloaded a brand new Tarball with v4.1.0,  did the same configure parameter same as above, **When I make -j64,The same error occurred:**

pshmem_realloc.c: In function ‘_shrealloc’:
pshmem_realloc.c:59:56: error: macro "realloc" passed 4 arguments, but takes just 2
         rc = s->allocator->realloc(s, size, ptr, &pBuff);

[2021-04-19 02:52] ggouaillardet commented on #8824
@Adahai i see, `oshmem` is not built by default on my box.

I suggest you give a try to the latest `4.1.1rc2`, these "subroutines" were renamed to correctly handle `free()` now being defined as a macro.

[2021-04-19 04:50] ggouaillardet commented on #8824
@Adahai btw, if you do not need OpenSHMEM, you can simply `configure --without-oshmem`

[2021-04-19 05:10] Adahai commented on #8824
@ggouaillardet when i try to the compile  4.1.1rc2,  there are also some errors :
make[2]: Entering directory '/usr/local/ompi-4.1.1rc2/build/test/monitoring'
  CCLD     test_pvar_access
  CCLD     monitoring_test
  CCLD     test_overhead
  CCLD     example_reduce_count
  CCLD     check_monitoring
//usr/local/mpi/lib/libopen-rte.so.40: undefined reference to `opal_hwloc1117_hwloc_topology_export_x

[2021-04-19 05:23] ggouaillardet commented on #8824
Open MPI `4.1` is based on hwloc `2.0.1`, and the logs state the mentionned libraries expect embedded hwloc `1.11.7`, so something is going wrong on your system.

I suggest you start uninstalling Open MPI from `/usr/local`, or build Open MPI with an other prefix (such as `/opt/openmpi-4.1.1rc2`)

[2021-04-19 06:18] Adahai commented on #8824
@ggouaillardet  thank you,  I compiled it successfully this time when i build Open MPI with an other prefix, but When I run a program, **new errors occurred:**, this program probably be fine
**The program**
#include "mpi.h"
 #include<iostream>
 #include<cstdio>
 #include<cstdlib>
 #include<cstring>

 int main( int argc, char *argv[])
{
     char message[20];
     int myrank;

     MPI_Status statu

[2021-04-19 06:21] ggouaillardet commented on #8824
That typically occurs when `mpirun` does not match the MPI library.
(e.g. `mpirun` from MPICH and `libmpi.so` from Open MPI)

you can
[code]

to double check which binary and library are used.

[2021-04-19 06:31] Adahai commented on #8824
@ggouaillardet，I don't understand how I should choose LDD to get my program to work
I wonder if there's another way to get the program to automatically load the library files

[2021-04-19 06:35] ggouaillardet commented on #8824
`ldd ...` will show you which `libmpi.so` is used.

the easiest way is to `configure --enable-mpirun-prefix-by-default ...` so the right libraries will be used.
an other option is to use the absolute path to `mpirun` (e.g. `/opt/openmpi-4.1.1rc2/bin/mpirun mtest`)

[2021-04-19 07:01] Adahai commented on #8824
- When  i do option that  is to use the absolute path to mpirun mtest, same errors  occurred
- A recompile run doesn't seem to solve the problem either,same errors  occurred when i run mtest
../configure --prefix=/usr/local/openmpi  --enable-orterun-prefix-by-default  --enable-mpirun-prefix-by-default --with-pmi  --with-pmix=internal  --with-ucx=/usr/local/ucx --with-ucx-libdir=/usr/local/ucx/lib

[2021-04-19 07:02] ggouaillardet commented on #8824
can you post the output of the two commands from a previous message?

[2021-04-19 07:43] Adahai commented on #8824
- I suspected that the reson is environment variable, so I cleared the /user/local/mpi directory and reinstalled it, and installed successed. but there are still same problems when it runs.  configure as blow:
    ../configure --prefix=/usr/local/mpi  --enable-orterun-prefix-by-default  --enable-mpirun-prefix-by-default --with-pmi  --with-pmix=internal  --with-ucx=/usr/local/ucx --with-ucx-libdir=

[2021-04-19 07:59] ggouaillardet commented on #8824
you are using the distro MPI (mpich)

try

[code]
and check `/usr/local/mpi/lib/libmpi.so` is used.

[2021-04-19 08:02] Adahai commented on #8824
After try,  Result as blow:
/usr/local/mpi/bin/mpirun: error while loading shared libraries: libopen-orted-mpir.so: cannot open shared object file: No such file or directory

[2021-04-19 08:04] Adahai commented on #8824
After try, Result as below:
/usr/local/mpi/bin/mpirun: error while loading shared libraries: libopen-orted-mpir.so: cannot open shared object file: No such file or directory

[2021-04-19 08:10] ggouaillardet commented on #8824
if you did not `configure --enable-mpirun-prefix-by-default`, you need to
[code]
and then try again.

[2021-04-19 08:33] Adahai commented on #8824
- i have done configure  --enable-mpirun-prefix-by-default as below.  Do I need to pass the actual value to  enable-mpirun-prefix-by-default ?
    ../configure --prefix=/usr/local/mpi --enable-orterun-prefix-by-default --enable-mpirun-prefix-by-default --with-pmi --with-pmix=internal --with-ucx=/usr/local/ucx --with-ucx-libdir=/usr/local/ucx/lib --with-cuda=/usr/local/cuda --enable-mca-no-build=bt

[2021-04-19 12:19] Adahai commented on #8824
@ggouaillardet hi,thanks a lot. The problem has finally been solved in the following ways

- vim /etc/ld.so.conf，and add "/usr/local/mpi/lib"
- /sbin/ldconfig -v

[2021-04-19 12:19] #8824 closed

[2021-04-19 14:14] edgargabriel commented on #8825
@J-shel thank you for the report. Can I ask  a few questions for clarification? If you say "reads input files from local storage" do you mean e.g. separate hard drives on each node? If yes, this would be a situation that MPI I/O is not really designed for, MPI I/O is assuming shared storage to all nodes. The only situation where this is expected to work is if you would restrict the communicator us

[2021-04-19 15:15] jayeshkrishna commented on #8442
Is there a way I can build OpenMPI master with PMI2 support? Apparently the MPI gather tests were running without PMI support (singleton) from slurm since I used the internal OpenMPI PMI (PMIx) to build the library.

============ OpenMPI configure error if trying to use PMI (PMI2) in /usr ===============
...
configure: WARNING: Open MPI no longer supports PMI-1 or PMI-2 libraries.
configure: WARNI

[2021-04-19 15:18] rhc54 commented on #8442
Afraid not - you'll need to have Slurm configured with PMIx support.

[2021-04-19 16:10] jsquyres commented on #8442
That is the _best_ option (the implication here is that the upcoming Open MPI v5 will not support PMI1/PMI2).  Another option is to use an older version of Open MPI that still has support for PMI2.

[2021-04-19 16:36] jayeshkrishna commented on #8442
ok, thanks. I am working with the sysadmins here to address the issue.

[2021-04-19 17:08] jsquyres opened #8829 "v4.1.x: --with-pmix=external does not fail if no external PMIx found"
Per https://www.mail-archive.com/devel@lists.open-mpi.org/msg21284.html, Paul Kapinos mentions that

[code]

when there is no external PMIx to be found will _not_ actually cause `configure` to fail.  This seems unexpected.

See attached `config.log` (Paul linked to it from his email): [config.log.gz](https://github.com/open-mpi/ompi/files/6337692/config.log.gz)

I found the relevant bits by search

[2021-04-19 18:10] awlauria commented on #1745
Closing per comment above - also have not noticed any atomics failures in CI or mtt lately.

[2021-04-19 18:10] #1745 closed

[2021-04-19 19:16] jsquyres commented on #8603
@BiplabRaut @ggouaillardet This has been resolved, right?  Is the fix merged everywhere / should we close this issue?

[2021-04-19 19:23] shefty commented on #8822
Conceptually, I think this could work, and I like the proposed flow.

The problem I see is fi_mr_refresh() takes a mr as input, which requires that the application register the region.

[2021-04-19 19:28] wzamazon commented on #8822
When MR cache is used, we can find the MR from cache?

[2021-04-19 19:49] shefty commented on #8822
The app needs to pass the MR into fi_mr_refresh().  To do that it needs to initiate the registration call.

The MR is only really needed here in order to route to the correct control() function.  We could call the domain->control() operation instead, but that would be through fi_control() directly.  Plus that behavior does not relate directly with FI_MR_MMU_NOTIFY as it's currently defined.

We're

[2021-04-19 20:22] wzamazon commented on #8822
It seems we can have a new fi_control command on an fi_domain object, and each provider can choose how or whether to implement it. Does it look right?

[2021-04-19 20:25] jsquyres commented on #8803
I fear that I mis-read your initial description: my initial reply was therefore probably meaningless.  Sorry about that!

Re-reading it closer, I see that the gist of the issue is:

* Running from GPU11 to gpu11,gpu10, it works.
* Running from GPU10 to gpu11,gpu10, it hangs.

Now that I understand the issue, here's my suggestion: when you run the "bad" case (from GPU10 to gpu11,gpu10), do a `ps` o

[2021-04-19 21:43] WurmD commented on #8803
Hi hi,

Both machines have identical firewall rules:
[code]

In one terminal, running `GPU10:~$ mpirun --debug-devel --show-progress --report-uri - --report-pid - --allow-run-as-root --verbose --mca btl_tcp_port_min_v4 33000 -np 2 --host gpu11,gpu10 touch /home/dario/test2.txt`

in another terminal
[code]

in another terminal
[code]
:(

At least we're one debug step closer

What should we check ne

[2021-04-19 21:49] jsquyres commented on #8803
That's... truly odd: is the ssh from gpu10 to gpu11 not working?  I ask because your ps on gpu10 shows that the `ssh` to gpu11 is running, but the corresponding `orted` is not running on gpu11.

FWIW: I don't remember what all the options are for offhand, but I typically use `ps -eadf` or `ps auxwww`, just in case it's running but `ps -lax` doesn't show it.

[2021-04-19 22:01] alyessam-amd commented on #8463
So, how to get statfs() or statvfs() on Windows 10 so the build succeed?

[2021-04-19 22:06] WurmD commented on #8803
*facepalm*
`GPU10:~ $ ssh gpu11 hostname` was not working, the ssh key was missing. I could swear I had tested this,
I'm sorry for wasting your time.

Now mpirun hostname is not working for another reason, but I'll troubleshoot it myself first

[code]

[2021-04-19 22:16] jsquyres commented on #8803
[code]

This kind of error *usually* means a mismatch between the version of Open MPI on one node and the version of Open MPI on the other node.  E.g., you might want to uninstall the OS-inbox Open MPI packages, and ensure to set your PATH/LD_LIBRARY_PATH for non-interactive logins to point to your specific Open MPI installation.

[2021-04-19 22:38] WurmD commented on #8803
Same version
[code]
[code]
Similar PATHs
[code]
GPU10:~$ ssh gpu11 env | grep -i path
DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
[code]

[2021-04-20 00:20] WurmD commented on #8803
Ha! :D I was doing ssh gpu11 which orted before you posted :D

[code]
[code]
The only difference is `libz.so.1 => /lib/x86_64-linux-gnu/libz.so.1 (0x00007ff52b135000)`

[2021-04-20 01:09] rhc54 commented on #8803
That is probably the problem, I'm afraid - if one has libz, then they all must have libz. Otherwise, one will compress the launch msg and the other won't be able to decompress it.

[2021-04-20 06:40] BiplabRaut commented on #8603
Hi Jeff,
          The issue has been resolve with the patch https://github.com/open-mpi/ompi/pull/8789. I simply applied the patch and tested it.
Regarding fix being merged everywhere, @ggouaillardet would know it better.

The issue can be closed from my side.
Thanks.

[2021-04-20 09:37] oleotiger opened #8831 "Openib not supported or repalced in openmpi v5.0.x?"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
git branch master
head : 6d237e85d730ed946c9f45fcd3e19b78a243203e

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
From a git clone

### If you are building/installing

[2021-04-20 13:54] awlauria commented on #8831
Hi @oleotiger. The openib component was removed from master/v5.0.x because it was unmaintained.
All networks supported by the openib BTL (IB, RoCE, iWARP) should be supported by Libfabric/UCX.

Are you seeing otherwise?

[2021-04-20 14:01] rhc54 commented on #8803
We should confirm that hypothesis first - I suspect it is true, but unconfirmed at this time.

[2021-04-20 15:10] WurmD commented on #8803
Verified that GPU10 only has libz installed, while GPU11 also has the dev version installed
And in the config and installation logs of mpi, in GPU10 "zlib.. no" in GPU11 "yes" it compiled with support for zlib

So now I'll install zlib1g-dev in GPU10 and rerun
`./configure |& tee config.out`
`make -j 8 |& tee make.out`
`sudo make install |& tee install.out`
and retest, yes?

[code]
[code]

mpi was

[2021-04-20 15:11] #8733 closed

[2021-04-20 15:13] awlauria commented on #8656
Can this issue be closed?

master: https://github.com/open-mpi/ompi/pull/8788
v5.0.x: https://github.com/open-mpi/ompi/pull/8809

[2021-04-20 15:17] awlauria commented on #8603
#8789 was applied to all release branches:

v5.0.x: https://github.com/open-mpi/ompi/pull/8794
v4.1.x: https://github.com/open-mpi/ompi/pull/8795
v4.0.x: https://github.com/open-mpi/ompi/pull/8796

Thanks - closing.

[2021-04-20 15:17] #8603 closed

[2021-04-20 15:21] WurmD commented on #8803
Success

[code]

[2021-04-20 15:21] #8803 closed

[2021-04-20 15:59] janjust commented on #8652
@cayrols Just to confirm, the ppn count = gpu count? In these experiments?

[2021-04-20 16:01] janjust commented on #8652
I did a quick, 1ppn, on 2 nodes on a local system:

$mpirun -n 2 -H ops003:1,ops004:1 -x LD_LIBRARY_PATH -mca pml ucx -mca osc ucx -x UCX_ZCOPY_THRESH=1 -x UCX_RNDV_SCHEME=get_zcopy -x UCX_TLS=ib,cuda_copy,cuda_ipc,gdr_copy -x UCX_MAX_RNDV_RAILS=1 -x UCX_NET_DEVICES=mlx5_0:1 ./measure_bw
[code]

Here put implementation is faster, but, I'm just in the stages to reproduce the issue.

[2021-04-20 16:02] jsquyres commented on #8831
Specifically: Mellanox CX-5 cards should be supported by configuring and building Open MPI with UCX.

[2021-04-20 16:12] cayrols commented on #8652
@janjust Thank you for doing this !

Yes, the ppn is the number of GPUs per node.

About your initial test, it is kind of a point to point communication plus a local mem copy.
Is it normal to reach only 4.5GB/s on your machine ? What is the output bandwidth on your machine ?
What do you get on a single node ? single socket if you have more than one ?

[2021-04-20 18:04] janjust commented on #8652
I wouldn't call this normal :)

[2021-04-20 22:21] janjust commented on #8652
@cayrols

So the original system had an issue, so I moved over to another system and here osu_bw/bibw achieves line rate.

However, after looking at the benchmark I think I know what the issue is:

Has to do with ucx' put/get API not supporting TAGGED api.
Seems that put get will not use nvlink hence the drop in performance when you’re increasing ppn count.
This can be demonstrated when removing c

[2021-04-21 07:14] kshterev commented on #8819
It doesn't work. I keep working on this

I found a problem when try to run OpenMPI on two nodes. It hangs on different clusters in the same way:
mpirun --host im02:1,im03:1 -np 2 ./SIMPLE_TS_MPI
`--------------------------------------------------------------------------
WARNING: Open MPI failed to TCP connect to a peer MPI process.  This
should not happen.

Your Open MPI job may now hang or fail.

[2021-04-21 09:46] J-shel commented on #8825
Hi,
yes, by "reads input files from local storage", I mean reading separate hard drives on each node. Could OpenMPI handle it? As far as I know, The application compiled using Intel MPI could run successfully under this situation. I just wonder if I could change some mca parameters to make the application compiled using OpenMPI also run successfully.  I'm not sure if I got your point of "The only

[2021-04-21 11:40] ggouaillardet commented on #8819
Did you observe a linear speedup on a single node with MPICH (or a derivative) ?

the two node issue is likely caused by the wrong interface being used and/or a firewall running.
 - make sure no firewall is running between the hosts
 - force the interface you know is working, for example `mpirun --mca btl_tcp_if_include eth0 --mca oob_tcp_if_include eth0 ...`

[2021-04-21 13:49] janjust commented on #8652
@bosilca @cayrols
IMO this should be a feature request for the UCX community.

[2021-04-21 14:30] kshterev commented on #8819
I work on this.

I stop the firewall as root with:
`# systemctl stop firewalld`
`# firewall-cmd --state`
`not running`

and

it works:
mpirun --host im02:1,im03:1 -np 2 --mca btl_tcp_if_include eno1 --mca oob_tcp_if_include eno1 ./SIMPLE_TS_MPI

[2021-04-21 21:00] jayeshkrishna commented on #8442
Can you backport the changes in PR #8735 and this PR (PR #8769) to a branch off OpenMPI 4.0.4 release? I can use that branch to test the fixes on our cluster.
* Since slurm is being used in a production environment the sysadmins cannot recompile it at the time to include support for PMIx
* I tried disabling support for slurm and using the OpenMPI launcher directly with OpenMPI master + PR #8769 (N

[2021-04-22 04:44] #8770 closed

[2021-04-22 04:45] #8560 closed

[2021-04-22 13:24] gpaulsen commented on #6317
Closing as resolved in master and v5.0.x

[2021-04-22 13:24] #6317 closed

[2021-04-22 13:27] gpaulsen commented on #6941
@janjust thanks for the update.  We're monitoring for v5.0.0.

[2021-04-22 13:41] awlauria commented on #8776
Fixed in master by https://github.com/open-mpi/ompi/pull/8792

[2021-04-22 13:43] awlauria commented on #8771
Any update on this?

[2021-04-22 13:44] gpaulsen commented on #7623
Resolved on master and v5.0.x.  Closing.

[2021-04-22 13:44] #7623 closed

[2021-04-22 13:44] awlauria commented on #8766
#8791 has been merged, closing. Thanks!

[2021-04-22 13:44] #8766 closed

[2021-04-22 13:45] awlauria commented on #8732
@bertwesarg when you get a chance can you bring this to the v5.0.x branch? Thanks!

[2021-04-22 13:48] awlauria commented on #8746
@hjelmn can you bring this over when you get a chance? Thanks

[2021-04-22 13:49] awlauria commented on #8566
Master PR: https://github.com/open-mpi/ompi/pull/8722

Reopening since has not been merged to v5.0.x yet

[2021-04-22 13:54] awlauria commented on #7847
Could this be the same issue as https://github.com/open-mpi/ompi/issues/8776 ?

[2021-04-22 13:54] gpaulsen commented on #7624
This is Fixed on master.  Closing

[2021-04-22 13:56] awlauria commented on #7726
@mwheinz can this issue be closed?

[2021-04-22 13:59] gpaulsen commented on #7624
Oops.  This is still hanging on ibm.  Reopening.
[code]

[2021-04-22 14:00] awlauria commented on #7644
Closing as #7764 has been merged.

[2021-04-22 14:01] awlauria commented on #7644
Oops - it was closed not merged..Reopening. @hppritcha did this get fixed in an other PR?

[2021-04-22 14:03] gpaulsen commented on #7625
Fixed on master and on v5.0.x.  Closing

[2021-04-22 14:03] #7625 closed

[2021-04-22 14:12] mwheinz commented on #7726
No, these problems still exist in the OFI provider. Assigning it to myself since there doesn't seem to be anyone in particular maintaining the OFI MTL.

[2021-04-22 14:15] hppritcha commented on #7644
#7968 is the same as #7764 just with more verbiage in the commit message per @jsquyres request.

[2021-04-22 14:16] awlauria commented on #7644
Thanks - did we want to close this issue?

[2021-04-22 14:18] hppritcha commented on #7644
yes

[2021-04-22 14:20] mwheinz commented on #7726
I can't promise to get to this anytime soon but I've added it to my internal bug queue. It's low priority because it's been in the code without complaint since 2018.

[2021-04-22 14:22] #7644 closed

[2021-04-22 14:24] hppritcha commented on #7308
closed via #8802 and #8804.  Unlikely to fix on the old 3.1.x and 3.0.x release branches.

[2021-04-22 14:24] #7308 closed

[2021-04-22 14:24] awlauria commented on #7726
No worries - thanks.

[2021-04-22 14:25] gpaulsen commented on #7624
pp_1sided looks like it might be failing in the same way.  We may need to extend the timeout.

[2021-04-22 14:28] gpaulsen commented on #7639
`intercomm_create` is now passing for IBM on master with both ucx and tcp.  It fails in the spawned child when run with sm, but that is expected.   Closing this issue.

There is an unrelated hang in int_overflow , and pp_1sided (see: https://github.com/open-mpi/ompi/issues/7624) that may be related to our timeout setting of 30 sec.  Austen is looking at extending our timeouts for certain tests tha

[2021-04-22 14:28] rhc54 commented on #8823
All committed

[2021-04-22 14:28] #8823 closed

[2021-04-22 14:30] rhc54 commented on #3583
Fixed in master and v5.0 - no plans to backport

[2021-04-22 14:30] #3583 closed

[2021-04-22 14:35] rhc54 commented on #3683
Code path in master is now very different - no plans to backport any fix.

[2021-04-22 14:35] #3683 closed

[2021-04-22 14:38] rhc54 commented on #4327
Given 2.5 years have passed, I think it is safe to say this isn't something that is going to happen.

[2021-04-22 14:38] #4327 closed

[2021-04-22 14:40] rhc54 commented on #4665
This appears fixed on master and v5

[2021-04-22 14:40] #4665 closed

[2021-04-22 14:41] rhc54 commented on #4557
This works fine on master and v5

[2021-04-22 14:41] #4557 closed

[2021-04-22 14:44] rhc54 commented on #5048
PMIx v1.2 has passed outside the support window.

[2021-04-22 14:44] #5048 closed

[2021-04-22 15:17] Akshay-Venkatesh commented on #8806
@cadedaniel Do you see hangs when you use non-overlapping NCCL and CUDA-aware MPI epochs?

[2021-04-22 15:45] hppritcha opened #8840 "configury detection of _Float16 support generates thousands of compiler warning messages"
On aarch64 OMPI's configury thinks using _Float16 is a great idea, but when one compiles the code, one gets an enourmous number of messages of this type

[code]

there are so many of these messages that more significant warning messages get lost.

[2021-04-22 17:47] hppritcha commented on #8252
I see similar results to the ones reported by @naughtont3 using UCX 1.10.0 with OMPI 5.0.x using the UCX OSC component.  If I use the RDMA component, the osu_get_bw runs nominally.

[2021-04-22 17:48] hppritcha commented on #8252
here's the error on seeing on our aarch64/connectx5 system:
[code]

[2021-04-22 18:15] #4718 closed

[2021-04-22 18:49] shanedsnyder opened #8841 "segfault when using MPI_File_get_byte_offset on a 0-sized file view"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

via Spack

### If you are building/installing from a git clone, please copy-n-paste the output from `git submo

[2021-04-22 19:07] roblatham00 commented on #8841
This is a distilled test case from a more involved interaction among HDF5, Darshan, and OpenMPI-IO https://forum.hdfgroup.org/t/parallel-hdf5-write-with-irregular-size-in-one-dimension/8284

[2021-04-22 19:19] edgargabriel commented on #8841
@shanedsnyder @roblatham00 thank you for the bug report, I will have a look at it.

[2021-04-22 21:43] awlauria commented on #7639
`int_overflow` takes a little over 6 minutes on a single node with 2 ranks - it's a largish test. We should consider shortening the test or removing it from mtt:

[code]

[2021-04-22 21:49] awlauria commented on #7639
`pp_1sided` takes a little over a minute, a bit more reasonable:

[code]

Maybe we should extend this to be ~2 minute timeout. What do you think @gpaulsen ?

[2021-04-23 00:05] rhc54 commented on #7094
This works fine on master, and no backport is planned.

[2021-04-23 00:05] #7094 closed

[2021-04-23 00:08] rhc54 commented on #4496
I don't see any plans/prospects for supporting that method going forward. Since it has been 2.5 years and nobody else feels the urge to come up with a solution, I'm closing this for now.

[2021-04-23 00:08] #4496 closed

[2021-04-23 00:10] rhc54 commented on #8548
@angelinesalberto Any update on this?

[2021-04-23 00:11] rhc54 commented on #4877
This is fixed in master and v5.0 - there are multiple ways to export envars.

[2021-04-23 00:11] #4877 closed

[2021-04-23 00:13] rhc54 commented on #8278
@fm-dewal Any further progress on this or can it be closed?

[2021-04-23 00:14] rhc54 commented on #8596
@amckinstry Any update on this?

[2021-04-23 00:15] rhc54 commented on #7790
Closing as fixed.

[2021-04-23 00:15] #7790 closed

[2021-04-23 00:17] rhc54 commented on #4543
No longer seeing this.

[2021-04-23 00:17] #4543 closed

[2021-04-23 00:18] rhc54 commented on #4468
If this problem persists, I would recommend updating to either OMPI v4.x or OMPI v5 once released. I don't think anyone is going to backport a solution to the OMPI v3 series.

[2021-04-23 00:18] #4468 closed

[2021-04-23 01:10] oleotiger commented on #8831
There are some specified -mca knobs for openib.
Is there document that introduce some knobs for openfabric?

[2021-04-23 13:14] jsquyres commented on #8825
@J-shel Per @edgargabriel's reply, I don't think that the MPI IO API is designed for the case you are describing.  It really assumes shared storage to all nodes.  Perhaps Intel MPI has a mechanism to handle your case, but it sounds like that is an extension to MPI on their part.

[2021-04-23 18:24] gpaulsen commented on #5818
Fixed in v4.0 here: https://github.com/open-mpi/ompi/pull/8721

[2021-04-23 18:25] gpaulsen commented on #3035
This is still needed on v4.1.x

[2021-04-23 18:33] gpaulsen commented on #6777
@dalcinl What version of UCX are you using with Fedora 33?

[2021-04-23 18:42] gpaulsen commented on #7795
Not going to update ROMIO in v4.0.x.  Removing label.

[2021-04-23 18:56] gpaulsen commented on #8106
Thanks Howard.

[2021-04-24 05:18] dalcinl commented on #6777
@gpaulsen These are the current openmpi and ucx packages in my Fedora 33:
[code]

[2021-04-24 05:28] hjelmn commented on #6777
Looking at that log osc/ucx should not be in use. It should be losing to osc/rdma when not using a mellanox HCA. In the failure case NP=1 which I don't think should be using UCX at all. Doesn't address the issue that osc/ucx is doing the wrong thing but does indicate that the version of Open MPI is using the wrong components by default.

[2021-04-24 18:25] jsquyres opened #8846 "v4.1.2 release checklist"
**NOTE:** The Open MPI v4.1.x branch was created after v4.0.5.  Hence, for some of the `git log ...` commands, the `last_release_tag` should probably be `v4.0.5`.

## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gn

[2021-04-24 18:36] jsquyres commented on #8303
4.1.1 is in the wind!

[2021-04-24 18:36] #8303 closed

[2021-04-25 02:39] J-shel commented on #8825
@jsquyres @edgargabriel  Thank you very much for your reply. I'm glad to know OpenMPI could also deal with this situation, but please don't bother to re-introducing the mca parameter if you think it may be not that necessary. For me, it is also a rare scenario since our parallel storage system is under maintenance. We tried it just for emergency use.

Anyway, thank you and good day!

[2021-04-25 06:36] dalcinl commented on #6777
@hjelmn mpi4py initializes MPI with THREAD_MULTIPLE. Perhaps that is affecting component selection?

[2021-04-25 17:08] tonycurtis opened #8848 "Open-MPI 4.1.1: compile error"
Thank you for taking the time to submit an issue!

## Background information

Downloaded 4.1.1, compile.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

tarball download

### If you are

[2021-04-25 17:13] tonycurtis commented on #8848
Didn't clean build directory.  Whoops.

[2021-04-25 17:13] #8848 closed

[2021-04-25 18:55] jsquyres opened #8850 "Static linking of apps broken for master/v5.0.x"
It looks like the wrapper compiler data files are not getting a full list of all the needed static libraries when `--disable-shared --enable-static` is being used to configure Open MPI on master and v5.0.x.

Here's what shows up in my RHEL 6 build with GCC 10:

[code]

Here's what I had to change `libs_static` to in order to get `examples/hello_c.c` (and friends) to compile:

[code]

I'm guessing

[2021-04-26 14:15] #8825 closed

[2021-04-26 14:19] tonycurtis commented on #8848
I panicked myself!

[2021-04-26 14:21] jsquyres opened #8853 "Miles of pgcc atomic warnings in 4.1.x builds"
I don't know if anyone cares, but there are miles of PGCC atomic warnings in 4.1.x builds.

For example, see https://gist.githubusercontent.com/ibm-ompi/a046771cac27b7a44faa970c3b4fbb06/raw/8eaa05a59398e1b369f55171efc84a8cb5a76ad5/output.txt (this is the IBM CI build from https://github.com/open-mpi/ompi/pull/8847).

Can these be fixed?  If not, feel free to close this issue as "wontfix".

[2021-04-26 14:37] markalle commented on #8818
@bosilca Thoughts on this not appearing to work when the endianness is forcing conversions to be needed?  Would opal_convertor_unpack() only be used in this partial-datatype + needing conversion method for messaging between heterogeneous ranks?  If so then that wouldn't be real high priority for me.  But I don't know if that's the context where the above path would happen

[2021-04-26 15:35] bangerth opened #8854 "MPI_Comm_split_type does not treat 'key' correctly"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
2.1.1 (packaged with Ubuntu 18.04)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Via Ubuntu 18.04

### Please desc

[2021-04-26 15:41] jjhursey commented on #8853
Duplicate of https://github.com/open-mpi/ompi/issues/7686
We really should have Nvidia look into helping with this issue:

[2021-04-26 15:41] #8853 closed

[2021-04-26 15:51] bangerth commented on #8854
Interestingly, the problem is not in `MPI_Comm_split`: If I call
[code]
I get as expected
[code]

[2021-04-26 17:18] dvdesolve opened #8856 "'partial' test fails due to roundoff error"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
I'm trying to build and install Open MPI with the following sequence (using GCC9 explicitly):
[code]

### Please

[2021-04-26 17:58] gpaulsen commented on #8217
I tried to cherry-pick these to various RM branches, however orte and some other code has been removed on master, and there were a few other review items that I wasn't sure how to resolve.  Please see austen's review here: https://github.com/open-mpi/ompi/pull/8747.

It's a shame to lose these, memory leak fixes, however given the code churn since when this issue was opened and today, it's best th

[2021-04-26 17:58] #8217 closed

[2021-04-26 18:09] rajachan commented on #8822
Wei had raised the point about fids when I discussed the proposal with him. I agree, having a global fid would be useful for things like this. IIRC, we'd discussed using fi_control() in the past for core component controls (like disabling/enabling the cache); which would also need a special fid of some sort.

[2021-04-26 19:40] jayeshkrishna commented on #8442
@jsquyres / @bosilca : Would a backport of these 2 PRs (#8735 + #8769) be possible on OpenMPI 4.0.4? It would be great if I can test the changes with PMI2 on our cluster.
(OpenMPI 4.0.4 is the version currently installed on the cluster, so would be the easiest one to test, but any version that supports PMI2+slurm would also work)

[2021-04-26 19:56] jsquyres commented on #8442
@jayeshkrishna As you probably saw, we released 4.1.1 with the partial datatype fix.  That might be a good solution for you.

We're working on back-porting that same partial datatype fix back to the v4.0.x branch -- @hppritcha may have a PR up for that in the next day or so.

We have not discussed bringing back the heterogeneous functionality to either of the 4.x branches.

[2021-04-26 19:59] jsquyres commented on #8856
Well... dang it.  We're investigating...

[2021-04-26 20:44] gpaulsen opened #8858 "Please Cherry-Pick ROMIO 3.4.1 to v5.0.x after master"
It's important to take a ROMIO update (to ROMIO v3.4.1) for Open MPI v5.0.0.

Once https://github.com/open-mpi/ompi/pull/8740 has been merged to master, please Cherry-pick it to the v5.0.x branch.

[2021-04-26 20:44] gpaulsen commented on #8858
The current thinking as far as I understand is to NOT cherry-pick ROMIO v3.4.1 further back to either v4.1.x or v4.0.x

[2021-04-26 21:00] hppritcha opened #8860 "MPI_T_init/MPI_T_finalize prior to MPI_Init no longer works on master"
This test case stopped working after we switched from dynamic loading of plugins to static
[code]
The test segfaults in MPI_Init if OFI or UCX components are active.  This test simulates the ibm onesided/c_lock_illegal.  The test runs nominally if OMPI master is configured with --enable-mca-dso.

[2021-04-26 21:03] jayeshkrishna commented on #8442
Thanks! I will try 4.1.1 and see if it works on our cluster.

[2021-04-27 02:43] bosilca commented on #8856
I tried to look at this but I can't replicate. I don't have the specific compiler used here but I tried on 2 64-bits machines (x86 and ARM), with GCC-10 and ICC 19.1.1.217 and it is just not happening.

[2021-04-27 03:55] jayeshkrishna commented on #8442
I tried OpenMPI 4.1.1 and it fixes the issues on our cluster! I tried the MPI reproducer on multiple nodes and also tried the E3SM test that was failing with OpenMPI 4.0.4 and both tests pass.

[2021-04-27 04:00] sarats commented on #8442
Great news! Thanks @jayeshkrishna for narrowing down and putting together a small reproducer to get this started. Thanks  to everyone in the OpenMPI team, esp. @bosilca for the hard work in fixing this.

[2021-04-27 06:44] albandil opened #8862 "MPI_Sendrecv_replace needlessly limits message byte-size"
(This problem is version-agnostic, present e.g. in 4.1.0 but also in the current Git.)

The function `MPI_Sendrecv_replace` first creates a temporary contiguous buffer into which it moves the local data for sending and in this way decouples the send-receive operation by sending from that buffer and receiving into the original one.

This requires that the data to be sent are first converted to the

[2021-04-27 08:30] kloczek opened #8863 "4.1.1: test suite is failing in partial unit"
Linux x86_64, gcc 11.0.1, OpenMPI compiled with LTOP optimisation.
Content of the test/datatype/test-suite.log:
[code]
From the config.log file:
`$ ./configure --build=x86_64-redhat-linux-gnu --host=x86_64-redhat-linux-gnu --program-prefix= --disable-dependency-tracking --disable-silent-rules --prefix=/usr --exec-prefix=/usr --bindir=/usr/bin --sbindir=/usr/sbin --sysconfdir=/etc --datadir=/usr/sh

[2021-04-27 09:17] dvdesolve commented on #8856
I want to note that all other tests are passing just well

[2021-04-27 14:00] ggouaillardet commented on #8862
Thanks for the report!

I am not sure I fully understand the solution you suggest.

A potentially simpler option would be (only when needed?) to create an intermediate datatype of contiguous `MPI_PACKED` with the same size as `datatype`, and then `PMPI_Sendrecv(..., count, ..., count)`
An other option on the long run is to wait for the upcoming MPI embiggenment to be implemented, and use these pri

[2021-04-27 14:19] albandil commented on #8862
What I meant is that `MPI_Sendrecv_replace` currently calls `MPI_Sendrecv` (using 32-bit integer API), which calls `mca_pml_whatever_irecv` and `mca_pml_whatever_send` (using 64-bit integer API), so avoiding the constraining intermediate call to `MPI_Sendrecv` and directly calling `..._irecv` and `..._send` from `MPI_Sendrecv_replace` would be one way.

But if `MPI_Type_contiguous` is applicable h

[2021-04-27 14:21] bwbarrett commented on #8862
I'm not sure I agree with the proposed solution, either.  Yes, that would work around the current limitation.  But it would also result in creating a temporary buffer of at least 4 GiB.  That seems like trading one unexpected behavior for another.  A more advanced segmented copy protocol is almost certainly required here if we want to avoid unexpected behavior.

[2021-04-27 14:29] albandil commented on #8862
The huge allocation is already there, if I understand the code correctly: https://github.com/open-mpi/ompi/blob/eba17960f1024ecb7ca63b038bfc0d96a3c984ab/ompi/mpi/c/sendrecv_replace.c#L122

[2021-04-27 14:39] gpaulsen commented on #8863
Thanks for reporting.  This is a duplicate of https://github.com/open-mpi/ompi/issues/8856, so we'll close this, and track it there, however your data will be visible from that issue, and is useful for reproducing / fixing.

[2021-04-27 14:39] #8863 closed

[2021-04-27 14:41] jsquyres commented on #8856
FYI: @kloczek just filed a dup of this (#8863).  The user shared their config line (artificially wrapped here for readability):

[code]

[2021-04-27 14:41] gpaulsen commented on #8856
This was reported with gcc 11 by @kloczek in #8863.  I closed that to track it here.

[2021-04-27 15:02] jsquyres commented on #8854
Thanks for the report!   A fix is coming in #8861 on master, and then we'll bring it back to the release branches.

[2021-04-27 15:02] #8854 closed

[2021-04-27 15:31] gpaulsen commented on #8860
Related to Issue #8850

[2021-04-27 15:44] bangerth commented on #8854
Ha, how fun -- a one-character fix! Thanks for the quick patch, @jsquyres !

[2021-04-27 16:03] awlauria opened #8868 "Formatting changes have mangled some copyright headers"
This should get fixed before the official v5.0 release.

From @devreal , an example is [opal_progress.h](
https://github.com/open-mpi/ompi/blob/4c4d5206fa1369a185cd13ee0db548c475f43c9a/opal/runtime/opal_progress.h).

[2021-04-27 16:05] devreal commented on #8868
Here is an example:

https://github.com/open-mpi/ompi/blob/master/opal/runtime/opal_progress.h

[2021-04-27 17:08] Lip651 opened #8870 "bash: orted: command not found while having correctly defined the environment variables"
## Background information

I am trying to run a C++ program on a cluster of 1 Raspberry Pi 3 and my main computer using MPI. I have for the moment 1 raspberry pi (hostname: slave1) and my computer (hostname: master). Both can communicate without needing any password. I have installed MPI in the exact same way on both devices

### What version of Open MPI are you using?
[code]
### Describe how Open

[2021-04-27 18:32] rhc54 commented on #8870
I can't speak to your path problems. However, when you installed the path in `/etc/environment`, the unpack error could be related to https://github.com/open-mpi/ompi/pull/8867

[2021-04-27 20:39] Lip651 commented on #8870
https://narkive.com/ZcYAATQI.6

This answer actually solved my problem

[2021-04-27 20:43] #8870 closed

[2021-04-27 21:16] bosilca commented on #8862
With the current PML API we can't do anything better than wasting memory and going through the intermediate packed buffer. We could use the partitioned communication API to handle this, it could be interesting.

[2021-04-27 21:35] kloczek commented on #8856
Sorry fo duplicates. I've lost track of that report in my own BTS :/

[2021-04-27 23:40] bosilca commented on #8856
No problem. What really concerns me is my inability to replicate this issue. I tried with the same compiler, same architecture, more or less the same configure flags, but in no case I was able to replicate the issue with the partial test. @jsquyres was going to try directly from the tarball, but otherwise I don't know how I can help more.

[2021-04-28 03:51] ggouaillardet commented on #8862
Thanks @bosilca and @bwbarrett for your feedback.

Given the facts that we already make the huge memory allocation, data can be silently truncated, and I do not see a clear fix happening in a near future (at least for the release branches), I fixed that issue as initially suggested by @albandil

A simple improvement would be **not** to allocate and sendrecv all `count` at once,  but allocate a "re

[2021-04-28 04:07] bosilca commented on #8862
There will be issues with the matching tags and the ordering of communications. You will need to use internal tags to avoid polluting the user tag-space, and then you will need to properly separate them in a non-overlapping ranges (to avoid issues when multiple sendrecv_replace are running in the same time).

[2021-04-28 04:55] ggouaillardet commented on #8862
oh, you mean if one task calls `MPI_Sendrecv_replace()` and the other one simply call something else such as `MPI_Send()` ?

[2021-04-28 05:49] peterrum commented on #8854
Thanks a lot, indeed!

[2021-04-28 06:44] Lip651 commented on #6762
I am having the exact same problem. I also have an ARM and an x86 processor. I have checked, both have the `zlib` library installed. Could you please detail how did you solve this issue ? I mean, how did you do that the zlib would be compiled from both devices ? Did you change something in the ./configure installation ?

[2021-04-28 07:00] ggouaillardet commented on #6762
You only checked `libz` runtime is present for **runtime**. In order to **build** `zlib` support, Open MPI needs the `zlib.h` include file (typically in `/usr/include/zlib.h`). This is likely provided by the `zlib-dev` package, and I suspect it is installed on the x86 nodes, but not on the ARM ones.

[2021-04-28 07:43] Lip651 commented on #6762
Thank you very much for your hint. Indeed, the zlib.h was missing in the ARM device. Nevertheless, I still get the same issue after installing it. I guess the paths are still different and this is still causing an error.

[2021-04-28 07:48] ggouaillardet commented on #6762
After installing this package, you need to re-run `configure && make && make install`

[2021-04-28 08:09] kloczek commented on #8856
I'm usimg exact set of env varaibles to produce LTO ptimised binaries.
Please try to add before above oneliner script below set of env variables:
[code]
Just in case I'm usimg gcc 11.0.1 from Fedorarawhide.

[2021-04-28 12:07] jsquyres commented on #8856
I was unable to replicate from the tarball, too.  😦

My next attempt was going to be to change the code here:

https://github.com/open-mpi/ompi/blob/02b20108456db9ab6dd596ff550e8973d6545a97/test/datatype/partial.c#L138

Instead of checking for `double` equality, I was going to use `memcmp()` and see if the memory contents are exactly the same or not.  We can clearly see in the erroneous output sho

[2021-04-28 12:18] Lip651 commented on #6762
Thank you very much for your help. Really. I got it working in the end. I reinstalled the zlib library and then compiled mpi again and its working now. The error definitely comes from this zlib.h which is for some reason, in Ubuntu server not in `/usr/include`. I had this problem personnally on a raspberry pi 3 with Ubuntu Server 18.04 installed.

[2021-04-28 13:14] Adahai opened #8877 "run MPI_Send and MPI_Recv errors"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Open MPI v4.1.1rc2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from a source/distribution tarball

### If you

[2021-04-28 13:59] bosilca commented on #8877
The MI_Recv is correct, I don't think your application is doing what you think it is doing. Look specifically at getCudaMemory and print the value of the expected GPU memory pointer.

The way you use the & in this function will modify the temporary on the stack and not the variable in the caller. You would need to change the prototype to pass the address to the pointer (via **) instead.

[2021-04-28 18:08] jagunnels opened #8878 "Incompatibility between hwloc (internal) and system hwloc on Ubuntu 20.04 (Arm)"
Thank you for taking the time to submit an issue!

## Background information
In some newer OS installations (e.g. Ubuntu 20.04), the version of hwloc seems to have some incompatibility with the internal hwloc of Open MPI 4.1.1 (2.01).  The particular error we are seeing is related to topology xml generated by hw-info.  When using hwloc-info 2.1.0 on an Amazon m6g.xlarge instance (the same appears

[2021-04-28 18:14] rhc54 commented on #8878
So to be clear: you are generating an XML topology file and then asking OMPI to ingest it instead of discovering the topology on its own? If so, there really isn't anything we can do about it - HWLOC has introduced a backward compatibility break in their v2.1 series. You just need to let OMPI do its own discovery, or build OMPI against the external HWLOC.

[2021-04-28 18:17] jagunnels commented on #8878
Sorry, I left out something quite important.  The issue does not happen with mpirun, only with slurm (srun --mpi=pmix).  We discovered it on a ring test, but it occurs with an MPI "hello world" (i.e. any code you run with slurm).  So, MPI is fed the xml file from slurm.

[2021-04-28 18:28] jsquyres commented on #8856
Color me baffled.  I cannot get it to fail with `!=` or `memcmp()`.  Here's the patch I used (to allow easy switching back and forth between the original `!=` operator usage and `memcmp()`):

[code]

This says to me that any memcpy'ing that the convertor is doing is correct.

@bosilca Is the convertor doing any mathematical operations when copying data around?  (this is a long shot of a question,

[2021-04-28 18:31] bosilca commented on #8856
The convertor is a data mover on all homogeneous scenarios. In heterogeneous cases it might move some bits around (the shrink or expand the mantissa or exponent), but this is not the case in the partial test.

[2021-04-28 18:36] bwbarrett commented on #8878
@rhc54 This is the follow-up of the weird Slurm / Open MPI direct launch issue I had pinged you about on email.  Slurm is built with HWLOC 2.1.0 (because that's what is preinstalled on the system) and Open MPI 4.1 was built with its internal hwloc, and the internal can't parse the xml passed down from Slurm.

I don't think there's a direct ask here yet, other than "anyone have any ideas on what we

[2021-04-28 19:07] jsquyres commented on #8856
@dvdesolve and @kloczek Are you compiling Open MPI with CUDA support, perchance?

[2021-04-28 19:09] dvdesolve commented on #8856
no, no explicit cuda setting is used during configure

73, Viktor

On Wed, Apr 28, 2021, 22:07 Jeff Squyres ***@***.***> wrote:

[2021-04-28 19:16] jrcalciano commented on #4557
In case it helps anyone else, here's how I caused (and then solved) the problem.

First, I caused the problem by changing the target directory (i.e., the --prefix= directory) name after building and installing.
For example, I did:
`./configure --prefix=/opt/my_ompi_dir`
...then built and installed as usual.

Later, I changed the directory name:
`mv /opt/my_ompi_dir /opt/my_great_ompi_dir`
When I t

[2021-04-28 20:19] rhc54 commented on #8878
Sigh - this makes twice that this has happened. I'll provide a separate comment below targeting a long-term solution. Meantime, there are only a couple of options:

1. build OMPI against the external HWLOC so the two match. This assumes that HWLOC didn't change any of the "flags" or functions for parsing the XML string - which wasn't true the last time they changed the format. So it is quite possi

[2021-04-28 20:39] rhc54 commented on #8878
@bgoglin @artpol84 This problem (backward compatibility break in HWLOC topology strings) has bitten us before - and is likely to continue doing so if we don't make some changes. Avoiding these problems really requires that both of you do something in your respective software. I have a couple of suggestions:

HWLOC really needs to provide some method in the XML string by which we can identify a bre

[2021-04-28 21:13] bwbarrett commented on #8878
We're executing option (1), because it's the right packaging thing to do anyway (in this case, we're shipping RPMs or DPKG files, and have no excuse for using internal packages).  And I don't want to have the fight over (2) with our customers :).

[2021-04-28 21:43] bosilca commented on #8862
That's one problematic scenario. Also threaded applications, or the non-blocking version of the call (which I heard is scheduled for MPI 4.0) will have similar issues.

[2021-04-28 22:34] rhc54 commented on #8878
I hear you about the customer fight 😄

I checked the HWLOC versions and it appears that we can still use the same flags and API for parsing the XML string - we just need to know that it is coming from a version that is potentially incompatible (e.g., it was generated by v2.1.0 and we have v2.0.1 or v1.11.x). Unfortunately, I'm not sure we have a way to detect this right now, minus the changes I pr

[2021-04-28 22:56] rhc54 commented on #8878
See #8880 and #8881

[2021-04-29 01:06] jsquyres commented on #8856
@dvdesolve @kloczek Could you try applying this patch manually to the `test/datatype/partial.c` file and see if it fixes the problem for you:

[code]

[2021-04-29 03:26] kloczek commented on #8856
Just tested that patch and Looks like it solves test suite issue :)

Thx.

[2021-04-29 05:54] bosilca commented on #8856
Good catch for the memset call. However, the patch makes no sense as a solution to the issue because the test should not care how the original target array was initialized as it only looks at the memory locations where data has been unpacked. And at these locations (and only at these locations) the original content set by memset should have been overwritten by the convertor unpack operation.

[2021-04-29 10:21] kloczek opened #8883 "4.1.1: compile time warnings"
Below is  summary information about compiler warnings using gcc 11.0.1 and LTO:
[code]
Most important are `-Wlto-type-mismatch` warmings because even one warming during linking is causing that LTO is not used.
Full stderr output with autogen.sh output when autoconf 2.71 is used is in attachment. Later will try to submit some patch for those autoconf warnings which will be backward compatible with

[2021-04-29 10:59] AboorvaDevarajan opened #8884 "cuda: libmpi.so.0 links libcuda.so which causes link issues when cuda is not installed"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
`ompi - master`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

`git clone `

### If you are building/installing from a git clone, please copy-n-paste the output from

[2021-04-29 13:56] snyjm-18 commented on #6762
I am glad you figured it out. I realize now I never posted what I did to fix the issue. I just configured without zlib.

[2021-04-29 15:11] bwbarrett commented on #8884
@ggouaillardet it looks like ROMIO has a different CUDA detection behavior than Open MPI.  We'll need to account for this in our wrapper to ROMIO's configure script.

[2021-04-29 21:28] jsquyres commented on #8856
@dvdesolve @kloczek George and I spent a long time on the phone about this issue this afternoon.  😄   We're honestly still not sure what is going on here, and we're still not able to replicate the issue.  The fact that my patch above resolved the issue for @kloczek is... weird.  It shouldn't. ☹️  I suggested the patch just to get another datapoint from you -- I didn't expect it to make it work for

[2021-04-29 22:12] ealemany opened #8893 "ORTE does not know how to route a message to the specified daemon located on the indicated node"
## Background information
OS: CentOS7
Scheduler: Moab/Torque

1 headnode
15 nodes (14 nodes with 12cores Multithreaded, 1 node with 64cores multithreaded)

All users /home directories on headnode are shared (NFS)  to all users /home directories on the nodes.

### What version of Open MPI are you using?
OpenMPI-4.1.0

### Describe how Open MPI was installed
From a source/distribution tarball. OpenM

[2021-04-30 00:19] #8858 closed

[2021-04-30 01:11] rhc54 commented on #8893
Try adding `--mca plm_base_verbose 5` to your mpirun cmd line. It will show you what is going on when starting the daemons and hopefully give some idea of why you are hanging. It sounds like your TCP stack doesn't know how to send a message from `phaser-manager` to `radonc-phaser02`.

[2021-04-30 01:21] ealemany commented on #8893
Thank you @rhc54 for looking into this issue.

This is the result of the command you suggested. I do not know what to make of it but the output hanged again and i had to do Ctrl+Z

[code]

[2021-04-30 01:25] rhc54 commented on #8893
Hmmm...ok, the problem is that ssh doesn't know how to start a proc on your compute nodes. Try debugging `ssh radonc-phaser02 hostname` - if you can get that to work, you will probably be able to run `mpirun`. Could be a host resolution problem, a firewall in the way, needing a password, etc.

[2021-04-30 01:35] ealemany commented on #8893
Interesting! indeed it asked for a password.
[code]
interestingly enough I ran the command to ssh to several nodes and most of them asked for a password.
I am confused as I though that since all the users' /home directories are shared (NFS) on all compute nodes there was no need for password-less ssh.
I am also not sure how to configure password-less ssh on a cluster sharing users' /home directori

[2021-04-30 04:03] ggouaillardet commented on #8862
@albandil The fix has landed into the `master` branch, and I issued PR (yet to be reviewed and merged) for the release branches.

Can you please give it a try?

[2021-04-30 04:17] rhc54 commented on #8893
I'm not sure how you would do it blanket for everyone. We usually just have individual users set it up for themselves. Basically, you need to add the ssh key for each node to your .ssh/authorized_keys file in your home directory.

[2021-04-30 05:42] albandil commented on #8862
Yes, it works well. I can confirm that with the updated code I am now able to perform large diagonalizations with [ELPA](https://elpa.mpcdf.mpg.de/), which lead me to this issue. It can be closed. Many thanks for the quick fix!

[2021-04-30 12:43] #8677 closed

[2021-04-30 15:40] ealemany commented on #8893
Each user on the headnode has its own login directories shared on all the nodes. My initial thought (which apparently is wrong) is since users logging directories are shared among the nodes and the OpenMPI directory is also shared among all nodes and the OpenMPI path is the same for all users there was no need to establish passwordless ssh connections.
I see what you are saying that I need to add

[2021-04-30 17:39] hppritcha opened #8905 "Numerous IBM test failures using OFI MTL"
Looks like PR #8536 broke the OFI MTL, at least in a non-cuda environment.  Numerous IBM tests failed after this PR was merged into master:

FAIL: allgather_gap_inter
FAIL: allreduce_nocommute_gap_inter
FAIL: reduce_scatter_nocommute_gap_inter
FAIL: reduce_scatter_block_nocommute_gap_inter
FAIL: iallgather_gap_inter
FAIL: iallgatherv_gap_inter
FAIL: iallreduce_nocommute_gap_inter
FAIL: igather_gap

[2021-04-30 18:03] hppritcha commented on #6236
closing.  we're long past 3.1.x releases.

[2021-04-30 18:03] #6236 closed

[2021-04-30 18:04] hppritcha commented on #2605
closing.

[2021-04-30 18:04] #2605 closed

[2021-04-30 18:25] awlauria commented on #8732
Closing as #8899 has been merged.

[2021-04-30 18:25] #8732 closed

[2021-04-30 19:06] geligeli commented on #7246
Is there a suggested workaround for this? Or will alltoall just not be supported with many ranks over tcp?

[2021-04-30 19:55] bosilca commented on #7246
Keep in mind what you are trying to do, an all-to-all with multiple processes per node. Due to the communication pattern, each of the processes will try to create a connection with each other process (minus the ones on the local node but let's ignore this for now), and this connection establishment will requires a port. So if you have c processes per node on a job of p processes, this will require

[2021-05-01 06:04] geligeli commented on #7246
What I don't get is that in my case, MPI_alltoall() with a single MPI_INT sent from each rank to each rank works fine (sending sizes of data about to be sent). But when I actually send the payload with MPI_alltoallv then I hit the port exhaustion issue. Why would alltoall work?

[2021-05-01 06:29] ggouaillardet commented on #7246
@geligeli by default, collectives are provided by the `coll/tuned` component.
Under the hood, it selects the fastest algorithm based on communicator and message size.

In your case, I suggest you manually force the `bruck` algorithm.
This is not the fastest algorithms, but it requires less connections so
 - you will not reach the limit
 - even if you could push that limit, less connections means a

[2021-05-01 08:53] dalcinl opened #8907 "mpi4py: Regression in MPI_Sendrecv_replace"
While I'm still waiting for Open MPI to pass the full mpi4py testsuite and hand things over to @jsquyres, a new regression showed up in `MPI_Sendrecv_replace`:

https://github.com/mpi4py/mpi4py-testing/runs/2476248326?check_suite_focus=true

The reproducer is fairly trivial:

[code]

[code]

[2021-05-01 10:14] jsquyres commented on #8856
It looks like the patch I posted above was for master, not v4.1 -- sorry about that.  Here's better patches:

* Master: [partial-ddt-master.patch.txt](https://github.com/open-mpi/ompi/files/6409356/partial-ddt-master.patch.txt)
* v4.1.x: [partial-ddt-v4.1.x.patch.txt](https://github.com/open-mpi/ompi/files/6409357/partial-ddt-v4.1.x.patch.txt)

And here's a linked to an already-patched v4.1.x tarb

[2021-05-01 14:19] Adahai commented on #8877
thank you very much, it works After fixing an error **!

[2021-05-01 14:19] #8877 closed

[2021-05-02 07:39] SpinTensor opened #8909 "Error in MPI_Sendrecv_replace"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using?
Git branch master. Commit hash=9f74df98a1e7d2f774c1303457fdea36d44a7917

### Describe how Open MPI was installed:
Cloned the Git-repo and installed with
`./autogen.pl`
`../ompi_src/configure --prefix=/home/fuhl/software/ompi/ --enable-mpi-fortran --disable-man-pages`

### If yo

[2021-05-02 08:39] mathrack commented on #8763
Hello, is there any chance that the present issue will be tagged so that :
- It is recognized as a bug in the fortran layer
- Users have more visibility if solving this bug is planned for a given release

Thanks

[2021-05-02 08:57] ggouaillardet commented on #8909
Duplicate of #8907

Fix is in #8908

[2021-05-02 08:58] SpinTensor commented on #8909
Sorry, I didn't find it when I was looking for a duplicate. Thanks.

[2021-05-02 08:58] #8909 closed

[2021-05-02 12:21] jsquyres commented on #8763
@mathrack Yes, this was definitely missed because it was not tagged / milestoned.  😦

@ggouaillardet The MPI spec mandates that for an `mpi_f08` module handle, the `MPI_VAL` inside must also be able to be used as the handle to the same underlying object with the `mpif.h` and `mpi` module interfaces.  That's why it's implemented that way.  We didn't use pointers for the `mpif.h`/`mpi` module handle

[2021-05-02 12:31] ggouaillardet commented on #8763
@jsquyres thanks for the insight!

I also think the bug has always been there :-(
I will try to implement a fix, but no ETA at this stage.

[2021-05-02 12:41] jsquyres commented on #8763
FYI @bosilca: Got any brilliant ideas on how to solve this one?

[2021-05-02 12:48] ggouaillardet commented on #8763
@jsquyres my main concern is how to implement this correctly and efficiently.

from `ompi_request_t`, we have
[code]

I am afraid that if we use `req_complete_cb` **after** `PMPI_Ialltoallw()` returns, a race condition can occur (if the request completes asynchronously for example).

An other option would be to add a `void * req_free_cb_data` (that would break the internal ABI, not sure about the

[2021-05-03 13:47] devreal commented on #8771
@bwbarrett The CURL options do appear in the `config/auto-generated-ompi-exclude.ini` file. I tried removing the file and re-running the autogen.pl script but they reappeared. What is causing these options to be added there?

[code]

[2021-05-03 15:24] #8868 closed

[2021-05-03 16:15] jjhursey commented on #8771
I see the issue: `./opal/mca/pmix/pmix4x/`
That directory doesn't exist on [`master`](https://github.com/open-mpi/ompi/tree/master/opal/mca/pmix) or `v5.0` as it was replaced by the [`3rd-party`](https://github.com/open-mpi/ompi/tree/master/3rd-party) mechanism.

If you do a `git clean -d -f` that'll clean out everything that is not in git (beware if you have any local changes). Then try re-runnin

[2021-05-03 17:05] tkordenbrock opened #8914 "portals4: fix header ordering and blocking"
After running clang-format in #8647 and #8816, the portals4.h header was moved after the Portals4 component includes which caused compilation failures. The headers need to be reordred and portals4.h should be in its own header block before the Portals4 component headers.  Putting portals4.h in it's own header block will prevent it from being moved after the component headers.

[2021-05-03 19:05] jsquyres commented on #8856
@dvdesolve @kloczek Any chance you guys could try to replicate the problem with the patch I sent above (or the patched tarball)?  We're kinda in a bind here, because none of us here in the Open MPI community can replicate the issue.  ☹️

[2021-05-03 20:35] dvdesolve commented on #8856
sorry, I will try in a couple of days. can't get access to my lab pc right
now...

73, Viktor

On Mon, May 3, 2021, 22:05 Jeff Squyres ***@***.***> wrote:

[2021-05-04 00:52] zhngaj opened #8916 "ompi_coll_base_alltoallv_intra_basic_linear can return success even if ompi_request_wait_all returns MPI_ERR_IN_STATUS"
* Open MPI version:
Open MPI v4.1.1rc4 from https://download.open-mpi.org/release/open-mpi/v4.1/openmpi-4.1.1rc4.tar.bz2.

* Building command:
./configure --prefix=/fsx/openmpi-4.1.1rc4/install --with-sge --without-verbs --disable-builtin-atomics --with-libfabric=/fsx/libfabric/install --enable-debug

* Operating system/version: Amazon Linux 2
* Network type: EFA

* Problem:

In function `ompi_col

[2021-05-04 07:11] dalcinl opened #8918 "Pack/Unpack external32 with long double still broken"
@gpaulsen This is a followup on #8769. Pack/Unpack external32 with `long double` is still broken.

I'm using a very recent `ompi:master` at 17b723b.  The test from this [gist](https://gist.github.com/markalle/ad7e69f026471e2baa8e842c938d8048) (thanks @markalle) is failing on my Fedora 34 workstation.

[code]

[2021-05-04 10:47] jsquyres commented on #8763
@ggouaillardet Here's an idea: make it like `MPI_Comm_create_errhandler`.

Specifically: instead of having the mpif.h binding invoke `PMPI_Ialltoallw()`, have both the C and Fortran bindings invoke a separate/new `ompi_ialltoallw()` back-end function.  This function does everything that `PMPI_Ialltoallw()` used to do, but it also takes two additional arguments: the sendtypes and recvtypes arrays t

[2021-05-04 11:48] geligeli commented on #7246
So i looked and it seems MPI_alltoallv only supports `basic linear` and `pairwise` as algorithms

(ompi_info --param coll tuned -l 9 | grep alltoallv)

Now i tried several things to limit the number of concurrent connections:

a) Staggered alltoallv where for each invocation only a subset of ranks take part in the alltoallv.
b) Manual implementation for alltoall by doing several MPI_isend / MPI_re

[2021-05-04 13:33] awlauria commented on #4557
@jrcalciano with your steps I can reproduce on v4.0.x with orted.

On v5.0.x I can't exactly reproduce with prrte, however I no longer get any output from mpirun:

[code]

[2021-05-04 13:46] rhc54 commented on #4557
IIRC, that is correct - you cannot just "move" the directory. There are portions of the system (e.g., the `installdirs`) that are hardwired by configure. Moving the installation therefore breaks all kinds of things. IIRC, you _can_ move things, but you then have to set something like `OPAL_DESTDIR` to help the system. Given we now have independent package installs on v5.0, you'd probably have to d

[2021-05-04 13:54] bosilca commented on #7246
Connections are opened because processes need to communicate, for as long as you keep the same communication pattern (Alltoall with variable sizes) there is nothing you can do to reduce the number of needed connections. Moreover, once a connection is opened we keep it up until MPI_Finalize, so there is no recycling of the ports.

The only potential solution I see come from your setup and/or applic

[2021-05-04 14:28] devreal commented on #8771
@jjhursey Thanks, I purged the directory `./opal/mca/pmix/pmix4x/` and the warning is gone :+1: Closing.

[2021-05-04 14:28] #8771 closed

[2021-05-04 14:36] jsquyres commented on #8764
@mwheinz Did this get resolved?

[2021-05-04 14:39] jsquyres opened #8919 "NVIDIA 'nvfortran' cannot link libmpi_usempif08.la"
As reported on https://www.mail-archive.com/devel@lists.open-mpi.org/msg21283.html, Paul Kapinos is unable to build 4.0.x or 4.1.x with the NVIDIA `nvfortran` compiler (from https://developer.nvidia.com/hpc-compilers).

[code]

[2021-05-04 14:50] dvdesolve commented on #8856
Seems like the issue is gone. Here is the results for verbose `partial` test:
[code]

[2021-05-04 14:55] jsquyres commented on #8856
Well... fudge.  That's not good, either.  :frowning:

Can you try to re-create the issue with the original source code, perchance?

[2021-05-04 15:16] mwheinz commented on #8764
I am not able to verify that right now - our entire lab is currently traveling down the highway in the back of a truck.

[2021-05-04 15:33] hppritcha commented on #8905
noticed the CUDA cm pml changes were pushed back to 4.1.x so add that label too.

[2021-05-04 16:35] bosilca commented on #8856
I was concerned that turning on the debug messages will force the compiler to apply a different sert of LTO optimizations, because with the debug enabled the pointers we are manipulating are explicitly used by other functions.

[2021-05-04 17:04] dvdesolve commented on #8856
No, without the patch I still observe error:
[code]

[2021-05-04 17:07] markalle commented on #8918
For me the ppc build works from master, but I assume that's because my build isn't using opal_dt_swap_long_double() and yours is probably taking the x86 path?  So mine is just swapping the bytes without any extra ieee struct related to conversion

I'm not really familiar with what the opal_dt_swap_long_double() routine is doing, but at a glance I can say at a minimum I'm super suspicious of MEMCPY

[2021-05-04 17:10] markalle commented on #8918
For me the ppc build works from master, but I assume that's because my build isn't using opal_dt_swap_long_double() and yours is probably taking the x86 path? So mine is just swapping the bytes without any extra ieee struct related to conversion

I'm not really familiar with what the opal_dt_swap_long_double() routine is doing.  Are you x86?

[2021-05-04 17:19] hppritcha commented on #8905
well turns out the mod that broke master and v5.0.x isn't in 4.1.x so removing that label.

[2021-05-04 17:34] hppritcha commented on #8381
turns out we want this in the 4.1.x release branch too.

[2021-05-04 17:35] bwbarrett commented on #8856
@dvdesolve what version of GCC9 are you using, and how did you install it?  I'm using an Arch Linux AMI in EC2 on a Haswell Xeon machine and can't duplicate with the default GCC11 and your other options.  Trying to figure out what other variables I can try to eliminate.

[2021-05-04 17:37] dvdesolve commented on #8856
I'm using GCC9 from AUR. This package was moved from official repositories to the User repository without any changes

[2021-05-04 17:40] dvdesolve commented on #8856
If that would help, Arch is using these flags by default when building packages with `makepkg`:
[code]

[2021-05-04 18:01] dalcinl commented on #8918
Yes.

[2021-05-04 18:11] carlocab commented on #8306
Hi there, Homebrew maintainer here. I happened to chance upon this thread and recalled we had been building Open MPI with `--enable-mca-no-build=op-avx` since 4.1.0. I've removed the flag now.

Thanks for your work on this and apologies for the headaches our somewhat peculiar build system caused you.

[2021-05-04 18:13] jsquyres commented on #8856
@dvdesolve Thank you for your patience; we really are shooting in the dark here.  ☹️

Ok, what if we do this:

1. Revert the patch I sent you
2. Re-apply *just the `partial.c` part of the patch*.  I.e., **don't** apply the `opal/datatype/opal_datatype_module.c` and `opal/datatype/opal_datatype_unpack.c` parts of the patch.

That should leave the core datatype engine in its original state, but we s

[2021-05-04 18:16] jsquyres commented on #8306
Woo hoo!

No worries -- it was a legit bug.  Sorry for the hassle!

[2021-05-04 20:07] dvdesolve commented on #8856
Interesting enough, applying just a `partial.c` chunk of patch makes the issue goes away. Seems like it's really related to the compiler/linker optimizations... Debug output:
[code]

[2021-05-04 20:09] dvdesolve commented on #8856
Oh, I haven't noticed that comparison is still not equals to the true zero...

[2021-05-04 20:16] dvdesolve commented on #8856
Rechecked with GCC 10.2.0 with default Arch flags, the problem in still here (numbers are a bit different than with GCC 9.3.0, though):
[code]

[2021-05-04 20:23] jsquyres commented on #8856
I'm a little confused:

So what patch did you apply to make the problem occur, but still get the debug output that you showed above?  (that output *seems* to be exactly what we need...)

FWIW: 3.72097e-294 is apparently the `double` value when the 8 bytes are `03 03 03 03  03 03 03 03`.  It's basically just a sentinel value meaning that `opal_convertor_unpack() hasn't written to that location yet.

[2021-05-04 20:27] dvdesolve commented on #8856
The problem occurs with GCC 9 and 10 without applying any patches - `make check` stage just fails and complains about `partial` test. I've tried [your patch for 4.1.1 branch](https://github.com/open-mpi/ompi/files/6409357/partial-ddt-v4.1.x.patch.txt) and the one based on it but with hunks for `partial.c` only. Both variants lead to the successfull `make check` stage but running `partial` test alo

[2021-05-04 20:34] jsquyres commented on #8856
Oh that's just plain weird.  Everything about this bug is just damn weird! 👿

@bosilca and I will investigate the output you sent...

[2021-05-04 20:40] dvdesolve commented on #8856
I'm just plugging patches in existing `PKGBUILD` so no mistake should occur. I'm even rechecking that by manually re-compiling and re-running partial test.

[2021-05-04 20:43] jsquyres commented on #8856
Your output seems to confirm *what* is happening (the `4 5` should be swapped with `<3.72097e-294>   3.72097e-294`).  The part we have to figure out is: a) why is this happening *at all*, and b) why is this *only happening sometimes*?

Working on it...

[2021-05-04 20:44] dvdesolve commented on #8856
thank you for your time!

[2021-05-04 21:01] bosilca commented on #8856
We are looking at a vector type (3, 2, 4, DOUBLE): aka 3 times 2 doubles every 4 doubles. Thus, on the output we should see a similar pattern (2 doubles per line in the output), something \n 03 03 03 03   03 03 03 03   03 03 03 03   03 03 03 03. Clearly this is not what we are seeing, as indicated on the annotated output below.

[code]
More interesting, the first BAD line is generated on 2 passes,

[2021-05-05 02:21] ggouaillardet commented on #8918
IIRC, a long time ago in a galaxy far far away, I worked on this in the context of heterogenous clusters, when communicating `MPI_LONG_DOUBLE` between x86 and sparc.

The same routine is used by `MPI_Pack_external()` and `MPI_Unpack_external()`, so the implicit expectation is that we have a symmetric (e.g. `f(f(a) == a`) function, but that is not the case.

I also noted MPICH does a different pack

[2021-05-05 03:06] gpaulsen opened #8925 "MPI apps hang when prrte daemon aborts"
From @rhc54: It appears that on master and v5.0.x, MPI apps can no longer "suicide" when their local daemon aborts - PMIx generates the event indicating connection was lost, but the MPI errhandlers "block" and don't let the process actually abort. As a result, I'm getting reports of mpirun leaving lots of orphans laying around when someone rapidly hits us with "ctrl-c" after "ctrl-c" since we just

[2021-05-05 03:15] gpaulsen commented on #8925
This looks similar to https://github.com/openpmix/prrte/issues/953, but I doubt they're the same ( I don't know PMIx events well enough)

[2021-05-05 04:08] bosilca commented on #8763
As the number of non blocking API increases we need a bulletproof solution for all our frameworks/components/modules.
1. The info key, while nice, is not a practical solution, because MPI_Request does not have info keys, and adding it would increase the cost of handling the requests.
2. Changing the completion callback is also not a right approach, because the completion callback is there to allow

[2021-05-05 07:25] dalcinl commented on #8918
@ggouaillardet According to the MPI standard, the proper way to pack `MPI_LONG_DOUBLE` is to store values as big-endian quadruple-precision IEEE floating point (binary128, corresponding to GCC's `__float128` type). This is defined in MPI-3.1 Sec. 13.5.2 pp. 538, cf with [binary128 IEEE format](https://en.wikipedia.org/wiki/Quadruple-precision_floating-point_format#IEEE_754_quadruple-precision_bina

[2021-05-05 08:35] devreal opened #8927 "Question on thread-safety in pml/ucx progress"
While digging through the code in pml/ucx in current master, I stumbled across the progress function and noticed that it does not prevent multiple threads from progressing the pml's ucp_worker concurrently: https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/ucx/pml_ucx.c#L519

This might be problematic because UCX barks if progress is called concurrently on the same worker:
https://github.c

[2021-05-05 08:38] yosefe commented on #8927
please note https://github.com/openucx/ucx/blob/e64f087bdfca38ee920a6eb252b44df985af63c2/src/ucp/core/ucp_worker.c#L2519 which makes `ucp_worker_progress()` thread-safe (when enabled explicitly during worker create)

[2021-05-05 09:09] devreal commented on #8927
Thanks @yosefe, I didn't see that `UCP_PARAM_FIELD_MT_WORKERS_SHARED` was set. I've been running into this issue on the opal wpool implementation, where this flag is not set...

[2021-05-05 09:09] #8927 closed

[2021-05-05 14:42] mwheinz opened #8928 "Open MPI OFI transport does not support all OFI transports"
So,

Basically, OFI has two differently sized versions of "contexts" - which are blocks of opaque data that are handed to the calling application and which are used by OFI to manage various operations. The original, FI_CONTEXT is 32 bytes long, but some OFI providers use the newer FI_CONTEXT2 structure, which is 64 bits long. (For example, the IBM Blue Gene provider.)

While Blue Gene is an edge c

[2021-05-05 14:43] mwheinz commented on #8928
Fortunately, this is the proverbial "one line patch". ;-)

[2021-05-05 16:45] rhc54 commented on #8925
No, that issue has nothing to do with this problem.

[2021-05-05 17:00] markalle commented on #8918
I agree with a caveat about I'm not sure if __float128 gets us enough portablity (eg it worked from from my x86 linux machine but my mac didn't seem to have quadmath.h).  But as far as functionality if I store the data "123" as a long double then as a __float128, the bits come out as you described, for example:

[code]

So above is really just long winded say of saying/confirming that long double

[2021-05-05 19:29] acgoldma commented on #8051
I see this issue in 4.0.5 and 4.1.0. Can we backport this as well to v4.1.x?

[2021-05-05 22:08] ealemany commented on #8893
I was able to configure password-less SSH connection between the headnodes and all the nodes.
mpirun is running well.

Thank you

[2021-05-05 22:24] ealemany opened #8932 "AVX instructions are not supported by this CPU"
## Background information
OS: CentOS7
Scheduler: Moab/Torque

1 headnode
15 nodes (14 nodes with 12cores Multithreaded, 1 node with 64cores multithreaded)

All users /home directories on headnode are shared (NFS)  to all users /home directories on the nodes.

### What version of Open MPI are you using?
OpenMPI-4.1.0

### Describe how Open MPI was installed
From a source/distribution tarball. OpenM

[2021-05-05 22:37] #8893 closed

[2021-05-05 23:33] ggouaillardet commented on #8932
There is a known issue in Open MPI 4.1.0 with the `op/avx` component.

A workaround is to
[code]

But the right fix is to upgrade to Open MPI 4.1.1

[2021-05-06 00:28] ealemany commented on #8932
Thank you @ggouaillardet

I tried
[code]
[code]
without the  ^  and it did not work.

Is there another work around by any chance ?

I guess I should upgrade to OpenMPI 4.1.1 but that will take me a while.

Thanks

[2021-05-06 00:37] jsquyres commented on #8932
The `^` means "not" to Open MPI.  I.e., "mpirun without the 'avx' op component".

You may need to quote the `^` in your shell, because `^` might be interpreted by your shell.  E.g.:

[code]

[2021-05-06 00:58] ealemany commented on #8932
Sorry Gentlemen :(

[code]
did not work either. I guess I will have to upgrade to 4.1.1.  I hope it will work after the upgrade.

[2021-05-06 01:10] jsquyres commented on #8932
Can you be a little more specific than "did not work"...?

[2021-05-06 01:27] ealemany commented on #8932
Sorry about that.

What I meant was that the work around you proposed gave the same error message as before

[code]

[2021-05-06 02:01] ggouaillardet commented on #8932
Are you sure the error message comes from Open MPI itself (and not your application) ?

[2021-05-06 02:13] bosilca commented on #8932
I can't find this error message anywhere in the 4.1 source code. You are starting 4 processes, if OMPI was printing this error message you should have gotten only 4 of them, and not 5 as in your case.

[2021-05-06 02:27] ealemany commented on #8932
It is a software we are testing in our environment. It is quite probable the error messages come from the software. At first, I thought it was maybe an OpenMPI issue and i was looking for a solution.

I let the software engineer know about this issue. Hopefully, I will hear from him soon.

@bosilca That was mistake in editing the error message - sorry. I did try to start 4 processes and got 4 erro

[2021-05-06 04:30] bosilca commented on #8932
Let's do a simple test. Run the hello_world example (in the test directory) to see if you get the same error message. Then we will know how to move forward.

[2021-05-06 07:11] markalle commented on #8918
I made a couple routines to test with that convert both directions at least for the basic cases.  I don't actually understand the two special exponents that describe subnormal numbers and the various NaNs, although I think the 80 bit extended precision and 128 bit quad precision use the same special exponents so a conversion like this gist that doesn't have special cases for the special exponents

[2021-05-06 13:14] dalcinl commented on #8918
@markalle Here you have my own version of these routines, not including any byte swapping as that part is trivial.

https://gist.github.com/dalcinl/05cccf7b11cdf169a750485f67b499b7

BTW, I don't think your routines are correct, the explicit vs. implicit significand bit requires care, although I may be wrong. The `float128 -> long double path` may not be totally correct for arbitrary values, but at

[2021-05-06 13:27] awlauria commented on #8746
#8902 merged. Closing.

[2021-05-06 13:27] #8746 closed

[2021-05-06 17:47] zhngaj commented on #8916
Since #8933 is merged, close this issue.

[2021-05-06 17:47] #8916 closed

[2021-05-06 18:47] #8762 closed

[2021-05-06 20:04] bosilca commented on #8916
I am really curious in which context you encountered this issue ?

[2021-05-06 20:14] markalle commented on #8918
I do see one difference between your code and mine for decoding a stored float128: if e==0 you're turning off the highest bit of the mantissa, where mine universally turned it on.

For the rest I think we're doing the same operations, except I did all mine with characters because unsigned gets really confusing to me for mixing endianness.  In particular I'm concerned that your code might be relyin

[2021-05-06 20:21] bwbarrett commented on #8916
We had a bug in our Libfabric provider where sends were failing in very specific scenarios, like all to all collectives.  They looked like hangs, because we were returning MPI_SUCCESS instead of the error from the PML, as the error from the collective and therefore not aborting.

[2021-05-06 22:43] ealemany commented on #8932
I ran $ mpirun --hostfile /opt/hostfile -np 20 /opt/openmpi-4.1.0/examples/hello_c

I was expecting to see 12 lines with radonc-phaser01 (12-cores)  and  8 lines with radonc-phaser02 (12cores)

[code]
Also  "ring"

[code]
 and "hostname"

[code]

[2021-05-06 23:29] jsquyres commented on #8932
This seems to imply that the AVX error message is coming from your app -- not from Open MPI.

[2021-05-06 23:35] ealemany commented on #8932
Thank you @jsquyres. I will work with the software engineer of the software then.

Am I right in my assumption that when I ran
[code]

I would expect to see 12 lines with radonc-phaser01 (12-cores) and 8 lines with radonc-phaser02 (12cores)?

instead i see "root@phaser-manager.stanford.edu" 20 times

[code]

[2021-05-06 23:43] rhc54 commented on #8932
Your assumption is incorrect - the report cites who installed the package and where the package was installed.

[2021-05-06 23:44] ggouaillardet commented on #8932
and `mpirun hostname` clearly shows 12 tasks on node 1 and 8 tasks on node 2.

[2021-05-06 23:48] ealemany commented on #8932
Great then. I guess I am all set.

Thank you for your feedback and comments.

[2021-05-07 08:34] vasvir commented on #8596
I also have this problem.

Debian unstable.

[code]

I get this:

[code]

I am compiling debian packages from source now in order to investigate.

If you have any ideas I would be grateful to hear them.

[2021-05-07 10:41] #8932 closed

[2021-05-07 14:12] dalcinl commented on #8918
@markalle I do not really care what version is ultimately used. However, I warn you about about the handling of explicit vs. hidden bit. Your testing with value `123` is perhaps not enough. Even if the processor can handle pseudo denormals, turning the highest bit of the mantisa on unconditionally is kind of ackward for the special case of converting a (positive) zero value, the bit pattern you ge

[2021-05-07 14:26] vasvir commented on #8596
This is also a reported bug in Debian https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=984956

I think I made some headway and I think it is a Debian specific problem so I am reporting my findings there.

[2021-05-07 18:44] athota commented on #7246
I have been following this thread and tried the UCX suggestion; without any customization, with UCX, the alltoall run fails at message sizes above 65536. I also noticed that the run is 10X slower compared to a standard OpenMPI without UCX.

Limiting the UCX run to just one specific interface (the fastest available), the run fails at message sizes above 256 again.

Some more background: we are hitt

[2021-05-07 19:03] bosilca commented on #7246
Setting apart the issue with UCX, are you saying that with MVAPICH you do not have the issue with the number of ports ? This is really curious.

[2021-05-07 19:18] athota commented on #7246
That is right, standard MVAPICH build with osu_alltoall. The MVAPICH job is still running though, successful up to message size 524288 and no errors so far.

[2021-05-07 19:55] bosilca commented on #7246
That is interesting. I revisited the entire discussion again, and something does not look right to me. If the issue was really the lack of ports, it should not have worked for any size, but your original message somehow implies that it worked for messages below 256 bytes. Is that true ?

Have you tried to restrict the number of interfaces used by Open MPI (using --mca btl_tcp_if_include eth0, or C

[2021-05-07 20:17] athota commented on #7246
That is true, the alltoall run works for messages up to 256 with standard OpenMPI. And up to message sizes 65536 with OpenMPI+UCX. So message sizes 1, 2, 4, 8, ... 256 all work, 512 fails.

I tried restricting OpenMPI to a single interface( the fastest available), that did not help. The openmpi-mca-params.conf file had this one line that is not commented out when this was tried:
btl_tcp_if_exclude

[2021-05-07 20:56] bosilca commented on #7246
Can you leave just one interface in there. You don't need lo, as OMPI will use shared memory for intranode communications. Thus, you need to set the BTL appropriately, --mca BTL tcp,self,vader (or tcp,self,sm depending on the version you are testing with).

[2021-05-08 02:23] njchoi opened #8938 "mpi4py spawn fails in multi-node environment with Mellanox adapters"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI 4.0.4rc3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From source,

[code]

### Please describe the system on which you are running

* Operating system/ve

[2021-05-08 09:32] ggouaillardet commented on #8918
@bosilca could you please give us some insights?

There are two sub-issues here:
 - how to convert a 80 bits quad precision to a 128 bits quad precision (that should be the easy part)
 - how to "plug" this subroutine in the datatype engine. Currently, all conversions are symmetric functions (e.g. byte swap),
   but in that case, the conversion is no more symmetric and I do not see how the datatype

[2021-05-09 16:52] wfdoran opened #8939 "MPI_Neighbor_allgather hang with reorderd Dist Graph"
Thank you for taking the time to submit an issue!

## Background information

In example on https://riptutorial.com/mpi/example/29195/graph-topology-creation-and-communication, the call
to `MPI_Neighbor_allgather` hangs using a dist graph with reorder.  Note: if you set reorder to 0, works fine.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4

[2021-05-10 07:34] markalle commented on #8918
I made a PR using a lightly modified version of your f80 pack/unpack.

By adding a little more context added to pFunction's arguments we I sidesteped my concern, about @dalcinl's function by ordering his function so it's always operating on data in the local-arch format, so sometimes it does opal_dt_swap_bytes first followed by opal_dt_swap_long_double and sometimes vice-versa

https://github.com/

[2021-05-10 15:30] jsquyres commented on #8938
@open-mpi/ucx Can you comment?

[2021-05-10 18:40] athota commented on #7246
I think that is what I tried to do, with "btl_tcp_if_exclude = lo,eno0,eno1" I am excluding lo, eno0, eno1 right? That leaves just enp33s0, which is what we want to use. Or am I missing something?

Also, specifying "--mca BTL tcp,self,vader" on the command line did not change anything.

The MVAPICH job completed successfully btw, all the way up to a message size of 1048576.

[2021-05-10 18:46] hppritcha commented on #8467
I'd suggest unloading all the HPE/Cray programming env modules you don't need.  In particular, unless you need rocm support, unload it.  You also will want to unload the cray-libsci.  To avoid additional trouble use the -hnopattern flag for the fortran compiler and -fno-cray for the C/C++ flags.

@awlauria the cray programming env doesn't use flang for fortran.

[2021-05-10 18:47] hppritcha commented on #8467
oh sorry, just noticed that you're trying to use the AMD backend compilers.  Never mind my suggestions then.

[2021-05-10 19:46] jsquyres commented on #8467
Are there unreleased upstream changes in Libtool for AOCC?

[2021-05-10 20:15] jsquyres commented on #8856
@kloczek Were you able to replicate the issue from the patch I posted above (https://github.com/open-mpi/ompi/issues/8856#issuecomment-830605868)?  We're still unable to replicate the issue.

[2021-05-10 20:19] kloczek commented on #8856
You mean https://github.com/open-mpi/ompi/pull/8852?
One sec :)

[2021-05-10 20:48] jsquyres commented on #8856
@dvdesolve It just occurs to me: `make check` succeeded, but when you ran `partial`, it failed.  Can you triple check that when you ran `partial` manually, it was pointing to the "right" `libopenmpi.so`?

I ask because `make check` should be doing a bunch of environment modifications to ensure that the tests it runs are pointing to the libraries **in the build tree**.  But if you invoke `partial`

[2021-05-11 18:14] amckinstry commented on #8596
Confirming the issue still occurs in debian's build of 4.1.0 (-8).
Built with external pmix:
[code]

We also have the pmix patch:
https://github.com/open-mpi/ompi/pull/8337
see:
https://sources.debian.org/src/openmpi/4.1.0-8/debian/patches/external-pmix-fix.patch/

When this patch is removed, we see:
[code]
so its still needed.

[2021-05-11 23:40] ggouaillardet commented on #7246
@athota `--mca btl_tcp_if_include enp33s0` leaves no room for error.

The initially reported issue was with `MPI_Alltoall()`. Did you force the `bruck` algorithm and did it help?

[2021-05-12 04:16] bosilca commented on #7246
I'll be back next week, and I'll run some test to see how many ports we are currently using. I think I know the answer on the BTL side, but I wonder if the issue is not that we are sharing the available ports with PRRTE.

[2021-05-12 07:27] amckinstry commented on #8596
Ok, backed out the pmix change in Debian build,  did a build using internal pmix (no references to external pmix, libpmix-dev removed).
I Get the following:
[code]

[2021-05-12 11:17] dalcinl opened #8955 "Oversubscribe via MCA configuration file or environment variable"
I'm using ompi/master. I cannot figure out how to turn on oversubscription using `mca-params.conf` or environment variables. Is this supposed to work? I tried the old var config names, as well as new ones from running `prte_info`, and I cannot make it work, looks like the variables are simply ignored.

[2021-05-12 12:49] amckinstry commented on #8596
Ok, backing out the external-pmix patch (see above), clean builds with pmix definitely removed and pmix (and plugins) from openmpi-4.1.0 installed leads to a working system.

This is not really a good solution for Debian as it involves competing libpmix.so.2 installations (we're late in the Bullseye release freeze) so debugging of the external pmix issue proceeding.

[2021-05-12 15:15] amckinstry commented on #8596
See the discussion at : https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=984956
Currently it looks like ext3c.c can't handle some stuff that pmix 4.0.0 emits - is that possible /likely ?

[2021-05-12 18:33] athota commented on #7246
Tried this just now, no change in behavior, failed at message size above 256.

I am using the alltoall benchmark from the OSU microbenchmarks and I don't know what algorithm they are using to implement this. The original reporter of the issue was running this https://www.ics.uzh.ch/~teyssier/ramses/RAMSES.html when they ran into this error.

[2021-05-12 19:27] jjhursey commented on #8955
This PRRTE PR might be related https://github.com/openpmix/openpmix/issues/2192

[2021-05-12 20:36] lnussbaum commented on #8596
@amckinstry maybe using the internal pmix is a good temporary solution for bullseye? I assume that this setup is well-tested outside Debian so it might not be too hard to sell to the release team.

[2021-05-12 20:51] vasvir commented on #8596
Not sure if this is relevant.

If I try to remove libpmix it wants to remove libboost-mpi which is a great problem for me.

My question is: If I downgrade to 4.1.0-4/ (from -8) will I be able to use libboost-mpi or will it require to remove it?

aah... we will see tomorrow.

[code]

[2021-05-13 07:35] amckinstry commented on #8596
@lnussbaum @vasvir  I'll continue the Debian Bullseye workaround discussion at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=984956
What I'd like to continue here is : is there any possibility of incompatabilities between an external pmix (4.0.0) and openmpi 4.1.0  - if not, why are we seeing the problem we're seeing ?

[2021-05-13 08:04] ggouaillardet commented on #8596
@amckinstry This is of course a possibility, I will give it a try (on a non debian system)

One other option is to wait for a patch (btw, have you tried Open MPI 4.1.1 ?), or to use an older (external) PMIx known to work

[2021-05-13 09:39] ggouaillardet commented on #8596
@amckinstry @rhc54 the (first) error occurs when the `pmix/ext3x` component tries to convert the (new since PMIx 4.0.0) `pmix.topo2` key from `PMIx` to `opal`. I'll try a quick workaround from now.

[2021-05-13 09:39] vasvir commented on #8596
@amckinstry not sure I can contribute in this discussion. I have major gaps in my understanding.

Here is what I understand so far. Please correct me where I am wrong.

* openmpi utilizes libpmix
* There is an internal and an external variant of libpmix
     * Question: where the internal libpmix lives? Disclaimer I only checked the sources of 4.1.0-08. Maybe they have been removed.
* the glue cod

[2021-05-13 10:00] ggouaillardet commented on #8596
@amckinstry here is a workaround

[code]

[2021-05-13 10:03] ggouaillardet commented on #8596
The answer is in `opal/mca/pmix/ext3x/Makefile.am`

most source/header files are sed-ed from `opal/mca/pmix/pmix3x`

[2021-05-13 10:05] ggouaillardet commented on #8596
@amckinstry please note Open MPI 4.1.1 has been released, and contains quite a lot of bug fixes, so I strongly encourage you to use this version instead of `4.1.0`

[2021-05-13 13:10] awlauria commented on #8907
PR's merged, closing this. @dalcinl if you see this continue please re-open. Thanks!

[2021-05-13 13:10] #8907 closed

[2021-05-13 13:12] awlauria commented on #8862
PR's merged, closing this. If this is still an issue, please re-open.

[2021-05-13 13:12] #8862 closed

[2021-05-13 13:25] gpaulsen commented on #8856
So is this not really an issue?  Can someone please summarize?  Are we still waiting for a system where we can reliably reproduce?

[2021-05-13 13:26] gpaulsen commented on #8850
@bwbarrett @jsquyres is this already fixed?

[2021-05-13 13:30] #8656 closed

[2021-05-13 13:30] gpaulsen commented on #8656
If this is still an issue, please reopen with a comment.

[2021-05-13 13:30] awlauria commented on #8776
Merged to v5.0.x here: https://github.com/open-mpi/ompi/pull/8902

Closing.

[2021-05-13 13:30] #8776 closed

[2021-05-13 13:32] gpaulsen commented on #7830
Austen said he has some time next week to take a look.  Thanks!

[2021-05-13 13:34] gpaulsen commented on #7693
Removing blocker label as btl/uct is low priority.

[2021-05-13 13:35] gpaulsen commented on #7691
@jsquyres Have you been able to take a look at this?  Is it possible to be both code cleanup and a blocker ?

[2021-05-13 13:43] gpaulsen commented on #7690
Not a blocker as this issue is referencing a potential performance issue.
It's unclear in what use-cases that btl/smcuda is used today in master/v5.0.x.  Does anyone know?  @bosilca ?

[2021-05-13 13:43] awlauria commented on #8566
Closing as it was merged to v5.0.x here: https://github.com/open-mpi/ompi/pull/8902

[2021-05-13 13:43] #8566 closed

[2021-05-13 13:59] gpaulsen commented on #8884
@ggouaillardet do you have time to look at this?

[2021-05-13 14:03] amckinstry commented on #8596
@ggouaillardet Thanks I confirm this workaround works on Debian (openmpi 4.1.0).

We're deep into a freeze for Debian 11 (Bullseye) at the moment, so I'm reluctant to move to 4.1.1 for Bullseye. I'm testing 4.1.1 (Debian experimental) separately.

[2021-05-13 15:11] hppritcha opened #8958 "MTT: several intercomm tests periodically hang in call to PMIx_Connect"
In triaging some outstanding problems I've been seeing for a while now in MTT on the 5.0.x and master branches, I've noticed on several platforms that tests in the ibm/collective/intercomm periodically timeout and are marked as failed.

It appears that periodically these tests hang in the MPI_Comm_accept/connect phase with tracebacks like
[code]
I'm not seeing these failures in the 4.0.x and 4.1.x

[2021-05-13 15:32] jsquyres commented on #8850
@gpaulsen Not yet, no.  I don't think there has been any progress yet.

[2021-05-13 16:45] abouteiller commented on #8958
I have observed the same issue when using COMM_SPAWN

[2021-05-13 19:05] jsquyres commented on #8856
Many thanks to @dvdesolve for letting me connect to his machine and finally figure out what is going on here.

# Short version

I don't think that this is a bug; we can probably close the issue after confirmation from @dvdesolve and @kloczek.

# More detail

@dvdesolve is using the Arch package build system on his machine `configure` like this:

[code]

@dvdesolve also has Open MPI v4.0.x installe

[2021-05-13 19:15] dvdesolve commented on #8856
Wow, interesting result. I think I'll try with clean chroot/OpenMPI removed and will tell the results

[2021-05-13 19:21] awlauria commented on #8918
@markalle @dalcinl what environments do we need to hit/reproduce this issue?

[2021-05-13 19:49] dalcinl commented on #8918
@awlauria X86_64 is enough. Ideally, we should also try it in a big-endian arch. However, I'm not aware of any big-endian arch where `long double` actually means 80bit extended precision floating point.

[2021-05-13 22:24] yasushi-saito opened #8962 "Trouble running mpi using a DNS address"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

https://github.com/open-mpi/ompi/commit/b33b29466f95a60696f9da69f21a61b3fe3e95f4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution p

[2021-05-14 00:32] hkuno commented on #8962
What happens if you specify the number of slots with the hostname: ``--host <hostname>:<number of slots>`` ?

E.g.:
``% mpirun --mca plm_rsh_agent ssh --mca plm_rsh_args "-o StrictHostKeyChecking=no" --mca orte_keep_fqdn_hostnames t --host saito-test0-cpu-qql9.us-west1-a.c.luminarycloud-internal.internal:1 echo foo``

[2021-05-14 00:35] hppritcha opened #8963 "configury: enable-mca-no-build has become a no-op for master and v5.0.x"
Just when we need it to disable op-avx for KNL processors, something broke in the OMPI configure resulting in --enable-mca-no-build to become a no op.

excerpt from config.log for v4.1.x when--enable-mca-no-build=osc-rdma
[code]
excerpt from config.log for v5.0.x and master when --enable-mca-no-build=osc-rdma
[code]

[2021-05-14 01:57] SharonBrunett commented on #5818
Is this fix folded into Open MPI 4.1.1 libraries?

A test code, built against Open MPI 4.1.1  sees   "inbound connection dropped ...try with a different IP interface" messages, despite this problem being reported as fixed in 4.0.

There's  one bonded interface (unique IPs 0.9.6.185 and 10.14.6.185 share an interface), per node, which confuses mpi.

1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noq

[2021-05-14 05:57] yasushi-saito commented on #8962
Adding ":1" doesn't make a difference.

[2021-05-14 07:04] ggouaillardet commented on #8962
I confirm there is an error that happens only on the `master` branch when the hostname has the form `<abc><123>-<xyz>.<something>`

@rhc54 could `prrte` be involved here?

[2021-05-14 08:49] ggouaillardet commented on #8962
@rhc54 the root cause could be a different one.
I also found an other issue (not sure if it is related though)

let's say I run on `node0` with IP `1.2.3.4`, and it has an other interface with name `node0-ib` and IP `11.12.13.14`.

and then `mpirun --host node0-ib ...`

under the debugger, I saw that this ends up in the `prte_process_info.aliases` :
 - `node0`
 - `1.2.3.4`
 - `11.12.13.14`

but **

[2021-05-14 09:33] G3orge26 opened #8964 "shmem get throughput plummeting after 64KB get in IB"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Open MPI version: 4.1.0 installed from openmpi-4.1.0.tar.gz

### Please describe the system on which you are running
The system consists of two identical machine connected together via both ethernet (through a switch) and IB (directly with each other). The IB cards used are

[2021-05-14 22:57] hppritcha commented on #8963
looks like commit 000f7e86 caused this regression.  Hmm... April 1?

[2021-05-15 09:32] dvdesolve commented on #8856
I can confirm that building in clean environment doesn't exhibit the problem described. Thank you all for your time and help!

[2021-05-15 09:32] #8856 closed

[2021-05-15 14:48] hppritcha commented on #8963
related to #8745

[2021-05-17 03:10] njchoi commented on #8938
Folks, thank you for your concern, but never mind.
We just decided to use sockets instead of MPI spawn.
It appears that the support for MPI spawn is too unstable and portability is not guaranteed.

[2021-05-17 03:10] #8938 closed

[2021-05-17 07:04] vasvir commented on #8596
There is something else I don't understand.

In my setup I have two machines with the same version of openmpi. When both have the problematic version 4.1.0-8 from where the TOPO constant comes from. It's not coming from another machine with different pmix library?

That also confuses me...

I will test the 4.1.0-9 later today.

[2021-05-17 08:06] ggouaillardet commented on #8596
@vasvir The `pmix.topo2` (predefined) key is set by the `PMIx` server (that is used under the hood by `mpirun/orted`).

[2021-05-17 16:10] jsquyres commented on #8763
@bosilca and I just had a lengthy phone conversation about this.

1. I was wrong, above: it doesn't just affect MPI_Ialltoallw and MPI_Neighbor_ialltoallw -- it's *any* non-blocking MPI function that takes an array of handles (I'm pretty sure this will turn out to be just collectives, but we'll need to check that).
2. George came up with a potentially elegant solution: have the Fortran binding cha

[2021-05-17 16:11] jsquyres commented on #8763
I marked this as "critical": it's definitely a bug, but technically, this issue has existed in Open MPI for forever.  So I wouldn't mark it as "blocker", because it's technically not a regression.

[2021-05-17 17:19] hppritcha commented on #8381
closed via #8921

[2021-05-17 17:19] #8381 closed

[2021-05-17 17:20] hppritcha commented on #8905
closed via #8906 and #8920

[2021-05-17 17:20] #8905 closed

[2021-05-17 18:11] jsquyres commented on #3035
@gpaulsen This was missed; oops.  Just opened #8966 for v4.1.x.

[2021-05-17 18:14] jsquyres commented on #5818
@gpaulsen's comment above is not quite correct (I just added an "EDIT" note to it): the PR he mentions fixes the race condition that was described in #3035 (and some of the comments above) -- it does not fix the original problem described in this issue.  Hence, this issue is still open.  However, @gpaulsen's comments caused me to realize that we had someone neglected to cherry pick this fix to the

[2021-05-17 18:26] jsquyres commented on #5818
@SharonBrunett I think the issue you describe is different than the other 2 issues described on this issue.

The original issue has to do with having multiple IPs on a single machine that are in the same subnet, and/or on the same IP interface (and has not been fixed).  The other issue that came up on this issue was already reported in #3035 (and has been fixed).

You're asking about a bonded inte

[2021-05-17 18:31] jsquyres commented on #8962
This is likely an issue with PRTE.  @ggouaillardet Can you file a corresponding issue over there and link it back to this one?

[2021-05-17 19:41] jsquyres commented on #3035
Fix now merged on all branches.  Closing.

[2021-05-17 19:41] #3035 closed

[2021-05-18 00:42] SharonBrunett opened #8967 "Open MPI on bonded interface issues"
I would like to run OpenMPI 4.1.1  on a collection of nodes using a bonded interface.

Small node counts (e.g. 6)  sometimes works but larger node counts (e.g. 25) most always fail. A race condition or non deterministic behavior of some kind. Here's the error I get

Open MPI detected an inbound MPI TCP connection request from a peer
that appears to be part of this MPI job (i.e., it identified itse

[2021-05-18 08:44] vasvir commented on #8596
In this case the server isn't the second machine? Or is it the first machine (the one I am issuing the mpirun command?).

Sorry for the dumb questions...

[2021-05-18 14:19] jsquyres commented on #8967
I must be missing something; I don't quite understand the rationale for your setup.

* 836: has 2 IPs on a single, non-bonded interface.
* 1390: has 2 IPs on a bonded interface
* 1394: has 2 IPs on a bonded interface

Why do your bonded interfaces have 2 IP addresses?

[2021-05-18 15:05] wckzhang commented on #7246
Using the benchmark just calls the MPI API. You want to change the algorithms by setting a couple mpirun flags:

[code]

The alltoall algorithms are (where 0 is default - tuned):
[code]

[2021-05-18 16:36] awlauria commented on #4730
Master PR was merged. If this is desired for v5.0.x, please cherry pick over.

[2021-05-18 16:36] #4730 closed

[2021-05-18 16:52] athota commented on #7246
Tried this just now, fails at the same spot with the same error again.

[2021-05-19 19:19] SharonBrunett commented on #8967
Jeff,

We use the 10.9 interface for internal cluster traffic (e.g. HDFS) and the 10.14 interface to connect to login and head nodes. Do you think OpenMPI command line args could be tweaked to accommodate this configuration?

Thanks,
Sharon
________________________________
From: Jeff Squyres ***@***.***>
Sent: Tuesday, May 18, 2021 7:20 AM
To: open-mpi/ompi ***@***.***>
Cc: SharonBrunett ***@***.*

[2021-05-19 19:36] awlauria commented on #6987
I think various mtt failures are due to this, for exxample segvs in the `aint` tests use osc calls with dynamic windows,and I'm seeing odd memory/corruption + segv's.

[Some runs](https://mtt.open-mpi.org/index.php?limit=&wrap=&trial=&enable_drilldowns=&yaxis_scale=&xaxis_scale=&hide_subtitle=&split_graphs=&remote_go=&do_cookies=&phase=test_run&text_start_timestamp=2021-05-17+19%3A36%3A02+-+2021-0

[2021-05-19 19:39] awlauria commented on #6987
I did some initial triage, and the core is happening here on a free:

https://github.com/open-mpi/ompi/blob/master/ompi/mca/osc/ucx/osc_ucx_comm.c#L372

and based on code inspection and verifying that len > 0, this makes no sense other than memory corruption elsewhere.

Unfortunately, valgrind isn't much help due to: https://github.com/openucx/ucx/issues/5302

[2021-05-19 20:06] awlauria opened #8982 "btl/tcp: Assert with MPI_Sendrecv()"
MTT failure [here](https://mtt.open-mpi.org/index.php?limit=&wrap=&trial=&enable_drilldowns=&yaxis_scale=&xaxis_scale=&hide_subtitle=&split_graphs=&remote_go=&do_cookies=&phase=test_run&text_start_timestamp=2021-05-18+19%3A53%3A18+-+2021-05-19+19%3A53%3A18&text_platform_hardware=%5Eppc64le%24&show_platform_hardware=show&text_os_name=%5ELinux%24&show_os_name=show&text_mpi_name=%5Eompi-nightly-maste

[2021-05-19 20:28] awlauria opened #8983 "osc rdma/tcp: Wrong answer with c_post_start in MTT"
[MTT failure example](https://mtt.open-mpi.org/index.php?limit=&wrap=&trial=&enable_drilldowns=&yaxis_scale=&xaxis_scale=&hide_subtitle=&split_graphs=&remote_go=&do_cookies=&phase=test_run&text_start_timestamp=2021-05-18+20%3A10%3A10+-+2021-05-19+20%3A10%3A10&text_platform_hardware=%5Eppc64le%24&show_platform_hardware=show&text_os_name=%5ELinux%24&show_os_name=show&text_mpi_name=%5Eompi-nightly-ma

[2021-05-20 13:06] jsquyres commented on #8967
Do you have different QoS configured in your fabric for the two different subnets?

I think in most cases that we have seen previously, there has been a different interface for each IP -- I don't think we've seen many cases where multiple IPs on a single interface have been used.  Hence, this case is likely not well tested (and apparently doesn't work).  It's not just a case of tweaking command li

[2021-05-20 13:19] awlauria commented on #8918
Important but not a blocker for rc, probably want it for release.

[2021-05-20 13:22] awlauria commented on #8860
PR's merged, closing.

[2021-05-20 13:22] #8860 closed

[2021-05-20 18:54] rhc54 commented on #8955
When you say "turn on oversubscription", what precisely do you mean? Are you trying to "allow oversubscribing of nodes"? Or something else?

[2021-05-20 21:05] thomasgillis commented on #8364
@artpol84 did you get any new input on this one?
Is there any chance that the speed increased with UCX 1.10?

[2021-05-20 21:24] SharonBrunett commented on #8967
Hi Jeff,

No, the same physical interface is shared with no QoS setup. Should there be?

I tried adding the appropriate subnet to exclude, for the four nodes (836,1390,1391, 1392) participating. Sadly, this doesn’t work.
Below are the ip addr dumps from node[836,1390,1391,1392) and mpi runtime errors

node836 ~]$ ip addr
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group def

[2021-05-21 02:52] bwbarrett opened #8990 "Wrapper compiler adding incorrect library search paths"
I'm guessing this is also in v4.0.x, v5.0.x, and master, but have not yet confirmed.  On Ubuntu 18.04, when configuring Open MPI with:

[code]

We end up with wrapper link line:

[code]

There are two problems with this link line:

1. It appears the code to avoid leaking system includes / library search paths into the CFLAGS/LDFLAGS is not working, given the `-L/usr/lib -Wl,-rpath -Wl,/usr/lib`.
2

[2021-05-21 07:30] karasevb opened #8991 "v4.1.x: topo/treematch failure with `distgraph_test_4`"
## Background information
When debugging a hang on some application, I found that it comes from MPI_Dist_graph_create(). A similar issue reproduced by **distgraph_test_4** from IBM tests. Adding `--mca topo ^treematch` avoids the issue.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.x

### Describe how Open MPI was installed (e.g., from a s

[2021-05-21 17:18] dalcinl commented on #8955
@rhc54 Yes, I'm trying to find a way to permanently configure a node to allow for oversubscription, without requiring to pass special flags to mpiexec.

With Open MPI v4.x, I simply set `rmaps_base_oversubscribe=true` via config file or environment variable, for example:
* https://github.com/mpi4py/setup-mpi/blob/master/setup-mpi.sh#L69
* https://github.com/mpi4py/mpi4py/blob/master/.circleci/test

[2021-05-21 17:32] hppritcha commented on #8774
removing 4.0.x tag as fixed in the branch via #8922.  adding v4.1.x label as PR #8971 hasn't been merged yet.

[2021-05-21 17:57] jsquyres commented on #8967
* If there's no QoS differences between the subnets, and
* All the subnets are available on all the nodes
* On each node, the subnets share a single physical NIC port (corresponding to a single OS IP interface)

Then I'm not sure I see any benefit to having multiple IP's/subnets per interface.  Is there something I'm missing?

If I'm not, then your simplest route would be to remove the 2nd IP inte

[2021-05-21 18:14] rhc54 commented on #8955
OMPI master (and the v5.0 branch) has moved to PRRTE as its runtime. Thus:

* the envar is now PRTE_MCA_rmaps_base_oversubscribe
* the default MCA parameter file is prte-mca-params.conf

The format of the param file remains the same.

[2021-05-21 18:36] hppritcha commented on #8466
closed as fixes have been merged into 4.0.x, 4.1.x, 5.0.x, and master.

[2021-05-21 18:36] #8466 closed

[2021-05-21 18:43] hppritcha commented on #8982
@awlauria is this a long standing regression or is it a new failure?

[2021-05-21 18:56] awlauria commented on #8982
I'm not sure how old it is exactly, but I have seen this on our IBM mtt for at least several months now, probably longer. My assumption is it is a fairly old issue.

[2021-05-21 19:02] dalcinl commented on #8955
I tried that before opening this issue. Just to confirm, I just `git pull` and rebuilt ompi/master.

The environment variable does not work, see below. About the config file, you did not specified I created it in `$HOME/.openmpi/` and set `rmaps_base_oversubscribe=true`, it does not work. I also tried creating both `prte-mca-params.conf` and `mca-params.conf` in `$HOME/.prte/` and set `rmaps_base_

[2021-05-21 20:23] awlauria commented on #8442
I tried this on master and could not reproduce. Based on that and the previous comments, I believe we can call this issue closed.

#8859 has been merged to v4.0.x.

[2021-05-21 20:23] #8442 closed

[2021-05-21 21:29] rhc54 commented on #8955
Sorry - the parameter is wrong:

`PRTE_MCA_rmaps_default_mapping_policy=:oversubscribe`

Note the colon needs to be in the front of the qualifier - ":oversubscribe"

[2021-05-21 21:40] awlauria opened #8996 "--enable-mca-no-build is not being honored."
With recent configury rework this is a regression on master and v5.0.x.

I did a git bisect and it seems to have stopped working on this commit: https://github.com/open-mpi/ompi/commit/000f7e86e0f5ee294e26ed22293a3770d7e76596#diff-49b9a659b0c410cc6da95abe258b24ca007dddbe6b6203953fc6997f2275dfa7

[2021-05-21 21:55] rhc54 commented on #8958
I have dug into this a bit over in PRRTE - please see https://github.com/openpmix/prrte/issues/964#issuecomment-846157514 for an explanation and suggested fixes. I don't know if that's the issue here or not, but offer it for reference. I can find no problem in the underlying `PMIx_Connect` function.

[2021-05-21 22:05] jsquyres commented on #8996
See https://github.com/open-mpi/ompi/pull/8974

[2021-05-21 22:07] jsquyres commented on #8996
This is actually a dup of #8963.

[2021-05-21 22:07] #8996 closed

[2021-05-21 22:10] awlauria commented on #8996
Ah, thanks @jsquyres

[2021-05-21 22:35] hppritcha commented on #8958
thanks @rhc54 !  I'll investigate the dpm.c abuse of PMIx_Spawn

[2021-05-22 13:23] rhc54 commented on #8962
I believe this has been fixed - please see https://github.com/openpmix/prrte/issues/965

@ggouaillardet has updated PRRTE in OMPI master per the referenced PR.

[2021-05-22 13:23] #8962 closed

[2021-05-22 15:53] dalcinl commented on #8955
OK, I kind of got it working. Just to clarify, the location of the config file should be `$HOME/.prte/prte-mca-params.conf`. I tried putting config files in `$HOME/.openmpi/` and/or name them without the initial `prte-` suffix, and they seem to be ignored, despite the [PRRTE's documentation](https://github.com/openpmix/prrte/blob/master/src/etc/prte-mca-params.conf#L24).

However, I'm seeing [huge

[2021-05-23 13:16] rhc54 commented on #8955
I corrected the name in the code so it matches the documentation - i.e., "mca-params.conf". I'm not sure why you expected the file to be found in `$HOME/.openmpi` - the documentation doesn't mention that directory. The PRRTE file has to be in `$HOME/.prte`. The system-level default is in the `$sysconf` directory and named `prte-mca-params.conf` in case other packages share that directory.

I suspe

[2021-05-23 16:36] dalcinl commented on #8955
I had no expectations. I'm not sure why you seem to blame me for trying alternatives when the documented one does not work.

[2021-05-23 16:56] rhc54 commented on #8955
Who said anything about blame??? Ease up a little, dude.

[2021-05-23 17:28] #8955 closed

[2021-05-24 19:41] jeffhammond opened #9003 "OSHMEM should not require SPML, nor UCX"
In https://github.com/open-mpi/ompi/issues/4390#issuecomment-341148912, it is stated that Open-MPI cannot build OpenSHMEM without UCX as a provider of SPML.

There is no good technical justification for this.  We have proven with two distinct implementations of OpenSHMEM over MPI (https://github.com/jeffhammond/oshmpi, https://github.com/pmodels/oshmpi) that the requirements of OpenSHMEM are no gr

[2021-05-24 20:21] rhc54 commented on #9003
You won't get any technical argument from us. There is significant history behind this situation, mostly to do with (a) Mellanox being the prime developer of the OSHMEM layer, and (b) their decision to focus solely on UCX. As of this time, nobody has been interested enough to take the time to "backfill" the OSHMEM layer so it supports non-UCX transports. No technical reason it can't - just nobody

[2021-05-24 21:45] hjelmn commented on #9003
@rhc54 is correct. I could have implemented oshmem on top of RMA but at the time there was little/no interest at LANL for oshmem support so it got no priority. Without an active owner the component would bit rot and would eventually be removed for lack of an owner.

If someone steps up I would be glad to help get it done but I don't have the cycles to do it on my own (plus I am not that interested

[2021-05-25 02:26] tetsushinto opened #9004 "MPI Allreduce test stops on RHEL8.2"
Hello

We are facing a problem that MPI Allreduce test stops during the execution with MLNX_OFED5.2-1.0.4.0.
From the results of the following server combinations, the issue is only seen  on [MPI_Allreduce_get-stack-trace.txt](https://github.com/open-mpi/ompi/files/6536049/MPI_Allreduce_get-stack-trace.txt).

-RX2540M5 (SLES12sp4) --RX2530M5 (RHEL8.2): Problem occurs
-RX2540M5 (SLES12sp4) --RX2530

[2021-05-25 02:36] ggouaillardet commented on #9004
Is `SLES12sp4` relevant to this issue?

If the problem does not occur any more with RHEL 8.3, then the root cause if not in Open MPI.

Feel free to report this issue to Mellanox and/or RedHat - even if I am pretty sure they will advise you to upgrade to RHEL 8.3 (that includes bug fixes ...).

[2021-05-25 06:32] tetsushinto commented on #9004
Thanks for your comment.
it seems SLES12sp4 is not relevant to this issue.
I have asked Mellanox about this issue, but they asked me to open a case in community, because the stack trace shows routine stop at epoll for ucx event, that means it looks like a openUCX issue.

[2021-05-25 06:55] ggouaillardet commented on #9004
Who provides UCX for you?
- Mellanox?
- RedHat?
- built from source?

[2021-05-25 06:55] ggouaillardet commented on #9004
Open UCX github is at https://github.com/openucx/ucx

[2021-05-25 07:28] yosefe commented on #9004
adding @vspetrov
1. @tetsushinto can you try adding "-mca coll ^hcoll" to mpirun as a test?
2. what is the minimal number of ranks the issue happens with?
3. It seems the test is running between 2 machines with different operating systems (one is rhel other is sles)?

[2021-05-25 14:56] gpaulsen commented on #8498
merged to all release branches.  Closing.

[2021-05-25 14:56] #8498 closed

[2021-05-25 15:15] edgargabriel commented on #8732
it has also been merged onto the 4.0 branch with pr 8901

https://github.com/open-mpi/ompi/pull/8901

[2021-05-25 16:05] hppritcha commented on #7892
i no longer observe this problem with mtt testing of master and v5.0.x.  closing

[2021-05-25 16:05] #7892 closed

[2021-05-25 16:06] hppritcha commented on #4151
unlikely this is going to be addressed.  reopen if needed.

[2021-05-25 16:06] #4151 closed

[2021-05-25 16:17] tkordenbrock opened #9005 "fix missing include in opal_datatype_internal.h"
While cleaning up errors in the Portals4 components discovered after merging #8647, coll_portals4_request.c fails to compile because opal_datatype_internal.h is missing stddef.h.

[code]

[2021-05-25 16:39] tkordenbrock opened #9008 "portals4: eliminate header order dependencies in the Portals4 components"
After running clang-format in #8647, the portals4.h header was moved after the Portals4 component includes which caused compilation failures. The component headers should be reordered and includes added where necessary to remove ordering dependencies.

[2021-05-25 19:25] bwbarrett commented on #8990
This is an issue in v4.0.x and v4.1.x, but not v5.0.x and master.  So small favors.

[2021-05-25 20:04] #9005 closed

[2021-05-25 20:18] awlauria opened #9010 "MPI_Comm_split_type() hangs when run with processes across node"
This is a regression from the v3.0.x series to v4/master/v5.

[code]

v3.0.6 run from tarball:

[code]
$. ./exports/bin/mpirun --prefix `pwd`/exports --np 4 --hostfile ./hostfile --mca pml ob1 ./split
--------------------------------------------------------------------------
WARNING: Open MPI failed to TCP connect to a peer MPI process.  This
should not happen.

Your Open MPI job may now hang or f

[2021-05-25 20:21] tkordenbrock commented on #9005
`ompi_datatype_internal.h` was being used incorrectly in `coll_portals4_component.c`.  This is resolved in #9008.

[2021-05-25 20:22] markalle commented on #8918
Yeah, testing is a problem.  The original bug is hit on x86_64, but trying to hit all the paths in the fix is hard.

[2021-05-25 20:28] awlauria commented on #7830
osc/rdma will internally call `MPI_Comm_split(MPI_COMM_TYPE_NODE)` to create a local group, and is getting some interesting/weird results. For example, I'm seeing the comm size on return be 3 when running 4 processes across 2 nodes, with 2 procs per node.

I have to think that https://github.com/open-mpi/ompi/issues/9010 is related.

[2021-05-25 21:08] markalle commented on #8918
I did another repush to https://github.com/open-mpi/ompi/pull/8941 as the fix.  I think it's done, but testing is a concern.

I ran mac x86_64 which hits
* little endian f80_to_f128 and back (using bit operations, no __float128)

I'll try PPC64 and see what other paths I can hit next.  Other paths it would be nice to include are
* little endian conversion via __float128
* big endian conversion wit

[2021-05-25 23:41] hjelmn commented on #9010
Ooof. That is a pretty fundamental function. Not sure how this was missed by MTT (or was it-- haven't looked).

[2021-05-26 08:06] dalcinl commented on #8918
f80 and big endian may be impossible to test, at least with MPI code.  f80 is an Intel format, I do not expect any other big-endian CPU to implement it. On CPUs other than Intel, I expect `long double` to be either `double`, or IEEE binary128 (`__float128`), or some other custom format, e.g. [POWER ISA](https://www.talospace.com/2018/12/the-saga-of-power-isa-128-bit-long.html)

[2021-05-26 14:18] amckinstry commented on #8596
@vasvir For it to work (on Debian) the patch is needed in openmpi on both machines (eg 4.1.0-9 on both) with pmix on both (pmix library libpmix2 version 4.0.0-4)

[2021-05-26 19:04] awlauria commented on #9010
retesting today I don't think this is in v4, but will confirm later. Re-labeling as a master/v5 problem.

[2021-05-27 00:16] omor1 opened #9012 "opal_common_ucx_devices MCA param not checked correctly"
## Background information

The MCA parameter `opal_common_ucx_devices` isn't checked correctly against the available devices.

### What version of Open MPI are you using?

Open MPI 4.1.1

### Describe how Open MPI was installed

From source using Spack

### Please describe the system on which you are running

* SDSC Expanse
* CentOS 8.1.1911
* UCX 1.10
* Mellanox ConnectX-6

----------------------

[2021-05-27 02:48] bwbarrett commented on #8990
I was only partially right.  In 5.0 and master, we don't include the -L/usr/lib (yay), but we do order the search paths we do add so that the location of libmpi.so is last (boo).  We should fix that.

[2021-05-27 08:39] yosefe commented on #9012
@omor1 can you pls describe the parameter you are passing, and what is expected behavior vs. actual behavior?

[2021-05-27 13:16] gpaulsen commented on #8963
CLosing as it went into v5 and master

[2021-05-27 13:16] #8963 closed

[2021-05-27 13:18] gpaulsen commented on #8884
Thanks @janjust

[2021-05-27 13:21] gpaulsen commented on #8831
@hppritcha Do you know where openfabric knobs are documented?

[2021-05-27 13:24] gpaulsen commented on #7847
I haven't seen these CI failures in a while, has others?  Can we now close this since #8776 is closed?

[2021-05-27 13:59] hppritcha commented on #8831
@gpaulsen let's not confused openib with openfabric (OFI).  They are two different things.  There are no more openib related mca parameters.  These were removed as part of the removal of the openib btl.

[2021-05-27 15:37] #7847 closed

[2021-05-27 17:47] awlauria commented on #8831
@oleotiger I think @gpaulsen was askingin regards to this question:

[code]

[2021-05-27 17:55] hppritcha commented on #8831
mca parameters impacting use of OFI libfabric can be found using the ompi_info command

[code]

Note in my environment I had set the provider_include mca params to "rxm;verbs", hence that shows up in the cut/paste output here.

[2021-05-27 18:06] awlauria commented on #8831
Awesome, thanks @hppritcha

[2021-05-27 18:07] awlauria commented on #8831
I think we can close this issue?

[2021-05-27 19:04] hppritcha commented on #8831
yes

[2021-05-27 19:11] #8831 closed

[2021-05-27 19:13] hppritcha opened #9013 "IBM tool/init_after_finalize failures"
I am seeing asserts with the IBM tool/init_after_finalize test of the pattern
[code]
when compiling master with the following config options:

[code]
test works with the v4.1.x branch.  presumably works on v4.0.x too.

[2021-05-27 19:15] jsquyres opened #9014 "Using OPAL_PREFIX to relocate an install is broken"
Per discussion in Slack:

v5.0 RMs: since this is a regression compared to v4.x, I marked this as a blocker.  Indeed, I know some 3rd party software packages that include their own Open MPI install and rely on this behavior.

[2021-05-27 19:15] hppritcha commented on #9013
interestingly the test works with the sessions prototype, which is currently rebased off of master at sha c2e3fa02d0bd472e82b1f0223f33aa8fe1467616.

[2021-05-27 19:18] bwbarrett commented on #9014
I'll investigate how big of a problem this is in PMIx and PRRTE tomorrow and update with next steps.

[2021-05-27 19:38] rhc54 commented on #9014
@mike0042 for your tracking purposes

[2021-05-27 23:52] omor1 commented on #9012
@yosefe I have tried passing both `OMPI_MCA_opal_common_ucx_devices="mlx5_2"` and `OMPI_MCA_opal_common_ucx_devices="mlx5_2:1"`. In both cases, with verbose output I get:
[code]

If I don't pass anything for the MCA parameter and use the default `"mlx*"` I instead get
[code]

Note that I'm trying to use the `mlx5_2` device. `mlx5_1` is entirely disconnected and `mlx5_0` is configured fora t 25GbE.

[2021-05-27 23:58] omor1 commented on #9012
Expected behavior is that `rc_verbs/mlx5_2:1` and `ud_verbs/mlx5_2:1` don't match transport list, but that `rc_mlx5/mlx5_2:1`, `ud_mlx5/mlx5_2:1`, and `rc_mlx5/mlx5_2:1` match both transport and device lists. (I am passing `OMPI_MCA_opal_common_ucx_tls="rc_mlx5,ud_mlx5,dc_mlx5"`.

Additionally, if I pass `memory` as part of the device list and e.g. `posix,sysv,self,cma,knem,xpmem` as part of the t

[2021-05-28 01:26] tetsushinto commented on #9004
@yosefe, @vspetrov Thanks for your suggestion.
We tried running with "-mca coll ^hcoll" and  " -x HCOLL_ALLREDUCE_ZCOPY_TUNE=static ". Both of them led to a good result. (see details below)

(A) "-mca coll ^hcoll"
(B) " -x HCOLL_ALLREDUCE_ZCOPY_TUNE=static "

-Either with the (A) option or the (B) option, it can run up to 4M bytes.
-For less than 8k bytes, the performance with the (A) option is be

[2021-05-28 16:19] vspetrov commented on #9004
@tetsushinto thanks for the report. The issue is with coll/hcoll component (libhcoll). Please use the workaround: -x HCOLL_ALLREDUCE_ZCOPY_TUNE=static. The fix will be available in the next HPC-X release scheduled for June.

[2021-05-28 16:38] Flamefire opened #9018 "MTL/OFI: Buffer overflow in get_package_rank"
## Background information

I noticed a crash happening for even simple hello-world MPI applications, e.g. the C hello world example run as `mpirun -np 1 a.out`

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distr

[2021-05-28 18:50] yosefe commented on #9012
`OMPI_MCA_opal_common_ucx_devices` is NOT intended to specify "which devices UCX should use". The intent is "which devices need to be present so the UCX pml would be enabled". In order to configure which devices UCX should utilize, need to use UCX-level configuration, as documented in https://openucx.readthedocs.io/en/master/faq.html#selecting-networks-and-transports - and not OMPI-level configura

[2021-05-28 22:27] markalle commented on #8918
I made this comment over in the https://github.com/open-mpi/ompi/pull/8941 fix PR:

The systems I've tested on now are
(full OMPI build)
    x86_64 mac (no __float128 path, uses f80_to_f128)
    ppc9 linux (uses __float128 conversion path)
    ppc9 linux (with __float128 artificially disabled leaving it with no conversion)
    x86_64 linux (uses __float128 conversion path)
    x86_64 linux (with _

[2021-05-28 22:56] omor1 commented on #9012
Thanks for clarifying that @yosefe! I clearly didn't read the MCA parameter description closely enough—I thought it worked similarly to e.g. `btl` and `btl_openib_if_include`. I'll go ahead and close the issue—this is working as intended.

[2021-05-28 22:56] #9012 closed

[2021-05-30 05:25] karasevb opened #9021 "Failures on MPICH tests (large_count, structpack2, struct_no_real_types, get_elements_pairtype, indexed_misc)"
## Background information

### What version of Open MPI are you using?
master, v4.1.x

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone
```./configure --prefix=`pwd`/install --enable-debug --with-ucx --enable-mpi1-compatibility --without-hcoll --disable-man-pages --enable-mpirun-prefi

[2021-05-30 21:33] opoplawski opened #9022 "Need a way to disable use of -mcx16 compile flag"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

This is regarding build the Fedora openmpi package

## Details of the problem

From https://bugzilla.redhat.com

[2021-05-31 06:11] ggouaillardet commented on #9022
@opoplawski Thanks for the report.

One option is to add a `RUN_IF_ELSE()` test (just like we do for `-latomic`).
That would do the trick but only if you build Open MPI on your Celeron processor.

Shall I guess you would not be happy with this, since you might want to install Open MPI from a binary package
provided by Fedora, and such binaries are unlikely built on Celeron?

An other option would

[2021-05-31 09:22] tetsushinto commented on #9004
@vspetrov Thanks for the information. This is a known issue in the current  HPC-X, right?
Since HPC-X is Nvidia product and coll/hcoll component is for Nvidia HCAs, could you tell me the HPC-X version and MLNX-OFED version that include this fix?

[2021-05-31 09:29] vspetrov commented on #9004
This issue will be fixed next HPCX 2.9 (not released yet)

[2021-05-31 16:41] opoplawski commented on #9022
The problem for the Fedora packaging is that it is built on hardware with cx16 support, but must be able to be run on hardware without it.  Ideally it would detect this at run time, but I'm not sure this is possible.  It seems like reverting to what I'm assuming is the old behavior of always using -latomic via a configure flag would be acceptable.

[2021-06-01 01:55] tetsushinto commented on #9004
@vspetrov Thanks very much for the information.

[2021-06-01 05:20] ggouaillardet commented on #9022
@opoplawski Fair enough, I issued #9023 (on `master`) to address this issue.

From a Fedora packaging point of view, you would now `configure --disable-cx16-atomics ...` to tell Open MPI **not** to test the `-mcx16` flag.

I revamped the logic, and the new expected behavior on your Celeron is
 - try without flags : fail
 - try to compile with `-mcx16` : success
 - test `-mcx16` generates correct c

[2021-06-01 14:13] amckinstry commented on #8596
Just to track: in the Debian bug above, there is a user who appears to have the problem despite the patch, when they use three systems:
$ mpirun.openmpi -host X:2,Y:2 ls

I've tried and failed to reproduce this.

[2021-06-01 16:52] bosilca commented on #9022
Adding an option to entirely skip the mcx16 test is fine, but if you add actual runs of the generated code you will breaks cross-compilation. Another solution, which is currently used by a lot of distro builders, is to force the target CPU (march and friends) via the initial flags (compile and link), in order to prevent the compiler from generating invalid instructions for the specified architectu

[2021-06-01 18:39] hjelmn commented on #9022
Thats rather disappointing that the distros will have to turn off this feature due to some sub-par processors. Is there no way to limit the effect to only these low-end processors?

[2021-06-02 01:54] ggouaillardet commented on #9022
@bosilca there is currently a test, and it is assumed to success in the case of cross compilation (well, as long as autotools see it as a cross-compilation).

I updated the PR to prepend `-mcx16` to `CFLAGS` (same as `op/avx`) to make sure `-march=...` takes precedence. Do you know which `-march=...` should be used for Celeron? I tried `-mcx16 -march=goldmont` on GCC 11, but there is no conflict a

[2021-06-02 14:28] bosilca commented on #9022
My bad, I missed the cross-compilation argument for AC_RUN_IFELSE.

[2021-06-02 20:10] wood-chris commented on #7988
I've also just worked out how to fix this. My solution was:

 - `apt install libpmi0-dev libslurm-dev`
 - compile OpenMPI with the following flags:

        CPPFLAGS=-I/usr/include/slurm LDFLAGS=-L/usr/lib/x86_64-linux-gnu/

   and

        --with-slurm --with-pmi=/usr/include/slurm/ --with-pmi-libdir=/usr/lib/x86_64-linux-gnu/

    I also found that the `CPPFLAGS` and `--with-pmi` search dirs nee

[2021-06-02 20:36] rhc54 commented on #7988
@wood-chris Negative to what you describe is that you are now back to using PMI-1, which has its consequences 🤷‍♂️

[2021-06-02 20:37] bwbarrett commented on #8990
The v4.0.x patch for adding the -L/usr/lib is https://github.com/open-mpi/ompi/pull/9024

[2021-06-02 21:31] wood-chris commented on #7988
@rhc54 my knowledge of anything PMI-based is pretty limited! What're the disadvantages of PMI-1 over anything else?

[2021-06-03 02:20] PerkzZheng opened #9030 "OPAL ERROR: Unreachable in file pmix3x_client.c at line 112"
Hi , I am using (Open MPI) 4.0.5 inside the latest Pytorch Docker.
I initialize the MPI by using `MPI_Init(NULL, NULL);` in a non-main function. And Finalize in another function.
Met an error shown below:
`[cd06b9552d9d:00987] OPAL ERROR: Unreachable in file pmix3x_client.c at line 112
*** An error occurred in MPI_Init
*** on a NULL communicator
*** MPI_ERRORS_ARE_FATAL (processes in this communic

[2021-06-03 15:20] rhc54 commented on #7988
There are two sets of consequences to using either of the legacy PMI's. First, they will typically take longer to start your application, though for small apps you probably won't notice the difference.

The biggest difference lies in the amount of information they provide versus PMIx. PMIx provides considerably more info that enables OMPI (and other libraries out there) to perform various optimiza

[2021-06-03 16:33] #9018 closed

[2021-06-03 16:43] brminich opened #9032 "status.MPI_ERROR field is always updated which violates MPI standard"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
master and v4.1.x

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
`'--with-libevent=internal' '--enable-mpi1-compatibility' '--without-xpmem' '--with-cuda=/hpc/local/o

[2021-06-03 17:04] artpol84 opened #9035 "Fix OSHMEM memory consumption scaling bug"
## Background information

At scale, the current OSHMEM implementation consumes a significant amount of memory used to store remote memory keys.
For each peer, a static "cache" of 32 items is maintained that results in a significant overhead per node. In practice, 2 or 3 items of this cache are actually used.
We are working on the patch to use dynamically allocated cache that will allocate only th

[2021-06-04 04:21] susilehtola commented on #9022
@opoplawski pinged me by email; I reported the original issue.

`-march` cannot be set since that comes from the Fedora default optimization flags, %optflags a.k.a. $RPM_OPT_FLAGS. The Fedora default flags on x86_64 (where the problem occurred) is just
[code]
That is, there is only the `-mtune=generic` flag so that the compiler makes no assumptions about the processor.

However, if you turn on fla

[2021-06-07 09:51] Extremys opened #9041 "MPI Spawn jobs doesn't work on multinode LSF cluster"
## Background information
### Version of used OpenMPI
OpenMPI v4.0.5
### OpenMPI installation
Installation from GCC 10.2 version of Easybuild recipe
[code]
### System description
* Operating system/version:  Redhat Enterprise 7.3
* Computer hardware:  Intel 64bits Broadwell gen
* Network type: eth
* iptable rules : empty
* Job scheduler: LSF 9.1 cluster of 3 Intel nodes
---------------------------

[2021-06-07 13:15] jjhursey commented on #9041
From my reading of the error log, I don't think this is related to LSF specifically, but might be something with spawn or the machine. In an LSF environment, we only use LSF to launch the ORTE daemons (or PRRTE daemons if you were using v5.x or later) then those daemons handle the MPI spawn and wireup mechanisms.

To try to eliminate spawn from the diagnosis: Are you able to run a "hello world" an

[2021-06-07 15:40] Extremys commented on #9041
Thank you a lot for your answer @jjhursey !
I tested the mpi hello world and ring examples with the first both export vars, and with the additional export vars after, all jobs are working greatly actually, so the ssh is ok between the nodes apparently and my spawns still not working in the both configurations. :)

[2021-06-07 15:53] jjhursey commented on #9041
So this may point to a general issue with spawn. I'm not certain of the stability of comm_spawn on the `v4.0.5` release.

Are you able to correctly run your spawn test with the following variables?
[code]
If not then can you post the debug output?

[2021-06-07 15:53] mwheinz opened #9042 "Add Cornelis Networks to the OMPI license file."
Simple housekeeping task to add CN to the list of copyright holders in the Open MPI LICENSE file.

[2021-06-07 16:54] Extremys commented on #9041
Thank you for your reactivity!
I have done the exports, the command to launch:
[code]
the output:
[code]

Do you think an upgrade would be beneficial? @jjhursey Thank!

[2021-06-07 17:04] jjhursey commented on #9041
You might try v4.1.1 to see if the behavior changes. This points to an issue with wireup around spawn from what I'm seeing from these logs.

[2021-06-07 17:54] Extremys commented on #9041
So just build v4.1.1 and run the same example in same conditions, it seems to be more talktative i get this output:

[code]
Thank you for your time! @jjhursey

[2021-06-08 01:33] PHHargrove opened #9050 "OMPI_{CC,CXX}=mpi{cc,cxx} is a fork-bomb"
## Background information

Seen on Linux/x86-64 with v4.0.5 built from tarball, and Linux/aarch64 with v4.0.4rc3 (I am guessing also from tarball).
However, there is no reason to believe this is related to version or build method.

## Details of the problem

I am looking at two projects where one advises `CXX=mpicxx`, while the other sets `OMPI_CXX=$CXX; CXX=mpicxx` in its `Makefile`.  Unfortunate

[2021-06-08 05:01] geohussain opened #9051 "Memory Leak using Cuda-Aware MPI_Send and MPI_Recv for large packets of data"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
4.0.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from source v4.0.5 with cuda-aware enabled

### Please describe the system on which you are running

* Operating

[2021-06-08 13:09] jsquyres commented on #9051
FYI @open-mpi/ucx

[2021-06-08 13:27] yosefe commented on #9051
adding @Akshay-Venkatesh
@geohussain
1. can you please post mpirun command line?
2. is it a single node job?
3. do you know if UCX is being used?

[2021-06-08 14:58] geohussain commented on #9051
1. `mpirun -n 2 ./mpi_gpu_buffer`
2. Yes, it is a single node job
3. UCX is being used

[2021-06-08 15:59] hppritcha opened #9053 "OPAL_CONVERTOR_PREPARE - is this awful practice?"
The OPAL_CONVERTOR_PREPARE calls return for various convertor cases.  This seems to be bad practice to do in a macro.
Indeed in the places where this macro is used, there has been additional code added below the call which may never be reached as return had been invoked in OPAL_CONVERTOR_PREPARE.

[2021-06-08 16:16] devreal commented on #9053
There is no reason for this to be a macro, it could as well be an inline function. I'd love to see us move from macros to inline functions for any macro that is not a type-generic function (C's way of C++ templates). Such returns are just one reason, parameter substitution issues and debugging capabilities are others. I don't think there would be any negative impact on performance if `OPAL_CONVERT

[2021-06-08 16:19] bosilca commented on #9053
That macro is well the way it is, a common part for the initialization of both pack and unpack convertor, that returns as soon as the convertor is completely initialized.

[2021-06-08 16:25] awlauria commented on #9053
It's my understanding that the usage of `'inline` does not guarantee that the function is inlined, as with a macro. Compilers are still free to do what it wants as it is merely an unbinding suggestion:

[code]

Here: https://en.cppreference.com/w/cpp/language/inline

Not saying that this is a bad way to go, but it is something to consider.

[2021-06-08 20:21] Akshay-Venkatesh commented on #9051
@geohussain which version of ucx is being used here?

[2021-06-09 04:29] qingfengfenga opened #9054 "Using openmpi to cluster parallel computing on openfoam, the solver execution files of other nodes can not be found"
I use two nodes to do parallel computing test of openfoam cluster

SSH password free and shared folder have been configured

[code]

I've seen this problem, but it doesn't help me #6293

## Background information
### OpenMPI version
#### node1
[code]

####
[code]

### How to install it
#### node1/node2

Openmpi installed by source / distribution

### On what system
#### node1

[code]

#### node2

[2021-06-09 04:37] geohussain commented on #9051
[code]

[2021-06-09 04:55] ggouaillardet commented on #9054
Can you `ssh node2` and then `/opt/openfoam8/platforms/linux64GccDPInt32Opt/bin/icoFoam` ?
Is this file on a parallel filesystem?
You also need to double check the permissions (e.g. executable) and the dependencies (`ldd /opt/openfoam8/platforms/linux64GccDPInt32Opt/bin/icoFoam`)

[2021-06-09 06:01] qingfengfenga commented on #9054
I executed `ssh node2` and then `/opt/openfoam8/platforms/linux64GccDPInt32Opt/bin/icoFoam`, It was executed successfully and the results were output, and of course, it was just a single core

Currently, node1 and node2 only share test files through NFS. Openfoam and openmpi are not shared, but the user and path structure are completely consistent. Do I need to share openfoam and openmpi environme

[2021-06-09 06:18] ggouaillardet commented on #9054
You do not *have to* put everything on NFS. But you will find some issues if you try to `MPI-IO` on a local filesystem.
As long as your working directory and the input/output files are on a shared filesystem, you should be fine.

I noted the dependency on `liblsp.so` is only on `node1` (I do not think that should be an issue though)

From the shared filesystem, have you tried to
[code]

[2021-06-09 06:30] qingfengfenga commented on #9054
As you can see, there are still four cores that cannot find icofoam files on other nodes. Is there any variables in openmpi that are related to this to specify the executable on other nodes?

[code]

[2021-06-09 06:58] ggouaillardet commented on #9054
I did not see much things in these kanjis ...

Anyway, now is a different issue: the binaries are found on all the nodes, but some dependencies are not.
I guess you have `/opt/openfoam8/platforms/linux64GccDPInt32Opt/lib` in your `LD_LIBRARY_PATH` and it does not exported to `node2`.

What if you
[code]

[2021-06-09 07:10] qingfengfenga commented on #9054
Sorry, I pasted the wrong text, I have made an update.

node1

[code]
node2
[code]
LD_ LIBRARY_ Path seems to be configured correctly，but it's still wrong

This is the result of implementation
[code]

[2021-06-09 07:33] ggouaillardet commented on #9054
`LD_LIBRARY_PATH` is correctly set when you `ssh node2`.
If you want to put yourself in Open MPI shoes, you can
[code]
and see how it goes.

Anyway, as far as Open MPI is concerned, the problem is now fixed.

The remaining issue is specific to OpenFOAM (controlDict not found) and it is up to you to fix it.

A few questions you must ask yourself (and answer ...)
Is it on the shared filesystem? Did

[2021-06-09 07:55] qingfengfenga commented on #9054
As you can see, the file exists. I may need to check the variable configuration of openfoam to solve the problem of not finding controldict.

[code]
Thank you very much, I will continue to eliminate the problem, and after the problem is solved, release a complete document and error checking method to the people in need, thank you again for your answer!

[2021-06-09 10:43] Extremys commented on #9041
I still have the issue even if I force the eth interface choice, very strange ...
[code]
output:
[code]

[2021-06-09 14:22] Akshay-Venkatesh commented on #9051
@geohussain

I'm able to reproduce the issue. cuda-ipc transport in UCX caches peer mappings and a free call of peer mapped memory is not guaranteed to release memory. These get freed at finalize (or if VA recycling is detected which appears not to be the case) and the workaround is to disable caching by using (UCX_CUDA_IPC_CACHE=n). For the sample program you've provided, this doesn't have an imp

[2021-06-10 00:55] dcentella16 opened #9056 "Error: cannot find '-lpmpi' when compiling app with OMPI v1.10.7"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI 1.10.7

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installed using tarball.

### Please describe the s

[2021-06-10 01:29] ggouaillardet commented on #9056
Open MPI 1.10.7 is quite legacy today, and is clearly no more supported.

Anyway, I do not think there is a `libpmpi.so` so I suggest you simply remove `-lpmpi` from your `Makefile` and see how it goes. I expect it to work since all `PMPI_*` symbols (if ever used by your application) are in `libmpi.so`.

[2021-06-10 03:55] awlauria commented on #9056
@dcentella16 if you can it's recommended to upgrade to the ompi v4 series. You can find the release tarballs here:

https://www.open-mpi.org/software/ompi/v4.1/

https://www.open-mpi.org/software/ompi/v4.0/

[2021-06-10 06:57] henrysun007 opened #9057 "Will openmpi support encrypted communication among processes?"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
The latest master.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
[code]

### If you are building/installing from a

[2021-06-10 07:14] ggouaillardet commented on #9057
I do not think we have such a plan.

It you are communicating over TCP, then one "agnostic" solution is to use IPSec or other encryption method at the TCP level.

[2021-06-10 14:30] jsquyres commented on #9057
To add to what @ggouaillardet stated: the focus of MPI has traditionally been extreme speed and performance.  Adding encryption is somewhat counter to that focus.  That being said, encryption is getting offloaded to hardware these days.

We'd be happy to consider contributions that optionally add things like TLS encryption to the TCP BTL and/or other transports.  Especially if the encryption can b

[2021-06-10 14:38] bwbarrett commented on #9057
@jsquyres summed up the TCP situation pretty well.  For high speed networks, that is really a detail best left to the hardware, and is probably situational dependent.  For example, the network of a Cray EX computer is probably best protected by putting a lock on the door and a guard out front.  On the other hand, AWS EFA does support transparent encryption of data in transit, because it is hard fo

[2021-06-10 15:36] #9054 closed

[2021-06-10 21:34] viniciusferrao commented on #6854
Any workaround if I'm not using Mellanox OFED distribution? mlxconfig is not available.

[2021-06-10 22:55] yosefe commented on #6854
@viniciusferrao can you try building mlxconfig tool from https://github.com/Mellanox/mstflint?

[2021-06-11 07:56] qingfengfenga commented on #9054
The problem has been solved. When openmpi runs the command, it needs to add network parameters.
[code]

[2021-06-11 13:09] #9008 closed

[2021-06-11 13:11] tkordenbrock commented on #8914
Superseded by #9008

[2021-06-11 13:11] #8914 closed

[2021-06-12 03:44] ye-luo opened #9059 "Need -lopen-pal for lld when linking dynamically"
## Background information
AOMP 13.0-3 compiler uses lld as the default linker.
lld by default link with --no-allow-shlib-undefined
ld.lld: error: /usr/lib/x86_64-linux-gnu/openmpi/lib/libmpi_cxx.so: undefined reference to opal_uses_threads [--no-allow-shlib-undefined]

To make OpenMPI compiler wrappers work for both ld and lld. My local fix is editing /usr/share/openmpi/mpiXXX-wrapper-data.txt
and

[2021-06-12 13:09] jsquyres commented on #9059
Can you try the latest 4.0.x release (either 4.0.5 or the recently-published 4.0.6rc4), or even the 4.1.1 release?

[2021-06-12 14:46] ggouaillardet commented on #9059
@ye-luo Please keep in mind the C++ bindings were removed from the MPI standard more than a decade ago, and they will likely be removed from future Open MPI versions as well.

[2021-06-12 16:16] ye-luo commented on #9059
If openmpi is configured with `--enable-mpi-cxx`
share/openmpi/mpicxx-wrapper-data.txt contains
[code]
and it went bad.

if openmpi has C++ binding disabled
share/openmpi/mpicxx-wrapper-data.txt contains
[code]
works well.

I don't use C++ binding but I think for the ubuntu package maintainer, It is  also fair to enable C++ binding to support a wilder range of users. As long as OpenMPI is still sh

[2021-06-13 04:29] ggouaillardet commented on #9059
@ye-luo Fair enough, any given provided feature should work.
FWIW, I confirm the `--enable-mpi-cxx` option has been removed from the upcoming Open MPI v5 series.

I think the right fix here is not to update the wrapper, but have `libmpi_cxx.so` explicitly depends on `libopen-pal.so`.
Feel free to give #9060 a try - note , you will need recent autotools, and run `./autogen.pl` or `./autogen.pl --fo

[2021-06-14 05:24] ye-luo commented on #9059
#9060 made lld happy in my test.

[2021-06-14 05:33] ggouaillardet commented on #9059
Great, thanks for the feedback!

[2021-06-14 05:52] ggouaillardet opened #9061 "Rename persistent collectives from MPIX_* to MPI_*"
@kawashima-fj @jsquyres

MPI 4.0 has been released!

That means (among so many other things) that non blocking collectives are now part of the standard, and have hence to be
moved from `mpiext` to `mpi` and renamed from `MPIX_*` to `MPI_*`.

Unless someone has already started this effort, this is something I can start by the middle of this week.

[2021-06-14 07:30] kawashima-fj commented on #9061
@ggouaillardet I've been thinking about that since last week but I don't have enough time to work now. If you have time, I leave it for you.

A question to the community:
Persistent collectives are included in Open MPI 4.0.x and 4.1.x with the `MPIX_` prefix. Should we keep them for compatibility?

p.s. I guess you mean persistent collectives, not non-blocking collectives. I changed the issue titl

[2021-06-14 07:38] ggouaillardet commented on #9061
@kawashima-fj Thanks for correcting the wording.

OK, I will do that sometimes this week

I initially did not plan to backport the changes to the v4 series, and since v5 will break ABI (at least this is what I understand), I would not worry about compatibility.
This is not a strong opinion though.

[2021-06-14 07:59] kawashima-fj commented on #9061
@ggouaillardet I don't mean backporting `MPI_*` to v4 series. I wondered we should keep `MPIX_*` in `master` (and v5 series) with `__attribute__((deprecated))` or not. I don't have an opinion for it. Just a question.

[2021-06-14 12:53] jsquyres commented on #9061
First: woo hoo!!  Thanks for taking this up, @ggouaillardet

I wouldn't worry about keeping the old MPIX symbols.  We have not done that in the past.

@kawashima-fj That being said, do you have any customers who would prefer to have the MPIX symbols available for a release or two in order to help transition to the new symbol names?

[2021-06-14 13:58] kawashima-fj commented on #9061
@jsquyres No, I don't have (know) any specific customers who prefer to keep `MPIX`. So let's drop `MPIX` unless other people complain.

[2021-06-14 14:03] ggouaillardet commented on #9061
I might have found one: our very own ibm test suite (!)

that being said, we can do something cheap like `#include MPIX_Bcast_init MPI_Bcast_init` in `mpi-ext.h`and/or implementing wrappers `int MPIX_Bcast_init(...) { return MPI_Bcast_init(...);}` that will be trivial to remove when we decide to stop testing persistent collective on the v4 series.

[2021-06-14 15:26] hjelmn opened #9062 "Large message collective performance drops when using coll/han"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from source

### If you are building/installing from a

[2021-06-14 15:34] hjelmn commented on #9062
I should have added that this is with 8 nodes.

[2021-06-14 17:44] hjelmn commented on #9062
```--mca coll_han_use_simple_allreduce true``` helps somewhat:

[code]

[2021-06-15 12:52] awlauria commented on #4730
This got re-merged in:
https://github.com/open-mpi/ompi/pull/8976

[2021-06-15 14:03] awlauria commented on #4730
v5.0.x: https://github.com/open-mpi/ompi/pull/9064

[2021-06-15 19:02] hppritcha commented on #8024
done with 4.0.6

[2021-06-15 19:02] #8024 closed

[2021-06-15 19:03] hppritcha opened #9066 "Open MPI 4.0.7 release checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2021-06-15 19:03] hppritcha commented on #9066
hopefully we will not need to do a 4.0.7 release but just in case

[2021-06-16 09:53] karasevb opened #9068 "Asynchronous modex broken"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v5.0.x (7e10b8c355de7f9b444e913819318ed17d7834ab), master (b6d7bf1475)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc

[2021-06-16 15:00] abouteiller opened #9070 "Mpool huge page finalize crashes in debug builds"
Thank you for taking the time to submit an issue!

## Background information

huge page mpool crashes when finalizing the bucket allocator, due to deinitializing objects in the wrong order.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Bug present in master, v5.0.x, v4.1.x

### Describe how Open MPI was installed (e.g., from a source/distribut

[2021-06-17 13:27] gpaulsen commented on #9014
@bwbarrett Did you discover anything specific about this yet?  Will this be rolled into general configury fixes?

[2021-06-17 13:36] bwbarrett commented on #9014
We have a plan, that is basically OMPI is going to provide a binary mpirun (rather than a symlink) that just handles OPAL_PREFIX and then calls into PRRTE.  We still have some work to do in OMPI to set the PRRTE and PMIx prefix environment variables properly.  This is on my todo list, still.

[2021-06-17 13:40] gpaulsen commented on #8925
@abouteiller Could you please take a look to see if this was introduced with the fault-tollerant changes?

[2021-06-17 13:40] gpaulsen commented on #8925
@abouteiller Could you please take a look to see if this was introduced with the fault-tollerant changes?

[2021-06-17 14:20] abouteiller commented on #8925
Yes, do you have a replication recipe for the problem?

[2021-06-17 16:22] awlauria commented on #9010
Retested this on v5.0.x and master, and can no longer reproduce. Spoke to @rhc54 and we believe this was probably fixed in the hostname resolutions changes.

Also re-verified that I can't reproduce on v4.0.x.

Closing.

[2021-06-17 17:12] gpaulsen commented on #7830
@jsquyres @awlauria #9010 has been closed (some PMIx/PRRTE change, not root caused), so perhaps this issue also just needs to be retested?

[2021-06-17 17:29] awlauria commented on #7830
It helps but I still run into issues.

Unfortunately I haven't had time to press on it much since the last update, and am out next week. Earliest I can give cycles on it would be the 28th.

[2021-06-17 18:16] #9068 closed

[2021-06-21 07:32] tetsushinto opened #9079 "Questions about SRQ depletion"
Hello,

We need to know following regarding SRQ.

Q1. Could you please tell me what the maximum (default) SRQ number when using openmpi with MLNX-OFED that can be created?
(Does the above number depend on MLNX-OFED version?)

Q2. What is the behavior of Subnet Manager when SRQ is exhausted?

As a background, we saw that performance was extremely poor when collective communication was performed by

[2021-06-21 09:48] nariba-fj commented on #9079
Hello, Shinto-san.

I have seen a similar phenomenon in my environment.
After researching, we too believe that SRQ depletion is the cause.
I would like to know if it is the same thing or not.

- Are you using OpenIB or UCX?
- The result of `ompi_info --all`
- The environment of the machine you are using (Open MPI version, number of nodes, CPU, etc.) and runtime options

The following is what we kn

[2021-06-21 14:05] janjust commented on #8884
@ggouaillardet Can you offer some input on this issue - seems to be this is a ROMIO cuda detection logic.

[2021-06-21 14:55] devreal opened #9080 "Mixing UCX pml and osc performance degradation"
I have been working on an experimental extension to MPI that is built on top of osc/ucx. Unfortunately, during experiments with PaRSEC I found that the combination of osc/ucx and pml/ucx leads to a significant performance degradation. I have not been able to reproduce this with a small example but I have been able to observe this behavior in a modified PaRSEC runtime where the data payload is tran

[2021-06-21 15:22] yosefe commented on #9080
can you pls try setting `-mca pml_ucx_progress_iterations 1` ?

[2021-06-21 15:47] devreal commented on #9080
I will rerun the experiments with `pml_ucx_progress_iterations 1` but I don't see how that can help with the long calls into `ucp_put_nbi` since there is only one thread calling into MPI and the puts don't require anything else to progress. Will report back :)

[2021-06-21 16:01] yosefe commented on #9080
potentially, put_nbi takes longer time because of internal UCX requests memory allocation (also you would see mem usage grows) - because osc/ucx does not progress frequently enough to release completed put_nbi operations.  `pml_ucx_progress_iterations 1` should make pml/ucx yield more progress cycles for osc/ucx

[2021-06-21 19:19] jsquyres commented on #9056
Piling on what @ggouaillardet and @awlauria stated: it's also worth noting that the MPI standard does not require that a library named `libpmpi` exists / that `-lpmpi` works.  It's probably worth following @ggouaillardet's advice: just drop the `-lpmpi` and probably everything will be ok.

Please feel free to re-open this issue if you have further questions about it.

[2021-06-21 19:19] #9056 closed

[2021-06-21 20:21] hpcraink opened #9083 "Segfault with wrong code"
## Background information
User code which does not set AMODE for MPI_File_open() causes OpenMPI to segfault

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
git, but also 4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Standard 4.1.1 ta

[2021-06-22 01:14] ggouaillardet commented on #8884
My apologies for the late reply, I failed to notice these notifications

Indeed, ROMIO (MPL to be more specific) detects CUDA and add it to its dependencies.

Did we change the default to `--disable-dlopen` in `master` and `v5.0.x`?
If not this is a separate issue.
Anyway, that means that `libcuda.so` ultimately get added to the list of `libmpi.so` dependencies.

A simple fix is to force MPL **not

[2021-06-22 13:55] janjust commented on #8884
@gpaulsen @awlauria What do you guys think? I think it's a good fix for now, and we can revisit with an open issue down the road?

[2021-06-22 15:08] janjust commented on #8919
👍

[2021-06-22 15:45] jsquyres commented on #8884
What does ROMIO use CUDA for -- will not using ROMIO's CUDA functionality be a problem?  (I realize that OMPIO is the default, so this may not be an important issue, but it's still worth asking the question)

I'm not too wild about using an `$ac_cv_*` variable -- those are undocumented.  At a minimum, we should probably add comments that we're specifically forcing ROMIO to not use CUDA by an undoc

[2021-06-22 16:45] afernandezody opened #9085 "Error Signal code: Address not mapped (1)"
Hello,
## Background information
OpenMPI: v4.1.0 or v4.1.1(installed from stable source)

The AWS instance is running CentOS8 (x86_64); the instance family is r5 (Skylake). After some troubleshooting, the error seems to appear and disappear depending on the libfabric version. When the system uses libfabric-aws-1.10.2g everything sails smoothly, the problems appear when libfabric-aws is upgraded to

[2021-06-22 16:51] wzamazon commented on #9085
@afernandezody Since you have a core dump, would you please get a back trace from it?

[2021-06-22 18:17] afernandezody commented on #9085
Hi @**wzamazon**,
I was able to simplify my initial configuration a little bit. It uses GCC 8.3.1 20191121 (the one coming with the CentOS8 distro) and OpenMPI was configured with:
`./configure CC=/usr/bin/gcc CXX=/usr/bin/g++ FC=/usr/bin/gfortran --enable-trace --prefix=/opt/praetorium/openmpi --with-ofi=/opt/amazon/efa
`
I'm getting the error with a hello_world code:
[code]
that still produces
[

[2021-06-22 18:20] afernandezody commented on #9085
I'm still working on the backtrace. Thus far, I see
 ./a.out
[code]

[2021-06-22 18:24] wzamazon commented on #9085
@afernandezody

Thanks! There should be a file named `core.xxxx` under your current working directory. try to run

` gdb ./a.out core.xxxx`

This should start `gdb`, once in gdb, type `bt`, this should print the back trace. Thank you!

[2021-06-22 18:32] wzamazon commented on #9085
I did a quick test on my current working instance (using amazon linux 2), I was not able to reproduce. I will try again later using centos8

[2021-06-22 18:40] afernandezody commented on #9085
@**wzamazon**,
I don't see the core file and bt is not working for me. When I go into gdb and run the code, it outputs
[code]
but tb returns
[code]
I haven't used gbd in a long while so I'm probably missing something.

[2021-06-22 19:25] edgargabriel commented on #8884
I don't know the precise answer for ROMIO, but in OMPIO we have the option to be able to read/write an unmanaged cuda buffer using MPI_File_read/write and friends, I would suspect its the same for ROMIO

[2021-06-22 22:03] #9083 closed

[2021-06-23 00:21] ggouaillardet commented on #8884
The CUDA stuff is used in `MPL`. `MPL` looks like an abstraction layer, and though it is generally needed to build ROMIO, ROMIO does not use any `MPL_gpu_*()` subroutines, so I think it is safe to assume ROMIO does not use CUDA at all.

If there is no more objections, I will definitely add a comment to explain why and how we disable CUDA in ROMIO,
and keep in mind disabling CUDA from the command l

[2021-06-23 01:42] henrysun007 commented on #9057
I am closing this issue as I have got the thoughts of the community about MPI communication encryption. Thank you.

[2021-06-23 01:42] #9057 closed

[2021-06-23 06:17] tetsushinto opened #9087 "IB communication speed per process"
Hello,

Is the communication speed per process about 20 Gbps as the specification of InfiniBand?
Or is it possible to increase the communication speed per process by setting the port of the InfiniBand device?

When examining the communication speed that does not include disk I/O with a performance tool such as iperf, it seems that the effective speed per process has peaked at about 20 Gbps.

Howev

[2021-06-23 14:31] jsquyres commented on #9087
FYI @open-mpi/ucx

[2021-06-23 14:51] yosefe commented on #9087
@tetsushinto can you pls post the output of `ibv_devinfo -v` on the Infiniband server?

[2021-06-23 17:06] shijin-aws commented on #9085
@afernandezody Hi, could you specify what exact instance type are you using?

[2021-06-23 17:10] jsquyres commented on #9085
@afernandezody Can you follow the instructions @wzamazon posted in https://github.com/open-mpi/ompi/issues/9085#issuecomment-866227954?  The data you sent wasn't what he asked for.

Thanks!

[2021-06-23 17:16] afernandezody commented on #9085
@**jsquyres**,
I couldn't do the backtrace as there was no core file. Not sure if they were able to reproduce the issue but I will go back and retry the creation of the core files.

[2021-06-23 17:18] jsquyres commented on #9085
@afernandezody Understood.  But you reproduced the error in `gdb` via `run`; can you send the `bt` results (backtrace)?  You apparently tried `tb`, which isn't a `gdb` command.

[2021-06-23 17:21] afernandezody commented on #9085
@shijin-aws,
I'm using a r5.large for configuration & customization purposes. EFA only kicks in after running parallelcluster, which loads the drivers.

[2021-06-23 17:25] shijin-aws commented on #9085
@afernandezody so you are using efa enabled instance type as your compute node?

[2021-06-23 17:33] afernandezody commented on #9085
@**shijin-aws**, Eventually yes. Once everything clicks, the clusters use EFA-enable instances.

[2021-06-23 17:36] afernandezody commented on #9085
@**jsquyres**,
My bad, I must have copied the outcome from the wrong gdb command as I tried several things yesterday. When I try bt, it doesn't find a stack:
[code]

[2021-06-23 17:40] jsquyres commented on #9085
@afernandezody Gotcha.  Check your coredumpsize limit and see if it's set to 0.  If so, set it to unlimited and try again.  For example (in zsh):

[code]

[2021-06-23 18:12] afernandezody commented on #9085
@**jsquyres**, I'm not sure if I understand the difference between the commands limit and ulimit because the former is not in my system (that runs bash) and dnf doesn't find it either. I modified the limits.conf file to increase the core file limit:
[code]
However, there is no coredumpsize and the backtracing is still not finding any stack.

[2021-06-23 19:06] shijin-aws commented on #9085
@afernandezody Thanks. Based on the conversation, you are building Open MPI and libfabric on the head node of a parallel cluster, which is a r5.large instance (non-EFA) with CentOS 8 AMI. And you can hit the error with `mpirun -np1`, which I believe is still running within the head node (non-EFA), right? If so, could you also share the parallel cluster version you are using, and some basic configu

[2021-06-23 21:02] shijin-aws commented on #9085
@afernandezody I created a parallel cluster 2.10.4 (their latest one) with centos 8 as base_os, and build an Open MPI 4.1.1 with the configure you posted. I installed libfabric-aws-1.11.2amzn1.1.

I compiled the code you posted and I can run the program successfully:

[code]

[2021-06-23 21:27] afernandezody commented on #9085
Hi @**shijin-aws**,
Sorry for the delay. Yes, I'm also using the same base OS (ami-0598a2f18554d1972 in the N. Va region). Did you install libfabric-aws-1.11.2amzn1.1 before or after building OpenMPI? If the latter, then jobs should work fine as they do for you. If you installed libfabric-aws-1.11.2amzn1.1 before building the wrapper, the only thing is that I also upgraded the kernel (sudo yum ins

[2021-06-23 21:31] shijin-aws commented on #9085
@afernandezody I installed libfabric-aws-1.11.2amzn1.1 as part of efa installer 1.12.1 before building Open MPI. How did you get `efa-1.12.2-1.el8.x86_64.rpm`? The latest released efa installer has efa-1.12.1-1.el8.x86_64. Did you build it yourself from https://github.com/amzn/amzn-drivers/releases/tag/efa_linux_1.12.2?

[2021-06-23 21:34] afernandezody commented on #9085
Yes, that is correct. This whole thing is related to another thread https://github.com/amzn/amzn-drivers/issues/175; I thought that an upgrade would serve until the newer EFA installer became available, but didn't foresee this chain of events.

[2021-06-23 21:46] shijin-aws commented on #9085
I upgrade the efa kernel module to 1.12.2, but I can still run your program successfully on both the head node (r5.large) and the efa enabled compute node ( c5n.18xlarge)

[code]

[2021-06-23 21:50] shijin-aws commented on #9085
I checked my ami-id is `ami-0598a2f18554d1972`, the same as yours.

I could try to rebuild Open MPI again, though it's not clear to me how the sequence matters if the libfabric is installed in the same path `/opt/amazon/efa`

[2021-06-23 22:08] afernandezody commented on #9085
I'm not sure why of the different behavior. My hypothesis was that if OpenMPI grabs something from the upgraded kernel (through the fabric libraries) to compile the code, the executables will be slightly different (at the very low-level), but maybe this is not right. The only way to be sure would be to compare both executables (pretty much bit-by-bit).
Unfortunately this problem has gotten totally

[2021-06-23 22:24] shijin-aws commented on #9085
@afernandezody Here is a simpler set up that works for me.
- create a clean pcluster 2.10.4
- update libarchive to 3.3.3 via `sudo yum update -y libarchive` (this is a workaround to fix the issue in efa-driver 1.12.1 mentioned in https://github.com/amzn/amzn-drivers/issues/175.
- install efa installer 1.12.1

Then you should have open mpi 4.1.1, libfabric 1.11.2amzn1.0, and efa kernel module 1.12.

[2021-06-23 22:47] afernandezody commented on #9085
Hi @**shijin-aws**,
Are you telling me that the whole rdma-core fork issue can be overcome by simply upgrading libarchive? Because the whole _enchilada_ has been to avoid that issue. Based on your feedback, I'll create a new configuration from scratch [you didn't mention but I'm assuming that before updating libarchive, you also updated the OS].

[2021-06-23 22:52] shijin-aws commented on #9085
@afernandezody

no, sorry for the confusion. rdma-core fork issue is fixed in libfabric 1.11.2amzn1.1. libarchive update is a workaround for the efa driver 1.12.1 installation issue you reported in https://github.com/amzn/amzn-drivers/issues/175. I assumed you want to use the libfabric 1.11.2amzn1.1 in efa installer 1.12.1, but hit the efa driver 1.12.1 installation issue when you running efa inst

[2021-06-23 23:53] SharonBrunett commented on #8967
Jeff,
So sorry for the delay.

The benefit, in the case of our local configuration, for having multiple IPs/subnets per interface is so one IP interface can be used for internal cluster traffic (e.g. Ceph) to other cluster nodes, whereas the second IP interface  is used for connections to the login/head nodes.

Sharing a single physical NIC port is a function of the server’s hardware limitations.

[2021-06-24 17:29] jsquyres opened #9099 "CM PML getting selected instead of OB1 PML + usNIC BTL in Open MPI v4.x"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

All 4.x versions.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From distribution tarball.

### Please describe

[2021-06-25 14:33] jsquyres commented on #9099
Fixed by #9101, #9102, #9103, #9104.

[2021-06-27 16:12] afernandezody commented on #9085
@**shijin-aws**,
At the end, I decided to wait until the release of parallelcluster 2.11.0 to recheck everything out and try to isolate the issue. Even if I move forward with the updated AMI, I still would like to understand the root of the problem; otherwise, it would have meant burning a lot of time for nothing.

[2021-06-28 02:01] tetsushinto commented on #9087
@yosefe please see below:

# ibv_devinfo -v
hca_id: mlx5_0
transport: InfiniBand (0)
fw_ver: 12.18.1000
node_guid: ec0d:9a03:0039:772e
sys_image_guid: ec0d:9a03:0039:772e
vendor_id: 0x02c9
vendor_part_id: 4115
hw_ver: 0x0
board_id: FJT2180110032
phys_port_cnt: 1
max_mr_size: 0xffffffffffffffff
page_size_cap: 0xfffffffffffff000
max_qp: 262144
max_qp_wr: 32768
device_cap_flags: 0xe97e1c36
BAD_PKEY_C

[2021-06-28 16:10] devreal commented on #9080
Sorry for the delay, I had to do some more experiments. First, setting ` pml_ucx_progress_iterations 1` does not make a difference, the results are the same.

I did run with UCX profiling enabled and had a hard time interpreting the information. Unfortunately, the aggregated information does not provide maximums, only average, which makes it hard to find any outliers. I also ran with logging enabl

[2021-06-28 16:17] yosefe commented on #9080
Yes, the output interpretation is correct. What UCT transport(s) are being used (can add UCX_LOG_LEVEL=info to print them).
I would not expect it will be so long for an IB transport since it doesn't wait for anything

[2021-06-28 22:34] shijin-aws commented on #9085
@afernandezody Hi, to understand the root cause of the problem you reported, could we know
1. what is the parallel cluster version you used that hit the issue?
2. how did you build OpenMPI: v4.1.0 or v4.1.1 from source?

[2021-06-29 04:35] karasevb commented on #9068
@rhc54 was it fixed for v5.x?
I confirm that `master` works well, but v5.0.x still fails.

[2021-06-29 07:23] rhc54 commented on #9068
Should have been committed a few days ago: https://github.com/open-mpi/ompi/pull/9096

[2021-06-29 07:37] Flamefire opened #9105 "Can't install with system PMI if system also has PMIx but not libevent"
## Background information

I want to reinstall OpenMPI the same as I did before but in the meantime the pmix-devel libs have been installed on the cluster. Now the OpenMPI configure process insists on using that and fails due to missing libevent-devel libs but I want to use neither!

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Tested many ver

[2021-06-29 08:42] ggouaillardet commented on #9105
Thanks for the report, there is indeed something wrong with the pmix detection.

can you give the inline patch below a try?
note you will need recent autotools, and run `./autogen.pl` (or `./autogen.pl --force` if you apply the patch on an official tarball)

[code]

[2021-06-29 08:46] ggouaillardet commented on #9105
@rhc54 I think I spotted an other issue (not the root cause here)

[code]

Open MPI was configure'd with `--with-pmi`
SLURM `pmi1` and `pmi2` were found in `/usr/include/slurm`, but SLURM's `pmix.h` header was searched in `/`
(I guess it should have been searched in `/usr/include/slurm` too).

[2021-06-29 10:37] Flamefire commented on #9105
I don't think the proposed patch would work. `opal_external_pmix_happy` is set by `OPAL_CHECK_PMIX_LIB` so from what I can tell it cannot be set at this point which basically disables this code.

Also related to this: `./configure --with-slurm --with-pmi=/usr
 --with-pmi-libdir=/usr/lib64 --with-knem=/opt/knem-1.1.3.90mlnx1 --enable-mpirun-prefix-by-default  --enable-shared  --with-hwloc=/opt/hwlo

[2021-06-29 12:27] ggouaillardet commented on #9105
yep, `test "$with_pmix" != "internal"` should do the trick.

I did not author these bits, but I would guess the intention was to look for `SLURM` pmix headers in the ad-hoc `/usr/include/slurm` directory and/or treat SLURM `PMIx` just like `PMI1` and `PMI2`.

[2021-06-29 12:31] Flamefire commented on #9105
This won't work for the use case above: `--with-pmix=/opt/PMIx`

I'd recommend removing that whole call. If the user wants to use the slurm PMIx he can use `--with-pmix=/usr/include/slurm`

[2021-06-29 12:34] rhc54 commented on #9105
Hi @ggouaillardet - afraid that has nothing to do with me. This is all OMPI "glue" code, so somebody on the OMPI side of things will need to figure it out 😄

[2021-06-29 13:44] vchuravy opened #9106 "Support cross-compilation of OpenMPI with Fortran enabled"
IIUC currently OpenMPI can only be cross-compiled with Fortran bindings disabled. As an example see https://github.com/open-mpi/ompi/blob/6d237e85d730ed946c9f45fcd3e19b78a243203e/contrib/platform/lanl/darwin/mic-common#L20-L25 and https://github.com/JuliaPackaging/Yggdrasil/pull/3230

This is due since several of the scripts require running their compiled prgrams:
- https://github.com/open-mpi/omp

[2021-06-29 15:40] #9070 closed

[2021-06-29 16:08] rhc54 commented on #9105
The snippet from Gilles is coming from the OMPI configure, not PMIx - OMPI is looking for the pmix.h header and not using the Slurm location.

[2021-06-29 16:23] awlauria commented on #7626
checking MTT results, the failure no longer [reproduces](https://mtt.open-mpi.org/index.php?limit=&wrap=&trial=&enable_drilldowns=&yaxis_scale=&xaxis_scale=&hide_subtitle=&split_graphs=&remote_go=&do_cookies=&phase=test_run&text_start_timestamp=past+48+hours&text_platform_hardware=all&show_platform_hardware=show&text_os_name=all&show_os_name=show&text_mpi_name=all&show_mpi_name=show&text_mpi_versi

[2021-06-29 16:23] #7626 closed

[2021-06-29 19:02] awlauria commented on #9042
Fixed by:

v4.0.x: https://github.com/open-mpi/ompi/pull/9049
v4.1.x: https://github.com/open-mpi/ompi/pull/9047

[2021-06-29 19:02] #9042 closed

[2021-06-29 19:10] awlauria commented on #9059
PR's merged, closing.

[2021-06-29 19:10] #9059 closed

[2021-06-29 19:16] awlauria commented on #8841
All PR's merged to release branches, closing.

[2021-06-29 19:16] #8841 closed

[2021-06-29 19:22] awlauria commented on #8774
All releases branches merged. Closing.

[2021-06-29 19:22] #8774 closed

[2021-06-29 19:27] awlauria commented on #8764
I think this can be closed based on

master: #8788
v5.0.x: #8809

however, it would be good to verify.

[2021-06-29 19:31] awlauria commented on #8616
Merged into v5.0.x here:
https://github.com/open-mpi/ompi/pull/8653

[2021-06-29 19:33] awlauria commented on #8616
Closing. Unless this is desired on the v4 series, in which case please reopen and do the appropriate cherry-picks.

[2021-06-29 19:33] #8616 closed

[2021-06-29 19:35] awlauria commented on #8555
Any update @akjt ?

[2021-06-29 19:36] awlauria commented on #8546
master: #8547
v4.0.x: #8610
v4.1.x: #8609
v5.0.x: #8592

all PR's merged, closing.

[2021-06-29 19:36] #8546 closed

[2021-06-29 19:38] awlauria commented on #8532
It looks like the solution to fix this was done in:

v5.0.x: #8794
v4.1.x: #8795
v4.0.x: #8796

which means this is the same issue as https://github.com/open-mpi/ompi/issues/8603.

Closing - if I am wrong please re-open.

[2021-06-29 19:45] awlauria commented on #8290
Removed the master label since by the description this is only when using openib, which has been purged from master, starting with v5.0.x.

[2021-06-29 19:49] mwheinz commented on #8764
Sorry - yes. I just checked. I can build 5.0.x and master without problems.

[2021-06-29 19:49] #8764 closed

[2021-06-29 19:51] devreal commented on #9080
Here is the output of `UCX_LOG_LEVEL=info` with PaRSEC on 4 nodes. Anything that strikes you?

[code]

[2021-06-29 19:58] awlauria commented on #7624
Reclosing this - the segv is gone. There are timeouts being hit, but this test is very long, doing literally hundreds of thousands (if not millions) of messages. Closing.

[2021-06-29 19:58] #7624 closed

[2021-06-29 20:08] shijin-aws commented on #9085
@afernandezody, I forgot you have reported how you configured Open MPI from source in earlier comments,

[code]
I tried the same configuration as you have but I still could not reproduce the segfault.

Looking at the error message you posted, the issue appears to be the orted failing to start and the most common reason for this type of failure mode is an install of OMPI over top of an older versio

[2021-06-29 20:43] awlauria commented on #7137
Tested this on ompi v4.0.6rc2 + ucx v1.7 and it passed. Closing.

[2021-06-29 20:43] #7137 closed

[2021-06-29 20:44] awlauria commented on #8764
Thanks @mwheinz !

[2021-06-29 20:46] gkatev commented on #8532
It was actually a two-scale issue, it probably was not clear enough and kind of phrased more as a question.
The problem that is also the subject of #8603 is fixed.

The second problem I believe I have spotted is in the x86-asm implementation of the full memory barrier:
[code]
It is my undestanding that a full memory barrier (opal_atomic_mb = full memory barrier?), in x86, requires an *mfence* or s

[2021-06-29 20:55] awlauria commented on #7101
Is this still an issue? Seems from the closed PR it may be fixed. @AboorvaDevarajan can you please re-test?

[2021-06-29 20:56] awlauria commented on #7091
It's unclear if there is any resolution here - can this be closed?

[2021-06-29 21:11] awlauria commented on #7084
Has the above patch been posted? I assume not - wondering if it's still needed/desired.

[2021-06-29 21:13] awlauria commented on #7029
PR's merged, closing.

[2021-06-29 21:13] #7029 closed

[2021-06-29 21:15] afernandezody commented on #9085
@**shijin-aws**,
I usually clean up but maybe I forgot or something went wrong and I didn't pay attention. In any case, and when aws-parallelcluster 2.11 is released, I will perform 2 installations one with the newer with the AMI and one with the older, and we'll see whether the error reproduces.

[2021-06-29 21:26] awlauria commented on #6966
This should be retested with master/v5.0.x with prrte.

[2021-06-29 21:27] awlauria commented on #6966
Adding the blocker label - but it may not be.

[2021-06-29 21:32] awlauria commented on #6847
./exports/bin/mpirun --use-hwthread-cpus -np 2 ./barrier
real	0m12.583s
user	0m30.125s
sys	32m30.609s
[awlauria@f8n02 v4.0.x_5_21]$ time ./exports/bin/mpirun ./barrier
real	0m2.818s
user	0m2.217s
sys	1m35.786s
[awlauria@f8n02 v4.0.x_5_21]$

[code]

[2021-06-29 21:41] awlauria commented on #6540
It looks like it's still an issue on v4.0.6:

[code]

[2021-06-29 21:44] awlauria commented on #6540
#6584 doesn't look like it was ever brought back to the v4 series by my eye - which is probably why I can still reproduce.

This seems to work with v5.0.x/master + prrte with a slightly different run line

[code]

[2021-06-29 21:45] awlauria commented on #6540
@markalle @gpaulsen fyi ^^

[2021-06-29 21:47] awlauria commented on #6522
Re-closing since #6522 was merged.

[2021-06-29 21:47] #6522 closed

[2021-06-29 21:49] awlauria commented on #8532
Thanks @gkatev - reopened.

@hjelmn fyi

[2021-06-29 22:38] rhc54 commented on #6847
well yeah - with old hardware and a _really_ old OS, I'd say you are lucky to run anything when asking for hwthread cpus 😄

[2021-06-30 00:29] hppritcha commented on #9099
@jsquyres can this be closed now?

[2021-06-30 00:47] kawashima-fj commented on #9106
Hi @vchuravy,

Open MPI supports cross-compiling itself using the `--with-cross=FILE` option of `configure`.

You need to create a file like [aarch64-linux-gcc.txt](https://github.com/open-mpi/ompi/files/6737172/aarch64-linux-gcc.txt) and specify the path to `FILE`. The values (Autoconf cache values) in the file are dependent on your environment (CPU architecture, OS, compiler). If you have a corr

[2021-06-30 04:50] karasevb commented on #9068
Thanks

[2021-06-30 08:41] vchuravy commented on #9106
@kawashima-fj Thank you! That was the information I was looking for :)

[2021-06-30 10:08] bosilca commented on #8532
Yes, opal_atomic_mb should be a fully fledged memory barrier (as implemented on all the other architectures).

[2021-06-30 13:09] #9106 closed

[2021-06-30 13:44] awlauria commented on #6452
I opened up the quick PR to try and resolve this ticket.

I don't have an environment to test whether the proposed solution actually works.

[2021-06-30 14:08] awlauria commented on #6264
Closing since the reported issues were merged to release branches (#6723).

[2021-06-30 14:08] #6264 closed

[2021-06-30 14:09] awlauria commented on #6296
@markalle did you have any luck on this?

I copied your test and am running it in a loop today on a relatively new master, will report back any failures.

[2021-06-30 14:10] awlauria commented on #6507
Closing as fixed based on comments.

[2021-06-30 14:10] #6507 closed

[2021-06-30 14:12] #7963 closed

[2021-06-30 15:26] awlauria commented on #5069
Closing as all PR's merged.

[2021-06-30 15:26] #5069 closed

[2021-06-30 15:28] awlauria commented on #4345
Master PR: https://github.com/open-mpi/ompi/pull/4383

All Pr's merged, closing.

[2021-06-30 15:28] #4345 closed

[2021-06-30 15:38] awlauria commented on #4829
The test passes for me with no issue now with master:

[code]

It looks like all PR's have been merged as well. Closing.

[2021-06-30 15:38] #4829 closed

[2021-06-30 15:41] awlauria commented on #4801
PR's merged. Closing.

[2021-06-30 15:41] #4801 closed

[2021-06-30 18:56] #9099 closed

[2021-06-30 20:17] #6452 closed

[2021-06-30 20:25] awlauria commented on #6847
Hmm, I seem to have cut off the rest of my comment.

My point being is it runs _a lot_ slower, and I wonder @Niken-physics just wasn't letting it finish and thinking instead it was hung.

[2021-07-01 00:16] hppritcha commented on #9053
we will just leave this macro like it is for now.

[2021-07-01 00:16] #9053 closed

[2021-07-01 10:00] Flamefire commented on #9105
@rhc54 You authored https://github.com/open-mpi/ompi/commit/0322ad028da3e586b22d771e08cf4d4230ff5507 which introduced the bug.
Can you double check your claim:

Because this is (seemingly) not what happens. `OPAL_CHECK_PMIX_LIB` in the --with-pmi path sets `opal_enable_pmix=yes`
And the --with-pmix path is only entered when `AS_IF([test "$opal_enable_pmix" = "no"],`
I think this is a C&P bug on yo

[2021-07-01 11:36] ggouaillardet commented on #9105
@Flamefire I think Ralph's comment was referring to his involvement in the Open MPI project.

Anyway, I am fine with the rationale described in the commit message you pointed, so as far as I am concerned,
the next move is to fix the bug when both `--with-pmi` and `--with-pmix` are passed

[2021-07-01 12:17] gpaulsen commented on #6464
@yosefe Is this still an issue with newer UCX on master?

[2021-07-01 12:36] gpaulsen commented on #6366
@ggouaillardet @jsquyres Is this much work to try to get fixed for v5.0.0?

[2021-07-01 12:42] gpaulsen commented on #8141
@bwbarrett is this the same as #8990 ?

[2021-07-01 12:50] gpaulsen commented on #6354
Please try the steps outlined by ggouaillardet above with a newer version of Open MPI (v4.0.0 or later).  If the problem persists, please reopen with additional details.

[2021-07-01 12:50] #6354 closed

[2021-07-01 13:03] gpaulsen commented on #6349
Open MPI now

[2021-07-01 13:19] awlauria commented on #8822
@bwbarrett @hppritcha this looks like a blocker for v5.0.0. Agree?

[2021-07-01 13:23] awlauria commented on #6966
This might be fixed in prrte, just needs retesting.

[2021-07-01 13:29] awlauria commented on #8532
This just looks like a one liner change if I am reading this right, anyone have time to do this and test?

[2021-07-01 13:31] Flamefire commented on #9105
My comment was unrelated to his response, just updating with information I found. Sorry for the confusion

I'd argue against that. We have our HPC clusters SLURM build with PMI2 and PMIx, so the PMIx headers are still there. However the libevent headers are not. We want to build OpenMPI with PMI2 support (only) and hence pass `--with-pmi`, given that `--with-pmix` exists IMO it is completely unexp

[2021-07-01 13:35] gpaulsen commented on #6349
Oops preliminarily closed this after merged to `master`.  Keeping this issue open until the fix gets cherry-picked to `v5.0.x`

[2021-07-01 13:36] rhc54 commented on #9105
Yeah, one of the few benefits of getting older is retirement 😄

FWIW: the thinking for many years was that OMPI should only be compiled with _one_ PMI component. It's kinda weird to pass more than that - you have three options (PMI-1, PMI-2, and PMIx). All provide the same basic capabilities so far as MPI is concerned, so if we look at implementation and feature coverage, they roughly (and arguabl

[2021-07-01 13:43] Flamefire commented on #9105
We do because we have a large, heterogeneous cluster with a common software installation and some parts support pmix and some only PMI(2). And even worse: Users who do `srun --mpi=pmi2` and refuse to change that.

Can you elaborate on that? What does one stop from doing `--with-pmi --with-pmix`? That already covers that, doesn't it?

OMPI also requires PMIx and it enforces that you use either exte

[2021-07-01 13:56] bwbarrett commented on #8141
Yes; I think this issue has already been fixed in the release branch and is just waiting for a release.

[2021-07-01 14:00] JPGlaser opened #9113 "Process 2 is on host: unknown!"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
`OpenMP Official Release v3.1.6`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Installed on Docker Container via t

[2021-07-01 15:06] ggouaillardet commented on #9105
There are several issues here

1. `--with-pmix=internal` was explicitly requested, but this is not what was selected by Open MPI. This is a bug and it will be fixed.
2. Using an external `PMIx` implicitly requires the header files of the external `libevent` so Open MPI can be built. This is probably something we should do a better job at documenting.
3. Open MPI could automatically fallback to the

[2021-07-01 16:08] Flamefire commented on #9105
For your 1.: Any value for `--with-pmix` is ignored, so even specifying another path.

And IMO the point that --with-pmi implies external pmix even though --with-pmix is not given is at least unexpected. But that just as feedback from a user/system maintainer.

FWIW: For our installation we patch out that code part in the --with-pmi path: https://github.com/easybuilders/easybuild-easyconfigs/pull/

[2021-07-01 16:09] gpaulsen commented on #6364
This should be fixed if retested with newer libfabric.  Closing.

[2021-07-01 16:09] #6364 closed

[2021-07-01 16:19] rhc54 commented on #9105
Just FYI: an external pmix mandates that you also use an external libevent and hwloc so we can ensure that the pmix and OMPI libraries are linked against the _same_ installations of those packages. This is actually checked in newer versions of OMPI during configure and will error out if the condition is not met. Probably should port that code to this release (if it isn't already there) and ensure