[2018-07-26 22:21] #5349 closed

[2018-07-27 02:17] DensenLiu commented on #5488
thank you ,I`ll create a new issue,and close this one.

[2018-07-27 02:31] DensenLiu opened #5490 "Cross numa or not communication has same latency"
My OMPI version is 3.0.1,and use the OMB benchmark to test the performance.
My OS is  CentOS  7.5.
My cpu model is Intel(R) Xeon(R) CPU E5-2699 v3.

I want to test the different between Cross numa communication or not. According to the architecture of the cpu, i think it should takes longer to communicate across numa, but i cant get  the expected results, can some one tell me why.

Here is my test

[2018-07-27 02:32] #5488 closed

[2018-07-27 02:49] markalle commented on #5489
Oh, I can't read... 92f6c7c1e210c559471a05aaac9b19e0bd3d71bb is the patch in question that got applied early on to romio314. And it's not too gigantic.

[2018-07-27 16:44] hppritcha opened #5492 "NEWS syncup for v4.0.0"
- [x] need to sync NEWS from the 3.1.x with v4.0.0
 - [x] check for things that went into master but not 3.1.x

[2018-07-27 18:55] markalle commented on #5489
https://github.com/open-mpi/ompi/pull/5493

[2018-07-27 19:08] markalle commented on #5489
and https://github.com/open-mpi/ompi/pull/5494 for master

[2018-07-28 19:13] amckinstry commented on #5114
Ok, got examples of failure logs here; https://buildd.debian.org/status/fetch.php?pkg=openmpi&arch=armel&ver=3.1.1.real-4%2Bb1&stamp=1532439131&raw=0

The libtools generated are different, in the FC tag sections.

GOOD:
[code]

BAD:
[code]
(Note: compiler version has moved from gcc 7.4 to 8.1 between these logs, but that doesn't appear to be relevant).
These entries are generated via `configure` (

[2018-07-30 10:57] amckinstry commented on #5114
The Debian build process changes config/libtool.m4 a version, with the change:
[code]

might be relevant. The patch has:
[code]

I'm struggling to find the cause of the race condition, though, given that only one thread should be involved in ./autogen.pl (though multiple processors are present). Either: (1) some sub-process (ld ? gcc ? ) are giving different results via a race, or its filesystem (

[2018-07-30 19:32] jsquyres commented on #5393
@hoopoepg I cannot answer your question -- @gpaulsen this ticket was filed for IBM MTT results.  Can you please answer @hoopoepg's question?

[2018-07-30 21:41] markalle commented on #5489
https://github.com/open-mpi/ompi/pull/5494 for master
https://github.com/open-mpi/ompi/pull/5497 for v4.0.x
(And closed the initial 5493 that had also been for v4.0.x)

[2018-07-31 01:41] DensenLiu commented on #5490
thanks for your answer.
it may not be  my expected.
when my OS is redhat 6.6 at the same hardware and OMPI version, 30% gap in latency at 4194304 bytes，both small and large message.
I also install mpich in the same node, there are 100% gap in latency at small message and 20% gap at large message.
so i think my test result must be wrong.Crossing numa and not across numa should be different in laten

[2018-07-31 01:46] rhc54 commented on #5490
You should have seen a big warning message at the end of configure about doing performance testing with ```--enable-debug```. One possibility is that the inefficiencies of the debug code is masking the differences you are trying to measure.

[2018-07-31 02:59] DensenLiu commented on #5490
when i don`t use --enable-debug,the latency is smaller,but the conclusion is not change.There is no significant gap between different numa and same numa.

[2018-07-31 15:20] jsquyres commented on #5394
According to @hjelmn this was actually an issue in OSC RDMA, and is has been fixed (before the v4.0.x branch was created).

[2018-07-31 15:20] #5394 closed

[2018-07-31 15:48] jsquyres commented on #5490
Just to emphasize what @rhc54 said: it is *critical* to not use `--enable-debug` for performance timings with Open MPI.  `--enable-debug` adds a LOT of extra code in performance-critical code paths *for the purpose of debugging* -- making it unsuitable for performance testing.

------

200ns is a significant gap for the short messages.

The difference for large message sizes is not nearly as notic

[2018-07-31 16:49] jsquyres commented on #4390
@nicmcd A double free error seems to be different than the originally-reported "no components found" issue.  Can you please re-file this as a new issue?

[2018-07-31 17:01] kent-cheung-arm opened #5501 "Failure to stop at MPIR_Breakpoint on Power systems with OpenMPI v3.0.x"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v3.0.0 and v3.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from source tarball with PGI 18.1 or IBM 16.1.1 Beta 2 compilers

### Please describe the system o

[2018-07-31 17:06] jsquyres opened #5502 "opal/util/info.c can still truncate info keys"
On a build on master HEAD with gcc 7.3.0, I see the following (also seen by @rhc54 in https://www.mail-archive.com/devel@lists.open-mpi.org/msg20671.html):

[code]

I.e., it looks like #5204 didn't actually fix the problem.

@markalle Can you please fix?

I did not check to which back release branches this will also need to be applied.

[2018-08-01 18:59] LiweiPeng commented on #5479
This issue was resolved by using solutions mentioned in
https://github.com/open-mpi/ompi/issues/3972,
https://github.com/open-mpi/ompi/issues/3573.

After setting the following options, it works now
--mca btl_openib_cuda_async_recv false --mca btl_openib_receive_queues P,256,256:S,128,256,192,128:S,2048,1024,1008,64:S,12288,1024,1008,64:S,131072,1024,1008,64

[2018-08-01 18:59] #5479 closed

[2018-08-01 23:35] jsquyres commented on #3035
@bosilca FWIW: This is still happening in the Cisco MTT environment.  E.g.: https://mtt.open-mpi.org/index.php?do_redir=2660

It's also happening in lots of tests that *succeed*: https://mtt.open-mpi.org/index.php?do_redir=2661

In all of those cases (failures and successes), we see this message:

[code]

It really seems like a TCP BTL incorrectly rejected an inbound connection because it didn't h

[2018-08-02 21:37] jsquyres commented on #5478
The first error message you cited, "too many retries sending message to 0x0140:0x0003fd7c, giving up" is here: https://github.com/open-mpi/ompi/blob/master/opal/mca/btl/openib/connect/btl_openib_connect_udcm.c#L2313.

When this is emitted, it means that Open MPI tried (by default) 25 times to send a message and finally gave up.  This suggests that your network fabric is either extraordinarily cong

[2018-08-02 21:50] jsquyres commented on #5114
Wow -- that's crazy differences between those two `libtool` snippits.  😦

I think this definitely moved into the "not Open MPI's fault" category.  Can this be raised with the Libtool developers?

[2018-08-03 12:28] JusticeForMikeBrown opened #5510 "Cannot Compile OpenMPI3 with Cuda Support"
Hi

I am trying to compile OpenMPI 3 with Cuda support on CentOS 7.4 with P100s on Dell PowerEdge.

We do this in [Spack](spack.io).

The command-line compilation options being used:

[code]

This normally works but now I see this error:

[code]

Cuda does exist:

[code]
Drivers are present:

[code]

**/etc/ld.so.conf.d/nvidia-lib64.conf**

[code]

[code]

Could you please help as I am unsure why

[2018-08-03 14:07] jsquyres commented on #5510
@Akshay-Venkatesh Can you answer @JusticeForMikeBrown's question?  Thanks.

[2018-08-03 14:18] jsquyres commented on #5481
Fixed in https://github.com/open-mpi/ompi-www/pull/84.  It'll auto-deploy on the web site in a few minutes.

Thanks for pointing out the stale link!

[2018-08-03 14:18] #5481 closed

[2018-08-03 14:23] jsquyres commented on #5470
@mksully22 Github pro tip: use a line of 3 back ticks to start and end verbatim sections in github to make the text render better (see https://help.github.com/articles/creating-and-highlighting-code-blocks/).

[2018-08-03 14:26] jsquyres commented on #5465
@compressible @PeterGottesman is correct: v1.6.2 is no longer maintained.  Indeed, "native" builds of Open MPI on Windows are no longer supported in recent versions, but the Cygwin community still maintains patches (and diligently sends them back upstream to us) for building/running Open MPI on Windows in a Cygwin environment.

Given the lack of reply, I'm going to close this issue.

[2018-08-03 14:26] #5465 closed

[2018-08-03 14:28] jsquyres commented on #5459
I didn't see a pull request go by -- did this get fixed?

[2018-08-03 14:34] jsquyres commented on #5459
Sorry -- I should clarify: we're making the v2.1.4rc in the immediate future (probably Monday).  It will likely be the last release in the v2.1.x series.  If we get a fix for this right quick, we might be able to include it in v2.1.4.

More releases are coming shortly after that (see https://github.com/open-mpi/ompi/milestones?direction=asc&sort=due_date&state=open), so the sooner we get a PR for

[2018-08-03 14:42] geimer commented on #5459
@jsquyres I haven't found the time yet to work on a PR. And it is very unlikely that it will happen over the weekend (which starts for me in a couple of minutes)...

[2018-08-03 14:49] jsquyres commented on #5459
No worries -- have a great weekend!

(if this missed the v2.1.4 release, that's not a tragedy -- we can always slot it in the upcoming v3.0.x / v3.1.x / v4.0.0 releases)

[2018-08-03 15:37] rhc54 commented on #5502
Also seeing these on my Mac using gcc-7.3:
[code]

[2018-08-03 15:39] rhc54 opened #5511 "opal/util/cmd_line warning"
In head of master using gcc-7.3:
[code]

[2018-08-03 15:40] rhc54 opened #5512 "BTL warnings"
In master using gcc-7.3:
[code]

[2018-08-03 15:44] rhc54 opened #5513 "OSC rdma warnings"
In master using gcc-7.3:
[code]

[2018-08-03 15:46] rhc54 opened #5514 "Treematch warnings"
In master using gcc-7.3:
[code]

[2018-08-03 16:40] JusticeForMikeBrown commented on #5510
Thank you @jsquyres @Akshay-Venkatesh

[2018-08-04 01:18] #5490 closed

[2018-08-06 12:33] #5086 closed

[2018-08-06 18:31] PeterGottesman opened #5520 "Epoll ADD fails on bad file descriptor"
On MTT we are seeing this issue pretty consistently on the v2.x branch, usually in tests where the exit code is 53. It seems that the issue frequently, but not exclusively, occurs with MPI_THREAD_MULTIPLE set.

[code]
MTT Link: https://mtt.open-mpi.org/index.php?do_redir=2697

I'm working on getting it reproduced now, but being that 2.1.4 is up for release soon I figured the sooner this is posted

[2018-08-06 18:34] rhc54 commented on #5520
Indicates event lib not cleanly shutting down

Sent from my iPhone

[2018-08-07 14:32] JusticeForMikeBrown commented on #5510
Hi

I was able to compile on a server with older Nvidia driver.

384.81 unsupported?

[2018-08-07 15:19] jsquyres commented on #5083
Per 2018-08-07 webex, @xinzhao3 is going to check to see if this was a UCX error / has already been resolved.  If we end up release noting this saying that there's a UCX issue in version X.Y.Z yadda yadda yadda, that would be fine.

[2018-08-07 15:21] bosilca commented on #3035
You are correct, we might display this message if we reject a connection due to the missing modex information. We can imagine that we can minimize the appearance window for this error by delaying the accept until we have the modex of the peer. Unfortunately this is not a fool-proof solution as in the worst scenario the peer (initiator of the connection) timeouts and decides to drop this IP and nev

[2018-08-07 17:47] jsquyres opened #5524 "Compiling with external hwloc results in many warnings"
After #5395 and #5466, if you compile with an external hwloc, there are many warnings:

[code]

[2018-08-07 18:27] rhc54 commented on #5524
Hmmm...I'm not seeing these warnings and I always build with external HWLOC. What version of hwloc are you using? I'm using 2.0 here.

[2018-08-07 18:49] jsquyres commented on #5524
I just build from the hwloc master head:

[code]

Perhaps it's because I'm using an old compiler -- gcc 4.4.7...?

...time passes...

Nope -- same thing happens if I test with gcc 7.3.0, too.

[2018-08-07 19:58] jsquyres commented on #5524
@rhc54 and I talked about this on the phone and figured it out.

Ralph is configuring with `--with-hwloc=/path/to/hwloc/install` -- I'm not.

The problem is here: https://github.com/open-mpi/ompi/blob/e9f378e8518fa7a0a17586f93ae616b50f2d3713/opal/mca/hwloc/hwloc201/configure.m4#L83-L85

The hwloc201 (internal) component is checking to see if external was selected by checking `$with_hwloc` -- which

[2018-08-07 20:00] jsquyres commented on #5524
BTW, we'll likely need to do something similar with libevent.

[2018-08-08 17:20] jsquyres commented on #5478
@rhc54 and I talked about this.  Your issue sounds familiar to us, but we can't remember any details (i.e., launching with `srun` causes intermittent errors on IB, but launching with `mpirun` seems ok).  The environment delivered to the MPI processes is slightly different between `srun` and `mpirun`, but I don't think we ever fully tracked down this issue -- it's darn weird.

Ralph did notice that

[2018-08-08 17:46] elliottslaughter commented on #5478
With Open MPI 3.0.1 and `--mpi=pmi2` I still errors like the one below. I can't seem to run `--mpi=pmix`, maybe SLURM wasn't build with the appropriate configure flag. Without root access on the machine I'm not sure that's something I can change.

Would it help to compare `srun env` and `mpirun env`?

[code]

[2018-08-08 18:44] Akshay-Venkatesh commented on #5510
@JusticeForMikeBrown
The error suggests that build system can't find -lnvidia-ml. You're able to compile on your server because the build system is likely able to find it in the root lib search path. Are you building on a node177? Also want to point at that the location `/pbtech_mounts/softlib001/apps/EL7/spack/opt/spack/linux-centos7-x86_64/gcc-4.8.5/cuda-8.0.61-oehfcuf3do4bwagkarjurizvcsrl7y2q/l

[2018-08-08 18:48] jsquyres commented on #5510
FTI @bgoglin

[2018-08-08 19:38] bgoglin commented on #5510
OMPI 3.0.1 has a fix that unconditionally disables nvml in hwloc to avoid such issues.

[2018-08-09 03:24] leofang commented on #2397
I found this thread from google. It seems that MPI_Allreduce still has similar bad performance in v3.1.1, am I right? I saw that it still copies the array from device to host (via async), does the reduction on host, and then transfers back to device.

[2018-08-09 13:33] amckinstry commented on #5114
Indeed; the changes to libtool are implicated, but no fortran-specific changes were made, so I'm still digging (and have contacted the libtool maintainers).

[2018-08-09 13:45] #5524 closed

[2018-08-09 13:46] amckinstry opened #5528 "Hang on MPI_Abort with external pmix 3.0 / libevent"
## Background information
This is seen in Debian, leading to multiple failures (eg. https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=904825)

### What version of Open MPI are you using?
* OpenMPI 3.0.0
* External PMIX 3.0.0
* libevent 2.1.8

(With a hack to identify pmix 3.0 ; see
https://salsa.debian.org/hpc-team/openmpi/blob/debian/master/debian/patches/force-pmix-3.patch
) ;
Everything else is

[2018-08-09 15:45] jsquyres commented on #5031
Note that the current status of master moved a few steps towards this scheme, but it also did a few things that are explicitly *not* in this scheme.

For example, if the external component is configured successfully, it doesn't even try with the internal component -- which is contradictory to https://github.com/open-mpi/ompi/issues/5031#issuecomment-379304676: "The thought there was that if the us

[2018-08-09 18:16] ggouaillardet commented on #5031
IIRC, when the end user does not explicitly request anything, the external component version is tested, and is __not__ selected if its version is lower than the embedded component.

[2018-08-09 22:59] flang-cavium opened #5529 "incorrect logic in opal_config_asm.m4 for 128-wide atomic ops"
Thank you for taking the time to submit an issue!

Patch is based on OpenMPI 3.1.1 - released tarball.

Compiled and installed from source.

Operating system: Ubuntu 16.04 AArch64 (ARM64).
Compilers:
- GCC 7.3 and 8.1
- clang/LLVM 6.0.1

Problem description:

The logic for discovering and enabling 128-bit wide atomic ops at ./configure time is incorrect. Essentially, 128-wide atomic ops are enable

[2018-08-10 03:02] bwbarrett opened #5530 ""make distcheck" broken on master"
Tonight's nightly tarball build failed on master, due to a problem with libevent:

[code]

Build artifacts (including config.log and friends) are available at http://download.open-mpi.org/nightly/open-mpi/failed-builds/openmpi-master-201808100242-failed.tar.gz

It looks like the right libevent libraries are installed on the system, so with the recent change, the external libevent is being built an

[2018-08-10 21:46] jsquyres opened #5532 "Release 2.1.5 checklist"
## Make a perfect tarball

- [x] Update the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --re

[2018-08-10 21:59] #4920 closed

[2018-08-11 16:59] bosilca commented on #5529
The current logic is correct, the code you pinpoint to handles both the support for and the _cross compiling_ support for 128 bits atomics. If support for 128 bits atomics exists, it cannot be disabled as it is the safest (and most efficient way) to cope with some ABA issues. The conditions are written in a reversed way, but the logic itself holds.

[2018-08-11 18:59] #5530 closed

[2018-08-11 20:01] jsquyres commented on #5529
@flang-cavium George is correct.  I'll close this issue; please feel free to reply if you have further questions.

And here's why attaching an image is sometimes useful 😄:

![thank-you](https://user-images.githubusercontent.com/617316/43995643-bb149110-9d7f-11e8-94d7-1487ac32647e.gif)

[2018-08-13 04:12] ashahba commented on #4963
I run into this very same issue when running [ring](https://github.com/open-mpi/ompi/blob/master/examples/ring_c.c) example on a `4` node cluster:
[code]
and I got the following error
[code]
I also noticed if my nodes{01,02,04} had a configuration like below:
[code]
while on `node03` network config looked different:
[code]

For me the easiest way to to resolve the issue was just to rename the inte

[2018-08-13 06:02] chhzh123 opened #5535 "MPI_Init failed: PMIX ERROR: UNPACK-PAST-END in file unpack.c"
## Background information
I'm running a parallel program on a Linux server, however the program crashed when executing  `MPI_Init(&argc, &argv);`.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v3.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution packa

[2018-08-13 13:33] flang-cavium commented on #5529
Ummm, no.

George is not correct. Actually, George is 100% wrong.

This has **nothing** to do with cross-compiling.

Two-value logic: "yes" or "no".  ! "yes" means "no". Oui? Non?

I have already explained in the bug in detail. Care to actually take a look?

[2018-08-13 13:37] flang-cavium commented on #5529
Question: "ABA" -- American Banking Association?

[2018-08-13 13:57] bosilca commented on #5529
Actually I did look at your bug description and at your patch and the current code before writing my answer. Your conclusion doesn't stand.

ABA stands for the [ABA problem](https://en.wikipedia.org/wiki/ABA_problem), a multi-threaded synchronization issue that arise when 2 variables must be both atomically updated. 128 bits wide atomic operations provides a simple and efficient solution.

[2018-08-13 14:25] rhc54 commented on #5535
Did you compile your application using the correct mpicc? Your app appears to be using a different version of PMIx than is in mpirun.

[2018-08-13 14:36] flang-cavium commented on #5529
So, in your esteemed opinion, cmpxchg16b should always be enabled, regardless of whethere or not the ISA supports it, or whether or not ./configure said --enable-cross-cmpset128=no and --enable-cross-cmpxchg16b=no?

Is this what you are saying here?

What does "128 bits wide atomic operations provides a simple and efficient solution" really mean?

Not all ISA's suport 128-bit wide atomics. Not eve

[2018-08-13 14:46] chhzh123 commented on #5535
@rhc54 What do you mean by "the correct mpicc"? I did compile my application using OpenMPI and succeeded.

If they are different, how can I check the version of PMIx in mpirun and in the application?

[2018-08-13 14:54] rhc54 commented on #5535
What I'm asking is if you recompiled your application using the mpicc from this installation of OMPI? This error often appears because a user failed to do so - they ran an executable compiled with some prior version of OMPI.

[2018-08-13 15:17] flang-cavium commented on #5529
Not to mention that the ./configure test for 128-wide atomics when compiling with GCC is inherently broken:

[code]

So, when compiling with GCC, the test fails at link-time. GCC needs -latomic on link-line, which is absent in the ./configure test.

This ends up making cmpxchg16b and the 128-wide atomics always disabled when compiling with GCC. Problem is, cmpxchg16b with GCC ends up being disable

[2018-08-13 17:52] bwbarrett commented on #4963
There's two changes you made between the working and not working cases.  First, you changed the name of the ethernet device (which probably did not fix the issue).  Second, you changed the list of valid interfaces to use for communication to include only `eth0`.  My guess is that you could change `btl_tcp_if_include` to `btl_tcp_if_exclude` with the arguments `docker0,lo0` and get the same result.

[2018-08-13 19:35] jsquyres commented on #5528
With some discussions on @rhc54 on 2018-08-13, he's sure he fixed this later on master.  He checked -- the issue is in OMPI v3.0.x and v3.1.x.  @rhc54 will make PRs for it.

[2018-08-14 15:29] bosilca opened #5540 "Issue with overlapping vector datatype"
As reported by the DKRZ folks, creating a datatype with overlapping capabilities (legal for all send communications) leads to data corruption, as the packing and unpacking function will fail to compute the correct memory layout.

A simple example of such datatype is:

[code]
All Open MPI versions are affected. However, it has been decided during the weekly call to only fix it in every release afte

[2018-08-14 15:30] #5514 closed

[2018-08-14 21:32] bosilca commented on #5529
`enable_cross_cmpset128` is not the typical enable/disable argument, it only needs one single value to hint configure to do a special check for the cross-compile case. The reason is that when **not** cross-compiling one can run a test during configure to validate the needed support, including looking for the existence of 128-bits atomic operations, and the flags or libraries such support requires.

[2018-08-14 21:57] flang-cavium commented on #5529
We're getting there.

Exactly. 128-wide atomics are not available on every single ISA.

What you are advocating here is an all-or-nothing proposition.

Either we have 128-wide atomics, in which case we can use atomics, or we don't, in which case we can't use atomics.

This is wrong.

32-wide and 64-bit atomics are available on ISA's that do not have 128-wide atomics. For example, ARM64. Which mean

[2018-08-15 00:55] bosilca commented on #5529
You have deeply misunderstood or misinterpreted every single comment I made. As I said before I read and test your patch, and it does not work.

[2018-08-15 00:57] flang-cavium commented on #5529
No, I don't think I misunderstood anything.

I have tested my patch as well. And it works. I seriously doubt you tested it.

[2018-08-15 03:01] bosilca commented on #5529
Let me break it down for you:
1. Your initial analysis is misleading. You claim that due to the enable_cross_cmpset128 check we enable 128 bits atomics on all branches. Wrong. We enable checking for 128 bits atomics support on all branches, but this checking could result in turning them off.
1. You raised a valid point about not using -latomic, but your patch doesn't even addresses this. Moreover,

[2018-08-15 15:33] flang-cavium commented on #5529
No. That is **not** what I am claiming.

What I am claiming is this:

When configuring OpenMPI from the released tarball, with a compiler **OTHER** than GCC -- namely clang -- the following line is **ALWAYS** generated in ${top_srcdir}/opal/include/opal_config.h:

/* Whether the __atomic builtin atomic compare and swap is lock-free on
   128-bit values */
#define OPAL_HAVE_GCC_BUILTIN_CSWAP_INT128

[2018-08-15 18:29] jsquyres commented on #5529
It looks like #5546 is... complicated (per the discussion between @bosilca and @hjelmn).  Portable software is _hard_!  Ugh.

@bosilca and I just got off the phone discussing this issue.  I think this boils down to two issues:

## The configure test for 128 cmpset

You made a remark in your last reply that finally made it click for us: our configure test is getting the wrong answer for clang+ARM64

[2018-08-15 18:47] bosilca commented on #5529
Thanks, the information about clang is very interesting. If that is the root of the issue we can certainly amend how we test for the existence of the 128-bits atomics to make it work despite the poor support on the compiler side.

I don't have access to a ARM64 machine, but on my Core i7 laptop, neither with gcc7.3 not clang-902 (llvm 9.1.0) the default OMPI always disables the 128-bits atomics co

[2018-08-15 20:39] flang-cavium commented on #5529
0

clang doesn't use GCC's libatomic. It has its own builtins for all the __atomic* ops.

Also: clang support for __int128 (and int128_t/uint128_t) was added only very recently to clang:

https://bugs.llvm.org/show_bug.cgi?id=36862 (March 2018).

and it's definitely not available in clang/LLVM < 7.0, which isn't released yet.

So, for clang versions prior to 7.0, we can safely assume that support

[2018-08-15 20:41] jsquyres commented on #5529
Github pro tip: mark long verbatim sections with three single tick marks: https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2018-08-15 20:43] flang-cavium commented on #5529
Also - and I almost forgot:

Even when __int128 becomes available in ARM64 clang, it may not be lock-free.

[2018-08-15 20:45] jsquyres commented on #5529
@flang-cavium Can you also output:
* The return value from `__atomic_compare_exchange_n()` (if there is one)
* After the call returns, the value of `x`
* After the call returns, the value of `y`

[2018-08-15 20:52] flang-cavium commented on #5529
[code]

There is no format specifier available for __int128.

[2018-08-15 21:40] gpaulsen commented on #5149
This is a dup of a newer (but slightly updated) https://github.com/open-mpi/ompi/issues/5432

[2018-08-15 21:40] #5149 closed

[2018-08-15 21:44] gpaulsen commented on #2849
Howard said he'll do this.

[2018-08-15 21:44] hppritcha commented on #1970
closed via #4520

[2018-08-15 21:44] #1970 closed

[2018-08-15 21:47] gpaulsen commented on #5031
Can we close this issue now that PR #5472 has been merged to v4.0.x ?

[2018-08-15 21:48] gpaulsen commented on #4956
@bwbarrett are you working on this?  Is this still on target for v4.0.0 (release in 1 month)?

[2018-08-15 21:50] bwbarrett commented on #4956
it was done months ago.  Guess I forgot to close the issue.

[2018-08-15 21:50] #4956 closed

[2018-08-16 11:42] lipixx commented on #5145
Hi,
We've changed the linking of Slurm's libpmi to libslurmfull, which is unversioned. libslurm.so had a version number and caused this issue. This workarounds the issue the customer has despite being a hack. If at some time the signatures of libslurmfull changes, there can still be problems on an upgrade. It is not ideal solution but it works for the customer. Moreover we usually encourage users

[2018-08-16 11:43] lipixx commented on #5124
This issue is workarounded in Slurm side starting at 18.08. See:
https://bugs.schedmd.com/show_bug.cgi?id=4918

[2018-08-16 12:56] gpaulsen opened #5551 "--enable-mpi1-compatibility broken on v4.0.x"
When --enable-mpi1-compatibility is added to the configure line below, I receive an error at `make install` time:

[code]

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v4.0.x

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

* Cloned from

[2018-08-16 13:02] gpaulsen commented on #5551
@hppritcha I hit this last night when manually trying --enable-mpi1-compatibility for the first time on our CI nodes.

[2018-08-16 14:25] bwbarrett commented on #5551
@gpaulsen when this is fixed, remind me and I'll add `--enable-mpi1-compatibility` to the AWS CI tests.

[2018-08-16 15:47] flang-cavium commented on #5529
For those interested:

http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0801h/bzf1476202789613.html

This is the ARM documentation for the ARM V8.1a LSE extensions - namely lock-free atomics.

There's a whole bunch of instructions there: CASA/CASL/CASAL, LDADDA, LDADDL, LDADDAL, etc.

As you can see, there are no 128-wide lock-free atomics defined in the ARM64 ISA Specification. Only

[2018-08-16 18:12] jsquyres commented on #5145
Ok.  I'll close this issue, then.

I do agree with you: delivering an unversioned library is asking for trouble.  It solves a problem today, but it may cause you greater problems tomorrow.

[2018-08-16 18:12] #5145 closed

[2018-08-16 18:13] jsquyres commented on #5124
Resolved in the discussion in #5145.

[2018-08-16 20:12] #5551 closed

[2018-08-16 22:03] bosilca commented on #5529
This statement might not be 100% accurate https://github.com/open-mpi/ompi/pull/5546#issuecomment-413697620.

[2018-08-17 01:08] bangerth commented on #4451
The discussion is already long, but I'll add my $0.02 as well: We have the same issue in the deal.II and ASPECT projects (https://github.com/dealii/dealii, https://github.com/geodynamics/aspect): We have extensive testsuites that call `mpirun -n X` for some tests. These testsuites are also executed on regression testers and continuous integration machines that set up the environment for testing in

[2018-08-17 02:38] rhc54 commented on #4451
Hmmm...now that is actually a quite reasonable proposal. I have no objection to implementing that approach.

@jsquyres @bwbarrett ?

[2018-08-17 06:42] ggouaillardet commented on #5529
@flang-cavium back to the initial problem description

typically, `$enable_cross_cmpset128` can have 3 values
 - `yes` if `configure --enable-cross-cmpset128`
 - `no` if `configure --disable-cross-cmpset128`
 - empty if no option was passed to the `configure` command line

For the sake of completeness, it is possible to `configure --enable-cross-cmpset=FOO` and Open MPI does not handle this proper

[2018-08-17 12:51] flang-cavium commented on #5529
On 08/17/2018 02:42 AM, Gilles Gouaillardet wrote:

We have already established that this is not how it works in reality.

This is how it would be *supposed* to work, according to the
well-established semantics of autoconf's --enable-<FOO> |
--disable-<FOO>. But that's not what OpenMPI has done here.

That's incorrect.

In a 2-Value Logic grammar system, that is exactly how it's supposed to
work:

[2018-08-17 13:45] ggouaillardet commented on #5529
@flang-cavium please read
https://www.gnu.org/savannah-checkouts/gnu/autoconf/manual/autoconf-2.69/html_node/Package-Options.html

[2018-08-17 14:25] flang-cavium commented on #5529
On 08/17/2018 09:45 AM, Gilles Gouaillardet wrote:

Please stop wasting my time with this.

If you don't understand the semantics of autoconf's --enable | --disable
options, there is nothing that I can do about that.

And it's not my job to explain autoconf to you, either.

--
Stefan Teleman
Cavium
stefan.teleman@cavium.com

[2018-08-17 14:34] bosilca commented on #5529
While we appreciate your bug report, your trolling is unwelcome. If whoever you represent cares about this issue, they better find someone else to pursue this discussion. Good speed.

[2018-08-17 14:38] flang-cavium commented on #5529
On 08/17/2018 10:34 AM, bosilca wrote:

If there was any trolling here, it came mainly from you, and, to a
lesser degree, from your associates.

See the most recent trolling about C11 and __sync_bool_compare_and_swap.

Not to mention your constant stream of incorrect - but nevertheless
emphatic - statements.

--
Stefan Teleman
Cavium
stefan.teleman@cavium.com

[2018-08-17 16:31] chhzh123 commented on #5535
It is the version problem. Thanks a lot!

[2018-08-17 16:31] #5535 closed

[2018-08-18 00:31] jsquyres commented on #5529
With @flang-cavium's help, I filed an upstream bug with llvm: https://bugs.llvm.org/show_bug.cgi?id=38621

[2018-08-18 01:41] jsquyres commented on #5532
v2.1.5 was released.

[2018-08-18 01:41] #5532 closed

[2018-08-18 01:42] jsquyres opened #5559 "Release v2.1.6 checklist"
## Make a perfect tarball

- [x] Update the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --re

[2018-08-20 13:40] edgargabriel opened #5560 "common/ompio: ordering problem during file_open"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

master, v4.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

compiled from git sources.

### Please describe the

[2018-08-20 21:26] jav-solo opened #5566 "MPI preventing ROS Workspace from Building"
Thank you for taking the time to submit an issue!

## Background information
I have build this ROS workspace before without issues in ROS Indigo and UBuntu 14.04 and I am trying to migrate my workspace to ROS Kinetic and Ubuntu 16.04

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v1.10.2

### Describe how Open MPI was installed (e.g., from a so

[2018-08-21 00:05] ggouaillardet commented on #5566
please extract your link command.

that kind of error can happen if for example your object has undefined reference to `foo()`, that is provided by `libfoo.so`, but you only link with `libbar.so` that depends on `libfoo.so`. In this case, you need to explicitly link with `libbar.so` __and__ `libfoo.so`.

Note the MPI C++ bindings have been removed from the MPI standard a while ago and are no more

[2018-08-21 21:53] hjelmn commented on #5513
gcc doesn't have enough info to correctly determine what is happening here. i will commit something to quiet the warning.

[2018-08-22 08:47] hppritcha commented on #2849
this was actually closed via #5180

[2018-08-22 08:47] #2849 closed

[2018-08-22 08:47] #5031 closed

[2018-08-22 16:25] #5513 closed

[2018-08-22 17:42] Akshay-Venkatesh commented on #3972
@Felandric I was made aware of this bug about 20 mins ago. I've missed my assignment notification that happened a year ago. My apologies.

@bwbarrett I'm able to verify that the issue doesn't occur with UCX CUDA support

[code]

[2018-08-22 17:49] Akshay-Venkatesh commented on #3972
@Felandric
Trying with ob1 pml...

[code]

So using  `--mca btl_openib_cuda_async_recv false` does prevent the hang for me on this two node test.

[2018-08-22 17:52] Akshay-Venkatesh commented on #3972
@hppritcha I thought that a decision was made a few months ago that  `--mca btl_openib_cuda_async_recv false` would be default and that users wouldn't have to set this explicitly should they end up using ob1 pml for cuda-aware MPI. Is this still in the pipeline?

[2018-08-22 19:48] bwbarrett opened #5578 "v3.1.3 Release Checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2018-08-23 11:09] #5560 closed

[2018-08-23 13:56] derbeyn opened #5581 "v2.0.x: osc/rdma: MPI_Win_unlock segfaults"
Thank you for taking the time to submit an issue!

## Background information
using osc/rdma
calling osu_acc_latency -m create -s lock

leads to a segfault in MPi_Win_unlock()

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v2.0.x

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operati

[2018-08-23 14:16] jsquyres opened #5583 "FYI: lists.open-mpi.org is down"
This is more of a notice for the Open MPI community than a code issue.  But posting here on github is a good way to email everyone, so that's why I'm putting this information here.

As of 10am US Eastern on Thursday, 23 Aug 2018, lists.open-mpi.org is down (I don't know exactly when it went down, but it was first brought to my attention around 10am US Eastern).  Apparently there has been a large-i

[2018-08-23 14:49] jsquyres opened #5584 "v2.0.x: UCX links failure on 2 CI platforms"
Looks like we're getting the same UCX link failures on 2 different CI platforms (see the CI on #5582), seemingly indicating that this may be a legit issue:

[code]

@hoopoepg Can you investigate?

FYI @derbeyn

[2018-08-23 14:55] jsquyres opened #5585 "shmem_wait_until is multiply-defined"
Getting this compiler warning a bunch of times when compiling openshmem on master (Don't know if this exists on the release branches or not):

[code]

@hoopoepg Can you investigate?

[2018-08-23 19:25] extrowerk opened #5588 "Missing symbols on Haiku"
Hi,

## Background information

i'm on my way to get openmpi working on Haiku. The recipe is already made and the required patch upstreamed. During the test it fails and i can't find the culprit.
While i know Haiku is not a main platform for openmpi project, porting a software to some uncommon OS can help to find bugs and to maintain better portability trough testing on different platforms, compil

[2018-08-23 19:30] bwbarrett commented on #5588
I don't know much about Haiku, but the missing symbol is part of Open MPI's use of Yacc/Bison.  Including the config.log file from your build of Open MPI as well as some information about whether Haiku uses some BSD Yacc variant or GNU Bison (and which version of either) would probably be a good starting point.

That code hasn't changed in <long time>, so I'd expect you'll see the issue across all

[2018-08-23 19:40] extrowerk commented on #5588
Tested with 3.1.2, the problem appears to be the same:
[code]

[2018-08-23 19:47] extrowerk commented on #5588
@bwbarrett : Thanks for the reply.
The current recipe doesn't defines yacc or bison as dependency, thus they will be not available in the chroot. Are one of them is a mandatory dependency? If so, shouldn't it emit some error or warning?

Current bison port: bison-3.0.5-1-x86_64.hpkg
Yacc would be also available: byacc-20180609-1-x86_64.hpkg

[2018-08-23 19:54] extrowerk commented on #5588
@bwbarrett : here is the earlier 3.1.1 config log without bison or yacc:
https://gist.github.com/extrowerk/21ca5ae128faa6f6995d3e5ac5b39ecc

And here is a 3.1.2 log with bison and yacc defined in recipe as dependency:
https://gist.github.com/extrowerk/f12373b977d1e8a9a0f4a2c68918b919

[2018-08-23 20:17] extrowerk commented on #5588
@bwbarrett : thanks, adding bison to the deps solved the problem, now all test passes with 3.1.2.
Please consider to add bison or yacc to the configure checks.

[2018-08-23 22:01] morrisonlevi opened #5593 "OPAL ERROR: Error in file %s/opal/mca/pmix/s1/pmix_s1.c at line 578"
## Background information

I am trying to get OpenMPI and Slurm working working with PMIx, but have been hitting issues in various places.

### What versions of software are you using?

  - OpenMPI 3.1.2
  - Slurm 17.11.9
  - PMIx 2.1.3

All three of these were built from source.

PMIx is installed to `/usr/local/pmix/2.1` and there is an `ld.so.conf.d` file that includes its libdir in the ld.so.c

[2018-08-23 23:08] rhc54 commented on #5593
@artpol84 Can you please advise?

You also might want to look at the instructions here: https://pmix.org/support/how-to/slurm-support/

Short summary:
- you need to ensure you configured Slurm with PMIx support.
- You don't want to include any --with-pmi flags for OMPI configure - you should only have the --with-pmix one.
- you need to execute srun with --mpi=pmix_v2

[2018-08-24 00:27] ggouaillardet commented on #5583
The last email delivered by the `users` ML is titled `MPI_MAXLOC problems` by Diego (on 8/22 6:49 PM in my JST timezone)

IIRC, I did reply in the next hour or so, but my email has yet to be delivered.

[2018-08-24 07:00] extrowerk commented on #5588
@ggouaillardet : I assume you haven't met with Haiku recipes yet, they are a simple bash script which defines what are the requiments and dependecies, declares the provided libs and executables, pulls the tarball, extracts it and creates a chroot environment, ataches the defined packages and its dependencies tothe chroot and builds the software as it defined in BUILD() and INSTALL().

 I suppose t

[2018-08-24 07:45] ggouaillardet commented on #5588
@extrowerk I am extremely puzzled ...

note the `TEST()` recipe is

[code]

so when you `make check` within haiku, it uses `/sources/openmpi-3.1.1/opal/.libs/libopen-pal.so.40.10.1`, but when you `make check` from the command line, it uses `/boot/system/lib/libopen-pal.so.40.10.1`.

So you'd rather manually run
[code]

did you run `TEST()` __after__ `INSTALL()` ?
I do not believe you should have t

[2018-08-24 08:02] rhc54 commented on #5588
Just to reinforce what @ggouaillardet is saying - Open MPI does _not_ use ```bison``` or ```yacc``` in its build system. We use ```flex```, and you are meeting that dependency because ```bison``` pulls it in as it also depends on ```flex```.

However, we _only_ need ```flex``` when you build from a repo, not a tarball - hence the puzzlement.

[2018-08-24 09:03] extrowerk commented on #5588
The TEST() stage is a bit complicated, let me try to explain.

After creating the chrooted environment, all the required packages will be attached, and the recipe will be built.
The recipe have INSTALL() part too, but unlike standard installs in Unix/Linux word, the libs will be installed into a DESTROOT for packaging. The installed files will be sorted to different subpackages, runtime, developme

[2018-08-24 09:14] extrowerk commented on #5588
@rhc54 @ggouaillardet : I'm almost sure some declared dependencies are unneeded, will doublecheck and clean it up this weekend and will provide the config logs too. Thanks for the input Guys!

[2018-08-24 14:15] #5585 closed

[2018-08-24 15:26] artpol84 commented on #5593
@rhc54 I think that PMIx case works as expected and PMI1 case is broken (where --mpi=openmpi" is used).

What I would suggest is
* not to use "--mpi=openmpi". I'm not aware of the situation where you want to use it. At least I never use it myself. It was there for a while and might make sense to remove it. @rhc what do you think? Do you know why it was used?
* Instead, try "--mpi=none" (for PMI1)

[2018-08-24 16:29] jsquyres commented on #5566
Is there any chance you can upgrade to Open MPI v3.1.2?

As @ggouaillardet mentioned, the v1.10 series isn't really supported any more.

[2018-08-24 16:35] morrisonlevi commented on #5593
All of these result in the same error I posted:

  - `--mpi=none`
  - `--mpi=openmpi`
  - `--mpi=pmi2`

However, I *sometimes* get errors like this as well:

Note that this program does I/O with MPI and the file `4032x4032.grid.done` is the name of the output file.

[2018-08-24 16:36] jsquyres commented on #3972
@Akshay-Venkatesh Are you referring to #4650?

Recall that openib is not the default for IB networks in the upcoming v4.0.0 and will likely go away in future releases.

[2018-08-24 16:49] karasevb commented on #5059
The cause of this issue is not PMIx related. The problem was in getting numa list from hwloc.

[2018-08-24 16:56] rhc54 commented on #5593
@edgargabriel Any ideas on the OMPIO error?

[2018-08-24 17:05] Akshay-Venkatesh commented on #3972
@jsquyres I was indeed referring to that.  I agree that this would be of little consequence 4.0.0 and onwards but I think that `btl_openib_cuda_async_recv` should default `false` for those who are still working with openib/smcuda. As this experiment proves, using UCX solves the problem but there are people who're still migrating and fixing the default state would be useful to them.

[2018-08-24 18:26] jsquyres commented on #4451
@bangerth That's actually a very interesting idea (*2* env variables).  I think it might satisfy our requirement of "if you do this, you should really know what you are doing and not do it by accident and you accept all responsibility for what happens."  It's not going to prevent people from copy-n-pasting this without realizing what they're doing, but it will help -- i.e., some people might actua

[2018-08-24 19:11] Akshay-Venkatesh commented on #3972
@jsquyres This approach suffices for the time being. Usual admins install an openmpi package on a cluster. So at least internally, we can recommend picking up the nightly tarball.

[2018-08-24 20:52] morrisonlevi commented on #5593
I think the MPI-IO error has to do with the fact that it tries to run *n* independent processes, all of which are using the same file-name, instead of running *n* processes that are collaborating on the same problem.

[2018-08-24 21:13] edgargabriel commented on #5593
What file system is the application executing on, and do you know by any chance whether shared file pointer operations are used in the code (i.e. MPI_File_write/read_shared or MPI_File_write/read_ordered)?

[2018-08-24 21:30] edgargabriel commented on #5593
@morrisonlevi I have a bit problem understanding how within the same jobid you can have n independent processes. If that is however the case, you might be right. If the file system supports file locking, you could try to disable the sm component (e.g. --mca sharedfp ^sm), and ompio will select the sharedfp/lockedfile component instead of sharedfp/sm.  If the code doesn't use shared file pointer op

[2018-08-24 21:40] morrisonlevi commented on #5593
Because PMI isn't working right - it's launching them independently instead of collaboratively. So they all do the same thing with 1 rank each, instead of working on the same thing with all *n* ranks.

It's panfs by panasas.

There are `MPI_File_read_at` calls to read the "header", then `MPI_File_set_view` and `MPI_File_read_all` to read the actual data. Same process on the write-out.

[2018-08-25 12:38] jsquyres commented on #5583
Looks like lists.open-mpi.org is now back.

[2018-08-25 14:39] jsquyres opened #5599 "BML (and BTL) framework(s) initialized even when they are not used"
I have noticed that the BML framework (and therefore also the BTL framework) is initialized even when it is not used.  This didn't use to be an issue when the only PML available was `ob1`, but now there are several PMLs / OSCs available that don't use BMLs or BTLs.

For example:

[code]

Am I correct in thinking that the above example should not use BMLs or BTLs?

I ask because I notice that the B

[2018-08-27 08:17] t-niemi commented on #5375
Hi

I don't know if this is related, but it looks very similar so I report this here.

I'm using OpenFOAM (CFD-code using OpenMPI) and recently switched from OpenMPI 2.1.1 to 2.1.3. The 2.1.1 (and earlier) have been working fine, but with 2.1.3 random crashes started to happen in btl_vader. I then tested 2.1.5 and 3.1.2, but the same thing happens, below is a cleaned trace:

[code]

The crashes ty

[2018-08-27 08:34] amckinstry opened #5604 "v3.1.2 release is actually v3.1.2rc2 ?"
The current release of ompi 3.1.x (https://github.com/open-mpi/ompi/commit/5a14e33d7761f8a1eb2d7f629c26062952aa7ef5) is named 'v3.1.2.tar.gz', but is v.3.1.2rc2 inside.

[2018-08-27 10:03] ax3l commented on #4451
Thanks, I am glad we found a compromise.

As a personal note, I think the solution is patronizing/nannying your users more than you might think. But I can live with that.

As constructive criticism: instead of repeating twice that running as root is dangerous, rather *document* clearly what the design choices of OpenMPI are *that make running as root insecure/potentially harmful*. That is totally

[2018-08-27 12:07] rhc54 commented on #4451
I think you perhaps don't realize the situation, or maybe are only seeing it from your own perspective. This wasn't us being arbitrary for the sake of it. We had actual cases where users rendered their systems useless chunks of metal because of this problem, and we absorbed their anger.

Documenting the risk made no difference to the situation - frankly, the people most at risk from making this mi

[2018-08-27 12:32] ax3l commented on #4451
Thank you for your thoughts. I think it would help if the actual issues that were seen are referenced (mailing list threads? bug reports?) and he underlying architectural reasons are documented.

All a user will find in the official docs seems to be this:
  https://www.open-mpi.org/doc/v3.0/man1/mpirun.1.php#sect22

which is as brief as any answer in this thread :-)

Googling deeper (which user's

[2018-08-27 14:07] jsquyres commented on #4451
You cited the exact issue: https://svn.open-mpi.org/trac/ompi/ticket/4534

In brief: when MPI apps start up, they create a shared session directory tree.  When they shut down, they remove the entire tree.  There was a bug in Open MPI that caused the recursive directory removal to go higher than intended -- i.e., it ultimately could end up invoking `rm -rf /`.  This wasn't a problem if you weren't

[2018-08-27 14:14] ax3l commented on #4451
Thanks, that's the exact info I was looking for.
And thanks again for the great support! :sparkles:

[2018-08-27 14:53] amckinstry commented on #5604
Ok, digging further ...

https://github.com/open-mpi/ompi/releases gives "3.1.2" but actually points to 3.1.2rc2.

The email https://www.mail-archive.com/announce@lists.open-mpi.org/msg00114.html
refers to the v2.1 directory. Changing "v2.1" to "v3.1"  gets you to the correct v.3.1.2 tarballs

[2018-08-27 14:58] jsquyres commented on #5583
Re-opening this because there still appear to be issues with lists.open-mpi.org.

The web pages for the listserver are functional, but there still appear to be problems with mail flowing through the listserve.

[2018-08-27 16:07] jsquyres commented on #5604
Yes, in git (5a14e33d7761f8a1eb2d7f629c26062952aa7ef5), the value in `VERSION` is 3.1.2rc2.  Per our release process, this is actually expected.

The released tarballs on https://www.open-mpi.org/software/ompi/v3.1/ are not just a straight tar of the git sources -- we do post-process the git sources to make a final tarball (run the autotools, run flex, the final tweak to `VERSION`, ...etc.).  I.e.

[2018-08-27 16:08] jsquyres commented on #5604
Oh crud; right after I submitted that comment, I see the *link* you're referring to in https://www.mail-archive.com/announce@lists.open-mpi.org/msg00114.html -- it points to the v2.1 page.

I'll see if I can get that fixed.

[2018-08-27 16:14] amckinstry commented on #5604
Ok. I get the rationale but the git tarball == git clone and not dist tarball is confusing and could lead to errors. Best to put some distinction in the name. I'll ensure to grab the open-mpi.org version from here (its got the SHA sums, too).

[2018-08-27 16:27] benvvalk commented on #5375
@t-niemi Thanks very much for taking the time to report this.  I agree, it does sound related to this GitHub issue.

As per @sjackman's problem description above, have you tried explicitly choosing `sm` instead of `vader` by doing:
[code]
?

[2018-08-27 17:03] jsquyres commented on #5604
Ok.  I updated the last bunch of releases on https://github.com/open-mpi/ompi/releases to have a message saying "don't download these / get the real releases from www.open-mpi.org".

[2018-08-27 17:15] sjackman commented on #5375
I had success with OpenMPI 2.1.3 with the `sm` transport.
Success with OpenMPI 3.1.1.201807110306 (nightly build) with the `vader` transport.
I believe that fix has been backported to 3.1.2, but you'll want to confirm.
I haven't yet tested 3.1.2.

[2018-08-27 18:09] jsquyres commented on #5583
FYI @bgoglin

[2018-08-27 18:10] jsquyres commented on #5583
Update: @hppritcha is still talking to our provider.  They thought our lists were working, but they are apparently still not working.  Howard's working with them.  Stay tuned.

[2018-08-27 19:01] jsquyres commented on #5604
I'm assuming this is now resolved -- I'm closing.  Feel free to ping further if you have more information / questions / etc.

[2018-08-27 19:01] #5604 closed

[2018-08-27 19:12] jsquyres commented on #5584
Fixed via #5587.

[2018-08-27 20:51] jav-solo commented on #5566
That did not work, however simply putting find_package(PCL REQUIRED) after the other find_packages(), but before it looks for the HDF5 package. Thank you for your help.

[2018-08-27 20:51] #5566 closed

[2018-08-27 20:57] edgargabriel opened #5611 "file_delete does not trigger fs selection logic correctly under certain circumstances"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
master, v4.0.x

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

checkout from git

### Please describe the system o

[2018-08-27 21:41] jsquyres commented on #5581
Fixed via #5582.

[2018-08-27 21:41] #5581 closed

[2018-08-28 03:56] rhc54 commented on #5593
If you configure OMPI with ```--enable-debug``` and then put ```OMPI_MCA_pmix_base_verbose=10``` in your environment, you should get some debug output when you run ```srun --mpi=none```

[2018-08-28 05:33] artpol84 commented on #5593
I think I see the issue:
`--with-pmi=/usr/local/pmix/2.1`

This is not correct. If you want to use Slurm's PMI2/PMI1 you need to point "--with-pmi" on the Slurm's libraries (usually in [/usr]/lib/ or [/usr]/lib64/)

[2018-08-28 05:34] morrisonlevi commented on #5593
Unfortunately I have already tried it the other way. I still get this same error.

[2018-08-28 05:40] artpol84 commented on #5593
I would double-check. It was clearly an error and if you change it and nothing is changing - it's a sign that might be something was stale.
Can you double-check configure.log that the right library was selected.
And also run and post here result of
[code]

[2018-08-28 05:41] artpol84 commented on #5593
In any case for future investigation, you should stick to a Slurm's libraries.

[2018-08-28 05:56] t-niemi commented on #5375
No, I haven't yet tested sm, I can try it. In the meantime, my debug run now crashed and here is the trace (note this was with 2.1.5):

[code]

This time the crash  seems to happen with PMPI_Waitall instead of PMPI_Allreduce.

[2018-08-28 08:07] t-niemi commented on #5375
Just to update, I have a case running with sm and so far it is ok. However, it will need to run for a longer time to be sure.  I also tested todays daily build (openmpi-master-201808280417) and got a similar crash as with the 2.1.5 (crash in PMPI_Waitall).

[2018-08-28 09:18] cbordage opened #5613 "Cannot run /bin/mpirun"
When I run `/bin/mpirun`, I get the following error
[code]

But if I run `mpirun`, it works.

On my distribution (archlinux), `which mpirun` returns `/bin/mpirun` (_/bin_ is a symbolic link to _/usr/bin_).

[2018-08-28 14:59] jsquyres commented on #5613
What version of Open MPI are you using?

[2018-08-28 15:15] rhc54 commented on #5528
Both branches have been updated

[2018-08-28 15:15] #5528 closed

[2018-08-28 15:19] bgoglin commented on #5613
He was using 3.1.1 but the relevant code seemed identical in master.

[2018-08-28 16:01] jsquyres commented on #5604
Update: mail-archive does not want to edit the message for us (which is kinda understandable, actually).  So we're stuck with the incorrect link in https://www.mail-archive.com/announce@lists.open-mpi.org/msg00114.html.

[2018-08-28 17:07] morrisonlevi commented on #5593
I have tried to thoroughly clean and then rebuild Slurm and OpenMPI. It seems that it was picking up artifacts from a previous build as suspected. Now both `srun --mpi=none ...` and `srun --mpi=pmi ...` with `OMPI_MCA_pmix_base_verbose=10` set show that `libpmi.so.0` could not be found:

So I rebuilt with `LDFLAGS="-Wl,-rpath,/usr/local/lib` (which is where the Slurm's PMI libraries are at) and it

[2018-08-28 21:47] jsquyres commented on #5583
Tuesday, 28 Aug 2018 afternoon, US Eastern time: looks like mail is finally flowing again.  Leave this issue open for a short while longer to make sure all the backlog finally catches up.

[2018-08-29 06:31] t-niemi commented on #5375
@hjelmn /dev/shm size differs a bit from system to system, but typical size is 94 G with 28 processes. (50 % of the total ram in the system). The simulations I'm currently running are relatively lightweight in terms of memory and they only consume about 17 G mem in total.

It might be that this is not related to the original bug after all, except that the crashes happen roughly in the same place.

[2018-08-29 22:02] jsquyres commented on #5529
@jjones-cavium Ok, great -- thanks!

We got the PR merged on master; it's awaiting merge on the v3.0.x, v3.1.x, and v4.0.x branches (#5617, #5618, #5619, respectively).  Once those 3 are merged, this issue will be closed.

[2018-08-30 11:48] hoopoepg opened #5631 "flush_and_invalidate_cache is not valid for ARM64 platform"
Thank you for taking the time to submit an issue!

## Background information
ARM64 based platforms need actions to invalidate instruction cache after code-modification

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
Actual for all OMPI versions 3.0+ (not tested on other versions)

### Please describe the system on which you are running

* Operat

[2018-08-30 14:35] jsquyres commented on #5631
FYI @shamisp @jjones-cavium @bosilca @ggouaillardet @nSircombe

[2018-08-30 15:17] jsquyres commented on #5613
This is likely a simple string parsing problem.  Any chance you can look into it?

[2018-08-30 15:41] shamisp commented on #5631
@hjelmn DSB is not enough. Please see [https://community.arm.com/processors/b/blog/posts/caches-and-self-modifying-code](https://community.arm.com/processors/b/blog/posts/caches-and-self-modifying-code)

[2018-08-30 15:43] rhc54 commented on #5631
@shamisp Since this is an ARM issue, perhaps someone from your community could provide the necessary patch? Seems unfair for us to automatically dump these things on @hjelmn all the time.

[2018-08-30 15:51] shamisp commented on #5631
Since historically @hjelmn has been maintaining this code, @hoopoepg is trying to be polite and brought this up to @hjelmn attention for further discussion, instead of dumping some code without proper discussion. From the thread I don't see anybody dumping anything on @hjelmn . This what I would consider constructive technical discussion.

[2018-08-30 16:00] hjelmn commented on #5631
@shamisp Thanks for the info. We will make the change.

[2018-08-30 16:01] rhc54 commented on #5631
I wasn't trying to be nasty or imply you were doing anything wrong - my point was solely to suggest that ARM take a more active role in supporting ARM-related code. In other words, rather than posting a bug and telling someone the current code doesn't work, another approach is to file a PR and ask for comment.

I'd like to see some organizations be a bit more proactive - hence the comment.

[2018-08-30 18:44] jjones-cavium commented on #5631
As a starting point, here is the code from the ARM Architecture Manual, section B2.2.5, for invalidating modified instructions. [ARM DDI 0487C.a]
[code]

[2018-08-30 20:05] shamisp commented on #5631
Arguably, more productive approach is an opening of issue and conducting technical discussion about potential resolution instead of spending time on unacceptable solution or re-inventing the wheel.

Regardless, ARM has multiple partners developing hardware based on ARM ISA (or uarch). Not necessary all issues and solutions will be coming directly from ARM. In many cases, issues are discovered and

[2018-08-30 21:26] rhc54 commented on #5631
I have no issue with any of that - the original conversation seemed to say "here is a problem and some links to technical stuff relating to it". It never gave an indication that ARM would be providing the solution, or was offering to do so. Knowing @hjelmn for many years, he would probably take this as a "you need to fix this" directive...as would I if you had cited me under similar circumstances.

[2018-08-30 21:37] hjelmn commented on #5375
@t-niemi Very odd. Can you provide instructions on how to reproduce the issue?

[2018-08-30 21:58] hjelmn commented on #5631
There are two issues here:
 1) We should use the compiler ___cache_flush intrinsic when it is available. I am working on a patch now.
 2) The current flush form for ARM64 is not correct. The fix was provided in this bug and will be in the patch. I will run some smoke tests but it will need testing from ARM.

[2018-08-30 22:02] jsquyres commented on #5631
@hjelmn Minor correction: "...will need testing from *the ARM community.*"

I only mention this because @shamisp made the good point that ARM is one company, but there are many vendors who make products based on the ARM architecture.

[2018-08-30 22:04] hjelmn commented on #5631
@jsquyres Indeed.

[2018-08-31 07:03] rhc54 commented on #5613
I think the prefix would have to be ```/``` and we shouldn't abort. This assumes that the libraries will be under ```/lib``` or ```/lib64``` etc. I'm not sure what to do if they were put somewhere else - in this case, there is a symlink used to point at the real location in /usr, so it is possible the corresponding symlinksfor libraries wasn't made. Suspect we'd just have to declare that a busted

[2018-08-31 14:23] Libavius opened #5637 "NAG failing to produce mpi_f08.mod"
I am trying to compile open-mpi-3.1.2 with the NAG-6.2 Fortran compiler (and GCC 7.3.1 for C/C++) on CentOS 7.4.

Already during configuration, I get -among a lot of others of course - the following lines:
[code]
The build produces no mpi_f08.mod. Is there a way to compile this file with NAG?

Thanks alot!

[2018-08-31 15:10] amckinstry opened #5638 "Hangs in mca_btl_vader_component_progress on multiple archs"
## Background information

OpenMPI 3.1.2
PMIX 3.0.1

Installed on Debian /sid.

Testing across our suite of MPI programs, we're seeing hangs on some apps, it looks offhand like the common factor is 32-bit systems: i386, mipsel.

Debian bugs:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=905418
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=907267
https://bugs.debian.org/cgi-bin/bugreport.cg

[2018-08-31 19:51] hppritcha commented on #5585
@hoopoepg could you check whether this need to be patched back into release branches?

[2018-09-01 00:34] asanchez500 opened #5639 "Need help with PS3 Cluster."
Thank you for taking the time to submit an issue!

## Background information

mpirun.openmpi (OpenRTE) 2.0.2

Git clone.

* Operating system/version: Debian 9
* Computer hardware: 64 bit
* Network type: Ethernet

-----------------------------

## Details of the problem

[code]

I am simply trying to run a test program locally and cannot get the script to even start. I already figured out how to ru

[2018-09-01 12:53] jsquyres commented on #5637
@ThemosTsikas could you share whether you expect Open MPI 3.1.2 to compile properly with NAG 6.2 on CentOS 7.4 w/ GCC 7.3.1?

[2018-09-01 12:59] jsquyres commented on #5613
Yeah, I'm not really sure why we have that error (i.e., that there's a prefix that is only `/`).  That might just be over-zealous...?

[2018-09-01 13:08] ThemosTsikas commented on #5637
On holiday now but my memory is that mpi_f08 in fact requires extensions that appear in 2018 standard and NAG compiler does not support them yet.

[2018-09-01 15:03] jsquyres commented on #5583
Saturday, 1 Sep 2018.  Still not working.  😦

[2018-09-02 06:05] hoopoepg commented on #5585
@hppritcha v4.0: https://github.com/open-mpi/ompi/pull/5640
other branches are not affected

[2018-09-02 09:02] extrowerk commented on #5588
I can't seem to reproduce it anymore, let's close it till it again surfaces.

[2018-09-02 09:02] #5588 closed

[2018-09-03 06:04] t-niemi commented on #5375
@hjelmn I can try, but it will take a while. I have to see if I can get the crash to happen with some of the freely available, small tutorial cases.

[2018-09-04 00:06] ggouaillardet commented on #5639
@asanchez500 it seems you are not running under a resource manager (such as Slurm, PBSPro and others).
In this case, a requirement is you must be able to ssh passwordless between nodes.

you need to authorize your public keys, allow ssh as root if this is really what you want (once again, we strongly advise you use a user account) and allow the hosts public keys.
Then you should be able to
[code]

[2018-09-04 10:18] t-niemi commented on #5375
I did some further tests. I tested 2.1.2 and that seemed to work. I checked the commit log and found only one commit between 2.1.2 and 2.1.3 in vader (https://github.com/open-mpi/ompi/commit/2467c2768886b8f0bc1279b89da422f3fdee3c10#diff-dfa82915b442deeba49157bad6f16830), I'm guessing it might be related to this?

I don't understand the code, but I tried to look what has changed in btl_vader_fbox.

[2018-09-04 18:25] adammoody opened #5643 "Question about correct file format in external32"
## Background information

My understanding is that external32 should write integer values in big-endian format, but it seems to be writing in little-endian format instead.  I will attach a test case that writes a series of MPI_UINT64_T values to two files: one in "native" data representation and one in "external32".  Running hexdump on the resulting file shows that both appear to store those valu

[2018-09-04 18:29] adammoody commented on #5643
Reproducer builds with mpicc, run as a single process (will fail with more than one).

[code]

[2018-09-04 18:31] adammoody commented on #5643
The derived data type is in there because that causes problems with a different MPI.  For Open MPI, my question is just about the file format used for the 5 MPI_UNIT64_T values.

[2018-09-05 00:08] adammoody commented on #5643
To be precise, I would expect to get the following with external32:
[code]
rather than:
[code]

[2018-09-05 00:11] edgargabriel commented on #5643
@adammoody sorry for the late reply. The ompio implementation of MPI I/O does not support at the moment using any other data representation than native, this is still work in progress. To use the external32 representation, please force Open MPI to use romio, e.g.

mpirun --mca io romio314 -np x ../my_exec

[2018-09-05 00:13] jsquyres commented on #5643
@edgargabriel Should we have MPI_FILE_SET_VIEW fail when `external32` is specified when OMPIO is selected?

[2018-09-05 00:15] edgargabriel commented on #5643
@jsquyres that would be an option, although the logic probably should be reversed (i.e. if it is not native or internal, fail), since a user could also define its own data representation.

[2018-09-05 00:28] asanchez500 commented on #5639
Welp. I'm still stuck trying to run this locally for the most part just to see if my setup would work. I do know that the script I am running works on another machine. Just can't figure out how to run this on this master node I am setting up. Here are my errors. Any help would be appreciated. Thank you.

root@debianz:~/Desktop/nfs/mpi-hello-world#  mpirun --allow-run-as-root -H debianz:2 ./mpi_hel

[2018-09-05 00:30] ggouaillardet commented on #5643
FWIW, I noted romio 3.2.1 (from the `master` branch) works fine with `MPI_UINT64_T` in `external32` mode, but fails to write correctly `MPI_INT` in `external32` mode. I am now investigating this.

[2018-09-05 06:13] ggouaillardet commented on #5643
the issue in `master` has been fixed by merging #5494 (I thought that had been done a while ago, especially since the commit has already been cherry picked into the `v4.0.x` branch)

[2018-09-05 13:16] jsquyres commented on #5637
Could you upload the output from running Open MPI's `configure`?  Buried in all that stdout is a listing of all the Fortran features that it checks for, and then a final determination as to whether it will build the `mpi_f08` module or not.

[2018-09-05 13:47] ggouaillardet commented on #5643
Yep, I only fixed ROMIO.

This patch got lost when refreshing ROMIO from 3.1.4 (v3 branches) to 3.2.1 (master and v4 branches), so there is no point in backporting it to the v3 branches.

Note the default Open MPI behavior is to return with an error when a MPI-IO subroutine fails (e.g. no abort), so we might want to issue an error message to make it crystal clear this is an OMPIO limitation (and h

[2018-09-05 14:08] pflee2002 opened #5645 "How to increase the max number of communicators for shared windows to ulimited?"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
OpenMPI 2.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from the source downloaded from openmpi website

###

[2018-09-05 15:11] Libavius commented on #5637
@jsquyres This is the Fortran compiler section of the output. I piped the stderror in there as well (there are some warnings:
[code]

[2018-09-05 15:31] jsquyres commented on #5637
That `configure` output should be enough for you to ask NAG what is missing in the version that you have (I don't know if @ThemosTsikas is still on vacation / replying to email), and whether they plan to back port that functionality to your version.

[2018-09-05 15:32] jsquyres commented on #5637
If I had to guess, I'd *guess* that this is the problem:

[code]

[2018-09-07 01:13] ggouaillardet commented on #5645
You are likely hitting the limit that is set by the `pml` component.

`pml/ob1` you are likely using internally stores contextid on `16` bits, and hence a `65535` limit on the number of communicators.
you might want to investigate `pml/ucx` that stores contextid on `20` bits.
`pml/yalla` might have a higher limit and that could be an option depending on the hardware you are using.

All that being

[2018-09-07 05:59] amckinstry commented on #5114
Just to note this issue is also being tracked here: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=896861

So far its been traced to having "-L" in tmpdir build paths on Debian.

[2018-09-07 14:03] jsquyres commented on #5645
👍 on what @ggouaillardet said: if you need that many windows, you might want to re-think your architecture.  Yes, it may be *convenient* to allocate that many windows, but it almost certainly won't be *efficient*.

Additionally: one point Gilles left out: in Open MPI, windows are backed by communicators behind the scenes because they share some of the back-end infrastructure.  That's why you can't

[2018-09-07 15:18] pflee2002 commented on #5645
Thanks. I will change my architecture.

[2018-09-07 15:19] jsquyres commented on #5645
Cool.  Good luck.

[2018-09-07 15:19] #5645 closed

[2018-09-07 15:44] jsquyres commented on #5114
Huh; I wonder why I wasn't able to reproduce it...?

Here's what I did (also listed on the Debian bug):

[code]

I am using:

* Autoconf 2.69
* Automake 1.15 (*** you are using 1.15.1 -- do we think that makes a difference?)
* Libtool 2.4.6

[2018-09-07 16:02] newbie-lightgbm commented on #1916
Hi,
I'm trying to implement on an openmpi cluster. I am getting a similar problem:
[LightGBM] [Info] Start training from score 876.311793
[LightGBM] [Info] Start training from score 876.311793
[LIZ-Graph32:25640] *** Process received signal ***
[LIZ-Graph32:25640] Signal: Segmentation fault (11)
[LIZ-Graph32:25640] Signal code: Address not mapped (1)
[LIZ-Graph32:25640] Failing at address: 0xe24e7

[2018-09-07 16:05] newbie-lightgbm commented on #1916
Hi,
I'm trying to implement on an openmpi cluster. I am getting a similar problem:
[LightGBM] [Info] Start training from score 876.311793
[LightGBM] [Info] Start training from score 876.311793
[LIZ-Graph32:25640] *** Process received signal ***
[LIZ-Graph32:25640] Signal: Segmentation fault (11)
[LIZ-Graph32:25640] Signal code: Address not mapped (1)
[LIZ-Graph32:25640] Failing at address: 0xe24e7

[2018-09-07 18:41] t-niemi commented on #5375
I'm starting to get more confident that the issues are indeed caused by setting the tag too early, because I have not had a crash after the fix. Also, I tried to add usleep(10) to the end of mca_btl_vader_fbox_set_header and then I get a crash almost immediately even with just 4 processes. Is there a possibility, that after setting the tag, some other process can interfere before the original proc

[2018-09-07 19:41] gpaulsen commented on #5489
merged and closing.

[2018-09-07 19:41] #5489 closed

[2018-09-07 19:47] gpaulsen commented on #5443
This was merged to master and v4.0.x only.
Closing...

[2018-09-07 19:47] #5443 closed

[2018-09-07 19:50] gpaulsen commented on #5059
merged into v4.0.x

[2018-09-07 21:15] gpaulsen commented on #5447
I have completed this testing.  It is important to acknowledge that testing alone can never fully guarantee ABI compatibility.  This tested was done in combination with discussion in the weekly web-ex discussions with our core developers and deemed the gating factor if we can keep our .so versions compatible so as to NOT require users' to rebuild/link their mpi applications.

I built and ran the o

[2018-09-10 10:51] ThemosTsikas commented on #5637
Jeff has correctly identified the issue. NAG Fortran Compiler does not yet support assumed-type TYPE(*) declaration, which appeared in F2018.

[2018-09-10 12:09] amckinstry commented on #5638
https://buildd.debian.org/status/package.php?p=elpa

Fails/hangs on mips64el and ppc64el, so not just 32-bit systems.
tested with internal pmix / libevent and still occurs.

[2018-09-10 21:43] #5631 closed

[2018-09-11 07:31] #5059 closed

[2018-09-11 07:35] karasevb commented on #5059
Issue solved.

[2018-09-11 14:15] jsquyres commented on #5529
This has now been merged into master, v3.0.x, v3.1.x, and v4.0.x branches.

Done!

[2018-09-11 14:15] #5529 closed

[2018-09-11 14:48] jsquyres opened #5667 "Weirdness in "Cray alps" output in configure summary"
A user posted a configuration log in recent message to devel that included the following output:

[code]

I'm unable to replicate this error on my system, but that might be because I'm not on a Cray...?

Here's the user's full log: [spack-build.txt](https://github.com/open-mpi/ompi/files/2371429/spack-build.txt)

[2018-09-11 15:04] jsquyres commented on #5667
Here's the configure line that the user said they used:

[code]

[2018-09-11 15:09] amckinstry commented on #5638
This reliably happens on i386 (but not x86_64).
I've tested with OpenMPI 3.1.3 as of Sept. 11.

[code]
and on core 2:
[code]

The test case is issue46 for arpack: an issue with custom communicators:
https://github.com/opencollab/arpack-ng/blob/master/PARPACK/TESTS/MPI/issue46.f

[2018-09-11 15:32] jsquyres commented on #5470
On the Webex today, @hjelmn says he'll go have a look at this.  One possibility -- and @hjelmn will need to check with @bosilca -- is to disable the builtin atomics on v4.0.0.

[2018-09-11 15:33] jsquyres commented on #5447
Per 2018-09-11 webex, @gpaulsen says this is now complete / ok to close.

[2018-09-11 15:33] #5447 closed

[2018-09-11 15:33] rhc54 commented on #5376
Committed to v4.0.x

[2018-09-11 15:33] #5376 closed

[2018-09-11 15:37] jsquyres commented on #5375
We discussed in 2018-09-11 webex.  @hjelmn is going to have a closer look.

[2018-09-11 15:37] rhc54 commented on #5336
Needs update to PMIx v2.1.4 for OMPI 3.1.x

[2018-09-11 15:38] NablaCFD commented on #5375
Only bug information update.
I encountered the same problem, I have tested the OpenMPI-3.1.1 and 3.1.2 on Ubuntu 18.04 and Ubuntu 16.04 at WSL of Windows 10.

[2018-09-11 15:38] jsquyres commented on #5375
This may be related to #5638.

[2018-09-11 15:39] jsquyres commented on #5638
This may be related to #5375.

[2018-09-11 15:40] gpaulsen commented on #5540
George has a patch that's coming.

[2018-09-11 15:40] jsquyres commented on #5540
Discussed on 2018-09-11 webex; @bosilca mentioned that he has a patch but he hasn't tested it properly with all the other datatype tests.  Stay tuned.

[2018-09-11 15:42] rhc54 commented on #5260
Related to #5501

[2018-09-11 15:43] hjelmn commented on #5375
@t-niemi Please try this patch

[code]

[2018-09-11 15:44] hjelmn commented on #5638
@amckinstry Please try this patch:

[code]

[2018-09-11 15:44] rhc54 commented on #5115
Related to #5501

[2018-09-11 15:45] rhc54 commented on #5075
Not particularly interested right now, so closing

[2018-09-11 15:45] #5075 closed

[2018-09-11 15:45] jsquyres commented on #5375
@hjelmn figured it out: the fastbox header writing is ok on x86_64, but the ordering of writing is going to matter on other platforms.   Nathan is "being clever" by writing several values together as a single 64-bit value -- but the actual write may end up being multiple instructions (i.e., not atomic).  ...and he just included a patch above that should fix the issue.

[2018-09-11 15:47] t-niemi commented on #5375
Ok, I will test it tomorrow when I get to office.

[2018-09-11 15:50] bosilca commented on #5470
Once we pull #5445 we should be able to even drop builtin atomics completely.

[2018-09-11 15:50] rhc54 commented on #5048
@ggouaillardet Did these fixes get into the release branches? If so, can we close this?

[2018-09-11 15:52] rhc54 commented on #5020
Relates to #5266

[2018-09-11 15:53] rhc54 commented on #5020
Looks like the ```--cpu-set``` option is broken

[2018-09-11 15:55] #4732 closed

[2018-09-11 18:12] jsquyres commented on #5637
Thanks @ThemosTsikas.  I'll close this issue then (i.e., the solution is to upgrade to a newer version of the compiler -- it's not a problem with the Open MPI code).

[2018-09-11 18:12] #5637 closed

[2018-09-11 19:08] amckinstry commented on #5638
Unfortunately not the (full ?) answer.
Its now hanging elsewhere:
[code]
and
[code]

[2018-09-11 19:41] t-niemi commented on #5375
Hmm, I still get a crash with my 4-core desktop when I also have the 10 microsecond wait in  mca_btl_vader_fbox_set_header. I can test it tomorrow in the office with a server and more cores and without the wait, but I'm guessing that it might also crash. The wait just makes the crash more likely to happen.

I didn't mention it clearly, but I'm running x86_64 in all cases, so the issue should not b

[2018-09-11 20:33] hjelmn commented on #5375
Hmm, ok. I see the issue you are hitting. Not sure why we aren't triggering it in nightly testing. This should be sufficient for this bug:

[code]

[2018-09-11 21:35] jsquyres opened #5670 "Infinite recursion in libnbc/libdict"
Clang compiling Open MPI master head on MacOS shows that this function is an infinite recursion:

https://github.com/open-mpi/ompi/blob/b83ad04e4ec504ae7ab1c1e3ad318970634b4257/ompi/mca/coll/libnbc/libdict/hb_tree.c#L173-L177

It doesn't look like this code path is referenced in a few places, but is never actually used.

@bosilca Is this safe to delete?

[2018-09-11 21:41] jsquyres commented on #5643
@ggouaillardet @edgargabriel @bosilca Could this be related?

I realize this is in collectives, not IO, but it's related to external32, and it looks like we're not initializing the `size` variable when calling `ompi_datatype_unpack_external()`.

[code]

[2018-09-11 21:50] jsquyres opened #5671 "memory_patcher_component.c: syscall() deprecated on MacOS"
I note that when compiling on MacOS 10.13/High Sierra, I get the following compilation warnings from patcher.

This is clearly not a problem yet (as of Sep 2018), but it will eventually bite us if MacOS actually removes `syscall()`.  Someone else noted this same issue about 2 years ago (in MacOS 10.12/Sierra): https://github.com/hbowden/nextgen/issues/11

[code]

[2018-09-11 22:27] jsquyres opened #5672 "Double free in oob/ud"
A user reports in https://www.mail-archive.com/users@lists.open-mpi.org/msg32650.html that they're getting a double free in `orted`.  Looking at the stack trace, it's in oob/ud:

[code]

There's a fairly obvious `free()` in an error path that is then followed by an `OBJ_RELEASE()` in the same error path.  This PR simply removes the extra `free()`.  This probably creates a minor memory leak, but th

[2018-09-12 02:07] bosilca commented on #5670
dict_search, the only function that could use hb_tree_csearch, is never called. I guess it is then safe to leave this in and maybe call abort inside.

[2018-09-12 07:38] devreal commented on #4952
Is there an update on this? Has this been discussed at the forum (or maybe will be next week?)

From a user perspective, it would be helpful to be able to pass a request for a specific alignment to the window allocation function in the form of an info key (I heard yesterday at the wg conf call that there are already multiple new info keys in discussion). The default alignment should match the mini

[2018-09-12 07:49] ggouaillardet commented on #5643
@jsquyres this is an unrelated bug genuine bug that will be fixed in #5680

[2018-09-12 10:08] t-niemi commented on #5375
@hjelmn Yes, that seems to do the trick. I have both patches active and everything seems to be stable now.

It is not surprising that you haven't encountered this because it seems to require some rather unlucky sequence and many simultaneous processes to catch it without artificial sleep. On the other hand, the bug was still probable enough to stop all of my simulations within few hours.

[2018-09-12 10:57] jsquyres commented on #5670
Do we need to report this upstream to someone?

Sent from my phone. No type good.

On Sep 11, 2018, at 10:07 PM, bosilca <notifications@github.com<mailto:notifications@github.com>> wrote:

dict_search, the only function that could use hb_tree_csearch, is never called. I guess it is then safe to leave this in and maybe call abort inside.

—
You are receiving this because you authored the thread.
Re

[2018-09-12 13:48] bosilca commented on #5670
libnbc is still supported ? We never really pushed upstream all updates to it, so by now our version is heavily altered.

[2018-09-12 15:07] jsquyres commented on #5670
Gotcha.

[2018-09-12 19:10] hjelmn commented on #5375
Alright, thanks for confirming that. Will get this fix into master and PR'd to releases.

[2018-09-12 19:41] rhc54 opened #5687 "v4.0.x: Update to PMIx v3.0.2"
There are a couple of bugs in the PMIx event notification system, plus some missing functionality. OMPI doesn't currently use the specific functionality, but can hit the bugs.

Waiting for PMIx v3.0.2 release before posting PR.

[2018-09-12 23:42] jsquyres commented on #5639
I notice in your first error message a key line in the output:

[code]

This means that some machine was unable to ssh over to 192.168.53.57.  Without being able to do that, Open MPI will fail.  Does the .57 machine have an ssh daemon running, and allow incoming connections?

[2018-09-14 15:59] jsquyres commented on #5520
This is almost certainly not going to get fixed in the v2.1.x series, since v4.0.x is immanent (which then obsoletes the v2.1.x series).

[2018-09-14 15:59] #5520 closed

[2018-09-14 16:01] jsquyres commented on #5510
Looks like this was resolved in Open MPI v3.0.1.  Closing the issue.

[2018-09-14 16:01] #5510 closed

[2018-09-14 16:06] jsquyres commented on #5260
Hey @rhc54 -- is this fixed in Open MPI 3.1.x HEAD (which has PMIx 2.1.3)?

[2018-09-14 16:10] rhc54 commented on #5260
I suspect it will work as the user indicated that OMPI 3.x works fine with PMIx v2.1.x - it is the older PMIx v1.2.x that isn't compatible. I doubt that anyone is going to fix that problem.

[2018-09-14 17:07] jsquyres commented on #5375
See PR #5696.

[2018-09-14 17:07] jsquyres commented on #5638
See PR #5696.

[2018-09-14 17:09] jsquyres commented on #5459
@geimer Were you ever able to make progress on this, perchance?

[2018-09-14 17:28] jsquyres commented on #5114
@amckinstry Should we close this issue?

[2018-09-14 17:39] jsquyres commented on #5085
I do believe that this issue was resolved quite a while ago.

[2018-09-14 17:39] #5085 closed

[2018-09-14 17:40] jsquyres commented on #5083
@gpaulsen Ping.

[2018-09-14 17:44] jsquyres commented on #5130
This has been fixed.

[2018-09-14 17:44] #5130 closed

[2018-09-14 17:45] jsquyres commented on #5143
@angainor @jladd-mlnx @xinzhao3 Doing a bug scub and noticed this old issue.  Has this been resolved?

[2018-09-14 17:47] jsquyres commented on #5172
@Akshay-Venkatesh @hjelmn Any progress on this?

[2018-09-14 17:48] jsquyres commented on #5177
@karasevb @artpol84 This issue is back from May 2018.  Any progress?

[2018-09-14 17:49] jsquyres commented on #5151
@ggouaillardet @mkurnosov This is some discussion from you back in May of 2018.

@ggouaillardet Did you file a PR with the resolution of this discussion / should this issue be closed?

[2018-09-14 17:49] #5151 closed

[2018-09-14 17:50] jsquyres commented on #5151
Oops -- hit the wrong button there / didn't mean to close.  😢

But I'm *guessing* that it can be closed, anyway.  @ggouaillardet @mkurnosov please re-open if necessary.  Thanks!

[2018-09-14 17:52] jsquyres commented on #5256
@thananon Should this issue be closed?  It looks like @hjelmn fixed the problem...?

[2018-09-14 17:58] jsquyres commented on #5278
Looks like this was resolved long ago.

[2018-09-14 17:58] #5278 closed

[2018-09-14 18:00] jsquyres commented on #5336
Will be fixed by #5690.

[2018-09-14 18:09] jsquyres commented on #5377
Executive decision on 2018-09-14: per above, this is not an issue for v4.0.x.  Target v3.0.x and v3.1.x (PRs filed).  Not worth it for v2.1.x.

[2018-09-14 18:18] jsquyres commented on #5387
@asylvest Without a small reproducer program, we can't really go much further on this.  If you can supply us with a small program that shows the issue, we can re-open this issue.  Thanks!

[2018-09-14 18:18] #5387 closed

[2018-09-14 18:26] jsquyres commented on #5383
Looks like this was fixed on master, v3.0.x, and v3.1.x a long time ago.  Closing.

[2018-09-14 18:26] #5383 closed

[2018-09-14 18:27] jsquyres commented on #5370
@zmonoid I'm sorry for the giant delay on this.  Are you still having this problem?

[2018-09-14 18:33] #5375 closed

[2018-09-14 18:33] jsquyres commented on #5069
* PR's filed for v3.0.x and v3.1.x.
* Not an issue for v4.0.x (I assume this was merged to master before v4.0.x branched).
* Executive decision: not worth it for v2.1.x.

[2018-09-14 18:44] jsquyres commented on #5067
This was fixed on master long ago (and automatically became part of the v4.0.x branch).  But the fixes were not cherry picked to the release branches.

Just created PRs for v3.0.x and v3.1.x.

[2018-09-14 18:46] jsquyres commented on #5047
There's been no activity on this for months; I'm going to mark this as wontfix.

The Way Forward is to use the UCX PML.

[2018-09-14 18:46] #5047 closed

[2018-09-14 19:00] jsquyres commented on #5009
@hjelmn @ggouaillardet I see that the 2 commits (with nearly identical commit messages) were committed to master for this:

* @ggouaillardet c29301da9529d8c5730e3d40f9302386fcd421ea
* @hjelmn 4d876ec6fedd2f5d299259eff53ba37b12c5d7e0

I'm not sure what happened there...

Do these need to be cherry-picked to v3.0.x and v3.1.x?  I do not see these commits on those branches.

I only ask (vs. just maki

[2018-09-14 19:02] jsquyres commented on #4976
@nmorey @hjelmn @ggouaillardet There's been no new updates on here for months.  Is this issue still happening at the HEAD of master / release branches?

[2018-09-14 19:02] hjelmn commented on #5009
@jsquyres Different versions of romio?

[2018-09-14 19:05] jsquyres commented on #5009
Boom -- yes, that's the issue; I missed that in the commit messages: ROMIO 3.1.4 vs. 3.2.1.

Looks like we need the v3.1.4 variant for the v3.0.x and v3.1.x branches.  I'll go file those now.

[2018-09-14 19:33] jsquyres opened #5712 "Compiler warnings in ALLTOALL_INIT and BARRIER_INIT"
When compiling master HEAD with the Intel compiler suite:

[code]

@ggouaillardet `git blame` cites you as the owner of this code.  Could you check it out?  Could be a typo in some pragmas or something.

[2018-09-14 22:05] kose-y commented on #2397
https://github.com/open-mpi/ompi/blob/98afc838aa53da88cba339f6dcbab256806a5745/ompi/mca/coll/cuda/coll_cuda_reduce.c

Just putting the related code for future reference.

[2018-09-15 08:18] amckinstry commented on #5114
Yes, closing.

[2018-09-15 08:18] #5114 closed

[2018-09-15 13:36] jsquyres opened #5713 "Atomic compiler warnings (from C11 atomic PR)"
I am seeing lots of these warnings on master HEAD when compiling with gcc 7.3.0 on RHEL 6.x:

[code]

Bisecting shows that fe6528b0d5 (i.e., PR #5445, "Update opal to use C11 atomics if available") is the culprit.

@hjelmn can you please have a look?  Thanks!

[2018-09-15 14:05] hjelmn commented on #5713
Ah, missed that one. Will fix.

[2018-09-15 14:12] zmonoid commented on #5370
@jsquyres Yes, still

[2018-09-15 16:01] #5670 closed

[2018-09-17 15:17] jsquyres commented on #5268
@bosilca @artpol84 Do we need to do anything here?

[2018-09-17 15:19] jsquyres commented on #5393
@gpaulsen Waiting for an update from you.

[2018-09-17 15:20] jsquyres commented on #5377
Now merged to all relevant release branches.  Closing.

[2018-09-17 15:20] #5377 closed

[2018-09-17 16:09] jsquyres commented on #5260
A few questions:

1. Just curious: what is MPAI?
2. @rhc54 Is the problem solely in PMIx?  Put differently: is it possible for OMPI to abort/exit in this known-bad scenario?

Additionally: how do we document this kind of stuff to the user?  (i.e., OMPI / external PMIX compatibility -- does that reduce to https://docs.google.com/spreadsheets/d/1SwkUEzbFb1TvKuwHzOnPgjkW6OhmGmt1yrH3YN2IUQw/edit#gid=4

[2018-09-17 19:18] hppritcha commented on #5492
NEWS is ready for release.  closing this issue.

[2018-09-17 19:18] #5492 closed

[2018-09-18 02:27] bosilca commented on #5268
Yes, we should merge #4897.

[2018-09-18 03:42] #5712 closed

[2018-09-18 07:12] geimer commented on #5459
@jsquyres I got distracted by vacation ;-) And now I'm behind schedule on my primary project... In other words: I don't believe I can find the time to look into this in the near future.  Sorry!

[2018-09-18 15:30] jsquyres commented on #3972
Per 2018-09-18 webex, @Akshay-Venkatesh is going to make a PR for master + release branches to change the MCA var default value as described in https://github.com/open-mpi/ompi/issues/3972#issuecomment-415820940.

[2018-09-18 15:32] jsquyres commented on #3972
BTW, also per 2018-09-18 webex, it turns out that we *are* going to do another v2.1.x release (sigh) because of https://github.com/open-mpi/ompi/pull/5696.  So I'm going to add the v2.x label to this issue, too.

[2018-09-18 15:33] bwbarrett commented on #5672
Everyone's merged.  Closing the ticket.

[2018-09-18 15:33] #5672 closed

[2018-09-18 16:34] #4896 closed

[2018-09-18 16:36] jsquyres commented on #5268
#4897 merged.  Closing this issue.

[2018-09-18 16:36] #5268 closed

[2018-09-18 21:27] thananon commented on #5256
Yes, I can no longer reproduce the behavior.

[2018-09-18 21:27] #5256 closed

[2018-09-18 22:00] gpaulsen commented on #5502
Reopen to PR to release branches.

[2018-09-18 22:05] jsquyres commented on #5502
Note that there are still other places long info keys can either overrun the array of produce amorphus runtime errors.

Coincidentally, I looked at this code in detail this past weekend.  I think that this code is due for a bit of revamping, for example:

1. A bunch of the comments do not match the code, which makes for very confusing reading.
1. Instead of having a magic prefix for "old" key valu

[2018-09-19 16:05] sjeaugey commented on #1999
Closing old bug.

[2018-09-19 16:05] #1999 closed

[2018-09-19 16:32] amckinstry commented on #5638
@jsquyres Just tested the full patch 850fbff. no joy.

[2018-09-19 17:00] jsquyres commented on #5638
Doh!

So just to be clear:

- you tested Open MPI v3.1.2
- with patch of dca3516765a4b5927b1877ca59d952baec42bc4a
- and also with patch of 850fbff441756b2f9cde1007ead3e37ce22599c2

And you still get hangs on i386?

[2018-09-19 17:40] amckinstry commented on #5638
Yes.

[2018-09-19 18:55] thananon opened #5739 "bml/r2: closing already closed BTL in some cases."
mca_bml_r2_del_procs() will do a double free if the BTL is presented on both `btl_send` and `btl_rdma` list, resulted in segfault in MPI_Finalize. (see both for loop at 620 and 637)

https://github.com/open-mpi/ompi/blob/dccf780546e9cb49066bd76121b01293aa6d4b97/ompi/mca/bml/r2/bml_r2.c#L605-L656

btl/uct and btl/ofi did a workaround on this issue by using hash table on del_proc. However, this will

[2018-09-19 19:06] jsquyres commented on #5739
(github pro tip: use permalinks to paste in code from a github repo)

I would say that this should be fixed in r2.

[2018-09-19 19:08] gpaulsen commented on #5393
okay... no update yet.

[2018-09-19 19:08] gpaulsen commented on #5083
waiting on update from me.  No update yet.

[2018-09-19 20:46] #3630 closed

[2018-09-20 07:51] knjmooney commented on #5260
I can answer 1. MPAI is the MPIR Process Acquisition Interface. It allows tools to locate jobs by debugging the starter process. I think I've seen most people refer to it as MPIR but I was reading the following at the time, https://www.mpi-forum.org/docs/mpir-specification-10-11-2010.pdf, which referred to it as MPAI.

[2018-09-20 08:02] artpol84 commented on #5177
@karasevb ?

[2018-09-20 10:50] rhc54 commented on #5260
For the second question: I suspect the MPIR connection is a red herring. PMIx has nothing to do with MPIR. If it is generally true that OMPI 3.x is broken with PMIx v1.2.5, then the only suggestion I can make is to simply change the configure logic to reject the older version - or for someone to fix the integration issue 😄

[2018-09-20 14:53] jsquyres commented on #5067
This has now been merged to all relevant release branches.  Closing.

[2018-09-20 14:53] #5067 closed

[2018-09-20 21:28] bwbarrett commented on #3972
Work around is in master; pull requests for v2.1.x, v3.0.x, v3.1.x, and v4.0.x opened.

[2018-09-21 06:51] #5713 closed

[2018-09-21 20:10] dineiar commented on #3173
Just to keep documented if anyone needs it, the switch to compile C++ bindings in [OpenMPI v2.1](https://www.open-mpi.org/software/ompi/v2.1/) (the last supported version with C++ bindings available) is:
[code]

[2018-09-22 13:54] jsquyres commented on #4995
@hjelmn looks like we already make sure to unset SETTABLE (see line 1394):

https://github.com/open-mpi/ompi/blob/3f598e9e8334128897e9fe6d71891b6a5101a0c7/opal/mca/base/mca_base_var.c#L1385-L1395

So I think we don't need `VAR_IS_DEFAULT_ONLY(var[0])` in the test clause at all.

[2018-09-23 06:13] seisowl opened #5760 "make install not right but won't fail without gawk"
Thank you for taking the time to submit an issue!

## Background information
make install is not successful without gawk
should fail if gawk is not available.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
commit 3f598e9e8334128897e9fe6d71891b6a5101a0c7 (HEAD -> master, origin/master, origin/HEAD)

### Describe how Open MPI was installed (e.g.,

[2018-09-24 07:23] mkre opened #5763 "Performance issues with memory/patcher"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v3.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from source tarball

### Please describe the system on which you are running

* Operating system/versio

[2018-09-24 16:56] jsquyres commented on #5760
Can you provide more specific information?  Your background information section is confusing -- you say that make install fails without gawk, and it should fail if gawk is not available.  So I'm not clear on exactly what you're asking for.

Additionally, what exactly is failing, and how?

Please upload:
* stdout/stderr from running configure
* the `config.log` file
* output from `make install`

Th

[2018-09-24 18:00] seisowl commented on #5760
OK, "make install" appeared as successful but the target bin directory had no useful binaries except many symbolic links pointing to non-exsisting ones.  Scroll back to the output of "make install" i saw two lines (maybe more) complaining "gawk" is missing but the process continued.
After I installed gawk, everything is OK.
I cannot go back to give you the old output because I am already using the

[2018-09-24 19:19] hppritcha commented on #5687
been committed both to master and 4.0.x.  closing.

[2018-09-24 19:19] #5687 closed

[2018-09-24 21:17] jsquyres commented on #4995
Exec decision: don't bother fixing this on v2.1.x.  Made PRs for v3.0.x, v3.1.x, and v4.0.x.

[2018-09-24 21:39] jsquyres commented on #5593
We intentionally do not rpath `/usr/lib[64]` or `/usr/local/lib[64]` because that can mess with your system's natural search path ordering.  I'm a bit surprised that we don't mention this at all in the README 😦 -- I'll go fix that...

(just filed https://github.com/open-mpi/ompi/pull/5767)

[2018-09-24 21:54] jsquyres commented on #5370
Can you try running a non-Python program, such as `hostname`?  And if that works, can you also try a simple C MPI program (like https://github.com/open-mpi/ompi/blob/master/examples/hello_c.c)?

I'd like to see if the problem is with Open MPI, or with the Python system you're using.

[2018-09-24 21:58] jsquyres commented on #5760
It's a little hard to test this on a system that already has `gawk`.  We probably never ran into this problem because I'm a little surprised that you can have a linux machine without `awk` or `gawk` installed.

Can you just run `configure` again (perhaps into a bogus prefix so that you don't overwrite your current/working Open MPI) on a system without `gawk`, save the output, and then make/make in

[2018-09-25 04:32] seisowl commented on #5760
I am on Ubuntu 18.04 (i.e. 2018/04 release), by default awk and nawk are installed as expected but gawk is a separate package that I need to "apt install gawk".

Attached are configure.log, make.log, make_install.log (They are stderr/stdout, I did not attach the 6.8MB config.log generated by the system).
[configure.log](https://github.com/open-mpi/ompi/files/2413716/configure.log)
I do see:
config

[2018-09-25 14:55] rhc54 commented on #5760
Makes sense - thanks for clarifying!

[2018-09-25 14:55] #5760 closed

[2018-09-25 14:55] jsquyres commented on #5760
Ah, that would definitely be a problem -- our build process does assume that if `configure`, `make all`, and `make install` are not run on the same machine, they are running on a functionally identical machine.  I.e., if it found `gawk` on one machine, it will expect to find `gawk` on another machine.

And by "our build process", I mean "the GNU Auto tools" (automake, autoconf, libtool).

As @rhc5

[2018-09-25 15:08] jsquyres commented on #5638
@amckinstry Sorry -- one more clarification: does it only hang on i386, or does it still hang on other 32 bit platforms?

[2018-09-25 15:20] jsquyres opened #5774 "Another atomic warning"
Getting a bazillion of these on `master` when compiling on x86-64 with the Intel compiler suite -- it appears to be in `<sys/atomic_stdc.h>`, which means it gets reported for just about every single `.c` file compilation:

[code]

[2018-09-25 15:28] jsquyres commented on #5774
To clarify: this is `master`-only -- not `v4.0.x`.

[2018-09-26 07:55] amckinstry commented on #5638
Multiple: i386 (armhf, armel ; arm64 seems fine) and powerpc. Also kfreebsd-i386 and  kfreebsd-amd64 ( Debian project with kFreebsd kernel ).
Works on all mips variants and ppc64el .

(Details here: https://buildd.debian.org/status/package.php?p=arpack as arpack test suite fails).
Hard to see a pattern: not 32-bit only, or big-endian; some arch-sensitive code somewhere ?

[2018-09-26 08:04] hjelmn commented on #5638
Planning to build a 386 virtual machine to take a closer look. Really surprised this is still happening.

[2018-09-26 08:06] hjelmn commented on #5638
For powerpc are you using --disable-builtin-atomics?

[2018-09-26 10:58] amckinstry commented on #5638
No, not using --disable-builtin-atomics on any arch at the moment.
Currently I'm only testing on a 2-core VM on my laptop (i386) for simplicity.

[2018-09-26 14:18] jsquyres commented on #5638
@hjelmn We talked about this on the webex yesterday.  It may be that you fixed one area of vader, but we're running into another problem.  All we know is that it's hanging for @amckinstry -- not necessarily that it's the same exact problem.

[2018-09-26 19:41] jsquyres commented on #5442
@ggouaillardet I made a v3.1.x (#5781) and v4.0.x (#5780) PRs corresponding the master PR you made (#5453).  But I ran into conflicts trying to make a v3.0.x PR.

Could you make a backport PR for v3.0.x?

[2018-09-26 19:59] hjelmn commented on #5774
ok. will fix after i get over jet lag next week.

[2018-09-26 20:51] Akshay-Venkatesh opened #5782 "pmix complains with undefined symbol errors {pmix_buffer_t_class, pmix_bfrops_base_print_datatype}"
## Background information/Problem Details

[code]

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
master branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
[code]

### Please describe the system on which you are running

* Operating sys

[2018-09-26 20:57] #5782 closed

[2018-09-27 05:29] ghostplant opened #5789 "Is OpenMPI supporting RDMA?"
Thank you for taking the time to submit an issue!

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
openmpi-bin=1.10 (installed from Ubuntu 16.04 universe repository)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

We have some metals equipp

[2018-09-27 15:05] ghostplant commented on #5789
@jsquyres
Thank you! I just saw a not-fast send/recv performance, and I don't know how to verify the running OpenMPI really detect ConnectX-5 RDMA successfully without using other slower communication channel. Is there a way to confirm the RDMA offloading?

[2018-09-27 15:08] jsquyres commented on #5789
I'll direct you to Mellanox to help you with that...

@jladd-mlnx @artpol84 Can one of you followup with @ghostplant?

[2018-09-27 21:20] bwbarrett commented on #3972
Pull requests all merged.  Closing.

[2018-09-27 21:20] #3972 closed

[2018-09-28 04:30] ghostplant commented on #5789
@jedbrown Great! I'll arrange some detailed logs during the application execution just a short later!

[2018-09-28 06:34] ghostplant commented on #5789
There are 3 same-hardware metals with hostname node-130, node-131, node-132 respectively.
And this is how I run the mpi test problem under Ubuntu 16.04 (I already update openmpi-bin to v3.1.2):

I got some warning at the beginning of the running program, but the program can still run normally including MPI_Send/MPI_Recv/..

[code]

More INFO:
1) the interface `enp216s0` is the only one interface t

[2018-09-28 07:05] ghostplant commented on #5789
If I run all the same test using openmpi-bin v1.10 (from Ubuntu 16.04 apt repo), I got a different warning at the startup of MPI program:

[code]

[2018-09-28 07:49] harrysonj97 opened #5798 "Not enough slots available"
I've wrote a simple Hello World program on C and i couldn't seem to execute the code using Open MPI up to more than 5 processes.

I'm using the latest version of OpenMPI, 3.1.2 and I've installed it on my mac by following this tutorial:
https://intothewave.wordpress.com/2011/12/27/install-open-mpi-on-mac-os-x/

The problem is, even with --oversubscribe used i get an error message in the end.

Here

[2018-09-28 15:56] jsquyres opened #5801 "Add missing C MPI datatypes to mpi_f08"
Per https://github.com/open-mpi/ompi/pull/5799#pullrequestreview-159873191, we are missing the C MPI datatypes in `mpi_f08` (e.g., MPI_INT, MPI_CHAR, MPI_OFFSET, MPI_COUNT, ...etc.).

This prevents us from building against the MPICH test suite.  Here's how I tried to build the MPICH test suite:

[code]

[2018-09-28 16:15] jsquyres commented on #5798
Looks like there's 2 problems here:

1. This is a well-known issue with max filename lengths on MacOS.  You can `export TMPDIR=/tmp` to avoid this problem.
2. Even when doing this, however, I *sometimes* get a different seg fault.  @rhc54 have you seen this before?  It looks like something is running out of memory (notice the show help complaints) and/or is trying to malloc something that is way t

[2018-09-28 19:46] rhc54 commented on #5798
No, I haven't seen that anywhere before - do you know at what point in the program this happens?

[2018-09-29 01:42] harrysonj97 commented on #5798
Strange indeed. export TMPDIR=/tmp allowed me to mpirun --oversubscribe -np 10 hello but if i increase it to 20 i get the same error.

[2018-09-29 02:11] thzhao opened #5807 "ibv_exp_query_device error when runing mpi program using roce v2"
When I ran mpi program using roce v2, I got ibv_exp_query_device error. It seems that something is wrong when ib device is initiated. However, the program still run , and I can get correct results.

here is information about my system.

OS : CentOS Linux release 7.2.1511 (Core)

Linux version:  3.10.0-327.el7.x86_64

Open MPI: 3.1.3a1

ofed version: MLNX_OFED_LINUX-4.4-1.0.0.0 (OFED-4.4-1.0.0)

ne

[2018-09-29 02:38] abeltre1 opened #5808 "--MCA flag does not activate btl framework to work with specified components (TCP/IB)"
Thank you for taking the time to submit an issue!

## Background information
1. installed openmpi 3.1.2 after Mellanox OFED
2. Tested with mpirun and a large number for  --mca parameters

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
1. V3.1.2
2. MLNX_OFED_LINUX-4.4-2.0.7.0-rhel7.5-x86_64
3. CentOS 7.5

### Describe how Open MPI was installed (

[2018-09-29 17:52] abeltre1 opened #5810 "Component (openib) errors mlx4_0 device"
## Background information
In this experiment, I am using Mellanox devices and drivers to run an MPI application (osu). I keep getting the errors below when I run with `openib` since the driver does not load for a specific host. When I take the particular host that `mpirun` throws as an error from the hostfile, it proceeds to throw another host, and another etc.

### What version of Open MPI are yo

[2018-09-29 19:04] abeltre1 commented on #5807
I have a similar question with extra results: #5810

[2018-09-29 19:07] abeltre1 commented on #5789
@ghostplant did you try installing a later version of openmpi like @jsquyres suggested. That may have a lot of benefits when running MPI over InfiniBand (IB).

[2018-09-30 03:52] ghostplant commented on #5789
@abeltre1 Yeal, I tried both v3.1.2 and v1.10.2, but all got the following warning when calling `MPI_Init(0,0)`:

[code]

[2018-10-01 00:09] ggouaillardet commented on #5808
`btl/tcp` and `btl/openib` are only used when `pml/ob1` is used. Also, it is mandatory to use `btl/self` when `pml/ob1` is used.

Based on that, I think `pml/cm` and `mtl/mxm` are used on your system.

I do invite you to test again with

[code]

You might as well want to use `btl/vader` for intra node communications (otherwise you will use `btl/tcp` or `btl/openib` as the "loopback" device, which

[2018-10-01 01:02] abeltre1 commented on #5808
@ggouaillardet  I have ran all the test below to see if you can shine more light on the particualr issues.

# Using MXM `-mca pml cm -mca mtl mxm`
[code]

[2018-10-01 02:10] ggouaillardet commented on #5808
If you only want to double check Infiniband is used between two nodes, then I'd rather suggest you run `osu_latency` with 2 nodes and 1 task per node. (Infiniband latency is 1us, TCP is much higher).

If you do want to use `btl/tcp`, then I suggest you restrict it to a single subnet/interface.
For example, you can

[code]

if appropriate, you can also use the `--mca btl_tcp_if_include eth0` syntax

[2018-10-01 14:26] robertsawko opened #5813 "conftest doesn't link against lmxm"
Hi,

We're spending some time building a conda openmpi package for RHEL ppc64le. conda appears to be very fussy about broken tests in the configure stage so we spotted a problem thanks to it.

We are using the latest 3.1.2 version but the problem was also present in earlier versions. We are using a configure script invocation which looks like this.

[code]

Basically the code breaks on the line te

[2018-10-01 15:03] hoopoepg commented on #5813
hi
try this patch:
[code]
not sure if this helps, but let's try :)

[2018-10-01 15:15] hoopoepg commented on #5813
but don't forget re-start autogen.pl to apply fix

[2018-10-01 15:18] jsquyres commented on #5813
@hoopoepg I do not think that that is the correct fix.  Need to see the user's `config.log` to see the actual errors when configure was trying to find the mxm libraries.

[2018-10-01 18:07] jladd-mlnx commented on #5810
What version of MOFED are you running? Our recommendation is to use the UCX PML (`-mca pml ucx`). If you have a newer version of MOFED, then UCX will be the default PML in the MOFED packaged OMPI.

[2018-10-01 18:51] robertsawko commented on #5813
Many thanks both of you for quick responses. I should have sent the log before.

[config.log.tar.gz](https://github.com/open-mpi/ompi/files/2435199/config.log.tar.gz)

If I run this from the command line it runs fine as the test is propbably not critical(?), but when we build it inside conda the thing fails. We could suppress it, but we thought we'll bring this up in case it may be useful for futu

[2018-10-01 18:56] robertsawko commented on #5813
I believe there's the same problem with `ucp_cleanup` and multiple other functions are missing. This manifests itself with `undefined reference` linker error in various places. With mxm though it was clear that gcc is using the right `-L` location but isn't simply including `-lmxm` in the test build.

[2018-10-01 19:12] jsquyres opened #5814 "vader compile issue"
As reported by @siegmargross in https://www.mail-archive.com/users@lists.open-mpi.org/msg32704.html, he's having a compile issue with the vader BTL.

@hjelmn can you have a look?

[code]

Siegmar specifically stated that he tested master, but I'm *guessing* that this affects all of 2.1.x, 3.0.x, 3.1.x, and 4.0.x.

[2018-10-01 19:32] hjelmn commented on #5814
Looks like a compiler bug to me. This is the line in question:

[code]

Here ```hbs``` is ```bool``` and ```end``` is unsigned int. Not sure how the compiler could possibly get ```void``` for the RHS.

[2018-10-01 19:32] rhc54 commented on #4338
We turned off the pmi1/2 compatibility libraries in the internal build, so I think this is fixed

[2018-10-01 19:34] hjelmn commented on #5814
Unless I am missing something @siegmargross probably should open a bug with Oracle.

[2018-10-01 19:34] rhc54 commented on #4072
Closing this as we now have the packager mailing list.

[2018-10-01 19:34] #4072 closed

[2018-10-01 19:44] hjelmn commented on #5814
Opps, wrong line. The correct line is:

[code]

[2018-10-01 19:45] hjelmn commented on #5814
So, equally odd.

[2018-10-01 19:48] hjelmn commented on #5814
Well, somehow my local master was very stale. The line is really:

[code]

This points to something being off with the definition of the atomic types with this platform/compiler combination.

[2018-10-01 19:51] hjelmn commented on #5814
@siegmargross Can you post a gist with the config.log?

[2018-10-01 19:56] hjelmn commented on #5814
Something is really off here. Might still be a compiler bug. The head and tail are of type ```opal_atomic_intptr_t```. This is defined as either:

[code]

or

[code]

So the line in question has types:

[code]

Which from my reading of ISO C11 is valid.

[2018-10-01 20:07] jsquyres commented on #5814
@siegmargross Nathan posted a sample program (via editing his prior comment), so you didn't get the mail about it.  Can you check https://github.com/open-mpi/ompi/issues/5814#issuecomment-426041374 and compile/run the sample program he proposed and see what happens?

[2018-10-01 20:18] jsquyres commented on #3035
FWIW, I am still seeing these errors at Cisco -- both in MTT and sometimes even when running interactively.  For example, I just got this on today's master HEAD (2018-10-01) when running on a single node (i.e., 10.193.184.48 is a valid IP address for this node):

[code]

[2018-10-01 20:19] jsquyres commented on #3035
Also, note that the job hangs when this happens.  It doesn't seem to automatically try again / eventually succeed when the modex information arrives.

[2018-10-01 20:37] bosilca commented on #3035
This is indeed very odd. We always assumed that if a problem exists, it must be in the BTL TCP. But what if we receive corrupted data, so that we know there are 6 IP addresses but they are wrong?

[2018-10-01 20:39] rhc54 commented on #3035
I'll take a look, although I haven't been able to replicate and TCP/BTL is broken on the Mac at the moment.

[2018-10-01 20:46] jsquyres commented on #3890
I think this was addressed long ago.

[2018-10-01 20:46] #3890 closed

[2018-10-01 21:10] jsquyres commented on #5260
FWIW, DDT attaching to MPI processes seems to work fine for me at the OMPI git head, the v3.0.x HEAD, and the v4.0.x HEAD -- all using the embedded PMIx, that is.  That's not quite the same as what @knjmooney is testing, but I figured I'd at least provide those data points.

[2018-10-01 21:28] gpaulsen opened #5815 "BTL TCP on macOSX broken in v4.0.x and master"
As also reported by @rhc54 and @jsquyres in https://www.mail-archive.com/devel@lists.open-mpi.org//msg20758.html

[code]

[2018-10-01 21:31] gpaulsen commented on #5815
haven't tried 3.1.x or earlier yet.

[2018-10-01 22:16] jsquyres commented on #3035
The '0.0.0.0' is a display bug:

[code]

[2018-10-01 22:29] jsquyres commented on #3035
Actually, here's a simpler fix (we *do* have the full sockaddr lying around -- it's just on the module, not the endpoint):

[code]

Which is interesting, because this shows the multi-IP-address-on-a-single-interface problem.

With my original patch, I see the following output:

[code]

with the new/shorter patch, I see the following output:

[code]

Note that in the first one, we see the actual mi

[2018-10-01 22:40] bosilca commented on #3035
btl_endpoint->endpoint_btl->tcp_ifaddr isn't supposed to be the local address ?

[2018-10-01 22:44] jsquyres commented on #3035
@bosilca There's 3 issues here:

1. On this one server of mine, I have both a .48 and a .49 IP address on the same IP interface.  On this server, the module has .48 and the endpoint has .49.  Packets seem to actually be coming from .49.  We've never supported this configuration (multiple IP addresses on a single interface), so I don't know if this matters / if we care.
1. The show_help message was

[2018-10-01 22:52] derangedhk417 commented on #3458
Perhaps this is a stupid question, as I am not very familiar with Github. Is this actively being worked on?

[2018-10-01 23:03] bwbarrett commented on #3035
The patch Jeff posted is correct.  I think he's wrong that we never supported interfaces with more than one IP address.  We require the number of btl modules to be the same on both endpoints, but since we only have one module per address family per interface, that should be fine.  I'm a little worried that we're seeing inconsistencies in the addresses, but let's address that in patch 2.

Jeff, I t

[2018-10-01 23:27] jsquyres opened #5818 "TCP BTL: problems when there are multiple IP addresses on a single interface"
This issue is split off from #3035 and #5817.

On one of my development servers that has multiple IP addresses on a single IP interface, I get 100% failure with:

* Running our "ring_c" example MPI app on a single server
* TCP BTL and no shared memory
* After apply #6817

Here's the details:

[code]

Here's the `ip addr` from this machine:

[code]

Notice:

* eth2 has both .48 and .49
* eth6 has b

[2018-10-01 23:33] jsquyres commented on #3035
I moved the "multiple IP addresses on a single interface" issue off to #5818.

The issue Cisco MTT is seeing on this issue *might* be the same issue, but it is happening on machines that only have a single IP address per interface.  I.e., the setup is different enough that this could be a different issue.

[2018-10-01 23:58] bosilca commented on #5818
Moving my comment from #3035 here.

I don't agree. The field btl_endpoint->endpoint_btl point to the BTL TCP module that host the BTL endpoint, and the field tcp_ifaddr in a module point to the local IP address used by this module (this is a local IP address extracted using opal_ifkindextoaddr in mca_btl_tcp_create). What you really want to show is the remote addresses known for the peer, and thes

[2018-10-02 00:59] bosilca commented on #5815
#5819 is what you are looking for.

[2018-10-02 01:12] gpaulsen commented on #5815
I'll give it a try tonight.

I did learn that `-mca btl self,tcp -mca btl_tcp_if_include lo0` helps it pass for mpi hello world, but more complext apps like IMB or rings still failes in MPI_Bcast or MPI_Send.

[2018-10-02 01:41] bosilca commented on #5815
This might be the right time to have a clear discussion about what we want to support and what we don't. The only reason to have multiple IPs on the same interface is for load balance and QoS, 2 things that we mildly care about (there is also because "we can", but let's ignore this for now). If we drop all addresses but the one on the first device, and use multi-links we will be able to achieve th

[2018-10-02 02:14] gpaulsen commented on #5815
I've cherry-picked this to the v4.0.x branch, and verified that I can run on MACOSX with or without the if_include, with only btl self,tcp. with both hello_world and IMB.

[2018-10-02 05:58] hoopoepg commented on #5813
@robertsawko I can't extract it :(

[2018-10-02 07:46] hoopoepg commented on #5813
@robertsawko according config.log MXM was successfully detected on your system. OMPI uses iterative algorithm for detection required modules - it adds configuration arguments step-by-step till test application is failed to compile. How conda knows about failed tests? Maybe it is option to reduce error level for it?

[2018-10-02 08:29] hoopoepg commented on #5813
on line 129149 there is evaluation of MXM using -lmxm option, evaluation on line 128408 fails, but next one should detect MXM correctly

[2018-10-02 09:34] yosefe commented on #5813
@robertsawko is there MXM in LD_LIBRARY_PATH environment when running ./configure?

[2018-10-02 09:45] robertsawko commented on #5813
You're right. There isn't. I will add it it and take a look.

[2018-10-02 11:06] jsquyres commented on #5798
@ggouaillardet's post may be relevant here: https://www.mail-archive.com/devel@lists.open-mpi.org/msg20760.html

[2018-10-02 13:28] rhc54 commented on #5798
Hmmm...let me check master and ensure that the OPAL wrapper function didn't get lost somewhere. There should be no way that ```orte_session_dir_finalize``` call got executed on master.

[2018-10-02 13:35] rhc54 commented on #5798
Confirmed - that function pointer is definitely not ```NULL```, so that function is never called.

[2018-10-02 13:38] rhc54 commented on #3458
Not at the moment  it is considered a low priority, I'm afraid, and we don't have anyone focused on it.

[2018-10-02 13:41] ggouaillardet commented on #5798
I am pretty sure it was `NULL` for me. I will double check that tomorrow.

You checked that on the MPI app side (e.g. not `mpirun` nor `orted`) right ?

[2018-10-02 13:44] rhc54 commented on #5798
I just looked at the opal/pmix code and confirmed that (a) there is a function entry in the opal_pmix module and (b) the required "glue" code is present. Thus, if you are using the internal PMIx code, that function pointer cannot be ```NULL```.

You might check to verify you didn't configure for an external (older) version of PMIx, just to be safe?

[2018-10-02 14:09] jsquyres commented on #5814
@siegmargross replied in https://www.mail-archive.com/users@lists.open-mpi.org/msg32706.html; filing here to keep all the information together.

-----

Hi Jeff, hi Nathan,

the compilers (Sun C 5.15, Sun C 5.14, Sun C 5.13) don't like the code.

[code]

[code]

[code]

I have attached the file config.log.gist from my master build, although I
didn't know what the gist is. Let me know if you need so

[2018-10-02 14:18] thananon opened #5820 "btl/uct: hang in endpoint connection with multithreaded with IB."
@hjelmn I worked in btl/uct and bumped into this problem where in the endpoint connect stage. If we have more than 1 context, it has this race condition where everyone is trying to create the endpoint. I understand that ugni does not have this problem as you can connect directly to the interface.

I printed out several steps below, the application is ping-ping with 2 threads on each side.

rank 0:

[2018-10-02 14:24] thananon opened #5821 "btl/uct: zcopy error with IB on large message."
The issue can be reproduced with any multithreaded communication with message size bigger than 64k.

[code]

I can reproduce this on my benchmark and also multithreaded chemistry application (MADNESS). We only have one `uct_am_zcopy` call in the BTL and it is here.

[code]

I put `assert(frag->uct_iov.length <= 8192)` and it trips there. I have not tracked this problem down yet but create this iss

[2018-10-02 14:53] abeltre1 commented on #5810
MLNX_OFED
4.4-2.0.7.0

[2018-10-02 15:12] #5177 closed

[2018-10-02 15:55] jsquyres commented on #5814
In talking to @hjelmn on the 2018-10-02 webex, we wonder if his simple test is sufficient -- he's going to make a slightly more complicated test (more like the actual OMPI source code) and ask @siegmargross to try it.

[2018-10-02 17:35] #5671 closed

[2018-10-02 20:46] hjelmn commented on #5821
I think I know the issue. I am working on an update to this code. Incoming shortly.

[2018-10-02 20:48] hjelmn commented on #5814
Compiler bug! We can work around it I think:

[code]

[code]

[code]

[code]

[2018-10-02 22:12] jsquyres commented on #5638
@amckinstry If you could test the patch from #5829 and see if that fixes the issue (in addition to the other 2 patches), we'd greatly appreciate it.  Thanks!

[2018-10-03 00:29] ggouaillardet commented on #5798
@rhc54 well, we are both right, kind of ...

from `orte_ess_base_app_finalize()`

[code]

closing the `PMIx` framework (re)sets `opal_pmix.register_cleanup` to `NULL` (it used to be `pmix4x_register_cleanup`), that is why `orte_session_dir_finalize()` is always invoked.

The inline patch below fixes this, can you please review it ?

[code]

[2018-10-03 01:11] rhc54 commented on #5798
Why not just close the pmix framework a little later? It shouldn't be closed until after all of ORTE has finalized.

[2018-10-03 01:35] ggouaillardet commented on #5798
I think you know better :-)

my concern is if there is no `register_cleanup()`, `orte_session_dir_dinalize()` might delete some files used by `PMIx`. If you tell me no such thing can ever occur, then yes, simply close the `PMIx` framework **after** all `orte` has finalized.

I'll be happy to issue a PR based on your directions.

[2018-10-03 04:41] rhc54 commented on #5798
Not sure what it is that I should "know better", but I think this is pretty simple to resolve. I'll ponder it a little after I finish the current work. I'm not wild about this proposed fix as I think the issue might well persist.

[2018-10-03 05:01] ggouaillardet commented on #5798
I apologize I chose my words poorly.

I did not mean anything malicious and wanted to say I do not know and you know better (than me) where to close the pmix framework, so I leave it up to you.

Thanks

[2018-10-03 05:07] abeltre1 commented on #5143
I am experiencing similar errors.
[code]

[2018-10-03 07:59] rhc54 commented on #5798
I didn't interpret it as anything mean - I just didn't understand it, that's all. Let me try to capture the scenarios here so perhaps you can move forward before I have time to address it. PMIx and HWLOC both have shared memory files in the session directory, but they are at the daemon's level and shouldn't be impacted by the apps. Cleanup in general has two major use-cases to consider:

- where t

[2018-10-03 08:49] robertsawko commented on #5813
Sorry, I still wasn't able to test it as we seem to be having a longer cluster shutdown here at STFC.

Meanhwhile though I am back to my doubts on whether this is a real issue or not. I'd like to emphesize OMPI does build correctly with the above, but surely the gcc call I mentioned above must be a problem. It is pointing to the location where the library sits, doesn't actually link it, but ends u

[2018-10-03 12:16] amckinstry commented on #5638
That appears to fix it, thanks!

[2018-10-03 13:43] gpaulsen commented on #5815
Fixed on master and v4.0.x (I also verified), and not an issue on v3.1.x.  Closing this issue.  Thanks to all who helped out on this one.

[2018-10-03 13:43] #5815 closed

[2018-10-03 14:55] #5814 closed

[2018-10-03 15:43] jsquyres commented on #5638
PR's created (and linked to this issue) for all release branches.

[2018-10-03 16:08] hjelmn commented on #5820
Thanks for looking at this. I noticed this bug as well. Have been focusing on dc performance and will take a look at this shortly.

[2018-10-03 16:12] jsquyres commented on #5813
Just to clarify: what exactly is the problem that you are reporting?

The config.log shows that it found MXM properly.

[code]

If you look in `$prefix/lib/openmpi`, you should see the file `mca_mtl_mxm.so`, further confirming that Open MPI build and installed MXM support properly.

As @hoopoepg mentioned, Open MPI's configure uses an iterative method to look for libraries.  You will almost certai

[2018-10-03 19:00] #5798 closed

[2018-10-03 19:14] jsquyres commented on #5638
Merged into all release branches -- huzzah!

[2018-10-03 19:14] #5638 closed

[2018-10-04 07:02] mkre commented on #5763
I did some further testing and have not observed any issues with disabled memory patcher so far, but I'd still appreciate knowing what this component does (and whether it's safe to disable it) and why it worsens the performance in my case.

[2018-10-04 09:19] mkre opened #5839 "Compilation against HCOLL<=3.0 fails"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v3.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

source tarball

### Please describe the system on which yo

[2018-10-04 17:46] gpaulsen opened #5842 "New vader SEGV possibly PR 5829"
@amckinstry commented on https://github.com/open-mpi/ompi/pull/5829

Original issue was: https://github.com/open-mpi/ompi/issues/5638

Since that was merged to all release branches, this is a *blocker* on all release branches.

[code]

[2018-10-04 17:54] gpaulsen commented on #5842
@amckinstry, can you please confirm that you have commit dfa8d3a81ac64e32d2bfb13a9afb20b83d747e03 in your master build that you saw this with?  There were a few other vader related fixes that went in around #5829

[2018-10-04 21:18] gpaulsen commented on #5842
@amckinstry - @hjelmn asked what platforms this affects.  If it only affects i386, we may not have a developer to fix this.

[2018-10-04 21:35] jsquyres commented on #5818
Note that this is still happening on master/HEAD.  #5817 has been merged to master, so we get the correct IP addresses output in the show_help message, but running on the same platform as described above, I still get the same failure (and it still hangs).

As a slight simplification, I notice that the problem even occurs if I limit the TCP BTL to the subnet containing both IPs on a single IP inter

[2018-10-04 21:41] jsquyres commented on #5842
I don't agree with that sentiment.  If we know it's broken on a platform, we need to make a right.  We either fix it on that platform or we disable the functionality (i.e., vader fastboxes) on that platform.  For core functionality like this, we can't just knowingly have a bad bug like this.

[2018-10-04 21:59] hjelmn commented on #5842
@jsquyres My time is at a premium. We don't run i386 so unless I am told to fix this at work I will not spend any time one it. Just the reality right now. Easy enough to disable fast boxes on i386.

[2018-10-04 22:03] bwbarrett commented on #5842
What evidence do we have the bug is i386?  The last two have been bugs in general, but are more likely to happen on i386. Really think we should consider disabling fastboxes in general until we can go through it in more detail.

I’m happy to do a review, but would love a high level description of the fastbox design first; there are some assumptions in the code I didn’t quite follow last week.

[2018-10-04 22:06] hjelmn commented on #5842
@bwbarrett Read my comment. If this is only happening on i386 I won't have time for it. If it happens elsewhere (x86_64, power, arm64) then I can justify the time.

[2018-10-04 22:19] bosilca commented on #5818
The selection mechanism in split_and_resolve will only picks the first IP that matches due to the fact that we are breaking the loop in 645 after finding the first match. In your case, as both your processes are on the same node, they both select to use 10.193.184.48, and this should 1) be the only IP they publish in the modex, 2) be the only IP they use to contact the others, and 3) be the only I

[2018-10-04 22:45] jsquyres commented on #5818
Done.

Short version:

It added the following line to the previous gist:

[code]

which matches output in the prior line (`[savbu-usnic-a:28141] btl: tcp: Found match: 10.193.184.48 (eth2)`).

I updated the gist with a 2nd file that shows the complete output (that includes George's new opal_output): https://gist.github.com/jsquyres/10026ceda61ff3b18cdcfc4c8f1a4aca#file-mpirun-ouptput-with-georges-

[2018-10-04 22:50] jsquyres commented on #5842
@hjelmn I don't really disagree with you.  Indeed, I don't care about i386, either.  We're all busy -- who's got time to fix i386?  Not me.  But regardless as a community, we need to decide which of these to do:

1. Fix the bug
1. Disable the problematic platform(s) altogether
1. Disable the problematic functionality (probably vader fastboxes) on problematic platform(s) (i.e., so that you can stil

[2018-10-04 23:28] hjelmn commented on #5842
@jsquyres Option 2 would be my preference but I don't know if we are ready to kill a platform that hasn't was effectively killed in the early 2000's. So, option 3 is the way to go.

Once we hear back from the user we will see what the path forward is.

[2018-10-04 23:31] bosilca commented on #5818
I blame it on mca_btl_tcp_component_exchange, more specifically on the order mismatch between  opal_ifbegin and split_and_resolve. When a process prepares the modex information, we walk over all local TCP BTL modules, and compare their kernel interface index (tcp_ifkindex) with the one we obtained during split_and_resolve. The first IP we find on the same physical kernel interface will do, and it

[2018-10-05 02:50] mvpcaozixiang commented on #5810
I have the same problem,but I don't know how to view the version number of  MLNX_OFED.
Could you tell me ?
Have you solved this problem?
Thanks.

[2018-10-05 08:27] amckinstry commented on #5842
@bwbarrett The original bug(s) was on multiple platforms: (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=907407) arm, i386, powerpc, including mips64el and ppc64el so not just 32-bit; i386 was just the easiest to debug. It could be seen in test case issue 46 on "arpack", but we also had hangs in "liggghts" and "elpa".
With the current patch we see segfaults on amd64 on lammps, and elpa.

This

[2018-10-05 12:14] hjelmn commented on #5842
Will look today.

[2018-10-05 13:32] ggouaillardet commented on #5839
@jladd-mlnx can you please comment ?

[2018-10-05 13:37] hjelmn commented on #5842
@amckinstry Which LAMMPS problem shows the issue? Is OpenMP in use?

[2018-10-05 13:56] amckinstry commented on #5842
Version lammps-0~20180822.gitb47e49223
You can browser the build source here: https://salsa.debian.org/science-team/lammps
The relevant fragment is:
[code]
OpenMP not enabled I think; it appears to be stochastic, hanging about half the time, crashing the rest (with trace above).

[2018-10-05 13:58] hjelmn commented on #5842
@amckinstry Thanks. That will help me narrow down where the problem may be.

[2018-10-05 13:59] amckinstry commented on #5842
For the record in case of mistake the patch I am running on openmpi-3.1.2 is attached
[code]

[2018-10-05 15:25] jsquyres opened #5849 ""Socket closed" messages from TCP BTL"
Cisco MTT is getting a lot of "Socket closed" messages from the TCP BTL.

For example: https://mtt.open-mpi.org/index.php?do_redir=2762

That message appears to come from here:

https://github.com/open-mpi/ompi/blob/5f1c940c8b252763b9714f5a3b813b3bf2847479/opal/mca/btl/tcp/btl_tcp_endpoint.c#L542-L558

I don't know if this is an actual error (that the user should be informed about) or a "it's ok,

[2018-10-05 18:10] abeltre1 commented on #5810
Hello @mvpcaozixiang ,

You can use `ofed_info` to collect all the packages installed in relation to MLNX_OFED.

[2018-10-05 18:12] abeltre1 commented on #5810
[code]

[2018-10-05 19:05] correaa commented on #5157
The situation is now more serious because in gcc 8.1.1 this is not a warning anymore but a hard error.

test.cpp:
[code]

Of course the workaround `#define OMPI_SKIP_MPICXX 1` still works but I think this should be inside OpenMPI when c++bindings are not used.

[2018-10-08 00:04] derangedhk417 commented on #3458
Thanks for the response. If anyone reading this is interested, I have written a reusable workaround for this problem. If anyone shows interest I'll clean it up and put it in a public repo.

[2018-10-08 10:29] amckinstry commented on #5842
I've tested the fix in https://github.com/open-mpi/ompi/pull/5852
This solves all the issues seen (regression on amd64, original hangs  and segfaults on i386)

[2018-10-09 00:41] abeltre1 commented on #5810
@jsquyres  Do you know if anyone has looked into this particular issue?

[2018-10-09 09:49] angainor opened #5871 "4.0rc4 won't compile with external PMIx 2.1.2"
I'm having hard time getting v4 to work on our SLURM cluster. I configure it with external PMIx / HWLOC / libevent libraries:

[code]
configure works ok
[code]
but compilation fails
[code]
On the other hand, if I try to use the internal PMIx, then it configures and compiles fine
[code]
but `mpirun` fails to start anything due to a PMIx problem:
[code]

I guess those are two different problems. We

[2018-10-09 10:50] rhc54 commented on #5871
The second problem is indeed different. Basically, the internal PMIx build is silently failing, leaving you without any PMIx support. Can you please send us the ```opal/mca/pmix/pmix3x/pmix/config.log``` file from that configure?

The first problem looks like a different configure issue where OMPI isn't setting the ```CPPFLAGS``` to point to the PMIx installation. I'll take a peek at it.

[2018-10-09 10:52] angainor opened #5872 "error: `BCOL-BASESMUMA Failed to create rcache for KNEM device`"
I have configured and compiled `master` version `date2018-10-09` with external PMIx (2.1.2) / hwloc / libevent (SLURM integration). I also use HPCX 2.2, but I compiled master version of UCX with it.

I get the following error / warning message when running the osu barrier test:

[code]

Haven't seen anything like this with v3.1.1 or earlier.

The test runs through, and first glance it gives result

[2018-10-09 10:56] yosefe commented on #5872
@angainor can you pls try with UCX v1.4.x branch? there could be incompatibility between the binary hcoll and UCX master (ucm_events were added to rcache params )?
adding @bureddy @vspetrov

[2018-10-09 10:57] angainor commented on #5871
I should also add that `master` version `OMPI_REPO_REV "date2018-10-09"` compiles and works fine with external PMIx (give or take issue #5872 I just submitted).

`config.log` attached.

[config.log.gz](https://github.com/open-mpi/ompi/files/2460067/config.log.gz)

[2018-10-09 11:19] angainor commented on #5872
@yosefe Thanks, branch 1.4 works without complaints!

[2018-10-09 12:02] angainor opened #5873 "rma-mt benchmark segfaults with osc ucx on master"
I have a problem with OpenMPI + UCX + `rma-mt` benchmark from @hjelmn . I post this here, because I really have no clue where I should report this - too many components.

So I compiled UCX branch 1.4 with multithreading (`--enable-mt`). I then compiled OpenMPI master against it, and then the rma-mt benchmark. I manage to run the `rmamt_bibw` test on our Infiniband EDR system using both OSCs. `ucx`

[2018-10-09 12:29] hoopoepg commented on #5873
how can we get benchmarks to reproduce issue?

[2018-10-09 12:37] angainor commented on #5873
@hoopoepg Oh, I obtained the `rma-mt` benchmark [here](https://github.com/hpc/rma-mt). It was previously discussed in #4919.

[2018-10-09 13:05] rhc54 commented on #5871
Okay, at least that is a known problem we fixed recently on master - PR should resolve that one. I'll look at the other problem after breakfast 😄

[2018-10-09 13:44] rhc54 commented on #5871
@angainor I checked the first issue and fixed a few minor typos, but I don't believe they should have impacted the build. Can you please try the PR and see if it fixes both observed issues?

[2018-10-09 13:47] rhc54 commented on #5871
Sigh - never mind, old fossil brain misread your error report. I found the problem - a missing file in the tarball. Should be fixed by PR - can you please verify?

[2018-10-09 13:47] angainor commented on #5871
I'll only be able to do that in a few hours.

m

On Oct 9, 2018 15:44, "Ralph Castain" <notifications@github.com> wrote:

@angainor <https://github.com/angainor> I checked the first issue and fixed
a few minor typos, but I don't believe they should have impacted the build.
Can you please try the PR and see if it fixes both observed issues?

—
You are receiving this because you were mentioned.

Rep

[2018-10-09 14:06] jsquyres commented on #5872
@yosefe Is there a combination of versions that is known to not work?  If so, that type of thing should be tested for, at configure and/or run time.

[2018-10-09 14:13] jsquyres commented on #5810
@jladd-mlnx Can you please followup?

[2018-10-09 16:16] #5611 closed

[2018-10-09 20:01] angainor commented on #5871
@rhc54 The patch didn't work: the PR modifies the `ext2x.h`, which indeed doesn't exist. So I copied one from `master` and then applied the patch, which worked. I then needed to re-run `aclocal/automake/autoconf` to get things working (your patches modified the configury..). Configure went fine, but when I compile I now see this:

[code]
So I guess my `autoconf` didn't work well enough. I did see

[2018-10-09 22:40] rhc54 commented on #5871
Hmmm...that makes no sense. The patch doesn't modify ext2x.h, it adds it. Let me see if the path has a problem.

[2018-10-09 23:09] rhc54 commented on #5871
Actually, I think we miss-communicated. My patch was meant to apply to a git clone of the v4.0.x branch, not to a tarball. It adds the ext2x.h file to the tarball, making a small mod to it. You would indeed have to then re-run autogen.

Probably the best thing is to wait until this gets committed and then check the nightly v4.0 tarball. I suspect it should be processed soon.

[2018-10-09 23:14] thananon commented on #5821
fixed with #5837

[2018-10-09 23:33] angainor commented on #5871
@rhc54 yea, I tried to apply the patch to the tar ball. I'll try again tomorrow.

[2018-10-10 04:11] QuesarVII commented on #5872
I'm having the same knem rcache error on a new cluster running CentOS 7.5 w/ kernel 3.10.0-862.14.4.el7.x86_64, slurm 18.08, Mellanox OFED 4.4-2.0.7.0, CUDA 10.0, and the stable 3.1.2 OpenMPI release.

Interestingly, the openmpi version included with MOFED (3.1.1rc1) does not have any errors when I test it instead of building OpenMPI myself.

OpenMPI was built including slurm, mxm, hcoll, knem, an

[2018-10-10 08:20] angainor commented on #5871
@rhc54 @ggouaillardet I've downloaded the newest 4.0.x branch. It compiles and runs fine with my external PMIx, but it still doesn't compile with the internal one. From OpenMPI configure:

[code]

The PMIx `config.log` attached.

[config.log.gz](https://github.com/open-mpi/ompi/files/2463752/config.log.gz)

[2018-10-10 11:30] mkre opened #5885 "PML fallback not selected if explicit MCA components specified"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v3.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

built from source

### Please describe the system on which you are running

* Operating system/version: CentO

[2018-10-10 13:06] rhc54 commented on #5871
Yex - it needs this patch in order to solve that problem. Did you apply this patch first?

[2018-10-10 13:28] angainor commented on #5871
@rhc54 OK, I did not understand that. Now I applied #5874 to today's 4.0.x branch, and both problems are gone. Thanks!

[2018-10-10 13:28] #5873 closed

[2018-10-11 01:39] bwbarrett commented on #5849
https://github.com/open-mpi/ompi/pull/5892 is a workaround for this problem.  This is unrelated to  #3035 or #5818 and only happens on master.

Jeff actually got the code slightly wrong.  The issue is on the next line down, where the BTL calls back to the PML with the disconnect.  OB1 just aborts the job on an error callback, but in this case, the callback is fired because readv() returned 0 becau

[2018-10-11 01:41] bwbarrett commented on #3035
On my small cluster (5 nodes, 1 socket with 18 cores, 3 interfaces / node), I'm able to replicate this pretty consistently with `--mca btl_tcp_progress_thread 1`, but not able to without the parameter or with `--mca btl_tcp_progress_thread 0`.  Looking at Jeff's MTT runs, it looks like the failures are all with `--mca btl_tcp_progress_thread 1` as well.  Still digging into why, but have a reproduc

[2018-10-11 02:16] AdamSimpson opened #5893 "v4.0.x compile failure under pre C99 standard"
### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v4.0.x branch

## Details of the problem
`mpi.h` contains C99/C++ style comments, `//`, when MPI is compiled with `--enable-mpi1-compatibility`. This breaks compilation under pre C99 standards.

Offending section of `mpi.h`
[code]
Example failure
[code]

[2018-10-11 02:52] bwbarrett commented on #3035
I think this *could* happen without progress threads, it's just way less likely because it's a race.

During init, we create a module instance for each network interface the tcp btl is going to use.  The modex publishes all the interfaces in one big blob.  The btl_tcp_proc structure for a remote proc is global to the component, not per-module.  Endpoints are per-module.

During the add_procs phase

[2018-10-11 08:07] ggouaillardet commented on #5893
`C99` is a requirement in order to __build__ Open MPI.

per your report, the `mpicc` wrapper is failing, and I am not sure whether this is a bug or a feature.

@hjelmn @jsquyres could you please shed some light ?

[2018-10-11 11:29] iassiour opened #5894 "mpirun failing with not enough slots available"
Hi ,

I am using mpi version 3.1.2.

The following fails with "not enough slots" problem

$(MPIHOME)/mpirun -H host1 -np 1 mpi_master : -H host1,host1 -np 2 mpi_slave

host1 appears three times so I would expect the slot counter to match the -np 3.

It seems to be caused by the fact that I have split the count  along the two programs.

i.e. something like this works:
$(MPIHOME)/mpirun -H host1,hos

[2018-10-11 12:18] S0mmerD commented on #3458
Yes i am interested. We had to disable some functionality when running on OpenMPI because of this. How did you get around it?

[2018-10-11 12:43] hjelmn commented on #5893
We shouldn't have c++ style comments in mpi.h

[2018-10-11 13:37] rhc54 commented on #5894
Yep, it is a bug - PR is coming

[2018-10-11 14:55] jsquyres commented on #5893
I had the same knee-jerk reaction: we require C99 to build Open MPI.

...but that's to build Open MPI.  We do not require C99 for user application.  @hjelmn is right -- we shouldn't have C99 constructs (e.g., `\\`-style comments) in `mpi.h[.in]`.

I hate to say it, but that looks like a Jeff-style comment (i.e., that wording looks like something I would say in a comment) -- I'm a little afraid to

[2018-10-11 15:05] jsquyres commented on #5893
Confirmed that this affects master and v4.0.x, but not earlier releases.

[2018-10-11 16:56] QuesarVII commented on #5872
Further investigation has shown this error is being generated by hcoll.  If I either use "-mca coll_hcoll_enable 0" or not include hcoll when compiling, it works without error.

Is this something the OpenMPI devs can resolve? Or do I need Mellanox to fix this?

[2018-10-11 17:12] jsquyres commented on #5872
@QuesarVII FYI: @yosefe is a Mellanox developer in the Open MPI project.

[2018-10-11 17:21] #5894 closed

[2018-10-11 17:45] jsquyres opened #5902 "TCP BTL progress thread segv's"
In doing some manual testing, I'm seeing segv's in about 60% of my runs on master when run on 2 nodes, ppn=16, with mca=tcp,self (no vader), and with `btl_tcp_progress_thread=1`.

The core file stack traces are varied, but they all have a few things in common:

1. Thread 4 is somewhere in `ompi_mpi_finalize()`.
    * Sometimes it's deep inside the loop of closing frameworks/components in MPI_FINAL

[2018-10-11 19:51] derangedhk417 commented on #3458
I have the code up here (https://github.com/derangedhk417/mpi_controller). It's just a basic wrapper around some POSIX shared memory functions. It makes use of semaphores to handle synchronization between the controller and the child. I haven't exactly made this super user friendly, but it should do the trick. I'll try to add some documentation in the next few hours.

[2018-10-11 21:10] kaonga commented on #5810
As of 2018-10-11, we also see these same errors on:
**OS**: CentOS 7.5
**Mellanox OFED**: MLNX_OFED_LINUX-4.4-2.0.7.0, MLNX_OFED_LINUX-4.4-1.0.0.0, MLNX_OFED_LINUX-4.3-3.0.2.1
**OpenMPI**: 3.1.2
**Intel IMB Benchmarks**: 2018 Update 1

**Command/options**:
mpirun --mca btl openib,self,vader --mca pml ucx

[2018-10-12 07:10] vspetrov commented on #5872
@QuesarVII just to clarify: are you using hcoll from MOFED (which ver?) to build you OMPI? Which ucx are you using (if any) ? Are you using UCX from MOFED as well or you have another version installed in your system?

[2018-10-12 14:21] kaonga commented on #5810
Hello all,

My message escapped before I completed my thoughts. I wanted to add the  log output to make it easier for those who may wish to see the error. The run starts with this complaint:

"ibv_exp_query_device: invalid comp_mask !!! (comp_mask = 0x27800000002 valid_mas
k = 0x1)"

and then runs until it gets to 8 processes where things just break down after 1024 byte packets have been sent and

[2018-10-12 14:53] thananon commented on #5821
I'm gonna reopen this as I found this problem again but only in multithreaded case.

it runs with 2 threads.
[code]

Also I think the module lock might have to be recursive mutex to prevent the double lock (from progress_pendings)

[code]

After the patch, OMPI stop complaining about deadlock but the behavior shows when I run with 4 threads.
[code]

[2018-10-12 14:55] thananon commented on #5821
huh, if I reduce the message size to 1k I got this

[code]

[2018-10-12 14:59] hjelmn commented on #5821
Oh, thats a different issue. Should be fixed on current master.

[2018-10-12 15:00] hjelmn commented on #5821
Hmm, though maybe not. The problem is that different TL instances may have different capabilities (really annoying). Its biting us here in a different way.

[2018-10-12 15:01] hjelmn commented on #5821
We need to find the smallest possible zcopy limit for a TL to set for the limits for active message.

[2018-10-12 15:03] hjelmn commented on #5821
Huh, or not. We just need to set btl_max_send_size correctly :D.

[2018-10-12 15:03] hjelmn commented on #5821
will post a fix for that.

[2018-10-12 15:04] thananon commented on #5821
Ah, I can just try with an MCA.

[2018-10-12 15:05] hjelmn commented on #5821
yup. set the max send size based on the max zcopy limit from ucx_info -c

[2018-10-12 15:09] hjelmn commented on #5821
Hmm, the max zcopy isn't in that output. Oh well. Its in the interface attributes ```.cap.am.max_zcopy```. Try this:

[code]

[2018-10-12 15:11] thananon commented on #5821
Ok, so there are remaining problems after setting the correct send size.

1. This still happens sometimes and I think this is the same problem as #5820 .
`[1539356890.574382] [a08:28620:0]      uct_iface.c:57   UCX  WARN  got active message id 0, but no handler installed`

2. This, sometimes...
[code]

3. This sometimes..
[code]

[2018-10-12 15:14] hjelmn commented on #5821
That happens just when multi-threading, correct?

[2018-10-12 15:15] hjelmn commented on #5821
Can you send me your reproducer? The safest way to send it would be transfer.lanl.gov

[2018-10-12 15:19] thananon commented on #5821
Only multithreaded, yes. Code sent.

You can run in single threaded mode with argument `-Dthrds`.

[2018-10-12 15:46] hjelmn commented on #5821
Hasn't arrived on my end. Did you use my hjelmn at lanl dot gov email and make sure the file uploaded? There is a button (I think) to do so. Never used the external version of that service myself.

[2018-10-12 15:47] jsquyres commented on #5821
You could also just post it in gist.github.com

[2018-10-12 15:48] thananon commented on #5821
@hjelmn I mistyped the email address and sent it to random dude. You should have it now.

[2018-10-12 15:49] hjelmn commented on #5821
@jsquyres Can gists be private?

[2018-10-12 15:50] hjelmn commented on #5821
@thananon Have it now. Thanks!

[2018-10-12 18:06] hjelmn commented on #5821
ok, i know how it locks up, not sure why exactly. have a fix. testing now.

[2018-10-12 18:16] abeltre1 commented on #5810
My OSU execution does not hang anywhere. It completes but has all the mentioned complaints/errors/device problems.

[2018-10-12 19:35] hjelmn commented on #2921
Happens because we somehow run out of fragments. Looking into it.

[2018-10-12 19:56] jsquyres opened #5914 "openib error: "ibv_exp_query_device: invalid comp_mask" -- reported by multiple users"
There have been multiple reports of the openib BTL reporting variations this error:

[code]

I know that openib is on its way out the door, but it's still supported in v2.x and 3.x.  Is there a quick/easy fix for this issue?

I am unable to reproduce the issue with ConnectX 5's on Ethernet and the inbox verbs drivers on RHEL 7.2.  Is there something that has changed in upstream OFED and/or MOFED t

[2018-10-12 20:29] devreal opened #5915 "NUMA issues with shared memory"
## Background information

I've been tracking down a performance issue in an application I ported to a PGAS programming model that is implemented on top of MPI-3 RMA. To avoid NUMA issues, I ran one multi-threaded process per socket on a dual-socket Haswell system, which led to one process on a node being seemingly slower than the other. I was able to reproduce a similar performance difference wit

[2018-10-12 20:31] devreal commented on #5915
[stream_mpi_rma.c.tar.gz](https://github.com/open-mpi/ompi/files/2474500/stream_mpi_rma.c.tar.gz)

[2018-10-14 23:47] newnovice01 commented on #5818
I have the same problem where my eth0 has multiple IP's. I get only so much bandwidth per ip pair due to a different reason and need more than 1 IP to achieve more bandwidth between the nodes. Since the ip's are from the same subnet they go out the default gateway. Is there a way to simple tell MPI to not bother about any ip or host validation and just accept messages and proceed with the job?

I

[2018-10-15 03:03] bosilca commented on #5818
@newnovice01 in your case you don't need multiple IPs to solve this problem. Instead you can use the multiple links support from OMPI, that will open multiple sockets between pairs on the same IPs. To do this add "--mca btl_tcp_links *number*" to your mpiexec or add "btl_tcp_links = *number*" to your ${HOME}/.openmpi/mca-params.conf.

[2018-10-15 15:28] newnovice01 commented on #5818
multiple sockets doesn't help me since the platform i am on - at the IP level has IPsec tunnels that then encapsulates everything. So the network flow looks like src_ip, ip_proto=esp, dst_ip only. I cant change ip_proto - even 1 master being able to launch jobs on same peer using 2 different ip's would help.

If i had multiple network interfaces: eth0, eth1 - would it help?
-x NCCL_SOCKET_IFNAME=e

[2018-10-15 15:37] bwbarrett commented on #5818
If Open MPI sees multiple network interfaces, it will spread traffic across all of them.  Open MPI balances traffic at the device, not IP, level.  So even when we fix the current set of bugs around multiple IPs, it still wouldn't do what you want with multiple IPs / device and you'd have to use multiple network devices to get that traffic spread (or, as George said, use the "btl_tcp_links" paramet

[2018-10-15 16:30] newnovice01 commented on #5818
I got 2 eth's on both master & slave node:

cat hosts:
cat multi_eth_mpi_test-hosts-2
ip-192-31-20-48  slots=8
ip-192-31-28-116 slots=8

master:
eth0      Link encap:Ethernet  HWaddr AA:FF:DD:CC:55:QA
          inet addr:192.31.20.48  Bcast:192.31.31.255  Mask:255.255.240.0
eth1      Link encap:Ethernet  HWaddr AA:FE:CC:DF:WQ:4A
          inet addr:192.31.23.189  Bcast:192.31.31.255  Mask:255.255.

[2018-10-15 17:01] artpol84 commented on #5789
@ghostplant
Assuming you are trying to run with IB device (please let me know if this is a wrong assumption).

Given that you were working with v3.1.x and opnib BTL was highly likely to be selected for your runs. I think you can verify that by setting `-mca btl_base_verbose` and checking for the verbose output).

Current Mellanox recommendation is to use UCX pml component. In order to do that you

[2018-10-15 17:04] artpol84 commented on #5393
@gpaulsen, ping

[2018-10-15 20:00] hppritcha commented on #5914
We are seeing this at LANL, esp. on our ARM machines when using many processes (64 or more)
per node. We see this using UCX as well.

[2018-10-15 20:53] yosefe commented on #5914
Seems like it could happen if openib BTL, or an older version of UCX, is compiled with MLNX_OFED 4.4.
@hppritcha it should work with UCX v1.4.x or UCX master

[2018-10-15 21:52] devreal commented on #5915
Update: I changed `allocate_state_shared()` in `osc_rdma_component.c` such that each rank initializes its part of the shared memory segment to allocate the pages in the right NUMA domain right before the segment is registered by rank 0. This leads to STREAM performance comparable to `malloc`'ed memory on the Linux cluster:

[code]

If people think this is an acceptable solution I'd be happy to pos

[2018-10-15 22:20] abeltre1 commented on #5789
@ghostplant  Please run the following commands and share your output:

1. sudo /etc/init.d/openibd restart
![image](https://user-images.githubusercontent.com/11620908/46981571-ef230b80-d0a6-11e8-9b97-f463b3759b0b.png)

2. sudo mst status

![image](https://user-images.githubusercontent.com/11620908/46981527-c0a53080-d0a6-11e8-9c94-6d4eb1673e30.png)

[2018-10-15 23:41] abeltre1 commented on #5914
Can you point out the source code of UCX to include it in the MLNX_OFED 4.4 installation?

[2018-10-15 23:49] abeltre1 commented on #5789
It is not required. I wanted to see if you had any special package installed.

[2018-10-16 00:37] ggouaillardet commented on #5915
@devreal thanks for the report. please issue a PR or post your patch inline so it can be reviewed.

fwiw, I am unable to reproduce this issue (I use `mpirun` though) on a dual socket IB system.

[2018-10-16 04:11] teamblubee opened #5920 "MPI_Type_struct missing from libmpi.so"
Thank you for taking the time to submit an issue!

## Background information

Trying to compile and link scalapack

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from cloned source: GH_TAGNAME=	ee6cb4b9990cb15962b0b2c25446442fda8c8fb1

The only thing that I could see are these lines i

[2018-10-16 05:06] ggouaillardet commented on #5920
It's not a bug but a feature.

Long story short, these functions were deprecated or removed long time ago, and they are no more built unless you `configure --enable-mpi1-compatibility ...`

[2018-10-16 07:33] ggouaillardet commented on #5902
Not really sure this is related to this issue ...

The inline patch below can be used to evidence a race condition

[code]

[code]

The error message occurs if one task calls `opal_progress()` via `OMPI_LAZY_WAIT_FOR_COMPLETION()` __after__ an other task has closed the TCP socket.

Note the progress thread is __not__ involved here, and a naive fix is simply __not__ to `opal_progress()` when waitin

[2018-10-16 09:19] yosefe commented on #5914
@abeltre1 not sure i understand the question, anyway - UCX binary is included in MLNX_OFED 4.4 installation, source code is in https://github.com/openucx/ucx, and the particular code which avoids the error from ibv_exp_query_device() is [here](https://github.com/openucx/ucx/commit/bb860a3af77087973363130c25c18349394a7167#diff-3dd44a0e79174905c85b595884950d9cR63)

[2018-10-16 15:29] ggouaillardet commented on #5902
Refs #5849

[2018-10-16 18:52] devreal commented on #5915
I created the PR: https://github.com/open-mpi/ompi/pull/5921

I ran the benchmark again with `mpirun` and saw the same effects on our IB cluster. The patch gets rid of the NUMA effects in that benchmark. It's strange you don't observe the same effects though.

[2018-10-16 20:03] hppritcha commented on #5914
I did some more checking on one of our clusters and actually do **not** see the issue when using
UCX. Our setup is MOFED 4.4 and UCX shipped as part of that release -

[code]

[code]
I do see this with openib BTL initialization even though its not even being used:
[code]

[2018-10-16 22:38] artpol84 commented on #3385
Is not relevant anymore, I believe.

[2018-10-16 22:38] #3385 closed

[2018-10-16 22:40] artpol84 commented on #4222
An old one - closing.

[2018-10-16 22:40] #4222 closed

[2018-10-17 00:46] hjelmn commented on #5915
This is not totally surprising actually. Since all the memory is pinned by rank 0 it ends up getting affinitized there. Thank you for the analysis and path!

[2018-10-17 01:11] #5820 closed

[2018-10-17 01:11] #5821 closed

[2018-10-17 03:57] hjelmn commented on #2921
Keeping this open until merged into v3.0.x, v3.1.x, and v4.0.x.

[2018-10-17 05:36] ghostplant commented on #5789
@abeltre1 OK. So I passes `--mca oob_tcp_if_include enp216s0 --mca btl_tcp_if_include enp216s0` to mpiexec command, and is it enough to enable the best performance of Connect-X5?

[2018-10-17 09:57] sagitter opened #5932 "v2.1.5: OpenMPI error during PETSc test"
## Background information
System: Fedora 30 (devel branch)
Architectures: always on i686 and armv7hl

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v2.1.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Installed by system distribution pac

[2018-10-17 16:17] edgargabriel opened #5935 "testmpio bug fixes"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

master, v4.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

### Please describe the system on which you are runn

[2018-10-17 16:42] artpol84 commented on #5789
@ghostplant
Thing that caught my eye.
* `oob_tcp_if_include` is a tcp OOB (out-of-Band) option
* `btl_tcp_if_include` is a tcp BTL option
None of them affect openib BTL, for openib BTL you have to use oob_openib_if_include IIRC or something similar.

[2018-10-17 16:44] artpol84 commented on #5789
The device name you have is `mlx5_0` if you want to go through IB interface.

[2018-10-17 16:46] artpol84 commented on #5789
It looks like you are using an Ethernet HCA and if you want to use it with RDMA you need a RoCE.
see https://www.open-mpi.org/faq/?category=openfabrics#ompi-over-roce

[2018-10-17 16:56] abeltre1 commented on #5789
@ghostplant  instead of using `enp216s0` use the actual device which was suggested by @artpol84.

[2018-10-17 23:45] Akshay-Venkatesh opened #5946 "Running osu_acc_latency errors out with 3.1.2"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
3.1.2 tar available here: https://www.open-mpi.org/software/ompi/v3.1/

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
From tarball configured with:
[code]

### Pleas

[2018-10-18 00:29] bosilca commented on #5902
@thananon can you take a look please.

[2018-10-18 00:30] jsquyres commented on #5893
This has been merged to the v4.0.x release branch for the upcoming v4.0.0 release.

[2018-10-18 00:30] #5893 closed

[2018-10-18 14:21] jsquyres opened #5949 "Warn in configury that the TKR 'mpi' module is deprecated"
Per discussion in the 2018-10 Open MPI dev meeting:

* We probably can't remove the TKR `mpi` module for a while yet:
    * The NAG compiler does not support enough to utilize the ignore TKR `mpi` module
    * RHEL/Centos 7 uses gcc 4.8.5, and only gcc >= 4.9 has enough to support the ignore TKR `mpi` module
* But we thought that we could at least insert a deprecation notice for the TKR `mpi` modu

[2018-10-18 15:17] rhc54 commented on #3458
Another option was brought to my attention today. If you know that one of the mpirun executions will always be running, then you can point the other mpirun's to it as the "ompi-server" like this:
[code]
This makes the first mpirun act as the global server. I'm not sure it will solve the problem, but it might be worth trying.

[2018-10-18 17:32] hjelmn opened #5951 "romio warnings...."
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

All versuibs

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

### Please describe the system on which you are runn

[2018-10-18 17:33] hjelmn commented on #5951
@roblatham00 Can you shed any light into why this check exists?

[code]

[2018-10-18 17:49] bwbarrett commented on #5849
Based on MTT results, da1189d77142df412592fb815cb59f688028e528 (which reverted 6acebc4) fixed the test failures.  Since there are open issues for all the other issues we're seeing, I'm going to close this ticket.

[2018-10-18 17:49] #5849 closed

[2018-10-18 18:58] roblatham00 commented on #5951
I hate those macros so much.

I don't know about "a long time", though I never build on mac os x.  Perhaps that toolchain is a bit pickier (don't get me wrong:  I'm all for getting rid of compiler warnings -- I would have knocked this out if it showed up in my environment)

size_in_buf is of type ADIO_Offset, typically signed 64 bits.  We are about to memcpy size_in_buf bytes into a temporary buff

[2018-10-18 20:55] ghostplant commented on #5789
@abeltre1 @artpol84 Thanks, and yes, the network interface is RoCE not InfiniBand, and the device name is mlx5_0.

But according to commands from ompi-over-roce documentation, I hardly found any options work in my environment, such as `--mca btl_openib_cpc_include rdmacm` for which mpiexec reports rdmacm is not supported and only udcm is supported, so do many other options for RoCE.

So still the

[2018-10-19 00:28] bwbarrett commented on #160
The reason we use kindex instead of index is that index is a way of enumerating the addresses associated with the interfaces on the host, but kindex is (supposed to be) the way to enumerate actual interfaces.  So let's say we had a platform with two devices (A and B) and each have two addresses (A1, A2, B3, B4).  That means we'll have 4 unique indexes, but only 2 unique kindexes.  There's no advan

[2018-10-19 00:37] #5951 closed

[2018-10-19 00:49] bwbarrett commented on #160
The kindex behavior is also a bit wrong on some platforms with regards to IPv6.  On Linux, the kindexes are consistent across the IPv4 and IPv6 addresses (that is, we could build the same output as `ip addr li`).  On MacOS, however, the kindexes are not consistent.  So if every interface has both an IPv4 and IPv6 address, and Open MPI thinks there are twice as many interfaces as there actually are

[2018-10-19 02:17] bwbarrett commented on #2891
It's been 18 months since we moved on this ticket and no one has had problems with the 3.x or master builds, so closing.

[2018-10-19 02:17] #2891 closed

[2018-10-19 14:36] abeltre1 commented on #5810
@kaonga that worked for me too! I tried it on 3.1.1

[2018-10-19 14:59] jsquyres commented on #5810
@hppritcha This seems like a simple solution.  Can you guys make a PR?

[2018-10-19 17:04] jsquyres commented on #5946
@hjelmn @thananon Is this fixed by the UCT fixes you guys put in recently?

[2018-10-19 18:13] thananon commented on #5946
No, I'm pretty sure this is not btl/uct related.

[2018-10-19 18:53] artpol84 commented on #5143
@jsquyres I can suggest trying with UCX if this helps :)

[2018-10-19 18:57] artpol84 commented on #5143
@jsquyres my previous comment was related to what @abeltre1 wrote. In his command line, I see that ob1 is used.
@abeltre1 can you clarify how your issue is related to the original problem?

[2018-10-19 20:02] abeltre1 commented on #5143
I decided to wipe out the machines and start from scratch and did not experience the problem again.

[2018-10-21 17:28] angainor opened #5954 "`event_base_verbose` doesn't work in 4.0.x"
Checked out and compiled v4.0.x branch on my laptop:

[code]

Works fine when I decrease the verbosity level to 0.

[2018-10-23 09:43] angainor opened #5964 "No Infiniband transport on a ConnectX-3 cluster"
I wanted to refresh OpenMPI on our ConnectX-3 based cluster, and ran into a lot of problems with IB support. We are running Mellanox OFED 4.4-2.0.7.0 on a well-aged Centos 6.9. First I tried to compile OpenMPI 3.1.2 _without_ HPCX, with only `openib`. That compiled fine, but running simple MPI applications reveals problems with IB:

[code]
I've checked and we see the same problems with older versi

[2018-10-23 10:34] yosefe commented on #5964
@angainor what is the output of `rpm -q libibverbs` and `nm -D /usr/lib64/libibverbs.so.1|grep cmd_modify_qp`?
it's possible there is something wrong with MLNX_OFED installation

[2018-10-23 10:41] angainor commented on #5964
@yosefe Thanks for a quick answer. Here are the results:

[code]

I see that we have a different OFED on our login nodes, but I ran a single-node test now, on the above compute node, and still get the errors:

[code]

[2018-10-23 10:46] yosefe commented on #5964
@angainor can you try to run basic IB tests on the compute node? e.g `ibv_devinfo` and `ib_send_lat`?
Also, what is the content of `/cluster/software/VERSIONS/hpcx/hpcx-v2.2.0/VERSION`?

[2018-10-23 10:52] angainor commented on #5964
`ib_send_lat` shows some errors (see below)

[code]

[code]

[code]

[2018-10-23 11:01] yosefe commented on #5964
@angainor what is the output of `ofed_info` and `cat /proc/kallsyms |grep uverbs_exp`?

[2018-10-23 11:04] angainor commented on #5964
[ofed_info.txt](https://github.com/open-mpi/ompi/files/2505843/ofed_info.txt)

[code]

[2018-10-23 13:02] yosefe commented on #5964
@angainor ofed_info and kallsyms look right, and i don't see such error on my ConnectX3/MOFED 4.5-2.0.7.0/Redhat 6.5 system.
Any chance you can try to reinstall MLNX_OFED on `compute-9-13` and restart openibd service, and check if you still see the error from ib_send_lat?

[2018-10-23 14:31] gpaulsen commented on #5842
This has been merged to v3.0.x, v3.1.x, and v4.0.x.  It looks like this functionality never existed on v2.1.x or earlier.
Closing this PR.

[2018-10-23 14:31] #5842 closed

[2018-10-23 14:38] gpaulsen commented on #5871
@angainor, glad to hear things are working now.  #5874 has gone out in Open MPI v4.0.0rc5, available here: https://www.open-mpi.org/software/ompi/v4.0/

[2018-10-23 15:11] hppritcha opened #5965 "possible problem with rank file processing"
@siegmargross is encountering problems using the rank file option while testing Open MPI 4.0.0rc5.
See https://www.mail-archive.com/users@lists.open-mpi.org//msg32798.html.

He reported the following
[code]

[2018-10-23 16:34] angainor commented on #5964
@yosefe Thanks a lot for your effort. There might well be something wrong with our OFED installation, but I don't see what yet. I've removed all mlnx rpms, and installed `mlnx-ofed-basic` - that worked. Then, I installed `perftest` to run the latency test:

[code]

This worked, but I get the same error with `ib_send_lat` as before. I rebooted the compute node after packages were re-installed, just

[2018-10-23 18:34] angainor commented on #5964
@yosefe I think to double-check we will rebuild the entire RPM roll of mellanox ofed. Maybe something went wrong during the building process (kernel version?). I will double-check with new RPMs and will get back after running new tests, hopefully tomorrow. Thanks for the hints!

[2018-10-23 19:02] teamblubee opened #5967 "ampi support"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
GH_TAGNAME=	ee6cb4b9990cb15962b0b2c25446442fda8c8fb1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone

###

[2018-10-23 19:11] jsquyres commented on #5967
As I understand it, AMPI is an entirely different implementation of MPI than Open MPI.

I.e., AMPI is a standalone MPI implementation -- it is unrelated to Open MPI, and does not use any other MPI implementation under the covers (including Open MPI).

[2018-10-23 19:15] teamblubee commented on #5967
Okay, thank you.

[2018-10-23 19:15] #5967 closed

[2018-10-23 19:53] angainor commented on #5871
@gpaulsen Compiled rc5 with our external pmix 2.1.4 - works fine both with `mpirun`, and `srun`. Thanks!

[2018-10-23 20:11] QuesarVII commented on #5872
I am not using ucx at all.  I'm using the hcoll from MOFED.

[2018-10-23 23:16] artpol84 commented on #5143
Thanks, @abeltre1
@angainor can this be closed?

[2018-10-23 23:21] artpol84 commented on #5839
Thanks,@ggouaillardet. We will take a look.

[2018-10-23 23:50] ghostplant commented on #5789
@artpol84 Thank you. Do you know which `--mca xxx` should I append to the argument? As far as my tried, only `xxx_tcp_if_include enp216s0` works in my Connect-X5 environment.. Others `--mca` devices will either report `not found` or hang on `MPI_init()`

[2018-10-24 00:13] artpol84 commented on #5789
To use UCX you need to
1. Get the recent release from https://github.com/openucx/ucx/releases
1. Build and make it avaliable to your machines
1. Configure OMPI "--with-ucx="path-to-ucx" and rebuild/reinstall it

Afterwards when you launch you set UCX pml:
`$ mpirun -mca btl self -mca pml ucx ....`

To control which device and what transport are being used you can add following env variables:
`$ mp

[2018-10-24 00:56] ghostplant commented on #5789
Wow, thank you. I'll try that.

[2018-10-24 09:16] bsergentm opened #5969 "osc/rdma v3.1.3rc2: PR #5924 seems to introduce segfaults on simple tests"
## Background information

### What version of Open MPI are you using?
v3.1.3rc2, commit 6187b7a2097f81e3e4a7d628213cb5dfa4d96b42
Open MPI repo revision from  `ompi_info --all` : v3.1.3rc1-2-gfa3d929

### Describe how Open MPI was installed

[code]

### Please describe the system on which you are running

* Operating system/version:
Linux 3.10.0-693.21.1.el7.x86_64 #1 SMP Fri Feb 23 18:54:16 UTC 2

[2018-10-24 13:19] angainor commented on #5964
@yosefe Yes, this is what I meant - I think `mlnxofedinstall` rebuilds the kernel modules. Anyway, we've done that now and tested one compute node with the new RPMs - all seems to work fine now, or at least I do not get any of the previous errors. So you were right - it was a problem with our MOFED installation. Thanks a lot for your help!

[2018-10-24 14:11] devreal commented on #5915
As promised in #5923, here are some performance numbers for the window allocation overhead (single node, processes bound to NUMA domains, times in `ms`, sizes are per-process):

Size [B] | 4.0.0rc5 (24p) | Preinitialize (24p) | PreInitialize SingleByte (24p) | 4.0.0rc5 (2p) | Preinitialize (2p) | PreInitialize SingleByte (2p)
-- | -- | -- | -- | -- | -- | --
1 | 2.67 | 2.75 | 2.76 | 2.58 | 2.57 |

[2018-10-24 14:23] angainor commented on #5143
@artpol84 yes, as far as I'm concerned.

[2018-10-24 14:50] angainor commented on #5964
@yosefe I was a bit quick in my enthusiasm :( I've rebuilt ompi 3.1.2 now to add UCX support, which was previously gone. In the new compilation I get an error during `openib` initialization:

[code]
uff.. Does anything come to your head? We've never had such problems before. Is it possible that there still are some RPM problems with our OFED?

[2018-10-24 17:33] angainor commented on #5964
OK, I see now that this time it is a know problem: #5810

[2018-10-24 17:37] jsquyres commented on #5969
Update: #5923 is the v4.0.x version of the PR that seems to have caused the issue.  #5924 is the v3.1.x version of the same PR, and #5925 is the v3.0.x version of the same PR.  I'm therefore assuming that this same issue arises on all 3 branches.

The PR was merged on the v3.0.x and v3.1.x branches, but has not yet (as of 24 Oct 2018) been merged on the v4.0.x branch.

[2018-10-24 17:40] angainor commented on #5810
@jsquyres Just to jump in. I ran into the same issue. Any OpenMP version 3.0.0 and above fails to initialize openib with this message. The last one working is 2.1.5.

@jladd-mlnx I am running MOFED 4.4.2, and I can use UCX pml. But if I understand correctly the problem is that openib is used for rdma osc module. So without it rdma will not work. And openshmem  doesn't work without openib either, b

[2018-10-24 17:45] hjelmn commented on #5969
Hmmm... This is interesting. Maybe we need a second barrier? Won't really hurt much.

[2018-10-24 17:47] hjelmn commented on #5969
I can throw together a PR and see if it helps. If not the problem might be more complicated.

[2018-10-24 17:47] devreal commented on #5969
I'm looking into it atm (as that PR came from me). Sorry for the issues

[2018-10-24 17:54] hjelmn commented on #5969
no problem. didn't think it would cause any problems when I looked at it.

[2018-10-24 18:01] devreal commented on #5969
I think you're right, we would need another barrier in line 660 (where it was previously) to make sure that `state_region->btl_handle_data` is properly set.

[2018-10-24 18:18] hjelmn commented on #5969
Ok, if you want to open a PR for that go ahead otherwise I will post on this evening.

[2018-10-24 18:29] #5964 closed

[2018-10-24 21:30] devreal commented on #5915
I played around with hwloc on our Cray:

1) Using `hwloc_set_area_membind` in combination with `HWLOC_MEMBIND_MIGRATE` after the memory has been registered to adjust the binding fails, presumably because that is not supported by the OS.

2) Using `opal_hwloc_base_memory_set` instead of `memset`/touching the first byte in each page mitigates the NUMA problem similar to the other approaches but show

[2018-10-24 22:32] hjelmn commented on #5915
Not yet. Should be fairly straightforward to implement. Probably the quickest way to try it would be to change the shared file directory for osc/rdma to the hugetable mount. Use the osc_rdma_backing_directory MCA variable.

[2018-10-24 22:33] hjelmn commented on #5915
You will of course have to make sure each tanks buffer starts on a 2MB boundary.

[2018-10-25 08:44] yosefe commented on #5810
@angainor latest UCX master can work with osc/ucx on ConnectX-3

[2018-10-25 13:59] devreal opened #5973 "OMPI 4.0.0rc5 fails to see slots on Cray XC40"
### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

Open MPI 4.0.0rc5 downloaded from Github

### Please describe the system on which you are running

Cray XC40

-----------------------------

## Details of the problem

I'm trying to run jobs using Open MPI's `mpirun` (so I can set mca parameters directly) with multiple processes per node, which fai

[2018-10-25 18:56] bwbarrett commented on #5818
@newnovice01 sorry for the delay in responding.  Your latest issue is actually https://github.com/open-mpi/ompi/issues/3035, not this problem.  There is a race when using multiple network interfaces and threads which causes the error you're seeing.  The only current workaround is to only use one network interface for TCP traffic in Open MPI, something like `btl_tcp_if_include=eth0`.

The original

[2018-10-26 02:02] rhc54 commented on #5973
Try adding ```--display-allocation``` to your cmd line and let's see what was detected. If this is a debug build, you can also add ```--mca ras_base_verbose 10``` to the cmd line for more detailed information.

[2018-10-26 03:19] qyyy opened #5976 "Failed to convert worker name to MPI index: ps:0:0"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v3.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
build in docker from source code
[code]
### Please describe

[2018-10-26 05:33] ggouaillardet commented on #5954
@angainor I cannot reproduce this issue. which OS are you running on and how did you `configure` Open MPI ?

[2018-10-26 05:50] angainor commented on #5954
Can't check right now, but one thing that jumps into my head is I use
external libevent and pmix.

m

On Fri, Oct 26, 2018, 07:33 Gilles Gouaillardet <notifications@github.com>
wrote:

[2018-10-26 06:17] ggouaillardet commented on #5954
sure, please also include the libevent version.

[2018-10-26 07:06] ggouaillardet commented on #5954
@rhc54 I am able to reproduce this with the latest `libevent` (either from their `master` branch or a `2.1.8` package).

The error occurs when `pmix_rte_init()` calls `evthread_use_pthreads()` a second time (it was previously invoked by `opal`).

Here is the related PMIx code

[code]

One option could not __not__ to call `pmix_event_use_threads()`, but I guess that would only work for Open MPI. An

[2018-10-26 07:49] angainor commented on #5954
@ggouaillardet That's funny, because now I can't reproduce it. We have `libevent-2.0.21-4.el7.x86_64` on a Centos 7.5, and I did not install any newer version. So maybe there is another way to trigger it?

[2018-10-26 07:59] ggouaillardet commented on #5954
@angainor this error message was introduced in `libevent 2.1.6-beta`, so my guess is you tested on an other system and/or an other external libevent library.

[2018-10-26 10:14] angainor commented on #5954
@ggouaillardet @rhc54 OK, I know what happened. This is what I get when running on my Ubuntu laptop, with libevent 2.1.6. So you're right - it was a new `libevent`. And it was OpenMPI with `--enable-debug`. This is the full configure line:

[code]

[2018-10-26 13:42] devreal commented on #5973
Here is the output from a debug build:

[code]

It seems that PBS is chosen over ALPS. The PBS environment:

[code]

I also tried increasing the priority of ALPS but to no avail:

[code]

[2018-10-26 14:02] rhc54 commented on #5973
Hmmm...well that is certainly very confusing. It looks like you have both ALPS _and_ PBS on the same system? How would/does that work?

You can eliminate the PBS support by simply configuring OMPI ```--without-tm```. Or you can put ```--mca ras alps --mca plm alps``` on your cmd line.

For whatever reason, both the ALPS and PBS allocation parsers agree that you were only allocated 1 slot on each o

[2018-10-26 14:20] devreal commented on #5973
In case it's of any use: here is the debug output of the plm component:

[code]

[2018-10-26 21:18] bwbarrett commented on #5969
We reverted the offending patch from 3.0.x and 3.1.x release branches (and they've never shipped in a release).  Removing the tags for those branches.

[2018-10-26 21:49] devreal commented on #5969
I agree, maybe this was too much a shot from the hip. I will continue working on the issue and hopefully we can bring it into the next release.

[2018-10-27 16:47] andre-merzky opened #5982 "`orte-dvm` command missing on v4.0.x branch"
Thank you for taking the time to submit an issue!

## Background information

I want to start a persistent ORTE dvm, and then start multiple tasks on that dvm.  Previous version (3.0.2) supported something like:

[code]

How would I express this in v4.0.x?

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

We use v3.0.2

### Describe how Open MPI

[2018-10-27 16:59] rhc54 commented on #5982
There should be a "news" item on this - "orte-dvm" has been removed due to lack of maintenance. Instead, we are directing people to use PRRTE (https://github.com/pmix/prrte). This is a direct replacement that is easier to use. For instructions, see the PMIx web site (https://pmix.org/code/getting-the-pmix-reference-server/)

[2018-10-27 17:29] andre-merzky commented on #5982
Hi Ralph, thanks for the quick reply!  That seems to work out of the box (locally), I'll run some tests on our machines over the next days.

Can I expect that MPI-applications can also be started via prte/prun?  I assume that is limited to OpenMPI linked applications?

[2018-10-27 17:48] rhc54 commented on #5982
PRRTE supports any PMIx-based application, and of course any non-communicating app. Note that MPICH now supports PMIx too. There are instructions here (https://pmix.org/support/how-to/running-apps-under-psrvr/) on running OMPI apps, and how to build OMPI for it here (https://pmix.org/code/building-the-pmix-reference-server/) at the bottom of the page.

[2018-10-27 17:49] rhc54 commented on #5982
I should also note that all the OpenSHMEM libraries I'm aware of support PMIx, and therefore can be run against PRRTE.

[2018-10-29 08:57] ghostplant commented on #5789
@artpol84 Hi, I installed ucx and new ompi, and got the following error when running the program:
[code]

Any solution?

[2018-10-29 14:49] abeltre1 commented on #5789
try creating a hostfile with only the IP address (i.e., 192.168.2.130)

[2018-10-29 21:03] hppritcha commented on #5973
does the application launch if you use aprun rather than mpirun?

[2018-10-29 21:04] hppritcha commented on #5973
sorry didn't see the note above about working with aprun.

[2018-10-29 21:21] bwbarrett opened #5987 "v3.0.4 Release Checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2018-10-29 22:15] bwbarrett opened #5990 "v3.1.4 Release Checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2018-10-29 22:20] #5231 closed

[2018-10-29 22:47] #5578 closed

[2018-10-30 05:56] ghostplant commented on #5789
OK, I created the hostfile, but the mpirun just hangs on booting the program:

[code]

It connects to localhost only with np = 2, and all possible OpenSSH rsa_keys are configured correctly.

[2018-10-30 11:34] angainor opened #5992 "(ompi-)prun cannot connect to orte-dvm"
I've compiled the current v4.0.x branch with an external PMIx 3.0.2. I'm having issues trying to connect to `orte-dvm`.

I start the DVM as a system server:

[code]

However, I can't seem to convince `ompi-prun`, nor the `prun` from the reference server repo to connect:

[code]

As a side-note, I can `prun` when instead of `orte-dvm` I use the reference server `prte`, also compiled with the same e

[2018-10-30 13:03] rhc54 commented on #5992
@gpaulsen @hppritcha Both the orte-dvm and ompi-prun tools need to be removed from OMPI v4.0.0 prior to release as they are defunct and no longer maintained.

[2018-10-30 13:12] angainor commented on #5992
@rhc54 Is there a simple way to get the same functionality now with ompi / orted? Or should I use the PMIx reference server?

[2018-10-30 14:45] rhc54 commented on #5992
Yes - PRRTE is your way forward.

[2018-10-30 15:14] bwbarrett opened #5996 "BTL TCP compile error on Cisco MTT"
master-201810300304-9c44e8c, does not appear to be on other branches.

configure line:
[code]

stderr:
[code]

[2018-10-30 15:28] hppritcha commented on #5973
I only have access to a system running PBSpro but will see if I can reproduce this.

[2018-10-30 15:34] hppritcha commented on #5973
@devreal what qsub arguments are you using?

[2018-10-30 15:41] hppritcha commented on #5973
@devreal could you submit a new job and paste the ```PBS_NODEFILE``` content?

[2018-10-30 15:49] devreal commented on #5973
qsub command:

[code]

PBS Nodefile:
[code]

I would expect that ALPS will provide Open MPI with the correct allocation information as that is (from what I understand) the way `aprun` gets it's information.

[2018-10-30 15:58] rhc54 commented on #5973
FWIW: that tells OMPI to assign 1 slot from each of those nodes. We only auto-detect slots in _unmanaged_ environments. So you would indeed get 1 slot if the ras/tm component is used.

I don't know how the info gets filtered thru ALPS and into aprun. Best guess is that ALPS is also seeing only node assignments, but aprun defaults to assuming slots=cores - which is not what OMPI assumes in a _manag

[2018-10-30 17:42] hppritcha commented on #5973
could you add a ppn parameter, like

[code]
alps is being told by PBS that you're only requesting 1 process per node.  I believe this may be a site dependent configuration.  That being said, for PBS pro, I always tell pbs exactly how many slots/node I want, e.g.

[code]

[2018-10-30 17:50] devreal commented on #5973
Our PBS does not allow me to define the number of processes per node:

[code]

It seems to be a site-specific configuration issue and not a problem of Open MPI then. I guess I will go with the `--oversubscribe` then.

[2018-10-30 19:31] #5996 closed

[2018-10-30 20:24] jsquyres opened #5999 "MPI-1/MPI-2 deprecated functions (in addition to the deleted functions) were #if'ed out of mpi.h"
We've long-since discussed that Open MPI v4.0.x will not contain any functions/symbols that have been deleted from MPI-3.1 (i.e., ancient MPI-1/2 symbols that were deprecated for a long time and then eventually deleted).

This was done by `#if`'ing out these symbols in `mpi.h.in`.

We discovered in the 2018-10-30 webex that the functions that are still *deprecated* in MPI-3.1 are *also* `#if`'ed o

[2018-10-30 23:50] masterleinad opened #6001 "CUDA-aware MPI broken after calling MPI_Bcast"
## Background information

### What version of Open MPI are you using?
`openmpi-2.1.5`, `cuda-8.0`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
`OpenMPI` was installed from the tarball.

### Please describe the system on which you are running

* Operating system/version: Debian GNU/Linux t

[2018-10-31 01:14] Akshay-Venkatesh commented on #6001
@masterleinad I tried with openmpi version 2.1.3 and 3.1.0 and cuda-9.2.88. Sorry I don't have the mpi versions or cuda version you used at hand at the moment. Can you try with a newer version of cuda? Or one of the versions of OpenMPI I've used? Thanks
[code]

[2018-10-31 08:42] masterleinad commented on #6001
Hmm... I have the same issue when using `cuda-9.1.85` both with `openmpi-2.1.5` and `openmpi-3.1.3`, and can't test newer `CUDA` versions.

[2018-10-31 08:59] masterleinad commented on #6001
Is there any way to observe the state of the MPI environment before and after the call to `test_bcast`
to have a clue why the two calls to `test` differ?

[2018-10-31 11:33] gonnetp opened #6004 "MPI_Waitany does not appear to be thread-safe"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v3.1.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Downloaded, compiled, and installed from the source tarball.

### Please describe the system on which you are r

[2018-10-31 12:07] masterleinad commented on #6001
It seems that the guilty function is `MPI_Barrier`  and not `MPI_Bcast`: replacing `test_bcast()` by `MPI_Barrier(MPI_COMM_WORLD)` shows the same problem.

[2018-10-31 14:53] devreal opened #6005 "uGNI: Potential deadlock in processing pending sends"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

Git  bbe5da4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Compiled using GCC and `--debug` enabled

### Please describe the system on which you are running

Cray

[2018-10-31 15:02] bosilca commented on #6004
According to the MPI standard it is illegal to wait on the same requests in multiple threads concurrently.

[2018-10-31 15:02] #6004 closed

[2018-10-31 17:06] masterleinad commented on #6001
A new minimal example can be found at https://gist.github.com/masterleinad/bb177f7de2ff73d6671976ca5b84de32.
A workaround is to use `--mca btl_smcuda_use_cuda_ipc 0`.
The output obtained with
[code]
(working) resp.
[code]
(failing) is attached.

[failing_0.txt](https://github.com/open-mpi/ompi/files/2535467/failing_0.txt)
[failing_1.txt](https://github.com/open-mpi/ompi/files/2535468/failing_1.txt

[2018-10-31 18:56] Akshay-Venkatesh commented on #6001
@masterleinad Thanks for trying without smcuda. It seems that barrier (which should just be using shared memory between the processes) is interfering with the subsequent gpu->gpu transfer.
With 3.1.3 do you have UCX-1.4 installed? If yes, can you try this?

`mpirun -np 2 --mca pml ucx -x UCX_MEMTYPE_CACHE=n -x UCX_TLS=sm,rc_x,cuda_copy,gdr_copy,cuda_ipc ./tmp.out`

[2018-10-31 18:59] Akshay-Venkatesh commented on #6001
@masterleinad Thanks for trying without smcuda. It seems that barrier (which should just be using shared memory between the processes) is interfering with the subsequent gpu->gpu transfer. smcuda btl is not actively maintained and it's possible there's bug.

With OpenMPI 3.1.3 do you have UCX-1.4 installed? If yes, can you try this?

`mpirun -np 2 --mca pml ucx -x UCX_MEMTYPE_CACHE=n -x UCX_TLS=sm

[2018-10-31 20:36] masterleinad commented on #6001
Using
[code]
results in
[code]
so that seems to work. Running without all these options (`mpiexec -np 2 ./tmp.out`) now gives
[code]

[2018-10-31 20:49] Akshay-Venkatesh commented on #6001
@masterleinad That's good to know. The UCX_WARN can be ignored for this case because it's only CUDA-IPC that's being used.
As for the segfault, we're aware of this issue and we're in the process of figuring out why cudaMalloc interception fails in your C++ test. Hope to have an answer for this soon.

[2018-10-31 22:04] masterleinad commented on #6001
Thanks for the help so far!

[2018-11-01 17:25] t-niemi opened #6014 "Compiler bug? / potential hang up issue with vader btl"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

3.0.3, 3.1.3, 4.0.0rc5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Downloaded source tarball, compiled with gcc 5.4.0 using ./configure --prefix=... & make all

[2018-11-01 17:29] t-niemi commented on #6014
I also tried to play around with btl_vader_fbox.h and making the following change

[code]
seemed to resolve the issue with gcc 5.4.0.

In any case, this is not a big problem as newer gcc versions seem to work and I can personally use openmpi 2.1.1 with the machines that have older gccs. However, this indicates that there can still be potential issues with some compilers / optimizations.

[2018-11-01 23:52] hjelmn commented on #6014
I will have to take a look at the code generation from gcc 5.4.0. I have used 5.3.0 and 4.9.x without any issue.

FWIW, we plan to address this by implementing an atomic write. This won't help Open MPI v3.x or v4.0.x but will address the issue for newer releases.

[2018-11-01 23:54] hjelmn commented on #6005
Hmm, thanks for the report. I will take a look next week. I really don't like that call stack though.... Will probably fix it by breaking the chain.

[2018-11-01 23:55] hjelmn commented on #5999
Yeah, looks like they got caught up in the MPI-1 cleanup. Should be simple to fix.

[2018-11-02 00:19] jsquyres commented on #5999
Merged to master in #6013.  Awaiting v4.0.x cherry pick PR.

[2018-11-02 08:18] ggouaillardet opened #6016 "error handling large datatypes"
The issue was initially reported at https://www.mail-archive.com/devel@lists.open-mpi.org/msg20812.html

The inline program above can be used to reproduce the issue.
It has to be run with one MPI task and requires ~64GB memory (!).

[code]

I ran this under the debugger and found Open MPI tries to pack more data than necessary.
At this stage, I could not find why, nor any obvious integer overflow

[2018-11-02 16:44] hppritcha commented on #5810
reopen to better track going in to other release branches

[2018-11-02 22:32] abouteiller opened #6019 "mpif-ext include with more than 72 chars"
## Background information
The mpif-ext.h file is broken when used in fixed-form Fortran code because the include for `pcoll` breaks the 72 characters per line barrier.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
master #37954b5f

-----------------------------

## Details of the problem

Generated file `mpif-ext.h` contains the following offe

[2018-11-02 22:32] sjackman opened #6020 "There are not enough slots available"
## Background information

Submitting a job to SLURM requesting 32 processes produces an error message. Adding the `--oversubscribe` option works around the issue. The system has 48 CPUs.

### What version of Open MPI are you using?

OpenMPI 3.1.3

### Describe how Open MPI was installed

OpenMPI was installed using Linuxbrew. `brew install open-mpi` https://linuxbrew.sh

### Please describe the s

[2018-11-02 22:41] bgoglin commented on #6020
I guess this is E5-2650v2, which has 12 cores per package, hence 24 cores total and 48 hyperthreads. But hyperthreads are not used by default, so only 24 slots are available here.

[2018-11-02 22:48] jsquyres commented on #6020
Even if hyperthreading is enabled (Linux is assumedly showing you the 48 hyperthreads), Open MPI defaults to one process per *core*, not one process per *hyperthread*.  Hence, @bgoglin is right: if you only have 24 actual *cores*, then Open MPI will complain (by default) if you try to run more than 24 processes.

[2018-11-02 22:57] sjackman commented on #6020
Okay. That explains that. SLURM is configured to allow 48 tasks per node. Is there a way to tell OpenMPI to allow one process per thread rather than one per core?

[2018-11-03 00:31] gpaulsen commented on #5999
merged to v4.0.x (for v4.0.0) in https://github.com/open-mpi/ompi/pull/6018.
Can close this now, as this is NOT going back to earlier releases.

[2018-11-03 00:31] #5999 closed

[2018-11-03 05:54] Akshay-Venkatesh commented on #6001
@masterleinad Can you check if you still need `-x UCX_MEMTYPE_CACHE=n` if you compile with `nvcc` and strictly link to `libcudart`?
So,
[code]
instead of
[code]

I was able to get around the issue with this.

[2018-11-03 07:40] inscite opened #6024 "Won't build openmpi-3.1.3 with no extra flags"
## Background information
- I tried to install new ompi for distributed computation.
- I downloaded fresh, stable release (v3.1.3) from open-mpi.org (because a release one from here does not have configure)
- I managed to do ./configure and make, but there was no luck to build ompi with any no extra flags.
- I finally downgraded reference version to v3.1.2, as well as build & install was successfu

[2018-11-03 10:28] jsquyres commented on #6024
Thanks for reporting the issue.

It looks like your compiler seg faulted while building the file `ompi/mca/io/romio314/romio/mpi-io/delete.c`.

This is not a problem with Open MPI per se, but rather a problem with your compiler.

Interestingly enough, this file did not change between the Open MPI 3.1.2 and 3.1.3 releases:

[code]

That being said, it's possible/likely that some other header files