[2021-07-01 16:24] Flamefire commented on #9105
It is in all versions I tested and actually one of the 2 issues: Using an external PMI implies using an external PMIx (if it happens to be on the system) and the mentioned check makes configure fail

[2021-07-01 16:48] shijin-aws commented on #9085
@afernandezody Hi, parallel cluster 2.11 is released https://github.com/aws/aws-parallelcluster/releases/tag/v2.11.0. It takes in the latest efa installer (1.12.2).

[2021-07-01 17:42] shefty commented on #8822
libfabric added the ability for ompi to import its memory patcher support through libfabric commit 7759f8c.  There's no guarantee that the code will work as-is, since there's no implementation that uses it yet.  But in theory the updates needed on the ompi side shouldn't be difficult.

[2021-07-01 19:08] awlauria commented on #8925
Re-opening as Ralph now thinks that ompi should be calling exit, not pmix. He's going to back out  openpmix/openpmix#2219 .

[2021-07-01 23:29] afernandezody commented on #9085
@**shijin-aws**,
I've been working all day long with the new AMI and haven't run into any issue yet (won't finish the tests until tomorrow morning). If everything goes well, it means that the reported issue was probably caused either by how I was upgrading the EFA stuff (that was meant to be a temporal patch) or, as you suggested, because the re-installation of OpenMPI went awry for some reason (m

[2021-07-02 06:14] ggouaillardet commented on #9105
@Flamefire

can you please give the inline patch below a try?
SLURM PMIx won't be tested if `--with-pmix=internal` or `--with-pmix=<path to PMIx>` is used, so I expect it to fix the bug you reported. Note in your case you still need to manually force `--with-pmix=internal` (since SLURM `PMIx` is present and an external `libevent` cannot be used - because the devel package is not installed)

[code]

[2021-07-02 10:10] Flamefire commented on #9105
Yes that patch works for me

[2021-07-02 12:47] rhc54 commented on #9105
@Flamefire Just as a "heads-up": starting with OMPI v5.0 (out this summer), OMPI will no longer support PMI-1 or PMI-2. Only PMIx. Just FYI so you can start planning.

[2021-07-02 14:09] afernandezody commented on #9085
Everything looks fine with the new AMI. I'm closing the ticket but will post any information of interest that comes along. Thanks.

[2021-07-02 14:09] #9085 closed

[2021-07-02 15:23] arlininger opened #9115 "Mpirun hangs when running remote command. Seems related to trying to run orted over ssh"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installed via apt on Ubuntu 18.04.

### Please describe the system on which you are running

* Operating system

[2021-07-02 15:46] jsquyres commented on #9115
Unfortunately, Open MPI v2.1.1 is pretty ancient, and we haven't supported it for quite a while.

Aside from checking to make sure that all TCP ports are able to be opened between the two hosts, I don't have any other concrete suggestions for the v2.x series.

Can you upgrade to Open MPI v4.1.x?

[2021-07-02 15:55] arlininger commented on #9115
I went with what was available in the ubuntu repo. I'll see what I can do about upgrading.

[2021-07-02 15:57] jsquyres commented on #9115
Understood.  Sorry that Ubu 18 is apparently pretty old / out of date.  😦

[2021-07-02 19:17] arlininger commented on #9115
Got my test machines upgraded to Ubuntu 20.04 which has MPI 4.0.3. I'm having the same basic issue.

[code]

[2021-07-02 19:20] arlininger commented on #9115
Never mind, passwordless ssh broke. Sorry for the noise. I'm closing this until I get through my debugging chain again.

[2021-07-02 19:20] #9115 closed

[2021-07-03 09:24] akjt commented on #8555
@awlauria I will close this issue. Something was not correctly installed with UCX, which then solved the issue.

[2021-07-03 09:24] #8555 closed

[2021-07-03 15:41] samuelkgutierrez opened #9120 "One-Sided Inter-Node Communication Performance Regression Between v4.1.1 and master"
## Background information

We observe a significant inter-node one-sided communication performance regression shown in both operational latencies and bandwidth using OMPI master versus the 4.1.1 release. Intra-node one-sided communication and two-sided communication all appear unaffected. The OFI `verbs;ofi_rxm` providers are used for both MTL and BTL paths.

Help is greatly appreciated.

### What

[2021-07-03 15:47] rhc54 commented on #9120
Hey @samuelkgutierrez - I see one glaring difference:

v4.1.1:
[code]
master:
[code]
Looks like a Mellanox domain got in there, and nothing "Mellanox" works well with OFI (last I heard).

[2021-07-03 15:52] samuelkgutierrez commented on #9120
Thank you, @rhc54. The difference in output can probably be explained away by 1e4bf9eeea23dd548bfd280823f30f5deff6aa57: misleading debug output recently fixed in master.

[2021-07-03 16:14] rhc54 commented on #9120
I somewhat beg to differ, Sam. Setting aside the wording, what I see in the code  in v4.1.1 and master is that you should have gotten _two_ verbose outputs in both cases if everything went the same. However, you are only getting one line of output from v4.1.1, which implies that at least something is different in the OFI selection result.

It seems weird to me that you didn't get the second "provi

[2021-07-03 17:25] samuelkgutierrez commented on #9120
@rhc54 I updated the text in this issue to address:
* confusing output caused by differences in debug output behavior between master and v4.1.1
* local component selection edits that mistakenly made their way into the report (!!!). Thanks for catching that.

I'll spend some time looking closer at these next week.

[2021-07-03 18:44] ReyCTaylor commented on #7270
Hi, everyone:
I am attempting to run paralell adcswan (padcswan) on a Linux virtual machine, but after preparing subdomanins and call the application I receive this error message "**An error occurred in MPI_Irecv reported by process [3643015169,0] on communicator MPI COMMUNICATOR 4 CREATE FROM 3 MPI_ERR_RANK: invalid rank MPI_ERRORS_ARE_FATAL (processes in this communicator will now abort, and pot

[2021-07-05 13:00] gkatev commented on #8532
Yes, I think something like this would be sufficient/valid:
[code]

[2021-07-05 16:58] srpgilles opened #9122 "Issue with Openmpi compilation on case-insensitive systems with clang"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Tried with 4.0.5, 4.0.6, 4.1.0 and 4.1.1.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From a tarball, with command

[code]

### Please describe the system on whi

[2021-07-05 17:19] hjelmn commented on #9122
Does this go away if you disable the C++ bindings? The bindings were removed from the standard 9 years ago now. They will not be in Open MPI 5.0.0.

[2021-07-05 21:17] srpgilles commented on #9122
Yes you're right! (and I even wasn't using those bindings...)

Many thanks!

[2021-07-06 08:38] AboorvaDevarajan commented on #7101
I tested this with recent OMPI master + UCX master and it passes now. Closing this.

[2021-07-06 08:38] #7101 closed

[2021-07-06 13:17] Flamefire opened #9123 "Crash in MPI_Win_lock_all when used with libfabric < 1.12"
## Background information

We were using OpenMPI 4.0.5 with libfabric 1.11.0 for MPI one-sided communication. When upgrading to OpenMPI 4.1 MPI_Win_lock_all crashes.

Using libfabric 1.12.x works. However as OMPI 4.0 works with libfabric 1.11 this rather looks like an OMPI bug and upgrading libfabric may not be easily possible

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git

[2021-07-06 13:54] awlauria commented on #8532
@gkatev thanks - did you want to open up that pr to master?

You would need to sign-off the commit using the `-s` option of `git commit` along with the description.

[2021-07-06 15:14] #8990 closed

[2021-07-06 15:15] jsquyres commented on #8141
@Nortamo Can you try any of the nightly tarballs?  The fix should already be available on all relevant branches: https://www.open-mpi.org/nightly/

[2021-07-06 15:38] devreal commented on #9080
I added some more instrumentation points into the UCX code but the results are more confusing than helpful:

[code]

Note that the individual calls take only a few microseconds but the offset of `UCT_TL_EP_STAT_OP` is 4.74ms (if my interpretation is correct). I don't see anything happening in between the two functions so the only explanation I can come up with right now is that it's a scheduling i

[2021-07-06 16:00] yosefe commented on #9080
@devreal can you try using UCX build in release mode (it will not support profiling, but will make UCT_TL_EP_STAT_OP a NULL operation)?

[2021-07-06 16:07] devreal commented on #9080
@yosefe With release mode, do you mean `--disable-debug` and `--disable-profiling`?

[2021-07-06 16:11] yosefe commented on #9080
yeah, can use the script `./contrib/configure-release` (wrapper for `./configure`) which turns off all the debug stuff

[2021-07-06 16:37] jsquyres commented on #9123
If you have an infiniband network, is there a reason you're not using the UCX PML?

[2021-07-06 16:40] Flamefire commented on #9123
As you can see I build with ucx and ofi. So OMPI can choose, I guess.

[2021-07-06 16:50] yosefe commented on #9123
@Flamefire seems like UCX is not selected by default . Can you please run with `-mca pml_base_verbose 100 -mca pml_ucx_verbose 100` (args from mpirun) and upload the output?
Also, can you try by adding `-mca pml ucx` for force UCX selection?

[2021-07-06 17:15] hppritcha opened #9124 "patch for NAG compiler uses a method present only in libtool 2.4.5 and newer"
PR https://github.com/open-mpi/ompi/pull/6378 applied a patch to configure which makes use of ```func_cc_basename```, resulting in the generated libtool script invoking this function.  This function is only defined in libtool versions 2.4.5 and newer.  Consequently, if one is building OMPI master from a git checkout, i.e. running ```autogen.pl``` using libtool version 2.4.4 or older, the following

[2021-07-06 17:41] awlauria commented on #8990
All PR's merged and issue fixed per the 7/6 ompi teleconference.

[2021-07-06 17:50] jsquyres commented on #9124
This is relevant because some distros ship with older versions of Libtool (e.g., RHEL 7.x ships with Libtool v2.4.2).

It *seems* like this warning message doesn't matter, but... it's icky.

[2021-07-06 20:38] jsquyres commented on #9122
This is actually a real issue.  We don't configure/compile the C++ bindings by default in v4.0.x and v4.1.x, but they're still there, and so they should still work (i.e., it's a regression if they don't work).

I have a workaround that I'll PR shortly.

[2021-07-06 21:29] devreal commented on #9080
There is no difference in release mode: I see the same behavior of the version using RMA versus the ones not using RMA.

[2021-07-06 21:39] devreal commented on #9080
I my interpretation of the trace data correct that there is unaccounted time between `uct_dc_mlx5_iface_zcopy_post` and `UCT_TL_EP_STAT_OP`?

[2021-07-06 21:43] hjelmn commented on #9080
Can you try the same with btl/uct and osc/rdma? osc/ucx still has some serious issues that need to be resolved.

[2021-07-06 22:11] devreal commented on #9080
I am having a hard time using osc/rdma on that machine. I'm seeing a segfault in `ompi_osc_rdma_lock_all_atomic` (if that's fixed in latest master I will try to update and run again)

[2021-07-06 22:12] hjelmn commented on #9080
Hmmm. I can take a look. It was working. Not sure what could have broken.

[2021-07-06 22:42] hjelmn commented on #9080
Though I did add support for 1.10 in master. Not sure what difference that will make.

[2021-07-07 07:10] Nortamo commented on #8141
Looks like it is working. Generated linker flags are now just ` -Wl,-rpath -Wl,@{libdir}  -Wl,--enable-new-dtags`
instead of ``-L/usr/lib64    -Wl,-rpath -Wl,/usr/lib64 -Wl,-rpath -Wl,@{libdir} -Wl,--enable-new-dtags` when configuring with ``./configure --with-libevent=/usr`

[2021-07-07 08:08] Flamefire commented on #9123
The reason we build with libfabric and UCX (as far as I remember) is that the compilation process should be universal so the built package can be used on different systems. In particular this is built with EasyBuild via a "recipe" and run on different HPC systems worldwide. Hence "just use UCX" is not a solution but only a workaround if at all.
So far for context.

The requested logs for without a

[2021-07-07 13:03] jsquyres commented on #8141
Excellent.  I'll close this issue, then.  Thanks for the confirmation!

[2021-07-07 13:03] #8141 closed

[2021-07-07 14:52] jsquyres commented on #9014
Fixed on master via #9108 and #9116.

[2021-07-07 16:42] yosefe commented on #9123
@Flamefire OFI (with osc/rdma layer) is being selected by default since it has higher priority (=101) than osc/ucx (=70).
Can you please add also "-mca osc ucx" to the command line?

@jsquyres on a general note, TMO libfabric components should reduce their priority when running on Mellanox hardware, so that it will be lower than osc/ucx. This is same as UCX components reducing their priority when

[2021-07-07 17:58] jsquyres commented on #9123
@yosefe If the OFI component is being selected incorrectly, then yes, I agree that that is a problem.  I don't think it should look for NVIDIA hardware specifically and demote itself in that case, though -- that would be weird (i.e., look for and react to  hardware that it wouldn't otherwise look for).

It's quite possible that we're not testing "full build" scenarios well enough (i.e., builds wit

[2021-07-07 18:03] yosefe commented on #9123
So should OFI check for OFI-specific hardware?

For case (4), IMO the user should select explicitly (via -mca param) to get the right library to work. And for case (3), probably neither OFI nor UCX should be high priority.

[2021-07-07 18:11] jsquyres commented on #9123
I'm not sure what the right answer is here.  I agree that if there's only NVIDIA hardware and UCX is available, the UCX components should be auto-selected over the OFI components.  I'm not sure of the exact mechanism.

FYI: @open-mpi/ofi this requires some discussion.  See the original description, above, for version/environment information.

[2021-07-07 18:19] rhc54 commented on #9123
Sounds like a great topic for the proposed developer's meetings, yes? https://github.com/open-mpi/ompi/wiki/Meeting-2021-07

[2021-07-07 18:52] mwheinz commented on #9123
ucs_debug_print_backtrace() means that the crash occurred inside the UCX library itself. I would really dislike UCX being the default because it already mistakes OPA hardware for Mellanox hardware and generates warning or errors on OPA fabrics if it isn't disabled.

[2021-07-07 19:46] acgoldma commented on #9123
OMPI v4.1 added in OFI BTL support (used to just be only MTL in v4.0). If for whatever reason you did not need ofi btl, then the adding this can disable it: `--mca btl ^ofi`

Please rerun and capture output with ofi logging enabled: `-x FI_LOG_LEVEL=info`
This appears to be a failure in `rxd` that is getting caught by a signal handler in UCX (I think)

Some ofi providers layer what are called util

[2021-07-07 20:29] yosefe commented on #9123
The error happened at `1 0x00000000000102e1 rxd_start_xfer.cold()  rxd_cq.c:0`; ucs_debug_print_backtrace is merely the signal handler. Anyway, latest versions of UCX do not install SIGSEGV handler by default.
Also, we changed pml/ucx to reduce UCX priority if no "mlnx" hardware is found, so it should not be selected on OPA fabrics. If you observe otherwise, pls LMK and we will fix it.

[2021-07-07 21:26] jsquyres commented on #9123
I do not think that that is correct.  The log says:

[code]

Meaning:

1. It looks like the UCX PML was being used (or at least it was emitting a lot of output, implying that it was at least initializing).
2. The OFI BTL said it was going to abort.  So I assume that is the entity that actually aborted.

Given that ob1 was *not* used, it might be useful to run with `--mca osc_base_verbose 100` to s

[2021-07-07 21:59] hppritcha commented on #9123
@Flamefire could you point us to a reproducer test?

[2021-07-08 07:32] Flamefire commented on #9123
That runs through: `mpirun -mca pml_base_verbose 100 -mca pml_ucx_verbose 100 -mca pml ucx -mca osc ucx a.out `:
[mpirun_osc_ucx.log](https://github.com/open-mpi/ompi/files/6782404/mpirun_osc_ucx.log)

@hppritcha I though I did, but Github doesn't allow cpp as extension so I uploaded the wrong file. Updated the description. See https://github.com/open-mpi/ompi/files/6782369/test_mpi2.cpp.txt

@acg

[2021-07-08 08:19] ggouaillardet commented on #9123
@Flamefire my 0.02 US$

 - per your report, Open MPI 4.1 works with libfabric 1.12, and Open MPI 4.0 works with libfabric 1.11.
   Based on this data point, my first intuition is that Open MPI 4.1 does things differently and hit a libfabric 1.11 bug that has been fixed in 1.12.
 - performance wise, UCX should be used instead of libfabric, and I believe this is what should happen out of the box.

[2021-07-08 08:42] Flamefire commented on #9123
@ggouaillardet So do I understand this correctly that a workaround would be to either exclude libfabric from the build or add a line `osc_rdma_priority=50` to `/etc/openmpi-mca-params.conf`?

[2021-07-08 08:57] ggouaillardet commented on #9123
Based on the messages, I believe (disclaimer, I did not test) that these are two valid workarounds.
The first one might not be a fit for EasyBuild though.
If you are using module files, `export OMPI_MCA_osc_rdma_priority=50` is also an option.

[2021-07-08 09:07] Flamefire commented on #9123
As EasyBuild creates module files this might indeed be an option.
To make sure this works across all existing (and future) OMPI versions: Is there any reference about the default priorities and their changes?

[2021-07-08 09:54] leleliu008 opened #9129 "clang: error: cannot specify -o when generating multiple output files"
**build toolchain:** `android-ndk 21.3.6528147`
**build source:**  https://download.open-mpi.org/release/open-mpi/v4.1/openmpi-4.1.1.tar.bz2
[code]

https://github.com/leleliu008/ndk-pkg-formula/runs/3015848340?check_suite_focus=true

[2021-07-08 13:00] hjelmn commented on #9123
The defaults have not changed in some time. osc/tdma is supposed to be higher priority than osc/ucx unless pml/ucx was selected. I believe that logic should be in the 4.x series.

[2021-07-08 14:49] ggouaillardet commented on #9129
@rhc54 the issue involves PMIx

From the logs, Open MPI configures the internal PMIx with
[code]

Note `CPPFLAGS=-include /.../include.h -include /.../stub-getdtablesize.c`

but ends up with

[code]

note `-include /.../include.h /.../stub-getdtablesize.c`

the second `-include` has been removed, and I think this is what is ultimately causing the error message

[2021-07-08 15:46] awlauria commented on #8757
This is the same as https://github.com/open-mpi/ompi/issues/8776

I re-verified this works now. Closing.

[2021-07-08 15:46] #8757 closed

[2021-07-08 16:03] rhc54 commented on #9129
Someone is welcome to come up with a patch 😄

[2021-07-08 16:08] leleliu008 commented on #9129
@ggouaillardet Thank you for your help. this problem has been resolved.

I have ever set
[code]
I removed it and compiled successfully.

[2021-07-08 16:12] leleliu008 commented on #9129
Android-NDK no `int getdtablesize(void);`

I directly modified the source code:
[code]

[2021-07-08 16:54] awlauria commented on #6296
I was unable to reproduce on x86 or ppc with current ompi master. Closing - if this pops up again we can either re-open or open a new ticket.

[2021-07-08 16:54] #6296 closed

[2021-07-08 21:36] jsquyres commented on #9129
@ggouaillardet Is it worth adding `-include` to https://github.com/open-mpi/ompi/blob/25e0db687fa14e1eac974822abcdce178d284f85/config/opal_functions.m4#L383-L402

[2021-07-08 22:48] jsquyres commented on #9113
I'm afraid we don't know anything about AMUSE or how it uses Open MPI.  The issue you opened on the amuse repo might be your best bet.  ☹️

[2021-07-09 01:31] ggouaillardet commented on #9129
Thanks @jsquyres, that will do the trick.

@rhc54 the root cause is in both Open MPI and PMIx, and I will backport the fix to PMIx once reviewed here.

@leleliu008 can you please teach me your full name in Roman alphabet so I can properly acknowledge your contribution?

[2021-07-09 01:39] rhc54 commented on #9129
Almost certainly in PRRTE as well, I should think

[2021-07-09 01:54] ggouaillardet commented on #9129
@rhc54 I will also issue the PR for PRRTE if needed.

[2021-07-09 05:35] leleliu008 commented on #9129
@ggouaillardet I'm Chinese. My Chinese name is `刘富频`. Chinese people usually don't have names in Roman alphabet, but we have `Pinyin`,  which is similar to the Roman alphabet. My Pinyin name is `LiuFuPin`. Thank you.

[2021-07-09 05:52] ggouaillardet commented on #9129
Thanks @leleliu008 for the lengthy explanation. I updated the commit message of #9131 to credit you as LiuFuPin
(I am not sure we can use kanji - nor other non roman alphabets - in the commit messages)

[2021-07-09 06:03] leleliu008 commented on #9129
@ggouaillardet Many thanks for your efforts!

[2021-07-09 08:28] devreal commented on #9080
Running with osc/rdma without UCX support (probably tcp instead) I get a Segfault in `MPI_Win_lock_all`:

[code]

The issue is that `selected_btl` is `NULL`.

If I enable the btl/ucx by setting `--mca btl_uct_memory_domains all` (seems to be required for btl/ucx to work) I get an assert in a simple test app I'm using:

[code]

I don't have the resources at this time to debug either of these issues

[2021-07-09 15:42] mwheinz opened #9132 "OMPI v4.1.2a1 complains about not using UCX even when no UCX hardware is available."
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Tip of the v4.1.x branch, sha bbbb06dc2d3d55905197dd28cbe6f99fd03ee359

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

$ ./configure --prefix=/usr/mpi/gcc/openmpi-v4

[2021-07-09 16:45] jsquyres commented on #9132
FYI @open-mpi/ucx

[2021-07-09 17:11] yosefe commented on #9132
@jsquyres this issues does not seem to be related to UCX: It's openib BTL on OPA hardware
Anyway, I would expect OFI to be selected here and not openib

[2021-07-09 17:18] jsquyres commented on #9132
@yosefe You're right; I missed that.

[2021-07-09 18:04] hjelmn commented on #9132
Yup. This setup should be using mtl/ofi and btl/ofi and not btl/openib.

[2021-07-09 19:23] jsquyres commented on #9132
@mwheinz openib is unfortunately basically unmaintained in the 4.x series.  If there's a bug fix that's needed, you might be the most interested party... ☹️

[2021-07-11 15:53] rhc54 commented on #9123
I'm wondering if this didn't wind up wandering off-topic for a bit, so let me make a suggestion. The real issue here is one that has been plaguing us for a bit now - how to ensure the right selection for ucx vs libfabric vs BTL components out-of-the-box when a packager builds all of them? Perhaps the solution is to generalize this and be a little more direct about it?

Why not add a function to MP

[2021-07-11 16:05] rhc54 commented on #9124
Looks like people wound up patching libtool (again) with something like:
[code]

[2021-07-12 02:57] hjelmn commented on #9123
Ralph. I was thinking along these lines myself. Something along the lines of a tuning framework. The framework components could set their priority of the detected hardware. The highest priority component would then be allowed to change the defaults parameters only. Users can use standard component selection to override which components run or win.

[2021-07-12 04:23] ggouaillardet commented on #9123
I like the idea of asking PMIx what the fabric vendor(s) are.

Could we simply use this information and set `OMPI_MCA_` environment variables in order to disqualify or lower the priority of some components? Or is this `PMIx` too late in the initialization process to use this quite trivial method?

@hjelmn is this how you intended to implement the `tuning` framework/components?

[2021-07-12 05:52] AboorvaDevarajan opened #9133 "orte: mpi processes are left behind when there is a timeout"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
`v4.1.x`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
`git clone`

### If you are building/installing from a git clone, please copy-n-paste the output from `git sub

[2021-07-12 12:23] devreal commented on #9080
Here are two more interesting data points running the same PaRSEC/DPLASMA benchmarks with MPT and MPICH:

1) MPT (HPE's MPI implementation) does not use UCX but sits on ibverbs directly:

![dpotrf_1277742-01](https://user-images.githubusercontent.com/10974502/125284994-6c444380-e31a-11eb-882c-1c64961676b2.png)

The lines are identical for all three variants. Hence: No UCX, no problem.

2) Running

[2021-07-12 15:55] brminich commented on #9080
@devreal, can you please try to rerun the test with `UCX_RC_TX_POLL_ALWAYS=y`?
This will help to check the theory that originator is flooded by the unexpected messages.

[2021-07-12 16:50] JPGlaser commented on #9113
Very possible, @jsquyres , but I am wondering if the OpenMPI community might still be able to shed some light on this issue. I think it might be related to how OpenMPI is installed on the Docker container.

Does the community have a standardized container environment that I could test this on to see if the same thing occurs? I am wondering if it has to do with BTL trying to use tcp rather than sel

[2021-07-12 17:36] jsquyres commented on #9113
It's hard to say without knowing what `/amuse.sh` is doing.  That being said, I see what looks like a Python call stack in there, and it looks like it's invoking MPI4Py's MPI interface to MPI_Comm_spawn.  With ancient Open MPI like that, it's possible that there's something broken in the spawn API.  You might want to try updating to Open MPI 4.1.1 (i.e., the latest) and see if that fixes the issue

[2021-07-12 20:27] rhc54 commented on #9123
I wouldn't set MCA params personally as that would somewhat violate the OMPI approach - i.e., we traditionally just have each component check to see if it can run and go from there. In this case, I'd just retrieve the fabric vendors from PMIx into some global variable and let each component decide what that means to it. I think that would ultimately be easier to maintain.

I'm not sure how this "t

[2021-07-12 21:19] bwbarrett commented on #9123
I read what Nathan was suggesting was something akin to how the PML layers on top of the BTLs.  Not a cross-component call, but one through the framework interface.  The framework would figure out which device should be used and allow other componetns to use that information in their selection priority.  I had proposed creating a `net` framework last year, which was a riff on an idea Josh Hursey h

[2021-07-12 21:22] rhc54 commented on #9123
Harvesting it from hwloc - we do so in order to provide the fabric coordinate info. If that isn't adequate for EFA, then I'll need to update it in PMIx anyway, so it would be good to learn how to detect that one.

[2021-07-13 06:32] tetsushinto commented on #9079
Hello Nariba-san,

Thanks so much for your comments. and sorry for my late response.

We are using OpenIB not UCX.
The server node uses Fujitsu A64FX cpu, and the issue occurs with 8 nodes.

We have confirmed that using the options you suggested in OpenMPI can improve performance.

Regarding Q2. What is the behavior of Subnet Manager when SRQ is exhausted?
We would like to ask the OpenIB behavior

[2021-07-13 12:24] bosilca commented on #9123
The OMPI layer having access to the same information I wonder why delegating the vendor discovery to another software component (PMIx in this instance) is a good approach ?

[2021-07-13 12:31] rhc54 commented on #9123
Not saying you need to do so - just offered to provide it because PMIx already has to do it. PMIx provides the fabric coordinates for each process along with endpoint assignments (where possible), switch colocation info, etc. As part of that process, we identify and provide the fabric vendor and other identification info.

So it is already available, if you want to access it. Or you can re-parse t

[2021-07-13 14:06] jeromerobert opened #9138 "4.x: Segfault in mca_pml_ucx_start if MPI_Type_Free before MPI_Start"
## Background information

I'm building OpenMPI from source (https://download.open-mpi.org/release/open-mpi/v4.1/openmpi-4.1.1.tar.bz2):

[code]

OpenUCX was also built from source with
[code]

Both OpenUCX 1.10.1 and 1.11.x (84dcd8033) allow to reproduce the bug.

* Operating system/version: RHEL7
* Network type: mlx4

-----------------------------

## Details of the problem

I get a segfault in

[2021-07-13 14:08] jsquyres commented on #9138
FYI @open-mpi/ucx

[2021-07-13 14:11] devreal commented on #9138
@jeromerobert Looking at the call stack, frame 5 suggests that the persistent request was initialized with a `NULL` buffer (or maybe not initialized at all?):

[code]

Can you check that the application properly initializes the persistent receive?

[2021-07-13 14:25] jeromerobert commented on #9138
I forgot to say that this program is working well without UCX that is, OpenMPI built `--with-verbs` and ran with
[code]

[2021-07-13 14:33] #8532 closed

[2021-07-13 14:45] jsquyres commented on #9123
FWIW: similar issues have come up in the past (how to simplify network selection for the user).  @jjhursey and I proposed something at our last in-person meeting before COVID, IIRC (I remember we discussed it in Portland).  These would probably be good topics to resurrect for [the upcoming OMPI virtual meeting](https://github.com/open-mpi/ompi/wiki/Meeting-2021-07).

[2021-07-13 14:46] brminich commented on #9080
another difference is that we support multirail for p2tp operations while we do not support it for RMA yet.
How many HCAs per node do you have? If you have more than 1 mlnx device, can you please set UCX_MAX_RNDV_RAILS=1 and try to run the app _without_ RMA? Would it match RMA results?

[2021-07-13 14:59] jeromerobert commented on #9138
[code]

[2021-07-13 15:18] gpaulsen commented on #8850
We will probably need some infrastructure in PMIx and PRRTE, that OMPI configure can lookup from OMPI.  We may just need pkgcfg files from those subcomponents.

[2021-07-13 15:24] bwbarrett commented on #8884
The behavior of `--disable-dlopen` did not change.  However, in master and v5, a change was made so that components default to linking in the main library (`libmpi.so`, `libopen-pal.so`, etc.) instead of being stand-alone dynamic libraries.  This behavior is still adjustable by the user, only the default has changed.

[2021-07-13 15:44] janjust commented on #8884
@ggouaillardet I think your patch is good for now, but at some point if ROMIO does end up using cuda mpl subroutines this should have a proper fix - can you open a PR against master and v5.0?

[2021-07-14 08:19] s417-lama opened #9146 "osc/rdma: segfault in MPI_Compare_and_swap with flat MPI"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

The current master branch: 65ca64f34e486b32be986f28356f8b0d0e3539ac

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From a git clone, as follows:

[code]

UCX v1.10.

[2021-07-14 08:31] devreal commented on #9146
The problem seems to be in `MPI_Win_lock_all`, not `MPI_Compare_and_swap`. Just out of curiosity: why are you building against UCX and then use osc/rdma? Does it work when running with `--mca osc ucx`?

[2021-07-14 08:47] s417-lama commented on #9146
You're right. I got confused, because I was during investigation of segfault in `MPI_Compare_and_swap()` with another version of Open MPI (v4.1.1).
Seems like segfault in `MPI_Compare_and_swap()` is resolved in the latest version, but another issue arised in `MPI_Win_lock_all`.

This is because I wanted to compare their performance.

It did work with `--mca osc ucx`, but not with `--mca osc rdma`.

[2021-07-14 12:01] devreal commented on #9080
@brminich I tried running both benchmarks `UCX_MAX_RNDV_RAILS=1` and it didn't make any difference.

There is no need to use the experimental MPI feature I'm developing. All of the measurements here were done using a branch of the PaRSEC runtime that mirrors comminication, either through another pair of send/recv or through a put into a window. The benchmark itself is the Cholesky factorization te

[2021-07-14 14:43] ReyCTaylor commented on #7270
Hello, everybody. I am recalling over the error message **"An error occurred in MPI_Irecv reported by process [3375824897,0] on communicator MPI COMMUNICATOR 4 CREATE FROM 3 MPI_ERR_RANK: invalid rank MPI_ERRORS_ARE_FATAL"**
I am not programing with MPI, I am just using this feature installed with model ADCIRC in order to run ADCIRC or ADCIRC+SWAN in parallel. Please, any ADCIRC user or developer

[2021-07-14 14:53] devreal commented on #7270
@ReyCTaylor Please don't piggyback on old and already closed tickets. The problem you are seeing is very likely in ADCIRC, not in Open MPI. I recommend you get in touch with the ADCIRC developers to track down this issue. If you feel like this is *really* an issue in Open MPI (e.g., because ADCIRC works with MPICH with the exact same input configuration), please open a new ticket and provide all t

[2021-07-14 15:15] hjelmn commented on #9146
Hmmm btl/ofi was used. Will work on ensuring that when osc/rdma is used that btl/uct is selected.

[2021-07-14 15:19] devreal commented on #9146
@hjelmn  Shouldn't btl/ofi be the btl to use on Omni-Path systems? To enable btl/uct, I have to run with `--mca btl_uct_memory_domains all` as otherwise btl/uct bails out.

[2021-07-14 15:34] abouteiller commented on #9133
Thank you for your report, we are working toward a resolution for a similar issue in master (see issue #8925); hopefully we will be able to back port the fix to 4.x.

[2021-07-14 20:13] brminich commented on #9080
@devreal, how do you specify that you want ro run parsec p2p or parsec rma?

[2021-07-15 10:42] jeromerobert commented on #9138
Here is the request (it looks good):
[code]

The ompi_datatype (it looks like garbage):
[code]

I guess that, in UCX, this ops field should be set to `pml_ucx_generic_datatype_ops` (thanks to `mca_pml_ucx_init_datatype`) but for some reason it contains only NULLs:
[code]

[2021-07-15 15:11] JPGlaser commented on #9113
This issue was indeed solved by updating to OpenMPI 4+. It seems that mpi4py doesn't actually check its compatibility with the installed OpenMPI, which was causing the error when everything was installed freshly.

We're moving towards containers just for quicker dropping of Singularity images onto HPC clusters to ensure uniform runtime environments.

Thanks for your insight on this, I didn't think

[2021-07-15 15:11] #9113 closed

[2021-07-16 14:00] jeromerobert commented on #9138
May be that calling `call MPI_Type_Free(ITMP_TYPE_RECV, IERROR)` before `MPI_Start` is not valid ? (even if it works with Intel MPI and OpenMPI without UCX)

[2021-07-16 14:01] devreal commented on #9080
@brminich Sorry, forgot to mention that. The version in the branch I gave you contains the RMA version. The other variants are in different branches. They are all ABI compatible and can be simply interposed by setting `LD_LIBRARY_PATH` when running the DPLASMA benchmark. I didn't have the time to combine them into one before going on vacation.

If you want to compare with the duplicated send/recv,

[2021-07-16 14:08] janjust commented on #8884
@gpaulsen @awlauria closing, fixed with #9145

[2021-07-16 14:08] #8884 closed

[2021-07-16 14:33] jeromerobert commented on #9138
<https://www.open-mpi.org/doc/v4.1/man3/MPI_Type_free.3.php> says that *Any communication that is currently using this datatype will complete normally* so I would say it's valid to call `MPI_Type_Free` between `MPI_Recv_Init` and `MPI_Start`.

[2021-07-16 15:00] jeromerobert commented on #9138
A program that reproduce the bug (contrib from @jm-cc):
[code]

It must be run with `-np 2`.

[2021-07-16 16:56] devreal commented on #9138
@jeromerobert Thanks for the reproducer. I don't have a working fortran compiler at hand. Can you check whether the problem is the type-free by commenting out the calls to `MPI_Type_free`? A quick glance at the `pml/ucx` doesn't show any special handling of `MPI_BOTTOM` so I suspect that this is the actual culprit (`MPI_BOTTOM` maps to `0` / `NULL` in OMPI).

[2021-07-16 17:35] jm-cc commented on #9138
I did the reproducer. I can confirm that without the calls to MPI_Type_free, the program does not segfault. In fact, it's @jeromerobert insight that made me add them to reproduce the bug. I will try to reproduce it with a simpler program in C.

[2021-07-16 18:01] jeromerobert commented on #9138
@devreal I found that `MPI_Type_free` was the culprit by looking as which part of the code was calling `ucp_dt_destroy` on the culprit `req->datatype.datatype`. `MPI_Type_free` call `mca_pml_ucx_datatype_attr_del_fn` on that `ucp_datatype_t` while it should not (it's too early as the request has not been executed yet).

[2021-07-16 18:07] jm-cc commented on #9138
Here a simpler reproducer without MPI_BOTTOM involved.

[code]

[2021-07-16 18:08] devreal commented on #9138
Thanks, that helps :+1: The pml/ucx does not seem to retain the datatype object, which it should since it references after the datatype may be marked as free'd. The fix should be trivial and I can work on it next week (unless someone beats me to it)

[2021-07-17 06:27] baiyz commented on #9059
Reproduced on latest openmpi 4.0.6, and verified by adding -lopen-pal after -lmpi_cxx

[2021-07-17 07:24] ggouaillardet commented on #9059
`4.0.6` was released before the fix was merged into the `v4.0.x` branch.

FWIW, the right fix is **not** to update the wrapper conf file, but to correctly link `libmpi_cxx.so`.
You can manually download and apply it from #9077 (note you will need recent autotools).

[2021-07-18 08:04] aivazis commented on #7393
Any progress on this? It happens for me very repeatably, so if there is any guidance on what to instrument to shed some light on this, I'll happily do the work. I see the problem on both mac os catalina and big sur, with a macports installation across multiple versions since 4.0.1, compiled with multiple versions of both gcc and clang

[2021-07-18 08:14] ggouaillardet commented on #7393
Try `export TMPDIR=/tmp`

Truncation can occur on OSX with the default `TMPDIR`

[2021-07-19 19:27] jsquyres commented on #9122
This has been merged in both the v4.0.x and v4.1.x branches, and will be included in the next releases of both.

Thanks!

[2021-07-19 19:27] #9122 closed

[2021-07-19 22:25] dcentella16 opened #9157 "Installing Open MPI 1.10.7 on RHEL 8.4"
## Background information

I'm currently trying to install Open MPI for compiling purposes

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Open MPI 1.10.7 (Specific version requested for the program that I want to compile)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating syst

[2021-07-19 23:23] jsquyres commented on #9157
You should know that Open MPI v1.10.x is fairly ancient and is no longer supported.  YMMV on RHEL 8.4 with Open MPI v1.10.x.

That being said, your problem *may* be that your Intel compiler environment is not propagating into your `sudo` environment.  E.g., you may need to source your intel compiler environment setup script in the sudo environment before running `make install`.

[2021-07-20 15:22] hppritcha opened #9160 "ibm/pt2pt/sendrecv_big test hangs when using OFI transport and some OFI providers"
The ibm pt2pt sendrecv_big test hangs when using the OFI MTL and PSM2 libfabric provider, and other providers with a maximum fi_tsend message length.

The test emits the expected warning message:
Message size 30720000000 bigger than supported by selected transport. Max = 4294963200
and then hangs.

The OFI MTL is properly returning an error code to the upper layers of OMPI, but this code in sendre

[2021-07-20 15:59] mike0042 opened #9161 "SEGFAULT in mca_pml_ob1_recv_req_start"
## Background information

Recent versions of the nightly build source code produce a segmentation fault in mca_pml_ob1_recv_req_start(). This occurs on a fresh installation of Amazon Linux (similar to CentOS7) or OpenSUSE Leap. All ranks are run on localhost.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Nightly source from July 17, 2021:
htt

[2021-07-20 16:05] rhc54 commented on #9161
Some further info: I cloned the current OMPI master branch (including this morning's PMIx/PRRTE update) on the same system and tried to run the "ring_c" example - hit the following errors:
[code]
I tried a couple of things with MCA params (e.g., using different BTLs), but no change in result. I built and ran the same test on my Mac and it worked fine.

[2021-07-20 16:18] eschnett opened #9162 "v4.0.x/v4.1.x: Configure stage produces truncated include/library paths"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.1 and 4.0.6

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

I install OpenMPI via Spack. This downloads a rele

[2021-07-20 16:19] eschnett commented on #9162
I just notice that the configure output above says
[code]

This looks wrong; both are provided as external libraries (see the configure arguments).

[2021-07-20 19:25] dcentella16 commented on #9157
Thanks much. Problem solved.

[2021-07-20 19:36] #9157 closed

[2021-07-20 20:08] rhc54 commented on #9161
Found the root problem - pml/ob1 is not getting properly initialized in this environment. For example, my problem is simply that `pml_max_tag` never got set. Looking at the code base, you can see why:
[code]
Note that ob1 never initializes it - only the other pml components do.

[2021-07-20 20:51] bwbarrett commented on #9161
The problem is caused by the `--without-ft` flag.  The problem is [in pml_ob1.c](https://github.com/open-mpi/ompi/blob/7d751a025358a9380549a44d6acbc91ef4836db4/ompi/mca/pml/ob1/pml_ob1.c#L69 ) or [pml.h](https://github.com/open-mpi/ompi/blob/7d751a025358a9380549a44d6acbc91ef4836db4/ompi/mca/pml/pml.h#L509).  The PML interface expects revoke_comm to always be in the interface (probably good), but O

[2021-07-20 22:32] #9161 closed

[2021-07-21 05:17] m-nsor opened #9166 "configuration"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

### If you are building/installing from a git clone, please copy-n-

[2021-07-21 07:19] #9166 closed

[2021-07-21 07:33] SpinTensor opened #9167 "Unable to find environment variables"
I need to determine the rank before MPI_Init is called.
So far I did it with `getenv("OMPI_COMM_WORLD_RANK")`.
But with the current git version (revision: 30a561bc37e36f4cc8ec18f91680dfc0906082de), `getenv` returns a NULL pointer.
Checking with `mpirun -np 2 env | grep OMPI` confirms that mpirun does not seem to set any environment variables.
With my ubuntu installed OpenMPI 4.0.3 the same command

[2021-07-21 07:58] ggouaillardet commented on #9167
@SpinTensor you can use the `PMIX_RANK` environment variable

[2021-07-21 08:05] SpinTensor commented on #9167
Thanks a lot. `PMIX_RANK` works. Do I see it correctly, that there is no `PMIX_` variable for the size, or total number of ranks?

[2021-07-21 09:38] ggouaillardet commented on #9167
I did not see them either, but I spotted `OMPI_WORLD_SIZE` and `OMPI_COMM_WORLD_SIZE`

@rhc54 is there a clean way to retrieve this information?
For example, is it possible to call `PMIx_Init()` **before** `MPI_Init()`?
if yes, can `PMIx_Finalize()` be invoked before `MPI_Init()`? or does it have to be called after `MPI_Init()` (or even `MPI_Finalize()`) ?

[2021-07-21 12:43] rhc54 commented on #9167
Not sure what folks are seeing, but using today's git HEAD:
[code]

[2021-07-21 12:51] rhc54 commented on #9167
To address these questions...

Sure - you can always do that. You then have access to _all_ the PMIx-provided info and capabilities - e.g., to discover what resources are available to you (GPUs, memory, storage, cores) - and can use that info to "steer" your computation.

Either way is fine. The library simply refcounts the init/finalize pairs and finalizes when they balance. It's safer and far mo

[2021-07-21 14:56] Yiltan opened #9169 "Issues with Flex despite being installed on multiple systems."
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Master branch. Using the commit 49c8b3323d24d61fd30ba4f1320681b3cda89de3 from a few days ago.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

I am installing it via

[2021-07-21 14:58] rhc54 commented on #9169
This has been fixed - update to today's head of master branch.

[2021-07-21 15:48] jsquyres opened #9170 "Open MPI 4.x configure is confusing PMIx's configure"
As reported by @eschnett in #9162, Open MPI x4.0.x and v4.1.x `configure` is doing something weird with external hwloc/libevent and PMIx.

Specifically, in the files attached to #9162, you can see that Open MPI was configured (via spack) with:

[code]

Looking at the output from Open MPI's `configure`, however, you can see that it passes the following when it calls PMIx's `configure` (artificially

[2021-07-21 15:49] jsquyres commented on #9162
@eschnett I filed #9170 about the hwloc/libevent external vs. embedded issue -- even though that fell out of your initial report, it's a separate issue, so let's follow up on that separately.

[2021-07-21 16:30] ggouaillardet commented on #9162
Note these lines belong to PMIx

Open MPI lines are at the end and correctly report external packages

[2021-07-21 16:38] rhc54 commented on #9170
Errr...that configure conflict isn't in PMIx, @jsquyres  -  it is in the pmix3x component in OMPI. PMIx itself has no `--enable-embedded-hwloc` or equivalent libevent configure flags.

[2021-07-21 16:58] jsquyres commented on #9170
@rhc54 Ya, I understand that it's the pmix3x OPAL component invoking that `configure` statement.  Somehow it's passing in extra `--enable-embedded-*` params, but if they're being ignored, ok -- cool.

But the output at the end of the PMIx `configure` output implies that it's using an embedded hwloc/libevent.  Is that not what's happening?

[code]

[2021-07-21 16:59] jsquyres commented on #9162
@ggouaillardet I opened #9170 about that issue.  I'm trying to replicate the truncated paths issue and will post more back here when I have additional info.

[2021-07-21 17:09] eschnett commented on #9162
I case it's relevant: I have Xcode 12.4 installed on my system. There is also Xcode 12.5 (I had to downgrade because something wasn't working right) and Xcode 12.5.1.

[2021-07-21 17:16] rhc54 commented on #9170
All that means is that OMPI passed down the ``--enable-embedded-mode` flag. So PMIx assumes that both hwloc and libevent are going to have their header locations directly provided to PMIx, we don't bother to check the libraries, etc. You still have to pass the `--with-foo-header` flag to tell us the path to the header, and you set the `--with-foo=cobuild` flag.

@bwbarrett wrote all this stuff, no

[2021-07-21 17:19] rhc54 commented on #9170
Guess there is some variation on the older PMIx versions (I described what's on master), but the basic elements are the same. They don't have the `--with-foo=cobuild` flag - you just provide the header and the `--enable-embedded-mode` options.

[2021-07-21 17:28] jsquyres commented on #9170
I think we're (mostly) violently agreeing.

In Open MPI v4.1.1, I don't see any `--enable-embedded-[hwloc|libevent]` options in the PMIx that is embedded in the opal/mca/pmix/pmix3x component.  Meaning: I agree -- the opal/mca/pmix/pmix3x component is incorrectly choosing the pass those flags to the PMIx 3.x `configure` script.  I assume it means that those flags are getting ignored.

Here's what

[2021-07-21 17:33] jsquyres commented on #9170
Looking through the output a bit more, it looks like this is an overload of the word "embedded".

Looking at the PMIx configure output:

[code]

I assumed that that meant that PMIx meant it was using embedded copies of hwloc and libevent (presumably from Open MPI).

But when PMIx says "(embedded)" next to hwloc and libevent, it's really referring to the fact that *PMIx itself is embedded* -- not t

[2021-07-21 17:33] rhc54 commented on #9170
I assume because it was given the `--with-hwloc-header` (and friends) flag if it wasn't given `--enable-embedded-mode`. 🤷‍♂️  I don't recall if I wrote that stuff or not, but either way I haven't looked at it in a very long time. I'd just as soon you guys stopped embedding those things 😄

[2021-07-21 17:33] #9170 closed

[2021-07-21 19:45] jsquyres commented on #9162
I am able to reproduce this with an Open MPI v4.1.1 tarball in very specific conditions:

1. Here's the minimal `configure` command line that I found that will cause the problem:
[code]
2. The zlib directory must be "long".  Specifically, in the above `configure` command line:
    * This triggers the problem: `base=/Users/jsquyres/tmp/this-is-a-really-long-dir/lets-make-it-extra-long/heres-another

[2021-07-21 19:48] jsquyres opened #9171 "orte-clean broken in v4.0.6 and v4.1.1"
As reported by Sage Imel in https://www.mail-archive.com/users@lists.open-mpi.org/msg34555.html (and reproduced locally by @jsquyres), it looks like `orte-clean` is broken in v4.0.6 and v4.1.1.  Running it generates output like this:

[code]

[2021-07-21 19:58] rhc54 commented on #9162
Could also be in PMIx - we use it there too.

[2021-07-21 21:18] jsquyres commented on #9162
Aren't all issues categorized as PMIx problems until they can be proven otherwise?  :stuck_out_tongue:

[2021-07-21 21:32] rhc54 commented on #9162
Yeah sure - blame the retired guy! 🏖️

[2021-07-22 00:49] Yiltan commented on #9169
I updated to today's head and still had the issue.

I used `git bisect` to find where the issue came. The bug occurred at #8580. Anything before this commit works. Anything after does not. I am on an IBM system so I wonder if it is related to your comment there.

Would you have any thoughts?

[2021-07-22 05:59] SpinTensor commented on #9167
I'm a bit surprised that you cannot reproduce my findings. So here is what I did:
[code]
Then I simply configured, and installed it:
[code]
I set some paths:
[code]
Checking that it is the correct executable:
[code]
Next checking the environment:
[code]
So for some reason the OMPI variables do not get set on my machine. I tested it on a different system, but the result was the same.

[2021-07-22 09:41] rhc54 commented on #9167
When you hit something that bizarre, it usually means there is something borked with your setup. There are a couple of things that can happen - e.g., stale libraries in the build target or the submodules being out-of-date.

Try getting a fresh clone and delete the install target directory (your `/home/fuhl/software/ompi`) and then rebuild.

[2021-07-22 09:45] rhc54 commented on #9169
Afraid you'll have to get help from the IBM folks here - I have no ideas. The current version of PMIx in OMPI isn't looking for `yywrap`, so this looks stale to me or else something else is going on.

[2021-07-22 13:07] Yiltan commented on #9169
No to worry, thank your for your help

[2021-07-22 13:07] #9169 closed

[2021-07-22 13:09] #9138 closed

[2021-07-22 13:35] gpaulsen commented on #8822
Is anyone looking at this?

[2021-07-22 13:57] #8801 closed

[2021-07-22 14:14] awlauria commented on #8801
Will this require a pmix pointer update for v5.0.x?

[2021-07-22 14:20] rhc54 commented on #8801
When PRRTE is updated, yes

[2021-07-22 14:27] bwbarrett commented on #8822
AWS is suppose to be looking at this, but we're a bit behind.

[2021-07-23 14:32] brminich commented on #9080
@devreal, do you see a noticeable degradation only starting from ~16 nodes? Is there any valid parameters combination which would show the difference on smaller scale? (the smaller scale is the better)

[2021-07-23 17:24] jsquyres commented on #2147
This issue is very old and stale; I don't think it was resolved, but we're very far beyond the v2.x series these days.  I'm going to close this issue.

[2021-07-23 17:24] #2147 closed

[2021-07-23 21:46] jsquyres commented on #9162
v4.1.x fix in #9176.  v4.0.x will come after merging to v4.1.x.

[2021-07-23 21:51] jsquyres commented on #9169
I think you have a broken flex installation.  This is in the pmix config.log:

[code]

[2021-07-25 15:18] SpinTensor commented on #9167
I got a fresh clone of the ompi repo. and the problem of the undefined `OMPI_*` variables persisted. Then I removed the build and install folder and I got a different error:
[code]
I suspected the system preinstalled compiler, so I compiled the same gcc version myself (9.3.0) and the 10.3.0 just for good measure. Compiling openmpi with my self compiled gccs resolved the problem. I can see the OMPI

[2021-07-25 15:18] #9167 closed

[2021-07-26 15:02] jsquyres commented on #9167
@SpinTensor FWIW: without seeing the build logs, it's hard to know why this happened.

[2021-07-26 19:42] rhc54 commented on #9167
@jsquyres Looks to me like PRRTE failed to build for some reason. Guess that leads to two notes:

* if PRRTE fails to build (for whatever reason), then OMPI shouldn't install `mpirun` or any of its namesakes (e.g., `mpiexec`)
* if the user does not specify `--without-prte` and PRRTE itself decides it cannot build, then configure should error out

Yes/no?

[2021-07-26 19:52] jsquyres commented on #9167
Possibly.  But I wanted to see the full build logs, because there is at least a small possibility that two different versions of Open MPI were accidentally built/installed.  Or there was an error in the config / build / install process.  🤷‍♂️   I'd like to see the logs to be able to get definitive answers.

[2021-07-27 15:06] jsquyres commented on #9162
Fixed on both branches.  Closing this issue.  Thanks!

[2021-07-27 15:06] #9162 closed

[2021-07-27 15:15] brminich commented on #9080
@devreal, ping

[2021-07-27 17:49] markalle commented on #8918
This one fell into the background again, but I think it's all done and ready to go over in https://github.com/open-mpi/ompi/pull/8941

[2021-07-28 19:28] SpinTensor commented on #9167
Sure, I can provide the build logs. If you can tell me where to find them and which files you need. The only log I see is the `config.log`.

[2021-07-28 19:40] jsquyres commented on #9167
@SpinTensor Check out https://www.open-mpi.org/community/help/.  Thanks!

[2021-07-28 20:08] SpinTensor commented on #9167
In order to get the build logs, I had to rebuild everything. I am absolutely certain that I repeated everything exactly as I did before, but now it works fine. I will try to reproduce it on my other machine tomorrow. I think I might have installed system updates on this one. sorry.

[2021-07-29 14:58] hppritcha opened #9192 "Need to implement MPI_INFO_GET_STRING for MPI 4.0 compliance"
See description in Chapter 10 of the MPI 4.0 standard for a description of this function.   This function is intended to replace ```MPI_Info_get``` and ```MPI_Info_get_valuelen```.  The description of these later two functions has been moved to the deprecated chapter.

[2021-07-29 15:09] hppritcha opened #9193 "Need to implement MPI_Isendrecv and MPI_Isendrecv_replace"
These functions are new to MPI 4.0 and described in the MPI 4.0 standard, Chapter 3, section 7.

[2021-07-29 15:20] hppritcha opened #9194 "Need to implement MPI 4.0 standard embiggening feature"
Excerpt from the MPI 4.0 standard change log:

[code]

[2021-07-29 15:28] hppritcha opened #9195 "Need to implement persistent collectives"
From the MPI 4.0 standard changelog
[code]
There's already a PR to move mpix_allgather_init and friends into mpi namespace - #9065

[2021-07-29 15:46] hppritcha opened #9196 "add support for info hints new to MPI 4.0"
See section 7.4.4 of the MPI 4.0 standard

[2021-07-29 15:46] hppritcha commented on #9196
closed a long time ago (retro) by PR #3682

[2021-07-29 15:46] #9196 closed

[2021-07-29 15:50] hppritcha commented on #9195
closing as a dup of #9061

[2021-07-29 15:50] #9195 closed

[2021-07-29 16:52] hppritcha opened #9197 "need to implement MPI_COMM_TYPE_HW_GUIDED/UNGUIDED for MPI 4.0"
from the MPI 4.0 standard changelog:
[code]

[2021-07-30 19:03] mwheinz opened #9200 "OFI BTL appears to try to open a TX context with no capabilities, then crashes."
Thank you for taking the time to submit an issue!

## Background information

We're doing final debugging and testing of a new OFI provider and we ran into this issue with Open MPI 4.1.x. I'm guessing it exists in other branches as well. It's possible the problem will turn out to be the new provider, not OMPI, I'm just beginning to investigate.

OMPI was built from a git clone:

[code]

Running a

[2021-07-30 19:06] mwheinz commented on #9200
Looks like PSM2 didn't care what capabilities were requested, it just provided a tx_context. Probably why this was never a problem before.

[2021-07-30 21:17] mwheinz commented on #9200
Okay - at this point I'm pretty sure the problem is in the provider not in Open MPI. I'll re-open if it turns out there's work to be done in the BTL.

[2021-07-30 21:17] #9200 closed

[2021-07-30 22:38] rajachan commented on #9200
FWIW, you can tag @open-mpi/ofi to get the attention of folks who, as Howard/Jeff put it, collectively maintain the OFI MTL and BTL.

[2021-08-01 17:29] SpinTensor commented on #9167
Sorry, it seems like I am not able to reproduce it anymore.

[2021-08-01 21:13] jsquyres commented on #9167
No worries.  Let us know if it happens again.

[2021-08-02 22:13] devreal commented on #9080
@brminich Sorry I was on vacation with no access to the system. I played around with different problem/tile sizes but couldn't reproduce it at lower scales. I also noticed that the problem does not occur before 64 nodes (49 nodes still yield the expected performance). However, at 81 the RMA performance is bad too. There seems to be some threshold.

Is there a hash table or something similar whose

[2021-08-03 13:48] #9032 closed

[2021-08-03 14:14] awlauria commented on #9014
Fixed in v5.0.x via #9163. Closing.

[2021-08-03 14:14] #9014 closed

[2021-08-03 14:18] hppritcha commented on #9160
from devel-core email thread
[code]

[2021-08-03 14:44] hppritcha opened #9203 "Need to implement MPI_COMM_IDUP_WITH_INFO"
A new communicator constructor - ```MPI_COMM_IDUP_WITH_INFO``` was added in the MPI 4.0 standard.  It appears there is infrastructure currently in master to support this method.

[2021-08-03 14:53] hppritcha opened #9204 "MPI_Cancel - should add deprecation warning"
In the MPI 4.0 standard, the  use of ```MPI_Cancel``` on send requests has been deprecated.

Change log entry -
[code]

[2021-08-03 14:55] brminich commented on #9080
@devreal,
Do I understand correctly that you see performance drop of RMA based implementation comparing to 2-sided version? If yes, what do you mean by "at 81 the RMA performance is bad too"?

Do you have adapting routing configured on the system? Can you please try to add `UCX_IB_AR_ENABLE=y`?

[2021-08-03 15:26] Wosch96 opened #9205 "Dmtcp Launch with Mpi example throws segmentation fault 11"
Hello together,

I'm trying to use dmtcp on my vm cluster(Centos 7) and want to run an example with mpi. I need to say that I'm only running the yum package versions of dmtcp(2.6.1 if not mistaken) and openmpi (1.10.7).
The cluster contains 4 nodes and a master node, which are connected via ssh. The example I'm trying to run is this one (https://cvw.cac.cornell.edu/Checkpoint/dmtcpmpicount). When

[2021-08-03 15:40] janjust commented on #8106
I've closed the corresponding PRs due to concerns over side-effects this may bring into release branches.

[2021-08-03 16:10] hppritcha opened #9206 "MPI_Sizeof should be deprecated"
The fortran-only ```MPI_Sizeof``` function has been deprecated in the MPI 4.0 standard.

[2021-08-03 16:52] jsquyres commented on #9206
@hppritcha Is there a "deprecated" pragma for Fortran compilers (like we have for C compilers / `mpi.h`)?

[2021-08-03 18:26] hppritcha commented on #9206
don't know.  need to investigate.

[2021-08-03 18:32] hppritcha opened #9207 "MPI_Comm_set/get_info and relatives - need to check for MPI 4.0 compliance"
In the MPI 4.0 standard, additional verbiage was added to the descriptions of ```MPI_COMM_SET_INFO``` and ```MPI_COMM_GET_INFO```.  It should be verified that Open MPI is adhering to this new language.

In particular, for ```MPI_COMM_SET_INFO``` the following sentences were added to the description (see 7.4 page 347 of the MPI 4.0 standard):

[code]

and for ```MPI_COMM_GET_INFO``` the following v

[2021-08-03 19:43] jsquyres commented on #9205
I'm afraid that the DMTCP support in Open MPI has long-since been removed; the 1.10.x series is very old and, unfortunately, unsupported at this point.

With a quick glance, I don't see any obvious errors in your `mpi_count.c` app.

[2021-08-03 19:56] awlauria commented on #9205
Is there a core file generated? That might provide some clue.

[2021-08-03 20:40] awlauria commented on #6966
Re-testing this on current master, it does __appear__ to be fixed.

Here's some example runs with master/prrte (v5.0) -

Note that `--cpu-set` changed to `--map-by` and `--display-bindings` changed to `--display bind`

Local host:
[code]

Remote host:

[code]

I think we can remove the v5 label, and possibly close this if there is no intention of bringing any required fixes to v4.

[2021-08-03 21:02] awlauria commented on #6966
Confirmed also works with the current v5.0.x branch.

[2021-08-03 22:15] wckzhang commented on #8822
Going to start working on this

[2021-08-04 00:08] devreal commented on #9207
The current implementation is not compliant as it does not  hand out modifications made through `MPI_Comm_info_set` (IIRC). The reason is the last parameter in the call to `opal_info_dup_mode`: https://github.com/open-mpi/ompi/blob/master/opal/util/info.c#L289

There is plenty of code that deals with potentially different interpretations of the standard, e.g., the whole saving of existing values w

[2021-08-04 12:40] #6966 closed

[2021-08-04 12:53] jsquyres commented on #9207
@devreal Thanks; that would be awesome if you dig into this.

[2021-08-04 14:16] ke7kto commented on #7701
@rafaeltiveron Could you explain what you mean by 'logged to desktop GUI'? Did you set a logging setting somewhere?

[2021-08-04 14:39] rafaeltiveron commented on #7701
Yes. But I didn't explain completely. Using a simple mpiexec command through ssh in server, the term "no protocol specified" disappeared just when GUI interface is active in server, when user area is logged. Maybe this problem is related to X11 ou X.org. Ah, an observation: Linux Mint is dealing better with openmpi.

[2021-08-04 15:35] awlauria commented on #7701
Re-opening as there still seems to be some unresolved issues .

[2021-08-04 15:51] jsquyres commented on #7701
I believe that @ggouaillardet correctly identified the issue in https://github.com/open-mpi/ompi/issues/7701#issuecomment-788412673: this appears to be an X11 configuration issue.  I.e., something is trying to setup X11 forwarding, and failing.

You could try running:

[code]

And looking in detail at the resulting `out.txt` file to see the exact `ssh` command that `mpirun` invoked.  If you add in

[2021-08-04 16:41] Wosch96 commented on #9205
The core file delivers a failure in the calloc() and looks like this:
Program terminated with signal 11, Segmentation fault.
Reading symbols from /var/nfs/dmtcp_mpi/mpi_count...done.
[New LWP 1994]
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `./mpi_count'.
Program terminated with signal 11, Segmentation fault.
#0

[2021-08-04 16:46] jsquyres commented on #9205
A segv in malloc/calloc/etc. almost always means that you had memory corruption occur before the specific malloc/calloc/etc. in question.  I.e., malloc/calloc/etc. tried to use some data from memory, but the memory was corrupted, and malloc/calloc/etc. therefore behaved unpredictably (e.g., it tried to follow a pointer, but the value of the pointer was corrupted, so it tried to access a nonsense a

[2021-08-04 17:27] awlauria commented on #9205
I do notice you use strcpy() to copy in the "Hello, world" string. Can you change that to a safer call, like snprintf(), which will append a null terminator? Your send message isn't gaurnteed to be null-terminated since you didn't initialize it to all 0's.

Unlikely to be the cause, but something to verify.

[2021-08-04 19:04] wckzhang commented on #8822
I was thinking this is kind of something we would like to get into 4.1.2 (Since this would be useful to us), but in the middle of writing the code, I realized that this is an ABI break and 1.13.x libfabric feature. I'm not sure what our proper procedure is for dealing with version requirements with an ABI break in a minor version update (I'd be surprised if we can get away with requiring libfabric

[2021-08-04 19:05] Wosch96 commented on #9205
I tried the snprintf(), but sadly no change. Meanwhile I'm also trying my luck at the github page of dmtcp, they might have some good informations, that help me out.

But thanks for the answers.

[2021-08-04 19:07] wzamazon commented on #8822
Why this change would break ABI?

[2021-08-04 19:09] wckzhang commented on #8822
Wouldn't break Open MPI's ABI, but the new libfabric API is an ABI break

[2021-08-04 19:12] wckzhang commented on #8822
What I'm asking is, in Open MPI is it okay if we ask for a newer libfabric version in a minor version update, especially if that libfabric version is an ABI break.

[2021-08-05 13:24] awlauria commented on #9205
Can you run with valgrind?

`dmtcp_launch --rm mpiexec -n 1 valgrind mpi_count `

will point you to any heap corruption.

[2021-08-05 17:37] hppritcha commented on #8822
@wckzhang from the app perspective this is not an ABI break, but there could be issues for packages if all of a sudden in an update release we need a newer version of libfabric.  If possible, we should have a fallback to support older libfabric API when we are confident the selected provider doesn't have this MR caching issue.

[2021-08-05 19:25] awlauria commented on #126
Re-checking this on v5.0.x, it seems to work correctly by reporting an `MPI_ERR_TRUCATED` error message.

Since this was reported on an ancient version (v1.4), closing as it is no longer an issue.

[code]

[2021-08-05 19:25] #126 closed

[2021-08-06 11:55] devreal commented on #9080
@brminich Sorry for the delay, it took me some time to get runs though on the machine...

Correct. The experiments are such that the [RMA version](https://bitbucket.org/schuchart/parsec/src/738a64b366f03917d477901fcf1aa65589c83dfd/parsec/parsec_mpi_funnelled.c?at=topic%2Frevamp_comm_engine_symbols_fakerma#lines-931) performs the same send/recv communication as vanilla PaRSEC plus mirroring the tra

[2021-08-06 20:47] brminich commented on #9080
@devreal, do you know if it is configured on all SLs?
If you do not know exact SLs where AR is configured you can try to find it this way:
1. On one of compute machines get the GUID of the interface you want to check
2. Run:  sudo ibdiagnet -g ${YOUR_GUID} -r --r_opt=vs
3. After ibdiagnet is done, grep for en_sl in /var/tmp/ibdiagnet2/ibdiagnet2.ar

Then please use UCX_IB_SL env variable to set sp

[2021-08-10 12:47] Micket opened #9211 "Building OpenMPI 4.1.1 against PMIx 4.1.0 leads to compilation errors (PMIX_PACKAGE_RANK)"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
OpenMPI v4.1.1
PMIx v4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Everything is build from source for the E

[2021-08-10 13:05] rhc54 commented on #9211
Has to be a missing include as `PMIX_PACKAGE_RANK` is definitely defined in PMIx v4.1.0. There should be no problem interacting with an earlier version of PMIx if Slurm is using one.

[2021-08-10 14:55] Micket commented on #9211
I'm a bit surprised to be the first to see this. I don't believe we are doing anything that special, so I would expect this compilation error to be caught immediately. I'm open to suggestions where the proper place is to patch in an extra include.

[2021-08-10 17:08] rhc54 commented on #9211
I see the problem. This was backported from OMPI master/v5 where we have gone to direct PMIx symbols. In OMPI v4, we are still abstracting those symbols - i.e., `PMIX_FOO` becomes `OPAL_PMIX_FOO`. However, the configure code just checks for the existence of `PMIX_PACKAGE_RANK`, and then the common/ofi code directly references that symbol.

Probably the simplest fix would be to add the OPAL abstrac

[2021-08-10 22:15] bosilca commented on #9205
DMTCP does not need special support in the MPI layer for its checkpoint (at least over IB and sockets). So Instead of using an ancient version of OMPI I would try again with the master branch.

[2021-08-11 14:01] jjhursey commented on #7042
For PRTE (the runtime in OMPI v5.x and later) I updated the documentation a while back in the PR below:
  * https://github.com/openpmix/prrte/pull/773

There are certainly places where it could be better, but those man pages are where I would start. We also talked about making a readthedocs site for PRTE, but I don't know where the state of that discussion is anymore.

[2021-08-11 23:29] wzamazon commented on #9124
I hit this issue when trying to build master. So the error is harmless?

[2021-08-12 00:02] rhc54 commented on #9124
Yep - just annoying.

[2021-08-12 12:26] jsquyres commented on #9124
I see RHEL 7.4 ships with Libtool 2.4.2, which is the current minimum we allow in autogen.pl.

Should we emit a warning somewhere -- either in autogen.pl, or should someone fix the patch from #6378 about this missing function?

[2021-08-12 12:55] awlauria commented on #9124
RHEL 7.4 support ends August 31st of this month. Since this is a master only issue right now, I wouldn't rush to fix it based on that.

https://access.redhat.com/support/policy/updates/errata

[2021-08-12 13:41] wzamazon commented on #9124
Amazon Linux 2 ship with libtool 2.4.2, which is the most used linux OS on AWS.

[2021-08-12 14:45] qingsongli1979 opened #9218 "OpenMPI periodically reports connection reset by peer"
Thank you for taking the time to submit an issue!

## Background information

When we run program under Open MPI with TCP network, it always reports error of connection reset by peer as below:

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI version 4.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball,

[2021-08-12 14:55] bosilca commented on #9218
Is the application run to completion or it bails out after this output ? How many TCP interfaces each node has ? If you limit the available interface using "--mca btl_tcp_if_include ..." does your error goes away ?

[2021-08-12 15:02] qingsongli1979 commented on #9218
It fails after couple of times of above errors. it just has one network interface I think, here it is the result of "ifconfig":

[cloudam@c-16-1-worker0004 ~]$ ifconfig
docker0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        inet 172.17.0.1  netmask 255.255.0.0  broadcast 172.17.255.255
        ether 02:42:14:38:69:62  txqueuelen 0  (Ethernet)
        RX packets 0  bytes 0 (0.0 B)
        RX

[2021-08-12 15:37] mahendrapaipuri commented on #4877
@ggouaillardet I have faced exactly same issue recently and I am exporting `LD_LIBRARY_PATH` for `MKL` using `mca_base_env_list` MCA parameter. You mentioned about using `rpath` to avoid these situations. Could you please tell me how can I do it? I tried to search online but could not find any clear info. I am building `MKL` libraries using Spack and using `lmod` to load modules. Thanks in advance

[2021-08-12 20:12] #4135 closed

[2021-08-13 02:34] wzamazon opened #9238 "setting MPIEXEC_TIMEOUT caused prterun to segfault (Master branch)"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

compiled from source

### If you are building/instal

[2021-08-13 02:35] wzamazon commented on #9238
Will try to get the backtrace from core dump

[2021-08-13 06:10] qingsongli1979 commented on #9218
The issue still happens even add the parameter:

[c-16-1-worker0009][[17919,1],32][btl_tcp.c:559:mca_btl_tcp_recv_blocking] recv(37) failed: Connection reset by peer (104)

Any other suggestions?

[2021-08-13 13:41] boegel commented on #7042
Related to this: the current `mpirun` manpage seems to include some incorrect info: the default for `--bind-to` with # processes > 2 is actually `--bind-to numa` as far as I can tell, not `--bind-to socket` as mentioned in the "Quick summary" section.

On CPUs like AMD Rome there's a really big difference between the number of cores in a NUMA domain and in a socket (4 vs 48 for AMD EPYC 7552 proce

[2021-08-13 13:49] wzamazon commented on #9238
Looks like a bug in prte. `free` is called on the return of `getenv` when MPIEXEC_TIMEOUT was set.

I opened a PR to fix it:
https://github.com/openpmix/prrte/pull/1068

[2021-08-13 14:25] wzamazon commented on #9238
https://github.com/openpmix/prrte/pull/1068 has been merged.

Will ompi automatically update submodule? or someone need to open PR to bump the submodule?

[2021-08-13 15:54] rhc54 commented on #7042
It should - PRRTE and ORTE really haven't diverged much in this area.

`mpirun` is indeed an alias for `prterun`. There are some changes in cmd line syntax, but `prterun` looks for those and will warn you where that has happened plus show you what the "new" cmd line should be.

[2021-08-13 15:55] bosilca commented on #9218
I am unable to reproduce on my setup. What's the app you are using ? Can you reproduce this issue with a simple test ?

[2021-08-13 16:20] bosilca commented on #8982
I can't reproduce on my setup. I tried with and without multiple interfaces, with and without multiple nodes but no luck so far.

[2021-08-13 18:21] abouteiller commented on #9160
quick update; I have a patch for this, the correctness testing  is slowed down by some FT defects caused by changes introduced in https://github.com/open-mpi/ompi/pull/9198.

[2021-08-13 19:00] awlauria commented on #9238
@wzamazon the submodule pointer will need to be updated for both v5.0.x and master to pick up the fix.

[2021-08-13 20:20] wzamazon commented on #9238
https://github.com/open-mpi/ompi/pull/9244 update the point to master branch

[2021-08-17 15:10] awlauria commented on #8925
I believe this is done - closing.

[2021-08-17 15:10] #8925 closed

[2021-08-17 15:14] wzamazon commented on #9238
5.0.x is bumped to. so all done.

[2021-08-17 15:14] #9238 closed

[2021-08-17 15:37] jychoi-hpc opened #9260 "MPI_T for monitoring"
## Background information
I am trying to use MPI_T for performance monitoring.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Built from the source tarball. I didn't give any option dur

[2021-08-17 18:45] PeterGottesman opened #9271 "README on main, 5.0.x make no mention of needing recursive clone"
It seems that main and 5.0.x need to either be cloned with `git clone --recursive` , but there is no mention of this until `autogen.pl` is run. Should some mention of this should be added in either the README or HACKING.md?

[code]

[2021-08-17 20:40] mkandes commented on #9218
We have been observing this issue on our system on and off over the last few months now with different users, running different codes. The issue has been observed both with OpenMPI 3.1.6 and OpenMPI 4.0.4. The compute nodes on the system have two network interfaces --- one 25 Gb/s Ethernet and one 100 Gb/s HDR Infiniband.

[code]

I have attempted to force all traffic over IB with environment vari

[2021-08-17 21:12] jsquyres commented on #9260
This was ultimately answered [on the public mailing list](https://www.mail-archive.com/users@lists.open-mpi.org/msg34568.html) -- sorry for the delay:

[2021-08-17 22:23] jychoi-hpc commented on #9260
Not at all. Thank you for the checking. I also replied to the advice in the mailing list: https://www.mail-archive.com/users@lists.open-mpi.org/msg34569.html

I am still having the problem. There is a verbose output in the reply. I am still wondering how to turn on MPI_T. Does it depend on any prerequisite packages?

[2021-08-19 12:33] jsquyres commented on #9260
@bosilca I'm able to replicate the issue.

Per https://github.com/open-mpi/ompi/blob/v4.1.x/ompi/mca/common/monitoring/README, if I run with:

[code]

Then as you can see above, everything works fine.  But if I use --with-mpit to tell monitoring_test to use MPI_T:

[code]

I do see `pml_monitoring_flush` registered in https://github.com/open-mpi/ompi/blob/a39a051fd87e0eb7019496ed1aae50c6fc10d0cd/o

[2021-08-19 13:25] jsquyres commented on #9260
@bosilca It looks like the `monitoring` PML is unloaded.  Here's how I ran:

[code]

For simplicity, I show just the output from one of the 2 processes -- I put `***` next to the relevant lines for ease of reading:

[code]

Since monitoring works when not using MPI_T, are you using some sort of trick to keep the monitoring PML resident even after ob1 unloads it?

Regardless, it looks like the MCA

[2021-08-19 13:28] jsquyres commented on #9260
@jychoi-hpc To answer your specific question: MPI_T functionality is available in Open MPI without needing to enable anything special (e.g., on the command line).  Per the MPI spec, you can just call `MPI_T_init_thread()` and go from there.  This issue _might_ turn out to be a bug in either the monitoring PML or the test program.  Let's see what @bosilca says (his group is the author/maintainer of

[2021-08-19 13:44] jsquyres commented on #9260
Tested/confirmed: the same issue appears in the v4.0.x and master (and therefore presumably in v5.0.x).

[2021-08-19 18:20] bosilca commented on #9260
I guess the last update on the MCA params automatically invalidate the MCA params for components that are closed. However, in this case the monitoring component is not closed, the close call is made but it will refuse to do so, and instead it will highjack the default PML interface, thus monitoring all PML calls.

[2021-08-20 06:03] rieram opened #9301 "Cuda-aware MPI not leveraging NVlink for cuMemcpyAsync with version 5.1"
## Background information
Created a simple MPI_Send / MPI_Recv and receive demo to excercise NVLink Memcpy through MPI, but it doesn't do the peer2peer like its suppose to. It does work if I directly write the code in CUDA (with a single process).
[code]
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Using Open MPI (master) 5.1x

### Describe how

[2021-08-20 15:44] jsquyres commented on #9301
FYI @open-mpi/cuda

[2021-08-20 22:16] rieram commented on #9301
Figured it out. I needed to pass "--mca pml ucx" and I added "-x TLS=rc_x,sm,cuda_copy,gdr_copy,cuda_ipc". But all I needed was the --mca option.

[2021-08-20 22:16] #9301 closed

[2021-08-24 14:21] nysal opened #9307 "Lazy intialization of frameworks is not thread safe"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git

### If you are building/installing from a git clone, ple

[2021-08-24 20:07] omor1 commented on #9080
@devreal is this related to the severe performance variation I encountered on Expanse (AMD Rome) with DPLASMA, Open MPI, and UCX? I had reported it to and discussed it with @bosilca; I also encountered similar problems with MPICH and UCX.

[2021-08-24 20:12] devreal commented on #9080
@omor1 Not sure what your variations look like, will talk to George. It's unlikely though since this is related to MPI RMA, which is normally not used in DPLASMA.

@brminich Sorry for the delay. Unfortunately, I don't have `sudo` privileges on that system. I will try to find another system to run the benchmarks on to verify whether this is specific to this machine.

[2021-08-25 10:17] albandil opened #9309 "Output redirection to files broken in development branches"
I am using self-compiled development version of Open MPI on several version of openSUSE. The output redirection command line options `--output-filename` and `--output-directory` of `mpiexec` are broken in the current master branch as well as in the v5.0.x branch. No files or directories are created when using the commands

[code]

Here follow some results from my investigation via git bisect:

###

[2021-08-26 17:45] goduck777 opened #9316 "Spawning process not working with multiple MPI processes"
## Background information

The function of MPI_Comm_Spawn with multiple MPI processes can lead to an error

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

I have tried v4.1.x, v5.0.x, and master
For UCX, I have tried 1.10 and 1.11

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operat

[2021-08-26 18:04] ax3l opened #9317 "clang: mpic++ --showme:link forgets OpenPAL"
## Background information

This is related to this Ubuntu bug report: https://bugs.launchpad.net/ubuntu/+source/openmpi/+bug/1941786

### Compiler / Linker

clang++ / LLVM

### What version of Open MPI are you using?

4.0.3 on Ubuntu 20.04 LTS

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[2021-08-27 11:03] tchayen opened #9321 "`mpirun` cannot start in GitHub codespaces due to their host name scheme"
## Background information

### What version of Open MPI are you using?

4.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

`apt install libopenmpi-dev openmpi-bin openmpi-common openmpi-doc`

### Please describe the system on which you are running

Docker container of GitHub codespaces.

[2021-08-27 14:14] #9321 closed, assigned to nobody

[2021-08-27 15:11] #9317 closed, assigned to nobody

[2021-08-29 21:48] rabauke opened #9329 "in-place MPI_Alltoallw crashes"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI 4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Downloaded sources from https://www.open-mpi.org/software/ompi/v4.1/ and compiled with
[code]
on Ubuntu

[2021-08-30 00:37] ggouaillardet commented on #9329
Thanks for the report!

There is indeed a bug and I will post a fix shortly

[2021-08-30 01:20] ggouaillardet commented on #9329
@rabauke meanwhile, you can manually download and apply the patch at https://github.com/open-mpi/ompi/pull/9330.patch

[2021-08-30 07:27] brminich commented on #9080
@omor1, is there a corresponding issue for this performance variance?

[2021-08-30 15:25] jsquyres opened #9332 "What to do with OMPI_MPI_THREAD_LEVEL env variable?"
This is an opening to a discussion about the `OMPI_MPI_THREAD_LEVEL` environment variable.  There's a few issues here:

1. This env variable was added a long time ago to `MPI_Init()` as a way for the OMPI developers to set the MPI thread level for apps that call `MPI_Init()` (not `MPI_Init_thread()`).  This allowed us to the thread code in Open MPI without updating every single OMPI test to call `

[2021-08-30 15:41] bosilca commented on #9332
In same cases modifying the source code of an application/library is not an option, and being able to alter the behavior of the MPI library remains a critical capability. Among the things users need to control, the thread level comes high, because this will allows the MPI library to handle things in a threaded way (async progress being one of these opportunities).

However, as noted in #9312 we ha

[2021-08-30 18:24] rhc54 commented on #9309
It actually appears to be working fine in master:
[code]
I noticed that the output for the local procs isn't getting correctly stored, so I'll look into that bug. But the cmd line option appears to be working.

That said, you should have gotten a deprecation warning for the old options. I'll have to fix that as well.

[2021-08-30 19:03] albandil commented on #9309
I can confirm that `--output file=...` works well. I must have been using wrong keyword ("filename"?).

[2021-08-30 19:41] rabauke commented on #9329
I can confirm that `MPI_Alltoallw` works as expected after applying the patch #9330 to Open MPI 4.1.1. The test program given in this ticket does no longer crash. Furthermore, the unit test that I am currently writing for [MPL](https://github.com/rabauke/mpl) and which use `MPI_Alltoallw` in a slightly more complex context do no longer fail/crash.

[2021-08-30 21:03] gpaulsen commented on #9332
In the past our team has also decreased the thread level of an `MPI_THREAD_MULTIPLE` application, when we wanted to test the single threaded approach.

Remember the thread level specified to `MPI_Init_thread` is not a guarantee, but a request by the application.  The MPI implementation is free to provide a lower level of threading.  Users are then supposed to see what thread level they received by

[2021-08-30 22:08] rhc54 commented on #9309
`filename` should also have worked - we only check the "file" portion of the string.

[2021-08-30 22:09] rhc54 commented on #9309
I'll update OMPI once the PRRTE fix has been committed.

[2021-08-30 22:39] #9309 closed

[2021-08-31 01:26] kloczek opened #9337 "4.1.1: build fails with pmix 4.1.0"
Looks like it is some issue on building ompi 4.1.1 with pmix 4.10.0.
[code]

[2021-08-31 01:58] ggouaillardet commented on #9337
Duplicate of #9211

[2021-08-31 09:30] oleotiger opened #9338 "Qeustion: what is the call stack of creating cq and how to determind the number of cqe?"
This is not an issue but a question.

I searched and trace the call stack of creating cq. I found that uct of openucx is responsible to creat cq.

I think the call stack is `UCT`-->`ofed driver`.

I have some questions that confused me.

1. App--MPI--UCT of openucx--ofed driver is the whole call stack to create cq? Which function of mpi may call UCT to create cq? Is cq create transparent to app de

[2021-08-31 10:09] yosefe commented on #9338
1. CQ is created by MPI_Init -> [mca_pml_ucx_init](https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/ucx/pml_ucx.c#L285) -> [ucp_worker_create](https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/ucx/pml_ucx.c#L309) -> [uct_iface_open](https://github.com/openucx/ucx/blob/09d155bc5c63594b1cceb616f3f23076f8b4ef5f/src/uct/api/uct.h#L1899) -> [ib iface open](https://github.com/openucx/uc

[2021-08-31 12:44] jsquyres commented on #9337
Let's follow up on #9211.

[2021-08-31 12:44] #9337 closed

[2021-08-31 12:51] kloczek commented on #9211
Testet ad it works for me.

[2021-08-31 13:07] jsquyres commented on #9211
Confirmed: I tested both the v4.1.x branch HEAD and the latest [nightly v4.1.x snapshot tarball](https://www.open-mpi.org/nightly/v4.1.x/); both seem to work for me.

[2021-08-31 13:07] #9211 closed

[2021-08-31 13:09] lappazos opened #9339 "UCX Fail in osu_put_bibw"
https://github.com/openucx/ucc/issues/284

[2021-08-31 15:00] gpaulsen commented on #9339
Is this a dup of #8086?  Or more specific to UCX?

[2021-08-31 15:29] jsquyres commented on #9339
Can you please report the full details of the bug here instead of just a link to a closed UCX bug?

[2021-08-31 15:34] gpaulsen commented on #7830
oops, I accidentally clicked close, then re-opened it immediately.

[2021-08-31 15:35] jsquyres commented on #7830
FYI @bosilca

[2021-08-31 15:41] hjelmn commented on #7830
I plan to take a look this week.

[2021-08-31 17:13] jsquyres commented on #9332
We talked about this on the 31 Aug 2021 Open MPI webex.  Conclusions that we came to:

1. For v4.0.x and v4.1.x, IBM indicated that they would like to have the capability of an environment variable to override a compiled app's MPI thread level.  To ensure that no one is using the old environment variable with a 4.0.x or 4.1.x application and unexpectedly has the env variable change the behavior of

[2021-08-31 20:58] awlauria commented on #9339
From the linked defect, it looks like a possibly related osc/ucx failure with MPI_Win_post()

[code]

[2021-08-31 21:10] bosilca commented on #9332
I checked the sessions requirements, and I think this will affect the sessions in the same way it affects the MPI_COMM_WORLD model, aka. by enforcing a selectable thread-level.

[2021-09-01 01:27] oleotiger commented on #9338
For question 2， UCX_RC_TX_CQ_LEN can change the size of CQ. How about CQE? Is CQE relative to CQ? If I reduce the size of CQ, will the number of required CQE reduced as well? How is the number of CQE is determined? By user?

[2021-09-01 07:07] yosefe commented on #9338
CQ_size_in_bytes = number_of_CQE * single_CQE_size_in_bytes
single_CQE_size_in_bytes is usually 64 or 128 (depending on configuration and system cache line size)

[2021-09-01 09:02] oleotiger commented on #9338
From the device information with command `ibv_devinfo -v`, I got
[code]
When I set `UCX_RC_TX_CQ_LEN` equal or less than 65535, mpi works well.
When I set `UCX_RC_TX_CQ_LEN` larger 65535, mpi does not work.

I don't know if the number represents the size of buffer or length of the queue of CQ and CQE.

1. For the configuration of the network card, what is the max `UCX_RC_TX_CQ_LEN` could I set?
2.

[2021-09-01 09:08] yosefe commented on #9338
this number represents number_of_CQE, so max for UCX_RC_TX_CQ_LEN  is 65535. default value for this in UCX is 4096

[2021-09-01 15:21] AntonC9018 opened #9342 "Cygwin Windows 10 build fails"
## Background information

I'm trying to compile OpenMPI on Windows 10, but the build fails with errors.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Latest version 4.1.1, tarball from the [downloads page](https://www.open-mpi.org/software/ompi/v4.1/).

### Please describe the system on which you are running

* Operating system/version: *Wind

[2021-09-01 16:26] yqin commented on #8157
Not sure if it's just me or actually a bug in the file processing part of the code. I'm trying to play with self-defined dynamic rules for Scatter, because the current fixed decision has the following logic,

https://github.com/open-mpi/ompi/blob/master/ompi/mca/coll/tuned/coll_tuned_decision_fixed.c#L1551-L1555
[code]

I'm simply trying to raise the switch point from 512B to 8192B. So I have the

[2021-09-01 16:34] wckzhang commented on #8157
Comm size is 64 in your file, so it shouldn’t be using your tuning vars

From: Yong Qin ***@***.***>
Reply-To: open-mpi/ompi ***@***.***>
Date: Wednesday, September 1, 2021 at 9:28 AM
To: open-mpi/ompi ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [open-mpi/ompi] coll_tuned_dynamic_rules_filename option (#8157)

Not sure if it's just me or actually a bug in the file processing part of the

[2021-09-01 16:46] yqin commented on #8157
@wckzhang Well, apparently it is using the rules if you look at the osu_scatter output I attached, just changing the switch point from 512B to 8B, instead of 8192B I intended to use. Also my understanding of the comm size is same as message size, which should be interpreted as "anything larger than comm size 64". I could be wrong though since I have not read the code. BTW, forgot to mention, I als

[2021-09-01 19:51] abouteiller opened #9343 "Rank error in barrier_intra_doublering"
## Background information

the barrier_intra_doublering algorithm miscomputes the `left` rank for process rank 0: it will post a recv from -1 (a.k.a. `ANY_SOURCE`) rather than from `size-1`.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master 0fd550d1
v4.0.x
v4.1.x
v5.0.x

[2021-09-01 21:11] yqin commented on #8157
My comm size is 1280 for above testing.

This is exactly as I thought as well. If it is dropped completely then I know my format is wrong so I can fix it. But if you take a look at the result I posted, apparently it worked for 2 message size regions that I set. Just the second region started from 8B instead of 8192B.

[2021-09-01 21:31] yqin commented on #8157
I played a bit more with this and looks like my earlier comment on parsing the first character of the message size was wrong. It appears to behave like this because my comm size is 1280 so that was just a coincidence. The actual config file that gives me what I need looks like below,

[code]

The second range 10485760 is calculated from (8192 * 1280) with 8192 being the message range I'd like it t

[2021-09-01 21:38] wckzhang commented on #8157
Ah...you're hitting this issue. So message size has a vague definition and I brought up an issue about this at one point on the discrepancies, let me see if I can find the issue.

[2021-09-01 21:39] wckzhang commented on #8157
See: https://github.com/open-mpi/ompi/issues/7672

[2021-09-01 21:41] wckzhang commented on #8157
I don't really like where we're at with the message sizes, but there's a table in that issue you can refer to for correct sizing.

[2021-09-01 21:45] wckzhang commented on #8157
There's also an issue in the collectives-tuning repo - https://github.com/open-mpi/ompi-collectives-tuning/issues/24
which also describes the discrepancy. Since the code to generate tuning files doesn't take this into account (I do remember writing that code but I never merged it I suppose).

[2021-09-01 21:47] wckzhang commented on #8157
Oh the table is a little outdated now since I revised scatter and gather to use datatype size * com size * s count

[2021-09-02 04:08] #9343 closed

[2021-09-02 11:56] kuizhiqing opened #9346 "Is distributed mpirun possible ?"
As I know, mpi application can be launch by execute following command ONLY on node1

[code]
with
[code]
then *hello_world_mpi* will be excuted on both node1 and node2 even without ensuring *hello_world_mpi* exists on node2.

Let's call it imperative mode.

I was wondering should/how we support the following scenarios,

### proposition 1
run
[code]
on both node1 and node2, which will wait each othe

[2021-09-02 14:15] jsquyres commented on #9346
Open MPI does not currently support this model of execution in any existing release.  The upcoming 5.0 won't support it, either.

That being said, the upcoming Open MPI v5.0 will be using PRRTE for its underlying run-time system (the ORTE system in all versions up to Open MPI v4.x basically split off and became its own project: https://github.com/openpmix/prrte).  It might be useful to discuss suc

[2021-09-02 14:38] yqin commented on #8157
So this explains it. But I have to say that it is very counter-intuitive and inconsistent with existing fixed decision rules. For example, take a look at the code snippet that I posted for scatter.

https://github.com/open-mpi/ompi/blob/master/ompi/mca/coll/tuned/coll_tuned_decision_fixed.c#L1551-L1555

[code]

If I just want to do similar with dynamic rule file, but simply change 512 to 8192 so t

[2021-09-02 16:14] wckzhang commented on #8157
Yeah I also think it's counter-intuitive and inconsistent since com size is already taken into account in the tuning file, why does it need to be taken into account again? Unfortunately there isn't a way to do that with the dynamic code today. @bosilca has major interests in this area, should we re-discuss the message size issue?

[2021-09-02 16:32] rhc54 commented on #9346
Yeah, you can do it with PMIx and PRRTE - I use it to do a population simulation where everything starts as a singleton. You must have PRRTE running in advance of starting the procs, and your MPI must be PMIx-aware (ala OMPI).

[2021-09-02 18:14] yqin commented on #8157
Agreed.

[2021-09-03 16:56] artpol84 commented on #9035
@awlauria @janjust @jsquyres
We’d like to include these fixes in v4.1.
From my perspective they are bug fixes for large-scale users.

[2021-09-03 16:56] artpol84 commented on #9035
@yosefe @jladd-mlnx @manjugv FYI

[2021-09-04 02:44] l1nfp commented on #7529
Hi @afernandezody
I'm building WRF and meet the same error,  could you please  explain what "apps w/o libev" refer to?

[2021-09-07 16:10] wzamazon opened #9354 "IMB-RMA test crash when using master branch and btl/ofi"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from git clone, then configured with

[code]

### If

[2021-09-07 16:10] wzamazon commented on #9354
I got the following back trace from the core dump:

[code]
#0 0x00007fd81e3bccc3 in mca_btl_ofi_put (btl=0x1e340b0, endpoint=0x21010f0, local_address=0x234c000,
remote_address=33637600, local_handle=0x0, remote_handle=0x0, size=1, flags=0, order=255,
cbfunc=0x7fd80e94a9fb <ompi_osc_rdma_put_complete_flush>, cbcontext=0x685e2a0, cbdata=0x1e25e00)
at btl_ofi_rdma.c:116
#1 0x00007fd80e94ac19 in ompi_

[2021-09-07 16:35] wzamazon commented on #9354
Because this error does not happen to ompi 4.1.x, it must be caused by a commit unique to the master branch.

I did some bisect, and was able to locate the commit that caused the error:

[code]

With some further debugging, I was able to locate the problem to the following 3 lines of code in `allocated_state_shared`:

https://github.com/open-mpi/ompi/blob/5e42613dd6cbfaf9679f208af20f1ca9778fa3b1/o

[2021-09-07 19:14] awlauria commented on #9354
@wzamazon your last comment -

However, 16 nodes test failed. The error is caused by a NULLendpoint in btl/ofi component. I believe this is a separate bug.

sounds familiar to what I see with osc/rdma + btl/tcp. Can you post a stack-trace?

[2021-09-07 19:47] wzamazon commented on #9354
Sure. The stack trace is:

[code]

[2021-09-07 19:53] wzamazon commented on #9354
I believe this error is caused by the following lines of code in the same function:

[code]

Here, `local_leader` is the first peer. so basically, all other peers get `state_endpoint` from 1st peer's `stat_endpoint`. However, the `state_endpoint` of 1st peer was not set!

So, IMO, the correct code should be:

[code]

This set the 1st peer's `state_endpoint` from `data_endpoint`.

[2021-09-07 19:53] wzamazon commented on #9354
@awlauria @hjelmn Does the above make sense? I will open PR to address the two issues.

[2021-09-07 21:32] wzamazon commented on #9354
Opened https://github.com/open-mpi/ompi/pull/9358

[2021-09-08 13:18] gkarpa opened #9363 "Calling mpirun from std::system() and MPI_Init()."
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v3.1.6

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from source:
configure --prefix=/opt/openmpi
make all

[2021-09-08 20:54] wzamazon commented on #8983
Hi, @awlauria

I tried to reproduced this error, but I was not able to reproduce.

I noticed that the failure is on IBM powerpc64le, which I do not have access to.

On a system with intel CPU, I did not encounter any error.

On a system with AWS graviton 2 CPU, I encountered a different error (about an error in "MPI_Win_Create"). I will continue debug this issue but I doubt it is the same issue re

[2021-09-08 23:45] wzamazon commented on #8983
Hi, I made a mistake when testing on graviton 2 : I was not using open mpi master branch but was using open mpi 4.1.2.

Once I started using ompi master on graviton 2, I was able to reproduce the data validation error. Though to a lesser degree of the IBM CI. On IBM CI, the test  fail consistently and each time there are ~16,000 error. On graviton 2, the test fails about 10% of the time, and when

[2021-09-09 04:10] wzamazon opened #9365 "ompi master branch: add "--output tag" caused nothing from stdout to be printed."
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

github master branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone from source

### If you are buildin

[2021-09-09 10:50] jsquyres commented on #9365
@wckzhang Does the same thing happen with non-MPI applications?  E.g., if you `prterun ... ls -l`?

@rhc54 This is uncomfortably close to when we were just mucking around in IOF.  Did something get broken, perchance?

[2021-09-09 12:52] wzamazon commented on #9365
```prterun ... ls -l``` has the same issue.

Without ```--output tag```, it works

[code]

With ```--output tag```, no output:

[code]

[2021-09-09 14:08] rhc54 commented on #9365
Actually, no - we just exposed a use-case that wasn't being handled correctly. Pretty typical one, so a mod to the way we handle the default situation was the best solution.

[2021-09-09 16:06] #9365 closed

[2021-09-09 19:03] naughtont3 commented on #9206
Meant to follow-up from past chat on this item.  I did quick look at GCC docs and found following link for gfortran deprecated.  Looks like it is like w/ C compilers.
 - https://gcc.gnu.org/onlinedocs/gfortran/ATTRIBUTES-directive.html

This would obviously GCC specific, but maybe good enough for start.  I'm not sure how these attributes get plumbed through into the mpi/fortran dir.

[2021-09-10 13:30] naughtont3 commented on #9206
I tried using the `DEPRECATED` attribute in similar manner as used in this f90 test, [ompi/mpi/fortran/use-mpi-f08/tests/contig.f90], but I'm either doing something wrong or my gfortan does not support (v5.5.0).  Adding pointer here for someone who knows Fortran stuff. HTH.

[2021-09-13 15:32] wzamazon commented on #8983
With the help from @bwbarrett, I think I know the root cause of this problem, which is related to completion semantics requirement of `use_cpu_atomics`.

`use_cpu_atomics` is an optimization, which mix use NIC's completion and CPU atomics. It is used when all processes are on single node. In this case, the actual messages are delivered by selected btl, but the counters to indicate completion (such

[2021-09-13 15:41] hjelmn commented on #8983
```use_cpu_atomics``` is intended when HCA and CPU atomics can be mixed. The only network I know of where this is the case is Infinipath/Omnipath where the atomic is done with the CPU. The completion semantics there are different that when using btl/tcp. So, the best fix is to remove the MCA_BTL_ATOMIC_SUPPORTS_GLOB flag from here:

https://github.com/open-mpi/ompi/blob/master/opal/mca/btl/base/bt

[2021-09-13 15:42] hjelmn commented on #8983
I can look at making AM-RDMA support ```use_cpu_atomics``` later. It is a useful optimization when the network has high latency as is the case with anything TCP.

[2021-09-13 15:44] wzamazon commented on #8983
@hjelmn If the two processes are already on the same node, why would they even use tcp (instead of vader) to communicate?

[2021-09-13 16:09] bwbarrett commented on #8983
@wzamazon in the test case you're running, TCP is being used because you set the BTL list to only include `tcp,self`.  So there's no shared memory btl active.

[2021-09-13 16:46] wzamazon commented on #8983
I see. So `use_cpu_atomics` is to accelerate the scenario that for some reason, user must use certain btl to transfer message.

[2021-09-13 16:48] bosilca commented on #8983
I don't understand how such an optimization would work with the vader BTL on a machine without SMSC support. Can someone clarify this for me please.

[2021-09-13 17:03] hjelmn commented on #8983
@bosilca It wouldn't. The optimization was focused on two scenarios: 1) all on-node with MPI_Win_allocate (if for some reason osc/sm is not wanted), and 2) btl/openib with globally visible atomics (not btl/ofi). Was not intended for any of the AM-RDMA scenarios. Not sure why I added that flag.

[2021-09-13 17:04] hjelmn commented on #8983
Oh, and the second scenario is not well tested either. I did not get much of a chance to test btl/ofi with that optimization. Maybe someone with omnipath should test that to make sure it works.

[2021-09-13 17:09] wzamazon commented on #8983
I can confirm that btl/ofi does request FI_DELIVERY_COMPLETE from libfabric.

[2021-09-13 17:09] hjelmn commented on #8983
Ok, so that should be good. The only fix needed is in am-rdma then.

[2021-09-14 08:09] karasevb commented on #9316
@dmitrygx this is still relevant, can close it?

[2021-09-14 08:32] dmitrygx commented on #9316
yes, we can close it

[2021-09-14 08:39] dmitrygx commented on #9316
ah, we still have some problem - https://github.com/openucx/ucx/issues/7316#issuecomment-912972449
need to investigate it

[2021-09-14 15:02] jjhursey opened #9369 "Orphaned processes on launch node when --timeout is triggered"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

`v4.0.x` [HEAD](https://github.com/open-mpi/ompi/commit/14cc1897834a8c17ddcb949e7d8ddf4bdf54e968) and `v4.1.x` [HEAD](https://github.com/open-mpi/ompi/commit/02d6331a138db9e35e8e8fa5f76d9c231869f1c6) branches are impacted.

`v5.0.x` and `master` are not impacted.

Related

[2021-09-14 15:12] jjhursey commented on #9369
I posted a fix in PR #9370 for the issue identified against `v4.0.x`. Once reviewed then I'll cherry-pick to `v4.1.x`

[2021-09-14 15:17] jjhursey commented on #9369
I found a scenario where the secondary problem can occur.

If the remote node is slow launching (possibly due to a file system issue) and the timeout triggers then this is not an abnormal failure, but a scenario where the timeout starts shutting down `mpirun` while it is waiting in the launch complete loop.

So we will need a fix to make sure that `mpirun` always cleans up its local children befor

[2021-09-14 15:26] jjhursey commented on #9133
May be a duplicate of Issue #9369
@AboorvaDevarajan can you review Issue #9369 and PR #9370 to see if they address the issue you saw on the v4 branches?

[2021-09-14 20:50] jjhursey commented on #9369
Per [this request](https://github.com/open-mpi/ompi/pull/9370#issuecomment-919314519) I took another look at Open MPI master with PRTE.

Issue 1 does not seem to occur with PRTE. It is idling [here](https://github.com/openpmix/prrte/blob/2a459fa5f4c46d90a37c5894740d04fe487a6147/src/prted/prte.c#L1234-L1237) when the timeout is triggered. So it moved from the 'waiting for launch' to the 'waiting fo

[2021-09-14 21:21] rhc54 commented on #9369
Hmmm...so are we interpreting "timeout" to be total time spent executing the job (including launch), or time spent executing the application (which excludes launch)? IIRC, there was some confusion over this point as a user might set a time limit on the latter (since they have some idea of how long their app might take to execute), but no control over how long it takes to launch the job.

Thus, on

[2021-09-14 21:25] jjhursey commented on #9369
Possibly. The behavior in the v4 series is a comprehensive timeout (inclusive of the launch time). This is pretty useful in testing where you don't want a hang in the launch sequence to hang your testing setup. I've seen folks use it as a hedge against slow ssh issues which can crop up depending on cluster config. I'd prefer to keep the behavior of `--timeout` consistent with total time taken for

[2021-09-14 21:47] rhc54 commented on #9369
Okay, I think that makes sense. Looking at the code, I think PRRTE got caught between definitions - the timeout event got reused for the launch timeout, which can cause confusion. I'll separate the two.

[2021-09-15 13:52] jjhursey commented on #9369
That sounds good. Thanks!

[2021-09-16 14:18] gpaulsen commented on #8983
Fixed in v5.0.x via #9381

[2021-09-16 14:31] gpaulsen commented on #7830
@hjelmn Have you been able to reproduce?

[2021-09-16 14:48] gpaulsen commented on #8822
Merged to v5.0 and master.  closing

[2021-09-16 15:05] wzamazon commented on #8983
@gpaulsen

Maybe there is a misunderstanding here.

https://github.com/open-mpi/ompi/pull/9381 did not fix this data corruption issue. It fixed a btl/ofi segmentation fault, which I did not open an openmpi issue.

My understanding is @hjelmn is working on a fix for this (data corruption) issue.

[2021-09-16 15:07] awlauria commented on #8983
Ah - thanks @wzamazon

[2021-09-16 18:14] wckzhang commented on #8822
The current checks for libfabric are compile time only. Need to add run-time checking in case someone runs the new code with an older libfabric and things completely break.

[2021-09-16 18:18] wckzhang commented on #8822
(Since libfabric 1.13 will still be ABI compatible but there are a lot of bugs in the import monitor code, need to add run-time checking to only use import monitor in 1.14+)

[2021-09-17 08:50] donners-atos opened #9385 "Iallreduce gives an incorrect result for algorithms 1 and 3"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

repo_rev=v4.1.1-30-g535358e937

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

installed from the hpcx-2.9.0 package

### Please describe the system on which you are

[2021-09-17 09:56] ggouaillardet commented on #9385
@donners-atos I am not sure this is a bug:

Open MPI philosophy is
 a. it should work out of the box
 b. give the user what they explicitly request, regardless it is smart or not

In this case, the test
 a. passes with the default algorithm
 b. fails when an algorithm known not to support `MPI_IN_PLACE` is explicitly requested

@bosilca @jsquyres any thoughts?

[2021-09-17 10:22] donners-atos commented on #9385
ok, thanks. How can I know that these algorithms do not support MPI_IN_PLACE?

[2021-09-17 15:05] lpouillo opened #9386 "Assertion failure on MPI_Finalize with libpsm_infinipath"
Thank you for taking the time to submit an issue!

## Background information

### What verson of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
- using EasyBuild v4.4.2
- using tarball on top of EasyBuild m

[2021-09-17 15:13] bosilca commented on #9385
Unfortunately there is no way. In OMPI design, each collective algorithm can decide to refuse to complete the collective, in which case it will fall back to a different one (according to registration priorities), with the worst case scenario of falling back to one of the basic algorithms in base or basic.

When you force a specific algorithm no such fallback exists, but at least we should fallback

[2021-09-17 15:59] bwbarrett commented on #8822
There are three issues with the code today.  AWS is working on patches for next week:

1. we need to sort out the memory framework initialization.  Common components shouldn't be opening frameworks, and should definitely be checking error codes.
2. We forgot to add comments.
3. We need to sort out the version / feature test behaviors William mentioned earlier.

[2021-09-17 16:18] wckzhang commented on #8822
Added some comments - https://github.com/open-mpi/ompi/pull/9387

[2021-09-17 17:12] wzamazon commented on #8983
I tried turn off the flag MCA_BTL_ATOMIC_SUPPORTS_GLOB in

https://github.com/open-mpi/ompi/blob/master/opal/mca/btl/base/btl_base_am_rdma.c#L1117

as Nathan suggested. However, it resulted in a failure in `MPI_Win_create`. I set `osc_base_verbose` to 100, which printed more information:

[code]

I will continue investigate.

[2021-09-17 17:23] bosilca opened #9388 "mpicxx wrapper compilers not generated"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

ompi master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Configured using “—with-pmix=internal --enable-picky -

[2021-09-17 19:54] rwespetal opened #9389 "Improper cleanup/exit for rank with PID 0"
Thank you for taking the time to submit an issue!

## Background information
I'm encountering an error for unclean shutdown after a [LAMMPS benchmark](https://github.com/lammps/lammps/tree/master/bench) completes. The error message reports that the process is for PID 0 which is unexpected. When I'm able to get this to trigger, the error seems to persist for that node.

I'm hoping to gather some ve

[2021-09-17 20:57] tkordenbrock opened #9390 "portals4: fix compiler warnings in all the Portals4 components"
When we upgraded to gcc 10.2.1, we started getting a bunch of compiler warnings in the Portals4 components.  Most are related to loop variables and atomics.  And there are a few that only show up in debug builds.

The master PR cleanly cherry picks to v5.0.x, but not to v4.0.x or v4.1.x.

[2021-09-17 23:35] bosilca commented on #7830
Bad news. I run the onesided tests on one of our clusters with the current master (gf882930). They pass with the UCX OSC, and with RDMA OSC as long as only the sm BTL is in use.  As soon as I spread the rank across multiple nodes all one-sided tests fail (basic two-sided test pass so my BTL selection is legit).

[2021-09-18 04:11] hjelmn commented on #7830
Same issue as described here? Where the comm split is wrong?

[2021-09-18 19:23] bosilca commented on #7830
The communicator seems to be correct. I attached to one of the processes before it segfault, and the issue is in osc_rdma_lock.h, function ompi_osc_rdma_btl_fop, where the state_index is -1. The stack and peer variable do not look corrupted or uninitialized but both btl_index (state and data) of the peer object are set to 255 (because unsigned) and the selected_btl is then some memory location out

[2021-09-18 19:55] jsquyres opened #9392 "Does Open MPI v5.0 support RHEL 6 gcc 4.4.7?"
In doing some random testing over the weekend, I noticed that the gcc 4.4.7 that ships with RHEL 6 does not compile OpenPMIX and also does not compile PRTE on Open MPI master HEAD.

I do note that if I compile PMIX and PRTE independently (with a modern gcc), and then configure Open MPI with `--with-pmix=PATH_TO_PMIX --with-prte=PATH_TO_PRTE`, Open MPI "compiles" and links.

I put "compiles" in quo

[2021-09-19 14:28] rhc54 commented on #9392
PMIx ad PRRTE build and run just fine with `gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-44)`, which is as far back as I have gone. If you want it to go back further, then you'll need to provide a patch.

[2021-09-19 16:53] jsquyres commented on #9392
I don't want to provide a patch.  😄

Just to be clear: the gcc 4.8.5 that @rhc54 cites is the default compiler in RHEL 7.  The gcc 4.4.7 that I cited is the default for RHEL 6.

It may well be ok to say "we don't support gcc 4.4.7".  If so, we just need to document it.

[2021-09-19 18:45] bwbarrett commented on #9392
RHEL6 is EOL, but still in extended support.  From AWS's point of view, we don't have a good way to test it, so supporting it would be difficult.

[2021-09-19 20:16] jsquyres commented on #9388
@bosilca Can you share the stdout from running `configure` and your `config.log`?

I ask because I am unable to replicate the issue.  I used essentially the same `configure` line as you gave in the example (minus `--with-ucx=… --with-cuda --with-hwloc=…`), but I still get an `mpicxx`:

[code]

This is with master HEAD f88293058afaba10f96335f5774ebf84c9bf7c9b.

[2021-09-19 20:23] awlauria commented on #9392
I think rhel6 is out of support, even extended.

[2021-09-19 23:19] bosilca commented on #9388
Here are the two files.   [config.log.gz](https://github.com/open-mpi/ompi/files/7193109/config.log.gz)
[output.save.gz](https://github.com/open-mpi/ompi/files/7193110/output.save.gz)

[2021-09-20 11:58] jsquyres commented on #9388
After reading your files, I'm still confused.  ☹️

Your output in the C++ section is different than mine.  Yours:

[code]

Mine:

[code]

Yours doesn't even show output for checking for the g++ compiler -- how can that be?

Do you have CXX set in the environment or something?  Can you confirm that you are at ompi master git hash f88293058afaba10f96335f5774ebf84c9bf7c9b?

[2021-09-20 13:25] AboorvaDevarajan commented on #9133
@jjhursey Josh, I verified that with the patch (4d717db7268b45f30f5fa2082e6f2fb638c29ba9) reported issue is no longer seen. Thanks. Closing the issue.

[2021-09-20 13:25] #9133 closed

[2021-09-20 14:46] bosilca commented on #9388
You are correct on both aspects:
- git reports my branch at f882930.
- the entire environment is based on spack, and the spack recipe for the GNU compiler apparently defines CC, CXX and FC.

[2021-09-20 14:54] jsquyres commented on #9388
Ok.  Exporting `CC`, `CXX`, and `FC` in my environment let me replicate the issue (which, in itself, is darn weird).  I'll investigate.  Thanks!

[2021-09-20 16:16] wzamazon commented on #9354
PR has been merged

[2021-09-20 16:16] #9354 closed

[2021-09-20 16:36] jsquyres commented on #9392
Question from @gpaulsen:

(I don't know/remember where that previous discussion ended up, so I'm including the question here)

[2021-09-20 16:55] wzamazon commented on #8983
I did some more code reading/testing and found something interesting/confusing.

As we known, on same instance, when CPU atomics is not used, each process uses selected btl to update counter (such as `num_complete_msgs`) on the other process. However, what surprises me is that: every process communicate the local leader (instead of the peer) to update peer's counter. when local_lead is not the pee

[2021-09-20 18:35] jsquyres commented on #9388
I found the issue -- it was an issue in how the `OPAL_WHICH` marco worked.

I see that the same code issue exists on the v4.0.x and v4.1.x branches, but I don't know if it actually causes a problem on those branches (because we treat the C++ compiler differently on v4.0.x/v4.1.x vs. master/v5.0.x).

@bosilca Could you test your setup -- with `$CC`, `$CXX`, and `$FC` set to absolute paths -- with v

[2021-09-20 19:51] jsquyres commented on #9392
We talked about this on the RM call today, and will bring it up again tomorrow on the community call.

RM reaction is basically: "No, we don't really want to support gcc 4.4.7 any more... unless someone needs it."  Meaning: unless someone supplies fixes for PRTE, PMIX, and potentially Open MPI, we're going to not support gcc 4.4.7 in Open MPI 5.0.0.

Specifically, @jsquyres volunteers to make a co

[2021-09-20 21:44] frizwi opened #9396 "client/server mechanism broken?"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v3.1.4 but have tried v4.1.0 as well - same result

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Built from source

[2021-09-21 02:58] bwbarrett commented on #8983
@hjelmn can chime in with the right answer, but my guess is that he was trying to save a bunch of small messages when ranks were all on the same node; you could then aggregate update messages and avoid sending N messages to the same remote host.  But that does mean that the BTL either needs to provide completions that the remote side delivered the message or that we need to use ordered channels fo

[2021-09-21 03:36] frizwi commented on #9396
I just tried this again and seems like its fixed in **v4.1.x**, but errors/hangs in 4.0.x and 3.1.4. I'll go ahead and update my application to the latest version so happy for this to be closed now.

Sorry, should've done a better job of version testing first before putting the issue in!

[2021-09-21 08:06] ax3l commented on #4948
Saw the problem again today with:
- Docker version 20.10.7, build 20.10.7-0ubuntu1~20.04.1
- OpenMPI 4.0.3
- Ubuntu 20.04 image (x86-64)

[2021-09-21 13:24] gpaulsen commented on #4948
master PR #6844 was merged into v4.0.x with PR #6997 in time for Open MPI v4.0.2, so perhaps that's not the only issue here, or something changed after that.

[2021-09-21 15:07] jjhursey commented on #9369
Fixed references:
 * v4.0.x: https://github.com/open-mpi/ompi/pull/9370
 * v4.1.x: https://github.com/open-mpi/ompi/pull/9371
 * v5.0.x: https://github.com/open-mpi/ompi/pull/9383
 * master: https://github.com/open-mpi/ompi/pull/9382

This can now be closed since all active release branches and `master` have been fixed.

[2021-09-21 15:07] #9369 closed

[2021-09-21 15:33] awlauria commented on #6540
Closing as fixed in v5.

[2021-09-21 15:47] hppritcha commented on #9160
reopen as we need equivalent of #9296 PR'd to v5.0.x

[2021-09-21 15:58] gpaulsen commented on #9332
I started to implement this, this morning as an mca parameter.  Unfortunately the mca system setup needs to know what the thread level is beforehand since it passes that info to various components which behave differently based on the thread level.

I will just PR using an env var so that I don't have to touch the mca infrastructure.

[2021-09-21 16:01] jsquyres opened #9397 "v4.0.x and v4.1.x: document that --cpu-set doesn't work"
Per #9298 and #9299, it was discovered that `--cpu-set` does not behave the same way that it did in Open MPI 3.1.x.  Instead, it behaves like `--cpu-list`.

The 2 linked PRs nominally fix the `--cpu-set` behavior to be correct, but were ultimately rejected for two reasons:

1. The code is very complex and high risk.  It feels like every time we have touched this code in the past, we have broken it

[2021-09-21 23:28] wzamazon commented on #8983
Opened https://github.com/open-mpi/ompi/pull/9400 which implemented the proposed solution.

[2021-09-22 01:27] hjelmn commented on #8983
Should be limited to the multi btl case only. btl/ugni will break if the local leader logic is not used there. Not to mention a ppn factor increase in memory registrations.

[2021-09-22 03:18] wzamazon commented on #8983
@hjelmn Thanks for chiming in! I have a few questions regarding using local leader.

The original data correction happened to single BTL and btl is tcp. In which case, we cannot use cpu atomics (as discussed),  neither can we local leader (correctness issue).

Can you elaborate on this case? why btl/ugni would require using local leader?

It seems we might need another flag for using local leader.

[2021-09-22 10:06] Micket opened #9402 "test/datatype/external32 failure when building with NVHPC (+ misleading error message)"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Building with EasyBuild, using NVHPC (nvc)  (ref. https://gith

[2021-09-22 13:02] ledotp opened #9403 "MPI_INIT sometimes fails on a node with 2 mlx5 devices : pml_ucx_component returns priority 19 (ob1) instead of 51 (ucx)"
Background information
The pml_ucx_component() function sometimes returns priority 19 (pml ob1) on a node with 2 mlx5 devices.
"export OMPI_MCA_pml_ucx_verbose=100" then run "srun  -N 2 -n 64 mpi-hello" into a loop to trace the problem.
Workaround : "export OMPI_MCA_opal_common_ucx_devices=any ; export  OMPI_MCA_opal_common_ucx_tls=any"

What version of Open MPI are you using?
Open MPI 4.1.1

Desc

[2021-09-22 13:26] rhc54 opened #9404 "OPAL_CHECK_COMPILER_VERSION warnings"
With current head of master:

[code]

[2021-09-22 13:29] rhc54 commented on #9404
Looks like someone introduced some changes that are not friendly to autoconf 2.7x as there are a number of warnings now coming out of master like:
[code]
We had this nicely cleaned up - perhaps we need a way to ensure it doesn't get messed up again?

[2021-09-22 13:31] jsquyres commented on #9404
I thought the AC 2.7x updates we did simply fixed the *errors*, but not necessarily the *warnings*...?

[2021-09-22 13:41] rhc54 commented on #9404
No, a couple of us worked on it and fixed the warnings too, except for romio since we didn't control it. These are coming from OMPI's own configure.

[2021-09-22 14:08] jsquyres commented on #9404
Yes, I don't think we ever fully fixed *all* the warnings in Open MPI's `configure`.  For example, I see https://github.com/open-mpi/ompi/blame/3fedbf777c4864c9c4f864228d787b27fadf0f74/config/opal_setup_cc.m4#L335, which shows that the `AC_TRY_LINK` on that line -- which emits a warning in AC 2.7x -- was put there 13 years ago and hasn't been edited since.

That being said, I definitely agree that

[2021-09-22 14:45] yosefe commented on #9403
@ledotp can you please upload traces when the issue happens (that is, when priority 19 is returned) with `export OMPI_MCA_pml_ucx_verbose=100`?

[2021-09-22 14:49] rhc54 commented on #9404
Which means it will never happen. I don't think people realize that for those of us who aren't _required_ to work on OMPI, wading thru a tsunami of warnings every time we want to touch the code is a major disincentive - just smacks of a pretty poor code base. OMPI literally dumps out _pages_ of warnings in both configure and compile, regardless of which system I use.

Pretty pathetic 😞

[2021-09-22 15:11] bosilca commented on #9402
The external32 test checks for the packing/unpacking operation from the native format into the MPI external32 format (big endian representation as defined in the Section 14.5.2 in the MPI 4.0 document). Which means that depending on the source architecture there might or might not be much to do, either simply moving the data into a contiguous buffer or converting each data element from the native

[2021-09-22 17:18] rhc54 opened #9406 "btl/rdma warnings"
Current head of master:
[code]

[2021-09-22 17:29] rhc54 opened #9407 "pml/ob1 warnings"
Current head of master:
[code]

[2021-09-23 02:44] Micket commented on #9402
Thank you for the pointers. After another evening of digging, the root cause turned out quite different;
https://github.com/open-mpi/ompi/blob/3fedbf777c4864c9c4f864228d787b27fadf0f74/opal/datatype/opal_convertor.c#L491-L492
turns out this condition was false for `nvc`, but true for `gcc` (up until there, it all seems to be completely identical).

So I started hunting down what caused this, and it

[2021-09-23 03:30] bosilca commented on #9402
The opal_datatype_local_sizes array is statically initialized in opal_datatype_module.c line 103. You're right it seems the array is shifted left 3 positions. That's definitively not something the current code is doing, because shifting it would not make sense at all, the elements need to be indexed by their OPAL id.

Maybe the nvcc compiler gets confused with our OPAL_DECLSPEC declaration and ali

[2021-09-23 06:48] ledotp commented on #9403
A full traces file with 2 failures :
[RUN=100_loops.N2.n4.txt] (https://github.com/open-mpi/ompi/files/7215446/RUN.100_loops.N2.n4.txt)

[2021-09-23 08:59] ggouaillardet commented on #9402
@Micket thanks for the report!

It turns out this is a compiler issue, and I reported it at https://forums.developer.nvidia.com/t/incorrect-code-for-statically-initialized-arrays/189934

[2021-09-23 11:17] subodh-malgonde commented on #7818
You are right. Here is the official documentation on this issue (includes possible fixes) - [Why do I get errors about hwloc or libevent not found?](https://www.open-mpi.org/faq/?category=building#libevent-or-hwloc-errors-when-linking-fortran)

[2021-09-23 13:24] #8850 closed

[2021-09-23 17:36] bosilca commented on #9402
Thanks @ggouaillardet for taking care of this. We now have to exclude all nvc compilers between 2.3 and whenever they fix their issue from our support list. Or we can remove the c99 initialization of the opal_datatype_local_sizes array ...

[2021-09-23 23:16] cponder opened #9419 "./configure --help=recursive is not exposing options"
The OpenMPI 4.1.1 source file
[code]
has this entry
[code]
The ```./configure --help``` command describes the ```--enable-mca-no-build``` option, but the
[code]
doesn't go any deeper than that, so I wasn't aware that the option was available.
I'd expect the ```recursive``` option to expose this level of detail.
As it is, it doesn't add anything to the output, which seems redundant.

[2021-09-24 01:56] bwbarrett commented on #9419
I'm not sure I understand the issue.  I see the same help output with `./configure --help` and `./configure --help=recursive`:

[code]

Are you seeing something other than that behavior?

[2021-09-24 02:38] cponder commented on #9419
My point is, that you *shouldn't* see the same output with both.
The ```=recursive``` option should give more details, otherwise there's no reason to have it.
I think it should be explaining the ```-enable-mca-no-build=op-avx``` setting, for example.

[2021-09-24 02:46] bwbarrett commented on #9419
That's not actually what the `--help=recursive` option does.  `--help=recursive` comes into play when a package (like Open MPI) includes packages with their own configure (like openpmix in the 5.0 branch).  `--help` will only show the top-level configure options, but `--help=recursive` will show the options of the sub-configures as well.  As a matter of fact, `--help=recursive` shows the short hel

[2021-09-24 02:46] #9419 closed

[2021-09-24 07:39] cponder commented on #9419
It doesn't document the ```op-avx``` setting. Can't you fix this? We shouldn't have to be reading the source files to find these.

[2021-09-24 13:28] wzamazon commented on #8983
@hjelmn I update https://github.com/open-mpi/ompi/pull/9400, so it is used only when active message RDMA is used, so it should be applied to only btl/tcp and btl/vader (see the commit message for more details).

[2021-09-24 13:30] wzamazon commented on #7830
@bosilca Can you elaborate on the error you are seeing? what type of btl? what test? This may be related to https://github.com/open-mpi/ompi/issues/8983.

[2021-09-24 14:19] bosilca commented on #7830
Any test from the onesided directory in ompi-tests. BTL: tcp and sm. As I said above I see either segfaults or deadlocks.

[2021-09-24 14:31] rhc54 commented on #7830
FWIW: the Cisco MTT now only shows segfaults from onesided tests and from the datatype "pack" function. It is otherwise running pretty well. Strictly tcp and sm there.

[2021-09-24 14:58] bosilca commented on #7830
I applied the patch from #9400 and rerun the tests. Similar story as before, segfaults and deadlocks. To give a precise example, here is how I run it:
[code]
The test segfault in lock_unlock stage. However, the same test segfault when using UCX as well.
[code]

[2021-09-24 15:03] jsquyres commented on #9419
@cponder I'm a little confused.  Doesn't the `#error The configure ...` message appear when it fails to compile?

[2021-09-24 15:11] cponder commented on #9419
No, it doesn't show up.
But, regardless, why shouldn't the ```--enable-mca-no-build=op-avx``` option be documented by the ```./configure --help``` command??

[2021-09-24 15:18] jsquyres commented on #9419
It *is* documented:

[code]

There are many frameworks and many components -- op and avx are two of many.  We can't list them all in the help message.  The error message cites 2 examples already (btl-portals and oob-ud).

What is the exact problem that you are trying to solve?  I assumed something failed to compile, but I went back and re-read your initial message and it doesn't say that.  The `#e

[2021-09-24 17:07] awlauria commented on #8586
https://github.com/open-mpi/ompi/pull/9417

updates the so's and greek.

[2021-09-24 17:08] awlauria commented on #8586
https://github.com/open-mpi/ompi/pull/9414

Updated the license file.

[2021-09-24 17:08] wzamazon commented on #7830
@bosilca I can reproduce the segfault when running `test_dan1`, I will look into it.

[2021-09-24 18:39] cponder commented on #9419
Here's the message
[code]
It happens with the PGI 21.9 compiler but not the 21.7 compiler.
We're still trying to figure out why, but in the meantime I can make the problem go away by using the ```--enable-mca-no-build=op-avx``` option.

[2021-09-24 18:39] cponder commented on #9419
Is there another way to get a list of the ```no-build`` options?

[2021-09-24 19:13] jsquyres commented on #9419
Ah, so this is not the same situation that Open MPI's use of the `#error ...` directive was implemented for.

When you use `--enable-mca-no-build=LIST`, you're telling Open MPI not build each of the components in that LIST.  Hence, if there's a compiler / linker issue with one of those components, then yes, it "works", but it "works" because you have skipped building the problematic component.

As

[2021-09-24 19:27] gpaulsen commented on #9041
@Extremys , Do you still have access to this system?  Could you please try rerunning with Open MPI v4.0.6?

[2021-09-24 19:37] gpaulsen commented on #8919
Can someone from nVidia please take a look?

[2021-09-24 19:39] cponder commented on #9419
Yeah, turning it off is the only option I have until we work this out  8-(
Looking at the directory-tree, I see
[code]
but I don't see any of these
[code]
Is it because they weren't built, or do ```btl-portals``` & ```oob-ud``` refer to components that aren't there any more?

[2021-09-24 19:40] jsquyres commented on #9419
Yeah, it looks like the 2 examples in that help message got stale.  We can update those.

[2021-09-24 19:43] gpaulsen commented on #8918
Looks like we have a FIX in https://github.com/open-mpi/ompi/pull/8941.  We just need a review and then cherry-picks to the release branches.

[2021-09-24 19:45] gpaulsen commented on #8818
@markalle What should we do with this Issue?  Can we close it, or is it a problem?

[2021-09-24 22:36] wzamazon commented on #7830
@bosilca The segfault from the `lock_unlock` stage in `test_dan1` is because of locking type being two level. When locking type is two level, a process will first lock a global leader then lock the peer. The segfault happens when global leader is the process itself, in that case, because btl/tcp cannot do self communication, btl_index is 255, and selected_btl is NULL. adding `--mca osc_rdma_lockin

[2021-09-24 22:46] hjelmn commented on #7830
Honestly let's just change the default to on demand locking in this case.  The performance is not bad with on demand.

[2021-09-24 23:47] awlauria commented on #9271
master: https://github.com/open-mpi/ompi/pull/9428
v5.0.x: https://github.com/open-mpi/ompi/pull/9429

[2021-09-26 07:51] yosefe commented on #9403
@ledotp in this trace the returned priority from ucx is always 51, as expected

[2021-09-27 06:49] ledotp commented on #9403
$ grep  259634   RUN=100.boucles.N2.n4   | more
[compute10003:259634] pml_ucx.c:197 mca_pml_ucx_open: UCX version 1.11.0
[compute10003:259634] common_ucx.c:304 posix/memory: did not match transport list
[compute10003:259634] common_ucx.c:304 sysv/memory: did not match transport list
[compute10003:259634] common_ucx.c:304 self/memory0: did not match transport list
[compute10003:259634] common_ucx.c

[2021-09-27 07:16] ledotp commented on #9403
driver_name = basename(driver_path);
    for (list_item = device_list; *list_item != NULL; ++list_item) {
        if (!fnmatch(*list_item, driver_name, 0)) {
            MCA_COMMON_UCX_VERBOSE(2, "driver '%s' matched by '%s'",     <-------  I do not see this line during errors
                                   driver_path, *list_item);
            return true;
        }
    }

[2021-09-27 08:28] yosefe commented on #9403
@ledotp can you try this patch:
[code]

[2021-09-27 12:01] amckinstry opened #9432 "Segfault in mca_io_romio321.so"
## Background information

This is with 4.1.2~rc1  on multiple architectures on Debian unstable (development branch).
It is triggered by the tests in mpi4py:

eg.
https://buildd.debian.org/status/fetch.php?pkg=mpi4py&arch=ppc64el&ver=3.1.1-8&stamp=1632692000&raw=0

The source as installed is at:
https://sources.debian.org/src/openmpi/4.1.2%7Erc1-2/
For configuration information, see the rules file

[2021-09-27 13:05] edgargabriel commented on #9432
The romio segfault looks legit, but there is another issue here, namely why was romio used instead of ompio.

[ppc64el-osuosl-01:1381766] mca_base_component_repository_open: unable to open mca_io_ompio: libmca_common_ompio.so.41: cannot open shared object file: No such file or directory (ignored)

Not sure whether to open another ticket for this or not.  Will try to reproduce.

[2021-09-27 14:14] YannChemin commented on #7701
Hello, I am running into the same issue.

I am using default Ubuntu openmpi-bin installation, no anything more.

I am using Ubuntu Impish (21.20) in the front end [yann-MBP], and was using ubuntu Groovy (20.10) on the nodes before, where this did not happen. I upgraded the nodes to Hirsute (21.04) and now I face the same issue. Nodes are [bmax-Intel] and [yann-pc].

code:
-------------
`mpirun --m

[2021-09-27 14:26] YannChemin commented on #7701
using `--mca plm_rsh_args -x` has no effect at all indeed.

[2021-09-27 14:37] YannChemin commented on #7701
forcing front-end and all nodes to not use X11 forwarding has not effect.
`
/etc/ssh/ssh_config =>  ForwardX11 no`

[2021-09-27 15:06] YannChemin opened #9433 "ORTE_ERROR_LOG and munmap_chunk(): invalid pointer"
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Front end: 4.1.0-10ubuntu1
Nodes: 4.1.0-7ubuntu2

### Describe how Open MPI was installed
Front end: Ubuntu Impish: 21.10
sudo apt install openmpi-bin
Nodes: Ubuntu Hirsute: 21.04
sudo apt install openmpi-bin

### Please describe the system on which you are running
* Operating system/version:  Front

[2021-09-27 18:16] Haizs opened #9434 "Errors occurred while testing ULFM"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v5.0.x, also same error in the latest master(52d1096)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from git clone, configured with `--with-ft=mpi`

### If you are

[2021-09-27 18:51] abouteiller commented on #9434
Thanks for your report,

The first error is normal; you have set 'mpiexec/prte' in 'resilience' mode, but not Open MPI library itself, henceforth all errors are fatal by default at the MPI level.

You can use `--with-ft ulfm` to enable the full set of features required to run with ULFM fault tolerance mode both at the PRTE level, and MPI level.

I will push a patch for the second error shortly. I'

[2021-09-27 19:57] abouteiller commented on #9160
All merged.

[2021-09-27 19:57] #9160 closed

[2021-09-27 21:11] wzamazon commented on #7830
I just updated https://github.com/open-mpi/ompi/pull/9400 to address several new issues I found

The biggest issue continue to be that btl/tcp does not support self communication. To address this issue, I added https://github.com/open-mpi/ompi/pull/9400/commits/b0197d91d828401ba0b7b8593e026f2215cb70eb which uses btl/self for self communication (if selected btl does not support self communication).

[2021-09-28 00:17] ggouaillardet commented on #9432
@amckinstry Thanks for the report!

I am unable to reproduce the issue on my CentOS 7 `x86_64` VM.

Is this issue specific to `ppc64le`?

FWIW
[code]

[2021-09-28 02:12] hjelmn commented on #7830
Catching up. Can btl/sm not be used? It allows self communication. When using tcp it should always also use btl/sm.

[2021-09-28 02:15] hjelmn commented on #7830
But I could be remembering incorrectly :).

[2021-09-28 04:05] wzamazon commented on #7830
Problem is people are running tests with the sm btl excluded (by specifying `--mca btl self,tcp`).

I do not have the full background. I wonder if there is an agreement that btl/tcp must be used with btl/sm (for osc/rdma)?

[2021-09-28 05:39] karasevb commented on #9403
Following traces, the problem is with an uninitialized `char driver_path[PATH_MAX];`, it contains garbage:
```[compute10003:259635] common_ucx.c:199 driver '../../../../../../bus/pci/drivers/mlx5_core¼' matched by 'mlx*''```
In some cases, garbage may contain the slash (`/`) symbol that affected `driver_name = basename(driver_path);` and returns the wrong `driver_name`.

This patch simulates and

[2021-09-28 07:48] aivazis commented on #7393
Do you think it's worth exploring the cause of this failure and a more permanent solution? I guess it's probably acceptable to tell users to set their TMPDIR, but it might be good to know why.

[2021-09-28 09:54] drew-parsons commented on #9432
No, it's affecting nearly all architectures, see https://buildd.debian.org/status/package.php?p=mpi4py
I can reproduce it easily on amd64.

There's some more details at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=995150
e.g. gdb backtrace (running test_io.py only)
[code]

[2021-09-28 10:08] drew-parsons commented on #9432
The missing file shows also in the amd64 log, https://buildd.debian.org/status/fetch.php?pkg=mpi4py&arch=amd64&ver=3.1.1-8&stamp=1632748520&raw=0 , so it sounds like fixing the openmpi debian/rules as you suggested will get mpi4py passing tests again.

[2021-09-28 12:37] jsquyres commented on #7393
We do have https://www.open-mpi.org/faq/?category=osx#startup-errors-with-open-mpi-2.0.x, but it looks like the verbiage on it is a bit out of date.  The underlying macOS issue is the same, however.

[2021-09-28 12:46] jsquyres commented on #7393
More specifically, it looks like we had a specific check for this back in the 2.0.x/2.1.x timeframe (i.e., emit a very specific error message that helped users workaround that issue).  But apparently that very specific message either has gotten lost or isn't functioning properly in Open MPI v4.0.x/v4.1.x.

A little history here: Open MPI's underlying run-time system has been slowly been evolving i

[2021-09-28 13:37] jsquyres commented on #9432
@amckinstry Should we close this issue here on the Open MPI side, since it looks like the issue is in the debian packaging?

[2021-09-28 13:41] rhc54 commented on #7393
PMIx _used_ to do this check because we were using Unix domain sockets back in those days:
[code]
The check was removed once we went away from that method (switching back to TCP). We should probably discuss where a more permanent location should be - it's a shared memory problem (which is in OMPI, not PMIx), so I'm leery of putting something in PMIx that assumes how long a shmem backing filename m

[2021-09-28 14:20] amckinstry commented on #9432
There is a bug in the Debian packaging (which I'm currently fixing in the next upload).
I will leave this bug report open for the addition problem @ggouaillardet points out.

[2021-09-28 14:25] ledotp commented on #9403
Thanks guys, the patch works for me (at least with my reproducer).

[2021-09-28 15:06] bwbarrett commented on #8822
Adding a v4.1.x tag to block that release, as the early initialization issue got pushed to the v4.1.x branch as well.

[2021-09-28 15:17] jsquyres commented on #7393
Ah, ok, that sounds totally reasonable (that the check should be in Open MPI, not PMIx).  That makes things simpler, too.

@marcpaterno @aivazis Is the case where the problem occurs the same / similar to the originally-cited problem on this issue?

[2021-09-28 15:37] jsquyres commented on #9433
Hmm.  That's... odd.

Can you run non-MPI programs?  E.g., `hostname`?

[2021-09-28 16:01] asesidaa opened #9440 "ERROR: UNPACK-PAST-END"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Using [spack](https://github.com/spack/spack)
Spec: openmpi@4.1.1%aocc@3.1.0  fabrics=ucx

### If you are buildi

[2021-09-28 17:06] Haizs commented on #9434
Thanks for the reply, tested with the modified code from your PR and it works.

But I ran into another weird result with https://github.com/ICLDisco/ulfm-testing/blob/master/api/buddycr.c

[code]

I added two output just before and after `MPI_Comm_spawn` in line 251, and it seems `raise(SIGKILL)` wouldn't release the MPI processes' slots, is there any options I missed?

For more information, expli

[2021-09-28 17:39] jsquyres commented on #7701
These lines in your output indicate that the `-x` was not added:

[code]

The `<template>` is later replaced with the hostname.  In v4.1.x, any user-specified ssh arguments would have been added after `ssh` and before `<template>` per https://github.com/open-mpi/ompi/blob/76d00f65e6f9d8df620b0aa4da49c04e9d3c9f1f/orte/mca/plm/rsh/plm_rsh_module.c#L386-L394

For example:

[code]

Note the `-x` after

[2021-09-28 18:29] YannChemin commented on #9433
yes all working properly

On Tue, Sep 28, 2021, 5:37 PM Jeff Squyres ***@***.***> wrote:

[2021-09-28 18:35] YannChemin commented on #7701
i have already tried the mca option with x it changed nothing

about the ssh worker1 uptime, it works well, the No protocol behaviour is
not there.

On Tue, Sep 28, 2021, 7:39 PM Jeff Squyres ***@***.***> wrote:

[2021-09-28 19:07] aivazis commented on #7393
My case pops when multiple api jobs are launched at the same time by the same user: I have a test suite that exercises my python bindings that runs in parallel. What I think is happening is that the openmpi clean up code tries to remove the temporary files it created as children of a temporary directory. It seems that the name of this directory is seeded with my uid, instead of the process id, and

[2021-09-28 19:10] ke7kto commented on #7701
@jsquyres Could you provide a full command (without the ellipses) so that I can test it? I tried the original MWE script with the following results:

    me@myhost:~/source/trouble$ mpirun --mca plm_rsh_args -x --mca plm_base_verbose 100 test.sh
    No protocol specified
    [myhost:2293201] mca: base: components_register: registering framework plm components
    [myhost:2293201] mca: base: compon

[2021-09-28 19:24] jsquyres commented on #7701
@YannChemin Did the `-x` show up in the debug output as part of the `ssh` command?  If so, it means that either something else is telling `ssh` to use X11 forwarding (i.e., outside of Open MPI -- perhaps an env variable or config file?) or the `No protocol specified` message is not from ssh/X11 forwarding.   We know that the `No protocol specified` message is definitely not coming from Open MPI.

[2021-09-28 20:42] ke7kto commented on #7701
I'm using Open MPI 4.0.3 as installed from the Ubuntu 20.04 LTS distribution. I'm running these commands in an interactive prompt, so adding `echo` statements to my `bashrc` did nothing. Is there a default script `mpirun` looks for to set up its environment that I could try?

This may still be some sort of an X11 related problem, though it doesn't seem to show up in the system logs (at least there

[2021-09-28 21:02] jsquyres commented on #7701
Open MPI doesn't look for any particular script.  `mpirun` locally fork/exec's the `orted` (Open MPI's user-level helper daemon), which then fork/exec's `test.sh`.

But `test.sh`, which I assume is a shell script, and that may/will your `.bashrc` or somesuch.  Hence, I'm wondering if there's some other commands that are getting invoked that are emitting that `No protocol...` message.  There may be

[2021-09-29 07:50] chhu commented on #7701
I have the same problem with a recently compiled version from master... and no clue where it is coming from. Running on the same machine as well. Grepping in sources of ompi and ucx I found nothing.

[2021-09-29 10:10] YannChemin commented on #7701
Here I have disconnected the nodes, so it fails voluntarily, in order to look at places more precisely.

COMMAND
`mpirun --mca plm_rsh_args -x --mca plm_base_verbose 100 --use-hwthread-cpus --hostfile /home/mpiuser/cloud/hostfile /home/mpiuser/cloud/hello`

RESULT

`No protocol specified
[yann-MBP:43244] mca: base: components_register: registering framework plm components
[yann-MBP:43244] mca: bas

[2021-09-29 10:14] YannChemin commented on #7701
I also tried to include echo calls at start and end of ~/.bashrc and ~/.profile but they do not appear in the verbose listing.

[2021-09-29 10:16] YannChemin commented on #7701
... and to complete, since yesterday all of my computers have this in /etc/ssh/ssh_config:

`
   ForwardX11 no
`

[2021-09-29 14:47] jsquyres commented on #7701
I did make one mis-statement above: in Open MPI v4.1.x, if `mpirun` is launching on the local machine, it fork/exec's the target process(es) directly -- it doesn't launch an intermediary `orted` (user-level Open MPI helper daemon; that's only used on remote nodes).  For example, this is from running on my own system:

[code]

You can see that `/bin/sleep` is clearly a direct descendant of the `mpi

[2021-09-29 14:59] jsquyres commented on #8919
@janjust Is anyone at NVIDIA looking at this?  It looks like the same issue was just reported on https://www.mail-archive.com/users@lists.open-mpi.org/msg34594.html.

[2021-09-29 17:49] ke7kto commented on #7701
@jsquyres `test.sh` was a script file with the contents of @philippkraft's original posted `test.sh`.

The output of `mpirun` with no arguments at all issues the warning before printing the "mpirun could not find anything to do" message. `mpirun hostname` and `mpirun mpi_app` both issue the warning as well. Running programs that use MPI in the backend results in the `No protocol specified` message

[2021-09-29 17:58] aivazis commented on #7393
Took another look. I was partly wrong: the temporary path contains both my uid and the pid of the running process. The error I get mentions the directory that couldn't be unlinked:

`System call: unlink(2) /var/folders/zy/_pjxfbbs4wsf4_f_0dg4bwr40000gn/T//ompi.cygnus.501/pid.64173/1/vader_segment.cygnus.501.bc7b0001.6`

 And partly correct: the clean up code appears to remove a directory a few lev

[2021-09-29 18:18] jsquyres commented on #7701
This seems to be quite important.  This implies that `mpirun` opened some or all of its plugins, which triggers loading more dependent libraries.  Note that this is long before anything is fork/exec'ed.  So the natural question becomes: is it one of `mpirun`'s plugins that either emitting this message itself, or causing something (e.g., in a dependent library) to emit this message?

Let's try turn

[2021-09-29 18:59] ke7kto commented on #7701
I ran that command 100x using a bash script and compared the results. For this particular command, the output is pretty deterministic (only file locations and process names seemed to change, and there was no variation at all other than the process number in the first ~150 lines). The `No protocol specified` message shows up at line 46. Here's the first few lines of a sample `out.txt` file:

    [m

[2021-09-29 19:26] rhc54 commented on #7701
That is well _before_ there is any attempt to use `ssh` - we are just loading components at that time.

[2021-09-29 21:04] rhc54 commented on #7701
Okay, I poked around a little and things are not quite as simple as stated. First, a correction: @jsquyres gave you an incorrect cmd line option. It should be `--mca plm_base_verbose 100` and not `pml`. This actually would have made the difference as it would have pinpointed the location of the `no protocol` warning.

There are a couple of relevant points here. First, if you specify `--mca plm_rsh

[2021-09-29 21:19] jsquyres commented on #7701
My bad on `pml` vs. `plm` -- we have both frameworks in Open MPI!

@rhc54 What about the case where @ke7kto was just invoking `mpirun` (with no executable to launch) and it showed that message before it showed the "mpirun could not find anything to do" help message?  That's what confused me.

[2021-09-29 22:16] rhc54 commented on #7701
We call `orte_init` before we process the application portion of the cmd line - perhaps the probe is occurring in there. Honestly don't remember. Easy enough to check with `plm_base_verbose`, setting the `plm_rsh_agent`, or simply adding `--mca plm_rsh_assume_same_shell 1` to the `mpirun` cmd line (to disable the probe)

[2021-09-29 22:20] jsquyres commented on #7701
Cool.  Translation for @ke7kto @YannChemin @chhu ... etc.: Please try running this:

[code]

It should show the `No protocol...` message in a consistent location.

And if you run:

[code]

The `No protocol...` message should disappear.

Can you verify?

[2021-09-29 22:33] ke7kto commented on #7701
Here's the output of the first command:

    me@myhost:~/source/trouble$ mpirun --mca plm_base_verbose 100
    No protocol specified
    [myhost:2320983] mca: base: components_register: registering framework plm components
    [myhost:2320983] mca: base: components_register: found loaded component isolated
    [myhost:2320983] mca: base: components_register: component isolated has no register or o

[2021-09-29 22:38] rhc54 commented on #7393
So there are two very different problems being discussed here - which is fine, just wanted to be clear. The first problem has to do with the length of the `TMPDIR` path on Mac OSX - which has become insanely long. This is something we can rather easily detect in OMPI and warn you about - should be done in OMPI where we know that the combination of the long `TMPDIR` path and the shmem backing filen

[2021-09-29 22:44] rhc54 commented on #7701
Well that's odd. Okay, let's try the full list of verbosity, with two little typo's fixed:
[code]

[2021-09-29 22:49] ke7kto commented on #7701
Full verbosity as requested by @rhc54 (first 60 lines, let me know if you want more, `No protocol specified` is on line 46 consistently).

    [myhost:2322877] mca: base: components_register: registering framework ess components
    [myhost:2322877] mca: base: components_register: found loaded component pmi
    [myhost:2322877] mca: base: components_register: component pmi has no register or open

[2021-09-30 02:50] rhc54 commented on #7701
@jsquyres The only thing in that area between the ess and state setup is `opal_hwloc_base_get_topology`. Since this OMPI install is taken from the packager, it likely links to an external hwloc, so there is no way to tell offhand if that message is coming from hwloc.

Regardless, I think we can safely state that it isn't coming from within the OMPI code base itself. Since it isn't causing any harm

[2021-09-30 05:26] brminich commented on #9403
@karasevb, can you please prepare a PR with this fix?

[2021-09-30 14:17] abouteiller commented on #9434
Thanks again, I can replicate both issues; I believe both stem from the same underlying condition. Tentative scenario is that
1. PRTE doesn't mark the failed process as 'terminated' in its own tracking anymore
2. thus the fail process still occupies the slot (first bug)
3. during MPI_Finalize, PMIX_Fence will wait on the failed process, indefinitely (second bug)

While I work on fixing these, you

[2021-09-30 14:49] ggouaillardet opened #9444 "fail to link op/avx component with nvhpc compilers"
As reported by Ray Muno on the user mailing list (https://www.mail-archive.com/users@lists.open-mpi.org/msg34594.html), op/avx component cannot be linked when the nvhpc compilers are used

[code]

The root cause is Open MPI assumes the following macros are defined if the compiler supports the AVX512 features we expect
[code]
and at least one of these macros is not defined by nvhpc compilers

From

[2021-09-30 15:39] awlauria commented on #9271
PR's merged, closing.

@PeterGottesman thanks! If you want to adjust the wording or add anything comment here or feel free to open a PR.

[2021-09-30 15:39] #9271 closed

[2021-09-30 15:46] jsquyres commented on #9444
@ggouaillardet Is this related to https://github.com/open-mpi/ompi/issues/8919?

[2021-09-30 17:08] jsquyres commented on #7701
@rhc54 Ack.  This is a puzzle, though, and I'm still intrigued.  😉

@ke7kto I see in my Ubu 20.04 VM that Ubuntu split up hwloc into several packages.  It looks like Open MPI's hwloc support, indeed, is coming from the Ubuntu-packaged hwloc libraries, but the hwloc binary utilities may not have been installed by default. Can you install `hwloc` (or `hwloc-nox`) and run the `lstopo` command?  This

[2021-09-30 19:04] ke7kto commented on #7701
`lstopo` does indeed emit `No protocol specified`

[2021-09-30 19:18] jsquyres commented on #7701
Bingo...

I filed this over in https://github.com/open-mpi/hwloc/issues/483.  Let's followup there.

[2021-09-30 20:07] mike0042 opened #9446 "Relocation of OMPI package causes launch to fail"
## Background information
We would like to build and distribute OMPI as a component of a resource management product. When the package is installed, the installation directory will not match the prefix specified in the call to configure during the build. We would like to set the OPAL_PREFIX environment variable so that OMPI is aware it has been relocated and functions properly. Currently, job laun

[2021-09-30 20:20] bosilca commented on #9444
There is a lengthy comment explaining why we need to test these macros in the .c file. Most compilers converge toward a well-defined, almost portable, support for immintrin.h, apparently with the exception of nvc. Until they fix the compiler, I propose to completely drop the generation of AVX code. Can you please try to following patch.

[code]

[2021-09-30 21:38] wzamazon opened #9447 "ompi-tests/oneside/test_start2 hang with large group size on ompi master"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

ompi master branch + PR https://github.com/open-mpi/ompi/pull/9400

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[2021-09-30 23:01] bwbarrett commented on #8822
Most of the master changes were merged as part of https://github.com/open-mpi/ompi/issues/8822.  One outstanding issue is that the patcher framework should really fail to patch the binary if it has already been patched.  Someone at AWS is working on that patch.

[2021-09-30 23:19] wzamazon commented on #9447
The root cause of this hang is a deadlock situation. Among the ranks that hangs at the post stage, there is one rank that is special, it has submitted an atomic operation, and is waiting for the completion, for that it calls the progress engine (`opal_progress`). The completion has already arrived. However, because other ranks keep sending messages to this special rank, the progress engine keep pr

[2021-10-01 13:04] jsquyres commented on #9446
5.0 RMs: I took the liberty of adding "blocker" to this issue.  This is a serious enough regression compared to v4.x that -- IMNSHO -- it needs to be fixed before release.

[2021-10-01 13:08] jsquyres commented on #9440
This type of error _usually_ occurs when Open MPI and/or PMIx are mis-matched between different peers.

Can you double check that your LD_LIBRARY_PATH for Open MPI and PMIx are set consistently for non-interactive logins across all nodes in your job?

[2021-10-01 13:13] jsquyres commented on #7393
@rhc54 This issue is opened against Open MPI v4.0.x.  Does PRTE work with the Open MPI v4.0.x and v4.1.x series?

[2021-10-01 13:14] jsquyres commented on #9433
Sidenote: the `No protocol specified` message has been identified as coming from hwloc, which, in turn, is likely coming from OpenGL.  See https://github.com/open-mpi/hwloc/issues/483.

I notice in your original description that you are using two different versions of Open MPI.  Can you update the version of Open MPI to match across all your nodes?

[2021-10-01 13:25] mkre opened #9451 "Cannot build common/ofi as DSO"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

5.0.0rc1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Trying to compile from source tarball

### If you are bui

[2021-10-01 13:32] jsquyres commented on #9451
FYI @open-mpi/ofi.

[2021-10-01 13:48] rhc54 commented on #7393
Sure - so long as PRRTE is built against PMIx v4.1 or above it will support any OMPI version starting with the 2.x series.

[2021-10-01 14:08] acandac opened #9452 "Can not execute CUDA job using OPENMPI v4.1.1"
Hi All,
I have successfully installed CUDA version of US-GAMESS quantum mechanics software (so called LIBCCHEM) using openMPI v4.1.1 and CUDA v10.1 on the server of an HPC system running under Centos 7.3 OS.  I am having difficulty executing  the following orterun job after sending a slurm job to the server.

orterun --mca btl vader,self,tcp -np 1 --bind-to none --map-by ppr:1:node --report-bindin

[2021-10-01 14:10] bwbarrett commented on #9451
Can you try the same build, but change `--enable-mca-dso=common-ofi,mtl-ofi` to `--enable-mca-dso=common-ofi,mtl-ofi,btl-ofi`?

We're probably not leaking the OFI BTL's dependency on libcommon_ofi.so properly; I'll try to take a look today.  But I'm also guessing that you were explicitly trying to avoid libmpi.so having a link time dependency on libfabric.so, so you'll want to add the OFI BTL to t

[2021-10-01 14:34] mkre commented on #9451
Specifying `--enable-mca-dso=common-ofi,mtl-ofi,btl-ofi` works, thanks @bwbarrett!

I wasn't aware of the (new?) BTL/ofi component while I was composing the explicit DSO list based on the MCA parameters we had in Open MPI 4.

[2021-10-01 15:01] bwbarrett commented on #9451
The OFI BTL was introduced in 4.1.0 as part of work to better support the MPI one-sided interface.

[2021-10-01 15:15] asesidaa commented on #9440
Thank you for reply. It seems that somehow the environment variables are messed up, and I solved the issue by using the —prefix option to set the environment variables.

[2021-10-01 15:15] #9440 closed

[2021-10-01 15:22] mkre opened #9453 "Can we pass custom HWLOC configuration flags if building --with-hwloc=internal?"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

5.0.0rc1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

compiled from source tarball

### If you are building/installing from a git clone, please copy-n-paste the o

[2021-10-01 15:46] YannChemin commented on #9433
i installed the nodes with Lubuntu 21.10 this morning, the front node is
Ubuntu 21.10. this bug is gone. on the aside, "No protocol" is still there.

On Fri, Oct 1, 2021, 3:15 PM Jeff Squyres ***@***.***> wrote:

[2021-10-01 15:59] bgoglin commented on #7701
This is caused by the hwloc "gl" backend which queries the locality of NVIDIA displays and somebody prints the warning even if we check error codes etc. While looking at how to avoid this in hwloc, OMPI should likely disable the "gl" backend when using external hwloc (for internal hwloc, you had enable_gl=no at configure time). There's a way to disable backends at runtime since hwloc 2.1. Somethin

[2021-10-01 18:32] bwbarrett commented on #9453
Yes; just specify them on the top-level configure and they will be passed to all sub-configures.

[2021-10-01 18:57] jsquyres opened #9455 "Is there a reason pcollreq is still an mpiext on v5.0.x?"
While trying to cherry pick the recent Fortran mpi module fixes to v5.0.x (2798fd82e5 and 9865f3aec7), I ran into conflicts.

I discovered that `ompi/mpiext/pcollreq` still exists on the v5.0.x branch (it is gone from master, because it got turned into real MPI APIs -- not extensions).

I don't have time to chase down what commits are necessary to cherry pick to v5.0.x to convert the pcollreq exte

[2021-10-01 20:02] bosilca commented on #9447
I'm not sure I understand how you can have an endless events on a particular rank that would block opal_progress from returning upstream. The opal_progress only pull events from the network once, and once all are completely handled it returns to the caller, which means the upper level get a chance to move forward if it has received the expected answer.

[2021-10-01 20:13] awlauria commented on #9455
I think I got it all in the attached PR. Lmk if I missed anything.

[2021-10-01 21:08] wzamazon commented on #9447
Thank you! This is what I observed, and I also found it puzzling. I will look into `opal_progress` more.

[2021-10-01 21:28] bgoglin commented on #7701
And in the meantime: `export HWLOC_COMPONENTS=-gl`

[2021-10-01 21:41] ke7kto commented on #7701
I can confirm that adding `export HWLOC_COMPONENTS=-gl` to my `~/.bashrc` as a workaround silenced the message for me. Thank you!

[2021-10-01 21:55] artpol84 commented on #9035
I think we have all the relevant PRs merged.
We can close this issue now.

[2021-10-01 21:55] #9035 closed

[2021-10-02 00:10] bwbarrett commented on #9451
I went down the rabbit hole on trying to do something sane here.  I think the right thing is to to set the library dependencies properly so that the btl-ofi (or similar components) depend on the common library explicitly when built into libmpi.so, but that means figuring out a build order of components that doesn't have a circular dependency between libmpi.so and the common library.

[2021-10-02 20:45] jsquyres commented on #7701
@bgoglin @rhc54 If we do this:

[code]

Do we risk not detecting some GPUs that we care about?  Or are -- at least presently -- all the GPUs that Open MPI cares about based on CUDA?

[2021-10-02 21:20] #8505 closed

[2021-10-02 21:20] #9207 closed

[2021-10-02 22:01] jsquyres commented on #9406
@hjelmn #9460 fixes the macro expansion issues, but I don't know how to fix the signedness issues.  Can you suggest a fix?

[2021-10-03 20:01] devreal opened #9461 "pml/ucx: support for MPI 4.0 assertions?"
MPI 4.0 has introduced new info keys that allow applications to signal the non-use of some MPI P2P semantics that otherwise might impose unwanted overhead, namely "mpi_assert_allow_overtaking",  "mpi_assert_no_any_tag","mpi_assert_no_any_source", and "mpi_assert_exact_length". We can make use of the first two info keys in our application but I have not found any trace of them in the pml/ucx (there

[2021-10-04 05:42] mkre commented on #9453
Yep, that works. Thanks! Looking back, it's pretty obvious, but I think I was a bit blind because it was not in the top-level configure's help message.

[2021-10-04 05:42] #9453 closed

[2021-10-04 11:12] amckinstry opened #9462 "libopenmpi3: segfault in mca_btl_vader.so on 32-bit arches"
This is on Debian Sid (unstable development branch),  32-bit architectures with OpenMPI 4.1.2rc1

The details are here: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=995599

This is seen in fenics-dolfinx, segfaulting.

[2021-10-04 14:49] rhc54 commented on #7701
Well, we know Intel GPUs won't support CUDA, but I don't know if blacklisting `gl` will impact that backend. NVIDIA and AMD GPUs are all CUDA.

[2021-10-04 20:42] jsquyres commented on #9455
Done!

[2021-10-04 20:42] #9455 closed

[2021-10-04 20:50] jsquyres commented on #9433
@YannChemin Ok, good.  Let's chalk this up to version/package mismatch between the nodes, then.

The `No protocol...` message is being followed up in open-mpi/hwloc#483 and #7701.

[2021-10-04 20:50] #9433 closed

[2021-10-05 00:33] bensworth opened #9468 "Mac build help, permission denied"
I am trying to install OpenMPI 4.1.1 on a MacBook Pro (16-inch, 2019) wit Big Sur (11.6). Open MPI 4.0.5 worked fine before I upgraded to Big Sur, then something with my compiler was broken after updating. I removed and reinstalled command line tools, upgraded all my homebrew recipes, and tried to reinstall. I downloaded the stable 4.1.1 tar.gz and called `./configure --prefix=/Users/<my_path>/ins

[2021-10-05 04:53] SpinTensor commented on #1475
Hi just wanted to check on the status. I see that ggouaillardet already started a merge request. When will the changes be available in the main trunk?

[2021-10-05 11:05] jsquyres commented on #1475
@SpinTensor Thanks for the reminder; this one fell off the radar.  ☹️

[2021-10-05 11:35] jsquyres commented on #1475
This was (finally) merged to master, and the fix-the-missing-`MPI_F08_STATUS[ES]_IGNORE` PR is pending being merged into the v5.0.x branch.

Per https://github.com/open-mpi/ompi/issues/8047#issuecomment-693397908, we didn't bring the missing conversion routines to v4.1.x or v4.0.x because of deeper ABI implications.  As an extension of that, I didn't back-port the missing `MPI_F08_STATUS[ES]_IGNOR

[2021-10-05 11:41] jsquyres commented on #9468
Check out the `/Library/Developer/CommandLineTools/usr/bin/make` file -- it should be executable.  The error message implies that it is not.  E.g., look at `ls -l /Library/Developer/CommandLineTools/usr/bin/make`.

[2021-10-05 12:31] bensworth commented on #9468
Oops, I forgot to include that in my report. I tested this and think the permissions all seem fine:
`-rwxr-xr-x  1 root  wheel  436464 Jun  8 18:46 /Library/Developer/CommandLineTools/usr/bin/make
`
The only caveat being that I am not running as root user, but I don't see why that would be an issue. And, if I just call `/Library/Developer/CommandLineTools/usr/bin/make` from command line right wher

[2021-10-05 14:27] jsquyres commented on #9468
That is a strange error, then.  The output from your original post pretty much directly states that `/Library/Developer/CommandLineTools/usr/bin/make` is not executable (you don't need to build Open MPI as root).  But your `ls -l` says that it is.

Is this a repeatable error?  I.e., if you do a top-level `make` in the Open MPI source tree, it fails in the same location with the same error?

If so,

[2021-10-05 14:39] ggouaillardet commented on #9468
Is there a white space in your prefix?

[2021-10-05 14:58] gpaulsen commented on #9397
Sorry I haven't got this PRed.  I am actively working it in between other :fire:s.

[2021-10-05 15:16] janjust commented on #9452
@acandac Sounds like the application invoked MPI_Abort causing the mpi job to abort.
Any ideas where it fails in the first place? Init?

[2021-10-05 16:12] #9407 closed

[2021-10-05 16:17] jsquyres commented on #9406
#9460 only *partially* fixes these warnings.  Still need @hjelmn's help on the sign issues.

[2021-10-05 16:20] jsquyres commented on #7701
Tagging this with all the versions 4.0.x, 4.1.x, and 5.0.x, because technically the problem is with a library that hwloc invokes (and is therefore at least more-or-less independent of Open MPI version).  But we could choose to put in a workaround in Open MPI.

[2021-10-05 21:13] bensworth commented on #9468
So when running `make install` without the `-j` flag, I got more detailed info, the problem was not in `make`, but because some files in `hwloc201` were root permissions.
[code]
I re-downloaded and configured OpenMPI and then ran just `make install` and everything worked. But, I learned this was unique to not using the `-j` flag. If I use `-j` I get permissions errors. I will close this issue now

[2021-10-05 21:13] #9468 closed

[2021-10-05 23:52] wzamazon commented on #9447
@bosilca

Earlier you mentioned that

I believe you meant the `opal_progress` call libevent's `event_base_loop` with the `EVLOOP_ONCE` flag.

I found that it is not the case. The default `opal_progress_event_flag` indeed has `OPAL_EVLOOP_ONCE`, as seen [here](https://github.com/open-mpi/ompi/blob/8462e7cd52ea52f968457dc096aab18e3c5da9b1/opal/runtime/opal_progress.c#L50)

However, this flag was rem

[2021-10-06 00:11] rhc54 commented on #9447
I've always used `EVLOOP_ONCE` as I've encountered similar issues with the `NONBLOCK` option. However, that is in the RTE - I don't have much to do with `opal_progress`. I believe it is possible to make `NONBLOCK` work, but might take a significant effort to ensure you coordinate across all parts of the code base that use the event library so you don't deadlock.

[2021-10-06 05:36] bosilca commented on #9447
you're right, `NONBLOCK` is never tested for as long as there are active events in the system, a behavior that contradicts what the documentation states. In fact `EVLOOP_ONCE` also has a different behavior than documented as it only returns if at the end of one iteration all triggered events were completed and at least one of them was non internal.

[2021-10-06 18:39] denisbertini opened #9479 "openMPI 4.1 + UCX 1.11 OMPIO hangs writing shared file on Lustre"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
- openMPI 4.1 release + UCX 1.11 release

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
- openMPI install from sour

[2021-10-06 18:54] edgargabriel commented on #9479
@ denisbertini  thank you for reporting the issue. Could you please provide some additional information, for example what application/benchmark did you use, how many processes, etc? Ideally, one like to be able to reproduce the issue in order to debug it, so the more information you provide, the easier it is for us.

[2021-10-07 00:06] BryanFlynt-NOAA opened #9481 "OpenMPI 4.1.1 + LLVM 12.0 = Re-Link Error"
On a OpenSuse Linux system I'm trying to install OpenMPI 4.1.1 using LLVM 12.0 (clang and flang).  The "configure" and "make" portions complete with no errors but the "make install" attempts to re-link a number of libraries and fails when it can't find "libmpi_usempi.so.40.30.0".  I've searched around and found similar "make install" errors when the compiler is not found but this is not the same.

[2021-10-07 10:30] jsquyres commented on #9404
I believe that this has been fixed in master and v5.0.x (disclaimer: the errors that are left art part of ROMIO).

[2021-10-07 10:30] #9404 closed

[2021-10-07 10:53] jsquyres commented on #9338
Closing this due to inactivity.  Please feel free to re-open if you have followup questions on this same issue.

[2021-10-07 10:56] jsquyres commented on #9389
@rwespetal Were you able to glean any further info on this issue?

[2021-10-07 10:59] jsquyres commented on #6749
Closing this issue due to inactivity.

[2021-10-07 10:59] #6749 closed

[2021-10-07 11:00] #185 closed

[2021-10-07 11:01] jsquyres commented on #9342
Sorry for the delay in replying.

@matzeri Do you have any insight on what could be happening here?  Additionally, how is the support of Cygwin going this days -- is it still active?  Or is it being replaced by WSL?

[2021-10-07 11:10] jsquyres opened #9484 "Need to fix Fortran "use mpi" module array declarations in APIs such as MPI_WAITALL"
It was recently noticed that some of the array declarations in the ignore TKR `mpi` module have specifically-sized arrays, but the MPI standard says that the arrays should be `(*)`.  The easiest API to note is `MPI_WAITALL`.

All the other Fortran APIs with array dummy parameters should also be checked; I don't know how pervasive the problem is.  This is probably not nearly as daunting a job as it

[2021-10-07 12:00] jsquyres commented on #9329
Fix merged to master; awaiting PR for v5.0.x.

[2021-10-07 13:35] awlauria commented on #1475
This is fixed in master and v5.0, closing.

[2021-10-07 14:25] jsquyres opened #9487 "ROMIO difference between master and v5.0.x branch"
@open-mpi/ompi-gatekeeper-5-0-x FYI: For some reason, master PR #9486 does not appear to be necessary on the v5.0.x branch, and I don't know why.  Specifically, on `master`, the following files are generated:

[code]

But these files are *not* generated on the v5.0.x branch.  This means that there is something different between ROMIO support on master and v5.0.x.  It's probably worth someone inves

[2021-10-07 14:32] mwheinz commented on #9386
Unfortunately this is going to be very hard to debug - I don't know anyone who still has QLogic adapters.

[2021-10-07 18:38] wzamazon opened #9492 "master branch ompi-tests/oneside/test_dan1 fail on single node when comm size >= 4"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
compiled from source

### If you are building/install

[2021-10-07 18:51] wzamazon commented on #9492
I did some investigation, and found the reason for this error is because when osc/rdma set up the shared memory access, the shm filename is not unique between communicator.

The  background is `test_dan1` will split the whole world into multiple communicators: each communicators has 2 ranks.

osc/rdma will set up shared memory between ranks in the same communicator on the same node: one rank on ea

[2021-10-07 18:54] bosilca commented on #9492
the cid is unique from a process point of view. This means that two communicators having different participants can have the same name. You fix (adding the pit of the local leader) will make them unique at the node level, because the same leader will not be able to be part of two distinct communicators with the same cid.

[2021-10-07 20:07] tonycurtis opened #9494 "master/v5.0.x: Compile error with clang and armclang"
Thank you for taking the time to submit an issue!

## Background information

Building latest ompi out of gtihub, get error with armclang 21.1

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

github @ 4b50f265e6cbe31d744af2a4e47a28d73ac5e4d0 (master)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git cl

[2021-10-07 23:30] bensworth opened #9496 "mpirun/mpiexec does not recognize multiple cores"
I notice some strange behavior on a linux cluster. If i load OpenMPI/4.1.1, mpirun and mpiexec do not seem to recognize multiple cores on a node. In contrast, srun works just fine. I have seen previous similar posts, but they are usually issues with oversubscribing. Here I have >> 1 core, but fail at mpirun -n 2. Below is a sample output. The same happens for compiled C-code.

What I was originall

[2021-10-08 13:25] rhc54 commented on #9446
@bwbarrett Something occurred to me: I seem to recall we rpath'd things to ensure that we always picked up the correct library when dealing with multiple installs on a system? If we did, then wouldn't that explain the relocation problem because the libraries would all be hard-linked to their original location?

[2021-10-08 14:21] jsquyres commented on #9487
I'm guessing it has something to do with differences in how we build ROMIO on master vs. v5.

[2021-10-08 15:44] #158 closed, assigned to hjelmn

[2021-10-08 15:59] mwheinz commented on #9386
Officially PSM is still a part of 4.x, but it was dropped from Open MPI 5.x and, as a practical matter, we don't have any way to test it. I didn't know they'd put the source on github, that's good to know. All the Omnipath stuff (the successor to Infinipath) was transferred to Cornelis Networks when they spun us back out of Intel. (It's a long and complicated story...)

[2021-10-08 16:01] jsquyres commented on #9386
FWIW: Open MPI has backwards guarantees in a major version number series.  According to https://www.open-mpi.org/software/ompi/versions/timeline.php, Open MPI v4.0.0 was released in 2018.  Our backwards compat guarantees state that we won't break something in a later release where the major release number is the same.  So PSM is still included in all 4.0.x and 4.1.x releases.

[2021-10-09 14:04] rhc54 commented on #7393
@aivazis I have created this option - it will become available in OMPI v5. You just need to add `--prtemca add_pid_to_session_dirname 1` to your cmd line, or put `add_pid_to_session_dirname = 1` in the PRRTE default MCA param file for your installation.

[2021-10-09 14:47] rhc54 commented on #9446
Forgot to say: use `OPAL_PREFIX` to relocate. Nothing else required.

[2021-10-09 19:08] dalcinl opened #9501 "mpi4py: Regression in MPI_Alltoallv() using MPI_INPLACE"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

git master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

See logs.

### If you are building/installing from a gi

[2021-10-10 03:51] opoplawski opened #9503 "libopen-orted-mpir does not have a SOVERSION"
## Background information
libopen-orted-mpir.so is built without a SOVERSION.  With default packaging in Fedora, this causes it to end up in the -devel package.  It does not appear that libopen-orted-mpir.so is a module (it doesn't have -module in LDFLAGS), but it does have -avoid-version.  It's the only library like this that I can see.

### What version of Open MPI are you using? (e.g., v3.0.5,

[2021-10-10 04:24] opoplawski commented on #9503
I guess another change from 4.0.6 was that this library went from being built as static to being built as shared.  Not sure what triggered that.

[2021-10-10 04:25] opoplawski commented on #9503
-lib_LTLIBRARIES = lib@ORTE_LIB_PREFIX@open-orted-mpir.la
+noinst_LTLIBRARIES = lib@ORTE_LIB_PREFIX@open-orted-mpir.la

[2021-10-10 22:37] frizwi opened #9508 "Is it possible for the target to service MPI_Get's in parallel?"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Using MPI v4.1.1 on Linux

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from source tarball, no other configure flags other than **--prefix**

---------------

[2021-10-11 13:58] jsquyres opened #9511 "Coverity build failing due to common_ofi compile error"
The Coverity build has been failing (on master) for a week or so with the following compile error:

[code]

FYI @open-mpi/ofi

[2021-10-12 00:29] jsquyres commented on #9432
@ggouaillardet with the merge of #8371 is this issue now resolved?

[2021-10-12 04:21] kawashima-fj commented on #9494
This error occurs with some builds of Clang 9 and 10, too. `opal/include/opal/opal_portable_platform_real.h`, which was introduced/renewed in the recent commit d6bfdf2ace, triggers this error. The PR is posted as #9514.

[2021-10-12 06:52] kawashima-fj commented on #9061
Fixed by #9065 (master) and #9456 (v5.0.x).

[2021-10-12 06:52] #9061 closed

[2021-10-13 02:11] rhc54 commented on #9446
Hmmm...we rely on Slurm to forward the envars - is that not happening on your setup? We simply push the updated `PATH` and `LD_LIBRARY_PATH` values into the local environment and then call `srun`.

If you add something arbitrary to `PATH` and `LD_LIBRARY_PATH` and then execute `srun -n 1 env` to see the output, do you see the modified values from the backend?

[2021-10-13 05:27] frizwi commented on #9508
Using `MPI_Win_create` to create Windows, saves on modifying hundreds of arrays in existing code that uses malloc. Application needs to work in non MPI mode too but will add wrapper functions if it turns out to be a big performance gain

Also a follow up question, on the worker nodes I'm doing something like this call
`err = MPI_Win_create(lpatm, szS*sizeof(double), sizeof(double),
			 MPI_INFO_NU

[2021-10-13 09:14] gkatev opened #9526 "make install single component in v5?"
Hi, in version 4 of Open MPI I was able to make changes to a single component (eg. coll/basic) and do `make install` in only that component's directory, and it would work, avoiding the lengthier compile/install process of the whole project (ompi/opal). In v5, this does not appear to work. Is this change by design, was it never supposed to work that way, or is it a bug?

Specifically, I am comparin

[2021-10-13 11:25] gkatev opened #9527 "hwloc_base_binding_policy not working as expected in 5.0.0rc1"
Hi, the MCA parameter `hwloc_base_binding_policy=core` does not seem to achieve the desired effect in v5.0.0rc1, contrary to in v4.1.1. Regardless of the parameter's value (none/core) it appears to be binding to socket instead. `--bind-to core` works correctly (but cannot be set as an env var AFAIK?).

I've observed the issue in two systems with Epyc processors (one single-socket, one dual-socket)

[2021-10-13 14:35] jsquyres opened #9528 "v4.1.x: grequest callback return value incorrect"
Unfortunately, Coverity has identified a problem with PR #9510 after it was merged: [CID 1492848](https://scan5.coverity.com/reports.htm#v23248/p10084/fileInstanceId=202131574&defectInstanceId=52094432&mergedDefectId=1492848)

We have two choices:

1. PR a fix to the v4.1.x branch (note that this same issue affects master, v4.0.x, and the still-pending v5.0.x PR #9498).
2. Revert the commit from t

[2021-10-13 14:52] gkatev commented on #9526
I see, I also noticed you can specify with this parameter single components to be build as dso, which may be ideal for me -- thanks.

[2021-10-13 18:27] Yiltan opened #9534 "MPI_Precv_init() and MPI_Psend_init() - Missing info parameter"
## Details of the problem

I am currently working with the partitioned API (from the master branch) and had some issues compiling code. I noticed that Open MPI is missing the `info` parameter from the standard.

`info` is not used internally so that could be why it does not match the standard. I can create a quick PR if needed.

## Relevant Attachments

Open MPI
https://github.com/open-mpi/ompi/bl

[2021-10-14 01:31] ggouaillardet commented on #9446
@jsquyres @bwbarrett @rhc54 have we considered and ruled out using `$ORIGIN` with `RPATH`?

Currently:

[code]

because `RPATH` is hardcoded, the binary cannot be relocated without taking extra steps.
That can be improved by using `$ORIGIN`

[code]
and then
[code]

so we preserve the benefits of `RPATH` (e.g. no need to set `LD_LIBRARY_PATH`) but the prefix (`/home/user/local/openmpi-3.1.6`) can n

[2021-10-14 13:39] rhc54 commented on #9446
I'm afraid we don't have a solution yet, hence the delay.

[2021-10-14 14:13] jsquyres opened #9537 "Remove stale/unused OPAL hwloc APIs"
In master/v5.0.x, we should audit all the use of OPAL hwloc base APIs: delete the ones that are not being used.

We should search out those APIs and delete this now-unused code.

That being said, this needs to be done carefully such that we still have enough hwloc services available in a non-PRTE-launch scenario (e.g., direct launch).  E.g., ORTE used to mine some data from hwloc automatically (e.

[2021-10-14 18:13] wckzhang commented on #8822
Everything we need has been merged into master but not all backported. Should we wait until the backports are all done?

[2021-10-14 19:21] thomasgillis opened #9540 "RMA - standard compliance and empty groups"
- version: 4.1.0 and 4.5.0
- installation: easybuild
- OS: ubuntu and docker on macOS
- bug reproducers: https://github.com/thomasgillis/cori-mpi-rma

My issue (which is more a question) is twofold and originates from the small reproducer code `osc.cpp` that fails with OpenMPI.

1. I think it relates to the issue #8677 which has been solved and merge since then (cfr in the reproducers `empty.cpp`)

[2021-10-15 02:30] ggouaillardet commented on #9446
@jsquyres in this case, `$ORIGIN` is a special value that means "relative to the current binary/library" and is not related whatsoever to an environment variable.

I searched this a bit and this is not supported by autotools (their rationale is no one should relocate software because if has many more potential issues). Anyway, options are to either patch `libtool` (I guess patching `configure` wou

[2021-10-15 06:38] cparrott73 commented on #9444
FYI I decided to test "-tp px" internally with our current development compiler build, but I have run into an unrelated issue.  I have filed a bug on it.  I will let you know when I am able to make progress again.

[2021-10-15 12:57] jsquyres opened #9544 "Add partitioned communication APIs to TKR mpi module"
Per https://github.com/open-mpi/ompi/pull/9543#pullrequestreview-780797828, the MPI 4.0 partitioned communication APIs are missing from the TKR `mpi` module implementation (i.e., `ompi/mpi/fortran/use-mpi-tkr`).

The TKR implementation is for older Fortran compilers, but it's still supported, and therefore needs to have these APIs added.

Note that we don't declare subroutines in the TKR interface

[2021-10-15 13:16] jsquyres commented on #9446
@ggouaillardet I think @rhc54 fixed the OP's issue by ensuring that we propagate appropriate values through the run time launch, so the `$ORIGIN` proposal is a New Thing; we might want to move this discussion to a new issue / email / slack / whatever, since the original issue has been resolved.

[2021-10-15 15:11] #9494 closed, assigned to nobody

[2021-10-15 21:42] #9487 closed

[2021-10-18 06:23] JulianByrneANU commented on #7701
Also, at least on CentOS .bashrc is not executed with "mpiexec -np 1 true" but ""HWLOC_COMPONENTS=-gl mpiexec -np 1 true" works.

Openmpi could do with a more careful elucidation of what is run locally (fork) and remotely (ssh) by mpiexec etc. as arbitrary environment variables can have a significant effect on the user program. I've found it to be an annoying practical problem.

[2021-10-18 17:35] mdosanjh commented on #9544
@jsquyres One thing I'm not 100% clear on here is the 'choice buffers'; I'm assuming that MPI_Pready_list should not have a prototype here as it includes a buffer of partitions to mark ready?

[2021-10-19 10:39] #9534 closed, assigned to nobody

[2021-10-19 13:16] jsquyres opened #9554 "Is partitioned communication going to v5.0?"
Is the MPI-4.0 partitioned communication work heading to the v5.0 branch?

As @EmmanuelBRELLE pointed out in https://github.com/open-mpi/ompi/pull/9543#issuecomment-946606968, it looks like at least the following would need to be brought over to the v5.0.x branch:

* https://github.com/open-mpi/ompi/pull/8641
* At least part of https://github.com/open-mpi/ompi/pull/8882
* https://github.com/open-m

[2021-10-19 14:04] jsquyres commented on #8919
Shh!! Don't say such things publicly!!  🙊

Yes, I was also thinking we should probably some discussions about this.  There is a _giant_ amount of inertia behind the GNU Autotools in all the Open MPI projects, though... it would take a ***lot*** of work to move away from them.

[2021-10-19 14:38] devreal opened #9555 "Check MPI 4 Info behavior: ignored keys should not be returned"
MPI 4 mandates that only info keys  not ignored by the implementation are returned by `MPI_[Win|File|Comm]_get_info`, e.g.,

Following a discussion on the MPI Forum mailing list [1], we should make sure that OMPI drops all info keys it does not know during file/window/comm construction. Recent changes to the info subscriber infrastructure should ensure that this is already true for `MPI_[Win|File|

[2021-10-19 15:07] hppritcha commented on #9540
I have a fix in the works.

[2021-10-19 15:08] gpaulsen commented on #9540
@devreal, Howard said he's working on a fix now

[2021-10-19 17:48] bwbarrett commented on #9537
@rhc54 and @jsquyres we don't support direct launch in a non-PMIx environment in v5.0, right?

Agree with the being careful and I'm not sure that we'll get some of the HWLOC data from PMIx today (I remember having trouble with that during the HWLOC repackage), but just want to make sure we've clearly defined the problem space.

[2021-10-19 23:04] markalle commented on #9484
In this PR I just looked at the various "dimension ... array_of_..." lines:
https://github.com/open-mpi/ompi/pull/9566

[2021-10-19 23:57] rwespetal opened #9568 "Segfault in common OFI multi NIC/provider selection code"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from source

### If you are building/installing from a

[2021-10-20 04:17] zpcalan opened #9569 "Why is there no configure file in released source code package."
ompi version:
V4.0.3
Build from source.
OS:ubuntu18.04

Hi, developers of open mpi.

If I download the github [released source code ](https://github.com/open-mpi/ompi/archive/v4.0.3.tar.gz), I have to `./autogen.pl` and then `./configure`. In some environment, this may cause some configure error.

[code]

But if I use the package from [home page](https://download.open-mpi.org/release/open-mpi/v4.0

[2021-10-20 07:09] zpcalan commented on #9569
Do you mean that downloading released tarball in https://github.com/open-mpi/ompi/tags is not recommaned?

[2021-10-20 12:59] zpcalan commented on #9569
Sorry I didn't quit understand. Do you mean modifying `config/opal_check_cuda.m4` as you said will fix this issue?
We reproduced this issue in a container with ubuntu 18.04. But on some physical machine with ubuntu 18.04, the issue disappeared. Could it be the environment autotools' problem? But the container's autotools' version is the same as the phsical machine.

[2021-10-20 13:13] devreal commented on #9508
Mhh, when breaking it down to (3 operations (lock, get, unlock) x 5 iterations x N worker) I end up with ~10ms per operation in both cases, which seems quite slow. I wanted to test your example both with and without xpmem but it doesn't seem to be self-contained so I fail to compile it, unfortunately. Have you had a chance to run with UCX and/or xpmem?

[2021-10-20 14:58] mwheinz opened #9575 "Use of OFI for both MTL and BTL results in consuming double the # of end-points and double the # of hardware resources."
I feel like this is a known limitation but I was asked to open an issue to keep track of it.

With the retirement of the pt2pt component, some MPI operations are now run through the OFI BTL. The problem is that this component operates completely independently from the OFI BTL which means that applications that require such operations end up using twice the number of hardware resources in 4.1.0 and

[2021-10-20 22:18] rhc54 opened #9576 "Configure breaks when using combinations of "--with-foo=external""
This applies to both OMPI master and v5.0. The problem is that the configure breaks when different combinations of `--with-foo=external` are used, and/or when the external package is not in a standard place such as `/usr` but _is_ pointed to by the usual flags (`CPPFLAGS`, `LDFLAGS`, etc) or is in the current `LD_LIBRARY_PATH`. I have fixed the problem for when PRRTE is the "external" package, so

[2021-10-21 04:30] zpcalan commented on #9569
@jsquyres
Thanks! Your answer helps a lot. I downgrade to 2.69 and the `configure` file is valid. I didn't expect the difference between 2.71 and 2.69 had such a big impact. : )
We will download package from the official link in later development.

[2021-10-21 04:30] #9569 closed

[2021-10-21 14:04] #9568 closed, assigned to acgoldma

[2021-10-21 17:31] rhc54 commented on #9389
The zero value for the reported pid just means that the RTE either didn't get a chance to record it, or lost the entry when the proc failed. Either way, it is irrelevant to the problem.

[2021-10-21 17:40] jotabf opened #9580 "MPI_Win_allocate() fails when force to use RDMA"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

I did not make the installation. I'm trying to get this inf

[2021-10-21 20:38] #9389 closed

[2021-10-22 01:48] rhc54 opened #9582 "mpirun using srun is giving pmix_psec_base_open failed"
Reported on PRRTE, which isn't in OMPI v4.1.2:

Thank you for taking the time to submit an issue!
Background information

This is with OMPI v4.1.2a1

When using slurm-20.11.7 compiled with pmix-3.2.3, and job is submitted like below :

srun -N 1 -c 2 --pty /bin/bash

on the allocated compute node, when I execute the below command, I get
the PMIX error with return value -46

mpirun -c 2 /bin/hostna