[2021-10-22 01:49] rhc54 commented on #9582
@pankajd-57 reported this - referencing them here.

[2021-10-22 02:02] devreal commented on #9580
Can you post the output of running your test with `--mca osc_verbose 100`, both the one with and without forcing osc/rdma? That might give a clue what is going on...

[2021-10-22 03:00] ggouaillardet commented on #9582
@rhc54 which PMIx is supposed to be used by `mpirun` here?
is this the (external) PMIx server spawned by SLURM?
or is this the (internal) PMIx server spawned by `mpirun` (or `orted` if there were multiple nodes).

@pankajd-57 is `munge` running on your compute nodes? you can
`echo | munge` to double check that
if success, the output should be something like that
`MUNGE:AwQDAAA1VImtMVNLu5wZC9gyGq9i

[2021-10-22 04:37] ggouaillardet commented on #9582
OK, did you build Open MPI with the built-in PMIx or can you post your Open MPI `configure` command line?

If you do not know, can you check the existence of a `mca_psec_munge.so` file in both Open MPI and SLURM PMIx directories?
I am thinking the issue could be Open MPI was built with the internal PMIx but is using the external one at runtime (or the other way around)

can you also run
`env | gre

[2021-10-22 20:34] tkordenbrock opened #9586 "osc-portals4: undefined variable error in minimum alignment info key lookup"

[2021-10-23 01:02] BKitor opened #9588 "coll_ucc_common.h is missing in v5 tarball"
Thank you for taking the time to submit an issue!

## Background information

coll_ucc_common.h is missing in the openmpi-5.0.0rc2.tar.gz form openmpi.org.

`./configure --with-ucc=<ucc_dir> && make` errors out with

coll_ucc_alltoall.c:10:10: fatal error: coll_ucc_common.h: No such file or directory
   10 | #include "coll_ucc_common.h"
      |          ^~~~~~~~~~~~~~~~~~~

[2021-10-24 03:10] pankajd-57 opened #9589 "PMIX ERROR: NOT-FOUND in file server/pmix_server.c at line 237"
Thank you for taking the time to submit an issue!

## Background information
--------------------------------------------------------------------------
After doing srun and getting shell of the compute node, when i execute

mpirun -np 2 /bin/hostname, I get below PMI error :

[code]

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
openmpi version

[2021-10-24 19:30] wzamazon opened #9590 "omb/osu_acc_latency hang with master branch"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master branch one following commit

[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

compiled from source

#

[2021-10-25 16:22] #9588 closed, assigned to nobody

[2021-10-25 16:55] #9492 closed, assigned to nobody

[2021-10-25 18:44] mwheinz opened #9595 "PMIX error running with 4.0.7rc1."
Trying to take 4.0.7rc1 for a spin but I seem to be having trouble on one of my machines (but not the other) Unfortunately, the error message isn't giving me a hint on why the machines are behaving differently.

Open MPI is configured to use all-internal libraries:
[code]

Result on the "bad" machine is:

[code]

[2021-10-25 18:51] #9595 closed, assigned to nobody

[2021-10-25 19:04] #9582 closed, assigned to nobody

[2021-10-26 15:36] jeromerobert opened #9599 "mca_pml_ucx_preq_completion: Assertion `preq->tmp_req != ((void *)0)' failed"
## Background information

I'm building with a git clone (v4.1.x / 1c65ccacc3):

[code]

### System

* Operating system/version: RHEL7
* Computer hardware: Intel Xeon
* Network type: mlx4

-----------------------------

## Details of the problem

I get random crashes in UCX which looks like that:

[code]

The stack looks like that:

[code]

The crash happen in `mca_pml_ucx_preq_completion` when `m

[2021-11-01 07:52] karasevb commented on #9599
@jeromerobert if cannot provide a reproducer program, could you please specify a communication pattern used in your application? What is the minimum number of nodes, procs to repro? So we can try to reproduce a similar scenario.

[2021-11-01 14:22] devreal commented on #9580
@jotabf I tried your example with osc/ucx and get output both on shared memory and with multiple nodes in an IB network using Open MPI 4.1.1 built against UCX 1.10.0:

[code]

I believe this is what you expect, right?

I'm not sure why this does not work for you with osc/ucx. On IB networks, osc/ucx is the backend of choice while osc/rdma is more generic, supporting network such as Cray Aries and

[2021-11-01 14:30] jeromerobert commented on #9599
I'm trying, so far with no luck. Here's what I found (I'm aware that it doesn't help much :-( ). I applied this patch:

[code]

- I cannot reproduce the bug with 32 processes on one node, but I can with 64 processes on 2 nodes (this is with `ud_verbs` only, no shared memory transport).
- Among the 64 processes 1 to 10 reach <https://github.com/open-mpi/ompi/blob/1c65ccacc3/ompi/mca/pml/ucx/pml_ucx

[2021-11-01 14:50] BrushXue commented on #7393
Any fixes for this problem? I've been seeing these error messages on my Mac for a long time:
[code]

[2021-11-01 15:25] devreal commented on #9508
@frizwi I ran your example on our IB system and get the following runtimes:

2W:
[code]

4W:
[code]

8W:
[code]

That seems to do be what you expect, right? Looking at your example, I would encourage you to move the shared locks out of the main loop and use `MPI_Rget`+`MPI_Wait` instead, as that saves a bit of overhead.

Bottom line: `MPI_Win_create` in combination with shared memory only works we

[2021-11-01 17:34] jotabf commented on #9580
Yes, it is exactly this. I have this result only when I use shared memory.

**Model of IB driver:** Mellanox Technologies MT27500 Family [ConnectX-3]
I am running on a cluster for which I do not have sudo permissions. Then, I've been trying to use the default openmpi Installation `Openmpi v4.0.5` with `UCX v1.9.0`, but I'm doing my own Openmpi Installation (locally) with `Openmpi v4.1.1` and `UCX

[2021-11-01 17:36] rhc54 commented on #7393
You mean other than the one already outlined above - i.e., create a `$HOME/tmp` directory and set the `TMPDIR` envar to point at it? No, that is _the_ fix.

[2021-11-01 17:59] yosefe commented on #9580
Per https://github.com/openucx/ucx/wiki/OpenMPI-and-OpenSHMEM-installation-with-UCX#running-open-mpi-with-ucx, need to use something like `UCX_NET_DEVICES=mlx4_1:1`
`UCX_NET_DEVICES=ib0` will force using TCP over IPoIB driver, which is not really using RDMA, so it's less optimal

[2021-11-01 18:12] jotabf commented on #9580
@yosefe I already tried to run `salloc --exclusive --hint=compute_bound -N2 mpirun -np 2 --mca pml ucx -x UCX_NET_DEVICES=mlx4_0:1 ./test.o ` but the wrong behavior do not change.

[2021-11-01 18:20] yosefe commented on #9580
AFAIU the problem is MPI_Get does not behave as a one-sided operation when running across nodes?
When using UCX , can you pls add `-x UCX_LOG_LEVEL=info` to mpirun and post the full command line and output?

[2021-11-01 19:12] jsquyres commented on #9385
@donners-atos This appears to now be fixed.  Can you check the latest v4.0.x and/or 4.1.x nightly snapshots?

https://www.open-mpi.org/nightly/v4.0.x/
https://www.open-mpi.org/nightly/v4.1.x/

[2021-11-01 19:16] jotabf commented on #9580
Exactly.

[code]

[2021-11-01 19:29] yosefe commented on #9580
according to this log, RDMA transport IS selected in UCX.
@jotabf for sake of the experiment is it possible to remove MPI_Win_lock/unlock from the loop, to see if the issue is in MPI_Get or the lock/unlock?

[2021-11-01 19:50] jsquyres commented on #9332
I agree; I thought that IBM was interested in back-porting to at least v4.1.x so that you guys could have parity with the community release...?

[2021-11-01 19:53] jsquyres commented on #9342
@AntonC9018 Were you able to try to v4.1.0 Cygwin link that @matzeri provided?

[2021-11-01 19:58] jsquyres commented on #9386
@DanCalugaru Did `--enable-mca-no-build=btl-ofi` work for you?

[2021-11-01 20:00] jsquyres commented on #9481
@BryanFlynt-NOAA Was `FCFLAGS=-fallow-argument-mismatch` sufficient to workaround the issue?

[2021-11-01 20:01] jsquyres commented on #9528
This is now fixed.

[2021-11-01 20:01] #9528 closed

[2021-11-01 20:14] AntonC9018 commented on #9342
@jsquyres I don't need the lib anymore. Thanks for the help anyway.

[2021-11-01 20:30] chengxuyuan1998 commented on #7393
`#include <mpi.h>
#include <stdio.h>

int main(int argc, char *argv[]) {
  int rank, num_proc;
  const int ROOT = 0;
  double pi;

  MPI_Init(&argc, &argv);
  MPI_Comm_size(MPI_COMM_WORLD, &num_proc);
  MPI_Comm_rank(MPI_COMM_WORLD, &rank);

  // pi only initialized in root
  if (rank == ROOT) pi = 3.1416;
  // If you don't want to use if/else, consider:
  // pi = 3.141516 * (!rank);

  MPI_Bcast(

[2021-11-01 20:33] #9342 closed

[2021-11-01 20:35] chengxuyuan1998 commented on #7393
[code]
If the codes go like this, the problem appears.

But if the codes go like this, there is no problem at all.
[code]
I am completely new to OpenMPI, I encountered this problem on my M1 Mac with the newest Monterey.

[2021-11-01 20:47] jotabf commented on #9580
@yosefe I do not know if there is a way just remove the lock/unlock. However, I tried using `MPI_Win_fence` on the place and It did not work.

[2021-11-01 20:49] devreal commented on #9580
@jotabf Removing the lock is trivial: move the `MPI_Win_lock` and `MPI_Win_unlock` out of the loop and use `MPI_Rget`+`MPI_Wait` inside the loop. No need to have the locks in each iteration...

[2021-11-01 21:03] BrushXue commented on #7393
If I do that it may screw up other program. Is there any possible fix from openmpi side?

[2021-11-01 21:09] rhc54 commented on #7393
In one case, `pi` is initialized everywhere - in the other, it isn't. The two cases are not equivalent, so I expect the problem is in your code.

[2021-11-01 21:29] #9590 closed

[2021-11-02 03:44] frizwi commented on #9508
Thanks @devreal so it sounds like it *is possible* to get the scaling that I'm looking for, as per your post above. The bad news is that I'm unable to reproduce the scaling on my cluster. I've attached the output of ompi_info, if you could post yours, then I could try and get it built the same way.
[ompi-info.gadi.txt](https://github.com/open-mpi/ompi/files/7457666/ompi-info.gadi.txt)

Are you run

[2021-11-02 03:56] frizwi commented on #9508
On a different cluster, I get these timings:
2W:
[code]
4W:
[code]

8W:
[code]
Not as good a scaling as yours, but atleast it's not _descaling_  like in the other gadi cluster I reported about a week ago!

It's ompi_info is here:
[ompi-info.pearcey.txt](https://github.com/open-mpi/ompi/files/7457730/ompi-info.pearcey.txt)

[2021-11-02 07:27] donners-atos commented on #9385
thank you for the fix. I'll test it in the coming weeks.

[2021-11-02 14:05] DanCalugaru commented on #9386
Hello Jeff & Michael ,
Yes  --enable-mca-no-build=btl-ofi solved the problem and all tests was OK (as well as some benchmarks).
You can close this issue, thank you for your assistance and additional informations.
Dan

[2021-11-02 14:49] devreal commented on #9508
@frizwi Yes, the changes to the code are what I was thinking (although my understanding is that you're only ever reading from process with rank 0, so taking a shared shared for that process would be sufficient).

I could recreate the scaling on both shared memory and with a single process per node.

As I said earlier, `MPI_Win_create` won't work well on shared memory unless you've built either Ope

[2021-11-02 15:37] #9386 closed

[2021-11-02 19:20] awlauria commented on #8822
@wckzhang is everything backported now? Not sure if we can close this or not.

[2021-11-02 19:24] gpaulsen commented on #9586
@tkordenbrock, please add some more details?  What is this?  Where is the error?  how can we reproduce?  Is this really a blocker?  Can you just define the variable?

[2021-11-02 19:29] tkordenbrock commented on #9586
This is the issue for pull requests https://github.com/open-mpi/ompi/pull/9587 and https://github.com/open-mpi/ompi/pull/9597.  They are both merged so this can be closed.

[2021-11-02 19:29] #9586 closed

[2021-11-02 19:30] tkordenbrock commented on #9554
@jsquyres #9593 has been merged so I think this can be closed.

[2021-11-02 19:46] jsquyres commented on #9554
See https://github.com/open-mpi/ompi/pull/9593#issuecomment-958113526.

[2021-11-02 20:58] wckzhang commented on #8822
Yes it can be closed

[2021-11-02 22:21] dshrader opened #9617 "ucx/ob1 pml mismatch within the same job - failed ib detection?"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

release tarball

### Please describe the system on which you

[2021-11-02 22:25] dshrader commented on #9617
I forgot to mention that I am using ucx 1.9.0 from Mellanox OFED. Additionally, I believe that I tried against ucx 1.11.2.

[2021-11-02 23:33] frizwi commented on #9508
@devreal Yes, that's right, only rank 0 will ever write into the memory referenced by that win and all other ranks will only ever read. In ```MPI_Win_create``` rank > 0 pass NULL. ```MPI_Win_lock``` seems to work as it's not true lock in the mutex sense otherwise this wouldn't work. I'll only ever call it once at the start of the application for each worker rank.

Finally, any assert values that h

[2021-11-03 00:45] gpaulsen commented on #9617
This is strange:
[code]
 vs
[code]

[2021-11-03 09:05] yosefe commented on #9617
cc @karasevb
@dshrader can you pls try with the fix #9505 ?

[2021-11-03 10:14] amartinhuertas opened #9619 "Deadlock in Scatterv!, OpenMPI 4.1.0/4.1.1 (potential bug)"
Dear OpenMPI developers,

when running our MPI code on a cluster, it deadlocks on a Scatterv! collective. We could come up with a MWE written in C that reproduces the deadlock on the login node of the cluster when executed on 4 MPI tasks (find it below). We have observed the deadlock both with OpenMPI 4.1.0, and 4.1.1. However, the deadlock is NOT present with 4.0.5 nor 3.1.4.
Initial tracking ste

[2021-11-03 11:22] ggouaillardet commented on #9619
Thanks for the report!

I did a quick check and was unable to reproduce the deadlock on my laptop (with Open MPI 4.1.1 from homebrew)

Could you please try
[code]

if it does not deadlock, you would have a workaround and that would hint the issue is specific to UCX.

[2021-11-03 13:11] amartinhuertas commented on #9619
The workaround that I currently have is to use this version of the code

https://github.com/JuliaParallel/MPI.jl/issues/517#issuecomment-957059589

Note that I am not using null on non-root tasks.

[2021-11-03 13:47] rhc54 commented on #8170
Just to provide an update here, as promised. We have come up with a way of doing this in all ("older" and "newer") architectures. I am working on implementation now and have found no roadblocks. I'm not sure when it will appear in an OMPI release - hopefully v5.0.0, but could be a little later.

[2021-11-03 18:14] dshrader commented on #9617
Sure! I just pulled the diff and will let you know how it goes.

[2021-11-03 18:37] awlauria commented on #9544
I believe this can be closed as https://github.com/open-mpi/ompi/pull/9593 was merged into v5, which included #9585 as a cherry-pick. If I am wrong, please re-open.

[2021-11-03 18:37] #9544 closed

[2021-11-03 18:47] hppritcha commented on #9540
closed via #9556  and related PRs to release branches

[2021-11-03 18:47] #9540 closed

[2021-11-03 19:33] dshrader commented on #9617
@yosefe, I built Open MPI 4.1.1 after applying that patch, and running my hello_world job over 30 times didn't produce the error once. I usually get the error within 4 or 5 tries, so this is definitely progress.

[2021-11-03 19:37] jsquyres commented on #9617
@dshrader FWIW, that fix should be included in Open MPI 4.1.2rc2: https://www.open-mpi.org/software/ompi/v4.1/

[2021-11-03 20:33] awlauria commented on #8822
Thanks!

[2021-11-03 20:33] #8822 closed

[2021-11-03 23:45] eschnett commented on #7766
I have a similar issue – I want to control how symbols in dynamic libraries are resolved on macOS. On Linux, I would use `RTLD_DEEPBIND` for this. On macOS, this is the default behaviour (corresponding to `-twolevel_namespace`), and the option `-flat_namespace` disables this. On Linux, this option is used when loading the library, on macOS, this choice is made when building the shared library.

I

[2021-11-04 11:05] angainor opened #9624 "segfault in vmc_bcast_multiroot when running OpenFoam"
We have recently upgraded our EDR system to Centos 7.9 with MLNX_OFED_LINUX-5.4-1.0.3.0 and the corresponding HPCX 2.9 distribution (before that we used HPCX 2.7). After that switch users started to report the following segfault in OpenFoam programs compiled with OpenMPI 4.0.3:
[code]
The segfault goes away when we turn off HCOLL with `-mca coll_hcoll_enable 0`. Could this be some issue with HCOLL

[2021-11-04 14:30] devreal commented on #9508
I cannot think of any info key that would apply here.

I would appreciate if you could keep us updated on whether performance meets your expectations once you run your application on the target cluster. In the mean-time, feel free to close this issue if you feel like it's been solved.

[2021-11-04 14:34] devreal commented on #7955
@thomasgillis Support or the `mpi_minimum_alignment` info key has been merged into `master` and will be part of the 5.0 release (https://github.com/open-mpi/ompi/pull/7985). Does that solve your issue? Can we close this ticket?

[2021-11-04 14:35] thomasgillis commented on #7955
Yes! Thx a lot.

[2021-11-04 14:35] #7955 closed

[2021-11-04 15:41] abouteiller opened #9625 "cobuild doesn't work"
## Background information

Some cobuild' infrastructure that was modified in Open PMIx and PRRTE isn't compatible with Open MPI configure structure. That means that using PMIx/PRRTE master is not currently possible (external builds will work fine).

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

[code]

[code]

### Please describe the system on

[2021-11-04 16:21] geligeli opened #9626 "MPI_Wait hangs after MPI_Cancel on a request from an MPI_Issend."
Thank you for taking the time to submit an issue!

## Background information

The following code hangs for me in MPI_Wait:

[code]

From what I understand after MPI_Cancel and subsequent MPI_Wait should always return ( cf https://www.open-mpi.org/doc/v4.1/man3/MPI_Cancel.3.php )
Is this a bug or error on my  behalf?

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch nam

[2021-11-04 16:29] albandil opened #9627 "Output redirection to file not working properly"
I am using Open MPI from the 5.0.x development branch (every time with updated git submodules and re-run top-level `./autogen.pl`) on openSUSE Leap 15.3 with GCC 10.3.

Starting with the commit a0e8c685feb20a5af056261df33247efb973ab29 I observe wrong output redirection when using `--output filename=log`. Specifically, *before* that commit, the following program correctly writes ten numbers to each

[2021-11-04 17:11] bosilca commented on #9626
You cannot cancel send requests, only receive requests.

[2021-11-04 17:16] geligeli commented on #9626
Actually the standard says that exactly this example should be correct: (cf https://www.mpi-forum.org/docs/mpi-4.0/mpi40-report.pdf pdf-page 536):

(Example 11.6 This program is correct. The cancel operation must succeed, since the send
cannot complete normally. The wait operation, after the call to MPI_Cancel, is local—no
matching MPI call is required on process 1. Cancelling a send request by ca

[2021-11-04 17:35] bosilca commented on #9626
Not according to Section 3.8 page 84.

[2021-11-04 17:37] bosilca commented on #9626
We missed this example in the MPI standard when we deprecated the send. I will provide a fix there, thanks for the report.

[2021-11-04 18:26] gpaulsen commented on #3879
@awlauria @hjelmn Can we now close this?

[2021-11-04 18:27] gpaulsen commented on #117
Closing as "Too Old"

[2021-11-04 18:27] #117 closed

[2021-11-04 18:29] gpaulsen commented on #15
Link to #8878 is incorrect.

This issue is / has been resolved in current (Open MPI v4.0.x + ) versions.  Closing.

[2021-11-04 18:29] #15 closed

[2021-11-04 18:30] gpaulsen commented on #2331
@janjust Can we close this?  I believe that the `-pthread` compiler issue has been resolved in new (PGI / nvcc) compiler versions 16 and beyond?  Can you confirm and close if true?

[2021-11-04 18:32] gpaulsen commented on #3150
Could someone please re-verify this with Open MPI v5 or master?
If this is still an issue, we should try to resolve this.  Please also comment as to which "current" version of OMP has been tested.

[2021-11-04 18:40] janjust commented on #2331
@cparrot73 is probably better suited to answer this.

@open-mpi/cuda for vis

[2021-11-04 18:41] geligeli commented on #9626
Thanks so much!

[2021-11-04 18:54] walkup commented on #2331
I can confirm that there is no problem with -pthread when using the current
NVIDIA HPC Toolkit, with nvfortran as the underlying Fortran compiler.  I
think this "issue" can be closed.

Regards,
Bob Walkup ***@***.***, 914-945-1512)

From:	"Geoff Paulsen" ***@***.***>
To:	"open-mpi/ompi" ***@***.***>
Cc:	"walkup" ***@***.***>, "Mention"
            ***@***.***>
Date:	11/04/2021 02:31 PM
Subject:	[E

[2021-11-04 18:55] #2331 closed

[2021-11-04 18:56] bosilca commented on #9626
Here is the PR removing this inconsistency from the MPI standard (https://github.com/mpi-forum/mpi-standard/pull/635)

[2021-11-04 18:56] #9626 closed

[2021-11-04 21:22] geligeli commented on #9626
Wait I don't understand: MPI_CANCEL on send is only deprecated not removed yet, no? So the example should still be correct according to the MPI 4.0 standard. Or does deprecated mean it's actually not part of the standard anymore?

[2021-11-04 21:31] bwbarrett commented on #9626
Deprecated means that you shouldn't use that feature.  Regardless of timing, very few MPI implementations have ever implemented MPI_CANCEL on sends in a way that works with the example.  Some have, with some transports.  Open MPI has never supported MPI_CANCEL of sends.  For most applications, the performance tradeoffs are the wrong call.

[2021-11-04 21:38] hjelmn commented on #9626
Also to note since this just got asked internally. That example also fails with Intel MPI. When multiple implementations don't work with something just don't do it!

[2021-11-04 21:54] bosilca commented on #9626
In addition to all these answers, I'm not really convinced the example is correct because MPI_Cancel being defined as a local operation it might not always succeed, so the status of the resulting MPI object is not binary, aka. the operation is either cancelled or will eventually complete. I would use MPI_Test_cancelled before the blocking wait to check if the operation was cancelled, and would ski

[2021-11-05 00:49] ggouaillardet commented on #3150
First things first:
the MPI standard does not specify how `MPI_COMM_WORLD` and other MPI "things" have to be implemented, this is left to the implementors.
That means that if a MPI "thing" is used inside an OpenMP region with the `default(none)` and no explicit declaration such as `shared(...)`, this is undefined behavior.
Because of MPICH implementation choices, the undefined behavior is "it work

[2021-11-05 01:40] rhc54 commented on #3150
FWIW: having worked a bit between these two worlds while at my former employer, IMO @ggouaillardet is 100% correct. There is no specification for how these two programming models should interact, and thus there is no portability between various combinations of OMP and MPI implementations (and yes, the OMP ones have their little quirks too, just like MPI).

If portability is truly desired, you'll h

[2021-11-05 11:07] ggouaillardet commented on #9625
@abouteiller are you sure your submodules are up-to-date?

Here is what you have in the embedded Open PMIx
[code]
(`cobuild` is treated as a directory)
but here is what I have
[code]
(here `cobuild` has a special meaning)

yes, there are two unnecessary whitespace (`--with-prte-extra-libs= /...` and `CPPFLAGS= -I/...` but since these are correctly quoted, they should have zero impact on the outcom

[2021-11-05 13:21] rhc54 commented on #9625
The problem is that @abouteiller must have done a `git pull` on the master branches of the PMIx and PRRTE repos. As was reported to the RMs and is scheduled to be discussed in an upcoming Tues meeting, we have diverged on the configure logic. Long explanation, but basically OMPI can no longer use the master branches of those repos.

I'm afraid you'll need to revert both of the submodules to the ha

[2021-11-05 14:17] rhc54 commented on #9625
Sorry - should have take a little extra time to be clear. It is only the configure logic that has diverged. Thus, you cannot move the submodule pointers in OMPI master.

However, you _can_ clone the PMIx/PRRTE repos and build/use them externally. They are functionally just fine.

[2021-11-05 19:14] candidobrian opened #9629 "OpenBSD 7.0 statfs, no f_type"
Trying to build OpenMPI 4.1.1 on OpenBSD 7.0 with gcc 11.2.0 and gas 2.31.1

Configure options are:
--enable-static
--enable-mca-no-build=patcher
--disable-dlopen

The computer hardware is a Dell Inc. 0Y2MRG with an Intel i7 2600 and 16 GB of RAM with a standard networking.

The problem occurs during the compile stages of romio where the code tries to call "f_type" from statfs which does not exist

[2021-11-05 21:22] dshrader opened #9630 "Disabling tcp btl causes issues for rdma osc when running IMB-RMA"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.1
Master nightly tarball from Nov. 4th

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from release tarballs;

[2021-11-05 22:49] yosefe commented on #9580
The issue is that MPI_Rget issues an atomic operation in https://github.com/open-mpi/ompi/blob/d4219f814449846d0e29672101740cdcc8a89b0f/ompi/mca/osc/ucx/osc_ucx_comm.c#L970, but hardware atomic operations are not enabled in UCX on ConnectX-3, because ConnectX-3 does not support all required atomic operations (such as 32-bit atomics)
@janjust can why is the atomic operation needed in MPI_Rget/MPI_G

[2021-11-06 02:24] rhc54 commented on #9629
Just to be clear - are you saying that OpenBSD has _never_ include `f_type` in the statfs struct? Or are you saying they stopped doing so at v7.0?

[2021-11-06 02:25] rhc54 commented on #9629
@roblatham00 since this targets ROMIO

[2021-11-06 02:30] roblatham00 commented on #9629
Oh joy... adding yet another kind of stat flag to romio's "most portable
stat in the world" function... thanks for the notice.

On Fri, Nov 5, 2021, 21:25 Ralph Castain ***@***.***> wrote:

[2021-11-06 02:36] candidobrian commented on #9629
I tried doing a bit of digging before posting and the problem seems to have started with OpenBSD 5.3 and I didn't find any solutions. I figured I would bring it up here

[2021-11-06 04:17] ggouaillardet commented on #9629
@candidobrian ROMIO is (oversimplified) pulled from MPICH, so this is where the issue should be first reported and fixed. Anyway, now Rob is in the loop, that will happen.

Meanwhile, you can `configure --enable-mca-no-build=io-romio321 ...` so the ROMIO component won't be build on your machine. MPI-IO will be handled by the "native" `ompio` component.

[2021-11-06 15:13] hjelmn commented on #9580
This should work with osc/rdma as an alternative until Mellanox can fix osc/ucx. You need to specifically enable the memory domain with btl/uct for it to work.

[2021-11-07 15:37] rhc54 commented on #8170
The solution is in https://github.com/openpmix/prrte/pull/1141 - should be in the v5.0.0 release. I'll look at possibly bringing it back to the 4.x series as well since it proved fairly simple.

[2021-11-07 16:16] janjust commented on #6987
fixed with #9636

[2021-11-08 15:09] markalle commented on #9484
(is in master, and I just rebased the v5.0.x cherry-pick):
https://github.com/open-mpi/ompi/pull/9608

[2021-11-08 15:24] abouteiller commented on #9625
Thanks, that was indeed the issue. I changed the labels to reflect current status (i.e., waiting on reconciliation) but left open so that somebody experiencing the same problem finds it.

[2021-11-08 15:29] janjust commented on #9624
@angainor is openFOAM built with HPCX-v2.9? or is it built with v2.7 and fails to run with v2.9?

[2021-11-08 15:36] angainor commented on #9624
@janjust OpenMPI was compiled with HPCX 2.9. I don't know if OpenFOAM
itself has a dependency on HPCX, probably not. In either case, using mpirun
and turning off HCOLL does work.

On Mon, Nov 8, 2021, 16:30 Tommy Janjusic ***@***.***> wrote:

[2021-11-08 15:37] dshrader commented on #9630
In talking with @hppritcha, this may be about the osc rdma component complaining about the lack of an inter-node btl being available. `ompi_info` for the master nightly tarball does list a uct btl, but that component is not referenced in the error message. I'll have to see if the uct btl is being tried at all at runtime.

[2021-11-08 15:53] dshrader commented on #9630
According to the verbose btl output, the uct btl is attempted, but init of it failed:

[code]

So, if I turn off tcp, then there really are no btls for inter-node transport available. I am not able to figure out why the uct btl fails to init, however, so I don't know what else to try to test the theory of no inter-node btls being available as the root cause of the error when the osc rdma component

[2021-11-08 16:08] vspetrov commented on #9624
@angainor,
is it possible to have binary/data input for us to reproduce? what is the cmd line and scale?

a couple of quick trials if possible:
1. -x HCOLL_MCAST=rmc - just to isolate to vmc mcast component - check fails or works
2. For failing case plz collect some debug log: -x LD_PRELOAD=$HPCX_HCOLL_DIR/debug/lib/libocoms.so:$HPCX_HCOLL_DIR/debug/lib/libhcoll.so -x HCOLL_LOG_LEVEL=trace,mcast:1

[2021-11-08 18:28] hjelmn commented on #9630
Hey, UCT fails to enable because we don't set a default memory domain (this is changing). I have been out of the loop on LANL systems for some time. Is this a new system with Mellanox HCAs? mlx5?

[2021-11-08 18:50] dshrader commented on #9630
@hjelmn, this machine has been around for three or four years... It has Mellanox ConnectX-5 cards. `lspci` says the card is in the MT27800 family.

[2021-11-08 20:08] jsquyres commented on #9484
We fixed this on master and v5.0.x.

Although there are no ABI issues associated with this change, and it's _probably_ low risk to take these changes back to v4.0.x and v4.1.x, we made the executive decision to not take them back to these old branches just because there doesn't seem to be much benefit (no one has complained about this for years).

So we're leaving this note for our future selves:

[2021-11-08 20:08] #9484 closed

[2021-11-08 20:23] hjelmn commented on #9630
Try with ```--mca btl_uct_memory_domains mlx5_0,mlx4_0```.

[2021-11-09 08:07] karasevb commented on #9599
@jeromerobert any luck to get a reproducer?

[2021-11-09 08:15] mkre opened #9638 "Intermittent segfaults in btl smcuda in absence of GPUs"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.0.6

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Compiled from a source tarball

### Please describe the system on which you are running

* Operating system/ver

[2021-11-09 11:50] angainor commented on #9624
@vspetrov Thanks for the suggestions. The jobs were run on 10 compute nodes, 128 cores each. I will contact the user for instructions on how to run the code etc., but I guess it will take some time. I will come back when I have more details.

[2021-11-09 15:32] jeromerobert commented on #9599
No I'm really sorry but unfortunately I couldn't reproduce it with a simple program. I'll fallback to deploy as is and with this patch:

[code]

Perhaps you could include it? Maybe someone else will come across it and be able to reproduce it on a simple case.

[2021-11-09 18:16] bosilca commented on #9619
I tried 4.0, 4.1 and master, with and without UCX with no luck, I am unable to reproduce. I also went over your `C` reproducer and I could not find anything amiss. Finally, I went and read the long discussion on the Julia's issue, and I think I might have an idea, but I'm not familiar with Julia's interposition layer so I might be wrong.

MPI collectives requires a perfect match between the data s

[2021-11-09 20:36] #6987 closed

[2021-11-09 22:27] awlauria commented on #9627
Thanks for the report @albandil !

@gpaulsen @janjust I added this to our critical items list. This is basic functionality that should just work.

[2021-11-09 23:56] rhc54 commented on #9627
This is fixed here: https://github.com/openpmix/openpmix/pull/2392

Won't show up until I post the v5.0 update PR - will point this at it for auto-close when I do.

[2021-11-10 00:02] amartinhuertas commented on #9619
Hi @bosilca,

thanks for your detailed answer. Highly appreciated. Let me answer to your comments below.

Would it help to provide access to the particular cluster environment in which the deadlock arises as a last resort? On the other hand, note that we were able to reproduce the deadlock in C, so Julia seems to be innocent. (From your other comments, I guess that you already realized that, but j

[2021-11-10 04:01] ggouaillardet commented on #9619
@amartinhuertas thanks for the update

I tried the reproducers but was unable to observe any deadlock with Open MPI 4.1.1

The only difference between `deadlock1` and `nodeadlock1` is with some parameters that must be ignored (since they are on the non root ranks) per the MPI standard, so from my point of view, both programs are valid w.r.t. MPI standard and none should deadlock.

could you please

[2021-11-10 04:16] bosilca commented on #9619
I was not able to reproduce any deadlocks but you made a very strong case about removing hcoll leads to a correct behavior. As I don't have access to a machine with hcoll, I went and read the hcoll component code. And I think the issue is [here](https://github.com/open-mpi/ompi/blob/81aeea53004c54a3cd97ee7c176083e37d62518a/ompi/mca/coll/hcoll/coll_hcoll_ops.c#L420): any process can check the send

[2021-11-10 04:36] ggouaillardet commented on #9619
FWIW, here is a test to try:

it is based on `mwe_deadlock1.c` but uses bogus pointers for the send parameters on the non root ranks. If the collective component tries to access them (and it should **not**), a crash will occur (instead of a deadlock).

[code]

[2021-11-10 04:44] amartinhuertas commented on #9619
It crashes.

[code]

[2021-11-10 04:46] ggouaillardet commented on #9619
thanks! and the stack trace points to the suspect (`mca_coll_hcoll_scatterv`)

[2021-11-10 04:52] ggouaillardet commented on #9619
from `mca_coll_hcoll_scatterv()`

[code]

so yes, `stype` is accessed on non root ranks. the good news is that is not in the proprietary `libhcoll` library, so we should be able to fix it.

what if you replace this with
[code]

[2021-11-10 04:59] bosilca commented on #9619
Right, that's the fix for scatterv. But the real problem is that everywhere in the hcoll component the algorithm selection is based on local contributions, so the decision might not be consistent across all processes. The entire code needs to be audited and fixed.

[2021-11-10 05:02] ggouaillardet commented on #9619
right, but before that, is `libhcoll` still actively maintained?

I was under the impression it was kinda dropped or replaced with something else, but I might be wrong ...

[2021-11-10 05:57] bosilca commented on #9619
The ownership file claims the component is actively maintained by Mellanox.

[2021-11-10 13:13] awlauria commented on #9627
Awesome, thanks @rhc54 !

[2021-11-10 13:53] jsquyres commented on #9619
FYI @open-mpi/ucx Can someone at NVIDIA please comment on this?  There appears to be a problem with coll/hcoll.

[2021-11-10 13:54] frizwi commented on #9508
Thanks @devreal, will keep you posted.

Just one last thing before I close this ticket, I have uploaded higher number or worker windows here:
https://cloudstor.aarnet.edu.au/plus/s/TbRz4TcwEkKJNNc

So am curious how far we can take the scaling, 2-4-8 seems to scale nicely, as per your post earlier but how about 40-95 and up to 187? Could you try it on your cluster. Does ~100W get to Infiniband's t

[2021-11-10 15:40] roblatham00 commented on #9629
ROMIO has logic to consult "f_fstypename" and the comment says it's for Darwin and OpenBSD... clearly something has gone amiss in our configure-time check. Going to take me a bit of time to spin up an OpenBSD virtual machine..

[2021-11-10 15:48] janjust commented on #9619
Yes, still actively maintained.
We took a look, we'll push a fix

[2021-11-10 16:53] dshrader commented on #9630
Using the master nightly install, I ran the following:

[code]

This successfully started IMB-RMA, whereas leaving off the btl_uct_memory_domains option has it quit right at the start with the message about not being able to communicate between the two ranks. However, it later seg-faulted, which it doesn't do when I use `--mca osc '^rdma'`. That may be a separate issue... This does suggest that th

[2021-11-10 18:04] dshrader commented on #9630
Looks like letting the rdma osc component init is somehow behind the segmentation fault. The following invocation leads to a seg fault in IMB-RMA:

[code]

The following invocation has IMB-RMA run fine:

[code]

I thought that perhaps having the uct btl successfully init might lead to the seg fault, but the above implies it isn't. At least, it isn't to blame on its own. The rdma osc seems to be th

[2021-11-10 19:03] rhc54 commented on #8170
The v5.0 solution is in https://github.com/open-mpi/ompi/pull/9643.

[2021-11-11 02:49] benmenadue opened #9647 "v5.0.x: mapping and binding issues with PBS"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v5.0.x nightly: `openmpi-v5.0.x-202111100338-9c5f535`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From nightly

[2021-11-11 03:00] rhc54 commented on #9647
Check to see if PBS imposed some kind of cgroup on your job. We get the number of slots (i.e., the number of procs we are allowed to run) from the PBS_NODEFILE. However, the binding is limited by the number of actual cores available to us.

Note also that some people confuse "core" with "hwthread". Is it possible you have 48 _hardware threads_ on your node, but a smaller number of _cores_? In addi

[2021-11-11 03:06] benmenadue commented on #9647
Thanks Ralph. Yes, the job will be in a cpuset cgroup, but it contains 1 hwthread per core.
[code]
So that shouldn't break it as far as I can tell, and OpenMPI 4.1.1 doesn't have any problems with that. The PBS_NODEFILE contains 48 identical lines:
[code]
(and I've also tried it with just `gadi-cpu-clx-0143` there instead of the FQDN).

This is the topology of the node:
[code]

[2021-11-11 03:09] benmenadue commented on #9647
Actually, even just asking for a single process with `-np 1` fails in the same way as all my examples in the original post. `--map-by slot` or `node` is required, but any attempt to bind it fails.

[2021-11-11 03:12] benmenadue commented on #9647
Aha! I just pulled my shell out of the cgroup (but still inside the job) and then both binding and mapping look to work as expected. So it's something to do with how it interacts with that cgroup.

[2021-11-11 03:39] benmenadue commented on #9647
It looks like it's ignoring cores that don't have both hwthreads available in the cgroup. So here when I'm launching within the cgroup it's failing to bind because it thinks there are no cores available.

If I modify the cgroup to contain `0-95` (i.e. both hwthreads of all cores), 48 processes can be launched and bound. If I constrain the cgroup to just `0,48` (so both hwthreads of the first core)

[2021-11-11 03:52] rhc54 commented on #9647
Definitely intentional. Think of it this way. If I bind you to the core, then we are saying you can execute on both hwthreads in that core. Yet you aren't allowed to be on one of them. So we look at the core, and if the entire core isn't available to you, then we discard it. Otherwise, we'd be lying to you by claiming you had the entire core.

What you want is for us to treat hwthreads as independ

[2021-11-11 03:53] benmenadue commented on #9647
Hmm, okay, I'll see what I can do there. That's quite a change in behaviour from previous versions, might be work highlighting somewhere (unless it is already and I missed it).

[2021-11-11 04:11] benmenadue commented on #9647
Yep, using `--map-by :hwtcpus --bind-to core` works as expected. However, I can't work out how to set that globally as system default. I'm setting `rmaps_default_mapping_policy` inside `prte-mca-params.conf`, but it doesn't seem to be using it (the change shows up in the output of `prte_info`, but doesn't seem to have any effect when using `prterun`).

[2021-11-11 04:15] benmenadue commented on #9647
Essentially, I want to get back to the same behaviour as the previous versions, where mapping and binding took the cgroup as a maximum it was allowed to use and bound within that. Almost as if it treated anything that wasn't available via the cgroup didn't even exist.

[2021-11-11 12:09] dalcinl opened #9650 "MPI_Ialltoallw, MPI_BOTTOM, and struct datatype with absolute addresses"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Open MPI v4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

System RPM package.

### Please describe the syste

[2021-11-11 13:17] ggouaillardet commented on #9650
Thanks for the report, a fix is in #9651

[2021-11-11 13:53] rhc54 commented on #9647
Hmmm...wasn't intended to be, and that code hasn't been significantly altered. I'll have to check it.

Guess I'm surprised - sounds more like we have a bug.

Yeah, that's an odd corner-case. What exactly do you have in the param file, and what is the exact prterun cmd line you used?

[2021-11-11 14:33] rhc54 commented on #9647
Would it be possible for you to provide me with an XML output from lstopo run within the cgroup, and another when run outside the cgroup? It would give me something I can use to reproduce the scenario.

[2021-11-11 15:53] gpaulsen commented on #9501
@dalcinl Can you please retest now with latest v5.0.x now that https://github.com/open-mpi/ompi/pull/9652 has been merged?

[2021-11-11 16:19] dalcinl commented on #9501
@gpaulsen Off-topic, but anyway... I'm doing a manual build, as my ompi/master CI infrastructure is broken (one month by now, waiting for a resolution to issue 9501). I'm runing GCC 11.2.1 and configuring with `--enable-debug --enable-mem-debug`. I'm seeing tons of warnings (`-Wformat`, `-Wpedantic`, `-Wcompare`, etc). Are you aware of that? Or you just don't test with `--enable-debug` or with suc

[2021-11-11 16:20] angainor commented on #9624
@vspetrov @janjust I have now executed the user code with `-x HCOLL_MCAST=rmc`. This resulted in a crash, but with a different stack:

[code]
Submitted a run now with the debugging options, but it seems the output file is rather large. Will report when done.

[2021-11-11 16:21] awlauria commented on #9501
It's possible we need a warnings sweep in master. One day it would be nice to compile with -Werror...

[2021-11-11 16:26] vspetrov commented on #9624
@angainor frames 6-7 indicate the ompi which is used is OpenMPI/4.0.3 not hpcx. Is that OpenMPI build is done using ucx/hcoll from hpcx/2.9 ? The crash looks very suspicious : inside ucp_worker_progress, not even directly related to multicast.

[2021-11-11 16:46] dalcinl commented on #9501
@gpaulsen This PR seems to fix the issue with current master.

@awlauria I fresh run of my testsuite with ompi built with ucx is sowing the following malloc zero warnings and aborts after failed assertion:

[code]
Runinng with `OMPI_MCA_osc=sm`, the assertion abort goes away, and my OSC tests complete successfully.

PS: @jsquyres Will mpi4py ever be used to catch Open MPI regressions before they s

[2021-11-11 16:52] dalcinl commented on #9501
@gpaulsen This PR seems to fix the issue with current master. I used a local build. Now I fired up a CI build in [GitHub Actions](https://github.com/mpi4py/mpi4py-testing/actions/runs/1449717505).

[2021-11-11 16:56] dalcinl opened #9654 "Issues with UCX"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

`./configure --with-ofi --with-ucx ---with-pmix=internal -e

[2021-11-11 16:59] awlauria commented on #9501
Cool, thanks @dalcinl for verifying. Closing this as the master and v5 pr's have been merged.

[2021-11-11 17:01] dalcinl commented on #9501
@awlauria Please note my edit above. I messed up. I was asked to run `v5.0.x`, but I did `master` instead. If the fix is in both branches, then all is good.

[2021-11-11 17:03] gpaulsen commented on #9501
Great Thanks.  Yes this fix got into both `master` and `v5.0.x`.

[2021-11-11 17:13] devreal commented on #9654
@janjust this seems to come from the dynamic windows fixes?

[2021-11-11 17:20] dalcinl commented on #9501
@gpaulsen @awlauria Sorry, guys, looks like I messed up with my local testing. My CI is still broken, this is for branch `v5.0.x`: https://github.com/mpi4py/mpi4py-testing/runs/4180762484?check_suite_focus=true. Looks like I tested with only one MPI process. Using two MPI processes, failures are still in there.

[2021-11-11 17:32] awlauria commented on #9501
Thanks - reopened.

[2021-11-11 18:01] angainor commented on #9624
@vspetrov This OpenMPI has been compiled against hpcx 2.9. Relevant EasyBuild logs:
[code]
with `HPCX_HCOLL_DIR` being `/cluster/software/hpcx/2.9/hcoll/lib`.

This new crash is with the flag you suggested: `-x HCOLL_MCAST=rmc`. Not sure what it does. I understand this could be a problem with FOAM, who knows. Maybe there is a memory issue, and it overwrites some random memory parts. The fact is th

[2021-11-11 18:05] angainor commented on #9624
@vspetrov Notice also that in both cases the crash happens in `PMPI_Allreduce`. You say it is `ucp_worker_progress`, but that is also called from inside hcoll, no? in `hcoll_ml_progress_impl`, `hmca_bcol_ucx_p2p_progress_fast`.

[2021-11-11 18:08] vspetrov commented on #9624
Yes you are right, internally hcoll also uses UCX. HCOLL_MCAST=rmc changes the internal component that implements mcast (from vmc to rmc - first crash was in vmc). Lets also try to disable mcast entirely: -x HCOLL_ENABLE_MCAST_ALL=0

[2021-11-11 18:21] ax3l opened #9656 "OMPIO: Options to disable/change sharedpf MCA?"
## Background information

### What version of Open MPI are you using?

4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Via Juelich JSC syadmins (likely using Easybuild).

### Please describe the system on which you are running

* Operating system/version: Linux
* Computer hardware: IB

[2021-11-11 20:17] edgargabriel commented on #9656
@ax3l thank you for reporting the issue. A couple of quick thoughts. OMPIO is actually able to execute without shared file pointers if the functionality is not used in the application. However, what happens here is that a sharedfp component is reporting 'I can be used', but the file open operation fails for whatever reason. Do you have any chance to check why the file  in the /tmp directory could

[2021-11-12 00:47] benmenadue commented on #9647
I've just run some comparisons between 4.1.1 and the latest 5.0.x nightly. These were both configured with a simple
[code]
and no changes to any of the mca parameters. Apart from running on difference nodes (since they're in different jobs), the cgroup configuration is the same.

**4.1.1**
[code]
(if I add `--display-topo` it causes `mpirun` to segfault inside hwloc... I'll investigate this furthe

[2021-11-12 01:10] rhc54 commented on #9647
Thanks - may take me a little bit to get back to you, but I am looking into it.

[2021-11-12 02:20] janjust commented on #9654
@devreal Thank you, I'll take a look. I actually discovered other issues in post/wait. I'll take a look at this asap.

[2021-11-12 16:03] gpaulsen commented on #9650
I didn't think it was legal to pass MPI_BOTTOM as a datatype, and that it's only legal to create user defined datatypes using it?

[2021-11-12 16:16] dalcinl commented on #9650
@gpaulsen Sorry, I'm not following you. Did you look at the example code I attached? In that example, I'm not passing `MPI_BOTTOM` as a datatype, but as the sendbuf/recvbuf argument.

[2021-11-12 16:24] gpaulsen commented on #9650
@dalcinl Ah, I see you're right... I got my parameters confused.

[2021-11-12 17:55] roblatham00 commented on #9629
This patch seems to do the trick for me on OpenBSD:  i've got a more thorough rework of the "portable stat" logic but need to round up a few more oddball platforms to make sure it's portable (anyone have an NEC-SX4 lying around?)

[code]

[2021-11-12 18:40] hppritcha opened #9658 "Problem initializing PSM2 MTL - OMPI_MCA_orte_precondition_transports not present in environment"
On my Intel OPA1/PSM2 cluster I can no longer use the OFI MTL with master and v5.0.x branches.
This error is emitted during the PSM2 MTL initialization:
[code]
a workaround is to use the OB1 PML, but that gives relatively poor inter-node performance since its falling back to the tcp btl.

Doing some digging it appears that the openpmix pnet/opa component that was suppose to get run to set this env

[2021-11-12 19:22] mwheinz commented on #9658
The initial problem is that openpmix is using the wrong PCI class id when looking for OPA cards. Correcting that allows openpmix to find the OPA HFI:

[code]

Unfortunately, in my own testing, even though I can trace the code through finding the OPA HFI and the code that sets the OMPI_MCA_ORTE_precondition_transports variable, it still does not seem to appear in the run time environment. I've aske

[2021-11-12 19:28] rhc54 commented on #9658
Fixed in https://github.com/openpmix/openpmix/pull/2396

[2021-11-12 20:56] eschnett commented on #330
@iskakoff Can you clarify your statement above? Are you saying that the change to using `flat_namespace` is not necessary any more if one instead removes the linker flag `no-common`?

[2021-11-13 19:26] kmccall882 opened #9659 "MPI_Bcast not receiving broadcast data"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

It was installed from a source/distribution tarball, using the configure command.   It was compiled with Nvidia

[2021-11-14 03:59] bosilca commented on #9659
I understand you spawn your managers. Are they using a inter or intra communicator for the bcast ?

[2021-11-14 05:25] ggouaillardet commented on #9659
@kmccall882 if you start the single master process with `mpirun` and then spawn the managers with `MPI_Comm_spawn()`, then the master is alone in his own `MPI_COMM_WORLD`, and the managers are together (without the master) in their `MPI_COMM_WORLD`. So your description of the issue is a bit confusing.

There is a known issue with the `coll/tuned` component when matching but non identical signature

[2021-11-15 08:09] abrikos110 commented on #5157
you can add additional cast to `(intptr_t)` to avoid warning, please add this

[2021-11-15 08:19] ggouaillardet commented on #5157
@abrikos110 would you mind elaborating?

[2021-11-15 10:34] abrikos110 commented on #5157
@ggouaillardet I added intermediate cast to `intptr_t` on my local `op_inln.h` file and compiler warning disappeared.
I replaced
[code]

with this:

[code]

After this addition warning disappeared. I think than it is correct addition because `intptr_t` should be able to handle all pointers ( https://en.cppreference.com/w/c/types/integer ). But cppreference says "This type need not be available", s

[2021-11-15 10:36] abrikos110 commented on #5157
I checked `void *` instead of `intptr_t`, it works too. So `intptr_t` is not needed

[2021-11-15 12:32] ggouaillardet commented on #5157
Thanks, I will have a look.

That being said, please keep in mind that the MPI C++ bindings were **removed** from the MPI standard more than a decade ago. They are no more built by default since Open MPI 4 and will be simply removed from the upcoming Open MPI 5, so your best bet is to modernize your code to avoid using them.

[2021-11-15 14:33] kmccall882 commented on #9659
Bosilca -- MPI_Bcast used the MPI_COMM_WORLD intra-communicator.

Sorry about my confusing description.   I only mentioned MPI_Comm_spawn because its info argument was the only difference
between the MPICH and the OpenMPI versions of my code.    21 processes were launched by mpiexec, one became the master
and the rest became managers.   Since one became the master, a manager would be missing on th

[2021-11-15 14:49] abrikos110 commented on #5157
Oh, thank you. I don't use C++ bindings, but this file is somehow included (i was just annoyed by warning). I will check it, thanks.

[2021-11-15 15:41] kmccall882 commented on #9659
I compiled OpenMPI with g++ 4.8.5 and got the same result:   MPI_Bcast on the managers is receiving all zeros.

[2021-11-15 15:49] rhc54 commented on #9659
The manager that shares the node with the master will not be in the comm_world of the other managers, so it cannot receive the communication if you are bcasting on comm_world. The other managers should be receiving it - you might ensure you are checking their value and not just the one on the master's node.

[2021-11-15 15:51] jsquyres commented on #9659
Can you post a small reproducer code that shows the problem?

[2021-11-15 15:57] candidobrian commented on #9629
Thanks for the quick patch

[2021-11-15 16:15] kmccall882 commented on #9659
All managers are reporting the same thing -- MPI_Bcast is receiving all zeros.   Would the call to MPI_Bcast on the
manager that shares the node with the master be fouling things up, since there is no corresponding call in the master
on that manager's MPI_COMM_WORLD?

I'll try to create a small reproducer.

[2021-11-15 16:29] jsquyres commented on #9629
@ggouaillardet @awlauria Can someone turn this into a PR?

[2021-11-15 17:29] roblatham00 commented on #9629
`ompi/mca/io/romio321/romio/adio/common/ad_fstype.c` no longer exists so backporting from main will be a slight headache...

https://github.com/open-mpi/ompi/pull/9661

[2021-11-15 17:45] #9619 closed

[2021-11-15 17:57] kmccall882 commented on #9659
The problem turned out to be the fault of my code.   My MPI_Bcasts calls are now receiving the correct data.  I'm sorry to
have wasted your time, but thanks for all of your quick responses.

[2021-11-15 17:57] #9659 closed

[2021-11-15 23:33] bwbarrett commented on #9501
I'm pretty sure the issue is https://github.com/open-mpi/ompi/pull/9493/commits/531735cd53157d1b56577041e4612af0f0b83ca7, which was part of https://github.com/open-mpi/ompi/pull/9493.  The rest of the patch series (that actually fixes https://github.com/open-mpi/ompi/issues/9329) seems ok w.r.t alltoallv.  Still trying to figure out the core issue

Jeff mentioned an alltoallv fix that was backport

[2021-11-16 14:54] gpaulsen opened #9669 "Open MPI Checklist v4.0.8"
## Build the Release
- [] Verify the major,minor,release,greek version numbers in `VERSION`
- [] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase; gi

[2021-11-16 14:55] #9066 closed

[2021-11-16 14:55] gpaulsen commented on #9066
v4.0.8 https://github.com/open-mpi/ompi/issues/9669

[2021-11-16 16:54] bosilca opened #9670 "Missing PMIx libraries for master build"
During PRRTE tools linking stage the PMIx library is missing leading to many undefined references. Manually adding the PMIx library solve the issue and allow the build stage to successfully complete.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master sha 6117ec23d486.

### Describe how Open MPI was installed (e.g., from a source/distribution

[2021-11-16 17:30] bwbarrett commented on #9670
https://github.com/openpmix/prrte/commit/ea25e2e5e35583f902e8b5c231a7634bbcd94c28 is the current HEAD of the PRRTE master branch.  As I mentioned on the call today, currently Open MPI can not build internal libraries for PRRTE or PMIX master branches.  You can either use the submodule pointers as they stand today in the v5.0/master branches of OMPI OR you can build against external PMIX/PRRTE.

[2021-11-16 18:18] rhc54 commented on #9647
I believe I have this fixed in https://github.com/openpmix/prrte/pull/1156. At least, it does what you seem to be after when I use your provided topology files (thanks for doing that!). This includes obeying the `rmaps_default_mapping_policy = :hwtcpus` in the default param file.

Might take a while to get this into the OMPI v5.0 branch.

[2021-11-16 18:20] bosilca commented on #9670
I confirm that once I move back to the correct version of the submodules everything works as expected. Thanks @bwbarrett I'll close this issue for now.

[2021-11-16 18:20] #9670 closed

[2021-11-16 22:24] hppritcha commented on #8958
@bosilca do you think the spawn problems you raised today could be related to this issue and the cited prrte issue?

[2021-11-17 08:20] angainor commented on #9624
@vspetrov I ran a few more times with `-x HCOLL_MCAST=rmc` and did not reproduce the segfault. Not sure why it was there before. Anyway, I also ran with OpenMPI shipped with HPCX 2.9, and got the same segfault as originally reported. So this is not related to our OpenMPI environment.

We have recently noticed that the IB firmware doesn't match the MOFED version we're running. Not sure if this can

[2021-11-17 16:27] bosilca commented on #8958
The stack looks very much like the one I was seeing, so it is plausible the two are related. However, I don't grow @rhc54 explanation in https://github.com/openpmix/prrte/issues/964#issuecomment-846157514, because:
- some executions complete successfully, the hangs are sporadic
- I do not see any extra or lingering processes outside the exact number of processes that the RTE has been asked to crea

[2021-11-17 19:46] rhc54 opened #9682 "TCP interface specification/selection"
This is a general question arising from work on auto-translating OMPI RTE-related params to their PMIx/PRRTE versions. It particularly impacts people using containers, but it is something we have seen arise from the OMPI user community repeatedly over the years.

If the user specifies TCP networks to use - e.g., with `btl_tcp_if_include` - then should the RTE (including PMIx in that for now) also

[2021-11-17 22:29] rarensu commented on #7461
@keenandr over a year later this simple little statement helped me debug a similar error. Thank you.

[2021-11-18 01:03] BenWibking commented on #9624
This bug looks suspiciously similar to an HCOLL issue I am seeing in my application here: https://github.com/openucx/ucx/issues/7391

[2021-11-18 01:34] jjhursey commented on #9682
No. Here they are directing a specific component to use these interfaces (`btl_tcp`). So they are being specific in their intentions. Having a carried side effect of changing other parameters would be unexpected.

Often we set the `btl_tcp_if_include` to the high-speed ethernet interfaces, and the `oob_tcp_if_include` to a single management interface so isolate traffic.

If you wanted to have a ge

[2021-11-18 02:01] rhc54 commented on #9682
Okay, then it sounds like we should only translate _literally_ when dealing with the OMPI MCA parameters. I'm okay with doing that, but wanted to check the pulse of folks over here.

It means the users have to confront the PRRTE vs PMIx vs OMPI project splits - but that's only one step worse than what they had to do before. So in this case, if they needed to stipulate interfaces to enable connecti

[2021-11-18 17:46] ax3l commented on #9656
Thank you so much for the feedback @edgargabriel!

@damianam can you comment on this? :)

The error report we got in WarpX by @MaxThevenet was definitely a single-node job, yes:
https://github.com/ECP-WarpX/WarpX/issues/2542

Thanks, we will try those next!
https://github.com/ECP-WarpX/WarpX/issues/2542#issuecomment-973106840

Another info that might help here: the problem seems to be appear when

[2021-11-18 20:40] jsquyres commented on #9682
I agree with @jjhursey -- let's keep them separate for now.

Similar to what @jjhursey said, we might want to introduce a new OMPI MCA var that is just for IP interfaces.  I'd suggest something like `ip_if_include`, since we're talking about IP Linux networking interfaces.  Although `tcp_if_include` might be a bit more recognizable / palatable to end users (we could certainly make `tcp_if_include`

[2021-11-18 21:26] rhc54 commented on #9682
Sounds good. Only one corner-case I can think of: if someone specifies an oob/tcp param, I would think we'd want to set the corresponding ptl/tcp param - yes? Both relate to RTE functions, so it feels like the right think to do.

[2021-11-18 21:29] jsquyres commented on #9682
Maybe we should have a map of (old) OMPI MCA params to (new) PRTE MCA params?

[2021-11-18 21:35] rhc54 commented on #9682
In a perfect world...yeah, someone could create a table in the FAQ area. Almost all of them directly come across. There are a few, though, that are a little tricky as there isn't a direct correlation.

I took a first pass in the translator code in PRRTE that tries to handle some of the exceptions, and created synonyms to help with others so this can be as transparent as possible. Not 100% though.

[2021-11-18 22:02] abouteiller commented on #9682
The argument that btl_tcp_xyz is very specific in its intention to address the BTL framework (and only it) is very potent.

I would still strongly recommend that we do have an all-emcompassing option, as described above by Jeff with ip_if_include/tcp_if_include that can set a general default for all derived parameters (btl_tcp_, oob_tcp_, others...) and can still be overridden.

[2021-11-19 10:57] mkre commented on #9638
Does anyone have an idea about this? Pinging @bosilca as you did the most recent work on smcuda.

[2021-11-19 14:30] damianam commented on #9656
I don't know why the file could not be created but I have a few pointers on this regard. The compute nodes are diskless, everything lives in memory. If by some chance you run too close to the limit, and then try to allocate a large file in `/tmp`, you are actually using some extra memory. The size we impose of `/tmp` is 247GB, so from that point of view it should be large enough. Permissions are a

[2021-11-19 18:22] edgargabriel commented on #9656
@damianam thank you for the explanation. The file that the sharedfp sm component creates is very small, just an offset value (i.e. 8 bytes, although will probably use an entire block from the file system level). I was thinking about adding something to the component query function to try to open a file itself, and if that doesn't work for whatever reason the component would disqualify itself.

[2021-11-19 19:49] mwheinz commented on #9658
I've verified that @rhc54's fix corrects this problem.

[2021-11-19 19:50] mwheinz commented on #9658
(Still need to get the fixed version of openpmix into the OMPI submodules though.)

[2021-11-20 18:02] opoplawski opened #9689 "mpi4py 3.1.2 test segfaults in UCX - ucp_mem_unmap"
## Background information

Running the full mpi4py test suite in the Fedora package getting what looks like a new test failure.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
openmpi-4.1.2-0.1.rc1.fc36.x86_64

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distributio

[2021-11-22 01:55] mlohry opened #9690 "cuda-aware build fails cuda runtime linking with undefined symbol cuIpcOpenMemHandle_v2"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.1 release

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

1) UCX installed using their provided ubuntu 20.04

[2021-11-22 14:10] awlauria commented on #9537
https://github.com/open-mpi/ompi/pull/9686 removes most, if not all of them.

[2021-11-22 16:34] damianam commented on #9656
That sounds like a sensible thing to do.

Besides of that, are we positive that the path to the file exists? `open` would fail if the path does not exist. @ax3l did you check that? Maybe we are hunting the bug in a the wrong place.

[2021-11-22 18:08] jsquyres commented on #9690
FYI NVIDIA / @ucx team.

[2021-11-22 18:22] jsquyres commented on #9689
FYI @open-mpi/ucx

[2021-11-22 19:04] yosefe commented on #9689
This issue was reported on UCX github, and according to gdb seems like issue on osc/ucx component , that passes memh==NULL to ucp_mem_unmap() -
[code]
@janjust  WDYT?

[2021-11-22 19:05] mlohry commented on #9690
I should clarify I get the same error when building without ucx. Is UCX required for cuda-aware mpi, or just "recommended" as specified in the build FAQ?

[2021-11-23 17:55] awlauria commented on #9501
@dalcinl is this now passing?

[2021-11-23 18:45] jsquyres opened #9697 "Compile fail with --enable-heterogeneous"
On master, we're getting a compile fail when `--enable-heterogeneous` is specified:

[code]

I'm not sure what commit introduced the error.

[2021-11-23 18:49] jsquyres opened #9698 "Fortran ident string link error with --disable-weak-symbols"
On master, on Linux, when configured with `--disable-weak-symbols`, we get a link error:

[code]

It looks like this error was introduced in b2ee56aa8148cdc04b352d11949af894688de90f -- @bwbarrett can you have a look?

[2021-11-23 20:18] dalcinl commented on #9501
@awlauria [CI ran 4 days ago](https://github.com/mpi4py/mpi4py-testing/runs/4270602228), all tests passed  [![openmpi](https://github.com/mpi4py/mpi4py-testing/actions/workflows/openmpi.yml/badge.svg)](https://github.com/mpi4py/mpi4py-testing/actions/workflows/openmpi.yml).

[2021-11-23 20:25] #9697 closed

[2021-11-23 21:06] bwbarrett commented on #9698
The error was actually introduced with Austen's recent ident warnings cleanup (9f15ca612df77e39398191f1cea1f5d797876c4c).  That said, I'll post a PR to fix shortly.

[2021-11-24 03:40] bwbarrett commented on #9698
Fix is merged to master.  9f15ca6 didn't get backported to any of the release branches, so closing the ticket.

[2021-11-24 03:40] #9698 closed

[2021-11-24 15:08] wzamazon commented on #9447
PR merged and back ported (https://github.com/open-mpi/ompi/pull/9573)

[2021-11-24 15:08] #9447 closed

[2021-11-24 15:11] awlauria commented on #9698
Thanks @bwbarrett

I ported the change series back to v5 here: https://github.com/open-mpi/ompi/pull/9702

[2021-11-24 16:42] bwbarrett opened #9703 "v4.1.3 release checklist"
**NOTE:** The Open MPI v4.1.x branch was created after v4.0.5.  Hence, for some of the `git log ...` commands, the `last_release_tag` should probably be `v4.0.5`.

## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gn

[2021-11-24 16:49] jsquyres opened #9705 "Coverity/static analysis issues with TCP interface code"
@drwootton @jjhursey Looks like we got some static analysis problems from 0b37cd2e9dacf4c2aadafeb626365ec314181a9c (PR #9681).  Can you fix?

Thanks!

[code]

[code]

[2021-11-24 16:59] bwbarrett commented on #9690
UCX is not required for a cuda-aware MPI, although not all transports will behave well with CUDA buffers (for example, OFI in released versions of Open MPI).  But your error is more basic than the transport level issues; while we're trying to dynamically load the CUDA library, we can't find a needed symbol (`cuIpcOpenMemHandle_v2`).  I'm not familiar enough with the CUDA library stack to help beyo

[2021-11-24 17:13] Yiltan opened #9706 "MPI_THREAD_* works only for single node."
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Master branch `b821e8e1327984fa8fd102191000a541ffecdaa1`

[code]

[code]

### If you are building/installing from a git clone, please copy-n-paste the output from `git submodule status`.

[code]

### Please describe the sy

[2021-11-24 17:53] drwootton commented on #9705
I started looking at this. I need to discuss with @jjhursey to figure out how to deal with the resource leak complaints.

[2021-11-24 17:55] jsquyres commented on #9705
Thanks @drwootton!

[2021-11-24 19:26] Yiltan commented on #9706
moved to the tag v5.0.0rc2 and my issue was solved.

[2021-11-24 19:26] #9706 closed

[2021-11-24 19:45] bosilca commented on #9705
opal_argv_append already strdup the appended string, so you don't have to explicitly call strdup. The solution is to just remove the strdup from the `opal_argv_append` calls.

[2021-11-24 20:11] drwootton commented on #9705
I didn't realize the strdup was taken care of already. I also know what I need to do to take care of the potential null pointer dereference, so I'll take care of this all on Monday.

Thanks.

[2021-11-27 11:55] eudoxos commented on #7701
Thank you for this fruitful discussion as I was seeing the message in code using MPI indirectly only (`python3 -c 'import h5py'`). A quick way to trigger it was `python3 -c 'import mpi4py.MPI'`. Using  `HWLOC_COMPONENTS=-gl` prevents it from appearing.

[2021-11-29 15:31] #8846 closed

[2021-11-30 01:36] bartoldeman commented on #9444
I think this is what makes the difference: NVHPC's `immintrin.h` has this:
[code]
but GCC simply includes `<avx512fintrin.h>` which then does
[code]
NVHPC has no logic like this so it just compiles any avx512 intrinsics without issue (even if you use `-tp px`), i.e this test blurb:
[code]
with `-D__SCE__` it works ok (`-D_MSC_VER` not, I guess that does other things, pretending MSVC, I have no ide

[2021-11-30 05:43] bosilca commented on #9444
The real issue is not that the compiler always generates AVX512 code, but that it fails to define one of the __AVX512BW__ or __AVX512F__ or __AVX512VL__ defines to let us know it will generate the code. And that's exactly what my patch above addresses. Can you try and let me know if it works ?

[2021-11-30 13:45] mboisson commented on #9402
This bug seems to be solved in NVHPC 21.9. (but that only means we are onto the next bug, which is https://github.com/open-mpi/ompi/issues/9444

[2021-11-30 14:25] mboisson commented on #9402
🤔  weird, using NVHPC 21.9 moved me to the next bug. Unless it moved me to the previous bug....  (i.e. they introduced a new one).

Actually, now that I think of it, with 21.7, it failed at the test stage, with NVHPC 21.9, it fails in the build stage.

[2021-11-30 14:37] Micket commented on #9402
I did manage to build openmpi, with 21.9 but subsequent builds failed ( https://github.com/easybuilders/easybuild-easyconfigs/pull/14006 )

[2021-11-30 16:30] bartoldeman commented on #9444
Your patch does what it's intended to do. But what puzzled me is that it's not necessary for NVHPC 21.7, even though both 21.7 & 21.9 have the strange AVX512 flag behaviour.

Now diffing `immintrin.h` for 21.7 and 21.9 I see this:
[code]
this explains why it compiles ok with 21.7, this checks are as follows:
[code]
but with 21.9 the first "no" turns into a "yes" because of the above header change.

[2021-11-30 16:57] gpaulsen opened #9713 "Intermittent hangs with calling MPI_Comm_spawn()"
On our weekly call, Nov 16th, George said he was seeing some (and perhaps some of our MTT timeouts were related to) intermittent hangs with MPI_Comm_spawn.  I'd recorded this in the context of the v4.1.x branch.

George can you please update this issue with the details that you've seen?  I opened this issue to track and not forget about this issue.

Thanks.

[2021-11-30 17:09] bosilca commented on #9713
@hppritcha already opened a similar issue (#8958)

[2021-11-30 17:09] #9713 closed

[2021-11-30 18:01] bosilca commented on #9638
The smcuda should be there, but it should not be used if there are no GPU on the machine. But that is only part of the issue here. Can you please try the following patch
[code]
The rationale is that we don't need to set the returned descriptor to NULL, we already return an error code.

[2021-11-30 21:57] bosilca commented on #9444
Intesting suggestion, it should indeed address all issues we were covering in this discussion. How about the following patch ?
[code]

[2021-12-01 00:42] ggouaillardet commented on #9402
The other issue involves the `op/avx` component. You can avoid it with `configure --enable-mca-no-build=op-avx ...`

[2021-12-01 09:46] jeffhammond opened #9715 "ROMIO package doesn't compile if Intel zero-level API files present"
Open-MPI -> ROMIO -> Intel ZE fails.  Not your fault but since it breaks the Open-MPI build, I am reporting here.

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

latest Git as of 5 minutes ago

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system

[2021-12-01 10:04] jeffhammond opened #9716 "nvfortran-Error-Unknown switch: -iquote../../../../../.."
I think this was caused https://github.com/open-mpi/ompi/pull/7169, unintentionally and indirectly.

The issue here is that configure assumes that the preprocessor used for C and Fortran are the same.  This is not true when GCC C and NV/PGI Fortran are combined.

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Every git

[2021-12-01 14:26] awlauria commented on #9501
Thanks @dalcinl - closing

[2021-12-01 14:26] #9501 closed

[2021-12-01 14:59] mkre commented on #9638
@bosilca, your suggested patch works to avoid the segfault.

Do you want me to run any follow-up tests regarding this one?

[2021-12-01 15:31] jjhursey commented on #9705
PR #9705 should resolve the coverity issues. We will watch the coverity report now that this is merged into master.

[2021-12-01 15:31] #9705 closed

[2021-12-01 15:58] bosilca commented on #9638
Thanks for confirming this. Give me a day or two to look more in details on this and I'll get back to you. I will create a PR with the patch above and anything else I can find, and a second opinion/tester of that code would be great.

[2021-12-02 16:10] gpaulsen commented on #8983
@wzamazon Hello.  As you know, this issue is a blocker for Open MPI v5.0.0.
In the above comment (from Sep 24) you referenced #9400 which was closed without being merged.  You mentioned you were going to rework it.  Could you please update the status here with the current Pull Request references?

Thanks.

[2021-12-02 16:11] gpaulsen commented on #7830
@bosilca You're assigned to this, but are you working this?

[2021-12-02 16:17] wzamazon commented on #8983
@gpaulsen https://github.com/open-mpi/ompi/pull/9696 should fix it.

[2021-12-02 16:55] dshrader commented on #9630
Is this related to #7830? I may have misunderstood what #7830 is dealing with, but it seems quite similar. That is, the rdma osc having issues when btls aren't communicating with all ranks.

[2021-12-02 17:00] wzamazon commented on #7830
https://github.com/open-mpi/ompi/pull/9696 will fix this issue too.

[2021-12-03 02:58] sekoenig opened #9721 "Fatal error when calling MPI_Win_allocate with MPI_Info handle"
## Background information

In my code I am using an `MPI_Win` with `MPI_Accumulate`.  I would like to tweak the algorithm by specifying hints via an `MPI_Info` handle. When I do this, my code aborts with a fatal error.  The same code passing `MPI_INFO_NULL` to `MPI_Win_allocate` runs without error. I include a test program below.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2,

[2021-12-03 09:42] gkatev opened #9722 "Add simple opal atomic store/load?"
Hi, I'm looking through OPAL's atomic utilities (opal/include/opal/sys/atomic.h), and I'm noticing that while there's a large collection of atomic operations, there exist no simple store/load functions (eg. `opal_atomic_store` or `opal_atomic_load`).

Would it be a good idea / is it possible to add these operations?

I can see some alternative solutions, like using another operation (eg. `opal_ato

[2021-12-03 13:21] devreal commented on #9722
I think the assumption is that single-elements loads and stores are atomic, yet not  synchronizing. OPAL provides `opal_atomic_rmb` and `opal_atomic_wmb` to order loads and stores, respectively. Would that work for your use-case?

[2021-12-03 13:27] gkatev commented on #9722
I'm thinking of cases where I'd like to ensure ordering between two variables' acceses, but ones where one process is constantly updating (thing sequence number style) a variable and another is reading it. If the load/stores are not atomic, a partial value could theoretically be received.

I think writing 64-bit values on arm, or writing to non-64-bit-aligned ones on x86 is not atomic.

[2021-12-03 13:45] devreal commented on #9722
According to https://developer.arm.com/documentation/ddi0487/gb/, B2.2.1 64bit load/stores are atomic on 64-bit arm. Unaligned 64bit load/store is UB in C so I doubt the compiler will come to the rescue here (http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1570.pdf page 74, 7)

Having said that, I am not opposed to introducing atomic load/store to opal. But what would be the memory ordering? Sequ

[2021-12-03 13:51] gkatev commented on #9722
I'd definitely say relaxed ordering. My specific use-case is about the closest thing I can get to ordinary C writes/reads, without being prone to errors.

A variant with other-than-relaxed ordering could also be created, as is also bound to be useful *somewhere*.

[2021-12-03 15:03] jakub-homola commented on #2397
Just for completeness, this is a situation where [NCCL](https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/usage/collectives.html#allreduce) (NVIDIA Collective Communications Library) could be used. It is a library for collective communications directly between GPUs.

[2021-12-03 16:14] bwbarrett commented on #9722
I think we'd be open to a pull request, but I'm dubious they're actually useful.  We still support compilers with limited atomic support and there's not a great way to express what you're asking for without compiler support.  Yes, you could provide wrappers which are essentially just load and store, and rely on the behaviors we rely on today, but I'd almost rather we make the developer think about

[2021-12-03 22:20] awlauria opened #9725 "Should PR 8904 be brought to v5.0.x"
https://github.com/open-mpi/ompi/pull/8904

Creating this so we don't lose track.

[2021-12-03 22:21] awlauria opened #9726 "CI updates wanted on v5.0.x?"
https://github.com/open-mpi/ompi/pull/8702
https://github.com/open-mpi/ompi/pull/8986
https://github.com/open-mpi/ompi/pull/8960
https://github.com/open-mpi/ompi/pull/9100
https://github.com/open-mpi/ompi/pull/9380
https://github.com/open-mpi/ompi/pull/9500
https://github.com/open-mpi/ompi/pull/9517

All of these CI updates are on master but not v5.0.x. Just want to make sure they aren't needed/wa

[2021-12-03 22:49] awlauria opened #9728 "Port 9239 and 9438 to v5.0.x if needed"
https://github.com/open-mpi/ompi/pull/9438
https://github.com/open-mpi/ompi/pull/9239

creating this to not lose track.

[2021-12-04 14:59] PhilipDeegan opened #9729 "mpirun exits immediately with exit code 1"
## Background information

Trying to spawn some tests via python subprocess inside a docker container
mpirun from cli works inside docker, but from python subprocess (inside docker), it exits without any error with exit code 1

sample python subprocess call would be like

    mpirun -n $N python3 $ARG0 $ARG1

removing "mpirun -n $N"  and running the rest normally from python subprocess runs fine

[2021-12-04 19:20] jsquyres commented on #9729
Can you update to the latest Open MPI v4.1.2?

[2021-12-04 20:16] PhilipDeegan commented on #9729
I will, testing 4.1.1 on fedora 35 is the same insofar as it exits without any message

[2021-12-04 20:40] rhc54 commented on #9729
If you configure OMPI with `--enable-debug`, you can set `OMPI_MCA_state_base_verbose=5 OMPI_MCA_mca_base_component_show_load_errors=1` to watch `mpirun` load its libraries go thru its state machine. Should provide a little info. My guess is that you lose the `LD_LIBRARY_PATH` when you execute `mpirun` as a Python subprocess.

[2021-12-05 08:55] PhilipDeegan commented on #9729
4.1.2 is the same
I was mistaken earlier, it actually doesn't work outside docker, but it does work with MPICH in or out of docker

[2021-12-05 20:55] rhc54 commented on #9729
Looks like it launched just fine - if that was all the output, then it looks like it is running. Does it complete - i.e., is there some output showing the proc exiting later on?

[2021-12-05 21:00] PhilipDeegan commented on #9729
I believe this is the output of the outer process, the one calling python subprocess, of the subprocess, there is no output, just an exit code of 1.

[2021-12-05 21:26] rhc54 commented on #9729
Errr - wait a minute. Are you saying you use `mpirun` to start a python process that then tries to execute `mpirun` as a subprocess??? That definitely will not work - `mpirun` will detect that it is being called from within an `mpirun` job and abort.

[2021-12-06 07:48] PhilipDeegan commented on #9729
The outer process is not started via mpirun, but mpi might be being initialized within the outer process, I will check if this changes things, thanks

[2021-12-06 12:48] jarunan commented on #9041
Hi there,

Have you found a solution to this issue? I have the same issues here with OpenMPI 4.0.2 and 4.1.1 that MPI_COMM_SPAWN() cannot spawn across nodes. I am testing on a cluster with CentOS 7.9 and using GCC 6.3.0.

I used this code for testing
[code]
Running on one node, it looked fine:
[code]
But on 2 nodes, errors occured:
[code]

[2021-12-06 21:29] awlauria commented on #9726
I brought #8959 over here: https://github.com/open-mpi/ompi/pull/9740

[2021-12-06 21:46] awlauria opened #9743 "is #9074 needed on v5.0.x?"
https://github.com/open-mpi/ompi/pull/9074

Not sure where this falls in the current state on v5, might not be needed.

[2021-12-06 22:00] awlauria opened #9747 "Please port #8790 to v5.0.x"
@shintaro-iwasaki can you please port https://github.com/open-mpi/ompi/pull/8790 to v5.0.x?

[2021-12-06 22:11] awlauria commented on #9728
Both in - closing.

[2021-12-06 22:11] #9728 closed

[2021-12-07 10:52] gkatev commented on #9722
Given the new revelations that the compiler automatically naturally aligns types (?) (since it would be UB if it didn't), which did not occur to me at the time, and since more operations than I thought are "tear-free" (eg. 64-bit ops on arm) -- though I don't have a complete image for archs beyond x86 and arm --, I wouldn't be as hard-pressed to add these.

However, even if *just one* case exists

[2021-12-07 13:57] jsquyres opened #9749 "NBC potential uninitialized value in alltoallv"
I got this compiler warning on master this morning:

[code]

This appears to be legit -- it _seems_ to stem from a distinction between MPI_IN_PLACE or not in the upper-level call to `nbc_alltoallv_init()`, but it's not immediately clear to me what the correct fix is.

@bosilca Could you have a look?

[2021-12-07 14:09] hjelmn commented on #9722
Just to note. Open MPI no longer supports 32-bit platforms (x86, ppc32, arm32, etc). Also keep in mind an atomic load can be done as fetch add with a 0 operand and store with atomic swap.

[2021-12-07 14:13] hjelmn commented on #9722
Also keep in mind that Open MPI intends to move to using C11 atomics exclusively at some point in the future. Most of the atomic code will go away at that point.

[2021-12-07 15:14] bedwards-mango opened #9751 "Failing to build an RPM for openmpi 1.10.7"
Hello. I'm trying to build an RPM of openmpi v1.10.7 for CentOS 8.

I'm using the `buildrpm.sh` script in this repo, with the source tarball downloaded from https://www.open-mpi.org/software/ompi/v1.10/. I don't have much experience building RPMs but I'm getting this error from the build script:

[code]

I thought maybe I need to be running redhat to compile but I tried on a redhat machine and got

[2021-12-07 15:15] devreal commented on #9722
I am not opposed to having simple atomic load/stores in opal. However, I don't think there is a use-case for it right now because inter-thread synchronization is synchronized through locks and/or fences, so it  would essentially be dead code.

[2021-12-07 15:17] devreal commented on #9722
@gkatev If you need such infrastructure you can of course add it to your local branch. If that ever gets upstreamed we will have a use-case for atomic load/store and will include the them. I am also planning to revisit our current use of fences and atomics, if I come across a possible use-case I would sync up with you.

[2021-12-07 15:52] gkatev commented on #9722
Yes this is all reasonable, and I've already taken care of my local code, so all is well for me. Since it looks like an overhaul will be taking place at some point I do suggest their future addition! (use case: single-writer-based synchronization, in an numerically incremental manner, without extra ordering flags)

(not sure if we/you want the issue closed -- feel free to do it)

[2021-12-07 15:58] jsquyres commented on #9751
Open MPI v1.10.7 is ancient and is unfortunately not supported any more.

Can you move up to Open MPI v4.1.x?

[2021-12-07 16:00] bedwards-mango commented on #9751
Unfortunately I'm having to use v1.10.7

[2021-12-07 16:00] rhc54 commented on #9751
As for this specific question, the problem is that the line in `buildrpm.sh` that tries to identify your home directory doesn't work in many cases. Just go into the script and replace that line with something that points to the right place and it will work fine.

[2021-12-07 16:42] bosilca commented on #9749
You are right, the INPLACE case is not properly handled. Here is a quick patch to make sure the extent of the send datatype is properly initialized.

[code]

[2021-12-07 16:46] hppritcha commented on #9726
they can stay on master for now.  not sure how useful this will end up being.  there are pretty severe limitations trying to use gitlab to do CI on PRs to a github repo.

[2021-12-07 16:51] awlauria commented on #9747
I was able to do it here: https://github.com/open-mpi/ompi/pull/9731

[2021-12-07 16:51] #9747 closed

[2021-12-07 16:54] awlauria commented on #9743
@devreal @hjelmn - do you know if this patch is needed or is it stale with recent changes?

[2021-12-07 17:22] shintaro-iwasaki commented on #9747
@awlauria Sorry for the late reply, but thank you very much for creating the PR!

[2021-12-07 20:44] awlauria commented on #9726
Thanks - closing.

[2021-12-07 20:44] #9726 closed

[2021-12-07 20:48] awlauria commented on #9537
v5.0.x pr merged here: https://github.com/open-mpi/ompi/pull/9702

closing.

[2021-12-07 20:48] #9537 closed

[2021-12-07 21:07] #9749 closed

[2021-12-07 22:10] bedwards-mango commented on #9751
That worked for me rhc54, thanks.
Another qq, how would I go about building the RPM for openmpi-devel??

[2021-12-07 22:28] jsquyres commented on #9751
It's been a long time since I've even thought about the 1.10 branch, but you might want to look at the `build_single` and `build_multiple` options in the `buildrpm.sh` script: https://github.com/open-mpi/ompi/blob/v1.10/contrib/dist/linux/buildrpm.sh#L91-L96

[2021-12-08 16:23] Yiltan opened #9759 "Does Open MPI support asynchronous message progression?"
Is there a way to configure OMPI to launch a helper process to aid with message progression?

I see this old comment here: https://github.com/open-mpi/ompi/blob/f6c84cd49a3e0ddfb5d45e0020123d8feb7411de/config/opal_configure_options.m4#L513

But I cant seem to work out what OMPI's new way to do it is. I'm specifically looking to use UCX if possible.

[2021-12-09 19:31] hppritcha commented on #9715
I see this too on ALCF JLSE.

[2021-12-09 19:32] MichaelLaufer commented on #9759
I was also researching this for a few hours earlier today, and could not find an answer, and would also be very interested in the current status of this. We have just written a new code that was designed for compute/communication overlap using MPI_Isend/MPI_Irecv + MPI_Waitall only to find out that no background progress is occuring (OMPI + UCX w/ Mellanox NICs).

In my findings, MVAPICH, MPICH an

[2021-12-10 14:26] mwheinz commented on #9658
@rhc54 - did OMPI ever get updated to pull in your fix?

[2021-12-10 16:02] rhc54 commented on #9658
I don't think so - waiting to resolve the cobuild issue. See https://github.com/open-mpi/ompi/pull/9755

[2021-12-11 10:43] alex--m commented on #9759
@bosilca - Would you know if generic progress threads (as opposed to BTL-specific) are still functional somehow?

[2021-12-13 15:05] angainor opened #9761 "Problems with collectives (HCOLL and `coll_hcoll_enable 0`)"
Apologies for a long report, but I don't know yet how to group this into smaller issues. I guess this is mostly a question to the Mellanox/NVIDIA folks here.

We have recently upgraded our HDR-based cluster to MLNX_OFED_LINUX-5.4-3.1.0.0 and the newest hpcx 2.10 (and 2.9) stack for UCX and HCOLL (we compile OpenMPI 4.1.1 ourselves). Suddenly we started seeing a lot of different problems with the c

[2021-12-13 15:12] angainor commented on #9761
On top of that there are performance issues (for example, `osu_bcast`):

[code]

[2021-12-13 16:23] bosilca commented on #9759
I do not recall the code being removed, so it might be still there, albeit non-functional. I will try to take a look.

[2021-12-13 19:56] hppritcha opened #9762 "OMPI master not happy with --with-cuda and --enable-mca-dso"
If one configures master with both --with-cuda and --enable-mca-dso configure options one gets unresolved symbols errors swhen opal_wrapper is being linked:
[code]

[2021-12-13 20:04] hppritcha commented on #9762
problem isn't present in v4.1.x or older since the code of interest was located elsewhere in those branches.

[2021-12-13 20:16] wzamazon commented on #9762
@wckzhang would you please take a look?

[2021-12-13 20:52] hppritcha commented on #9721
able to reproduce with OMPI 4.1.1

[2021-12-13 20:59] wckzhang commented on #9762
I'll try to take a look at it later this week

[2021-12-13 21:00] hppritcha commented on #9762
thanks @wckzhang . not super urgent, just wanted to document.

[2021-12-13 22:04] vasslavich opened #9763 "Hcol library init failed, with explicity disabled ucx and hcol MCA"
Hello, everyone!

I'm compiling from sources and running a third-party library who uses Open MPI and have the own configuration options in **configure**.
My problem resemble the [post](https://github.com/open-mpi/ompi/issues/7388). I'm using the options ```--without-ucx``` and ```--without-hcol``` as in the post. But, I still got errors about **fault of Hcol library init**, when the third-party li

[2021-12-13 22:16] bwbarrett opened #9764 "SHMEM Fortran library only builds with --enable-oshmem"
While working on https://github.com/open-mpi/ompi/pull/9738, I discovered an unexpected behavior in the OSHMEM Fortran interface.  The C interface will build if oshmem is enabled (either through autodetection or explicitly adding `--enable-oshmem`.  However, the Fortran interface only builds if `--enable-oshmem` is explicitly added to the configure command line.  The offending code is the AM condi

[2021-12-14 02:29] ggouaillardet commented on #9763
there is something inconsistent here.
your description is about Open MPI 4.1.2, but `ompi_info` output mentions the `/opt/openmpi-4.1.1` prefix, which is inconsitstent with your previous `configure` command line.

[2021-12-14 07:11] vasslavich commented on #9763
Thank you @ggouaillardet !
Yes, sorry, you're right! It's the confusion from me. But, actually, I tried install version 4.1.1 also and the error is the same. Simply, I accidentally took the output for ```ompi_info``` for 4.1.1. I'll correct the initial post.

[2021-12-14 07:15] ggouaillardet commented on #9763
make sure there is no old component left over (that would be `/opt/openmpi-4.1.2/lib/openmpi/mca_coll_hcoll.so`) from a previous install. If so, you can simple remove it and try again.

[2021-12-14 10:10] sekoenig commented on #9721
I found that as a workaround it is possible to use `MPI_Win_set_info` after allocating the window, which does not lead to a crash and supposedly gives the desired configuration, but it would still be good to get the problem fixed in `MPI_Win_allocate`.

[2021-12-14 16:15] mwheinz commented on #9625
Is anyone working on this? This is blocking #9658 - the bug is fixed in Open PMIX but we can't update the submodule pointer to a version which contains the fix.

[2021-12-14 21:57] vasslavich commented on #9763
I found the library ```opt/openmpi-4.1.2/lib/openmpi/mca_coll_hcoll.so``` only into the NVIDIA HPC SDK pathes. But, I tried ```hcoll_info```, and got the result:

[code]
Can it be the reason of the ```Error ... Hcol library init failed``` from the initial post?
Сan I install it via an evironment variables only?
Thanks!

[2021-12-14 22:19] hppritcha commented on #9721
okay took a while to figure out what's going on here.  there's an error in the test.  the accumulate ops value should be ```same_op``` NOT ```same_ops``` according to the MPI 4 standard.  Changing the string to ```same_op``` allows the test to pass.

[2021-12-15 00:52] ggouaillardet commented on #9763
If you want to skip the `coll/hcoll` component at runtime (I guess this is what you are asking), you have several options

 - `mpirun --mca coll ^hcoll ...`
 - `export OMPI_MCA_coll=^hcoll`
 - add `coll=^hcoll` in your `/.../etc/openmpi-mca-params.conf`

[2021-12-15 07:11] vasslavich commented on #9763
@ggouaillardet , thanks very much!

Via the environment variable is exactly what I need. Due to that a changing arguments in a third-party library is very problematic.

My respects!)

[2021-12-15 07:11] #9763 closed

[2021-12-15 07:19] ggouaillardet commented on #9763
@vasslavich good to hear that!

By the way, what happens without the environment variable?
Does the MPI program abort? Or is this just an annoying message?
If the former, this is something we might want to change.

[2021-12-15 07:38] vasslavich commented on #9763
I assume the communication option should not affect the result correctness. I'm not sure yet that the third-party MPI program handles this case correctly, if ```coll/hcoll``` is not disabled explicity. It should be checked. The source code is very large and haves many scripts with invocations of ```mpirun```.

[2021-12-15 09:05] sekoenig commented on #9721
Argh, my bad, sorry about that!

I ran a quick test with that fix applied to my sample code and it seems to be resolved there for me also.

I thought in my actual project I observed the crash as soon as _any_ info key is set, i.e., without specifying the `accumulate_ops` at all, but I am not sure now.  Unfortunately today the cluster went offline for a two-day maintenance, so I cannot check that r

[2021-12-15 10:11] angainor commented on #9624
@vspetrov I've had no time to look at this yet, but we've upgraded another system to MOFED 5.4 and HPCX 2.9 (and now 2.10). I am running some OSU benchmarks, which often fail with HCOLL. I reported the problems here: https://github.com/open-mpi/ompi/issues/9761. This is more or less reproducible with a simple OSU benchmark. Do you know if there are any known problems with recent versions of HCOLL

[2021-12-15 15:36] vasslavich opened #9767 "with SLURM"
Hello, dear colleagues!

I'm having the question.
I use NVIDIA HPC SDK 21.9 docker container with pre-installed OpenMPI 4.1.2. I need run my jobs via SLURM. Can I do it without a need reconfigure (+rebuild) OpenMPI (https://www.open-mpi.org/faq/?category=slurm)? For example, via environment variables or configuration files.

Thanks!

[2021-12-15 16:04] rhc54 commented on #9767
You should ask them - it all depends on how they built OMPI.

[2021-12-15 18:46] vspetrov commented on #9761
@angainor few comments:
1. First 3 cases look p2p related: @yosefe any ideas what can be causing ib errors ?
2. case (4): failure in allreduce with hcoll. It was a known bug and it must have been fixed in latest hpcx (2.10). Could you confirm you are using hcpx 2.10. Also plz share "cat $HPCX_DIR/VERSION" to see exact hcoll revision.
3. Bcast perf. If possible can we try running:
     * -x HCOLL_E

[2021-12-15 19:33] angainor commented on #9761
@vspetrov Thanks for the answer! case 4 was indeed reproduced in 2.9, but 2.10 doesn't seem to have it and tests run smoothly. So at least that one is clear!

Yes, we use knem on the system. We are also using HCOLL_ENABLE_MCAST=0 by default. There were some other issues that forced us to use that on this system.

Regarding the performance, this is tricky, mostly happens on large node counts, and l

[2021-12-15 20:27] #9555 closed

[2021-12-16 06:44] vasslavich commented on #9767
Ok, thank you!

[2021-12-16 06:44] #9767 closed

[2021-12-16 15:31] #9725 closed

[2021-12-16 15:37] #9743 closed

[2021-12-16 18:24] prehensilecode opened #9772 "Test suite failure - datatype partial"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Downloaded tarball from GitHub.

### If you are building/installing from a git clone, please copy-n-paste the

[2021-12-16 18:57] prehensilecode commented on #9772
Error was in compilation.

[2021-12-16 18:57] #9772 closed

[2021-12-17 00:50] cniethammer opened #9773 "Wrong default binding in Open MPI v4 on AMD EPYC with NSP4 partitioning"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Tested with v4.1.2, v4.0.5, (master 2e596ee32b)

### Describe how Open MPI was installed

Installation from source tarballs (master  from clean fresh git clone) in separate BUILD directory.
No additional configure options beside --prefix

### Please describe the system on w

[2021-12-17 02:49] rhc54 commented on #9773
The manpage is out-of-date, that's all - someone just needs to update it.

[2021-12-17 11:51] hakostra commented on #9656
I want to mention that I have encountered the exact same issue with a different code (MGLET) running on Jureca-DC, also in Jülich SC. The MPI is OpenMPI 4.1.1. In my case I am able to mitigate the issue by setting `export OMPI_MCA_sharedfp="^sm"` in my jobscript.

In summary, with MGLET I have two I/O related errors with OpenMPI. The present one occurring with 'ompio' with a single node and issue

[2021-12-20 07:12] mkre commented on #9638
Ping @bosilca...

This is issue is not a blocker for us, since we have currently just disabled smcuda in favor of ucx. But I'm not sure if this is a good idea and it brings me back to my second question above:

[2021-12-20 14:52] dalcinl opened #9777 "mpi4py: Regression in test suite"
Looks like there is a new regression. Right now I do not have convenient access to my everyday test hardware to reproduce locally. From the logs, looks like the problem occurs when querying attributes of window objects allocated with `MPI_Win_allocate()`, but only if the number of processes is more than one.

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.

[2021-12-20 15:04] thangckt commented on #9617
Dear Developers,

I meet the same problem with Open MPI 4.1.2 and Ucx 1.11

[2021-12-20 21:12] tonycurtis opened #9778 "Compile: latest updates result in pmix being rejected with complaints about NVIDIA"
Thank you for taking the time to submit an issue!

## Background information

Compiling latest HEAD, configure aborts with message as below.  System with no GPUs, have explicitly specified `--without-cuda` on ompi `configure` command-line to make sure.  UCX is indeed in location given with `--with-ucx=`.  Built OK 2 days ago.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git

[2021-12-20 21:14] tonycurtis commented on #9764
Is this because the Fortran interface was removed from the SHMEM spec?

[2021-12-20 21:43] rhc54 commented on #9778
Fix is coming: https://github.com/openpmix/openpmix/pull/2429

[2021-12-21 02:08] #9778 closed

[2021-12-21 10:19] gkatev opened #9780 "ompi_request_wait() hang @ coll module enable (in threaded application?)"
Hi, I'm encountering an issue with point-to-point messages in a collective module's `_module_enable()`, in a specific application (whose code is not easy too easy to navigate...)

Environment:
[code]
The application is Horovod's [synthetic tensorflow2 benchmark](https://github.com/horovod/horovod/blob/master/examples/tensorflow2/tensorflow2_synthetic_benchmark.py).

I've been looking into producin

[2021-12-21 12:01] abhisheks1460 commented on #7529
Dear user
I m facing issue similer to above can anybody help me with this ..urgently

NOTE: invoking MPI_ABORT causes Open MPI to kill all MPI processes.
You may or may not see output from other processes, depending on
exactly when Open MPI kills them.
--------------------------------------------------------------------------
[cn007.iitk.ac.in:24154] PMIX ERROR: UNREACHABLE in file server/pmix_ser

[2021-12-21 13:32] tonideleo opened #9781 "Error in configure "OPAL_VAR_SCOPE_PUSH called on "cxx"""
## Background information
I am trying to compile the new ompi 5.0.0rc2 to test the fault tolerance capability; however, the `./configure` fails almost right at the beginning with the following warnings/error:

[code]

Am I missing something?

Thank you!

## System Information

The machine, using `uname -a`:
[code]

The CPU, using `lscpu`:
[code]

Network Info using `lspci | egrep -i --color 'netwo

[2021-12-21 13:48] tonideleo commented on #9781
I apologize for not checking properly thru previous issues.
#8562 already provides a similar solution.
I used `unset cxx` and it bypassed this issue!

[2021-12-21 13:48] #9781 closed

[2021-12-21 13:51] tonideleo opened #9782 "Unrecognized FT TYPE: LAM"
## Background information
I am trying to compile the new ompi 5.0.0rc2 to test the fault tolerance capability; however, at the end of ` ./configure --with-ft=LAM --prefix=...` I get the following error:

[code]

Am I missing something? I thought the options were either LAM or cr.

Thank you very much for your time!

## System Information

The machine, using `uname -a`:
[code]

The CPU, using `lscp

[2021-12-21 14:27] bosilca commented on #9782
OMPI lost support for cr or LAM type of fault management. The only supported type is based on ULFM, enabled with `--with-ft=mpi`.

[2021-12-21 14:27] #9782 closed

[2021-12-21 14:32] sekoenig commented on #9721
Okay, it looks like it works fine also in my actual project. I must have been specifying the misspelled info key when I tested that before. Thanks for looking into this and identifying the problem in my code!

[2021-12-21 14:32] #9721 closed

[2021-12-21 14:43] rhc54 commented on #7529
Please don't comment on an issue closed over 20 months ago. You haven't provided enough info to even being to triage the problem. Open a new issue and provide the requested info so we can get an idea of what is going on.

[2021-12-21 16:31] devreal commented on #9780
There seems to be something going on with multiple threads:

[code]

Can you attach gdb and see if two threads are stuck? And also check that MPI is properly initialized with `MPI_THREAD_MULTIPLE` and that two threads are not issuing collectives on the same communicator?

[2021-12-21 16:48] bosilca commented on #9780
The `SYNC_WAIT` is OMPI way of waiting for completion of events, including communications. Thus, any lost or incorrectly/unsatisfied receive will block in this function, despite the fact that the `wait_sync` might not be the issue. @devreal is right, something is fishy in your output code, as if the first process after doing the send went into the receive code, but without printing the "receiving

[2021-12-21 17:19] gkatev commented on #9780
From as far as I can tell, process 0 could indeed have gone into receive mode after the send on the DUP-ED comm, just not at the code that I inserted for debugging. The "rank xx sending/receiving..." message is printed in the module's enable method, not in the pml's send/recv handler. Indeed the output might be lacking something and making the situation look different than it potentially is -- it

[2021-12-21 18:19] gkatev commented on #9780
The above tests are with ob1+vader(sm)+xpmem. I only have `libnbc` and `basic` enabled, and the debug/triggering code is inserted in `mca_coll_basic_module_enable()`. However, the effect is also similar with other coll components and is not specific to basic. Essentially this happens (in this specific application) when point-to-point methods are called in a component's `coll_module_enable` functio

[2021-12-22 05:17] abhisheks1460 opened #9785 "MIX ERROR: UNREACHABLE in file server/pmix_server.c"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

mpirun (Open MPI) 4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

source/distribution tarball,

### If you a

[2021-12-22 13:17] gkatev commented on #9780
I am able to reproduce with this app (and with the additional triggering code in the `enable` function)
[code]
Usign the non-threaded Init all works ok.

Can someone confirm?

[2021-12-22 13:36] devreal commented on #9780
Can you provide a diff of the changes in the `enable` function that trigger this issue? I cannot reproduce with vanilla Open MPI and I'm not sure what changes you mean.

[2021-12-22 13:40] gkatev commented on #9780
Yes sorry for the confusion here's the diff
[code]

[2021-12-22 14:46] devreal commented on #9780
Thanks! I can reproduce the hang: the sender ends up in `MPI_Finalize` while the receiver is stuck in `ompi_sync_wait_mt`. The problem seems to be a recursive wait. The stack trace I get:

[code]

Notice the calls `ompi_sync_wait_mt` in frame 15 and frame 4. The first wait because blocking comm dup is implemented in terms of non-blocking comm dup + wait. While waiting for the communicator activati

[2021-12-22 15:11] gkatev commented on #9780
Ah I see, I mostly understand. Essentially this is not related to Horovod, it just occured with it because apparently it uses `MPI_Comm_dup` + `MPI_THREAD_MULTIPLE`.

The underlying reason is that I use PML functions (actually, coll/base methods) during the initialization of my collectives component (in order to exchange extra required info),  which happens in `_module_enable`. If PML calls at tha

[2021-12-22 15:18] rhc54 commented on #9785
Could you please tell us something about this job? How many processes, how many nodes, what is it doing, how was it launched, etc? All you've told us is that you ran something that didn't work.

[2021-12-22 17:25] devreal commented on #9780
Yes, if you're experimenting with additional communication in the collectives modules you have to be careful (that was not clear from the original issue; I was assuming it was an issue with Horovod and vanilla Open MPI ;)). Let me rephrase my statement on PML usage: you can use PML operations pretty much anywhere (the coll and comm operations do that too after all) but you have to be careful becau

[2021-12-23 07:30] #9785 closed

[2021-12-24 03:29] RuRo commented on #8720
I also ran into this issue. It seems, that using non-contiguous datatypes (subarray in my case) results in MPI performing a separate transfer under the hood for each contiguous chunk.

I think that this also might be happening with regular MPI without CUDA (not 100% sure, might be a cache related performance difference). The CUDA-aware version is just significantly more noticeable, since CUDA memc

[2021-12-24 16:24] gkatev commented on #9780
I see, yes, as it turns out, PML calls (or at least recv/wait?) cannot be used during the communicator's initialization, as an MPI_Comm_dup (or similar/other) call will trigger a hang. From a *very quick* look into libnbc, I think my example with non-blocking collectives is not a problem either, as the request fields appear to be checked directly (1a41482720f5f4dfbac80edff91b9ee594852d18).

 For m

[2021-12-24 16:24] #9780 closed

[2021-12-26 07:27] Young768 opened #9791 "question on alltoall collectives"
Hello, folks. Does MPI support CPU-GPU or GPU-CPU alltoall right now? I am working on deep learning workloads recently. I know that NCCL support GPU-GPU alltoall using GDR. But my input data is first on the CPU. I don't want to do the copy from CPU to GPU and call NCCL later, which introduces overhead on PCIe.

[2021-12-27 23:49] jsquyres commented on #9781
Still kinda lame that we're using an unqualified shell variable name like `$cxx` and complaining if someone else already has it set.  #9792 makes this better.

[2021-12-27 23:59] jsquyres commented on #9617
I'm going to assume that this was therefore fixed properly in 4.1.2.

[2021-12-27 23:59] #9617 closed

[2021-12-30 22:00] jsquyres opened #9795 "mpi_f08 configure tests failing for NAG"
Per [this thread on the users mailing list](https://www.mail-archive.com/users@lists.open-mpi.org/msg34686.html), the `configure` tests for `mpi_f08` are apparently failing incorrectly for the NAG compiler v7.2 in Open MPI v4.1.x:

[code]

That thread also cites this from config.log, which could be a clue into what is happening:

[code]

Finally, a user contacted NAG tech support about this issue,

[2021-12-31 03:50] ggouaillardet commented on #9795
Can we have the full (compressed) `config.log`?

`configure` tries different methods to support the `ignore_tkr` thing
 - as-is (e.g. no pragma/directive)
 - `!GCC$ ATTRIBUTES NO_ARG_CHECK`
 - `!DEC$ ATTRIBUTES NO_ARG_CHECK`
 - `!$PRAGMA IGNORE_TKR`
 - `!DIR$ IGNORE_TKR`
 - `!IBM* IGNORE_TKR`

so we should not focus on just one.
The code is in the `_OMPI_FORTRAN_CHECK_IGNORE_TKR()` and `OMPI_FORTR

[2021-12-31 07:30] abasi20 opened #9797 "for help to resolve the issue"
background:
based memory : numa
![image](https://user-images.githubusercontent.com/26450285/147809342-fc30e1a5-1067-45eb-9e6d-7d6f57b23153.png)

version: v4.1.2rc4
![image](https://user-images.githubusercontent.com/26450285/147809317-31aaf5fb-5699-4861-be16-63208ea1be0e.png)

download code  from org. web, then compile to install

system: centos 7.4

## detail description
based numa mode , the dst

[2021-12-31 07:35] abasi20 commented on #9797
maybe :  how catch the exception of the mpi_send, or retry connect the dst

[2021-12-31 09:05] #9797 closed

[2021-12-31 13:33] mathomp4 commented on #9795
Gilles,

I'll get it to you next week when I get back to work.

Note that it's entirely possible NAG *cannot* support ignoring TKR. NAG is
pretty strict to the Fortran Standard, so if they feel they support
TYPE(*), DIMENSION(..) (aka the void* of Fortran) completely, they'd have
no reason to need to ignore TKR.

Is there a reason Open MPI requires supporting ignoring TKR? Or perhaps, is
there a w

[2021-12-31 15:44] jsquyres commented on #9795
If NAG doesn't support ignoring TKR, then -- at least at the moment -- Open MPI's `mpi_f08` module won't work with the NAG compiler.

Open MPI certainly can -- and should -- be extended to properly support `TYPE(*), DIMENSION(..)`, but it hasn't been a high priority.  It's been a while since I've thought about this kind of stuff, but I seem to recall that there's two possibilities for `TYPE(*), DI

[2021-12-31 18:43] wadudmiah commented on #9795
Could you please attach the Fortran code that is used to determine if the compiler supports F2008? If NAG can see that it is valid Fortran, then they can investigate a bug in their compiler. The latter would not be a massive surprise as they have just released this new version (7.1) of the compiler.

[2021-12-31 19:05] jsquyres commented on #9795
@wadudmiah There's not just one test -- there's a whole bunch of them.  They are collectively used to determine whether the Fortran compiler supports "enough" F08 for Open MPI's `mpi_f08` module or not.  See https://github.com/open-mpi/ompi/blob/master/config/ompi_setup_mpi_fortran.m4#L411-L588 for the list of tests that all have to pass for `configure` to determine whether the Fortran compiler su

[2022-01-01 22:08] BKitor opened #9802 "SMSC/knem throws error messages referencing BTL/knem"
I tried to build OpenMPI v5 with knem, but it fails at runtime throwing errors about btl_sm_single_copy_mechanism.
While in reality the error is in smsc component and setting `OMPI_MCA_coll_smsc=^knem` disables the warning.
I'm fairly sure it's just a documentation issue in `help-smsc-knem.txt`.

[code]

[2022-01-01 23:05] jsquyres commented on #9802
@BKitor I think you're reporting two things:

1. You ran into an error trying to use Open MPI's knem support
2. The error message Open MPI emitted was incorrect

Is that right?

1. Does `/dev/knem` exist?  If so, can you look in the system logs to see what error occurred when MPI processes tried to open it?
2. I've filed #9805 to fix the message.  Thanks for reporting it!

[2022-01-02 00:14] BKitor commented on #9802
I'm not really worried about getting knem working at the moment, but I figured you guys would want to know about weird error message.

[2022-01-02 00:25] jsquyres commented on #9802
Thanks for reporting!  Let's leave this open until #9805 and a corresponding PR for the upcoming v5.0.x branch merges.  It helps us track / make sure we don't forget stuff.

[2022-01-02 02:43] thesamesam commented on #9697
Could the fix for this be backported to 4.1.x? We [hit](https://bugs.gentoo.org/828123) it in Gentoo with 4.1.2.

[2022-01-02 11:25] ThemosTsikas commented on #9795
Hello,

Thanks for looking into this. The config.log is [here ](https://drive.google.com/file/d/1bjuo5SWqZFNbyOwm6AIumFaPL-0ex5VC/view?usp=sharing).

It would be nice, given all the effort involved in putting these new facilities into the Fortran Standard and then implementing them in compilers, to see them actually used in the field.

[2022-01-02 11:42] ThemosTsikas commented on #9795
I have also logged all the invocations, sources and responses by the NAG Fortran Compiler during configure [here.](https://drive.google.com/file/d/1uucWOHn6jeKyFplN60Yh8g-AkiV6z-55/view?usp=sharing)

You will find dbgnagind<NNN>.txt text files that contain the compiler options, dbgnagsrc<NNN>_<M>.f90 text files that contain the sources for the Mth option and dbgnagcap<NNN>.txt text files that capt

[2022-01-02 16:48] jsquyres opened #9807 "pkg-config escapes "@{libdir}" when reading OpenPMIx Libs.private"
I noticed yesterday that compiling `ompi_info` complained about an unknown escape sequence:

[code]

It took a little bit to track this back down to the root cause, but it's apparently that `pkg-config` (including the most recent version 0.29.2, which was released in 2017) takes this `pmix.pc` source file (artificially wrapped for easier reading):

[code]

And emits it as this (artificially wrappe

[2022-01-02 16:51] jsquyres commented on #9807
#9808 is a possible fix.

[2022-01-02 17:07] jsquyres commented on #9697
The heterogeneous functionality is broken; you should not be using it.  Specifically: you should not include `--enable-heterogeneous` in v4.0.x or v4.1.x builds.

That being said, it looks like there was a mistake made in the v4.1.x README (perhaps an errant merge conflict resolution?).

* Notice how the master branch README.md has a "DO NOT USE" warning in the `--enable-heterogeneous` description

[2022-01-02 17:13] #6762 closed

[2022-01-02 19:45] jsquyres commented on #9795
Thanks @ThemosTsikas.  From your `config.log`, I think I identified 2 legitimate errors (the other errors look like cases that are _supposed_ to fail).

1. I don't remember the exact meaning of `type(*), dimension(*)` (vs. `type(*), dimension(..)`), but we're testing for it in `config/ompi_fortran_check_ignore_tkr.m4`.  There was one place in there where I accidentally had `type(*)` instead of `ty

[2022-01-02 20:05] ThemosTsikas commented on #9795
Tried again with pr9812 tarball, [config.log.](https://drive.google.com/file/d/1H_GD1cwmimByj6MHDpDGj1wzA-QmZreV/view?usp=sharing)

[2022-01-02 20:35] jsquyres commented on #9795
Thanks!  Let me follow up with you on #9812...

[2022-01-03 16:56] bosilca commented on #9780
The basic rule of thumb is to never block the execution flow when it is started from an active message handler or from a request completion callback. Not even in a multithreaded case, because there is no guarantee that the BTL has released all internal locks before triggering the AM callback. If you need to create new communications, they must be nonblocking, and the delayed completion will be tri

[2022-01-03 17:23] bwbarrett commented on #9807
Filed https://github.com/openpmix/openpmix/pull/2431 to fix this issue.

[2022-01-03 21:43] jsquyres opened #9828 "Fix non-standard use of C99 flexible array in opal/mca/btl/base/btl_base_am_rdma.c"
As discussed in https://github.com/open-mpi/ompi/pull/9814#discussion_r777634270 and https://github.com/open-mpi/ompi/pull/9814#discussion_r777635966, the way `struct mca_btl_base_rdma_hdr_t` has a flexible array as its last member is valid C99.  But when `struct mca_btl_base_rdma_hdr_t` is used as an element in `struct mca_btl_base_rdma_operation_t`, that's actually invalid C11 (and possibly inva

[2022-01-04 22:47] alexschroeter commented on #6881
@ksheumaker how did you do force it to the mlx5 device?

[2022-01-05 02:02] bwbarrett opened #9833 "SM OSC component initialization crash"
In both master and v5.0.x, there's a crash if the SM OSC component is selected.  The end result is a messed up stack, but tracking through the code, there are multiple issues that need to be fixed:

1) in SM OSC's `component_select()`, there are numerous places that `goto error` without ensuring that `ret` is set to something other than `OMPI_SUCCESS`.  The error handling frees the module and the

[2022-01-05 02:52] hjelmn commented on #9833
Hmm, as far as performance goes osc/rdma and osc/sm should be about the same for an all on-node communicator. Not sure which one is preferable though. osc/rdma does not win in the allocate shared case though (since it doesn't support the function to get the pointers).

As for the error handing, yes, it is bad. I had been meaning to rework it then I didn't have time for it. I can probably help look

[2022-01-05 02:55] bwbarrett commented on #9833
Yeah, something's also broken in allocate shared.  I haven't figure out what.

If you want to start disagreeing with https://github.com/open-mpi/ompi/pull/9835, that would be a better use of time; I think I know how to fix these issues.

[2022-01-05 06:11] puneet336 opened #9836 "nvidia HPL-AI container multinode run issue"
## Background information
I am trying to benchmark multinode setup using NVIDIA GPU HPL AI singularity containers, https://ngc.nvidia.com/catalog/containers/nvidia:hpc-benchmarks.
i **was** getting following issue with **single node** runs with HPL-AI container-
[code]

which got resolved using -
`export UCX_TLS=self,sm,cuda_copy,gdr_copy`
i am using the same variable for multinode runs.

### What

[2022-01-05 09:29] yosefe commented on #9836
Setting `UCX_TLS=self,sm,cuda_copy,gdr_copy` disables inter-node transports which causes `Error: ucp_ep_create(proc=0) failed: Destination is unreachable`

Can you try updating the UCX version in HPL-AI container to [v1.11.2](https://github.com/openucx/ucx/releases/tag/v1.11.2) or [v1.12.0-rc1](https://github.com/openucx/ucx/releases/tag/v1.12.0-rc1)?

[2022-01-05 09:55] puneet336 commented on #9836
the ucx version inside container - revision 20697e5
ucx version on base OS - 1.10.0 revision a212a09
Do i need to update ucx version -
scenario a) inside container or,
scenario b) both BaseOS and container?

for a)
The container was configured using -
`--prefix=/usr/local/ucx --disable-assertions --disable-debug --disable-doxygen-doc --disable-logging --disable-params-check --disable-static --enab

[2022-01-05 09:57] yosefe commented on #9836
there is no need to change UCX in BaseOS, since it's a userspace-only library. need to change only inside the container.

[2022-01-05 14:28] Honggang-LI opened #9838 "[openmpi-4.1.2] No components were able to be opened in the pml framework"
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
[code]

### Please describe the system on which you are running

* Operating system/version:
[code]
* Computer hardware:
[code]
* Network

[2022-01-05 14:33] yosefe commented on #9838
@Honggang-LI seems like an issue with RDMA transports support in the UCX version on this system - since `rc/mlx4_0:1` is not in the list of checked transports in `common_ucx.c:304`
Can you pls provide the output of:
1. `rpm -qi ucx-ib` - assuming UCX is installed from RPM
1. `env UCX_MODULE_LOG_LEVEL=warn ucx_info -vd`
1. `ucx_info -b`

[2022-01-05 14:38] ggouaillardet commented on #9838
FWIW, `btl` components are used when `pml/ob1` is used, and `mtl` components are used when `pml/cm` is used. Since you force both `pml/ucx` and `osc/ucx` you do not need the `mtl` and `btl*` options.

[2022-01-06 12:38] Honggang-LI commented on #9838
[code]
[code]
[code]

[code]

[2022-01-06 12:40] yosefe commented on #9838
The devices on this setup are Intel HFI, and AFAIK the OpenMPI component for using them should be mtl/ofi and not pml/ucx

[2022-01-06 12:45] Honggang-LI commented on #9838
Without c36d7459b6331c4da825cad5a64326e7c1a272aa, those parameters work for me. What parameters are needed for different RDMA hardware (OPA/IB/IWARP/ROCE) with c36d7459b6331c ?

[2022-01-06 12:54] yosefe commented on #9838
Right, because the goal of that commit was to enable UCX on IB/RoCE.
Can you try all removing mtl/pml/btl parameters and let OpenMPI select the default component?
maybe @jsquyres can also comment what should be used for OPA/IWARP

[2022-01-06 13:00] Honggang-LI commented on #9838
After removed mtl/pml/btl parameters, it seems openmpi selects `openib` as default component.

However, openib is deprecated. See https://www.open-mpi.org/software/ompi/major-changes.php

Is it right to select `openib` as default component?

[2022-01-06 14:34] Honggang-LI commented on #9838
After removing mtl/pml/btl parameters for OPA.

[code]

[2022-01-06 14:38] Honggang-LI commented on #9838
Test over Intel `irdma`.

[code]

[2022-01-06 16:26] jsquyres commented on #9838
@mwheinz Who's correct to ping about OPA questions these days?

[2022-01-07 03:55] Honggang-LI commented on #9838
Test over bnxt_re.
[code]

[2022-01-07 13:02] mwheinz commented on #9838
Short answer - still myself or @BrendanCunningham.

Slightly longer answer, I've been complaining about UCX and openinb jumping ahead of OPA on OPA fabrics for quite a while now. It's one of the reasons we're still recommending OMPI 4.0.x. @Honggang-LI - what happens if you exclude UCX and openib with ^ucx,openib ?

@Honggang-LI , also be aware that if you don't explicitly specify the pt2pt BTL yo

[2022-01-07 14:09] walkup opened #9842 "old code for GPFS support in romio321 needs stat64=>stat in ad_gpfs_open.c"
Some large supercomputing systems have IBM Spectrum Scale (a.k.a GPFS) for the parallel file-system.  The code in openmpi-4.1.2 for GPFS support in romio321 has one minor issue.  It will not compile unless one changes "stat64" to "stat" in source file ad_gpfs_open.c.  To enable GPFS support in the current openmpi's romio321 path, one must pass the following option to the top-level configure script

[2022-01-07 15:10] gpaulsen commented on #9842
@walkup we can take a look at this.

[2022-01-07 20:10] jmerizia opened #9845 "CUDA-aware Ireduce and Iallreduce operations for GPU tensors segfault"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
tarball

### If you are building/installing from a git clone, please copy-n-paste the output from `git submodule

[2022-01-07 20:20] devreal opened #9846 "Inconsistent setting of mpi_assert_allow_overtaking leads to deadlock"
This is a dedicated issue for a problem reported in https://github.com/open-mpi/ompi/pull/9843. The fix there likely isn't what we want so I create a separate issue.

Setting the `mpi_assert_allow_overtaking` info key can happen in a way that creates inconsistencies between MPI processes. Processes with different `mpi_assert_allow_overtaking` info values exchanging messages will cause errors or de

[2022-01-07 20:31] bwbarrett commented on #9846
@hjelmn may have opinions as well, since he wrote most of this.

I think excluding collectives tags is probably a good idea regardless; I'm not convinced that all our collective algorithms will be ok with overtaking implementations.  That's a lot of code to audit.  Once we're excluding the collective tags, that at least makes the problem in (1) easier.

(3) sounds like the right solution, but real

[2022-01-08 02:11] Honggang-LI commented on #9838
Please provide the entire bash command you want I to run.

[2022-01-08 18:05] puneet336 commented on #9836
Hi,
Here's how i removed the default ucx -
[code]

here's the ucx version inside container -
[code]

Here's what i get on single node after upgrading ucx inside the container -
`
displaying Prog:%complete, N:columns, Time:seconds
iGF:instantaneous GF, GF:avg GF, GF_per: process GF

[node01:269262:0:269262] Caught signal 11 (Segmentation fault: invalid permissions for mapped object at address 0x155

[2022-01-08 18:14] yosefe commented on #9836
1. Does the failure happen when UCX_TLS is not set at all?
1. Can you pls set `UCX_LOG_LEVEL=info` and post the new output?
1. Can you pls try setting `UCX_MEMTYPE_CACHE=n` to see if it makes the test pass?

[2022-01-09 02:58] wzamazon opened #9850 "default process allocation process changed for master branch since 12/20/2021"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone; then compiled from source

### If you are

[2022-01-09 03:10] rhc54 commented on #9850
Members of the OMPI community asked that the rank-by policy default to the map-by policy. In this case, you are mapping by "node", and so the default ranking policy is also by "node". You can override this by setting the ranking policy to whatever you like - e.g., `--rank-by slot`, which would return you to the old behavior.

FWIW: it is entirely possible that older versions of OMPI defaulted to t

[2022-01-09 03:29] wzamazon commented on #9850
Thank you!  ```--rank-by slot``` returns to original behavior.

[2022-01-10 09:26] saulocpp opened #9851 "CUDA-awareness with Tegra chips"
I am working on a small cluster of Jetson Xavier NX modules and distributing the load with OMPI.
The library version is v2.1.1 and it comes as default with Ubuntu 18.04 in the JetPack 4.6. After querying the lib for cuda-awareness, it shows as negative so I decided to compile from source using --with-cuda.
After installing and fixing a few paths/symlinks so the compiler finds the proper headers, t

[2022-01-10 10:41] angainor commented on #9761
@vspetrov Hi! I think I have finally found the issue and the cause of the Bus errors we see on our system. I have investigated the memory allocation on the individual NUMA nodes. With the default DC transport the memory on node 0 gets exhausted, at which moment the OSU benchmark fails with a Bus error:

[code]
When I run the program with `UCX_TLS=ud,sm,self`, the problem does not happen and all NU

[2022-01-10 14:52] puneet336 commented on #9836
Hi,
using UCX_LOG_LEVEL=info  i noticed that on our cluster (by default loaded tcl modules) the UCX_TLS is set to self,sm,rc_x.
so
1. After removing (/unsetting) this variable the error goes away and multinode GPU runs work fine (with both ucx 11 and ucx 10).
3. with UCX_TLS=self,sm,rc_x + UCX_MEMTYPE_CACHE=n tests fail.

[2022-01-10 15:05] yosefe commented on #9836
2. This is expected, since setting `UCX_TLS=self,sm,rc_x ` effectively disables GPU support, which leads to treating GPU memory as host memory. So just need to remove forcing of UCX_TLS.

[2022-01-10 15:10] jsquyres commented on #9851
@janjust Can someone from NVIDIA answer?

[2022-01-10 15:14] jsquyres commented on #9851
@open-mpi/cuda Can someone from NVIDIA answer?

[2022-01-10 15:15] jsquyres commented on #9845
@open-mpi/cuda Can someone look at this issue?  Thanks.

[2022-01-10 15:21] dalcinl commented on #9777
Looks like the issue has been fixed. https://github.com/mpi4py/mpi4py-testing/actions/runs/1677802608

[2022-01-10 15:21] #9777 closed

[2022-01-10 19:50] jsquyres commented on #9807
@bwbarrett Has this been brought into Open MPI's master branch yet, perchance?

[2022-01-10 21:38] markalle commented on #9842
Yeah, I checked and it looks like both v4.0.x and v4.1.x are using romio321 with a full copy in OMPI.  I know at some point there's a goal to have newer OMPI just pulling romio straight from mpich master, but I don't think v4.0.x / v4.1.x will be doing that.  In any case they're not yet doing that.  So I believe these trees are still taking one-off fixes into our romio321 copy.

So I made a couple

[2022-01-11 10:22] chenshixinnb opened #9858 "How do I use OpenMpi in AWS EFA"
I use a normal node and it works fine, but I use a node that supports EFA network and report the following error:

[2022-01-11 10:23] chenshixinnb commented on #9858
[1641461840.235500] [c-96-4-worker0001:3603 :0]       rc_iface.c:492  UCX  ERROR ibv_create_srq() failed: Operation not supported
[1641461840.234592] [c-96-4-worker0001:3604 :0]       rc_iface.c:492  UCX  ERROR ibv_create_srq() failed: Operation not supported
[1641461840.236224] [c-96-4-worker0001:3613 :0]       rc_iface.c:492  UCX  ERROR ibv_create_srq() failed: Operation not supported
[164146184

[2022-01-11 10:24] chenshixinnb commented on #9858
[1641461840.238519] [c-96-4-worker0001:3595 :0]       rc_iface.c:492  UCX  ERROR ibv_create_srq() failed: Operation not supported
[1641461840.238244] [c-96-4-worker0001:3598 :0]       rc_iface.c:492  UCX  ERROR ibv_create_srq() failed: Operation not supported
[c-96-4-worker0001:03640] pml_ucx.c:291  Error: Failed to create UCP worker
[c-96-4-worker0001:03646] pml_ucx.c:291  Error: Failed to create

[2022-01-11 10:25] chenshixinnb commented on #9858
[1641461840.238519] [c-96-4-worker0001:3595 :0]       rc_iface.c:492  UCX  ERROR ibv_create_srq() failed: Operation not supported
[1641461840.238244] [c-96-4-worker0001:3598 :0]       rc_iface.c:492  UCX  ERROR ibv_create_srq() failed: Operation not supported
[c-96-4-worker0001:03640] pml_ucx.c:291  Error: Failed to create UCP worker
[c-96-4-worker0001:03646] pml_ucx.c:291  Error: Failed to create

[2022-01-11 10:28] brminich commented on #9858
Can you please post the commands you used to run your application?

[2022-01-11 10:29] chenshixinnb commented on #9858
I added the following parameters via this link(https://github.com/open-mpi/ompi/issues/6795 ):
`--mca pml cm --mca mtl ofi --mca pml_base_verbose 10 --mca mtl_base_verbose 10`,
The following error has occurred：
[c-96-4-worker0002:04711] mca: base: components_register: component cm register function successful
[c-96-4-worker0002:04711] mca: base: components_open: opening pml components
[c-96-4-work

[2022-01-11 10:30] chenshixinnb commented on #9858
#!/bin/bash
module add GROMACS/2021-foss-2020b
mpirun -v gmx_mpi mdrun -v -cpi nvt_gpu -deffnm nvt_gpu

[2022-01-11 10:30] chenshixinnb commented on #9858
#!/bin/bash
module add GROMACS/2021-foss-2020b
mpirun -v gmx_mpi mdrun -v -cpi nvt_gpu -deffnm nvt_gpu  --mca pml cm --mca mtl ofi --mca mtl_ofi_provider_include psm2

[2022-01-11 10:56] brminich commented on #9858
what is the command which produces the original errors from pml_ucx? Can you please also post the whole log?
Also why do you specify psm2 provider for running with efa?

[2022-01-11 13:46] wzamazon commented on #9858
Hi @chenshixinnb,

I have a few questions:

1. What version of open mpi are you using?
2. What version of libfabric are you using (you can get the info by running `fi_info`)?
3. Are you trying to use GPU version of GROMACS?

[2022-01-11 14:13] chenshixinnb commented on #9858
thanks，
1.openmpi4.0.5

[2022-01-11 14:22] chenshixinnb commented on #9858
sorry,I pasted it wrong，
--mca pml cm --mca mtl ofi --mca pml_base_verbose 10 --mca mtl_base_verbose 10

[2022-01-11 14:47] devreal opened #9859 "Warning: UCX is unable to handle VM_UNMAP"
I see below error on an IB cluster with OMPI 5.0.x and UCX 1.11.0:

[code]

@gpaulsen pointed me to https://github.com/openucx/ucx/issues/4866 which suggested that disabling pml/yalla in OMPI was a solution. However, pml/yalla has been removed in OMPI 5.0.x.

If I disable either btl/uct or pml/ucx the warning disappears. Disabling any other installed pml (ob1, cm, or v in my case) or btl (tcp, sm,

[2022-01-11 15:18] gpaulsen opened #9860 "A few minor configure errors"
I noticed today when I was configuring `master` branch that there are a few unexpected messages to stderr.
I'm recording them here, and will attempt to PR some fixes this week:
[code]

[2022-01-11 15:41] devreal commented on #9859
@bwbarrett Suggested to try building OMPI with `--enable-mca-no-build=memory-patcher,memory-malloc_solaris`. In this case, the warnings disappear as well.

[2022-01-11 16:55] jsquyres opened #9861 "v4.1.x: Compile fail on --enable-heterogeneous builds"
[From Cisco MTT](https://mtt.open-mpi.org/index.php?limit=&wrap=&trial=&enable_drilldowns=&yaxis_scale=&xaxis_scale=&hide_subtitle=&split_graphs=&remote_go=&do_cookies=&phase=mpi_install&text_start_timestamp=2022-01-10+16%3A30%3A01+-+2022-01-11+16%3A30%3A01&text_platform_hardware=%5Ex86_64%24&show_platform_hardware=show&text_os_name=%5ELinux%24&show_os_name=show&text_mpi_name=%5Eompi-nightly-v4.1.

[2022-01-11 17:09] jsquyres opened #9862 "PRTE fails to link with hwloc 1.5.2 and 1.8.1"
[This was found in Cisco MTT](https://mtt.open-mpi.org/index.php?limit=&wrap=&trial=&enable_drilldowns=&yaxis_scale=&xaxis_scale=&hide_subtitle=&split_graphs=&remote_go=&do_cookies=&phase=mpi_install&text_start_timestamp=2022-01-10+16%3A30%3A01+-+2022-01-11+16%3A30%3A01&text_platform_hardware=%5Ex86_64%24&show_platform_hardware=show&text_os_name=%5ELinux%24&show_os_name=show&text_mpi_name=%5Eompi-

[2022-01-11 18:16] bgoglin commented on #9862
hwloc_get_numanode_obj_by_os_index() was added in 1.10. It's easy to backport with something like:
[code]

[2022-01-11 18:26] bwbarrett commented on #9862
@rhc54 I couldn't remember what we decided while we were talking about this issue on the OMPI call, so that was the first thing I was going to check.  There's a bug here regardless, because either 1) we should support hwloc 1.5.2 or 2) the configure test should abort with a message that says it can't find a new enough configure.  I'm guessing the code for (2) is broken, which is why I had Jeff ass

[2022-01-11 18:30] rhc54 commented on #9862
Borked configure could be right - does OMPI want to support 1.5.2? I don't really care - like I said, this patch is trivial, though IIRC there are some other impacts (we compile, but may see odd things in terms of support).

Thx for taking a look at the configure question. I'll post a PR with the patch from Brice as a backup plan.

[2022-01-11 18:37] bosilca commented on #9861
Missing 927e9aa97373dac652f9cba4813e6ee609ca2830.

[2022-01-11 20:20] wckzhang commented on #9858
Those errors look like ucx errors, which wouldn't appear if the ofi mtl was properly selected. EFA is only supported with the ofi mtl. IIRC, specifying --mca pml cm doesn't fail if the cm pml cannot find a proper mtl. Try excluding the ucx pml --mca pml ^ucx. My suspicion is that the ofi mtl is not properly selecting the EFA provider and is causing a fallback to ucx.

[2022-01-11 20:56] wckzhang commented on #9858
EDIT: My recollection was wrong, specifying --mca pml cm should force the cm pml to be selected or an error will be thrown if it cannot select an MTL. I misread and realized you added --mca pml cm later.

[2022-01-11 21:34] awlauria commented on #9862
I remember the line we drew in the sane for v5.0.x being hwloc v1.11.

[2022-01-11 21:40] wzamazon commented on #9858
Can you add `--mca mtl_base_verbose 100` to your `mpirun` command line and share the output?

[2022-01-11 21:52] rhc54 commented on #9862
Done - someone should update the OMPI master submodule pointers to pick it up.

[2022-01-11 22:15] jsquyres commented on #9862
Ok.  I've updated Cisco's MTT for master / v5.0.x to only test with external hwloc 1.11.1.

Let's leave this issue open until the PRTE submodule pointer is updated here in OMPI.

[2022-01-11 22:19] rhc54 commented on #9862
Should you update OMPI's configure to reject earlier versions of hwloc?

[2022-01-11 22:21] bwbarrett commented on #9862
yup; it's on my todo list.  Hence, leaving the ticket open.

[2022-01-12 01:50] chenshixinnb commented on #9858
[slurm2-out.txt](https://github.com/open-mpi/ompi/files/7851019/slurm2-out.txt)
------------------------
#!/bin/bash
module add GROMACS/2021-foss-2020b
mpirun -v gmx_mpi mdrun -v -cpi nvt_gpu -deffnm nvt_gpu --mca pml cm --mca mtl ofi --mca pml_base_verbose 10 --mca mtl_base_verbose 100

[2022-01-12 01:57] wzamazon commented on #9858
Looks like the initialization of ofi (libfabric) failed.
[code]
Please add `-x FI_LOG_LEVEL=warn` to your `mpirun` command. This will make libfabric print more information.

[2022-01-12 02:04] chenshixinnb commented on #9858
[slurm3-out.txt](https://github.com/open-mpi/ompi/files/7851106/slurm3-out.txt)
-------------------
mpirun -v gmx_mpi mdrun -v -cpi nvt_gpu -deffnm nvt_gpu --mca pml cm --mca mtl ofi --mca pml_base_verbose 10 --mca mtl_base_verbose 100 -x FI_LOG_LEVEL=warn

[2022-01-12 05:21] wzamazon commented on #9858
I did not see any information from libfabric printed, which makes me wonder whether openmpi was compiled correctly with libfabric.

How did you obtain open mpi?

Did you compile by yourself or got it from other source?

[2022-01-12 14:14] Honggang-LI commented on #9838
@mwheinz, ping?

[2022-01-12 14:19] mwheinz commented on #9838
These are the options I use in my work:

--mca osc ^ucx --mca pml ^ucx --mca mtl ofi --mca btl ofi

[2022-01-12 14:28] yosefe commented on #9838
@mwheinz in latest OMPI versions, ucx should disqualify itself on OPA fabrics, per #8496 (and its backports)
can you please check if running without `--mca osc ^ucx --mca pml ^ucx --mca mtl ofi --mca btl ofi` parameters would still select mtl/ofi?
if not - can you please run with `--mca pml_ucx_verbose 100` and upload the log so we can check why not?

[2022-01-12 14:57] mwheinz commented on #9838
I just checked and with 4.1.2 I do seem to be working properly without having to manually exclude ucx.

[2022-01-12 15:01] mwheinz commented on #9838
@Honggang-LI  - what transport are you **trying** to use? Your command line explicitly excludes all the transports that are supported on a OPA fabric and you explicitly specify UCX for pml and osc....

[2022-01-12 17:07] wckzhang commented on #9858
[code]
This is the important section. The fi_getinfo call in Open MPI did not return a provider (efa) and the other available providers are in the exclude list, thus no MTL was returned and the PML CM could not progress.

I feel like there's something missing here if fi_info returns an EFA provider but fi_getinfo isn't. Have you verified that all nodes in your slurm cluster return a provider when

[2022-01-12 19:26] wckzhang commented on #9858
With just FI_LOG_LEVEL=warn, I don't think seeing a lack of logs is indicative. I'm pretty sure libfabric is responding as it looks like the fi_getinfo call is returning tcp;ofi_rxm, UDP;ofi_rxd, and shm providers. The problem is that the EFA provider isn't in the fi_getinfo call.

[2022-01-12 20:02] wzamazon commented on #9850
@rhc54 @jsquyres

Would there be a notes about this change in the NEWS of open mpi 5.0?

Also, when a user use `-N x` option with open mpi 5.0, they will asked to use  `--map-by ppr:x:node`. However, the two are not exactly same, because of the `rank-by` method is `node` now. Should we consider to change the warning message to add `--rank-by slot` to make them consistent with `-N`?

[2022-01-12 21:06] bwbarrett commented on #9850
We (OMPI) actually owns making those choices.  I'm not sure we actually want to emit the warning with `-N ?`, because that will screw up applications that redirect mpirun output and `-N ?` has been part of our CLI for a long time.  One of the advantages of the work Ralph's done with PRRTE's interface is that the OMPI community can decide what we want the behavior to be.

[2022-01-12 21:51] wzamazon commented on #9850
According to the earlier comment from Ralph, I thought OMPI has made the decision to make rank by method the same as map by method, which is the motivation of the change?

[2022-01-12 21:55] rhc54 commented on #9850
"OMPI" is a multi-headed beast - difficult to get everyone to agree on a mapping default. I think Brian is correct that MPI would prefer "dense" packing (i.e., with "rank-by slot" being the default here), while others would prefer something else.

I'll deal with this in the upcoming change to PRRTE, and with the "-N" deprecation warning.

[2022-01-13 01:42] chenshixinnb commented on #9858
thanks，I  used EasyBuild OpenMpi tool chain default automatic compilation

[2022-01-13 02:08] GiudGiud commented on #8260
@NHZlX did you find a solution / more info on this?
Error message seems similar to what we are seeing here https://github.com/idaholab/moose/discussions/20020

[2022-01-13 03:11] wzamazon commented on #9858
it is possible that open mpi was not configured or compiled with libfabric correctly.

Because you have libfaric, I assume you used EFA installer to install it. Can you try to use the open mpi comes with EFA installer? It is under `/opt/amazon/openmpi`.

[2022-01-13 03:15] rhc54 commented on #9850
Fortunately, turning off the "-N" deprecation is trivial - just change a "true" to "false" on a function call 😄

[2022-01-13 03:33] chenshixinnb commented on #9858
基于业务原因，我需要将openmpi安装到共享盘，并且需要通过共享盘的openmpi编译安装软件

[2022-01-13 03:47] wzamazon commented on #9858
I see. Can you run the command `ompi_info` that is par of the openmpi you are using, and paste the result?

[2022-01-13 03:56] chenshixinnb commented on #9858
[ompi_info.txt](https://github.com/open-mpi/ompi/files/7859809/ompi_info.txt)

[2022-01-13 03:57] chenshixinnb commented on #9858
thanks

[2022-01-13 04:35] wzamazon commented on #9858
Hi,  I noticed that the open mpi you are using is not configured with libfabric.
[code]
You will need configure open mpi with libfabric, e.g. when you compile open mpi, you will need to add `--with-ofi=/opt/amazon/libfabric` to the configure command, also remove `--with-ucx`.

[2022-01-13 05:06] chenshixinnb commented on #9858
`curl -O https://efa-installer.amazonaws.com/aws-efa-installer-latest.tar.gz`
thanks,Can I install EFA to a shared disk by changing the script path?

[2022-01-13 05:23] wzamazon commented on #9858
No, it always install open mpi to `/opt/amazon`.

Note that to use EFA you will need to run EFA installer on each compute node any way, because using EFA requires you to install rdma-core and EFA kernel module, which is shipped as part of EFA installer and usually cannot be installed to a shared disk.

[2022-01-13 11:24] gkatev opened #9868 "Bus error with btl/sm+XPMEM in MPI_Finalize()"
Hi, I've been seeing some crashes related to btl/sm and XPMEM, during MPI_FInalize().

Environment:
[code]
Example execution:
[code]
Backtrace:
[code]
I claim that it is related to XPMEM, because if I set `smsc=cma` it goes away (and because it is XPMEM that traditionally triggers bus errors?). This is an aarch64 system, but I can also reproduce the error in an x86 one. For what it's worth, I do r

[2022-01-13 12:58] Honggang-LI commented on #9838
We test OPA driver with openmpi. So, we expect openmpi works with general RDMA Verbs **and** OPA specific psm2.

[2022-01-13 14:43] mwheinz commented on #9838
@yosefe - I just noticed that builds of 4.1.2 on my OPA fabric aren't enabling UCX; after adding --with-ucx to my configure string, I got this:

So, it turns out I didn't confirm whether or not the problem still exists.

[2022-01-13 14:52] #9132 closed

[2022-01-13 15:09] mwheinz commented on #9838
@Honggang-LI UCX is not verbs and, as far as I know, OPA is not compatible with UCX. For more information I suggest contacting Cornelis Networks and asking for support.

[2022-01-13 15:10] mwheinz commented on #9838
Okay - I've installed the latest OpenUCX on my machines and verified that it correctly disables itself on an OPA fabric:

[code]

[2022-01-13 16:08] hppritcha commented on #9868
@gkatev this is indeed due to xpmem.  unlike other shared memory mechanisms used by open mpi, xpmem is different in that the mappings exported by a process to other attaching processes (and subsequently mapped in to the virtual address space of these attaching processes) become invalid once the exporting process exits.  This is different from the typical shared memory using system V, posix, or mem

[2022-01-13 17:11] rhc54 commented on #9850
Okay, a brief status report on this issue. First, let me explain the origin of the change. There has been general agreement that when we map by an object (e.g., `--map-by node`), user expectation is that the ranks will follow the mapping. In other words, users expect that we first place rank=0 on the first node, then we place rank=1 on the next node, etc. The revised ranking policy followed that p

[2022-01-13 17:34] hppritcha commented on #9868
@gkatev how many ranks/nodes are you using when you see this problem?

[2022-01-13 17:52] bwbarrett opened #9869 "mpicc / mpirun / etc. carry unnecessary external dependencies"
Currently, Open MPI executable (like mpicc/mpirun/etc.) inherit dependencies on BTL communication libraries, like ugni.  This leads to problems on some large scale systems, where compute not libraries are not in the default library search paths on the head nodes (I assume they must be available, otherwise linking of applications wouldn't work).  For example:

[code]

This has been a problem with O

[2022-01-13 18:13] gkatev commented on #9868
160 ranks/cores on the arm64 system, and 64 on the x86 one. Regarding the similar (or same(?)) issue I remember seeing in the past, that would occur on the 64-core system, but not on another 32-core one (or maybe rarely(?)), so that does indeed sound like it could be a factor -- I will try to see if it happens with less cores/ranks as well.

[2022-01-13 18:31] hppritcha commented on #9021
@karasevb how are you building these tests?

[2022-01-13 19:07] hppritcha commented on #9868
no need.  I have access to a aarch64/tx2 system with that kind of core count/node.   its sort of a race condition so if you use fewer ranks/node you're less likely to observe this.

[2022-01-13 19:36] lifflander opened #9871 "MPI_Win_create failure with osc rdma (v4.1.1)"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

I'm using OpenMPI 4.1.1 on Eclipse (an internal CTS-1 Sandia machine).

[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

OpenMPI was installed by the system ad

[2022-01-13 20:00] bosilca commented on #9868
I think the issue is in ompi_mpi_finalize. We cannot wait for the PMIX barrier while calling opal_progress, because we will be subject to the kind of issues put forward by the XPMEM support, where a remote process release the memory used by the local process polls while we are still actively calling BTL progress functions.

The simplest fix is to add a second PMIX barrier, one where we wait for th

[2022-01-13 21:08] hppritcha commented on #9021
Checking against master at   3dc8570 here's what I observe:

- large count fails as reported
- structpack2 cannot reproduce error
- struct_no_real_types fails as reported
- get_elements_pairtype fails as reported
- index_misc cannot reproduce error with master as expected

[2022-01-13 21:18] hppritcha commented on #9868
I don't like this fix as it will not work with ```mpi_session_finalize```

[2022-01-13 21:56] bwbarrett commented on #9807
No; PRs posted in https://github.com/open-mpi/ompi/pull/9872 and https://github.com/open-mpi/ompi/pull/9873.

[2022-01-13 22:29] hppritcha commented on #9021
assigning to @bosilca as these appear to be datatype related issues

[2022-01-13 22:52] bosilca commented on #9868
I'm not sure how this has anything to do with sessions as in session_finalize you are not tearing down the BTL infrastructure.

[2022-01-13 23:05] hppritcha opened #9875 "cannot use --enable-mca-dso when building OSHMEM with UCX"
I was doing some experimenting with ```--enable-mca-dso``` again and noticed that master no longer appears to build with this configure option and with ```---with-ucx``` when trying to build the OSHMEM libraries:
[code]
If I don't use the ```--enable-mca-dso``` option the build completes nominally.

[2022-01-13 23:05] hppritcha commented on #9875
@open-mpi/ucx

[2022-01-13 23:14] wzamazon commented on #9850
@rhc54  Thank you for the detailed explanation!

Has this already been done? Can you point me to the commit that does it?

[2022-01-13 23:21] rhc54 commented on #9850
I can point you to the PR - the PRRTE community needs to discuss it prior to commit: https://github.com/openpmix/prrte/pull/1176

[2022-01-14 03:01] aingerson opened #9876 "Failure running OSU benchmarks with OFI"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
From source with [4.1.2 tag tar](https://github.com/open-mpi/ompi/releases/tag/v4.1.2) with the following config

[2022-01-14 14:13] hoopoepg commented on #9875
hi @hppritcha

could you test https://github.com/open-mpi/ompi/pull/9877 ?
thank you

[2022-01-14 15:31] gpaulsen commented on #9859
Talked to @janjust today, he'll take a look.

[2022-01-14 15:52] gpaulsen commented on #9625
@abouteiller We've recently the configure changes to build PMIx and PRRTE release branches internally on v5.0.x.  Could you please retest?

[2022-01-14 15:53] gpaulsen commented on #9576
@awlauria can you please retest?

[2022-01-14 16:11] mwheinz commented on #9876
@aingerson - What version of OFI are you using? Can you provide a back trace?

[2022-01-14 17:36] hppritcha commented on #9875
This fixes the issue.  thanks!

[2022-01-14 17:36] #9875 closed

[2022-01-14 17:59] aingerson commented on #9876
I've been using the upstream libfabric code but I just checked against 1.14 and it's the same.

Here is the segfault backtrace that stderr gives me (this is from OMPI 4.1.2 + OFI 1.14) . How do you run OMPI with gdb?
[code]

[2022-01-14 18:00] abouteiller commented on #9625
@gpaulsen I tried with v5.0.x, I found the following issue:

Open PMIX:
1. 'configure' reports it is using `/usr/include` for finding internal components (e.g., lib event, hwloc, etc); this is a harmless inconsistency in the output log, Open PMIX is indeed compiled with `-I$VPATH/3rd-party/hwloc-2.4.0/include`
[code]

2. make fails because it is missing `-L$VPATH/3rd-party/hwloc-2.4.0/lib`. This m

[2022-01-14 18:30] mwheinz commented on #9876
I never have - I've let it dump core and used GDB on the core file. definitely need to do something like that to get more data though.

By the by, and just a gentle reminder, if you're asserting there's a bug with the OMPI OFI BTL you should remember that Intel are the authors of that code, you might want to ask in-house for more info on it.

[2022-01-14 18:49] aingerson commented on #9876
@mwheinz For sure. I just do not have any contacts from the OMPI Intel team and came here hoping one of them could help me.

[2022-01-14 19:04] mwheinz commented on #9876
@aingerson -If I remove the parameter '--mca mtl_ofi_provider_include "verbs;ofi_rxm"' it works on my OPA fabric:

[code]
[awbp023:~/work/osu-micro-benchmarks-5.8](N/A)$ /usr/mpi/gcc/openmpi-4.1.2/bin/mpirun -np 2 --host awbp023,awbp024 --mca mtl ofi --mca btl ofi --mca mtl_ofi_provider_include "verbs;ofi_rxm" --mca orte_base_help_aggregate 0 --mca pml cm -tag-output mpi/one-sided/osu_get_acc_late

[2022-01-14 19:05] wzamazon commented on #9876
@aingerson The btl/ofi component was a new component introduced to open mpi 4.1.0, (there is no btl/ofi component in open mpi 4.0.x), so if you are upgrading from 4.0.x, this is a new code path for you.

from the error message
[code]

I have a feeling that libfabric write a CQ with NULL as `op_context` for the CQ entry. You might want to check from that angle.

[2022-01-14 19:09] aingerson commented on #9876
By the way, I don't think I'm setting ofi btl, just mtl. Am I supposed to set both?
`--mca mtl ofi`

[2022-01-14 19:14] mwheinz commented on #9876
So, this line in your back trace says that OMPI is selecting OFI as the best BTL to use:

[code]
I think this is happening because you're doing one-sided operations, which is selecting the OSC component "rdma" which then looks for a BTL to use. In 4.1.x you can force a different BTL by adding

[code]
to your command line.

[2022-01-14 19:16] mwheinz commented on #9876
Unfortunately I don't think anyone representing Intel is active here right now. If you reach out to Sean Hefty he might be able to point you in the right direction.

[2022-01-14 19:17] aingerson commented on #9876
@mwheinz Ah I see. Well for what it's worth, setting `--mca osc pt2pt` fixes the segfault. Hangs are still there though. I'll talk to Sean. Thanks @mwheinz and @wzamazon

[2022-01-14 19:18] mwheinz commented on #9876
I did ping one of my contacts at Intel; he might be able comment, although that whole team was broken up between 2018-2020.

[2022-01-14 19:26] acgoldma commented on #9876
Another option is to disable ofi btl `--mca btl ^ofi`

[2022-01-14 19:29] aingerson commented on #9876
@acgoldma This also fixes the segfault but hangs are all still there.

Does this suggest an issue in the ofi btl or in our usage?

[2022-01-14 19:40] wzamazon commented on #9876
@aingerson

I think disabling osc/rdma (hence btl/ofi) is good for debugging, but not a viable long term solution, because it used pt2pt.

The pt2pt component has its own issues, and has been removed from osc in open mpi 5.0.

[2022-01-14 20:33] abouteiller commented on #9625
Maybe I misunderstood what you wanted me to test?
👍 master WORKS
👎 v5.0.x still doesn't work (see above)

[2022-01-14 21:10] hppritcha commented on #9868
@gkatev could you give #9880 a try?

[2022-01-16 00:13] sassy-crick opened #9881 "ib_device.c:1319 UCX ERROR ibv_create_ah(dlid=49152 sl=0 port=1 src_path_bits=0 dgid=::ffff:172.17.22.101 sgid_index=1 traffic_class=106) on rocep33s0f1 failed: Invalid argument ud_iface.c:48 Fatal: iface 0xb32050: failed to get peer address"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Using EasyBuild version 4.5.1 and EasyConfig files OpenMPI-4.1.1-GCC-11.2.0.eb and OpenMPI-4.1.1-intel-compilers

[2022-01-16 09:05] yosefe commented on #9881
Hi @sassy-crick ,
The issue seems related to UCX component which is used by OpenMPI to operate IB/RoCE networks,
Can you please provide the following info to help identify the issue:

1. Is setting `UCX_NET_DEVICES=ibp129s0f0:1,rocep129s0f1:1` help workaround the issue?
1. Run the test with `UCX_LOG_LEVEL=debug` and upload the resulting log file
1. Output of `rpm -q rdma-core`
1. Output of `show_g

[2022-01-16 11:38] sassy-crick commented on #9881
Hi @yosefe
Thanks for the quick response. I had UCX in my mind as well. Right now our cluster is on maintenance, so I can only do what you suggested on Monday when it is back online. However, the outcome of `$ ucx_info -d` is in the gist-file I uploaded (link above). I am not sure if that helps much but I still had that on my terminal so I thought I might as well post it.
By the way, do you want m

[2022-01-16 11:42] yosefe commented on #9881
IMO better attach the uploaded files directly to this issue.
Unfortunately, `ucx_info -d` does not indicate the source of the problem.

[2022-01-16 22:41] hatmer opened #9882 "How do I make mpirun continue despite node failures?"
## Background information

I am implementing a fault-tolerant version of a large software project ([ArgoDSM](https://github.com/etascale/argodsm)) that relies on MPI for managing nodes.

### What version of Open MPI are you using?

v4.1.2

### Describe how Open MPI was installed

tarball

### Please describe the system on which you are running

* Operating system/version: Linux 4.19.0-18-cloud-amd

[2022-01-17 00:00] rhc54 commented on #9882
I'm afraid that will not work -  OMPI v4 has no concept of continuing in that situation.

[2022-01-17 07:39] gkatev commented on #9868
Yes, as far as I can tell that fixes the problem, and I no longer see it on either of my systems.

[2022-01-17 13:15] sassy-crick commented on #9881
Some updates:
[code]
[code]
[code]

[ucx_info.log](https://github.com/open-mpi/ompi/files/7882016/ucx_info.log)
[mpi_hello_world-foss-2021b-debug.log](https://github.com/open-mpi/ompi/files/7882037/mpi_hello_world-foss-2021b-debug.log)
[mpi_hello_world-foss-2021b-debug-device-specified.log](https://github.com/open-mpi/ompi/files/7882044/mpi_hello_world-foss-2021b-debug-device-specified.log)

Let m

[2022-01-17 15:50] mkurnosov opened #9883 "coll/han: dynamic selection does not work for simple algorithms"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

9704f0f9fae069af0ca8bcd895cf9c3a64c4a5a7 (master)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone

### If you are building/installing from a git clone, ple

[2022-01-17 18:48] bosilca commented on #9882
You will need to install your own version of OMPI 4.x with resilient capabilities as indicated [here](https://fault-tolerance.org/).

[2022-01-17 19:04] yosefe commented on #9881
According to the debug log and ucx_info, seems the device `rocep33s0f1` (a ConnectX-4 25Gbps RoCE) is being used for some of the communications, since it's expected to have a better latency for processes running on same NUMA domain (i guess the ConnectX-6 100Gbps device is on another NUMA domain). By default, UCX tries to utilize all devices on the system.

1. Is the ConnectX-4 device expected to

[2022-01-17 23:14] sassy-crick commented on #9881
Thanks for the feedback.
As for 1): I need to find out first. Bear with me please.
As for 2):
[code]
I hope that helps. Thanks for your help so far, much appreciated!

[2022-01-18 09:54] sassy-crick commented on #9881
Regarding your first question I got told:
[code]
That said, it could be that it was still 'alive'. We are currently looking into that.

[2022-01-18 11:02] yosefe commented on #9881
It seems that when using the ConnectX-4 , UCX tries to communicate between separate Vlans: by default it would select the first IPv4 RoCE v2 address which is GID index 7 on the above machine, but it may be a different Vlan on another machine.
Can you pls post "show_gids" output from the other machine in the failing MPI job?

[2022-01-18 11:24] sassy-crick commented on #9881
Sure. That is from a different compute node (04, instead of the 03 above):
[code]

My colleague told me I should only use the `ibp129s0f0` NIC and not any of the other. In case that helps.
So would that be a good approach:
[code]
with `mpi_hello_world-foss-2021` just being a standard 'Hello World' MPI C++ program I found on the internet.

[2022-01-18 11:31] yosefe commented on #9881
Yes, this is the right approach

[2022-01-18 11:49] karasevb opened #9884 "Atest iallgather wrong result"
## Background information
The issue reproduces on a single node for 2 procs with vader btl.

I've checked for following versions:
v4.1.x  commit: open-mpi/ompi@5ef48ea
master commit: open-mpi/ompi@9704f0f

OMPI built with no  `./configure` extra args except `--prefix`.

Example:
Failed for the vader btl:

[code]

And cannot reproduce with btl tcp;
[code]

[2022-01-18 13:22] gkatev opened #9885 "UCC initialization fails at mca_coll_ucc_save_coll_handlers(), when under HAN"
Hi, I'm seeing an initialization failure when combining `coll/han` with `coll/ucc`.

Environment:
[code]
Execution:
[code]
Leads to:
[code]

I believe that the issue might stem from coll/ucc assuming that there will be a prior value/implementation present in `comm->c_coll->coll_<primitive>`, and errors out if one is not found.

I had also stumbled upon this question at some point and had more-or-l

[2022-01-18 14:33] sassy-crick commented on #9881
Many thanks!
Is there anything we can/should do on our side to avoid specifying the NIC which needs to be used? I mean, other than defining the command line options mentioned above.
Either way, thanks for your help which is much appreciated!

[2022-01-18 14:58] bartoldeman commented on #9444
Finally got back to this. Bad news, with the above patch it still doesn't compile; it fails here:
[code]

I reduced it to an example with these 8 AVX512 functions:

[code]

[code]

Bug reported to NVIDIA: https://forums.developer.nvidia.com/t/issue-with-some-avx512-intrinsics-min-max-ep-i-u-32-64/200868

[2022-01-18 15:54] devreal commented on #9883
@mkurnosov Thanks for the report! I'm not quite sure I can follow the problem here. Do you see an error occurring with the command you posted? I ran it locally and the command succeeds for me. The call to `opal_info_set` should override the MCA selection for the underlying collectives implementation used by HAN...

[2022-01-18 16:23] mkurnosov commented on #9883
@devreal the program terminates without an error. In the example above, we expect that HAN calls Bcast from tuned component, but it uses basic component. It can be catched by debug printf in basic/bcast.

[2022-01-18 16:38] jsquyres commented on #9884
@karasevb Can you post a small reproducer here on this issue?

[2022-01-18 16:38] bosilca commented on #9444
Awesome, they generate the AVX512 code, but fail at the linking stage due to missing intrinsics. Bottom line, yet another broken compiler, that we need to handle. Honestly I have 0 interest or incentive in fixing their mess, if anybody at Nvidia want's to fix this I will find the time to review their patch. Until then, people using nvc to compile Open MPI should disable any support for AVX*.

[2022-01-18 16:43] jsquyres commented on #9882
Just to clarify: both answers are technically correct.  😉

* @rhc54 says that it won't work with the community Open MPI v4.1.x series.
* @bosilca and his research team have been working with fault tolerance in MPI (and specifically Open MPI) for years.  The URL he cites is how you can incorporate ULFM into Open MPI.  For quite a while, their research group hosted a fork of Open MPI that included U

[2022-01-18 16:46] jsquyres commented on #9444
@janjust Can you find the right people at Nvidia to look into this?  Thanks!

[2022-01-18 18:44] bosilca commented on #9883
This case should be handled in the current code. Check the code at the end of the `check_components` function in ompi/mca/coll/base/coll_base_comm_select.c line 450. After removing all excluded collective components we reorder the selected components using the include order, which should have given you `tuned` first.

I don't have your test and I could not find it in ompi-tests. So, let's try to f

[2022-01-18 19:05] cparrott73 commented on #9444
@bosilca @jsquyres

Thanks so much for this report.  We have seen this issue pop up from a couple of other sources recently, and it is under investigation.  I am hopeful we can push a fix out in the next release of the HPC SDK.

Should you encounter any issues with the HPC SDK compilers, copy me on them, and I'll see to it that they get in front of the appropriate eyeballs.  Thanks!

[2022-01-18 19:16] bosilca commented on #9869
The BTLs are an easy target for discussion because they are obviously not necessary when not running an MPI job, but the issue remains true for many other shared libraries (hwloc, cuda).

Let me add a 3rd possible approach, implement the dependencies in OPAL and do lazy loading of all frameworks.

[2022-01-18 19:18] bwbarrett commented on #9869
The very reason that we made this change was to avoid dynamic loading to avoid killing large system filesystems.  The very problem is lazy loading.

[2022-01-18 19:38] bosilca commented on #9869
Then I'm not sure I understand what the problem is. I would understand if everything is compiled statically, but it does not seem so, or the example above would not try to load `libugni.so`. Thus, as long as we depend on any way on a shared library there will be loading storm.

What I am proposing is a little like RTLD_LAZY, but at the level of the OPAL components. Thus, the BTL framework will not

[2022-01-18 19:42] bwbarrett commented on #9869
are you suggesting that we add all the infrastructure to dynamically load libugni?  That would be a hell of an ask.  Just look at how big of a pain it is to deal with CUDA.  To do that with all dependencies seems insane.

In general, I think the right answer is to use the dso infrastructure we already have.  However, a small set of components (the BTLs in OMPI, one or two components in PRRTE) caus

[2022-01-18 21:27] bosilca commented on #9869
What I was proposing is to load OPAL frameworks only when needed. But after playing around a little bit, it does not seem like a satisfactory approach.

Thus, after going back and forth with @jsquyres, we might have found al alternative approach, using the libtool convenience libraries to create a libopen-tiny.la that would contain the minimum OPA support, aka. exactly what `opal_init_util` needs.

[2022-01-18 21:54] rhc54 commented on #9869
Not sure I get how that solves anything. The 'mpirun' issue is a side one - what we are trying to do is eliminate backend loading of DSOs. Period. It doesn't scale. Brian is only noting that the problem also caused symptoms in `mpicc`, so the solution should address that too. Solving that problem by a method that results in DSOs being loaded again on the backend just takes us backward.

Just tryin

[2022-01-18 23:41] jsquyres commented on #9869
@bosilca @bwbarrett and I are talking on the phone about this tomorrow -- we'll get it resolved.

[2022-01-19 04:00] mkurnosov commented on #9883
@bosilca
Thanks for the patch. The problem is that `coll_include[]` array is empty (`count_include = 0`) because info key does not include components (only `"^han"`). coll_han_subcomms.c, line   119:
[code]

[2022-01-19 14:35] gkatev opened #9889 "MCA pml_ucx_tls has no effect"
Hi, I'm under the impression that something like `--mca pml_ucx_tls tcp,self` will instruct UCX to only use these TLs -- is this correct? Instead, the parameter does not seem to have any effect.

Setup:
[code]
I would expect the following to fail, but it does not:
[code]
Or, there's no performance difference switching from `--mca pml_ucx_tls sm,self` to `--mca pml_ucx_tls tcp,self`.

If I instead

[2022-01-19 14:48] haampie opened #9890 "Configure script wrongly assumes -fPIC is not required in fortran integer size test"
This is an exact copy of an issue I had compiling MPICH.

When running configure on Open MPI v4.1.2 with clang as a C / C++ compiler and gcc as a Fortran compiler, I'm hitting the following:

[code]

The solution is to either drop `-O3` from `clang` or add `-fPIE` to `clang`.

See here how MPICH solves it https://github.com/pmodels/mpich/pull/5771 for reference.

-----

See here for a reproducer:

[2022-01-19 15:04] brminich commented on #9889
No, its meaning is to specify required transports support for UCX pml to be selected:
[code]

[2022-01-19 15:07] gkatev commented on #9889
Ahh okay I see, thanks!

[2022-01-19 15:07] #9889 closed

[2022-01-19 16:01] rhc54 commented on #9869
FWIW: I've started looking into changing the way we handle this in PMIx/PRRTE. Instead of linking against these dependencies at build, I'm building all components and letting the main library absorb them (which is now our default). I then use `dlopen` on the backend to see if the required lib is present - if not, disqualify the component. If so, then use `dlsym` to map the few APIs I actually need

[2022-01-19 16:53] acgoldma commented on #9876
This suggests there may be an issue in verbs;ofi_rxm. At this point it is unlikely to be an OMPI issue. You can contact Sean Heafty (from Intel). He is the OFI maintainer and may be able to help.

Can you run `fi_info` (same one built with libfabric you are using)?
Can you run with any other provider?
Can you run fabtest (OFI testsuite)?

I would run these and maybe ask over at [ofiwg/libfabric](h

[2022-01-19 17:03] #9882 closed

[2022-01-19 17:38] aingerson commented on #9876
@acgoldma
fi_info looks fine
The get_acc_latency segfault is the same with all providers but the hangs only happen with ofi_rxm (verbs and tcp)
Fabtests all run fine

I am working with Sean (he is on my team) to get these enabled. We are trying to understand what OMPI is doing to figure out how we can get more information about the error.
Something about both libfabric and Open MPI seems to be the

[2022-01-19 17:47] wzamazon commented on #9876
@aingerson

Regarind this error message
[code]
I do see this error message quite a lot when working with Open MPI and OFI. This is usually because the OFI provider wrote a completion (cq_entry) with the `op_context` field being NULL. Open MPI does not expect the context to be NULL, and try to extract information from it (at offset 0x40).

[2022-01-19 17:54] aingerson commented on #9876
@wzamazon I see. Very helpful. The op_context should come from the app though, right. So is OMPI not passing in the correct context somewhere? Or have you found somewhere in OFI where we aren't setting the context?

[2022-01-19 18:05] wzamazon commented on #9876
Open MPI always pass a context, but sometimes provider still write a CQ without context, either due to a bug or because it encountered an error.

Note, it is actually legal for libfabric to write a cq without a context, especially regarding an RMA operation. The following is from https://ofiwg.github.io/libfabric/master/man/fi_cq.3.html

[code]

IIRC, get_acc_latency mainly use the `fi_read` opera

[2022-01-19 19:31] bosilca commented on #9883
The it is not clear to me what is the issue you are trying to solve. tuned priority is 30 by default and you manually set the priority of basic to 90. The `simple` communicator duplication method in HAN does not preferentially select tuned, and as a result the basic algorithms will be used (because forced priority). All this seems normal.

[2022-01-20 01:29] mkurnosov commented on #9883
I just want to point out that HAN's MCA parameters for module selection are ignored:
[code]

[2022-01-20 03:11] jjhursey commented on #9716
FWIW: I get this even using the PGI/Nvidia C compiler combined with the PGI/Nvidia fortran compiler (I'm using `22.1-0` in this case). Note that this problem did not occur with older versions of the compiler (checked `20.11-0`) since `-iquote` was not supported in that version.
[code]
It seems the `pgcc`/`nvcc` accepts `-iquote`, but `pgfortran`/`nvfortran` does not.

I think the only solution her

[2022-01-20 05:22] jeffhammond commented on #9716
Perhaps messier, but necessary because there's absolutely no guarantee CC and FC preprocess the same. As you know, XLF doesn't (unless it has changed) accept -D at all, but rather -WF,-D. Even gfortran and gcc behave differently, just not with respect to the flags.

[2022-01-20 07:44] bosilca commented on #9883
That's a different issue, it has nothing to do with priorities nor with the ompi_comm_coll_preference info key. The dynamic selection of the module should be done by the get_module function in coll_han_dynamic.c, where it picks among all available modules the one indicated by the user rule.

I will try to take a look tomorrow to see why it does not do the right thing. What test are you using ?

[2022-01-20 10:41] vspetrov commented on #9885
Hi @gkatev, i just tried to reproduce that on the same v5.0.x rev and couldn't. Could you plz share the build cmd line of ompi and full cmd line (by default i believe  both han/ucc are disabled).

Regarding general logic of coll/ucc saving backup handler. IIUC, the ompi coll_base logic loops through components from lowest prio to largest and each time overwrites ompi->c_coll->module and alg pointe

[2022-01-20 10:44] mkurnosov commented on #9883
I am using simple Bcast test and patched ompi with debug printf in coll/{basic,tuned}:

[code]
mpiexec:

[code]

[2022-01-20 11:57] gkatev commented on #9885
Yes sorry some other parameters were hidden in env vars. Here is the full command:

[code]
(also happens with pml/ob1)

OMPI build
[code]
[config.log](https://github.com/open-mpi/ompi/files/7904850/config.log)

Let me know if you can now reproduce it, or I could also take a look into the selection code myself.

[2022-01-20 14:44] jjhursey commented on #9716
I have a narrow fix in hand for this particular case as a short-term fix. But I agree that we should separate the CPPFLAGS from the FPPFLAGS (name?). I'll see if I can scope the amount of work needed for that.

[2022-01-20 15:35] awlauria commented on #9627
https://github.com/open-mpi/ompi/pull/9825

Merged to v5.0.x in the above prrte/pmix submodule update. Closing.

[2022-01-20 15:35] #9627 closed

[2022-01-20 15:45] gpaulsen commented on #9762
@wckzhang Were you able to take a look?

[2022-01-20 15:51] gpaulsen commented on #9013
Hope to get this fixed for v5.0.0 after merging https://github.com/open-mpi/ompi/pull/9097

[2022-01-20 18:01] awlauria commented on #9862
https://github.com/open-mpi/ompi/pull/9896 merged to v5.0.x.

Closing.

[2022-01-20 18:01] #9862 closed

[2022-01-20 18:59] jjhursey commented on #9869
@rhc54 Will PRTE/OpenPMIx still have the ability to force a component to be built as a DSO via a configure option even if the default is static? Spectrum MPI builds at least one set of components as DSO's (lsf) because we can ship with the DSOs and still work on systems that do not have LSF installed (in which case the linking fails and the component is disqualified).

[2022-01-20 19:08] rhc54 commented on #9869
Yes - it is just the default to not do it. I'm still looking at this in terms of moving from configure-time build decisions to runtime include decisions. Idea is that the component is always built, it checks for the presence of the required library during component open - component disqualifies itself if the library isn't found. Hopefully eliminates the need to install libraries on the machine whe

[2022-01-20 20:12] janjust commented on #9859
@devreal looks like it got introduced with `0909e1448d UCT: require at least UCX 1.9.0 ` #9660

So seems to be a conflict between btl/uct and pml/ucx

[2022-01-20 20:52] devreal commented on #9859
So do we have to disable btl/uct if pml/ucx is used? In that case we would not be able to use osc/rdma with btl/uct while pml/ucx is used...

[2022-01-20 20:55] janjust commented on #9859
yes, I see the dilemma, let me think about it some more - I don't think we should force the exclusion

[2022-01-20 21:13] hatmer opened #9902 "MPI_Comm_size always returns 1 (v5.0.0 only)"
## Background information

I am trying out Open MPI v5.0.0 and have found a bug.

### What version of Open MPI are you using?

v5.0.0

### Describe how Open MPI was installed

tarball

### Please describe the system on which you are running

* Operating system/version: Linux 4.19.0-18-cloud-amd64

-----------------------------

## Details of the problem

When I run a simple MPI connectivity test p

[2022-01-20 21:27] janjust commented on #9859
incidentally, this has a huge impact on ucx performance

[2022-01-21 06:28] karasevb commented on #9884
This issue stops reproducing with certain conditions. I will update.

[2022-01-21 08:02] afborchert opened #9905 "System call failure: unlink during MPI_Finalize()"
## Background information

### What version of Open MPI are you using?
4.1.2

### Describe how Open MPI was installed

Downloaded from https://download.open-mpi.org/release/open-mpi/v4.1/openmpi-4.1.2.tar.bz2, unpacked, and built with following script:

[code]

### Please describe the system on which you are running

* Operating system/version: Solaris 11.4
* Computer hardware: Intel Xeon CPU E5-2

[2022-01-21 11:20] casparvl opened #9906 "Specific OSU benchmarks segfault when non-CUDA aware OpenMPI 4.1.1 compiled with CUDA-aware UCX"
## Background information
This question comes from the [EasyBuild ](https://easybuild.io/) community, and may affect how OpenMPI is installed by this community going forward.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating

[2022-01-21 11:40] chenshixinnb commented on #9858
[slurm5-out.txt](https://github.com/open-mpi/ompi/files/7912991/slurm5-out.txt)
-------------
#!/bin/bash
module add GROMACS/2021-foss-2020b
export PATH=/home/cloudam/OpenMpi-4.0.5/bin:$PATH
export LD_LIBRARY_PATH=/home/cloudam/OpenMpi-4.0.5/lib:$LD_LIBRARY_PATH
mpirun -v gmx_mpi mdrun -v -cpi nvt_gpu -deffnm nvt_gpu --mca pml cm --mca mtl ofi --mca pml_base_verbose 10 --mca mtl_base_verbose 100 -

[2022-01-21 11:44] chenshixinnb commented on #9858
I recompiled OpenMPi-4.0.5,but there are still problems.
----------------------------------
 Configure command line: '--prefix=/home/cloudam/OpenMpi-4.0.5'
                          '--build=x86_64-pc-linux-gnu'
                          '--host=x86_64-pc-linux-gnu'
                          '--enable-mpirun-prefix-by-default'
                          '--enable-shared' '--with-cuda=no'

[2022-01-21 13:05] wzamazon commented on #9858
Hi, does the compute node (such as c-96-4-worker0002) has EFA installer installed on it?

[2022-01-21 13:52] jsquyres commented on #9906
FYI @open-mpi/ucx

[2022-01-21 14:02] jsquyres commented on #9902
This type of error *usually* means a mismatch of libraries.

Your example implies that you're using the same `test.out` executable with both Open MPI v4.x's `mpirun` and Open MPI v5.x's `mpirun`.  Is that a correct assumption, or was your sample output abbreviated?

If you did use the same `test.out` in both cases, I'm not entirely surprised that an Open MPI v4.x-compiled `test.out` misbehaved wit

[2022-01-21 16:44] hatmer commented on #9902
You are correct that I had not recompiled the test executable with the v5.0.0 mpic++. It works correctly now, thank you for your help.

[2022-01-21 16:44] #9902 closed

[2022-01-21 19:55] aingerson commented on #9876
@wzamazon Thanks for the tip. I did a deep dive of the code and I cannot find anywhere where a read is getting reported on the receive side or where a NULL context is getting written. It all looks correct to me.

I've been experimenting with different OMPI versions (4.0.7 and 4.1.2) and OFI versions (1.12, 1.13, 1.14, and upstream) and this is what I found in regards to the 3 problems in this issu

[2022-01-21 20:04] shijin-aws opened #9907 "[Open MPI main branch] mpirun/mpicc error while loading shared libraries"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

main branch, [commit](https://github.com/open-mpi/ompi/commit/60e82dd7cbdb6a7b36aa6f9e5543afa4cf0502ee)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operatin

[2022-01-21 20:07] bwbarrett commented on #9907
the tools are picking up their dependency on libcuda from hwloc.  hwloc isn't a component in master/5.0, so this is a general library linking problem, not the dso/no dso problem.  hwloc, unlike OMPI and Libfabric, doesn't dlopen libcuda, hence the inherited dependency.

[2022-01-21 21:24] gpaulsen commented on #9625
Thanks @abouteiller v5 RMs will do an analysis of master vs v5.0.x and see what's missing.

[2022-01-21 21:57] awlauria commented on #9625
I cloned v5.0.x and cannot reproduce. My thinking it was resolved by this: https://github.com/open-mpi/ompi/pull/9873

@abouteiller can you re-clone and re-test?

[2022-01-21 22:21] bosilca commented on #9846
I have updated the PR with (3). However, this can only be implemented in one direction: dynamically enabling overtake. I left a comment in pml_ob1.c about this.

Regarding the collectives I'm mostly confident that most, if not all, our algorithms should be OK. The reason is that the only impact of overtake is in the order of messages between the same peers, and the collective algorithms do not pip

[2022-01-21 23:55] shijin-aws commented on #9907
I tried to build Open MPI with `--disable-cuda`. I can see it's an option in hwloc's configure, but using this option still does not fix the issue.

[2022-01-22 00:51] aingerson commented on #9876
Update:
I've root caused the hangs to a problem in some rxm changes that went in this summer. We are working on a fix for it.

As for the segfault, I've figured out that this looks like either a problem rxd or an incorrect usage of rxd (opening multiple EPs) which I will investigate but I'm wondering why we're even getting to rxd in the first place.

I realized that when I think I'm using verbs;of

[2022-01-22 00:56] wzamazon commented on #9876
Yes, btl/ofi and mtl/ofi each open a separate libfabric endpoint. Because btl/ofi and mtl/ofi are two different components, it would be hard for them to share an endpoint.

Moreover, the requirement that btl/ofi and mtl/ofi for the libfabric provider are different. For example, btl/ofi requires the provider to support FI_DELIVERY_COMPLETE, while mtl/ofi does not have such requirement (it only requ

[2022-01-22 01:15] hppritcha commented on #9876
I'll chime in here too.  the need for the ofi btl to support one-sided correctly means it does need ```FI_DELIVERY_COMPLETE``` but on many networks this is expensive.  You don't need to ask for this capability just for point to point messaging. So unless you're using a network that handles the ```FI_DELIVERY_COMPLETE``` with low overhead, you don't want to consider a refactoring of OMPI wherein th

[2022-01-22 01:58] aingerson commented on #9876
Thanks, very helpful. It sounds like we need to specify the btl provider in our testing as well to make sure we're testing the correct provider. It's still weird to me that it picked verbs;ofi_rxd up before verbs;ofi_rxm since they should not be listed in that order but as you say it might come down to some support requested that is the issue. I can investigate that later. I'll add the rxd and rxm

[2022-01-22 01:58] #9876 closed

[2022-01-22 08:39] chenshixinnb commented on #9858
yes,This is the output of executing this command:`[aa@c-96-4-worker0001 ~]$ fi_info -p efa -t FI_EP_RDM`
`provider: efa
    fabric: EFA-fe80::4fc:a6ff:fe55:bb98
    domain: rdmap0s6-rdm
    version: 111.20
    type: FI_EP_RDM
    protocol: FI_PROTO_EFA

[2022-01-22 16:27] abouteiller commented on #9859
There is the exact same issue in v4.1.2 with a build that contains `pml_ucx` and `btl_openib`.

To add more use cases as to why disabling one of the two is problematic, we have the same system image on nodes with mlx5, mlx4 hardware, that use pml_ucx, and mtha nodes that use openib. Other than this incompatibility the automatic selection between the two works great and lets us have a single config

[2022-01-22 18:13] hjelmn commented on #9859
How about ```disable_ucx_memory_hooks=false```? We added that specifically because UCX incompatibilities with Open MPI memory hooks. Should probably be linked to the common/ucx version of the variable.

[2022-01-23 12:16] PhilipDeegan commented on #9729
it was this

[2022-01-23 12:16] #9729 closed

[2022-01-23 14:50] jsquyres commented on #9871
FYI: @open-mpi/opa Could you comment on this issue?  The poster specifically mentions Omnipath.

[2022-01-23 15:26] mwheinz commented on #9871
@lifflander - Sorry for not noticing this sooner. It's not clear what hardware transport you're actually using. I do not believe osc/rdma supports PSM2 because there is no PSM2 BTL. I would suggest two things:

1. Re-run with ``--mca btl_base_verbose 100`` and find out what BTL you're actually using. If it isn't the OFI BTL, you might want to try that by specifying ``--mca btl ofi``.
2. Re-run wit

[2022-01-23 16:25] jsquyres commented on #9905
@hjelmn @bwbarrett @hppritcha Is there any way that this is related to #9868 / #9880? I know that those are about XPMEM and unrelated to Solaris, but is there a larger issue in v4.1.x:vader/master:sm cleanup?

[2022-01-23 16:33] abouteiller commented on #9859
`disable_ucx_memory_hooks` applies only to `uct`, the issue is more pervasive as it also happens with `openib`.

playing with more parameters, I note that `pml_ucx_opal_mem_hooks` and `osc_ucx_opal_mem_hooks` pretend they are synonym with `opal_common_ucx_opal_mem_hooks` but setting the `osc` one alone doesn't resolve the issue, so it clearly isn't a full synonym.

On my test systems, performance

[2022-01-23 17:02] jsquyres commented on #9890
@haampie Can you cite what versions of the compilers and/or platforms you're using?  I ask because I'm running into difficulty trying to replicate on x86-64 RHEL 7 with recent-ish clang / gfortran:

[code]

[2022-01-23 18:10] haampie commented on #9890
Quickly tried on a few versions of Ubuntu:

Works:
- Ubuntu 16.04 with clang 3.8.0 and gcc 5.4.0

Fails:
- Ubuntu 18.04 with clang 6.0.0 and gcc 7.5.0
- Ubuntu 20.04 with clang 10.0.0 and gcc 9.3.0
- Ubuntu 21.10 with clang 13.0.0 and gcc 11.2.0

Reproducer:

[code]

[2022-01-23 18:56] jsquyres commented on #9807
This is now moot.  Better PRs have been posted and merged.

[2022-01-23 18:56] #9807 closed

[2022-01-24 09:45] afborchert commented on #9905
I do not think so as no signals (SIGBUS or whatever) were observed in any of the processes.

[2022-01-24 20:36] #9716 closed

[2022-01-24 20:40] jjhursey commented on #9716
Specific fix for master in PR #9899 and v5.0.x in PR #9911

[2022-01-24 21:20] afborchert commented on #9905
Sure:

[code]

I've added a run with “-d” as well:

[code]

[2022-01-24 22:08] bwbarrett opened #9912 "Errors ignored in ft com_ft_detector code"
GCC on Ubuntu gives the following warning:

[code]

The warning looks legit; we do not check the return code of the call to pml.ircev nor the request manipulation calls.  I can't figure out the state machine of this code to figure out how to handle those errors, but some work appears required to make the FT code correct.

[2022-01-24 22:48] jjhursey commented on #9907
We had to add the following configure flags to make it work for us: `--disable-cuda --disable-nvml --with-cuda=no`
Open MPI configure will complain about some of them, but will pass them down to hwloc which will pick out the ones it knows and disable the autolinking.

[2022-01-25 05:17] rhc54 opened #9917 "mpirun fails when PRRTE is external"
This is observed on both master and v5.0 branches. If you configure OMPI to use an external PRRTE installation, then there is no `prterun` installed in the OMPI prefix/bin location. Thus, if you attempt to execute `mpirun` using a path (absolute or relative - the key is to prefix a command with a path), then `mpirun` will attempt to fork/exec `prterun` using that same path. This fails with the err

[2022-01-25 08:23] brminich commented on #9906
This does not work, because OMPI is not just redirecting everything to UCX. In some modules, like coll, it has a bunch of memory management routines (copies) in its stack. OMPI compiled without CUDA support is not able to detect type of user memory and use the appropriate memory management routines.

[2022-01-25 09:32] brminich commented on #9906
@Akshay-Venkatesh, are you aware of any plans to support such a configuration? (i.e. when OMPI is compiled without CUDA support, while UCX is built with it)

[2022-01-25 10:14] gengtsh opened #9918 "ORTE_ERROR_LOG: Data unpack had inadequate space in file base/plm_base_launch_support.c at line 1213"
hi,
there are two pcs in the LAN, pc1 and pc2
when i run on pc1 with mpirun  -np 1 --host pc2 hostname, i get the correct output
but when i run on pc2 with mpirun  -np 1 --host pc1 hostname, i get the wired output:
ORTE_ERROR_LOG: Data unpack had inadequate space in file base/plm_base_launch_support.c at line 1213
--------------------------------------------------------------------------
ORTE was

[2022-01-25 11:16] bgoglin commented on #9907
The issue likely comes from hwloc >= 2.5 better autodetecting CUDA. --with-cuda= is used to find NVIDIA libraries, including cuda, opencl and nvml, that's why --with-cuda=no helps, but --disable-opencl would likely work too.

[2022-01-25 11:25] bgoglin commented on #9907
hwloc can dlopen its own plugins to avoid such dependencies (configure with --enable-plugins or --enable-plugins=cuda,nvml,opencl,...) but we don't do it by default, and I seem to remember that two levels of plugins (hwloc plugins loaded by the OMPI hwloc plugin) would cause some problems (with namespaces?).

[2022-01-25 12:12] casparvl commented on #9906
Thanks a lot for this clear explaination, now I also understand why we see it in some tests, but not in others :)

I have to think a bit on how we can best deal with this in the EasyBuild community. Essentially, EasyBuild is a tool for providing optimized software builds on HPC systems. Since the build recipe's need to support both GPU and non-GPU based systems, we were hoping to be able to do a b

[2022-01-25 13:12] boegel commented on #9906
What would be the impact of (always) building OpenMPI on top of CUDA, but not having CUDA available at runtime (only when it's actually needed)?
If that's OK, then `CUDA` could be just a build dependency, in EasyBuild terms.

I guess that may still be problematic in terms of which CUDA *version* we build against though...

[2022-01-25 13:33] casparvl commented on #9906
I was thinking the exact same thing. But maybe it's better to discuss the details of a solution [here](https://github.com/easybuilders/easybuild-easyconfigs/issues/14801). The question of the impact is a good one though. Curious if anyone here would know this straight away. Otherwise, we'll just have to try and test (extensively) I guess...

[2022-01-25 14:31] abouteiller commented on #9625
All is good on 9314a427 @awlauria

[2022-01-25 14:45] awlauria commented on #9625
Thanks!
closing.

[2022-01-25 14:45] #9625 closed

[2022-01-25 15:05] awlauria opened #9919 "Disabling io-ompio builds broken on master"
There seems to be a new dependency in fcoll on ompio.

Configuring with `---enable-mca-no-build=io-ompio,common-ompio,sharedfp,sharedfp,fbtl,fbtl,fcoll,fcoll,fs` will fail to build with:

[code]

I tracked it back to this commit: 1846e737c173e8854f838afd5296ea6d691a182b

Looking at the code I am not sure what the best spot is to move them to, or how to properly refactor them out.

[2022-01-25 15:39] saulocpp commented on #9851
I have discussed this topic at NV's forum and both the moderator and I tried different things to test the cuda-awareness of OMPI on Tegra, but it looks like it is not yet supported (or not possible, I don't know).
In case anyone is interested in the discussion and the outcome, the thread is [this one](https://forums.developer.nvidia.com/t/jetpack-with-cuda-aware-ompi-could-be-default/199891).

I i

[2022-01-25 15:51] bwbarrett commented on #9907
In OMPI 5.0, hwloc is no longer loaded as a plugin, so we should be ok with `--enable-plugins` as a solution.

[2022-01-25 16:21] jsquyres commented on #9890
I think the problem is a bit bigger than this, for a few reasons.

I'm still unable to replicate your results when I use the same versions as you of clang and gfortran on RHEL 7.  These are clang and gcc/gfortran that I have built myself, and therefore don't have whatever OS package/build defaults you're getting on the Ubuntu images.

Of course, I _can_ replicate your results on the Ubuntu/docker

[2022-01-25 16:31] jsquyres commented on #9918
Did you build the Open MPI 4.1.2 on both machines yourself?  Or are you using the Ubuntu-provided packages?

If you're using the Ubuntu-provided packages, it's possible that they are built differently between U18 and U20, resulting in some kind of incompatibility.

[2022-01-25 16:52] gengtsh commented on #9918
I download source file and build by myself.

On Tue, Jan 25, 2022, 8:31 AM Jeff Squyres ***@***.***> wrote:

[2022-01-25 16:54] jsquyres commented on #9918
Gotcha.  Can you verify that when you're remoting in via non-interactive SSH shell, you're getting the Open MPI installation that you expect?  (i.e., you're finding/running the Open MPI 4.1.2 that you installed and not the OS-default/installed Open MPI package)

[2022-01-25 16:57] janjust commented on #9851
@Akshay-Venkatesh, when you get a chance could you look through the linked forum and its conclusion? I will close this issue for now due to discussion [here](https://forums.developer.nvidia.com/t/jetpack-with-cuda-aware-ompi-could-be-default/199891).
If this is a critical item, I suggest opening a feature request.

[2022-01-25 17:11] shefty opened #9920 "Build error with 4.1.2"
I have a new download of 4.1.2.

[code]
which leads to several errors of this nature:
[code]
I also have a git clone, with the 4.1.2 release checked out (based on the tag).  It produces the same error.  (I can't build master because it wants pandoc which isn't installed on my system).

[2022-01-25 17:14] awlauria commented on #9920
Regarding master, for now there is a `--disable-man-pages` configure option that will allow it to build.

Can you paste share your configure output?

[2022-01-25 17:16] gengtsh commented on #9918
i run sudo apt-get remove openmpi-bin  and sudo apt-get remove --auto-remove openmpi-bin  to remove openmpi-bin and uninstall openmpi 4.1.2 and reinstall openmpi 4.1.2, but i  get the same error

[2022-01-25 17:36] shefty commented on #9920
[config.txt](https://github.com/open-mpi/ompi/files/7935863/config.txt)

[2022-01-25 17:46] hppritcha commented on #9905
Having difficulties reproducing.  I do observe the session dir does not exist... messages from mpirun when using the -d option.  These appear to be harmless.  Does this problem appear to be specific to your solaris system?

[2022-01-25 19:35] ericch1 opened #9924 "ompi/v5.0.x: Many ".lock" files created by MPI I/O not deleted"
Hi,

I am testing ompi/5.0.x for (almost) first time and discovered that there are many files created and left behind after our nighlty tests are terminated.

For example:

Ressources.main_diviseAreteEn2/carre_noeud_conf.cgeoquad-1433468928-12178.lock

the "-1433468928-12178.lock" is the file created by mpi for reading file?

Where does it comes from?

Does it means I have a "misuse" of some MPI I

[2022-01-25 19:36] bwbarrett commented on #9890
On Ubuntu 20.04 (I didn't try the docker container above, but bare hardware), it would appear that the GNU compiler suite packaged by Ubuntu defaults to generating PIC (and therefore PIE) code, while the LLVM compiler suite packaged by Ubuntu does not.  My test program is:

[code]

With GCC 9.3.0:
[code]

With LLVM 10.0.0:
[code]

So this is really a systems problem; Ubuntu shouldn't have the two