[2017-12-02 16:26] martin-frbg commented on #4560
With OpenBLAS, you will get a single library that contains BLAS, LAPACK and LAPACKE.

[2017-12-02 20:32] CalugaruVaxile commented on #4555
Many thanks, Ralph! I will try that and I will let you know if it works.

Cheers,
George

On Sat, Dec 2, 2017 at 9:44 AM, Ralph Castain <notifications@github.com>
wrote:

[2017-12-04 06:08] timjim333 commented on #4560
Apologies, I'd posted in the wrong forum - juggling a few install problems
correctly. Thanks for the info forever!

On 3 Dec 2017 01:26, "Martin Kroeker" <notifications@github.com> wrote:

[2017-12-04 16:22] CalugaruVaxile commented on #4555
I am sorry but adding --novm doesn't change anything

Cheers,
George

[2017-12-04 21:23] hppritcha opened #4563 "opal_fifo check hanging on aarch64"
At least on master at  b160cf63 opal_fifo appears to be regularly hanging on aarch64.  I'm using gcc 4.8.5.  This test had been passing regularly with jenkins CI PR testing until sometime in the last several days/week.

The test does not appear to hang when Open MPI is configured with --enable-debug.

[2017-12-04 22:51] benmenadue opened #4564 "posix_memalign gets called with zero alignment in some circumstances"
`posix_memalign` requires an alignment that is a power of two and a multiple of `sizeof(void *)`. However, there is a call to `mpool_alloc` (and thus `mca_mpool_default_alloc`) in `mca_mpool_base_alloc` that passes an alignment of 0 -- which isn't a power of two.

I haven't noticed this actually cause a crash under normal circumstances, but TotalView does catch the call and bail. Perhaps the code

[2017-12-04 22:54] benmenadue commented on #4564
I'm just testing a patch for this, will PR shortly if it compiles.

[2017-12-05 01:57] kawashima-fj commented on #4563
@hppritcha I cannot observe the hang in my environment. Is there more information to reproduce it?

My environment:

- CPU: Thunder X
- OS: CentOS 7.2.1603
- GCC: 4.8.5 20150623 (CentOS rpm)
- Open MPI: 2c86b87 (latest master)
- configure: both `--disable-debug` and `--enable-debug`
- test: `make -C test check`

[2017-12-05 08:26] kawashima-fj commented on #4563
@hppritcha I can observe the hang in Jenkins.
https://jenkins.open-mpi.org/jenkins/job/open-mpi.build.platforms/Platform=ARMv8/1849/consoleFull
But I still cannot observe the hang in my environment. (I ran `make check` 100 times.)

This may related to an old issue #3697 (#3988).

[2017-12-05 08:51] pmblakely opened #4567 "Memory leak with MPI_Alloc_mem"
## Background information
I have found what appears to be a memory leak within OpenMPI. This was seen in a CFD code we use in our research group, which uses the Boost MPI library. As part of its serialization of std::vectors, Boost makes use of MPI_Alloc_mem (balanced by MPI_Free_mem), and this appears to be the cause of a memory leak which eventually results in some of our simulations crashing du

[2017-12-05 08:56] pmblakely commented on #4567
@hjelmn : As on the OpenMPI users' list.

[2017-12-05 16:18] jsquyres commented on #4523
Just to track a little history here:

* #4521 was the initial fix for this.  It seems to be a small fix for it.
* #4527 was later introduced that was a big bigger and, among other things, fixed this issue (in a different way than #4521).

Hence, #4521 was closed in favor of #4527.  But #4527 is not yet complete.

[2017-12-05 17:39] hjelmn commented on #4433
@bosilca You fixed this already in master, correct? Did you open a PR to all the affected branches?

[2017-12-05 18:29] hppritcha commented on #4563
@kawashima-fj how many cpus does your aarch64 system have?

[2017-12-05 19:07] shamisp commented on #4563
Lock implementation can depend on compiler and uarch.

[2017-12-05 19:09] shamisp commented on #4563
Does it use gcc AMOs implementation or OMPI's ?

[2017-12-05 19:47] hppritcha commented on #4563
Hmm...If I take the patch from #4566 and configure with --disable-builtin-atomics, the opal_fifo doesn't hang on my aarch64 system. gcc 4.8.5,  cpuinfo:
[code]
I'm running opal_fifo in a loop, letting it go for hundreds of iterations.  using default configure options, the test typically hangs after a few iterations.

[2017-12-05 19:48] hjelmn commented on #4260
Looking like this is due to a missing memory barrier. Testing the fix now.

[2017-12-05 20:00] gpaulsen commented on #3660
Can we close this issue as Fixed in v3.x series?

[2017-12-05 20:17] hjelmn commented on #4564
Close when the commits in #4565 are in v2.x, v3.0.x, and v3.1.x.

[2017-12-05 20:19] lee218llnl commented on #3660
Are there any plans to fix this in a 2.x version?

[2017-12-05 21:16] hjelmn commented on #4553
Ack, opps. #4569 referenced the wrong issue. No effect on this bug.

[2017-12-05 21:55] #3918 closed

[2017-12-05 21:57] hjelmn commented on #4529
I vaguely remember fixing this. I don't know if I upstreamed the fix though.... Will take a look when I get back to the office on Friday.

[2017-12-05 22:38] hjelmn commented on #4553
It might be worth just moving the backing files to /dev/shm and be done with it. The benefit of the session directory is that the orted will blow it away for us if something goes wrong. Nothing similar for /dev/shm (psm2 leave garbage there if you cntr-c an MPI app).

[2017-12-05 23:46] hjelmn commented on #4563
@shamisp When using gcc builtins we end up using a bad compare-exchange 128 implementation (lock-based). I think we need to improve the configury and make ompi use the ompi atomic implementations for aarch64.

[2017-12-05 23:47] hjelmn commented on #4567
Does this machine have a high-performance interconnect? If so what kind? I can't reproduce the issue in a Linux VM with 16.04 or on macOS 10.12.

[2017-12-05 23:48] shamisp commented on #4563
What version of GCC ?

[2017-12-06 00:00] hjelmn commented on #4563
All recent version (5.x, 6.x, 7.x) advertise 128-bit compare-exchange support. It gets past our current configure check.

[2017-12-06 00:05] hjelmn commented on #4563
This problem exists with other LL/SC architectures. Let me finish my debug mode fix for the LL/SC implementation of the lifo and fifo and I will make sure we disable the builtins by default on those architectures.

[2017-12-06 00:15] hjelmn commented on #4509
You should not disable to hook. That will lead to incorrect program behavior. The problem is that we treat all cases of invalidation of a region as an error if any part of the region is in use. If part of a region is unmapped (or madvise MADV_DONTNEED) then the entire region should be invalidated. We need to suppress an error in this case. I am working on a fix now. It won't be perfect but we are

[2017-12-06 00:53] jsquyres commented on #4509
See #4576.

[2017-12-06 01:39] hppritcha commented on #4563
I don't see this 128 -bit compare exchange thing.  Here's what's in my opal/include/opal_config.h:
[code]
when building on my cortexa57 box using either gcc 4.8.5 or gcc 7.3.0

[2017-12-06 01:40] hjelmn commented on #4563
Huh, odd. Ok. That is different than on power. I assumed it would be the same here. How about OPAL_HAVE_SYNC_BUILTIN_CSWAP_INT128?

[2017-12-06 01:43] hppritcha commented on #4563
IN opal/include/opal_config.h I see
[code]

[2017-12-06 01:46] hppritcha commented on #4563
anyway, the jenkins scripts allow setting an optional configure option so i've defined that to add in
[code]
as that appears to be a reliable way to get opal_fifo to pass on this system.

[2017-12-06 02:56] ggouaillardet commented on #4567
@hjelmn i can reproduce this on my CentOS 7 VM (no high speed interconnect) with `master`

here is what i found

[code]
we end up inserting the `mpool_tree_item` in the `mca_mpool_base_tree` here
[code]

but

[code]

the item cannot be retrieved from the `mca_mpool_base_tree`, and hence the memory leak

i made this patch that fixes one issue

[code]

can you please review it before i commit and PR

[2017-12-06 04:22] fennm opened #4577 "orted forwards SIGCONT to itself in HNP mode"
When orted is launched in HNP mode under Slurm 15.08 (perhaps others), it propagates SIGCONT to itself in an infinite loop.  This issue occurs in at least OpenMPI 2.0.2, 2.0.3, and 3.0.0.

The orted process looks like this:

[code]

Upon sending a SIGCONT to it, it goes to 100% CPU:

[code]

Top output
[code]

And does not respond to any signals other than SIGKILL:

[code]

While I can reproduce t

[2017-12-06 08:22] pmblakely commented on #4567
Thank you Gilles and Nathan. I haven't tested the fix in our full CFD code yet, but the minimal example now only shows a single memory allocation from MPI_Alloc_mem() when I apply the fix to both 2.1.2 and 3.0.0.

[2017-12-06 09:12] hjelmn commented on #4567
Thanks @ggouaillardet. That fix looks familiar, has this come up before and not been actually patched?

[2017-12-06 11:09] ggouaillardet commented on #4567
@hjelmn i remember some issues involving `MPI_Alloc_mem()` were raised before (such as #3182), but that fix here does not ring a bell.

[2017-12-06 16:41] ceandrade opened #4578 "Hanging with more than 64 hosts"
## Problem

I can not run jobs in parallel in a cluster with more than 64 machines.

-----------------------------

## System

Using openmpi-3.0.0.tar.bz2, Sep 12, 2017, compiled from source/distribution tarball.

Linux version 2.6.32-573.3.1.el6.x86_64 (mockbuild@c6b8.bsys.dev.centos.org) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-16) (GCC) ) #1 SMP Thu Aug 13 22:55:16 UTC 2015

-----------------

[2017-12-06 17:17] rhc54 commented on #4578
If you add "-mca routed_radix 300" to your command line, does it make a difference?

[2017-12-06 18:21] ceandrade commented on #4578
It got better but didn't scale to more than 128 nodes, even "-mca routed_radix 600". I also tried "routed_debruijn" and "routed_binomial", but no success.

[2017-12-06 20:54] shamisp commented on #4563
AFAIK gcc 7  and latest clang are doing pretty good job on AMOs, including support for Arm v8.1 atomics. Do we know exactly what operation is broken ?

[2017-12-07 00:59] rhc54 commented on #4553
or perhaps we could have a way for the proc to "register" it's shmem backing file with the orted so it gets cleaned up? Would be trivial to do. I realize it leaves a little race condition, but perhaps better than nothing?

[2017-12-07 01:38] ggouaillardet commented on #4553
+1 on @rhc54 suggestion !

as far as i am concerned, Open MPI auto-cleanup should be considered as best effort,
and does not replace the need for a hardened job epilog on a production system.

an other (non portable ?) option is to always have `orted` create&open the temporary files and delete them right after. Then the file descriptor can be passed to the MPI tasks via a unix socket (for example

[2017-12-07 02:26] rhc54 commented on #4553
The orted already does that - gets passed in the PMIx download during pmix.init. Only problem right now is that the shared memory file size forces vader to put the backing file somewhere other than under the orted location, hence the idea of registering it. Alternatively, since the orted inits opal anyway, I suppose we could have the orted open/query the BTL's to get any size requirement and use t

[2017-12-07 02:28] rhc54 commented on #4553
My bad - just realized you meant something other than the temporary directory location. I now grok what you mean, but am not sure how the orted would know where to put the tmp file. In this case, vader needs more space than the orted realizes. Doing the query might solve that problem - but I would still opt for the registration approach.

[2017-12-07 08:27] ggouaillardet commented on #4578
@ceandrade can you please confirm the node on which you run `mpirun` is not part of your `hosts_64.txt` hostfile ?

[2017-12-07 14:29] ceandrade commented on #4578
@ggouaillardet I tried both actually. I launched from a machine outside the cluster, and from machines within the cluster. This is the line:

$ mpirun -v -display-devel-map -display-allocation -mca routed_radix 600 --bind-to none -np 1 -hostfile hosts_266.txt -pernode hostname

but no answer.  Note that I have 266 machines in my cluster.

Is there a way to create some more detailed logging info th

[2017-12-07 14:44] ggouaillardet commented on #4578
I can reproduce the issue with 65 tasks and with the default radix, but only when `mpirun` is invoked from a node not in the hostfile. I will resume investigations tomorrow. Stay tuned !

[2017-12-07 16:57] rhc54 commented on #4578
Another thing to try: add "-mca plm_rsh_num_concurrent 300" to your cmd line and see if that helps.

[2017-12-07 16:58] rhc54 commented on #4578
Alternatively, you can add "-mca plm_rsh_no_tree_spawn 1" to the cmd line - affect in your case will be the same.

[2017-12-07 17:00] jsquyres commented on #4553
I'm quite sure we've talked about the registration idea before -- I *think* we didn't do it previously because:

1. Would have required a bunch of infrastructure that wasn't in place (maybe?) -- but that's probably moot / easy to do these days.
1. Doesn't help with direct launch scenarios.
    * ...but maybe this is a problem regardless?  I don't remember.

[2017-12-07 17:26] rhc54 commented on #4553
yeah, direct launch is a problem that may be a short-term problem. However, as PMIx continues to evolve and get rolled out, there is no reason why the registration wouldn't carry over into the direct launch scenario. We could have the PMIx server track the requests and do the cleanup when it sees the proc exit.

[2017-12-07 18:36] ceandrade commented on #4578
@rhc54 It worked with the options "-mca plm_rsh_num_concurrent 300 -mca routed_radix 600" and the option "-mca plm_rsh_no_tree_spawn 1" alone. The latter is much faster than the former options.

I don't understand very well MPI (I just use it as another tool), but apparently, the tree-based launch has some problem with more than 128 nodes.

So, this solution looks be enough to me. Therefore, I thi

[2017-12-07 18:40] rhc54 commented on #4578
ok, thanks for the report, and sorry for the problem. Since @ggouaillardet can reproduce it, I will defer to him for the eventual solution now that we have isolated the problem to the tree spawn code.

[2017-12-07 19:22] hppritcha commented on #4300
this has been applied to all necessary release branches.  closing.

[2017-12-07 19:22] #4300 closed

[2017-12-08 00:30] #4577 closed

[2017-12-08 08:48] ax3l commented on #4451
I did that as well a a work-around in the past but this complicates, e.g. the import of such Docker images into other solutions such as Singularity.

Can you please elaborate a little on that? In what sense?

In an ideal world, a (containerized) process should never have more rights (including FS access) than the user that executed it, independent of what userid it presents internally. In that sen

[2017-12-08 12:47] nmorey commented on #4260
PR #4569 seems to fix the issue on both openmpi 2 and 3

[2017-12-08 12:47] nmorey commented on #4260
@hjelmn  Thanks for that fix

[2017-12-09 21:26] jjhursey commented on #4465
Did https://github.com/open-mpi/ompi/pull/4591 fix this issue, or is it still present on master?

[2017-12-09 23:03] rhc54 commented on #4465
I believe the prior fix reference in that PR fixed master, and the current problem was solely on 3.0.0. As @ggouaillardet noted, I fixed master a while back, but this particular part of the fix never went back to 3.0.

[2017-12-10 00:01] ggouaillardet commented on #4465
i was able to reproduce the issue with `v3.0.x` using 3 nodes and `--mca routed_radix 1`.
if you `--mca plm_base_verbose 10`, you will note `orted` on node 1 has zero children.

i did no observe this behavior on master, so per @rhc54 comment, it is likely already fixed there.

[2017-12-10 19:43] nathanweeks commented on #3605
I still see this error for the Fortran 2008 extension I'm attempting to build. I'm trying to follow the example in ompi/mpi/fortran/mpiext/use-mpi-f08 where the Makefile.am references OMPI_FORTRAN_USEMPIF08_MOD; however, that macro was removed from config/ompi_setup_mpi_fortran.m4 as part of 791bcee6c065b47869525553265e36deb6fd0390.

[2017-12-11 00:04] ggouaillardet commented on #4578
@ceandrade this issue will be fixed in upcoming `3.0.1`.
Meanwhile, you can manually download and apply the patch available at https://github.com/ggouaillardet/ompi/commit/e445d47c3f8ff908d19eb18cbd6d953e1272f7ca.patch

Thanks for the report !

[2017-12-11 05:43] AboorvaDevarajan opened #4596 "generalized request in FORTRAN exits with error"
**Version** : master
**OS**: Red Hat Enterprise Linux Server release 7.3 (Maipo), ppc64le

Here is a simple generalized request program from mpich tests which seem to be failing with ompi.
https://gist.github.com/AboorvaDevarajan/dfa64f77ffcd3a9907ebee727d5a49b1

This fails when generalized request custom query function is invoked.

[code]

When custom query function is invoked, Fortran has a diff

[2017-12-11 06:35] bosilca commented on #4596
There is no point of converting the C status into a Fortran status, as the C status is not necessarily initialized. It is what was passed to the test/wait function by the user, and is supposed to be updated (the conversion is then taken care by the MPI_Status_f2c after the query).

I quickly looked at the provided test and I think the problem is that we do not copy the error from the query functio

[2017-12-11 07:59] AboorvaDevarajan commented on #4596
Thanks George, that fixes the issue. I have opened a PR.
https://github.com/open-mpi/ompi/pull/4597

[2017-12-11 13:49] GuillaumeMercier commented on #4303
I'm unable to replicate this issue on our machines. The test program works fine. However, it fails when I try your topology (local.txt) with this error:

  topology discovery failed
  --> Returned value Not supported (-8) instead of ORTE_SUCCESS

I need to investigate this more.

[2017-12-11 19:36] hjelmn commented on #4509
@bingmann Have you tried running with #4576? Would like to know if it fixes the issue for you.

[2017-12-11 21:52] gpaulsen commented on #1585
We also have an interest in IPv6, but also don't YET have machines.

[2017-12-11 22:04] rhc54 opened #4605 "Update PMIx to v2.1.0"
Need to refresh PMIx in OMPI v3.1.0 prior to release - should only be an internal-to-PMIx update, but needed to ensure backward compatibility with earlier PMIx and OMPI releases.

Will try to complete ASAP.

[2017-12-11 22:06] rhc54 commented on #4605
Waiting on https://github.com/pmix/pmix/issues/586

[2017-12-12 02:00] rhc54 commented on #4553
@jsquyres @ggouaillardet Please see #4606 - if it looks okay, can someone please add the vader registration and push it there?

[2017-12-12 09:19] woso opened #4610 "[v2.1.1] Crash at opal_convertor_generic_simple_position while sending/receiving GPU memory with multi-threads at comm_dup channel"
### background

We are building a machine learning system with support of async training basing on OMPI

In my simple test case, With OMPI, worker send batch  of keys to server（pull）, then server probe the message length and the rank, and do something else final send values back(process), at the same time worker is ready to receive it;

To support a node is both worker and server, we use MPI_comm_

[2017-12-12 09:22] woso commented on #4610
#include <mpi.h>
#include <cuda.h>
#include <cuda_runtime.h>
#include <thread>

#include "gtest/gtest.h"

enum TestType {
  TCPU,        // use cpu at both sides
  TGPU,        // use gpu at both sides
  TPIN,        // use pin at both sides
  TCOPY,       // copy gpu to cpu before send/recv
};

static unsigned iterations = 1;
static unsigned type = 0;
static float scale = 1.0f;

namespace xdl {
n

[2017-12-12 15:20] jsquyres commented on #4610
@sjeaugey Can you (or someone at NVIDIA) have a look at this?

[2017-12-12 16:17] jsquyres commented on #3660
@lee218llnl We talked about this today on the weekly teleconf.  @hjelmn and @hppritcha are going to investigate and scope the issue.  Just for our information: is it possible to upgrade to 3.0.x?

[2017-12-12 16:19] jjhursey commented on #4465
Ok so should we close this ticket?

[2017-12-12 16:20] ceandrade commented on #4578
Thank you very much @ggouaillardet. I am amazed how fast you guys are!

[2017-12-12 16:20] rhc54 commented on #4465
@karasevb reports he still sees it, but I don't know how his setup differs from ours

[2017-12-12 16:23] jsquyres commented on #4509
@bingmann We just merged #4576 into master, and therefore the fix will be included in the nightly snapshot tarball tonight (https://www.open-mpi.org/nightly/master/).  Can you try a master nightly snapshot after tonight and let us know if it worked for you?

[2017-12-12 16:41] rhc54 commented on #4578
Marking this as complete

[2017-12-12 16:41] #4578 closed

[2017-12-12 16:47] bwbarrett commented on #4465
@jladd-mlnx said they were going to test to see if there's a difference in behavior between the `tcp` and `ud` `oob` components, since they're likely using `ud` by default and the rest of us are probably using `tcp`.

I've tagged this as both 3.0.x and 3.1.x issue as we don't know whether it's happening on those branches, but Mellanox seemed to indicate that it was.

[2017-12-12 16:48] woso commented on #4610
The test case would crash immediately while using GPUTest;
IF the key count 'C' is less or not call std::thread for Ack but directly call Ack in same thread,
the test case will work well.

[2017-12-12 16:48] rhc54 commented on #4303
Here's a little more info from a failure on AWS:
[code]

[2017-12-12 17:22] jsquyres commented on #4303
This same `distgraph1` test is doing odd things for me at Cisco on a pair of 16-core nodes.

Here's a gist (https://gist.github.com/jsquyres/098f256cead9d20d2ad1c3aea0e6b0be) showing:
* lstopo for the 2 nodes where the test was run
* output from the test

The test doesn't actually fail for me, but it does give approximately ~21K lines like this:

[code]

And yes, I mean approximately *twenty-one t

[2017-12-12 17:45] GuillaumeMercier commented on #4303
@jsquyres: George and I are experiencing the same output also.
@rhc54: can you give me your mpiexec command line also? Thanks.

[2017-12-12 17:54] rhc54 commented on #4303
For that aws error report? It was from the v3.0 branch, and simply:
[code]
Here's another one, this from the v3.1.x branch:
[code]
And this is from master:
[code]

[2017-12-12 17:57] sjeaugey commented on #4610
The crash seems to happen in the TCP BTL (mca_btl_tcp_endpoint_recv_handler). It would be good to compile MPI with debug symbols to get a better trace and precise information about why we get a crash.

It's not clear to me either if that has anything to do with GPU communication -- @woso would you have an easy way to not use GPUs and check if it still crashes ? I don't see anything CUDA specific i

[2017-12-12 18:36] GuillaumeMercier commented on #4303
@rhc54: the issue with the master is resolved : this assert should not be here in the first place.
For the 3.1.x, I need to check this.

[2017-12-12 19:02] jsquyres commented on #4553
@rhc54 and I are iterating on this (via https://github.com/pmix/RFCs/pull/27); a few changes are forthcoming...

[2017-12-12 19:19] jsquyres commented on #3605
@nathanweeks Should now be fixed on master.  Let us know if you're still having the problem.

[2017-12-12 20:12] jsquyres commented on #4451
I'm not sure I understand your reply -- you seem to be saying that the container should be running with limited rights on the host.  I was not under the impression that that was (currently) possible.  E.g., if you are root in the container, you can be root on the underlying filesystem.

Regardless, yes, we know that the `--allow-run-as-root` option is awkward.  It's intended to be, if for no other

[2017-12-12 20:14] rhc54 commented on #4451
err...allow-run-as-root is _only_ available on the cmd line - there is no envar or config file option for controlling it. I believe that was actually was the request

[2017-12-12 20:17] jsquyres commented on #4451
I know.  I'm asking if there's something that *can't* be done (via *any* mechanism) unless that functionality is invoked via an env var or config file.

[2017-12-12 20:45] #4555 closed

[2017-12-12 21:43] lee218llnl commented on #3660
While it would be nice to see a fix in a 2.x version, I suppose a 3.0.x version will suffice. Think it will make it in time for x=1? If so, when is that going to be released?

[2017-12-12 21:50] jsquyres commented on #4529
@lcebaman Any news?

@hjelmn Did you get to look and see if you put the fix in release branches?

[2017-12-12 21:51] gpaulsen commented on #3660
v3.0.1 is anticipated by the end of the month.  But testing above shows that this is working with v3.0.0 and v3.1.x and master.

[2017-12-12 21:59] jsquyres commented on #4433
@hjelmn George did a first fix in #4442; I think he's asking 2 followup questions (see https://github.com/open-mpi/ompi/issues/4433#issuecomment-341625270).  Especially the 2nd question -- I don't think that's correct `register_components()` behavior.  George's #4442 doesn't do anything about that.

[2017-12-12 22:23] jsquyres commented on #4564
The fix has now been merged everywhere; closing this issue.

[2017-12-12 22:24] #4564 closed

[2017-12-12 23:26] hjelmn commented on #4433
@bosilca The decision was made to only register using it IWG group when specifically requested due to some variable use cases in orte. pvars inherited this.

As to registering all components. We have to. A user can call MPI_T_Init () then change the pml so we need to know about all the pmls and their variables. It should be fine as long as the correct pvar registration function is used.

[2017-12-13 00:02] jsquyres commented on #4260
Now merged on all branches.  Closing.

[2017-12-13 00:02] #4260 closed

[2017-12-13 02:39] woso commented on #4610
By using CPU memory for communication, as the case 'CPUTest', allocating mem by malloc instead of cudaMalloc, the test case will work well.

OK, I'll try

[2017-12-13 03:44] bosilca commented on #4433
@hjelmn if the user requests a specific component, no tools should be allowed to overwrite this !

[2017-12-13 03:46] hjelmn commented on #4433
We cannot assume a variable set by mpit is set by a tool. The interface can and will be used by apps.

[2017-12-13 03:58] bosilca commented on #4433
I'm specifically referring to your second comment regarding registering all components. If the PML is set when we reach the call to MPI_T_init it means it has been set either via a configuration file or via the command line. In both cases, allowing the selection to be changed via MPI_T sounds unreasonable to me. To be more precise, I would understand that one can limit the components via the corre

[2017-12-13 04:19] hjelmn commented on #4433
Not sure I agree. The way I see it file < environment < command line < MPI_T. The setup reflects that choice. I don't really care either way but this order was after some discussion during the implementation of MPI_T in Open MPI. This order only has an affect pre-MPI_Init. After MPI_Init all MCA selection choices are final and can not be changed. The only exception are lazy-load frameworks like io

[2017-12-13 19:43] rhc54 opened #4621 "ORTE regex fails when nodenames include hyphens"
If a cluster is configured with ```-``` in the names of their nodes, then the ORTE regex parser gets confused and thinks the hyphen is part of a range designation. This leads to unusually large regex results and can cause odd behavior (e.g., unable to tree spawn).

Fortunately, we haven't seen this in 14 years, but Mellanox now has a cluster that hits the problem. No rules against such configurati

[2017-12-13 19:44] rhc54 commented on #4465
This is a cluster configuration specific issue - the root cause is here: https://github.com/open-mpi/ompi/issues/4621

[2017-12-13 19:44] #4465 closed

[2017-12-13 19:51] sjeaugey commented on #4610
Yes, 1.10.7 is a relatively old (but stable) version of Open MPI.

Also, just to check CUDA support is there and working, could you launch your test with "-mca btl self,smcuda,tcp" ?

[2017-12-13 20:07] rhc54 commented on #4621
Just to further clarify: this problem will occur regardless of the plm launcher being used (e.g., when using mpirun under slurm) as we always try to pass the regex to the backend daemons on launch, and there is no guarantee that the length restriction will save us like it did in the referenced case.

[2017-12-14 01:52] ggouaillardet commented on #4621
@rhc54 i am a bit puzzled with this ...

i renamed my virtual cluster `n-0`, `n-1` and so on, but was unable to reproduce the hang (this is not a large cluster, so the regex length is small enough.

there is a more obvious error when the regex is too long, and this does not involve `-` in the regex.

that can be simply reproduced with the inline patch below, and i can reproduce the issue when runn

[2017-12-14 02:05] rhc54 commented on #4621
If you only have two nodes in the hostfile, such as the Mellanox folks had, then the regex cannot be more than 1024 characters in length (which is the cmd_length limit). We run over 20k nodes with it and have never hit the limit.

I would look at the regex generator and see what it is doing wrong in that scenario.

[2017-12-14 02:09] rhc54 commented on #4621
One place to start might be to simply print out the regex and see why it is so long...

[2017-12-14 02:52] ggouaillardet commented on #4621
ok, let me put it this way then,

i created a cluster whose nodes are called `frontend`, `node-001` and `node-002` and i am unable to reproduce the issue @karasevb is facing.

the regex (that can be seen with `--mca plm_base_verbose 10`) is a simple expansion of the host list, in this case it is `frontend,node-001,node-002@0(3)`.

should we fix the real issue (e.g. the phone home does not work) __

[2017-12-14 03:44] zycao-naoc commented on #4610
I'm working together with @woso . I think the crash came out from the fragmented receiving when CUDA support is enabled, after doing some experiments and tracing around the GPU case.

Notice the backtrace info at the top of this thread, the code reported 'address not mapped' when getting info 'opal_convertor_set_position_nocheck()' function. In my experiments, this function would not be called whe

[2017-12-14 04:37] rhc54 commented on #4621
I honestly don't think that is the ```real``` issue here. The regex isn't long enough to be getting rejected, so the question is: why is it failing for Mellanox when it doesn't fail for you?

Once we understand and fix that, then sure - we can look into why the alternative code path isn't working. I honestly don't remember the code path for that case, so it would take a little looking to see how i

[2017-12-14 04:41] ggouaillardet commented on #4621
@rhc54 i am fine with that.

@karasevb is Open MPI installed on NFS ? if not, can you please double check the very same Open MPI is deployed on all the nodes ? i have a real hard time trying to reproduce the issue, and all i can think of is (as @rhc54 previously suggested it)  some node is running an older version of `v3.0.x` without the fix.

[2017-12-14 05:05] rhc54 commented on #4621
Another thing we could do is provide a patch for orte/util/regex.c that adds some debug and have @karasevb run it to see what is going on over there.

[2017-12-14 05:56] rhc54 commented on #4621
@ggouaillardet  Actually, I just realized that your output indeed shows the problem. The regex should have compressed node-001 and node-002 into a regex like node-[3:1-2]. The hyphen is confusing it into thinking every node name is unique and cannot be compressed.

This is why Mellanox is failing. They have a lot of nodes (we don't filter them when making the original regex), and the regex generat

[2017-12-14 06:10] ggouaillardet commented on #4621
@rhc54 minor detail, the regex should be `node-00[3:1-2]`
about the "lot of nodes" thing, are you saying that even with a two line hostfile, and forcing the `plm/rsh`, the regex includes all the (100 iirc) nodes from the slurm allocation ?

[2017-12-14 08:00] ggouaillardet commented on #4621
here is a patch that fixes the issue that occurs when the regex is too long.
note it force the string being handled as too long for debugging purpose

@rhc54 can you please have a look at it ?
@karasevb can you please give it a try ?

[code]

[2017-12-14 08:21] karasevb commented on #4621
@ggouaillardet I confirm, this patch fixes the hang.

[2017-12-14 08:53] rhc54 commented on #4621
"about the "lot of nodes" thing, are you saying that even with a two line hostfile, and forcing the plm/rsh, the regex includes all the (100 iirc) nodes from the slurm allocation ?"

I think it might, yes. Even though we are only launching daemons on the initial limited set of nodes, the orte_node_pool still includes all the nodes in the slurm allocation, and that is what is used to build the rege

[2017-12-14 09:07] ggouaillardet commented on #4621
I will take a crack at it tomorrow.

About the hyphen, a cheap trick might be to convert `-` to `#` (e.g. invalid hostname character), then create and expand the regex before converting it back `#` to `-`

[2017-12-14 09:13] rhc54 commented on #4621
True - thanks!

[2017-12-14 11:07] dirk-schubert-arm commented on #3660
Agreeing with @lee218llnl that a fix would be nice in 2.x, but 3.0.x will do.

My only worry is users of OpenMPI 2.1.x who are not able to upgrade (immediately) to 3.0.x for whatever reason - in the end they are not able to debug/profile their code or (more general) make use any tool relying on the MPIR interface.

[2017-12-14 14:42] gpaulsen commented on #3660
My understanding is that it's not the entire MPIR interface that's broken, but just the part of MPIR that LaunchMON uses to attach to MPI processes.  other MPIR tools that launch via MPIR seem to be working.
The backporting of a solution from v3.x would be challenging as there have been many orte changes, and we haven't been able to root cause the issue/solution.

It may be easier to look at what

[2017-12-14 14:58] kiranchandramohan opened #4624 "Prevent Clang/LLVM from inlining or removing MPIR_Breakpoint as dead function"
Many parallel debuggers depend on the MPIR_Breakpoint function. Clang/LLVM can inline or remove MPIR_Breakpoint as dead function. Can the optnone attribute be added to the MPIR_Breakpoint function to prevent it from being optimized away ?

file : orte/orted/orted_submit.c
[code]

[2017-12-14 15:34] dirk-schubert-arm commented on #3660
It's not just LaunchMON, because our tools - Arm DDT/MAP (formerly known as Allinea DDT/MAP) - have the same problem (based on my understanding) with Open MPI 2.1.x.

Okay. Was the GDB standalone reproducer that I provided on Oct, 20th of any help?

[2017-12-14 15:44] rhc54 commented on #3660
I'm always intrigued by the different ways people approach a break in code. My approach would be to simply add some print statements to find where the current code is broken, and fix it. IMO, that is much easier than playing all these "how did the code change" games.

Hopefully, folks are now beginning to understand better the community decision to move away from MPIR. I'm disturbed that six month

[2017-12-14 16:04] lee218llnl commented on #3660
I don't work directly with LaunchMON, I'm more of a client of it with STAT. @dongahn may want to chime in on this.

[2017-12-14 16:24] dongahn commented on #3660
@rhc54: this would be an interesting effort. The key would be to maintain both MPIR and PMIX ports. Probably doable but would need a redesign effort, for which I don't have time to do at this point. Maybe I can get some help from Matt Legendre's team. (don't have his githib id.)..

[2017-12-14 16:27] lee218llnl commented on #3660
adding @mplegendre

[2017-12-14 19:19] rhc54 commented on #3660
@lee218llnl I just ran test.launch_1 using the current head of the v2.x branch and it worked fine, so perhaps this is already fixed. I don't see a 2.1.3 release candidate out there, but can you clone the OMPI v2.x branch and give it a try?

[2017-12-14 21:00] lee218llnl commented on #3660
@rhc54 I just tested the v2.x branch and it does work for LaunchMON/STAT. FWIW, I looked back at this issue thread and I had previously confirmed your patch. I believe the allinea folks said they were the ones still seeing problems, per your comment on Sept 5.

[2017-12-14 21:05] rhc54 commented on #3660
Ah, ok - I'll run their test and see what happens.

[2017-12-14 22:36] kiranchandramohan commented on #4624
Thanks Ralph.

[2017-12-15 01:08] ggouaillardet commented on #4621
@rhc54 when running from `n0` with `n1` and `n2` in my hostfile, and with `--mca routed_radix 1`, i noted `orted` is ssh'ed by `n1` on `n2` with `-mca orte_hnp_uri ...`, and hence `n2` first "phone home" to `n0`.

is this the intended behavior ?
what i really mean is i would have expected `n2` only contacts `n1`.

[2017-12-15 02:30] rhc54 commented on #4621
Hmmm...it would be nice if n2 was given the port for n1 so it can callback to there. That certainly is true for static ports, but may be an optimization for the non-static case that we didn't write yet.

[2017-12-15 02:50] ggouaillardet commented on #4621
thanks, i'll add this to my todo list !

[2017-12-15 11:18] #4624 closed

[2017-12-15 11:38] rhc54 commented on #4621
Just to follow-up on the "phone home" question. There is an MCA param that is supposed to be set on the cmd line by the daemon on n1 (in your example) when tree-spawning n2. This directs the n2 daemon to send its "phone home" message to the daemon on n1 and provides the necessary contact info.

What actually happens today is that n2 will send the message directly to the HNP on n0, but it will rout

[2017-12-15 12:12] ggouaillardet commented on #4621
thanks for the lengthy explanation.
unfortunately, it does not match what i remember (and i will keep investigating on Monday)

iirc, `orted` on `n2` is invoked with `--orte_hnp_uri` and the uri of `n0` (and not `n1`), and `lsof` shown that `n2` establishes the `oob/tcp` connection to `n0` (and not `n1`), and the messages goes directly to `n0` without being routed via `n1`.

i naively tried to hav

[2017-12-16 00:08] rhc54 commented on #4621
I fixed it (https://github.com/open-mpi/ompi/pull/4628) - found that treespawn wasn't actually doing what it should anyway. Every daemon had to phone directly home and then get a "remote spawn" message to launch its children. Root cause was the missing parent URI that prevented rollup.

[2017-12-16 04:04] rhc54 commented on #3660
Okay, I have confirmed the following:

1. things work just fine with v2.0.x

1. things break with anything in v2.x

1. the breakage has NOTHING to do with MPIR

The problem is that the daemon is attempting to send to the rank=0 app proc before that proc is up and running. This causes a SIGPIPE which gdb is trapping, which subsequently causes the daemon to abruptly exit and results in the proc segf

[2017-12-16 04:04] #3660 closed

[2017-12-16 04:09] rhc54 opened #4629 "Incorrect communication to client proc"
Strictly in the v2.x series. The daemon immediately attempts to send a message to its lowest-ranked child. The child process is required to initiate communications and will connect back to the daemon when ready. The unexpected message results in a SIGPIPE as the child hasn't yet setup a connection and causes the pipe to fail when two simultaneous connections are in progress.

If we are _not_ runni

[2017-12-16 04:10] rhc54 commented on #4629
@dirk-schubert-arm (Dirk Schubert, DDT developer) I have shifted this problem from #3660

[2017-12-16 04:13] rhc54 commented on #4557
Check your LD_LIBRARY_PATH and see if the mca_schizo_ompi.la library is present and is correctly being loaded.

[2017-12-16 04:15] rhc54 commented on #4440
I think we have tracked this down now and have a fix in the works.

[2017-12-16 04:15] #4440 closed

[2017-12-16 04:17] rhc54 commented on #4306
Completed

[2017-12-16 04:17] #4306 closed

[2017-12-16 04:18] rhc54 commented on #3998
Completed

[2017-12-16 04:18] #3998 closed

[2017-12-18 20:10] bwbarrett commented on #3984
This was fixed before 3.0.0; not sure how the ticket was missed for that release...

[2017-12-18 20:10] #3984 closed

[2017-12-19 17:07] bwbarrett commented on #4303
When I compile ompi with `./configure --prefix=<blah>` from a SVN build, the error doesn't happen.  When I compile ompi with `./configure CFLAGS=-pipe --enable-picky --enable-debug --prefix=$HOME/install`, the error Ralph copy-and-pasted occurs.

[2017-12-19 19:40] markalle commented on #4509
Is it known if the madvise() hook is needed? Going back to the origins on our side of the fence I was the one who guessed that madvise() with MADV_DONTNEED/MADV_REMOVE might result in the virtual-to-physical mapping changing and thus that it should trigger pin cache invalidation. But I only did that out of an abundance of caution and without any real evidence behind it. Later when I tried making t

[2017-12-19 21:10] bwbarrett opened #4643 "libfabric sockets provider failure on master"
From https://github.com/open-mpi/ompi/commit/285fc42b4ea9c16c8e7b9caa1c5def453f80e557, we introduced a regression on master with the sockets provider in libfabric.  This change was merged into v3.0.x and v3.1.x, so tagged those targets as well.

Since this appears to be a regression, I've tagged it as a blocker.  It would be good if someone who knows libfabric better than I do can chime in on rele

[2017-12-19 22:17] rhc54 commented on #4621
This was fixed by @ggouaillardet

[2017-12-19 22:17] #4621 closed

[2017-12-19 22:18] rhc54 commented on #4553
This was fixed by #4606

[2017-12-19 22:18] #4553 closed

[2017-12-19 22:32] aravindksg commented on #4643
As @chrisdolan mentioned, the sockets provider could be a little smart in catching `EINTR` (can either retry or map it to `-FI_EAGAIN` and return to user). But for now, a quick and dirty fix in OFI MTL could be to check for `-EINTR` and return from `ompi_mtl_ofi_progress()`. @bwbarrett : Would this be acceptable as a temporary fix while we ask OFI folks regarding adding error handling to sockets p

[2017-12-19 23:50] bwbarrett commented on #4643
@aravindksg, yeah, I think that would be a reasonable fix (to handle it in ompi_mtl_ofi_progress()).

[2017-12-20 00:07] bosilca commented on #4303
I have created PR #4644 o address the issue highlighted here.

[2017-12-20 00:20] rhc54 commented on #4303
Thanks George!

[2017-12-20 17:55] sjeaugey commented on #4610
Thanks for the information. So I understand you're running with the smcuda BTL (instead of sm) and is still crashes. Is that right ?

Also, did you try 1.10.7 ?

[2017-12-20 20:24] Akshay-Venkatesh opened #4649 "OSU bandwidth benchmark hangs when --mca btl_openib_cuda_async_recv false option isn't used"
## Background information
User from Germany reported a hang when running [osu bandwidth benchmark](https://github.com/forresti/osu-micro-benchmarks) between GPU buffers on 2 GPUs connected using IB interconnect. The problem occurs after 128KB message mark.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
Using master branch with the following con

[2017-12-20 20:34] drossetti opened #4650 "Open MPI 3.0.0 hangs in code using the GPU aware MPI feature"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

3.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from source using openmpi-3.0.0.tar.bz2
./configure --prefi

[2017-12-20 20:36] drossetti commented on #4650
As a work around, the following env var works:
export OMPI_MCA_btl_openib_cuda_async_recv=false

[2017-12-20 20:36] drossetti commented on #4650
probably the same issue as #4649

[2017-12-21 00:05] bwbarrett commented on #4373
not sure why this got reopened; closing...

[2017-12-21 00:05] #4373 closed

[2017-12-21 16:48] bingmann commented on #4509
Hmm. I finally got around to compiling from git.
My minimal test program `test_madvise.cpp.txt` from above, still crashes due to madvise.
I compiled the git versions
* (current head today ) 3f7494aec1c63784cfc1ae3b572312432d8c4592
* (the older version you merged in pull request #4576) 6e399cebc5b5e3a41b78bdad4e1910b29efbd461

The minimal test program segfaults on my small Infiniband test cluster:

[2017-12-21 18:21] hjelmn commented on #4509
The hook is needed because the kernel does indeed change the mappings on MADV_DONTNEED.

[2017-12-21 18:23] hjelmn commented on #4509
@bingmann Can you look at the core with gdb and get a backtrace with line numbers? I will see if I can reproduce the issue but this error seems different from the one from before.

[2017-12-21 19:05] aravindksg commented on #4643
Cherry picked the above patch to release branches as well. PR's #4656, #4657, #4658

[2017-12-21 19:53] rhc54 commented on #4072
Question from the SLURM folks: starting at version 2.0, PMIx installs two backward compatibility libraries (libpmi and libpmi2) that translate the PMI-1 and PMI-2 calls to their PMIx equivalents. This allows applications that have hardcoded the name of the PMI library to still use libpmix where supported. There are some speed benefits in doing so, and people have asked for that option.

Unfortunat

[2017-12-22 11:56] bingmann commented on #4509
Got the backtrace from a core dump:
[code]
Happy Holidays.

[2017-12-22 16:38] hjelmn commented on #4509
Found the issue. I fixed the erroneous error message but invalidated some internal assumptions. Fix incoming.

[2017-12-22 21:32] CalugaruVaxile opened #4665 "Dynamic host management/communicators still broken"
Hi Dev team,

With OpenMPI 3.0.0 the code crashes when I try two MPI_Comm_spawn successive directives, while one single spawn works perfectly. I have downloaded and built the head master OpenMPI, same issue. OS = Debian 7.

The full code is intended to dynamically add/remove hosts to/from a "uber" intracomm (which will be used by the main computation). Therefore I am trying to spawn+merge new comm

[2017-12-23 05:30] rhc54 commented on #4665
Just curious - what happens if you use a different minfo (i.e., don't overwrite the first one) for the second call?

[2017-12-23 13:30] CalugaruVaxile commented on #4665
Hi Ralph,

I tried that. Same error, as long as it's not MPI_INFO_NULL. In a different
context (if I try to merge the spawned comm with MPI_COMM_WORLD first, then
spawn f om the merged comm) I get an ssh error saying host cannot be
resolved (on the new host I try to spawn to) and a small comment saying
iptables may not be working.
These two happen for
mpirun -np 1 ./exec

If I try
mpirun -np 9 -ho

[2017-12-24 06:54] amaslenn commented on #4557
@rhc54 thanks! Will check it.

[2017-12-26 17:30] wolf1981 opened #4669 "MPI_Win_lock fails on local window under openib channel for RoCE"
Hi, all
    I encountered a problem when call MPI_Win_lock on local window. The test program is modified from osu_get_latency.c, from which I added MPI_Win_lock on local window, like this

   MPI_Win_lock(MPI_LOCK_EXCLUSIVE, 1, 0, win)) // for rank=1

    The error reported was:

    "The OpenFabrics "receiver not ready" retry count on a per-peer connection between two MPI processes has been excee

[2017-12-27 07:37] wolf1981 commented on #4669
Solved.

[2017-12-27 07:37] #4669 closed

[2017-12-28 02:47] backyes commented on #4338
@rhc54

I also encounter similar trouble,  with configure:
[code]

then, the following log:
[code]

also be found.

Have some more guide to kick this issue?

[2017-12-28 02:48] backyes commented on #4650
+ 1, I encounter similar GDR hung with user 100% single core overhead.

[2017-12-28 09:00] zhanglistar commented on #4437
@shinechou  I have the same problem. And I have check the open-mpi version， they are the same. Could you tell me how to find the hardware problem? I have checked my network and its adapters, they are the same.

[2017-12-28 16:51] shinechou commented on #4437
@zhanglistar: for me, one of my node is an HP workstation with XEON CPU and it has different HW configuration than the master node (which is a regular PC). So I didn't use the HP workstation but just use another regular PC.

[2017-12-29 01:49] omor1 opened #4675 "MPI_PROC_NULL in Topology Creation"
I'm trying to create a binary tree topology using `MPI_Dist_graph_create_adjacent()`, simplifying the graph boundaries by using `MPI_PROC_NULL`. This allows specifying all nodes in a consistent way.
I'm not sure this is allowed by the specification; I could find no information either way.
However, the neighborhood collectives specify that the borders of a cartesian topology act as though they send

[2018-01-02 08:55] CharlesxrWu opened #4676 "has less cpus than requested ones"
Thank you for taking the time to submit an issue!

## Background information
mpirun (Open MPI) 3.0.0
ubuntu 16.04 TLS
### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone and build from so

[2018-01-02 10:06] amckinstry commented on #4072
This problem came up within Debian. See the discussion at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=882033

TLDR: It was solved by splitting the binary packages: libpmix2 ships libpmix.so.2* library;
libpmi2-pmix ships the pmix implementation of libpmi2, and the Debian alternatives system can be used to select which libpmi2 library gets used by default.

Similarly for the -dev libraries fo

[2018-01-02 11:41] ggouaillardet commented on #4676
Can you try to add the `-map-by core` option ?

FWIW, assigning one MPI task on two sockets (8+2 cores) will likely lead to suboptimal perfomances

[2018-01-02 11:52] CharlesxrWu commented on #4676
That's my hostile

node1 slots=1
node2 slots=1

'''shell
/home/*/.openmpi/bin/mpirun -n 2 --hostfile my_hosts --map-by core /home/*/anaconda3/envs/pytorch/bin/python example.py
'''
I use --map-by core, the problem is:
'''shell
mpirun detected that one or more processes exited with non-zero status, thus causing
the job to be terminated. The first process to do so was:

  Process name: [[36096,1],1]

[2018-01-02 12:03] ggouaillardet commented on #4676
As a workaround, try to `-bind-to none` and get rid of the `-cpus-per-xyz` option.

[2018-01-02 12:09] CharlesxrWu commented on #4676
[code]

I exec the command
[code]
still cannot work.

[2018-01-02 14:12] rhc54 commented on #4676
The error states that your program exited with non-zero status - that has nothing to do with OMPI, but is likely a problem in your code.

[2018-01-02 14:25] rhc54 commented on #4072
Ah, okay - I read thru it, sounds like you have things well in hand. Please let us know if there is anything we can do to make life easier.

[2018-01-02 14:28] CharlesxrWu commented on #4676
@rhc54 I use the OMPI to exchange the data in my distributed work. It can get the right answer. However, the problem is that each task in each node just uses one core, which make the speed slow. I try the cpus-per-proc, cpus-per-rank and so on, but it still cannot work. I an not understand what you mean "that has nothing to do with OMPI". Can u explain it? Thank you!

[2018-01-02 14:42] rhc54 commented on #4676
You reported the following error:
[code]
This is showing that your program exited with a non-zero status, indicating an error in your program. Errors in your program aren't something OMPI can fix 😄

[2018-01-02 16:40] rhc54 commented on #4072
@koomie do you have a similar issue in OpenHPC?

[2018-01-02 19:42] bosilca commented on #4675
My understanding of the MPI standard description of the topology creation functions is that the list of neighbors is rank based, and should only contains the meaningful neighbors. Thus, you cannot have MPI_PROC_NULL as a neighbor in any type of topology.

[2018-01-02 20:03] rhc54 commented on #4338
I'm not sure how to advise you without knowing what version of SLURM and OMPI you are talking about. In general, the problem is that you configured OMPI without specifying ```--with-pmi``` and pointing to the location of the SLURM PMI libraries. If you are using a new enough version of SLURM, _and_ you configured it with PMIx support, then that would also solve the problem.

There is some more inf

[2018-01-02 21:04] omor1 commented on #4675
It *is* true that the distributed graph constructors specify `sources` and `destinations` as "array[s] of non-negative integers" describing "ranks of processes for which the calling process is a destination / source".

`MPI_PROC_NULL` is defined as `-2` in Open MPI, which would make it invalid according to the specification. However, the *regular* graph constructor `MPI_Graph_create()` specifies `

[2018-01-02 21:27] bosilca commented on #4675
_meaningful neighbor_ is a neighbor that define an edge where a communication will take place. This does not prevent 2 ranks of being neighbors multiple times, not a rank of being it's own neighbor. Communications with MPI_PROC_NULL are meaningless, and except for adding gaps into the communication buffers I cant see why you want to specify them.

This discussion pertains to the MPI standardizatio

[2018-01-03 12:45] dirk-schubert-arm commented on #4629
Sorry for the late reply, I was on holiday. @xavier1arm has applied your fix in #4630 and can confirm it works.  Thanks @rhc54. Is there anything I can help with to move #4630 forward. I feel not familiar enough with the code base to do the review, but on the other hand it's just a small and local change.

[2018-01-03 14:43] rhc54 commented on #4629
Thanks for the update. I think we are stuck until @jsquyres returns from vacation, but the release isn't going anywhere until then anyway.

[2018-01-03 16:02] hppritcha commented on #4629
merged fix #4630 into v2.x.  closing this issue.

[2018-01-03 16:02] #4629 closed

[2018-01-03 19:49] jsquyres commented on #4629
@rhc54 Is this a request that I test this (on v2.1.x) under DDT on my cluster?

If so, I can confirm that with the head of each of the following branches as of 3 Jan 2018:

1. 2.0.x: DDT attachment works
1. 2.1.x: DDT attachment works
1. 3.0.x: DDT attachment works
1. 3.1.x: DDT attachment works

[2018-01-03 19:49] jsquyres commented on #4629
I neglected to mention -- I tested with DDT Allinea Forge v7.0.2

[2018-01-03 19:50] rhc54 commented on #4629
Sorry - wasn't necessary as Allinea as already confirmed it works 😢

[2018-01-03 21:13] jsquyres commented on #4650
@drossetti Is someone at NVIDIA looking into this and/or #4649?

[2018-01-04 17:48] aravindksg commented on #4643
The fix has been merged into master and release branches. This issue can be closed.

[2018-01-04 17:49] #4643 closed

[2018-01-05 16:42] ggouaillardet commented on #4567
Issue has been fixed on all active branches

[2018-01-05 16:42] #4567 closed

[2018-01-07 09:55] ggouaillardet opened #4682 "MPI_File_set_view datatype check"
Following the issue initially reported on [Stack Overflow](https://stackoverflow.com/questions/48094772/am-i-misusing-mpi-file-write-all) i opened this [issue](https://github.com/pmodels/mpich/issues/2915)  on MPICH.

It turns out the MPI standard 3.1 chapter 13.3 requires

And we do not check such a thing in Open MPI.

What would be the best way to achieve that ?
 - one option would be to write a

[2018-01-07 11:51] glaubitz commented on #4349
Of course, it was IBM. They also forcefully removed PowerPC BE support in Golang for no reason (I still have a working fork which I regularly rebase against master) and also almost objected my work of *zfs on linux* on PowerPC BE.

We in Debian are happy to support big-endian PowerPC targets and if there are bugs to be fixed, there are many people who are happy to help. It would be great if this c

[2018-01-07 17:33] bosilca commented on #4682
For derived datatypes it seems expensive (and unnecessary) to compute this property for all datatypes. I would add 2 flags, one to mark the datatype as MONOTONIC, the other to mark the data as already ANALYZED for monotonicity (thus providing a cache mechanism for future checks). We are using 16 bits for the OPAL datatype flags, and there is enough room left to use 2 more.

In ```MPI_File_set_view

[2018-01-07 19:26] pkovacs commented on #4072
A problem tangential to the use of external pmix:

The pmix project allows you to configure it such that its headers can be installed anywhere you like.   When a project contains more than a single header, it is desirable to be able to install those headers to a subdirectory of, e.g. /usr/include.   The following is a perfectly reasonable configure for pmix:

[code]
The above installs the pmix hea

[2018-01-08 03:39] pkovacs commented on #4072
There are actually several problems with the m4 that searches for external pmix.  In addition to the header problem I mentioned above, it also does not look in DIR/lib64 at all for libpmix, but only DIR/lib  I am going to file a PR to correct these.

[2018-01-08 07:05] pkovacs commented on #4072
Looks like `master` already has code commited to fix the `DIR/lib64` problem, so I just addressed the `DIR/include/pmix` issue with https://github.com/open-mpi/ompi/pull/4683.

[2018-01-09 16:23] hppritcha commented on #4248
this fix has been back ported to all relevant branches. closing.

[2018-01-09 16:23] #4248 closed

[2018-01-09 16:27] hjelmn commented on #4529
We just got a relevant system installed. Will try to look at it today.

[2018-01-09 16:30] jsquyres commented on #4303
Per 2018-01-09 teleconf, @bwbarrett will follow up with @bosilca on this one.

[2018-01-09 16:31] jsquyres commented on #2168
Per 2018-01-09 teleconf, we all think that this one has been resolved.  @bwbarrett will chase down the issues/pr/commits/whatever and close this issue with the appropriate cross-references.

[2018-01-09 17:11] jsquyres opened #4686 "CI/Jenkins failures: timeouts"
A bunch of CI tests have been failing recently, particularly in the Mellanox Jenkins.

Per discussion on the 2017-01-09 teleconf, we were reminded that most of the segv's that we see in the Mellanox Jenkins (e.g., https://github.com/open-mpi/ompi/pull/4683 Mellanox Jenkins master build http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/7030/) are actually timeouts.

Meaning: it looks like som

[2018-01-09 19:55] hjelmn opened #4688 "UCX OSC violates MPI standard with accumulate + fetch and op"
Thank you for taking the time to submit an issue!

## Background information

The UCX OSC component includes an optimization for ```MPI_Fetch_and_op()```. Unfortunately this optimization leads to incorrect results when mixing ```MPI_Fetch_and_op()``` with ```MPI_Accumulate()```.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

master, v3.1.0

##

[2018-01-09 19:55] hjelmn commented on #4688
@artpol84 Please assign to the appropriate person.

[2018-01-09 20:05] hjelmn commented on #4688
I should point out that osc/rdma fails this test when the ```ompi_single_accumulate``` info key or the associated MCA variable is set. That is fine as we are allowed to weaken semantics with info keys. I suggest adding the same info key to osc/ucx to turn the optimization on.

[2018-01-09 21:08] artpol84 commented on #4688
@hjelmn thanks for tracking this.

[2018-01-09 22:20] jsquyres commented on #4686
I am unable to reproduce this issue manually with the `bw_th` test.  I have tried both debug and optimized builds at the head.  I also tried a few different hardware platforms, with both the TCP and usNIC BTLs, and with a variety of CLI arguments to `bw_th` (2, 4, 8, 20, 40, etc.).  I also tried with the vader BTL on a single server (also with different CLI params -- 2-40, etc.).

Any suggestions

[2018-01-09 22:26] bwbarrett commented on #4686
are you pinning to cores?  their set is interesting; they tasksel to 2 cores for mpirun, which I think means the mpi processes will inherit that, and then spawn 4 threads each on the 2 processes.

[2018-01-09 22:36] hjelmn commented on #4688
No problem. Sorry I didn't get this up before the new year. Got sucked into other projects :-/.

[2018-01-09 22:50] artpol84 commented on #4686
Yes, this pinning introduces resource contention and once helped us to identify the issue in the code that went in unnoticed (https://github.com/open-mpi/ompi/issues/1813)

[2018-01-09 23:12] jsquyres commented on #4686
Good call -- no, I wasn't.  Didn't help, though:

[code]

This is an optimized build of master head, obviously using vader on a single node.  Let me try a more recent machine (although it's got a slightly slower clock speed)...  Nope, it still runs fine there, too:

[code]

@artpol84 Just out of curiosity, since you're binding to Linux virtual IDs 0,1, what's the load on the machine at the time?

[2018-01-10 01:15] artpol84 commented on #4686
[code]

[2018-01-10 01:15] artpol84 commented on #4686
And with TCP:
[code]

[2018-01-10 01:16] artpol84 commented on #4686
@jsquyres when I was reproducing manually I saw that no process was running on the node at the moment.

[2018-01-10 01:17] artpol84 commented on #4686
I mean no CPU-intence procs was there except mine.

[2018-01-10 01:18] artpol84 commented on #4686
I just noticed that MPI_Send and MPI_Recv tags are different. It reminds me the issue I cited here previously.

[2018-01-10 01:19] artpol84 commented on #4686
And note, that I wasn't binding at all so this is not the root cause!

[2018-01-10 01:45] artpol84 commented on #4686
I checked the test. tag is getting incremented on each iteration by both of the ranks. It looks like receiver moves to the next iteration while sender still waits for the previous message to be completed.

[2018-01-10 02:10] artpol84 commented on #4686
@vspetrov @jladd-mlnx it seems that this issue is also related to hcoll issue we observed [here](http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/7031/console)

If I disable hcoll I can't reproduce on bgate anymore.
I'm going to temporally disable hcoll and check how it will go.

One thing concerns me: why in other branches (like for https://github.com/open-mpi/ompi/pull/4685 for which I pr

[2018-01-10 02:47] artpol84 commented on #4686
@jsquyres I've fixed timeout s we discussed on the call:
* https://github.com/mellanox-hpc/jenkins_scripts/pull/66
* https://github.com/mellanox-hpc/jenkins_scripts/pull/67

We were automatically detecting availability of `--timeout` option, but after some version mpirun help interface has changed and instead of `mpirun -h` you need to do `mpirun --help debug`. This broke scripts for recent branch

[2018-01-10 02:58] bwbarrett commented on #2168
Reading this again, we have not completed this work.  It's on our todo list, but sitting behind trying to sort out the multilink support in the TCP.

[2018-01-10 03:55] bwbarrett commented on #4303
Reading the history in this ticket, clearly a fix is needed for v3.1.x, and it looks like it was never pulled.    @bosilca, can you file a PR to merge the changes into v3.1.x?  I'm not seeing the failure on v3.0.x, so I believe it's not needed there?

[2018-01-10 08:19] artpol84 commented on #4686
`--timeout` option provides more useful output, but it looks like hcoll is not the only problem.
I see multiple vader-related issues on the `ring_c` test:
* http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/7042/console
* http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/7042/console
No multi-threaded failures though.

I'm going to add similar fix to the oshmem code to address http://b

[2018-01-10 15:50] jsquyres commented on #4686
@artpol84 Excellent -- that makes the Mellanox Jenkins output much easier to parse/understand.  Thanks!

Just to be clear: are you saying that there's still a vader issue on master?  Or is this also related to hcoll?  (I ask because in build 7042 -- linked above -- it's hanging in an hcoll-enabled run)

[2018-01-10 17:02] jsquyres commented on #4686
@artpol84 In https://github.com/open-mpi/ompi/pull/4683#issuecomment-356493662, you cited leftover files in `/dev/shm` -- are those the cause of the vader issues?

[2018-01-10 17:39] jsquyres opened #4693 "Merge Fortran ERRCODES_IGNORE fix to v2.x, v3.0.x, v3.x"
@nathanweeks submitted an F08 ERRCODES_IGNORE fix to master in #4681.

It needs to be applied to:

* v2.x
* v3.0.x
* v3.1.x

On the one hand, I'd like to apply the fix to v2.0.x even if we never release from there again.  But OTOH, there's a pretty small barrier-to-entry from moving from v2.0.x to v2.1.x.  So I think: let's not apply it to v2.0.x as an encouragement for people to upgrade to (at le

[2018-01-10 20:11] artpol84 commented on #4686
@jsquyres
* Yes I think that vader is an issue. There is a [new report](http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/7047/console) failing on it.
* In both 7047 and 7024 hcoll is disabled: `--mca ^hcoll`

[2018-01-10 20:19] artpol84 commented on #4686
Regarding vader leftover. Yes I see these files again in /dev/shm.
[code]

However the issue that leftover was causing [looked like this](http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/7039/console):
[code]

while errors in 7042 and 7047 occur later when Send/Recv is performed.

[2018-01-10 20:30] artpol84 commented on #4686
and it seems that after 4-47 has failed it lead to subsequent failures because of leftover:
* http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/7053/console

[2018-01-10 21:22] artpol84 commented on #4686
7054 finised ok: http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/7054/ after removing vader leftover.

[2018-01-10 21:31] jsquyres commented on #4686
So is the real problem the vader leftover in `/dev/shm`?

[2018-01-10 21:34] artpol84 commented on #4686
No, it seems like a 2 real problems.
* first (root cause) that causing a hang and leftover to appear: http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/7047/console
* second one: consequence of the first - leftover prevents app from starting: http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/7053/console

[2018-01-10 22:14] rhc54 commented on #4686
FWIW: there is a cleanup mechanism in master to resolve the leftover problem. However, when you kill mpirun by hitting it with SIGKILL, you don't give it a chance to invoke the cleanup code. My best guess is that is what caused your second case.

I'll check to ensure that the mpirun timeout option does invoke the cleanup - pretty sure it does, but worth a check.

[2018-01-10 22:17] artpol84 commented on #4686
According to the output of http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/7047/console hang was interrupted with mpirun timeout:
[code]

[2018-01-11 03:42] artpol84 commented on #4686
@rhc54, am I right that https://github.com/open-mpi/ompi/pull/4698 fixes the cleanup issue?

[2018-01-11 03:47] rhc54 commented on #4686
so far as I can determine, yes

[2018-01-11 03:48] artpol84 commented on #4686
@hjelmn one thing that concerns me is that since leftover was causing issues for sequentially launched applications it can also can cause issue if multiple MPI programs will run on the same node.
According to what I sav in /dev/shm:
[code]
File names do not contain any identification information and this may cause issues in multi-user node usage. It makes sense to add some IDs (like jobid or PID)

[2018-01-11 10:56] rhc54 commented on #4686
Just checked on another system and the timeout on master still isn't removing the /dev/shm files. Will play with it more as time permits.

[2018-01-11 21:47] naughtont3 opened #4702 "dvm: early exit of prun when another job completes"
## Background information

### Version of Open MPI

 - Open MPI `master` at c1b1bfc

### How Open MPI was installed

 - Reproducible on single node, normal Linux cluster instance with source build of `master`
 - My configure/build line:

[code]

### System where tests are running

* Operating system/version:  Linux
* Computer hardware:  x86_64
* Network type: ethernet

----------------------------

[2018-01-11 21:51] naughtont3 commented on #4702
Hi @rhc54, adding mention so you see for guidance.  Thanks

[2018-01-11 22:50] rhc54 commented on #4605
@bwbarrett @jsquyres I was going to provide a vanilla version of the official PMIx v2.1.0 release. However, it just hit me that the cleanup registration code won't be in that release - it involved adding attributes etc that moved it into PMIx v3.

Do you want the cleanup code here? It solves the problem of leftover files in /dev/shm, which is why I ask. Would mean taking the embedded pmix code cur

[2018-01-11 23:10] rhc54 commented on #4702
The problem is that prun is registering to be notified of job terminations - but not discriminating on _which_ job. ORTE automatically notifies all registered requestors when a job terminates, which is why the second prun gets the notification.

There are a couple of possible solutions here. Let me ponder a little.

[2018-01-12 03:05] rhc54 commented on #4702
I'm still getting a warning about an invalid file descriptor from orte-dvm when it terminates, but otherwise things are running fine. Thanks for the heads-up!

[2018-01-12 03:59] #4702 closed

[2018-01-12 13:59] naughtont3 commented on #4702
Great! Thanks Ralph.  Also, the note you added about the calling cbfunc() in prun's evhandler was helpful.  My local testing edit was similar to your fix, but I returned before calling the cbfunc() and therefore would mess up progress, which explains why some tests would hang. Thanks.

[2018-01-12 23:21] naughtont3 opened #4707 "dvm: mpi app causes subsequent failure in pmix client (prun)"
## Background information
### Version of Open MPI

 - Open MPI `master` at 1821c65 (includes latest DVM/prun fix)

### How Open MPI was installed

 - Reproducible on single node, normal Linux cluster instance with source build of `master`
 - My configure/build line:

[code]

### System where tests are running

* Operating system/version:  Linux
* Computer hardware:  x86_64
* Network type: ethernet

[2018-01-12 23:22] naughtont3 commented on #4707
Hi @rhc54, here's another one that cropped up.  I've got to run for day but thought I'd throw the item in the tracker in case you had time.  Otherwise, I can look closer next week.  Thanks.

[2018-01-12 23:23] rhc54 commented on #4707
Yeah, it's probably caused by the MPI app cleaning up too far and catching the DVM's contact file. I'll take a look.

[2018-01-12 23:25] naughtont3 commented on #4707
Cool, thanks!   :-)

[2018-01-13 02:47] #4707 closed

[2018-01-13 17:23] karasevb commented on #4605
https://github.com/pmix/pmix/issues/586 was closed, and related PRs are merged https://github.com/pmix/pmix/pull/613, https://github.com/pmix/pmix/pull/614.

[2018-01-13 17:26] karasevb commented on #4605
@rhc54 Do we have any other blockers to update PMIx?

[2018-01-13 22:02] rhc54 commented on #4605
Not that I know of, but I do need to resolve the question I posted above.

[2018-01-15 02:43] karasevb commented on #4605
@rhc54 can we sync PMIx v2.1 early than mentioned feature will be resolved? Since we faced the failure during testing with internal PMIx which was fixed here https://github.com/pmix/pmix/pull/614.

[2018-01-15 04:55] rhc54 commented on #4605
I'm afraid Monday is a national holiday over here, so I don't know who will be around. I suspect this will at least need to wait until Tues or Wed before anything could be committed, regardless.

[2018-01-15 11:12] dirk-schubert-arm commented on #4624
Thanks @rhc54 . If I understand the merge #4626 correctly this is only in [master](https://github.com/open-mpi/ompi/blob/master/orte/orted/orted_submit.c) so far, but not in [3.1.x](https://github.com/open-mpi/ompi/blob/v3.1.x/orte/orted/orted_submit.c) or [3.0.x](https://github.com/open-mpi/ompi/blob/v3.0.x/orte/orted/orted_submit.c). Any chance to backport this into 3.0.x and 3.1.x, as otherwise

[2018-01-15 19:22] rhc54 commented on #4624
Done: #4715 and #4716

[2018-01-16 04:34] ggouaillardet opened #4718 "grpcomm: hang in MPI_Comm_spawn()"
This is a follow-up on #4680.
#4680 will be merged shortly, and here is the description of a remaining issue.

Let's consider the following program

[code]

and run it as
[code]

This currently hangs in `mpirun` and the last log is
[code]

An other way of reproducing the issue is
[code]

(same hang, same last log)

i can observe
 - the 3 spawned MPI tasks call `PMIx_Fence()`
 - on `n2`'s `orted`,

[2018-01-16 05:01] ggouaillardet commented on #4718
fwiw, the same hang can be reproduced with the latest `v2.x` branch.

[2018-01-16 09:57] dirk-schubert-arm commented on #4624
Thanks Ralph.

[2018-01-16 16:19] bwbarrett commented on #4509
@hjelmn, can this be closed now?

[2018-01-16 16:21] hjelmn commented on #4509
Yup.

[2018-01-16 16:21] #4509 closed

[2018-01-16 18:51] naughtont3 commented on #4707
Confirming that this worked on my test machine. Thanks @rhc54!

[2018-01-16 21:42] artpol84 commented on #4686
What issue out of 2 we are tracking?
Vader hang or improper leftover handling?

[2018-01-16 21:58] jsquyres commented on #4686
Improper leftovers should now be handled (via #4701).  The only issue left should be the vader hang.

[2018-01-17 17:11] #4098 closed

[2018-01-17 17:16] jsquyres opened #4726 "'orterun --host B,A' when run from host A hangs"
By accident last night, I found that the following hangs:

[code]

Note the ordering of the hosts in the `--host` clause: it's `B,A`, where `A` is the host running `orterun`.  And just to be clear, running with the hosts in the other order (`A,B`) does *not* seem to result in the same problem: the `orterun` always seems to complete successfully.

This is using the rsh/ssh launcher outside of SLURM

[2018-01-17 18:54] rhc54 commented on #4726
Looks like this is the same as https://github.com/open-mpi/ompi/issues/4516, though you cite a different source commit

[2018-01-17 18:59] jsquyres commented on #4726
Ah!  Ok.

It's possible that git bisect got this wrong -- I'll defer to @karasevb, who probably cited the commit he did because he actually looked at the code, etc.

Let's close this one as a dup, then.

[2018-01-17 19:06] #4726 closed

[2018-01-17 19:15] jsquyres commented on #4516
@karasevb FYI: I filed a dup of this in #4726 (and closed it; leaving this one open).  Just mentioning it here as a cross reference -- when this issue is fixed, we should check to make sure the case sited in #4726 works as well.

[2018-01-17 20:36] rhc54 commented on #4516
FWIW: I found the problem. The daemon on node2 incorrectly assigns rank=0 to node1 and rank=1 to itself, while the daemon on node1 (correctly) assigns rank=0 to node2 and rank=1 to itself. Thus, the daemons start two rank=1 procs, and no rank=0 as they each think the other one launched it.

[2018-01-17 20:41] jsquyres commented on #4516
@rhc54 Cool -- thanks!  Would this also explain what was happening in #4726?

@karasevb Can you fix this, perchance?

[2018-01-17 21:28] xinzhao3 commented on #4688
I have found the problem and am working on a PR, will push soon. @bwbarrett

[2018-01-17 22:02] rhc54 commented on #4516
Yeah. The race condition is due to the shortness of "hostname" execution. If it finishes fast enough on the first node, then the second one receives notification that the other proc died and correctly computes its local rank. You can reproduce it 100% of the time by using a longer-running executable.

[2018-01-17 22:38] xinzhao3 commented on #4688
I created a PR to fix this issue: https://github.com/open-mpi/ompi/pull/4728 @hjelmn could you try to see if the bug is fixed?

[2018-01-18 08:24] #3613 closed

[2018-01-19 08:40] tgpfeiffer commented on #3972
Are there any updates on this issue? OpenMPI 3.0 hangs for me with CUDA+IB where 2.1 works fine, so maybe it's the same problem.

[2018-01-19 16:26] nspark opened #4730 "Provide pkg-config files for OSHMEM"
## Feature Request

Currently, Open MPI only provides `pkg-config` files for `ompi`, but not for OSHMEM. This issue requests that `oshmem.pc` (and/or `oshmem-c.pc`) be provided with an OSHMEM installation.

[2018-01-20 00:22] nicmcd commented on #4390
I've having this same problem. I built ucx then built openmpi with ucx. I still get the same error. If I run "shmemrun ls" everything works. If I run "shmemrun myapp" it doesn't work. Why not? My program is just a simple shmem hello world. What is breaking?

[2018-01-20 15:00] yosefe commented on #4390
@nicmcd can you please attach full command line and output?
Also, which OpenMPI branch/revision is being used (we made UCX the default just recently)?

[2018-01-20 19:51] Cerebus opened #4732 "mpirun ignores unique subdomains in hostfile entries"
Thank you for taking the time to submit an issue!

## Background information
### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
openmpi 3.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Distribution binary package

### Please describe the s

[2018-01-20 19:59] Cerebus commented on #4732
For the interested, I'm deploying OpenMPI on top of Docker Swarm as an easy way to experiment with HPC on Raspberry Pi 3 clusters.  Code is based on a [this project](https://github.com/NLKNguyen/alpine-mpich) which used MPICH, but MPICH isn't packaged for Alpine.

Everything works except for this bit.  Docker swarm names service containers as <servicename>.<instance#>.<randomid>.<networkservicenam

[2018-01-22 08:05] ggouaillardet commented on #4730
@nspark can you please give #4737 a try ?

the patch can be manually downloaded at https://github.com/open-mpi/ompi/pull/4737.patch

note you will need recent autotools in order to run `autogen.pl`

[2018-01-22 14:54] jjhursey commented on #4732
By default, ORTE uses the short hostname `mpi-worker` as it assumes that all hosts are using the same domain. You can change this by setting this MCA parameter `-mca orte_keep_fqdn_hostnames t` (fqdn - fully qualified domain names).

Give that a try and let us know if it fixes the issue.

[2018-01-23 15:22] artpol84 commented on #4605
@rhc54 Let's discuss this on Todays call.

[2018-01-23 17:17] jladd-mlnx commented on #4605
@karasevb since Ralph is no longer working on the OMPI project, please do the merge.

@alinask @artpol84 FYI...

[2018-01-23 18:11] jsquyres commented on #4516
I did some testing today: I ran this scenario:

[code]

Per @rhc's comment https://github.com/open-mpi/ompi/issues/4516#issuecomment-358463148, running `hostname` is a test program that is short enough to make the problem be a race condition.  But invoking a longer test program should make the problem occur 100% of the time.  So I ran `sleep 1` for my tests today, which should be long enough to ma

[2018-01-23 23:20] jsquyres opened #4744 "iof stdin routing may have a problem"
Per discussion on the users list, there may be a problem with `mpirun a.out < foo` (potentially where `foo` is a "large enough" file).

* Here's the message where @edgargabriel determined that the problem discussed in that thread is most likely not specific to MPI-IO: https://www.mail-archive.com/users@lists.open-mpi.org/msg31954.html
* Here's the beginning of the thread (for the entire context):

[2018-01-24 01:40] smguzik opened #4745 "Failure using hdf5 with ompio component of v3.x"
[iotest.cpp.gz](https://github.com/open-mpi/ompi/files/1658194/iotest.cpp.gz)
Thank you for taking the time to submit an issue!

## Background information

A failure is observed using hdf5 with the ompio component of openmpi v3.x.  The example works with '--mca io romio314', with mvapich2, and when collective IO is disabled for HDF5.  I am only assuming the bug is with the ompio component.

### Wh

[2018-01-24 01:55] ggouaillardet commented on #4744
i can reproduce the issue with a long enough input file.
indeed, the last chunks are not written.

`strace mpirun` shows that `mpirun` is reading chunks of 4096 bytes from
stdin, and then writing chunks of 4096 bytes to the pipe to process 0.

if all `write()` success, then there is no issue ( for example, a `6515`
characters file).
when the input is big enough (for example, a `650015` file on my

[2018-01-24 02:00] edgargabriel commented on #4745
thank you for the bug report, I will look into this.

[2018-01-24 02:26] ggouaillardet commented on #4744
@rhc54 i just read your email to `devel-core` and will hence re-assign this to myself

[2018-01-24 07:51] ggouaillardet commented on #4744
here is a patch that seems to fix the issue

[code]

incidentally, i noted the `iof_base_input_files` option looks unused.
Though the MCA parameter value is stored, it is never used.

Is this something we should fix or remove ?

imho, an interesting option would be to have the MPI task(s) directly use a file instead of `stdin` (e.g. do not use `iof`).
Though `mpirun ... < file` should work, we gen

[2018-01-24 09:58] karasevb commented on #4605
Done #4746

[2018-01-24 14:21] nspark commented on #4730
@ggouaillardet Thanks for addressing this issue. I built OSHMEM from your branch and the `pkg-config` files all seemed to work fine for compiling my OpenSHMEM programs.

[2018-01-24 15:01] edgargabriel commented on #4745
Brief update: I have good news and bad news. I can in fact reproduce the problem with 3.0.x. The good news is, the problem does not occur on master, the test passes in all possible combinations (with all fcoll modules that we have). The bad news is that I looked over the list of pr's that have been applied to 3.0.x (for ompio), and I do not see anything major missing, so I am a bit lost where the

[2018-01-24 15:22] edgargabriel commented on #4745
test also passes with 3.1.x branch, so it is purely the 3.0.x branch that seems to be affected.

[2018-01-24 17:13] henkela commented on #4338
Dear @rhc54

recently I obtained the very same error message when running srun with openmpi 2.1.2 and 3.0.0.
I'm using slurm 17.02 on centos 7.3. Slurm is built with pmi2 but without pmix.
An old version of openmpi - 1.10.4 - works using srun --mpi=pmi2 but when I install 2.1.2 or 3.0.0 with the same configure-line srun --mpi=pmi2 shows

[code]

Mpirun works.
Is it mandatory for openmpi 2.1.2 and

[2018-01-24 17:59] edgargabriel commented on #4745
found the reason. There is one erroneous line that somehow creeped into fs/ufs/fs_file_open.c  Will mark this item as a blocker, since this could affect many jobs.

[2018-01-24 18:12] edgargabriel commented on #4745
The bug is in fact there on master and 3.1.x as well, but it has actually no impact on master and 3.1.x, only on 3.0.x. Will file pr's in the next couple of minutes.

[2018-01-24 22:24] ezze commented on #4557
@amaslenn, have you solved the issue?

[2018-01-24 22:28] #4745 closed

[2018-01-24 23:11] rhc54 commented on #4338
No, you don't have to build slurm with pmix. However, you may be picking up the pmix-based PMI2 library by mistake. Check the OMPI install/lib location - if there is a libpmi2.* there, delete it.

[2018-01-25 00:51] rhc54 commented on #4744
@ggouaillardet I'm not sure I understand the patch. You are retaining the wev write event, but releasing the stdinev object that holds the wev in the very next line? At the very least, doesn't that leak the wev?

If input_files is unused, feel free to go ahead and remove it - I honestly don't recall its purpose.

We have been advising users to not redirect stdin for more than a decade - yet some s

[2018-01-25 01:36] ggouaillardet commented on #4744
@rhc54 thanks for your time !

I initially thought there would be a memory leak, but I was happily surprised the `wev` write event gets released (and destroyed) somewhere else.

I will double check the status of `input_files` on other branches, and if the handling was not removed accidentally, i will simply remove the option.

The option I am suggesting is __not__ to involve `iof` any more.
instea

[2018-01-25 01:40] rhc54 commented on #4744
I don't think you can do that redirection as the input file typically is not available on the compute node, which is why someone is forwarding it. However, having mpirun read the file instead of getting it thru the stdin straw (with all the pty etc. issues) would be more reliable.

[2018-01-25 01:50] ggouaillardet commented on #4744
back to the `input_files` thing, it is used by the `iof/mr_hnp` component on the `v2.x` branch, but this component is no more in `master` nor the `v3` branches, so I will remove the option.

I understand the input file __might not__ be available on the compute nodes, so in order to cover all cases, we need someone (and `mpirun` is the perfect candidate) to do the forwarding.
In the case of Quantum

[2018-01-25 02:11] rhc54 commented on #4744
Yeah, we dropped map/reduce support, so go ahead and remove that option.

Agree that dropping the idea might be the right thing to do for now - keep things simple. The app can always take the input file on its cmd line.

I agree about the pty thing, but unfortunately users do the latter cmd as well - it's a jungle out there ☹️

[2018-01-25 02:38] ggouaillardet commented on #4744
ok, i removed the option and PR vs the `v3.1.x` branch at open-mpi/ompi#4756

i found an issue with my patch. `proct->stdinev` is used after being `OBJ_RELEASE()`'ed, so i will rework it.

[2018-01-25 04:21] ggouaillardet commented on #4744
here is a new revision of the fix
[code]

[2018-01-25 04:33] rhc54 commented on #4744
Looks much better - thx!

[2018-01-25 07:24] amaslenn commented on #4557
No, not yet.

[2018-01-25 08:56] henkela commented on #4338
Thank you for your quick response.

That's the strange thing about it - there is no libpmi2 in OMPI/lib. ls shows
[code]
I did a strace of a hello world mpi program. and extracted the successful opens from the trace. This is how it looks for OpenMPI 3.0.0

[code]

When I use our OpenMPI 1.10.4 the same operation shows
[code]
To me it looks like the same sys-libs are used and the very same libpmi2.

[2018-01-25 09:57] rhc54 commented on #4338
Thanks for the info! Looks like you are indeed pulling the correct libs, so it sounds like there is a bug in OMPI itself. I'm afraid I can't take this any further right now, but hopefully can point the right folks towards it.

@artpol84 @hppritcha @jsquyres @bwbarrett It appears that the Slurm native PMI support in the OMPI v3.x series (the s1 and s2 components in the opal/pmix framework) is broke

[2018-01-25 10:17] henkela commented on #4338
I'd like to add: I see a similar problem when I try with OMPI 2.1.2...
Here's the trace of that:
[code]

Here's STDERR for OMPI2.1.2:
[code]

and for OMPI 3.0.0
[code]

[2018-01-25 11:13] rhc54 commented on #4338
Just as a quick sanity check: did you by any chance do an rpm install of pmix to the default locations (i.e., /usr)? We have seen problems where the packagers included libpmi and libpmi2 from PMIx in their distros, and they overwrite the ones from Slurm - causing a similar problem to what you report.

If so, you might want to reinstall the Slurm package to restore their libpmi and libpmi2.

[2018-01-25 11:16] henkela commented on #4338
I checked yum provides */libpmi2.so, which gave me only our self-build rpms.
yum info pmix show Available Packages only.

[2018-01-25 15:57] CalugaruVaxile commented on #4665
Hi Ralph,

I see you have committed some changes. Should I try to rerun the tests with the head version?

Cheers,
George

[2018-01-25 16:09] gpaulsen commented on #4516
I tested with an older open-mpi in v3.0.x, and I couldn't get it to reproduce at all on ppc64le.
I also saw in master the problem occur 100% of the time on ppc64le.

Based on Jeff's testing, I'm removing blocker and targets other than master.

[2018-01-25 17:35] karasevb commented on #4516
Reproduce with v3.1.x (9885c218f5fc57b5ddd9e6b98c2a6e6081a8e1dd):
[code]

[code]
[code]
From backtraces above we can see that both procs have the same rank.
We are working on that.

[2018-01-25 17:35] karasevb commented on #4516
@artpol84

[2018-01-25 17:40] rhc54 commented on #4665
I believe there is still one remaining problem in the grpcomm code: #4718 . However, you are welcome to give it a try.

[2018-01-25 23:14] CalugaruVaxile commented on #4665
Hi Ralph,

preliminary tests look good (multiple spawns on subsequently-added hosts works now). I still need to run the successive (spwan + communicator merge) tests. I will come back to you with the full test results

Cheers,
George

[2018-01-26 17:28] CalugaruVaxile commented on #4665
Hi Ralph,

I confirm, it is now possible to do this

1. start with no slaves at all (just master)
2. spawn N slaves -> slaveCommunicator
3. merge slaveCommunicator with master into the intracomm spawnedCommunicator
4. repeat 2-3 and creating many intercomms

Great work, many thanks for the fix!

What I cannot do is to merge these spawned communicators into one global intercomm. I admit I do not kn

[2018-01-28 15:14] PABourdin opened #4761 "3.0.0 error: 'FILE' was not declared"
Hello,
I have successfully installed OpenMPI 1.10.7 and 3.0.0 tarballs, together with pHDF5 on CentOS 7.

When I compile my code, with 1.10.7 all is fine.
When I use 3.0.0 instead, I get this error:

[code]

Why is this error triggered with 3.0.0 and not with 1.10.7? What shall I do?
Thanks and best greetings.

[2018-01-28 17:53] PABourdin commented on #4761
Looks like I have to `include <stdio.h>` explicitly.

I guess this was included before automatically from "mpi.h". No idea if this is a bug or a feature...?

[2018-01-29 02:46] ggouaillardet commented on #4761
I do not think the MPI standards states `stdio.h` should be `#include`'d from `mpi.h`, so you should not expect this. imho, clearly not a bug, but an implementation choice (not sure that qualifies as a feature though)

[2018-01-29 12:37] PABourdin commented on #4761
Well, it is just very surprising (and irritating) if a well-tested years-old code suddenly does not compile any longer due to a version change in MPI. Therefore, I hope you understand my reaction to report here.

If such "implementation choices" are made that require developers to change their code, it would actually be useful to write this in a prominent place, like `ompi/NEWS`.

I therefore leav

[2018-01-29 13:06] ggouaillardet commented on #4761
I fully understand you reported this issue (e.g. something that has been working for ever does not work any more).

In this case, I believe it worked because "you were lucky", and I cannot blame you for that.
That being said, this is not something that should have been taken for granted, and I do not think this under the hood changes between major versions deserves to be documented.

I will also n

[2018-01-29 16:33] jsquyres commented on #4761
I believe the change is due to the fact that Open MPI stopped compiling / installing the C++ MPI bindings by default in v2.0.0 (because the MPI v3.0 spec deleted them).

When the C++ bindings were installed by default, then `mpi.h`, when compiled with a C++ compiler, would have to include a bunch of other head files -- including `<stdio.h>`.  When Open MPI stopped compiling/installing the C++ bind

[2018-01-29 17:42] #4761 closed

[2018-01-30 01:39] AlexanderKurtz commented on #1822
Since I was just bitten by this, here is an example error message when running OpenMPI under docker. This hopefully improves the odds of $search_engine finding this bug report!

[code]

[2018-01-30 11:35] jsquyres commented on #1822
@AlexanderKurtz What version of Open MPI were you using?

It looks like the fix for this went into Open MPI v2.0.1 and beyond.

[2018-01-30 11:57] AlexanderKurtz commented on #1822
@jsquyres: I am using Ubuntu Xenial which only has OpenMPI 1.10.2 [0].

[0] https://packages.ubuntu.com/source/xenial/openmpi

[2018-01-30 14:17] jsquyres commented on #1822
@AlexanderKurtz Gotcha.  Your best solution will be to upgrade to a later version of Open MPI, then.  Sorry!  ☹️

More complete answer: the latest version of the Open MPI v1.10 series is v1.10.7, which was released in May of 2017 (v1.10.2 is from Jan of 2016).  There are no more planned v1.10.x releases.  As of this writing (39 Jan 2018), Open MPI's current release is v3.0.0, with v3.0.1 and v3.1.

[2018-01-30 14:51] ggouaillardet commented on #1822
@jsquyres www.open-mpi.org states in the Download section that v2.1 is still supported.
The documentation section states that even v1.10 is in bug fix only (which is clearly out if date)

[2018-01-30 15:09] jsquyres commented on #1822
Yes, I'm sorry if I was not clear: the *most* recent release is v3.0.0 (with v3.0.1 and v3.1 coming soon).  But @ggouaillardet is correct -- v2.1.x is still supported; all releases beyond v2.0.1 should contain the fix.

But IMHO: If you're going to upgrade from v1.10.x, you might as well upgrade to v3.something to give you the latest/greatest/supported-for-the-longest-period-of-time-in-the-future.

[2018-01-30 15:44] ael-code opened #4769 "Failed assertion on pml send request completion"
## Background information

### What version of Open MPI are you using?
I've only tested `v3.0.0`

### Describe how Open MPI was installed
I've downloaded the source tarball of v3.0.0 and compiled it.

### Please describe the system on which you are running
I'm testing on Marenostrum 4 supercomputer.

* Operating system/version:  SUSE Linux Enterprise Server 12 SP2

* Computer hardware: (3,456 node

[2018-01-30 16:18] edgargabriel commented on #4453
Fix has been applied to master, v2.1.x, v3.0.x and v3.1.x

[2018-01-30 16:18] #4453 closed

[2018-01-30 16:19] edgargabriel commented on #4443
fix has been applied to master, v3.0.x and v3.1.x

[2018-01-30 16:19] #4443 closed

[2018-01-30 16:22] #4446 closed

[2018-01-30 16:23] #4404 closed

[2018-01-30 18:47] matcabral commented on #4769
Hi @ael-code,
This issue was fixed in #4346 and ported to the release branches: #4394 and #4395.  However, the fix did not make it into v3.0.0.  Please try 3.0.1rc2.

[2018-01-30 19:55] ael-code commented on #4769
@matcabral
I can confirm the bug doesn't raise on `3.0.1rc2` with psm2 enabled. Thanks.

[2018-01-30 19:55] #4769 closed

[2018-01-30 20:33] mb706 opened #4770 "Segfault when using too many shared memory windows"
Using version 3.0.0 compiled from source on an Amazon Linux AMI.

[This test program](https://gist.github.com/mb706/955e179490d552c89a3ff1f84902ca7d) seems to run out of ressources because too many shared memory windows are created. However, it segfaults instead of giving an error when [this `ompi_comm_dup` call](https://github.com/open-mpi/ompi/blob/46967cfa636fd9e453c7f57a471eb1ae075c9e81/ompi/m

[2018-01-31 01:30] rhc54 opened #4771 "PMIx external component code not auto-generated"
I'm seeing this on master as well as 3.1. The external PMIx component corresponding to the embedded version in the opal/pmix framework auto-generates its component code from the embedded plugin. This works fine under default build conditions, but fails when ```--enable-static --disable-shared```.

I suspect this is just an issue of the Makefile.am code to generate the files not running in static b

[2018-01-31 02:16] ggouaillardet commented on #4770
Thanks for the report, this is a bug I will fix shortly.

Note the issue is in the error path. What happens under the hood is a new communicator is generated when a new window is created. The default `pml/ob1` has a hard limit of `65536` communicators, which is reached with this test program. Once fixed, it won't crash, but aborts with an (obscure) error message like this

[code]

[2018-01-31 02:42] ggouaillardet commented on #4771
@rhc54 i am now trying this
[code]

[2018-01-31 04:54] ggouaillardet commented on #4771
i pushed open-mpi/ompi@0285c633483c5635dc73fcf3336e6485d98ad255 to fix that.
i also pushed open-mpi/ompi@0481277e93490fd89c8a005beb7c5a8f6263ed01, and issued #4775 so `pmix/ext3x` can be built (regardless static vs dynamic library)

[2018-02-01 23:01] Aniruddh25 commented on #4435
If MPI_THREAD_MULTIPLE is enabled by default, then at least the output of ompi_info should indicate it.
I see the following output after installing v3.0.0 Open MPI. Should I simply assume that even if says no, it has been enabled ?

$ ompi_info | grep -i thread
          Thread support: posix (MPI_THREAD_MULTIPLE: no, OPAL support: yes, OMPI progress: no, ORTE progress: yes, Event lib: yes)
   FT

[2018-02-02 00:11] ggouaillardet commented on #4435
I am afraid you are running the wrong `ompi_info`.

`MPI_THREAD_MULTIPLE` is hard coded in the `v3.0` release/branch

https://github.com/open-mpi/ompi/blob/v3.0.0/ompi/tools/ompi_info/param.c#L311-L317

[2018-02-02 14:14] ax3l commented on #4451
Yes, running simple mpi programs and test suites that just run `mpiexec` will not run in containers out of the box without `sed`-ing through them.

Isn't that bad enough? I think a person that sets a central config file to allow run as root or even an environment variable should be aware of what he/she is doing, we don't need to make it awkward.

[2018-02-02 19:29] Aniruddh25 commented on #4435
You are right. I wasn't aware that an older version  Open MPI: 1.10.2 was already installed in my /usr/bin ubuntu machine.

After running the ompi_info from the v3.0 installation location, I do see thread support is enabled:

Thread support: posix (MPI_THREAD_MULTIPLE: **yes**, OPAL support: yes,
                          OMPI progress: no, ORTE progress: yes, Event lib:

[2018-02-02 20:36] artpol84 commented on #4516
@karasevb the fix was merged into master.
Please PR to release branches.

[2018-02-02 21:21] thananon opened #4784 "opal/asm changes causes MT applications hang."
I did a rebase to master head from a version from October and I found that some of the multithreaded applications I use get deadlock when the program is initialized with `THREAD_MULTIPLE` with more than 1 thread doing communication. (1 is fine)

I did a bisection and it seems to start from the commit 84f63d0aca from @hjelmn . I dug a little bit deeper and found that it might be the problem from `o

[2018-02-03 08:31] rhc54 commented on #4516
Also need to include 73ef976eadcac4d2ba1f64013e3651b219cfa482

[2018-02-03 19:25] jsquyres commented on #4686
Vader hangs should now be fixed via #4767.

[2018-02-03 19:25] #4686 closed

[2018-02-04 15:22] ggouaillardet commented on #4784
which program did you use to generate this stack trace ? if this is GRID, can you kindly provide basic instructions on how to build and run the app ?

[2018-02-04 15:28] hjelmn commented on #4784
@thanon Is this with it without built-in atomics?

[2018-02-04 16:02] hjelmn commented on #4784
Also, what architecture and compiler. I am assuming x86-64 with a gcc 6.x or newer.

[2018-02-05 01:00] ggouaillardet commented on #4744
The fix has been merged into `master` and both `v3` branches.

[2018-02-05 01:00] #4744 closed

[2018-02-05 04:14] karasevb commented on #4516
Done for v3.1: #4787
v3.0 branch does not have this failure

[2018-02-05 04:21] artpol84 commented on #4307
Fixed by #4638

[2018-02-05 04:21] #4307 closed

[2018-02-05 07:06] ggouaillardet opened #4788 "MPI_Comm_spawn_multiple Fortran bindings"
The `spawn_argvsnull_mpifh` test from the `ibm` test suite occasionally crashes.

The test program declares
[code]
and then
[code]

so far, that is pretty much like the example 10.2 from MPI 3.1 standard at page 387.

The standard says

IN count number of commands (positive integer, significant to MPI only at root | see advice to users)
IN array_of_commands programs to be executed (array of string

[2018-02-05 14:50] bosilca commented on #4788
You are right, the standard is not clear on the commands. The ```array_of_commands``` should be of type ```array_of_commands(count)``` similarly to ```array_of_argv```. We should bring this to the Forum attention.

[2018-02-05 15:35] thananon commented on #4784
@hjelmn OMPI is built without flag --disable-builtin-atomic. This is X86-64 with GCC 7.1.0.

@ggouaillardet This is the stack trace from my ping-ping app [here.] (https://github.com/thananon/benchmark/blob/master/multirate/pairwise.c)

For GRID, to compile:
`./configure --enable-mkl=$MKLROOT --enable-lapack=$MKLROOT CC=mpicc CXX=mpicxx --enable-comms=mpi --enable-simd=AVX`

and try to run `Benchma

[2018-02-05 15:46] ggouaillardet commented on #4784
@thananon the link is broken, can you please fix/update it ?

[2018-02-05 15:55] thananon commented on #4784
@ggouaillardet My bad. It is fixed now.

[2018-02-05 16:17] bosilca commented on #3847
According to the discussion on the [MPI Forum \#77](https://github.com/mpi-forum/mpi-issues/issues/77) modern Intel processors have rdtsc ticking at the nominal processor frequency, regardless of power saving and frequency boosting (I paraphrased Jim Dinan).

[2018-02-05 16:20] bosilca commented on #2427
poke

[2018-02-05 19:12] jdinan commented on #3847
That's correct -- You can check for invariant TSC to confirm that the processor supports and is configured to provide this behavior.  See: https://software.intel.com/en-us/forums/intel-isa-extensions/topic/280440.  Linux should also set the `constant_tsc` flag in /proc/cpuinfo.

[2018-02-05 21:56] hppritcha commented on #4020
This is already fixed in 3.1.x via #4056.

[2018-02-06 05:08] ggouaillardet commented on #4784
@thananon thanks, and what is your command line for `pairwise` ? how many nodes, which interconnect ? do use use `UCX` ?

[2018-02-06 05:11] ggouaillardet commented on #2427
@bosilca the inline patch landed into master as open-mpi/ompi@2c94a3a6f398e187dff67386e9e1a7fe4bc26f15

that was quite a while ago, and I do not have a clear recollection of this issue.

Is there any outstanding issue ?

[2018-02-06 05:17] bosilca commented on #2427
I was wondering if we can close the issue.

[2018-02-06 05:31] ggouaillardet commented on #4770
The fix has landed into `master` and all the release branches.

[2018-02-06 05:31] #4770 closed

[2018-02-06 07:33] ggouaillardet commented on #4784
OK, I think I understand the race condition.

First, let's note that `OPAL_HAVE_ATOMIC_COMPARE_EXCHANGE_128=0` with gcc 7.1.
FWIW, RHEL7 default gcc (4.8.5) ends up with `OPAL_HAVE_ATOMIC_COMPARE_EXCHANGE_128=1`.

Let's consider an `opal_lifo_t` with one item, and two threads invoke `opal_lifo_pop_atomic()` at the same time, and then wait for each other after that.

[code]

Let's now consider the

[2018-02-06 08:05] ggouaillardet commented on #4788
Thanks George !

I reported this to the MPI Forum at https://lists.mpi-forum.org/pipermail/mpi-comments/2018-February/000260.html

[2018-02-06 11:24] bosilca commented on #4784
Nice catch, that's an ugly version of the ABA problem. Once a thread fails to get a free head it will be stuck forever until the same item makes it back in the list. If the item is the head, it will work with a drastic performance impact. Otherwise we destroy the lifo, by dropping everything between the real head and the element we thought was the head.

I wonder how do we conclude that OPAL_HAVE_

[2018-02-06 11:56] ggouaillardet commented on #4784
I am afk and will be on the road the next two days.
Iirc, `support of __atomic builtin atomic compare-and-swap on 128-bit values` compiles and link with older gcc, but compiles and fails to link with gcc 7.1

[2018-02-06 16:23] jsquyres commented on #4688
Re-opening this issue because we noticed #4731 was closed without merging.

Per discussion on 6 Feb 2018, @artpol84 is going to investigate what happened here.

[2018-02-06 16:24] gpaulsen commented on #4688
Do we need to Pull this to v3.0.x also?

[2018-02-06 16:25] hjelmn commented on #4688
No. The ucx osc component is only in v3.1 and master.

[2018-02-06 17:01] thananon commented on #4784
@ggouaillardet The patch works. Thank you for looking into this.

If you are still interested in pairwise, it is designed to be run on two nodes only and I used openib BTL for the test.

`./pairwise -s (msg size) -i (iteration) -w (window size) -t (num threads)`

[2018-02-06 19:51] artpol84 commented on #4688
@jsquyres #4731 was accidentally closed. I reopened it.

[2018-02-06 19:52] artpol84 commented on #4688
@hjelmn I've asked for your review, can you do that?

[2018-02-06 22:04] jsquyres opened #4795 "master: MPI_Gather BTL hang (ob1 problem)"
Git bisect shows that 409638bdf4b64203385664b06ca9db7a15cbc177 from @bosilca and @thananon is the first bad commit (it changed how ob1 handles out-of-order receives) that is causing `MPI_Gather()` in IMB to hang for me with both the TCP and usNIC BTLs.

This is 100% reproducible for me.  When I run IMB across 2 servers (with ppn=16), it will hang in Gather -- I'm pretty sure it hangs once we trans

[2018-02-07 02:19] bosilca commented on #4795
@jsquyres I can't replicate on our machine, despite using multiple TCP links over multiple interfaces. However, while reviewing the code I might have spotted an issue. Can you try to following patch:
[code]

[2018-02-07 04:16] opoplawski commented on #4349
Fedora still builds for big-endian powerpc.  I'm not sure what will be more painful - dealing with a buggy open-mpi on BE powerpc or putting in all of the ExcludeArch ppc64 statements in all of the dependent libraries.  FWIW - BE powerpc64 is one of the three architectures that Fedora's CI system runs builds for, see https://apps.fedoraproject.org/koschei/package/openmpi.  You'll also see there th

[2018-02-07 04:37] opoplawski commented on #4349
Hmm,  really surprised to see this change introduced in 2.1.2 - ostensibly a bug-fix release.

[2018-02-07 15:53] thananon commented on #4795
I can reproduce this on our machine with
`mpirun -np 32 --map-by node --bind-to core -mca btl tcp,self ./IMB-MPI1 -npmin 32 Gather`

I tried the patch and it does not work. I will investigate.

[2018-02-07 17:09] jsquyres commented on #4795
I confirm what @thananon says: even with @bosilca's patch, I still get the same behavior (i.e., IMB Gather hangs).

[2018-02-07 17:10] jsquyres commented on #4795
I'm actually puzzled (and a little alarmed) that this issue is just showing up now.  If possible, it would be good to understand why this was only just discovered.

[2018-02-07 17:30] thananon commented on #4795
So after further digging, here is my findings.

- It does not happen with 1 interface. (If you select only one dev it's fine.)
- It happens at the change of protocol like @jsquyres reported.
- @bosilca  suggested me to do pml dump and this is what I get.

with the call stack
[code]
So this stuck in Allreduce -> sendrecv.
This is what I get from PML dump on the comm.
[code]

Also, I can reproduce t

[2018-02-07 18:41] thananon commented on #4795
It seems like it does not deadlock. Just extremely slow. @jsquyres Can you confirm this?

[code]

- It does not happen with multiple links. It only happens with multiple interfaces.
- It does not happen if the eager size is small enough. (changed via MCA param, 32k is fine).

[2018-02-07 19:20] gpaulsen commented on #4349
The Open MPI community has a policy to discontinue support in OpenMPI v3.0.0 for any platform that does not have regular continuous integration testing for new pull requests, and also a clearly identified maintainer who is willing to step up and help debug and fix problems found on that platform.  Unfortunately ppc64 Big Endian was one of the architectures that no one in the community stepped up t

[2018-02-07 19:24] rhc54 commented on #4349
I believe the question wasn't about v3.0.0, but rather why it disappeared in v2.1.2 - which was supposed to be a bug-fix release and should have fallen under the compatibility promise.

[2018-02-07 19:32] glaubitz commented on #4349
What's wrong with keeping the code if it doesn't hurt the other architectures?

I don't understand a policy like this. There is code that people are using, so why not just keep it?

I would understand this argument if the code would actually hurt other targets. But as long as that doesn't happen, why not just leave it in and accept drive-by patches to fix issues.

These super-strict policies just

[2018-02-07 19:49] jsquyres commented on #4795
@thananon Asked me in an off-issue email to confirm:

1. Does the bad behavior occur with only 1 IP/usNIC interface?
    * For the TCP BTL: I confirm that it works fine with `mpirun --mca btl tcp,vader,self --mca btl_tcp_if_include vic20 ...`.  But it hangs if I add in a 2nd IP interface, e.g. `... --mca btl_tcp_if_include vic20,vic21 ...` (I let it sit there for 15 +minutes before declaring it "h

[2018-02-07 20:14] thananon commented on #4795
Thank you @jsquyres .

- Eager limit
  - I can reproduce the problem with the eager size you used but its funny because if I set it to 56, 65, 2000, 32000, 19000 it does not hang.

I will have a discussion with @bosilca later today about this.

[2018-02-08 09:45] amckinstry commented on #4349
@gpaulsen , for reference you can see the build systems we use here:
https://buildd.debian.org/status/package.php?p=openmpi&suite=experimental
This are the build logs for Debian for various archs; change "experimental" to "sid" to see the 2.1* track.  Typically we triage bugs and report non-Debian specific ones (we maintain a handful of Debian-specific patches, eg. for multiarch support) upstream

[2018-02-08 20:25] thananon commented on #4795
Found the problem.

@jsquyres  Please try this patch. If it works I will create a PR.

[code]

[2018-02-08 20:33] jsquyres commented on #4349
Thanks for bringing up all these issues and keeping us honest.  Let me tell you what we have been doing over the past 36 hours (reminder that "Power BE" in this conversation effectively means "Power 7"):

1. We reviewed why we removed Power 7 support from Open MPI 3.0.0:
    * It came down to: we no longer had a maintainer.  So we snipped the code out.
    * Removing support for a platform at an x

[2018-02-08 20:45] opoplawski commented on #4349
Fedora is definitely moving away from BE ppc64 as well - see https://lists.fedoraproject.org/archives/list/ppc@lists.fedoraproject.org/message/C23EQYITA4DQWM7CQF6LJC5ABXY2XIEM/

Although unfortunately we haven't just dropped it yet.

[2018-02-08 20:54] artpol84 opened #4799 "Default binding policy"
OMPI version: v2.1

I was recently investigating the issue with PMIx_Get latency of a dstore. I was running on 1 node and observing growing numbers when PPN cont was increased. I was using the default binding policy thinking that it defaults to bind-to core.
The bottleneck was attributed to a thread shift part:
https://github.com/pmix/pmix/issues/665#issuecomment-363940628.
![](https://user-images

[2018-02-08 20:57] glaubitz commented on #4349
Well, there are other companies besides IBM making PowerPC hardware. Many users are running Linux ppc64 Big-Endian on FreeScale processors, for example. Does keeping the ppc64 big-endian code hurt the rest of the OpenMPI codebase? Or what exactly is the reason it should get removed?

I understand that IBM wants to deprecate anything older than POWER8 because they have a strong interest in selling

[2018-02-08 21:00] jsquyres commented on #4795
Works... sorta.  ☹️

Gather no longer hangs; Bcast now hangs:

[code]

Same hang at the same place with the TCP BTL.

[2018-02-08 21:08] jsquyres commented on #4349
@opoplawski Ok, good to know.  So just to be clear: are you saying that Fedora doesn't care if we put Power BE support back?

@glaubitz It feels like you didn't read my entire post.  Can you re-read, see where I already answered your questions, and then answer the questions that I asked of distros? (by your GitHub profile, it looks like you're a SuSE employee)  Thanks!

[2018-02-08 21:19] glaubitz commented on #4349
@jsquyres You posed a single question which is:

"What do the distros support in terms of BE on Power 8/9?"

And the answer is none. No one who ones hardware which is capable of running little-endian code will run anything big-endian on it, there is simply no market for it. Therefore there is no distribution which has a POWER8/9 port in big-endian.

And I am not sure what my employment status with

[2018-02-08 21:29] opoplawski commented on #4349
@jsquyres Here's the thing - there is a *lot* more distribution work required to build packages for only certain architectures.  All packages that depend on said package need to have conditionals to work around the fact that a certain dependency is not present in certain locations.  I'm not looking forward to doing this for the openmpi stack in Fedora.  So giving up openmpi on ppc64 in Fedora, whi

[2018-02-08 21:37] jsquyres commented on #4349
@glaubitz Sure.  I assumed you were asking such questions because of your employer.  My mistake.  However, if you're asking for *any* distro (e.g., Debian instead of SuSE), for the purposes of this conversation, it doesn't really matter which one.

I also asked if someone would maintain Open MPI on Power BE platforms.  If so, we'll re-enable it.

Right now, we have no one to test+maintain our code

[2018-02-08 21:39] jsquyres commented on #4349
@opoplawski Fair points.  While we're talking through all the options here, let me ask this (not saying this is the final solution -- I just want to ask a question here): is it viable to carry a local patch in your package that reverts #4104 / #4105?

[2018-02-09 02:02] ggouaillardet commented on #4799
@artpol84 IIRC, the rationale for binding to sockets (instead of core) is to be friendly with those who have hybrid MPI+OpenMP applications, but fail to ask n cpus per MPI task.
And the rationale for binding to cores by default when there are 2 MPI tasks is simply to get better out of the box performance when comparing Open MPI vs an other MPI library.

[2018-02-09 03:05] artpol84 commented on #4799
And when those decisions was made circumstances I highlighted here wasn’t taken into consideration.
I discussed this with @rhc54 in the context of PMIx performance and he suggested that OMPI defaults might need to be revisited considering these findings.

[2018-02-09 06:38] #4784 closed

[2018-02-09 09:33] amckinstry commented on #4349
@jsquyres The concept of "supported" for a distribution like Debian is fuzzier than for commercial distributions: if you look at the logs (eg. https://buildd.debian.org/status/package.php?p=openmpi&suite=experimental) the grayed out architectures are "unofficial", 2nd tier: they are not candidates for the next official release and bugs for these archs will not block releases (we commit to keep the

[2018-02-09 14:38] thananon commented on #4795
I cant reproduce the hang with Bcast on out machine.

[code]

[2018-02-09 16:16] bosilca commented on #4795
Nice catch @thananon.

[2018-02-09 17:43] tkordenbrock opened #4801 "btl-portals4 segfaults when running osu_latency"
On the OMPI users mailing list, Brian Larkins reported a segfault in btl-portals4 when running osu_latency.

The problem is a series of add_procs()/del_procs() calls that cause btl-portals4 to free top level Portals4 resources.  Any additional add_procs() calls will trigger the segfault.

Brian reported this problem using v3.0.0, but it also exists on master and v3.1.x.

[2018-02-09 17:49] jsquyres commented on #4795
@thananon and I are working off-issue and will post more info soon.

[2018-02-09 18:10] hjelmn commented on #2530
Finally found the issue. It is not a threading issue per-se. There is an error in the accumulate master function that ends up leaking requests. Eventually things fall apart and it hangs, crashes, etc. I am testing a fix now.

[2018-02-09 23:02] thananon commented on #4795
@jsquyres

After a debugging session with @bosilca , we reverted our commits from #4419 and the problem is still persist with multiple links. We are still not sure how/why do we have the deadlock. It might be totally unrelated problem. We can even reproduce it with just pingpong and 5 TCP links.

I will dig deeper but it is certain that my patch above is needed.

[2018-02-09 23:45] jsquyres commented on #4795
@thananon @bosilca Do you want to create a PR with the patch we exchanged (off issue) earlier today?  It seems like that patch is definitely needed, at a minimum.

[2018-02-12 15:15] thananon commented on #4795
Hey, so this is the situation.

- This patch is needed for sure.
[code]
- The patch off-issue I sent to @jsquyres is a reversal of #4419 . This does fix the problem on Cisco's machine.
- We tried reversing #4419 on our machine and we still have deadlock with 8 links.
- I'm trying to see if this deadlock is caused by #4419 or it is some independent problem when we have multilink. I will report back

[2018-02-12 15:35] bwbarrett commented on #4795
Just a heads up, there are definitely some bugs in the tcp multilink code.  One of the Amazon devs has been working on https://github.com/open-mpi/ompi/pull/4247, which seems to make the code significantly happier...

[2018-02-12 16:06] bosilca commented on #4795
The patch I sent can be added to the mix. IT's an optimization, that prevents the code from comparing the element to the ghost, an operation that is not necessary as we know that there must be at least one element in the cant_match list.

[2018-02-12 16:07] bosilca commented on #4795
@bwbarrett all issues with multilink I was aware of are in the TCP connections setup. Did you guys identified other issues ?

[2018-02-12 16:14] bwbarrett commented on #4795
@bosilca, they were all in connection setup, but because of the way the TCP BTL biases eager messages to a single BTL, it was showing up as a hang on the cross over from short to rendezvous messages.  Not sure it's related, but wanted to avoid tail chasing if possible...

[2018-02-12 18:43] nspark opened #4803 "shmem_global_exit(0) does not terminate job using Slurm"
## Background information

### What version of Open MPI are you using?

v1.8.8 and v2.1.2 (I _can_ test newer versions, though not as easily)

### Describe how Open MPI was installed

From Mellanox HPC-X Toolkit

### Please describe the system on which you are running

* Operating system/version:  RHEL 6.5
* Computer hardware: Intel Xeon
* Network type: Mellanox ConnectX-4 IB
* Scheduler/resource

[2018-02-12 18:57] jsquyres commented on #4803
I'm not much of a shmem user, but is that a valid program?

I.e., how would the `shmem_barrier_all()` complete successfully if one of the processes has exited?

[2018-02-12 19:39] nspark commented on #4803
Yes, the `shmem_global_exit()` call is designed to terminate execution cleanly for all PEs in a SHMEM job by a call from only one PE. On PE 0, the call to `shmem_global_exit()` does not return; on non-zero PEs, the call to `shmem_barrier_all()` should block until the runtime causes those processes to terminate.

[2018-02-12 20:33] jladd-mlnx commented on #4803
Nick, how are you launching the job? With oshrun or srun?

On Mon, Feb 12, 2018 at 2:39 PM, Nick Park <notifications@github.com> wrote:

[2018-02-12 22:25] hjelmn commented on #2530
Testing is looking good. PR coming shortly.

[2018-02-12 22:27] andymwood opened #4805 "Memory leaks from MPI_FILE subroutines"
I'm getting a memory leak from the MPI Fortran subroutines MPI_FILE_OPEN and MPI_FILE_SET_VIEW.

This occurs with OpenMPI versions 2.1.1 and 2.1.2, when compiled with gcc 6.4.0 (I've not tested it with other compilers).

OpenMPI was built on my system as follows
[code]

Other info:
OS: OpenSUSE 42.2
Hardware: Intel i7-4770

Here is a test case that reproduces the problem:

[code]

[code]

and the

[2018-02-12 22:49] edgargabriel commented on #4805
Thank  you for the bug report, I can confirm your finding in the 2.x version of OpenMPI. The routine that valgrind is pointing to has 2 malloc statements. The data that is being allocated is stored on the internal file handle structure that we use. Unfortunately, upon file_close, one of them was not freed correctly.

That being said, this issue has been fixed in master as well as the 3.0.x release

[2018-02-13 09:34] devreal opened #4806 "Relative path in output redirection"
## Background information

I am using the `--output-filename` parameter to redirect the output of my application processes into individual files in a relative output directory. The working directory is a subdirectory of my home directory mounted via NFS. Output redirection seems to work correctly for all processes running on the first node (the node that runs rank 0) while all other processes crea

[2018-02-13 10:07] dareg opened #4807 "Problem with MPI_File_Iwrite"
I am  trying to run this code:
[code]

But it's only working with version 1.10.7.
With version 2.0.4, 2.1.2, 3.0.0, 3.1.0rc1 I got a segfault on the mpi_wait line. But the file is still created.

I have installed every version with
[code]

I am running on a basic desktop workstation, ext4 filesystem, with ubuntu 16.04.1 and gfortran 5.4.0

-----------------------------

With Open MPI 3.0.0:

[code

[2018-02-13 11:21] dareg commented on #4807
I have just noticed that this is working when using romio314.

[2018-02-13 13:15] nspark commented on #4803
@jladd-mlnx I'm launching the job with srun.

[2018-02-13 14:02] jladd-mlnx commented on #4803
@nspark which HPC-X version are you using? Which SPML?

[2018-02-13 14:29] edgargabriel commented on #4807
@dareg thank you for the bug report. I can confirm and reproduce the issue. This is a problem with our fortran interface, resp. the IO requests on ompio don't seem to set the f_2_c_index correctly. The actual iwrite operation finishes correctly.

[2018-02-13 15:20] edgargabriel commented on #4807
fix is coming.

[2018-02-13 18:07] thananon commented on #4795
I can confirm that the TCP hang with multilink is unrelated to #4419.

@jsquyres I might need your help tracking down the problem from usNIC side.

[2018-02-13 20:53] nspark commented on #4803
HPC-X 1.4.355 for OSHMEM 1.8.8 and HPC-X 1.9.5 for OSHMEM 2.1.2

[2018-02-14 08:14] andymwood commented on #4805
Thanks for the response. It should be easy enough to upgrade to v3, so I don't think a patch is necessary.

Just to clarify, has the issue been fixed on the current release (3.0.0), or will is it coming out in the next one?

[2018-02-14 15:35] jladd-mlnx commented on #4803
@karasevb Can you see if the reproduces with the latest HPC-X and PMIx?

[2018-02-14 15:48] edgargabriel commented on #4805
This particular resource leak is already fixed in 3.0.0, there is however a file handle leak that will only be fixed in the upcoming 3.0.1 release.

[2018-02-14 18:31] jsquyres commented on #4349
@amckinstry You make valid points.  We'll discuss this in the developer community.

My question still stands, though: do you downstream packagers / distro-representing people on this issue want Power BE re-enabled in the v2.0.x and v2.1.x series?

I think whether we put a "This is not supported!" output and/or whether we re-enable Power BE for v3.0.x and v3.1.x are separate questions.

[2018-02-15 01:58] karasevb commented on #4516
Related PRs have been merged, the issue may be closed.

[2018-02-15 01:58] #4516 closed

[2018-02-15 08:31] amckinstry commented on #4349
For Debian we have 2.1.1 in stable and will not be moving to 2.1.2; I'm planning 3.0* for the next release, so no opinion on re-enabling Power BE for the 2.* series.

[2018-02-16 08:14] karasevb commented on #4803
@jladd-mlnx
Launching by srun hangs for HPC-X 2.0 and 2.1. While oshrun launching works well.
I'll investigate.

[2018-02-16 13:31] clementFoyer commented on #4523
#4527 is merged, thus clothing this Issue for target: master.
#4817 is approved, waiting to be merged in order to close for target: v3.1.x

[2018-02-17 20:31] rabauke opened #4829 "issues with a very large derived data type"
Using OpenMPI 2.1.1 as distributed by Ubuntu 17.10 x86_64 I get the following error message when dealing with a very large derived data type:

`Read 2147479552, expected 2147483748, errno = 38`

Below, I attached a small program to reproduce the issue. I build a derived vector-like data type with possibly more than `INT_MAX` elements using `MPI_Type_struct`.

[code]

[2018-02-17 22:46] bosilca commented on #4829
Despite the error, the data is correctly transferred (i.e. the printed result looks correct). The warning is generated in the vader BTL, in the put and get functions where for very large datatypes the return os process_vm_writev (or readv) is truncated down to a ssize_t.

[2018-02-18 09:21] artpol84 opened #4830 "PMIx/v2.1 mca/ptl early release bug"
Open it here to keep track.
@bwbarrett @jsquyres @jjhursey @jladd-mlnx this is a blocker for v3.1 - we observed the issue with OMPI v3.1 testing.
The fix is pending the check/review in PMIx/master (https://github.com/pmix/pmix/pull/673), will need to port it to PMIx/v2.1 and bring it here.

[2018-02-18 17:48] artpol84 commented on #4830
PMIx/master PR is merged.
v2.1 is filed: https://github.com/pmix/pmix/pull/674

[2018-02-18 18:41] artpol84 commented on #4830
PMIx/v2.1 PR is merged so PMIx side is fixed.
@bwbarrett @jsquyres what is the preferred way to bring this into OMPI v3.1? Port the commit or create a huge PR similar to #4746?

[2018-02-18 19:03] rhc54 commented on #4830
Huge PR??? There aren't very many changes in going from PMIx v2.1.0 to v2.1.1 - so why would this be "huge"?

[2018-02-18 19:29] rhc54 commented on #4830
Yeah, I think they would be better off as there were a few bugs found since we released v2.1.0 - might as well sweep them all up. However, it is up to them. I just wanted to clarify that it shouldn't be a large amount of change, which is what your earlier comment implied.

[2018-02-18 19:41] artpol84 commented on #4830
Thank you for the information @rhc54.

[2018-02-19 06:28] ggouaillardet commented on #4829
@bosilca i double checked that and
 - `process_vm_readv` returns `0x7ffff000` instead of `0x8000064` which is an acceptable behavior (just like for `read()`) but not correctly handled by `btl/vader`
 - after that, the message is sent/received in full length by non CMA `vader` functions (in this case, receiving the last `0x1064` bytes would have been enough.

So even if this is only a warning and t

[2018-02-19 06:48] bosilca commented on #4829
@ggouaillardet while I agree that these functions can return less than the total amount requested, in the case of a partial transfer. However, according to the corresponding Linux manpage partial transfers strictly apply at the granularity of iovec elements, in other words it is forbidden to perform a partial transfer that splits a single iovec element.

Your proposed fix is not correct. The real

[2018-02-19 17:32] artpol84 commented on #4830
Sync v2.1:
https://github.com/open-mpi/ompi/pull/4831

[2018-02-19 17:36] artpol84 commented on #4830
Fix is in v3.1.x, issue can be closed.

[2018-02-19 17:36] #4830 closed

[2018-02-19 20:05] bwbarrett commented on #4771
@ggouaillardet, is the merge in 4782 sufficient for closing this bug?

[2018-02-19 20:06] bwbarrett commented on #4693
@jsquyres, can we close this bug now?

[2018-02-19 20:07] bwbarrett commented on #4688
@artpol84 / @jladd-mlnx this is currently marked as a blocker on 3.1.  Any thoughts?

[2018-02-19 20:08] bwbarrett commented on #4605
We've merged 2.1 (and now 2.1.1) into 3.1, so closing this issue.

[2018-02-19 20:08] #4605 closed

[2018-02-19 20:08] bwbarrett commented on #4523
Both master and 3.1.x now have the patch, so closing this issue.

[2018-02-19 20:08] #4523 closed

[2018-02-19 20:09] artpol84 commented on #4688
@bwbarrett #4731 is merged. We can close this I believe.

[2018-02-19 20:10] #4693 closed

[2018-02-19 20:11] bwbarrett commented on #4688
@artpol84 can you confirm and close?

[2018-02-19 20:13] artpol84 commented on #4688
@hjelmn reviewed and approved #4731. Closing.

[2018-02-19 20:13] #4688 closed

[2018-02-20 00:06] ggouaillardet commented on #4771
@bwbarrett yes, we are good and I am no closing this issue.

[2018-02-20 00:06] #4771 closed

[2018-02-20 15:50] bwbarrett opened #4843 "v3.1.x/master does not properly version common_monitoring"
In master and 3.1.x, there is a new common framework for monitoring, which does not currently have shared library versioning.  https://github.com/open-mpi/ompi/pull/4842 adds versioning for master and will need to be brought to v3.1.x.

[2018-02-20 16:07] #4303 closed

[2018-02-20 16:14] gpaulsen commented on #4795
master only, not in v3.1.x

[2018-02-20 16:59] jsquyres opened #4845 "Document binding behavior (especially w.r.t. threads)"
Per discussion on the 2018-02-20 webex, and per #4799:

The general issue appears to be that since Open MPI binds to *socket* by default (for np>2), progress threads may not be located on the same core as the "main" thread(s).  #4799 talks about this in the context of PMIx, but the issue actually exists for *all* progress threads in the MPI process.

The short version is that we agreed that the be

[2018-02-21 00:09] ggouaillardet commented on #4845
@jsquyres @artpol84 what if we bind the progress threads to cores by default (and hence "oversubscribe" most of the time) but keep binding the MPI tasks to NUMA nodes (NUMA=socket most of the time though) ? would that migitate the issue (e.g. progress thread migration) described in #4799 ?

[2018-02-21 00:19] rhc54 commented on #4845
??? how do you intend to do that?

[2018-02-21 00:34] rhc54 commented on #4845
@artpol84 Do we really know that it has to be the same _core_? I'm wondering if it is possible that it only needs to be (for example) the same L3 or L2 cache, or some other level above core. I believe your numbers indicated that the same NUMA wasn't sufficient - yes? But that leaves some room in-between.

[2018-02-21 00:36] artpol84 commented on #4845
@rhc54 `I believe your numbers indicated that the same NUMA wasn't sufficient - yes`
That is true. I haven't experimented with different types of bindings.
It also might be that just preventing progress and main threads from migration may help.

[2018-02-21 00:37] ggouaillardet commented on #4845
@rhc54 if a MPI tasks is bound on cores `[n-m]`, then we can start and bind the first progress thread on core `n`, the second progress thread on core `n+1%(m-n)`, and so on. Since `PMIx` is starting its own progress thread, we might have to a new `info` or an environment variable. Does this has to be more complicated ?

@artpol84 well, in this case what I suggested has to be improved.
Assuming mos

[2018-02-21 00:39] artpol84 commented on #4845
@ggouaillardet `PMIx_Get()` is not necessary will be in `MPI_Init()` since now we have a lazy add_proc.

[2018-02-21 00:51] rhc54 commented on #4845
@ggouaillardet I don't think it has to be more complicated. My concern was that you are implying that there is some global knowledge regarding progress threads, and I don't believe it exists. So I'm still a little puzzled as to how you know you are the nth progress thread, and therefore should go on a specific core.

[2018-02-21 01:06] jsquyres commented on #4845
This is precisely the problem, and one of the reasons why there is no good answer here: we're currently binding to package, so the "main" application thread(s) (MATs) can float anywhere in the socket.  So if some kind of proximity to the MATs is necessary, you have no way of knowing that.  And even if you did, the MATs may move.

And if we don't let the MATs move -- by binding them to something sm

[2018-02-21 01:35] rhc54 commented on #4845
One possible resolution might be thru the PMIx OpenMP/MPI working group. We now have a method by which the MPI layer learns of the OpenMP layer becoming "active", and vice versa. So we will know that the app is multi-threaded, how many threads it intends to use, and what each side's desired binding looks like. When we get that info (which is when either side calls "init"), then we could perhaps de

[2018-02-21 10:51] rathann opened #4846 "MPI_OFFSET_KIND defined differently than in MPICH on 32bit architectures"
## Background information
MPI_OFFSET_KIND=4 in OpenMPI while it equals 8 in MPICH on 32bit arches. I don't know which is correct, but this difference has caused compilation issues in cp2k-5.1 with MPICH:
[code]

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
openmpi-2.1.1-5.fc28.i686

### Describe how Open MPI was installed (e.g., from a source/

[2018-02-21 16:45] rhc54 opened #4848 "v3.1.0 to v3.0.0 compatibility may be broken"
I'm getting a report from the Singularity folks that they are seeing cross-version breakage between the v3.1.0rc and v3.0.0, at least in the PMIx support:
[code]
 We are investigating over there.

[2018-02-21 19:51] sam6258 commented on #2025
I am seeing an issue in v3.0.x and v3.1.x that resembles a similar stack trace as this issue, however the issue is with multi threaded support. When performing MPI_Comm_dup in a loop with threads, the problem is almost instantly reproducible.

The stack trace looks as follows:

Rank 0:

`Thread 1 (Thread 0x100000047050 (LWP 151366)):
#0  0x00001000001de854 in pthread_spin_lock () from /lib64/libpt

[2018-02-22 00:29] ggouaillardet commented on #4846
Thanks for the report.

I checked the MPI 3.1 standard and found

As far as I understand, it kind of suggests `MPI_OFFSET_KIND=8` but it only requires `MPI_OFFSET_KIND` and `sizeof(MPI_Offset)` are identical. Could you please double check this is the case ?

As far as `cp2k` is concerned,
[code]
so, assuming `4 == sizeof(MPI_Offset)`, the error could be in `cp2k`.

@jsquyres @bosilca could you ple

[2018-02-22 02:04] bosilca commented on #4846
@ggouaillardet is right, the only thing imposed/required by the MPI standard is that the 2 values are in sync. In OMPI we define MPI_Offset to be of the same length as MPI_Count, which is defined to be an size_t (to match the type of the size argument in read). So, the type of the MPI_Offset depends on the size of size_t on the target platform.

[2018-02-22 21:15] thananon commented on #4795
The PR patch passed all test on our machine. @jsquyres Please try on Cisco's.
If everything is good I will create a PR for 3.1.x.

[2018-02-23 13:05] rathann commented on #4846
Referring to [glibc](https://www.gnu.org/software/libc/manual/html_node/File-Positioning.html), I think this should be the same type as the POSIX `off_t` and, possibly, it should depend on `_FILE_OFFSET_BITS` system define value.

[2018-02-23 16:11] ggouaillardet commented on #4846
@rathann `MPI_OFFSET_KIND` must comply to the MPI standard, no more, no less.
It **could** be similar to `off_t`, and I can clearly see a rationale for that, but the standard does not mandate that.
Note `_FILE_OFFSET_BITS` is checked when Open MPI is built, so if `MPI_Offset` is equivalent to `off_t`, you would have to make sure the `_FILE_OFFSET_BITS` macro is the same when Open MPI was built and

[2018-02-23 21:05] rhc54 opened #4857 "Static builds produce dysfunctional mpicc wrapper"
Was just told this:
[code]
Should be relatively easy to fix?

[2018-02-24 04:52] rhc54 commented on #4857
@jsquyres This commit (https://github.com/open-mpi/ompi/commit/e4bdad09c1bf7f11dada5ae6ac32e052b553ce4b) is apparently what broke it - was done a long time ago to the v3.x branch. Do you remember why?

[2018-02-24 15:54] jsquyres commented on #4857
Heh -- I did that because *you* told me to do it.  😄

https://github.com/open-mpi/ompi/issues/1281

[2018-02-24 18:43] rhc54 commented on #4857
I think the problem is that the flag is still needed for the _external_ modules, but I'll check it

[2018-02-24 19:41] rhc54 commented on #4857
Hmmm....I confess I'm confused now because the pmix component configure.m4's in the HEAD of v3.1.x look exactly like the ones in master.

@abouteiller Can you provide more detail on exactly what you did to observe this problem?

[2018-02-25 22:03] Noxoomo opened #4863 "OpenMPI hangs on MPI_Test with InfiniBand and high message rate"
## Background information

I have GPU-based application, which uses MPI to transfer messages and data between several nodes.
It works fine on 1GB/s networks, but stucks in deadlock if i switch to InfiniBand.

### System description, OpenMPI details and etc
I've reproduced issue  on two clusters with InfiniBand network. I've used several OpenMPI versions builded from source for all runs (see detail

[2018-02-26 18:01] bosilca commented on #4863
I think this is related to issue #4795. This PR #4852, once ready for primetime, might be the solution.

[2018-02-26 20:52] jladd-mlnx commented on #4863
@Noxoomo could you include your command line, please. How many threads?

[2018-02-26 21:06] Noxoomo commented on #4863
For simplified example i just run /usr/local/mpi/bin/mpirun --prefix /usr/local/mpi/ --bind-to none --host host1,host2  binary
So 2 threads, one one each host

In my application I use 1 thread per GPU device + 1 thread on each machine to route command (I tried to serialize all calls to MPI function via global mutex, but this only reduce frequency of freezes)

[2018-02-26 22:47] iskakoff commented on #330
This problem appears when I try to build openmpi (versions starting from at least 2.0) on OS X 10.10 - 10.11 with intel compiler.

The reason is the compiler  flag `lt_prog_compiler_pic_FC='-fno-common'`

with this flag set on the object file `mpi-ignore-tkr.o` has the following content:

     SYMBOL TABLE:
     0000000000000160 l       0e SECT   03 0000 [.eh_frame] EH_frame0
     0000000000000000

[2018-02-27 10:39] redirus opened #4865 "support for share physical memory between processes?"
Thank you for taking the time to submit an issue!
### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
V3.0

## Details of the problem

Each process has to read same data from memory, however, the physical memory is not big enough to support 8 copies of the data but 1 copy of the data. So is there any support for sharing the same memory for the 8 proc

[2018-02-27 14:00] #4865 closed

[2018-02-27 15:48] bwbarrett commented on #4865
If you're just looking for a portable way of allocating shared memory across ranks on the same node, MPI_WIN_ALLOCATE_SHARED might be what you're looking for (http://mpi-forum.org/docs/mpi-3.1/mpi31-report/node263.htm#Node263).  It was added as part of MPI-3, and is supported in Open MPI 3.0.0.  The user is still responsible for handling memory consistency issues between the processes (although yo

[2018-02-27 16:08] zach-nervana commented on #4451
I just ran into this issue as well. Requiring non-root in docker can be very inconvenient, since many existing dockerfiles and recipes assume a root user. Running as a non-root user often requires extra work. I understand that having some default safety features can be nice, but this particular method for implementing it is resulting in everyone using docker to either mix infrastructure details in

[2018-02-27 16:30] jsquyres commented on #2025
Recap:

* Back at the beginning of time, we have 2 CID allocation algorithms:
    * Single threaded: simple and fast, which is now what is used everywhere
    * Multi threaded: thread safe, iterative, and slow.

It looks like we're using the single threaded/fast one everywhere now.  That may be a mistake.

[2018-02-27 16:51] jsquyres commented on #4451
@ax3l To be clear: that was not my question.  I asked if there was something that *can't* be done (via *any* mechanism) unless that functionality is provided via an env var or config file.

`sed`-ing through a Dockerfile qualifies as "*any* mechanism".

I'm trying to ask if there is a technical reason to *require* an environment variable or config file for some reason.  The "I don't want to modify

[2018-02-27 17:42] zach-nervana commented on #4451
There isn't anything that can't currently be done inside of docker with the current code (by any mechanism).

To be more clear about why we see this is an issue, having to modify a dockerfile at all is not the problem. The problem is that it requires making changes to components **completely unrelated to mpi** as running as root is a standard practice in docker. For example, if you already have a

[2018-02-27 19:06] thananon commented on #4863
This might be because openib BTL doesnt handle high injection rate very well.

@Noxoomo Can you try this?
1. Try increase the number of logical infiniband module:
/usr/local/mpi/bin/mpirun --prefix /usr/local/mpi/ --bind-to none **--map-by node -mca btl_openib_btls_per_lid 8** --host host1,host2 binary
2. Try to run TCP over IB:
/usr/local/mpi/bin/mpirun --prefix /usr/local/mpi/ --bind-to none **-

[2018-02-27 22:29] Noxoomo commented on #4863
Does not help, still hangs. Simple example from first post hangs the same way.

But i got a new type of errors: instead of hang MPI_Test returns MPI_ERR_TRUNCATE at random moment.

This one does not hang example from first post, but  it might work well just for selected for test constants, so i'll check it in more details later.

 For my application: if I call MPI without lock, it hangs or gives t

[2018-02-27 23:24] junjieqian opened #4866 "Error running MPI hello-world with IB on 16 machines (2 or more threads per node)"
Thank you for taking the time to submit an issue!

## Background information
MPI hello-word program failed running with IB on 16 machines and 2 or more threads per node. But it runs ok if with only 1 thread per node on 16 machines, or 8 threads per node on 4 or less machines.
It also runs ok if with TCP, no matter how many threads per node with 16 or more machines.

### What version of Open MPI ar

[2018-02-28 12:19] redirus commented on #4865
Yeah It is read-only. Could I put some data structure like unordered_map into the shared memory using MPI_WIN_ALLOCATE_SHARED?

[2018-02-28 12:41] ggouaillardet commented on #2025
@jsquyres as far as I understand, we now only use the thread safe, iterative and slow algorithm.
At first glance, and with respect to CID allocation, I think this is now a requirement because of `MPI_Comm_idup()`, that adds similar restrictions than `MPI_THREAD_MULTIPLE`.
Some time ago, I prepared a PR to add a new framework, and `MPI_THREAD_MULTIPLE` value was passed to the components when they a

[2018-02-28 14:36] jladd-mlnx commented on #4863
@bureddy Could you check and see if this repros with UCX GPU code? @Noxoomo Just FYI, OpenIB BTL is being deprecated and will be replaced by the UCX PML.

[2018-02-28 16:35] jsquyres commented on #4865
Shared memory can be a little more complicated than that -- since each process may have a different virtual address space, the values of pointers may be different in each process.  Google around and look up some tutorials on shared memory.  Also be wary of Brian's warning about memory consistency -- that's another pitfall of shared memory that can be tricky to get just right.  If you're writing to

[2018-02-28 16:47] bosilca commented on #2025
There is an opportunity for these two issues not to be related. The original issue has not been updated for months (years), I will therefore assume it has been fixed.

Let me scale back this example to try to explain what I think is the problem. Duplicating a communicator involves 2 allreduce, one with MPI_MAX (to find a suitable cid) and one with MPI_MIN (to agree on it). These reductions are don

[2018-02-28 16:58] jsquyres commented on #4865
Heh.  I was *gently reminded* off-list that my last comment ("This is a bit outside of MPI's scope") wasn't quite correct.

It would probably be more correct to say: MPI provides mechanisms for ensuring memory consistency, but the user is responsible for properly using those mechanisms.

Those mechanisms are:

1. Using the MPI window / one-sided APIs.  Be sure you *carefully* read the MPI one-side

[2018-02-28 18:02] #4795 closed

[2018-02-28 19:26] bureddy commented on #4863
@jladd-mlnx attached example code do not have any  GPU specific buffers.
I'm could not repro same hang either with OpenIB btl or UCX pml on my setup.

@Noxoomo can you give it a try with UCX pml?

[2018-02-28 19:51] Noxoomo commented on #4863
@bureddy, @jladd-mlnx
Thank for suggestion, I'll check UCX pml later this week.

Today I build OpenMPI from fresh master with latest commits (merged  PR #4852 ) and I currently can't reproduce hang.  I'll run more stress test later and will write about results

[2018-03-01 00:18] ggouaillardet commented on #2025
@bosilca @sam6258 I think this is an invalid example with respect to the standard.

`MPI_Comm_dup()` is a collective operation, and it is hence incorrect to invoke it on the same communicator (`MPI_COMM_WORLD` in this case) simultaneously on multiple threads.

makes sense ?

[2018-03-01 00:42] sam6258 commented on #2025
I think @ggouaillardet is correct. I will have to re-evaluate the test case from which we wrote this small test case to see that it is not violating the standard. I added the necessary synchronization in runfunc to ensure two threads were not calling the same collective on COMM_WORLD at the same time, and the test case does not hang. Thanks Gilles! And everyone for looking into this.

[2018-03-01 01:03] junjieqian commented on #4866
Hi @thananon yes, I mean rank or process instead of thread. Thanks

[2018-03-01 01:08] junjieqian commented on #4866
Actually, I found that the job can pass with option `--mca btl_openib_if_exclude mlx5_1,mlx5_3`. Then, my question is how to make OMPI dynamically identify the network interfaces correctly? That, on such a platform (utilize IB interface as Ethernet), how to set the network or OMPI correctly to automatically recognize which interfaces to use instead of manually exclude certain interfaces?

[2018-03-01 01:53] jsquyres commented on #2025
Sounds like we can close this issue, then...?

[2018-03-01 02:13] sam6258 commented on #2025
I will verify with our tester tomorrow and close if I see a violation of the standard in our original testcase. Thanks!

[2018-03-01 04:54] bosilca commented on #2025
This particular example is indeed incorrect, but replace the blocking dup with a non-blocking dup and we are back with a valid non-functional example.

[2018-03-01 04:59] ggouaillardet commented on #2025
@bosilca in order to avoid any confusion/misunderstanding, would you mind updating such a valid non-functional example ?

[2018-03-01 06:10] bosilca commented on #2025
What we need to emphasize is the non-determinism between internal steps of the operation itself. We can achieve this by changing the runfunc in the gist example by
[code]

[2018-03-01 07:57] ggouaillardet commented on #2025
well, I ran into Bill Gropp at SC'16 and asked him a related question. He replied that communicator management is considered as collective operations. So my view is that if `MPI_Iallreduce()` is not allowed here because it is a collective operation, then `MPI_comm_idup()` would be not be allowed too for the same reason.

[2018-03-01 09:57] bosilca commented on #2025
I think Bill made reference to Section 5.12 from the MPI standard. While this section clarifies some corner cases, I do not see anything in there that forbid the scenario we are talking about. In fact here are the important bits from the Section 5.12:

According to this, it should be legal to have multiple outstanding idup on the same communicator, because from the MPI standard viewpoint, an idup

[2018-03-01 10:41] ggouaillardet commented on #2025
I am still a bit puzzled, but anyway ...

Would updating `ompi_comm_request_progress()` so it progresses any communicator only once fix that issue ?

[2018-03-01 10:46] bosilca commented on #2025
I am puzzled as well. I would be in favor to ask this to the Forum, either by sending an email or by volunteering @jsquyres (who is currently attending the MPI forum) to ask around what the forum think about having multiple outstanding idup on the same communicator.

[2018-03-01 13:12] Pulsar18 commented on #4417
I actually have the same problem, when I run the `env | grep -i llvm` command I just get a blank line.
What could the problem maybe be?

[2018-03-01 13:30] ggouaillardet commented on #4417
@Pulsar18 please upload your `config.log`

[2018-03-01 13:38] Pulsar18 commented on #4417
@ggouaillardet: This is the `config.log`:
[config.log](https://github.com/open-mpi/ompi/files/1771305/config.log)

[2018-03-01 13:44] ggouaillardet commented on #4417
It seems `/usr/include/stdio.h` is missing. Did you install the Command Line Tools package ?

[2018-03-01 13:45] jsquyres commented on #4417
@Pulsar18 Per what @ggouaillardet said, it looks like your compiler installation is incomplete.  Once you are able to compile a simple "hello world" C program, Open MPI should compile and install properly.

If you still have problems, please open a new github issue.  Thanks!

[2018-03-01 13:53] jsquyres commented on #2025
Fun fact: I'm not actually at the Forum this week 😲

[2018-03-01 14:01] Pulsar18 commented on #4417
Thanks a lot.

[2018-03-01 14:38] Pulsar18 opened #4870 "Make command doesn't work"
I am trying to install OpenMPI and I have run into the following problem:
[output terminal.txt](https://github.com/open-mpi/ompi/files/1771507/output.terminal.txt)
The configure step finished without an error. The corresponding log file is here:
[config.log](https://github.com/open-mpi/ompi/files/1771512/config.log)
(I am using gcc-mp-6 because I couldn't install gcc6 via brew.
Furthermore, I am f

[2018-03-01 14:47] thananon commented on #4866
@junjieqian If I understand correctly, you have 4 NIC, all of such are Infiniband but you use 2 as ethernet?

mlx5_1 and mlx5_3 are Infiniband transport.
mlx5_0 and mlx5_2 are ethernet.

If yes, `--mca btl_openib_if_exclude mlx5_1,mlx5_3` might make Open MPI fall back to TCP transport (over IB devices) which is slower. You should try `--mca btl_openib_if_include mlx5_1,mlx5_3` to force Infiniband

[2018-03-01 23:37] bwbarrett commented on #4843
This has been merged into master and v3.1.x; closing.

[2018-03-01 23:37] #4843 closed

[2018-03-01 23:46] bwbarrett commented on #4870
This is caused by an interaction between GCC and MacOS, as described in https://github.com/open-mpi/ompi/issues/4373.  We will have a "fix" in Open MPI 3.0.1, by disabling syslog support in those cases.

[2018-03-01 23:46] #4870 closed

[2018-03-01 23:49] bwbarrett commented on #1780
@jsquyres / @bosilca, do you remember context and what we need to do?  It's labelled as a 3.0.x issue, but I'm not sure I follow why...

[2018-03-02 00:00] bwbarrett commented on #1956
The PR was closed with no follow up, so I'm going to close this issue.  Please re-open if you think there's more action we can take.

[2018-03-02 00:00] #1956 closed

[2018-03-02 00:08] bwbarrett commented on #2894
@hjelmn do we still need this issue or can we close it at this point?

[2018-03-02 00:10] bwbarrett commented on #2115
This patch is in 3.0.x and 3.1.x, so not sure why we left this issue open.  Closing.

[2018-03-02 00:10] #2115 closed

[2018-03-02 00:11] bwbarrett commented on #30
@jjhursey I'm going to punt this off any milestone, since it looks like it has died out on your side.

[2018-03-02 00:19] bwbarrett commented on #4857
e4bdad0 is a correct change; for internal components, you should never need to add -lpmix (or similar) to extra_wrapper_libs, because the build system will add them for you late in the process (as long as they're component dependencies, which they are in that case).

I'm confused, what was the test case that broke: internal or external PMIx?  If external, which version?

[2018-03-02 01:35] ggouaillardet commented on #2025
well, regardless this is valid or not, the following snippet (no need for multiple threads) might lead to incorrect results (it does not hang, but a given communicator might have several CIDs), the issue can be evidenced after a few runs on 4 MPI tasks.

[code]
as I suggested earlier, progressing the second request after the first request is complete (since they both operate on the same `MPI_COMM_

[2018-03-02 01:40] hjelmn commented on #2894
We have a newer issue for tracking this

[2018-03-02 01:40] #2894 closed

[2018-03-02 02:26] bosilca commented on #1780
No recollection. Let's just close it for now.

[2018-03-02 02:42] bosilca commented on #2025
Nice, I thought about this case but I couldn't make it break. I see your trick, force a mismatch on the cid by creating one additional communicator on the root.

Your solution is to basically sequentialize all dup on the same communicator. Sound reasonable.

[2018-03-02 11:00] grisuthedragon opened #4877 "Gloablly define Environment Variables to be passed to remote nodes."
## Background information
Improve the usabilty of the OpenMPI for entry level users.  Especially Handling environment variables.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v2.0.4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
configur

[2018-03-02 15:36] jsquyres commented on #1780
@bosilca You said that error codes were not being propagated properly for persistent requests.

Do you know that that now works?

[2018-03-03 03:58] ggouaillardet commented on #4877
Note the `v2.0` series is no more supported, and you should upgrade to the `v2.1` series (and I encourage you to upgrade to Open MPI `3.0.1` that will be released shortly).

Since Open MPI is available in the same directory on all the nodes, I strongly encourage you to
[code]
As far as Open MPI is concerned, you won't need to export `PATH` nor `LD_LIBRARY_PATH` via `mpirun`.

Assuming you (basical

[2018-03-03 11:57] Noxoomo commented on #4863
I make more test with merged PR #4852:

1) I can't reproduce hangs with attached example now
2) I still have issue with freeze in my application, but they become much rare: i rewrote application logic in a such way, that all MPI call are made by one single thread. With such approach my application hangs after 10 hours (more tests are still running)

3) I check UCX, but I was able to build only sim

[2018-03-03 14:14] bosilca commented on #1780
I remember what I said, I don't remember why. I checked the error path in the request management code, and I do not see any inconsistencies between persistent and non-persistent requests. If I find more info about this I will reopen the issue.

[2018-03-03 14:14] #1780 closed

[2018-03-03 18:19] jjhursey commented on #30
That's fine. I'll add this to the face-to-face meeting to see where we are at again. @markalle maybe we can chat about this again before the meeting sometime.

[2018-03-05 01:04] rathann commented on #4846
It looks like this is actually a duplicate of https://github.com/open-mpi/ompi/issues/3195 .

[2018-03-05 01:04] #4846 closed

[2018-03-05 13:59] sam6258 commented on #2025
So far, I haven't found anything in our large test case that violates the standard. I will try applying the code @ggouaillardet posted above to see if that makes a difference in our situation.

[2018-03-05 16:41] thananon commented on #4863
Thank you very much for reporting back.

You should not have to move all comms to single thread. This might still be the same problem that #4852 try to fix. We would like to understand more about this hang but this seems to be very difficult to track (after 10 hours of run) but when it hang, can you get the stack trace for us?

[2018-03-05 16:49] Noxoomo commented on #4863
AFAIK,  OpenMPI + UCX doesn't support MPI_THREAD_MULTIPLE (at least with default compile instructions)

[2018-03-05 16:56] Noxoomo commented on #4863
OK, i'll try provide stack trace on the next run. It'll be at the end of week, GPU's are scare resource and I can't take them for too much time during working days.

[2018-03-05 17:08] Noxoomo commented on #4863
Just one more thing: i run benchmarks before i changed logic to comms through single thread with merged PR #4852, there hang we also rare (after several hours).

[2018-03-05 20:08] zwets commented on #4437
For the benefit of others running into this error or "ORTE_ERROR_LOG: Data unpack had inadequate space": in my case the issue was resolved by switching to the internal hwloc.

I had compiled OpenMPI 3.0.0 on two different Ubuntu releases (16.04 and 17.10), both configured identically, and with `--with-hwloc=/usr`, thus using the Ubuntu-provided `libhwloc-dev` package. The version of `libhwloc` was

[2018-03-05 20:30] jsquyres commented on #4848
@rhc54 Any progress / anything to report for the weekly OMPI webex tomorrow?

[2018-03-05 21:02] rhc54 commented on #4848
Sorry - should have updated this. So far as we can tell, everything is mostly okay when going between v3.0/3.1, so long as you are using the embedded PMIx code. If you start messing around with external PMIx versions, then you can run into problems.

Bottom line
- do not use Open MPI 3.0.0 if you are trying to interact with an OMPI based on PMIx 1.2.5 as it misses support for the required pmix_ser

[2018-03-05 21:02] #4848 closed

[2018-03-06 16:18] jsquyres commented on #4857
@abouteiller Ping.

[2018-03-07 10:09] angerhang commented on #4373
I think this issue should be reopened as I ran into the same issue on mac `High Sierra 10.13.3`. Trying installation using clang.

[2018-03-07 10:17] ggouaillardet commented on #4373
@angerhang which version of Open MPI did you try to install ?

[2018-03-07 10:18] angerhang commented on #4373
openmpi-3.0.0

[2018-03-07 10:21] ggouaillardet commented on #4373
Since the error was reported in the same version, it is no surprise this version still does not work.

Please give `3.0.1rc3`  (available at https://www.open-mpi.org/software/ompi/v3.0/) a try and re-open the issue if it still does not work.

[2018-03-07 10:53] angerhang commented on #4373
Great 3.0.1rc works perfectly :D thanks

[2018-03-08 01:27] stsk129 opened #4886 "Running Open MPI on AWS EC2 instances"
Hi everyone,

I have been recently trying to run openmpi on on two aws instances and I got stuck on an error. I am running Ubuntu 16.04 with MPI version 1.10.2 installed from the apt package manager.
I have been following the tutorial at this step:
https://www.open-mpi.org/faq/?category=running#diagnose-multi-host-problems
The ssh connection and and environment variables are setup correctly. MPI f

[2018-03-08 01:32] bwbarrett commented on #4886
Open MPI uses ephemeral ports between any two hosts/instances in order to properly execute an MPI application.  As the error message suggests, it's worth looking at the firewall (Security Groups in this case) to ensure that you allow all IPv4 TCP traffic between the instances.  Assuming the ENIs for the two instances are both members of the same security group, it may be easiest to allow all traff

[2018-03-08 02:13] stsk129 commented on #4886
Yes that was it! Default settings limit inbound traffic to TCP port 22. Thanks for the very fast reply!

[2018-03-08 02:13] #4886 closed

[2018-03-08 09:59] pharthiphan opened #4887 "How to compile OpenMPI to support FDR over SR-IOV"
Thank you for taking the time to submit an issue!

## Background information

I'm using Mellanox 56G FDR with SRIOV on KVM virtualization, and I want to use the RDMA to communicate between VM with FDR Virtual Function.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

openmpi-3.0.0

### Describe how Open MPI was installed (e.g., from a source/dis

[2018-03-08 17:41] jjhursey opened #4892 "MPIR_PROCDESC is not visible in non-debug builds"
* Impacts `master`, `v3.0.x`, and `v3.1.x`. The `v2.x` and `v2.0.x` series do not have this problem.
 * Must be built with `--disable-debug`.

Consider the following `gdb` script that we will run against an `mpirun` launching an MPI application.

[code]

On `master` with a `--enable-debug` build you can see the expected:
[code]

On `master` with a `--disable-debug` build the `MPIR_PROCDESC` struct

[2018-03-08 18:54] omor1 commented on #4675
I ended up posting this on the MPI Comments mailing list: [Behavior of [Distributed] Graph Topology Constructors when a neighbor is MPI_PROC_NULL](https://lists.mpi-forum.org/pipermail/mpi-comments/2018-January/000259.html)

Adding gaps in communication buffers is exactly the point here; it allows one to say "every process has `n` neighbors, but some of these happen to be null", functioning akin t

[2018-03-08 22:45] AndrewGaspar opened #4896 "Possible illegal memory access in ompi_request_default_wait_some"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Installed via MacPorts

### Please describe the system on which you are running

* Operating system/version: ma

[2018-03-08 22:54] hjelmn commented on #4896
@bosilca What do you think?

[2018-03-08 23:12] bosilca commented on #4896
From MPI perspective the maximum number of completed request is bounded only by the number of input requests, and thus the most logical size for the array_of_indices and array_of_status must be equal to the number of input requests.

The MPI standard makes clear reference to what the user should expect in the array_of_indices and array_of_status upon return of the 2 incriminated function. It said

[2018-03-08 23:18] AndrewGaspar commented on #4896
My only issue with this statement is that I think it's missing one word: it should be "is bound only by the number of **active** input requests" - you can't complete requests that are not active.

[2018-03-08 23:44] AndrewGaspar commented on #4896
I'm also not quite sure I understand the optimization - couldn't you change the atomic exchange from

[code]
to

[code]

Then in the post-SYNC_WAIT loop, you should be able to efficiently check if the request has already been completed - since the `indices` array is sorted, you should be able to change this check:

[code]

to (pseudo-ish code)

[code]

I _think_ that would allow you to do the same

[2018-03-09 00:24] bosilca commented on #4896
You are willingly doing tests on non active requests and you complain that MPI assumes that all requests could potentially be completed ?

The code you propose might work, but the result is not a monotonically increasing array_of_indices. I put up a PR #4897, lightly tested at this point to address your concern. That being said I am not convinced by its need, but the patch was trivial.

[2018-03-09 00:29] AndrewGaspar commented on #4896
Isn't that how `MPI_Waitsome` is typically used? e.g. you have an array of requests and you keep passing it into MPI_Waitsome until all the requests are complete

I imagine most users don't compress the array of requests between each call to MPI_Waitsome.

[2018-03-09 00:43] AndrewGaspar commented on #4896
I don't think this is required by the standard - is this just desirable so that you get linear memory access when using the indices?

[2018-03-09 00:51] bosilca commented on #4896
So in your scenario the users do not compress the array of requests, but they do reallocate a smaller array for array_of_indices. Sketchy at best, and certainly suboptimal.

Most scenarios I'm familiar with, all arrays are allocated once and at the max size, and the remaining active requests are indeed packed to minimize the overheads in the MPI library.

[2018-03-09 00:57] AndrewGaspar commented on #4896
My specific scenario was that I was trying to preserve the list of existing completed request indices. So you advance the `indices` pointer by `outcount` between each call to `MPI_Waitsome`.

[2018-03-09 14:59] edgargabriel opened #4899 "Problems with cuda aware MPI and Omnipath networks"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v3.1.0rc2 and master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone

### Please describe the system on

[2018-03-09 15:05] rhc54 commented on #4899
@matcabral

[2018-03-09 15:42] jsquyres commented on #4896
For cross-reference, this is being discussed at the MPI Forum in https://github.com/mpi-forum/mpi-issues/issues/86.

[2018-03-09 17:01] matcabral commented on #4899
Hi @edgargabriel,
I'll be looking at this. The libpsm2 version you have is new enough, the minimum is 10.2.175. See, https://www.open-mpi.org/faq/?category=runcuda.

Would you please share what is the message size you see this abort?

[2018-03-09 17:10] matcabral commented on #4899
@edgargabriel
Please confirm that the PSM2 library is homogeneously built on all nodes with CUDA support. Based on the error message you shared, it suggests the library may not have CUDA support:

https://github.com/intel/opa-psm2/blob/PSM2_10.2-235/ptl_am/ptl.c#L152

[2018-03-09 17:48] edgargabriel commented on #4899
It is definitely homogeneous, it is the version taken from the Open HPC roll. At the bare minimum, it is identical on all GPU nodes, but I would suspect that it is in fact the same on all compute nodes.

Would you recommend that I recompile libpsm2? And if yes, is it possible to have multiple versions of libpsm2 on the system?

[2018-03-09 18:57] matcabral commented on #4899
I would like to start by confirming that PSM2 has cuda support. If you add to your mpirun command ``` -x PSM2_IDENTIFY ``` you should see  ```<host-name>.<pid> PSM2_IDENTIFY PSM2 v2.1-cuda ``` .    Alternatively, non official way to find it without running is ```grep  cudaMemcpy /lib64/libpsm2.so ```. If matches, you are fine. Note that there no warranties this "alternative" method will work in th

[2018-03-09 20:25] edgargabriel commented on #4899
@matcabral I will try to get the information, my job is currently queued. I will also try to compile in parallel a new version of the psm2 library,. Thanks for you help!

[2018-03-09 21:25] edgargabriel commented on #4899
I think you probably right, our PSM2 library does not have CUDA support built in. Not entirely clear to me how any of the tests worked in that case. Anyway, I will try to compile a new version of psm2 with CUDA support, and will let you know.

[2018-03-09 22:49] matcabral commented on #4899
OMPI has a native CUDA suport. So it should work even with other transports (e.g. sockets, but I have not tested it). However, the PSM2 CUDA support in OMPI expects you have libpsm2 with CUDA support. Unexpected results if you mix.  Maybe there are some non CUDA buffers sent ? However, when you effectively use PSM2 CUDA in OMPI (OMPI CUDA build) with a libpsm2 CUDA build, you will get a significan

[2018-03-10 05:13] omor1 commented on #4675
I'll take a look at the PR. I'll also post on the [MPI issues](../../../mpi-forum/mpi-issues/issues) repository, as it seems more active than the mailing lists.

[2018-03-11 19:48] drossetti commented on #4650
@Akshay-Venkatesh do you know if anybody is working on this problem?

[2018-03-12 20:01] edgargabriel commented on #4899
This might be off topic for this item (and I would be happy to discuss it offline), but I have problems compiling psm2 with CUDA support. Without CUDA support the library compiles without any issues, the moment I set PSM_CUDA=1 I get however error message related to undefined symbols and structures, e.g.
[code]

I searched google for solutions but I could not find anything. I could also not find t

[2018-03-12 20:59] matcabral commented on #4899
Quick answer: to achieve the zero-copy transfers, libpsm2 uses a special version of the hfi1 drivers (OPA HFI driver). The driver headers you have available most likely don't have CUDA support. As you noticed, you will need the hfi1 driver with CUDA support loaded in the system.
Please allow me to search where these details are publicly are posted.

[2018-03-13 00:03] matcabral commented on #4899
@edgargabriel are you using the Intel® Omni-Path Fabric Software package?
https://downloadcenter.intel.com/download/27335/Intel-Omni-Path-Fabric-Software-Including-Intel-Omni-Path-Host-Fabric-Interface-Driver-?v=t

This is in fact the simplest way to get this setup.
See the install guide:
https://www.intel.com/content/dam/support/us/en/documents/network-and-i-o/fabric-products/Intel_OP_Fabric_Soft

[2018-03-14 13:30] jjhursey commented on #4892
PRs have been merged. We can close this ticket.

[2018-03-14 13:30] #4892 closed

[2018-03-14 19:27] andre-merzky opened #4914 "torque 6 misses pbs-config"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

OpenMPI master branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

We installl from a git clone, on Titan, a C

[2018-03-15 05:53] ggouaillardet commented on #4914
I do not think `pbs-config` is mandatory in order build `tm` support (e.g. PBS/torque)

Could you please compress and upload your `config.log` ?

[2018-03-15 08:44] andre-merzky commented on #4914
Indeed, I am running `configure ... --with-tm`, and `pbs-config` is pulled due to that option.  But I may be missing something here, of course: without that option, OpenMPI seem not to be able to learn about the available compute nodes.  Or at least I saw errors in job placement on mpirun.  When using that option (previously, with torque 4.x which had `pbs-config`), that problem disappeared.

I at

[2018-03-15 11:01] ggouaillardet commented on #4914
I checked the log, `tm.h` was not found, and though `--with-tm` was specified, `configure` did not abort (!)

Where is `tm.h` on your system ?
If it is in `/usr/include/torque/tm.h` then you have to `configure --with-tm CPPFLAGS=-I/usr/include/torque`

I will investigate on why `configure` did not abort

[2018-03-15 11:06] ggouaillardet commented on #4914
my bad, `configure` did abort as expected.

since there is no `pbs-config` you have two options
 - if `tm.h` is in `DIR/include` and `libtorque.*` is in `DIR/lib[64]`, then `configure --with-tm=DIR`
 - if `tm.h` is in a "non standard" directory, then use `CPPFLAGS=...` as explained earlier

[2018-03-15 12:34] andre-merzky commented on #4914
I should put a hold on this ticket: configurations which resulted in a usable installation on Titan don't work anymore, presumably because of more system changes.  Just in case any of you guys is currently working on Titan or any other Cray (Blue Waters is also on my TODO list), I would appreciate any advise.  Otherwise I'll ping back once I figured out how to build again.

Thanks, Andre.

[2018-03-15 13:41] blegat opened #4917 "Executable cannot be named test"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

3.0.0-1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Using the `pacman` package manager or Arch Linux.

### Please describe the system on which you are running

[2018-03-15 13:48] bosilca commented on #4917
```test``` is a UNIX utility (```man test```). When called without an argument it always returns 1. The error message clearly identified the cause of the job creation failure. You can call your application test but then either you make sure your PATH includes your directory before the system ones, or you use a path (```mpirun ./test```).

[2018-03-15 13:48] #4917 closed

[2018-03-15 16:12] rhc54 commented on #4914
Well, I just downloaded and built Torque master (which is somewhere on the 6.1 path), and then built OMPI master by simply pointing ```--with-tm=DIR``` where DIR is the install location I used for Torque. OMPI correctly picked up the Torque support and built all tm components.

I can't try executing it, of course, but things seem to build just fine. It is quite possible that someone has changed th

[2018-03-15 21:10] hppritcha commented on #3183
@jsquyres I'm inclinded to close this as won't fix for v2.x.  What do you think?

[2018-03-15 21:14] jsquyres commented on #3183
Yeah, unless @hjelmn is going to fix this, I doubt anyone else is going to.

[2018-03-15 21:14] #3183 closed

[2018-03-15 21:16] hppritcha opened #4920 "Release 2.1.4 checklist"
## Make a perfect tarball

- [x] Update the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --re

[2018-03-16 00:11] ggouaillardet commented on #4914
@rhc54 if `torque` is built with the default RPM `.spec` file, then the header is in `/usr/include/torque`.

So unless `pbs-config` can be used to set `CPPFLAGS`, or we update our `configury` in order to search into this non standard directory (just like we do for `pmi`), then Open MPI is currently unavailable to find the header file and is hence unable build `tm` support out of the box.

FWIW, I

[2018-03-16 15:04] hppritcha commented on #4240
done with this release.  on to 2.1.4

[2018-03-16 15:04] #4240 closed

[2018-03-16 15:21] nmorey commented on #4072
@rhc54 Is there any chance that openmpi 2.x will support pmix 2.1.x ?
I started looking into packaging PMIx by itself for SUSE.
As we both support openmpi 2.X and 3.X we would ideally need a version that can be used by both.
As PMIx 2.1 is compatible with any other PMIx version, it feels like the natural choice

[2018-03-16 15:58] rhc54 commented on #4072
Just checked and the answer, unfortunately, is no - in fact, OMPI 2.x has a check in configure that will error out if a PMIx version greater than 1.x is provided.

We are working to avoid such disconnects in the future - we just didn't catch it in time for OMPI 2.x and cannot really go back to correct it. Is it possible for you to leave OMPI 2.x as a complete package (i.e., using the embedded PMIx

[2018-03-16 16:34] nmorey commented on #4072
Yes we can do that. But openmpi2 is the one that will be in SLES15 and maintained for the next 7+ years so I would have liked to get it on the same track too

[2018-03-16 16:45] rhc54 commented on #4072
Really sorry - I can understand the concern. I have added this to the OMPI devel meeting next week so we discuss how to make this better for packagers going forward:

https://github.com/open-mpi/ompi/wiki/Meeting-2018-03

[2018-03-16 19:56] omor1 commented on #4675
It appears that MPICH actually supports this behavior. I've submitted an issue to the MPI Issues repository to clarify the wording to make this explicit.

[2018-03-16 19:57] rhc54 commented on #4072
I took a quick gander at this and think it can be resolved, but it would require a change and so it won't help with the existing 2.x/3.x releases already out there. Is that a show-stopper? Or should I go ahead and (a) see if the release managers would accept it, and if so (b) build the commit?

[2018-03-16 20:09] pkovacs commented on #4072
@rhc54 Ralph I'm the Fedora guy for pmix (and slurm).  I have pmix 2.1.0 in Fedora 28/29 and will be bumping to 2.1.1, perhaps this weekend.   ompi in Fedora still uses internal pmix.

[2018-03-16 20:24] rhc54 commented on #4072
Oh - I didn't know that! Thanks! I think the container folks would like to see the OMPI rpm use an external PMIx, but we are going to discuss how we make that easier at the devel meeting next week anyway - will get back to you here after that discussion.

[2018-03-20 09:19] mmokrejs commented on #3133
I think openmpi should include in the error meesage path to the $PBS_NODEFILE and its contents too. My file contains just one hostname and openmpi is assumed to figure out the machine has 24 cpus. But, somehow it does not.

Forcing  `mpirun -H r21u24n600.ib0.smc.salomon.it4i.cz:24` or `mpirun --oversubscribe` works. I use `openmpi-3.0.0` with torque enabled.

[code]

Maybe the lshw support is brok

[2018-03-20 10:01] ggouaillardet commented on #3133
@mmokrejs can you please post your PBS script ?

[2018-03-20 10:15] mmokrejs commented on #3133
There was none, it was interactive session, hence `qsub -I -q qprod -A xx -l select=1:ncpus=24,walltime=48:00:00

But OK, initially I hit this through PBS script jobs, an example is:
[code]

I `unset` the mpithreads and other variables too with no luck.

[2018-03-20 10:40] ggouaillardet commented on #3133
What is your `mpirun` command line ?

This behavior typically occurs when `tm` support was not built.

Can you

[code]
And post the output ?

Do you observe the same behavior both in interactive and batch mode ?

[2018-03-20 10:49] ggouaillardet commented on #3133
BTW, are you sure `ncpus` is appropriate here and `ppn` should not be preferred ?

[2018-03-20 11:45] mmokrejs commented on #3133
We have PBSpro here. Yes I observe this behavior with both approaches. Other users are still ousing older openmpi versions.

[code]

[code]

[2018-03-20 15:25] jsquyres opened #4932 "Cisco bad MTT results for v3.1.x"
Per discussion on 2018-03-20 webex, Cisco is seeing a large number of failures in v3.1.x testing that it is not seeing in v3.0.x testing.

Need to investigate what all these failures are.

@bwbarrett asked me to file this as a blocker.

[2018-03-20 19:32] bwbarrett commented on #4563
Discussion in the room about Power is that when we re-enable Power BE because this doesn't happen anymore is that we should have a NEWS item that says despite fixing the error message, we still don't actually support Power BE.  And that we should remove the block now that we know it wasn't a silent data corruption problem.

[2018-03-20 22:40] rhc54 commented on #4799
This was discussed at the devel meeting, and the conclusion was that the need to adequately support multi-threaded applications overrides this issue. We don't know of any way to force the kernel to keep one thread local to another, following each other around the socket.

For performance tests like the one you are running, you should override the default binding policy with bind-to core. For OMPI,

[2018-03-20 22:40] #4799 closed

[2018-03-20 22:47] rhc54 commented on #3680
@opoplawski I know this is from long ago, but we were meeting this week and discussed the libevent situation. We concluded that we will upgrade internally to v2.1.8, and set our external minimal accepted level to the same. This won't take affect until v4.0.

However, we also checked OMPI v3.0 and v3.1, and both appear to build and work correctly against libevent v2.1.8.

HTH

[2018-03-20 22:47] #3680 closed

[2018-03-20 23:11] Noxoomo commented on #4863
@thananon

Just for you information: I don't forget about the issue, but I currently can't use machines for enough time to reproduce problems.

[2018-03-21 09:05] chhu commented on #4446
I can confirm this while trying openmpi 3.0.1rc3.
We just have shared mem machine on nfs4.
Write to local disk with default: speed OK
Write to NFS4, default: Not OK. (~30min to write 280MB)
Write to NFS4, OMPI_MCA_fs_ufs_lock_algorithm=3 same, slow.
Write to NFS4, OMPI_MCA_fs_ufs_lock_algorithm=1 OK, 10s.
Luckily I found this thread!

[2018-03-21 11:34] ggouaillardet commented on #4932
@jsquyres note you can (likely) ignore the `spawn_argv*` failures. Your MTT config should be updated to start on a smaller number of MPI tasks, or use the `--oversubscribe` option.

[2018-03-21 12:41] edgargabriel commented on #4446
thank you for the feedback. I am contemplating whether we made the right choice for the default value of this parameter. Basically, we had two bug reports during the fall for MPI I/O over NFS, and those scenarios are only handled correctly when using the default values of fs_ufs_lock_algorithm. On the other hand, we are now punishing performance wise potentially significantly more users over NFS.

[2018-03-21 12:48] jsquyres commented on #4451
@zach-nervana Just to be clear: you *can* run Open MPI jobs as root, you simply have to specify `--allow-run-as-root` on the `mpirun` command line.  We *strongly recommend* not running as root, but you can certainly do so if you wish.  So I'm not sure I follow the "Open MPI requires modifying every recipe in the system" argument...?

Isn't the same thing true with adding `--allow-run-as-root`?

[2018-03-21 14:23] thananon commented on #4863
Thank you for the update.

[2018-03-21 15:07] jsquyres commented on #4349
@amckinstry @opoplawski @glaubitz We had a lengthy discussion about this stuff yesterday in our face-to-face Open MPI development meeting.  Let me report the results to you...

### Short version

1. We sucked in our communication to you when we decided to disable POWER7/BE platforms (i.e., we didn't communicate with you at all).  We need to do better in the future.  Please subscribe to the (low vo

[2018-03-21 15:08] hppritcha commented on #4557
@amaslenn has someone from Mellanox helped you with this?

[2018-03-21 15:10] hppritcha commented on #4529
@lcebaman could you try testing against one of 3.0.1 release candidates?  There were fixes for multi-threaded RMA in this release.

[2018-03-21 15:12] hppritcha commented on #3937
closing this issue as it is being tracked by #1763

[2018-03-21 15:12] #3937 closed

[2018-03-21 15:16] hppritcha commented on #4649
closing this issue, tracking with #4650
as noted in #4659 a workaround is to set the following OMPI_MCA env. variable
[code]

[2018-03-21 15:16] #4649 closed

[2018-03-21 15:17] hppritcha commented on #4806
forgot to close when #4809 was merged

[2018-03-21 15:17] #4806 closed

[2018-03-21 15:18] hppritcha commented on #4676
closing.  can be reopened if @CharlesxrWu is still seeing this.

[2018-03-21 15:18] #4676 closed

[2018-03-21 15:21] #4284 closed

[2018-03-21 15:24] thananon commented on #4314
Last respond was 5 months ago. I'm closing this issue. It can be reopened if need be.

[2018-03-21 15:24] #4314 closed

[2018-03-21 16:09] markalle opened #4937 "v3.0.x vader on PPC (wmb moved to end of set_header)"
This is for the v3.0.x branch.

I have some tests that fail with vader on PPC (pass on x86 due to more generous memory ordering rules there). It looks to me like one of the wmb calls has been moved. I don't have much knowledge of what vader's doing, but I'm guessing the use of the function mca_btl_vader_fbox_set_header() should boil down to
[code]
but the fbox_set_header function has its wmb() cal

[2018-03-21 16:10] markalle commented on #4937
@hjelmn  This is the issue I mentioned on the phone

[2018-03-21 16:11] markalle commented on #4937
ps: I tested with the wmb() call at the top of set_header() and it seemed to work

[2018-03-21 16:23] bosilca commented on #3035
@jsquyres is this still happening on your environment ?

[2018-03-21 18:44] jsquyres commented on #3035
I do not believe so.  Let's close this and re-open if it happens again.

[2018-03-22 07:19] amaslenn commented on #4557
@hppritcha yes. I myself work for Mellanox :)

See the issue less often for OMPI@master.

[2018-03-22 08:38] chhu commented on #4446
Seems you have different bugs on both ends... Hope you'll solve it!

[2018-03-22 10:16] ax3l opened #4948 "Vader in a Docker Container"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

OpenMPI 3.0.0 (and 2.1.2 for comparisons)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From source (via [spack](https://github.com/spack/spack)) inside a docker

[2018-03-22 12:16] rhc54 opened #4950 "OSC/RDMA warnings"
On current master, building on a Mac, I get a flood of warnings that look like they are due to some formatting issues in a debug macro:
[code]

[2018-03-22 15:05] amckinstry commented on #4349
OK, thanks, this is a good outcome.

I agree with the distinction 'not supported' vs 'known to be bad'.  And yes, the problem was when the cause/nature of the 'silent data corruption' issue accidentally got dropped; if there was a trail that led back to a bugreport, then better decisions could be made (on all parts).

I'm signing up to the ompi-packagers,

thanks
Alastair

[2018-03-22 15:22] jsquyres commented on #3697
Per 2018-03 Dallas face-to-face meeting, this is still happening to Fujitsu on ARMv8.  It was discussed in the Dallas meeting; @hjelmn is looking into this.

[2018-03-22 15:42] shamisp commented on #3697
Can we have a bit more details on this ? What AMO is broken ? Does it happen only with built-in AMOs ?

[2018-03-22 16:01] devreal opened #4952 "Window memory alignment not suitable for long double"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

Vanilla Open MPI 3.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

installed from release tarball using `./configure && make && make install`

### Please descri

[2018-03-22 16:57] jjhursey commented on #30
Some discussion at the March 2018 Face-to-Face meeting.

Step 1: Display basic table for pt2pt connections (output only)
 * Need to bring in the '-prot' framework
 * Need to add interface to pml/mtl/btl to get a "short name" (e.g., "yalla", "ob1") and a "long name" with information about, for example, interfaces used.
 * For the long names think about aggregation ability.

Step 2: Future
 * Add ta

[2018-03-22 19:42] markalle commented on #4937
I made a PR with my proposed fix:
https://github.com/open-mpi/ompi/pull/4955

[2018-03-22 19:44] hjelmn commented on #4950
Yup. Not sure why I never see these on the clusters. I intend to delete some of that code anyway. Will try to get that done today.

[2018-03-22 20:52] kizill commented on #1585
Me and @noxoomo condensed changes for ipv6 only networks in https://github.com/open-mpi/ompi/pull/4930

[2018-03-22 21:19] artpol84 commented on #4887
@pharthiphan, sorry for the late response.
On behalf of Mellanox I can recommends to build Open MPI with UCX support and use UCX PML ("-mca pml ucx").
We support this configuration and you'll have any issues with it we will make sure that it will be fixed.

@jladd-mlnx @yosefe @jsquyres FYI

[2018-03-23 01:31] jsquyres commented on #4914
@andre-merzky Ok, thanks.  I'll close this issue -- let us know if we should re-open it.

[2018-03-23 01:31] #4914 closed

[2018-03-23 01:42] jsquyres opened #4956 "Make OpenSHMEM not build if a viable SPML is not available"
Per discussion in the 2018-03 Dallas Open MPI meeting, we decided to have Open SHMEM decide to not build itself if a viable SPML is not found (at the time of this writing).  We should also emit this decision at the end of `configure` with the rest of the summary information.

This is targeted at v4.0.0.  @bwbarrett volunteered to implement this.

[2018-03-23 06:11] Akshay-Venkatesh commented on #4650
@jsquyres
I looked at this issue when I raised the closed post concerning this but there haven't been any resources assigned to this after that. Given that openib btl is not the way forward, this has lower priority. Is there anyone that is familiar with pml progress (this is the culprit as there was no progress trigger) path who can look into this?

[2018-03-23 15:26] bwbarrett commented on #4952
I don't think MPI_C_LONG_DOUBLE_COMPLEX would require 32 byte alignment.  It's not a native data type on any architecture that exists today (or is likely to exist in the medium term).  I think always align on 16 bytes is a sane choice.  Neither MPI_ALLOC_MEM nor MPI_WIN_ALLOC are really suitable for lots of small allocations, so padding to 16 bytes is sane enough.  Doing anything with disp_unit se

[2018-03-23 15:52] ggouaillardet commented on #4952
I am fine not doing anything with `disp_unit`.

What about a new MCA parameter for the alignment ?
For example, and for performance reasons, it might be better to align on 64 bytes on `AVX512` capable processors.
I do not have a strong opinion on the default value, and I would be fine with 16 bytes.

[2018-03-23 16:19] bosilca commented on #4952
I would align all MPI allocated memory to the cache size boundary, and delegate to the user the responsibility to match that to her needs.

[2018-03-23 17:42] jsquyres opened #4959 "opal/util/info.c can write keys that are too long"
In 482d84b6e54, `opal/util/info.c` was heavily revamped.  Part of its commit message says:

However, when compiling this code with a modern gcc (e.g., v7.3.0), one gets the following warning message:

[code]

A few things:

1. We should be using `snprintf()`, not `sprintf()`.
1. The keys are strings of fixed length OPAL_MAX_INFO_KEY.  If you prepend `__IN_`, you're potentially writing up to 5 char

[2018-03-23 18:41] jsquyres commented on #4950
FWIW, I see the same thing with gcc 7.3.0:

[code]

[2018-03-23 20:00] jsquyres commented on #4948
What are those error messages from -- are they from your program?  I.e., what exactly are those error messages indicating?

FWIW: I do not believe we have any tests -- in configure or otherwise -- to check for non-functional CMA.  If we find CMA support, we assume it's working.  Vader should work just fine if CMA support is not present -- it will fall back to regular copy-in-copy-out shared memory

[2018-03-23 20:11] jsquyres commented on #4650
I'm sure that someone can talk you through how the PML works (e.g., @bosilca, whom I think you guys already know), but I'm unaware of anyone who has the GPU resources to debug this issue.

[2018-03-23 20:13] jsquyres commented on #4650
More specifically: AFAIK, NVIDIA added this GPU Direct RDMA code to Open MPI.  It would be great if NVIDIA would support and maintain it.  Thanks!

[2018-03-24 13:38] zach-nervana commented on #4451
This is true, but as you've mentioned you don't really want your code to always have that flag set as it may be unsafe for many cases. The decision to run as root is a deployment level concern and so would be most naturally be set inside of a docker container/through an environment variable instead of baking it into your code, which might be deployed by different people in different contexts.

[2018-03-24 13:56] jsquyres commented on #4451
You have to modify the Dockerfile to either set an environment variable or set this CLI flag, right?  If so, I fail to see the difference.

Additionally, you basically said above "everyone runs as root in a Docker", so you're somewhat contradicting yourself.

However, if that's not true (i.e., you can sent an environment variable inside a Docker container from outside the Dockerfile), then why can

[2018-03-24 17:08] tobiaskloe commented on #4468
I encountered the same problem, however slightly different:
I modified the PBS hostfile to reduce the number of slots per node and I end up with the same error:

[node039:13653] [[58738,0],0] ORTE_ERROR_LOG: Not found in file ../../../../orte/mca/plm/base/plm_base_receive.c at line 342
--------------------------------------------------------------------------
An internal error has occurred in ORTE

[2018-03-24 17:39] jsquyres commented on #4451
I just realized I missed another point from your previous reply: using `--allow-run-as-root` does not mean that you *have* to run as root.  As the CLI name directly states, it *allows* you to run as root -- but does not *force* you to do so.

Meaning: you can pass that CLI argument in all your Dockerfiles, regardless of whether they will be deployed as root- or non-root-runnable situations.

It se

[2018-03-24 20:18] ax3l commented on #4451
Btw, is --allow-run-as-root OpenMPI only? That means it adds to the diversity of mpirun/mpiexec flags in the MPI eco system if not controlled by an env var (which other implementations would just ignore).

This is also something which is not very desirable from an application perspective to be honest :-)

[2018-03-25 15:25] rhc54 opened #4963 "TCP/BTL multi-NIC still hangs"
This is on current master, running on a 2-node cluster where each node has two subnets on it. When attempting to execute a 1-ppn MPI ring application, the job hangs for a minute or so and then emits the following error:
[code]
My ifconfig output shows the following subnet definitions (trimmed of unnecessary stuff):

For node1:
[code]
For node2:
[code]
Note that the subnet devices on the two nodes

[2018-03-25 21:55] andre-merzky commented on #4914
Thanks for the feedback @jsquyres , @rhc54 !  Titan support did not yet install the torque devel package, but I meanwhile follow Ralph's advice and use a private torque installation.  Compilation is smooth that way.

[2018-03-26 00:01] ggouaillardet commented on #4963
[code]
should do the trick for the time being.

can you please post the output of
[code]
on both your nodes ?

[2018-03-26 00:16] rhc54 commented on #4963
Thanks - that worked! Here is what you requested:
[code]

[2018-03-26 00:43] ggouaillardet commented on #4963
I checked the git log and could not spot any recent changes in `btl/tcp`.

Though that should not cause the hang, I noted there is no default route on `rhc002`, was this network configuration changed recently ?

[2018-03-26 01:24] rhc54 commented on #4963
Not that I'm aware of. Note that I don't regularly test MPI jobs any more, so I don't know when it was broken.

[2018-03-26 05:04] ggouaillardet commented on #4963
My understanding is that `rhc001` binds on `192.168.0.161` and (try to) connect to `rhc002` on `10.10.10.2`, but the reply never returns because there is no route to `192.168.0.161` from `rhc002`.

So unless this is a bug in the `reachable` component (e.g. there is an interface in the same subnet, so no other interface that requires routing should be tried), I am afraid this cannot work out of the

[2018-03-26 06:45] ggouaillardet commented on #4952
@bosilca this information is currently stored in `opal_cache_line_size` on `mpirun` or `orted` (e.g. from the MPI app point of view, is has the default value `128`).

That raises the question, how to get that ?
If `mpirun` is used, that can be passed via the environment, but what about direct run ?
should the MPI app detect the full node topology just to get the cache line size (in my experience,

[2018-03-26 12:45] ax3l commented on #4451
Thank you for the feedback, I understand your argument. Nevertheless "deliberately intrusive" is intrusive in more places than you might think and where it is not required to be so.

Let's take for example install routines and CMake scripts that include tests ("make test"), e.g. with CTest. They are in principle possible to work with small examples with any MPI implementation as long as `-n` is im

[2018-03-26 13:11] ax3l commented on #4451
This is unnecessary. Some modern container solutions such as [singularity](https://singularity.lbl.gov/) partition your container (configure - make - make test - make install) as *root user* but run as a *lightweight overlay*. Adding new users and unused directories is superfluous.

Also, most of the time one will just import a docker image - in both cases partitioning the container is done as roo

[2018-03-26 13:46] bosilca commented on #4952
[StackOverflow](https://stackoverflow.com/questions/794632/programmatically-get-the-cache-line-size) has the answer, as usual.

[2018-03-26 14:27] jsquyres commented on #4952
Doesn't hwloc have this info?  `obj->attr->cache.linesize`

[2018-03-26 14:39] ggouaillardet commented on #4952
The info is already available on the daemon, but not the app.

We can use an other method to retrieve it, or retrieve it from the daemon.
I an still on the fence regarding which is the best way to achieve that.

[2018-03-26 16:34] bosilca commented on #4963
I don't see how to fix the underlying issue, but we are not supposed to abort as long as other connections either exists or at least are possible.

[2018-03-26 17:34] rhc54 commented on #4952
When direct launched, or when launched by mpirun prior to HWLOC shared memory support, the apps have to get their own topology, which they do down in opal/hwloc. Thus, they can simply retrieve it directly.

When launched by mpirun, they have access to the topology via HWLOC's shared memory.

So apps do indeed currently have access to the info as @jsquyres described, regardless of how they are laun

[2018-03-26 18:52] ofloveandhate commented on #3698
@winash12 resolution?

[2018-03-26 19:29] hppritcha opened #4971 "don't try to build mpool/memkind component against memkind 1.4 or higher"
The memkind API was complete rewritten in release 1.4 and is incompatible with the mpool/memkind in all release branches.  Add a configury check to just not compile this component if memkind 1.4 or higher is installed.

[2018-03-26 19:50] jsquyres commented on #2614
Per discussion with @hjelmn and @hppritcha on 26 Mar 2018:

* v2.0.x already disables osc/pt2pt in THREAD_MULTIPLE scenarios (because of this issue)
* v2.x does *not* disable itself in THREAD_MULTIPLE scenarios
    * It looks like we thought this would get fixed in time for v2.1.x.  But it didn't.
* At this point, it doesn't seem worth fixing this issue in the v2.x series.
* @hjelmn said he will f

[2018-03-26 20:14] rhc54 commented on #4963
I'll go ahead and close this as setting a default param solves the problem. However, please note that OMPI worked fine for me out-of-the-box until now, and that prior releases still do. Also, master worked fine, then was broken, then worked again, and now is broken again. So it isn't that my cluster configuration simply cannot be supported - it is something that is being impacted by changes made t

[2018-03-26 20:16] bwbarrett commented on #4963
I'm going to reopen this issue and assign it to me.  Chances are that it's a change my team made, and we should drive that to ground.

[2018-03-26 21:56] rhc54 commented on #4971
@hppritcha Looking at the memkind repo on github, it appears they have been fixing OMPI compile issues internally - they just aren't sharing the fixes. I'll smack them.

[2018-03-27 00:10] #4950 closed

[2018-03-27 00:34] examachine commented on #4373
On High Sierra with MacPorts, the default version of openmpi using clang works fine. FYI.

[2018-03-27 01:03] winash12 commented on #3698
@ofloveandhate resolved several months ago

[2018-03-27 02:00] jsquyres commented on #3698
Thanks!  I'll close.

[2018-03-27 02:00] #3698 closed

[2018-03-27 02:27] ofloveandhate commented on #3698
i had asked because a user i was supporting was getting a similar error to one previous in this thread:
[code]
and we were looking for the solution.  turned out to be stale links from homebrew, and forcing the re-link using
[code]
solved our problem.  thanks.

[2018-03-27 05:26] ggouaillardet commented on #4971
@rhc54 my understanding is Open MPI cannot be built with `1.4` <= `memkind` < `1.7`, did I miss something ?

[2018-03-27 05:28] rhc54 commented on #4971
Yes, changes were made to restore backward compatibility. I'm talking with them now.

[2018-03-27 08:50] nmorey opened #4976 "IMB-EXT stalls using openmpi 2.1.3"
Running IMB-EXT from Intel (R) MPI Benchmarks 2018 Update 1 on a SLE12-SP3
[code]

Running with this command stalls
[code]
And then it stalls like this. Both nodes have an IMB-EXT process running at 100%

On first host:
[code]

On the second host
[code]

[2018-03-27 11:41] ggouaillardet commented on #4976
iirc that is a know issue
two hosts have different hardware and hence end up selecting different `osc` components.

as a workaround, you can
[code]