[2019-05-21 18:28] hjelmn commented on #6666
@jsquyres I can't quite parse that.

I was told by the Open UCX community that the stability guarantee extends to UCT. They wanted to make some changes before locking the API. I believe v1.7 represents that point. @yosefe Correct me if I am wrong.

[2019-05-21 18:30] jsquyres commented on #6666
If the UCT APIs are stable, then great: I agree that this proposal becomes moot.  The *only* reason this proposal exists is because we were told that the UCT APIs are *not* stable.

[2019-05-21 18:31] hjelmn commented on #6666
@jsquyres That is incorrect or the UCX community misled me.

[2019-05-21 18:34] hjelmn commented on #6666
FWIW UCX has not broken the UCT API in a release series (that I know of). Like UCP any changes occur in a 1.x.0 release. The endpoint initialization changes changed at v1.6.0, the discovery APIs are changing in v1.7.0.

[2019-05-22 09:06] yosefe commented on #6666
adding @shamisp
UCP API (which is used by pml/ucx, spml/ucx, ...) is already stable and will not break in a release series.
UCT is **going** to be stable, but it's not there yet, the current plan is to make it stable starting from v1.7 (but there is still quite a lot of work to get there).

[2019-05-22 09:09] longapple0 opened #6700 "Task affinity incorrect under LSF with "membind=localprefer""
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
2.1.6

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
From source downloaded from https://www.open-mpi.org/software

[2019-05-22 12:09] jjhursey commented on #6700
FYI @gpaulsen @markalle - I bet the parser wasn't expecting the extra specification. I vaguely remember having a conversation about this in the past, but I don't remember the resolution.

[2019-05-22 14:10] jsquyres commented on #6666
@yosefe Thanks for the clarification; that's very helpful to know.

So if there's potentially going to be more UCT changes between v1.6 and v1.7, I think the version number check in configury is still a good idea.  Once UCX hits v1.7 / UCT becomes stable and we adapt the BTL UCT to adjust to the stable UCT API, then I think we can drop the version check and just do normal configury-style functiona

[2019-05-22 14:45] #2921 closed

[2019-05-22 15:41] bosilca commented on #5540
#6695 addresses this and much more.

[2019-05-22 15:46] hppritcha commented on #6684
looks like this was some transient hickup on cori.  closing.  reopen if this occurs on a regular basis.

[2019-05-22 15:46] #6684 closed

[2019-05-23 08:32] mingliangzu commented on #6700
Interestingly though, when the following environment variable is set ahead of mpirun, the problem is gone, no matter what value it is given. For this case, I gave it a dummy "1":

[code]

[2019-05-23 11:07] edgargabriel commented on #6558
@cniethammer : I wanted to give an update on this item, and also use this opportunity to document the current status. I committed yesterday support for the external32 representation for ompio into master, so it should be available in the next major release of Open MPI (v.5.0  most likely).

As a sideeffect of this work, I did also develop and run numerous tests with external32 with both ompio and

[2019-05-23 18:48] edgargabriel opened #6703 "division by zero problem for empty fileviews"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v4.0.x, v3.1.x, v.3.0.x

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

When using an empty fileview, a division

[2019-05-27 01:29] zrss commented on #6691
i am not sure what's the rout cause of this problem ... it's quite strange ...

when i disable the `--tree-spawn` or specific the routed module it also works fine with `mpi 4.0.0`

[code]

or specific the routed module (`radix`, `binomial`, `debruijn` or `direct`)

[code]

[2019-05-27 01:51] zrss commented on #6691
and i also notice the log

[code]

`[[6524,0],10]` connect to its parent `[[6524,0],2]`, but it reaches the max retries of `rml_base_max_retries`. I am not sure why `[[6524,0],10]` have to connect its parent `[[6524,0],2]` in `binomial` routed (priority 30), maybe it's the root cause of this problem

but it works fine when i specific `binomial` routed ...

[2019-05-27 01:57] zrss commented on #6618
@tingweiwu @jsquyres , hi, as to my problem, mpirun hostname failed with np 256, i found out a workaround, i.e. run mpirun with `--mca plm_rsh_no_tree_spawn true` or specific the routed module (radix, binomial, debruijn or direct)

#6691

[2019-05-29 14:47] connorourke opened #6710 "MPI.COMM_SELF.Spawn() error"
## Background information

mpi4py python code that calls `MPI.COMM_SELF.Spawn` launching a fortran executable failing after indeterminate number of calls to spawn.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

`Open MPI  3.1.4`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operat

[2019-05-29 16:49] hjelmn commented on #6655
@hppritcha I can confirm that changing the acquire barrier to be sequentially consistent seems to fix the issues. So, this is the same bug as the one we encountered with the __atomic atomic implementation and the same fix is required. I will be sure to add a comment to the effect that once gcc 6.x is no longer supported we can drop the fix.

[2019-05-29 16:50] hjelmn commented on #6655
Added the appropriate release labels. Will PR the fix shortly.

[2019-05-29 21:00] sam6258 opened #6712 "int32_t versions of shmem_wait_until() shmem_test() expect 64-bit values"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

I have reproduced this issue in OMPI master and v4.0.x.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from source.

### Please describe the system on which

[2019-05-30 03:47] opoplawski commented on #6671
I've disabled building openmpi with UCX in Fedora until this is resolved.  This appears to have fixed the segfault issue at the expense of building the open-shmem components.

[2019-05-30 08:11] zrss commented on #6691
i show the whole story about this problem in following steps

let's start by this mpirun cmd

[code]

and the hostfile (each host has 8 slots, 32 hosts) see my first msg

1. `orte_main` launch the process by `radix` routed mod (priority 70)
1. launch all daemon processes (radix default base 64, currently, we only have 32), and all processes orte_parent_uri are set to the rank0 uri
1. but the len o

[2019-05-30 11:00] James-A-Clark commented on #5501
I just retested with a build of the Open MPI v4.0.x branch (386ed07) with PMIx v3.1.3rc3 and the same issue is present. The compiler was IBM 16.1.0.

[2019-05-30 12:42] James-A-Clark commented on #6613
I can confirm that building OMPI v4.0.x with PMIx v3.1.3rc3 fixes this issue.

[2019-05-30 12:51] James-A-Clark commented on #6613
@jjhursey will the next v4.0.x release have this version of PMIx?

[2019-05-30 14:09] artpol84 commented on #4338
@rhc54 is this still relevant?

[2019-05-30 14:11] artpol84 commented on #5393
@gpaulsen @jsquyres is this one stale or something is still required

[2019-05-30 14:12] artpol84 commented on #6712
Thanks, @sam6258.
Looking forward to the fix.

[2019-05-30 17:04] nbengdahl opened #6719 "Openmpi conflicting with wifi on macOS"
I'm getting strange behaviors on MacOS 10.14.5 running OMPI v4.0.0 (MPI was compiled from the source distribution tarball) and also on earlier versions like v3.0.0. The error included below is produced when I try to run an mpi program when my system is connected to certain wifi networks but not others. If I turn off wifi and run the exact same code, mpi works fine. The issue seems to be specific t

[2019-05-30 20:40] gcormier opened #6723 "Troubleshooting ib on Azure hc44rs"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
2.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Ubuntu 18.04LTS default repository

### Please describe the system on which you are running

* Operating system/

[2019-05-30 20:45] gcormier commented on #6723
Packages I am installing on a new image

[code]

Compiling IMB
[code]

[2019-05-30 20:56] devreal commented on #6546
@yosefe Thanks for the fix (strangely I didn't get an email notification). I will give it a try as soon as possible. Since this problem occurs on master too there should probably be a PR against master as well?

[2019-05-31 09:40] yosefe commented on #6546
@devreal yes - https://github.com/open-mpi/ompi/pull/6687

[2019-05-31 12:32] connorourke opened #6727 "Unable to allocate shared memory for intra-node messaging. Delete stale shared memory files in /dev/shm."
## Background information
Runnig a simple python program that spawns a fortran executable fails

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
(Open MPI) 4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installed from source tarball:

[2019-05-31 13:57] jjhursey commented on #6613
The PMIx release is being held at the moment so we can investigate a separate issue.

I missed the Open MPI teleconf this week so I'm not sure if they are holding the next v4.0.x release for the PMix official release or not. @gpaulsen @hppritcha might know better.

[2019-05-31 14:16] gpaulsen commented on #6613
Howard and I are meeting this afternoon and will discuss this.Is there any estimate to how long pmix 3.1.3 will be on hold until it's released?   If we can't bound it, we may need to decouple the two releases.
---Geoffrey PaulsenSoftware Engineer, IBM Spectrum MPIEmail: gpaulsen@us.ibm.com
 
 
----- Original message -----From: Josh Hursey <notifications@github.com>To: open-mpi/ompi <ompi@noreply.g

[2019-05-31 14:54] connorourke commented on #6727
Same thing with 3fd5c84 checked out from the repo.

[2019-05-31 14:56] jjhursey commented on #6613
@rhc54 might have an opinion here. We are trying to scope the problem now. In particular, we want to make sure we have a solid understanding of some of the failures we are seeing and if we need to include any more fixes in the 3.1.3 release before it goes out. I don't have a firm date at the moment.

[2019-05-31 16:07] sam6258 opened #6728 "shmem.h uses C++ <complex> type for C++, but standard uses _Complex from <complex.h>"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

master, v4.0.x, v3.1.x, v3.0.x. Didn't check older versions.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from source

### Please describe the system on wh

[2019-05-31 17:42] rhc54 commented on #6613
I'm afraid I don't have anything firm either. I'm hoping we can complete things and do the official release by the end of June, but realistically it may slide into July. However, looking at the milestone schedule, v4.0.2 isn't coming out until end Sept at the earliest, so I don't see us holding that up. We will advise if something unexpected comes up.

[2019-05-31 17:43] rhc54 commented on #6727
Your listing shows a psm shmem file in /dev/shm - I suspect it may be the cause of the conflict. Try removing it.

[2019-05-31 17:47] rhc54 commented on #4338
Don't know - I don't believe we still support the OMPI v2.x series any more, so I guess if someone can confirm this works with the v3.x and v4.x releases, I imagine it could be closed. However, I would suggest someone check those releases before closing this as I see references to this ticket since @stiobhan last post.

[2019-05-31 17:50] connorourke commented on #6727
I have tried removing these files - makes no difference. They are produced during the run and don't get cleaned up when the run fails. The `df /dev/shm` was issued after the run, but the `/dev/shm/' folder was empty before it started.

[2019-06-01 07:44] perrynzhou opened #6729 "orted: atoi() cause corruption (out)"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
- using openmpi-4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

### Please describe the system on wh

[2019-06-01 07:44] perrynzhou commented on #6729
change title

[2019-06-01 09:39] connorourke commented on #6710
This also happens when running on a single node.

[2019-06-02 01:07] SteVwonder opened #6730 "Segfault under Flux due to premature PMI_Finalize"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

I believe this affects every OpenMPI version >= 3.1.0.  Confirmed to affect 3.1.0, 3.1.3, 4.0.0, and 4.0.1.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

3.0.4: H

[2019-06-02 01:15] rhc54 commented on #6730
I'm afraid that component was written by @garlick - Jim, do you have any thoughts?

[2019-06-02 16:27] garlick commented on #6730
Is it because the hash is torn down unconditionally in fini when it should only be done if the recount reaches zero?

[2019-06-03 01:47] ggouaillardet commented on #6729
Thanks for the report !

Do you want to issue a pull request vs the `v4.0.x` branch ?
you will have to sign-off the commit (make sure you understand the implications) and add a line in the commit message to state this is a one-off commit for the release branches since the `regx` framework has been removed from master.

As a workaround, you might want to try
`mpirun --mca regx_reverse ...`

You can

[2019-06-03 02:02] perrynzhou commented on #6729
@ggouaillardet  i want to   issue a pull request on the v4.0.x branch.the i will  checkout v4.0.1 ,fixed that problem, issue a pr to you.

[2019-06-03 12:59] connorourke commented on #6727
Same thing happens when running the spawn tests in the mpi4py test suite.

[2019-06-03 16:34] chunyulin commented on #5872
Hi, I encounter this issue as well if I run with OMPI_MCA_coll_hcoll=1. However, OSU collective benchmark shows a slightly smaller latency for smaller problem size. Do you have any update on this issue ? Thanks.

I use openmpi-3.1.4 / 4.0.1 + CUDA10 + ucx 1.5 + knem-1.1.3.90mlnx1 +  MXM 3.7.

[2019-06-03 16:57] adityabandla opened #6733 "Configure fails to detect missing libcrypto"
I am trying to compile Open MPI 4.0.1 with support for torque. The configure finishes successfully, but make throws an error saying that it cant find libcrypto

Looks like this same exact issue was reported 5 years back
See https://users.open-mpi.narkive.com/wh04rAax/ompi-users-configure-fails-to-detect-missing-libcrypto

Is there a fix for this?

[2019-06-03 18:21] gcormier commented on #6723
Any thoughts or ideas? Do you need additional information?

It would appear the task is running, just no output.

![image](https://user-images.githubusercontent.com/8388983/58824770-dd2cb380-860a-11e9-82b5-bab3224ff0a1.png)

[2019-06-03 18:32] gcormier commented on #6723
This works and displays output as expected.

`mpirun --mca btl self,tcp ./IMB-MPI1`

So it would appear I need to switch gears now to debugging IB functionality.

[2019-06-03 19:34] gpaulsen commented on #6633
@bosilca Any updates? We're looking at the possibility of 4.0.2 in the "near" future.

[2019-06-03 19:38] gpaulsen commented on #6613
Does this only require a PMIx update or also OMPI code change?
We can consider patching PMIx for an earlier OMPI v4.0.2.

[2019-06-03 19:44] gpaulsen commented on #6548
@cwilkes If this is fixed by open-mpi v3.1.4, can we close this?

[2019-06-03 19:59] jjhursey commented on #5501
Per a note from off list. it looks like this is not reproducible with gcc, but is with PGI and IBM XL.

[2019-06-03 20:21] cwilkes commented on #6548
I would ask @jscook2345 as they opened the bug, but for me upgrading worked.

[2019-06-04 01:34] jjhursey commented on #6613
It's just a PMIx change. So you need an updated PMIx.

We can give you the rc3, but the problem is that you could knowingly be shipping something may have some other issues. We can discuss this a bit more on the Tuesday call.

[2019-06-04 02:27] ggouaillardet commented on #6733
This is odd since `libcrypto.so` is only tried with `pbs` and not `torque`.
can you please compress and upload your `config.log`, and also run `ldd` on your `libtorque.so` ?

[2019-06-04 02:31] adityabandla commented on #6733
My apologies. I meant support for PBS. I was under the impression that --with-tm option is used for enabling support for PBS as well.

[2019-06-04 02:39] ggouaillardet commented on #6733
same option for PBS and torque, but different code path.
we first test PBS with and then without `-lcrypto`, so that should be fine.
anyway, can you please run `ldd` on your `libpbs.so` and post your compressed `config.log` ?

[2019-06-04 03:14] adityabandla commented on #6733
[code]

Compressed log is attached
[config.log.gz](https://github.com/open-mpi/ompi/files/3250343/config.log.gz)

[2019-06-04 03:56] rhc54 commented on #6729
Just FWIW: OMPI master switched from regex to compression to avoid problems caused by corner-case host name patterns. PMIx is making a similar change - hasn't been implemented yet.

Any change to the OMPI embedded version of PMIx needs to go into PMIx first and then brought back to OMPI when the embedded code is refreshed.

[2019-06-04 03:58] perrynzhou commented on #6729
@rhc54 how can I change to the OMPI embedded version of PMIx ?

[2019-06-04 04:00] rhc54 commented on #6729
You have to file a PR to change PMIx master, and then we'd need to backport it to the PMIx v3.1.x branch as that is the branch OMPI v4.0.x is using.

[2019-06-04 04:03] perrynzhou commented on #6729
@rhc54  regex already removed from  PMIx master,that can't change on master branch

[2019-06-04 06:46] rhc54 commented on #6729
I'm afraid that isn't correct - the same code is present in src/mca/preg/native starting at line 893:
[code]
though the code is organized into a different location.

[2019-06-04 08:08] perrynzhou commented on #6729
@rhc54  may I chage that postion of code ,then commit a pr.

[2019-06-04 08:25] ggouaillardet commented on #6733
That is a tricky one.
at `configure` time, we notice that we do not need to manually pass `-lcrypto` since `libpbs.so` depends on it.
but at built time, `libtool` detects there is a `libpbs.la`, and automatically adds `-lcrypto`.

I am not sure of what we can/should do about that.

For the time being, you can either install `libcrypto.so` (I guess from the `openssl-devel` package) or remove `libpb

[2019-06-04 08:28] adityabandla commented on #6733
Thanks for diagnosing it. I'm installing it on a cluster where I am not the admin, so both options don't work for me. However, I did get it to work by patching two Makefiles by adding `-L/usr/lib64` to line 409 in orte/mca/plm/tm/Makefile and to line 481 in orte/mca/ras/tm/Makefile

Not sure if this is recommended

[2019-06-05 01:25] HonggangLI commented on #4529
It seems issue also can be reproduced with Intel/OPA hardware. openmpi3 segment fault. Latest openmpi4 does not segment fault, but hang.

[root@rdma05 ~]# /usr/lib64/openmpi3/bin/mpirun --allow-run-as-root -mca pml ob1 -mca btl openib,self -mca btl_openib_if_include hfi1_0:1 --bind-to none -np 2 -H rdma05,rdma06  /usr/lib64/openmpi3/bin/mpitests-IMB-EXT
#-------------------------------------------

[2019-06-05 11:23] devreal opened #6740 "OSC rdma: deadlock if memory registration fails"
We ran into a situation in which Open MPI got stuck in `MPI_Win_allocate` while allocating a series of windows on a ConnectX-5 cluster, like in the following example:

[code]

On a 64GB with two ranks, we expect all allocations to succeed up to `n=30` (60GB in total).

Running with two ranks, the processes hang with the stack trace of process 0 looking like:

[code]

On rank 1 it is:
[code]

Notic

[2019-06-05 17:37] #6712 closed

[2019-06-05 22:20] jscook2345 commented on #6548
This appears to be fixed in `v3.1.4`. I'm not able to reproduce the hang.

Great work! Thanks so much for your help!

[2019-06-05 22:20] #6548 closed

[2019-06-06 00:50] angelhd1999 commented on #6633
Same problem here, the only "solution" I have found is to do:

`export OMPI_MCA_btl_vader_backing_directory=/tmp`

before the _mpirun_ execution.

[2019-06-06 04:41] SteVwonder commented on #6730
Thanks @garlick. That did the trick.

Just a heads up that I’ve been sitting on the fix while I wait for my contribution to OpenMPI to go through LLNL’s IPO. Once I’m approved to contribute, I’ll post a PR.

[2019-06-06 10:48] connorourke opened #6742 "PMIx runtime error."
Thank you for taking the time to submit an issue!

## Background information
I am running into problems across multiple machines, and multiple versions of openmpi when trying to get an mpi4py code that cycles through a loop, spawning and closing down multiple instances of a fortran executable, to run successfully. (see https://github.com/open-mpi/ompi/issues/6727 and https://github.com/open-mpi/om

[2019-06-06 14:39] artpol84 commented on #6742
This kind of error met occur only if posix_fallocate fails:
https://github.com/open-mpi/ompi/blob/v3.1.x/opal/mca/pmix/pmix2x/pmix/src/mca/pshmem/mmap/pshmem_mmap.c#L79

Check your file system. I guess it should be in /tmp directory.

[2019-06-06 14:52] artpol84 commented on #6742
Im taking it back: initially error appears here:
https://github.com/open-mpi/ompi/blob/v3.1.x/opal/mca/pmix/pmix2x/pmix/src/mca/gds/ds12/gds_dstore.c#L1178
So it’s not

[2019-06-06 15:49] mdong opened #6743 "srun no longer support --cpu_bind in 19.05"
Hi,

Slurm 19.05.0 no longer support --cpu_bind, it only support --cpu-bind now:
[code]

It is still supported on 18:

[code]

This change cause mpirun with slurm to error out with:
[code]

This breaks mpirun under Slurm 19+ while execute with srun directly would still work, could you please update following line? Thanks for all the good work.

https://github.com/open-mpi/ompi/blob/98afc838aa53da8

[2019-06-06 18:58] jsquyres commented on #6743
Greetings @mdong; thanks for reporting the issue.

This was actually previously reported and fixed in our code base (in master and the v3.0.x, v3.1.x, and v4.0.x release branches).  None of these branches have had a release yet that includes the fixes; the next release on all of these branches will include the fix.  In the meantime, nightly snapshot tarballs of each of them are available on the Op

[2019-06-06 18:58] #6743 closed

[2019-06-06 19:11] jsquyres commented on #6633
`mpirun --mca btl_vader_backing_directory /tmp ...` should be equivalent.  You can also set MCA params in a file -- see https://www.open-mpi.org/faq/?category=tuning#setting-mca-params.

[2019-06-07 13:52] perrynzhou commented on #6729
####  relation links
- #6737
- #6738

[2019-06-07 19:50] gpaulsen commented on #6568
We don't know when this might get fixed.  Removing Milestone 4.0.2

[2019-06-07 20:45] Young768 commented on #4067
@bosilca Hi Bosilca. I am new to MPI. I'm using a library Horovod, which applies MPI to synchronize results among processes. They said that  they delegate to MPI implementation to do allreduce. [Here](https://github.com/horovod/horovod/blob/master/horovod/common/ops/mpi_operations.cc#L48) is the related code. They just call MPI_Allreduce API and say that MPI has its own ways to determine the best

[2019-06-07 20:53] gpaulsen commented on #6640
Fixed by #6670 (master)

[2019-06-07 21:03] gpaulsen commented on #6640
PRed to v4.0.x via pr #6748

[2019-06-08 18:47] bosilca commented on #4067
@Young768 you can configure the underlying collective decision function using coll_tuned_use_dynamic_rules=1 and then provide your own decision via coll_tuned_dynamic_rules_filename (both these can be set in the MCA param file). Here is an example on redefining the all reduce algorithm for very large message sizes
[code]

[2019-06-08 19:48] steven-varga commented on #6456
Can someone please post the git commit numbers where PMIx and OMPI is known to work?
OMPI commit b8a8ae939468aa16dff44d36d1437aaa5d3fe203 (HEAD, tag: v4.0.1) with PMIx 3.1.2 release fails with much similar error OP posted on top.
**configuration:**
**PMIx:** ./configure --prefix=/usr/local/ --enable-pmix-binaries --with-platform=optimized --with-hwloc=/usr/local
**OMPI:** ./configure --prefix=/usr

[2019-06-08 22:05] Young768 commented on #4067
@bosilca Thanks for your help. I did see these related tuning [codes](https://github.com/open-mpi/ompi/blob/master/ompi/mca/coll/tuned/coll_tuned_allreduce_decision.c#L78). It helps me a lot. Should I configure the collective decision when I submit the MPI_run? Or do you have a detailed manual about how to configure this parameter?  I want to have a look at what there numbers represent. Many thank

[2019-06-09 08:48] angupraveen opened #6749 "Unable to install OpenMPI v3.0.3 on bash in windows 10"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
3.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Trying to install inside bash on a windows 10 Operating syste

[2019-06-09 23:53] ggouaillardet commented on #6749
Open MPI is not officially supported on Windows, but you can try to install it from cygwin. Microsoft MPI is an other option.

[2019-06-10 11:54] NicolasYL opened #6752 "I got wrong results in MPI_SUM MPI_C_FLOAT_COMPLEX"
Thank you for taking the time to submit an issue!

#Background information

#What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v2.1

### Please describe the system on which you are running

* Operating system/version: win10

-----------------------------

# Details of the problem
code:
[code]

result is:

![image](https://user-images.githubusercontent

[2019-06-10 14:02] jsquyres commented on #6749
@ggouaillardet is right -- Open MPI is not officially supported on Windows.

That being said:

1. I'm pretty sure Cygwin works.
1. I don't know if anyone has tried Open MPI on any of the WSL Linux distributions.
1. You might also try not putting spaces in your folder names -- it looks like hwloc's configure doesn't tolerate having spaces.

[2019-06-10 14:46] jsquyres commented on #6752
By definition, the difference between 0 and -9.31323e-10 is 9.31323e-10.  😄

Remember that 9.3e-10 is 0.0000000093.  That's a very, very small number -- very close to 0.

Also recall that MPI is doing a series of floating point operations, and that single-precision floating point numbers (and computers in general) only have limited precision.  Check out articles like https://en.wikipedia.org/wiki/

[2019-06-10 14:47] #6752 closed

[2019-06-10 19:07] Young768 commented on #4067
Hi @bosilca  I just found your [paper](http://icl.cs.utk.edu/news_pub/submissions/Flex-collective-euro-pvmmpi-2006.pdf) and know how it works. Basically, MPI have two options to configure which collective algorithm to be used. One is forcing choices, another is selective file driven decision functions? Your example is using selective file driven decision functions.

Where is these selective/config

[2019-06-10 23:39] bosilca commented on #4067
Yes, my example was using a configuration file, provided as an MCA parameter. I might not have been clear enough, you need to write such a file for your specific usage. You might want to start with the example I provided, and work it up from there.

[2019-06-10 23:54] Young768 commented on #4067
Yep I found there are [three ways](https://www.open-mpi.org/faq/?category=tuning#setting-mca-params) to set these parameters. I was confused by your example above. If you don't pass the parameter name, like mpi_show_handle_leaks = 1, how can MPI know what these numbers represent?

[2019-06-11 14:45] gpaulsen commented on #6640
pr #6748 failing in cray Ci.  Possible cluster issue.

[2019-06-11 16:24] bosilca commented on #4067
The example I provided above should go in a file, let’s say .opemmpi/collective.rules, and then you add the following 2 lines in your .openmpi/mca-params.conf:
[code]

[2019-06-12 15:14] thetwom opened #6757 "Segmentation fault on MPI_Finalize"
## Background information

### What version of Open MPI are you using?
4.0.1

### Describe how Open MPI was installed
from source tarball

### Please describe the system on which you are running
* Operating system/version: SUSE Linux Enterprise Desktop 12 SP2
* Computer hardware: Intel(R) Xeon(R) CPU E3-1276 v3 @ 3.60GHz
-----------------------------

## Details of the problem
I get a segmentation

[2019-06-12 15:20] jsquyres commented on #6757
If you run with the latest 4.0.x snapshot tarball, does the same problem occur?

See https://www.open-mpi.org/nightly/v4.0.x/

[2019-06-12 20:49] #6642 closed

[2019-06-13 02:06] ggouaillardet commented on #6757
This could be a duplicate of #6524 whose fix is available in the `v4.0.x` nightly tarball.

[2019-06-13 06:55] thetwom commented on #6757
Thanks, the nightly (I tested the Jun 08-version) indeed fixes the issue.

[2019-06-13 06:55] #6757 closed

[2019-06-13 08:17] alalazo commented on #4338
If it matters, when I was hitting the issue above it was with version 3.0.1

[2019-06-13 10:23] ludwigschwardt commented on #6583
Thanks for this! I had the same issue on Mac OS X 10.10.5 and `clang`
[code]
Once I built the master branch (via `brew install --HEAD openmpi`), all is well.

[2019-06-13 11:43] #6691 closed

[2019-06-13 14:17] haraldkl opened #6758 "FPE due to int rounding in cost_calc of common_ompio_aggregators.c"
## Background information

### Version of OpenMPI: 4.0.1
### Self-compiled from the release tarball
### Please describe the system on which you are running
* Operating system/version: Arch Linux
* Computer hardware: Intel x86
* Network type: Single node

-----------------------------

## Details of the problem
When compiling our application with floating point error checking activated, the resulti

[2019-06-13 14:32] edgargabriel commented on #6758
@haraldkl please feel free to file a pr with this patch, it looks good to me. If possible, having a reproducer for the bug would also be helpful, since I could add it to our regular testsuite to avoid that we break it later accidentally.

[2019-06-13 14:47] jsquyres commented on #6758
@haraldkl @edgargabriel Can you add "target" labels to this issue so that we know what release branches are affected?  Thanks.

[2019-06-13 15:51] edgargabriel commented on #6758
@jsquyres sure, will do. This part of the code is only in master and 4.0.x

[2019-06-13 15:51] Akshay-Venkatesh commented on #6240
Hi @abouteiller Has there been any progress on fixing this bug? I just checked out master and I'm still facing issues with OSU benchmarks (although the problems go away if I use pml UCX)

Do you happen to know of a workaround for non-UCX case (`--mca pml ^ucx`)?

cc @jsquyres

[2019-06-13 16:16] haraldkl commented on #6758
Here is a (probably not minimal Fortran) program to reproduce the problem:
[crash_mpiio.txt](https://github.com/open-mpi/ompi/files/3287098/crash_mpiio.txt)

To reproduce: compile with floating point exceptions active and run with 5 processes (or some other count that does not divide 16 and is larger than 4), i.e. with gfortran:
`$ mpif90 -ffpe-trap=invalid,zero,overflow crash_mpiio.f90`
`$ mpiexe

[2019-06-13 17:39] bosilca commented on #6617
@ggouaillardet I can confirm that the new datatype engine solves your performance issue. I will therefore close this issue.

[code]

[2019-06-13 17:39] #6617 closed

[2019-06-13 19:04] artpol84 commented on #4338
@karasevb please have a look

[2019-06-13 19:05] artpol84 commented on #4338
@alalazo thank you for checking

[2019-06-14 10:58] angainor opened #6761 "segfault in PMIx when using `--oversubscribe`"
I compiled OpenMPI 4.0.1 with internal PMIx, using GCC version 8.3.0 (Ubuntu 8.3.0-6ubuntu1~18.10). No interconnect / UCX libs, pure local installation. Then, I compile the simplest program with `mpicc -g test.c`

[code]

I run with `mpirun --oversubscribe -np 64 ./test`. When using `-np 31` and more I see the following segfault

[code]
@rhc54, do you have any ideas? I haven't found anything, but

[2019-06-14 14:35] rhc54 commented on #6761
I believe we have seen this before, but I don't recall the status of it. @artpol84 @karasevb Do you have any insights?

IIRC, the immediate fix was to add one of the following two envar values to your environment:

* PMIX_MCA_gds=^ds21

* PMIX_MCA_gds=hash

I'd try these in order as using solely the hash will impact your memory footprint a bit (depending on scale of the procs/node)

[2019-06-14 15:48] artpol84 commented on #6761
@rch54
I think the issue with ds21 we had was addressed in https://github.com/pmix/pmix/pull/1156.
And there are refs to the ports to 2.2 and 3.1

[2019-06-14 15:55] artpol84 commented on #6761
@angainor is there a way to get more insights?
Backtrace in GDB with exact line would be a good starting point.

[2019-06-14 15:59] artpol84 commented on #6761
I just noticed oversubscribed specifics of your case.
@karasevb please try to reproduce.

[2019-06-14 16:35] rhc54 commented on #6761
@angainor Also might be worth testing it against the current head of the v3.1.x branch of the repo. As @artpol84 pointed out, there was a commit that might be related and has been added to that branch.

[2019-06-15 00:26] jjhursey commented on #6456
This particular fix for `PMIX_MODEX` was committed in the following PRs (Circa Jan 7, 2019)
 * OMPI v3.1.x : PR #6253 - https://github.com/open-mpi/ompi/tree/640f7812c96af286010a87a63ef8e76d1127cc85
 * OMPI v4.0.x : PR #6252 - https://github.com/open-mpi/ompi/tree/61108b6228f8450c93a8b050fc1da6228fd09517
 * OMPI master : PR #6251 - https://github.com/open-mpi/ompi/tree/950ba16aa16576582eb71941ec45

[2019-06-15 08:26] swprf9 commented on #6058
Well, I had the same issue. There is a lot of manual work with manpages compilation in ompi directory (bug?), and finally I wrote script, which do this automatically. Execute the following script from the ompi directory:

#!/bin/bash

for i in mpi/man/man3/*.3in;
do
	j=${i/.3in/.3}
	echo $i $j
	../ompi/mpi/man/make_manpage.pl \
		--package-name='Open MPI' \
		--package-version='3.1.4' \
		--ompi-d

[2019-06-17 07:53] angainor commented on #6761
@rhc54 @artpol84 Yepp, I tested against the 3.1 branch, and it works now without problems! Thanks a lot!

[2019-06-17 19:13] hppritcha commented on #6655
closed via #6711.  This problem actually was only on master.

[2019-06-17 19:13] #6655 closed

[2019-06-17 19:20] hppritcha commented on #6740
@devreal remember we removed the openib BTL from master so you can modify the OSC rdma code, but you may not be able to reproduce this on master.

[2019-06-17 19:39] jsquyres commented on #6733
It's odd that your system has `/usr/lib64`, but it's not in your linker's default path.  Where did `libpbs.so` come from -- did your sysadmin build that manually, or was that a pre-configured package from Altair?

What else is in `/usr/lib64` -- is it fairly sparse?  If so, that might imply that the PBS package / someone local put that file there, and it's not a default location for 64-bit librari

[2019-06-17 19:43] jsquyres commented on #6723
I'm afraid I know nothing about the Azure platform, but have you tried updating to Open MPI v4.x with Open UCX / the `ucx` PML (vs. the `ob1` PML + the `openib` BTL)?

[2019-06-18 14:35] snyjm-18 opened #6762 "mpirun launch failure on heterogeneous system"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
tarball
On x86:
./configure --prefix=/global/home/users/johns/opt/4.0.1 --with-slurm=no --with-ucx=/global/home

[2019-06-18 15:12] hppritcha commented on #6666
closed on 4.0.x via #6748

[2019-06-18 15:13] #6640 closed

[2019-06-18 15:15] jsquyres opened #6763 "New PMIx v2.x release for OMPI v3.1.x"
@rhc54 says there have been a few bug fixes that have accumulated in the PMIx v2.x series such that we can get a new PMIx release/drop fro the OMPI v3.1.x branch.

[2019-06-18 15:17] rhc54 commented on #6742
@connorourke Could you try building OMPI against the head of the PMIx v2.2 branch and see if the problem is still present?

[2019-06-18 15:18] hppritcha commented on #6607
closing for now.  user can reopen if there's more info on the problem.

[2019-06-18 15:18] #6607 closed

[2019-06-18 15:23] jsquyres commented on #6729
Looks like this has now been fixed.  Closing the issue.

[2019-06-18 15:23] #6729 closed

[2019-06-18 15:23] rhc54 commented on #6730
@SteVwonder any progress on getting this approved? Folks are getting ready to release updates.

[2019-06-18 23:39] SteVwonder commented on #6730
@rhc54: thanks for the heads up.  I think I've hit the perfect storm of bureaucracy and unlucky timing: the approval person has been on vacation.  So I'm not sure exactly when they will get back to me (we've been pinging on a weekly basis).

If you want, the entirety of the changes necessary are contained in this issue.  I'm totally fine with you (or anyone else) cherry picking those and contribut

[2019-06-19 04:16] rhc54 commented on #6730
Done! https://github.com/open-mpi/ompi/pull/6764

[2019-06-19 12:58] #6730 closed

[2019-06-19 15:52] snyjm-18 commented on #6762
I was able to fix the issue. The x86 installation had found zlib and the arm cores had not, so the x86 cores were compressing the data and the arm cores were not decompressing. I did not specify to use libz or to not use libz, but one of them used it and the other did not. They both have libz installed in the same place.

[2019-06-19 16:36] SteVwonder commented on #6730
Thanks @rhc54! Sorry for the extra work on your end.

[2019-06-19 17:42] hppritcha commented on #6727
Could you check which version of PSM2 is installed on your system?  Run the following command on your system and post the output to this issue:
[code]

[2019-06-19 19:17] markalle opened #6768 "hwloc symbol conflicts"
I want to open a topic for discussion about how we "should" solve it and hash out some agreement on our approach here before making a PR.  There also may need to be some cross-product coordination on the solution.

--------------------------------
summary of problem:

The issue is having multiple libraries linking against different versions of libhwloc.so, and having symbol conflicts between the h

[2019-06-20 15:32] jsquyres commented on #6768
It sounds like the Mellanox `hcoll` component is not doing the right thing -- they should be using `--with-hwloc-symbol-prefix`.  Especially if they are shipping a binary.  They should probably fix that.

Outside of that, though, I'm confused as to what the actual problem is.

1. If Open MPI compiles with its internal hwloc, we already name-shift the symbols (note: to OPAL, not OMPI), and there's

[2019-06-20 15:50] jsquyres commented on #6762
Mmm... yes, I can see how Open MPI would assume that the configuration is the same everywhere, and would therefore not detect that situation (and therefore end up in a correct-but-confusing error message).

@rhc54 Is there an easy way around this?

[2019-06-20 17:04] rhc54 commented on #6762
Only solution I can think of would be to add a flag to the "phone home" msg from each daemon indicating if compression is supported or not, and then turn it off if _any_ daemon doesn't support it. Would also have to include a flag in the launch msg (which is the only one that gets compressed) indicating if compression was or wasn't used.

Perhaps easier would be to just automatically turn off comp

[2019-06-20 17:23] jsquyres commented on #6768
I think @markalle is out for a little while, so I talked to @jjhursey about this.

He thinks that SMPI is in a case 3:

* SMPI needs an external PMIX.
* PMIX needs an external hwloc.
* So SMPI builds an external hwloc, on the argument that they don't know if the installation system will have hwloc installed, and even if it does, it doesn't know which version of hwloc will be there.
* So PMIX uses

[2019-06-20 17:25] jjhursey commented on #6768
@gpaulsen Does that fit with your understanding of the rationale? That was what I remembered of the discussion.

[2019-06-20 17:35] rhc54 commented on #6768
Ick - that strikes me as violating a bunch of build "rules". I would advise we not support that model as it is pretty guaranteed to cause problems as you can't anticipate every corner case it might hit.

Why not just do the right thing? Require they install hwloc - it's a simple dependency to add to the rpm or whatever packaging script you use. Solves the problem without creating potentially buggy

[2019-06-20 17:50] snyjm-18 commented on #6762
I just thought it was odd that the ARM cores did not automatically find the libz while the intel cores did. Libz was installed on all nodes in the same place, although they did have slightly different names. This just made is very difficult to debug.

[2019-06-20 18:32] jsquyres commented on #6762
FWIW, it's likely not the presence of `libz` that is the issue -- it's the presence of the "devel" package for `libz`.  I.e., when compiling Open MPI from source, you need the `libz` header files to be able to compile for `libz`.  It's possible that the `libz` "devel" package was installed on your x86 boxen, but not on the ARM boxen (the exact name of the package varies from distro to distro).

[2019-06-21 17:22] bosilca commented on #6677
The underlying issue is now addressed in #6695.

[2019-06-21 17:22] #6677 closed

[2019-06-21 18:32] snyjm-18 commented on #6762
Okay, that makes sense. Thank you for the explanation.

[2019-06-23 14:29] ggouaillardet commented on #6742
that sounds like a memory leak ...

[2019-06-24 02:36] MSDandrea opened #6772 "Deadlock on sequential calls of MPI_Barrier"
Hello folks, while debbuging my application I stumbled at a weird behavior of MPI_Barrier.

My program during some executions entered in deadlock when  MPI_Barrier was called consecutively, for more information see the _Details of the problem_ section.

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

Version 4.0.1 (lat

[2019-06-24 04:50] ggouaillardet commented on #6772
can you please post a reproducer ? it is virtually impossible to tell whether the bug is in Open MPI or in your code (e.g. not all processes call `MPI_Barrier()` when they should.
you might also want to try MPICH or a derivative.
If both MPI implementations have your app hang, then there is a huge probability the bug is not in the MPI library.

[2019-06-24 08:04] alexmascension opened #6773 "Calling python script with mpirun now does not work"
Hi,

I am running OpenMPI 4.0.1 on a Kubuntu 19.04 computer.

I have installed OpenMPI in my computer via conda `conda install openmpi`. In order to run mpirun with python I am using mpi4py==3.0.2.

Lastly, I was using OpenMPI v2.1.2 and I usually call parallelized python scripts within a non-parallelized python script. However, this does not happen anymore with OpenMPI v3 and v4.

In order to vis

[2019-06-24 08:29] ggouaillardet commented on #6773
are you sure `mpirun` matches the `libmpi.so` used by `mpi4py` ?

[2019-06-24 08:40] alexmascension commented on #6773
How could I check that with a python command? I guess still that the matching is correct because running `mpirun -np 3 python parallel.py` from console does indeed run the program correctly. Is it possible that calling `os.system()` or `subprocess.Popen()` from python alters the environment by which mpirun and mpi4py is called?

[2019-06-24 12:49] ggouaillardet commented on #6773
You can `type mpirun` and then `mpirun hostname` instead of a mpi4py app. If it works, then try with a `C` MPI app.

[2019-06-24 17:01] jsquyres commented on #6773
I have seen that mpi4py needs to be compiled with the exact version of Open MPI that you are using.  E.g., if you have upgraded Open MPI, you need to re-compile mpi4py (depending on how you installed mpi4py, you may need to uninstall it and re-install it to force it to recompile against your new version of Open MPI).

[2019-06-25 08:34] alexmascension commented on #6773
Hi,

I have uninstalled everything and installed `mpi4py` 3.0.1 via conda, which installs OpenMPI 3.1.4. The error continued; so I decided to create a new conda environment, and installing mpi4py automatically installed mpi 1.0 and mpich 3.2.1. Now the problem has been solved.

I uploaded a docker image to replicate the success if you want to docker: `docker pull alexmascension/mpirun-test`

Thank

[2019-06-25 08:34] #6773 closed

[2019-06-25 15:17] jsquyres commented on #6568
We discussed this again on 25 June 2019 webex: there is still an outstanding OB1 PUT pipelining protocol issue, not addressed by:

* #6556 (e630046): pml/ob1: fixed local handle sent during PUT control message
* #6621 (a16cf0e): Fix the leak of fragments for persistent sends

[2019-06-25 15:27] gpaulsen commented on #5540
Added blocker label as this is affecting real app, and the fix PR #6695 can be picked to v4.0.2

[2019-06-25 15:44] jsquyres commented on #6763
Putting "blocker" on here because the PMIx refresh is a gating factor.

[2019-06-25 15:47] jsquyres opened #6775 "New PMIx v2.x release for OMPI v3.0.x"
@rhc54 says there have been a few bug fixes that have accumulated in the PMIx v2.x series such that we can get a new PMIx release/drop fro the OMPI v3.1.x branch.

Putting "blocker" on here because the PMIx refresh is a gating factor.

[2019-06-25 15:56] mkre commented on #6240
I'm seeing an issue with BTL/tcp and Open MPI 4.0.1 when using three hosts with the following network interfaces:

* host1: eno1, lo, virbr0
* host2: eth0, lo, virbr0
* host3: eno1, eth0, lo, vboxnet0, vboxnet1, virbr0

With Open MPI 3.1.3, I can make it working with `-mca btl_tcp_if_exclude lo,virbr0`. However, this doesn't help with Open MPI 4.0.1. Specifying an `if_include` list (as suggested b

[2019-06-25 17:40] jsquyres commented on #5540
@bosilca Notes that this does not easily cherry-pick to the v3.1.x or v3.0.x branches.  As such, @hppritcha and I agree that this will be a Known Issue on the v3.0.x / v3.1.x series: the solution will be to upgrade to >= v4.0.2.

[2019-06-25 17:41] abouteiller commented on #6240
@Akshay-Venkatesh try to select only routable interfaces with `-mca btl_tcp_if_include eth0,ib1`
@mkre your IP based solution looks correct.

[2019-06-25 18:05] gcormier commented on #6723
It's something I can try to give a shot when I have a few cycles! I will report back.

[2019-06-26 08:17] mkre commented on #6240
@abouteiller, our issue is that this is not a general workaround. We are packaging a binary distribution of Open MPI and would love to see it working on all kinds of systems without requiring manual user intervention like special command line flags. With Open MPI 3, ignoring `virbr0` (and other interfaces like `docker0`) by default was a viable solution, which is no longer working with Open MPI 4.

[2019-06-26 14:05] jsquyres opened #6777 "UCX seemingly causing Python MPI tests to fail with Open MPI v4.0.1"
[As reported on the mpi4py bitbucket](https://bitbucket.org/mpi4py/mpi4py/issues/124/test-failure-with-openmpi-401), it looks like enabling UCX support in Open MPI v4.0.1 in Fedora 30 is causing some mpi4py tests to fail.

See the link above for more details, but the short version is:

* Preliminary indications look like this is a bug in Open MPI and/or UCX, not mpi4py
* The mpi4py tests in questi

[2019-06-27 22:27] MSDandrea commented on #6772
Sorry for the delay. It was a bug in my code, I noticed later that I was using MPI_Init instead of MPI_Init_thread, after I changed to MPI_Init_thread the deadlocks stopped occurring.

Thanks.

[2019-06-27 22:27] #6772 closed

[2019-06-28 19:08] hppritcha commented on #6758
#6774 fixes this in 4.0.x

[2019-06-28 19:08] #6758 closed

[2019-06-28 19:11] gpaulsen commented on #6633
PR #6634 cherry-picks these two fixes to v4.0.x branch.
Removing the Target: v4.0.x label to reflect that.

[2019-06-28 19:14] gpaulsen commented on #6613
New PMIx update has been merged to v4.0.x

@hppritcha has volunteered to verify this fix, before we close this issue.

[2019-06-28 19:19] gpaulsen commented on #6740
PR #6769 will fix this on v3.1.x
PR #6770 was just merged into v4.0.x

Removing the Target: v4.0.x label.

[2019-06-28 19:30] gpaulsen commented on #6565
Resolved on v4.0.x in PR #6634.
Removing Target: v4.0.x label.

[2019-06-28 19:37] gpaulsen commented on #6552
@jladd-mlnx Any progress?

[2019-06-28 19:37] gpaulsen commented on #6549
@jladd-mlnx Any progress?

[2019-06-28 19:41] gpaulsen commented on #6546
This has been cherry-picked into both master and v4.0.x.
Closing.

[2019-06-28 19:41] #6546 closed

[2019-06-28 19:46] #6536 closed

[2019-06-28 19:51] gpaulsen commented on #6247
@rhc54 Do you think the latest PMIx update on v4.0.x might resolve this?
https://github.com/open-mpi/ompi/pull/6776 ???

[2019-06-28 19:52] gpaulsen commented on #6228
@jsquyres Can you please reproduce with latest v4.0.x branch?

[2019-06-28 20:05] rhc54 commented on #6247
@gpaulsen I'm not sure what you are asking as there are two issues intermixed on this ticket. The external support issue was addressed by @ggouaillardet and committed back in Jan. The 32-bit issue was also addressed in Jan and included in an earlier PMIx release - the commit is [here](https://github.com/pmix/pmix/commit/ef9701a6b315fb412e827388e24f539f9c6fefcf).

Bottom line: this issue can be clo

[2019-06-29 13:50] #6247 closed

[2019-07-01 17:46] artpol84 commented on #6552
@devreal it seems that @vspetrov fixed the issue. Can you confirm?

[2019-07-01 17:49] artpol84 commented on #6777
@jsquyres

`openmpi-4.0.1-1.fc31.x86_64` seems to be older than `openmpi-4.0.1-5.fc31.x86_64`. Can this indicate that the problem was fixed?

[2019-07-01 17:50] artpol84 commented on #6777
FYI: @yosefe

[2019-07-01 18:13] jsquyres commented on #6777
@artpol84 No, please re-read my summary and/or the entire thread.

[2019-07-01 20:11] markalle commented on #6768
My concerns with the system installed libhwloc.so.# is putting restrictions on apps, and how it breaks in the current Mellanox environment.

Mellanox put conflicting hwloc_* symbols into their libhcoll.so and if Mellanox made that mistake I'm concerned that a user's app might do the same.  We could call that an app bug but even without the user explicitly building conflicting hwloc_* symbols into

[2019-07-02 08:24] devreal commented on #6552
I just tested `514e273` with the UCX 1.6.x branch and see the exact same error as reported above.

[2019-07-02 08:48] yosefe commented on #6552
@janjust can you pls confirm if OCS/UCX component checks atomic operation size is 32 or 64 before posting it to UCX?
seems do me it does not (for example in ompi_osc_ucx_fetch_and_op)

[2019-07-02 09:21] devreal opened #6785 "4.0.x: OpenIB btl segfault if not allowed"
Trying to run the 4.0.x branch on our IB cluster, I end up with a Segfault in Open MPI if a) Open MPI was compiled without UCX, and b) the openib btl was not explicitly allowed using `btl_openib_allow_ib`. Even though the message provided states that UCX should be used it seems strange that the openib btl is nevertheless selected and Open MPI dies in a Segfault.

[code]

It seems that the device n

[2019-07-02 12:53] jsquyres commented on #6785
@gpaulsen @hppritcha This seems kinda serious, although probably likely (hopefully?) a simple logic fix (i.e., investigate to make sure the same kind of exclusionary behavior happens in the OSC path, just like it does in the P2P path).

[2019-07-02 13:36] janjust commented on #6552
@yosefe , hmm, you're right, it does not.

[2019-07-02 15:21] gpaulsen commented on #6768
We will discuss this on next week's (July 9th) web-ex to try to make progress more quickly.

[2019-07-02 15:27] heasterday commented on #6727
I'm not able to reproduce this issue currently. @connorourke if you can provide your psm2 version that would allow be to better replicate your setup and perhaps reproduce the issue.

[2019-07-02 15:36] dfaraj opened #6786 "OMPI 4.0.1 TCP connection errors beyond 86 nodes"
Thank you for taking the time to submit an issue!

## Background information
we have an OPA cluster of 288 nodes.  All nodes run same OS image, have passwordless ssh setup and firewall is disabled.  We run basic OSU osu_mbw_mr tests on 2, 4, ...86 nodes and tests complete successfully.  Once we hit 88+ nodes we get

[code]

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git br

[2019-07-02 17:14] jsquyres commented on #6786
Can you try the latest 4.0.x nightly snapshot from https://www.open-mpi.org/nightly/v4.0.x/ ?

[2019-07-02 17:32] wangzpgi opened #6788 "Question about assumed-rank assumed-type"
I have a question about how assumed rank array and assumed type is being used in OpenMPI. I am building openmpi 3.1.3, and I can see that in the configuration step, it checks whether the compiler being used supports `dimension(..), type(*)`, however once it's verified, I don't see this syntax being used anywhere in the source code. Only one place mentions about assumed-rank is "gen-mpi-sizeof.pl"

[2019-07-02 18:10] anshumang opened #6789 "ompi-4.0.1 configured with `--with-ucx` and using `ucx-1.5.2` crashes in MPI_Init"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
From a source tarball downloaded from
https://www.open-mpi.o

[2019-07-02 19:06] jsquyres commented on #6788
The `gen-mpi-sizeof.pl` script is used to generate the relevant Fortran bindings for MPI_SIZEOF.  The only place that `TYPE(*), DIMENSION(..)` is mentioned in there is in the comments (saying that if all compilers supported `TYPE(*), DIMENSION(..)`, this script wouldn't be necessary 😄).

Open MPI currently uses "ignore TKR"-style directives for choice buffers, not 'TYPE(*), DIMENSION(..)'.

It's o

[2019-07-02 19:37] wangzpgi commented on #6788
Thank you very much for your explanation. Now it makes sense.

[2019-07-02 19:37] #6788 closed

[2019-07-02 20:15] connorourke commented on #6727
Hi @heasterday, sorry for the delay. I'm on holiday, back in a couple of weeks - I'll get on it then. 👍

[2019-07-02 20:51] jsquyres commented on #6789
Can you be a bit more specific about how you are running and what the exact error output is?

[2019-07-02 23:35] anshumang commented on #6789
@jsquyres
I have added a representative command line that I have used and the error output.
Please let me know if you need more information.
By adding `printf` before and after `MPI_Init`, I found that where the error was coming from.
But I have not had a chance to create a standalone MPI only reproducer program removing other dependencies such as compiling with `nvcc`, linking with `libcuda.so` a

[2019-07-03 03:02] dfaraj commented on #6786
Jeff,
it did not work unfortunately.
I downloaded the latest nightly Jun 29 and built it.
mpirun (Open MPI) 4.0.2a1
I get the below (with/without  -x OMPI_MCA_routed=direct):

-bash-4.2$ n=88;cat $PBS_NODEFILE|uniq|head -n$n > myhosts; mpirun -v -x PATH -x LD_LIBRARY_PATH -np $((n)) -map-by ppr:1:node -hostfile myhosts ./osu_mbw_mr.ompi4
------------------------------------------------------------

[2019-07-03 11:18] yosefe commented on #6789
@anshumang currently, pml/ucx conflicts with btl/uct due to malloc hooks.
I've added a note here: https://github.com/openucx/ucx/wiki/OpenMPI-and-OpenSHMEM-installation-with-UCX#running-open-mpi-with-ucx

[2019-07-03 12:27] zxdawn commented on #4338
[code]

[2019-07-03 12:47] #6761 closed

[2019-07-03 12:59] dadada15 commented on #4338
Hello guys, I came into the same problem, with openmpi3.1.0, SLURM 16.05.3. I want to run the CESM climate model with openmpi, but got the running error:
[code]
The technician on the supercomputer server told me to configure the openmpi again with the address to their SLURM lib. So I configured the openmpi3.1.0 again as follows:
[code]
But I failed in the make step :
[code]
So how can I build open

[2019-07-03 14:01] jsquyres commented on #6789
@anshumang Does @yosefe's answer address your issue?

[2019-07-03 14:13] jsquyres commented on #6788
@wangzpgi Actually, @ggouaillardet literally just updated an old PR as a first foray into supporting this kind of stuff.  If you're interested, have a look at https://github.com/open-mpi/ompi/pull/6569.

I would imagine that this stuff would be destined for Open MPI v5.0.x at the earliest -- not the v4.0.x series.

[2019-07-03 14:21] mkre commented on #6198
We're also running into this problem on AWS, but luckily there as an easy workaround (`-mca routed direct`). I've got two questions, though:

1. We don't see this issue on an Infiniband cluster. Is it possible that this only affects Ethernet clusters?
1. Are there any negative consequences (such as higher startup times) to be feared from the workaround? We are trying to find out under which circum

[2019-07-03 14:38] jsquyres commented on #6786
This seems to be related to #6198

[2019-07-03 14:40] jsquyres commented on #6198
@rhc54 Is pretty sure that he fixed this on master.

@mkre @bwbarrett @dfaraj can you try a nightly snapshot from master and see if the problem is resolved?  See https://www.open-mpi.org/nightly/master/

According to https://github.com/open-mpi/ompi/issues/6786#issuecomment-507918910, it looks like it is still broken on the v4.0 branch as of 29 June 2019.   If it is, indeed, fixed on master, @rhc5

[2019-07-03 14:58] stiobhan commented on #4338
@dadada15 have you tried with the latest patch release in the 3.1 series? That would be 3.1.4.

[2019-07-03 16:38] wangzpgi commented on #6788
@jsquyres Thanks for your updated information!

[2019-07-03 18:19] anshumang commented on #6789
@jsquyres @yosefe I got to know of this workaround from @Akshay-Venkatesh
I expected that if I build ucx stable release with default configuration and only modify the default configuration of ompi stable release to point to ucx, the ompi install would work without any additional run time command line options. Can the effect of `--enable-mca-no-build=btl-uct` during ompi configure step be set as th

[2019-07-04 02:50] dadada15 commented on #4338
Yes, I tried openmpi3.1.4 but got the same problem. Is this configure command somewhere wrong?
[code]

[2019-07-04 03:11] dadada15 commented on #4338
The SLURM in the supercomputer system seems only has pmi lib withou pmix, so I configure my openmpi with "--with-pmi=/usr/sw-cluster/slurm-16.05.3". However, when I finished configure step, I found this info
[code]
It said that pmix is internal supported, while the "./cofigure -help" said that
[code]
My understanding is that openmpi will find the pmix when the pmix is internal supported, but the t

[2019-07-04 06:47] wangshuaizs opened #6794 "How to specify service level with UCX when running RoCE v1"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v4.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from a source/distribution tarball

### Question:

Hi,
 I

[2019-07-04 06:55] dmitrygladkov commented on #6794
`UCX_IB_SL=<service level>` environment variable does it
For more information, you may run `ucx_info` tool that can give you information on how to configure UCX and etc

E.g. `ucx_info -cf` show you UCX configuraion:
[code]

[2019-07-04 07:26] wangshuaizs commented on #6794
@dmitrygladkov Thank you for your reply.

I tried to add `UCX_IB_SL=<service level>` into my cmd, and the whole cmd is as follows:
`mpirun -np 2 -H 10.10.10.4:1,10.10.10.6:1 -bind-to none -map-by slot -mca btl self --mca pml ucx -x LD_LIBRARY_PATH -x PATH -x HOROVOD_MPI_THREADS_DISABLE=1 -x UCX_NET_DEVICES=mlx4_0:2 -x UCX_IB_SL=2 <my application>`
but no RDMA traffic was found in the specify switc

[2019-07-04 08:40] mkre commented on #6198
@jsquyres, we'll test this and report back, but it may take us a couple of days.

[2019-07-04 13:18] dmitrygladkov commented on #6794
@wangshuaizs could you pls check whether it was applied by running:
[code]

it should be (`UCX_RC_VERBS_SL=2`):
[code]

thank you!

[2019-07-04 13:28] brminich commented on #6794
@wangshuaizs, plz set also UCX_IB_GID_INDEX=2 (which will select proper gid index, like you do in your ib_write_bw cmd)

[2019-07-04 13:40] wangshuaizs commented on #6794
@brminich @dmitrygladkov thank you. After adding ``UCX_IB_GID_INDEX`, it worked! So I will close this issue. Thank you again!

[2019-07-04 13:40] #6794 closed

[2019-07-04 19:46] gcormier opened #6795 "Assistance running ompi on AWS EFA"
(Note this might relate to #6723 , but I wanted to start a new thread. Right now on Azure, I have a ticket open as IB doesn't seem to be showing up on the instances so I figured I'd tackle AWS.)

I have OpenMPI 4.0.1 with UCX 1.5.1 (all manually built).

[code]

The fabric adapter is online
[code]

I am not receiving any output from this command
`hpc@ip-172-31-21-128:~/fvcom/_run$ mpirun IMB-MPI1`

[2019-07-05 00:10] ggouaillardet commented on #6795
Can you confirm you are trying to run on a single node ?
Does the command completes or hang ?

You can first try running a non MPI app
[code]

If it works, try collecting some more logs
[code]

[2019-07-05 20:19] gcormier commented on #6795
I found that the AWS EFA installer will pull down a few things and put itself in the path, so there was a bit of a nightmare going on. Fixed that up, so now I have my actual binaries being used.

I'm now able to get IMB-MPI1 working, is there a way to force this over EFA or verify what communication link it is using?

[2019-07-05 20:42] gcormier commented on #6795
Perhaps this forced something useful

`mpirun -N 2 -hostfile ~/hosts --mca iof_base_verbose 10 --mca pml_base_verbose 10 --mca odls_base_verbose 10 --mca pml ucx --mca btl ^vader,tcp,openib,uct IMB-MPI1 pingpong`

[code]

[2019-07-06 00:41] ggouaillardet commented on #6795
If I understand correctly, EFA is accessed via libfabric (e.g. __not__ ucx).

In order to force libfabric (aka ofi) you can

[code]

if it does not work, you can also try
[code]

I would expect the first command leads to better performance.

[2019-07-06 01:00] artpol84 commented on #4338
@dadada15 "internal" pmix is the one that is built-in into the OMPI tarball. It will be always found.
"internal" version is always used when you are launching with `mpirun`.
OMPI can support PMI1/2 and PMIx in parallel and select between them at runtime. I.e. it will select PMI1 when you launch with `srun` and use PMIx when launced with `mpirun`.

My comment doesn't address the main issue though.

[2019-07-06 14:22] gcormier commented on #6795
Another step forward, hopefully with helpful info:

For the first suggestion, the process hangs.

`hpc@ip-172-31-23-57:~$ mpirun -np 2 --hostfile ~/hosts --mca pml cm --mca mtl ofi --mca iof_base_verbose 10 --mca pml_base_verbose 10 --mca odls_base_verbose 10 IMB-MPI1`

[code]

Second command errors out:

`hpc@ip-172-31-23-57:~$ mpirun -np 2 --hostfile ~/hosts --mca pml ob1 --mca btl self,ofi --mc

[2019-07-07 02:05] ggouaillardet commented on #6795
`btl/ofi` is in the `master` branch but not in the `v4.0.x` branch, so the second command cannot work.

What if you
`mpirun --mca pml cm --mca mtl ofi --mca pml_base_verbose 10 --mca mtl_base_verbose 10 ...`

Hopefully, this will provide some more helpful logs.

[2019-07-07 07:14] dadada15 commented on #4338
Thanks for your answer. Now I have a general understanding of the relationship between ompi,pmi and pmix。

[2019-07-07 18:30] gcormier commented on #6795
Thanks for your continued help :)

Here was the output:

`hpc@ip-172-31-22-242:~$ mpirun -np 2 --hostfile ~/hosts --mca pml cm --mca mtl ofi --mca pml_base_verbose 10 --mca mtl_base_verbose 10 IMB-MPI1`

[code]

[2019-07-08 00:23] ggouaillardet commented on #6786
@dfaraj did you build Open MPI with `tm` support ?
if yes, you can do not need the `-host ...` option when invoking `mpirun` from a PBS script.

can you run `dmesg` on `r1i0n27` and see if the `orted` daemon was killed or crashed ?

[2019-07-08 06:21] paboyle opened #6799 "UVM buffers failing in cuIpcGetMemHandle ?"
## Background information

I'm running OpenMPI 4.0.1 self compiled over Omnipath with IFS 10.8, as distributed by Intel.

The boards are
- HPE XA with
- 4 x Nvidia Volta V100 GPU's and
- 4 OPA 100Gb ports on two PCIe dual port HFI cards.

The good news is that MPI appears to work between nodes, where these buffers are sent from explicit device memory.

However when I run four MPI ranks per node an

[2019-07-08 07:12] mkre commented on #6198
Does anyone have an idea under which circumstances this issue appears? As I said, so far we couldn't see this issue on one of our InfiniBand clusters, but only an AWS. Could it be the case that Open MPI  takes a different code path on those systems, or are we just lucky with the IB system?

[2019-07-08 14:11] dfaraj commented on #6786
using the nightly build from July 8 I can now run with 120 nodes.
but I get so many of "PSM Endpoint is closed or does not exist" at the end...

`mpirun  -x PATH -x LD_LIBRARY_PATH  -np 120 -map-by ppr:1:node -hostfile myhosts ./osu_mbw_mr.ompi4
# OSU MPI Multiple Uni Bandwidth / Message Rate Test
# [ pairs: 60 ] [ window size: 64 ]
# Size                  MB/s        Messages/s
1

[2019-07-08 18:24] sjeaugey commented on #4437
I got this same problem with Open MPI 4.0.1, when built locally on each machine (having machines with different generations of Intel CPUs).

A Sandybridge machine would not be able to communicate with Skylake nodes. Copying the Sandybridge binaries over to the Skylake nodes fixed the issue.

So we have a problem where different architectures produce different binaries (structures ?) which are not

[2019-07-08 18:33] rhc54 commented on #4437
@sjeaugey It sounds like you built with a different hwloc version on the two types of nodes?

[2019-07-08 18:45] sjeaugey commented on #4437
That was not my impression as I could not find any trace of hwloc anywhere on the nodes (so I assume both were compiled with the internal hwloc).

Reading the whole issue, I could not determine whether the fix came from the hwloc change or the fact that the binary was propagated from one machine to the others as suggested by Jeff in https://github.com/open-mpi/ompi/issues/4437#issuecomment-3414563

[2019-07-08 19:00] dfaraj commented on #6786
I have built the same OMPI using OFI instead of PSM2 directly and now that Endpoint error is gone.
So I guess this serves as a work around.  I would like to run this installation on 100+ nodes before I close this issue.  Thanx guys so far.

[2019-07-08 19:22] hppritcha commented on #6703
closing as fix has been patched back to all release branches.

[2019-07-08 19:22] #6703 closed

[2019-07-08 19:40] jsquyres commented on #6775
#6779 was merged, which brought in PMIx v2.2.3rc1.  If that clears MTT successfully, there will be a follow-on PR to bring it up to PMIx v2.2.3 (final).

[2019-07-08 19:42] jsquyres commented on #6763
#6778 was merged, which brought in PMIx v2.2.3rc1.  If that clears MTT successfully, there will be a follow-on PR to bring it up to PMIx v2.2.3 (final).

[2019-07-08 20:26] sjeaugey commented on #6799
It seems to fail inside libpsm2, which might not handle the "managed" CUDA allocations correctly and try to use IPCs on them (which they should not).

Any idea who to assign this to for PSM2 support ?

[2019-07-08 23:16] rajachan commented on #6795
From your logs, it looks like the EFA provider is getting picked up just fine:
[code]

Can you verify that your security groups are configured for EFA use correctly? See the documentation [here](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/efa-start.html#efa-start-security). More specifically:

Make sure you have both an ingress and an egress rule allowing traffic to itself (having `0.0.0.0

[2019-07-08 23:53] gcormier commented on #6795
@rajachan , I had the ingress rule set but not the egress! Adding the SG explicitly definitely resolved connectivity.

I realizing benchmarking MPI is probably an art in itself, but I have the following results which seem to indicate perhaps something is still not quite right?

## Using EFA
[code]

## Using... ? (not forcing ofi)
[code]

[2019-07-08 23:56] gcormier commented on #6795
Full output for forcing OFI : https://gist.github.com/gcormier/fcc71c7500b3fc443d83aa4e235291e7

Full output for autoselect : https://gist.github.com/gcormier/549e0f9c868e5600733d641aa2e2e342

[2019-07-08 23:59] paboyle commented on #6799
Hi thanks -

in the meantime tracked all the way back through PSM2 to a bug in CUDA (recompiled PSM2 from source, and inserted printf debugging, had a lovely 24h...)

Regarding: Using Unified Virtual Memory (cudaMallocManaged) still leads to errors:

r6i6n7.80511Benchmark_dwf: CUDA failure: cuIpcGetMemHandle() (at /nfs/site/home/phcvs2/gitrepo/ifs-all/Ofed_Delta/rpmbuild/BUILD/libpsm2-11.2.23/ptl_

[2019-07-09 00:00] paboyle commented on #6799
Closing

[2019-07-09 01:36] danziy0904 commented on #6535
Do you solve it? I have the same problem

[2019-07-09 07:31] mkre commented on #6198
@jsquyres, we have tested this and I can confirm that the hang is resolved with the nightly snapshot.

[2019-07-09 11:20] nitinpatil1985 commented on #6786
Using Intel compiler 2018 and Openmpi Jul 09, 2019 Nightly Tarball.

 Fetching the following errors
 undefined reference to `mpi_type_extent_'
 undefined reference to `mpi_type_struct_'

 I see to the previous posts seems using "--enable-mpi1-compatibility" solves the problem,
 but this option is no more supported in the recent version. Any option to get rid of this error!

[2019-07-09 11:30] ggouaillardet commented on #6786
I guess you are using the `master` branch. In this case you only have two options
 - modernize your code
 - use a release branch such as `v4.0.x` with the option you mentioned
Code modernization is by far the best way.

[2019-07-09 13:00] jsquyres opened #6801 "Fix unsafe use of gethostname() across code base"
Per discussion on https://github.com/open-mpi/ompi/pull/6797#discussion_r301564512, it looks like there's a small-but-persistent issue throughout the Open MPI code base: the use of the `gethostname()` call.  It's not a huge issue, but it would be good to clean this up, and is an excellent first PR for the code base.

In `opal_config_bottom.h`, we define `OPAL_MAXHOSTNAMELEN` to be one more than th

[2019-07-09 13:57] jladd-mlnx commented on #6723
@gcormier Please use UCX PML on Azure HPC platforms. It is well tested and gives best performance.

[2019-07-09 14:03] jladd-mlnx commented on #6552
@janjust So is the plan to add fallback to AM logic for 32 and 64 bit atomics?

[2019-07-09 15:08] bwbarrett commented on #6795
It looks like everything is working correctly.  You're running on one instance.  EFA (today) does not have shared memory support, but using ENA (ie, TCP) does have shared memory support.  While we will add shared memory support to EFA's Libfabric provider in the future, I don't have a hard timeline I can share.

[2019-07-09 15:10] gcormier commented on #6795
My intent above was to test between the two instances - 36 processes on each ( to match 36 physical cores of c5n.18xlarge) - did I do something wrong?

[2019-07-09 15:11] hppritcha commented on #6789
@anshumang could you check if this is fixed on Open MPI master branch?

[2019-07-09 15:12] jsquyres commented on #6789
@anshumang You can download nightly snapshot tarballs of master and the v4.0.x branch from here: https://www.open-mpi.org/nightly/

[2019-07-09 15:15] bwbarrett commented on #6795
You're launching 36 ranks (`-N 36`), and each c5n.18xlarge has 36 cores, so (assuming that you didn't specify a slots count in the hosts file) Open MPI will pack all the ranks onto one instance.  If you want to run on two instances, either `-N 72` or `-npernode 36` would work.

Note that even in this case, you'll see EFA perform worse than ENA for small number of instances, because of the impact o

[2019-07-09 15:26] artpol84 commented on #6768
@vspetrov FYI

[2019-07-09 15:27] jladd-mlnx commented on #6768
@markalle @artpol84 we addressed this in HCOLL.

[2019-07-09 15:29] gcormier commented on #6795
Okay, thanks. I might play around with a bit more tuning, but otherwise I think this answers most of what I need to know and can close the issue.. Is there a good place to stay up to date on the latest EFA developments other then looking for AWS blog postings?

[2019-07-09 15:33] gcormier commented on #6723
@jladd-mlnx I'll give it a shot. Sorry for the delay - IB devices weren't appearing on hc44rs, but I just tried provisioning one and it seems to be back to normal so I can spend some time on this now.

[2019-07-09 16:01] janjust commented on #6552
32/64bit atomic ops are handled. It's the 8bit and 16bit that are not, and yes for those the plan is to use AM logic.

[2019-07-09 16:02] jladd-mlnx commented on #6552
Target date?

[2019-07-09 16:13] janjust commented on #6552
@jladd-mlnx I don't have one yet

[2019-07-09 16:20] jladd-mlnx commented on #6549
@janjust please take it.

[2019-07-09 17:19] jsquyres commented on #6768
@artpol84 @vspetrov @jladd-mlnx Is this in an hcoll release?  Should this be added to https://www.open-mpi.org/faq/?

[2019-07-09 19:19] jsquyres commented on #6794
@brminich @dmitrygladkov Is this worth adding to https://www.open-mpi.org/faq/?

[2019-07-09 19:23] artpol84 commented on #6552
@devreal
Could you clarify a couple of things:
1. What IB device are you using? The reason I'm asking is I see that in your backtrace the SW atomics are used which is not what I would expect. @yosefe can you comment?
2. with 68c88e86f2c8ff515a4c54927077143de13516b9 are you seeing exactly the same backtrace?

[2019-07-09 19:27] dmitrygladkov commented on #6794
@jsquyres makes sense to me
Looks like https://www.open-mpi.org/faq/?category=openfabrics#ompi-over-roce-ucx-pml q. 46 is applicable for this information

[2019-07-09 19:33] yosefe commented on #6552
@artpol84 @janjust sorry, my comment https://github.com/open-mpi/ompi/issues/6552#issuecomment-507583222 is misleading, it was supposed to be for #6777)

The issue here is probably lack of progress calls with OSC/UCX which causes a deadlock when using SW atomics. for example. start_atomicity() looks suspicious because it does not call opal_progress() while waiting for completion.

[2019-07-09 19:59] artpol84 commented on #6552
But why at all SW atomics are involved on IB system?

[2019-07-09 20:03] artpol84 commented on #6777
@jsquyres, thanks. I missed it.

[2019-07-09 20:12] artpol84 commented on #6552
@yosefe

Bit it does calls ucp progress which should be enough for AMO, isnt' it?
https://github.com/open-mpi/ompi/blob/v4.0.x/ompi/mca/osc/ucx/osc_ucx_comm.c#L297

[2019-07-09 22:14] yosefe commented on #6552
the problem is that it progresses only one worker, is there is some other worker on that process (e.g pml/ucx or some other osc/ucx worker) it will not progress

[2019-07-09 22:15] yosefe commented on #6552
we have SW atomics if HW does not support it directly, for example on older hardware

[2019-07-09 23:52] anshumang commented on #6789
Hmm..I still see the error
`Caught signal 11 (Segmentation fault: invalid permissions for mapped object at address 0x2abd163b27e0)`
and it goes away with
`--mca btl ^uct`
This is my configure command
`./configure --prefix=/path/to/openmpi-v4.0.x-201907090241-2df46ac/install --with-ucx=/path/to/ucx-1.5.2/install`
where the ucx install is unmodified from before
I tried with minimal reproducer progra

[2019-07-10 00:56] artpol84 commented on #6552
Ok, this is important, because @janjust was trying to reproduce and couldn’t.
I guess if we will force SW AMO we will have more chances to reproduce.
I assume it is possible.

[2019-07-10 00:58] artpol84 commented on #6552
We will check the progress guess.
Since it is 4.0.x it has only one UCX worker per OSC. Though I assume that pml/UCX worker is there as well.

[2019-07-10 09:36] dmitrygladkov commented on #6794
@yosefe wdyt? should I update OMPI FAQ (RoCE over UCX PML - q.46) to mention this fact?

[2019-07-10 13:21] jsquyres commented on #6789
@hppritcha I guess this means that a fix has not been applied to the v4.0.x branch.  Is there a fix on master?

[2019-07-10 13:53] devreal commented on #6552
@artpol84  I can confirm that the issue persists with `68c88e8`:
[code]

[code]

(`req_completion` is where the Segfault happens)

Output from `ibv_devices`:
[code]

Also:

[code]

[2019-07-10 15:09] gcormier commented on #6723
Very nice. Some useful things below in case others stumble on this. Most can be found at https://github.com/gcormier/hpc-fvcom/tree/master/azure

#### Run MPI
`mpirun -npernode 44 -mca pml ucx --mca btl ^vader,tcp,openib -x UCX_IB_PKEY=$UCX_IB_PKEY --hostfile ~/hosts IMB-MPI1 sendrecv`

#### user_limits.sh
[code]

#### set_pkey.sh
[code]

[2019-07-10 15:09] #6723 closed

[2019-07-10 15:11] jladd-mlnx commented on #6723
@gcormier Great!!

[2019-07-10 15:13] jsquyres commented on #6723
@jladd-mlnx Should this be added to the OMPI FAQ as well?

[2019-07-10 15:20] gcormier commented on #6723
As someone who knows next to anything in this world, it would have been useful to have a "zero to hero" script that takes an fresh instances and runs pingpong over IB on Azure.

I would suggest such a script could be made by combining https://github.com/gcormier/hpc-fvcom/blob/master/azure/packer-ubuntu.sh as well as the tips above (with a few logouts required)

[2019-07-10 15:29] #6795 closed

[2019-07-10 17:01] paboyle commented on #6799
The cuda 10.1 execution of the code was run on a system with the cuda 9.2 kernel driver. it is possible (Tim Lanfear produced same output with cuda 9.2 and 10.1) that the 10.1 behaviour will match 9.2 once the kernel driver is updated.

This is on a centrally run supercomputer, so I can't update kernel drivers to check.

[2019-07-10 17:11] paboyle commented on #4899
Is this a duplicate of this issue?

https://github.com/intel/opa-psm2/issues/41

and

https://github.com/open-mpi/ompi/issues/6799

Looks like it was never got to the conclusion, but might be same effect.

[2019-07-10 20:09] hppritcha commented on #6785
okay this is a regression.  in an attempt to avoid printing out a warning early about no suitable openib devices being found, the logic was changed and the BTL gets "initialized" even when no allowed btl devices are available.

[2019-07-10 22:32] artpol84 commented on #6552
@devreal, thanks!

[2019-07-11 01:41] paboyle commented on #6799
I have filed:

https://github.com/intel/opa-psm2/issues/41

[2019-07-11 01:42] paboyle commented on #6799
Possibly related to:

https://github.com/open-mpi/ompi/issues/4899

[2019-07-11 07:24] yosefe commented on #6552
@devreal can I please ask what version of libibverbs and OFED are you using? it could be detected by running `rpm -q libibverbs` and `ofed_info -s`. Thanks!

[2019-07-11 11:39] devreal commented on #6552
Sure:
[code]

There is no `ofed_info` available on the system and I am not able to change the software environment. According to our admins, OFED is shipped with the installed Red Hat 7.6. I can try to query specific package versions if that helps (and I know what to look for ;))

[2019-07-11 14:09] janjust commented on #6552
@devreal Is this issue always reproduced? I can reproduce a similar trace (mine ends up in HW atomics), but the issue is not always reproduced.

[2019-07-11 16:01] nitinpatil1985 commented on #5914
I have compiled openmpi 2.0.2 with hpcx-v2.2.0-gcc-MLNX_OFED_LINUX-4.4-1.0.0.0-redhat7.3-x86_64 on redhat 7.6 using Intel 2018u2 compiler.

I am using the old version because the latest update does not work on 87++ nodes! (see: ompi/issues/6786)

MLNX_OFED_LINUX-4.6-1.0.1.1 (OFED-4.6-1.0.1)

I am running on 150 nodes as per below:
mpirun --mca btl openib,self -mca mtl mxm -mca plm_rsh_no_tree_spaw

[2019-07-11 16:04] xinzhao3 commented on #5914
Please use the UCX PML on Mellanox IB systems. It will provide the best out of box experience.

Josh

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: nitinpatil1985 <notifications@github.com>
Sent: Thursday, July 11, 2019 12:01:40 PM
To: open-mpi/ompi
Cc: Subscribed
Subject: Re: [open-mpi/ompi] openib error: "ibv_exp_query_device: invalid comp_mask" -- reported by

[2019-07-11 16:31] lriesen commented on #6682
I don't have permission to assign anyone to this issue.  Could you add the three suggested by Ralph Castain below to this issue?  Thanks.

_Hi Lee Ann

I fear so - and assign it to @hoopoepg , @brminich and @yosefe

Ralph

[2019-07-11 16:35] jladd-mlnx commented on #6682
I assigned it to myself, which means my team is working it in priority order. We are taking it and it will be fixed as soon as possible.

[2019-07-11 16:40] janjust commented on #6552
@yosefe @artpol84 Just a note on progress, though it seems that in v4.0.x opal progress isn't called, it's called in master, by extension also in the failing commit `68c88e8`.

https://github.com/open-mpi/ompi/blob/master/opal/mca/common/ucx/common_ucx.h#L66
Called in start/end_atomicity via:
[code]

[2019-07-12 04:36] nitinpatil1985 commented on #6201
I am runnig openmpi 2.1.6 with ucx and I am getting the following:

[r2i0n6:342074] *** An error occurred in MPI_Win_create
[r2i0n6:342074] *** reported by process [3024158721,403]
[r2i0n6:342074] *** on communicator MPI COMMUNICATOR 11 DUP FROM 9
[r2i0n6:342074] *** MPI_ERR_WIN: invalid window
[r2i0n6:342074] *** MPI_ERRORS_ARE_FATAL (processes in this communicator will now abort,
[r2i0n6:342074]

[2019-07-12 06:39] devreal commented on #6552
@janjust Yes, I can reproduce this consistently every time I run the reproducer. Is there a way to figure out why software atomics are being used?

[2019-07-12 07:35] nitinpatil1985 commented on #6786
From the above discussion openmpi is not working for 87++ nodes.
Is there any way to run openmpi 4.0.1 with -mca pml ucx on more than 100 nodes

[2019-07-12 08:05] ggouaillardet commented on #6786
no

[2019-07-12 14:10] jsquyres commented on #6201
Please upgrade to a more recent version of Open MPI (e.g., 4.0.1).  If you are still having problems, please open a new issue.  Thanks.

[2019-07-12 14:52] janjust commented on #6552
@devreal I would assume it's due to inbox/OFED version, not sure of a surefire way to determine the reason why SW atomics used. You're HW supports HW atomics.

[2019-07-12 16:15] DavidLaidlaw opened #6808 "gridengine+mpi not starting on multiple nodes"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installed as debian package.

### Please describe the syst

[2019-07-12 16:47] paboyle commented on #6799
Worth reopening. The bug is not OpenMPI but it prevents use of OpenMPI on important architectures.
Help applying pressure on gettging what I think is the PSM2 / CUDA incompatibility may arise.

[2019-07-12 17:37] artpol84 commented on #6552
@devreal I think we pinpointed the issue.
The error is not in the `Fetch_and_op` but in the `Rget` implementation.
OMPI request is not correctly cleaned up by osc/ucx in MPI_Wait.
@janjust will open a PR shortly.

[2019-07-12 17:38] artpol84 commented on #6552
According to @yosefe, one of the cause could be an old OFED.

[2019-07-12 18:18] hppritcha commented on #6789
@jsquyres I think Nathan did have a patch for that.  Looks like 3e1dd362411f1da5564d3402f65e9b3b74f50759 needs to get PR'd to 4.0.x

[2019-07-12 18:22] hppritcha commented on #6666
well actually the commit was cherry-picked back to 4.0.x so removing 4.0.x label and closing.

[2019-07-12 18:24] hppritcha commented on #6789
wrong we did already cherry-pick that back.  I'll try to reproduce on one of our cuda clusters.

[2019-07-12 18:32] hjelmn commented on #6789
Odd. Thought we had this fixed. Does it happen on master?

[2019-07-12 18:41] gpaulsen commented on #6666
Closing since both PRs were merged to both master and v4.0.x

[2019-07-12 18:41] #6666 closed

[2019-07-12 19:00] gpaulsen commented on #6583
@hppritcha has verified that this is fixed on v4.0.x and will be fixed in v4.0.2.

[2019-07-12 19:08] gpaulsen commented on #6228
@jsquyres Can we close this now?

[2019-07-12 19:11] gpaulsen commented on #6179
I'm going to verify this on v4.0.x next week.

[2019-07-12 19:13] gpaulsen commented on #6090
I removed awaiting code, since this is a doc only issue.

[2019-07-12 19:15] gpaulsen commented on #5969
@bwbarrett Since you reverted those commits, can we close this issue?

[2019-07-12 19:22] gpaulsen commented on #3458
@rhc54 Can this issue be closed?

[2019-07-12 19:24] gpaulsen commented on #3035
@bwbarrett What's the status of this issue?  Do we just need to PR back to release branches?

[2019-07-12 19:26] gpaulsen commented on #5083
No longer failing in v3.1.x with latest UCX.

[2019-07-12 19:26] #5083 closed

[2019-07-12 19:29] gpaulsen commented on #5115
We should retest this with new MPIR fixes that went in lately.

@lee218llnl Could you please retest this with latest master and bundled pmix.

[2019-07-12 19:31] gpaulsen commented on #5459
@geimer What is the status of this issue?

[2019-07-12 19:33] #3458 closed

[2019-07-12 19:33] gpaulsen commented on #5501
@jjhursey is this fixed with latest PMIx update?

[2019-07-12 19:34] gpaulsen commented on #5502
I'll PR this to release branches.

[2019-07-12 19:37] gpaulsen commented on #5593
@edgargabriel Can we close this Issue?

[2019-07-12 19:57] janjust commented on #6552
@devreal Can you please try testing #6810 , it fixes the issue for me, I'm using HW atomics, but your segfault signature
`[n082701:36468:0:36468] Caught signal 11 (Segmentation fault: address not mapped to object at address 0x1)`
seems identical, I'm certain it's the same issue.

[2019-07-12 20:01] DavidLaidlaw commented on #6808
Oh man, the issue is in the test case.  The "-i" option to "env" is resetting the environment to nothing.  Since that is how SGE is communicating to MPI, all the relevant info is gone.  So, user error...

Closing this issue.

[2019-07-12 20:01] #6808 closed

[2019-07-12 20:12] bwbarrett commented on #5969
I only reverted for 3.0.x and 3.1.x.  My understanding was that there was still a 4.0.x problem, but I didn't really look at it in any depth (that's why I left the 4.x label).  So I think closing is up to the 4.0.x RMs.

[2019-07-12 20:17] lee218llnl commented on #5115
I was able to attach STAT to an OpenMPI job based on the master branch. I get this warning after attaching, which I imagine is expected:

Open MPI has detected that you have attached a debugger to this MPI
job, and that debugger is using the legacy "MPIR" method of
attachment.

Please note that Open MPI has deprecated the "MPIR" debugger
attachment method in favor of the new "PMIx" debugger attchm

[2019-07-12 23:29] artpol84 commented on #6552
@devreal as @janjust noted in #6810 the issue doesn't reproduce in master (at least directly) because we significantly redesigned UCX/osc there.
I see you assigned "TargetMaster" tag here. Was there any particular reason for that? Have experienced this with the master?

[2019-07-13 01:20] #1304 closed

[2019-07-13 01:20] #2151 closed

[2019-07-13 03:39] hppritcha commented on #6801
assigning to myself as proxy for new hire starting in August

[2019-07-13 09:02] geimer commented on #5459
@gpaulsen The state on my side is still unchanged: I couldn't find time to work on this. Sorry. Note that I hit this issue just by accident - and since I'm a C/C++ programmer, Fortran stuff gets very low priority on my TODO list. That is, if you want to see this fixed anytime soon, I suggest that someone else takes care of it.

[2019-07-13 13:24] ggouaillardet commented on #5459
@geimer i fixed this in #6813. Meanwhile, you can manually download and apply the patch at https://github.com/open-mpi/ompi/pull/6813.patch

[2019-07-13 13:38] ggouaillardet commented on #5459
note to myself :
`MPI_Ialltoallw()` and `MPI_Ineighbor_alltoallw()` `mpif-h` bindings are not correct since some parameters passed to the `C` bindings are free'd before the request completes.
A similar mechanism to #2154 can be implemented to solve this correctly.

[2019-07-14 15:27] devreal commented on #6552
@artpol84 The `target:master` label was added by @hppritcha, I have not tried it with master. I will give it a shot on `master` as well though, just to make sure. (running into trouble running anything on master right now, gotta figure what's going wrong there)

@janjust Unfortunately, the error still occurs. I tried running under DDT again but the segfault occurs in a macro so I'm at a loss there

[2019-07-14 16:28] artpol84 commented on #6552
@devreal,
* Could you try with debugging version of OMPI. I recall that it shifted the segfault to an accurate place that wasn’t in the macro.
* Also DDT backtrace looks less informative compared to GDB ion the sense that it doesn’t prints function arguments. Can we have them somehow?
* In our case problem was in double request completion as the result of absence of a proper cleanup.
I’ll propose

[2019-07-14 16:36] artpol84 commented on #6552
@devreal,
And just in case, please double check that our fix was present in the build ( maybe adding printf next to our added line).
because I was 100% sure that you have the same issue as we observed.

[2019-07-14 16:38] devreal commented on #6552
I just realized that I used the wrong version in my last test, will report back when I used the actual branch with #6810.

[2019-07-14 16:47] devreal commented on #6552
OK, when using @janjust branch it works as expected, sorry for the noise and thanks a lot for the fix @artpol84 and @janjust :)

[2019-07-14 17:34] artpol84 commented on #6552
Great! That was my expectation!

[2019-07-15 07:04] devreal commented on #6552
On the use of sw atomics: I'm fairly sure the good ol' ibverbs btl supported hardware atomics on this system so in that regard switching to UCX causes a performance regression on that machine (for our use case at least). I haven't tested another IB-based systems I have access to, will do that today. What are the minimum OFED requirements for hw atomics to be available?

[2019-07-15 07:14] devreal opened #6815 "Missing symbols in internal PMIx on master"
I'm trying to run Open MPI `master` (git commit `020a591`) on our IB cluster but the startup fails with the following error:

[code]

Configure suggests the use of internal PMIx:
[code]

The symbols are indeed missing
[code]

I could not find a library that defines the missing symbol(s):

[code]

The problem does not occur on the 3.1.x and 4.0.x branches. Any idea where these symbols should come f

[2019-07-15 07:41] yosefe commented on #6552
@devreal you seem to be using rdma-core 17 which does not support HW atomics with UCX (the problem it supports only 64-bit atomics where UCX supports both 32 and 64-bit). with MLNX_OFED 4.6 (latest release) they would be supported.

[2019-07-15 11:23] ggouaillardet commented on #6815
Joseph,

these symbols should be provided by
$HOME/opt/openmpi-git-ucx/lib/openmpi/mca_pmix_pmix4x.so

When upgrading the git master branch, you sometimes have to
make distclean
and then the usual configure && make && make install

Incidentally, I noted
configure FTN=gfortran
I am not sure this is doing anything, the syntax is
configure FC=gfortran

Cheers,

Gilles

On Mon, Jul 15, 2019 at 4:14 PM

[2019-07-15 12:33] devreal commented on #6815
@ggouaillardet Thanks for your reply! I can confirm that the symbols are exported by `mca_pmix_pmix4x.so` but even after `make distclean` followed by `autogen.pl` and the usual `configure`, `make`, `make install` the symbols are not found when `mca_bfrops_v4.so` is loaded. I tried ld-preloading `mca_pmix_pmix4x.so` to force the symbols into memory but that did not work (div-by-zero in `OPAL_MCA_PM

[2019-07-15 13:12] jjhursey commented on #5501
@gpaulsen No. This still needs to be investigated.

[2019-07-15 13:14] devreal opened #6816 "UCX hangs in MPI_Win_lock on master"
I'm trying to run the example from #6552 on `master` (`020a591`) with UCX 1.5.2 (built from release tarball), which leads to process 1 being stuck in `MPI_Win_lock` and process 0 waiting in `MPI_Barrier`:

Process 0:
[code]

Process 1:
[code]
Process 1 seems to never get back from `ompi_osc_ucx_lock`.

Infiniband devices:
[code]

ibverbs version:
[code]

Open MPI was configured using:
[code]

In c

[2019-07-15 13:24] devreal commented on #6552
@yosefe Just so I understand it correctly: unless the site manages to install the latest MLNX_OFED, RMA atomics will be done in software if UCX is used (that is in 4.x and the upcoming 5.x)? That seems like a significant step back for Open MPI's RMA implementation, which so far has been the only fully usable MPI RMA implementation with decent hardware support for me. IIRC, @hjelmn mentioned the is

[2019-07-15 13:25] hjelmn commented on #6816
Might be worth running with --mca osc ^ucx --mca btl_uct_memory_domains mlx5_0 as a sanity check.

-Nathan

[2019-07-15 13:37] rhc54 commented on #6815
Try the patch at https://github.com/open-mpi/ompi/pull/6817 and see if that helps your situation. You will need to run autogen.pl and configure again.

[2019-07-15 13:43] devreal commented on #6816
@hjelmn In that case, the test case gets stuck in `MPI_Win_flush`:

Process 1:
[code]

Process 0:
[code]

[2019-07-15 13:53] hjelmn commented on #6816
Opps, fat-fingered the option: --mca btl_uct_memory_domains ib/mlx5_0 . Now I will need to track down why osc/pt2pt is hanging...

[2019-07-15 14:01] devreal commented on #6816
With `--mca btl_uct_memory_domains ib/mlx5_0` the test runs through, thanks :+1:

[2019-07-15 14:02] devreal commented on #6816
@hjelmn Should the osc/pt2pt issue be tracked separately?

[2019-07-15 14:08] zack-hable opened #6818 "mpirun segfault in mpi_comm_connect/accept on multimachine jobs"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
- OpenMPI : 4.0.1
    - also used V3.1.4, V2.1.1 and V1.10.7

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
- ```wget https://download.open-mpi.org/release/open-mpi/

[2019-07-15 14:16] devreal commented on #6815
Thanks for the PR. Unfortunately, now I am seeing the FPE I mentioned earlier during startup:
[code]

Just to make sure that the correct revision is used:
[code]

I am currently recompiling with debug symbols to get a better stack trace, will report back soon...

[2019-07-15 14:26] ggouaillardet commented on #6815
Joseph,

OPAL_MCA_PMIX3X_pmix_hash_table_get_value_ptr is a red flag that strongly suggests your install directory contains an old mca_pmix_pmix3x.so module.

If you remove your install directory and then run “make install”, that could fix your problem.

Cheers,

Gilles

Sent from my iPod

[2019-07-15 14:33] ggouaillardet commented on #6815
Joseph,

One more thing, you should not have a
opal/mca/pmix/pmix3x
directory in your source tree.

“git clean -dn” can help you spot files that should probably not be there.

Cheers,

Gilles

Sent from my iPod

[2019-07-15 15:19] devreal commented on #6815
@ggouaillardet Thanks a lot for spotting this, I wasn't aware that old pmi libraries in the installation directory might cause this problem (it makes sense when I think about it of course...). This solves both the FPE and the missing symbols, which apparently were both artifacts of this. Apologies for the noise (also to @rhc54), I will make sure to clear the installation directory in the future :)

[2019-07-15 15:19] #6815 closed

[2019-07-15 16:13] artpol84 commented on #6816
@devreal we are currently in the process of verification of the master's implementation.
It was redesigned to better support multi-threads.
I had your test from #6552 in my todo list. We will return to this once we are done with the issues in the 4.0.x branch.
Thank you, for checking.

[2019-07-15 16:15] hjelmn commented on #6816
@devreal We should track the osc/pt2pt issue separately. It is still on my TODO list to eventually kill it but it needs to work until that point.

[2019-07-15 16:38] lee218llnl commented on #5115
I may have spoke too soon. The initial attach succeeds, but a subsequent one fails (this is an error message from LaunchMON/STAT):

<Jul 15 09:33:18> <Launchmon> (INFO): Open a FIFO (/var/tmp/lee218/ompi.rzwiz7.52649/pid.98754/0/debugger_attach_fifo) failed, errno(2)

Prior to attaching and during my active debug session, I can see the debugger_attach_fifo:

bash-4.2$ ll /var/tmp/lee218/ompi.rzwiz

[2019-07-15 17:09] devreal commented on #6815
@ggouaillardet Thinking about this a little more: why doesn't Open MPI ignore the older PMI libraries and just use pick the ones it was built to use? It should be aware of the version it was linked against (esp. if it's internal) and all the libraries seem to carry the version number in their file name. The same should be true for libraries that are loaded by PMI itself, right? I might be missing

[2019-07-15 17:41] devreal opened #6819 "osc/pt2pt hangs in MPI_Win_flush"
Trying to run the example from #6552 on `master` (`020a591`) with UCX OSC disabled leads to the process performing RMA hanging in `MPI_Win_flush`:

Process 1:
[code]

Process 0 waits in `MPI_Barrier`:

[code]

The code of the example is:

[code]

Reproducible when running with `-mca osc ^ucx` and runs succeed with with `--mca osc ^ucx --mca btl_uct_memory_domains ib/mlx5_0`. I am able to reproduce

[2019-07-15 20:58] jsquyres commented on #6228
New testing:

* With openmpi-master-201907130242-020a591: `--enable-install-libpmix` works fine.
* With openmpi-v4.0.x-201907100241-d3a7360: `--enable-install-libpimx` fails in configure with the following:

[code]

That is: it fails in the libevent configury inside the pmix configury inside the pmix:pmix3x configury.

[2019-07-16 00:38] rhc54 commented on #6228
Well, duh - that configure option doesn't exist in PMIx v3.x! So I should hope it would fail.

[2019-07-16 00:39] rhc54 commented on #6228
Oh, I see - it is an OPAL level configure item. Never mind - not sure what the problem is here but it is in that OPAL configure code.

[2019-07-16 12:34] jsquyres commented on #6228
Oddly enough:

* It fails in Open MPI v4.0.0 with the error in the original description
* It *works* with Open MPI v4.0.1! 😱
* It fails with Open MPI v4.0.x HEAD (e.g., openmpi-v4.0.x-201907100241-d3a7360), with a different error than the originally-reported error (see https://github.com/open-mpi/ompi/issues/6228#issuecomment-511567413)

[2019-07-16 15:16] jsquyres commented on #5115
Per discussion on 2019-07-16 Webex, @hppritcha says he will try to reproduce on master.

@lee218llnl Can you provide a little more information?

* Does this behavior work on v3.0.x?
* Does this behavior work on v3.1.x?
* Does this behavior work on v4.0.x?
* Does this behavior work on Spectrum MPI?

[2019-07-16 17:05] hppritcha commented on #6789
@anshumang did you build Open MPI with cuda support?

[2019-07-16 17:29] lee218llnl commented on #5115
It looks like 3.0.4, 3.1.4, and 4.0.1 all fail on the reattach case. Spectrum MPI succeeds on reattach.

[2019-07-16 17:30] rodarima opened #6823 "Shared memory not working with spawned process"
After launching a new process with `MPI_Comm_spawn`, the call to allocate a shared memory region fails:

[code]

The following reproducer works with Intel MPI, buf fails with OpenMPI.

Parent code:
[code]

Worker code:
[code]

Makefile:
[code]

To run, I use `mpirun --oversubscribe -n 1 ./main`.

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git bra

[2019-07-16 17:38] hjelmn commented on #6823
Are you sure all the processes are running locally?

[2019-07-16 17:41] rodarima commented on #6823
Yes, I'm using my laptop. Sorry I forgot to mention.

---- Nathan Hjelm escribió ----

[2019-07-16 17:41] hjelmn commented on #6823
If all the processes are local then the bug is in the internal ```ompi_group_have_remote_peers()``` function. I should be able to diagnose and fix it some time today.

[2019-07-16 17:44] rodarima commented on #6823
Thanks!

Also `MPI_Comm_split_type` fails to detect they run in the same host, using the shared memory flag.

---- Nathan Hjelm escribió ----

[2019-07-16 17:44] hjelmn commented on #6823
Yup. Figured as much. That uses the same underlying code.

[2019-07-16 17:54] gpaulsen commented on #5501
@awlauria will investigate this week.

[2019-07-16 21:42] anshumang commented on #6789
@hppritcha No I did not build OpenMPI with cuda support.

`        linux-vdso.so.1 =>  (0x00007ffcd41eb000)
        /path/to/xalt-gpu/xalt/xalt/lib64/libxalt_init.so (0x00007f70a9a97000)
        libmpi.so.40 => /path/to/openmpi-v4.0.x-201907090241-2df46ac/install/lib/libmpi.so.40 (0x00007f70a9784000)
        librt.so.1 => /usr/lib64/librt.so.1 (0x00007f70a957c000)
        libpthread.so.0 => /usr/l

[2019-07-17 01:53] ggouaillardet commented on #6815
@devreal Open MPI has a modular architecture so it can load third party modules (possibly provided by ISV), that is why it cannot only load "the ones it was built to use". Keep in mind this is the `master` branch, so even if some version checks are performed, the Open MPI version of this previous `mca_pmix_pmix3x.so` module might be the same as the current `mca_pmix_pmix4x.so`

[2019-07-17 02:32] hppritcha commented on #6789
@anshumang do you know where this /path/to/xalt-gpu/xalt/xalt/lib64/libxalt_init.so library comes from?

I used nvcc to link your test case but don't see the initialization problem.  Here' what ldd reports for me:

[code]

[2019-07-17 02:59] rhc54 commented on #6228
You know, to be fair, I know why we added that option - but the reality is that the packagers have now picked PMIx up and there is no good reason to be emitting that library...and many good reasons NOT to do so. I would recommend just removing the option.

[2019-07-17 03:00] rhc54 commented on #6228
I just tested the head of the v4.0.x branch and it configures and builds just fine with `--enable-install-libpmix` on my Mac. However, I still strongly advise we remove that option.

[2019-07-17 04:17] hppritcha commented on #6785
fixed merged into v4.0.x branch via #6804

[2019-07-17 04:17] #6785 closed

[2019-07-17 21:31] janjust commented on #6552
@devreal So this issues is fixed with the branch, can it be closed?

[2019-07-18 02:09] anshumang commented on #6789
@hppritcha It is under a path where only cluster admin has access, this is the full path `/cm/shared/apps/xalt-gpu/xalt/2.6.3/lib64/libxalt_init.so`
Oddly, ldd on a compute node is different now (but the error still occurs) -
[code]

[2019-07-18 06:39] devreal commented on #6552
@janjust Yes, this can be closed when #6810 is merged :+1:

[2019-07-18 17:28] ahaichen opened #6827 "error on Mac OS X with Fortran MPI"
I am trying to run FORTRAN with MPI on my Mac. It goes fine with one core. But with more than 1 core, there will be always an error

Program received signal SIGABRT: Process abort signal.

The code is just initialized and finalized the MPI. Thanks a lot.

##----------------------------------------------
Program fortran_test
USE MPI
IMPLICIT NONE

  integer err,my_rank,ierr,p

  call MPI_Init(ierr)

[2019-07-18 19:42] edgargabriel commented on #6827
You are pulling in mca_io_romio314, which is actually not available in the 4.0.x release. The romio version in the 4.0.x release is romio321  Did you by any chance overwrite an existing Open MP installation without removing the directory first? This might lead to having a romio314 module from a previous installation (e.g. OpenMPI 3.1.x) , and that could lead to the problem that you observed.

[2019-07-18 19:51] ahaichen commented on #6827
Thanks for your reply. I install the new version when I got this problem on Fortran. So do you mean if I clean up and reinstall the openmpi, it will be fine? Thanks.

[2019-07-18 19:52] edgargabriel commented on #6827
I would suspect so.

[2019-07-18 19:53] ahaichen commented on #6827
Sure. Thanks. I will try it.

[2019-07-18 20:48] awlauria commented on #5501
In short: The `MPIR_Breakpoint()` is getting optimized out with xlc and pgi.

Unfortunately, there is no one "magic bullet" to make sure it works on all compilers. I explored adding support similar to what was done here for clang:
https://github.com/open-mpi/ompi/issues/4624

but going that approach may not be feasible. It's simple enough to add support for gcc's `__optimize__("O0")` directive (I

[2019-07-18 20:53] rhc54 commented on #5501
IIRC, you aren't supposed to be able to use MPIR-based debuggers on optimized code - you are supposed to compile your code without optimization. Otherwise, even if MPIR might work, gdb won't find the necessary symbols and/or be able to properly align with the source.

So are you saying that even without optimization turned on, the MPIR_Breakpoint is being optimized out?

[2019-07-18 21:03] awlauria commented on #5501
Do you mean the user application or OMPI? In this case, it's the way OMPI was compiled which was causing the issue.

[2019-07-18 21:05] AdamSimpson commented on #4948
FWIW the root cause of this is likely that `process_vm_readv()`/`process_vm_writev()` are disabled in the default Docker [seccomp profile](https://raw.githubusercontent.com/moby/moby/master/profiles/seccomp/default.json). A slightly less heavy handed option than `--cap-add=SYS_PTRACE` would be to modify the seccomp profile so that `process_vm_readv` and `process_vm_writev` are whitelisted by addin

[2019-07-18 21:31] hjelmn commented on #6823
I found the issue on the ompi side but the obvious fix doesn't work because PMIx doesn't provide the locality info right now. @rhc54 should it be providing locality for all local procs (even dpm). If not I can work around that.

[2019-07-18 22:00] rhc54 commented on #6823
@hjelmn Just to be sure I understand: you would like PMIx to report locality for all procs on the node, even those in another "job" (since something started by comm_spawn is in its own job). Correct?

If so, that's no problem - could have it for you by next week if that's okay.

[2019-07-18 22:04] hjelmn commented on #6823
@rhc54 Exactly. That plus a change to ```ompi_proc_allocate()``` to get the locality should be sufficient to fix this bug.

[2019-07-18 22:04] rhc54 commented on #5501
I was actually talking about OMPI - was it compiled optimized? Or with optimization turned off?

If it was optimized, then you technically can't use it for debugging, AFAIK, as the symbols required for attachment will be missing. We've seen people try all kinds of tricks over the years to work around that problem, but none of them have been successful for the general case (they sometimes work in s

[2019-07-18 22:04] hjelmn commented on #6823
Next week is ok.

[2019-07-19 14:46] janjust commented on #6549
@devreal I have a hard time reproducing this issue, what't the ucx and ompi commit?

[2019-07-19 20:03] nuriallv opened #6829 "Error running HPL on Cori"
On Cori using UGNI I'm consistently getting this error at the same point of the execution when running HPL using 8 haswell nodes & 256 processes:

[code]

#### OpenMPI master commit 5bd90ee548a8168982dbb62d0e38ed261d18bffa, build as follows:

module load PrgEnv-gnu
module rm cray-mpich/7.7.3
module rm darshan/3.1.4
module rm cray-libsci/18.07.1
module rm PrgEnv-intel/6.0.4

./autogen.pl
./configur

[2019-07-20 08:27] devreal commented on #6549
@janjust That was done using UCX 1.5.0 and Open MPI 4.0.1, both built from release branches. I will give the 4.0.x branch a try with the latest UCX release and report back.

[2019-07-22 09:27] devreal commented on #6549
@janjust I cannot reproduce this on latest `4.0.x` (git `368da00`) with UCX `1.6.x` (git `0309365`) so I'm closing this issue. Thanks for checking though :)

[2019-07-22 09:27] #6549 closed

[2019-07-22 13:51] janjust commented on #6549
@devreal , thanks - I believe a lot of your issues are sw atomic related

[2019-07-22 13:52] janjust commented on #6816
@dev real, can you try this one with ucx v1.6.x as well?

[2019-07-22 15:53] devreal commented on #6816
@janjust Just tested `master` in combination with UCX `1.6.x` and the problem persists.

[2019-07-22 19:15] hppritcha commented on #6829
The
[code]
error code is indicating something is wrong with the  source buffer.  The descriptor type is 2, so its an RDMA read initiated by the receiver process.

[2019-07-22 22:22] guserav opened #6831 "Coding Style"
## Background information
After @jsquyres [comment](https://github.com/open-mpi/ompi/pull/6734#discussion_r290305370) on my Pull Request I have looked into the [Coding Style](https://github.com/open-mpi/ompi/wiki/CodingStyle) and noticed the first comment:

That seemed a little bit odd to me as I was working on some files which definitely contained a funny mix of tabs and spaces.

At the time I di

[2019-07-22 23:51] rhc54 commented on #6831
Please look at the existing tools for this problem in the contrib directory:

https://github.com/open-mpi/ompi/blob/master/contrib/purge-tab-indents.pl

https://github.com/open-mpi/ompi/blob/master/contrib/whitespace-purge.sh

https://github.com/open-mpi/ompi/blob/master/contrib/purge-trailing-blank-lines.pl

https://github.com/open-mpi/ompi/blob/master/contrib/fix_indent.pl

https://github.com/op

[2019-07-23 02:34] ggouaillardet commented on #6831
@guserav note `ompi/mca/io/romio321/romio` is "imported" from MPICH (with some modifications).

FWIW, MPICH policy is not to replace tabs by white spaces only for the sake of it. But if a file is updated in a PR, it should have all leading tabs replaced by white spaces in order to be accepted. That sounds like a sane and pragmatic policy to me, and as far as I am concerned, I will welcome a bot/CI

[2019-07-23 03:42] rhc54 commented on #6831
The problem I have encountered with some of these policies is that they tend to discourage automation like we have developed (as cited above). Every time I edit a file, the automation goes thru and cleans up the whitespace violations...and then someone complains that the diff includes things other than code changes. This pushes one to turn off the automation - and opens the door to committing code

[2019-07-23 13:29] mwheinz opened #6833 "Need advice on debugging an issue with 3.1.3 and -mca pml ob1"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

Intel OPA build of OMPI v3.1.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Internal CI testing on a back-to-b

[2019-07-23 13:48] ggouaillardet commented on #6833
The command you posted force the use of IP over the ib0 interface for inter node communications (and vader for intra node communications).

If you do not pass `--mca pml ob1` then (native) OPA will likely be used either via libfabric or PSM2.

[2019-07-23 14:06] mwheinz commented on #6833
Interesting. Thanks for helping me understand what they're testing. Not sure why anyone would even want to use ipoib instead of native OPA....

[2019-07-23 15:11] jsquyres opened #6834 "v3.0.x: Fix MPIR_Breakpoint getting optimized out"
Refs #6828

[2019-07-23 15:12] jsquyres opened #6835 "v3.1.x: Fix MPIR_Breakpoint getting optimized out"
Refs #6828

[2019-07-23 15:13] jjhursey commented on #5501
(for the archives) I don't think the below is correct:

We can (and have for a long time) shipped an optimized MPI library that works with MPIR. The key is that the file(s) that contain the MPIR symbols is compiled with debug symbols and _not_ compiled optimized. That's why we have a funny looking Makefile near the `orted_submit.c` file. That allows the debugger to attach and work with the app. Th

[2019-07-23 15:22] rhc54 commented on #5501
We are agreeing, Josh - IF it was optimized, THEN the symbols are gone. What you are saying is that we try NOT to optimize the files with the symbols 😄

[2019-07-23 15:41] jjhursey commented on #5501
Correct. I'm just pointing out that the MPI library as a whole can still be optimized as long as that file is not.

[2019-07-23 15:51] jsquyres commented on #6831
Good discussion on the webex today.  I think we landed on a few things:

1. Let's restrict a first round of this stuff to just doing whitespace.  No copyright or other stylistic checks.
1. It would be good to have a solution that checks for whitespace problems in both git hooks *and* CI.
1. For git hooks / CI, we only want to check whitespace for the *new changes* in a PR (vs. all the whitespace i

[2019-07-23 15:59] bosilca commented on #5501
We had a similar issue in the OMPI layer regarding the debugger message queues. The solution is similar to what has been discussed here, force the compilation of certain files with additional debugging flags. Take a look at [ompi/debugger/Makefile.am](https://github.com/open-mpi/ompi/blob/master/ompi/debuggers/Makefile.am) to see how we forced automake to do so, and at [config/orte_setup_debugger_

[2019-07-23 16:03] jsquyres commented on #5501
This is why I want to see how `-O3` is getting into @awlauria's build, because the `Makefile.am` in the `orte_submit` dir is nominally doing the Right Things.

[2019-07-23 16:43] bosilca commented on #6833
This is extremely unsettling as OB1 + TCP was our defacto working setup for all environments. Fortunately, I cannot reproduce such a deadlock on my systems, even when the processes are heavily oversubscribed, so this might be some issue with your particular setting.

Do you get any output from the test before the deadlock ?

[2019-07-23 16:56] mwheinz commented on #6833
From my current round of testing it appears that the 0-byte round completes but the 1-byte round never does:

[code]

While running the test I also ran "while true; do ifstat ib0; sleep 1; done" on the other host. What I saw there was that the packet rate went to zero after the 0-byte round completed.

[2019-07-23 17:17] hppritcha commented on #6789
@anshumang  I think to try and figure out what is going on and maybe reproduce, could you please rebuild Open MPI with

[code]
added to the configure line.  And also rebuild UCX with these options:

[code]

and then rerun the test case with
[code]
and post the output to this issue either directly or as a gist?

[2019-07-23 17:22] jsquyres commented on #6393
I'm going to close this for lack of activity.

[2019-07-23 17:22] #6393 closed

[2019-07-23 17:30] anshumang commented on #6789
@hppritcha using July 17 nightly tarball from here?
https://www.open-mpi.org/nightly/v4.0.x/

[2019-07-23 17:51] bosilca commented on #6833
Strange, as a 0-byte packet translate in a message in Open MPI, and thus requires the connections to be setup between the peers. So we can't blame the TCP connection setup, the issue should be somewhere else. Unfortunately I cannot reproduce it on my setup (I only have ipoib), I would really appreciate some help to understand what is going on. Does it happen on a non-oversubscribed run ? What is t

[2019-07-23 18:07] guserav commented on #6831
@jsquyres Thank you for the summary.
The script would be as easy as:
[code]
The `-C` would be for context if Brian wants to have some in the details. If that is not needed then the `-C` can be omitted and the output of grep could be piped to `/dev/null` respectively.

Depending on whether you want to include the changes made in `$1` you might want to use `$1^` (I don't know what the github API giv

[2019-07-23 18:38] mwheinz commented on #6833
If you can instruct me on how to collect such a stack trace, I would be happy to do so - I've never quite figured out how to do that.

[2019-07-23 18:40] mwheinz commented on #6833
The primary thing pointing the finger at OMPI instead of OPA is that the same install using OMPI 2.1.2 does not experience the issue. (Which doesn't mean the problem isn't somehow in our own build of OMPI 3.1.3)

[2019-07-23 19:04] bosilca commented on #6833
To get the stack trace, you can attach with gdb to one of the processes using ```gdb -p **pib**``` and then generate the backtrace with the gdb command ```bt```. However, if order for the trace to be human readable, you would need to have a debug build of OMPI.

Before going there, can you please confirm if this bug appears with a more recent version of OMPI stable (4.0.1) ?

[2019-07-23 19:51] jsquyres commented on #6831
Does the regexp need to be:

[code]

I.e., a tab *anywhere* on a diff line that begins with `+`.

Also, just had a thought: what about committing in the directories that we know are allowed to have tabs (libevent and friends)?

[2019-07-23 20:16] guserav commented on #6831
Thank you. Forget the directories and the ^. How about:
[code]

[2019-07-23 21:43] gpaulsen opened #6836 "Document required tools for v4.0.x releases"
We (probably me) should update https://www.open-mpi.org/source/building.php to include the tool versions needed to bulid v4.0.x branch of Open MPI from github.

[2019-07-24 05:57] devreal commented on #6552
Fixed with #6810 in the `4.0.x` branch. This issue does not occur on `master`. Thanks for the fix!

[2019-07-24 05:57] #6552 closed

[2019-07-24 17:27] mwheinz commented on #6833
Unfortunately, when I built a debug version of 3.1.3 the job doesn't start - it fails with this message:

[code]

Doing that now!

[2019-07-24 18:13] awlauria commented on #6834
PR:
https://github.com/open-mpi/ompi/pull/6841

[2019-07-24 18:13] awlauria commented on #6835
PR:
https://github.com/open-mpi/ompi/pull/6842

[2019-07-24 19:21] mwheinz commented on #6833
bosilca, I appreciate your help but I made a disturbing discovery - while I always get the issue with the "official" build of ompi 3.1.3, none of my developer builds have the problem.

Looks like I'm going to be studying the build logs looking for a discrepancy.

[2019-07-24 19:54] jsquyres commented on #6831
That looks feasible.  How's this for a minor addition (disclaimer: typed here in the github UI; untested):

[code]

[2019-07-24 20:59] bosilca commented on #6833
@mwheinz another place you should look at is the system wide configuration files (${prefix-ompi-3.1}/etc/openmpi-mca-params.conf). It might contain unexpected restrictions.

[2019-07-25 00:08] ggouaillardet commented on #6833
@mwheinz that kind of issue can happen when `mpirun` and `orted` are not compatible. For example if you built `mpirun` with `--enable-debug` but orted was built without this option.

[2019-07-25 01:10] guserav commented on #6831
That is a good addition.

I believe you missed the ` | grep -E "(\.c|\.h)$")` in the for loop header, because GitHub introduced a scroll bar for the long line...

When someone tells what to do for the following questions I could open the PR for enabling Travis to check the white space:
- Where does that script need to be included? contrib/?
- How to integrate it into the .travis.yml?

[2019-07-25 12:12] mwheinz commented on #6833
@ggouaillardet, @bosilca, So, from looking at the output of autogen and configure, the differences I've noticed between the official build machine and my personal dev machine is that the official machine has infinipath headers installed (probably not the cause, but easy to check, systemd-devel (libudev.h), and ltdl.h - which seems to be part of a special version of libtool?

There were other diffe

[2019-07-25 15:20] jsquyres commented on #6833
Also, we have seen problems with IPoIB before in the past (i.e., where the IPoIB stack wasn't 100% stable, and various versions of Open MPI worked/didn't work, depending on how each OMPI version specifically used the TCP stack).  I would take `--mca btl_tcp_if_include ib0` out altogether, just to remove that variable.  Heck, you may even want to `--mca btl_tcp_if_exclude ib0 --mca oob_tcp_if_exclu

[2019-07-25 15:23] mwheinz commented on #6833
Yeah, that's what I figured. Okay.

As to your other points, I agree that ipoib can be unreliable and, actually, that's the point of this particular test - rather than testing ompi, it's supposed to be testing ipoib. The finger got pointed at ompi, however, because the test stopped working when we shifted our builds to using 3.1.3 instead of 2.1.2.

[2019-07-25 15:23] mwheinz commented on #6833
@ggouaillardet - thanks for the tip.

[2019-07-25 18:55] jsquyres commented on #6831
Yes, I think I did (miss that additional `grep -E`).

This can probably go in github.com/openmpi/ompi-scripts, because this shell script will get launched via Open MPI's Jenkins instance (we got tired of the the instability of Travis and moved away from it a while ago).

Assume that you get 2 CLI params: the oldest git hash and the newest git hash (it'll probably always be HEAD, but hey, we might

[2019-07-25 23:59] hppritcha commented on #6789
Sorry for delay.  Yes try the 4.0.x nightly.

[2019-07-26 12:09] Niken-physics opened #6847 "--use-hwthread-cpus changes behaviour of program"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
Open MPI version 3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Installed via cygwin installer

### Please descr

[2019-07-26 14:28] mwheinz commented on #6833
So, it turns out that my statement that building with different options fixes the issue was incorrect - I was unable to recreate a working build of 3.1.3 on my machines yesterday, so I have to assume my earlier success was actually a testing error - that I wasn't running the version of OMPI I thought I was.

The current state is that the problem definitely does not occur in 2.1.2 or 4.0.1 but in 3

[2019-07-26 15:12] bosilca commented on #6833
OMPI cannot run without libevent, you were lucky enough to stop your processes on NodeA outside the opal_progress loop. A possible reason is that the processes on Node A behave as if the run was oversubscribed (otherwise we should not call sched_yield), while on Node B they are all progressing. While this might introduce some delays in the communications, it should not create a deadlock.

If you c

[2019-07-26 15:38] janjust commented on #6682
@lariesen , I have a hard time reproducing this issue , can you try with hpcx-v2.4?
Alternatively, can you please share the exact commits found in your v2.3 version and info about the system that you are using: ofed version, devices, etc.

[2019-07-26 21:00] lariesen commented on #6682
I just installed HPC-X 2.4 and re-ran our previously failing tests and they pass.  So this is good.  I looked at the version numbers for OpenSHMEM in shmem.h for HPC-X 2.3 and HPC-X 2.4.  It looks 2.4.0 reverted back to an older version of OSHMEM.  Is that the case?  Do you know why? Just curious.

#define OSHMEM_MAJOR_VERSION 4
#define OSHMEM_MINOR_VERSION 1
#define OSHMEM_RELEASE_VERSION 0

#def

[2019-07-28 16:27] ifelsefi opened #6850 "mpirun 4.0.1 hangs - ssh works"
Hello

I am having issues running `mpirun` across two nodes where key-based authentication are working.

The command with

[code]

Output:

[code]

My management network is 10.0.0.174 with Infiniband on 172.16.0.20.  There's no firewall on any of these machines.

SSH works:

[code]

The nodes are CentOS 7.6.

The above mpirun command hangs indefinately with no output printed to screen and I see on

[2019-07-28 16:51] ifelsefi commented on #6850
[ompi_info.txt](https://github.com/open-mpi/ompi/files/3439371/ompi_info.txt)

[2019-07-28 23:46] ggouaillardet commented on #6850
I am very surprised SSH does not occur.

you can

[code]

in order to get the ssh command that is executed.
then you can run it manually (it will fail but should not hang).

since you are forcing IPoIB communications on ib0, you might also want to force OOB traffic on ib0 with `mpirun --mca oob_tcp_if_include ib0 ...`

you can also

[code]

and make sure there is no missing dependencies

[2019-07-29 13:12] mwheinz commented on #6833
@bosilca - this time my attempt to make a debug build worked.

All processes on the node that launched the job are in sched_yield(), on the other node they are all in poll_dispatch().

Unfortunately, the log consists of about 2k lines of text from btl_vader_fbox and I don't recognize anything as particularly significant - the last few lines of output are:

[hdsmpriv02][[34215,1],3][btl_vader_fbox.

[2019-07-29 17:44] bosilca commented on #6833
I extracted the TCP information from your log file (```grep tcp ...```) and all connections seems to be correctly established, with both sides reporting a successful handshake. Puzzling.

[2019-07-29 22:32] hkuno opened #6853 "mmap infinite recurse in opal/mca/memory/patcher"
## Background information
On certain systems, __mmap and mmap point to the same function.

For example:

[code]

This causes `intercept_mmap` to infinitely recurse when `HAVE___mmap` is defined because `intercept_mmap` directly calls `__mmap`:
[code]

However, memory_patcher_component.c includes a comment that says that `intercept_mmap` calls `__mmap` in order to support darwin/Apple's internal `m

[2019-07-30 09:21] ivyJchen opened #6854 "openmpi-3.1.1 np=256 ppn=128 UCX_TLS=rc fail"
Thank you for taking the time to submit an issue!

## Background information
I am running into problems across 2 machines with openmpi-3.1.1 by set   **UCX_TLS=rc** flag. but with openmpi4.0 ，it is ok。

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

openmpi v3.1.1
ucx：1.6.0
knem：1.1.3.90mlnx1
xpmem：0.2
hcoll：v4.3.2711 (9353efc)

### Describe ho

[2019-07-30 09:28] yosefe commented on #6854
@ivyJchen pls try to increase device BAR size by mlxconfig tool to allow more contexts (requires reboot):
[code]
NOTE: 'mt4119_pciconf0' below should be replaced by another name according to the device model on your machine, for example mt4115_pciconf0 or mt4117_pciconf0.

[2019-07-30 09:32] ivyJchen commented on #6854
ibv_devinfo -v | grep ctx
Failed to open device
        max_device_ctx:                 508

[2019-07-30 09:41] ivyJchen commented on #6854
@yosefe Yossi thanks for answer 。by the way ，what is the default SIZE of the mlxconfig  PF_LOG_BAR_SIZE . and how to see the config.

[2019-07-30 10:49] yosefe commented on #6854
default is 5:
[code]

[2019-07-30 11:39] ivyJchen commented on #6854
@yosefe  thanks very much . it solved my problem

[2019-07-30 11:39] #6854 closed

[2019-07-30 14:11] jsquyres commented on #6853
Do we know for sure that we do not need to intercept `__mmap` anywhere?

I.e., would a more conservative fix be to check in the C code for `mmap == __mmap`, and react appropriately?  (i.e., not cause infinite recursion)

[2019-07-30 16:55] artpol84 commented on #6682
@lariesen this was a versioning mistake in OMPI (see https://github.com/open-mpi/ompi/commit/0c3e76ec908444c51c2ef774da4cd89ecce49f99).
HPCX 2.3 picked it up accidentally.

[2019-07-30 16:56] janjust commented on #6682
@lariesen , if the above solution is satisfactory, please close the issue.

[2019-07-30 17:16] lariesen commented on #6682
Closing because problems can not be reproduced with latest HPC-X package

[2019-07-30 17:16] #6682 closed

[2019-07-30 23:54] hkuno commented on #6853
We could set `result = (void*)(intptr_t) memory_patcher_syscall(SYS_mmap, start, length, prot, flags, fd, offset)` if `mmap == __mmap` .

But is the original code really doing the right thing when it calls `__mmap` directly instead of invoking the `memory_patcher_syscall` if `__MMAP` is defined, given that the comment in `intercept_mmap` says that the reason to call `__mmap` directly is to support

[2019-07-31 13:41] jsquyres commented on #6853
My question about `__mmap` is: do we ever need to support it anywhere else?  I.e., is there a case (e.g., on Linux) where `__mmap` exists and is different than `mmap`?

[2019-07-31 13:45] hjelmn commented on #6853
No.

[2019-07-31 14:37] ifelsefi commented on #6850
[code]

It looks like the full FDQN isn't being used by SSH and so it's hanging on host key checking.

Though after I add the host key we still get no output...

[code]

[2019-07-31 14:43] ifelsefi commented on #6850
Never mind!  Now working!  Thank you!

[2019-07-31 14:57] ifelsefi commented on #6850
Basically the issues seem to involve:

1) OpenMPI for some reason does not use FDQN which triggers host key checking prompt that hangs
2) My Slurm submit host needed a new firewall rule to allow the OpenMPI test to work

I am unsure if there's a way for us to avoid the first problem as this will cause problems for users.

[2019-08-01 01:50] ggouaillardet commented on #6850
@itelsefi you might want to try
[code]
and see if it helps regarding the FQDN.

That being said, you might not need this at all.
If all the host keys are set by the sysadmin in `/etc/ssh/ssh_known_hosts` with FQDN, then why not add the same keys but **without** the FQDN ?

[2019-08-01 12:10] mwheinz commented on #6833
So, in a fascinating turn of events, I had a chance to try and reproduce the problem with 3.1.4 and the problem does not appear to exist in that release.

I'm stress testing now to try and make sure - but at the moment, the full 100 processes on 2 nodes run has successfully completed ~10 times whereas with 3.1.3 it failed every time.

[2019-08-01 14:40] mwheinz opened #6856 "infinipath/psm1 is reaching end-of-life"
The old QLogic/Intel Infinipath DDR HCA has been officially end-of-life'd with the date set for March, 2020.

Given that circumstance, it seems appropriate to remove support for that HCA from OMPI by removing the original ./ompi/mca/mtl/psm component. Note that PSM1 appears to be supported by OFI so will still be usable through that interface.

Support and development for OPA 100 (i.e., PSM2) is s

[2019-08-01 17:02] ifelsefi commented on #6850
Hi @ggouaillardet

I am the system administrator.

I am unsure why OpenMPI would not preserve the FQDN if I supply that in a hostfile or as ```--host``` though I will set ```orte_keep_fqdn_hostname=true`` in openmpi-mca-params.conf so our users do not run into this problem.

Thanks for the help!

[2019-08-01 17:02] #6850 closed

[2019-08-01 21:19] wkliao opened #6858 "Fortran MPI_FILE_GET_POSITION bug"
Fortran test program ompi/mca/io/romio321/romio/test/fmisc.f.in
fails when calling MPI function MPI_FILE_GET_POSITION.

I tested it with the master branch and 4.0.1 release, both built with romio and without romio.
Note the Fortran file is created after running configure and available in BUILD_DIR/ompi/mca/io/romio321/romio/test/fmisc.f

The same test program passes when compiled with MPICH.
I che

[2019-08-01 22:58] edgargabriel commented on #6858
Thanks for the bug report, I will look into it.

[2019-08-02 16:42] DebRez opened #6859 "ibm test failing"
Since the pull request #6811 was merged into ompi master I get the following error when tests are compiling:

/usr/bin/ld: op_usempif08.o: in function `somewhat_less_':
scratch/TestGet_IBM/ompi-tests/ibm/collective/op_usempif08.F90:68: undefined reference to `mpi _f08_types_mp_ompi_datatype_op_ne_'
/usr/bin/ld: op_usempif08.o: in function `MAIN__':
scratch/TestGet_IBM/ompi-tests/ibm/collective/op_

[2019-08-02 16:42] mwheinz opened #6860 "Openmpi 3.1.4 segv in point to point communications using CM."
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v3.1.4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

built from a git clone of v3.1.4.

### Please describe the

[2019-08-02 16:53] mwheinz commented on #6860
Looks like the problem only occurs when CM is being used. Switching to ob1 for pt2pt prevents the crash:
[code]

[2019-08-02 16:55] bosilca commented on #6860
The sync is atomically swapped to 1 when the request is marked as completed. The fact that the sync is already set to 1 (according to the backtrace) indicates that somehow the MPI request has already been marked as completed. That a starting point to find the culprit.

[2019-08-02 17:11] mwheinz commented on #6860
Is it possible a request structure is being re-used without being cleared out?

[2019-08-02 17:26] bosilca commented on #6860
I don't know the CM mechanism for handling requests, but if CM does the right thing (aka. call OMPI_REQUEST_INIT before using a request) then no, it is not possible (the sync is stored as a void* in the req_complete field).

[2019-08-02 17:37] mwheinz commented on #6860
@bosilca - I'm not sure that's right. The value of sync isn't 1, the *address* of sync is 1. That's what's causing the segv. The implication is that the request pointer itself is corrupt.

Maybe this line is the problem?

[code]

[2019-08-02 21:53] hppritcha commented on #6613
verified this works with v4.0.x at e547a2b94d315e48bb32de950d58966289327348

[2019-08-02 21:54] #6613 closed

[2019-08-03 16:15] hjelmn commented on #6823
@rhc54 I can confirm this is now fixed on master. Can the change be back-ported to the release braches?

[2019-08-05 01:05] ggouaillardet commented on #6860
TL;DR open-mpi/ompi@32853258842ef25ec8ba74b3cb9a4e81217dc24b has to be backported, I'll issue a PR shortly.

Here is what happens :

`ompi_request_complete()` in invoked a first time by `mtl/ofi` here

[code]

and then a second time by `pml/cm` here

[code]

and based on the code, `ompi_request_complete()` is not supposed to be called twice since
the `req_complete_cb` would be invoked twice, and t

[2019-08-05 13:12] gpaulsen commented on #5540
Re-opening this issue until it's been cherry-picked to v4.0.x

[2019-08-05 14:29] mwheinz commented on #6860
@ggouaillardet

Okay - thanks. That looks like it could be cherry-picked right into 3.1.4?

[2019-08-05 14:39] rhc54 commented on #6823
@hjelmn I think it should be okay for the OMPI v4 branch, but I don't see an easy way to go further back than that. Acceptable?

[2019-08-05 14:54] mwheinz commented on #6860
@ggouaillardet - a quick spot check does indicate that patch fixes the problem.

[2019-08-05 18:53] gpaulsen commented on #5540
v4.0.x backport: https://github.com/open-mpi/ompi/pull/6863

[2019-08-05 23:30] ggouaillardet commented on #6859
Thanks for the report, this has been fixed in #6861

[2019-08-05 23:30] #6859 closed

[2019-08-06 09:57] zerothi commented on #6631
Note that even when doing:
[code]
fails. I.e. even a null-string will not work... :(

Also, any progress on this?

[2019-08-06 09:58] zerothi commented on #6631
@jjhursey I don't know how I could unassign a person! Could you please add him again? Thanks! :)

[2019-08-06 10:33] zerothi commented on #6631
Yet another discovery. Env-vars are not exported before parsing:
[code]
does not work.

@jjhursey should this be submitted as a new bug?

[2019-08-06 12:09] mwheinz commented on #6860
A thorough test indicates that cherry-picking patch [3285325 ](https://github.com/open-mpi/ompi/commit/32853258842ef25ec8ba74b3cb9a4e81217dc24b )resolved all pt2pt issues I was experiencing.

[2019-08-06 12:09] #6860 closed

[2019-08-06 12:25] mwheinz commented on #6860
@ggouaillardet Have you opened the issue to backport this? Do you want me to do it?

[2019-08-06 12:59] rhc54 commented on #6631
I'm not sure I understand what you are saying here. The `-x` option states that we will set that envar to the specified value on the backend. It was expressly defined that way to allow users to set the value to something different for their applications. If you want `mpirun` to see that value, then you need to leave it in the environment.

[2019-08-06 13:12] devreal opened #6868 "UCX (SW) RMA Atomics Performance"
I'm in the process of benchmarking the latencies of different MPI RMA operations such as `put`, `get`, `fetch-op`, `accumulate`, etc. I'm using the Open MPI 4.0.x branch with the UCX 1.6.x branch on a IB cluster (mlx5). For reference, I'm including two additional runs: MVAPICH 2.3.1 (the same cluster as Open MPI 4.0.x) and Open MPI 3.1.2 (measurements from an older cluster with mlx3 devices using

[2019-08-06 13:47] hoopoepg commented on #6868
hi @devreal
could you copy here command lines how you run UCX benchmarks?

thank you

[2019-08-06 14:00] devreal commented on #6868
I don't pass any specific flags to `mpirun` except for `bind-to`:

[code]

[2019-08-06 14:01] hoopoepg commented on #6868
try to add flags ```-mca pml ucx -mca spml ucx -mca osc ucx -mca atomic ucx``` to force using UCX as transport

[2019-08-06 14:13] devreal commented on #6868
Thanks, I just ran again: the latency is the same in all cases. Just to make sure I'm actually using UCX, I also ran with `--mca osc_ucx_verbose 100 --mca pml_ucx_verbose 100 --mca btl_base_verbose 100 --mca osc_base_verbose 100 -mca osc_rdma_verbose 100`:

[code]

Is the line `select: init of component uct returned failure` something I should worry about? I'm a bit confused because I also see `mc

[2019-08-06 14:23] hoopoepg commented on #6868
it means that ```btl uct``` component is failed to initialize, it is ok

what is your configuration? how many hosts, PPN, what HCA is used?

[2019-08-06 14:31] devreal commented on #6868
I'm running on a Haswell-based cluster with dual-socket nodes, one process per node, 2 nodes (so 2 processes), ConnectX-5 HCAs:

[code]

[code]

[code]

[2019-08-06 14:33] hoopoepg commented on #6868
could you provide output from ```ibv_devinfo``` or from ```ibstat``` on compute nodes?

[2019-08-06 14:37] devreal commented on #6868
Sure :)

[code]
[code]

[2019-08-06 14:51] rhc54 commented on #6631
@zerothi Please give #6869 a try - it should solve the problem. I will then backport it to the release branches.

[2019-08-06 14:58] ggouaillardet commented on #6860
I previously issued #6862

[2019-08-06 15:04] hoopoepg commented on #6868
hmmm, ```vendor_id: 0x119f``` means that you use Bull device, but in lspci we see that there is Mellanox controller...

but ok, can you add command line parameters ```--display-map --map-by node --bind-to core``` to be sure that you run not at the same node & bind to cores on different nodes?

[2019-08-06 15:14] devreal commented on #6868
Ahh yes, it's a Bull machine.

[code]

[2019-08-06 15:16] hoopoepg commented on #6868
does ```--bind-to core``` affects to bench results?

[2019-08-06 15:20] devreal commented on #6868
I do not see a difference in the latencies with `--bind-to core` instead of `--bind-to socket`, and the map display stays the same, too (I would expect a binding to be reported in that case...):

[code]

[2019-08-06 15:32] hoopoepg commented on #6868
I see

ok, did you built UCX on compute node, right? could you provide output from commands:
[code]
and
[code]

thank you

[2019-08-06 15:39] devreal commented on #6868
I built everything on the login nodes as they have the same CPUs as the compute nodes. Would configuring UCX on the compute nodes impact the result of `configure`?

[code]

and

[code]

[2019-08-06 15:46] hoopoepg commented on #6868
as I can see all required capabilities present on HCA and UCX select appropriate transport.
is it possible to look at your benchmark? we may try to reproduce issue on our environment

[2019-08-06 15:47] devreal commented on #6868
I will put it in my github repo and post and link soon :)

[2019-08-06 15:48] gpaulsen commented on #6789
@anshumang, Hello.  Any results to report?  Thanks.

[2019-08-06 15:52] #6631 closed

[2019-08-06 16:01] hoopoepg commented on #6868
I looked one more time on your logs - it seems your device doesn't support all required atomic bitwise operations. it seems you are right - UCX uses SW emulation for atomic ops (atomic_add/or/xor/etc).

is it possible to install newer MOFED and test app?

[2019-08-06 16:08] devreal commented on #6868
Since this is a production system I don't think I can convince the admins to upgrade in the near future (it's also a system on a different site, which doesn't make my case more convincing ^^). I will file an issue and see what they say. What is the minimum required version for HW atomics? And what is the indicator saying that these operations are not supported in HW?

Is the latency I'm seeing wha

[2019-08-06 16:33] devreal commented on #6868
Here is the benchmark: https://github.com/devreal/mpi-progress

It's not pretty but does the job ^^ I will probably do a rewrite at some point to get of the macros...

[2019-08-06 16:46] hoopoepg commented on #6868
we are using MODEF 4.6
as I remember to check if MOFED has support of required ops run
[code]
both atomics should be there

about latency - fetch-and-op operation require processing on remote side to be completed, it means that remote side should be in UCX stack when request arrived to process it. here issue could be not in network speed, but in benchmark itself: how often it calls worker progress

[2019-08-06 17:10] anshumang commented on #6789
@gpaulsen None
Sorry have not been able to followup
cc @Akshay-Venkatesh in case you want to take a look

[2019-08-07 09:35] hoopoepg commented on #6868
hi @devreal
could you set variable
[code]
and run
[code]
and post output here, or look at bench performance changes?

thank you

[2019-08-07 10:08] AboorvaDevarajan opened #6870 "coll/nbc: non blocking collective fails with ompi master"
### Background Information

Few of the non blocking collective test cases in ibm suite fails with recent ompi master branch

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

OMPI version : master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc

[2019-08-07 10:42] ggouaillardet commented on #6870
I ll have a look.
The requests are pulled from a free list, so the constructor should be invoked

[2019-08-07 11:01] ggouaillardet commented on #6870
Oh I see

ompi_coll_libnbc_request_t should have ompi_coll_base_nbc_request_t as a parent instead of ompi_request_t

[2019-08-07 11:09] bodgerer opened #6871 "HDF5 parallel test suite on Lustre hangs with OMPI 4.0.5"
* Open MPI: 4.0.1
* Operating system/version: centos7.6
* Computer hardware: Intel Skylake
* Network type: Mellanox EDR InfiniBand (although not used in steps to reproduce)

I'm opening this ticket because HDF5 1.8.21 hangs on its parallel test suite with OpenMPI 4.0.1 when run on our Lustre 2.12.2 parallel filesystem. They run to completion when run on an ext4 filesystem.

The following script re

[2019-08-07 11:23] devreal commented on #6868
I can see both flags on this system:

[code]

Maybe that just shows the capabilities of the HCA, not the caps supported by the MOFED software stack?

The numbers that I reported are measured with the target immediately entering an `MPI_Barrier`, waiting for the origin to complete its operations. My understanding is that this should constantly call into the UCX stack to trigger progress.

[code]

W

[2019-08-07 11:44] zerothi commented on #6631
@rhc54 thanks for trying out (I am running tests now).

And sorry for the env-var bug. It behaves as documented. Sorry.

[2019-08-07 11:56] yosefe commented on #6868
Thanks @devreal
@Marek77 (Bull) - probably need to add more Bull HCA ID's to UCX table?
@hoopoepg can we repro the accumulate latency locally, and check where cpu % is spent? maybe it's in osc/ucx component

[2019-08-07 14:20] krempel-pt opened #6875 "Promised environment variables not set without ORTE"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using?
4.0.1

### Describe how Open MPI was installed
installed from source tarball
configured with --enable-debug --with-pmix=[...]/pmix-3.1.4rc2/install --with-libevent=/usr --with-ompi-pmix-rte --with-orte=no

### Please describe the system on which you are running

* Operating sys

[2019-08-07 14:20] amaslenn opened #6876 "mca/coll: segfault on v4.0.x"
## Background information
Getting a segfault in several tests including `mpich`'s `nbicalltoallw`. I bisected the issue and found the guilty PR: #6806 (`c9e4240e70d6e5c1186f7ba2090b8f5bc1c9dc2b is the first bad commit`).
v4.0.x before it (`git reset --hard 507fcc9`) works well.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v4.0.x

### Describe

[2019-08-07 14:21] amaslenn commented on #6876
@ggouaillardet could you please take a look?

cc @alinask @artpol84

[2019-08-07 14:23] mwheinz opened #6877 "PSM MTL is obsolete and should be removed."
The PSM MTL for Intel's TrueScale Infiniband HCAs is not being actively maintained and should be removed from the master branch.

[2019-08-07 15:29] ggouaillardet commented on #6876
Will do

Likely a duplicate of #6870

[2019-08-07 15:41] hoopoepg commented on #6868
yep, will try to reproduce on our environment. it will take a time
@devreal let me know if you going to update benchmark

thank you

[2019-08-07 16:09] devreal commented on #6868
Thank you @hoopoepg for looking into this. I have pushed a small fix this morning, it should be stable now. Let me know if you have any questions.

[2019-08-07 16:14] edwardsmith999 opened #6878 "Linking separate executables with MPI_open_port sharing port information in a text file"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using?

Tried with OpenMPI 2.0.1 and 4.0.1 release versions

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from source tarball.

### Please describe the system on which y

[2019-08-07 16:26] #6856 closed

[2019-08-07 16:26] mwheinz commented on #6856
Replaced by #6877

[2019-08-08 08:38] devreal commented on #6868
@hoopoepg fyi, I see the same latencies with the OSU benchmarks, in case that is easier for you to use than my benchmark :)

[2019-08-08 08:40] hoopoepg commented on #6868
ok, thank you for update. will try both benchs

[2019-08-08 14:35] rhc54 commented on #6875
I'm afraid doing as you suggest would somewhat defeat the purpose of those envars. They were created in response to user requests for access to that information _prior_ to calling `MPI_Init`, and hence are set by the RTE prior to exec of the binary. On the plus side, any RTE can set them if they so choose - because they are prefixed with `OMPI_` they should not interfere with non-OMPI applications

[2019-08-08 14:46] ggouaillardet commented on #6875
Ralph,

Should Open MPI documents the PMIx environment variables instead?
This is more likely what end-users are looking for, and they are also set by PMIx enabled resource managers that features direct launch (such as srun under SLURM)

Cheers,

Gilles

On August 8, 2019, at 11:35 PM, Ralph Castain <notifications@github.com> wrote:

I'm afraid doing as you suggest would somewhat defeat the purpos

[2019-08-08 14:52] rhc54 commented on #6875
I don't believe PMIx sets envars corresponding to those values - we only set the minimum required for connection purposes. AFAIK, it consists of the server URI, plus the nspace/rank of the process - only covers one of the OMPI-related envars.

[2019-08-08 14:54] rhc54 commented on #6875
If you are asking if we should document those, then I guess we could - just not sure what a user would do with that info.

[2019-08-08 15:18] rhc54 commented on #6875
But that is precisely what is being done. MPI_COMM_WORLD is precisely defined by the MPI Standard - thus, the RTE knows exactly what the assigned values will be within that application. Yes, the app may define other communicators which will have their own values, but that is beside the point.

Note that PMIx has no better info available to it than the RTE when it comes to these matters - we get ou

[2019-08-08 15:30] rhc54 commented on #6875
I should say that if the OMPI team wants PMIx to provide those envars, we certainly can do so - at least in the reference implementation, there is no restriction that would prevent it. They would simply need to contribute an appropriate plugin for that purpose. However, we can do no better than the RTE in setting them - they would get set for every application (OMPI or not) based on the info provi

[2019-08-08 15:41] krempel-pt commented on #6875
Yes, that's clear to me, and the reason why I would say you cannot provide OMPI_ variables there at all, you can only provide PMIX_ variables indicating that this is the knowledge of PMIx. But of cause, this makes is slightly more complicated from the users point of view.

In fact, as I read the MPI standard, it is required if you need information about MPI communicator size, your rank and so on,

[2019-08-08 16:25] ksheumaker opened #6881 "Card detection issue with RHEL 7.7 (kernel 3.10.0-1062.el7.x86_64)"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

Tried releases v3.0.4 and v3.1.4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

compiled from source

### Please describe the system on which you are running

* Op

[2019-08-08 16:28] yosefe commented on #6881
@ksheumaker which HCA is installed on the system?
can yous pls compile OpenMPI 4.0.1 release with UCX support as described in: https://github.com/openucx/ucx/wiki/OpenMPI-and-OpenSHMEM-installation-with-UCX. UCX is the best way to utilize Mellanox HCAs and is up-to-date with latest devices IDs.

[2019-08-08 16:36] ksheumaker commented on #6881
The HCA is MCX555A-ECAT.  I've used these exact model of cards w/ OpenMPI 3.X on other systems without issue.  The only change on this one is the newer RHEL 7.7 kernel.

I will try 4.0.1 w/ UCX and report back.

[2019-08-08 16:41] yosefe commented on #6881
@ksheumaker do you have MLNX_OFED on the system, or are you using rdma-core library from RHEL 7.7?

[2019-08-08 16:57] ksheumaker commented on #6881
rdma-core from 7.7

[2019-08-08 18:11] ksheumaker commented on #6881
With the git versions of ucx and ompi (as referenced in the document), I do not see any errors from my job output, however this message is still present on the nodes via dmesg

[code]

[2019-08-08 20:47] jjhursey commented on #5501
The full set of PRs have been merged:
 * master: https://github.com/open-mpi/ompi/pull/6828
 * v3.0.x: https://github.com/open-mpi/ompi/pull/6841
 * v3.1.x: https://github.com/open-mpi/ompi/pull/6842
 * v4.0.x: https://github.com/open-mpi/ompi/pull/6843

Can  we close this ticket?

[2019-08-08 21:24] #5501 closed

[2019-08-09 11:58] marmistrz opened #6883 "How can I verify that I'm actually using RoCE with UCX?"
## Background information
### OpenMPI version
3.1.4
I didn't use 4.x because of the outdated version of hwloc in Ubuntu repositories

### How Open MPI was installed
From source tarball, `./configure --with-hwloc --enable-openib-rdmacm --with-verbs --with-ucx`

### System

* Operating system/version: Ubuntu 18.04
* Computer hardware:
* Network type: Ethernet

-----------------------------

## Detai

[2019-08-09 12:32] alarcher commented on #5798
@rhc54 The issue still exists in 4.0.1 on illumos even if I apply this patchset. Any idea how I can diagnose and provide relevant feedback to you?

[2019-08-09 12:33] Josh-Cottingham-Arm commented on #5501
Recently tested v3.1.x (which have the PRs now merged in) with IBM 16.1.0 and PGI 18.7 compilers and can confirm that this issue is now fixed.

[2019-08-09 14:21] jsquyres commented on #5501
Thanks for the report, @Josh-Cottingham-Arm

[2019-08-09 14:32] rhc54 commented on #5798
I'm afraid you'll have to tell me more - precisely what issue are you talking about? What patch did you apply?

[2019-08-09 15:05] alarcher commented on #5798
Sorry for the lack of details. I way refering to issues such as:
[code]
which is at least similar to the one reported above.

I applied the patch at https://github.com/open-mpi/ompi/commit/c076be52afc19b1a8c1884ff7e66b04122c7ab23

but also tried the workaround suggested by @ggouaillardet

Let me know what kind of output would be useful (truss, dtrace, ...).

Kind regards,

Aurélien

[2019-08-09 18:04] rhc54 commented on #5798
I'd suggest trying the latest nightly tarball of the 4.0.x branch as the fix may have already been committed there:

https://www.open-mpi.org/nightly/v4.0.x/

[2019-08-09 18:47] alarcher commented on #5798
The issue is still present in openmpi-v4.0.x-201908090241-6d62fb0, should I follow up in another ticket?

[2019-08-09 18:56] rhc54 commented on #5798
Probably best to do so - I'm out of ideas.

[2019-08-09 21:03] yosefe commented on #6881
@ksheumaker perhaps, adding "-mca btl self" to the mpirun command line could help. It would disable btl/openib, which may be the reason for these messages.

[2019-08-09 21:12] yosefe commented on #6883
@marmistrz The FAQ entry is a bit misleading. By default, UCX would utilize the available devices, even if `-x UCX_NET_DEVICES=rxe0:1` is not specified explicitly.

There a few ways to validate this:
1. If there are any packet/data counters or statistics in RXE, like in hardware RoCE, they can indicate if RXE is used.
2. Compile UCX in debug mode as described [here](https://github.com/openucx/ucx/

[2019-08-09 22:28] oneZeroOneZeroOne opened #6888 "connectX5 100gbps yields low speed in openmpi-4.0.1"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
source tarball
compiler: tried both GNU-6 and intel-18
transp

[2019-08-09 22:32] yosefe commented on #6888
@oneZeroOneZeroOne maybe the issue is with CPU affinity set by OpenMPI, can you pls try running
`taskset -c 0 ib_read_bw  ...` and check if it still gets 100Gbs?

[2019-08-09 22:39] oneZeroOneZeroOne commented on #6888
indeed, the bandwidth goes down to about half.
without taskset:
[code]
versus:
[code]

[2019-08-09 22:46] yosefe commented on #6888
possibly the BW between NUMA domains on that server is sub-optimal..
can you try adding `-mca rmaps_dist_device mlx5_0 -mca rmaps_base_mapping_policy dist:span --report-bindings` to mpirun, and report the output?

[2019-08-09 22:53] oneZeroOneZeroOne commented on #6888
Looks like I am getting the expected full speed (100 gbps) in this way:
[code]

[2019-08-12 15:52] mwheinz opened #6890 "PML cm cannot be selected"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

### Please describe the system on which you are running

* Operati

[2019-08-12 15:53] mwheinz commented on #6890
opened by accident.

[2019-08-12 15:53] #6890 closed

[2019-08-12 16:26] marmistrz commented on #6883
@yosefe thanks for the reply. UCX logging worked for me if I built OpenUCX using `./configure`. Probably using `configure-release` would not and this is something I will definitely want to use in the future. RXE doesn't seem to have any counters.

IMO, it's really bad that OpenMPI doesn't print this information in an easily accessible manner, so I'm willing to contribute this feature. Would you be

[2019-08-12 16:40] mwheinz opened #6891 ""PML cm cannot be selected" when using libfabric & verbs"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

3.1.4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Via Intel OPA IFS package, or via developer build

### Plea

[2019-08-12 17:16] yosefe commented on #6883
@marmistrz OpenMPI has top-level "pml" components which eventually select UCX, but OpenMPI can't  tell which transport UCX eventually uses because it's a different library and SW layer. you can see probably which pml is selected by setting "-mca pml_base_verbose"
On UCX side, it's possible to force using "RDMA" transports (RoCE or IB, whatever is available) by passing -x UCX_TLS=ib to mpirun.

[2019-08-12 18:00] jsquyres commented on #6881
@yosefe A better way to disable the openib BTL is to supply `--mca btl ^openib` (which explicitly disables the openib BTL, vs. explicitly enabling a different BTL).

[2019-08-12 18:03] jsquyres commented on #6888
Looks like the issue here was just setting the locality correctly (i.e., getting the MPI process in the same NUMA locality as the NIC).

Closing the issue, since it appears resolved.

[2019-08-12 18:03] #6888 closed

[2019-08-12 18:34] ksheumaker commented on #6881
Thanks everyone for the help.  I found out the issue, these machines have intel i40e ethernet cards, and the i40iw iwarp driver was being loaded automatically.  It appears that was the culprit, if I forced openmpi to the mlx5 device then everything worked as expected.

[2019-08-12 18:34] #6881 closed

[2019-08-12 19:13] jsquyres opened #6894 "New PMIx v2.x release for OMPI v3.1.x"
@rhc54 says there have been a few bug fixes that have accumulated in the PMIx v2.x series such that we can get a new PMIx release/drop for the OMPI v3.1.x branch.

Putting "blocker" on here because the PMIx refresh is a gating factor.

[2019-08-12 19:14] jsquyres commented on #6834
Merged to the v3.0.x branch -- closing this issue.

[2019-08-12 19:14] #6834 closed

[2019-08-12 19:14] jsquyres commented on #6835
Merged to the v3.1.x branch; closing this issue.

[2019-08-12 19:14] #6835 closed

[2019-08-12 19:15] jsquyres commented on #6894
Oops -- this is a dup of #6763.

[2019-08-12 19:15] #6894 closed

[2019-08-12 20:56] edgargabriel commented on #6871
@hppritcha  not entirely sure what to do about this one, since it is using romio, not ompio.

[2019-08-12 23:35] cparrott73 opened #6896 ".dylib warning from dlopen() for libcuda on Linux"
Thank you for taking the time to submit an issue!

## .dylib warning from dlopen() for libcuda on linux

### Open MPI v3.1.3

### Open MPI was compiled with PGI 19.1 compilers from a source tarball downloaded from open-mpi.org.  Open MPI is configured with CUDA support via the --with-cuda flag to ./configure.

### Please describe the system on which you are running

* Operating system/version: N/A

[2019-08-13 02:18] Akshay-Venkatesh commented on #6896
Hi, Chris.

Is it possible that openmpi was built on a system where there was a valid `/usr/lib64/libcuda.so.1` and then there is an attempt to use the library on another machine where libcuda library isn't present?

The following lines of code are responsible for the messages you're seeing.

https://github.com/open-mpi/ompi/blob/master/opal/mca/common/cuda/common_cuda.c#L386
https://github.com/op

[2019-08-13 13:58] mwheinz commented on #6891
Okay, I've confirmed that this is not an OMPI 3.1.4 issue - the same test fails on multiple OMPI releases but appears to be an issue with libfabric configuration, not OMPI.

For future reference, the runtime option "--mca btl_base_verbose 100" is what I was looking for to get more diagnostic data.

[2019-08-13 13:58] #6891 closed

[2019-08-13 16:34] janjust commented on #6816
@devreal , so I can reproduce the issue with v1.5.x, but I cannot with 1.6.x or master ucx version, are you 100% sure you're using 1.6.x?

[2019-08-13 19:14] dshrader opened #6897 "mpirun is unable to launch jobs on Cray XC40 machine when --enable-static is used"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
3.1.4 and master nightly snapshot from Aug 13th

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

source tarball in all cases

### Please describe the system on which

[2019-08-14 02:37] rhc54 commented on #6897
Try adding `--disable-shared` to your OMPI configure line to ensure that everything is properly included in the built product.

[2019-08-14 09:44] d7919 opened #6899 "Incorrect behaviour with certain extent values for simple derived datatypes"
## Background information
I am attempting to construct a moderately complicated derived datatype but have been running into difficulties so have tried to strip back to a minimal case and in doing so I have come across what looks like incorrect behaviour. I have constructed a minimal example which can be accessed in this [gist](https://gist.github.com/d7919/72fca16c38cbc3a1e79b747a3d3509f7).

I fir

[2019-08-14 13:03] ggouaillardet commented on #6899
Thanks for the report!

There is indeed an issue in Open MPI.

Note the test program you posted is incorrect with respect to the MPI standard since overlapping derived datatypes cannot be used in `MPI_Recv()` (but they are fine in `MPI_Send()`). The rationale is a message can be split under the hood, and the fragments can be received and processed in any order, so overlapping datatypes would cause

[2019-08-14 13:20] d7919 commented on #6899
Thanks for the fast response and confirming there's an issue -- I had indeed wondered what would happen if an overlapping receive was used due to this non-deterministic behaviour but didn't realise it was prohibited in the standard. Indeed I don't really want to create an overlapping receive (or send) type but just came across this in testing to try to understand why a more complicated type wasn't

[2019-08-14 13:45] ggouaillardet commented on #6899
on second thought, let me take back the part about the deadlock.
The standard might mandate that `MPI_Wait()` progresses all the requests is has to in order to ensure the one waited for completes. (a single `MPI_Wait()`, or `MPI_Waitall()` or `MPI_Sendrecv()` is still a good practice or a better fit here, but that might not be required strictly speaking).

[2019-08-14 15:06] bosilca commented on #6899
Not quite, the datatype engine works perfectly according to the data description. Let me walk over the type map of your datatype.

First let me drop here the code related to the datatype creation, with all variables substituted with their corresponding values.
[code]
First we have a contiguous type with the typemap ((INT, 0), (INT, 4), (INT, 8), (INT, 12), (INT, 16), (INT, 20), (INT, 24), (INT, 28

[2019-08-14 15:37] d7919 commented on #6899
I certainly expect that I don't fully understand the MPI datatype, but the example type map you give above is indeed exactly what I expect to see and indeed when the extent _is_ twice the base type extent the code behaves exactly as expected and as described by that type map. It's when the extent is set to only *one* times the base type that the unexpected behaviour seems to occur.

Given the abov

[2019-08-14 15:41] ggouaillardet commented on #6899
@bosilca the code I posted is based on the Fortran reproducer provided by @d7919

The first test (e.g. ext = 8) passes, but the second one fails (e.g. ext = 4). The map is wrong but for some reasons, the true extent is correct.

[2019-08-14 15:46] bosilca commented on #6899
I looked at the datatype description and it looks exactly how it should, and I also looked at the generated output (with @ggouaillardet test) and it also look exactly how it should.
[code]
The first case you print 8 elements and then reprint them by skipping the first 2 (because the extent of 8). On the second you do the same but only skip the first int (extent being 4).

[2019-08-14 15:50] bosilca commented on #6899
@d7919 the typemap applies to the array used as send buffer right (because the sendrecv uses a contiguous buffer as the receive buffer) ?

If the typemap you mention would be what the OMPI datatype would have generated then the output would have been
[code]
and not
[code]
that we currently see for an extent of 4.

[2019-08-14 15:52] d7919 commented on #6899
In fact `0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15` is exactly what I _do_ see. I suppose this indicates the issue has been fixed between whichever versions I've been testing on and that one you are using.

[2019-08-14 15:54] jsquyres commented on #6899
Is there a discrepancy between the v4.0.x releases / branch and master?

[2019-08-14 15:57] d7919 commented on #6899
In addition to the versions I tested with (2.1.1 and 3.1.1) a colleague has just tested with 4.0.1 and reported the same unexpected result.

[2019-08-14 16:00] bosilca commented on #6899
I was indeed testing with master. All stables seems to have this issue with the extent 4, while they work with extent 8. Troubling.

For the 4.x there is an update pending (#6863).

[2019-08-14 17:41] jschwartz-cray opened #6900 "RPM build option --define 'build_all_in_one_rpm 0' appears to be broken"
## Background information
Trying to build RPMs from the SRPM

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Trying to build RPMs

### Please describe the system on which you are runnin

[2019-08-14 19:03] dshrader commented on #6897
I added `--disable-shared`, but I can now not compile... It has been a long while since I've compiled with so many static libraries, so this could be my own error. In case it isn't, and there is something up with Open MPI, here is the compile-time error:

[code]

I can't find a library that is supposed to provide these functions, either on my system or in the Open MPI source, so I am a bit at a lo

[2019-08-14 19:23] hjelmn commented on #6897
That is expected. Static only builds have been broken since CLE6. I found no way to fix them.

[2019-08-14 20:36] bosilca commented on #6899
Fix for the 3.x branch pending #6901.
Fix for the 2.x branch: apply the 3.x patch and update the copyright year by hand.

[2019-08-14 21:10] dshrader commented on #6897
I was hoping that I could at least identify the missing library and link it in dynamically, but so far, I haven't found it. Yeah, I think a 100% static build on these machines isn't possible, but linking in static Open MPI libraries to an application should be possible, correct?

[2019-08-14 22:02] dshrader commented on #6897
Found the missing library: libnl-3. I included it in the mpicc command when compiling hello_c.c and then I tried to run it. Mpirun still hangs while srun works:

[code]

So, the issue still remains when using `--disable-shared`.

[2019-08-15 08:29] ppurka opened #6902 "Second MPI_Comm_spawn fails if hostfile is changed"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

### Please describe the system on which you are running

* Operating system/version: Debian 7
* Comput

[2019-08-16 12:58] devreal commented on #6816
I have confirmed that the issue still occurs on latest Open MPI `master` and latest OpenUCX `1.6.x` branch:

[code]

[paths altered by me]

Interestingly, if I modify the test to have the target process lock and unlock the window first (and synchronized with the other process through a barrier) the test succeeds.

On the Bull system I have access to the same happens. If I set `UCX_IB_DEVICE_SPECS=

[2019-08-16 17:46] dshrader commented on #6897
Any other thoughts or suggestions?

[2019-08-16 18:23] jsquyres commented on #6897
@hppritcha Can you comment?

[2019-08-19 11:25] dfaraj commented on #6786
any updates?

[2019-08-19 12:22] solalito opened #6907 "Undefined reference opal_hwloc"
Thank you for taking the time to submit an issue!

## Background information
Running a simple C Hello World program fails with mpicc, yielding an error about undefined reference to a number of opal functions.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
Open MPI 3.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution

[2019-08-19 14:26] jsquyres commented on #6786
I'm lost in the conversation here.  Is the problem being discussed the TCP/SSH 86 process issue, or some PSM issue?

If this is no longer the TCP/SSH 86 process issue, this issue should be closed and a new issue should be opened to discuss the new question (please don't mix multiple topics on a single github issue -- thanks).

[2019-08-19 14:30] nitinpatil1985 commented on #6786
Is there any update on openmpi in which we can run our application for 87++ nodes and with the --enable-mpi1-compatibility option?

[2019-08-19 14:38] jsquyres commented on #6786
A lot of fixes have gone in to the v4.0.x branch in the run-time area.  Can you try [the latest v4.0x nightly snapshot](https://www.open-mpi.org/nightly/v4.0.x/)?

For the MPI-1 compatibility, you should talk to your upstream application providers and (strongly) encourage them to upgrade their source code -- [those APIs were deprecated in 1996, and were finally removed in 2012](https://www.open-mp

[2019-08-19 15:49] jsquyres commented on #6907
Can you both upgrade to the latest Open MPI 3.1.x (i.e., 3.1.4) and double check that your `$LD_LIBRARY_PATH` points to the correct Open MPI installation?

[2019-08-19 15:58] marmistrz commented on #6883
Thanks! @yosefe and would such a feature be accepted in UCX? This shouldn't substantially affect the performance (unlike full-fledged logging)

[2019-08-19 16:06] yosefe commented on #6883
@marmistrz you can run UCX with UCX_LOG_LEVEL=info to show a short summary of what is used
@brminich FYI

[2019-08-19 16:37] marmistrz commented on #6883
@yosefe `UCX_LOG_LEVEL` has no effect when configured by `contrib/configure-release`.

[2019-08-19 17:04] yosefe commented on #6883
@marmistrz which UCX version are you using? Release build enables INFO-level logging.

[2019-08-19 23:33] ggouaillardet commented on #6907
Also you want to run `ldd hello` before investigating your libraries installed in `/home/samouyal/usr/lib/`

[2019-08-20 04:34] nitinpatil1985 commented on #6786
Thanks, Jeff for the information!

[2019-08-20 08:21] melvynpan commented on #4877
you can wirte env variables in ~/.bashrc if your os is centos

[2019-08-20 12:52] devreal opened #6912 "UCX request not returned by MPI_Cancel"
I'm posting a bunch of requests (both through `MPI_Isend` and `MPI_Irecv`), which are tested periodically and reposted. Eventually, all requests are destroyed using `MPI_Cancel`. When using Open MPI 4.0.x and UCX (1.6.x) I get the following warning:

[code]

It seems that `MPI_Cancel` does not return the request object to UCX.

Here is a simple reproducer:

[code]

Open MPI version:

[code]

UCX v

[2019-08-20 13:12] brminich commented on #6912
According to MPI standard, you'd still  need to call MPI_Request_free. (mpi 3.1, chapter 3.8.4 Cancel)
[code]

[2019-08-20 13:51] devreal commented on #6912
Ahh right, my bad. Sorry for the noise!

[2019-08-20 13:51] #6912 closed

[2019-08-20 15:31] hppritcha commented on #6897
I'll work with Dave on this.

[2019-08-20 15:39] jsquyres commented on #6899
PRs made for v3.0.x (#6913) and v3.1.x (#6901).  Both will be merged shortly.

This commit added to a larger DDT PR for v4.0.x (#6863), which -- as of 20 Aug 2019 -- is still pending.

This fix will not be going to any older versions of Open MPI (e.g., v2.x).

[2019-08-20 17:40] jschwartz-cray opened #6914 "RPM build options --define 'install_in_opt 1' and --define 'install_modulefile 1' don't interact properly"
## Background information

Trying to build RPMs from the SRPM which get installed properly under /opt with an env modulefile in /etc/modulefiles.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution packa

[2019-08-20 22:17] nuriallv opened #6916 "Error using MPI_Comm_connect/MPI_Comm_accept"
## Details of the problem

I'm getting the following error when using MPI_Comm_connect/MPI_Comm_accept on a single node between processes spawned on different mpirun commands.

[code]
If instead I spawn a new process within the same mpirun there no error. I'm attaching a reproducer.
[reproducer.zip](https://github.com/open-mpi/ompi/files/3522818/reproducer.zip)

### Environment

OpenMPI master com

[2019-08-21 07:40] solalito commented on #6907
I installed Open MPI 3.1.4 and got the same error. Note that I've made a mistake in my original post and that the above error happens at compile-time, not run-time.

After installing the new version of OpenMPI, I noticed that not all of the libraries in the `/home/samouyal/usr/lib` had been overwritten (e.g. `libopen-pal.so.x.y.z). Also note that other versions of OpenMPI had been installed in the

[2019-08-21 07:40] #6907 closed

[2019-08-21 08:14] angainor opened #6917 "Problem with barrier / HCOLL"
I see a problem with HCOLL and `MPI_ Barrier` on an IB system running HPCX 2.4. I tested openmpi 4.0.1 and 3.1.3, and see the same behavior: when one of the ranks sleeps before entering the barrier, then the off-node ranks never get through the barrier. Ranks on the same node get through the barrier correctly. In my tests this happens when I run on 8+ compute nodes. Here is the code:

[code]
and h

[2019-08-21 09:04] yosefe commented on #6917
@jladd-mlnx FYI

[2019-08-21 13:27] jladd-mlnx commented on #6917
@vspetrov can you take a look, please. Seems stuck in multiroot VMC fan-out.

[2019-08-21 15:57] jsquyres commented on #6899
Ok, this is now merged to all the branches on which we're going to fix it: v3.0.x, v3.1.x, v4.0.x.  Closing.

[2019-08-21 15:57] #6899 closed

[2019-08-21 16:08] gpaulsen commented on #5540
The fix has been merged to both master and v4.0.x.  Closing this Issue.

[2019-08-21 16:08] #5540 closed

[2019-08-21 19:52] cparrott73 commented on #6896
Hi Akshay,.

Yes, that is correct.  This Open MPI build was linked against CUDA on our build system, and then installed to a NFS directory where it can be shared among various systems on our network.  Some of the systems have GPUs and CUDA installed, while others do not.  Obviously we do not see this warning on the CUDA-enabled systems, just the non-CUDA ones.

[2019-08-21 20:38] wkliao opened #6919 "ompi_datatype_is_contiguous_memory_layout"
A question about the behavior of function `ompi_datatype_is_contiguous_memory_layout()`
called in `ADIOI_Datatype_iscontig()` in file `ompi/mca/io/romio321/src/io_romio321_module.c`

I tested this function with a zero-length datatype, for example,
[code]
and it returns 0. meaning dtype is not contiguous. Is this expected?

On the other hand, I also check MPICH implementation of `ADIOI_Datatype_isc

[2019-08-21 21:00] bosilca commented on #6919
Indeed, the OPAL iscontig function treats empty datatypes as non-contiguous, assuming you should check upstream if you are supposed to do something with such a datatype before asking if it is contiguous. I would add a test to check if the data has some content before returning.

[code]

[2019-08-21 21:17] JosephDVL opened #6920 "allow-run-as-root Environment variables aren't honored"
Thank you for taking the time to submit an issue!

## Background information
Running OpenMPI in a docker container is often done as root.  The earlier issue #4451 and merge #5597 added two environment variables to control that behavior without the command line flag.

Trying to set those environment variables does not seem to fix all possible code paths as an error message is still returned.

### W

[2019-08-21 21:34] JosephDVL commented on #6920
I see that this has been fixed already in git.  Closing issue.

[2019-08-21 21:34] #6920 closed

[2019-08-21 21:38] jsquyres commented on #6920
Yep, sorry this wasn't fixed in the initial v4.0.0 / .1 releases.  If you need a local patch, you should be able to grab it from the PRs that were just merged.  Also, the fix should be in the v4.0.x nightly snapshot tarballs by now (https://www.open-mpi.org/nightly/v4.0.x/).

FWIW: We're getting verrrrrry close to a v4.0.2rc, so taking one of those 4.0.x nightly snapshot tarballs for a spin is pro

[2019-08-21 21:40] wkliao commented on #6919
[code]
or
[code]

[2019-08-21 21:48] jsquyres commented on #6919
Being explicit is always a Good Thing.  :-)

[code]

That way there's no confusion.  😉

[2019-08-21 22:40] bosilca commented on #6919
@wkliao 👍

[2019-08-21 23:30] wkliao commented on #6919
Thanks. I assume a patch will be created and tested?

Also, I guess the function to get the size of a  datatype is `ompi_datatype_type_size`.
I got a link error for `ompi_datatype_size ` not found.

[2019-08-21 23:36] bosilca commented on #6919
ok, let me try again ;)

[code]

[2019-08-22 00:06] wkliao opened #6921 "MPI_File_get_info not calling ROMIO's implementation"
At the bottom is a short program for testing `MPI_File_get_info()`.
It reports zero key in the info object returned from an opened file. i.e.
[code]
When I ran it with ROMIO module, it also reports nkeys=0.
[code]
This implies OpenMPI fails to call ROMIO's implementation of `MPI_File_get_info()`
defined in ompi/mca/io/romio321/romio/mpi-io/get_info.c

The same test program, if compiled with MPICH

[2019-08-22 00:12] ggouaillardet commented on #6921
Thanks for the report !

Indeed, ROMIO stores the info into its internal `ADIO_File` object, and Open MPI misses the glue to access it.

I will work on a fix.

[2019-08-22 08:29] ggouaillardet commented on #6921
Here is the fix I am working on
I still need to double check `MPI_File_set_info()`

[code]

[2019-08-22 18:25] wkliao commented on #6921
Thanks for the patch.
I tested it with ompi/mca/io/romio321/romio/test/syshints.c and the program ran fine.

[2019-08-23 07:53] devreal opened #6924 "SHMEM: missing progress when target is polling locally"
I have ported some of my benchmark from MPI RMA to shmem and found that Open MPI's shmem is not progressing atomic operations in at least one case.

The following reproducer gets stuck on my local system (shared memory only) if running 2 PEs with Open MPI 4.0.x (git-f96994b12f) and UCX 1.6.x (git-736d503):

[code]

The origin is stuck in `shmem_ulong_atomic_fetch_inc`:
[code]

The target keeps pol

[2019-08-23 12:46] marmistrz commented on #6883
@yosefe
[code]
It was configured with `configure-release`. I'm getting ERROR level logging but no INFO level logging (I ran the IMB PingPong benchmark to test it)

[2019-08-23 12:54] brminich commented on #6883
Unfortunately this logging is not included into v1.6. Is it possible to try with UCX master?
(the logging is added by [this UCX PR](https://github.com/openucx/ucx/pull/3511)

[2019-08-23 15:49] devreal commented on #6868
@hoopoepg Any update on this issue?

In my benchmark, I am observing significantly increasing latencies if multiple processes update the same variables. Is it possible that the atomic updates are emulated using CAS in my case? If so, how can I find out if that is the case?

On another note: With Open MPI's SHMEM (and UCX spml), latencies are what I would expect on the Bull cluster (~2us for `shmem

[2019-08-23 16:32] edgargabriel commented on #6921
@ggouaillardet could you check out this pr?

https://github.com/open-mpi/ompi/pull/6756

This was prepared a while back, but for whatever reason it was not merged to master.

[2019-08-23 22:56] cwilso6 commented on #2568
I am having the same issue. Below are the configure
[configure.txt](https://github.com/open-mpi/ompi/files/3536450/configure.txt)

 and configure.log
[config.log](https://github.com/open-mpi/ompi/files/3536445/config.log)

Please let me know if you need any additional information. Thank you in advance.

[2019-08-24 00:08] dirtyharrycallahan commented on #2568
Submitter wrote that he was using Solus OS not Solaris

[2019-08-24 00:15] ggouaillardet commented on #2568
@cwilso6 your gcc install seems busted as evidenced by the last error in `config.log`

[code]

I suggest you troubleshoot this, and open a new issue the problem persists.

[2019-08-25 08:27] yosefe commented on #6883
@marmistrz starting with next UCX release (v1.7.0, or UCX master branch today) the release mode logging will be INFO

[2019-08-25 08:28] marmistrz commented on #6883
Great, I'll test it on Monday :)

[2019-08-25 16:57] Nelson-numerical-software commented on #6920
An official release with this working feature would be really appreciated.
This ticket should be not closed until really merged.

[2019-08-26 09:37] devreal commented on #6868
Ahhh, I should have taken a look at the code earlier... The UCX osc component performs a lock/unlock on the window for each accumulate operation, making it at least 3 atomic operations per MPI accumulate/fetch-op operation. This seems the case in both the `v4.0.x` branch and `master`. It is my understanding that this is due to `MPI_Accumulate` being allowed on user-defined data types. Thus, an acc

[2019-08-26 10:18] angainor commented on #6917
@jladd-mlnx Is there any info about this? Can you guys reproduce it, or is it something about my system? It kind of breaks the idea of a barrier..

[2019-08-26 10:32] marmistrz commented on #6883
It appears not to be the case for me, but INFO logging does work for me for release mode if explicitly enabled: (this was actually done directly on the host, without RoCE)
[code]

But when used with RoCE the info-level logging indeed prints the RDMA interface used. Thanks!
[code]

[2019-08-26 12:45] hoopoepg commented on #6868
hi @devreal
sorry for late response

we reproduced issue (unfortunately we haven't same HW and used another HCA). so, we found same bottlenecks: start/stop atomic sessions requires remote compare-and-swap (CAS) operation to obtain exclusive lock which adds performance penalty on small portions of data

about your suggestions: 1 & 2 could work, will look at it later, but I didn't get your point in

[2019-08-26 13:07] devreal commented on #6868
Thanks for the response :) I'm working on 2, will post a PR some time this week if I can manage to get it in good shape. I can confirm that if I avoid the locks the performance gets much better. 1) should be an easy fix as well.

Regarding 3): I see that the `start_atomicity` and `end_atomicity` calls are implemented using `opal_common_ucx_atomic_fetch`, which in turn calls `ucp_atomic_fetch_nb` a

[2019-08-26 13:14] hoopoepg commented on #6868
it is ok - Infiniband guarantee ordering of operations which is used in UCX and we may release request even in case if operation is not completed (all operations scheduled after fetch will be completed after fetch is completed)

[2019-08-26 13:42] devreal commented on #6868
I wonder whether that is specified in the UCX standard (UCX is supposed to cover more than just Infiniband iirc). Looking at the UCX 1.6 document I cannot find anything about operation ordering except for the description of `uct_ep_fence`, nothing on default ordering behavior. Is that an (undocumented) feature of UCX or an assumption that only holds on some architectures?

[2019-08-26 20:27] hppritcha opened #6927 "need PR 6855 pushed back to release branches"
PR #6855 needs to be merged back in to v4.0.x, v3.1.x, and v3.0.x

[2019-08-27 00:05] gpaulsen opened #6928 "Time to delete the authors repo."
It's been 5 years, since the SVN to GIT transition.
I suspect we can now delete the https://github.com/open-mpi/authors repo.

Thoughts?

[2019-08-27 13:39] devreal opened #6931 "UCX osc: mixing exclusive and shared locks leads to lockup"
Looking at the code in `osc_ucx_passive_target.c` I found that the implementation of `end_exclusive` is flawed, leading to a lock-up if ranks try to take a shared lock while one rank holds an exclusive lock on the same target. Simply replacing the value in the lock's memory with `TARGET_LOCK_UNLOCKED` overwrites any changes to that value made by other processes trying to acquire a shared lock, cau

[2019-08-27 13:42] ericch1 opened #6932 "ompi/v3.x.x bug since August 21: opal_datatype_pack.c:203 and opal_datatype_unpack.c:135"
Hi,

_EDIT: I modified the mentioned SHAs in this first message since it contains wrong info about the wrong sha_
up to commit d3587f5, everything was fine, but
as of commit 390e0bc, we have some tests that are failing with errors like this:

<pre>
[dockercentos7:18478] opal_datatype_pack.c:203
	Pointer 0xdf6c970 size 9 is outside [0xdf6c880,0xdf6c969] for
	base ptr 0xdf6c880 count 10 and data
[do

[2019-08-27 15:04] #6928 closed, assigned to jsquyres

[2019-08-27 15:43] devreal commented on #6931
@hppritcha The PR for 4.0.x is at #6934. I hope this will still make it into 4.0.2 :) I will wait for feedback on these two PRs before posting the PR to 3.1.x

[2019-08-27 18:29] sam6258 opened #6936 "Implement regx/zlib component"
Create a new, non-default regx component in the v4.0.x and v3.1.x branches that compresses the node/vpid string using zlib and communicates the compressed string all of the time (doesn't send over command line).

Motivation for this component is a functional path where fwd, reverse regx components fail. See discussion on https://github.com/open-mpi/ompi/pull/6915 for more info.

[2019-08-28 22:07] rhc54 commented on #6618
Either two or three is fine - no need for multi-select anyway

[2019-08-29 02:50] ericch1 commented on #6932
Hi,
I was testing the commits when I saw I mispointed the problem:  It occured on August 21 with commit 390e0bc5b2.  The preceding merge, d3587f52, is good.

Sorry for this misguiding error!!! :/

[2019-08-29 04:00] opoplawski opened #6940 "incorrect MPI_TAG_UB, throws "'boost::wrapexcept<boost::mpi::exception>' what(): MPI_Recv: MPI_ERR_TAG: invalid tag""
## Background information

This is copied from https://bugzilla.redhat.com/show_bug.cgi?id=1746564

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Fedora packages

### Please describe th

[2019-08-29 04:37] ggouaillardet commented on #6940
`MPI_TAG_UB` can be influenced by the hardware that is being used. For example if a given interconnect can do message tag matching at the hardware level, it might restrict how many bits are available for the tag.

sounds like a misunderstanding of what can be expected from `MPI_TAG_UB`.

[2019-08-29 05:20] hjelmn commented on #6940
Indeed. We can set the tag ub to whatever. Closing.

[2019-08-29 05:20] #6940 closed

[2019-08-29 05:40] hjelmn commented on #6940
Definitely a boost bug. They have their own reduce implementation (seriously) and use their own "collectives tag" which is obviously out of range.

[2019-08-29 06:16] bosilca commented on #6932
To confirm that is a problem with the merge or with the datatype engine itself, can you run your test with the master ?

[2019-08-29 07:01] angainor commented on #6917
@jladd-mlnx Thanks. This particular case was the IOR benchmark, which does some sleeps on the master rank sometimes. But in general, I understand that this will also happen when there is work imbalance between the ranks, and e.g., one of them took longer to compute? Or in some code initialization scenarios, when a single rank does dome work, while the rest waits on the barrier? Could be a problem.

[2019-08-29 09:54] ericch1 commented on #6932
Ok, I will test master this morning.  Also, I have to look how to launch your tests database with my configuration (particularly --enable-debug)

[2019-08-29 12:04] yosefe commented on #6940
@opoplawski  Even though boost should not make any assumption about MPI_TAG_UB, other than it's at leas 32768,
this issue should be fixed by https://github.com/open-mpi/ompi/pull/6792

[2019-08-29 12:53] devreal opened #6941 "UCX osc thread-safety concerns"
Digging further through the UCX osc code, I noticed that there appear to be non-atomic memory accesses to variables that are potentially accessed concurrently in multiple threads, without proper locking. The following two instances seem suspicious in `master` and `v4.0.x`:

`master`:
`mca_osc_ucx_component.num_incomplete_req_ops` is incremented in `ompi_osc_ucx_rget` and `ompi_osc_ucx_rput` and de

[2019-08-29 15:15] ericch1 commented on #6932
Ok, which master/SHAs should I test? Maybe in this order:

- 8f32a59304
- 94f26f5a515

[2019-08-29 16:10] hjelmn commented on #6940
So your pml had an odd by one error? Not sure how that passed MTT. Thought we had a test for sending max tag. If not then please add one.

[2019-08-29 17:34] ericch1 commented on #6932
Ok, I just tested 390e0bc without "--enable-debug" and the problem is still there, but I have less information on stderr:
<pre>
[dockercentos7:17688] *** Process received signal ***
[dockercentos7:17688] Signal: Aborted (6)
[dockercentos7:17688] Signal code:  (-6)
[dockercentos7:17688] [ 0] /lib64/libpthread.so.0(+0xf5d0)[0x7f14f92a35d0]
[dockercentos7:17688] [ 1] /lib64/libc.so.6(gsignal+0x37)[0x

[2019-08-29 20:40] jjhursey commented on #6618
@zrss I belive that PR #6944 (maybe with PR #6915 for your environment) should fix this issue. If you have an opportunity can you try that patch to see if it resolves the issue that you were seeing with tree spawn?

[2019-08-29 20:45] jladd-mlnx commented on #6917
@angainor we added an optimization to our reliability protocol that enables your use case to progress as one might expect. It will be available in our end of September HPC-X v2.5 release.

[2019-08-29 20:47] jjhursey commented on #6198
I posted a fix to the `plm/rsh` component that resolves a mismatch between the tree spawn and the remote routed component (see Issue #6618 for details). PR #6944 fixes the issue for the v4.0.x branch. Can you give that a try to see if it resolves this issue? I think it might.

[2019-08-29 20:49] jjhursey commented on #6786
I posted a fix to the `plm/rsh` component that resolves a mismatch between the tree spawn and the remote routed component (see Issue #6618 for details). PR #6944 fixes the issue for the v4.0.x branch. Can you give that a try to see if it resolves this issue? I think it might help with the launch issue that was originally reported (probably not the PSM issue).

[2019-08-29 21:02] ericch1 commented on #6932
Looks like 8f32a59 is ok.  All failing tests passed (the remaining tests are running).
I am about to launch tests with 94f26f5.

[2019-08-29 22:11] bosilca commented on #6932
Looking at your output it seems to me that the datatype representation could have been further optimized in order for the optimized description to look like
[code]
instead of
[code]
I created #6945 to address this optimization issue, but I don't think it fixes anything else. If you can give it a try let me know the outcome.

Also, do you have a reproducer for your test case ?

[2019-08-29 22:15] gpaulsen commented on #6936
I'm not sure we'd want to change a framework API on a release branch.
If that's true, and since this isn't needed on master, I think the only other possibility would be to somehow engineer this new proposed component in a way that it can keep with the existing regex framework on v3.x and v4.x.
That might be possible if we use zlib to compress the data, and then use an encoding / decoding phase to

[2019-08-30 01:43] jjhursey commented on #6618
Note: I checked the v3.0.x and v3.1.x branches and they do not show this specific problem. It must be unique to the v4.0.x branch.

[2019-08-30 01:45] ericch1 commented on #6932
Ok, the sha 94f26f5 is *bad*.

Here is the stderr:
<pre>
[dockercentos7:11303] opal_datatype_unpack.c:135
	Pointer 0x8fd31a8 size 9 is outside [0x8fd0070,0x8fd31a1] for
	base ptr 0x8fd0070 count 525 and data
[dockercentos7:11303] Datatype 0x8ebac70[] size 17 align 8 id 0 length 4 used 3
true_lb 0 true_ub 17 (true_extent 17) lb 0 ub 24 (extent 24)
nbElems 3 loops 0 flags 114 (committed contiguous )

[2019-08-30 01:55] rhc54 commented on #6618
Yes, it is - the reason is that the v4.0 branch came during a point in time where we were trying to use libfabric for ORTE collectives during launch. This meant that the mgmt Ethernet OOB connections required a different routing pattern from the libfabric ones - and hence we made the routed framework multi-select. We decided not to pursue that path _after_ the v4.0 branch and offered to remove tha

[2019-08-30 02:42] artpol84 commented on #6941
@devreal, quite possible.

I've recently spotted an issue with another global variable (https://github.com/open-mpi/ompi/commit/6678ac0f557935b291ec2310216b7ea46e0c13b1).

We are currently evaluating our OSC implementations in MT context and will consider this issue as part of this effort.

Thank you once again for reporting.

[2019-08-30 07:45] angainor commented on #6917
@jladd-mlnx Thanks!

I see another barrier issue. The following code segfaults and / or hangs when executed with more than 1 OpenMP thread (`mpirun -mca coll_hcoll_enable 1 -x OMP_NUM_THREADS=8 -map-by core -bind-to numa ./mpitest`)
[code]
I asked for `MPI_THREAD_MULTIPLE` support, but the barrier does not work unless I turn on the critical region. I get segfaults, or the code hangs. This is the s

[2019-08-30 08:13] devreal commented on #6917
@angainor The example you provided is not valid in MPI: two threads may not concurrently enter a collective operation (like the `MPI_Barrier`) on the same communicator. You may try using distinct communicators for each thread though. Using the critical region prevents threads from entering the barrier at the same time, so your test becomes a valid MPI application again.

[2019-08-30 09:53] angainor commented on #6917
@devreal Ups, thanks for this correction. I was obviously fooled by the following statement from the MPI standard:

The restriction you mention comes from Section 5.13?

executing, collective communication call at a process. In these situations, it is the user’s re-
sponsibility to ensure that the same communicator is not used concurrently by two different
collective communication calls at the sam

[2019-08-30 11:30] devreal commented on #6917
I guess that is a bit too broad, given that there is also the advice to users in §12.4.1:

[2019-08-30 13:48] jsquyres commented on #6932
@gpaulsen @hppritcha I think you guys should evaluate the severity of this issue for the upcoming release.

[2019-08-30 14:09] connorourke commented on #6727
@heasterday - apologies for the delay.

`rpm -qa | grep -i psm2` produces no output.

Looks like I'm using `psmisc-22.6-24.el6.x86_64`

[2019-08-30 16:17] ericch1 commented on #6932
I have good news!  The patch in commit ebe7ed6 fixes all failing tests and all our other tests are 100% successful! :)
Hope this is incorporated into v4.0.x before next release!

Thanks,
Eric

http://www.giref.ulaval.ca/~cmpgiref/ompi_4.x/2019.08.30.09h45m24s_config.log
http://www.giref.ulaval.ca/~cmpgiref/ompi_4.x/2019.08.30.09h45m24s_ompi_info_all.txt

[2019-08-30 18:50] hppritcha commented on #6927
PR #6946 clears label 4.0.x

[2019-08-31 00:00] hkuno commented on #6853
I'm sorry it is taking me so long to submit the PRs for v3.0.x and v3.1.x.
While we can show that we can hit the issue in 4.0.x by using ucx over IB with "--mca pml_ucx_opal_mem_hooks true", we aren't sure if this works in earlier builds, and it is taking time to reproduce this issue in v3.0.x and v3.1.x.

[2019-08-31 00:01] hkuno commented on #6927
I'm sorry it is taking me so long to submit the PRs for v3.0.x and v3.1.x.
While we can show that we can hit the issue in 4.0.x by using ucx over IB with "--mca pml_ucx_opal_mem_hooks true", we aren't sure if this works in earlier builds, and it is taking time to reproduce this issue in v3.0.x and v3.1.x.

[2019-08-31 00:02] bosilca commented on #6932
The fix (and a tester to prevent it from happening in the future) is pending, it can be merged as soon as jenkins is happy. The patch should be easy backported to the stables (but I don not have time before next week).

[2019-08-31 05:48] #2232 closed

[2019-08-31 10:16] sddi opened #6948 "tag-output tag [jobid, MCW_rank] at the end of the line."
OPENMPI version: 3.1.4
centos: 7.3
I use the following command:

mpirun --allow-run-as-root --tag-output --hostfile ${host_file} -n ${total_num} -npernode 1 --display-map -wdir ${work_path} ${work_bin}

it writes at the end of the line: ":==>Day 20190731 --------[1,0]"

How to set [jobid, MCW_rank] at the begin of the line?

[2019-09-01 02:43] opoplawski opened #6949 "Possible ABI changes in 4.0.2"
Fedora's ABI checker is flagging some possibly incompatible changes in ABI from 4.0.1 to 4.0.2:

https://taskotron.fedoraproject.org/artifacts/all/0392d2bc-cc32-11e9-a7fd-52540077ca13/tests.yml/openmpi-4.0.2-0.2.rc1.fc31.log

[code]