[2020-01-08 18:02] rhc54 commented on #6982
Yes - in fact, I removed all fences from the code path and it still worked.

[2020-01-08 19:23] rhc54 commented on #7285
I actually think I have a solution for this - the loop was obvious, but how to avoid hardwiring the names of the frameworks was less so. However, with innovative use of a configure argument...one can point prrte at the frameworks.h file of other projects! Will play with it.

[2020-01-09 08:24] psalz commented on #7147
That's great news! Thanks for handling this so quickly!

[2020-01-09 09:00] angainor commented on #6982
@rhc54 I tested with clean clones of prrte and pmix master. To reproduce the error you have to run the `pmix_exchange()` with data collect after call to `pmi_set_string("test-key-1", ...);` and before the call to `pmi_set_string("test-key-2", ...);`. Then, `pmi_get_string(..., "test-key-2", ...)` fails with -46. I have commented in the PR with line numbers.

[2020-01-09 14:40] rhc54 commented on #6982
Okay, I might fiddle a bit with the reproducer as it only fails if I have two nodes and run one process per node. I suspect it is finding a problem in the PMIx server's code path when a host asks for modex info - just the code itself only involves rank 0 and 1, and so if those two ranks are on the same node it works just fine. I'll take a look at it today.

[2020-01-09 14:43] angainor commented on #6982
@rhc54 Thanks! Yes, the ranks need to run on different compute nodes. So it seems that it is a problem with how the servers exchange the data between them.

[2020-01-09 14:54] rhc54 commented on #6982
Not precisely. I think the problem is that the two host daemons are sending requests to the other side, and those requests are being passed down into the respective PMIx server libraries. The problem is that those libraries are (a) looking for the requested key and not finding it, and then (b) checking to see if we have already received data from the target process. If (b) is true, then they immed

[2020-01-09 15:46] jsquyres commented on #5393
There's been no update from IBM since July of 2018, so I'm closing this as stale.

[2020-01-09 15:46] #5393 closed

[2020-01-09 16:28] jsquyres commented on #1763
@nysal @bosilca @ggouaillardet @jjhursey Did this get fixed after v3.0.x?

Regardless, unless the fix is trivial, it's unlikely to get fixed in v3.0.x or v3.1.x.  Should this be moved to v4.0.x or closed?

[2020-01-09 17:18] bosilca commented on #1763
The underlying cause of this issue cannot get fixed in an efficient way in the current OMPI infrastructure. @ggouaillardet created a proof of concept PR but due to time constraints it never got completed, which means we are stuck with a suboptimal solution: disabling all tuned decisions for collective where the user provides different counts on the different nodes (implemented by @jjhursey for lib

[2020-01-09 17:59] jsquyres commented on #1763
Ah, that's #1789?  Looks like that was closed with no time to work on it.

Ok, let's leave this issue open, but I'll remove the milestone targets.

[2020-01-09 22:52] rsettlage opened #7295 "OpenMPI/Rmpi seems to result in slaves stuck to default binding"
## Background information

I think this is ultimately more of a question than a bug report at this point.  I don't see how to tag this as a question on my side.

I am running Centos 7, Slurm 17.11, Intel 18.2 (or GCC 7.0.3), OpenMPI 4.0.1, R 3.6.1 and finally Rmpi 0.6-9.

The basic behavior is that I start up R, spawn some R slaves, and those slaves spawn an openmp process.  Based on the number of

[2020-01-10 15:39] rhc54 commented on #7295
So long as you are using "mpirun" to start the job, the presence of Slurm is irrelevant.

OMPI changed its default behavior in v4.0 such that child jobs no longer automatically "inherit" the map/bind directives of their parents. Lots of reasons why this was done. In this case, you probably do want the children to inherit the directives, so you need to set the "rmaps_base_inherit" MCA parameter (ei

[2020-01-10 15:49] rsettlage commented on #7295
Well, that fixed it, thanks!

[2020-01-10 15:50] rhc54 commented on #7295
Please pass that along on Stackoverflow as well so others can find the answer there.

[2020-01-10 15:50] #7295 closed

[2020-01-13 15:34] SimonR1 commented on #6372
Dear everyone,
I have the same problem and would be very grateful for any help or advice.

[2020-01-13 16:06] awlauria commented on #6372
I can take a look and see what's going on.

[2020-01-13 17:27] rhc54 commented on #6372
FWIW: this is fixed in the RTE for OMPI v5. Problem is in not processing the cmd line before searching for mca params (including --am), thereby not knowing where the executable starts.

[2020-01-13 17:51] awlauria commented on #6372
Thanks @rhc54 .

@SimonR1 this will be fixed in the next major release.

[2020-01-13 20:20] hppritcha commented on #7035
@lnussbaum could you test with a more recent OFI version, like 1.8.1 or 1.9.0?

[2020-01-13 20:57] hppritcha commented on #6612
As noted by @ggouaillardet the test has an error.  closing.

[2020-01-13 20:57] #6612 closed

[2020-01-13 21:18] hppritcha commented on #7109
closed by #7193

[2020-01-13 21:19] #7109 closed

[2020-01-14 08:30] dns2utf8 commented on #1922
Thank you! :smiley:

[2020-01-14 08:43] devreal opened #7301 "Broken collectives on Cray when built with Intel compiler"
I'm using Open MPI (master, `git-b50d568004`) on a Cray XC40. The application calls `MPI_Comm_split` during setup and I'm seeing the application hang indefinitely in this call if Open MPI was built with the Intel compiler (using 19.0.1.144 here). The application runs fine if Open MPI is built with the GNU compiler or if Open MPI was configured with `--enable-debug`. There are no threads involved h

[2020-01-14 09:43] devreal commented on #7301
I just tried the `v4.0.x` branch it seems to work fine.

[2020-01-14 16:16] jsquyres commented on #6960
Talking about this on our weekly call today, it looks like this issue should be re-opened, so @hppritcha re-opened it.

[2020-01-14 19:54] jsquyres opened #7302 "32 bit builds failing on master"
32 bit builds are failing on master:

[code]

One of the lines in question is

https://github.com/open-mpi/ompi/blob/02f02e7c1ed3742e6d87603b1d7acc7bd48103cd/opal/mca/shmem/shmem_types.h#L107

It appears that in a 32 bit build, this line is being used to define `OPAL_ALIGN_MIN`:

https://github.com/open-mpi/ompi/blob/02f02e7c1ed3742e6d87603b1d7acc7bd48103cd/opal/include/opal/align.h#L35

Which set

[2020-01-14 20:09] devreal commented on #7302
See https://github.com/open-mpi/ompi/pull/7124 :)

[2020-01-14 20:18] jsquyres commented on #7302
😆

Ok, this is a dup of #7121.

[2020-01-14 20:18] #7302 closed

[2020-01-14 20:18] #7121 closed

[2020-01-14 21:06] devreal opened #7303 "Potential deadlock in rcache?"
I'm trying to run a PaRSEC benchmark (`testing_dgeqrf`) on a Cray XC40 with the latest v4.0.x compiled with the Intel compiler. For larger problem sizes (16 nodes, 24 threads per node, 20k^2 elements per process) the run locks up after all tasks have been processed and I see the following aggregated backtrace in DDT:

[code]

It looks to me like a deadlock situation where one thread holds a lock w

[2020-01-15 14:57] mkre opened #7308 "Intermittent failures possibly related to name conflicts in leftover Vader shared memory segment files"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v3.1.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From a source tarball

### Please describe the system on which you are running

* Operating system/version: Ce

[2020-01-15 19:29] mwheinz opened #7309 "OMPIO symbol abstraction violation in v3.0.x/v3.1.x; only shows up with GCC 8.2.5, 8.3.1. (RHEL 8.0, RHEL 8.1)"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OMPI 3.1.4, 3.1.5, 3.1.6

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Building from source using the IFS/OPA bu

[2020-01-15 20:08] edgargabriel commented on #7309
@mwheinz Thank you for the report. I think I know what is wrong, but it would help if you could give us the precise configure line used for compiling Open MPI.

The OMPIO components used to share some symbols across different .so files. While this has been significantly improved in the 3.x series compared to the 2.x series, it was only fully resolved in the 4.x series. That being said, I have comp

[2020-01-16 00:06] ggouaillardet commented on #7309
@edgargabriel in this case, this is not an abstraction violation since the missing symbols are in `common/ompio` which is valid. The issue could be that these dll do not depend on `libmca_common_ompio.so` (e.g. this looks like a `Makefile.am` issue).

[2020-01-16 13:40] mwheinz commented on #7309
Hey, guys - thanks for the feedback. I also spent some time with @jsquyres yesterday and he agrees that the issue is that the library is not being linked with with ``libmca_common_ompio.so`` and speculated the issue might be resolved in 3.1.5/6. I'm going to test that configuration this morning.

[2020-01-16 16:32] gpaulsen commented on #7235
@yuyicg, Is this still an issue?

[2020-01-16 16:44] cponder opened #7311 "FAQ on using single socket"
Over-and-over again, i run into this issue when doing performance testing.
I would appreciate it if you would add the answer to your FAQ:

      How do I parameterize "mpirun" so only one socket is used on each node?

I don't want to use a HOSTFILE, I want to do it from the command-line so i don't have to hard-code the process topology. I want to use parameterized arguments so the "mpirun" line wi

[2020-01-16 16:50] cponder commented on #7311
Here's an example of a parameterized invocation line

      mpirun -n $PROCS -bind-to socket --cpu-list 0,6,12,18 --report-bindings

which, of course, doesn't work correctly:

    [dgx2-03:44870] MCW rank 0 is not bound (or bound to all available processors)
    [dgx2-03:44870] MCW rank 1 is not bound (or bound to all available processors)
    [dgx2-03:44870] MCW rank 2 is not bound (or bound to a

[2020-01-16 16:59] jaysullivan opened #7312 "UCX ERROR Failed to allocate Issues mlx4_0"
Hi All,

At one point in time, when my applications does a write operation, it pulls from all the ranks and consolidates down. When this happens I get the following printed to STDOUT:
[1579192987.880374] [HOSTNAME:440443:0]            sys.c:619  UCX  ERROR shmget(size=4263936 flags=0x7b0) for mm_recv_desc failed: No space left on device, please check shared memory limits by 'ipcs -l'
[1579192987.8

[2020-01-16 17:50] mwheinz commented on #7309
Updated title and description to indicate that the issue exists with RHEL 8.0 as well as 8.1 and is present in 3.1.4, 3.1.5, and 3.1.6 - the problem seems to be non-obvious. The ompi_info commands are linked similarly:

[code]

compare with:

[code]
but they produce different results:
[code]
versus
[code]
ld of /usr/mpi/gcc/openmpi-3.1.6/lib64/openmpi/mca_fcoll_static.so produces identical results

[2020-01-16 17:51] mwheinz commented on #7309
Question: Is it possible that this really isn't an issue at all, that the issue is simply that the warnings being output in RHEL 8.x are just a bit of new verbosity that means nothing?

[2020-01-16 17:51] jaysullivan commented on #7312
Also pardon if this went to the wrong area. Let me know and i'll move it.

-jay

[2020-01-16 17:55] dmitrygx commented on #7312
@jaysullivan could open the issue for the [OpenUCX community](https://github.com/openucx/ucx), please?

[2020-01-16 19:00] jsquyres commented on #7309
@edgargabriel Mike and I looked at this a bit more on a webex.  It looks like there's an abstraction violation in the v3.0.x and v3.1.x branches.

Specifically, it looks like `libmca_common_ompio.so:common_ompio_file_open.c` uses the variable `mca_io_ompio_bytes_per_agg`, but this variable is instantiated in the `io/ompio` component.

This causes a problem -- at least on some platforms? -- when OM

[2020-01-16 19:34] edgargabriel commented on #7309
@jsquyres if you look at my first comment above, this is exactly what I was referring to. The question to me is: is it worthwhile porting all the additional changes from master/v4.0.x to to the 3.1.x (and 3.0.x) series, since this was not an entirely trivial change?

Alternatively, I remember that there was a trick that could be done with RTLD_GLOBAL settings that would make it work, but I can not

[2020-01-16 19:46] jsquyres commented on #7309
Gotcha.

A default compile makes OMPIO non-functional (and present some scary-looking warnings). That's a bit of a bummer.

Is there a "quick fix" that would make it work "well enough" for the rest of the v3.0.x/v3.1.x series?  I.e., perhaps not a complete revamp that might be necessary to fix the issue "for real", but perhaps just moving the instantiation of that variable (or variables) from io/o

[2020-01-16 19:51] edgargabriel commented on #7309
@jsquyres let me look into that. The issue was how the mca parameters of ompio are accessed in other components, and it required touching all fcoll components to fix that ( in addition to moving the code to common and add the code that allowed the mca parameters to remain io_ompio parameters instead of common_ompio parameters). But I will check what it takes,

[2020-01-16 20:11] edgargabriel commented on #7309
@jsquyres we would need the equivalent of this pr more or less.

https://github.com/open-mpi/ompi/pull/5263

[2020-01-16 22:34] ggouaillardet commented on #7311
Assuming there are more than 2 MPI tasks and you have enough nodes, what about
[code]

[2020-01-17 09:39] cponder commented on #7311
I can't tell if that should solve the problem or not, OpenMPI 4.0.2 fails-out with the error below.
The logic, though, is it that allocation would be round-robin to fill socket 0 on each node before using socket 1 on each node? That would give me what I want, if it did work.

+ mpirun -n 2 --rank-by socket --report-bindings ./MGTranspose 2048 2048 100
[dgx2-02:164357] MCW rank 0 bound to socket 0[

[2020-01-17 10:42] ggouaillardet commented on #7311
Can you try ```--rank-by node``` instead?

[2020-01-17 12:20] cponder commented on #7311
In this case here with one node

    mpirun -n 4 --rank-by node --report-bindings ./MGTranspose 2048 2048 100

it's still splitting across sockets, here's the mapping for rank 3, for example:

[dgx2-02:202025] MCW rank 3 bound to socket 1[core 20[hwt 0]], socket 1[core 21[hwt 0]], socket 1[core 22[hwt 0]], socket 1[core 23[hwt 0]], socket 1[core 24[hwt 0]], socket 1[core 25[hwt 0]], socket 1[core

[2020-01-17 12:25] cponder commented on #7311
If it were up to me, I ought to be able to specify --npersocket 4, and then the first 4 procs would go to socket 0 and then spill over to socket 1 and so on. So for multi-node I would use

    -n $((NODES*4)) --npersocket 4

and it would run 4 procs on socket 0 of each node.
There are other ways to "complete the definition" of these parameter combinations, but other possible resolutions, like even

[2020-01-17 17:28] hppritcha commented on #7301
this is likely due to a bunch of c11 atomics changes which aren't present in the v4.0.x release stream.

[2020-01-17 17:29] hppritcha commented on #7301
@devreal could you reconfigure master with ```--disable-c11-atomics``` and see if the problem vanishes?

[2020-01-17 17:39] jsquyres commented on #7309
@edgargabriel On a scale of 1(none) to 5(huge), what's the level of risk of porting #5263 back to v3.0.x/v3.1.x?

[2020-01-17 17:43] edgargabriel commented on #7309
@jsquyres I would say the risk is low, since it is being used in the v4.0.x branch already as well. I am more worried about the effort. Let me give it a try over the weekend to see how bad the conflicts are when cherry-picking the commits, will let you know.

And also just to clarify my understanding: moving symbols from io/ompio to common/ompio does not represent an ABI change on any level, does

[2020-01-17 18:08] awlauria commented on #5511
@rhc54 this may be fixed by the merging of https://github.com/open-mpi/ompi/pull/7299. Can you verify? I don't have that version of gcc available to me.

[2020-01-17 19:36] gpaulsen commented on #7303
I wonder if this is also related to c11-atomics as mentioned in #7301?

[2020-01-17 19:55] rhc54 commented on #5511
No idea - I'd consider this stale after this much time. Can always reopen it if it shows up again.

[2020-01-17 19:55] #5511 closed

[2020-01-18 14:09] devreal commented on #7301
@hppritcha Thanks for the hint. I can confirm that the problem does not occur when Open MPI is configured with `--disable-c11-atomic` :+1:

[2020-01-18 14:11] hjelmn commented on #7301
Does it work with gcc? Intel c11 atomics might be buggy.

[2020-01-18 14:12] devreal commented on #7301
It does work with GNU and C11 atomics enabled, yes.

[2020-01-18 14:18] devreal commented on #7303
@gpaulsen I'm fairly confident that the issue is unrelated to #7301 as it also occurs on the v4.0.x branch (#7301 does not) and is independent of the compiler (#7301 does not occur with the GNU compiler). I looked at it more closely with DDT and I strongly believe that it is a deadlock situation caused by the waiting thread holding the `vma_lock` while the threads it waits on try to acquire the lo

[2020-01-18 14:20] hjelmn commented on #7301
Ok. Will look into it.

[2020-01-18 14:21] hjelmn commented on #7303
Plan to review that change early next week.

[2020-01-18 19:32] rhc54 opened #7316 "HWLOC gitignore needs updating"
Now that we are using a submodule for the embedded hwloc, I'm seeing the following after building OMPI:
[code]
When I look into the hwloc directory, I find:
[code]
Someone needs to add that file to HWLOC's .gitignore

[2020-01-18 19:32] rhc54 commented on #7316
@bgoglin FYI

[2020-01-18 22:08] edgargabriel commented on #7309
@jsquyres I filed a pr that I *think* fixes the issue. I tried cherry-picking the commits, but gave up after 1 hour, since the differences where to stark, and I couldn't follow the merged code anymore. So I created manually the minim set of changes required to fix the issue. I have however no platform to test, but I can confirm that on my machines the code still works and passes the same tests as

[2020-01-18 22:14] rhc54 commented on #7311
I'm not entirely sure I understand what you are trying to do, but if you want say four procs on each node, all bound to the first socket on that node, then I would use:
[code]
where the hostfile indicated there are 4 slots on each node. Note that this would bind each proc to only one core, so only the first four cores would be used. If you wanted the procs to simply be bound to the socket, then ad

[2020-01-18 22:23] rhc54 commented on #7311
Another option for you: if you want to have the job mapped such that all procs land on the first socket of every node until those sockets are completely filled, and then start filling the second socket on every node, then the easiest method is just:
[code]
Note that the procs will be evenly spread across the nodes - it won't fill the first socket of the first node and then move to the first socket

[2020-01-18 22:41] cponder commented on #7311
Ok that looks like it does what I want for single-node tests.
To get the rank ID's to be contiguous on the sockets, then, would I use this?

    mpirun --map-by socket:span --rank-by socket ...

[2020-01-18 22:49] cponder commented on #7311
Actually, no -- it looks like if I add other qualifiers like

    --map-by socket:span --bind-to core
    --map-by socket:span --rank-by socket

[2020-01-18 23:44] bgoglin commented on #7316
I assume you cannot put that in the OMPI .gitignore because hwloc is a submodule? That would have been better given that OMPI is the one patching hwloc's ltmain.sh.

[2020-01-18 23:57] rhc54 commented on #7316
I can try and see...

[2020-01-19 00:20] rhc54 commented on #7316
Tried and no joy - the problem is that the git checkout in the submodule sees the change and flags it as being uncommitted. The upper level OMPI git just reports that the submodule thinks it has been changed. No way to ignore it, I'm afraid.

[2020-01-19 09:27] bgoglin commented on #7316
Pushed to hwloc master and v2.1.

[2020-01-19 11:45] cponder commented on #7311
I believe with MVAPICH2 that either of these forms would solve the problem

     mpirun_rsh -np $((PROCS*NODES)) MV2_CPU_BINDING_POLICY=bunch ...
    mpirun_rsh -np $((4*NODES)) MV2_CPU_MAPPING=0,1,2,3 ...

The second form uses a fixed number of procs per socket but that would be ok, it's the ability to vary the number of nodes that matters to me.

[2020-01-19 12:33] devreal opened #7319 "Thread-parallel send/recv hangs on Cray XC40"
I'm running a task-parallel application on a Cray XC40 in which tasks issue send and receive calls and yield the thread until the transfers are complete, e.g., using OmpSs with or without TAMPI. I'm seeing that application hang randomly, waiting for transfers to complete. It seems to me that messages are getting lost somewhere on the way.

Below test case tries to emulate this behavior (thread-par

[2020-01-19 17:09] devreal commented on #7319
I forgot that I had #7307 applied to both `master` and `v4.0.x` when running. The last error could be caused by that (although I do not see how) but I think something else is going wrong.

[2020-01-19 17:18] devreal opened #7320 "Weird error message from MPI_Init_thread"
I am experimenting with TAMPI [1], which for some reason introduces a new thread-level `MPI_TASK_MULTIPLE`. Due to wrong library linking order, I managed to bypass the TAMPI library and pass `MPI_TASK_MULTIPLE` directly to Open MPI's `MPI_Init_thread`. Of course, Open MPI barked at it, which lead to this quite humorous (albeit misleading) error message:

[code]

Obviously my application calling *t

[2020-01-20 14:24] maxhgerlach commented on #7220
Running MPI processes under Open MPI **4.0.2**, I noticed that these `/dev/shm/vader_segment.*` files stick around after theses processes are terminated via `SIGTERM`.

That sounds like a memory leak waiting to cause more severe issues.

[2020-01-20 16:45] hjelmn commented on #7220
These files are supposed to be cleaned up by PMIx. Not sure why that isn't happening in this case.

[2020-01-21 02:35] ggouaillardet commented on #7320
It took me a few seconds to understand this, so here is a reproducer that might help others

[code]
and the output
[code]

[2020-01-21 02:39] ggouaillardet commented on #7320
BTW, is it safe to have `MPI_Init_thread()` simply abort the program here?
Or is there a legit scenario in which `MPI_Init_thread()` should return with `MPI_ERR_ARG` ?

[2020-01-21 12:52] mwheinz commented on #7309
I can test on RHEL 8.0 and 8.1. I'll let you know.

[2020-01-21 13:33] bosilca commented on #7320
For consistency we should do the same as all the other functions. Moreover, there are ongoing discussions in the Forum about the scope of the default error handler, and being able to set it via ```mpirun``` parameters (or info keys).

[2020-01-21 14:06] rhc54 commented on #7316
@jsquyres Can you please update the git module tag? It wasn't clear to me where it was pointing and the best way to update it.

[2020-01-21 14:09] rhc54 opened #7322 "opal_gethostname segfaults"
We have always permitted the use of ```opal_output``` prior to successfully executing ```opal_init```, with the output simply being printed to stderr. However, if you hit that scenario now, the program segfaults because ```opal_gethostname``` accesses ```opal_process_info.nodename```, which hasn't been defined yet.

What you need to do is have ```opal_gethostname``` check for ```NULL```, and if it

[2020-01-21 15:32] jsquyres commented on #7309
Thanks @edgargabriel!

I confirm that moving symbols from a component to a common library does not impact our backwards compatibility / ABI guarantees.

[2020-01-21 15:32] jsquyres commented on #7322
Fair point.  I'll fix.

[2020-01-21 16:00] jsquyres commented on #7316
Yep, I can update.

[2020-01-21 16:55] jsquyres commented on #7220
FWIW: we discussed this on the weekly OMPI call today:

1. Open MPI >= v4.0.x uses PMIX 3.x, which has a "register to do something at job shutdown" hook.  Hence, in Open MPI master and >= v4.0, we shouldn't be seeing these leftover files.  If we are, it's a bug.
1. Open MPI < v4.0x uses PMIX 2.x, which does _not_ have the "register to do something at job shutdown" hook.  @hjelmn today said he'd lo

[2020-01-21 19:03] #7316 closed

[2020-01-21 21:14] #7322 closed

[2020-01-23 03:44] rhc54 commented on #7220
I examined OMPI v4.0.2 and it appears to be doing everything correctly (ditto for master). I cannot see any reason why it would be leaving those files behind. Even the terminate-by-signal path flows thru the cleanup.

No real ideas here - can anyone replicate this behavior? I can't on my VMs - it all works correctly.

[2020-01-23 08:14] adrianreber opened #7330 "[[INVALID],INVALID] FORCE-TERMINATE AT Not found:-13 - error plm_rsh_component.c(327)"
While trying to build petsc for OpenHPC I get a core dump in mpiexec on CentOS 8 with the Open MPI 4.0.2 build from OpenHPC:

[code]
At first I was not able to reproduce it outside of our build system, but setting `OMPI_MCA_plm_rsh_agent` to `does-not-exist` I am able to reproduce this with the OS provided Open MPI 4.0.2 on RHEL 8:
[code]

I can also see this on Fedora 31 with Open MPI 4.0.2.

[2020-01-23 09:33] mkre commented on #7220
@rhc54, I can confirm it's working with `4.0.2`. However, I can reliably reproduce the behavior using `3.1.x`.

I think it's the same underlying I'm running into in #7308: If _another_ user left behind a segment file and there is a segment file name conflict with my current job, the run will abort with "permission denied" as the existing segment file can't be opened.

As @jsquyres pointed out, it

[2020-01-23 10:44] amckinstry opened #7331 "Issue with libtool / openmpi4 interaction"
Hi We have a strange interaction issue with openmpi4 and libtool in Debian.

The libtool implementation of dlopen, etc. breaks with openmpi 4.0.2 ; it works fine with openmpi 3.1.3. The same version of libtool (2.4.6) in both cases.

Further Details are here:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=947148

What has changed in OpenMPI 4.0 that would be relevant ?

[2020-01-23 10:59] maxhgerlach commented on #7220
Sorry for the confusion: It was a bug in our setup. I can now confirm that /dev/shm/vader* files are cleaned up after SIGTERM in Open MPI 4.0.2.

[2020-01-23 12:09] jsquyres commented on #7331
@amckinstry Can you post the `configure` line for how Open MPI was built in this case?

[2020-01-23 12:22] jsquyres commented on #7331
Can you also send the output of `ompi_info | grep dl`?  I ask because Open MPI v4.0.x doesn't use `libltdl` (by default) any more -- it just calls `dlopen()` directly.  Specifically: `libltdl` is only used as a fallback on platforms where `dlopen()` doesn't work.

From `configure` output of the v4.0.x branch on a RHEL 6 system:

[code]

From `ompi_info` output -- the `ltdl` component isn't present

[2020-01-23 13:08] jjhursey commented on #7330
It should be looking for both `ssh` and `rsh` by default [here](https://github.com/open-mpi/ompi/blob/v4.0.2/orte/mca/plm/rsh/plm_rsh_component.c#L181).

I've seen this error before when trying to launch mpirun in a container image that does not have either one of them installed. Does your build environment have them installed?

I've been meaning to look into a mode that recognizes that there are

[2020-01-23 13:11] adrianreber commented on #7330
The build environment does not have them installed. I 'fixed' it for me by installing it. I was just surprised by the core dump and wanted to report it.

[2020-01-23 14:06] jjhursey commented on #7330
Thanks for the report. I'll try to take a look in the near term to see if I can first have it fail without the core dump, and second not fail in this scenario.

[2020-01-23 20:12] hkuno commented on #5782
I think it was solved by doing a very clean build. See: https://github.com/open-mpi/ompi/issues/6815

[2020-01-23 21:22] jsquyres opened #7334 "Oddity: configure and dlopen checks for CUDA support"
@Akshay-Venkatesh Question for you about the CUDA support in Open MPI.

Per https://github.com/conda-forge/openmpi-feedstock/issues/42, we've been asked why there's `configure`-time checks for CUDA, but then we also `dlopen("libcuda.so.1", ...)` at runtime.

I.e., we do the `dlopen()` stuff because we didn't want to create a link-time dependency to `libcuda` -- e.g., if a cluster only has some nod

[2020-01-24 02:52] junghans opened #7335 "orte_ess_init failed on s390x on Fedora Rawhide"
### Background information

Found in https://github.com/hpc/libcircle/issues/39

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Through dnf, openmpi-devel-4.0.2-4.fc32.s390x

### Pleas

[2020-01-24 15:07] hppritcha commented on #7330
@jjhursey do you think you may be able to put in  a simple fix to avoid a core dump in time for 4.0.3 release?

[2020-01-24 15:25] hppritcha commented on #7186
Closed via #7296 and #7189

[2020-01-24 15:25] #7186 closed

[2020-01-24 15:30] jjhursey commented on #7330
I'll investigate today to see if I can pin it down.

[2020-01-24 16:41] hppritcha commented on #7335
@gpaulsen looks like this is a PMIx problem.  Should we wait for a fix in PMIx 3.1.5 before releasing 4.0.3?

[2020-01-24 16:44] hppritcha commented on #7303
@gpaulsen if we can get #7307 PR'd over to 4.0.x prior to 4.0.3 release this would be nice to have for Cray's.

[2020-01-24 19:08] jjhursey commented on #7330
I have a fix posted to `master` in PR #7330 and verified that the same patch does work in the `v4.0.x` branch.

[code]

In the process of testing, I found a workaround for environments without `ssh` or `rsh`. Setting the `export OMPI_MCA_plm_rsh_agent=` to the empty string will cause the `rsh` PLM to disqualify and fallback on the `isolated` PLM which will allow you to launch locally only.

[2020-01-24 19:47] hppritcha commented on #7335
looks a little like the workaround described in #6761
try setting
[code]

[2020-01-24 19:50] gpaulsen commented on #7335
@hppritcha Lets get some more information.

[2020-01-24 20:02] gpaulsen commented on #7303
Observations in #7319 make it appear that we should now hold off on accepting PR #7307 in v4.0.3 until we gather more data.

[2020-01-24 21:44] junghans commented on #7335
As environment variable? And as it is two times the same variable name, which value is the right one?

[2020-01-25 02:19] junghans commented on #7335
Ok, `export PMIX_MCA_gds=hash` fix the failing test.

[2020-01-27 12:25] amckinstry commented on #7331
The configure line is :
[code]

[code]

`--with-ltdl` was set in 3.0.x and hasn't changed. I can do test builds without ltdl for 4.0.x

[2020-01-27 22:25] jjhursey commented on #7330
The fix for this has been merged into `master` and the `v4.0.x` streams (and ported over to PRRTE `master`). When you have a chance please give one of the nightly builds a try to confirm the fix on your end. Thanks for the bug report!

[2020-01-27 22:25] #7330 closed

[2020-01-28 08:23] hjelmn commented on #7303
PR #7303 is not quite right. There is a reason the lock is not dropped there. Working on a fix.

[2020-01-28 09:38] amckinstry commented on #7331
The problem occurs when openmpi is built _without_  libltdl, but the test case is linked with ltdl:
[code]

[2020-01-28 15:57] awlauria commented on #6950
What is the status of this? Does #7207 need updating or is it ready to merge?

[2020-01-28 15:59] #7027 closed

[2020-01-28 16:16] rhc54 commented on #7150
Please reopen if you still have a problem.

[2020-01-28 16:16] #7150 closed

[2020-01-28 16:17] jsquyres commented on #7035
We don't seem to understand a root cause for this issue, so it's not likely to be included in 3.1.6.

[2020-01-28 16:31] jsquyres commented on #7331
I'm not sure about that test: if you get a valid `handle` value back from `lt_dlopen()`, is the value from `lt_dlerror()` relevant?  I.e., is the `handle` value you're getting back from `lt_dlopen()` invalid?  All we can tell from this test is that it's not NULL.

[2020-01-28 17:15] amckinstry commented on #7331
I can find no docs for `lt_dlerror()` but `dlerror()` returns NULL with no previous error.

The version of the code with simple dlopen() works with no error, and the test case works (no error) with openmpi3.
So I think the test case is ok (its a cut down case as you can see from the URL at the top of the PR).

[2020-01-28 17:56] jsquyres commented on #7331
From https://www.gnu.org/software/libtool/manual/libtool.html:

[code]

It does not guarantee that the error returned is from the _last_ invocation of an `lt_FOO()` call.

More specifically, the documentation for `lt_dlopen()` on the same page says:

[code]

Since `lt_dlopen()` didn't return NULL, it didn't fail, and therefore I think that the return from `lt_dlerror()` is returning something unre

[2020-01-28 18:09] jsquyres commented on #7331
Just to be 100% clear: I think it needs to be proved that this test is valid.  For example: what happens if you use the non-NULL handle that was returned from `lt_dlopen()`?  I'll bet you a beer it works fine -- i.e., there was no error.  Granted, you'll have to meet me in person to collect -- but if it ever happens, I'll pay up!  😄

I see I also forgot to directly answer the question: why is `lt_

[2020-01-28 18:55] devreal commented on #6950
#7207 has been approved but I don't have the rights to merge it.

[2020-01-28 18:57] #6950 closed

[2020-01-28 23:39] artemry-mlnx opened #7347 "Trigger Mellanox CI with bot:[mellanox:]retest PR comments"
Currently Mellanox Open MPI CI is based on Azure Pipelines service and is triggered with `/azp run` PR comments ([README](https://github.com/open-mpi/ompi/blob/master/.ci/README.md)).
For the convenience it's needed to investigate how to trigger it with the old PR comments `bot:[mellanox:]retest`.

Initial discussion: https://github.com/open-mpi/ompi/pull/7134

[2020-01-28 23:44] artemry-mlnx opened #7348 "Sporadic Mellanox Open MPI CI failures with the error "fatal: reference is not a tree""
Mellanox Open MPI CI may fail from time to time during `git checkout` phase with the error `fatal: reference is not a tree`.

Workaround: re-run Mellanox CI with `/azp run` PR comment (for details see [README](https://github.com/open-mpi/ompi/blob/master/.ci/README.md)).

Potential root cause: [Azure Pipelines issue (not yet fixed)](https://developercommunity.visualstudio.com/content/problem/89157

[2020-01-29 07:09] hjelmn commented on #7303
I think I have a fix. @devreal If I give you a patch can you try it and see if it works for you?

[2020-01-29 08:59] devreal commented on #7303
Absolutely, I'll be happy to give it a try :+1:

[2020-01-29 15:49] amckinstry commented on #7331
Ok, tested it and I agree. I owe you a beer sometime :-)

In the upstream bug report they had a larger test case, test_mpi_ocl.c related to the original problem. Unfortunately I get "success" from that test case, so the original bug has gone
into hiding.

Contacted the upstream reporter. I will close this issue in a week unless there are developments.

[2020-01-29 20:49] gpaulsen commented on #7331
@amckinstry & @jsquyres, thanks for looking into this.  I'm removing the v4.0.3 milestone for this issue.  If it persists we can add it to v4.0.4.

[2020-02-02 12:24] jsquyres commented on #7209
@MaskRay We have arrived at a good solution on PR #7210.  I'll back port this to the v4.0.x release branch.  Do you need it fixed in v3.0.x and v3.1.x, as well?  We do have upcoming releases pending for these series, but we're trying to raise the bar for what constitutes a "really should be fixed" bug on these older series -- i.e., we're trying to do less work on v3.0.x and v3.1.x because they're

[2020-02-02 18:14] dmitrygx opened #7354 "Compilation warnings with GCC 4.8.5 on RHEL 7.5"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

the master branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

OMPI was installed from `git clone`
[code]

### If you are building/installing from a git clone, pl

[2020-02-02 21:56] #7209 closed

[2020-02-03 00:41] MaskRay commented on #7209
Thanks. I don't need it to be back ported to v3.0.x and v3.1.x.

@mwglass Do you need it? I assume you filed https://bugs.llvm.org/show_bug.cgi?id=43748

[2020-02-03 15:41] devreal commented on #7303
@hjelm Can you please send me the patch to try? I'm still struggling with this issue...

[2020-02-03 17:10] hjelmn commented on #7303
http://github.com/hjelmn/ompi/tree/fix_bug_7303_the_rcache_deadlock

[2020-02-03 17:25] gpaulsen commented on #7312
Referenced in [OpenUCX community issue 4684](https://github.com/openucx/ucx/issues/4684)

[2020-02-03 17:26] gpaulsen commented on #7312
Closing on Open-MPI side, as this appears to be a ucx issue.

[2020-02-03 17:26] #7312 closed

[2020-02-03 17:37] gpaulsen commented on #5470
Removing critical since there is a workaround for disabling builtin atomics.
I'll rerun the test on v4.0.x and see where it stands today.

[2020-02-03 17:38] hppritcha commented on #134
@bosilca can this be closed?

[2020-02-03 17:39] gpaulsen commented on #6633
@jsquyres Have these fixes been backported to v3.1.x and v3.0.x?  Can we close this Issue?

[2020-02-03 19:50] devreal commented on #7303
Thanks for the patch! I tested the branch, which gives me a bunch of warnings and a Segfault with the reproducer posted over at https://github.com/open-mpi/ompi/issues/7319 (running on 16 nodes, one rank per node, 24 threads each):

[code]

[code]

The Segfault is caused by `rcache_grdma` having the value `0xdeafbeeddeafbeed`.

In a different place, I get the following Segfault:

[code]

[2020-02-03 20:15] jsquyres commented on #7212
We're working on it; we're in rc2 at the moment.  I'm going to close this because the issue is resolved.

[2020-02-03 20:23] hppritcha commented on #5115
well I trie to get back to this but it looks like somethings messed up with launchmon now:
[code]
@lee218llnl

[2020-02-03 20:26] jsquyres commented on #7214
v3.0.x/v3.1.x release manager decision: we will not be bringing this fix back to the v3.0.x or v3.1.x branches.  The fix for this will only be on v4.0.x and forward.

[2020-02-03 20:28] lee218llnl commented on #5115
Can you try rerunning `bootstrap` and see if that fixes it?

[2020-02-03 20:31] rhc54 commented on #7335
Just to be clear: that mca param doesn't "fix" the problem. It just avoids it. The price is that the memory footprint of your application procs will be significantly larger.

[2020-02-03 21:47] acse-fk4517 opened #7357 "Mac OS Catalina: clang: error: unsupported option '-fopenmp'"
Thank you for taking the time to submit an issue!

## Background information
I have installed open-mpi on macOS Catalina using the command `brew install open-mpi`. I have also installed llvm through brew. That also appears to be working. The IDE I am using is CLion.

My CLion IDE  is set as follows:

<img width="1019" alt="Screenshot 2020-02-03 at 21 41 06" src="https://user-images.githubuserconte

[2020-02-03 22:08] bosilca commented on #134
This isn't fixed and will not going to be. The simplest solution for application requiring collective with different type signature (but same typemap) is to disable all pipelining for MPI collectives.

[2020-02-03 22:37] gpaulsen commented on #134
@bosilca Is there a way to just disable the pipelining for MPI collectives?  I think the big hammer is disabling the entire tuned collective component, but perhaps there's a better approach?
I see you can force a non-pipelined algorithm for both bcase and reduce algorithms, but is there a better approach?

[2020-02-03 22:58] bosilca commented on #134
First, all pipeline algorithms suffers from this issue, not only those in the tuned collectives. Second, disabling tuned or more generally disabling pipelining will have a drastic performance impact on most applications (and not only for DL). Last, tuned is the only collective component that supports MPI_T as a mean to configure the collective decision per communicator (and there are several examp

[2020-02-04 01:48] afernandezody opened #7359 "Question about btl_uct_component"
Hello OMPI Team,
I'm trying to install OMPIv4.0.2 in an EPYC2 system running on Ubuntu 18.04 with a 200 Gb HDR Mellanox ConnectX-6. The installation is simply `./configure --prefix=/opt/openmpi --with-sge` and
`make -j`
I was getting an error (Makefile:1895: recipe for target 'libmca_common_ucx.la' failed) that I fixed by installing UCX(1.7.0) but ran into an unexpected error:

[code]
There could

[2020-02-04 02:32] bosilca commented on #7359
This has been fixed in master with a3026c016a and 9d345d9aa, and both of these patches are in 4.0.2. The only way to get this error is if the configuration script does not detect the correct version of UCX and use the UCX 1.6 API.

Check your configure output of your configure for something like below:
[code]

Your error might be explained if you updated the version of UCX to 1.7 but didn't run th

[2020-02-04 05:31] kawashima-fj commented on #134
related (but not same): #199 #1763

[2020-02-04 12:03] #7253 closed

[2020-02-04 12:30] devreal commented on #7319
For the record: I seem to be able to run test application successfully with the udreg rcache (`--mca btl_ugni_rcache udreg`). Will that have any significant impact on performance? A quick Google search didn't bring up anything helpful on the differences between `udreg` and `grdma`.

[2020-02-04 15:06] hjelmn commented on #7319
Yes. udreg is significantly slower for multithreaded applications. Give my fix a try and let me know if it fixed the issue.

[2020-02-04 15:21] hppritcha commented on #5115
hmm.  looks like I'm stuck with this till the sysadmins install libgcrypt-devel rpm.

[2020-02-04 15:25] devreal commented on #7319
I gave it a try but it ended in a Segfault :/ See https://github.com/open-mpi/ompi/issues/7303#issuecomment-581587214

[2020-02-04 15:44] afernandezody commented on #7359
Hi @**bosilca**,
The PRs that you mention seem to have been committed in November, whereas the stable version of v4.0.2 is dated in early October. No problem, this evening I'll retry the installation and, if it's still not working, I'll just move on to one of the development versions for v4.0.3. Thanks.

[2020-02-04 15:46] lee218llnl commented on #5115
you could install libgcrpyt at the user level using Spack, or you could try installing it directly from source.

[2020-02-04 15:50] hjelmn commented on #7303
Ok. Think I see the issue. Will fix and let you know when you can try again.

[2020-02-04 16:12] jsquyres opened #7361 "BTL TCP: static assert must be protected"
The use of `_Static_assert()` must be protected by:

[code]

Recent commit e958f3cf2248cd19d2eb91c223b2009488c85279 didn't protect its use of `_Static_assert()` in the TCP BTL, and it's causing failures on gcc 4.4.7 (i.e., RHEL 6 default compiler).

https://github.com/open-mpi/ompi/blob/827e9f66af94b9269b15c3fd54b7e578f5740821/opal/mca/btl/tcp/btl_tcp_addr.h#L65

@wckzhang This was your commit --

[2020-02-04 16:12] jjhursey commented on #7216
I guess I didn't follow up here about the JSM schizo component. That component was intended to help OMPI detect being direct launched with JSM. When we move to PRRTE then OMPI will use standard PMIx mechanisms for this detection, so it shouldn't be needed anymore. I agree it wouldn't make sense to have it in PRRTE.

[2020-02-04 16:16] jsquyres commented on #7361
@hjelmn just confirmed for me: static assert is C11 (not C99), which is why we need to protect the use of them.

[2020-02-04 16:20] artemry-mlnx commented on #7348
It looks like the [related Azure Pipelines issue](https://developercommunity.visualstudio.com/content/problem/891579/git-checkout-error-reference-is-not-a-tree.html) has been fixed.
I'm monitoring whether such error appears again.

[2020-02-04 16:20] #7348 closed

[2020-02-04 16:35] artemry-mlnx commented on #7347
Posted the related discussions about custom Azure Pipelines GitHub PR comment triggers on:
- Microsoft Developer Community forum: https://developercommunity.visualstudio.com/idea/905960/custom-pr-comment-triggers-for-azure-pipelines.html
- Stack Overflow: https://stackoverflow.com/questions/60061750/custom-github-pr-comment-triggers-for-azure-pipelines

[2020-02-04 16:38] bosilca commented on #7359
My bad, I was not looking at the release but I was using the current 4.0.2 branch. Next release is just around the corner, meanwhile you can simply clone the 4.0.x branch.

[2020-02-04 16:46] jsquyres opened #7362 "Recent hwloc base change breaks external hwloc <= v2.0.x"
PR #7201 causes compile errors on master when compiling with older versions of hwloc (older than v2.0.x).

Open MPI master still supports hwloc >= v1.5.x.  Are we changing this to be >= v2.0.x?

Specifically, when I try compiling Open MPI master HEAD with an external installation of 1.5.1, I get the following compile error:

[code]

It looks like ea80a20e108cb69efc67ad04ad968da7b85772af removed th

[2020-02-04 16:48] jsquyres commented on #7362
@gpaulsen @hppritcha There was discussion on #7201 as to whether it should be back-ported to v4.0.x.  It doesn't look like it was, but just in case you guys have that one on deck for v4.0.x: be warned that breaking compatibility to hwloc <= v2.0 is a consequence.

[2020-02-04 16:53] hppritcha commented on #7362
@bgoglin i will take a look at patching this up.

[2020-02-04 16:53] rhc54 commented on #7362
Wow - are you seriously holding us to work with something as ancient as hwloc v1.5?? I thought we only went back to 1.11, or maybe 1.10 (doubtful)

[2020-02-04 16:54] bgoglin commented on #7362
I thought you would have a CI testing over hwloc < 2.0.
Go ahead and bring back the obj definition, and add some #if HWLOC_API_VERSION to shutup the warning. I can look at it later today.
@rhc54 Don't worry, hwloc 1.11 likely breaks the same :)

[2020-02-04 16:58] jsquyres commented on #7362
FWIW: this is what's currently in the code base:

https://github.com/open-mpi/ompi/blob/827e9f66af94b9269b15c3fd54b7e578f5740821/opal/mca/hwloc/external/configure.m4#L137-L147

So I have an MTT testing with 1.5.1.

I know that this is a side issue, but: I don't know if I have an opinion on what the oldest version is that we need to support.  What do popular distros ship with?  If we're considering

[2020-02-04 16:59] jsquyres commented on #7362
Only in the nightly MTT builds -- not in CI, sorry.  ☹️

I probably will not have the cycles to do this any time soon.  ☹️  Beers for @bgoglin in Portland!

[2020-02-04 17:32] #7357 closed

[2020-02-04 17:34] rhc54 commented on #7362
Centos 7 is at hwloc v1.11 - don't know about other distros

[2020-02-04 18:13] jsquyres commented on #7362
Good data point.  I'll add this to the [f2f agenda](https://github.com/open-mpi/ompi/wiki/Meeting-2020-02) (since Brice will be there, too).  That's orthogonal to this issue (that the code breaks for *any* version <2.0.x), but it's good to have that conversation.

[2020-02-04 18:18] jsquyres opened #7363 ""autogen.pl --force" fails in master tarball due to missing hwloc dirs"
If you run `./autogen.pl --force` in a distribution tarball, it fails because there are hwloc directories not present:

[code]

We used to include these directories -- along with dummy `Makefile.am` files -- before we made hwloc be a git submodule.

`make distcheck` works on a master git checkout, but something is not translating correctly to the generated tarball such that if you run autogen in i

[2020-02-04 18:25] jsquyres commented on #7357
Greetings @acse-fk4517.  You closed the issue -- did you resolve the problem?

[2020-02-04 18:47] acse-fk4517 commented on #7357
Hi @jsquyres I did manage to fix it - just a noob mistake when using cmake! Thanks

[2020-02-04 18:49] jsquyres commented on #7357
@acse-fk4517 Cool.  If you weren't aware of it, FYI: https://www.open-mpi.org/faq/?category=mpi-apps#cant-use-wrappers

[2020-02-04 20:06] wckzhang commented on #7361
I took a look, it looks like awlauria has sent out a PR which I approved. Nice catch!

[2020-02-04 20:24] #7361 closed

[2020-02-05 09:20] bgoglin commented on #7363
autoreconf -f fails the same in hwloc embedded tarball (with additional errors for missing *.in files).
@ggouaillardet looked at fixing this in the past open-mpi/hwloc#235 but it wasn't really needed at that point.
Not sure how to fix this. We could try changing the hwloc dist script to add all those dummy directories and Makefile.am?

[2020-02-05 14:12] mwglass commented on #7209
I don’t need it back ported - thanks!

[2020-02-05 16:46] mwglass commented on #7209
Will this make it into 4.0.3?

[2020-02-05 18:33] #7362 closed

[2020-02-05 22:00] RishiKalluri opened #7368 "MPI Failing to Bind Process to hwthread"
## Background information

Trying to run nccl-test with MPI and --bind-to hwthread

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Ran mpiexec --version:

mpiexec (OpenRTE) 2.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

I installed

[2020-02-05 22:02] devreal opened #7369 "Internal hwloc build broken on master"
I pulled current master and did a `git submodule update --init --recursive` before running `autogen.pl`. Now the build of the internal hwloc fails with the following errors:

[code]
and many more...

Configure detects the existing hwloc to be too old so it chooses the internal one:

[code]

I tried going back before #7366 but that didn't help, so I assume it's not the culprit.

[2020-02-05 22:23] bgoglin commented on #7369
This is very strange. It sounds like it's compiling hwloc 2.1 internals with older hwloc headers. Did hwloc work as a submodule before in that clone? Can you check you don't have a stale hwloc copy in another subdirectory below opal/mca/hwloc that somehow wasn't removed when switching to submodules? Since there's hwloc201 in your errors, I was thinking the pre-submodule hwloc 2.0.1 is still there

[2020-02-05 22:31] jsquyres commented on #7369
I'm not running into this problem.

Can you attach your `config.log` and the stdout from running `configure`?

[2020-02-05 23:25] hjelmn commented on #7303
@devreal Try http://github.com/hjelmn/ompi/tree/fix_bug_7303_the_rcache_deadlock_v3  . Different approach but will likely work. Tested @ 64 KNL threads with a RMA-MT by adding per-round allocation/deallocation to the code. Seems to be working ok.

[2020-02-06 00:46] hjelmn commented on #7303
Spoke too soon. Found  a bug.

[2020-02-06 00:55] rhc54 commented on #7368
I'm not sure you can bind in a Docker container. Regardless, what it the message is telling you is that it couldn't bind the memory, not that the process itself wasn't bound. Could be you don't have adequate support in the container for memory binding.

@bgoglin You have any experience with folks trying to bind procs and memory inside Docker?

[2020-02-06 04:40] hjelmn commented on #7303
Now give it a try.

[2020-02-06 08:41] devreal commented on #7369
The old hwloc was still lingering around:

[code]

Manually deleting `opal/mca/hwloc/hwloc201/` did the trick for me. Closing.

[2020-02-06 08:41] #7369 closed

[2020-02-06 13:22] devreal commented on #7303
Thanks a lot! It seems that I can run the PaRSEC benchmark successfully with this patch :+1:

However, the OpenMP benchmark posted in https://github.com/open-mpi/ompi/issues/7319 still throws an error:

[code]

[code]

That might be an unrelated issue though.

[2020-02-06 14:49] jsquyres commented on #7331
@amckinstry closed the upstream bug as NOTABUG.  Closing this issue to match.

Thanks for reporting the issue!  Glad we could track it down / resolve the issue.

[2020-02-06 14:49] #7331 closed

[2020-02-06 14:51] jsquyres commented on #7369
@devreal Git pro tip: `git clean -dfx` will completely clean your git tree of all files not tracked by git (use with care!!).  This can be helpful for deleting module subdirs like this -- e.g., when you switch between branches, or when a commit removes a module subdir (but its build product persists), etc.

[2020-02-06 15:45] jsquyres commented on #7209
@mwglass Yes, this was merged into the v4.0.x branch.  It will be in the upcoming v4.0.3 release.  You can give it a whirl with a nightly snapshot tarball: https://www.open-mpi.org/nightly/v4.0.x/

Thank you for brining this to our attention!

[2020-02-07 10:42] devreal commented on #7369
@jsquyres Damn, I just saw your email on the devel mailing list about submodules and checking the wiki before complaining about broken builds, don't know how that slipped through. Will be more careful next time :)

[2020-02-08 19:01] opoplawski opened #7374 "Possible Fortran API changes in 4.0.3"
I update openmpi in Fedora Rawhide to 4.0.3rc3 from 4.0.2.  The ABI check returned the following:
[code]
These seem like very odd variable names and I suspect that their previous definition was a mistake, but I'm posting here out of an abundance of caution.

[2020-02-09 02:32] ggouaillardet commented on #7374
Thanks a lot for the report!

These symbols have been removed from `master` on purpose, but they were supposed to be there in the release branch(es) not to break the ABI.

I will have a look at it!

[2020-02-09 05:43] ggouaillardet commented on #7374
@opoplawski I cannot reproduce this issue.

I installed the latest `rawhide`, and rebuilt from `openmpi-4.0.2-0.5.rc2.fc31.src.rpm` (I could not find package for `4.0.2-5.fc32`), and then

[code]

so I could not find anything related to `ompi_f08_mpi_2int` nor `__mpi_f08_types_MOD_mpi_2int`.

Just to be clear on the changes, some Fortran definitions were revamped (C binding was replaced by a `para

[2020-02-09 20:33] opoplawski commented on #7374
This is strange.  Currently the openmpi update tests are not working (https://bodhi.fedoraproject.org/updates/FEDORA-2020-bb851fb93e show "no previous stable build").  So, I downloaded the openmpi, -devel, and -debuginfo packages for the 4.0.2-5.fc32 and 4.0.3rc3 builds from here:

https://koji.fedoraproject.org/koji/packageinfo?packageID=17

and ran:
[code]
So with that I see added symbols, not r

[2020-02-10 00:28] artemry-mlnx commented on #7347
Microsoft representative has [confirmed](https://stackoverflow.com/a/60069528/4294918) on Stack Overflow that custom PR comment triggers aren't supported and the special Azure Pipelines service connection type "[Incoming Webhook](https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/pipeline-triggers.md#webhook-triggers)" (to listen GitHub events such as new PR comment) isn't yet im

[2020-02-10 05:23] ggouaillardet commented on #7374
Thanks for the update, I observe the same behavior : some symbols were added, but none were removed, so I will close this issue.

[2020-02-10 05:23] #7374 closed

[2020-02-10 16:11] awlauria opened #7377 "PGI compiler failures"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

All versions are affected. Most failures are seen in MTT.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

All - co

[2020-02-10 18:56] gshamov opened #7378 "Cannot find an UCX device after updating to CentOS 7.7?"
## Background information
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v 3.1.4, v 4.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

OpenMPI was built from sources using UCX 1.6.1, RDMA-core 25.3 (also built fron sources) on CentOS 7.

[2020-02-10 22:06] gpaulsen commented on #7214
I believe https://github.com/open-mpi/ompi/pull/7201 is  intended to resolve this Issue.

[2020-02-10 22:26] lriesen opened #7381 "OpenMPI OSHMEM 4.0.2 missing some pshmem functions"
Our performance profiling tool intercepts application SHMEM functions, does some work, and then calls the related pshmem function in the OSHMEM library.  OSHMEM is missing pshmem_info_get_version and pshmem_info_get_name.  I know it seems pointless to include these 2 functions when doing performance profiling, but much of our tool is auto-generated, and the fact that there are no "p" versions of t

[2020-02-11 00:01] hjelmn commented on #7303
@devreal I think that is unrelated. I can't reproduce the issue with my branch with PrgEnv-gnu running with ```mpirun --np 2 --bind-to socket --npernode 1```. Am I running it correctly?

[2020-02-11 10:04] devreal commented on #7303
Have you tried running it on more than two nodes? Your run command seems right. It appears for me on 16 nodes with a run command like this:

[code]

[2020-02-11 13:41] naughtont3 opened #7384 "failure during MPI_Win_detach"
## Background information

Application failure with Open MPI with one sided communication (OSC).

Reporting on behalf of user to help track problem.

The test works fine with MPICH/3.x, Spectrum MPI, and Intel MPI.

### What version of Open MPI are you using?

 - Fails with latest master (c6831c59c8)
 - Need to check status with v4.0.x and v3.0.x

### Describe how Open MPI was installed

Standard

[2020-02-11 15:26] DmitryLyakh commented on #7384
All OpenMPI versions I tried, including 3.x, 4.x, and the latest github master fail, although not sure if the problem is exactly the same in all cases. I only debugged the latest master and 4.0.2, where I found that the error occurs in /ompi/mca/osc/rdma/osc_rdma_dynamic.c in function ompi_osc_rdma_detach because ompi_osc_rdma_find_region_containing() does not find the dynamic memory region, but i

[2020-02-11 15:37] yosefe commented on #7381
adding @jladd-mlnx

[2020-02-11 15:54] jsquyres commented on #7384
Can you make a smaller reproducer, perchance?

[2020-02-11 16:46] hjelmn commented on #7384
I will use the one provided. Will quickly delete gfortran once I am done :p. Keep in mind that in some implementations attach/detach are essentially no-ops so success with another implementation does not necessarily mean there is a bug in Open MPI.

But given that attach/detach test coverage is incomplete it would not be surprising if there is a bug.

[2020-02-11 17:14] DmitryLyakh commented on #7384
Making a smaller reproducer would be extremely hard due to the code architecture, but I can assist with code navigation and debugging. In particular, there is only one source of MPI_Win_attach() in DDSS/distributed.F90 (subroutine DataWinAttach) and there is only one source of MPI_Win_detach() in DDSS/distributed.F90 (subroutine DataWinDetach). Similarly, all other MPI-3 RMA one-sided functionalit

[2020-02-11 17:15] DmitryLyakh commented on #7384
I am also trying to double check that my use of MPI-3 is valid, which I believe it is, but still there is a chance I am missed something.

[2020-02-11 17:15] hjelmn commented on #7384
[code]

[2020-02-11 17:16] DmitryLyakh commented on #7384
You are likely not using gcc/8.x.

[2020-02-11 17:17] DmitryLyakh commented on #7384
Only gfortran/8.x works, other versions have compiler bugs, including gfortran/9.x.

[2020-02-11 17:56] DmitryLyakh commented on #7384
I have just checked again and can confirm that the application is trying to detach a valid (previously attached) region which has not been detached before. Moreover, this is neither the first Detach call nor the last, if this can help. Also, no error code is returned from MPI_Win_detach() because of the crash, so I would assume the Open MPI would have returned an error code instead of crashing in

[2020-02-11 18:59] hjelmn commented on #7384
The problem occurs because the program attaches multiple regions that overlap least one page (minimum hardware registration unit). Taking a look at one crash:

 * MPI_Attach 8 byte region starting at 0x151090000c20.
 * MPI_Attach 30752 byte region starting at 0x151090000f60.

Both of these regions contain the 4k page at 0x151090000000. Ideally osc/rdma should have returned an error as the implemen

[2020-02-11 19:20] DmitryLyakh commented on #7384
Ha, this is subtle, but makes total sense from the implementation point of view. Thanks for such a quick investigation! I have always interpreted the standard as non-overlapping virtual ranges. On the other hand, can we safely assume that a 4K-byte page is always the minimum hardware registration unit on all systems, because otherwise the MPI standard will introduce a non-portable restriction? In

[2020-02-12 07:38] Keepmoving-ZXY opened #7388 "How to disable ucx during OpenMPI run?"
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
 4.0.2a1
### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
OpenMPI comes from mellanox ofed driver.
### If you are building/installing from a git clone, please copy-n-paste the output from `git sub

[2020-02-12 08:52] bwbarrett commented on #7388
Unfortunately, Open MPI doesn't have a good way of universally saying "don't use this transport".  The UCX errors are coming from the `hcoll` collectives component, which is Mellanox's accelerated collectives library.  Adding `-mca coll ^hcoll` should disable the Mellanox-specific collectives.

[2020-02-12 10:42] Keepmoving-ZXY commented on #7388
How about compile OpenMPI without ucx support?

[2020-02-12 10:43] jsquyres commented on #7388
You can do this:

[code]

[2020-02-12 10:45] Keepmoving-ZXY commented on #7388
ok, I have a try.

[2020-02-12 10:49] jsquyres commented on #7388
When your build is done, you can use `ompi_info` to check.  `ompi_info` tells you lots of things about your Open MPI installation.  E.g.:

[code]

If you built without UCX support, that should return nothing.

If somehow you accidentally did build with UCX support, you can also delete the UCX plugins from the installation tree.  For example:

[code]

[2020-02-12 11:03] bwbarrett commented on #7388
Although, again, since the problem is HCOL (which uses UCX under the covers), you probably want to have *both* `--without-ucx` and `--without-hcol`, or you're going to use TCP for point to point and UCX for collectives.

[2020-02-12 11:11] jsquyres commented on #7388
Good catch; thanks.  I thought hcoll only spoke UCX, and therefore was covered by `--with[out]-ucx`.  Huh.

[2020-02-12 12:39] Keepmoving-ZXY commented on #7388
I have compiled OpenMPI with `--without-ucx` and `--without-hcol`, and the scripts run normal finally.

[2020-02-12 12:40] Keepmoving-ZXY commented on #7388
Thank you very much @jsquyres  @bwbarrett

[2020-02-12 15:24] awlauria commented on #7377
PGI recommended that we switch to `pgcc18` - and that `pgcc` has some lingering issues. I'm testing that out now to see if it is any better.

PGI18 support needed to be fixes as configure was thinking `PGI18` was a gcc compiler, and would fail on the configure step. This was fixed in #7385

Their full reply in reference to `SR1000807`:

[code]

[2020-02-12 16:58] dmitrygx commented on #7388
@Keepmoving-ZXY

If you are going to use TCP and shared-memory transports instead of RDMA-aware transport, you can also do this with UCX by setting `UCX_TLS=tcp,sm` env variable and giving `-mca pml ucx` to mpirun command line. `UCX_NET_DEVICES=<IP interface name>` can be used to specify an IP interface that you are going to use for TCP communications (TCP chooses the most fastest by default). The

[2020-02-12 17:13] hppritcha opened #7389 "mpirun context sensitive help gone with prrte replacement"
Not sure how important it is, but the context sensitive mpirun help that was added with the OMPI 3 series is gone now on master owing to the prrte replacment of orte, it seems.

[2020-02-12 17:44] rhc54 commented on #7389
Yep! Couldn't stand that thing as it was like playing 21-questions to guess what category a help issue was flagged under. I kept winding up going back to the code to find out the category, which meant I already got the answer from the code itself.

[2020-02-12 19:53] jjhursey commented on #7377
I'm using:
[code]

If I configure/make with `CC=pgcc CXX=pgc++ FC=pgfortran` and the current `master` (wiht your fix from PR #7385 it build successfully. Yay!

However, if I configure with `CC=pgcc18 CXX=pgc++ FC=pgfortran` then configure fails with the following in the OpenPMIx check:
[code]
OpenPMIx has just incorporated the change in https://github.com/openpmix/openpmix/pull/1628

With https://

[2020-02-12 19:57] rhc54 commented on #7377
FWIW: I "upped" the openpmix pointer to include the referenced change in #7386. Just waiting to get that one thru CI

[2020-02-12 20:03] awlauria commented on #7377
@jjhursey I'm testing PGI18 right now on 3.0.x.

I think there's no harm in pushing these to the release branches and update our MTT to use it at this point though. I can do that cherry-picking.

I am seeing a lot more warnings as well that should get looked at.

[2020-02-12 20:06] #7214 closed

[2020-02-12 20:13] DmitryLyakh commented on #7384
I have just built the branch osc_rdma_allow_overlapping_registration_regions_and_return_the_correct_error_code_when_regions_overlap from https://github.com/hjelmn/ompi, but it results in exactly the same problem as before, even if I specify --mca osc_rdma_max_attach 128 in mpirun. Am I testing the wrong branch/commit? Commit I have is ec331c7998f84924713b7d1a97422ed7561cee7b
Author: Nathan Hjelm <

[2020-02-12 20:23] jjhursey commented on #7377
I'll do the cherry-picks for OpenPMIx and PRRTE, if you can do the OMPI branches.

We will try to get this into the OpenPMIx 3.1.5 for the OMPI v4.0.x stream.

[2020-02-12 20:28] awlauria commented on #7377
ompi pr's:

#7390
#7391
#7392

[2020-02-12 20:36] jjhursey commented on #7377
PRRTE (done):
 * https://github.com/openpmix/prrte/commit/8dcf76b874c072654e4e8ccae605ab45448da4ce

OpenPMIx
 * master (done) https://github.com/openpmix/openpmix/pull/1628
 * v3.1 https://github.com/openpmix/openpmix/pull/1630

[2020-02-12 22:12] naughtont3 commented on #7384
@hjelmn @DmitryLyakh I did a test with cherry-pick of #7383 and #7387 to point just prior to current PRRTE (no-orte) changes due to unrelated problems.  For clarity, I pushed the branch I tested here: https://github.com/naughtont3/ompi/tree/pre-NoRTE-plus-oscrdma-fix

Things fail later, but there is still a failure during the detach with SEGV while inside ompi_osc_rdma_remove_attachment().  A debu

[2020-02-12 22:25] naughtont3 commented on #7384
I noticed that had omp threads=8, so I re-ran with `OMP_NUM_THREADS=1` for slightly simpler case.  It fails to find a memory attachment and throws the error during detach.
 - [dbg-pr7387-omp-threads1.txt](https://github.com/open-mpi/ompi/files/4195319/dbg-pr7387-omp-threads1.txt)

[2020-02-12 23:36] awlauria commented on #7377
pgcc18 seems _better,_ but it still has issues. Once the branches are ready we'll merge the change on our end to use pgcc18, and will monitor for the same bogus errors.

I let PGI know that I was still able to reproduce some invalid memory accesses that might cause intermittent failures with `CC=pgcc18`.

[2020-02-13 00:21] naughtont3 commented on #7384
It seems like the `rdma_region_handle` is `ompi_osc_rdma_detach()` is NULL.  I am not sure why When that happens and you see  "could not find dynamic memory attachment" it returns `OMPI_ERR_BASE`, which triggers the MPI win error handler for errors-are-fatal.  So question is why/where does the `rdma_region_handle` get off?

[2020-02-13 00:37] Keepmoving-ZXY commented on #7388
ok, I will have a try.

[2020-02-13 02:49] afernandezody commented on #7359
Hi @**bosilca**,
It works with v4.0.3rc3. It took me a while to circle back in order to close the ticket. Looking forward to the stable release of v4.0.3. Thanks.

[2020-02-13 02:49] #7359 closed

[2020-02-13 10:42] manomars opened #7393 "A system call failed during shared memory initialization ..."
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.1 and v4.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installed from the source tarball (both with Int

[2020-02-13 13:02] manomars opened #7394 "shmem related files left in /dev/shm after interrupt"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v3.1.3, v3.1.4, v4.0.1, and v4.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Open MPI v3.1.4, v4.0.1, and v4.0.2 were installed from their respective source ta

[2020-02-13 21:39] afernandezody opened #7396 "Issue with libmca_common_ucx.la"
Hello OMPI Team,
I'm trying to compile OMPIv4.0.3rc3 with UCXv1.7.0 and CLANGv9, The configuration command reads:
`./configure CC=clang CXX=clang++ FC=flang --prefix=/opt/openmpi --with-ucx=/usr/local/ucx-install --with-sge`
It builds (`make -j`) w/o any apparent issue but, towards the end of the installation (`sudo make install`), it's producing the following error message:
[code]
I'm not really

[2020-02-14 03:57] hjelmn commented on #7384
Think I found the issue. Please try it again.

[2020-02-14 11:53] hoopoepg commented on #7396
hi @afernandezody
we can't reproduce issue on our compiler.

could you briefly describe your environment?
what is OS & version?
how is clang installed? by package manager or as module? could you run `which clang`?

could you set prefix to any directory accessible for writing by your account (non-root) and try to make install OMPI without root permissions?

thank you for help

[2020-02-14 15:18] afernandezody commented on #7396
Hello,
The OS is CentOS(7.7) with kernel 3.10.0-1062.12.1.e17 on AMD-Rome. I installed clang from the AOCC rpm distro v2.1.0 and sourced setenv_AOCC.sh (guess that I could try from the tar file but doubt it would make much difference). Some info about clang:
[code]
The installation (`make all install`) in my own subdirectory completes without the error, which makes a come back when I try the root

[2020-02-14 15:32] hoopoepg commented on #7396
ok
could you run
[code]
and attach output here?
and could path to clang be excluded when you run command under root?

[2020-02-14 15:40] afernandezody commented on #7396
I'm not sure if I understand your 2nd question. If the path to clang is not there, won't OMPI just complain that it doesn't understand which compiler is supposed to use?

[2020-02-14 17:05] afernandezody commented on #7396
Hi @hoopoepg,
The output when including V=1 reads:
[code]

If I "unsource" the clang path, it's stopping with:
[code]

Still unsure how to interpret your 2nd suggestion and what is trying to accomplish.
Thanks.

[2020-02-14 17:34] hppritcha opened #7399 "mpirun - no output to stderr/stdout if prrte launch_orted_on_hn is true"
By default, the mpirun now in master following the orted removal no longer forwards stdout/stderr from MPI processes in a job if the PRRTE launch_orted_on_hn mca parameter is set to true.

Its not clear how to feed the get the mpirun/prun binary to do the equivalent of
[code]
from the mpirun command line.  The help documents a system-server-first option but this doesn't seem to be applicable.

[2020-02-14 18:39] jmstover opened #7400 "Question on git tags and versioning"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
3.1.5 ... build from v3.1.5 tag

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone

### If you are building/i

[2020-02-14 19:10] naughtont3 commented on #7384
This seems better for my test.  But I will have to check with Dmitry to ensure it behaves as expected for him.

[2020-02-14 19:57] bwbarrett commented on #7400
Yes, this is expected.  We do not update the VERSION file to erase the "greek" value when tagging, as that would be an extra (useless) commit in our tree and makes some of our positive sanity checks (such as building the tarball from the same git hash for nightly testing and actual release) difficult.  The actual value of the greek field at a tag depends on how many times we messed up and had to c

[2020-02-14 20:05] jmstover commented on #7400
Okay, that's good. I just didn't know if it was expected behaviour to have the "greek" rc# on the non-RC tag. Since it is I won't worry about it. ;)

Thanks.
-J

[2020-02-14 20:05] #7400 closed

[2020-02-14 20:21] DmitryLyakh commented on #7384
I am unable to test this as I cannot find which branch/commit I am supposed to try. The last commit I see in Nathan's repository on branch osc_rdma_allow_overlapping_registration_regions_and_return_the_correct_error_code_when_regions_overlap is dated Feb 11. Where is the latest commit with today's fix?

[2020-02-14 20:22] DmitryLyakh commented on #7384
This is what I see as the latest commit (Feb 11):
commit 96ed63026033271a1d253776e3fbc8a573f91d10
Author: Nathan Hjelm <hjelmn@google.com>
Date:   Tue Feb 11 21:57:24 2020 -0800

    osc/rdma: modify attach to check for region overlap

    This commit addresses two issues in osc/rdma:

     1) It is erroneous to attach regions that overlap. This was being
        allowed but the standard does not

[2020-02-14 21:16] hjelmn commented on #7384
Forced pushed the branch. Just reclone it. You will probably need to set the max attach to 256 or higher for your app.

[2020-02-14 21:36] hppritcha opened #7401 "master fails to compile against external PMIx 3.1.4"
I'm trying to compile ompi master at cb0bc201  and get a compile failure:
[code]
unfortunately it looks like the prototype changed between the 3 and 4(master) PMIx releases

[2020-02-14 21:53] rhc54 commented on #7401
It only fails because you have "treat warnings as errors" set in your build 😄  Otherwise, this is a trivial warning that can be ignored. Meantime, I'll add some protection there.

[2020-02-14 21:54] hppritcha commented on #7401
Hmm... actually this gets worse.  It looks like the prrte submoduled in Open mpi can't be built with older PMIx's:
[code]

[2020-02-14 21:54] rhc54 commented on #7401
Yes, that is a given. Again, we plan to go back and add protections, but for now, we only support PMIx master

[2020-02-14 21:54] hppritcha commented on #7401
actually  I was using whatever the compiler flag defaults are buildling OMPI.  I didn't specify any particular compiler flags.

[2020-02-14 21:56] rhc54 commented on #7401
Really? Interesting - I'm not seeing that issue myself, but like I said, it is easy to protect. I'll take a crack at it in a bit.

[2020-02-14 22:03] hppritcha commented on #7401
I thought PMIx after 2 was suppose to be backwards compatible with older versions.

[2020-02-14 22:08] rhc54 commented on #7401
We would argue that it is backwards compatible - there is no API break here. It is only a minor warning unless you force the compiler to error out.

[2020-02-14 22:10] DmitryLyakh commented on #7384
I re-cloned https://github.com/hjelmn/ompi.git, checked out branch osc_rdma_allow_overlapping_registration_regions_and_return_the_correct_error_code_when_regions_overlap, commit 96ed63026033271a1d253776e3fbc8a573f91d10.
And it produces exactly the same crash in MPI_Win_detach as before (below) on my Ubuntu 16.04 laptop. Any ideas?
Printing scalar etens ...
etens()[]
    0.10668566847503D+15
Ok:

[2020-02-14 22:12] DmitryLyakh commented on #7384
I tried both 128 and 256 max limit, no difference ... However, Thomas somehow made it work on hist desktop. I will try on Summit as well later, but on my laptop I observe no difference, it always crashes the same way as originally reported ...

[2020-02-14 22:15] DmitryLyakh commented on #7384
This is the mpiexec command I used on my laptop:
/usr/local/mpi/openmpi/openmpi-hjelmn/bin/mpiexec -np $QF_NUM_PROCS -npernode $QF_PROCS_PER_NODE --hostfile hostfile --verbose --mca mpi_abort_print_stack 1 --mca osc_rdma_max_attach 256 ./exec.sh

hostfile:
localhost slots=4

[2020-02-14 22:19] naughtont3 commented on #7384
Yes, I think that his the same scenario b/c I see `MPI_ERR_UNKNOWN`, whereas on my desktop if I exclude the `--mca osc_rdma_max_attach 128`  it fails during `MPI_Win_attach` with error `MPI_ERR_RMA_ATTACH`.

[2020-02-15 14:05] #7401 closed

[2020-02-15 21:42] hppritcha opened #7405 "master cannot be built against external PMIX 2.x"
If I try to build master with ```--with-pmix``` pointing to a PMIx 2.x release and remember to add ```disable-internal-rte```, I get various compile failures starting with
[code]
I can build the 4.0.x release against this version of PMIx.

[2020-02-16 00:34] #6179 closed

[2020-02-16 01:00] gpaulsen commented on #5470
@bosilca https://github.com/open-mpi/ompi/pull/5445 has been merged.  Should we open an Issue to track removing buildin atomics on master before v5.0.x?

[2020-02-16 02:08] Keepmoving-ZXY opened #7407 "question about OpenMPI during TensorFlow training"
### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
build rpm based on `openmpi-4.0.2-1.src.rpm`, disable ucx and enable usnic, build command is:
[code]
### Please describe the system on which you are running

* Operating system/version:CentOS7.6
* Computer hardware: x86_64
* Network type: Etherne

[2020-02-16 02:58] #7405 closed

[2020-02-16 14:36] rhc54 commented on #6742
This is ages old, but the problem is right here:
[code]
The processes on the different nodes are seeing very different environments, leading them to select a different pml component. This is the component that manages communications and it cannot differ between processes.

You just need to add ```--mca pml ob1``` to your ```mpirun``` cmd line to ensure they all pick the same pml component.

[2020-02-16 14:39] gpaulsen commented on #6618
mwheinz verified this appears to be fixed in master and v4.0.x ( https://github.com/open-mpi/ompi/issues/7087 ).
Since this issue specifically refers to v4.0.x, I'm closing this as fixed.

[2020-02-16 14:39] #6618 closed

[2020-02-16 14:41] gpaulsen commented on #6198
Removing Target: Master and Target: v4.0.x labels, as this issue is now fixed in those branches.

[2020-02-16 14:43] gpaulsen commented on #7087
Closing this issue as a dup of https://github.com/open-mpi/ompi/issues/6198.  If this is incorrect, please feel free to reopen this and discuss.

[2020-02-16 14:43] #7087 closed

[2020-02-16 14:44] gpaulsen commented on #6198
FYI @mwheinz may also be interested in this fix on v3.1.x

[2020-02-16 14:49] gpaulsen commented on #5502
v4.0.x _WAS_ PRed here: https://github.com/open-mpi/ompi/pull/5757.
v3.1.x and v3.0.x has raised the bar as far as fixes going back there, and I doubt this fix raises to that level.  @jsquyres, @bwbarrett If you'd like me to PR back to v3.1.x this snprintf fix, please let me know and I can do so.
Assuming no, I'm closing this now.

[2020-02-16 14:49] #5502 closed

[2020-02-17 06:51] hoopoepg commented on #7396
sorry, typo in 2-nd question :)

so, su/sudo may be configured to update PATH variable. could you try to set full path to clang in configure run?

[2020-02-17 07:17] #7407 closed

[2020-02-17 07:17] Keepmoving-ZXY commented on #7407
Closed due to solved

[2020-02-17 12:34] jsquyres commented on #5502
At this point, I am fine with the fixes not coming back to v3.0.x and v3.1.x.

[2020-02-17 12:39] jsquyres commented on #6742
Given that this issue is so old, and it looks like @rhc54 answered the question, I'm going to go ahead and close the issue.  Feel free to re-open if the same issue is persisting, or open a new issue if something different is happening.

Thanks!

[2020-02-17 12:39] #6742 closed

[2020-02-17 12:47] mkre commented on #7308
I'm wondering if there is a way to avoid the file name conflicts as long as issue #7220 is not resolved..?

[2020-02-17 14:20] hunsa opened #7410 "Algorithmic bug in Bcast algorithm 8"
Dear Open MPI team,

I stumbled upon a problem in Bcast algorithm 8 in Open MPI 4.0.2.
see: https://github.com/open-mpi/ompi/blob/master/ompi/mca/coll/base/coll_base_bcast.c

In line 905, the following code starts

[code]

If I start a Bcast with 10 INTs on 7 nodes with 1 process per node (srun -N 7 --ntask-per-node=1), the code will crash depending on the underlying BTL component.

On vader and o

[2020-02-17 20:29] bosilca opened #7413 "Lost ORTE/PPRTE option"
I usually oversubscribe my 4-cores laptop for development purposes, but after one of the latest updates (731b7e89e38e8) it seems we have lost the capability to oversubscribe using the command line argument ```--oversubscribe```.

[code]

but

[code]

[2020-02-17 20:37] gsjaardema opened #7414 "Hang in MPI_File_write_at_all in 4.0.2"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Version v4.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
I have tried this with a couple different installatio

[2020-02-17 20:41] bosilca commented on #7413
From all the solutions proposed by the help message only the last one seems to work as expected ```mpirun -np 7 --host localhost:8 --mca btl tcp,self ./my_app``` allows me to oversubscribe as desired.

[2020-02-17 21:36] rhc54 commented on #7399
I checked this with my laptop docker containers and it doesn't work. However, it also didn't work for OMPI v4.x.

@hppritcha Is it working for you on v4.x? Just trying to understand if I can use my docker containers to test it.

[2020-02-17 21:57] hjelmn commented on #7384
Well, I can no longer reproduce the issue. I committed the changes to master so you can go ahead and try that and see what you get.

[2020-02-17 22:24] edgargabriel commented on #7414
Thank you for the bug report. There is good chance that this issue is identical with the bug reported in issue #7109

This should be fixed with PR #7193, which will be included in the upcoming 4.0.3 release. I will however run some tests to confirm that in the next few days.

[2020-02-17 22:40] edgargabriel commented on #7414
Could you provide me with a testcase of your code? And also, what file system are you using?

[2020-02-18 00:23] hppritcha opened #7417 "make autogen message for submodules note ready more friendly"
Some suggestions have come up at the 2/20 f2f for improving message generated by autogen.pl when one or more of the git submodules checkouts aren't ready:

- [ ] helpful message for those who are stuck behind a proxy and https is causing problems

[2020-02-18 00:42] hppritcha commented on #6539
close this as this isn't really essential for these older branches.

[2020-02-18 00:42] #6539 closed

[2020-02-18 00:42] #6134 closed

[2020-02-18 00:43] hppritcha commented on #5137
closing this since ORTE is going away.  If it becomes important in the future, an issue should be opened on prrte project: https://github.com/openpmix/prrte

[2020-02-18 00:43] #5137 closed

[2020-02-18 09:33] mkre commented on #6960
@hppritcha, has this already been addressed on the `v4.0.x` branch? I'm wondering if it's worthwhile testing `4.0.3rc3` to see if the issue is fixed there.

[2020-02-18 14:35] awlauria commented on #7377
With the change made to CC=pgcc18, looks like there is more configury work to do on the 2.x and 4.x branches.

2.x failed with the same but that 3 and 4.x branches saw before with configure thinking pgcc = gcc.
Since I assume 2.x is closed, we'll need to figure out some way to use CC=pgcc for it I think.

4.x failed with what looks like a similar configure issue in PMIx.

[2020-02-18 14:54] afernandezody commented on #7396
Hi @**hoopoepg**,
Calling `./configure CC=/opt/AMD/aocc-compiler-2.1.0/bin/clang CXX=/opt/AMD/aocc-compiler-2.1.0/bin/clang++ FC=/opt/AMD/aocc-compiler-2.1.0/bin/flang --prefix=/opt/openmpi --with-ucx=/usr/local/ucx-install` fixed the issue. I will close the ticket this evening unless you say otherwise. Thanks.

[2020-02-18 14:56] hoopoepg commented on #7396
hi @afernandezody
glad to know that it helped

thank you for feedback

[2020-02-18 15:18] DmitryLyakh commented on #7384
Do you mean the test code I provided runs to completion without a crash in MPI_Win_detach() in your case? I built and tested the latest commit (below) from github.com/hjelmn/ompi and still getting the same crash on my Ubuntu 16.04 machine ...

commit 54c8233f4f670ee43e59d95316b8dc68f8258ba0
Author: Nathan Hjelm <hjelmn@google.com>
Date:   Sun Feb 16 17:09:20 2020 -0800

    osc/rdma: bump the defa

[2020-02-18 15:21] #7396 closed

[2020-02-18 15:21] DmitryLyakh commented on #7384
Thomas, does the latest commit pass the test on your desktop?

[2020-02-18 18:46] naughtont3 commented on #7384
Yes on my desktop (not tested on Summit yet).

I pulled OMPI master with Nathan's changes merged and rebuilt on my desktop.

 - https://github.com/open-mpi/ompi.git
    - master  eeb3d7f

 - My configure line...

[code]

 - Here's ExaTensor info and launch command-line (on desktop)...

[code]

[2020-02-18 19:36] hjelmn commented on #7384
Looks to me like it runs to completion. I am running with Open MPI master with only setting the osc_rdma_max_attach MCA variable to 1024 (just to be safe).

[2020-02-18 19:45] DmitryLyakh commented on #7384
Just in case, did you build OpenMPI in Debug or Release mode?

[2020-02-18 19:48] hjelmn commented on #7384
debug mode. shouldn't make a difference but I can try again in optimized mode.

[2020-02-18 20:30] hjelmn commented on #7384
*shouldn't* but is. huh

[2020-02-18 20:57] hjelmn commented on #7384
ok, I see the issue. had the call inside an assert and we optimize assert out in non-debug builds. fixing.

[2020-02-18 21:52] bwbarrett commented on #57
With https://github.com/open-mpi/ompi/pull/7134, this should no longer be a problem.  Since BigRed has been dead for a decade, there's no good way to test this specific bug.  I'm going to close this ticket, since we believe we're fixed and can't prove it either way.

[2020-02-18 21:52] #57 closed

[2020-02-18 21:54] hppritcha commented on #3216
closing this because openib BTL is going away, already disabled by default for IB transport in v4.0.x and will go away completely with v5.0.x

[2020-02-18 21:54] #3216 closed

[2020-02-18 21:55] bwbarrett commented on #6240
@mkre https://github.com/open-mpi/ompi/pull/7134 should fix the pairing issue with TCP; can you see if master fixes your issue?  We likely can't backport to 4.0, but would like to make sure we have it right on 5.0.

[2020-02-18 22:09] hppritcha commented on #429
well the future is here and we're no longer considering use of ummunotify or similar package within Open MPI directly.  Rather we've enhanced our malloc hook methodology where we still use memory registration caches within Open MPI itself.

[2020-02-18 22:09] #429 closed

[2020-02-18 22:11] jsquyres opened #7423 "Segv / freeing memory from dlclose()'ed common libraries"
Per https://github.com/open-mpi/ompi/pull/7284#discussion_r365825048, there's a path where the `type` string for a component is free()'ed from a common library that has been closed.

[2020-02-18 22:31] bgoglin commented on #7368
Sorry I missed this ping earlier. @rishidk22 can you build hwloc and report the output of lstopo-no-graphics and hwloc-info --support to check whether everything looks good for hwloc in that docker?

[2020-02-19 00:05] naughtont3 commented on #7384
See also PR #7421

[2020-02-19 01:38] naughtont3 opened #7424 "fs/gpfs: fail common symbols check"
Check for common symbols is failing during make install due to `ompi/mca/fs/gpfs` pulling in `gpfs_hint_*` symbols.

### What version of Open MPI are you using?

master at 0276679

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Building from git clone on IBM (Summit).

### If you are buildin

[2020-02-19 01:41] naughtont3 commented on #7424
For my notes, here was my build env info...
[code]

[2020-02-19 11:35] romainhild opened #7429 "Error when writing file on more than one node"
I use Open MPI v4.0.2 from the tar.gz on a cluster running Ubuntu 16.04 with 6 compute nodes (24 cores each). The jobs are managed by slurm.

I have the following error when I try to write some files on disk when running on multiple nodes:
[code]
This error is displayed for each proc of one of the two nodes I use, not the other one.

The problem is that it does not happen all the times I launch th

[2020-02-19 14:00] edgargabriel commented on #7429
what filesystem are you using, and would it be possible to provide a reproducer for this problem?

[2020-02-19 14:03] edgargabriel commented on #7424
@naughtont3 we'll have a look at it.

[2020-02-19 14:05] romainhild commented on #7429
the compute nodes are in ext4 and where I'm trying to write is in nfs.
And I'm sorry but I'm still trying to find a way to reproduce in a consistent way the problem, as I said, it does not happen every time...

[2020-02-19 14:13] edgargabriel commented on #7429
is your code actually using shared file pointer operations? If not, it might be easiest to tell Open MPI to not try to initialize a sharedfp component at all

[2020-02-19 15:49] romainhild commented on #7429
We use HDF5 to export some fields and we don't know exactly what is done by it.
But otherwise, I don't think we use them.

[2020-02-19 21:05] rhc54 commented on #7377
Fixed in the upcoming PMIx v3.1.5 release, scheduled for next OMPI v4.0.x

[2020-02-19 22:10] naughtont3 commented on #7384
@DmitryLyakh I think I worked through most of the issues I was hitting on Summit.  I am now able to run your reproducer w/o error on Summit using the "DEVELOP" `openmpi/master` build.  This is using `gcc/8.1.1` module and ompi master at 960c5f7.  Please, give this a shot and see how things are working for you.

[2020-02-19 22:11] artpol84 opened #7433 "OMPI/master treats PMIx namespace as an integer instead of string"
@rhc54

I and @hppritcha faced a problem trying to run Slurm with OMPI/master and PMIx/v3.1.3.
After PMIx_Init is invoked [[here](https://github.com/open-mpi/ompi/blob/master/ompi/runtime/ompi_rte.c#L534)], `myproc` variable contains:
[code]
which is correct.

However, a few lines below the modex key is requested with `namespace = "0"`.
[code]

I believe that the flaw in the logic is in `ompi_pmix

[2020-02-19 22:38] rhc54 commented on #7433
I take it you invoked the application using `srun`? Which means `PRRTE` isn't involved.

This is probably something the OMPI community is going to have to discuss. What we did before was to create a lookup table in the opal/pmix code and convert the nspace on every call to a PMIx function by searching thru the table for the numeric jobid. This could be recreated in the `OPAL_PMIX_CONVERT_NAME` mac

[2020-02-19 22:52] artpol84 commented on #7433
That is correct.

[2020-02-19 23:18] bgoglin commented on #7363
This should be fixed in hwloc commit https://github.com/bgoglin/hwloc/commit/18caedf6b90cd777756687d6438765789e2126b8 (from hwloc v2.1)
It just creates the missing directories that autogen/automake complained about.
It added tests to hwloc CI so that such issues are now detected before reaching OMPI's submodule.
My quick OMPI test looks good but I'd like a double-check.

[2020-02-19 23:23] rhc54 commented on #7433
FWIW: this non-integer nspace coming from the PMIx plugin is going to break MPICH and MVAPICH as well. I know it conforms to the standard - just a heads-up that the consumers of it are expecting a string representation of a number.

[2020-02-19 23:24] artpol84 commented on #7433
Thanks, I'll double-check this

[2020-02-20 00:19] artpol84 commented on #7433
It seems to me that MPICH is doing the right thing [[link] during initialization by storing namespace in the global var `pmix_proc` (https://github.com/pmodels/mpich/blob/2bb15c6e875386fa542a037663680d2736156159/src/util/mpir_pmi.c#L97)]:
[code]

[2020-02-20 00:23] rhc54 commented on #7433
But are they referencing all other procs by their string nspace? Or are they converting to a numeric jobid and using that? I'm not familiar enough with MPICH to know if they are based on string IDs or numeric ones. I thought that at some point it all switches over to numbers, but again, I haven't looked at their code for a while now.

[2020-02-20 00:34] artpol84 commented on #7433
They either using strings like [[here](https://github.com/pmodels/mpich/blob/2bb15c6e875386fa542a037663680d2736156159/src/util/mpir_pmi.c#L97:L100)] or they leave it as NULL like [[here](https://github.com/pmodels/mpich/blob/2bb15c6e875386fa542a037663680d2736156159/src/util/mpir_pmi.c#L241:L245)] and rely on PMIx to take care of this [[link](https://github.com/openpmix/openpmix/blob/a0af6c6b4df0c2

[2020-02-20 00:38] artpol84 commented on #7433
The bottom line, I'm 99% sure that at least MPICH is ok with the plugin.

[2020-02-20 00:59] rhc54 commented on #7433
Good - that means MVAPICH is likely okay too. So the OMPI folks will have to decide how they want to proceed.

I'll look for the nspace = NULL thing - I  believe it is there, but I don't recall precisely where. May need better explanation.

[2020-02-20 01:20] artpol84 commented on #7433
Yeah, I think it should be where PMIx_Get is described (even if there will be duplications), or (as it is also related to PMIx_Get_nb at least) there have to be a reference to the section describing possible proc values and their meanings.

[2020-02-20 08:47] mkre commented on #6240
@bwbarrett, seems like many things related to PMIX have changed since `4.x`. After it took me a while to get anything working at all in my heterogeneous TCP environment (playing with RPATHs, `PMIX_PREFIX`, `PMIX_INSTALL_PREFIX`, etc.), I'm now getting an `pmix_init:startup:internal-failure`. Not sure where to go from this point without putting too much effort into adjusting our build and startup s

[2020-02-20 15:55] prudhomm commented on #7429
@edgargabriel we don't use shared file pointers anymore only explicit offsets version for MPI IO. is there a way to disable the sharedfp component (`individual`)?

[2020-02-20 18:21] jsquyres opened #7437 "Remove all the rest of the FT code"
There's still a bunch of FT things left over in the code base that should be removed:

* opal/tools/opal-checkpoint
* opal/tools/opal-restart
* Various AM_CONDITIONALs, such as `WANT_FT`, `WANT_FT_CR`, `WANT_FT_THREAD`
* config/opal_setup_ft.m4
* `OPAL_ENABLE_FT_*` preprocessor macros
* ...possibly more?  I stopped looking

[2020-02-20 19:06] bosilca commented on #7437
Not all of them are related to C/R. ULFM uses quite a few, so the removal should be done carefully.

[2020-02-20 19:49] jsquyres commented on #7437
Gotcha.

Of the list above, can you identify what ULFM is using?

[2020-02-21 01:35] rhc54 opened #7442 "Restructure the ompi_proc_t for nspace and scaling"
OMPI currently uses an `ompi_proc_t` like this:
[code]
where the `opal_proc_t` consists of:
[code]
The `opal_process_name_t` consists of two 32-bit fields:
[code]
If we generalize the `jobid` to conform to the PMIx `pmix_nspace_t`, we would expand the `opal_process_name_t` by an unacceptable amount - the `pmix_nspace_t` is a 256-byte character array. This would consume far too much memory at scale

[2020-02-21 01:51] bosilca commented on #7442
What is nspace ?

We cannot replace the opal_process_name_t with pmix_rank_t because an
ompi_proc_t might point to a process from another jobid, and we use the
info from opal_process_name to manipulate the groups.

We can however replace the opal_process_name_t structure with a pointer to
something in PMIx for as long as this is unique per peer.

George.

On Thu, Feb 20, 2020 at 5:35 PM Ralph Cast

[2020-02-21 02:33] rhc54 commented on #7442
The namespace is the PMIx equivalent of a jobid. It is a 256-char string array.

ompi_proc_t might point to a process from another jobid, and we use the
info from opal_process_name to manipulate the groups.

This is why I suggested organizing the `ompi_proc_t` objects according to their namespace. However, it does mean that you would have to reference the namespace somehow so you could link back t

[2020-02-21 02:44] bosilca commented on #7442
I did not say we need to duplicate the pmix_proc_t array. We can simply use
pointers (8 bytes) into your array. This solves the memory issue as the
costly storage is only kept once.

  George.

On Thu, Feb 20, 2020 at 6:33 PM Ralph Castain <notifications@github.com>
wrote:

[2020-02-21 13:58] rhc54 commented on #7442
I'm not communicating this well, so let me try again. If we replace the process name in `ompi_proc_t`with a pointer to a `pmix_proc_t` in PMIx, then all we do is shift the memory problem from OMPI to PMIx. We still wind up with an array of N objects (where N=number of procs) in memory, with each object containing the 256-char array namespace plus the 4-byte rank. If we have 1M procs, that means we

[2020-02-21 14:46] jsquyres commented on #7363
@bgoglin I confirm that https://github.com/bgoglin/hwloc/commit/18caedf6b90cd777756687d6438765789e2126b8 fixes the issue.  Would it be possible to get this merged to the hwloc v2.1 branch?

[2020-02-21 14:54] edgargabriel commented on #7429
@prudhomm it turns out its not that simple. The individual sharedfp component is only loaded, if the other sharedfp components disqualify themselves, i.e. its the last resort. Now, in the 3.x series ompi used to be able to operate without a sharedfp component, but that is not the case in the 4.x series. So if we would disable the individual component, your application would segfault.

I am current

[2020-02-21 15:16] bgoglin commented on #7363
I'll decide after seeing your votes this morning :)

[2020-02-21 15:38] edgargabriel commented on #7429
actually, it might be worth a trial: can you see whether adding the following parameter to your command line fixes the issue:

mpirun --mca sharedfp ^individual <whatever other arguments you set>

[2020-02-21 16:48] prudhomm commented on #7429
Thanks a lot. We will test asap with @romainhild

[2020-02-21 16:51] bosilca commented on #7437
@abouteiller.

[2020-02-21 17:48] bosilca commented on #7442
I think my proposal went a step further in the optimizations, because it
does not require a change to the size of the opal_proc_t. Unfortunately, it
appears I also failed to make myself understood.

Let me try again, but first the premises:
- how the storage of the PMIx process tables is done is irrelevant, we
don't need to make any assumptions on how it is done. Personally, I do hope
it was alrea

[2020-02-21 17:57] bgoglin commented on #7363
OK, zapproved.

[2020-02-21 18:13] edgargabriel commented on #7429
@prudhomm @romainhild I looked in detail into the sharedfp_individual_file_open routine, and under which conditions it can raise the error that was listed. I am 99% sure that the only reason would be if it really cannot create a file on the file system, which under NFS is maybe not entirely impossible (each process creates two file underneath the hood in this component). I was able to reproduce it

[2020-02-21 18:17] rhc54 commented on #7442
I'm not sure we can do what you propose. We are not going to store a `pmix_proc_t` for every proc as consuming 256Mbytes is too much. PMIx is going to store a single instance of the namespace array value, and then has info storage that is keyed to the individual ranks. Thus, we don't have a pointer we can give you that directly references the PMIx proc ID (i.e., the `pmix_proc_t`).

We do have int

[2020-02-21 18:26] prudhomm commented on #7429
There is something strange in our case, it is easier to get a case for some applications while for others we don't think we ever got a case.
All the apps follow similar execution patterns and share the same code base.

[2020-02-21 18:45] edgargabriel commented on #7429
Is there a way for you to provide the source code (off list if you want) and a testcase that I could run locally on my machines, in case the current fix doesn't work?

[2020-02-21 19:52] prudhomm commented on #7429
@edgargab this is open source we actually have deb packages for buster focal and eoan  and docker images to get you started. Regarding the actual source code i will put the pointers here later, not that easy with the phone. @romainhild can provide the command lines, he is the one who ran into the problem on our cluster

[2020-02-21 20:20] yosefe commented on #7378
@gshamov ConnextX-2/QDR is too old device and is not officially supported/tested by UCX.
On CentOS 7.7 there is a different version of rdma drivers which works differently and this is why the device name is different. AFAIK it's not possible to control the name, but you are welcome to ask that on rdma-devel mailing list.
In general different device name should not be an issue for UCX, however.
1.

[2020-02-21 20:50] rhc54 commented on #6240
I'm not sure what PMIx has to do with your situation. PMIx communications are purely node-local and never cross between nodes. Or are you saying you have different OMPI prefix locations on each node (or type of node)? I can see where that would be a problem on OMPI master right now.

[2020-02-22 13:26] #7363 closed

[2020-02-22 18:36] artpol84 commented on #7433
with https://github.com/open-mpi/ompi/pull/7441 and https://github.com/open-mpi/ompi/pull/7451 the issue seems fixed.
Thanks @rhc54 !

[2020-02-22 18:36] #7433 closed

[2020-02-23 21:25] hppritcha commented on #7399
things are working fine on v4.0.x for me - using mpirun/orte.

[2020-02-23 21:28] hppritcha opened #7458 "external pmix needing extern libevent/hwloc needs checking again"
something happened to the configury on master and it no longer errors out if one is using an external pmix config option but not libevent.  Needs to be fixed prior to release of 5.0.0.

[2020-02-23 23:40] opoplawski commented on #6777
I suspect that this was resolved at some point.  At least, mpi4py test_rma is no longer failing on Fedora Rawhide.

[2020-02-24 05:32] leofang opened #7460 "Weird alltoallw segfault when libcuda and btl smcuda are present"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Tested with both building from source myself as well as installing from the conda-forge channel. In both cases,

[2020-02-24 13:39] mkre commented on #6240
@rhc54 I managed to get it working.

I am testing on three hosts, each having the following network interfaces:
1. `lo`, `eth0`
1. `lo`, `eth0`, `docker0`
1. `lo`, `eth0`, `docker0`

@bwbarrett Looks like I still have to specify `--mca btl_tcp_if_exclude docker0,127.0.0.0/8` to get it working properly. Without any exclude list, it will hang at startup, just as it did with previous Open MPI version

[2020-02-24 14:11] jsquyres commented on #6777
@artpol84 Since you're planning to support it in the near future, let's leave this open to track it.

[2020-02-24 14:44] BerndDoser opened #7461 "Error initializing an OpenFabrics device using Mellanox InfiniBand"
## Background information

HPL benchmarks on a cluster with mellanox infiniband shows warnings and the execution times is slower than expected.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v3.1.4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package,

[2020-02-24 15:00] yosefe commented on #7461
seems like a problem with UCX installation (or with EasyBuild)
can you double check that UCX and OpenMPI were installed and run "ldd <ompi-dir>/lib/openmpi/mca_pml_ucx.so"?

[2020-02-24 15:06] leofang commented on #7460
@Akshay-Venkatesh Are we seeing the same issue as in your https://github.com/open-mpi/ompi/issues/4650#issuecomment-377644271? In our case it also involves mca_pml_ob1 (no idea what's that for), but we saw segfault instead of hanging.

[2020-02-24 15:12] BerndDoser commented on #7461
`ldd` shows:
[code]

[2020-02-24 15:14] yosefe commented on #7461
interesting, looks like all files are found.. is it on haswell-094?

[2020-02-24 15:19] BerndDoser commented on #7461
Damn, you're right. It was on the master node. On haswell-094 they are missing:

[code]

Could you please say me, how I can install the missing libraries?

[2020-02-24 15:21] yosefe commented on #7461
Well.. there are multiple options.. how did you install them on master node?

[2020-02-24 15:29] BerndDoser commented on #7461
Good question. I didn't install them by myself. But I think the issue is solved anyway. Thank you very much for your fast help.

[2020-02-24 16:34] gshamov commented on #7378
Hi,

Thanks for the reply! We still have 300+ connectx-2 nodes, and actually switched to RDMA-core from MLNX because recent MLNX drivers officially do not support connectx-2.

MPI: it was executed under SLURM, with PMIx. By a variety of users; they ```srun something```.  UCX 1.6.1 : we did rebuild it from sources to rpm, on one of the connectx-2 nodes, and then our provisioning systems install it

[2020-02-24 18:59] jsquyres commented on #7460
FYI @Akshay-Venkatesh

[2020-02-24 19:37] Akshay-Venkatesh commented on #7460
@leofang @jsquyres Will take a look at this this evening.

@leofang In the meantime, do you mind trying your tests with UCX built with CUDA-support?

Build instructions:

- UCX with CUDA:
[code]
- OMPI with UCX and CUDA:
[code]

Run instructions:
[code]

[2020-02-24 19:43] bosilca commented on #7442
The decision to move from a 2-int naming scheme to a 256-byte character array was purely a PMIx decision, taken without any consultation with the communities that currently use PMIx. Thus, the claim that OMPI imposes anything onto PMIx is not only incorrect, but completely reversed.

At the end of the day, OMPI is mostly agnostic to how PMIx name processes internally. What I said is that as long a

[2020-02-24 19:47] Akshay-Venkatesh commented on #7460
@leofang Seeing the error in detail now.

For applications that don't use cuda buffers with MPI, you could try using an OpenMPI build that's configured with `--with-cuda=no`. This should prevent smcuda from interfering. This is the build time option. Alternatively, for a runtime option, you could pass --mca btl ^smcuda to blacklist smcuda from being picked up during application run (answer to 3.)

[2020-02-24 19:54] DmitryLyakh commented on #7384
Confirmed on my desktop: The OpenMPI master branch works fine in the Release mode after PR #7421

[2020-02-24 19:54] DmitryLyakh commented on #7384
Thanks for fixing this! I guess this issue can be closed now.

[2020-02-24 19:59] yosefe commented on #7378
@gshamov are you setting any UCX parameters, like UCX_NET_DEVICES or UCX_TLS for example?

[2020-02-24 20:08] hppritcha commented on #7384
@naughtont3 could you boil this down to a small reproducer we can put into the ibm test suite?

[2020-02-24 20:24] wckzhang commented on #7246
Unfortunately, as discussed in the open mpi 2020 02 meeting, as a community, we have decided not to fix this issue.

[2020-02-24 20:24] #7246 closed

[2020-02-24 20:45] hjelmn commented on #7384
I can add one. Just need to attach and detach a bunch.

[2020-02-24 20:47] abouteiller commented on #7437
Can be removed without side effects on ULFM:
1. opal/tools/*: we do not use at all.
2. WANT_FT_CR: we do not use, can remove all blocks of code between ifdef ENABLE_FT_CR
3. WANT_FT_THREAD/ENABLE_FT_THREAD: this pertains only to opal/runtime/opal_cr.[ch]. We do not use.

What we need to KEEP:
1. config/opal_setup_ft.m4: NEEDED. We reuse most of the logic to add the FT_MPI case alongside the FT_CR

[2020-02-24 21:17] hppritcha commented on #6853
this has been fixed.

[2020-02-24 21:17] #6853 closed

[2020-02-24 21:28] hppritcha commented on #6974
@mwheinz can we close this issue?

[2020-02-25 03:25] leofang commented on #7460
Thanks a lot, @Akshay-Venkatesh, for your thorough replies!

Ah, it's a real bummer to us then. The idea of turning on CUDA-awareness by default on conda-forge is to make Open MPI support both pure-CPU programs as usual and GPU programs when CUDA is present and used. One of the reasons that convinced us this is OK was Jeff mentioning that this strategy was the design decision made by Open MPI devs

[2020-02-25 04:40] ssharma94 commented on #4948
indeed it worked!!!

[2020-02-25 13:20] mwheinz commented on #6974
Howard, based on the comments above I thought this issue was now to provide clearer error messages when rdmacm cannot open an ipoib interface? Has that been done some place?

[2020-02-25 14:17] naughtont3 commented on #7384
@hppritcha OK, I'll sync with @DmitryLyakh and get it into a test batch.

[2020-02-25 15:29] naughtont3 commented on #7384
@hjelmn if you can write simple unit test, that would be easier than having full application case.  i'll try to get a version of @DmitryLyakh code into a test somewhere, but your unit test would be an easier case for most folks to quickly test. Thx

[2020-02-25 16:45] hkuno opened #7469 "psm2 support causes mtl/ofi, btl/ofi conflict"
psm2 support causes mtl/ofi, btl/ofi conflict

## Background information
This issue was buried in pull request [6734](https://github.com/open-mpi/ompi/pull/6734).The problem was also discussed on the devel list, e.g., [Ralph H Castain's Sept. 2018 email](https://www.mail-archive.com/devel@lists.open-mpi.org/msg20736.html).

## Problem
Howard Pritchard commented:

PSM2\_finalize.

Howard suggested

[2020-02-25 16:58] jsquyres opened #7471 "Bring back "component alias" functionality"
Per the [Feb 2020 face-to-face meeting](https://github.com/open-mpi/ompi/wiki/Meeting-2020-02), we're going to bring the "component alias" functionality back (i.e., @hjelmn opened a PR about this forever ago, but it never got merged).

For v5.0, we'd like to:

1. Delete the existing "sm" BTL
2. Rename "vader" to be "sm"
3. Make "vader" be an alias to "sm"

This requires bringing back / finishing t

[2020-02-25 17:01] jsquyres opened #7472 "Delete smcuda BTL and put CUDA functionality in vader BTL"
Per @jsquyres and @Akshay-Venkatesh discussions at the Feb 2020 face-to-face, NVIDIA is currently supporting the smcuda BTL.

The long-term plan is to delete the smcuda BTL and put CUDA functionality directly in what is today called the "vader" BTL (but will soon enough be renamed "sm" and aliased back to "vader" -- see #7471).

It's likely that this may miss the v5.0.0 release, but it would be gr

[2020-02-25 17:09] rhc54 opened #7473 "Include PRRTE info in output from "ompi_info""
Need to parse/add the PRRTE build and MCA info to the "ompi_info" output

[2020-02-25 20:51] awlauria opened #7475 "Simple multiprocess mpirun taking > 1 minute on master"
## Background information

Reproducer:

`$. mpirun -np 2 --host X:1,Y:1 ./hello`

If you enable PMIX_DEBUG you'll see it cycling over this:

[code]

It'll take over 1 minute to complete until it gets unwedged trying to fetch the pml base.

What happening is the following:

- If the pml selection logic determines that there > 1 viable pml, it will have __global rank 0__ expose it using `PMIx_Put(PM

[2020-02-25 20:55] rhc54 commented on #7475
Something must have been changed - it is supposedly impossible for procs to use more than one PML. I suspect things are broken because someone made a change that violated that rule?

[2020-02-25 20:56] rhc54 commented on #7475
Clarifying: it is supposed to be impossible for different procs to choose a different PML. Did someone change that?

[2020-02-25 20:56] awlauria commented on #7475
I think this check is in place to make sure that doesn't happen. The logic of the check is to return a `OMPI_ERR_UNREACH` if the rank it queries isn't its own.

[2020-02-25 20:57] rhc54 commented on #7475
We expressly disabled that as it forces a global exchange that should never be necessary. Why did someone turn it back on?

[2020-02-25 21:06] awlauria commented on #7475
Not sure. I agree that it *shouldn't* be possible for a process to select a different pml than another, it seems silly. It might just be a code cleanup exercise to remove this logic.

`mca_pml_base_select()` keeps track of viable pmls, and at the end finalizes all others. But if it deemed more than 1 as viable, it keeps track of that count and if > 1 requires all ranks to do this check. Checking t

[2020-02-25 21:08] rhc54 commented on #7475
May well have been, but that just begs the question: what changed that we suddenly are getting more than one viable PML? I suspect that is the key - we didn't used to, and something changed that now makes it possible...and probably should not.

[2020-02-25 21:13] awlauria commented on #7475
The viable logic is basically:  "if it has an initialization function, it is viable". And that seems to have not changed in a long time, either.

[2020-02-25 21:16] rhc54 commented on #7475
Well, I guess it is up to you guys. If you want to go back to unscalable launch so you can exchange that value, then go right ahead. Otherwise, you need to do something to remove it.

[2020-02-25 21:24] awlauria commented on #7475
Here is the commit where it was added, seems that you added it back in '08:

https://github.com/open-mpi/ompi/commit/3631a60181a3f29e1d1f0f9142683372dfc56a0c#diff-3f40fbff1e79865a7494102f41eb8096

This links a long email chain that I am sifting through with the reasoning behind it.

[2020-02-25 21:30] bwbarrett commented on #7475
We're not seeing the 1 second pause, but in digging into a crash in a job with mixed CM / OB1 PML selection due to a configuration issue on one instance, we're pretty sure the code in `pml_base_select` doesn't do what we (as in the OMPI community) want.  I'll bug the person looking at the issue to chime in on this thread, but I think instead of doing something during `MPI_INIT`, we want a verifica

[2020-02-25 21:32] rhc54 commented on #7475
Agreed - I think the problem here is that things changed such that the PMLs are both finding components under them (e.g., btl's or effectively mtl's) that can work, and so we aren't having PMLs disqualify themselves like we used to do.

[2020-02-25 21:34] rhc54 commented on #7475
It all might have been there for awhile and is now being exposed (via the pause) due to the correction in direct modex

[2020-02-25 21:34] wckzhang commented on #6377
This issue should be resolved with https://github.com/open-mpi/ompi/pull/7134

[2020-02-25 21:36] awlauria commented on #7475
Looking through the email chain - this was added to prevent a hang. Some procs would fail to initialize a pml, so it would drop to another pml to avoid a hang. Here's the email that describes what we have now:

https://www.open-mpi.org/community/lists/devel/2008/06/4211.php

I guess the question is, is this reasoning still valid or should we change it?

[2020-02-25 21:37] wckzhang commented on #6240
@mkre Do you know whether the Netlinks or the Weighted Reachable Component are being utilized?

[2020-02-25 21:39] awlauria commented on #7475
@rhc54 yes, it was exposed in the modex change you are referring to. Without that change I don't see the delay.

[2020-02-25 21:39] rhc54 commented on #6240
PRRTE has not been updated to use reachable, @wckzhang, and so the RTE startup could well be hanging in these scenarios.

[2020-02-25 21:41] bwbarrett commented on #7475
Two PMLs being selectable is a pretty regular occurrence, since OB1 is almost always selectable.  We rely on priorities to choose the "right" one.

The hang was because obviously, those two processes would never talk to each other, and we weren't reflecting errors properly.  I think we have three choices:

1) fix the timing issue and leave the unscalable check.  1 minute for a small scale run is i

[2020-02-25 21:54] wckzhang commented on #6240
Hmm, I don't think I considered what would happen in that case. That might explain it.

[2020-02-25 21:54] awlauria commented on #7475
Regarding 2) @bwbarrett maybe I am not following - but this check (`mca_pml_base_pml_check_selected`) is already done at add_procs time as far as I can tell. The PMIx_Get() eventually fails, and `mca_pml_base_pml_check_selected()` will still return OMPI_SUCCESS, and `pml_*_add_procs` continues on after only printing a debug log message - if that.

[2020-02-25 22:04] awlauria commented on #7475
It seems I misspoke in my original message - the check isn't at pml initialization, it's during the add_procs calls. My mistake.

[2020-02-25 22:13] jjhursey commented on #7475
I can reproduce the delay @awlauria mentioned. We have a build where both the `ob1` and `ucx` PML's are eligible after the priority selection. You need at least 2 nodes to reproduce (1 node will not).

Either of the following will trigger the issue (first has `ucx` as the higher priority, the second has `ob1` at the higher priority). `master` is below:
[code]

[2020-02-25 22:19] awlauria commented on #7475
Here's a fix that works in my testing if anyone wants to try/comment:

https://github.com/awlauria/ompi/commit/4301aa3aae7f31eef3d77dfb6e8a03c715e04347

All it does is instead of registering the pml in the modex on global rank 0, it does it for local rank 0 on each node. Some components only add local processes at `add_procs()` time (ucx for example), so if Not all PMLs add all processes at `add_p

[2020-02-25 22:20] awlauria commented on #7475
@jjhursey to add to that - you need to be running with openpmix master. It won't reproduce with say, v3.1.5.

[2020-02-25 22:25] rhc54 commented on #7475
Only downside is that it doesn't really check much, does it? All you have done is check that the ones on that particular node all chose the same PML - doesn't say anything about what happens on a remote node, which is the place where the mismatch will most likely occur (assuming it happens at all).

[2020-02-25 22:31] rhc54 commented on #7475
Guess I don't understand - isn't this just a case of ensuring the procs on all nodes pick the same priority? Why wouldn't that happen, resulting in them all having the same PML? Outside of a configure issue (where the code is effectively built differently on the different nodes), shouldn't we always wind up with the same PML?

In other words - why have a non-scalable path just to check for an erro

[2020-02-25 22:31] awlauria commented on #7475
Agree that the check is limited in scope, but it is at least checking something now rather than not working at all and timing out.

We do do a gather like operation at the root where rank 0 on each node reports their pml. But, that seems like overkill for something that in most cases is a non-issue.

If we are for getting rid of these checks as not-needed - that sounds good to me too. I can purge

[2020-02-25 22:35] awlauria commented on #7475
This check is *technically* worthless right now as it is. The check is failing, but returning `OMPI_SUCCESS` regardless on any non-root node.

We really don't lose anything by not performing it at this point.

[2020-02-25 22:40] rhc54 commented on #7475
Yeah, as I recall, I was asked to restore it many years ago because someone had a screwed up system and hung instead of getting an error. Back then, we weren't as concerned about launch scaling as it predated "instant on" and async proc construction.

Given that we now have those things, I think @bwbarrett's option 2 is probably the least ugly IF you are going to do anything at all. I personally a

[2020-02-25 22:43] rhc54 commented on #7475
Just for grins, I tested dmodex on PRRTE master with PMIx master and there is no slowdown/delay in direct modex - runs very fast across two nodes. So I think the problem is either in OMPI or in the way dmodex is being activated in OPAL.

[2020-02-25 23:24] awlauria commented on #7475
@rhc54 considering this pml check is broken, probably has been for a while, and nobody has said anything, I'm in favor of removing it rather than trying to needlessly fix it. It'll be better for performance to not have it anyway.

[2020-02-26 07:24] mkre commented on #6240
@wckzhang, from the output from `--mca reachable_base_verbose 100` it seems like the `weighted` component is being used.

[2020-02-26 16:07] jjhursey commented on #7475
I would prefer that we remove the logic per PR #7480 since it is broken and has been for a while.

However, do we want to preserve a debug option that introduces a full modex between the put and get to sync those keys (per suggestion [here](https://github.com/open-mpi/ompi/pull/7480#issuecomment-591461306)) as an easy debugging option with a pretty print help message?

The downside is that it woul

[2020-02-26 17:00] bosilca commented on #7475
The real problem here is in `mca_pml_base_pml_check_selected` and is the choice of the process to check the modex from. This test was originally designed to work for the case of `MPI_COMM_WORLD`, where **proc[0]** in the array of procs used by `pml_add_procs` was always the rank 0 in `MPI_COMM_WORLD` and thus the vpid 0 of the job. Thus, in today's context where `pml_add_procs` can be called with

[2020-02-26 17:13] rhc54 commented on #7475
So long as that is an option, it should be fine. The problem right now is that this data is not being circulated in a full modex, and thus it forces a direct modex operation where every node has to request this specific key from the host where vpid 0 resides. This doesn't scale.

Making it an option that defaults to "false" resolves the problem and still let's those who are concerned about such th

[2020-02-26 17:40] wckzhang commented on #6240
Weighted reachable component is less intelligent than the netlinks component. It weights connections based on Public IP same network > Public IP different network > Private IP same network < Private IP different network, as well as bandwidth. I believe it can say two interfaces on different subnets are reachable, but are low weighted. Try using netlinks, you may get greater success with that compo

[2020-02-26 19:16] edgargabriel commented on #7424
@naughtont3 pr #7476 should fix the issue, could you maybe give it a try, and let us know if you see other issues?

[2020-02-26 19:41] Akshay-Venkatesh opened #7481 "Configure doesn't fail when enable-mca-no-build mca and component names are invalid"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
master, 4.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git, tarball

### If you are building/installing from a git clone, please copy-n-paste the output from `

[2020-02-26 22:29] naughtont3 commented on #7424
@edgargabriel looks good.  tested master ceb5212 and `make install` had no problem on summit.

[2020-02-26 22:29] #7424 closed

[2020-02-27 01:51] bosilca commented on #7475
The **optionality** we are talking about here should not be driven by an MCA, but by an informed decision of the PML because at the end scalability is irrelevant when the startup does not complete. Making this test optional via MCA is as good as removing it: when MPI_Init deadlocks the first thing users will do is not dig into our extensive list of MCA parameters to find a relevant one to enable,

[2020-02-27 02:43] rhc54 commented on #7475
Sigh. You haven't been following this thread, I fear. The issue here occurs when we are doing an _async_ modex. In this case, the data is _not_ circulated as no modex is performed, and thus we hit a direct modex scenario where every proc is requesting this piece of info. If we do a _full_ modex, which is still the default, then the data will be present and the entire issue doesn't occur.

Perhaps

[2020-02-27 04:42] benmenadue opened #7483 "4.0.2: segfault in mpirun: orte_iof_hnp_read_local_handler"
This is with OpenMPI 4.0.2 built from the release tar-ball.

I've just had a few jobs fail with a segfault inside `mpirun` (rather than the application):
[code]
I think it's to do with the forwarding of `stdin` - I've only started noticing here it because this particular workflow passes a lot of data in to the MPI application over a pipe.

I'll do some more debugging and see if I can get some more

[2020-02-27 11:28] #7320 closed

[2020-02-27 12:15] jsquyres commented on #7481
Agreed: this is a bug.  We don't validate the framework/component names that are given to `--enable-mca-no-build`.  We also don't validate the names given to `--enable-mca-dso`, `--enable-mca-static` or `--enable-mca-direct`.

PR's to fix the issue would be appreciated. 😄

[2020-02-27 12:17] jsquyres commented on #7481
FYI: this is where `--enable-mca-no-build` is created and parsed: https://github.com/open-mpi/ompi/blob/af1ec9a59487ffe0e61efac9ef3688c4a0ad3a00/config/opal_mca.m4#L58-L118

Might not be too hard to check and see if the various directories exist.

[2020-02-27 13:59] awlauria commented on #7475
@rhc54 sounds like that will still require an mca option. Or am I misunderstanding?

I agree with @bosilca that if we attach an mca option to this, and anyone does see a problem, the first thing they are going to do is open an issue with us. At that point we can tell them about the option (if we remember it even exists) - or remove it, and tell them to turn on pml_base logging - which is sufficien

[2020-02-27 14:10] rhc54 commented on #7475
No, it does not require an MCA option to be added. The "optional" macro automatically adds `PMIX_OPTIONAL` to the call to `PMIx_Get`. We already have an MCA param to determine if we are doing full vs async modex - I honestly don't recall the default, but I thought we still default to full.

Root cause of this problem is that we cannot agree on the default PML, and there now exists significant over

[2020-02-27 15:51] bwbarrett commented on #7475
ok, i'm being dumb, obviously, but if we're in an add_procs situation, there's already going to be a PMIX_Get, right?  Looking at the UCX PML, add_procs will call MODEX_RECV().  The MODEX_RECV is in the MTL instead of CM PML, but the effect is the same.  The BTLs all call MODEX_RECV in their add_procs as well.  So we're calling MODEX_RECV in add_procs today to get the remote endpoint.

So here's m

[2020-02-27 15:53] bwbarrett commented on #7481
You shouldn't use directories to check for existence.  There's not a 1:1 mapping between directories and component.  You'd have to wait until after the MCA run and use the list of found valid components / frameworks.  A little late, but that's how the system works now.

[2020-02-27 16:19] rhc54 commented on #7475
I wouldn't say "dumb" - you (and others) just aren't reading the entire thread. 😢  Let me try one more time to explain this to folks, though I find it ironic that I am explaining to you folks how your own OMPI code works 😆

IF you were indeed looking at the PML selection info for the SAME proc you were already referencing, then _yes_ the info would already be available. **But you aren't - you are

[2020-02-27 16:34] bwbarrett commented on #7475
Sorry, wasn't clear.  I understand how it works today (and why that's broken).

However, I'm 100% convicted that we *MUST* have PML validation in the general case.  Without PML validation, there is an impossible to debug crash or (worse and more likely) hang when two processes select different PMLs.  In the general case, the slightly more bloated modex transfer easily outweighs the pain of this ha

[2020-02-27 16:39] jsquyres commented on #7475
I think we're at the point where discussing this on a Webex would be a lot faster than typing it out on Github.  I'm going to take a stab at sending a calendar invite to everyone on this issue for tomorrow morning US Pacific time.

[2020-02-27 17:51] jsquyres opened #7486 "Re-enable runtime-enabled `configure` CLI params (to pass to PRRTE)"
The master README currently still describes the following `configure` CLI params:

* --enable-orte-static-ports
* --with-alps
* --with-lsf[-libdir]
* --with-pmi
* --with-slurm
* --with-sge
* --with-tm

With the exception of `--with-pmi` (which is already handled) and `--enable-orte-static-ports` (see below), they others don't seem to exist in OMPI's `./configure --help` output any more.  Some plum

[2020-02-27 20:59] datakid commented on #7359
Have also just hit this bug. Is 4.0.3 far off?

[2020-02-28 13:37] awlauria commented on #7483
Thanks for the report.

Can you post your reproducing mpirun command?

[2020-02-28 17:15] mwheinz commented on #6198
Do we know what change fixed this in the 4.0.x branch? If we knew that I could try to back-port it myself...

[2020-02-28 17:24] rhc54 commented on #6198
as stated above.

[2020-02-28 18:09] hppritcha commented on #7483
@benmenadue could you test the 4.0.3rc3
Its at https://www.open-mpi.org/software/ompi/v4.0/.
Also do you know the provenance of this Open MPI install?  Was it built locally or did it come as part of a mofed or PBSpro package.

We could also use the output from the ```ompi_info``` command.  I

[2020-02-28 18:11] gpaulsen commented on #7303
@hjelmn Do you know what's needed here?

[2020-02-28 18:24] hppritcha commented on #6816
@artpol84 is this issue resolved?

[2020-02-28 18:36] hppritcha commented on #5009
closed via #5710,#5711,#5068

[2020-02-28 18:36] #5009 closed

[2020-02-28 18:43] hppritcha commented on #6433
closed via #7168 and #6440

[2020-02-28 18:43] #6433 closed

[2020-02-28 18:51] hppritcha commented on #7442
I think @rhc54 has some points here about reorganizing the proc list.  reopening so we don't lose track of this.

[2020-02-28 19:04] gpaulsen commented on #7442
I put v5.0.x and blocker labels on here, so we remember to come to some consensus on this before we ship v5.0.

[2020-02-28 19:22] gpaulsen commented on #6685
@ted-kapustin Were you able to get Open MPI to work in your environment?  May I close this issue?

[2020-02-28 20:04] benmenadue commented on #7483
@awlauria @hppritcha Sorry, I forgot to add those details. It's a local build of the 4.0.2 release tar-ball (from open-mpi.org), the output of `ompi_info` is attached: [ompi_info.txt](https://github.com/open-mpi/ompi/files/4268840/ompi_info.txt). It's a 150k-core HDR InfiniBand cluster, running CentOS 8.0, MOFED 4.7-1.0.0.1, and PBS Pro 19.2.

It crashes fairly consistently when launched with
[cod

[2020-02-28 21:24] bosilca commented on #7475
I was playing with this while on the call today. Here is the code that I think does the quick fix we talked about (the one we will use until Amazon provide the real one). It does 2 things, use a MODEX OPTIONAL operation (that I had to implement because PMIx does not provide it for strings), and gets the PML from the rank 0 in MPI_COMM_WORLD (so that everybody has a consistent view).

[code]

[2020-02-28 21:25] awlauria commented on #7475
- Agreement that current check is broken.
- PMIx change that exposed this will not be in the 3.x PMIx series - so will not be a problem on OMPI 4.x, but will be for OMPI 5.0.
- Amazon is going to implement a better solution where at add_procs() time, the process will check the PML of the process they are connecting to.
   - For a large scale job, a full modex will be done to compare PML's.
- In th

[2020-02-28 21:33] awlauria commented on #7475
@bosilca thanks for that. Looks good to me. Did you want to pr it? It would probably be better to put the definition of the macro with the others, but since it'll go away with the permanent fix it doesn't matter.

[2020-02-28 22:09] rajachan commented on #6795
Can you check to see if the version of Open MPI installed by the EFA installer is in your path (`$ which mpirun` should point to `/opt/amazon/openmpi/bin/mpirun`)? Can you also share the contents of `/opt/amazon/efa_installed_packages`?

Just from that error, it looks like orte is unable to find the orted binary. Setting the `-prefix` mpirun parameter and pointing to the Open MPI install path shou

[2020-02-28 22:21] rajachan commented on #6795
Looking back at this thread, it is also worth pointing out that the EFA provider now supports shared memory communication between endpoints on the same instance. Updating to the latest EFA installer (v1.8.3 as of this comment) should give you intra-instance communication performance improvements.

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/efa-start.html

[2020-02-28 23:18] bosilca commented on #7475
https://github.com/open-mpi/ompi/pull/7487

[2020-02-29 00:07] zarzen commented on #6795
hi @rajachan Thanks for you quick comments, adding the prefix of `mpirun` works for me.
While one thing confused me here, how to determine whether the efa module has been enabled.
After checking the output log, there is several lines relevant to efa/ofi:
[code]
Because the `mtl:ofi:provider_include = "(null)"` here is confusing.

[2020-02-29 00:27] rajachan commented on #6795
That's expected. `mtl:ofi:provider_include` is just pointing out that you did not provide an explicit provider include list at runtime. The `mtl:ofi:provider_exclude` lists the providers excluded by default in the OFI MTL, and  `mtl:ofi:prov: efa` is pointing out that EFA did get selected.

Glad the prefix flag worked, but I am still curious why you had to provide it in the first place. Are you us

[2020-02-29 02:07] zarzen commented on #6795
I am using the one installed by the aws-efa-installer, the openmpi located in
`/opt/amazon/openmpi`

[2020-02-29 12:29] jsquyres opened #7489 "Master compile break with hwloc 1.5.2"
Per the 2020-02 face-to-face, we agreed to keep hwloc v1.5.x as the minimum supported version of hwloc because CentOS 6 still ships hwloc 1.5.x (see https://github.com/open-mpi/ompi/wiki/Meeting-2020-02).

Latest master is showing MTT compile fails against hwloc v1.5.x:

https://mtt.open-mpi.org/index.php?do_redir=3206

Here's the detail:

[code]

FYI @bgoglin

[2020-02-29 13:34] bgoglin commented on #7489
Looks like HAVE_HWLOC_TOPOLOGY_DUP got set by external/configure.m4 for some reason. How do I get the configure log of that build?

[2020-03-01 00:43] jsquyres commented on #7489
I found the issue -- it's a compile bug in PRRTE.  See https://github.com/openpmix/prrte/pull/426.

[2020-03-01 02:31] #7489 closed

[2020-03-01 18:12] gsjaardema commented on #7414
Thanks.  I will try the patch in #7193 and see if that fixes things.  I've been unable to create a smaller testcase.  This happens on Lustre and on a linux scratch system so seems to be filesystem agnostic.

[2020-03-01 18:59] edgargabriel commented on #7414
@gsjaardema I think the file system information is still useful here. On Lustre, Open MPI actually does not use ompio by default, but falls back to romio321. Even *if* ompio would be used on Lustre (which can happen if the romio component for whatever reason disqualifies itself), the vulcan component is not selected for File_write_at_all operations, but instead the dynamic_gen2 component should be

[2020-03-02 20:15] gpaulsen commented on #7483
It's too late for v4.0.3, but we can still look into for future v4.0.x

[2020-03-02 22:16] gsjaardema commented on #7414
I applied the patch in #7913 and the hang disappeared on the linux workstation.  I will try to rebuild on the cluster with lustre hopefully tomorrow and see what happens there.  Thanks.

[2020-03-02 22:57] bwbarrett commented on #7475
As we discussed on the call Friday, marking this a blocker for 5.0, so that we don't launch without some checking that two sides of a connection are using the same PML.

[2020-03-02 23:18] gpaulsen commented on #7475
How is this a blocker?  We can defer that discussion for a month or more, but It's hard for me to believe this is a blocker.

[2020-03-03 04:42] hkuno opened #7494 "check:select: got a NULL pml from rank=0"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
ompi master top of tree

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone

### If you are building/installing from a git clone, please copy-n-paste the output

[2020-03-03 06:57] adrianreber commented on #4948
This should be fixed with #6844

[2020-03-03 10:33] BerndDoser commented on #7461
Now, I have installed OpenMPI without UCX support. The line
[code]
has vanished, but the remaining error message is still there:
[code]

Any ideas?

[2020-03-03 13:18] mkre commented on #6240
@wckzhang, seems like our Open MPI distribution does not support `reachable/netlink`. I have tried for some time now to configure Open MPI with support for this component, but I keep getting `checking if MCA component reachable:netlink can compile... no` in my `./configure` output, even after adding my libnl3 installation directory via `--with-libnl`. Maybe someone can advise on what I'm doing wro

[2020-03-03 13:51] awlauria commented on #7377
I haven't seen any mtt PGI failures from ibm in a while, so I am closing this.

[2020-03-03 13:51] #7377 closed

[2020-03-03 13:54] awlauria commented on #6801
Good to close this issue?

[2020-03-03 13:55] #6801 closed

[2020-03-03 13:57] #5336 closed

[2020-03-03 14:11] #7494 closed

[2020-03-03 15:01] guziy commented on #3117
Thanks @artpol84 this saved me a lot of time and frustration. Redefined TMPDIR and it works fine.

Cheers

[2020-03-03 15:43] mwheinz commented on #7309
As far as I know this has been fixed - should the issue be closed?

[2020-03-03 15:50] edgargabriel commented on #7309
yes, we should close that.

[2020-03-03 15:50] #7309 closed

[2020-03-03 16:52] gpaulsen commented on #7475
Sorry for my curt reply above.  In the future please provide rational of why a blocker label has been applied.
  In today's web-ex, @jsquyres explained that this was discussed as a blocker for Amazon at the face-to-face.
  This functionality (auto-selection) has been in at least v3.0,v3.1, and v4.0 (possibly older), however the `PMIx_Get` call fails at some point.  This regression that can result

[2020-03-03 18:18] bwbarrett commented on #6240
@mkre can you include output of configure and/or the generated `config.log`.

[2020-03-04 08:00] mkre commented on #6240
@bwbarrett, sure:
[configure.txt](https://github.com/open-mpi/ompi/files/4285988/configure.txt)
[config.log](https://github.com/open-mpi/ompi/files/4285982/config.log)

[2020-03-04 13:52] gpaulsen commented on #6917
Can we close this issue?

As I read it, the hcoll barrier issue has been fixed in newer HCOLL, and the second issue mentioned here is not valid MPI?

[2020-03-04 15:34] gpaulsen commented on #6932
This was fixed in v4.0.2 on the v4.0.x stream.

@jsquyres, @bwbarrett are you still working with @bosilca for a similar PR to the v3.1.x or v3.0.x streams?  If not please close this issue.

[2020-03-04 17:00] bosilca opened #7499 "ULFM in master"
We discussed at the last OMPI devel meeting to bring ULFM in master before the 5.0 split.

[2020-03-04 17:03] bosilca opened #7500 "Improved Collectives Communications"
Bring UTK event-driven topology-aware collective in master before the 5.0 split.

[2020-03-04 17:04] gpaulsen commented on #194
@jsquyres Whats the fate for this issue?  Should we close it?

[2020-03-04 19:10] hppritcha commented on #7458
@rhc54 do we need to check for external hwloc as well?  We didn't do that in older releases, just libevent.

[2020-03-04 19:23] rhc54 commented on #7458
I'm afraid so - PMIx didn't use hwloc in v2 (which is in OMPI v3), but does starting with v3 (which is in OMPI v4).

[2020-03-04 20:12] #7275 closed

[2020-03-04 20:15] hppritcha opened #7502 "Open MPI v4.0.4 checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2020-03-04 22:42] gshamov commented on #7378
Not really, should I? MPI env modules load Paths, and thats all, no many btl parameters etc.

[2020-03-05 01:02] hkuno opened #7504 "fi_close(domain) EBUSY in mca_btl_ofi_finalize"
### Please describe the system on which you are running

* Operating system/version:  CentOS
* Computer hardware: dl385
* Network type: N/A (for example, sockets)

-----------------------------

## Details of the problem

When running osu\_put\_latency with a basic provider (in this case, sockets):

[code]

... fi\_close returns -FI\_EBUSY when mca\_btl\_ofi\_finalize tries to close the domain bec

[2020-03-05 13:56] mkre commented on #5839
Seems like this is still an issue with Open MPI 4.0.3.

[2020-03-06 16:16] artpol84 opened #7507 "HWLOC information exported by Slurm/PMIx is not honored starting from v4.x"
The Slurm plugin is still using legacy PMIx key to export hwloc topology:
[code]
It works fine in v3.x.
https://github.com/open-mpi/ompi/blob/v3.0.0rc1/opal/mca/hwloc/base/hwloc_base_util.c#L262

For some reason, in v.4 querying of this variable was removed. This causes up to 5 seconds of delays during job startup.

I would like to return the support of this variable back in v4.
@hppritcha do you

[2020-03-06 16:49] hppritcha commented on #7458
closed via #7506

[2020-03-06 16:49] #7458 closed

[2020-03-06 19:39] rhc54 commented on #7413
Fixed in https://github.com/open-mpi/ompi/pull/7488

[2020-03-06 19:39] #7413 closed

[2020-03-06 19:40] rhc54 commented on #7389
This won't be coming back

[2020-03-06 19:40] #7389 closed

[2020-03-07 18:18] hppritcha commented on #7507
@gpaulsen let's discuss on Monday if there's time.

[2020-03-07 18:21] hppritcha opened #7513 "Implement a MCA framework for threads"
Add a framework to support different types of threading models including
user space thread packages such as Qthreads and argobots:

https://github.com/pmodels/argobots

https://github.com/Qthreads/qthreads

The default threading model is pthreads.  Alternate thread models are
specificed at configure time using the --with-threads=X option.

The framework is static.  The theading model to use is sel

[2020-03-07 18:25] hppritcha opened #7514 "complete initial qthreads component to threads MCA framework"
PR #7513 only includes a stub implementation of the qthreads component.  It would be desirable to have a functional qthreads component in the OMPI 5.0.0 release

[2020-03-07 18:26] hppritcha commented on #7514
switched ownership to SNL

[2020-03-08 08:25] Leslie-Fang opened #7515 "What's the difference of map-by and bind-to"
Open-MPI version:
3.0.4

Question:
When I use the mpirun, What's the difference of map-by and bind-to?

[2020-03-08 21:44] letmaik opened #7516 "PMIX ERROR: ERROR in file gds_ds12_lock_pthread.c at line 206"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
4.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
homebrew

### Please describe the system on which you are runn

[2020-03-08 22:19] letmaik commented on #7516
I just tried settting `PMIX_MCA_gds=^ds21` as suggested in https://github.com/openpmix/openpmix/issues/1114 and this seems to avoid the issue.

[2020-03-09 14:38] rhc54 commented on #7516
Sadly, there is no way to diagnose this problem without the conf.log from the opal/mca/pmix/pmix3x directory. Have you tried building OMPI yourself to see if the problem persists?

[2020-03-09 14:50] letmaik commented on #7516
No, I'm simply a consumer of OMPI via homebrew. Why can't OMPI dump conf.log to the console if bad things happen?

[2020-03-09 14:54] rhc54 commented on #7516
Because "config.log" isn't generated unless you run `configure` on that machine 😄 In this case, the homebrew maintainer did it on their machine and we have no record of it and no way of knowing what they did. Without that info, there really isn't anything we can do.

I can say that many of us in the developer community use Mac's and don't see this problem. However, we build it ourselves on our loc

[2020-03-09 21:06] letmaik commented on #7516
I looked at the wrong log... `PMIX_MCA_gds=^ds21` didn't actually help, but `PMIX_MCA_gds=hash` seems to work.

[2020-03-10 08:37] vspetrov commented on #6917
@gpaulsen yes. 1st - fixed an hcoll, 2nd - not a bug.

[2020-03-10 12:48] jsquyres commented on #7516
FWIW, I'm able to replicate the issue with Open MPI v4.0.3 in Homebrew as of 2020-03-09 (today):

[code]

I'm also able to replicate this with a regular Open MPI v4.0.3 tarball, configured the same way as Homebrew (with my own `prefix`, of course):

[code]

Oddly, this isn't happening when I compile Open MPI at the head of the `v4.0.x` branch -- even with a VPATH build, which should effectively be

[2020-03-10 13:37] jsquyres commented on #7516
FWIW, I don't know _why_, but with a little testing, I see the following:

* In both the 4.0.3 tarball and v4.0.x HEAD builds, ds21 is being chosen as the gds component (with priority 30).  So far, so good.
* In both the 4.0.3 tarball and v4.0.x HEAD builds, `ds12_finalize()` is invoked at the end of the MPI application -- assumedly to clean up the non-selected ds12 component.  `ds12_finalize()` i

[2020-03-10 15:29] jsquyres opened #7519 "Document some Open MPI-specific MPI_T behavior"
Need to document the following:

* Values set via MPI_T are the highest precedence (e.g., even higher that values set by CLI).
* If you set framework values (e.g., set `btl` before `MPI_INIT`, it'll actually affect component selection).
* We have a CVAR per MCA framework that will tell you which component(s) are currently selected / available (after `MPI_INIT`).
* After `MPI_INIT`, most CVARs beco

[2020-03-10 15:31] jsquyres opened #7520 "Bump minimum flex up to 2.35"
Per discussion in the Portland F2F meeting, we're bumping the minimum required flex version up to 2.35.

[2020-03-10 15:32] jsquyres commented on #7520
From 5.0 wiki:

* HACKING says we allow flex >= 2.5.4 because of CentOS 5. I think it's ok to disregard CentOS / RHEL 5 now -- let's bump the minimum version of flex up to 2.5.35 (see HACKING for details).
    * 2020-02: AGREED
    * RHEL 5 is officially dead.
    * @hjelmn is excited about removing a bunch of old flex-compat code.
    * Yes, let's move the min flex up to 2.5.35.

[2020-03-10 15:34] jsquyres opened #7521 "Bug with MPI_T setting before MPI_INIT"
You can read/write MCA parameters (before MPI_INIT) -- e.g., set btl.

This isn't quite right in 2020-02 master HEAD; @hjelmn thinks it is a bug and will fix it.

I.e., it sounds like:

* We _should_ be able to get `btl` before MPI_Init
* We _should_ be able to set `btl` before MPI_Init and have it affect selection

One or both of these is apparently not working.  We didn't record enough context i

[2020-03-10 15:40] awlauria commented on #7473
Closing in favor of #7285

[2020-03-10 15:40] #7473 closed

[2020-03-11 06:02] mkurnosov commented on #7410
@hunsa Thanks for the bug report. In PR #7523 value `count - offset` is replaced with an upper bound `count` of a message size. Real size is retrieved from `status`.

[2020-03-11 18:46] souravzzz opened #7526 "Disable cuda coll parameter doesn't work"
I wanted to disable the CUDA collective module using the mca parameter `coll_cuda_disable_cuda_coll` but as far as I can tell it isn't actually used in the code.

Is there another way to disable the CUDA collective component?

[code]

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.3

### Describe how Open MPI was

[2020-03-11 20:50] chchang6 commented on #3268
Hi,
   We have a user who is running into this at the moment on our system, with OpenMPI 1.10.7 built against GCC 7.3.0. (Version 1 is because we are running into startup/hanging issues with newer versions at larger scales). Was this thread ever continued?

[2020-03-11 22:51] Akshay-Venkatesh commented on #7526
@souravzzz Agreed. I don't see disable_cuda_coll being used in the code path (not sure when this happened BTW). Have you already tried using `--mca coll ^cuda` to disable cuda collective component?

[2020-03-12 15:03] chchang6 opened #7528 "Startup problems"
Thank you for taking the time to submit an issue!

## Background information
Hi--We are troubleshooting problems with running MPI codes at scale. The jobs are failing with
[code]
The runtime command and relevant environment being used is
[code]

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
3.1.3

### Describe how Open MPI was installed (e.g., f

[2020-03-12 15:06] souravzzz commented on #7526
@Akshay-Venkatesh Things crashed with `--mca coll ^cuda` so I wasn't sure if that's correct or not.

[code]

[2020-03-12 16:30] Akshay-Venkatesh commented on #7526
Reduction operations are expected fail without this aren't they?

Also, you won't need the D D in the room command.

On Thu, Mar 12, 2020, 8:06 AM Sourav Chakraborty <notifications@github.com>
wrote:

[2020-03-12 17:05] afernandezody opened #7529 "PMIX ERROR: UNREACHABLE in file server/pmix_server.c"
Hello OMPI Team,
I've been using OMPIv4.0.3 (great job!) for the last couple of weeks but ran into an issue trying to compile WRF (not sure if you're familiar with this app). This is sort of a two question thread so let me begin with the original error, which happened when running WRF compiled with the GNU compilers:
`PMIX ERROR: UNREACHABLE in file server/pmix_server.c at line 2193
`
The response

[2020-03-12 18:03] gpaulsen commented on #7529
Do you know the version of libpmix that's installed in `/opt/pmi/lib/libpmix.so.2`?
By default open-mpi configure will prefer any external version of pmix it finds, so presumably configure found that version (rather than the version bundled with open-mpi v4.0.3).  This should work, but obviously there's an issue that our pmix experts will need to investigate.

[2020-03-12 20:46] jjhursey commented on #7528
Can you try with the lastest 4.0.3?

There were some larger-scale fixes that went into the v4.x series that couldn't be easily ported back to the v3.x series. IIRC there is still some work to do in the v3.x series at scales above 64 or 128 nodes (I cannot find the issue on that at the moment). I wonder if you are running into that.

[2020-03-13 01:17] rvbarreto commented on #6497
@huiwumonash how did you solve it?

[2020-03-13 01:25] huiwumonash commented on #6497
Sorry, I don't need it now. I didn't solve it.

On Fri, 13 Mar 2020 at 12:17, rvbarreto <notifications@github.com> wrote:

--
Kind Regards,
Hui

[2020-03-13 02:22] rvbarreto commented on #6497
@huiwumonash In the [documentation](https://support.hdfgroup.org/ftp/HDF5/current/src/unpacked/release_docs/INSTALL_parallel) it indicates at **3.2 Configure details**:

So basically you have to set an environment variable NPROCS=_number of processes_. In my case, I wanted to use 3 processes for _make check_, so I did:

`$ export NPROCS=3`
`$ make check`

and it worked :)

[2020-03-13 10:04] angainor opened #7531 "[Q] cartesian communicator and locality"
I am wondering about the current implementation of the Cartesian communicator in OpenMPI. I am doing some tests with ompi 4.0.2 compiled against hwloc 1.11.8-4.el7.x86_64 from Centos 7.6. As I understand, if I set `reorder=1` in `MPI_Cart_create`, then MPI has the possibility to reorder the ranks to better fit the underlying hw topology.

I tested rank placement on 4 compute nodes and compared the

[2020-03-13 13:59] bosilca commented on #7531
Marcin,

We are not honoring the reorder flag in the cartesian topology. If you want
reordering you need to use a distributed graph (with the treematch topo
module enabled).

George.

On Fri, Mar 13, 2020 at 6:05 AM Marcin Krotkiewski <notifications@github.com>
wrote:

[2020-03-13 14:11] angainor commented on #7531
@bosilca Thanks, I will try that. Do you think that it would be an idea to implement in the future in OpenMPI? It would be very useful to have since it would increase the number of NUMA and node-local data exchanges in applications based on structured cartesian grids. User-side re-mapping of the rank order is of course possible, but I guess it would be easily done inside the Cartesian communicator

[2020-03-13 15:32] jsquyres commented on #3268
I'm afraid not.  Have you tried Open MPI v4.x?

[2020-03-13 15:33] chchang6 commented on #3268
Hi Jeff, no but I also got that advice on another ticket for a different issue, so will try that shortly. Thanks!

[2020-03-13 15:34] chchang6 commented on #7528
Hi Josh, thanks for the info. I'll give v4 a spin and see if that resolves this issue. Will update.

[2020-03-13 15:38] jsquyres commented on #3268
Yeah, sorry, 1.10.x is ancient and not really supported any more.

[2020-03-13 15:46] chchang6 commented on #3268
No worries; the only reason folks are running 1.10.X is that 2 and 3 are having scalability problems in our environment. Suspect it has something to do with startup mechanism, Slurm config, and our network, but hope 4 works out of the box.

[2020-03-13 16:07] hppritcha commented on #7410
@mkurnosov please open a PR against 4.0.x once #7523 is merged in to master.  thanks.

[2020-03-13 17:07] mathstuf opened #7532 "MCA settings required to run a windowing query"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Fedora 31

### Please describe the system on which you are running

* Operating system/version: Fedora 31
* Co

[2020-03-13 17:41] chchang6 commented on #7528
Running into mundane build problem with OpenMPI master branch,
configure:76702: checking hwloc building mode
configure:76704: result: embedded
configure:76733: hwloc builddir: /nopt/nrel/apps/openmpi/dist/ompi_git/opal/mca/hwloc/hwloc1117/hwloc
configure:76735: hwloc srcdir: /nopt/nrel/apps/openmpi/dist/ompi_git/opal/mca/hwloc/hwloc1117/hwloc
configure:76743: checking for hwloc version
configure:7

[2020-03-13 17:44] jsquyres commented on #7528
Can you try from a nightly snapshot tarball?  https://www.open-mpi.org/nightly/v4.0.x/

Building from git is tricky (e.g., we use git submodules now).

[2020-03-13 17:55] hppritcha commented on #5115
once again back to working on this.  I don't suppose launchmom requires a boost installation?

[2020-03-13 17:59] lee218llnl commented on #5115
@hppritcha I don't think LaunchMON requires boost, but STAT depends on MRNet and DynInst which do require boost. Is there a particular reason why you are asking?

[2020-03-13 18:00] hppritcha commented on #5115
[code]

[2020-03-13 18:01] hppritcha commented on #5115
note for myself:
[code]

[2020-03-13 21:21] hppritcha commented on #5115
@lee218llnl  did you check if the test fails with the OMPI 2.0.x releases?

[2020-03-13 23:01] iassiour opened #7533 "openmpi seems to give priority to low ranks if there is multiple messages pending"
I have a scenario of a master/slave application where the master process is not fast enough to serve all the slaves. In this case it looks like openmpi gives priority to the low ranks if there is pending competing messages from other slaves.

i.e. If there  is pending requests  from rank 1 and rank 10 at the same time
MPI_Probe or MPI_recv with MPI_ANY_SOURCE will return the lower rank in the sour

[2020-03-14 00:38] hjelmn commented on #7532
I do not recommend setting the osc MCA variable to sm,pt2pt. The pt2pt component is slow and will likely go away in a future release.

Also, MPI_Win_create() is discouraged in favor of MPI_Win_allocate(). The later call gives the MPI implementation control over the buffer which may give better performance.

The problem appears to be a failure in CMA. Looks like you are running with your MPI proces

[2020-03-14 03:54] mathstuf commented on #7532
Seems I missed adding that this also happens on a machine directly (without the container). And I don't know how to set up MPI processes to run in different containers than the one I launch it in. Running with `--privileged` didn't remove the error either.

[2020-03-16 00:39] NKcqx commented on #7516
I encoutered the same problem, using version 4.0.3 and build by myself on Mac.

[2020-03-16 02:06] rhc54 commented on #7516
FWIW: the error report is harmless, albeit annoying, noise. You can shut it off with:
[code]
Note the `ds12` - _not_ `ds21` as was previously reported.

[2020-03-16 19:17] hppritcha commented on #7529
@afernandezody could you double check the pmix components you build when using the PMIx bundled with OpenMPI v4.0.3?  there should be a pmix3x.

[2020-03-16 19:37] hppritcha commented on #7429
@edgargabriel can we close this issue now?

[2020-03-16 19:42] edgargabriel commented on #7429
@hppritcha yes, I think this is resolved.

[2020-03-16 19:42] #7429 closed

[2020-03-16 20:09] bosilca commented on #7531
Sure, it can certainly be done help some types of applications. Bill Gropp published a [paper](http://wgropp.cs.illinois.edu/bib/talks/tdata/2018/nodecart-final.pdf) on this subject not long ago.

[2020-03-17 03:49] afernandezody commented on #7529
Hi @hppritcha,
Sorry for the delay as I have been testing different set-ups for the last few hours. Per your suggestion, I built OpenMPI from scratch a couple of times to double check the pmix components . A fresh installation yielded:
[code]
which is probably what you were expecting but installing some apps (e.g. HDF5 & netCDF) finally resulted in the following components:
[code]

I couldn't figu

[2020-03-17 11:20] gpaulsen commented on #7529
That's great that you're now seeing pmix3x component loading.

Next step is to understand the runtime error.  How are you launching this?  This error is either happening at launch or more probably at MPI_Init() time, which would mean that you should be able to reproduce with a simple MPI Hello World launched in a similar manner.

Are you using mpirun or slurm or some other launcher?  Could you ple

[2020-03-17 14:18] afernandezody commented on #7529
Hi @**gpaulsen**,
I'm still not using a scheduler so the command is as simple as it gets `mpirun -np 2 ./wrf.exe`. From your comment, the culprit is likely to be _libev_. I need to trace back the chain of dependencies -at some point either _libev_ or _libevent_ was needed to build another library needed by WRF- and check if I can build the whole thing without _libev_. I'll keep you posted.

[2020-03-17 15:51] jsquyres commented on #7520
This is already done on master: https://github.com/open-mpi/ompi/blob/ddc19559af7a1efe9a68a183030fb943c4733341/contrib/dist/make_dist_tarball#L30

[2020-03-17 15:51] #7520 closed

[2020-03-17 16:34] awlauria commented on #7520
@jsquyres looks like that version was added 10 years ago. Do we want a more recent version?
https://github.com/open-mpi/ompi/commit/08fbd6c644ffc1c3888e430eccc4873c4a4c57a4

[2020-03-17 16:42] jsquyres commented on #7520
Nope.  Flex is very slow moving.  We're not using any modern features.

I don't think our use of flex has even changed in ~10 years.  😄

[2020-03-17 19:35] artpol84 commented on #7516
@karasevb please have a look.

[2020-03-17 19:40] rhc54 commented on #7516
FWIW: I already fixed this in PMIx. Just didn't close this issue because it hasn't come over into OMPI v4 yet.

[2020-03-17 21:58] hppritcha commented on #5115
I double checked and the reatttach works with both v2.0.x and v2.x branches.

 Output from v2.x:
[code]

whereas here's what we see with v3.1.x
[code]

[2020-03-17 23:53] lee218llnl commented on #5115
@hppritcha do you need any more info from me regarding this issue or do you have everything you need to debug/fix?

[2020-03-18 01:30] afernandezody commented on #7529
It seems to be now working. I'll close the ticket tomorrow if no further issue comes up.

[2020-03-18 01:39] karasevb commented on #7516
@rhc54 could you please add a reference to the fix?

[2020-03-18 06:56] rhc54 commented on #7516
PMIx master: https://github.com/openpmix/openpmix/pull/1668
PMIx v3.1: https://github.com/openpmix/openpmix/pull/1669

Note that we will be releasing a PMIx v3.1.6 in the near future and updating OMPI v4.0.x with it.

[2020-03-18 10:32] dtasev commented on #6497
Thanks a ton @rvbarreto, that worked like a charm! I think this issue can be closed now? The command above works

[2020-03-18 14:50] #6497 closed

[2020-03-18 18:19] hppritcha commented on #5115
@lee218llnl don't think I need more from you at the moment for this bug.  I'm adding stuff here so as not to forget.

[2020-03-18 23:27] dongahn commented on #5115
I think errno=2 is `ENOENT` which probably means that the FIFO file doesn't exist. ORTE doesn't create a FIFO for reattach?

[2020-03-18 23:39] lee218llnl commented on #5115
This was a previous post of mine on this issue, which confirms Dong's suspicion:

[2020-03-19 17:18] artpol84 commented on #7516
@rhc54 the fix looks like masking the issue. Are we sure that there is no real problem and we can just silence it?

@karasevb if ds12 is not selected, will it allocate it's resources anyway? My guess is yes, but I'm not sure.
If the above is correct, why it barfs at the finalize? Can it be that double-free is happening?

[2020-03-19 22:00] hppritcha commented on #5115
@lee218llnl

I'm more curious about what's going on that generates this message
[code]
it seems to be at that point that the mpirun process sees some child process exit unexpectedly and assumes its needing to clean up.  Does a process exit after generating this error message? Note the error reading the fifo comes much later during the second attach attempt.

[2020-03-20 14:48] mathstuf commented on #7532
Indeed, using `MPI_Win_allocate` seems to prevent the error. Is that the recommended fix or should the issue with `MPI_Win_create` still be investigated?

[2020-03-20 15:29] WeiJieQiang commented on #7516
I have the same problem with homebrew installed open-mpi 4.0.3 in maxOS. `PMIX_MCA_gds=hash` seems to work.

[2020-03-20 17:01] hjelmn commented on #7532
The CMA error is worth investigating since it is happening outside a container. I can take a look.

[2020-03-20 17:01] hjelmn commented on #7532
And, yes. Please use allocate instead of create.

[2020-03-20 21:08] bwbarrett opened #7550 "v3.0.7 Release Checklist"
## Build the Release
- [ ] Verify the major,minor,release,greek version numbers in `VERSION`
- [ ] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2020-03-20 21:11] bwbarrett opened #7551 "v3.1.7 Release Checklist"
## Build the Release
- [ ] Verify the major,minor,release,greek version numbers in `VERSION`
- [ ] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2020-03-20 21:43] #7198 closed

[2020-03-20 21:43] #7195 closed

[2020-03-20 22:56] lee218llnl commented on #5115
@hppritcha no MPI processes are exiting, they should all be in a hang state (one task in an infinite loop, one task on an MPI_WaitAll, and the rest in and MPI_Barrier).

[2020-03-21 17:22] hppritcha commented on #5115
@lee218llnl  I'm more interested in the Launcmon processes.  How does the BE launchmon process get started?  mpirun is acting like some process it started (not the MPI ranks though) exited unexpectedly just after this error message from LMON BE API appears.  That's when the fifo clean occurs.

[2020-03-21 17:50] dongahn commented on #5115
@hppritcha: The launchmon backend processes (tool daemons) should be started by orterun or OMPI's process management layer more generally speaking. For this system, the launchmon engine that interfaces with orterun will write the path and arguments of the backend (BE) processes into the address space of orterun process and poke it by sending a byte to the FIFO "I wrote all the info; please launch

[2020-03-21 17:54] dongahn commented on #5115
it seems to be at that point that the mpirun process sees some child process exit unexpectedly and assumes its needing to clean up. Does a process exit after generating this error message? Note the error reading the fifo comes much later during the second attach attempt.

@hppritcha: I don't understand how and why this error message is being printed. This error happens when a backend daemon had an

[2020-03-21 18:02] dongahn commented on #5115
Looking further the posting, it looks to me like you can ignore this error message for now and look at why the orterun doesn't create FIFO for reattach? From your earlier testing, reattach worked for both v2.0.x and v2.x branches even with the same error message?

Sorry I can't be any better help..

[2020-03-22 19:21] afernandezody commented on #7529
Hi @**gpaulsen**,
The key was to install the apps w/o libev. It compiled and now seems to be working properly. Thanks.

[2020-03-22 19:21] #7529 closed

[2020-03-22 22:23] Geokeke commented on #7516
I encoutered the same problem, using version 4.0.3 and build by myself on Mac.

[2020-03-23 08:09] angainor commented on #7531
@bosilca Exactly what I was thinking about, thanks!

[2020-03-23 08:09] #7531 closed

[2020-03-23 08:29] puneet336 opened #7555 "multinode mpi application crashes with -mca btl vader,self,openib flag"
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
OpenMPI Version - 4.0.x (tried 4.0.3 and 4.0.0)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
openmpi was installed from sources using -
./configure --prefix=$OPENMPIROOT  CC=${CC} CXX=${CXX}

[2020-03-23 09:10] ggouaillardet commented on #7555
It seems Open MPI falls back to tcp because openib is not working.
You can
[code]
To confirm that

You can also
`ibstat`
on both nodes to check link is `ACTIVE` and both `mlx5_1:1` are in the same subnet.

[2020-03-23 13:59] mathstuf commented on #7532
I can confirm that using allocate instead of create in the actual test case avoided the problem. Thanks!

[2020-03-23 15:33] sthibaul commented on #2919
Apparently this is fixed in openmpi 4.0.2:

[code]

[2020-03-23 15:33] #2919 closed

[2020-03-23 15:47] jsquyres commented on #7555
You might want to switch over to using UCX (instead of openib).  That's the preferred way to use InfiniBand these days.  Indeed, the openib BTL has been removed from Open MPI's master development, meaning that it will not be included in Open MPI v5.0.x.

Can you build Open MPI with UCX support?

[2020-03-23 17:29] jsquyres commented on #7203
Looks like this was fixed in master in #7204, and then back ported to v4.0.x, v3.1.x, and v3.0.x.

Closing this issue.

[2020-03-23 17:29] #7203 closed

[2020-03-23 19:12] gpaulsen commented on #7507
Closing.  PR 7536 merged to v4.0.x.  Will be in v4.0.4

[2020-03-23 19:12] #7507 closed

[2020-03-23 19:35] jsquyres opened #7560 "Fail to link MPI apps with "--enable-static --disable-shared" master builds; missing zlib symbols"
Building master with `--enable-static --disable-shared` builds and installs ok, but when you try to build an MPI application, it fails to link, complaining that it can't find zlib symbols.

For example: https://mtt.open-mpi.org/index.php?do_redir=3212 -- the behavior is basically this:

[code]

The issue is that we recently removed the "compress" framework from OPAL in 66da0c63 (because nothing wa

[2020-03-24 11:52] #7388 closed

[2020-03-24 16:21] benjha opened #7562 "mpirun fails to launch a cuda aware mpi code"
## Background information

I am benchmarking cuda aware mpi performance with OpenMPI+UCX on Power9 architecture (2x Power9 CPU, 6x Volta GPU). I am using Nvidia's Jacobi cuda aware mpi sample.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI 4.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a g

[2020-03-24 16:27] rhc54 commented on #7562
Try adding "--mca routed direct" to your mpirun cmd line and see if it helps

[2020-03-24 21:00] benjha commented on #7562
I'll try it and report back.

What is the default behavior if ```routed``` is not explicitly set ?

[2020-03-25 06:41] chchang6 commented on #7528
Sorry for the delay, multiple issues. Got the Mar 8 snapshot built with

[code]

Runs up to 16 nodes (576 ranks) fine with (we're using Slurm):

[code]

However with 32 nodes (1152 ranks) I see in stderr

[code]
Any suggestions for further testing are welcome!

[2020-03-25 15:39] benjha commented on #7562
After trying with ```--mca routed direct``` I got the same error.

These are the variables I set before calling mpirun:

[code]

[2020-03-25 19:18] jsquyres commented on #4162
Confirmed: this was fixed long ago.  Closing.

[2020-03-25 19:18] #4162 closed

[2020-03-25 19:33] jsquyres commented on #4433
@markalle @bosilca The reproducer on this issue no longer causes a segv.  Do you remember if this is still an issue?  If not, I'm inclined to close this issue.

[2020-03-25 19:39] bosilca commented on #4433
It has been fixed in a reasonable way in #4442.

[2020-03-25 20:20] #4433 closed

[2020-03-25 21:24] naughtont3 commented on #7562
@benjha Curious, if you add `OMPI_MCA_plm_rsh_num_concurrent=129`  (assuming 129 nodes), does it behave differently with the above variables you are already using?

[2020-03-25 22:04] jsquyres opened #7564 "master: mpirun does not emit error message with non-existent executable"
On master HEAD, `mpirun` (i.e., `prun`), does not seem to emit an error message if there is no executable found:

[code]

[2020-03-25 22:05] jsquyres opened #7565 ""mpirun -np 1 ..." emits warning"
I could be wrong, but I thought we decided to whitelist `-np` as an allowable "single dash" option, simply because of its massive prevalence out in the user community.

I notice that it's still emitting a warning:

[code]

Can we whitelist it to not emit this warning?

If someone points me in the right direction, I'd be happy to submit a PR.

[2020-03-25 22:18] rhc54 commented on #7565
It was, but somehow it slipped out from under the protection. I have an update coming that touches that area - easy enough to fix it there.

[2020-03-25 22:22] jsquyres commented on #7565
Thanks!

[2020-03-26 00:12] benjha commented on #7562
Thanks @naughtont3, I'll try it, in this case I am using 219 nodes. Should I set OMPI_MCA_plm_rsh_num_concurrent to 219 instead ?

[2020-03-26 00:22] rhc54 commented on #7562
Set it to anything large - say 512. Doesn't matter as long as it is greater than the number of nodes

[2020-03-26 00:42] farzado commented on #7516
Experienced the same issue after installing via Homebrew. `export PMIX_MCA_gds=hash` worked for me.

[2020-03-26 00:48] rhc54 commented on #7516
Please, folks - you don't all have to keep telling us about this. As noted above, it has been fixed in the OMPI v4.0.x branch and will appear in a future release. For now, just export the `PMIX_MCA_gds=hash` envar.

[2020-03-26 09:43] Keepmoving-ZXY opened #7567 "some question and thinking about TenosrFlow and OpenMPI's usnic btl"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From rpm source code package.

### Please describe the system on which you are running

- Operating system/ver

[2020-03-26 10:09] nmorey opened #7568 "osu_acc_latency stalls on opempi 3.1.x branch"
## Background information
Running osu_acc_latency over infiniband seems to stall forever.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Tried both 3.1.4 and 3.1.6 SUSE packages
Running on a SLES15SP2

## Details of the problem

Running osu_acc_latency over infiniband seems to stall forever.
I tried both 5.4 and 5.6 releases.

[code]

Backtrace:

[2020-03-26 13:38] awlauria commented on #7564
I can take a look today.

[2020-03-26 13:49] rhc54 commented on #7564
@awlauria I have done a little bit on it, but am happy to hand it over to you. The problem stems in part from trying to distinguish between `prte` running as a persistent DVM vs running as a one-shot `mpirun`. In the former, it is actually required that there be no app present on the cmd line. In the latter, you must have one. I think some of the "show help" support got lost there.

We also need t

[2020-03-26 13:57] awlauria commented on #7564
Thanks for the info - makes sense. I'll apply your patch above and see what else needs to be done. Thanks!

[2020-03-26 14:27] jsquyres commented on #7568
Mellanox -- this is an IB question. Can you guys followup?  Thanks!

[2020-03-26 14:52] rhc54 commented on #7567
@jsquyres I believe this is in your alley as it involves usNIC.

[2020-03-26 18:01] alex--m opened #7569 "Building master fails on missing PMIX macros"
## Background information
I'm building ompi master (43f79be), and I seem to have an issue with missing PMIX macros:
[code]

I'm using everything internal, incl. PMIx. Seems like `PMIX_APP_ARGV` should be in `/ompi/opal/mca/pmix/pmix4x/openpmix/include/pmix_common.h` - but it's missing (others are there, though).

I'm guessing @rhc54 @ggouaillardet are the right people to tag here (sorry if that's

[2020-03-26 18:12] alex--m commented on #7569
my bad, didn't see warning from autogen the submodule version mismatch with the master...

[2020-03-26 18:12] #7569 closed

[2020-03-26 20:46] rhc54 commented on #7564
Will be fixed by https://github.com/openpmix/prrte/pull/473 when it comes to OMPI

[2020-03-26 23:36] bwbarrett opened #7570 "UCX PML add_procs bug"
While digging into an odd add_procs behavior for the ofi mtl and the cm pml, I ran across what I'm pretty sure is a bug (or two) in the UCX PML on master.  The issue is in mca_pml_ucx_add_proc() on [line 403](https://github.com/open-mpi/ompi/blob/c704ed4cc51baf3ee0926454476b2bee0148581f/ompi/mca/pml/ucx/pml_ucx.c#L403) where the UCX PML is calling pml_check_selected().  First issue is that pml_che

[2020-03-27 10:28] puneet336 commented on #7555
yes, it was probably issue with the openib compatibility with HDR100 based clusters.  EDR based clusters, the same mpirun worked fine.
With UCX support enabled, i am able to spawn my executables on multiple machines.
closing this issue.

[2020-03-27 10:28] #7555 closed

[2020-03-27 21:08] bosilca commented on #7570
I have a patch, but right now I am unable to run any OMPI based code so I can't validate it. I also allowed compilations with newer versions of UCX, I've been using them (including UCX master) successfully for quite some time.

[code]

[2020-03-27 22:51] benjha commented on #7562
Thanks,

I set OMPI_MCA_plm_rsh_num_concurrent to 2048 and got it work.

I am trying now with a job using 4056 nodes / 24336 tasks. I'll report back what I got.

[2020-03-28 10:39] mkurnosov commented on #7410
@hppritcha I reopend PR #7574 for 4.0.x

[2020-03-29 14:55] yosefe commented on #7570
@bosilca added fix #7575, i've removed the ` if (OPAL_UNLIKELY(rank >= ompi_comm_size(comm))) {' check since it's in ompi_comm_peer_lookup() anyway in debug mode, and in release mode we'd like to avoid the extra check.

[2020-03-30 14:58] devreal opened #7578 "Alternative Argobots installation path?"
I am trying to give the Argobots integration (#6578) a shot but I am having trouble with the configuration process. I have installed Argobots through BOLT, say in `$BOLTROOT` in a subdirectory of `$HOME`). I configure the current Open MPI `master` using `--with-threads=argobots`. My first attempt failed because `abt.h` was not found. So I set `C_INCLUDE_PATH=$BOLTROOT/include` which gets me past t

[2020-03-30 15:06] jsquyres commented on #7578
It would seem like there should be a `--with-argobots=DIR` kind of option, similar to other optional packages.

FYI @hppritcha @shintaro-iwasaki @npe9

[2020-03-30 15:21] hppritcha commented on #7578
That will come as a follow-on PR.
@devreal thanks for the interest in using argobots, but you may want to wait a while.  There will need to be a libevent that is argobots aware before you can actually use argobots with Open MPI.  The decision was made to go that direction rather than try to support libevent in open mpi by features in the argobot component in the original PR.

[2020-03-30 16:22] #7155 closed

[2020-03-30 16:23] isuruf commented on #7155
Thanks everyone

[2020-03-30 16:25] jsquyres commented on #7155
@isuruf Sorry this took so long -- it fell off our radar after November, and I only recently re-discovered the open PR.

[2020-03-30 17:06] #7570 closed

[2020-03-30 17:55] dshrader opened #7580 "-L/usr/lib64 linking flags when lustre is in system space"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

3.1.6 and 4.0.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From release tarball

### Please describe the system on which you are running

* Operating system/ver

[2020-03-30 21:22] rhc54 commented on #6902
@ppurka As you can tell, I haven't had time to get around to this problem. Sadly, support for OMPI's runtime environment has declined a great deal over recent years as I've moved on to other things and am getting ready to retire - we just haven't been able to get other folks to pick it up the way anyone would like.

I'd suggest trying MPICH as an alternative - I don't know if they can handle your

[2020-03-30 21:26] rhc54 commented on #6962
As you can tell, I haven't had time to get around to this problem. Sadly, support for OMPI's runtime environment has declined a great deal over recent years as I've moved on to other things and am getting ready to retire - we just haven't been able to get other folks to pick it up the way anyone would like.

I'd suggest trying MPICH as an alternative - I don't know if they can handle your use-case

[2020-03-30 21:28] rhc54 commented on #7094
As you can tell, I haven't had time to get around to this problem. Sadly, support for OMPI's runtime environment has declined a great deal over recent years as I've moved on to other things and am getting ready to retire - we just haven't been able to get other folks to pick it up the way anyone would like.

I'd suggest trying MPICH as an alternative - I don't know if they can handle your use-case

[2020-03-31 14:24] jsquyres commented on #7567
Question about this: "when `TensorFlow` finish training, I find the performance is much lower than `TensorFlow`'s original performance at the same circumstances"

Can you shed a little more light on the two cases that you're comparing?  Are both cases TensorFlow training -- one with MPI/usnic and one with TCP sockets (no MPI)?

Are the VICs in the same NUMA locality as the GPUs?

That's correct th

[2020-03-31 14:52] juliusf commented on #6962
No problem. I've  solved the issue by  downgrading to v2. This not really an issue for us since we use openMPI only for starting compute heavy tasks on remote machines and therefore performance or improved feature sets is not important to us. Thank you for your time and commitment!

[2020-03-31 15:09] hppritcha commented on #7410
closed via #7574 and #7523

[2020-03-31 15:09] #7410 closed

[2020-03-31 15:13] hppritcha commented on #7513
closed via #6578

[2020-03-31 15:13] #7513 closed

[2020-03-31 17:29] #7564 closed

[2020-03-31 17:29] #7565 closed

[2020-03-31 20:53] pbrady opened #7583 "Cannot compile on Mac with Nag 6.2"
I'm on MacOS Catalina and attempting to use Nag6.2 as the fortran compiler to build Open MPI v4.0.3 (source tarball).  I have tried using the system clang compilers as well as gcc/g++ 9.3 from homebrew.  If I use gfortran from homebrew then open mpi compiles without issue so Nag appears to be the culprit here.

The configure step appears to be successful and I've attached the [config.log](https://

[2020-04-01 00:20] ggouaillardet commented on #7583
On Linux, `.f90` files are compiled with the "standard" flags, but `.F90` files are preprocessed before being compiled.
Both error message and the OS X case insensitive filesystem points to the `.F90` not being preprocessed on OS X.

Assuming any fortran file can be preprocessed by NAG compiler via the `-fpp` flag, I would suggest you try
[code]
and see if it helps

[2020-04-01 02:49] pbrady commented on #7583
Was able to compile and successfully run `make check` with the added `-fpp` option.  I'll leave this issue open because this seems like something that should be handled by the build system.  Feel free to close if you disagree.

[2020-04-01 04:15] ggouaillardet commented on #7583
I agree this is something that should be handled automatically.

Do you have any possibility to run the same test on Linux?
On second thought, I am not sure OSX case insensitive filesystem is involved here.

[2020-04-01 07:30] ggouaillardet commented on #7583
@pbrady could you please give a try to #7584?

you can manually download the patch at https://github.com/open-mpi/ompi/pull/7584.patch and apply it vs the 4.0.3 sources, and then run `./autogen.pl --force` (note this requires recent autotools)

This should automatically add the `-fpp` flag to `nagfor`.

[2020-04-01 14:55] eugeneswalker opened #7586 "OpenMPI fails to build with F18"
I'm trying to build `OpenMPI 4.0.3` using `Clang 9.0.1` and `F18`, with `gfortran 7.3.0` as the backend for F18. The system is `Ubuntu 18.04 x86_64`. OpenMPI source fetched from http://www.open-mpi.org/software/ompi/v4.0/downloads/openmpi-4.0.3.tar.bz2

The build is failing during configure phase:
[code]

Here is `config.log` : [config.log.txt](https://github.com/open-mpi/ompi/files/4415908/config

[2020-04-01 15:40] pbrady commented on #7583
@ggouaillardet I tested the patch and was able to compile successfully with the following config:

[code]
Your patch is correctly adding `-fpp` and fixes my issues.

On linux we build with nagfor without explicitly specifying `FCFLAGS` so this is mac related.  However, gfortran does the expected thing on mac (as it does on linux) while nag behaves differently.

[2020-04-01 15:44] nncarlson commented on #7583
Let's make sure it doesn't screw up x86_64 platforms.  There NAG passes '.F90' source files through the preprocessor automatically

[2020-04-01 15:58] pbrady commented on #7583
@nncarlson Are you going to test the patch on a linux box?

[2020-04-01 16:06] nncarlson commented on #7583
I was going to let you test it :-) but I guess I can.  What exactly should I apply the patch to?  Is the latest 4.0.x release good enough, or do I need to clone the repo?

[2020-04-01 16:10] pbrady commented on #7583
Autotools builds character and I think I acquired enough yesterday to last awhile.  I used the 4.0.3 src tarball and applied the patch via `git apply` at the top level directory after unpacking.

[2020-04-01 16:18] nncarlson commented on #7583
Uh, actually would you mind testing it?  Is the VPN usable for you to the petaca machines?  I'd test with both NAG 6.2 and 7.0 just to be sure.

[2020-04-01 16:23] pbrady commented on #7583
I appear to be cursed with a decent VPN connection today... I'll report back in a bit

[2020-04-01 16:41] jsquyres commented on #7583
![everything-is-fine](https://user-images.githubusercontent.com/617316/78163216-1219ba80-7416-11ea-85db-d40f5eaa9330.jpg)

[2020-04-01 16:48] jsquyres commented on #7586
I'm not 100% sure, but I'm guessing we're not explicitly testing the F18 compiler.

What's the F18 flag to specify the path where modules can be found?

[2020-04-01 16:50] pbrady commented on #7583
I applied the patch and was able to successfully configure, compile and check openmpi with nag6.2 and 7.0 on linux.

@ggouaillardet This patch fixes my issues on mac and does not cause any problems on linux.

[2020-04-01 16:53] #7583 closed

[2020-04-01 18:21] zbeekman commented on #7586
It looks like the problem is that the compiler is returning a non-zero exit status when it is using the correct module include flag. When the wrong include flag is used, f18/flang print:

[code]

When `-I` is passed you get a different error:

[code]

Is there a way to see the entire contents of `conftest.f90`? (And also the source file that generated `OMPI_MOD_FLAG` in `subdir`?)

In addition, it

[2020-04-01 18:26] zbeekman commented on #7586
This looks to me like the `ompi_mod_flag.mod` file may have been generated with a different Fortran compiler? If it was generated with GFortran you can gunzip it and examine the contents of the `.mod` file as plain text.

[2020-04-01 21:31] zbeekman commented on #7586
@jsquyres FYI, after testing some more (manually) this appears (to me at least) to be either an F18 bug, or a configuration/toolchain issue. `-I` should be the correct include flag, but running the simple code by hand from https://github.com/open-mpi/ompi/blob/master/config/ompi_fortran_find_module_include_flag.m4 will reproduce the problem.

[2020-04-01 22:55] coti commented on #7586
Hi,

I have the problem too. We have contacted the f18 team on Slack and we got an answer. It is related to what is described in https://github.com/flang-compiler/f18/issues/1011.

Short version: binary modules compiled with f18 are actually compiled by the backend compiler, which can be gfortran. Therefore, they cannot be used by f18. We need to get a text module. For this, the module and the res

[2020-04-02 00:09] ggouaillardet commented on #7583
FWIW, the patch is not NAG nor OSX specific, and was designed not to break existing environments.

 * compile a `.F90` files that fails if not preprocessed
   - if success, then no change
   - if fail, then try to compile the same `.F90` file with the `-fpp` flag
      - if success, add the `-fpp` flag to `FCFLAGS`
     - if fail, then abort

[2020-04-02 05:46] Keepmoving-ZXY commented on #7567
The GPU used during training and VIC are the same located in the same numa node, other information I have emailed to you.

[2020-04-02 22:39] benjha commented on #7562
I set OMPI_MCA_plm_rsh_num_concurrent to 4,608 (total # of nodes of summit) for the 4056 nodes / 24336 tasks and got a large list of these errors:

<details><summary> job errors: </summary>
<p>

[code]

</p>
</details>

 Is ```OMPI_MCA_plm_rsh_num_concurrent```  related to the S.O. variable that controls the ```max user processes``` a node can handle ?. For Summit ```max user processes``` is 4096.

[2020-04-02 22:44] rhc54 commented on #7562
Yeah, that isn't going to work. I posted a patch for this the other day (#7581) - why don't you just download it and use it? It's a one-line fix and you can quit upping that MCA param.

[2020-04-03 02:02] Keepmoving-ZXY commented on #5976
I think you need to let `mpirun` launch all TensorFlow worker and ps.

[2020-04-03 02:21] ppurka commented on #6902
@rhc54 Thank you for an honest assessment of the current status of this issue!

We have some workarounds in place at present to avoid the problems mentioned in this issue - we hope to get rid of the workarounds once there is a fix. We had also evaluated MPICH and have instead decided to stick to Open MPI for now.

[2020-04-03 02:22] rhc54 commented on #6902
Good to hear on both accounts! I'll update this ticket when I'm able to find time to address the problem.

[2020-04-03 15:00] jsquyres commented on #6932
It looks like it was too difficult to port back to v3.x -- the official guidance is that the fix is in the v4.0.x series.

[2020-04-03 15:00] #6932 closed

[2020-04-03 16:03] chchang6 commented on #7528
OK, by setting TMPDIR and TEMPDIR to an alternative location (not sure which is operative here), I've been able to get the snapshot working up to 384 nodes and counting. So looks good from here, closing out. Thanks for the help.

[2020-04-03 16:03] #7528 closed

[2020-04-03 17:49] yosefe commented on #7378
@gshamov i've tried to use UCX with different device names on my system and it worked..
can you pls build UCX with debug enabled (add --enable-logging to ./configure) and then run it with "-x UCX_LOG_LEVEL=trace" parameter to mpirun and upload the resulting log?

[2020-04-03 20:27] benjha commented on #7562
Thanks @rhc54

I am compiling a new version with your changes.

So, what is an expected  good value for ```OMPI_MCA_plm_rsh_num_concurrent``` ?

[2020-04-03 20:36] rhc54 commented on #7562
OMPI automatically picks a pretty good number - you shouldn't need to adjust it. Default is a fanout of 64, which works well for even large allocations. You don't adjust it with the `num_concurrent` variable - you adjust the fanout with `OMPI_MCA_routed_radix=N`, where N is the fanout. The number of concurrent ssh launches will automatically adjust to match the fanout.

[2020-04-05 22:34] jsquyres commented on #7521
@hjelmn I tested this.  Both the cased listed above work fine (we can get+set `btl` before `MPI_Init`, and setting `btl` affects selection).

Attached is my test code -- I tested with:

[code]

and I commented out (or not) the `MPI_T_cvar_write()` line with `tcp,vader,self`.  On my systems, the usnic BTL should be selected by default.  With the `cvar_write` line commented out, usnic is selected/us

[2020-04-05 22:36] #7521 closed

[2020-04-05 22:37] jsquyres commented on #7519
@hjelmn Per the discussion we had (cited above), you said that there's an MCA param (or MPI_T var) that shows what components were actually selected.  You specifically cited the BTL framework.

I could not find such a variable -- see my test code in https://gist.github.com/jsquyres/096504b16f90222f58fab3d8aecc2ec6.

That is, the `btl` MPI_T param does not get filled in this way after MPI is initia

[2020-04-06 17:41] AboorvaDevarajan opened #7603 "MPI_Intercomm_create hangs in internode runs"
**OMPI version:**

master (git clone) + UCX (master)

**OS:**

Red Hat Enterprise Linux Server release 7.7 (Maipo)

**Architecture:**

ppc64le

**Submodule Status:**

[code]

MPI_Intercomm_create hangs, I guess this is seen right after switching to PRRTE from ORTE,

[code]

[code]

[code]

Here is the backtrace of the hung process, Looks like its doing a `PMIx_Get` of `PMIX_LOCALITY` and its hung

[2020-04-06 22:04] coti commented on #7586
Hi,
I have made some significant progress in compiling OpenMPI. I had to modify the libtool script: in the FC tag section, there was:
`wl=""`
which I have replaced by
`wl="-Wl," `

Then I get a new error:
[code]
I _suspect_ that there might be another option to fix in libtool, but this is beyond what I know about it...

I have also tried adding `pic_flag=" -fPIC" `, unsuccessfully.

Thanks

[2020-04-07 02:39] aasraoui opened #7607 "mpirun fails with multiple clients"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Openmpi version:
openmpi-4.0.1

Os:
[code]

Openmpi version:
openmpi-4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package,

[2020-04-07 16:09] jsquyres commented on #7607
I see the following in your output:

[code]

That is a potential problem source and should be fixed before digging any deeper.

[2020-04-07 16:17] rhc54 opened #7608 "Datatype engine segfaults in MTT scatter tests"
https://mtt.open-mpi.org/index.php?do_redir=3214

[2020-04-07 18:32] aasraoui commented on #7607
the mpirun is invoked from this path:/home/root/.openmpi/bin/mpirun
there is no reference for mpirun in the .bashrc ..
thanks!

[2020-04-07 22:34] hppritcha commented on #5115
won't fix in 3.0 and 3.1 release streams as these are end of life.

[2020-04-07 22:48] hppritcha commented on #5115
note for master, the fix for this problem will lie in other projects, prrte/pmix/mpir-shim

[2020-04-07 23:22] jsquyres commented on #7607
There must be somewhere -- that line is in your output.  One way or another, that error should be resolved before digging deeper.

[2020-04-08 03:29] leofang commented on #7516
@rhc54, @dalcinl and I are seeing this issue when building Open MPI v4.0.3 for conda-forge (see https://github.com/conda-forge/openmpi-feedstock/pull/57#issuecomment-610678486). Just wanna make sure this is expected not fixed yet in v4.0.3, right?

[2020-04-08 08:19] rhc54 commented on #7516
Correct - there is another bug in 4.0.3 that might necessitate an update of PMIx in that branch. We are waiting on an assessment of that situation before committing an OMPI-specific patch.

[2020-04-08 14:22] leofang commented on #7516
Thanks for confirming, Ralph!

[2020-04-08 17:33] leofang commented on #5798
Hit this issue in v4.0.3 (https://github.com/conda-forge/openmpi-feedstock/pull/58).

[2020-04-09 07:41] cniethammer opened #7612 "Configure inconsistency with Open MPI 4.0.3 and UCX 1.8.0"
## Background information

I am building Open MPI 4.0.3 from the release tarball with the latest UCX 1.8.0 on a CentOS 8.0 based system with Infiniband (Mellanox ConnectX-6).

Open MPI was configured with
`./configure --with-ucx=<path_to_ucx_1.8.0_install_dir>`

UCX was build with default settings, no additional configure options except `--prefix`.

## Details of the problem

The configure step co

[2020-04-09 07:51] devreal commented on #7612
Seeing the same message from configure in current `v4.0.x` branch.

[2020-04-09 20:57] rjdave opened #7615 "Mac OS Mojave undefined _ompi_buffer_detach_f08"
I have built Open MPI v4.0.3 from the bzipped tar ball with the Intel 19.0.5.281 compilers (icc, icpc, ifort). I have enabled the C++ bindings with the --enable-mpi-cxx configure option because we need those bindings for some coupling software (ESMF) we use. My configure line is:

CC=icc CXX=icpc FC=ifort ../../ompi/configure --prefix=/<path>/openmpi-4.0.3-intel --disable-silent-rules --enable-mpi

[2020-04-10 02:38] ggouaillardet commented on #7615
I was seeing odd things too, but my `ifort` license has expired ...

in your build dir, could you please
[code]
you should see something like
[code]
and then
[code]
you should see something like
[code]

note the ```base/libusempif08_ccode.la``` around the end

and then

[code]

hopefully, you should see `ompi_buffer_detach_f08` defined
[code]

[2020-04-10 03:24] hjelmn commented on #7471
Still working on this. Estimate ~ 2 weeks development time given my work/home schedule this month.

[2020-04-10 08:55] rjdave commented on #7615
I get:
[code]

I get:

[code]
I get the base/libusempif08_ccode.la near the end but I'm more concerned with the -force_load warnings. I checked the output of the original make and the warnings appear there as well. When I check the configure output it reports that libtool accepts -force_load. I will look into this further but if anyone has a quick fix or explanation, it would be appreciated.

It's

[2020-04-10 10:32] ggouaillardet commented on #7615
Thanks, it looks like `libtool` is passing the `-force_load` option that `ifort` does not understand.

Can you try to manually run the `ifort` command after you replaced `-force_load,libxyz.a` with `libxyz.a`, and then

[code]

[2020-04-10 14:15] amckinstry opened #7616 "Move to 4.0.3 breaks ABI compatability ?"
This is an issue i'm seeing on Debian unstable, which has recently moved to 4.0.3

Our regression tests show a failure with mpigrafic:
[code]
This is with a move from 4.0.2 -> 4.0.3:
https://ci.debian.net/data/autopkgtest/testing/amd64/m/mpgrafic/4897659/log.gz

This appears to be because symbol(s) were removed:

https://github.com/open-mpi/ompi/commit/51e23f8cb6c7e9a663462923e55eafc3180dbfd5#diff

[2020-04-10 14:28] hppritcha commented on #7612
This is exactly what should be expected.  The UCT BTL is only compatible with UCX up to version 1.7 so it doesn't get configured in.  You still get the UCX OSC and PML components.  The UCX OSC component is the preferred path for MPI RMA ops when using IB or ROCe interconnects.

[2020-04-10 14:28] hppritcha commented on #7612
@gpaulsen this is expected behavior.

[2020-04-10 15:18] hppritcha commented on #6927
closing this as we don't plan to release updates to 3.0.x and 3.1.x

[2020-04-10 15:18] #6927 closed

[2020-04-10 15:19] hppritcha commented on #6084
closing as won't fix.

[2020-04-10 15:19] #6084 closed

[2020-04-10 15:20] hppritcha commented on #1089
won't fix.   not planning to release 3.0.x update unless there's something critical.  and this issue doesn't fall into that category.

[2020-04-10 15:20] #1089 closed

[2020-04-10 17:20] devreal commented on #7612
@hppritcha if that is the case, the error message is misleading. It states `need UCX 1.7 or older`

[2020-04-10 18:30] hppritcha opened #7617 "memory leak in some OSC components"
We're getting reports of a memory like in ```MPI_Win_complete``` from some users.  Present both in 3.1.5 and 4.0.3 releases.  Valgrind is reporting

[code]

Reproducer is at https://extremecomputingtraining.anl.gov/sessions/presentation-mpi-for-scalable-computing/

The user observes this with the OSC pt2pt and rdma components.

[2020-04-10 18:44] devreal commented on #7612
@hppritcha my bad, of course "or older" refers to previous versions :/ the message is correct of course.