[2015-08-20 20:41] #369 closed

[2015-08-21 10:22] dribbroc commented on #286
You are right.
At least now, ompi 1.8.5 exits with the 801 error, too.
Unfortunately i do not know, what i did back then.

[2015-08-24 11:27] ggouaillardet commented on #818
I made some tests today, and surprisingly, linking orted with --static is enough, assuming ompi was configure'd with --enable-static. it seems --static-intel is not even necessary since the generated c code does not seem to require the runtime (!)
I will run some more tests and make sure --enable-static-runtime does force --enable-static
(that does not look trivial at first glance, @jsquyres do yo

[2015-08-24 21:27] jsquyres commented on #818
I'd guess that in the Intel compiler suite, if they see `--static`, it also enables `--static-intel`.

I agree that it might be problematic to ensure that if `CFLAGS` contains `--static` that OMPI's configure should automatically `--enable-static`.  It might be sufficient for OMPI's configure to error out if `CFLAGS` contains `--static` and `--enable-static` was not specified...?

[2015-08-25 15:28] hppritcha opened #833 "Open MPI Web site (especially FAQs) technology refresh"
The Open MPI website, especially the [faq](http://www.open-mpi.org/faq/) could use a technology upgrade.  For instance, it would be great to have a per-release basis of the FAQ.

[2015-08-28 16:42] bbenton opened #840 "Mpich rma/test4 fails assert in osc_pt2pt_passive_target.c"
mpich: test/mpi/rma/test4 causes an assertion failure in osc_pt2pt_passive_target.c:
[code]
This also happens in 2.0 and 1.10.  However, it did not happen in 1.8.8.  Also, I see this with both openib and vader btl's.

This assertion also fails with mpich rma tests: linked_list_fop, linked_list_bench_lock_shr_nocheck, rma_contig, and acc_lock.

This fails on older Opteron processors, as well as AMD

[2015-08-31 21:44] jsquyres opened #850 "OSHMEM installs man pages even if --disable-oshmem is used"
@miked-mellanox @jladd-mlnx Can someone at Mellanox have a look?

Thanks.

[2015-09-01 06:46] miked-mellanox commented on #850
@igor-ivanov - could you please take a look. thanks

[2015-09-01 19:55] #840 closed

[2015-09-01 22:28] gpaulsen commented on #818
An Huang on our team came to the conclusion that this is not a low hanging fruit...
----------------------

Intel has a link https://software.intel.com/en-us/articles/intel-c-compiler-for-linux-statically-linking-intel-provided-libraries-into-your-application says:

By default, some Intel provided libraries are linked dynamically into your application, such as libcxaguard.so. This may not be desir

[2015-09-02 00:36] jsquyres commented on #818
@gpaulsen I don't think your tests were quite right: you need to link `orted` and `orterun` with `LDFLAGS=-static-intel`.  Not CFLAGS or CXXFLAGS.

Here's what I did:

[code]

With these steps, I get a fully functional Open MPI installation (including `orted` and `ortedrun`).

All that being said, it looks like the Intel compiler does *not* link in its runtime statically (even though I verified ma

[2015-09-02 01:34] rhc54 commented on #818
@jsquyres surely you jest... :-)

[2015-09-02 01:34] rhc54 commented on #818
@hppritcha is this something you could ask your friends there at the COE?

[2015-09-02 07:49] anhzhang commented on #818
Hello, this is An Huang :)
"make install LDFLAGS=-static-intel" won't get orted statically linked to intel libs, it gives a warning:

$ make install LDFLAGS=-static-intel
  CCLD     orted
icc: warning #10237: -lcilkrts linked in dynamically, static library not available
make[1]: Entering directory `/pmpi2/anzhang/src/ompi.newest.icc/src/openmpi-1.8.8.common/orte/tools/orted'
 /bin/mkdir -p '/pmpi2

[2015-09-02 08:20] ggouaillardet commented on #818
as discussed in #829 can you try to configure with
LDFLAGS=-Wc,-static-intel
an run make && make install again
fwiw, it is generally not a good idea to set LDFLAGS and friends at compile time
at first glance, it seems orted does not even require the intel runtime, and linking with it looks like an overkill here

[2015-09-02 09:47] anhzhang commented on #818
Ah, you're correct!, @ggouaillardet , thanks!
The option -static-intel should be set for icc, so "LDFLAGS=-static-intel" won't work, and the right way is:  ./configure --prefix=... s CC=icc CXX=icpc FC=ifort LDFLAGS=-Wc,-static-intel

[2015-09-02 10:19] jsquyres commented on #818
@ggouaillardet They're testing with setting LDFLAGS at build time because the suggestion was to just set those flags for just the `orted` and `orterun`.  It was a quick-n-dirty way to test the idea without doing all the configury work.

That being said, `-Wc,-static-intel` doesn't work for me.  For example:

[code]

I have a fairly recent version of the Intel compiler:

[code]

[2015-09-02 10:33] ggouaillardet commented on #818
got it, thanks
we need -Wc,-static-intel because -static-intel is not passed to icc by libtool
(-Wc, is a libtool thing, not an icc one)
obviously, mpicc is not using libtool, and there is also no need to pass -static-intel to icc,
so I guess we should add --with-wrappers-ldflags="" to the configure command line
(I am not sure of the syntax, and will not be able to test this before tomorrow)

[2015-09-02 10:41] jsquyres commented on #818
@ggouaillardet See my comment, above -- even when I pass `-static-intel` to mpicc, the resulting executable does not have static linkage of the Intel runtime.

Additionally, when I passed `LDFLAGS=-static-intel` to the build for `orted` and `orterun`, Libtool passed it on the command line properly. But still, the intel runtime libs are linked dynamically, not statically:

[code]

[2015-09-02 10:50] ggouaillardet commented on #818
iirc, the root cause is libopen-rte.so and libopen-pal.so do require the intel runtime
also, I am not sure ifort has a static version of the fortran runtime
and btw, we do not care here, what we really want is an orted not depending on the dynamic limbs of the intel runtime, right ?

[2015-09-02 20:26] jsquyres commented on #639
@larrystevenwise Any progress?

[2015-09-02 20:27] jsquyres opened #857 "Disable mpi_f08 if "USE ... ONLY" does not work"
Per thread starting here: http://www.open-mpi.org/community/lists/devel/2015/08/17867.php, the PGI compiler (at least as of v15.7) does not fully support the "USE ... ONLY" notation.

We decided in the Tuesday teleconf and followup emails with Nvidia to add a configure test to check and see if the compiler supports this behavior.  If it does not, disable the mpi_f08 bindings.

[2015-09-02 20:27] jsquyres commented on #857
Tagging @rolfv because he's the nvidia/PGI contact.

[2015-09-02 20:37] larrystevenwise commented on #639
No, unfortunately...

[2015-09-02 22:52] jsquyres commented on #818
@ggouaillardet Good point: if I `./configure LDFLAGS=-Wc,-static-intel`, then `libopen-pal` and `libopen-rte` both get statically linked with the intel runtime (i.e., `ldd .libs/lib*so | grep intel` yields nothing).  However, the `orted` still dynamically links against the intel runtime libs.

Soo.... I don't know where to go from here.

[2015-09-03 00:17] ggouaillardet commented on #818
@jsquyres i do not observe this behavior ...

here is some basic info about my system
configure command line is
[code]

icc version
[code]

make log
[code]
note the warning about ```libcilkrts.so```, which is really useless

and the ldd output
[code]

and here is my super verbose output
[code]

did you configure with ```--disable-dlopen``` ?
does orted depend on other third party libs (such as lib

[2015-09-03 08:29] ggouaillardet commented on #818
i had no issue with icc 15.0.3 and 16.0.0
on top of that, -Wc-,static-intel is not even  passed to the wrappers (!)

[2015-09-03 11:20] nasailja opened #860 "OpenMPI cannot handle standard UNIX filename"
This program returns 3 instead of 0 because openmpi freaks out about a : in a filename:
[code]
The error I get from another program, where : is part of a directory name, is:`MPI_ERR_NO_SUCH_FILE: no such file or directory`

According to MPI-2.0 the file name format must be documented and the manpage at https://www.open-mpi.org/doc/v1.8/man3/MPI_File_open.3.php seems like a good place to mention th

[2015-09-03 13:24] edgargabriel commented on #860
It is unfortunately a bit more complicated. The ROMIO implementation of MPI I/O (which is the default in the 1.8 series) interpretes to the best of my knowledge the ":" character, since it can be used to provide additional information, e.g. file system type, see page 494 of the MPI 3.1 document

An implementation may require that filename include a
string or strings specifying additional informati

[2015-09-03 13:42] nasailja commented on #860
Thanks, at least docs could warn that some configurations also do not allow characters other than the usual / and NULL. configure states:
[code]
so what is left if I disable romio, MPI-1 I/O only?

[2015-09-03 13:45] edgargabriel commented on #860
no, you don't have to disable it, you could try to switch to ompio, e.g.

mpiexec --mca io ompio -np 4 ./yourtest

Note, that the ompio version in 1.8.8 has some restrictions (the version in master and in the upcoming 2.x series is much more stable), but you could give it a shot.

[2015-09-03 13:56] nasailja commented on #860
Thanks that worked and didn't seem to affect performance.

[2015-09-03 14:19] #857 closed

[2015-09-03 14:24] jsquyres commented on #860
@edgargabriel Does OMPIO reserve any characters in the filename?  We should probably update the man page for MPI_File_open(3) for both OMPI and ROMIO, as @nasailja suggests.

[2015-09-03 14:24] nasailja opened #862 "Non-standard behavior in MPI_File_open"
This program does not destroy the file on open, even though it should:
[code]
As far as I can tell (http://en.cppreference.com/w/cpp/io/c/fopen mode "w", action if file already exists) MPI_MODE_WRONLY must destroy the file upon open which is what happens when replacing MPI with stdio in above program.

[2015-09-03 14:25] nasailja commented on #860
You can use https://github.com/open-mpi/ompi/pull/861 ...

[2015-09-03 14:25] edgargabriel commented on #860
Not that I am aware of, but honestly before running the test of @nasailja I was not entirely sure about it :-)

[2015-09-04 00:14] ggouaillardet commented on #862
@nasailja this is what the standard says (chapter 13.2, page 495 of the mpi 3.1 standard)

[code]

my understanding is that POSIX means ```open``` and __not__ ```fopen```

so if you rewrite the test program with posix calls, both posix and mpi versions produce the same results

[code]

i just realized there is no ```MPI_MODE_TRUNC``` equivalent to posix ```O_TRUNC```, but here is not the right pla

[2015-09-04 12:28] nasailja commented on #862
True but shouldn't MPI_File_open be called MPI_Open if it were supposed to be equated with open instead of fopen? Fopen also exists in POSIX according to this http://pubs.opengroup.org/onlinepubs/009695399/functions/fopen.html

[2015-09-04 13:00] ggouaillardet commented on #862
@jsquyres @bosilca could you please comment ?
should MPI_File_open behave like open or fopen ?
@nasailja MPI IO subroutines start with MPi_File_, so you cannot assume fopen should be used instead of open only because of the name

[2015-09-04 13:07] nasailja commented on #862
Don't they start with MPI_File_ because anything MPI can do IO wise operates on files and not FIFOs, sockets, etc.? If yes then you might see why it's easy to (make the mistake of?) check fopen instead of open when trying to figure out how MPI_File_open behaves because fopen also only operates on files and not FIFOs, sockets, etc.

[2015-09-04 13:19] ggouaillardet commented on #862
@nasailja i will let George or Jeff comment on that.
unix open does not work with sockets nor non named pipes.

[2015-09-04 13:22] nasailja commented on #862
Ah it has to be a named pipe.

[2015-09-04 14:21] bosilca commented on #862
Based on my understanding of the MPI IO chapter the only way to truncate a file is by explicitly using MPI_FILE_SET_SIZE. Therefore I would not expect MPI_MODE_WRONLY to destroy and then recreate the file. In addition, open is the only function that takes the action hint as an int. All in all I would expect the MPI flags to be equivalent to the open POSIX flags.

Regarding the naming scheme, in MP

[2015-09-04 14:33] nasailja commented on #862
`What would it means in a parallel environment to open a named pipe ?`
Maybe each rank could write to stdin of the same rank of another program started with mpiexec? E.g. `mpiexec -n N ./a | mpiexec -n N ./b | ...`

[2015-09-05 12:06] jsquyres opened #869 "Move "force the use of hwloc" commits to v2.x"
So far, these commits are involved:

* open-mpi/ompi@d97bc29102112198270452fc37b7dfedcef9ce75
* open-mpi/ompi@f782a7640e4ea36ae632a82238c8b2402565428e
* open-mpi/ompi@794ee4a604dd114dd1332ac26ce7bc9d6e8b537e

As of this writing (8am US Eastern Sep 5 2015), there's several PMIX-related conflicts when trying to merge the first of these commits to v2.x.  I'm assuming the latest PMIX stuff hasn't been

[2015-09-05 12:10] edgargabriel commented on #862
you are right, just setting MPI_MODE_WRONLY should not erase an existing file, unless MPI_MODE_CREATE has been set in addition. The latter one will however delete an existing file.

[2015-09-06 13:14] nasailja commented on #862
According to opengroup.org O_CREAT has no effect if the file already exists, unless O_EXCL is also given in which case open fails.

[2015-09-06 14:54] edgargabriel commented on #862
yes, after re-reading you are right. WE anyway just translate the flags to their posix versions, so it should be correct.

[2015-09-07 08:05] anhzhang commented on #818
I used the newest icc, there is no problem for statical linking, all orte* binaries are good, since orted depends on libopen-pal.so and libopen-rte.so, these two files needs to be statically linked with intel libs.

$ icc -v
icc version 16.0.0 (gcc version 4.4.7 compatibility)

$./configure CC=icc CXX=icpc FC=ifort LDFLAGS=-Wc,-static-intel

]$ ldd orte*
ortecc:
	linux-vdso.so.1 =>  (0x00007fff1a7

[2015-09-07 09:25] anhzhang commented on #818
One strange thing is the Intel option "-static-intel", according to https://software.intel.com/zh-cn/node/523256, it is a linker option, so we should specify it for make with "-Wl" if we want to do a dynamic building for orted, but actually it fails, we have to use "-Wc"

[orted]$ make LDFLAGS=-Wl,-static-intel
  CC       orted.o
  CCLD     orted
ipo: warning #11016: Warning unknown option -static

[2015-09-07 12:00] ggouaillardet commented on #818
my 0.02US$...
I did nto dig into this, but that could be a libtool bug.
-static-intel is definitely an icc option (e.g. __not__ a ld one), and we use icc as a linker to build the shared libraries, that could explain why we need -Wc flag

[2015-09-07 12:19] ggouaillardet commented on #818
or that could be an icc bug/feature
libtool mode=link -Wc,-static-intel ...
invokes
icc -static-intel ...
whereas
libtool mode=link -Wl,-static-intel
invokes
icc -Wl,-static-intel ...
which invokes
ld -static-intel ...
which is not what we expected

I will double check that tomorrow, meanwhile feel free to ask icc folks what they think of that
(e.g. libtool vs icc bug, or just features and we real

[2015-09-08 02:48] ggouaillardet commented on #818
my guess was right
[code]
does invoke
[code]
whereas
[code]
does invoke
[code]
which ends up invoking
[code]

as i stated earlier, i am not sure whether this is a bug or a feature, and if this is a bug, i cannot tell if it comes from libtool (e.g. do not pass ```-Wl,-static-intel``` but ```-static-intel``` to ```icc```) or icc
(e.g. do not pass ```-static-intel``` to the linker but uses it in ```i

[2015-09-08 13:45] jsquyres commented on #860
Sorry for the delay -- I finally made a comment on the suggested new message in #861.

[2015-09-08 14:06] jsquyres commented on #818
@ggouaillardet Per

I just tested again on a clean tree.  I don't know what happened with my prior test -- I must have had something stale left over.

Specifically: when I tested on a clean tree this morning, I got the expected result:

* `./configure CC=icc CXX=icpc FC=ifort LDFLAGS=-Wc,-static-intel ...`
* `ldd orted` did not show any dynamic intel runtime libraries

So.

Where does this leave u

[2015-09-08 16:15] gpaulsen commented on #818
In general I'm for simplifying the configure time options, in favor of "doing as much at runtime as possible".  Of course that's not an option in this case.

We might need to implement this for other Linux Comiler runtime environments as well.  It's safe to assume (is it?) that the GNU compiler runtimes would be installed, but other compilers such as the IBM XL C/C++ runtime for Linux on Power (an

[2015-09-08 16:25] jsquyres commented on #818
Yeah, having a `--enable-static-runtime` configure option allows us to hide the details based on whatever compiler was picked.  That does make a bit more work for us, though (i.e., we need some kind of switch/case inside the configury to add the Right flags based on which compiler suite is being used).

FWIW:
* The GNU compilers don't typically need us to do anything (I suppose you could have a pr

[2015-09-08 17:19] jsquyres opened #874 "PPC64 builds broken on master"
Per http://www.open-mpi.org/community/lists/devel/2015/09/17979.php, @adrianreber reports:

Since a few days the MTT runs on my ppc64 systems are failing with:

[code]

I think I do not see these kind of errors on any of the other MTT setups so it might be ppc64 related. Just wanted to point it out.

@rhc54 I see that the failure is in PMIX...?
@gpaulsen @nysal Pinging the PPC64/IBM people...

[2015-09-08 17:25] rhc54 commented on #874
@jsquyres it isn't in the PMIx library, but in the opal integration to that library. Looks like some kind of issue with moving data between OPAL and PMIx structures.

[2015-09-08 22:15] gpaulsen commented on #398
I pinged Dave, and he thinks he might be able to start tomorrow.

[2015-09-09 06:41] anhzhang commented on #818
I think the option 1 is good, I have tested that the following steps are enough to resolve the old problem:

1. ./configure --prefix=... CC=icc CXX=icpc FC=ifort ...
2. cd opal; make LDFLAGS=-Wc,-static-intel
3. cd orte; make LDFLAGS=-Wc,-static-intel
4. back to top src dir; make all install

libopen-opal.so, libopen-rte.so and all orte binaries under bin will be linked to intel libs statically. O

[2015-09-09 07:18] ggouaillardet commented on #818
i agree only ```libopen-pal.so``` and ```libopen-rte.so``` should be statically linked with the intel runtime
(e.g. ```libmpi.so``` and its fortran/oshmem/pmix friends should use the dynamic intel runtime)

that being said, i am not sure it is quite right to override LDFLAGS on the command line.

on one hand, a ```--enable-static-runtime``` option will be hard to maintain on all compilers,
on the

[2015-09-09 07:25] ggouaillardet commented on #874
i found several issues related to big endian (i reproduced them on a sparc architecture)

the inlined patch fixes some of them.
with the patch
[code]
does work
[code]
suffers from intermittent hang
[code]
always fail with the following error
[code]

btw, is PMIx supposed to work on an heterogeneous cluster (e.g. mix of big and little endian) ?

here is the patch
[code]

[2015-09-09 09:22] rhc54 commented on #874
Ah crud - I thought I'd been careful enough about avoiding the alignment issues, but obviously not. I'll take a gander at these in the morning and bring them into PMIx - will also see if I can spot any additional problems. Thanks!

[2015-09-09 10:03] jsquyres commented on #818
Why is it bad to pass `LDFLAGS=-Wc,-static-intel` on the `configure` command line (and have everything link the Intel runtime statically)?

[2015-09-09 11:39] ggouaillardet commented on #874
@rhc54 note there are two kind of issues
- alignment
- conversion (e.g. cannot simply memcpy an int into a long on big endian arch)

[2015-09-09 13:16] adrianreber commented on #874
I can confirm that I no longer get segfaults on ppc64 but the same errors as @ggouaillardet .

[2015-09-09 14:58] rhc54 commented on #874
@ggouaillardet PMIx is supposed to work on hetero clusters - it has the equivalent of the OPAL dss for packing/unpacking to make it work. Did you see something that would prevent it?

[2015-09-09 15:21] nysal commented on #874
@jsquyres @rhc54 I'm out of office for the next two days. I'll try reproducing this issue on Monday.

[2015-09-09 15:22] rhc54 commented on #874
@nysal Thanks!

[2015-09-10 07:55] ggouaillardet commented on #874
@rhc54 my question about hetero clusters was a naive one.

with the following inlined oneline patch, i get no more issues with singleton and mpirun -np 1
(but mpirun -np 2 still fails)
[code]

[2015-09-10 08:32] anhzhang commented on #818
@jsquyres I have no strong reason to say it is bad :), but only want to keep it within a narrow scope, it should be less risky. Actually, I like this way, otherwise I need some time to learn autotools :)

[2015-09-10 08:40] rhc54 commented on #874
@ggouaillardet Oh wow - yeah, that would definitely be wrong! Sorry for that typo.

[2015-09-10 09:02] Zhiming-Wang commented on #383
The issue was reappeared in our environment. Can we merge the fix into next release, v1.10.1 and v1.8.9?

[2015-09-10 12:58] jsquyres commented on #383
@Zhiming-Wang @nysal In which version(s) did the problem appear: master, v2.x, v1.10.x?   (note that 1.8.x is likely dead -- the future is v1.10 and v2.x)  I.e., did the fix simply not get PR'ed over to v1.10.x and/or v2.x?

[2015-09-10 13:44] Zhiming-Wang commented on #383
@jsquyres The issue was reappeared twice. At first time, openmpi-1.8.7-1.ppc64le.rpm was used. The second time, I can't get the specific version number. It must be pre-release version (v1.8.x) or the version from yum repository (v1.6.x).

[2015-09-10 14:56] jsquyres commented on #383
@Zhiming-Wang Gotcha.  v1.8.x is dead; v1.6.x is long dead.  Can you reproduce in v1.10x (I'm guessing: yes) and/or v2.x?

[2015-09-10 15:03] hppritcha opened #881 "java JNI code compiler warnings"
There are a number of compiler warnings emitted when compiling the native methods for the MPI java bindings.  I used the following compiler options:

./configure --enable-mpi-java --enable-picky

[2015-09-10 15:08] hppritcha commented on #881
Examples of the warnings:

mpi_MPI.c:81:1: warning: missing braces around initializer [-Wmissing-braces]
 opal_free_list_t ompi_java_buffers = {{0}};
 ^
mpi_MPI.c:81:1: warning: (near initialization for 'ompi_java_buffers.super.super') [-Wmissing-braces]
mpi_MPI.c: In function 'ompi_java_forgetDatatypeArray':
mpi_MPI.c:1024:13: warning: comparison of distinct pointer types lacks a cast
     if(jpt

[2015-09-10 15:16] hppritcha commented on #881
@nrgraham23 this is the issue we talked about yesterday.

[2015-09-10 16:51] dsolt commented on #398
Tomorrow, tomorrow I'll love you tomorrow.  Its only a day away.   Ok,  I'm seriously downloading the code and working on it right now!

[2015-09-10 19:28] dsolt commented on #398
Can you think of a good MPI_Info that we could add a "subscriber" for?   I could make one up?  Like buffering=none  to turn all MPI_Send's into MPI_Ssends?

[2015-09-10 19:38] jsquyres commented on #398
Sounds good to me.  :-)

[2015-09-10 19:46] dsolt commented on #398
Does MPI_XXXX_get_info return an Info with all key/values that might be used by the underlying system even if the values are garbage, or only return key/values for which the underlying system has validated that the value made sense and had some influence on the system.   I plan to go with the later unless you think otherwise.

[2015-09-10 19:56] edgargabriel commented on #398
Not sure whether it makes sense it this context or not, a looong time back (pre Open MPI) we had that idea of trying to separate communication on a per communicator basis, e.g. all communication on comm1 uses InfiniBand (or ATM at that time), on comm2 GE,  or similar. Today, we could think about trying to separate communication for File I/O and 'message passing' to use separate IB cards or ports (

[2015-09-10 19:59] jsquyres commented on #398
MPI 3.1 section 6.4 p249-250 says:

[2015-09-10 20:06] dsolt commented on #398
I read that but still not sure of the exact definition of "actually used by the system".   If I have an info that specifies "comm_method=USNIC" and comm_method is a "key" we look for and "USNIC" is a supported value for comm_method, but this system doesn't happen to have USNIC on it, so we ignore the setting.  Should "comm_method=USNIC" be returned by MPI_COMM_GET_INFO?   I think not, but the MPI3

[2015-09-10 20:23] jsquyres commented on #398
It is a little vague.  My interpretation is along the lines of yours: return hints that are actually in use by the system.

Hence, when MPI_Comm_get_info() is called, it will callback all of the agents who registered with it, pass them the communicator and the info, and let them decide what to put in the info (or not) to be returned to the user.

Make sense?

[2015-09-10 20:29] dsolt commented on #398
good, that's what I was thinking.   Then it is up to the callbacks to decide and I don't have to make the choice :)

[2015-09-11 02:34] ggouaillardet commented on #874
and here is another twolines patch that is needed to fix mpirun -np n helloworld with n > 1 on big endian arch
[code]

[2015-09-11 09:37] adrianreber commented on #874
So it seems all patches from @ggouaillardet are already in the master branch and now the test cases seem to start up correctly. The tests are, however, not running correctly:

[code]

and then it seems to hang forever. If I remove the parameters ```--mca coll_sm_priority 100``` from the intel_tests Makefile the tests are all passing. Now idea what that parameter means.

[2015-09-11 10:29] ggouaillardet commented on #874
this parameter is set to use the collective module optimized for shared memory with intra node communicator.
I do not think this module is production ready, so unless you have a good reason to use it, I recommend you do not change the priority (it is zero by default)

[2015-09-11 11:35] adrianreber commented on #874
The ```coll_sm_priority``` parameter seems to be default in the intel test suite:

```827dcde8 (Jeff Squyres    2011-03-17 13:50:39 +0000   5) MPIRUN = mpirun -np 4 --mca btl tcp,self --mca coll_sm_priority 100```

I was just using the defaults. Maybe needs some fixing too.

[2015-09-11 11:48] ggouaillardet commented on #874
@jsquyres is there any reason why we use coll/sm by default ?

[2015-09-11 12:28] jsquyres commented on #874
Is there a reason not to use coll sm?

[2015-09-11 12:49] ggouaillardet commented on #874
not really, except a memory leak in v1.10 when a communicator is freed.
in ompi, the default priority of coll/sm is zero, and I found surprising the default behavior of ompi-tests is to use coll/sm.
so let me put it this way : shouldn't we test by default what end users will run by default ?

[2015-09-11 13:08] jsquyres commented on #874
Maybe the real question is why coll sm has a low priority by default... is there a known issue with it?  (there's something in the back of my head that says that there is, but I don't recall what it is offhand...)

[2015-09-11 13:10] jsquyres commented on #818
Ok, cool.  I go back to what I said in https://github.com/open-mpi/ompi/issues/818#issuecomment-138621455, then.  :-)

[2015-09-14 10:00] Zhiming-Wang commented on #383
@jsquyres
I download the new release v1.10.0 from official website and built it on Power8 platform.
http://www.open-mpi.org/software/ompi/v1.10/downloads/openmpi-1.10.0.tar.gz
For various reasons; I could not access the real-applications which were failed on Power8 platform.  I reappeared it at a unusual way. Is it a useful case?
$ $MPI_ROOT/bin/mpicc hello_world.c -o hw
$ ./hw
[power804nv:07666]

[2015-09-14 18:04] jsquyres commented on #383
Ok, good to know: it happens with v1.10.  Can you file a PR for v1.10?

Does it happen on master / v2.x?

[2015-09-15 06:28] Zhiming-Wang commented on #383
The case was failed on v2.x. If the fix was added, it was passed.
It was passed on master. The fix already exists on master.
I will create  PR for both v1.10 and v2.x.

[2015-09-15 15:14] bosilca commented on #170
I just got a rpi2. Give me few days to check the status of this.

[2015-09-16 09:24] anhzhang commented on #818
@jsquyres I realized your idea is better than me after I did some works on the configure.ac, *.m4 and some Makefile.am.
Although I have got a rough solution and made it work as expected, I found if we want be accurate be what binaries should be statically linked to Intel libraries, the future maintenance work should be in some trouble, if we introduce new binary or so file, we need to be careful t

[2015-09-17 18:29] jsquyres commented on #818
I'm fine with either approach as described in https://github.com/open-mpi/ompi/issues/818#issuecomment-138621455 -- the documentation route is easier; the `--enable-static-runtime` route is a bit more automatic for users, and involves a little configury work for us (in this case, I think we should just use the same flags everywhere -- i.e., add them to `LDFLAGS` -- as opposed to only using the sta

[2015-09-19 19:24] jsquyres opened #909 "Test issue"
Github now allows us to attach more than just graphics to issues.  I just wanted to test it out.  :-)

![meme-yo-dawg-intel-phi](https://cloud.githubusercontent.com/assets/617316/9977807/0b704e0e-5ee2-11e5-8fb1-bdc636c18da4.png)

MPI-3.1 spec, PDF: [mpi-31.pdf](https://github.com/open-mpi/ompi/files/2213/mpi-31.pdf)

Some PPT slides: [MPI-Portability.pptx](https://github.com/open-mpi/ompi/files/22

[2015-09-19 19:25] jsquyres commented on #909
Yup; looks like uploading both pictures (which has worked for a long time) and non-pictures (which is new, and apparently currently only in a limited rollout to Github organizations / repos) works.  :-)

[2015-09-19 19:25] #909 closed

[2015-09-21 13:53] dsolt commented on #398
Another question... I have the code in place for MPI_Comm, but for MPI_Win and MPI_File there seems to already be some code in place.  I have not yet investigated how complete it is.  Do we want this change for Comm's only or should I make Comm, Win and File all consistent?

[2015-09-21 14:54] dsolt commented on #398
Just looking at the portals4 get_info and set_info implementation, it looks like they return an info with "accumulating_ordering" and "no_locks" set, regardless of whether set_info was called or what was passed to set_info.

[2015-09-22 04:18] nysal commented on #874
@jsquyres Should we close this one? as the original issue seems to be fixed. I can confirm that some basic tests that I ran on ppc64 pass. For sm coll component maybe we can open another issue?
By the way, does the abort test pass on intel and it is just ppc64 that has an issue? Maybe we should collect some performance data for coll sm and compare it to the tuned coll component. If it is much bett

[2015-09-22 07:34] jsquyres commented on #398
My comments:

* I think it would be good to support MPI_Win and MPI_File, too.  I.e., it would be good to do the same infrastructure for all 3.
* portals4: since this is early days for all this stuff, I think that component should be updated to conform to the newly-defined behavior.

[2015-09-22 09:28] Zhiming-Wang opened #922 "The v1.10.0 release package can't build on Power8 LE"
bot:milestone:v1.10.0
bot:label:bug
bot:assign: @jsquyres

I downloaded the v1.10.0 release package from http://www.open-mpi.org/software/ompi/v1.10/downloads/openmpi-1.10.0.tar.gz and built it by xlc.
The building was failed on RHEL 7.1 Power8 LE.
The steps:

[code]

As shown above, the "elf64ppc" option was used for "/usr/bin/ld". At Power8 LE, the "elf64lppc" should be used. I reran "./autogen.

[2015-09-22 09:38] ggouaillardet commented on #922
iirc, v1.10 tarballs are generated using libtool 2.4.2, and tarballs are generated using libtool 2.4.6, and libtool 2.4.2 does not (fully ?) support Power LE.
we discussed similar topic in the past and concluded it is a bad idea to change libtool and friends in the middle of a stable serie (short story, v1.10 is more a fork of v1.8 than a new branch)
so i am afraid this might not be fixed until v2

[2015-09-22 11:59] nysal commented on #922
@Zhiming-Wang see https://github.com/open-mpi/ompi/issues/396
Fixing this will require patching the configure script once it is generated. Do you want to take a shot at it?

[2015-09-22 12:14] ggouaillardet commented on #922
@nysal we already patch the configure script to fix some libtool bugs, so this is something we can consider.
btw, is the patch for libtool 2.4.2 only ? 2.4.6 only ? any version ?
thanks in advance for attaching the patch

[2015-09-22 12:26] nysal commented on #922
@ggouaillardet The patch is for libtool < 2.4.3 (thats when the patch landed in libtool). I have really tested it on 2.4.2 only though.

[2015-09-22 13:42] jsquyres commented on #922
Have a look in autogen.pl to see where we apply patches after configure is generated.

[2015-09-22 14:41] tkordenbrock commented on #398
I don't understand how osc-portals4 is out of compliance.

MPI 3.1 section 11.2.7 page 416

The "no_locks" and "accumulate_ordering" hints are set at window creation (component_select) and cannot be changed using set_info.  So having set_info do nothing other than a barrier is compliant.

MPI 3.1 section 11.2.7 page 416-417

The "no_locks" and "accumulate_ordering" hints are "actually used by the

[2015-09-22 14:58] dsolt commented on #398
I don't think osc-portals4 is out of compliance, I was just pointing out what that code was doing currently and trying to work through how to make sure our interface supports that case.

[2015-09-22 15:19] tkordenbrock commented on #398
OK.  Sounds good.

[2015-09-24 02:33] kawashima-fj opened #933 "Random errors on MPI_COMPARE_AND_SWAP with pt2pt OSC of Open MPI master"
Random errors occur on `MPI_COMPARE_AND_SWAP` when using pt2pt OSC.

Run [my cswap.c at Gist](https://gist.github.com/kawashima-fj/01971f811833a0423cb4) with:

    mpiexec -n 2 --mca osc pt2pt --mca btl self,vader ./cswap

You'll see any of the following errors or another on the rank 0.

    cswap: ompi-src/ompi/mca/pml/ob1/pml_ob1_sendreq.h:251: send_request_pml_complete: Assertion `0 == sendreq-

[2015-09-24 05:08] hjelmn commented on #933
Yup. This is a bug in the commit that made the optimized sends visible to msgq. I will take a look tomorrow.

[2015-09-24 08:59] bosilca commented on #933
@kawashima-fj thanks for the detailed submission. You are right, the fact that we allow recursive calls to the blocking PML functions (such as from the completion callbacks) we have to prevent the request optimization to be used by all except the first call. Here is a patch, let me know if this fixes your issue.

diff --git a/ompi/mca/pml/ob1/pml_ob1_isend.c b/ompi/mca/pml/ob1/pml_ob1_isend.c
inde

[2015-09-24 13:06] rolfv opened #935 "OPAL ERROR: Bad parameter in file ../../opal/dss/dss_load_unload.c while running"
See the example below to see this error message.  I only observe this running Open MPI 2.0.0.  Even though the message pops out, everything runs fine.  I did not see this while running on a single node. I also did not see it while running with -np 2 on two nodes.
[code]

[2015-09-24 13:14] rhc54 commented on #935
I'm trying to remember when it was, but I do know we fixed something like that recently. Just may not have made it across yet

[2015-09-24 14:30] jsquyres opened #937 "mpi_f08 bindings using wrong pragma with Intel 2016 Fortran compiler"
If you compile OMPI with the Intel 2015 (or earlier) compiler suite, configure generates the following pragma for choice buffers:

[code]

If you compile OMPI with the Intel 2016 compiler suite, configure generates the following pragma for choice buffers:

[code]

which apparently doesn't allow that buffer to be a choice buffer (e.g., http://www.open-mpi.org/community/lists/users/2015/09/27655.php

[2015-09-24 21:30] gpaulsen commented on #818
An Huang?  Aren't you updating the FAQ?

[2015-09-25 04:33] jsquyres opened #940 "OSC fails to build with --enable-heterogeneous"
With gcc on master tip:

[code]

@hjelmn Can you have a look?

[2015-09-25 04:55] anhzhang commented on #818
@gpaulsen Yes, I am learning the material about https://help.github.com/categories/collaborating and git, I need to be careful when I do this for the first time :)

[2015-09-25 05:24] hjelmn commented on #940
Not surprised. I never build with heterogenous mode. I don't know if it actually works in osc/pt2pt. I will fix the compile issue though.

[2015-09-25 05:24] #937 closed

[2015-09-25 05:39] jsquyres commented on #940
@hjelmn FWIW, my MTT builds with `--enable-heterogeneous`, but it runs the tests on homogeneous hardware.  You might want to make sure that that base case works...?

[2015-09-25 06:53] kawashima-fj commented on #933
@bosilca Thanks for your patch. But your patch causes another error (free(): invalid pointer) in `MCA_PML_OB1_SEND_REQUEST_RETURN`.
The position of mca_pml_ob1_send_request_fini is not correct. It should be in the `else` block.
Here is the corrected patch. I tested this patch with my cswap.c and another (more complex) program and they worked successfully

[code]

[2015-09-25 08:34] anhzhang commented on #818
@jsquyres For this problem, I think we only need to add something into http://www.open-mpi.org/faq/?category=mpi-apps, what is the process for it? Thanks.

[2015-09-25 08:41] jsquyres commented on #818
@anhzhang https://github.com/open-mpi/ompi/wiki/OMPIFAQEntries :smile:

[2015-09-25 09:34] bosilca commented on #933
Thanks for the fix. I did exactly the same thing on the receive side and created the PR #942. @kawashima-fj and @hjelmn please review.

[2015-09-25 14:07] #940 closed

[2015-09-28 13:29] ggouaillardet commented on #935
@rolfv i could not reproduce this
which btls are you using ?

[2015-09-28 13:46] rolfv commented on #935
I am seeing this with self,sm,tcp or self,smcuda,openib. Here is an example from my MTT results.
[code]
[code]

[2015-09-29 02:50] ggouaillardet commented on #935
@rolfv here is a one-off patch for the v2.x branch
[code]

@rhc54 master is a bit different ...
i fixed a similar error (i did not run into though ...) at open-mpi/ompi@57ecce4e0f3a5bc4af5a7d156628e24dc3458278
i did not fully investigate (only code review), but so far, one option is that
```OPAL_MODEX_RECV_VALUE_OPTIONAL``` always success on master, and an other option
is that such stuff is done i

[2015-09-29 03:11] rhc54 commented on #935
I’m not sure I understand how that could have an impact, but I’d let Rolf test it and let’s see. Since we aren’t seeing the problem on master, bringing 2.x closer to master makes sense.

[2015-09-29 03:32] rhc54 commented on #935
@ggouaillardet Just saw your commit to trunk, and I agree that your patch is required. Please PR it over to 2.x.

Thanks
Ralph

[2015-09-29 03:57] ggouaillardet commented on #935
@rhc54 done in open-mpi/ompi-release#617

[2015-09-29 13:19] rolfv commented on #935
The one off patch from above has fixed the issue I was seeing.  No more messages are seen so that looks good to me.

[2015-09-29 16:05] jsquyres opened #953 "orte_rdma_dist_device: what kind of device?"
@miked-mellanox Can the help message for `orte_rdma_dist_device` be updated? https://github.com/open-mpi/ompi/blob/master/orte/mca/rmaps/base/rmaps_base_frame.c#L160-L166

It's not clear what kind of devices can be listed there.  E.g., can I list "eth0" there?  Or only verbs-based devices?  Or ...?

(I'm pinging @miked-mellanox because @elenash added this MCA param in 1e913c76c)

[2015-09-29 16:15] miked-mellanox commented on #953
it can be any hwloc visible device.( @rhc54 - is that right?)
@jsquyres - Could you please suggest a better wording?
@igor-ivanov - could you please apply it?

[2015-09-29 16:19] jsquyres commented on #953
Perhaps:

[2015-09-29 16:19] jsquyres commented on #953
Please also PR to v1.10 and v2.x.  Thanks!

[2015-09-29 21:15] rolfv opened #954 "Memory leak in v2.x only"
There was a memory leak reported by Steven Eliuk (s.eliuk@samsung.com) of Samsung running one of his applications. I managed to reproduce it using LAMMPS which I used before to show a memory leak. Here are the instructions on how to reproduce.
[code]
I then run the following script to track memory consumption and we can see it rising.
[code]
WIth master, 1.10.0 or 1.8.8 memory consumption is basic

[2015-09-30 09:38] Zhiming-Wang commented on #922
Both nightly v2.x and master package were passed.
But I have a question, why it was passed if I reran the "./autogen.pl"?

[2015-09-30 10:36] ggouaillardet commented on #922
configure and friends for v1.1.10 was generated with an old libtool chain that does not support power LE.
if you run autogen.pl, you will regenerate configure and friends with your local libtool chain that does support power LE.
makes sense ?

[2015-09-30 12:42] jsquyres commented on #922
@Zhiming-Wang What @ggouaillardet said is correct.  See also the table on http://www.open-mpi.org/source/building.php for what versions of the GNU Autotools we use to build each release series.  We fix these versions when we create a series and try very very hard not to update them throughout the life of the series.

[2015-09-30 14:19] hjelmn opened #959 "Update man pages with f08"
The man pages in Open MPI currently show the mpif.h syntax. It should be great if someone would update them to include (probably replacing the mpif.h syntax) the new bindings.

This might be scriptable and could be part of the fortran scripting work.

[2015-09-30 14:20] hjelmn commented on #959
Adding interested parties. @jsquyres @ggouaillardet

[2015-09-30 14:20] hjelmn commented on #959
If anyone wants to do the work please self-assign. If I find someone I will assign them.

[2015-09-30 14:23] ggouaillardet commented on #959
i did this some time ago but did not get any chance to commit it
will review and pr tomorrow

[2015-09-30 14:23] jsquyres commented on #959
We probably don't want to get rid of the mpif.h syntax, because it's the same as the "use mpi" syntax. It would be great to add the mpi_f08 bindings, though.

@ggouaillardet Sweet!

[2015-09-30 14:30] ggouaillardet commented on #959
this is what I did
as an option, I can sed the man pages to remove stuff that is not built
(such as c++ if bindings are not built, or f08 if the compiler does not support it)

[2015-09-30 14:45] jsquyres commented on #959
Mmmm.  Interesting (i.e., snipping out parts of man pages for bindings that weren't built).

Do we really want that?

My $0.02: I think it might be ok to include the bindings for all interfaces.

I see other tokens like "F77 Notes" -- did you change that to "Fortran Notes"?

Also, `include 'mpif.h'` -- should we somehow indicate that `use mpi` is "preferred" these days, and `include 'mpif.h'` shou

[2015-10-01 05:01] ggouaillardet commented on #954
@rolfv there are several issues here

the following patch fixes it if you do not use the openib btl
[code]
note things have changed a bit on master in order to handle the case of recursive sends,
so my best bet is we should unify v2.x and master when master is stable enough.

if you run with infiniband hardware, there is an other leak in the ```openib``` btl.
my first remark is we should not even

[2015-10-01 12:35] rolfv commented on #935
Just checked my overnight runs and this error is gone on v2.x.  I am therefore closing the issue.  Thanks for the fix.

[2015-10-01 12:35] #935 closed

[2015-10-01 14:15] hppritcha commented on #954
I think it might be better to push missing commits like 9a8a87611
back to 2.x

----------

sent from my smart phonr so no good type.

Howard
On Sep 30, 2015 11:01 PM, "Gilles Gouaillardet" <notifications@github.com>
wrote:

[2015-10-01 14:16] rolfv commented on #954
Thanks Gilles. I can confirm both your observations. I tried the patch and when running without openib, the memory leak is gone. When I do run with openib, there is still a memory leak.

In terms of your observation about using openib, yes, that is an issue that perhaps I should report. It has to do with some changes we made so that the openib is kept around because it supports RDMA. I have talked

[2015-10-01 14:19] hppritcha commented on #954
Rolf could you cherry pick the missing commit i mentioned above and see if
that addresses the problem?

----------

sent from my smart phonr so no good type.

Howard
On Oct 1, 2015 8:16 AM, "Rolf vandeVaart" <notifications@github.com> wrote:

[2015-10-01 15:12] rolfv commented on #954
I just tested the cherry pick you mentioned - https://github.com/open-mpi/ompi/commit/9a8a87611e1d94a9aef485743e48c8f41805317a - and it did not fix the memory leak when running on single node with self,sm. Not sure why, but it does not address the problem.

[2015-10-02 13:16] dmt4 opened #965 "darray type incorrectly created or interpreted in mpi_alltoallw"
Instead of the respective pieces corresponding to the specific darray type, all processes receive the same darray. I've tried to specialise a general routine to a small example working with 2 processes only. Here is a test code:
https://gist.github.com/anonymous/60de0ae4f52f15b89dae

[2015-10-02 14:56] bosilca commented on #965
This test successfully pass with open-mpi/ompi@1cac060 using the basic collective module. Can you check to see what collective function is used in your run.

However, from a datatype perspective the 2 datatypes created by the darray calls look correct.

Datatype 0x7fad99d3faf0[Dup ] id 73 size 4 align 4 opal_id 0 length 4 used 1
true_lb 0 true_ub 4 (true_extent 4) lb 0 ub 8 (extent 8)
nbElems 1 lo

[2015-10-02 15:34] dmt4 commented on #965
Hi, how do i check which collective is being used? I've looked in ompi_info -a and coll_tuned_alltoall_algorithm and coll_tuned_alltoallv_algorithm had default value 0/ignore. I didn't see any alltoallw though.

[2015-10-02 16:12] jsquyres opened #966 "Segv on NBC reduce with user-defined op"
As reported by Georg Geiser here: http://www.open-mpi.org/community/lists/users/2015/10/27769.php

@hjelmn graciously said he would fix.

[2015-10-02 16:57] dmt4 commented on #965
That commit you quoted does indeed work for me too, compiled it under the same circumstances as the  1.10.0 release which fails.

[2015-10-02 17:24] bosilca commented on #965
I looked at the differences between v1.10 and  open-mpi/ompi@1cac060 with regard to datatype and collectives, and the differences are minor.

[2015-10-02 17:31] dmt4 commented on #965
Asked someone else to try with his compilation and also got a fail with
1.10.0. If could test it would be great.

On Fri, 2 Oct 2015 18:24 bosilca <notifications@github.com> wrote:

[2015-10-03 00:48] #966 closed

[2015-10-03 12:03] dmt4 commented on #965
Tried 1.10.1rc1 just now and the bug is still there. I hope the fix can make it in 1.10.1

[2015-10-03 14:33] rhc54 commented on #965
That can't be the right sha - when I click on it, it just points to a commit that changes an AC output to go to a log file. Can you correct the reference?

[2015-10-03 15:28] dmt4 commented on #965
I wouldn't most and too much bisecting it to find out, but looking how
there are separate repos for the releases and development I'm not sure
where to start. What is the mapping between the 2?

On Sat, 3 Oct 2015 15:33 rhc54 <notifications@github.com> wrote:

[2015-10-03 18:09] bosilca commented on #965
@rhc54 it is the right sha for the discussion going on here. Read the entire flow.

[2015-10-03 18:53] rhc54 commented on #965
When I click on that link (open-mpi/ompi@1cac060), I get this changeset:

[code]

Are you telling me that changing those AC messages to an opal_log_msg is enough to fix this problem?

[2015-10-03 19:37] rhc54 commented on #965
I finally figured out what you are trying to do with that link - an unfortunate use of the link. I was looking for the changeset being referenced as the two branches are clearly unrelated when it comes to a sha, and the provided link made no sense in that context.

If you can identify the missing commit in the immediate future, and if it is small, then we might be able to get it into 1.10.1 as @dm

[2015-10-04 14:12] ggouaillardet commented on #965
```git bisect``` reports the faulty commit is open-mpi/ompi-release@a226691179b9ac560a5e999538a28c5ce0b420c7

what ```git bisect``` does not tell is that this commit was (partially) fixed by open-mpi/ompi-release@2f0f519af954df5f40922581b7e759aa5a50a580 and that the last fix is open-mpi/ompi@da83b084f506ea3c34ebe9da3c6dd6f44e2537a8 which has been back ported to v2.x but __not__ to v1.8 nor v1.10 (

[2015-10-04 14:15] ggouaillardet commented on #965
open-mpi/ompi@da83b084f506ea3c34ebe9da3c6dd6f44e2537a8 was ___no__t back ported to v2.x strictly speaking ... it was already in master when v2.x branch was created

[2015-10-05 01:42] ggouaillardet commented on #965
i added the test case to the ibm test suite in open-mpi/ompi-tests@b3d5a47471117442b471c359695a634598607c01

[2015-10-05 10:29] dmt4 commented on #965
Is this ompi-tests link above private or erroneous?

On Mon, 5 Oct 2015 02:42 Gilles Gouaillardet <notifications@github.com>
wrote:

[2015-10-05 10:47] ggouaillardet commented on #965
This is a private repository ...

[2015-10-05 11:18] dmt4 commented on #965
About open-mpi/ompi-release@2f0f519 and open-mpi/ompi@da83b08 (not) being backported to v1.8. 1.8.4 certainly passes the test and 1.8.8 is broken, I haven't tried anything in between.

[2015-10-05 17:17] hppritcha commented on #850
@igor-ivanov can this issue be closed?

[2015-10-05 17:18] jsquyres commented on #933
This issue appears to be fixed: #942.

[2015-10-05 17:18] #933 closed

[2015-10-05 17:20] jsquyres commented on #804
@bosilca Looks like this was addressed in #725 -- is treematch complete on v2.0.0 / should we close this issue?

[2015-10-05 17:21] jsquyres commented on #660
Done!

[2015-10-05 17:21] #660 closed

[2015-10-05 17:22] jsquyres commented on #662
@hjelmn Has this been fixed?

[2015-10-05 17:23] bosilca commented on #804
No, nothing has been moved into the 2.x yet. I assign this issue to me, so that I can keep track of it.

[2015-10-05 17:30] jsquyres commented on #655
@hjelmn is this done?

[2015-10-05 17:31] jsquyres commented on #491
@hjelmn opal_progress_thread now exists on master -- did you want to tackle this one now?

[2015-10-05 17:32] hppritcha commented on #409
@hjelmn could you check that this can be fixed?

[2015-10-05 17:34] hppritcha commented on #393
@hjelmn do you think this is fixed?  Or if it is not fixed,  can you fix it for v2.0.0?

[2015-10-05 17:35] jsquyres commented on #176
@bosilca Did you ever make any progress on this TEST/WAIT optimization stuff?

[2015-10-05 17:36] jsquyres commented on #142
@regrant @tkordenbrock Is this issue still relevant?

[2015-10-05 17:36] jsquyres commented on #143
@regrant @tkordenbrock Is this issue still relevant?

[2015-10-05 17:38] jsquyres commented on #119
@rolfv @bosilca @hjelmn Did this issue get resolved?

[2015-10-05 17:38] bosilca commented on #176
Yes. It is in paper submission stage ...

[2015-10-05 17:38] jsquyres commented on #112
@hjelmn You just modified add_procs a bunch -- did this get resolved as a side-effect?

[2015-10-05 17:40] jsquyres commented on #92
@bosilca Any progress on this?

[2015-10-05 17:41] tkordenbrock commented on #142
@jsquyres Yes, it is still relevant but there are higher priority bugs and enhancements for v2.0.0.  I have changed the milestone to v2.x.

[2015-10-05 17:41] tkordenbrock commented on #143
@jsquyres Yes, it is still relevant but there are higher priority bugs and enhancements for v2.0.0.  I have changed the milestone to v2.x.

[2015-10-05 17:44] hppritcha commented on #393
@hjelmn if you don't think this is a blocker for v2.0.0 please remove blocker label.

[2015-10-05 17:46] miked-mellanox commented on #176
out of curiosity, could you please share offline the conclusions and results?

[2015-10-05 18:04] jsquyres commented on #493
@bosilca You're right -- there is no definitive solution for this issue in an MPI-3.1-compliant way ([see my comment above](https://github.com/open-mpi/ompi/issues/493#issuecomment-124912720)).  What is really needed is an MPI_INIT_IF_NOT_ALREADY_INIT() kind of function.  ...or something entirely different (e.g., [ideas like I presented in Bordeaux at EuroMPI 2015](http://blogs.cisco.com/performan

[2015-10-05 18:15] hjelmn commented on #393
Well, there really is nothing to fix if we agree that the no-barrier implementation of MPI_MODE_NOPRECEDE is correct. As George pointed out MPICH has the same behavior as both the osc/pt2pt and osc/rdma components so I think it is safe to keep this behavior for now.

If anyone disagrees I can put a barrier in that path and bring it over with the rest of the RMA updates after add_procs is merged.

[2015-10-05 18:27] bosilca commented on #493
I am not really sure that we agree on the problem. Let's take a simple example where two threads are calling the sequence of code from above:
[code]
Now, let's assume that we fix all the issues about the use of our internal variables holding the current state of the library.

What should MPI_INITIALIZED return and starting from when? We update the internals upon entry into the MPI_INIT, so technic

[2015-10-05 18:49] jsquyres commented on #493
Mmmm... true, if we move the "allow MPI_INITIALIZED to return TRUE" to up earlier in MPI_INIT, that's probably dangerous for a different reason -- e.g. two threads calling this:

[code]

If two threads concurrently execute this code, two kinds of race conditions can occur:

1. Both threads call MPI_INIT
1. Only one thread calls MPI_INIT, but the other thread calls MPI_SEND long before the MPI libr

[2015-10-05 20:36] jsquyres commented on #965
@bosilca @ggouaillardet So are we missing open-mpi/ompi@da83b08 in v1.10.1?  Can someone create a PR for this ASAP?

[2015-10-05 20:41] jsquyres opened #978 "Default binding in heterogenous bindings is weird"
We default to "bind to socket" and if the sockets aren't all homogeneous, OMPI doesn't handle this properly.

Reported by Marcin Krotkiewski here: http://www.open-mpi.org/community/lists/users/2015/10/27770.php

@rhc54 has told @ggouaillardet how he thinks it should be solved (and @rhc54 is mostly unavailable for another week or three)

[2015-10-05 21:11] bosilca commented on #493
I was advocating the MPI_INITIALIZED returns false until the MPI_INIT complete, to prevent exactly what you described.

But your proposal might be simpler to implement. Block all initialization functions (including accessors to check the state) as soon as one initialization is in progress.

[2015-10-05 23:33] bosilca commented on #965
We are missing a part of open-mpi/ompi@a226691 and open-mpi/ompi@da83b08. I have a patch, I have to test it through the test @ggouaillardet attached to this ticket.

[2015-10-06 05:08] bosilca commented on #965
This issue is resolved by https://github.com/open-mpi/ompi-release/pull/639.

[2015-10-06 12:27] edgargabriel opened #980 "Sharedfp sm component doesn't work on MacOS"
@hjelmn pointed out a couple of days back that the sharedfp sm component raises on error on MacOS. After finally getting my hand on a MAC, the problem has been identified. Semaphore names on MacOS are restricted to 31 bytes, and we are exceeding that. Solution is mostly coded up.

[2015-10-06 15:39] jsquyres commented on #965
Closed via open-mpi/ompi-release#639

[2015-10-06 15:48] jsquyres opened #981 "Update to the latest stable hwloc"
Title says it all.

@bgoglin We (@jsquyres @bosilca) are waiting for a v1.11.1 release -- is that coming soon?

[2015-10-06 15:53] hppritcha commented on #493
see related discussion in open-mpi/ompi-release#636

[2015-10-06 16:07] bosilca opened #982 "Bring UCX PML and SPML in"
This is a placeholder for bringing in the UCX MTL before the 2.0 deadline. The deadline is tight so if we make good, otherwise @jsquyres will remove the blocker flag and move this issue to the next (v2.1) milestone.

@yosefe, @bosilca, @shamisp

[2015-10-06 16:09] bgoglin commented on #981
I can do a rc1 by the end of the week, and hopefully final 1.11.1 next week. What's your deadline?

[2015-10-06 16:15] bosilca commented on #981
soon ... About 1 week away.

On Tue, Oct 6, 2015 at 12:09 PM, Brice Goglin <notifications@github.com>
wrote:

[2015-10-06 16:38] jsquyres commented on #981
@bgoglin your timeline sounds good

[2015-10-06 18:42] jsquyres opened #984 "Add "MPI dynamics are not supported in this environment" functionality"
Certain transports and environments know that they do not support MPI dynamics.

If an MPI dynamic function is invoked in such environments, we should print a helpful error message saying that MPI dynamics are not supported and then just fail (vs. some kind of amorphous network or library failure later).

[2015-10-06 18:43] jsquyres opened #985 "Fix MXM shutdown procedure in v1.10 series"
open-mpi/ompi-release#644 did not fix the MXM shutdown procedure; something isn't quite right in hcoll.

@miked-mellanox says they're working on a fix.  Opening this issue just to track it.

[2015-10-06 19:03] edgargabriel commented on #980
@hjelmn and @jsquyres a question to the two of you as more experienced MAC programmers. So the root problem of the bug that Nathan saw on his mac is that MacOS restricts the name lengths of a named semaphore to 31 characters, while linux (at least on the system that I tested) allows up to 252 characters. I could not come with a scheme that would allow multiple semaphores  simultaneously to co-exis

[2015-10-06 19:46] bureddy commented on #985
submitted PR : https://github.com/open-mpi/ompi-release/pull/647

[2015-10-06 20:43] jladd-mlnx opened #986 "Add AlltoAll interface to HCOLL for 1.10.1"
Adding a place holder.

[2015-10-06 20:43] jladd-mlnx commented on #986
bot:milestone:v1.10.1

[2015-10-06 20:45] jladd-mlnx opened #987 "Add coll/hcoll level fix for hang in finalize on Orion at scale."
Adding a placeholder.

[2015-10-06 20:45] jsquyres commented on #986
@jladd-mlnx What is the timing of this feature?

[2015-10-06 20:46] jsquyres commented on #985
Commit fixed in v1.10 branch.

[2015-10-06 20:46] #985 closed

[2015-10-06 20:48] jladd-mlnx commented on #986
@jsquyres We will have a PR in the next day.

[2015-10-06 20:49] jsquyres commented on #987
@jladd-mlnx How many features are you adding to 1.10.1 at the last second? :frowning:

[2015-10-06 20:52] jladd-mlnx commented on #987
@jsquyres Sorry :innocent: - I think this is the last.

[2015-10-06 20:53] jladd-mlnx commented on #986
@jsquyres this is small change contained entirely within coll/hcoll.

[2015-10-06 20:54] jladd-mlnx commented on #987
@jsquyres FWIW - this is  a small change contained entirely in the coll/hcoll component.

[2015-10-06 20:55] jsquyres commented on #987
K. Whew!

Coming soon?

[2015-10-06 21:22] jladd-mlnx commented on #987
Yes. Very soon.

[2015-10-06 21:23] rolfv opened #988 "Need to add volatile to some globals to workaround gcc bug"
All the details are contained in this thread from the User's list. Looks like we planned on adding the workaround, but it never happened. I just had a second user run into this issue.
http://www.open-mpi.org/community/lists/users/2015/06/27039.php

I would like to make this a blocker for Open MPI 1.10.1.

[2015-10-06 21:26] jsquyres commented on #988
Oy.  Things really crawl out of the walls when we announce we want to release in the Very Near Future!

Can you make a PR for this ASAP (e.g., by tomorrow)?

[2015-10-06 21:27] jsquyres commented on #988
BTW, I assume you're going to read the history about this on #625.  Some solutions were proposed on there, IIRC.

[2015-10-06 21:32] bgoglin commented on #981
rc1 is out :)

[2015-10-06 21:32] rolfv commented on #988
Yes, I read all the notes and both you and Dave Goodall already gave a thumbs up to the user of volatile. And the GCC guy also said to make it volatile. That is 3 yes votes! I will work on making it find its way through the 3 releases.

[2015-10-06 21:45] rolfv commented on #988
I misread what you were pointing too. I was reading the email thread, not the thread from #625. I was not quite sure what your "softer" suggestion was.

[2015-10-06 21:47] jsquyres commented on #988
See https://github.com/open-mpi/ompi/pull/625#issuecomment-110097661 and https://github.com/open-mpi/ompi/pull/625#issuecomment-110225915.

[2015-10-06 21:51] hppritcha commented on #954
what's the magic make line to build lamps?  I don't seem to be smart enough to figure this one out.

[2015-10-06 21:58] ggouaillardet commented on #954
cd src
make mpi

(see Rolf initial message, and scroll right since the lines are pretty long)

[2015-10-06 22:00] hppritcha commented on #954
thanks, I thought I had to use one of the many makefiles in MAKE.

[2015-10-06 22:17] hppritcha commented on #954
I ran using v2.x with open-mpi/ompi-release#625 included using both self,vader and self, sm and was not able to reproduce the lammps memory leak.

@rolfv could you ask Steve to try again with a nightly snapshot of v2.x?

[2015-10-07 00:44] hppritcha commented on #980
option 2 sounds better to me.

----------

sent from my smart phonr so no good type.

Howard
On Oct 6, 2015 1:03 PM, "Edgar Gabriel" <notifications@github.com> wrote:

[2015-10-07 05:07] bureddy commented on #986
very minor change
PR: https://github.com/open-mpi/ompi-release/pull/650

[2015-10-07 10:13] jsquyres commented on #980
What is the format of the filename that is causing the name to be >31 characters?  Can you use some other randomizing / safe prefix?  I ask because it seems like 31 characters is a lot of space to play with to get enough randomization to guarantee uniqueness.  Additionally, can the file go in the session directory somewhere?  There's subdirectories in there that may also provide additional guarant

[2015-10-07 10:34] jsquyres commented on #986
Closed by open-mpi/ompi-release#650.

[2015-10-07 10:34] #986 closed

[2015-10-07 12:18] rolfv commented on #954
I just retested and I agree that the memory leak is gone. We do not need Steve to run anything as the lammps reproducer is sufficient. So in my opinion, we can close this as fixed. Sound good to you @hppritcha ?

[2015-10-07 13:41] rolfv commented on #988
Are suggesting making the whole structure volatile? Because then you are making things volatile that are unnecessary.  Or am I missing something.

[2015-10-07 14:05] edgargabriel commented on #980
So let me describe a scenario. One node, 32 processses, 16 processes work on file1 the other 16 processes work on file2. What we need to establish is a named semaphore that all that uniquely allows each of the 16 processes work on file1 to access the same mmaped file, and the other 16 the other mmaped file. Right now, the scheme is that the name of the semaphore is 'OMPIO_sharedfp_sem_file1' and '

[2015-10-07 15:12] hppritcha commented on #954
I'm double checking that if I revert open-mpi/ompi-release#625 I get the memory leak with lammps.  I'll close if that's the case.

[2015-10-07 15:37] jsquyres commented on #988
I think we never resolved which of the two approaches was better.  :smile:

[2015-10-07 15:37] jsquyres commented on #988
Whichever you do, please submit a PR *today*

[2015-10-07 15:39] rolfv commented on #988
Right, I am just trying to implement your solution to see if it works but I am not exactly sure what you mean. I have shown the volatile fixes it with the 4.9.2 compiler. @jsquyres

[2015-10-07 15:41] hppritcha commented on #954
Okay, this was fixed by  open-mpi/ompi-release#625.  verified using @rolfv 's lammps example. closing.

[2015-10-07 15:41] #954 closed

[2015-10-07 15:41] jsquyres commented on #988
I don't know which way is better -- e.g., are there side effects of making the whole struct volatile that could impact performance, etc.

[2015-10-07 18:02] edgargabriel commented on #980
To be clear for my previous comment, file1 and file2 are assumed to be the filenames passed by the application to MPI_File_open()

[2015-10-07 20:47] rolfv commented on #988
This is clearly not going to make it and I am mostly against these last minute things anyways, so I will remove the blocker from this.  Maybe 10.0.2......

[2015-10-08 04:19] jsquyres commented on #493
@bosilca @hppritcha and I discussed this on the phone today.  We decided:

1. that the MPI-3.1 spec does *not* fix this problem
1. reducing the size of the race condition window isn't worth it (because you still can't *guarantee* that someone's code will never trip the race condition)
1. writing an MPI extension probably also isn't worth it (at least, not at this time)
1. but what we can do, and f

[2015-10-08 14:24] igor-ivanov commented on #850
@hppritcha yes

[2015-10-08 15:02] bosilca commented on #493
Minor correction to the i) case. The end of the sentence should read "as many times as you want without an error before the first call to MPI_FINALIZE."

[2015-10-08 15:07] igor-ivanov commented on #953
I think that current logic is following:
user can set 'auto' value that allows to select openfabric devices but setting specific device a user can select ethernet or openfabrics.
See code:
1. 'auto' condition - https://github.com/open-mpi/ompi/blob/master/opal/mca/hwloc/base/hwloc_base_util.c#L2065-L2090
1.1. find_devices(HWLOC_OBJ_OSDEV_OPENFABRICS) - https://github.com/open-mpi/ompi/blob/master/

[2015-10-08 16:16] dmt4 commented on #965
Hi I'm sorry to reopen this but it looks like there is still an issue in cases where there are more than 1 blocks created. Here is the test code:

https://gist.github.com/dmt4/814192affc23f499706b

The previous example was 1x2 matrix over 1x2 process array with block size of 1x1. 1.10.1rc2 fixes this and related example of 1x4 matrix over 1x2 process array with block size of 1x2 works too. Both th

[2015-10-08 16:20] jsquyres commented on #965
DOH!

@bosilca I'm sorry to push, but how fast can you fix this?  We really need to get v1.10.1 out the door ASAP...

[2015-10-08 16:24] jsquyres commented on #965
Arrgh -- I see we didn't credit dmt4 in the NEWS bullet, either.  That is easily fixed, though.

[2015-10-08 16:35] jsquyres commented on #988
@rolfv FWIW, we have no idea if there will ever be a 1.10.2.  So I think it would be ok to put in to 1.10.1.

[2015-10-08 18:19] rolfv commented on #988
Well, miracles do happen and this has made it into master, 2.0.0, and 10.0.1.  Closing this bug.

[2015-10-08 18:19] #988 closed

[2015-10-09 08:27] ggouaillardet commented on #965
@bosilca the following simple program issue warnings with master

[code]

there is no warning with mpich (not the latest mpich ...), except i get {1,3} instead of {2,4} (!)
one option is i just found a bug in mpich (!)
and an other one is i do not understand MPI_Type_create_resized, and ompi should not use ompi_datatype_create_resized in ompi_datatype_create_darray.

[2015-10-09 14:42] edgargabriel commented on #980
I will implement solution 2 and we can discuss a revised/better solution later if we want to revisit it.

[2015-10-10 16:49] hppritcha opened #1005 "bandwidth/latency for ugni btl is poor"
There's been some kind of dramatic collapse in the bandwidth of the ugni BTL on Cray XC,
particularly in the rendezvous path.

Thanks to Jerome Vienne (TACC) for discovering this.    The behavior is as if there is
some kind of serialization of RDMA requests.

Here's what one gets on a Cray XC using Open MPI for osu_bw:

[code]

whilst with Craypich:

[code]
Verified that on systems not using nativ

[2015-10-10 19:02] hppritcha opened #1006 "use opal atomics to modify ompi initialize/finalize related variables"
By using opal atomics to modify/read the following ompi initialize/finalize related variables:
[code]
would help in bringing some MPI query functions into compliance with the MPI-3 specification.

See issue #493.

[2015-10-10 19:52] hppritcha commented on #1005
This regression is on both master and v2.x, and must go way back.  This problem was present when v2.x was first forked from master.

[2015-10-12 04:59] ammore1 opened #1009 "v1.10.1: mpirun does not warn about oversubscription"
When I mpirun with more processes than cores with Open MPI v1.8.4, I get the following warning:

[code]

But when I mpirun with more processes than cores with Open MPI v1.10, I do not get a warning:

[code]

Is this intended behaviour, or is it a regression?

This was found during Cisco QA testing.

@jsquyres @rhc54

[2015-10-12 15:45] rolfv opened #1010 "ibm/c_accumulate (and friends) all fail with master"
When I run the ibm/onesided/c_accumulate test over openib I get a SEGV.
[code]
[code]
I see similar failures with:
c_fence_lock
c_fence_put_1
c_accumulate_atomic
c_fetch_and_op
c_flush
c_get
c_get_accumulate

and some others.  Results are in MTT. I do not see these failures in v1.10 or v2.x.

[2015-10-12 16:15] hjelmn commented on #1010
Looks like the RDMA endpoint is not being set up properly. I will take a look tomorrow.

[2015-10-12 17:19] jsquyres commented on #1006
Per #1007, I'm not sure that this a correct premise any more (i.e., using a mutex was easier than using atomics).  Regardless, I think that this ticket is subsumed by #1007, so I'll close this one.

[2015-10-12 17:19] #1006 closed

[2015-10-12 17:26] gpapaure commented on #965
I think MPI_Type_create_resized is working (quite) right in your example.
From my understanding create_resized is used to "fake" a datatype layout, it doesn't "shift" the datatype. You can have the "real" layout with MPI_Type_get_true_extent.
Here is a new programm to do what you wanted on the first one
[code]

I may be wrong but the true_lb of create_resized seems wrong in master.

[2015-10-12 17:26] rolfv opened #1011 "ibm/dynamic/intercomm_create test does not work in v2.x and master"
This test did pass in Open MPI 1.10.0 but now if failing in v2.x and master. Is there a chance we just do not care? I cannot remember the discussions we had around this test.
[code]

[2015-10-12 17:35] jsquyres commented on #1011
@rolfv We definitely care about this one... it needs to be fixed.

[2015-10-12 17:56] jsquyres commented on #818
@anhzhang Any progress on the FAQ?

[2015-10-12 19:10] rolfv opened #1012 "CUDA-aware one sided put does not work on master"
With the new osc/rdma component, the CUDA-aware support does not work anymore on onesided put operations. Interestingly, it seems to work on get. I need to investigate but I want to record this bug so that I do not forget it. Also, it would be nice for this to work prior to the osc/rdma coming over to v2.x which I assume it will. Is that true @hjelmn ?

[2015-10-12 20:50] hjelmn commented on #1012
Yes. This is intended for 2.x. Let me know if you can determine why puts are failing. It would be great if the new component can make use of the GPU direct support.

[2015-10-13 02:57] ggouaillardet commented on #965
@gpapaure i am fine with the latest assertion : create_resized is wrong in the master
here is a patch for that
[code]

with this patch, ompi and mpich behave the same, and there is no more warning in ompi.

@bosilca could you please comment on that ?

[2015-10-13 05:24] rhc54 commented on #1009
I obviously don't know what default MCA parameters may be getting set in the Cisco version of OMPI, so it's a little difficult to comment. I'm a little suspicious because the error you show for 1.8 is about binding, not oversubscription. I also don't know what environment you are executing in - is it a managed environment (e.g., Slurm), or an unmanaged one where you have a hostfile and/or simply s

[2015-10-13 06:51] anhzhang commented on #818
@jsquyres Sorry for being quiet for a long time because we have a very long National Day Holiday :)
I have forked my ompi-www respository, created a new branch, modified the file faq\building.inc, and finally created one pull request for it : https://github.com/anhzhang/ompi-www/pull/1, I am not sure if this is the right process, please give your comments, thank you very much.

[2015-10-13 09:17] Zhiming-Wang commented on #922
I am back from a long long vacation.
Thanks, @ggouaillardet  and @jsquyres .

I reran the "./autogen.pl" at  x86_86 machine with RHEL 7.1, the version of libtool is 2.4.2 which is the same as which use to build v1.10.x. The issue still remains.
But at  Power8 LE machine with the same version of OS and libtool, the issue was disappeared.
Is the bug of libtool fixed at RHEL 7.1 installation package

[2015-10-13 10:13] jsquyres commented on #818
@anhzhang Hope you had a good vacation!  You're close -- make the pull requests against the open-mpi/ompi-www repo.  Then we can comment on it, etc. from there.

[2015-10-13 10:31] jsquyres commented on #922
@Zhiming-Wang Welcome back.  So I'm not quite clear -- does the v1.10.x distribution tarball still have the issue or not?  If so, do you want/need a fix for the distribution tarball?  If so, you'll need to apply a patch to configure -- see autogen.pl for where we add patches for this kind of thing.

[2015-10-13 11:47] ammore1 commented on #1009
I am not using a SLURM job.I am running a simple C application "hello_C" using mpirun and simply specifying the hosts from commandline.
The command I am using is "mpirun --host <HOSTNAME1,HOSTNAME2> -np 36 hello_c".
The command "mpirun --host <HOSTNAME1,HOSTNAME2> -np 36 hostname" also gives the same behaviour.

I get an error when I run more processes than total number of cpu cores in ompi 1.8.4,

[2015-10-13 14:04] hppritcha commented on #1005
this appears to be due to an error in alignment checking.

[2015-10-13 14:53] jladd-mlnx commented on #987
Closing for now. Appears to be an issue in MXM teardown.

[2015-10-13 14:53] #987 closed

[2015-10-13 15:11] jsquyres commented on #187
Finally closing the issue on 13 Oct 2015.

[2015-10-13 15:11] #187 closed

[2015-10-13 15:11] jsquyres commented on #170
Move this to the Future milestone -- I think 2.x is the earliest this will happen.

[2015-10-13 16:38] rhc54 commented on #1009
@ammore1 Please try the following patch:

https://github.com/open-mpi/ompi-release/pull/664

[2015-10-13 18:31] gpaulsen commented on #396
Talked to Nysal, and he said:

[2015-10-13 18:33] gpaulsen commented on #396
My question is, is it possible to update to libtool 2.4.3 for 1.10.1?  Or is backporting the fix out of libtool 2.4.3 to 2.4.2 the more desirable approach?

[2015-10-13 19:26] jsquyres commented on #396
We try to stay with the same version of the GNU Autotools for given release series -- just for stability.

So if you can add that patch that @nysal specified to the autogen.pl patching area, that would be preferable.

[2015-10-13 19:31] gpaulsen commented on #396
Okay, I'll discuss with @Zhiming-Wang tonight to see if he's able to apply this fix.  If not, @nysal said he could find some time.

The expectation is that this fix, will also fix Issue #922.  I'm closing #922 as a dup of this.

[2015-10-13 19:33] gpaulsen commented on #922
This is a duplicate of Issue #396.  @Nysal has a fix that just needs to be applied to the 1.10 branch.   I will ask @Zhiming-Wang if he feels comfortable applying that fix to the 1.10 stream.

[2015-10-13 19:33] #922 closed

[2015-10-13 20:21] jsquyres opened #1018 "PSM2 MTL uses same help filename as PSM MTL"
Both components have a `help-mtl-psm.txt`.

The PSM2 MTL should rename its helpfile to be `help-mtl-psm2.txt`.

@matcabral Can you fix?

[2015-10-13 20:24] jsquyres opened #1019 "bcoll/iboffload (and similar) help file does not exist"
The help message checker turned up a bunch of problems with bcoll/iboffload (I'm guessing the filename was renamed, and this should be easy to fix):

[code]

[2015-10-13 20:32] jsquyres opened #1020 "OFI MTL help message issues"
The help message checked turned up the following:

[code]

[2015-10-13 20:33] jsquyres commented on #1018
Additionally, the help message checker turned up this (which may be just another symptom of the duplicate filename):

[code]

[2015-10-13 21:58] matcabral commented on #1018
Hi Jeff,

Intel PSM team renamed all the externally exposed symbols in psm2.so to address the issue discussed here: http://www.open-mpi.org/community/lists/devel/2015/09/17919.php . To support that change I updated Open MPI PSM2 MTL, including the change you suggest above. I’m in the process of testing the changes before submitting the PR. However, I found things failing. Once I clear the findings

[2015-10-13 23:58] yburette commented on #1020
Good catch, I'll clean that up.

[2015-10-14 09:55] Zhiming-Wang commented on #396
Yes, issue #992 is a duplicate of this. Thanks @gpaulsen .
Today, I worked with PowerLinux team and make progress.
There is an auto-fix script which named as "libtool-handle-ppc64le.sh" at "/usr/lib/rpm/redhat". The content of script is very similar as @nysal  fix. So the issue was disappeared at Power8 LE platform when rerunning "./autogen.pl".
The fix is for libtool, not Open MPI. Will it be pat

[2015-10-14 09:56] Zhiming-Wang commented on #396
wangzm@ppcrhel7c-651: cat libtool-handle-ppc64le.sh
#!/bin/bash

# Date: April 2, 2014
# by Aldy Hernandez

# Attempt to fix any "-m elf64ppc" linker checks in configure and
# libtool.m4 files.
#
# This script is meant to run silently as part of rpm's %configure
# macro.  It either fixes the problem, or we silently ignore it, in
# which case it is up to the package maintainer to add support for
#

[2015-10-14 10:10] jsquyres commented on #396
@Zhiming-Wang Ah, ok, that explains it (i.e., how it's fixed on the power platform).  The idea is that the Open MPI community tarball will contain the patch so that Power users don't have to run autogen.pl (i.e., autogen.pl is really a developer-level script -- 99% of users who install Open MPI don't run it).

@Zhiming-Wang @nysal Please look at the `patch_autotools_output()` subroutine in autogen

[2015-10-14 10:27] jsquyres commented on #1020
Thanks!

[2015-10-14 10:29] jsquyres commented on #1018
Sounds good.  Thanks!

[2015-10-14 10:32] jsquyres commented on #1018
@matcabral BTW, pro tip: if you include "Fixes open-mpi/ompi#1018" in the commit message where you fix this help file issue, it'll automatically close this issue when your PR with that commit is merged to master.  See https://github.com/open-mpi/ompi/wiki/GithubCommitMessages for a little more detail.

[2015-10-14 10:33] jsquyres opened #1021 "PSM2 MTL needs to use new PSM2 symbols"
It just occurred to me that we don't have a Github issue to track this: per the discussion at http://www.open-mpi.org/community/lists/devel/2015/09/17919.php, the PSM2 MTL needs to not use the same symbols as the PSM MTL (this is really more of an issue with the PSM and PSM2 dependent libraries, but the PSM2 MTL needs to be updated to match).

@matcabral is already working on this, but we need a b

[2015-10-14 13:00] nysal commented on #396
@jsquyres Here's an intial attempt at a fix. There is a problem though, patch_autotools_output is not invoked if there is an autogen.(sh|pl) in the sub directory. So with the below patch, the configure script in ompi/contrib/vt/vt/extlib/otf and ompi/contrib/vt/vt are patched. libevent, romio and the main configure script remain unpatched. Comments ?

[code]

[2015-10-14 13:25] Zhiming-Wang commented on #396
Yes, The fix should be add into patch_autotools_output() subroutine. In order to minimize the impact, I suggest the fix actions called only when necessary. Just as at "/usr/lib/rpm/redhat/macros":
... ...
  [ "%_libtool_ppc64le_fix" == 1 ] && [ "%_arch" == ppc64le ] && /usr/lib/rpm/redhat/libtool-handle    -ppc64le.sh ; \
... ...
Next, I will check the actions on other Linux distributions such as

[2015-10-14 14:46] emmanuelthome opened #1023 "mpi_ialltoall apparently erroneous complaint about invalid argument"
This complains with openmpi-1.10.rc2 (well, not specific to that version.  Same goes for 1.8.8).
The blocking function accepts the arguments, though.
Same goes for ialltoallv and ialltoallw

Here is the transcript, and next the source code.

Best regards,

E.

[code]

[code]

[2015-10-14 15:09] nysal commented on #396
okay, so here's the latest patch. Please review:
[code]

[2015-10-14 15:11] matcabral commented on #1021
Jeff,
Would you please share a high level timeline for v2.0.0?
Thanks,

[2015-10-14 16:10] #1005 closed

[2015-10-14 17:51] jsquyres commented on #396
@nysal I think you beat me to it -- I think you fixed it in #668...?

[2015-10-14 18:03] nysal commented on #396
@jsquyres Please do review, my perl skills aren't the best. Limited testing (create tarball on a x86 system with libtool 2.4.2. Extract tarball, build and test ompi examples on powerpcle system) seems to indicate that it works.

[2015-10-14 20:34] jsquyres commented on #396
@nysal Pro tip: if you put "Closes open-mpi/ompi#396" in the commit message for your commit on open-mpi/ompi-release#668, it'll auto-close this ticket when we merge it.

[2015-10-14 20:48] jsquyres commented on #1021
rc before Supercomputing (mid-Nov).  Given that the rest of November and December are super short (with the holidays and whatnot), it's unlikely that we'll release v2.0.0 before January.

[2015-10-14 20:53] hppritcha commented on #1011
@rolfv do you know approximately when this regression appeared?

[2015-10-14 22:12] jsquyres commented on #1023
@bosilca It looks like Ialltoall(v|w) do not allow sendbuf to be IN_PLACE.

Is the Right solution simply to remove the `(sendbuf == MPI_IN_PLACE)` checks in the MPI_PARAM_CHECK sections in mpi/c/alltoall.c (and friends)?

[2015-10-14 22:21] rhc54 commented on #1011
FWIW: I believe it is hanging on 1.10 as well - at least, on NVIDIA MTT runs

[2015-10-14 23:52] #984 closed

[2015-10-15 05:35] ammore1 commented on #1009
@rhc54

I tried this patch. But with this patch I am able to run maximum 2 processes between 2 hosts which does not seem to be correct .It should allow maximum 32 processes to run since there are 32 number of cores on each of my server.

[code]

[2015-10-15 10:58] emmanuelthome commented on #1023
I tried the following patch

[code]

and ran my test case in a  loop like this.

[code]

I end up with the check failing about once every ten trials. Race condition somewhere ?

[2015-10-15 14:35] bgoglin commented on #981
hwloc 1.11.1 is out, enjoy :)

[2015-10-15 15:38] jsquyres commented on #1023
Wow, that's totally weird -- there should be no race condition here: it's a trivial check at the beginning of the function that's not based on any other MPI process.

Are you getting the same ERR_ARG failure (in the one-in-ten failures)?

FWIW, I'm unable to replicate this behavior.  With your patch, I get no failures:

[code]

[2015-10-15 16:52] #981 closed

[2015-10-15 18:24] jsquyres commented on #634
This is a long-standing issue.  I'm guessing it won't get fixed in the v1.10.x series.

[2015-10-15 18:45] jsquyres commented on #576
I'm trolling through old bugs as we're starting to gear up for the v2.0.0 release, and I noticed this one.

I just PR'ed the final fix over to v2.x (open-mpi/ompi-release#677), but I see that this issue was marked for the v1.10 series.

Before I open a PR for the v1.10 series (we *might* still make it into v1.10.1, but that's not 100% guaranteed...): @eschnett can you confirm that we still need th

[2015-10-15 19:32] hppritcha opened #1033 "lanl platform files need to specify with-lustre for ompi i/o"
For ompi i/o to use fs/lustre, need to add --with-lustre option to lanl platform files.  Also the romio
option to specify the location of lustre header files, etc. was incorrect for Cray XC.

[2015-10-15 20:13] bosilca commented on #634
There is no efficient solution. The problem here is that different processes use different datatypes, and as a result the pipelining chose by one process might be incompatible with the choices of other processes. Thus, either we change the calls to PML to include the convertor inside (which will allow us to do consistent pipelining across all processes involved in any collective communication), or

[2015-10-15 20:24] bosilca commented on #1023
The patch proposed above only impact the MPI interface, basically allowing
the non-blocking alltoall* call to propagate to the selected non-blocking
module. However, there is no guarantee that the underlying collective
module is able to correctly handle the IN_PLACE argument.

I have a slightly different patch. Once applied if I use the libnbc, I can
only confirm Jeff's findings: your test applica

[2015-10-15 20:36] edgargabriel commented on #980
fixed by commit 2c7265ddd59c9623dfff070691d62e70e7d10e25

[2015-10-15 20:36] #980 closed

[2015-10-15 21:18] #1033 closed

[2015-10-16 00:13] yburette opened #1035 "PML selection issues"
We are observing two issues with the way the PML is selected:

1) on Truescale, when mpirun is used without any argument, the openib BTL (ob1 PML) gets selected over the PSM MTL (cm PML). This is a problem because users would like to get the best performance (with the PSM MTL) out-of-the-box. Instead, they have to add --mca pml  cm.

2) currently, whichever of the ob1 or the cm PML gets initialize

[2015-10-16 00:27] yburette commented on #1035
ob1 PML has a default priority of 20.
cm PML has a default priority of 10.

if ob1 is initialized first, then cm_init() sees that its priority is lower and thus returns NULL.
---> openib BTL is selected

if cm is initialized first, then it looks at which MTL can be selected. If a MTL is usable, cm's priority is bumped to 30. ob1_init() then sees that its priority is lower and thus returns NULL.
--

[2015-10-16 00:30] yburette commented on #1035
https://github.com/open-mpi/ompi-release/blob/v1.10/ompi/mca/pml/ob1/pml_ob1_component.c#L251
[code]

https://github.com/open-mpi/ompi-release/blob/v1.10/ompi/mca/pml/cm/pml_cm_component.c#L146
[code]

[2015-10-16 00:37] yburette commented on #1035
A simple fix which works for Truescale is to increase the cm PML's default priority to 20 so that it can compete with ob1.
However, this might not work for the other components (e.g. MXM, portals).

@jsquyres @hppritcha @rhc54 What do you guys think?

[2015-10-16 15:32] hjelmn opened #1036 "some oshmem files missing from tarball when configuring with --disable-oshmem"
This is the norm when built on a mac. If I try to build and install the tarball on another machine it fails when it get to installing the oshmem man pages. Looking at oshmem/shmem/man/man3 I see:

[code]

This started with the fix that prevents oshmem man pages from being installed when oshmem is disabled. They should still be included in the tarball generated by make dist. Maybe add the files to

[2015-10-16 15:32] hjelmn commented on #1036
@miked-mellanox Please assign to the appropriate person. To reproduce configure with --disable-oshmem and the make dist.

[2015-10-16 15:53] hjelmn commented on #1035
I would think it would be safe to remove the extra check against ob1. I will take a look and see if I can determine why cm's author did that.

[2015-10-16 17:06] miked-mellanox commented on #1036
@igor-ivanov - please take a look. thanks

[2015-10-16 17:08] rolfv commented on #1011
I do not know when it appeared but I think it has been there a long time. My failures are low enough now that I could look through them and try and characterize them. That is why I submitted the bug now.

[2015-10-16 17:54] rolfv commented on #1010
So, all these tests now hang for me when I run with the openib BTL. Do these work for you @hjelmn ?
I am using the same command line as in my first comment.

[2015-10-16 20:20] hjelmn commented on #1010
Wasn't seeing any problems with ugni. Will run again on ib and see what might be the problem.

[2015-10-17 08:01] emmanuelthome commented on #1023
To Jeff: the failure I get is that my data check fails. More precisely, if I let my abort() be a bit more verbose like this:
[code]

Then every so often I see failures like this:
[code]
(where I've stripped the rest, backtraces, and also reports at other ranks).

To George: yes of course, I understand that the argument checks may be here for a reason. What puzzles me a bit is the fact the the bloc

[2015-10-18 14:02] ggouaillardet commented on #1023
@emmanuelthome how many nodes are involved in your test ?
are you using libnbc module for ialltoall (that would be the default on most systems) or an other module
(ml, portals4, hcoll for example) ?

[2015-10-18 22:29] ggouaillardet commented on #1023
@emmanuelthome I just found libnbc does not correctly implement ialltoall with MPI_IN_PLACE

Libnbc basically calls both Isend and Irecv with the same buffer, so there is a race condition.
In your example, task 8 receives from 2 before it sends to 2, that is why you do not get the correct results.

As suggested by @bosilca, if no module correctly implements ialltoall with MPI_IN_PLACE, then it is

[2015-10-19 00:25] ggouaillardet commented on #1036
imho, this is a much more general issue

for example, if you ```configure``` with ```--disable-mpi``` there are no source file in the ```/ompi``` directory (!)

[2015-10-19 08:03] ggouaillardet commented on #1023
@jsquyres i had no issue reproducing the issue on one node and with ```--mca btl tcp,self```

@emmanuelthome this inline patch fixes the issue, but i only tested ```libnbc``` module
[code]

[2015-10-19 08:51] emmanuelthome commented on #1023
Gilles, your patch fixes my issue. My test is with several (e.g. 10) processes oversubscribed on the same node. Regarding which coll layer I'm using, the failures I witnessed before your patch were visible with "-mca coll tuned,libnbc,basic" or "-mca coll libnbc,basic".

Thanks a lot.

[2015-10-19 09:01] ggouaillardet commented on #1023
Thanks,

I will review other non blocking collectives and other modules.

Btw, the coll/tuned module does not implement any non blocking  collective, that is why the behavior is similar regardless tuned is used or not

[2015-10-19 12:57] emmanuelthome commented on #1023
@ggouaillardet  You have probably noticed already, but for recvcount>1, your malloc() for the temp buffer misses a count multiplier. I think it should rather be
[code]

[2015-10-19 13:32] ggouaillardet commented on #1023
Thanks for noticing the mistake.
There are p*revcount elements in the buffer, so I think we should allocate
buf = malloc (true_extent + sndext*(p*revcount-1))
Makes sense ?

[2015-10-19 13:44] emmanuelthome commented on #1023
After reading up on datatypes in the MPI document, a subject I'm utterly
unfamiliar with except for trivial cases, I tend to agree with you.

E.

[2015-10-19 15:09] rhc54 commented on #1035
Can we get this resolved soon?

[2015-10-19 15:11] rhc54 commented on #965
@bosilca @ggouaillardet @gpapaure Hey folks, 1.10.1 is blocked for release on this issue. Any prognosis on when we will converge on a solution?

[2015-10-19 15:12] rhc54 commented on #576
@eschnett @jsquyres Where are we on this issue?

[2015-10-19 15:39] jsquyres commented on #1035
@yburette I'm not sure I understand the proposed solution: if you increase the default cm priority to 20, what happens?  Does CM then always increase its priority to 30 (assuming the PSM/PSM2 MTL is available)?  If so, I think we need to check with @regrant and @tkordenbrock to see what this will do for the Portals BTL / MTL combo...?

(I agree we need a solution, though (ASAP) -- what you describ

[2015-10-19 15:52] hjelmn commented on #1035
@jsquyres I agree, which is why I propose #1039 to fix this issue.

[2015-10-19 15:53] hjelmn commented on #1035
I can make similar changes to ob1.

[2015-10-19 15:54] jsquyres commented on #1035
Hah -- I just commented on the same thing (do we need the same changes in ob1?) on #1039. Our emails crossed in the ether, I guess.  :smile:

[2015-10-19 15:58] yburette commented on #1035
@jsquyres @hjelmn
Good point and this is exactly what I lack knowledge of. For PSM/PSM2, Intel would like to have the MTL selected by default. What is the expected behavior for Portals and MXM?

I think we could increase the priority to 30 only for the desired MTLs and leave it at 20 (or even lower it back down to 10) for the others.

If we remove the conditional check from ob1, I believe we can i

[2015-10-19 16:03] hjelmn commented on #1035
ob1 has a priority, BTLs do not. cm works a little differently as the underlying mtl implements all the pt2pt semantics. This means that ideally the mtls should have a priority and the priority of the selected mtl should become cm's priority. I will write a quick PR to do this.

[2015-10-19 16:08] gpapaure commented on #965
#1003 should solve this issue
Do you want me to make a new pr for 1.10 branch ?

[2015-10-19 16:48] rhc54 commented on #965
This should get committed to master first, and then new PRs for the 1.10 and 2.x branches should be filed. I'm not sure we have agreement yet on the patch, though, so we need someone to say this is correct.

@bosilca ?

[2015-10-19 17:47] jsquyres commented on #965
Just some additional bookkeeping here:

* The initial fix on this ticket was brought to v1.10 in open-mpi/ompi-release@9f71ec601fd66f0b4c3b0575aef974ba9c6149b6 and open-mpi/ompi-release@769bd1154e5faf34ac28bda4c445b2bc0123ca54
* The initial fix on this ticket is not needed on v2.x (as of today, 19 Oct 2015).  I didn't track down how it got there, but when I cherry-pick the non-merge commit from ab

[2015-10-20 13:39] hjelmn commented on #1010
I see the problem. The connection manager in the openib btl is not currently asynchronous. Since the local locking code does not call opal_progress it causes the tests to hang. I am working on a pair of fixes that should resolve this.

[2015-10-20 15:02] rhc54 commented on #1035
let's use this issue to track getting this into 1.10.1 so I know the release is blocked until that happens

[2015-10-20 15:06] jsquyres commented on #978
Discussed on the 2015-10-20 webex; the feeling is that this may be too big to pull back to the v1.10.x series, and the fix will likely be in the 2.x series.

[2015-10-20 15:06] #953 closed

[2015-10-20 15:07] jsquyres commented on #576
The window is rapidly closing on 1.10.1 -- I think we need to defer this to 1.10.2.

[2015-10-20 15:53] jsquyres commented on #639
Pushing this off to v1.10.2.

[2015-10-20 15:54] jsquyres commented on #396
open-mpi/ompi-release#668 was merged; closing this issue.

[2015-10-20 15:54] #396 closed

[2015-10-20 18:39] rolfv opened #1043 "ibm/dynamic/spawn segv with openib in 2.x and master"
It seems that openib is the key to things not working with spawn. I see them same errors with intercomm_create and spawn_multiple. I see this on 2.x and master but not 1.10. A few examples:
[code]
[code]
Works with TCP
[code]

------

**EDIT:** The reentrant message below is also reported in #1081, and is therefore not being considered part of this bug.

And different when we go to np=4.
[code]

[2015-10-20 19:52] rolfv commented on #1012
I think they are a few things happening here and maybe we can work our way through them. First, I will try to get osc/pt2pt to continue to work on master. Does that seem OK @hjelm or is it going to go away? It may be nice to keep it for a little while so in case we do not get CUDA-aware working with osc/rdma we will have a fallback.  If so, then any idea why I would run into this issue? I only see

[2015-10-20 20:12] rolfv commented on #1010
I also notice that the ibm/datatpye/aint tests fails too.  Hopefully it is related to this issue also.

[2015-10-20 21:51] hjelmn commented on #1012
osc/pt2pt is a permanent component. It is intended to support one-sided in the absence of RDMA.

[2015-10-20 21:52] hjelmn commented on #1012
Also, the failure looks like it is in the new synchronization object which is not yet in 2.x. I will try to take a look tomorrow if you don't get a chance to track this down.

[2015-10-20 22:34] hppritcha commented on #1043
wonderful, I'm also seeing this ```reentrant invocation``` stuff - but bizillions of copies of it, when running pretty much any multi-threaded test using ```MPI_THREAD_MULTIPLE``` - at least on master.

[2015-10-20 22:37] hppritcha commented on #1043
I'd say this is a blocker.
For ```MPI_THREAD_MULTIPLE``` we also need to get rid of this libevent message.

[2015-10-20 22:44] #1010 closed

[2015-10-20 22:45] rhc54 commented on #1043
Are you seeing it only with openib? Or with other transports as well?

[2015-10-20 22:47] hppritcha commented on #1043
Oh its with vader, ugni, tcp, etc. etc. if I'm running a multi-threaded
test.

2015-10-20 16:45 GMT-06:00 rhc54 <notifications@github.com>:

[2015-10-21 00:11] ggouaillardet commented on #1023
@emmanuelthome in the mean time, i commited open-mpi/ompi@2bd77ed4f9e9a61753795898ce1aa6b2025d5cbe so ompi fails with MPI_ERR_INTERN instead of MPI_ERR_ARG (e.g. this is an ompi problem, not something illegal made by the user)
@bosilca i made PR open-mpi/ompi-release#690 that will hopefully make it for v1.10.1, could you please review it ?

[2015-10-21 00:47] hjelmn commented on #1010
Reopen if there are still MTT errors. The fixes were tested with ConnectX 2.

[2015-10-21 01:41] bosilca commented on #1023
It has been reviewed.

[2015-10-21 05:03] bosilca commented on #982
This operation is ongoing in open-mpi/ompi#1008.

[2015-10-21 09:00] emmanuelthome commented on #1023
@ggouaillardet I've seen
open-mpi/ompi@2bd77ed4f9e9a61753795898ce1aa6b2025d5cbe indeed. Looks that
the reasonable thing to do for the time being.

Thanks.

[2015-10-21 11:02] emmanuelthome commented on #1023
FWIW, I stumbled on the misbehaviour while writing this test case: https://bugs.kde.org/attachment.cgi?id=95072 ; perhaps this could be a reasonable "make check" item to have in openmpi, in fact.

[2015-10-21 14:04] jsquyres opened #1049 "MPI_Win_lock with MPI_MODE_NOCHECK"
Per thread starting here http://www.open-mpi.org/community/lists/users/2015/10/27900.php, Sebastian Rettenberger (@rettenbs) reports:

Sebastian's test program is here: https://gist.github.com/jsquyres/8db59c06933b0ead4921

In a later email, Sebastian said he can reproduce the issue with a single thread, too.

@hjelmn Can you have a look?  I'm tentatively labeling this a 1.10.2 issue so that it do

[2015-10-21 14:39] rivis commented on #1049
This issue is same as #840.
Merging 2a8cc5e637844d985143aedd25b240e1c7a94482 to v1.10 will fix it.

[2015-10-21 14:48] hjelmn commented on #1049
Ok, I will PR.

[2015-10-21 14:52] hjelmn commented on #1049
Closes with open-mpi/ompi-release#700

[2015-10-22 14:17] #881 closed

[2015-10-22 14:50] rolfv commented on #1012
This change fixed the osc pt2pt problem so that is good. Thanks. There is a way to check if it is a GPU buffer. Where do you think this check would go. I can try and test that out. The function is in opal/mca/common/cuda/common_cuda.c and is called.  Actually, by the time we reach the onesided component, we may have already checked and put a flag in the convertor that indicates if it is GPU memory

[2015-10-22 15:47] yburette commented on #1035
I think we can increase the OFI MTL's priority without impacting ob1.
By default, the OFI MTL won't run with the sockets and MXM providers.

Please see PR #1058

[2015-10-22 16:06] hjelmn commented on #1012
The check would need to go in ompi_osc_rdma_component_query in osc_rdma_component.c . If the flavor is MPI_WIN_FLAVOR_CREATE check if *base is a cuda pointer.

[2015-10-22 16:53] regrant commented on #1035
@rhc54 we've checked the new behaviour with the Portal MTL/BTL combo and things are fine with this change, so we're good to go.

[2015-10-22 18:53] jsquyres commented on #818
To close out this issue: we decided to make this an FAQ item and leave autogen/configure alone.  The FAQ item has been added, so I'm closing this issue (and open-mpi/ompi#829).

[2015-10-22 18:53] #818 closed

[2015-10-22 19:31] #1035 closed

[2015-10-22 19:43] #850 closed

[2015-10-22 20:19] jsquyres commented on #669
lama has been removed from the v2.x branch; this issue is now moot.

[2015-10-22 20:19] #669 closed

[2015-10-22 22:19] jsquyres opened #1060 "2fd176ac causes segvs in MTL OFI on usNIC machines"
Git bisect showed me that 2fd176ac7f99b554da1706a0bfe7d93c648c8804 is the culprit for causing segv's on usNIC clusters.

Somehow the MTL OFI is segv'ing in libfabric 1.1.1 in the verbs provider -- ibv_get_device_list() is returning some devices that point to invalid memory.

I'm digging into it (I'm turning off my MTT tonight, because all runs will just segv and fill up TB worth of space with core

[2015-10-22 22:28] yburette commented on #1060
@jsquyres Which providers are enabled in your build of libfabric?
Is it segv'ing inside fi_getinfo() or after?

[2015-10-22 22:37] jsquyres commented on #1060
Providers: verbs, tcp, usnic.

I could disable verbs, of course, but that would just mask the real problem.  :-)

Here's the bt of the segv:

[code]

IT's specifically segv'ing on line 855 in fi_verbs.c:

[code]

It's dying somewhere inside ibv_open_device().  The devs[i] (where i==0) points to bogus memory; hence, segv.  I haven't dug into ibv_open_device() yet (I need to recompile my own libibve

[2015-10-22 23:00] jsquyres commented on #1060
I see what's happening:

1. The openib BTL is using opal/mca/common/verbs to get the IBV device list.  The common_verbs area is where the fake usnic IBV device device is located.
1. When openib determines it can't run, the MCA base unloads that the openib DSO, which also unloads common_verbs.
1. However, there's no way to un-register a verbs driver -- so libibverbs still thinks that the fake usnic

[2015-10-22 23:01] yburette commented on #1060
@jsquyres Ouch!

[2015-10-22 23:07] yburette commented on #1060
And I bet you wouldn't see the problem if the OFI MTL was loaded before the openib BTL, right?

[2015-10-23 10:42] jsquyres commented on #1060
The purpose of the fake driver is because the Cisco usNIC device does not have a userspace libibverbs plugin corresponding to its kernel driver.  Hence, libibverbs sees some entries in /sys/class/infiniband, but then when it can't find a userspace plugin to support them, it prints a warning to stderr saying that the device is unsupported.

This is very undesirable from our perspective; the device

[2015-10-23 12:35] miked-mellanox commented on #1060
UCX is on top of libibverbs and does not have this issue.

[2015-10-23 12:36] jsquyres commented on #1060
@miked-mellanox I'm not sure I understand -- does "on top of" mean "uses"?  Because if UCX uses libibverbs, then the same problem will occur.  Am I misunderstanding?

[2015-10-23 12:48] miked-mellanox commented on #1060
@jsquyres - right. this use-case happens all the time with mtl/mxm, btl/openib and pml/yalla - all open/close ibv_get_device_list independently.

[2015-10-23 13:27] rhc54 commented on #965
Can someone please clarify where we are on this one? I see that #1003 references some other ticket, and I confess I'm a bit confused.

This really is holding us up on 1.10.1, so I'd like to get it resolved if we can.

[2015-10-23 13:44] ggouaillardet commented on #965
There are two issues here
- MPI_Type_create_{darray,subarray} are broken, and #1003 fixes that
- MPI_Type_create_resized does not work when lb is non zero, and my inline patch fixes that

since ddt is a sensitive topic, I think @bosilca should make the final decision on how to move forward.

[2015-10-23 15:13] jsquyres commented on #965
@bosilca and I talked on the phone today about 1.10.1.

We agreed that the minimum distance fix should be brought to v1.10 so that 1.10.1 can be released.  @bosilca knows how to do this, and can do so in the immediate future.  Specifically: this fix is *correct*, but it isn't great from an holistic infrastructure point of view.  But it should be good enough for the v1.10 series.

The formal / forw

[2015-10-23 15:33] #1049 closed

[2015-10-23 17:32] bosilca opened #1063 "darray and subarray issues related to type_resize"
open-mpi/ompi#965 and open-mpi/ompi#1003 are describing the issue and proposing a patch for the two darray and subarray functions. However, the real problem is somewhere deeper, supposedly in the type_resize, and should be fixed there.

[2015-10-23 17:34] bosilca commented on #965
The corresponding issue for the devel version is #1063.

[2015-10-23 17:35] bosilca commented on #965
The patch proposed in #1003 should go in 1.10.1

[2015-10-23 18:01] rhc54 opened #1064 "Add external component to opal/pmix framework"
Need an external component to allow packages to link against external libpmix

[2015-10-23 18:34] rolfv opened #1065 "Many buffered tests are failing on master"
This problem is in master only and I tracked it down to this commit using git bisect.
[code]
Although I cannot quite figure out what that commit is when I look at the log.  In any event, the errors can be seen on many different buffered send tests.
[code]

[code]

[2015-10-23 18:38] rolfv commented on #1065
Looks like this was originally authored by @rppendya

[2015-10-23 18:54] hppritcha commented on #1065
Thanks for catching this.

[2015-10-23 19:28] rhc54 commented on #1065
See https://github.com/open-mpi/ompi/pull/1066

[2015-10-24 12:59] jsquyres opened #1069 "OPAL_CONFIG_SUBDIR breaks with "./configure CPPFLAGS=...""
I've noticed on master that if I do:

[code]

Then the build eventually fails with pmix1xx not being able to find the libevent header file.

The reason is because the pmix1xx configure.m4 file does the following:

* Saves the original CPPFLAGS
* Sets CPPFLAGS to point to relevant places (including the libevent header location)
* Exports CPPFLAGS
* Calls OPAL_CONFIG_SUBDIR

But then OPAL_CONFIG_SUB

[2015-10-24 14:56] rhc54 commented on #1069
@jsquyres Gilles has had a patch sitting on this for quite some time, assigned to you for review. See

https://github.com/open-mpi/ompi/pull/1028

[2015-10-24 14:56] #1069 closed

[2015-10-24 23:05] bosilca commented on #1063
Thanks to a hint from @ggouaillardet in the #965 ticket, I found what the problem was. In the construction of the subarray and darray types we need to move the final type in the correct position. This is not changing the upper or lower bound (which is the only result of the resize function), but instead shift the entire data map by a known displacement. The corresponding PR is #1072.

[2015-10-26 22:19] #1060 closed

[2015-10-27 08:23] ggouaillardet commented on #1019
@jsquyres note there is a false positive from ```contrib/check-help-strings.pl```
```help-mpi-btl-openib.txt``` has been moved to ```/opal``` and the script does not get it if ran under the ```/ompi``` directory

[2015-10-27 16:42] yburette commented on #1020
@jsquyres @rhc54 Do you want me to create a pull request for v1.10.1?

[2015-10-28 12:48] rolfv commented on #1065
These errors are now gone so I will close this issue. I believe @rhc54 fixed this with #1066.

[2015-10-28 12:48] #1065 closed

[2015-10-28 13:44] rolfv opened #1077 "ibm/onesided/c_accumulate and friends hang with osc rdma using openib BTL"
With the master using --mca osc rdma, I see a variety of onesided tests that are hanging. The list of tests are: c_accumulate, c_accumulate_atomic, c_create_dynamic, c_fence_lock, c_flush, c_get_accumulate, c_post_start, c_reqops, c_strided_acc_indexed, etc....

Am I the only one that sees this?

[code]

[code]

[code]

[2015-10-28 14:56] hjelmn commented on #1077
Haven't seen this. All those tests were running clean with IB. Let me try again and see if something broke.

[2015-10-28 17:44] #1036 closed

[2015-10-28 17:45] miked-mellanox commented on #1036
@igor-ivanov - could you please PR it to v2.x as well
thanks

[2015-10-28 20:55] #1018 closed

[2015-10-28 20:55] #1021 closed

[2015-10-29 16:03] #1012 closed

[2015-10-29 16:05] hppritcha commented on #1064
Is this an enhancement or a bug?  Why should an enhancement be a blocker for 2.0 release?

[2015-10-29 16:18] rhc54 commented on #1064
@hppritcha The upstream packagers require it before they will include OMPI 2.0 in their packages.

[2015-10-29 16:25] hppritcha commented on #869
@jsquyres do we care about the conflicts related to the lack of the treematch PRs in v2.x?

[2015-10-29 16:43] hppritcha commented on #869
We probably need commit 7cb6c2fc too.

[2015-10-29 16:52] jsquyres commented on #869
7cb6c2f probably got swept up in open-mpi/ompi-release#671.

I'll file a PR for this one to start moving it forward.

[2015-10-29 17:04] hjelmn commented on #1043
Yeah, I have seen this a lot. Took a crack at fixing this but didn't have time to finish. It might be sufficient to remove the warning in non-debug builds.

[2015-10-29 17:21] jsquyres commented on #869
@rhc54 I actually ran into a bunch of ORTE conflicts when I tried to merge the first commit into v2.x that are not immediately obvious to me how to fix... :-(

Can you have a look / take a shot at creating a PR?

[code]

[2015-10-29 17:31] rhc54 commented on #869
Okay - I'll give it a shot

[2015-10-29 17:40] hppritcha commented on #869
It looks like we're missing  commits, at least for orte/mca/ras/simulator/ras_sim_module.c:
ed93154e43ed7c7fdf09205c42922e1790a8a67
023936e84bce80ab90ae1af5438163432f894d3f

Also there were white-space changes that were not exactly equivalent.

[2015-10-29 17:49] hppritcha commented on #869
I opened a PR open-mpi/ompi-release#729 to merge 023936e from 7/29 (or thereabouts) into ompi-release.

I would prefer to see 023936e and ed93154 go in as separate PRs to ompi-release.

[2015-10-29 18:01] hppritcha commented on #869
Well 729 is botched.  Need commit ed93154 in too.

[2015-10-29 22:42] hppritcha commented on #1064
Okay, so they don't want to use the pmix1xx, but rather a version of the standalone pmix?

[2015-10-29 22:44] hppritcha opened #1081 "need to throttle libevent warnings when using Open MPI with MPI THREAD MULTIPLE"
It turns out that if one tries to use Open MPI with MPI THREAD MULTIPLE (at least master) and actually has multiple threads making concurrent MPI calls, one gets a flood of messages of the following ilk:

 opal_libevent2022_event_base_loop: reentrant invocation.  Only one event_base_loop can run on each event_base at once.

showing up in stderr.

This needs to be fixed before release of v2.x

[2015-10-29 22:45] hppritcha commented on #1077
Opened #1081 to track the MPI_THREAD_MULTIPLE issue and the flood of libevent messages.

[2015-10-29 23:39] rhc54 commented on #1064
Yeah, they don't like embedded packages. This is why we now have support for external libevent and hwloc as well. Basically, any package that is also available on its own has to be externally linked even if we have an internal version as well.

[2015-10-30 00:53] jsquyres commented on #805
This was closed by open-mpi/ompi-release#670.

[2015-10-30 00:54] #805 closed

[2015-10-30 22:35] hjelmn commented on #1077
Can not reproduce the with the latest nightly. How are you building?

[2015-10-31 13:30] loveshack opened #1083 "NEWS doesn't mention ABI incompatibility for 1.10"
It seems particularly relevant when NEWS says it's based on the 1.8 series, and rather suggests compatibility.

[2015-10-31 15:43] hjelmn commented on #1077
Trying again with more processes since that is what is hanging in your MTT. I still can't get a hang in osc. See an occasional hang in pmix though.

Given the stack trace I think something might be stomping on memory. Will see if I can find any memory errors.

[2015-11-01 17:14] rhc54 commented on #1083
Fair point - the numbering change indicates an ABI break, but the fact that we say it is based on v1.8 might have mistakenly given that impression. I've corrected the NEWS to make clarify the situation.

Thanks!

[2015-11-01 17:14] #1083 closed

[2015-11-02 14:26] jsquyres commented on #1083
Just to cross ref this (already-closed) issue:

* Here's the commit on master: 186c18be0ecbf113a3fab2cfaf1d9951bdf868dd
* Here's the PR for v2.x: open-mpi/ompi-release#733

[2015-11-02 15:16] loveshack opened #1087 "Poor message on binding failures"
help-orte-rmaps-base.txt talks about libnumactl and libnumactl-devel, but shouldn't.  The equivalent library probably only exists on GNU/Linux systems and has a distribution-specific name.  The -dev/-devel package is irrelevant at runtime (and even at build time if you you use system hwloc).  What is relevant is a working hwloc, which is system-independent.

The useless github system will doubtles

[2015-11-02 16:19] marksantcroos opened #1088 "pmix1xx segfault when orte-dvm put under load"
While hammering with orte-submit on a 10x24 core orte-dvm I repeatedly run into the segfault below.
The workload is a set of single core tasks equal the size of the number of cores (240 in this case).
The duration of the tasks doesn't influence it, as it happens at startup.

This output is captured with a build with `--enable-mem-debug` enabled.

[code]

At the side of the orte-submit client I get

[2015-11-02 18:23] hppritcha commented on #982
I think this issue can be closed, no?

[2015-11-02 18:31] jsquyres commented on #1043
Looks like the 2nd problem (the libevent messages) is also reported in #1081.  I.e., the libevent issue is not specific to the openib spawn segv problem.

[2015-11-02 18:37] jsquyres commented on #1063
@bosilca Since #1072 has been merged to master, should we close this issue?  Or is there more work to do?

[2015-11-02 18:39] jsquyres commented on #869
This one might become significantly easier once open-mpi/ompi-release#730 is applied (to the v2.x branch).

[2015-11-02 20:45] #1063 closed

[2015-11-02 20:46] #982 closed

[2015-11-02 22:13] jsquyres commented on #493
To close the loop on this issue: after I made the comment above (https://github.com/open-mpi/ompi/issues/493#issuecomment-146415350), I decided *not* to support the "let it be ok if MPI is initialized more than once" functionality.  See #1007 for details.

@hppritcha Still wants to do some testing, though -- so this issue is still open.

[2015-11-02 22:22] jsquyres commented on #1088
@marksantcroos What version of Open MPI is this?

@rhc54 Can you have a look?

[2015-11-02 22:25] marksantcroos commented on #1088
@jsquyres Ah, forgot to mention: latest master.

[2015-11-02 23:03] jsquyres commented on #1087
@loveshack FWIW, if you put a patch inside triple-single-quotes followed by the "diff" token, it'll both put it in fixed-width font, but it'll also syntax highlight it.  I took the liberty of editing your initial description to add that.

Per your help messages.  Mmmm.  I see what you're doing there.  I agree that the current messages could be improved, but at least let me tell you the rationale:

[2015-11-02 23:06] hppritcha opened #1089 "need ability to not use --enable-new-dtags option in linker scripts."
It turns out the --enable-new-dtags linker option in the Open MPI compiler scripts is causing issues for some users:

Here's what a sysadmin reported:

Many of our users want to encode an RPATH to the MPI library in their executable at link time.  In fact,   they like to encode paths to all of their other libraries this way.  On Linux, RPATH overrides anything a user sets in LD_LIBRARY_PATH, which

[2015-11-03 03:20] rhc54 commented on #1083
I believe it also went into 1.10.1, didn't it? I meant to have it do so...

On Mon, Nov 2, 2015 at 7:26 AM, Jeff Squyres <notifications@github.com>
wrote:

[2015-11-03 10:48] ggouaillardet commented on #1087
at first, we could we have two distinct error messages
1. internal hwloc was built without libnumactl headers (so that cannot work unless ompi is rebuilt)
2. that could/should work, but it does not (and we just mention libnumactl and not its headers) so we avoid confusion (e.g. devel headers are not required on compute nodes)
makes sense ?

[2015-11-03 11:24] loveshack opened #1092 "configure help wrong for --with-libltdl, --with-hwloc"
configure --help says that --with-libltdl=external and --with-hwloc=external can be specified to use external libraries, but "external" is actually interpreted as a directory name in both cases, and configuration fails.

[2015-11-03 12:24] loveshack opened #1093 "test suite problem: picking up installed objects"
I don't know if this is an OMPI problem or an autotools one, and don't have time to find out just now.

Trying to build OMPI 1.10.0 on Debian stable, I got a test failure from ompi/debuggers/dlopen_test. It appears to be because the system version of mca_shmem_mmap.so is being picked up, not the built one:

[code]

**EDIT:** Added triple-single-ticks to verbam-ize the shell output.

[2015-11-03 15:35] loveshack commented on #1087
Jeff Squyres <notifications@github.com> writes:

Probably not with any packaged version, though they may not be "usual",
unfortunately.

I don't know why hwloc is bundled -- and bundling is at least part of
the problem -- but presumably you'd solve this issue by also bundling
libnuma and then checking that built hwloc components work (assuming
you're not cross-building, or do it in installation).

[2015-11-03 15:36] loveshack commented on #1087
Gilles Gouaillardet <notifications@github.com> writes:

Afraid not.  The fundamental issue is whether you have a working hwloc,
whatever the system-specific support under that needs to be.  If there
isn't a useful MCA flag to debug the problem, as it seems, probably
there should be one.

[2015-11-03 16:29] hjelmn opened #1094 "Memory pool and registration cache rewrite"
The current memory pool interface includes quite a bit of "registration cache" functionality. I am working on a rewrite of both frameworks to move this functionality down to rcache. It would be best if this goes into 2.0.0. Master PR coming shortly.

[2015-11-03 18:18] jsquyres commented on #1087
New suggestion (this would be the basis for all 3 messages):

[2015-11-03 18:25] jsquyres commented on #1083
Yes, it looks like it did.

[2015-11-03 18:35] jsquyres commented on #1089
@adammoody Does `--disable-wrapper-rpath` not work for you?

[2015-11-03 19:03] jsquyres commented on #1020
v1.10.1 is likely to go out in the immediate future.  I wouldn't worry about it -- if it's fixed in master/v2.x, I think we're good.

[2015-11-04 01:06] rhc54 commented on #1092
I'm not able to replicate that problem on the current 1.10.1 release candidate:

[code]

Looking at the configure log, it appears it did exactly what it was supposed to do:

[code]

Can you confirm what version of OMPI you were using?

[2015-11-04 08:51] rhc54 commented on #1088
Let me see if I fully understand the scenario. Does this happen immediately - i.e., does the orte_dvm run for some length of time before this starts to happen? Or does it happen immediately once you start submitting lots of jobs?

Do you have a method I can use to reproduce it?

[2015-11-04 08:55] zerothi opened #1097 "intel 15 compiler, f08 interface, 1.10.1, unrecognised directive"
There are alot of unrecognized directives when using the intel 15 compiler.
The compilation successfully completes.

It correctly grabs the icc compiler (snippet from top of config.log):
[code]

[code]
All of these directives are in the mpi-f08-interfaces code. For extra info this is from the `config.log`
[code]

(I can't attach the config.log or compilation output, it will not compute)
This could

[2015-11-04 09:01] zerothi opened #1098 "intel 15 compiler, f08 interface, 1.10.1, warning alignment 4 < 8"
A lot of misalignments happens in the f08 interface.

The top of `config.log`:
[code]

Here are the mis-alignment issues:
[code]

This is the same compilation as #1097 but the problems seem unrelated.

I can see in #719 that this has been dealt with before. As Gilles noted it was also tested using the icc compiler.
But perhaps another version?

[2015-11-04 09:34] marksantcroos commented on #1088
orte-dvm does run for some time and accepts, runs and completes jobs for a while. At some point in time the situation sometimes arises, thus not always either.

I haven't been able to reproduce it on something smaller than the 10 nodes I reported.
This is on the SDSC Comet HPC machine with SLURM.

[code]

[code]

[2015-11-04 11:48] loveshack commented on #1087
Looks good to me.  The only suggestion would be to mention if there's
any means of debugging failures.  I'd have hoped there'd be some
..._verbose MCA-ism that would at least show if the component failed due
to dynamic linkage (e.g. not being able to load libnuma) or some other
reason.

That's a general issue, though.  I've wished for a means of
debugging/checking .so's of other components that mi

[2015-11-04 12:01] loveshack commented on #1092
rhc54 <notifications@github.com> writes:

Strangely, I now can't either with hwloc -- apologies -- but I can with
ltdl:

[code]

[That did work with 1.6.5 -- I had to change it in the Debian packaging
for that version.]

The only relevant changes I can think of since when I saw the error for
hwloc are maybe re-autogen'ing and removing the installed openmpi.  I'm
pretty sure it was copy/paste too,

[2015-11-04 12:28] ggouaillardet commented on #1087
@bgoglin

does hwloc links with or dlopen libnumactl ?
is there an api to query whether hwloc was built with libnumactl ?

Thanks,

Ｇｉｌｌｅｓ

[2015-11-04 13:35] bgoglin commented on #1087
hwloc needs libnuma for memory-binding syscalls (most are not in libc, for instance mbind et set_mempolicy), so yes it links with it.
There's no direct API to query libnuma, but there's a query for binding abilities:
[code]
When built with libnuma:
[code]
When built without libnuma, you get 0 instead of 1.

There are other membind features that you could check as well. But at least these two ones

[2015-11-04 14:19] ggouaillardet commented on #1098
I do not remember that was back ported to the v1.10 series...
I will double check this tomorrow

[2015-11-04 14:28] rolfv commented on #1043
I just reran a bunch of tests and I no longer see the SEGV that I noted at the beginning of this bug. The plan was to run valgrind to figure out why we were getting that SEGV, but since I no longer see that issue, that does not seem very useful. However, I still see some different issues so I am going to close this bug and open a new one with more accurate details..

[2015-11-04 14:48] #1043 closed

[2015-11-04 14:56] rolfv commented on #1011
This issue still exists in both master and 2.x. As noted, it can easily be reproduced on a single node and we get the failure with both tcp and openib.

[2015-11-04 15:18] rolfv opened #1100 "ibm/dynamic spawn, spawn_multiple, intercomm_create do not work with openib BTL"
The three tests noted above do not work with openib BTL. We get a flood of the libevent messages and the tests hang forever.  Note that the spawn and spawn_multiple can work with np=2 but fail with larger np.  Also note that the intercomm_create test can either fail as noted here or also with #1011.
Not sure if we can consider this a duplicate of #1081. Also note I closed #1043 and this replaces i

[2015-11-04 18:22] jsquyres commented on #1097
Are you using the `ifort` Fortran compiler?

[2015-11-04 18:22] jsquyres commented on #1098
I doubt it was back-ported to v1.10.  At this point, it is unlikely that that will happen.

[2015-11-04 20:21] zerothi commented on #1097
Yes, everything is with ifort, icc, icpc etc.
Everything also seems to run fine afterwards, so this is just to inform you.

I can hopefully check this with the intel-16 compiler tomorrow (our cluster is down for maintenance now).

[2015-11-04 20:30] zerothi commented on #1098
Ok, so it will be in the 2.X releases, will close then.

[2015-11-04 20:30] #1098 closed

[2015-11-04 20:57] marksantcroos commented on #1088
In trying to reproduce it on a smaller resource I now hit "it" at 5 nodes too.
But I'm not sure if this is actually the same problem or a different one ...

[code]

[2015-11-04 21:11] marksantcroos commented on #1088
With only two nodes (2 x 24 cores / tasks) I was now also able to get the original segvault ...

[2015-11-04 21:34] rhc54 commented on #1088
Hmmm...are you running 24 orte-submits in parallel when that happens? Or are you hitting it with all 240?

[2015-11-04 21:38] marksantcroos commented on #1088
Here another one.

Now with only 1 node of 24 cores.
Starting 24 `orte-submits -np 1` in "parallel" with the script above in a loop.

It feels like a classical race condition, as the smaller the problem size, the longer it takes to reproduce.

[code]

[2015-11-04 21:43] rhc54 commented on #1088
Yeah, it indeed sounds that way - can you build a debug version and get line numbers out of that core file?

[2015-11-04 22:26] marksantcroos commented on #1088
Here you go!

[code]

[2015-11-04 23:11] rhc54 commented on #1088
Hmmm....now that's an interesting one! There's something odd in this output - it shows we are trying to pack a string of length 32K. I can't imagine where we would create a string of that size.

Would you mind adding a little debug code in there so we can better see the code path causing the problem?

[code]

[2015-11-05 01:16] jsquyres commented on #1097
Ah, yes, this is because for this particular file, we just put all the pragmas for "ignore TKR" in there.  For example:

[code]

There's a larger Fortran revamp coming (hopefully over the next several months?) that will generate all the Fortran bindings, customized for the specific compiler for which you are compiling.

Thanks for the heads up!  I think we're ok on this one.

[2015-11-05 01:17] #1097 closed

[2015-11-05 07:11] zerothi commented on #1097
Ok, great :+1:

[2015-11-05 09:01] marksantcroos commented on #1088
[code]

[code]

XML probably answers your question on what is that big string? :-)

[2015-11-05 10:42] rhc54 commented on #1088
Yeah, that would do it! It also shows me that it is going thru a different realloc code path, and so there is probably something wrong in there. Is that the first time you see "RESIZE REQD" (as opposed to "RESIZE2")?

[2015-11-05 10:48] marksantcroos commented on #1088
No, I see both from the start already:

[code]

[2015-11-05 11:01] marksantcroos commented on #1088
For completeness:

[code]

[2015-11-06 04:51] rhc54 commented on #1088
Okay, would you please give the following patch a try - I was able to run your script for long periods of time without hitting a problem:

[code]

[2015-11-06 10:03] marksantcroos commented on #1088
Thanks Ralph, it's much more stable now!

However, after 14640 (640 generations of 240) tasks on 10x24 cores it crashes.
It seems a different issue though, I'm building a debug version as we speak to verify that.

[2015-11-06 10:10] rhc54 commented on #1088
You might run "top" on the node where orte_dvm is running - I think there might be a memory leak and you are hitting memory limits. If you see it continuing to grow, then I'll chase down the leak.

[2015-11-06 10:34] marksantcroos commented on #1088
That was a good hunch!

It grew until 2GB, which is the current ulimit.

[2015-11-06 13:46] rolfv commented on #1011
I just tested #1103 that Ralph posted and this has fixed the issue I am reporting in this bug. Thanks Ralph.

[2015-11-06 20:58] jsquyres opened #1106 "Strange OB1 multirail behavior on master/v2.x"
On master and v2.x, I see two different forms of oddity with multi-rail behavior and ob1.  On my test machines, I have 3 usNIC interfaces (all of which are 10G ethernet links).

1. When I run with `mpirun --mca btl usnic,sm,self ...`, the usNIC btl correctly returns 3 modules per MPI process.  But only one of them is used: when I report usnic stats back at the end of the run, only the first usNIC

[2015-11-06 21:27] #1106 closed

[2015-11-06 22:23] rhc54 commented on #1088
See PR #1107 - it should help, but isn't a complete solution. Still needs more work.

I can also set it up so we don't segfault, although we will refuse to run the job.

[2015-11-07 06:48] artpol84 commented on #1081
We observe this warn messages flooding when running ring_c program from <ompi>/examples. We even were able to pinpoint exact (only one!) process that spits all that. This is the last process on the first node. Below are backtraces from that process. It sounds like it enters endless loop when it tries to MPI_Send() to the next neighbor that is located on the other node.

[code]

[2015-11-07 06:51] artpol84 commented on #1081
@hppritcha, @rhc54 I'm not sure who is the right person to pay attention to this. Could you help to clarify.

[2015-11-07 16:16] rhc54 commented on #1081
You might try this - it may silence things on non-debug builds. My understanding is that the connection eventually completes, so although someone does need to fix it, we could live with the warning silenced.

https://github.com/open-mpi/ompi/pull/1109

[2015-11-07 21:24] gaming-hacker opened #1111 "building 1.10.1 on OSX from tarball"
i enter to options, created build directory and ran ../configure
and results in

onfigure: WARNING: Found configure shell variable clash!
configure: WARNING: OPAL_VAR_SCOPE_PUSH called on "temp",
configure: WARNING: but it is already defined with value "/private/tmp"
configure: WARNING: This usually indicates an error in configure.

any help with this?

[2015-11-07 21:29] gaming-hacker commented on #1111
i fixed it, i had a couple of lines in my .bashrc that it didn't like

[2015-11-07 21:29] #1111 closed

[2015-11-07 22:27] gaming-hacker commented on #1111
ugh, spook too soon, i point to the java bin and include but it refuses to build

removed these, now it builds with latest cuda 7.5
--enable-java \
--enable-mpi-java \
--with-jdk-bindir=/Library/Java/JavaVirtualMachines/jdk1.8.0_66.jdk/Contents/Home/bin \
--with-jdk-headers=/Library/Java/JavaVirtualMachines/jdk1.8.0_66.jdk/Contents/Home/include \

[2015-11-09 08:53] marksantcroos opened #1112 "static build fails in tests"
[code]
[code]

[2015-11-09 17:10] hppritcha commented on #1112
I see this same error on a vanilla x86_64 whitebox running Open Suse 13.1.  This is not a cray specific problem.

[2015-11-09 17:24] hppritcha commented on #1112
I'm testing a simple fix.

[2015-11-09 18:17] jsquyres opened #1113 "oshmem proc valgrind problem (?)"
As noted on open-mpi/ompi-release#747, there appears to be a problem in oshmem freeing memory...?

@miked-mellanox Can you guys look into this one?

[code]

[2015-11-09 18:19] marksantcroos commented on #1112
Renamed appropriately :-)

[2015-11-09 18:33] miked-mellanox commented on #1113
@jsquyres - the issue is fixed in https://github.com/open-mpi/ompi-release/pull/748#issuecomment-155028370

[2015-11-09 18:37] jsquyres commented on #1113
Got it; thanks @miked-mellanox

[2015-11-09 18:38] jsquyres commented on #1113
Re-opening: @miked-mellanox the PR you cite is for v1.10.  This valgrind issue came up on a PR for v2.x.

[2015-11-09 18:42] miked-mellanox commented on #1113
@jsquyres -PR #747 referenced in this ticket has v1.10.0 label. probably wrong PR number?

[2015-11-09 18:45] jsquyres commented on #1113
I had the wrong link at first, sorry -- it's open-mpi/ompi-release#747.

[2015-11-09 18:50] miked-mellanox commented on #1113
the valgrind errors failing this PR are as following and unrelated to SHMEM:

[code]

[2015-11-09 18:52] miked-mellanox commented on #1113
@jsquyres - it was my mistake to post SHMEM related valgrind output which was belonging to other PR. This ticket can be closed, and new open opened for pmixX valgring errors from PR https://github.com/open-mpi/ompi-release/pull/747

[2015-11-09 19:04] jsquyres commented on #1113
Ok, got it -- there are actual valgrind issues for open-mpi/ompi-release#747.

But isn't there also an oshmem valgrind issue?  I.e., is this issue still valid?

[2015-11-09 19:09] miked-mellanox commented on #1113
oshmem valgrind issue exists only in v1.10 (pr submitted), we forgot to port fix from master :(

[2015-11-09 19:17] jsquyres commented on #1113
Ah, ok -- it was just an errant paste.  Now I got it.  :smile: Ok, I'll close this.  Thanks!

[2015-11-09 19:17] #1113 closed

[2015-11-10 02:35] ggouaillardet commented on #1112
@hppritcha same thing on a RHEL7 like box
@marksantcroos i fixed that in open-mpi/ompi@c415ecf39e91fe87705cbd4f18265ba91fe6a30c

[2015-11-10 07:49] marksantcroos opened #1116 "segfault in orte_get_proc_hostname with orte-submit"
Another segfault I repeatedly hit when doing large runs:

[code]

[2015-11-10 10:28] marksantcroos commented on #1116
Although the segfault should not happen of course, it was obfuscating the fact that tcp connection failed as the call is from:
https://github.com/open-mpi/ompi/blob/master/orte/mca/oob/tcp/oob_tcp_connection.c#L288

[2015-11-10 14:10] jsquyres opened #1117 "Using memory after free"
As noticed by Jenkins / @miked-mellanox in https://github.com/open-mpi/ompi-release/pull/747#issuecomment-155152968, there is a case of using memory after it has been freed in the v2.x branch (I notice that this is not occurring on master).  I'm able to replicate this problem in my own local setup with:

[code]

It doesn't seem to be causing problems with MTT runs, but we might be just getting luc

[2015-11-10 14:56] rhc54 commented on #1117
@jsquyres if it is solely on 2.x, then syncing the PMIx library with what is on trunk should resolve the problem. My guess is that 2.x is simply lagging behind the master in terms of pmix updates.

[2015-11-10 16:03] hppritcha commented on #1011
This was fixed by #1103 and similar PR on v2.x open-mpi/ompi-release#743

[2015-11-10 16:03] #1011 closed

[2015-11-10 17:06] rhc54 commented on #1116
I'll fix the segfault - the problem is probably that you are hitting a file descriptor limit on the machine. How many simultaneous orte-submit's are you running?

[2015-11-10 17:14] rhc54 commented on #1116
Addressed in https://github.com/open-mpi/ompi/pull/1119

[2015-11-10 17:16] jsquyres commented on #639
Per http://www.open-mpi.org/community/lists/devel/2015/11/18354.php, this is not a critical bug fix. Pushing to v1.10.3.

[2015-11-10 17:17] jsquyres commented on #576
Per http://www.open-mpi.org/community/lists/devel/2015/11/18354.php, this is not a critical bug fix. Pushing to v1.10.3.

[2015-11-10 17:17] jsquyres commented on #1009
Per http://www.open-mpi.org/community/lists/devel/2015/11/18354.php, this is not a critical bug fix. Pushing to v1.10.3.

[2015-11-10 18:33] jsquyres commented on #1116
Might as well close this so that we don't accidentally let it dangle.

[2015-11-10 18:33] #1116 closed

[2015-11-10 20:12] marksantcroos commented on #1112
Thanks!

[2015-11-10 20:12] #1112 closed

[2015-11-10 20:34] masteele opened #1122 "/usr conflicts with RH 7/7.1"
The following has been observed as of RH 7, when installing the RPM:

Transaction check error: file /usr/bin from install of openmpi-1.8.4-1.x86_64 conflicts with file from package filesystem-3.2-18.el7.x86_64 file /usr/lib64 from install of openmpi-1.8.4-1.x86_64 conflicts with file from package filesystem-3.2-18.el7.x86_64

[2015-11-10 20:38] marksantcroos commented on #1116
Yeah, could be.

I'm also investigating a 2% failure rate on orte-submit where it just returns 1 but no further hints. Now playing with rml_base_verbose and oob_base_verbose to find clues.

[2015-11-11 09:27] ggouaillardet commented on #1122
see http://www.open-mpi.org/community/lists/users/2015/11/27970.php

[2015-11-11 10:02] marksantcroos opened #1123 "orte-submit connection failures"
As mentioned in #1116 I see frequent startup failures from orte-submit where it returns -1.

The complete output from a failed orte-submit is:
[code]

And the excerpt from the orte-dvm log:
[code]

[for my own bookkeeping: rp.session.titan-ext7.marksant1.016750.0001-pilot.0000]

[2015-11-11 12:36] loveshack commented on #1093
This is a duplicate of #475, but I don't know how to deal with that in this system.

[2015-11-11 16:02] jsquyres commented on #1093
We'll just close it with the "duplicate" label.  The comment that this is a dup to #475 is good enough.

[2015-11-11 16:02] #1093 closed

[2015-11-12 05:25] rhc54 commented on #1123
Hmmm...looks to me like the two procs are getting out of sync on validating the connection, and so both drop it. I'll have to poke into it after Thanksgiving, I fear. If you are feeling brave, you are welcome to look at the connection handshake. I suspect there is a lingering race condition there somewhere.

[2015-11-12 10:18] ggouaillardet commented on #1122
Should be fixed in open-mpi/ompi@6ab32895825ed7ecf8bb7563f75a27962fa6b426

[2015-11-12 14:03] jsquyres commented on #1087
Yeah, `support->membind->set_area_membind` is what we already check in OMPI.

I'll update the warning message to what I showed above (https://github.com/open-mpi/ompi/issues/1087#issuecomment-153442269), but I won't be able to get to this until after SC / the US Thanksgiving holiday.

[2015-11-12 16:09] rolfv commented on #1077
I just walked through this error in the debugger and the error happens when trying to call ibv_post_send() at line 157 in btl_openib_get.c.  We return an error and then keep trying over and over but keep getting the error so it looks like a hang.  Still digging but figured I would report this now.

[2015-11-12 16:17] hjelmn commented on #1077
Hmm, interesting. What is the error code?

[2015-11-12 18:03] rolfv commented on #1077
The error code is 22. I am also going to try on another cluster to see if maybe my cluster is the problem.

[2015-11-12 18:13] hjelmn commented on #1077
Huh, invalid argument. Weird. Let me try running again on a mlx cluster here and see if I get anything similar.

[2015-11-12 18:13] hjelmn commented on #1077
Opps, did not mean to close

[2015-11-12 20:49] rolfv commented on #1077
I just reproduced this identical issue on a second cluster. I am getting the error 22 back.

[2015-11-12 21:29] rolfv commented on #1077
Another data point is that the error happens when the call to mca_btl_openib_get_internal() is made from mca_btl_openib_atomic_internal(). If the call to mca_btl_openib_get_internal() is made from somethere else, we do not get the error.  Specifically, it is from here.
[code]

[2015-11-12 21:36] hjelmn commented on #1077
Weird. What does ibv_devinfo -v say?

[2015-11-12 21:38] rolfv commented on #1077
[code]

[2015-11-13 15:51] rolfv commented on #1077
So this made be obvious, but if I go into opal/include/opal_config.h after running configure but before building and change HAVE_DECL_IBV_ATOMIC_HCA from a 1 to a 0 and then build, the tests pass.

[2015-11-13 16:56] hjelmn commented on #1077
Yeah, that will disable osc/rdma because it requires the btl to provide atomics.

[2015-11-13 21:15] hjelmn commented on #1077
Is there any way I can get access to the system? I can not get c_accumulate, etc to fail on my mlx4 systems.

[2015-11-14 12:50] marksantcroos opened #1132 "node sorting with alps"
Hi @rhc54, how about a trip down memory lane? :-)

You remember the context of the sorting in 0660221?
If so, is it still required?

I have been banging my head over some task misplacement and it turned out that the PLM and the RAS have a different notion of the daemon ordering.

The sorting code has gone over a couple of iterations, but if I disable the sorting in the current version of ALPS RAS

[2015-11-14 15:52] rhc54 commented on #1132
The root cause was indeed the difference in understanding of order between PLM and RAS in systems where the selected components are different between those two frameworks. So if you are using the tm component in RAS and alps component in PLM, then you could get the problem.

If you are using the same type of component in both places, then you shouldn't need to do it. I honestly haven't thoroughly

[2015-11-14 16:09] marksantcroos commented on #1132
The joy of (leaky) abstractions.

Once I grasp the mapping I might be able to offer a suggestion too.

[2015-11-14 23:42] hppritcha commented on #1117
Looks like 7434c476 and 30ba00e0  and it looks like there's some activity in 267ca8fc as well that should be brought over.  Looks like there are multiple commits in pr #969 that need to come over.

I think we're going to need to do an audit soon of all the pmix/ompi pmix associated code commits on master that have not made it in to v2.x yet.  Otherwise what's going to start happening is we find so

[2015-11-14 23:53] rhc54 commented on #1117
agreed. I plan to provide a PR that will include the final PMIx 1.1.0 release, plus any associated changes.

[2015-11-18 20:55] masteele opened #1136 "Linpack runs become defunct processes under SLES 12 x86_64"
Running Linpack with OpenMPI 1.8.5 under SLES 12 x86_64, multiple systems were left with xhpl processes showing up as defunct. There appears to be an issue with the dead child processes not being reaped by the parent.

[2015-11-18 22:00] masteele commented on #1136
The runs completed normally - a process list from an affected node follows:

[Sep-28-2015 07:45:46] #e1350 <wray95u> root     23526  0.0  0.0 148796  4208 ?        Sl   Sep27   0:00  \_ /usr/bin/mpirun --allow-run-as-root -n 24 -machinefile /cluster/linpack/results/n602/machine.list -mca btl sm,self --mca pml ob1 /cluster/linpack/intel/sles12/xhpl
[Sep-28-2015 07:45:46] #e1350 <wray95u> root     2

[2015-11-19 16:03] hjelmn commented on #1077
Ok, this is screwy. I think the mlx5 driver lies about atomic support. From what I can tell the HCA is advertising IBV_ATOMIC_HCA but the driver and libmlx5 both have code what states: "Atomic operations are not supported yet". The problem is that path returns ENOSYS not EINVAL. Will keep digging.

[2015-11-19 22:46] hjelmn commented on #1077
I talked to Mellanox today. The problem is that with mlx5 the atomic result is returned in network byte order. Because of this they disabled the atomics when using ibv_post_send. It is possible to use the atomics if verbs extensions are installed and ibv_exp_post_send is used. I am coding up a fix to enable the atomics when they are available. Should have it ready in the next day or so.

[2015-11-19 23:06] rolfv commented on #1077
Interesting and tricky bug to figure out. Thanks for tracking this down Nathan.

[2015-11-20 14:36] loveshack opened #1141 "corrected/expanded message about shmem temporary directory"
This came up on the mail list.  I've noticed it before, and should have reported it.
opal_tmp_directory looks for TMPDIR, as it should on Unix-y systems, not TEMPDIR.
It seems worth mentioning the MCA parameter too.

[code]

[2015-11-21 12:31] astrung opened #1142 "Where can i find a report paper for analyzing MPI complexity???"
When i tried to find some papers for analyzing MPI complexity, i get only some papers about one of collective algorithms(About only All-to-all,etc,...)But i want to find some paper which report all of collective algorithms.Where can i find some papers like that??

[2015-11-22 04:00] rhc54 commented on #1009
As commented on https://github.com/open-mpi/ompi-release/pull/664, the identified behavior is indeed the specified one, so this issue has been corrected.

[2015-11-22 04:00] #1009 closed

[2015-11-23 08:15] artpol84 opened #1145 "Race condition with ring_c.c"
@hjelmn @rhc54  @miked-mellanox @jladd-mlnx (please, include others who may be involved)
Hello,
I'm seeing rear hangs (one for several hundreds of runs) of ring_c.c application from examples when running at medium scale (1792 - 3584 processes).
I'm using SLURM direct launch (testing PMIx component). This problem appears both with PMI2 and PMIx SLURM plugins so I don't think that it is related to t

[2015-11-23 17:33] artpol84 commented on #1145
Update: it turns out that I was using older ompi version (Nov 10). So I'll rerun my tests tomorrow to see if the race condition remains. So far 400 runs was successful while with older version ~150 runs was enough to trigger the problem.

[2015-11-23 22:12] noahv opened #1146 "orcm OPAL_PREFIX and LD_LIBRARY_PATH conflicts with open-mpi"
# Description of problem

ORCM OPAL_PREFIX and LD_LIBRARY_PATH conflicts with openmpi.

If we install orcm to the default location then none of the environment settings are needed.

If we install somewhere else then we will need to set up the environment so that orcm can find the needed libraries.

OPAL_PREFIX in particular breaks openmpi runs.

# Version-Release number of selected component (if a

[2015-11-23 23:14] hjelmn commented on #1077
Got it working. osc/rdma should be good to go once #1447 is in 2.0.0.

[2015-11-23 23:19] hjelmn opened #1148 "mlx5 atomics not supported"
mlx5 HCAs return their atomic results in network byte order. Because of this Mellanox disables atomics when using OFA verbs. It is possible to re-enable the atomics if Mellanox verbs extensions are in use.

#1147 makes the necessary changes. It will enable atomics on mlx5 if the verbs extensions are detected and will disable atomic support otherwise.

@hppritcha Will have the 2.0.0 PR open once th

[2015-11-24 02:27] rhc54 commented on #1146
@noahv In production, how are you setting the OPAL_foo values? Are you using lmod or some other method? Or is the user expected to set those for themselves?

[2015-11-24 16:04] #1077 closed

[2015-11-24 17:33] #576 closed

[2015-11-24 17:50] noahv commented on #1146
Hi Ralph,

We don't set the OPAL_foo values at all.  The elf RUNPATH header will be set at compile time to point to the library install path:

[code]

If relocation of the orcm install is needed, you can re-configure with a different --prefix= option.

[2015-11-25 12:11] bphusted commented on #251
@jsquyres Thanks for the clarification.
I just compiled openmpi 1.8.8 with the intel 16 compiler. The warnings also appears here during linking of my "own" program, but using -lopen-rte -lopen-pal on the command line made them disappear.
I think the issue can be closed.

[2015-11-25 12:11] #251 closed

[2015-11-25 12:11] artpol84 commented on #1145
@hjelmn @rhc54 @miked-mellanox @jladd-mlnx
Looks like the problem still exists. I'm running ring_c with both openib and tcp. So far one more hang with almost the same symptoms was noticed (launch was under PMI2 plugin). The important difference is that message is **equal to 9**! This means that one round of communication was finished **successful** and PMIx framework has done it's job well.

Here

[2015-11-25 14:24] rhc54 commented on #1145
@artpol84 If you get the chance, could you rerun the chance with the sm BTL in place of vader? I recently had someone tell me that vader was exhibiting a race condition under stress - it could be that this is what you are seeing.

[2015-11-25 14:28] artpol84 commented on #1145
Got that. Will try to do tomorrow.

среда, 25 ноября 2015 г. пользователь rhc54 написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2015-11-25 16:16] eschnett opened #1152 "MPI_Testsome returning `MPI_UNDEFINED` not documented"
I am using OpenMPI 1.10.1 on OS X, installed via Macports. The man page of `MPI_Waitsome` documents that `outcount` can be `MPI_UNDEFINED`, but the man page of `MPI_Testsome` does not document this.

[2015-11-25 16:21] eschnett opened #1153 "`MPI_Waitsome` and `MPI_Testsome` don't document `statuses` array"
`MPI_Waitsome` and `MPI_Testsome` do not document in their man page how the `statuses` array is defined. It is unclear whether `status[i]` corresponds to the `i`th request that was passed in, or whether it corresponds to the `i`th request that completed.

The MPI standard says "Returns in the first outcount locations of the array array_of_status the status for these completed operations." A simila

[2015-11-25 16:37] bosilca commented on #1153
The man page for Waitsome published online (which is supposed to map one to
one with the man pages that are installed by a specific version) clearly
mention how the statuses are defined (first paragraph).

https://www.open-mpi.org/doc/v1.10/man3/MPI_Waitsome.3.php

The man page for Testsome refers back to Waitsome,  so that could be
improved.  However, it does mention in the first paragraph the re

[2015-11-26 16:11] marksantcroos commented on #1123
So, I took the dive :)

However, it looks like it is not a single problem, or at least it doesn't show up as a single issue, as after instrumenting the code I hit different error scenarios.

I'm also not sure if the fix would be easy, as it seems to boil down to socket/tcp system limits on the orte-dvm side.

Would this issue be enough of an excuse to pick up the discussion we had about a single/p

[2015-11-26 16:26] rhc54 commented on #1123
Hmmmm....it's been awhile, so let's quickly review the situation. You have a workflow orchestrator that is launching lots and lots of orte-submit jobs in parallel, yes? When that happens, you start hitting socket limits on the orte-dvm.

If that is true, then the question becomes: can the orchestrator open the socket to the dvm and just submit lots of parallel execution requests? The answer is of

[2015-11-26 16:43] marksantcroos commented on #1123
ACK. In an ideal world we would have a couple of those orchestrators for load balancing purposes, but still a (couple of) order(s) of magnitude less than we have orte-submits now.

Right. Although the code base is python, we would like to get rid of this central "exec()" per orte-submit.
Consequently, I'm willing to take the complexity overhead of using some wrapper mechanism to be able to call C

[2015-11-26 16:52] rhc54 commented on #1123
Okay, that helps a lot - thanks! Going to PMIx_Spawn is possible provided the orchestrator is on the same node as the orte-dvm process, so that might be a possibility. It would require a slight mod to PMIx as right now it only allows connection from one of its own children.

I suppose one possibility would be to have orte-dvm fork/exec your orchestrator when it starts up. This would resolve the pr

[2015-11-26 18:23] marksantcroos commented on #1123
That will generally not be the case in practice, so that would rule that path out.

This is the scenario earlier labeled as a direct library call, right? Or is this yet another scenario?

Assuming I would have all the information to do so, that looks like an acceptable compromise.
Getting rid of the many TCP connections and all the exec()'s is a worthy goal.

Ok, so from that perspective not using

[2015-11-26 18:51] rhc54 commented on #1123
Okay, sounds like the direct library call to orte_plm.spawn is the way to go. This is actually all that orte-submit does - if you look at orte/tools/orte-submit/orte-submit.c, you'll see that all it does is parse the cmd line to create the orte_job_t (which contains the full description of the app you want launched) and then it calls orte_plm.spawn.

So I could give you two options:

* you could i

[2015-11-26 18:58] marksantcroos commented on #1123
I also need some control over node placement, core count and environment, but I guess that could still be exposed on the orte-submit library call. The more that is done on the C level the better, from both simplicity and performance.

How involved is it to separate the TCP level and the plm level code?

[2015-11-26 19:19] rhc54 commented on #1123
It would be pretty hard to separate the two without making you wrap an awful lot of code. Node placement and core count are already exposed on the orte-submit cmd line, so nothing different would need be done there. We could add a param that would allow passing of the environment - perhaps something like this:

[code]
where the cmd line looks just like the orte-submit cmd line, and the environment

[2015-11-26 19:20] rhc54 commented on #1123
Crud - they ate my brackets. The envar param is var=value:var2=value2 form

[2015-11-26 19:21] rhc54 commented on #1123
I guess we'd also need a way for me to tell you when that application had completed - we normally use a callback function, but that might be hard to wrap. Do you want to do this threaded, and have the orte_submit function block until the application completes? Or do you have some other mechanism in mind?

[2015-11-26 19:33] marksantcroos commented on #1123
That sounds ok. I assume you propose this as the cmd_line is parsed at the other side anyway?

Hmm, I'm not sure if we are talking about the same thing now. My question was more how much work this would be in general, apart from the python discussion.

I'm assuming we will have to separate the TCP and plm stuff, otherwise we still end up with a TCP connection per task, or am I missing something no

[2015-11-26 19:46] rhc54 commented on #1123
Let me clarify. The cmd line is currently parsed by the orte-submit tool and the results of that parsing are put in an orte_job_t object. This object is then passed to orte_plm.spawn(orte_job_t*), which opens a socket to orte-dvm and sends the object across. The DVM then executes it and sends back a message when the app is complete.

What I'm proposing is that your orchestrator call orte_submit wi

[2015-11-26 20:11] marksantcroos commented on #1123
Right, my question was about how easy it is to re-use the socket.

[2015-11-26 20:16] marksantcroos commented on #1123
So how would this practically work? Would there only be an orte-submit() function that sets up the socket things the first time it gets called and creates some kind of singleton? All consecutive orte-submit() calls would then reuse that? Or will we first setup the connection and pass those details to orte-submit()?

Does general OMPI architecture dictate any form over the other? Is this already in

[2015-11-26 21:02] rhc54 commented on #1123
I have to create the orte_submit() function, but the rest of it is already in place. The first call to orte_submit would cause a call to orte_init to setup the communication system and connect to orte-dvm. After that, it would just keep sending job objects to orte-dvm.

So you would only need to wrap the orte_submit() function, and handle the callback. Everything else would be taken care of under

[2015-11-26 21:45] marksantcroos commented on #1123
Ok, that sounds good.

And possibly also less work than debugging the TCP issues. And more future-proof for sure!

[2015-11-27 14:27] astrung commented on #1142
Can someone give any hints for me???

[2015-11-27 15:52] igor-ivanov opened #1155 "Incompleted information about MCA vars"
I have observed that ompi/master and ompi-release/v2.x report incompleted MCA variables output using oshmem_info tool.
**v1.10**
[code]
**master/v2.x**
[code]
After investigation I found out that following small change make it is workable (this line exists in v1.10 but does not in master/v2.x)
[code]

I would like @hjelmn or @rhc54 look at this and comment.

[2015-11-27 16:57] hjelmn commented on #1155
Nope. That line in gone for a reason. The problem is in oshmem somewhere. I will take a look in a bit.

[2015-11-27 18:28] artpol84 opened #1156 "openib issue when mpi_add_procs_cutoff=0"
@rhc54 @hjelmn @jladd-mlnx

Hello, I'm moving my findings from PMIx PR discussion (https://github.com/pmix/master/pull/16) since it seems to be an OMPI problem.
Here is the description (I first saw this problem with NPB LU test and then was able to extract a simple reproducer):
* **tcp** BTL works well with both **NPB.LU** and the **reproducer** (posted below) in all combinations of **cutoff**/**a

[2015-11-29 10:09] ggouaillardet commented on #1142
feel free to browse the mailing list, that was answered not so long ago.
ompi_info --all | grep algo
should list the available algorithms.
the ultimate source of information is the code itself ompi/mca/coll/tuned with the v1.10 series.
generally speaking, you are much more likely to get a quick reply if you post to the users mailing list.

[2015-11-29 12:31] astrung commented on #1142
@ggouaillardet I have known about for available algorithms,but i need a report paper for complexity of available algorithms-not about using it

[2015-11-30 05:26] artpol84 commented on #1145
Update: it hangs with sm as well.

[2015-11-30 18:08] hppritcha commented on #1094
this has been deemed not a blocker by the v2.0.0 RMs

[2015-11-30 18:56] jsquyres opened #1159 "Update shared library version numbers for v2.0.0"
This needs to be done before v2.0.0 is released.

[2015-11-30 19:01] jsquyres commented on #1153
@eschnett Are you asking about an older version of the man page, perchance?  @bosilca is describing the man page for v1.10.1.

[2015-11-30 19:03] jsquyres commented on #1094
@hjelmn Can you make a strong argument for this for v2.0.0?  @hppritcha's and my gut feeling is that we should be closing the door on major new features for v2.0.0 and push this one off to v2.1.0.

[2015-11-30 19:13] hjelmn commented on #1094
Depends. What is the timeframe for v2.1.0? If it is guaranteed to be before we June I see no problem with pushing this off the v2.1.0. If not I think this should be in v2.0.0 since right now the mpool and rcache design is completely broken by the btl move. The old mpool=blah info key stuff is broken (works in v1.10).

The only issue with this PR is I haven't been able to reproduce the Mellanox fai

[2015-11-30 19:41] jsquyres commented on #1094
I don't think we can *guarantee* before June, but I would certainly hope it is before June.

[2015-11-30 20:14] jsquyres commented on #1094
I should clarify/soften my previous comment: I only say "I don't think we can *guarantee* [v2.1] before June..." simply because I can't predict the future.  I'm unaware of any specific issues that would prevent a v2.1 before June -- I just don't want to commit/promise it this far out.

[2015-11-30 20:45] eschnett commented on #1153
@jsquyres I have OpenMPI 1.10.1 installed on my OSX system via Macports. I believe I am looking at the `MPI_Testsome` manpage from this version of OpenMPI. This is the page: <https://gist.github.com/eschnett/584ff4f94ed58dc09d8d>. I see that this page is different from <https://www.open-mpi.org/doc/v1.10/man3/MPI_Testsome.3.php>.

By the way, the page <https://www.open-mpi.org/doc/> contains a poi

[2015-11-30 20:49] bosilca commented on #1142
As @ggouaillardet indicated we had a similar discussion on the [Open MPI mailing list](http://www.open-mpi.org/community/lists/users/2015/09/27719.php) end of September. In addition to the following links, I strongly suggest to dig for more answers on [Google Scholar](https://scholar.google.com/).
1. http://dl.acm.org/citation.cfm?doid=2751205.2751216
2. http://icl.cs.utk.edu/projectsfiles/rib/pub

[2015-11-30 21:09] rhc54 commented on #1146
I believe I have this fixed - what do you think of the following change:

[code]

[2015-11-30 21:18] #1142 closed

[2015-11-30 22:45] jsquyres opened #1162 "Atomics broken on ARMv5"
Per @pterjan note on fe093556f75aa3af5fdb79d46e8b486823e52208:

This breaks openmpi builds in other cases as it is used in various places:

[code]

When compiling on armv5 I get:

[code]

[2015-11-30 22:49] jsquyres commented on #1153
@eschnett Oops -- fixed the /v1.10/ pages to be v1.10.1 man pages.

So I think this issue is boiling down to: the `MPI_Waitsome(3)` page doesn't specify how the OUT values are defined (instead, it refers to the `MPI_Testsome(3)` page, which *does* specify how the OUT values are defined).

I could go either way: should we update `MPI_Waitsome(3)` to redundantly specify the OUT values?  Or just leav

[2015-12-01 01:01] eschnett commented on #1153
My personal preference is for duplicating the information, as I'd expect man pages to be independent.

[2015-12-01 05:18] ggouaillardet commented on #1156
@artpol84 did open-mpi/ompi@8227bc6 fix that issue ?

[2015-12-01 10:49] artpol84 commented on #1156
@hjelmn @ggouaillardet @rhc54
**Update**:
I've tried to check if problem remains with all recent fixes that seems to be related to the problem:
a) recent master 324534b191bf6e1ff6e79f6128dd856bd8c67101 (that includes https://github.com/open-mpi/ompi/commit/8227bc6);
b) rebased against https://github.com/open-mpi/ompi/pull/1163;
c) rebased against https://github.com/open-mpi/ompi/pull/1164;
d) reba

[2015-12-01 10:57] artpol84 commented on #1156
@rhc54 @ggouaillardet @hjelmn
The problem is only triggered when `cutoff=0` is set, `async_modex=1` doesn't brake anything.

@rhc54 Note, that if I set `async_modex=1` with PMI2 application fails with lots of:
[code]

The reason is clear - PMI2 doesn't support async modex, however the behavior in this case should be clearer for the user: We should trat this as a conflict and spit clear error or dr

[2015-12-01 14:29] jsquyres opened #1170 "Remove OSHMEM Java bindings"
Per https://github.com/open-mpi/ompi-release/pull/787, remove the OSHMEM Java bindings (no one appears to be using them, and no one is interested in maintaining them -- case in point: they're already drifting out of sync with the C and Fortran OSHMEM bindings).

@miked-mellanox @igor-ivanov

[2015-12-01 14:50] igor-ivanov commented on #1170
@jsquyres just to check: remove from master and v2.x?

[2015-12-01 14:55] jsquyres commented on #1170
@igor-ivanov I think so.  Definitely from v2.x so that no users see them in v2.0.0.  And since no one is interested in them at all, we might as well remove them from master.  Do you agree?

[2015-12-01 15:03] igor-ivanov commented on #1170
@jsquyres agree, will remove from master and v2.x

[2015-12-01 15:13] jsquyres commented on #1170
@igor-ivanov Sweet; many thanks.

[2015-12-01 16:24] jsquyres commented on #869
This was fixed by open-mpi/ompi-release#766

[2015-12-01 16:24] #869 closed

[2015-12-01 16:24] jsquyres opened #1172 "Add NEWS bullets for v2.0.0"

[2015-12-01 16:50] hjelmn commented on #1156
Looks like its exhausting receive fragments. How are your free lists configured in the openib btl? ompi_info -a | grep btl_openib_free_list

[2015-12-01 16:56] artpol84 commented on #1156
@hjelmn
[code]

[2015-12-01 16:57] hjelmn commented on #1156
That should be plenty. Is this on a power system or x86?

[2015-12-01 16:58] artpol84 commented on #1156
x86

вторник, 1 декабря 2015 г. пользователь Nathan Hjelm написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2015-12-01 16:58] artpol84 commented on #1156
Can you see the bug with the reproducer?

вторник, 1 декабря 2015 г. пользователь Artem Polyakov написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2015-12-01 17:05] hjelmn commented on #1156
i won't be able to try until next week. This could be a problem with per-peer receive queues. We don't run with them because they 1) provide very little in terms of performance, and 2) waste memory. Can you try running without the per-peer queues and see if that helps?

[2015-12-01 17:07] artpol84 commented on #1156
Sure, can you tell me how can set this? OMPI parameter?

вторник, 1 декабря 2015 г. пользователь Nathan Hjelm написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2015-12-01 17:08] hjelmn commented on #1156
Add -mca btl_openib_receive_queues S,12288,128,64,32:S,65536,128,64,32 to mpirun.

[2015-12-01 19:35] noahv commented on #1146
Looks great.  Thanks!  -- Noah

[2015-12-01 19:40] rhc54 commented on #1146
Kewl - committed it to the new ORCM repo at https://github.com/orcmteam/orcm

[2015-12-01 19:40] #1146 closed

[2015-12-01 19:46] jsquyres commented on #1155
@igor-ivanov @hjelmn This seems like a blocker bug for v2.0.0, right?

[2015-12-01 20:28] hppritcha commented on #1081
This is fixed by PR open-mpi/ompi-release#796

[2015-12-01 20:28] #1081 closed

[2015-12-01 21:02] hjelmn commented on #1155
Yeah, its a weird one. I will not have time to look at it until next week though. Probably can solve it on Monday.

[2015-12-02 06:08] artpol84 opened #1174 "MPICH large_type_sendrec hangs with TCP BTL"
@bosilca @rhc54 @jsquyres

I see 100% reproducable hangs of the `large_type_sendrec` test. As far as I can tell, in this test only first and last ranks are actually communicating, all others are just waiting in `MPI_Finalize()`.
This test has an agrument that says the power of 2 for the sen/recv buffer size. I see the following picture:

| argument | time |
| --- | --- |
| 30 | 13 s |
| 31 | 27 s

[2015-12-02 10:29] artpol84 commented on #1156
@hjelmn Indeed this has helped!
I will set this variable in my MTT tests. Why this setting is not a default in master?

[2015-12-02 10:39] artpol84 commented on #1156
@hjelmn
Am I right that this may affect not only `cutoff=0` runs? May it cause https://github.com/open-mpi/ompi/issues/1145 as well?

[2015-12-02 12:17] artpol84 opened #1175 "OMPI non-blocking p2p cancelation test"
I'm observing 100% reproducable hang of `cancelrecv.c` test from the MPICH test suite (`./test/mpi/pt2pt/cancelrecv.c`).
It happens with all combinations of BTLs (vader+tcp, vader+openib, vader) and the simplest configuration is one node and two processes.
I'm trying with different launchers: **mpirun**, **srun --mpi=pmi2**, **srun --mpi=pmix** with the same effect (different PMI implementations a

[2015-12-02 12:58] hjelmn commented on #1162
My guess is osc/pt2pt is to blame. I will update it in a bit.

[2015-12-02 18:46] hppritcha commented on #493
I'm removing blocker label, and changing to future.  This issue was really just serving as a placeholder for adding some thread safety tests.

[2015-12-02 18:48] hppritcha commented on #682
May get to this in a future v2.x release.  Depends a lot on adoption of OFI MTL and related components going forward for Cray XC systems.  The OFI GNI provider is abundantly thread-safe and may be a better route for **robust** support of MPI_THREAD_MULTIPLE going forward.

[2015-12-02 18:52] hppritcha commented on #668
this issue was closed by PR open-mpi/ompi-release#714

[2015-12-02 18:52] #668 closed

[2015-12-02 19:13] hppritcha commented on #1148
@hjelmn  can this be closed now that open-mpi/ompi-release#783 has been merged?

[2015-12-02 19:26] hjelmn commented on #1148
yup

[2015-12-02 19:26] #1148 closed

[2015-12-02 20:36] hppritcha commented on #1020
@yburette It looks like 8bf1c95 needs to be PR'd over to ompi-release?

[2015-12-02 20:37] hppritcha commented on #804
should the milestone for this issue be moved to v2.x?

[2015-12-02 23:26] bosilca commented on #1175
Despite what the test name indicates it cancel both sends and receives. As we do not support send cancelling this test deadlocks.

[2015-12-03 00:13] bosilca commented on #1174
I can reliably reproduce this on OS X. The problem is that the datatype engine identifies the buffer as contiguous, and passes the entire 2^32 bytes buffer to writev. The OS X [writev man page](https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man2/write.2.html)  does highlight that the sum of iov_len values in the iov array should not overflows a 32-bit integer, whic

[2015-12-03 00:16] yburette commented on #1020
@hppritcha You're right. Do you want me to create PRs for both v1.10 and v2.x?

[2015-12-03 01:54] artpol84 commented on #1174
Mine is on RHEL.

четверг, 3 декабря 2015 г. пользователь bosilca написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2015-12-03 01:59] artpol84 commented on #1175
So this is expected behavior and I should just exclude this from MTT?

[2015-12-03 02:16] bosilca commented on #1174
What is the man page of writev saying about the cases where EINVAL is returned ?

[2015-12-03 02:17] bosilca commented on #1175
The only other option I see is to propose a patch to correctly handle cancel of sends operations.

[2015-12-03 02:21] artpol84 commented on #1174
[code]

[2015-12-03 02:23] artpol84 commented on #1174
`sizeof(ssize_t) = 8` on my system. So 2^32 shouldn't be a problem.

[2015-12-03 02:36] bosilca commented on #1174
Set a breakpoint in btl_tcp_frag.c line 132 on your last rank. Once it triggers look at the content of the iov and access all elements (all iov_count as well as the first and last element of each iov_base).

[2015-12-03 05:41] artpol84 commented on #1174
@bosilca
this line: https://github.com/open-mpi/ompi/blob/master/opal/mca/btl/tcp/btl_tcp_frag.c#L132 never triggers. Note, that rank 0 is actually sending the data and rank 1 (in case of 2 procs) is receiver.
When I put a breakpoint on https://github.com/open-mpi/ompi/blob/master/opal/mca/btl/tcp/btl_tcp_frag.c#L117 it indeed has triggered in rank 1, return value was > 0 and iov content was the f

[2015-12-03 05:46] ggouaillardet commented on #1174
@artpol84 looks like an overflow ... i am now testing this
[code]

[2015-12-03 06:14] ggouaillardet commented on #1174
@artpol84 @bosilca
here is a better version but with printf debug
[code]

the program hangs ...
on the sender size, we kind of enter an infinite loop
writev(...,{iov_base=xxx,iov_len=1<<32},1) that always returns 0 (!)

this is a rhel6 cluster

[2015-12-03 06:24] artpol84 commented on #1174
@bosilca @ggouaillardet
I'm observing receiver side hang, sender sleeps in MPI_Finlaize();

[2015-12-03 06:25] ggouaillardet commented on #1174
fwiw, here is an additional patch that works for me
this is a quick and dirty proof of concept no one should use for real ...
if instead of one ```iov``` with ```iov_len``` = 1<<32 i use two ```iov``` with ```iov_len``` = 1<<31 it works (!)

[code]

[2015-12-03 06:27] ggouaillardet commented on #1174
@artpol84
the sender is hanging in MPI_Finalize because it think it sent the message ... but it did not
(see my second patch that fixes the overflow, so the sender do not incorrectly believe the message was sent)

[2015-12-03 08:45] artpol84 commented on #1174
@bosilca @ggouaillardet
I've made some more digging and found that since I have 2 TCP interfaces on the node the message was split onto 2 parts 2^31 each. And still I'm seeing hangs!
Also I see that `writev` returns way smaller bytecount (something like 200K) and according to the man page it returns bytes sent. I'll try to find out what happens.

[2015-12-03 09:09] artpol84 commented on #1174
@bosilca @ggouaillardet
please, ignore prev comment (about writev) - I missed that it is processed later.

[2015-12-03 10:07] ggouaillardet commented on #1174
i will double check that tomorrow, it seems i got confused with 1<<31 and 1<<32
And i might have two interfaces too ... (eth0 and ib0)

[2015-12-03 11:42] ggouaillardet commented on #1174
btw, the test works fine if running on one node with ```--mca btl tcp,self```
could we be hitting a limit specific to eth0 and/or ib0 ?

[2015-12-03 11:48] artpol84 commented on #1174
@bosilca @ggouaillardet
Gilles is right about his first patch. @ggouaillardet I suggest you to create a PR on it.
The reason why he saw the hang was here:
https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/ob1/pml_ob1_recvreq.c#L205

Second argument of `OPAL_THREAD_ADD_SIZE_T` is **wrong**:
[code]
`delta` is overflowing when we use buffers >= 2^31.
This macro is somtimes used to subtract 1

[2015-12-03 11:51] artpol84 commented on #1174
P.S. sorry, OPAL_THREAD_ADD_SIZE_T is not a macro. I mistyped coz it was written with capitals.

[2015-12-03 12:01] artpol84 commented on #1174
P.P.S
* BTW we had a problem here as well:
https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/ob1/pml_ob1_sendreq.c#L1134
* I've just checked: 2^34 and 2^35 works too with "No errors" message ;). I won't dare to try 2^36 coz it will take whole memory of my nodes :).

[2015-12-03 12:03] ggouaillardet commented on #1174
@artpol84 you meant my second patch (minus the printf) right ?
I can do the PR tomorrow, but feel free to do it now if you want.

[2015-12-03 12:04] artpol84 commented on #1174
Yep.

четверг, 3 декабря 2015 г. пользователь Gilles Gouaillardet написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2015-12-03 14:07] igor-ivanov commented on #1170
@jsquyres
v1.10.x does not have oshmem:JAVA
v2.x https://github.com/open-mpi/ompi-release/pull/787
master: https://github.com/open-mpi/ompi/pull/1176

[2015-12-03 15:20] hppritcha commented on #1020
Yes please do.  Thanks.

[2015-12-03 15:54] bosilca commented on #1174
https://github.com/open-mpi/ompi/pull/1177

[2015-12-03 16:37] yburette commented on #1020
OK, I created the PRs for both branches.

open-mpi/ompi-release#801
open-mpi/ompi-release#802

[2015-12-03 19:38] tkordenbrock commented on #1162
I don't have an armv5 to test on, but opal_atomic_cmpset_64 is defined in ARM.asm which means the fallback implementation of opal_atomic_add_64 in atomic_impl.h should work.  And the definition of OPAL_THREAD_ADD64 in mutex.h really only needs to be protected by OPAL_HAVE_ATOMIC_ADD_64.  So I think this patch should fix it.

diff --git a/opal/threads/mutex.h b/opal/threads/mutex.h
index d10eb93..b

[2015-12-03 19:38] jsquyres commented on #804
at this point, I think so.

[2015-12-03 19:53] bosilca commented on #804
I can create the PR now, but I was waiting for a decent period of time with this on master before.

[2015-12-03 19:57] jsquyres commented on #804
Your call.  If you think it's ready for v2.0.0, cool.  If you want to wait until v2.1.0, that's fine too.

[2015-12-03 19:58] bosilca commented on #804
it is gaining traction, I would rather prefer to have it in the official release, so that people will get access to it by default.

[2015-12-03 19:59] bosilca commented on #1174
It works for me in a variety of environments (all but OS X). Give it a try and let's move it upstream.

[2015-12-03 20:01] jsquyres commented on #1174
@bosilca Github pro tip: put "Fixes open-mpi/ompi#1174" in one of the commit messages, and it will auto-close this Github issue when the PR gets merged.

[2015-12-04 10:55] #1153 closed

[2015-12-04 21:02] hppritcha opened #1182 "ALPS PLM component should not be used when using Cray XC nativized SLURM"
SLURM has recently been enhanced with a set of plugins from Cray that allows for *srun* to be used for launching jobs on Cray XC systems.  However, for software wishing to obtain RDMA credentials to use the HSN, the ALPS query/library methods were retained.  This is fine, but it does cause issues if the ALPS PLM component is built.  *mpirun* attempts to use *aprun* to launch the *orted* daemons an

[2015-12-06 03:24] astrung commented on #1142
And which tools we can use for analyze for MPI performance??@bosilca,@ggouaillardet

[2015-12-07 00:49] ggouaillardet opened #1183 "treematch hang"
@bosilca the distgraph_test_4 test from the ibm test suite might hang depending on the machine topology.
with 4 mpi tasks, it works fine on a server with 2 sockets / 12 cores / 24 threads, but it hangs on my VM with 1 socket / 4 cores / 4 threads

the inlined topology can be used to evidence the issue

[code]

run as is

[code]

run with a simple topology

[code]

but this works fine without the t

[2015-12-07 00:51] kawashima-fj commented on #393
I agree that a barrier is not necessarily required in `MPI_WIN_FENCE` for the `MPI_MODE_NOPRECEDE` case. But my understanding is that some sort of synchronization is still required before starting succeeding RMA operations.

`MPI_WIN_FENCE` has four roles below regarding access/exposure epochs. These are explained in MPI-3.1 page 441 lines 9-15.

- complete the current access epoch (if any precedi

[2015-12-07 14:08] artpol84 opened #1185 "MPICH p2p failures"
I see MTT failures for the following tests:
* **bsend2**
* **bsendalign**
* **bsend5**
* **cancelrecv** (addressed in Issue https://github.com/open-mpi/ompi/issues/1175)
* **icsend** (addressed in PR https://github.com/open-mpi/ompi/pull/1184)

The rest of the tests seems to have same problem: **hang**. It can be observed with **pml/ob1**, **btl/[tcp,openib]**, if I use **pml/yalla** (mxm) I see n

[2015-12-07 20:13] hjelmn commented on #1185
Weird. I will take a look and see why buffered sends are not working correctly.

[2015-12-07 21:01] hjelmn commented on #1185
Can't get either bsend2 or bsendalign to hang on my mac. bsend5 does hang however.

[2015-12-07 22:02] hppritcha commented on #1172
How verbose do we want to be here:

```git shortlog --no-merges v2.x --not v1.10```

returns 6274 lines of output.

[2015-12-07 22:26] hjelmn commented on #1185
Scratch that. I can reproduce on a different mac with bsend2. Looking at it now.

[2015-12-08 00:14] hjelmn commented on #1185
Ok, was a problem with my firewall. All those tests pass with -mca btl self,tcp

[2015-12-08 00:22] hjelmn commented on #1185
Hah, well. I was running with a single change. Can you try with this patch?

[code]

[2015-12-08 04:28] artpol84 commented on #1185
@hjelmn With this patch all those tests works well. Thank you.

[2015-12-08 05:33] hjelmn commented on #1185
Not sure how MTT missed this. Seems to only trigger under specific circumstances. Thanks for reporting this. Will patch 1.10.2 and 2.x.

[2015-12-08 06:09] #1185 closed

[2015-12-08 12:57] artpol84 commented on #1185
I've caught this with MTT and it was 100% reproducible. Master MTT must be
revisited.

вторник, 8 декабря 2015 г. пользователь Nathan Hjelm написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2015-12-08 13:13] rhc54 commented on #1185
I believe the reason is simply that the current MTT's being run each night are using the IBM and Intel test suites, and not the MPICH test suite - which is what @artpol84 is using.

[2015-12-08 13:37] keithbennett opened #1191 "Subarray type creation broken for 3D arrays"
As of version 1.10.1, the creation of 3d subarrays no longer works. It was working without issue in 1.10.0. The following fortran code illustrates the problem. It should be run using 4 processes.

[code]

[2015-12-08 14:08] jsquyres commented on #1172
I usually look at the git logs and pull out the user-visible changes.  If the commits are not visible to the user, we don't bother listing them in NEWS.  Admittedly, this is sometimes subjective.

[2015-12-08 17:14] hppritcha commented on #1170
This was closed by open-mpi/ompi-release#787.

[2015-12-08 17:14] #1170 closed

[2015-12-08 17:15] hppritcha commented on #1020
fixed with cited PRs.  closing.

[2015-12-08 17:15] #1020 closed

[2015-12-08 20:19] hppritcha commented on #1182
Related to #1195

[2015-12-09 00:33] hppritcha commented on #1191
@keithbennett just in case its important. which fortran compiler are you using?

[2015-12-09 00:37] hppritcha commented on #1191
this test fails with master as well using gfortran 4.9.2.  The test passes with craypich/mpich.

[2015-12-09 03:06] bosilca commented on #1183
@ggouaillardet  a quick look at the test seems to indicate that the test is broken. On my machine the test does not deadlock or segfault, but instead it triggers a nice MPI abort due to a wrong argument in MPI_Dist_graph_create.

If I look how this function is called, for cnt = 9 I have:
[code]
The last destination is clearly wrong (larger than the number of nodes), but should be valid as the tota

[2015-12-09 12:57] keithbennett commented on #1191
I've tried using both gfortran-5.2.1 and Intel's ifort-13.1.1. Both give the same results.

[2015-12-09 16:41] hppritcha commented on #1064
@rhc54 is this something you can get to in the next week or two?  Or would it be okay for this to wait till a post rc1 for 2.0.0?

[2015-12-09 16:47] hppritcha commented on #1156
where are we with this issue?

[2015-12-09 16:53] rhc54 commented on #1064
@hppritcha I think @igor-ivanov et al have got this in reasonable shape, but we are still wrestling with the libevent duplicate symbol question. So I'd say push to post rc1 is fine

[2015-12-09 19:38] hjelmn commented on #1155
Found the bug. Will discuss with Jeff in a bit then submit the fix.

[2015-12-09 21:56] jsquyres opened #1198 "Test failures with BigMPI"
@jhammond's BigMPI project (https://github.com/jeffhammond/BigMPI) fails several checks with Open MPI / master:

* test_reduce_x
* test_allreduce_x
* test_allgather_x
* test_scatter_x
* test_alltoall_x

Here's the `make check` output:

[code]

@bosilca @hjelmn Can you have a look?

[2015-12-10 04:27] ggouaillardet commented on #1191
there is an issue with ```MPI_Type_create_subarray``` and a fix is being investigated at #1196

but in this case, that does not explain all ...
i rewrote the program and manually created the subarray with ```MPI_Type_create_struct``` but i got the same behaviour (e.g. works fine with mpich, fails with ompi)

here is my revamped version, the ```STRUCT``` macro can be 0 or 1
[code]

with master, the

[2015-12-10 05:38] ggouaillardet commented on #1183
@bosilca goot catch !
when cnt is 9, destinations does not contains enough elements (!)
i will fix that and review it all from now
(and that is why you can get a nice error when i just get a hang)

[2015-12-10 05:41] artpol84 commented on #1156
@hppritcha as I've said before `-mca btl_openib_receive_queues S,12288,128,64,32:S,65536,128,64,32` fixes the problem.
It's up to @hjelmn to decide how to proceed: do we need to make this default or do something else.

[2015-12-10 06:17] hjelmn commented on #1156
I think we decided some time ago to do away with per-peer queues on infiniband hardware. Let me look through the old issues and see what was done.

[2015-12-10 06:18] #1155 closed

[2015-12-10 07:16] ggouaillardet commented on #1183
@bosilca i pushed open-mpi/ompi@0c77d1ba7b65896a84afba0405e2477dcbaa2875 in order to fix the issue you identified.

here is a ```main``` subroutine that can replace the one from ```distgraph_test_4.c``` in order to go straight to the hang
[code]

hang occurs with 4 MPI tasks on a 4 cores box, or on a 16 cores box if ```--bind-to core``` is used.
(i guess you have more than 4 cores on your machine,

[2015-12-10 08:06] ggouaillardet commented on #1183
@bosilca
here is a trivial patch to silence the treematch outputs
[code]

btw, any reason why you use ```printf``` instead of the ompi logging facility ?

[2015-12-11 02:51] ggouaillardet commented on #1198
@jsquyres
i found one issue (int overflow) with ```test_reduce_x``` and the fix is below

```test_reduce_x``` does require at least 64 GB memory per MPI task, so assuming
```make check``` runs two tasks on the same node, that means at least 128GB are required per node ...
if ```MPI_Mem_alloc``` fails, then you get some similar output ...

did you check there is enough memory for the test to run ?

[2015-12-11 04:32] ggouaillardet commented on #1198
@jsquyres i found some errors in the tests (integer overflow)
i made jeffhammond/BigMPI#34 to fix that

[2015-12-11 17:57] gpaulsen opened #1208 "openib fails to build with OFED 2.2.125 related to HAVE_DECL_IBV_EXP_QUERY_DEVICE"
When building on an x86_64 RHEL 6.5 with OFED 2.2.125, I get a build error in openib.

Linux mpi01 2.6.32-431.el6.x86_64 #1 SMP Sun Nov 10 22:19:54 EST 2013 x86_64 x86_64 x86_64 GNU/Linux

11:00.0 Network controller: Mellanox Technologies MT27500 Family [ConnectX-3]
90:00.0 InfiniBand: Mellanox Technologies MT25204 [InfiniHost III Lx HCA] (rev 20)

I get this error:
  CC       btl_openib_component

[2015-12-11 18:26] jsquyres commented on #1208
I think you meant @hjelmn :)

[2015-12-11 23:57] sjeaugey opened #1209 "Seg faults in BTL atomics"
Many tests seem to segfault with new atomics on IB. I can reproduce it with 4 ranks (2x2) but not with only 2.

Here is the backtrace from the c_accumulate test :
[code]

[2015-12-12 00:00] sjeaugey commented on #1209
Forgot to mention : only the last rank crashes (rank 3 with np=4 or rank 5 with np=6).

[2015-12-12 02:14] ggouaillardet commented on #1198
test fixes have been merged into BigMPI and I pushed my ompi fix into master (and PR'ed for v2.x and 1.10.2)
assuming there is enough memory to test, we should be good now
I do not have a 256GB box, and I will test 2 boxes with 128GB each this week

[2015-12-13 14:27] jsquyres opened #1214 "oshmem examples use deprecated APIs"
When I compile the examples on master, I now see warnings from the oshmem examples:

[code]

@miked-mellanox @igor-ivanov Can someone have a look?

[2015-12-13 15:42] jsquyres opened #1215 "grpcomm errors when launching on RHEL 7.2/ssh"
I'm seeing odd behavior when trying to launch small MPI jobs on master (as of Sun 13 Dec 2015, after @rhc54's update to pmix 1.1.2).

Here's the specs:

* RHEL 7.2
* TCP BTL
* ssh launcher (no SLURM or any other scheduler)
* (mostly) Default master build: `./configure --prefix=/home/jsquyres/bogus --with-libfabric=/home/jsquyres/bogus --with-usnic --disable-vt --disable-mpi-fortran`
    * Yes, I b

[2015-12-13 15:53] rhc54 commented on #1215
out of curiosity - how many hosts are in that hostfile?

[2015-12-13 16:16] jsquyres commented on #1215
[code]

The remainder of the file is similar.

[2015-12-14 16:19] igor-ivanov commented on #1214
@jsquyres I used #warning for few oshmem examples (ring and hello was changed according api spec1.2) to highlight that they use old api. It seems that some gcc do not like one.
I can simply modify them to support spec1.2 or remove this warning but I wanted to have some examples that met spec1.2 and few examples in old style with related message for a user.
What do you think?

[2015-12-14 18:03] #1087 closed

[2015-12-14 18:10] jsquyres commented on #1117
@rhc54 Do you have a timeline for syncing a new PMIx to v2.x?

[2015-12-14 18:11] jsquyres opened #1218 "Sync latest stable PMIx to v2.x branch for v2.0.0 release"
Title says it all.

[2015-12-14 18:12] hppritcha commented on #1145
since this is labeled as blocker I'm assuming this for a release, so I'm adding milestone 2.0.0

[2015-12-14 18:16] jsquyres commented on #1156
@artpol84 Does using the shared receive queues also fix #1145?  Or is that a separate issue?

[2015-12-14 18:17] jsquyres commented on #1156
@artpol84 We're assuming this is a v2.0.0 issue, right?

[2015-12-14 18:19] hppritcha commented on #1175
we should just document that Open MPI doesn't support canceling of sends.
Removing blocker label.

[2015-12-14 18:19] jsquyres commented on #1175
I'll actually go further and close this with the "wontfix" label.

[2015-12-14 18:20] #1175 closed

[2015-12-14 18:25] hppritcha commented on #1064
changing milestone to v2.x

[2015-12-14 21:20] shurickdaryin opened #1220 "Java bindings not loading in OS X 10.11 (El Capitan)"
OS X 10.11 does not allow DYLD_LIBRARY_PATH environment variable to be propagated to child processes. As such, it is not possible to find libmpi.dylib:

[code]

See https://github.com/oracle/node-oracledb/issues/231, http://apple.stackexchange.com/questions/215030/el-capitan-make-check-dyld-library-path

A workaround is to copy libmpi.dylib to the current directory.

Probably a full path name shou

[2015-12-14 23:38] ggouaillardet commented on #1220
@shurickdaryin did you configure with ```--enable-mpirun-prefix-by-default``` ?
iirc, that should fix the issue

[2015-12-15 00:13] pterjan commented on #1162
This is unfortunately only true on arm > v6.
I guess I should disable threads on armv5 as there is no smp support
anyway, a patch would still be needed to allow using the simple version
when OMPI_ENABLE_THREAD_MULTIPLE is not enabled:

--- opal/threads/thread_usage.h 2015-12-15 00:10:58.412181433 +0000
+++ opal/threads/thread_usage.h.thr     2015-12-15 00:10:41.521798534 +0000
@@ -126,8 +126,8 @@

[2015-12-15 02:08] artpol84 commented on #1156
@jsquyres Let me check with the latest ompi and shared r-queues and get back to you.

[2015-12-15 09:34] shurickdaryin commented on #1220
@ggouaillardet I reconfigured with --enable-mpirun-prefix-by-default and rebuilt openmpi and my app, but still get the same error.

[2015-12-15 10:13] ggouaillardet commented on #1220
were you able to test with Yosemite ? and did you get the same error ?
btw, do you run on only one node ?(vs several nodes)
a possible fix is to update ompi/mpi/java/c/mpi_MPI.c and dlopen with the full path if ompi is configured with --enabke-mpirun-prefix-by-default
I am still running yosemite, so I might ask you to test a fix tomorrow

[2015-12-15 12:20] shurickdaryin commented on #1220
No, it's El Capitan all around me. But I have tried to hard code the path to libmpi.dylib in the indicated file and it works. So the proposed fix should also work.

[2015-12-15 12:30] shurickdaryin commented on #1220
This has been run on one node.

[2015-12-15 12:33] artpol84 commented on #1145
Solution suggested by @hjelmn in the https://github.com/open-mpi/ompi/issues/1156 fixes this problem (or something in OMPI was improved).
I had about 1500 successful runs, previously this was impossible.

[2015-12-15 12:33] artpol84 commented on #1145
I'm closing this Issue in favor of https://github.com/open-mpi/ompi/issues/1156

[2015-12-15 12:33] #1145 closed

[2015-12-15 12:35] artpol84 commented on #1156
@jsquyres
*  looks like #1145 describes the same problem.
* I'd let @hjelmn to decide whether it is a v2.0.0 problem or not. Please remove the blocker label if it's not.

[2015-12-15 14:31] jsquyres commented on #1220
@hppritcha Can you confirm?  If so, it may be necessary to use installdirs to find libmpi at run time.

[2015-12-15 14:50] hppritcha commented on #1220
As I recall one needs to pretend LD_LIBRARY_PATH with location of OMPI install lib on os-x.  It's owing to the dlopen  of libmpi iin the JNI code.  This isn't necessary on Linux.  I don't think this is specific to el capitan.  I will update the java FAQ.

[2015-12-15 15:05] shurickdaryin commented on #1220
Setting LD_LIBRARY_PATH or DYLD_LIBRARY_PATH does not change anything, as these variables are not exported to child processes. This behaviour is new with El Capitan.

I have both LD_LIBRARY_PATH and DYLD_LIBRARY_PATH set to /opt/openmpi/lib. With this setting, "otool -L libmpi.dylib" returns an error, while "otool -L /opt/openmpi/lib/libmpi.dylib" correctly reports library and its dependencies.

A

[2015-12-15 16:12] jsquyres commented on #1191
@bosilca Can you have a look?  This smells like a DDT issue...

[2015-12-15 16:14] #1023 closed

[2015-12-15 16:15] #965 closed

[2015-12-15 16:29] hppritcha commented on #1156
since this per-peer q-pairs is something that a user has to explicitly ask for, removing blocker label.

[2015-12-15 16:30] artpol84 commented on #1156
For me it was the default. I didn't asked for that.

вторник, 15 декабря 2015 г. пользователь Howard Pritchard написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2015-12-15 16:33] hjelmn commented on #1209
Looking at it now. If I can't reproduce on one of my IB machines I will try on psg.

[2015-12-15 16:39] jsquyres commented on #1156
@artpol84 Yoinks.  Ok.  @hjelmn said he'd investigate today (i.e., figure out why the default is not SRQ).

[2015-12-15 16:59] hjelmn commented on #1209
I see the problem. Should have the fix ready later today.

[2015-12-15 18:29] jsquyres opened #1225 "One method of debugger attach broken"
In master and v2.x, debugger attach for TotalView is currently broken.  The problem is that when we upgraded to PMIx, we removed the OOB support from apps as it was no longer necessary. However, we currently send a message from mpirun to rank0 indicating that the debugger is ready, and therefore releasing rank0 to complete a barrier.

There are several ways of fixing this; there's ongoing discussi

[2015-12-15 20:00] jsquyres commented on #1220
@hppritcha Ouch -- it sounds like El Cap made a Big Change in this area!  This code might need to be updated per what I said above (i.e., use installdirs to find libmpi)...

[2015-12-15 22:04] #1156 closed

[2015-12-16 01:33] #1064 closed

[2015-12-17 01:07] sekifjikkatsu opened #1230 "a problem in the btl/sm shared_mem_btl_rndv.HOSTNAME"
I think there is a problem in the btl/sm component.
It is the synchronization problem that is between the node master process and other child processes.
Other child processes read 0 byte from shared_mem_btl_rndv.HOSTNAME file before the node master
 process writes sizeof(opal_shmem_ds_t) bytes to the file.
I think this problem can be solved with the following correction.

[code]

This problem occu

[2015-12-17 02:10] nrgraham23 opened #1231 "Accumulate failing when ranks exceed number of processors"
The accumulate function is failing when run with more ranks than processors.

CAccumulate.java in the ompi-java-test repo (https://github.com/open-mpi/ompi-java-test/blob/master/onesided/CAccumulate.java) is a reproducer.  The values received differ from the expected values, and the values that are received vary from run to run.  The fail also appears to be more likely the more the ranks exceed th

[2015-12-17 05:20] rhc54 commented on #1215
@annu13 has identified the problem and is working on a solution.

@annu13 Can you provide some ETA?

[2015-12-17 06:46] annu13 commented on #1215
On 12/16/15, 9:20 PM, "rhc54" <notifications@github.com> wrote:

I can have the fix ready next week. I guess this is not a blocking issue,
let me know if its otherwise I will try to fix asap.

[2015-12-17 08:47] rhc54 commented on #1215
@annu13 That will be fine - it isn't a blocker. Just wanted to give folks some idea of when the fix might become available.

Thanks for tackling it!

[2015-12-17 11:16] jsquyres commented on #1215
Perfect, thanks.

[2015-12-17 15:09] hppritcha commented on #1231
Adding Java bindings label although this may actually be a problem in osc

[2015-12-18 01:26] ggouaillardet commented on #1230
should the test be ?
```while (sizeof(opal_shmem_ds_t) > buf.st_size)```

from ```create_rndv_file``` if type is ```MCA_BTL_SM_RNDV_MOD_MPOOL```, some extra stuff is written into the file.

that being said, i am a bit puzzled by this.

this solves the case in which local task 0 created the file, but did not write yet.

assuming we run into this case, it means task > 0 could try to open the file *b

[2015-12-18 10:13] sekifjikkatsu commented on #1230
Thank for the comment.

1)
The file which is opened in sm_segment_attach is MCA_BTL_SM_RNDV_MOD_SM.
So, I think that size of the file is sizeof (opal_shmem_ds_t).

And, I agree to test as following,
[code]

2)
I think that task > 0 does not open the file before local task 0 creates the file.
Task > 0 wait for the file becomes R_OK state by access() in setup_mpool_base_resources.

[code]

3)
The sm

[2015-12-18 11:52] ggouaillardet commented on #1230
@sekifjikkatsu Thanks for pointing 2), now this makes sense to me, and there is clearly a race condition.

i can see three options

1) ```while ((sizeof(opal_shmem_ds_t) + out_res->size) > buf.st_size)```
/* i previously missed the second read, hence ```out_res->size``` , also, ```opal_progress()``` should be invoked if the size is too small */

2) replace the ```access``` test by ```stat``` and a

[2015-12-18 14:30] jsquyres commented on #1230
(...I'm only loosely reading this issue...)

It sounds like there's an assumption in the >0 processes that the =0 process will atomicly open and write all N bytes at once -- which may not be true (and therefore there's a race condition).

Would it be possible to have the =0 process open a *different* file, write the contents, and then `rename(2)` the file to be the file that the >0 processes are e

[2015-12-18 15:04] ggouaillardet commented on #1230
@jsquyres using rename(2) is a simpler and better variant of my third option.
I will make the prs from Monday unless there are any objections.

[2015-12-18 17:08] jsquyres opened #1240 "Sync master Fortran support to v2.x"
@ggouaillardet and I just noticed today that the master has quite a few little Fortran fixes and odds-n-ends that somehow didn't make it over to v2.x.  We should sync all the master Fortran stuff over to v2.x before v2.0.0.

[2015-12-18 17:18] jsquyres commented on #1117
This issue is now effectively a duplicate of #1218.  Closing.

[2015-12-18 17:18] #1117 closed

[2015-12-18 17:18] #1172 closed

[2015-12-18 18:17] sjeaugey opened #1241 "Atomics get completion with error on mlx5"
A dozen of MTT tests related to atomics still fail using mlx5. They all fail with the same error message :

mlx5: drossetti-ivy4.nvidia.com: got completion with error:
00000000 00000000 00000000 00000000
00000000 00000000 00000000 00000000
00000000 00000000 00000000 00000000
00000000 00008813 110818b2 000001d0
[[53836,1],0][btl_openib_component.c:3611:handle_wc] from drossetti-ivy4 to: drossetti-i

[2015-12-18 18:48] hjelmn commented on #1241
Do any of the ivb machines have the latest mofed? Looks like this might be a change in behavior from the tested version (2.x).

[2015-12-19 00:43] sjeaugey commented on #1241
Yes, they're both running MOFED 3.1.

[2015-12-19 05:26] bosilca commented on #1230
There are 2 logical steps in here, separated by a fence (the modex operation). On each node the local master creates and initializes the shared memory files while in function create_rndv_file. This happen before the call to the modex, so there are no possible race conditions as the other processes are already blocked in the modex exchange (PMIX fence in ompi_mpi_init.c:644). Once the local master

[2015-12-19 05:58] rhc54 commented on #1230
What happens when we set mpi_add_procs_cutoff=0 (or exceed the cutoff point)? Under that condition, we don't execute a fence in mpi_init - we just fall thru. Do we need something to avoid the race condition in that case?

[2015-12-19 06:11] bosilca commented on #1230
If we don't have a fence in MPI_Init, then we do need to protect the creation of the shared file by other means. However, even when I set ompi_mpi_add_procs_cutoff to 0 I still see the fence at ompi_mpi_init.c:644.

[2015-12-19 15:25] rhc54 commented on #1230
My bad - the cutoff is for dynamic add procs. The correct mca param is pmix_base_async_modex=1

[2015-12-19 17:16] eschnett opened #1242 "Ubuntu does not have a maintainer for OpenMPI"
It seems that Ubuntu and Debian do not have maintainers for their OpenMPI package. For the past two years, they have been shipping version 1.6.5, and according to their issue tracker <https://bugs.launchpad.net/ubuntu/+source/openmpi/+bug/1365152>, this is still the current state.

I am bringing this up here in the hope that this reaches someone with sufficient interest in both OpenMPI and Ubuntu,

[2015-12-19 19:35] rhc54 commented on #1230
I'm shifting this to the 2.0.0 release as 1.10 does not have the async modex feature.

[2015-12-20 03:50] ggouaillardet commented on #1230
@sekifjikkatsu which openmpi version are you using ?
did you run into this issue ? or did you suspect there is a race condition based on code review ?
if you are using master or v2.x do you use async modex ?

@bosilca if I understand correctly your first reply, this issue cannot happen in v1.10
is it then correct to go one step further and remove the ```while(acces)``` loop ?

in the case of async

[2015-12-20 08:10] bosilca commented on #1191
With the fix proposed for #1196 applied, this issue transforms from a [possible] datatype issue, into a test issue. Based on my understanding of MPI file, one should rewind the file between a write and a subsequent read, even when you change the view. If I force the position in the file to zero before the read, both versions of the test succeed. I also confirmed the correctness of the content of t

[2015-12-20 08:37] ggouaillardet commented on #1191
romio works fine with the patch, but ompio fails
if ompio closes the file and open again before reading, result is ok
as pointed by @bosilca , that issue could be in the test, and we are lucky romio is working.

[2015-12-20 08:43] bosilca commented on #1191
I stand corrected. I went back and read the section about MPI_FILE_SET_VIEW in the MPI 3.1 and it is clearly stated page 504 line 16 that

So, the test is correct from the MPI perspective (sorry). At this point I would assume OMPIIO missed to reset the file pointer in MPI_FILE_SET_VIEW. @edgargabriel might clarify this.

[2015-12-20 13:26] edgargabriel commented on #1191
I'll have a look, We reset the entire fview structure, which should move the filepointer back to 0, but I'll check, maybe we missed something.

[2015-12-20 15:01] edgargabriel commented on #1191
Found the culprit, we forgot to reset two variables in the fview management to zero correctly. Will commit a fix shortly.