[2016-10-24 07:54] ggouaillardet commented on #2275
@ChrisPattison thanks for the report and the test case.

i wrote a fix you can download at https://github.com/open-mpi/ompi/pull/2283.patch

i wrote a variant of the test
[code]

fwiw, there are both a bug and a race condition.
the code either hangs, or fails the last assertion (e.g. ```MPI_Recv``` returns but no data is received)

[2016-10-24 11:47] ggouaillardet commented on #1905
Does the timeout occur after ~2 seconds or ~60 seconds ?

Out of curiosity, are you running rawhide as a virtualbox.org guest ?
stock F24 works fine, but uptodate F24 nor rawhide can even boot. Stock F24 kernel works just fine thought

[2016-10-24 13:36] ericch1 opened #2284 "OpenMPI 2.0.x: bug: violent break at beginning with (sequential) runs..."
This issue is the continuation of  http://www.mail-archive.com/devel@lists.open-mpi.org/msg19568.html,

which was presumably fixed by https://github.com/open-mpi/ompi-release/pull/1376

but....

I switched back to 2.0.x branch 3 days ago (I was testing 2.x branch since sept 21 and everything was fine).

Last night,I tested commit 251550955c88cb6d00c64918e8f673d69741c52b

Build log:
http://www.gire

[2016-10-24 14:06] rhc54 commented on #2284
If you can examine the core file and get a line number, that would be helpful. Otherwise, there isn't enough info here to chase this down, and we have repeatedly been unable to replicate it.

[2016-10-24 14:54] ericch1 commented on #2284
hmmm, I didn't got any core dump.???

I think I have set it all right to get them in my environment:

cat /proc/sys/kernel/core_pattern
/tmp/core.%u.%e.%p.%h.%t

I am verifying about ulimit at the exact time the test is launched, but in .bashrc I have:
ulimit -c unlimited

Do I have to do something else?

The only noticeable thing is there is an undelete directory remaining under cmpbib@lorien:/tm

[2016-10-24 15:39] jsquyres commented on #2284
@ericch1 Github pro tip: use a line of three single ticks before and after verbatim sections to make them render as fixed-width font.

[2016-10-24 15:49] ericch1 commented on #2284
Thanks! :)
Btw, is it true to say that ompi/2.x branch is not using the same algorithms for start-up, then is not affected by this bug?

In other words, if I switch back to 2.x and wait for 2.1.0 I should never see this happen (like I observed since sep 21) ?

So, if you don't want to burn energy into resolving this for 2.0.2, we could let it as an "unresolved issue"?
(and I will just not use any

[2016-10-24 15:55] rhc54 commented on #2284
They actually are the same, with some minor differences that might have some relevance here (I don't immediately recall what has gone into the 2.x branch vs the 2.0.x one). One thing I noted in your original report is that the memory scram shows paths to openmpi-v2.x, not v2.0.x. Is this just a typo in your prefix scheme? Or is there perhaps a path issue here?

[2016-10-24 15:55] opoplawski commented on #1905
The next test seemed to fail on x86_64:
[code]
No idea yet how long the timeout is.  These are koji builds - http://koji.fedoraproject.org/koji/taskinfo?taskID=16182090  - working on reproducing in mock or VM...

[2016-10-24 16:06] ericch1 commented on #2284
The path is ok, it is a deliberate choice... Since I don't want to have 2 nighlty tests, I choosed to let the --prefix=/opt/openmpi-2.x_debug

I want to test only one of the next ompi, but right now, there are two: 2.1.0 and 2.0.2.

I do "rm -rf /opt/openmpi-2.x_debug/*" before any configuration...

For the path issue, I recently added something to prevent them: I check the compiled version agains

[2016-10-24 17:46] opoplawski commented on #1905
hmm, in mock on my machine,  testArgsOnlyAtRoot (test_spawn.TestSpawnSelf) seems to hang for a very long time - I killed it after almost 2 hours.  I can open a new issue if this seems to be something else.

[2016-10-24 17:52] rhc54 commented on #1905
Can you tell me something about this app? Is it just s singleton that calls comm_spawn?

[2016-10-24 19:38] jsquyres commented on #2030
@rhc54 Sorry; I still saw COMM_SPAWN fails over the weekend in the v2.0.x branch.  ☹️

[2016-10-24 19:49] hppritcha opened #2287 "possible thread safety problems in v2.Xrelease"
thread-tests-1.1 collcomp test is periodically hanging (timeout) in cisco community runs both
for v2.0.x and v2.1.x release streams:

https://mtt.open-mpi.org/index.php?do_redir=2376

[2016-10-24 19:49] jsquyres commented on #2287
@hjelmn @bosilca Could you have a look?

[2016-10-24 19:51] hppritcha commented on #2049
we'd like this fixed in 2.0.2 but not a blocker.

[2016-10-24 20:50] hjelmn commented on #2287
One common component in all the failed runs is the tcp btl. Any chance to see if it hangs/fails with just vader or sm?

[2016-10-24 20:53] jsquyres commented on #1869
Looks like this is resolved.

[2016-10-24 20:53] #1869 closed

[2016-10-24 21:59] opoplawski opened #2289 "openmpi 2.0.1 over/under linkage"
running rpmlint on the openmpi 2.0.1 package in Fedora rawhide reports the following under/over linkage warnings:
[code]
and
[code]
I'm not terribly concerned about these, but it might be nice to cleanup what we can.

[2016-10-25 00:04] bosilca commented on #2275
Please do never use such a code, it is a schoolbook example of a deadlocking MPI application because the sends are placed before the corresponding receives.

[2016-10-25 00:37] bosilca commented on #2262
I run few hundreds tests (ibm/collective/ialltoall) and I can't replicate. I also audit the code, and I can hardly see how this might happen except if we are trying to call btl_del_proc multiple time.

[2016-10-25 06:15] #2275 closed

[2016-10-25 14:51] jsquyres commented on #1848
This is now done.

[2016-10-25 14:51] #1848 closed

[2016-10-25 14:52] jsquyres commented on #1841
v2.0.2 now disables the RDMACM CPC if THREAD_MULTIPLE is enabled (per #1861).  So let's move this to the v2.1.0 train (or possibly to the v2.2.0 train...?).

[2016-10-25 15:30] bharatpotnuri commented on #1831
@jsquyres @larrystevenwise  I ran the same tests on stevo1/2 40G interfaces for ompi-1.10.3 and master as well. I see the same stats for both ompi-1.10.3 and master.

[2016-10-25 16:37] jsquyres commented on #2287
I've been running the test with vader,self over the past 12 hours or so and it never hung.  But it was *slow* when I oversubscribed the machine (which is likely to be expected).  I'm re-running now with sm,self to see if there's a difference.

It could well be that I don't have a long enough timeout in MTT and/or should adjust the test to not overload the machine (i.e., more threads than cores).

[2016-10-25 16:39] jsquyres commented on #1573
@siegmargross @rhc54 @ggouaillardet Did this get resolved?

[2016-10-25 16:48] bosilca commented on #2287
This test is not technically a multi-threaded stress test, it is a mild computationally intensive test disguised as a multi-threaded test. A single thread is doing MPI calls (allreduce on non-initialized data), while all the other threads are multiplying non-initialized vectors. I do not understand what exactly you expect from this test, but based on the values in the 3 randomly initialized arrays

[2016-10-25 16:50] jsquyres commented on #1579
This was fixed.

[2016-10-25 16:50] #1579 closed

[2016-10-25 16:50] jsquyres commented on #1526
@ggouaillardet @rhc54 @jjhursey @dsolt Did this get resolved?

[2016-10-25 16:52] jsquyres opened #2296 "Uninitialized var use in libnbc"
From a build on master:

[code]

[2016-10-25 16:52] jsquyres commented on #1512
Done!

[2016-10-25 16:52] #1512 closed

[2016-10-25 16:52] jsquyres commented on #1456
@hppritcha Do you still care about this one?

[2016-10-25 16:56] jsquyres commented on #2287
@bosilca I just wanted it to not fail.  😄   (I didn't look at the content of the test at all)  We were just wondering if the failure of this test was something more systemic to our thread support overall, but I'm guessing it doesn't.  My test has been running with sm,self for the last 20+ minutes and has shown similar behavior as with vader,sm (i.e., it's slow, but not actually hanging).

I think

[2016-10-25 16:56] #2287 closed

[2016-10-25 16:56] jsquyres commented on #662
I'm quite sure that this has been fixed.

[2016-10-25 16:56] #662 closed

[2016-10-25 18:12] bosilca commented on #1831
Based on the comments here I think it is now safe to assume that the performance degradation for single-threaded applications has been identified and fixed. We can now claim pretty decent performance on [at least] one multi-threaded application and some benchmarks, but this topic is outside of the original topic for this issues, and we should continue the discussion in a more relevant place.

[2016-10-25 21:38] opoplawski commented on #1905
Some other info - turns out that the upstream mpi4py test suite has disabled the spawn tests, so I've disabled them in the Fedora builds as well.  So perhaps problems are expected in the mpi4py test suite.

TestSpawnSelf is doing something like:
[code]
Unfortunately I'm not having any luck with gdb at the moment so I can't see where it's hanging.  And I can't reproduce the timeout error locally.

[2016-10-26 02:49] ggouaillardet commented on #1573
i tested openmpi-v2.0.1-128-gb6172df on solaris x86_64 (single node) and it works for me

[2016-10-26 13:17] ggouaillardet commented on #2296
@jsquyres which compiler
I reviewed the code, and it looks like a false positive.
Though that is not straight forward, I think a non dumb compiler should figure out the code is ok.

[2016-10-26 15:09] jsquyres commented on #1573
Ok, let's assume this is fixed and close it.  Re-open if necessary.  Thanks!

[2016-10-26 15:09] #1573 closed

[2016-10-26 16:12] jsquyres commented on #2296
Huh; I'm actually unable to reproduce today.  😢

I don't know specifically which compiler I was using yesterday -- it was some flavor of gcc, but I just tried several and can't reproduce.  So let's close this and pretend it never happened...

[2016-10-26 16:12] #2296 closed

[2016-10-26 21:47] sharkcz commented on #2055
Just tried to build master (it passes) and the v2.0.x branch (it fails the same way as described here) on ppc64 Fedora 25. Has been the backport from master complete?

[2016-10-26 21:52] spagnuolocarmine opened #2300 "Running MPI JAVA on cluster machine"
I have installed and configured MPI and Java, but sometimes (really often) my job was killed and enclosed there is the log.
Please help me...

Thank you ...

[code]

[2016-10-27 10:13] sharkcz commented on #2055
For the record - build with --enable-mpi-cxx passes on ppc64 from the master branch even before the"mpi/cxx: isolate internal headers from C++ bindings #2064" fix has been merged, I have tried with commit 7601e783ccd7e

[2016-10-27 14:55] jsquyres commented on #2055
@sharkcz I just merged a v2.0.x compile failures with regards to the C++ bindings (https://github.com/open-mpi/ompi/pull/2295).  Does this fix the issue for you?

[2016-10-27 15:03] jsquyres commented on #2300
You should probably look into the call stack and/or run this application through a debugger (and/or enable core dumps) to see exactly where it is failing.  From there, you can start trying to figure out *why* it is failing.

I don't see any mention of MPI in the diagnostic output -- do you know that this issue is caused by Open MPI somehow?

The diagnostic output shows that this is the call stack

[2016-10-27 15:03] #2300 closed

[2016-10-27 15:29] jsquyres commented on #1366
I'm going to assume this can be closed.

[2016-10-27 15:29] #1366 closed

[2016-10-27 15:47] sharkcz commented on #2055
Still the same problem with the opal_atomics(), I'm currently bisecting the 2.0.x branch to find the problematic change.

[2016-10-27 15:49] jsquyres commented on #2055
@gpaulsen @jjhursey Can you have a look?

[2016-10-27 17:58] sharkcz commented on #2055
and this is the result of my bisecting
[f07fddb058633a685a773069a9b35d68c4fff9f2] atomic/ppc: add atomics for load-link, store-conditional, and swap
with this commit the build fails in my environment
Fedora 25 for ppc64 running on "PowerNV palmetto" machine (Tyan GN70-BP010), Power8 CPU
gcc-6.2.1-2.fc25.ppc64

[2016-10-27 19:24] sharkcz commented on #2055
and for the record also the error message
[code]

[2016-10-27 21:37] hjelmn commented on #2055
Yup. We use c99 internally and the c++ was exposed to it. Some compilers do ok but others do not. We fixed it by isolating the legacy c++ bindings from the c99 on master and now 2.x and 2.0.x.

[2016-10-27 21:38] jsquyres commented on #2055
@hjelmn He's saying it's *not* fixed.

[2016-10-27 22:07] sharkcz commented on #2055
Respectively it's fixed in master, but it is not in the 2.0.x branch, haven't tried 2.x branch yet.

[2016-10-28 07:04] ggouaillardet commented on #2289
@opoplawski i guess that is a feature that was discussed recently on the devel mailing list at https://mail-archive.com/devel@lists.open-mpi.org/msg19723.html

note ```rpmlint``` misses all the plugins in ```/usr/lib64/openmpi/lib/openmpi```, and these are even more underlinked than ```libmca_common_*.so```
a workaround could be the use of the ```--disable-dlopen``` option.

as a side note, ```ope

[2016-10-28 16:31] hjelmn opened #2316 "Fix PMIx dstore bug #144 (space consumption)"
Currently PMIx stores ~ 2.9kB per remote rank in the local hash table when running 272 ranks per node on knl systems. This needs to be fixed before 2.1.0 is released.

Bug cross-link: pmix/master#144

[2016-10-28 20:11] sharkcz commented on #2055
The difference between master and v2.0.x branch is that the problematic `opal/include/opal/sys/powerpc/atomic.h` header isn't used at all in the master branch. I have saved the preprocessed copies of `ompi/mpi/cxx/comm.c` if they should be helpful.

[2016-10-28 21:33] hjelmn commented on #2055
Looks like we have an erroneous include in intercepts.cc still. The powerpc header is not used by default in master because we made (a perhaps poor) decision to use the builtin compiler atomics by default. The powerpc/atomic.h header is legal C99 which is not supported by C++.

[2016-10-28 21:42] hjelmn commented on #2055
FYI, the C++ bindings in MPI were removed in MPI-3. We will do what is needed to keep them compiling in 2.x but they may not survive to 3.0.

[2016-10-28 21:58] hjelmn commented on #2055
Try patching with the commit in #2317 and see if that does it.

[2016-10-31 08:30] ggouaillardet commented on #2270
@rhc54 i basically sees what has to be done, but i found some other issues ...

- ```oob_tcp_static_ipv4_ports``` works fine on ```v2.x``` but hangs on ```master```
  (it crashed before i fixed a typo in open-mpi/ompi@75e96004a4da3258355025b535667283359443c8) can you please have a look ?

- if we ```srun --resv-ports```, then all the ```orted``` have the same port, but ```mpirun``` has its own por

[2016-10-31 11:55] ggouaillardet commented on #2270
One more thing I found odd at first glance and with static ports on v2.x
With a very small radix, orted seems to connect (e.g. Initiate a oob/tcp connection) to the right mpirun/orted. What I found odd is mpirun connects to the orted that did not connect directly for it
(And I would have expected messages are routed via intermediate orted instead)
I did not dig much, and cannot tell whether the ro

[2016-10-31 15:23] jjhursey commented on #2004
@rhc54 this was fixed in PR #2223, right? Did it get PR'ed to v2.x?

[2016-10-31 16:23] rhc54 commented on #2004
I see that the branch was already committed to v2.0.x, but apparently not to v2.x - will do so now

[2016-10-31 16:55] d-a-v opened #2320 "TCP BTL in docker container freezes (again, sorry)"
Hello,

When trying to run openmpi in a docker container using a bridge as the only existing network interface available, the application gets stuck.

A setup is available for anyone who wishes to [test](https://github.com/d-a-v/openmpi-bridge-docker).

This is a still real old problem. This https://github.com/open-mpi/ompi/issues/160 issue from 2014 expected the problem to be solved by ompi-v1.9+

[2016-10-31 17:00] rhc54 commented on #2004
Filed as https://github.com/open-mpi/ompi/pull/2321 - assigned to you to review

[2016-10-31 17:00] #2004 closed

[2016-10-31 19:08] jsquyres commented on #2228
@larrystevenwise Can you please investigate?

[2016-10-31 19:11] larrystevenwise commented on #2228
I'll see if I can reproduce on cxgb4...

[2016-10-31 19:16] larrystevenwise commented on #2228
@davidklaftenegger Please provide the configure command you used to configure ompi.  Thanx!

[2016-10-31 19:43] jsquyres commented on #2234
It looks like #2215 fixes the issue for v2.x.

@hjelmn Could we get a smaller version of it for v2.0.x?  (e.g., leaving out 91337bf5c818b752f8ab7e63705b4fea8f4c8dd7)?

[2016-10-31 19:55] larrystevenwise commented on #2228
reproduced it...
<pre>
Program terminated with signal 11, Segmentation fault.
#0  0x00007fb6453865be in mca_btl_openib_sendi (btl=0x810f20, ep=0x88aa10, convertor=0x7fff6e0eaa00, header=0x7fff6e0eab10, header_size=14, payload_size=8, order=255 '\377', flags=3, tag=65 'A', descriptor=0x0)
    at btl_openib.c:1841
1841                *descriptor = (struct mca_btl_base_descriptor_t *) frag;
Missing s

[2016-10-31 19:57] larrystevenwise commented on #2228
So this:

<pre>
1841                *descriptor = (struct mca_btl_base_descriptor_t *) frag;
</pre>

barfed because descriptor is NULL:

<pre>
(gdb) p descriptor
$3 = (mca_btl_base_descriptor_t **) 0x0
</pre>

[2016-10-31 20:01] larrystevenwise commented on #2228
dunno if this is the right fix or not?
[code]

[2016-10-31 20:03] larrystevenwise commented on #2228
Looks like `mca_pml_ob1_send_inline()` passes down a descriptor of `NULL`...

[2016-10-31 20:12] larrystevenwise commented on #2228
@davidklaftenegger can you please try the patch above?  It fixes the issue on my setup...

[2016-10-31 20:20] larrystevenwise commented on #2228
Created PR #2323

[2016-10-31 20:22] davidklaftenegger commented on #2228
we currently disabled the compilation flag for this, but we might be able to test it later this week.

[2016-10-31 20:35] dalcinl opened #2324 "Neighborhood Collectives"
@jsquyres I've found serious issues in the implementation of neighborhood collectives. These issues showed up after a memory allocation optimization I've implemented in mpi4py in commit [c2eaa292](https://bitbucket.org/mpi4py/mpi4py/commits/c2eaa292b2aa1d4bf809c91a1c19d988629f009a), which failed badly with Open MPI 2.0.1 in this [Bitbucket Pipelines](https://bitbucket.org/mpi4py/mpi4py/addon/pipel

[2016-10-31 20:43] dalcinl commented on #2324
Oh, sorry. The problem is just in `MPI_Neighbor_allgatherv()` and `MPI_Ineighbor_allgatherv()`. You guys should implement it using `ompi_comm_neighbors_count()`, like you do in `MPI_Neighbor_alltoallv()`.

[2016-10-31 22:51] hjelmn commented on #2228
Does failover even work in Open MPI anymore? The bfo pml is long since gone and the support in openib is bitrotten.

[2016-10-31 23:59] rhc54 commented on #1831
Sorry to re-open this issue, but our latest tests still show significant degradation in rates from 1.10.4 at large message sizes. I cannot provide detailed numbers, but here are the general results. All numbers are relative to 1.10.4. Negative values indicate that the specified version is slower than 1.10.4, while positive values indicate it is faster than OMPI v1.10.4

[code]
Any suggestions?

[2016-11-01 02:09] hppritcha commented on #1831
what pml was used to obtain these results?

[2016-11-01 02:49] rhc54 commented on #1831
It would be the CM pml

[2016-11-01 03:03] bosilca commented on #1831
which MTL ?

[2016-11-01 03:09] jsquyres commented on #2228
Fair point.  Is the real issue that `--enable-btl-openib-failover` should really be deleted as a configure option (and the corresponding support in the openib should be removed)?

[2016-11-01 03:09] rhc54 commented on #1831
I believe the numbers are pretty repeatable with either the psm2 or libfabric MTLs. It may just be tuning parameters, of course, or it may be something specific to CM and the integration to the MTL. However, those things didn't change much across the versions (at least, so far as I know) - and perhaps that is the problem, given all the other changes.

[2016-11-01 04:52] rhc54 commented on #2270
I'll look at the errors you found. There is no reason for mpirun to be an exception - in fact, that must be a bug as mpirun should be obeying the static port assignments.

Note that mpirun doesn't connect to anyone - the orted's all connect back to mpirun. It has nothing to do with the routing table. At launch, the only connection info known to the system is that of mpirun itself. Thus, that is th

[2016-11-01 05:38] ggouaillardet commented on #2270
@rhc54 i made some progress on that (i am working on the v2.x branch)

here we go, with a ```radix``` of ```2``` and 8 orted

[code]

bottom line, ```mpirun``` running on ```n0``` __does__ connect to remote orted ... unless i use the ```max_connections``` option

[code]

did we miss some logic here ?
for example, should ```routed_radix_max_connections``` be automatically set to ```routed_radix```

[2016-11-01 08:04] rhc54 commented on #2270
Things generally look right in terms of the pattern. Your output doesn't show the launch procedure, and so it is a little difficult to understand when these connections are being created. However, we know that mpirun sends the launch message to each daemon that is directly underneath it in the routing tree. In the case of radix, the defaults fanout is 64. So if you only have 8 nodes, then they wil

[2016-11-01 08:58] ggouaillardet commented on #2270
the ```mpirun``` command line was included in my logs, do you need something else ?

i am also confused with the current code ...
the default radix is ```64``` (which is fine to me so far) but the default ```max_connections``` is ```-1```
this is a comparison between an ```orte_vpid_t``` (e.g. ```uint32_t``` and an ```int```) so i suspect the comparison is always true, and hence __all__ jobs are s

[2016-11-01 11:20] ggouaillardet commented on #2320
which version of Open MPI do you run ?

master branch blacklists interfaces named ```vir*```, and this is hard coded in ```oob/tcp```
so i am aware you cannot run ```mpirun``` on your host and put containers in your hostfile

the inline patch can help you
[code]

[2016-11-01 11:33] ggouaillardet commented on #2324
@dalcinl can you please point to the test case ?
/* a C version is ideal, but i guess i will be able to figure it out with a python version */

i briefly check the source code, and https://github.com/open-mpi/ompi/blob/v2.x/ompi/mca/coll/libnbc/nbc_ineighbor_allgatherv.c nor https://github.com/open-mpi/ompi/blob/v2.x/ompi/mca/coll/basic/coll_basic_neighbor_alltoallv.c use　```ompi_comm_size()```
do

[2016-11-01 13:00] jsquyres opened #2326 "Do we *require* RDMACM support in the openib BTL?"
In v2.0.x and v2.x, we no longer have the oob CPC in the openib BTL.

Do both the RDMACM and UDCM CPC's require IPoIB support?

This is inspired by a question from the mailing list: https://www.mail-archive.com/users@lists.open-mpi.org/msg30223.html

If we now *require* IPoIB support for correct openib BTL functionality, that needs to be documented somewhere (probably in README and the FAQ).

[2016-11-01 13:07] rhc54 commented on #2270
I'll address both of these today in master

[2016-11-01 13:57] jsquyres commented on #2326
Note: I just re-forumlated the question in this issue -- I originally asked a slightly different question (about requiring RDMACM support vs. requiring IPoIB support).

[2016-11-01 14:20] larrystevenwise commented on #2228
I'm pretty sure this doesn't work with iWARP and cxgb4, especially if it leverages IB inter-port failover.  If folks wish it, I'll remove the code entirely.  We should hear what MLNX thinks though.

[2016-11-01 15:19] hppritcha commented on #1831
these were probably measured with PSM2 MTL.

[2016-11-01 15:21] hjelmn commented on #2324
Are are attempting a neighborhood collective on a communicator without a topology?

[2016-11-01 15:24] hppritcha commented on #1831
I need more info on how to reproduce this problem.  Was osu_mbw_mr used to generate the message rates for example?  And were any particular PSM2 related env. variables set?

[2016-11-01 15:28] ggouaillardet commented on #2324
@hjelmn this erroneous case is tested when checking params
[code]

[2016-11-01 15:35] jjhursey commented on #2072
I've opened PR #2286 to bring PMIx v1.2 into Open MPI v2.x. Once merged, that PR will fix this issue.

[2016-11-01 15:41] matcabral commented on #1831
Hi all,
I got the numbers Ralph is sharing (separate email thread)  by building from ompi's different tags with:
CFLAGS=-O3 ./configure  --with-libfabric=no   --with-psm2=/usr
Yes, this is running on PSM2, 2 nodes over a switch , no specific env vars.

 mpirun -np 2  -host host-1,host-2   ./osu_mbw_mr
(I did confirm it was runing over PSM2)

[2016-11-01 15:42] hjelmn commented on #2324
@ggouaillardet That is only enabled if the mpi parameter check is turned on. That is not on by default.

[2016-11-01 15:42] hjelmn commented on #2324
Hate that close and comment button.

[2016-11-01 16:43] adamjstewart commented on #1284
What's the progress on this issue? It seems to still be present in release 2.0.1. Will this be fixed in the next release? In the meantime, is there a semi-official patch I can use? I'm working on development of the [Spack](https://github.com/LLNL/spack) package manager and was hoping to get support for OpenMPI built with NAG.

[2016-11-01 17:18] edgargabriel commented on #2232
A fix for this issue was committed to master and will be in the 2.0.2 release. Also just for the record, I was not able to reproduce the issue with the IOR benchmark that I saw last year (and which was the reason for the change in the first place).

[2016-11-01 17:26] jsquyres commented on #2324
@hjelmn I don't think you're right -- I believe the MPI param check is set to "runtime" by default, and is enabled at runtime.

[2016-11-01 17:31] martinkontsek opened #2328 "Fix case when RM/hostfile-provided names do not match hostname(1)"
We have found out that running OpenMPI job via Moab/TORQUE will lead to this error:

[code]

Running the program directly via mpirun without Moab/TORQUE works perfectly. The same issue is present in `stable v2.0.1` and `nightly v2.0.1-134-g52bea1d from 2.0.x branch` and `nightly v2.0.1-270-g87a79fa from 2.x branch`.

However issue is NOT present in `stable v1.10.4` and `nightly v2.x-dev-3109-g6074

[2016-11-01 17:31] jsquyres commented on #2326
We discussed on the call today: IPoIB is *not* required for the openib BTL.  Specifically: the UDCM CPC does not require IPoIB.  @hjelmn will follow up with the user on the list to see why UDCM was deselecting itself.

[2016-11-01 17:31] #2326 closed

[2016-11-01 17:35] jsquyres commented on #2328
@rhc54 Could you have a look?  Thanks!

[2016-11-01 17:45] dalcinl commented on #2324
A reproducer is a little hard to write. Moreover, I'm still not sure why my Python tests are failing, maybe there are additional issues. Graph topologies seem to work, but I get errors with Cartesian topologies. I think there is a bug in Open MPI in the case of Cartesian topologies, but I have to investigate further and open a new issue.

Meanwhile, please see the following, you still have to fix

[2016-11-01 18:00] jjhursey commented on #2328
This looks like something I've seen related to the shortening of hostnames. @martinkontsek can you try this patch (I don't have a machine with TORQUE to test)?

The diff was generated from `master`, but should apply (fairly) cleanly to either the `v2.x` or `v2.0.x` builds.
[code]

[2016-11-01 18:40] jjhursey commented on #2256
I created PR #2330 which adds a new MCA parameter to avoid this datatype size based decision. It's not ideal (since the `NBC_BCAST_CHAIN` algorithm will not be selected), but should work around the problem until it can be fixed.

Let me know if you have any ideas for improvements on that PR.

[2016-11-01 19:11] jjhursey commented on #1842
I have not seen this issue since that commit. So I think it is safe to close this issue.

Thanks @rhc54 for the fix!

[2016-11-01 19:11] #1842 closed

[2016-11-01 19:11] walkup opened #2331 "please remove the -pthread option in compile/link script to support PGI compilers"
The openmpi wrapper scripts (mpicc, mpicxx, mpif90, etc.) include a "-pthread" option, which causes compilation and/or linking failures with PGI compilers (pgcc, pgc++, pgf90).  That option is not needed on current Linux systems, and is fatal for some compilers, including the PGI compilers.  Please remove the "-pthread" compile/link option from the compile/link scripts.

[2016-11-01 19:13] jjhursey commented on #128
The C/R code has been removed from the current `master` and all current releases. I'm going to close this bug for now.

[2016-11-01 19:13] #128 closed

[2016-11-01 19:13] jjhursey commented on #127
The C/R code has been removed from the current master and all current releases. I'm going to close this bug for now.

[2016-11-01 19:13] #127 closed

[2016-11-01 19:15] jjhursey commented on #72
The C/R code has been removed from the current master and all current releases. I'm going to close this bug for now.

[2016-11-01 19:15] #72 closed

[2016-11-01 19:16] jjhursey commented on #79
The C/R code has been removed from the current master and all current releases. I'm going to close this bug for now.

[2016-11-01 19:16] #79 closed

[2016-11-01 19:16] jjhursey commented on #79
The C/R code has been removed from the current master and all current releases. I'm going to close this bug for now.

[2016-11-01 19:16] #96 closed, assigned to jjhursey

[2016-11-01 19:17] jsquyres commented on #2228
@larrystevenwise On the call today, we decided that since the `bfo` PML is no longer included in Open MPI, we should remove all the failover code from the `openib` BTL (since it's stale, anyway).  If you could update (or replace? whatever is easier) #2323 with commits to remove all the failover code from the openib BTL, that would be great.

@davidklaftenegger I'm sorry; this probably isn't the an

[2016-11-01 19:22] rhc54 commented on #2270
Okay, these problems appear to be fixed in https://github.com/open-mpi/ompi/pull/2332

[2016-11-01 19:35] davidklaftenegger commented on #2228
@jsquyres I have no stake in this, I only had it enabled because I saw no reason not to, until the resulting openmpi did not work.

[2016-11-01 19:38] larrystevenwise commented on #2228
Closed #2323 - I'll create a new PR to remove the failover code.

[2016-11-01 20:13] hjelmn commented on #2324
Ah, ok. This is a bug up in the binding itself. Looks like a C&P error.

[2016-11-01 20:26] marksantcroos opened #2333 "orterun with persistent dvm regression after recent routed changes"
Hi @rhc54 , I'm back :-)

The routed revision in 649301a breaks orterun with a presistent dvm with the following error:

[code]

With latest master (i.e. 6074c2a2) it hangs with the following error:

[code]

Do you know what the issue is or do I need to provide more info?

Thanks

Mark

[2016-11-01 20:28] hjelmn commented on #2324
Shows how well-used these functions are :D.

[2016-11-01 20:49] rhc54 commented on #2333
Welcome back!! I'll take a look - this provides enough info. Thx!

[2016-11-01 21:10] jjhursey opened #2335 "MPI_Reduce op x datatype parameter check needs improvement"
Consider the following:
[code]

The MPI standard (MPI 3.1 - [Section 5.9.2](http://mpi-forum.org/docs/mpi-3.1/mpi31-report/node112.htm#Node112)) says that this is not allowed, so this would be an invalid MPI program. `MPI_BYTE` can only be used with the `MPI_BAND, MPI_BOR, MPI_BXOR` `MPI_op` types.

Open MPI does not check this in it's `ompi_op_is_valid` param check [here](https://github.com/open-

[2016-11-01 21:52] martinkontsek commented on #2328
Hello.
The patch didn't help. The issue is still present. I have tested in on both `nightly v2.0.1-134-g52bea1d from 2.0.x branch` and `nightly v2.0.1-270-g87a79fa from 2.x branch`.

[2016-11-01 21:59] larrystevenwise commented on #2228
#2336 opened to remove openib failover code.

[2016-11-01 22:06] rhc54 commented on #2328
This actually looks like we have daemons either getting launched on the master node (where mpirun is executing), or we have confusion in the way daemons are computing their vpids.

Can you please configure OMPI with --enable-debug, and then add "-mca plm_base_verbose 5" to your cmd line? I'm looking for something that tells me if a daemon is being launched onto the same node where mpirun is execut

[2016-11-01 22:51] martinkontsek commented on #2328
I have recompiled OpenMPI v2.0.1-134-g52bea1d nightly with --enable-debug.
Here is log from pure mpirun: [debug_mpirun_2.0.x.txt](https://github.com/open-mpi/ompi/files/565242/debug_mpirun_2.0.x.txt)
Here is log from Moab/TORQUE run: [debug_Moab_2.0.x.txt](https://github.com/open-mpi/ompi/files/565244/debug_Moab_2.0.x.txt)

[2016-11-01 23:30] rhc54 commented on #2328
I see that the Moab run thinks it has been allocated node "pacini002-11". Your output shows that mpirun is executing on a node "pacini002". The mpirun ssh-based run shows only one node, "pacini002", in the allocation.

Are "pacini002" and "pacini002-11" the same node?

[2016-11-01 23:31] jsquyres opened #2337 "Change nightly tarball filenames"
Per https://www.mail-archive.com/devel@lists.open-mpi.org/msg19708.html, rename the nightly tarballs to be of the form: `openmpi-${BRANCHNAME}-${YYYYMMDDHHMM}-${SHORTHASH}.tar.bz2`.

[2016-11-01 23:33] martinkontsek commented on #2328
Yes, they are same nodes. Moab/TORQUE uses pacini002-11.<domain> as we are running it on VLAN11.

[2016-11-02 00:11] #2337 closed

[2016-11-02 00:16] ggouaillardet commented on #2331
@walkup we previously got a similar report.
what happened it the ```-pthread``` flag was pulled from some external libtool generated files built with gcc
(iirc, slurm was compiled with gcc, and hence Open MPI compiled with PGI compiler pulled the ```-pthread``` flag)
are you running into a similar case ?

workarounds are
- build all your dependencies with PGI
- edit the ```*.la``` files from your

[2016-11-02 00:18] rhc54 commented on #2328
Ah, well that is the problem! The different node names confuse us into thinking they are different nodes, and hence we launch an orted when we shouldn't.

What does the PBS_NODEFILE look like?

[2016-11-02 00:24] d-a-v commented on #2320
Hi, thanks.
I tried the master branch and the v2.0.x branch, with same issue.
The name of the interface inside the docker container is eth0, so the patch above has no effect (but still I tried too, and the name of the interface is indeed eth0 inside the 'name' variable).

[2016-11-02 00:34] martinkontsek commented on #2328
I suppose by PBS_NODEFILE you mean node definition file for Torque. [nodes.txt](https://github.com/open-mpi/ompi/files/565413/nodes.txt)

I should also mention, that I am removing domain name from all the outputs.
so pacini002 looks like pacini002.xxx.yyy.com
and pacini002-11 looks like pacini002.xxx.yyy.com

[2016-11-02 01:57] rhc54 commented on #2328
Okay, I see the problem, though I'm not immediately sure how to solve it. You have Moab configured in a way that causes it to add a "-11" to the end of each node name. However, "hostname" on the nodes isn't returning that string - it returns the actual nodename, which doesn't include the "-11" suffix. As a result, we don't see the nodes as being the same, and think the nodes are different - which

[2016-11-02 02:07] rhc54 commented on #2320
You might want to check on the slurm mailing list as I know people are doing this today - not sure what configuration was required.

[2016-11-02 02:09] bosilca commented on #2335
The problem is that we convert the MPI datatype into the basic OPAL datatype before the check. As a result the MPI_BYTE gets converted to OMPI_DATATYPE_MPI_UINT8_T), which has acceptable values for all predefined op. The solution might be to use the MPI datatype ID instead of the OPAL one, and have larger and more complex ops arrays (as defined in op/op.c).

[2016-11-02 02:47] martinkontsek commented on #2328
But this issue is NOT present in `stable v1.10.4` and `nightly v2.x-dev-3109-g6074c2a from master`. Shouldn't this behaviour be consistent between branches?

[2016-11-02 03:27] rhc54 commented on #2328
Not necessarily - there are differences in the code based on what patches may have come across, the timing of those patches, and changes in Torque. We frankly don't often see this kind of problem as folks generally don't modify the hostname. I've seen this pattern more commonly in places like Hadoop clusters, but we historically had separate code (since removed) for dealing with them.

Like I said

[2016-11-02 03:28] #2333 closed

[2016-11-02 03:54] rhc54 commented on #1905
I know this has now been solved by a patch from @hjelmn - but the precise PR escapes me. Still, we are updating all the v2.0 and v2.x branches, so I'm going to close this now as the fix will be in the next releases.

[2016-11-02 03:54] #1905 closed

[2016-11-02 05:42] marksantcroos commented on #2333
Thanks Ralph, can confirm this fixes the issue!

[2016-11-02 08:31] ggouaillardet commented on #2270
@rhc54 thanks for #2332 !

i opened #2341 with the proof of concept.
note i worked on ```v2.x``` because of other issues on master (and i had no time to test it against master)
```mpirun --mca plm_slurm_resv_ports true ...``` will ```srun --resv-ports=1 ... orted ...``` under the hood
(you must have it configured in SLURM before) and hopefully improve the scalability.

note there is a race conditi

[2016-11-02 09:10] ggouaillardet commented on #2320
I will try to reproduce this.
At first glance, all happens inside containers, and eth0 is the only avsilable interface, so from an Open MPI point of view, thst should be business as usual ...
The hang suggests ip forwarding on the hosts for container-to-container traffic does not work as it should
If you have any chance, can you double check with tcpdump traffic gies through ?

[2016-11-02 11:36] ggouaillardet commented on #2320
fwiw, i was able to run ```examples/ring_c``` in a similar config (i use ```lxc``` containers directly)
i manually created ```virbr1``` and ```virbr2```, and manually added the ```iptables``` rules
[code]
and made sure ip forwarding is turned on
[code]

there is no SE linux on my host nor my containers, and there are no ```iptables``` on the containers

[2016-11-02 14:33] jsquyres commented on #2328
@martinkontsek Out of curiosity, is there a reason you're using the `-11` names for Torque?  I ask because it is a popular misconception that MPI libraries use the hostnames provider by the resource manager to determine which network interfaces should be used for MPI traffic.  To be clear: the hostnames/IP addresses given to Open MPI by the resource manager have no bearing on which network interfa

[2016-11-02 14:49] jsquyres commented on #81
This is super stale; I'm closing.

[2016-11-02 14:49] #81 closed

[2016-11-02 14:53] walkup commented on #2331
Thanks.  I understand that the "-pthread" option got in there for historical reasons.  However, it is an option that is specific to gcc, and if you recursively grep for REENTRANT and THREAD_SAFE in openmpi source, including all header files, you will find that the "-pthread" option is not required when building with gcc, even when building support for MPI_THREAD_MULTIPLE.  One can safely eliminate

[2016-11-02 15:08] jsquyres commented on #2320
Can you specify where the application is hanging?  I.e., is it even getting past the initial mpirun?  Are the MPI applications starting?  If so, do they get past MPI_INIT?  Do they successfully execute some MPI communication calls?  ...etc.

Also, can you send the ifconfig output / networking topology of your setup?

If it's a matter of Open MPI automatically choosing the "wrong" network (e.g., pi

[2016-11-02 15:21] ggouaillardet commented on #2331
Open MPI needs pthreads, and hence need to tell the compiler to build thread safe code.
if not, ```errno``` might be a unique global variable instead of a per thread variable.
/* we did run into this, not on linux nor with GNU compilers iirc */
that can be achieved with ```-pthread``` with ```gcc```, several other options are available, including ```-D_REENTRANT -lpthread```
bottom line, ```-pthre

[2016-11-02 17:28] martinkontsek commented on #2328
@jsquyres The reason for using `-11` name s for Moab/TORQUE is that we want the Moab/TORQUE control communication between head node and compute nodes to be in VLAN11. This config was suggested by Adaptive support as the only way of ensuring the communication will go via VLAN11.

[2016-11-02 17:31] jsquyres commented on #2262
@thananon Is this the bug you were referring to in email?

[2016-11-02 18:21] rhc54 commented on #2328
One solution is to just rename your nodes with that extension so that "hostname" returns the -11 name. I'm sorry to hear that Moab/Torque has adopted the rather odd Hadoop convention of tagging a node's name to a specific interface as that creates considerable confusion - I'll address that with them directly. Meantime, renaming the nodes would be your quickest solution.

[2016-11-02 18:23] thananon commented on #2262
No, I was talking in the case **without** progress thread.

[2016-11-02 22:25] d-a-v commented on #2320
@jsquyres a lot of your questions are answered in the readme from the link in the OP. https://github.com/d-a-v/openmpi-bridge-docker
In brief: yes, ompi starts, but no communication. Ompi logs are provided. Mpich is running with the very same setup, so the network is working. Ifconfig and brctrl are shown. All networks are excluded except the only one available (eth0) with "btl self,tcp" and "oob/

[2016-11-02 22:50] jsquyres commented on #2320
@d-a-v Oops!  Sorry for missing that info in the original post.  /me goes to read now... Nice; thanks for all the detail.

Can you try running with this patch and `--mca btl_base_verbose 100`? (you're already using that verbose level; you need to keep it that high to enable extra dumping)

[code]

This will output some more state about the TCP BTL connection status.  Without this patch, we only se

[2016-11-03 00:24] d-a-v commented on #2320
Here are the WANT_PEER_DUMP defined to 1 logs: [gist](https://gist.githubusercontent.com/d-a-v/c58f5ae8a9450cc3d0a609c8d63fed6d/raw/9c6432b64c6375d493d408839eb0757a35bca372/want_peer_dump_1.log)

[2016-11-03 01:57] ggouaillardet commented on #2320
@d-a-v Open MPI is exclusively used inside containers. so from this point of view, there is only ```eth0``` and as far as i understand, there is even no way to know that this interface is part of a bridge on a host with a ```vethXXX``` name.
we did some tricks to exclude some virtual interfaces, and that could only interfere if Open MPI was using the host.

out of curiosity, what if you
[code]

/*

[2016-11-03 03:57] bosilca commented on #2320
David,

1. This might be a typo in the git repo, but I don’t see where you check the connection from 10.242.1.3 to 10.243.1.3. You check the connectivity from the host to 10.242.1.3, then from 10.242.1.3 to 10.242.1.3, and then finally from 10.243.1.3 to 10.242.1.3.

2. Some pertinent info from the gist. At the bottom of the gist (about 20 lines before) you can see the following 2 lines:

This ind

[2016-11-03 04:31] ggouaillardet commented on #2320
@bosilca in my ```lxc``` environment, ```btl/tcp``` also gets port 1024, while ```oob/tcp``` receives a higher port.
privileged ports are (strictly) less than 1024, so i would not worry too much about this.

[2016-11-03 04:39] ggouaillardet commented on #2320
@bosilca
[code]

without reading the code, that suggests Open MPI tries to bind to port 1024, 1025, ... 1024+64511 until ```bind``` successes, and that would explain why ```btl/tcp``` binds to port ```1024```.
```oob/tcp``` likely bind to port 0, so it gets assigned a higher value

[2016-11-03 04:56] bosilca commented on #2320
@ggouaillardet indeed, the port association is coming from the BTL itself.

[2016-11-03 09:21] d-a-v commented on #2320
@ggouaillardet
- swapping IP does no change anything. I can provide the debug log if needed?
- both host and containers are ubuntu xenial 16.04 x64. Currently host is inside qemu/kvm because I am remotely working, but I get same behaviour on native host
- docker is docker-stable from get.docker.com, not the one from the distro. I will try with docker from stable source.
- iptables from host: [ther

[2016-11-03 09:45] d-a-v commented on #2320
@bosilca
1. you are right, I did not mention it. Here is an example of working connectivity: [there)[https://gist.githubusercontent.com/d-a-v/d79d6f1aa834aa48b25d83c8ed11ba66/raw/b8f571927ee8075763b8facfc855d8a708f184b9/gistfile1.txt]
2. I'll start the 20mn wait test right after this. Please note that the applications eat all available cpu while sitting and waiting for communication to succeed. So

[2016-11-03 10:41] ggouaillardet commented on #2320
@d-a-v i will install your environment because i have no clue of what is going wrong here.
we use ```libevent``` internally, and it makes debugging non trivial
you can simply run ```pstack``` on your MPI tasks, if should show one in ```MPI_Send``` and the other in ```MPI_Recv```

is ```selinux``` "running" on host ?

out of curiosity, you might want to try
```mpirun --mca btl_tcp_port_min_v4 48000

[2016-11-03 10:41] d-a-v commented on #2320
@bosilca
2. 50mn later, no more output from debug log, still sitting eating cpu.

[2016-11-03 10:59] d-a-v commented on #2320
@ggouaillardet
- I have not used libevent yet. I will try and see what I can do, thanks
- selinux is running nowhere
- `--mca btl_tcp_port_min_v4 48000` indeed changed the port values in debug logs, but with no other change.

[2016-11-03 11:57] ggouaillardet commented on #2320
@d-a-v i finally nailed it :-)

what happens is connections between containers are masqueraded, so i guess Open MPI silently drop the connection

[code]

[code]

note the connection comes from ```10.242.1.1``` when ```10.243.1.2``` is expected

the following commands on your host will keep cross container traffic unmasqueraded

[code]

and the previous commands return

[code]

then Open MPI is a h

[2016-11-03 12:35] jsquyres commented on #2320
We should probably put some verbose messages on the receiver side when the TCP BTL drops unexpected incoming connections (i.e., something that would display if you `--mca btl_base_verbose 100`).

[2016-11-03 12:37] ggouaillardet commented on #2320
I will take a crack at it.
Note that at this stage, I only guessed unexpected incoming connections are silently dropped.

[2016-11-03 13:01] d-a-v commented on #2320
@ggouaillardet
Thanks alot, it works with the postrouting rules !
Of course the container are masqueraded, but I never questioned myself about masquerading between local bridges too. I will try soon on the real setup (containers on different hosts not the same one as here).

@all
Big thanks, you guys saved my mental stability about a problem which is is definitely not yours.

@ggouaillardet

this

[2016-11-03 13:49] jsquyres commented on #2164
This was fixed.

[2016-11-03 13:49] #2164 closed

[2016-11-03 13:54] jsquyres commented on #2028
Even with @karasevb's 68b5acd9f427480b53e1bc249286cd7aea097404, I'm getting segv's when running with tcp,vader,self:

[code]
[code]

[2016-11-03 14:12] jsquyres commented on #2028
I get a lot of failures in the OpenSHMEM test suite like this that all seem to have the same signature: the `l_mkey` is NULL.

[2016-11-03 15:17] artpol84 commented on #2028
Thank you, we will check!

[2016-11-03 15:22] hppritcha commented on #1831
I collected some osu_mbw_mr numbers off of one of the LANL omnipath systems and put them
here https://gist.github.com/hppritcha/8da4436a216c9d96bf10ad9d403da03f

It appears there was a significant performance degradation going from 1.10 release stream to master.  It looks like 2.0.x release stream is the worst, then something was done on master to patch things up a bit, with PRs back to 2.x after

[2016-11-03 17:02] jladd-mlnx commented on #2028
@jsquyres , is this on master or 2.x? Even without the patch, I have no issues running the `collect32_performance.x`  benchmark between two nodes with the following command line on the 2.x branch

[code]
If, however, I try with master (after rebuilding the benchmark), I get:
[code]

And the performance is actually significantly improved over the numbers I collected with 1.10.2.

[2016-11-03 18:23] jsquyres commented on #2028
@jladd-mlnx This is on master.  Here's how I configured Open MPI:

[code]

Copying a bunch of your params, here's how I ran that individual test (although many more fail in the same way):

[code]

vic20 is a 10G ethernet interface.

Looking at the corefile that was emitted from the above run, it shows the same symptom: `l_mkey` is NULL.

[2016-11-03 20:19] gpaulsen opened #2358 ""mpirun --debug ..." broken in v2.0.1"
It's also broken on top of v2.0.x branch.

line 1184(v2.x) of orte/tools/orterun/orterun.c is:

[code]

This causes --debug to print this message on v2.0.1.

related to https://github.com/open-mpi/ompi/issues/1225

***EDIT: Added proper block verbatim notation***

[2016-11-03 20:41] jsquyres commented on #2358
@gpaulsen Github pro tip: when doing a multi-line verbatim block on github, use *3* single-tick marks to denote the beginning / end (va. the *1* single tick mark which is for inline verbatim).

[2016-11-03 20:42] jsquyres commented on #2358
@gpaulsen This looks like a blocker for v2.0.2, right?  If so, please apply labels and the v2.0.2 milestone.

[2016-11-03 20:45] jsquyres commented on #2028
I confirm that on v2.0.x and v2.x, these initial tests seem to work fine with vader,tcp,self.  Now that those fixes are merged into these branches, let's see how it does tonight on MTT.

[2016-11-03 21:32] rhc54 commented on #2358
Hmmm..I'm pretty sure this is actually fixed - will look into it tonight.

[2016-11-03 21:37] jsquyres commented on #2028
FWIW, I see a bunch of ptmalloc messages like this in the oshmem tests (in the v2.0.x branch):

[code]

We'll see more after MTT runs tonight.

[2016-11-03 21:39] rhc54 commented on #2358
Just looked at the 2.x branch, and there is no reason for the code not to be enabled. I'll test it and update things here, but I believe all that is required is to simply remove the ```#if``` clause.

[2016-11-03 21:52] martinkontsek commented on #2328
@rhc54 Thank you very much for the information. Sadly renaming hostnames is not an option for us as we have production environment. So we will wait with OpenMPI v2 deployment until this issue is resolved.

[2016-11-03 21:56] gpaulsen commented on #2358
great.  We're testing that tonight also

[2016-11-03 21:56] bosilca commented on #2320
@ggouaillardet nice catch. Indeed, after we receive the initial handshake from the peer in mca_btl_tcp_component_recv_handler, we then extract the IP of the incoming socket and go in mca_btl_tcp_proc_accept. That's the moment where we will silently drop the connection, if the address doesn't match what we know about the peer (from the modex).

@d-a-v can you give a try to the following patch (it i

[2016-11-03 22:26] rhc54 commented on #2358
I tested both branches using the ORTE_TEST_DEBUGGER_ATTACH envar, and the debugger release was correctly sent and received.

[2016-11-04 08:42] d-a-v commented on #2320
@bosilca will do as soon as possible.

[2016-11-04 09:39] BrightWise opened #2363 "MPI_Comm_accept/MPI_Comm_connect did not work in singleton mode on 2.0.1"
I wrote server/client samples which using MPI_Comm_accept/MPI_Comm_connect to establish communications; however, the connection always failed with timeout after 60s whether mpirun is used or not:

Trying connect to 1843354423.0:3874605820
[host:12176] OPAL ERROR: Timeout in file base/pmix_base_fns.c at line 193
[host:12176] *** An error occurred in MPI_Comm_connect
[host:12176] *** reported by pro

[2016-11-04 12:22] rhc54 commented on #2363
This is being fixed in v2.0.2 - patch is waiting for commit

[2016-11-04 12:22] #2363 closed

[2016-11-04 15:16] d-a-v commented on #2320
@bolsica your patch is informative. With my misconfigured network, here is what I get without any debugging option:

This would have been very helpful in my case.

Thanks

[2016-11-04 16:15] bosilca commented on #2320
@d-a-v thanks for the testing. I will push the change in the master, but not before I have the time to dig a little bit more and understand why the closed socket is not detected by the remote peer. We now know the socket has been correctly closed, and this is supposed to trigger a 0-byte reception at the originator, which will then try to find another way to communicate with the peer. If no other

[2016-11-04 17:12] jsquyres commented on #2320
@bosilca This isn't complete, but perhaps a patch like this would be good:

[code]

[2016-11-04 17:15] bosilca commented on #2320
If you want to print all the addresses of the peer, we have them somewhere (the URI we got from the modex).

[2016-11-05 00:58] ggouaillardet commented on #2320
an other approach is to mimick ```oob/tcp```
accept all connections, and use the ```sec``` framework to figure out whether a connection is legit or not.

that would allow Open MPI to support more complex/spaghetti networks with NAT and port forwarding. i do not see a need for it right now. later ... who knows ?

[2016-11-05 01:05] jsquyres commented on #2320
Fwiw, the use case for this particular drop case was to prevent network virus scanners from connecting to ompi jobs and confusing the TCP btl. This was a "good enough" fox for this particular use case.

Sent from my phone. No type good.

[2016-11-06 14:52] nysal opened #2366 "MPI_Get_elements for data types used in reduction functions"
There seems to be a difference in the way mpich and ompi behave when MPI_Get_elements is used in conjunction with datatypes used with reduction functions (MPI_DOUBLE_INT etc.). When a single count of such a datatype is received, mpich interprets the number of elements as 2 where as ompi returns 1. ompi seems to interpret the following line from the spec (chapter 4, page 114):
[code]
to include the

[2016-11-06 15:12] nysal commented on #2366
You can change the send datatype to MPI_DOUBLE_INT, then it gives the wrong number of elements instead of MPI_UNDEFINED.

[2016-11-06 18:25] bosilca commented on #2366
This example is not correct, it assumes that MPI_DOUBLE_INT is the same as MPI_DOUBLE followed by MPI_INT. While this might be pragmatically correct, MPI_DOUBLE_INT is an MPI defined datatype and as such OMPI consider it predefined. One of the outcomes is that we cannot split the type in it's type counterparts, as in the example provided. If instead of using the predefined MPI_DOUBLE_INT you creat

[2016-11-07 03:20] nysal commented on #2366
ok, so there is a difference in interpretation here. Changing the test case to use:
    //err = MPI_Sendrecv((const void *) &foo, 1, stype, 0, 0,
    err = MPI_Sendrecv((const void *) &foo, 2, MPI_DOUBLE_INT, 0, 0,
                       (void *) &bar, 2, MPI_DOUBLE_INT, 0, 0, MPI_COMM_SELF, &recvstatus);

Ignore the invalid memory read, it should work though :-)
MPI_Get_elements() in mpich return

[2016-11-07 04:58] bosilca commented on #2366
Clearly there is a different interpretation of the standard: we consider the MPI_DOUBLE_INT as a single unitary datatype, while MPICH does not. Asking the forum might be a good idea.

[2016-11-07 05:40] jijo733 opened #2370 "duplicates in "MPI_T_cvar_get_info" table contents[cvar_name]"
The out control variable names contain duplicate entries, if we initialize both MPI_Init and MPI_T_Init_thread we hit with this error, but this scenario wont occur if we remove the MPI_Init but which is not a workaround.

[code]

[2016-11-07 08:53] ggouaillardet commented on #2370
@jijo733 there is an error in your test

here is a revised version

[code]

what happens is some parameters are internally registered and then unregistered, so some indexes between 0 and ```MPI_T_cvar_get_num()``` are invalid ones.
Bottom line, you need to check ```MPI_T_cvar_get_index()``` returns ```MPI_SUCCESS```.

[2016-11-07 10:29] ggouaillardet commented on #2262
@bosilca i am able to reproduce the bug when i run the ```ialltoallv``` program in a loop (2 nodes, 16 tasks per node)
i added a few printf here and there, and at this stage, the ```tcp_btl->tcp_endpoints``` list is accessed simultaneously by two threads, which likely ends up in a corruption.

i suspect ```add_procs``` gets invoked by a thread in the middle of the main thread running ```del_procs`

[2016-11-07 10:34] BrightWise opened #2375 "MPI_Comm_accept/MPI_Comm_connect did not work without "mpirun -np 1" on 1.10.4 release"
I was running the client/server application according to http://silveiraneto.net/estudos/mpi-client-server/.

It succeeded when launch them though "mpirun -np 1";however, if I started them directly("./server","./client ..."), server was accepting and client would report following error when trying to connect:

An attempt was made to send a message to a process whose address is unknown:
Sender: [[9

[2016-11-07 13:45] d-a-v commented on #2320
@jsquyres
I tried your patch along @bosilca's and here is what I got.

the string was not complete, here is how I wrote it. I also had to replace the alloca() by a static string because for some reasons I got segfaults - I just wanted to see the message:

[code]

result:

compared to previous:

This is indeed even more informative regarding the nat operation.
However, I don't understand why you pu

[2016-11-07 20:10] jsquyres commented on #2228
Fixed in #2336.

[2016-11-07 20:10] #2228 closed

[2016-11-07 20:13] hppritcha commented on #2256
maybe this should be moved to 2.1 for a more complete solution?

[2016-11-07 20:23] jjhursey commented on #2256
Yeah. I'll PR over my bcast parameter to the 2.(0.)x series. Then we can move it to v2.1 for a complete bcast solution.

[2016-11-07 22:04] jjhursey opened #2380 "MPI_Comm_idup hang in v2.0.x with MPI_THREAD_MULTIPLE"
I created a test case in ompi-tests under`ibm/communicator/comm_idup_many.c`

This test is doing a simple:
[code]

If you compile the `v2.0.x` branch with `--enable-mpi-thread-multiple` this test will hang when you try to create more than one communicator this way.
[code]

The problem is that the first request will progress past stage one, but the second request will block the progress thread in t

[2016-11-07 22:06] jjhursey commented on #2380
As part of Issue #2234 it was requested that we port a portion of this change to the `v2.0.x` series to fix a spawn issue:
 * https://github.com/open-mpi/ompi/issues/2234#issuecomment-257398856

I believe that this commit to the `v2.x` branch is what we would be looking at:
 * https://github.com/open-mpi/ompi/pull/2215

[2016-11-08 00:40] ggouaillardet commented on #2262
here is a trace that evidence a potential issue.

```mca_btl_tcp_add_procs``` is invoked by two threads at the same time, and though invoked with distinct procs, they both end up ```opal_list_append()``` the very same ```tcp_btl->tcp_endpoints``` list

i will protect list access with a lock and see how things go.
i will also add some trace to detect whether ```mca_btl_tcp_add_procs``` might be inv

[2016-11-08 04:35] bosilca commented on #2262
We were very careful when we designed the handshake, as now there are multiple path inside. I don't think there is a need for more locks. First, the proc creation happens in mca_btl_tcp_proc_create, where the management of procs is protected behind the mca_btl_tcp_component.tcp_lock lock. As we add the procs in a hash table based on their unique gid, there is no opportunity for collision here.

On

[2016-11-08 04:53] ggouaillardet commented on #2262
here is my current diff (with a bunch of ```fprintf```)

line numbers are different than the ones on the stack trace

[code]

in ```mca_btl_tcp_add_procs```, i previously noted

[code]

in the second error path, ```OPAL_THREAD_UNLOCK``` is followed by ```continue```.
i would have expected a ```return``` or no ```OPAL_THREAD_UNLOCK``` at all.

in my current environment, races accessing ```tcp_btl->

[2016-11-08 05:14] ggouaillardet commented on #2262
@bosilca
answering your previous comment

[code]
 in ```mca_btl_tcp_add_procs``` is protected by the ```tcp_proc->proc_lock```

what i saw when debugging is that ```tcp_btl->tcp_endpoints``` is the same in both threads, but ```tcp_proc``` is different (and hence each thread owns its own lock, but update a very same shared variable)

[2016-11-08 05:37] jijo733 commented on #2370
@ggouaillardet, thanks the modification resolves the issue !

[2016-11-08 05:37] #2370 closed

[2016-11-08 16:13] jsquyres commented on #2380
Per the call today, https://github.com/open-mpi/ompi/pull/2381 may fix this issue.

[2016-11-08 16:19] jjhursey commented on #1763
For anyone fixing this issue make sure to also fix it in `libnbc` - per Issue #2256. The resolution of that issue implements a work around - which should be removed once a full fix is available.

[2016-11-08 16:19] jjhursey commented on #2256
We talked about this on the call today. Once the two work around PRs are merged (#2378, #2379). Then we will close this issue as fixed.

Once that happens then we should followup with a fix on Issue #1763 (I've added a note there with a reference)

[2016-11-08 16:19] gpaulsen commented on #2358
I also tested, that it correctly launched totalview.

[2016-11-08 16:24] jsquyres commented on #2358
Fixed have been merged.

[2016-11-08 16:24] #2358 closed

[2016-11-08 20:46] pietern opened #2389 "MPI_Lookup_name fails if process for name has exited"
Context: running 2.0.1, starting orte-server separately, with one process calling MPI_Publish_name and MPI_Comm_accept, and another process calling MPI_Lookup_name and MPI_Comm_connect.

When I leave orte-server running between tests, the name of the server is not pruned from the registry. Upon calling MPI_Lookup_name again, the process logs the following errors:

[code]

I attached gdb and went t

[2016-11-09 06:06] ggouaillardet commented on #2262
i just edited the inline patch above.
```opal_fd_read``` params were note swapped as expected

[2016-11-09 14:09] hujiePKU opened #2390 "CUDA-aware MPI with non-blocking cudaStream"
Excuse me, I want to do CUDA-aware MPI communication in a host thread, but the default MPI setting is using cudaDefaultStream, which would blocking the main thread kernel-function. So how can I replace the defaultStream with non-blocking stream created by cudaStreamCreateWithFlags(&stream, cudaStreamNonBlocking) . Thank you very much!

[2016-11-09 16:54] sjeaugey commented on #2390
The CUDA-aware part of MPI should only be using asynchronous streams, not cudaStreamDefault. So, in theory, you should already have what you need.

[2016-11-09 17:04] njoly opened #2391 "Small typo in help-pmix-base.txt"
There is a small typo in the last line of help-pmix-base.txt file, as found in the v2.0.1 archive.

"This information should probably be repopald to the OMPI developers."
instead of
"This information should probably be reported to the OMPI developers."

[2016-11-09 17:44] jsquyres commented on #2380
Confirmed by @jjhursey: fixed by #2381.

[2016-11-09 17:44] #2380 closed

[2016-11-09 18:18] hujiePKU commented on #2390
I got it, thank you for your reply. Since there is no interface to set cudaStream in MPI environment,  I always think that it use the cudaStreamDefault.

[2016-11-09 18:23] jsquyres commented on #2390
Looks like your question was answered; I'm closing this issue.  Feel free to re-open if you need further discussion on this topic.

[2016-11-09 18:23] #2390 closed

[2016-11-09 18:32] jjhursey commented on #2256
I'm closing this issue now that the work around has been put into the v2.(0.).x branches. Followup work will be on Issue #1763

[2016-11-09 18:32] #2256 closed

[2016-11-09 23:52] hppritcha commented on #1831
I got data using the GNI provider.  It also shows a significant performance degration for shorter messages.

https://gist.github.com/hppritcha/200bc7a2d4dfde709245d6ffa7b2b971

not as bad as for the PSM2 MTL though.

[2016-11-10 00:04] rhc54 commented on #1831
I don't see the 1.10 data in that gist, but the 2.0.x data is clearly impacted relative to master and v2.x. So it looks like there is something in the code path above the libraries.

@matcabral @hjelmn Can someone take a look and see if something is missing in the CM PML, or related code?

[2016-11-10 00:30] hjelmn commented on #1831
pml/cm looks up to date to me.

[2016-11-10 00:34] rhc54 commented on #1831
Given that the problem is in master as well, my comment was more to the point that perhaps some change is required in that code path - something that was done to resolve the performance issue in the pml/ob1 path, but didn't get done in the pml/cm path.

[2016-11-10 17:44] devkhan opened #2394 "Using mpirun on macOS with PETSc"
I'm seeing the below error while running a project while running a binary with `mpirun` which depends on PETSc:

[code]

Inside `/usr/local/opt/open-mpi/lib/`:

[code]

`open-mpi` is installed using `brew` from `science` tap. I tried running `mpirun -n echo 'Hello'`, and it worked fine. I'm not sure if this is an issue with `open-mpi` or `PETSc`, so apologies and please let me know if I need to po

[2016-11-10 18:13] jsquyres commented on #2394
What happens if you compile / run a simple MPI program (e.g., hello world, or ring -- see https://github.com/open-mpi/ompi/blob/master/examples/hello_usempi.f90 and https://github.com/open-mpi/ompi/blob/master/examples/ring_usempi.f90)?

[2016-11-10 18:24] devkhan commented on #2394
I'm not able to compile the fortran example that you gave, but other simple commands and binaries are working fine with `mpirun`. The problem is occurring when a binary refers `PETSc` and `PETSc` is dependent on `libmpi_usempi_ignore_tkr.20.dylib`, which doesn't exist (although a `libmpi_usempi_ignore_tkr.a` is available).

[2016-11-10 18:43] devkhan commented on #2394
Update: The C++ example worked fine.

[2016-11-10 19:00] hppritcha commented on #2234
@jsquyres I think this can be closed since #2381 is merged in.

[2016-11-10 21:46] bosilca commented on #2262
@ggouaillardet thanks for your finding, you are right the tcp_endpoints was unprotected from multiple thread accessing simultaneously while trying to add endpoints pertaining to different processors. I have put together a small patch, and run few hundreds tests successfully. I will run a little more tests and then create a PR.

[code]

[2016-11-11 00:53] ggouaillardet commented on #2394
@devkhan at first glance, it seems PETSc was not built against the Open MPI you are using.

how did you install Open MPI ?
i could not find any recipe in the science tap https://github.com/Homebrew/homebrew-science
[code]
none of these command work ...

maybe you should try the "stock" Open MPI
[code]
the missing file is in ```/usr/local/Cellar/open-mpi/lib```

[2016-11-11 01:24] devkhan commented on #2394
Yes, apologies for the misstatement, `open-mpi` was installed from the default tap. But the missing file is still not in `/usr/local/Cellar/open-mpi/lib`, in fact `/usr/local/opt/open-mpi` is just a symlink to `/usr/local/Cellar/open-mpi/2.0.1/`.

I'll try re-installing it and update here.

[2016-11-11 01:50] ggouaillardet commented on #2394
this is what i have on yosemite

[code]

which flavour of OS X are you running on ?

[2016-11-11 03:52] hujiePKU opened #2397 "Problem about CUDA-aware MPI effiency"
I try to use CUDA-awre MPI and normal-MPI( cudaMemcpy and communicate by cpu)  respectively to do MPI_Allreduce at NVIDIA Tesla M40 by openmpi-1.8.5 and openmpi-2.0.1 complied with --with-cuda. The Tesla chip support GPUDirect, but I found that using CUDA_aware MPI is extremely slowly than normal-MPI. I want to know whether something wrong in my code.

source code:
#define ENV_LOCAL_RANK "OMPI_COM

[2016-11-11 05:07] bosilca commented on #2262
pull request #2398 should fix this issue.

[2016-11-11 09:58] cniethammer opened #2399 "MPI_File_Write* bug due to uncatched write(v) calls for iov_len > 2,147,479,552 bytes"
There is a bug with MPI_File_write* operations in Open MPI which truncates files or writes incorrect data to files.
I broke the problem down to the POSIX writev call used in ompi/mca/fbtl/posix/fbtl_posix_pwritev.c that will not write more than 2,147,479,552 bytes to disk. From man 2 write NOTES:

       returning the number of bytes actually transferred.  (This is true on both 32-bit and 64-bit s

[2016-11-11 14:23] edgargabriel commented on #2399
Christoph,

thank you for your bug report and analysis. I *think* the second
solution is already implemented, at least for blocking operations, it is
just not active by default. Could you try to rerun your test case and
set the mca parameter

mca_io_ompio_cycle_buffer_size

to something (e.g. 1 GB or similar, value has to be given in bytes
however), and see whether this fixes the problem? If this

[2016-11-11 18:17] sjeaugey commented on #2397
Benchmarking only a single 40000 bytes operation can give hard to understand results. The first operation can take substantial time (in your case 8ms) to setup everything. The next (same) operations would likely be much faster. In the case of CUDA aware MPI, it may actually still steup things during the second transfer. So, if you want to benchmark speed of operations, you should probable warm-up

[2016-11-12 09:09] hujiePKU commented on #2397
I modified the start time after the MPI Barrier and did a repetition of 10000 and 100000 operations respectively to Allreduce 40000 bytes in a for circulation, but the result is that CUDA-aware MPI is still slower than normal cudaMemcpy strategy.
                                        10000 times                100000 times
CUDA-aware MPI               0.6794 s                     5.4254 s
Normal

[2016-11-12 15:22] ibaned opened #2402 "MPI_Neighbor_alltoall with empty graph"
This is a Github version of https://www.mail-archive.com/devel@lists.open-mpi.org//msg19753.html

There is a regression in the use of neighborhood collectives with empty topologies.
The following program:

[code]

produces errors like these when compiled against OpenMPI at
versions `v2.0.1` and `a49422f`, but runs okay at version `v1.10.4`:

[code]

[2016-11-12 16:03] hppritcha commented on #2391
@njoly thanks for reporting.

[2016-11-12 16:08] hppritcha commented on #2389
@pietern would you mind checking to see if your test works with the 1.10.4 release?

[2016-11-12 21:14] #2391 closed

[2016-11-12 23:09] bosilca commented on #2227
@rhc54 how can we figure out from the MPI library if the processes are subject to a user requested binding ?

[2016-11-13 05:23] rhc54 commented on #2227
It's a timely question - we are just starting a PMIx working group to discuss this very question of coordinating RM/OpenMP/MPI binding requests, including dynamic adjustments. Some prelim meetings are being held at SC this coming week, and we'll kick things off more actively after the holiday.

In the interim, the variable ```orte_proc_is_bound``` will be true if the process is bound in some way.

[2016-11-13 07:48] bosilca commented on #2397
I have modified the test to compile and do what it was supposed to [cuda_allreduce.cc](https://gist.github.com/bosilca/34c289c62bd6e3bb439dfc1f11bcef00). I have noticed similar performance as reported here, and after investigation it appears that the current MPI_Allreduce moves everything back on the CPU before doing the reduction. Thus, allocating and freeing the temporary memory, plus copying th

[2016-11-14 03:54] hujiePKU commented on #2397
It means that the current MPI_Allreduce even all p2p and collective MPI don't support GPUDirect yet, so it still need to pass by CPU-memory. Is it right?

[2016-11-14 06:25] bosilca commented on #2397
I never mentionned anything about point-to-point. As I said  in my comment, MPI_Allreduce in the 2.0.1 (and prior) transfer the data to the CPU before doing the collective, and then transfer it back. This behavior seems to only be restricted to collective communications, point-to-point take advantage of GPUDirect (and other techniques) when available.

[2016-11-14 06:39] hujiePKU commented on #2397
I got it. Thank you for your attention and patience! I really except GPUDirect technique can be available for collective communications in the near future.

[2016-11-14 06:39] #2397 closed

[2016-11-14 08:17] cniethammer commented on #2399
Hello Edgar,

Thanks for pointing out this option. I can confirm that setting
-mca mca_io_ompio_cycle_buffer_size 1073741824
results in writing the correct amount of data to disk.
I welcome setting a default which is safe for the user - e.g. to the Linux write limit - accepting a possible performance loss, which is obviously better than losing data at this point.

Best
Christoph

[2016-11-14 08:32] GuillaumeMercier commented on #2227
@rhc54 Thanks, I'll use this for now.

[2016-11-14 14:13] edgargabriel commented on #2399
Christoph,
I am open to any reasonable value, can you make a suggestion?
Thanks
Edgar

[2016-11-14 18:28] jsquyres opened #2411 "LLNL STAT tool not working with v2.0.2"
Per verbal report from @rhc54 on the show floor here at SC, apparently STAT is not working properly with v2.0.2.  Need to get this fixed.

[2016-11-14 18:30] jsquyres commented on #2389
@rhc54 Can you have a look?

[2016-11-14 18:34] jsquyres commented on #2402
@ibaned Thanks for reporting!  I think @bosilca fixed this issue in commit 725277b.  Can you try the latest Open MPI nightly master snapshot to see if it is fixed for you?

[2016-11-14 18:41] hppritcha commented on #2234
This issue is closed by commit #2215

[2016-11-14 18:41] #2234 closed

[2016-11-14 18:54] jsquyres commented on #1831
@rhc54 I don't think @hppritcha plans to get the Cray code to work with v1.10.

@rhc54 @matcabral Any progress on this issue?

[2016-11-14 19:09] jsquyres commented on #2030
This has been fixed.

[2016-11-14 19:09] #2030 closed

[2016-11-14 22:07] ibaned commented on #2402
Confirmed !
Compiling at commit fb5ccd3, my test program above runs fine and so does most of my real test suite. There is a different error printed for runs over 2 ranks, but I will open a different Github issue for that one. I appreciate the fast response from your team.

[2016-11-14 22:07] #2402 closed

[2016-11-15 23:36] nrgraham23 commented on #2116
@gundramleifert

You may need to update your psm install from the latest version found at: https://github.com/01org/psm.

I was running into issues with signal highjacking, discussed at: https://github.com/open-mpi/ompi/pull/1781 until I updated my version of psm.

However, after updating psm, I started getting different crashes and hangs from psm.

This appears to be an issue with psm, not ompi.

[2016-11-16 11:25] hujie-frank opened #2427 "Problem with collective communication in parallel threads."
Excuse me, does MPI can call collective communication concurrently in multi-threads? I want to do collective communication like MPI_Allreduce in parallel threads to deal with different tasks for some optimizations. I initialize with MPI_THREAD_MULTIPLE in MPI_Init_thread(), but it does not work ("MPI_ERR_TRUNCATE: message truncated").  I found the reason in the website, in Open MPI, each collectiv

[2016-11-16 14:06] bosilca commented on #2427
From the MPI perspective it is incorrect to start multiple collective communications on the same communicator in same time (for more info please read the Section 5.13 from the MPI standard, especially the page 217).

If you launch the collectives on different communicators, I can't see how the OMPI collective code today can lead to the type of errors you mention. Can you post a reproducer ?

[2016-11-16 17:07] ggouaillardet commented on #2427
@hujiePKU as pointed by George, you cannot use the same communicator in collectives with more one threads at a time.
The issue might be related to ddt (e.g. many elements on one hand, one large ddt on the other hand.
So you might wanna try
[code]
And see if it helps

[2016-11-16 17:46] hujiePKU commented on #2427
Is it work to launch different communicators if I want to call  collective communications in same time. How to launch  communicators in different threads? Where can I find the usages. I start to learn MPI and  forgive my ignorance.

[2016-11-16 18:23] bryan12345 opened #2430 "Configuration of openmpi's 2.0.0 romio results in pread and pwrite being added to libmpi"
The default configuration of romio results in HAVE_DECL_PWRITE on my systems.  This results in pread and pwrite being added to the libmpi library (from ompi/mca/io/romio314/romio/adio/common/utils.c).  However, when openmpi is used in our code, pread and pwrite are defined.  This causes problems when linking, since one would expect to obtain pread and pwrite symbols from glibc, but instead they mi

[2016-11-16 18:56] matcabral commented on #2116
I do not confirm the issue is in psm. Moreover, after the IPATH_NO_BACKTRACE (and HFI_NO_BACKTRACE) fix in opal_init.c. There should be no issues with signals handling. However, I do say that more research is needed.

[2016-11-16 20:53] nrgraham23 commented on #2116
Right.  The issue I was seeing after updating psm definitely looked different than the errors I was getting related to signal handling.

[2016-11-17 01:58] PHHargrove opened #2433 "NAG"
In the current 2.0.x branch (201611132217-ca9ac48) NAG Fortran (both v5 and v6) is rejecting use-mpi-tkr/mpi_testall_f90.f90

The issue was described in an email thread which (currently) ends with https://www.mail-archive.com/devel@lists.open-mpi.org/msg19385.html of 23 Aug 2016.

[2016-11-17 07:29] #2375 closed

[2016-11-17 09:26] hujiePKU commented on #2427
I read the Section 5.13  and more Sections about multi-threads, communicators and MPI environment from the MPI standard carefully. I modified my code to launch a communicator duplicated from MPI_COMM_WORLD  for each thread and call non-blocking collective communication and MPI_Wait subsequently in each thread. The program can run without any error or warning, except deadlocking at MPI_Wait sometim

[2016-11-17 09:44] ggouaillardet commented on #2427
Can you post a trimmed version of your code that exhibits the hang ?
Btw, you configure'd with --enable-mpi-thread-multiple , right ?
Which version are you running ?

[2016-11-17 12:14] hujiePKU commented on #2427
Yes,  I configure with --enable-mpi-thread-multiple  and call MPI_Init_thread(). The MPI version is 2.0.1.  The attachment is the trimmed code.
[test_mpi_multithread.cpp.txt](https://github.com/open-mpi/ompi/files/597289/test_mpi_multithread.cpp.txt)

[2016-11-17 23:29] ggouaillardet commented on #2430
@bryan12345 there are two issues here, so let's focus on the one that impacts you.
if i understand correctly, ```pread``` and ```pwrite``` used by your application are provided by the ```glibc```, so the issue is ```HAVE_DECL_PWRITE``` should have been ```1``` in the first place.
did i get it right ?

can you please provide info about your distro, your configure command line and your ```ompi/mca/i

[2016-11-18 00:06] ggouaillardet commented on #2427
@hujiePKU your program invokes ```MPI_Comm_dup``` on ```MPI_COMM_WORLD``` in both threads and at the same time.
i do not know whether this is allowed by the MPI standard. @bosilca any thoughts about that ?

in Open MPI, i believe ```MPI_Comm_dup``` involves collective operations, so i do not think we support that.

here is a rewritten version of your program that works fine for me
(i fixed the ```

[2016-11-18 07:06] hujiePKU commented on #2427
@ggouaillardet I complied and ran your code without any modification.  I executed the script "mpirun -np 2 ./test 1000"   more than 10 times, but procedure still occurred deadlock frequently. If I run with smaller data_count as input by script "mpirun -np 2 ./test 100", the probability of deadlock will decrease.

[2016-11-18 22:58] rhc54 commented on #1831
Still under investigation. I am removing the blocker tag from it as our folks are engaged in some other things right now, and this shouldn't hold up v2.0.2.

@matcabral I spoke with @hjelmn about this at SC, and he suggested looking at the instruction cache for "misses". We have previously seen cases where slight changes to the code path, even when reducing instruction count, would result in perfo

[2016-11-18 23:30] ggouaillardet commented on #2427
i got confirmation today that ```MPI_Comm_dup``` and friends are considered as collective operations, and hence ```MPI_Comm_dup(MPI_COMM_WORLD, ...)``` cannot be invoked simultaneously from different threads.

i found an issue related to thread safety in ```coll/libnbc```

can you please manually apply the inline patch and sees if it works for you ?

[code]

if you are still facing issues, could y

[2016-11-19 11:37] hujiePKU commented on #2427
I replaced non blocking MPI_Iallreduce(), MPI_Wait() with the blocking MPI_Allreduce(), then the procedure work normally without any deadlock. But when I test the speedup ratio and parallel efficiency, I am surprised to find that calling MPI_Allreduce serially  is faster than spliting the task into two concurrent threads to call MPI_Allreduce individually. The time consumption of serial call is ju

[2016-11-19 14:38] ggouaillardet commented on #2427
@hujiePKU first things first, did you apply the patch and did it fix the hang ?

if i understand correctly C++, both threads invoke ```MPI_Allreduce``` the same number of times, but quantity of data to be transferred vary from one thread to an other, so you cannot expect the 2 threads version takes half the time of the serial one.

keep in mind there is some overhead creating/joining threads.
then

[2016-11-21 05:45] hujiePKU commented on #2427
Yes, I have fixed the hang( non-blocking collective communication in multi-threads) by applying your patch, and I have seen your commitment in master. Thank you very much for your remarkable contributions! Another question,  I found that processors are bound by default after version 1.7.4. When I start two threads in each processor, how to be bound these two threads to two cores respectively? Can

[2016-11-21 06:23] ggouaillardet commented on #2427
@hujiePKU Open MPI only bind MPI tasks.
then it is up to the programmer/runtime to correctly bind threads.

all you can ask Open MPI is to bound a task on two cores.
Generally speaking, the OpenMP runtime can bind the OpenMP threads on the cores each MPI task was assigned.

in your example, you create the threads manually ... so you have to bind them manually.
note your application really uses 3 t

[2016-11-22 13:17] hujiePKU commented on #2427
@bosilca @ggouaillardet The real problem I face is that there are some calculations to be done in thousands of iterations(for Deep learning training) on Centos system equiped with 32 cpu cores and 8 Tesla M40. In each iteration, I do some calculations on GPU in main thread while invoking collective operations in a spawned thread. The next iteration will never start until all the operations in last

[2016-11-23 00:57] bosilca commented on #1831
@thananon is reviewing the CM's code to remove the request lock left over from the transition. The work can be followed on issue #2448.

[2016-11-23 14:19] hikingpig commented on #600
Thank you! That's exactly what I'm looking for. I got "tcp_peer_recv_connect_ack: received different version..." because I installed 1 version of OMPI in /usr/local (1.10.2 version) but I compiled everything with another version (1.8.5). So I have to remove the 1.10.2 version before running anything. Your guide works just beautifully.

[2016-11-28 20:29] hppritcha commented on #2106
@hjelmn could you get this working on v2.x?

[2016-11-28 20:30] hppritcha commented on #2411
Per discussion at the devel core meeting on 11/22 remove blocker label.  Can be fixed in a 2.0.3 release.

[2016-11-28 20:30] hppritcha commented on #2411
removing blocker label per devel core discussion 11/22.

[2016-11-29 08:11] bosilca commented on #2427
Expecting a non-blocking allreduce (a complex operation that involves a lot of computations) to perform correctly when no thread is ensuring MPI progress is not reasonable. I understand when one expect non-blocking point-to-point to provide async progress, as up to a certain degree this can be provided by the hardware. But doing reductions on the hardware, even on contiguous data, is not yet a mai

[2016-11-29 17:35] jsquyres commented on #2028
I think the fixes for this particular issue are now done; I'm still seeing some OSHMEM failures in MTT testing, but let's open up a new issue to track those (i.e., they seem to be different than BTL-3.0 updates).

[2016-11-29 17:35] #2028 closed

[2016-11-30 22:08] nspark opened #2483 "Cannot (intuitively) autoconf/CMake test for shmemx.h"
When testing for `shmemx.h` with autoconf's [`AC_CHECK_HEADER`](https://www.gnu.org/software/autoconf/manual/autoconf-2.68/html_node/Generic-Headers.html), one has to explicitly specify `shmem.h` as an include prerequisite.

When testing for `shmemx.h` with CMake:
* [`CHECK_INCLUDE_FILE`](https://cmake.org/cmake/help/latest/module/CheckIncludeFile.html) fails because the dependence on `shmem.h` ca

[2016-11-30 23:27] jsquyres commented on #2483
@jladd-mlnx Per https://github.com/openshmem-org/specification/pull/27#issuecomment-264028864, it looks like the recommendation is to have `shmemx.h` be a standalone unit (i.e., not require including `shmem.h` beforehand).  Can that be done?

Or is there a reason to not `#include <shmem.h>` at the top of `shmemx.h`?

[2016-12-01 01:38] hujiePKU commented on #2427
The total data size is between 30Mb ~150Mb, but divided into about 1000 discontinuous segments, the memory of each segment is continuous and range from 0.2Kb to 0.5Mb.  These segments data are figured out in sequence on GPU, each segment need Allreduce once produced.  I think it is hard to optimize since the otherness of involved data size.

[2016-12-01 02:30] zuzuki opened #2486 "btl_register_mem is called twice"
Hi.

When I run a program in which one rank sends and another rank receives a large message, `btl_register_mem` is called twice on each rank with same `base` and `size`. This behavior can be seen on both master branch and v2.x branch (since BTL interface change by @hjelmn?). Is this an intended behavior?

Here's the call stack when `mca_btl_openib_register_mem` is called using openib BTL. I think

[2016-12-01 04:21] hjelmn commented on #2486
Looks like the RDMA -> rendezvous RDMA fallback path. I don't think we should be re-registering in that path but it shouldn't hurt. The registration will hit the rcache and return without calling ibv_reg_mr. I will have to take a closer look tomorrow to see what causes this behavior.

[2016-12-01 13:07] nspark commented on #2483
@jsquyres By "standalone unit", I think @BryantLam means that an autoconf/CMake test for `shmemx.h` shouldn't require explicit inclusion of `shmem.h` as a prerequisite. If `shmemx.h` includes `shmem.h` at its top as a way to satisfy that goal, that seems sufficient.

[2016-12-01 16:32] jdinan commented on #2483
Also, it should be valid for a user to include the SHMEM headers in any order.  It sounds like the following would not work with the current ```shmemx.h``` header:
[code]

[2016-12-01 16:43] nspark opened #2490 "Zero-length shmem_broadcast raises floating point exception"
Both `shmem_broadcast32()` and `shmem_broadcast64()` raise a floating point exception when called with an `nelems` argument of zero. This should acceptable behavior per OpenSHMEM 1.2+ Annex C ("Undefined Behavior"). This section specifically calls out zero-length calls to OpenSHMEM routines taking a pointer and a length as "supported".

The broadcast, collect, and reduction routines all seem to wo

[2016-12-01 19:32] dirtyharrycallahan commented on #2430
I see something similar.
Environment SLES 11 SP4
gcc 4.3.4
autoconf 2.69
automake 1.12.6
libtool 2.4.2

autogen.pl
./configure
[code]

[2016-12-02 06:33] jladd-mlnx commented on #2483
This can be done. I will take care of it.

Josh

On Wednesday, November 30, 2016, Jeff Squyres <notifications@github.com>
wrote:

[2016-12-02 07:31] hujiePKU opened #2495 "Systematic Slowing down of mpi task"
I find that the MPI task will slow down along with the procedure running some time. I try v1.8.5 and v2.0.1, the issue are the same.  The most tasks in my procedure is collective communication(Allreduce), I don't think it is a memory leak. When I clean the systematic cached memory manually, the procedure will recovery to normal speed. Does anyone meet the similar problem? Should I require some mac

[2016-12-02 15:00] jsquyres opened #2499 "OSHMEM MTT failures"
Last night (1 Dec 2016), Cisco's MTT saw 3210 OpenSHMEM failures on master: https://mtt.open-mpi.org/index.php?do_redir=2380

@jladd-mlnx Per discussion this past Tuesday, can you investigate?

Here's some of the signatures -- this one is a segv:

[code]

This one is a little odd -- something chose to abort:

[code]

When running tests like `test_shmem_shpalloc_03_double.x`, I see errors like:

[c

[2016-12-02 15:16] ggouaillardet commented on #2495
@hujiePKU can you post a trimmed version of your program that can evidence the drop in performance and provide some more context (number of nodes, tasks per node, interconnect, how you "clean the cached memory")

[2016-12-02 20:15] gpaulsen commented on #2067
Are there directions on how to try running with the integrated PAPI?  How integrated is it?  I'm interested in learning more.

[2016-12-02 20:47] bosilca commented on #2067
We are using PAPI capabilities that are not in any release branch that I know of. It will be difficult to share all the code necessary for this with you. But we might be able to expose the counters different, directly in the PML module. I'll get back to you.

[2016-12-02 21:02] gpaulsen commented on #2067
Thanks.

[2016-12-02 23:37] markalle opened #2505 "osc pt2pt wrong answer"
Using the testcase small_1sided.c from this test harness pull request:
    https://github.com/open-mpi/ompi-tests/pull/25
I get wrong answers from the osc pt2pt component:

[code]

In cases where it's able to use osc rdma it seems to work.

This was from a vanilla build of openmpi-master-201612022109-0366f3a.

[2016-12-04 02:45] ggouaillardet commented on #2430
@dirtyharrycallahan can you please
man pwrite
on your system, and report which include file, and possibly macros, are required in order to use pwrite ?

[2016-12-04 02:54] ggouaillardet commented on #2430
@dirtyharrycallahan from ROMIO configure.ac
[code]

bottom line, you might have to configure with ```CFLAGS=-DXOPEN_SOURCE``` or ```CFLAGS=-DXOPEN_SOURCE=500``` and hope it does not break anything

[2016-12-05 11:02] amckinstry opened #2514 "arm_detection on Debian systems"
Attached is a patch used to detect "armhf" and "armel" architectures on Debian.
This patch has been used on Debian since 2012 ; no record locally of whether it has been forwarded to openmpi.org.

[2016-12-05 11:15] amckinstry opened #2515 "x32 arch support"
Attached is a patch for "x32" architecture support on Debian. This has been tested on Debian since Feb 2016 without issue.
"x32" is a variant for x86 systems: using 32-bit pointers only on 64-bit systems, allowing more registers, etc. than i386 but the same smaller memory footprint. (Debian's multiarch system allows such binaries to be mixed on x86-64 systems).

[2016-12-05 11:17] amckinstry commented on #2515
Partch:

Index: openmpi-2.0.1/config/opal_config_asm.m4
===================================================================
--- openmpi-2.0.1.orig/config/opal_config_asm.m4
+++ openmpi-2.0.1/config/opal_config_asm.m4
@@ -899,6 +899,11 @@ AC_DEFUN([OPAL_CONFIG_ASM],[
         OPAL_GCC_INLINE_ASSIGN=""
         OPAL_ASM_SUPPORT_64BIT=0
         case "${host}" in
+        x86_64-*x32)
+            op

[2016-12-05 11:17] amckinstry commented on #2515
Partch:

[code]

[2016-12-05 11:22] ggouaillardet commented on #2514
@amckinstry there is no attachment ...

[2016-12-05 11:26] amckinstry commented on #2514
[Uploading arm_detection.txt…]()
[Uploading arm_detection.zip…]()

[2016-12-05 11:31] amckinstry commented on #2514
Sorry, script blocker stopped the upload.

[arm_detection.txt](https://github.com/open-mpi/ompi/files/630908/arm_detection.txt)

[2016-12-05 11:36] amckinstry opened #2518 "Make builds bit-reproducible"
Debian has an ongoing initiative to make all builds bit-reproducible, for security and verification. As part of this, we need to avoid including date and timestrings, build paths, etc. from the binaries.
Currently we apply the following patch; would you please consider either removing __DATE__ or adding BIT_REPRODUCIBLE as a build-flag to avoid such constructs?

Thanks
Alastair McKinstry <mckinstr

[2016-12-05 11:46] amckinstry opened #2519 "Patch for linking libfabric"
Linking libfabric breaks on Debian/Ubuntu systems (at least) without the following patch:

[code]

[2016-12-05 12:30] ggouaillardet commented on #2518
@amckinstry is there a macro we can test instead ?
if not, does debian configure with --enable-debug ? we could then use this macro

[2016-12-05 12:33] ggouaillardet commented on #2514
@amckinstry does (auto-generated) configure need to be patched too ?
i guess only the m4 file need to be patched, and then autogen.pl has to be run.

[2016-12-05 13:02] amckinstry commented on #2514
Only the m4 file; autogen.pl automatically run on debian builds

[2016-12-05 14:24] amckinstry commented on #2518
There isn't an "official" macro yet, just patches for each package.
I'm using -DHAVE_BIT_REPRODUCIBLE with feature BIT_REPRODUCIBLE in CMake, which seems to be common, so maybe
#ifdef HAVE_BIT_REPRODUCIBLE
would be enough, with perhaps --enable-bit-reproducible  for configure.

Note we intend to push bit-reproducibility as a common feature throughout open-source, but a bunch of patches to tools li

[2016-12-05 16:19] dirtyharrycallahan commented on #2430
Out of the office this week so I will set up a vm and get back to you.

[2016-12-06 00:15] ggouaillardet commented on #2518
@jsquyres any thoughts on that ?

as far as i am concerned, i am fine making Open MPI bit reproducible, even by default.
an option is to add yet an other configury option.
that being said, i do not see much value in displaying the compilation date ```__DATE__``` here.
could we replace it with ```OMPI_REPO_REV``` or the date the tarball was built.
i do not think there is such a macro yet, and as pr

[2016-12-06 01:28] ggouaillardet commented on #2519
@amckinstry thanks for the patch

@rhc54 @jsquyres that is an intersting one ...

we link ```libmca_common_libfabric.la``` with ```-lfabric``` and naively hope ```libfabric.so``` is a dependency.
as shown by ```ldd```, that is true on Centos 7, but not on debian (i tested ubuntu 14.04.3-LTS). if i understand correctly, the reason is ```libmca_common_libfabric.la``` does not need ```libfabric.so```

[2016-12-06 05:17] jladd-mlnx commented on #2490
@nspark This is something particular to the Tuned collectives (division by zero.) I'll take a closer look at what needs to be done, but as a workaround you can disqualify the Tuned library with `-mca coll ^tuned`

[2016-12-06 07:49] #2483 closed

[2016-12-06 12:46] ggouaillardet commented on #2499
from ```mca_spml_yoda_get()```
[code]
does not correctly handle ```btl/tcp``` (both ```l_mkey``` and ```ybtl->btl->btl_register_mem``` are ```NULL```)

adding an extra case seems to solve the first issue

[code]

@jladd-mlnx can you please review this ?

[2016-12-06 16:14] rkowalewski opened #2525 "Segmentation Fault in MPI_Finalize if memory is not properly deallocated"
OpenMPI (v2.0.1) raises a segmentation fault if we allocate memory for one-sided communication by `MPI_Alloc_mem` but do not free it by `MPI_Free_mem`.
I have provided a [gist](https://gist.github.com/rkowalewski/0dab54d869470d60d3c063d0c52a8410#file-ompi-bug-free-mem-c-L73-L74) where you can test it. The relevant lines are highlighted. When you execute the statement in line 74 everything works fi

[2016-12-06 16:35] amckinstry opened #2526 "Test failures: opal_fifo : test fix"
The test opal_fifo is failing on Debian for the git master, snapshot of November 25.
The test previously passed on 2.0.1 systems; works on most architectures except kfreebsd-i386 (kfreebsd-amd64 works) and ppc64el:

https://buildd.debian.org/status/package.php?p=openmpi&suite=experimental

See, e.g.

https://buildd.debian.org/status/fetch.php?pkg=openmpi&arch=kfreebsd-i386&ver=2.0.2%7Egit.20161225

[2016-12-06 17:25] jsquyres commented on #2525
@hjelmn Can you have a look?

[2016-12-06 17:30] jsquyres commented on #2499
Add @artpol84

[2016-12-06 18:52] gpaulsen commented on #2518
I'd think as long as we always pull the embedded date from the VERSION file, it should be acceptable.

[2016-12-06 20:23] jladd-mlnx commented on #2499
@ggouaillardet This looks correct (I'm basing this statement by reviewing the 1.10.x code and attempting to map the intent back into the BTL 3.0 changes.) However, I am completely baffled as to why TCP doesn't outright fail for me on my setup.

[2016-12-06 21:56] rhc54 commented on #2519
There was some logic behind that component, but I honestly don't recall. I'd just use your patch for now.

[2016-12-06 23:00] jsquyres commented on #2519
@ggouaillardet Good call -- yes, calling `fi_version()` should do the trick.

[2016-12-06 23:34] markalle opened #2530 "osc rdma hang with multiple windows"
Using the testcase mt_1sided.c (and its support files 1sided.c mt_1sided_td1.c mt_1sided_td2.c) from this test harness pull request:
https://github.com/open-mpi/ompi-tests/pull/25
I get a hang from the osc rdma component:

[code]

This was from a vanilla build of openmpi-master-201612022109-0366f3a.

The single threaded "1sided.c" passes. And I think the key difference in the multi-threaded versio

[2016-12-07 00:24] jsquyres commented on #2530
@hjelmn Can you have a look?

[2016-12-07 00:25] jsquyres commented on #2505
@hjelmn Can you look at this one, too?  (perhaps related to #2530?)

[2016-12-07 01:01] jsquyres commented on #2518
@ggouaillardet @gpaulsen I agree -- that `__DATE__` isn't likely necessary in that string.  It would likely be ok to replace it with `OMPI_REPO_REV`.

[2016-12-07 01:07] jsquyres commented on #2526
@amckinstry Unfortunately I can't tell much from that detailed link -- it just shows that it failed, but not why.  Can you shared opal_fifo.log, and/or a backtrace from a core dump?

[2016-12-07 01:51] PHHargrove opened #2533 "pmix2x compile failure on Open BSD 6"
I am using the current master tarball (201612052109-40d94fd) on Open BSD 6.0, and configuring with `--disable-dlopen`.
I get a compilation error w/ IFF_* symbols unknown, due to the pmix2x configure script deciding that `net/if.h` is not present/usable, though Open MPI's configure is fine with it.

The failure shown in `opal/mca/pmix/pmix2x/pmix/config.log`:
[code]

I would guess that the fix is p

[2016-12-07 03:47] rhc54 commented on #2533
Updated - if you can pull it down and check, that would be great. Otherwise, I'll commit it once CI completes

[2016-12-07 04:31] #2514 closed

[2016-12-07 04:31] #2515 closed

[2016-12-07 06:34] ggouaillardet opened #2535 "opal_unpack_general_function might upack too much data"
@bosilca can you please take care of that ?

the following program works fine if both task run on homogeneous nodes, but fail otherwise.

i strongly suspect the root cause is ```opal_unpack_general_function``` that does not exit when the unpacked data reaches ```*max_data```

[code]

[2016-12-07 08:22] ggouaillardet commented on #2518
so we can either use ```OMPI_REPO_REV``` or ```OMPI_RELEASE_DATE```
any preference ?

[2016-12-07 10:50] rkowalewski commented on #2530
@markalle Your link url does not work. We have probably the same issue regarding communication progress with multiple windows in our project. Could you please fix your url since I want to verify my assumption.

[2016-12-07 11:21] jsquyres commented on #2530
@rkowalewski Our ompi-test repository is not public; that's why the link is broken for you.

@markalle Are you amenable to sharing your new tests with @rkowalewski?  You could post them in a gist, or attach them here on this issue.

[2016-12-07 11:35] jsquyres commented on #2518
Come to think of it, neither of these things (`OMPI_REPO_REV` and `OMPI_RELEASE_DATE`) are immediately / obviously meaningful to a user to indicate what version of the Open MPI debug DLL they have.  Is there a reason we don't do something similar to (and perhaps slightly simpler than) what we do in `ompi/c/get_library_version.c`?

I suspect that the current string exists the way it does as a simpl

[2016-12-07 11:36] jsquyres commented on #2483
@jladd-mlnx @alex-mikheev Do you have any desire to PR this to the v2.0.x and/or v2.x series?

[2016-12-07 11:49] amckinstry commented on #2526
I was kinda hoping you'd seen this before, and could just point me at a patch :-)

The build systems hadn't kept opal_fifo.log, so I've needed to set up a ppc64el environment by hand.

Its hanging in opal_fifo.c:200, on pthread_join().
No errors, which doesn't help; just the hang. There should be 8 pthreads, but its hanging on the first call to pthread_join().
2.0.1 worked, and there's been no cha

[2016-12-07 12:00] bosilca commented on #2535
runs on  open-mpi/ompi@f95f11d without issues.

[2016-12-07 12:34] ggouaillardet commented on #2535
i did not make it very clear ...
the issue only occurs on heterogeneous clusters (e.g. one x86_64 node and one sparcv9 node, using for example btl/tcp)
i guess you might not have any hardware to test this, so i suggested you review the code of opal_unpack_general_function and try to figure out what goes wrong in this case (less bytes received than expected).
meanwhile, i ll try to write an opal on

[2016-12-07 13:40] jsquyres commented on #2526
@hjelmn @bosilca Did something change with regard to atomics or other underpinnings of opal_fifo that could cause problems with optimization on some platforms?  This is on v2.0.x HEAD.

[2016-12-07 14:29] rkowalewski opened #2538 "osc hangs if origin and target are the same rank"
I have provided a small [gist](https://gist.github.com/rkowalewski/c737ce4135fa3b1b6febd4767f1b220f#file-ompi-bug-reflexive-comm-c-L66) where you can verify this. The program cannot make any progress if origin and target are the same rank. Open-MPI v 1.10.x and other MPI libraries terminate successfully.

[2016-12-07 14:38] rkowalewski commented on #2530
@jsquyres @markalle I spent more time with this. Finally, I have pinpointed the error and created another issue: #2538
Maybe there is some relation between these two issues.

[2016-12-07 14:40] rkowalewski commented on #2538
Some additional information about my environment.

[code]

[2016-12-07 14:46] rkowalewski commented on #2538
One additional question: Is there any possibility to enable progress threads? Or are there configure flags to enable this feature at compilation?

[2016-12-07 15:27] jsquyres commented on #2538
@rkowalewski Just out of curiosity, does the same problem happen on the latest 2.0.x nightly snapshot tarball?  https://www.open-mpi.org/nightly/v2.0.x/

[2016-12-07 15:48] gpaulsen commented on #2518
It is nice to have SOMETHING embedded in the binary for other tools to parse out.  It would be preferable to have both the version, AND a build date in that string, since the two of those should be able to somewhat uniquely identify any given library (and the library name).
It's also nice to have an API that returns something similar for tools that dlopen and dlsym to be able to make decisions abo

[2016-12-07 16:19] jsquyres commented on #2518
@gpaulsen and I talked in IM.  We agree that having the same string from MPI_GET_LIBRARY_VERSION would likely be ok here.  Having the date when the tarball was built is not that important (note: the MPI_GET_LIBRARY_VERSION string includes the date that the tarball was *created* -- i.e., when it was *released* -- which will obviously stay the same regardless of whether you build that tarball today

[2016-12-07 16:42] jladd-mlnx commented on #2483
Yes. Will do today.

On Wed, Dec 7, 2016 at 6:36 AM, Jeff Squyres <notifications@github.com>
wrote:

[2016-12-07 18:47] markalle commented on #2530
@jsquyres @rkowalewski Yeah, since we put it in the ompi-tests it's considered public-ish at least. Even the stuff I've checked in there is a whittled down version of our original tests, as giving out these smaller somewhat whittled down tests is easier to get management approval for.

[2016-12-07 23:23] markalle commented on #2530
Here, see if I made this gist right:
https://gist.github.com/markalle/56f739c3c907e53960d22d5de2fe4bc9
It should have 1sided.c, mt_1sided.c, mt_1sided_td1.c and mt_1sided_td2.c.

[2016-12-07 23:24] jsquyres commented on #2530
Perfect -- thanks @markalle!

[2016-12-08 00:20] fuchsto commented on #2538
@jsquyres It's a bit tricky to deploy the nightly in our CI containers, but I am setting up a separate environment for OpenMPI-2 tests and will post my results.

[2016-12-08 01:28] ggouaillardet commented on #2535
@bosilca here is the standalone test
you need to configure with ```--enable-heterogeneous``` and then
[code]

[code]

[2016-12-08 03:20] fuchsto commented on #2538
@jsquyres
The nightly snapshot is looks promising indeed! Our internal CI passed flawlessly on the first try.
OpenMPI build has been configured with:

[code]

Apart fromt the fixes, performance also seems to have improved. Even with debugging options and no tuning attempts, overall execution time of our test suite is down by a stable 5% compared to the current release.
I will integrate the nightly

[2016-12-08 04:48] ggouaillardet commented on #2518
i made #2543 to address this, can you please review ?

[2016-12-08 04:49] ggouaillardet commented on #2535
@bosilca, surprisingly it seems you do not even need to configure with ```--enable-heterogeneous``` in order to reproduce the issue

[2016-12-08 05:35] amckinstry commented on #2518
Looks good.

[2016-12-08 21:32] jjhursey commented on #2505
A couple more data points running `1sided.c` like this on a single node:
[code]

`VALUE` | Result
------------ | -------------
 `self,sm` | **PASS**
 `self,vader` | **Wrong answer** (near the start of the test)
 `self,tcp` | **HANG** (near the start of the test)
 `self,openib` | **HANG**

For one of the hangs this is the backtrace (both processes are in the same location):
[code]

The whole module

[2016-12-08 23:32] artpol84 opened #2546 "ompi/master binds to core by default"
According to ompi_info the default binding if `np > 2` is to a socket.
However it seem that master binds to a core.

@rhc54 I will double-check that but can you please also have a look.

[2016-12-08 23:49] rhc54 commented on #2546
Looks like it is binding to socket for me:

[code]

[2016-12-09 08:37] ggouaillardet opened #2550 "early termination is not correctly handled in v2"
@rhc54 this is a followup of the issue initially reported at https://mail-archive.com/users@lists.open-mpi.org/msg30424.html

here is a simple reproducer

[code]

the correct behaviour (master is fine) is to report an error since task 0 exited without calling ```MPI_Finalize()``` nor ```MPI_Abort()```

with both ```v2.x``` and ```v2.0.x```, the program
- exits normally if ran with only one MPI tas

[2016-12-09 11:35] #2518 closed

[2016-12-09 20:16] jjhursey commented on #2505
It should be noted that `v1.10` _seems_ to be fine. So this is a regression in the `v2.x` series and in `master`.

[2016-12-10 15:31] hppritcha commented on #2550
this problem was reported by Christof Koehler.  this is a note to help me with NEWS updates.

[2016-12-12 03:39] #2495 closed

[2016-12-12 15:12] gpaulsen commented on #2505
@hjelmn Have you been able to make any progress on this?

I know @jjhursey  and @markalle were working on this over the weekend, and noticed some inconsistencies in completion counting in osc_pt2pt in v2.0.x (and master).  Comparing with v1.10, it looks like that code was restructured quite a bit, so difficult to pinpoint to a specific commit.

[2016-12-12 22:38] gpaulsen commented on #2505
@jjhursey made some progress today as well.  I'm not posting the full details here.  But if others are working on this, it'd be good to sync up with Josh.

[2016-12-12 23:57] hjelmn opened #2559 "darray datatypes broken"
Distributed array datatypes give the wrong lower bound.

Fix is already in testing. This bug is to track when the fix has been applied.

[2016-12-12 23:58] hjelmn opened #2560 "darray datatypes broken"
Distributed array datatypes give the wrong lower bound and extent.

Fix is already in testing. This bug is to track when the fix has been applied.

[2016-12-12 23:58] hjelmn opened #2561 "darray datatypes broken"
Distributed array datatypes give the wrong lower bound and extent.

Fix is already in testing. This bug is to track when the fix has been applied.

[2016-12-13 01:35] jjhursey commented on #2505
The timeline below shows an interleaving of two ranks that always leads to a wrong answer.

Time | Rank 0 | Rank 1
---- | ------ | -----
T1 | `Fence` | `Fence`
T2 | `Post` |
T3 | `Start` |
T4 | `Get` |
T5 | `Complete` (blocks here) |
T6 |  | `Post`
T7 |  | `Start`
T8 | |  `Get`
T9 | | `Complete`
T10 | `Wait` |
T11 | `Bcast` |
T12 | `Post` |
T13 | `Start` |
T14 | `Get` |
T15 | `Complete` (blocks he

[2016-12-13 10:27] rkowalewski commented on #2538
@jsquyres I can confirm that this bug does not exist in the current nightly build anymore (Nightly build v2.0.x from 12/11/2016). The attached [gist](https://gist.github.com/rkowalewski/c737ce4135fa3b1b6febd4767f1b220f#file-ompi-bug-reflexive-comm-c-L66) termintes without any errors.

[2016-12-13 10:38] rkowalewski commented on #2525
I have checked this with the current tarball (see below), same compiler as above. The issue still persists.

[code]

[2016-12-13 15:29] jsquyres commented on #2538
@rkowalewski Sweet!  Since it will be fixed in our upcoming 2.0.2 release, I'll go ahead and close this issue.  Thanks for following up!

[2016-12-13 15:29] #2538 closed

[2016-12-13 15:32] jsquyres commented on #2525
Ok, thanks for checking.

@hjelmn Had a chance to check into this yet, perchance?

[2016-12-13 15:58] jsquyres commented on #2560
For the moment, I'm moving the milestone back to v2.0.2 so that we can discuss it this morning.

[2016-12-13 16:01] bosilca commented on #2560
I will not be able to take a deeper look today (I'll do my best to have it done tomorrow).

[2016-12-13 16:42] hjelmn commented on #2560
@bosilca This is the same issue as #2558. Hopefully the same patch will work.

[2016-12-13 17:07] jsquyres commented on #2411
Looks like this was fixed in #2425.

[2016-12-13 17:07] #2411 closed

[2016-12-13 17:08] jsquyres commented on #2550
Fix merged in v2.0.x and v2.x.  Done!

[2016-12-13 17:08] #2550 closed

[2016-12-13 17:09] jsquyres commented on #2505
Per 12/13 webex discussion between @jjhursey and @hjelmn, IBM expects to have a fix today.

[2016-12-13 17:14] jsquyres commented on #2399
@edgargabriel @cniethammer If you guys want this in v2.0.2, please come to a decision ASAP (i.e., today/tomorrow).  Otherwise we're going to have to push this to v2.0.3.

[2016-12-13 17:18] jsquyres commented on #2262
Looks like #2398 was merged; let's close this.  Will open a new one if MTT tests continue to fail.

[2016-12-13 17:19] #2262 closed

[2016-12-13 17:19] jsquyres commented on #2158
@rhc54 Have you had a chance to look at this, perchance?

[2016-12-13 17:33] edgargabriel commented on #2399
this is the bug fix that was merged a couple of days back with the default value for the parameter. So it is done for now, I will work on the second solution that we discussed over the break.

[2016-12-13 17:41] jsquyres commented on #2399
Ah!  Ok, my bad -- I should have read closer / remembered better.  😊

[2016-12-13 19:31] jjhursey commented on #2505
The patch below seems to fix the issue with a single threaded test [`1sided.c`]. We are still testing/reviewing. Once that is finished, and assuming all is well, then I'll put up a PR. I just wanted to post here for those playing along at home:

[code]

We are tracking a multithreaded one-sided issue at the moment which is related to this issue. That is the `mt_1sided.c` test case. Which just run

[2016-12-13 20:17] jsquyres opened #2565 "Strange default number of slots in v2.0.x with hostfile"
I accidentally ran with an odd configuration today at the v2.0.x head, but the slot count was not what I expected it to me.

# Case 1

Ran with:

[code]

That's expected.

# Case 2

In addition to the 4 x sandy bridges, I ran with a 20-core ivy bridge:

[code]

112?  I expected 64 + 20 = 84.  A little more detail:

[code]

This was a surprise to me.  I expected 16 on each of the sandys and 20 on t

[2016-12-13 23:27] jennydaman opened #2568 "Configure error"
I cannot compile openmpi, this is what I get in my configure log:

[code]

How can I work around this issue? I am on SolusOS, GCC v6.2.0

[2016-12-14 00:04] ggouaillardet commented on #2568
@jennydaman
can you post the output of ```configure``` and ```config.log``` ?
at first glance, you are not looking at the right place in ```config.log```.
fwiw, a __lot__ of tests fail and this is normal, so you need to focus on the one (usually the last) that break ```configure```

[2016-12-14 00:40] jennydaman commented on #2568
After a few hours of looking around, I could ./configure after installing some more packages with
`sudo eopkg install -c system.devel`
I've used ./configure, make, and make install, but still can't use mpirun..... None of the processes ended with an error though.

[2016-12-14 00:41] jsquyres commented on #2568
I'm afraid we can't tell much from your description.

Can you please supply all the information listed here: https://www.open-mpi.org/community/help/

[2016-12-14 01:03] jennydaman commented on #2568
Many apologies for wasting your time, but I fixed my own issue =/

Nothing was straightforward since I was trying to install openmpi on Solus, which does some things a bit differently. I didn't have a /usr/local folder.
There was no discussion at all about openmpi on Solus.
I fixed my problem by adding some lines to my .bashrc:
[code]

[2016-12-14 01:03] #2568 closed

[2016-12-14 01:09] jsquyres commented on #2568
You can specify whatever directory you want for Open MPI to install to -- it's not Solaris specific.  For example:

[code]

This will configure, build, and install Open MPI into the `$HOME/my-openmpi-install` tree.  You can put whatever directory you want for the prefix; it just defaults to `/usr/local` if you don't supply it (regardless of your OS).

[2016-12-14 02:24] artpol84 opened #2569 "Stale variable in plm/slurm?"
It seems that `launching_daemons` variable introduced in f11931306ab0cee4bbccd983462680f66f40db87 is not relevan anymore. I don't see any usage of it now. So I guess a dead code here:
https://github.com/open-mpi/ompi/blob/v2.x/orte/mca/plm/slurm/plm_slurm_module.c#L550:L557

This is relevant to master and v2.x/v2.0.x/1.10 and even 1.8/1.8.1 :)

@rhc54 could you take a look and confirm?

[2016-12-14 03:42] rhc54 commented on #2565
Hard to say what might happen - if the nodes aren't the same, you are supposed to add ```--hetero-nodes``` to the mpirun cmd line

[2016-12-14 03:43] rhc54 commented on #2533
I believe #2534 fixed it - please reopen if not true

[2016-12-14 03:43] #2533 closed

[2016-12-14 14:33] jsquyres commented on #2565
I think you're saying "if you're in a hetero situation and don't tell us, the behavior is undefined."  Right?  If so, that sounds like a fair point to me.

It would be nice if we could somehow figure out and warn (or abort?) if we're in a hetero situation and `--hetero-nodes` was not used (even if it's after the mapping/binding is done -- e.g., if an `orted` realizes, "hey, I don't have the same t

[2016-12-14 15:35] jsquyres opened #2572 "PMIx: Cannot run simultaneous jobs by different users on the same node"
On master HEAD, it looks like PMIx is using a hard-coded file name as its contact point: `/tmp/pmix-contact.txt`.

This is a problem if multiple different users try to run a job on the same node at the same time.  One of them will be able to create/write `/tmp/pmix-contact.txt`, but the next one will not be able to.

For example, if my MTT is running on a bunch of nodes, but then I go to do some s

[2016-12-14 15:42] rhc54 commented on #2572
Huh - that shouldn't happen. We are supposed to pass the session dir head down to pmix, which should use that instead of /tmp. Probably something out-of-sequence in an update from all the various branches. I'll get it fixed this morning between meetings.

[2016-12-14 15:49] jsquyres commented on #2565
@rhc54 and I talked about this on the phone.

I tested on master and again on v2.0.x head this morning.

Running with `--hetero-nodes` *does* seem to do the Right Thing (i.e., get 16 on each sandy and 20 on ivy).

However, this morning, even running *without* `--hetero-nodes`, I *also* get the Right Thing.  ☹️

@rhc54 Should I attribute that to undefined behavior when heterogeneous nodes are mixed

[2016-12-14 16:04] jsquyres commented on #2560
Fixed in #2567.

[2016-12-14 16:04] #2560 closed

[2016-12-14 16:31] jsquyres opened #2573 "Update shared library versions for v2.0.2"
Title says it all.

[2016-12-14 16:31] jsquyres opened #2574 "Update shared library versions for v1.10.5"
Title says it all.

[2016-12-14 18:00] jsquyres opened #2579 "v2.0.2 release checklist"
## Make a perfect tarball

- [x] Update the major,minor,release,greek version numbers in `VERSION`
- [x] Update the shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html) (pro tip: you probably want to use `git log --stat --no-merges last_release_tag..HEAD`)
- Update a

[2016-12-15 01:12] artpol84 opened #2585 "Map by node yield on idle is broken again"
@rhc54 @jladd-mlnx @hppritcha @jsquyres in the following PR https://github.com/open-mpi/ompi/pull/1489 we fixed the case where map-by node option was forcing "oversubscription" flag to be set which subsequently caused ompi_mpi_yield_when_idle to be dropped.

Now I see that this same problem was re-introduced again in 437f5b42893647a1abc0c7f05e4581a60f9fa68c. Why does this keeps happening? This was

[2016-12-15 01:23] rhc54 commented on #2585
why is the world not flat? who knows? things happen

I'll take another look - world isn't ending.

[2016-12-15 01:27] artpol84 commented on #2585
I think that the part of the issue is that corresponding PR https://github.com/open-mpi/ompi/pull/1540 was submitted at Apr, 13 9:22 AM and merged at Apr 13 10:29 AM without any review requests.

[2016-12-15 01:33] rhc54 commented on #2585
Relax, dude - we don't do reviews on master, and this fixed another problem. Key now is to find the way to fix this one without breaking the other use-case.

🍻

[2016-12-15 02:25] artpol84 commented on #2585
The fact that we don't do reviews for master doesn't mean that we need to avoid them :).
I'd be happy to have a look at the things that are related to the ORTE and pmix when I have the time. Please, reference me on such PR's in future.

[2016-12-15 02:28] rhc54 commented on #2585
😆  I have no idea how to judge when someone will have the time or not, how long to wait to see, what is worth referring to whom, etc. I'm looking at it now to see if I can replicate the problem. Not sure I agree with my earlier fix, so I'll poke around some more.

Meantime, it really would help if you folks could fix the UCX breakage - otherwise, we have no choice but to ignore that test.

[2016-12-15 02:33] artpol84 commented on #2585
Just reference me, and I'll do my best to be responsible and respond with comments or will let you know that I am unable to do this.

As for UCX - we are working on this now. API has changed and not all of the PR's are merged. I would suggest to wait for this to be fixed instead of ignoring. History clearly shows that Mellanox jenkins is capable of catching very complicated things. I would wait in

[2016-12-15 02:40] rhc54 commented on #2585
We can argue all this off-line someday. Meantime, I'm unable to replicate this issue:

[code]

Note that the "oversubscribed" flag is false. Can you post me the output showing how you got something different?

[2016-12-15 03:08] artpol84 commented on #2585
The problem is not in the oversubscription itself. Here is the demonstration. Run the following script:

[code]

And here are few different launches:

[code]

[code]

`OMPI_MCA_mpi_yield_when_idle` that is explicitly set to 0 forces it to override the default `true` value
I even see this with `map-by core`. So the issue seems wider now if I'm not mistaken:
[code]

Launch under PMI2 doesn't introdu

[2016-12-15 03:12] artpol84 commented on #2585
This is set in the schizo:
https://github.com/open-mpi/ompi/blob/master/orte/mca/schizo/ompi/schizo_ompi.c#L839:L844
when oversubscription is **not** detected. So my original conclusion may be incorrect. It seems like we always decide not to yield if we see no oversubscription.

[2016-12-15 03:12] artpol84 commented on #2585
But this doesn't propagate on PMI2 launches which confused me.

[2016-12-15 03:37] artpol84 commented on #2585
Ok, first of all @rhc54  my apologize - it seems that functionality is not broken.

At the time of https://github.com/open-mpi/ompi/pull/1489 the line:
https://github.com/open-mpi/ompi/pull/1489/files#diff-644b3764c21e7439ae8b6555d270a248R114
was important to ensure that if map-by node is enabled but no default binding was provided we need to apply the default binding. At that time application end

[2016-12-15 04:51] rhc54 commented on #2585
Yeah, that sounds right. No worries - glad you were able to work it out. MPI is always aggressive, and so we don't yield unless we determine we really have to, or the user tells us that's what they want.

[2016-12-15 04:51] #2585 closed

[2016-12-15 04:52] rhc54 commented on #2572
I guess I forgot to mark it "fixed" in the PR

[2016-12-15 04:52] #2572 closed

[2016-12-15 04:54] rhc54 commented on #2565
I'm honestly not sure - it probably depends a lot on where mpirun lands and where the first daemon lands. Hit things right, and you might get lucky.

As I said on the phone, I have code in master that was intended to help identify this situation, but I'm not sure the "signature" is good enough to differentiate such similar machines. Probably need to come up with something else.

[2016-12-15 13:46] amckinstry commented on #2526
[848218.txt](https://github.com/open-mpi/ompi/files/654784/848218.txt)

Patch from Thibaut Paumard <thibaut@debian.org> for this bug.

[2016-12-15 14:49] jsquyres commented on #2526
@amckinstry I'm sorry, I don't think that patch is correct.  I note that `thread_test()` is invoked three times in the test:

1. Called directly from main
1. Invoked via `pthread_create()`
1. Invoked again via `pthread_create()`

Making `thread_test()` exit via `pthread_exit()` will cause the entire test to exit in the first call to `thread_test()` (because causes the main thread to exit).  I'm gu

[2016-12-16 01:00] hppritcha commented on #2573
Closed via #2578

[2016-12-16 01:00] #2573 closed

[2016-12-16 03:07] ggouaillardet commented on #2499
@jsquyres i just figured out some tests are supposed to fail (!)

most directories contain a ```test_parameters.conf``` file, and the last column contain the expected result
(e.g. ```Pass``` or ```Fail```)

bottom line, you have to update your ```mtt``` .ini file to take this into account

[2016-12-16 06:05] hjelmn commented on #2559
Fixed.

[2016-12-16 06:05] #2559 closed

[2016-12-16 07:32] PHHargrove commented on #188
@miked-mellanox
While we closed this issue via documentation, I just wanted to note a few new things.
I leave it up to you to decide if this should be reopened or not.

1.  This issue is still present with Open MPI 2.0.2rc1 and current xlc/xlf.
1.  I can reproduce on OpenPOWER (64-bit little-endian, as opposed to the 32-bit big-endian of the original report).
1.  If Mellanox has an interest in pur

[2016-12-16 07:40] PHHargrove commented on #188
@jjhursey I figured you might be interested in the option to reopen this issue as well.
As noted in my previous comment on this issue, this oshmem link failure is now occurring on OpenPOWER with the Community Edition of the XL compilers (as opposed to the original 32-bit big-endian failures).

[2016-12-16 16:58] jsquyres opened #2591 "Performance regression in 1.10.3"
@hjelmn is working on identifying a performance regression that was introduced in 1.10.3.  He doesn't have any further info yet beyond the fact that one of their apps runs a bunch slower with 1.10.3 vs 1.10.2.

He thinks this will also affect v2.0.x and v2.x.

This is potentially a blocker for v1.10.5 and v2.0.2.

@hjelmn Says he'll have more information shortly.

[2016-12-16 17:00] jsquyres opened #2592 "Performance regression: placeholder for v2.0.2 release"
See #2591 -- that issue might also affect the v2.0.x series, so I wanted to open an issue on the v2.0.2 milestone to track it here, too.

It is potentially a blocker, but we'll know more when @hjelmn reports findings on #2591.

[2016-12-16 17:49] matcabral commented on #2592
Hi @jsquyres,  I see we may have different issues and/or sources degradation  and impacts. As discussed in #1831, I have seen a latency and bw_mr degradation (especially in small messages) when moving from 1.10.4 to 2.0.x. in PSM2 and OFI MTLs. I've been looking at it but have found nothing concrete.  Saw an increase in cache misses and minor page faults, but suspect this is not the source of the

[2016-12-16 21:36] hjelmn commented on #2591
Bisect shows for 1.10 the regression starts with 9f2a6da4b266cbd5907b7bdf3ab14b62c61047ec. This commit forces the use of clock_gettime () over the rtdtsc instruction. IMHO this is a really bad idea. This forces us to call clock_gettime () on every single call to opal_progress ().

@bosilca We do not need a monotonic timer for opal_progress (), correct? If not we should force opal_progress to alway

[2016-12-16 21:44] hjelmn commented on #2591
@rhc54, @jladd-mlnx. I would think this would affect message rates as well. The pre-1.10.3 behavior can be forced using --mca timer_require_monotonic 0. Might be worth rerunning some of the performance regressions with this option set.

[2016-12-16 21:49] bosilca commented on #2591
@hjelmn I think we can survive in opal_progress without a monotonic timer, in which case we might run the libevent progress at an erratic rate. However, this will force us to expose 2 timers, one that is monotonic and one that might not be, and we do not have right now the infrastructure.

[2016-12-16 21:52] hjelmn commented on #2591
@bosilca. Yeah. Not sure how to handle that.

For now I can do something for newer Intel processors. There is a cpuid bit to indicate whether the cpu has a core invariant tsc. I am adding a function to check that bit. If it is set it will use the rtdtsc instruction as a monotonic timer.

[2016-12-16 21:59] bosilca commented on #2591
👍

[2016-12-17 05:37] ggouaillardet commented on #2591
Iirc, we moved to clock_gettime() because MPI_Wtime() could go back in time if a (thread of a) task migrates within a node.
@hjelmn do you plan to test the cpuid bit at configure time  or at run time ?
Iirc once again, we take several shortcuts in the timer, and it does not behave as a standard component.
Having two timers (one internal, one external and always monotonic) could be the most efficie

[2016-12-17 16:13] hjelmn commented on #2591
@ggouaillardet I agree that we should have two timers. Working on that change over the weekend. The tsc core-invariance test is a run-time test (at timer component open) and gets us back the performance on Haswell and Broadwell (and probably others). See #2596.

[2016-12-17 17:10] rhc54 commented on #2569
Actually, that code still looks relevant to me - I suspect the flag should be getting set in the ```plm_slurm_start_proc``` function, and then cleared once the daemons are successfully started.

[2016-12-17 21:25] artpol84 commented on #2569
I think that after bd8b4f7f1eff729d53c0a8b090d9f979c21230b2 (which is quite huge!) the usage of this variable was vanished:
https://github.com/open-mpi/ompi/commit/bd8b4f7f1eff729d53c0a8b090d9f979c21230b2#diff-359a4fb5d7888b070863796d3532c416L219

[2016-12-19 00:12] rhc54 commented on #2574
done

[2016-12-19 00:12] #2574 closed

[2016-12-19 12:29] amckinstry commented on #2526
Agreed, the patch is not correct. Still need to figure out the answer.

[2016-12-19 15:34] jjhursey commented on #2505
Although PR #2590 fixed a number of the problems, in more extensive testing over the weekend we found another wrong answer with `osc/pt2pt`.

@markalle Can we share a smallish version of that test case so @hjelmn can help out with it?

[2016-12-19 16:37] hppritcha commented on #2505
@jjhursey  could you provide more info about the particular case gave the wrong answer?  Does it look like a particular use case for OSC?  Or was it just a matter of chance/timing that the test failed?

[2016-12-19 17:39] rhc54 commented on #2591
not sure why this didn't close

[2016-12-19 17:39] #2591 closed

[2016-12-19 18:33] hppritcha opened #2604 "PGI Fortran: link failure with Mac OS X"
@PHHargrove 's testing of the 2.0.2rc1 with PGI 16.10 compiler showed issues with symbol relocation problems for code generated with PGI's fortran compiler:

https://mail-archive.com/devel@lists.open-mpi.org/msg19823.html

[2016-12-19 18:38] hppritcha commented on #655
closing this.

[2016-12-19 18:38] #655 closed

[2016-12-19 18:42] hppritcha opened #2605 "PGI: libevent build failure on Mac OS-x"
libevent has a configury problem that prevents building the OMPI internal version of libevent
on OS-X when using PGI compilers (including 16.10).

The problem is described in more detail in this posting to devel:

https://mail-archive.com/devel@lists.open-mpi.org/msg19824.html

[2016-12-19 18:47] hppritcha opened #2606 "PGI Fortran: runtime error when using using mpi_f08 module on OpenPOWER"
@PHHargrove has reported a runtime problem when using the PGI 16.10 fortran compiler on OpenPOWER.

This posting on devel describes the problem in some more detail:

https://mail-archive.com/devel@lists.open-mpi.org/msg19836.html

[2016-12-19 19:09] shamisp opened #2607 "Corruption on ARMv8"
Recently I have been testing OpenMPI on ARMv8 (I run on AMD
a1100) and I discovered that your commit
4b208e44637cd717aee6f0311873b4bfdfed4849

leads to unexpected low level failures on ARM:

"kernel: Unhandled fault: alignment fault (0x92000021) at
0x0000ffff95e29fff"

As an application I¹m running UCX perftest which uses the MPI to exchange
the data while all the rest communication happens in UCX

[2016-12-19 19:44] jjhursey commented on #2505
The outline of this phase of the test program looks roughly like this (at all ranks)
[code]

I'll work with @markalle on trying to get a smaller version to share.

[2016-12-20 13:00] ggouaillardet commented on #2607
@shamisp which version of Open MPI are you using ?
i just found you need ```v2.x``` or ```master``` for ```aarch64``` support ...

[2016-12-20 13:32] ggouaillardet commented on #2607
@shamisp also, do you invoke ```mpirun``` on ```node1``` ?
if not, is ```mpirun``` invoked from an ```ARMv8``` node ?

regardless the issue, i am a bit surprised ```btl/tcp``` is even used.
both MPI tasks run on the same node, so an ```btl/sm``` or ```btl/vader``` are better fits.
they might disqualify themselves, (unless ```ucx``` blacklist them for a reason i ignore)

[2016-12-20 14:40] shamisp commented on #2607
@ggouaillardet
1. I use master.
2. I'm surprised either, but this is the first commit where the problem appears. UCX has not control over the runtime.

[2016-12-20 14:55] jjhursey commented on #2505
@markalle and I worked on this test case a bit more yesterday, and we _think_ it is a test case issue. I'm working this morning to confirm that. If confirmed then we can close this issue and open another to track the multi-threading issues.

[2016-12-20 14:58] rhc54 commented on #2607
I'm confused - the referenced changeset only touches the TCP/BTL. What does that have to do with UCX?

[2016-12-20 15:04] hppritcha commented on #2607
MPI is just used for out of and communication in these UCX unit tests.

[2016-12-20 16:04] jjhursey commented on #2505
Internal testing confirmed that, for the single threaded case, the patches taken in as part of PR #2590 and PR #2594 fix this issue.

To avoid a hang we also need PR #2593

[2016-12-20 16:04] #2505 closed

[2016-12-20 16:51] hppritcha commented on #2561
This has been fixed by #2558, #2566, #2567.

[2016-12-20 16:51] #2561 closed

[2016-12-20 18:35] hppritcha opened #2610 "PPC64 - may have problems with atomic make check tests"
@opoplawski is reporting a problem with the 2.0.2 rc1 candidate on PPC64:

There's a suspect PR #2178 - looks like only major change with PPC atomics between 2.0.1 (where the make distcheck works) and 2.0.2rc.

https://www.mail-archive.com/devel@lists.open-mpi.org//msg19851.html

[2016-12-20 18:37] hppritcha commented on #2610
@hjelmn if you are able to reproduce please try.  Otherwise, @jjhursey could someone from IBM take a look at this?

[2016-12-20 20:53] jjhursey opened #2614 "osc/pt2pt fails with multiple threads"
Testing with the `osc/pt2pt` component revealed multiple hangs and wrong answers when running with two threads. Each thread is working with it's own communicator copy of `MPI_COMM_WORLD` and their own private windows.

The test is here:
 * https://github.com/open-mpi/ompi-tests/pull/25
 * https://gist.github.com/markalle/56f739c3c907e53960d22d5de2fe4bc9

[code]

PR #2630 will need to be reverted w

[2016-12-20 21:48] PHHargrove commented on #2610
FWIW I tested the same RC on multiple PPC64 w/o failures of "make check".
On big-endian POWER7, my coverage included gcc-4.4.7 and 4.8.3, as well as xlc-13.1.
On little-endian POWER8, my coverage included gcc-4.9.2, xlc-13.1 and pgi-16.10.

Additionally, I have just now tried gcc-6.2 on both platforms and pass "make check" just fine.

v2.x defaults to using the gcc builtin atomics when present.  S

[2016-12-20 22:24] opoplawski commented on #2610
Full Fedora build logs:
ppc64le -  https://kojipkgs.fedoraproject.org//work/tasks/704/16970704/build.log
ppc64 - https://kojipkgs.fedoraproject.org//work/tasks/706/16970706/build.log

gcc is 6.2.1-2.fc26

[2016-12-20 22:29] PHHargrove commented on #2610
I am able to reproduce by configuring with `--disable-builtin-atomics`, with both gcc-4.x and gcc-6.2 on both big-endian POWER7 and little-endian POWER8.

@hjelmn my OpenPOWER VM you used for PR #2178 has gcc-5.4, but I suspect (given failures w/ 4.x and 6.2) that it will also reproduce the problem if you lack alternatives.

[2016-12-20 22:36] opoplawski commented on #2610
I see this in the configure logs:
[code]

[2016-12-20 22:46] PHHargrove commented on #2610
@opoplawski Yes, I also noticed `checking for builtin atomics... BUILTIN_NO` in your logs, though I do not know the cause.  However, it does explain why I didn't find this in my previous testing, and why --disable-builtin-atomics reproduces it.

[2016-12-20 23:10] opoplawski commented on #1092
[code]
makes not reference of "external".  Very annoying that it is inconsistent, but...

[2016-12-20 23:13] opoplawski opened #2616 "Build failure with --with-hwloc=external"
If I try to build the Fedora openmpi package with --with-hwloc=external I end up with:
[code]
Full logs - https://kojipkgs.fedoraproject.org//work/tasks/5738/17005738/build.log
It does work with --with-hwloc=/usr, but I noticed a post on the mailing list suggesting that that was bad practice.

[2016-12-20 23:22] opoplawski commented on #2610
It turns out that the default for --enable-builtin-atomics is disabled if not specified.  Is that expected?  Should I be specifying --enable-builtin-atomics in my builds?

[2016-12-20 23:30] PHHargrove commented on #2610
@opoplawski

I realize now that my original (no error) builds included --enable-debug while my later ones removed that flag *in addition to* adding --disable-builtin-atomics.  So, I am not certain any longer about what I claimed about which atomics are enabled by default and about the correlation between disabling the builtins and reproducing your error.

I am going to step away from this issue no

[2016-12-21 00:16] opoplawski commented on #2610
I'll note that it looks like if I set --enable-builtin-atomics my builds succeed: https://koji.fedoraproject.org/koji/taskinfo?taskID=17005965

[2016-12-21 01:19] ggouaillardet commented on #2616
@opoplawski thanks for the report, i will be pushing a fix shortly

[2016-12-21 12:45] ggouaillardet commented on #2607
@shamisp do you need special hardware to run UCX ?
if not, can you please provide basic instructions on how you built it ?
if some dependencies were needed (xpmem obviously), could you also detail these ?

[2016-12-21 14:05] jsquyres commented on #1092
@opoplawski I hear what you're saying.  Sorry!  Let me at least explain why it is the way it is...

hwloc has the "internal" vs. "external" designation because there's an embedded copy inside Open MPI (just to make sure we have the ability to have a modern enough version of hwloc, etc.).  Hence, you have three options:

1. Use the internal/embedded copy of hwloc
1. Use an external hwloc, specified

[2016-12-21 15:39] hppritcha commented on #2158
I vote moving this to 2.0.3

[2016-12-21 18:04] hppritcha commented on #2610
@opoplawski is it okay to require --enable-builtin-atomics for your purposes for 2.0.2?

[2016-12-21 18:13] opoplawski commented on #2610
Seems fine to me - I know nothing about these options though.

[2016-12-23 02:35] opoplawski commented on #2616
Looks good here.  Thanks.

[2016-12-23 16:09] hppritcha commented on #2592
closed via #2596, #2611, and #2612

[2016-12-23 16:09] #2592 closed

[2016-12-23 17:41] matcabral commented on #2592
Hi @hppritcha and @jsquyres,
Would the scope of this issue be limited to the "clocks" degradation only? I'm asking because I'm still seeing the regression described in #1831 when comparing #2611 with #2599 (%5 to %13 latency degradation in osu_latency for message sizes<=4k running over PSM).
thanks,

[2016-12-23 18:00] rhc54 commented on #2592
Yeah, I think you should probably open another issue to track that further problem. There are clearly several things going on, so let's focus this one on the clock problem.

[2016-12-24 10:23] Telemin opened #2635 "Configure script mangles custom CFLAGS"
Attempting to configure ompi-2.0.1 fails when attempting to use certain sets of custom cflags due to the fact that the configure script incorrectly strips additional --param statements after the first.

MWE for this is (parameters for haswell processors):
`CFLAGS="--param l1-cache-size=32 --param l1-cache-line-size=64 --param l2-cache-size=6144 -march=haswell"`

This is a major issue when attempti

[2016-12-24 15:51] rhc54 commented on #2635
Could you please try the following patch:

[code]

[2016-12-24 15:52] rhc54 commented on #2158
[code]

This is indeed the behavior requested by the community a few years ago.

[2016-12-24 16:16] rhc54 commented on #2635
I should have also noted: you will need to run ```autogen.pl``` after applying this patch before running ```configure```. If ```autogen.pl``` complains about the versions of your autotools, then add ```--verok``` to the command

[2016-12-25 11:46] Telemin commented on #2635
Hi unfortunately that doesn't fix my problem.  I have confirmed that the change makes its way into the `./configure` script after I rerun `autogen.pl --force` but the generated gcc command lines are unchanged and the configure still fails.

[2016-12-25 14:21] jsquyres commented on #2635
@rhc54 That case is supposed to be handled in opal_functions.m4 already -- see https://github.com/open-mpi/ompi/blob/master/config/opal_functions.m4#L385-L389.

It looks like the real problem is that we missed a place of converting OMPI_UNIQUE to OMPI_FLAGS_UNIQUE.  I created a PR #2636 that fixes that place.

[2016-12-26 18:19] rhc54 commented on #2565
Actually, I thought about this some more and realized that everything is working as it should. mpirun generates a "signature" string that includes the number of each type of HWLOC object. So it tells the receiver "I have x NUMA, y sockets, z cores, etc.". Each orted gets that info on its cmd line, and then checks it against their own local "signature". If the two differ, then we assume that node i

[2016-12-26 21:58] rhc54 commented on #2565
I don't see anything wrong.  Could you please rerun your tests with ```-mca plm_base_verbose 5``` on master and send me the output when it _doesn't_ do the right thing?

[2016-12-27 21:07] opoplawski commented on #2616
So, it worked okay with the #2618 patch, but now with 2.0.2rc2 I get lots of errors:
[code]
and so on.  Full logs here: https://kojipkgs.fedoraproject.org//work/tasks/5380/17085380/build.log

[2016-12-27 21:42] jsquyres commented on #2616
Do you have a version of hwloc that is too old?

[2016-12-27 22:59] opoplawski commented on #2616
No, just updated it to 1.11.5 to be sure of that.

[2016-12-27 23:05] opoplawski opened #2643 "getting local rank/orte_ess_init failed on aarch64"
I updated Fedora rawhide's hwloc from 1.11.0 to 1.11.5 and now netcdf's tests fail on aarch64 only with:
[code]

See https://apps.fedoraproject.org/koschei/package/netcdf?collection=f26

The previous build failure on ppc64 in that link is similar but different.  Perhaps it's not 100% reproducible.

[2016-12-27 23:47] ggouaillardet commented on #2616
there are way too much include directories in the command line, and the point of the patch was mainly to get rid of ```-I.```
i will have a look from now

[2016-12-28 00:13] ggouaillardet commented on #2616
@jsquyres this is from the generated ```opal/mca/hwloc/Makefile```
[code]

so what we really need here is to override ```$(DEFAULT_INCLUDES)``` and not add some more stuff to ```$(AM_CPPFLAGS)```

makes sense ?

the inline patch restore part of my initial patch
[code]

[2016-12-28 00:33] matcabral opened #2644 "Performance regression: 2.0.x branch degradation over 1.10 for MTLs"
This is a place holder to fix the performance regressions seen on 2.0.x branch with regards to 1.10 that is impacting MTLs (tested with OFI and PSM2). The degradation is mostly impacting latency in small messages sizes, with some impact in bw.

Building with:
[code]

The below tests assume same system setup, only changing OMPI 1.10 for 2.0.x

Two ranks on different nodes running osu_latency over P

[2016-12-28 00:34] matcabral commented on #2592
opened #2644

[2016-12-28 01:06] matcabral commented on #2644
Some of the tests done:
-	Latency comparison against 2.x looks similar impact as 2.0.x, same with master.
-	BW comparison against 2.x looks similar impact as 2.0.x. However, master does not show such a negative impact.
-	Confirmed no impact on BTLS (openib, vader runs better)
-	Confirmed #2611 does not solve the problem.

-	Branches and branch misses: osu_latency 2 ranks. (compare 1.10 against 2.0

[2016-12-28 11:52] ggouaillardet commented on #2644
@matcabral i noted you configure with
--with-psm2=/usr
we recommend against that (e.g. no /usr nor /usr/local)
what if you configure with
--with-psm2
if this does not work, then this is a bug and i will try to fix it

[2016-12-28 17:58] shamisp commented on #2607
Update: if I convert the "new" structure to static (which is essentially similar to "global") the problem disappears. I suspect that with local variables we end up caching somewhere (still has to be identified) pointer to a stack, which leads to all kinda issues later on.

[2016-12-30 23:37] rhc54 opened #2650 "Memory footprint"
This issue is here just to track the memory footprint reduction efforts. We will post results tagged to master hashes here.

[2016-12-30 23:37] rhc54 commented on #2650
@hjelmn @artpol84

[2016-12-31 08:34] omor1 commented on #1475
Has there been any progress on this? Note that MPI_F08_STATUS[ES]_IGNORE actually appeared in MPI-3.0 (see page 674). Technically, Open MPI isn't *fully* compliant with MPI-3.0 or MPI-3.1, though in practice, I doubt these constants are in much use (else I would expect there to be more of a fuss about the omission) and are most likely not a part of any test suite.

Looking at other implementations

[2017-01-01 05:58] omor1 opened #2652 "Add missing MPI_T_PVAR_SESSION_NULL"
Open MPI is missing the `MPI_T_PVAR_SESSION_NULL` constant, of type `MPI_T_pvar_session`, defined in MPI-3.0 on page 674 and in MPI-3.1 on page 681.

This is probably as simple as adding
[code]
under the definitions for `MPI_T_PVAR_HANDLE_NULL` and `MPI_T_CVAR_HANDLE_NULL`.

[2017-01-01 08:16] omor1 opened #2653 "Missing C declaration for MPI_REAL2 and implementation for MPI_COMPLEX4"
ompi/include/mpi.h.in is missing a declaration for `MPI_REAL2`. The datatype exists (`ompi_mpi_real2`), but the macro is missing.
It should be as simple as adding the following:
[code]

A related issue is the missing `MPI_COMPLEX4` type. This isn't as trivial as the above, but should follow the same patterns as for the other complex types. Of course, as per the MPI standard, it is optional; but si

[2017-01-03 13:50] ggouaillardet commented on #2607
@shamisp i was unable to reproduce the issue on a raspberry pi3 running ```openSUSE Leap 42.2``` for ```aarch64```

note converting the structure to static is not a correct fix since the function must be thread safe (at least when the ```btl/tcp``` progress thread is used.
i reviewed the code and could not find any pointers left in the stack.
i also used ```valgrind``` to mark the structure as una

[2017-01-03 15:28] jsquyres opened #2656 "PMIx linking errors with static OMPI builds"
On master HEAD, MTT is showing problems with building MPI applications when Open MPI is built with --enable-static --disable-shared`.  The problem appears to be some missing / not-found PMIx symbols:

[code]

Full MTT results here: https://mtt.open-mpi.org/index.php?do_redir=2382

[2017-01-03 15:40] jsquyres commented on #2644
@hjelmn @bosilca Thoughts?

[2017-01-03 16:26] hppritcha commented on #1404
This issue can be closed via #2216

[2017-01-03 16:26] #1404 closed

[2017-01-03 16:35] bosilca commented on #2653
As there is no guarantee that the C half-precision is the same type as the REAL2 in Fortran, we have decided that language specific types should only be defined in that specific language.

I know there is a growing need for application for support for half-precision types, but the correct solution is a little bit more complex and extremely compiler-dependent.

[2017-01-03 16:39] jsquyres commented on #2643
@opoplawski What is aarch64?  Also, is this a v2.0.x issue?

[2017-01-03 16:45] jsquyres commented on #2643
Ah, aarch64 = ARM 64.  Looking on the Fedora bug @opoplawski cited, it looks like this is Open MPI v2.0.1.

This could be related to #2607...?

[2017-01-03 16:48] jsquyres commented on #1654
Discussed on 3 Jan 2016 webex: @hjelmn is going to check this and see if it needs to be a blocker for v2.0.2.

[2017-01-03 16:49] rhc54 commented on #2643
On the ppc64 failure: this looks spurious as the error is one that should have failed on every run if there was a real problem. I would rerun it and see if it recurs.

[2017-01-03 16:55] rhc54 commented on #99
Fixed long ago

[2017-01-03 16:55] #99 closed

[2017-01-03 17:00] rhc54 opened #2657 "comm_spawn seems very slow"
This mostly becomes an issue on the loop_spawn test, which is taking several 10's of minutes. I haven't had a chance to check this out - I believe it is the communicator formation codes that are taking the time, but haven't verified that.

@ggouaillardet Would you have a chance to dig into this? Comm_spawn should be a pretty fast operation, really

[2017-01-03 17:02] jsquyres commented on #1654
Tentatively moving to v2.0.2 just so that we don't forget to re-evaluate this for v2.0.2.

[2017-01-03 17:03] jsquyres commented on #2607
@ggouaillardet @shamisp This might be related to an issue that @opoplawski, our Fedora packager, is running in to.  Can you have a look at #2643?

[2017-01-03 17:52] shamisp commented on #2607
Please see inline

On Tue, Jan 3, 2017 at 7:50 AM, Gilles Gouaillardet <
notifications@github.com> wrote:

FYI, I'm working on a dedicated ARM regression server setup for OpenMPI and
other HPC related projects.
Hopefully in a near future it will be  much easier to get hands and a debug
setup.

Thanks for checking this.

Correct it is not user, but I'm sure it is initialized.

ignored. (On ARM we u

[2017-01-03 17:55] opoplawski commented on #2643
Aarc64 builds seem unstable - sometimes they work and sometimes not.  Most recent failure:
[code]

[2017-01-03 18:20] rhc54 commented on #2656
@jsquyres Okay, what am I doing wrong? Down in PMIx, I do this:

[code]
This outputs:
[code]
so I know that I'm setting the flag correctly down there. However, in the opal/mca/pmix/pmix2x configure.m4, I have this:

[code]
and that yields an output of:
[code]
So the flags are not getting up where they need to go. Thoughts?

[2017-01-03 18:48] jsquyres commented on #2616
Odd.  I see that `INCLUDES` is deprecated in favor of `AM_CPPFLAGS`, but I do not see mention of `DEFAULT_INCLUDES` in the latest Automake docs at all.  I *do* see a *single* offhand reference to `DEFAULT_INCLUDES` in *older* Automake docs, though.

Is `DEFAULT_INCLUDES` really what we should be updating?

[2017-01-03 19:34] bosilca commented on #2644
I would assume this is dependent on #2448

[2017-01-03 20:44] jsquyres commented on #2616
@opoplawski I'm looking into this issue.  One thing I note in the full logs is right up near the beginning of configure:

[code]

Might want to add an RPM dependency for the RPM containing `hostname`...?

-----

@ggouaillardet I see the problem with `--with-hwloc=external`.  You won't hit this situation unless you have an hwloc installed in a default compiler/linker location (e.g., `/usr`), and yo

[2017-01-03 20:47] jsquyres commented on #2616
@opoplawski I should note that using `--with-hwloc=/usr` is likely a Good Enough workaround for now.  We definitely need to fix this issue, but that should get you building for now (and possibly for the v2.0.2 release).

[2017-01-03 20:53] shamisp commented on #2643
@opoplawski I was able to run with  https://github.com/open-mpi/ompi/commit/74a11d783296eff50fe1bab1a0a630500a63973c

If you happen to have XPMEM installed on your ARM - as for now it does not play well with vader btl. Can you try to disable it with ``` --mca btl ^vader``` ?

[2017-01-03 21:19] omor1 commented on #2653
That makes sense. While IEEE 754-2008 does specify a format for half-precision floating point types (binary16), it is not standardized in C, though it has been implemented as extensions in some compilers (for instance, I think GCC supports `_Float16`, though only on ARM and AArch64).
Why then is the ompi datatype declared in the C header (`OMPI_DECLSPEC extern struct ompi_predefined_datatype_t omp

[2017-01-03 21:58] bosilca commented on #2653
This is actually pretty funny...

[code]
generates a compilation error:

while
[code]
compiles just fine.

[2017-01-03 22:34] omor1 commented on #2653
That just means that the compiler doesn't support `REAL*2` and `COMPLEX*4`.
In
`mpi.h`, I have
[code]
so my compiler (GNU Fortran 6.3.0) doesn't support it either (and trying the same tests as you nets the same results).

However, if one _does_ have a compiler with support for `REAL*2` (and thus a defined `MPI_REAL2` type in the Fortran Open MPI module), it presumably would have support for `COMPL

[2017-01-03 22:41] bosilca commented on #2653
According to the [gcc](https://gcc.gnu.org/onlinedocs/gcc-5.1.0/gfortran/KIND-Type-Parameters.html) documentation COMPLEX*4 should always exist. Moreover, according to the same page, the kind for a complex type refers to each of it's components (imaginary and real part) so this is just puzzling.

[2017-01-03 22:56] omor1 commented on #2653
I think I've figured out what's going on. When using [old-style kind specifications](https://gcc.gnu.org/onlinedocs/gfortran/Old-style-kind-specifications.html#Old-style-kind-specifications), GCC states that

For modern declarations (using KIND), it is as you stated,

So
[code]
is equivalent to
[code]

The GCC documentation states that it supports KIND parameters 4, 8, 10, and 16, with 4 being the

[2017-01-03 23:21] omor1 commented on #2653
The [Intel documentation](https://software.intel.com/en-us/node/678504) says the same thing. It does not appear to support `REAL*2` and `COMPLEX*4`.

[2017-01-04 08:26] ggouaillardet commented on #2657
it seems pmix is slowing things down (!)

in ```ompi_comm_allreduce_pmix_reduce_complete```, ```OPAL_PMIX_EXCHANGE``` takes a bit more than one millisecond on v2.x, but around 160 on master.

iirc, we moved from hard coded unix sockets to modular (tcp only ?) sockets. could this impact things ?

i also built with ```disable-dstore``` but that did not impact performance.

i will keep digging tomorr

[2017-01-04 11:57] jsquyres commented on #2644
@rhc54 @matcabral (cross reference) #2448 has been merged; it would be good to see how it affected the performance of the PSM / OFI MTLs.

[2017-01-04 14:53] rhc54 commented on #2657
Since the sockets are already connected by that time, I would think that using TCP vs unix sockets shouldn't make any real difference. You can check that out by setting ```PMIX_MCA_ptl=usock``` in your environment and checking the timing again.

[2017-01-04 14:59] hppritcha commented on #2565
Where are we on this?

[2017-01-04 15:00] hppritcha commented on #2565
If something needs to be fixed we will do so in 2.0.3.

[2017-01-04 15:09] ggouaillardet commented on #2657
will try again tomorrow on my workstation

i just tried that on a raspberry pi 3, and it failed
[code]

[2017-01-04 15:21] rhc54 commented on #2657
I'll take a look - I think I know the issue. ORTE passes in an attribute to the server telling it not to use usock so we don't start both listeners. Will look for alternative methods there.

[2017-01-04 15:32] puneet336 opened #2661 "mpirun fails to spawn process across multiple nodes"
Dear All,
I had compiled nas 3.3 BT benchmark (as well as CG,DT) using openmpi 2.0.1 compilers (compiled with gcc 4.4.7).
The initial test for spawn:-
[spuneet.vfaculty@host02 bin]$ mpirun -np 4 -npernode 1 -machinefile hosts.txt /bin/hostname
host01
host02
host03
host04

Now the Application spawning (which fails):-
 [puneet@host02 bin]$ mpirun -np 4 -npernode 1 -machinefile hosts.txt ./bt.E.4.mpi

[2017-01-04 16:23] jsquyres commented on #1654
@gpaulsen @jjhursey @markalle Can you check this, too?

[2017-01-04 16:37] opoplawski commented on #2616
Yeah, I've used --with-hwloc=/usr for ages now, so that's no problem.  The hostname thing can be ignored.

[2017-01-04 16:49] gpaulsen commented on #1654
Sure.  @markalle has a good memory stress test, that I THINK is multithreaded (or could be made to be).  Did @bosilca ever make his reproducer available?

[2017-01-04 16:59] bosilca commented on #1654
My original reproducer was [MADNESS](https://en.wikipedia.org/wiki/MADNESS). The more recent stack trace was using [DPLASMA](http://icl.utk.edu/projectsdev/parsec/index.html).

[2017-01-04 17:18] rhc54 commented on #2657
Fixed the usock issue here: https://github.com/open-mpi/ompi/pull/2662

[2017-01-04 17:58] hppritcha commented on #2644
I'm not seeing any noticeable difference in performance with the commits from #2448 applied to 2.0.x when using PSM2.

[2017-01-04 19:46] bosilca commented on #2644
This is extremely puzzling as this commit removes a global lock from the
critical path for all multithreaded builds.

On Wed, Jan 4, 2017 at 12:58 Howard Pritchard <notifications@github.com>
wrote:

I'm not seeing any noticeable difference in performance with the commits
from #2448 <https://github.com/open-mpi/ompi/pull/2448> applied to 2.0.x
when using PSM2.

—
You are receiving this because you

[2017-01-04 20:21] hjelmn commented on #1654
@bosilca Does this occur on master or just 2.0.x?

[2017-01-04 20:51] opoplawski commented on #2643
It's hard to tweak options for the package builds (unless there is a way via environment variables?), I think I'm going to leave this alone for now.

[2017-01-04 21:01] shamisp commented on #2643
@opoplawski you can try to disable vader by running mpirun command with ```--mca btl ^vader```

[2017-01-04 22:44] ggouaillardet commented on #2661
Can you run
dmesg
on all your nodes and double check the MPI tasks were not killed by the oom killer ?

[2017-01-04 23:45] markalle commented on #1654
I'm pretty sure I tried to get my test to hang before without success. And I just now re-tried using a malloc/free oriented test running on a couple threads and it still didn't hang for me.

I agree with the concern over what those stack traces show though. I would want as little as possible happening under opal_mem_hooks_release_hook().

And if its work includes acquiring some lock X (vma_lock?)

[2017-01-05 01:11] ggouaillardet commented on #2657
thanks for the fix, so that was it.

with default ```ptl/tcp``` and ```#define NUM_TESTS 25```, the program takes 1min34s
with ```ptl/usock```, it takes less than 15s (which is comparable to ```v2.x``` and even ```v1.10```)

i will dig a bit and check we are not doing something obviously wrong with ```ptl/tcp```

[2017-01-05 01:48] rhc54 commented on #2657
Very interesting - please let me know what you find out. I know that usock is essentially a named pipe, and thus can bypass the TCP overhead. However, the ptl/tcp component is using the loopback device, and I would have expected the time difference to be much smaller.

What we can do is simply change the priorities so that usock is preferred, letting tools that need to connect across nodes select

[2017-01-05 04:29] bosilca commented on #1654
My test was in 2.x. But at that moment the release branch was supposed to be in sync with the master.

[2017-01-05 04:50] ggouaillardet commented on #2657
so i noted that in ```pmix_ptl_base_recv_handler```, ```read_bytes()``` returns ```PMIX_ERR_RESOURCE_BUSY``` or ```PMIX_ERR_WOULD_BLOCK``` quite a lot with ```ptl/tcp``` but almost none with ```ptl/usock```.

the proof of concept below (send header and msg data all at once with ```writev()```) restores the performance (!)

[code]

[2017-01-05 04:55] rhc54 commented on #2657
Fascinating! I'll poke at this a bit and see if there are any negatives, though I suspect not - thanks!

[2017-01-05 09:54] boegel commented on #2579
Is there an ETA for the final 2.0.2 release?

[2017-01-05 10:54] marksantcroos opened #2663 "undefined symbol: orte_schizo_base_framework with dynamic build and python bindings"
Hi @rhc54 ,

When using the latest master, with a dynamic build, and using the Python bindings, I get the warnings show below and resulting program doesn't work.
The equivalent C code works fine.
If I run the same Python script against a static build it works too.
Any idea?

Thanks!

Mark

[code]

[2017-01-05 13:47] puneet336 commented on #2661
Hi,
I had contacted the developer.
As per him, every rank requires atleast 98GB  per rank. Whereas i have 64GB per node.
I do have some 512GB nodes. I will soon test & report my observations.

[2017-01-05 14:48] marksantcroos commented on #2663
Yes, which is no surprise I guess, as otherwise I would have had the same issue for the CLI and C version:
[code]
Is there anything special about these symbols or might they just be the first that are looked up?

[2017-01-05 14:51] rhc54 commented on #2663
Nothing special - and as I said, it seems to be instantiated and exported. If you grep for "base_framework", you should see all the frameworks since they all have the same symbol.

[2017-01-05 15:04] puneet336 opened #2664 "mpirun spawn - task blocked & process rank X exits ( signal 11 )"
Hi all,
 I am facing issues with the lu-mz (class E) benchmark which i had compiled using openmpi 2.0.1(gcc 4.4.7) on Intel(R) Xeon(R) CPU E5-2680 v3 (RHEL 6.5).

[code]

So this process is going to use atleast 25GB per rank (i have 64GB of RAM per node ) & i am running this with 8 processes, 1 PPN.
I observed that once the memory utilization crosses 41%, the application crashed.
here is the stand

[2017-01-05 15:12] ggouaillardet commented on #2663
@marksantcroos iirc, a similar issue was previously reported.
The root cause was libmpi.so was dlopen'ed without the ```RTLD_NOW``` flag.
In your case, an other option is to configure Open MPI with ```--disable-dlopen```

[2017-01-05 15:22] #2661 closed

[2017-01-05 15:49] marksantcroos commented on #2663
From what I can see CFFI does use RTLD_NOW for dlopen(). It might be a Cray specific issue.

Thanks for the reminder on that flag, building a release with that now.

[2017-01-05 16:20] hppritcha opened #2665 "FreeBSD: problems with opal shmem framework"
@PHHargrove has reported an issue with 2.0.2rc2 when running on a FreeBSD system:

[code]

Original email reported on devel:

https://www.mail-archive.com/devel@lists.open-mpi.org/msg19858.html

[2017-01-05 16:20] hppritcha commented on #2665
@jsquyres I put this as a blocker because its pretty embarrassing and is probably easy to fix.  If its not easy to fix, we can move to 2.0.3

[2017-01-05 16:21] hppritcha commented on #2665
@PHHargrove to help a bit for tracking this problem down, could you rerun with

mpirun --mca shmem_base_verbose 10 (all the rest of the args).

[2017-01-05 16:27] marksantcroos commented on #2663
That does the trick indeed.

This is good enough, thanks both!

[2017-01-05 16:27] #2663 closed

[2017-01-05 16:59] hppritcha opened #2666 "OS-X: opal_fifo test fails when using OS-X builtin atomics config option"
@PHHargrove has reported a hang in the opal_fifo test:

[code]

link to original posting on devel:

https://www.mail-archive.com/devel@lists.open-mpi.org/msg19860.html

I'm having problems reproducing this on my mac running El Capitan.

[2017-01-05 17:37] jsquyres opened #2667 "Minor: PMIX configury output nits"
I notice the following output in the pmix2 configure output (as part of the larger Open MPI configure output):

[code]

I'm guessing the 2 / 0 / 0 on individual lines is left over from some debugging.

I also see:

[code]

Is the OPAL_MCA_PMIX3X_ correct?  Shouldn't it be 2X?

[2017-01-05 17:42] jsquyres commented on #2656
@rhc54 I don't see this code in opal/mca/pmix/pmix2x/configure.m4 at all -- there's nothing in there about `WRAPPER_EXTRA_LIBS`...?

[2017-01-05 17:50] bosilca commented on #2666
I cannot reproduce this on macSierra (.1 and .2) on an OMPI configured with --enable-osx-builtin-atomics.

[2017-01-05 18:06] hppritcha commented on #2666
@bosilca were you testing with master or with v2.0.x?

[2017-01-05 18:15] hppritcha commented on #2666
I checked both master and v2.0.x and can't reproduce the problem.

However, I'm noticing on master that I can't seem to get the configury to set ```OPAL_ASSEMBLY_BUILTING == OPAL_BUILTIN_OSX```
in opal_config.h

It behaves correctly on 2.0.x.

[2017-01-05 18:16] PHHargrove commented on #2665
[code]

Configure thinks all three shmem components can be built:
[code]

However, `ompi_info` doesn't report any shmem components (and far too few in general):
[code]

It looks like the shmem components are *are* built and installed, but as `.a` not as `.so`!
[code]

So, this looks like a possible libtool problem.
A quick look at the configure output confirms this:
[code]

So, it looks like the c

[2017-01-05 18:18] bosilca commented on #2666
I used master.

[2017-01-05 18:22] hppritcha opened #2668 "OS-X: remove enable-osx-builtin-atomics - no longer needed"
Per discussion with @hjelmn we should probably just remove ```enable-osx-buitin-atomics``` on master (not v2.x though) since apple deprecated their atomics in 10.10/10.11? in favor of C11/C++11.

[2017-01-05 18:24] hjelmn commented on #2666
At some point we should probably disable this option. Apple deprecated their atomics in favor of the ones in c11/c++11.

[2017-01-05 18:49] PHHargrove commented on #2665
I have old log files that show
[code]
for the same system and 2.0.2rc1.
HOWEVER, that does not clearly place the blame on Open MPI (or libtool), since the system has been subject to updates since then.

[2017-01-05 19:00] PHHargrove commented on #2665
I have both the 2.0.2rc1 and rc2 tarballs and I configure them identically.
The rc1 tarball's configure says that libtool supported shared libraries, while the rc2 case does **not**.
So, this *is* a regression in Open MPI.

[2017-01-05 20:39] hppritcha commented on #2579
@boegel we got feedback on rc2 and a few other things we are investigating.  We may need to role an rc3.  I'd say earliest for 2.0.2 release would be late next week, although its looking more like third week of January.  Of course there can always be surprises.

[2017-01-05 21:03] hppritcha commented on #2665
discussed with @jsquyres.  Its possible that we didn't generate the rc2 tarball quite right.  The libtool version used to generate it was 124 not 2.4.6. So, we'll have an rc3 in a bit.

[2017-01-05 21:55] PHHargrove commented on #2666
I have tested on Sierra and don't see the problem there.
I will retest the El Capitan system after it finishes installing system updates.
The Yosemite system is definitely showing the problem.

[2017-01-05 21:55] boegel commented on #2579
@hppritcha OK, thanks for the info, much appreciated. Good luck with getting things stable, looking forward to the new release!

[2017-01-05 22:20] hppritcha commented on #2666
How many cores do these systems have?

[2017-01-05 22:31] PHHargrove commented on #2666
The Yosemite and El Capitan systems each have just 2 cores.
However, the test was running for over 8 hours on the Yosemite system before I noticed it was hung.
Additionally, all of "make check" takes about 1 minute when I don't enable the OSX builtin atomics.

[2017-01-05 23:03] PHHargrove commented on #2610
@hppritcha
This bug is still present in my testing of the rc2 tarball on multiple PPC64 systems, when using the default configure options (no `--enable-debug` or any atomics-related configure options).
You added this bug to the v2.0.3 milestone, not v2.0.2.
So, am I correct in thinking that you will "fix this in documentation" for 2.0.2, as suggested by the question you posed to Orion:

[2017-01-05 23:09] jsquyres commented on #2665
@PHHargrove New rc3 tarball posted (generated with the correct autotools):

    https://www.open-mpi.org/software/ompi/v2.0/

[2017-01-05 23:10] PHHargrove commented on #2665
@jsquyres OK, testing rc3 on FreeBSD now.

[2017-01-05 23:18] PHHargrove commented on #2666
After allowing OS X to reboot to complete installation of updates, the El Capitan system is OK now.
Therefore, I suspect the "hang" on that system may not have been genuine.

I am suspicious now that this may be Apple's bug.

[2017-01-05 23:23] PHHargrove commented on #2665
SUCCESS!
Both amd64 and i386 FreeBSD-11 platforms appear to be working with rc3.

[2017-01-05 23:25] PHHargrove commented on #2665
FWIW:  I think the my prior observation still applies:

Of course, this is only a problem when libtool cannot build shared libs, and `--disable-dlopen` is a simple/effective work-around.

[2017-01-06 00:25] PHHargrove commented on #2606
@jjhursey
Believe it or not, I see the same failure with the XLC community edition compilers on the same system!
No issues with gcc/gfortran.

[2017-01-06 01:49] PHHargrove commented on #2049
Current (2.0.2rc3) it is not possible to run on OpenBSD-6 unless one configures with `--enable-mca-no-build=patcher`.
Would it be appropriate to document this in README for v2.0.2?

[2017-01-06 02:01] PHHargrove commented on #2607
I have (non-root) access to systems with the following configurations:
[code]
Both are bare hardware (not kvm or qemu, either of which might mask unaligned access issues).

If there are simple tests I can run to help track this problem, let me know.

[2017-01-06 02:18] PHHargrove commented on #2643
FWIW, I have not previously seen issues on aarch64/armv8, but I only run `make check` and the `ring_{c,cxx,mpifh,usempi,usempif08}` examples as verification.

Currently I get an ICE from gcc-4.8 while building Open MPI.  So, I don't have v2.0.2rcN results yet.

@opoplawski note that Pasha's suggestion to run with `--mca btl ^vader` can also be implemented via environment variable `OMPI_MCA_btl=^va

[2017-01-06 02:42] PHHargrove commented on #2643
FYI:

I have resolved my gcc-4.8 problem by using a local build of gcc-6.2 instead.
With 2.0.2rc3 I can run NetPIPE with vader:
[code]
However, there is no xpmem, on this system.

[2017-01-06 07:24] rhc54 opened #2674 "Build problem on Cray XC30"
I'm getting the following link error, even though the required libraries exist:

[code]

@hjelmn @hppritcha Any ideas?

[2017-01-06 08:02] puneet336 commented on #2664
Hi all,
This issue is specific to openmpi compilers.
I compiled application with various compilers, here are my observations:-

COMPILER ; VERSION   ;  FLAG        ;   COMMENT
openmpi ; 1.10.0  ; -mcmodel=large       ; compilation error
openmpi ; 1.10.0  ; without mcmodel/-mcmodel=medium  ; crashed, got corefiles
openmpi ; 2.0.1    ;  -mcmodel=large      ;  compilation error
openmpi ; 1.10.0  ;  w

[2017-01-06 11:18] jsquyres commented on #2674
It looks like you have `libnl-route-3.so.200.18.0` and `libnl-3.so.200`, but not `libnl-route-3.so` and `libnl-3.so` (i.e., the plain `.so` versions of the library).  Is there a `dev` or `devel` RPM that you're missing?

[2017-01-06 16:16] hppritcha commented on #2674
HI Ralph,

On CrayXC systems running CLE 6 they only do a partial install of ibverbs
related RPMs.
They don't install devel rpms you would need.

In addition, there were changes to way Cray's verbs simulation library
works from CLE 5
that causes additional issues even if you manage to install the missing nl
libs yourself.

So, for those systems, you need to add --with-verbs=no.

Howard

2017-01-06

[2017-01-06 16:20] jsquyres commented on #2674
That's kinda lame -- those 2 libs are pulled in via dependencies (probably from librdmacm?).

Sounds like the configure.m4 for common/verbs should try to do a link (so that it can realize that it *can't* do a link, and therefore elect not to build).

[2017-01-06 16:23] hppritcha commented on #2674
we had a similar discussion I think when I was trying to build Open MPI to use UCX on some system (not Cray) that was missing devel RPMS and I was told it was "hard" to get configure to test this.  This problem is easily detected though if one were trying to build Open MPI rpms from a source tarball and the spec file was accurate.

[2017-01-06 16:25] hppritcha commented on #2674
Sorry one correction to last comment, it was not UCX but with MXM support.  It was on a student cluster and they didn't "know" about needing to install devel rpms required to build Open MPI with MXM support until we actually tried to build the Open MPI libs.

[2017-01-06 16:39] rhc54 commented on #2674
Thanks @hppritcha - that did indeed solve the problem. I also see a warning coming out of the oob/alps component that I'll address and commit back.

[2017-01-06 16:39] #2674 closed

[2017-01-06 16:46] hppritcha commented on #2610
@PHHargrove I wasn't intending to imply we'd fix this in the documentation, but we can use this issue as such.

[2017-01-06 16:53] hppritcha opened #2677 "PPC64:build failure ppc64/-m32 and bultin-atomics"
@PHHargrove has found another problem we seem to be having with PPC64 with/without use of the --enable-builtin-atomics.

[code]

The original posting on devel is at

https://www.mail-archive.com/devel@lists.open-mpi.org//msg19868.html

This issue is related to #2610 .  IN some cases we appear to be needing to use the --enable-builtin-atomics to work around bugs in the PPC64 atomics asm code in Ope

[2017-01-06 16:54] hppritcha commented on #2677
@jsquyres I propose making both of the PPC64 atomics blockers for 2.0.2.  I'll assign to IBM.

[2017-01-06 16:57] hppritcha commented on #2610
I'm making this a block for 2.0.2.  There appear to be more issues with PPC64 and atomics than we'd thought.

[2017-01-06 23:19] hppritcha opened #2678 "PR #2596 introduced regression when configuring with -O3 optimization"
#2596, which has been merged back in to v2.x and v.2.0.x introduced a major regression.  Open MPI can no longer be compiled with gcc (at least) at -O2 or -O3 for x86_64 without immediately segfaulting in MPI_Init.   The problem has been observed both for gcc 4.9 and 6.3.

orterun also fails with a similar segfault pattern.  If one uses the cpuid instruction directly (avoiding all the exb exchange

[2017-01-07 00:10] hjelmn commented on #2614
I can't get this to hang with osc/rdma. @markalle Was the 1sided.c test hanging with osc/rdma or just osc/pt2pt?

[2017-01-07 00:30] hjelmn commented on #2678
Hmm, I tested this only with gcc on CTS-1. Optimized build (defaults to -O2). Will look at the backtrace and see what is going on.

[2017-01-07 01:38] hjelmn commented on #2614
Ok, I see what is happening. The restore of %ebx isn't working as expected. Looks like it might be selecting a register that is clobbered by cpuid. If the code is causing a problem here then it also is in the patcher. Will fix both.

[2017-01-07 01:47] hjelmn commented on #2614
I see the problem. The code I copied for patcher only saves the lower 32 bits of b. Needs to save all 64 bits. Not sure why we are just discovering this now. Patch incoming.

[2017-01-07 01:47] hjelmn commented on #2614
Wait, the other bit is a 32-bit only path. Thats why that worked. *face-palm*.

[2017-01-07 01:52] hjelmn commented on #2614
Opps. Wrong bug :). Deleting those.

[2017-01-07 01:53] hjelmn commented on #2678
Rather embarrassing. The cpuid code I copied from patcher only saved/restored the lower 32 bits of register b. PR open to fix.

[2017-01-07 13:21] jsquyres commented on #2656
Update: @rhc54 and I have been talking about this off-list -- he's been working on it in rhc54/ompi topic/nits branch.  I think we're getting close.

[2017-01-07 19:21] ericch1 commented on #2284
Hi,
I git the issue again last night.  Process launched without mpirun (along with the 2200 nightly tests), but I can't reproduce.

This new report contains backtrace with line numbers, hoping it can help.
I don't have any coredump however! :/

build logs:
http://www.giref.ulaval.ca/~cmpgiref/dernier_ompi/2017.01.07.01h16m01s_config.log

ompi_info -all:
http://www.giref.ulaval.ca/~cmpgiref/dernier

[2017-01-07 19:29] ericch1 commented on #2284
I think I just found why I got no coredump... I should have one next time it fails (if there is a next fail...)
(passed "ulimit -c unlimited" into .bashrc but it wasn't read by the automated launching process).

Eric

[2017-01-09 17:56] hppritcha commented on #2049
done, PR #2687

[2017-01-09 18:40] hjelmn commented on #2614
Ok, I can reproduce the issue with osc/pt2pt. Looks like something is still not right with PSCW. Taking a look now.

[2017-01-09 21:44] jsquyres commented on #2610
@gpaulsen @jjhursey Can you guys be prepared to talk about this one tomorrow on the webex?

[2017-01-09 21:44] jsquyres commented on #2677
@gpaulsen @jjhursey Can you guys be prepared to talk about this one tomorrow on the webex?

[2017-01-09 21:44] hppritcha commented on #2610
removed @hjelmn  he has enough to do.

[2017-01-09 22:17] hjelmn commented on #2614
Found the bug. Its an artifact of the original design. I haven't had the time to move the counters into the sync object. Think I have a workaround. Testing it now.

[2017-01-09 22:37] hppritcha commented on #2665
looks like using the right version of libtool to build the tarball solves this problem.  Closing,

[2017-01-09 22:37] #2665 closed

[2017-01-09 22:45] marksantcroos opened #2691 "regression: orte_submit_job() high error rates during startup"
With the latest master I get frequent errors during the launch of jobs where the launch callback returns `-117` for the first failing jobs and then `69` for the remaining failing jobs.
Still trying characterise it fully. Seems to work fine for ~190 consecutive jobs and then starts to fail.

Also tried to find out what these errors maps to, but couldn't find that either...

The workload consists of

[2017-01-09 23:40] rhc54 commented on #2691
Error -117 corresponds to ```ORTE_ERR_SYS_LIMITS_PIPES``` (see orte/include/orte/constants.h), so it sounds like you are running out of file descriptors. I don't see an error 69 anywhere so I'm not sure where that is coming from.

I'd guess we are leaking file descriptors ☹️

[2017-01-10 00:20] hjelmn commented on #2614
Ok, definitely fixed. Running it through the tests a couple more times to shake out any remaining bugs. Will have a PR open for master, v2.x, and v2.0.3.

[2017-01-10 10:13] nysal commented on #2610
This looks like a regression caused by:
[code]
Adding the constraint to the input operands list seems to fix the problem in my limited tests. Please review/test and I'll open a PR. The issue with the build not using the builtin atomics needs investigation. However it shouldn't be a blocker. It might actually be better if we switch over to the builtin atomics on PPC only after we verify there are n

[2017-01-10 10:46] xiachsh commented on #2606
@PHHargrove

which version of IBM Compiler did you used ?

[2017-01-10 11:43] nysal commented on #2677
@PHHargrove I'm trying to get access to a ppc64 system to reproduce this issue. I think the problem might be that when you enable builtin atomics OPAL_HAVE_ATOMIC_MATH_64 is unconditionally defined as 1. Not sure if 64-bit atomics are supported on a 32-bit host for all architectures.

[2017-01-10 13:29] marksantcroos commented on #2691
Hrm... bisect is turning out to be tricky, as the build was broken in that window.

I think the culprit is either:
https://github.com/open-mpi/ompi/commit/eb67c2fd44f4635b6cff490e5f03de6ea8dafc23 (@rhc54)
or
https://github.com/open-mpi/ompi/pull/2432/commits/de3de131afe552e17cb9b38e9346a20dbb95c09c (@hppritcha)

Any clue?

[2017-01-10 13:36] marksantcroos commented on #2691
Does the "stil opal ignored" refers to that this code was not yet in effect at that date?

[2017-01-10 13:55] rhc54 commented on #2691
yes - and it still isn't

[2017-01-10 13:56] marksantcroos commented on #2691
Ok, thanks, so that reduces it to one candidate then.

Now verifying that by cherry-picking the alps fix that came a couple of days later.

[2017-01-10 13:57] rhc54 commented on #2691
Are you using the DVM? Or are you trying to run natively on the Cray? If the DVM, then I don't see how de3de13 could have had an impact as we wouldn't be using the Cray pmix component.

[2017-01-10 13:58] marksantcroos commented on #2691
Yes, this is about the dvm.

[2017-01-10 14:07] rhc54 commented on #2691
I suspect you are chasing a ghost, then, as that component cannot impact the DVM.

[2017-01-10 14:38] marksantcroos commented on #2691
Hmmm, trying them both in isolation indeed doesn't allow me to recreate the problem.
So no ghosts ...

Then something must have survived in the build dir during the bisect, otherwise I can't really explain it.

Will dig further.

[2017-01-10 16:12] #2678 closed

[2017-01-10 16:21] rhc54 commented on #1569
@ggouaillardet Did your fix ever get into master? @siegmargross is reporting a similar problem on v2.0, so I'm guessing there is a common problem across all the releases that relates to hetero clusters.

[2017-01-10 16:22] hppritcha commented on #2677
looks like there's a fix on master.  @hjelmn cherry-pick over from master to v2.0.x

[2017-01-10 16:24] jsquyres commented on #2677
@hjelmn cites d99a9786b6a14dd09b7bb2c3c52823fea4f6ce07 on master

[2017-01-10 16:31] jsquyres commented on #2239
From #2689, we should mention that a segv in MPI_T_cvar_write was fixed.

[2017-01-10 16:34] jjhursey commented on #2677
Ref PR #2698

[2017-01-10 18:12] m0zes commented on #1156
The unintended side-effect of this change is that OpenMPI no longer works out of the box with RoCE. This is because RoCE, at least with its state in 2.0.1, cannot use udcm. It needs rdmacm, which *requires* per-peer queues.

[2017-01-10 18:58] jjhursey commented on #2151
@ggouaillardet @bosilca I wanted to check in on this ticket to see if there has been progress. And where I can be of help.

I see two PRs that are related:
 - PR #2154 which has one approach
 - PR #2393 which seems to have another somewhat related approach

[2017-01-10 19:32] PHHargrove commented on #2606
@xiachsh Here is the full version info for xlc and xlf:
[code]

[2017-01-10 21:33] naughtont3 opened #2700 "dvm: SEGV in orterun from OBJ_RELEASE in orte_iof_base_close()"
This issue *only* occurred when using orte-dvm case, using `master` (`3593fad`).

The error occurs during the finalize and is related to [iof/base/iof_base_frame.c:93](https://github.com/open-mpi/ompi/blob/master/orte/mca/iof/base/iof_base_frame.c#L93).  This appears to be a recent addition for memory cleanup (8ba92d75163a0106b4fd19968b211a05a4b8d3f7).   If you remove the change in `orte_iof_base_

[2017-01-10 21:42] naughtont3 commented on #2700
I don't see a way to add "bug" label to the ticket.  I'd guess @rhc54 is person to comment on this DVM related issue.  Thx.

[2017-01-10 21:43] rhc54 commented on #2700
Yes - I'll take a look.

[2017-01-10 21:44] jsquyres commented on #2700
@naughtont3 I just invited you to the open-mpi Github org.  That may allow you to set labels...?

[2017-01-10 21:54] naughtont3 commented on #2700
Ok, thanks @rhc54 and @jsquyres! :-)

[2017-01-10 22:01] rhc54 commented on #2700
Looks like a couple of errors came in via attempts to silence valgrind warnings - fix in final test

[2017-01-10 22:07] rhc54 commented on #2691
You might want to update and try this again - there was a commit early this morning that addressed memory leaks (44c1ff60f189842c1edfb1083d528d38be840303). I had to modify it slightly to fix the DVM (#2701)

[2017-01-10 22:26] naughtont3 commented on #2700
I did quick test with #2701 and no longer see the failure with DVM test. Thanks @rhc54.

[2017-01-10 23:01] #2700 closed

[2017-01-11 05:12] hjelmn commented on #1654
@markalle The vma lock is recursive so in general it is safe to do just about anything while holding the lock. The one exception is that free can not be called from vma_tree_delete as we may be calling that function from a memory hook. The fix in #2687 addresses that issue by putting any deleted vma onto a list that will be cleared the next time a vma is inserted.

[2017-01-11 15:20] hppritcha commented on #2677
closed via #2698

[2017-01-11 15:20] #2677 closed

[2017-01-11 15:21] hppritcha commented on #2610
Do we want to get @nysal 's proposed fix in for 2.0.2 or push out to 2.0.3?

[2017-01-11 15:42] nysal commented on #2610
@hppritcha I'd like to get this in 2.0.2. PR coming up shortly.

[2017-01-11 15:47] marksantcroos commented on #2691
Thanks, tried the latest, but didn't work.

The good news is that I found the offending commit (https://github.com/open-mpi/ompi/commit/dd491db21f06729eec1f73ac48048d3fed3dc44b), and this time I think it makes more sense.

The irony is that I upgraded my branch specifically because I needed that fix, as I didn't get any output of my jobs :-)
Didn't look yet what the exact issue is.

[2017-01-11 15:54] hjelmn commented on #2614
Still have one stubborn bug holding up the fix. It now hangs about 10% of the time. Will hopefully have this resolved today.

[2017-01-11 15:57] rhc54 commented on #2691
Huh - let me know what you find. I'm not sure I see how that causes leaked file descriptors, but there may be something subtle in there.

[2017-01-11 15:58] marksantcroos commented on #2691
I didn't mean the change itself. But more that this enabled output again, which involves file descriptors at least.

[2017-01-12 02:40] marksantcroos commented on #2691
It seems orted is not closing fd's correctly.

I'm running the following payload:
[code]

Look at the increase for consecutive jobs:
[code]

And if I look at the output of lsof of the 33rd job:
[code]

You can see that it still has multiple handles per stdout and stderr of the finished tasks.

Do you agree that this looks fishy?

[2017-01-12 03:16] rhc54 commented on #2691
yeah, that isn't right - it looks like the IO channels aren't being released

[2017-01-12 04:27] ggouaillardet commented on #2151
@jjhursey as pointed by @bosilca #2154 addresses only the non blocking collectives but at the ```MPI``` level.
(and btw, it also prevents updating refcounts of predefined datatypes/ops)

@bosilca had a negative comment about the implementation itself and i acknowledge that, though i did not had much time to revamp it.

currently, refcounts are updated at the ```pml``` level, and per our SC discuss

[2017-01-12 11:48] jsquyres commented on #2691
@rhc54 @marksantcroos Does this only affect master, or does it also affect 2.0.x and/or 2.x?

[2017-01-12 11:51] marksantcroos commented on #2691
@jsquyres Only master as far as I can tell.

[2017-01-12 11:54] marksantcroos commented on #2691
@rhc54 I've tracked it down a bit further. Its the fd thats opened here that doesn't get closed: https://github.com/open-mpi/ompi/blob/master/orte/mca/iof/base/iof_base_setup.c#L314

[2017-01-12 15:05] rhc54 commented on #2691
@marksantcroos okay, thanks - I'll take a look at it this morning and chase it down

[2017-01-12 15:21] marksantcroos commented on #2691
Thanks Ralph!

Some further hints, at https://github.com/open-mpi/ompi/blob/master/orte/mca/iof/orted/iof_orted.c#L274 the list of procs is already empty so the loop afterwards is never entered.
I think the (premature?) removal happens here: https://github.com/open-mpi/ompi/blob/master/orte/mca/iof/orted/iof_orted_read.c#L170

[2017-01-12 18:28] marksantcroos commented on #2700
@naughtont3 FYI: You can use `--hnp file:dvmuri`

[2017-01-12 20:16] marksantcroos commented on #2691
Hi @rhc54 fa419d3, doesn't fix it.

[2017-01-12 20:49] rhc54 commented on #2691
crud - ok, will take another shot at it

[2017-01-12 21:46] rhc54 commented on #2691
sorry about that - missed one spot 😦

[2017-01-12 22:02] marksantcroos commented on #2691
That sounds you have a handle on it :)

[2017-01-12 23:04] marksantcroos commented on #2691
Ah, I missed that PR. I tried that, and still the same problem.

[2017-01-12 23:08] rhc54 commented on #2691
sigh - ok

[2017-01-13 03:58] rhc54 commented on #2691
@marksantcroos This latest PR should (hopefully) finally do the trick

[2017-01-13 08:10] marksantcroos commented on #2691
Still no luck.

[2017-01-13 12:31] rhc54 commented on #2691
I'm afraid I'll have to let you take it from here, then - I'm seeing everything cleaned up on my end. It must be something associated with your particular use-case - some code path that I'm not hitting.

[2017-01-13 13:14] marksantcroos commented on #2691
ACK. Will try to make a reproducer outside of Titan. Thanks for your efforts.

[2017-01-14 19:56] marksantcroos commented on #2691
Would it by any chance be possible to have orte-dvm launch orted's while running on my laptop? That might ease the reproducing and/or debugging!

[2017-01-14 20:53] rhc54 commented on #2691
Maybe?? There is an MCA param to let you simulate larger clusters:

[code]

I haven't tried it with the DVM, but you are welcome to do so

[2017-01-14 22:18] marksantcroos commented on #2691
"There is an MCA parameter for that" ;-)

[2017-01-14 22:28] marksantcroos commented on #2691
Ok, I can reproduce it easily on my laptop too:
[code]

[2017-01-14 23:02] rhc54 commented on #2691
one clear difference stands out - you are redirecting output to files. In orte_iof_base_setup, we open a sink for those files - best guess is that it isn't being cleaned up, or is overwriting an already-opened sink (which then is leaked).

[2017-01-14 23:05] marksantcroos commented on #2691
Ah, sorry, I thought that was "clear" by my an earlier comment https://github.com/open-mpi/ompi/issues/2691#issuecomment-272145085

[2017-01-15 01:43] rhc54 commented on #2691
@marksantcroos Trying it one more time with #2735

[2017-01-15 13:33] marksantcroos commented on #2691
File descriptor leakage is gone, but so is my output :)

[2017-01-15 15:49] #2691 closed

[2017-01-15 16:45] marksantcroos commented on #2691
[code]

[2017-01-15 16:55] shamisp commented on #2607
Okay - I actually narrowed down the issue to a bug in UCX (https://github.com/openucx/ucx/pull/1236). I have no idea why the problem show ups only after 4b208e4 but it is very consistent.

[2017-01-15 16:55] #2607 closed

[2017-01-15 17:07] rhc54 commented on #2691
LOL - hooray!!

[2017-01-16 21:43] marksantcroos opened #2737 "pmix dstore esh bus error in orted on cray in dvm mode"
With the latest master, in dvm mode, after running around a couple of thousand tasks I repeatedly run into the following:

[code]

Will dig further, but increasing the set of eyes looking at it.

[2017-01-16 22:09] rhc54 commented on #2737
@marksantcroos Try configuring with ```--disable-pmix-dstore```. My best guess is that the pmix shared memory system isn't cleaning up properly after each job and so you are eventually running out of shared memory space.

[2017-01-16 22:15] marksantcroos commented on #2737
Thanks, will try. That actually sounds promising, as I get the same error immediately if I restart the DVM!

[2017-01-16 22:17] rhc54 commented on #2737
Check your /tmp area - you may have to ```rm -rf``` some session dir(s) to clean up. Look for anything that starts with ompi or pmix.

[2017-01-16 22:19] marksantcroos commented on #2737
Yes, I noticed that also indeed. But I run out of them per run already.

[2017-01-16 23:19] marksantcroos commented on #2737
With `--disable-pmix-dstore` the issue is indeed gone. It is also much much faster! What do I loose by not using the pmix dstore?

[2017-01-16 23:53] rhc54 commented on #2737
you gain a little memory footprint, but that's all - however, it should have been faster, not slower. we'll have to investigate.

[2017-01-17 00:11] rhc54 commented on #2737
@marksantcroos Can you tell if it slows down as the number of jobs grows? I'm wondering if it is faster at first, but then slows down - this could potentially be a consequence of the cleanup problem.

[2017-01-17 00:18] ggouaillardet commented on #2737
@marksantcroos @rhc54 i previously noted such an odd thing.

the root cause was ```/dev/shm``` was full, and for some reason, both ```ftruncate()``` and ```mmap()``` success (at least on Linux) but a crash occurs when accessing the mmap'ed memory

the attached program can be used to evidence this behavior

[code]

then

[code]
this causes a crash in ```memset()```

a way (workaround ?) to detect t

[2017-01-17 00:25] rhc54 commented on #2737
@artpol84 @karasevb Can you guys take a look at this problem?

[2017-01-17 02:28] marksantcroos commented on #2737
Now that it works again I will go back to data gathering :-) Will report back.

[2017-01-17 07:13] artpol84 commented on #2737
Ok, we will check this out
I think I was observing this on my virtual cluster build on linux-containers. But @karasevb was unable to reproduce. We will take a closer look now.
@ggouaillardet thanks for the analysis!

[2017-01-17 07:19] artpol84 commented on #2737
@marksantcroos, am I understanding you correctly and the reason of repeated failures was in the bunch of dstore-related leftover in the /tmp directory?

[2017-01-17 07:37] marksantcroos commented on #2737
@artpol84 Not exactly, let me explain my use case. I make use of a persistent DVM (that I start with `orte-dvm`) and then launch many (often small and short) tasks to that. So they were not "leftovers" from previous runs, but files from the same DVM instance, but from completed tasks. Does that make sense?

[2017-01-17 07:47] artpol84 commented on #2737
@marksantcroos, thank you - it does makes sense. We haven't checked this usecase, but we will do that now.
@rhc54 @marksantcroos can you provide short guidance on how to use the dvm mode to speedup the debugging process? Maybe anonymized script snippet?

[2017-01-17 07:55] ggouaillardet commented on #2737
@marksantcroos when you are running your test, can you monitor ```/dev/shm``` and see how the empty space evolves ?

with plain ```mpirun```, i run into this issue with a tiny ```/dev/shm``` when invoking ```MPI_Comm_spawn``` multiple times with the same ```mpirun``` command.
the use of a persistent DVM involves creating multiple PMIx jobs, and i am afraid the shared dstore grows forever and is on

[2017-01-17 07:56] marksantcroos commented on #2737
@artpol84 Sure, its rather straight forward, the minimal use-case is as follows:

[code]

In general I'm happy to make people aware of our usage mode so that it gets considered earlier ;-)

[2017-01-17 08:09] artpol84 commented on #2737
@ggouaillardet dstore was re-designed to support job termination cleanup. So this case supposed to be handled correctly. However there might be an implementation issue. We are checking.

[2017-01-17 08:11] marksantcroos commented on #2737
@ggouaillardet When I monitor `/tmp/scratch/ompi*/jf.*/pmix_dstor*/"` on the compute node, I see the `initial-pmix_shared-segment*` entries increasing over time, which only get removed once I close the dvm.

[code]

[2017-01-17 08:21] artpol84 commented on #2737
@marksantcroos this is a good input, thank you. @karasevb please reproduce and work to resolve.

@marksantcroos can you also tell how you measure that without dstore it is "much much" faster. Is this a visual observation or do you somehow measure the performance? I guess (as @rhc54 already mentioned) if memory get's filled up you may probably see the slowdown because of that. But still I'd like to

[2017-01-17 08:30] artpol84 commented on #2737
@marksantcroos also what is your codebase? master or v2.x?

[2017-01-17 08:39] marksantcroos commented on #2737
@artpol84 This is with the latest master. Performance was perception based, will actually measure to see if that was correct.

[2017-01-17 08:45] artpol84 commented on #2737
@marksantcroos thank you.
In case you'll confirm the performance degradation of the dstore, could you please also check as @rhc54 suggested the case where you have small number of tasks versus the case where you have a lot of them to see if this is a memory overwhelming that causing a problem or not.

[2017-01-17 09:36] boegel commented on #2579
Any updates on the ETA for the final 2.0.2 release?

I don't want to be pushy at all, please take the time you need, it's just that we'll need to decide to go forward with OpenMPI 2.0.1 or wait for 2.0.2 soonish...

[2017-01-17 11:36] marksantcroos commented on #2737
![image](https://cloud.githubusercontent.com/assets/383387/22018912/7553a994-dcb1-11e6-9a5e-bc3c3191bbe5.png)

[2017-01-17 11:43] marksantcroos commented on #2737
Both `DSTORE` and `NO-DSTORE` started with a fresh DVM. Both increase gradually. Offset confirms my perception yesterday.

[2017-01-17 12:33] tjb900 opened #2743 "Allgatherv crash on large buffer when using derived types"
Hi!

Seeing a segfault inside allgatherv on a large buffer.  Reproducer attached (wouldn't let me attach .c).

send size per rank: 1.6GB
receive size: 6.2GB

Relevant details:

* OpenMPI versions: both 1.6.5 and 2.0.1
* Network: TCP
* fails with mpi_size=2,3,4,6

I plan to investigate this myself also, but am spread pretty thin so thought I'd report it here too.

Cheers,
Tim

[reproducer.c.txt](ht

[2017-01-17 12:48] tjb900 commented on #2743
It occurred to me that it might be an intel compiler problem, but have just reproduced with gcc 4.4.7 (old I know).

[info.txt](https://github.com/open-mpi/ompi/files/711023/info.txt)

[2017-01-17 13:54] rhc54 commented on #2737
@marksantcroos Can you please confirm your environment for us? Was this done on Titan?

[2017-01-17 13:58] marksantcroos commented on #2737
@rhc54 Yes, this was on Titan.

[2017-01-17 16:07] hppritcha commented on #2610
closed via #2706, #2707, and #2708

[2017-01-17 16:07] #2610 closed

[2017-01-17 16:09] hppritcha commented on #1654
closed via #2719 and #2703

[2017-01-17 16:34] jjhursey opened #2744 "PMIx v1.2.1 Update for OMPI v2.1.0 release"
Placeholder issue that we need to update OMPI v2.1.0 to the eventual PMIx v1.2.1 which will contain some bug fixes that we would like to include in the v2.1.0 release.

[2017-01-17 17:38] hppritcha commented on #2666
Per discussion in the devel con today, closing this for now.

[2017-01-17 17:38] #2666 closed

[2017-01-17 19:16] artpol84 commented on #2737
@marksantcroos can you explain in more about your plot?
What does "consecutive run" mean?

[2017-01-17 19:45] marksantcroos commented on #2737
@artpol84 I started the DVM once for each configuration. And then repeatedly ran my program that fires 100 tasks to the DVM (repetitions on the X-axis). So I measure how long it takes to execute these   100 /bin/date tasks and thats what you see on the Y-axis.

[2017-01-17 20:11] rhc54 commented on #2737
@artpol84 We discussed this a bit on the call this morning, so let me capture those thoughts here. The workload in this use-case is very different from the ones we normally encounter. Instead of having one large job that has lots of procs/node, this workload has many small jobs that consist on only a few (often, one) process.

In this use-case, there really isn't going to be any benefit from dstor

[2017-01-17 20:47] artpol84 commented on #2737
@marksantcroos I see, thank you. Out of curiosity - what if you will vary number of /bin/true runs? I.e. from 2 to 128?

@rhc54 thanks, this makes sense.
Currently we have partially introduced "session" notation in the dstore. Right now all tasks from the same userid at the persistent orted are counted as belonging to the same session - this is why we have this leftover.
However session was origin

[2017-01-17 22:03] rhc54 commented on #2737
Sounds reasonable to me - I see no problem providing an integer or string, so we can pick whatever you like. We just need to add it to the list of RM-required data, and then protect ourselves by defaulting to assuming single session if it isn't provided.

[2017-01-17 22:33] artpol84 commented on #2737
Well I think it's ok to default to a single session as some of RMs will support only that, SLURM for example. But if some particular RM knows that there will be multiple independent jobs - it is RMs responsibility to manage session ID's and provide them to `PMIx_Server_register_nspace()`

[2017-01-17 22:34] artpol84 commented on #2737
Those session ID's by the way will have only node-local (even server-local) meaning, so I think it is safe to use integers for that.

[2017-01-17 22:35] artpol84 commented on #2737
So all we need to do from the PMIx API perspective is to provide a legacy info key name for this session ID value.