[2019-02-04 10:51] ggouaillardet commented on #6352
you previously claimed `mpirun --version` is `2.1.1` and you are now installing Open MPI `4,0.0`.

did you double check you are not using `mpirun` version `2.1.1` with your app linked with Open MPI `4,0.0` ?

what if you try a simple example such as `hello_c` from the `examples` directory ?

[2019-02-04 12:54] MostafaMAshry commented on #6352
Thanks for your time, I try to run hello_c.c
---
ashry@ashry-Precision-T1700:~/openmpi-4.0.0/examples$ mpicc hello_c.c
ashry@ashry-Precision-T1700:~/openmpi-4.0.0/examples$ ./a.out
Hello, world, I am 0 of 1, (Open MPI v4.0.0, package: Open MPI ashry@ashry-Precision-T1700 Distribution, ident: 4.0.0, repo rev: v4.0.0, Nov 12, 2018, 122)
ashry@ashry-Precision-T1700:~/openmpi-4.0.0/examples$ mpirun --

[2019-02-04 13:04] MostafaMAshry commented on #6352
---
ashry@ashry-Precision-T1700:~/openmpi-4.0.0/examples$ mpif90 hello_mpifh.f
ashry@ashry-Precision-T1700:~/openmpi-4.0.0/examples$ ./a,out
bash: ./a,out: No such file or directory
ashry@ashry-Precision-T1700:~/openmpi-4.0.0/examples$ ./a.out
Hello, world, I am  0 of  1: Open MPI v4.0.0, package: Open MPI ashry@ashry-Precision-T1700 Distribution, ident: 4.0.0, repo rev: v4.0.0, Nov 12, 2018
ashry

[2019-02-04 13:10] ggouaillardet commented on #6352
For the third time, the root cause is you use `mpirun 2.1.2` with an app linked with Open MPI `4.0.0`.
Use the right Open MPI (e.g. fix your `$PATH`) and you will be just fine.

[2019-02-04 13:35] MostafaMAshry commented on #6352
sorry, but I don't know how to fix the path, Linuxmint

[2019-02-04 14:02] MostafaMAshry commented on #6352
I understand you, I have to change the path from
---
/usr/bin/mpirun
---
to this one:
---
/home/ashry/openmpi/bin/mpirun
---
,,,, but I am sorry, I don't know how to do this, I am a civil engineer, and I try to learn something

[2019-02-04 15:22] jsquyres commented on #6352
Also see the Open MPI FAQ for some detailed information:

* https://www.open-mpi.org/faq/?category=running#run-prereqs
* https://www.open-mpi.org/faq/?category=running#adding-ompi-to-path
* https://www.open-mpi.org/faq/?category=running#mpirun-prefix

Finally, please use proper "fenced code blocks" when pasting giant amounts of verbatim text into the github issue -- it makes your text *significant

[2019-02-04 15:36] MostafaMAshry commented on #6352
Thanks a million, I will read this and try to fix the path,
thanks again

[2019-02-04 17:59] xiaolin-cheng commented on #6354
I am sorry that my scenario is kind of complicated. I am posting the stack trace of **MPI_Comm_create** failure as follows:

`[vancouver14:138161] [ 0] /lib/x86_64-linux-gnu/libpthread.so.0(+0x11390)[0x7f9b5fedd390]
[vancouver14:138161] [ 1] /home/xiaolin/openmpi-3.1.2-install/lib/openmpi/mca_pml_ob1.so(mca_pml_ob1_recv_frag_callback_match+0xa2)[0x7f9af8d78832]
[vancouver14:138161] [ 2] /home/xiao

[2019-02-04 23:58] ggouaillardet commented on #6354
you can try to `mpirun --mca coll ^tuned ...` and see whether it helps with respect to `MPI_Allreduce()` failure.
If it does not do the trick, I recommend you use a parallel debugger or some other tools to double check `count` and `datatypes` matches in all the rank of your communicator.

[2019-02-05 08:45] ggouaillardet commented on #6317
@rhc54 I updated my branches
 - https://github.com/ggouaillardet/ompi/tree/poc/noorte
 - https://github.com/ggouaillardet/prrte/tree/topic/pmix2

and got both `prrte` and ORTE-less Open MPI build with the three PMIx `v2` series (well, the latest checkouts from github)

I found :
 - a bunch of PMIx keys are missing in `v2.0` (I did "backport" them via some more `#ifndef` in `opal/pmix/pmix-internal

[2019-02-05 13:23] rhc54 commented on #6317
Please see my comments on your PRRTE branch. The IOF framework has definitely not been removed from PRRTE. However, PRRTE does not support non-PMIx-based tools and so any tool must meet that criterion. It should still include PMIx v2.2, so please let me know if that version isn't working.

It was my intention that PRRTE itself require PMIx v2.2 or above. Note that this doesn't mean a client progra

[2019-02-05 20:27] rashikakheria opened #6360 "Libfabric link error when using openmpi master"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Using clone

### Please describe the system on which you ar

[2019-02-05 23:38] matcabral commented on #6360
@jsquyres , I don't think we need two different issues since they are essentially for the same issue. Lets just close one of them.

[2019-02-06 00:15] ggouaillardet commented on #6360
@rashikakheria Did you manually patch Open MPI with https://github.com/open-mpi/ompi/pull/6313.patch ? If not, try it first (note you need recent autotools).

[2019-02-06 00:30] matcabral commented on #6360
@ggouaillardet, I am not able to reproduce the issue  in "Ubuntu 16.04.5 LTS" without applying the patch with master "as is". I'm inspecting the logs to see what the diff may be, so far I have not seen anything evident.

[2019-02-06 00:37] #6345 closed

[2019-02-06 01:00] jsquyres commented on #2519
This is quite odd.  I see the following:

https://github.com/open-mpi/ompi/blob/0601b3e982f72f42f8bf1133c128875dd23cc263/ompi/mca/mtl/ofi/Makefile.am#L78-L80

which shows that `mca_mtl_ofi.la` should be linking against both `$(ompi_mtl_ofi_LIBS)` `libmca_common_ofi.la`, and

https://github.com/open-mpi/ompi/blob/0601b3e982f72f42f8bf1133c128875dd23cc263/opal/mca/common/ofi/Makefile.am#L74

which sh

[2019-02-06 01:12] matcabral commented on #6360
I see you have libtool  "2.4.6 Debian-2.4.6-0.1"  while mine is just GNU 2.4.6. Where are you getting yours from? I wonder is Debian is adding some spices in there.

[2019-02-06 01:16] jsquyres commented on #2519
I just did a test a little closer to what @rashikakheria is reporting:

[code]

I.e., no value for the `--with-ofi` CLI param, and `libfabric.so` is in a default directory (`/usr` in this case) where the compiler and linker can find the Relevant Things without additional `CPPFLAGS` and `LDFLAGS`.  And I was able to replicate the issue.

Something terribly weird is happening here.  I note from a ge

[2019-02-06 01:18] ggouaillardet commented on #6360
with latest master (well, I had to patch it because `VPATH` does not work, and I will issue a separate PR)
I can reproduce the issue.

Note I installed `libfabric` in my home directory and __not__ in `/usr`, not sure if that makes a difference.

[code]

[code]

[2019-02-06 01:19] jsquyres commented on #2519
Blarg.  I just deleted my last comment because it was wrong.  In both cases, Libtool inserted `/path/to/libfabric.so` in the linker line.  So in both cases, `libmca_common_ofi.so` was properly linked against `libfabric.so`.

[2019-02-06 01:20] jsquyres commented on #6360
Ok hold on here, are we working on this issue or #2519?  I thought @matcabral said we were working on #2519...?

[2019-02-06 01:22] ggouaillardet commented on #6360
I am __not__ working on this.

I suggested #2519 as a temporary workaround (that worked for me) and I am double checking it works for me.

[2019-02-06 01:32] jsquyres commented on #6360
Ok, thanks.  Let's close this issue and work on #2519.  There's a link from #2519 to here, so all this content isn't lost.

But let's keep all the followups in a single place (sorry, I suggested moving to a separate issue, but @matcabral feels that this *isn't* a separate issue -- so let's keep all the discussion over there).

[2019-02-06 01:32] #6360 closed

[2019-02-06 01:33] jsquyres commented on #2519
Note that there was a second issue opened for a while and some discussion happened over there -- be sure to see #6360 for some additional content.  We closed that issue and will continue the discussion here, just to keep it all together.

[2019-02-06 01:35] jsquyres commented on #2519
@rashikakheria Can you do this in your build tree:

[code]

and send the output?

[2019-02-06 01:47] rashikakheria commented on #2519
Here is the output:

[code]

[2019-02-06 01:49] ggouaillardet commented on #2519
the patch fixes the issue for me (up-to-date ubuntu xenial)

stock master does not depend on `libfabric.so`
[code]

patched master depends on `libfabric.so`
[code]

here is the up-to-date patch

[code]

`mca_mtl_ofi.so` currently relies on `libmca_common_ofi.so` to access `libfabric.so`.

`common/ofi` does not use any symbols from `libfabric.so`.
on redhat, `libmca_common_ofi.so` does depend on `l

[2019-02-06 02:51] ggouaillardet commented on #6317
I updated https://github.com/ggouaillardet/prrte/tree/topic/pmix2 based on your comments.
since only PMIx >= v2.2 is supported, the required modifications to support PMIx v2.2 are pretty small.

IOF is still not working with PMIx v2.2.
Since PMIx v2.2 has no IOF features, `prte` relies on `rml` to forward I/O to/from the tool and `rml` relies in turn on `oob/tcp` to do the forwarding, As far as I

[2019-02-06 09:06] ggouaillardet commented on #6317
That will make things way easier !

But if for some reasons we do want pmix 2.2, couldn't we have `prun` establish an `oob/tcp` connection with `prte` for IOF ?

[2019-02-06 11:40] jsquyres commented on #6343
@thananon Are you going to make a PR for your proposed patch?

[2019-02-06 11:41] jsquyres commented on #6322
When you say spawn, do you mean `MPI_Comm_spawn`, or do you just mean `mpirun`?

[2019-02-06 11:42] jsquyres commented on #6300
@hoopoepg Ping.

[2019-02-06 11:42] jsquyres commented on #2519
@ggouaillardet I think you just hit the nail on the head: common/ofi doesn't actually utilize any libfabric symbols.

This brings up (again) the idea that we should just delete common/ofi, because it never fulfilled its original purpose and just causes indirect problems like this.  I think we talked about this in the last week or two on the weekly webex, but I don't think an issue was created for

[2019-02-06 11:54] hoopoepg commented on #6300
it could be related to https://github.com/openucx/ucx/issues/2963

[2019-02-06 11:57] hoopoepg commented on #6300
or https://github.com/open-mpi/ompi/issues/6134

[2019-02-06 12:13] hoopoepg commented on #6300
@jsquyres could you run any ibv test application to be sure that IB is properly configured?

like ibv_rc_pingpong

thank you

[2019-02-06 12:52] ggouaillardet commented on #2519
@jsquyres I will improve #6313 tomorrow (per Brian's comments)

[2019-02-06 13:00] jsquyres commented on #2519
@ggouaillardet I've got a solution in the works.  Should have a PR shortly.

[2019-02-06 13:49] jsquyres commented on #2519
Please see PR #6363, which is a rollup of all known outstanding OFI configure/linking issues.

[2019-02-06 13:56] leofang commented on #6322
I meant `mpirun`, thanks for asking!

[2019-02-06 14:35] karasevb commented on #6277
Closed by #6203 and #6217

[2019-02-06 14:35] #6277 closed

[2019-02-06 15:01] rhc54 commented on #6317
The problem with doing so is that prun would then have to call ```orte_init``` and become an ORTE process - which kinda defeats the purpose. I had thought there was some level of IOF support in PMIx 2, but apparently I remembered incorrectly (too many versions in my head). I would just stick with the v3 minimum requirement. Should probably update configure to enforce it.

[2019-02-06 15:27] xtus opened #6364 "Configure check for libfabric fails in loading the correct lib"
Hi,

I tested v4.0.0 tarball and git master 5aef3148d33c1864d5429a26c223680183f16af3

I configure using ``--with-ofi`` pointing to an install of libfabric 1.7.0 with ABI 1.2

System-wide is also installed libfabric 1.6.2 with ABI 1.1

The configure check ``checking if libfabric requires libnl v1 or v3`` returns ``v3``, but is actually failing trying to load the system-wide libfabric instead of the

[2019-02-06 15:28] jsquyres commented on #6364
Can you submit your config.log file?  (you may need to put it in a gist or pastebin or somesuch)

[2019-02-06 15:45] xtus commented on #6364
Thanks for the quick reply. Here you go: [config.log on gist](https://gist.github.com/0ab57def7bbac7cd3c61f333dff8bfd7)

[2019-02-06 17:57] thananon commented on #6343
I'm waiting for @hjelmn to pitch in on this. He said that ICC support for c11 atomic is kinda weird right now. So I'm not sure if the patch will work. Also @abeltre1 hasn't replied to our question about what compiler he's using.

[2019-02-06 21:30] nelsonspbr commented on #3458
@rhc54 This hasn't worked at least for me, unfortunately :(

Has there been any updates on this?

[2019-02-07 00:06] ggouaillardet commented on #6364
@xfus I am afraid your `config.log` was truncated. can you please compress it and upload it again ?

We do not use `-rpath` unless `--enable-mpirun-prefix-by-default` is used in the `configure` command line.
That being said, I am not sure we would add it here.
I suggest you first try with `--enable-mpirun-prefix-by-default` and if it does not work, you can add libfabric 1.7.0 to your `LD_LIBRARY_P

[2019-02-07 04:29] rhc54 commented on #3458
Not really - the developer community judged it not worth fixing and so it has sat idle. Based on current plans, it will be fixed in this year's v5.0 release - but not likely before then.

Note that you can optionally execute your OMPI job against the PMIx Reference RTE (PRRTE). I believe this is working in that environment. See https://pmix.org/support/how-to/running-apps-under-psrvr/ for info.

[2019-02-07 08:10] malinkallen opened #6366 "Unexpected behavior of DataType.getSize in Java"
I'm using Open MPI 3.1.3 (installed from a source code tarball).

According to the Javadoc of ```Datatype```, ```getSize``` is the Java binding of ```MPI_TYPE_SIZE```. However, ```getSize``` returns number of elements buffered, while ```MPI_TYPE_SIZE```returns the number of _bytes_ occupied by the data type.

[2019-02-07 10:53] xtus commented on #6364
@ggouaillardet Sorry about that, gist truncate the preview by default; the full version is hidden by the RAW button, i.e. [config.log 6MiB uncompressed](https://gist.githubusercontent.com/xtus/0ab57def7bbac7cd3c61f333dff8bfd7/raw/441b26ddcabfd13abc461cd1d184555c3f245ee7/ompi_issue_6364_config.log)

Using `--enable-mpirun-prefix-by-default` does not fix the configure issue.

I have to say that with

[2019-02-07 10:58] cniethammer opened #6367 "Automatically generated Fortran include paths too long"
## Background information
I am trying to build Open MPI 4.0.0 with gcc 8.2.0 under CentOS 7 with the following configure options:
--prefix=/opt/mpi/openmpi/4.0.0-gnu-8.2.0 --enable-shared --enable-static --enable-mpi-thread-multiple
The build directory is a longer path: /<...>/work/mpi/openmpi/4.0.0-gnu-8.2.0/build/

## Details of the problem
The Fortran module creation fails due to a too long inc

[2019-02-07 12:45] kawashima-fj commented on #6367
Thanks for the report.

This issue is a duplicate of #6105 and #6106 and is fixed in #6109. The fix will be included in v4.0.1. Until v4.0.1 is released, you can try [a v4.0.x nightly snapshot tarball](https://www.open-mpi.org/nightly/v4.0.x/) or manually edit following two files in the build directory after running `configure`. Please replace all `include` to `#include` in the files.

[code]

[2019-02-07 13:30] jsquyres commented on #6367
Thanks @kawashima-fj.  I'm going to close this issue since you correctly marked it as a duplicate.

[2019-02-07 13:30] #6367 closed

[2019-02-07 13:58] jsquyres commented on #6366
That appears to be exactly what the Java code is doing (returning the number of elements):

https://github.com/open-mpi/ompi/blob/ead2efb13683abd87fdbf1fd1775c4a71d55ca80/ompi/mpi/java/java/Datatype.java#L217-L228

Which Javadoc are you referring to?

The comment right above the function says:

[code]

...which seems to contradict itself:

1. It says it returns the "total size of a datatype - the

[2019-02-07 14:29] #6265 closed

[2019-02-07 15:21] #2519 closed

[2019-02-07 15:54] kawashima-fj commented on #6366
Hmm.... Open MPI Java binding is based on [mpiJava](http://www.hpjava.org/mpiJava.html). mpiJava 1.2.5 already has the comment/code.

[code]

According to http://www.hpjava.org/reports/mpiJava-spec/mpiJava-spec/node32.html , it counts elements (in the MPI sense) by design. I don't know the intent.

[2019-02-07 16:14] jsquyres commented on #6366
Are we missing `Datatype.Size()`, then?  (i.e., that returns bytes, not number of elements)

[2019-02-07 23:22] kawashima-fj commented on #6366
Oh, I forgot to mention. `Datatype.Size()` in mpiJava is renamed to `Datatype.getSize()` in Open MPI Java bindings in e4e3e411fc52b7427f7b892fa40c2605224311d9. mpiJava and Open MPI Java bindings never has a method to return the number of bytes.

[2019-02-07 23:31] jsquyres commented on #6366
So what do you think we should do here?  It would seem like a bad idea to change the behavior of an existing binding.  It feels like we should

1. Fix the docs to reflect that it returns number of elements / is not the binding to MPI_TYPE_GET_SIZE.
2. Add a new method that *is* the binding to MPI_TYPE_GET_SIZE

How does that sound?

[2019-02-08 00:42] kawashima-fj commented on #6366
I'll look other methods to confirm it is the solution consistent with the entire API set.

[2019-02-08 07:45] ggouaillardet commented on #6366
FWIW, Siegmar Gross reported a related issue at https://www.mail-archive.com/users@lists.open-mpi.org/msg32525.html

Bottom line, I do not know the rationale for this, and I am not comfortable with it.
For example, if we `MPI_Type_create_resize()`, the size will be in bytes and no more in elements. `createResized()` expects bytes and not elements, and as pointed by @kawashima-fj, there is no way t

[2019-02-08 07:57] malinkallen commented on #6366
I downloaded openmpi-3.1.3.tar.gz from https://www.open-mpi.org/software/ompi/v3.1 Januari 23. After compiling the code, I found some documentation that I accessed via path-to-openmpi-installation/share/doc/openmpi/javadoc-openmpi/index.html. That's the documentation I'm referring to.

A binding to MPI_TYPE_GET_SIZE would be great, but I don't whether it's best to change the existing method or cre

[2019-02-08 12:03] jsquyres commented on #6366
I assume the number of Java OMPI User’s is small, but I’m still quite hesitant about breaking existing apps - even if we think the behavior of the existing getData is wrong.

[2019-02-08 13:28] angainor opened #6372 "Wrong parsing of command line arguments with mpirun"
In 3.1.1 and 3.1.3 I get the following warning starting MPI applications that take the `--am` argument:

[code]

Of course `ls` doesn't take this argument, but that is only to illustrate the problem. It seems that `mpirun` is trying to analyze the application's arguments, and beyond the application name. Note that the above message is only displayed when the `-H` switch is present, and when there

[2019-02-08 15:38] jsquyres commented on #6372
Hah, that's a fun bug!

Yes, it looks like something in the command line parsing is reading `--am` before it discards everything to the right (from OMPI's processing, anyway) of the command to be executed.  I simplified your example down to:

[code]

A similar error happens on master HEAD, so this is likely behavior that has escaped attention for quite a while.

[2019-02-08 19:09] #6288 closed

[2019-02-09 09:55] kawashima-fj commented on #6366
I looked at the `Datatype` class. The history is the following.

1. In mpiJava, users don't need to count bytes, but need to count base types (`char`, `int`, `float`, ... in Java). For example, the `array_of_displacements` parameter of the `Hindexed` method is measured in base types, not bytes. Therefore `Size` and `Extent` methods count base types, not bytes. These are explicitly explained in [it

[2019-02-09 11:04] ggouaillardet commented on #6366
@kawashima-fj thanks for digging into this !
Now I understant the rationale of the initial design :-)

My interpretation is we do not follow the initial design any more.
The introduction of the `createStruct()` method evidences my claim since we now allow a Java derived datatype to mix several datatypes.

[code]

I can see two ways of moving forward (both have the potential to break current codes)

[2019-02-09 11:06] ggouaillardet commented on #6366
@siegmargross your feedback is more than welcome !

[2019-02-09 14:42] jsquyres commented on #6366
@kawashima-fj The e4e3e411fc52b7427f7b892fa40c2605224311d9 commit reflects the Java redesign from Oscar Vega-Gisbert and Jose Roman -- I was just the committer (this was back in SVN days, and was before we gave Oscar direct SVN commit privileges).  Meaning: this was the entire 2nd generation of the Java bindings, and, reflected significant redesign work by Oscar and Jose.

If we have a handful of

[2019-02-09 14:57] kawashima-fj commented on #6366
@jsquyres Thanks for your explanation. I totally agree.

More information:

I found [a paper on Java bindings in Open MPI](http://personales.upv.es/jroman/preprints/ompi-java.pdf). It seems to say `getSize()` and `getExtent()` count bytes. If so, it's a bug of the implementation.

From "3.7. Derived datatypes":

As @siegmargross [said](https://www.mail-archive.com/users@lists.open-mpi.org/msg32527

[2019-02-09 22:37] barche opened #6374 "OpenMPI v4 error: MPI_ERR_RMA_RANGE"
The following code works in OpenMPI versions before v4:

[code]

However, on OpenMPI v4 I get the following error, both on linux and Mac (homebrew install):

[code]

Note: the code is supposed to run on 2 processes.

[2019-02-10 15:39] ggouaillardet commented on #6366
I read the documents by Oscar and noted
 - unlike `MPJ`, the Open MPI Java bindings support Java `struct` (with some restrictions/tweaks) as described in chapter 3.7
- chapter 3.7 states that `getExtent()` should return the extent in bytes
- the snippet in Figure 10 works if `getExtent()` return the extent in bytes (and not in elements)
- the snippet in Figure 17 suggest the `Win` constructor expe

[2019-02-10 21:51] barche commented on #6374
OK, I apologise for the noise, the line for creating the buffer should of course be:

[code]

I'll file this under the "I'm amazed it ever worked before" category.

[2019-02-10 21:51] #6374 closed

[2019-02-11 05:07] MostafaMAshry commented on #6352
I still have the same problem, I do try more than three times but unfortunately,
First,  I reinstall OpenMPI using the:
[code]

[2019-02-11 05:13] XiaotaoChen commented on #6299
@thananon thanks for your suggestion. `bind-to socket` means each process use the whole cores on one socket. in my case, it will use 20 cores instead of 18 cores. And this option `bind-to socket` can work normally.

[2019-02-11 07:28] MostafaMAshry commented on #6352
I reinstall LINUXMINT 19.1,
and install OpenMPi 4.0.0
and this is tthe config.log
[config.log](https://github.com/open-mpi/ompi/files/2850133/config.log)

now, I don't find either mpif90 nor mpirun installed in my system??

[2019-02-11 08:13] malinkallen commented on #6366
I'm not sure I fully understand this discussion, so I hope you don't mind a possibly stupid question. Let's assume that I define a data type in terms of MPI.DOUBLE:s
[code]
and then define a new type in terms of type1:
[code]
Right now, stride2 is the number of bytes between the start of each block, but what happens if you change it to the number of elements? Will stride2 then be the number of MPI

[2019-02-11 08:54] ggouaillardet commented on #6366
@malinkallen currently, `stride` is in bytes.

If we decide to use elements instead, then `MPI.DOUBLE`, `type1` and `type2` will have the __same__ element which is `MPI.DOUBLE`.
So if we decide to use elements, `stride2` will be in `MPI.DOUBLE`.

[2019-02-11 11:38] angainor opened #6376 "UCX mpool warning at program end"
We see plenty of similar warning messages at the end of the execution of one user's code:

[code]
The code is compiled with the Intel compiler + OpenMPI 3.1.1 + HPCx 2.2. I'm guessing this warning means that some communication requests were not completed at the end of the program. Is there a scenario, in which something like this could happen due to an erroneous user program? E.g., would that be t

[2019-02-11 11:44] yosefe commented on #6376
if user application does not MPI_Wait for a nonblocking request, it may happen

[2019-02-11 11:47] angainor commented on #6376
@yosefe Thanks! that was also my suspicion. I'll tell them to verify the comm implementation.

[2019-02-11 11:47] #6376 closed

[2019-02-11 12:35] mkre opened #6377 "TCP BTL fails in the presence of virbr0/docker0 interfaces"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v3.1.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

built from source

### Please describe the system on which you are running

* Operating system/version: CentO

[2019-02-11 18:06] bwbarrett commented on #6377
@mkre would you mind running that example with `-mca btl_base_verbose 100` and posting the resulting million lines of output as an attachment?

In general, I agree that we should be more customer friendly around virtual and docker interfaces.  A straight blacklist is a bit of a problem, because some customers want to use Docker interfaces for MPI (why I don't know, given the performance impact, bu

[2019-02-11 19:03] jsquyres commented on #6366
Another option would be just go to "all in" on both approaches:

* Add APIs for getting the number of elements
* Add APIs for getting the number of bytes

Have both APIs have common prefixes -- e.g., `getSizeBytes()` and `getSizeElements()`, or somesuch.

I.e., they'd *both* be "all new" sets of APIs, but:

1. They'd compliment each other
1. They'd be absolutely clear about what they do
1. They wo

[2019-02-12 05:13] rhc54 commented on #6299
This was previously reported by another user and resolved in the upcoming v4.0.1 release - see #6203 for the PR that went into master and #6204 for the one into the v4.0.x branch

[2019-02-12 05:13] #6299 closed

[2019-02-12 06:43] MostafaMAshry commented on #6352
This is the error now !!!!!
[code]
and my Make file
[code]

[2019-02-12 08:13] mkre commented on #6377
@bwbarrett, here's the output with increased verbosity:
[code]

That's great news! By the way, is there any risk in globally disabling the `lo` interface? I'm wondering because my example works if I disable `docker0, lo`, but not if I only disable only `docker0`. Shouldn't Open MPI always ignore `lo` and rely on `self`/`vader` instead? It's a bit confusing, because I don't need to exclude `lo` exp

[2019-02-12 12:47] MostafaMAshry commented on #6352
I add the following two lines to the end of .bashrc:
[code]
then I got this error::
[code]

[2019-02-12 14:27] jsquyres commented on #6352
You're closer.  A few points in no particular order...

The system was complaining about no `mpif90` because it found no `mpif90` in your `PATH`, but it knew that `mpif90` was provided by the two packages that it suggested.  I.e., if you installed `openmpi-dev`, then you would have `mpif90`.  Specifically: your system is apparently dividing Open MPI up into multiple packages: a) stuff that you nee

[2019-02-12 17:58] MostafaMAshry commented on #6352
Dear Jeff Squyres,
Thank you very much, finally the problem have been solved,
[code]
Thanks

[2019-02-12 18:17] #6352 closed

[2019-02-12 19:41] bwbarrett commented on #6377
`lo` (actually, the `127.0.0.0/8` IPv4 range) is in the default exclude list, which is why it works if you don't explicitly disable any device.  When you set the exclude list to `docker0`, that overrides the default list, so localhost isn't excluding.  I'd set the default in your case to `docker0,127.0.0.0/8,sppp`.

It looks like our selection logic has an issue; it recognizes that `virb0` on node

[2019-02-13 06:31] ggouaillardet commented on #6291
The fix has landed into both `master` and `v4.0.x` branch, so I am now closing this issue.

[2019-02-13 06:31] #6291 closed

[2019-02-13 06:43] ggouaillardet commented on #6366
@jsquyres my understanding is we should always count in bytes (and we should have implemented that a long time ago when Java-like `struct` were introduced by Oscar and Jose) .

I understand your concern about not breaking current apps - or at least the ones that do not hardcode predefined datatype sizes because the current implementation does not provide any (straightforward) way to retrieve this

[2019-02-13 07:59] MostafaMAshry opened #6379 "mpirun has exited due to process rank 0 with PID 0 on node"
I try to use Open MPI-4.0.0 to run my FORTRAN code,
[code]
* Operating system/version: Ubuntu 18.10

## Details of the problem

The error message is  as follows:
[code]

[2019-02-13 10:20] ax3l commented on #6291
Thanks a lot!

[2019-02-13 10:40] mkre commented on #6377
Your explanation with the exclude list makes sense, thanks! I guess we'll go with the manual blacklist approach, then.

One last question: Is there a github issue associated with the backlog item you're talking about? I couldn't find an obvious hit while searching it. I'm asking because I'd like to stay in the loop regarding this issue.

[2019-02-13 14:45] jsquyres commented on #6366
I'm confused by your proposal.

- the word "count" in the MPI spec is usually measured in number of elements (e.g., as an argument to many datatype functions).
- the word "size" in the MPI spec is usually measured in number of bytes.

Why are you talking about `count`?  The issue at hand has to do with `size`, i.e., `getSize()`.

Are you proposing something like:

1. In Open MPI v5:
   1. Change `

[2019-02-13 14:46] jsquyres commented on #6379
Did you read the error message?  It hypothesizes 3 threads why you would have seen that message.

[2019-02-13 15:04] ggouaillardet commented on #6366
What I proposed is to keep the existing APIs but have their behavior determined by a global flag. For example, `getSize()` returns size in bytes or elements depending on the global flag. Here is a possible roadmap

1. In Open MPI 4, `getSize()` returns elements by default (e.g. no change) unless the user explicitly called `countInBytes()`
2. In Open MPI 5, `getSize()` returns bytes by default (e.g

[2019-02-13 15:59] jsquyres commented on #6366
A global flag is not thread safe.  Also, I think overloading the word "count" is dangerous.

What if we change `getSize()` (and friends) to take a boolean (e.g., `returnValueInBytes`), and it has a default value.

* Having a default value allows `getSize()` (with no arguments) to continue to work
* Or users can explicitly pass an argument to get either bytes or elements
* We can decide what defaul

[2019-02-13 16:05] jsquyres commented on #3812
If this is happening to you in v4.0.x, please open a new issue with all the relevant details (logs, etc.).  Thanks!

[2019-02-13 16:27] bwbarrett commented on #6377
It really all boils down to the issues in https://github.com/open-mpi/ompi/issues/5818.  That issue is one of the ones I'd really like to fix, but have to figure out how to prioritize it with other things at work.

[2019-02-13 16:27] #6377 closed

[2019-02-14 01:26] ggouaillardet commented on #6366
Fair enough, so let me elaborate/complement a bit more on my initial idea.

A first step could be to simply add a `getBaseSize()` method to the `Datatype` class (so end users can pass arguments in bytes to subroutines that require it such as `createResized()`.

I see that as a band-aid since the current implementation/design is flawed (we should have moved to using bytes everywhere when `struct` l

[2019-02-14 04:55] MostafaMAshry commented on #6379
[code]

[2019-02-14 09:35] rhc54 commented on #6379
@MostafaMAshry The error messages (all of them, not just the ones coming out of OMPI itself) are telling you the problem.

ssh: Could not resolve hostname node1: Temporary failure in name resolution
ssh: Could not resolve hostname node2: Temporary failure in name resolution
ssh: Could not resolve hostname node3: Temporary failure in name resolution

Your hostfile contains nodes that your system is

[2019-02-14 10:26] g-raffy opened #6383 "build fails with both --enable-mpi-java --with-devel-headers"
Hi there,

The latest version of openmpi 2.x (2.1.6) fails to build when options `--enable-java-mpi` and `--with-devel-headers` are both active.

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

openmpi v2.1.6 (latest 2.x)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clo

[2019-02-14 10:44] g-raffy commented on #6383
here are some additional tests that I made:
- openmpi builds fine with just  `--enable-java-mpi`
- openmpi 2.1.3 doesn't have this issue but openmpi 2.1.5 has it. This leads me to suspect the regression to have been introduced in commit [https://github.com/open-mpi/ompi/commit/a246c90523b249ccdc6d93e3d418395e0bdf4af6](https://github.com/open-mpi/ompi/commit/a246c90523b249ccdc6d93e3d418395e0bdf4af6

[2019-02-14 11:13] ggouaillardet commented on #6383
thanks for the report.
could you please run the following commands and upload the output ?

[code]

[2019-02-14 11:49] g-raffy commented on #6383
@ggouaillardet : sure, here it is : [make-output.log.gz](https://github.com/open-mpi/ompi/files/2864815/make-output.log.gz)

[2019-02-14 12:28] kawashima-fj commented on #6383
I've confirmed this error in my machine.

@g-raffy For the released tarball, applying the following patch (removing four lines in `/ompi/mpi/java/java/Makefile.in`) and rerunning `configure` and `make` will resolve the issue.

[code]

As @g-raffy said, this is a regiression in a246c90. We had to cherry-pick 132ea1a6b06fa233c09a672f6572bcef98a54be1 in addition to 5370586d98b880d3e14659252620bebca92

[2019-02-14 12:45] kawashima-fj commented on #6383
OMPI developers:
v2.1.x, v3.0.x, and v3.1.x branches have this issue. v4.0.x branch is safe. Is v2.1.x branch still maintained? Error condition:

- `--enable-mpi-java` is enabled (default: disabled)
- `--with-devel-headers` is enabled (default: disabled)
- OpenJDK 8 or later is used (probably).

[2019-02-14 15:30] jsquyres commented on #6383
Sure, having a fix for all those branches (including v2.x) would be fine.  It's highly unlikely that we'll do another v2.1.x release, though, but having the fix PR'ed means that the fix will be in the nightly v2.1.x tarball if it's needed.

[2019-02-15 00:46] kawashima-fj commented on #6383
Ok. I'll create PRs to release branches after some more investigation.

[2019-02-15 01:25] kawashima-fj commented on #2653
#6205 resolved the issue. `MPI_REAL2` and `MPI_COMPLEX4` macros will be defined in `mpi.h` if `REAL*2` and `COMPLEX*4` respectively are usable with your Fortran compiler. If some problems still exist, feel free to reopen the issue.

[2019-02-15 01:25] #2653 closed

[2019-02-15 05:51] kawashima-fj commented on #6383
I pushed PRs to affected release branches.

In the commit a246c90523b249ccdc6d93e3d418395e0bdf4af6, we changed to use `javac -h` (available since OpenJDK 8) instead of `javah` (removed since OpenJDK 10) when `javac -h` is available. `javah` generates an almost-empty file for a no-`native` Java source file but `javac -h` does not generate a file. This difference it the cause. The almost-empty file

[2019-02-15 07:38] ggouaillardet commented on #6349
@benmenadue I found some fishy things in Open MPI configury, `lib/openmpi/mca_fs_lustre.so` is obviously independant of any app such as Gromacs, so it should never be linked with two `hwloc` libraries.

[2019-02-15 15:25] g-raffy commented on #6383
thank you guys, that was very helpful, great work ! For your information, I used the following patch in the end because Makefile.in got overwritten in our process (while creating a debian package) :
[code]

Thanks again !

[2019-02-15 15:48] iassiour opened #6390 "MPI_Bcast hangs with version 4.0.0 when opal_progress_set_event_flag is set."
The following program would hang with ompi 4.0.0.
Works with older ompi versions 1.6.4.

The code calls opal_progress_set_event_flag(1) in order to make processes that wait on an mpi call yield the CPU and not consume 100% CPU time. Is the any alternative to that on newer versions?

int main(int argc, char **argv) {

  int myrank, world_size;
  MPI_Init(&argc, &argv);
  MPI_Status * status;

  opa

[2019-02-15 20:26] leofang commented on #6322
It's odd. I just tested v3.1.3 and this also happens...

[2019-02-16 03:34] leofang commented on #6322
Hello all, I've updated the post to include a short MWE to reproduce the issue, which I now believe is a bug. Please take a look. Thanks.

[2019-02-16 03:40] MostafaMAshry commented on #6379
yes, I just create myhost file, I work in my own PC, and I don't know where I can add the nodes name in my system as when I open files hosts and hostname in /etc  I couldn't edit them (read only).

[2019-02-16 03:45] leofang commented on #6322
Update: an MWE written in C also reproduces the error.

[2019-02-16 07:37] MostafaMAshry commented on #6379
yes,
here my hosts file after edit the nodes
[code]
and this is my host file:
[code]
and the error still appear
[code]

[2019-02-16 11:12] jsquyres commented on #6379
You should not be using 127.x.y.z for remote node IP addresses.  The entire 127.x.y.z range is reserved for localhost-only communications.  You should probably use 192.168.x.y (pick x and y values that are not used anywhere else on your network).

Just to be clear: Open MPI is telling you exactly what is going wrong.  You have posted two different errors on this issue, suggesting that you have cha

[2019-02-18 00:33] ggouaillardet commented on #6390
I am not sure this subroutine is meant to be called by end user apps anymore.

For example, `opal/runtime/opal_progress.h` refers `OPAL_EVLOOP_ONELOOP` as the default value, but this is not defined anywhere.

Based on your description, you might want to use `mpirun --mca mpi_yield_when_idle true ...`

[2019-02-18 00:56] hjelmn commented on #6343
@thananon I see no reason to apply your patch. I won't have the time to make the change for the next several weeks.

[2019-02-18 03:39] engTaher opened #6393 "Can I use a FORTRAN program using open Mpi in my single computer"
Thank you for taking the time to submit an issue!

## Details of the problem
Hello everyone
I got a FORTRAN program from my supervisor, but it was work in workstation core i 16,
can I run this code in my single PC, Ubuntu OS,
This program use Openmpi

and what is the steps
I set up open mpi-4.0.0
set the path and then I don't know is it needed to create SSH with other PC or I can read only my proc

[2019-02-18 03:52] MostafaMAshry commented on #6379
Thanks Prof. @jsquyres
I fix the IP addresses of my four points and the first error disappear, But still I have problem in setup password-less, I try a lot of techniques and watch lots of videos in the internet, but the problem still appear,
Kindly, can you explain the steps of doing that, or recommended book that I can use to git rid of all this points.
Thanks in advance

[2019-02-18 04:23] ggouaillardet opened #6394 "osc/rdma: MPI_Get from self fails with dynamic windows"
This was initially reported by Bart Janssens at https://www.mail-archive.com/users@lists.open-mpi.org//msg33035.html

The minimal program below crashes when ran with more than one MPI task when `osc/rdma` is used

[code]

[2019-02-18 04:25] ggouaillardet commented on #6394
Here is a possible fix.
 The right fix might be to correctly set the peer flags so `ompi_osc_rdma_peer_local_base(peer)` always returns `true` when `peer` is the current MPI task.

[code]

[2019-02-18 05:12] ggouaillardet commented on #6394
Here is an other possible fix

[code]

[2019-02-18 09:58] AboorvaDevarajan opened #6396 "pml/ucx: data integrity issue"
## Background information

### What version of Open MPI are you using?
ompi master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone

### Configuration options

**UCX - branch (v1.5.x)**

`./contrib/configure-release --prefix=/nfs_smpi_ci/abd/src/ucx-install`

**OMPI - branch (master)

[2019-02-18 11:23] iassiour commented on #6390
Greetings ggouaillardet,

I have tried to use "yield when idle" but that does not seem to have exactly the effect that I would expect.

On a four core machine I launch 4 processes that wait for Bcast and another 4 processes that do some spinning (i.e. consume  some cpu time in order to simulate computation ).

I would have expected that the proceses that are blocked in the Bcast to leave the cpu a

[2019-02-18 12:31] ggouaillardet commented on #6390
`top` output can be misleading.

the MPI program basically `sched_yield()` in a loop.
`top` usually displays 100% CPU usage in that case, but if you display some more metrics, it is indeed 0% CPU and 100% SYS (and yes, 0% idle). Bottom line, the impact on other processes is very minimal (from a power consumption point of view, the CPU is not idle though).

I invite you to measure the wall time of

[2019-02-18 13:55] hjelmn commented on #6394
@ggouaillardet The second fix is the correct one. Another case that wasn't well tested. Need an MTT test for get from self in the dynamic case.

[2019-02-18 14:08] ggouaillardet commented on #6394
thanks, I will PR for `master` and then `v4.0.x` and add the test into the `ibm` test suite.

[2019-02-18 14:45] jsquyres commented on #6393
Yes, Open MPI can be used with multiple processors on a single machine (e.g., a laptop).  Open MPI does not use ssh in this case (because ssh is an application used to launch processes on remote computers); it just launches as many processes as you tell it on the local machine.

[2019-02-18 15:53] jsquyres commented on #6379
I don't know if I'll be able to explain password-less ssh better than the internet tutorials out there.  😦

My suggestion:
* Backup your `$HOME/.ssh` directory
* Delete your `$HOME/.ssh/` directory
* Now that you have a fresh/clean/empty ssh setup, start the password-less ssh setup again.
* If you don't have a common NFS `$HOME` directory between your machines, you will need to be exceedingly care

[2019-02-18 16:18] engTaher commented on #6393
That is great, But how the MPI deal with the processor nodes in my labtop, I mean how to move from node to another. Is it need SSH in this PC, or it needs just hostfile.
what is the modification should be done for the hosts file, which IP address should one use.
Thanks

[2019-02-19 05:09] MostafaMAshry commented on #6379
Thanks @jsquyres
Done, But with a new error O.o
[code]
I don't know what is the reason of this,
## The above error comes when I write a script and use sbatch.
when I use mpirun I got this message:
![outmpirun](https://user-images.githubusercontent.com/47279494/52991395-8201f700-3447-11e9-8ec1-0b89b136bb5d.png)

[2019-02-19 14:40] gpaulsen commented on #6278
I've posted what I think are "final" solutions to  master PR #6359 and v4.0.1 PR #6358.

[2019-02-19 15:24] jsquyres commented on #6278
@gpaulsen That's backwards.  It's actually:

* #6358: Master PR
* #6359: v4.0.x PR

[2019-02-19 16:07] jjhursey opened #6398 "orterun manpage incorrect on default for orte_abort_non_zero_exit"
Open MPI 3.x, 4.x, and master impacted.

The manpage for orterun [here](https://github.com/open-mpi/ompi/blob/master/orte/tools/orterun/orterun.1in#L1679-L1693) states that the default behavior for `orterun`/`mpirun` is to keep the job running after non-zero exit. However, the default [here](https://github.com/open-mpi/ompi/blob/master/orte/runtime/orte_mca_params.c#L638) has `orte_abort_non_zero_

[2019-02-19 20:26] uberlinuxguy commented on #6303
All pull requests were merged for this issue.  I can now be closed.

[2019-02-19 20:26] #6303 closed

[2019-02-19 20:42] jsquyres commented on #6014
This is done and merged to release branches.

[2019-02-19 20:42] #6014 closed

[2019-02-20 04:50] MostafaMAshry commented on #6379
Thanks @jsquyres  Job is done
[code]

[2019-02-20 04:50] #6379 closed

[2019-02-20 18:22] hppritcha commented on #6394
the fix has been merged into master and v4.0.x so closing.

[2019-02-20 18:22] #6394 closed

[2019-02-20 19:29] hppritcha opened #6411 "PGI Fortran compiler not happy with master and v4.0.x"
Looks like commit 2c71c2788 broke the Fortran interfaces when using the PGI compiler (at least 17 and 18).  The comments in the commit seem to indicate that there was a notion that Fortran compilers only needed to use module files in cases where there were no routines defined in the module.  At least for PGI this isn't the case.

With PGI 17 and 18, if one uses master or v4.0.x and tries to make t

[2019-02-20 19:31] jsquyres commented on #6411
@hppritcha Does this also happen in OMPI 3.1.x and/or 3.0.x?

[2019-02-21 01:41] hppritcha commented on #6411
no it does not.  commit 2c71c27 only went in to master prior to fork of 4.0.x

[2019-02-21 11:38] jsquyres commented on #4596
Note that #4597 got closed; it was replaced by #6416.

[2019-02-22 00:40] iassiour commented on #6390
Greetings ggouaillardet,

Setting mpirun --mca mpi_yield_when_idle true I see around 15% CPU 85% SYS

![image](https://user-images.githubusercontent.com/38722728/53210751-d28b7700-3636-11e9-94e2-163bbb48f944.png)

Without it its 100% CPU

![image](https://user-images.githubusercontent.com/38722728/53210766-e46d1a00-3636-11e9-954b-37821a1a8a84.png)

Measuring the wall time though  I still see signi

[2019-02-22 01:54] ggouaillardet commented on #6390
I digged this a bit and found `opal_progress_set_event_flag(1);` (so to speak) ignores "events" caused by `btl/vader` (e.g. shared memory communications).

As a workaround, you can
[code]

[2019-02-22 11:20] iassiour commented on #6390
Hi ggouaillardet,

Thank you for the investigation.

I have tried your suggestion (mpirun --mca btl ^vader) and it it seems to work.

I think that in the previous version the same could be achieved by setting this:

setenv("OMPI_MCA_btl_base_exclude", "sm", 0);

Is that not working anymore?

[2019-02-22 11:24] ggouaillardet commented on #6390
@iassiour `btl/sm` has been replaced with `btl/vader`, so you can try

[code]

I never use this syntax and I cannot guarantee it still works.
If it does not, you can
[code]
and then `mpirun ...`

[2019-02-22 11:52] iassiour commented on #6390
Greetings ggouaillardet,

Thanks it looks like the first syntax does not work but this one does:

export OMPI_MCA_btl=^vader

A related question, in my etc/openmpi-mca-params.conf I have set this:

mpi_yield_when_idle = 1

However this does not seem to have the same effect as --mca mpi_yield_when_idle true

Would it be possible to verify that the configuration file setting is picked as expected?

[2019-02-22 14:48] AnkBurov commented on #6240
Any progress? Version 2.1.1:
`mpirun --host server_name hostname~
`tcp_peer_recv_connect_ack: received unexpected process identifier [[0,37974],0] from [[22164,0],0]`

[2019-02-22 14:54] AnkBurov commented on #2328
@pkienzle same here. Ubuntu 18.04, Openmpi 2.1.1, the same problem.

[2019-02-22 19:28] ax3l commented on #6285
I did some testing on the latest `master` branch of OpenMPI (d6cdbdfd399e63ec11d5d7d58db652073f53c211 which does not yet include #6172) together with HDF5 `develop` ([`7e792d7`](https://bitbucket.hdfgroup.org/projects/HDFFV/repos/hdf5/commits/7e792d7795ffa286bd29bfcdc3025f2cb74faf59)).

Both reported issues, crash and the data corruption issue, are gone now. Thanks to everyone involved fixing this

[2019-02-22 20:14] hppritcha commented on #6141
turns out MPI 3.2 standard (where persistent collectives will first appear) hasn't come out yet, so not relevant to 4.0.1 release.

[2019-02-22 20:15] abouteiller opened #6422 "This highlight a critical bug in a part of the code that somehow was never correctly tested. Therefore, we need to have a test that create unbalanced communicators to test next_cid"
This highlight a critical bug in a part of the code that somehow was never correctly tested. Therefore, we need to have a test that create unbalanced communicators to test such cases.

_Originally posted by @bosilca in https://github.com/open-mpi/ompi/pull/6417#issuecomment-466115241_

[2019-02-22 20:24] hppritcha opened #6425 "update README for v4.0.1"
- [x] need to add blurb about new OpenSHMEM API functions
- [x] add blurb about adding deprecated function symbols put back in (not in header/module files though)
- [x] update dates

[2019-02-22 20:56] edgargabriel commented on #6285
I created pr's for the 4.0 and 3.1 branches, so the next releases of those series should have the fixes.  3.0 is borderline whether we should do that. The 2.1 and 2.0 series will not receive these updates however anymore.

[2019-02-22 21:37] matcabral commented on #6075
Hi @hppritcha, I would like to close this issue based on the fact that the above described problem 1) is a bug in libfabric and that 2) was fixed in #6153 . feedback ?

[2019-02-22 22:28] matcabral commented on #4899
@edgargabriel, I found this is still open. I understand libpsm2 updated substantial number of things in 11.x versions. Do you still see this issue?

[2019-02-23 08:52] ax3l commented on #6285
Ok, thanks. Just for completeness, we need to backport four (4) PRs so far, as listed in the PR description.

- crash with some special-size struct types -> #6286 #6287
- [x] data corruption -> #6295 #6326 (#6172)

[2019-02-23 12:02] jsquyres commented on #6285
As a v2.x RM, I would not object to porting these fixes back to the v2.1.x branch.  We will not make a new release, but the fixes can be there (if you care) and in the nightly snapshot tarballs.

If you want these in the next v3.0.x release, they need to be PR'ed ***ASAP***.

[2019-02-23 12:37] ax3l commented on #6285
Thanks, sounds good!

- [x] I applied @edgargabriel's backport of the crash to v3.1.x to v3.0.x in #6428

- [ ] data corruption...

[2019-02-25 04:46] benmenadue opened #6430 "4.0.0 configure fails when --enable-visibility is used and a pre-v2 hwloc is found"
Hi,

4.0.0 fails to configure when `--enable-visibility` is passed as a configure option if a pre-v2 hwloc library is found:
[code]
This is because of a two different values for macro `HAVE_DECL_HWLOC_OBJ_OSDEV_COPROC` ending up in `confdefs.h`:
[code]
Previous tests generate a warning for the duplication, but the visibility test includes `-Werror` which makes it error instead.

The first copy of

[2019-02-25 05:14] benmenadue commented on #6430
The external tests are here:
https://github.com/open-mpi/ompi/blob/9b3a9c25799b177517462fb9ee296b5e627599f8/opal/mca/hwloc/external/configure.m4#L136-L137

I'm writing a patch to only do the feature tests after confirming the external version is good enough.

[2019-02-25 15:47] jrhemstad commented on #3458
@rhc54 I wanted to let you know that they are important to us in Dask. See https://github.com/dask/dask-mpi/issues/25

Our use-case is we need a way to create MPI processes from already existing processes (without launching a new process) and build up a communicator among these processes.

[2019-02-25 17:47] iassiour opened #6433 "mpi_yield_when_idle setting from etc/openmpi-mca-params.conf is ignored in 4.0.0"
Hi ,

I have set   "yield when idle" in etc/openmpi-mca-params.conf

tail openmpi-mca-params.conf

plm_rsh_agent = rsh
rmaps_base_oversubscribe = 1
hwloc_base_binding_policy = none
mpi_yield_when_idle = 1

However the setting seems to be ignored.

I get 100 % us 0% sys for processes waiting on MPI calls.

But if I set the environment variable:

setenv OMPI_MCA_mpi_yield_when_idle 1

or
mpirun --mc

[2019-02-25 18:29] maddyscientist commented on #3458
This issue is also a blocker for our use of OpenMPI with our MPI job manager (mpi_jm) which we use to increase job utilization on large supercomputers for sub-nuclear physics simulations (https://arxiv.org/pdf/1810.01609.pdf).  This has forced us to use MVAPICH, which compared to OpenMPI (or Spectrum MPI) results in reduced performance, but correctness is godliness in comparison.

(We here being C

[2019-02-25 19:29] rhc54 commented on #3458
Okay, you've convinced me - I'll free up some time this week and fix it. Not sure when it will be released, however, so please be patient.

[2019-02-25 21:12] gpaulsen commented on #6198
@rhc54 mentioned on the call today, that he may have a fix for this.

[2019-02-25 22:53] #6425 closed

[2019-02-25 23:08] #6430 closed

[2019-02-25 23:52] kawashima-fj commented on #6383
Merged to all release branches. Close.

[2019-02-25 23:52] #6383 closed

[2019-02-26 00:43] steve-ord commented on #6258
I would like to <bump> this one. I see the same thing using 4.0.0 from homebrew on Mojave (10.14.1). A quite complex MPI application works fine on other platforms and used to work on the Mac. I recently updated to a brand new one and now a send and receive pair deadlocks when the message size passes a particular size. I haven't checked the size precisely but it is comparable to the OP. When I chec

[2019-02-26 14:29] edgargabriel commented on #4899
@matcabral I think we can close it for now. Not sure whether we still see the issue or not, the last CUDA and PSM update that we did was in November. We found however a configuration on some (new) hardware that worked for this user ( single node with 8 GPUs), and because of that we haven't looked into this lately.
Thanks!

[2019-02-26 14:29] #4899 closed

[2019-02-26 17:33] jsquyres opened #6436 "Need DDT fixes ported to v3.0.x and v3.1.x"
@bosilca @ggouaillardet: Could I impose on you to port the commits from #6295 and #6326 to v3.0.x and v3.1.x?

I ask because we apparently need these to fix #6285 for v3.0.x and v3.1.x.

I tried cherry-picking them, but I run into conflicts, and I'm a bit nervous about trying to sort through this code to get the right resolutions.

FYI: @edgargabriel @ax3l

[2019-02-27 00:38] bosilca commented on #6436
They are both pending.

[2019-02-27 01:11] rhc54 commented on #3458
Okay, you guys - the fix is here: https://github.com/open-mpi/ompi/pull/6439

Once it gets thru CI I'll post a PR to backport it to the release branches.

[2019-02-27 14:43] georgemarselis opened #6441 "openmpi 4.0.0: test/usnic_btl_run_tests.c:42:30: error: expected ‘)’ before ‘OMPI_LIBMPI_NAME’"
Thank you for taking the time to submit an issue!

## Background information

Trying to install openmpi by hand for one of my scientific users.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v4.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package

[2019-02-27 16:46] jsquyres commented on #6441
`OMPI_LIBMPI_NAME` is a macro, and it should have quotes around it.  So it should resolve to something like:

[code]

which is valid C.

Can you `make V=1` in the `/lsc/sources/openmpi/4.0.0/openmpi-4.0.0/opal/mca/btl/usnic` directory?  It should be passing in `-DOMPI_LIBMPI_NAME=\"mpi\"` on the command line.

[2019-02-27 16:50] jsquyres commented on #6433
You may not have gotten an email about it, but @ggouaillardet proposed a PR about this -- see #6440.

[2019-02-27 16:55] jsquyres commented on #6441
This is what you should see:

[code]

Note the `-DOMPI_LIBMPI_NAME=\"mpi\"` nestled in the middle there.

[2019-02-27 18:20] jingh4t1qbit commented on #6324
The problem has been solved due to failure of non-interactive login configuration

[2019-02-27 18:20] #6324 closed

[2019-02-28 09:34] iassiour commented on #6433
Greetings jsquyres ,

Thanks, Could you please let me know what future minor version of ompi will have this fix.

[2019-02-28 16:13] mkre opened #6444 "Segmentation fault in ibv_dereg_mr when using OFI MTL"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

Open MPI 3.1.3
Libfabric 1.6.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from source tarball

### Please describe the system on which you are running

*

[2019-02-28 16:21] georgemarselis commented on #6441
Hey man, Thank you for your time and resources. I apologize if I came across as rude.

Anyway, here is what you asked for:

[code]

[2019-02-28 16:34] georgemarselis commented on #6441
Hey! Thank you for your time! I apologize if I came across as rude. You guys are indeed doing awesome work!

Anyway, here is what you asked:

Removing and *then* making the .lo object does produce the .lo object. The compiler exits cleanly. Here is the output from the above 3 commands you have:

[code]
-DOMPI_LIBMPI_NAME=\"mpi\" does indeed show up in the  middle

Typing "make V=1" exactly after t

[2019-02-28 17:00] matcabral commented on #6444
Hi @mkre, few comments:
 1) The warning message is printed by the openib btl because there are two IB ports with the same subnet ID. All btls have this thing that will ALWAYS run their init_ function and you cannot avoid it at runtime (-mca btl ^openib) and the check with the warning message is done during init. The only way to avoid this warning is with the option shown in the  warning message or

[2019-02-28 19:09] jsquyres commented on #6441
No worries, you weren't rude or presumptuous at all.

But hmm -- my experiences are different than yours.  When I `make V=1`, I get the rules from the `Makefile.am`, which inserts the `-D...` in there, and makes it all work out.

More telling is that your 2nd output directly invokes `gcc` -- it doesn't invoke `libtool` (which ultimately invokes `gcc`, but with a bunch of supplemental CLI arguments

[2019-02-28 19:23] gpaulsen commented on #6278
Now that these PRs have been merged, can we close this issue?

[2019-02-28 19:24] jsquyres commented on #6278
🎉

[2019-02-28 19:24] #6278 closed

[2019-02-28 19:26] gpaulsen commented on #6114
Merged to v4.0.x.    Generating v4.0.1rc1 today.  Please give that a try.

[2019-02-28 19:26] #6114 closed

[2019-03-01 10:18] mkre commented on #6444
Thanks, that's good to know.

Using libfabric 1.7.0 doesn't give a segfault but it _seems_ to hang. I'm writing "seems" because  I think in fact it is just very slow. Attaching GDB at some points after a while of hanging yields the following stack traces:
<details> <summary>GDB stack trace 1</summary>

[code]
</details>
<details> <summary>GDB stack trace 2</summary>

[code]
</details>

<details> <

[2019-03-01 13:00] georgemarselis commented on #6441
I am using the devtoolset-7 from the software collections

[code]

[2019-03-01 14:10] jsquyres commented on #6444
@mkre I'm not commenting on any of the technical details of this issue, but I will say you just taught me a new GitHub trick with your use of `<details>`!  👍

[2019-03-01 14:33] jsquyres commented on #6441
You didn't perchance, run `autogen.pl` on your Open MPI tarball, did you?

In the "bad" configuration, can you send the output from the following two things:

1. Check your local system time vs. the file server time (if you're building locally, all the timestamps will match):

[code]

2. You may need to post the results of this in a gist or pastebin or the like:

[code]

Note the new `-d` in there

[2019-03-01 17:05] hppritcha commented on #6275
fixes for this issue have been committed to 4.0.x  hopefully

[2019-03-01 17:22] gpaulsen commented on #6149
Has this been addressed in v4.0.0rc1 ?

[2019-03-02 00:30] a-ilango commented on #6444
@mkre I've seen the hang in Open MPI v3.1.3 and v3.1.2 when using OFI MTL over RxM/verbs providers. I believe there's an issue in OFI MTL where it wasn't progressing (call fi_cq_read) in certain cases. OFI RxM provider is set to manual progress mode by default and the application should drive the progress.

The hang doesn't happen with Open MPI v4.0.0. Also, libfabric master and v1.7.x branches ha

[2019-03-02 18:19] hppritcha commented on #6411
Fixed in master and 4.0.x closing

[2019-03-02 18:19] #6411 closed

[2019-03-02 20:56] bertwesarg commented on #6093
Looks like this missed the 4.0.1c1. Is it too late again?

[2019-03-02 21:02] bertwesarg commented on #6093
Please note, that Open MPI is en route with the upcoming profiling interface specification of OpenSHMEM here: https://github.com/openshmem-org/specification/pull/254/commits/53d9a4c33bfc23f1d40f9eee4173a24f6e9086a2

[2019-03-04 10:21] mkre commented on #6444
@a-ilango, thanks for the suggestion. I can confirm that neither the segfault nor the hang occur with

1. Open MPI 3.1.3 with libfabric 1.7.0 and `-mca mtl_ofi_data_progress 1`
1. Open MPI 4.0.0 with libfabric 1.7.0
1. Open MPI 3.1.3 with libfabric 1.7.x
1. Open MPI 4.0.0 with libfabric 1.7.x

Libfabric <1.7.0 leads to the described segfault, regardless of the Open MPI version and MCA parameters.

[2019-03-04 10:52] hoopoepg commented on #6396
@AboorvaDevarajan hi
sorry for late response

unfortunately we can't reproduce your issue.
but could you make some investigations for us?
could you try to add command line parameters to mpirun:
--mca opal_common_ucx_opal_mem_hooks 1 -x UCX_MEM_MMAP_HOOK_MODE=none

thank you

[2019-03-04 12:02] georgemarselis commented on #6441
Good morning! after inserting a a cup of coffee in my mug, I can answer:

Nope. Negative. Absolutely not. Not that I remember.

building locally, yes, but here is the output of the command you asked for:

[code]

https://gist.github.com/georgemarselis/5df316c2b52ba5f5e9f6637c9bdb446e

[Makefile.txt](https://github.com/open-mpi/ompi/files/2926232/Makefile.txt)

there you go! thank you for looking i

[2019-03-04 12:02] wangqiaoshi opened #6447 "horovod distributed failed run in k8s with kube-router"
Thank you for taking the time to submit an issue!

## Background information
image:mpioperator/tensorflow-benchmarks:latest
k8s v1.8.2

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
3.1.2
root@ab8c7f1afca5:/tensorflow/benchmarks# mpirun --version
mpirun.real (OpenRTE) 3.1.2

Report bugs to http://www.open-mpi.org/community/help/

### Describe h

[2019-03-04 14:30] rhc54 commented on #6447
Would you please tell us what didn't work? Did you get some kind of error messages? did it just hang?

[2019-03-04 14:40] jsquyres commented on #6441
Hmm.  The "make" output you sent was a correct compile -- it didn't show the problem of the compile issue (i.e., `-D` was in the command line, it used libtool, ...etc.).  Could you capture an output with `make -d V=1` that shows the failure?

Given that it `-d` output is incredibly verbose, if you could replicate the issue with just a single file (e.g., the `btl_usnic_test.c`), that would be most

[2019-03-04 15:22] wangqiaoshi commented on #6447
Thank you for your answer!
yes, no error messages,just hang.   Final message is
`The inbound connection has been dropped, and the peer should simply
try again with a different IP interface (i.e., the job should
hopefully be able to continue).

  Local host:          tensorflow-benchmarks-gpu-worker-0
  Local PID:           298
  Peer hostname:       (null) ([[49239,1],1])
  Source IP of socket: 17

[2019-03-04 22:19] a-ilango commented on #6444
Manual progress is the default progress mode (in v1.7.0 and libfabric master) unless the app requests "auto progress" through hints when calling fi_getinfo. Does `-mca mtl_ofi_data_progress 1` not suffice? An env variable can be added to set the default progress mode if that would be helpful.

[2019-03-05 00:07] ggouaillardet commented on #6441
@jsquyres I am afraid you are not looking at the right place.
The issue is not with `btl_usnic_test.c` but `test/usnic_btl_run_tests.c`.

and indeed, in `opal/mca/btl/usnic/Makefile.am`, we first
[code]
but then we
[code]

and I can only assumes this overwrites `AM_CPPFLAGS`.

@georgemarselis  can you please replace the last block with

[code]

since you installed from the tarball, you first need

[2019-03-05 07:32] mkre commented on #6444
Yes, it does suffice to solve the problem with Open MPI 3.1.3 or newer and libfabric **1.7.0**. I was just wondering if there are can be any negative effects (like possible performance regresssions, etc.) from this setting? If the answer is yes, we would only want to set `-mca mtl_ofi_data_progress 1` for those specific versions to work around the observed issue. If the answer is no, we could thin

[2019-03-05 08:24] ggouaillardet opened #6452 "make-authors.pl might fail with a shallow clone"
(ran from my own account's) travis failed with the following error message

[code]

the root cause is travis uses a shallow clone (e.g. `git clone --depth=50 ...` and an unexpected consequence is a merge commit was not marked as merged any more (and that merge commit had an unexpected author). FWIW, `git clone --depth=51 ...` works fine.

A possible fix is to `git fetch --unshallow` (works with gi

[2019-03-05 11:42] georgemarselis commented on #6441
yay! 2/2 bugs! I am batting a 4.0  :laughing:

I think I may have  a couple of more for you now that it is spring break over here and there is quiet.

I am going to close this issue, since you guys have it under control.

[2019-03-05 11:49] hoopoepg commented on #6396
@AboorvaDevarajan there is conflict of memory hooks installed by btl uct and pml ucx.
to eliminate it you may exclude btl uct from build, add btl uct to exclusion list (--mca btl ^vader,tcp,openib,uct) or add command line parameters --mca opal_common_ucx_opal_mem_hooks 1 -x UCX_MEM_MMAP_HOOK_MODE=none

@yosefe this is same issue with Bistro we investigated some time ago

[2019-03-05 11:53] yosefe commented on #6396
@hoopoepg thanks for the analysis. How can we detect such errors? maybe add UCM API for testing malloc hooks, and run it from OMPI late initialization phase, such as add_procs?

[2019-03-05 12:02] hoopoepg commented on #6396
@yosefe the problem is in components who uses UCX as transport (btl UCT or HCOLL) - they may want to have completed initialization on earlier stages.

here is only one robust solution: force using external (OMPI provided) hooks in OMPI environment, but here could be issue too: in case if UCX is used indirectly (HCOLL case) - it could be problematic to get hooks

[2019-03-05 12:07] yosefe commented on #6396
@hoopoepg at first step i would like to at least be able to detect such error (e.g that UCX hooks were overwritten) and fail the application in this case.
then we can propose to either disable some BTLs, or use OMPI's hooks

[2019-03-05 15:32] jsquyres commented on #6441
@ggouaillardet Thanks for catching my cognitive dissonance.

Re-opening this so that we can use it to track merging the fix to the release branches.

[2019-03-05 15:51] georgemarselis commented on #6441
ok sorry, my bad!

[2019-03-05 16:18] georgemarselis opened #6456 "opnempi 4.0.0 Cannot compile with external pmix 3.1, but there is no mention of this in the docs or check during configuration"
# Background information

Trying to install openmpi by hand for one of my scientific users.

# What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v4.0.0

# Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
tarball from open-mpi website

# Please describe

[2019-03-05 16:26] rhc54 commented on #6456
We already fixed this by simply adding those definitions to the ext3x.h header if they aren't previously defined. They are not used by OMPI 4.0 and so there is no reason to have configure "die". The fix should be in OMPI v4.0.1

[2019-03-05 16:31] georgemarselis commented on #6456
the ext3x.h is an internal header, correct?

[2019-03-05 16:33] georgemarselis commented on #6456
Oh, ok! Thank you. sorry to bother you . Should I close this?

[2019-03-05 16:36] rhc54 commented on #6456
No bother - I'll go ahead and close it since it was already resolved.

[2019-03-05 16:36] #6456 closed

[2019-03-05 17:11] jsquyres commented on #6456
@georgemarselis You can download the latest Open MPI v4.0.1rc from:

    https://www.open-mpi.org/software/ompi/v4.0/

And the latest v4.0.x nightly snapshot from:

    https://www.open-mpi.org/nightly/v4.0.x/

[2019-03-05 17:25] jsquyres opened #6458 "PMIXv2x: OPAL_ASSEMBLY_ARCH macro definition missing in v3.0.x and v3.1.x"
In compiling HEAD of v3.0.x and v3.1.x, I get a bunch of warnings like this:

[code]

Do we care / do we need to fix this?  Is there an easy fix / commit we can cherry-pick from master and/or pmix to fix this issue?

[2019-03-05 18:22] jsquyres commented on #6458
@rhc54 made 2 small/low risk PRs to fix this.  Thanks Ralph!

[2019-03-05 19:27] a-ilango commented on #6444
Manual progress is tested more and would likely be more stable. At least for now, it is recommended that auto-progress be used only in those versions that have issues with manual progress.

[2019-03-05 20:18] bartoldeman opened #6464 "DDT shows message queues with pml ob1 but not with ucx and yalla."
Thank you for taking the time to submit an issue!

## Background information
We found that using the yalla and ucx pml, message queue displays in DDT no longer works, and we need to fall back to the ob1 pml. This seems to be an ok workaround for now but with newer OpenMPI's removing the openib btl, does that mean we will need to use TCP/IP for debugging, or perhaps the new still somewhat experimen

[2019-03-06 01:53] ggouaillardet commented on #6464
Thanks for the report.

The message queues are accessed by the debugger via the `mca_pml_base_send_requests` and `mca_pml_base_recv_requests` free lists. These are correctly used by `pml/ob1` and `pml/cm`, but `pml/ucx` and `pml/yalla` simply ignore them, and that is why DDT only show empty message queues.

@jladd-mlnx @yosefe is this an intentional design or something that was simply overlooked ?

[2019-03-06 07:20] tingweiwu opened #6468 "Failed to create a completion queue (CQ)"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
[code]

### Please describe the system on which you are runn

[2019-03-06 08:37] yosefe commented on #6464
@ggouaillardet mca_pml_base_request_t has some overhead (for memory consumption and initialization) which we wanted to avoid with MXM and UCX, we needed only the base `ompi_request_t`.

[2019-03-06 08:54] yosefe commented on #6464
@bartoldeman @ggouaillardet are there some DDT hooks/macros we can add to pml ucx to make it work with DDT, without using the PML base lists and structures?

[2019-03-06 09:04] ggouaillardet commented on #6464
DDT uses the dll in `ompi/debuggers` in order to access the internals of a MPI app including the message queues. So you can extend it in order to access the UCX internals. That would be quite some work IMHO.

[2019-03-06 09:27] mkre commented on #6444
Thanks @a-ilango! So we'll use 1.7.0 with automatic progress and switch to 1.7.1 with manual (default) progress once it becomes available.

[2019-03-06 09:27] #6444 closed

[2019-03-06 12:06] bartoldeman commented on #6464
@yosefe maybe `mca_pml_base_request_t` could be used only if some non-default mca parameter is set, in order to avoid the overhead for the common non-debugged case?

[2019-03-06 12:23] jsquyres commented on #6468
Open MPI v3.0.0 is pretty old at this point -- at a minimum, you might want to upgrade to the latest v3.x release (v3.1.3, but v3.1.4 with a few more bug fixes is coming soon).

But I think your real issue is that you only have 64K of locked memory available.  It is usually easiest to set that value to "unlimited".

[2019-03-07 02:38] tingweiwu commented on #6468
@jsquyres thanks a lot for reply.
but when I installed by root users .this error doesn't display. and the limit locked memory is still 64K
[code]

[2019-03-07 07:30] ggouaillardet commented on #6468
@tingweiwu did you even try `ulimit -l unlimited` as a non root user ?

[2019-03-07 10:29] tingweiwu commented on #6468
@ggouaillardet
I have tried.  it seems the operation is not permitted
[code]

[2019-03-07 12:55] jsquyres opened #6470 "v4.0.x: ompi_info field for MPI-1 compat symbols in mpi.h?"
While reading https://github.com/open-mpi/ompi/pull/6469, I realized that there's no `ompi_info` field indicating whether `mpi.h` includes the MPI-1 compat symbols or not.

We should probably add this.  Should be a trivial thing to add.

It might be specific just to v4.0.x, but *maybe* we might want to add it to master (just hard-coded to "no") for continuity into v5.0.x...?

[2019-03-07 12:57] jsquyres commented on #6468
See https://www.open-mpi.org/faq/?category=openfabrics#ib-locked-pages-user.

[2019-03-07 13:21] hppritcha commented on #6285
@edgargabriel where's the PR for v4.0.x for this issue?

[2019-03-07 13:35] AboorvaDevarajan commented on #6396
@hoopoepg I tried using the options today to avoid conflicts with the hooks as mentioned
```--mca opal_common_ucx_opal_mem_hooks 1 -x UCX_MEM_MMAP_HOOK_MODE=none```
I can confirm that it works, did multiple runs and the test case passed.

[2019-03-07 14:10] gpaulsen commented on #6470
Good idea.  I'll give this a go today.

[2019-03-07 14:13] tingweiwu commented on #6468
@jsquyres @ggouaillardet
sorry for forgetting an very important information. I install openmpi with Dockerfile. so the mpirun is run in a containter.

and I add the command line in the Dockerfile and build again
[code]
and when I run the containter again
[code]

[2019-03-07 15:40] hppritcha commented on #6470
@gpaulsen see #6471

[2019-03-07 15:52] edgargabriel commented on #6285
I thought this was done already, but it looks like it wasn't. This is however a datatype issue, @bosilca can you maybe file a pr for this for the 4.0.x branch as well?

[2019-03-08 01:12] jsquyres commented on #6468
I don't know the security model / startup procedures of containers, but after you set the value in `limits.conf`, you might need to force it to be read (e.g., re-start sshd...?  I'm not sure offhand).

[2019-03-08 13:26] yosefe commented on #6464
@bartoldeman yes, this might be easier. we will check this out.

[2019-03-08 14:42] rhc54 commented on #6464
Just an FYI: a rather common use of DDT is to attach to a running program that encountered an issue.

[2019-03-08 16:24] rhc54 commented on #6468
I'm pretty sure that Docker requires you to execute as "root" for MPI - as @jsquyres may recall, we had a lengthy discussion about it on this issue list. We were told there is no way around it other than switching to Singularity.

[2019-03-08 19:59] abouteiller opened #6472 "Double-lock interlock in pmix-finalize"
## Background information

A bug causing PMIx events to trigger during finalization while cross-holding locks has been resolved in master, but is still present in v4.0.x

master PR: #5975

Severity is not 'blocker' since the use-case to make the error manifest is rather elaborate, but it would still be a stability enhancement to the 4.x series.

### What version of Open MPI are you using? (e.g., v

[2019-03-08 21:12] abouteiller commented on #6472
Issue is also present in 3.1.x, as well as in the pmix-tools interface.

[2019-03-08 21:24] rhc54 commented on #6472
Do you mean it is in PMIx itself?

[2019-03-08 21:33] abouteiller commented on #6472
I mean that the pmix[2,3,4]_tools_fini function in pmix[2,3,4]_client.c has the same code pattern that triggers the bug in pmix_[2,3,4]_finalize

I have not verified that this causes the same problem to arise (but I would expect so) for tools termination.

[2019-03-08 21:48] abouteiller commented on #6472
The bug is not present in the pmix library itself.

[2019-03-08 22:47] abouteiller commented on #6472
The bug is **not** present in upstream prrte

[2019-03-08 23:18] rhc54 commented on #6472
Yeah, I wouldn't expect it to be over there as it appears mostly due to the opal/pmix abstraction layer. Thanks for backporting it.

[2019-03-11 05:20] recolic opened #6475 "MPI_Iprobe segmentation fault in a simple multi-thread send-receive program."
Note that I'm not sure that it's a bug in OpenMPI!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

OpenMPI 4.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

ArchLinux offical repository: extra/openmpi 4.0.0-

[2019-03-11 06:55] ggouaillardet commented on #6475
First, you must fix your program and `MPI_Init_thread(&argc, &argc, MPI_THREAD_MULTIPLE, &provided)` instead of `MPI_Init()`. That being said, I am getting errors even after the fix is applied.

[2019-03-11 07:03] recolic commented on #6475
The problem disappears after fixing the problem with MPI_Init_thread...........

[2019-03-11 13:23] jsquyres commented on #6468
I think the user is running as non-root:

[code]

I'm not a Docker expert, but I surmise that the first line means "run the lines after this one as root" and the 3rd line means "run lines after this one as the semtp user".

Plus, `ulimit -l unlimited` would not give a permission error if you were running as root.

[2019-03-11 13:25] rhc54 commented on #6468
Agreed - my point was that Docker doesn't support running as non-root.

[2019-03-11 13:26] jsquyres commented on #6475
@ggouaillardet What problems are you running in to?

[2019-03-11 14:39] bwbarrett commented on #6452
Alternatively, given that we no longer use Travis for any of the CI, should we just remove the .travis.yml and finish shutting all that down?

[2019-03-11 14:45] jsquyres commented on #6452
Yeah, that might be the easiest solution (i.e., remove `.travis.yml`).  If we ever bring it back, we can debug then.

[2019-03-11 16:04] bosilca commented on #6475
There are few hundreds of m emory leaks in the initialization, but other than that I can't get the program to fail.

[2019-03-11 16:51] dionhaefner commented on #6258
Same problem here (OSX, OpenMPI 4.0 via Homebrew). For anyone arriving here looking for a workaround:

You can use a different BTL, e.g.

[code]

or (if you don't have sm)

[code]

[2019-03-11 16:56] jsquyres commented on #6258
Can you all try the latest 4.0.1rc nightly snapshot tarball?

https://www.open-mpi.org/nightly/v4.0.x/

[2019-03-11 17:09] bosilca commented on #6258
I can reproduce on different flavors of OSX, but not on Linux. The issue seems to come from vader, as if I force the use of TCP (--mca btl tcp,self) the program correctly completes. I'll take a look.

[2019-03-11 17:32] q-p commented on #6258
@jsquyres Same problem with 4.0.1rc1

@bosilca I'm having this problem on linux, and as far as I can tell (using `-mca btl_base_verbose 100`) I'm using the `tcp` btl.

[2019-03-11 18:10] jsquyres commented on #6258
@gpaulsen @hppritcha This has the potential to be a v4.0.x blocker.  I have marked it as so to make sure it isn't missed.  Please evaluate.

[2019-03-11 19:43] jsquyres commented on #6436
These are now both merged to v3.0.x and v3.1.x.  Closing.

[2019-03-11 19:43] #6436 closed

[2019-03-11 19:45] gpaulsen commented on #6285
@hppritcha, confirmed that (#6286 #6287) are already ported to `v4.0.x` branch via #6347.
We don't believe we need #6172 on v4.0.x as that's just a performance improvement.

[2019-03-11 22:12] artpol84 commented on #4557
I have an issue with OMPI master.
@amaslenn have you figured out the way to solve this?

[2019-03-11 23:03] ax3l commented on #6285
Sounds good with #6347 (for #6295), but shouldn't we also backport #6326 to `v4.0.x`?

[2019-03-12 01:35] artpol84 commented on #4557
In my case, it was a conflict of OMPI installation from modules and my own.

[2019-03-12 02:06] ggouaillardet commented on #6285
I confirm #6347 is a backport of __both__ #6295 and #6326

I must admit I got lost in the various discussions. IIRC, there was two distinct issues. Are there both present in both `v3.0.x` and `v3.1.x` ?

[2019-03-12 02:50] amaslenn commented on #4557
@artpol84 no, I didn't solve it yet. Happens rarely and not reproducible manually (I didn't succeed with it).
Do you have a manual reproduction?

[2019-03-12 06:53] ggouaillardet commented on #6285
I tried the test code above and the one at https://forum.hdfgroup.org/t/cannot-write-more-than-512-mb-in-1d/5118 with the latest `v3.0.x` and `v3.1.x` branches and could not find any issues.

[2019-03-12 08:27] tingweiwu commented on #6468
@rhc54 @jsquyres
Actually, Docker support applicaiton running as non-root user in a container. see this
https://forums.docker.com/t/root-user-or-non-root-user-inside-container/966/2

additionally, is `ulimit -l unlimited`  a must when run mpirun?

I test run the following case on a host without mlx5_0 device.

it seems the error above doesn't display.

[code]

[2019-03-12 08:46] ax3l commented on #6285
@ggouaillardet thanks for taking a look.

For the data corruption / opal issue, you have to test the second example, which is https://forum.hdfgroup.org/t/hdf5bug-h5fd-mpio-collective-chunking/5279 , on `v3.0.x` and `v3.1.x`.

[2019-03-12 08:54] ax3l commented on #6285
Just found it: both are backported to these branches as well:
https://github.com/open-mpi/ompi/commits/v3.0.x/opal/datatype/opal_convertor_raw.c
https://github.com/open-mpi/ompi/commits/v3.1.x/opal/datatype/opal_convertor_raw.c

That explains why the tests work now... Hm, which PR was that...?

[2019-03-12 09:01] ax3l commented on #6285
the `v3.0.x`, `v3.1.x` and `v4.0.x` lines have now all backports for both the IO crash and the opal data corruption in place :+1:

`v2.0.x` and `v2.x` are also affected but seam to have reached end of life with regards to releases.

I will leave this issue open until the releases have landed, so we can document which releases fix it.

[2019-03-12 14:40] jsquyres commented on #6468
The "unlimited locked memory" issue is only needed for InfiniBand or other OS-bypass networks.  If you use TCP / shared memory, then locked memory is not really an issue.

If you're going to use IB inside of a Docker container, you'll need to figure out how to give a normal user inside the container unlimited use of locked memory.  Per https://www.open-mpi.org/faq/?category=openfabrics#ib-locked-p

[2019-03-12 14:46] jsquyres commented on #4557
FWIW, the only times I have seen this happen are:

1. You are accidentally not running the `mpirun` that you think you are.  I.e., you're running an `mpirun` that does not accept `-np`.  The message you sent *could* be an Open MPI error message, though, and I think Open MPI has always accepted `-np`, so if it's an Open MPI `mpirun`, this doesn't shed much light on what could be happening.
1. You a

[2019-03-12 17:58] jjhursey commented on #6468
I found [this document](https://community.mellanox.com/s/article/howto-configure-vma-inside-docker-container--with-mlnx-ofed-x) that might be helpful to the discussion. This option might be needed when starting the Docker container: `--ulimit memlock=-1`

That will tell the Docker daemon to set the ulimit for the container environment before starting it.

[2019-03-12 18:07] dionhaefner commented on #6258
Not happening on 3.1 for me.

[2019-03-12 18:09] jsquyres commented on #6441
This has now been merged everywhere.

[2019-03-12 18:09] #6441 closed

[2019-03-12 18:18] jsquyres commented on #6258
...answering my own question...

I am able to replicate on v4.0.0, v4.0.1rc1, and v4.0.x HEAD on my MBP MacOS 10.14.3.  I am not able to replicate with v3.0.x HEAD and v3.1.x HEAD.

[2019-03-12 18:44] bosilca commented on #6258
Yesterday I updated to OSX 10.14.3 and gcc 7.4.0. I cannot replicate this issue anymore.

[2019-03-12 20:50] jsquyres commented on #6258
FWIW, I'm at 10.14.3, and I can replicate.  But I am using the MacOS gcc (i.e., clang), not a homebrew gcc:

[code]

[2019-03-13 17:48] abouteiller commented on #6472
All PRs have been merged.

[2019-03-13 17:48] #6472 closed

[2019-03-13 19:03] sidharths commented on #4665
I face  a similar problem with multiple spawning. Was this issue fixed in openmpi 3.1.2?

[2019-03-13 19:37] jsquyres commented on #6300
This has been open for over a month with no further input, so I'm going to close it.  Feel free to re-open if you have further questions.

[2019-03-13 19:37] #6300 closed

[2019-03-13 20:28] jsquyres commented on #6393
I'm so sorry; I totally missed your reply.

I'm not sure I understand what you're asking.  By "processor nodes in my laptop", do you mean the individual processor cores?  If so, ssh is not needed for that.  Open MPI will just see and use the local processor cores.  ssh is only needed when you start using more than just your individual laptop (e.g., other desktops, laptops, or servers).

You can ju

[2019-03-13 20:28] jsquyres commented on #6468
I'm guessing @jjhursey's answer is the right one.  Let us know if that doesn't work for you.

[2019-03-13 20:28] #6468 closed

[2019-03-13 20:32] jsquyres commented on #6091
It looks like this issue has sat around for a while with no responses; sorry.

Can you send us a short (but complete) program that reproduces the problem (including the Mprobe / Mrecv that @bosilca suggested)?

[2019-03-13 20:45] hppritcha commented on #6470
closing as both master and v4.0.x have been updated

[2019-03-13 20:45] #6470 closed

[2019-03-14 21:27] jsquyres commented on #6258
@bosilca and I have investigated:

* He had a large vader shared memory size on his Mac, which is why he stopped seeing the issue.  When he changed it back to the default, he was able to replicate again.
* We found that the problem is that `mca_bml_base_alloc()` is failing in `mca_pml_ob1_send_fin()` after around 4MB or so.

Looks like at least f62d26ddbc8 and 6ffc7cc96c8 and b51c8f888c were misse

[2019-03-14 21:29] jsquyres commented on #6258
Also -- we confirmed: this is not an issue for master.  It's just commits that we didn't bring over to v4.0.x.

[2019-03-15 05:35] artpol84 commented on #4557
@amaslenn, as I reported in my case the issue was in the conflict of OMPI installations.

I was building my OMPI from sources while having a module with hpcx loaded. This caused schizo components to be linked with libopen-rte.so from modules.
@jsquyres @rhc54 is this an expected behavior?

schizo framework adjusts to the environment. In particular, if I understand correctly it has (directly or ind

[2019-03-15 16:54] rhc54 commented on #4665
The following program runs correctly on master:

<details><summary>intercomm create program</summary>

[code]
</details>

[2019-03-15 20:14] jsquyres commented on #4557
I'm not sure what this means -- what are HPCX modules?  What is the `libopen-rte.so` "from modules"?

[2019-03-16 13:44] yosefe commented on #4557
@artpol84 are you compiling OpenMPI master with ICC?

[2019-03-16 15:56] artpol84 commented on #4557
First of all, to clarify - I solved my case.

@jsquyres

* Modules is a package to manage environment: http://modules.sourceforge.net/
* We have a pre-build HPCX (which is Mellanox HPC stack that includes pre-build Open MPI)
* "libopen-rte.s0" (sorry if I misspelled it) is an ORTE base library that is part of a pre-build HPCX installation available from modules.

@yosefe yes this was my case.

[2019-03-17 09:36] #6475 closed

[2019-03-17 15:05] Ravenwater opened #6494 "Reproducible Linear Algebra through posit-enabled MPI reductions"
New feature request

## Details of the problem

IEEE floating point does not adhere to associative and distributive laws of arithmetic. This creates rounding noise due to ordering effects of concurrent operations.

Posits are a tapered floating point system that restores associativity and distributive arithmetic without rounding noise. We have build a High-Performance Reproducible linear algebra e

[2019-03-17 18:31] bosilca commented on #6494
I would be curious to take a stab at this. Feel free to ping me privately.

[2019-03-18 08:29] houseonline commented on #6447
what fuck？

[2019-03-18 08:31] houseonline commented on #6447
Yes, that's the problem with ip-masquerade. When this parameter is disabled, the solution can solve the problem perfectly.

[2019-03-18 09:27] hoopoepg commented on #6396
@AboorvaDevarajan glad to see that workaround helped.
we added detection of such issues into UCX master and into OMPI master/4.0

can we close this issue?

[2019-03-18 19:15] jsquyres commented on #5362
This has been fixed.

[2019-03-18 19:15] #5362 closed

[2019-03-18 19:15] hppritcha commented on #6285
closing as fixed on all releases that we're still keeping alive.

[2019-03-18 19:15] #6285 closed

[2019-03-18 19:16] hppritcha commented on #6258
missing commit has been committed to v4.0.x.  closing.

[2019-03-18 19:16] #6258 closed

[2019-03-18 19:16] jsquyres commented on #5801
Removed v3.0.x and v3.1.x targets.

[2019-03-18 19:17] jsquyres commented on #6056
This has been merged everywhere; closing.

[2019-03-18 19:17] #6056 closed

[2019-03-18 19:20] jsquyres commented on #6275
This has been fixed on all relevant branches.  Closing.

[2019-03-18 19:20] #6275 closed

[2019-03-18 19:21] jsquyres commented on #6458
This has been merged on all relevant release branches.  Closing.

[2019-03-18 19:21] #6458 closed

[2019-03-18 19:28] gpaulsen commented on #5540
Discussed at the RM meeting today, and will bring up again on tomorrow's Web-ex.

[2019-03-18 19:28] #6141 closed

[2019-03-19 00:15] huiwumonash opened #6497 "can not support HDF5"
Background information
Centos 7 system

What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
openmpi-4.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
I downloaded the package named openmpi-4.0.0.tar.gz
use the following command:
./configure
make

[2019-03-19 00:24] bosilca commented on #6497
This message basically states that you do not have enough hardware resources to run the 6 processes you requested (OMPI assumes you are running for performance and refuses by default to oversubscribe your hardware resources). You can find more information in our [FAQ](https://www.open-mpi.org/faq/?category=running).

[2019-03-19 00:27] huiwumonash commented on #6497
You mean my hardware can not support this installing?

[2019-03-19 00:30] bosilca commented on #6497
Your hardware can support it, but you need to inform your mpirun that you want to oversubscribe your resources. I think you need to add ```-oversubscribe``` to your mpirun.

[2019-03-19 00:31] huiwumonash commented on #6497
Would you please tell me how to add -oversubscribe to my mpirun?
Thank you.

[2019-03-19 00:36] huiwumonash commented on #6497
Would you please tell me how to add -oversubscribe to my mpirun?
Thank you.

[2019-03-19 13:40] #6298 closed

[2019-03-19 13:51] jsquyres opened #6501 "Move --host ordering fix to v3.0.x, v3.1.x, v4.0.x?"
Per #6298, we had an accidental change in behavior of `mpirun --host aaa,bbb` between version v2.1.x and v3.0.x.  A fix just went in to master in #6493.

Here's what happened:

* v2.0.x: behavior X
* v2.1.x: behavior X
* v3.0.x: switch to behavior Y
* v3.1.x: behavior Y
* v4.0.x: behavior Y
* master (to become v5.0.x): after PR #6493, back to behavior X

The question is: should we put this fix on

[2019-03-19 14:22] ax3l commented on #6285
For future readers, the reported issues are fixed in:

- [x] ~~`v2.0`~~: affected, not fixed (EOL)
- [x] ~~`v2.x`~~: affected, not fixed (EOL)
- [ ] `v3.0.4` (not yet landed!)
- [ ] `v3.1.4` (not yet landed!)
- [ ] `v4.0.1` (not yet landed!)

[2019-03-19 14:38] jjhursey commented on #4327
(might be related) Ref PR #6493 / Issue #6298 / Issue #6501

[2019-03-19 14:40] jjhursey commented on #6501
I think we noticed in PR #4327, but never got the cycles to get back to it. I'd like to verify this change also fixes that issue (I think it should)

[2019-03-19 16:49] jsquyres commented on #5540
Per discussion on today's Webex, we decided that this issue should be fixed in the v4.0.x series, but probably isn't worth bringing back to the v3.0.x and v3.1.x series (i.e., it's a pretty esoteric issue for highly complex datatypes).

[2019-03-19 16:53] jsquyres commented on #6501
Two good points were made on the webex:

1. We should be consistent across all of our releases.  I.e., we should acknowledge that the v3.0.x and v3.1.x and v4.0.0 behavior was a bug, and was not intended (i.e., the v2.1.x behavior is the intended behavior).
    * Meaning: we should port these fixes back to v3.0.x, v3.1.x, and v4.0.x.
    * Meaning: the *last* releases of all of these series will m

[2019-03-19 17:55] georgemarselis commented on #6456
thanks! i just think it should be backported, but that might be a bit of a herculean task, so I understand. Closing this again!

@jsquyres  by the way is there an email i can reach you at?

[2019-03-19 17:56] sam6258 opened #6506 "MPI_Info_get failing after MPI_Win_get_info"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v4.0.x branch

### Please describe the system on which you are running

POWER9 ppc64le rhel 7.6

-----------------------------

## Details of the problem

Gist of testcase can be found here: https://gist.github.com/sam6258/997b1695707d47be9c040227bba7b547

The problem here

[2019-03-19 18:39] Ravenwater commented on #6494
@bosilca I have emailed you and called your office number. Would you be so kind to ping me?

[2019-03-19 21:11] jsquyres commented on #6501
I attempted to make PRs for v3.0.x, v3.1.x, and v4.0.x.  Unfortunately, master's `nidmap.c` has diverged quite a bit from each of these 3 branches.  @rhc54 graciously said he would work on the ports for these branches.

[2019-03-20 00:21] ggouaillardet commented on #6506
Thanks for the report.

note the program works as you expect with the latest `master` branch.

That being said, from the standard (MPI 3.1, chapter 11 page 416)

so at that stage (I did not check what the code is doing) I am not even sure this is a genuine bug since
per the standard, Open MPI is allowed to ignore a hint set by `MPI_Win_set_info()` and nothing is said about what `MPI_Win_set_info()

[2019-03-20 04:12] alichnewsky opened #6507 "ORTE regex function parsing segfault when hostnames contain UUID or large numbers"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v4.0.0 release tarball.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

compiled from tarball using gcc 4.9.2 on centos.
[code]

### Please describe the system on w

[2019-03-20 04:14] rhc54 commented on #6507
Yes, we are aware of the problem - the fix has already been committed to master and I am working (as I type) on the port to the v4.0.1 branch. Sorry for the problem.

[2019-03-20 04:14] alichnewsky commented on #6507
A patch for the v4.0.x branch is [straightforward](https://github.com/alichnewsky/ompi/commit/23ebf8e36ad203db8f74a75b6fa466e6aa512fd3)  (use `strtoull()` in `orte/mca/regx/base/regx_base_default_fns.c` to fill `size_t` variables, not `atoi()` or `strtol()`  )....

[2019-03-20 04:15] alichnewsky commented on #6507
if you are going to back port the fix, I won't figure out the proper incantation to get my local IP lawyer to let me submit it ;-)

[2019-03-20 04:17] rhc54 commented on #6507
Yeah, we went a different way and dumped the regex method in favor of compression. Kept hitting too many corner-cases where it failed.

[2019-03-20 13:56] jsquyres commented on #6506
Per MPI 3.0, if those components are not using the `no_locks` info key, it's ok for them not to return it, right?

That being said, I think new / definitive text was put in about info keys and what values must be returned in the MPI 4.0 2018 draft (https://www.mpi-forum.org/docs/drafts/mpi-2018-draft-report.pdf).  @sam6258 Can you check this text and see what it says about info keys/values that mu

[2019-03-20 16:01] sam6258 commented on #6506
This test case may be invalid. I found this in the 3.1 standard to support that an implementation does not have to return those values back from MPI_Win_get_info if not used:

I see this statement in the 4.0 draft that seems to also support this case under `MPI_Win_get_info`:

I think the heart of this issue is what does it mean to "ignore hints". The way I'm looking at that, I can see two meaning

[2019-03-20 18:13] jsquyres commented on #6506
"hints actually used by the system" was the problematic phrase from <= v3.1.  It wasn't well-defined at all.

I think the v4.0 draft text is more clear: if we support `no_locks` *at all*, then we need to return it in the info.  I'm kinda guessing that we only need to do this on master (i.e., where we'll ultimately be MPI-4.0-compliant); I don't think we need to do this on the v4.0 OMPI branch.

Me

[2019-03-20 21:27] sam6258 commented on #6506
I believe that sounds correct, and from our discussion, I've modified IBM osc component to follow the standard a bit better. I'll close the issue for now unless people want to discuss more, but sounds like we are on the same page. Thanks!

[2019-03-20 21:27] #6506 closed

[2019-03-21 10:15] ca-taylor commented on #6300
I'm hitting this with OpenMPI 4.0.0 but I'm not sure why.  Specifying the UCX PML and the mlx4_0:1 device makes no difference.    Build is on EL7.5 with native IB stack and,

ucx-1.4.0-1.el7.x86_64
ucx-devel-1.4.0-1.el7.x86_64

Adding,

export OMPI_MCA_pml="^ucx"
export OMPI_MCA_btl_openib_if_include="mlx4_0:1"

to the run _does_ work but my OpenMPI 3.1.2 builds work just fine with UCX.

From my c

[2019-03-21 10:23] ca-taylor commented on #6300
Then a bit later...

[c36a-s39.ufhpc:245515] pml_ucx.c:313 connecting to proc. 1
[c36a-s39.ufhpc:245517] pml_ucx.c:313 connecting to proc. 2
[c36a-s39.ufhpc:245515] pml_ucx.c:313 connecting to proc. 2
[c36a-s39.ufhpc:245517] pml_ucx.c:313 connecting to proc. 3
[c36a-s39:245513:0:245513] Caught signal 11 (Segmentation fault: Sent by the kernel at address (nil))
==== backtrace ====
    0  /lib64/lib

[2019-03-21 10:30] ca-taylor commented on #6300
Setting,

export OMPI_MCA_btl_openib_allow_ib=1
export OMPI_MCA_btl_openib_if_include="mlx4_0:1"

works but is not desired and, I think, should not be necessary based on my prior experience with the UCX PML.

[2019-03-21 19:08] bertwesarg commented on #6345
Would it make sense to audit the code and set all pointers after a call to `mca_rcache_base_module_destroy()` to `NULL`? Only 3 out of 7 callsites in the master/v3.1.x/v4.0.x branches reset the pointer after the call.

[2019-03-22 17:47] abouteiller commented on #6130
Issue should be resolved in 4.0.1. Feel free to reopen if it persists.

[2019-03-22 17:47] #6130 closed

[2019-03-22 19:06] abouteiller opened #6513 "master: pmix4x spawn deadlocks"
## Background information

`mpirun` process crashes with `SIGSEGV` when`MPI_COMM_SPAWN` issues `pmix.spawn_nb` at a client MPI process.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

master 53cd31ed

Bug was **not present** in 2bd7d867

## Details of the problem

[code]

[2019-03-22 21:45] LiweiPeng opened #6514 "MPI_Irecv+MPI_Isend random slow when using openib RDMA RoCE"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using?
This problem was found on both OpenMPI 3.1.3, 3.1.1.

### Describe how Open MPI was installed
OpenMPI was built from source code.

### Please describe the system on which you are running

* Operating system/version: CentOS 7.4. 3 nodes are used, 1 process/node.
* Computer hardw

[2019-03-22 22:11] jsquyres commented on #6514
Is your network configured for lossless operation?  RoCE v2 requires lossless to be configured.  If it is not, you can experience drops, and the RoCE v2 wire protocol will perform sluggishly.

[2019-03-22 22:54] LiweiPeng commented on #6514
@jsquyres Yes, my network is configured to be lossless RoCE. On the same cluster, I also ran many MPI benchmarks, like IMB benchmark, OSU benchmarks. These benchmark performance numbers all look good. But none of these benchmarks have the same API design like what I used above.

[2019-03-22 22:57] jsquyres commented on #6514
I only mention it because seeing wild performance fluctuations like this are typically caused by mis-configured no-drop.

Have you tried using UCX?  Mellanox no longer supports the openib BTL -- it's deprecated in Open MPI v4.0 and will likely disappear in Open MPI v5.0.

[2019-03-22 23:08] LiweiPeng commented on #6514
I didn't try UCX. Since it is the future, I can give it a try .

[2019-03-23 10:58] yosefe commented on #6300
@ca-taylor can you pls try adding "--mca opal_common_ucx_opal_mem_hooks 1"?

[2019-03-23 12:21] jsquyres commented on #6300
@ca-taylor @yosefe Can you guys please move this to a new / open issue?  Thanks.

[2019-03-25 01:19] ggouaillardet commented on #6513
@abouteiller this is a typo that is fixed in pmix/pmix#1161

For the time being, you can manually apply the inline patch below

[code]

[2019-03-25 02:38] karasevb commented on #5965
Similar problem mentioned in https://github.com/open-mpi/ompi/issues/6277.
Is this problem still relevant?

[2019-03-25 05:48] #6513 closed

[2019-03-25 10:41] ca-taylor opened #6517 "Warning: There was an error initializing an OpenFabrics device."
Thank you for taking the time to submit an issue!

## Background information

OpenMPI 4.0.0 is reporting an error message (see below) and claiming that there is an error initializing an OpenFabrics device.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

4.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, fr

[2019-03-25 10:42] ca-taylor commented on #6517
From my config.log...
[code]

[2019-03-25 10:42] ca-taylor commented on #6517
[code]

[2019-03-25 10:43] ca-taylor commented on #6517
From the verbose output, it may be lying or just dropping back to ethernet. I can't tell.

[code]

[2019-03-25 10:44] yosefe commented on #6517
@ca-taylor is there any other issue except this error message? e.g is the test running successfully?

[2019-03-25 10:44] ca-taylor commented on #6517
Then a bit later...

[code]

[2019-03-25 11:13] ca-taylor commented on #6517
Comment from yosefe:

   can you pls try adding "--mca opal_common_ucx_opal_mem_hooks 1"?

[2019-03-25 11:17] ca-taylor commented on #6517
With

[code]

[code]

[2019-03-25 11:19] ca-taylor commented on #6517
I need to verify but I think we may only be seeing these messages on our GPU nodes with CUDA-enabled builds of OpenMPI but, again, I need to verify that.

[2019-03-25 11:23] ca-taylor commented on #6517
It is running at the moment without additional errors but it took a while before crashing last time.

[2019-03-25 12:17] ca-taylor commented on #6517
The most recent job ran to completion without errors from the app..  Below is the stderr which looks ok.

So I guess the question is, "Why the message about the error initializing the OpenFabrics device"?

[code]

[2019-03-25 12:41] yosefe commented on #6517
@ca-taylor can you pls try configuring OpenMPI ` --without-verbs` instead of `--with-verbs`?
These error messages are printed by openib BTL which is deprecated.  ` --without-verbs` should disable it altogether.

[2019-03-25 14:07] jsquyres commented on #5965
Good question.  You might want to ask on @siegmargross on the mailing list -- he doesn't usually do much here on GitHub.

[2019-03-25 14:48] ca-taylor commented on #6517
That resolves the issue and is simple enough.  Thank you.

Is there an easy way to determine which device and transport layer UCX has decided to use?  I don't see any indication of that in the verbose output.

[2019-03-25 14:53] jsquyres commented on #6517
@yosefe I'll bet we're going to get more questions like this.  Can you guys make up an FAQ item or three about this so that when people google for it, they find the FAQ / don't need to ask on the mailing list / don't need to post an issue?

[2019-03-25 16:37] jrood-nrel opened #6518 "A system call failed during shared memory initialization that should not have."
Running on OSX Sierra with OpenMPI 3.1.3. I install OpenMPI using Spack. I run with `mpiexec --oversubscribe` when using ctest to run our application tests in parallel, meaning that I am running multiple `mpiexec` commands and oversubscribing them which I think is contributing to this. I have recently been getting the following error. I have been using this system and installation of OpenMPI 3.1.3

[2019-03-25 18:18] siegmargross commented on #5965
I've been on vacation until this weekend. I'll try to build the latest versions of Open MPI tomorrow and let you know if the problem still exists. Hopefully, I can do the tests because we are upgrading our lab to the latest SuSE Linux version and I don't know the current state of the lab and the machine at my office.

[2019-03-25 19:35] jsquyres commented on #6501
#6508 is the PR for v4.0.x.  It's becoming a bit of a bear, both in terms of size and complexity.  We're working the issue, with the intent that it'll catch whatever v4.0.x train it can.  After that, we can hopefully apply a similar back-port to v3.1.x and v3.0.x, and trigger new releases there, too (i.e., with the goal that we can close out the v3.x.y series with this fix).

[2019-03-26 01:33] asylvest opened #6521 "btl_tcp_links broken?"
## Background information
I'm trying to use the `btl_tcp_links` option which does not appear to be working

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
4.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
From the source tarball; vanill

[2019-03-26 09:01] siegmargross commented on #5965
I was able to build openmpi-v4.0.x-201903220241-97aa434 and openmpi-master-201903260242-dfbc144 with gcc-7.4.0, icc-19.0.3.199, and pgcc-18.4-0. "mpiexec -report-bindings -np 1 -rf rf_loki hostname" works for both versions and all compilers. "rf_loki" contains the line "rank 0=loki slot=0:0;1:0".

[2019-03-26 09:07] karasevb commented on #5965
@siegmargross Thank you!
Since it works, the issue can be closed.

[2019-03-26 10:27] yosefe commented on #6517
@ca-taylor

Currently - no. However, it's possible to set the device and transport to use: https://github.com/openucx/ucx/wiki/UCX-environment-parameters

[2019-03-26 12:03] wrs20 opened #6522 "Repeated calls to MPI_Cart_create segfaults or hangs when first argument is a cart comm"
Fails in OpenMPI 4.0.0 and 3.1.3, passes in OpenMPI 2.1.1 (and MPICH).
OpenMPI installed from 4.0.0 source tar. Ubuntu 18.04.2.

Source:

[code]

To reproduce:
[code]

Traceback:
[code]

Many Thanks,
Will

[2019-03-26 13:51] LiweiPeng commented on #6514
this turned out to be network switch configuration issues, which caused unstable network. It is not related to openmpi. so close it.

[2019-03-26 13:51] #6514 closed

[2019-03-26 14:56] #5965 closed

[2019-03-26 15:05] hppritcha commented on #1089
reopening issue because some sites are wanting this back ported to 3.x.y releases.

[2019-03-26 15:38] icdragn commented on #1089
Isn't this already in 3.1.x? At least, the configure option is there...

[2019-03-26 15:52] cniethammer opened #6524 "MPI collective writes causing MPI_Finalize to segfault in mca_btl_vader_endpoint_xpmem_rcache_cleanup()"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
openmpi-4.0.1rc3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installation from tarball with
[code]

### Please describe the system on which you are running

Cray

[2019-03-26 16:00] ggouaillardet commented on #6524
@cniethammer how many nodes are you running on ?

[2019-03-26 16:42] jrood-nrel commented on #6518
After trying `export OMPI_MCA_btl=self,tcp`, I don't get the vader errors, but I still get segfaults in my application. So I'm going to close this issue until I figure out what is going on here.

[2019-03-26 16:42] #6518 closed

[2019-03-26 17:10] cniethammer commented on #6524
The test was run on a single node.

[2019-03-26 17:44] jsquyres commented on #1089
@hppritcha I think @icdragn is right:

[code]

Are you talking about something else?

[2019-03-26 19:30] bwbarrett commented on #6521
In my testing, `btl_tcp_links` appears to be working with the OSU bandwidth benchmarks.  I can drive 10 Gbps with no options and ~20 Gbps with (lots of) tuning.  That being said, the `btl_tcp_links` implementation leaves something to be desired and won't work for all situations.  It *only* helps with large message bandwidth; eager messages are always sent down the "0th" TCP connection.  The eager

[2019-03-26 20:28] asylvest commented on #6521
Thanks for the info @bwbarrett.  I have my test application on another system so I can't just cut and paste it here but it was extremely simple and is sending large messages.  In pseudocode, it boiled down to:
[code]

So, each `MPI_Send() / MPI_Recv()` was 2 GB.  Based on your note above, I would have expected this to benefit from `btl_tcp_links`.

[2019-03-26 20:34] dshrader commented on #1089
Actually, I think the configure parameter that @hppritcha is looking for is `--enable-wrapper-runpath`:

[code]

[2019-03-27 00:13] bosilca commented on #6522
@wrs20 I cannot replicate your bug in the upcoming 4.1 nor in master, but the symptoms reminded me of a bug fixed not long ago in other branches (fb17115ba9). Can you try with a nightly version or with a 4.x prerelease ?

[2019-03-27 00:15] ggouaillardet commented on #6522
@bosilca same thing here, but I have a different issue with `v3.1.x`. I am now refreshing my install and will double check again.

[2019-03-27 03:00] ggouaillardet commented on #6524
@cniethammer can you please manually download and apply the patch at https://github.com/open-mpi/ompi/pull/6526.patch ?

[2019-03-27 03:22] bosilca commented on #6521
`btl_tcp_links` set to anything smaller than 4 seldomly works. Going for more than 5 seems to somehow fix the issue and the expected number of connections is created (according to lsof on the compute nodes). I guess a potential short terms solution is to use a number of links larger than 5.

However, at least on my hardware (not AWS) increasing the number of links seems to negatively impact perfor

[2019-03-27 07:31] ggouaillardet commented on #6522
@bosilca never mind, I messed up in my test. the latest `v3.1.x` is working just fine

[2019-03-27 07:38] cniethammer commented on #6524
Unfortunately the patch did not solve the problem.

[2019-03-27 10:00] ggouaillardet commented on #6524
@cniethammer I found an other issue that is specific to `xpmem` (double free issue)
unfortunately, I do not know when I will find the time to investigate it.

meanwhile, disabling xpmem should do the trick
```mpirun --mca btl_vader_single_copy_mechanism cma ...```

if `cma` is not available on cray, then you can
```mpirun --mca btl_vader_single_copy_mechanism none ...```
(and that will very likely

[2019-03-27 10:43] wrs20 commented on #6522
@bosilca, @ggouaillardet I built the ```master-201903270305-4e5cacc``` snapshot with ```
--enable-debug --enable-mem-debug --enable-mpi1-compatibility ``` and it works fine. So this looks resolved in later versions?

To see if I could find anything useful, I then rebuilt the 4.0.0 release with the above flags and it still segfaults.

Running through gdb gives:
[code]

I can investigate further if

[2019-03-27 11:10] ggouaillardet commented on #6522
@wrs20 the issue has been fixed in the release branches, so no investigation is needed.

Meanwhile, you can give 4.0.1rc3 a try

[2019-03-27 11:26] wrs20 commented on #6522
@ggouaillardet ```4.0.1rc3``` built with the above flags seems to work. Thanks!

[2019-03-27 14:21] cniethammer commented on #6524
Strike! Changing the vader single copy mechanism seems to solve the issue.

[2019-03-27 14:45] jsquyres commented on #6522
![image](https://user-images.githubusercontent.com/617316/55085650-63fa6880-507d-11e9-83d4-47a25b233cfb.png)

[2019-03-27 15:49] hppritcha commented on #6149
this should have been fixed.  Closing.  reopen if it's still a problem in v4.0.1

[2019-03-27 15:49] #6149 closed

[2019-03-27 15:49] #6075 closed

[2019-03-27 16:07] #6077 closed

[2019-03-27 17:23] hppritcha opened #6530 "Open MPI 4.0.2 release checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2019-03-27 17:42] asylvest commented on #6521
OK this is strange.  I just ran some tests, measured performance and observed open ports with `lsof`, and match what you said.  With `btl_tcp_links` <= 4, I only see one port get opened.  Starting at 5, it seems to honor the requested number of ports.  However, my aggregate bandwidth doesn't increase at anywhere near the rate that it does with `iperf3` (with iperf3, just letting it use 2-3 links i

[2019-03-27 22:28] karenibowman commented on #6258
Hello! I am a student just learning MPI, but I encountered a similar hang situation (just on MPI_Probe) when a previous MPI_Isend was sending size 0. Do you think that something worth pulling an issue for/exploring further?

Thanks!

[2019-03-27 22:29] karenibowman commented on #6258
The hang likewise occurred in mca_btl_vader_component_progress

[2019-03-28 01:16] ascenoputing opened #6533 "OPAL ERROR： Not initialized in file pmix3x_client.c at line 113 An error occurred in MPI_Init_thread"
### What version of Open MPI are you using?
openmpi -3.1.2,  openmpi-4.0.0

### Describe how Open MPI was installed

from tarball

### Please describe the system on which you are running

* Operating system/version: Ubuntu 16
* Computer hardware:  i7 Core, nvidia 1080
* Network type:

-----------------------------

## Details of the problem
I am running the examples  get the error

[code]

***EDIT

[2019-03-28 01:18] ascenoputing commented on #6533
What version of Open MPI are you using?
openmpi -3.1.2, openmpi-4.0.0

Describe how Open MPI was installed
from tarball

Please describe the system on which you are running
Operating system/version: Ubuntu 16
Computer hardware: i7 Core, nvidia 1080
Network type:

[2019-03-28 01:19] ascenoputing commented on #6533
**What version of Open MPI are you using?**
openmpi -3.1.2, openmpi-4.0.0

**Describe how Open MPI was installed**
from tarball

**Please describe the system on which you are running**
Operating system/version: Ubuntu 16
Computer hardware: i7 Core, nvidia 1080
Network type:

[2019-03-28 10:51] ascenoputing opened #6535 "OSError: Unable to open file (unable to lock file, errno = 11, error message = 'Resource temporarily unavailable')"
### What version of Open MPI are you using?
open-mpi 3.1.2

### Describe how Open MPI was installed
tarball

### Please describe the system on which you are running

* Operating system/version: ubuntu 16
* Computer hardware:
* Network type:

-----------------------------

## Details of the problem
Traceback (most recent call last):
  File "plot_surface.py", line 289, in <module>
    crunch(surf_fi

[2019-03-28 11:28] #6535 closed

[2019-03-28 12:35] devreal opened #6536 "Regression of osc_rdma_acc_single_intrinsic"
There seems to be a regression in Open MPI's implementation of atomic operations if the MCA parameter `osc_rdma_acc_single_intrinsic` is set to `true`: the attached test case results in what appears to be random results whereas without the MCA parameter the results meet the expectations.

Example runs:

[code]

[code]
[mpi_fetch_op_local_remote.tar.gz](https://github.com/open-mpi/ompi/files/301791

[2019-03-28 13:26] jsquyres commented on #6533
Can you be a bit more specific about what you are doing and how you are invoking Open MPI?

E.g., are you trying to run an MPI program on a single node?  Across multiple nodes?  ...?

[2019-03-28 13:29] jsquyres commented on #6258
We just released Open MPI v4.0.1 yesterday (https://www.mail-archive.com/announce@lists.open-mpi.org/msg00122.html); can you please try again with that version?

If the problem persists, please open a new issue (vs. commenting on a closed issued).  Thanks!

[2019-03-28 14:00] mwheinz opened #6537 "Security issue with libevent included in openmpi 3.1.3 and libevent 2.0.22"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

OpenMPI 2.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

As part of the OPA IFS package

### Please describe

[2019-03-28 14:50] jsquyres commented on #6537
Thanks for the heads up.  Let us know what you come up with in terms of patches.

[2019-03-28 16:45] hppritcha commented on #1089
@jsquyres you're right.  the admin is wanting to install 3.0.x which apparently didn't get this patch

[2019-03-28 17:30] hppritcha opened #6539 "compiler wrappers not fully obeying --disable-wrapper-runpath"
One of our sysadmins who doesn't like the --enable-new-dtags option has noticed that for versions of Open MPI which support the --enable/--disable-wrapper-runpath, it doesn't impact the fortran wrappers:

[code]

[2019-03-28 17:31] awlauria opened #6540 "--cpu-list does not bind in master nor 4.0 branch"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

master/4.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Git clone.

### Please describe the system on which yo

[2019-03-28 20:49] devreal commented on #6517
I am running into what seems to be the same issue on our IB cluster in an application that makes heavy use of MPI RMA calls. I followed the advice from @yosefe and configured Open MPI 4.0.0 with `--without-verbs` and UCX 1.5. I am still seeing the warning message:

[code]

I also get similar UCX debug output with `OMPI_MCA_opal_common_ucx_opal_mem_hooks=1` and `OMPI_MCA_pml_ucx_verbose=100`:

[cod

[2019-03-28 20:51] jsquyres commented on #6517
We have an FAQ item in the works -- do this help you?

https://github.com/open-mpi/ompi-www/pull/249

[2019-03-28 21:17] devreal commented on #6517
@jsquyres It helped in that it made me try to delete my installation of Open MPI and reissue `make install`. That seemed to get rid of the openib stuff. Now the warning message is gone but the application hangs:

One process waits in a barrier, another one has this stack trace:

[code]

I am a bit puzzled that it's the `pt2pt` osc module though. Setting `osc_ucx_priority` to 100 again seems to fin

[2019-03-28 22:19] jsquyres commented on #6517
@devreal That seems like a new / different problem.  You might want to open a new issue about that, and make sure Mellanox sees / replies to you about it.

[2019-03-29 00:18] ggouaillardet commented on #6537
@mwheinz If you are packaging Open MPI, you might want to consider using external components for `hwloc`, `libevent` and `pmix` and let your distro (e.g. RedHat) fix the security issues for you.

[2019-03-29 05:26] ggouaillardet commented on #6536
can you please give the just released `4.0.1` a try ?

[2019-03-29 09:53] devreal commented on #6536
Same problem with 4.0.1

[2019-03-29 15:06] devreal opened #6546 "Deadlock with UCX when performing MPI_Fetch_and_op"
I have configured Open MPI 4.0.1 using Open UCX 1.5 and with IB verbs disabled (both Open MPI and Open UCX were compiled with `--with-debug`). I'm running a benchmark that performs a bunch of `MPI_Fetch_and_op`, with the target rank waiting for all operations by other ranks to finish (by waiting for an ibarrier) and randomly performing local updates using `MPI_Fetch_and_op`. I'm attaching the code

[2019-03-29 15:18] devreal commented on #6517
@jsquyres I'm in the process of reporting some more issues I'm facing with UCX. I do not, however, see the `pt2pt` osc component being used over UCX. That seems to have been a glitch on my side. As stated above, purging the installation directory helped getting rid of the open IB component.

[2019-03-29 17:08] gpaulsen commented on #6540
@markalle has a PR to address this, that he'll be posting.

[2019-03-30 02:13] aingerson opened #6547 "Shared memory not getting cleaned up"
Using Open MPI v4.0.0 compiled from source on RHEL7.4

-----------------------------

## Details of the problem
I've already let @rhc54 know about this, but figured I'd add this here for record keeping/tracking.

On our CI testing of libfabric + Open MPI, I've noticed a lot of "vader_segments" in /dev/shm that are accumulating from all our testing. I think this is related to issue #5798 and was fi

[2019-03-30 06:55] liaochenlanruo commented on #6201
# echo 0 > /proc/sys/kernel/yama/ptrace_scope

[2019-03-30 19:34] jscook2345 opened #6548 "occasional hangs with 3.1.3 on Ubuntu 16.04"
Thank you for taking the time to submit an issue!

## Background information

OpenMPI version 3.1.3.

### Describe how Open MPI was installed

From a source tarball downloaded from `https://open-mpi.org`

### Please describe the system on which you are running

* Operating system/version: Ubuntu 16.04
* Computer hardware: Mac OS host, Vagrant VirtualBox VM
* Network type: Ethernet

## Details of t

[2019-03-30 22:08] devreal opened #6549 "UCX: Hang combining exclusive/shared window lock"
Running Open MPI 4.0.1 in combination with Open UCX 1.5 I am seeing my application hang while one process attempts to release an exclusive lock while the target attempts to acquire a shared lock. The code below can be used to reproduce the issue (tested on our IB cluster):

[code]

Build with:
[code]

Run with:
[code]

Interestingly, leaving out the barrier between acquiring and releasing the lock

[2019-03-31 19:45] yosefe commented on #6517
@devreal pt2pt does not work over UCX, there is an OSC component called "ucx" instead.
@ca-taylor @devreal can we close this, and track the hangs by #6546 and #6549?

[2019-03-31 19:58] yosefe commented on #6549
@devreal what is OpenMPI configure command and git revision?

[2019-04-01 05:14] huiwumonash commented on #6497
I use the command of oversubscribe to make check.
The command is "mpiexec --oversubscribe -n 8 make check".
But there is an error too.
The error is "
mpiexec detected that one or more processes exited with non-zero status, thus causing
the job to be terminated. The first process to do so was:

  Process name: [[2672,1],3]
  Exit code:    2"
Would you help me with this?
Thank you.

[2019-04-01 08:58] devreal commented on #6517
@yosefe From my perspective yes, sorry for taking over this issue ;)

[2019-04-01 09:06] devreal commented on #6549
I used Open MPI version 4.0.1 downloaded from the website and configured using:

[code]

It's the Intel compiler in version 19.0.1. I could try changing to the GNU compiler but I'm not sure that that makes a difference, let me know if I should give it a shot.

[2019-04-01 10:08] devreal opened #6552 "UCX: Segfault in Fetch_and_op after Get"
I am observing a Segfault in UCX when issuing a specific sequence of operations on an exclusively locked window. I was able to boil it down to an example that calls `MPI_Rget`+`MPI_Wait` followed by `MPI_Fetch_and_op`. The segfault in the fetch-and-op seems to depend on the previous operation, i.e., a put or other fetch-and-op does not trigger it.

The example code:

[code]

Buitlt with

[code]

[

[2019-04-01 11:38] ca-taylor commented on #6517
@yosefe Ok with me too.

[2019-04-01 11:39] #6517 closed

[2019-04-02 07:41] angainor opened #6557 "Compile error on AMD Epyc"
We're having problems to compile OpenMPI versions 4.0.1 and 3.1.3 for AMD Epyc. We tried GCC 8.1.0 and 8.3.0. Compilation fails with the following error

[code]

I attach the [`configure.log`](https://github.com/open-mpi/ompi/files/3032788/4.0.1.all.log.gz) obtained with the following configure line, but the error is the same if we don't use any configure options

[code]

All compiles well on Inte

[2019-04-02 08:17] cniethammer opened #6558 "MPI_File_set_view lacking "external32" and "internal" representation support in ompio"
## Background information

### What version of Open MPI are you using?

Open MPI 4.0.1

## Details of the problem

MPI_File_set_view from the default ompio io module does not support the "external32" and "internal" data representation. See implementation in *io/ompio/io_ompio_file_set_view.c*.
However, this problem shows only up on NFS file systems for me with the attached test program.

[code]

[2019-04-02 12:55] devreal opened #6559 "mpi_assert_allow_overtaking breaks MPI_Issend"
I'm using `MPI_Issend` in one of my code paths to ensure the proper reception of messages before signalling that all outstanding transfers have completed. At some point I came across the communicator info key `mpi_assert_allow_overtaking` that is available in Open MPI 4.0.1 (described in §6.4.4 of the current MPI standard draft) and thought I'd give it a try because I really don't care about messa

[2019-04-02 13:11] edgargabriel commented on #6558
Hi Christoph, I can confirm that external32 is not supported at this point in time in ompio, this is however also described in the FAQ as a current limitation of ompio along with switching the atomicity level of operations. It is on my to-do list for quite a while, but since it is a truly rarely used feature, I have a hard time justifying investing the time and efforts for this. (To give an idea o

[2019-04-02 15:15] hppritcha commented on #6559
@devreal does it hang if you run both processes on the same node?

[2019-04-02 15:26] gpaulsen commented on #5540
@bosilca Do you have a PR?  If it's partial we might be able to get help working this...

[2019-04-02 22:35] bosilca commented on #6559
All BTLs exhibit this issue in 4.0.1, but the problem seems to be fixed in master. After investigation it appears that 0263456cf4e has not been moved over the 4.x branch.

[2019-04-03 02:42] kawashima-fj commented on #3003
I created a Wiki page https://github.com/open-mpi/ompi/wiki/Timers to revisit this issue in the future.

[2019-04-03 02:55] benmenadue opened #6560 "scoll/fca broadcast broken in 4.0.1"
scoll/fca won't build in 4.0.1:
[code]
The call to the original broadcast at the end of `mca_scoll_fca_broadcast` looks to be missing the `nlong_type` argument.

[2019-04-03 03:02] benmenadue commented on #6560
This argument was added in commit ad4b33336deb0cfe54a8ae37fde917f9e7a82bb5, and it looks like just this parent call was missed. It's an easy fix, so I've patched it and will PR when my test build finishes. It's a direct patch to v4.0.x as FCA has been removed from master.

[2019-04-03 04:41] benmenadue opened #6562 "oshmem_info link failure in 4.0.1"
`oshmem_info` fails to link in 4.0.1 on our system because of some missing symbols:
[code]
We're running on a CentOS 6.10 userland and using the system compiler (gcc 4.4.7). It's a standard `configure` and `make` from the release tarball (after patching for #6560).

[2019-04-03 04:55] benmenadue commented on #6562
There's a missing #include in `oshmem/shmem/c/shmem_context.c`. This file was missing from the 4.0.0 build when the profiling interface was enabled (fixed by aaf15a6c174f425f87027985cbcf29084deed8f4), which is why we didn't run into this previously.

Again, an easy fix, so I've patched it and will PR when the test build completes.

[2019-04-03 06:15] bertwesarg commented on #6093
This is now in master (#6132 and #6183) and in v4.0.x (#6465). And the profiling interface is alo in the OpenSHMEM specification now (openshmem-org/specification#254). Thus this can be closed now.

[2019-04-03 06:15] #6093 closed

[2019-04-03 07:48] devreal commented on #6559
@hppritcha Yes, I also saw the code hanging on a single node.

@bosilca Thanks for digging this up. I guess a simple search on Github would have done the trick for me ^^

[2019-04-03 09:18] s-kuberski opened #6565 "Memory leak with persistent MPI sends and the ob1 "get" protocol"
## Background information
A memory leak appears when using persistent communication with the vader BTL and large message sizes.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
4.0.0 on local computer, 2.1.2 and 3.1.3 on clusters

### Describe how Open MPI was installed
4.0.0: from tarball

### Please describe the system on which you are running

[2019-04-03 09:38] angainor commented on #6557
FYI, this turned out to be a problem with our local settings, and different `CFLAGS` during configure and compile phases. Sorry for the noise.

[2019-04-03 09:38] #6557 closed

[2019-04-04 05:28] steve-ord opened #6568 "Issue #6258 still occurring on 4.0.1 - When on OSX hang when message size larger than a few MB."
[Thank]() you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

4.0.1 for the release

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

I edited the brew formula to pull the 4

[2019-04-05 09:47] centredecalcul opened #6570 "vader,self don't work on Infiniband node"
Open MPI v3.1.3

Installed from tar sources with Intel 2018.2 on CentOS 7.4

-----------------------------

I can't launch more than 1 process on same Infiniband nodes :
[code]

It works normally in Omnipath nodes or "Ethernet" nodes :
[code]

-----------------------------

[code]
[code]

-----------------------------

Verbose output :

[code]

[2019-04-05 12:37] ggouaillardet commented on #6570
Open MPI is not even trying to use `btl/vader` here, but `mtl/ofi` (aka `libfabric`)

 `vader` (or any other `btl` component) are used by `pml/ob1`, so you should try

`mpirun --mca pml ob1 ...`

[2019-04-05 13:47] centredecalcul commented on #6570
I certainly confuse some options, I thought vader was used in shared memory.

Yes this command works on all nodes :
[code]
However, I do not understand why this command does not work when an Infiniband card is installed:
[code]

[2019-04-05 14:05] ggouaillardet commented on #6570
`vader` is used for intra node communications but only when `pml/ob1` is used. `pml/cm` has a higher priority and is selected because of libfabric. It seems libfabric (e.g. `mtl/ofi`) cannot do intra node communications and that is odd. Maybe a libfabric issue that is not caused by Open MPI, Andy I do not know enough libfabric to help.

@jsquyres any thoughts ? can libfabric do infiniband ? If not

[2019-04-05 14:07] ggouaillardet commented on #6570
You can
[code]
to collect logs useful to diagnose this issue.

[2019-04-05 14:20] centredecalcul commented on #6570
Is the problem coming from the exclusion of sockets ?
I am really lost.

[code]

[2019-04-06 04:17] ggouaillardet commented on #6570
I'd rather try not to exclude `shm` from the ofi providers

[2019-04-08 13:39] vspetrov opened #6575 "Possibly, incorrect MPI_Type_indexed behavior with zero blockLenght"
### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
compiled from source, git clone open-mpi/ompi/master

### Please describe the system on which you are running

* Operating system/version:

[2019-04-08 13:42] vspetrov commented on #6575
Same applies for vector type (blength can be zero, and the fallback returns not initialized dtype).

[2019-04-08 19:20] #6562 closed

[2019-04-08 19:21] #6560 closed

[2019-04-09 03:14] tingweiwu opened #6579 "time consuming by mpirun invoke"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
`openmpi-3.1.2`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
[code]

### Please describe the system on which you

[2019-04-09 05:11] ggouaillardet commented on #6579
First, you have to manually make sure `kubexec.sh` works at normal speed
(if not, that indicates at least one non Open MPI issue, such as kubernetes or (reverse)DNS

Then I suggest you try with a non MPI program first, for example
[code]
if caseA is still much slower than caseB, then you can
[code]
and hopefully, you will notice some timeout on a/some interface(s), and you can simply only include

[2019-04-09 05:12] ggouaillardet commented on #6575
@bosilca can you please comment ?

[2019-04-09 05:29] bosilca commented on #6575
The example is correct, and OMPI outcome obviously wrong. The reason behind this is some old cruft from the time where the LB and UB markers were not deprecated. A clean solution could be started from
[code]
by applying the same logic to all datatype creation functions.

[2019-04-09 07:32] centredecalcul commented on #6570
Thank you, I progress.
I don't know where this parameters is set, I found nothing in /etc/ or $OPENMPIROOT/etc or env

hello_c works fine if I exclude "verbs" :
[code]

But I don't know the consequences of this option on other applications, if I set this option by default.

[2019-04-09 07:59] ggouaillardet commented on #6570
If you exclude `verbs`, then `mtl/ofi` will find no provider and likely disqualify itself, and so will `pml/cm`. You will then end up using `pml/ob1` and `btl/vader` for intra node communications.

I think the question is how should the Infiniband network be used ?
If `ofi` aka `libfabric` should only be used for OmniPath (and Infiniband should use `btl/openib`), then you can disable the `verbs` p

[2019-04-09 08:09] rhc54 commented on #6570
When you say "infiniband", I assume you really mean a "Mellanox IB card", yes? After all, OmniPath is also an "infiniband" device 😄

The default settings are indeed based on an assumption that ```ofi``` will not be the transport of choice for Mellanox IB cards as Mellanox directs their users to install UCX and go that route.

I can find nothing in this thread that clearly states the type of "infin

[2019-04-09 08:46] centredecalcul commented on #6570
My environment consists of several small clusters, some of which are equipped with Mellanox ConnectX cards and some with Intel Omnipath cards.
With OpenMPI 2, I have a single installation that work on all clusters. Currently when my users submit jobs, they do not choose on which cluster (Mellanox or Intel) the job will be started : openmpi choose the right transport to use. I try to reproduce this

[2019-04-09 11:35] tingweiwu commented on #6579
@ggouaillardet  quite appreciate for your attention and suggestion. I will try this

[2019-04-09 15:28] upuil opened #6581 "error when install openmpi 4.0.1"
I try to install the new version of ompi  from source code.
`CC=icc CXX=icpc FC=ifort F77=ifort ./configure --prefix=/home/opt/apps/openmpi/3.1.3/intel/2017a`
[code]

[2019-04-09 16:50] jsquyres commented on #6581
Are you compiling Open MPI v4.0.1 or 3.1.3?  Both are listed in your output.

This looks like a bug in the UCX header file (i.e., not an Open MPI header file).

If the problem is really in `/opt/ucx/include/ucm/api/ucm.h` (i.e., is there a `ucs/sys/compiler.h` file on your machine anywhere?), this issue should probably be reported to the UCX community.

FYI @yosefe @jladd-mlnx

[2019-04-09 18:47] hppritcha commented on #6581
What version of UCX is installed on the system?

[2019-04-09 18:55] #6558 closed

[2019-04-09 19:42] jsquyres commented on #6552
@yosefe @jladd-mlnx FYI.

[2019-04-09 21:40] jsquyres commented on #6497
You are correct that you just add `--oversubscribe` to the arguments of `mpirun`; that's what I was trying to say, above.

However, you don't run `make check` through `mpirun`.  `mpirun` is for launching MPI programs.  I don't know what HDF's `make check` runs, but it's usually an "engine" that runs a whole pile of tests (some of which may be MPI programs...?).  If they're MPI programs, then HDF5'

[2019-04-09 21:42] jsquyres commented on #6547
@gpaulsen @hppritcha FYI.  This may end up being a dup of #6565, but #6565 has much more detail.

[2019-04-09 21:43] jsquyres commented on #6565
Per #6547:

Need to check to see if c076be5 made it to v4.0.x.

@hppritcha @gpaulsen FYI

[2019-04-09 21:44] jsquyres commented on #6547
@aingerson Thanks for the research to find c076be5.  I've put this information on #6565; even though that one was filed later, it has additional detail.  So I'm going to close this one as a dup -- let's keep following on #6565.

[2019-04-09 21:44] #6547 closed

[2019-04-09 21:52] jsquyres commented on #6565
Ah, did #6550 fix the issue?

@aingerson @s-kuberski Can you check the v4.0.x nightly snapshot tarball that will be generated tonight (i.e., in a few hours) and see if the issue is fixed for you? https://www.open-mpi.org/nightly/v4.0.x/

[2019-04-09 21:55] aingerson commented on #6565
Will do!

[2019-04-10 04:09] ggouaillardet commented on #6581
the root cause is a UCX header cannot find an other UCX header. This strongly suggests the issue is not in Open MPI but is either caused by an UCX bug or a local and busted UCX install.

[2019-04-10 06:41] dmitrygladkov commented on #6581
The similar problem was fixed in the https://github.com/openucx/ucx/pull/1336
The latest release [1.5.1](https://github.com/openucx/ucx/releases/tag/v1.5.1) contains this fix

@upuil Could you check with UCX master or v1.5.1, please?

[2019-04-10 08:25] AboorvaDevarajan commented on #6396
Thanks @hoopoepg  sorry for the delay. I was not able to verify the issue with ucx:master/ompi:master
since there are some build issues.

[code]
But however, I was able to manually cherry pick the fix https://github.com/openucx/ucx/pull/3338 to UCX v1.5.1 and verify it, where it precisely shows the warning messages when pml ucx and btl uct are used.

[code]

so I'm closing this.

[2019-04-10 08:25] #6396 closed

[2019-04-10 09:29] s-kuberski commented on #6565
I still see the behaviour with the mpirun-executable built from the tarball (i.e. `mpirun (Open MPI) 4.0.2a1`), but better check this @aingerson, in case I did something wrong with the installation.

[2019-04-10 16:12] aingerson commented on #6565
I've tested the nightly snapshot twice with all of our tests and don't seem to be seeing the problem anymore

[2019-04-10 16:42] jsquyres commented on #6565
An interesting disparity -- @s-kuberski can you try with the openmpi-v4.0.x-201904100241-811dfc6.tar.bz2 (or later) tarball from https://www.open-mpi.org/nightly/v4.0.x/?

[2019-04-10 16:48] aingerson commented on #6565
I will also add that for fun I just tested on the nightly tar ball from a couple of days ago (before the fix was applied) and am still not seeing the error anymore.... I'm going to do a bit more testing and figure out what exact test is triggering this issue. This is a race condition, right?

[2019-04-10 16:49] hppritcha commented on #6568
#6550 went in to v4.0.x a couple of days ago

[2019-04-10 16:50] hppritcha commented on #6565
#6550 went in to v4.0.x a couple of days ago.

[2019-04-10 16:52] aingerson commented on #6565
It looks like it went in yesterday and I tested the snapshot from 4/6

[2019-04-10 17:00] jsquyres commented on #6568
You should see the fix starting in the v4.0.x nightly snapshot starting as of last night (i.e., the April 10 or later snapshot on https://www.open-mpi.org/nightly/v4.0.x/).

[2019-04-10 17:02] jsquyres commented on #6581
Let's go ahead and close the issue here -- sounds like followups with the UCX community are warranted if the problem persists.

[2019-04-10 17:02] #6581 closed

[2019-04-10 19:21] aingerson commented on #6565
I don't think my issue is actually related to this or to what I originally thought the fix was...
I've been doing some more testing and am noticing that my issue is actually resolved from 4.0.0 to 4.0.1
I hadn't tested on 4.0.1 until now and it seems to be ok with the stable release. Sorry for causing all the drama 😬

[2019-04-11 09:20] s-kuberski commented on #6565
This is the version I tried yesterday. Still a linear increase in the used memory...

[2019-04-11 23:57] leonklingele opened #6583 "v4.0.1 fails to build on OS X 10.11.6"
[code]

Clang version:

[code]

[2019-04-12 13:25] datametrician commented on #3458
I can't thank you enough for this! Thank you thank you thank you!

[2019-04-12 14:31] jsquyres commented on #6583
That's a bit odd, because the v4.0.1 tarball builds fine for me on MacOS 10.14.3 outside of homebrew.

I see you're using an older clang -- is this an older MacOS / OS X?

[code]

[2019-04-12 15:58] leonklingele commented on #6583
Yep, it's on OS X 10.11.6.

[2019-04-12 17:48] jsquyres commented on #6583
@rhc54 @ggouaillardet @hppritcha @gpaulsen Does PMIx v3.1.x (bundled in Open MPI 4.0.x) support OS X 10.11 (El Capitan)?

[2019-04-12 17:50] rhc54 commented on #6583
Yes we do - however, there is a patch in master that hasn't been backported to that release branch yet, and so the update didn't get into OMPI 4.0.1

[2019-04-12 17:57] jsquyres commented on #6583
Ok.  I tagged this as for v4.0.x, but marked it as "minor" because it's such an old version of OS X.

[2019-04-12 18:40] gpaulsen commented on #6568
@hppritcha misspoke about #6550 fixing this, This issue probably persists on v4.0.x branch, and may not be fixed in the nightly snapshot.

[2019-04-12 20:26] jsquyres commented on #6565
I am able to reproduce this problem on master.  Two things I notice so far:

1. It happens with the ob1 "get" protocol; it does not happen with "put" or "send".
1. The sender process is the process that grows without bound; the receiver process stays flat (in terms of memory usage).

The vader CMA get/put methods are downright simple; I can't see where a leak would happen there (particularly if th

[2019-04-12 22:20] jsquyres commented on #6565
Spoiler: **I can reproduce the problem with the TCP BTL.**

Expanding on the list from above:

1. This appears on master, v2.x, v3.0.x, v3.1.x, and v4.0.x branches.  I did not test back further than that.
1. Here are the conditions for which I have been able to reproduce the problem:
    * Persistent send is used (receive mode does not matter; this does not happen with regular or buffered sends),

[2019-04-14 14:31] awlauria commented on #6540
@markalle opened https://github.com/open-mpi/ompi/pull/6584 to address this.

[2019-04-15 07:17] gdfishhannah opened #6586 "how to use mpirun in multiple servers with different ports?"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
openmpi-4.0.0
### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Installed by dafault of horovod Docker file

### Pleas

[2019-04-15 14:07] jsquyres commented on #6322
A fix for vader (shared memory) cleanup just recently went in on the v4.0.x branch (but didn't make v4.0.1).  Can you test any recent nightly snapshot on the v4.0.x branch and see if the problem has been resolved for you?

https://www.open-mpi.org/nightly/v4.0.x/

[2019-04-15 14:17] kawashima-fj commented on #6565
I commented out `MPI_Finalize` in @s-kuberski's original source and ran it on Valgrind. Valgrind reported a suspicious trace.

[code]

https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/ob1/pml_ob1_sendreq.c#L694-L698

I ran:

[code]

[2019-04-15 15:30] kawashima-fj commented on #6565
For blocking and nonblocking operations, the `mca_pml_ob1_send_request_fini` function is called in `MPI_Send` or `MPI_Wait` and `sendreq->rdma_frag` is returned to the free list.

For persistent operations, the `sendreq` object is reused and the `mca_pml_ob1_send_request_fini` function is called only once in `MPI_Request_free`. However, `sendreq->rdma_frag` is allocated by `MCA_PML_OB1_RDMA_FRAG_A

[2019-04-15 19:03] rhc54 commented on #6586
I'm afraid I don't know of any way to accomplish this.

[2019-04-15 19:21] hppritcha commented on #6247
@ggouaillardet can this be closed?

[2019-04-15 19:27] jladd-mlnx commented on #6546
@vspetrov can you please take a look.

[2019-04-15 19:28] hppritcha commented on #6568
@steve-ord could you test with the 4.0.x nightly tarball? https://www.open-mpi.org/nightly/v4.0.x/
?  Your test case passes for me at 97aa4341823381d01c247b814b7f44c80eb6dca6 on v4.0.x

[2019-04-15 19:35] gpaulsen commented on #6586
@gdfishhannah, Thanks for submitting your question.

  I'm sorry the functionality you're looking has never been implemented in *orte*.  We're not opposed to such a new feature, but we just don't currently have that today.

[2019-04-15 19:35] #6586 closed

[2019-04-15 20:33] markalle commented on #5020
Fwiw I think the below PR fixes this issue:
https://github.com/open-mpi/ompi/pull/6584
I was working on a slightly different use-case there, I think my fix makes the command from this issue pass as well.

[2019-04-15 20:42] jjhursey commented on #6586
Just to clarify one point in the issue description:
Do you just need a different rsh/ssh port per server for your use case (in order to facilitate orted launch across the containers)? Are there any firewall restrictions in place between containers that would further restrict point-to-point communication over dynamic ports between processes in different containers?

The OOB/TCP and BTL/TCP componen

[2019-04-16 01:45] gdfishhannah commented on #6586
@jjhursey Is there any more information about the orte/mca/oob/tcp and opal/mca/btl/tcp? How should I add args?

[2019-04-16 03:25] bwbarrett opened #6591 "v3.0.5 Release Checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2019-04-16 03:34] #5987 closed

[2019-04-16 03:36] bwbarrett opened #6592 "v3.1.5 Release Checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2019-04-16 03:37] #5990 closed

[2019-04-16 08:31] hoopoepg commented on #6546
@devreal @vspetrov could you try UCX v1.6 branch?
we fixed few issues there which could affect this issue

thank you

[2019-04-16 10:30] nevion opened #6593 "MPI_THREAD_MULTIPLE and UCX"
Since UCX is the way of the future and openib was... problematic wrt MPI_THREAD_MULTIPLE, what is the status and plan for MPI_THREAD_MULTIPLE and UCX?

~~It seems like it's still unsupported~~
https://github.com/open-mpi/ompi/blob/07e5c54a4605ea28ef57288db4f57622e597417b/ompi/mca/pml/ucx/pml_ucx.c#L282-L288

~~What would it take to get it there and what plans are in the works?~~

~~Is there any in

[2019-04-16 10:40] yosefe commented on #6593
@nevion need to configure ucx with multi thread support:
`$ucx_dir/contrib/configure-release --enabble-mt`
then, the check `(attr.thread_mode != UCS_THREAD_MODE_MULTI)` will be evaluated fo `0`

[2019-04-16 10:45] nevion commented on #6593
@yosefe ah, I didn't glean from the comment block that it was a build time related issue.  I thought I tried that, but I will try more carefully.

I'm still interested in hearing how tested the threading support is with openmpi and ucx, though.

[2019-04-16 10:48] yosefe commented on #6593
@nevion we are constantly running MTT with OpenMPI+UCX and multi-threaded tests.

[2019-04-16 11:04] #6593 closed

[2019-04-16 11:32] jsquyres commented on #6586
Can you explain further what you're trying to do?  We're clearly confused by what you're asking.

As Josh explained, Open MPI uses several channels for network communication between hosts.  It is not possible to only allow a single port between hosts; you will need multiple.  This is why @rhc54 and @gpaulsen said that we do not have the feature that you are looking for.  But based on your limited

[2019-04-16 12:40] vspetrov commented on #6552
I was able to repro this bug with ompi v4.0.x and the fix is: #6594. OMPI master does not reproduce this.

[2019-04-16 14:19] jsquyres commented on #6568
I confirm:

* I see this problem happen on my MacOS 10.14.3 laptop with the 4.0.1 release
* I also see this problem happen on my MacOS 10.14.3 laptop with the 4.0.x branch HEAD

Per https://github.com/pmix/pmix/issues/1210, I can't test the Open MPI master at the moment.  But I wanted to file that I confirm that I can reproduce the issue on both v4.0.1 and the HEAD of the v4.0.x branch.

[2019-04-16 14:22] jsquyres opened #6595 "MacOS pmix divide by zero on master"
This issue is just to track / mirror the corresponding PMIx issue (because it has evidenced itself in MPI runs on MacOS): https://github.com/pmix/pmix/issues/1210

Short version:

* Open MPI master only (no release branches)
* MacOS only
* A divide-by-zero error is occurring when attempting to use mpirun to launch apps (e.g., `mpirun -np 2 ring_c`)

All followup is occurring on https://github.com/

[2019-04-16 15:09] hppritcha commented on #6568
ufff... picked up an incorrect libmpi.  I see the problem now with HEAD of v4.0.x.

[2019-04-16 18:38] jsquyres commented on #6593
@yosefe Can you guys add an FAQ item about this on the OMPI web site?  That would make this kind of question Google-able.

Thanks!

[2019-04-17 07:44] vspetrov commented on #6546
@devreal I was not able to reproduce the hang with OMPI v4.0.x (latest UCX-v1.5.x OR UCX-v1.6.x) neither with OMPI-master (again both versions of UCX, 1.5.x and 1.6.x). However, the test revealed a bug in osc_ucx_fetch_and_op (both in ompi-master and v4.0.x). The was a crash on NULL origin_addr with MPI_NO_OP (latest MPI_Fetch_and_op in the test case, right after the main loop). The fixes for that

[2019-04-17 09:13] devreal commented on #6546
@vspetrov Thanks for looking into this issue. I tried again with #6600 but with no luck, both processes still are stuck. The fetch-and-op after the loop is never actually reached.

If I run with a version Open MPI built without UCX support the test runs fine:

[code]
I will try again with `master` and UCX 1.6 and report back.

[2019-04-17 09:58] devreal commented on #6546
I see the same behavior for `master` and UCX 1.6. Any chance I can get more information out of Open MPI and/or UCX? I tried configuring Open MPI with `--with-debug` and increasing verbosity with `-mca osc_base_verbose 100 -mca osc_ucx_verbose 100` but nothing interesting comes up...

[2019-04-17 12:56] ashwinvis opened #6601 "v4.0.1 breaks MPI 1.x compatibility"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Packaged by ArchLinux

### Please describe the system on which you are running

* Operating system/version: A

[2019-04-17 13:38] jsquyres commented on #6601
That is both correct and expected.

Please:

* Help us by strongly encouraging legacy application maintainers to stop using these constructs that were deprecated in 1996.
* See https://www.open-mpi.org/faq/?category=mpi-removed for more information.

If you need to, you can `./configure` Open MPI v4.0.x with `--enable-mpi1-compatibility`, which will restore the prototypes for these symbols back in

[2019-04-17 14:07] ashwinvis commented on #6601
I understand that the deprecation was intended. However this breaking change came unexpected. I agree with the `mpi4py` developer, that this is not conforming to usual [semantic versioning practices](semver.org) as the deprecation was incorporated in a **patch / bug-fix release**.

As a result this went out the radar of other maintainers. Maybe I am wrong but I don't see it mentioned in the releas

[2019-04-17 14:34] jsquyres commented on #6601
Agreed: we messed up in v4.0.0.  MPI_UB (and friends) was not supposed to be in `mpi.h` in v4.0.0.

That was specifically announced in the 4.0.0 release notes, in the README, on our web site, in public talks that we gave before the v4.0.0 release, was called out to packagers before the v4.0.0 release, etc.  We tried very hard to announce this ahead of time because we were very aware of the disrupt

[2019-04-17 15:30] jsquyres commented on #6501
Removed the "Target v2.x" label -- the fix is not needed for the v2.x series.

[2019-04-18 05:27] ashwinvis commented on #6601
Thank you for the clarification and being honest about it. I agree that sufficient time was provided to library and application developers. Mistakes can happen at all ends.

Thanks again for the awesome library which fuels a lot of research around the world.

[2019-04-18 05:27] #6601 closed

[2019-04-18 06:25] vspetrov commented on #6546
@devreal could you please run with "debug" UCX 1.6 and "-x UCX_LOG_LEVEL=debug. How many HCA's each node has? Could you also try setting the UCX_NET_DEVICES explicitly (e.g. UCX_NET_DEVICES=mlx5_0:1).

[2019-04-18 08:19] devreal commented on #6546
Here is the config summary (not sure the line `IB modules:   < >` is something to worry about):

[code]

There is only one HCA per node:
[code]

I'm attaching the output if run with the command line `mpirun -n 2 -N 1 -x UCX_LOG_LEVEL=debug -x UCX_NET_DEVICES="mlx4_0:1" ./mpi_fetch_op_local_remote`:
[ompi_ucx_fetch_op.log.tar.gz](https://github.com/open-mpi/ompi/files/3093357/ompi_ucx_fetch_op.log.

[2019-04-18 19:41] vspetrov commented on #6546
Couldn't find anything suspicious in the log at this log level. @devreal , could we try again with UCX_LOG_LEVEL=data (will be much more). Btw, i see that you are using mlx4_0, i assume it is ConnectX-3. Do you have another HCA (mlx5) to try your build? I'm asking since i was not able to reproduce the hang on our setups. But those are all mlx5 now. So, i'm just wondering if this is related to CX3.

[2019-04-19 00:52] Akshay-Venkatesh opened #6606 "segfault in orte_util_pass_node_info when running 2 mpi processes on the same node"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

I'm on master at this commit:
[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

### Please describe the system on which you are running

  Summit

----

[2019-04-19 09:53] moravveji opened #6607 "hwloc Error while building OpenMPI v. 4.0.1"
Dear Great MPI guys,

I am trying to build a CUDA-aware OpenMPI/4.0.1 on our compute cluster. We are running CentOS 7.4 on all nodes (SkyLake processors with IB interconnect and 4xP100 Nvidia GPUs). I am installing from the tarball. I use GCC v. 6.4, hwloc v. 2.0.2 and CUDA v. 10.1

I have attached the script that I use building OpenMPI, together with the redirected stdout/stderr. I get the follow

[2019-04-19 12:49] jsquyres commented on #6607
I don't see an obvious reason why this would happen -- I am able to build Open MPI v4.0.1 properly with the internal hwloc and with an external hwloc 2.0.2 configured the way you have in your easyconfig file (admittedly minus the libnuma configure CLI option).

Your attached openmpi build log file is truncated -- it stops partway through configure.  Can you send [all the information listed here](h

[2019-04-19 12:59] jsquyres commented on #6601
Thanks for your patience and understanding!

[2019-04-19 13:06] jsquyres commented on #6606
Do you know the relation of this @edgargabriel branch to master?

I note that there have been a bunch of changes with regards to PMIX and friends on master in the not-distance past.

[2019-04-20 03:15] Platinumd1991 commented on #3380
Hi everyone, can someone help me with tbhis problem? I'm trying to run the turbPipe examples in Nek5000 v19 that ois available on my personal computer but I get this error everytime I use Nekbmpi, the funny thing is that it works for 2D models. I did a small test to see if this error pops up using a different 3D examples (such as TurbJet) and same thing happens. I am not sure if that's because of

[2019-04-20 03:24] rhc54 commented on #6595
This has been fixed now in both OMPI and PMIx.

[2019-04-20 03:24] #6595 closed

[2019-04-20 10:59] jsquyres commented on #3380
@Platinumd1991 please do not comment on a closed 2-year old bug report asking about a different problem than was originally cited in the issue.  For new questions, please open a new issue (or post to the Open MPI users mailing list; see https://www.open-mpi.org/community/lists/ompi.php).  Thanks.

[2019-04-21 22:54] lyu commented on #6607
Hi @moravveji, can you try compile OpenMPI with `--without-tm`? I believe I have experienced a similar issue here.

Basically I am trying to install OpenMPI 4.0.1 under my home directory on our cluster, with hwloc 2.0.2 installed to the same directory. Here is my full installation script:

[code]

The whole process finishes without errors. However, all the binaries compiled using this OpenMPI inst

[2019-04-22 00:27] ggouaillardet commented on #6607
@moravveji `config.log` was truncated.

note `--with-verbs=/lib64` might have some unexpected side effects, so you might want to give it a try without this option.

[2019-04-23 13:53] moravveji commented on #6607
Thanks @ggouaillardet, @lyu and @jsquyres for your excellent input. So, I tried again with the following

- I removed the `--with-verbs=/lib64` option
- I set `--without-tm` option
- I build hwloc from source, and pass the path to its installation folder using `--with-hwloc=<path/to/hwloc>`
- I do not get the error messages above; so, this is already a good news (?)
- However, I get now a differen

[2019-04-23 14:01] yosefe commented on #6607
@moravveji i think it may be because all options are passed to ./configure as single string and not as separate arguments:
[code]
because of this line in the openmpi.sh script:
[code]

PS it's probably related to https://github.com/openucx/ucx/issues/3494

[2019-04-23 15:01] gpaulsen commented on #5540
@bosilca ?

[2019-04-24 12:58] iassiour opened #6612 "Hanging in mpi spawn application with openmpi 4.0.1"
Please see below a scenario that leads to hanging for mpi spawn program.

mpirun command starts a few "master" processes

$MPI_HOME/bin/mpirun -oversubscribe -H red9906025 -x LD_LIBRARY_PATH -np 7 mpi_master

**mpi_master.c**

#include <stdlib.h>
#include <mpi.h>
#include <stdio.h>

int main() {
  char slavejobtospawn[500];
  strcpy(slavejobtospawn, "mpi_slave");

  MPI_Comm wcomm_;
  MPI_Info min

[2019-04-24 13:49] #6559 closed

[2019-04-24 14:07] devreal commented on #6546
I have tried it on a ConnextX-4 node in the same system with the same build (mlx5):

[code]

I'm attaching the output gathered with `UCX_LOG_LEVEL=data`. Interestingly, the application makes some progress if the `data` verbosity is enabled. I observed up to 100 iterations, most of the time less than that. This one was 10 iterations before it got stuck at which point I aborted the run because UCX c

[2019-04-24 22:49] spikebike commented on #6056
I'm getting this with openmpi-4.0.1 compiled with PMIX-2.1.4.  When I try to run:
'''
Module openmpi/4.0.1 loaded
[c5-88:17196] pmix_mca_base_component_repository_open: "mca_psensor_file" does not appear to be a valid psensor MCA dynamic component (ignored): /share/apps/pmix-2.1.4/gcc7/lib/pmix/mca_psensor_file.so: undefined symbol: mca_psensor_file_component. ret -1
'''

[2019-04-25 12:00] ggouaillardet commented on #6612
`MPI_Comm_spawn()` is a collective operation and should hence be called by all the ranks of the communicator.

[2019-04-25 12:53] winnettR commented on #6533
I just had a similar problem reported on clients' systems after an openmpi update. The problem disappeared when the version of mpirun used to launch the job was changed to match the openmpi used to build the application (v4.0.1).

[2019-04-25 14:54] stephen-roberts-work opened #6613 "MPIR broken on the v4.0.x branch"
The MPIR debugging interface is broken in the v4.0.x branch. Attempting to use it causes the mpirun process to hang. This bug is present in v4.0.1 binaries, and freshly compiled version of the v4.0.x head. The bug was not present in the 4.0.0 release build.

This bug was found to reproduce on Centos 7 machine using Intel Compiler icc version 18.2 and also gcc version 8.1. No extra configuration fl

[2019-04-25 15:07] jjhursey commented on #6613
I wonder if it's related to this PMIx issue (found while working on a similar MPIR hang):
 * https://github.com/pmix/pmix/issues/1189
 * The fix went into the [v3.1.3rc1](https://github.com/pmix/pmix/releases/tag/v3.1.3rc1)

Can you try using the v3.1.3rc1 to see if it resolves the issue?

[2019-04-25 15:22] jsquyres commented on #6533
It's been 4 weeks without followup information from the original poster, so I'm going to go ahead and close this issue.

[2019-04-25 15:22] #6533 closed

[2019-04-25 15:35] jsquyres commented on #6056
@spikebike Please open a new issue; thanks.

[2019-04-25 15:42] mwheinz opened #6614 "make-authors.pl does not work correctly when run in a git submodule."
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

3.1.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone, then locally cloned as a git submodule.

### Ple

[2019-04-25 15:43] mwheinz commented on #6614
The problem is that the script wants .git to be a directory. This is not true in the case where ompi is being built as a git submodule. The patch is nearly trivial, change "if [ -d .git ]" to "if [ -e .git ]".

[2019-04-25 15:48] jsquyres commented on #6614
Oh ya, can't say we even thought of that use case.  😮

Your fix sounds pretty trivial.  What is `.git` in the submodule if it's not a directory -- is it a sym link or something?

Want to submit a PR?  😄

[2019-04-25 21:06] iassiour opened #6616 "setting mpi_yield_when_idle in etc/openmpi-mca-params.conf does not seem to work in 4.0.0"
Consider the following program where I force some processes  to wait on a Bcast call

[code]
If I run this setting the -mca mpi_yield_when_idle true in mpirun

the processes seems to spend 85% in system and 15% in user, this is what I would have expected from yield option.

![image](https://user-images.githubusercontent.com/38722728/56767976-f5581a00-67a4-11e9-8a01-6dcc95eb8b48.png)

However, If I

[2019-04-25 21:20] bosilca commented on #6616
First, make sure the MCA file you are adding your options to is part of the ```mca_param_files``` list. Check this with ```ompi_info --param all all -l 9 | grep mca_param_files```.

It seems to work just fine with 4.x and master:
[code]

[2019-04-25 21:33] iassiour commented on #6616
Hi bosilca,

I see that it correctly picking the configuration file:

ompi_info --param all all -l 9 | grep yield
            MCA mpi base: parameter "mpi_yield_when_idle" (current value: "true", data source: file (/programming/ioannis/openmpi/4.0.0/etc/openmpi-mca-params.conf:67), level: 9 dev/all, type: bool)

However I still observe the above behavior. Any ideas?

[2019-04-25 23:40] bosilca commented on #6616
RTE is forcing the value of mpi_yield_when_idle via an environment variable according to the detected oversubscription. The order of the MCA variables being ```arguments, env, file```, in the first case it works because the MCA variable is found in the arguments, and therefore the value set by RTE is ignored. However, as RTE is setting it in the environ, the value provided ```by the user``` in any

[2019-04-25 23:49] iassiour commented on #6616
Hi bosilca,

Thanks, just to note that in both experiments I also set the -oversubscribe in mpirun command.
Given that shouldn't RTE force to mpi_yield_when_idle anyway? How it detects oversubscription?

[2019-04-26 00:38] bosilca commented on #6616
I would have expected RTE to force the ```yield_when_idle``` only when there was oversubscription (aka number of processes per node larger than the number of available resources). RTE could also use a second mechanism to suggest to yield so that users always make the final decision and have the opportunity to explicitly overwrite RTE decision.

[2019-04-26 06:29] ggouaillardet commented on #6614
If I use worktree (this is not a submodule as reported), `.git` is a one ASCII line.
I cloned in `/home/gilles/src/ompi-master`, and then `git worktree add /home/gilles/src/ompi-pmix ompi-pmix`. `.git` contains
[code]

[2019-04-26 06:34] ggouaillardet commented on #6616
Is this a duplicate of #6433 ?
I fixed it in #6440 but it seems it was never backported into the branch release

[2019-04-26 07:14] ggouaillardet opened #6617 "convertor pack/unpack performance with strided datatypes"
While implementing the `cdesc` stuff for the `use mpi_f08` bindings, I noted some surprising performance numbers.
This can be evidenced with `use mpi` (e.g. no need for a modern Fortran 2008 compiler) with the code below

TL;DR do a pingpong with the `buf(1:1048576:2)` subarray, and compare standard Fortran (it will automagically perform a copy under the hood) and the (manual) use of ddt.

[code]

[2019-04-26 09:18] tingweiwu opened #6618 "ORTE has lost communication with a remote daemon."
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Install Open MPI
[code]

### Please describe the system on

[2019-04-26 13:34] #6616 closed

[2019-04-26 13:58] jsquyres commented on #6616
@ggouaillardet Could you make PRs for the relevant release branches?

[2019-04-26 15:40] mwheinz commented on #6614
It's  text file containing a relative filepath to the "real" .git directory. For example, "../../.git/modules/repos/wfr-ompi"

[2019-04-26 22:11] wkliao opened #6620 "valgrind messages when using 4.0.1"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
4.0.1 release

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
source/distribution tarball

My configure command:
[c

[2019-04-28 06:42] tingweiwu commented on #6618
how could I get more infomation about this error?

[2019-04-29 00:56] zrss commented on #6618
i met a similar case, but i found my problem is related to the number of `np`, as i run

[code]

it works fine, but once i increased the np number to 200, it comes out the problem

[code]

and i can confirm these nodes can connect each other as i switch the hostfile to select nodes that mpirun run

the mpi hostfile sample

[code]

... hope that someone know how to debug it :alien:

[2019-04-29 02:02] tingweiwu commented on #6618
It's possible to configure the openmpi to not terminate the job if ORTE has lost communication with a remote daemon?

[2019-04-30 01:19] spikebike commented on #6056
$jsquyres I rebuilt with PMIX-2.2.2 and it worked.  Do you want me to file a bug if it's only triggered when building with PMIX-2.1.4?

[2019-04-30 09:40] stephen-roberts-work commented on #6613
Thanks for the response. The issue doesn't happen on v3.1.3rc1, but then again it doesn't reproduce on the v3.1.2 tag either, so I suspect it may be a different problem.

[2019-04-30 13:29] mwheinz opened #6628 "buildrpm.sh no longer respects the value of rpmtopdir"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

3.1.3.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Building from a git clone.

### Please describe the system

[2019-04-30 14:43] jsquyres commented on #6614
This is now merged everywhere.

[2019-04-30 14:43] #6614 closed

[2019-04-30 20:15] jsquyres commented on #5540
@bosilca said on the Webex today that he would separate out the fix for this vector issue from a branch where he has other optimizations, and then push a PR with just the fix.

[2019-05-02 09:25] zerothi opened #6631 "LSF affinity files override command line arguments"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
3.1.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

- GCC 8.2.0
- Configure command line (from distribution tarball) (from `ompi_info`):
[code]

### Please describ

[2019-05-02 11:35] jjhursey commented on #5501
The fix for this might be related to https://github.com/open-mpi/ompi/issues/6613#issuecomment-486713779. That PMix fix hasn't been ported to the PMIx 2.x branch yet, but I can see if it's possible.

In the meantime can you try the latest Open MPI v4.x release with the PMIx [v3.1.3rc1](https://github.com/pmix/pmix/releases/tag/v3.1.3rc1)

[2019-05-02 11:46] jjhursey commented on #6613
It's surprising that you could not reproduce with v3.1.2 directly, as we were able to when investigating the similar issue we were tracking.
I'm glad that v3.1.3rc1 did address the issue. I'll bring it over to OMPI in PR for the 4.0.x series and reference this ticket when it's ready.

[2019-05-02 13:26] jsquyres commented on #6568
@bosilca mentioned to me verbally the other day that he was able to replicate this issue.

[2019-05-02 13:59] bosilca commented on #6568
The problem appears in mca_pml_ob1_recv_request_progress_rget due to the decision to divide the incoming request into smaller fragments (due to a small btl_get_limit). As an example, vader has a 32k limit for get, so any large message quickly translate into an explosion of fragments on the receiver side. Unfortunately, vader seems to be overwhelmed by such large number of fragments, and stop progr

[2019-05-02 16:57] mwheinz commented on #6628
Okay - Jeff's approved the pull for Master; I've been side-tracked into other issues with our internal build system/CI, but I'll try to get the patches for the other branches pushed tomorrow morning.

[2019-05-03 04:25] leopoldcambier commented on #6568
Just to add a datapoint, since I believe I encountered this bug this week.

I use Homebrew's lastest version on OSX 10.14.4
[code]
I use this elementary code (that I _hope_ is correct...)
[code]

Basically rank 0 Isends `repeat` messages of `size` ints that are Ireceived by rank 1, and then both MPI_Test all the requests one by one.

This hangs
`mpirun -n 2 ./mpi_bug 4790000 1`

This works
`mpirun

[2019-05-03 12:52] jsquyres opened #6633 "Cherry pick ob1 fixes to release branches"
Need to cherry-pick the commits from the PRs listed below to v2.x, v3.0.x, v3.1.x, and v4.0.x:

* #6556 (e630046a4b82bc01379fb055af4c0e414c2a8e8f): pml/ob1: fixed local handle sent during PUT control message
* #6621 (a16cf0e4dd6df4dea820fecedd5920df632935b8): Fix the leak of fragments for persistent sends

Note that a16cf0e4dd6df4dea820fecedd5920df632935b8 contains use of `OPAL_THREAD_SUB_FETCH_SI

[2019-05-03 12:55] jsquyres commented on #6633
FYI: @EmmanuelBRELLE

[2019-05-03 14:03] bosilca commented on #6633
I'm working on a fix for the PUT issue. If there is no rush to push this in, let's wait for few days until I'm done.

[2019-05-05 18:07] leofang commented on #6322
@jsquyres Thanks for your reply and sorry for long silence. I just tested both the latest released versions v3.1.4 and v.4.0.1. I think the fix has appeared in v4.0.1 but not in v3 yet. Am I right that #6550 is the fix for this issue? Will it be back ported to v3.1 at some point?

Thanks, and please feel free to close this issue.

[2019-05-05 18:30] leofang commented on #6547
Also dup: #6322

[2019-05-06 06:57] tingweiwu opened #6639 "mpi_abort_delay doesn't work"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
mpirun.real (OpenRTE) 3.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
[code]

### Please describe the system

[2019-05-06 07:50] vspetrov commented on #6546
Possibly related to sw atomic implementation in UCX. The hang is reproduced with "UCX_TLS=self,ud". Not reproduced with self,rc. Strangely, it is also not reproduced with UCX_TLS=ud (no "self").

[2019-05-06 12:11] Usama-Zafar opened #6640 "Installation Failed! (UCX compile error)"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
distribution tarball.

### Please describe the system on whic

[2019-05-06 13:37] #6537 closed

[2019-05-06 22:36] cwilkes commented on #6548
I'm seeing the same issue with openmpi-3.1.3 on Ubuntu 16.04.  Sometimes the program finishes, sometimes it just hangs.  When it does hang strace just shows a lot of this:
```poll([{fd=5, events=POLLIN}, {fd=15, events=POLLIN}], 2, 0) = 0 (Timeout)```
I've included a good and a bad run as recorded by
```strace -ff -o /tmp/out mpirun -n 2 IMB-MPI1 PingPong -msglog 10:11 -iter 10```

[good.mpi.txt](

[2019-05-07 05:55] kawashima-fj commented on #6639
You cannot debug it using `mpi_abort_delay`.

When the `orterun` command is executed, it launches daemon processes (`orted`) in remote nodes. Subsequently the `orterun` and `orted` launch an MPI program. The message `ORTE has lost communication with a remote daemon.` means that `orterun` has lost connection with `orted` for some reason. On the other hand, `mpi_abort_delay` affects the behavior of

[2019-05-07 05:55] #6639 closed

[2019-05-07 10:24] Usama-Zafar commented on #6640
I have noticed that the error occurs with version 4.0.0 also. But when I go back to version 3.1.4 installation proceeds perfectly.

[2019-05-07 14:42] #6628 closed

[2019-05-07 18:13] jsquyres commented on #6640
You're having a problem with the UCX BTL plugin module (which was not included in the v3.1.x series).  Do you have the latest version of UCX, perchance?

If it continues to be a problem, you can disable building the UCX BTL with:

[code]

[2019-05-07 18:50] jladd-mlnx commented on #6640
Which version of UCX are you using, @Usama-Zafar? UCX BTL is no longer maintained and is not compatible with the latest version of (UCX v1.6.)

FYI @hppritcha - now might be a good time to remove the UCT BTL.

[2019-05-08 03:00] #45 closed

[2019-05-08 03:00] bosilca commented on #45
SM is long gone.

[2019-05-08 03:02] bosilca commented on #56
The MPI forum will deprecate the cancel of sends. There is no need for this functionality.

[2019-05-08 03:02] #56 closed

[2019-05-08 03:04] bosilca commented on #10
few years old and no replicator.

[2019-05-08 03:04] #10 closed

[2019-05-08 03:05] #22 closed

[2019-05-08 03:10] bosilca commented on #63
Support for reductions on REAL16 is now in, as long as the type has a C matching type..

[2019-05-08 03:10] #63 closed

[2019-05-08 03:13] bosilca commented on #92
OB1 now takes care of the pending packets in `mca_pml_ob1_process_pending_packets`.

[2019-05-08 03:13] #92 closed

[2019-05-08 03:25] bosilca commented on #159
All tests pass with 3.1, 4.0 and master.

[2019-05-08 03:25] #159 closed

[2019-05-08 03:28] bosilca commented on #634
There is no point of keeping this open. For performance reasons we do want to keep the pipelining, but as there is no way to know if all processes participate with the same datatype and count we cannot guarantee that the pipelining will work. The solution right now is to disable pipelining, either globally or per communicator (using MPI_T right before creating the communicator that will be used fo

[2019-05-08 03:28] #634 closed

[2019-05-08 03:30] bosilca commented on #2526
I don't think anybody will backport the new atomic operations into 2.x. This ticket can be closed.

[2019-05-08 03:30] #2526 closed

[2019-05-08 06:34] Usama-Zafar commented on #6640
@jsquyres I have tried to do disable UCX BTL as you advised but the problem still seems to occur.

@jladd-mlnx I am not sure how to check the version of UCX, I am using an already configured server for my task.

[2019-05-08 16:05] leofang opened #6642 "MPI_Comm_accept/connect hangs"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v1.10.2, v3.1.3, v3.1.4, v4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

v1 was unknown; v3 and v4 were built from officially released sources

### Please de

[2019-05-08 17:04] rhc54 commented on #6642
That sounds right - we know it was broken for some time. No plans to do anything with the v1.10 series. Backporting a fix to the v3.x series might be possible, but I don't know if/when someone might do it. Probably best to stick with the v4.x series for such things.

[2019-05-08 18:11] leofang commented on #6642
@rhc54 thank you very much for your quick reply! It's reassuring to learn that this bug is known. Please feel free to close this issue if it's not going to be addressed in older versions (<v4). Thanks again.

[2019-05-08 19:48] hppritcha commented on #6640
@Usama-Zafar are you using UCX master?  There is no 1.6 release of UCX at this time.

[2019-05-08 19:49] hppritcha commented on #6640
@Usama-Zafar what version of UCX are you using?  @jladd-mlnx there isn't a 1.6 release of ucx, at least not on github.

[2019-05-08 19:52] yosefe commented on #6640
Seems like a pretty old release of UCX is used (1.3?), since the issue is that UCT_MD_MEM_ACCESS_REMOTE_PUT flag is not found in UCT API.

[2019-05-08 20:43] jladd-mlnx commented on #6640
Bottom line, UCT BTL only works for UCX v1.4 and v1.5. Without a maintainer, it will be DOA when UCX v1.6 is released this month.

[2019-05-09 10:46] rhc54 commented on #6640
I think we need to be careful to separate out the problems here so we don't confuse this user. The issue encountered here is that @Usama-Zafar is using too old a version of UCX - the problem can be resolved, therefore, by either updating UCX or by configuring to no-build the uct btl.

A separate issue that has been raised during the discussion is what to do with that BTL going forward. That isn't

[2019-05-09 23:18] #6016 closed

[2019-05-10 06:02] Usama-Zafar commented on #6640
@rhc54 I was able to successfully install openmpi v4.0.1 with the configuration flags specified. Thank you!

[2019-05-10 07:30] q-p opened #6648 "Invalid memory access in vader / opal_free_list_destruct"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Binary installation from homebrew (open-mpi/4.0.1_1)

###

[2019-05-10 13:30] devreal commented on #6536
I think I found the culprit: the check for `!ompi_osc_rdma_peer_local_base (peer)` in https://github.com/open-mpi/ompi/blob/master/ompi/mca/osc/rdma/osc_rdma_accumulate.c#L899 is not sufficient to determine whether or not the NIC can be used/avoided. Will post a PR soon.

[2019-05-11 00:08] bosilca commented on #6648
b5f79c2 needs to be cherry-picked on the release branches.

[2019-05-11 04:10] ggouaillardet commented on #6648
@bosilca I made the PR for `v4.0.x`. The commit id you referred is already there and I cherry-picked the latest one. Note I also removed some dead code that is only for master and only causes some warnings in the release branch.
I will PR to the other release branches once #6651 is approved.

[2019-05-13 02:05] tingweiwu commented on #6618
[code]

 I add `--debug-devel` to mpirun.  no more usefull infomation shows when it failed.

[2019-05-13 22:43] hppritcha opened #6655 "vader fails in optimized builds on master due to gcc C11 bug"
Looks like somethings going wrong in vader.  I built OMPI master using GNU 7.3 and when
I try to run IMB on a single node using self and vader BTL's I'm getting this:
[code]
The problem goes away if I build using ```--enable-debug```.  Turning off vader fast boxes doesn't seem to help.  Things work nominally on v4.0.x so it appears to be something specific to master.

[2019-05-14 02:25] ggouaillardet commented on #6655
@hppritcha FWIW, I am unable to reproduce the issue in my environment.

are you using a single copy mechanism (such as `xpmem`) and if yes, which one ? what happens if you disable it ?
I cannot download IMB 4.1, can you try with a recent one you can download from https://github.com/intel/mpi-benchmarks ?

[2019-05-14 15:16] jsquyres commented on #6568
We need to audit and see if this issue is on v2.1.x, v3.0.x, and v3.1.x.

[2019-05-14 15:21] jsquyres commented on #6655
@hppritcha Confirms on the webex today that they did try the different single copy mechanisms and still saw the same behavior.

We're assuming that the broadcast that is failing is a meta data broadcast at the beginning of IMB (i.e., before the actual benchmarks start).

[2019-05-14 15:26] jjhursey commented on #6631
I raised this with the LSF team internally, but I think your analysis is correct. Open MPI should ignore the affinity file if the user expresses any bind/place/order options on the command line.

[2019-05-14 15:31] jsquyres commented on #5540
@bosilca Any update on this?

[2019-05-14 15:37] hppritcha commented on #6640
we need to fix this so users can just do a simple configure and go

[2019-05-14 15:55] jsquyres commented on #6640
Marking this as a blocker for v4.0.x.

[2019-05-14 16:53] ted-kapustin opened #6656 "Cannot use IPv6 addresses with mpirun"
Hello,
I am trying to use mpirun with ipv6 addresses, but I could not find any document instructing on how to specify IPv6 addresses with --host and --hostfile arguments. I have two Ubuntu 16.4 machines that have both ipv4 and ipv6 addresses. They are both configured for passwordless SSH login. I can ping each of them from each other using ping and ping6, and can SSH into each of them from each ot

[2019-05-14 17:34] jsquyres commented on #6607
I think @yosefe is correct -- your use of quotes on that `./configure` line may be the problem.

Note, however, that from the log you provided, you didn't end up using the installed hwloc because:

[code]

Specifically, `configure` compiled against your external hwloc and concluded that its version was less than v2.0.  Hence, it just defaulted back to the internal hwloc.

[2019-05-14 18:33] hppritcha commented on #6655
@ggouaillardet I just picked IMB.  We are actually seeing the problem in MPI_Comm_dup in an application.

[2019-05-14 18:34] zerothi commented on #6631
Ok, thanks! :)

[2019-05-14 19:28] ted-kapustin commented on #6656
This is the code in nidmap_create() function located in orte/mca/regx/fwd/regx_fwd.c that returns an error:

[code]
Apparently, it does not like IPv6 addresses.

[2019-05-14 19:57] jjhursey commented on #6656
On Open MPI's `master` branch we reworked this functionality (in https://github.com/open-mpi/ompi/commit/125d2361731ad905ddd0b1363b749dd95d974ffa which has a bunch of details on the change) to be a bit more friendly to nontraditional hostnames like this and some of the container autogenerated hashes. We have been considering bringing that change to the v4.x series, but it hasn't happened yet.

Can

[2019-05-14 21:05] ted-kapustin commented on #6656
I solved the problem by editing /etc/hosts file on the machine on which I run mpirun - I added IPv6 address/host name pairs. This is not very convenient because I have to edit it every time I start a script that invokes mpirun.

[2019-05-14 21:07] ted-kapustin commented on #6656
Thanks for you response. I will try it.

[2019-05-14 21:14] hppritcha commented on #6613
@jjhursey are you close to getting this issue resolved?

[2019-05-14 21:24] jjhursey commented on #6613
We are waiting for PMIx v3.1.3rc3 to pick up the event handling fix. There were a couple of issues with PMIx v3.1.3rc2 that are being resolved right now. We hope to have that ready by Thursday this week. Once we have it ready, I'll prepare a PR for the OMPI v4.0.x branch.

Per the [comment from earlier](https://github.com/open-mpi/ompi/issues/6613#issuecomment-487889601) in the thread, there may b

[2019-05-14 21:52] bosilca commented on #6655
Indeed, reproducible as soon as vader is enabled. Turning vader off seems to allow the app to run to completion all the time. I will rename the issue to focus on the real issue.

[2019-05-14 21:59] #6575 closed

[2019-05-14 22:02] jsquyres commented on #6548
Is this effectively a dup of #6568?

[2019-05-14 22:03] #6322 closed

[2019-05-14 22:08] jsquyres commented on #6633
@bosilca Any updates?  We're looking at the possibility of 4.0.2 in the "near" future.

[2019-05-14 22:13] bosilca commented on #6633
Not enough hours in a day. I'm on the datatype issue right now, so I put this one aside. I might get to it before the end of the week.

[2019-05-14 22:42] rhc54 commented on #6656
I don't see any way that master will help you here. The problem is that OMPI is seeking to resolve the IP addresses (regardless of v4 or v6). Since they aren't in a DNS somewhere, the only way to do it is via /etc/hosts.

[2019-05-15 07:20] moravveji commented on #6607
Big thanks to @yosefe and @jsquyres for the hints.
I stepped down from OpenMPI v 4x to v 3.1.4, and managed to compile it with UCX/1.5.1, CUDA/10.1.105 and hwloc/1.11.11. I have attached the log file. This time, I guess the external hwloc is correctly linked against.
I will keep testing this version with cuda-aware examples, and come back to you guys if I have a question.
[log-v3-cuda.zip](https:/

[2019-05-15 14:10] jsquyres opened #6666 "BTL UCT causing problems with UCX memory hooks"
From https://www.mail-archive.com/devel@lists.open-mpi.org/msg20895.html and https://www.mail-archive.com/devel@lists.open-mpi.org/msg20904.html:

FYI @yosefe

v4.0.x RMs: this feels like a blocker for v4.0.x.  Thoughts?

[2019-05-15 14:12] yosefe commented on #6666
related to https://github.com/openucx/ucx/issues/3581

[2019-05-15 14:12] hppritcha commented on #6666
@jsquyres yes I agree.

[2019-05-15 14:13] hppritcha commented on #6666
I really don't want to bother fixing this.  @gpaulsen we should discuss on Friday.  I'm in the mood to by default not build the UCT BTL at all.  That would also solve the API breakage issue.

[2019-05-15 14:22] rhc54 commented on #6656
Actually, you may be able to handle this with an MCA parameter. Try setting OMPI_MCA_if_do_not_resolve=1 in the environment - this will tell OMPI to (hopefully) not resolve hostnames.

[2019-05-15 17:46] jsquyres commented on #6607
If you have some time, I'd like to understand if there are actually issues that need to be resolved in the v4.0.x series.

For example:

1. Did removing the quotes from the `configure` line fix the compilation issue in Open MPI v4.0.x?  (regardless of which hwloc it was using)
1. The logs you sent indicated that it was not actually finding hwloc 2.0.2 in `/hwloc/2.0.2-GCCcore-6.4.0`.  Do you know

[2019-05-15 18:25] hjelmn commented on #6666
@yosefe Could have just tagged me and the fix would have been in within an hour or so. Good grief.

[2019-05-15 18:31] hjelmn commented on #6640
You need to TAG ME when you open a btl/uct bug if you want it looked at.

[2019-05-15 18:31] hjelmn commented on #6640
Will be fixed later today.

[2019-05-15 19:50] jsquyres commented on #6666
My bad -- I shouldn't have set #6668 to auto-close this issue.  Leaving it open until the fix is applied to v4.0.x.

[2019-05-15 19:57] jsquyres commented on #6648
After looking at v3.0.x and v3.1.x, I think that the fixes @ggouaillardet made in #6651 are not applicable to v3.0.x and v3.1.x.  Since #6651 has been merged to v4.0.x, I think we can close this issue.

[2019-05-15 19:57] #6648 closed

[2019-05-15 20:52] jsquyres commented on #6618
If Open MPI hasn't even finished launching yet and something goes wrong, that's a fatal error -- we don't have any other option except to abort.

Your job is relatively small -- 8 nodes.  You shouldn't be bumping up against any TCP sockets or file descriptor limits.

I'm assuming you're launching in Kubernetes -- is each one of these `/opt/kube/kubectl` launching into a unique container?  If so, a

[2019-05-15 21:06] hjelmn commented on #6640
So, the user's version appears to be older than v1.3.0. Will disable btl/uct when the version is that old. Have no interest in supporting that old a version. v1.6.x support is being tested now. Will have master support ready tomorrow.

[2019-05-15 21:35] rhc54 commented on #6640
Thanks @hjelmn !

[2019-05-16 04:29] opoplawski opened #6671 "Segfault in UCX 1.5.1 on Fedora Rawhide with 4.0.1"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

4.0.1
UCX 1.5.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Fedora Package

### Please describe the system on which you are running

* Operating system/version:

[2019-05-17 06:42] derbeyn opened #6677 "Enhance performance when (un)packing derived datatypes"
When changing its application to use MPI derived datatypes, one of our major clients noticed an important performance degradation during the data exchanges.
One of our studends did his internship on this topic 1 year ago.
He noticed that the degradation was coming in part from indexed DTT packing/unpacking.

Using an intel compiler functionality, he could substancially reduce some indexed DTT exch

[2019-05-17 14:10] hppritcha commented on #6655
git shows that 8291f672 is to blame.
I reduced the problem down to just using osu_latency.  The test hangs in the initial 0 byte ping - pong after a few hundred iterations in the warmup section.

[2019-05-17 18:45] lariesen opened #6682 "Errors using contexts in OSHMEM 4.1.0"
We're encountering problems using contexts in OSHMEM 4.1.0. on a small Infiniband 4 machine. Codes without contexts work.  As soon as we introduce contexts we start to get errors.

We installed HPC-X 2.3.0 and rebuilt UCX and then OpenMPI.

UCX build:
./configure --enable-optimizations --disable-logging --disable-debug --disable-assertions --disable-params-check --without-java --prefix=$HPCX_HOME/

[2019-05-17 20:11] gpaulsen opened #6684 "Issue in cray build checker."
There appears to be some issue with the Cray Build Checker.

For example, the PR  https://github.com/open-mpi/ompi/pull/6672, has a single commit: `e00d0abe56b2163c9aedbecf0e973c9609804c61`

From the github records, it was never force pushed to after the PR was opened.
The Ci failed with this one line:
[code]
Which refers to: https://jenkins.open-mpi.org/jenkins/job/open-mpi.pull_request/4751/

He

[2019-05-17 20:13] bwbarrett commented on #6684
Reassigning to Howard.  I don't own any Cray/HPE systems (too soon).

[2019-05-17 20:14] gpaulsen commented on #6684
Oh, sorry.  I thought all of the "build checker" CI was done on AWS.

[2019-05-17 22:29] ted-kapustin opened #6685 "Unable to use mpirun over IPv6 with Horovod &NCCL"
I am trying to run multinode neural training over IPv6. Our training scripts used to use a Docker Swarm overlay IPv4 network that was unreliable and hard to set up. I wanted to try macvlan bridge network instead. IPv6 itself works without problems: I can ping6 a container running on one node from a container running on another node, and can SSH from one container into another (running on the same

[2019-05-17 22:47] bosilca commented on #6685
There are many things to answer here, but first if you want to use TCP you should definitively not use `--mca btl ^tcp` or you will be unable to communicate across nodes in AWS (except if you run on a partition with IB).

You need to make sure the version of Open MPI you are using is IPv6 ready. You can check if this is the case using `ompi_info  | grep IPv6`. If not then you need to compile your

[2019-05-17 22:48] sjeaugey commented on #6685
The bash script doesn't initialize MPI at all, so maybe an intermediate step would be to run an MPI hello world program (to get rid of the DL framework, Horovod and NCCL). You can find one in the examples/ directory of Open MPI : https://github.com/open-mpi/ompi/blob/master/examples/hello_c.c

Aside from that and as a general comment, SSH working is a good step, but the next one is to permit one p

[2019-05-17 23:26] ted-kapustin commented on #6685
Thanks for comments. I will try all the suggestions. OpenMPI installed in containers was build with IPv6 support.

[2019-05-19 16:37] hjelmn commented on #6655
Oh, fun. Will take a look.

[2019-05-19 21:20] hjelmn commented on #6655
@hppritcha It might be related to the bug that this works around:

https://github.com/open-mpi/ompi/commit/30119ee339eea086f43e3392352899187a4a73c7#diff-9ce2fbdee8f3b12c6493b3554cc0e991

Wonder if the bug is also impacting C11 atomics. The underlying implementation is the same. Worth trying with --disable-c11-atomics and seeing if the issue goes away.

[2019-05-19 21:25] hjelmn commented on #6655
Easiest way to verify. Change memory_order_acquire to memory_order_seq_cst here:

https://github.com/open-mpi/ompi/blob/master/opal/include/opal/sys/atomic_stdc.h#L74

[2019-05-20 09:09] zrss opened #6691 "mpirun run hostname cmd unexpected failed"
Thank you for taking the time to submit an issue!

## Background information

run openmpi in a kubernetes cluster

[code]

hostfile

[code]

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, et

[2019-05-20 20:20] jjhursey commented on #6656
@ted-kapustin You mentioned in #6685 that you resolved this issue. Can you provide details? Can we close this issue or is there more to investigate separate from #6685?

[2019-05-20 22:03] ted-kapustin commented on #6656
Hello @jjhursey,
Even though I have not yet resolved #6685), I think this one can be closed.
Again, I was able to solved this one by adding the lines:
<hostname1> <ipv6_addr1>
...
<hostnameN> <ipv6_addrN>

to /etc/hosts file located on the machine where mpirun is executed, and using either -host <hostname1>:<slots1>,..., <hostnameN>:<slotsN> or -hostfile <host_file> argument, where host_file conta

[2019-05-20 22:03] #6656 closed

[2019-05-21 16:12] zrss commented on #6691
[code]

works fine ...

[2019-05-21 16:16] gpaulsen commented on #6666
In today's web-ex @jsquyres mentioned some discussion he's had with @hjelmn about #6668.
To summarize, @jsquyres likes #6668 as a start, but would also like to see some UCX version checking (both high and low) when Open MPI would build btl_uct by default.
On the low side, the version of UCX we test v4.0.0 with, and on the high side the current working version of UCX.   This configury would be appl

[2019-05-21 16:40] jsquyres commented on #6666
Specifically, my proposal is:

* If UCX is between vX and v1.6, the BTL UCT `configure.m4` should build by default.
    * I do not know the value of X (i.e., the lower bound UCX version that the BTL UCT supports).
* If UCX is < vX, do not build.
* If UCX is > v1.6, do not build by default.  But if `--enable-btl-uct-build-anyway` (or something similar) is specified, go ahead and build.

[2019-05-21 16:46] gpaulsen commented on #6666
Thanks @jsquyres.  I Should also mention that PR #6670 is also related.

[2019-05-21 16:52] hjelmn commented on #6666
@jsquyres My problem with the proposal is we do not put such a restriction on any other component. I plan to keep up with the changes in the future. I was not able to get to v1.6 support quickly for obvious reasons. v1.7 support will be coming in the near future.

[2019-05-21 17:42] jsquyres commented on #6666
@hjelmn The reason for this proposal is that the UCT APIs are not guaranteed to be stable between releases.  Other components do not use internal APIs like this.  We really do not want to be in the situation where a shipping Open MPI fails a default compile because we're using internal UCX APIs that disappeared/changed in a subsequent UCX release.

[2019-05-21 18:25] hjelmn commented on #6666
@jsquyres The UCP api is not guaranteed to be stable between release either. If this is pushed on btl/uct it must also be pushed on pml/ucx and spml/ucx as well. Again, UCT is not internal. It is an exposed API of Open UCX.

[2019-05-21 18:27] jsquyres commented on #6666
We talked about this exact issue on the call this morning.  We were told by both Mellanox that the APIs that they are fall under the UCX stability guarantees.  Is this not correct?