[2015-12-20 15:59] edgargabriel commented on #1191
@ggouaillardet I created a pull request towards your commit on the create_subarray branch, that fixed the problem for me, please let me know whether it works for you.

[2015-12-20 17:24] bosilca commented on #1230
@ggouaillardet let's try to keep the code in sync between the 2.x and 1.10. To protect against the missing local barrier, the rename method proposed by @jsquyres seems like a good solution. We can also replicate a local barrier by using another temporary file to synchronize local processes.

[2015-12-21 01:58] #1191 closed

[2015-12-21 08:43] igor-ivanov opened #1247 "Wrong binding to hwthreads"
@rhc54 could you look at it.
I am observing this issue at least on 1.8.8 and trunk

I see something strange using --bind-to hwthread:
cpu_set 42,28,0,14 and 14,15,0,1 do the same???
Both report
Cpus_allowed_list:      0
Cpus_allowed_list:      14
Cpus_allowed_list:      28
Cpus_allowed_list:      42

* Expected:
Cpus_allowed_list:      14
Cpus_allowed_list:      1
Cpus_allowed_list:      15
Cpus_a

[2015-12-21 09:02] #1230 closed

[2015-12-21 09:21] sekifjikkatsu commented on #1230
I usually use Open MPI 1.8.4 version.

Some user's programs run into this issue.
(It is not via source code review.)

And I tryed to use master version once,
this issue did not occur.

master version runs OPAL_MODEX in ompi_mpi_init?
But 1.8 version do not have PMIX fence.

Waiting by PMIX(?)
(gdb) where
#0  0x00007f6ff03cea7d in nanosleep () at
../sysdeps/unix/syscall-template.S:82
#1  0x00007f6f

[2015-12-21 09:42] ggouaillardet commented on #1230
That is really puzzling...
We concluded the only way to run into this issue was with master (or maybe v2.x) __and__ async modex (!)
I ran v1.10 under debugger and there is definetly an "external" barrier, so i can nothing but concur this cannot happen.
I will try 1.8.4 tomorrow to confirm.
In the mean time, i pushed a fix to master and will pr tomorrow for v1.10

[2015-12-21 22:39] gpaulsen opened #1252 "including openib in btl list causes horrible vader or sm performance."
On master branch <d0b4aa1f9af61c4f7abcadbc2d903f8d4e669f21>

I observe a strange behavior.  I think that openib may be using too large of a hammer for numa membinding, possibly setting the wrong memory binding policy for the vader and sm shared memory segments.  I've only come to this conclusion empirically based on performance numbers.

For example, I have a RHEL 6.5 node with a single Mellanox T

[2015-12-21 22:41] gpaulsen commented on #1252
@hjelmn - Jeff Squyres said I should tag you on this, that you might have some insight.

[2015-12-21 23:24] hjelmn commented on #1252
Yeah. This happens because we are polling the completion queue. I have been planning to work on this when i get a chance.

[2015-12-22 01:32] bosilca commented on #1183
The efforts to fix this issue unfold in https://github.com/bosilca/ompi/tree/topic/treematch

[2015-12-22 03:17] annu13 commented on #1215
@jsquyres  could you check if PR 1254 fixes the issue.
 https://github.com/open-mpi/ompi/pull/1254
This fix should avoid the race condition thats causing the errors.

[2015-12-22 04:34] #1220 closed

[2015-12-22 06:27] ggouaillardet commented on #1230
@sekifjikkatsu i still cannot make any sense of this
i ran 1.8.4 under the debugger and here is that happens in ```ompi_mpi_init()```

- at line 611, ```mca_pml_base_select()``` will cause local task(s) zero to create the files, write and close
- line 641 is the modex, this is basically a barrier involving all tasks, so when the barrier exits, the file have been created, written and closed.
- at l

[2015-12-22 07:00] ggouaillardet commented on #1247
out of curiosity, can you replace
```grep Cpus_allowed_list /proc/self```
with
```hwloc-bind --get```
and post the new output ?

also, did you use internal or external ```hwloc``` ?

[2015-12-22 07:58] igor-ivanov commented on #1247
by @ggouaillardet request
checked on v1.10
used internal hwloc
[code]
the same with `hwloc-bind --get`
[code]

[2015-12-22 17:02] hppritcha commented on #1252
@gpaulsen which milestone would you like to give this.  If it involves a lot of changes I'd prefer it to be in 2.1.0 or maybe 2.0.1?  (I'll add the 2.0.1 milestone in a bit)

[2015-12-22 17:05] hppritcha commented on #1182
Fixed by #1195

[2015-12-22 17:05] #1182 closed

[2015-12-22 17:29] gpaulsen commented on #1252
I was hoping for 2.0, (I didn't see a 2.0 label), as this makes openib runs pretty useless.
This is NOT a blocker for IBM, but I assumed it was a blocker for Open MPI Community.

[2015-12-25 04:29] ggouaillardet commented on #1247
@igor-ivanov
from ```mpirun --help```

[code]

```--cpu-set``` expects a list of ```logical cpus```.
/* did you really use the __```logical```__ ids and not the __```physical```__ ids ? */

one way to see things is ```cpu``` means ```core``` so what you are doing is wrong (e.g. you are passing non existing logical core id), and the issue is ompi did not fail with an understandable error message.

[2015-12-25 12:16] igor-ivanov commented on #1247
@ggouaillardet I have a node with 28 cores and 56cpus in case HT is ON.
I would like to map my processes to specific cpus of 56cpus. Detailed node configuration is shown in the issue description.
Do you know valid mpirun command I can do what I want?
Commands I am using report identical result for 42,28,0,14 and 14,15,0,1 cpu sets.

[2015-12-25 12:25] ggouaillardet commented on #1247
Did you try my patch and --map-by hwthread ?
I expect that would work

[2015-12-25 13:24] wvermin opened #1262 "Problems with the mpi_neighbor_alltoallw subroutine"
Using:
gcc/gfortran-5.3.0
openmpi-1.10.2rc3
ubuntu-14.04

According to the man page of MPI_Neighbor_alltoallw, the "sdispls"
parameter should be specified as:

INTEGER SDISPLS(*)

In ompi/mpi/fortran/use-mpi-ignore-tkr/mpi-ignore-tkr-interfaces.h.in
this parameter is specified as:

integer(kind=MPI_ADDRESS_KIND), intent(in) :: sdispls

The same applies for the rdispls parameter.
Subroutine MPI_Ine

[2015-12-25 13:34] igor-ivanov commented on #1247
@ggouaillardet will check when get access to a node with enabled ht.

[2015-12-27 15:18] wvermin opened #1263 "Problems with the mpi_neighbor_alltoallw subroutine"
Using:
gcc/gfortran-5.3.0
openmpi-1.10.2rc3
ubuntu-14.04

According to the man page of MPI_Neighbor_alltoallw, the "sdispls"
parameter should be specified as:

INTEGER SDISPLS(*)

In ompi/mpi/fortran/use-mpi-ignore-tkr/mpi-ignore-tkr-interfaces.h.in
this parameter is specified as:

integer(kind=MPI_ADDRESS_KIND), intent(in) :: sdispls

The same applies for the rdispls parameter.
Subroutine MPI_Ine

[2015-12-28 00:52] ggouaillardet commented on #1263
closed as a duplicate of #1262

[2015-12-28 00:52] #1263 closed

[2015-12-28 01:03] ggouaillardet commented on #1262
Fortran prototype was already fixed in open-mpi/ompi@384f4b51d1c950b731b198095cc7dce2fe6d05c0

man pages fixed in open-mpi/ompi@47ab2fcb8947f2e8942aaed272581c66b5bb766f

will be fixed in v1.10 when PR open-mpi/ompi-release#876 is merged

[2015-12-28 07:31] sekifjikkatsu commented on #1230
I got the error
[code]

Under my environment,
grpcomm component is a customized one,and its modex has no barrier.
So, I think that the race condition occurs only under my environment.

Thanks for your correction patch.
It can solve the race condition.
It do not need modex barrier.

@ggouaillardet, I'm sorry that I confuse you.

[2015-12-28 07:35] ggouaillardet commented on #1230
@sekifjikkatsu ok, now that makes sense to me, and i am glad the patch solved your issue !

[2015-12-28 14:34] igor-ivanov commented on #1247
@ggouaillardet I can confirm

after checking your change with observation that using `--map-by hwthread` does not impact result (using `--map-by hwthread` with original code force another mapping: bad but another)
based on ` #4f8c0c5 event/external: add missing include file`

* **w/ your change (no `--map-by hwthread`)**

[code]
* **w/ your change (using  `--map-by hwthread`)**
[code]

After your

[2015-12-28 15:40] rhc54 commented on #1247
I'm not entirely sure I'm understanding this discussion, but I'll play with things this week now that I'm back and have access to my cluster again. One thing I will note: we do not deal with physical processor IDs at all any more in OMPI. We abandoned that a few years ago as the logical vs physical numbering was just confusing the heck out of users.

So OMPI now only deals with LOGICAL processor I

[2015-12-29 00:29] ggouaillardet commented on #1247
@rhc54 i think we should first clearly define what is a logical cpu.
if there is no hyper threading, then it is a core.
but what if hyper threading is enabled ?
is it a core ? a hwthread ? a core __unless__ ```--map-by hwthread``` is used ?

[2015-12-29 05:23] rhc54 commented on #1247
Wow - we've been thru that discussion years ago. It is a core unless you specify --use-hwthread-cpus. We treat hwthreads as cpus ONLY if you specify that flag. Otherwise, you can map-by hwthread, bind-to hwthread, etc. - and we will still consider a core as being the cpu.

Only place that changes is on those systems that do not report cores - in that case, we use PU as the cpu, and it is up to the

[2015-12-29 10:57] igor-ivanov commented on #1247
Sorry, I am tangled a bit so let me rephrase my question:
I can get information about cores, sockets, hwt etc for a node with enabled hyperthreading using hwloc tools.
Question:
How can I use/interpret this information (find ompi logical id) to set right `--cpu-set` values and get expected mapping.
For example: after @ggouaillardet change I see obvious link between hwloc`s PU L#z and --cpu-set=z (

[2015-12-30 14:42] artpol84 opened #1269 "UDCM hang"
@hjelmn I've faced the situation where application hangs because of UDCM. It is **VERY** rare! I saw this only once among 1000's of runs.
**And I'm still have this hanged app "running" so we can do further postmortem analysis if you'll can think of anything that can be inspected with GDB.**

The application was `mpi_test_suite`. It has hanged at very beginning when application calls `MPI_Comm_dup(

[2015-12-30 20:26] hppritcha opened #1271 "v2.x branch fails to build with released plfs available"
issue reported by @loveshack, but filed on open-mpi/ompi-release#880

The build will fail if you have the released version (2.5) of plfs installed because the signature of plfs_setxattr used by OMPI's fs component was changed after the release.  I think configure should check for the correct signature of plfs_setxattr.

Closing the issue opened on ompi-release as a dup of this one.

[2015-12-30 21:37] edgargabriel commented on #1271
Will look into this next week.

[2015-12-31 11:09] loveshack opened #1272 "v2.x branch fails to build with pvfs2 available"
[Originally reported as open-mpi/ompi-release#877.]

This fixes a spurious character.

[code]

[2015-12-31 11:25] loveshack opened #1273 "clarify how to report bugs"
I reported a couple of bugs I found in the v2 pre-release in the tracker for the repo it's from, and was told I should have put them here.  I can't see anything to tell me that, and on checking the README, I find it says the best way is to post them to the mail ilsts.

Could you clarify somewhere prominent how to report bugs and, if possible, do something to prevent people wasting time by reportin

[2015-12-31 14:44] ggouaillardet commented on #1273
@loveshack as far as I am concerned, the best way to report a bug is via the mailing list (users or devel)

though it might seem counter-intuitive, mailing lists are actively monitored by ompi developers, whereas github issues are not.

[2016-01-01 13:20] astrung opened #1274 "Which tools can use to measure Hockney model parameters with OpenMPI?"
Now, i am using Hockney model to analyze communication performance,and i need a tools (or some methods,ways,..) to calculate Latency and Bandwidth of the network(Hockney model parameters).So does OpenMPI provide some tools to caculate,or some tools which can use with OpenMPI to do it???

[2016-01-02 13:10] ggouaillardet commented on #1273
@jsquyres @hppritcha @rhc54

what about disabling issues for the ompi-release repo ?
see https://help.github.com/articles/disabling-issues/

[2016-01-02 13:42] rhc54 commented on #1273
Good suggestion - done!

FWIW: we do actually receive email from every issue filed against the OMPI master repository, so reporting bugs there is just fine. The README is reporting the historical method for reporting bugs that predates our use of GitHub - we should discuss on the telecon whether or not to change it.

[2016-01-03 00:55] jeffhammond opened #1275 "ARMCI-MPI hangs when datatypes are used"
See https://travis-ci.org/jeffhammond/armci-mpi/builds/99887902 for full details.  ARMCI-MPI passes all the tests with MPICH 3.2.  When I use Open-MPI 1.10, tests pass when I disable user-defined datatypes (e.g. `MPI_Type_subarray`), but otherwise fail.

[2016-01-03 01:06] ggouaillardet commented on #1275
@jeffhammond 1.10.2rc3 fixes bugs (missing resize) for subarray and darray.
could you give it a try ?

[2016-01-03 01:09] ggouaillardet commented on #1262
pr for v1.10 has been merged, issue is solved.

[2016-01-03 01:09] #1262 closed

[2016-01-03 05:34] jeffhammond commented on #1275
@ggouaillardet It does not appear to help: https://travis-ci.org/jeffhammond/armci-mpi/jobs/99913181.  While it has not failed yet, it's almost certainly hung, since successful builds always finish in under 10 minutes.

ARMCI tests (`armci-perf` and `armci-test`) were written by PNNL and take liberties with ISO C and even the ARMCI interface (which is easy to do when there is no proper specificati

[2016-01-03 14:32] #1272 closed

[2016-01-03 17:26] jeffhammond opened #1276 "Missing orte/mca/common/Makefile.am at ./autogen.sh line 94."
# summary

I cannot being to even build the `v1.10` release branch from source because `autogen.sh` fails.

# git info

Start with current v1.10
[code]

[code]

# autogen.sh
[code]

[2016-01-03 18:16] rhc54 commented on #1276
The problem is a lingering remnant from your update. When there is a difference in the file system (e.g., a directory is removed), but you have built the code before and so there is build product in that directory, git doesn't remove it. Thus, autogen sees the common directory and looks for the Makefile.am that should be in it, but doesn't find it because that file no longer exists.

Bottom line:

[2016-01-04 01:22] jeffhammond commented on #1276
I have not build the code and there is no build directory yet.  Obviously, I cannot run `configure` if `autogen.pl` fails...

In any case, I can run `autogen.pl` if I `rm -rf * && git checkout .`, but I don't consider that an acceptable solution.  This sort of issue has never happened with any other Autotools-based project I use...

[2016-01-04 02:18] hppritcha commented on #1276
The Open MPI project is pretty complex and dynamic.  If you are working off of master or one of the other active git branches, you can expect this kind of behavior.  One option to avoid these sorts of issues is to work off of the release tarballs at http://www.open-mpi.org/software/ompi/v1.10/ or friends.  Then you don't need to use autogen.pl at all.

[2016-01-04 02:24] rhc54 commented on #1276
Or, as I said, you can just run "git clean -dfx" to remove any stale stuff and then run autogen et al. It's just a git artifact caused by having multiple branches in the same repo - when you change between them, the directories that are in one and not the other branch carry across. Thus, you have to remove them with the "clean" command.

[2016-01-04 02:40] jeffhammond commented on #1276
@Howard:

Yes, I'm aware of the benefits of rehearse tarballs every time I have to build the latest Autotools from source in order to configure MPICH ;-)

In this case, I'm hoping to diagnose a bug so that it can be fixed before 1.10 drops, in which case tracking Git will save me the trouble of starting from scratch if a patch is made available.

[2016-01-04 09:30] ggouaillardet commented on #1275
I confirm the hang even with master.
The test is made of two tasks, and they are doing at the same time into the other task
MPI_Accumulate(MPI_REPLACE)
MPI_Get
MPI_Win_flush_all

I always get a hang on one node with --mca btl  tcp,self
It occurs at various places, but when datatype is a subarray of dimension 5 or more.

@hjelmn can you please confirm this should work, even without a fence between

[2016-01-04 12:11] ggouaillardet commented on #1275
my bad, there is no MPI_Win_flush_all at all

[2016-01-04 12:22] ggouaillardet commented on #1276
As far as I am concerned, I have three clones (master, v2.x and v1.10) and I never checkout from one branch to an other. that saves some time since I only run autogen.pl/configure when needed, and I do not run into these kind of troubles.
I set remote repos, but I only use them for cherry-picking purpose.
on my laptop, I also mirror ompi and ompi-release  (git clone --mirror) so i do not have to c

[2016-01-04 13:52] jeffhammond commented on #1276
@ggouaillardet I don't have the luxury of making those space-time trade-offs:
[code]
This is the state of things _after_ extensive pruning.  As much as I'd love to delete my Windows VM to clear up 100 GB or so, it's essential to my day job :rage2:

Anyways, feel free to close this ticket.  Now that I know the cause of the issue, I will be able to solve it whenever it appears again in the future.

[2016-01-04 14:05] jeffhammond commented on #1275
@ggouaillardet Yes, there is.  `ARMCI_AllFence` maps directly to `MPI_Win_flush_all`.

Can you try running with each of the environment variables:
* `ARMCI_NO_FLUSH_LOCAL=1`?  This turns `MPI_Win_flush_local` calls inside of all the ARMCI blocking operations into `MPI_Win_flush`.
* `ARMCI_RMA_ATOMICITY=1`  This turns `MPI_Get` into `MPI_Get_accumulate(MPI_NO_OP)` and `MPI_Put` into `MPI_Accumulate

[2016-01-04 14:18] #1276 closed

[2016-01-04 14:24] ggouaillardet commented on #1275
the main loop is the for loop starting at line 387, and unless ARMCI_{PutS,GetS} invoke a fence under the hood, I could not find any fence.
I will try flush_local=1
by default, and iirc, rma_atomicity is 1 when MPI data types are used.
I will also rewrite the test_dim test as a pure MPI program (e.g. no more armci) and compare its behavior openmpi vs mpich

[2016-01-04 14:47] jeffhammond commented on #1275
All ARMCI blocking operations - `ARMCI_{Put,Get,Acc}{,S,V}` and `ARMCI_Rmw` call `MPI_Win_flush_local` internally.

You are right.  `ARMCI_RMA_ATOMICITY` defaults to 1 in all cases.  In this case, we are using MPI accumulate operations for all communication, and these are specified by MPI-3 to be ordered unless the relevant info key is set, and we do not set any info keys related to ordering in AR

[2016-01-04 14:53] jeffhammond commented on #1275
@ggouaillardet [Travis shows](https://travis-ci.org/jeffhammond/armci-mpi/builds/100118346) `ARMCI_NO_FLUSH_LOCAL=1` fixes this.  This seems to suggest that Open-MPI does not order RMA by default.

[2016-01-04 17:03] edgargabriel commented on #1271
I have a fix for that in my private repository. I went through the plfs releases, and I noticed that all released versions of plfs had the three argument version, not the four (we must have had a pre-release version when we wrote the code), so I don't think that we need to add configure logic, I just changed our own code, and it compiles now correctly.

That being said, since I haven't looked into

[2016-01-04 18:44] hppritcha commented on #1225
@rhc54 have you had a chance to look at this?

[2016-01-04 18:44] jsquyres commented on #1218
Should now be fixed via open-mpi/ompi-release#848

[2016-01-04 18:44] #1218 closed

[2016-01-04 18:46] jsquyres commented on #1159
Closed via open-mpi/ompi-release@3fe21ec8ddf0e8bf4

[2016-01-04 18:46] #1159 closed

[2016-01-04 18:46] jsquyres commented on #1240
Closed via open-mpi/ompi-release#857

[2016-01-04 18:46] #1240 closed

[2016-01-04 18:59] rhc54 commented on #1225
I've looked at it and have been working on a fix, but no ETA for committing it.

[2016-01-04 19:36] jsquyres commented on #1274
I'm afraid not.  If there are generic MPI programs out there that can calculate these parameters for you, they should work with Open MPI, but Open MPI doesn't provide such tools as part of its distribution.

If you're looking for simple point-to-point latency and bandwidth measurements between a pair of peers, there's a bunch of simple latency and bandwidth MPI benchmarks available.  The OSU bench

[2016-01-04 19:36] #1274 closed

[2016-01-04 19:40] jsquyres commented on #1252
Hey @hjelmn, can we talk about this tomorrow on the call?  I'm wondering:

* Should the openib BTL just be smart enough to not register its progress function when its `add_procs()` hasn't found any peers, and/or `del_procs()` has removed all peers?
    * As a side effect: is the openib BTL progress function required to process incoming connections?  Or is this not even an issue if the BTL determin

[2016-01-05 08:15] ggouaillardet commented on #1275
@jeffhammond i found some other race conditions that can be evidenced by running with ```--mca btl tcp,self```
and it runs fine even with ```MPI_Win_flush_local```

i rewrote the test as a pure MPI app, it is available at https://gist.github.com/ggouaillardet/ae606f6ff90c501f4123

@hjelmn i made #1278 as a proof of concept.
the issue occurs when accumulating "long" message (e.g. ```ompi_osc_pt2pt_

[2016-01-05 14:22] jeffhammond commented on #1275
@ggouaillardet

Excellent work!

I'd love it if you would submit a PR to add the pure MPI version of that test to the ARMCI-MPI test suite.  We have MPI-only tests for MPI-3 RMA feature support already, but they are pretty modest.

[2016-01-05 15:06] jsquyres commented on #1198
I confirm: it looks like these changes fix the BigMPI problems.

[2016-01-05 15:06] #1198 closed

[2016-01-05 16:22] jsquyres commented on #1271
@edgargabriel Pro tip: if you put "closes open-mpi/ompi#1271" in your commit message, it'll auto-close this issue when your commit is merged into master.

[2016-01-05 17:04] jsquyres commented on #1252
Discussion on the call...

This seems to be because of how we now add all endpoints for all BTLs (because of the new `add_procs()` work).  Hence, even though a process may be 100% on a single server, if network BTLs determine that they could run (e.g., openib), the openib BTL modules will be added in the PML.  Therefore we queue up their progress functions and poll them -- even though they will ne

[2016-01-05 17:07] jsquyres commented on #1225
Discussion from today's call...

There was a webex discussing this issue, and what to do about it.  Two main options emerged:

1. Restore OOB functionality (including usock component).
1. Use PMIX notification system.

Restoring the OOB functionality for this one message seems like a lot of work, and it also seems like a step backwards.

The consensus seems to be to move forward and use the PMIx n

[2016-01-05 17:07] gpaulsen commented on #1252
We discussed in [today's call](https://github.com/open-mpi/ompi/wiki/WeeklyTelcon_20160105) that this is a complex issue with the new dynamic add procs, and that we must include network endpoints for two reasons.  One is that if we use any network atomics, all atomics must be network atomics.  The other is to support spawning a new job on another node.

Nathan's proposed solution is to add a decay

[2016-01-05 17:52] bosilca commented on #1252
Talking specifically about IB, we should take advantage of the fact that it is a connection-based network and only register the progress callback when there are established connections. More generally, a more reasonable approach will be to delay the progress registration until there is something to progress (this is under the assumption that the connection establishment is handled by a separate th

[2016-01-05 18:06] jsquyres commented on #1252
Agreed: that, too.

[2016-01-05 18:26] jsquyres opened #1281 "PMIX linking error when building --enable-static --disable-shared"
When building master with `--disable-shared --enable-static`, it seems that a PMIX library can't be found when compiling MPI applications:

[code]

I note that when I build the same way (statically) on the v2.x branch, I get a pmix library, and therefore building MPI executables succeeds:

[code]

[2016-01-05 18:43] rhc54 commented on #1281
I believe you just need to remove that -lpmix from the args - does it then work?

[2016-01-05 18:58] edgargabriel commented on #1271
will keep in mind the next time.  Fixed with pr #1279

[2016-01-05 18:58] #1271 closed

[2016-01-05 19:04] jsquyres commented on #1281
Yes -- if I manually remove `-lpmix` from the mpicc wrapper data text file, the compilation succeeds and the application runs correctly.

Is this all that is necessary?

[code]

[2016-01-05 19:22] rhc54 commented on #1281
Should be, yes

[2016-01-05 20:11] jsquyres commented on #1281
Fixed via e4bdad09c1bf7f11dada5ae6ac32e052b553ce4b.

[2016-01-05 20:11] #1281 closed

[2016-01-05 20:30] jsquyres opened #1282 "Add modexless operation for the UCX PML"
As discussed on the call today, this feature is expected for v2.0.0.

[2016-01-06 13:33] sjeaugey commented on #1241
Narrowing the issue : it only appears with GPU Direct RDMA, and disappears if I remove ATOMIC_FOPS from btl_openib_flags.

I guess you are doing IB atomics directly on the memory location, which won't work if it is GPU memory mapped directly to the HCA. Even if PCIe supports atomics (from the NIC to the GPU) the GPU won't support it through the PCI BAR mapping.

Do you think it would be possible t

[2016-01-06 16:51] jsquyres opened #1284 "NAG Fortran compiler configury issue"
As reported by @PHHargrove in http://www.open-mpi.org/community/lists/devel/2016/01/18470.php, we should fix the configury for the NAG Fortran compiler.

This likely will not happen for the v1.10.2 release; marking the milestone for 1.10.3.

[2016-01-06 20:22] rhc54 commented on #1242
We are working on this, and hope to have a solution soon. A couple of people have volunteered to step forward and take this on for Debian/Ubuntu.

[2016-01-07 02:31] ggouaillardet commented on #1284
@jsquyres that should resolve the need to hack ```mpifort-wrapper-data.txt```

this patch is for v1.10, could you please review it ?
i will push to master and make the PRs if it is looks good to you.

[code]

[2016-01-07 04:05] PHHargrove commented on #1284
@ggouaillardet

I can confirm that this patch eliminates the need to add `-lpthread` to the wrapper data files.
However, I do still need to "hack" them to replace `-Wl,` with `-Wl,-Wl,,`.

I cannot comment as to any possible undesired side-effects of your patch (I leave that sort of review to Jeff).

-Paul

[2016-01-07 11:54] iljah opened #1286 "Segfault in rmaps_lb.c"
I get the following when running mpiexec -n 1 echo with openmpi-1.10.1:
[code]
I configured with --prefix=$HOME and compiled using gcc-4.8.3 on fedora 19.

[2016-01-07 13:19] miked-mellanox commented on #1286
do u mean, that you compiled own version of ompi for that?

[2016-01-07 13:26] iljah commented on #1286
Not my version but the one at https://www.open-mpi.org/software/ompi/v1.10/downloads/openmpi-1.10.1.tar.bz2

[2016-01-07 13:32] miked-mellanox commented on #1286
i see. why not use one from mofed? this version is not GAed.

[2016-01-07 13:33] iljah commented on #1286
Who's mofed and what's a GAed?

[2016-01-07 13:34] miked-mellanox commented on #1286
plz talk to me.

[2016-01-07 15:35] rhc54 commented on #1286
You must have installed on top of an existing installation as there is no "rmaps_lb.c" in the 1.10 series. You might try installing into a clean location and setting your path accordingly.

[2016-01-08 18:27] yosefe opened #1293 "Add support for node order by Infiniband fat-tree order dump file"
Infiniband SM can produce GUID order file (opensm-ftree-ca-order.dump) for fat-tree topologies which gives the optimal order for All-to-All communication.
We need a way to push this file directly to OpenMPI command line, e.g
`-mca ca_order_file <filename>`
This will re-order the nodes on which the job is running according to the order in this file (but should **not** affect local process topolgy,

[2016-01-08 18:31] miked-mellanox commented on #1293
@yosefe - basically should it generate hostfile out of ca file?

[2016-01-10 08:56] yosefe commented on #1293
@miked-mellanox it may be enough, but need to make sure.

[2016-01-11 05:37] artpol84 commented on #1269
Fixed by PR https://github.com/open-mpi/ompi/pull/1283.

[2016-01-11 05:37] #1269 closed

[2016-01-11 11:52] ggouaillardet commented on #1284
I will have an other patch ready by tomorrow so there is no more need to manually replace -Wl,

about using shared libraries, I identified two issues
1. we must use -Wl,shared instead of -shared
it seems this is now fixed in libtool 2.4.6 but not in 2.4.2
(we already patch configure for similar purposes, so I will make a similar fix)

2. -pthread is good for gcc, but not for nagfor (-lpthread shou

[2016-01-11 16:52] gpaulsen commented on #1252
I should add that this was build Multi-threaded, for x86 with the GNU compilers.

[2016-01-12 08:28] ggouaillardet commented on #1284
@jsquyres i made open-mpi/ompi#1295 to fix that (both static and shared libs)

regarding the ```-pthread``` thing, i chose an other direction.
i patch ```config/ltmain.sh``` in order to replace ```-pthread``` with ```-Wl,-pthread```

i was not so confident with the previous approach, plus ```libevent``` configure sets the ```-pthread``` flag, and it would have been a bit intrusive to change its co

[2016-01-12 16:07] sjeaugey commented on #1209
:+1:

[2016-01-12 21:28] timattox opened #1298 "Simplify and enhance performance of opal_hwloc_base_get_npus() used by orte's rmaps"
The opal_hwloc_base_get_npus() function needs to count the number of bits turned on in a cpuset.
This patch replaces a linear bit counting loop with a call to an already existing efficient population count routine: hwloc_bitmap_weight()
which effectively counts the bits a word at a time.
I did not test the performance gain, but as per-node core counts keep going up, this can't hurt.
See pull reque

[2016-01-12 23:56] sjeaugey commented on #1241
Re-testing, I has in fact nothing to do with GPU Direct. I thought so because the non-GPU Direct test was also running on the tcp BTL ... so, we're back on your first question about MOFED version. Do you have an idea where to look at and what to try ?

[2016-01-13 01:54] sjeaugey commented on #1241
On the IBM onesided/c_accumulate test, the crash seems to happens on the first fetch_and_add operation. There are many cswap operations before which work fine.

[2016-01-13 06:49] ggouaillardet opened #1299 "osc/pt2pt hang in master"
@hjelmn can you please have a look at this ?

here is a reproducer

[code]

this can be ran with only one MPI task.

it works fine with ```--mca osc sm``` on both ```v1.10``` and ```master```
but with ```--mca osc pt2pt```, it works fine on ```v1.10``` but it hangs on ```master```

i ran this under the debugger, and ended up writing this patch so ```master``` mimic ```v1.10```.
that being said, i

[2016-01-13 07:52] igor-ivanov commented on #1247
@rhc54 sorry for bothering but may be you missed my question during holidays. Could you share a way I can set right logical values in --cpu-set option using hwloc information or may be other tools in case hyperthreading node.

[2016-01-13 15:42] shamisp opened #1301 "ORTE/OOB/UD set CQE size without querying the MAX supported size"
https://github.com/open-mpi/ompi/blob/master/orte/mca/oob/ud/oob_ud_qp.c#L53

You can't use static values since it may not work on a certain platforms. You have to query the size first and then use it.

(Link to the original report: https://github.com/openucx/ucx/issues/551#issuecomment-171326250)

[2016-01-13 17:03] rhc54 commented on #1247
Sorry for delayed response - this did indeed slip thru the cracks. The id's you want are the numbers marked with an "L" in the hwloc output. However, it appears there is an error in the code base when using ht's as cpus, but I'm not sure if the fix from @ggouaillardet is correct, and I don't have time right now to address it.

[2016-01-13 17:05] rhc54 commented on #1298
Fixed with commit of #1297

[2016-01-13 17:05] #1298 closed

[2016-01-13 17:21] igor-ivanov commented on #1247
@rhc54 I see, thank you.

[2016-01-13 18:45] sjeaugey commented on #1241
Adding traces, the crash happens when we do the accumulate on rank 1. Accumulate on rank 0 works.

Btw, it only crashes with multiple ranks per node, it works fine with 1 rank per node or with multiple ranks on a single node. It may therefore be related to  #1209

[2016-01-15 02:05] ggouaillardet opened #1304 "libnbc does not retain datatypes"
This ticket is about the issue initially reported by Thomas Ponweiser at http://www.open-mpi.org/community/lists/users/2016/01/28265.php

libnbc does not retain datatypes, from a pragmatic point of view, that means that if a datatype is used in a collective operation, and then this datatype is `MPI_Type_free()` **before** the collective completes, there is a risk the `obj_reference_count` becomes

[2016-01-15 03:10] bosilca commented on #1304
The first part of the statement is taken care by the PML base (pml_base_recvreq.h:67 for receive requests and pml_base_sendreq.h:98 for sends). It sounded like an acceptable solution long ago, but now that I think about I see the problem. As we do not retain the datatype at the upper level of the API (the MPI API in this case), when the user free the datatype the first OMPI internal communication

[2016-01-15 05:03] ggouaillardet commented on #1304
@bosilca i made #PR1305 as a proof of concept (only ibcast is implemented yet)

this for ```libnbc``` module only, so you might want to do things differently and at an higher level so it works for all modules.
but if you think it is good enough, i will be happy to implement all non blocking functions in ```libnbc```

[2016-01-15 08:28] ggouaillardet commented on #1304
by the way, and out of curiosity, is there any rationale for using "public" types (e.g. ```MPI_Datatype```) instead of internal OpenMPI ones (e.g. ```ompi_datatype_t```) ?

[2016-01-15 16:15] bosilca commented on #1304
Except for portability I do not think there is any rationale.

[2016-01-19 00:30] hppritcha commented on #1282
@jladd-mlnx can this be closed now?

[2016-01-19 02:24] jladd-mlnx commented on #1282
Fixed via
3858bc8e625eb1531c4a2b
afa62d8ca107ffb05cadb6fb
18c5a215628a1ef9a8b28

[2016-01-19 02:24] #1282 closed

[2016-01-19 07:05] ggouaillardet commented on #1247
@igor-ivanov @rhc54 i think this patch is correct (and replaces the previous one)

[code]

and here is my mpirun command line
[code]

so far, i could not find a simple way to query the __logical__ PU(s) (aka thread is this context) a process is bound to.

it seems both
```hwloc-bind --get --logical``` and ```hwloc-bind --get --physical``` return the __physical__ PU(s)

@bgoglin is this the expecte

[2016-01-19 08:50] bgoglin commented on #1247
--logical and --physical only apply to the input of hwloc-bind, not to the output. The output of --get is always a bitmask (cpuset), and that's supposed to be opaque (you're not supposed to manually translate that into physical PU indexes, although that will likely always work fine). The right way to convert a cpuset to PU indexes on the command-line is hwloc-calc:
[code]
I'll try to clarify this

[2016-01-19 09:03] ggouaillardet commented on #1247
Thanks a lot Brice !

[2016-01-19 12:33] gpaulsen commented on #1225
From Telcon Call:  https://github.com/open-mpi/ompi/wiki/WeeklyTelcon_20160112
Decided this is NOT a blocker for 2.0.0, but want fixed in next release.

[2016-01-19 12:49] miked-mellanox commented on #1247
thanks

@ggouaillardet , @bgoglin , @rhc54 , @jsquyres -

* how it can be simplified for end-user to let specify correct cpu ids in the command line?
* is there way that --cpu-set can accept logical IDs from /proc/cpuinfo as an alternative and it will be translated to hwloc units?

[code]

[2016-01-19 13:17] ggouaillardet commented on #1247
@miked-mellanox /proc/cpuinfo reports __physical__ ids, and not logical ones.
that should be true on most linux, but there might be some exceptions.

@rhc54 explained this is the design that was decided long time ago.

as far as I am concerned, I do not mind adding an extra mca parameter, that can be set so cpuids are interpreted as physical ids and not logical ones.

iirc, you can
```taskset -c c

[2016-01-19 14:12] igor-ivanov commented on #1247
@miked-mellanox I mentioned above (see https://github.com/open-mpi/ompi/issues/1247#issuecomment-167581328) that hwloc-ls tool is able to get values for --cpu-set (it works with the patch)
--cpu-set x,y,z does mapping to PU L#x,yz (in hwloc-ls output)

[2016-01-19 14:26] jsquyres commented on #1247
FWIW, there was a time when OMPI supported both physical and logical processor IDs.  After a *lot* of discussion and back and forth within both the developers and end users, we decided that Open MPI would only use logical processor IDs (i.e., the ordering that hwloc displays by default).

The reasons for this were:

* We spent a *lot* of time describing to users what physical processor IDs were
*

[2016-01-19 14:45] miked-mellanox commented on #1247
thanks

is it possible to have mca params to toggle between phys/logical cpu IDs in --cpu-set param as @ggouaillardet  suggested?

[2016-01-19 14:55] jsquyres commented on #1247
That's for @rhc54 to say, since he maintains this area of the code.

I assume (and you know what they say about assuming) it is *possible* to have such an MCA param, but the question is: do we really *want* to expose that functionality.  Supporting both physical *and* logical numbering lead to a *lot* of user confusion when we supported it before (which is why we *only* expose logical processor nu

[2016-01-19 15:10] miked-mellanox commented on #1247
* keeping current behave (phys id) and introducing optional ``` shell -mca ``` param to enable logical numbers does not sound like a source of confusion, but opposite.

* current --cpu-set behave is confusing lot more and sounds like it cannot be used w/o proper scripting around which makes it very user-unfriendly.

[code]
* having ``` shell -mca hwloc_use_logical 1 .... ``` seems like a very user

[2016-01-19 15:19] bgoglin commented on #1247
How would -cpu-set be easier if using physical ids? Are you really a fan of parsing /proc/cpuinfo manually?

Don't you rather need "--cpu-set binding" where OMPI automatically converts "binding" into the list of logical IDs?

[2016-01-19 16:26] jsquyres commented on #1301
Per 16 Jan 2016 teleconf, @jladd-mlnx will assign this to someone in Mellanox.

[2016-01-19 16:27] jsquyres commented on #1293
@yosefe Are you thinking about this for v2.1.0 or so?  (v2.0.0 is feature complete)

[2016-01-19 16:28] jladd-mlnx commented on #1301
@artpol84 could you, please, address this.

[2016-01-19 16:50] miked-mellanox commented on #1247
* for some cases, we need to select specific cores (benchmarking, performance analysis) and using --cpu-set looks like a good option but it is hard to feed it with proper input.

Now that I learned about

[code]
it gives me what I look for, but from end-user perspective - it is pretty unclear and complicated.

[2016-01-19 17:10] jladd-mlnx commented on #1301
Assigning this to @igor-ivanov instead. Igor, please address this ASAP.

[2016-01-19 18:13] bgoglin commented on #1247
btw, I don't see why we have hwloc-bind --get everywhere in the previous comments. It sounds like it started with people trying to list the entire set of available PUs in the current cgroup. If so, you can just use "all" or "root" which means the entire available machine:
[code]

In your benchmarking case, if you just want two specific hwthreads specified by phys ids X and Y, just do:
[code]
(--ph

[2016-01-19 23:31] matcabral opened #1312 "opal_memory_ptmalloc2_free() hanging when invalid address provided"
Testing PSM2 library, I found that deadlock is triggered when calling fee() with an invalid address.  This is with OMPI 1.10.1. See stack trace below: It looks like opal_memory_ptmalloc2_free() locks a mutex before calling opal_memory_ptmalloc2_int_free(). Then, segfault occurs, the signal handler is called and we have opal_memory_ptmalloc2_free() called again inside the signal handler that will w

[2016-01-20 15:56] gpaulsen commented on #1252
I'm ready to retest.  Please comment in this issue  with which PR to try.

[2016-01-20 18:21] miked-mellanox commented on #1247
thanks for comments and info.
@alinask - could you please create FAQ entry for --cpu-set and usage example based on @bgoglin comments? Thanks

[2016-01-20 20:10] jladd-mlnx commented on #1301
Fixed via https://github.com/open-mpi/ompi/issues/1301

[2016-01-20 20:10] #1301 closed

[2016-01-20 21:14] jsquyres commented on #1312
@matcabral I think you should be using `_exit()` in your `hfi_sighdlr()` (instead of `exit()`).  That might well resolve your issue...?

[2016-01-21 09:33] yosefe commented on #1293
after rethinking this, it should go into the collective algorithm and not MPI rank order.

[2016-01-21 09:33] #1293 closed

[2016-01-21 15:09] hppritcha commented on #1252
@hjelmn do you have an eta for the backoff fix?

[2016-01-21 15:36] hjelmn commented on #1252
Should have it ready to test later today.

[2016-01-21 18:06] matcabral commented on #1312
Yes, thanks!
by definition _exit() should solve the hang. I haven't reproduced the hang so far. In any case, this is not an OMPI issue, so I'm closing this issue.

[2016-01-21 18:06] #1312 closed

[2016-01-21 21:22] hjelmn opened #1317 "ompi_datatype_get_pack_description not thread safe"
Opened a PR to fix. See #1316.

[2016-01-21 23:09] hjelmn commented on #1304
@ggouaillardet I have been slowly changing libnbc to use the internal datatypes/calls since the upstream libnbc will probably never be updated. Has not been high priority though.

[2016-01-22 16:33] hjelmn commented on #1241
Looking at this now. I probably overlooked this problem because it works on ugni for some reason.

[2016-01-22 18:47] jsquyres commented on #1214
Somehow I totally missed your reply, sorry.

If the examples are intended to show old behavior, then this is fine -- no changes needed.

[2016-01-22 18:47] #1214 closed

[2016-01-22 18:53] #1241 closed

[2016-01-22 21:48] jsquyres commented on #1225
When this issue is fixed, please also revert the change (on v2.x) from open-mpi/ompi-release#905.

[2016-01-22 23:54] hjelmn commented on #1252
hmm, I see why I am not getting the same level of slowdown as you. The problem is less the progress function (which adds ~ 100ns) but the asynchronous thread.

@gpaulsen Could you run the reproducer with a debug build and the -mca btl_base_verbose 100 option and send me the output?

[2016-01-23 12:22] jsquyres commented on #1215
@rhc54 @annu13 I'm sorry; I'm finally getting around to testing this, and it looks like #1254 (which looks like it was closed and re-submitted/merged as #1255) did not fix the issue when running MPI jobs.  Note that running non-MPI jobs, like `hostname` and `uptime` works fine.

Here's what I'm seeing with the current master head (70787d1574c00abd236504a1bfcbaa61d3f33700):

[code]

I configured Op

[2016-01-23 12:29] jsquyres commented on #1215
Some notes I really should have included above:

1. It doesn't always segv like this when running MPI jobs -- sometimes it hangs.
1. This is running without a resource manager (no SLURM, etc.).  Just a plain hostfile (same as I pasted above: slots=16 on 25 servers).
1. It feels like a race condition of some kind:
  * When I run with a smaller np (e.g., np=200), it *usually* works fine -- but still

[2016-01-23 12:41] jsquyres commented on #1215
@hppritcha I'm marking this a blocker for v2.0.0 because it seems like we have an important race condition at scale that needs to be solved before release.

[2016-01-23 15:23] rhc54 commented on #1215
I know where the problem lies and will fix it this week

[2016-01-23 18:17] jsquyres commented on #1215
Thanks!

[2016-01-23 18:25] annu13 commented on #1215
On 1/23/16, 7:23 AM, "rhc54" <notifications@github.com> wrote:

@rhc54 are you planning to put a fix to avoid the race condition or to
handle it by queuing the request so that the receiving process can handle
it once it has all the wire-up information. I was planning to push a
change that handles request queuing and local error info propagation to
avoid the hang condition when one process locally

[2016-01-23 19:14] rhc54 commented on #1215
@annu13 This isn't an error - it's a race condition that didn't get fixed in the last PR. So I plan to fix the race condition. As I described back in the original issue, it is possible to receive a grpcomm buffer from another daemon prior to having processed the launch message. So we need to recycle the incoming message until the launch message has been processed so we know how to construct the co

[2016-01-25 07:55] igor-ivanov commented on #1247
Just to check. Anyway we need a patch to get --cpu-set workable for hyperthreading. Right?

[2016-01-25 08:10] ggouaillardet commented on #1247
@igor-ivanov yes
@rhc54 can you please check my latest patch ?
i will commit and PR if it looks right to you

[2016-01-25 13:14] paulromano opened #1323 "Can't compile Fortran application with -std=f2008 using mpi_f08 module"
I have a Fortran application that uses MPI (via mpi_f08) and is normally compiled with `gfortran -std=f2008`. When trying to compile against OpenMPI 1.10.2, I get the following build errors:
[code]

I should note that the errors still persist with -std=f2008ts as well. I'm on Ubuntu 15.10 with gfortran 5.2.1 which I used to build OpenMPI from source. Not sure if there is a solution for this given

[2016-01-25 13:29] rhc54 commented on #1247
@ggouaillardet I don't see it anywhere - can you point me to it?

[2016-01-25 13:32] igor-ivanov commented on #1247
@rhc54 I think https://github.com/open-mpi/ompi/issues/1247#issuecomment-172760230

[2016-01-25 13:43] ggouaillardet commented on #1247
@igor-ivanov that is correc, thanks !

[2016-01-25 16:56] rhc54 commented on #1247
@ggouaillardet Yes, that patch looks correct - thanks!

[2016-01-25 16:57] annu13 commented on #1215
On 1/23/16, 11:14 AM, "rhc54" <notifications@github.com> wrote:

Ahhh.. I got it now. Initially I thought that was the case and started
coding the request queuing piece but then I got confused with the daemon
job setup code and incorrectly concluded that the race condition would be
eliminated if I ensured that the daemon doesn�t enable comm until the
daemon job was setup.

[2016-01-25 18:07] jsquyres commented on #1317
#1316 was merged to master.

@hjelmn Does this need to be PRed to v2.x?

[2016-01-25 18:13] hjelmn commented on #1317
You just merged it. open-mpi/ompi-release#909

[2016-01-25 18:13] jsquyres commented on #1317
My mistake -- this has been merged to v2.x already.

Pro tip: put "closes open-mpi/ompi#1317" in the commit message to auto-close this issue when the PR is merged.  :smile:

[2016-01-25 18:13] #1317 closed

[2016-01-25 18:14] jsquyres commented on #1252
I just pinged @gpaulsen -- he's going to check this out today.

[2016-01-25 18:15] hjelmn commented on #1252
Good. I am sure a btl log will should what is causing the async thread to wake up.

[2016-01-25 21:23] marksantcroos commented on #1123
Closing this as the many-connection model is not the way forward anyway.

[2016-01-25 21:23] #1123 closed

[2016-01-26 00:08] gpaulsen commented on #1252
I emailed output directly to Nathan.
Strangely I was only able to reproduce with a non-debug build.  -g did not show the issue (though I didn't try very hard).

[2016-01-26 02:01] ggouaillardet commented on #1323
@paulromano thanks for the report
so gfortran 5.2.1 is more strict than previous versions when compiling with ```-std=f2008```

at first glance, there is no __need__ for C/Fortran interoperability here (though it is simple and convenient). i ll try to find a solution for that.

[2016-01-26 02:58] jsquyres commented on #1252
FWIW, for large text outputs, we typically tend to use the gist.github.com service, and then post the link here.

[2016-01-26 04:15] jsquyres commented on #1323
@ggouaillardet Looks like this is the fault of https://github.com/open-mpi/ompi-release/pull/851 -- that PR introduced some BIND(C)'s to subroutines with LOGICAL parameters, which is not allowed.

[2016-01-26 09:14] #1247 closed

[2016-01-26 16:10] edgargabriel opened #1328 "2.x does not compile on solaris"
As reported by Siegmar Gross on the mailing list, the 2.x branch does not compile on Solaris because of non-portable usage of statfs

[code]

***EDIT:*** Adding triple-tick quoting for Edgar's paste of Siegmar's compile to make it a bit easier to read.

[2016-01-26 17:06] jsquyres commented on #1328
Adding @siegmargross.

[2016-01-26 18:08] hjelmn commented on #1299
Not quite right but I see what is going on. Working on a patch now.

[2016-01-26 21:52] sjeaugey opened #1329 "osc/rdma segmentation fault when using IB atomics (c_post_start)"
The MTT test ibm/onesided/c_post_start still fails with segmentation fault when using new IB atomics.

Setting btl_openib_flags to 12599 makes the bug disappear.

The core I get is corrupted so I don't have a stack trace yet - will post it as soon as I get it.

[2016-01-26 21:56] sjeaugey commented on #1329
Here is the stack trace (sorry no line number). The crash happens with only 2 ranks on rank 1.

#0  0x00007f439a74f5d0 in ?? ()
#1  <signal handler called>
#2  0x00007f4399d36386 in ompi_osc_rdma_complete_atomic () from /ivylogin/home/sjeaugey/tests/mtt/scratches/mtt-scratch-1/installs/DIFa/install/lib/openmpi/mca_osc_rdma.so
#3  0x00007f43a2f86fe6 in PMPI_Win_complete () from /ivylogin/home/sjeau

[2016-01-26 22:05] jsquyres commented on #1329
**EDIT:** Added triple-single-ticks to the verbatim section to make it easier to read.

[2016-01-26 22:06] sjeaugey commented on #1329
Thanks Jeff.

Nathan, the crash does not always happen on rank 1, sometimes it is on rank 0 also.

[2016-01-26 22:26] hjelmn commented on #1329
My MTT was out of date on our clusters. Updated and now I see this issue. Will fix now.

[2016-01-26 22:46] hjelmn commented on #1329
Simple enough. There was a typo in the osc/rdma MPI_Win_start implementation. Fixed in the referencing PR.

[2016-01-27 02:26] #1329 closed

[2016-01-27 14:30] jsquyres opened #1332 "win_dup_fn test causes gfortran failures"
@ggouaillardet The new win_dup_fn fortran tests cause failures on old compilers.  For example: http://mtt.open-mpi.org/index.php?do_redir=2265.  I'm not sure what the exact issue is; perhaps that older gfortran doesn't like `POINTER`...?

Can you please update the test to avoid this issue?

[2016-01-27 14:48] ggouaillardet commented on #1332
ok, will do

[2016-01-28 08:14] ggouaillardet opened #1333 "issue with travis and clang under linux"
today i noticed several failures of travis on the ompi-release repo, when building on linux with the clang compiler.

here are the relevant logs with clang
[code]

and here are the relevant logs with gcc
[code]

at first glance, it looks like travis folks screwed up ...
since sudo is required (and is available) in all cases, i hardly understand why a whitelist is involved.
moreover, according to t

[2016-01-28 08:24] ggouaillardet commented on #1333
i made experiments in open-mpi/ompi-release#930

this PR can be closed at any time

[2016-01-28 11:35] jsquyres commented on #1333
@ggouaillardet This would make our .travis.yml files different between master and ompi-release, right?

It would probably be best to email the Travis support people first and ask what happened -- because if this happened on ompi-release, it'll (likely?) also happen to master.

[2016-01-28 11:41] jsquyres commented on #1333
I emailed Travis support with some pointers (and CC'ed @ggouaillardet).

[2016-01-28 11:48] ggouaillardet commented on #1333
well, I did not do any pr on master today
that being said, I think it is safe to assume the same issue would happen on master too.
and hopefully, my pr on ompi-release was just a proof of concept on how to fix a problem that should have never happened ...
or maybe it will happen more and more if/when Travis moves to container (and potentially without sudo)

[2016-01-28 12:27] jsquyres commented on #1333
Oh, right -- no PRs on master to see what would happen.

Regardless, let's see what the Travis support people say.

[2016-01-28 17:47] jsquyres commented on #1333
Travei support confirmed that the problem had to do with the Github outage last night.

[2016-01-28 17:47] #1333 closed

[2016-01-29 02:04] jsquyres commented on #1332
Fixed!

[2016-01-29 02:04] #1332 closed

[2016-01-29 13:04] jsquyres commented on #1323
PR to fix this issue: #1327

[2016-01-29 13:14] jsquyres commented on #1252
@gpaulsen @hjelmn Where are we on this issue?

[2016-01-29 15:31] gpaulsen commented on #1252
I've been trying to instrument the code to provide additional output, but when I do, I see nothing new in the output.  I'll have some more time after 3pm central to work on this again today.

[2016-01-29 23:31] gpaulsen commented on #1252
Just finished a web-x with Jeff, and we put some more opal_outputs in and around the openib component.  It looks like OpenIB *IS* calling it's progress thread, even on a single host.

Only reproduce the bad performance without --enable-debug.
I have compiled WITH Thread support: posix (MPI_THREAD_MULTIPLE: yes, OPAL support: yes, OMPI progress: no, ORTE progress: yes, Event lib: yes)
Command:

mpi

[2016-02-01 08:38] igor-ivanov opened #1336 "__malloc_hook issue"
This issue came from UCX:
btl openib sets __malloc_hook to handle alignment (added in this commit https://github.com/open-mpi/ompi/commit/cd17fee9a8bbfc24f01ab09f29149b68e7a57f1d)

when it’s closed (component_close), for example because another component has higher priority, it restores the original handler.

The problem is that the __malloc_hook may have been changed since then by other component

[2016-02-01 13:20] ggouaillardet commented on #1336
if you do that, when ucx is closed, it might restore the openib malloc hook.
and if the openib btl was unmmap'ed, very bad things will happen.

I am afraid we need something more complex
for example a "stack" of hooks, and the possibility to remove a hook in the middle of the stack

[2016-02-01 15:41] gpaulsen commented on #1252
@hjelmn, Any luck?  Do you want to do a shared screen with me?

[2016-02-01 17:22] hjelmn commented on #1252
I still think this is unrelated to the progress function since --bind-to none helps as well. I will look deeper and see what is different between the optimized and debug builds that could be having an impact.

[2016-02-01 17:25] hjelmn commented on #1252
Can you put an opal output in the loop in progress_engine in opal/runtime/opal_progress_threads.c? That should be waking up almost never during the steady-state.

[2016-02-01 19:38] gpaulsen commented on #1252
That is correct.  I've verified that each rank is only calling opal/runtime/progress_engine() once, but we're still getting many many calls in the openib progress function

[2016-02-01 21:07] hjelmn commented on #1252
@gpaulsen Strange. I will have to do some more digging to figure out what might be going on. I measured the affect of the openib btl's progress engine on a shared memory ping-pong and it is at best 50-100 ns. I tested this by just setting btl_progress to NULL in the btl and comparing to the normal latency.

[2016-02-01 22:17] jsquyres commented on #1252
@gpaulsen Can you try removing the openib progress function (i.e., maybe just hack up the code to not register the openib progress function) and see what happens?

I know @hjelmn says it only takes something like 40ns, but there's also caching effects, and vader/sm are sooo sensitive to that kind of stuff.  If it's easy, it's worth trying.

[2016-02-01 22:17] gpaulsen commented on #1252
sure, trying.

[2016-02-01 22:20] jsquyres commented on #1323
@paulromano Just curious: is there a reason you have to use the `-std=f2008ts` flag?

[2016-02-01 22:42] gpaulsen commented on #1252
Okay verified that if I set the .btl_init and .btl_progress fields in the .super of: mca_btl_openib_component_t structure in btl_openib_component.c, the performance returns to normal!

[2016-02-01 22:58] hjelmn commented on #1252
do not set init to null. just progress

[2016-02-02 12:22] gpaulsen commented on #1252
Okay, sorry.  Same result when I keep init as it is in master, but just set progress to NULL.  I still see horrible performance on a single node, and in this mode, if I put a print in btl_openib_component_progress I see on the order of 45,000 calls to btl_openib_component_progress() per rank(but I measured perf without this print).

I still see that --bind-to none makes the problem go away.  With

[2016-02-02 12:36] paulromano commented on #1323
@jsquyres No reason that I *have* to, per se. It's just part of the [style guide](http://openmc.readthedocs.org/en/latest/devguide/styleguide.html#fortran) for my code that any new additions should be F2008 compliant. When I get a pull request from someone with a change to the code, having -std=f2008 gives added assurance that no compiler-specific extensions have been used.

[2016-02-02 15:26] hppritcha commented on #1252
Are the same bad results obtained if the processes are pinned to other cores on the node?

[2016-02-02 16:00] gpaulsen commented on #1252
Great question.  I investigated a few other nodes of the same cluster (some without IB), and can still reproduce the problem.
Then I tried adding --map-by core and the problem disapeared.
When I changed that to --map-by socket the problem reappeared.
Finally I tried --bind-to core --map-by socket and removed openib from the list of btls, and the problem disappeared again.

Does this mean that the

[2016-02-02 16:02] jsquyres commented on #1252
Can you provide an lstopo output for your nodes showing the cores and your hca devices?

[2016-02-02 16:09] rhc54 commented on #1286
Closing as this sounds like a bad install - please reopen if not.

[2016-02-02 16:09] #1286 closed

[2016-02-02 16:12] edgargabriel commented on #1328
fixed with pr #1331 and pr#935 on ompi-release

[2016-02-02 16:12] #1328 closed

[2016-02-02 17:05] lanl-ompi commented on #1252
@gpaulsen could you actually try moving the pairs around the node like with

mpirun --bind-to core --cpu-set 5,6 --display-map -np 2 ./the_command

[2016-02-02 17:08] lanl-ompi commented on #1252
also, could you get check /proc/interrupts between runs?

[2016-02-02 17:09] lanl-ompi commented on #1252
sorry I see I"m logged in as the lanl bot.

[2016-02-02 17:28] gpaulsen commented on #1252
Well, I need at least 3 ranks to reproduce the slowdown.  So I tried --bind-to core --display-map -np 3 and got this:
[0:mpi03] ping-pong 0 bytes ...
0 bytes: 6.98 usec/msg
[1:mpi03] ping-pong 0 bytes ...
0 bytes: 6.99 usec/msg
[2:mpi03] ping-pong 0 bytes ...
0 bytes: 0.36 usec/msg
This means that the connection from rank 2 of CommWorld, to rank 0 of comm world is fast, but not the other two.
The

[2016-02-02 18:01] gpaulsen commented on #1252
Cool!  I uploaded the /proc/interupts before and after to gist:
before:  https://gist.github.com/gpaulsen/9b55d2de12a356450a4d
after: https://gist.github.com/gpaulsen/d07c3b39fb4fe9894dc8
No idea how to read those.

[2016-02-02 18:22] gpaulsen commented on #1252
Still see bad latency when I try a weird --cpu-set like 5,7,9,11 (hyperthreading is on here).

[mpi03:24541] MCW rank 0 bound to socket 0[core 5[hwt 0-1]]: [../../../../../BB/../..][../../../../../../../..]
[mpi03:24541] MCW rank 1 bound to socket 1[core 9[hwt 0-1]]: [../../../../../../../..][../BB/../../../../../..]
[mpi03:24541] MCW rank 2 bound to socket 0[core 7[hwt 0-1]]: [../../../../../../.

[2016-02-02 18:22] gpaulsen commented on #1252
Any other ideas?  I'm central time, and can web-X if you have time.

[2016-02-02 20:31] hppritcha commented on #1252
I don't see anything unusual with the interrupt info.

[2016-02-02 21:14] hjelmn commented on #1252
I tried again and I can't reproduce on master on an opteron + connectx node. Is there any way you can give access to this machine?

[2016-02-02 22:01] gpaulsen commented on #1252
Yes, we can do a shared webX.  Let me know what time you're available.

[2016-02-02 22:37] hjelmn commented on #1252
I have time now or tomorrow between 9 and 11 MST.

[2016-02-02 23:47] #1299 closed

[2016-02-03 12:43] gpaulsen commented on #1252
Lets shoot for 10 MST today for next iteration.

[2016-02-03 16:25] hjelmn commented on #1252
Works for me.

[2016-02-03 17:59] gpaulsen commented on #1252
Nathan was able to isolate the issue to openib/udcm section of code.  He's now re-reading code to come up with next items to try for next iteration this afternoon.

[2016-02-04 16:22] gpaulsen commented on #1252
Let me know when is a good time to iterate again.

[2016-02-04 17:02] jsquyres commented on #1215
Heh -- due to a typo in the commit message, this issue didn't auto-close when 68912d04a876bc29644f30f9a916e001a2fba92f was committed.

Just to be clear: this issue is now fixed on master.  PR to v2.x coming shortly.

[2016-02-04 17:02] #1215 closed

[2016-02-04 18:16] hjelmn commented on #1252
Anytime after 1 MST works for me.

[2016-02-04 18:38] gpaulsen commented on #1252
Let's say 1pm Central / 2pm MST.

[2016-02-04 18:57] hjelmn commented on #1252
Works for me.

[2016-02-04 19:06] gpaulsen commented on #1252
Doah!  1pm Central is 12pm MST.  You available nowish?

[2016-02-04 19:08] hjelmn commented on #1252
hah, ok. going on now

[2016-02-04 23:37] hjelmn commented on #1252
Well, can throw out the udcm cause. We did some more digging and it is indeed the openib progress function. Problem is whatever is causing the slowdown for shared memory is also causing a slowdown for internode ping-pong. The slowdown only happens for processes on the second socket of either node. @gpaulsen is going to experiment with different ofed/mofed versions to see if the slowdown is a ofed

[2016-02-04 23:40] hjelmn commented on #1252
As such this may not be a blocker for 2.0.0. We certainly can add the code to reduce the number of calls to the openib progress function when the btl is not in active use or we could to not poll the openib completion queues unless there are connections but this would fix the symptom not the cause.

[2016-02-04 23:45] jsquyres commented on #1252
Sounds like this could use some testing on other people's IB hardware -- do the same thing as @gpaulsen (including an MPI process that is NUMA-far from the HCA) and see if they get the same kind of bad performance.

[2016-02-05 00:56] sjeaugey opened #1342 "osc/pt2pt : CUDA tests broken"
Several CUDA tests are failing in MTT since Feb 3. This seems related to the recent osc/pt2pt commits.

Here is the stack trace from osu_get_bw_cuda :

[code]

[2016-02-05 01:31] ggouaillardet commented on #1342
@sjeaugey did you give a try to #1341 ?

[2016-02-05 01:43] sjeaugey commented on #1342
Oh, I didn't see this commit was done today. I'll see tomorrow if the problem persists.

[2016-02-05 01:51] ggouaillardet commented on #1342
right now, this is a PR.
but it should be committed shortly

[2016-02-05 02:32] hjelmn commented on #1342
Yup. Has a couple of bugs from changes that didn't make it into the final set of threading fixes. Should run clean tonight.

[2016-02-05 04:49] nysal commented on #1252
Is this sandy bridge? I vaguely recollect adding a stall loop before calling ibv_poll_cq() for processes on the second socket to work around a hardware issue.

[2016-02-05 12:12] gpaulsen commented on #1252
Yes!  This IS a Sandy Bridge.  Intel Xeon E5-2660.

[2016-02-05 12:19] marksantcroos opened #1343 "@ in opal.pc pkg-config file"
The `@{libdir}` that is used "internally" by OpenMPI also ends up in the pkg-config file. There is some conversion code in `opal_setup_wrappers.m4`, but shouldnt that be used before it ends up in the .pc file?

An innocent external consumer of the pkg-config information (like myself) now falls over the unsupported `@`.

[2016-02-05 14:42] jsquyres opened #1344 "v1.10 and master: mpirun without enough slots returns $status==0"
With the HEAD of v1.10 and master (probably v2.x, too, but I didn't check it): if `mpirun` complains about a lack of slots, `mpirun` still returns an exit status of 0.  Note that the test below was run on a machine with 16 cores; this test is run with the ssh launcher and not under a job scheduler (i.e., not in a SLURM job):

[code]

A secondary question: did we decide that this is the behavior we

[2016-02-05 14:48] gpaulsen commented on #1252
So, I talked with @nysal.  He remembers finding this problem internally at IBM with another PE-MPI, and putting in a spin delay before ibv_poll_cq() when running on Sandybridge with certain OFED versions.  That's all he remembers.

[2016-02-05 14:54] gpaulsen commented on #1252
@hjelmn, The two "good" changes to openib that we made yesterday, do you want to get those upstream, or would you like me to?  That might be good practice for me getting stuff upstream, unless you wanted to go and look at other stuff too.

Also, I am not as confident that it's only ibv_poll_cq's fault for the horrible performance.  I really thought that I NULLed out the progression pointer as stat

[2016-02-05 15:09] hppritcha commented on #1252
Okay this brings back memories.  On Cray for processes on the remote socket from the Aries/hcae in craypich we had to add a back off for functions we knew polled cache lines that were also potentially written to by the I/o device.  It was a bug in the sandy bridge  north ridge.

Craypich only turned on the back off if rank was on remote socket and it was sandybridge.  Problem was fixed in ivy ridg

[2016-02-05 15:22] hppritcha commented on #1209
@sjeaugey can this issue be closed?

[2016-02-05 15:41] hjelmn commented on #1252
Ok, it sounds like we can fix this a similar way in Open MPI. We can easily detect both sandybridge and a remote socket. I will take a crack at writing this later today.

[2016-02-05 15:50] hjelmn commented on #1252
Looks like we have a Sandy Bridge system with QLogic. Let me see if I can get the same slowdown with this system.

[2016-02-05 17:12] sjeaugey commented on #1209
Yes. I thought it was already but only 1241 was. Sorry about that.

[2016-02-05 17:12] #1209 closed

[2016-02-05 19:51] hjelmn commented on #1252
No luck getting a similar slowdown with libibverbs 1.0.8 from RHELL 6.7 with QLogic. Will have to test the workaround on the system @gpaulsen is running on.

[2016-02-06 00:17] ggouaillardet commented on #1344
I discussed the secondary question with @rhc54 in an other ticket, and this is what we want.
the behavior changed in the middle of a stable serie, but this is considered as a bug fix

note in master you can
mpirun --host mpi001:16 ...
but not in v1.10

[2016-02-06 00:55] rhc54 commented on #1344
Let me just clarify a bit. I personally dislike this behavior as I find it annoying. However, the issue that was originally raised was the following:

[code]
would automatically run a number of procs equal to the number of cores on host foo, and not just a single process. This is due to our decision to equate the lack of specifying the number of procs to effectively directing that we run a number

[2016-02-06 01:32] ggouaillardet commented on #1344
that sounds much better to me.

can you clarify what will happen if we
mpirun --host foo spawn

it will start one MPI task (so far, so good), but what happens when the MPI task invokes MPI_Comm_spawn ?
will it success because there are let's say 16 cores on foo ?
will it fail because foo is seen as having only one slot ?

some random thoughts ...

with the previous behavior, it was possible to
mpi

[2016-02-06 09:27] rhc54 commented on #1344
In today's code, your example would error out due to a lack of slots, which likely isn't what the user expected.

Hostfile parsing is a different subject. In that case, the behavior is more as you would expect. If you list a hostname once and don't explicitly set the number of slots, then we default to the number of discovered cores. If you list a hostname more than once, then we take that as equi

[2016-02-06 12:52] jsquyres commented on #1344
Just to be clear: this issue is specifically about mpirun returning a status of 0, even when there's an error.  That clearly seems to be incorrect behavior.  I'm guessing it should be easy to fix; I just don't know where to look in the code.

---

The secondary question, I agree, is also quite important.  @rhc54 let me see if I understand current behavior:

1. In a SLURM job (and other RMs):
  * H

[2016-02-06 13:00] jsquyres commented on #1336
I agree with @ggouaillardet -- sounds like some OPAL-level infrastructure to track the malloc hook is required.

[2016-02-06 15:57] rhc54 commented on #1344
I agree about this issue being more limited, but I'd rather not dive into that code multiple times if it can be avoided. So let's resolve the desired behavior.

Your detailing of the current behavior is correct.

[2016-02-06 17:47] hppritcha commented on #1342
@sjeaugey can you verify this PR fixes the osc problems you were observing?

[2016-02-07 03:33] sjeaugey commented on #1342
Fixed indeed. Closing.

[2016-02-07 03:33] #1342 closed

[2016-02-07 13:25] jsquyres commented on #1344
@rhc54 Agreed that we might as well dive into this code once; I just wanted to make sure that the original issue that was reported wasn't lost in the discussion.

If the description at https://github.com/open-mpi/ompi/issues/1344#issuecomment-180757640 is correct, then it seems like a no-brainer to make the `--hostfile` and `--host` behavior the same in terms of what happens when no slot count is

[2016-02-07 13:32] jsquyres commented on #1136
@matcabral reported what seems to be the same issue on the mailing list: http://www.open-mpi.org/community/lists/devel/2016/02/18542.php

From his mail:

[code]

[code]

[code]

[2016-02-07 14:00] ggouaillardet commented on #1344
imho, ```--hostfile``` and ```--host``` should do exactly the same thing
(e.g. ```--host ...``` is the command line form and ```--hostfile``` is the "filename" form, and these two options could/should be exclusive)

there are currently two differences between ```--host``` and ```--hostfile``` on a machine with ```n``` slots

```mpirun --host localhost a.out```
does run one MPI task, but (the local

[2016-02-07 15:15] jsquyres commented on #1344
I think I agree with everything @ggouaillardet is saying.  To summarize:

1. We all agree that `mpirun -np X ...` that results in oversubscription + mpirun aborting should **not** exit with status 0.
  * Fix for v1.10.3
1. We all agree that `--host` should behave like `--hostfile` in terms of counting slots (i.e., oversubscription definition).
  * Fix for v1.10.3
1. There is a difference between `

[2016-02-07 15:50] rhc54 commented on #1344
:weary: the behavior you describe is what we -did- have prior to deciding we needed to change it to the current behavior. Why don't we at least raise this at the telecon on Tues - and then let's agree to quit going back-and-forth on this topic as it is getting rather confusing to the users and frankly frustrating to me.

[2016-02-08 02:46] ggouaillardet commented on #1343
@marksantcroos i cannot see any ```@``` in my ```.pc``` files.
which ompi version are you using and what is your ```configure``` command line ?

[2016-02-08 05:02] matcabral commented on #1136
yes, it seem to be the same. @masteele, does you workload actually finishes leaving the zombie childs? In my case the application does not finish. (until SIGSTOP and SIGCONT are sent)

[2016-02-08 08:59] yosefe commented on #1336
@igor-ivanov maybe at least we can install malloc hook for btl_openib, only if it's really used, and not if it is not eventually selected?

[2016-02-08 09:25] marksantcroos commented on #1343
This is with ~HEAD. I encounter it on multiple systems, but not all of them.
Both for dynamic and static builds, and all configured basically like:
[code]

[2016-02-08 09:38] ggouaillardet commented on #1343
You meant latest master, right ?
Can you please give the details of a system on which .pc are broken ?
(Distro and compiler version ?)

[2016-02-08 09:50] marksantcroos commented on #1343
Yes, latest master, but it isn't a recent thing.

E.g. Comet @ SDSC:
- CentOS release 6.6
- gcc version 4.9.2
- pkg-config version 0.23
- automake (GNU automake) 1.13.3
- autoconf (GNU Autoconf) 2.69
- m4 (GNU M4) 1.4.16

[2016-02-08 15:30] jsquyres commented on #1343
@marksantcroos Can you show exactly what you're seeing?

When I install from the git master, this is the ompi.pc file that I see:

[code]

And if I use it:

[code]

which looks ok to me.

The other .pc files in the $libdir/pkgconfig dir look similar.

[2016-02-08 17:12] marksantcroos commented on #1343
[code]
Note that I only see it in the opal.pc, not in the orte.pc.

[2016-02-08 18:12] jsquyres opened #1346 "Move grpcomm fixes / rcd and brks ignores to v2.x"
The grpcomm fixes (which ended up opal_ignoring rcs and brks) from open-mpi/ompi#1215 need to be PR'ed over to v2.x.

[2016-02-08 18:44] jsquyres commented on #1343
Got it.  Easy typo to fix; thanks!

[2016-02-08 18:55] #1343 closed

[2016-02-08 20:25] marksantcroos commented on #1343
Thanks!

[2016-02-09 16:12] rhc54 commented on #1088
This should be resolved and the components have been updated anyway - let's refile if/when it resurfaces

[2016-02-09 16:12] #1088 closed

[2016-02-09 17:16] jsquyres commented on #1252
Update from discussion on Feb 9 2016 webex: it may not be the well-known Sandy Bridge bug -- it seems like the latency added is too high (the Sandy Bridge bug only aded hundreds of nanoseconds, not multiple milliseconds).  @gpaulsen is going to test with MXM/RC to see if he can duplicate the issue -- if it's a hardware / driver issue, it should show up with MXM, too.

That being said, we still wan

[2016-02-09 17:20] hjelmn commented on #1252
@jsquyres multiple microseconds, not milli.

[2016-02-09 17:22] jsquyres commented on #1252
@hjelmn Thanks -- I edited/fixed the comment.

[2016-02-09 17:23] gpaulsen commented on #1252
I THINK it's showing up with MxM also.  I can reproduce with just MxM across 2 nodes (fast on first socket and slow on 2nd), or MxM on same node.  The thing is, I'm getting nasty messages saying that MxM was unable to be opened, so Now I don't know WHAT is happening.
`[gpaulsen@mpi03 ompibase]$ mpirun --hostfile hosts -np 2 --bind-to core --dispy-map --report-bindings --mca mtl mxm --map-by core -

[2016-02-09 17:26] gpaulsen commented on #1252
ANOTHER thing...

I do NOT see this behavior with Platform MPI using VERBS RC:

[gpaulsen@mpi03 ompibase]$ /opt/ibm/platform_mpi/bin/mpirun -np 2 -intra=nic -prot -IBV -aff=bandwidth,v ~/bin/ppr.x 64
libibverbs: Warning: no userspace device-specific driver found for /sys/class/infiniband_verbs/uverbs1
libibverbs: Warning: no userspace device-specific driver found for /sys/class/infiniband_verbs/uv

[2016-02-09 17:30] jsquyres opened #1348 "Disable dynamic add procs for 32 bit and big endian environments"
Per discussion on the [Feb 9 2016 webex](https://github.com/open-mpi/ompi/wiki/WeeklyTelcon_20160209), we decided that the quickest / easiest solution for v2.0.0 is to simply disable the dynamic add procs behavior for big endian and 32 bit environments.

This will allow discussion to continue on #1345 to come to a better long-term solution (which may take a little time to get consensus, implement,

[2016-02-09 17:39] jladd-mlnx commented on #1252
Geoff, looks like you haven't built your OMPI with MXM support.

On Tue, Feb 9, 2016 at 12:23 PM, Geoff Paulsen <notifications@github.com>
wrote:

[2016-02-09 17:40] jladd-mlnx commented on #1252
Your experiment 'With MXM' is not valid. It's falling back onto the BTL.

On Tue, Feb 9, 2016 at 12:39 PM, Joshua Ladd <jladd.mlnx@gmail.com> wrote:

[2016-02-09 18:00] gpaulsen commented on #1252
Ah, yes.  Drat.  Thanks.  ompi_info |grep -i mxm shows nothing...
rebuilding.  Thanks.

[2016-02-09 21:31] jsquyres opened #1350 "Fix process name sentinel value in 32 bit and big endian systems"
Per the following, we currently have a problem with the dynamic add procs behavior on 32 bit and big endian systems:

* https://github.com/open-mpi/ompi/pull/1349: ompi: temporarily disable dynamic add_procs on big-endian and 32-bit
* https://github.com/open-mpi/ompi/issues/1348: Disable dynamic add procs for 32 bit and big endian environments
* https://github.com/open-mpi/ompi/pull/1345: Topic/se

[2016-02-09 21:31] jsquyres commented on #1348
@hjelmn Can you refer to https://github.com/open-mpi/ompi/issues/1350 in the comments in your code?

[2016-02-10 17:13] matcabral opened #1352 "Misleading openib Warning message for default subnet GID"
While testing on a node with 4 HFI (Intel OmniPath devices) using openib btl we saw that a Warning message is shown when the default subent GID is used to warn the user of possible miss behaviors. This is described in detail here: https://www.open-mpi.org/faq/?category=openfabrics#ofa-default-subnet-gid

However, found that the text does not represent what the code is actually testing/finding. The

[2016-02-11 00:23] rhc54 commented on #1344
@jsquyres @ggouaillardet Please see #1353 and tell me if this is okay

[2016-02-11 01:22] jsquyres commented on #1352
@matcabral Pro Github tip: if you do the following, it'll syntax highlight the C code block in your github markdown:
1. Put a line with three single ticks and a "c" before the code block (which tells the syntax highlighter how to highlight the code block -- as C code)
1. Put a line with three single ticks after the code block

I edited your original comment to put the single ticks in there.

[2016-02-11 01:23] jsquyres commented on #1352
@rhc54 Shouldn't this be assigned to Steve Wise?  I thought Chelsio volunteered to do the upkeep for the openib BTL.

[2016-02-11 01:24] rhc54 commented on #1352
@jsquyres Steve hasn't been able to do so for some time now - it has mostly been a combination of @hjelmn @artpol84 and @ggouaillardet

[2016-02-11 02:08] #1350 closed

[2016-02-11 02:17] matcabral commented on #1352
@jsquyres thanks, look nicer with colors :)

[2016-02-11 03:01] ggouaillardet commented on #1352
I can have a look at it
for the time bring, you can
```mpirun --mca btl_openib_warn_default_gid_prefix 0 ...```
in order not to display this warning.

[2016-02-11 11:41] jsquyres opened #1355 "MPI_GET_ADDRESS fails with MPI_BOTTOM"
As pointed out by @dalcinl, MPI_GET_ADDRESS fails when passed MPI_BOTTOM.

See http://www.open-mpi.org/community/lists/devel/2016/02/18578.php

[2016-02-11 11:42] jsquyres commented on #1355
@dalcinl also sent a small test reproducer which should be added to our regression tests:

[code]

[2016-02-11 12:31] jsquyres commented on #1323
@paulromano I realized I never ACKed your response -- oops!  Ok, thanks for the info.  I don't think Github sends mails for the related PRs and issues opened on this ticket, but we've split the solution into 2 parts: 1) fix the accidental LOGICAL pollution of BIND(C) stuff, and 2) re-implement the MPI default attribute handling callbacks in the referenced Github PRs.

[2016-02-11 12:35] paulromano commented on #1323
@jsquyres @ggouaillardet Thanks for the quick action on this issue; look forward to the next version!

[2016-02-11 15:32] dvandok commented on #628
Sorry to get back so late about this. I missed the notifications while I wasn't using github for a while.

The compromise sounds fine. I'm not sure how reliable it is, but mock seems to set HOSTNAME=mock and change PROMPT_COMMAND as well to include mock-chroot:
`PROMPT_COMMAND='printf "\x1b]0;<mock-chroot>\x07<mock-chroot>"'`

HTH,

Dennis

[2016-02-11 17:27] #1323 closed

[2016-02-11 18:28] bosilca commented on #1355
MPI_BOTTOM is defined as a "constant" by the MPI standard. I don't understand what you expect to get as it's address ?

[2016-02-11 18:36] jsquyres commented on #1355
Actually, you're right -- I read it too quickly this morning and thought it was segv'ing.  It's invoking an MPI exception, which seems to be the correct response.

@dalcinl please feel free to reply if you think that's incorrect.

[2016-02-11 19:35] dalcinl commented on #1355
On 11 February 2016 at 21:36, Jeff Squyres <notifications@github.com> wrote:

​Of course MPI_BOTTOM is a constant, I'm not asking about taking the
"address" of a constant expression. My point is that the following two
lines should succeed (at least on platforms where MPI_BOTTOM is equivalent
to NULL):

​MPI_Get_address(MPI_BOTTOM,&address);
assert(address == 0);

​i.e. this is equivalent to a cast

[2016-02-11 19:43] dalcinl commented on #1355
I forgot to mention that the Fortran bindings likely require some extra care, but in the C code implementing ``MPI_Get_address()``, removing the check for ``location == NULL`` is enough.

[2016-02-11 19:59] hjelmn commented on #1355
I think @dalcinl might be correct here. MPI_Get_address does not explicitly forbid passing MPI_BOTTOM. The text in the standard says that MPI_Get_address will return the address relative to MPI_BOTTOM. So, by definition MPI_Get_address (MPI_BOTTOM, &address) should return 0 in address.

[2016-02-11 20:26] jsquyres commented on #1355
Ok.  I'm flip-flopping here, then.  :smile:

Let's fix it.

[2016-02-12 03:41] bosilca commented on #1355
@hjelmn argument make sense. However, the use of NULL for MPI_Get_address is only tolerated as a side-effect of the fact that we define MPI_BOTTOM as (void*)0.

[2016-02-12 04:48] hjelmn commented on #1355
True, but statements like this seem to indicate that it is a valid interpretation:

[code]

[2016-02-12 09:32] doko42 commented on #874
seeing similar issues on powerpc 32bit, https://bugs.debian.org/814183

are these fix applied for the 1.10.x series as well?

[2016-02-12 10:30] ggouaillardet commented on #874
the fix was for pmix and there is no such thing in the v1.10 series

[2016-02-12 22:36] jsquyres commented on #874
@doko42 From that Debian bug report, it's not clear what the error is.  Is there a corefile or some other error product that shows what has failed?

[2016-02-13 13:27] #1355 closed

[2016-02-14 04:52] bosilca commented on #1152
This issue has been addressed by @jsquyres in 11c571b5.

[2016-02-14 04:52] #1152 closed

[2016-02-14 05:04] bosilca opened #1359 "Failure calling MPI_Type_set_attr(datatype, keyval, NULL)"
Despite working for communicators and windows, setting a NULL attribute value in datatypes fails with MPI_ERR_ARG.

[2016-02-14 13:41] nysal commented on #874
@doko42 I haven't tried running powerpc 32-bit in a while. Could you attach gdb to the hung tasks and get a backtrace? Do simple examples shipped with ompi work?

[2016-02-14 16:05] paboyle opened #1360 "shmem_align argument ordering"
https://github.com/open-mpi/ompi/blob/master/oshmem/shmem/c/shmem_align.c

static inline void* _shmemalign(size_t align, size_t size);

void* shmem_align(size_t align, size_t size)
{
    return _shmemalign(align, size);
}

void* shmemalign(size_t align, size_t size)
{
    return _shmemalign(align, size);
}

Cray XT series (BlueWaters):

emacs -nw ../../../lib/AlignedAllocator.h
boyle1@h2ologin1:~/

[2016-02-14 16:51] bosilca commented on #1360
It's indiscutable who is diverging from mainstream. The [Open SHMEM standard](http://openshmem.org/site/sites/default/site_files/openshmem-specification-1.2.pdf) is clear about the order (Section 8.2.1). Moreover, there are precedences for this particular argument ordering, at least with the SHMEM implementation from [IBM shmemalign](http://www-01.ibm.com/support/knowledgecenter/SSFK3V_1.3.0/com.i

[2016-02-14 17:20] mbanck commented on #157
Hello, what is the status of the bug? Debian has switched all their architectures to OpenMPI by default now, but the fact that OpenMPI has broken MPI_THREAD_MULTIPLE probably means it should switch back to MPICH?

The current version of OpenMPI on Debian is 1.10, do we have to assume that this bug is still open there?

[2016-02-15 05:51] ggouaillardet commented on #1352
@matcabral i made #1362 to fix that.
could you please give it a try ?
/* i have no such hardware to test that */

if you are using the v1.10 series, the patch is available at https://github.com/ggouaillardet/ompi-release/commit/66b5f8f4d93712ccb03d1578d73f27818720e320.patch

[2016-02-15 10:31] nysal opened #1363 "PPC64 crash with current master branch"
I started noticing occasional crashes on PPC64 with master branch. The crash is from the child process soon after mpirun forks it (before it exec's the application).  The stack trace was nearly the same most of the time:

[code]
The stack trace was at times slightly different (crash in strncmp instead of malloc). The issue was that the copy of the environment variables stored in the application co

[2016-02-15 12:00] paboyle commented on #1360
I’m not passing judgement on who is to blame; just pointing out the inconsistency which sucks.

(cost me a few hours… plus build configuration code needs to detect cray vs non-cray implementation, which is ugly as sin!)

There is presumably a standard process and (at least!) one implementation isn’t following it?

Peter

The University of Edinburgh is a charitable body, registered in
Scotland, wit

[2016-02-15 13:59] gpaulsen commented on #1252
I updated to latest master, and can no longer reproduce.
I'll try to reproduce on 2.0 branch tuesday morning (I'm off today).

[2016-02-15 15:19] hjelmn commented on #1363
Fix looks ok to me. Should be updated to use opal_getpagesize() and OPAL_ALIGN. The comment should also say why the buffer should be a multiple of the page size. If the comment ends up being multiple lines please use C89-style comments. I never liked C++-style // comments.

[2016-02-15 15:27] jsquyres commented on #1359
@bosilca I think you need to say "Fixes #xxx" in the commit message to auto-close github issues (vs. "Provides a fix for #xxx".

Also, thanks to @dalcinl for reporting the issue.

[2016-02-15 15:27] #1359 closed

[2016-02-15 15:52] nysal commented on #1363
Thanks for the review. I'll address the review comments.

[2016-02-15 16:23] hjelmn commented on #1363
Sure, open a PR with the updated patch and be sure to include this line:

Close open-mpi/ompi#1363

in the comments. That will ensure that the ompi-release versions point back to the bug.

[2016-02-15 17:09] valkenburg opened #1364 "EXC_BAD_ACCESS when calling MPI_Finalize after main() returns (OS X)"
The following minimal programme exits with a bad-access signal when compiled with open-mpi 1.10.2 on OS X. It does not crash on Linux. I configured open-mpi with the flags:
`--disable-mpi-fortran --enable-static --disable-shared CFLAGS=-std=gnu11`
and compiled with clang.

The minimal code for a crash:
[code]

the crash report when running `mpic++ -O0 -g -o test.out test.cpp  && ./test.out`:

[cod

[2016-02-15 17:12] jsquyres commented on #1364
This is certainly not a use case that we have tried before.

Are there POSIX guarantees about what is allowed to be executed before and after main()?

[2016-02-16 02:25] kawashima-fj commented on #393
This issue is fixed by 5b9c82a9648b06364b695e199711e1c26a3afeeb in master and open-mpi/ompi-release@0e8f2675bf13dd6aa34cbf4492f92a5cddcaaf6f in v2.0 and can be closed. Right? Thanks!

[2016-02-16 13:55] jsquyres commented on #393
@hjelmn @sjeaugey @bosilca Do you agree that this can be closed?

[2016-02-16 14:15] hjelmn commented on #393
Yeah. I added a barrier until I can ensure no operations are complete at the target until it reaches the fence.

[2016-02-16 14:15] #393 closed

[2016-02-16 16:37] jsquyres commented on #1348
This issue is now moot -- we do *not* need to disable dynamic add procs for big endian and 32 bit machines.  Closing this issue.

[2016-02-16 16:37] #1348 closed

[2016-02-16 16:38] jsquyres commented on #1346
This is done in open-mpi/ompi-release#952.

[2016-02-16 16:38] #1346 closed

[2016-02-16 16:57] sjeaugey opened #1366 "halo_1sided_put_alloc_mem_usempi race condition on IB"
From MTT tests, running halo_1sided_put_alloc_mem_usempi between two nodes produces errors :

[code]

It doesn't seem to fail intra-node.

It is actually not related to IB, since it also fails with TCP.

Note : this failure is not new, just showed up because some "stop" were added to MTT tests in case of errors.

[2016-02-16 17:06] hjelmn commented on #1366
Ah, this test. I added a barrier to osc/pt2pt that should have fixed this with tcp. Can you retest with the latest master and -mca osc pt2pt,sm?

[2016-02-17 08:28] ggouaillardet opened #1370 "issue with sparse groups and cutoff"
latest master failed when ompi was configure'd with ```--enable-sparse-groups``` and now it is using ```--mca mpi_add_procs_cutoff 0``` by default.

the root cause is some ```ompi_proc_t``` objects are OBJ_RELEASE'd after their ```obj_reference_count``` reaches zero

this can be reproduced with 2 nodes, 8 tasks and with ```collective/intercomm/bcast_inter``` from the ```ibm``` test suite

the inli

[2016-02-17 19:49] clintonstimpson commented on #100
Here is a stack trace I'm getting.

==34246== Invalid read of size 2
==34246==    at 0xA415730: mca_pml_ob1_recv_request_free (memchecker.h:115)
==34246==    by 0x6D83854: ompi_request_default_wait_all (request.h:350)
==34246==    by 0xBAEDC26: ompi_coll_tuned_sendrecv_actual (coll_tuned_util.c:54)
==34246==    by 0xBAF7C86: ompi_coll_tuned_allgatherv_intra_bruck (coll_tuned_util.h:57)
==34246==

[2016-02-17 22:16] hjelmn opened #1375 "MCA parameter file parsing of env vars is broken"
Specifying environment variables using the:

-x FOO=bar

syntax in MCA files is currently broken in master and v2.x. Specifying a line like above can lead to memory corruption, incorrect behavior, or just cause mpirun to abort.

I have opened #1374 to fix the issue on master but it will also need to be fixed on 2.x.

[2016-02-18 02:59] bosilca commented on #100
Hi,

memchecker_call  doesn't take in account when no data is attached to a
communication (either due to the count being 0, or due to the fact that the
datatype has no useful data). Can you please try the following patch:

diff --git a/ompi/include/ompi/memchecker.h b/ompi/include/ompi/memchecker.h
index 6ba22e6..23f4f4a 100644
--- a/ompi/include/ompi/memchecker.h
+++ b/ompi/include/ompi/memchecke

[2016-02-18 05:22] bosilca commented on #1364
Open MPI registers a destructor (opal_cleanup) where we cleanup all memory used to handle our classes and other internal objects. There is no guarantee in which order the destructors are called at exit. Unfortunately for you, our destructor is called early in the termination process, ahead of the C++ static destructors, so by the time you call MPI_Finalize our most internal software layer (OPAL) i

[2016-02-18 07:04] #1363 closed

[2016-02-18 15:13] clintonstimpson commented on #100
The patch fixes my problem.  Thanks!

[2016-02-18 18:54] #100 closed

[2016-02-18 19:39] jsquyres opened #1379 "Hangs on failures on master"
In the Cisco MTT cluster, we're seeing a large amount of hangs on tests that are supposed to fail (e.g., they call MPI_ABORT).  Specifically, test MPI processes do not die, even if their HNP and local orted are gone.  The MPI processes keep spinning and consuming CPU cycles.

I'm seeing this across a variety of configure command line options.  I.e., it doesn't seem to be specific to a single probl

[2016-02-18 21:15] jsquyres commented on #1379
@rhc54 and I chatted about this on the phone.  He's looking into it.

[2016-02-18 21:51] rhc54 commented on #1379
@jsquyres I think I have this fixed, or at least the problem associated with MPI_Abort. I'm not sure if/why it would show up in 2.x as it was due to a change in the IOF a couple of days ago.

Let me know if you see any continuing problems, and if there is something going on in the 2.x branch.

[2016-02-18 21:59] jsquyres commented on #1379
I *think* my MTT problems were all caused by this master issue, but these failures increased the load on my servers, thereby causing a cascade of other failures.  So it's kinda hard to tell if the real root was originally on the master.  We'll let it percolate through MTT over the next several days and see what happens.

[2016-02-19 01:59] hjelmn opened #1383 "Fix remaining XRC issues"
Just to keep track of the Jenkins failure. I think I know what might be causing the remaining problem. @miked-mellanox I will fix and PR tonight.

[2016-02-19 02:00] hjelmn commented on #1383
@hppritcha This will fit in with the rest of the XRC fixes which should be reviewed tomorrow.

[2016-02-19 02:43] rhc54 commented on #1379
I found another error that was also causing problems in certain cases and fixed it too. It should have made it into tonight's tarball, so hopefully we'll see the impact soon.

[2016-02-19 03:25] rhc54 commented on #1379
My MTT tonight is looking very clean, so hopefully this has resolved the problem.

[2016-02-19 04:48] #1383 closed

[2016-02-19 05:29] rhc54 commented on #1379
[code]

[2016-02-22 16:16] amckinstry commented on #1242
I'm now maintaining OpenMPI for Debian (having uploaded 1.10.2, currently undergoing transition), and hence in practice for Ubuntu.
Best regards
Alastair McKinstry (mckinstry@debian.org)

[2016-02-22 16:21] amckinstry opened #1393 "openmpi 1.10 has stderr output by default, breaking autopkg tests"
Upstream bug in Debian:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=814451

Seen at least for lammps, esys-particle, liggghts:

[code]

**EDIT:** Added verbatim markdown

[2016-02-22 16:53] rhc54 commented on #1393
Not sure I completely understand the issue here - if we encounter an error, then we will emit a user-friendly error message. In this case, it looks like the error is that we have no way of communicating, which means the package is indeed "broken".

[2016-02-22 17:33] eschnett commented on #1242
@amckinstry Thank you!

[2016-02-22 19:03] jsquyres commented on #1242
@amckinstry Sweet; thanks. Let us know if there's anything you need from us.  We like to have an open dialogue with our downstream packagers.

[2016-02-22 19:05] jsquyres commented on #1242
Bug is now closed at the Ubuntu launchpad -- closing the bug here, too.

[2016-02-22 19:05] #1242 closed

[2016-02-22 19:43] jsquyres commented on #1393
@amckinstry Yes, to be clear, it looks like Open MPI is complaining that it cannot communicate between peer processes.  This may be a function of how Open MPI was built, or it may be a function of the kind of environment in which the test is running.

[2016-02-22 23:04] rhc54 commented on #1242
@amckinstry Very glad to hear that you are taking this over! Just as an FYI: beginning with the 2.0 release (due out soon), there will be another external package (PMIx) that needs to be present along with OpenMPI (it is currently embedded in OMPI, but I know the distros prefer it to be separate). I filed a Debian ticket noting that a new PMIx package needs to be added to the distro, but I haven't

[2016-02-23 16:29] hppritcha opened #1396 "ompi_info -a should show all built components"
ompi_info -a should show all components regardless of whether or not they have parameters.  This provides users a relatively easy way to determine whether or not a given component is available for the Open MPI they are trying to use.

[2016-02-23 21:51] sjeaugey commented on #1366
Oh, I didn't see you asked me to test again master -- and I failed to mention explicitely that it works on v2.x and on master.

So, this is a v1.10 problem only. I'm not saying we should fix this, we will just continue seeing 2 errors in MTT in v1.10. Or maybe there is a way to acknowledge that error and not report it in MTT.

[2016-02-23 21:59] hjelmn commented on #1366
Ah, hmmm. Guess I will go ahead and fix this for 1.10.3. No reason no to.

[2016-02-23 22:07] sjeaugey commented on #1366
If you know how to fix it and you don't need to bring the whole new code into v1.10, then yes, there is no reason not to do it.

I was just afraid that could be a big change and it was not a regression in the first place, just an error that started to show up because we fixed the test.

[2016-02-23 22:09] hjelmn commented on #1366
Nah. Its just the barrier in MPI_Win_fence that helps this. I don't like it but I see why it might be needed for this test.

[2016-02-24 00:14] ggouaillardet commented on #1393
@amckinstry from reading the source code, this message can only be issued by the openib btl.
i suspect there is an infiniband interface that cannot be used (for example, there is no opensm running)

as a workaround, you can disable the openib btl
you can
```mpirun --mca btl ^openib ...```
or you can
```export OMPI_MCA_btl=^openib```
and then invoke mpirun as usual

[2016-02-24 13:22] jsquyres commented on #30
@gpaulsen @markalle We had a lengthy discussion about this connectivity map yesterday during the [2016 Feb Dallas Open MPI dev meeting](https://github.com/open-mpi/ompi/wiki/Meeting-2016-02), and then a further lengthy conversation about this at dinner last night.  Main points:

* Platform MPI shows several things in their `-prot` output:
  1. See https://gist.github.com/markalle/52fb42c701267c49b

[2016-02-24 20:19] jsquyres opened #1401 "v2.0.0: Remove non-ignore TKR mpi module"
@hppritcha and I discussed it: remove the (old) non-ignore TKR mpi module.  It is only for gfortran < v4.9.2.

This will basically:

* rm -rf ompi/mpi/fortran/use-mpi-tkr
* remove a bunch of associated configury
* edit README to remove all mention of the TKR-based mpi module

[2016-02-24 20:59] jsquyres commented on #1401
@rasmussn @ggouaillardet Do you guys have any comment / reservations about this?

[2016-02-24 23:28] jsquyres commented on #1162
Per discussion 24 Feb 2016, @hjelmn will look at this.

[2016-02-24 23:32] jsquyres commented on #1225
Per discussion on 24 Feb 2016, moving this milestone back to v2.0.1.  Rationale: it's a bug fix, and it does not affect our backwards compatibility promises for the 2.x series.

[2016-02-24 23:56] jsquyres commented on #1401
After discussion at the Dallas Feb 2016 meeting, we decided to punt this to v3.0.0 (we have to do it at an x.0.0 boundary because this will affect our definition of backwards compatibility).  It seems too early to remove this -- e.g., RHEL 6.x gfortran is v4.4.7.

[2016-02-24 23:58] #1379 closed

[2016-02-25 00:00] jsquyres commented on #1100
Per discussion 24 Feb 2016, @hjelmn is going to test this again and see if the issue still exists.

[2016-02-25 00:13] jsquyres opened #1402 "Fix CUDA support in v2.0.0"
According to @sjeaugey, CUDA support on the v2.x branch is currently broken.  @bosilca might have some fixes hiding on a side branch somewhere...?

@sjeaugey @bosilca

[2016-02-25 00:21] jsquyres opened #1403 ""make check" can't run any tests that use components (without installing first)"
It would be great if we could add more useful tests to OMPI's "make check", but we have been systematically removing (or commenting out) tests from "make check" because it requires that the components be installed.

Perhaps we can have "make check" somehow check to see if OMPI has been installed (and/or is reachable via LD_LIBRARY_PATH/whatever), and if so, run extra tests.

This is worth thinking

[2016-02-25 00:24] ggouaillardet commented on #1401
@jsquyres +1
this is definitely too early for RHEL 6 series
note RHEL 7.x fortran is v4.8 (which is less than 4.9.2) and does not support IGNORE_TKR too
(and i have no idea about the RHEL 8 roadmap, nor OpenMPI 3)

[2016-02-25 00:30] ggouaillardet commented on #1403
@jsquyres would ```make check``` work if OMPI was not installed __but__ configure'd with ```--disable-dlopen``` ?

[2016-02-25 00:32] jsquyres commented on #1403
Yes.

Sent from my phone. No type good.

On Feb 24, 2016, at 6:30 PM, Gilles Gouaillardet <notifications@github.com<mailto:notifications@github.com>> wrote:

@jsquyres<https://github.com/jsquyres> would make check work if OMPI was not installed but configure'd with --disable-dlopen ?

-
Reply to this email directly or view it on GitHub<https://github.com/open-mpi/ompi/issues/1403#issuecomment-1885

[2016-02-25 00:33] jsquyres commented on #1401
Oy - not even RHEL 7?  Sad panda.

Sent from my phone. No type good.

On Feb 24, 2016, at 6:24 PM, Gilles Gouaillardet <notifications@github.com<mailto:notifications@github.com>> wrote:

@jsquyres<https://github.com/jsquyres> +1
this is definitely too early for RHEL 6 series
note RHEL 7.x fortran is v4.8 (which is less than 4.9.2) and does not support IGNORE_TKR too
(and i have no idea about the R

[2016-02-25 04:00] sjeaugey commented on #1402
Here is the crash stack :

[code]

[2016-02-25 04:28] sjeaugey commented on #1402
I think I found the problem.

I noticed the bml_endpoint was retrieved with mca_bml_get_endpoint() right after cuda_need_buffers(). That function seems to call add_proc() if the endpoint is not there yet.

In btl_array_find(), the only reason why it would crash seems to be the bml_endpoint not being valid. And indeed, we get the bml_endpoint without handling this add_proc() case. So I replaced the

[2016-02-25 05:35] sjeaugey commented on #1402
My commit closed the bug, but that was actually not the intent since this bug is for 2.0.0.

[2016-02-25 05:44] ggouaillardet commented on #1393
as i wrote in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=814451#25

this is a warning message, not an error message (and i guess debian considers as an error if something is written to stderr)

that can be reproduced by loading ```mlx4_core``` kernel module on a system with no infiniband hardware. that can also happen if the ```__linux__``` macro is not defined.
from an openmpi point of vie

[2016-02-25 10:28] amckinstry commented on #1393
Thanks, correct, "autopkgtest" is a Debian infrastructure for testing packages: it runs the test suites for packages (eg. aces, nwchem, etc. ), which then presume openmpi is present / configured. If it spots stderr output, it considers the test failed.

Current potential solutions:
(1) Set "export OMPI_MCA_btl=^openib", don't presume openib is present/configured. This is a functionality test, not

[2016-02-25 10:35] ggouaillardet commented on #1393
about 2) this is just a guess, and that would be the case only if infiniband hardware is installed on the node.
can you update the ticket on Debian bugs so I fully understand why the warning is issued ?
I will double check about 3), but I guess we can already do that without any patch (e.g. environment variable only)

[2016-02-25 11:11] ggouaillardet commented on #1393
btw, if my initial guess is correct (e.g. no infiniband hardware installed, but infiniband kernel modules are loaded), the easiest "fix" is to unload the infiniband drivers.

[2016-02-25 14:50] hppritcha opened #1404 "cma support - enable by default if detected?"
We might want to support CMA by default if auto-detected by configury.  Currently --with-cma needs to be on the configure line to pick up CMA support.

@jsquyres

[2016-02-25 15:54] gpaulsen commented on #1252
I reran with open MPI 2.0 branch, and the latency hit is about 500ns to RDMA via openib to the far socket on haswell.

[2016-02-25 16:58] jsquyres opened #1405 "Add public symbol verification list"
Per discussion in the Dallas Feb 2016 meeting, add some "nm" types of tests (during `make check`?) to make sure that we're only exporting the symbols that we mean to export.  We really only want to export the MPI API, and possibly a few other symbols -- i.e., we'll likely need some kind of whitelist.

@gpaulsen said that they do this kind of stuff in Platform MPI and would be willing to contribute

[2016-02-25 17:03] bosilca commented on #1402
dbe93b0 is implementing the same fix on our debugging path. It should be cherry-picked in same time.

[2016-02-25 17:15] jladd-mlnx commented on #1252
Nice. Exactly what I would expect.

On Thu, Feb 25, 2016 at 10:54 AM, Geoff Paulsen <notifications@github.com>
wrote:

[2016-02-25 17:22] gpaulsen commented on #1252
okay great good to know.  I have the additional item to test on 1.10 to see if it was a regression, but we're pretty sure it's not a regression.  Assuming it's not, we'll close this.

[2016-02-25 17:27] jsquyres opened #1406 "Fix TCP BTL THREAD_MULTIPLE deadlock"
Discussed at Feb 2016 Dallas meeting.  @bosilca says he knows what the problem is and will fix it.

[2016-02-25 17:28] hppritcha opened #1407 "update MPI_THREAD_MULTIPLE blurb in README for 2.0.0 release"
The README section concerning ```MPI_THREAD_MULTIPLE``` needs to be updated.

[2016-02-25 17:29] jsquyres opened #1408 "Fix vader MPI_THREAD_MULTIPLE deadlock."
Discussed at Feb 2016 Dallas meeting.  @bosilca says he runs into it periodically; he will get with @hjelmn and help identify where the problem is.

[2016-02-25 19:48] jsquyres commented on #1404
:+1:

[2016-02-25 20:42] jsquyres commented on #1402
@sjeaugey Did you file a v2.x PR yet, perchance?  If not, I think @bosilca is saying to add dbe93b0 to it.

[2016-02-25 21:47] sjeaugey commented on #1402
MTT ran the nightly snapshot so I'm still waiting for it to confirm the bug is fixed. I'll file the PR tomorrow if it looks good with both patches.

[2016-02-25 23:33] jladd-mlnx commented on #1252
Geoff, did you mean Sandy Bridge?

On Thu, Feb 25, 2016 at 12:22 PM, Geoff Paulsen <notifications@github.com>
wrote:

[2016-02-25 23:41] gpaulsen commented on #1252
Oh right sorry.  Sandy Bridge.:  Intel(R) Xeon(R) CPU E5-2660

[2016-02-26 00:00] jladd-mlnx commented on #1252
OK. This is expected on SB.

On Thu, Feb 25, 2016 at 6:41 PM, Geoff Paulsen <notifications@github.com>
wrote:

[2016-02-26 03:45] rhc54 commented on #1225
@jsquyres @hppritcha @hjelmn Just an FYI: I noticed that something is broken on the pmix120 component - I'm getting hangs during regular init (i.e., no debugger) on my Mac. Not sure what may have broken, but I'll fix in on Fri.

[2016-02-26 14:18] emmanuelthome commented on #299
the rationale for why the direct dependency on open-rte and open-pal was dropped is there

https://svn.open-mpi.org/trac/ompi/ticket/2092

E.

[2016-02-26 18:49] rasmussn commented on #1401
I'm happy with seeing stuff go away, but my observations have been that
installations are very slow at moving away from old compiler versions.

-craig

On Wed, Feb 24, 2016 at 4:33 PM, Jeff Squyres <notifications@github.com>
wrote:

[2016-02-27 14:29] jsquyres commented on #299
@emmanuelthome Excellent spelunking!  Many thanks for reminding me that Past Jeff wrote out the whole reason why we no longer explicitly `-lopen-rte -lopen-pal`.

@markalle @gpaulsen This might be an excellent argument to bring in the memory hook replacements we discussed this past week (but we'll need to solve the UCX-has-the-same-memory-hooks issue).

[2016-02-27 14:45] emmanuelthome commented on #299
@jsquyres You're welcome ;-)

Speaking of this, I got bitten again this week by some bug which smells like a similar "hook does get called" issue (not 100% sure yet. But at least an openib-specific segfault which disappears with mpi_leave_pinned 0...). I briefly considered trying out ummunotify. Seems to be dead and buried, unfortunately. #429 hints in that direction, at least. Do you confirm ?

[2016-02-27 14:55] jsquyres commented on #299
@emmanuelthome #429 has been on my to-do list for quite a while, and I haven't gotten to it.  :-(  Mellanox saw some failures that looked like the Open MPI ummunotify code paths were broken, but they didn't investigate deeply -- that's what #429 is about.

There was a conversation at the Open MPI dev meeting this past week (https://github.com/open-mpi/ompi/wiki/Meeting-2016-02) about using the Pla

[2016-02-28 14:49] emmanuelthome commented on #429
I've just given a try to ummunotify & openmpi-1.10.2, for the openib btl. Haven't got very far, certainly not to the point where I can witness the exact same bug as Joshua. Regarding what's been mentioned on #415, it very much seems that the ummunotify code in ompi is broken indeed.

I've pulled ummunotify from the latest MOFED release where I found it shipped, which is MLNX_OFED_LINUX-2.2-1.0.1-d

[2016-02-28 17:59] rhc54 opened #1412 "OSHMEM breaks static builds on master"
I get the following error on master when configured --enable-static --disable-shared:

[code]

@miked-mellanox could you please have someone address this?

[2016-02-28 18:14] miked-mellanox commented on #1412
@rhc54 - does it happen on linux or macos?

[2016-02-28 18:17] rhc54 commented on #1412
This was on a CentOS7 box - haven't tried Mac yet

[2016-03-01 16:19] igor-ivanov commented on #1412
Very close issue https://www.open-mpi.org/community/lists/users/2015/11/28015.php

[2016-03-01 20:16] hppritcha commented on #1402
@sjeaugey can this issue be closed now?

[2016-03-01 21:14] #1402 closed

[2016-03-01 23:35] hppritcha commented on #1252
So what's the outcome here?  I thought we'd decided that this could be closed in discussions last week?

[2016-03-01 23:38] jsquyres commented on #1408
@bosilca Can you share this test?  I'd like to add it to the Cisco MTT runs.

[2016-03-02 04:19] jsquyres opened #1418 "v2.1.0: fix MPI process suicide code"
Per discussions in Dallas, the "suicide" code in MPI (ORTE) processes isn't currently working.  I.e., if an MPI (ORTE) process loses connectivity to its local orted, it's not killing itself.  This can lead to orphaned MPI processes.

Filing this ticket so that we can be sure it gets fixed for the v2.0.0 release.

[2016-03-02 04:20] jsquyres opened #1419 "v2.0.0: fix "MPI processes are invisible to resource managers" issue"
Per discussions in Dallas last week, since MPI processes get put into their own process group, they become "invisible" to resource managers.  This can lead to orphaned MPI processes left spinning on machines even after resource managers think they have killed the jobs.

Filing this ticket so that we don't forget about it for the v2.0.0 release.

[2016-03-02 04:49] bosilca commented on #1408
It is a modified version of the osu_mbw_mr benchmark. The only real difference is that we are initializing the MPI library in MPI_THREAD_MULTIPLE mode.

[2016-03-02 14:09] gpaulsen commented on #1252
Yes I think so too.  I committed to test with the 1.10 to prove it's not a regression, but that seems very unlikely, and I'm swamped at the moment.

[2016-03-02 14:12] #1252 closed

[2016-03-02 15:11] rhc54 commented on #1418
I have verified this is working okay in master, but was a problem in 2.x. The following PR fixes it:

https://github.com/open-mpi/ompi-release/pull/997

[2016-03-02 22:54] #1408 closed

[2016-03-03 04:25] gpaulsen commented on #1225
Any update?  Is this a 2.0 blocker?

[2016-03-03 04:40] gpaulsen commented on #299
It *SHOULD* be possible that while we're setting up the memory hooks at the symbol level, to determine if a hook is ALREADY installed, and chain the hooks.  If ALL of the hooks do this, (i.e. UCX and us) then this could work (analogous to how signal handlers chain together).  Of course the signal handler approach is well documented by the OS, and this is not documented and pretty hacky.

I feel li

[2016-03-03 11:49] jsquyres commented on #1225
We're iterating with Totalview.  The first version we sent to them didn't work; we sent them another one last night.

[2016-03-04 07:49] chivee opened #1424 "[v1.10.0] segfault when using MPI_RECV on IB"
HI, i would like to know that if there is a known bug in 1.10.0 with InfiniBand.

i have wrote a simple logic with MPI_RECV and MPI_ISEND, but i got an weird bug only can reproduced when i used 8 ranks( 2 \* 4), the programs works well when i use 4(1 \* 4) or 2(1*2) ranks.

here are the call stack.

[code]

[code]

[2016-03-04 13:12] artpol84 opened #1425 "External PMIx server support is broken"
@ggouaillardet @rhc54 @jladd-mlnx
The following commit:
https://github.com/open-mpi/ompi/commit/b55b9e6aeee96fe76768b0438fad11ffb4e49fe4
Brakes launch through the SLURM plugin the assert:
https://github.com/open-mpi/ompi/blob/master/ompi/proc/proc.h#L399
is triggered because jobid was created from hash function:
https://github.com/open-mpi/ompi/blob/master/opal/mca/pmix/pmix112/pmix1_client.c#L122

[2016-03-04 13:24] artpol84 commented on #1425
P.S. if I negate the 0x8000 bit all works fine:
[code]

[2016-03-04 13:43] ggouaillardet commented on #1425
@artpol84 that is the right fix for me.

[2016-03-04 13:46] artpol84 commented on #1425
@ggouaillardet Thank you,
Lets see what Ralph will say. And if everybody OK I'll PR.

[2016-03-04 13:49] artpol84 commented on #1425
I think that the right solution would be to hash to `32 - 1 = 31` bit and then form the jobid so that bit 0x8000 is not used.
Otherwise we can weaken the hash.

[2016-03-04 13:55] jsquyres commented on #1424
Can you upgrade to Open MPI v1.10.2?  There were definitely bug fixes between 1.10.0 and 1.10.2.  I don't know if they would specifically address your issue or not.

[2016-03-04 14:18] ggouaillardet commented on #1425
right,
this is cryptology and I have no such skills ...

[2016-03-04 15:51] rhc54 commented on #1425
I don't think it really matters, to be honest - SLURM doesn't support cross-job connections anyway, and so the jobid is totally arbitrary (we could just set it to '1', I suppose). One alternative we could use would be to have pmix_init check for an envar setting PMIX_JOBID, and then we could atoi that string. Would that help?

[2016-03-04 16:16] artpol84 commented on #1425
SLURM may support multi job in future, so it'll be grate to consider that.
I was thinking about using PMIx_Get(PMIX_JOBID) to get the jobid. I think it is more portable way.

[2016-03-04 16:23] igor-ivanov commented on #1412
@rhc54 just if it is easy. Do you know ld version was used?

[2016-03-04 16:24] rhc54 commented on #1425
We would need to add that to the list of things required to be provided in the environment, but that might be okay - basically, we want an int32_t that corresponds to the nspace string? Also has to be unique across the potential connection space, which could be tricky to guarantee...which is why we went to the string nspace anyway.

I wonder if we should just worry about a temporary fix here? The

[2016-03-04 16:28] rhc54 commented on #1412
Sure

[code]

[2016-03-04 17:03] sjeaugey opened #1427 "v2.x : Segmentation fault in Aint tests with IB"
Aint tests have been broken for a long time in v2.x (~ at the same time we got all the onesided tests failing also).

The onesided fixes on openib fixed all errors on master, but on v2.x, there are still tests failing : aint and c_post_start. Not sure it c_post_start is the same error as I can't get a working core file, but the stack for aint is :
[code]

[2016-03-04 20:08] jladd-mlnx opened #1428 "Dynamic Add Procs Breaks MXM MTL and Yalla PML"
When ompi_add_procs_cutoff was recently set to 0 as the default value it exposed these issues in our nightly MTT.

[2016-03-04 20:08] jladd-mlnx commented on #1428
bot:milestone:v2.0.0

[2016-03-05 03:25] chivee commented on #1424
@jsquyres thank you for your suggestion, i will trying upgrade to v.1.10.2. but I would like to know is there a bug list or release note so that i can identify the problem.

[2016-03-05 05:26] artpol84 opened #1429 "Fix UD OOB limitation"
Currently UD OOB has 32 UD QP's for sending the data. This is done for parallelization purposes.
If all QP's are out sender has to wait for one to became available.
This delays introduce problems in grpcomm at large scale.

@hjelmn @miked-mellanox @jladd-mlnx Please add more detailed info here.

[2016-03-05 09:38] miked-mellanox commented on #1429
* single UD QP can serve all destinations w/o performance impact.
* pool of UD QPs is needed to attach dedicated QP per receiver and simulate zcopy on receiver on this dedicated QP

[2016-03-05 12:11] jsquyres commented on #1424
We keep a list in the NEWS file in the tarball.  I *glanced* through it quickly before I replied to you; nothing jumped out at me.  But that doesn't mean that there wasn't some fix that would fix your issue.

Here's NEWS at the head of the v1.10 branch (i.e., what will eventually become 1.10.3): https://github.com/open-mpi/ompi-release/blob/v1.10/NEWS.  Note that we typically update it shortly bef

[2016-03-06 12:04] chivee commented on #1424
@jsquyres Thanks for your kindly help. i'll check the list to see that if is a known issue. for the 2nd stack trace, it seems to be some wild pointer bug with my code, but i can't reproduce that in single machine multiple processes, or with MSMPI. so i'm guessing there is a very deep bug.

[2016-03-07 20:15] jsquyres commented on #1406
@hjelmn @bosilca Did this get fixed yet, perchance?

[2016-03-07 21:35] jsquyres commented on #1419
Fixed by #1431.

[2016-03-07 21:35] #1419 closed

[2016-03-07 21:37] jsquyres commented on #1418
Found a case where #997 doesn't seem to fix the problem:

* get a SLURM allocation
* run a long job (e.g., ring of a really large message a large number of times)
* ssh to one of the nodes in the SLURM allocation
* `killall -9 orted` on that node
* the `mpirun` will die with an appropriate error message, and all the other orteds and MPI processes will die, but the MPI processes on the same server

[2016-03-07 22:40] rhc54 commented on #1418
Sadly, I am unable to replicate this behavior on either master or 2.x. I tried adding "sleep" instead of just having the proc spin, but it made no difference. I also tried inside and outside of a SLURM allocation - no difference. As soon as the daemon is killed, everything exits as it should.

[2016-03-07 22:43] jsquyres commented on #1418
Huh.  Let me try again and see if I can be a bit more precise about the failure case.

[2016-03-07 22:51] jsquyres commented on #1418
In my case, the PMIx thread in the hung MPI processes seem to be stuck here:

[code]

That is, if I set a debugger breakpoint one line beyond the PMIx_Get at src/client/pmix_client_get.c:92, it never gets there.

[2016-03-07 23:28] markalle commented on #299
Looking at the code it's "probably" possible to detect a prior usage of this trick, and even save the function pointer that the previous product had registered.  Then inside our interception we could either
1. call syscall(__SYS_munmap/etc, ...) if there was no previous instance of the trick in place2. call their function pointer if there was one
 
But that seems fragile, both in detection and in

[2016-03-08 13:53] amckinstry commented on #1162
Is there a pointer to the discussion? I've been debugging this in Debian
(https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=816303) where it breaks mpi4py on armel, mips, mipsel, powerpc (ie. basically any 32-bit platform).

[2016-03-08 16:08] jsquyres commented on #1425
Per the 2016-03-08 call, @rhc54 will fix this.  He thinks it's a trivial fix (even if it's a short-term fix).

[2016-03-08 16:10] jsquyres commented on #1406
@bosilca Says that he has large modifications to the TCP BTL (it's a giant change).  Not clear yet on how we want to handle this...

[2016-03-08 16:11] jsquyres opened #1435 "Giving btl_tcp_if_include of an interface that does not exist results in SEGV"
Reported on master -- didn't try 2.x.

[2016-03-08 16:20] hjelmn commented on #1162
It was in a conference call. Planning to fix this today.

[2016-03-08 16:30] amckinstry commented on #1162
I've been testing a patch (attached).
Can you review it? appears to work where I've tested it.

regards
Alastair

On 08/03/2016 16:20, Nathan Hjelm wrote:

--
Alastair McKinstry, <alastair@sceal.ie>, <mckinstry@debian.org>, https://diaspora.sceal.ie/u/amckinstry
Misentropy: doubting that the Universe is becoming more disordered.

[2016-03-08 16:40] amckinstry commented on #1162
Apologies for the inline patch; the Debian repo is in subversion :-(

--- openmpi-1.10.2.orig/ompi/mca/btl/portals4/btl_portals4.c
+++ openmpi-1.10.2/ompi/mca/btl/portals4/btl_portals4.c
@@ -319,7 +319,11 @@ mca_btl_portals4_prepare_src(struct mca_

         frag->segments[0].base.seg_len = max_data;
         frag->segments[0].base.seg_addr.pval = iov.iov_base;
+#ifdef OPAL_HAVE_ATOMIC_MATH_64

[2016-03-08 16:49] hjelmn commented on #1162
Not quite correct, the types have to be changed as well.

[2016-03-08 16:50] hjelmn commented on #1162
Will post a PR to master in a bit.

[2016-03-08 16:51] hjelmn commented on #1162
@regrant Does portals4 support 32-bit platforms? If not we can leave the portals4 component as is.

[2016-03-08 18:20] jsquyres commented on #1418
@rhc54 This same problem does not appear to be happening on the v2.x branch.  When I `killall -9 orted` on server, all the MPI processes suicide properly.

[2016-03-08 18:21] #1425 closed

[2016-03-08 18:21] regrant commented on #1162
@hjelmn You can leave the Portals4 component as is, there is no stated support for 32-bit and there are no plans for 32-bit system support in the future.

[2016-03-08 18:39] hjelmn commented on #1162
@regrant Thats what I figured. That leaves just osc/pt2pt.

[2016-03-08 18:44] hjelmn commented on #1162
@amckinstry Please double-check that the fix works for you:

https://github.com/hjelmn/ompi-release/commit/f8c72a199dfabe0b2c891a53c4825f58728c6fd3.patch

[2016-03-08 18:47] pterjan commented on #1162
That seems wrong, the atomic add is still there in addition to t asecond increment

[2016-03-08 18:48] pterjan commented on #1162
Ah https://github.com/hjelmn/ompi-release/commit/f8c72a199dfabe0b2c891a53c4825f58728c6fd3 is correct but not the .patch...

[2016-03-08 18:48] pterjan commented on #1162
Hmm strange it is correct now, sorry...

[2016-03-08 22:39] jsquyres commented on #1428
@jladd-mlnx This is resolved, right?

[2016-03-08 22:45] hjelmn commented on #1427
Tracked it down to the two missing commits. Once open-mpi/ompi-release#1009 is in 2.x we can close this.

[2016-03-08 22:54] jladd-mlnx commented on #1428
Correct. Fixed in https://github.com/open-mpi/ompi-release/pull/1005.

[2016-03-08 22:54] #1428 closed

[2016-03-08 23:09] jsquyres opened #1438 "PMIx error messages"
In a bunch of Cisco MTT runs, I'm getting error messages from PMIx at the end of the run.  For example, in https://mtt.open-mpi.org/index.php?do_redir=2273, it looks like the test passed (this is a build from master), but then something apparently went wrong inside MPI_FINALIZE:

[code]

(there's other tests in that MTT URL that are failing because usNIC is complaining about lack of connectivity -

[2016-03-09 00:23] jsquyres opened #1440 "usnic BTL fails with mpi_add_procs_cutoff=0"
Many of the usNIC MTT failures are due to `mpi_add_procs_cutoff==0` being handled improperly: the usnic BTL can't identify senders if the sending peer has not been `add_procs`ed.

This can be fixed by having a handshake exchange addressing info during the first send, but this is likely to be a v2.0.1 fix.  Hopefully, there's a BTL equivalent to MCA_PML_BASE_FLAG_REQUIRE_WORLD...

[2016-03-09 01:46] #1440 closed

[2016-03-09 01:52] jsquyres opened #1441 "Update usnic BTL to handle unknown senders"
Update usnic_recv.h:lookup_sender() to handle unknown receivers.

@hjelmn suggests doing what the ugni/openib BTLs do: when an unknown sender is found, call `opal_proc_for_name()` on the OPAL (or ORTE) name in the packet.  Then (effectively) call `btl_add_procs()` on that name, and then fall through to do the rest of the normal receive path.

Doing this will allow the usnic BTL to remove the use o

[2016-03-09 04:42] #1438 closed

[2016-03-09 15:36] igor-ivanov commented on #1412
_end is a symbol defined by the linker. I do not think that force adding libselinux.so is a way to go.
I would like to find out a root of issue.
I checked ompi/trunk 67e4502 on my system (it is not SentOS7) with binutils-2.23.52 and did not get issue.
Configure line:
[code]

``gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-4)``

``GNU ld version 2.20.51.0.2-5.36.el6 20100205``
and
``GNU ld (GNU Binutils)

[2016-03-09 17:29] jladd-mlnx commented on #1412
@rhc54 I am not completely in the details here (i.e. why is it breaking with this particular linker) , but I'm trying to figure out how urgent this is and what has changed. This code hasn't changed in three years and is running fine in several production Linux environments. So, is it accurate to say that OSHMEM breaks static builds or is more like CentOS7 breaks static OSHMEM builds? I think the l

[2016-03-09 18:12] chivee commented on #1424
i upgrade to the v1.10.3 and the problem still haunting me. i'm trying to rewrite an simple example to locate the bug. will let you know the updates.

[2016-03-09 19:01] jsquyres commented on #1424
Excellent; thanks.

[2016-03-09 20:02] rhc54 commented on #1412
I honestly don't know the extent of the problem. FWIW, I can't replicate it on the Mac - don't know about other Linux versions. I do recall that we have been seeing/reporting this for awhile, so it isn't something particularly new. I know that the OSHMEM code has changed quite a bit over the last year, but I don't know when we started seeing the issue, and so I don't know if we can really say whet

[2016-03-10 06:28] artpol84 opened #1445 "PR process name fix for direct launch to 2.0"
We need to bring this into the release: https://github.com/open-mpi/ompi/pull/1436

[2016-03-10 11:39] amckinstry opened #1446 "wrong attributes on MPI_win_create() on big-endian systems?"
I'm debugging a test issue on mpi4py (2.0.0) linked against libopenmpi 1.10.2 in Debian.
This fails on a units on mpi_win_* on some archs.
In particular s390x, sparc64, ppc64, but works on ppc64el.

This implies a big-endian problem. looking at mpi4py, it appears that certain attrs are being set to 0;
unit (disp_unit) is 0, not 1 in the testAttributes() test (after MPI_Win_Create, with unit=1 AFAI

[2016-03-10 11:41] amckinstry commented on #1162
@hjelmn Thanks, this works for me.

[2016-03-10 14:09] ggouaillardet commented on #1446
can you please confirm the failure occurs in the mpi4py test suite ?

[2016-03-10 14:28] amckinstry commented on #1446
Correct. This is on the mpi4py test suite

[2016-03-10 14:33] ggouaillardet commented on #1446
I will double check that tomorrow
I saw some places where an int (32 bits)  is passes where an MPI_Aint (64 bits) is expected,
that is the kind of things that little endian is fine with, but not big endian ...

[2016-03-10 15:42] igor-ivanov commented on #1412
@rhc54 I would appreciate it if you could share centos version (you can use https://linuxconfig.org/how-to-check-centos-version) and exact configure line.

[2016-03-10 15:50] rhc54 commented on #1412
CentOS Linux release 7.2.1511 (Core)

[code]

[2016-03-10 15:54] igor-ivanov commented on #1412
thank you

[2016-03-10 16:26] jsquyres commented on #1412
I notice a specific indication of SE Linux in @rhc54's original report.  Could SE Linux be a factor here?

[2016-03-10 20:34] Alisyed09 opened #1449 "failures when running multiple mpirun instances on more than 1 node in a cluster via qsub"
Problem
We have a cluster of 28-core nodes using Moab/Torque where the following problem occurs with OpenMPI version 1.10.2 recently MPI was upgraded 1.8.X

When running multiple mpirun instances on more than 1 nodes mpirun calls fails. it can be run manually without any problems but with qsub it fails everytime. with the same error:

There are not enough slots available in the system to satisfy t

[2016-03-10 21:11] rhc54 commented on #1449
The PBS_NODEFILE below doesn’t look right to me - it is supposed to list each node’s name once for each allocated slot on that node.

I have never seen the format below for a PBS_NODEFILE - where did it come from??

[2016-03-10 21:43] Alisyed09 commented on #1449
Dear rhc54,

the nodes file is pbs_server nodes file under server_priv and we have been using this for last year. did i understood your question right ?

i did suspect your below comment as well. is there a way i can verify this ?

 PBS_NODEFILE: /cm/local/apps/torque/var/spool/aux//2291493.r04-sn064
 r06-cn207
 r06-cn206
 r06-cn205
 r06-cn204
 NPROCS: 4
 PBS_NP: 4
 Directory:
 PBS_O_WORKDIR: /hom

[2016-03-10 22:33] jsquyres opened #1450 "Move configure summary commits to v2.x branch"
For v2.1.0 (or beyond), make a PR to move the following commits to the v2.x branch:
- d2f5fca: configure: add a summary section at the end of configure output (generates several conflicts)
- 48c650c47a24: configury: minor updates to config summary output
- https://github.com/open-mpi/ompi/commit/7bd12dc1a4238b598cb2f7118cd07ef5d0aa019c: config: Fix wrong variable name

@hjelmn

[2016-03-10 23:38] rhc54 commented on #1449
Ah, okay - that’s the Torque configuration file, not the file that contains the allocation info for this job.

It looks to me like the PBS_NODEFILE format may have changed. What version of Moab are you running?

[2016-03-10 23:41] ggouaillardet commented on #1449
@Alisyed09 ```pbs_server_nodes``` list all the nodes of the cluster.
within a job, mpirun will only use the resources allocated by PBS, and you can see that by running
[code]
from within your job.

the logs clearly state 4 slots have been allocated, but you try to run 8 tasks.
if this is what you really want to do, you need to
```mpirun --oversubscribe```
but it is more likely you want to allocate

[2016-03-11 00:37] ggouaillardet commented on #1446
@amckinstry i was able to reproduce the issue with a C program, but i could not (yet) build mpi4py on a big endian box.
could you please apply https://github.com/ggouaillardet/ompi-release/commit/339a2893b4bee8fd67426fd42025634146112847.patch and test again ?
@dalcinl all ompi versions are affected on big endian systems, so you might want to exclude tests involving ```MPI_WIN_DISP_UNIT```, ```MPI_

[2016-03-11 02:03] rhc54 commented on #1449
I think the issue here is that the PBS_NODEFILE format is telling us that we only have one slot allocated per node. @Alisyed09 can you please post the qsub command you used to get this allocation?

My best guess is that Moab has been configured to support sharing of nodes between users, and thus does not allocate the entire node to the user by default. Thus, you must indicate in your qsub request

[2016-03-11 09:19] igor-ivanov commented on #1412
@jsquyres interesting point. I will check (my system has it disabled ``SELINUX=disabled``).

[2016-03-11 11:19] Alisyed09 commented on #1449
Dear Both,

Thanks for the assistance, Appreciated!

This is how my submit script looks like:

module load openmpi/gcc/64/1.10.2
module load gromacs/5.1.2

WORKDIR=$PBS_O_WORKDIR
cd $WORKDIR
cp $PBS_NODEFILE MY_NODEFILE
NPROCS=`wc -l < $PBS_NODEFILE`

echo 'Number of procs asked is'
echo "PBS_NODEFILE: $PBS_NODEFILE"
cat $PBS_NODEFILE
echo "NPROCS: $NPROCS"
echo "PBS_NP: $PBS_NP"
echo 'Directory:'

[2016-03-11 11:30] ggouaillardet commented on #1449
so basically you do not tell pbs how many slots you want.
if you want 8 slots on one node, you can try
qsub -l nodes=1:ppn=8 ...
but if you really want pbs decide how many slots should be allocated, you have to
mpirun --oversubscribe ...
note that since you request the mapping in your script, you might end up having several jobs using the same resources, when other available resources are left unu

[2016-03-11 14:02] Alisyed09 commented on #1449
I tried submitting a job as you suggest

qsub -l nodes=4:ppn=28 submit.sh

the job failed with this output:

Number of procs asked is
PBS_NODEFILE: /cm/local/apps/torque/var/spool/aux//2294617.r04-sn064.cm.cluster
r06-cn207
r06-cn206
r06-cn205
r06-cn204
NPROCS: 4
PBS_NP: 4
Directory:
PBS_O_WORKDIR: /home/people/erhh/tests/11_febr-19-13

======================   ALLOCATED NODES   ==================

[2016-03-11 14:05] amckinstry commented on #1446
Thanks. Submitting an experimental version through our build infra now. Should have confirmation by Monday

[2016-03-11 14:07] jsquyres commented on #1446
@amckinstry Sweet.  We're actually debating this fix over on #1018 -- I see what @ggouaillardet did as a good code cleanup, but I confess to not understanding why it would have fixed your bug.  If you can confirm / deny that it actually fixed the bug, that would be great.  Thank you!

[2016-03-11 14:13] jsquyres commented on #1449
@Alisyed09 Github pro tip: please [enclose your blocks of verbatim text in triple-single-ticks](https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code) so that they are rendered properly in the wiki (more specifically: so that that verbatim text doesn't accidentally get rendered as a large heading or some other accidental wiki syntax).  Thanks!

[2016-03-11 14:24] Alisyed09 commented on #1449
ah thanks for the tip you can clearly see a github newbie :+1:

[2016-03-11 16:29] rhc54 commented on #1449
@Alisyed09 Can you tell us what version of Moab you are using? It looks like the PBS_NODEFILE format has changed, and we'll probably need to revise our parsing algorithm.

[2016-03-11 18:11] Alisyed09 commented on #1449
Hi rhc54,

we upgraded from  4.2.6.1 pbs_mom to  Version: 5.1.1.h1 and job seems to run.

I will post the results once the job finished.

[2016-03-12 02:58] ggouaillardet commented on #1449
@Alisyed09 that sounds weird to me ... it looks like ppn=28 was simply ignored
before invoking mpirun, can you please insert
[code]
in your script and post the output ?

from https://github.com/open-mpi/ompi/blob/master/orte/mca/ras/tm/ras_tm_component.c

[code]
you can also try

[code]

btw, was ompi built with tm ?
if you configure'd with ```--with-tm``` then you should be fine
otherwise, you ca

[2016-03-13 07:07] dalcinl commented on #1446
@ggouaillardet Any chance you could send me the full list of failing tests?

[2016-03-13 09:41] dalcinl commented on #1446
@ggouaillardet @jsquyres The patch is OK as long as ``sizeof(MPI_Fint)==sizeof(int)``, however such assumption is already made while setting predefined attributes in ``MPI_COMM_WORLD`` (helper funtion ``set_f()`` in ``ompi/attribute/attribute_predefined.c``).

A better implementation of the attribute engine should also handle the case of predefined attributes whose value is a C ``int`` value. I wo

[2016-03-13 12:48] dalcinl commented on #1446
@ggouaillardet Apply the following patch to mpi4py sources from release tarball, I expect it to workaround the issue.
https://bitbucket.org/mpi4py/mpi4py/commits/fda0cd06aabc88799e378997a9852bde259aeb62
Once you confirm it works (I do not have easy access to any big-endian platform), I'll merge into branches maint and master.

PS: I wrote that workaround in mpi4py assuming that if Open MPI 1.10.3

[2016-03-14 09:21] amckinstry commented on #1446
I've tested the patch on s390x, and unfortunately it segfaults:

testIsThreadMain (test_threads.TestMPIThreads) ... ok
testThreadLevels (test_threads.TestMPIThreads) ... ok
testAttributes (test_win.TestWinAllocateSelf) ... [zelenka:08216] ***
Process received signal ***
[zelenka:08216] Signal: Segmentation fault (11)
[zelenka:08216] Associated errno: Unknown error 6932272 (6932272)
[zelenka:08216]

[2016-03-14 09:34] dalcinl commented on #1446
@amckinstry Do you have shell access to the machine? Any chance you can run it under valgrind? Otherwise, could you add a quick printf() for the value of the ``pos`` variable in my patch?

[2016-03-14 10:36] ggouaillardet commented on #1446
@dalcinl  I was unable to test that today.
to me, fixing ompi bugs in mpi4py is like opening Pandora's box ...

anyway, what about
[code]
that being said, I have no idea what will happen if/when attrval is free'd

[2016-03-14 11:03] Alisyed09 commented on #1449
Hi All, A quick update testing during weekend shows the PBS_mom seems to have fixed the issue. i will keep you posted on the scaling of the open mpi but we can close the thread on this note it was 4.2.61 or lower pbs_mom will have parsing problem with PBS_NODEFILE.

[2016-03-14 15:05] jiayulu opened #1453 "suppress debug printouts in malloc.c"
Is there a compile-time option to disable debug messages coming from ./ompi/opal/util/malloc.c?

I get a lot of print-outs like this:
malloc debug: Request for 0 bytes (pmix_ext_server_north.c, 414)

The message is actually coming from ./ompi/opal/util/malloc.c

[2016-03-14 15:24] jsquyres commented on #1453
They only show up in debug builds.  See HACKING.

(also, the building-debug-builds-by-default-for-developers behavior is likely to change in the immediate future -- see open-mpi/ompi#1417)

[2016-03-14 16:37] #1449 closed

[2016-03-14 16:39] rhc54 commented on #1453
It would be appreciated if you pass those along, however, so we can cleanup the code that is the root cause of them

[2016-03-14 17:10] jsquyres commented on #1418
@rhc54 Since it's not apparently happening on the v2.x branch, I'm setting the milestone to v2.1 (on the assuming that there will be a re-sync of PMIx on master to v2.x after 2.0.x and before 2.1.x).

[2016-03-14 17:14] hppritcha commented on #1406
@bosilca is there a chance we can have a narrowly focused fix to the existing TCP BTL?

[2016-03-14 17:19] jsquyres commented on #1445
Closed via #1436.

[2016-03-14 17:19] #1445 closed

[2016-03-14 17:45] hjelmn commented on #1450
one more: a93b849f13b12a7b1c1cdde71a9e491ddc220e17

[2016-03-14 18:44] jsquyres commented on #1406
@bosilca If we can't get a focused fix, how about this:

* Have the old TCP BTL code selected on non-THREAD_MULTIPLE
* Have your new TCP BTL code selected on THREAD_MULTIPLE

This would allow us to have somewhat newer/less-tested code in the THREAD_MULTIPLE path (and therefore make solid advances in the THREAD_MULTIPLE category, modulo bug fixes), but have solid/reliable/time-tested code in the no

[2016-03-15 15:19] hppritcha opened #1456 "update TOSS platform files to support XRC when available"
some TOSS systems now support XRC, which is needed on some of the largest of the TOSS clusters.
Additional platform files are needed to assist in install of ompi on TOSS.

[2016-03-15 15:28] #1162 closed

[2016-03-15 15:42] amckinstry commented on #1446
Just to confirm: I got access to an s390x with the patched openmpi
installed, and mpi4py builds and
tests correctly. ie. the patch works.

regards
Alastair

On 11/03/2016 14:07, Jeff Squyres wrote:

--
Alastair McKinstry, <alastair@sceal.ie>, <mckinstry@debian.org>, https://diaspora.sceal.ie/u/amckinstry
Misentropy: doubting that the Universe is becoming more disordered.

[2016-03-15 15:56] #1427 closed

[2016-03-16 00:18] ggouaillardet commented on #1446
@amckinstry @dalcinl the fix has landed into the v1.10 and v2.x branches, which it means it will be available when Open MPI 1.10.3 and 2.0.0 are released

i will then close this issue from now

[2016-03-16 00:18] #1446 closed

[2016-03-16 10:18] adrianreber opened #1460 "opal_fifo segfaults on x86_64"
In my MTT runs on x86_64 opal_fifo sometimes segfaults. It works most of the time but sometimes it is possible to get a segfault like this:

[code]

GDB results:

[code]

See also here: https://mtt.open-mpi.org/index.php?do_redir=2276

[2016-03-16 10:24] jsquyres commented on #1460
@hjelmn @bosilca Can you have a look?

[2016-03-16 13:51] hjelmn commented on #1460
I will take a look. What processor is this on?

[2016-03-16 15:37] jsquyres commented on #1460
@hjelmn It's x86_64 -- do you need more specific than that?

[2016-03-16 15:42] hjelmn commented on #1460
Considering I can reproduce on sandy bridge, ivy bridge, bulldozer, and a handful of others it will be useful. I may be able to find a system where this occurs.

It would also be good to know what compiler since it could be any number of things. A missing memory barrier, a missing/wrong clobber, etc.

[2016-03-16 15:51] jsquyres commented on #1460
@hjelmn Fixed his original comment: he *can't* reproduce it.

Yeah, it might have to be run in a loop or something...?  It seems like a race condition of some kind that only happens sometime.

[2016-03-16 19:03] patflick opened #1462 "Invalid memory access inside allreduce_intra_recursivedoubling"
**TLDR:**

The buffer for reductions gets allocated to size: `true_extend + (count-1)*extend`.
(For <= 1.10.* this was hardcoded in the `malloc` call in the reduction functions, in the current code status this is calculated inside the `opal_datatype_span()` function.)
This can lead to faulty memory accesses when a custom reduction operation casts the pointers to its C/C++ type and due to default c

[2016-03-16 19:38] adrianreber commented on #1460
It is a "Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GHz" with 24 HT cores. Fedora 23 with gcc 5.3.1. According to MTT is also happens with the pre-release gcc 6.0 I have installed: gcc-6-20160221

[2016-03-16 19:43] hjelmn commented on #1460
gcc 5.3 might be the key. We had a clobber error in the x86 atomic add for forever but it didn't become apparent until gcc 5.0 which had more aggressive optimizations.

[2016-03-17 01:37] hjelmn commented on #1460
ok, with gcc 5.3.0 it does cause the opal_fifo test to occasionally segv. investigating.

[2016-03-17 02:53] hjelmn commented on #1460
i can't reproduce when builtin sync atomics are enabled. suggests the double-word compare and swap in the amd64 asm is not quite right.

[2016-03-17 03:07] hjelmn commented on #1460
ok, looks like it was a bad constraint. testing the fix now.

[2016-03-17 16:38] hjelmn commented on #1450
also: 7bd12dc1a4238b598cb2f7118cd07ef5d0aa019c

[2016-03-17 16:48] jsquyres opened #1467 "opal_show_help() is not aggregating"
In some IM discussions with @rhc54, we discovered that `opal_show_help()` message aggregation is no longer working (on both master and v2.x).  This is a regression compared to v1.10.x.

There's two reasons it isn't working:

a) In `orte/util/orte_show_help.c`, the following checks are done to see if we should render the help message locally or relay it up to the HNP:

[code]

`orte_rml.send_buffer

[2016-03-17 17:14] alinask opened #1468 "openib btl fails to run with rdmacm"
The following command line fails when running on 2 hosts with ompi master branch.
(one process on each node).
The same command line runs fine with ompi's v1.10 release branch.

[code]

The output is:

[code]

When using udcm the test passes.

[2016-03-17 17:39] jsquyres commented on #1468
@alinask Is this related to the recent mpool/rcache change, perchance?  I.e., could you git bisect to find out where it broke?

[2016-03-17 18:27] hjelmn commented on #1460
no, looks like an ABA issue. i have a working fix but i want to prove to myself it is the right fix.

[2016-03-17 18:44] alinask commented on #1468
I just checked this with the master branch after taking it back to many commits ago (bofore the rcache change) and got the same result. Looks like this might have been broken for a while.

[2016-03-17 18:56] rhc54 commented on #1468
rdmacm has been known to be broken for years - I don't believe it was ever fully functional. That's why we use udcm instead.

[2016-03-17 19:03] alinask commented on #1468
the release branch (v1.10) seems to work with it though.

[2016-03-17 19:24] hjelmn commented on #1460
The issue was complicated but is easily fixed by using an atomic when the head is updated in opal_fifo_push. The atomic shouldn't be necessary but the non-atomic update combined with the way 128-bit values are read (two instructions instead of 1) leads to an ABA issue that puts the fifo in an inconsistent state. See #1470.

[2016-03-17 19:28] rhc54 commented on #1468
it does? miracles never cease :smile:

[2016-03-17 19:41] jladd-mlnx commented on #1468
@alinask What about the 2.x branch? Please track down the offending commit.

[2016-03-18 00:22] ggouaillardet commented on #1462
@patflick the allocated size ```true_extend + (count-1)*extend``` is correct and you can find a lengthy explanation in ```ompi/mca/coll/basic/coll_basic_reduce.c```
if you simply use ```count*extend```, then you do not support the case when ```extend``` < ```true_extend```.

that being said, using ```max(count*extend, true_extend + (count-1)*extend)``` will likely fix your issue.

honestly, i do n

[2016-03-18 00:58] patflick commented on #1462
@ggouaillardet that's a good point, i didn't think about the `extent < true_extent` case.

There is no explanation in `coll_basic_reduce.c`, are you referring to the description at https://github.com/open-mpi/ompi/blob/master/opal/datatype/opal_datatype.h#L332 ?

I'm a bit reluctant to adding explicit padding to the MPI datatype, since that would destroy the whole point of using MPI datatypes (rat

[2016-03-18 01:43] ggouaillardet commented on #1462
@patflick this is in v1.10 at https://github.com/open-mpi/ompi-release/blob/v1.10/ompi/mca/coll/basic/coll_basic_reduce.c
this section was moved to an other place in master

i do not understand what would be the issue with heterogenous systems here
(e.g. one long, one int and four bytes). one long and two int might be faster to handle internally though.

from a performance point of view, and on a

[2016-03-18 01:53] patflick commented on #1462
The explanation makes sense, thanks for pointing to where to find it.

(e.g. one long, one int and four bytes). one long and two int might be faster to handle internally though.

Some systems may not pad the pair by 4 bytes. Thus making the datatypes created on two systems (one that pads, and one that doesn't) incompatible? I'm not a 100% sure on this :)

I'll test some different ways of copying/a

[2016-03-18 01:57] ggouaillardet commented on #1462
@patflick ah, i see
if the size of a type is 16 on one system (because of padding) but 12 on an other (because of no padding), then yes, this is an issue.
as far as i am concerned, the easiest way is to manually add the padding in the C type so your type is contiguous and its first long is always aligned.

[2016-03-18 02:00] patflick commented on #1462
Unfortunately, that is not possible for me, since my code is performing reductions on arbitrary C++ types (templated types). I can thus assume nothing about the data layout, padding, or size of the datatype.

[2016-03-18 02:07] patflick commented on #1462
@ggouaillardet thanks for helping me understand the problem. I now implemented the following solution in my code. This now works, since it explicitly limits the reading/writing to the true_extend of the datatype.

[code]
(from https://github.com/patflick/mxx/blob/master/include/mxx/reduction.hpp#L264 )

[2016-03-18 02:17] patflick commented on #1462
@ggouaillardet

does this depend on the level of optimization ?

I did some further tests on multiple different variations of the copy/assignment and optimization levels. Interestingly enough, only one certain combination results in valgrind complaining. I don't really know how g++ handles the different cases internally, so I can't really explain these result quite yet.

Variant1:
[code]
Memory er

[2016-03-18 04:30] #1460 closed

[2016-03-18 08:16] adrianreber opened #1472 "MTT errors only on master"
My MTT runs on a x86_64 and a ppc64 system (both standalone, not connected to each other). Two tests from the ibm test suite are failing. The failure does not happen on the v2.x branch, but only on the master branch. The tests are failing with gcc 5.3.1 as well as with gcc-6.0 (pre-release):

https://mtt.open-mpi.org/index.php?do_redir=2277
https://mtt.open-mpi.org/index.php?do_redir=2278

The fai

[2016-03-18 12:29] ggouaillardet commented on #1472
@adrianreber
MTT does
[code]
and you likely do
[code]

here is a trivial program
[code]

when i

[code]

on v1.10 and v2.x, output is
[code]

__but__ on master, output is
[code]
note the missing ```./```

@rhc54 any idea of what could have caused the change ?
is open-mpi/ompi#1451 really necessary or does it fix a problem that should have never happened ?

[2016-03-18 12:42] ggouaillardet commented on #1472
@rhc54
got it, open-mpi/ompi@4d0cc27eb7c96a3ad50abf309b6f3186e2f05f58

among other things

[code]

if i remove these two lines, it works as before, and open-mpi/ompi#1451 is useless.
what was the rationale for using the basename of the app ?

[2016-03-18 15:14] #1472 closed

[2016-03-18 16:06] jsquyres opened #1475 "Add missing MPI_F08_STATUS[ES]_IGNORE"
According to MPI-3.1 p681, we're supposed to have `MPI_F08_STATUS[ES]_IGNORE` in `mpi.h`.

[2016-03-18 20:56] hppritcha commented on #1467
Hmmm... okay is this another thing to just document in this release?  It seems along the same lines as the debugger launch problem.

[2016-03-18 21:44] jsquyres commented on #1467
@rhc54 Do you have an estimate on a fix for this?  This is a dumb, but kinda well-known feature in Open MPI... (i.e., users like it quite a bit)

[2016-03-18 22:54] rhc54 commented on #1467
sigh...let me try to get it for you this weekend

[2016-03-18 23:57] hjelmn commented on #1468
We now default to having only SRQs on IB hardware. rdmacm will not work unless the first QP is per-peer. Try adding a per-peer QP to btl_openib_receive_queues. If that works I will close this because this is a known limitation of rdmacm.

[2016-03-18 23:58] hjelmn commented on #1468
BTW, per-peer QPs provide no known benefit on mlx hardware. They have a huge downside that they scale horribly.

[2016-03-19 01:27] rhc54 commented on #1467
@jsquyres I've looked at this, and there is the quick fix - or the probably better fix.

Quick fix: just restore the usock oob component and have apps use it again.

Maybe better fix: we currently have all opal_output being directed out the stddiag fd that we hold on each process (we tie stddiag to stderr if we are direct launched). When we go thru show_help, we instead pack a message with the fil

[2016-03-19 09:33] #1225 closed

[2016-03-19 09:33] #1467 closed

[2016-03-19 10:39] jsquyres commented on #1468
@alinask @hjelmn Perhaps a check should be added to rdmacm to ensure that the first RQ in the openib BTL is a per-peer RQ?  That would avoid confusing users like this (i.e., assuming we can detect the error and print a useful error message).  Or maybe rdmacm can simply emit a BTL verbose message saying that it chose to disqualify itself because there were no PP RQs.  Then the situation would be di

[2016-03-20 08:21] alinask commented on #1468
@hjelmn I tried adding P,65536,256,192,128 to the default value of btl_openib_receive_queues and to run only with P,65536,256,192,128.
Both failed with:
[code]

[2016-03-21 09:57] alinask commented on #1468
Branch v2.x currently doesn't work, same as the master.
Looks like the commit that started causing the failure is the one changing 'mpi_add_procs_cutoff' from 1024 to 0.

In v2.x:
[code]

Increasing mpi_add_procs_cutoff, from the command line, to a value higher than the np value makes the test run (along with not using SRQ). Both in v2.x and in the master branch.

[code]

[2016-03-21 13:41] hjelmn commented on #1468
Yup. So there were two problems. 1: you can not run rdmacm without a per-peer QP, 2: rdmacm has not been updated for dynamic add_procs. I can add a flag to indicate if rdmacm is in use not to use dynamic add_procs. I have not interest in fixing rdmacm so its unlikely I will do it. I can give pointers if anyone else wants to take a crack at it.

[2016-03-21 13:59] jladd-mlnx commented on #1468
@hjelmn can you, please, add the flag to disqualify dynamic add-procs if rdmacm is selected. In my opinion that's the only blocker here.

[2016-03-21 14:19] hjelmn commented on #1468
@jladd-mlnx Yeah, plan to add the flag today. Let me know if any pointers are needed for updating rdmacm.

[2016-03-21 14:21] alinask commented on #1468
I'll update the FAQ about the per-peer QP for rdmacm.

[2016-03-21 14:25] jsquyres commented on #1406
@bosilca Any comment?

[2016-03-21 17:02] #1468 closed

[2016-03-22 12:23] #1336 closed

[2016-03-22 16:56] jsquyres opened #1485 "Enabling C++ MPI bindings breaks the build"
On the master, if the MPI C++ bindings are enabled (i.e., `--enable-mpi-cxx`), the build breaks on x86-64 Linux with errors like this:

[code]

Git bisect shows that 664ecc8f84d47f968e95cc26a51f30f3236d26a1 is the commit that started this behavior.

Note that a1420003b673d6372a3b3acfbd9ce8f18088ae59 did not fix this issue.

[2016-03-22 17:10] gpaulsen commented on #299
I will ask to get Mark to contribute the Platform MPI solution for this fix ASAP, possibly with the hook to also allow other hooks to fire during any hook event (similar to signal handlers).

[2016-03-23 00:52] jsquyres commented on #1485
Fixed via 4b91237464e22709dcdd3980b7f0b4c8f287343a.

[2016-03-23 00:52] #1485 closed

[2016-03-23 08:15] ggouaillardet commented on #1475
@jsquyres i started this

[2016-03-23 12:19] ggouaillardet commented on #1475
fwiw, this is the tip of the iceberg ...
MPI_Status_f082c and MPI_Status_f082f and friends is where the heavy work is

btw, why ```OMPI_IS_FORTRAN_STATUS_IGNORE``` does not simply use ```MPI_F_STATUS_IGNORE``` ?

[2016-03-23 13:43] jsquyres opened #1487 "Build fail on CentOS 5.11: Absoft (ASM symbols missing)"
MTT link from last night showing the problem: https://mtt.open-mpi.org/index.php?do_redir=2279

[code]

@hjelmn Can you have a look?

[2016-03-23 13:46] hjelmn commented on #1487
Thats weird. I don't have an absoft compiler. They only make a fortran compiler, correct?

[2016-03-23 13:48] hjelmn commented on #1487
gcc 4.1.2 is the c compiler. It should have the sync builtin atomics (configure found them).

[2016-03-23 13:51] jsquyres commented on #1487
Correct: Absoft makes a Fortran compiler.  But to test Open MPI with their Fortran compiler, they have to test with whatever C compiler is on the system, too.  In this case, it's not their Fortran compiler that's causing the problem -- it's something else, because the error occurs when trying to link `opal_wrapper`.

[2016-03-23 14:34] jsquyres commented on #1487
@cagoelz sent us some output from that failed MTT run:

* [absoft-config.log.txt](https://github.com/open-mpi/ompi/files/186186/absoft-config.log.txt)
* [absoft-make-V=1.log.txt](https://github.com/open-mpi/ompi/files/186188/absoft-make-V.1.log.txt)

[2016-03-23 15:06] jsquyres commented on #1475
@ggouaillardet Probably just so that all the declarations in mpif-c-constants-decl.h are of the same form...?

[2016-03-23 16:41] bosilca commented on #1487
From the [gcc](https://gcc.gnu.org/onlinedocs/gcc-4.1.2/gcc/Atomic-Builtins.html) documentation of

Based on this documentation, the error message above, aka. missing __sync_add_and_fetch_4, suggests that the compiler does not have intrinsic support for these atomics operations and relies on external functions. Our configure reached a different conclusion because of a bug.

Here is what I gather f

[2016-03-23 16:55] hjelmn commented on #1487
That makes sense. Just change them to a AC_LINK_IFELSE.

[2016-03-23 23:23] bosilca commented on #1462
@patflick the assumption of the MPI_Op is that you do not touch the memory outside the layout described by the tuple (MPI_Datatype, count). Thus, doing a full memcpy with total disregard for the memory layout is incorrect.

[2016-03-23 23:40] patflick commented on #1462
@bosilca So without assuming anything about the memory layout of the datatype, could I use/abuse a self-send (MPI_Sendrecv to MPI_COMM_SELF) to safely copy the data from the MPI buffer into my own prior to accessing it?

[2016-03-23 23:44] ggouaillardet commented on #1462
@patflick if you want to copy a buffer into a larger one, then yes, ```MPI_Sendrecv``` can be used.

@bosilca could we simply align the size of the allocated memory ?
there is already a wrapper to align memory, it could be easy to extend it to fix the size
(e.g. malloc 16 bytes when 12 are requested)
that will not make valgrind happy, but that would avoid a crash due to compiler optimization

[2016-03-23 23:44] bosilca commented on #1406
#1491

[2016-03-23 23:59] patflick commented on #1462
@bosilca Due to how the custom operators are used in my application, I can assume that each item (of the `count` total items) is of a fixed size type `T` (such as a basic type or `struct`/`class`). I can exclude spaced/strided datatypes due to how the code is used. Thus I can assume at least that: `sizeof(T) == extent(data_type) >= true_extent(data_type)`.

I understand that my current solution as

[2016-03-23 23:59] bosilca commented on #1462
@patflick I would not call an MPI communication in an MPI_Op, even if the communication is with self. While it might work in most cases in Open MPI, I would not guarantee that it is the same in all MPI implementations. Calling MPI_Pack/MPI_Unpack might be safe(r). There is nothing in the MPI standard that would specifically allow for such behavior (also there is nothing that would prevent it).

@g

[2016-03-24 00:17] bosilca commented on #1462
I understand your problem, you don't want to care about the memory layout described by the datatype, but instead you want to simply copy the entire extent. If you do not care about possible valgrind complaints about using non-initialized memory (basically all the gaps in any temporary array will be non-initialized), then the solution you proposed above works (I'm not saying it is correct, but will

[2016-03-24 00:21] patflick commented on #1462
@bosilca

Just to understand your suggestion with MPI_Pack/MPI_Unpack, are you suggesting something like the following?

[code]

This will require quite a large additional memory requirement, so I wouldn't be too happy about this solution.

[2016-03-24 00:27] bosilca commented on #1462
I agree with you. It is a totally suboptimal, and undesirable, solution, but a correct one ;)

[2016-03-24 00:58] patflick commented on #1462
Thank you @bosilca for your help and suggestions. It's very appreciated!

I'll look into the performance penalty when using Pack/Unpack for
- all elements at once
- one element at a time (so I don't need to allocated additional memory beyond the size of one element)
- maybe in a blocked fashion (tradeoff between mem requirement and computing)

But for now (at least until the next deadline is over)

[2016-03-24 01:13] ggouaillardet commented on #1475
@jsquyres i just found i screwed up some time ago ...

in ```ompi/mpi/fortran/base/constants.h``` from the v1.10 branch

[code]

but later, i made some changes that you documented

[code]

bottom line, if i build ompi master with gfortran (single underscore by default) and
build my app with ```-fsecond-underscore```, then the application builds successfully, but
```MPI_STATUS_IGNORE``` and friends

[2016-03-24 06:57] ggouaillardet commented on #1475
@jsquyres
from mpi 3.1 standard page 658

[code]

[code]

[code]

i am not sure how to interpret that ...
there are C and Fortran2008 subroutines ```MPI_Status_f2f08```
what about ```MPI_STATUS_F2F08``` ?
is this an other name of the same function from the ```use mpi_f08``` binding ?
is this a ```use mpi``` binding ? in this case, ```TYPE(MPI_Status)``` is Fortran 2008 syntax, so i am a bit puzzle

[2016-03-25 13:52] jiayulu opened #1494 "compilation error with external pmix"
I was compiling the master branch on Centos 7 using https://github.com/pmix/master, I had to do the following in order to compile, does it work for you out of the box? Thanks!

cd ompi/opal/mca/pmix/external
ln -s path/to/pmix/src src

add
#include "opal/util/argv.h"
in ompi/orte/mca/rml/base/rml_base_stubs.c

[2016-03-25 15:32] rhc54 commented on #1494
I'll fix these. The PMIx include file organization changed earlier this week, and I need to update OMPI's "external" component accordingly. Same for the RML.

[2016-03-25 16:08] rhc54 commented on #1494
Hmmm...I fixed the missing header file in rml_base_stubs.c. However, I cannot replicate the build problem when linked against the current pmix master. Could you try updating both code bases and see if the problem still exists? I'm wondering if there was something recently committed that resolved the problem.

[2016-03-25 19:13] jiayulu commented on #1494
I still get this:

make[2]: Entering directory `/home/yjia/tmp/iof/_build.external/ompi/opal/mca/pmix/external'
  CC       mca_pmix_external_la-pmix_ext_component.lo
  CC       mca_pmix_external_la-pmix_ext.lo
  CC       mca_pmix_external_la-pmix_ext_client.lo
pmix_ext_client.c:33:39: fatal error: src/buffer_ops/buffer_ops.h: No such file or directory
 #include "src/buffer_ops/buffer_ops.h"

[2016-03-25 19:44] rhc54 commented on #1494
Yes, Jeff O. and I have exchanged some notes on this and I now see the issue - trying to understand root cause.

[2016-03-25 21:16] rhc54 commented on #1494
Okay, this should now be fixed. You will need to update your copy of the PMIx master, and then configure --with-devel-headers to get the required headers.

Sorry for the problem - there was an upstream change to PMIx that disabled installation of the headers.

[2016-03-25 21:16] #1494 closed

[2016-03-26 11:13] jsquyres commented on #299
@hjelmn has posted a PR with this functionality (after a bunch of off-list discussions with @markalle and @gpaulsen). See #1495.

[2016-03-27 07:53] nysal opened #1498 "orterun crashes in PMIx with current master branch"
pmix 112 and pmix 120 seem to be geeting mixed up, based on the stack trace below:

[code]

[2016-03-27 10:02] nysal commented on #1498
This report is invalid. A build issue.

[2016-03-27 10:02] #1498 closed

[2016-03-28 08:22] ggouaillardet opened #1501 "error message when no btl is available and cutoff is used"
Here is the previous behavior
(running two tasks on two nodes with only ```sm``` and ```self``` btl, and ```cutoff=1024```)

obviously, this cannot work, and the error message is explicit

[code]

since default ```cutoff``` is now zero, there is no such check at ```MPI_Init()``` time, but such check is missing at runtime.
a cryptic error message is issued followed by a crash

[code]

@rhc54 @hjelm

[2016-03-28 15:16] hjelmn commented on #1501
Hmmm, the same error message should be appearing in the dynamic add_procs case. Not sure what is going on. I will take a look.

[2016-03-28 18:57] matcabral commented on #1352
Tested the patch and confirmed it works as expected. (OMPI 1.10.2)

[2016-03-28 21:38] #1501 closed

[2016-03-29 10:26] jsquyres commented on #1406
Fixed via #1491.

[2016-03-29 10:26] #1406 closed

[2016-03-29 10:27] jsquyres opened #1505 "Merge new TCP BTL code to v2.x"
#1491 fixed some TCP BTL MPI_THREAD_MULTIPLE issues.  After letting it soak on master for a little bit, we need to PR it over to the v2.x branch.

Commits to include:

* 32277db6aba4e0a794a0c9814a23f6d2930f4170
* 92062492b9ad4ce6b362e0243c3d481d0492c632
* f69eba1bc42634d6194ceadca9f537f7c91200a9
* d0165818b393b54a2455abea5d58609f252d636d
* f70c5c495bf1dae9da8fe430205973bb46678915
* e852d85cc1b6dba

[2016-03-29 13:16] jsquyres commented on #1487
@hjelmn This is still happening: https://mtt.open-mpi.org/index.php?do_redir=2281

[2016-03-29 14:37] jsquyres opened #1506 "rml assertion failures on v2.0.0"
On Cisco MTT -- both with TCP and the usNIC BTLs, I'm getting thousands of RML assertion failures that look like this (this particular test is the hello_c program):

[code]

I don't think that this is related to the BTL, but here's separate links, anyway:

* [MTT with the TCP BTL](https://mtt.open-mpi.org/index.php?do_redir=2282)
* [MTT with the usNIC BTL](https://mtt.open-mpi.org/index.php?do_red

[2016-03-30 10:25] jsquyres commented on #1487
@hjelmn Unfortunately, this did not fix the issue -- it happened again in MTT last night: https://mtt.open-mpi.org/index.php?do_redir=2284

I note that the platform on which Absoft is building is ia32.  Does that have something to do with this error?

@cagoelz Could you send us (or attach to this issue) the `config.log` and `opal/include/opal_config.h` file from the MTT build cited above?

[2016-03-30 12:40] cagoelz commented on #1487
Files attached.
[config.log.txt](https://github.com/open-mpi/ompi/files/195487/config.log.txt)
[opal_config.h.txt](https://github.com/open-mpi/ompi/files/195486/opal_config.h.txt)

[2016-03-30 12:43] jsquyres commented on #1487
@cagoelz Thanks!

@hjelmn OIC what happened -- #1508 was merged in after the snapshot tarballs were made last night (i.e., the MTT from last night didn't include the fix from #1508).

I actually kicked off a new snapshot tarball generation a little while ago because there was a compile error in the new TCP BTL changes that came in yesterday.  The change from #1508 will be included in this new snap

[2016-03-30 15:54] eediaz1987 opened #1510 ".>[Error: Name or service not known]"
i have a error usin OpenMpi, here atach a log fragment

[code]

**EDIT:** Used github triple-single-tick to mark the above section as verbatim.

[2016-03-30 16:03] rhc54 commented on #1510
I'm afraid I need a little more info than that - at least what OMPI version you are using?

[2016-03-30 16:09] eediaz1987 commented on #1510
i'm using OMPI 1.8.4-gcc 4.9.2, i instaled using easybuild

[2016-03-30 16:13] jsquyres commented on #1510
FWIW, I've seen this kind of message when I inadvertently used Open MPI version X on one machine and Open MPI version Y on another.

I've also seen it when I compiled my MPI app with Open MPI version X and then used `mpirun` from Open MPI version Y.

Can you confirm that you are using a single, consistent version/installation of Open MPI?

[2016-03-31 00:36] ggouaillardet commented on #1510
@eediaz1987
this error can only occur if ```ipv6``` is explicitly enabled at configure time with ```--enable-ipv6```, and this is does not seem to be the case with easybuild https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/o/OpenMPI/OpenMPI-1.8.4-GCC-4.9.2.eb
that being said, i am even surprise you ran into this
at first glance, ```parse_uri``` should be given on

[2016-03-31 13:03] jsquyres commented on #1487
Sorry @hjelmn, your fix didn't fix this issue -- I have to re-open it again.  :-(

[Last night's MTT](https://mtt.open-mpi.org/index.php?do_redir=2285) showed the same compile/link failure.  I assume @cagoelz's attachments from yesterday are still relevant to last night's failure -- can you have a look and see what's going on?

[2016-03-31 17:49] ChristianKniep opened #1511 "ssh-less MPI using docker exec"
Hey guys,

how about using `docker exec` instead of `rsh`/`ssh`? I did a small proof-of-concept, but I am afraid my C is to poor (not existent) to create a PR. :)
http://qnib.org/2016/03/31/dssh/

[2016-03-31 17:52] jsquyres opened #1512 "Merge ompi and ompi-release repos"
Github is finally allowing us per-branch ACLs, meaning that we can restrict who can push to which branches.  Yay!

https://github.com/blog/2137-protected-branches-improvements

We'll want to test this capability, and then start talking through the logistics of merging the ompi and ompi-release repos.  Here's a few issues I can think of:

1. All the outstanding PRs on ompi-release will need to be r

[2016-03-31 18:16] rhc54 commented on #1511
Not entirely sure I understand - you can just use the MCA param: -mca plm_rsh_agent "docker exec"

Does that not work for you?

[2016-03-31 18:47] jsquyres commented on #1487
Er... @rhc54 that was an amusing cross-repository ticket closing.  :stuck_out_tongue_winking_eye:

[2016-03-31 18:53] rhc54 commented on #1487
???? how the heck did that work?

[2016-03-31 18:54] rhc54 commented on #1487
WOW - that seems like a real "hole" in the system! All I did was "git pull" from OMPI, and then update the SCON repo.

[2016-03-31 19:41] jsquyres commented on #1511
If you look at his blog entry, it looks like @ChristianKniep effectively did that (i.e., used `plm_rsh_agent`).

So -- @ChristianKniep -- what exactly are you asking us for?  :smile:

[2016-03-31 19:52] rhc54 commented on #1511
Perhaps the desire is to have OMPI provide the same kind of support for Docker that we now do for Singularity? If so, I'm happy to see someone's proposed diff - I was happy to do Singularity because I believe it provided an excellent proof-of-concept for HPC. I'm less committed to extending that to the other containers out there.

[2016-03-31 22:23] ChristianKniep commented on #1511
Hey there,

I admit I am not entirely sure what is the most practical option here, but I reckon something like the ability to state a docker endpoint to enable a docker-mode.

#mpirun —docker <endpoint>  /scratch/hello_mpi
$ mpirun —docker docker-swarm:2375 /scratch/hello_mpi
and yes, I guess you are close to be right that I could just use -mca plm_rsh_agent "docker exec" but it would be much nice

[2016-03-31 23:30] jsquyres commented on #1511
@rhc54 can you describe what the current status of singularity integration is?

[2016-04-01 07:55] ChristianKniep commented on #1511
@rhc54 I talked to Greg a couple of weeks ago and as far as I understood the goal for Singularity is to run the extracted (static linked executable) in some namespaces.

IMHO this approach would be different, as it 'only' swaps the mechanism with which the `orted` is spawned on the remote host.

[2016-04-01 13:48] ggouaillardet commented on #1511
fwiw, on top of the ```plm_rsh_agent``` you can also use the ```orte_launch_agent``` and the ```orte_fork_agent``` MCA parameters

basically,
[code]
does
[code]
and ```orted``` will fork&exec ```a.out```

[code]
will
[code]
iirc, it is up to ```launcher``` to start ```orted```

and ```orted``` will fork&exec ```forker a.out```

though this is not a strong opinion, i am not sure native has much add

[2016-04-01 14:02] ChristianKniep commented on #1511
Hey @ggouaillardet,

thanks for your feedback. I am still tinkering around with the `dssh` poc I created yesterday,
currently hooking it up with SLURM in order to start containers, run `mpirun` within a `srun` and remove the container.

To figure out what the best course of action is, I guess it makes sense to first implement it with a wrapper and see afterwards what the take-aways are.

As writte

[2016-04-01 14:05] jsquyres commented on #1511
@ChristianKniep Great timing -- I was literally just re-reading this thread when you replied.  :smile:

I like your idea of first writing a wrapper and using the knowledge gained to extract what would be useful in a more "native" solution (i.e., an Open MPI-ish approach of automatically detecting that you want to run in a Docker-based environment, and just "doing the right thing" behind the scenes

[2016-04-01 14:21] eediaz1987 commented on #1510
for this errror [hn:27581] oob_tcp_parse_uri: Could not resolve
10.30.1.225,192.168.1.254. [Error: Name or service not known] i run the
command
host 10.30.1.225 and the answer was
host 10.30.1.225
225.1.30.10.in-addr.arpa domain name pointer hn.hpc.uo.edu.cu.
and i obtenin the same answer for the other ip

2016-03-30 19:36 GMT-05:00 Gilles Gouaillardet <notifications@github.com>:

[2016-04-01 14:54] ChristianKniep commented on #1511
Cool, thank guys! Let's see where this is heading... :)

[2016-04-01 15:28] eediaz1987 commented on #1510
yes i'm using only OMPI 1.8.4-gcc 4.9.2

[2016-04-01 15:32] jsquyres commented on #1510
Can you send the full output from https://www.open-mpi.org/community/help/ ?

[2016-04-03 20:25] kmroz commented on #1396
Hopefully taken care of by https://github.com/open-mpi/ompi/issues/1515.

[2016-04-03 22:29] ggouaillardet commented on #1510
can you also run
mpirun --mca oob_base_verbose 100 -np 1 bin/mpi_hello
and post the output

[2016-04-04 07:58] sbez44 commented on #874
this all looks toppling hot.I got thrown here from Mac download mpi repair bug homebrew! looking for NetPipe cluster trails of cray && earlier blue ibm (pre zos)dont think your comments should contain live links yunno!!! those bug block build up queues are all under pressure,from what is coursoing and causing such,but dont know what.need step way back!

[2016-04-04 12:10] kmroz commented on #1435
Tried reproducing this on latest ompi/master and ompi-release/v2.x. Both show no such problem:

    % mpirun --mca btl_tcp_if_include foo -np 2 ./hello_c
    MPI_INIT: argc 1
    MPI_INIT: argc 1
    [elm][[3219,1],1][btl_tcp_component.c:706:mca_btl_tcp_component_create_instances] invalid
    interface "foo"
    [elm][[3219,1],0][btl_tcp_component.c:706:mca_btl_tcp_component_create_instances] inva

[2016-04-04 12:21] kmroz commented on #1435
I also dropped a small debug into opal/mca/btl/base/btl_base_select.c:mca_btl_base_select() as I was not 100% sure if hello_c.c would be enough to properly test TCP BTL instantiation (and I couldn't figure out how to make the opal_output_verbose() happen :smile:).

I can confirm that we hit the below condition:

    mca_btl_base_select():
    ....
         OPAL_LIST_FOREACH_SAFE(...)
         ....

[2016-04-04 13:08] eediaz1987 commented on #1510
i run that line and this is the output
UOeediaz@hn:~$ mpirun --mca oob_base_verbose 100 -np 1 bin/mpi_hello
[hn:09412] mca: base: components_register: registering oob components
[hn:09412] mca: base: components_register: found loaded component tcp
[hn:09412] mca: base: components_register: component tcp register function
succe                                                           ssful
[hn:094

[2016-04-04 15:01] rhc54 opened #1520 "Warnings in datatypes"
Current master open-mpi/ompi@2bfd6a9

[code]

[2016-04-04 15:05] rhc54 opened #1521 "Warnings in tcp btl"
Current master open-mpi/ompi@2bfd6a9

[code]

[2016-04-04 17:30] #1344 closed

[2016-04-04 20:36] bosilca commented on #1521
Fixed in 26fc853.

[2016-04-04 20:36] #1521 closed

[2016-04-04 20:36] bosilca commented on #1520
Fixed in 26fc853.

[2016-04-04 20:36] #1520 closed

[2016-04-05 05:29] ggouaillardet commented on #1510
line 358 from ess_env_module.c does not seem to come from version 1.8.4 !

can you please double or triple check you are using the correct library
[code]

can you also post the output of

[code]

and the config.status easy build generated ?

[2016-04-05 11:39] ggouaillardet commented on #1510
@eediaz1987 I checked the sources, and as far as I am concerned, these traces can only make sense with mpirun from v1.8 series or later, whereas your app is using v1.6 series libraries

[2016-04-05 15:15] hppritcha commented on #1505
There may be some other commits that need to be picked up.

[2016-04-05 15:26] rhc54 opened #1524 "Lots of MTT failures for MPI_Pack/MPI_Unpack"
Getting lots of MTT errors related to these two functions - here is one from MPI_Irecv_pack_c:

[code]

@ggouaillardet Nathan seemed to recall you had made some recent changes here, so I've assigned it to you. Can you please take a look?

[2016-04-06 00:49] ggouaillardet commented on #1524
my bad ...
this is now fixed in open-mpi/ompi@7b803ac5574259f457ef7bf27c305ab2b2bbd167

[2016-04-06 00:49] #1524 closed

[2016-04-06 04:57] ggouaillardet opened #1526 "pmix peer socket is never closed"
when running the `loop_spawn` test from the ibm test suite

[code]

i noticed a leak of file descriptor on `mpirun`, that can be evidenced with `lsof -p $(pidof mpirun)`
the file descriptor is a unix socket of the form `/tmp/openmpi-sessions-1550@node0_0/14479/0/0/pmix-8746`

this is the `peer->sd` socket where `peer` is a `pmix_peer_t *`

at first, i naively added a `close(peer->sd)` in `server_s

[2016-04-06 14:19] eediaz1987 commented on #1510
mpirun --version ldd bin/mpi_hello for this command the output is
mpirun (Open MPI) 1.8.4
Report bugs to http://www.open-mpi.org/community/help/

and in the atachment is the output of the other command

2016-04-05 6:39 GMT-05:00 Gilles Gouaillardet <notifications@github.com>:

                 Package: Open MPI oau@hn Distribution
                Open MPI: 1.8.4
  Open MPI repo revision: v1.8.3-33

[2016-04-06 21:41] hppritcha opened #1527 "aprun launched jobs hang in MPI_Finalize"
On master aprun launched jobs now hang in `orte_rml_base_close`.  Processes are hung in the
`ORTE_WAIT_FOR_COMPLETION` macro.

[2016-04-06 21:52] rhc54 commented on #1527
@hppritcha Do your apps not start an async progress thread? Or are they shutting it down early? It looks to me like apps launched by aprun shouldn't be doing anything different, but those are the only two reasons why you wouldn't get thru that wait.

[2016-04-06 22:41] hppritcha commented on #1527
No particular async thread is being started related to alps specific components.  The hang is not observed in v2.x nor when using srun/master, so in those cases something is progessing libevent to allow ```orte_rml_base_close``` to complete.

[2016-04-06 22:46] hppritcha commented on #1527
I suspect that the fact the usock oob component doesn't startup when using aprun might be the cause.

[2016-04-07 14:35] ggouaillardet commented on #1510
@eediaz1987
could you please run
[code]
and post the output ?

you can also try
[code]
and see if you are luckier with that

[2016-04-08 16:42] rhc54 commented on #1526
@ggouaillardet Please check the referenced PR - I believe this will cleanup the problem.

Note that I'm still seeing us abort from loop_spawn due to:

[code]

I've tried to fix that a couple of ways, but am having no luck tracking it down. Could you please take a look?

[2016-04-08 18:25] eediaz1987 commented on #1510
this is the output for the first command

UOeediaz@hn:~$ ldd bin/mpi_hello
        linux-vdso.so.1 =>  (0x00007ffcd4b0c000)
        libmpi.so.0 => /usr/lib/libmpi.so.0 (0x00007fdd2f7fc000)
        libopen-rte.so.0 => /usr/lib/libopen-rte.so.0 (0x00007fdd2f5ae000)
        libopen-pal.so.0 => /usr/lib/libopen-pal.so.0 (0x00007fdd2f357000)
        libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x000

[2016-04-08 18:27] rhc54 opened #1530 "MPI Errhandler causes segfault on receipt of signal"
In trying to track down an apparent "hang" on the 1.10.3 branch, I discovered that the job wasn't actually hanging. Instead, the job was taking a long time to complete because nearly every proc was segfaulting and writing out a core dump - and it was taking so long to write out all those core dumps that MTT thought we had hung.

The test is Intel MPI_Errhandler_fatal1_f (a few others show the same

[2016-04-08 18:30] rhc54 commented on #1530
Should have provided this - here is the MTT complaint:

[code]

[2016-04-08 18:32] rhc54 commented on #1510
@eediaz1987 If you look at the output, you can clearly see the problem - you built mpi_hello against a library in /usr, and mpirun is in /opt

You need to fix your path and rebuild mpi_hello

[2016-04-08 18:37] eediaz1987 commented on #1510
thanks, i will the mpi_hello and i will try again

2016-04-08 13:32 GMT-05:00 rhc54 <notifications@github.com>:

[2016-04-08 18:53] rhc54 commented on #1530
Final tidbit - when I gdb the core dump, all I can see is that the proc was sitting in a signal handler, and that the rest of the stack was corrupted.

[2016-04-11 01:51] ggouaillardet commented on #1530
@rhc54 i was able to reproduce it on one system, and the problem went away with

[code]

could you please give it a try ?

```libpsm_infinipath.so``` sets its own signal handler when ```mca_mtl_psm.so``` is dlopen'ed, and it overwrites the OpenMPI signal handler.
if you built with ```--disable-dlopen``` i am not sure which signal handler is set first, nor whether this is a consistent behavior acro

[2016-04-11 04:22] #1352 closed

[2016-04-11 13:44] jsquyres commented on #1510
@eediaz1987 I'm going to close this issue, since it looks like the root cause has been found.  Feel free to reply / re-open the issue if the issue still isn't solved.

[2016-04-11 13:44] #1510 closed

[2016-04-11 20:13] jsquyres commented on #1505
This is now done.

[2016-04-11 20:13] #1505 closed

[2016-04-11 21:11] jsquyres commented on #1396
Looks like this was fixed in #1515.

[2016-04-11 21:11] #1396 closed

[2016-04-12 11:23] ggouaillardet commented on #1526
@rhc54 the leak is still there
the socket is not (always) closed by the server right after it receives the FINALIZE command from the client,
but the client likely closes the socket after.
SIGPIPE occurs in this context, I did not search why data is being sent by the server, and I am not 100% sure this can be avoided.
an option is to replace write() with send(...,MSG_NOSIGNAL) in send_bytes, and ad

[2016-04-12 12:49] rhc54 commented on #1526
@ggouaillardet Hmmm...the client is supposed to wait for the server to ack receipt and processing of the finalize command. I'll take a look at that code to see how it is escaping early. Changing the write to a send as you describe sounds like a good idea anyway.

I'll take another look at the leak.

[2016-04-12 13:20] jsquyres commented on #1487
@hjelmn This problem is still occurring on master.  Can you please have a look?  https://mtt.open-mpi.org/index.php?do_redir=2288

Absoft's build system is a 32-bit platform, GCC: 4.1.2, Absoft: Absoft 32-bit Pro Fortran 16, CentOS5.11.

[code]

The error is:

[code]

[2016-04-12 14:16] hjelmn commented on #1487
Need the latest config.log to track this down. Last one if from before the change that should have fixed this.

[2016-04-12 14:32] jsquyres commented on #1487
@hjelmn Tony provided the config.log in an earlier comment: https://github.com/open-mpi/ompi/issues/1487#issuecomment-203412942

[2016-04-12 14:33] cagoelz commented on #1487
Do you need the config.log from the 4/12 testing?

[2016-04-12 14:55] hjelmn commented on #1487
That log was from before the fix. Yes, I need the latest one.

[2016-04-12 14:58] rhc54 commented on #1526
@ggouaillardet I took a look at the code, and I actually don't think the client is escaping "early" - looks to me like a simple race condition that occurs when both sides are actively closing the socket via a handshake. So I think moving to the "send" API is the correct solution there.

[2016-04-12 15:01] cagoelz commented on #1487
Here it is.
[config.log.txt](https://github.com/open-mpi/ompi/files/215276/config.log.txt)

[2016-04-12 15:02] kmroz commented on #1435
@jsquyres - Have you been able to reproduce this on your end at all since your last update?

[2016-04-12 15:11] hjelmn commented on #1487
I think I see the problem. The configure test is succeeding but it is just checking for __sync_synchronize(). I am improving the check to add compare-and-swap and fetch-and-add.

[2016-04-12 17:13] #1487 closed

[2016-04-12 17:50] gpaulsen commented on #1208
OFED 2.2 is too old, closing.

[2016-04-12 17:50] #1208 closed

[2016-04-12 23:28] jsquyres commented on #1530
When I run this, I end up in `opal/mca/pmix/pmix120/pmix/src/client/pmix_client.c` in `PMIx_Abort`.

It calls `PMIX_ACTIVATE_SEND_RECV` on line 549, and then returns.  This seems to be a race condition, because the `orted` will kill the process "right away" -- but perhaps not before the call to `PMIx_Abort` returns and unwinds the stack into areas that are not expecting a return.

Shouldn't `PMIx_

[2016-04-13 06:35] ggouaillardet commented on #1526
@rhc54 my bad, i missed the server acknowledged the ```FINALIZE``` request

i found a related issue: when ```PMIx_Finalize()``` is invoked, the ```PMIX_FINALIZE_CMD``` request might be sent __before__ previous requests, such as ```PMIX_DEREGEVENTS_CMD```, i fixed that by adding a ```PMIX_THREASHIFT```

i made a proof of concept at https://github.com/ggouaillardet/ompi/tree/poc/pmix_finalize

[2016-04-13 17:25] rhc54 commented on #1530
@jsquyres I'm scratching my head over your comment and failing to grok it. One process calls "abort", and we correctly handle that call and it cleanly exits. The other processes (that registered errhandlers) are the ones that are segfaulting. Are you saying that those procs are also calling "abort" upon receiving a signal? If so, then that would indeed be a problem.

[2016-04-13 17:50] sjeaugey opened #1541 "v2.x : neighbor_allgather is broken"
As MTT shows, neighbor allgather is broken on v2.x (segmentation fault). Not tied to a particular transport.

[2016-04-13 20:51] jsquyres commented on #1530
@rhc54 and I talked about this on the phone:

1. ORTE's abort is catching the return from PMIx_Abort() and is calling exit().  So we're good there.
1. I looped over calling `MPI_Errhandler_fatal1_f` and am unable to replicate the error.  :frowning:

@rhc54 is going to keep investigating...

[2016-04-13 23:45] ggouaillardet commented on #1530
@rhc54 did you confirm this issue is not related to ```libpsm_infinipath.so``` that sets its signal handler when dlopen-ed and is then unmapped because there is no PSM hardware ?

[2016-04-13 23:55] rhc54 commented on #1530
I don't have psm support on my system, nor are any of those components built. I can't swear that isn't the problem - maybe some other component is opening something that can cause the problem. For example, I do have libfabric installed, and the usnic btl is opening it, so perhaps this problem is creeping in that way?

[2016-04-14 00:01] ggouaillardet commented on #1530
iirc, i ran the application as a singleton under gdb, set a breakpoint in ```signal``` and ```sigaction``` in order to find who sets signal handlers.
a simpler solution would have been to call ```sigaction``` and then use ```dladdr``` after ```MPI_Init``` but i could not figure out how to get ```dladdr``` work ...

[2016-04-14 00:15] ggouaillardet commented on #1541
open-mpi/ompi#a8bdd8f6 has not been backported, will do from now

[2016-04-14 05:20] ggouaillardet commented on #1526
there is a similar race condition on the server side.
the repoly to ```PMIX_FINALIZE_CMD``` might be sent __before__ the reply to ```PMIX_DEREGEVENTS_CMD```

[2016-04-14 13:59] eschnett opened #1544 "Have constants available in shared library"
I am one of the maintainers of the MPI wrapper package for Julia <https://github.com/JuliaParallel/MPI.jl>. This package provides Julia language bindings for MPI, essentially wrapping various MPI functions, comparable to what mpi4py <http://pythonhosted.org/mpi4py/> does for Python.

It is in Julia straightforward to call C functions in a shared library. The MPI API is standardized, so that part i

[2016-04-14 14:20] ggouaillardet commented on #1544
in OpenMPI, MPI_INT is an opaque pointer, so it is not a constant.
fwiw, mpich uses handles, so it is likely a constant.

[2016-04-14 14:59] jjhursey opened #1545 "Missing help file `help-rcache-base.txt`"
I looks like there is a missing help file in the master branch:
[code]

That help file is referenced in two places:
  * [opal/mca/rcache/base/rcache_base_create.c](https://github.com/open-mpi/ompi/blob/master/opal/mca/rcache/base/rcache_base_create.c)
  * [opal/mca/rcache/base/rcache_base_mem_cb.c](https://github.com/open-mpi/ompi/blob/master/opal/mca/rcache/base/rcache_base_mem_cb.c)

I could not

[2016-04-14 15:07] eschnett commented on #1544
We're actually using the Fortran API instead of the C API, since this doesn't require using struct types that also don't have a standardized layout. It seems that Fortran's constants are actually constant, so `MPI_INTEGER` could be available as constant in the data section.

[2016-04-14 15:19] hjelmn commented on #1545
The file was probably originally opal/mca/mpool/base/help-mpool-base.txt. I will see what happened. I probably forgot to move|copy the file.

[2016-04-14 15:20] hjelmn commented on #1545
hah. forgot to checkin the file. fixing now.

[2016-04-14 16:22] #1545 closed

[2016-04-14 22:06] jsquyres commented on #1530
usnic doesn't set any signal handlers.

Does your libfabric had libpsm(2) support?  You should be able to run `fi_info --list` to see what providers your libfabric has.

[2016-04-14 22:34] jsquyres commented on #1541
Fixed via open-mpi/ompi-release#1074.

[2016-04-14 22:34] #1541 closed

[2016-04-14 22:52] jsquyres commented on #1435
Agreed -- this is no longer an issue on master.  Also tested v2.x -- not happening there, either.  Yay!

[2016-04-14 22:52] #1435 closed

[2016-04-14 23:06] jsquyres commented on #1544
Can't you write a simple Fortran application to run in configure to write the values of the MPI integer constants to stdout (or a file)?

[2016-04-15 11:30] jsquyres opened #1547 "Datatype warning on master"
@bosilca I'm getting the following compilation warning on master:

[code]

It looks like the only use of the `update_loop_description` label is in some code that is `#if 0`'ed out with some kind of comment about heterogeneity.

[Can you re-examine the code?](https://github.com/open-mpi/ompi/blob/master/opal/datatype/opal_datatype_pack.c#L550-L572)  See if that `#if 0` code (and the label) should b

[2016-04-15 20:05] jsquyres opened #1549 "Move PMIx 1.1.4 to v2.?"
@hppritcha What do you think of putting the new PMIx in v2.0.1? That way, we're not holding up v2.0.0 for stability of this new PMIx stuff, but since it won't affect backwards compatibility (and probably solves some bugs), we could put it in v2.0.1. Let's discuss Monday.

[2016-04-15 23:36] kmroz opened #1551 "No standardization on hostname max length"
I was tracing a program in examples/ this evening and noticed that we have a myriad of different max hostname lengths ranging from 20 - 1024, and slight variations in handling gethostname():

https://gist.github.com/kmroz/6fb7699712d41abb4cd2ba9553163c82

I thought it might be a good idea to use, if available, what's in limits.h:HOST_NAME_MAX. Something like:

    diff --git a/opal/include/opal_co

[2016-04-15 23:47] rhc54 commented on #1551
we've been shamefully inconsistent on it - no harm in fixing it. any upstream conflicts are easily resolved

[2016-04-18 04:18] ggouaillardet commented on #1526
regardless the race conditions i identified earlier, the root cause is (multiple) leaks of ```pmix_server_caddy_t``` objects

the inlined patch fixes that.
please double check the ```FIXME``` comments.
the patch is a bit convoluted, but i am not sure there is an easy way to fix it.
also, i am not sure whether a caddy should be removed from a list in case of error.

[code]

[2016-04-18 12:14] hiliev commented on #1530
Same problem here. `libpsm_infinipath.so` is setting a signal handler for `SIGINT` while the `psm` MTL is `dlopen()`-ed and then not restoring the previous handler on `dlclose()`. Ctrl-C then results in a call right into the middle of an unmapped memory region. It took me quite some staring at the stack trace before I realised what is going on and my initial assumption was that the stack frame was

[2016-04-18 18:33] matcabral commented on #1530
@rhc54 is saying he's build does not have PSM support. Please confirm.
If  PSM is actually in, as @ggouaillardet mentioned, using IPATH_NO_BACKTRACE=1 will disable libpsm_infinipath.so playing with sighandlers.  There was an issue related to psm hijacking sighandlers and JVM. This was fixed in PSM_VERNO    0x0110. Please look at:

https://github.com/01org/psm/commit/225bbc9ab2609868dfbc62f652f5f38

[2016-04-18 19:58] rhc54 commented on #1530
I can confirm that I do _not_ have the PSM support built on my machine. However, I _do_ have the OFI MTL component built, and have libfabric on the machine. Thus, even though I lack the hardware and have not built the PSM MTL, I fear that the libraries may be getting opened via the libfabric provider.

If that is true, then this problem could hit everyone who installs libfabric, even if they don't

[2016-04-19 00:08] ggouaillardet commented on #1530
@matcabral in the case of psm mtl, i do not think the error occurs when configure'd with --disable-dlopen, or when static libraries are built in.

[2016-04-19 00:28] matcabral commented on #1530
@rhc54 I think the key question would be to know how the libfabric that you have was built.
@ggouaillardet I haven't looked deeper into psm code, but I the signal handler registration only happen at load time.

[2016-04-19 00:51] ggouaillardet commented on #1530
@matcabral if OpenMPI uses dynamic components, and there is no infinipath hardware, then the ```libpsm_infinipath.so``` is dlopen'ed and then dlclose'd shortly after in ```MPI_Init()```. in previous releases, that means some signal handlers use unmmap'ed (e.g. invalid) addresses, and hence the issue.

my point is that if OpenMPI was configure'd with ```--disable-dlopen```, the ```libpsm_infinipath

[2016-04-19 15:23] hppritcha opened #1559 "PSM2 MTL doesn't work for single node jobs"
PSM2 MTL has problems with initialization, in particular, in the call to ```psm2_ep_open``` when runninig on a single node.

The failure signature is
[code]
This is with v1.10.1 but also shows up in v2.x.

The issue appeared on devel mail list:
https://www.open-mpi.org/community/lists/devel/2016/04/18762.php

[2016-04-19 15:51] matcabral commented on #1530
@ggouaillardet (thanks for the clarification) . Regarding the warning, to make it simple, I would make the psm mtl fail when using "older unsafe version" and not invest in knowing java is around (or depending on if ```--disable-dlopen``` was used) (btw, we may be diverging from bug's title :O )

Back to main issue: hypothesis: Is it possible that libfabric was built with psm support so it is dlope

[2016-04-19 16:04] rhc54 commented on #1530
I would expect that is indeed the case. I simply downloaded the libfabric (v1.1.0) rpm and installed it via "yum" on CentOS-7, and I'm sure they would have built it for the most general case.

[2016-04-19 21:21] jsquyres commented on #874
@adrianreber Is this issue still relevant?

[2016-04-20 10:45] jsquyres opened #1565 "Solaris memory patcher compile errors"
@siegmargross reported in http://www.open-mpi.org/community/lists/users/2016/04/28978.php that he's getting some compile errors with the new memory patchers on Solaris:

[code]

[code]

@hjelmn please have a look

[2016-04-20 13:28] adrianreber commented on #874
@jsquyres I do not see the segfault mentioned in this ticket anymore. All tests of the intel_tests directory are running on all branches on ppc64 without errors. Seems fixed, yes.

[2016-04-20 13:30] jsquyres commented on #874
@adrianreber Thanks.
@doko42 I didn't hear back from you, so I'm assuming this is no longer an issue for you, either.

So I'm closing this issue.

[2016-04-20 13:30] #874 closed

[2016-04-20 15:49] hppritcha commented on #1559
Okay the problem is that the PSM2 MTL is setting the PSM2_DEVICES env variable to just self,shm
when running on a single node.  There seems to be a bug in the PSM2 installed on our systems that causes ```psm2_ep_connect``` to timeout for process 0 with PSM2_DEVICES so set.    If I comment out the lines in the MTL which set this env. variable the single node jobs run to completion.

Logfile for whe

[2016-04-20 16:35] #1565 closed

[2016-04-20 21:35] jsquyres opened #1569 "COMM_SPAWN broken on Solaris/v1.10"
@siegmargross posted that COMM_SPAWN tests on master on Solaris/SPARC are broken in http://www.open-mpi.org/community/lists/users/2016/04/28984.php.

Here's this text programs (had to add `.txt` to the filenames to upload them here in this Github issue, sorry):
- [spawn_master.c](https://github.com/open-mpi/ompi/files/228845/spawn_master.c.txt)
- [spawn_multiple_master.c](https://github.com/open-m

[2016-04-21 02:02] jjhursey opened #1570 "LSF binding is incorrect if multiple app contexts"
When scheduled under LSF, and with LSF specifying bindings (via the `LSB_AFFINITY_HOSTFILE` file) if the user runs mpirun with multiple app contexts the binding will be incorrect.

For example, if the mpirun looks like:
[code]

And let's assume that we are mapping by socket, and have 4 sockets per node over 2 node (nodeA, nodeB). Open MPI will map:
[code]

Instead of what might be expected:
[code]

[2016-04-21 02:37] rhc54 commented on #1570
Ah, my apologies - I do now remember working with someone on this feature. IIRC, the customer was in Europe, but I don't honestly recall if IBM was involved or not.

Anyway, the seq mapper should definitely not be resetting between app_contexts - that is a definite bug! I'll fix that one for you, and ensure it gets PR'd across.

[2016-04-21 02:52] rhc54 commented on #1570
I just reviewed the seq code, and it does not in fact reset to the beginning for each app_context. It actually continues from the last point. However, it does look at the hostfile and dash host for each app_context and follow those listings.

So it is the LSF RAS that is incorrect. What it should be doing is assigning the LSB_AFFINITY_HOSTFILE as the default hostfile (which would then apply across

[2016-04-21 13:47] jjhursey commented on #1570
I was thinking that this might be a problem with how the RAS component is setting the hostfile. That seems to be an easy fix. I'll try to get to that today. Thanks for the pointer!

[2016-04-21 15:15] hppritcha commented on #1559
Per request, modinfo hfi1 output for the cluster.
[modinfo.txt](https://github.com/open-mpi/ompi/files/230184/modinfo.txt)

The rpms that appear to be relevant to hfi1 installed on the nodes of the cluster are:
opa-hfi1-0-201603141940.ch6.x86_64
hfi1-psm-0.7-221.ch6.x86_64
hfi1-psm-devel-0.7-221.ch6.x86_64
libhfi1-0.2-2.el7.x86_64
kmod-opa-hfi1-0-201603141940.ch6.x86_64
libhfi1-static-0.2-2.el7.x8

[2016-04-21 15:55] hppritcha commented on #1559
Here's a description of the changes made for the rpm list above for this DOE cluster. RPMS with "ch6" in the name have been repackaged for these clusters:

opa-hfi1-0-201603141940.ch6.x86_64 and kmod-opa-hfi1 . code is from https://github.com/01org/opa-hfi1 on 201603141940. we run make on it, and package it up as a weak module. no changes from github

hfi1-psm is built from hfi1-psm-0.7-221.src.rp

[2016-04-21 15:55] hppritcha commented on #1559
@matcabral in case you didn't get email about these updates.

[2016-04-21 15:57] hppritcha commented on #1559
I was informed customer wants this problem resolved for 1.10.3.  The clusters will be put in to production soon and a functional Open MPI 1.10.X is necessary.

[2016-04-21 16:17] jsquyres opened #1571 ""Not enough slots" failure in dev-3885-g5892020 master tarball (2016-04-20)"
@rhc54 This is a weird one.  All of Absoft's "trivial" runs last night failed on a specific platform (Centos 5.11), complaining about not having enough slots, and worked properly on another (RHEL 6.7).  The only thing I can think that would be different between the two would be some kind of hwloc update...?  But we haven't done that in a while -- right?

* [MTT run on Centos 5.11 showing the failu

[2016-04-21 16:24] rhc54 commented on #1571
We haven't updated hwloc in roughly a year, so that can't be the problem. I'd guess that somehow we aren't seeing 4 available processors on that machine.

[2016-04-21 16:24] jsquyres commented on #1571
Let's see what @cagoelz says...

[2016-04-21 16:30] rhc54 commented on #1559
Just scratching my head here for a moment - if you are concerned about the PSM2 MTL, then shouldn't you need the psm2 library rpm? You are only showing the "psm" rpms above.

[2016-04-21 16:31] rhc54 commented on #1559
Just FWIW: here's a list of the missing rpm's from your system (based on my CentOS7 system):

[code]

[2016-04-21 16:32] cagoelz commented on #1571
Hardware has not changed and Linux reports 2 processors as it has for all the time we've been running the tests on this machine.

[2016-04-21 16:33] rhc54 commented on #1571
Ah, then the error is indeed correct. Do you have a hostfile that you are using for these tests? We did change the handling of oversubscribe, and I suspect you are hitting that change

[2016-04-21 16:34] jsquyres commented on #1571
@cagoelz The easy solution might be to change the np value to 2 in your MTT ini file.

[2016-04-21 16:38] cagoelz commented on #1571
np appears to be coming from "-np &test_np() " in our ini file. I do see "hostlist = localhost:4" at the top, are they related?