[2021-02-22 19:45] rhc54 commented on #8510
It looks like the code in v4.0.x is slightly out-of-date - the code in OMPI master adds the PID to the directory name to avoid this conflict.

[2021-02-22 19:57] KineticTheory commented on #8510
I think the version I'm using has this PID extension.  I also see failures of the form:
[code]

[2021-02-22 20:01] rhc54 commented on #8510
The odds of a pid collision are minuscule - is there some permission issue getting in the way?

[2021-02-22 20:10] KineticTheory commented on #8510
Agreed.  I'm only running about 1000 jobs so it is hard to imagine that this is the issue. Does OpenMPI attempt to remove the parent directory (eg. `/tmp/ompi.cn809.2017`) directory after each job?  That could cause a conflict.

I can't see how there could be a permissions issue.  The `/tmp` filespace is a ram disk that is created new for each SLURM allocation. I will try pointing OpenMPI to a dif

[2021-02-22 20:27] rhc54 commented on #8510
Yep

Yes, each `mpirun` is trying to do that by checking to see if the directory is empty underneath it. We probably need to do a `flock` or something to provide better protection. In the interim, you could provide a unique top-level dir for each run (I know that's annoying). Something like `/tmp/jobnumberstring` for `orte_tmpdir_base` would suffice

[2021-02-22 20:46] KineticTheory commented on #8510
I think using tmp directories of the form `/tmp/ompi.cn809.2017-pid.402429` might solve my issue (no parent directory).  I'm not sure `flock` would be needed with completely separate tmp directories per process.

[2021-02-22 20:47] rhc54 commented on #8414
This has been fixed - we coalesced on a single param name and added a check for the PMIx key.

[2021-02-22 20:47] #8414 closed

[2021-02-22 20:49] jsquyres commented on #8321
@open-mpi/ucx What version of UCX is known to be good -- is it v1.9.0, or the upcoming v1.10.0?  (I ask because I see that 1.9.0 is still the current release on https://github.com/openucx/ucx).

Given that this is silent data corruption, and per the discussion above, it sounds like we need both a configure-time check and a run-time check to ensure that the UCX PML is running with >= UCX v1.GOOD_VE

[2021-02-22 20:50] bertwesarg commented on #8508
Actually, I cannt find a reason, why `sys/mount.h` needs to be included in this file in the first place. The same may also true for all the other `sys/` headers. I may get to check, which header is actually needed.

[2021-02-22 20:51] rhc54 commented on #8510
It wouldn't, but OMPI doesn't do that for a reason. It leads to cleanup problems for sys admins when they are in environments where completely blasting `/tmp` between jobs isn't an option and it is more convenient to be able to clobber any stale session directories if they have a user-based name.

[2021-02-22 21:07] edgargabriel commented on #8508
the code that was using some of that functionality has migrated to fs/base/fs_base_get_parent_dir.c
so the include statements might be in fact pointless in the lustre fs component. They are however also there in the fs_base_get_parent_dir.c

[2021-02-22 21:17] bertwesarg commented on #8508
but this does not include the `linux/fs.h` header via the lustre include

[2021-02-22 21:29] edgargabriel commented on #8508
So does removing the following block:

[code]

from fs_lustre.c resolve the problems? If it does, that is an easy fix that we can apply!

[2021-02-23 00:32] shamisp commented on #8321
@jsquyres , FYI we documented this critical issue on the front page https://github.com/openucx/ucx#known-critical-issues

[2021-02-23 06:28] bertwesarg commented on #8508
Open MPI 4.0.5 builds when removing all `sys/` includes. Will create a PR.

[2021-02-23 07:54] ggouaillardet commented on #8102
@loveshack let me try it this way:

are you able to reproduce the issue with `-mca osc ucx` on at least one combination of Open MPI and UCX?
(and if yes, which one(s) ?)

[2021-02-23 16:40] #7702 closed

[2021-02-23 20:16] #8321 closed

[2021-02-23 20:45] #8508 closed

[2021-02-24 00:07] mwheinz commented on #8489
I have to admit - I was under the same impression as Ralph. Do we know when the behavior changed?

[2021-02-24 22:49] yasushi-saito opened #8522 "Trouble running helloworld at head"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
8a1bead503

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installed from source:
[code]

### If you are building/i

[2021-02-24 22:51] yasushi-saito commented on #8522
Also note that this problem happens only when I pass "-host 127.0.0.1,127.0.0.1" (it of course happens for any other IP addresses) It doesn't happen when I let mpirun locally spawn the processes.

[2021-02-24 22:54] rhc54 commented on #8522
But `127.0.0.1` is just the loopback device, so that cmd line should just result in `mpirun` directly spawning the procs on its node, yes?

[2021-02-24 22:57] yasushi-saito commented on #8522
Hm, in my environment, mpirun behaves differently between `mpirun -n 2 -host 127.0.0.1,127.0.0.1 ./a.out` and `mpirun -n 2 ./a.out`. The former fails, whereas the latter succeeds. The former is spawning prted through ssh according to a debug log.

[2021-02-24 22:59] rhc54 commented on #8522
Yeah, it sounds like PRRTE is not recognizing the loopback device as being the local node. I can take a look at it.

[2021-02-25 01:40] #8522 closed

[2021-02-25 09:09] LutzWeischerFujitsu opened #8524 "build fails on AArch64, Fedora 33"
I'm trying to build from the GitHub master. I got a hint that it is due to pandoc, but it is installed. I do

./configure --disable-internal-rte --prefix=/usr/local

make fails:

[jw@cn06 open-mpi]$ make VERBOSE=1 -j1
Making all in config
make[1]: Entering directory '/data/jw/open-mpi/config'
make[1]: Nothing to be done for 'all'.
make[1]: Leaving directory '/data/jw/open-mpi/config'
Making all in

[2021-02-25 09:31] kawashima-fj commented on #8524
Your environment has `/usr/local/include/memory.h` and it conflicts with the standard C header `memory.h` which is usually installed as `/usr/include/memory.h`. Probably it is the cause. Please check where `/usr/local/include/memory.h` comes from.

[2021-02-25 09:36] LutzWeischerFujitsu commented on #8524
Kawashima-san, thanks for the hint. But I have no clue which software might have installed it. Can I make sure in some way for Open MPI that the right one is used?

[2021-02-25 10:21] kawashima-fj commented on #8524
I think putting name-conflicting files in `/usr/local/include` will cause compilation errors with other programs and should be avoided.

Nevertheless, you may be able to avoid the error by setting an environment variable `C_INCLUDE_PATH=/usr/include` if you are using GCC. This gives precedence to `/usr/include` over `/usr/local/include`. A smarter way may exist.

[2021-02-25 11:06] LutzWeischerFujitsu commented on #8524
Looks like that solved it. :-)

[2021-02-25 11:53] #8524 closed

[2021-02-25 12:40] loveshack commented on #8102
Just ignore everything I said after btl ^uct.

The workaround works in that case, as reported, but I don't remember
what it changed in mpich test suite failures.  I assume IBM have sorted
this in Spectrum MPI, but that doesn't help us.

[2021-02-25 13:12] wlepera commented on #8102
In Spectrum MPI, the default PML and OSC components are PAMI.  Using SMPI 10.3.1, if I set `-mca pml ucx` and `-mca osc rdma`, (simulating the OMPI defaults), I see the same failure.

[2021-02-25 17:21] janciesko opened #8526 "Default set "ompi_mpi_yield_when_idle" when configuring for user-level threads"
When OMPI is configured for ULT and no ompi_mpi_yield_when_idle is passed at runtime, the progress thread is not guaranteed to progress and the app deadlocks. The association between using ULTs and setting this option might not be always clear to the user.
Solution: set default to true when configuring with non pthread threading mca.
Affects progress thread only.

[2021-02-25 17:54] shintaro-iwasaki commented on #8526
Thanks. This make sense. If this change won't affect the default behavior of Open MPI (i.e., when a ULT is not used), I guess this patch is reasonably acceptable. Will you write a patch for it? If not, I can write a patch and create a PR for this (please give me a week or so).

[2021-02-25 18:50] devreal commented on #8526
@janciesko There is a constant `OPAL_THREAD_YIELD_WHEN_IDLE_DEFAULT` that should control whether yielding is enabled by default (set to true for the ULT backends). That is not working? Or am I confusing something here?

[2021-02-25 19:59] janciesko opened #8527 "Add check TSD key != NULL to support cases where TSD values are accessed on different threads (ULT)?"
I am running into a segfault where a TSD key is NULL during MPI_Finalize, see BT below. Hypothesis: MPI_Finalize might be called from a different thread than the progress thread is on. This can result in a opal_tsd_key_t == NULL in the type opal_tsd_tracked_key_t. Should we protect this by an if condition or rely on the ULT implementation to handle NULL keys correctly?

Observation:
Program receiv

[2021-02-25 20:03] rhc54 commented on #8527
You are perhaps running into an issue because PMIx has its own progress thread and knows nothing about the OPAL thread abstraction? It does use TSD, but in its own context of course.

[2021-02-25 20:56] janciesko commented on #8527
Yes, that's possible. Since we document that this can happen, my feeling is that the ULT RTs should handle that case.

[2021-02-26 13:28] dmitry-kabanov opened #8531 "Open MPI throws error while unlinking internal file"
Thank you for taking the time to submit an issue!

## Background information
I have a Python script that works over `Open MPI` and `mpi4py`. After script finishes, an error is thrown "No such file or directory", with the file being some file created by `Open MPI` for internal needs.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
[code]

### Desc

[2021-02-26 13:41] gkatev opened #8532 "Implementation of opal atomic barriers in x86_64"
Hi,
I'm wondering about the implementation of memory barriers (opal_atomic_) on x86_64.
With the gcc builtins, I see that opal_atomic_rmb() is implemented as:
[code]
Related: #6014

On a x86_64 VM with GCC 10.2.0, OpenMPI 4.1.0 (git, debug on) I can see that the generated assembly contains an mfence(aka full memory fence):
[code]
[code]
(I also observed inline mfences on another system with an old

[2021-02-26 16:32] janciesko commented on #8526
I just saw it, yes, this resolves the issue.

[2021-02-26 16:32] #8526 closed

[2021-02-27 23:23] opoplawski opened #8538 "Memory corruption + hang in tst_h_par_compress from netcdf master on 32-bit arches"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.1.rc1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Fedora Rawhide package

### Please describe the system on which you are running

* Operating system/versio

[2021-02-27 23:56] opoplawski commented on #8538
Can also reproduce on Fedora 33 with openmpi 4.0.5 and pmix 3.2.2

[2021-02-28 00:03] edgargabriel commented on #8538
@opoplawski also with 32bit, or was your test with 64bit environment?

[2021-02-28 00:58] opoplawski commented on #8538
all with 32-bit.

[2021-02-28 01:01] opoplawski commented on #8538
Slightly different behavior on F32 - it fails later on free and doesn't hang:
[code]
This is with 4.0.5 and pmix 3.1.5.

[2021-03-01 16:15] dromer commented on #7701
We are having this same message in `stderr` which is quite annoying.
We had our backend respond to any `stderr` messages, but now we need to apply some specific filtering to ignore this message.

[2021-03-01 20:05] rhc54 commented on #8299
Slurm folks show no interest in supporting it, and no answer from NVIDIA

[2021-03-01 20:05] #8299 closed

[2021-03-01 21:07] yiqiangjizhang commented on #8531
I solve it using these commands in this issue:
(The one that worked for me is the last one)

See:
https://github.com/Microsoft/WSL/issues/3397#issuecomment-417876710

Try this:
$ echo 0 > /proc/sys/kernel/yama/ptrace_scope
or
$ sudo echo 0 > /proc/sys/kernel/yama/ptrace_scope
or
$ echo 0 | sudo tee /proc/sys/kernel/yama/ptrace_scope

[2021-03-01 21:53] titodalcanton commented on #5818
Hello, I am experiencing this problem using Open MPI 4.0.5. Is the fix already available in 4.1.x?

[2021-03-01 23:52] rhc54 commented on #7701
FWIW: I grep'd OMPI and that error message doesn't appear anywhere in our code. Might be some 3rd-party library we link against. I'll ask around.

[2021-03-01 23:59] ggouaillardet commented on #7701
This is a SSH related warning (X11 related)

[2021-03-02 00:07] ggouaillardet commented on #7701
If you are using a release series, you can try (disclaimer, AFK/untested)

[code]

and see if it helps

[2021-03-02 04:52] MicroTed commented on #7653
@jsquyres
FYI, with the recent 2021 OneAPI compilers from Intel (FC=ifort CC=icc CXX=icpc) and OpenMPI 4.1.0, the result is the same (erroneous all_reduce when using MPI_IN_PLACE).

[2021-03-02 15:49] awlauria commented on #7725
We added hwloc v1.11 to our ibm nightly master mtt, and has run without any notable issue for several weeks.

[2021-03-02 15:49] #7725 closed

[2021-03-02 15:56] gpaulsen commented on #7753
Closing assuming fixed.

[2021-03-02 15:56] #7753 closed

[2021-03-02 17:01] hppritcha commented on #8464
i'll discuss this with argobot crew and see how to proceed.

[2021-03-02 17:21] jsquyres commented on #7753
I confirm that this is not a problem on master HEAD today; I'm assuming it was fixed a long time ago.

[2021-03-02 19:38] jsquyres opened #8542 "UCX symbol error"
When building master HEAD with UCX 1.9.0, I get a symbol error with the `mxa_atomic_ucx.so` component:

[code]

FYI @open-mpi/ucx

[2021-03-02 23:08] shintaro-iwasaki commented on #8464
I'm an Argobots crew.  If my understanding is wrong, please be patient and correct me.

First, I could not configure Open MPI to automatically compile this `sharedfp/sm`.  I cannot find how to enable this even before the MCA/OPAL/threads etc ( https://github.com/open-mpi/ompi/commit/b3f0bc549072cf28b61076efad5cbe045d217941).  To compile it, I went this directory and explicitly `make` it.
[code]

T

[2021-03-02 23:20] edgargabriel commented on #8464
@shintaro-iwasaki thank you! I think you identified the problem correctly, I have to admit that I am often lost in the configure script world and am working mostly based on existing examples that I find in the code. Do you want to file a pr against master with this change, and I can test this on my local machine as well?

[2021-03-02 23:26] shintaro-iwasaki commented on #8464
I am afraid of fixing an issue that is different from what you encountered. If you wouldn't mind, could you copy-paste the following and try it? Once it is confirmed that this fix works in your environment, I would like to create a PR (or you can create a PR if you want).
[code]

[code]

[2021-03-03 00:19] edgargabriel commented on #8464
@shintaro-iwasaki I can confirm that with your revamped configure script the sharedfp/sm component configures correctly, compiles and runs correctly again. Thank you!

[2021-03-03 03:47] shintaro-iwasaki commented on #8464
@edgargabriel Thank you for checking the fix! I created a PR: #8545.

[2021-03-03 06:05] AboorvaDevarajan opened #8546 "ompi/group: mpi group operations fails in multithreaded apps"
## Background information
ompi/group: mpi group operations fails in multithreaded apps

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
OMPI master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone

### If you are building/installing

[2021-03-03 08:46] #8489 closed

[2021-03-03 10:43] angelinesalberto opened #8548 "PMIX ERROR: BAD-PARAM in file base/bfrop_base_unpack.c at line 692"
When I run wrf in several nodes and I get the next errors,

PMIX ERROR: BAD-PARAM in file dstore_base.c at line 2225
[xula1404:228762] PMIX ERROR: BAD-PARAM in file base/bfrop_base_unpack.c at line 692

for each node.

I am using:
openmpi-4.1.0
pmix-2.2.4
slurm 18.08.6

I installed openmpi with Spack
spack install openmpi@4.1.0 %intel@19.0.5.281 fabrics=ucx +pmi schedulers=slurm +thread_multiple +

[2021-03-03 15:37] #8464 closed

[2021-03-03 16:44] edgargabriel commented on #8538
So, I did some investigation and I am not sure what to make out of it.

First, let me point out that I reran all tests from netcdf-c-4.7.4 (the current stable release) in both 64bit and 32bit mode, and we pass all the tests. The test that is failing in this report (tst_h_par_compress) does not exist yet in the release versions.

That being said, using a checkout from github of netcdf I can reprodu

[2021-03-03 18:23] edgargabriel commented on #8538
I am pretty convinced that I found the bug, but its in hdf5. Here is the code of relevance:

[code]
and later
[code]

Now the problem is that
[code]

which means that the Allgather operation is writing beyond the allocated space because of the mismatch of number of allocated bytes (which is based on multiples of size_t) and the argument passed to the Allgather.

[2021-03-03 19:59] bosilca commented on #7620
When the BTLs are correctly configured (aka single IP interface per node) this test passes every time. The issue here seems to arise from the BTL TCP IP matching as indicated by the error message.

[2021-03-03 20:59] rhc54 commented on #7701
@dromer @philippkraft Did this resolve the problem? I so, we can look to see if there is something we can do to make it automatic.

[2021-03-03 21:56] jjhursey commented on #7486
I investigated the duplicate configure options. If a configure option is declared more than once then it appears more than once in the `configure --help` output.

For example (top from OMPI's config and bottom from OpenPMIx's config):
[code]

I will need to work on some deduplication.

[2021-03-04 03:48] bwbarrett commented on #7486
@jjhursey I was curious why this wasn't a problem with all the places we call OMPI_CHECK_PACKAGE for multiple components.  You'd expect if we don't dedupe to see three --with-ucx help strings, for example.

Reading the autoconf m4 code, the dedupe is only if the entire help string is identical.  In this case, Autoconf didn't dedupe because the description is different ("not for general MPI users"

[2021-03-04 14:58] jjhursey commented on #7486
Yeah, I noticed it wasn't 100% of the time that it duplicated. For example PRTE's `--enable-debug` looks like:
[code]
Which matched OMPI's (something we should fix in PRTE), but it did not show up twice. Only the OMPI and OpenPMIx versions. I did not deep dive into why though. Thanks for figuring that out.

Checking the help strings does make the parsing a bit trickier, but possible if needed. How

[2021-03-04 15:09] danecross opened #8554 "ORTE [[14412,0],0] FORCE-TERMINATE AT (null):1 - error plm_slurm_module.c(471)"
Hello,

I got this strange error when trying to run an executable (made from [this github](https://bitbucket.org/phopkins/gizmo-public/src/master/)) on a Cray XC40 supercomputer using slurm. I am ssh'ing to a SUSE Linux Enterprise Server 15 SP1. Here is a list of the modules I have loaded, including the openmpi module version 4.0.4:

- intel/19.0.5
- craype/2.7.3
- craype-network-aries
- cray-libs

[2021-03-04 16:00] rhc54 commented on #7620
@bosilca If this helps, I'm told by @markalle that IBM is running single node, so this is all happening on only one node. I guess TCP is involved as we still don't have inter-job shmem support, but it seems a little odd that the TCP matching code doesn't work even when all procs are on the same node.

How do we fix it?

[2021-03-04 16:02] bwbarrett commented on #7486
Yes, you're right, just deduping on the AC_ARG_ENABLE first option seems like the right thing to do here, particularly if that's easiest for you.  I don't think the corner cases of descriptions really matters.

Mostly, your statement about deduping was an itch that I had to scratch :).

[2021-03-04 16:34] bosilca commented on #7620
Right, TCP BTL takes over, even for single node runs, as soon as we have multiple jobs. The error with the matching is related to the support for multiple interfaces, if @markalle limits the active interfaces (btl_tcp_if_include or btl_tcp_if_exclude) the matching code is not needed, and the test will work seamlessly. (BTW as I said in my prior answer I did limit the interfaces used).

The code cu

[2021-03-04 19:36] rhc54 commented on #7620
@bwbarrett @rajachan @wckzhang Can we get some help here? I agree we could just limit the interfaces on the IBM MTT machine, but that just deflects the problem into the user community. This seems like a pretty simple scenario that we should handle.

[2021-03-04 22:15] bwbarrett commented on #7620
That's, um, weird.  I'll raise it internally, but not sure how fast we'll be able to respond.

[2021-03-04 22:53] markalle commented on #7620
I think @awlauria was the one saying that the IBM MTT was single host, but if I'm reading the above right, this is a test out of the `ibm/` directory but is it an IBM run of MTT?  Anyway I'm just saying that to say I'm not certain that the above is single host.

[2021-03-04 23:42] rhc54 commented on #7620
Oh - sorry about that @markalle ! Old fossil brain at work again.

Yes, that is from one of many IBM MTT runs that are showing this failure.

[2021-03-04 23:45] rhc54 commented on #7620
My bad - should correct myself. The link in the original issue comment is to an example from Amazon Slurm test. However, there are multiple ones from IBM as well. I just cited this one at semi-random as the failure signature is the same for all.

[2021-03-05 11:37] akjt opened #8555 ""A system call failed during shared memory initialisation that should not have" When calling MPI_WIN_CREATE"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
From source

### Please describe the system on which you are r

[2021-03-05 16:12] jsquyres commented on #8555
@open-mpi/ucx I see UCX in the call stacks above.  Can someone from the UCX team respond?

[2021-03-05 16:35] hoopoepg commented on #8555
@akjt thank you for bug report

@akjt could you reproduce issue with parameter ```--mca pml ^ucx```?

@jsquyres not sure where is UCX in backtrace...

thank you

[2021-03-05 17:35] jsquyres commented on #8555
@hoopoepg I don't see a full backtrace, but the fact that UCX symbols are there make it likely that this user was running with UCX.

[2021-03-05 17:37] akjt commented on #8555
I am running with UCX latest version. Will try to reproduce without UCX

[2021-03-05 18:12] #7486 closed

[2021-03-05 23:52] rhc54 commented on #8509
Transferred to OMPI https://github.com/open-mpi/ompi/issues/8509 as it is strictly an OMPI issue

[2021-03-05 23:53] rhc54 commented on #8509
Crud - thought I was looking in PRRTE 🤷‍♂️

[2021-03-05 23:54] rhc54 commented on #7660
I believe this should be fixed by https://github.com/open-mpi/ompi/pull/8558. @jsquyres Can you confirm?

[2021-03-06 01:44] bosilca commented on #8509
I don't think the title of this issue is accurate as right now there is nothing that indicates there is any incorrect ordering in the MPI level. As I commented in the other issue related to this, using a single TCP interface makes this error disappear, which tend to indicate the error in related to the connection establishment in the BTL TCP and not to the intercomm capabilities.

[2021-03-06 03:33] rhc54 commented on #8509
Duplicate of #7620

[2021-03-06 03:33] #8509 closed

[2021-03-06 16:06] dalcinl opened #8560 "Regression: Extent of compound struct datatypes"
I think I've found a regression in Open MPI v4.1.0, cf mpi4py/mpi4py#29.

The extent of compound struct datatypes is being computed incorrectly. Use the attached file as a reproducer
[align.c.txt](https://github.com/open-mpi/ompi/files/6099437/align.c.txt) (sorry for the `.txt` extension, just a workaround for GitHub restrictions on attachments).

Try it yourself in your console as shown below. Th

[2021-03-06 16:10] rhc54 commented on #8560
If 4.0.1 shows an error, and 4.0.4 has been fixed - I'm not sure what you are asking us to do about it? We already fixed it, yes?

[2021-03-06 16:25] dalcinl commented on #8560
Sorry! I meant v4.1.0, I corrected the description.

[2021-03-06 17:54] bosilca commented on #8560
Actually I think that `c-sizeof=4  mpi-extent=3` is the correct answer for the subarray case. My main argument to support this, is that unlike any other type creation the subarray creation adds soft markers in the datatype, and these soft markers change the computation of extent (as described in 5.1.6). More specifically:
1. subarray creation specifically adds the lb and ub markers on the generate

[2021-03-07 08:35] dalcinl commented on #8560
@bosilca I don't agree with some of your interpretations of the standard. The consequence of your reasoning is fishy/unexpected/unintuitive behavior. BTW, your references to the MPI standard seems to be for the 2020 MPI-4 draft. I'm still in MPI-3.1, is there anything new in MPI-4 related to this matter?

1. It is true that the MPI standard provides a formula for subarrays that involve the lb/ub m

[2021-03-07 19:24] bosilca commented on #8560
You don't get to choose when to add or not the markers. And we should not allow an implementation to choose either, because portability is key in MPI. Overall, the standard is pretty clear about the manipulation of extent and the lb and un markers, and when to take the epsilon in account. Fishy or not, the MPI forum is the place to submit proposals for improvement.

The only reason to have the mar

[2021-03-08 09:50] zerothi opened #8561 "Memory leak with multiple equivalent tag pt2pt communications"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
4.0.4

And repeated with 2.0.3, 2.1.6, 3.1.6 and 4.0.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

4.0.4 release version, built on my laptop (no weird communicati

[2021-03-08 10:03] ggouaillardet commented on #8561
Thanks for the report.

could you please try
[code]

though there is no fancy interconnect on your laptop, the UCX library might be used for communications instead of `btl/vader`

[2021-03-08 10:12] zerothi commented on #8561
Yes, that works, no memory leak then.

[2021-03-08 11:48] zerothi commented on #8561
Perhaps I should have added that the memory leak only occur on the receiving end. So it is not all ranks experiencing this leak.

Let me know if you need anything else.

[2021-03-08 13:55] ggouaillardet commented on #8561
When using UCX, is the size of the memory leak correlated with the number of iterations in the inner loop (`N`), the number of iterations in the outer loop (`500000`) or both?

[2021-03-08 14:08] zerothi commented on #8561
It is correlated with the variable `N`, i.e. the number of "hanging" messages. If you double it, the memory leak doubles (quite consistent). Note that I used `NB` just to have a fixed size array to be sure job-scripts didn't get affected by this.

It does not depend on the outer loop iterations (that was just to be able to monitor it).

[2021-03-08 14:53] ggouaillardet commented on #8561
In this case, I am not so surprised by the outcome: the sender is flooding the receiver with messages it has not time to properly receive, but instead likely store them in a monotonically growing buffer ... until they can be processed.

In my opinion, this is something a well written MPI application should avoid.
(fwiw, Open MPI uses the `coll/sync` module to avoid such a flooding with collective

[2021-03-08 14:58] zerothi commented on #8561
Agreed.

Agreed.

It was more that the memory increase is very big for these rather "small number" of messages. :)
So I guess this could also show it self if you post many different tags? Should I try this out?

[2021-03-08 15:16] ggouaillardet commented on #8561
Feel free to do some more testing and report the outcome.
As far as I am concerned, I defer it to @yosefe to rule whether this is a bug, or a feature (whose implementation could somehow be improved).

[2021-03-08 15:16] hzhou commented on #8560
I am having trouble understand this case. Can someone explain to me what's going on (regardless whether you think it is correct or not)?

[2021-03-08 15:25] hzhou commented on #8560
I think this is argument is questionable. `struct` does adjust the extent according to the alignment requirement, otherwise, the early cases will be incorrect as well. Your argument is that in a `struct`, the existence of `ub` marker on the last type overrides the alignment requirement of all previous types. I don't think that is reasonable.

Also in my opinion, all datatypes have a `lb` and `ub`.

[2021-03-08 15:34] aicampbell opened #8562 "Compilation error OPAL_VAR_SCOPE_PUSH called on "PMIX_VERSION which is already defined"
Hi, I'm trying to compile openMPI 4.1.0 for a SLURM environment on Ubuntu 20.04.

I have tried a simple configure to start with like this:
[code]

but I get the following error:

`--- MCA component pmix:pmix3x (m4 configuration macro)
checking for MCA component pmix:pmix3x compile mode... dso
configure: WARNING: Found configure shell variable clash at line 170105!
configure: WARNING: OPAL_VAR_SCOP

[2021-03-08 15:36] ggouaillardet commented on #8560
I respectfully invite @dalcinl to email mpi-comments@lists.mpi-forum.org and asks the MPI forum what the correct interpretation of the standard is.

Suggesting that Open MPI and MPICH reach a consensus on how to interpret the MPI standard is not the right way to move forward.

[2021-03-08 15:43] bosilca commented on #8560
I am not sure which part of the discussion you are pointed at in your comment.

[2021-03-08 15:46] hzhou commented on #8560
This one https://github.com/open-mpi/ompi/issues/8560#issuecomment-792238970

[2021-03-08 15:50] bosilca commented on #8560
You might have misread my answer. Accounting for alignment is a different topic than adding the markers, these two concept are competing in the context of datatypes.

This is a loose interpretation of the standard because the "implicit" bounds do not propagate, we have explicit rules on how to propagate the markers.

According to the MPI standard there is always a marker on the subarray type. Dot.

[2021-03-08 15:54] louisespellacy-arm opened #8563 "MPIR_proctable external variable not accessible in gdb in v4.0.6rc"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.0.6rc2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
From openmpi-v4.0.6rc2 tar gz with GCC 8.3.0 or 10.2.0 or

[2021-03-08 16:01] hzhou commented on #8560
Could you point me to the text?

[2021-03-08 16:10] bosilca commented on #8560
Got it. Not much, the resize force the extent of the datatype to be 2 bytes, which being exactly the same as the size of the type does not change the perception of the datatype. It does however add the explicit marker, which is not used in this case. So the typemap is now {lb_marker, 0}, {short, 0}, {ub_marker, 2}. Thus, when the struct is used to create the final datatype, the marker propagates (

[2021-03-08 16:13] bosilca commented on #8561
@ggouaillardet is right, the code is highly suboptimal. While one would have expect this code to work, you have to keep in mind that you might be creating N unexpected requests on the receiver (counting our internal tracking structures, the growing hash table and the memory used to store the temporary unexpected data we are talking about at least 256 bytes per unexpected request). I don't see any

[2021-03-08 16:14] hzhou commented on #8560
Thanks for the pointers. But I think we have different readings of the text. Could you quote the part that you based your conclusion upon?

[2021-03-08 16:20] bosilca commented on #8560
I think I already provided the pointers and examples. If you disagree with my interpretation, put forward yours and back it with pointers to the standard.

[2021-03-08 16:25] hzhou commented on #8560
Section `5.1.6` has an example of `MPI_TYPE_CONTIGUOUS`, which is understandable. I am not sure that example can be easily extended to `MPI_TYPE_CREATE_STRUCT` and if it does, how does it extends.

If you are quoting the statement on the formula below the mentioned example, that is just an interpretation of a *given* type map. What we are having in question here is how to determine the type map re

[2021-03-08 16:31] hzhou commented on #8560
Seems you are saying the existence of a single `ub_marker` will always become the `ub_marker` of the entire stuct regardless all the other types inside. That has to be counter-intuitive at least. I don't think there is text supporting this, but point me to it if there is.

[2021-03-08 16:33] rhc54 commented on #8562
I'm puzzled as to how all those PMIx variables got set. Did you `srun ./configure ...`? Or are you configuring from within a `salloc` allocation?

[2021-03-08 16:52] bosilca commented on #8560
Indeed, there is no way to remove a marker. I would found much more counterintuitive is if the markers would get removed at the implementors desire. We can argue about the interest, but 1) it is way better than the explicit MPI_LB and MPI_UB markers we had in the prior version of the MPI standard. Right now, the standard is clear, once you got a marker you keep it, until you reset it.

In conclusi

[2021-03-08 17:01] hzhou commented on #8560
I see your emphasis on "removing" the marker now.

Well, first I would like to emphasize the text that `lb_marker` and `ub_marker` are two additional *conceptual* datatypes, i.e, they don't really exist, or they exist just for the convenience of explanation or understanding.

But let's pretend they are not *conceptual*, why did the text say anything that we can't *add* `ub_marker`. As far as I rea

[2021-03-08 17:05] bosilca commented on #8560
This is no interpretation, this is the formula describing how the markers __must__ be propagated. And this clearly states that if any of the types has a marker, the ub of the type is directly inherited from the marker, without applying to alignment rule (aka. there is no epsilon on the marker case).

[2021-03-08 17:10] hzhou commented on #8560
That is a formula that --
1. given an explicit `typemap`
2. how to determine `lb(Typemap)`
3. how to determine `ub(Typemap)`

There is nothing in it has anything to do with *how* the typemap is derived. There is *no propagation*.

[2021-03-08 17:13] bosilca commented on #8560
While we agree on the fact that they do not have a physical representation, the markers are used for more than convenience of explanation or understanding. They are used to add gaps at the beginning and the end of datatypes, and to define how a count impacts the memory layout of a datatype.

[2021-03-08 17:15] hzhou commented on #8560
In my understanding, all datatypes have this conceptual `lb_marker` and `ub_marker` to begin with.

[2021-03-08 17:20] hzhou commented on #8560
And whether or not the implementation produces or use a typemap with or without explicit markers is the implementation detail, as long as they don't result in the wrong `lb` `ub` determination.

[2021-03-08 17:42] aicampbell commented on #8562
I created an interactive job so that I could compile openmpi on the node.

`srun -n 1 --pty bash -i`

Sshing to the node as root doesn't have the variable set. I cant ssh to the node directly as my user.

[2021-03-08 17:48] jsquyres commented on #8562
Our build system has some rudimentary error checks to prevent some shell scripting mistakes.  The problem you're running in to is that a shell variable that is set by SLURM is also being used by Open MPI's `configure` script, and that's tripping one of our error checks.

It looks like we never anticipated building Open MPI in a SLURM environment.  😄

The quick/easy fix is to unset at least `PMIX_V

[2021-03-08 18:11] awlauria commented on #8563
@louisespellacy-arm can you try this change to see if it resolves this issue:

https://github.com/awlauria/ompi/tree/mpir_fix

It did for me testing locally.

[2021-03-08 18:20] ggouaillardet commented on #8560
Are you then saying that `MPI_Type_dup(MPI_INT, &type)` and `MPI_Type_create_resized(MPI_INT, 0, 4, &type)` generate an equivalent `type`?

[2021-03-08 18:22] dalcinl commented on #8560
That formula with markers inside the type can be traced back to at least MPI-1.1, at the time we had `MPI_{LB|UB}`, and they could be explicitly inserted anywhere within the list of types used to feed the struct constructor. Those how wrote MPI-2 and added the resize call did not changed the text much, they just moved it around. No surprises that now the thing is darn confusing. I agree with @hzho

[2021-03-08 18:50] hzhou commented on #8560
Assuming `sizeof(int)` is `4`, I would say they should generate equivalent type -- equivalent as far as the user can tell. They don't have to be equivalent inside the implementation, which is an implementation detail.

[2021-03-08 21:05] jsquyres commented on #8554
Greetings @danecross.  I think the error message is telling you what is wrong:

[code]

Open MPI uses the SLURM `srun` command to launch processes in the SLURM environment.  In your case, it looks like it couldn't find that command.  You might want to check that environment modules you've loaded and/or otherwise set the PATH to find `srun`.

[2021-03-08 21:08] jsquyres commented on #8548
Is there any other context given in the PMIX error messages, or just those 2 lines?

[2021-03-08 21:13] jsquyres commented on #7660
I'll check with the fine folks at WFU.  Thanks!

[2021-03-08 21:19] markalle commented on #7660
I didn't run in the same configuration as reported, but I did just confirm by hand that master prints sane looking reports from inside a cgroup, eg reporting what it's using relative to WHOLE_SYSTEM.

But is the cset2mapstr() output really gone with no options to turn it back on?  All I see is the cset2str() output, eg
it can tell me
[code]
This gives a little more information than just printing a

[2021-03-08 22:15] angelinesalberto commented on #8548
Online those 2 lines but by core. The program not abort but I don’t know if the program can lose efficiency

________________________________
De: Jeff Squyres <notifications@github.com>
Enviado: Monday, March 8, 2021 10:08:23 PM
Para: open-mpi/ompi <ompi@noreply.github.com>
Cc: angelinesalberto <angelinesalberto@hotmail.com>; Author <author@noreply.github.com>
Asunto: Re: [open-mpi/ompi] PMIX ERRO

[2021-03-08 22:48] jsquyres opened #8566 "32 bit build fails on master: btl_base_am_rdma.c"
32 bit builds are currently failing on master.  Git bisect says 3e317753f0308b917b4aa3b93b2d92997b9f491f is the bad commit:

[code]

A persistent question: do we care about 32 bit builds any more?

I think we have not formally removed 32 bit support, otherwise Past Jeff would likely have put in a configure check to disallow 32 bit builds.

[2021-03-08 22:51] hjelmn commented on #8566
I can fix but I at this point way are we supporting 32-bit? Does anyone care about i386, PPC32/Power32, ARM v6 and earlier, etc?

[2021-03-08 22:53] rhc54 commented on #8566
We are going to discuss it tomorrow - don't do anything until then. We'll post the conclusion here. Right now, it isn't clear we care about 32-bit any more.

[2021-03-08 22:56] jsquyres commented on #8566
Thanks for the clarification, @rhc54 -- I didn't expect that @hjelmn would have noticed this issue so quickly.  :stuck_out_tongue_closed_eyes:

[2021-03-08 23:06] jsquyres commented on #8548
The dstore and the SLURM plugins are maintained by @artpol84  -- Artem, can you have a look?

[2021-03-09 01:08] ggouaillardet commented on #8560
So let's have a look at chapter 4.1.6 of MPI 3.1, and look at the formula at page 105.

consider the following code

[code]

and let's hope we can both agree to assume `sizeof(double) == 8` and `sizeof(int) == 4`.

`type` has the following type map
[code]
max((0+8), (0+4)) + eps
[code]

Now `type` has the following type map
[code]
since there is at least one entry has type `ub_marker`,  `type` is

[2021-03-09 01:33] hjelmn commented on #8566
I was aware my code would not build 32-bit but I thought we had long-since axed that. It certainly is not tested by CI. I **may** call in tomorrow if I find time.

[2021-03-09 02:01] hzhou commented on #8560
This is the part we disagree with. I don't think the text has anything saying that a `ub_mark` of one of the constituents can become the `ub_mark` in the resulting derived datatype directly. In my understanding, the resulting type map is --
[code]
, which is the same as
[code]

[2021-03-09 02:26] ggouaillardet commented on #8560
I literally applied the formula at page 94 (`MPI_Type_create_struct()`), and ended up with

[code]

Feel free to prove me wrong by quoting one relevant part of the standard:
 - did I fail to ignore `(ub, 4)` ?
 - did I fail to add `(ub, 8)` somewhere ?
 - any other mistake(2) ?

[2021-03-09 02:43] hzhou commented on #8560
Thanks for bringing in new facts. Now, on page 94, there is nothing about `ub_marker`, is there? So where is your `(ub, 4)` based on?

[2021-03-09 02:51] ggouaillardet commented on #8560
`MPI_Type_create_resized(MPI_INT, 0, 4, type)` generates `type` with the following type map

[code]

Page 94 says nothing about `ub_marker` (nor `lb_marker` fwiw) indeed.
That is why my interpretation is `ub` should be treated just like any other `type` in the formula
(e.g. it cannot be ignored) and this is what I literally did.

[2021-03-09 02:58] hzhou commented on #8560
So let's acknowledge at this point on, we are talking about our *interpretation*. What is the semantics of
[code]
My interpretation is that `MPI_Type_extent(dt)` should return `ub` of `4`. So the type map of `MPI_DOUBLE` can be viewed as
[code]
, unless of course, the user overwrites it with another `ub`.

There is no text explicitly saying this either, but I believe this interpretation does not c

[2021-03-09 03:19] ggouaillardet commented on #8560
page 106, lines 20-21 and 25-26 explicitly consider the case a given type map does not have any `ub_marker` (nor `lb_marker` fwiw) so I see this as an implicit contradiction with your interpretation that a MPI implementation is free to add `ub` (or `lb`) entries to predefined datatypes.

If this fails to convince you, then let's agree to have a honest disagreement on how to interpret MPI the stand

[2021-03-09 03:32] hzhou commented on #8560
I believe you are referring to the formula on page 105. which is a formula on a *given* type map. You can have a typemap as
[code]
or a typemap as
[code]
or a typemap as
[code]
, and each of these typemaps can be applied with the referenced formula. And they are equivalent.
The purpose of the formula in the text is to explain how this *conceptual* `ub_marker` supposed to work, nothing else. The cl

[2021-03-09 04:27] ggouaillardet commented on #8560
I stand corrected on the page number, I meant page 105.

[2021-03-09 11:26] AboorvaDevarajan opened #8568 "ompi/datatype: performance regression in mpi reduce collective"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
`ompi - master`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
`git clone`

### If you are building/installing from a git clone, please copy-n-paste the output from `

[2021-03-09 11:40] #8562 closed

[2021-03-09 12:09] louisespellacy-arm commented on #8563
@awlauria Works for me! Thanks for the quick response. Updated dwarf looks like:
[code]

[2021-03-09 14:18] awlauria commented on #8563
Thanks, opened on v3.1.x as well.

[2021-03-09 14:42] xandox opened #8573 "configure script strips out multiple --isystem flags from CFLAGS and CXXFLAGS"
Thank you for taking the time to submit an issue!

## Background information
If add multiple parameters with `-isystem` to CFLAGS and CXXFLAGS configure scripts remove `-isystem` remove this arguments and leave only directories what leads to configure error. Similar to https://github.com/open-mpi/ompi/issues/324

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name an

[2021-03-09 15:47] rhc54 commented on #8573
FWIW: it works for me just fine on MacOS. My CFLAGS includes the `-isysroot` required on BigSur, and OMPI configures and builds - also includes that flag in the wrapper compiler.

[2021-03-09 16:12] jsquyres commented on #8466
@bosilca mentioned on the Tuesday call on 9 Mar 2021 that this assert is correct.  This code path shouldn't be used for partial datatypes, so the assert is actually doing its job correctly here.  The fact that this assert is tripping means that the real problem is somewhere else (perhaps related to #8442).

[2021-03-09 16:12] jsquyres commented on #8442
@bosilca mentioned on the call today (9 Mar 2021) that he's still looking into this.

[2021-03-09 16:16] rhc54 commented on #7731
Without newer version of PMIx, I see no way to resolve this one.

[2021-03-09 16:16] #7731 closed

[2021-03-09 16:26] hoopoepg commented on #8466
hmmm, than call https://github.com/open-mpi/ompi/blob/56ed3a630907f3c30ecf780e1d506468275c87ea/opal/datatype/opal_datatype_unpack.c#L204 is incorrect

[2021-03-10 14:49] jjhursey commented on #7688
Ref: https://github.com/openpmix/prrte/pull/773

[2021-03-10 15:49] louisespellacy-arm commented on #8563
Hi both - I am unclear from @jsquyres comment above - were you not able to reproduce the issue in gdb relating to MPIR_proctable?
[code]

[2021-03-10 15:52] awlauria commented on #8563
@louisespellacy-arm we are able to reproduce in OMPI. But we are trying to understand why `DW_AT_location` matters, and why shuffling the declaration of the MPIR_proctable from a header file to a .c file changes it.

Also, we are unable to reproduce similar behavior in a stand-alone toy program. We're just looking for an explanation of why this works, so we can be sure the problem is actually fixe

[2021-03-10 16:00] jsquyres commented on #8563
@louisespellacy-arm From the toy program I attached in the above comment:

[code]

[2021-03-10 16:03] bosilca commented on #8563
The reproducer is a statically built application, while in the case of OMPI we are looking at symbols pulled from a shared library. Two different cases, I would think.

[2021-03-10 16:29] awlauria commented on #8563
I can confirm that just moving the struct declaration to the header makes it accesible in gdb.

However, `DW_AT_location` is still not present for MPIR_proctable. I don't know enough about this to know if that can be an issue or not on certain architectures or situations.

[2021-03-10 16:59] gpaulsen commented on #8542
We believe this issue can also be hit on v40.x and v4.1.x.  @hppritcha believe he's seen this on v4.0.x, and @hoopoepg says from a code point of view those branches should also be affected.

Please PR to v4.0.x and v4.1.x after it's been merged to master.   Thanks!

[2021-03-10 17:14] hoopoepg commented on #8542
yep, I will check on 4.x branches if it is affected and apply fix if needed.
but preliminary conclusion is OMPI v 4.x are affected too

[2021-03-10 17:17] rhc54 commented on #8292
This is fixed on the master branch (soon to be v5.0) - not sure if someone will backport such things to the 4.x series.

[2021-03-10 17:19] rhc54 commented on #8189
I believe we closed it because there are no plans to go back and fix it on the 4.0 series. You might try the 4.1 series and see if it works there. I have verified that it works (as does singleton comm-spawn) on the master branch, which will soon be branched to v5.0.

[2021-03-10 19:46] cniethammer opened #8583 "Build errors due to ptrdiff_t and missing/misplaced stddef.h"
## Background information
I encounter `unknown type name ‘ptrdiff_t’` errors due to missing/misplaced `#include <stddef.h>` in the developer build from a git checkout

### What version of Open MPI are you using?
master / 76eaffa6b8017999b0d014714ee29a37ca1d60b8

git submodule status
+517d954a4a3929fe27e69f35cbe00a419c143dbf 3rd-party/openpmix (v1.1.3-2836-g517d954a)
+67addf25843e7765d6aee19b51a316

[2021-03-10 22:30] louisespellacy-arm commented on #8563
Hi All - I think the issue may be that `orted_submit.c` no longer has full debug information because it is no longer compiled with `-g`.

I compared the `make V=1` output for building 4.0.5 and 4.0.6rc2 for orted_submit.c. in 4.0.5, it is built with `-g` and in 4.0.6rc2 because of the changes to the makefile - it is not.

I tried to replicate what I think the scenario is in:
[ompi-mpir-proctable-i

[2021-03-10 22:51] awlauria commented on #8563
Thanks for investigating this further @louisespellacy-arm.

Probably the right thing to do would be to compile orted_submit.c with -g. The easy way to do that is just to append it to CFLAGS, but that will cause all of orte to be compiled with -g.

I don't think that's a bad thing, but will defer to @jsquyres

[2021-03-11 00:00] tjahns commented on #7795
Ran into what seems like this bug when trying to build hdf5 1.12.0 on a system with OpenMPI 4.0.5. System has Lustre (2.12.4.1_cray_139_g0763d21) and the backtrace is exactly like above from H5PB_write on. This happens during `make check` with the testpar/testphdf5 unit test of hdf5, and using
[code]
the test finishes successfully.

Unfortunately I lack information to make a debug build of OpenMPI

[2021-03-11 08:58] #8542 closed

[2021-03-11 09:57] louisespellacy-arm commented on #8563
@awlauria @jsquyres I think that your fix is still the solution - keeping all the MPIR declarations in one library - I was just providing an explanation as to the behaviour we were seeing.
I believe the debug information for MPIR_proctable was incomplete due to `orted_submit.c` having debug info.

[2021-03-11 14:30] gpaulsen opened #8586 "v5.0.0 checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2021-03-11 15:42] gpaulsen commented on #5
as of #8570, #8571, and #8572 PGI Debugger attach through MPIR has been fixed on current release branches.
master branch now uses PRRTE and prefers the pmix-tool attach approach for modern debuggers.

[2021-03-11 15:42] #5 closed

[2021-03-11 15:43] gpaulsen commented on #9
Closing as won't fix.

[2021-03-11 15:43] #9 closed

[2021-03-11 15:44] gpaulsen commented on #11
This is now handled by the PMIx layer in current release branches, and is much more robust.

[2021-03-11 15:44] #11 closed

[2021-03-11 15:49] gpaulsen commented on #13
In current release branches v4.0.x, v4.1.x, the datatype engine has been reimplemented relative to this old issue.  Open-ib no longer exists in the v5.0.x branch.
We should retest IMB using two ports of openib on a v4.0.x.

[2021-03-11 15:57] edgargabriel commented on #7795
@tjahns not sure whether it is relevant for your work or not, but note that ompio is now the default even on Lustre file systems starting from the 4.1.x release. The romio component in Open MPI will also be updated to resolve the issues, but I am not 100% sure on what the status of this effort is.

[2021-03-11 16:35] jsquyres commented on #8563
We had PR's like #8422 to move things into a subdirectory to ensure that they get compiled with `-g`.

I guess I'm confused as to why compiling `orted_submit.c` with `-g` fixes the issue, because the symbol that @louisespellacy-arm couldn't find is `MPIR_Proctable`, but that's not instantiated in `orted_submit.c` -- that's instantiated in `orte/orted/orted-mpir/orted_mpir_breakpoint.c`, which, per

[2021-03-11 16:40] louisespellacy-arm commented on #8563
@jsquyres I could find `MPIR_proctable` but it was the wrong "shape" when outputted in gdb because the debug information for `MPIR_proctable` was incomplete.
My understanding is that the debug information was available for the pointer declaration of `MPIR_proctable` but not the struct itself - hence why outputting in gdb was resulting in a single address (pointer) rather the entries of `MPIR_proct

[2021-03-11 18:07] #13 closed

[2021-03-11 18:28] awlauria commented on #8563
That makes sense. I'm fine with merging the PR's as is. Thanks @louisespellacy-arm

[2021-03-11 18:31] devreal commented on #6816
I believe this was fixed with https://github.com/open-mpi/ompi/pull/7632. Closing

[2021-03-11 18:31] #6816 closed

[2021-03-11 18:33] devreal commented on #6924
I believe this was fixed with https://github.com/open-mpi/ompi/pull/7632. Closing

[2021-03-11 18:33] #6924 closed

[2021-03-11 18:34] devreal commented on #6819
osc/pt2pt is no longer supported. Closing

[2021-03-11 18:34] #6819 closed

[2021-03-11 18:36] devreal commented on #7319
I have no way of reproducing/checking this so I'll close it. If I ever come across it again I will reopen this issue (or create a new one)

[2021-03-11 18:36] #7319 closed

[2021-03-11 18:38] devreal commented on #7303
I cannot test this anymore. Will close it and get back to it if I encounter it again.

[2021-03-11 18:38] #7303 closed

[2021-03-11 18:39] jsquyres commented on #8563
Please give me a little time to review.

[2021-03-11 18:40] devreal commented on #7949
Closing as it was resolved by adding `--with-pmi=/usr --with-pmi-libdir=/usr/lib64` to `configure`

[2021-03-11 18:40] #7949 closed

[2021-03-11 18:41] devreal commented on #5915
The NUMA issues were resolved by https://github.com/open-mpi/ompi/pull/5923, closing.

[2021-03-11 18:41] #5915 closed

[2021-03-11 18:42] devreal commented on #6740
Fixed by https://github.com/open-mpi/ompi/pull/6746, closing.

[2021-03-11 18:42] #6740 closed

[2021-03-11 18:42] devreal commented on #7132
I cannot retest this so closing for now.

[2021-03-11 18:42] #7132 closed

[2021-03-12 11:41] amckinstry opened #8596 "4.1.0: mpirun crashes when trying to schedule a task on a foreign host"
This is on OpenMPI 4.1.0 on Debian.

## Background information

mpirun crashes when trying to schedule a task on a foreign host:

	$ mpirun --host bob hostname
	[alice:705956] [[31919,0],0] ORTE_ERROR_LOG: Error in file ../../../../../orte/mca/odls/base/odls_base_default_fns.c at line 226
	[alice:705956] [[31919,0],0] ORTE_ERROR_LOG: Error in file ../../../../../orte/mca/plm/base/plm_base_launch_s

[2021-03-12 15:34] jsquyres commented on #8563
I did some more testing, this time with OMPI itself instead of a small example.

I'm pretty sure that @louisespellacy-arm hit the nail on the head, above:

Meaning:

* The "move the `extern`" stuff is a red herring (I don't think that C's definition of `extern` is the same as DWARF's definition of `extern`).
* The real issue is that when `orted_mpir_breakpoint.c` was compiled with `-g`, it didn't

[2021-03-12 16:00] bosilca commented on #8583
I have the same issue. The root cause is our use of ac_cv_header_stdc to decide if we need to include stddef.h. According to autoconf 2.67 documentation, the ac_cv_header_stdc is now obsolete, all current systems have conforming header file. Thus, we never include the necessary stddef.h header. The simple solution is to always define OPAL_HAVE_STDC for now, but I think it might be cleaner to just

[2021-03-12 16:03] awlauria commented on #8563
Sounds good, I'll amend the patch. @jsquyres

[2021-03-12 20:24] devreal commented on #7961
Fixed by https://github.com/open-mpi/ompi/pull/8330, closing.

[2021-03-12 20:24] #7961 closed

[2021-03-13 20:25] hppritcha commented on #6871
closed via #8370 and #8371

[2021-03-13 20:25] #6871 closed

[2021-03-14 09:51] ggouaillardet opened #8603 "btl/vader performance regression (that can be observed on fat nodes)"
Following the discussion on the ML related to a performance regression between Open MPI 3.1.1 and 4.1.0,
here are my findings:

The performance regression can be observed on fat nodes with the fftw builtin benchmark and the following command line

[code]

`git bisect` pointed me to open-mpi/ompi@7c8a1fb437

I ran this on a quad socket intel node with 18 cores per socket.
At 112 cores, the degradat

[2021-03-14 20:45] #8583 closed

[2021-03-15 07:11] BiplabRaut commented on #8603
Although originally I reported the performance regression between Open MPI 3.1.1 and 4.1.0 when using GCC compiler, now I have found that AMD's AOCC (based on llvm/clang version 12) compiler also has this regression.
So, I am just wondering if there is more than just this commit 7c8a1fb that is causing this regression.

On a separate topic, it is also found by me that openMPI v4.1.0 is not getting

[2021-03-15 07:30] ggouaillardet commented on #8603
the workaround for gcc<6 bug is applied on x86_64 regardless the compiler that is used, so I am not surprised there is a similar regression with AOCC.

several changes were made to `op/avx` (that can use AVX512 instructions), so I strongly encourage you to try the latest `4.1.1rc1` and see if it helps.
If not, please open a new issue with the required information.

[2021-03-15 10:23] dmitry-kabanov commented on #8531
@yiqiangjizhang I work in macOS, these commands are not applicable. But anyway, thanks!

[2021-03-15 15:39] awlauria commented on #8563
All PR's have been merged, closing issue.

Thanks @louisespellacy-arm for reporting and your help in this.

[2021-03-15 15:39] #8563 closed

[2021-03-15 16:48] rhc54 opened #8614 "Lots of yummy new warnings in BTL RDMA and SM code on master"
This is on CentOS7, which defaults to:
[code]
[code]
[code]

[2021-03-15 16:55] awlauria commented on #8614
Most of these are fixed in https://github.com/open-mpi/ompi/pull/8593.

However I didn't fix the:

[code]
 because I was not sure how.

[2021-03-15 18:26] jeffhammond opened #8616 "need a way to disable REAL16 support with configure"
I am trying to build e604107668e53d6626d1a1dd002962ba77100e0d on an AArch64 system with [NVHPC Fortran](https://developer.nvidia.com/hpc-sdk) 21.2-0.

It appears that REAL16 support in NVFortran isn't what Open-MPI is looking for, but I do not care about REAL16 support and would prefer to just not have it in the build.

I see this is not a new problem (https://github.com/open-mpi/ompi/issues/63) b

[2021-03-15 18:28] jeffhammond commented on #8616
I will add that this Fortran compiler does not support `REAL*16` (https://forums.developer.nvidia.com/t/real-16/134046) and `configure` knows this, so I am confused why it's trying to compile such code anyways.

[code]

[2021-03-15 19:11] bosilca commented on #8616
Definitively not new, but your reference dates from 2014 and it related to a different topic (the MPI_Op not being correctly implemented and not the type support itself).

That put aside, the F90 code is autogenerated (gen-mpi-sizeof.pl) and the REAL16 part should not be inside. I tried on few machines without being able to replicate, but I do not have access to an AArch64 with the NVidia compiler

[2021-03-15 19:16] jsquyres commented on #8568
This has been fixed / #8569 has been merged.

[2021-03-15 19:16] #8568 closed

[2021-03-15 19:20] jeffhammond commented on #8616
This is a brand new build on a system I started using today so it's clean.

NVHPC compilers are free.  You can download and install using the shell commands provided on https://developer.nvidia.com/nvidia-hpc-sdk-downloads.  You do not need GPUs attached to use them.

[2021-03-15 19:21] hppritcha commented on #7417
this issue has been fixed as part of the 3rd party folder addition and other commits.

[2021-03-15 19:21] #7417 closed

[2021-03-15 19:22] jsquyres commented on #8561
@zerothi Does this answer your question?

[2021-03-15 19:24] hppritcha commented on #7030
fixed via #7283

[2021-03-15 19:24] #7030 closed

[2021-03-15 19:30] bosilca commented on #8561
That's not the definitive answer. While, we all agree that the code could have been written differently, this version should work with and without UCX, because
1. there are not many requests pending, and
2. it is working with the OB1 PML.
Thus, it seems possible that a real issue in UCX has been highlighted here by stressing the unexpected path.

[2021-03-15 19:40] jsquyres commented on #7308
Is this still happening in v4.0.5 and/or v4.1.0?

[2021-03-15 19:41] jeffhammond commented on #8616
Is REAL16 even standard Fortran?  The 16-byte REAL is REAL128 not REAL16.

[2021-03-15 19:46] jsquyres commented on #7642
@jeorsch Is this issue resolved for you?

[2021-03-15 19:49] jsquyres commented on #7795
While OMPIO resolves this issue, we haven't finished the ROMIO update yet because we're waiting for some fixes from upstream.  See #8371.

[2021-03-15 19:50] jsquyres commented on #7813
@open-mpi/ucx Can you comment on the status of this?

[2021-03-15 19:51] jeffhammond commented on #8616
The problem is that `real2` is enabled...

[code]

[2021-03-15 19:55] jsquyres commented on #8137
@devreal Got a few minutes to write a sentence about this?  😄

[2021-03-15 19:58] devreal commented on #8137
I'll post a fix tomorrow, yes :)

[2021-03-15 19:59] jsquyres commented on #8252
@naughtont3 Is this still an issue?

[2021-03-15 20:04] jeffhammond commented on #8616
As https://github.com/open-mpi/ompi/pull/6205 appears to be the cause here, maybe @kawashima-fj can take a look.  I just need a way to disable `real2` support completely in Fortran.  If `--enable-alt-short-float` does that, it is not clear from the description `configure --help` provides.

[2021-03-15 20:06] jsquyres commented on #8290
@patrick-legi @ggouaillardet The initial description mentions that Gilles supplied a patch to get this user back in production.

1. Was that patch applied to v4.0.x and v4.1.x?
2. Do we know if the same problem occurs with the UCX PML?

[2021-03-15 20:07] jsquyres commented on #8315
@hppritcha Has this been resolved?

[2021-03-15 20:07] bosilca commented on #8616
There seems to be a real issue with the generator, as in the command line you provided the real16 is clearly turned off, so the code should not have been generated (independently of the real2 support).

[2021-03-15 20:14] jsquyres commented on #8538
So @edgargabriel, can we close this as "not our bug"?

(and assumedly someone is reporting this upstream to HDF5?)

[2021-03-15 20:16] devreal commented on #8561
I ran this code with Open MPI 4.0.5 and UCX 1.8.0 under valgrind on two nodes of our IB cluster and see no real leaks, i.e., memory is mostly cleaned up at the end (minus some small leaks from PMIx).  @zerothi How did you determine the increase in memory during the run? Can you run under valgrind to see whether you see actual memory leaks?

[2021-03-15 20:20] jsquyres commented on #7901
Potentially also related to/a duplicate of #7620.

[2021-03-15 20:21] hjelmn commented on #8532
No, a full barrier was not intended. We were aiming for the compiler barrier as some versions of gcc incorrectly handle:

[code]

and end up re-ordering instructions across the barrier. Newer versions of gcc (6.0.0 and newer) do not have this bug.

The quickest fix may be to just go ahead and change it to ```__asm__ __volatile__("": : :"memory")```.

Note the gcc builtins have been essentially dro

[2021-03-15 20:49] jeorsch commented on #7642
@jsquyres, until now, it is definitely much more robust. I just noticed one strange hang in the last two month, but I it seems to br related to something else. If I have any new findings, I will reopen this issue or write a new one.

[2021-03-15 20:49] #7642 closed

[2021-03-15 20:52] jsquyres commented on #7642
Thank you!

[2021-03-15 21:01] jsquyres commented on #8596
I am unable to replicate this error.

[code]

Can you specify the configure line you used to build Open MPI?

[2021-03-15 21:02] jeffhammond commented on #8616
REAL16 here means 16-bit real not 16-byte real.  The problem is that Open-MPI is enabling 2-byte floats when the NVF compiler doesn't support them, because they are not standard Fortran.

[2021-03-15 21:04] bosilca commented on #8561
A the end of the application or at the end of each iteration ?

[2021-03-15 21:07] devreal commented on #8561
With valgrind I only see the end of the application run. Not sure how to measure per-iteration.

[2021-03-15 21:08] jsquyres commented on #7918
This issue was resolved long ago, but we neglected to close this issue:

1. We fixed the issue in what will become Open MPI v5.0.x.
2. The fix unfortunately involved breaking ABI (because it increased the size of `TYPE(MPI_Status)`.  This is ok to do at Open MPI v5.0, but is not ok to do in v4.0.x and v4.1.x.
2. Therefore, the fix will be available in Open MPI v5.0.x, but in v4.0.x and v4.1.x, we

[2021-03-15 21:08] #7918 closed

[2021-03-15 21:09] bosilca commented on #8616
You're right, short float enables the float16. What is configure saying about the support of short float ?

[2021-03-15 21:11] roblatham00 commented on #7795
Just one more item to resolve:  https://github.com/pmodels/mpich/pull/5101  thanks for your patience

[2021-03-15 21:11] bosilca commented on #8561
You can use VALGRIND_DO_LEAK_CHECK from #include <valgrind/memcheck.h>. But it might be verbose as all the internal buffer will still be in use. Too bad.

[2021-03-15 21:15] hjelmn commented on #8561
@samuelkgutierrez Has a tool for monitoring MPI memory usage. Would that help here?

[2021-03-15 21:17] bosilca commented on #8561
Maybe, depending on what we can track with the tool.

[2021-03-15 21:34] jsquyres commented on #8285
Once all three of the above PRs are merged, this issue can be closed.

[2021-03-15 21:40] yosefe commented on #8561
To clarify, I could reproduce a significant growth in memory usage (few gigs), mostly because the default internal TCP receive buffer size is 64k. Setting `UCX_TCP_RX_SEG_SIZE=8k` should reduce most of the excess usage. Assuming @zerothi confirms this helps, we'll see how to fix the defaults in UCX to reduce memory usage.

[2021-03-15 21:45] jsquyres commented on #8561
If this is a UCX TCP issue, then this should effectively resolve itself in Open MPI once the defaults go back to using OB1/the TCP BTL in Open MPI v4.0.6 and 4.1.1 and 5.0.0 (per https://github.com/open-mpi/ompi/pull/8550, https://github.com/open-mpi/ompi/pull/8549, and https://github.com/open-mpi/ompi/pull/8496, respectively).

That being said, @zerothi reported "self" as his network (i.e., a sin

[2021-03-15 21:50] yosefe commented on #8561
this test cannot really run on "self" only: it requires 2 ranks
also, unfortunately, the PRs which disable using UCX on TCP would not solve: the mere presence of TCP support in UCX drives up the size of the common buffer size of unexpected messages (which is max of all transports)

[2021-03-15 21:53] hjelmn commented on #8603
clang also exposes gcc built-ins. So, this is expected. Someone should just change the problematic code to match the x86_64 atomics when on that architecture and PR it to v4.0.x and v4.1.x. I can review but I don't have the time right now to test the fix as my primary Open MPI development machine is not running x86.

[2021-03-15 22:09] janjust commented on #7813
@jsquyres I tested ompi v4.1.x with ucx 1.10.x / 1.9.x
all tests pass.

[code]

Last time I checked the master osc thread pool PR has 3/80 tests failing, the PR needs to be revisited.

[2021-03-15 22:18] jsquyres commented on #7813
@janjust Which PR are you referring to?  FWIW, there was a bunch of OSC stuff that went in on master recently -- have you tried again with recent master/HEAD, perchance?

[2021-03-15 22:26] janjust commented on #7813
I have not - I will, I'll post an updated result.

I was referring to: https://github.com/open-mpi/ompi/pull/8212

[2021-03-15 22:39] edgargabriel commented on #8538
yes, I am pretty sure that this conclusion is correct.

[2021-03-15 22:39] #8538 closed

[2021-03-15 22:47] ggouaillardet commented on #8616
@jeffhammond can you give this a try

[code]

(the default is `--enable-mpi-ext=all` feel free **not** to include some of these extensions is they cause any issue on your platform)

[2021-03-15 23:26] bjpalmer commented on #7813
I thought I reported at some point that most of the tests were passing for me (I think there were some threadsafe tests that were failing). Apparently, it wasn't here. I just pulled the latest update from master and will rebuild OpenMPI and test it on our cluster.

[2021-03-16 00:12] wckzhang commented on #7620
Taking a look at it, I'll try to reproduce it manually.

[2021-03-16 01:28] jeffhammond commented on #8616
Having extensions that require non-standard Fortran language features enabled by default seems like a bad decision. How many Fortran compilers support 2-byte floats?

[2021-03-16 02:03] ggouaillardet commented on #8616
First things first: did this help?

At first glance, it seems the configury logic of this extension fails to disqualify it (or at least the Fortran extension),
so that sounds like a bug that will be fixed.
(fwiw, installing nvidia compilers require root access - i currently do not have, so I am trying to setup a Linux VM on M1 ...)

[2021-03-16 04:51] jeffhammond commented on #8616
I install NVHPV compilers without root every day.

1) wget the tar
2) tar -xaf the tar
3) ./install
4) tell it to install in $HOME/someplace

That's all.

I'll test configure later. Had to be AFK before I could try it.

[2021-03-16 05:01] ggouaillardet commented on #8616
thanks for the info! nvidia website says to `sudo install`, so I simply assumed root was needed ...

[2021-03-16 07:12] ggouaillardet commented on #8616
it seems there is something wrong with our logic:

we only test Fortran `REAL*2` and if it works, assumes that
`USE, INTRINSIC :: iso_fortran_env, ONLY: REAL16`
will work too.

with `nvfortran`, the former is supported, but the latter is not, and compilation fails ...

[2021-03-16 12:32] jayeshkrishna commented on #8442
Do you have any estimates on when this bug will be fixed in OpenMPI? We have been unable to switch to OpenMPI due to this bug (the "workaround" of switching to "sm,ud" avoids this issue for now but significantly slows down the simulations).

[2021-03-16 12:40] zerothi commented on #8561
Sorry for the long return time...

1. Probably my wording of memory leak is ill-defined. I just see a huge spike in memory consumption from my OS
2. Currently I have manually measured this by top (I know, not good enough). But it seems consistent in that when I hit my RAM limit, it turns into swap space.
3. When having 65536 hanging messages I see a consumption of about 300 MB. For 65536 hanging m

[2021-03-16 13:45] jjhursey commented on #2929
With the move to 3rd party packages in `master`/`v5.x` the `opal_event_include` logic has been centralized [here](https://github.com/open-mpi/ompi/blob/23833935f368f61a9277035da0443287513c57e0/opal/util/event.c#L60-L66).
This issue can be closed.

[2021-03-16 13:45] #2929 closed

[2021-03-16 14:03] jsquyres commented on #8442
There's two parts to this issue:

1. We discovered that we were accidentally using UCX for a bunch of non-IB/RoCE networks.  The next releases of Open MPI (4.1.1 and 4.0.6) will return to using UCX for only IB and RoCE.
2. There's a subtle issue in the datatype engine.

If you're not using IB or RoCE, you might be able to try the nightly 4.1.x snapshot tarball and see if that fixes your issue.

Th

[2021-03-16 14:08] jjhursey commented on #7686
@awlauria you did a bunch of cleanup here. Do you think we can close this and just keep working on cleaning up the warnings as we can?

I still see a number of warnings, but I think it has gotten much better recently.

A few of the warnings I still see in PGI CI (note that some are outside the scope of OMPI):

This from hwloc
[code]

This from OpenPMIx
[code]

This from PGI compiler itself
[code]

[2021-03-16 14:16] awlauria commented on #7686
The MPI PR is still open and needs rebasing. I'll put some cycles in this week to try and get that in.

There were still some in PMIx and HWLOC/PRRTE, but most of those got cleaned up. I think OMPI is the main culprit now.

[2021-03-16 14:59] jjhursey commented on #6398
Fixes for runtime man pages:
 * OMPI v5 (PRRTE): https://github.com/openpmix/prrte/pull/838
 * OMPI v4.1.x (ORTE): https://github.com/open-mpi/ompi/pull/8627
 * OMPI v4.0.x (ORTE): https://github.com/open-mpi/ompi/pull/8628

[2021-03-16 15:28] hppritcha commented on #8596
I'm also unable to replicate this error with OMPI 4.0.x branch.
[code]

[2021-03-16 15:31] sarats commented on #8442
Unfortunately, we are using HDR200 IB, so we will wait on a fix.
We _really_ prefer a performant workaround than switching to non-IB optimal transports in UCX.

[2021-03-16 15:52] jjhursey commented on #3612
I revisited this bug today with the current master branch [HEAD](https://github.com/open-mpi/ompi/commit/1da3f93c7a0b8acff53637a3510cb745e71e1b16) and can confirm it is still an issue with an additional complication.

## With `FC=xlf_r`

[code]

[code]

## With `FC="xlf_r -qextname ` (prior proposed workaround)

[code]

[code]

[2021-03-16 15:55] rhc54 commented on #8614
I'll close this since you have a PR already addressing it.

[2021-03-16 15:55] #8614 closed

[2021-03-16 15:58] rhc54 commented on #8407
I believe this has been answered - please reopen if it remains.

[2021-03-16 15:58] #8407 closed

[2021-03-16 16:06] jsquyres commented on #7483
It looks like this is fixed in PRTE / Open MPI v5.0.x.  I think it's probably safe to say that we're not going to fix this in v4.0.x or v4.1.x.

[2021-03-16 16:30] rhc54 commented on #7483
PRRTE fix is https://github.com/openpmix/prrte/pull/834 - it is available in OMPI master branch, will be PR'ing it to the new v5.0 branch soon. Please re-open if it fails to work for your case.

[2021-03-16 16:30] #7483 closed

[2021-03-16 16:35] jsquyres commented on #8442
Understood.  Sorry for the delay.  ☹️

[2021-03-16 18:47] bosilca commented on #8616
It will not be easy to change this, because this would force us to change the meaning of our defines and REAL16 is already used for REAL*16. But if we want to have this change in, we should amend it globally before the 5.0.

[2021-03-16 18:51] jeffhammond commented on #8616
I would argue that you should stop using `iso_fortran_env, ONLY: REAL16` since that is not a thing (it's not a standard thing, at least) and implement 16-bit float support in Fortran using `REAL*2`, since that appears to be more widely supported, even if none of the `REAL*N` types are standard Fortran.

[2021-03-16 19:22] bosilca commented on #8616
@jeffhammond until we come up with a proper patch you can just use:
[code]

[2021-03-16 19:23] jeffhammond commented on #8616
Yeah I did that already in all the Fortran interface directories.

[2021-03-16 19:27] janjust commented on #7813
I'm seeing 9/80 failures with master, I'm pretty sure PR #8212 addresses most of these but it's not a complete solution and it's pretty outdated by now - need to rebase and check again. I'll update on this PR after rebase

[2021-03-16 19:38] wckzhang commented on #7620
I'm having a bit of difficulty reproducing this. I went through the MTT logs for IBM's dynamic/intercomm_create tests: [This search](https://mtt.open-mpi.org/index.php?limit=&wrap=&trial=&enable_drilldowns=&yaxis_scale=&xaxis_scale=&hide_subtitle=&split_graphs=&remote_go=&do_cookies=&phase=test_run&text_start_timestamp=2021-01-09+01%3A11%3A59+-+2021-03-16+01%3A11%3A59&text_platform_hardware=%5Eppc

[2021-03-16 19:54] wckzhang commented on #7620
Going through more mtt logs, I found [some more recent runs](https://mtt.open-mpi.org/index.php?limit=&wrap=&trial=&enable_drilldowns=&yaxis_scale=&xaxis_scale=&hide_subtitle=&split_graphs=&remote_go=&do_cookies=&phase=test_run&text_start_timestamp=2021-01-09+01%3A11%3A59+-+2021-03-16+01%3A11%3A59&text_platform_hardware=all&show_platform_hardware=show&text_os_name=all&show_os_name=show&text_mpi_na

[2021-03-16 20:01] bjpalmer commented on #7813
What are you guys using for configure options. I'm trying to build from master on our linux cluster (which is pretty old at this point). I was using the configure line

../configure --prefix=/qfs/people/d3g293/mpich/ompi/build-ucx \
   --with-ucx=/people/d3g293/mpich/ucx-1.8.0 --disable-man-pages \
   --enable-mca-no-build=coll-ml,btl-uct --enable-orterun-prefix-by-default=yes

which used to work.

[2021-03-16 20:03] jeffhammond commented on #8616
@ggouaillardet regarding `--enable-mpi-ext=`, it would be nice to know what `all` is doing.  Right now, I have no way to know that anything related to 16-bit floats is enabled automatically.

[code]

[2021-03-16 20:14] janjust commented on #7813
I'm using gcc 8.3.1 configure is pretty straight forward.
./configure --prefix --with-ucx
ucx is v1.10

[2021-03-16 20:16] rhc54 commented on #7620
I can't comment on what you are seeing. All I can say is that the most common problem we have had is the one you report in the first half of your prior comment - i.e., getting connection request from an incorrect/unexpected process identifier. @bosilca found that this went away when he restricted the system to a single TCP device, hence his conclusion that it is a reachability issue.

I leave it t

[2021-03-16 21:01] jeffhammond commented on #8616
@ggouaillardet disabling extensions is not a solution here...

[code]

[2021-03-16 21:50] jeffhammond commented on #8616
@ggouaillardet The NVHPC download [page](https://developer.nvidia.com/nvidia-hpc-sdk-downloads) has been updated to make it clear that `sudo` is only required when necessary to write to the specified directory.

[2021-03-17 00:30] ggouaillardet commented on #8616
@jeffhammond a patchless workaround is to `configure --enable-alt-short-float=long ...`
(so `configure` will find that the size of Fortran (2) and C (8) types differ and will set `OMPI_HAVE_FORTRAN_REAL2=0` and hence completely disable short float support.

@bosilca @kawashima-fj There are two issues here:
 -  there is no trivial way to unconditionnaly disable short float
 - Open MPI uses `REAL16`

[2021-03-17 00:39] bosilca commented on #8616
@ggouaillardet I can name a second compiler that supports it despite not being a standardized type. I can see 2 solutions:
1. We could name it conditional which would force us to check for both REAL*2 and iso:REAL16 types and generate the code accordingly. Unfortunately, this would create a naming clash in the code base, because up to now everything with REAL16 was indeed talking about 16 bytes. W

[2021-03-17 01:24] ggouaillardet commented on #8616
@bosilca this non standard `iso:REAL16` thing is only impacting `MPI_Sizeof()`.
Besides some of us thinking this is a controversial subroutine, I am not even sure the standard mandates us to support a non standard (if I understand correctly) `REAL*2` argument.

So a third option is to simply get rid of short float in the Fortran `MPI_Sizeof()` subroutines.
In that case, the patch is pretty trivial

[2021-03-17 01:49] jeffhammond commented on #8616
I think you want to support REAL*2 in MPI_SIZEOF until we can delete that unnecessary procedure. The REAL16 stuff should only exist if the compiler supports it.

[2021-03-17 03:41] bosilca commented on #8616
Right, it might be simpler to drop iso:real16 from sizeof. But then we should replace iso:real16 with REAL*2 in sizeof as suggested by @jeffhammond

[2021-03-17 03:52] ggouaillardet commented on #8616
a PR is coming, I took the long road and will use `iso:real16` if available, and use `real*2` and `complex*4` otherwise.

[2021-03-17 04:09] bosilca commented on #8616
I was thinking about this, but the fortran documentation is so scattered and incomplete that I had a hard time understanding the difference between the two types. However some of the documentation I found (mostly GNU, Intel and Oracle) seem to indicate that the two types iso:real16 and REAL*2 do not have to be equivalent, the former being an optional 16 bits floating point representation while the

[2021-03-17 04:14] ggouaillardet commented on #8616
In that case I can do **both** `REAL*2` and `iso:real16` when supported by the compiler.

[2021-03-17 04:38] bosilca commented on #8560
The 2 forms are not equivalent, otherwise 1) the standard would have added lb and ub markers in all examples talking about how to interpret the type map, and 2) the standard would not have make these markers appear explicitly in the equations describing the ub and lb of a datatype, and 3) the standard would have avoided  talking about the markers as conditionals in sentences such as "An entry of t

[2021-03-17 05:04] bosilca commented on #7620
Let me try to clarify what I found. Multiple interfaces were a prerequisite, even if they were not all used. In my case, I had multiple discovered TCP interfaces per node (ipoib and at least one ethernet), but I'm not sure if they were all used or could all have been used (due to the routing tables). Anyway, once I forced a single interface (via btl_tcp_if_include) I was unable to reproduce the er

[2021-03-17 13:31] yosefe commented on #8561
Which level of memory consumption would you expect to see? For example, how much extra memory is consumed with ob1?

This is expected, since internal memory pools grow, and released only during MPI_Finalize

[2021-03-17 13:41] zerothi commented on #8561
When using ` mpirun -np 2 --mca pml ob1 --mca btl vader,self ./a.out` I can't see any memory difference between rank 0 and 1. I.e. top shows the same for both processes. However, they both consume roughly 32 MB more than rank 1 when running with UCX does when running with `-x UCX_MM_SEG_SIZE=2k -x UCX_SELF_SEG_SIZE=2k -x UCX_TCP_RX_SEG_SIZE=2k -x UCX_TCP_TX_SEG_SIZE=2k`.

That was what I thought.

[2021-03-17 13:49] jjhursey commented on #3075
I can also confirm that this is fixed.

[code]

[code]

[code]

[2021-03-17 13:49] #3075 closed

[2021-03-17 13:52] jjhursey commented on #7437
PR #8312 has been merged. This can be closed

[2021-03-17 13:52] #7437 closed

[2021-03-17 13:56] jjhursey commented on #30
This was implemented in `master` and `v5.0.x` branches as the `--mca ompi_display_comm` command line option. See the following PRs for more details:
 * Open MPI 'hook' component:
   * https://github.com/open-mpi/ompi/pull/5507
   * https://github.com/open-mpi/ompi/pull/8313
 * PRRTE CLI option
   * https://github.com/openpmix/prrte/pull/711

[2021-03-17 13:56] #30 closed

[2021-03-17 14:11] jjhursey commented on #24
@ggouaillardet Do you know the state of this ticket? I think it can be closed. However, after looking at the code I think that some of the protections added for the `--enable-grequest-extensions` may have been removed by accident in [this](https://github.com/open-mpi/ompi/commit/1e2019ce2a903be24361b3424d8e98d27e941c6c) commit.

I see these two changes from you so I thought I would reach out to se

[2021-03-17 14:15] jjhursey commented on #77
It looks like these CLI options are in PRRTE, but I cannot see if they are still wired in. This will need some investiation.

[2021-03-17 14:17] jjhursey commented on #2966
@awlauria We were talking about this the other day. Is this resolved now?

We activated 'make check' for IBM's MTT runs. From last night's [run](https://mtt.open-mpi.org/index.php?&text_start_timestamp=2021-03-16+14%3A16%3A26+-+2021-03-17+14%3A16%3A26&show_start_timestamp=show&text_http_username=ibm&show_http_username=show&text_local_username=all&show_local_username=hide&text_platform_name=all&sho

[2021-03-17 14:32] awlauria commented on #2966
Yeah, mtt hasn't run yet for 5.0.x and master last night, so we'll see where we stand then. So far pgi on the v4.1.x branch is the only failure.

[2021-03-17 14:49] bwbarrett commented on #7058
As we discussed in the dev meeting yesterday, added a README note that we're not going to fix this and customers should approach their provider developers to fix it there.

[2021-03-17 14:49] #7058 closed

[2021-03-17 15:07] rhc54 commented on #77
They are wired in, but have not been tested in a while.

[2021-03-17 21:56] bjpalmer commented on #7813
I didn't have much luck building out of the github repository but I did try using a module for 4.0.5 and got only 5 failures out of 80 tests. Four of these were for tests on thread safety, which have always been on the sketchy side.

One thing of note is that I'm using the latest code in the develop branch. You should use that or the 5.8 release (the master branch also works). For that release, I

[2021-03-18 03:10] janjust commented on #7813
I’ll retry with latest code, but I’m pretty sure it’s a broken code in master. Some of those issues were addressed in the refactor patch. As far as your 4.0 failures, remember to use UCX with multi-threading enabled, not sure if your module had that.

[2021-03-18 17:50] awlauria commented on #2966
https://github.com/open-mpi/ompi/pull/8649

may resolve this.

[2021-03-18 22:12] hppritcha opened #8651 "PSM2 MTL: check for PSM2_REFCOUNT_CAP doesn't obey --with-psm2"
The PSM2 MTL configury doesn't take into account non-default PSM2 install locations when checking for PSM2_REFCOUNT_CAP definition in psm2.h.

[2021-03-18 23:44] cayrols opened #8652 "One-Sided: MPI_Put drop of performance compared with MPI_Send."
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
I am using the current ompi master branch.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]
Note that we also installed the latest UCX 1.10

[code]

### If you

[2021-03-19 02:58] ggouaillardet commented on #8616
@jeffhammond Fixed in master via #8637

As a side note, feel free to ask the nvhpc compiler team to support the non standard (yet ?) `REAL16` in `ISO_FORTRAN_ENV` (standards are good, but so is symmetry :-))

[2021-03-19 10:11] devreal commented on #6987
I just came back to this issue and found that it is still broken. This is actually a regression that exists in 5.0 and master.

Consider the following example:

[code]

I get a Segfault with the following backtrace:

[code]

Looking at the code, the problem still exists that the rkeys populated by `get_dynamic_win_info` are never actually used. I have verified that the test above succeeds in v4.0.

[2021-03-19 11:32] zerothi commented on #8561
Perhaps I should clarify, ;)
I would probably assume something like 128-512 bytes per hanging request (with no real basis on what such a hanging request actually requires). This I assume since the request is already there, so an internal pointer to that + some logistics for tracking them. But this is very loosely estimated without any knowledge in this :)

[2021-03-19 12:59] dbonner opened #8656 "CUDA build: make all fails with undefined references on master and v5.0.x"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

branch: master
hash: d18d3f6172ee06087f9452c79a7f8bfb8732c01a

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

(For

[2021-03-19 15:12] cniethammer opened #8658 "mpirun --version/--help segfaulting"
## Background information

I guess this is a prrte issue, which we hit here, but as `mpirun` of Open MPI reports the error I'll open the issue here at first place.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
$ git show
commit d18d3f6172ee06087f9452c79a7f8bfb8732c01a (HEAD -> master, origin/master, origin/HEAD)

$ git submodule
 7145774ed059c9

[2021-03-19 15:49] jsquyres commented on #8656
FYI @Akshay-Venkatesh

[2021-03-19 17:29] awlauria commented on #7620
I tried reproducing on our nodes, and can't. We do have some failures with `intercomm_create` in the IBM mtt, but all failures are when btl/tcp is excluded, for example [here](https://mtt.open-mpi.org/index.php?limit=&wrap=&trial=&enable_drilldowns=&yaxis_scale=&xaxis_scale=&hide_subtitle=&split_graphs=&remote_go=&do_cookies=&phase=test_run&text_start_timestamp=2021-03-16+03%3A23%3A53+-+2021-03-19

[2021-03-19 18:58] #8658 closed

[2021-03-19 19:58] jjhursey commented on #8658
Yeah we saw and fixed this over in PRRTE https://github.com/openpmix/prrte/issues/832
The update that Ralph just pushed to master should resolve it.

[2021-03-19 22:10] rzambre commented on #8179
Thanks for catching that.
Closing this for now, will look into it a later time.

[2021-03-19 22:10] #8179 closed

[2021-03-21 21:37] dalcinl opened #8664 "Regression: MPI_Info_get_nthkey() broken in master"
This is a trivial reproducer:
[code]
Output:
[code]
See [mpi4py testsuite failure](https://github.com/mpi4py/mpi4py-testing/runs/2160993576?check_suite_focus=true).

[2021-03-21 21:57] devreal commented on #8664
I just tested this with a recent master:

[code]

Correctly prints:

[code]

@dalcini can you please test and see if you can reproduce it with this C test?

[2021-03-21 22:02] dalcinl commented on #8664
Looks like your master was not recent enough.

[code]

[2021-03-21 22:05] dalcinl commented on #8664
I built from a git clone on Fedora 33 (GCC 10.21), and configured with:

[code]

The mpi4py testsuite failure I linked is running on the GitHub Action Ubuntu 20.04 runners.

[2021-03-21 22:37] devreal commented on #8664
Thanks for testing, I found the bug: https://github.com/open-mpi/ompi/pull/8665

[2021-03-21 23:01] dalcinl commented on #8664
@jsquyres This kind of regressions are the consequence of insufficient testing. I'm setting this thing up in GitHub Actions [[link]](https://github.com/mpi4py/mpi4py-testing/blob/master/.github/workflows/openmpi.yml) to make the point that integrating mpi4py testsuite in Open MPI testing infrastructure should be relatively easy. Porting this stuff to Azure Pipelines should trivial (actually, the m

[2021-03-21 23:47] hppritcha opened #8666 "PSM2 MTL fails to compile on master"
I'm getting this error trying to build Open MPI on a system with PSM2 installed using GCC 9.3.0
[code]

[2021-03-22 03:05] oleotiger opened #8669 "cpu-set not work in openmpi4.0.5"
## Background information
I wanna to run wrf.exe with openmpi and bind processes to a centain set of cores. With cpu-set it doesn't work as it supposes to be.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
openmpi v4.0.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system

[2021-03-22 05:40] ys-r opened #8670 "Doesn't work on Cray XC50 system with more than two nodes([nid00625:22636] [[53334,0],0] ORTE_ERROR_LOG: Not found in file plm_alps_module.c at line 423 )"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.0.3
v4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from a source

### Please describe the system on which you are running

* Operating system/version: Cray

[2021-03-22 11:44] devreal opened #8672 "Regression: SIGTERM not forwarded by mpirun"
In interactive environments, Open MPI's `mpirun` used to forward `SIGTERM` (Ctrl+C) to the job to kill it. In current master (`g5e767a4157`), sending SIGTERM to `mpirun` only terminates the `mpirun` process but the signal is not forwarded to the application.

*Example:*

[code]

The xterm started through `mpirun` is still alive after `mpirun` has terminated. I consider this a regression as it requ

[2021-03-22 14:30] hppritcha commented on #8666
this seems to have been magically fixed by a rebase on top of master at sha 8b273777685cd41ef26021e91e1ff077d9dd0699

[2021-03-22 14:30] #8666 closed

[2021-03-22 14:43] #8664 closed

[2021-03-22 14:45] jsquyres commented on #8664
I just merged the PR which fixes this issue, but... ZOMG.  Thank you @dalcinl for the GitHub Actions file!  I'm slightly tweaking it and testing it on my own setup, but I can foresee putting this on the main Open MPI repo in the very near future.

![thank-you](https://user-images.githubusercontent.com/617316/112008303-bbf8c800-8afb-11eb-9898-e64244faa326.gif)

[2021-03-22 15:10] dalcinl commented on #8664
Please share your tweaks once you are done! I'm particularly interested on adding a matrix with different configure options, or perhaps better, sets of runtime MCA options.

[2021-03-22 15:31] rhc54 commented on #8669
It appears cpu-set is not working in the 4.x series. It is working, however, in the master and v5.0.x branches, so it should be released in the not-too-distant future. Meantime, you might want to try one of those two sources as I very much doubt the fix will be backported to the 4.x series.

[2021-03-22 17:29] dalcinl opened #8675 "Regression: MPI_Info_dup() broken"
Another MPI_Info API regression in master:

Reproducer:
[code]
Output:
[code]

[2021-03-22 17:31] dalcinl commented on #8675
@devreal You may want to take care of this one.

[2021-03-22 17:32] devreal commented on #8675
I will. I was relying on Open MPI's CI to catch these things but I guess that was too optimistic...

[2021-03-22 17:37] mwheinz commented on #8666
JFC, take a long weekend to relax and recover from a year of lock down and months of physical therapy and all heck breaks loose. ;-)

[2021-03-22 17:40] jsquyres commented on #8675
We only run some stuff in CI; much of the testing runs nightly in MTT.

That being said, if we start running mpi4py in regular CI, that will be most helpful.

[2021-03-22 17:55] dalcinl commented on #8675
Well, maybe at some point you may consider writing tests in Python? You can even do this in a separate repo, and use it in GitHub Actions after running mpi4py testsuite. One of the reasons I have test for such trivial things like `MPI_Info_dup` is that test are so easy to write. Note that mpi4py testing infrastructure is somewhat dated, there are better Python testing frameworks that Python's stdl

[2021-03-22 18:29] dalcinl opened #8677 "Regression: MPI_Win_start()/complete() with MPI_GROUP_EMPTY"
I don't consider myself an expert on OSC, but the following code used to work across MPI implementations. Now it is failing with current master.

Reproducer
[code]
Output:
[code]

[2021-03-22 18:42] jsquyres commented on #8677
@hjelmn Does this code look correct?

[2021-03-22 18:42] dalcinl commented on #8677
Note that the following code runs to completion. If `Post()` with the empty group works, then I would argue that `Start()` with the empty group should also work.

[code]

[2021-03-22 18:43] dalcinl commented on #8677
@jsquyres I know the test looks a bit silly. Those are the silly things and corner cases I test for. I get what I deserve.

[2021-03-22 18:45] dalcinl commented on #8677
An MPI expert always needs to double check with a colleague about OSC semantics :rofl:.

[2021-03-22 18:46] #8672 closed

[2021-03-22 18:47] bosilca commented on #8677
All these version look legit.

[2021-03-22 18:50] hjelmn commented on #8677
While odd that should work as I understand the standard.

[2021-03-22 18:51] hjelmn commented on #8677
When fixed we should add both a C (if it is missing) and fortran version of this to ompi-tests to cover.

[2021-03-22 18:52] jsquyres commented on #8677
I stay far, far away from all MPI one-sided things.  😃

[2021-03-22 18:58] hjelmn commented on #8677
Why? One-sided is fast communication without the slowness that is MPI two-sided semantics 😁

[2021-03-22 19:15] hppritcha commented on #420
closing this issue.  won't fix.

[2021-03-22 19:15] #420 closed

[2021-03-22 20:14] jsquyres commented on #8677
This is how I think of MPI one-sided:

![explain-network](https://user-images.githubusercontent.com/617316/112052570-a601fc00-8b29-11eb-8e19-3d56faec5b48.gif)

[2021-03-23 00:08] artpol84 commented on #8548
Thanks, @angelinesalberto

Quick question. Looking into the pmix-2.2.4 codebase, I'm trying to map the output
[code]
onto the sources and it seems to have a mismatch. i.e.:
line 2225 in the v2.2.4 tag points to a comment ` /* unset lock */`:
https://github.com/openpmix/openpmix/blob/v2.2.4/src/mca/common/dstore/dstore_base.c#L2225

The same thing with the `base/bfrop_base_unpack.c`:
[code]
Line 69

[2021-03-23 00:22] artpol84 commented on #8548
I get the problems but the program doesn't stop, It continues the execution.

Also, it would be interesting to see if a simpler executable yields the same result:
* First try running something like [[ring.c](https://github.com/open-mpi/ompi/blob/master/examples/ring_c.c)] from OMPI examples to see if the simple MPI app runs fine. If it's not - the issue is not specific to the `wrf.exe`.
* Please t

[2021-03-23 01:00] oleotiger commented on #8669
From the second command as shown above, I found a way to run with cpu-set. It seems to act like the behavior as I suppose it to do but I don't know if it's correct.

Command: `mpirun --hostfile=4hosts -np 40 --cpu-set 0,2,4,6,8,10,12,14,16,18 .... `

In file 4hosts, I add slots=xxx.
[code]

[2021-03-23 01:58] rhc54 commented on #8669
It is ignoring cpu-set - all it is doing is putting 10 procs on each node because you told it to do so with your "slots=10" argument. You might check to see where those procs are bound. I believe the default is bind-to socket. You might want to bind-to core.

[2021-03-23 07:39] oleotiger commented on #8669
The whole command is `mpirun --hostfile=4hosts -np 40 --cpu-set 0,2,4,6,8,10,12,14,16,18 --bind-to core  -x OMP_NUM_THREADS=1 -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 -x UCX_TLS=self,sm,rc -x UCX_NET_DEVICES=mlx5_0:1  -report-bindings    ./wrf.exe`

Among the four nodes, ranks on 3 nodes report:
[code]
10 ranks on one node reports:
[code]
With command `htop`, processes are runn

[2021-03-23 07:45] oleotiger commented on #8669
There is a weird phenomenon.
If I start to application on 4 nodes:
`mpirun --hostfile=4hosts -np 40 --cpu-set 0-11,24-35 --bind-to core app_1`
and
`mpirun --hostfile=4hosts -np 40 --cpu-set 12-23,36-47 --bind-to core app_2`
at the same time, all cores are runing at 100% util.

As you mentioned above, mpi won't distribute ranks on the cores as cpu-set indicated ( may be random? as 10 ranks seems to

[2021-03-23 07:50] oleotiger commented on #8669
The purpose I wanna use `--cpu-set` is that: I wanna to run 2 applications at the same time and control their distribution on the core. For example, at one node, each application takes one socket or one numa node. And further, each application runs on half of cores of each numa node. I tried map-by numa, but both applications run on the first half cores of the numa node.

Any ideas to achieve the

[2021-03-23 12:19] zerothi opened #8680 "Context usage of MPI_Win_allocate for using MPI_Win_free and not MPI_Free_mem"
https://github.com/open-mpi/ompi/blob/a541ab933dec0bb6f1572a9aa5c4ffa04d20e1e8/ompi/mpi/man/man3/MPI_Win_allocate.3in#L93

While the standard mentions how MPI_Win_allocate and MPI_Free_mem should be used together, it isn't mentioned here in the documentation.

This is a reminder to myself to create a PR for this.

I.e. something like this should be amended:

[code]
also, under `See also` I would a

[2021-03-23 14:18] hppritcha commented on #8381
closed via #8552 and #8590

[2021-03-23 14:39] hppritcha commented on #8670
I don't think you're going to make much progress using cray ccmrun with Open MPI.  What happens if you use the mpirun that gets installed with Open MPI?

[2021-03-23 15:05] jsquyres opened #8682 "Configuring with --disable-mpi-fortran still installs mpifort(1)"
@dalcinl noticed that if you configure with `--disable-mpi-fortran`, we still install `mpifort` (and sym-linked friends, such as `mpif90`).  This seems incorrect, especially since they include `-lmpi_mpifh`, and `libmpi_mpifh` does not exist (i.e., is not installed).

I observed this on the v4.1 branch, but it's probably in v4.0, master, and v5.0 as well.

@ggouaillardet Can you think of any reaso

[2021-03-23 15:30] ggouaillardet commented on #8682
@jsquyres that sounds like a bug.

There is a good reason for installing C++ wrappers even when C++ bindings are not built, but I cannot remember a good rationale for doing it with Fortran.

[2021-03-23 16:16] dalcinl commented on #8682
Well, if MPI had an ABI, we could be using MPI via ISO_C_BINDINGS.

On a more everyday situation, imagine that you have some app written in both C and Fortran. The C code makes MPI calls, but the Fortran code is all sequential, no MPI. At some point you have to link your object files. Some folks will likely prefer to do the linking via Fortran. So it makes sense to use `mpifort`, even if no Fortra

[2021-03-23 17:02] jsquyres commented on #8682
That may well be the reason we're still installing `mpifort` and friends (to link an overall C+Fortran MPI application).

I don't think I have a strong opinion here; I *believe* that going either way will not be a big fix (i.e., either removing fortran libraries from the Fortran wrapper compiler link lines, or not installing `mpifort` at all).

[2021-03-23 17:08] bosilca commented on #8682
I like @dalcinl idea because it is a very normal scenario for many HPC applications, and today's solution (aka. finding the correct include/link options to make it work) is a major hassle.

[2021-03-23 17:20] jsquyres commented on #8682
@bosilca Thanks -- I was going to raise this issue for larger visibility, but since at least one other person chimed in, I'm happy to accept that solution (i.e., let's remove the MPI Fortran libs and make `mpifort` still be safe to use).

FWIW: this has been broken since at least 4.0.0 (I didn't test earlier than that).  So this hasn't worked in a long time.

[2021-03-23 17:30] hjelmn commented on #8682
I vote for not installing it at all if --disable-mpi-fortran. I run a fortran-free system and ompi-tests makes some assumptions if it sees mpifort at all.

[2021-03-23 17:57] dalcinl commented on #8682
@hjelmn Wouldn't it be better to update ompi-tests assumptions? Is that really hard?

@jsquyres Alternatively, perhaps you need an extra configure flag `--disable-fortran` that will skip absolutely everything Fortran-related (bindings, wrappers, the stuff ompi_info prints, etc)? This way you accommodate for @hjelmn user case. And now that I'm at it, because asking is free and you do the work, why

[2021-03-23 17:58] jsquyres commented on #8682
If that were true, then you wouldn't have been able to build/run ompi-tests on your Fortran-free system for years... 😉

[2021-03-23 18:03] hjelmn commented on #8682
@jsquyres I have a local copy with all fortran configury hacked out.

[2021-03-23 18:07] mwheinz opened #8684 "Unable to compile the PSM2 MTL due to missing #include."
When compiling the master branch of OMPI I'm getting the following error:

[code]

The problem appears to have been created by Pull Request #8553. I have a fix, I'll push a PR shortly.

[2021-03-23 18:13] #8675 closed

[2021-03-23 18:36] jsquyres commented on #8682
FWIW, I just built `ompi` with `--disable-mpi-fortran` and the ompi-tests IBM suite built ok for me.  Is there something else in `ompi-tests` that doesn't work?

[2021-03-23 18:41] hjelmn commented on #8682
@jsquyres Do you have a fortran compiler installed? I don't.

[2021-03-23 19:39] cniethammer opened #8687 "Segfault running with hcoll and multiple nodes"
## Background information
I see segmentation faults in MPI_Init when building and running programs using hcoll on our system during startup of processes.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
$ git show
commit 3f746fec9ba74f7f2fadde6d424ae50210728875 (HEAD -> master, origin/master, origin/HEAD)
$ git submodule
 7826fb8ba83b60959adcde53c

[2021-03-24 05:27] ys-r commented on #8670
It works well!　I also checked the operation of the communication using example/connectivity_c.c, then it also works.
I'm checking with CRAY support staff if mpirun is running correctly in the computation node, not in the login node.

I did not doubt what the CRAY support staff said.
OpenFOAM still doesn't work well in parallel processing, but I don't think OpenMPI is the cause of this.

Thank you.

[2021-03-24 07:37] zerothi commented on #8680
In this regard, would it make sense to amend documentation for `MPI_Win_fence` with descriptions of `MPI_MODE_NOPUT` and friends?

[2021-03-24 09:35] dalcinl commented on #4135
@jsquyres This issue is still there in master. IMHO, if count is zero, in any context, then you do not check the buffer address. Why? Because lots of third party code may use NULL pointers for zero-size arrays. Remember that `malloc(0)` may return NULL. Also remember that Open MPI special-case a `MPI_Alloc_mem(0, ...)` call to explicitly return NULL.

[2021-03-24 11:04] dalcinl commented on #8682
I just tried to run configure in Fedora 33 container (using Fedora's toolbox tool):

1. I assume `./autogen.pl` was already run outside the container, so the configure script is already available in the source tree.
2. I started by installing `make`, `flex`, and `gcc` packages (the `gcc` package brings in just the C compiler)
3. I ran `./configure --disable-man-pages`. It did not work, configure c

[2021-03-24 11:06] jsquyres commented on #8682
@hjelmn Yes, that's why I was asking you what breaks.  😜

I think there's multiple issues here:

1. If there's no Fortran compiler found, we shouldn't install `mpifort` and friends.
2. If there's a Fortran compiler found but we're not building the Fortran bindings (e.g., `--disable-mpi-fortran`), we should install `mpifort` and friends, but not link against the MPI libraries.
3. If there's a Fortr

[2021-03-24 11:06] jsquyres commented on #8682
Yeah, we should fix that, too.  There's no need for a C++ compiler any more.

[2021-03-24 11:24] dalcinl commented on #8682
Small correction: ... not link against the MPI **Fortran** libraries. You still want `mpifort` to link the **C** MPI libraries, such that it can be used as an MPI-aware linker for mixed C+Fortran applications.

[2021-03-24 11:25] dalcinl opened #8689 "Do not require a C++ compiler to build Open MPI"
Yeah, we should fix that, too.  There's no need for a C++ compiler any more.

_Originally posted by @jsquyres in https://github.com/open-mpi/ompi/issues/8682#issuecomment-805731262_

[2021-03-24 11:47] jsquyres commented on #8682
@dalcinl You are correct -- that was a typo in my above comment.

[2021-03-24 13:10] rhc54 commented on #6962
Sorry for the long delay. This has been fixed on OMPI's master branch which is soon to be released as v5.0. You are welcome to utilize a nightly tarball (https://www.open-mpi.org/nightly/master/ or https://www.open-mpi.org/nightly/v5.0.x/) in the interim.

[2021-03-24 13:10] #6962 closed

[2021-03-24 13:12] rhc54 commented on #6902
Sorry for the long delay. This has been fixed on OMPI's master branch which is soon to be released as v5.0. You are welcome to utilize a nightly tarball (https://www.open-mpi.org/nightly/master/ or https://www.open-mpi.org/nightly/v5.0.x/) in the interim.

[2021-03-24 13:12] #6902 closed

[2021-03-24 13:14] rhc54 commented on #8669
This has been fixed on OMPI's master branch which is soon to be released as v5.0. You are welcome to utilize a nightly tarball (https://www.open-mpi.org/nightly/master/ or https://www.open-mpi.org/nightly/v5.0.x/) in the interim.

[2021-03-24 13:14] #8669 closed

[2021-03-24 13:15] rhc54 commented on #8670
OMPI won't run on the login node as the login node isn't included in the allocation. You should be just fine. Let us know if you hit any further problems!

[2021-03-24 13:15] #8670 closed

[2021-03-24 13:19] rhc54 commented on #8596
That is a really basic function call down into the PMIx abstraction. @amckinstry Were you built against an external version of PMIx? If so, what version was it, and can you provide your configure cmd line?

[2021-03-24 13:21] rhc54 commented on #8554
Please reopen if setting the PATH to include `srun` didn't fix the problem.

[2021-03-24 13:21] #8554 closed

[2021-03-24 13:24] rhc54 commented on #8510
Your "hack" sounds like the correct solution for that scenario. Please reopen if you require anything further.

[2021-03-24 13:24] #8510 closed

[2021-03-24 13:26] rhc54 commented on #8356
Please reopen if you are able to identify a contributing problem in OMPI.

[2021-03-24 13:26] #8356 closed

[2021-03-24 13:27] rhc54 commented on #8292
OMPI v5.0 should be coming out in the near future. In the interim, you are welcome to use a nightly tarball from either the master of v5.0 branch (https://www.open-mpi.org/nightly/)

[2021-03-24 13:27] #8292 closed

[2021-03-24 13:28] rhc54 commented on #8282
Please reopen if that didn't answer your questions.

[2021-03-24 13:28] #8282 closed

[2021-03-24 13:30] rhc54 commented on #8270
The "slots=" entry is not required any longer in OMPI v5, which should be released soon. In the interim, you are welcome to use a nightly tarball from either the master or v5 branch (https://www.open-mpi.org/nightly/).

[2021-03-24 13:30] #8270 closed

[2021-03-24 13:37] rhc54 commented on #8193
Sorry this fell off of our radar. It looks like there are some missing libraries on at least one of your backend nodes. The first couple of procs are able to properly initialize, but the others fail due to a lack of PMIx support. Check your backend LD_LIBRARY_PATH and the OMPI install location on those nodes and ensure there isn't some confusion - e.g., the backend using an earlier version of OMPI

[2021-03-24 13:38] rhc54 commented on #8189
OMPI v5 is scheduled to release in the near future. In the interim, you are welcome to use a nightly tarball from the OMPI master or v5 branches (https://www.open-mpi.org/nightly/)

[2021-03-24 13:38] #8189 closed

[2021-03-24 13:38] #8170 closed

[2021-03-24 13:39] rhc54 commented on #8097
Please reopen if that didn't fix the problem.

[2021-03-24 13:39] #8097 closed

[2021-03-24 13:40] rhc54 commented on #8064
Please reopen if you continue to see the problem.

[2021-03-24 13:40] #8064 closed

[2021-03-24 13:42] rhc54 commented on #8005
Sorry for the delayed response. This has been verified as fixed in OMPI master and the OMPI v5 branch, which is soon to be released. In the interim, you are welcome to use a nightly tarball from either of those branches (https://www.open-mpi.org/nightly/)

[2021-03-24 13:42] #8005 closed

[2021-03-24 13:48] rhc54 commented on #8004
This has been fixed in the OMPI master and v5 branches, with v5 scheduled for release in the near future. Unfortunately, there are no plans to backport those fixes to earlier releases. In the interim, you are welcome to use a nightly tarball from either of those branches (https://www.open-mpi.org/nightly/).

[2021-03-24 13:48] #8004 closed

[2021-03-24 13:52] rhc54 commented on #7979
Closing this as it seems more of a system config problem than an OMPI one. Please reopen if you require further assistance.

[2021-03-24 13:52] #7979 closed

[2021-03-24 13:57] rhc54 commented on #7901
Extensive investigation on OMPI master cannot replicate this problem - we have concluded that recent changes in PRRTE have fixed it there. This has been included in the upcoming v5 release, which should be coming along soon. In the interim, you are welcome to try one of the nightly tarballs from either the master or v5 branch (https://www.open-mpi.org/nightly/). Please reopen if you continue to se

[2021-03-24 13:57] #7901 closed

[2021-03-24 13:57] rhc54 commented on #7620
Extensive investigation on OMPI master cannot replicate this problem - we have concluded that recent changes in PRRTE have fixed it there. This has been included in the upcoming v5 release, which should be coming along soon. In the interim, you are welcome to try one of the nightly tarballs from either the master or v5 branch (https://www.open-mpi.org/nightly/). Please reopen if you continue to se

[2021-03-24 13:57] #7620 closed

[2021-03-24 13:59] rhc54 commented on #7868
I've never heard of one - but a code contribution (targeting the OMPI master branch) to do so is welcome! Note that the OMPI master branch uses PRRTE (https://github.com/openpmix/prrte) as its runtime, so the patch would have to go there.

[2021-03-24 13:59] #7868 closed

[2021-03-24 13:59] jsquyres commented on #8689
Also see https://github.com/open-mpi/ompi/issues/136

[2021-03-24 14:02] rhc54 commented on #7833
Please reopen if you see this on OMPI master - there currently are no plans to address such issues on earlier branches

[2021-03-24 14:02] #7833 closed

[2021-03-24 14:03] #7832 closed

[2021-03-24 14:05] rhc54 commented on #7368
Closing as this doesn't seem to be a bug in OMPI so much as a limitation in Docker and/or missing required libraries.

[2021-03-24 14:06] rhc54 commented on #7816
Closing as this doesn't seem to be a bug in OMPI so much as a limitation in Docker and/or missing required libraries.

[2021-03-24 14:06] #7816 closed

[2021-03-24 14:07] rhc54 commented on #7782
@jsquyres @bwbarrett Anybody do this?

[2021-03-24 14:08] #7742 closed

[2021-03-24 14:09] rhc54 commented on #7738
This has been dealt with in PRRTE.

[2021-03-24 14:09] #7738 closed

[2021-03-24 14:10] rhc54 commented on #7736
This has been fixed in the OMPI master and v5 branches. Unfortunately, there are no plans to backport those fixes to earlier release series. OMPI v5 should be released shortly. In the interim, please feel welcome to use a nightly tarball from either the master or v5 branches (https://www.open-mpi.org/nightly/)

[2021-03-24 14:10] #7736 closed

[2021-03-24 14:11] #7723 closed

[2021-03-24 14:40] rhc54 commented on #7701
Please reopen if this didn't fix the problem, and/or if someone comes up with a way we can automate addition of the necessary option.

[2021-03-24 14:42] rhc54 commented on #7689
Closed by https://github.com/openpmix/prrte/pull/773

[2021-03-24 14:43] #7689 closed

[2021-03-24 14:43] rhc54 commented on #7688
Closed by https://github.com/openpmix/prrte/pull/773

[2021-03-24 14:43] #7688 closed

[2021-03-24 14:44] rhc54 commented on #7660
Update on https://github.com/openpmix/prrte/issues/570 if this problem resurfaces. No plans to provide the longer display.

[2021-03-24 14:44] #7660 closed

[2021-03-24 14:51] jsquyres commented on #8680
Yes, that would be great.

In the "FYI" category...

Know that we are in the middle of a man page and documentation revamp.  In the best of worlds, it will be ready in time for v5.0.0 (but there's a possibility that it may be after the initial v5.0.0 release).  This documentation / man page revamp will *not* be applied to versions prior to v5.0.0.

The short version is that it looks very promising

[2021-03-24 14:57] jsquyres commented on #138
This issue is now moot -- the configury in question no longer exists (and we do not have any specific checks for `ibv_create_cq` any more).

[2021-03-24 14:57] #138 closed

[2021-03-24 14:58] rhc54 commented on #7234
Closing as this doesn't seem relevant any longer.

[2021-03-24 14:58] #7234 closed

[2021-03-24 14:59] jsquyres commented on #104
This issue is now moot: Open MPI has not supported the native Windows compilers for a long time.

[2021-03-24 14:59] #104 closed

[2021-03-24 15:00] jsquyres commented on #959
This was done long ago.  Huzzah!

[2021-03-24 15:00] #959 closed

[2021-03-24 15:32] jsquyres commented on #1475
@ggouaillardet Did you ever get a chance to look at adding the missing MPI_F08_STATUS[ES]_IGNORE symbols, perchance?

[2021-03-24 15:35] jsquyres commented on #6343
Is this still an issue in the latest 4.0.x or 4.1.x releases?

[2021-03-24 15:46] rhc54 commented on #7560
This now works on master

[2021-03-24 15:46] #7560 closed

[2021-03-24 16:04] jsquyres commented on #8682
#8693 is a PR to fix the C++ compiler requirement (which was [not-so-]surprisingly complicated and time consuming 😕  -- that took up my available time today...).  A few elements of that PR will be useful in fixing the Fortran / `mpifort` issue.

[2021-03-24 16:10] hppritcha opened #8694 "PSM2 MTL: mca_mtl_psm2.so is not observing non default rpath"
In trying to build Open MPI using a local install of PSM2, it was found that the mca_mtl_psm2.so plugin being built was not rpathing to the non-default location libpsm2.so, but pointing to the libpsm2.so in /lib64 (at least on my RHEL7 system).

[2021-03-24 16:35] dromer commented on #7701
Sorry, totally forgot to follow up on this.

This option gives us: `mpirun: Error: unknown option "--mca pml_rsh_args"`

[2021-03-24 16:58] rhc54 commented on #7701
I believe you were given a typo: it should be `--mca plm_rsh_args -x`

[2021-03-24 17:31] hppritcha commented on #8694
Okay triaged this some.  Problem is the non-standard way that the PSM2 build system available at https://github.com/cornelisnetworks/opa-psm2 doesn't install a libpsm2.la, hence the rpath'ing problem.  I had generated a libpsm2.la and places in the install dir for my local PSM2 install and this issue vanished.  Not worth patching something into the Open MPI configury.

[2021-03-24 17:31] #8694 closed

[2021-03-24 18:23] wckzhang commented on #7620
I did a bisect and concluded that this patch fixes the issue:

[code]

[2021-03-24 18:30] rhc54 commented on #7620
That's....disturbing.

[2021-03-24 19:33] bosilca commented on #7620
I am not sure I understand how removing unused code could fix an issue. As I could replicate the issue pretty easily, let me try to see if I can get it to trigger with today's master.

[2021-03-24 19:45] cniethammer commented on #8687
Update: Cannot reproduce this with the latest master (f4555789bb0d1f8c75d5b5e84f8fb463e12b1bdb), any more.

[2021-03-24 20:13] #8689 closed

[2021-03-24 20:13] #136 closed

[2021-03-24 21:06] jsquyres commented on #8680
No, you can make a PR against master and PR it to v4.0.x and v4.1.x.  If that's done "soon-ish", we'll pick it up in the man page revamp automatically.

The docs/man page revamp is currently proceeding on side branches right now.  I don't have an ETA, other than "hopefully by 5.0.0".  You can see on PR where at least a bunch of the work is (but none of the man pages yet): https://github.com/open-m

[2021-03-24 23:26] bosilca commented on #7620
I confirm all tests run to completion. I still don't understand why, but at this point that is secondary.
👍

[2021-03-25 08:13] BiplabRaut commented on #8603
After applying the patch, I thoroughly tested various test cases of FFTW using its in-built benchmark test program.
Many of the test cases, that showed regression previously as compared to openMPI3.1.1, have now improved with significant gains.

However, there are still few test cases where the performance is lower than openMPI3.1.1.
Are there more performance issues in openMPI4.x that need to be

[2021-03-25 10:48] gkatev commented on #8532
Yes that sounds like a good and simple solution, and I see it was merged in #8623.

Regarding the second part of my question, is opal_atomic_**mb**() intended as a full barrier?
In that case, the asm implementation for x86 should include an mfence instruction (?) (as does gcc for SEQ_CST). Currently, only a compiler fence is utilized for MB().

[2021-03-25 15:19] philippkraft commented on #7701
Sorry, forgot about this.

when running

[code]
I get the exact same output as in the description of the issue.

This happens both with PuTTy as ssh client on windows with -X flag, as well as with ssh from the Windows Subsystem for Linux based on Ubuntu 18.04 without -X flag.

[2021-03-25 15:36] hppritcha commented on #8670
@ys-r is this issue resolved for you?

[2021-03-25 15:51] jjhursey commented on #2966
Now that https://github.com/open-mpi/ompi/pull/8649 is merged are the `make check` issues resolved?

[2021-03-25 15:54] jjhursey commented on #6398
All of the PRs have been merged. This can be closed.

[2021-03-25 15:54] #6398 closed

[2021-03-25 15:55] jjhursey commented on #7626
Any updates on this issue?

[2021-03-25 16:07] awlauria commented on #2966
I need to cherry-pick that back to v4 and v5, but yeah I think we're probably good here.

[2021-03-25 17:59] awlauria commented on #2966
v4.0.x: https://github.com/open-mpi/ompi/pull/8709
v4.1.x: https://github.com/open-mpi/ompi/pull/8708
v5.0.x: https://github.com/open-mpi/ompi/pull/8710

[2021-03-26 00:20] ys-r commented on #8670
Yes. This error will no longer occur.

However, OpenFOAM still doesn't work beyond a certain number of parallelism.
Whether the problem is with OpenFOAM or OpenMPI is not clear to me.
If I identify the problem, I will create a new issue.

Thanks.

[2021-03-26 01:34] jsquyres commented on #8682
#8716 is the PR to fix the `mpifort` issues (and one minor mistake missed in #8693).

[2021-03-26 06:06] acolinisi opened #8718 "ompi_info fails to link with --enable-mca-static: libopen-pal.so: undefined reference to `ucm_test_external_events'"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

856a2b7f6f6f3380c7617114d9007fa00e631095

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from source.

### If you are building/installing from a git clone, ple

[2021-03-26 09:16] angelinesalberto commented on #8548
Hi Artem, thanks for your help

OMPI: $ find -name "mca_pmix*" | xargs ldd
find -name "mca_pmix*" | xargs ldd

./lib/openmpi/mca_pmix_flux.so:
                linux-vdso.so.1 =>  (0x00007ffcae4f4000)
                libopen-pal.so.40 => /mnt/lustre/ohpc/admin/spack/0.12.1/opt/spack/linux-centos7-x86_64/intel-19.0.5.281/openmpi-4.1.0-tjpbvgi3b7imtx2spy7ryygw4ecxvkyw/lib/libopen-pal.so.40 (0x00002b5

[2021-03-26 14:43] jsquyres commented on #8718
@bwbarrett @rhc54 I don't know if this is related to https://github.com/openpmix/prrte/issues/871 or not, but we should probably talk it through.

[2021-03-26 16:16] jsquyres commented on #8718
@acolinisi Can you send the config.log from your build?  We don't fully understand how all the terms got into your link line.

Thanks!

[2021-03-26 18:48] acolinisi commented on #8718
[openmpi-link-failure-config.log](https://github.com/open-mpi/ompi/files/6213745/openmpi-link-failure-config.log)

But, please put this on hold. I should have debugged this further. The underlying issue(s) probably always been there, just somehow masked/nonfatal with `--enable-mca-dso`, the `--enable-mca-static` probably just exposed it.

I see at least one (classic) issue with the link line that

[2021-03-26 19:10] awlauria commented on #2966
Note that the pr for v4.0.x was rejected, so we should consider adding

`--disable-builtin-atomics` to our v4.0.x mtt builds.

[2021-03-26 19:12] ShatrovOA opened #8720 "Derived types with CUDA-Aware MPI"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.0.5 shipped with Nvidia hpc_sdk 21.2

### Please describe the system on which you are running

* Operating system/version: CentOS Linux 7
* Computer hardware: 2 х Intel Xeon Gold 6142 v4, 4 x nVidia Volta GV100GL, 768GB
* Network type: Infiniband

-----------------------

[2021-03-26 19:22] gpaulsen commented on #4995
Thank you @jsquyres

[2021-03-26 19:22] #4995 closed

[2021-03-26 19:38] gpaulsen commented on #5370
@zmonoid, we think this should work if you're fully qualifying the mpi path.  Closing.
Please re-open if it's still an issue in v4.0.5

[2021-03-26 19:38] #5370 closed

[2021-03-26 19:45] hppritcha commented on #5459
fixed in v4.0.x via #6838.  closing since we're not going to patch v3.1.x and v3.0.x

[2021-03-26 19:45] #5459 closed

[2021-03-26 19:49] #5470 closed

[2021-03-26 19:53] gpaulsen commented on #5593
Please reopen if this is still an issue.

[2021-03-26 19:53] #5593 closed

[2021-03-26 19:55] awlauria commented on #5470
This should be resolved by dropping back to the atomic assembly in these pr's to v4.1 and v5:

v4.1.x: #8708
v5.0.x: #8710
master: https://github.com/open-mpi/ompi/pull/8649 - has some performance numbers and discussion.
it looks like it is not going back to v4. However, users can compile with the configure option `--disable-builtin-atomics`  to fix this on v4.0.x.

See issue:

https://github.com/

[2021-03-26 19:56] #5613 closed

[2021-03-26 20:01] awlauria commented on #2966
Our internal MTT has been updated to build v4.0.x with `--disable-builtin-atomics`

[2021-03-26 20:14] hppritcha commented on #5739
Did code check on openib, ugni, uct, and ofi btls and their methods appear to protect from this double free situation.  Closing.

[2021-03-26 20:14] #5739 closed

[2021-03-26 20:19] gpaulsen commented on #5801
https://github.com/open-mpi/ompi/pull/5811 Merged into v4.0.x.  Closing

[2021-03-26 20:19] #5801 closed

[2021-03-26 20:24] gpaulsen commented on #5818
Lets discuss this on the weekly Telcon.

[2021-03-26 20:27] hppritcha commented on #5020
I can't reproduce using the Open MPI 4.0.6rc2.   Closing.  Please reopen if this isn't fixed for you in the 4.0.6 or later release.

[2021-03-26 20:27] #5020 closed

[2021-03-26 20:37] gpaulsen commented on #5969
Should be fixed in v5.0.x/master.  Closing.  Please reopen if you notice this issue today.

[2021-03-26 20:37] #5969 closed

[2021-03-26 20:47] gpaulsen commented on #6090
README looks okay in v4.0.x

[2021-03-26 20:47] #6090 closed

[2021-03-26 20:53] hppritcha commented on #6095
@asanchez1987 is this still important?

[2021-03-26 21:19] mwheinz commented on #8684
The PR has been merged, I believe this can be closed.

[2021-03-26 21:35] hppritcha commented on #6524
This problem appears to be resolved in v4.0.x at 803bdd624401277a23ee3294d96f5cf54ff7238f on a Cray XC running CLE 7.0UP02 and xpmem 2.2.20.

[2021-03-26 21:35] #6524 closed

[2021-03-26 21:42] hppritcha commented on #6777
@artpol84 does UCX support 1 and 2 byte atomics now?

[2021-03-26 21:54] #8684 closed

[2021-03-26 22:11] hppritcha commented on #8531
@dmitry-kabanov does your script invoke mpirun multiple times or do you invoke the script within another script that ends up effectively running mpirun's back to back?

[2021-03-26 22:16] gpaulsen commented on #8426
Fixed via https://github.com/openucx/ucx/pull/6232 and https://github.com/open-mpi/ompi/pull/8705.

[2021-03-26 22:16] #8426 closed

[2021-03-26 22:22] gpaulsen commented on #8290
@ggouaillardet are you planning to PR this to master and release branches/.

[2021-03-26 22:26] gpaulsen commented on #8285
fixes merged to master and all active release branches.

[2021-03-26 22:26] #8285 closed

[2021-03-26 22:41] hppritcha commented on #8137
@devreal reminder to post a fix for this doc issue

[2021-03-26 22:43] hppritcha commented on #8106
@hoopoepg Sergey could you check on this?

[2021-03-26 23:43] rhc54 opened #8724 "libtreematch.la is getting put in wrapper "libs_static""
Working with head of OMPI master branch as of Fri afternoon (hash 8f19f0f01a1837b2a048b94bec9b89541ea42617) on CentOS7. This is with a fresh clone of the repo. I am able to build the branch, but cannot compile any application programs due to the following:
[code]
Any ideas out there would be appreciated.

[2021-03-27 00:13] hppritcha commented on #6985
@tkordenbrock could you update this issue?  should we close as won't fix for v4.0.x?

[2021-03-27 04:59] acolinisi commented on #8718
Got it to build with `--enable-mca-static` by simply adding `--without-gpfs`, i.e by disabling GPFS which was the most likely cause for `-L/usr/lib -L/usr/lib64`. GPFS is autodetected by default, but autodetection is bad for Gentoo Prefix builds, because it ends up violating the prefix boundary and looking outside the prefix into the host. My build recipe should have been setting all flags explici

[2021-03-27 04:59] #8718 closed

[2021-03-27 08:31] asanchez1987 commented on #6095
Sorry I didn't come back to this earlier. Please, disregard this issue for now. If/when I test again all the components (PMIx, Slurm, OpenMPI) with modern versions and if I find issues again I'd open a separate issue. In the meantime, we can close this for now. Thanks.

[2021-03-27 12:22] yosefe commented on #6777
It does not

[2021-03-27 13:58] ggouaillardet commented on #8290
This is unrelated to #8217

IIRC, I did not see anything wrong with the current code, nor found the root cause of the leak.
I happened to find that doing things differently (and likely suboptimal performance wise) the leak disappeared ...

I initially planned to investigate the root cause, but could not find the time.
If you believe a PR (with likely a performance hit) is better than the leak, I c

[2021-03-27 15:39] #6095 closed

[2021-03-27 15:49] jsquyres commented on #8724
I can confirm that this is happening, but only when you try to link statically with the wrapper compilers.  Specifically, this line is ending up in the `mpicc-wrapper-data.txt` file for my build:

[code]

There are two things wrong here:

1. `libtreematch.la` is being added, instead of the actual back-end libtree library (either .so or .a).
2. The path used for `libtreematch.la` is in my build tre

[2021-03-27 17:44] bosilca commented on #8724
Why is this treematch linked independently instead of being part of the topo object (either statically or dynamically linked) ?

[2021-03-27 19:53] jsquyres commented on #8724
@bosilca I do not know; I didn't have the time to investigate how this is happening -- I just confirmed that it *is* happening.

[2021-03-27 20:28] devreal commented on #8137
PRs have been merge:

- master: https://github.com/open-mpi/ompi/pull/8625
- 5.0.x: https://github.com/open-mpi/ompi/pull/8644
- 4.0.x: https://github.com/open-mpi/ompi/pull/8646

Waiting to be merged:
- 4.1.x: https://github.com/open-mpi/ompi/pull/8645

[2021-03-27 20:28] jsquyres commented on #7223
This was fixed long ago.

[2021-03-27 20:28] #7223 closed

[2021-03-27 20:34] jsquyres commented on #8137
Thanks for the reminder on the v4.1.x -- merged.

[2021-03-27 20:34] #8137 closed

[2021-03-29 07:06] oleotiger opened #8727 "Errors when compiling openmpi-v5.0.x"
## Background information
I wanna use `--cpu-set` options of mpirun and it only works in newer version such as v5.0.x and master. But I have got errors when compiling openmpi.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
openmpi-v5.0.x-202103240304-c445397

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from

[2021-03-29 12:54] awlauria commented on #8727
@oleotiger what compiler are you using?

[2021-03-29 14:07] oleotiger commented on #8727
Both knew and openmpi are compiling with gcc9. 3.0

[2021-03-29 14:26] awlauria commented on #8727
@oleotiger can you try pulling in https://github.com/open-mpi/ompi/pull/8728/commits/a4c961859b7b10e571ba4fb39f05617d0c46ae53 and see if that works for you

[2021-03-29 15:39] tkordenbrock commented on #6985
@hppritcha This issue was resolved in #7066, #7229, #7230 and #7231.  Not sure why it is still open.  I'll remove the target tags and close it.

[2021-03-29 15:39] #6985 closed

[2021-03-29 16:26] #8727 closed

[2021-03-29 16:31] awlauria commented on #8727
v5.0.x: https://github.com/open-mpi/ompi/pull/8729

[2021-03-29 17:24] sarats commented on #8442
Since this affects infiniband specifically and also HPC-X (derived from OpenMPI), could someone from Mellanox aid in search for a fix/workaround?

[2021-03-29 17:27] bosilca commented on #7851
Based on the replicator here I made a [simpler one](https://gist.github.com/bosilca/9d33ab1a34219ddbac5c633413d4544e) that only looks at the conversion itself. I run this test with the master today (without the #7919), as far as I can see the data representation for uint64_t is correctly converted to the external32 format. I'm not saying this works with files, that's another topic, but the pack/un

[2021-03-29 18:48] hppritcha commented on #5643
@edgargabriel checking this ext32 support via ompi i/o is not going to be fixed in the v4.1.x and older releases right?

[2021-03-29 18:50] hppritcha commented on #6728
@jladd-mlnx are there any plans to fix this?  I thought c++ support for OpenSHMEM was going away at some point anyway.

[2021-03-29 18:50] edgargabriel commented on #5643
@hppritcha ext32 support is in v4.1, but not in v4.0.

[2021-03-29 18:51] hppritcha commented on #6777
closing as no longer being observed by @opoplawski

[2021-03-29 19:00] hppritcha commented on #5643
closing as won't fix for 4.0.x and older releases.  If this issue isn't resolved using 4.1.x or newer please reopn.

[2021-03-29 19:00] #5643 closed

[2021-03-29 20:12] gpaulsen opened #8730 "Please cherry-pick #8607 to v5.0.x"
Please cherry-pick PR #8607 to v5.0.x

[2021-03-29 20:26] awlauria opened #8732 "Please cherry-pick #8662 to v5.0.x"
https://github.com/open-mpi/ompi/pull/8662

[2021-03-29 20:27] gpaulsen opened #8733 "Please cherry-pick #8715 to v5.0.x"
#8715

[2021-03-29 20:32] awlauria opened #8734 "Please cherry-pick #8547 to v5.0.x"
#8547

[2021-03-29 21:49] dmitry-kabanov commented on #8531
@hppritcha I run `mpirun` from terminal (precisely, under tmux) using the following command:

    mpirun -n 4 python -m mpi4py.futures run-with-different-learning-rates.py

which is a python script that does not explicitly invoke any other `mpirun`s.

[2021-03-29 21:54] rhc54 commented on #8531
There is a known problem on Mac ever since they moved user tmp directories to an absurdly long pathname. Try adding a "tmp" directory under your home, and then export TMPDIR to point there.

On Mar 29, 2021, at 2:50 PM, Dmitry Kabanov ***@***.*** ***@***.***> > wrote:

@hppritcha I run mpirun from terminal (precisely, under tmux) using the following command:

mpirun -n 4 python -m mpi4py.futures r

[2021-03-30 03:05] bwbarrett commented on #8724
wow, this is old voodoo.  And more broken static component issues :).  I can replicate this on my Mac.  It's an issue whenever linking static (or specifying openmpi:linkall).

Core issue is that we never expected a component's configure.m4 to set `<framework>_<component>_LIBS` to include a .la file.  If a component does not set `<framework>_<component>_WRAPPER_EXTRA_LIBS` and is building as part o

[2021-03-30 03:07] bwbarrett commented on #8724
While trying to figure this code out, I noticed an error in `MCA_PROCESS_COMPONENT`.  There is an asymmetry in how we deal with the LDFLAGS and LIBS if the component name is known at autogen time vs. configure time (which is esoteric drop in configure-based modules stuff no one does).  The code starting on line 823 could be written significantly better, but at least needs to check if the wrapper f

[2021-03-30 04:45] AboorvaDevarajan commented on #8734
@awlauria Austen, this is already cherry-pick'ed, https://github.com/open-mpi/ompi/pull/8592.

[2021-03-30 05:44] dalcinl commented on #6777
@hppritcha I believe the issues are not fully resolved yet.
I'm running Fedora 33, with openmpi-4.0.5-1.fc33.x86_64.
The following test run is with mpi4py/master.

[code]

[2021-03-30 07:28] yosefe commented on #6777
seems MPI is trying to use 1 byte and 2 byte atomics, which is not supported by UCX

[2021-03-30 07:30] hoopoepg commented on #6777
and 16 byte datatypes

[2021-03-30 07:34] dalcinl commented on #6777
Yes, I have a test that loops over datatypes and performs CompareAndSwap and FetchAndOp. Isn't that a reasonable test? IMHO, If an MPI implementation cannot support the operation for some datatypes, it should barf with an error.

[2021-03-30 07:36] yosefe commented on #6777
datatype=16 is 2-byte contig

[2021-03-30 07:37] dalcinl commented on #6777
And datatype=128 is 16-byte contig, right?

[2021-03-30 07:39] yosefe commented on #6777
right
osc/ucx should fallback to active messages if datatype is not 4/8 bytes

[2021-03-30 08:09] AboorvaDevarajan opened #8736 "OMPI build fails when cuda is enabled"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
`ompi - master`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
`git clone`

### If you are building/installing from a git clone, please copy-n-paste the output from `

[2021-03-30 09:52] kloczek opened #8738 "4.1.0:: build fails with autoconf 2.71"
Here is full build log;
[code]

[2021-03-30 12:01] awlauria commented on #8734
Ah, thanks @AboorvaDevarajan . Missed that one. Closing.

[2021-03-30 12:01] #8734 closed

[2021-03-30 13:21] zerothi opened #8739 "MPI_Win_detach not allowed to be called with `MPI_Win_create_dynamic`?"
## Background information

I was playing around with RMA and toyed with dynamic windows. Hit a possible bug, found an example online, and this issues the same error.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.0.4 (release from github)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, fro

[2021-03-30 13:53] devreal commented on #8739
I took the second example and ran it on my local system under Open MPI 4.0.4 and UCX 1.9.0 but I don't see the error you reported. Can you provide more details on how you run them?

[2021-03-30 13:56] zerothi commented on #8739
[code]

[2021-03-30 13:59] devreal commented on #8739
All looks correct so far, it shouldn't fail. I see you built Open MPI against UCX, can you try to run again with the UCX osc disabled by passing `--mca osc ^ucx` to mpirun?

[2021-03-30 15:05] hppritcha commented on #6501
fixed in the 5.0.x release stream.  no plan to back port fix to 4.1.x and older.

[2021-03-30 15:05] #6501 closed

[2021-03-30 15:11] jsquyres commented on #8106
FYI: @open-mpi/ucx this is apparently still an issue.

[2021-03-30 15:20] jjhursey commented on #8718
@gpaulsen or @markalle Do you have a feel for the question from above:

[2021-03-30 15:21] hoopoepg commented on #8106
yes, working over this issue

[2021-03-30 15:30] jsquyres commented on #6987
@open-mpi/ucx This came up again on the call today.  Can someone please have a look?

[2021-03-30 16:22] bwbarrett commented on #8738
Than you for the bug report.  We are aware that Open MPI branches / releases prior to 5.0.x do not work with Autoconf 2.71.  We currently have no plans to fix this issue; it would be a fairly intensive backport with little identifiable upside.  Release and nightly tarballs are always made with a specific version set of the autotools in each branch, and we do not anticipate changing that.  We are a

[2021-03-30 16:22] #8738 closed

[2021-03-30 16:39] artpol84 commented on #8548
I forgot that in Slurm we are using a dlopen to load PMIx so the PMIx build used in Slurm is unfortunately not reflected in the corresponding ldd. Do you have Slurm configuration line handy?

But what I see is that you are using OMPI's internal PMIx (mca_pmix_pmix3x.so) while we usually recommend building OMPI --with-pmix=<Slurm's-PMIx-path>. While PMIx should have backwards compatibility features

[2021-03-30 18:53] kloczek commented on #8738
If issue is not resolved I would suggest to keep that ticket opened.

[2021-03-30 20:09] hppritcha commented on #8531
@dmitry-kabanov can you try @rhc54 suggestion about setting TMPDIR?

[2021-03-30 21:31] jsquyres commented on #8738
@kloczek I think what @bwbarrett is saying is that we don't plan to fix this in the v4.1.x series, unless there's a use case that we're unaware of.

Specifically:

* we ship Open MPI tarballs such that end users don't need to run the GNU Autotools.  So it shouldn't be a problem for most users who download/install v4.1.x.
* we have fixed this on master and the upcoming v5.0 series branch (v5.0.x).

[2021-03-30 21:56] kloczek commented on #8738
As you are shiping dist tar balls with old and broken libtool it is the problem when someone will try to use LTO. As well if someone woild want to spend some time on development with autoconf 2.71 in they devel env ehen it will be necessary to change sometbing in ac/am files it will the problem.
Proper ac 2.7x changes are backward compatible with older autoconf so there is no actual reason to hold

[2021-03-31 02:58] oleotiger opened #8743 "App run failed with openmpi-master"
## Background information
I wanna use `--cpu-set` options of mpirun and it only works in newer version such as v5.0.x and master. But I have got errors when compiling openmpi.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
openmpi master branch
head : commit 05693a877b1fb88d5d747aebd4cc96f97ea63cae

### Describe how Open MPI was installed (e.g.,

[2021-03-31 06:36] zerothi commented on #8739
Sorry for the late return.
`mpicc -o a.out test.c && mpirun -np 2  ./a.out`:
[code]
and
`mpicc -o a.out test.c && mpirun -np 2  --mca oca ^ucx ./a.out`:
[code]
same thing :(

[2021-03-31 07:13] zerothi commented on #8680
Done, closing this issue since it is now tracked in a PR.

[2021-03-31 07:13] #8680 closed

[2021-03-31 07:24] devreal commented on #8739
@zerothi Can you please double check that the command line you used is correct:

[code]

vs

[code]

Note that the MCA parameter is `osc`, not `oca`. If the result is the same, please try the other way around, forcing the UCX osc component by passing `--mca osc ucx`.

[2021-03-31 07:32] zerothi commented on #8739
Hmm, thats embarrassing ;)
`mpicc -o a.out test.c && mpirun -np 2  --mca osc ^ucx ./a.out`:
[code]
And with
`mpicc -o a.out test.c && mpirun -np 2  --mca osc ucx ./a.out` all works correct!

[2021-03-31 11:05] hoopoepg commented on #6987
@janjust will you have chance to look at this issue?

[2021-03-31 14:10] janjust commented on #6987
Yes.
FWIW I thought this this stale PR #8212 is addressing this issue and several other osc issues; however, it's gone stale.
I'll rebase it, and see if it fixes it.

[2021-03-31 15:30] hjelmn commented on #6987
@janjust Please do. This bug has been open for far too long. If it can't be addressed the component should be deprioritized below osc/rdma.

[2021-03-31 20:07] devreal commented on #8739
OK, after rebuilding 4.0.4 without the `--enable-debug` flag I can reproduce the issue. Unfortunately, the verbose output from the OSC components is not very helpful then:

[code]

@hjelmn any idea what could go wrong here?

[2021-03-31 20:12] hjelmn commented on #8739
There was an issue long since fixed on master. Thought is was in v4.0.x and v4.1.x?

[2021-03-31 20:16] hjelmn commented on #8739
Close this. Fixed in 4.0.5 last year :)

[2021-03-31 20:25] devreal commented on #8739
@zerothi Can you please give 4.0.5 a try?

[2021-03-31 20:26] hjelmn commented on #8739
For completeness: 4.0.4 was cut June 10, 2020. The bug was fixed on June 22, 2020. 4.0.5 was cut on Aug 26, 2020.

[2021-03-31 20:41] awlauria commented on #8743
@oleotiger can you pull the latest master? I was unable to reproduce the segv at 92389c364df669822bb6d72de616c8ccf95b891c

[2021-03-31 20:48] awlauria opened #8746 "Please cherry-pick #8722 to v5.0.x"
https://github.com/open-mpi/ompi/pull/8722

[2021-03-31 21:02] awlauria commented on #2966
Closing this, haven't seen an mtt make-check failure recently. Will re-open if it pops up again.

[2021-03-31 21:02] #2966 closed

[2021-03-31 21:04] awlauria commented on #18
Openib btl is gone...Closing.

[2021-03-31 21:04] #18 closed, assigned to ompiteam

[2021-03-31 21:06] awlauria commented on #40
Openib btl is gone...Closing.

[2021-03-31 21:06] #40 closed

[2021-03-31 21:07] awlauria commented on #37
openib btl is gone..Closing.

[2021-03-31 21:07] #37 closed

[2021-03-31 21:07] awlauria commented on #16
openib btl is gone..Closing.

[2021-03-31 21:07] #16 closed

[2021-03-31 21:09] #31 closed

[2021-03-31 21:09] awlauria commented on #43
Openib btl is removed. Closing.

[2021-03-31 21:09] #43 closed

[2021-03-31 21:10] awlauria commented on #62
Openib btl is removed. Closing.

[2021-03-31 21:10] #62 closed

[2021-03-31 21:11] awlauria commented on #65
Openib btl is removed. Closing.

[2021-03-31 21:11] #65 closed

[2021-03-31 21:11] awlauria commented on #165
Openib btl is removed. Closing.

[2021-03-31 21:11] #165 closed

[2021-03-31 21:11] awlauria commented on #149
Openib btl is removed. Closing.

[2021-03-31 21:11] #149 closed

[2021-03-31 21:13] awlauria commented on #166
Openib btl is removed. Closing.

[2021-03-31 21:13] #166 closed

[2021-03-31 21:13] awlauria commented on #372
Openib btl is removed. Closing.

[2021-03-31 21:13] #372 closed

[2021-03-31 21:13] awlauria commented on #491
Openib btl is removed. Closing.

[2021-03-31 21:13] #491 closed

[2021-03-31 21:15] awlauria commented on #2486
Openib btl is removed. Closing.

[2021-03-31 21:15] #2486 closed

[2021-03-31 21:15] awlauria commented on #2853
Openib btl is removed. Closing.

[2021-03-31 21:15] #2853 closed

[2021-03-31 21:18] awlauria commented on #4529
Openib btl is removed. Closing.

[2021-03-31 21:18] #4529 closed

[2021-03-31 21:23] awlauria commented on #8102
Is there any progress on this issue?

[2021-03-31 21:50] awlauria commented on #8687
@cniethammer can this be closed?

[2021-04-01 03:05] seraphzl opened #8750 "Build failure with gcc-10.2.0"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
openmpi-4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from a source tarball openmpi-4.1.0.tar.bz2
./configur

[2021-04-01 04:29] hjelmn commented on #8750
Are you sure that you are using the same compiler for configure as the build? configure will check if a flag is needed for C99 mode. No flag is needed for gcc 10. If the compiler used by make is an older version of gcc (4.x) it does require a flag and will error out in this exact way when compiling C99 code.

[2021-04-01 05:50] seraphzl commented on #8750
@hjelmn You are correct! I forgot to change the PATH where gcc-10.3.0 would be when make all install. Thank you.

[2021-04-01 05:50] #8750 closed

[2021-04-01 13:11] #8730 closed

[2021-04-01 13:20] #8687 closed

[2021-04-01 13:21] awlauria commented on #8656
Looks the same as #8736

[2021-04-01 13:21] awlauria commented on #8736
Thanks @AboorvaDevarajan . Closing as a dup of #8656.

[2021-04-01 13:21] #8736 closed

[2021-04-01 13:22] awlauria commented on #8651
@hppritcha can this be closed?

[2021-04-01 14:09] bwbarrett opened #8752 "Stop using Perl Smartmatch in autogen.pl"
The `--disable-3rdparty` flag in autogen.pl uses Perl's smartmatch feature to quickly search the list of packages that should be disabled.  Perl retroactively marked this as experimental in Perl 5.18 (http://blogs.perl.org/users/mike_b/2013/06/a-little-nicer-way-to-use-smartmatch-on-perl-518.html).  While we can work around the warnings, we should probably just stop using smartmatch at all.

[2021-04-01 15:32] cayrols opened #8754 "One-sided bandwidth drop of performance for non-align data"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

I am using the very recent pull of the master branch as shown below.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.

[2021-04-01 17:40] hppritcha commented on #8651
no needs to be PRd over to 5.0.x first on my todo list for today.

[2021-04-01 17:40] #8651 closed

[2021-04-01 18:01] hoopoepg commented on #8106
hi @hoba87

thank you for bug report!!!
I tried to reproduce this issue using default CentOS 8 environment but without success.

as I can see you used non-default PMIX library, what is configure string for PMIX?
what else non-default dependencies were used?
could you also check is issue is actual for later OMPI? 4.1 and 5.0

thank you again

[2021-04-01 18:24] #8724 closed

[2021-04-01 19:41] awlauria commented on #8651
@hppritcha I actually already brought it over to v5.0.x here:

https://github.com/open-mpi/ompi/commit/939129fc1ba805fdf2f90742f88244f609690e4b
https://github.com/open-mpi/ompi/pull/8714

[2021-04-01 20:00] awlauria commented on #133
Tested [fetchandadd_tree.c](https://gitlab.inria.fr/simgrid/simgrid/-/blob/bff48880e34a54e84035e9bedcfcaf458bcefb19/teshsuite/smpi/mpich3-test/rma/fetchandadd_tree.c) with current master, no errors using self,sm. Closing.

[2021-04-01 20:00] #133 closed

[2021-04-01 20:05] awlauria commented on #130
Unfortunately the attached test is no longer accessible, so I can't directly verify. But I do not believe this is an issue on modern ompi releases.

[2021-04-01 20:05] #130 closed

[2021-04-01 21:02] rhc54 opened #8757 "mpirun-launched apps "hang" in init when configured with external 3rd party libs"
Configured OMPI with external 3rd-party libs using:
[code]
The external PMIx and PRRTE repos were each built against the same libevent and hwloc repos used in this OMPI configure. The libevent build used was also at v2.1.12, matching OMPI's internal version. All built just fine. However, when I tried a simple one-node example:
[code]
the job hung in PMIx_Init waiting for mpirun to respond to a req

[2021-04-01 21:50] awlauria commented on #8677
I addressed this in #8756 for osc/rdma.

The sync type wasn't being set, causing the SYNC error.
Also there was a couple issues freeing an empty group, the attached basic test runs clean for me now.

[code]

[2021-04-02 04:20] oleotiger commented on #8743
I pulled and recompile the newest master branch.

Again, there is no error and compiling is finished correctly.

[code]

But there is still segmentation fault.

[2021-04-02 09:23] hoopoepg commented on #8106
and what compiler was used? default from OS?

[2021-04-02 12:49] awlauria commented on #8743
Thanks @oleotiger, we'll take another look.

[2021-04-02 12:56] rhc54 commented on #8743
I have the segfault fixed - just need to update OMPI. Cannot speak to the rest. Key is that @oleotiger is running as _root_ and not a regular user.

[2021-04-02 13:59] gpaulsen commented on #7937
This is a blocker for v5.0.0 release.  Can anyone please assign themselves so we know someone is working on this?

[2021-04-02 14:49] rhc54 commented on #7937
Done - pretty trivial, as noted above.

[2021-04-02 18:41] hppritcha commented on #8106
i was using gcc 9 or something like that.  the problematic thing is the --with-ompi-pmix-rte configure option.  if you don't use this you won't see the problem.

[2021-04-02 19:19] rhc54 commented on #8106
Yes - that option turns off the building of ORTE, and so anything that depends on ORTE will break.

[2021-04-03 11:48] #7937 closed

[2021-04-03 11:49] gpaulsen commented on #7937
thanks!

[2021-04-03 20:53] hppritcha commented on #7864
@zhucaoxiang is this still a problem?

[2021-04-04 02:55] zhucaoxiang commented on #7864
@hppritcha I haven't followed this issue. I moved away and began to use the code on my Linux cluster. You can either close this ticket or keep it as a reference. Thanks!

[2021-04-05 13:43] acgoldma opened #8762 "Performance impact when running psm2 through ofi mtl versus psm2 mtl"
Thank you for taking the time to submit an issue!

## Background information
While testing psm3 cuda support with Open-MPI I have compared performance of psm2 to track as a pseudo baseline. PSM3 is an fully OFI provider and does not have a separate API like psm2. So, when comparing the 2 I noticed the psm2 was showing a massive difference in latency (osu_latency) between ofi mtl and psm2 mtl, when

[2021-04-05 13:47] mathrack opened #8763 "[Fortran] MPI_Ialltoallw fails when using commited MPI datatypes"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Compiled from source (https://www.open-mpi.org/software/omp

[2021-04-05 13:49] acgoldma commented on #8762
Adding @mwheinz to see this as it will impact PSM2 (obviously :P )

[2021-04-05 13:55] mwheinz commented on #8762
So this disables CUDA initialization for all OFI providers, not just PSM3 and PSM2, correct? Do you know how this might interact with OFI's HMEM interfaces?

[2021-04-05 14:03] acgoldma commented on #8762
Yes, I am not sure, I know that FI_HMEM support appears to be added in 5.x (master), but I am not sure if they rely on this feature in openmpi or not. I also know that there is some code differences in the master branch, which I have not had time to check yet. I plan to do some testing with it, but figured I would open this to see if anyone had an answer before I went down that route.

[2021-04-05 14:09] gpaulsen commented on #8566
Can we now close this?  for master/v5.0x?

[2021-04-05 14:10] ggouaillardet commented on #8763
In a nutshell, in `ompi/mpi/fortran/mpif-h/ialltoallw_f.c`:

[code]

`c_recvtype` (and other variables such as `c_sendtypes` and even more if `INTEGER` is larger than `int`) is a temporary array allocated by the `mpif-h` layer, that is passed to `PMPI_Ialltoallw()`
This is currently deallocated when `PMPI_Ialltoallw()` returns but this is wrong: it can only be deallocated when the request complete

[2021-04-05 14:26] gpaulsen commented on #7668
What's the status of this documentation now?

How much more docs do we need to do before rc1?

[2021-04-05 15:11] mwheinz opened #8764 "OMPI master & 5.0.x branches fail to compile when CUDA is enabled."
Working from the master branch and/or the 5.0.x branch, I get duplicate symbol problems when compiling OMPI with CUDA enabled.

Configuration options:
[code]

[2021-04-05 15:12] awlauria commented on #8764
Thanks - this is already an open issue here:
vhttps://github.com/open-mpi/ompi/issues/8656

[2021-04-05 15:15] awlauria commented on #8656
@mwheinz also reported this is an issue on v5.0.x, not just master.

[2021-04-05 15:16] mwheinz commented on #8764
That does not appear to be the same issue - kind of the opposite. #8656 indicates that CUDA symbols aren't defined - this issue shows them being defined multiple times.

[2021-04-05 15:17] acgoldma commented on #8656
I am also seeing this issue as well and is blocking my testing of #8762 against newer code (master and 5.0.x).

[2021-04-05 15:18] acgoldma commented on #8764
I am also seeing this issue as well and is blocking my testing of #8762 against newer code (master and 5.0.x).

[2021-04-05 15:20] awlauria commented on #8764
Right, it's a different signature. May be the same root cause though. https://github.com/open-mpi/ompi/issues/8736 reported the same signature.

[2021-04-05 15:38] mwheinz commented on #8764
Yes, I suspect that's likely.

[2021-04-05 15:49] #7864 closed

[2021-04-05 16:18] rajachan commented on #8762
The FI_HMEM work in the OFI MTL does  functionally depend on the CUDA converter check under a build with CUDA support and we should NOT opt the MTL out of it. This is how OMPI determines if a virtual address is backed by a GPU or not and sets the MR iface attributes in fi_mr_regattr() accordingly. We know this is an expensive check, but there's no way around it, unless each libfabric provider does

[2021-04-05 16:20] hppritcha commented on #5266
@twhitehead is this still an issue?

[2021-04-05 16:21] hppritcha commented on #5949
removing v4.0.x label as this definitely will not be addressed in that release.

[2021-04-05 16:21] hppritcha commented on #6728
removing old target labels as this issue will not be addressed in those releases.

[2021-04-05 16:24] hppritcha commented on #7384
@naughtont3 could you check if this is still a problem master and release branches?

[2021-04-05 16:24] ke7kto commented on #7701
I have this issue when connected via xrdp. `mpirun --mca plm_rsh_args -x ` seems to have no effect. Please re-open.

[2021-04-05 16:30] wzamazon opened #8765 "Intel MPI benchmark test reduce_scatter/reduce_scatter_block/gather fail (out of memory)"
Thank you for taking the time to submit an issue!

## Background information

IMB test reduce_scatter/reduce_scattter_block/gather fail because out of memory.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distrib

[2021-04-05 16:40] wzamazon commented on #8765
I did some debugging and found that the default algorithm of reduce_scatter/reduce_scatter_block/gather are using memory.

In my test, the community size is 1152, and message size is 2MB.

In this case, reduce_scatter is using the butterfly algorithm, which will allocate `2 * number_mpi_ranks * message_size` of memory for each process. This combined with the fact there are 36 MPI ranks on each nod

[2021-04-05 16:54] wckzhang commented on #8762
Yeah, in order to communicate to the provider that a buffer is a gpu buffer, we need to have the convertor cuda code active to do pointer detection in the function mca_common_cuda_is_gpu_buffer. This has to happen at some point, I'd imagine that the psm3 provider does this detection again underneath. The pointer detection costs pretty much nothing for host buffers, so that explains why the H-H has

[2021-04-05 16:59] rajachan commented on #8762
I meant to say PSM2, not PSM3. Can you blame me?

[2021-04-05 17:34] jsquyres commented on #8762
@acgoldma This is exactly the type of confusion that the name "PSM3" induces.  🤯

[2021-04-05 17:36] jsquyres commented on #8764
NVIDIA -- please have a look.

[2021-04-05 17:42] Akshay-Venkatesh commented on #8764
@jsquyres @awlauria We haven't touched `common_cuda` component in a long time. Have there been changes in common infrastructure on `master` recently?

[2021-04-05 17:52] acgoldma commented on #8762
`FI_HMEM` is a 'newer' feature (v1.9 OFI and OMPI 5.x) and we are looking into it and will most likely support it. However, that does not really solve libfabric support from before OFI v1.9 and before OMPI v5.x.

I took a quick skim of the OFI MTL code and it appears to error out if someone request cuda but is using an older libfabric or a provider that does not have `FI_HMEM`. This seems to chang

[2021-04-05 18:02] jsquyres commented on #8764
@Akshay-Venkatesh Yes, there have been infrastructure changes recently.  It would probably be best to try to compile again and see if you run into the same failures that others are describing.

[2021-04-05 18:07] wckzhang commented on #8762
The problem with the previous behavior with using libfabric without FI_HMEM alongside a cuda compiled OMPI is that we cannot guarantee that the provider selected can even support device buffers, thus I don't believe the previous selection logic can be appropriately used, some providers should break completely even if they were selected. I'm not sure we can support device transfers using a libfabri

[2021-04-05 18:56] Akshay-Venkatesh commented on #8764
@wckzhang Noticed the following changes in common/cuda from you. Just double checking, these commits passed cuda build tests right?

deb37ac03fff566b0ad235734f63213ec0775c72
3a72df023541615720c72d820515cc152658b49f
906017c7cdc903208c4a476f4df3c17aff3a76c0

[2021-04-05 19:10] hppritcha commented on #8252
@naughtont3 ping

[2021-04-05 19:11] hppritcha commented on #8531
closing.  please reopen if TMPDIR workaround doesn't help.

[2021-04-05 19:11] #8531 closed

[2021-04-05 19:20] jsquyres commented on #8682
@dalcinl We have fixed this in master and v5.0.x. Do you have strong feelings about the fix getting back-ported to v4.1.x and v4.0.x?

[2021-04-05 19:24] #7851 closed

[2021-04-05 20:21] dalcinl commented on #8682
Not at all, master and v5.0.x are enough for me.

[2021-04-05 21:14] bwbarrett opened #8766 "mpicxx no longer includes -pthread when required"
With https://github.com/open-mpi/ompi/commit/38e53f331c22e0059552101f5b1513eccd5a56cc, mpicxx/mpic++ no longer includes `-pthread` when needed.  This is causing link errors on one of our internal multi-threaded codes.

[2021-04-05 22:12] wckzhang commented on #8764
It passed CI and I built and ran fine with cuda enabled with device transfers. I'm wondering if this is a clean build, since I moved a lot of code from the cuda datatype file to common_cuda, could be the source of the duplicate symbols. I haven't had a chance to take a look at the missing symbols issue yet though.

[2021-04-05 22:29] jsquyres commented on #8682
Cool; closing this, then.

[2021-04-05 22:29] #8682 closed

[2021-04-05 22:32] jsquyres commented on #8766
Wow... weird.

I'm happy to revert, but I'm not sure how that change affects anything.  All the code that was removed does is set the shell variable `$solaris_use_stlport4`, which isn't used anywhere in OMPI's configure any more.

Was this found via a git bisect that didn't locate the right commit, perchance?

[2021-04-06 08:04] dalcinl opened #8770 "Pack/unpack external broken for long double real and complex datatypes"
Looks like the pack/unpack external operations do not roundtrip for long double (real and complex) datatypes with current ompi@master.

This is my trivial Python reproducer

[code]

Running on my Linux-64 workstation I get the following output (both lines are expected to be the same):
[code]

@jsquyres I understand that supporting external32 for `long double [complex]` is a bit tricky. You probabl

[2021-04-06 09:33] mathrack commented on #8763
Some kind of structure keeping the c_request, c_sendtypes and c_recvtypes would be needed ? The call to mpi_wait or mpi_waitall would the be able to use such a structure to deallocate the arrays at the right time ? It looks like a relatively large modification indeed.

[2021-04-06 09:51] zerothi commented on #8739
Thanks. I can confirm 4.0.5 works! :)

[2021-04-06 09:51] #8739 closed

[2021-04-06 11:26] ggouaillardet commented on #8763
That's right. The trick is these structure are in the Fortran layer, but the real work is performed by `MPI_Ialltoallw()` (written in  `C`). So we would have to get the request returned by the `C` layer, add the pointers to be freed from the Fortran layer ... and because evil is in the detail, do that avoiding any race conditions that would result in a memory leak ...

[2021-04-06 11:40] hoba87 commented on #8106
hi @hoopoepg,
the configure string for PMIX was just `./configure --prefix=...`, so nothing specific besides the install directory here. I used the default compiler, that is gcc 8.3.1.
For openmpi 4.1.0 with the configure and compile strings:
`./configure --prefix=/opt/openmpi/openmpi-4.1.0/ --with-verbs --with-pmix=/opt/pmix/pmix-3.1.5 --with-ompi-pmix-rte > config.log 2> config.err
CPPFLAGS="-I/

[2021-04-06 14:18] devreal opened #8771 "Open MPI's configure complains about OpenPMIx flags"
I've tried to disable curl support in OMPI's internal OpenPMIx (OMPI master @`g583382f574`) and passed `--without-curl` to the top-level configure, which results in a warning that the flag is unknown:

[code]

According to @bwbarrett this should not happen as the top-level configure should be aware of the 3rd party configure flags so I'm opening this for tracking.

[2021-04-06 14:21] bwbarrett commented on #8764
@wckzhang rather than rely on CI (which does not include any images with CUDA pre-installed), please test locally.  Please get @mwheinz's environment, setup a duplicate environment, and test these changes in that environment.  Same with https://github.com/open-mpi/ompi/issues/8656.

George is also reporting that `--without-cuda` is broken on platforms with the CUDA libraries in the default search

[2021-04-06 14:35] dbonner opened #8772 "Unable to build ompi with cuda support since commit e1df5de because of 'multiple definitions'"
Thank you for taking the time to submit an issue!

## Background information
I have been unable to build ompi from source since commit e1df5dea686c3fe9e6153f069a465056935c9c8c (the first commit on 26 March 2021).
I can build successfully from the earlier commit cbcb57096dfc417e329284bfa2008ca77b5f9209

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc

[2021-04-06 14:43] mwheinz commented on #8764
I used a completely clean git clone of origin/master,
[code]

[2021-04-06 14:56] sarats commented on #8442
Great to hear about the progress on this front. Thanks for @bosilca's hard work on this.

If desired, we can run our full application tests with the patch.

[2021-04-06 15:02] hppritcha commented on #6936
We don't plan to implement this in the v4.0.x and older series.

[2021-04-06 15:03] hppritcha commented on #7384
closing.  reopen if this is still a problem.

[2021-04-06 15:03] #7384 closed

[2021-04-06 15:07] devreal opened #8774 "osc/ucx: destroying inuse region when using dynamic windows in OSU benchmark"
I'm running the OSU benchmark with Open MPI 4.0.5 in different configurations and found that UCX throws an error at the end:

[code]

This is with UCX 1.9.0. The allocate and create window configurations work fine.

Note that this is different from #6987 where dynamic windows are broken on master/5.0.x whereas the error described here occurs on dynamic windows.

[2021-04-06 15:17] jjhursey commented on #8771
I cannot seem to reproduce this on my machine. I'm using `master` at ca65630bb8f266aae5ceea4fe1358b09506724f3 and tried with `./configure --without-curl`.

[code]

[2021-04-06 15:24] twhitehead commented on #5266
We no longer have any torque based clusters, so I cannot test this anymore. I would suggest we just close the ticket then. If someone else is still experiencing it, they can open it back up.

[2021-04-06 15:28] bosilca commented on #8772
Duplicate of https://github.com/open-mpi/ompi/issues/8764

[2021-04-06 15:28] #8772 closed

[2021-04-06 15:45] gpaulsen commented on #8770
@markalle You posted a fix for external32, that now needs rebasing.  Might PR https://github.com/open-mpi/ompi/pull/7919 fix this issue?

[2021-04-06 16:05] #5266 closed

[2021-04-06 16:07] hppritcha commented on #8106
@open-mpi/ofi  this looks significant

[2021-04-06 16:43] rajachan commented on #8762
William captured the essence of it. OFI MTL CUDA buffer support in v4.0.x and v4.1.x is... non-existent. We fixed this in master and in v5.0.x with https://github.com/open-mpi/ompi/pull/8536

Opting the MTL out with `MCA_MTL_BASE_FLAG_CUDA_INIT_DISABLE` in the release branches that did not have FI_HMEM checks might be okay (assuming the RMs are fine taking that change) but that still wouldn't mate

[2021-04-06 17:13] jsquyres opened #8776 "(MacOS) mpirun (prte) hangs when running MPI apps on master/v5.0"
On git master at ca65630bb8 on MacOS Big Sur, I get hangs when trying to `mpirun` MPI apps.

[code]

`mpirun`'ing non-MPI apps works fine:

[code]

But launching `hello_c` from the `examples` directory just hangs:

[code]

I can see 2 copies of `hello_c` running, they're both stuck here:

[code]

and `mpirun` is stuck here:

[code]

[2021-04-06 17:17] rhc54 commented on #8776
FWIW: it's running fine for me and on MTT, so I suspect this is something wrong in your installation.

[2021-04-06 17:20] bwbarrett commented on #8776
FWIW, the same thing happens to me.

[2021-04-06 17:41] jsquyres commented on #8776
This was a git-clean'ed clone, and installed into a brand new installation tree.

[2021-04-06 17:53] rhc54 commented on #8776
Well, I just rebuilt and ran it again on my Mac/BigSur, and it runs fine. 🤷‍♂️  Not sure what to tell you.

[2021-04-06 17:58] jsquyres commented on #6936
Would this be a PRTE issue now (and not an Open MPI issue)?

[2021-04-06 18:08] abouteiller opened #8778 "MPI_COMM_SPAWN crash when using INFO argument"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

ca65630b Open MPI master
b11e5385 v5.0.x

## Details of the problem

When running the following example, using INFO objects to control what COMM_SPAWN does, we will crash when issuing `free(tmp)`; that is because tmp has n

[2021-04-06 18:08] abouteiller commented on #8778
pr #8777 addresses the issue in master

[2021-04-06 18:28] wckzhang commented on #8656
I was able to reproduce #8736 with duplicate symbols, looking into it

[2021-04-06 18:35] jsquyres commented on #8776
Here's my original configure line:

[code]

Just in case there's something weird with that, I then tried:

[code]

Same result.  ☹️

[2021-04-06 18:48] rhc54 commented on #8776
Try `--with-platform=contrib/platform/intel/bend/mac` - that is how I always configure, though it shouldn't have much impact on `hello`

[2021-04-06 19:53] jsquyres commented on #8776
Tried:

[code]

Same result.  Now I'm just getting baffled.  ☹️

[2021-04-06 20:05] markalle commented on #8770
Offhand I doubt my 7919 would be related, although if there is a difference between the system `sizeof(long double)` and the `MPI_Type_size(MPI_LONG_DOUBLE,)` then it could be.

I just now ran a similar C program:
https://gist.github.com/markalle/ad7e69f026471e2baa8e842c938d8048
and it was successful, at least on my system where `sizeof(long double)` and `MPI_Type_size(MPI_LONG_DOUBLE,)` were both

[2021-04-06 21:08] wckzhang commented on #8656
This issue appeared sometime after my patch series, doing a bisect to see if I can pin which commit is the cause.

[2021-04-06 22:12] abouteiller opened #8782 "mpiexec -N does not work"
`mpiexec -N x` should restrain the number of processes spawned per node to `x`. It does not.

Defect present in both master and v5.0.x, as it is inherited from PRTE.

[code]

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
master: 470eaca7 (HEAD -> master, origin/master, origin/HEAD) Merge pull request #8777 from aboutei

[2021-04-06 22:28] dbonner commented on #8764
Hi,
I got this issue and created issue https://github.com/open-mpi/ompi/issues/8772 which is a duplicate so it was closed.  Sorry I should have searched better to find the pre-existing issue.
My logs of all output of the build process are available to download at the above address (issue 8772).
Much appreciated for any help with this.
Dan

[2021-04-06 23:25] wzamazon commented on #8765
One solution I can think of is to use an algorithm that uses less message for large message sizes and communicator size.

For reduce_scatter there is an non-overlapping algorithm, which uses much less memory

For reduce_scatter_block, there is the basic_linear algorithm.

For gather, there is also the basic_linear algorithm.

For this solution, we need to decide what kind of memory usage is accept

[2021-04-06 23:27] awlauria commented on #8778
Closing as v5.0.x pr was merged.

[2021-04-06 23:27] #8778 closed

[2021-04-06 23:37] wckzhang commented on #8656
It appears to have started from:

[code]

Not sure I understand it, I'll have to think about it

[2021-04-06 23:42] mwheinz commented on #8764
No worries - we've all been there. Well, I mean, _**I've**_ been there. Thanks for connecting the issues.

[2021-04-06 23:44] bwbarrett commented on #8656
Try compiling with `--enable-mca-static --disable-mca-dso` and I bet the issue was there before that patch :)

[2021-04-06 23:47] wckzhang commented on #8656
I think I have a gist of what happened, I'll try with the static build before that patch.

[2021-04-07 00:21] bosilca commented on #8442
@sarats the patch is ready, please test and let me know the outcome.

[2021-04-07 01:32] sarats commented on #8442
@bosilca To clarify, we just get the latest open-mpi:master for testing? From the above comment, I thought we had to wait for something else.

[2021-04-07 02:21] jjhursey commented on #6936
AFAIK PRRTE already uses zlib (where available) to compress this information. If zlib is not available then it is sent in an uncompressed form. There is no custom regex parser any longer.

[2021-04-07 02:21] #6936 closed

[2021-04-07 03:22] bosilca commented on #8442
@sarats the PR is not yet merged, so the master is not enough. You need to test #8769.

[2021-04-07 03:46] bosilca commented on #8770
With the current master plus PR #8769 both the C and python code give the correct result on x86_64 and ARM (M1).

[2021-04-07 06:45] devreal commented on #8771
@jjhursey Thanks for checking! Is it possible to find the list of slurped in 3rd party configure options? I see the warning on two different systems and would like to understand why. Unfortunately, I am not at all familiar with OMPI's build system...

[2021-04-07 07:49] mathrack commented on #8763
Any chance that we could fix this in the mpi_f08 fortran / C interface to exchange mpi_comm, mpi_datatype and mpi_request directly ?

Currently, when using the mpi_f08 fortran / C interface, the mpi_comm, mpi_datatype and mpi_request are converted to integer arrays using xxx%MPI_VAL.

I have read somewhere that they are bind(C) so we could exchange them directly through pointers ?

[2021-04-07 07:55] cniethammer commented on #8771
@devreal you can check the corresponding config.log in the 3rd-party directories. For me the `--without-curl` is passed correctly to the submodule configures. But maybe there are side effects from other options? Could you paste the full configure line.

[2021-04-07 08:12] devreal commented on #8771
The flags are passed to the 3rd party packages correctly. The reason I opened this issue is because of the warning at the very beginning of the top-level configure invocation:

[code]

My understanding is that this warning should not occur since the top-level configure is supposed to be aware of the 3rd party package options.

[2021-04-07 08:20] ggouaillardet commented on #8763
That is a good point!

That would not address the general `INTEGER` to/from `int` when a Fortran `INTEGER` is 8 bytes, but this is not an issue in this case.

In its current implementation, most `mpi_f08` bindings invoke (oversimplified) a `mpif-h` binding, but it does not have to be this way.

@jsquyres do you remember why we chose to implement `type(MPI_Datatype)` and friends with an `integer ::

[2021-04-07 13:48] devreal commented on #8782
I'm seeing the same behavior on our cluster with a similar submodule configuration: the -N flag seems to be ignored entirely.

[2021-04-07 13:50] jsquyres commented on #8776
Hmm.  I guess I do have libevent and hwloc in `/usr/local` from Homebrew.  Definitely using internal pmix and prrte, though.

Ah yes, here's the output at the end of Open MPI's `configure`:

[code]

[2021-04-07 13:57] rhc54 commented on #8776
I'll bet that's the breakage - try forcing use of internal

[2021-04-07 13:58] awlauria opened #8786 "v5.0.x/master: Nightly tarball builds fail due to missing file"
It seems that that ompi nightly tarball is missing the following file:

[code]

That should be located in:
`3rd-party/openpmix/src/atomics/sys`

This was reproduced with the most recent master and v5.0.x tarballs. Not sure if this is the right spot for this issue, it could be an issue in the openpmix repo.

In any case this is causing some mtt build failures with xl compilers, since it needs that

[2021-04-07 13:59] jjhursey commented on #8771
@devreal `autogen.pl` will create a `config/auto-extracted-pmix-configure-args.m4` and a `config/auto-extracted-prrte-configure-args.m4` for the configure options extracted from OpenPMIx and PRRTE, respectively. There are comments in the files on where each extracted configure option was found.

These autogenerated files are included into the top level configure in `config/opal_config_pmix.m4` and

[2021-04-07 14:01] jsquyres commented on #8442
One more point: once we verify that the fix that went into master (#8735) plus #8769 fixes the actual issue, then we'll generate backports for the relevant release branches.

[2021-04-07 14:03] bwbarrett commented on #8786
Why is this an OMPI issues, when the problem is in openpmix?

[2021-04-07 14:25] jsquyres commented on #8776
Frack -- forcing the use of `internal` fixed it:

[code]

[2021-04-07 14:35] rhc54 commented on #8776
Yeah, that's consistent with my observation. Including _any_ of those 3rd-party libs as external causes the hang.

[2021-04-07 14:36] abouteiller commented on #8782
The corresponding expected underlying behavior with `--map-by ppr:X:node` works as intended. So it is just a matter of linking the two together again.

[2021-04-07 14:42] loveshack commented on #8252
I thought I'd asked before, but apparently not:  What's meant to have
changed so that it wouldn't still be a problem?

Can't someone from Nvidia (assuming this is down to UCX) not just run
tests, like the MPICH rma ones, on one of these systems and fix the
failures, or is POWER9 basically abandoned?

Anyway, we have to convert to mvapich.

[2021-04-07 14:50] jjhursey commented on #8786
It looks like that file is present in openpmix:
 * master: https://github.com/openpmix/openpmix/tree/master/src/atomics/sys
 * v4.0: https://github.com/openpmix/openpmix/tree/v4.0/src/atomics/sys

So maybe this is something in how OMPI is generating their tarball?

[2021-04-07 14:54] bwbarrett commented on #8786
@jjhursey I moved that file recently as part of the great atomics cleanup of 2021...  Austin is saying that the file doesn't end up in a dist tarball, which is probably just me being stupid.  It's on my todo list to look into this week.

My maybe too snarky comment above, though, was that we need to get better at filling issues in PMIx/PRRTE (as well as OMPI, and hopefully cross-referencing), so t

[2021-04-07 15:12] rajachan commented on #8782
The simplification of the schizo framework in PMIx https://github.com/openpmix/prrte/pull/819 changed behaviors here. This PR caught a bunch of missing remaps: https://github.com/openpmix/prrte/pull/891, looks like -N did not make it in.  Linking this issue to https://github.com/openpmix/prrte/issues/709 so we don't lose track of it.

[2021-04-07 15:13] gpaulsen commented on #8776
@rhc54 Do you know if it's configuring it as an internal component what fixes it, or is it the version of the library is different and that's what fixes it?

[2021-04-07 15:22] rhc54 commented on #8776
Strictly internal vs external - I checked with the identical versions and it still hung.

[2021-04-07 15:31] devreal commented on #8771
Thanks, I see most flags being ignored:

[code]
Other ignored flags are `hwloc` and `libevent`.

Any idea why these are excluded?

[2021-04-07 15:44] devreal commented on #8252
@loveshack

I'm surprised to see `ompi_osc_rdma_lock_atomic` here since you are using UCX, as far as I understand. This function belongs to another one-sided component in Open MPI that is separate from the UCX component. You can force using the UCX component by passing `--mca osc ucx` to mpirun. Not sure why the rdma component would be selected in the first place...

[2021-04-07 16:16] jjhursey commented on #8771
My local copy has this instead:
[code]

A couple of things to check on your build:
 * In your `autogen.pl` output are there any warnings around the `=== PMIx` lines of output? That is where the extract script is activated.
 * Look at `config/auto-generated-ompi-exclude.ini` to see if somehow the curl options were added to the OMPI exclude list. It will be on a line like
[code]
 * Add debugging to

[2021-04-07 17:36] simonbyrne commented on #7308
We are still seeing it, as there are some users on the cluster who use Open MPI v3 which leaves the files around, and these cause conflicts with v4.0.5. One solution as I mentioned above would be to add the users uid to the filename.

[2021-04-07 22:29] jsquyres commented on #8782
Just for linkage: looks like https://github.com/openpmix/prrte/pull/914 will fix the issue (whenever that gets synced over here to the OMPI repo).

[2021-04-07 22:41] rhc54 commented on #8782
probably tomorrow or Fri, unless someone needs it sooner (I just updated this late afternoon)

[2021-04-08 01:43] wckzhang commented on #8656
So I reverted my moving of the opal_datatype_cuda -> common_cuda and it compiled fine, I'm pretty sure this segment of code is at fault since it compiled without it, not sure why I added it in the first place:

[code]

[2021-04-08 01:55] hjelmn commented on #8252
@devreal osc/rdma it's more stable and performant than osc/ucx. It can be used with btl/uct so not completely surprising that someone is using it. I would take a look but I no longer have access to any IB systems.

Would it be possible to pay a backtrace?

[2021-04-08 02:39] wckzhang commented on #8656
This is probably a different issue from #8736 not sure why they were called out as duplicate issues. I don't think they'll be fixed from the same patch, but it's worth a try, @dbonner can you see if this issue still occurs with https://github.com/open-mpi/ompi/pull/8788 ?

[2021-04-08 15:24] dbonner commented on #8656
Thanks for working on this @wckzhang
I believe that https://github.com/open-mpi/ompi/pull/8788 does fix the problem with my machine/setup.
I build ompi successfully with the following steps:
[code]
The first time I built ompi from the above, I noticed that libraries from a previous build were left behind (including libmca*), so I erased existing libraries with this process:
[code]
Then I built omp

[2021-04-08 16:20] rajachan commented on #8656
Github PR hack for future reference :)When testing PRs, you can replace this:

[code]

with this from within a clone of the OMPI repo:

[code]

[2021-04-08 18:01] jayeshkrishna commented on #8442
I was trying to test the fix (master + PR #8769, OpenMPI info for my build : https://gist.github.com/jayeshkrishna/d6158a7fa7f9b8add9d3c158ce22a9e0) and see the following warnings when I run simple MPI tests,
[code]
The ucx_info (-v) command shows,
[code]
I also noticed that while configuring OpenMPI, I see the following in the configure output,
[code]
Any ideas on how to debug this warning?

[2021-04-08 18:09] hoopoepg commented on #8442
You may build UCX from GitHub master branch and use it in ompi build

[2021-04-08 18:12] BiplabRaut commented on #8603
Dear Gilles,
                 I tried the inline patch as discussed in https://github.com/open-mpi/ompi/pull/8622#issuecomment-800776864 .

This has fixed the regression completely for the remaining test cases in FFTW MPI in-built test bench - which was persisting even after using the git patch https://patch-diff.githubusercontent.com/raw/open-mpi/ompi/pull/8623.patch as merged by you.
So, it seem

[2021-04-08 18:12] jsquyres commented on #7660
Just to close the loop on this: got confirmation from the folks at WFU -- the issue seems to be fixed; huzzah!

[2021-04-08 20:30] bwbarrett commented on #8776
I'm almost positive it is a libevent problem, not an hwloc problem.  External hwloc appears to not cause hangs, but external libevent does.  One thing I noticed is that the libevent libraries we link to are different.

Internal (works):
[code]

external (borked):
[code]

Notice the extra libevent_core inclusion.  Need to dig into that more.

[2021-04-09 02:40] bwbarrett commented on #8776
I've confirmed the issue is that PMIx includes libevent_core.dylib and OMPI includes libevent.dylib.  The two declare many of the same symbols directly (libevent.dylib does not depend on libevent_core.dylib) and this screws up initialization.  We need one of the two packages to switch so that both use the same libraries.

[2021-04-09 04:19] dbonner commented on #8656
Thanks @rajachan the method you posted for testing PRs is much easier than what I did.  Definitely will use the method you posted next time :)

[2021-04-09 18:15] jsquyres commented on #8656
You can also use https://hub.github.com/ -- I use it all the time to check out PRs.  It does all the magic git commands you need behind the scenes.  E.g.:

[code]

[2021-04-09 18:45] hppritcha commented on #6799
This isn't going to be addressed in the v4.0.x release stream so removing the v4.0.x lable

[2021-04-09 18:47] gpaulsen commented on #6858
I think has been resolved on all release branches.  Closing.

[2021-04-09 18:47] #6858 closed

[2021-04-09 18:54] gpaulsen commented on #6941
@open-mpi/ucx ?

[2021-04-09 20:04] janjust commented on #6941
@gpaulsen I'm actively working on a set of osc/ucx issues, this one included.
The thread safety tests in #7813 are passing with PR #8212 ; however, I still have a few issues to commit to that PR.

[2021-04-10 09:11] dbonner commented on #8656
Thanks @jsquyres .  I'll give 'hub' a try :)

[2021-04-12 08:42] brminich commented on #8774
@janjust can you please take a look?

[2021-04-12 08:43] oleotiger commented on #8743
I pulled again and compiled openmpi of  latest version. It works.  Thank you .

[2021-04-12 13:01] devreal opened #8801 "mpirun prepends its libraries path to LD_LIBRARY_PATH"
I have been surprised to see that Open MPI master prepends the path to the installation's libraries to `LD_LIBRARY_PATH`. This has bitten me multiple times when trying to run with different configuration of Open MPI, each installed in a different location. This is a change in behavior after 4.1 where it was possible to prepend the path to the OMPI libraries to use and run the application again wit

[2021-04-12 13:06] #8743 closed

[2021-04-12 13:38] janjust commented on #8774
@brminich Will do

[2021-04-12 15:14] bosilca commented on #8801
A while back one needed to add `mpirun-prefix-by-default` to get this behavior. Now that the option is on PRRTE and it is enabled by default, you don't have to do anything to get this behavior. It basically mirror the path to your mpirun with the backend libraries (assuming shared file system), which is the expected behavior for most people. Instead of changing the `LD_LIBRARY_PATH` on the shell r

[2021-04-12 15:23] jsquyres commented on #8801
To clarify: in the past, you could get this behavior via:

1. Specify `--enable-mpirun-prefix-by-default` to Open MPI's `configure`
2. Specify `--prefix` option to `mpirun`
3. Invoke `mpirun` via an absolute path name (e.g., `/path/to/mpirun`)

There may have been an env variable option, too; I don't remember offhand.

[2021-04-12 15:24] devreal commented on #8801
There are two issues here then:

1) It's consistent between nodes (the first node has the original path), which leads to confusing behavior if the `LD_LIBRARY_PATH` on the head node is not the library path `mpirun` will append.
2) I'm not sure I understand your last sentence correctly but I think this is what I am doing: setting `LD_LIBRARY_PATH` once on the node that runs `mpirun` and not in any

[2021-04-12 15:24] bwbarrett commented on #8801
And further clarification, you can get the old behavior by specifying `--disable-mpirun-prefix-by-default`.  If you build PRRTE independently of Open MPI, you'll need a different option.

[2021-04-12 15:29] devreal commented on #8801
Looking at the configure documentation:
[code]
Not very helpful. `mpirun --help` says:
[code]

It's absolutely not clear that this flag alters the `LD_LIBRARY_PATH` :/

[2021-04-12 18:29] rhc54 commented on #8801
There are probably a couple of things combining here. First, we have always prepended the `LD_LIBRARY_PATH` when "prefix-by-default" is enabled - I'm not sure how else one would implement that feature. Just prepending the prefix to the binary isn't sufficient as we still have to locate the dynamic plugins. I guess we are now doing this by default, but I'm open to changing that if people prefer we

[2021-04-12 21:37] jayeshkrishna commented on #8442
The warning that I was seeing in my builds was due to an issue on our local cluster (the sysadmins had installed different versions of UCX on login and compute nodes, once that was fixed the warnings are gone).
I tried the MPI gather tests on the cluster and it runs successfully with the fix (OpenMPI master + PR #8769). I am going to do more tests tonight and will update on the results.

[2021-04-12 21:41] WurmD opened #8803 "mpirun fails to call hostname in remote machine"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
[code]
### Please describe the system on which you are running

* Operating system/version: Ubuntu 18.04
* Compu

[2021-04-13 00:58] cadedaniel opened #8806 "NCCL and CUDA-aware MPI?"
## Background information
Hi team, thanks for your work on OpenMPI.

I am trying to use NCCL concurrently with the CUDA-aware OpenMPI. NCCL [makes a careful note in its documentation](https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/mpi.html#inter-gpu-communication-with-cuda-aware-mpi) that this scenario will cause hangs, unless global synchronization is introduced.

### Context on why NC

[2021-04-13 01:21] sjeaugey commented on #8806
I don't think that Open MPI would make any CUDA call if there is no active MPI requests. I.e. waiting for all MPI request to complete should be sufficient. @Akshay-Venkatesh to confirm.

[2021-04-13 03:31] bosilca commented on #8806
If I'm not mistaken, `epoch` here is used in the sense of sequential ordering of between libraries changes, in other terms when your application switch between a NCCL time-based context to an OMPI time-based context (or vice-versa) no lingering communications should remain. @sjeaugey is correct, OMPI will not issue any GPU kernel without active communications to or from GPU memory, so a safe `epoc

[2021-04-13 10:39] mwheinz commented on #6974
Closing with no action.

[2021-04-13 10:39] #6974 closed

[2021-04-13 13:30] jsquyres commented on #8803
It's quite possible that the job ran successfully and the output simply failed to get routed in time to show up on the stdout of `mpirun`.  That _shouldn't_ happen (i.e., `mpirun` should get all of the stdout/stderr from its remote peers before shutting down; it would be a minor error if that's not happening), but it could be a subtle race condition somewhere.

That being said, you might want to n

[2021-04-13 14:53] mwheinz commented on #6799
Reviewing old issues - it appears that Adam submitted a pair of patches to PSM2 for this back in 2019.

@paboyle - I know it's been a ridiculously long time but do you know if this was fixed in more recent IFS releases or is this  still a problem for you? (See https://github.com/cornelisnetworks/ifs-all/commit/1279276c80b826e8b44f0aa82e7909b1c993fa36 for the patch)

[2021-04-13 14:57] paboyle commented on #6799
We recently audited the PSM GitHub, and it looks like they implemented/accepted a similar patch to what I proposed, but didn't come back and update the issue I filed.

[2021-04-13 14:58] paboyle commented on #6799
I'd be happy to close this issue?

[2021-04-13 14:58] #6799 closed

[2021-04-13 14:59] mwheinz commented on #6799
I suspect that's exactly what happened. Thanks for the fast reply and for closing the issue.

[2021-04-13 15:08] hppritcha commented on #8252
@open-mpi/ucx anyone working on this?

[2021-04-13 21:28] jsquyres commented on #8466
Re-opening because the fix has been merged on master, but still needs to be merged to v4.0.x, v4.1.x, and v5.0.x.

[2021-04-14 02:55] rhc54 commented on #8782
It is in https://github.com/open-mpi/ompi/pull/8811 - just waiting for someone to bless it

[2021-04-14 03:04] claysurmeier opened #8813 "Library not found for -levent_core openmpi"
## Background information

I am downloading OpenMPI and building from source to enable parallel computing with Neuron: https://www.neuron.yale.edu/neuron/download/compilestd_osx

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

openmpi-4.1.0.tar.gz

Downloaded from: https://www.open-mpi.org/software/ompi/v4.1/

### Describe how Open MPI was instal

[2021-04-14 03:07] bwbarrett commented on #8813
Can you please include a bit more of the configure output?  That's a weird error to see from configure, and it is difficult to guess what is going wrong from just that output.  If possible, attaching the full output of configure as well as the `config.log` file would be best.

[2021-04-14 14:53] claysurmeier commented on #8813
Running configure today did not produce this output, but got the message instead while running make -- perhaps I misremembered where the problem was occurring. In any event, I've attached the config log and an extension of the make error outputs. Hope this helps.
[make.log](https://github.com/open-mpi/ompi/files/6311667/make.log)
[config.log](https://github.com/open-mpi/ompi/files/6311668/config.l

[2021-04-14 17:35] jsquyres commented on #8782
Looks like #8811 was merged.  Closing this issue.

[2021-04-14 17:35] #8782 closed

[2021-04-14 17:40] jsquyres commented on #8813
@bwbarrett `configure` found `-levent_core`, but then `make` failed when trying to link `libmpi_usempif08.la`:

[code]

Kinda odd that this worked before (with `-levent`).  Perhaps there's a typo in a shell variable somewhere...?

@claysurmeier Can you run:

[code]

And send us the `fortran-make.out` (we only need to see the detail of the link step that failed -- you don't need to do a full rebuil

[2021-04-14 18:09] claysurmeier commented on #8813
[fortran-make.out.txt](https://github.com/open-mpi/ompi/files/6312840/fortran-make.out.txt)

[Makefile.txt](https://github.com/open-mpi/ompi/files/6312846/Makefile.txt)

[2021-04-14 18:25] jsquyres commented on #8813
@claysurmeier I see the issue: https://www.open-mpi.org/faq/?category=building#libevent-or-hwloc-errors-when-linking-fortran

[2021-04-14 18:26] claysurmeier commented on #8813
@jsquyres Thanks, I'll look into that thread. Cheers!

[2021-04-14 18:41] #8813 closed

[2021-04-14 22:29] markalle opened #8818 "checking if 8769 covers everything regarding partial datatypes"
@bosilca recently made
https://github.com/open-mpi/ompi/pull/8769
and I'm not yet sure it's handling everything with the partial datatypes.

It's also possible I'm misusing the calls, so this is a bug report for continued investigation/discussion.

I made a testcase below that's based off the partial.c that George checked in.  In unpacks 3 ints a few different ways and doesn't always get the right

[2021-04-15 06:47] kshterev opened #8819 "Low scalability"
Hi,
I work in a research institute and study gas flows using numerical methods. To this aim we developed our own codes.

I has to use my old code SIMPLE-TS that I haven't used since many years. The code is parallel and has excellent scalability on different kind of clusters even on small problems, see attached paper and http://hpseewiki.ipb.ac.rs/index.php/SIMPLE-TS_2D (figure with speedup was att

[2021-04-15 10:33] ggouaillardet commented on #8819
When running benchmarks (with flat MPI), you really have to `mpirun --bind-to core ...`

You are comparing scalability on systems 10 years ago vs today's system, and so many things have changed in between.
Do you have any specific reason to believe Open MPI is to be blamed for the worst scalability?

[2021-04-15 14:51] awlauria commented on #8733
PR merged. Closing.

[2021-04-15 15:31] acgoldma opened #8820 "Building of openmpi rpm hits issue with python scripts in 3rd-party modules"
Thank you for taking the time to submit an issue!

## Background information
Using an internal script to build the SRPM/RPMs for openmpi I am hitting a new error, that I did not see previously.
[code]
I am building openmpi with the same script I used to build in #8764. the only difference is that it looks like the submodule pointers updated I believe.

### What version of Open MPI are you using? (

[2021-04-16 06:33] kshterev commented on #8819
Can you test the submitted code how it works on your systems with OpenMPI and explain why the scalability is so bad based on data?
Bellow, I answered your statements.

It doesn't help. There is no difference.

The present-day CPUs calculate the same code approximately 7 times faster per core. It is the Moor's law. If the LANs are with the same characteristics, i.e., the time for communications is

[2021-04-16 07:16] ggouaillardet commented on #8819
Bottom line, I asked you if you have any specific reason to believe Open MPI is to be blamed here, and you answer was

I am not interested in playing rhetoric games, so let me invite you to run the same benchmark(s) on your system with MPICH (or a derivative), compare the scalability with Open MPI and report the results. That will give a very clear hint to the root cause of the poor scalability. A

[2021-04-16 07:45] ggouaillardet commented on #8819
Before you do that, double check turbo mode is enabled ... and disable it.

[2021-04-16 15:32] acgoldma commented on #8820
Using the libevent-devel package gets around this, but it might be useful to add some fix in ompi to avoid this for those who wish to use the 'internal' version.

[2021-04-16 15:49] acgoldma commented on #8762
I was able to finally test with v5.0 and after modifying psm2/psm3 to set the FI_HMEM flag when built in cuda mode.
It worked great, the performance was even better then v4.x in all test cases and saw minimal difference in performance between ofi mtl and psm2 mtl.

So that should solve the 5.0 case for now, but as for 4.x:
Can I add something like the following for v4.1.x/v4.0.x:
[code]

[2021-04-16 16:18] rajachan commented on #8762
It worked great, the performance was even better then v4.x in all test cases and saw minimal difference in performance between ofi mtl and psm2 mtl

That's good! The proposed change for 4.x looks fine to me given this discussion.

[2021-04-16 17:17] awlauria commented on #8786
Fixed by https://github.com/open-mpi/ompi/pull/8812. Closing.

[2021-04-16 17:17] #8786 closed

[2021-04-16 18:14] rajachan opened #8822 "Memory patcher conflicts with OMPI and libfabric"
We had [ported OMPI’s patcher code](https://github.com/ofiwg/libfabric/pull/6264) to libfabric not too long ago to get notifications about memory events for its registration cache.  Libfabric also has a userfaultfd notifier, but it defaults to the patcher-based “memhooks” notifier given the additional coverage it provides. Given how patcher uses jump statements to patch the various calls, we can n