[2022-07-22 13:27] awlauria commented on #10586
@devreal can you reproduce when calling prterun instead of mpirun? and prun? I wonder if it is a cleanup issue where something in /tmp is not getting cleaned up, or isn't getting cleaned up fast enough.

One thing you could try is after every run manually removing (in your scrpt) /tmp/prte.$HOSTNAME.* to see if that clears it up.

[2022-07-22 16:05] devreal commented on #10586
Yes, it hangs too.

I get the following error:
[code]
Not sure what to do about that.

I don't see any `prte` files in `/tmp`, neither before nor after a run that hangs.

Is there a way to get extra debug output that might help dig into where the launch gets stuck?

[2022-07-23 15:09] artemry-nv commented on #10583
We'll try the patch. I suspect BlackDuck just parses version info.
Regarding the urgency, taking into account it's quite old issue and the justification that known libevent CVE more likely doesn't impact Open MPI, so I'd say it isn't urgent.

[2022-07-23 15:31] artemry-nv commented on #10583
Checked BlackDuck details also:
libevent 2.0.21

Identifier | Overall Score | Status | CWE | Exploit | Workaround | Solution
-- | -- | -- | -- | -- | -- | --
  | NVDCVE-2015-6525 | 7.5High | New | CWE-189 | – | – | –
  | NVDCVE-2014-6272 | 7.5High | New | CWE-189 | – | – | –
  | BDSABDSA-2017-2645(CVE-2016-10197) | 4.8Medium | New | CWE-416 |   | – |  
  | BDSABDSA-2017-2642(CVE-2016-10196) | 4.8M

[2022-07-23 23:40] JiajunHuang1999 opened #10601 "An error occurred in MPI_Init (seems the network initialization has some bugs)"
There seem to be some bugs with the openmpi-4.1.4 when it is used with slurm 17.11.7 and intel Omni-path.
My CPUs are Intel Xeon E5-2695v4 (Broadwell Nodes with 15 GB /scratch).
When I use `srun --mpi=pmi2 -n 37 -p bdw ./my_program`  the following errors would appear:

[code]

I searched the internet and find that someone has already found the similar problems when they are using Broadwell nodes,

[2022-07-24 00:33] jsquyres commented on #10601
This seems to be the relevant part:

[code]

@BrendanCunningham Is OmniPath your purvue?

[2022-07-24 20:19] jsquyres commented on #10572
That's a fair point about `include/mpi.h`; we've obviously mandated to have that filename.  But it does pretty much nullify my argument about conflicting filenames in binary packages.

FWIW, @ggouaillardet is correct: there are a finite number of MPI implementations, and there really aren't any new mainstream ones coming any time soon.

Also FWIW, it looks like MPICH installs `mpich.pc` (not `mpi-

[2022-07-24 22:46] jsquyres commented on #10560
Back when the `--enable-wrapper-r*path` CLI options were written, I guess this gcc/linker functionality was "you must turn these on" vs. "you must turn these off".  Hence, we really only made the Open MPI `configure` logic *enable* the options, and didn't write any code to *disable* them.

As a workaround, you can edit the `$prefix/share/openmpi/*-wrapper-data.txt` config files for the wrappers to

[2022-07-26 12:06] haampie commented on #10560
I suspected that, but can it be part of the build system? I'm trying to stay away from m4, but I suppose it's simple:

`--enable-wrapper-rpath` -> `-Wl,-rpath,$libdir` & `-Wl,--disable-new-dtags`
`--enable-wrapper-runpath` -> `-Wl,-rpath,$libdir` & `-Wl,--enable-new-dtags`

[2022-07-26 16:02] awlauria commented on #10459
@janciesko is there any update on this? We may look to disable these for the v5.0.0 release if not completed in time, since they are new features it would not be a regression. That said, we would love to have them. We're targeting an end of summer release, so end of August/September timeframe.  Thanks!

[2022-07-26 16:21] janciesko commented on #10459
@awlauria, thanks for clarifying the time scope for this. I'll look into this and report back.

[2022-07-26 17:59] awlauria commented on #10435
Per @rhc54 - this is now fixed in PRRte master and v3.0 branch. I will update this issue when both make their way into ompi.

main: https://github.com/open-mpi/ompi/pull/10611

[2022-07-27 02:44] awlauria commented on #10586
With `prun` you have to daemonize the `prte` first: `prterun --daemnonze`. However since you hit with mpirun and prterun I'd say the odds of it not reproduceing with prterun is remote.

For what it's worth I can't reproduce when using the latest and greates prte+ pmix.

[2022-07-27 16:01] hppritcha opened #10617 "OFI components: using FI_NAME_MAX is incorrect"
I've started working with a new OFI provider which has rather long endpoint names returned from ```fi_getname```.
We currently have fixed size char arrays of size ```FI_NAME_MAX``` size and do not use the ```fi_getname``` in the way it was intended.

It turns out there's a bug in OFI libfabric and this enum should not have been exposed.

Related to https://github.com/ofiwg/libfabric/issues/7898

[2022-07-27 20:15] wckzhang commented on #10617
Is this the sort of behavior you're trying to implement?

[code]

[2022-07-27 20:28] hppritcha commented on #10617
Yeah I’ll open a pr next week for this week.

From: William Zhang ***@***.***>
Reply-To: open-mpi/ompi ***@***.***>
Date: Wednesday, July 27, 2022 at 2:15 PM
To: open-mpi/ompi ***@***.***>
Cc: "Pritchard Jr., Howard" ***@***.***>, Assign ***@***.***>
Subject: [EXTERNAL] Re: [open-mpi/ompi] OFI components: using FI_NAME_MAX is incorrect (Issue #10617)

Is this the sort of behavior you're trying to

[2022-07-28 16:40] jhendersonHDF commented on #10546
Hi all, I just tested @fortnern's test program here, as well as some internal test programs, with the `v4.1.x-202207280243-88bb627` snapshot. It runs successfully for me on a Slackware Linux system, whereas the programs failed for my 4.1.1 through 4.1.4 installations. We're planning to do some more internal testing but at first glance it seems @edgargabriel's PR fixed this for us. Thanks!

[2022-07-28 16:53] fortnern commented on #10546
We've confirmed the test program works on the latest snapshot. Thanks! We'll test the HDF5 branch in question with it soon to verify.

[2022-07-28 17:36] BrendanCunningham commented on #10601
Yes, this is mine. Sorry I didn't notice it before. Will take a look.

[2022-07-28 19:14] fortnern commented on #10546
The multi dataset branch of HDF5 that was failing with 4.1.2 passes with the latest master. Thanks again!

[2022-07-28 20:36] BrendanCunningham commented on #10601
@JiajunHuang1999 if your job does not require the Open MPI BTL or internode one-sided communication, can you try your job with `-mca btl self,vader` and report if that works?

This message typically occurs when the job requires more HFI contexts per node than are available. By default, there is one HFI context per physical CPU core. Multiple PSM2 processes are able to share one context, allowing m

[2022-07-30 22:20] JiajunHuang1999 commented on #10601
@BrendanCunningham
I see, I will try this on the weekdays and give you the feedbacks!
Thanks for your quick help!

[2022-08-01 07:07] qawnaoya opened #10622 "orte_init failure"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.0-10

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Raspberry Pi OS Package

### If you are building/installi

[2022-08-01 07:47] qawnaoya commented on #10622
I violently and forcibly pulled out the rpi40003 USB-C power cable and plugged it back in and the problem was solved. The reason why I was suspicious of rpi40003 is a mystery, because it just happens to disconnect without doing anything when I ssh into it.

[2022-08-01 07:47] #10622 closed

[2022-08-01 07:56] qawnaoya commented on #10622
During a reboot, the OS would not boot. This was remedied by removing and reinserting the SD card. I have a hunch that the SD card may have had a poor contact, causing the inability to write to /tmp, etc., and that removing and reinserting the SD card may have remedied the problem.

[2022-08-02 04:43] arnaudfroidmont commented on #9761
@angainor Did you ever figure out a solution to your problem using DC?

[2022-08-02 19:13] jsquyres commented on #10583
@artemry-nv Can you clarify your last comment -- does that mean you tried applying the patch and BlackDuck still reported the 5 CVEs?

[2022-08-03 18:54] jjhursey commented on #9204
Dave and I are working on a PR for this issue. It'll cover `ob1` and `ucx` PMLs since that is what we can test.

[2022-08-03 21:07] jjhursey commented on #9204
PR: https://github.com/open-mpi/ompi/pull/10625

[2022-08-04 06:40] snsmssss commented on #10225
Thank you @bwbarrett bwbarrett
I had the same issues as @ece8264

I followed your instructions and I could overcome ./configure error
I have Anaconda env conflicting

[2022-08-05 00:33] MamziB opened #10629 "ompi_comm_finalize is called before osc ucx component_finalize"
Hi,

I see that ompi_comm_finalize is called before osc ucx component_finalize.

Can you please let me know if this behavior is intentional? I think this is not the case for v4.1.x.

Thanks,
Mamzi

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
main branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a

[2022-08-05 15:49] jjhursey commented on #9197
The basic implementation is in PR https://github.com/open-mpi/ompi/pull/10630

It recognizes but does not implement the `MPI_COMM_TYPE_HW_UNGUIDED` split type. It will return `MPI_COMM_NULL` unconditionally. I'll open an issue to improve that as a second effort.

[2022-08-05 19:48] janciesko commented on #10459
@bwbarrett, can you please take a look why ompi fails to compile when enabling the use of Qtheads or Argobots?
The following commit introduced the error: https://github.com/open-mpi/ompi/commit/6767309af2c893ff2dfb22d901f4e2fb3b7a8f87.
Configure fails to set `OPAL_QTHREADS_INCLUDE_PATH` in `./opal/mca/threads/qthreads/threads_qthreads.h.in`
Same behavior applies to Argobots.

[2022-08-06 09:45] dalcinl opened #10631 "mpi4py: Regression in spawn tests"
I believe changes over the last week may have introduce issues in spawn support. Two successive runs of mpi4py testsuite both failed at the same point. From the traceback, looks like the issue happens while children run `MPI_Init_thread`.

https://github.com/mpi4py/mpi4py-testing/runs/7703615156?check_suite_focus=true#step:17:1365

<details>
<summary>Traceback from link above</summary>

[code]
</d

[2022-08-06 11:39] jsquyres commented on #10631
@awlauria Is this due to PMIx / PRTE updates?

[2022-08-06 17:42] dalcinl commented on #10631
@jsquyres Looks like that's the case. The two build below show that the regression comes from 4896db17dda399c6c389408a7dad1395d3094521.

* https://github.com/mpi4py/mpi4py-testing/runs/7706338665?check_suite_focus=true
* https://github.com/mpi4py/mpi4py-testing/runs/7706340330?check_suite_focus=true

[2022-08-08 05:17] AboorvaDevarajan opened #10633 "osc/rdma: force enabling osc rdma get_accumulate fails with data integrity issue"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

`OMPI main`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

`git clone`

### If you are building/installing from a git clone, please copy-n-paste the output from `gi

[2022-08-08 05:22] AboorvaDevarajan commented on #10633
Unpacking of the result buffer seems to be erroneous and this patch seems to be fixing the issue:
https://github.com/AboorvaDevarajan/ompi/commit/e84d7fb4e35f43fc4173415f31726e8ec608dbdf

[2022-08-08 13:37] #9204 closed

[2022-08-08 13:44] jjhursey opened #10635 "MPI 4: Improve implementation of MPI_COMM_TYPE_HW_UNGUIDED"
PR #10630 added support for `MPI_COMM_TYPE_HW_UNGUIDED` and `MPI_COMM_TYPE_HW_GUIDED`. It provides good support for "guided" mode but minimal support for "unguided" mode. It closed issue #9197

There are a few ideas for how to implement the "unguided" mode that needs some experimentation.
 * See [this comment](https://github.com/open-mpi/ompi/pull/10630#discussion_r939237588) for an implementation

[2022-08-08 20:45] hppritcha commented on #10459
I am working on a fix for the first item.

[2022-08-08 20:47] artemry-nv commented on #10583
Not yet tried, will try shortly.

[2022-08-09 01:07] rhc54 commented on #10586
I believe this is fixed by https://github.com/openpmix/prrte/pull/1401 and https://github.com/openpmix/prrte/pull/1403, which should now be in your main branch. Those changes are also in the PMIx v4.2 and PRRTE v3.0 branches, so they should come into OMPI v5 once updated.

[2022-08-09 07:40] s417-lama opened #10639 "osc/ucx: internal error in MPI_Get (resource temporarily unavailable)"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v5.0.0rc7

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From a source tarball.

configured with:
[code]

### Please describe the system on which you are running

*

[2022-08-09 13:08] jsquyres commented on #10639
FYI @open-mpi/ucx

[2022-08-09 15:20] awlauria opened #10641 "Slurm resource detection issue"
-np 144 jobs in last nights MTT with the latest prrte pointers are failing with:

[code]

Link [here](https://mtt.open-mpi.org/index.php?&text_start_timestamp=2022-08-09+04%3A10%3A55+-+2022-08-09+12%3A10%3A55&show_start_timestamp=show&text_http_username=%5Eamazon%24&show_http_username=show&text_local_username=all&show_local_username=hide&text_platform_name=%5Eaws-amazonlinux-slurm-efa-installer%24

[2022-08-09 18:07] #9197 closed

[2022-08-09 18:08] jjhursey commented on #9197
See Issue #10635 for follow-on work for a better implementation of `MPI_COMM_TYPE_HW_UNGUIDED`

[2022-08-09 18:22] jjhursey commented on #9206
Ref: https://github.com/mpi-forum/mpi-issues/issues/51

[2022-08-09 19:00] jjhursey opened #10643 "v4.1.x: --do-not-launch throws misleading error"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Open MPI v4.1.x branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

`git clone -b v4.1.x git@github.com:open-mpi/ompi.git` at commit 88bb62711a3a9a01027096b47ea31

[2022-08-09 19:02] jjhursey commented on #10643
For reference, below is what Open MPI `main` branch displays with PRRTE:
[code]

[2022-08-09 19:44] jjhursey commented on #10643
PRs:
 * `v4.0.x`: https://github.com/open-mpi/ompi/pull/10645
 * `v4.1.x`: https://github.com/open-mpi/ompi/pull/10644
 * `v5.0.x` and `main` are not impacted

[2022-08-09 22:15] rhc54 commented on #10641
I would advise adding `--display alloc` to the cmd line to see what PRRTE thinks it was given.

[2022-08-10 07:58] wxfred opened #10647 "why mpirun -n is not work (only support 1 process) through ssh connection?"
## Details of the problem

I'm running 8 mpi nodes on one server with the command `mpirun -n 8 mympiexecutable`. If I type the command on PuTTY, it works. But if I execute the command through node-ssh or paramiko (a python ssh tool) or WinSCP's ssh shell, the same error occurred:
[code]
Then, I changed my code, only use 1 mpi node, and execute `mpirun -n 1 mympiexecutable`, no error appear.

Anoth

[2022-08-10 09:06] tjahns opened #10648 "Incorrect result of unsigned integer MPI_MIN reductions"
## Background information

### What version of Open MPI are you using?

4.1.4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installation via Homebrew on macOS and from tar.bz2 on RHEL 8.4 using the OS-supplied gcc/g++/gfortran

### Please describe the system on which you are running

* Ope

[2022-08-10 10:32] devreal commented on #10648
@tjahns Thanks for the report. I believe this has been fixed in https://github.com/open-mpi/ompi/pull/10538 for the 4.1.x branch, after 4.1.4 was released. Could you try the latest 4.1.x release branch?

[2022-08-10 13:51] jsquyres commented on #10648
@tjahns Per what @devreal said, if you grab the latest nightly snapshot from the v4.1.x branch from https://www.open-mpi.org/nightly/v4.1.x/, it should have the fix.

[2022-08-10 14:03] jsquyres commented on #10647
I'm afraid I do not understand the environment in which you're operating, or what you're trying to do.  Can you explain further, and/or provide a recipe for reproducing the issue?

Also, can you supply the information that was requested in the github issue template?  See https://github.com/open-mpi/ompi/blob/main/.github/issue_template.md.

[2022-08-10 14:44] tjahns commented on #10648
Didn't yet find the time to test from git clone, are there instructions how to clone the open mpi repo? But applying the patch from #10538 to the 4.1.4 source results in a build that no longer fails the test, so this seems to be it indeed.

[2022-08-10 14:50] jsquyres commented on #10648
I think that's probably good enough confirmation; thanks!

[2022-08-10 14:51] #10648 closed

[2022-08-10 20:05] drwootton commented on #9206
I have been researching this with the intent of implementing a check for gfortran and XL Fortran, I have discovered the following:

- There is a directive that can be used with gfortran, **!gcc$ attributes deprecated :: MPI_Sizeof**
- This directive is only recognized with gfortran 11.0.0 or later. Compilng with older gfortran compilers results in a syntax error for the directive.
- At least at th

[2022-08-11 02:53] hwmmm1 opened #10649 "The mpirun - N 20 program was run 20 times with one command"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
mpirun (Open MPI) 1.10.7

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from a source

### If you are building/inst

[2022-08-11 03:25] wxfred commented on #10647
**Background information**
Open MPI version: 4.0
Installed from: tarball
Server operating system/version: Ubuntu 18.04.6 LTS (GNU/Linux 5.4.0-122-generic x86_64)
Computer hardware: Intel® Xeon® Gold 6136 Processor 12Cores 24Threads 3.0GHz
Network type: LAN
Client operation system: Win10

**Details of the problem**
Steps to reproduce the problem:
1.Build a hello world mpi executable on server - _Se

[2022-08-11 03:41] ggouaillardet commented on #10647
That typically occurs when you use MPICH's `mpirun` and your app uses Open MPI `libmpi.so` (or the other way around).

try using the absolute path to `mpirun` in your script, and see how it goes.

for debugging purpose, you can `type mpirun` in both terminal and your script.

[2022-08-11 03:45] ggouaillardet commented on #10649
That typically occurs when `mpirun` and `libmpi.so` do not match.
For example, `mpirun` is from a different Open MPI version or vendor.

try to

`type mpirun` to figure out which `mpirun` is used
`ldd a.out` to figure out which MPI library is used.

[2022-08-11 06:25] wxfred commented on #10647
Thanks! I found the environment paths are different, and both the openmpi and the mpich are installed on my server. The `which mpirun` command shows that PuTTY uses `/usr/share/mpich-4.0/bin/mpirun`, while the others use `/usr/bin/mpiexec`.

[2022-08-11 06:25] #10647 closed

[2022-08-11 07:03] hwmmm1 commented on #10649
![微信截图_20220811150228](https://user-images.githubusercontent.com/92436849/184080560-c6919ef5-9099-441f-a82d-9b362abb58c4.png)
![微信截图_20220811150228](https://user-images.githubusercontent.com/92436849/184080570-3e4edd24-54be-466f-9b34-886b3fdc31db.png)
Dear Sir：
 I noticed that the versions of mpirun on two computer is same.
th computers are the same. However, there are some differences after using

[2022-08-11 10:25] gkatev commented on #10347
I'm also attaching some benchmarks I performed at some point. I have only experimented with bcast, reduce, allreduce, barrier.

Settings
[code]
For the fine-tuned configurations:

tuned
[code]
adapt
[code]

Full collection: [plots.tar.gz](https://github.com/open-mpi/ompi/files/9307855/plots.tar.gz)

Some of them:

![dp-dam-bcast-8x](https://user-images.githubusercontent.com/31203804/184113756-4ef7

[2022-08-11 10:30] ggouaillardet commented on #10649
you need to `ldd jdftx`

please copy/paste the output instead of attaching a screenshot.

[2022-08-11 13:22] rhc54 commented on #10641
Is somebody going to have a chance to look at this soon? I doubt the problem is with the Slurm allocation parser as that hasn't changed, so it is likely a bug down in the mapper. I can try to take a look here, but it would help if somebody added `--prtemca rmaps_base_verbose 5` to one of those runs and sent me the output (or post it to a PRRTE issue so I can see it).

[2022-08-11 15:02] janjust commented on #10641
@rhc54 I'll try reproduce on my system

[2022-08-11 17:01] jsquyres commented on #10649
Also, I note that you said you are using Open MPI 1.10.7.  That was release back in 2017, and in computer time, is considered ancient.  You should upgrade to the latest Open MPI v4.1.x release, if possible.

[2022-08-11 17:36] wckzhang commented on #10641
I think this was hit in our MTT, I can also give it a shot to reproduce

[2022-08-11 17:53] hughed2 opened #10651 "MPI_Comm_spawn() giving unreachable errors across nodes"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.0.4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from source tarball using gcc

### Please describe the

[2022-08-12 01:42] jsquyres commented on #10560
So let's talk about what the `configure` behavior is that we want to have.  Here's all the possibilities:

| rpath  |  rpath  |  rpath | runpath | runpath | runpath |
|-|-|-|-|-|-|
| enable | disable | not specified | enable | disable | not specified |

1. Wrappers specify neither rpath nor runpath flags.
1. Wrappers explicitly add "enable" rpath linker flags, but do not specify anything for runpa

[2022-08-12 02:26] jsquyres commented on #10560
So let's talk about what the `configure` behavior is that we want to have for the future.  Here's a proposal.

## Scope

My proposal below applies to main / v5.0.x.

We can potentially talk about applying the proposal to v4.1.x, too, but I have to admit that I'm not super excited about porting the changes back to that branch.  I've *very* not excited to back port them to the v4.0.x branch (and I d

[2022-08-12 14:45] jjhursey commented on #9206
I think that approach is decent from my understanding of the Fortran infrastructure in OMPI (which is limited). The only modification I would suggest is:
 1. Let's move the `MPI_VERSION`/`MPI_SUBVERSION` values into `${topdir}/VERSION`. This will allow us to have these available in the automake environment so they will be available to the `ompi/mpi/fortran/base/gen-mpi-sizeof.pl`.
    * An alterna

[2022-08-12 17:18] hppritcha opened #10657 "documentation: need to update how-to-build section of Open MPI for the v5.0.0 release"
We should make sure this table - https://docs.open-mpi.org/en/v5.0.x/installing-open-mpi/required-support-libraries.html?highlight=prrte

before releasing 5.0.0.

We should also add a section about how to support native launch (esp. via srun) with the 5.0.x release stream.

[2022-08-12 21:31] hppritcha commented on #10592
the MPI_Session_get_pset_info call with invalid pset name may be a pmix issue.  checking...

[2022-08-15 09:37] kent-cheung-arm opened #10664 "Request for submodule update on v5.0.x branch"
Would it be possible to update the openpmix and prrte submodule references in time for the next v5.0.x RC release please? There is a specific fix on the openpmix v4.2 branch which is required to resolve an issue found in our testing.

Thanks.

[2022-08-15 11:08] gpaulsen commented on #10664
Hello.  Thanks for posting the issue.  We (The v5.0.x RMs) are working on doing just that in this PR: https://github.com/open-mpi/ompi/pull/10612, however there is a blocker introduced in prrte in this update that we're waiting on to merge.  See: https://github.com/open-mpi/ompi/issues/10641

[2022-08-15 13:25] Flamefire opened #10665 "[Q] Installation of configuration file share/openmpi/mca-btl-openib-device-params.ini"
To make it short: We install various versions of OpenMPI with easybuild and the file `share/openmpi/mca-btl-openib-device-params.ini` seems to randomly get installed or not.
We need it because we apply the following patch on our system to me it support or IB card:
[code]

The file was referenced at https://github.com/open-mpi/ompi/blob/v4.1.4/opal/mca/btl/openib/Makefile.am#L38 but I couldn't foll

[2022-08-15 18:48] jsquyres commented on #10665
This file does not exist in the upcoming v5.0.x series (because the entire openib BTL has been retired in v5.0.x), but it should be present in previous versions.

[2022-08-15 19:27] awlauria commented on #10641
Any update on this?

[2022-08-15 19:48] devreal opened #10669 "[5.0.x] Issues with some mpirun arguments (map-by, output-filename, indentation)"
- Specifying the `--map-by` argument leads to an error:
[code]
Note that the `Initial value` shows a corrupted string. Overall, the error message does not provide any useful information and I don't see why `--map-by node` should not work.

- The `--output-filename` seems to work (with some heavy extension of the filename) but doesn't appear in the help output.

- There is also a bunch of indentati

[2022-08-16 11:24] Flamefire commented on #10665
Ok issue was actually caused by different `--with-verbs`/`--without-verbs` configure settings. Thanks for bringing me on the right track!

[2022-08-16 11:24] #10665 closed

[2022-08-16 14:52] devreal commented on #10586
@rhc54 provided a fix in https://github.com/openpmix/prrte/pull/1436 and ported it back to the PRTE 3.0 branch in https://github.com/openpmix/prrte/pull/1437. @awlauria can we bump the PRTE pointers for both `main` and 5.0.x?

[2022-08-16 16:09] jjhursey commented on #9206
Here are some compiler notes for reference.
 * Deprecated attribute documentation : https://gcc.gnu.org/onlinedocs/gfortran/ATTRIBUTES-directive.html
 * GCC 11 release series : https://gcc.gnu.org/gcc-11/
 * GCC 11 Changelog : https://gcc.gnu.org/gcc-11/changes.html#fortran
 * Assorted gfortran levels shipped with OS distros:
   * RHEL/UBI 8.6 ships gfortran 8.5.0
   * RHEL/UBI 9.0 ships gfortran

[2022-08-16 18:17] SpinTensor opened #10674 "PMPI_Bcast not found in Fortran Module if explicitly requested"
Hi all,
I just compiled the openmpi-5.0.0rc7 version with the gcc-11.2 using the following configure line:
[code]
[code]
I encountered a problem with a small fortran test code:
[code]
When compiling I get the following error message:
[code]
Note that I request the PMPI symbol of bcast, not the MPI, which works.
The error also disapears it the `USE mpi, ONLY : ...` is replaced by a simple `USE mpi`

[2022-08-16 19:52] hppritcha commented on #10588
closed via #10589 and #10628

[2022-08-16 19:52] #10588 closed

[2022-08-16 19:53] hppritcha commented on #10617
closed via #10659 and #10620

[2022-08-16 19:53] #10617 closed

[2022-08-16 19:54] hppritcha commented on #10576
closed via #10637 and #10650

[2022-08-16 19:54] #10576 closed

[2022-08-16 19:54] hppritcha commented on #10524
closed via #10555 and #10636

[2022-08-16 19:54] #10524 closed

[2022-08-17 02:02] ggouaillardet commented on #10674
Thanks for the report!

There are indeed two typos affecting `PMPI_Bcast()` and `PMPI_Bcast_init()` and they have been fixed in #10677.

[2022-08-17 05:36] dalcinl commented on #10631
@awlauria Can you provide any ETA for you looking into this?

[2022-08-17 05:56] dalcinl commented on #10631
An additional pointer: using a local debug build, the issue seems to be happen only with `MPI_Comm_spawn_multiple()`. All of my tests involving `MPI_Comm_spawn()` are successful.

[2022-08-17 06:08] dalcinl commented on #10590
@awlauria After your recent update of submodule pointers, things got even worse. Now I cannot even call `MPI_Init_thread()` if `mpiexec` is not used:

[code]

[2022-08-17 06:14] dalcinl commented on #10576
@hppritcha Unfortunately, It is not working as expected:

### Reproducer
[code]

### Output
[code]

[2022-08-17 06:31] AboorvaDevarajan opened #10678 "perf: hcoll: mpi_get_accumulate test slows down in mpi_win_fence when hcoll is enabled"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
`OMPI master`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

`git clone`

### If you are building/installing from a git clone, please copy-n-paste the output from `g

[2022-08-17 10:41] SpinTensor commented on #10674
Thanks for the quick fix. I think we can close this issue.

[2022-08-17 11:22] ggouaillardet commented on #10674
Thanks for confirming the fix worked for you!

I am re-opening this issue and we will close it once it is merged in all the relevant release branches.

[2022-08-17 11:23] SpinTensor commented on #10674
Sorry, I guess I was a little bit quick there.

[2022-08-17 13:10] awlauria commented on #10590
@dalcinl *sigh*

I didn't expect it to solve this issue, but good to know. Thanks

[2022-08-17 15:07] jsquyres commented on #10674
Looks like this is not an issue on v4.0.x or v4.1.x -- just v5.0.x. PR #10580 filed to cherry pick the fix to the v5.0.x branch.

[2022-08-17 15:16] hppritcha commented on #10576
try with mpi://world

[2022-08-17 15:18] hppritcha commented on #10576
i fixed the process set name parsing in a subsequent PR #10672

[2022-08-17 17:08] cedhub commented on #8939
Any news on this topic ? Just realised that my program did not work because of this reorder flag set to 1.
Is this fixed in v5.x.x ?

I'm running v4.1.3 on macOS 12.5, Apple Clang version 13.1.6

[2022-08-17 18:36] dalcinl commented on #10592
@hppritcha I'm seeing just one issue left, although perhaps I did not reported it before. Sorry about that, there were many loose ends, and I just missed that one.

`MPI_Session_get_info()` with `MPI_SESSION_NULL` fails with error `MPI_ERR_ARG`, but should fail with `MPI_ERR_SESSION`.

[2022-08-17 21:32] jjhursey commented on #9206
@drwootton PR #10683 will give you two Makefile level variables: `MPI_VERSION` and `MPI_SUBVERSION` that can be used in places like [here](https://github.com/open-mpi/ompi/blob/263dca310a6ad78668f6a581140d83ab23161587/ompi/include/Makefile.am#L85-L94) to adjust the Perl script based on the MPI Version

[2022-08-18 00:23] javierpvm commented on #9054
I want to model a hydraulic channel in ubuntu 20.04lts through OpenFoam and from what I see I have the same problem I would like to know exactly what network parameters you mean qingfengfenga and the exact location to configure it....... I have it configured 1 master and 2 nodes; I use a private ip: 10.17.38.30, subnet mask: 255.255.255.0, default gateway: 10.17.38.254. DNS: 10.16.30.2, in the sam

[2022-08-18 02:14] qingfengfenga commented on #9054
@javierpvm

Don't give up, you are so close to the truth, this video may help you

https://youtu.be/tDZ4gAKSG6c

[2022-08-18 16:09] rhc54 commented on #10669
Just FYI: `-N 1` resolves to a `--map-by ppr:1:node` directive. Thus, you wind up with two invocations of the `--map-by` cmd line option, and that's the error.

[2022-08-18 16:29] rhc54 commented on #10590
FWIW: the error appears to be in the MPI layer, and not in PMIx or PRRTE. A quick look identifies the following culprit code (taken from main branch):
[code]
You can see that not finding "local_peers", which you won't find in the case of a singleton, incorrectly results in return of an error, even though the following code correctly knows how to deal with that situation.

[2022-08-18 16:36] JiajunHuang1999 commented on #10601
@BrendanCunningham
Hi, when I run the job, I sometimes receive the following error message. I suppose the error is not fully solved.

[code]

Thanks.

[2022-08-18 17:59] BrendanCunningham commented on #10601
@JiajunHuang1999 is there any other output indicating what killed the job? Also what does the `16777216` argument to the job do? Does your job run with 64 ranks but a change to the specific job command? Thanks.

[2022-08-18 18:43] rhc54 commented on #10631
A quick glance at the trace shows the failure is in the btl/sm component. A grep of that code shows the only PMIx dependency is on a modex_recv of `PMIX_LOCAL_RANK`, with the module subsequently attempting to connect/send to the proc of that local rank.

The problem is clearly that the btl/sm is looking for the _wrong_ value here. It needs to look for `PMIX_NODE_RANK`. I've told you folks this mul

[2022-08-18 19:05] rhc54 commented on #10631
A simple print statement is all that is required to immediately show the problem - printing out the backing file:
[code]
where the last digit of the filename is the local rank. You can see that the spawned procs step on each others backing file because they use their local rank, which is the same as they are from two app_contexts. The connection to the local rank is made by:
[code]
All you need do

[2022-08-18 19:28] jjhursey commented on #10590
I took a crack at this and got singleton without spawn working, but with spawn I'm getting:
[code]

I have a lead on what needs fixing (something with starting the `prte` environment). I'm looking into it.

[2022-08-18 20:01] omor1 opened #10687 "UCX Error: failed to parse address: number of ep addresses exceeds 6"
## Background information

### What version of Open MPI are you using?
* Open MPI v4.1.4
* UCX v1.13.0
* rdma-core-50mlnx1-1.49417.x86_64

### Describe how Open MPI was installed
Built via Spack

#### Build information
* AOCC 3.0.0 (based on LLVM/Clang 12.0.0)
* `-O3` and LTO for both Open MPI and UCX

### Please describe the system on which you are running

SDSC Expanse:
* Operating system/versio

[2022-08-18 20:17] jjhursey commented on #10590
Two changes required to fix this issue:
 * OMPI : https://github.com/open-mpi/ompi/pull/10688 (`PMIX_LOCAL_PEERS` handing, and a `prte` CLI fix)
 * PRRTE : https://github.com/openpmix/prrte/pull/1443 (`--keepalive` CLI handing)

[2022-08-18 20:39] rhc54 commented on #10590
PRRTE change has been committed - thanks Josh! Will now port it over to PRRTE v3.0.

Note: the fix was done in the schizo/prrte component and therefore only applies to `prterun` with the PRRTE personality. You might want to check to see if it also needs to go into the OMPI personality.

[2022-08-18 21:12] jjhursey commented on #10631
I created a small test program: [here](https://gist.github.com/jjhursey/707fe04d164f93707933b8a619106ab8)

If I run with `ucx` it passes both of the following:
[code]
We don't get the IO from the child processes in the second example (singleton spawn multiple), but that's a separate issue.

However, If I use `ob1` then I can reproduce this issue with it ending in a segv. Making the change Ralph su

[2022-08-18 21:17] jjhursey commented on #10631
I filed an issue on the PRRTE side to gain visibility: https://github.com/openpmix/prrte/issues/1445

[2022-08-18 21:48] omor1 commented on #10687
I have also gotten other UCX errors:
[code]

[2022-08-18 21:56] gkatev commented on #10347
FYI at the moment, these 3 issues can impact HAN:

#10335
#10456
#10458

So if you attempt to use the MCA parameters and adjust the chosen sub-components, I suggest applying the fixes and/or verifying that the expected components are actually used.

[2022-08-19 00:08] rhc54 opened #10689 "mpirun cmd line option "changes""
I heard today that there is some frustration/concern in the OMPI community about PRRTE cmd line option changes. I think these concerns are somewhat misplaced. It is true that cmd line options inside PRRTE have changed in recent months, specifically in the `--rank-by` area.

HOWEVER, the entire purpose of the `schizo/ompi` component is to define the _external_ user-facing cmd line options, and then

[2022-08-19 07:55] brminich commented on #10687
Can you please clarify a couple of questions?
- Is this a regression (did you run the same task with older OMPI/UCX)?
- Please try to reproduce it without `UCX_UNIFIED_MODE="y"` or set it explicitly to `UCX_UNIFIED_MODE="n"`
- Provide output of `ucx_info -d` from each machine (afaiu you use only 2 nodes)

[2022-08-19 12:15] rhc54 commented on #10631
Fix has been committed to PRRTE master and ported to v3.0. It will fix this immediate problem, but still begs the full issue.

Let me explain my comments about node vs local rank. The rationale behind node rank lies in the fault tolerance area. If a proc from a given app dies on a node, and then a proc from that app (either the one that died or some migration) is restarted on that node, then the l

[2022-08-19 13:49] jjhursey commented on #10631
For reference:
 * PRRTE master : https://github.com/openpmix/prrte/pull/1446 (merged)
 * PRRTE v3.0 : https://github.com/openpmix/prrte/pull/1447 (merged)

@awlauria We will need to pick this PRRTE change up as well.

[2022-08-19 14:21] rhc54 commented on #10641
Guys - I hate to release PRRTE v3.0 with this unresolved, but I have tried everything at my disposal to reproduce (testing under Slurm, faking RM allocations) with your cmd line without any failures. Minus some input from your environment, I have no choice but to declare this an unverifiable anomaly and move forward with the release.

So please - can someone just produce the requested debug so we

[2022-08-19 14:23] jjhursey opened #10691 "Singleton spawn missing child IO"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

`main` at https://github.com/open-mpi/ompi/commit/31d719d1fa69fc009380ab3d213343dbac555565

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Standard build from github

[2022-08-19 14:23] jjhursey commented on #10631
FYI: I can confirm that the PRRTE fix addresses this issue. I change my prrte submodule to the `v3.0` branch (including 1447) and was able to run successfully without any OMPI modifications:
[code]

What Ralph mentions about using the node rank vs local rank makes sense. I filed a PR #10690 to make that change, but I want someone supporting FT to review so I flagged @abouteiller .

I filed Issue #

[2022-08-19 14:38] janjust commented on #10641
I cannot reproduce this on my system either - this happened on an AWS system, ideally it should be reproduced there

[2022-08-19 15:00] jsquyres commented on #10643
Fixed in both branches; closing.

[2022-08-19 15:00] #10643 closed

[2022-08-19 15:10] jsquyres commented on #10689
FWIW, in any conversation I've had about this topic, it's always been in the recognition that we -- the OMPI community -- need to go update the PRTE schitzo/ompi component.  I didn't think that there was any blame to be placed on the PRTE community.

Indeed, about a week ago, 2 OMPI community members (@awlauria and @gpaulsen) finally started looking at the current state of PRTE's schitzo/ompi comp

[2022-08-19 15:24] rhc54 commented on #10689
Thanks for the clarification - much appreciated!

[2022-08-19 15:24] #10689 closed

[2022-08-19 16:07] jsquyres commented on #10649
@hwmmm1 Did you get the problem resolved?

[2022-08-19 16:10] jsquyres commented on #10486
Looks like this was fixed long ago.

[2022-08-19 16:10] #10486 closed

[2022-08-19 17:54] rhc54 commented on #10691
I suspect the reason is that the singleton isn't declaring itself to be an IOF "sink" - i.e., that it's IOF streams should be output instead of passed along. I'll take a peak - it's something that should happen in PMIx when we detect we are operating without a server, I suspect.

[2022-08-19 18:17] miroi opened #10693 "There was an error initializing an OpenFabrics device."
Hello,

I build my OpenMPI using command unisng Intel compiler 2020:
[code]
and used it for compiling my scientific application, dirac.x.

But I am getting stderr output from OpenMPI, though the dirac.x finishes well:

[code]

Any help, please, on how to fix my OpenMPI run ?

[2022-08-19 18:23] rhc54 commented on #10691
Just FYI: if you build OMPI with external PRRTE, you get a link from `mpirun` to `prterun` - but you don't get any link created for `prte`. Thus, singleton comm_spawn fails as it cannot find that executable (though it doesn't tell you that).

Very unexpected behavior - took me quite a while to break it down (by digging thru the OMPI source) and figure out what was going on.

[2022-08-19 18:28] rhc54 commented on #10691
Note that if I build with embedded versions, then `prte` _does_ show up in `$prefix/bin` and singleton comm_spawn works fine. Rather inconsistent behavior, and confusing.

[2022-08-19 20:18] jjhursey commented on #4948
A few notes on this ticket:
 * In `main`/`v5.0.x` the `btl_vader_single_copy_mechanism` MCA parameter does not exist. Use `-mca smsc ^cma` instead. Also `vader` has been renamed to `sm`
 * In PR #10694 I added an additional check that should disqualify `cma` if `CAP_SYS_PTRACE` is not granted to the container. See example output in the PR.

I think this ticket can be closed given the workaround fo

[2022-08-19 20:18] #4948 closed

[2022-08-19 20:33] rhc54 commented on #10691
Hmmm...I couldn't get this to run at all. First, I had to update both PMIx and PRRTE to head of master branches (to resolve the `keepalive` option issue), and then I had to edit the `ompi_rte.c` to fix the local_peers issue (I gather that PR has not yet been committed). I then found that the cmd line being built in `dpm.c` was incorrectly being parsed as having an application, which PRRTE will rej

[2022-08-19 21:03] omor1 commented on #10687
I have not yet attempted to replicate this particular issue with older OMPI/UCX.

Using the same parameters with `UCX_UNIFIED_MODE="n"` I got the following crash:
[code]
I also had a successful run, but have had successful runs with `UCX_UNIFIED_MODE="y"` too—this doesn't always occur.

Using the default parameters and `UCX_IB_RCACHE_MAX_REGIONS="16777216"` (limiting cache entries to maximum numbe

[2022-08-19 22:00] rhc54 commented on #10691
Once you update the PMIx submodule pointer, #10695 will fix this issue.

[2022-08-19 22:04] rhc54 commented on #10691
FWIW: this is what I get out of your test program the updates are all applied:
[code]

[2022-08-19 22:44] jsquyres commented on #10583
@janjust @artemry-nv Could really use an answer from NVIDIA here -- it's been almost 4 weeks.

[2022-08-19 23:33] sangallidavide commented on #10377
I tried to compile the released 4.1.4 with nvcc and nvfortran 22.04 and the compilation failed.

I had to change the configure of the openmpi library as below
After that it worked.

[code]

[2022-08-19 23:36] jsquyres commented on #10674
Merged on main and v5.0.x -- closing this issue.  Thanks for bringing it to our attention!

[2022-08-19 23:36] #10674 closed

[2022-08-19 23:45] jsquyres commented on #10693
This just came up on the users list the other day, too:

* Initial post: https://www.mail-archive.com/users@lists.open-mpi.org/msg34982.html
* Reply: https://www.mail-archive.com/users@lists.open-mpi.org/msg34983.html

You're actually seeing two messages; you can disable them both by the methods Howard mentioned in his reply on the users list.

[2022-08-19 23:47] jsquyres commented on #10377
@Akshay-Venkatesh @janjust Can you guys comment on this?

[2022-08-21 10:59] miroi commented on #10693
Thanks ! "export OMPI_MCA_btl=^openib" works, we can close the ticket as solved.

[2022-08-21 10:59] #10693 closed

[2022-08-22 15:19] dalcinl commented on #4158
Is this ever going to happen? Or Am I supposed to keep opening issues over and over again when broken things get merged into main?

[2022-08-22 16:18] jjhursey commented on #10691
I confirmed this is fixed by PR #10695 in [this comment](https://github.com/open-mpi/ompi/pull/10688#issuecomment-1222581952)

Thanks for the fix!

[2022-08-22 16:28] gpaulsen commented on #10641
@wckzhang ???

[2022-08-22 16:31] wzamazon commented on #10641
@wckzhang  is on vacation. @shijin-aws can you take a look at this?

[2022-08-22 16:32] shijin-aws commented on #10641
will look at this today.

[2022-08-22 18:55] awlauria opened #10698 "Command line issues"
Here's an overview of issues @gpaulsen found when testing ompi command line options.

NOTE: Box's should be checked as complete when fixes find their way to their release branches (openpmix v4.2/prrte v3.0).
As they come in feel free to edit in links to PR's in this comment.

- [ ] `--display-devel-allocation`, should map to --display devel-map
- [ ] `--display-topo/--display topo`,  does nothing.

[2022-08-22 20:19] #10691 closed

[2022-08-22 21:47] shijin-aws commented on #10641
I can reproduce this issue, it is happening randomly. I am inside a `salloc -n 144` and running the same test (`alltoallv_somezeros`) in a for loop and this error is hit in random iteration numbers. In the log below iteration 1,2,3 failed, 4,5 succeeded.

[code]

[2022-08-22 21:49] shijin-aws commented on #10641
added `--display alloc` and the log is

[code]

[2022-08-22 21:56] shijin-aws commented on #10641
@rhc54 I attached the log that run with `--display alloc --prtemca rmaps_base_verbose 5` as you suggested

[alltoallv_somezeros.txt](https://github.com/open-mpi/ompi/files/9397836/alltoallv_somezeros.txt)

[2022-08-23 06:40] rhc54 commented on #10698
Actually, it should map to `--display alloc-devel`. The simpler allocation output is `--display alloc`

Correct - should work. I can check it

I'll check it - it was working last I checked. Maps to `--output merge`

Hmmm...I've been using it extensively and it works fine, so probably just a translation issue. Maps to `--map-by :donotlaunch`, but may get moved to the new `--controls xxx` option as

[2022-08-23 06:44] rhc54 commented on #10641
Well, that last log shows me what is going on (two of the nodes are being dropped for some reason) - now I just have to figure out why! Might need some more debug, so I may be back.

[2022-08-23 13:44] awlauria commented on #10698
It appears this option no longer exists:

[code]
does it need to be re-implemented or should it just be removed?

[2022-08-23 13:48] jjhursey commented on #10698
We should also double check the `$HOME/.prte/mca-params.conf` and `$HOME/.openmpi/mca-params.conf` per the note below:
 * https://github.com/open-mpi/ompi/pull/10702#issuecomment-1223604423

[2022-08-23 15:16] rhc54 commented on #10698
I'll take a look - might just be an error.

[2022-08-23 15:18] awlauria commented on #10435
With the merge of #10612 - closing.

[2022-08-23 15:18] #10435 closed

[2022-08-23 15:20] bwbarrett commented on #9869
I unfortunately don't have much OMPI time these days, but the half-done branch is here: https://github.com/bwbarrett/ompi/commits/bugfix/mpicc-dependencies.

[2022-08-23 15:21] rhc54 commented on #10698
The PRRTE default param file is definitely working as I am using it and all get set as specified. I cannot speak to the OMPI one so that might need checking - it should get picked up by the pml/ompi component, but it might not be implemented there yet? Probably should first check that the OMPI personality is getting passed to PMIx (pretty sure that is happening, but worth checking).

[2022-08-23 15:24] rhc54 commented on #10698
For the problem listed in https://github.com/open-mpi/ompi/pull/10702#issuecomment-1223604423, what MCA param is he trying to set? I suspect it is either an incorrect param (due to it being PRRTE and not ORTE) or something that no longer exists as a param due to PRRTE treating things as job-specific instead (so maybe it needs to be restored as setting a default policy that is overridden by cmd lin

[2022-08-23 15:50] #10590 closed

[2022-08-23 16:41] awlauria opened #10705 "mpirun --help needs updating"
The output of `mpirun --help` is rather out of date, and needs to be carefully read over and updated to account for new, removed, and changed options. Descriptions for some of these are either wrong, or insufficient.

Additionally, some of the `mpirun --help foo` options do not display anything when they should. For example:

[code]
where this should print the `ppr` help message.

Refs: #10698

[2022-08-23 17:30] hppritcha commented on #9451
i'll take a look at this.

[2022-08-23 17:44] rhc54 commented on #10698
I looked further at the description there and saw where he set the param - it looks okay. I suspect the problem is the same as was just reported to me offlist by the DDT folks - he isn't hitting a slot limit, but rather he is hitting the overload limit. Setting oversubscribe isn't turning off the check on CPUs. I'll have to fix that separately.

[2022-08-23 20:30] hppritcha commented on #9451
I'm not sure how critical this is to fix for the 5.0.0 release since there is a workaround.  I'm preferring a path where the ofi-mtl/ofi-btl configures fail if common-ofi is to be built as DSO and they are not.

[2022-08-23 20:44] rhc54 commented on #10698
Should be fixed in https://github.com/openpmix/prrte/pull/1463

[2022-08-23 20:58] treygreer commented on #7701
FWIW, I was seeing a similar issue in Ubuntu 22.04.1 LTS with the apt-get packages openmpi-bin,openmpi-common.   I'm pretty sure that was openmpi version 4.1.3.  Anyway, I was seeing the warning "authorization required, but no authorization protocol specified" whenever I issued an mpirun including another node.    I could not for the life of me track down the source of the warning, and I finally j

[2022-08-23 21:58] bwbarrett commented on #9451
The workaround is pretty non-intuitive and the error message is terrible.  The core issue has been here since we added the first common library, but wasn't as impactful when the default was to build dsos, since the default usually worked out.

I had tried to figure out how to fix the issue, so that you could do what the user asked (build ofi-common as a dso but ofi-btl as part of libmpi).  I think

[2022-08-23 22:08] hppritcha commented on #9451
That’s what I’m implementing.  There’s an mca macro to get the compile mode for a given component/type that is handy.

From: Brian Barrett ***@***.***>
Reply-To: open-mpi/ompi ***@***.***>
Date: Tuesday, August 23, 2022 at 3:58 PM
To: open-mpi/ompi ***@***.***>
Cc: "Pritchard Jr., Howard" ***@***.***>, Assign ***@***.***>
Subject: [EXTERNAL] Re: [open-mpi/ompi] Cannot build common/ofi as DSO (#945

[2022-08-23 22:32] markalle opened #10708 "global symbol name pollution"
You can download testcase files here:
https://github.com/open-mpi/ompi-tests-public/blob/master/packaging/run_nmcheck.c
https://github.com/open-mpi/ompi-tests-public/blob/master/packaging/nmcheck_prefix.pl

With those in place and a build of OMPI available, running the test is just:
[code]

And a big list of questionable global exports should get listed.

Or a lighter weight way to get similar out

[2022-08-23 23:27] rhc54 commented on #10698
Fixed in https://github.com/openpmix/prrte/pull/1464

[2022-08-24 05:52] rhc54 commented on #10698
I'm sensing some confusion over the user-facing options vs what PRRTE accepts, particularly with regard to the `--map-by` CLI. After looking into it a bit, I can understand why that would be happening as we overloaded `--map-by` with display options - probably a bad idea.

So please give me a bit to split all this out. Should be done by end of week, but I need some flexibility on the timing as my

[2022-08-24 12:44] rhc54 commented on #10698
I have implemented the `--display topo=<list>` option, where `<list>` is a comma-delimited list of the hosts whose topology you wish to have output. Now working on resolving the confusion mentioned above.

[2022-08-24 12:45] rhc54 commented on #10698
Just to keep track of things here: @awlauria implemented the fix for this (which has been committed)

[2022-08-24 13:43] awlauria commented on #10698
Thanks @rhc54 . Feel free to update the top level comment with links to PR's. I haven't marked any of them as complete until they make their way to release branches.

[2022-08-24 13:53] gpaulsen commented on #10708
I added Severity: critical for v5.0.0.
https://github.com/open-mpi/ompi/pull/8704 exposed many more incorrectly scoped symbols to the user in `libmpi.so` than were exposed in v4.x series.  This may cause linking issues (or worse?) for our customers, and should be fixed before v5.0.0.

[2022-08-24 14:09] jjhursey commented on #10705
Notes:
 * `--help` should dump all of the options
   * Verify all of the options work with `mpirun`
 * `--help ARG` should dump information about just that argument
   * Make sure all of the category ARGs work (e.g., `--help ppr`)
     * Some categories might not work - just document those that work vs don't work for now.
   * Verify that the information is correct - clarify anything that needs cl

[2022-08-24 14:49] rhc54 commented on #10698
Afraid I lack permissions to checkoff your boxes, so please feel free to do so when you have time and see them as complete.

[2022-08-24 15:07] markalle commented on #10708
@gpaulsen asked me to post how many symbols there are that need changed, based on my run just now it's ~250.

Admittedly if we're only being pragmatic and non-strict we could ignore long names like ```bottom_up_build_tree_from_topology``` since even though it lacks any OMPI-reserved prefix, it seems extraordinarily unlikely a user app would just happen to use that same function name.  Vs say ```cr

[2022-08-24 17:12] rhc54 commented on #10698
I have backported all the fixes to-date to PMIx and PRRTE release branches. Note that PRRTE v3.0 now requires a minimum of PMIx v4.2.1 due to all the fixes on both sides.

I'm most of the way done with the refactor - will update here when complete.

[2022-08-24 21:55] drwootton commented on #10705
@jjhursey asked me to check mpirun options to make sure that reasonable help text was displayed for each option and that the mpirun command recognized each option in running a simple test.

I tested options in order top-down as specified in schizo_ompi.c

I tracked this by creating a text file with **mpirun --help** and then annotate the options I tested by adding lines starting with **@@** after

[2022-08-24 22:01] drwootton commented on #10705
I'm not expecting parameters like ppr to have individual help text since they are parameters to mpirun options such as --map-by or --bind-to which have their own help text.

[2022-08-24 22:25] rhc54 commented on #10698
https://github.com/openpmix/prrte/pull/1468 completes the refactoring. Still need to decide what cmd line options to move into the `--runtime-options` directives as opposed to being directly on the cmd line, but that is under your control for OMPI. Just remember to translate them across so they are seen inside PRRTE.

I'll go back to looking into some of the above operations to ensure they are fun

[2022-08-24 22:28] rhc54 commented on #10698
[code]
Probably not in the schizo/ompi help file. Note that it is the OMPI community that required this option - IIRC, it might be part of the standard?

[2022-08-24 23:07] rhc54 commented on #10698
The only one left in your list that I can resolve is `--show-progress`. I took a quick peek and see the problem. I'll fix it tomorrow morning, and then complete the work on the `--runtime-options` directive.

I don't have a way of testing `--stack-traces` at scale, and the `--stream-buffering` option is best left to @jjhursey as I have no idea how to test it. So I believe once I finish the runtime

[2022-08-25 03:14] devreal commented on #10347
Sorry for the delay but here are some measurements for HAN on Hawk. I measured several different configurations, including 8, 24, 48, and 64 processes per node. I also ran with `coll/sm` as the backend but the differences seem minor. I also increased the HAN segment size to 256k (and did the same for `coll/sm`), which seems to have a positive impact on larger data sizes.

Takeaway: there are certa

[2022-08-25 12:16] AboorvaDevarajan commented on #10633
Issue is fixed: (merged PRs in release and master branches):

master: https://github.com/open-mpi/ompi/pull/10634
v5.0.x: https://github.com/open-mpi/ompi/pull/10655
v4.1.x: https://github.com/open-mpi/ompi/pull/10654
v4.0.x: Issue not present

[2022-08-25 13:42] awlauria commented on #10641
Thanks @rhc54 . Were you able to root cause?

[2022-08-25 13:45] awlauria commented on #10664
Closing since  #10612 was merged, which completes this ticket. @kent-cheung-arm

That said I will shortly post another submodule update for the v5.0.0 branch today, and there will likely be one at least once per week up to the v5.0.0 release.

[2022-08-25 13:45] #10664 closed

[2022-08-25 13:52] jjhursey commented on #10698
I'll look at the stream-buffering option. Once upon a time ([way back in 1.7](https://github.com/open-mpi/ompi/blob/975438cc63025f938b53ae94d6b58a9266dc872b/NEWS#L2684-L2686) in https://github.com/open-mpi/ompi/commit/4dd9f89a9) it was an MCA option (`ess_base_stream_buffering`). I'm not sure when it became a CLI option. I'll take a look and sort it out

[2022-08-25 13:53] awlauria commented on #10664
Latest submodule PR: https://github.com/open-mpi/ompi/pull/10715

[2022-08-25 13:56] awlauria commented on #10698
@rhc54 the scale was fairly small with `--get-stack-traces`, a single node should reproduce PMIx errors like this:

[code]

Specifically the `PMIX bfrop:unpack: got type 27 when expecting type 3` and `pmix_ptl_base: send_msg: write failed: Connection reset by peer (104) [sd = 43]` errors.

[2022-08-25 14:02] kent-cheung-arm commented on #10664
Thanks!

[2022-08-25 14:35] jjhursey commented on #10590
Using the [singleton test suite](https://github.com/open-mpi/ompi-tests-public/tree/master/singleton)

Version | Singleton | Singleton MPI_Comm_spawn | Singleton MPI_Comm_spawn_multiple |
------- | --------- | ------------------------ | --------------------------------- |
  main  | PASS      | PASS                     | PASS                              |
 v5.0.x | PASS      | **FAILURE**

[2022-08-25 15:32] janjust commented on #10590
@hoopoepg Hey Sergey, can we see about why singleton runs fail with UCX? Are we missing something that's currently in main, but not in v5.0?

[2022-08-25 15:40] hoopoepg commented on #10590
it is really strange - we didn't anything specific for spawn functionality.
will look

[2022-08-25 15:58] awlauria commented on #10708
I've tried various different things to try and force an error - @markalle do you have a simple reproducer that will show a failure if a user defines one of these global symbols?

[2022-08-25 17:00] mwheinz opened #10717 "Question about how OMPI handles OFI HMEM and completion semantics"
Hey, guys.

A question came up about how the  OMPI OFI MTL and BTL handle ensuring that CUDA/HMEM buffers are completely in sync at the end of a data transfer. Looking at the code, the BTL requests FI_DELIVERY_COMPLETE which is a straightforward answer, but the MTL does not - how does OMPI handle the risk that the data transfer could be complete from the CPU's point of view but still not flushed t

[2022-08-25 17:17] rhc54 commented on #10698
Okay, I can look at that one. Should be easy to fix.

[2022-08-25 17:31] rhc54 commented on #10698
I believe it still is an MCA param - I'm not sure you can make it a per-job cmd line option, can you?

[2022-08-25 17:38] rhc54 commented on #10641
Haven't gotten there yet. What I saw in a quick scan is that two of the nodes were being skipped when we assemble the node list for mapping. I don't have any immediate idea as to why that happened. Once I get the remaining cmd line issues resolved (hopefully today), I plan to come back and look at this one. Probably have to add some verbose/debug code and ask for it to be re-run.

[2022-08-25 18:03] rhc54 commented on #10698
Stack trace issue is fixed here https://github.com/openpmix/prrte/pull/1472

[2022-08-25 19:11] awlauria commented on #10698
Thanks!

[2022-08-25 19:11] devreal opened #10718 "HCOLL fails to save coll handlers and ends in Segfault when used with HAN"
I'm trying to run `coll/han` with `coll/hcoll` as a backend but see the following issue on both `main` and `5.0.x` on Hawk (ConnectX-6 fabric):

[code]

At the end of the run I get a Segfault:

[code]

It looks like coll/hcoll sends a corrupted/invalid context to `hcoll_context_free`.

[2022-08-25 19:34] gkatev commented on #10718
Looks like the same cause as #9885

[2022-08-25 19:50] rhc54 commented on #10641
Crud - I'm dense. I don't need you to make more measurements - this is happening in the mapping phase. All I need is for someone to post the xml lstopo output from one of those nodes.

Can someone do that please?

[2022-08-25 19:52] shijin-aws commented on #10641
@rhc54 I can do that, may I know what command should I run to get that?

[2022-08-25 20:09] rhc54 commented on #10641
I believe it is simply `lstopo --of xml > file`

[2022-08-25 21:53] janciesko commented on #10459
This https://github.com/open-mpi/ompi/blob/96fadd9d6860bd1dc89f15e88a472f310ff13c89/ompi/instance/instance.c#L226 causes a deadlock as that lock is already taken by the executing thread. The lock is previously set here: https://github.com/open-mpi/ompi/blob/96fadd9d6860bd1dc89f15e88a472f310ff13c89/ompi/instance/instance.c#L800
https://github.com/open-mpi/ompi/pull/10720 fixes item three.

[2022-08-25 22:00] shijin-aws commented on #10641
[lstopo.txt](https://github.com/open-mpi/ompi/files/9428486/lstopo.txt)

[2022-08-25 22:24] rhc54 commented on #10641
Rats - it works perfectly for me with that topology, so it has to be something else. Can you please update the openpmix and prrte submodules to head of their master branches, rebuild, and then rerun the cmd line with `--display alloc --prtemca rmaps_base_verbose 5`?

[2022-08-26 08:26] brminich commented on #10590
@karasevb, can you please take a look?

[2022-08-26 19:43] shijin-aws commented on #10641
@rhc54 if I build ompi from github main source (with updated submodules). There is no such issue. But if I use the latest nightly main tarball https://download.open-mpi.org/nightly/open-mpi/main/openmpi-main-202208250241-96fadd9.tar.bz2, I can reproduce this issue

I build github ompi main source as

[code]

I build the nightly tarball as

[code]
I am not sure if there is a difference on the pmix/

[2022-08-26 19:46] rhc54 commented on #10641
You'll probably need to re-run autogen.pl once you copy them over since pmix/prrte will be coming from a git repo and not a tarball, but it should otherwise be okay. Afraid I don't know how old the pmix/prrte code is in the nightly tarball - could be fairly old.

[2022-08-26 20:07] shijin-aws commented on #10641
After copying and `./autogen.pl`, I hit this error during configure

[code]

[2022-08-26 20:12] shijin-aws commented on #10641
The latest github main commit is on Aug 24th, I thought the nightly main tarball on Aug 25 should be the same with the main branch. But I do not know how the tarball is generated.

[2022-08-26 20:50] rhc54 commented on #10641
How about this: do a `git clone` of OMPI, then do the submodule init. Go into the 3rd-party/openpmix and 3rd-party/prrte and in each one do `git checkout master; git pull`

Then just build OMPI as usual.

[2022-08-26 20:51] rhc54 commented on #10641
Oh, sorry - that's what you already did and it worked fine, yes? If so, then aren't we done? It's the tarball that is having the problem.

[2022-08-26 20:53] shijin-aws commented on #10641
Yes, I even did not bother checking out prrte and openpmix to master, I just use whatever is bumped to ompi main.

[2022-08-26 21:13] rhc54 commented on #10641
Okay - the commit history indicates that the PMIx/PRRTE submodule pointers were last updated on Aug 24. I'm guessing your nightly tarball was from before that date? If so, that would explain the difference.

[2022-08-26 21:14] shijin-aws commented on #10641
This nightly tarball https://download.open-mpi.org/nightly/open-mpi/main/openmpi-main-202208250241-96fadd9.tar.bz2 indicates it's generated on Aug 25 but I can still hit the issue with it.

[2022-08-26 21:36] rhc54 commented on #10641
No ideas, I fear - if you see large diffs between the tarball and the repo, then you'll need to ask someone over there about why the tarball has an out-of-date copy of the 3rd-party submodules in it.

[2022-08-28 22:11] sangallidavide commented on #10377
I have the same problem reported above about libevent with nvidia compiler.
If the configure does not find the external libevent, the compilation of the internal libevent fails.

On ubuntu the solution is to install libevent-dev
After that the installation works fine with the above change to the configure

[2022-08-29 07:51] ximtec opened #10726 "MPI_Win_create fails with -np 1"
Hi,

I am trying to compile and run an experiment in a simulation framework. I have tried other frameworks where I get no errors, but this uses some of the most recent and advanced MPI routines, so there seem to be some problems.
I have asked some of the developers who have installed the same version of openmpi who run the program without errors, so something must be wrong with my installation (an

[2022-08-29 10:52] karasevb commented on #10590
I cannot reproduce the Singleton MPI_Comm_spawn_multiple failure with UCX. I've built v5.0.x (647d79305743b992b15d0e1999d8cd7b178974e0) + patches that @jjhursey mentioned and it works well with ob1/ucx pmls.
Perhaps this requires a special OMPI config line?

[2022-08-29 13:15] devreal commented on #10726
I can reproduce this issue, but only if I am disabling the osc/ucx component (using `--mca osc rdma`). Are you sure Open MPI is built with UCX support? Can you pass `--mca osc ucx` to `mpirun` to force the UCX component to be used? I will look into the osc/rdma issue later.

[2022-08-29 13:17] devreal commented on #10726
This seems to be 4.1.x-specific, I cannot reproduce it with 5.0.x or main.

[2022-08-29 20:37] shijin-aws commented on #10641
@rhc54 Sorry, there was a mistake on my side that I was pulling the ompi main branch from a stale github repo https://github.com/openmpi/ompi.git.

It should be https://github.com/open-mpi/ompi.git

After pulling the correct repo URL I can reproduce the slurm resource detection error now.

I tried to update the prrte/openpmix submodule as you said

Then I re-build ompi via `make -j install`, but I

[2022-08-30 05:35] ximtec commented on #10726
Hi thank you for the reply - I had a talk with some of our in-house developers. The issue was the configuration of UCX. I added --enable-mt to the UCX configure options instead of the openmpi configure options, and that fixed the issue.

Closing

[2022-08-30 11:48] devreal commented on #10726
Reopening since this is a real issue in osc/rdma.

[2022-08-30 13:12] drwootton commented on #10705
I tested the remaining mpirun options, and have results in two files.

I updated help.txt with more comments, flagged with '%%' to distinguish them from the first set, flagged with '@@'.

There is a list of deprecated mpirun options in schizo_ompi.c, which I tested. Most/all of them did not appear in the mpirun --help text, so I created a separate file with the results of testing this. deprecated.

[2022-08-30 13:33] acse-sm321 opened #10730 "Try to install mpi4py+openmpi using conda on Ubuntu 20.04 but failed"
Thank you for taking the time to submit an issue!

## Background information
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.3 LTS
Release:	20.04
Codename:	focal

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Install using
`
conda create -n ENV_NAME -c conda-forge 'python=3.10.*' openmpi mpi4py
`

### Describe how Open MPI was installed (e.g.,

[2022-08-30 13:54] ggouaillardet commented on #10730
Are you running a MPI program or a python `mpi4py` script?

If the former, did you build your program within the `conda` environment?

From the `conda` environment, what does `type mpiexec` and `ompi_info --all` report?

[2022-08-30 14:32] awlauria commented on #10698
--display-devel-allocation, should map to --display devel-map
   - **Need to remove the devel-allocation option.**
 --display-topo/--display topo, does nothing. Should be removed? --display-topo should map to --display topo
- **mpirun mapping for display-topo needs adjustment**
 --merge-stderr-to-stdout does not seem to work as expected. fixes in master: https://github.com/openpmix/openpmix/pull/2

[2022-08-30 14:37] gpaulsen commented on #10726
It would be nice to have a better error message at the very least.

[2022-08-30 15:00] jsquyres opened #10731 "Git clone fails to build on MacOS: can't find libevent"
On main HEAD (5571dbabec232a5135ebdf62265b9ffe3522c6f9), with

[code]

A simple configure on MacOS fails to complete because it can't find libevent.  The same behavior occurs on v5.0.x HEAD (2ade147b0509fc70d600889fa74b0f4b972f1824) with

[code]

Specifically, the internal PRTE configure complains:

[code]

(full configure output attached here: [configure-output.txt](https://github.com/open-mpi/om

[2022-08-30 15:00] haampie opened #10732 "Regression when HOME is not set"
On OpenMPI 4.1.4 there was some questionable behavior when `HOME` was not set, namely trying to open `\0/.openmpi/mca-params.conf`.

[code]

It seems this is fixed on the main branch, but in a surprising way, namely `mpicc` errors when `HOME` is not set.

[code]

I would expect this to be ignored, just like it's not an error when the file `~/.openmpi/mca-params.conf` does not exist.

Can this be f

[2022-08-30 15:22] gpaulsen commented on #9924
@edgargabriel Did #9945 resolve this completely?  Can we close this issue?

[2022-08-30 15:29] hppritcha commented on #10732
this issue needs some additional context.  Apparently a variant of spack environments works without a HOME directory defined, causing problems with spack installs of open mpi unless one disables use of HOME param files on the config line.  This then introduces potential surprises to end users of the installed package as they may be expecting for Open MPI to use a param file in ~/.openmpi

[2022-08-30 15:47] edgargabriel commented on #9924
@gpaulsen yes, should be complete. Closing the ticket.

[2022-08-30 15:47] #9924 closed

[2022-08-30 17:06] acse-sm321 commented on #10730
@ggouaillardet  Thanks for your  help. Tried to install with pip in CLI and success. I am running a .py script.  Not so sure if conda caused this problem so I decide not to use conda now. You may keep this issue and see if can re-produce this issue on Ubuntu 20.04.3 LTS , installed with `conda create -n ENV_NAME -c conda-forge 'python=3.10.*' openmpi mpi4py`, then run `mpiexec` or `mpirun` should

[2022-08-30 19:15] awlauria commented on #10641
@shijin-aws try cloning again, or rm -rf'ing `src/mca/common` from the openpmix directory.

[2022-08-30 20:12] wckzhang commented on #10641
@awlauria I have some time so I will try that

[2022-08-30 20:13] jjhursey commented on #10705
### Supported: Failed to run

 * `--stop-in-app`
   - > does not accept the parameter mentioned in the help text, and if the parameter is omitted, mpirun doesn't seem to do anything.
   - **ACTION**: Needs fixing. Austen may have already fixed this.
 * `--output proctable x`
   - > specifying '--output proctable x' writes to stdout/stderr and no file is created.
   - **ACTION**: Needs fixing or cl

[2022-08-30 20:18] wckzhang commented on #10641
@awlauria I'm also seeing the same issue after rm rf'ing src/mca/common and fetching the latest openpmix and prrte

[code]

[code]

[2022-08-30 20:29] wckzhang commented on #10641
I noticed that it seems to have to do with timing.

When I run ```mpirun -np 144 --display alloc --prtemca rmaps_base_verbose 5 /bin/true``` (fully subscribes 4 nodes), it always works on the first iteration after waiting some time. If I run within 30 seconds of that run, it won't find all the nodes:

ie.

[code]
Out of 4, only a 2 or 3 are obtained for mapping.

However if I wait a little more, t

[2022-08-30 20:32] janciesko commented on #10459
Item three needs support for recursive locks in Qthreads. This is in progress.

[2022-08-30 20:58] gregfi opened #10734 "TCP connectivity problem in OpenMPI 4.1.4"
## Background information

### What version of Open MPI are you using?
4.1.4

### Describe how Open MPI was installed
Compiled from source

```/openmpi-4.1.4/configure --with-tm=/local/xxxxxxxx/REQ0135770/torque-6.1.1/src --prefix=/tools/openmpi/4.1.4 --without-ucx --without-verbs --with-lsf=/tools/lsf/10.1 --with-lsf-libdir=/tools/lsf/10.1/linux3.10-glibc2.17-x86_64/lib```

### Please describe th

[2022-08-30 21:11] awlauria commented on #10641
@wckzhang you'll need to autogen + configure + build again since that `PMIX_RUNTIME_OPTIONS` is generated before compile time into pmix_common.h.

Another option is to just clone from ompi into another directory and rebuild with master pmix + prrte before you autogen/configure.

[2022-08-30 21:53] hppritcha commented on #10705
I'll take a pass at the
[code]
items

[2022-08-30 21:56] jjhursey commented on #10590
@karasevb I created a fresh build of Open MPI `v5.0.x` with UCX `1.13.0` and it is working fine now. So I'm not sure what happened in that test. If I see it again I'll try to track it down a file a bug.

Below is the current state of Singletons on the various branches/releases (using `ob1` and `ucx` - tested separately):

Version | Singleton | Singleton MPI_Comm_spawn | Singleton MPI_Comm_spawn_mu

[2022-08-30 22:02] wckzhang commented on #10641
It looks like this check is failing:

[code]

which is kicking it out of the list

[2022-08-30 22:06] wckzhang commented on #10641
Specifically, node->topology->topo is NULL.

[2022-08-30 22:12] markalle commented on #10708
Ah, yes I did make an actual test that shows how redefining one of those global symbols in an MPI user applications breaks OMPI:

*** demonstrating why pollution is a problem:

I tried a few functions and not everything gets called in every run of course, but one example that I was able to get called was "append_frag_to_ordered_list".  A user could have a function with that name in their user app,

[2022-08-30 23:19] wckzhang commented on #10641
I'm trying to figure out where node->topology->topo is being set without much success. I'd guess either hwloc had some issue grabbing the topology or we're dropping that information when the prte daemon communicates back to the hnp containing node information.

[2022-08-31 00:07] wckzhang commented on #10641
That's pretty much the issue, I just copied the topo information from the valid topo objects of other nodes and it worked fine. The node->topology->topo information being dropped is the issue, just need to figure out why (I can't tell exactly where this is being set, so I can't figure out where along the line the information is dropped.

[2022-08-31 00:11] gpaulsen commented on #10734
Hello.  Thanks for submitting an issue.

I'd be curious to see your `mpirun` command line.   I usually use something like `mpirun -host <host1>:4,<host2>:4 a.out` to run 4 ranks on each node.  Of course if you're inside of an LSF or Torque allocation, it may auto-detect your job's allocation and launch that way.

NOTE: your configure option `--with-lsf-libdir=/tools/lsf/10.1/lin`, I would guess sh

[2022-08-31 00:42] satishpasumarthi opened #10735 "[Question] ORTE daemon behavior on non-leader nodes"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

It was installed from source using make install.

### If yo

[2022-08-31 00:47] gregfi commented on #10734
Sorry - the configure line got chopped off; I edited the post above to correct it.

Yes, I'm submitting via LSF, so my mpirun line looks something like:

```bsub -n 32 -I mpirun /path/to/ring_c```

[2022-08-31 00:51] rhc54 commented on #10641
@wckzhang Rather than chase this ghost, perhaps it would be more efficient to just give me access again and I'll try to chase it down? The only way that topology can be NULL is if a daemon returns a topo signature that is different from the one coming from the first compute node in the allocation, and we don't go out and get the topology from it.

It sounds more like the problem we had before wher

[2022-08-31 01:05] rhc54 commented on #10641
Actually, my chasing it is probably the wrong answer, at least for now. Better for you guys to learn how to debug this code, so let me tell you what I would do to chase this down.

First, run with `--prtemca plm_base_verbose 5` so you can see the daemons report back - this happens in src/mca/plm/base/plm_base_launch_support.c in the prte_plm_base_daemon_callback function which starts at line 1365

[2022-08-31 01:48] rhc54 commented on #10641
BTW: this code snippet shows that you are NOT at the head of PRRTE master branch. I added output from that spot in the code base when I was working previously on this problem. I suspect, therefore, that you have a stale checkout that doesn't include the fix.

The code should look like this:
[code]
Note the big `PRTE_OUTPUT_VERBOSE` in the code block. Please try to ensure that you ARE at the head o

[2022-08-31 01:56] rhc54 commented on #10735
Yes, it does

I'm afraid not - the death of any ORTEd process will cause automatic termination of all application processes.

It depends. If you are on a managed machine (e.g., Slurm), then we use the resource manager's native launcher (e.g., srun) to start the ORTEd processes. If not, then we rely on ssh for that purpose.

[2022-08-31 02:50] ggouaillardet commented on #10730
FWIW, I tried and it works for me (I used miniconda from wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh)

How did you install `conda`?

[2022-08-31 03:12] wckzhang commented on #10641
@rhc54 Yeah I am not on the head because of the compilation issue that I'm seeing:

[code]
I cloned a fresh Open MPI and checked out the latest origin/master for  openpmix and prrte and still hit this issue, not sure why this is happening. I also tried just updating prrte and still hit this issue. Do you have any idea why this isn't building?

[2022-08-31 03:20] wckzhang commented on #10641
I'm going to close this issue and reopen one in prrte. This happens during the mapping phase and is not really something in Open MPI. Since Ralph doesn't get notifications here I think it'd be more productive to just open an issue in the prrte repo.

[2022-08-31 03:36] wckzhang commented on #10641
Hmm, since this is a blocker and it seems like the automation kicked in, I'll reopen the issue, but progress will be updated in the prrte ticket.

[2022-08-31 07:08] dalcinl commented on #10590
@jjhursey I'm not sure you got my request for advice for a related issue in mpi4py/mpi4py#247. I'm just asking for your comment about whether this is a know issue that can be somehow worked around via MCA params, or I should just disable tests as known failure.

[2022-08-31 07:24] rhc54 commented on #10641
FWIW: I have fixed the notification problem. Had to completely delete the old `rhc at openmpi dot org` even though it wasn't primary. Weird, but effective.

Still, let's iterate over on the PRRTE ticket.

[2022-08-31 10:24] acse-sm321 commented on #10730
@ggouaillardet I installed using Anaconda https://www.anaconda.com/products/distribution. I will try miniconda see if it works

[2022-08-31 11:52] karasevb commented on #10590
@janjust do you have any idea how to fix this?

[2022-08-31 12:58] dalcinl opened #10736 "MPI-4: Singleton init and MPI_Comm_create_from_group()"
### Reproducer

[code]

### Output

Running under `mpiexec` with 1 MPI process produces the expected output:
[code]

However, running in singleton mode, the output is different (and incorrect) for COMM_WORLD:
[code]
as the communicator handles are not equal, the last line should print `1` (the value of `MPI_CONGRUENT`) and not `0` (`MPI_IDENT`).

@jjhursey @hppritcha One of you guys should figure

[2022-08-31 13:20] jjhursey commented on #9869
I'm going to work on picking this up later this week. @bwbarrett Can you give me a sketch of your technique on your branch?

[2022-08-31 13:22] janjust commented on #10590
hm, weird, I'm not really sure why it's segving in Finalize, but can take a look, could be a double free

[2022-08-31 14:01] dalcinl commented on #10592
@hppritcha Another recent issue [[logs]](https://github.com/mpi4py/mpi4py-testing/runs/8114520639?check_suite_focus=true), it happened on GitHub actions with 3 MPI processes (but not 1 or 2). I could not reproduce with in main (updated a few hours ago). I'll try to restart the build.

The failing test is related to the following reproducer:

[code]
As you can see in the reproducer, trying to get t

[2022-08-31 16:27] afonari opened #10737 "[Question] How to use --report-child-jobs-separately flag?"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v 3.1.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

OpenMPI from the nvidia HPC sdk.

When I run a program, I get:
[code]

I thought if I add `--report-child-jobs

[2022-08-31 17:39] jsquyres commented on #10734
Is the IP address that it tried to connect to correct (9.9.11.33)?

Also, is there a reason you're using TCP over IB?  That is known to be pretty slow compared to native IB protocols.  I think early versions of TCP over IB had some reliability issues, too.  You might just want to switch to building Open MPI with UCX and let Open MPI use the native IB protocols.

[2022-08-31 17:40] jsquyres commented on #10735
@satishpasumarthi Did this answer your question?

[2022-08-31 17:50] gregfi commented on #10734
I think the IP address is correct, but there are some connectivity problems. What's puzzling is that OpenMPI 3.1.0 works. Is there any way to see what interface is being used by mpirun?

Yes, UCX would be preferable, but SLES12 is fairly old at this point, and the version of librdmacm that we have on the platform [fails at configure time for UCX](https://www.mail-archive.com/users@lists.open-mpi.o

[2022-08-31 17:57] satishpasumarthi commented on #10735
Hi @rhc54 @jsquyres , Thanks for your reply. I have some follow up questions on the ssh/ORTE process.
- Does the ORTE process has anything to do with ssh timeouts or max connections (default 10) ? If the mpirun is running on > 10 nodes, will there be any issues because of ssh default setting of max connections ?

- We are seeing `ORTE has lost communication with a remote daemon`  issues while usin

[2022-08-31 18:26] omor1 commented on #10687
Some additional context is that this appears to be related to issues in dynamically connecting processes; setting the `mpi_preconnect_mpi` MCA option avoids these issues. According to @bosilca there have been some issues in PRRTE recently regarding this. I'm not sure why it only shows up with `MPI_THREAD_MULTIPLE`, but I might guess that it's a race between connecting the processes and attempting

[2022-08-31 18:31] rhc54 commented on #10687
Why would PRRTE be involved in this? We don't have anything to do with HCA selection.

[2022-08-31 19:03] bosilca commented on #10687
For at least two reasons: 1. without preconnect the modex is asynchronous, and 2. the error obtained indicates the inability of the communication to get the info about the peer (which also suggests that the modex might not yet be available at the moment of the connection establishment).

[2022-08-31 19:47] rhc54 commented on #10687
Kewl - but isn't that a question of how and when OMPI does its modex? I could see if PRRTE decided when it was going to do the modex, or if PRRTE decided what info to include in it or whether to do it async or not. But PRRTE doesn't do any of that - that's all controlled by you folks during MPI_Init.

[2022-08-31 19:58] jsquyres commented on #10734
UCX/old SLES: ah, got it.  I assume the cost (e.g., in time/resources) to upgrade to a newer OS is too prohibitive.

That being said, it might be that hard to get new librdmacm + new UCX + Open MPI v4.x to work with UCX/native IB.  E.g., if you install all of them into the same installation tree, and ensure that that installation tree appears first in your `LD_LIBRARY_PATH` (i.e., so that new libr

[2022-08-31 20:21] bwbarrett commented on #9869
The end goal is to have libopen-pal.so split into two libraries: libopen-pal_core.la that is not installed, and libopen-pal.la that is installed.  mpicc/mpirun/etc. would only link libopen-pal_core.la (note that since it's a noinst library, we don't have to do the renaming for that library).  Unfortunately, mpicc/mpirun/etc. need some functionality that is only available via mca components, which

[2022-08-31 20:41] rhc54 commented on #10735
I'm lost - your processes will terminate and then mpirun terminates, having seen all the application procs terminate. Am I missing something?

You control the ssh fanout with the routed framework by setting `OMPI_MCA_routed_radix=N`, where N is the desired fanout. I believe it defaults to 64, so you may need to dial it down. Each daemon that is launched "daemonizes" itself into the background, thu

[2022-08-31 20:53] jsquyres commented on #10735
As Ralph mentioned, on the non-mpirun nodes, when all of your individual MPI processes terminate, the local `orted` will terminate.  `mpirun` should not terminate until all `orted`s have terminated.

I'm not entirely clear on your question, either: by definition, `mpirun` should be the last thing to terminate.  Are you asking about some process monitoring the MPI job from outside of the MPI job?

[2022-08-31 20:56] jsquyres commented on #10737
@open-mpi/ucx This seems to be an NVIDIA HPC SDK question.  Can you answer?

[2022-08-31 21:05] jsquyres commented on #10717
@open-mpi/ofi This seems like a question for you guys, as well as those discussing the accelerator framework.

[2022-08-31 21:20] bwbarrett commented on #10717
I'm not sure FI_DELIVERY_COMPLETE is important to the completion semantics for HMEM buffers.  FI_DELIVERY_COMPLETE is requested by the BTL because of one-sided completion semantics, not the HMEM bits.

The short answer is that peer to peer transactions and network completions is a mess, and really depend on the accelerator in use.  For Nvidia GPUs, the answer is that someone has to set the `CU_POI

[2022-08-31 21:30] wckzhang commented on #10641
The fix is in https://github.com/openpmix/prrte/pull/1484 and merged, just need to update submodule pointers.

TL;DR
When running mpirun on a node without the same topology as the compute nodes, we can receive a daemon without daemon 1 reporting back yet. We cache this for when daemon 1 reports back, but we don't actually update the topology at this point.

This issue wouldn't be hit when running

[2022-08-31 21:32] rhc54 commented on #10641
and going into v3.0 here: https://github.com/openpmix/prrte/pull/1485

[2022-08-31 21:37] rhc54 commented on #10737
Nah, it's an ORTE question. It sounds like you have a job that doesn't call comm_spawn, and so there is only the one job. The message is telling you that all the procs in the job terminated "normally", meaning that none of the procs terminated by signal (e.g., a segfault). However, at least one process returned a non-zero exit, which we treat as an error, and so we return that status.

The `--repo

[2022-08-31 21:46] jsquyres commented on #10708
See also #8262.

[2022-08-31 21:58] satishpasumarthi commented on #10735
Thank you @jsquyres and @rhc54 for your replies.

I'm not entirely clear on your question, either: by definition, `mpirun` should be the last thing to terminate. Are you asking about some process monitoring the MPI job from outside of the MPI job?

That being said, know that SSH is only used to _launch_ ORTE daemons (`orted`) across nodes. Once the peer `orted` is launched, the SSH session closes,

[2022-08-31 23:42] rhc54 commented on #10735
You can check for `mpirun` to exit - it doesn't hang around once things are done.

Yes, that is correct. Note, however, that this limits the size of the job to the number of simultaneous ssh connections the system allows you to have.

Sounds like you have a flaky TCP connection. There are OMPI MCA params you can use that sometimes help with that situation. You can find them with `ompi_info` (the f

[2022-08-31 23:54] satishpasumarthi commented on #10735
Thanks for the suggestion. Is waiting for the `ORTEd` process on the non-leader nodes same as checking for `mpirun` on leader node ?

If there is no limitation on the number of simultaneous `ssh` connections to the system and if `-mca plm_rsh_no_tree_spawn 1 ` is specified, then it would increase the start up time of the run as the establishment of `ssh` connections is sequential. Am I right in my

[2022-09-01 00:07] rhc54 commented on #10735
Not exactly. Each ORTEd notifies `mpirun` when its local procs terminate (normally or error). Once all ORTEds have notified, `mpirun` broadcasts a "die" message to the ORTEds. When received, each ORTEd relays the message down the routing tree (if one exists) and then exits.

Key difference is that only `mpirun` knows the exit status of the job you ran, so only `mpirun` will exit with that status.

[2022-09-01 00:20] satishpasumarthi commented on #10735
Thank you @rhc54  for your prompt reply.

So apart from debugging, it is always recommended to use the tree spawn. Thanks !

If an ORTEd process on the tree at non-leaf level terminates, does the main `mpirun` process know and log the exact termination message as it would do on a non-tree spawn model ?

[2022-09-01 02:03] rhc54 commented on #10735
`mpirun` will be told about it, regardless of whether or not the ORTEd is on a leaf. `mpirun` does get the basic error message (e.g., "lost contact"), but I'm not sure what you mean by an "exact" termination message. We rarely have any way of knowing why the ORTEd vanished beyond "lost connection".

If you are looking to see if the ORTEd actually output an error message before terminating, then yo

[2022-09-01 06:15] afonari commented on #10737
Gotcha, thanks for the explanation @rhc54, closing.

[2022-09-01 06:15] #10737 closed

[2022-09-01 08:14] SpinTensor opened #10740 "Fortran Neighbor_Alltoallw fails with `MPI_ERR_TYPE: invalid datatype`"
Hi all,

I'm running a Xubuntu 20.04.5 LTS with an OpenMPI 4.0.3, which was installed via the package manager.
I also used a the 5.0.x branch of OpenMPI, which I compiled with gcc-11.2.0 for testing:
[code]

Please consider the following test code, where I set up a three dimensional cartesian non-periodic communicator and call a neighbor_alltoallw:
[code]

I compiled it with
[code]
and executed it

[2022-09-01 09:17] #10633 closed

[2022-09-01 15:31] dalcinl commented on #10592
@hppritcha Another maybe related issue: when running in singleton init mode, the reproducer above deadlocks at the `pset = session.Get_nth_pset(num)` line.

[2022-09-01 16:52] dalcinl commented on #10592
@hppritcha Now I'm not sure this new issue is related to this one. Do you want me to open a new one?

[2022-09-01 17:11] wckzhang commented on #10641
Submodule pointers have been updated. Closing.

[2022-09-01 17:11] #10641 closed

[2022-09-01 17:13] wzamazon commented on #10717
@bwbarrett

According to @jdinan in this discussion https://github.com/aws/aws-ofi-nccl/pull/152, it seems that both CU_POINTER_ATTRIBUTE_SYNC_MEMOPS and flush are needed to ensure data consistency.

I think it is reasonable to expect libfabric to set CU_POINTER_ATTRIBUTE_SYNC_MEMOPS (given UCX set it)

Should Open MPI issue the flush?

[2022-09-01 17:55] bwbarrett commented on #10717
That comment does not match what UCX does, nor the CUDA documentation.

[2022-09-01 17:56] mwheinz commented on #10717
Which part?

[2022-09-01 18:04] jjhursey commented on #10698
Re: `--stream-buffering`: Two PRs to adjust the handling to be more Open MPI centric and less PRRTE dependent.
 * https://github.com/openpmix/prrte/pull/1489
 * https://github.com/open-mpi/ompi/pull/10746

We can now set it via an MCA parameter, instead of only being able to set it from the PRRTE CLI. This restores some functionality from when it was originally introduced in https://github.com/ope

[2022-09-01 18:36] hppritcha commented on #10592
its a different problem so please open a different issue.

[2022-09-01 20:30] bwbarrett commented on #10717
The need for a flushing read.  NCCL needs a flushing read because it doesn't follow https://docs.nvidia.com/cuda/gpudirect-rdma/index.html.  I believe we expect MPI applications to follow the host cuda call rules of that doc, and Libfabric/MPI to set the SYNC_MEMOPS attribute on receive buffers.  I did not find a flushing read in UCX source code, but I'd  be happy for someone to point it out to me

[2022-09-01 21:04] dalcinl opened #10749 "Singleton Init and `MPI_Session_get_num_psets()`"
### Configuration

[code]

### Reproducer

* Python code:
[code]

* Execution (singleton init, without mpiexec):
[code]

### Behavior
Deadlock at the `num = session.Get_num_psets()` line.

[2022-09-01 21:04] dalcinl commented on #10749
@hppritcha You may want to take a look at this one.

[2022-09-01 22:18] jdinan commented on #10717
As Brian said, MPI applications follow the GDR rules above, so CUDA deals with the GPU's memory model gotchas for you. NCCL bends some of these rules -- notably, it has a kernel *already running* on the GPU at the time data is written to device memory via GPUDirect RDMA. NVIDIA GPUs don't reflect PCIe write after write ordering to the SM (WAW order is obeyed for PCIe accesses to GPU memory). The P

[2022-09-02 00:59] gregfi commented on #10734
Yes, unfortunately, upgrading the OS is a major undertaking and is not an option at this time.

I ran some additional tests with one of our parallel applications on a portion of our cluster that has been partitioned off for investigation of this issue. This portion does not seem to have the TCP connect() error, but it does exhibit another issue that I've seen with OpenMPI 4.1 versus 3.1: considera

[2022-09-02 13:03] mwheinz commented on #10717
@jdinan - thanks. You've made the whole thing so much clearer for me. Have you looked at https://github.com/aws/aws-ofi-nccl/pull/152? The reason I ask is that the NCCL maintainers are claiming problems with cudaDeviceFlushGPUDirectRDMAWrites on some network stacks.

[2022-09-02 13:34] jdinan commented on #10717
@mwheinz Yes, I'm involved in this work. There's an issue in the libfabric stack that we haven't been able to identify. We aren't able to reproduce the cudaDeviceFlushGPUDirectRDMAWrites hang with the InfiniBand NCCL network module. Would be glad to work with you on debugging this, as we don't have a good setup to reproduce it in house.

[2022-09-02 14:05] rhc54 opened #10755 "OMPI main cannot build with internal PRRTE and PMIx?"
I'm trying to build OMPI's main branch with the internal PMIx and PRRTE submodules. However, PRRTE configure fails every time complaining that it cannot find the PMIx devel headers. This makes perfect sense as those headers aren't installed until PMIx gets built, but I cannot help but wonder how others are getting around this problem?

I can use the external alternatives - just wondering why the d

[2022-09-02 14:07] awlauria commented on #10755
It might be mac specific issue. MTT ran clean last night, and CI is completing successfully. Can someone else with a mac confirm?

[2022-09-02 14:46] rhc54 commented on #10755
Seems to be something being left behind that causes the problem. If I build from a fresh clone, it works. However, if I take a clone and build it against external support, and then try to reconfigure for internal support, it is borked.

Probably not worth chasing down. I honestly don't build the code very much any more, but just wondered if I was missing something.

[2022-09-02 14:46] #10755 closed

[2022-09-02 14:49] awlauria commented on #10755
You may have needed to do a `make distclean` before rebuilding in that case.

[2022-09-02 15:02] rhc54 commented on #10755
Quite possible - just very unexpected and consumed a fair amount of time trying to figure out what to do about it.

🤷‍♂️  Like I said, I don't build it very often at all - I think this is the first time in at least 6 months - so not worth worrying about.

[2022-09-02 15:52] jjhursey commented on #10590
@janjust I spent some time today tracking this down. I suspected that it was due to the environment I was running in for testing (isolated Docker container).

I found the fix and posted a PR: https://github.com/open-mpi/ompi/pull/10758

I posted a summary of my investigation to the PR. Locally, I applied a similar fix to `v4.1.x` (minor code movement changes due to the drift between branches), and

[2022-09-02 20:05] qkoziol opened #10759 "Collective CUDA operations have dangerous pointer operation that could corrupt memory"
Thank you for taking the time to submit an issue!

## Background information
While reviewing another PR, I noticed that several routines (mca_coll_cuda_scan, mca_coll_cuda_reduce, mca_coll_cuda_allreduce, mca_coll_cuda_reduce_scatter_block, and mca_coll_cuda_exscan) have similar blocks of code:

[code]

If the `gap` value is > 0, the memory before the malloc'ed buffer will be overwritten.

### Wha

[2022-09-02 20:20] bosilca commented on #10759
I don't think this is the case. The gap in the beginning of the datatype is never accessed, this usage is a trick to avoid allocating the entire extent of the datatype and instead only using the true extent.

[2022-09-02 21:20] qkoziol commented on #10759
Well, the 'gap' variable is not used if it's a host memory buffer, but it is modifying the buffer pointers for the GPU memory case.   So, it seems like an uncommon case (a GPU memory buffer) that probably still has a problem and the code path (gap > 0) hasn't been accessed yet.

[2022-09-03 12:45] Loay-Tabbara commented on #10285
hello :)
could please tell me which mca options are meant?   thanx ^_^

[2022-09-03 14:00] Loay-Tabbara commented on #10285
your comment saved my b***

export OMPI_MCA_mpi_ft_enable=true
export PRTE_MCA_prte_enable_ft=1
that did the trick for me!
but am not sure why, but i am not able to set  "np" flag to a low number for when i set it to a low number the program does not work well
is there a way to set it as an environmental variable?
thanx in advance :)

[2022-09-04 18:12] JiajunHuang1999 commented on #10601
@BrendanCunningham NO, it just get killed. 16777216 is the MPI_Float input array size. I just run the job with 64 ranks and with no specific configurations. Thanks.

[2022-09-05 05:46] zhf-0 opened #10761 "two mpi programs running at the same time will influence each other"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.0.1, downloaded from [open-mpi official web](https://www.open-mpi.org/software/ompi/v4.0/)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from a source

### Please

[2022-09-05 06:47] cherry530 commented on #9171
This problem also occurs when i only use 4.1.4 version.
The command to trigger this problem is as follows:/usr/lib64/openmpi/bin/ompi-clean
log:
[localhost.localdomain:00323] OPAL ERROR: Unreachable in file ext3x_client.c at line 252
[localhost.localdomain:00323] [[INVALID],INVALID] ORTE_ERROR_LOG: Unreachable in file base/ess_base_std_tool.c at line 142
-------------------------------------------

[2022-09-05 11:31] rhc54 commented on #10761
The two `mpirun` instances don't know anything about each other, and so each assumes it has full use of the available resources. Since they use the same placement algorithm, they will both bind their respective application procs to the same places - thus resulting in an overload situation (i.e., where more than one proc is bound to a CPU).

Several ways to solve this, but the easiest for your situ

[2022-09-05 11:33] rhc54 commented on #9171
IIRC, you need to execute `mpirun --pernode ompi-clean`. The errors you show indicate that as the `ompi-clean` process can't find the OMPI daemon it should connect to, which indicates it needs to be started by `mpirun`.

[2022-09-05 14:37] rhc54 commented on #10761
@ggouaillardet I gather you did not read what I wrote 😄 We bind to core if `np <= 2` - always have, still do.

[2022-09-05 16:52] rhc54 commented on #10761
The message is unfortunately not very helpful. Since you specified a single cpu and we bound you to a single cpu, then you are "bound to all available processors". If you specify more than one cpu, you'll get the more expected and helpful message as we will still bind you to only one and you won't, therefore, be bound to all available.

[2022-09-06 10:21] ggouaillardet commented on #10761
Thanks @rhc54 for the explanation.
Do you remember the rationale for binding to a single core when `-np 1`?

(fwiw, I wrote my reply long before yours ... until I realized I did not press the `Comment` button...)

[2022-09-06 10:47] rhc54 commented on #10761
I don't recall there being one. We decided that `np=2` should be bound to core because of benchmarks and typical user performance testing. There was a lot of debate about `np > 2`, and we wound up with bind to NUMA so threaded apps would quit immediately complaining to us. Not sure that was really the best solution, but that is what we did.

So I think the case of `np=1` was just that `np=2` was t

[2022-09-06 15:28] jjhursey commented on #10708
Per Open MPI teleconf Sept. 6:
 * This ticket deals primarily with name prefixing.
 * A question about the use of `OPAL_DECLSPEC` was noted:
   * We need to add something to the developer docs (maybe a paragraph) on its function and intended usage in the Open MPI codebase.
   * Scenario: Shared library DSO would need to use this attribute if they want a symbol to be usable outside of that library/

[2022-09-06 15:47] artemry-nv commented on #10583
Hi Jeff,
Sorry for the delay. What is the actual version of the fix? PR https://github.com/open-mpi/ompi/pull/10602?

[2022-09-06 16:15] jsquyres commented on #10583
@artemry-nv Please see https://github.com/open-mpi/ompi/issues/10583#issuecomment-1192474466.

[2022-09-06 16:34] artemry-nv commented on #10583
Thanks, started Blackduck scanning - if everything is OK, we'll see the results tomorrow. Again sorry for the inconvenience.

[2022-09-06 19:07] jjhursey commented on #9206
PR #10704 is probably as good as we will get with a deprecation warning for this functionality. It has been merged into `main`

[2022-09-06 19:07] #9206 closed

[2022-09-06 21:13] naughtont3 commented on #10708
See also #10770

[2022-09-06 21:17] rhc54 commented on #10708
Purely FWIW: in PMIx and PRRTE we replaced it with `PMIX_EXPORT` for the very reasons you are experiencing - the DECLSPEC notation is too confusing/obtuse and developers kept getting it wrong.

[2022-09-06 21:18] naughtont3 commented on #10708
Sounds like I should eliminate PMIX from the PR, if for no other reason than to avoid speaking about things beyond just OMPI/OPAL's use of DECLSPEC.

[2022-09-06 21:19] rhc54 commented on #10708
Ah, I hadn't looked at it - yes, that would be good as we eliminated DECLSPEC from our code.

[2022-09-07 04:05] JMSnyder1980 opened #10773 "compat open-mpi for redhat 8.5"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
 mpi version 4.11

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

I installed it using yum installl

### If you are building/installing from a git clone, please copy-

[2022-09-07 08:21] artemry-nv commented on #10583
As far as I see BlackDuck still reports about libevent 2.0.21 findings - now there's 1 match instead of 2 previously.

[2022-09-07 08:27] artemry-nv commented on #10583
Going to try latest v4.1.x as well.

[2022-09-07 13:58] jjhursey commented on #10773
This is more of a question for the RHEL package maintainers. Looking at my RHEL 8.6 box I only see an `openmpi` and `openmpi-devel` pair of packages.

I did find [this old RHEL ticket](https://bugzilla.redhat.com/show_bug.cgi?id=1158864#c11) talking about changes to the `compat-openmpi` package between RHEL 6 and 7. My best guess is that they dropped it in RHEL 8.

[2022-09-07 14:22] jsquyres commented on #10583
@artemry-nv Can you share a little more information?  Your July 23 comment on this issue (https://github.com/open-mpi/ompi/issues/10583#issuecomment-1193143273) showed a table with 5 rows -- are those what you are calling "matches"?

And just to be clear, you're saying that you applied the patches from #10565, ran the scanner, and Black Duck is still reporting 1 match (which assumedly means it fou

[2022-09-07 14:24] jsquyres commented on #10285
@awlauria @gpaulsen Did the recent v5.0.x submodule updates fix this issue?

[2022-09-07 15:01] devreal commented on #10525
https://github.com/open-mpi/ompi/pull/10527 was ported to 5.0.x, 4.1.x, and 4.0.x. Closing this issue.

[2022-09-07 15:01] #10525 closed

[2022-09-07 16:11] jjhursey commented on #10631
The fixes were merged into PRRTE `v3` and the submodule pointer for Open MPI `v5.0.x` have been updated. I think we are good to close this issue.

[2022-09-07 16:11] #10631 closed

[2022-09-07 21:08] jjhursey commented on #9869
I posted an early preview PR #10779  -- I need to do more testing, but it is looking good so far.

[2022-09-07 22:57] artemry-nv commented on #10583
No, these are issues in libevent 2.0.21 known to BlackDuck.

We tried https://github.com/BrendanCunningham/ompi/tree/libevent/10542-cve-fixes-v4.1.x and https://github.com/open-mpi/ompi/commits/v4.1.x (https://github.com/open-mpi/ompi/commit/0d8b7375c7df8d65f4ce8d2c333d1badd33306bc) - BlackDuck still reports that ompi/lib/libopen-pal.so.40.30.2 uses libevent 2.0.21 with known vulnerabilities. Plea

[2022-09-08 06:27] cherry530 commented on #9171
It will report the same error when I use "mpirun --pernode ompi-clean" this way.
May I ask whether orte-clean will remove this function or repair it in the future.

[2022-09-08 19:06] janciesko commented on #10459
We have added a draft PR for supporting recursive locks in Qthreads. https://github.com/Qthreads/qthreads/pull/111
With this feature, we resolve the deadlock reported in item three.

[2022-09-09 16:24] NISCHALPI opened #10782 "r"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

### If you are building/installing from a git clone, please copy-n-

[2022-09-09 16:41] hppritcha opened #10783 "MAN PAGES: may need to update the ERRORS section for MPI 4.0"
Currently there's a pretty generic ERRORS section in 308 of our man3 man pages with wording like this:
[code]

In some places MPI_File_set_errhandler, etc. is used for calls with explicit win, file, or sesssion.

There is no mention of the initial error handler introduced as part of the MPI 4.0 standard.
This quasi-generic blurb should probably be updated to reflect changes with default error hand

[2022-09-09 17:26] awlauria commented on #10782
@NISCHALPI was this created in error?

[2022-09-09 17:44] NISCHALPI commented on #10782
Sorry yeha.

[2022-09-09 17:44] #10782 closed

[2022-09-11 21:23] abouteiller commented on #10285
I did not experience this issue with the latest v5.0.x fa738c5c

[2022-09-11 21:24] #10285 closed

[2022-09-13 00:37] gregfi commented on #10734
Bump. Any thoughts on how to narrow down the problem?

[2022-09-13 01:43] Malcolm-Cohen commented on #9795
I note the erroneous
    scalar TYPE(&ast;)
instead of the standard
     TYPE(&ast;),DIMENSION(&ast;)
is still in 4.1.4.

That is, the program following the
"checking for Fortran compiler support of TYPE(*), DIMENSION(*)"
line (starting at line 69152 of configure) has
<pre>
  interface
     subroutine foo(buffer, count)
       ! buffer
       type(*), intent(in) :: buffer
       integer, intent(in

[2022-09-13 04:29] ggouaillardet commented on #10734
from the logs, Open MPI 3.1.0 uses **both** `eth0` and `ib0`, but Open MPI 4.1.4 **only** uses `eth0`.

I suggest you try forcing `ib0` and see how it goes

[code]

[2022-09-13 07:17] karasevb commented on #10687
@omor1 can it be reproduced with "--mca pml ob1"?
And could you please provide some simple reproducer of the problem?

[2022-09-13 08:25] dalcinl opened #10794 "MPI-4: Routines that can be called before MPI_Init"
See Table 11.1 in Sec 11.4.1 pp 513 of the MPI-4.0 std document. This table lists routines that can be called BEFORE `MPI_Init_[thread]`.

However, with current Open MPI main branch, some of these routines cannot be called before `MPI_Init_[thread]`.
The list of routines with issues follows:

 *  `MPI_INFO_GET_STRING` (I have not checked `MPI_INFO_GET_VALUELEN`)
 *  `MPI_INFO_GET_NTHKEY`
 *  `MPI_

[2022-09-13 13:59] tclune commented on #9795
@malcom-cohen   Thanks - very much looking forward to using these features with NAG compiler!

[2022-09-13 14:16] jsquyres commented on #10734
@ggouaillardet is right.  But I see that the v4.1.x log is *also* using the `sppp` interface -- I don't know what that is offhand.

In both versions of Open MPI, I'd suggest what @ggouaillardet suggested: force the use of `ib0`.  Splitting network traffic over a much-slower `eth0` and a much-faster `ib0` can have weird performance effects.

Have you tried uninstalling the OS IB stack and installin

[2022-09-13 15:33] jjhursey commented on #10698
Cross-reference Issue #10705

[2022-09-13 17:01] jjhursey commented on #10773
I will close this since it looks like a RHEL packaging issue. I have used Open MPI (installed from the tarball, and from `yum openmpi` -- just not with the `compat-openmpi` target) on RHEL 8.6.

[2022-09-13 17:01] #10773 closed

[2022-09-13 19:21] wzamazon opened #10797 "Main branch configure's --disable-builtin-atomics option is not working"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

main branch at commit b2c26c5993c895a8aab8b7d582aea9bcca9a89b8

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[co

[2022-09-13 19:24] devreal commented on #10797
That's likely the result of #10613, must have messed up some configure logic. Will look into it.

[2022-09-13 21:13] gregfi commented on #10734
Forcing the use of `ib0` with OpenMPI 4.1.4 does not seem to improve the performance.

Part of the dysfunction here may be differing versions of OFED being installed on the build machine as compared to the rest of the cluster. (I'm asking the admins to look into it.) I thought 3.1.0 was using IB via TCP, but that seems to not be correct - I see `openib` being cited in the in the 3.1.0 verbose outp

[2022-09-13 21:32] jsquyres commented on #10734
I just re-read your comments and see this:

Does this mean each run is on a single node, launching MPI processes on 16 out of 28 total cores?

[2022-09-13 22:25] jsquyres commented on #10583
@artemry-nv When you applied the Brendan Cunningham fixes, did Black Duck identify fewer vulnerabilities in Libevent 2.0.21?

Or does it not matter whether the Brendan Cunningham fixes are applied or not -- Black Duck just says "I found Libevent 2.0.21, and it is known to have CVEs" (but does not provide any details).

I'm trying to determine whether Black Duck is actually scanning the source code

[2022-09-14 00:26] gregfi commented on #10734
There are three nodes in this special testing queue - each with 28 slots, so 84 slots in total. I submitted ten 16-process jobs to the queue, so about half of them would run entirely within a single node and the other half would be split between nodes.

[2022-09-14 00:42] jsquyres commented on #10734
Oh, that makes a huge difference.

If an MPI job is running entirely on a single node, it won't use TCP at all: it will use shared memory to communicate on-node.  More generally, Open MPI processes will use shared memory (which is significantly faster than both TCP and native IB) to communicate with peers that are on the same node, and will use some kind of network to communicate with peers off-no

[2022-09-14 14:57] Ttw0626 opened #10799 "mpirun all of ranks are zero, but mpiexec is work"
### Background

the MPICH could work in my PC, however, I am going to build the Openmpi on my PC and remove totally the MPICH.
However, before the remove, the mpirun of Openmpi will show that all of ranks are zero,
after the remove of MPICH, the case is same.

What's more, the speed of execution is too too slow compared to mpirun of MPICH.

### What version of Open MPI are you using? (e.g., v3.0.5

[2022-09-15 03:38] rhc54 commented on #10799
Did you recompile the program using OMPI? The two MPI implementations are not binary compatible. This is usually one of the signs.

[2022-09-15 05:58] ggouaillardet commented on #10799
you can
[code]

and see if you can spot some inconstancy.

[2022-09-15 13:08] jsquyres commented on #10799
That, or using the `mpiexec` from Open MPI with an MPICH-compiled binary, or using the `mpiexec` from MPICH with an Open MPI-compiled binary.

To be 100% clear:

- To use Open MPI, you must compile your app with Open MPI's wrapper compilers and use Open MPI's `mpiexec` (or `mpirun` -- `mpirun` and `mpiexec` are exactly identical/equivalent in Open MPI)
- To use MPICH, you must compile your app wit

[2022-09-15 14:50] Ttw0626 commented on #10799
Thanks!!!!

Until now, I thought I already fixed it.

I re-install the OS. hahahha. i can't find another way.

Thanks all.

[2022-09-15 14:53] jsquyres commented on #10799
Sounds like the issue is resolved.  Great!

Open a new issue if something else comes up.

[2022-09-15 14:53] #10799 closed

[2022-09-16 11:49] jjhursey commented on #9869
Fixes in:
 * `main` : https://github.com/open-mpi/ompi/pull/10779
 * `v5.0.x` : https://github.com/open-mpi/ompi/pull/10809

[2022-09-16 16:28] rhc54 commented on #10705
You need to be careful here to distinguish between options that face the user vs options that`mpirun` must accept due to other requirements. For example the `--keepalive` option is used when PMIx is asked to fork/exec the DVM in response to a singleton comm_spawn, or is asked to fork/exec `mpirun` by a debugger tool (which is a use-case from the DDT debugger team). Likewise, `--singleton` is requi

[2022-09-16 17:20] janciesko commented on #10459
We have added a PR for supporting recursive locks in Qthreads. https://github.com/Qthreads/qthreads/pull/112

[2022-09-16 17:43] jsquyres commented on #10459
Does Open MPI need to use some minimum version of Qthreads in order to ensure correctness?  If so, it might be worthwhile to enforce that in the qthreads component's `configure.m4`.

[2022-09-16 19:55] mwheinz opened #10811 "Hopefully a quick question about process layout across hosts in the hostfile..."
Hey, guys.

I have a user who is used to handling process placement by simply listing hosts multiple times in the hostfile so that, for example, if he wanted 2 ranks on host A, 1 on host B, and 2 on host C, his hostfile would read:

A
A
B
C
C

What he recently realized was that orte seems to be "de-duping" his hostfiles and assigning things in a strictly round-robin fashion of A,B,C,A,B.

Is this

[2022-09-16 20:12] rhc54 commented on #10811
That way never did work as described - we always simply added up the occurrences to get total number of slots and then round-robin assigned locations. You want to use the sequential mapper `--mca rmaps seq` to get the behavior he describes.

[2022-09-17 16:35] rhc54 commented on #10705
I'll try to provide some thoughts when/where I can.

`--leave-session-attached` is usually the very first thing we ask the user to do when they report launch problems so we can see if any error messages are coming from the daemons. It is also needed if you want to see the daemon output from any verbose options you set. Perhaps better to simply improve the help message on it.

`--personality` proba

[2022-09-19 09:25] jinfagang opened #10812 "how to build?"
./configure can not found

autoconf error:

[code]

[2022-09-19 09:29] jinfagang commented on #4417
Same error here in 2022.... how to resolve

[2022-09-19 09:33] ggouaillardet commented on #4417
@jinfagang please open a new issue and provide the required information.

As you pointed, this is 2022, and no one should be using Open MPI 2.x with gcc 6 from brew.

[2022-09-19 09:34] ggouaillardet commented on #10812
please provide all the required information when opening a new issue.

[2022-09-19 11:16] gkatev opened #10813 "[FR] Color coding for ompi_info"
Hello, I'd like to throw in a low-importance quality-of-life improvement: add colors to the output of ompi_info. I'm mostly thinking of this for MCA parameters, to help navigate long outputs.

I've prototyped an example of what something like this might look like:

![tuned_both](https://user-images.githubusercontent.com/31203804/191004649-371df6f5-de87-4d97-8e92-3b3872beba94.png)

[2022-09-19 11:56] jinfagang commented on #10812
@ggouaillardet please let me know how to build master, there is no configure file how to confg? thanks!

[2022-09-19 12:01] hoopoepg commented on #10812
try to run autogen.pl file first
BTW, it seems submodule config/oac is missing in repo

[2022-09-19 12:33] ggouaillardet commented on #10812
@jinfagang since you did not provide any information, I will assume you try to build from the `git` repository.

Unless you have a good reason to do so, you'd better download the latest official tarball (it contains `configure`)

[2022-09-19 13:44] bosilca commented on #10813
Nice. One suggestion: enable colors only when the terminal has ANSI capabilities and we are not dumping the MCA as parsable.

[2022-09-19 14:20] jinfagang commented on #10812
@ggouaillardet hi, I am so confused, what's their bias? why git doesn't have configure? Also, autogenerated.pl need pearl installed? Sorry I didn't get it, am just familiar with cmake..... this software seems very ancient.

[2022-09-19 14:35] jsquyres commented on #10813
That is super awesome - I love it!  🎉  Can you make a PR?

I do echo @bosilca's suggestion, though -- only use colors if it's a TTY (e.g., if you pipe the output of `ompi_info` through `less` or `more` or something, we don't want ANSI sequences in there.

[2022-09-19 14:46] ggouaillardet commented on #10812
@jinfagang you should not try to build from git on your first rodeo.

[2022-09-19 15:05] jinfagang commented on #10812
@ggouaillardet Hi, I **just want to know ** why?

[2022-09-19 15:06] jinfagang commented on #10812
why git doesn't have configure and downladed have , doesn't they should at least source code keep same?

[2022-09-19 15:13] ggouaillardet commented on #10812
it is a bad practice to put automatically generated file into a source repository.

[2022-09-19 15:18] jinfagang commented on #10812
so the autogen.pl I have to install peratl to run

[2022-09-19 15:19] jsquyres commented on #10812
There is a big difference between what we developers store in Git and what we release in distribution tarballs for Open MPI:

1. The Git repository contains the source code. As a best practice, we do not store any generated files in Git, for a variety of reasons:
    * When you generate files, the output can vary depending on the version of the tools that you use to generate the files and your loc

[2022-09-19 19:22] drwootton commented on #10708
I looked at the list of symbols generated by @markalle testcase and tagged them in 3 categories,

- &GT;&GT; static: Appear to be referenced in only one .c file and can be made static
- &GT;&GT; 3rdparty/...: Belong to a 3rd party package, which I did not analyze further to see if they could be made static
- &GT;&GT; symbol_name: Part of ompi or opal, and the right hand name is the proposed new sy

[2022-09-19 19:41] jsquyres commented on #10812
@jinfagang If we have answered your question, go ahead and close this issue.  If we don't hear back from you within a few days, I'll take the liberty of closing it.  Feel free to open a new issue if something else comes up.

[2022-09-19 20:03] abouteiller opened #10816 "OAC submodule pulled from my own fork"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

main / ee324be1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Forked Open MPI, pulled from my own repo

## Detai

[2022-09-19 20:07] bwbarrett commented on #10816
happy to take a pull request...

[2022-09-19 22:54] satishpasumarthi commented on #10735
Hi @jsquyres, Sorry for delayed response on this.
We made an interesting observation that the leader node continues execution even though the `ORTEd` on the non-leader node dies. Also we have seen that a file is being written onto `/tmp` directory in that node with the name prefix `<node-name>`. Trying to dig up more details and contents of that file. Will share here as soon as I get to the conten

[2022-09-20 00:59] gregfi commented on #10734
OK, the machines I was running on got wiped and re-inserted into the general population and some _other_ machines were swapped in to my partition of the network. These new machines are running SLES12-SP5, and the OFED version mismatch issue was sorted out. I re-compiled OpenMPI 4.1.4, and `openib` seems to be working better... mostly. I still see some messages to the effect of:

[code]

I'm not su

[2022-09-20 07:04] gkatev commented on #10813
Perfect! Yea, I will look around and see where to implement it.

[2022-09-20 13:36] jsquyres commented on #10734
Some clarifying questions:

* With your shared memory tests, are you running with 12 dedicated cores on a single host (and no other MPI processes on the node at the same time)?  If not, can you explain exactly how the jobs are run?
* If you're able to run with `openib`, you should probably also be able to run with UCX.  Have you tried that?
    * I keep asking about UCX because it is better suppor

[2022-09-20 13:47] gregfi commented on #10734
- Yes, the shared memory tests are running with 12 dedicated cores and no other simultaneous processes.
- I've gotten the admins to install the UCX devel libraries, and I'm trying the configuration right now. It's an older version (1.4) that's distributed with the OS, but I'm hoping it can be made to work. (I see the warning about 1.8, but hopefully earlier versions are OK.)
- Yes, with the ^tcp j

[2022-09-20 13:51] jsquyres commented on #10734
FYI: You should be able to download and install a later version of UCX yourself (e.g., just install it under your `$HOME`, such as to `$HOME/install/ucx` or somesuch).  It's a 100% userspace library; there's no special permissions needed.  Then you can build Open MPI with `./configure --with-ucx=$HOME/install/ucx ...`.

[2022-09-20 14:12] gregfi commented on #10734
Understood, but current UCX does not work with the version of librdmacm from the OS. In principle, I could install a newer version, but it would be far easier if the OS load set could be made to work.

Job #1, which is performing somewhat slowly has:

[code]

Job #2, which is performing very slowly, has:

[code]

Seems like there's overlap, no?

[2022-09-20 14:22] jsquyres commented on #10734
I forgot about your librdmacm issue.  Yes, you could install that manually, too -- it's also a 100% userspace library.

Yes, those 2 jobs definitely overlap -- that's why you're seeing dramatic slowdowns: multiple MPI processes are are being bound to the same core, and therefore they're fighting for cycles.

At this point, I have to turn you back over to @gpaulsen because I don't know how Open MPI

[2022-09-20 14:33] rhc54 commented on #10734
If you are running multiple `mpirun` calls that are receiving the same allocation information, then they will overlap as the don't know about each other. It sounds to me like either an error in your `bsub` command or a bug in the ORTE internal code that reads the resulting allocation info. If you are saying this worked with OMPI v3.x, I very much doubt the ORTE code changed when going to OMPI v4.x

[2022-09-20 14:42] gkatev commented on #10813
I created #10820 (draft), and will gradually update it in the next days.

[2022-09-20 14:44] gpaulsen commented on #10734
@markalle Can you please take a look?

Perhaps some ORTE verbosity will shed some light on things?

[2022-09-20 14:54] BrendanCunningham commented on #10601
@JiajunHuang1999 any updates on this? Any core files produced or output in `dmesg` or other system logs showing events around the time the job fails?

[2022-09-20 15:06] jsquyres commented on #10583
@janjust @artemry-nv Ping.

[2022-09-20 15:53] gregfi commented on #10734
What parameters should I set?

[2022-09-20 17:31] rhc54 commented on #10734
If you have built with `--enable-debug`, add `--mca ras_base_verbose 10` to your `mpirun` cmd line.

[2022-09-20 17:41] markalle commented on #10734
Are these jobs running at the same time?  If they're not running at the same time then I don't think there's any overlap, they both look like 2-host jobs where

Job 1 is:
host bl3403 : 12 ranks
host bl3402 : 4 ranks

and Job 2 is:
host bl3402 : 8 ranks
host bl3401 : 8 ranks

But if they're both bsubed simultaneously and are both trying to use bl3402 at the same time then I see what you're saying a

[2022-09-20 17:46] gregfi commented on #10734
Yes, both jobs were running at the same time.

Re-compiling with `--enable-debug` to try Ralph's suggestion. I'm not sure I understand @markalle's suggestion

[2022-09-20 18:15] gregfi commented on #10734
Job #1: `7*bl3404; 9*bl3402`

[code]

Job #2: `12*bl3403; 4*bl3404`

[code]

[2022-09-20 18:18] rhc54 commented on #10734
Yeah, there is no isolation being provided here by LSF, and so they are going to overlap 100%. Nothing OMPI can do about it. You need to modify your `bsub` command to ensure isolated allocations.

[2022-09-20 18:32] jsquyres commented on #10734
@gregfi What @rhc54 is saying is that LSF is not telling Open MPI specifically which cores to use for each MPI process in the 2 jobs.  Hence, Open MPI is just starting with core 0 in the MPI processes in each job.  Is there a way you can tell `bsub` to pass along such info?

All this being said, can you repeat the same test (run 2 jobs simultaneously on the same node) with Open MPI v3.x, and see i

[2022-09-20 18:47] gregfi commented on #10734
The output looks a little different on 3.1.0. I'm not sure what to make of it. Performance on both jobs is good. Here's Job 1 (12*bl3404; 4*bl3401):

[code]

Here's Job 2 (8*bl3401; 8*bl3402):

[code]

[2022-09-20 18:57] rhc54 commented on #10734
Those two jobs are binding to socket, not core, and thus you won't see much difference as the procs are all sharing the processors in each socket anyway. Your prior example output showed mpirun binding each proc to core - hence the performance difference.

[2022-09-20 19:04] jsquyres commented on #10734
Ah yes, we changed the format of the output between v3.x and v4.x.  But the trailing `[B/...` output format is the same.

What it does show is a difference in the default binding scheme between Open MPI v3.x and 4.x:

- in v3.x, Open MPI is binding each process to an entire package.  I.e., all the cores in a single CPU package (i.e., all 6 cores).
    * There's a bunch of leeway in there for when

[2022-09-20 19:04] RobbieTheK commented on #7188
LMK is this should be a new issue but the `mca-btl-openib-device-params.ini` file is missing this Device vendor ID:
[code]
In the updated .ini file there is `0x2c9` but notice the extra 0 (before the 2)

This is on OpenMPI 4.1.1 in RHEL 8.

[2022-09-20 19:24] #10816 closed

[2022-09-20 19:50] artemry-nv commented on #10583
No, found the same issues. There were some duplication of the same issues counted twice (specificities of our BD scanning), so I might a bit confuse you initially.

Yes, something like this.

I bet it just looks for version info and raises CVEs known to the detected version. For example, we observed that BD wasn't able to detect version for some components and we have to define it manually.

[2022-09-20 21:30] jsquyres commented on #10583
Well, shoot.  Ok, thanks.  Per your July 23 comment, this isn't particularly urgent for Nvidia.  Will have some offline discussions to decide what to do here.

[2022-09-20 21:33] JiajunHuang1999 commented on #10601
@BrendanCunningham Still not solved. I will do the experiments again and send the files to you if there are any.

[2022-09-20 21:38] markalle commented on #10734
To get LSF to pick the affinity for the job which would let the two jobs not overlap each other I think the bsub setting you need is -R, for example:
```bsub -R'affinity[core(1):distribute=pack]' ...```

When an option like that is in use the job should get an affinity assignment, and you can confirm what it did by looking at some environment variables.  For example on my machine if I run two jobs

[2022-09-20 22:33] JiajunHuang1999 commented on #10601
@BrendanCunningham Seems that the same problem appears this time. It is a little random that some tests were successful the first time while failed the second time.
`mpirun -n 64 -N 32 -mca btl self,vader ./collective_OMPI 32768 `
[code]

[2022-09-21 01:10] gregfi commented on #10734
Ta-da! Run with OpenMPI 4.1.4 using `-R'affinity[core(1):distribute=pack]'`:

[code]

Thanks, guys! Before I mark this closed, are there similar options for Torque? We're between job schedulers at the moment, and I suspect this issue is affecting Torque jobs, also.

[2022-09-21 02:41] rhc54 commented on #10734
I guarantee there are, but heck if I can remember them. Easiest solution is to skip the hieroglyphics and just use `mpirun --bind-to socket` in both environments and be done with it. You'll get nearly identical performance without the hassle of environment-unique cmd scripts.

[2022-09-21 10:34] gregfi commented on #10734
On any given machine, there may be a handful of non-MPI jobs running where our MPI job is dispatched. Are the job schedulers smart enough to look at the state of the machine and pick a core (or socket) based on which slots are idle?

[2022-09-21 11:42] drwootton commented on #10708
Part 1 of solving this, making symbols in opal and ompi subdirectories static is solved by pull request #10825

[2022-09-21 11:54] jprotze opened #10826 "MPI_Parrived has wrong signature in mpi.h"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v5.0.0rc7 and git/main

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Independent of installation. The problem is in the public API header

### Please describe the

[2022-09-21 11:58] rhc54 commented on #10734
It sounds like your scheduler is configured to support that behavior - it must not be allocating solely at the node level. If it is allowed to allocate subdivisions of a node, then it will certainly do so.

[2022-09-21 13:58] #10797 closed

[2022-09-21 14:08] jsquyres commented on #10734
Let me re-phrase your question -- tell me if this is inaccurate:

I'm not an expert in this area / I do not closely follow the latest features of the various job schedulers out there, but this does not sound like a good idea.  My gut reaction/assumption is that your scheduler(s) do *not* account for jobs launched outside of the job scheduler, but you should check the specific documentation of your

[2022-09-21 18:50] jsquyres commented on #10826
Excellent catch; thank you!

I've filed #10831 to fix `main`; will cherry-pick it to `v5.0.x` when that PR is merged.

[2022-09-21 19:05] rhc54 commented on #10705
Do you guys want me to attend a Tues meeting, or perhaps a dedicated one, to review these? I fear that there is some misunderstanding here regarding the use of many of these options. It is probably okay to remove some from the help text, but we somehow have to maintain their usage or else other things the we regularly use will break and/or no longer be available.

[2022-09-21 21:07] janciesko commented on #10459
@jsquyres, yes and yes, we'd need a version check for qthreads to be >=1.18.

[2022-09-21 21:14] janciesko commented on #10459
[#108032](https://github.com/open-mpi/ompi/pull/10832) fixes item three.

[2022-09-21 22:03] markalle commented on #10734
I agree with jsquyres, on a former project I worked on we inherited an affinity system that tried to examine the load and pick a non-busy subset of the machines to run on and it was a terrible feature.  It produced unpredictable behavior from run to run and was just about always a degradation in performance.

As far as I know, LSF and any other scheduler is just going to partition the machines up

[2022-09-22 00:26] gregfi commented on #10734
No, that's not correct. All jobs are launched via the scheduler(s). I'm wondering if the scheduler has control over the which slots a non-MPI job occupies, or whether that's a decision made by the OS, and it sounds like the scheduler is probably deciding which slot to run the job on - or at least is capable of seeing which slots are vacant.  If that's the case, it sounds like binding to core (and

[2022-09-22 14:05] #10812 closed

[2022-09-22 17:47] markalle commented on #10734
That could be okay.  If all the jobs are bsubed through LSF then at least the total amount of work being put on each machine would match the number of slots/cores the machine has.  Then as to the specifics of which cores the various jobs are using you've got a few options, but I'd guess the non-MPI jobs wouldn't need to be created with a specific affinity, instead letting the OS decide.  I'd proba

[2022-09-22 21:46] bwbarrett commented on #7188
@RobbieTheK if you don't mind opening a new issue about the params typo, that would be great!

[2022-09-23 13:42] RobbieTheK commented on #7188
I found

[2022-09-23 14:07] jsquyres commented on #7188
@RobbieTheK Go ahead and open a new issue so that we can discuss there.  That's better than continuing a discussion on an issue that was closed ~3 years ago.  Thanks!

[2022-09-23 14:35] RobbieTheK opened #10841 "Device vendor ID: 0x02c9, part ID: 4123, WARNING: No preset parameters were found for the device that Open MPI detected"
OpenMPI 4.1.1 in RHEL 8,  5e:00.0 Infiniband controller [0207]: Mellanox Technologies MT28908 Family [ConnectX-6] [15b3:101b]

Using [this STREAM benchmark](https://anilmaurya.wordpress.com/2016/10/12/stream-benchmarks/) here are some verbose logs:

[code]

I found a reference to this in the [comments for mca-btl-openib-device-params.ini](https://accserv.classe.cornell.edu/svn/packages/openmpi/opa

[2022-09-23 14:54] jsquyres commented on #10841
UCX is definitely the way to go; this is NVIDIA's preferred mechanism.

Sidenote: running with `--mca btl openib` is expected to fail, because you also need the `self` and `vader` BTLs for self-process-loopback and on-node-process communication, respectively.  That being said, it seems a bit anti-social to segv instead of printing a helpful error message in these cases. ☹️

The warning message is

[2022-09-23 15:15] gkatev opened #10842 "ompi_info --help not working"
Hi, the available command line options to `ompi_info` are not showing as they are supposed to with the `--help` flag.

[code]
The command line options should appear right there in the middle after "Syntax:". This happens in main, and I'm also seeing it on my distribution's v4.1.4.

I dug a bit into it, but wasn't sure what the desired way to fix it is.

- Printing takes place in [opal_cmd_line_get

[2022-09-23 18:39] RobbieTheK commented on #10841
Here's what it looks like running` mpirun   --mca btl 'openib' -np 4 --host xxx,yyy  --oversubscribe --mca orte_base_help_aggregate 0 --mca opal_warn_on_missing_libcuda 0  ./stream_mpi`
[code]

And perhaps of interest the warning is clearer and no segv when running:
[code]

Is there an option/parameter to verify ucx is available?

[2022-09-23 20:21] RobbieTheK commented on #10841
Also when running `mpirun --mca pml ucx --mca  btl '^openib' `on the [OSU  Multi-threaded Latency Test](http://mvapich.cse.ohio-state.edu/benchmarks/) why can't ucx be selected?
[code]

[2022-09-23 20:51] hppritcha commented on #10592
closed via #10744 and #10784

[2022-09-23 20:51] #10592 closed

[2022-09-23 21:01] janjust commented on #10841
UCX built with multithreaded support?

—
Tomislav Janjusic
________________________________
From: RobbieTheK ***@***.***>
Sent: Friday, September 23, 2022 3:22:05 PM
To: open-mpi/ompi ***@***.***>
Cc: Tomislav Janjusic ***@***.***>; Team mention ***@***.***>
Subject: Re: [open-mpi/ompi] Device vendor ID: 0x02c9, part ID: 4123, WARNING: No preset parameters were found for the device that Open MPI d

[2022-09-23 21:08] RobbieTheK commented on #10841
Ah good question was done before my time. Is there a way to use `-x UCX_LOG_LEVEL=data `to find out?

[2022-09-23 22:12] jsquyres commented on #10841
I have a dim recollection that there were some bugs with UCX/UCT in the past that caused segvs when used in specific combinations.  Do you have the most recent version of UCX?

[2022-09-25 07:49] yosefe commented on #10841
@RobbieTheK can you pls run openmpi with "-mca pml_ucx_verbose 999" to show why UCX is not selected?

[2022-09-25 08:00] dalcinl opened #10849 "Broken build, likely outdated code in PSM2 component"
This is with current main branch, using an out-of-source build. I configured this way:

[code]

Note that I have PSM2 installed:

[code]

The build fails at the point of building the PSM2 component

[code]

Of course, adding `--without-psm2` to configure fixes my build.

[2022-09-25 14:38] RobbieTheK commented on #10841
[code]

[2022-09-25 17:18] yosefe commented on #10841
@RobbieTheK i don't see the error "PML ucx cannot be selected" here, seems UCX is used.
also, could you pls run "ucx_info -v" and post the output?

[2022-09-25 18:24] RobbieTheK commented on #10841
We don't have ucx installed, isn't it available in OpenMPI 4.1.1? From the verbose output does this apply? `UCX version 1.11.0`

[code]
Here's what I get with [OSU's](https://ulhpc-tutorials.readthedocs.io/en/latest/parallel/mpi/OSU_MicroBenchmarks/) benchmark:
[code]

[2022-09-25 19:05] yosefe commented on #10841
OpenMPI was probably build with custom UCX path, need to run ucx_info from there
Anyhow, according to this output UCX is being used correctly

[2022-09-25 19:19] RobbieTheK commented on #10841
OK so my questions are why the `WARNING: There was an error initializing an OpenFabrics device` and segfault when using `--mca btl openib` and does Device vendor ID: 0x02c9 need to be added to the .ini file?

How would I find ucx here?
[code]

[2022-09-25 19:28] yosefe commented on #10841
I'd advise to disable btl/openib component since it was deprecated and replaced by ucx: add `-mca btl ^openib` to mpirun.

`ldd ./lib/openmpi/mca_pml_ucx.so|grep libucp`

[2022-09-25 19:37] RobbieTheK commented on #10841
Thanks was aware of that just was suggesting a more useful message/log rather than segfault.

Does anyone know of a way to better use these benchmarks to find if there is a performance difference, e.g.,  if one's faster than the other? I get very similar results using STREAMS and OSU's micro benchmarks.

[2022-09-26 13:49] jsquyres commented on #10849
@wckzhang I'm guessing that this was as result of merging #10069.

@BrendanCunningham Can you guys look at this?

[2022-09-26 14:44] RobbieTheK commented on #10841
This error happens when I use the [OSU Multi-threaded Latency Test](http://mvapich.cse.ohio-state.edu/benchmarks/) and likely, OpenMPI was not compiled with OCX support. Can I make a suggestion to improve the warning to mention that?

[2022-09-26 15:05] BrendanCunningham commented on #10849
@jsquyres Yep, assign it to me.

[2022-09-26 18:48] wckzhang commented on #10849
Yeah this was a result of the accelerator framework, also needs to update the free after code in ompi mtl datatype pack to also do accelerator frees.

[2022-09-26 18:50] wckzhang commented on #10042
When I rewrote this section of code, I did not fix the bug. Here is the dtoh progress engine code in a patch:

https://github.com/open-mpi/ompi/pull/10852

However this needs to fix the actual issue of dtoh stream not being queried before it's merged.

[2022-09-26 20:29] rhc54 commented on #10705
Sure - happy to do so. Sorry I missed today's meeting - had a doctor's appt. Will work with Austen on alternate times.

[2022-09-26 22:56] wckzhang commented on #10849
Looked into it, this is actually because with --enable-mem-debug, malloc and free have been macro'd to opal_malloc and opal_free. The accelerator API uses malloc and free as its name, I'll change that to mem_alloc and mem_release

[2022-09-27 00:21] darrylabbate opened #10854 "IMB data validation errors on main branch"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

`main` @ f42993c

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Download from https://www.open-mpi.org/nightly/ma

[2022-09-27 01:15] wckzhang commented on #10849
PR to fix: https://github.com/open-mpi/ompi/pull/10856/commits

[2022-09-27 02:13] wzamazon commented on #10854
I will be working on it. Open the issue for awareness.

[2022-09-27 12:16] jsquyres commented on #10854
@wzamazon Is this an Open MPI core problem? Or something specific to EFA?  Does this affect any of the release branches?

[2022-09-27 15:24] naughtont3 commented on #10705
Quick follow-up regarding `mpirun` with DVM... it seems like the best thing for users would be to add ability to pass `--dvm-uri` down from the schizo/ompi options.  Otherwise they would need to use `prun` and all the other MPI related options would be absent.

I thought this would be a matter of adding `PMIX_OPTION_DEFINE(PRTE_CLI_DVM_URI, PMIX_ARG_REQD)` to schio/ompi but quick check didn't have

[2022-09-27 15:27] rhc54 commented on #10705
OMPI folks decided they did not want `mpirun` to connect to a DVM, and therefore there is no option for doing so.

There is no problem with OMPI users using `prun --personality ompi <bunch of OMPI options>` to run an OMPI-based job on a DVM.

[2022-09-27 15:31] naughtont3 commented on #10705
I was thinking passing the DVM uri was a good compromise to include for `mpirun`, as it would provide easy way for user to avoid having to adjust their `mpirun` to leverage the DVM.  Question was if it was difficult to add this functionality, or just "document" how to do it with `prun`.

[2022-09-27 15:32] rhc54 commented on #10705
Trivial to add, if you folks decide you want to do so.

[2022-09-27 15:56] naughtont3 commented on #10705
Q: Can we use `prun --personality ompi <bunch of OMPI options> --dvm-uri file:dvm.uri ...`?  Restated, can we use options from two schizo personalities?

[2022-09-27 16:04] rhc54 commented on #10705
It isn't mixing personalities - just telling prun to use the OMPI personality to parse the cmd line

[2022-09-27 16:09] naughtont3 commented on #10705
Ok, thanks for clarification Ralph.

And for notes on this ticket, i did following for quick test...
[code]

[2022-09-27 18:10] awlauria commented on #10698
Closing this in favor of #10705

[2022-09-27 18:43] #10698 closed

[2022-09-27 20:54] wckzhang opened #10860 "MCA_MTL_BASE_FLAG_ACCELERATOR_INIT_DISABLE does not work with non contiguous buffers"
This isn't a particularly new bug (existed in the CONVERTOR_CUDA days), but this flag seems to break the code. It seems like the intention is to avoid double pointer detection and allow the underlying component to detect what a buffer is. This breaks however in the ompi_mtl_datatype_pack code though. When the INIT_DISABLE flag is set, no CONVERTOR_ACCELERATOR will be specified and thus, when non c

[2022-09-28 17:20] wckzhang commented on #10849
@dalcinl it doesn't need to be backported yet as the original patch wasn't merged into 5.0.x, it can be closed. I'll make sure to backport all the necessary patches at once

[2022-09-28 17:20] #10849 closed

[2022-09-28 17:38] hppritcha opened #10862 "MPI_Group_from_session_pset should use PMIX_QUERY_PSET_MEMBERSHIP"
The current implementation of MPI_Group_from_session_pset will only work for process sets defined as part of the job launch mechanism.  PMIx allows for a more general approach for querying for the list of pmix_proc's in a pset.  We should use this query function to support use cases involving more flexible generation of pset names going forward.

[2022-09-28 17:50] rhc54 commented on #10862
FWIW: IIRC, I added the ability for PMIx to dynamically define process sets. I can check and ensure PRRTE supports it as well. Not sure if that is relevant to what you are denoting here, but thought I'd pass it slong just in case.

[2022-09-28 17:52] rhc54 commented on #10862
Also FWIW - you are correct about using the query function. Only the initial process set definitions are available to all procs in the job info. Dynamically created ones are known to their participants - others need to query for them. I'll ensure PRRTE supports that query.

[2022-09-28 18:41] awlauria commented on #7993
@hppritcha Since this is merged into v5.0.x we can close this I think.

[2022-09-28 18:41] #7993 closed

[2022-09-28 18:53] #9869 closed

[2022-09-28 21:41] wckzhang commented on #10854
I'm looking into it. It doesn't affect any release branches. This looks to be caused by one of the mtl/pml cm changes I did in the accelerator framework, doesn't affect ob1 as far as I can tell. I'm going to look into the mtl datatype packing code.

[2022-09-28 23:35] wckzhang commented on #10854
So I found the issue, in pml_cm.h there was a line added to call opal_convertor_prepare_for_send which shouldn't have been introduced as it does more than desired. Instead, I replace that check with a direct call to opal_convertor_accelerator_init, which only does the buffer detection. I'm guessing somewhere in OPAL_CONVERTOR_PREPARE, the convertor fields were overwritten.

[2022-09-29 13:00] awlauria commented on #9451
v5.0.x: https://github.com/open-mpi/ompi/pull/10784

[2022-09-29 14:14] rhc54 opened #10868 "Check to avoid duplicate sorting of arrays passed to PMIx"
PMIx v4.2.2 and above now sort all proc arrays passed between the library and OMPI during function calls. Thus, it is no longer necessary to sort them on the OMPI side before calling PMIx functions such as PMIx_Fence or PMIx_Connect when using v4.2.2 or above.

It is up to you if you want to check for the minimum requirement before sorting - just wanted to make you aware of the change.

[2022-09-29 15:27] rhc54 opened #10869 "Broken main branch in opal_converter.c?"
main branch at HEAD as of Thurs Sept 29 @ 31953c1

Vanilla configure (only prefix option specified), then make yields:
[code]
Anyone have an idea of how to work around or resolve this?

[2022-09-29 15:44] rhc54 commented on #10869
Just for further info - this is building on a Mac using gcc 12.1.0

[2022-09-29 16:41] BenWibking opened #10871 "silent performance degradation when cuda_ipc is not possible"
## Background information
There is a severe silent performance degradation (performance is reduced by 50% for my code!) when CUDA-aware MPI is being used but `cuda_ipc` has been disabled by the OpenMPI runtime.

The user is completely unaware that this is happening and is also unaware that a simple fix is available (do not set CUDA_VISIBLE_DEVICES and do not use managed memory). At the least, this

[2022-09-29 17:11] hppritcha commented on #10794
Okay I'm looking at this some.  Although the standard does have a list of functions that can be called prior to initializing MPI or a Session, that does not mean that these can be randomly tested with random wrong values prior to initialization of MPI and expect some useful behavior.   For example, for MPI_Info_f2c, if one's expecting to just call this alone in a test and put in some random value

[2022-09-29 17:45] #10869 closed

[2022-09-29 17:57] dalcinl commented on #10794
What makes you think I would have tested these routines with random input? I was working on properly written tests that would properly test an MPI implementation’s ability to function without MPI_Init. And then I faced all the issues I’m reporting here.

[2022-09-29 18:56] hppritcha commented on #10794
i'm wondering because if the test calls MPI_Info_create first, then the first four routines in the list should work - assuming of course there isn't a bug(s).  Anyway I'll see if I can reproduce, but will go on the assumption that MPI_Info_create is invoked first to get an info handle to use as an argument.

[2022-09-29 23:51] wckzhang commented on #10854
So the specific field that is being overwritten is: convertor.pBaseBuf   = (unsigned char*)buf + datatype->super.true_lb;. This is set as buf instead. Just need to restore this field.

[2022-09-30 00:18] wckzhang commented on #10854
Updated the PR, should work now

[2022-09-30 09:21] dalcinl commented on #10794
Of course ...

but there is a trivial "bug" indeed in each of these routines. The routines explicitly check for MPI initialization and they should not, see yourself:

* https://github.com/open-mpi/ompi/blob/main/ompi/mpi/c/info_get_string.c#L77
* https://github.com/open-mpi/ompi/blob/main/ompi/mpi/c/info_get_nthkey.c#L64
* https://github.com/open-mpi/ompi/blob/main/ompi/mpi/c/info_free.c#L60
* htt

[2022-09-30 22:10] rhc54 opened #10879 "Segfault in accelerator framework finalize"
Using HEAD of the main branch at d0c8ca9, built/executing on Mac with no accelerators. Running a simple MPI "hello" program generates a segfault during finalize - backtrace shows:
[code]
So it looks like the accelerator_finalize function is crashing.

[2022-10-03 16:30] hppritcha opened #10884 "MTL/OFI: bunch of new coverity issues"
The 10/1/22 run of coverity reported a bunch of issues in mtl_ofi.h.  Should be fixed for 5.0.0 release.

[2022-10-03 17:35] wckzhang commented on #10879
Theoretically this should be running with the null component, which shouldn't segfault as far as I can tell, as the finalize function doesn't do anything.

[2022-10-03 19:10] wckzhang commented on #10879
I'm building this on mac os to see if I can reproduce and dig deeper

[2022-10-03 19:38] wckzhang commented on #10879
@rhc54 what configure flags did you build with?

[2022-10-03 19:47] rhc54 commented on #10879
very vanilla: `./configure --prefix=/Users/rhc/openmpi/build/foobar --enable-mca-dso --enable-debug`

[2022-10-03 19:48] wckzhang commented on #10879
Okay, I will try with the mca-dso flag, without it I didn't have an issue with hello world on mac

[2022-10-03 19:54] rhc54 commented on #10879
Just double-checked it again - same result.

[2022-10-03 19:56] rhc54 commented on #10879
Here is the problem:
[code]
Note that the `null` component deselected itself.

[2022-10-03 20:14] wckzhang commented on #10879
Hmm, I still wasn't able to reproduce.

It looks to me that this function:

[code]

mca_base_components_close is being executed even though it should be skipping the NULL component. Can you comment out this line and see if this still occurs?

[2022-10-03 21:20] wckzhang commented on #10879
That's odd, it shouldn't be closing the component being provided in the 3rd parameter, that's confusing

[2022-10-03 21:29] wckzhang commented on #10879
Can you put some prints in the mca_base_components_close function and see why the null component is being closed even though it's provided as the skip parameter? I can't see why this is happening just from reading code

[2022-10-03 21:31] drwootton commented on #10708
The changes in the two open pull requests associated with this issue, #10859 and #10863 resolve the remaining incorrect symbols other than the following symbols in the 3rd-party/romio341 component.

    [error]   ad_get_env_vars
    [error]   file_stats
    [error]   romio_onesided_always_rmw
    [error]   romio_onesided_inform_rmw
    [error]   romio_onesided_no_rmw
    [error]   romio_read_aggme

[2022-10-03 21:32] wckzhang commented on #10879
If the issue is that line, this bug should be hit for any arch/accelerator component

[2022-10-03 21:48] wckzhang commented on #10879
I can write a patch with some additional debug information that might help me understand what's going on. From what I can tell, the null component was initialized successfully and selected successfully. The mca_base_components_close function was intending to close every component that was not the null component, but somehow it ends up closing the null component which later causes a segfault when t

[2022-10-03 22:27] rhc54 commented on #10879
Sorry for slow response - if you can provide a patch, I'm happy to apply it and report the output.

[2022-10-03 22:35] wckzhang commented on #10879
I think I was able to reproduce the not selecting null component bit, let me do some investigation first.

[2022-10-03 22:44] wckzhang commented on #10879
I'm starting to get an idea of what's going on, the pointers don't match even if they're the "same" component. I should be able to have a patch out today

[2022-10-03 23:05] wckzhang commented on #10879
https://github.com/open-mpi/ompi/pull/10889 <-- Do you want to test and see if this fix worked for you?

[2022-10-03 23:06] rhc54 commented on #10879
sure, i can give it a try

[2022-10-03 23:09] rhc54 commented on #10879
Yep, confirmed - that does indeed fix it! Thanks

[2022-10-03 23:33] wckzhang commented on #10879
I think the most confusing thing for me is why this didn't segfault all the time, but I guess it doesn't really matter *shrug*.

[2022-10-04 14:41] BrendanCunningham commented on #10601
@JiajunHuang1999

I think we're going to need more information to help you with this problem, specifically an opcapture that will get the fabric configuration and software versions.

To facilitate data requests and file sharing, we can utilize our support system. To do that, you can open a support case by sending an email to → support@cornelisnetworks.com with the subject `An error occurred in MPI

[2022-10-04 15:16] BrendanCunningham commented on #10542
@jsquyres can I close this issue? You merged the fixes into v4.1.x and no work is needed for main or v5.0.x, right?

[2022-10-04 15:25] jsquyres commented on #10542
Agreed.  Closing.

[2022-10-04 15:25] #10542 closed

[2022-10-04 17:16] wckzhang commented on #10879
Resolving issue as PR was merged.

[2022-10-04 17:16] #10879 closed

[2022-10-04 21:28] darrylabbate commented on #10854
Closing; fixed in #10864

[2022-10-04 21:28] #10854 closed

[2022-10-05 17:28] hppritcha opened #10895 "MPI_Comm_create_from_group works incorrectly when used with non-overlapping groups but same stringtag argument"
Turns out the way MPI_Comm_create_from_group is using the PMIx_Group_construct method doesn't correctly handle the case where multiple MPI processes are invoking MPI_Comm_create_group using different, non-overlapping MPI groups, but the same stringtag argument.

The wording in the MPI-4 standard does not indicate this is incorrect:

[code]

@dalcini

[2022-10-05 17:30] hppritcha commented on #10895
I'm marking this as a blocker because its solution will likely involve changes to a parameter in the mpi.h.in header file - which is incorrect in any case for the maximum allowed stringtag length.

[2022-10-05 17:33] rhc54 commented on #10895
So you are interpreting that statement as only requiring that all processes calling the function must pass the same stringtag, but not that the stringtag must be unique - yes? That strikes me as an oversight in the standard that needs to be addressed as it frankly makes no sense. Why "tag" a group if it isn't unique? What possible purpose could the tag serve in that case?

[2022-10-05 17:47] hppritcha commented on #10895
![Screen Shot 2022-10-05 at 11 41 19 AM](https://user-images.githubusercontent.com/7818666/194126109-4ba48dfa-6a51-4d7d-aff0-4790ef9b8fa2.png)

[2022-10-05 17:48] bosilca commented on #10895
The _stringtag_ is not about identifying the group, because otherwise the MPI standard would be standardizing how external software would have to name their groups. Instead, the stringtag is an identifier for the operation on this particular group. To understands why this is necessary one must look at the API of call, and notice that this API does not have a base communicator, which means there is

[2022-10-05 17:49] hppritcha commented on #10895
This goes back to the above figure a process sets.  We have a blurb in the MPI-4 standard, chapter 11, that states
[code]
So the MPI://SELF process set is an example of the former in the above statement, so I could see how a programmer may interpret that to mean that there's no reason for the stringtag to be unique if the group handle argument to the MPI_Comm_create_from_group came from non-overla

[2022-10-05 18:08] bosilca commented on #10895
What would have been the order of processes in the new communicator otherwise ?

[2022-10-05 20:40] rhc54 commented on #10895
Couple of responses/questions, but I'll post them separately.

I have to agree with this question. If a collection of procs calls this function using arbitrary ordering, then it isn't clear to me what the resulting communicator "rank" should be for the participants. If we follow typical MPI logic, it would be the position of the proc in the provided array - but that would differ across the collect

[2022-10-05 20:46] rhc54 commented on #10895
@hppritcha I wonder if we are getting caught in a confusion caused by overloading of the "group" term. Are you equating a given MPI communicator with a specific PMIx group? If so, that has some implications that might not be acceptable to the MPI community. Biggest difference is that we have unique string "names" for a group that helps us distinguish between them, even if they have the same member

[2022-10-05 22:00] hppritcha commented on #10895
@rhc54 getting side tracked today I'll answer questions here tomorrow.  we really are only using PMIx groups as a rendezvous mechanism not as something for tagging comms, groups, etc.

[2022-10-05 22:04] rhc54 commented on #10895
Gotcha - will look forward to your answers when you have time. FWIW, I attempted to clear up some terminology confusion here (https://github.com/open-mpi/ompi/pull/10886#issuecomment-1269027589) that might be relevant in this topic as well.

[2022-10-06 16:05] hppritcha commented on #10895
@rhc54 the only connection that the MPI communicator generated from MPI_Comm_create_from_group has to a PMIx group is the PMIX_GROUP_CONTEXT_ID we got back from the PMIx_Group_construct call.   We use the PMIx group constructor/destructor much like in the pmix example - group_lcl_cid.c, so by the time we return from the call, the pmix group has been destructed.    I think as long as we're using PM

[2022-10-06 16:16] rhc54 commented on #10895
Ah, okay - that should work then so long as you don't have two concurrent calls that include the same vpid in the first position as that would result in conflicting group IDs. Still noodling over possible solutions - or is that an illegal scenario under MPI? I wonder if OMPI couldn't just generate a unique tag internally, maybe using some thread-safe internal counter that you integrate into the ta

[2022-10-06 16:25] hppritcha commented on #10895
That approach may be the way to go.  we do that already for the mpi_intercomm_create_from_groups method.

[2022-10-06 22:36] jscook2345 opened #10901 "Installing OpenMPI on Perlmutter @ NERSC"
**Is your feature request related to a problem? Please describe.**
We'd like to introduce openmpi as a package on Perlmutter @ NERSC. We are aware there may some issues porting over to the latest HPE / Cray Slingshot interconnect and would like to help test solutions to improve progress in that direction.

**Describe the solution you'd like**
openmpi source that could be built and tested on perlmu

[2022-10-06 22:38] rhc54 commented on #10901
FWIW: OMPI is installed and running on Frontier, which is a Slingshot-based Slurm-run system. So long as you don't require VNI isolation, it should just work if you use OFI for the transport layer.

[2022-10-06 22:43] dalcinl opened #10902 "mpi4py: Getting PMIX ERROR: BAD-PARAM with branch v5.0.x"
This is with branch v5.0.x running mpi4py test suite on GitHub Actions.

I'm seeing the following output in the logs:

[code]

Full logs [here](https://github.com/mpi4py/mpi4py-testing/actions/runs/3200864393/jobs/5228254114)

[2022-10-06 22:45] dalcinl commented on #10902
I forgot to clarify: All tests are successful. But the message is suspicious and unexpected. So I'm reporting it.

[2022-10-06 22:45] hppritcha commented on #10901
The problem is we need 5.0.0 for ss11.

[2022-10-06 22:46] hppritcha commented on #10901
And we are patiently waiting for that release to happen

[2022-10-06 22:48] hppritcha commented on #10901
If a pre release would be okay we could go with that.

[2022-10-06 23:17] dalcinl commented on #10895
@hppritcha Sorry, I missed this issue, I was traveling. BTW, my GH username is @dalcinl, with final "L" (as in Lima) , not "I" (as in India). Let me know once you have PR to try out your fix.

[2022-10-07 12:32] jsquyres commented on #10901
@jscook2345 Just to be 100% sure: you mean Open MPI, not OpenMP, right?  (your initial post says "openmp")

[2022-10-07 14:17] jscook2345 commented on #10901
@jsquyres Yes, sorry. open-mpi. I will fix the typo.

[2022-10-07 15:10] rhc54 commented on #10895
@hppritcha Been thinking about it some more and the indexing approach to the stringtag passed to `PMIx_Group_connect` isn't going to work. Problem is that all the procs must call your MPI function, and they all must pass the _same_ string tag to `PMIx_Group_connect` so we can properly perform the rendezvous. The index isn't guaranteed to be the same across all procs, so that doesn't work.

What I

[2022-10-07 16:07] hppritcha commented on #10794
closed via #10898 and #10885

[2022-10-07 16:07] #10794 closed

[2022-10-10 12:26] awlauria commented on #10902
Looks like these are happening in spawn tests.

[2022-10-10 12:27] awlauria commented on #10902
@dalcinl have you seen this happen in main?

[2022-10-10 12:34] dalcinl commented on #10902
@awlauria A build of main that ran 3 days ago is clean [[logs]](https://github.com/mpi4py/mpi4pytesting/actions/runs/3208534158/jobs/5244481729), no error messages at all.

[2022-10-10 16:20] janciesko commented on #10459
I am marking issue 4 as complete as I cannot reproduce that issue anymore.

[2022-10-10 17:00] hppritcha commented on #10749
closed via #10885 and #10891

[2022-10-10 17:00] #10749 closed

[2022-10-10 18:11] janciesko commented on #10459
I am marking issue 2 as complete as I cannot reproduce that issue anymore. In this case I am using the default downstream dep on libevent 2.1.12.

[2022-10-10 18:51] jtfrey opened #10908 "OFI BTL/MTL and efficacy of disable setting"
Thank you for taking the time to submit an issue!

## Background information

Setting `btl_ofi_disable_sep=1 mtl_ofi_enable_sep=0` does not disable OFI libfabric from using multiple PSM2 contexts per endpoint.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.1, 4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution t

[2022-10-10 19:04] hppritcha commented on #10736
closed via #10800 and #10844

[2022-10-10 19:07] dalcinl commented on #10736
@hppritcha Did you forget to click the close button?

[2022-10-10 19:34] jjhursey commented on #10826
PRs have been merged:
 * `main` https://github.com/open-mpi/ompi/pull/10831
 * `v5.0.x` https://github.com/open-mpi/ompi/pull/10839

[2022-10-10 19:34] #10826 closed

[2022-10-10 19:44] hppritcha commented on #10736
yep

[2022-10-10 19:44] #10736 closed

[2022-10-10 19:58] jjhursey commented on #10708
Ref:
  - Part 1: https://github.com/open-mpi/ompi/pull/10825
  - Part 2: https://github.com/open-mpi/ompi/pull/10859
  - Part 3: https://github.com/open-mpi/ompi/pull/10863

[2022-10-11 08:29] janjust commented on #10841
I think just ucx_info -v should show the config options

—
Tomislav Janjusic
________________________________
From: RobbieTheK ***@***.***>
Sent: Friday, September 23, 2022 4:08:56 PM
To: open-mpi/ompi ***@***.***>
Cc: Tomislav Janjusic ***@***.***>; Team mention ***@***.***>
Subject: Re: [open-mpi/ompi] Device vendor ID: 0x02c9, part ID: 4123, WARNING: No preset parameters were found for the devi

[2022-10-11 08:39] bernstei commented on #10071
On Mar 15, 2022, at 9:52 AM, Josh Hursey ***@***.******@***.***>> wrote:

The command line looks correct. I don't have a Slurm environment to test in, but testing locally with 2 machines worked as expected.

I wouldn't be surprised if it is indeed an interaction with slurm.  The only evidence I have that OpenMPI and slurm are talking to each other is that "mpirun exec" without "-np" works as expec

[2022-10-11 16:53] janciesko commented on #10459
@jsquyres, addressing the last checkbox, what methodology would you propose to test OMPI and the threading MCA when configuring OMPI with a supported ULT lib? ASFAIK we do not test this. We could add a test similar to [this one](https://github.com/sandialabs/MPI-Partix/blob/main/apps/ultcorrectness1.cpp) and test with a release version of both ULT libs?

[2022-10-11 18:28] jsquyres commented on #10908
@BrendanCunningham FYI

[2022-10-11 19:58] #10512 closed

[2022-10-11 21:39] hppritcha commented on #10884
closed via #10896 and #10907

[2022-10-11 21:39] #10884 closed

[2022-10-13 06:29] srinivamd commented on #8554
setting allow setuid to `no` in singularity.conf resolved it.

[2022-10-13 15:48] NekoLemon opened #10923 "Failed to create a queue pair (QP)"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v3.1.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Exists in NVHPC.

### If you are building/installing from a g

[2022-10-13 17:28] jsquyres commented on #10923
Open MPI v3.1.4 is pretty ancient.  Is there any chance you can upgrade to Open MPI v4.1.4?  That's the latest release.

[2022-10-14 00:15] NekoLemon commented on #10923
Well, I just use `sudo apt-get install openmpi-bin` and it installs version v4.1.2
And when I use `/usr/bin/mpirun -np 1 vasp_std` the prompt is like
[code]
I find a past build that can run normally, but even though there still exists a create-qp-failed error which never occurs before.
After looking up some other issues it looks like the openmpi consider I have an InfiniBand connection which doesn

[2022-10-14 00:57] gregfi commented on #10734
When I do `--bind-to socket --rank-by core`, I get:

[code]

Which is not what I want, and predictably performance isn't great if there are competing jobs on the node. However, if I do `mpirun --map-by socket --bind-to socket --rank-by core`, I get:

[code]

This *is* what I want, and performance is good if there are other jobs running on the host (even when no affinity is specified). Why is the f

[2022-10-14 03:02] BDHU opened #10926 "Connect to the wrong network interface using Slurm"
This is using version 4.1.4. When I try to run the [ring_c.c example](https://github.com/open-mpi/ompi/blob/main/examples/ring_c.c) on two nodes using:

[code]

It shows:

[code]

The connect() was using the docker0 interface, which is wrong. If I try to using `mpirun -host node4,node5 -n 2 ./ring`, it will show

[code]

 and then hang.

If I use `mpirun -mca btl_tcp_if_include eno4 -host node4,no

[2022-10-14 10:56] dalcinl opened #10927 "Cannot finalize Session context after MPI_Finalize()"
This is with current master.

### Reproducer

[code]

### Behavior
[code]

PS: I'm working on a more complete test here:
https://github.com/mpi4py/mpi4py/blob/testing/mpi4-init-fini/demo/init-fini/test_mpi40.py

[2022-10-14 11:00] dalcinl commented on #10927
@hppritcha You may want to take a look at this one.

[2022-10-14 18:25] awlauria commented on #10669
@devreal is this resolved in your eyes? Can you try with the latest main (we did a prte/pmix submodule update this morning).

[2022-10-14 20:28] hppritcha commented on #10927
see if --enable-mca-dso is a workaround

[2022-10-14 20:55] awlauria commented on #10927
After speaking with @hppritcha, removing the blocker label. It should get fixed before any release anyway.

[2022-10-14 21:37] hjelmn opened #10929 "Significant performance regression under Linux with busy waiting enabled"
Thank you for taking the time to submit an issue!

## Background information

I am looking at a system which is showing very poor performance with some applications (notably OpenFOAM) when running Open MPI. The system in question has busy polling enabled to (in theory) improve message latency:

[code]

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc

[2022-10-15 07:06] dalcinl commented on #10927
I tried, and things got actually worse: SIGSEGV at the `MPI.Init()` line of my reproducer.

[code]

[2022-10-15 21:13] #10929 closed

[2022-10-17 16:59] awlauria commented on #8918
Main: #8941
v5.0.x: #10933

@dalcinl can you close when you have a chance to verify?

[2022-10-17 17:34] hppritcha commented on #10927
hmm it looks like the accelerator framework has some issues when built as a dso and one tries to reopen the framework again.  I'll open a separate issue for this problem.

[2022-10-17 18:23] hppritcha opened #10938 "accelerator framework: needs changes to support sessions"
The accelerator framework wasn't added into opal_init in a sessions friendly way.  The problem doesn't show up by default since we no longer build most frameworks as DSOs, but does if one configures ompi with --enable-mca-dso.

Related to #10927

[2022-10-17 18:40] hppritcha commented on #10938
well so with that fixed, I now see that the partition framework has a similar issue.

[2022-10-17 19:49] awlauria commented on #10705
Closing this as complete, fix has percolated up to v5.0.x in latest submodule update.

prrte -
main: https://github.com/openpmix/prrte/pull/1542
v3.0: https://github.com/openpmix/prrte/pull/1548

ompi:
main: https://github.com/open-mpi/ompi/pull/10928
v5.0.x: https://github.com/open-mpi/ompi/pull/10934

[2022-10-17 19:50] #10705 closed

[2022-10-18 05:43] karanveersingh5623 commented on #7025
Hi , so how can we configure different ranks for MPI ? I am executing mpi using Srun

[2022-10-18 05:54] karanveersingh5623 opened #10940 "PMIX ERROR: NOT-FOUND in file ptl_usock.c at line 175 , fails when running 2 cmds inside bash script"
Thank you for taking the time to submit an issue!

## Background information
Same issue as this [#7025](https://github.com/open-mpi/ompi/issues/7025)
trying to run two python cmds in a single bash script
so how can we configure different ranks for MPI ? I am executing mpi using Srun ?

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
[code]

### De

[2022-10-18 06:27] dalcinl commented on #8918
All mpi4py pack/unpack tests with external32 passed for branches:
* `ompi@main`: [[logs]](https://github.com/mpi4py/mpi4py-testing/actions/runs/3266463555/jobs/5370226263)
* `ompi@v5.0.x` [[logs]](https://github.com/mpi4py/mpi4py-testing/actions/runs/3268067471/jobs/5380167936) (ignore failures, looks like a new and unrelated regression)

[2022-10-18 06:31] #8918 closed

[2022-10-18 07:15] dalcinl opened #10941 "[mpi4py] v5.0.x: unexpected output in stderr stream on GitHub Actions"
This is with branch v5.0.x (main is OK)

See here for full [[logs]](https://github.com/mpi4py/mpi4py-testing/actions/runs/3268067471/jobs/5380167936#step:29:32)

[code]

The test basically involves executing (from a Python script that DOES NOT run under mpiexec)  `mpiexec -n {1|2} python script.py`, and `script.py` is the following code:

[code]

[2022-10-18 07:23] rhc54 commented on #10941
Grrr...some leftover debug - fixed [here](https://github.com/openpmix/openpmix/pull/2794)

[2022-10-18 10:51] dxyzx0 opened #10943 "./configure failed with option '--with-lsf'"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
[a992820](https://github.com/open-mpi/ompi/commit/a992820238f2a579877e828169a50600376052fa)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system dist

[2022-10-18 14:07] rhc54 commented on #10943
@jjhursey @awlauria Your area - any thoughts?

[2022-10-18 14:39] BrendanCunningham commented on #10601
@JiajunHuang1999 any update?

[2022-10-18 15:16] jsquyres commented on #10941
@awlauria Do we need another pmix/prte submodule update?

[2022-10-18 15:16] awlauria commented on #10941
Yes we will need to do another update.

[2022-10-18 15:18] jsquyres commented on #10943
@dxyzx0 Is the cited git hash at or near the HEAD of the `main` branch?

[2022-10-18 15:37] jjhursey commented on #10943
From the output posted it looks like the library found didn't have the symbol needed. The check for `ls_info` is [here](https://github.com/openpmix/prrte/blob/004d0e8f52bcdafe124eb56f10c2e6c3430cfe7f/config/prte_check_lsf.m4#L80-L87).

The `config.log` should show the error message and compile string that it tried.

If you know where the LSF libraries are located you can try specifying the exact p

[2022-10-18 15:53] JiajunHuang1999 commented on #10601
@BrendanCunningham
I have been busy recently and have not been able to send that email.
I will send one in a couple of days.
Thanks for following up!

[2022-10-18 16:29] devreal opened #10947 "Reduction latency variation with coll/tuned"
As part of working on https://github.com/open-mpi/ompi/issues/10347 I found that the performance of coll/tuned varies significantly for small reductions, depending on the number of nodes I run on. All experiments are done on Hawk, the dual-socket AMD EPYC Rome system using ConnectX-6 installed at HLRS. I'm using the `main` branch of Open MPI.

coll/han does seem to provide better performance if th

[2022-10-18 18:02] hppritcha commented on #10927
closing via #10939 and #10937

[2022-10-18 18:02] #10927 closed

[2022-10-18 18:04] hppritcha commented on #10901
We found an issue with the 5.0.0rc8 and cuda support.  confirmed fix is in 5.0.x at ed81406d and put in a request for a rc9 to install.

[2022-10-18 20:08] hppritcha opened #10952 "accelerator framework: configure output suggestions"
This is what is currently emitted to stdout at the end of a successful OMPI configure:

[code]

With the introduction of the accelerator framework, it would be nice to set up a new subsystem configury output similar to that done for OMPIO File Systems that shows which accelerator components were configured.

[2022-10-19 01:33] ggouaillardet opened #10954 "main branch cannot build mtl/ofi on RHEL7 like"
`configure` passes but `make` fails:

how should this be resolved?
 - simply bump the OFI version requirements?
 - test the existence of these macros and do not build `mtl/ofi` if they are not defined?
 - test the existence of these macros and `#ifdef` protect some parts so `mtl/ofi` can be built?

FWIW
[code]

[code]

[2022-10-19 12:36] awlauria commented on #10943
Did the lsf configure logic change between v4.1 and v5.0? Perhaps there is a typo in the main/v5.0 branches.

[2022-10-19 12:41] awlauria commented on #10943
Well, checking pate, the main and v3 logic hasn't changed in 7 months:
https://github.com/openpmix/prrte/blob/master/config/prte_check_lsf.m4

[2022-10-19 13:43] dxyzx0 commented on #10943
I upload the `config.log` in the post.

I have set the `--with-lsf=path_to_include` and `--with-lsf-libdir=path_to_lib`. I think the problem maybe lies in this line
[code]
Since, I compare the log with the succeeded one in 4.1.4, which doesn't have this check. And I can't find this file in my lsf installation folder.
I also upload the succeeded `config_4.1.4.log` in the post.

[2022-10-19 13:55] rhc54 commented on #10943
Quite true (assuming you meant "v5" instead of "v3")- but I believe it has changed significantly from your v4 series.

It didn't find the package config file, but the configure logic did go ahead using your provided settings. It found the required header files, but failed to find the expected function symbol in the library. I think that is the heart of the problem, but I leave it to the IBM folks

[2022-10-19 14:10] awlauria commented on #10943
Well I meant prrte v3.0, which would be ompi v5 yes.

[2022-10-19 14:45] dxyzx0 opened #10955 "Processes can't communicate with infiniband on lsf cluster"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from source tarball on the [official website](https://downl

[2022-10-19 19:32] srinivamd commented on #8554
@rhc54 We are seeing the same error message cited in this issue on RHEL8 and CentOS8 compute nodes running singularity image which has application and MPI libraries included. The same singularity image works fine on Ubuntu compute nodes. Slurm 22.05.4.1.
No module loaded as environment is contained in the container.
The `srun` is in the `PATH` as simply running `which srun` finds it. Non MPI appli

[2022-10-19 19:53] rhc54 commented on #8554
Not sure I fully understand your scenario. Are you saying you have Slurm in the singularity container? It so, that would seem odd. Or are you saying you have Slurm external to the singularity image, mpirun is internal to the image, and...is mpirun trying to start the images?

Could you please explain how you are attempting to launch this job?

[2022-10-19 20:12] srinivamd commented on #8554
@rhc54 Sorry for the lack of info. And thank you for your quick response!
We have slurm installed on the compute node. From the login node, we run `sbatch` to submit run the `singularity` image of the application `rochpl` which is built with its own `openmpi`. The `sbatch` file has this `singularity run` command:
[code]
The same `sbatch` file when submitted to a compute node running `Ubuntu 22` or

[2022-10-19 20:32] rhc54 commented on #8554
It has been ages since I used singularity, and nearly as long since I used srun, so forgive my poor memory. I take it that sbatch gets an allocation for you and then executes one instance of your cmd line. The "singularity" on the cmd line instantiates one instance of the specified singularity image, executing your `mpirjn_rochpl` wrapper (which is inside the container) that does some kind of cmd

[2022-10-19 20:44] srinivamd commented on #8554
Yes, that is correct.

I missed some details. The sbatch is set up to run on a single node.
[code]
The `srun` and other commands are under `/usr/bin` on each node. The `mpirun` inside the container does not look for `srun` as we can run the `singularity` command by itself from the command line on any host (without `slurm`)

[2022-10-19 22:07] rhc54 commented on #8554
Guess I'm confused by your last statement - mpirun is clearly looking for srun:
[code]
You might try adding `--mca plm ^slurm` to your mpirun cmd line in your wrapper, or putting `OMPI_MCA_plm=^slurm` in your environment so it doesn't try to use srun.

[2022-10-20 00:14] srinivamd commented on #8554
Thanks @rhc54  I tried adding `--mac plm ^slurm` but it didn't help.

The error happens when running `singularity run` after `salloc` also. We are debugging it more, and thank you for your helpful suggestions. Here's the `salloc` console log:
[code]

[2022-10-20 02:44] srinivamd commented on #8554
@rhc54
Tracing shows the failing case has `orte_ifislocal` going to `opal_ifislocal` which is not in the passing case. `LD_DEBUG=all` trace snippet:
Fail
[code]
PASS
[code]
Not sure whether the above helps but that is the first point of deviation. We cloned/duplicated the RHEL8 disk and booted up another host, different IP with it. The node running the cloned disk has the PASS codepath and is able

[2022-10-20 03:30] srinivamd commented on #8554
Got it working now.
Apparently, the hostname returned by `gethostname` was uppercase that failed addr resolution. Set hostname using `hostnamectl set-hostname` to lowercase name and it works now.
Thank you @rhc54  for your responses and helpful suggestions!

[2022-10-20 15:31] awlauria commented on #10943
Removed the blocker label since there is a documented work-around:

@dxyzx0 just to confirm, did using `--with-lsf=path_to_include` and `--with-lsf-libdir=path_to_lib` work-around your issue with main?

[2022-10-20 16:03] #3740 closed

[2022-10-20 16:04] gpaulsen commented on #6570
Closing due to inactivity.

[2022-10-20 16:04] #6570 closed

[2022-10-20 16:12] gpaulsen commented on #10050
Closing, with two workarounds provided.

[2022-10-20 16:12] #10050 closed

[2022-10-21 02:57] wckzhang opened #10962 "OSC header has outdated doxygen comments"
The osc.h header file has outdated doxygen comments that don't properly explain each of the parameters. For example:

[code]

Base, size, disp_unit, and flavor of this API are not defined.

All the module functions also do not have comments either which makes understanding them harder.

[2022-10-21 03:07] wckzhang commented on #10952
Can this issue be closed now?

[2022-10-21 13:11] dxyzx0 commented on #10943
@awlauria No. Still not work. In `config_failed_for_main.log`, you can check I set these two parameters but still not work.

[2022-10-21 14:28] hppritcha commented on #10952
let's close this when we get this change merged into the 5.0.x branch

[2022-10-21 14:33] edgargabriel commented on #10952
I think it has already been merged:
https://github.com/open-mpi/ompi/pull/10957

[2022-10-21 14:33] hppritcha commented on #10952
okay in that event closing this issue.

[2022-10-21 14:33] #10952 closed

[2022-10-21 14:43] awlauria commented on #10943
Thanks - adding the blocker label back.

[2022-10-21 15:02] awlauria commented on #10943
@nysal do you have cycles to take a look at this?

[2022-10-21 16:17] janjust commented on #7965
@cayrols Recent versions of UCX have added support for CUDA RMA. They are not default yet, but can be enabled with `UCX_PROTO_ENABLE=y` flag.

[2022-10-21 16:24] cayrols commented on #7965
That is great news! Thank you for the info. I will definitively try it!

[2022-10-21 17:49] wenduwan opened #10965 "Accelerator framework caused IMB MPI1 Gather regression on EFA fabric"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
https://github.com/open-mpi/ompi/commit/7bcbc7a9ca78817e81c100c5dac5785efa74444a

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

### If you are building/insta

[2022-10-21 19:10] shijin-aws commented on #10965
AWS is actively working on this issue.

[2022-10-21 22:03] rhc54 opened #10969 "MTT failure on AWS"
The following failure is being reported from both OMPI v5.0 and main branches:
[code]
PRRTE is providing the nodeid for every proc in the job as part of the initial job info - it is therefore _not_ included in the modex. However, I cannot find the location where this error message is emitted, and so I don't know the precise function call that generated it.

Could someone please provide me with fur

[2022-10-21 22:05] rhc54 commented on #10969
Actually, I now see the same errors reported from IBM - same application - so I'm editing the title to reflect it.

[2022-10-21 22:35] bwbarrett commented on #10954
Previously, we had a check for HMEM and would `#ifdef` those parts of code.  It looks like we broke that.  The HMEM requirements are pretty new in Libfabric world; I don't think we should bump up the required version of Libfabric; the old version of Libfabric should still just work with selective `#ifdef`s.

[2022-10-22 00:46] rhc54 commented on #10969
I was able to find the source of the message - it is in OMPI itself, actually [here](https://github.com/open-mpi/ompi/blob/main/ompi/mca/topo/treematch/topo_treematch_dist_graph_create.c), line 175. I then created a PMIx-based code for testing it and found that it worked just fine:
[code]
The code is very simple:
[code]
What I cannot tell is whether or not OMPI is passing the correct info in the p

[2022-10-23 08:59] dalcinl opened #10971 "[mpi4py] GitHub Actions, `mca_sharedfp_sm_component_file_query` warning, singleton init mode"
This is with `v5.0.x` and `main`, and it is probably not a new issue, it has been happening for at least a month. I'm a bit late reporting, sorry about that.

When running mpi4py testsuite on GitHub Actions, I have a step that runs on singleton mode. In that step, I get the following warnings:
[code]
See [here](https://github.com/mpi4py/mpi4py-testing/actions/runs/3301361631/jobs/5446742769#step:1

[2022-10-24 12:56] edgargabriel commented on #10971
@dalcinl thank you for reporting this, I will have a look.

[2022-10-24 15:58] hppritcha commented on #10901
module use /global/common/software/m3169/perlmutter/modulefiles
module load openmpi/5.0.0rc9-ofi-cuda-22.5_11.7

i've only built for gnu PrgEnv at the moment.  smoke tested that gpu rdma direct works.  there are some performance issues for small transfers.

[2022-10-24 16:44] edgargabriel commented on #10971
@dalcini, would you mind testing pr https://github.com/open-mpi/ompi/pull/10976 to see whether it resolves the issue?

[2022-10-24 20:46] jjhursey commented on #10943
I have some time to look at this. @dxyzx0 The config.log was truncated, unfortunately. Can you send the `3rd-party/prrte/config.log` since that's where it'll check for LSF support?

It'll probably fail around this line - I'm looking for the compile line that follows this section and the error messages that follow (I don't need the program it generated). If you want to post back that section, that'

[2022-10-24 20:50] david-edwards-arm opened #10978 "5.0.0rc8 oshmem segfault in exit handler"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
5.0.0rc8 with Open UCX 1.13.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
tarball

### Please describe the syste

[2022-10-25 04:56] dxyzx0 commented on #10943
@jjhursey Here is the `config.log` for prrte.
[config_for_prrte.log](https://github.com/open-mpi/ompi/files/9857219/config.log)

[2022-10-25 08:02] ggouaillardet commented on #10954
The `configure` absolute minimum requirement for OFI is `1.5`.

But on `v5.0.x`, the requirement is bumped to `1.9` when CUDA is detected.
There is no such thing in `main`.

`mtl_ofi_component.c` seems to requires `1.9` at runtime, but there is no `configure` check.

Should we just simply require `1.9` at `configure` time?

[2022-10-25 14:36] jjhursey commented on #10943
Thanks for the PRRTE `config.log`. Reviewing the file shows:
[code]

Looking at the [configure logic](https://github.com/openpmix/prrte/blob/5373a3f7d0169df0683a9956f9f487dd8af9fea3/config/prte_check_lsf.m4#L80-L87) it did the right thing marking `ls_info` as failing which is critical. It went on to check to see if the problem was `libevent` (which it wasn't) before failing that portion of the con

[2022-10-25 21:23] jjhursey commented on #10708
All the remaining symbols are from ROMIO, so we intentionally won't change them. So I think this ticket is complete for `main`.

After PR #10981 is merged into `v5.0.x` then we should re-run the check and confirm that it is also clean.

[2022-10-26 14:15] jjhursey commented on #10955
This does not look like an LSF issue but a system configuration issue with the higher-level drivers using InfiniBand.

In the non-LSF case, you are running on `alpha02`, and from the modex output, it looks like UCX is being used.

In the LSF case, you are running on `cauchy01`, and it looks like `btl/openib` is being used instead of UCX.

Suggestions for debugging your system configuration.
1. Che

[2022-10-26 14:25] jjhursey commented on #9041
We recently made several Spawn-related fixes to Open MPI `main` and `v5.0.x` (see PR #10688 for the bulk of the fixes).

I just tried the example from [this comment](https://github.com/open-mpi/ompi/issues/9041#issuecomment-986744354) and the original post. Both passed with a build on `main` in an LSF allocation.

Please re-try your examples, and re-open the issue if the problem persists.

[2022-10-26 15:57] jjhursey commented on #10734
Since Open MPI v4 (IIRC) Open MPI switched to:
 * If the number of procs >= 2 : map by core
 * If the number of procs < 2 : map by numa/package

In your first pattern: `--bind-to socket --rank-by core` (which implies `---map-by core -bind-to socket --rank-by core`)
1. First processes are mapped to core starting from core 0. So it will fill the first socket before moving to the next socket.
2. Afte

[2022-10-26 16:17] rhc54 commented on #10734
Actually, that is backwards - just a typo:

if procs <= 2: map by core
if procs > 2: map by numa/package

[2022-10-26 16:39] rhc54 commented on #10734
Remember, my brain is totally fizzed right now with all the drugs, so take this with a grain of salt. The difference is that the code defaults to `map-by NUMA`, which I suspect is not the same as `map-by SOCKET` on the user's system. The map is just showing that difference. We typically conflate the two, which is something we should probably get used to not doing.

[2022-10-26 20:41] thomasgillis opened #10986 "5.0.0rc9 - segfault in `MPI_Init`"
Thank you for taking the time to submit an issue!

## Background information

I have installed vanilla `ompi-5.0.0rc9` with `ofi-1.16.1` for an omnipath based machine (`bebop` @ ANL)
I am trying to run a small code to check rank binding and `MPI_Init()` segfaults.
As the machine is `omnipath` I have installed `ofi` only and no `ucx` is in the path.

### What version of Open MPI are you using? (e.g

[2022-10-26 21:29] thomasgillis commented on #10986
EDIT: solved using the correct mca options referred [here](https://docs.open-mpi.org/en/main/networking/ofi.html#what-are-the-libfabric-ofi-components-in-open-mpi) `--mca pml cm --mca mtl ofi --mca mtl_ofi_provider_include psm2`.

sorry for the issue raised to quickly

[2022-10-26 23:14] wckzhang commented on #10965
I'm pretty sure this is a libfabric/EFA bug and not an OMPI bug. Resolving.

[2022-10-26 23:14] #10965 closed

[2022-10-26 23:16] wckzhang commented on #10965
To shine a little light on the issue, the issue arises from calling fi_getinfo with FI_HMEM capability hint (which fails) before calling fi_getinfo without FI_HMEM capability hint (which succeeds). If you just call fi_getinfo without the FI_HMEM capability hint, there is no performance issue. This indicates that there is some performance impact from calling fi_getinfo.

[2022-10-27 02:43] opoplawski opened #10988 "opal_lifo test fails on s390x"
Looking at updating the Fedora openmpi package to 5.0.0rc9.  I'm getting the following test failure on s390x:
[code]
Full log here (for a few days at least): https://kojipkgs.fedoraproject.org//work/tasks/3745/93473745/build.log

[2022-10-27 11:43] dalcinl commented on #10971
@edgargabriel Thanks for your prompt action. Your branch fixes the issue [[logs]](https://github.com/mpi4py/mpi4py-testing/actions/runs/3336968437/jobs/5522741117#step:17:1).

[2022-10-27 12:35] jsquyres commented on #10986
@hppritcha @BrendanCunningham Do we really want to consider this issue closed?

My $0.02: Users should not have to set specific MCA vars to avoid a segfault.

[2022-10-27 14:11] devreal commented on #10988
@opoplawski I cannot find the error in the build log. Could you please provide some more info on your environment? What compiler are you using?

[2022-10-27 14:12] hppritcha commented on #10986
this looks interesting.  i'll see if i can reproduce on one of our hfi1 clusters.  going on the assumption gcc was used for compiling.

@thomasgillis could you rebuild with the

--enable-debug

configure option enabled?  This may give us more info in the traceback.

Also, which compiler are you using?

[2022-10-27 14:14] thomasgillis commented on #10986
sure let me try. Compiler is `gcc (Spack GCC) 10.2.0`

[2022-10-27 14:28] devreal commented on #10988
Thanks! Any chance you can access `test/class/test-suite.log` from that run?

[2022-10-27 14:40] thomasgillis commented on #10986
I have just rebuilt `ompi` with
[code]

and the backtrace is very similar
[code]

Here is also the `ldd` of my `libmpi.so`:
[code]

[2022-10-27 14:41] opoplawski commented on #10988
That's the output I pasted in the first comment.

[2022-10-27 15:07] hppritcha commented on #10986
i was able to reproduce this problem i think.

[2022-10-27 18:09] devreal commented on #10988
I see. The tests run succesfully on Summit with GCC 12.1.0 (the latest GCC available on that machine) but I'm not even sure that's the same architecture. I don't have access to any other IBM machine.

[2022-10-27 23:56] opoplawski commented on #10988
Can you build in a Fedora Rawhide mock environment on that machine?  Looks like I have access to some kind of s390x test machine if there are any particular things you'd like me to try.
[code]

[2022-10-28 13:54] devreal commented on #10988
Any chance you could try a different compiler like LLVM?

Also, we recently switched from C11 atomics being the default to GCC builtin atomics. Could you try running with C11 atomics instead by passing `--enable-c11-atomics` to `configure`?

Summit has Power9 CPUs, so different architecture.

[2022-10-28 14:12] jjhursey commented on #10943
@dxyzx0 Just checking in to see if you made any progress on resolving this issue on your system or if you need further assistance.

[2022-10-28 14:13] jjhursey commented on #10955
@dxyzx0 Just checking in to see if you made any progress on resolving this issue on your system or if you need further assistance.

[2022-10-28 15:44] jjhursey commented on #6700
I just posted a fix to the `LSB_AFFINITY_HOSTFILE` handling in PRRTE (the runtime in Open MPI `main` and `v5.0.x`)
 * https://github.com/openpmix/prrte/pull/1569

Note that neither Open MPI's ORTE runtime (`v4.1.x` and earlier) nor PRRTE runtime (`v5.0.x` and later) support the `membind` directive from LSF. It is recognized and ignored by the parser [here](https://github.com/open-mpi/ompi/blob/434

[2022-10-28 15:44] #6700 closed

[2022-10-28 16:51] JiajunHuang1999 commented on #10601
@BrendanCunningham
I have sent the email.
Hope to hear from you soon.
Thanks!!!

[2022-10-28 18:55] jjhursey commented on #10734
I wanted to try to get the rules down and noticed a default mapping/binding issue in PRRTE.

### v4.1.x

 * If number of processes <= 2 then default `--map-by core --bind-to core --rank-by core`
 * If number of processes > 2 then default `--map-by socket --bind-to socket --rank-by socket`
 * If `--bind-to` and `--rank-by` are not specified and `--map-by` is specified then `--map-by` object is impl

[2022-10-28 19:01] rhc54 commented on #10734
Sounds right for OMPI v4 and below. It was changed for OMPI v5 and above because you are electing to use the PRRTE defaults. You have the option of defining your own "defaults" logic using the schizo APIs (one each for map/rank/bind).

FWIW, my actual intent was to have PRRTE default to "package" in place of "numa" given all the problems with defining "numa" nowadays, but I saw in the code that I

[2022-10-28 19:06] jjhursey commented on #10734
The comment went up before it was ready. I updated it showing the problem with the default mapping (i.e., it always defaults to bind to core regardless of number of processes)

[2022-10-28 19:09] rhc54 commented on #10734
Ah, so you aren't talking about a problem with setting the mapping default - you are talking about how the default ranking/binding get set in the absence of any directive IF mapping is specified by the user?

Yeah, I can see a bug in there. I'll take a crack at it.

[2022-10-28 19:14] jjhursey commented on #10734
Both really.
 * If nothing is specified and the number of processes > 2 then it is mapping by core instead of by socket.
 * If they specify a `--map-by` but nothing else then it seems the `--rank-by` is not set correctly. But then again in PRRTE there is no `core` or `socket` in the `--rank-by` IIRC. so maybe this is working as expected and is just a difference between PRRTE and ORTE.

[2022-10-28 19:21] rhc54 commented on #10734
Yeah, `options.nprocs` isn't being initialized so it is zero

In PRRTE, your only real choices would be NODE (if they mapped by node), SLOT (if they mapped by slot), or FILL (everything else). That is close to what it currently does, but it is missing that last option, which is why you got that output.

[2022-10-28 19:35] awlauria commented on #10708
Closing - @drwootton please post results of v5.0.x here when you have a chance. If those reveal some more items we can re-open.