[2017-08-31 10:38] #4122 closed

[2017-08-31 12:09] awlauria commented on #4153
The only configure option I used for these tests was --use-ucx=no.

[2017-08-31 13:03] awlauria commented on #4153
I can't seem to get it to fail with --enable-debug and --use-memchecker.

Valgrind runs on these show no apparent issues.

[2017-08-31 15:19] hppritcha commented on #3998
@bwbarrett oops forgot about this one.  Since it adds an mca parameter, I didn't think we normally would push this kind of a change back to current release branches.  My site is okay with a patch to solve this issue and we're going that route locally for the 2.1.x.  We are okay with this waiting till the next major release.

[2017-08-31 15:27] hppritcha commented on #3992
this problem seems to be fairly generic across multiple releases, so adding more tags.

[2017-08-31 16:54] gpaulsen commented on #4153
IBM is enabling MTT testing on optimized builds tonight of the v3.0.x branch.  I'll send email to devel-core.

[2017-08-31 17:01] awlauria commented on #4153
-I still cannot get this to fail on a debug build.
-Since valgrind is giving nothing useful it seems to be stack related.
-I can reproduce on power and x86 with 3.0.0rc4

[2017-08-31 20:52] markalle opened #4155 "mxm hang (yalla and mxm mtl)"
I've reproduced the below hang on RH7.3 x86_64 with a new
MLNX_OFED_LINUX-4.1-1.0.2.0-rhel7.3-x86_64.tgz
installed, using OMPI master as well as older OMPI.

The below testcase hangs with two ranks, one on each host. The test appears to be calling mxm_progress().

Testcase: https://gist.github.com/markalle/cc29ffe8220d392bba0e2403107630ed
% mpicc -o x mxm_hang.c
% mpirun -mca pml yalla -host foo:1

[2017-08-31 21:04] gpaulsen commented on #4155
Artem are you interested in looking at this?

[2017-08-31 21:23] jladd-mlnx commented on #4155
We are tracking a very similar issue in-house. Yes, we will definitely take a look. @markalle can you send me the repro code, please.

As a sanity check, would you also try the following two experiments:

1. Use DC transport instead of UD and see if it still hangs.

2. Keep default settings and try adding `-x MXM_UD_WINDOW_SIZE=16384` and see if it still hangs.

[2017-08-31 22:30] markalle commented on #4155
I'm not sure if I enabled DC right (I tried -x MXM_TLS=self,shm,dc and it failed to start up "target unreachable")

But both ```-x MXM_UD_WINDOW_SIZE=16384``` and ```-x MXM_TLS=self,shm,rc``` seem to make the problem go away.

Are you able to see the testcase here? :
https://gist.github.com/markalle/cc29ffe8220d392bba0e2403107630ed
If not I can mail it to you

[2017-08-31 22:50] jladd-mlnx commented on #4155
Thank you, @markalle! That confirms my suspicions; we're on it.

[2017-09-01 03:58] bwbarrett opened #4157 "Add 32 bit test for Jenkins & MTT"
As discovered in https://github.com/open-mpi/ompi/issues/4146, we don't do any CI tests for 32 bit builds.  Just adding `-m32` to the compiler flags should be sufficient to smoke test so that we catch issues before MTT.  Likewise, Absoft is currently the only 32-bit MTT test; AWS will add one to its suite.

[2017-09-01 04:00] bwbarrett opened #4158 "Add mpi4py test suite to Jenkins builds"
Per https://github.com/open-mpi/ompi/issues/4126, we want to add the mpi4py tests to the Jenkins builds.  They are designed to run single node, and run in a couple minutes, so a single test should still finish before the `make check` test.

[2017-09-01 04:01] bwbarrett commented on #4126
I opened https://github.com/open-mpi/ompi/issues/4158 to track the testing request.  Since this bug is fixed, closing it.

[2017-09-01 04:01] #4126 closed

[2017-09-01 06:24] #2097 closed

[2017-09-01 11:10] amckinstry commented on #3442
--enable-builtin-atomics works fine for s390. Thanks.

[2017-09-01 11:10] #3442 closed

[2017-09-01 14:47] #4146 closed

[2017-09-01 14:48] hjelmn commented on #4146
Should be fixed now. We will re-open if MTT continues to show failures.

[2017-09-01 15:49] awlauria commented on #4153
Updated 9/1 to reflect new info.

The failure doesn't seem intercom related. I attached a new simple reproducer.

[2017-09-01 18:23] hjelmn opened #4162 "MPI_T Segmentation Fault"
Thank you for taking the time to submit an issue!

## Background information

Using the MPI_T interface can lead to a segmentation fault if:

1) Monitoring is disabled, and
2) dynamic components are enabled

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

master

### Please describe the system on which you are running

* Operating system/version

[2017-09-04 09:36] vspetrov commented on #3685
@jsquyres Sorry, for not replying so long. The github notifications were going to wrong mail. Anyways, i've tried the latest ompi/mater and it works. So, workaround does resolve (hide) the problem.

[2017-09-04 11:08] jsquyres commented on #4078
@hjelmn Any progress on the port of this fix to v2.0.x?

[2017-09-04 11:15] ggouaillardet commented on #4153
@awlauria thanks for the report, i ll take a crack at it.
so far, i was able to reproduce the issue.

this is a very odd memory corruption in ```orte_data_server()```.
the error can be evidenced with ```valgrind``` running on ```mpirun```
[code]
unfortunatly the error does not always occur.

i wrote it is strange because at first, i was able to trace at line 355 (iirc)
[code]
but then, at line 453

[2017-09-04 14:10] devreal opened #4166 "SIGBUS in mca shmem_posix"
## Background information
I am running on a NEC GNU/Linux cluster in which the nodes have relatively limited disk space (/tmp is at 6GB) compared to the 128GB main memory. I am trying to allocate large MPI windows, up to the full memory capacity of the node. Consequently, Open MPI would fail to allocate windows larger than /tmp. After some trying, I came across the shmem-posix component and tried

[2017-09-05 02:23] ggouaillardet commented on #4153
@awlauria this is fixed in #4167

fwiw, ```opal_pointer_array_set_item()``` was incorrectly set in a macro (parenthesis were not correctly balanced), so the bug was hidden when Open MPI is built with ```--enable-debug```

[2017-09-05 02:34] rupc opened #4168 "Is OpenMPI good for building SMR?"
Hello!
I'm new to OpenMPI. And I'm considering building Byzantine fault tolerant state machine replication using OpenMPI for message passing framework. I know that many SMRs are built upon message passing framework as its communication layer. But when I have attempt to search interconnection between SMR and MPI, I found not many resources.
My question is "Is OpenMPI good for communication layer of

[2017-09-05 03:49] bosilca commented on #4168
@rupc, MPI does not provide support for process fault, which is a requirement for any fault tolerant mechanism implemented on top of MPI. I would suggest you look into ULFM, which is an extension to the MPI standard to add support for handling process faults. You can find an implementation of ULFM for Open MPI at fault-tolerance.org (in the software section).

[2017-09-05 03:49] #4168 closed

[2017-09-05 04:13] ggouaillardet commented on #4166
@devreal i was unable to reproduce the issue.
could you please run again with ```--mca shmem_base_verbose 100 --mca btl_base_verbose 100``` ?

also, could you give a try to
[code]

thanks !

[2017-09-05 05:43] AndreasKempfNEC commented on #4166
Regarding your original issue with a small /tmp: Would changing the TMPDIR environment variable to `/dev/shm` help, if that is available? Or the [mca parameter `orte_tmpdir_base`](https://www.open-mpi.org/faq/?category=sm#where-sm-file)? Or maybe `--tmpdir <dir>`?

(Github does no longer seem to have a way to write a private message or I would have used that)

[2017-09-05 07:19] devreal commented on #4166
@ggouaillardet thanks for trying. I tried to day with a recent nightly build (`master-201709010239-fb34a21`) and the same happens here. Restricting to the btl to `vader,self` makes no difference:

[code]

Here is the backtrace:
[code]

Valgrind does not report anything relevant before it's too late.

I will try to create a minimal example that uses `shmem_open` and `mmap` to verify that this mecha

[2017-09-05 07:38] devreal commented on #4166
@AndreasKempfNEC On this machine, the only filesystem large enough to host a backing file of that size is the `/home` NFS, which will trigger a flood of warnings about `TMP` being on the an NFS filesystem and causing performance degradation (not sure how significant this is actually). For some reason, `/dev/shm` is at 256M for example and `/` isn't big enough, either.

[2017-09-05 08:12] ggouaillardet commented on #4166
@devreal now i remember ...

you can give the following example a try
[code]

you will need to adapt ```SIZE``` and ```BIGFILE``` so the file is too big for the filesystem.
everything seems to work (including ```mmap()``` but a crash will occur in ```memset()```

also, ```shmem/posix``` uses ```shm_create()```, and under the hood, it creates a  file in ```/dev/shm``` and then ```mmap()``` it, so i

[2017-09-05 08:55] devreal commented on #4166
It's weird that `ftruncate` does not return an error if the requested size is beyond the limits of the filesystem but it seems that POSIX does not mandate this check.

You're right, my small example using `shm_open` works for 200 and fails for 300 GB, which points to the 256M limit of `/dev/shm`.

I tried the `shmem/sysv` component and ran into another problem. On this system `/proc/sys/kernel/shm

[2017-09-05 09:06] ggouaillardet commented on #4166
Some filesystems support sparse files, so you can "oversubscribe" and that is likely why ```ftruncate()``` does not fail.
Meanwhile, you can use infiniband for intra-node communications. Suboptimal, but it should work.
[code]

[2017-09-05 09:12] devreal commented on #4166
I had tried that before reporting initially. I end up with the same error (`/tmp` being too small). It seems that shared memory allocation is independent of vader and sm:

[code]

[2017-09-05 14:01] awlauria commented on #4153
Great, thank you @ggouaillardet for looking at it.

[2017-09-05 15:07] rhc54 commented on #3660
This apparently isn't fully fixed yet, according to folks at Allinea:
[code]
I don't have time to deal with this one, so I'm assigning it others.

[2017-09-05 15:18] rhc54 commented on #3660
One further piece of info:
[code]

[2017-09-05 17:08] gpaulsen commented on #1092
I think we can close this now. @loveshack @jsquyres do you agree?

[2017-09-05 17:14] jsquyres commented on #1092
Looks like all the fixed were merged.  Closing.

[2017-09-05 17:14] #1092 closed

[2017-09-05 17:24] bwbarrett commented on #3992
The 3.0 NEWS blurb is updated.  Moving the milestone to 2.1 to track that NEWS blurb.

[2017-09-05 23:55] matcabral commented on #3880
@ael-code, PSM2 github was updated with the commit I mentioned.
https://github.com/01org/opa-psm2/commit/3f30d743ffbd39703e3cecdb25d319ed199d3d97
 - Fix issue with psm2_mq_ipeek2 and psm2_mq_test2 when used with    multi-threaded OMPI

[2017-09-06 09:34] theodotos opened #4178 "ORTE_ERROR_LOG: Not found in file plm_slurm_module.c at line 450"
Thank you for taking the time to submit an issue!

## Background information

We have a 24 node cluster connected with 1GB Ethernet. There is Ubuntu 16.04 64 bit on all nodes.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

Open MPI:
Version: 1.10.2-8ubuntu1

SLURM:
Version: 0.4.3-2build1

### Describe how Open MPI was installed (e.g., from a s

[2017-09-06 13:32] jsquyres commented on #3660
@dirk-schubert-arm (Dirk Schubert, DDT developer) Just to confirm: the changes we introduced to the Open MPI master branch in PR #3709 did *not* fix the problem, and you guys are seeing the problem @rhc54 cited above with the v2.1.2rc tarball (i.e., https://github.com/open-mpi/ompi/issues/3660#issuecomment-327205454 -- based on an email exchange with Xavier).

Can you guys test the Open MPI develo

[2017-09-06 13:35] jsquyres commented on #4178
Open MPI v1.10.2 is fairly old at this point -- is there any chance that you can upgrade to the latest v2.1.1 (https://www.open-mpi.org/software/ompi/v2.1/)?  Or, if you're tied to the v1.10 release series, could you upgrade to the latest in the v1.10 series to get all the bug fixes that were applied to that series?  (v1.10.7, available here https://www.open-mpi.org/software/ompi/v1.10/)

[2017-09-06 13:58] rhc54 commented on #3660
Just to highlight a line from the original report:
[code]

[2017-09-06 18:49] carns commented on #3954
One more comment here for people who might read this issue looking for ideas.  Even in a stock OpenMPI 2.1.1 build, you can still intercept C functions (underneath Fortran bindings) using LD_PRELOAD.  In the Fortran case the bindings call PMPI_ functions that can be intercepted, in the C case you can catch the MPI_ symbols.

This has the same restrictions as pointed out above (not all Fortran API

[2017-09-07 10:16] jsquyres commented on #3954
@carns Intercepting `PMPI_` functions is absolutely *not* recommended; there be dragons there (e.g., you're going even further outside of the standard).

IMHO: Wearing my "let's adhere to the standard!" hat (vs. my "vendors will do what customers want" hat), I should note that instead of spending time figuring out creative non-standard ways to avoid writing Fortran, it would be better to spend tha

[2017-09-07 12:51] dirk-schubert-arm commented on #3660
Correct.

@jsquyres: How urgent is that? Can this wait until Xavier is back next week? If not please let me know and I will try to have a look myself.

From Xavier in our ticket:

But not sure how much "a lot" is.

[2017-09-07 14:31] jsquyres commented on #3660
Yeah, as @dirk-schubert-arm and @rhc54 pointed out -- I missed that the original report says that it works fine on v3.0.x.  It *probably* also works on master, but it would be good to verify (because we're going to fork from master again soon for v3.1.x).

I guess we'll need some help tracking this down in the v2.1.x release series.

This can certainly wait until next week.

[2017-09-07 14:48] carns commented on #3954
@jsquyres are there some simple examples standard adherent MPI Fortran interception to use as reference?  Regardless of what approach Darshan pursues I think this would be helpful to tool maintainers.

[2017-09-07 15:14] ael-code commented on #3880
I've compiled the psm2 library from source ( https://github.com/01org/opa-psm2/commit/3f30d743ffbd39703e3cecdb25d319ed199d3d97 ) , and made a custom build of  OpenMPI `2.1.1` passing the `--with-psm2=""` configuration option. Unfortunately the bug is still there.

[2017-09-07 15:54] jsquyres commented on #3954
@carns Sort of.  MPI-3.1 section 17.1.5 talks about the Fortran profiling interface (as a C programmer, think of the `use mpi` and `use mpi_f08` Fortran modules as basically precompiled headers -- and just like in C, the implementation is [usually] elsewhere, such as in a `.o` file that gets slurped into a  library).  One thing that is nice about modern Fortran (!) is that they made great strides

[2017-09-07 17:11] matcabral commented on #3880
I will schedule some time to play with  HPDCS/ROOT-Sim,

[2017-09-08 09:06] theodotos commented on #4178
OK I'll try a newer release and be back.

[2017-09-08 13:11] awlauria commented on #4153
I confirmed it does not happen on master nor the new v3.0.0rc5 build.

Fixed by #4167.

[2017-09-08 13:11] #4153 closed

[2017-09-08 20:16] jsquyres commented on #4109
@nmorey Reported a similar problem on the PR that attempted to fix this issue (#4147).

@nmorey Can you tell us the exact versions of Autoconf, Automake, Libtool, and m4 that you are using?

[2017-09-10 13:02] alessandropellegrini commented on #3880
@matcabral cool! The code using mpi is in the `mpi` branch.
Should you need help in setting it up, feel free to contact me or @ael-code

[2017-09-10 19:28] theodotos commented on #4178
Now we have version 2.1.1:

[code]

But the problem persists:

[code]

[2017-09-11 12:28] nmorey commented on #4109
@jsquyres
[code]

[2017-09-11 14:16] rhc54 commented on #4178
It means that we aren't finding "srun" - when you execute "sbatch", you are winding up in a shell that doesn't include the SLURM binaries in its path

[2017-09-11 18:51] hppritcha commented on #4078
@hjelmn could you take a look at this soon? We'd like to close out 2.0.x soon.

[2017-09-11 18:51] hppritcha commented on #1666
@hjelmn what's the status of this issue?

[2017-09-11 18:58] jsquyres commented on #3685
This has been fixed (worked around) in v2.x and v3.0.x and master.  Waiting for #4078 for v2.0.x.

[2017-09-11 18:58] hppritcha commented on #3992
committed to all four branches.  closing now.

[2017-09-11 18:58] #3992 closed

[2017-09-11 18:59] jsquyres commented on #3268
@artpol84 Where are we on this issue?

[2017-09-11 19:01] hppritcha commented on #3632
this can be closed now.

[2017-09-11 19:01] #3632 closed

[2017-09-11 19:08] artpol84 commented on #3268
@jsquyres I don't see this error anymore in our MTT.

[2017-09-11 19:18] jsquyres commented on #3268
Sweet!  I'll close.

[2017-09-11 19:18] #3268 closed

[2017-09-12 15:03] bwbarrett commented on #4155
@jladd-mlnx / @alex-mikheev, which versions of Open MPI do you think this impacts?

[2017-09-12 15:11] hppritcha commented on #1666
Per discussions at the 8/12/17 meeting, we moved milestone for this to future.

[2017-09-12 15:12] jsquyres commented on #1666
Per discussion on the 12 Sep 2017, this is still an issue in the RDMA OSC, but works fine in PT2PT OSC.  This is likely an issue for the Forum (i.e., to define that the padding bits in SHORT_INT can be modified by the MPI implementation) to decide what to do here.

[2017-09-12 15:34] hppritcha commented on #4109
This issue was closed via PR #4196

[2017-09-12 15:34] #4109 closed

[2017-09-12 15:37] bwbarrett commented on #1
We've removed all the C/R stuff, so this doesn't seem important at this point.

[2017-09-12 15:37] #1 closed

[2017-09-12 17:54] theodotos commented on #4178
You are right! *slurm-client* was not installed on the nodes. After we install the *slurm-client* package, it worked!

Thankee-sai

[2017-09-12 17:54] #4178 closed

[2017-09-12 20:13] bwbarrett commented on #3558
This was completed; closing ticket.

[2017-09-12 20:13] #3558 closed

[2017-09-12 20:21] bwbarrett commented on #3697
@hjelmn / @jjhursey, where are we on fixing this issue?  What branches are still impacted?

[2017-09-13 01:28] jjhursey commented on #3546
@pmillet It looks like you took the patch from @ggouaillardet into your other project. I'm assuming that means it worked for you. PR #4204 contains the full version of the fix. Let us know if you have any problems with that patch.

I was able to reproduce by putting the LSF library in the `CFLAGS` and `LDFLAGS` then running `--without-lsf`. PR #4204 fixes that issue, and will need to ported to the

[2017-09-13 01:37] jjhursey commented on #3740
@robertsawko Did you resolve your cluster issue? We have been running LSF on P8 systems for a while now, and it's working fine. I would check that all of the nodes are running the same version of Open MPI. The broken pipe message might mean that two different installed versions of Open MPI are trying to talk to one another.

[2017-09-13 01:39] jjhursey commented on #639
Open MPI has dropped support for BE PPC, and only supports `ppc64le`. I'm going to close this ticket, but if the probably persists on a `ppc64le` environment please reopen with more details.

[2017-09-13 01:39] #639 closed

[2017-09-13 03:38] bwbarrett opened #4205 "v3.0.1 Release Checklist"
## Make a perfect tarball

- [] Update the major,minor,release,greek version numbers in `VERSION`
- [] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --reba

[2017-09-13 03:40] #3633 closed

[2017-09-13 04:36] rhc54 opened #4207 "ORTE DVM inconsistent behavior"
This is an issue on master, and it isn't clear if the issue resides in ORTE or PMIx. If we start the ORTE DVM, the first invocation of prun with any application will execute correctly. However, the next invocation struggles to make a connection to the PMIx server in the ORTE daemon, and then the execution of that application doesn't happen.

Here is an example sequence:
[code]
Note that I was seei

[2017-09-13 04:59] ggouaillardet commented on #4207
```prun``` is from the PMIx reference server, right ?
should we use its ```master``` branch ? or one of your branch ?

[2017-09-13 06:04] ggouaillardet commented on #4207
if i read between the lines, it should be https://github.com/rhc54/ompi/tree/topic/prun

i will try that from now

[2017-09-13 07:00] ggouaillardet commented on #4207
@rhc54 this is likely unrelated. i am unable to run ```prun``` unless i configure with ```--disable-dlopen``` (some components cannot be loaded because of unresolved symbols)

but i can reproduce the issue when configure'd with ```--disable-dlopen```, and here is a patch that avoids the issue
[code]

when ```_esh_session_release()``` is invoked, ```s->lockfd``` is ```0```, it gets ```close()```d a

[2017-09-13 07:36] pmillet commented on #3546
The patch from @ggouaillardet did solve them problem I had.

[2017-09-13 10:31] xavier1arm commented on #3660
Hello,
I have cloned and built master.
When debugging a mpi application with DDT and MAP, mpirun crashes.

This is the backtrace from the mpirun core file:

I also tested v3.0.x branch and works fine:

The error that I see on Master is different than the error reported for OpenMPI 2.1.x

[2017-09-13 14:47] rhc54 commented on #4207
I'll fix the link problem (missing a link in the Makefile.am). I could swear we had fixed that darn close once before, yes?? Maybe it didn't get upstreamed properly, or it got overwritten. Sigh.

Thanks for tracking it down!

[2017-09-13 16:46] nmorey opened #4208 "Compile error when using both --disable-mca-dso and --with-devel-headers"
On SUSE LEap 42.3, using either a git tarball of v3.0.0 or the packaged release from the site, build fails:
[code]

Tried make without -j, same thing.

[code]

Configure is
[code]

You can find full build log here:
https://build.opensuse.org/build/home:NMoreyChaisemartin:branches:science:HPC/openSUSE_Leap_42.3/x86_64/openmpi3/_log

[2017-09-13 17:03] rhc54 commented on #4208
Remove the --with-pmix=internal and see if that works

[2017-09-13 17:45] rhc54 commented on #4207
I see what happened - we fixed it in PMIx v2.0, and it somehow got overwritten/lost in PMIx master.

[2017-09-13 23:13] bwbarrett opened #4211 "Compile failure if libnl-3 is installed but libnl-route-3 is not"
The netlink reachable component fails to compile if libnl-3 is installed but libnl-route-3 is not.  Ubuntu splits the two into different packages, without a dependency from libnl-3 to libnl-route-3.  It looks like `OPAL_CHECK_LIBNL_V3` fails but `OPAL_CHECK_LIBNL_V1` succeeds and has no further version checking in the configure macro, so we assume success and try to build the component.  But the n

[2017-09-14 05:05] ggouaillardet commented on #4208
as a side note, you might also want to replace ```--with-libltdl=/usr``` with ```-with-libltdl```

[2017-09-14 07:33] nmorey commented on #4208
@rhc54 same thing

[2017-09-14 08:30] ggouaillardet commented on #4208
the root cause is in ```opal/mca/pmix/pmix2x/configure.m4```
[code]
do we really need the ```--with-pmix-extra-lib``` option ?
so far, it seems to work just fine without it

[2017-09-14 09:10] ggouaillardet commented on #4208
@nmorey this is very likely a bug, that is triggered by __both__ ```--disable-mca-dso``` __and__ ```--with-devel-headers```
As a workaround, you can get rid of one of these two options.
An other option is to hack ```configure``` and remove the line where ```--with-pmix-extra-lib``` is prepended to ```$opal_pmix_pmix2x_args```

[2017-09-14 10:15] karasevb opened #4212 "OMPI/master is hanging with external PMIx 1.2"
This problem reproduced for OMPI/master with PMIx v1.2 as external and `hello_c` program.
[code]

[2017-09-14 10:15] karasevb commented on #4212
@artpol84

[2017-09-14 15:38] jsquyres commented on #4208
@nmorey Question: is there a reason you're using `--with-devel-headers` and `disable-mca-dso`?  The former is really only meant for people who are writing Open MPI plugins and who do not have an Open MPI source tree available -- it is *not* meant for general users who are writing MPI applications.  The latter is really only intended for extreme scale users who are concerned about a bazillion `dlop

[2017-09-14 21:26] hjelmn commented on #2614
Finally found the time to track this down. I see what is going wrong in osc/pt2pt. I should have a fix ready for testing tomorrow.

[2017-09-15 01:41] ggouaillardet commented on #4208
@nmorey there is indeed a simpler workaround, simply use ```--disable-dlopen``` instead of ```--disable-mca-dso```.

@jsquyres from ```configure --help```

[code]

should ```--disable-mca-dso``` be equivalent to ```--disable-dlopen``` instead ?

[2017-09-15 13:04] nmorey commented on #4208
@ggouaillardet  @jsquyres The devel-headers should be dropped. I don't know why it's still there.
I added the disable-mca-dso for two reasons:
- We had an issue where shmem support was not found without this
- It fixed automatic dependency detection from the RPM

This ws done some time ago so I don't remember the exact details

[2017-09-15 13:13] jsquyres commented on #4208
@ggouaillardet Yeah, you're right -- I was mixing up `--disable-mca-dso` and `--disable-dlopen` in my brain.  Disregard what I said about `--disable-mca-dso`, above.

@nmorey `--disable-mca-dso` with no arguments should be a no-op.  Another question (unrelated to your issue): is there a reason you're saying `--enable-mpi-fortran=usempi`?  This will disable the Fortran '08 bindings.  If you have a

[2017-09-15 13:34] nmorey commented on #4208
@jsquyres Once again legacy reasons (that may be bad).
I copied a lot of what we do for openmpi 1.10. I need to dig into the changelogs to see if there was a bug that justified this.

[2017-09-15 13:37] nmorey commented on #4208
Apparently it was done due to some bug in gcc4. I'll drop this flag too

[2017-09-15 13:54] jsquyres commented on #4208
@nmorey Ok, great -- let us know how it goes.  We do have a bug to fix here, but hopefully by deleting some of these now-unnecessary flags for you, the issue goes away (i.e., the bug is a combination of flags that should rarely/never happen).

[2017-09-15 14:25] nmorey commented on #4208
@jsquyres Seems to compile OK now. Thanks

[2017-09-15 16:25] jsquyres commented on #4208
@nmorey Exxxccellent.  Thank you!

I'm going to rename this issue to more accurately describe the bug that still needs to be fixed, but I think it's probably a little lower priority.

[2017-09-17 16:20] Mazay0 opened #4219 "OpenMPI builds with CUDA and OpenCL dependency even with --with-cuda=no option"
## Background information

Tested on version 2.1.1 from source tarball.

-----------------------------

## Details of the problem

I tried to build OpenMPI from source with the following script:

[code]
Then I checked mpiexec dependecies with ldd command and found, that there are still dependencies on libOpenCL.so and libcudart.so. Of course on the server without these libraries this program do no

[2017-09-17 16:47] AntoineD opened #4220 "Outdated README link"
This link points to the obsolete repo
https://github.com/open-mpi/ompi/blob/79f82f2c6da3910c45865bb543d53f34580fe6e4/README#L1439

[2017-09-18 04:01] ggouaillardet commented on #4220
thanks for the report, would you mind issuing a PR for that ?

[2017-09-18 09:26] AntoineD commented on #4220
Yes I will.

[2017-09-18 09:51] artpol84 opened #4222 "MPICH test suite 'sendflood' test failures"
Starting from Sep. 15 we see hangs in of the MPICH test suite tests:
https://mtt.open-mpi.org/index.php?do_redir=2484
This affects both v2.x and v3.x branches.
Prior to Sep. 15 no failures was observed.

[2017-09-18 13:23] dalcinl commented on #4135
BTW, are the following lines in `MPI_Reduce` correct for the case of intercommunicators for processes passng `root = MPI_PROC_NULL`?
[code]

IMHO, the whole buf error checking is bad, it should be done differently for intra/inter communicators, ignoring the checks for inter with `MPI_PROC_NULL` , rather for all ranks as it is done now.

[2017-09-18 14:49] jsquyres commented on #4219
@sjeaugey Can you look into this?

[2017-09-18 16:28] hppritcha commented on #3904
@edgargabriel can we remove the target 2.x label since you're not planning to push back to 2.1?

[2017-09-18 16:29] hppritcha commented on #4151
adding 3.x since these warnings are almost certainly present on that branch.

[2017-09-18 16:29] edgargabriel commented on #3904
yes, lets do that.

[2017-09-18 16:37] sjeaugey commented on #4219
There is no reference to OpenCL in the CUDA-aware code. My only guess as to where those dependencies are coming from is hwloc. @bgoglin do you think it's possible that hwloc within Open MPI is compiling some CUDA and OpenCL support, creating this dependency ?

[2017-09-18 17:58] bgoglin commented on #4219
A quick look in opal/mca/hwloc/hwloc*/configure.m4 tells me that OMPI's configure doesn't prevent hwloc from enabling everything it finds except NVML.

[2017-09-19 13:51] #4212 closed

[2017-09-19 15:06] nmorey commented on #4208
@jsquyres FYI, after some debugging I was able to remove the --disable-mca-dso option.
The bug was due to lib/openmpi/*.so being packaged in the openmpi-devel package and not available at runtime.

[2017-09-19 15:09] rhc54 commented on #4207
Fixed by #4217

[2017-09-19 15:09] #4207 closed

[2017-09-19 15:55] jjhursey commented on #164
C/R support is not longer supported. Closing as won't fix.

[2017-09-19 15:55] #164 closed

[2017-09-19 15:55] jjhursey commented on #102
C/R support is not longer supported. Closing as won't fix.

[2017-09-19 15:55] #102 closed

[2017-09-19 15:57] bwbarrett commented on #3996
@jladd-mlnx, ping

[2017-09-19 15:58] rhc54 commented on #191
@edgargabriel Is this still true?? Can we close it?

[2017-09-19 16:12] jsquyres commented on #3705
This is now done in v3.0.x and forward.

[2017-09-19 16:12] #3705 closed

[2017-09-19 16:39] edgargabriel commented on #191
yes. I honestly don't remember whether it was fixed in 1.6, but it is working now.

[2017-09-19 16:39] #191 closed

[2017-09-20 06:55] #2185 closed

[2017-09-20 09:34] nmorey opened #4238 "No PMIx shared lib when --enable-static is set"
On v3.0.0

Building openmpi generate these files:
/usr/lib64/mpi/gcc/openmpi3/lib64/pmix/mca_pnet_opa.so
/usr/lib64/mpi/gcc/openmpi3/lib64/pmix/mca_psec_native.so
/usr/lib64/mpi/gcc/openmpi3/lib64/pmix/mca_psec_none.so
/usr/lib64/mpi/gcc/openmpi3/lib64/pmix/mca_psensor_file.so
/usr/lib64/mpi/gcc/openmpi3/lib64/pmix/mca_psensor_heartbeat.so
/usr/lib64/mpi/gcc/openmpi3/lib64/pmix/mca_ptl_tcp.so
/usr

[2017-09-20 14:22] jsquyres commented on #4238
Those are all plugins (similar to the plugins in `$prefix/lib/openmpi`).

When you `--enable-static`, all plugins are slurped up into their respective libraries (i.e., they aren't standalone DSOs any more).  See the README: https://github.com/open-mpi/ompi/blob/master/README#L773-L777

[2017-09-20 14:38] nmorey commented on #4238
OK. Makes sense.
I did not notice that for the lib/openmpi as even in static mode, this one exists:
lib64/openmpi/libompi_dbg_msgq.so

[2017-09-20 14:38] #4238 closed

[2017-09-20 14:40] jsquyres commented on #4238
Yes, `libompi_dbg_msgq.so` is a plugin for an external debugger (i.e., it adds Open MPI functionality to the Totalview and DDT debuggers -- it's not a plugin *for* Open MPI; it's a plugin *from* Open MPI).

[2017-09-20 14:51] hjelmn commented on #2614
Damn this is a nasty bug. Its getting a lot further but now I am running into another issue. Will keep cranking away at it until I know what the root cause is. Will start a parallel effort to ensure osc/rdma passes next month.

[2017-09-20 22:07] hppritcha opened #4240 "Release 2.1.3 checklist"
## Make a perfect tarball

- [x] Update the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --re

[2017-09-20 22:40] #3509 closed

[2017-09-20 22:50] hppritcha commented on #665
this issue is no longer to 2.0.4.   we'll only be taking critical bug fixes.  Moving to future for now.

[2017-09-20 22:53] hppritcha commented on #4078
@hjelmn please close this issue if PR #4203 resolved it.

[2017-09-20 22:54] hppritcha commented on #2604
not going to address in 2.0.4.

[2017-09-21 06:32] ggouaillardet commented on #4211
#4242 if only half a fix. on ubuntu, ```reachable/netlink``` will not build. the real fix is to have it built since i believe everything needed is already there.

[2017-09-21 06:51] ggouaillardet commented on #4211
on second thought, this is the real fix.
in order to build ```reachable/netlink```, the ```libnl-route-3-dev``` package has to be installed.

[2017-09-21 14:41] jsquyres commented on #4219
Seems like a bug -- we should have the hwloc component honor the top-level Open MPI `--without-cuda` CLI option.

I'm *guessing* that this issue is present in most (all?) versions of Open MPI.

[2017-09-21 15:12] jsquyres commented on #4211
@ggouaillardet Are you saying that https://github.com/open-mpi/ompi/blob/master/config/opal_check_libnl.m4#L177-L186 somehow isn't working?

[2017-09-21 15:14] bgoglin commented on #4219
Yes, very likely present forever. Note that hwloc's OpenCL code is actually only useful for AMD GPU, not for NVIDIA. But it builds whenever OpenCL is detected.
Anyway, if OMPI doesn't care about OpenCL hwloc osdevs (and likely GL too), just apply something like this:
[code]

[2017-09-21 15:15] jsquyres commented on #4219
@bgoglin Have a look at #4245 -- is your solution or my solution better?  I'm happy to update #4245 with your solution if it's better.

[2017-09-21 15:18] jsquyres commented on #4078
It does, so I'll close this issue.

[2017-09-21 15:18] #4078 closed

[2017-09-21 15:22] bgoglin commented on #4219
I'd say apply both. I don't think your patch will disable OpenCL because hwloc's configure options for CUDA and OpenCL are independent.

[2017-09-21 15:23] jsquyres commented on #4219
@bgoglin Oh, good point -- I missed that distinction (CL vs. CUDA).  Ok, I'll add your patch to #4245; thanks.

[2017-09-21 15:26] jsquyres commented on #4219
#4245 updated.

[2017-09-21 16:18] sjeaugey commented on #4219
@jsquyres @bgoglin :+1: this is exactly what I was looking for, just didn't find where to cleanly set those variables.

In general, we should only build what we're using. So we shouldn't need CUDA support in hwloc (inside Open MPI). That could apply to anything hwloc has support for.

[2017-09-21 17:43] #4219 closed

[2017-09-21 19:36] jsquyres opened #4248 "Do not build CUDA support in hwloc when --without-cuda is specified"
* Originally reported in #4219
* Master PR to fix the issue: #4245

Needs to be applied to v2.x and v3.0.x.  It *may* be desirable to also apply this to v2.0.x.  @jsquyres and @hppritcha will discuss.

[2017-09-21 19:39] jsquyres commented on #4248
@Mazay0 Thanks for reporting the original issue in #4219.  This issue is to track applying the fix to all the release branches.

[2017-09-21 20:12] markalle commented on #4144
Any updates on this? (did the discussion migrate to some romio forum or is this still the main spot)?

[2017-09-22 00:38] ggouaillardet commented on #4211
the code you pointed to is working as expected.

a few lines earlier, we ```OPAL_CHECK_PACKAGE([$2], ..., [nl_recvmsgs_report], ...)``` and upon success, this sets ```$2_LIBS```.
a few lines later, we invoke the code you pointed to, and it might fail (for example if only half the ```libnl3``` devel headers are installed on debian based distro.
in ```opal/mca/reachable/netlink/configure.m4``` of ``

[2017-09-22 18:44] jjhursey commented on #3546
The fix has been integrated into the v3.0.x branch (PR #4226) and v2.x branch (PR #4227) so we can close this issue as fixed. Since v2.0.x is at end-of-life we did not port it to that branch.

[2017-09-22 18:44] #3546 closed

[2017-09-22 19:26] mathog opened #4255 "LD_PRELOAD and errno not 0 at startup"
Thank you for taking the time to submit an issue!

## Background information
Centos 6.7,  with RPMS
openmpi-1.8-1.8.1-5.el6.x86_64
openmpi-1.8-devel-1.8.1-5.el6.x86_64

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
1.8

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system

[2017-09-23 05:04] ggouaillardet commented on #4255
imho, when ```LD_PRELOAD``` is used, ```program startup``` should be interpreted as when the (first) constructor of the LD_PRELOAD'ed library is invoked. Otherwise, and still imho, this behaviour should be seen as a bug of the GCC runtime.

Open MPI 1.8 is no more supported (you should use either the ```2.1``` or the newly released ```3.0``` series, try again and see how things go and we __might__

[2017-09-24 11:54] jsquyres commented on #4211
(more followup on #4243)

[2017-09-24 12:40] jsquyres commented on #4248
See #4257 for a follow-on commit that could be added to all these PRs.

[2017-09-25 15:37] nmorey opened #4260 "IMB tesuite fails when using vader"
Using openmpi 2.1.2 and the Intel MPI Benchmark suite (https://software.intel.com/sites/default/files/managed/76/6c/IMB_2017_Update2.tgz) on x86 systems (multiple SUSE versions)

I get this error
[code]

while `mpirun -np 2  --mca btl sm,self /usr/lib/mpi/gcc/openmpi2/tests/IMB/IMB-MPI1` works fine

Tried to gdb the SEGV but no success yet.

[2017-09-25 15:53] #3995 closed

[2017-09-25 16:08] hppritcha commented on #2525
@rkowalewski I'm trying to reproduce this problem, but so far no success using my IB/Intel OPA cluster.  Could you post the output of your config.log as well?

[2017-09-25 16:36] mathog commented on #4255
Yeah, I know 1.8 isn't supported anymore.   I don't have a test system to see if 2.1 does the same thing.  Why is OpenMPI setting errno before it enters main() on the test program?  The error message indicates that it went looking for some file or directory and did not find it.  What file/directoy might that have been?  I can fix my own code but not any other program that has a similar issue if on

[2017-09-25 17:23] bosilca commented on #4260
The issue seems to be fixed in 2.1.3a1 and in master.

[2017-09-25 17:37] jsquyres commented on #4255
Note that we never really designed Open MPI to be invoked pre-`main()`; there was no attempt to ensure `errno` was set to 0 before library constructors returned (not even in the newly-released v3.0.0).  The MPI specification gives a few functions that are supposed to be used to initialize MPI state (e.g., `MPI_Init()`).

Meaning: I really don't have any idea offhand as to what caused `errno` to be

[2017-09-25 18:23] mathog commented on #4255
The test program was boiled down from a much larger program which checked errno after a call that could have set it to a nonzero value if an error was seen in that function (strtoull).    The original program was seen to exit at that point when LD_PRELOAD was set, even though it didn't do anything  with MPI itself.   Normally for strtoull() one checks for a return value of ULLONG_MAX before checki

[2017-09-25 18:48] jsquyres commented on #4255
@mathog Gotcha.  Sounds like you were getting lucky about no other library constructors setting `errno` to a nonzero value, but when your requirements changed, something (Open MPI or one of its dependent libraries) has a constructor that is setting `errno` to nonzero.

As for having Open MPI reset `errno` back to 0, there are likely literally hundreds of places where this can occur in the Open MPI

[2017-09-25 19:12] hppritcha commented on #2525
I should say I was using the 2.0.3 release.  If you have a chance could you see if the problem is gone with 2.0.3?  If its still failing, we will need the config.log.

[2017-09-25 19:42] jsquyres commented on #4220
Fixed via #4221.

[2017-09-25 19:42] #4220 closed

[2017-09-25 21:09] jsquyres opened #4263 "master: Getting TCP BTL complaints about peer unexpectedly closing connection"
In MTT (and manual) runs of Open MPI on master, I'm getting complaints from the TCP BTL about the peer unexpectedly closing the connection while it was trying to read a blocking message.

Note that I have a lot of IP interfaces on my linux machines.  Here's an example:

[code]

Running 32 copies of the Intel `MPI_Isend_rtoa_c` test across 2 16-core machines (`mpi019`,
 and `mpi020`), each with the

[2017-09-25 22:08] jsquyres opened #4264 "master: getting segv's in MPI_Bcast_c over TCP BTL"
In Cisco MTT runs (and manually, I'm getting a segv in MPI_Finalize with *many* of the Intel tests in Cisco MTT.  I'm honestly not sure where the error is *actually* occurring -- it looks like a double free of a proc in MPI_Finalize.

Here's an example from `MPI_Bcast_c` -- I see it when running on two servers with as low as NP=8/PPN=4:

[code]

Somehow it seems like the `proc_hostname` memory is

[2017-09-26 01:27] jsquyres commented on #4264
@rhc54 A git bisect shows that 691237801bc1d99ec3f7abebfad6a5c5072eee1e is the first bad commit (i.e., to introduce the segv).  The commit is from Wed, Sep 13, and had the commit message "Update to track PMIx master".

Can you have a look?

I notice the following:

* Running the simple MPI examples (ring, hello) doesn't seem to trigger the error.
* The Intel tests seem to trigger the error
* I was

[2017-09-26 01:52] ggouaillardet commented on #4264
it seems like ```proc_hostname``` was simply never initialized (!) and i fixed that in open-mpi/ompi@b3558f261b53587ec03bd430322927b8614bf22f

i will PR to __all__ branches from now, and fwiw, i am very surprised this did not bite us earlier !

[2017-09-26 01:53] rhc54 commented on #4264
Thanks @ggouaillardet !

[2017-09-26 06:27] nmorey commented on #4260
@bosilca Do you have a sha1 ? I need to get 2.1.2 working for our next release (2.1.3 will be too late).

[2017-09-26 06:43] karasevb opened #4268 "oshmem: introduce the definition `SHMEM_ALLTOALLS_SYNC_SIZE`"
`SHMEM_ALLTOALLS_SYNC_SIZE` is defined in OSHMEM specification, but missed in OMPI. It should be define.

[2017-09-26 08:09] #4268 closed

[2017-09-26 08:10] #3996 closed

[2017-09-26 09:08] nmorey commented on #4260
I see the same issue with the tip of the v2.x branch

[2017-09-26 09:25] nmorey commented on #4260
Note: This does not happen everytime. Sometimes it stalls, sometimes it works.

[2017-09-26 10:35] jsquyres commented on #4264
It looks like b3558f2 was in July of 2014.  How is it possible that this lack of initialization didn't bite us before now?  Does this fix require an immediate release on all branches?

[2017-09-26 12:47] ggouaillardet commented on #4264
does this have something to do with ```cutoff``` ?
iirc, it is enabled by default from ```v3.0```, and if unused, i suspect ```proc_hostname``` always gets initialized later but not too late.

[2017-09-26 13:55] rhc54 commented on #4264
I can point you to places where the issue might arise, but I have to give a talk and then run for a plane this morning - so it will be tonight. Short story: it is possible that we changed something in the latest PMIx that results in the hostname not being a copy of the stored info, but just a pointer to it. I don't know if that is true, but it should be checked.

[2017-09-26 13:58] jsquyres commented on #4264
@rhc54 Given the hash that git bisect found, I was wondering the same thing.  I'll try to take a quick look this morning before the webex.

[2017-09-26 13:58] rhc54 commented on #4264
@jsquyres FWIW: the referenced commit was done just last night - so I assume you meant to cite the commit that the referenced commit fixed?

[2017-09-26 13:59] jsquyres commented on #4264
From an off-issue email: C99 doesn't protect us from uninitialized struct members in this case because it only guarantees that *stack* struct uninitialized members are zeroed out.  This particular instance is an `OBJ_NEW`, which is on the heap, not the stack.

This gives rise to a different-but-related question: in https://github.com/open-mpi/ompi/blob/master/opal/class/opal_object.h#L478-L487, we

[2017-09-26 14:01] jsquyres commented on #4264
@rhc54 691237801bc1d99ec3f7abebfad6a5c5072eee1e appears to be from approximately 2 weeks ago.  That's the commit I was referring to (from https://github.com/open-mpi/ompi/issues/4264#issuecomment-332059192).

[2017-09-26 14:03] rhc54 commented on #4264
@jsquyres I was talking about your comment that https://github.com/open-mpi/ompi/commit/b3558f261b53587ec03bd430322927b8614bf22f was from July of 2014 😄

[2017-09-26 14:29] jsquyres commented on #4264
Just to be clear:

* Git bisect identified a recent PMIx commit (~2 weeks ago) as where the problem started in Cisco environments: 6912378
* @ggouaillardet found that the root cause may be that `proc->proc_hostname` was never initialized.
  * This code was introduced into the code base about 3 years ago in commit 552c9ca5a08.
  * @ggouaillardet fixed the proc code (i.e., ensure that `proc_hostname

[2017-09-26 16:00] gpaulsen commented on #2614
@hjelmn, Is this issue specific to osc_pt2pt or osc progress / multithreaded in general and only tickled by osc_pt2pt?

[2017-09-26 16:33] bosilca commented on #4260
I used the current head at cb36cf9e9b.

  George.

[2017-09-26 16:41] nmorey commented on #4260
I can still see the bug on this SHA. I see it on v3.0.0 too.

[2017-09-26 16:41] nmorey commented on #4260
@bosilca Are you on x86 or x86_64 ? 64 bits works fine it's the 32b version that breaks.

[2017-09-26 16:47] bosilca commented on #4260
I haven't built the 32 bits version in ages ...

[2017-09-26 16:52] nmorey commented on #4260
I've never seen the issue on x86_64. The i586 has probably be broken for a while but the testsuite I run failed silently due to a glitch in some script.

[2017-09-27 06:58] ggouaillardet commented on #4264
i digged this a bit, and it seems this bites us only in ```master```.

short story
- on rank ```1```, vpid ```5``` is ```ompi_group_dense_lookup```'ed and ultimately ```ompi_proc_complete_init_single()```
  - retrieves the ```proc_hostname``` on ```v3.0.x```
  - does not retrieve the ```proc_hostname``` on ```master```
so far so good, ```proc_hostname``` is retrieved with ```OPAL_MODEX_RECV_VALUE_

[2017-09-27 10:16] jsquyres commented on #4264
Just to be clear: you're saying that it looks like the real error is that PMIx is packing/sending the hostname, but then after receiving/unpacking it at the receiver, it is dropped before it is assigned to `proc->proc_hostname`?

[2017-09-27 11:43] ggouaillardet commented on #4264
not really,
i was just detailing which path leads to a crash, explaining why only ```master``` is affected.

initializing ```proc_hostname``` in the constructor is a way simpler and fixes the current crash (and maybe other current and/or future scenarios)

note all is happening at the ```ompi``` level, and we can leave ```PMIx``` out of the picture.
/* the root cause is ```proc_hostname``` was use

[2017-09-27 14:17] jsquyres commented on #4264
@rhc54 and I talked about this on the phone this morning.

I have an alternate proposal: the point of not initializing `proc->proc_hostname` is to save space (especially in very large jobs) because we'll potentially `strdup()` the same hostname many times -- it's a big waste of space.

### Proposal 1

How about making a ref-counted string?  Perhaps `opal_string_t` (or `pmix_string_t`)?  It can be

[2017-09-27 14:28] jsquyres opened #4277 "master: Setting pmix_base_async_modex=1 is causing jobs to hang/fail"
Lots of Cisco MTT jobs are hanging on master when setting the MCA param `pmix_base_async_modex` equal to 1.

When I run on master HEAD across 2 nodes in a SLURM allocation (each with 16 cores):

[code]

But if I set `pmix_base_async_modex=1`:

[code]

The first error message is about how two procs on the same host can't communicate with each other, even though it tried  the`tcp` and `vader` BTLs.

[2017-09-27 14:37] rhc54 commented on #4264
FWIW: PMIx uses a shared memory to pass info to clients (direct launched or not) that contains a regular expression reporting the hostname for every proc. We no longer store those individually due to the memory footprint at large scale. We then have an API that lets you request the info - that code gets the regex (from the shmem) and parses it to locally return the answer. However, it means that y

[2017-09-27 14:42] ggouaillardet commented on #4264
the initial issue was we do not initialize ```proc_hostname``` to ```NULL```.
i guess you meant instead

i can definitely implement your first proposal as a proof of concept

the second one is even better from a memory consumption point of view.
PMIx does something similar for the ```dstore``` but i am not sure Open MPI can directly use this.
@rhc54 any thoughts ?

[2017-09-27 15:02] rhc54 commented on #4264
I would gravitate to the second proposal except that we don't have PMIx available everywhere (e.g., Cray still hasn't adopted it). The first proposal has the benefit of working everywhere, though it isn't as optimal a solution.

Where PMIx is available, there is no problem with PMIx returning a pointer to the string instead of a copy of it - it's just another info-key passed to "get" and easy to a

[2017-09-27 15:52] hppritcha commented on #4264
I'd prefer proposal  1 as it is simpler and can be implemented entirely within ompi/opal.

[2017-09-27 15:53] bosilca commented on #4264
I confused about the usage of ompi_comm_get_rprocs. This function is only supposed to be used for inter-communicators (and it is), so I fail to see how this can impact the examples that started this discussion.

[2017-09-27 16:00] rhc54 commented on #4264
IIRC, the Intel test suite always does some communicator creation at the start - we've been burned by that before.

[2017-09-27 16:09] rhc54 commented on #4277
Sigh - I can't run multi-node with TCP at all:
[code]
I do have two NICs on the machines, and Warewulf has named them differently (i.e., the HNP is running with an interface called ens2f1 on the 10.x net, while the other node is on an interface called eth0 on the 10.x net). I tried passing btl_tcp_if_include and exclude options to resolve the problem, but nothing works.

Anyone have a suggestion?

[2017-09-27 16:09] rhc54 commented on #4277
Sigh - I can't run multi-node with TCP at all:
[code]
I do have two NICs on the machines, and Warewulf has named them differently (i.e., the HNP is running with an interface called ens2f1 on the 10.x net, while the other node is on an interface called eth0 on the 10.x net). I tried passing btl_tcp_if_include and exclude options to resolve the problem, but nothing works.

Anyone have a suggestion?

[2017-09-27 16:09] rhc54 commented on #4277
Sigh - I can't run multi-node with TCP at all:
[code]
I do have two NICs on the machines, and Warewulf has named them differently (i.e., the HNP is running with an interface called ens2f1 on the 10.x net, while the other node is on an interface called eth0 on the 10.x net). I tried passing btl_tcp_if_include and exclude options to resolve the problem, but nothing works.

Anyone have a suggestion?

[2017-09-27 16:12] bosilca commented on #4264
ompi_comm_get_rprocs is only used from MPI_Intercomm_create. As far as I see the MPI_Bcast_c does not call MPI_Intercomm_create. Other communicator creation function take a different path, and are always supposed to complete with ```ompi_proc_complete_init_single```.

[2017-09-27 16:17] bosilca commented on #4277
There was a severe breakage in the TCP BTL. I am working on a fix (disclaimer: I'm at EuroMPI/USA and the progress might be slow)

[2017-09-27 17:10] jsquyres commented on #4277
This looks like the same TCP BTL error I reported in #4263.

[2017-09-27 18:38] bosilca commented on #4277
Yes, the same root cause (the handshaking fails similarly on both peers) so they fail to connect to each other).

[2017-09-28 10:27] ggouaillardet commented on #4264
@bosilca the ```intel`` test suite has a "framework" to test a given subroutine with various communicators and datatypes. ```MPI_Intercomm_create()``` is invoked under the hood, and it might require a minimum number of MPI tasks, with 8 MPI tasks, it is definitely invoked.
i finally figured out the reason why ```ompi_proc_{pack,unpack}``` is packing/unpacking ```proc_hostname``` is to flag the loc

[2017-09-28 14:29] jsquyres commented on #4255
With no further traffic on this issue, I'm assuming that setting `errno` to 0 before calling `strtoull()` is a sufficient fix.

[2017-09-28 14:29] #4255 closed

[2017-09-28 17:14] alinelena opened #4280 "openmpi fails to build with intel compilers 18"
Thank you for taking the time to submit an issue!

## Background information
I try to build openmpi 3.0.0 with intel  compilers 18.0 on a opensuse tumbleweed. this has gcc 7 as default.

configure stage fails with

[code]

I have looked into the test and removing the following define , #define _GNU_SOURCE 1

[2017-09-28 17:18] sjeaugey opened #4281 "Disable Fortran (77 at least) in Romio"
Open MPI has recently deprecated the use of the F77/FFLAGS environment variables (in favor of FC/FCFLAGS), but the ROMIO configure is still looking for F77. I don't think it is used in the end, but it would be cleaner to disable F77 in ROMIO (to avoid users being confused).

In fact, maybe we should disable Fortran completely in ROMIO, it seems to be only used to compile tests, not the library.

[2017-09-28 17:22] alinelena commented on #4280
also glibc version is 2.26

[2017-09-28 17:30] alinelena commented on #4280
other woraround seems to be including stdio.h before the offending define

`
 #include <stdio.h>
 #define _GNU_SOURCE 1
 #include <stdlib.h>
 int
 main ()
 {
     long data[2] = {0, 0};
     long *lp;
     int *ip;
     ip = (int*) data;
     ip++;
     lp = (long*) ip;
     return lp[0];
   ;
   return 0;
 }
`

[2017-09-28 20:15] mohanasudhan commented on #4263
https://github.com/open-mpi/ompi/pull/4134 should fix the issue but Mellanox test was failing. As I stated on the PR I couldn't relate failure is because of change and now logs are gone. I am going to restart those tests but I think I might need help in figure mellanox error if it happen again.

[2017-09-29 06:11] matzeri opened #4282 "memory/patcher selected also when all tests fail"
Version 2.1.2
The configuration test at
opal/mca/memory/patcher/configure.m4
is incomplete and the patcher is selected also when all tests fail

configure:122388: checking for __curbrk
/usr/src/debug/openmpi-2.1.2-0.3/conftest.c:691: undefined reference to `__curbrk'
configure:122388: $? = 1
configure:122388: result: no

configure:122401: checking linux/mman.h usability
conftest.c:690:24: fatal er

[2017-09-29 12:58] EmmanuelBRELLE opened #4284 "Return codes in pml ob1 from btl_get"
On master branch but probably in other branches the btl provides a get function specified in opal/mca/btl/btl.h
[code]
This function is mapped by ompi/mca/bml/bml.h as follows :
[code]

which is then used in ompi/mca/pml/ob1/pml_ob1_recvreq.c here
[code]
This last piece of code shows the case 'rc == 1' (i.e. the get is completed) is possible but handled as an error in the pml ob1.  I do not have a

[2017-10-01 06:26] bosilca commented on #4284
Nice catch. A patch 2a2db13b32 has been pushed.

[2017-10-01 19:56] ericch1 commented on #3818
it looks like we got no issues since my last report...
Can I remove the OMPI_MCA_ess_singleton_isolated or is it mandatory?

export OMPI_MCA_ess_singleton_isolated=1

Thanks,
Eric

[2017-10-01 20:13] rhc54 commented on #3818
Try removing it - it should be okay, but let's see

[2017-10-02 10:56] ggouaillardet commented on #4281
good idea, simply adding ```--disable-f77 --disable-f90``` to ```romio``` ```configure``` does the trick.
i will be issuing a PR sometimes today

[2017-10-02 16:51] mathog commented on #4255
Not sure if "sufficient" is the word I would use, but certainly it is the only practical fix since the OpenMPI version in question is no longer supported.

It is probably still worth finding out though if the current code sets errno the same way when it is pulled in with LD_PRELOAD for a program which otherwise makes no use of OpenMPI.  That is, it might actually be a bug that OpenMPI is setting t

[2017-10-02 19:58] jsquyres commented on #4255
To be clear: the GNU page you cited said that setting `errno` to 0 before calling `strtoull()` is the correct fix.  As described earlier on this issue, you cannot assume that `errno` is 0 before you set it to 0 -- even as the first executable statement in `main()`.

FWIW: setting `errno` to `ENOFILE` can happen for many different reasons, and most of them are just normal functions of Open MPI or d

[2017-10-03 00:02] #4281 closed

[2017-10-03 13:19] ericch1 commented on #3818
No problem after the first batch of nighty tests... but have to let go for some nights since the problem was intermittent...
Thanks,
Eric

[2017-10-03 15:05] rhc54 opened #4292 "Assignment of locale to proc ends early for PPR mapper"
Per mail in devel list:
[code]

[2017-10-04 00:15] mohanasudhan commented on #4131
closed https://github.com/open-mpi/ompi/pull/4295

[2017-10-04 00:15] #4131 closed

[2017-10-04 00:16] mohanasudhan commented on #4263
Pushed the fix https://github.com/open-mpi/ompi/pull/4295 . Let me know if the problem persist in next MTT run

[2017-10-04 04:26] rhc54 opened #4296 "Delete nspace causes segfaults in PMIx dstore"
Looking at the updated OMPI master that includes the latest PMIx commit to delete nspace upon disconnect, we are getting segfaults in the ds12 component:
[code]
It looks like the _ns_track_array may not be getting initialized to NULL, or that the trackers in it are getting released too many times.

@karasevb @artpol84 Please take a look. You can find the intercomm_create code in orte/test/mpi.

[2017-10-04 04:27] rhc54 commented on #4296
Here is the stacktrace - note that it is the client (not the server) that is segfaulting:
[code]

[2017-10-04 04:40] karasevb commented on #4296
@rhc54 Thanks for the details. I'm fixing.

[2017-10-04 07:12] tgpfeiffer commented on #592
I am not sure whether this is related to "keepalive support" or not, but I still see that behavior on 2.1.1, and also 2.1.2, as described here: https://mail-archive.com/users@lists.open-mpi.org/msg31592.html
Has the patch from above(https://github.com/open-mpi/ompi/issues/592#issuecomment-104737547) made it to the main source code? Looking at https://github.com/open-mpi/ompi/blob/v2.1.2/orte/mca/o

[2017-10-04 07:59] rhc54 commented on #592
Hmmm...I see the code went into master, which is where the code referenced here was targeted. However, I agree that I don't see where it was PR'd to the release branches.

@jsquyres did you forget to move this across?

[2017-10-04 16:58] hppritcha opened #4300 "update LANL platform files to remove XRC recv buf option"
Forgot as part of #3970 to update some of the LANL platform files to remove use of XRC receive queues.

[2017-10-04 16:59] hppritcha commented on #4300
Don't need this for 2.0.x since LANL will not be installing that.

[2017-10-04 20:13] #3608 closed

[2017-10-04 20:31] rhc54 opened #4303 "Treematch issues in master"
The treematch topology component is segfaulting in master when running MTT:
[code]

[2017-10-05 03:08] tgpfeiffer commented on #2075
I see the same problem with OpenMPI 3.0.0, when I send a TERM signal to `mpirun` then it produces an infinite stream of

messages to stdout until the signal is escalated to KILL. I think I have not seen that behavior on 2.1.2.

[2017-10-05 04:50] tgpfeiffer commented on #3943
(Also described the problem in <https://github.com/open-mpi/ompi/issues/2075#issuecomment-334346454>.) I have `mpirun` running in a Docker container and when I stop that container it seems that SIGTERM and SIGCONT are sent to the `mpirun` process (I hope that my reading of the `strace` output is correct) which (occasionally?) leads to an endless stream of

messages in my standard output. In the PR

[2017-10-05 04:59] bosilca commented on #4303
We're looking into it, but I can't replicate it on any of my machines. The execution path in treematch depends on the local architecture of the platform. Can we have a description of the setting where this assert triggered ?

[2017-10-05 11:42] #4296 closed

[2017-10-05 11:51] rhc54 commented on #4303
Here is the topology (local.txt is the xml version).

[local.pdf](https://github.com/open-mpi/ompi/files/1359170/local.pdf)

[local.txt](https://github.com/open-mpi/ompi/files/1359175/local.txt)

Let me know if I can provide any debug output.

[2017-10-05 11:53] rhc54 commented on #3943
What OMPI version are you using?

[2017-10-05 11:53] rhc54 commented on #3943
Never mind - I see from your other comment that it is 3.0.

[2017-10-05 23:14] rhc54 opened #4306 "Show load errors is defaulting to true"
In v3.x, and on master, the default value for the MCA param "mca_base_component_show_load_errors" is being set to "true". This means that people who install OMPI from a packager get load errors reported for every component whose library isn't installed.

IIRC, our policy was to default this to "false" for just that reason. Did someone change it by mistake?

[2017-10-05 23:17] BryantLam opened #4307 "Naming conflict for shmem_put/get in shmem-compat.h"
[shmem-compat.h is included after a compiler check for C11 support.](https://github.com/open-mpi/ompi/blob/3660cedc4871c21f2902db8634807cf4c30f1e57/oshmem/include/shmem.h.in#L51) OpenSHMEM 1.3 added type-generic `shmem_put` and `shmem_get` that are defined as macros [later in `shmem.h.in`](https://github.com/open-mpi/ompi/blob/3660cedc4871c21f2902db8634807cf4c30f1e57/oshmem/include/shmem.h.in#L208

[2017-10-06 13:35] jjhursey commented on #4306
In v2.x and v2.0.x it is default to `true` as well. I thought this was always the policy to show the load errors by default - did that decision change recently?

[2017-10-06 13:44] jsquyres commented on #4306
Yeah, this is a sticky issue -- there are definitely valid arguments for setting the default to both True and False.

Perhaps the least-worst compromise could be:
* Add a `configure` CLI argument that can set the default of `show_load_errors` (if it doesn't exist already)
* We advise downstream packagers that they might want to update their builds to set this value to False for the reasons @rhc54

[2017-10-06 13:57] bosilca commented on #4306
+1 on making the default to False. We can assume that whoever carefully build a minimalistic list of component know what she's doing, so it is not unreasonable to ask her (on the FAQ) to manually set the flag to True.

[2017-10-06 14:02] jsquyres commented on #4306
@bosilca Keep in mind that building a minimalistic set of components usually just entails "./configure && make -j 32 && make install".  I.e., `configure` will automatically make a minimalistic set of components based on what it finds on the system.

My $0.02 is that it's more unusual to build Open MPI with a *maximal* set of components.

However, this is subjective -- I admittedly have no proof ei

[2017-10-06 14:12] rhc54 commented on #4306
I'm not sure when the change occurred, but my point was only that it _has_ changed. I know because I have it set to true in my default MCA param file (in my platform files) precisely because, as a developer, I was running into problems with new components that weren't being loaded. So I unfortunately never saw when it changed.

I honestly don't believe the statement that "the majority" of installa

[2017-10-06 15:53] bosilca commented on #4306
@jsquyres even for modules depending on particular hardware this is not always the case (libraries and headers are sometimes available). For modules no depending on hardware, they are all compiled despite the fact that most of them will never be used - due to their default priority that almost nobody cares to change. I would love to see some statistics about this ... but is outside the scope of th

[2017-10-06 18:43] jsquyres commented on #4306
Let's discuss on Tuesday.

[2017-10-06 18:49] mohanasudhan commented on #4263
I verified cisco's mtt. couldn't see this problem, @jsquyres can you confirm the same ? thx

[2017-10-06 18:54] rhc54 commented on #4263
works okay for me too - thanks!

[2017-10-06 20:45] rhc54 commented on #4280
I just downloaded/installed the Intel 2018 compilers and built OMPI master without problem. However, I am on a CentOS-7 box.

[2017-10-06 21:14] #4263 closed

[2017-10-06 21:34] jjhursey commented on #4306
`git blame` on https://github.com/open-mpi/ompi/blame/master/opal/mca/base/mca_base_open.c#L105 shows that it has not changed from `true` in the past 5 years. Looks like it was false before that. Here is the commit
  * https://github.com/open-mpi/ompi/commit/cf377db82383572a5c09d2fba901e193abd83025

We are in the 'build the maximal set of components' camp - which is possibly rare. We have to expli

[2017-10-07 21:06] artpol84 commented on #4307
@karasevb please address

[2017-10-08 14:08] tomMoral opened #4314 "Multiple successive Barriers hangs"
## Background information

* openMPI installed with package manager. (version version 2.1.1-2)
* Operating system/version: archlinux
* Computer hardware: HP zbook G3
* Network type: local nodes

-----------------------------

I am not familiar with the openMPI internals, so sorry if the question is naive. I have a piece of code, which send multiple arrays using `Bcast`. This piece of software is w

[2017-10-08 16:58] bosilca commented on #4314
Can you please share you code ?

[2017-10-08 20:15] tomMoral commented on #4314
Sorry, the link to the gist is not clear: https://gist.github.com/tomMoral/cbb6047eeeea74e3682850ce41d2ae1c

[2017-10-09 17:20] bosilca commented on #4314
@tomMoral your application looks correct, and the fact that 2 barriers on the intercomm have been successfully completed means that OMPI was able to correctly setup the communication channels. I can't replicate your issue with any version of OMPI I have. Can you give it a try with the latest in the 2.x series ?

[2017-10-10 00:21] ggouaillardet commented on #4314
@tomMoral i was also unable to replicate the issue.

as a side note, be aware that MPI C++ bindings have been removed from the MPI standard.
As far as Open MPI is concerned, C++ bindings are still available, but they are no more built by default since Open MPI 2.0.0

[2017-10-10 10:43] tomMoral commented on #4314
@ggouaillardet thanks for the pointer to C++ wrappers!

With the latest branch repo, it works like a charm but compiling with v2.1.2 (which is the shipped version in archlinux), I can reproduce the failure.

[2017-10-10 11:51] ggouaillardet commented on #4314
@tomMoral thanks, i will try to reproduce the issue on archlinux

[2017-10-10 15:07] jsquyres commented on #2525
@rkowalewski Unless you can provide further info, we're going to close this issue.

[2017-10-10 15:25] rhc54 commented on #4277
I'll just capture what I was able to discover. I'm not sure where this breaks. On my system, the hang occurs only occasionally, so it appears there is some race condition. However, after printing out some debug stuff, it appears that the direct modex code path is never exercised even in the case of a hanging run on my systems.

What I see (even with the print statements in the dmodex path) is:
[co

[2017-10-10 16:01] rhc54 commented on #4277
@artpol84 @jladd-mlnx I will not be able to look into this any time soon. At this time, I believe UCX is the only one able to take advantage of the option as other transports all still require a data exchange, and so derive benefit from async_modex only in cases of sparse connectivity. Do you folks want to take a look at it?

[2017-10-10 16:31] rkowalewski commented on #2525
I will try to reproduce it until the end of this week, I am actually out of office at the moment.

[2017-10-10 16:36] jladd-mlnx commented on #4277
@rhc54 Not sure I understand. TCP BTL is hanging when async modex is set, but TCP BTL doesn't support direct modex, so a full modex is executed. We don't have any expertise in TCP BTL, and from what I can tell this is a bug in the BTL, not PMIx.

[2017-10-10 16:36] jsquyres commented on #2525
Excellent -- thanks!

[2017-10-10 16:43] rhc54 commented on #4277
When async modex is set, we don't execute a full modex. Instead, we do a direct modex call on each request for modex info. All of the BTLs only do this upon first communication between procs, and so it only happens on an as-needed basis.

What we don't know right now is where the problem lies - is there an issue with the direct modex support, or a problem in the TCP BTL?

What I was hoping you fol

[2017-10-10 18:35] jladd-mlnx commented on #4277
I know for a fact that direct modex is working as expected with UCX on 2.x and 3.x branches. We do test it regularly and deploy OSHMEM in production with this setting. Master, not sure.

[2017-10-10 19:02] rhc54 commented on #4277
Okay, I'll take that to mean is is quite likely to be okay in master (please let us know if you get a chance to verify there).

@jsquyres Not sure where to move from here. I agree that it looks like a probably TCP issue, but given that this is only really useful at scale, I don't know how important it will be for the TCP/BTL folks to investigate.

[2017-10-11 00:22] jsquyres commented on #4277
@bosilca @bwbarrett You guys care about the TCP BTL.  Per the above discussion, can you investigate why setting `pmix_base_async_modex=1` makes it unhappy?

[2017-10-11 01:24] rhc54 commented on #4277
@jsquyres Can you turn it "on" for your usnic runs? All it does is force us to lookup the modex information via a daemon-to-daemon request instead of doing a barrier. It _should_ work for any transport. What I'm concerned about is that I don't see _any_ modex requests occurring from the TCP use-case. I'd like to know if that is something specific to TCP/BTL, or if there is a general problem in the

[2017-10-11 01:26] rhc54 commented on #4306
The telecon today left this with the feeling that we should at least create a new configure option for setting the default value. There was some discussion as to the proper default for that option - one suggestion (that at least two of us favored) was to set it true for debug builds, but false for non-debug builds. No definitive decision was made.

[2017-10-11 11:49] ggouaillardet commented on #4314
i was unable to reproduce the issue with an up to date archlinux.

fwiw, here is the ```PKGBUILD``` for Open MPI 2.1.2 is submitted to the maintainer
[code]

would this fix the problem for you ?

[2017-10-11 13:50] jjhursey opened #4327 "hostfile ordering not honored when HNP is used in allocation"
We first noticed this in the `v3.0.x` release stream, as a difference in behavior from the `v2.x` release stream. I believe this to also impact `v3.1.x` and `master`.

This is a fallout of pushing the mapping/ordering mechanism to the backend nodes, and likely some of the improvements for the DVM and comm_spawn. Any fix would need to be careful to not break or hinder those features.

## SPMD case

[2017-10-11 15:35] rhc54 commented on #4327
Wow, thanks for the detailed report!!

This is a bit of a head scratcher. There was never any intended correlation between hostfile ordering and process placement - if it is happening in some prior series, it is entirely by accident. The documentation made clear that hostfile simply specifies available resources. You could, if you choose, use the same hostfile as input to the sequential mapper - b

[2017-10-11 16:59] jjhursey commented on #4327
Thanks for the suggestion. Converting the hostfile to a hostlist did work. I didn't look at the hostlist path in the code yet.

That might be a workaround for this particular use case (they were focused on SPMD mode). I tested with v3.0.x below to confirm:

## SPMD

Launching from `c712f6n01`

[code]

## MPMD

Launching from `c712f6n01`. It looks like `--hostlist` is not accepted for the second ap

[2017-10-11 20:18] jsquyres commented on #4277
I didn't turn it on in my MTT, but I ran it manually for both the TCP and usNIC BTLs, and essentially got the same result for both:

## TCP

[code]

## usNIC

[code]

[2017-10-12 01:03] rhc54 commented on #4327
Errr...I'm unaware of any "hostlist" option in OMPI, so maybe that is one of yours? We use -H or --host. Last I checked, we correctly parsed those options per-app.

I don't believe using --host is going to slow anything down, assuming you want to enforce ordering. I'm familiar with how we do that, and it does involve a nested search across two lists to reorder things. I'm certain someone can impro

[2017-10-12 01:07] rhc54 commented on #4277
This is disturbing - I am getting a very different behavior. I just hang without any error messages appearing. However, your error messages indicate that the problem is in the shared memory (vader) startup - not in usnic or tcp. It looks like the backing file isn't ready before one of the other procs tries to access it.

I wonder if someone can take a look down there and see if vader isn't correct

[2017-10-12 01:59] jjhursey commented on #4327
Ah yes - sorry about that. I got my MPI installs swapped when I was testing that prior comment. That was a drop of Spectrum, which has the hostlist option.

Using a `-host` with a list like `c712f6n04,c712f6n04,c712f6n01,c712f6n01,c712f6n03,c712f6n03,c712f6n02,c712f6n02` worked if I specified the seq mapper (`-gmca rmaps seq`). Without that it didn't preserve ordering.

I'll keep tinkering with it

[2017-10-12 03:31] rhc54 commented on #4327
Keep in mind that we currently set -host as an attribute on the app_context. Specifying the attribute scope as GLOBAL means that it gets sent as part of the launch message. All strings in the launch msg greater than a cutoff size are automatically compressed using zlib, which yields a pretty big reduction. So you might be getting enough compression already - worth checking. There is an option that

[2017-10-12 09:53] artpol84 commented on #4277
Probably makes sense just to try without vader

[2017-10-12 16:53] jsquyres commented on #4277
I can only test TCP with vader; usNIC does not do loopback communications.

Here's a control test (at master HEAD 12 Oct 2017) to show that it works fine with `async_modex=0`:

[code]

And here it is with `async_modex=1`:

[code]

😲

It looks like I have to go up to about 12 procs (6 ppn) to get this issue to occur semi-reliably (i.e., maybe 50% of my manual invocations got this error; the other h

[2017-10-13 01:51] edgargabriel opened #4334 "Correctness issue with OMPIO over NFS for multi-node jobs"
Thank you for taking the time to submit an issue!

## Background information
the OMPIO component doesn't properly protect data written from multiple nodes to the same filesystem block. This is issue has been reported on the mailing list  A solution is mostly coded up and expected to be committed shortly.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash,

[2017-10-13 04:38] rhc54 commented on #3943
@jjhursey Are you IBM guys addressing this in Spectrum? Any possibility of patches from that coming over here?

[2017-10-13 12:11] william-dawson opened #4336 "Can't open more than 234 files over the course of a program run"
## Background information
I'm sure that this bug is rarely encountered, but I encountered this when testing my code, which involves running it with a large number of parameters.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
2.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an opera

[2017-10-13 12:18] ggouaillardet commented on #4336
At first, check the limit on open file descriptors with ```ulimit -n``` and bump it if appropriate.

i suspect it might be ```256``` on your system, so you might want to bump it to ```512``` and see how things go.

[2017-10-13 12:20] william-dawson commented on #4336
ggouaillardet: thanks for the quick response. Yes that fixed the issue. Sorry for the trouble.

[2017-10-13 12:22] ggouaillardet commented on #4336
on second thought, there could be a file descriptor leak involved here.
a workaroud is to use ```romio``` instead of ```ompio```.

for example, you can (with the previous limit)
[code]

if that fixes the problem, that would strongly points to a file descriptor leak (e.g. a bug) !

[2017-10-13 12:24] william-dawson commented on #4336
Thank you again. The fix you suggested using `romio` also works.

[2017-10-13 12:29] ggouaillardet commented on #4336
@edgargabriel can you please have a look at it ?
this strongly suggests there is a file descriptor leak in ```ompio```

[2017-10-13 13:33] edgargabriel commented on #4336
will do, will take me a couple of days however

[2017-10-14 02:34] rhc54 opened #4338 "SLURM integration appears broken"
I have checked master, v3.1.x, and v3.0.x. Only master appears to be broken, though the reason doesn't seem obvious as the code that is failing doesn't appear to be different on master. I definitely configured --with-pmi and confirmed that the s2 and s1 components were built. I set pmix_base_verbose and confirmed that the proper component is being selected.

Here is the error:
[code]
@artpol84 Can

[2017-10-14 03:14] rhc54 commented on #4338
Never mind - I found the problem. I had enabled installation of libpmix and that also installed a libpmi2 in the OMPI prefix location. Since that came first, the procs were picking it up and failing when attempting to connect to slurm's pmi daemon.

[2017-10-16 14:26] jjhursey commented on #4327
Re tagging as an enhancement (but I'd still like to make the case to get it into the v3.0.x release branch) since it was not behavior that we should have been depending upon.

I'm working on a PR, but it's gotten sidelined a bit. Probably won't be ready until later in the week.

[2017-10-16 17:38] planetA opened #4345 "Configure generates bogus makefile"
## Background information

When I try to compile OpenMPI together with UCX, I expect the configure system to find UCX libraries. Configure script seems to find them, but fails to generate makefiles which point to the right location. This results in libtool failing to properly link the libraries.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

I

[2017-10-16 19:22] edgargabriel commented on #4336
An update on this. I can not reproduce the problem on my linux box. I tried 2.1.2, 3.0 and master, and opening/closing a file 2048 times was no problem on any of these versions, despite having reduced the max. number of files to 256 with ulimit.

I will try to steal tonight the macbook of my daughter to see whether I can reproduce it on MacOS. I could image a scenario where an error is raised befo

[2017-10-16 20:14] bwbarrett commented on #4345
@jladd-mlnx, can you find someone from your team to look at this?

[2017-10-17 00:28] ggouaillardet commented on #4345
@planetA  can you give the inline patch a try ?

fwiw, ```master``` does things a bit differently, but bottom line, we do not need ```$ompi_check_ucx_extra_libs```. also some more things need to be cleaned up
 - no need to check for ucx version if ```$ompi_check_ucx_happy=no```
 - no need to handle ```--with-ucx_libdir``` is ```{"","yes","no"}

[code]

[2017-10-17 04:00] karasevb opened #4347 "pmix: OMPI configure error with external PMIx that installed to `lib64` path"
If there is the installed PMIx in `lib64` path then an attempt to configure the OMPI with it looks follow:
[code]

[2017-10-17 08:18] ggouaillardet commented on #4336
@edgargabriel if you could not access your daughter's laptop, you can use the following program
[code]

you will note that at each iteration, there is one more ```mmap```'ed segment
(grep ```DEL``` on Linux, and ```PSXSEM``` on OSX)

even if there is no crash under Linux, the leak is there.

[2017-10-17 08:35] ggouaillardet commented on #4336
in ```mca_sharedfp_sm_file_close()```, should we ```sem_close(file_data->mutex);``` before ```sem_unlink(file_dta->sem_name);``` ?

[2017-10-17 10:43] ggouaillardet commented on #4336
also, can/should ```sem_unlink()``` be moved into ```mca_sharedfp_sm_file_open()``` after all tasks have called ```sem_open()``` ? in the event of a crash, there would be no left over.

[2017-10-17 11:27] amckinstry opened #4349 "Why is Big-endian powerpc no longer supported ?"
Sorry about the "non-bug" nature of this issue, but I'm working on OpenMPI 3.0.0 for Debian, and see BE powerpc is no longer supported.
Given that other powerpc and other BE systems _are_ supported, I'm curious about this, and wondering whats going on.

[2017-10-17 13:39] edgargabriel commented on #4336
hm, ok, that might be the reason. I was tracking only the file handles, not the semaphores. I will prepare a fix along those lines. Thanks @ggouaillardet !

[2017-10-17 15:05] #4347 closed

[2017-10-17 15:23] jsquyres opened #4353 "v2.1.x: Update PMIx to 1.2.4"
Per discussion on 17 Oct 2017 webex, we want to update the PMIx in the Open MPI 2.1.x series (but *not* the Open MPI 2.0.x series):

Here’s what is in PMIx 1.2.4:

* Silence some unnecessary warning messages (PMIx https://github.com/pmix/pmix/pull/487)
* Coverity fix - TOCTOU (PMIx https://github.com/pmix/pmix/pull/465)
* automake 1.13 configure fix (PMIx https://github.com/pmix/pmix/pull/486)
* U

[2017-10-17 15:25] hppritcha commented on #4292
fixed by #4293

[2017-10-17 15:25] #4292 closed

[2017-10-17 15:28] jsquyres opened #4354 "Pull in configury to disallow using hwloc >= 2.0 in v2.0.x and v2.1.x"
Per discussion on the 2017-10-17 webex, file PRs to bring back the configury checks to disallow compiling the hwloc external component with hwloc >= v2.0 in Open MPI v2.0.x and v2.1.x.

The position is:

* Open MPI v2.0.x and v2.1.x do not support hwloc v2.0.x.
* As of today, Open MPI v3.0.x does not support hwloc >= v2.0.x.  Not clear yet as to whether Open MPI v3.0.x will backport support for hw

[2017-10-17 15:30] #3904 closed

[2017-10-17 15:31] edgargabriel commented on #3695
this issue has been fixed.

[2017-10-17 15:31] #3695 closed

[2017-10-17 22:12] gpaulsen commented on #4349
Thanks for asking your question.  I'm sorry that dropping support for Big-endian powerpc has affected you.  The community makes every effort to support as wide of a selection of platforms as possible, with our limited volunteered resources.

  During the development of Open MPI v3.0.0, during our Open MPI supported platforms discussion, we discussed who might be willing to work on and support Open

[2017-10-17 22:42] planetA commented on #4345
@ggouaillardet compiled successfully and didn't need to add --with-ucx

[2017-10-18 05:32] amckinstry commented on #4349
Thanks for this reply.

My concern is that, from a Debian Linux perspective, we support and test multiple architectures that are not part of the CI infrastructure upstream (see https://buildd.debian.org/status/package.php?p=openmpi); we then run our own tests on these.

PPC on Big-endian systems is arguably one of the better supported of the lesser archs. It seems strange that we will support alph

[2017-10-18 08:57] karasevb commented on #4222
This hang cannot reproduce manually with `sendflood` test as in the attached report, but I have reproduced the hangs with [`many_isend`](http://git.mpich.org/mpich.git/blob/HEAD:/test/mpi/pt2pt/many_isend.c) test that appeared in the same time (https://mtt.open-mpi.org/index.php?do_redir=2487).

There is details of reproduce:
This error is reproduced with ob1/openib only:
[code]
One of the process

[2017-10-18 14:33] thananon commented on #4222
I can't reproduce this on our machines with the given many_isend.c

[code]

[2017-10-18 23:46] jsquyres commented on #4354
Done.

[2017-10-18 23:46] #4354 closed

[2017-10-19 23:38] rhc54 commented on #1585
@pietern I see no record that this ever got committed - am I missing something? Are you still interested in completing it?

[2017-10-19 23:42] pietern commented on #1585
@rhc54 I'm not using OpenMPI at the moment so somebody else should bring this back to life if needed.

[2017-10-20 02:06] rhc54 commented on #1585
@bwbarrett @jladd-mlnx do you folks care about ipv6 support?

[2017-10-20 14:17] hppritcha opened #4367 "Release 2.0.4 checklist"
## Make a perfect tarball

- [x] Update the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --re

[2017-10-20 14:22] dirk-schubert-arm commented on #3660
I finally found some time to make a **reproducer just with GDB** (attached in [gdb-only.zip](https://github.com/open-mpi/ompi/files/1402259/gdb-only.zip)).

The good news is that only version 2.1.x seems to be affected by that issue. Version 3.0.0 and master (used nightly build from 8th of October) are fine (I have not tested 3.1.x).

The gist of the test: The script "run.sh" runs mpirun in a loop

[2017-10-20 14:37] hppritcha opened #4368 "Cray PMIx component needs to define fence method"
If one wants to use the UCX PML with native launch on cray systems (aprun or srun), then the Cray PMIx component needs to define a fence method, otherwise a segfault is encountered when the UCX PML's del procs method is invoked.

[2017-10-20 17:43] bwbarrett commented on #1585
We have an interest in IPv6 working, but we don't have IPv6 only instances at this time.  I assigned the issue to us so we can prioritize with other issues.

[2017-10-22 18:30] thierrygosselin opened #4373 "install problem macOS High Sierra"
Trying to install Open MPI v.3.0.0 on macOS High Sierra (10.13)

Compiler installed: `gcc version 7.1.0 (GCC) `

The command:
[code]

no error, everything looks fine

then running `make` gives these errors:

[code]

Last time I used openmp i was with an older version of macOS and openmpi `openmpi-1.8.4` and I had no problem installing and using.

Best
Thierry

[2017-10-22 20:41] bosilca commented on #4373
I saw this few days ago on my laptop. The problem is that the latest gcc (> 7.1) struggle with the syslog header on OSX 10.13 ([gcc bug](https://www.mail-archive.com/gcc-bugs@gcc.gnu.org/msg544669.html)). This is exactly what is bitting us. If you look in the config.log we identify that syslog.h is present, but we can't use it
[code]
Thus HAVE_SYSLOG_H is undefined. However, as we find the syslog

[2017-10-23 02:17] thierrygosselin commented on #4373
yes it does.
For macOS users:

**Update clang with openMPI enabled**
[code]

**Install Open MPI, compiled with clang**
[code]

[2017-10-23 06:02] bosilca commented on #4373
No, I prefer to keep this open until we push a real fix.

[2017-10-23 12:17] ggouaillardet commented on #4373
@bosilca is your (short term) plan to disable syslog on High Sierra ? or make it work ?

[2017-10-23 13:25] bosilca commented on #4373
In the PR associated here I plan to turn it off. I don't see how we can make it work with gcc without providing our own header to shadow the one from the OS (but that's ugly). The only thing left right now in my PR is to turn off the syslog notifier.

[2017-10-23 15:22] jsquyres commented on #4373
Note that this issues probably affects *all* Open MPI release series.  I just tried 2.0.x, and it has the problem (I didn't bother testing 1.10.x).

[2017-10-23 16:12] thierrygosselin commented on #4373
I did test some of the 1.x series and same problem

[2017-10-23 16:24] gpaulsen commented on #4349
I think the work required is a bit more involved than just changing the error to a warning.  I thought I remembered some serious bug reports against PowerPC Big Endian that would need to be resolved.

[2017-10-23 16:54] bosilca commented on #4373
Well, it's a gcc issue with interpreting the syslog.h header, so obviously it will affect all software using syslog that compile with gcc.

[2017-10-24 04:08] rhc54 commented on #4277
I did some work on another matter, and found that the MPI_Init modex/barrier wasn't quite right - there was a chance for a non-blocking fence to be initiated without a terminating release. I fixed that, but it hasn't completely resolved this problem.

If you look at the revised code, you see this for the modex:
[code]
Note that setting ```-mca pmix_base_async_modex 1``` by itself will result in th

[2017-10-24 11:31] zhangciba commented on #3133
Hi every body.Is this problem solved?I meet the same problem.

[2017-10-24 11:37] cshanbo commented on #3133
Hi @zhangciba I instead using the `--oversubscribe` flag to "solve" the problem

[2017-10-24 12:52] #2525 closed

[2017-10-24 13:46] rhc54 commented on #4277
I found that skipping the modex altogether would frequently fail, and tracked it down to an issue in PMIx. With that fixed [here](https://github.com/open-mpi/ompi/pull/4387), it now works reliably for small ppn:
[code]
Still fails for large ppn (24ppn in this case):
[code]

[2017-10-24 16:00] rhc54 commented on #4277
One quick final comment - I added a little debug and found that the PMIx server thinks it successfully found and delivered the requested modex info. So I'm not sure why the procs are claiming that they cannot talk to each other when on the same node.

[2017-10-24 17:59] ChinouneMehdi opened #4390 "OSHMEM-Fortran : No available spml components were found!"
Open-MPI 3.0.0
Installed using SPACK.
* Operating system/version: Ubuntu 16.04
* Computer hardware: Intel Core i7
* Network type: Shared Memory

-----------------------------

## Details of the problem

This program run successfully with Open-MPI 2.1.1

[code]
[code]
but with Open-MPI 3.0.0 it gives this error message:
[code]

[2017-10-24 20:06] hppritcha commented on #3685
PRs to 2.0.x, 2.x and 3.0.x to fix this issue have been merged.  Closing.

[2017-10-24 20:06] #3685 closed

[2017-10-24 20:07] hppritcha commented on #3183
Not fixing this in the 2.0.x release stream.

[2017-10-24 22:18] #3880 closed

[2017-10-25 04:24] rhc54 commented on #4277
It wasn't in that location, but I added some more outputs and found the error occurring in the segment_attach function:
[code]
Does that help?

[2017-10-25 04:53] bosilca commented on #4277
OK, so the problem is not when a process create it's own mmaped region, but when it tries to attach to the mmaped file of one of the other local processes. That's why you fail on segment_attach and not in segment_create. Honestly this is puzzling, because in order for a process to try to attach to a shared memory segment, it must receive the name from the modex and this clearly implies that the ba

[2017-10-25 05:47] rhc54 commented on #4277
@bosilca @hjelmn Is it possible that we do a modex send _before_ we have actually created the file? In that case, the modex recv of the other process might occur fast enough that it attempts to attach before the initial process gets the file created.

[2017-10-25 06:05] bosilca commented on #4277
I tend to say no. The backend file is first created (mca_btl_vader_component_init in ./btl_vader_component.c:501), then the process attach to it (this initialize some parts of the file), and only then line 530 we send the modex.

[2017-10-25 17:27] #2320 closed

[2017-10-26 20:03] naughtont3 opened #4402 "pml monitoring fails to build"
### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

 - OMPI master `05f98d6`
 - Linux x86-64, git clone, but should apply to all

### Please describe the system on which you are running

* Operating system/version:  Linux
* Computer hardware: x86-64
* Network type:

-----------------------------

## Details of the problem

The PML Monitoring framewo

[2017-10-26 20:07] naughtont3 commented on #4402
@bosilca I think you are the proper person to take a look.  Thanks.

[2017-10-26 20:19] koomie opened #4404 "file corruption with MPI I/O from NetCDF fortran interface"
## Background information

Over in OpenHPC land, we have encountered a regression with parallel I/O using the NetCDF fortran interface and OpenMPI. This is new with testing of v3.0.0 (v1.10.7 did not exhibit).  In particular, we are seeing file corruption doing a simple write test (e.g. using https://raw.githubusercontent.com/Unidata/netcdf-fortran/master/nf_test/f90tst_parallel.f90) when using `o

[2017-10-26 20:29] edgargabriel commented on #4404
Thanks for the bug report, I will have a look at it. What file system was that on?

[2017-10-26 20:31] koomie commented on #4404
This is running multi-node out of an NFS file system. Apologies if this is a duplicate of #4334, but it might be worth mentioning that all of our other parallel I/O related tests seem to work ok in this same NFS environment. (e.g C interface was ok).

[2017-10-26 20:36] edgargabriel commented on #4404
this was my original suspicion , but I will definitely have a look at it. I ran a while back the pnetcdf tests on my local development machine, and we didn't have any problems if I remember right.

[2017-10-26 20:48] morrisonlevi opened #4405 "Suppress warning about missing `libcuda.so.1`"
I've built OpenMPI v3.0.0 with CUDA support. We have some hardware which has GPUs and some that does not. Fortunately, if `libcuda.so.1` cannot be found OpenMPI will still work. However, it prints this message:

[code]

I don't want to put `mpi_cuda_support 0` in my global conf file because I do want CUDA support, just only when CUDA is available. But I don't want this awful message for non-CUDA u

[2017-10-26 20:52] morrisonlevi commented on #4405
I just remembered there is a general `OMPI_MCA_*` pattern for environment variables. This means I should be able to set `mpi_cuda_support 0` in the conf file and put `OMPI_MCA_mpi_cuda_support` to 1 when GPUs are available.

[2017-10-26 21:04] morrisonlevi commented on #4405
The non-deprecated name for this setting is `opal_cuda_support`. Setting `opal_cuda_support=0` in my `etc/openmpi-mca-params.conf` file and setting the environment variable `OMPI_MCA_opal_cuda_support` to 1 when CUDA is available worked.

Sorry for the noise. We probably ought to change the message to use the non-deprecated name, though. Should I open that as a new ticket or..?

[2017-10-26 21:22] koomie commented on #4404
thx, i can reproduce pretty easily so happy to try applying a patch locally if it is helpful.

[2017-10-27 14:38] edgargabriel commented on #4404
I am fairly confident that this is in fact also an NFS locking problem. All fortran-netcdf tests pass on my local development platform as well as on the cluster over NFS when using the new fix that will be in the 3.0.1 release. If I disable locking (basically the behavior of ompio in the 2.0.x, 2.1.x and 3.0.0 release), the tests fail.
~> salloc -N 4 -n 4
~> mpirun -np 4 ./f90tst_parallel
   *** T

[2017-10-27 15:04] bosilca commented on #4402
Your patch in #4403 fixes the issue. Please fill a PR to cherry-pick it on the 3.1.x.

[2017-10-27 15:30] #4336 closed

[2017-10-27 16:14] naughtont3 commented on #4402
Ok, so patch in #4411 should fix this for 3.1.x

[2017-10-27 19:06] wkliao opened #4412 "Open nonexisting file, expect MPI_ERR_NO_SUCH_FILE but got MPI_ERR_FILE"
When opening a non-existing file, error class MPI_ERR_NO_SUCH_FILE is expected but I got MPI_ERR_FILE instead. Looking into the source file fs_ufs_file_open.c lines 88 to 91, I found errno was ignored.
https://github.com/open-mpi/ompi/blob/ae4f310c0b59b76278df81c78f4a1beaadb764a6/ompi/mca/fs/ufs/fs_ufs_file_open.c#L88

In ROMIO, the translation of errno to proper MPI error classes has been handled

[2017-10-27 19:44] edgargabriel commented on #4412
yes, admittedly the error codes reported by ompio are not yet as good as
it could be, not just for file_open. I can fix file_open easily if this
is important for your code, an overhaul of the error codes handling
ompio might take however a bit longer.

Nevertheless, one question out of curiosity: do you handle in your code
the scenario where a File_open failed truly differently depending on the
er

[2017-10-27 20:05] wkliao commented on #4412
I wonder why my test program does not go through the romio route in ompi/ompi/mca/io/romio314, but through ompi/ompi/mca/fs. One easy fix might be to force to use romio route.

I agree with you about the behavior for applications when file open fails.
But I am a PnetCDF library developer. The library needs to report the errors that describe the cause as much as it can. We leave users to decide whe

[2017-10-27 21:39] edgargabriel commented on #4412
On 10/27/2017 3:05 PM, Wei-keng Liao wrote:

the default mpi I/O module since Open MPI 2.0.0 is ompio for most file
systems, with Lustre being the exception. And yes, you can force using
romio by setting the e.g.

mpirun --mca io romio314 ....

on the command line (or the same parameter in .openmpi/mca-params.conf
file).

understood. I will create a patch for fs/ufs to return the correct error
cod

[2017-10-27 21:55] wkliao commented on #4412
Thanks for the tip. That trick works fine with me. I will add a note in PnetCDF.

Since you mention ompio module, is ompio a completely different MPI-IO implementation from ROMIO? And does OpenMPI intend to replace romio with it in the future?

[2017-10-28 11:52] ggouaillardet commented on #4412
Open MPI has a modular architecture, and several components can implement the same framework.
In this case, the framework is `io` and the `romio314` and `ompio` components can implement it.
`ompio` and `romio314` are very different implementations of the same framework.
When `ompio` is production ready for the Lustre filesystem, it is likely it will become the default component for the `io` framew

[2017-10-28 13:12] teonnik opened #4416 "An internal error has occurred in ORTE"
## Background information

### Version
OpenMPI 3.0.0 with CUDA support. I don't know exactly how OpenMPI was installed, I am not the system administrator, I will let you know as soon as I find out.

### System

[code]

18 IBM S822LC servers ("Minksky") each with
- 2 IBM POWER8 processors (up to 4.023 GHz, 2*10 cores, 8 threads/core)
- 4 NVIDIA Tesla P100 GPUs ("Pascal")
- 4x16 GByte HBM memory att

[2017-10-29 16:25] kalravibhor opened #4417 "Configure can't continue"
Hi,

I am trying to compile dSP5.1 and in an effort to do the same, I need to install open-mpi on a OS X 10.12 system. Unfortunately, I run into a lot of errors while trying to install open-mpi via brew and hence follow the instructions on the below mentioned tutorial:

https://wiki.helsinki.fi/display/HUGG/Open+MPI+install+on+Mac+OS+X

I am working with open-mpi ver.2.2. However I am unable to co

[2017-10-30 04:21] ggouaillardet commented on #4417
there is on Open MPI 2.2 ...
can you please clarify which version you are using, then compress and upload your config.log
did you face issues with Open MPI and clang ?

[2017-10-30 07:17] kalravibhor commented on #4417
@ggouaillardet : Apologies, I am on ver.2.1.2. I have attached the config.log file in lieu of the fact that the message becomes too long to post. Since the movement of openmp support with clang to llvm, I tried following instructions on multiple forums and official blogs to install and have always run into multiple errors.

[config.log](https://github.com/open-mpi/ompi/files/1426210/config.log)

W

[2017-10-30 07:35] ggouaillardet commented on #4417
that is odd, `gcc-6` is unable to compile this simple program
[code]

can you try to compile it with both `clang` and `gcc-6` ?
[code]

then can you
[code]
and post the output ?

fwiw, i am unable to reproduce this on OS X 10.13 with `gcc-7` from `home-brew`

[2017-10-30 08:42] kalravibhor commented on #4417
Even I have the homebrew version of gcc-6 installed. Turns out both gcc and gcc-6 are able to compile the program. Below is the output for `gcc-6 -R conftest.c`

# 1 "conftest.c"
# 1 "<built-in>"
# 1 "<command-line>"
# 1 "conftest.c"
# 1 "/usr/local/Cellar/gcc@6/6.4.0/lib/gcc/6/gcc/x86_64-apple-darwin16.6.0/6.4.0/include/stddef.h" 1 3 4
# 149 "/usr/local/Cellar/gcc@6/6.4.0/lib/gcc/6/gcc/x86_64-app

[2017-10-30 08:43] kalravibhor commented on #4417
Even I have the homebrew version of gcc-6 installed. Turns out both gcc and gcc-6 are able to compile the program. Below is the output for gcc-6 -R conftest.c

# 1 "conftest.c"
# 1 "<built-in>"
# 1 "<command-line>"
# 1 "conftest.c"
# 1 "/usr/local/Cellar/gcc@6/6.4.0/lib/gcc/6/gcc/x86_64-apple-darwin16.6.0/6.4.0/include/stddef.h" 1 3 4
# 149 "/usr/local/Cellar/gcc@6/6.4.0/lib/gcc/6/gcc/x86_64-apple

[2017-10-30 10:22] ggouaillardet commented on #4417
there is likely something busted in your environment.

would you mind trying again
[code]

and if it works, try to run `configure` again ?

here is the error message from your `config.log` related to this part, it mentions `llvm` though the preprocessed files you posted earlier clearly refers `gcc-6` from `home-brew`

[code]

[2017-10-30 10:57] artpol84 commented on #3555
@longerzone, any updates?

[2017-10-30 11:00] artpol84 commented on #3256
@jsquyres
Jeff, sorry for the long silence. Is this still a problem?

[2017-10-30 12:13] kalravibhor commented on #4417
`gcc-6 -c -O3 -DNDEBUG -finline-functions -fno-strict-aliasing  conftest.c` worked like a charm. However on trying to configure again, it leads to the same error.

`checking for weak symbol support... no
checking for macro weak symbol support... no
checking for functional offsetof macro... no
configure: WARNING: Your compiler does not support offsetof macro
configure: error: Configure: Cannot cont

[2017-10-30 12:48] ggouaillardet commented on #4417
I cannot make any sense from this error ! Try uninstalling homebrew clang compilers and see if it helps.

[2017-10-30 14:13] coderex2522 commented on #3384
when I install the rdma-core/providers/rxe,it informs me that"fatal error: infiniband/driver.h: No such file or directory".So I check the rdma-core package, and I find older package libibverbs contains the "infiniband/driver.h",but the rdma-core package doesn't  contains the infiniband/driver.h. How do I solve it.

[2017-10-30 15:42] jsquyres commented on #4417
Are you sure that the `gcc-6` you're using to manually compile your test programs is the same `gcc-6` that `configure` is using?  I ask for 2 reasons:

1. The error messages cite `/usr/local/Cellar/llvm/5.0.0/lib/clang/5.0.0/include/stddef.h` -- but note the llvm/clang references in that filename.  That seems like the "wrong" `stddef.h` file for the `gcc-6` compiler.
1. The `conftest.c` file that

[2017-10-30 15:48] jsquyres commented on #3384
I'm sorry, I somehow totally missed your previous reply.

You can disable libfabric support via `configure --without-libfabric`.  See the Open MPI README file for lots of common configure switches and descriptions of what they do.

Additionally, later versions of Open MPI have adapted to the newer versions of RDMA core that no longer provide `infiniband/driver.h`.  You might try using Open MPI 3.0

[2017-10-30 16:11] jsquyres opened #4423 "Improve OPAL_CHECK_PACKAGE"
Per the discussion on https://github.com/open-mpi/ompi/pull/4413, I wonder if `OPAL_CHECK_PACKAGE` should be improved.

We talked about the difficulty of adding a directory via `-L` but not necessarily being able to *guarantee* that a library in that directory would be used.

https://github.com/open-mpi/ompi/pull/4413#issuecomment-340317741 and https://github.com/open-mpi/ompi/pull/4413#issuecomme

[2017-10-30 16:54] kalravibhor commented on #4417
@jsquyres : It looks like I am using the same. gcc-6 resides in /usr/local/bin which is at the begining of the path. However the gcc-6 is brew installed but most notably not a part of the llvm clang bundle. Consequently the gcc-6 symlink in /usr/local/bin points to the actual directory where it was installed i.e. a Cellar directory.

Let me know if that makes sense. Thanks !

[2017-10-30 19:01] jsquyres commented on #4417
That makes sense, but still, somehow your `gcc-6` is apparently somehow picking up the "wrong" `stddef.h` when it is running inside `configure`.  That seems to be the real problem.

This test (the `offsetof` test) is actually pretty early in `configure` -- so @ggouaillardet's suspicion that there's something in your and/or `configure`'s environment that is screwing up `gcc-6` (i.e., such that it p

[2017-10-31 00:34] ggouaillardet commented on #4417
strictly speaking, i did not give you the full `conftest.c` since i trimmed some macros.
some might be causing the issue, so can you please try to compile this one with
[code]
also, what does
[code]
says on your platform ?

[code]

[2017-10-31 05:36] teonnik commented on #4416
The issue does not pertain to OpenMPI, it's rather due to incorrect cluster configuration.

[2017-10-31 05:36] #4416 closed

[2017-10-31 11:37] kalravibhor commented on #4417
@jsquyres : Makes sense. Looks like there something promising came out of @ggouaillardet ' test.

I am able to compile the new `conftest.c` file with `gcc-6`. In addition to which I ran `env | grep -i llvm` which results in the below mentioned output :

`CPLUS_INCLUDE_PATH=/Users/Kronos/build/include:/usr/local/Cellar/llvm/5.0.0/lib/clang/5.0.0/include:/Users/Kronos/build/include:/usr/local/Cellar

[2017-10-31 12:01] ggouaillardet commented on #4417
yep, unset these environment variables and let's see how things go ...

[2017-10-31 12:23] kalravibhor commented on #4417
Good news ... It seemed to have worked !!! However if I could trouble you again so to to guide me how to install C++ bindings for open-mpi (since it has been deprecated) which is essentially central to my idea.

`Build MPI C++ bindings (deprecated): no`

Kindly let me know what are the flags for building C++ bindings if any ? Thanks !

[2017-10-31 12:26] ggouaillardet commented on #4417
simply `configure --enable-mpi-cxx ...`

[2017-10-31 12:34] kalravibhor commented on #4417
@ggouaillardet : Thanks a lot for your help. All seems fine now :)

[2017-10-31 12:34] #4417 closed

[2017-10-31 13:53] jsquyres commented on #4417
@kalravibhor Glad it all worked out -- happy MPI'ing!

[2017-10-31 14:00] jsquyres commented on #4282
@matzeri also posted more on the thread here: https://www.mail-archive.com/devel@lists.open-mpi.org/msg20390.html

@ggouaillardet sent a patch on 31 Oct 2017 to see if it would help:

[code]

[2017-10-31 14:17] jsquyres commented on #3384
Looking at this issue again today, I now realize that the comment yesterday was from a different person than the original submitter.  😄

If both of you can try with a newer version of Open MPI (e.g., 3.0) that should be compatible with the newer versions of RDMA core, that would be great.  Thanks.

[2017-10-31 15:33] gpaulsen commented on #4
We'll do some testing.

[2017-10-31 15:36] bwbarrett commented on #6
We haven't done this in 10 years, I'm not sure there's any reason we'll do it now...

[2017-10-31 15:36] #6 closed

[2017-10-31 15:36] gpaulsen commented on #5
I'll do in my spare time.

[2017-10-31 15:48] jsquyres commented on #8
Turns out that you're not allowed to do that (by the MPI spec), because if you do, then 3rd party PMPI-using libraries won't know the function/subroutine signatures to override.  Hence, `MPI_IN_PLACE`, `MPI_ARGVS_NULL`, and `MPI_STATUSES_IGNORE` (sadly) need to be the same types as their peers, and therefore we must check for those sentinel values.

[2017-10-31 15:48] #8 closed

[2017-10-31 15:50] jsquyres commented on #4
@gpaulsen if someone could write a multi-threaded attribute test (i.e., a bunch of threads all simultaneously reading/writing attributes on an object), that would easily show any problems that we may have here.

Honestly, the attribute code does *not* need to be high performance.  I would not be heartbroken at all if the fine-grained locking code in the attribute code went away and was replaced wi

[2017-10-31 16:08] jsquyres opened #4429 "Vader assertion failure in master"
Cisco MTT is showing an assertion failure in vader on master: https://mtt.open-mpi.org/index.php?do_redir=2545

Here's an excerpt:

[code]

Here's a full stack trace (available at the MTT results, too):

[code]

[2017-10-31 16:38] bosilca commented on #2227
This issue has been addressed in 7a866f754c3

[2017-10-31 16:38] #2227 closed

[2017-10-31 20:40] bosilca commented on #4429
Clearly too late to access frag. Thanks to the TCP async progress we hit a corner case where the frag is repurposed before we get a chance to check the associated rdma_length. Commit b2b3da30463 should fix this issue.

[2017-11-01 07:28] ChinouneMehdi commented on #4390
Thank you for your support!

[2017-11-01 15:54] jladd-mlnx commented on #4390
@ChinouneMehdi Hi. In OMPI 3.x we removed the Yoda SPML. Please use the UCX SPML. In order to do so, you will need to install the UCX library. Once it's installed, please configure your OMPI with the `--with-ucx=/path/to/ucx` flag and rebuild. You can obtain a UCX release tarball from:
https://github.com/openucx/ucx/releases

[2017-11-01 17:48] ChinouneMehdi commented on #4390
To build ucx you need mpi. to build openmpi with ucx you need ucx ?!

[2017-11-01 18:24] miked-mellanox commented on #4390
No need mpi to build ucx,it is standalone lib on top of verbs.

[2017-11-01 20:51] markalle opened #4433 "MPI_T_pvar_handle_alloc() notify callback to unloaded code"
I'm hitting segv when the pvar system tries to trigger a callback into code from an MCA that has been dlclosed(). I'm able to hit the issue with master on x86

Testcase:
https://gist.github.com/markalle/9dbc086af688afdc2632228ca2c91356
% mpicc -o x pvars_from_unloaded_mca.c
% mpirun -np 1 ./x

The sequence of events is
* in mca_pml_ob1_component_register() that MCA registers a handful of pvars, so

[2017-11-02 01:48] bosilca commented on #4433
@markalle the PML selection calls mca_base_components_close on all not-selected components. If we follow the function call chain, we see a call to mca_base_component_close and finally the expected mca_base_component_unload which removes all vars related to the component. So the problem seems to be coming from some other place ...

I could reproduce the segfault and I looked into it. The problem is

[2017-11-02 04:17] devreal opened #4434 "Missing progress on dynamic window while polling on allocated window"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
Open MPI 3.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Installed from release tarball using `./configure &&

[2017-11-02 10:56] lcebaman commented on #3150
From my point of view, this makes a) `shared(ompi_mpi_comm_world,ompi_mpi_int)` not a portable solution b) `default(shared) `dangerous and bad practice

[2017-11-02 11:51] jladd-mlnx commented on #4390
@ChinouneMehdi UCX is a stand alone point-to-point library. It supports Verbs, shared memory, and uGNI interconnect. Once it's installed, you can build Open MPI on top of UCX.

[2017-11-02 12:01] ChinouneMehdi commented on #4390
Could you update README file with these information. because I thought it does not support shared memory

there is no mention of shared memory.

[2017-11-02 12:56] yokattame opened #4435 "unrecognized options: --enable-mpi-thread-multiple"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v3.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from a source tarball
https://www.open-mpi.org/software/ompi/v3.0/
dowload openmpi-3.0.0.tar.gz

### Please des

[2017-11-02 13:05] hppritcha opened #4436 "Sun compiler doesn't like embedded PMIx"
In testing the 2.0.4rc2 using Sun 5.15 compiler, Siegmar reported hit the following build failure:

thank you very much for the fix. Unfortunately, I still get an error
with Sun C 5.15.

loki openmpi-2.0.4rc2-Linux.x86_64.64_cc 125 tail -30 log.make.Linux.x86_64.64_cc
  CC       src/client/pmix_client.lo
"/export2/src/openmpi-2.0.4/openmpi-2.0.4rc2/opal/include/opal/sys/x86_64/atomic.h", line 161:

[2017-11-02 13:07] shinechou opened #4437 "ORTE_ERROR_LOG: Data unpack would read past end of buffer in file grpcomm_direct.c"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
Open MPI v3.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Following the installation guidance of FAQ,

[code]

[2017-11-02 13:49] rhc54 commented on #4437
This looks like version confusion between the two nodes. Note that the ```-x``` option only forwards that variable to the application processes, not the daemons launched by mpirun. I suspect the path on the remote node is picking up a different OMPI install. Can you check?

[2017-11-02 13:50] rhc54 commented on #4436
I would recommend we not pursue this and just recommend the user upgrade OMPI.

[2017-11-02 13:56] ggouaillardet commented on #4435
the option was removed starting from the v3.0 series, but this does not seem clear from the `README`

iiuc, the overhead is so minimal (compared to previous releases and/or some alternate MPI implementations) this option does not make any more sense, so it is fine it was removed.

[2017-11-02 14:01] shinechou commented on #4437
@rhc54: thx a lot. I don't think that is the case. because I was compile/install them using the exactly same configuration, you can check the ompi information as below. Thx again.

ompi info of the local node:
  Open MPI: 3.0.0
  Open MPI repo revision: v3.0.0
   Open MPI release date: Sep 12, 2017
                Open RTE: 3.0.0
  Open RTE repo revision: v3.0.0
   Open RTE release date: Sep 12, 2

[2017-11-02 14:07] rhc54 commented on #4437
Thanks for providing that output. I gather you built/installed them on each node separately, yes? That is a rather unusual way of doing it and generally not recommended - it is much safer to install on a shared file system directory.

Try configuring with ```--enable-debug```, and then run the following:
[code]

[2017-11-02 14:54] jsquyres commented on #4434
@hjelmn This seems to be a one-sided issue, and a reproducer was attached.  Can you have a look?

[2017-11-02 14:57] jsquyres commented on #4437
@shinechou You might also want to check that there's not some OS/distro-installed Open MPI on your nodes that is being found and used (e.g., earlier in the PATH than your hand-installed Open MPI installations).

[2017-11-02 15:04] shinechou commented on #4437
@rhc54: you are right. I install them separately. What is the proper way to do it? Do u have have any guidance for that? Because after I install it I have to install another library on top of ompi library. I'll try to compile it with --enable-debug option and run the command u mentioned.

@jsquyres: thank u for ur comments. But I'm sure there is no other ompi installed on my both nodes.

[2017-11-02 15:21] jsquyres commented on #4437
You could install Open MPI on one node, and then tar up the installation tree on that node, and then untar it on the other node.  Then you'd know for sure that you have exactly the same binary installation on both nodes.  Something like this:

[code]

Usually, people install Open MPI either via package (e.g., RPM) on each node, or they install Open MPI on a network filesystem (such as NFS) so that

[2017-11-02 16:04] shinechou commented on #4437
@jsquyres: thx again for ur guidance. I tried ur excercise. They return the same version as below,

$ ompi_info | head
                 Package: Open MPI root@ryan-z820 Distribution
                Open MPI: 3.0.0
  Open MPI repo revision: v3.0.0
   Open MPI release date: Sep 12, 2017
                Open RTE: 3.0.0
  Open RTE repo revision: v3.0.0
   Open RTE release date: Sep 12, 2017

[2017-11-02 16:06] shinechou commented on #4437
@rhc54: thx. I've tried ur suggestion to run $ mpirun -npernode 1 -mca plm_base_verbose 5 hostname, but I got the error message like,

$ mpirun -npernode 1 -mca plm_base_verbose 5 master
[ryan-z820:21968] [[INVALID],INVALID] plm:rsh_lookup on agent ssh : rsh path NULL
[ryan-z820:21968] plm:base:set_hnp_name: initial bias 21968 nodename hash 974627533
[ryan-z820:21968] plm:base:set_hnp_name: final

[2017-11-02 16:19] jsquyres commented on #4437
Github pro tip: use three single-tick-marks to denote verbatim regions.  See https://guides.github.com/features/mastering-markdown/.

Ok, good, so you have the same Open MPI v3.0.0 installed on both sides.  But *something* must be different between them, or you wouldn't be getting these errors.

Are both machines the same hardware?
Are they running the same version of your Linux distro configured

[2017-11-02 16:25] shinechou commented on #4437
@jsquyres: thx a lot.

'''
$ mpirun -npernode 1 -mca plm_base_verbose 5 hostname
[ryan-z820:22613] [[INVALID],INVALID] plm:rsh_lookup on agent ssh : rsh path NULL
[ryan-z820:22613] plm:base:set_hnp_name: initial bias 22613 nodename hash 974627533
[ryan-z820:22613] plm:base:set_hnp_name: final jobfam 49295
[ryan-z820:22613] [[49295,0],0] plm:rsh_setup on agent ssh : rsh path NULL
[ryan-z820:22613]

[2017-11-02 17:37] rhc54 commented on #4437
Sorry for the confusion - I expected you to retain the ```-hostfile machinefile``` option

[2017-11-02 17:42] shinechou commented on #4437
@rhc54: thx. I'm at home now so I couldn't try with -hostfile machinefile option. I'll let you know after I try it.

[2017-11-02 21:30] markalle commented on #4433
I think we're hitting two different segv then. I think I agree with your fix for the one you're hitting.

I have to admit my original segv was on ppc and I assumed the x86 segv was the same. But I'm still able to demonstrate an issue on x86 using the below blob of code that looks up a given function pointer in ```/proc/<pid>/maps```

1. I put that code in mca_base_pvar_notify() so any time it trig

[2017-11-02 23:08] #4402 closed

[2017-11-03 03:43] rhc54 opened #4440 "Master is calling ADD_PROCS on all procs"
After studying the connectivity problems on master when performing async modex, I have discovered that someone modified MPI_Init so that we now call add_procs on _every_ process regardless of the setting of mpi_add_procs_cutoff.

As folks probably recall, we had agreed as a community not to call add_procs on a peer until first communication. We even set the default cutoff value to 0 as we didn't s

[2017-11-03 04:04] tobyyouup opened #4441 "error when install install openmpi 3.0.0, variable undeclared"
When install openmpi 3.0.0 following the instructions in https://www.open-mpi.org/faq/?category=building#easy-build and download 3.0.0 files and run with command "make all install", it shows error ："UCP_MEM_MAP_ALLOCATE’ undeclared", the details of the log is:

[code]

My system is ubuntu 14.04, glibc 2.19.   So where is the problem?

[2017-11-03 05:29] bosilca commented on #4433
I figured out what was going on. In my environment the default PML was OB1, it was therefore never unloaded, so the 2 pvars were always valid. Enabling another PML via MCA allows to reproduce your segfault.

#4442 has the fix you are looking for. The short story is that the pvars were incorrectly registered without the MCA_BASE_PVAR_FLAG_IWG flag. Without this flag the PVAR remains valid even afte

[2017-11-03 05:35] bosilca commented on #4440
Someone is a bad boy ! I'll take a look. Any hint on how to consistently reproduce it?

[2017-11-03 06:41] miked-mellanox commented on #4441
can it be that ucx version you compile with is outdated?
@yosefe

[2017-11-03 06:43] rhc54 commented on #4440
All you need is two nodes and then execute:
[code]
from the orte/test/mpi directory (just MPI_Init/MPI_Finalize, so no communication). The combination of those two params drops us directly thru the modex without executing any barrier. What happens then is that add procs gets called and believes that there is no way for two procs on the same node to communicate, and so you fail.

There is clearly a

[2017-11-03 08:01] tobyyouup commented on #4441
@miked-mellanox @yosefe   Thanks for your reply, Then how could I fix this?

[2017-11-03 08:38] brminich commented on #4441
@tobyyouup, what is your UCX version?
You may download the latest UCX here: https://github.com/openucx/ucx. Plz, check [Compiling UCX](https://github.com/openucx/ucx/wiki) section on Wiki.

Then you need to add `--with-ucx=<UCX_INSTALL_PATH>` parameter to your OMPI configure and build it again.  (UCX_INSTALL_PATH is the folder where you installed UCX)

This should resolve the issue

[2017-11-03 12:58] nmorey commented on #4260
Bump. This is still happening for happening for both v2.x and v3 on x86 (32b)

[2017-11-03 14:24] jsquyres commented on #4441
@tobyyouup I'm going to pre-emptively close this issue because I think @miked-mellanox and @brminich's replies should resolve your issue.

If their suggestions don't fix the issue, please reply with all the info cited here (https://www.open-mpi.org/community/help/), and we can re-open the issue to discuss further.

Thanks!

[2017-11-03 14:24] #4441 closed

[2017-11-03 14:30] jsquyres commented on #4433
Whoa -- that doesn't sound like correct `register_components()` behavior.

@hjelmn Was that intended?

[2017-11-03 14:33] rhc54 commented on #4440
@bwbarrett @mohanasudhan I believe you folks were working on the reachability code in the TCP BTL? I'm wondering if somehow during that effort the code was changed so that it now attempts to determine reachability to every other process in the job during init? It is supposed to only determine reachability to a given process upon first communication with that proc.

This does two things: (a) it mea

[2017-11-03 14:38] edgargabriel commented on #4334
This issue has been fixed in
https://github.com/open-mpi/ompi/pull/4362

on master and prs

https://github.com/open-mpi/ompi/pull/4377
and
https://github.com/open-mpi/ompi/pull/4379

on the 3.0 and 3.1 branch.

[2017-11-03 14:38] #4334 closed

[2017-11-03 14:40] edgargabriel opened #4443 "fs/ufs does not return proper error codes on file open"
Thank you for taking the time to submit an issue!

## Background information

the fs/ufs component does not return proper error codes upon a problem to the application.
This issue has been reported on the mailing list.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

all 2.x and 3.x branches, master

### Describe how Open MPI was installed (e.g.

[2017-11-03 14:57] bosilca commented on #4433
It might be a mistake, as by the time we call register_component we already have the user selection in the framework structure. I would easily add this to the PR, but I not sure if this will not break something else.

[2017-11-03 15:00] bwbarrett commented on #4440
@rhc54, nope, we never committed the changes to the TCP BTL.  Just the util code and the reachability framework (which gets its data from the BTL/whatever, not from modex).  For once, our delay in finishing that code comes in handy :)

[2017-11-03 18:02] ericch1 opened #4446 "MPI I/O is very slow on NFS since commit 8779384bf"
Hi,

I am compiling with ompi/v3.0.x branch each night and I just noticed that since oct 26, our nightly validation tests where taking a huge amount of time to complete.

More precisely, the commit 8779384bf is making our code going very slow at writing.
If I use commit 6e910d1c4 or before, everything is fine.

I suspect something related with mpi i/o since the huge difference is at the end of the

[2017-11-03 18:28] bwbarrett commented on #4446
@edgargabriel, can you chime in?

[2017-11-03 18:30] edgargabriel commented on #4446
what file system is this on? The commit does have an impact on
performance, there is however as part of the commit also an MCA
parameter that allows to control the behavior of ompio.

If you want to have the same behavior as before, you need to set the mca
parameter

fs_ufs_lock_algorithm 1

On regular UNIX file systems (i.e. not NFS), this should still be the
case. On NFS, I would recommend that

[2017-11-03 18:48] ericch1 commented on #4446
for the nighlty tests, I am writing on NFS.

I just re-ran the test:
I confirm that writing to local disk is OK.
Using "export OMPI_MCA_fs_ufs_lock_algorithm=3" is "not working" meaning stays slow.
Using "export OMPI_MCA_fs_ufs_lock_algorithm=1" is good.

I will change my environment variable, but I isn't it somewhat not easy for users to know how to tune this?

Anyway, thanks for the quick answer

[2017-11-03 19:11] edgargabriel commented on #4446
Glad to hear that this helped (Although I hoped that the value of 3
would help a bit as well).

So here is the problem: up to recently, we ( = ompio) did not pay too
much attention to NFS, but we had recently a couple of bug reports on
the mailing list that we had to address, and which lead to the patch
that you referred to.

In the patch, I decided to err on the side of caution and correctness,
s

[2017-11-03 19:30] bosilca commented on #4440
@rhc54 I cant confirm your findings. I have tried the UCX PML and it works just fine (up to 128 processes over 8 nodes). Also PML OB1 works all the time with openib, vader and self (same 128 processes), but crashed when TCP is on (but this is weird as it crashes in during vader memory allocation). I could try to take a look at the TCP BTL, but as you mentionned that @bwbarrett is on it, I will let

[2017-11-03 19:36] ericch1 commented on #4446
Ok, thanks for theses informations.

All I can add, is that we haven't seen any "data" problems with OMPI/v2.x and OMPI/v3.0.x recently and even afterl oct 26 the (slowly) written data was ok.

I understand that we are not having a sufficient coverage over MPI I/O as you do.
But, since our software needs only the functions we use, It is ok like that... ;)

Other information: the I/O was obviously

[2017-11-03 20:25] hppritcha commented on #4436
Update the 2.0.x README with a blurb about this problem #4447 .  Closing this as won't fix.

[2017-11-03 20:25] #4436 closed

[2017-11-03 20:26] hppritcha commented on #4436
See
https://www.mail-archive.com/users@lists.open-mpi.org//msg31725.html
for the discussion on the user mail list.

[2017-11-03 21:39] rhc54 commented on #4440
Sigh - I believe I did say that it was something to do with the TCP BTL, didn't I? And my takeaway from @bwbarrett's comment is that they aren't working on it, so I guess nobody is for now.

I guess I'll just go ahead and address the PMIx issue (as I have an independent reproducer there) and leave the OMPI scaling issues to the OMPI team. I suspect this is the same as #4277, so I'll close this one

[2017-11-03 21:40] rhc54 commented on #4208
We resolved this by no longer connecting devel-headers with installation of the standalone PMIx library.

[2017-11-03 21:40] #4208 closed

[2017-11-03 21:41] rhc54 commented on #4113
ASAIK, this has been fixed - at least, I'm unable to reproduce anything on a machine I can reach, and the code has changed quite a bit in this area.

[2017-11-03 21:41] #4113 closed

[2017-11-03 21:43] bwbarrett commented on #4440
We'll take a look at the TCP BTL; I didn't say we weren't working on it, only that we didn't touch the wireup path yet.

[2017-11-03 21:43] bwbarrett commented on #4440
@bosilca, can you file an issue about your crash?

[2017-11-03 21:45] rhc54 commented on #4440
@bwbarrett thanks - sorry I misunderstood your earlier comment. You might also keep in mind #4264 as it may be related to the crash.

[2017-11-03 21:52] #4429 closed

[2017-11-04 11:13] tobyyouup commented on #4441
@jsquyres  @brminich  Yes, it actually solved my problem, thanks!

[2017-11-05 11:28] ggouaillardet commented on #4440
@rhc54 here is the code before invoking `add_procs`

[code]

your observation suggests that `btl/tcp` requires `add_procs` is invoked on all procs.
not sure whether this is a bug / feature / room for improvement.

@bosilca @bwbarret any recollection on why `btl/tcp` seems to require this ?

[2017-11-05 20:15] karasevb opened #4449 "rmaps: job mapping does double binding"
Running for the cmd line below causes to the procs map to be mapping twice on the frontend node, and as result the procs bindings looks improper:
[code]

There is verbose output for that cmd:
[code]

Also the more detailed debug output can be seen with use the old mapping method (with use `-novm`):
[code]
As can be seen from the output above, the extra second invoke of `bind downward` leads to inc

[2017-11-06 02:29] ggouaillardet commented on #4440
@rhc54 are you sure `add_procs()` is invoked on **all** the MPI tasks in `ompi_mpi_init()` ?

i used the patch below, and at this stage, `add_procs()` is only invoked on the **local** MPI tasks (e.g. the tasks running on the same node)

for example
[code]

[code]

[2017-11-06 02:41] #4449 closed

[2017-11-06 02:43] rhc54 commented on #4440
I can't speak to your patch, but if you use those two mca params, and you watch the modex data requests, you definitely see a request for the btl.tcp key by each process for every process

[2017-11-06 04:24] ggouaillardet commented on #4440
where do you "plug to" in order to see these requests ?
i added some `printf()` in `PMIX_Get_nb()` and could not see any requests for any remote MPI task.

[2017-11-06 11:03] ax3l opened #4451 "Environment Var For --allow-run-as-root"
## Background information

### What version of Open MPI are you using?

openmpi 3.0.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from source, via the [spack](https://github.com/spack/spack) package manager inside a Docker container.

### Please describe the system on which you are runni

[2017-11-06 13:53] JusticeForMikeBrown opened #4452 "3.0 - Centos 7 - libmpi.so: undefined reference to `ucp_request_free'"
Hi,

We are installing OpenMPI using [Spack](https://spack.io) and unable to compile.  See [this issue](https://github.com/spack/spack/issues/5784).

We see the error:

[code]

Build log attached.

[mpi_build.txt](https://github.com/open-mpi/ompi/files/1446396/mpi_build.txt)

Thanks!

[2017-11-06 14:02] yosefe commented on #4452
@JusticeForMikeBrown which UCX version are you using? probably need to update it

[2017-11-06 14:17] JusticeForMikeBrown commented on #4452
ucx-1.0.2385-1.40101.x86_64

[2017-11-06 14:19] yosefe commented on #4452
adding @shamisp
This is pretty old. Can you upgrade to https://github.com/openucx/ucx/releases/tag/v1.2.1?

[2017-11-06 14:42] JusticeForMikeBrown commented on #4452
Thanks!

Newer Mellanox OFED has ucx 1.2.  I'll upgrade then try again1

[2017-11-06 15:25] shinechou commented on #4437
@rhc54: I've provided the log with your debug command, could you please help me to check it? thx a lot in advance.

[2017-11-06 15:48] rhc54 commented on #4437
I honestly am stumped - it looks like you basically received an empty buffer, and I have no idea why. I can't replicate it. Perhaps you might try with the nightly snapshot of the 3.0.x branch to see if something has been fixed that might have caused the problem?

[2017-11-06 16:32] shamisp commented on #4452
Adding @PHHargrove , he is looking into direct integration of UCX with Spack so would not have do to external installation through MOFED.

[2017-11-06 17:45] edgargabriel opened #4453 "Incorrect file size from MPI_File_write with Type_subarray"
Thank you for taking the time to submit an issue!

## Background information

This is a bug reported on the mailing list by Christopher Brady, where the overall data written is less than expected when using large datatypes created with MPI_Type_create_subarray.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

Open MPI 2.x and 3.0.0

### Describe

[2017-11-06 18:47] PHHargrove commented on #4452
@shamisp I am guessing auto-complete gave you the wrong username - I am definitely not working on anything UCX related.

[2017-11-06 18:58] shamisp commented on #4452
@PHHargrove my bad. I wanted to tag @hppritcha

[2017-11-06 19:39] JusticeForMikeBrown commented on #4452
UCX 1.2 RPM fixed the problem

[2017-11-06 19:39] #4452 closed

[2017-11-07 13:25] shinechou commented on #4437
@rhc54: thank you. I'll try the nightly version to see what comes out.

[2017-11-07 14:31] jjhursey commented on #4327
As noted by my inactivity here, I haven't gotten the cycles to work on it. I probably won't for a few months. So if someone is curious and wants to take a pass at it before then feel free, otherwise I'll get back to it later.

[2017-11-07 16:12] jsquyres commented on #3384
Haven't heard anything back from the reporting users, so I'm going to close this issue.  If you need more help, reply here and we can re-open if relevant.  Thanks!

[2017-11-07 16:12] #3384 closed

[2017-11-07 19:56] jladd-mlnx opened #4465 "RSH launcher hangs on more than 65 nodes"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v3.0.x
master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone

### Please describe the system on which yo

[2017-11-07 20:26] rhc54 commented on #4465
I suspect you are using an out-of-date master - this was reported and resolved recently. Are you sure you are at the head?

[2017-11-07 20:32] jladd-mlnx commented on #4465
@rhc54 was this issue filed and closed? Can you point me to the fix?

[2017-11-07 20:46] jladd-mlnx commented on #4465
The master was built on October 27 at commit 5d208a1

[2017-11-07 20:53] rhc54 commented on #4465
It was an offline communication reporting a problem identical to this one. The fix was committed here: https://github.com/open-mpi/ompi/pull/4365, and confirmed by the third party.

[2017-11-07 21:52] jsquyres commented on #4451
I hear what you're saying, but I'm not sure it's the right approach.  We put the `--allow-run-as-root` option there only with very, very deep reservations.  We strongly advise against using it.  *HPC / MPI jobs should not need to be run as root*.

Specifically: `--allow-run-as-root` is already bad enough.  I really, really do not want to provide another trapdoor to already-unsafe functionality; th

[2017-11-07 23:35] zzzoom opened #4466 "mpool/memkind: Fails to build with newer versions of memkind"
### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v3.0.0. The problem is also present in v2.x and master.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Building OpenMPI from source with Intel xppsl 1.5.3 present, no memkind options mentioned

[2017-11-08 01:09] jsquyres opened #4468 "Using TM launch support with --machinefile causes ORTE error"
I had a direct email contact that I'll just quote below, because it contains a good amount of detail:

-------

I ran into a strange issue with OpenMPI 3.0.0 and Torque 6.1.0 I was hoping you had some insight on. When I launch a 2-node test job (HPL in this case) from the command line with the follow command, everything works fine:

[code]

If I put that same command in a torque submission script,

[2017-11-08 02:05] rhc54 commented on #4465
I'm afraid I won't have any time to look at this (as was stated at the last devel meeting, I am no longer working much on OMPI), so I'll have to defer to someone else. Last I checked, the problem had been resolved.

[2017-11-08 03:21] jladd-mlnx commented on #4465
@rhc54 thanks, @karasevb Please take a look at the issue.

[2017-11-08 11:18] kloeffelt commented on #4280
I had the same problem, apparently it's an incompatibility between icc and gcc 7.0 / glibc 2.26 which will be fixed in Intel 18.0.1, here is the link to the Intel forum:
[https://software.intel.com/en-us/forums/intel-c-compiler/topic/742701](https://software.intel.com/en-us/forums/intel-c-compiler/topic/742701)

Cheers, Bastian

Tobias

[2017-11-08 13:42] rhc54 commented on #4280
Yeah, I didn't have gcc 7.0 installed on my box - using x.0 grade software is always risky. I'm going to close this as it isn't something we would address in OMPI - best to just wait for the updated compiler.

[2017-11-08 13:42] #4280 closed

[2017-11-08 18:06] hjelmn commented on #3879
Looks like intel has finally added C11 atomic support. icc 18+ will be required when we finally require c11 atomic support. Depends on how long we want to support icc 16 and 17.

[2017-11-08 18:09] bosilca commented on #3879
Not for all types. Their support unfortunately only applies to 32 and 64 bits types.

[2017-11-08 18:11] hjelmn commented on #3879
@bosilca Shouldn't that be sufficient for our case? We only define 32 and 64-bit atomics. There is the 128-bit but we can define that specially since it is only used for ABA avoidance in the fifo and lifo.

[2017-11-08 18:16] bosilca commented on #3879
We can always do with 32 and 64 bits, for as long as we protect the 128 bits case. We'll lose some performance, but it will work. I just mention it here because their support is still partial.

[2017-11-08 18:18] hjelmn commented on #3879
@bosilca Yeah, I will note that in the table. Not sure why they have been dragging their feet on C11 atomics. C++ needs a similar backend and has similar semantics.

[2017-11-08 18:18] hjelmn commented on #3879
@bosilca Yeah, I will note that in the table. Not sure why they have been dragging their feet on C11 atomics. C++ needs a similar backend and has similar semantics.

[2017-11-08 19:35] hjelmn commented on #3809
Just as an FYI Pathscale is dead. I would like to revisit the rejection of the &(type){value} syntax as the new atomics take a pointer to type as the compare argument. Will be more than a pain to not be able to use the C99 syntax for creating a temporary pointer.

[2017-11-08 19:46] PHHargrove commented on #3809
I don't pretend that my opinions carry much weight here, but here's my 0.02USD anyway.

Just because Pathscale as a company folded in March 2017 does not mean that nobody is is using their compilers in production. In my experience, the more conservative HPC centers will keep a s/w stack fixed (except for bug fixes) for as long as 5 years.

See you in Denver,
-Paul [sent from my phone]

[2017-11-08 19:51] hjelmn commented on #3809
I would like to be more aggressive at dropping older compiler support. The way I see it sites that need an older compiler can either use gcc or clang to as the C compiler to build Open MPI or use an older version of Open MPI. I know I am probably in the minority but making extra work for ourselves for the sake of older systems seems silly.

[2017-11-08 19:56] rhc54 commented on #3809
This is a cross we have born since the very beginning of the project. I'm afraid it is a price of playing in this market segment - as Paul said, those "older systems" are going to be around for quite some time.

Just my $0.002

[2017-11-08 20:00] hjelmn commented on #3809
@rhc54 This is an example that shows why I am frustrated with this limitation:

FYI, here is an example that is annoying me:

[code]

The easy way:

[code]

The lets support a buggy compiler way:

[code]

I mean it is possible to write the code but it is messy and can lead to bugs. There are a lot of runtime-detected compiler bugs out there that eventually cause problems. Typically the compiler ve

[2017-11-08 20:03] rhc54 commented on #3809
I'm sorry, I know this means a lot to you - but I honestly fail to see that much difference in the code. This seems like a tempest in a very small mug of coffee to me.

I'm happy to discuss this with the PMIx community, but I personally am skeptical of blacklisting compilers for things that seem rather trivial (and yes, I know you are passionate about it).

[2017-11-08 20:10] hjelmn commented on #3809
PMIx doesn't have to go the same way as Open MPI though it makes sense for PMIx to be compiled with gcc, icc, or clang as there is no fortran or C++ interface (that I know of). Open MPI is definitely more complicated but as far as I can tell we do not officially support Pathscale. It isn't in the support, tested, or lightly tested lists.

[2017-11-08 21:39] hjelmn opened #4477 "Get/set error handler functions are not actually thread safe"
Thank you for taking the time to submit an issue!

## Background information

We use atomics in the various error handler get/set routines but it is possible to get into a situation where a thread calling an error handler get routine can call OBJ_RETAIN on a freed pointer.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

All versions.This is an

[2017-11-08 23:23] bosilca commented on #4477
This is not the part that I am concerned about, as concurrently manipulating error handlers or concurrently manipulating the error handler in the same communicator is clearly unsafe. I am concerned about asynchronous progress, where a progress thread is trying to trigger the error handler as the user is manipulating it.

[2017-11-09 03:26] hppritcha opened #4478 "absoft x86 32 bit builds now fail"
absoft 32 bit builds now borked up on master

[code]

[2017-11-09 03:27] hppritcha commented on #4478
@jsquyres @bwbarrett

[2017-11-09 07:30] karasevb opened #4479 "rmaps/mindist module is unworkable"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v3.0.x
master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone

### Please describe the system on which you are running

* Operating system/version:
RedHat

[2017-11-09 08:31] ggouaillardet commented on #4478
an include file is missing, and `bool` is not defined at that stage.
i will continue tomorrow unless someone can fix that before.

[2017-11-09 15:42] hjelmn commented on #4477
@bosilca Ah, I see. That is the case I did not think about. There is no need for the atomic on the get but there is still a need for the atomic on the set. That why I asked for your review :). Will re-add the atomic on set.

[2017-11-09 15:45] hjelmn commented on #4477
Ok, fixed.

[2017-11-10 03:11] li7hui commented on #1468
Hello,
I ran the opnempi 3.0.x provided by Mellanox HPCX, but the mpi program just hange there for minutes, and never get executed.

The command lines I used is:
mpirun --host rdma04,rdma06 -np 2 --bind-to core --display-map -mca pml ob1 -mca btl self,vader,openib --mca btl_openib_cpc_include rdmacm  --map-by node -mca btl_openib_receive_queues  P,65536,256,192,128 -mca mpi_add_procs_cutoff 4 ./he

[2017-11-10 05:54] #4478 closed

[2017-11-10 06:01] li7hui opened #4486 "ompi program hangs when there were multiple NICs"
Thank you for taking the time to submit an issue!

## Background information
Mellanox HPCX 3.0.x
### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
Mellanox HPCX 3.0.x OpenMPI 3.0.x

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Installed from

[2017-11-10 06:09] miked-mellanox commented on #4486
can you try to run it with mxm (pml yalla, which is default), instead of pml=on1 (openib btl) and specify desired device explicitly, i.e.

[code]

[2017-11-10 08:39] vspetrov commented on #4486
Moreover, since it is HPCX you also need to add "-x HCOLL_MAIN_IB=mlx5_0:1 " for libhcoll collective module.

[2017-11-10 11:48] li7hui commented on #4486
![hpcx_ompi](https://user-images.githubusercontent.com/1718938/32657227-eb405368-c64f-11e7-8f51-808096f0c841.png)

Hello, the problem still exist by using the following scripts:
mpirun --host rdma04,rdma06 -np 2 --bind-to core --display-map --map-by node  -mca mpi_add_procs_cutoff 4 -x MXM_RDMA_PORTS=mlx5_0:1 -x HCOLL_MAIN_IB=mlx5_0:1 ./hello_c

How shall I debug the problem please? Is there somet

[2017-11-10 12:04] miked-mellanox commented on #4486
Plz try select mxm explicitly,seems other cards take precedence in your setup:
-mca pml yalla

[2017-11-10 12:26] ax3l commented on #4451
Thank you for the detailed answer. I understand your concerns and I fully share your thoughts on regular systems.

Nevertheless, there is an important difference to be aware of when running something *in* a Docker container. Running containers are fully isolated (tm), which means it is *not* being started as hostsytem root (but from a user with user rights). Only *internally*, inside the container

[2017-11-10 16:48] jsquyres commented on #4478
Many thanks, @ggouaillardet

[2017-11-10 20:36] hppritcha commented on #4367
2.0.4 is done.

[2017-11-10 20:36] #4367 closed

[2017-11-10 20:39] hppritcha opened #4490 "Release 2.0.5 checklist"
## Make a perfect tarball

- [ ] Update the major,minor,release,greek version numbers in `VERSION`
- [ ] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --re

[2017-11-10 21:05] shinechou commented on #4437
@rhc54: the problem has been resolved. It seems that the problem is caused by different HW architecture. One is using xeon but another one is using i3, now I change the xeon one to i3 and it works fine. Maybe another possible reason is the xeon workstation has two network adapters, one is used for AMT, not sure whether or not it will affect ompi though.

[2017-11-10 21:05] #4437 closed

[2017-11-11 00:59] li7hui commented on #4486
Hello, the problem still exsits, as the openmpi program hangs as before.  I checked the RDMA connection between the two nodes with ib_send_bw, and it completed with success.

[2017-11-12 11:46] alinask commented on #4486
@li7hui Are you using a resource manager (slurm, pbs, ...)?
If not, after loading HPC-X, please add '-x LD_LIBRARY_PATH' in the command line.
Please do the same if you are running from a compute node (rdma04?)

[2017-11-12 16:07] hppritcha commented on #4368
merged into branches we targeted.  closing.

[2017-11-12 16:07] #4368 closed

[2017-11-12 16:17] hppritcha opened #4496 "Problem using MPI_Open_port and friends"
A user reported an issue trying to use MPI_OPEN_PORT and friends using Open MPI: https://www.mail-archive.com/users@lists.open-mpi.org//msg31730.html

Further testing by @rhc54 shows the test fails across all supported branches: (2.x, 3.0.x, 3.x), as well as master.

The test case is on dropbox:

https://www.dropbox.com/s/azo5ti4kjg12zjy/MPI_Ports.tar.gz?dl=0

[2017-11-13 04:13] timjim333 opened #4499 "Error building example files using mpicc"
## Background information
I tried to test an Open MPI build using the examples but I cannot successfully compile it. I'm trying to build Open MPI on a local supercomputer node over which I only have permissions for working in my local directory. Prior to the Open MPI install, I also built an up-to-date copy of gcc (7.2.0) as the system gcc was old. I am fairly new to compiling and installing on Li

[2017-11-13 06:46] li7hui commented on #4486
@alinask   I thought I found the problem now.  I made two tests, one is to make the rdma connection between two servers: rdm04 and rdm06, the other test is to make the rdma connection between another two servers: rdm77 and rdm06. In the first test, I can only use the mlx5_1. If I uses the mlx5_0, the test fails. In the second test, I can only use the mlx5_0. If I uses the mlx5_1, the test fails. T

[2017-11-13 06:53] ggouaillardet commented on #4499
this is pretty odd.

can you run
[code]

and then
[code]

and post the output ?

[2017-11-13 09:52] alinask commented on #4486
@li7hui Could you please post the output of 'ibstat' and 'ibdev2netdev' from each of the hosts?
Also, does 'ping' work between _all_ the hosts?
How do you run ib_send_bw from the server side? from rdma06
When the test fails, which error do you get?

[2017-11-13 12:37] jsquyres commented on #4499
Also send the output of `which mpicc`.

[2017-11-13 13:37] li7hui commented on #4486
@alinask Hello, these are the post of output of "ibstat" and "ibdev2netdev" from each of the hosts:

![ibstat_rdma04](https://user-images.githubusercontent.com/1718938/32728286-a868c472-c8ba-11e7-8743-177191ddae7c.png)
![ibstat_rdma06](https://user-images.githubusercontent.com/1718938/32728290-ae83b2cc-c8ba-11e7-9b89-66981bba7bd6.png)
![ibstat_rdm77](https://user-images.githubusercontent.com/17189

[2017-11-13 19:49] JusticeForMikeBrown opened #4502 "OpenMPI 3 - Cannot Build with Cuda9"
Hi

I am trying to compile OpenMPI 3 with Cuda9 support which fails during hwloc.

Error:

[code]

The full log:

[failure.txt](https://github.com/open-mpi/ompi/files/1468257/failure.txt)

Can you please help?

Thanks!

[2017-11-13 22:44] ggouaillardet commented on #4502
This is a `hwloc` issue, not an Open MPI one.

A simple workaround would be to disable `nvml` (e.g. `configure --disable_nvml`)
fwiw, Open MPI does not require `nvml` support from `hwloc`

[2017-11-14 03:21] li7hui commented on #4486
btw: what kind of bonding mode should i use in order to support ompi please? i can set up this and check

[2017-11-14 05:22] timjim333 commented on #4499
Weirdly,  the first two commands show that I seem to have linked onto the wrong MPI installation. Could this be causing the issue? Is there any way I can ensure the version I built is used? I thought that adding the paths to my `.bashrc` would do the trick.

`FIa164@afispb07:~/programs/openmpi/openmpi-3.0.0_src/examples$ mpicc -showme -c hello_c.c` gives:
`gcc -c hello_c.c -I/ap/OpenFOAM/ThirdPart

[2017-11-14 05:33] ggouaillardet commented on #4499
that can definitely explain the failure !
what does
[code]
says ?

you can also check `/home/FIa/FIa164/programs/openmpi/openmpi-3.0.0/share/openmpi/mpicc-wrapper-data.txt`

[2017-11-14 06:02] timjim333 commented on #4499
Ok, thanks - I hope it's a simple matter of sorting out the paths then! The above lines give:

[code]
I've attached the file here: [mpicc_out.txt](https://github.com/open-mpi/ompi/files/1469713/mpicc_out.txt)

[2017-11-14 06:20] ggouaillardet commented on #4499
at first, try to unset `OPAL_PREFIX`

[2017-11-14 06:24] timjim333 commented on #4499
I'll try a recompile after the unset. Will running `make cleandist` before the install be sufficient?

[2017-11-14 06:28] ggouaillardet commented on #4499
just `unset OPAL_PREFIX` and then `mpirun`

[2017-11-14 06:35] timjim333 commented on #4499
Here is the output:
[mpirunout.txt](https://github.com/open-mpi/ompi/files/1469775/mpirunout.txt)

[2017-11-14 07:07] ggouaillardet commented on #4499
this is now a distinct error.
you can try
`ulimit -l unlimited`
and see how things go

an other option is to disable infiniband
[code]

[2017-11-14 07:25] timjim333 commented on #4499
Trying the first:
[code]

For the second command:
[code]

[2017-11-14 16:47] ggouaillardet commented on #4499
That typically occurs when no (valid) component can be found
can you make sure `/home/FIa/FIa164/programs/openmpi/openmpi-3.0.0/lib/openmp` is populated ? there should be several files called `mca_shmem_*.so`.
also, make sure there is nothing specific to OpenFOAM embedded openmpi in your `$HOME/.openmpi`

[2017-11-14 23:44] timjim333 commented on #4499
The `lib` and and `openmpi` appeared to be populated with `mca_shmem_mmap.so`, `mca_shmem_posix.so`, and `mca_shmem_sysv.so`. I've attached the full directory list here:
[lib.txt](https://github.com/open-mpi/ompi/files/1472921/lib.txt)

I don't actually seem to have a .openmpi file in my $HOME directory! Should there be one?

[2017-11-15 05:26] ggouaillardet commented on #4499
you do not need such a directory :-)
can you
`mpirun --mca shmem_base_verbose 100 ...`

also, make sure the `/home/FIa/FIa164/programs/openmpi/openmpi-3.0.0/lib/openmpi` directory and its content are searchable and readable.

[2017-11-15 07:16] timjim333 commented on #4499
Ok! That's a relief! I can confirm that all the files in `/home/FIa/FIa164/programs/openmpi/openmpi-3.0.0/lib/openmpi` are readable and executable for all groups and users.

Running the previous command gives:
[code]

[2017-11-15 07:50] ggouaillardet commented on #4499
hmm,

what if you
[code]

[2017-11-15 08:09] timjim333 commented on #4499
Sorry, your last post made me realise that I had opened a new terminal since running `unset OPAL_PREFIX`, so `OPAL_PREFIX` was probably set to the default again.

First running `unset OPAL_PREFIX`, then `ulimit -l unlimited` again, I get the following. I realised after it hung on the first command that I also had not disabled infiband again, so I ctrl+c 'd the process and tried to run `mpirun --mc

[2017-11-15 08:18] timjim333 commented on #4499
I should add that after quitting the previous process and trying `mpirun --mca shmem_base_verbose 100 ...` again produces the same result as before attempting to disable infiniband.

[2017-11-15 23:14] markalle opened #4507 "romio meaning of fp_ind for location within a file view"
When romio flattens datatypes it sometimes has 0-byte chunks in the output. For example
[code]

In general the problem I'll describe below is the code that updates and interprets the fd->fp_ind location pointer isn't equipped to understand those 0-byte chunks in romio's flattened datatype representation. I'd like to remove those from the flattened datatype, but I don't have a complete enough under

[2017-11-16 06:43] droiter opened #4508 "Why mpirun freezes in script loop"
https://stackoverflow.com/questions/47320846/why-mpirun-freeze-in-loop

[2017-11-16 08:03] li7hui commented on #4486
@miked-mellanox @vspetrov @alinask @jsquyres @npe9
Hello All,
I disabled the second port of the Mellanox ConnectX-4LX card, which is the ifcfg-p3p2. Also I removed the ifcfg-bond0. Now I can run the OpenMPI program on multiple nodes successfully.

Regards!

[2017-11-16 08:10] ggouaillardet commented on #4499
what does `ulimit -n` says ? can you try bumping this and try again ?

[2017-11-16 08:11] timjim333 commented on #4499
Currently, it returns 1024 - what would you suggest?

[2017-11-16 09:10] bingmann opened #4509 "sporadic fatal error messages due to critical bug in `madvise()` hook with OpenIB"
I believe there is a critical bug in the (new?) `madvise()` hook:

In a program that does lots of Isend()/Irecv() with Wait()/Test(), I
sporadically see something like the following fatal error message:

[code]

The error message is bogus and suspicious, especially since the program never allocates a buffer of that size. Nor does it use that address as a pointer, but the address _is_ contained in

[2017-11-16 13:48] jsquyres commented on #4508
It seems a little odd to open a question on Stack Overflow and then just post a link to that question here in GitHub.

Regardless, it looks like the question was answered on Stack Overflow.

[2017-11-16 13:48] #4508 closed

[2017-11-17 08:50] timjim333 commented on #4499
I tried increasing `ulimit -n` but the most I could get was `2048` before I get `-bash: ulimit: open files: cannot modify limit: Operation not permitted`. Does the output from running `mpirun --mca pml ob1 --mca btl ^openib ...x` suggest that it is still hitting this limit? [ulimit_test.txt](https://github.com/open-mpi/ompi/files/1481610/ulimit_test.txt)

[2017-11-17 15:26] ggouaillardet commented on #4499
the next step is to bump `ulimit -u` in order to increase the number of processes.
if this does not work, can you post the `ulimit -a` on your system ? this is getting kind of bizarre ...

[2017-11-17 15:42] amckinstry commented on #4072
So. PMIx has been accepted into the Debian unstable archive, and builds ok on most archs (trivial build fix for Hurd required, patch to follow).
I've uploaded a version of openmpi-3.0 to Debian experimental which builds against the external PMIx. We also build aginst the external libevent (currently 2.1)

[2017-11-17 16:09] rhc54 commented on #4072
Thank you! Is there some mechanism by which you would like us to notify you of PMIx releases?

[2017-11-17 16:46] opoplawski commented on #4072
On 11/17/2017 08:42 AM, Alastair McKinstry wrote:

I don't know if openmpi still carries modifications to libevent, but we had
problems with the Fedora packages using the system libevent that were solved
by using the bundled version.

--
Orion Poplawski
Manager of NWRA Technical Systems          720-772-5637
NWRA, Boulder/CoRA Office             FAX: 303-415-9702
3380 Mitchell Lane

[2017-11-17 19:59] mathbird opened #4514 "A fortran MPI program titled with "rmdir/mkdir" hangs if it is compiled with IBM xlf compiler"
The following Fortran program titled with "rmdir" or "mkdir"  hangs if IBM xlf compiler is used to compile the code.  With gfortran, the test passed with OMPI.  Any special configure requirement for XLF?

[code]

(gdb) bt
#0  0x0000100000e01df8 in __lll_lock_wait () from /lib64/libpthread.so.0
#1  0x0000100000dfb004 in pthread_mutex_lock () from /lib64/libpthread.so.0
#2  0x00001000001b5ac0 in opa

[2017-11-17 20:04] mathbird commented on #4514
changing `rmdir` to `rmdir0` could let the test passed.

[2017-11-17 21:20] rhc54 commented on #4514
It seems to me that naming any program the same as a standard libc function is begging for trouble.

[2017-11-17 22:32] mathbird commented on #4514
I also tried "rm", "ls" "cd". all passed. And as I said, GNU gfortran compiler let it passed.

[2017-11-17 23:30] rhc54 commented on #4514
There is no substitute for luck when you introduce symbol confusion. 😄

[2017-11-18 00:57] mathbird commented on #4514
Actually, it is from one user.

[2017-11-18 06:46] timjim333 commented on #4499
Here is the output currently-

[code]

[2017-11-18 15:07] jsquyres commented on #4514
This sounds like a race condition more than it sounds like an `argv0` issue.

Is there any further info about that back trace?  What version of Open MPI are we talking about?  How was it configured / installed?  Can you supply all the information that we asked for in the github issue template?

[2017-11-18 15:16] jsquyres commented on #4499
Keep in mind that you have to set these limits on all nodes (perhaps even via your shell startup files so that they are setup upon non-interactive logins).

But I agree with @ggouaillardet -- this is getting kinda weird. We don't usually run into limits like this (i.e., Open MPI is not really that much of a hog in terms of pipes and file descriptors, especially for small jobs like you are trying t

[2017-11-19 11:06] alinask commented on #4486
@li7hui According to your first screenshot of ib_send_bw it seems that the default gids that the hosts use are different: rdma77 uses GID index 5 while rdma04 uses GID index 3.
In this case, please use the '-x' option to specify the GID index you would like to use.

[2017-11-19 15:58] mathbird commented on #4514
I built OMPI master brand with the following configure and make.  I don't have further btrace treee info.

[code]

[2017-11-20 00:19] ggouaillardet commented on #4514
@mathbird can you please run `nm ./rmdir | grep -i rmdir` ?
as previously pointed by @rhc54, the xlf compiler might generate the `rmdir` symbol that is conflicting with `glibc`'s `rmdir` and that is used internally by Open MPI.
note neither `rm` nor `ls` are `glibc` functions (they are binaries, the `glibc` functions are `unlink` and `readdir` and friends).

assuming the xlf compiler does generate

[2017-11-20 02:53] mathbird commented on #4514
[code]
the test program name is called `pm1`, not `mkdir`.

if I changed `program  mkdir` to `program  mkdir0`, it shows

[code]

[2017-11-20 04:24] ggouaillardet commented on #4514
thanks, so my intuition was right ... this is how xlf compiler works.
as i wrote previously, feel free to contact IBM support if you are unhappy with this behavior.
meanwhile, just refrain to name your program after a subroutine from the `glibc` or any other Open MPI dependency.

[2017-11-20 06:31] karasevb opened #4516 "Failure while mpirun job depends on the order of the hosts"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v3.0.x
master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone

[code]

### Please describe the system on which you are running

* Operating system/version:

[2017-11-20 06:34] karasevb commented on #4516
This issue was introduced with commit fe9b584c0591702d7c5e8939d4d956031de87b44

[2017-11-20 08:55] timjim333 commented on #4499
Would setting it in my bashrc work? I'm not sure what a sensible `ulimit` for user processes is. It's currently `16017021` - what can I bump this up to?

[2017-11-20 09:14] nmorey commented on #4072
The only issue I could foresee with PMIx being package separatly issue is compatibility problems.
Between the 3 versions of OpenMPI we provide, MPICH and SLURM. I doubt they will all be using the same version...

[2017-11-20 12:35] jsquyres commented on #4514
If this is an xlf bug, then it's not our issue to fix.  Please feel free to re-open if there's something we need to fix in Open MPI.  Thanks!

[2017-11-20 12:35] #4514 closed

[2017-11-20 14:24] mathbird commented on #4514
Thanks. One question is why MPICH  + IBMXLF let the test passed?

[2017-11-20 14:34] ggouaillardet commented on #4514
A possible explanation is MPICH does not invoke `mkdir()` internally

[2017-11-20 14:36] mathbird commented on #4514
would you explain in more detail how and where OMPI  invoke rmdir/mkdir internally?

[2017-11-20 14:39] ggouaillardet commented on #4514
Open MPI creates a `session_dir` to store per node information so it can be easily removed

[2017-11-20 14:58] rhc54 commented on #4072
The PMIx community recognized that problem about a year ago and began addressing it. Cross-version support is provided starting with the release of version 2.1, and extends backwards to v1.2.5 per the following rules:

- v1.2.5, v2.0.2 => requires that the PMIx server be at or above the version of the client
- v2.1 and above  => any combination of client/server

We can support earlier versions, an

[2017-11-20 16:45] jladd-mlnx commented on #4486
@li7hui can we close the issue?

[2017-11-20 19:18] akesandgren opened #4519 "memkind API change causing failure to build with latest official version of xppsl from Intel"
## Background information
OpenMPI is using a deprecated API for memkind.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v2.1.1 has the problem and so does the master branch as far as i can see.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc

[2017-11-20 19:31] akesandgren commented on #4519
Note that the latest release of memkind upstream (not Intel), i.e. v1.6.0, is also lacking the commit which makes OpenMPI build.

[2017-11-20 20:05] hppritcha commented on #4519
related to #4466

[2017-11-21 01:33] ggouaillardet commented on #4519
@akesandgren meanwhile, you can opt not to compile the `mpool/memkind` module by configur'ing Open MPI with the `--enable-mca-no-build=mpool-memkind` option.

[2017-11-21 06:41] akesandgren commented on #4519
Already did that, well i used --without-memkind but the effect is good enough for the moment.

[2017-11-21 07:31] timjim333 commented on #4499
Will the above problem with pipes cause any issues with using OpenMPI? I just tried `make` in the examples directory again after double-checking that `OPAL_PREFIX` is unset, `hello_c.c` now appears to compile and runs:

[code]

Has it sorted itself out? I should add that the shmem tests still fail however:
[code]

[2017-11-21 08:07] ggouaillardet commented on #4499
what is the exact command that still fails ?

[2017-11-21 08:08] timjim333 commented on #4499
`mpirun --mca pml ob1 --mca btl ^openib ...x` and `mpirun --mca shmem_base_verbose 100 ...`
Are these required to pass for a successful install?

[2017-11-21 08:13] ggouaillardet commented on #4499
at first, you need to replace `...x` and `...` with the binary name (such as `hello_c`)

that being said, the output is pretty odd, on my system i get
[code]

[2017-11-21 08:16] timjim333 commented on #4499
I tried the above but replacing `...x` with `hello_c` and I get a warning about pipes still and then a hang:
[test_out.txt](https://github.com/open-mpi/ompi/files/1490504/test_out.txt)

[2017-11-21 08:21] ggouaillardet commented on #4499
what if you ?
[code]

[2017-11-21 08:23] timjim333 commented on #4499
I get the following: [test_out3.txt](https://github.com/open-mpi/ompi/files/1490543/test_out3.txt)

[2017-11-21 08:40] ggouaillardet commented on #4499
if you do not explicitly ask how many tasks you want to run (e.g. `mpirun -np 8`) then 640 tasks will be spawned.

i simply tried `mpirun true`

with a default `ulimit -n 1024`, i can spawn up to 142 MPI tasks on my VM
with `ulimit -n 2048`, i can spawn up to 288 MPI tasks
and with `ulimit -n 4096`, i can spawn up to 581 MPI tasks.

now i can reproduce the issue, i will investigate it.
at first gl

[2017-11-21 08:43] timjim333 commented on #4499
Thanks for the install support. So as is, I cannot yet use openMPI, is that correct? I'm happy to troubleshoot if you need.

[2017-11-21 09:33] ggouaillardet commented on #4499
Let me put it this way

unless you bump your `ulimit -n` up to something quite high, the number of tasks per node will be limited (at least with this version on Open MPI).
Given that 640 cores per node is not quite common these days, your sysadmin might consider bumping the hard (and soft too) limit up to `8192`.

Meanwhile, I will investigate why we require 7 file descriptors per MPI task on the

[2017-11-21 14:13] jsquyres commented on #4509
@hjelmn Can you have a look?

(sorry for the delay -- this report came in during the Supercomputing trade show, and this week is the US Thanksgiving holiday)

[2017-11-21 14:20] ggouaillardet commented on #4499
Let me put it this way

unless you bump your `ulimit -n` up to something quite high, the number of tasks per node will be limited (at least with this version on Open MPI).
Given that 640 cores per node is not quite common these days, your sysadmin might consider bumping the hard (and soft too) limit up to `8192`.

Meanwhile, I will investigate why we require 7 file descriptors per MPI task on the

[2017-11-21 15:04] rhc54 commented on #4499
We currently have 4 file descriptors/proc for IO forwarding - one each for stdin, stdout, stderr, and stddiag (supporting show_help). The last one can probably be removed in environments supporting PMIx as we now send show_help over the PMIx log channel.

We then have a PMIx progress thread, so that makes five. Depending on the MPI transport, there is likely 1-2 progress threads running there, and

[2017-11-21 16:31] tkordenbrock opened #4523 "osc-monitoring component build fails when osc-portals4 is configured"
The osc-monitoring configury searches for a Portals4 installation, but does not use any of the configure variables in Makefile.am.  When compiling osc-monitoring, the compile fails because portals4.h cannot be found.

This problem exists on master and v3.1.x.

[2017-11-22 02:36] karasevb commented on #4479
closing this issue, since all related PRs are merged

[2017-11-22 02:36] #4479 closed

[2017-11-22 02:55] ggouaillardet commented on #4499
i just traced the whole things and here is what happens

`mpirun` creates a bunch of pipes, and each `pipe()` invocation returns 2 fd.
ultimately, half of them will be closed after the MPI tasks are fork'ed.

What really happens is that most fd are created (in `orte_iof_base_setup_prefork()`), and then closed later (kind of a timing condition).
For example, if i `mpirun -np 141 sleep 3600`, then i

[2017-11-22 02:58] rhc54 commented on #4499
Then that is a bug - we should only close the stdin pipe on the procs that were _not_ specified as targets by the user. Again, there is no rule that only one can receive stdin! Indeed, there are apps that require _all_ procs to receive it.

[2017-11-22 03:00] ggouaillardet commented on #4499
i chose my words poorly.
please read instead

[2017-11-22 03:02] rhc54 commented on #4499
Okay, so the code does then preserve the option to leave multiple stdin recipients open?

[2017-11-22 03:31] ggouaillardet commented on #4499
this is correct.
i only optimized the path when the `connect_stdin` flag is __not__ set,
and i did not make any assumptions regarding how many tasks are concerned.

[2017-11-22 06:51] timjim333 commented on #4499
Hi, I'm not sure if something changed during the tests before but I am getting different behaviour running mpirun with the `hello_c` example:
[code]
I don't recalling seeing the first few errors - is this a related issue? Thanks.

[2017-11-22 07:01] ggouaillardet commented on #4499
if `ulimit -l unlimited` does not get rid of this error, then `mpirun --mca oob ^ud` will do the trick.

[2017-11-22 08:11] timjim333 commented on #4499
Ok, `ulimit -l unlimited` did the trick. Is this something I should set in the server `.basrc`?

[2017-11-22 08:16] ggouaillardet commented on #4499
that is an option,
an other one is to have your sysadmin makes it a default limit for all users.

[2017-11-22 12:52] amckinstry commented on #4072
For clarity: are there (now or expected to be) multiple implementations of pmix, or just pmi?

[2017-11-22 13:27] iljah opened #4528 "Misleading error message from mpiexec with missing #! interpreter"
With openmpi 2.0.2 compiled from source I try to execute this script (test.sh):
[code]
and the error message from `mpiexec -n 1` is very confusing:
[code]

It took me a long while to figure out what was wrong with my mpi4py script, which had a wrong #! line due to virtualenv weirdness...

[2017-11-22 14:51] rhc54 commented on #4072
We are unaware of any plans to create an alternative implementation. The reference implementation includes the ability to use proprietary binary plugins to mitigate any need for someone to do so.

[2017-11-22 15:57] lcebaman commented on #3268
I am getting exactly this error with OpenMPI 3.0.0 and using RMA (multithreaded) in my code. This is reproducible  and it does not happen with MPICH. Any ideas?

[2017-11-22 20:08] lcebaman commented on #3548
Has this been fixed in 3.0.0? I am getting this error in a similar situation...

[2017-11-22 21:30] lcebaman opened #4529 "btl_openib_component.c:3556:handle_wc"
Runnning OpenMPI 3.0.0 and RMA (MPI_THREAD_MULTIPLE)  I get

[code]
I've noticed that this happens when the number of MPI processes per node >=4 . Here is some more info that could be (or not) related to this issue:

[code]

[2017-11-24 07:26] ggouaillardet commented on #4440
i did some more checks, and in `ompi_mpi_init()` there are two paths
 1. `mca_pml_base_requires_world()` is `true`, this has been ordered by the `pml`, which was ordered by the `btl` or `mtl`. so far, `btl/portals4` (under some conditions), `btl/usnic`, `mxm/mtl_mxm` and `mtl/portals4` (under some conditions) can order this. In this case, `add_proc`  in invoked on __all__ MPI tasks.
2. `mca_pml_ba

[2017-11-24 17:45] LaHaine commented on #3251
With Open-MPI 3.0.0 it no longer crashes for me. Instead it simply hangs at gather with 1024 processes.

[2017-11-25 14:43] rhc54 commented on #4465
just curious - any progress on this?

[2017-11-26 03:31] hppritcha opened #4535 "mca_fcoll_two_phase makefile is not sufficient"
On master if I run ompi_info, I see this near the top of the output:

[code]

The problem is this variable really needs to be in the common ompio lib, and the makefile for
mca_fcoll_two_phase should have a dependency on this common ompio lib.

[2017-11-26 03:41] karasevb commented on #4465
@rhc54 there is still in my tasks list

[2017-11-26 10:35] chrissamuel opened #4536 "Is --with-ucx meant to work if OpenUCX is not installed at configure time?"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

3.0.0 release tarball.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Build with easybuild, modified to include

[2017-11-26 11:12] karasevb commented on #4536
Hello

Yes, this is correct.
UCX should be installed first.  If you setted the flag `--with-ucx` it mean OMPI must be exactly built with UCX, and case when UCX was not found the OMPI  build progress can not be continued.

[2017-11-26 11:31] chrissamuel commented on #4536
[code]
Thanks for that - it appears that MLNX_OFED does indeed include undocumented (as far as I see) support for UCX.   Running my own configure I can see it detects Open UCX and digging further I can see it looks for the ucp.h header.  That is owned by the ucx-devel RPM which has the same build host info as other OFED packages.

Thanks for your help!

All the best,
Chris

[2017-11-26 11:31] #4536 closed

[2017-11-26 12:16] edgargabriel commented on #4535
I'll look into this. It worked on my system, but I understand where the problem might be coming from, and there is a very simple solution in that case.

[2017-11-26 18:40] edgargabriel commented on #4535
I am sorry, I am completely confused. WHat precisely did you and what caused the problems? The structure is basically unchanged for ~ 1year, it is the same in master and 3.0 series. What symbols are undefined in your build?

[2017-11-27 00:28] ggouaillardet commented on #4535
this is an abstraction violation. `fcoll/two_phase` is using a symbol defined in the `io/ompio` component.
as far as i am concerned, `common/ompio` is not involved in this issue.

[2017-11-27 02:57] ggouaillardet commented on #4535
here is a possible fix
[code]

[2017-11-27 14:27] edgargabriel commented on #4535
I understand fundamentally the issue of the abstraction violation (although we could have a lengthy discussion about the fact, that the flat component hierarchy is simply suboptimal for what ompio would need at this point), but my question was more about how to reproduce it. On my systems, I did a fresh checkout and everything works (otherwise I would not have committed it), so I would like to kno

[2017-11-27 14:30] edgargabriel commented on #4535
I have btw. a simpler solution in my mind for fixing two_phase component, would prefer not to have to add a new element to the mca_io_ompio_file_t structure for every mca parameter.

[2017-11-27 14:57] ggouaillardet commented on #4535
@edgargabriel up to you, feel free to make an other fix you are comfortable with.

As long as you do __not__ configure with`--disable-dlopen`, simply running `ompi_info` should be enough to evidence the issue.

[2017-11-27 15:35] edgargabriel commented on #4535
hm, this is interesting, but also makes sense. ompi_info does in fact report the error, but the component itself works if used from an MPI application. The difference probably being, that the ompio module is always loaded first in an MPI app (and thus the symbol is defined), while that is not the case with ompi_info.

Anyway, I think there is a trivial solution for this, since I realized that just

[2017-11-27 15:39] jsquyres commented on #4529
@lcebaman Can you provide a simple reproducer?

@hjelmn Is this a race condition in some one-sided code?

[2017-11-27 15:43] jsquyres commented on #3548
@markalle @jjhursey It looks like this fix was applied to master, but it did not come over to v3.0.x (although I do see it in v3.1.x).  Should this fix have been applied to v2.x and/or v3.0.x?

[2017-11-27 15:57] jsquyres commented on #3268
@icebaman Can you open a new issue with a small reproducer code?

[2017-11-27 16:58] rhc54 opened #4542 "MPI comm_spawn is hanging on disconnect"
Seeing this on the current master (using orte/test/mpi/simple_spawn.c):
[code]
I'm not sure when this started. @ggouaillardet Would you have a chance to take a peek? If it is PMIx related, please let me know and I'll dive into it.

[2017-11-27 17:29] gpaulsen commented on #4507
Adding @nysal and @edgargabriel

[2017-11-27 17:48] lcebaman commented on #4529
@jsquyres Not simple, but I can try to produce one. It seems this could well be a a race condition.

[2017-11-27 17:52] rhc54 opened #4543 "Procs exiting with non-zero status are not causing jobs to be killed"
I'm seeing multiple reports (MTT and on the mailing list) for master (and perhaps the 3.x series) indicating that procs exiting with a non-zero status are not causing jobs to be killed. Instead, they appear to hang unless the user calls MPI_Abort, or exits with non-zero status but calls MPI_Finalize first.

I'm unclear on all the particulars, but it appears we hang as a result. Here is one MTT out

[2017-11-27 20:12] jsquyres commented on #4353
This is done.  Closing.

[2017-11-27 20:12] #4353 closed

[2017-11-27 20:33] rhc54 commented on #3818
Haven't heard anything further, so I'll close this for now - please reopen if you see it again.

[2017-11-27 20:33] #3818 closed

[2017-11-27 20:43] hppritcha commented on #3108
@jladd-mlnx this has been fixed, correct?  I thought this was fixed all the way back to 2.1.x.

[2017-11-27 20:44] ericch1 commented on #3818
I confirm that it has been fixed for me.

[2017-11-27 20:55] jsquyres commented on #2851
This was done in #3889.

[2017-11-27 20:55] #2851 closed

[2017-11-27 21:04] jsquyres commented on #2849
Looks like we unfortunately forgot to remove this in 3.0.0 (or 3.1.0) -- @bwbarrett will file a PR shortly to remove this from master (and thereby trigger the next release series to be v4.0.x).

[2017-11-27 21:12] jsquyres commented on #804
Looks like this was done.

[2017-11-27 21:12] #804 closed

[2017-11-27 21:13] jsquyres commented on #398
#2941 was merged.

[2017-11-27 21:13] #398 closed

[2017-11-27 21:25] jladd-mlnx commented on #3108
This is fixed in 3.1 on systems that support XPMEM.

[2017-11-27 21:27] jsquyres commented on #170
I believe that ARMv8 is now well-supported.

[2017-11-27 21:27] #170 closed

[2017-11-28 00:43] #4477 closed

[2017-11-28 06:39] ggouaillardet commented on #4542
`git bisect` points to open-mpi/ompi@c696e04c5e20974f802825a27a846a72e6cbe25b (move from `PMIx` v2 to v3).
i will try both `v2` and `v3` external components with the latest master from now.

[2017-11-28 07:16] ggouaillardet commented on #4542
so i tried the latest Open MPI `master`, with external PMIx from both latest `master` and `v2.1` branches.

bottom line, `pmix/ext2x` works fine, but `pmix/ext3x` hangs (most of the time)

(note i pushed open-mpi/ompi@3b4b3bb6f94960934866fd169177f7d1f5b10897 in order to fix `pmix/ext3x`)

[2017-11-28 08:23] ggouaillardet commented on #4542
fwiw

i set a breakpoint in `MPI_Disconnect()` in the 3 parents and let the children run.
when the parent end up executing `MPI_Disconnect()`, `mpirun` executes `pmix_server_disconnect` but at that time, `pmix_server_globals.nspaces` contains only 2 namespaces (job 0 aka `mpirun` and job 1 aka the parents), which means job 2 (aka the children) has already been removed.
so when the parent try to `P

[2017-11-28 08:30] ggouaillardet commented on #4542
my bad about the refcount thing, `orte_state_base_check_all_complete()` invokes `PMIx_server_deregister_nspace()`

[2017-11-28 16:11] hppritcha commented on #3108
Okay I'm going to close this as fixed.

[2017-11-28 16:11] #3108 closed

[2017-11-28 20:08] rhc54 commented on #4542
sounds like it is the result of the new connect/disconnect code in PMIx. I'll take a look.

Thanks for the detective work!

[2017-11-28 20:42] markalle commented on #3548
yeah, I think it could stand to be cherry-picked into any branch it isn't present

[2017-11-29 01:21] ggouaillardet commented on #4542
yep, and i do not understand the new logic here.

with `ext2x`, a disconnect was a collective operation involving the 6 MPI tasks (e.g. 3 parents and 3 children).
but with `ext3x`, a disconnect is now two collective operations, the first one involves the 3 parents, and the second one involve the 3 children.
and from what i can observe, the 3 children do note even wait for the parents before exitin

[2017-11-29 01:37] rhc54 commented on #4542
odd - i'm surprised that the pmix component would split the two like that. let me look and see what is going on.

[2017-11-29 02:07] ggouaillardet commented on #4542
well, with PMIx v3, the pmix component splits the disconnect into 6 invocations of `PMIX_Disconnect()`, and then on the server side, these requests are "re-assembled" with all the procs from the *same* namespace.
In this case, we endup with 2 namespaces of 6 tasks each
from `pmix_server_disconnect()`, in PMIx v3
[code]
`nspace->nlocalprocs` is `6`

but in PMIx v2.1, `PMIx_Disconnect()` is invoked

[2017-11-29 02:09] rhc54 commented on #4542
yeah, i know - i'm working on the problem now. The issue is that PMIx v3 assigns a new nspace to the collection, and we aren't tracking it since OMPI doesn't assign a new jobid to the combined procs. We just need to track things correctly.

[2017-11-29 02:10] bosilca commented on #4542
First let me state that I haven't looked at the code yet, but I wanted to make sure we have a correct implementation of MPI_Disconnect because it's a very special function. In most cases it behaves almost as MPI_COMM_FREE (plus it waits for the completion of all pending operations), except when it really affect the last "connection" between sets of processes from different MPI_COMM_WORLD. In this

[2017-11-29 02:16] rhc54 commented on #4542
I believe we have always relied on the code in the MPI layer (specifically, ompi_mpi_disconnect in ompi/dpm/dpm.c) to provide that level of protection. What the pmix code does is simply communicate the disconnect command to the procs passed down to it.

[2017-11-29 02:26] bosilca commented on #4542
The ompi_mpi_disconnect does little to ensure anything MPI related. It simply does either a fence or inform PMIX to disconnect us. We are not in finalize but in the middle of a running MPI application, in a blocking call in the MPI library so for all purposes a simple barrier would have been enough. Moreover, MPI_COMM_DISCONNECT is supposed to wait for all pending operations to complete. We are fa

[2017-11-29 02:30] rhc54 commented on #4542
I defer to you as I honestly don't know. Can someone please resolve that problem? I'm just trying to ensure that opal_pmix.disconnect itself operates correctly - and it isn't quite correct right now.

[2017-11-29 02:49] bosilca commented on #4542
I understand but I still wonder what is the meaning of opal_pmix.disconnect ? I see you are building a list of all processes in the communicator (from both local and remote group) and calling opal_pmix.disconnect on it. But I can't figure out what is the expected outcome ?

Btw, construct_peers is of quadratic complexity as before adding a peer it search for the peer existence in the peer list. Th

[2017-11-29 03:15] rhc54 commented on #4542
Okay, let me walk you thru PMIx_Connect/Disconnect. When a client calls connect, it passes the array of all participants (wildcards etc are accepted). This gets passed to the PMIx server, which caches it until all local participants have called connect (so it is a collective operation). When that point is reached, the server passes the request to the host RM.

The host RM is responsible for ensuri

[2017-11-29 03:46] bosilca commented on #4542
This PMIX mechanism only works if the processes that call disconnect have called connect before together. In MPI things are more convoluted, as you can disconnect any communicators not only the ones resulting from a spawn or a connect/accept. As an example one can merge multiple spawned worlds into a single communicator and then call disconnect on the it. This will lead to badness as a connect on

[2017-11-29 04:15] rhc54 commented on #4542
I understand where you are coming from - no issues. I would only point out that merging multiple spawned "worlds" into a single communicator can and should involve calling PMIx_Connect as this ensures that all the participants have access to the job-level info of the other participants. This was part of the intended design. Otherwise, you are operating in a vacuum.

[2017-11-29 04:35] bosilca commented on #4542
The main problem is that there are constructs in MPI where we don't know that we are manipulating previously unconnected processes. So we have addressed this problem by doing the modex exchange directly between MPI processes. As an example for MPI_Intercomm_create each side of the intercomm prepare a packed version of the modex (using ompi_proc_pack into an opal_dss) to send to the remote peers. O

[2017-11-29 05:19] rhc54 commented on #4542
So let me offer an alternative solution. MPI doesn't care how the underlying RTE tracks things, so why don't you just have intercomm create and friends call "connect"? We can make it smart enough to see that these procs are already "connected" and ignore the duplicate call, or we can "refcount" the call - the behavior is something we can, after all, control. You could then drop that manual modex c

[2017-11-29 05:50] rhc54 commented on #4542
One further thought: there might be additional benefit(s) to calling connect in such cases. When you create things like an inter-communicator, you are implicitly saying "treat these procs as a group". What "connect" does is assign a tracking ID to that collection so you can refer to it as a unique entity. For example, you can then generate an event and specify that only members of that group are t

[2017-11-29 11:36] rhc54 commented on #4542
Per the discussion with @bosilca, I simply replaced the call to opal_pmix.disconnect with a call to opal_pmix.fence for now. I'll fix the connect/disconnect code later as I think we might want to utilize it down the road.

I'll add this to the developer's meeting agenda so we can kick this around some more. I've applied to come - if it isn't approved, we'll come up with an alternative way to conti

[2017-11-30 09:17] ggouaillardet commented on #3133
You need to make sure Open MPI was built with `tm` support.
If you `configure --with-tm`, it will abort if there is no such support.

What if you simply
[code]
In your script ?
Do you see 512 tasks on 16 nodes ?
If you only see 16 tasks on the (first) node, that would strongly hint `tm` support was not built.

[2017-11-30 12:11] LaHaine commented on #3251
I think I was able to solve this problem. The crash must have been caused by the quota on the /tmp directory that was used by openmpi. Simply setting TMPDIR to /scratch (my system's job scratch path without a quota) makes the crash disappear.

[2017-11-30 12:11] #3251 closed

[2017-11-30 12:26] zhangciba commented on #3133
@ggouaillardet Thank you for your detailed answer.

I have checked my Open MPI and find it was configured with the 'tm' support.

Below is my job script named hostname.pbs
`
#!/bin/bash
#PBS -q medium
#PBS -l nodes=2:ppn=16
#PBS -N hostname

mpirun -np 32 -hostfile /home/zhangchi/study/jobs/hostfile hostname
`

the content of /home/zhangchi/study/jobs/hostfile
`
node233
node234
`
why I put node233

[2017-11-30 13:14] ggouaillardet commented on #3133
Looks like you are all set !

Open MPI was correctly built with `tm` support.
A consequence is you can only run on nodes that were allocated to your job.
Generally speaking, you should not need a hostile, but if you need one, it should be built inside your submission script by using the content of the `$PBS_NODEFILE` file.

[2017-11-30 15:57] alinask commented on #4486
@li7hui I'll close this issue for now. Please reopen if needed.

[2017-11-30 15:58] #4486 closed

[2017-11-30 17:33] jsquyres commented on #4502
@JusticeForMikeBrown Did that workaround work for you?

[2017-11-30 17:34] jsquyres commented on #4435
Looks like this is resolved; feel free to re-open if you have further questions.

[2017-11-30 17:34] #4435 closed

[2017-11-30 17:39] jsquyres commented on #4499
It looks like the original issue cited ("Error building example files using mpicc") has been solved, and I'm going to close this issue.

If there are follow-up issues, can we please move them to a new issue?  (e.g., I see @ggouaillardet and @rhc54 did a bunch of fd-reduction work that should help system fd limitations, but that technically should be a different issue)

[2017-11-30 17:39] #4499 closed

[2017-11-30 17:41] jsquyres commented on #4529
@lcebaman Nathan (@hjelmn) just recently committed several one-sided fixes to master.  Could you try a master nightly snapshot tarball, and see if the issue is resolved for you?

https://www.open-mpi.org/nightly/master/

[2017-11-30 17:45] jsquyres commented on #4405
@morrisonlevi Sorry for missing this issue for so long -- it got lost in the runup to the Supercomputing trade show (Oct and Nov are tremendously busy for all of us for that reason).

Yes, we should definitely update the help message to use the non-deprecated name.  Would you mind filing a pull request?  It should be a pretty trivial help string to update.  Then you get all the glory of your name

[2017-11-30 17:47] jsquyres commented on #4502
@bgoglin Did you see this, perchance?  Do we need to update the hwloc embedded in Open MPI 3.0.x and/or 3.1.x?

[2017-11-30 17:51] edgargabriel commented on #4446
yes, but as described above, there is an MCa parameter that the user can use to have the previous behavior

[2017-11-30 17:51] edgargabriel commented on #4412
Issue has been already fixed.

[2017-11-30 17:51] #4412 closed

[2017-11-30 17:55] bgoglin commented on #4502
I'll see if I find a machine with cuda9

[2017-11-30 17:55] jsquyres commented on #4446
Cool.  I'm just going to change the title of the issue to "MPI I/O is very slow **on NFS** since commit 8779384bf".

[2017-11-30 18:00] jsquyres opened #4553 "BTL vader (and sm) crash when filesystem of session directory is too small"
Götz Waschk (@LaHaine) cited in a thread starting here https://www.mail-archive.com/users@lists.open-mpi.org/msg30820.html that he would see crashes with the vader and sm BTLs when he went above a certain number of processes in the job (1024, in his case).

Later in the thread, it was determined that the issue was that the `/tmp` filesystem where the session directory was located (and where the va

[2017-11-30 18:05] sjeaugey commented on #4502
Open MPI should not configure hwloc with NVML support, and as the log shows, @JusticeForMikeBrown is compiling hwloc directly (not within Open MPI).

This is a pure hwloc issue.

[2017-11-30 18:09] jsquyres commented on #4502
@sjeaugey My mistake -- @ggouaillardet even said that, and I totally missed it.  @JusticeForMikeBrown @bgoglin This is for hwloc 1.11.8 -- if useful, feel free to re-open this issue under https://github.com/open-mpi/hwloc.

[2017-11-30 18:09] #4502 closed

[2017-11-30 18:28] bwbarrett commented on #4451
@ax3l, when we've looked at best practices for running MPI in Docker containers (under Amazon ECS or AWS Batch), we didn't run into any real issues using a "normal" user to run MPI applications, and were much happier with the overall posture of the system.  Yes, you're right that it's the container and not the host system running a root process, but there's still plenty of reason to be careful.  F

[2017-11-30 23:07] CalugaruVaxile opened #4555 "OpenMPI 3.0.0 MPI_COMM_SPAWN child fails to MPI_INIT"
I have a very simple code:
master (houprg118061) spawns a slave (houprg118069)
slave connects to master
master sends value = 500 to slave
slave adds 1
slave sends 501 back to master
master prints 501
everyone shuts down.

Code works perfectly with OpenMPI 1.6.4 and with mpich 3.2.1. However OpenMPI 3.0.0 fails. Actually even OpenMPI 3.0.0 succeeds if spawning on the same host. Spawning on remote h

[2017-12-01 04:29] rhc54 commented on #4555
It works fine for me with the head of the v3.0.x branch (to be released as v3.0.1, I believe):
[code]
My test code:
[code]

[2017-12-01 04:30] rhc54 commented on #4555
Note that my test does not use MPI_THREAD_MULTIPLE, which could make a difference in the MPI layer (but not in the spawn itself).

[2017-12-01 06:26] ggouaillardet commented on #4553
iirc, a similar issue was previously reported.
what we found that even if the filesystem is too small, `ftruncate()` successes, and even `mmap()` successes.
Ultimately, the application crashes when accessing the mmap'ed memory.

[2017-12-01 07:19] LaHaine commented on #4553
I had reported this as issue #3251, maybe that one should be reopened and merged.

[2017-12-01 09:13] amaslenn opened #4557 "Error: unknown option "-np""
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
OMPI `v3.1.0a1`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
It was built using from source using following cmd:
[code]

### Please describe the system on which yo

[2017-12-01 09:13] amaslenn commented on #4557
+ @miked @alinask

[2017-12-01 14:35] CalugaruVaxile commented on #4555
Hi Ralph,

many thanks for your reply! I am happy to see spawning working on remote
host; however I notice one difference between my code and yours: my code
spawns a standalone binary. Would it be possible for you to test that
scenario, too?
Otherwise: do you have an RC, or may I have the code you used in this
example - so I can try too, on my side? If this is not possible/available,
may I have an

[2017-12-01 15:00] aliomarabdelazim opened #4558 "MPI_Reduce MPI_MIN and MPI_MAX"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
OpenMPI 2.0.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
easybuild

### Please describe the system on which yo

[2017-12-01 15:06] rhc54 commented on #4555
The only differences I see in the codes are:
* you ask for MPI_THREAD_MULTIPLE. While I know people have been trying to get that to work, I don't know if they have looked at the dynamic use-case. Since your code doesn't actually need thread multiple, I would suggest trying without it
* you spawn a different executable, but that is transparent to the implementation - the code never looks at what is

[2017-12-01 15:11] bosilca commented on #4558
First, the return of MPI_Wtime is some absolute value that only makes sense on the process that gather it, and only as part of an interval computation (t2-t1 on the local process). Moreover, if your application clocks are not strongly synchronized (which is not an MPI requirement) computing the difference between the min entry time and the max exit time has little meaning. There is not a simple an

[2017-12-01 16:00] jsquyres commented on #4558
I think @bosilca answered your question, so I'm going to close the issue.  Feel free to re-open if it wasn't fully addressed.

[2017-12-01 16:00] #4558 closed

[2017-12-01 16:59] aliomarabdelazim commented on #4558
Thank you very much for your reply. It seems that it is an effect of unsynchronized clocks as you suggested. Thanks.

[2017-12-01 19:41] edgargabriel commented on #4535
Should be fixed with pr #4559

[2017-12-01 19:41] #4535 closed

[2017-12-01 22:16] CalugaruVaxile commented on #4555
Hi Ralph,

I think I know where the problem is. Would you please mind modify your code and use a non-MPI_INFO_NULL MPI_Info object?
Using MPI_INFO_NULL worked for me, too. Unfortunately this is not enough. In my case, the host(s) available for spawn are not known when the job starts; rather, the scheduler gives the job some nodes upon request. These nodes need to be registered in the MPI_info so t

[2017-12-02 02:38] rhc54 commented on #4555
What scheduler are you using? If you are in a managed environment (e.g., slurm or Torque), then we won't support adding hosts to the original detected allocation.

[2017-12-02 03:23] CalugaruVaxile commented on #4555
Hi Ralph,

house-made scheduler, pretty much created for dynamic resource allocation.
Used OpenMPI 1.6.4 the way I described you for over two years, works
perfectly. I need to move away from 1.6.4 though, due to buggy
intercomm_create and intercomm_merge, plus the MPI3 features. Please
confirm that OpenMPI will no longer support dynamic host allocation (1.6.4
supported it pretty well, too bad you

[2017-12-02 04:44] rhc54 commented on #4555
I didn't say we don't support it - I said that we don't support it for HPC resource managers such as slurm and torque as they don't support dynamic allocations. Sometimes people pass us additional nodes outside their allocation in such environments, and we can't support that request.

I suspect this is a bug, but don't have time right now to investigate. Perhaps someone else can?

[2017-12-02 05:40] CalugaruVaxile commented on #4555
Hi Ralph,

oh, my bad! I am glad that you are still supporting the feature. Bugs are
just part of our trade :)

Cheers,
George

On Fri, Dec 1, 2017 at 10:44 PM, Ralph Castain <notifications@github.com>
wrote:

[2017-12-02 09:42] timjim333 opened #4560 "liblapacke.a is not present in install"
## Background information
I want to link to LAPACKE libraries (such as liblapacke.a) but they are not in the `PREFIX/lib` directory after compiling. I have made sure that NO_LAPACKE is commented out in `Makefile.rule`. The computer is the same as in: https://github.com/open-mpi/ompi/issues/4499

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v3.

[2017-12-02 11:40] jsquyres commented on #4560
@timjim333 OpenBLAS is not part of Open MPI.  I think you need to ask this question to the OpenBLAS maintainers.

[2017-12-02 11:40] #4560 closed

[2017-12-02 15:44] rhc54 commented on #4555
one more thing you can try is to add "--novm" to your mpirun cmd line. There are two launch methods in OMPI - this tries the alternate one.