[2017-04-01 06:04] artpol84 opened #3267 "OSC segfaults, v2.x"
Today I noticed a segfault in our MTT:

[code]

It was running fine for at least a couple of weeks before. This might be related to recently merged https://github.com/open-mpi/ompi/pull/3045.

[2017-04-01 06:08] artpol84 commented on #3267
@karasevb, FIY

[2017-04-01 06:13] cshanbo commented on #3158
Hi all. I tried the approach that @ggouaillardet proposed, and that works!
Thank you for your help.

[2017-04-01 06:14] artpol84 opened #3268 "Attempt to free memory that is still in use by an ongoing MPI communication"
We observed this error only once in our MTT. We are running v2.x with SLURM/pmix there. It is possible that it is somehow related to this configuration, though I doubt that.
Here is the error message:

[code]

[2017-04-01 15:33] ael-code commented on #3264
Unfortunately I'm running a PDE simulator that is rather than simple :(

Yes and `MPI_THREAD_MULTIPLE` is supported.

Only one thread on each rank is invoking the function. Indeed is it true that at every round is it possible that a different thread will invoke the function but always one thread at time.

In any case it seems that I cannot reproduce the bug any more... I'll close the issue until I

[2017-04-01 16:37] #3264 closed

[2017-04-01 17:56] hjelmn commented on #3267
Hmm. And master is ok?

[2017-04-01 18:05] artpol84 commented on #3267
We don't test it

[2017-04-01 18:13] artpol84 commented on #3267
And this problem is 100% reproducible. I see it in all runs now.

[2017-04-01 18:22] artpol84 commented on #3267
OMPI config is pretty basic - no Mellanox components are in this build.

[2017-04-01 19:19] artpol84 opened #3269 "mpirun MIMD mode, map-by behavior"
When trying to use MIMD mode of OMPI I faced the following problem.

If I just launch 4 procs with `--map-by node` I'm getting expected mapping:
[code]

But if I launch it using MIMD feature, I'm getting unexpected results:
[code]
[code]

I talked to @rhc54 and he assumed that "the location got reset between app_contexts". Also he recalled that this was the desired behavior.
From my point of view

[2017-04-01 19:20] artpol84 commented on #3269
I noticed that with v2.x, it is possible that we have the same behavior in v2.0.x, master and v3.x

[2017-04-01 19:25] artpol84 commented on #3269
Here is my usecase: I want to profile several of the procs with `perf` tool. So I prefer everything to be similar to the original run, except that couple of processes will be running under perf, while most of them will be regular, so I won't get a flood of the `perf.data` files.
If there is another way to do that - I'd be interested.

[2017-04-02 03:33] ggouaillardet commented on #3269
my 0.02US$

i guess you should replace
[code]
with
[code]
to get the result __you__ expect

imho, the current behavior is not really user friendly (e.g. i would hope the result you expect too)
i am thinking of two options
- add a new keyword to separate global data vs per binary data, for example
[code]
- add a new flag per option that indicates wheter option value is reset (or not) when the ```:`

[2017-04-02 03:38] rhc54 commented on #3269
The --map-by option is global - you cannot specify it for each app_context

The first question you should ask is: did the behavior change between 1.10, 2.0, 2.1, and master? If not, then it was likely the intended behavior. One is free to suggest the intended behavior be changed, but that's a different argument than fixing a bug.

[2017-04-02 03:59] ggouaillardet commented on #3269
fair point, i will do that when i am back at work

[2017-04-02 13:06] Kernle32DLL commented on #2224
Are there any plans to backport this to 2.x?

[2017-04-02 13:15] ggouaillardet commented on #2224
@hppritcha shall i issue a PR for ```v2.x``` ?

[2017-04-02 15:47] hunsa opened #3270 "disable CMA in vader"
Hello all,

We experienced problems with Open MPI when communication larger
messages, for example with `MPI_Gather`, `MPI_Allgather`, etc.  Large
means messages larger than 1k (for very small messages the problem did
not occur).

We received error messages like this
  Read -1, expected 8000, errno = 38

I suspected that there is something wrong with the CMA support.

And indeed, until Open MPI 2.0

[2017-04-03 05:04] ggouaillardet commented on #3269
behavior is the same in 4 branches ```master```, ```v2.x```, ```v2.0.x``` and ```v1.10```

[code]

[code]

[code]

[2017-04-03 11:31] ggouaillardet commented on #3270
Meanwhile, can you try
[code]
and see whether it helps ?

fwiw, we currently only use --with-cma to abort if cma support cannot be built.
I will fix that so we also support --without-cma

[2017-04-03 14:01] hppritcha commented on #2814
This issue has been addressed as part of 2.1.0 release.

[2017-04-03 14:01] #2814 closed

[2017-04-03 14:09] hppritcha commented on #3167
any updates from IBM?

[2017-04-03 15:12] hunsa commented on #3270
`opal_check_cma_happy=0 configure` works and it is much better than having to set `OMPI_MCA_btl_vader_single_copy_mechanism` each time.

[2017-04-03 15:40] hjelmn commented on #3270
Vader doesn't use BTL_SM_ variables. Look for OPAL_BTL_VADER_HAVE_XPMEM.

Looks to me like CMA support either doesn't exist on your platform or we have the wrong syscall numbers for the platform. That errno translates to function not implemented. What is the kernel version and platform. It would also be helpful to see your config.log for the build.

[2017-04-03 15:41] hjelmn commented on #3267
I think I have an idea as to where the problem is. All my testing is done on a platform that has both fetching and non-fetching atomics. libibverbs only provides fetching. Will see if I can trigger the problem by disabling non-fetching atomics in btl/ugni.

[2017-04-03 16:18] hunsa commented on #3270
@hjelmn Your are right. But the CMA detection macro (`OPAL_CHECK_CMA`) is the same for SM and VADER. Thus, if CMA is enabled, it will be enabled in both cases. It is as you say: our platform has no CMA support. So, I would like to disable it.
Here is the `config.log` (IP/host information filtered out) for a default configure run.

[config.log.zip](https://github.com/open-mpi/ompi/files/890660/conf

[2017-04-03 16:28] hjelmn commented on #3270
Hmm, --with-cma=no was working at some point. Looks like the check is missing. Also odd that the CMA test passed. Are you cross-compiling?

[2017-04-03 16:30] hunsa commented on #3270
No, we are not cross-compiling. I have been compiling several Open MPI versions with the same configure options for some time, and the problem with CMA only showed up with 2.1.0.

[2017-04-03 16:33] hjelmn commented on #3270
We started enabling CMA by default in v2.1.x. We have a configure check that calls process_vm_writev to see if the call is supported. That is why I ask if you are cross-compiling (this includes different kernel versions/configurations BTW).

[2017-04-03 16:46] hjelmn commented on #3270
Can you try --with-cma=no with #3272 and verify that it works for you.

[2017-04-03 17:05] bosilca commented on #3251
Somehow we are leaking resources, and as a result we force the SM manager (vader in this instance) to keep mapping memory until we reach some OS limit. Now we only have to find how we are we leaking the fragments (otherwise we wouldn't be in mca_btl_vader_frag_init) ...

@ggouaillardet using /dev/shm might work but this will make the cleanup more complicated and error prone. At some point we had a

[2017-04-03 17:20] bosilca commented on #3255
@ggouaillardet in what conditions MPI_Alltoallv is faster without sending 0 bytes messages (any scenario not in a hand-crafted benchmark) ? I am also pragmatic, and I think the added complexity of the sync (and the inherent weakness of the approach) make it unpalatable in this context.

As an example the proposed fix only work in the context of a single communicator. If the same pattern is repeate

[2017-04-03 17:24] artpol84 commented on #3268
**Update:** this has triggered today again.
First time I noticed that was on Thursday, 03/30/2017.

[2017-04-03 17:46] artpol84 commented on #3268
This always happens for allgather2 test, so in conjunction to the time it first appeared and the commit history, I can say that this may be related to https://github.com/open-mpi/ompi/pull/3159

[2017-04-03 17:46] artpol84 commented on #3268
@vspetrov

[2017-04-03 19:23] Kernle32DLL commented on #2224
@ggouaillardet Also, on a related note I realized that ompi is a bit to clever for a special use-case with ports.

Trying to configure a hostfile like this will yield no error, but will not work as expected. It will start 4 nodes on cluster03pc01, using port 3313 instead.

[code]

Ompi interprets the lines all as the same node, and at each line parsed the same node instance is reused and the port

[2017-04-03 22:24] ggouaillardet commented on #3251
@bosilca did you mean a test to check we do not mmap on a remote file system ?
XFS is a local file system (and CXFS is the distributed file system that is based on XFS)

[2017-04-04 00:41] ggouaillardet commented on #3270
@hjelmn i just realized you issued a similar PR a few hours ago ...
i tested ```--without-cma``` and it produces the expected effect
[code]
(on my centos7 box, ```...?HAVE_CMA``` is ```1``` by default)

feel free to merge either #3272 or #3275 and close the unused one.

[2017-04-04 01:47] ggouaillardet commented on #3255
@bosilca i simply meant that __no__ message is always faster than __one__ (even zero bytes) message.

so how to move forward ?
- __always__ send/recv zero bytes message ?
- makes it a MCA parameter (and with which default value) ?

[2017-04-04 13:09] tonycurtis opened #3277 "Compile error: orte/mca/plm/tm: undeclared variable "nodelist""
[oops, forgot to add commit] Git commit 1322e5dee8e9861774035710d7a38f3b306490a6

[code]

[2017-04-04 13:11] rhc54 commented on #3277
Could you perhaps tell us what version you are describing?

[2017-04-04 13:45] rhc54 commented on #2224
Tracking a node based on both its name and a user-provided port would require massive changes to the code base that just wouldn't make any sense for us to absorb. I would strongly recommend you use singularity as your container instead of docker as it was designed to support HPC from the start and doesn't suffer from these issues.

[2017-04-04 13:57] tonycurtis commented on #3277
[commit added to orig post]

[2017-04-04 13:59] rhc54 commented on #3277
So you are talking about master as opposed to one of the release branches? It really helps if one specifies such things so we know where to look 😄

[2017-04-04 14:00] tonycurtis commented on #3277
pure accident, already had the commit hash copied-biut-not-yet-pasted...

[2017-04-04 14:01] rhc54 commented on #3277
Sorry, don't mean to be a pain - what I meant was: is this issue in the "master" branch, or in a release branch such as v2.x?

[2017-04-04 14:03] tonycurtis commented on #3277
it is the git master

[2017-04-04 14:12] ggouaillardet commented on #2224
@Kernle32DLL keep in mind that nodes must be able to communicate with each other for ```oob/tcp``` (aka out of band management) and ```btl/tcp``` for MPI communications.
since you cannot SSH directly into a container, i doubt two containers can reach each other (especially if running on two different nodes)
as a proof of concept, you can add this to your ```$HOME/.ssh/config```
[code]
and then
[co

[2017-04-04 14:17] Kernle32DLL commented on #2224
@rhc54 @ggouaillardet Thanks for the input, I appreciate it! I will do some tests, and will probably move the topic to SO, as to not pollute the issue with OT discussion.

Still - the request for backport stands ;-)

[2017-04-04 14:18] rhc54 commented on #3192
I committed something that may have resolved this - can you try current master and see if it is still present?

[2017-04-04 14:56] gpaulsen commented on #3167
I still haven't tested yet.  I'll try to get it done this week, but I still need access to this older test cluster.

[2017-04-04 15:15] hppritcha commented on #3268
These MTT runs were done with vanilla Open MPI, no UCX, MXM, etc.

[2017-04-04 15:18] hppritcha commented on #3267
this fixes a regression that went in to v2.x after the v2.1.0 release.

[2017-04-04 16:04] #3277 closed

[2017-04-04 16:07] marksantcroos commented on #3192
Thanks, will do.
It looks btw that this error was not the cause of the "1024 cores problem" that we were seeing, that was actually caused by (#1132).
Note that I had general problems with the latest master before your recent changes that I was still debugging and hadn't reported yet.
Hopefully I get to it today.

[2017-04-04 16:11] rhc54 commented on #3192
Okay - we believe we have the ALPS node ordering problem fixed (at least, it is working for @hjelmn), so please let us know there too. Meantime, let's coordinate on the debug - we'll get this nailed down yet 😄

[2017-04-04 18:07] lee218llnl commented on #3243
@rhc54 can you help me look at this one or find someone else who can help?

[2017-04-04 18:07] lee218llnl commented on #3247
@rhc54 can you help me look at this one or find someone else who can help?

[2017-04-04 18:32] #2931 closed

[2017-04-04 18:37] nrgraham23 opened #3279 "Add a mpirun --help parsable option"
Add a mpirun --help parsable option for use with the completion scripts as requested by @hjelmn

[2017-04-04 19:34] rhc54 commented on #3243
I can help, but need another day or two to get to it. Is this with OMPI's "master" branch?

[2017-04-04 19:34] rhc54 commented on #3247
I can take a look, at least at the segfault problem.

[2017-04-04 19:46] lee218llnl commented on #3243
Thanks, and yes, this was on OMPI's master branch.

[2017-04-04 21:02] bosilca commented on #3255
None of the proposed solutions are good. Pick the one that involves less efforts.

[2017-04-05 07:11] cshanbo opened #3286 "Failed to modify the attributes of a queue pair"
Hi all,
I ran into an mpi exception today when just calling `mpirun`, and it was never seen before. The exception is:
[code]
The output seems to mean that `openmpi` will run anyway. But my codes fails even just `mpirun python`  in this situation.
[code]

I googled it but got no luck. What I did today is to update `openmpi` from `2.0.2` to `2.1.0`, which located in [this page](https://www.open-mpi.

[2017-04-05 09:53] rhc54 commented on #3286
Add ```--mca oob tcp``` to your cmd line and see if that solves the problem.

[2017-04-05 10:12] rhc54 commented on #3243
@ggouaillardet I'm stuck resolving another issue - would you have a chance to look at this and/or perhaps https://github.com/open-mpi/ompi/issues/3247?

[2017-04-05 10:16] cshanbo commented on #3286
Hi @rhc54 ,
It still doesn't work.
I just test it with
[code]
where `main` is:
[code]
and the exception still remains:
[code]

[2017-04-05 11:58] ggouaillardet commented on #3243
@lee218llnl can you please provide detailled instructions on how to reproduce the issue
- slurm script and sbatch command line
- launchmon command line

[2017-04-05 14:35] rhc54 opened #3289 "Track RTE-related commits that need to go to v3.0"
- [ ] commits from #3441 (ABI change !)
- [x] commits from #3356 (PR #3365)
bb1aaa32860eab1e0d1963fa6dbf0c38ef5f91ec
- [ ] commits from PR #3429
3a13bd6ab4fa5be6e6ac732d4e97f8ec576d31ea
- [ ] commits from #3350
67156556ce889f50230439b82d38b4944adb3520
- [ ] commits from #3344
1585854335268e7b558b05c41219a9c35e12984e
- [ ] commits from #3331
4af7a0827fa0bfc2d7d22016edd2ed3347fdd5ab
- [ ] commits fr

[2017-04-05 15:37] lee218llnl commented on #3243
The same steps outlined in #3247 should demonstrate this issue, albeit pointing to different versions of OpenMPI. Here's what I did:

git clone https://github.com/llnl/launchmon.git
cd launchmon/
export PATH=/collab/usr/global/tools/openmpi/toss_3_x86_64_ib/openmpi-test/bin:$PATH
./configure --with-test-rm=orte --with-test-rm-launcher=/collab/usr/global/tools/openmpi/toss_3_x86_64_ib/openmpi-test/

[2017-04-05 15:52] lee218llnl commented on #3243
Also, if you modify the test.launch_1 script to make NUMTASKS fill the allocation, then you will get:
[code]

[2017-04-05 23:58] hppritcha commented on #3286
@cshanbo could you provide info on your IB network?  Also could you add which version of Open MPI you are using and the configure options?

[2017-04-06 01:18] cshanbo commented on #3286
Hi @hppritcha
Thank you for your reply!

By `IB network` did you mean `infiniband network`? I'm using my lab's servers, of which I'm not familiar with the configuration. Could you please tell me what and how to get the information you need to help with the diagnose?

I'm using `openmpi-2.0.2` currently. As I said in this issue, I updated `openmpi-2.0.2` to `openmpi-2.1.0` with the default configur

[2017-04-06 08:15] cshanbo commented on #3286
I reinstalled `openmpi` into another directory, `/usr/loca/openmpi-2.0.2/`and add `/usr/local/openmpi-2.0.2/bin` and `/usr/local/openmpi-2.0.2/lib` to the `PATH` and `LD_LIBRARY_PATH` separatly , then it works again.
I'm not sure why it happens. An explanation will be much appreciated.
Thank you for all your help.

[2017-04-06 13:39] marksantcroos commented on #1132
This seems to be resolved indeed! Thanks!

[2017-04-06 13:39] #1132 closed

[2017-04-06 13:54] marksantcroos commented on #3192
This one I'm still seeing as of `d7f283c`.

[2017-04-06 13:59] marksantcroos commented on #3192
Sorry, ignore my latest statement for now.

[2017-04-06 14:45] marksantcroos opened #3296 "--wdir ignored in recent master"
`--wdir` is no longer an effective option, e.g.,:

[code]
returns `$PWD` and not `$PWD/tmp`.

I noticed some related commits (https://github.com/open-mpi/ompi/pull/3217) recently, could these be the cause?

[2017-04-06 17:26] robertsawko opened #3297 "mpicc -showme have no suboptions"
Hello,

I am looking at the mpicc from version 2.0.2 and it seems to me that the `-showme` option of the `mpicc` wrapper has no support for options. It used to be possible to do `-showme:link` `-showme:compile` etc for a substring of the wrapping command.

Please let me know if this is intentional.

[2017-04-07 17:35] #3279 closed

[2017-04-07 22:14] nrgraham23 commented on #3297
The options for mpicc -showme are working for me.  I installed v2.0.2 on my mac and ran the command to test it out, and I had no problems.

Did you upgrade from a different version of ompi?  When you did, did you blow away the previous install directory?  I have had some issues when forgetting to do that in the past.

I'd try reinstalling and see if you still get the same problem.

[2017-04-08 10:57] Jiadun opened #3305 "Not found in file base/state_base_fns.c at line 474"
The program works. However, after some steps, the following information continues to come up.
[username-HP-ZBook-15:28309] [[18408,0],0] ORTE_ERROR_LOG: Not found in file base/state_base_fns.c at line 474

[2017-04-08 14:20] rhc54 commented on #3305
I'm afraid that doesn't tel us anything. What version of OMPI are you using? How did you run your application (i.e., the cmd line)? What does your application do?

[2017-04-08 17:03] Jiadun commented on #3305
Thanks for your reply:)
1) open mpi 1.10.2
2) mpirun -np 1 python some.py
3) in some.py mpi4py is used to spawn independent mpi program which takes 2 processes.
 more details is here https://groups.google.com/forum/#!topic/mpi4py/8dNs5ndQm-Y

[2017-04-08 17:20] rhc54 commented on #3305
From what I can tell, it sounds like your “some.py” program is itself invoking mpirun? If so, then this won’t work - you cannot recursively call mpirun.

[2017-04-10 10:16] Jiadun commented on #3305
Yes in some.py mpi4py is used to spawn mpi-program esysparticle in each iteration.
MPI.COMM_SELF.Spawn('/usr/local/bin//esysparticle',
                         args=['load.py'],
                         maxprocs=2,info=info)
If the number of iterations is not large, then there is no complain like "...line 474".
On the contrary, there will come up
358 18.2595404558 0.0438127126986
[bwjliu-HP-ZBook-

[2017-04-10 20:14] jsquyres commented on #3256
@artpol84 I'm returning to the office from vacation tomorrow, but I just logged into Cisco's MTT systems and I see that this issue is still occurring.  Any progress?

[2017-04-10 21:25] artpol84 commented on #3256
@jsquyres, sorry - it was a busy weeks. We will try to return to this asap (this week)

[2017-04-10 21:25] artpol84 commented on #3256
@karasevb please, take a look.

[2017-04-11 01:25] rhc54 commented on #3247
I got a bunch of warnings out of the bootstrap script:
[code]
Don't know if that's a problem, but wanted to advise you of it

[2017-04-11 01:26] rhc54 commented on #3247
Well, I guess it is a problem after all:
[code]

[2017-04-11 01:27] rhc54 commented on #3247
I apparently do have libgcrypt installed on this system:
[code]
Any suggestions?

[2017-04-11 02:24] dongahn commented on #3247
@rhc54: this may be the same issue as https://github.com/LLNL/LaunchMON/issues/28

If this is the case, I should update README with -devel rpm dependency.

[2017-04-11 02:32] rhc54 commented on #3247
Afraid I already have that rpm installed too:
[code]

[2017-04-11 02:52] dongahn commented on #3247
Hmmm. AM_PATH_LIBGCRYPT should be defined in the m4 from the devel package and the error output from bootstrap is saying automaker couldn't find this macro...

Could you run the following commands?

% rpm -qa | grep libgcrypt

% rpm -ql libgcrypt-devel-1.5.3-13.el7_3.1.x86_64

% cat /usr/share/aclocal/libgcrypt.m4

[2017-04-11 03:03] rhc54 commented on #3247
Sure thing:
[code]
I suspect the problem is that I am not using the system version of automake and friends as they are too old for my purposes. So I have my own installation in my "home" directory. Perhaps what is needed is some envar or .autoconf setup so it finds this add-on?

[2017-04-11 03:15] dongahn commented on #3247
Yeah, it is a likely suspect. If your local `aclocal.m4` doesn't have the `AM_PATH_LIBGCRYPT` definition, this probably means that aclocal had trouble finding that definition as part of bootstrapping. If you include the entire ` /usr/share/aclocal/` into the search path of your locally installed automake and friends, this may lead to too many errors... But if there is an easy way to add a few add-

[2017-04-11 03:33] rhc54 commented on #3247
I'll look into it - if nothing else, I should be able to just copy/paste it

[2017-04-11 06:21] tjb900 opened #3322 "v2.1.0: mpi_open_port does not give any tcp info in portname"
Hi!

I'm starting to develop a master/slave app, where a number of slaves will connect to a long-running parallel master process to obtain work and submit the results.  The slaves will be started independently of the master, in separate jobs via a queueing system, and then attempt to connect back to the master using the port name it establishes before submitting the slave jobs.

In a few toy tests

[2017-04-11 06:30] tjb900 commented on #3322
My apologies, it appears that this could be a duplicate of #2363.  That said, that issue is closed but not fixed!

[2017-04-11 13:27] marksantcroos commented on #3192
With master+#3310 I don't see them anymore. Closing for now. Thanks!

[2017-04-11 13:27] #3192 closed

[2017-04-11 15:10] jsquyres commented on #3267
Looks like this is now fixed.

[2017-04-11 15:10] hppritcha commented on #3267
This issue was fixed by PRs #3274, #3314, and #3315.

[2017-04-11 15:11] jsquyres commented on #3226
Looks like this has been fixed.

[2017-04-11 15:11] #3226 closed

[2017-04-11 15:12] gpaulsen commented on #3268
From web-ex 04/11 - Not 100% reproducible, so lets keep this issue open a bit longer.

[2017-04-11 15:12] #3267 closed

[2017-04-11 15:24] #3178 closed

[2017-04-11 15:39] DrHaraldBraun commented on #3255
I chose the `coll/sync` approach for the very reason @ggouaillardet pointed out earlier. As this is likely a behavior that might only be seen for certain corner cases of `MPI_Alltoallv()`-usage, I intended to not alter behavior for applications, for which omitting zero byte messages might be advantageous. But I agree with @bosilca that this is quite some gymnastics to fix via `coll/sync`, where th

[2017-04-11 16:12] rhc54 commented on #3243
Hmmm...just tried this with current head of master repo:
[code]
Did I miss something, or perhaps something has changed in master that fixed the problem? I configured with:
[code]
I have mpirun in my PATH.

[2017-04-11 16:59] lee218llnl commented on #3243
@rhc54 you may want to try giving configure the full path to mpirun

[2017-04-11 17:51] rhc54 commented on #3243
Got different output, but it still ran:
[code]
Note that I had a bunch of leftover processes "hang_on_SIGUSR1" that I had to manually kill

[2017-04-11 17:55] rhc54 commented on #3243
aha - I can now replicate. The test/src directory has to also be in the PATH. Will take a look at this.

[2017-04-11 21:00] jsquyres commented on #3255
@ggouaillardet @bosilca Did #3285 solve this issue?

[2017-04-11 21:15] jeffhammond opened #3326 "MPI_Win_lock returns incorrect error code for rank<0"
# Summary

`MPI_Win_lock` should return `MPI_ERR_RANK` instead of `MPI_ERR_RMA_SYNC` when the rank argument is invalid.  Currently, Open-MPI does this for invalid positive ranks but not negative ones.

# Version
I built https://github.com/open-mpi/ompi/commit/7e57075f0d8139e969576018c73b422c3a01f3b0 from source.

# Root Cause and Proposed Solution

[`ompi_win_peer_invalid`](https://github.com/open

[2017-04-11 21:31] jsquyres commented on #3297
I, too, am unable to replicate your issue:

[code]

And with v2.1.0:

[code]

Is it possible that you're using an old version of Open MPI that doesn't support things like `:link` and `:compile`?  I don't remember the exact version that we started supporting those CLI options, but I'm almost certain they weren't in v1.0.0.

I'm going to tentatively close this issue; please let us know if you have f

[2017-04-11 21:31] #3297 closed

[2017-04-11 21:44] jsquyres commented on #3326
Thanks for the bug report and corresponding PR!

[2017-04-11 21:51] robertsawko commented on #3297
Sorry, for a late reply. I am quite sure I am using one of the latest versions as I am compiling it myself 2.0.2. I've tried from a clean install and we keep directories separate for each version on our cluster. I am not sure if this significant but I am building on ppc64le. Also the mpirun turns out be some sort of script whereas with previous versions it looks more like a link to a binary.

[2017-04-11 21:57] jsquyres commented on #3297
In Open MPI, mpirun is a binary, not a script.

Specifically, after `make install`, then `$prefix/bin/mpirun` should be a binary.  If it's not, then you've somehow got some other `mpirun` (and possible some other `mpicc` and friends, too) that does not belong to Open MPI.

[2017-04-11 21:58] robertsawko commented on #3297
Ok... I may have found my problem. I had that option switched on:

[code]

[2017-04-11 22:00] jsquyres commented on #3297
Ah!  Yes, these script compilers have probably not been updated in forever.  I don't know if they have ever supported `:link` and friends.

Is there a reason you want those script compilers?

(I'm actually not sure why we still ship those...)

[2017-04-11 22:01] bwbarrett commented on #3297
We ship them for cross-compile environments (like, say, Kitten, where the libraries built can't run on the compile node).  They never supported :link and friends, because I'm kind of lazy and we had no need for those features.

[2017-04-11 22:04] jsquyres commented on #3297
Ah, ok.  We should probably:

1. Add :link and friends to the script compilers, and/or
1. Be a bit stronger that "you shouldn't use these unless you need cross-compilation"

[2017-04-11 22:04] robertsawko commented on #3297
The reason why I find `:link` useful is that OpenFOAM uses it, in it's scripting for detecting OpenMPI and setting up its own build environment. On the cluster I am working at right now, we have a configuration which is off the beaten tracks in terms of compile vs compute nodes, but I hope we'll be fine withtout the above option.

[2017-04-11 22:06] jsquyres commented on #3297
If you don't need cross compilation, you should be fine with the normal (binary) wrapper compilers.

[2017-04-11 22:20] robertsawko commented on #3297
Ok. Retried everything and `:link` and co are working. Thanks.

[2017-04-12 00:30] #3296 closed

[2017-04-12 02:05] rhc54 commented on #3243
Just an FYI: I'm making progress on this, but will probably need another day to complete it

[2017-04-12 04:47] rhc54 commented on #3243
I'm afraid I am going to need some help here - can you please outline what test.attach_1 is doing? I got past the first error message that you reported, but now I'm getting another one:
[code]
It would really help if I understood exactly what you are trying to launch (e.g., is be_kicker a debugger daemon or another job? did the first job already terminate?), and how you are launching them (e.g., n

[2017-04-12 13:59] DrHaraldBraun commented on #3255
@jsquyres #3285 patched into ompi-master (539f71d0cca890a480d60efe7441a7423d6a7ee3) works fine for me (see timings in [a2av_ompi-master_patch3285.txt](https://github.com/open-mpi/ompi/files/916668/a2av_ompi-master_patch3285.txt) ). But the performance of the **not** patched master in the "Alltoallv+Barrier gatheralike" case is significantly better (compare with timings in [a2av_ompi-master.txt](ht

[2017-04-12 14:18] fsl-latif opened #3330 "OMPI assuming UD capable verbs device?"
Running OMPI with an Iwarp RDMA device that supports only RC QP's yields this error. If I run with this -mca oob ^ud option, then this error is not seen BUT it appears OMPI is detecting this device as UD capable. I checked ibv_query_device and there doesn't appear to be any attribute which specifies UD vs RC. Do you know how OMPI determines if the vendor is UD capable or not?

[code]

***EDIT: Put

[2017-04-12 14:29] jsquyres commented on #3330
@jladd-mlnx @artpol84 This is an issue with the OOB UD component.  A quick look at the code seems to indicate that it assumes that any verbs device supports UD, but this is apparently not the case.  Can someone look at OOB UD to make it silently skip devices that do not support UD?

[2017-04-12 15:20] lee218llnl commented on #3243
@rhc54 The be_kicker is a daemon. It just sends a signal to the MPI job that was launched (hence the first job is still running). There should only be on be_kicker launched per compute node. @dongahn may be able to provide more details.

[2017-04-12 15:26] rhc54 commented on #3243
Hmmm...so how are you telling me to launch that daemon? Thru the debugger interface? If so, then it sounds like I'm telling it to launch too many - something I can easily fix.

[2017-04-12 15:36] lee218llnl commented on #3243
yes, it should be launching through the debugger interface.

[2017-04-12 16:39] artpol84 commented on #3330
@karasevb

[2017-04-12 19:50] artpol84 commented on #3268
still reproducible:
https://mtt.open-mpi.org/index.php?limit=&wrap=&trial=&enable_drilldowns=&yaxis_scale=&xaxis_scale=&hide_subtitle=&split_graphs=&remote_go=&do_cookies=&phase=test_run&text_start_timestamp=2017-04-11+19%3A49%3A53+-+2017-04-12+19%3A49%3A53&text_platform_hardware=%5Ex86_64%24&show_platform_hardware=show&text_os_name=%5ELinux%24&show_os_name=show&text_mpi_name=%5Eompi_vendor%24&sho

[2017-04-12 20:02] jsquyres commented on #3268
Artem -- don't forget that you can click on the "Absolute date range" link on the right in MTT and get a short link: https://mtt.open-mpi.org/index.php?do_redir=2412

[2017-04-12 20:18] artpol84 commented on #3268
Thanks, I didn't know that: https://mtt.open-mpi.org/index.php?do_redir=2412

[2017-04-12 20:33] rhc54 commented on #3243
@lee218llnl I think I have this fixed now - please try the referenced PR

[2017-04-12 20:46] rhc54 commented on #3243
Kewl - thx!

[2017-04-12 22:10] #3243 closed

[2017-04-13 01:53] #3326 closed

[2017-04-13 04:28] ggouaillardet commented on #3326
fwiw, here is the revamped test case to fit the Open MPI test framework

[code]

[2017-04-13 17:08] lee218llnl commented on #3243
@rhc54 I think you saw your own comment and prematurely closed this. In any case, I checked out the master branch of OpenMPI and was able to run LaunchMON's test.attach_1 case. However, with the master branch running test.launch_1 case seg faults. I'm not sure if this is because #3323 is not merged into master or if this is a separate problem. In any case, I think it is OK to consider this issue c

[2017-04-13 17:43] lee218llnl opened #3348 "Seg fault under debugger launch"
Thank you for taking the time to submit an issue!

## Background information

I've been testing some tool attach/launch features of OpenMPI and run into a few issues. Some of these have already been reported as #3243 and #3247 and @rhc has been helping look at those issues. I am currently getting a seg fault in MPI_Init when launching an application under a tool's control.

### What version of Ope

[2017-04-13 17:46] lee218llnl commented on #3243
FYI I submitted #3348 for the new seg fault. The seg fault appears to be in MPI_Init in the target process.

[2017-04-13 17:55] rhc54 commented on #3243
Sorry, I saw the ```+1``` from dong and thought it was fixed. Will look at the new one.

[2017-04-13 18:17] dongahn commented on #3243
Sorry for the confusion. I gave you my thumbs-up for your quick response on this issue. Still thank you very much for looking into this, Ralph. Your effort is highly appreciated here!

[2017-04-13 20:36] rhc54 commented on #3243
😄  Now I just have to get you guys to integrate PMIx into LaunchMON so this connection would be less fragile...

[2017-04-14 00:37] rhc54 commented on #3348
Got it - let me know what you see

[2017-04-14 01:24] #3348 closed

[2017-04-14 03:55] lee218llnl commented on #3348
Thanks again @rhc54, #3349 does appear to fix the test.launch_1 seg fault that I reported here. I was also able to launch under TotalView and run. One note, however, is that if I do not select "Halt control group" in TotalView, ten I get this warning:

[code]

I don't see this if I do "Halt control group" in TotalView and issue a "Go". Should I report another issue for this?

[2017-04-14 04:00] rhc54 commented on #3348
You might need to take that one to TV for an explanation - it's coming from their code, and I honestly have no idea what it means. If you can get an explanation from them and pinpoint what we might be doing that triggers it, then let's file an issue for that and I'll try to tackle it.

Sorry I can't just take it on - I don't have a TV license :-(

[2017-04-14 04:06] lee218llnl commented on #3348
ah yes, that message is coming from TotalView, not OpenMPI. I'll run this by them and have them report an issue if it comes back to OpenMPI. Thanks again for all of your help! I hope we'll see an OpenMPI release with all these fixes. What's the outlook for that?

[2017-04-14 04:10] rhc54 commented on #3348
They will be in the 3.0 release, currently planned for June. Thanks for the patience, and for providing me with instructions on LaunchMON so I now have a way to actually test against a debugger!

[2017-04-14 19:26] adammoody commented on #1089
@hppritcha we recently stumbled into this issue again.  Any update here?

For now, I'm planning to hack configure to remove the --enable-new-dtags, but that's my ugly solution.

I'm hoping we could get a --disable-new-dtags configure option added to config/opal_setup_wrappers.m4 to do the same.  Basically, the idea would be to skip running OPAL_SETUP_RUNPATH if --disable-new-dtags is thrown.  I co

[2017-04-14 20:00] bwbarrett opened #3357 "--enable-script-wrapper-compilers and oshmem build failures"
While adding the configure argument checking builds to Jenkins, ran across a failure case: using script wrapper compilers with oshmem fails on master (did not check other branches):

./configure  --enable-script-wrapper-compilers

% cd examples ; make
...
mpifort -g ring_usempi.f90 -o ring_usempi
make[2]: Leaving directory `/home/ec2-user/workspace/open-mpi.build.configure_options/CONFIGURE_OPTION

[2017-04-17 14:21] jsquyres commented on #3256
@artpol84 @karasevb Any news?  This is still a large problem.  Thanks!

[2017-04-17 18:17] artpol84 opened #3368 "MPI_Comm_create performance"
## Background information
We observing performance problems related to `MPI_Comm_create()` in Amber app (http://ambermd.org/).

### Open MPI version
v1.10, v2.x, and I believe others as well

## Reproducer
To ease problem resolution I've created simple reproducer that can be found here:  https://github.com/artpol84/poc/tree/master/benchmarks/comm_create.
I was doing my evaluations on 1K procs and

[2017-04-17 18:39] rhc54 commented on #3368
Just a random thought: if you are concerned about comparing MPICH times to OMPI, then why not just "port" their algorithm to OMPI?

[2017-04-17 18:58] artpol84 commented on #3368
This is one of the things to try in experimental PR.

[2017-04-17 19:04] artpol84 commented on #3368
MPICH does the reduction on the bit-vectors to locate available CID's.

[2017-04-17 19:09] edgargabriel commented on #3368
not objecting to improvements, just wanted to add the reminder, that the original algorithm was chosen since it also works in multi-threaded scenarios, e.g. multiple threads executing a comm_dup or comm_create on different communicators simultaneously.

[2017-04-17 19:30] artpol84 commented on #3368
Yeah, I found that this algo is in OMPI from the start :) 536c2795290debd0ab6ffee4d7e02040e6bda084. @edgargabriel I noticed that you were working a lot with it.
It seems like MPICH code also has thread-safety (at least it is mentioned there):
https://github.com/pmodels/mpich/blob/master/src/mpi/comm/contextid.c#L400:L401

[2017-04-17 19:34] artpol84 commented on #3368
@edgargabriel
https://github.com/open-mpi/ompi/commit/536c2795290debd0ab6ffee4d7e02040e6bda084#diff-988cb1deb1a056196293388ca1b9bfb7R92

Do you know what "docs" are mentioned here?

[2017-04-17 20:51] edgargabriel commented on #3368
There was a design document in the early days of Open MPI that described the algorithm, but I have no idea where that is. I recall one of the other Open MPI members (Tim Woodall I think) who brought  the algorithm up, claimed that it was theoretically proven to be correct in multi-threaded scenarios.

I also recall a presentation by the MPICH group at one of the EuroMPI conferences about thread sa

[2017-04-17 23:14] artpol84 commented on #3368
I just verified that PR #3367 completely solves the problem for Amber.
@edgargabriel can you please review and comment? If it is OK, I will open PR's to master and all other threads to preserve our usual workflow.

[2017-04-18 01:20] bosilca commented on #3368
One major difference in Open MPI is that we allow for as many communicator as necessary, without the need to recompile the library to set a new upper bound. However, the algorithm as described above is not the one that has been implemented in OMPI originally. In the original version if the first iteration failed, we continue the loop from the result of the first Allreduce (start = nextcid+1 instea

[2017-04-18 01:29] artpol84 commented on #3368
George,  i think I mistyped in my pseudo-code. Indeed it should be nextcid + 1. I'll 2-check.

[2017-04-18 02:00] artpol84 commented on #3368
That is correct - typo in pseudo code

https://github.com/open-mpi/ompi/blob/v1.10/ompi/communicator/comm_cid.c#L313

[2017-04-18 02:41] rhc54 commented on #3368
If we wind up iterating so many times, wouldn't it be faster to just have everyone send to MCW rank=0 and let that rank be the "master" CID assigner? Now that we have async progress, it would seem like that should work and it would have to be faster than all these iterations.

Just have the rank=0 of the new communicator send the request along with all participating proc IDs, and then have MCW ran

[2017-04-18 03:30] tjb900 commented on #3322
I think it was mentioned in #2363 that a fix was imminent for this, then expected in v2.0.2.  However, I can replicate this on master as well as v2.0.x and can't find any PRs that seem (to my inexperienced eye) to relate.  Any insight would be greatly appreciated!

Thanks very much,
Tim

[2017-04-18 03:34] artpol84 commented on #3368
@rhc54 note, that each rank has it's own range of available and busy CID's. rank = 0 doesn't have the info for every rank. Sending all ranges will introduce significant overhead. If we not sending all the ranges - we will end up doing the same as we do now, but rank = 0 will be a bottleneck.

[2017-04-18 03:46] rhc54 commented on #3368
Your statement is only true because of the way we currently do it. There are two possible methods - one that has every rank maintaining its own CID list and therefore requires multiple iterations to achieve consensus, and another that has a "master" CID list for the entire job and requires that the procs wanting to create a communicator contact the "master" to obtain the next available value.

If

[2017-04-18 03:47] rhc54 commented on #3322
It is still on the list - just low in priority. It should be fixed for v3.0, but I honestly don't know if I'll find time to backport it.

[2017-04-18 03:57] artpol84 commented on #3368
That is fine.
However worth mentioning:
* with PR #3367 number of iterations was reduced down to 1-2.
* I have doubts that 1K ranks going to rank = 0 asking for a communicator will be scalable.
* In the case of simultaneous Comm creation you will need the way on rank = 0 to distinguish between requests. And it sounds tricky because at this stage they obviously doesn't have CID yet - this is the re

[2017-04-18 06:35] tjb900 commented on #3322
@rhc54 Thanks for the update.

[2017-04-18 10:02] rhc54 commented on #3368
@hjelmn @bosilca @artpol84 @edgargabriel Given that different algorithms are possible, and that there may be variations in performance depending on size and application, would it make sense to implement the next_cid function in a framework? I'm just asking as it sounds to me like there may be room for investigation here, and that is what frameworks are for.

@artpol84 I think you misunderstood wha

[2017-04-18 10:39] ggouaillardet commented on #3368
@rhc54 i think i also misunderstand your suggestion.

here are my 0.02 US$

each MPI task has its own list of used and available CID, and iirc, orted/mpirun is not involved.
(e.g. this is a fully distributed process, with all tasks being equal)
so unless you suggest rank 0 of ```MPI_COMM_WORLD``` is always involved, i do not see how that can work (and this has other implications if rank 0 is not p

[2017-04-18 12:59] rhc54 commented on #3368
@ggouaillardet I think you missed one key point. We keep getting hung up on this design point that "each MPI task has its own list of used and available CID". This isn't a requirement - it was a design decision made many years ago, and it may not be correct.

So let's look at it a different way. Each task has a list of CIDs to which it belongs. There is (somewhere) a global "master" that allocates

[2017-04-18 14:15] ggouaillardet commented on #3368
@rhc54 i get your point that any design can/should be reconsidered.

that being said, my first intuition is that the current design is not a bad one.
for example, if we consider a simple program that
[code]
currently, there is no communication (or maybe there is but in ```MPI_COMM_SELF``` only, which scales perfectly). if i understand your idea, that would mean n tasks = n leaders = n requests to

[2017-04-18 14:23] rhc54 commented on #3368
Could be the current design is great - I honestly don't know. For your example, what if the CID was composed of two numbers - a global ID and an intra-comm number? Now Comm_dup could be executed as a single collective across all the members of that specific communicator, telling them all to simply increment the intra-comm ID. You'd only need to go back to the "master" for a global ID.

Like I said

[2017-04-18 15:18] #3167 closed

[2017-04-18 15:39] bosilca commented on #3368
@rhc54 for scalability reasons we have no luxury to have an MCW0 in the MPI layer. If instead we use the rank 0 for each communicator, we are back on the same issue: how do we coordinate the potential "rank 0" to have a consistent view of the different existing communicators.

There was significant body of research on the topic of creating communicators, and OMPI is not that bad overall. We did ho

[2017-04-19 05:33] sbasavapatna opened #3378 "openmpi hang observed with RoCE transport and P_Write_Indv test"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

This problem has been observed with OpenMPI versions v2.0.1, v2.1.0 and nightly version  2.1.1a1.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating sys

[2017-04-19 06:35] vinaygupta20 commented on #3378
@edgargabriel Can you please take a look at this ? I got your reference from Jeff Squyres.

[2017-04-19 10:00] jsquyres commented on #3378
Hey @edgargabriel, I suggested that @sbasavapatna ping you about this because I'm not familiar with this IMB test, but it appears to be in the IO suite.  Is this a corner case in OMPI-IO?

@sbasavapatna Can you run this case with ROMIO and see if it passes?  E.g., something like `mpirun ... --mca io romio ... IMB-IO ...`?

[2017-04-19 10:06] edgargabriel commented on #3378
should not be the case, I used the IMB test suite a lot. But I will double check. THat being said, I do not have access to the 10GE network, I will have to use an InfiniBand cluster for that. Just out of curiosity, is setting all of these openib parameters truly necessary? I do remember that I was running into issues if the various queues in openib are 'mis-configured', but that was independent of

[2017-04-19 11:57] sbasavapatna commented on #3378
@edgargabriel,  those parameters are used by UNH in their plugfest and so we are using them in our tests.

[2017-04-19 13:31] ggouaillardet commented on #3378
@sbasavapatna at first, i would try without setting the openib parameters and see if it helps.
(at least we will know if we are troubleshooting Open MPI or UNH plugfest)
also, can you try with ```mpirun --mca btl ^openib ...``` just to make sure ```btl/tcp``` is working fine ?

then, in ```ompi/mca/coll/base/coll_base_allreduce.c``` you can replace
[code]
with
[code]
and see if it helps too.

[2017-04-19 14:17] edgargabriel commented on #3378
I can unfortunately not reproduce the problem on my clusters. I tried on two different InfiniBand networks (DDR, QDR),  as well as on a local workstation, and the test passes and finishes in all cases.

gabriel@crill:~/ParallelIO/imb/src> mpirun --mca btl openib,sm,self --mca btl_openib_receive_queues P,65536,256,192,128   -mca btl_openib_cpc_include rdmacm  -np 2 ./IMB-IO P_write_indv -msglog 21:

[2017-04-19 14:21] edgargabriel commented on #3378
The one other comment that I have however (not sure whether it is important), I am fairly sure that based on your output the 4MB test in non-aggregate mode has finished (since you have the output line), and where it is actually hanging is the 0-byte case in aggregate mode for 2 processes, which is basically the next test.

[2017-04-19 14:58] ggouaillardet commented on #3378
@sbasavapatna also, what if you skip the test with only one MPI process ?

[2017-04-19 15:03] ggouaillardet commented on #3378
@edgargabriel an other odd thing is the header (#processes = 2) is not displayed in the initial logs,
it is likely in an unflushed buffer, so i am not sure of where this is hanging...
stack trace shows IMB_init_transfer()
@sbasavapatna which filesystem are you running on ?

[2017-04-19 16:08] sbasavapatna commented on #3378
@ggouaillardet, dropping the btl_openib params didn't help.

@edgargabriel,  your comment about number of processes seems right; i.e, when I tried with 1 process (-np 1), it doesn't hang and goes on to the next test cases -  S_Write_Indv in aggregate mode, S_Write_Indv in non-aggregate mode, and so on.
The filesystem in use is xfs.

[2017-04-19 16:09] sbasavapatna commented on #3378
@edgargabriel, could you please try this in a RoCE setup if you have one ?

[2017-04-19 16:10] hppritcha opened #3379 "NEWS update for 2.1.1 release"
Update NEWS for 2.1.1 release.

[2017-04-19 16:11] edgargabriel commented on #3378
I don't have access to a RoCE setup unfortunately. The test on my local workstation also used xfs.

But just to make sure I understand correctly, you use xfs, but still two nodes, or just one node? And if its two nodes, how did you setup the xfs file system to make it accessible from both nodes? MPI I/O requires that all nodes have access to exactly the same file system.

[2017-04-19 16:28] sbasavapatna commented on #3378
It's a 2 node setup. Both nodes are running the same OS (RHEL7.3) with xfs file system.  When you said the file system has to be accessible from both nodes, you meant it has to be a shared file system ? like nfs ?

[2017-04-19 16:29] edgargabriel commented on #3378
yes, it is not sufficient to have an xfs file system on both nodes under the same name. Process zero has to have access to exactly the same files as process 1, which is not the case if you do not have a shared file system

[2017-04-19 16:33] sbasavapatna commented on #3378
Ok, my setup is using xfs on both nodes with the same directory structure, but not shared. I'll change it to use nfs and let you know.

[2017-04-19 17:17] sbasavapatna commented on #3378
@edgargabriel, with a nfs mount the test is running fine.  Our QA team has raised this issue with the RoCE driver.  I'll check with them that this is how (without a shared filesystem) they are also running the test, confirm that the problem is resolved in their setup too with nfs and then close this bug. Thanks for your help.  I'll update this bug by COB tomorrow.

[2017-04-19 17:36] DanielCChen commented on #2606
@PHHargrove.
Are you still experiencing problems building openmpi with IBM's community edition compilers?

I tried it using the same IBM XLC and XLF compilers as you mentioned to build Openmpi 2.0.2, and it compiled and ran ring_openmpif08.f90 just fine for me.

I built Openmpi 2.0.2 on a LE Power8 machine that runs Ubuntu 14.04.1. The only difference in comparing to your config file is that I als

[2017-04-19 18:14] edgargabriel commented on #3378
@sbasavapatna glad we found the problem! I am still trying to understand conceptually where the hang comes from in that scenario, but I unfortunately don't have the time right now to dive into a debugging session for that.

[2017-04-19 18:49] PHHargrove commented on #2606
@DanielCChen

If I recall correctly, I had omitted --enable-mpi-fortan=usempif08 because configure had determined that F08 support was present even without passing that flag.   Regardless, I have retested today with that flag passed explicitly.

I am using:
[code]
on
[code]
The system is a KVM-based VM on Power8E h/w.

Using Open MPI 2.0.2 I still see the error:
[code]

Meanwhile, ring_usempi and

[2017-04-19 19:25] jsquyres commented on #3378
Sounds like we should close this issue, then.

Is this something we can catch in OMPIO at runtime, perchance (to realize that a filesystem isn't shared)?  I'm guessing the answer is "no".

[2017-04-19 19:25] #3378 closed

[2017-04-19 19:40] DanielCChen commented on #2606
@PHHargrove
Hmm, for me --enable-mpi-fortan=usempif08 is mandatory to build openmpi 2.0.2 in order to compile ring_usempif08.f90. Otherwise, the compiler will complain at "use mpi_f08" because the mpi_f08.mod does not exist.

My guess is that your mpi_f08.mod might be compiled using a different version of the compiler that may have different module format as your compilation didn't seem fail compl

[2017-04-19 20:32] PHHargrove commented on #2606
@DanielCChen

My build scripts start with downloading the release tarball and unpacking.
So there is nothing to "make clean".

There are also no MPI installs (Open MPI or otherwise) in $PATH, $LD_LIBRARY_PATH, etc.

The full configure command:
[code]

The full "make -V" is [here](https://github.com/open-mpi/ompi/files/938177/make.txt.gz).  This should let you determine if the .mod was compiled wit

[2017-04-19 20:48] edgargabriel commented on #3378
there is a probably a simple test that could be done where a process creates a file, and all other process check whether they can see it. The trouble is that it a) could be fairly expensive, and b) it is a bit delicate because it might take a while until the file becomes visible to other nodes. But we could think about adding a check along those lines at least in debug mode.

[2017-04-19 21:27] DanielCChen commented on #2606
@PHHargrove
I have another guess. In your log file, when *.F90 files got compiled by xlf, -D* (e.g. -DHAVE_CONFIG_H ) didn't not get passed to CPP as an option the same way as gfortran, so it is possible the *.F90 files didn't get preprocessed correctly. We have fixed this recently but it is not in the 15.1.5 Community Edition.
If you could send me an email or let me know your email, I can pass on

[2017-04-19 21:35] DanielCChen commented on #2606
@PHHargrove
Just to add, in order to pass -D* to CPP with xlf, you would need "-WF,-D*" for each -D*.

[2017-04-19 21:54] lvella opened #3380 "mpirun may hung indefinitelly if process exits with non-zero exit code"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

(Open MPI) 1.10.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From Ubuntu 16.10 repository.

### Please descr

[2017-04-19 22:27] PHHargrove commented on #2606
@DanielCChen

I am aware that Open MPI incorrectly passes `-DVAR=VAL` to xlf90, and have reported it as an Open MPI bug in the past.

Are you saying that your results and mine differ because you are using a newer xlf?

My email is the same as my github user id plus AT lbl.gov.

[2017-04-20 00:22] #3255 closed

[2017-04-20 00:30] jsquyres commented on #3380
I'm not sure that we define what happens if you put `MPI_Finalize()` in an `atexit()` call.

What happens if you remove the call to `atexit()`?

[2017-04-20 00:38] lvella commented on #3380
It is possible to write equivalent code without atexit(), just call
MPI_Finalize() just before return. As soon as I get to the machine I'll
test it.

Em 19 de abr de 2017 21:30, "Jeff Squyres" <notifications@github.com>
escreveu:

[2017-04-20 01:21] PHHargrove commented on #2606
@DanielCChen

I have access to the following two non-community-edition XL compiler installations:
[code]
and
[code]

Both are running on
[code]

I do not see the error on that system with either pair of compilers.

[2017-04-20 13:38] fsl-latif opened #3384 "OMPI compilation issues with rdma-core"
RDMA-core v - Release 13
https://github.com/linux-rdma/rdma-core

OMPI v - 2.0.2

Compilation Issues
o	Missing driver.h header.
The header does exists in rdma-core/libibverbs and we had to manually copy it to /usr/include/infiniband to get things to compile.  driver.h is classified as an internal header as part of libibverbs.  There are a couple of libraries that includes this file and all provide

[2017-04-20 14:20] hppritcha commented on #3223
@edgargabriel do you think you will have a fix for this issue for 2.1.1?

[2017-04-20 17:44] artpol84 opened #3385 "BTL/openib issues on mlx5"
We observing a problem with MPICH [comm_idup test](https://github.com/pmodels/mpich/blob/master/test/mpi/comm/comm_idup.c).
I found it when I was running MTT verifications on my PRs #3375, #3376, #3377 and originally thought that they are causing this problem because we were not observing this behavior in the SLURM/PMIx MTT that we providing to the community.
However I noticed that I was running v

[2017-04-20 17:45] artpol84 commented on #3385
I only checked v2.x because we are all-set to do that. Maybe other branches are affected as well.

[2017-04-20 17:45] artpol84 commented on #3385
@hjelmn

[2017-04-20 18:52] hppritcha commented on #3154
Double checking did #3163 close this issue?
@rhc54

[2017-04-20 19:01] rhc54 commented on #3154
Yes

[2017-04-20 19:01] #3154 closed

[2017-04-20 20:56] artpol84 commented on #3368
#3375 #3376 #3377 #3388

[2017-04-21 05:50] tjb900 opened #3392 "2.0.2 and 2.1.0: orted assertion failure with output-filename and rankfile"
## Background information
First encountered this problem on startup of MPI jobs with 2.0.2, under slurm.  It presents as the orted segfaulting, and appears to occur when the following two things are true:

1) --output-filename is specified to mpirun, to write each rank to a separate file
2) a rankfile is specified, and rank 0 is not specified to be on the launch node

Yielding the error (in the --

[2017-04-21 10:02] jsquyres commented on #3256
@artpol84 @karasevb Any news? This is still a large problem. Thanks!

[2017-04-21 10:06] jsquyres commented on #3202
Looks like this has been fixed.

[2017-04-21 10:06] #3202 closed

[2017-04-21 10:18] jsquyres commented on #3384
Can you post the details of the compilation failure?

Also, note that libfabric is unrelated to the verbs infrastructure.  You can always build Open MPI without any libfabric or verbs support, but I suspect that that is not what you want.  Can you provide more information -- e.g., what exactly are you trying to do?  See https://www.open-mpi.org/community/help/.

[2017-04-21 13:13] jsquyres opened #3394 "Nightly snapshot tarball filename problematic for RPMs"
Per https://www.mail-archive.com/devel@lists.open-mpi.org/msg20095.html, Kevin Buckley reports that the additional `-` characters in the nightly tarball filename makes RPM complain.  I.e.:

[code]

in the specfile will cause RPM to complain something like this:

[code]

Kevin suggests renaming the nightly tarballs to use dots instead of dashes (e.g., `Version: v2.0.x.201704190318.24b5b83`).

I can

[2017-04-21 15:01] AboorvaDevarajan opened #3395 "MPI_AINT_ADD and MPI_AINT_DIFF are missing in FORTRAN"
Compilation fails for this fortran code.
It does MPI_AINT_ADD and MPI_AINT_DIFF address arithmetic operation,
https://www.open-mpi.org/doc/current/man3/MPI_Aint_diff.3.php

[code]

Error:

[code]

These functions seems to be missing in fortran external bindings `ompi/include/mpif-externals.h`

[2017-04-21 15:01] hppritcha commented on #1089
@adammoody let me know if the patch works

[2017-04-21 15:34] jsquyres commented on #3395
Good catch.  Looks like we missed adding these Fortran FUNCTIONS to `mpif.h`.

As a workaround, you might well use the `mpi` -- or even better, `mpi_f08` -- modules instead of `mpif.h`.

[2017-04-21 18:14] DanielCChen commented on #2606
@PHHargrove
1. I see you already have access to our Beta compiler as I was going to send you an email about it.
2. -DVAR=VAL is not passed as an option to CPP with the XLF compiler you have. XLF has been using -D as the shortcut of -qdlines that specifies whether the compiler compiles fixed source form lines with a D in column1 or treats them as comments. We changed it recently, so you should get

[2017-04-24 01:51] hppritcha commented on #3107
@rhc54 any update on when PMIX 2 will get in to this branch?
@gpaulsen please add to agenda for this weeks con-call

[2017-04-24 01:52] hppritcha commented on #1841
unrealistic to expect a fix in the 3.0 release

[2017-04-24 03:49] nysal commented on #3395
In ompi-tests/ibm/datatype/aint_mpifh.f90, should we:
[code]

[2017-04-24 03:51] rhc54 commented on #3107
At this point, I would suggest we plan on defaulting back to the PMIx v1.2 and the code on the existing 3.x branch. I'm getting very little help on PMIx right now, and no help at all on the other issues still lingering for 3.0. Given that we are near the end of April, I see little to no prospect of this being done in time for a June release.

[2017-04-24 08:00] ggouaillardet commented on #3392
@rhc54 can you please have a look at it ?

you can simply reproduce this with two nodes:
[code]

note the first listed node is __not__ the node on which ```mpirun``` is invoked.
also, stdin must be forced to ```/dev/null```

[2017-04-24 08:02] ggouaillardet commented on #3392
fwiw, here is the ```orted``` stack trace

[code]

[2017-04-24 13:49] rhc54 commented on #3392
One immediate thought comes to mind: just don't redirect the input to /dev/null. Hard to understand why anyone thinks that is a good idea 😄

[2017-04-24 14:15] ggouaillardet commented on #3392
where do i start ...
i was initially unable to reproduce the issue, until i run this as a slurm job,
and then i finally realized slurm components were not the root cause,
but slurm having ```fd 0 -> /dev/null``` was.
so unless there is a slurm option to change this default behavior, a workaround would be to
````sleep_forever | mpirun ...``` when using outputfile under SLURM

[2017-04-24 14:34] rhc54 commented on #3392
Or just don't tie off stdin - if nothing is being directed into it, then it makes no difference if you tie it to /dev/null or not.

[2017-04-24 16:50] hppritcha commented on #3107
Thanks for the update Ralph!   Going with v1.2 sounds like the right thing to do at this point.

[2017-04-24 16:54] rhc54 commented on #3107
Yeah, I think so. However, note that it seems highly unlikely that 3.0 can be released in June. For example, I see only one MTT test being run on the 3.x branch (yours, and it even failed one of its builds)

[2017-04-24 19:47] #3395 closed

[2017-04-24 20:09] bwbarrett commented on #3394
Shouldn't bother anything with the nightly builder bits, I think we should just have to update autogen/configure where we build that string?

[2017-04-24 22:29] artpol84 opened #3408 "MPICH test suite failures"
## Background information
At the end of 2015 I fixed multiple issues that was triggering failures for OMPI v2.x in my MTT.
Recently I discovered tat since MTT error detection is relying on the app to fail/hang, we have some false negatives (negative = no error) in our MTT results that are being submitted to `mtt.open-mpi.org`.

MPICH tests are not error-exiting if correctness check is failed. MTT

[2017-04-24 22:42] artpol84 commented on #3380
FYI:
Some time ago we observed and fixed a problem that sound similar. It was for master/v2.x: https://github.com/open-mpi/ompi/pull/2675.
As I recall the codebase in v1.10 diverged significantly and it was impossible to back-port the patch there. And I assumed that this problem was introduced later.

In this context problem may have something to do with similar effects as `atexit` is involved.

[2017-04-24 23:02] fsl-latif commented on #3384
(1) Missing driver.h in .usr/include/infiniband

	make[2]: Entering directory `/root/openmpi-2.0.2/opal/mca/common/verbs'
	  CC       libmca_common_verbs_la-common_verbs_basics.lo
	common_verbs_basics.c:36:31: fatal error: infiniband/driver.h: No such file or directory
	 #include <infiniband/driver.h>
	                               ^
	compilation terminated.
	make[2]: *** [libmca_common_verbs_la-

[2017-04-24 23:39] artpol84 commented on #3408
`contig-zero-count` test. The error is here:
https://github.com/pmodels/mpich/blob/master/test/mpi/datatype/contig-zero-count.c#L99

for ompi (extent  == 1) instead of 0.

[2017-04-24 23:42] artpol84 commented on #3408
It seems the same for `struct-zero-count`
https://github.com/pmodels/mpich/blob/master/test/mpi/datatype/struct-zero-count.c#L99

[2017-04-24 23:46] artpol84 commented on #3408
For struct-no-real-types
I'm getting
[code]
here:
https://github.com/pmodels/mpich/blob/master/test/mpi/datatype/struct-no-real-types.c#L104:L112

[2017-04-24 23:49] artpol84 commented on #3408
`typename`:
[code]

[2017-04-24 23:51] artpol84 commented on #3408
`get-elements-pairtype`:
[code]

[2017-04-25 00:09] artpol84 commented on #3408
`allred` (for this test not all runs are failing, but those are:

[code]

[2017-04-25 00:50] nathanweeks opened #3409 "mpi_f08 user-defined reductions"
I'm trying to implement a driver program that uses the user-defined reduction from example 5.21 in the MPI 3.1 standard. However, I encounter a compile-time error. It looks like it could be an issue with the OpenMPI implementation, though it also may be just my misunderstanding of how this is supposed to be represented in Fortran.

[code]
Using Open-MPI 1.10.3 (MacPorts openmpi-gcc6 OS X 10.11.6,

[2017-04-25 01:13] kawashima-fj commented on #3408
`typename` (https://github.com/pmodels/mpich/blob/master/test/mpi/datatype/typename.c):

[code]

`MPI_LONG_LONG` is defined as a synonym of `MPI_LONG_LONG_INT` (see MPI-3.1 p.26) and Open MPI does not distinguish.

`MPI_INTEGER16` is an optional datatype (see MPI-3.1 p.627 and p.674). If `INTEGER*16` is not supported by the Fortran compiler, `MPI_INTEGER16` may not be available.

So I think they a

[2017-04-25 01:30] kawashima-fj commented on #3408
`get-elements-pairtype` is related to #2366.

[2017-04-25 01:34] ggouaillardet commented on #3408
the error related to ```allred``` is caused by floating numbers.
if we replace ```a == b``` with ```abs((a-b)/a) < 1.e-6``` then the test is successful
(this is all macro based, and could be a bit tricky to fix in an elegant manner ...)

[2017-04-25 02:04] ggouaillardet commented on #3392
@rhc54 i did not get that last comment

within a slurm job, ```mpirun``` _inherits_ ```fd 0 -> /dev/null``` from slurm,
that means ```read(0, ...)``` does return ```0```, and then ```mpirun``` sends this to MPI process ```0``` via its ```orted```.

if you do the same thing from the command line and outside of slurm, then the same ```read(0, ...)``` hangs, and then nothing is sent to ```orted```

s

[2017-04-25 02:13] tjb900 commented on #3392
Thanks for looking into this.

Unfortunately the node ordering is desired behaviour for us - the nodes are heterogeneous, and we need to place rank 0 on a node with larger memory than some of the other tasks.  The reversal of the list was simply for the purposes of a simple reproducer.

As @ggouaillardet says, we inherit stdin already tied off by the batch system - probably not an uncommon situati

[2017-04-25 04:47] ggouaillardet commented on #3409
@nathanweeks that looks like a bug, and i filled #3411 to fix it.

meanwhile, here is a possible way to rewrite the example

[code]

[2017-04-25 10:20] nathanweeks commented on #3409
Thanks @ggouaillardet , that version works, and is more robust w.r.t interface checking.

[2017-04-25 13:01] jsquyres commented on #3395
@nysal Good catch.  I'll do that.

[2017-04-26 14:21] rhc54 opened #3414 "Misalignment of packets upon multiple OOB send/recv packets"
Thank you for taking the time to submit an issue!

## Background information

@hjelmn Reported that large OOB messages are getting garbled when the OS buffer is smaller than the message size, thus requiring multiple iterations to send/recv the message

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

master, and probably 3.x

### Describe how Ope

[2017-04-26 14:43] ggouaillardet commented on #3414
is there a simple way to have large oob messages generated ?

[2017-04-26 14:46] rhc54 commented on #3414
I think you can start with the orte/test/system/oob_stress.c program and modify it. IIRC, we do still allow the application procs to communicate via OOB, although they no longer need to do so.

Alternatively, you can have the program register itself as some kind of proc that the OOB will recognize.

[2017-04-26 15:20] ggouaillardet commented on #3414
from send_msg
[code]
that does not look symmetric with the beginning of the function, and the comment looks wrong too
(but i should be sleeping, so i might be the one being wrong here)
i just read the code and did not test yet, but what if we simply replace this with
[code]

[2017-04-26 16:42] ericch1 opened #3416 "OpenMPI v3.x: PMIX ERROR: UNPACK-PAST-END"
Hi,

I am testing ompi/v3.x branch.

Installation logs:

http://www.giref.ulaval.ca/~cmpgiref/ompi_3.x/2017.04.26.08h32m32s_config.log

ompi_info -all:

http://www.giref.ulaval.ca/~cmpgiref/ompi_3.x/2017.04.26.08h32m32s_ompi_info_all.txt

I am running my test suite *locally* on a OpenSuse 13.2, Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz

I have 2 sequential tests (ie *not* launched whi mpirun) that

[2017-04-26 16:57] rhc54 commented on #3416
Just to be clear - these are singletons - i.e., you started them with ./a.out instead of mpirun ./a.out?

There are a bunch of changes slated for the 3.x branch that have backed up, so I'm not too concerned about such things right now.

[2017-04-26 17:26] ericch1 commented on #3416
Yes, singletons they are.

Ok, I wanted to test 3.0 when I saw it was planned for june 15, but I can't find where I saw this now... ???

Thanks anyway!

Eric

[2017-04-26 17:29] bwbarrett commented on #3416
It's still targeted for June, so updated this bug with the right tags.  Thanks for the bug report.

[2017-04-26 17:30] rhc54 commented on #3416
We actually do appreciate the testing - I've been tied up this month, but have set May aside for resolving problems in the 3.x branch.

[2017-04-26 17:32] hppritcha opened #3417 "v2.1.1 release checklist"
## Make a perfect tarball

- [x] Update the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --re

[2017-04-26 23:30] nathanweeks opened #3422 "MPI_Reduce(3) man page: output buffer lengths on non-root ranks"
The MPI_Reduce(3) man page in Open MPI 2.1.0 states:

This corresponds to the wording in the MPI 2.2 standard. However, the MPI 3.0 wording was changed to:

root and comm. Thus, all processes provide input buffers of the same length, with elements
of the same type as the output buffer at the root.

Does the MPI 3.0 wording legalize the use of a recvbuf with, e.g., length == 0 for non-root ranks, a

[2017-04-27 01:37] ggouaillardet commented on #3414
@rhc54 ```oob_stress``` does not compile (some internals were changed and the test was not updated accordingly).
that being said, i was simply able to reproduce the issue with
[code]
and #3423 fixes the issue
i will merge if after CI completes

[2017-04-27 02:09] #3414 closed

[2017-04-27 03:01] rhc54 commented on #3414
Thank you!!

[2017-04-27 05:21] ggouaillardet commented on #3414
fwiw, the _large_ message is caused by ```OPAL_HWLOC_TOPO```, which is basically the XML representation of the topology. this is ~30k on a xeon node, but ~200k on a KNL node.
compression would work great here ( ~6k with ```bzip2 --best```) and assuming we can agree on a policy to ensure that both ends support the same encryption, that is something i can implement
that could be done in ```OPAL_HWLO

[2017-04-27 05:40] rhc54 commented on #3414
It's already there - it gets done in the modex if the message is above a given size (looks like the limit is a measly 4kbytes right now, which seems too small - I made the size in PMIx much bigger). See https://github.com/open-mpi/ompi/blob/master/orte/mca/grpcomm/base/grpcomm_base_stubs.c#L501
and
https://github.com/open-mpi/ompi/blob/master/orte/util/compress.h#L35

[2017-04-27 07:23] ggouaillardet commented on #3414
@rhc54 thanks for the pointer !
i integrated this into #3424 (there is an other place i will use the same method)

[2017-04-27 16:16] hppritcha commented on #3379
Closed via #3403

[2017-04-27 16:16] #3379 closed

[2017-04-27 17:00] bosilca commented on #3422
Why don't you simply use NULL as the recv buffer on non-root processes ? You can't use 0 for count as it also applies to the send buffer, and they all need to participate with something.

As an example you could do:
[code]

[2017-04-27 23:16] nathanweeks commented on #3422
I was careful to refer to the "length" of recvbuf being 0, rather than the _count_ argument of MPI_Recv(); e.g., the following Fortran program is syntactically convenient in that it has only one call to MPI_Reduce(), rather than different calls with different argument lists for for rank == 0 and rank /= 0, reducing the opportunity for me to make a mistake in the argument list (although the dummy a

[2017-04-28 03:01] bosilca commented on #3422
The length of an array is something that only makes sense in Fortran, and Fortran has not been mentionned on the original text so I assumed you were talking about the count (which is the only "length" information that C knows).

Anyway, just to be clear non-root processes completely ignore the recv buffer.

[2017-04-28 09:24] dsharma283 opened #3431 "Add support for 50G and 100G adapters in openib btl"
Thank you for taking the time to submit an issue!

## Background information

If openmpi is used against HDR link speeds the test fails to run because openib btl does not have support for HDR link speed and 1x link width.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

openmpi-2.1

### Describe how Open MPI was installed (e.g., from a source/di

[2017-04-28 09:56] nathanweeks commented on #3422
Got it. So it seems like this part of the the Open MPI MPI_Reduce(3) man page would be more accurate if updated to reflect the MPI 3.[01] wording?

[2017-04-28 19:02] gpaulsen commented on #3107
I'd really like to find some way to make this work.  I'm talking with our PMIx developers to see if there is something we can do in this timeframe.

[2017-04-29 11:07] jsquyres commented on #3431
This issue is assumedly a followup / detailed justification for #3434.

[2017-04-29 11:54] jsquyres opened #3438 "Problem with MPI I/O with np>1 and large filetypes"
Per https://www.mail-archive.com/users@lists.open-mpi.org/msg31021.html, Nils Moschuering (github ID unknown) is running into a problem with MPI I/O running on more than 1 rank using very large filetypes.

See the linked email thread for much more detail, including a reproducer program.

@edgargabriel is following up.  I am simply filing this issue just for tracking purposes.

[2017-04-30 18:35] bosilca commented on #3422
👍

[2017-05-01 02:38] ggouaillardet commented on #3438
@edgargabriel so far, #3439 fixes the issue when ```ompio``` is used (i tested both local and NFS filesystem)
```romio314``` is fine on a local filesystem, but crashes on NFS (and this is likely a romio issue i will investigate)
could you please give it a try and let me know the outcome (if you can test other parallel filesystems, that would be great)

[2017-05-01 06:35] ggouaillardet commented on #3438
Refs pmodels/mpich#2617

[2017-05-01 13:22] edgargabriel commented on #3438
Thanks @ggouaillardet , I will try to check it out later. It matches my observation, that ompio crashed in a datatype_release, and if I just simply uncommented those lines, the test finished to the end. That being said, did you have a chance to check whether the output for the last test that was supposed to be erroneous,  is truly wrong?

[2017-05-01 13:39] ggouaillardet commented on #3438
@edgargabriel the output is 100% consistent, and as far as i can tell, it looks correct.
(and once again, i only tested local filesystem and NFS)

[2017-05-01 18:35] sjeaugey commented on #3003
It seems this is also affecting 1.10.6 (maybe also 1.10.5) because of commit 5a440184ab6197b4143f328c77c8e23afd6476ba.

We're seeing MPI_Wtime report wrong results on our machines.
The CPUs are : "Intel(R) Xeon(R) CPU E5-2698 v4 @ 2.20GHz", they do have the constant_tsc flag but using rdtsc doesn't seem to work well ...

I'm tempted to add the "critical" flag. Should we open a new bug for v1.10 ?

[2017-05-01 23:44] sjeaugey commented on #3003
I wrote a simple reproducer comparing MPI_Wtime and gettimeofday. The cpu MHz in /proc/cpuinfo is indeed not the TSC frequency at all and completely depends on cpufreq.

Replacing "cpu MHz" by "bogomips" and dividing by two seems to fix the issue, but it seems dangerous though. There seem to be no robust way to determine the TSC freq from userspace, so I think we should just rollback those changes

[2017-05-02 16:23] jjhursey commented on #2055
Per comment on #2317 there is still more work to do (checking against the v2.1.0 tarball with that patch)

[2017-05-02 16:57] jsquyres commented on #3003
@sjeaugey Does this also affect v2.0.x, v2.1.x, master, and/or 3.0.x?

[2017-05-02 17:03] sjeaugey commented on #3003
I didn't check all the branches but it was opened on 2.0.2, the bug is still open, and the code I see in master seems to be the same as in 1.10.6.
It seems you all added a patch to your own local branches to fix wtime but I don't see any commit on master (unless it was not referenced here). I would imagine you know better than I do.

[2017-05-02 17:24] hjelmn commented on #3003
We can not roll back the tsc change. We can not use clock_gettime() as the internal timer without killing performance. We addressed the wtime issue on master. Did we not bring it to v2.0.x?

[2017-05-02 17:28] sjeaugey commented on #3003
@hjelmn can you point me to how it was fixed in master ? I don't see any commit referencing this issue.

[2017-05-02 17:41] hjelmn commented on #3003
https://github.com/open-mpi/ompi/commit/4009ba6b941be4e7fb949d186172b6907319eeca
https://github.com/open-mpi/ompi/commit/48d13aa8ef75a1e2950667687b587b8f1282d15a
https://github.com/open-mpi/ompi/commit/b9331527f573a4bac060fdde415a6a0015ce8ae3

Blame Intel for no standard way of getting the TSC frequency. Total PIA.

[2017-05-02 17:50] drossetti commented on #3003
I might be wrong, but if constant_tsc is true, 'tsc ticks per second' would be a calibration constant throughout the life of the process.
why can't you simply calculate it once for all at run-time in some _init() function by using gettimeofday() ?

[2017-05-02 17:52] hjelmn commented on #3003
That is certainly a way to do it. The problem is not that there isn't a solution but that the solution takes developer cycles that are not available. If someone has time and opens a PR we will gladly take a look.

[2017-05-02 18:02] sjeaugey commented on #3003
Ok, my only concern is v1.10 right now. @jsquyres Could we release 1.10.7 with a fix ? Or do we no longer release 1.x and moved to 2.x ?

I'm just worried that many people are still picking 1.10.6 as the latest "stable" version and get weird performance results.

[2017-05-02 18:07] hjelmn commented on #3003
That is all up to @rhc54. The master fixes should apply to v1.10.x.

[2017-05-02 23:05] rhc54 commented on #3003
I find myself confused by the above - it started with a specific issue on the 2.0 branch, and then sprawled all over the place. I see multiple PRs and commits referencing this issue, and then commits @hjelmn referenced that have nothing to do with those PRs and include ```#if 0``` code blocks.

Before I can make a judgement on v1.10, can someone please explain where we actually wound up on this me

[2017-05-03 00:43] jsquyres commented on #3003
So from my reading of the code:

* v1.10: wtick/wtime still uses the opal routines to use TSC.
* master: wtick/wtime uses `clock_gettime(3)` on Linux, `gettimeofday(3)` elsewhere
* v2.0.x: wtick/wtime uses `clock_gettime(3)` on Linux, `gettimeofday(3)` elsewhere
* v2.x: wtick/wtime uses `clock_gettime(3)` on Linux, `gettimeofday(3)` elsewhere
* v3.x: wtick/wtime uses `clock_gettime(3)` on Linux, `

[2017-05-03 01:51] rhc54 commented on #3003
I think this is what has me so confused. The initial report targeted the 2.x series - yet somehow, that code seems to be the one being pushed here. So is the code in v2.x wrong? If so, why would we want to push it into 1.10? Or did someone modify master and then backport the correct fix to everything but 1.10?

[2017-05-03 12:18] hjelmn commented on #3003
@jsquyres Correct. We can not use ```clock_gettime()``` for the internal timer used in ```opal_progress()```. In v1.10.0-v1.10.1 we used the tsc for both ```opal_progress`` and wtime. A user noticed that the clock was non-monotonic on an older x86 system so we disabled it in v1.10.2. I added a check for the monotonic tsc and re-enabled the tsc for v1.10.3. This issue came up shortly after that bec

[2017-05-03 13:24] rhc54 commented on #3003
I see - and the dead code block was left for future developers to consider (as per the comment).

i have no objections to releasing a final 1.10.7 for cleanup purposes, if someone wants to assemble the PR.

[2017-05-03 13:33] edgargabriel commented on #3438
@ggouaillardet I finally found the time to test your patch. I can confirm that the test passes now, thank you! As far as I can tell, I can confirm that the output also looks correct.

[2017-05-03 15:29] amckinstry opened #3442 "OPAL assembly handling on multiple archs now fails on 2.1.0"
Hi.

Openmpi 2.0.2 builds on multiple architectures within Debian:
https://buildd.debian.org/status/package.php?p=openmpi

However changes in 2.1.0 means many are now broken:
https://buildd.debian.org/status/package.php?p=openmpi&suite=experimental

(Ignore the "2.1.0rc2"; thats a Debian-specific version name ; the codebase in 2.1.0 without arch changes)
eg. Arm64 no longer compiles.  mips64el com

[2017-05-03 15:49] rhc54 commented on #3442
@hjelmn Looking thru the output, it appears the problem is a failure to identify the environment so the variadic macros can complete:
[code]

[2017-05-03 16:45] bosilca commented on #3442
On the ARM64 the architecture was correctly detected. The configure complains about missing support for ARM64, because we ARM64.asm file and the compiler apparently does not support atomic builtins, which suggests we are expected to use opal/include/opal/sys/arm64/atomic.h. However, all the functions defined in this file seems to be missing, which suggest that somehow OPAL_GCC_INLINE_ASSEMBLY has

[2017-05-03 17:18] opoplawski opened #3443 "openmpi 2.1.0 fails to build on s390x"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

2.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Building Fedora openmpi package

### Please describe the sy

[2017-05-03 18:24] kcgthb commented on #3202
Hi there!
Looks like this is still there in Open MPI 2.1.0:
https://github.com/open-mpi/ompi/blob/v2.1.0/opal/mca/pmix/s2/pmix_s2.c#L33

[2017-05-03 18:32] rhc54 commented on #3202
It's in the 2.1.1 release that is about to be set free

[2017-05-03 20:54] lvella commented on #3380
It is not `atexit()` fault (nor I didn't see any reason for it to be). Following modified code is equivalent to original, without using `atexit()` and exhibiting the same symptoms:

[code]

[2017-05-04 09:31] amckinstry commented on #3443
Confirm that this is also the case with the Debian openmpi package.

[2017-05-04 09:36] amckinstry commented on #3442
Asn an experiment I set OPAL_GCC_INLINE_ASSEMBLY in opal/include/opal/sys/arm64/atomic.h and it builds. (Similar patch already present for powerpc)

[2017-05-04 10:04] #3158 closed

[2017-05-04 14:23] bosilca commented on #3442
There is no guarantee that the C++ compiler supports the same type of assembly as the C compiler. It is happening for you, but to be on the safe side we should add a check during configure time.

[2017-05-04 14:29] amckinstry commented on #3442
Agreed; to be clear, Debian is only using GCC/G++ at this time (though I did test with g++ 7).

[2017-05-04 15:11] hjelmn commented on #3442
We decided to isolate the internals of Open MPI from C++. I don't remember whether this change made it onto master but I am sure it isn't on v2.x or v2.0.x.

[2017-05-04 15:12] hjelmn commented on #3442
Hmm, or I am wrong. I did PR it to v2.0.x and v2.x. :D #2163 #2164

[2017-05-04 15:15] hjelmn commented on #3442
This should have clued me in to the isolation code being in there:

[code]

Hmm, I wonder why it isn't working as expected on aarch64.

[2017-05-04 15:27] jsquyres commented on #3443
Does the same thing happen with 2.1.1rc1?  https://www.open-mpi.org/software/ompi/v2.1/

When I use `--without-cma` with 2.1.1rc1, it seems to disable CMA properly for me.

[2017-05-04 15:30] jsquyres commented on #3443
Actually, I'd also like to know if OMPI 2.1.1rc1 properly disables CMA on the platform on which you're building.  E.g., if there's platforms where CMA simply does not work, `configure` should auto-disable building CMA on those platforms.

We're likely just running into this now because I seem to recall that CMA was not built by default in the v2.0.x series, but we now try to build it by default in

[2017-05-04 15:35] bosilca commented on #3442
I don't understand how the isolation layer is supposed to work when cxx_glue.h is included from all the CXX files and it pulls the errorhandler.h (this pull the entire spaghetti header files down to our opal_object.h where we need the atomics).

[2017-05-04 15:40] amckinstry commented on #3443
I hadn't noticed the 2.1.1rc1 release; thanks, i'll test it,

[2017-05-04 15:48] jsquyres commented on #3442
Per fc0eeb4a6bb174ac95cc948c832035e89d30266e, should `ompi_cxx_dummy_fn_t` be used in `cxx_glue.h` instead of `ompi_errhandler_generic_handler_fn_t`?  (assumedly with appropriate casting in `cxx_glue.cc`)

[2017-05-04 15:50] jsquyres commented on #3443
I was actually all set to release v2.1.1 yesterday -- this issue and #3442 gave me pause.  So if you could let me know ASAP, that would be great.  Even if we have to have you temporarily `--without-cma` to build v2.1.1 on problematic architectures, I'm comfortable adding a fix for auto-disabling CMA on unsupported platforms after v2.1.1.

[2017-05-04 15:56] hjelmn commented on #3442
@bosilca I thought I had prevented pulling everything. It was looking ok on my Mac (it didn't compile before the glue). Looks like we just need to do a little more to make it work in this case. Trying to de the minimum necessary since @jsquyres will git rm ompi/mpi/cxx at some point.

[2017-05-04 15:59] jsquyres commented on #3442
Yeah, we'll remove the C++ bindings... someday.  Probably not soon, though.  😈

[2017-05-04 16:28] opoplawski commented on #3443
I see the same compile problem with 2.1.1rc1, but --without-cma does appear to disable it now.

[2017-05-04 16:29] jjhursey commented on #3442
@hjelmn Yeah I noticed this a couple days ago too and added a comment [here](https://github.com/open-mpi/ompi/pull/2317#issuecomment-298686054) to one of your PRs. I haven't had a chance to look into it any further though. A user was trying to use the C++ bindings in 2.1 and contacted me about the state of the patches.

[2017-05-04 16:29] jsquyres commented on #3443
Ok, good news, at least, that `--without-cma` works around the issue.  I'll mark this as a 2.1.2 issue for now.

Can you send a link to a full build log and/or a config.log file so that we can look at why it's not automatically disabling itself on platforms that don't support CMA?

[2017-05-04 16:58] opoplawski commented on #3443
Full build log - https://kojipkgs.fedoraproject.org//work/tasks/8839/19398839/build.log  it will be around for a week or so.  Printed all config.log files - perhaps overkill.

[2017-05-04 19:09] junjieqian opened #3445 "Hang in clock_gettime() during Bcast"
Thank you for taking the time to submit an issue!

## Background information
OMPI hang during Bcast() on clock_gettime()

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v1.10.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Build from dist

[2017-05-04 19:11] jsquyres commented on #3445
Do you know if the hang itself is in `clock_gettime()`, or is Open MPI simply calling `clock_gettime()` all the time?  (we use `clock_gettime()` as part of our internal progress engine)

Does the problem happen in v1.10.6?  Or v2.1.0?

[2017-05-04 19:17] junjieqian commented on #3445
Hi @jsquyres , thank you very much for your attention and quick response! The hang should happen in OpenMPI, as I got more trace on other ranks, as follows.

#0  0x00007f7a6ecc390f in mca_btl_sm_component_progress () from /usr/local/openmpi-1.10.3-cuda-8.0/lib/openmpi/mca_btl_sm.so
#1  0x00007f7a774c365a in opal_progress () from /usr/local/openmpi-1.10.3-cuda-8.0/lib/libopen-pal.so.13
#2  0x00007f

[2017-05-04 19:20] bosilca commented on #3445
So the hand is not in clock_gettime, but in the opal_progress that waits for the completion of the requests generated during the bcast. How many processes are involved your parallel application ? Can you check the stack of all processes to make sure they all reached the same MPI_Bcast ?

[2017-05-04 19:27] junjieqian commented on #3445
Hi @bosilca , there are 8 processes in total. 7 processes are stuck in `clock_gettime()`, but one is on `mca_btl_sm_component_progress`.

Do you mean that there should be a barrier before doing MPI_Bcast? Now, one rank does some work and others not (go to MPI_Bcast directly), could this be the problem? As it happens randomly.

[2017-05-04 19:37] bosilca commented on #3445
They cannot be stuck in clock_gettime. What happens is that when you stop the process, it happens that it is in clock_gettime, but that particular function does not block. In fact, if you look on the stack trace, you can notice that you are in the opal_progress, which loops around pooling the network, and calling clock_gettime, until messages are received. Thus, I assume the culprit is that an exp

[2017-05-04 19:46] junjieqian commented on #3445
@bosilca , thank you for your explanation! I double checked the stack traces of the ranks, and they all called `PMPI_Bcast () from /usr/local/mpi/lib/libmpi.so.12`.

[2017-05-04 19:47] jsquyres commented on #3445
I would encourage you to upgrade your version of Open MPI to at least the latest in the v1.10 series (i.e., 1.10.6) to see if this bug was already fixed.  If possible, you might want to upgrade to Open MPI v2.1.0.

[2017-05-04 21:46] sjeaugey commented on #3003
Assembling the PR, I took 1.10, then added 48d13aa8ef75a1e2950667687b587b8f1282d15a and b9331527f573a4bac060fdde415a6a0015ce8ae3 (visible at https://github.com/sjeaugey/ompi/tree/wtime-fix-v1.10).

@hjelmn I see 4009ba6b941be4e7fb949d186172b6907319eeca is a bug fix but is it really related to this issue ? I can add it too, I'm just trying to avoid changing too many things.

And in all cases, I'm n

[2017-05-04 22:12] timattox opened #3447 ""../configure --with-lustre" causes build to fail with "yes/lib" error"
### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v2.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from a release tarball: openmpi-2.1.0.tar.bz2

### Please describe the system on which you are running

* Operating system/version:
SUSE L

[2017-05-04 23:14] ggouaillardet commented on #3445
@junjieqian the hang could occur when ```MPI_Bcast``` internally tries to establish a ```btl/tcp``` connection, that could be blocked by the firewall since you are using docker.
can you doublecheck there is no firewall running on your containers ?
assuming your IP interface is ```eth0```, what if you
[code]

[2017-05-05 03:20] hjelmn commented on #3003
@sjeaugey We absolutely can not roll back 5a44018. That will re-introduce the performance regression. The work-around patches are ok and well contained. I don't think we need 4009ba6 but it is a nice to have.

[2017-05-05 03:29] bosilca commented on #2535
A fix has been added to #3441.

[2017-05-05 03:29] #2535 closed

[2017-05-05 08:32] nmorey opened #3450 "Stall in opal_fifo test"
Thank you for taking the time to submit an issue!

## Background information
I'm packaging openmpi 2.1 for SUSE and end up hitting a bug (probably GCC's fault) in the test suite

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
OpenMPI 2.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from

[2017-05-05 09:15] AndreasKempfNEC commented on #3003
Okay, if the latest versions of all release branches are free from this problem, this report no longer needs to stay open.

I guess I will close it pretty soon, then. Or somebody else can do so.

[2017-05-05 10:55] jsquyres commented on #3003
@AndreasKempfNEC Probably want to wait for @sjeaugey's PR for the v1.10 branch -- that should close out the issue on all the current release branches.

[2017-05-05 12:25] jsquyres commented on #3447
Also reported by Prentice Bisbal a few days ago: https://www.mail-archive.com/users@lists.open-mpi.org/msg30998.html

[2017-05-05 15:09] bosilca commented on #3450
__ATOMIC_ACQUIRE is indeed supposed to guarantee an inter-thread happens-before constraint. Your fix seems indeed reasonable, but I wonder what is the impact of this addition on compilers that do not have this issue.

[2017-05-05 15:13] nmorey commented on #3450
It will prevent reordering around which might not be too bad.
It probably will have a perf impact.

I've open a bug at GCC and they seem to agree that something is wrong:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=80640

They also suggested this:

[2017-05-05 15:26] bosilca commented on #3450
And I thought we were not even supposed to use volatile ? ;) They are indeed right, we could have been more specific. As you already have access to the compiler, can you validate that their proposed change fixes the issue ?

[2017-05-05 15:30] nmorey commented on #3450
Why are you not supposed to use volatile ?
I'll give it a try but it might have more side effects than the memory barrier.
I'm not familiar enough with the code to know if this will create a lot of memory traffic or not...

[2017-05-05 16:45] rhc54 opened #3457 "Hangs in dynamic/no-disconnect test"
Thank you for taking the time to submit an issue!

## Background information
Observed on MTT tests using IBM test suite

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
Seen on master, very likely to be present on 3.x

## Details of the problem
Diagnosis has not been done at this time. Test is reported as "timed out"

[2017-05-05 16:52] rhc54 opened #3458 "MPI Connect/accept broken except when from within a single mpirun"
Thank you for taking the time to submit an issue!

## Background information
Multiple users have reported that MPI connect/accept no longer works when executed between two applications started by separate cmd lines. This includes passing the "port" on the cmd line, and use of ompi-server as the go-between

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash

[2017-05-06 05:05] bosilca commented on #3450
Despite all expectations, adding volatile to the pointer itself lead to significantly better performance on my testing environment (E5-2650 v3). Consistently.
There results are from NetPIPE on 2 bytes.
before:       2  B    490401 times -->   37.855 Mbps  in  422.664 nsecs
after:          2  B    632486 times -->   40.565 Mbps  in  394.425 nsecs

I'll dig into it more over the weekend, and if conf

[2017-05-06 06:38] hujiePKU opened #3463 "How to convey MPI context from python to c++?"
I have already written a c++ code with open-mpi, and I wrote a python wrapper with mpi4py. It means that I need import an encapsulated package in python  and  start program with 'mpirun -np 4 python xx.py' . The problem is that how to convey the MPI context from python to c++,  communicating in c++ layer.  It has been bothering me for a log time. Could you please give any advice? Thanks a lot.

[2017-05-06 09:04] ggouaillardet commented on #3463
@hujiePKU this is a question you should ask mpi4py, probably best at http://groups.google.com/group/mpi4py

[2017-05-06 09:43] hujiePKU commented on #3463
Thank you for your information.

[2017-05-06 09:43] #3463 closed

[2017-05-07 17:41] bosilca commented on #3463
@hujiePKU if by context you means MPI communicator, keep in mind that all predefined MPI communicators (of interest here MPI_COMM_SELF and MPI_COMM_WORLD) are the same for all languages. Thus, either you can use them directly, or you can use attributes to pass the info around).

[2017-05-08 04:22] rhc54 opened #3470 "Extend SLURM integration"
Thank you for taking the time to submit an issue!

@hjelmn requested adding an extension to the slurm RAS component that would use popen to get the ThreadsPerCore value in the SLURM configuration. This value is used during allocation.

However, I cannot remember precisely what we wanted to do with that data. @hjelmn - can you refresh my memory? IIRC, it was some kind of problem with getting the co

[2017-05-08 09:27] amckinstry commented on #3442
Ok, 2.1.1rc1 builds fine on all archs except x32 when --without-cma is used where appropriate. Work is needed on the x32 patch (its using 64-bit quantities ? (x32 should use 32-bit quantities but the larger register set from x86_64).
I think this should not be a blocker for the 2.1.1 release.

[2017-05-08 15:24] bwbarrett commented on #3450
I don't know about making the code correct; it seems like we should be marking the accesses, not the data (ala Linus's rants), but that's probably a much bigger patch...

[2017-05-08 19:43] jsquyres commented on #3443
Closing since this is now merged on master, v2.x, and v3.x.

[2017-05-08 19:43] #3443 closed

[2017-05-08 20:23] jsquyres opened #3476 "v2.0.x: fix stall in opal_fifo test"
Filing a blocker to make sure we don't release the next v2.0.x without fixing #3450, possibly by PR #3468.

[2017-05-08 20:24] jsquyres opened #3477 "v2.1.x: fix stall in opal_fifo test"
Filing a blocker to make sure we don't release the next v2.1.x without fixing #3450, possibly by PR #3468.

[2017-05-08 20:24] jsquyres opened #3478 "v3.0.x: fix stall in opal_fifo test"
Filing a blocker to make sure we don't release the next v3.0.x without fixing #3450, possibly by PR #3468.

[2017-05-08 20:26] daniloegea opened #3479 "Undefined symbol "mca_mpool_base_page_size" on FreeBSD"
## Background information

I'm using the OpenMPI 2.1.0 on the FreeBSD OS and I'm getting the warning bellow when I execute the binary with mpirun:

[code]

I'm seeing this on OpenMPI 2.1.1rc1 as well.

[2017-05-08 20:34] jsquyres commented on #3368
@artpol84 can you update the tags on this issue?  Should this issue now be closed (i.e., has it been merged everywhere it's going to get merged)?

[2017-05-08 20:34] mathbird opened #3480 "about ialltoallw"
Hi,

[ialltoallvw_zero.c.txt](https://github.com/open-mpi/ompi/files/984770/ialltoallvw_zero.c.txt)

 The attached test code pass with MPICH well, but has problems with OpenMPI.

There are three tests in the code, the first passes, the second one hangs, and the third one results in seg. fault and core dump.

The hanging seemed caused by the handle in the function ompi_coll_libnbc_ialltoallw in mca

[2017-05-08 20:39] artpol84 commented on #3368
It's pending for 3.x merge, it was decided not to merge into v3.0.x, but next release.

[2017-05-08 20:39] artpol84 commented on #3368
I don't see any Tag describing post-v3.0.x release.

[2017-05-08 20:40] jsquyres commented on #3368
I think we have a backwards-incompatible change on master (compared to v3.x -- the datatypes stuff), so go ahead and make a 4.0.x tag.

[2017-05-08 20:49] #3447 closed

[2017-05-08 21:28] jsquyres opened #3484 "master opal_init() failing on Absoft 32 bit MTT dlopen_test"
Absoft's MTT has been failing on the `dlopen_test` (during `make check`) in `opal_init()` on master recently (e.g., see https://mtt.open-mpi.org/index.php?do_redir=2438).

Here's a backtrace provided by @cagoelz (note the assertion failure in `opal_pointer_array_add()`):

[code]

This is a 32 bit build, and we explicitly invoke `opal_init()` in this test.  Are we invoking it incorrectly?  Or is so

[2017-05-08 22:07] jsquyres commented on #3479
Does this apply?

https://www.open-mpi.org/faq/?category=building#install-overwrite

[2017-05-09 01:47] ggouaillardet commented on #3480
@mathbird thanks for the report, a few fixes were not backported into the ```v2``` branches, and i made PR for both.
fwiw, ```master``` and ```v3.x``` are fine
btw, which Open MPI version are you running ?

[2017-05-09 03:04] daniloegea commented on #3479
Not really, I'm using a fresh installation here.

[2017-05-09 14:12] #3450 closed

[2017-05-09 15:08] jjhursey commented on #2966
PR #3468 might be related (might fix this issue - need to check)

[2017-05-09 15:18] mathbird commented on #3480
I am using openmpi 2.1.  with your updated code, the tests did pass.  Thanks

[2017-05-09 15:24] jsquyres commented on #2966
@jjhursey Let us knwo if #3468 fixes the issue -- we have corresponding PRs for v2.0.x, v2.1.x, and v3.0.x.

[2017-05-09 15:30] jsquyres commented on #3479
This specific warning almost always occurs when an Open MPI installation tries to open a plugin from a different version of Open MPI.  In itself, the issue is harmless (because Open MPI is just telling you that it unexpectedly failed to correctly open a plugin, and therefore it ignored that plugin), but it usually indicates some other kind of error -- usually that you're either not running the Ope

[2017-05-09 17:27] jjhursey commented on #2966
😞  That PR does not seem to fix the `make check` issue. We'll have to keep investigating.

[2017-05-09 17:32] #3445 closed

[2017-05-09 18:43] jsquyres commented on #3476
Closed via #3493

[2017-05-09 18:43] #3476 closed

[2017-05-09 18:43] jsquyres commented on #3477
Closed via #3494.

[2017-05-09 18:43] #3477 closed

[2017-05-09 18:52] mathbird opened #3496 "MPI_ANY_SOURCE in MPI_Sendrecv_replace"
The following code causes seg. fault problem. The initial check shows that it seem caused by ompi_comm_peer_lookup with MPI_ANY_SOURCE, which somehow messes up the allocated  temporary buffer used in SendRecv.

any idea?

Dahai

[code]

[2017-05-09 20:08] jsquyres commented on #3496
@mathbird GitHub pro tips:

1. Surround code with two lines each containing 3 single back ticks to put github in a "verbatim" mode.  You can follow the 3 single ticks with a token indicating how the syntax highlighter should render the verbatim section -- e.g., I used 3 single ticks and `c` to indicate that it should highlight the block as C code.  See https://help.github.com/articles/basic-writin

[2017-05-09 20:35] jsquyres opened #3498 ""mpirun hostname" launch failure in SLURM jobs on master and v3.x"
On 2017-05-09, master head (d7ebcca93f) is consistently failing to launch jobs on master and v3.x:

[code]

v2.x installs with the same configure line do not have the same problem:

[code]

Here's how OMPI was configured:

[code]

[2017-05-09 22:24] jsquyres commented on #3498
Interactive debugging with Ralph seems to indicate that the problem has something to do with:

* Spanning two nodes in my SLURM cluster: one with 16 cores total, one with 24 cores total
* SLURM is reporting 16 slots for each of the 2 nodes (i.e., it's under-reporting the number of slots available for the 24 core machine)
* Rmaps dies somewhere where it is not emitting an verbose or error message t

[2017-05-10 01:43] daniloegea commented on #3479
Hmm, that's embarrassing, you are right, I made some confusion with my scripts here... I'm sorry for the noise...

[2017-05-10 01:43] #3479 closed

[2017-05-10 02:03] rhc54 commented on #3498
@jsquyres Don't worry about testing this - I can now replicate on my hetero system here.

[2017-05-10 10:30] #3133 closed

[2017-05-10 10:38] jsquyres commented on #3479
Glad you figured it out!  Good luck.

[2017-05-10 10:51] d-a-v commented on #2320
merged. /me thanks everyone

[2017-05-10 14:51] awlauria commented on #2203
I just tested this with master and am still hitting the segmentation fault, and the backtrace shows it happening in malloc(), so there is some corruption going on here. Here's some valgrind output showing this corruption:

==23510== Invalid write of size 8
==23510==    at 0x4C2E253: memcpy@@GLIBC_2.14 (in /usr/lib64/valgrind/vgpreload_memcheck-amd64-linux.so)
==23510==    by 0x5B33C4E: unpack_cont

[2017-05-10 19:06] jsquyres commented on #3498
@rhc54 Sorry, it doesn't look like #3502 fixed the issue:

[code]

[2017-05-10 20:06] hppritcha commented on #3417
finished. closing.

[2017-05-10 20:06] #3417 closed

[2017-05-10 20:10] hppritcha opened #3509 "v2.1.2 release checklist"
## Make a perfect tarball

- [x] Update the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --re

[2017-05-10 20:27] rhc54 opened #3510 "RML OFI reporting connection errors"
@anandhis Please see https://gist.github.com/rhc54/74710bc7064934c3d1f03a7cf813002f

[2017-05-10 20:35] rhc54 commented on #3510
Traced it down to a difference in subnets between one machine and the rest of the cluster. We will deal with the subnet transfer later.

[2017-05-10 20:35] #3510 closed

[2017-05-10 21:38] jsquyres commented on #3498
With the code on your `cleanup` branch (which you merged into master), I found (probably unsurprisngly) that I don't need a slurm allocation to generate the problem. I can just `--host mpi009:16,mpi010:16` and the same problem occurs.  So here's new output, based on the request from https://github.com/open-mpi/ompi/pull/3507#issuecomment-300592972:

[code]

[2017-05-10 21:57] rhc54 commented on #3498
Hmmm...okay, that tells me that somehow we wound up with only two topology assignments, which means that mpi010 doesn't set one for itself (everyone is assigning mpi010's topo to mpi009). I may have to add some more verbose statements to pinpoint why

[2017-05-10 22:22] jsquyres commented on #3498
Running with #3515 debugging output:

[code]

[2017-05-11 00:29] #3498 closed

[2017-05-11 11:42] jjhursey commented on #2966
Instead of failing now it is hanging (I have to manually kill it as it will hang the MTT runs - there is no timeout mechanism in `make check`). Here is a link to an MTT failure:
 * https://mtt.open-mpi.org/index.php?do_redir=2439

I suspect that the change made to fix Issue #3450 made this failure a hang now.

[2017-05-11 15:10] jsquyres commented on #2966
@bosilca @hjelmn It looks like the recent changes to opal_fifo just changed the failure mode for IBM.  Can you have a look at Josh's comment (https://github.com/open-mpi/ompi/issues/2966#issuecomment-300764540)?

[2017-05-11 19:54] bosilca commented on #2966
First and foremost, the failure is on ppc64le, I have no access to such an architecture. What is puzzling is that I was under the impresison that for PPC we were using atomic load/store (via OPAL_HAVE_ATOMIC_LLSC_PTR) but apparently this is not the case.

I run 10k tests on different Intel architectures with an OMPI compiler is optimized mode, and I had no failure. No really sure how to approach t

[2017-05-11 20:03] jsquyres commented on #2966
@jjhursey Looks like we're going to need some IBM help on this one...

[2017-05-11 20:28] pliniosilveira commented on #3232
I got this issue building openmpi from hpcx-v1.8.0-gcc-MLNX_OFED_LINUX-4.0-1.0.1.0-redhat7.3-x86_64 (openmpi-2.0.2).

Can anyone point out which exact parameter is causing this problem to show up?
Would it be --with-mxm or --with-mxm-libs or both?

[2017-05-12 14:51] jjhursey commented on #2966
Yeah that's fine. I can investigate, but I'm not back full time yet so it'll be a little while before I can probably get eyes on this. I just wanted to keep this issue updated.
The hang mode is helpful though since I can then attach a debugger and poke around a bit.

[2017-05-12 16:34] gpaulsen commented on #2966
I'm going to ask @nysal to drive this from our side, since Josh is apparently skydiving.

[2017-05-12 17:14] jsquyres opened #3521 "v3.0.x MTT build failure"
I don't have time to investigate this at the moment, but Cisco MTT is showing a v3.0.x build failure (https://mtt.open-mpi.org/index.php?do_redir=2440):

[code]

[2017-05-12 17:25] jsquyres opened #3522 "master: "make check" unpack_hetero datatype test segv"
When configured statically on a Linux x86_64 machine, `make check` fails the `unpack_hetero` test with a segv.  Here's the backtrace:

[code]

The code in question is:

[code]

gdb shows:

[code]

I'm not quite sure why this is a segv.  Is this read-only member, perchance?

[2017-05-12 17:27] jsquyres commented on #3522
Forgot to mention -- here's the MTT showing where it is happening (and I can reproduce manually): https://mtt.open-mpi.org/index.php?do_redir=2442

[2017-05-12 23:17] rhc54 opened #3525 "IBM dynamic/no-disconnect test hangs"
The IBM dynamic/no-disconnect test is hanging, and then eventually "failing" when the PMIx publish/lookup exchange times out. This only occurs if multiple nodes are involved in the job - if you run the test on a single node, it will pass.

I have run the test on two nodes, using the following command:
[code]
with a default hostfile containing two nodes, each with 24 slots. After a lot of print sta

[2017-05-13 12:53] ggouaillardet commented on #3522
@jsquyres yes, this is likely the root cause
[code]

[2017-05-14 16:11] alinask commented on #3232
A new version of HPC-X, with this fix, will be available on June 29th on the Mellanox website.

[2017-05-14 21:50] jsquyres commented on #3522
@ggouaillardet What should it be?

[2017-05-15 02:06] ggouaillardet commented on #3525
@rhc54 the issue is unlikely in the publish/lookup part ...
i can reproduce the issue with 2 nodes, a total of 8 tasks and the patch below

then, from ```n0```

[code]

for an unkown reason, job ```[7,0]``` was spawned twice (!)

fwiw, here is a possible process tree (there is no synchronization, and tasks are spawned in parallel
[code]

note
- ```MPI_Comm_spawn()``` is always invoked with ```coun

[2017-05-15 02:16] ggouaillardet commented on #3522
@jsquyres

with shared libs
[code]
but with static libs
[code]

removing the ```const``` qualifier is an option, but i suspect it is an overkill
i'll try to see if i can improve that (by not computing ```ptypes``` for a predefined datatype (since that should be pretty trivial)

[2017-05-15 04:09] ggouaillardet commented on #3525
@rhc54 i edited the patch to print the hostname
bottom line, ```[7,0]``` is spawned on both ```n0``` and ```n1```

[2017-05-15 07:58] ggouaillardet commented on #3525
@rhc54 i digged a bit more

on ```n0```, ```orte_rmaps_base_compute_vpids``` is invoked with ```nodes={n0,n1}``` __but__
on ```n1```, ```orte_rmaps_base_compute_vpids``` is invoked with ```nodes={n1}```

so it looks like ```n0``` is aware the slot previously allocated to ```[4,0]```  was returned, but ```n1``` is not, hence the de-synchronization and the multiple allocation.

[2017-05-15 10:45] amckinstry opened #3527 "s390x build (still) fails on 2.1.1"
This is openmpi 2.1.1, Debian with gcc/g++ 7

The full build log is : https://buildd.debian.org/status/fetch.php?pkg=openmpi&arch=s390x&ver=2.1.1-1&stamp=1494581730&raw=0

Configuration:
[code]

Fails on:
[code]

[2017-05-15 12:05] ggouaillardet commented on #3525
also, my understanding of ```spawn()``` internals is that the HNP is doing an ```xcast()``` (to all nodes ?) asking to spawn n tasks. that requires that all ```orted``` have a consistent view of what is running on which nodes, so each ```orted``` can figure out how many tasks should be fork&exec'ed locally.

did i get it right ?

if yes, then what is the rationale for that ?
what i mean, is what i

[2017-05-15 13:53] rhc54 commented on #3525
Yes, you got it right. Your proposal is exactly what we used to do, but the problem is that the launch message (when running at scale) is quite large and significantly slows down the launch. There are a few possible solutions (in order of difficulty of implementation):

- have the HNP notify the orteds of completion so they can update their view of the overall state
- do the backend mapping on ini

[2017-05-15 20:46] rhc54 commented on #3457
duplicate with #3525

[2017-05-15 20:46] #3457 closed

[2017-05-16 02:47] rhc54 commented on #3525
FWIW: I tried the first and that didn't work - too many race conditions. I now have a prototype for the 3rd option and am debugging it.

[2017-05-16 10:32] ggouaillardet commented on #3525
i see, let me know if you need any help debugging it.
assuming we can build a _factorized_ regex, the 3rd option is the best.

back to the 2nd option, in order to tell ```orted``` how many tasks should be spawn'ed locally, what we really need is a scatter instead of a broadcast. depending on the routing protocol between orteds, there is room to optimize that (e.g. each ```orted``` split the receiv

[2017-05-16 14:43] DanielCChen commented on #2606
@PHHargrove
It turns out to be a XLF compiler bug that is exposed by the linker change in Ubuntu16.04 (comparing with Ubuntu 14.04). We have fixed it in the Beta compiler that is coming soon.
Thanks for bringing the issue up!

[2017-05-16 15:12] hppritcha commented on #2643
@shamisp how important is this to you?  @opoplawski have you released the 2.0.x in Fedora rawhide or later releases?

[2017-05-16 15:19] rhc54 commented on #3269
I will add options to control this behavior - added to my list

[2017-05-16 15:19] #3269 closed

[2017-05-16 15:20] rhc54 commented on #3036
resolved by @ggouaillardet

[2017-05-16 15:20] #3036 closed

[2017-05-16 15:37] yosefe commented on #3003
@jsquyres @hppritcha we see on some systems that MPI_Wtime() reports wrong results (due to cpu frequency scaling). Was why it decided to use clock_gettime() on Linux, and not gettimeofday()?
Can we go with the initial suggestion to "nail down MPI_WTICK/MPI_WTIME to use `gettimeofday(3)`"?

[2017-05-16 15:42] jsquyres commented on #3003
There were user requests to make MPI_WTIME more accurate.

All the branches should now have -- at least temporarily? -- set MPI_WTICK/MPI_WTIME to use `gettimeofday(3)`.

[2017-05-16 15:42] jsquyres commented on #3522
@bosilca says he's looking at this.

[2017-05-16 15:45] yosefe commented on #3003
@jsquyres according to https://github.com/open-mpi/ompi/blob/v2.x/ompi/mpi/c/wtime.c#L60 clock_gettime() is used on linux - what am i missing?

[2017-05-16 15:55] jsquyres commented on #3003
@yosefe My mistake -- I was thinking about the fact that we commented out the `opal_*` calls to get the times, which definitely had problems with frequency scaling.

You're saying that `clock_gettime()` itself is showing frequency scaling issues.  That is new information to me.  Can you show the code where this is happening?

[2017-05-16 19:28] shamisp commented on #2643
@opoplawski I suspect is has something to do with vader itself. It would be useful to disable the vader and see if it is related.

[2017-05-16 20:36] #3496 closed

[2017-05-16 20:39] jsquyres opened #3538 "PR MPI_SENDRECV MPI_ANY_SOURCE fix to release branch(es)"
@bwbarrett @hppritcha How far back do we want to PR #3500 (fixing `MPI_SENDRECV` for the `MPI_ANY_SOURCE` case)? v2.0.x? v2.x? 3.0.x?

[2017-05-16 21:18] jsquyres commented on #2988
This doesn't seem to be happening any more, so I'm going to close this issue -- it was fixed somewhere along the way.

[2017-05-16 22:36] martinkontsek commented on #2328
I am happy to report, that also our issues were resolved.

We have updated to Moab 9.1.1.1/Torque 6.1.1.1 and now we are able to use both Open MPI v2.1.0 and Open MPI v2.0.2 with Moab/Torque. I am not sure, if the issue was solved on Torque or Open MPI side, as we have upgraded all the software at once.

Thank you very much for your help with this issue.

[2017-05-16 22:38] jsquyres commented on #2328
Great!  Thanks for following up.

[2017-05-16 22:38] #2328 closed

[2017-05-17 00:02] #3409 closed

[2017-05-17 05:35] #3522 closed

[2017-05-17 16:48] jsquyres commented on #2606
@jjhursey @gpaulsen Can someone at IBM make a release note in README about this problem?

[2017-05-17 17:05] DanielCChen commented on #2606
@jsquyres
Sure. I will make sure to add this to the README.

[2017-05-17 17:12] jsquyres commented on #2606
@DanielCChen Excellent; thank you.

[2017-05-17 18:57] #173 closed

[2017-05-18 07:25] hjelmn commented on #3470
The problem we can only get the slot count from the environment but not the core count. With nativized slurm on Cray systems the slot count is hwthreads not cores. This means mpirun will always treat hwthreads as cores even when we do not want this behavior.

I asked Moe to add a new environment variable to get the core count but we will still need a way to get the info for older versions of slurm

[2017-05-18 07:30] yosefe commented on #3003
@jsquyres we are running osu_bandwidth benchmark which reported unreasonable [too good to be true] results on a particular system (Intel(R) Xeon(R) CPU E5-2680 v4 @ 2.40GHz), and after changing MPI_Wtime() to gettimeofday() the results are OK.
Can't point to the exact code in clock_gettime which is causing this, though...

[2017-05-18 07:33] pmillet opened #3546 "'./configure --without-lsf' causes build to fail with "no/lib" error"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v2.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
release tarball: openmpi-2.1.1.tar.gz

### Please describe the system on which you are running

* Operating sys

[2017-05-18 14:05] jsquyres commented on #3003
@bwbarrett @bosilca @hjelmn Have any of you guys heard of `clock_gettime()` suffering from frequency scaling issues?

[2017-05-18 14:43] rhc54 commented on #3003
According to what I can find in Intel manuals, clock_gettime(CLOCK_MONOTONIC) is guaranteed to be independent of cpu freq starting with Nehalem in 2008.

[2017-05-18 15:47] nmorey opened #3547 "Bad v1.10.7 tag"
v1.10.7 tag should be somewhere around v1.10 branch but is on a commit from master branch...

[code]

[2017-05-18 16:06] jsquyres commented on #3547
![image](https://cloud.githubusercontent.com/assets/617316/26212080/669e7ea4-3bc2-11e7-9534-2f076f15cefa.png)

[2017-05-18 16:08] jsquyres commented on #3547
I confirm: the tag is on the wrong branch.

This is easy enough to fix with a few git commands, and we know the exact correct git hash the tag should be attached to (5e373bf).  But the problem is that anyone who has git cloned/pulled that existing tag is going to have problems when we move that tag to the correct location.  Doh.

[2017-05-18 17:42] nmorey commented on #3547
The cleanest way is to just release a 1.10.8 with the right SHA1... (or 1.10.7.1 if you support this kind of names)
And maybe add a v1.10.7-DO-NOT-USE-1.10.7 on the bad sha1 so people using git with completion will realize something went wrong :)

[2017-05-18 17:44] rhc54 commented on #3547
get serious, folks - the number of people potentially affected by just updating the tag is as close to zero as you can possibly get. Just update it and be done.

[2017-05-18 17:56] hppritcha commented on #3547
At the very least we need to let devel mail list know about this issue.  I do in fact check out tags of the various branchs when I''m triaging problems at my site.  Also, having a messed up tag will probably get git bisect very confused if one used it as part of the search space for a problem.

[2017-05-18 21:30] markalle opened #3548 "1sided with some hosts single rank (osc=rdma)"
If I launch a 1sided test where some of the hosts have a single rank while other hosts have multiple ranks, the test fails with a message like
[code]

Examples that would fail:
[code]
examples that would pass:
[code]

I hit the same error with openib, eg
```--mca pml ob1 --mca btl self,vader,openib --mca osc rdma```
and MXM, eg
```--mca pml yalla --mca osc rdma```
although for the 1sided calls I t

[2017-05-18 23:54] ggouaillardet commented on #3547
should we add a tag on the ```v1.10``` branch anyway ?
(of course, it cannot be ```v1.10.7```, maybe ```v1.10.7.1``` is acceptable)
as pointed by Howard, that can be helpful for ```git bisect``` and friends.

if the likelyhood of releasing ```v1.10.8``` some day is lower than the number of users impacted by this wrong tag, then i am fine with simply emailing the devel ML

[2017-05-19 00:25] rhc54 commented on #3547
Every single thing I can find indicates there is no problem with us just redefining the v1.10.7 tag. The docs at git, github, and questions on stack overflow all agree on this point.

I'm honestly flabbergasted at all the smoke this is generating.

[2017-05-19 00:28] rhc54 commented on #3525
Okay, FWIW I now have a fix that works. It is based on option 3. I have to update the other mappers (I only prototyped round-robin), but should be able to commit it tomorrow.

[2017-05-19 01:46] ggouaillardet commented on #3547
@rhc54 though some blogs suggest ```push --force``` is required (and we want to avoid that), most docs say otherwise, so the tag can be simply moved
@jsquyres @hppritcha  any thoughts ?

[2017-05-19 02:48] rhc54 commented on #3547
You only need to force if someone has added tags since the one you want to remove. Nobody has done that, which is why I made sure to remove it right away. The only thing needed now is to redefine it.

[2017-05-19 02:53] rhc54 commented on #3547
done

[2017-05-19 02:53] #3547 closed

[2017-05-19 04:21] ggouaillardet commented on #3546
thanks for the report,
can you please give this patch a try ?
note you will need recent autotools
it seems LSF is needed in ```/usr``` to reproduce the issue, and i do not have it.

[code]

[2017-05-19 08:08] nmorey commented on #3547
For your repo, there are no issues. For those who have a clone and updated it with the bad tag, the bad tag stays...

[code]

People have to manually remove the tag and fetch it again. Or maybe there's a fetch -f somewhere. But by default, the wrong tag stays,..

[2017-05-19 08:48] rhc54 commented on #3547
As I said, I expect that number of people to be very small. I pulled my clones and none of them had this problem. So I suspect it has something to do with how one updates.

I'll send a note to the mailing list and just let people know in case they encounter the same issue.

[2017-05-19 15:05] jsquyres commented on #3547
@nmorey Thanks for alerting to this issue.  Regardless of how one feels about it, the tag was deleted and then re-created to point to the correct location in the ompi repo.  Please update any local copies that you have.

Here's the thread where it was discussed on the mailing list: https://www.mail-archive.com/devel@lists.open-mpi.org/msg20174.html

[2017-05-19 18:39] jsquyres commented on #3548
@hjelmn Could you comment?  Thanks!

[2017-05-19 18:45] jsquyres commented on #3003
@yosefe I don't doubt your results, but per Intel's documentation, I have to wonder if something else was going on when you ran your tests...?  Can you make a small example that shows that `clock_gettime(CLOCK_MONOTONIC)` is dependent on CPU frequency?

[2017-05-19 19:43] hjelmn commented on #3548
Hmm, I will take a look on Monday.

[2017-05-19 20:05] markalle commented on #3548
Thanks, for what it's worth I traced it a bit further and am finding
```    module->state_offset```
is involved in the inconsistency. On the 2-rank host it's 40, on the 1-rank host it's 16.

All ranks seem to have consistent values for looking up each other's ```node_peer_data->base``` values, but in ```ompi_osc_rdma_peer_setup()``` when they start trying to pull data from each other, the offset t

[2017-05-19 21:04] markalle commented on #3548
Okay, I think I've fixed it by making allocate_state_single() match allocte_state_shared(). I'll make a pull request for it, but the diff is
[code]

[2017-05-19 21:24] markalle commented on #3548
https://github.com/open-mpi/ompi/pull/3551

[2017-05-19 21:39] yosefe commented on #3003
@jsquyres thanks, i'll try to dig some more into this.

[2017-05-20 10:12] longerzone opened #3555 "If openMPI support EDR over SRIOV"
Thank you for taking the time to submit an issue!

## Background information
I'm using Mellanox 100G EDR with SRIOV on KVM virtualization, and I want to use the RDMA to communicate between VM with EDR Virtual Function.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
1.10.5a

### Describe how Open MPI was installed (e.g., from a source/distributi

[2017-05-22 10:52] hppritcha opened #3556 "Update NEWS for 2.0.3"
NEWS needs to be updated to document fixes since 2.0.2

[2017-05-22 10:54] hppritcha opened #3557 "v2.0.3 release checklist"
## Make a perfect tarball

- [x] Update the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --re

[2017-05-22 11:12] hppritcha commented on #2614
@hjelmn can this issue be closed?

[2017-05-22 14:54] jsquyres opened #3558 "Remove C/R functionality from v3.0.0"
Per https://github.com/open-mpi/ompi/pull/3554#issuecomment-302822944, we discovered that the C/R functionality is accidentally still on the branch that will become the v3.0.0 release.

It needs to be removed.  It's quite possible that the small number of commits to remove the C/R functionality from the v2.x branch -- paired with #3554 -- could be sufficient.  I.e., it could just be an exercise of

[2017-05-22 15:27] jladd-mlnx commented on #3555
@longerzone Please clarify, which PML are you using. Yalla or OB1. You are mixing variables that indicate using OpenIB BTL (-mca btl_openib_if_include "mlx5_0:1") and Yalla (-x MXM_IB_USE_GRH=y). Which are you using?

[2017-05-22 17:51] edgargabriel commented on #3438
@ggouaillardet has this fix been committed to master and the branches?

[2017-05-22 19:17] jsquyres commented on #3442
@amckinstry Am I reading your comment correctly: you applied `--without-cma` to all the builds, but you're still seeing a failure on the 32 bit machines (i.e., s390x).  Is that right?

If so, where do we find the full build output from the s390x?  I see on https://buildd.debian.org/status/package.php?p=openmpi&suite=experimental the last 10-20 lines of the build that shows that there's some linker

[2017-05-22 19:27] jsquyres commented on #74
This is marked as "won't fix", so I'll close this ancient issue.

[2017-05-22 19:27] #74 closed

[2017-05-22 19:42] jsquyres commented on #49
This was long-since done.  Closing.

[2017-05-22 19:42] #49 closed

[2017-05-23 09:45] eatdust commented on #1162
Hi there,
we are encountering similar issues again on ARM5 with current openmpi-2.1.1, compilation fails with missing symbols:

../../../ompi/.libs/libmpi.so: undefined reference to `opal_atomic_add_64'
../../../ompi/.libs/libmpi.so: undefined reference to `opal_atomic_cmpset_64'

Cheers.

[2017-05-23 09:54] amckinstry commented on #1162
There is one fragment from an old arm_detection patch at Debian that was not included in 2.1.1:
[code]

Now the armv7 is possibly unneeded, but the second fragment looks relevant. We currently have no armv5 hardware in the build systems to test, though

[2017-05-23 15:17] hppritcha commented on #1876
closing this as not that important and as pointed out here would be tricky.  this problem is best solved using rpmbuild, etc. instead to handle dependencies on lib/devel rpms.

[2017-05-23 15:17] #1876 closed

[2017-05-23 16:17] eatdust commented on #1162
Thanks for the feedback. It seems not to be enough, even with the correct detection of armv5-*-gnueabi, it seems that some 64 instructions remain in mca/osc:

----

make[2]: Entering directory 'openmpi-2.1.1/ompi/mca/osc/sm'
  CC       osc_sm_active_target.lo
osc_sm_active_target.c: In function 'ompi_osc_sm_start':
osc_sm_active_target.c:165:23: warning: implicit declaration of function 'opal_atom

[2017-05-23 16:31] hjelmn commented on #3442
Looking into this now.

[2017-05-23 16:56] jsquyres commented on #1162
@eatdust GitHub pro tip: surround verbatim blocks with a line of 3 tick marks, and GitHub will render it in fixed width font, etc.  See https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2017-05-24 00:03] ggouaillardet commented on #3438
@edgargabriel there were two issues
- one that is specific to ROMIO, and even if i guess this is not the one you are interested in, this was fixed in upstream MPICH, and then back ported to all branches from ```v2.0.x``` (```v1.10``` has an older romio and the backport is not really trivial)
- regarding the datatype issue, @bosilca revamped that part and committed this into master.
  there are dis

[2017-05-24 00:33] markalle opened #3566 "yalla with irregular contig datatypes"
Yalla has a macro PML_YALLA_INIT_MXM_REQ_DATA that checks if a datatype is contiguous via opal_datatype_is_contiguous_memory_layout(dt,count) and if so it selects a size and lb that presumably is what will rdma, as
                ompi_datatype_type_size(_dtype, &size); \
                ompi_datatype_type_lb(_dtype, &lb); \

This failed when I gave it a datatype constructed as ```[ ...]``` with e

[2017-05-24 00:33] bwbarrett commented on #3438
We're going to pull the ddt change for 3.0.

[2017-05-24 01:25] markalle commented on #3566
I meant to post the gist of the test case over here in the issue reoprt. This program hits the problem when run with the yalla PML at -np 2:
https://gist.github.com/markalle/24f101dfb20b6dfc5ebbe3c8aaa9505a

[2017-05-24 03:52] markalle opened #3569 "osc rdma origin/target extent mixup"
The MPI_Accumulate call has a local count/type and a target count/type and a range check was being performed with remote_count * target_extent.

The result is
[code]
when running a testcase like this
https://gist.github.com/markalle/43e955343ea8ed7dd8bf757a73dae23d

I was using MXM and -mca osc rdma to hit the failure.

[2017-05-24 05:10] markalle opened #3571 "concurrent accumulate osc=rdma"
The following MPI_Accumulate() testcase fails on master using -np 3 and osc=rdma:
https://gist.github.com/markalle/3405203fb2970f94ad515cce23b4f602

I'm running on x86-64 (redhat 6 and/or 7) with mellanox infiniband.

This test has every rank accumulate the buffer [1 1 1 1 1 1 1 1] to every peer over and over in a loop and expects to see [n n n n n n n n] at the end, where n = nloops * (nranks - 1

[2017-05-24 06:40] alsrgv opened #3573 "osu_latency: btl_openib.c:1441: mca_btl_openib_alloc: Assertion `qp != 255' failed."
Thank you for taking the time to submit an issue!

## Background information

I'm running osu_latency from http://mvapich.cse.ohio-state.edu/download/mvapich/osu-micro-benchmarks-5.3.2.tar.gz in CUDA mode with RoCE RDMA-CM and I'm getting an error in title.  The error seems to happen when message size is above 32768.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch n

[2017-05-24 12:27] yosefe commented on #3003
@jsquyres we checked it again and we hadolder version of OMPI which measured cycle count and not clock_gettime(). Also, a small clock_gettime() test showed the correct timing. So we are good, sorry for confusion.

[2017-05-24 13:35] jladd-mlnx commented on #3566
@alinask Can you take a look at this, please.

[2017-05-24 13:42] jsquyres commented on #3573
@jladd-mlnx @artpol84 I know you guys don't typically care about `openib`, but this part from the above bug report caught my eye:

[code]

I mention this because on March 7, Josh commited b28647857f448f2ef85c9dc6f722eeb7fd0791c4, which added some part numbers to the `openib` INI file.  Are you missing some more part numbers?

[2017-05-24 13:48] jjhursey commented on #3566
@alinask @jladd-mlnx Mark posted PR #3567 with a fix if you want to review that.

[2017-05-24 13:58] pmillet commented on #3546
I tried your patch. However on the test system I fails with the following error
[code]
The automake version on the system is 1.14.1. Is there any way to fix it with this version or is updating automake mandatory here?

[2017-05-24 14:22] ggouaillardet commented on #3546
@pmillet yes, recent autotools are mandatory since you need to run ```autogen.pl``` before ```configure```
see the requirements at https://www.open-mpi.org//source/building.php
you can either update autotools, or simply apply the patch on a rhel7 clone, then
[code]
and then move the tarball to your scientific linux 6 box, and
[code]

[2017-05-24 14:57] jladd-mlnx commented on #3573
Hmmm...will take a look.

[2017-05-24 16:11] jjhursey commented on #3566
@markalle Do you want to keep this issue open until the release branches have the fix merged in?

[2017-05-24 19:12] alsrgv commented on #3573
BTW, if I run actual workload (TensorFlow-MPI) with these parameters, I get kernel BUG.

[code]

Dmesg:

[code]

[2017-05-24 19:37] alsrgv commented on #3573
@jsquyres @jladd-mlnx @artpol84 looks like my device got added in commit  27797654db6df6f2b6d5500463515b8826d6a2f4, but it was never backported into 2.x.

If I manually add it to `openmpi/share/openmpi/mca-btl-openib-device-params.ini` in Mellanox ConnectX4 section, I still get:

[code]

If I remove `-mca btl_openib_receive_queues P,128,256,192,128:S,2048,256,128,32:S,12288,256,128,32:S,65536,256,

[2017-05-24 21:18] markalle commented on #3571
@hjelmn Is there an MPI-standard argument to say this test shouldn't work, or do you think this is a legit issue?

[2017-05-24 23:18] markalle opened #3576 "bad range check (rdma osc w/ odd datatypes)"
On master MPI_Get with odd datatypes can trigger a range check error in osc_rdma_get_remote_segment(), eg
[code]

osc_rdma_get_remote_segment() has the 3rd and 4th args as
    * target_disp
    * length
which it uses to determine if the rdma falls within the bounds of the window or not (actually it only checks the upper bound, but I'm okay with that).

Anyway the caller previously was passing in t

[2017-05-25 18:16] gpaulsen commented on #3571
@hjelmn any thoughts?   I know you're busy...

[2017-05-25 18:20] jladd-mlnx commented on #3573
@alsrgv

In order to use RoCE, you need to keep`-mca btl_openib_receive_queues P,128,256,192,128:S,2048,256,128,32:S,12288,256,128,32:S,65536,256,128,32`.

As for the OSU failures, @bureddy is able to reproduce on one of our p100 setups and is investigating. Hopefully, we can help nail down the issue.

[2017-05-25 18:40] markalle commented on #3569
I had made a pull to fix this at
https://github.com/open-mpi/ompi/pull/3570
but independently
https://github.com/open-mpi/ompi/pull/3572
was also made for the same reason.

So I closed my 3570 pull and this bug should be fixed by 3572.

[2017-05-25 18:42] markalle commented on #3566
Fixed by https://github.com/open-mpi/ompi/pull/3567

[2017-05-25 18:59] #3548 closed

[2017-05-25 20:45] jladd-mlnx commented on #3573
@alsrgv,

@bureddy figured the issue out. From his analysis:

It is triggering RDMA pipeline protocol where the default message size is 128K. You do not have a 128K QP in your choice of send queues. You can fix this by doing one of the following:

1. Limit the max send size to 64K to match your max send queue `-mca btl_openib_max_send_size 65536`

2. Change you max send queue length `-mca btl_open

[2017-05-25 22:11] rhc54 opened #3582 "Bad fd's being closed by mpirun"
Observed on both master and v3.x branch:
[code]

[2017-05-25 22:12] rhc54 commented on #3582
@ggouaillardet FYI - not sure where it is coming from. You have any suggestions on a good way to track it down?

[2017-05-25 22:46] alsrgv commented on #3573
Thanks @jladd-mlnx, OSU works perfectly now!

I still have an issue running real TensorFlow workload: `mpirun -mca btl self,openib -mca btl_openib_want_cuda_gdr 1 -mca btl_openib_receive_queues P,128,256,192,128:S,2048,256,128,32:S,12288,256,128,32:S,131072,256,128,32 --prefix /home/asergeev/openmpi -n 4 python tf_cnn_benchmarks.py --model inception3 --batch_size 64`

It hangs and in `dmesg` we se

[2017-05-25 23:33] bureddy commented on #3573
@alsrgv
is it work if you disable GDR?
can you also check with  --mca mpi_leave_pinned 0?

[2017-05-25 23:34] marksantcroos opened #3583 "64k task limit with persistent dvm"
The size of `next_jobid` being an `uint16_t` in `orte_plm_globals_t` limits the number of tasks that can be executed towards a persistent DVM to be 64k.

It fails here:
https://github.com/open-mpi/ompi/blob/master/orte/mca/plm/base/plm_base_jobid.c#L87, because it would overflow in constructing the `jdata->jobid` in:
https://github.com/open-mpi/ompi/blob/master/orte/mca/plm/base/plm_base_jobid.c#L

[2017-05-25 23:53] rhc54 commented on #3583
Nothing to do with any standard. We wanted to keep the proc name to 64-bits to manage memory footprint. With 32-bits required for the rank, that leaves 32-bits for the jobid. Then we have to separate the various mpirun incantations from each other so we can connect/accept across them. So we split the jobid in half, with 16-bits for the mpirun ID and 16-bits for the job ID within each mpirun.

Now

[2017-05-26 00:25] alsrgv commented on #3573
Yes, the culprit turned out to be GDR - I was trying to go from one GPU to another via GPUDirect, to avoid `smcuda` IPC.  The reason I wanted to avoid latter is because TensorFlow forces me to set CUDA_VISIBLE_DEVICES which doesn't play well with IPC.  I guess I will have to live with non-IPC version of `smcuda`.

I was able to make GDR working across nodes.  Now I need to beef up my cabling to ac

[2017-05-26 00:30] ggouaillardet commented on #3582
@rhc54 you can safely ignore these.
in ```close_open_file_descriptors``` from ```orte/mca/odls/default/odls_default_module.c```, we basically ```readdir("/proc/self/fd")``` and close most file descriptors.
when running under valgrind, some fd (```1024-1030``` here) are internally used by valgrind, and should not be closed, hence the warning message.

[2017-05-26 00:32] rhc54 commented on #3582
Ah, good - thanks!

[2017-05-26 00:32] #3582 closed

[2017-05-26 01:22] artpol84 commented on #1998
Resolved through https://github.com/pmix/pmix/pull/141

[2017-05-26 01:22] #1998 closed

[2017-05-26 05:11] #3003 closed

[2017-05-26 10:17] marksantcroos commented on #3583
Thanks Ralph, that doesn't sound too bad. I'll take a crack at it.

[2017-05-26 10:41] rhc54 commented on #3583
Most of what you'll need to do is in orte/util/name_fns.[c,h], adjusting the macros there for obtaining and modifying the job fields (e.g., ORTE_JOB_FAMILY). You'll also need to modify the session directory naming (orte/util/session_dir.c,h), to replace the job family with some other unique identifier for the dvm since users might have multiple dvm's in operation at the same time.

I guess if you

[2017-05-26 13:17] jladd-mlnx commented on #3573
@alsrgv I'm closing this issue. Please feel free to reopen if needed.

[2017-05-26 13:17] #3573 closed

[2017-05-26 13:42] rhc54 commented on #3392
This was apparently fixed by removing an erroneous close of fd=0 by the PMIx dstore, so I'm closing this here. Please reopen if the problem resurfaces.

[2017-05-26 13:42] #3392 closed

[2017-05-26 16:42] hjelmn commented on #3442
Does #3589 help?

[2017-05-26 18:50] hjelmn commented on #3571
Sounds like a bug. Will take a look now.

[2017-05-26 20:18] hjelmn commented on #3571
I see the problem. There is a typo in the exclusive lock code. Who wrote that anyway? :D.....

Pushing a fix now.

[2017-05-27 07:16] norlanliu opened #3594 "Running with two nodes hang up without any output."
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from source tarball : https://www.open-mpi.org/software/ompi/v2.1/downloads/openmpi-2.1.1.tar.gz
[code]

### Pl

[2017-05-27 13:41] rhc54 commented on #3594
Add --enable-debug to your configure command and try it again - there is much more debug info available that way.

[2017-05-27 20:53] artpol84 commented on #3200
@karasevb please check usability of ompi/master with pmix-v1.2

[2017-05-27 20:55] artpol84 commented on #3368
Closet through https://github.com/open-mpi/ompi/pull/3375

[2017-05-27 20:55] #3368 closed

[2017-05-27 21:36] edgargabriel commented on #3438
great, thanks @ggouaillardet and @bwbarrett !

[2017-05-29 22:22] rhc54 commented on #3583
I had a thought here: the job family is a global value unique to each mpirun (or orte-dvm - i'll use the two interchangeably here). We need it for two purposes:

- to create unique session directory names
- to identify when we are working across mpirun invocations, typically when supporting connect/accept operations that span two independent jobs

In both cases, there really is no need for us to p

[2017-05-29 22:23] rhc54 commented on #3525
Fixed in master and PR'd to v3.0

[2017-05-29 22:23] #3525 closed

[2017-05-29 22:25] rhc54 commented on #3458
Fixed in master by checking for ompi-server presence (if launched by mpirun), or availability of publish/lookup support if direct launched, and outputting a friendly show-help message if not. Operation of ompi-server was also repaired for v3.0.

Backports to the 2.x series are not planned.

[2017-05-29 22:26] rhc54 commented on #3416
Fixed and included in #3462

[2017-05-29 22:34] rhc54 commented on #3380
I verified this is working correctly on master and v3.x (with #3462):
[code]
I'd advise updating once v3.0.0 is released as the v1.10 series has been "closed".

[2017-05-29 22:34] #3380 closed

[2017-05-29 22:37] rhc54 commented on #3322
I looked into this and provided a fix for master and v3.x. Bottom line is that you won't get a TCP-like port name as we don't use TCP to support connect/accept operations. Instead, you'll need to ensure that ompi-server is running and that both jobs have access to it. I've added some detection in case someone passes in (e.g., off a command line) an incorrect port string, or ompi-server isn't avail

[2017-05-29 22:37] #3322 closed

[2017-05-29 22:38] rhc54 commented on #3305
I believe a possible workaround was discussed on the user mailing list, but this isn't a mode of operation that we really support.

[2017-05-29 22:38] #3305 closed

[2017-05-29 22:38] #3289 closed

[2017-05-29 22:39] rhc54 commented on #3247
Fixed in referenced PRs

[2017-05-29 22:39] #3247 closed

[2017-05-29 22:40] rhc54 commented on #3211
Please reopen if you intend to work on this or run into issues.

[2017-05-29 22:40] #3211 closed

[2017-05-29 22:47] rhc54 commented on #3188
I tested this with master and v3.x, and it works fine. At some point we will either break away from libevent or update our support to the libevent 2.1 series. Until then, I don't think there is much we can do here. Either way, we won't backport it to anything earlier than OMPI v3.0.

[2017-05-29 22:47] #3188 closed

[2017-05-29 22:48] rhc54 commented on #3084
Please reopen if you continue to have issues.

[2017-05-29 22:49] #3084 closed

[2017-05-29 22:49] rhc54 commented on #3009
Please reopen if you continue to have an issue.

[2017-05-29 22:49] #3009 closed

[2017-05-29 22:50] #2988 closed

[2017-05-29 22:53] rhc54 commented on #2956
I'm going to close this as we've done all we intend to do. The switch to TCP solved the problem long-term, and the workarounds seem adequate for OMPI releases prior to v3.0

[2017-05-29 22:53] #2956 closed

[2017-05-29 22:54] #2938 closed

[2017-05-29 22:59] rhc54 commented on #2817
Isn't it true that the user would have already had to create separate binaries for the nodes, and so they knowingly violated our level of support? We now pass back to mpirun the local chip architecture, and so we could detect this problem rather easily (assuming mpirun is used to launch the app). No way it would go back to the 2.x series, but we could provide it for v3.x if you really want it.

[2017-05-29 23:08] rhc54 commented on #2761
Fixed - thanks!

[2017-05-29 23:08] #2761 closed

[2017-05-29 23:10] rhc54 commented on #2737
@marksantcroos Can you confirm if this is still happening? If so, I'll try to address.

[2017-05-29 23:12] rhc54 commented on #2664
Sorry for delay - can you try this with OMPI master (soon to be released as v3.0) and see if the problem continues?

[2017-05-29 23:12] #2569 closed

[2017-05-29 23:12] #2546 closed

[2017-05-29 23:13] rhc54 commented on #2394
Please reopen if you continue to have issues

[2017-05-29 23:13] #2394 closed

[2017-05-29 23:16] rhc54 commented on #2261
I'm closing this until it is observed again as the code has changed a lot since the time this was filed

[2017-05-29 23:16] #2261 closed

[2017-05-29 23:16] rhc54 commented on #2158
Believe we talked this one to death again, and any modifications we agreed upon have been made

[2017-05-29 23:16] #2158 closed

[2017-05-29 23:17] rhc54 commented on #2075
Let me know if this continues to be an issue

[2017-05-29 23:17] #2075 closed

[2017-05-29 23:20] rhc54 commented on #1585
This was done, to the best of my knowledge.

[2017-05-29 23:21] rhc54 commented on #1527
I believe this has been fixed - at least, it works for me

[2017-05-29 23:21] #1527 closed

[2017-05-29 23:21] rhc54 commented on #1526
Yes, it was resolved a long time ago. Not backported, however, and won't be.

[2017-05-29 23:21] #1526 closed

[2017-05-29 23:22] rhc54 commented on #1424
Series 1.10 has been "closed" in deference to later OMPI releases.

[2017-05-29 23:22] #1424 closed

[2017-05-29 23:22] artpol84 commented on #2569
Was this addressed or ignored?

[2017-05-29 23:23] rhc54 commented on #1375
As noted, has been fixed but won't be backported.

[2017-05-29 23:23] #1375 closed

[2017-05-29 23:25] #557 closed

[2017-05-29 23:26] rhc54 commented on #526
Please reopen if you see this happening on OMPI master or the soon-to-be-released 3.0

[2017-05-29 23:26] #526 closed

[2017-05-29 23:26] rhc54 commented on #186
Doesn't exist any more.

[2017-05-29 23:26] #186 closed

[2017-05-29 23:27] rhc54 commented on #183
Removed due to staleness

[2017-05-29 23:27] #183 closed

[2017-05-29 23:27] #172 closed

[2017-05-29 23:28] rhc54 commented on #154
Closed due to staleness - we don't even have an OOB method any more

[2017-05-29 23:28] #154 closed

[2017-05-29 23:29] rhc54 commented on #145
Fixed long, long ago

[2017-05-29 23:29] #145 closed

[2017-05-29 23:29] rhc54 commented on #141
Yes we can

[2017-05-29 23:29] #141 closed

[2017-05-29 23:30] #135 closed, assigned to edgargabriel

[2017-05-29 23:30] rhc54 commented on #132
We no longer support c/r

[2017-05-29 23:30] #132 closed

[2017-05-29 23:30] rhc54 commented on #129
No longer supported

[2017-05-29 23:30] #129 closed

[2017-05-29 23:31] rhc54 commented on #113
No longer valid - fixed

[2017-05-29 23:31] #113 closed

[2017-05-29 23:31] rhc54 commented on #86
No one will ever care

[2017-05-29 23:31] #86 closed

[2017-05-29 23:32] rhc54 commented on #84
Fixed long ago

[2017-05-29 23:32] #84 closed

[2017-05-29 23:32] rhc54 commented on #83
It is as good as it will ever be

[2017-05-29 23:32] #83 closed

[2017-05-29 23:33] rhc54 commented on #82
can be reopened if someone cares

[2017-05-29 23:33] #82 closed

[2017-05-29 23:33] rhc54 commented on #75
This was fixed long ago

[2017-05-29 23:33] #75 closed

[2017-05-29 23:34] rhc54 commented on #69
Fixed long ago

[2017-05-29 23:34] #69 closed

[2017-05-29 23:35] rhc54 commented on #66
Updated FAQ about this long ago

[2017-05-29 23:35] #66 closed

[2017-05-29 23:35] rhc54 commented on #64
No longer valid

[2017-05-29 23:35] #64 closed

[2017-05-29 23:36] rhc54 commented on #54
I believe this has been fixed, if not a specific bug report can be filed

[2017-05-29 23:36] #54 closed

[2017-05-29 23:37] rhc54 commented on #36
We've fixed this to the extent possible

[2017-05-29 23:37] #36 closed

[2017-05-29 23:37] rhc54 commented on #29
Fixed long ago

[2017-05-29 23:37] #29 closed

[2017-05-29 23:37] rhc54 commented on #28
Done long ago

[2017-05-29 23:37] #28 closed

[2017-05-29 23:38] rhc54 commented on #26
It is ordered now as things are event-driven

[2017-05-29 23:38] #26 closed

[2017-05-29 23:39] rhc54 commented on #23
Solved by introducing threaded OOB and PMIx support

[2017-05-29 23:39] #23 closed

[2017-05-29 23:40] rhc54 commented on #19
We can safely say that all that will be done, has been done

[2017-05-29 23:40] #19 closed

[2017-05-29 23:40] rhc54 commented on #17
No longer supported

[2017-05-29 23:40] #17 closed

[2017-05-29 23:42] rhc54 commented on #2569
I believe the answer is simply that (a) it doesn't seem to be having any negative effects, and (b) if you care, then please submit a patch. Otherwise, no point in letting this sit around if nobody is going to address it - and I won't 😄

[2017-05-30 05:59] t-kurita opened #3605 "MPI extension using use-mpi-f08 build fails with "Can't open module" error"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

master branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from a source

### Please describe the system on wh

[2017-05-30 13:04] GuillaumeMercier commented on #2227
A question : is the variable orte_proc_is_bound still usable for this purpose?
 Because on my one socket machine,  when i don't bind my processes I've got this variable set to true and --display-map says:   Bound: N/A
When I bind to the single socket (and the machine in fact), it is still set to true but --display-map says:
Bound: UNBOUND
So there seem to be a distinction made but this variable is

[2017-05-30 14:19] Jiadun commented on #3305
The problem mentioned above was induced by the not-elegant way in which Program A repeatedly spawns many independent program B. Now it is solved in the way that the many independent program B are only spawned once in the Program A.

[2017-05-30 15:08] hppritcha commented on #1822
I think the problematic points in Open MPI recent releases have all be addressed so this can be closed.

[2017-05-30 15:08] #1822 closed

[2017-05-30 17:19] markalle opened #3608 "single_predefined_type with MPI_LB/UB"
The ompi_datatype_get_single_predefined_type_from_args() recurses down into a constructed type to identify what base datatype it's built from if it's built from a single type. But if the type has MPI_LB/MPI_UB, for example
[code]
then this function will see the base type MPI_LB as differing from MPI_INT and will identify mydt as not being constructed from a single base type, so the type will be re

[2017-05-30 17:34] jsquyres commented on #3484
Note that I am unable to reproduce this issue manually on a 64 bit Linux machine/OS/kernel (RHEL 6.x), compiling with `CFLAGS=-m32 CXXFLAGS=-m32 FCFLAGS=-m32`.  I do not have any actual `ia32` machines with which to test.

[2017-05-30 17:37] jsquyres opened #3610 "Mysterious 32 bit MTT build failures on Absort"
We're seeing odd MPI Install failures on 32 bit Absoft failures, but the log messages are not showing what the actual error is.

@cagoelz Can you shed any light, perchance, on what is failing in these builds?

https://mtt.open-mpi.org/index.php?do_redir=2446

[2017-05-30 18:15] cagoelz commented on #3610
The failures occur building ompi_datatype_external.lo:

  CC       ompi_datatype_external.lo
In file included from ompi_datatype_external.c:29:
../../ompi/communicator/communicator.h:265: error: size of array ‘padding’ is too large
make: *** [ompi_datatype_external.lo] Error 1

The code around ../../ompi/communicator/communicator.h:265 is

#define PREDEFINED_COMMUNICATOR_PAD (sizeof(void*) * 64)

[2017-05-30 18:46] rhc54 commented on #2737
I checked the current OMPI master and found that the dstore space is getting cleaned up after each job - I am not finding any leftover entries in /dev/shm or in the /tmp/ompi* session directory tree. I am therefore closing this issue for now - we can reopen if/when this problem is seen again.

[2017-05-30 18:46] #2737 closed

[2017-05-30 20:11] marksantcroos commented on #2737
Hi Ralph, its on my list to verify. Have been running with disabled dstore for a while. Took a bit longer as I also wanted to compare the performance.

[2017-05-30 20:58] bosilca commented on #3610
git blame 50aa143ab67. On 32 bits architectures, as the void* size is 32 bits, the opal_hash_table_t becomes too large for the PREDEFINED_COMMUNICATOR_PAD. We might have an issue with our ABI ...

[2017-05-30 21:00] jsquyres commented on #3610
Ah!  Good point.

I guess we intended to allow 64 *pointers* worth of padding.  But in hindsight, that's a poor measure.  Should we just listed a number of bytes, instead?  (e.g., 64*8=512)

Sidenote: I'm not worried about our ABI between 32 and 64 bit builds.

[2017-05-30 21:48] jjhursey opened #3612 "XL Fortran Compiler F08 Bindings broken for OpenSHMEM"
The [`README`](https://github.com/open-mpi/ompi/blob/master/README#L180-L181) says:

  the MPI f08 bindings or build/link the OpenSHMEM Fortran bindings.

However, this no longer seems to be accurate for the MPI f08 bindings. I can confirm that the OpenSHMEM Fortran bindings do not work.

[code]

[code]

For OSHMEM it's not quite all working:
[code]

[2017-05-30 21:50] jjhursey commented on #3612
Note: I wanted to file this bug to make sure folks know that the XL compiler seems to be working fine with `master` and the MPI bindings. We can update the `README` to adjust the language, but it might be _easy_ to fix the OpenSHMEM issue and just remove the whole restriction.

I don't have the cycles at the moment for this, but didn't want to lose it.

[2017-05-31 01:38] bwbarrett opened #3613 "Master compile failure due to O_RSYNC / O_DSYNC in state_base_fns.c"
Master does not compile on OS X or FreeBSD due to `O_RSYNC` and `O_DSYNC` usage in `orte/mca/state/base/state_base_fns.c`, which were added in https://github.com/open-mpi/ompi/commit/f3ab326b4ae4a7e4b7cb3f000dfee88437018788.

Jenkins failures: [FreeBSD](https://jenkins.open-mpi.org/jenkins/job/open-mpi.build.platforms/Platform=freebsd_11.0/467/console) and [MacOS](https://jenkins.open-mpi.org/jenk

[2017-05-31 04:20] ggouaillardet commented on #3605
@t-kurita there is an egg and the chicken issue.
as a temporary workaround, you can
[code]

before that, you need to manually apply the following patch
[code]
and then you have to run (with recent autotools)
```./autogen.pl```

[2017-05-31 06:07] markalle opened #3616 "hang with Put;Accumulate;Barrier osc=rdma"
I'm using master and running a testcase between two infiniband machines as
% mpirun -mca pml ob1 -mca btl openib,vader,self -mca osc rdma -host mpi03,mpi04 ./x
and can hit the bug using pml yalla as well. It needs to span two hosts to fail.

Here's a gist of the testcase:
https://gist.github.com/markalle/ccbd729df75188378d538767c0321f4e
It boils down to
[code]
where mydt in the MPI_Put is non-cont

[2017-05-31 06:09] markalle commented on #3616
@hjelmn Can you look at this?

[2017-05-31 13:23] bosilca commented on #3610
I was not worried about ABI 32 vs. 64 bit builds (it has no sense), but we will now have to increase the size of the PREDEFINED_COMMUNICATOR_PAD, which will translate into a ABI breakage.

[2017-05-31 13:54] jsquyres commented on #3610
Yes, we will break ABI for 32 bit builds.  But if we get this into 3.0 (and beyond), I'm not worried about it.

Do you agree?

[2017-05-31 23:12] yoshihingis opened #3625 "Can we use OpenMpi on Docker Container?"
Dear OpenMpi team staff

I tried to make very simple Dockerfile to check the operation of  OpenMpi  on the docker container.

But I got the caution about the risk of "root run".
Hence I added the option "--allow-run-as-root",because we can start up docker container as root.

But I could not build  Docker Image of "OpenMpi test".
I got error as below at the end of Dockerfile build.

(1)Could you gi

[2017-06-01 02:56] rhc54 commented on #3625
I know people have run OMPI in Docker containers (see the “shifter” project), but we don’t actively support it. I suggest you do a little Internet searching to find prior work.

[2017-06-01 06:36] ggouaillardet commented on #3625
the error message suggests ```ssh``` client is not installed in your container.
if you need containers, ```singularity``` is very likely your best choice since it was designed with HPC in mind,
and is supported by Open MPI.
while there is nothing that prevents you from running Open MPI in a docker container, you are on your own when it comes to spawn containers and allow inter-containers traffic.

[2017-06-01 06:59] ggouaillardet commented on #3576
@markalle i merged #3600 and it should help with that issue.
can you give a try to the latest master ?

[2017-06-01 07:17] danindiana opened #3629 "fatal error: shmem.h when trying to compile mpicc"
Thank you for taking the time to submit an issue!

## Background information
Working with the examples found in the openmpi-2.1.1/examples directory.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
Version 2.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribu

[2017-06-01 07:48] ggouaillardet commented on #3629
@danindiana in order to compile an OpenSHMEM program you should use ```oshcc``` instead of ```mpicc```

the fortran error is more puzzling.
could you please double check you are using the ```mpif90``` you just built and installed ?
also, if you built Open MPI some time ago, please make sure you are now using the same GNU Fortran version that the one you used when building Open MPI.

[2017-06-01 11:27] hra0031 opened #3630 "Throughtput issue with 2.0.0 and newer (mpi_leave_pinned )"
## Background information

OpenMPI 2.0.0 and newer (OpenMPI 1.x is running OK)

Installed from the tarball or master branch. Configured with:
` ./configure --prefix=/home/hra0031/mpi/mpi-master --enable-shared --enable-mpi-thread-multiple --with-verbs --enable-mpirun-prefix-by-default --with-hwloc=$EBROOTHWLOC --disable-dlopen --with-tm=/opt/pbs/default`
Builded with GCC-6.3.0-2.27

* Operating sy

[2017-06-01 13:19] jsquyres commented on #3442
@amckinstry Have you had a chance to check out Nathan's reply https://github.com/open-mpi/ompi/issues/3442#issuecomment-304330776?

[2017-06-01 14:00] amckinstry commented on #3442
I haven't. I've just kicked off a build with the commit https://github.com/open-mpi/ompi/pull/3589/commits/ee9093c373963ed9cdf71041ff49422863b77311 which I'll push to experimental (assuming it builds on x86)

[2017-06-01 15:25] hppritcha opened #3632 "3.0.0 NEWS, VERSION, and Author file updates"
The usual updates for a release are needed for 3.0.0 - NEWS, VERSION, AUTHOR file, LICENSE, etc.

[2017-06-01 15:31] hppritcha opened #3633 "v3.0.0 release checklist"
## Make a perfect tarball

- [x] Update the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --re

[2017-06-01 16:56] jsquyres commented on #3610
@cagoelz I didn't say it earlier: thanks for the detailed compilation output!  😄

[2017-06-01 17:26] hppritcha commented on #3556
done

[2017-06-01 17:26] #3556 closed

[2017-06-01 18:27] markalle commented on #3576
Looks good to me, thanks.

[2017-06-01 18:42] hppritcha commented on #3557
done with 2.0.3 release

[2017-06-01 18:42] #3557 closed

[2017-06-01 19:28] #3610 closed

[2017-06-01 20:35] markalle commented on #3616
I think I've identified where the progression is going wrong: all the currently available fragments for sending have been consumed, an i```bv_poll_cq()``` has identified 64 completions to be handled, the ```handle_wc()``` callback wants to send another message and blocks looping on ```ompi_osc_rdma_progress()``` until it can send, but the necessary resources won't be freed until the 64 already-com

[2017-06-01 20:44] hppritcha commented on #1745
@hjelmn  i think since we're ditching travis this issue can be closed.

[2017-06-01 20:47] hppritcha commented on #1273
I think this can be closed now due to our how-to-report-an-issue template.

[2017-06-01 20:49] markalle commented on #3616
I'm tempted to make a PR though with draining the existing completion list tuned so it only happens on a percentage of ```poll_device()``` calls with the percentage getting lower the more levels of recursion are already present. That way incidental progress calls would be relatively unlikely to go recursive, at least not deeply, but the "while" loops like above would still get the progression they

[2017-06-01 20:51] hppritcha commented on #1809
changing to future milestone since we will not likely have another 1.10.x release past x=7.

[2017-06-01 21:02] #1273 closed

[2017-06-01 21:53] bwbarrett opened #3639 "FreeBSD build failures on 2.0.x series from git"
Open MPI 2.0.x is failing all Pull Requests because of a build failure when memory debugging is enabled (as it is by default when building in tree from a git checkout).  The issues is in the Fortran bindings, where there's a -I to `ompi/mpi/fortran/base`, where there is a file `strings.h`.  This file is being included instead of `/usr/include/strings.h`, which is resulting in crazy errors like:

[

[2017-06-01 22:35] ggouaillardet commented on #1809
iirc, this was fixed by an other PR, but maybe not it this branch

[2017-06-01 23:38] markalle commented on #3616
I created a pull request for an example fix (allowing handle_wc() to go recursive when its already inside a completion function).
    https://github.com/open-mpi/ompi/pull/3640

As noted in that PR, so far I can only imagine three categories of fix:
1. don't let completion functions block like that
2. allow recursive handle_wc() while already inside a completion function
3. have some reserved reso

[2017-06-02 02:13] yukiM-fj opened #3643 "MPI_Comm_set_info error?"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

master branch(037a85a)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from a git clone

-----------------------------

## Details of the problem

I try to run [gist

[2017-06-02 02:29] ggouaillardet commented on #3643
both Open MPI and MPICH have the same behavior, this usually suggests the test program is incorrect.

from the standard (MPI 3.1 page 249)
[code]

so if we consider ```hoge``` is not a valid hint, then it makes sense it is ignored and then your test program leads to ```info not found```.

@bosilca @hjelmn @jsquyres any thoughts on that ?

[2017-06-02 04:27] bosilca commented on #3643
Short answer: yes
Long answer: after eons of discussion there seems to be a burgeoning consensus, please don't get us started [AGAIN](https://github.com/mpi-forum/mpi-issues/issues/63)

[2017-06-02 07:49] t-kurita commented on #3605
@ggouaillardet thank for your workaround and patch.

I tried it, but build failed with another error
[code]

So I modified ompi/mpi/fortran/mpiext/Makefile.am like the following patch, then build was ok.
[code]

[2017-06-02 08:14] ggouaillardet commented on #3605
thanks for the feedback.
i made #3617 to fix this issue once for all, and it is pending for review.
you also have the option to manually apply https://github.com/open-mpi/ompi/pull/3617.patch and you will be able to ```make``` in one step.
note you need recent autotools if you choose to apply #3617

[2017-06-02 09:15] t-kurita commented on #3605
thank you for reply.
I'll try your patch.

[2017-06-02 13:07] yoshihingis commented on #3625
Dear ggouaillardet,
Thank you for your advice.
I installed ssh into my docker container ,my test code operated correctly with No errors.

[2017-06-02 13:07] #3625 closed

[2017-06-02 15:35] jjhursey commented on #3538
If you take PR #3500 then you also need PR #3635

[2017-06-05 15:52] #3569 closed

[2017-06-05 20:54] bosilca commented on #3484
I have a gcc compiled version of OMPI running on an 32 bits rpi2, and I don't see this assert.

[2017-06-05 21:29] hjelmn commented on #3630
What do you see when you run with ```--mca patcher_base_verbose 100 --mca memory_base_verbose 100```?

[2017-06-05 22:56] ggouaillardet commented on #3484
In SET_BIT assert, we mix uint64_t (free_bits) and 1UL
Should we replace the latter with (uint64_t)1 ?
I will not be able to work on that issue this week...

[2017-06-06 02:13] bosilca commented on #3484
Nice catch @ggouaillardet. Based on the warnings printed during compilation it appears that on this architecture "unsigned long" is smaller than size_t, so we clearly need a uint64_t instead of the "1UL" (or things gets truncated). I made a patch (ba46b355151), let's see if it fixes the issue.

[2017-06-06 06:00] hra0031 commented on #3630
Here is output with default setting (OpenMPI 2.1.0):
[code]
and with leave pinned enabled:
[code]

[2017-06-06 09:54] cbordage opened #3657 "Cannot use rankfile option"
With the master branch of OpenMPI (ba46b35) and I have a problem when I use a rankfile.

[code]
where mf is
[code]
and rf is
[code]

If I use `hostname` instead of `./test` it works.

Since the commit 48fc339, it does not work (but the error changed, first, it was a not enough slots available problem).

[2017-06-06 13:38] jsquyres commented on #3484
@bosilca Commit ba46b35 made it *compile* on Absoft 32 bit platforms, but it still failed at run time.  [Here's some MTT results](https://mtt.open-mpi.org/index.php?do_redir=2447) showing the new assertion failure:

[code]

[2017-06-06 13:49] rhc54 commented on #3484
I need to upstream the corresponding change to PMIx and then bring that back to OMPI. I'm surprised it would compile - it's the same code in PMIx that was in OPAL.

[2017-06-06 13:52] jsquyres commented on #3484
@rhc54 Ah, I missed that this was duplicate code in PMIx.  Note that @bosilca and @ggouaillardet made a recent code change in this area in OPAL -- that's what started our journey here.  So make sure to get both commits (i.e., both 3c6631f and ba46b35).

[2017-06-06 14:03] rhc54 commented on #3484
ok, working

[2017-06-06 15:32] rhc54 commented on #3484
https://github.com/open-mpi/ompi/pull/3658

[2017-06-06 19:12] lee218llnl opened #3660 "error launching/attaching LaunchMON debugger with OpenMPI 2.1.1"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v2.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
from source tarball

### Please describe the system on which

[2017-06-06 19:18] lee218llnl commented on #3660
FWIW, I can launch/attach via LaunchMON with OpenMPI 2.0.3

[2017-06-06 22:58] rhc54 commented on #3657
The problem is that the rank on the remote node isn't getting registered - i.e., the daemon isn't successfully calling ```opal_pmix.register_client``` on the proc. This causes the PMIx connection from the process to be rejected because the PMIx server doesn't recognize the rank attempting to connect.

[2017-06-07 03:30] rhc54 commented on #3660
I won't be able to get to this right away - I'm surprised this is still using the usock component, though. I'll have to check what version of pmix is being used.

So far as I can tell, all the PR's were taken. However, it is possible that I forgot to file one for the 2.1 series. I'll check that too.

Be advised that I plan to gradually move to supporting only PMIx attach methods as we go forward.

[2017-06-07 08:56] karasevb commented on #3200
There is problem observed with **external** PMIx for v3.x (master works well).
I'm investigating it.

[2017-06-07 08:57] karasevb commented on #3200
More details:
[code]
[code]

[2017-06-07 11:57] rhc54 commented on #3200
Yes, it is waiting for a PR to update it. It's the external v1.2 that remains of concern

[2017-06-07 12:43] amckinstry commented on #3442
i've tested the commit in #3442 (log: https://buildd.debian.org/status/fetch.php?pkg=openmpi&arch=s390x&ver=2.1.1-3&stamp=1496331745&raw=0) Unfortunately s390 is still failing.

[2017-06-07 13:07] cbordage commented on #3657
Okay... So, what do you propose to solve this problem ?

[2017-06-07 13:19] rhc54 commented on #3657
I propose nothing - I was simply pointing the root cause out to others that have taken over responsibility for that mapper.

[2017-06-07 14:30] rhc54 opened #3667 "Hang in bcast_intra_generic"
This is occurring on master and v3.x, but only in a very specific use-case (which is why it isn't getting picked up in testing). The problem occurs when we are executing a dynamic operation (spawn, connect/accept, etc.) on two nodes where the number of participating procs is identical on each node:

After the child procs successfully start up, everything hangs in bcast_intra_generic:
[code]
The fu

[2017-06-07 14:31] rhc54 commented on #3667
Here's the command line: ```mpirun -n 2 --map-by node ./simple_spawn``` using the simple_spawn program in orte/test/mpi

[2017-06-07 19:11] hjelmn commented on #3630
Hmm, the overwrite patcher is missing. Can you create a gist with the config.log for your build?

[2017-06-07 20:16] bosilca commented on #3667
Are we receiving the modex info for the spawned processes ?

[2017-06-07 20:22] rhc54 commented on #3667
Given that it works whenever the number of procs is uneven on the nodes, it would seem odd that it would be missing modex info causing the problem. Not ruling it out, but seems weird that the modex would fail in only that one case.

[2017-06-07 20:34] bosilca commented on #3667
From the MPI perspective there is no such things as spawned processes, as once they are integrated into a communicator they are just processes. So if the MPI_Bcast works for 4 processes spawned by the same mpirun, then it should work for 4 processes from different jobid, as long as we can extract their BTL information from the modex.

Let me try to replicate this.

[2017-06-07 20:53] rhc54 commented on #3667
ok - thanks!

[2017-06-07 22:44] bosilca commented on #3667
I tried to put myself in the same situation. I have a hostfile with 2 names (slots=20), and I use your command line to start the job. I modified the spawner to only have an even number of processes (2, 4, 8), so that they can evenly divide across the 2 nodes. The tests completes every time. I did ensure that the processes are evenly divided across the nodes.

[2017-06-07 23:13] rhc54 commented on #3667
Hmmm...ok, that's a very interesting data point. Let me dig further. Thx!

[2017-06-08 00:09] ggouaillardet commented on #3667
@rhc54 is the app hanging when receiving data from the same node or a remote node ?
which btl(s) are you using ?
what if you ?
```mpirun --mca btl tcp,self ...`

[2017-06-08 02:18] rhc54 commented on #3667
I honestly don't know where the collective is hanging. I tried with tcp,self, but the behavior is the same. It isn't even a race condition as it happens every single time.

My scenario is, however, a little different than what @bosilca described. The parent has an equal number of procs on the two nodes, but then it spawns 3 children that are unevenly distributed across the nodes. I modified simple

[2017-06-08 02:32] ggouaillardet commented on #3667
i can reproduce the issue :-)
note i am unable to reproduce it if the node on which ```mpirun``` is invoked is not part of the host list
i will dig a bit

[2017-06-08 02:50] ggouaillardet commented on #3667
@rhc54 this is the state of the program
- all 3 children are stuck in bcast at ```dpm.c:239```
- parents 1-3 are stuck in bcast at the same location ```dpm.c:239```
- parent 0 is stuck in ```OPAL_PMIX_EXCHANGE``` at ```dpm.c:221```

in the children, ```root``` is ```0``` __but__ ```rank``` are ```{1,2,2}```
(e.g. there is __no__ child with ```rank == root```)
that explains the hang, but not the ro

[2017-06-08 02:52] rhc54 commented on #3667
Hmmm...that definitely sounds like something going wrong in the orte backend mapper assigning the wrong ranks

[2017-06-08 02:58] ggouaillardet commented on #3667
yep, i used this patch to evidence the issue
[code]

[code]

[2017-06-08 02:59] rhc54 commented on #3667
Okay, I guess I can pursue from there (unless you have time and would like to dig deeper). Truly appreciate the debug assist! Someday I'll get a parallel debugger 😄

[2017-06-08 03:56] ggouaillardet commented on #3667
i do not have much time unfortunatly ...
btw, ```padb``` does a very decent job at collecting and aggregating/grouping stack traces, and it is free

[2017-06-08 16:55] opoplawski opened #3680 "Compile error on i386"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

openmpi 2.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Compiling Fedora package

### Please describe the s

[2017-06-08 17:23] #3667 closed

[2017-06-08 20:20] mathbird opened #3681 "About HCOLL Bcast in OMPI"
Hi,

Attached is a simple BCAST test  with a derived type with MPI_UB.  Using HCOLL, it gave us the following error message, although the test passed correctly.

_Failed to query dtype contents_

in coll/hcoll/coll_hcoll_ops.c, changing the following line in the function mca_coll_hcoll_bcast lets the msg gone.

    //dtype = ompi_dtype_2_hcoll_dtype(datatype, TRY_FIND_DERIVED);
    dtype = ompi_dt

[2017-06-09 03:19] karasevb opened #3683 "OMPI/master failures with set the specifying host"
There is failure for the follow cmd: `./mpirun --host cn06 hostname`. This is found only for `master`, it doesn't happen with `v3.x` and `v3.0.x`.

[code]
[code]

[2017-06-09 03:45] rhc54 commented on #3683
Odd - it's working fine for me:
[code]
The referenced line in nidmap.c is a print statement - can you look at the core file and see which value is bad?

[2017-06-09 03:51] karasevb commented on #3683
@rhc54 it's here:
[code]

[2017-06-09 03:54] rhc54 commented on #3683
I'm guessing that the node where mpirun is executing is not in the allocation?

[2017-06-09 03:57] rhc54 commented on #3683
See if https://github.com/open-mpi/ompi/pull/3684 helps

[2017-06-09 04:08] karasevb commented on #3683
Check that node in the allocation:
[code]
I tried run for `cn06`, which included in the allocation, for that case `tp->t` is `NULL`.
But then I ran for `cn05` (which excluded), I got this:
[code]
[code]

[2017-06-09 04:10] rhc54 commented on #3683
Well, it would be better if it didn't segfault, but you can't launch on a node that isn't in your allocation. Slurm won't allow it.

[2017-06-09 04:13] karasevb commented on #3683
@rhc54 I'll check.

[2017-06-09 04:45] karasevb commented on #3683
@rhc54 #3684 fixes the first problem.
But the second problem still remains

[2017-06-09 11:27] hra0031 commented on #3630
This one is from master branch: [link](https://gist.github.com/hra0031/672fd0f90fc894ae38f78c8f5fc48b6f)

[2017-06-09 11:30] vspetrov opened #3685 "Correctness failure when using BTL RDMA"
Thank you for taking the time to submit an issue!

## Background information
Possibly related to the "patcher" memory framework

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v2.0.x
v2.x
master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc

[2017-06-09 13:06] jladd-mlnx commented on #3681
Hi,

Which version of OMPI are you using? We are looking at it.

Josh

On Thu, Jun 8, 2017 at 4:20 PM, Dahai Guo <notifications@github.com> wrote:

[2017-06-09 13:11] mathbird commented on #3681
I am using master branch, so I believe 2.x also has the same issue.

[2017-06-09 13:46] jladd-mlnx commented on #3681
MPI_LB and MPI_UB are deprecated, and should not be used anymore. I think that's why you're seeing the message. We don't support this datatype in HCOLL.

[code]

[2017-06-09 14:28] jladd-mlnx commented on #3681
In this case, HCOLL is unable to create an internal HCOLL datatype from the MPI datatype, and so it falls back to the Tuned Bcast. This is not a bug, and the HCOLL error is correct.

When passing `NO_DERIVED` as the second argument to `ompi_dtype_2_hcoll_dtype`, you do not attempt to create an HCOLL datatype and end up returning `DTE_ZERO` as the HCOLL datatype from `ompi_dtype_2_hcoll_dtype` and

[2017-06-09 14:33] #3681 closed

[2017-06-09 14:33] jjhursey commented on #3681
Yeah it's not a bug in hcoll. As Dahai mentioned the test passes fine. It's just an annoying error message that cannot be suppressed (as far as I know).

[2017-06-09 14:51] jladd-mlnx commented on #3681
It cannot be suppressed. We will take a look and determine if we want to reduce the verbosity of the HCOLL datatype code in this instance for the HCOLL v3.8 release.

[2017-06-09 14:51] mathbird commented on #3681
why some other collective functions choose NO_DERIVED ?

[2017-06-09 15:19] jladd-mlnx commented on #3681
Because some HCOLL algorithms can support hardware assisted scatter gather types of operations and we need the HCOLL datatype map (e.g. Bcast) and others (most) have not been designed to do so. When we do add support for hardware scatter gather capabilities to an algorithm, then we will change OMPI entry point to `TRY_FIND_DERIVED`.

[2017-06-09 16:50] jjhursey commented on #1970
It's not a full update, but I filed a PR to work around 4 known missing MPI operations in ROMIO 3.1.4 (they are fully implemented in the 3.2 and later series).
 *    https://github.com/open-mpi/ompi/pull/3688

[2017-06-09 20:01] markalle commented on #3616
@jsquyres Do you remember who said this could be solved easily by changing the ompi_osc_rdma_lock_release_exclusive() function, saying it didn't really need to block and was just written that way to be easier?

Geoffrey thought it was Nathan, I thought it was George. I wanted to click them in as assignees on this one.

[2017-06-09 20:05] jsquyres commented on #3616
If I had to guess: @hjelmn said it.

[2017-06-09 21:12] hjelmn commented on #3616
I said it. It shouldn't take long to update.

[2017-06-12 07:38] ggouaillardet commented on #3680
@opoplawski i checked the fedora logs and last build was successful. shall i consider the problem as solved ?
fwiw, i noted the successful build refers arch i686 whereas the failed one refers arch i386.

i also noted some errors in the logs caused by the missing ```hostname``` command.
i made #3691 to fix that, and for the time being, i suggest you update your ```openmpi.spec``` file and requires

[2017-06-12 14:52] jladd-mlnx commented on #3685
@markalle @jjhursey @gpaulsen is this something you've observed in your testing?

[2017-06-12 17:27] jjhursey commented on #2966
There was a request to re-assess this ticket after PR #3661 - I did so and the problem still persists. We'll continue to investigate.

[2017-06-12 19:27] gpaulsen commented on #3685
Yes, we're struggling with some issues around patcher right now as well on ppc64le.  Still trying to root cause.

[2017-06-12 19:39] jladd-mlnx commented on #3685
Thanks, @gpaulsen. This was actually reported to us by an IBM test engineer who thought it was an HCOLL issue. @vspetrov 's report is what we've been able to make of it - that it's most likely patcher related and not an HCOLL bug.

[2017-06-12 20:06] opoplawski commented on #3680
Ah, looks like something got messed up with the Fedora build system for a bit then.  Sorry for the noise.

[2017-06-12 22:54] wkliao opened #3695 "Segmentation fault when opening a file"
I am encountering a Segmentation fault when using a communicator created from MPI_Cart_create in 3D, using OpenMPI version 2.1.0 and Intel C compiler 17.0.0 on a Linux Ubuntu machine.

The gdb trace points to a possible cause at line 914 of file io_ompio_file_open.c
[code]
The size of coords_tmp is too small for 3D coordinate communicators while ompio_fh->f_comm->c_topo->mtc.cart->ndims is 3.

Bel

[2017-06-12 23:01] edgargabriel commented on #3695
thanks for the bug report, I will look into this.

Thanks

Edgar

On 6/12/2017 5:54 PM, Wei-keng Liao wrote:

[2017-06-13 00:09] ggouaillardet commented on #3695
according to gdb, the issue is that ```ompio_fh``` is ```NULL```

[2017-06-13 00:16] ggouaillardet commented on #3639
@bwbarret can you please confirm that now #3675 has been merged, the issue is resolved ?

[2017-06-13 00:42] edgargabriel commented on #3695
Without having looked into this, I suspect that Wei-keng is correct in his analysis. All of our test cases for the cart-grouping are based on 2-D cartesian topologies, I need to add a 3-D test case (or prevent ompio entering this code section if the current code can not easily be extended to 3-D an higher dimensional topologies).

[2017-06-13 01:13] bwbarrett commented on #3639
Yup, looks good!

[2017-06-13 01:13] #3639 closed

[2017-06-13 01:50] wkliao commented on #3695
My digging is when line 966 calls mca_topo_base_cart_coords() with cart_topo.ndims being 3, but coords_tmp[] has only two elements, the function mca_topo_base_cart_coords is assigning a value to coords_tmp[2] which is out of bound and may cause ompio_fh to become NULL.
[code]
In file ompi/mca/topo/base/topo_base_cart_coords.c, line 56 is accessing  coords_tmp[2].
[code]

[2017-06-14 08:20] yosefe opened #3697 "Hang in mca_mpool_hugepage_module_init() on ARM64"
## Background information

[code]

* Operating system/version: **RedHat 7.2**
* Computer hardware: **aarch64 (ARM 64-bit)**
* Network type:  **Infiniband**

-----------------------------

## Details of the problem

A hang in ctxalloc test during MPI_Init.
Similar hang is observed in many other tests.
ctxalloc can be found [here](http://trac.mpich.org/projects/mpich/browser/test/mpi/comm/ctxalloc.c

[2017-06-14 11:07] winash12 opened #3698 "Double free or corruption with Open MPI and gfortran"
Thank you for taking the time to submit an issue!

## Background information

I am running a computational fluid dynamics software

This is the output of lscpu

CPU(s):                4
On-line CPU(s) list:   0-3
Thread(s) per core:    2
Core(s) per socket:    2
Socket(s):             1

and I am running OpenMPI's mpirun in the following way

mpirun -np 4 cfd

### What version of Open MPI are you

[2017-06-14 11:58] winash12 commented on #3698
As suggested by experts here I checked to see if LD_LIBRARY_PATH and PATH had any issues I only have one current installation of OpenMPI in /usr/local/lib.

I also ran the example hello_oshmemfh from the examples directory and this is the output of that program for OpenMPI 1.10.1
 mca: base: component_find: unable to open /usr/local/lib/openmpi/mca_ess_pmi: /usr/local/lib/openmpi/mca_ess_pmi.so: u

[2017-06-14 13:22] shamisp commented on #3697
Does it hang forever in nanosleep() ?

On Wed, Jun 14, 2017 at 3:20 AM, Yossi Itigin <notifications@github.com>
wrote:

[2017-06-14 15:30] yosefe commented on #3697
Unlikely, this is a fixed 100ns interval"
``
    static struct timespec interval = { .tv_sec = 0, .tv_nsec = 100 };
    nanosleep (&interval, NULL);
``

[2017-06-14 16:20] jsquyres commented on #3697
Can you provide more information about what exactly is hanging?  I.e., this is clearly one stack trace of the hang, but it must be looping on something that never completes.

[2017-06-14 16:37] shamisp commented on #3697
@yosefe can I reproduce this with a single node ? Do I really need IB for this ? thanks

[2017-06-14 16:42] bosilca commented on #3697
You don't need IB for this, just force the load of hugepage mpool. Also, this seems to happen in a very peculiar place, during a lifo_pop operation, which in this particualr context use the conditional load/store of the ARM64. As our tests pass on ARM64, I don't think the issue is in the atomic itself, but instead in the way the rb tree is initialized or how the freelist is grown in this particula

[2017-06-14 16:59] shamisp commented on #3697
is this a multi-thread run ? how many threads ?

[2017-06-14 19:56] bosilca commented on #2227
@rhc54 I can confirm that orte_proc_is_bound seems to always be set, even when I expressly request "--bind-to none". If I add '--report-bindings --display-map" I see what I expect: the processes are not bound.
[code]

[2017-06-14 20:10] rhc54 commented on #2227
is this on master?

[2017-06-14 20:12] bosilca commented on #2227
On my fork. I sync it with OMPI master yesterday so it should be pretty much up-to-date.

[2017-06-14 20:23] rhc54 commented on #2227
Got it - PR in progress

[2017-06-14 20:23] rhc54 commented on #2227
See https://github.com/open-mpi/ompi/pull/3699

[2017-06-14 20:39] bosilca commented on #2227
Thanks @rhc54. I'll check it right away.

[2017-06-14 21:11] GuillaumeMercier commented on #2227
That leaves the question open: how does ORTE make the difference between unbound and N/A statuses?

[2017-06-14 23:01] rhc54 commented on #2227
What do you mean by "N/A"? You are either bound or not bound, yes?

[2017-06-15 00:14] ggouaillardet commented on #3698
@winash12 if you ```make install``` over a previous install, __some__ files will be overwritten, but __not__ all of them.
so i suggest you manually cleanup ```/usr/local/lib``` and then ```make install``` again.

an other option is to
[code]
assuming your ```LD_LIBRARY_PATH``` does not explicitly refers ```/usr/local/lib```, you should be just fine with
[code]

as i wrote earlier in the ML, i do i

[2017-06-15 02:23] winash12 commented on #3698
@ggouaillardet - All your suggestions are appreciated. Please give me couple of days to get back to you and this forum after testing the ideas you have provided in ML and here. Thank you again for your time and your suggesions.

[2017-06-15 06:52] GuillaumeMercier commented on #2227
Ok, let me specify what I meant: when running a 2-process app on my single-socket machine, when I use the --bind-to socket option , the process manager outputs:
Process OMPI jobid: [38185,1] App: 0 Process rank: 0 Bound: N/A
Process OMPI jobid: [38185,1] App: 0 Process rank: 1 Bound: N/A
But when I use --bind-to socket it outputs:
Process OMPI jobid: [38145,1] App: 0 Process rank: 0 Bound: UNBOUND

[2017-06-15 08:12] bgoglin commented on #3657
@rhc54 (cbordage is from my team) So if rankfile mapper isn't maintained anymore, what should we use to manually specify the binding of each rank? They currently use the rankfile for topology-aware process placement after offline analysis of the communication pattern.

[2017-06-15 13:46] jjhursey commented on #3657
IBM is planning on picking up support for the rankfile mapper. However, it is going to be another week before we (I) get a chance to look at this. I don't think there is any alternative means of a manual per-rank binding specification outside of the rankfile.

I suppose if you really needed it today you could implement a wrapper program that uses hwloc to bind processes and fork the actual applica

[2017-06-15 15:36] rhc54 commented on #3657
Fix is in the oven

[2017-06-15 16:04] rhc54 commented on #2227
I believe the difference is that, in the first case, you specifically asked us to ignore binding, and so the "bound" flag indicates it isn't applicable. In the second case, we are supposed to bind to socket, but there is only one socket - thus, it is reporting "unbound" because the proc is actually bound to every available processor on the node, which is the same thing as being "unbound".

The res

[2017-06-15 17:06] #3657 closed

[2017-06-15 19:20] edgargabriel commented on #3695
I have a fix pending on this issue, and I will file PRs for the 2.1.x and 3.0.x for the first part of that.

The longer story: the cartesian grouping based algorithm has unfortunately been left out in the rewrite of the aggregator selection algorithms two years (or so) back . It is called at the wrong place (file_open instead of file_set_view), and it can not deal with any other cart topology than

[2017-06-15 19:57] dalcinl opened #3705 "Fixing dlopen() the MPI shared library with RTLD_LOCAL"
The lack of support for dlopen()ing the MPI shared library within a local namespace has been a recurrent issue for implementors of MPI bindings in dynamic languages like R, Julia, Python. Even the Java JNI bindings you guys distribute have to resort to the hack of re-dlopening the library with `RTLD_GLOBAL` before the invocation of `MPI_Init()`. I complained about this ages ago, it was never fixed

[2017-06-15 23:00] rhc54 commented on #3660
Hmmm...well, the code supporting the debuggers has clearly not been updated. Not entirely sure why - probably my fault (most likely forgot to file, I suppose). Anyway, I'll create a patch.

[2017-06-16 01:54] rhc54 commented on #3660
See the referenced PR for fix - please let us know if it resolves the problem. I tested it with both launch_1 and attach_1.

[2017-06-16 07:03] t-kurita commented on #3605
@ggouaillardet I manually applied your patch https://github.com/open-mpi/ompi/pull/3617.patch.

Then I could `make` in one step.

Build for MPI extension example `ompi/mpiext/example` and my MPI extension using use-mpi-f08 were OK.

[2017-06-16 16:42] gpaulsen commented on #2966
I thought we'd agreed not to support 32bit anymore in master.

[2017-06-16 16:59] jjhursey commented on #2966
I can reproduce this on the 64 bit default build. I think the `32 bit` from the original message was a MTT config mistake on our end.

[2017-06-16 17:45] lee218llnl commented on #3660
This looks good to me, thanks!

[2017-06-16 19:13] gpaulsen commented on #3538
I created the release branch PRs:
v2.0.x https://github.com/open-mpi/ompi/pull/3711
v2.x https://github.com/open-mpi/ompi/pull/3710
v3.0.x https://github.com/open-mpi/ompi/pull/3712

[2017-06-19 07:33] GuillaumeMercier commented on #2227
no, there is a difference to me:  in the case where the user did not specify a binding, I can then enforce a binding of my own. In the other case, the user specified something: maybe he will create an OpenMP parallel section that will need the cores. But in this case, I should not enforce ant binding whatsoever. And I'd like to handle both cases correctly, hence my question.

[2017-06-19 08:19] ggouaillardet commented on #2227
what do you mean by "the user does not specify a binding" ?
do you mean ```--bind-to none``` ?

if you are running on a single socket, ```--bind-to none``` and ```--bind-to socket``` will have the same behavior (not binding equals binding to all cores) but it might be reported differently (e.g. ```N/A``` vs ```UNBOUND```)

i am not sure of what you are trying to achieve and how, but you might want

[2017-06-19 08:23] GuillaumeMercier commented on #2227
Yes, I mean --bind-to none. I agree that on a single socket, --bind-to none and --bind-to socket will have the same behaviour but the fact is that the user does not specify the same thing and that's I want to handle. Actually, I'd like to handle the case that you reported to me months ago.  I tried to check  the orte_proc_is_bound variable but it seems to be set to TRUE regardless of the situation

[2017-06-19 16:13] yosefe commented on #3697
@shamisp it's looping in https://github.com/open-mpi/ompi/blob/d7ebcca93fc86796e0d43997935539b1e922a1f1/opal/class/opal_lifo.h#L224, changing to atomic_mb() does not help.
it can be reproduced on 1 node.
disabling hugepage mpool moves the hange to another place - so it's something more fundamental:
[code]

[2017-06-19 16:16] yosefe commented on #3697
command line on single node:
[code]

[2017-06-19 19:49] jsquyres commented on #3035
@bosilca @rhc54 Is this open github issue related to the issue we discussed over this past weekend?  This issue was reported quite a while ago -- before the current TCP verbosity about unknown peers -- so the output is different, and I can't easily tell if the stuff this past weekend was another symptom of this same issue.

Here's what I mailed @rhc54 and @bosilca this past weekend:

[code]

@bosi

[2017-06-19 19:54] jsquyres opened #3718 "TCP BTL progress thread RDMA assertion fail"
Got an interesting TCP BTL fail in Cisco's MTT today, when running with the TCP progress thread on master with one-sided tests:

[code]

@bosilca Can you have a look?

@hjelmn ...or is this an OSC issue?

[2017-06-19 21:22] markalle commented on #2614
I had been meaning to re-evaluate this one for a while. I built a vanilla OMPI v2.0.x with --enable-mpi-thread-multiple, and my results were:

mpirun -mca osc rdma -host hostA:2 ... :  passed
mpirun -mca osc rdma -host hostA:4 ... :  passed
mpirun -mca osc rdma -host hostA:1,hostB:1 ... :  segv quickly
mpirun -mca osc pt2pt ... : message that "OSC pt2pt component does not support MPI_THREAD_MULTIP

[2017-06-19 21:32] bosilca commented on #3035
I don't think these two issues are connected, because in order to be registered with the mca_btl_tcp_progress_thread_engine a peer need to successfully pass the connection step (which is what fails on the issue we were discussing this weekend).

[2017-06-19 23:32] gpaulsen commented on #3705
It looks like  mca_patcher_overwrite.so is really looking for libopen-pal, so perhaps we should add the dependency to THAT rather than libmpi which has the sideeffect of loading libopen-pal.

[2017-06-20 05:58] kawashima-fj commented on #3697
I can reproduce the hang on my ARM64 machine.

Open MPI: openmpi-v2.x-201706150321-b562082 (nightly snapshot tarball)
CPU: Cavium Thunder X (ARMv8 (64-bit))
OS: CentOS Linux release 7.2.1603 (AltArch)
Compiler: GCC 4.8.5 (in CentOS)
configure option: `--enable-debug` or `--disable-debug`
compiler option: `-O0`

I cannot reproduce the hang with `-O2` (either `--enable-debug` or `--disable-debug`).

[2017-06-20 08:25] dalcinl commented on #3705
Well, yes, of course. Ideally, each plugin should link to the exact libs they use. But IIUC, some other components do depend on libmpi. As I don'k now well the plugin dependencies, I abused a little and linked libmpi to all plugins. This is not the cleanest way of doing it, but certainly the easiest to maintain as  start add new plugins. Please note the output I pasted is just the fist line. Fixin

[2017-06-20 15:12] bwbarrett commented on #3200
#3677 is merged, so we should be good, correct?

[2017-06-20 15:13] artpol84 commented on #3200
Yes

[2017-06-20 15:14] #3200 closed

[2017-06-20 15:24] jjhursey opened #3720 "Missing Memory barriers in PMIx"
For the v3.0 release we need to integrate the latest PMIx v2.0 release which includes memory barriers important to the PowerPC and ARM architectures (but not limited to those architectures).

 * PR #3696 Brings this into `master` which (once finished) needs to be PR'ed to `v3.0.x`

[2017-06-20 17:09] wkliao commented on #3195
Just to ping this issue. Will there be a fix in the future for the 32-bit machines?

One of PnetCDF users reported this same problem today.
He is using OpenMPI 1.10.6 and OpenMPI 2.1 on a 32-bit machine.

[2017-06-20 18:33] markalle commented on #2530
I guess we've got two issue reports opened for the same testcase, one for osc=rdma (2530) and one for osc=pt2pt (2614). I updated the other bug report, but will paste the same info here:

I built a vanilla OMPI v2.0.x with --enable-mpi-thread-multiple, and my results were:

mpirun -mca osc rdma -host hostA:2 ... :  passed
mpirun -mca osc rdma -host hostA:4 ... :  passed
mpirun -mca osc rdma -host

[2017-06-21 14:47] jsquyres opened #3726 ""mpirun --leave-session-attached" hangs in Cisco MTT runs under SLURM"
Over the past week or so, Cisco's MTT runs had 100% hangs (i.e., timeouts) across master, v2.0.x, v2.1.x, and v3.0.x.  Jeff+Ralph narrowed the problem down to the use of `--leave-session-attached` in Cisco's MTT setup (which had been a recent addition, in an attempt to track down a different problem).  Removing `--leave-session-attached` fixed the timeouts.

We did a bunch of investigation to try

[2017-06-21 15:41] jjhursey commented on #3720
Fixed in PR #3696

[2017-06-21 15:41] #3720 closed

[2017-06-21 15:43] hjelmn commented on #3697
Does it run with --disable-builtin-atomics?

[2017-06-21 15:44] hjelmn commented on #3576
Can this be closed?

[2017-06-21 19:28] rhc54 commented on #3726
One possibility - we do have the --kill-on-bad-exit option set on the srun cmd line. It could be that somehow that is getting invoked, which would explain where the signal 9 is coming from. We could remove that option in a test branch and see if it makes a difference, if you want to try?

[2017-06-22 03:42] kawashima-fj commented on #3697
@hjelmn Builtin atomics are disabled by default in v2.x branch. I enabled BUILTIN_GCC (`__atomic_*`)  by `--enable-builtin-atomics`. Then `make check` (which includes three test programs above) passed without hang. Both `-O0` and `-O2` were tested.

[2017-06-22 14:29] hppritcha commented on #3075
Should we just update the compiler section of the NEWS and close this issue.  Picture is cute but cobol would probably be more relevant.

[2017-06-22 14:37] jjhursey commented on #3075
I think we should add a note to the `NEWS` or `README` whichever you think is most appropriate.

I'd like to keep this issue open until we have a final solution from the providers. There is nothing OMPI needs to do, but this ticket will give the providers a point of reference when we follow up.

I received this email from the PGI folks regarding the problem.

a bad dynamic link.  The error will go

[2017-06-22 16:10] jjhursey commented on #3075
Here is the binutils Bugzilla link:
  * https://sourceware.org/bugzilla/show_bug.cgi?id=21306

It looks like it'll be fixed in the 2.28 release.

[2017-06-22 20:40] bwbarrett commented on #665
@hjelmn @bosilca, since any reason we couldn't just move the increment/decrement out of add_procs/del_procs and into connection establishment?  Yeah, it would mean a small latency increase on first communication, but should be simpler than a listen thread.  The event library is still being called when the progress counter is decremented, it's just being called less frequently (looks like every 1 m

[2017-06-22 20:48] hjelmn commented on #3442
We don't have atomics for s390 and it looks like the gcc builtins are not enabled in your build. Try adding --enable-builtin-atomics to your configure line.