[2017-01-17 22:37] rhc54 commented on #2737
Agreed! I can implement this in OMPI master for you so we can try it out - will try to have it for you in the next day.

[2017-01-17 22:38] artpol84 commented on #2737
Great, thank you!

[2017-01-18 07:22] bosilca commented on #2743
Tim, the provided reproducer is wrong. You are computing the size of your buffers (send and receive) in floats, but then you use the dt_yzplane as a datatype in the MPI_ALLGATHER function. This lead to moving data outside the legal boundaries of your allocated buffers, action that usually ends with a segfault. If I replace the 2 uses of dt_yzplane in the allgather with MPI_FLOAT (which should be t

[2017-01-18 08:37] tjb900 commented on #2743
Hi Bosilca,

While I am certainly willing to believe I'm wrong, I don't agree with your interpretation in this case.  The counts and displacements are all in terms of the x coordinate only - very small numbers.  Changing the type of the MPI_Allgatherv to float will mean that only 1601 floats are exchanged.

Do you mind taking another look?

Thanks!
Tim

[code]

[2017-01-18 15:37] bosilca commented on #2743
I just did ;) Thanks for insisting, you were right the displacement and the count were correctly computed to fit in the receive buffer. It turned out the issue was deep inside out TCP transport, but 999d4973a should fix it.

[2017-01-18 15:37] bosilca commented on #2743
This issue is now fixed in master.

[2017-01-18 15:37] #2743 closed

[2017-01-18 15:38] bosilca opened #2750 "TCP fixes"
999d4973a needs to be cherry-picked.

[2017-01-18 15:39] bosilca opened #2751 "TCP fixes"
999d4973a needs to be cherry-picked.

[2017-01-18 17:03] tjb900 opened #2754 "Issues with opal session dir caused by change to opal/util/os_dirpath.c"
Hi!

Sorry to hassle you guys again.  We are just in the process of trying to migrate to v2.x, and are hitting a condition that appears to have been introduced in 58d1b3f4d0e295184c25bca862eb0aadd0799c87.

Some of our nodes have a per-job TMPDIR on Lustre, and we are getting tripped up because when calling mkdir on an existing path, where the user would not have permissions to create the directory

[2017-01-18 18:30] rhc54 commented on #2754
it looks like this was intended as an optimization so we didn't check for existence before doing mkdir. should be a trivial change to check eaccess, and then if we fail in the next step it won't hurt

[2017-01-18 19:07] rhc54 commented on #2754
now that is interesting - the referenced change was never done in OMPI's master! It somehow went directly into the release branch. I'll have to talk to the release managers about how they want to address it.

[2017-01-18 19:55] tjb900 commented on #2754
It seems to be an ancestor of master now though?

On the topic of the return code - it seems to me that if the stat() after the mkdir failure succeeds, then we should just move on regardless of mkdir's errno?  Just need to keep it in case the stat fails, so we can report why we couldn't make it exist.

Happy to submit a patch later this evening.

[2017-01-18 19:57] rhc54 commented on #2754
We require that patches go into master first so we can fully check them out prior to going into a release branch, so this one somehow didn't follow the normal route. Regardless, I have a fix coming shortly.

[2017-01-18 20:56] matcabral commented on #2644
(Catching up after vacations)
@ggouaillardet  --with-psm2 works fine.
@bosilca as @hppritcha mentions, I also tested applying #2448 on 2.0.x makes not change on the latency degradation. Just to be on the same page, I'm not building multithreaded.

[2017-01-19 00:16] ggouaillardet commented on #2754
@rhc54 this was committed into master before we fork the v2 branches.
if you look at https://github.com/open-mpi/ompi/commit/58d1b3f4d0e295184c25bca862eb0aadd0799c87 just above the commit date, there is an information that this commit is present in
- ```master``` (as part of PR #601)
- ```v2.0.x```
- ```v2.x```

i will comment on directly on #2756

[2017-01-19 00:21] rhc54 commented on #2754
Odd - the copy of master I have doesn't match that code at all. In fact, it looked exactly like the code prior to your change. Did someone later revert your change?

[2017-01-19 00:29] ggouaillardet commented on #2754
4b47daeeb03f1d28dc57969380763b86e26e52e4 and 8fd1c3f0df6d520d9d3985684848a033254d7862 update that.
these commit only improve the error message (e.g. they do not change the logic of 58d1b3f4d0e295184c25bca862eb0aadd0799c87, ```mkdir()``` first and then ```stat()```)

[2017-01-19 14:16] broukema opened #2761 "FAQ rsh_agent option deprecation is incorrect"
On http://www.open-mpi.de/faq/?category=rsh
there is some deprecation information:

which appears to me to be wrong in v2.0.2~git.20161225-8 (debian) and the present github master branch.

For example, lines 182-189 of

https://github.com/open-mpi/ompi/blob/master/orte/mca/plm/rsh/plm_rsh_component.c

indicate that pls_rsh_agent and orte_rsh_agent are flagged as deprecated, but plm_rsh_agent
is va

[2017-01-19 21:53] hppritcha commented on #2750
@jsquyres I'll open PRs for this.

[2017-01-19 22:29] markalle commented on #1654
I'm still concerned that the fix in 2719 may be too specific based on the above description that "vma lock is recursive so in general it is safe to do just about anything while holding the lock".

What makes 1654 a hang is the fact that someone holding vma_lock calls free() or otherwise does something non-trivial in glibc. vma_tree_delete() is one case of that, but no vma_lock holder anywhere can

[2017-01-20 12:29] jsquyres commented on #2750
Thanks Howard.

[2017-01-20 18:59] jlost opened #2770 "ppc64le: make errors in compress.c"
Hi, I'm on a POWER8 RHEL 7.1 machine trying to compile the master branch with gcc/g++/gfortran.

After configuring with no parameters and trying to make, I get the following errors in util/compress.c:

[code]

I ran into a similar problem with the xlc/xlC/xlf compilers.

[Complete make output](https://github.com/open-mpi/ompi/files/720248/make.txt)

[2017-01-20 19:40] jlost commented on #2770
Tried building again, this time with v2.0.0 and xlc/xlC/xlf and did not run into this issue, so it must have been introduced in the meantime.

[2017-01-20 19:56] rhc54 commented on #2770
sorry about that - fix coming

[2017-01-20 22:15] nrgraham23 commented on #2116
This problem was traced to PSM/PSM2 and is documented in the Java bindings section of the OMPI FAQ.  Closing this issue.

[2017-01-20 22:15] #2116 closed

[2017-01-23 10:49] njoly opened #2782 "Small typo in MPI_Win_get_name(3) man page"
Hi,

Just noticed a small typo in the MPI_Win_get_name(3) man page in the "OUTPUT PARAMETERS" section, that exists in all branches: master, v2.x, v2.0.x and v1.10.

njoly@issan> grep -C4 Tame ompi/mpi/man/man3/MPI_Win_get_name.3in
.SH OUTPUT PARAMETERS
.ft R
.TP 1i
win_name
the Tame previously stored on the window, or an empty string if no such name exists (string).
.TP 1i
resultlen
Length of retu

[2017-01-24 00:09] #2782 closed

[2017-01-24 09:27] karasevb commented on #2737
The cause of increasing the `dstore` files of segments is wrong use the sessions into PMIx. The [`orte-dvm` creates the PMIx name space](https://github.com/open-mpi/ompi/blob/master/opal/mca/pmix/ext2x/pmix2x_server_south.c#L151) for some needs and not releases it in during work. And each `orterun` initializes own nspace, it must to clean the own files of segments. But It not happens, because the

[2017-01-24 17:51] hppritcha commented on #2751
closed via #2767

[2017-01-24 17:51] #2751 closed

[2017-01-24 17:57] jsquyres opened #2799 "v1.10, v2.0.x, and v2.x: Endless loop in the stack trace output"
@hjelmn found a case on a PSM2 cluster where he runs into an endless loop with backtrace output when an MPI process crashes.  In discussion in the Jan 2017 F2F meeting, we think it might not be related to PSM, but possibly something odd in the backtrace code.  @hjelmn is investigating, and will also investigate whether this affects the 2.0.x and 2.x branches.  It definitely does affect the v1.10 b

[2017-01-24 17:58] jjhursey commented on #2799
Related https://github.com/open-mpi/ompi/pull/1781

[2017-01-24 18:23] jsquyres opened #2801 "v1.10, v2.0.x, and v2.x: Endless loop in the stack trace output"
See https://github.com/open-mpi/ompi/issues/2799.  Just filing this duplicate for the v2.0.x milestone.

[2017-01-24 19:17] hppritcha opened #2802 "remove --enable-heterogenous configury option"
Mixed big endian/little endian no longer works in Open MPI and there are no plans currently to fix it.  To avoid user confusion, remove the configure --enable-heterogenous option.  Related to issue #639.

Rather than just removing entirely from the configury, it would be better to have configure print out an error message if this option is attempted and abort.

[2017-01-24 19:18] hppritcha commented on #639
Moving this to future because we have no plans to fix ```--enable-heterogenous```.

[2017-01-24 19:18] jsquyres commented on #168
This appears to be a(n older) dup of #639, and is now moot due to #2802.

[2017-01-24 19:18] #168 closed

[2017-01-24 19:22] jsquyres commented on #1405
Per F2F Jan 2017 discussion, @hppritcha and @jsquyres are ok if this comes in v2.1.x, even if x>0.

[2017-01-24 19:27] jsquyres commented on #1450
This is already done.

[2017-01-24 19:27] #1450 closed

[2017-01-24 19:28] jjhursey commented on #2072
PR #2286 was merged in, but we are waiting for PMIx v1.2.1 release which includes some scalability improvements. See Issue #2744 for more details (maybe close this as a dup?)

[2017-01-24 19:30] hppritcha commented on #2160
@bosilca says this can be closed so closing it.

[2017-01-24 19:30] #2160 closed

[2017-01-24 19:34] jsquyres commented on #2067
Per Jan 2017 F2F discussion: the only single-threaded issue that still needs to remain open is #2161 (OOS issues in openib).

In the multi-threaded case, fixing the performance will be... challenging.  And will remain challenging.  😄  The MPI-3.0 spec is (very) likely to include an info key that allows relaxing ordering of matching, which is the user-level workaround for this issue.

[2017-01-24 19:34] #2067 closed

[2017-01-24 19:40] hppritcha commented on #2097
assigning to @nrgraham23 to see about integrating into ompi/oshmem.

[2017-01-24 19:41] hppritcha commented on #2097
decided to have @ggouaillardet  do this afterall

[2017-01-24 19:41] hppritcha commented on #2097
We are interested in seeing this go in to 2.1.x

[2017-01-24 19:42] #2049 closed

[2017-01-24 19:43] hppritcha commented on #2106
Waiting on #2107 to get merged in.

[2017-01-24 19:45] jsquyres commented on #2115
@hppritcha Will do in the next day or so.

[2017-01-24 22:30] nrgraham23 opened #2811 "Failure in Finalize when using Java Bindings"
A pointer that was not allocated is being freed in the Finalize call.  This causes an endless loop of errors to occur, and you have to use the kill command to stop the Java processes (ctrl + c does not work).

This problem exists on master, but not in v2.0.x.  I will check the other release branches.

[2017-01-25 00:16] ggouaillardet commented on #2802
the test provided in #168 runs fine with master + a few patches of mine.
i am happy to maintain the ```--enable-heterogeneous``` option, maybe ```v2.1.0``` is a reasonable target so i can test and backport what is needed

there was a previous RFC to get rid of heterogeneous support at https://www.open-mpi.org/community/lists/devel/2014/04/14584.php
and we did not decide to get rid of that.

@jsquy

[2017-01-25 00:37] ggouaillardet commented on #2802
fwiw, this was mentionned (and in a negative way) in that post that got some audience at that time
http://gentryx.de/news_the_troubling_state_of_MPI.html

[2017-01-25 00:43] ggouaillardet commented on #2097
i rebased #2102 so @jsquyres can review it, then i will PR only open-mpi/ompi@4bc0f37f48dc8cc6e1ee8972059628e46d99034c into the ```v2.x``` branch

[2017-01-25 00:51] hppritcha opened #2814 "README update needed"
Per discussion at the Open MPI developer workshop 1/24/17, it was decided we need a major update of the README to reflect current reality, esp. in terms of supported compilers, CPU types, and OS flavors.

[2017-01-25 01:02] gpaulsen commented on #2814
Need to include distributors on supported platform conversation.

Also some thoughts about wording the level of testing some platforms receive, and a petition for help testing certain platforms.

[2017-01-25 01:42] ggouaillardet commented on #2811
@nrgraham23 i will take care of that.

i recently plugged a bunch of memory leaks, and we end up in a non supported case here :
```MPI_Init()``` is not invoked from the main thread, so some data ends up being free'd twice

[2017-01-25 04:46] hppritcha opened #2817 "abort job launch in case of mixed BE/LE environment"
Open MPI doesn't currently support mixed big endian/little endian jobs.  In conjunction with a fix for issue #2802, a runtime check to detect the situation where some processes in the job are BE while others are  LE would be helpful.  Ideally a show help message would be emitted which explains that mixed BE/LE jobs are not currently supported.

[2017-01-25 09:31] pozdneev opened #2821 "A typo in help-mca-base.txt"
Hello,
I've spotted the following typo
* revision: 869041f
* file: [ompi/opal/mca/base/help-mca-base.txt](https://github.com/open-mpi/ompi/blob/master/opal/mca/base/help-mca-base.txt)
* line: 37
* word: "componnets"

[2017-01-25 17:21] hppritcha commented on #2115
just a heads up that this commit does not apply cleanly to v2.0.x

[2017-01-25 18:00] hppritcha commented on #2115
this is a mess.  it looks like we also need commit from #2054, maybe more.

[2017-01-25 18:01] nrgraham23 commented on #2811
I suspected it was related to the memory leak fixes.  Your pull request fixes the problem.

[2017-01-25 18:03] sjeaugey opened #2828 "MPI-IO : file_get_offset and others fail in MTT"
Many MPI-IO tests are crashing this morning on MTT :

https://mtt.open-mpi.org/index.php?do_redir=2384

Assigning Edgar as a best guess after looking at the git backlog.

[2017-01-25 19:02] edgargabriel commented on #2828
I am fairly confident, that the problems were caused by the same thing that I worked on yesterday, and it should be fixed by pr #2800 . I could just not merge that fix into master because travis didn't finish before I went to bed. I will look out for it however tomorrow, and see if the problems are gone.

[2017-01-25 19:04] sjeaugey commented on #2828
No problem, just wanted to make sure you saw it that. If that's no longer on MTT tomorrow you can close it.

[2017-01-25 19:56] nrgraham23 commented on #2811
@jsquyres @hppritcha Would it be possible to add a very simple sanity test to MTT for the Java bindings?  It was quite a while from when the Java bindings must have been broken to when I noticed they were broken.  Maybe something as simple as the Hello.java in the examples directory.

[2017-01-25 21:37] nrgraham23 commented on #2802
@jsquyres Do you want me to remove the dead code disabling this option will produce as well?  Or I can leave it in incase we decided to support this option again in the future.

[2017-01-26 00:24] #2811 closed

[2017-01-26 01:04] jsquyres commented on #2744
Is this a dup of #2072?

[2017-01-26 01:05] artpol84 commented on #2316
Fixed through
* https://github.com/pmix/master/pull/225
* https://github.com/pmix/master/pull/236

[2017-01-26 01:05] #2316 closed

[2017-01-26 01:19] jladd-mlnx opened #2839 "TCP and OpenIB BTLs cause performance degradation in unrelated frameworks"
We have observed this both in OSHMEM UCX testing and now in HCOLL shared memory testing on POWER8 Garrison platform. In the 2.x series, when the BTLs are silently loaded to cover OSC we see the following when running HCOLL shared memory collectives.

Running with 160 threads
 `mpirun -np 160 -mca coll_hcoll_enable 1 ./IBM-MPI1 Allreduce`

8-byte allreduce latency:
`21.9`

 `mpirun -np 160 -mca btl

[2017-01-26 01:28] bosilca commented on #2839
There is no progress thread in TCP is you do not ask for it explicitly.

[2017-01-26 01:30] rhc54 commented on #2750
Fixed on v1.10.6, so closing it here as other branches have referenced PRs

[2017-01-26 01:30] #2750 closed

[2017-01-26 01:33] rhc54 commented on #1284
Either this has been fixed in v1.10.6, or it will not be fixed in the 1.10 series

[2017-01-26 01:33] #1284 closed

[2017-01-26 01:33] rhc54 commented on #1569
this has either been fixed (and the issue not closed), or it will not be fixed for the 1.10 series

[2017-01-26 01:33] #1569 closed

[2017-01-26 01:47] hjelmn commented on #2644
May be fixed by #2840.

[2017-01-26 02:46] #2239 closed

[2017-01-26 02:49] jsquyres commented on #2579
@boegel We're going to make another -- hopefully final -- v2.0.2 rc tomorrow!

[2017-01-26 04:35] jsquyres opened #2843 "master: "mpirun --host a,b" via ssh seems to be broken"
On master, when I try to `mpirun --host a,b hostname` (via ssh -- *outside* of a SLURM job), I get the following error (the error seems to be occurring in plm_spawn, so I ran with `plm_base_verbose` set to 100):

[code]

It looks like the failing line in orted_comm.c is

[code]

I.e., the plm.remote_spawn() is failing.  Perhaps it's somehow related to "[mpi001:21274] [[4570,0],1] unable to get hos

[2017-01-26 05:06] jsquyres commented on #2843
@rhc54 and I tracked this down: seems to be a problem for when `mpirun` is run on a node that you are not launching on (e.g., running on `a`, and launching on `--host b,c`).

[2017-01-26 06:44] matcabral commented on #2644
Yes indeed!! first round of testing shows the performance got to show same performance as 1.10.x. Will run more tests tomorrow. 😄

[2017-01-26 08:40] boegel commented on #2579
@jsquyres Thanks for the update! Any idea how much time there would be between the this rc and the final v2.0.2 release?

[2017-01-26 10:46] ggouaillardet commented on #2843
@jsquyres it worked for me with the latest master.
btw, do you need 3 hosts ? Or can you reproduce the issue with only 2 hosts ?
Out of curiosity, are the host names set on all the hosts ?

[2017-01-26 14:27] edgargabriel commented on #2828
@sjeaugey  if I read the MTT output correctly, the problems are indeed gone with the new nightly snapshot. Will close this issue.

[2017-01-26 14:27] #2828 closed

[2017-01-26 15:02] janjust commented on #2839
@jladd-mlnx I tested the PR and sent you the numbers, numbers are back to normal.

[2017-01-26 15:30] #2839 closed

[2017-01-26 16:45] jjhursey commented on #2744
@jsquyres Yes - I don't know which one we want to close.

[2017-01-26 17:40] jsquyres opened #2849 "Remove MXM MTL"
Per F2F Jan 2017 discussion, remove the MXM MTL for v3.0.0.

@jladd-mlnx was going to investigate if this was ok.  I'm filing a ticket here to make sure we don't forget.

[2017-01-26 17:41] jsquyres opened #2850 "Remove yoda SPML"
Per F2F Jan 2017 meeting, remove the yoda SPML for v3.0.0.

OSHMEM will no longer support OB1 + the BTLs.  Also update relevant README/docs to mention this.

@hjelmn will also remove additional BML setup that was added just to support yoda.

[2017-01-26 17:42] jsquyres opened #2851 "Remove SM BTL"
Per F2F Jan 2017 meeting, remove the SM BTL for v3.0.0.

We need to decide how to handle the "sm" BTL name for legacy script (i.e., those who still `mpirun --mca btl sm,BLAH ...`).

[2017-01-26 18:07] jsquyres opened #2853 "RoCE does not work out-of-the-box with the openib BTL"
Per https://www.mail-archive.com/devel@lists.open-mpi.org/msg19874.html, RoCE does not work out of the box with Open MPI 2.0.x (or 2.x).

The issue is that we no longer have a per-peer QP in the receive queues.

Per @hjelmn's suggestion, we need to modify the MCA param default values to add a PP QP when we're using RoCE (we do this for iWARP, but we do it in .ini files -- which we can't do for RoC

[2017-01-26 19:44] miked-mellanox commented on #2851
Can sm be alias for vader btl?

[2017-01-26 19:52] jsquyres commented on #2851
@miked-mellanox That's basically the question (i.e., aliasing vader is one option).  There is no infrastructure in place (yet) for aliasing component names.

[2017-01-26 21:19] jjhursey commented on #30
See PR #2825

[2017-01-27 01:03] rhc54 commented on #2799
This has been fixed for v1.10, so I'm closing it here

[2017-01-27 01:03] #2799 closed

[2017-01-27 01:12] hppritcha commented on #2801
@rhc54 why did you change the milestone?

[2017-01-27 04:59] jsquyres commented on #2744
Closing this one as a dup of #2072.

[2017-01-27 04:59] #2744 closed

[2017-01-27 06:17] jsquyres commented on #2579
Hopefully very little.  😄

v2.0.2rc4 just released: https://www.mail-archive.com/devel@lists.open-mpi.org/msg19897.html

[2017-01-27 19:21] sjeaugey opened #2863 "MTT : spawn still crashing on master"
In case you didn't see it :
https://mtt.open-mpi.org/index.php?do_redir=2385

I'm not sure it is a new problem (could have been around for a couple of weeks), I just don't remember seeing this rather explicit error message before, which may help.

[code]

[2017-01-27 21:23] nrgraham23 commented on #1231
This problem appears to have been fixed when ompi was changed to not allow you to run more ranks that you have cores.  Closing this issue.

[2017-01-27 21:23] #1231 closed

[2017-01-27 22:27] PHHargrove commented on #2433
As of 2.0.2rc4 this problem still exists.
Is there a milestone that shoud be assigned?

[2017-01-27 23:50] rhc54 commented on #2667
This has been fixed

[2017-01-27 23:50] #2667 closed

[2017-01-27 23:51] rhc54 commented on #2656
This has been fixed

[2017-01-27 23:51] #2656 closed

[2017-01-27 23:56] rhc54 commented on #2565
We now have auto-detect working in master - it can be brought over to 2.0.3, I suppose, if we really want. Otherwise, I would schedule it for 2.1.

Marking this as fixed.

[2017-01-27 23:56] #2565 closed

[2017-01-27 23:56] rhc54 commented on #167
Fixed long ago

[2017-01-27 23:56] #167 closed

[2017-01-27 23:57] #35 closed

[2017-01-27 23:57] #160 closed

[2017-01-27 23:57] #195 closed

[2017-01-27 23:59] matcabral commented on #2644
So, so confirmed that with #2840 there still a degradation around %3 / %4 in latency for smaller messages. Also adding patch for #2448 the degradation goes down to %1.  Given that I have not ran enough repetitions to get a reasonable average this %1 can just be noise. In summary, #2840 and #2448 together fix the problem.

[2017-01-28 01:45] #2863 closed

[2017-01-28 02:59] jsquyres commented on #2843
I confirm that this is now fixed -- I didn't check but it's quite possible that #2864 fixed it.

[2017-01-28 02:59] #2843 closed

[2017-01-28 12:05] jsquyres commented on #2770
@rhc54 Is this now resolved?

[2017-01-28 12:06] jsquyres commented on #2754
@ggouaillardet @rhc54 Is this now resolved?

[2017-01-28 12:07] jsquyres commented on #2657
@rhc54 @ggouaillardet With all the changes to using writev(), is this now resolved?

[2017-01-28 12:08] jsquyres commented on #2650
@rhc54 I think there was a lot of work on this over the past 2 weeks -- is it worth posting updates here, or did those tracking updates go elsewhere?

[2017-01-28 14:09] ggouaillardet commented on #2657
@jsquyres note the default ptl is now usock, and it works just fine with or without writev.
if you force tcp, then writev solved the performance issue.

[2017-01-28 14:10] jsquyres commented on #2657
Gotcha.  Sounds like this issue should be closed, then.  Thanks!

[2017-01-28 14:10] #2657 closed

[2017-01-28 14:11] ggouaillardet commented on #2754
@jsquyres per the comments on the relared pr, this is now resolved

[2017-01-28 14:26] #2754 closed

[2017-01-28 14:39] jlost commented on #2770
Yes, #2770 fixed it.

[2017-01-28 14:39] #2770 closed

[2017-01-28 15:32] rhc54 commented on #2650
They just went to the specific tags, so no central tracking.

[2017-01-28 15:32] #2650 closed

[2017-01-28 16:53] #2821 closed

[2017-01-28 17:49] jsquyres commented on #2821
@pozdneev Thank you for reporting!

[2017-01-30 04:20] ggouaillardet opened #2879 "MPI_Ireduce broken"
open-mpi/ompi@045d0c5f4caffdf31fb2dd1cb4d7b8940c07d365 introduced a regression in the ```ibm/collective/ireduce_loc``` test (at least with 4 MPI tasks)

this has already been backported to the ```v2.0.x``` branch as open-mpi/ompi@f041083fdb42dfb3163a5ba24c0168a5a4179ebc

i will double check that, meanwhile
- @hppritcha @jsquyres we might want to roll an other ```v2.0.2``` rc (5?) that includes the

[2017-01-30 06:08] #2879 closed

[2017-01-30 06:09] ggouaillardet commented on #2879
i fixed master and made #2881 for the ```v2.0.x``` branch

[2017-01-30 16:38] jsquyres commented on #2879
@ggouaillardet Can you share the test you used to find this?  I'm running on master -- before your fix -- and `ibm/collective/ireduce_in_place.c` is passing for me (with any np).

[2017-01-30 16:43] rhc54 commented on #2879
I saw it go by as committed to the ompi-tests repo

[2017-01-30 16:54] gpaulsen commented on #2879
@ggouaillardet, your update is correct.  It looks like there was a transcription error from Mark's original change.  Please accept @ggouaillardet's update.

[2017-01-30 22:45] ggouaillardet commented on #2879
@jsquyres ireduce_loc got broken (at least with 4 tasks)
i updated ireduce_big and added ireduce_big_in_place to evidence the initial bug and the regression.
everything is ok now

[2017-01-31 02:36] hppritcha commented on #2801
Closes via #2846

[2017-01-31 02:36] #2801 closed

[2017-01-31 02:55] hppritcha commented on #2802
Maintaining means testing.  If we are going to maintain I'd like to see either a MTT or CI test of the hetero feature.

[2017-01-31 04:08] ggouaillardet commented on #2802
the first step is to configure with ```--enable-heterogeneous``` and run MTT on a __homogeneous__ cluster.
this is currently done by @jsquyres , see https://mtt.open-mpi.org/index.php?do_redir=2387

the second step is to configure with ```--enable-heterogeneous``` on at least two heterogeneous arch, and tests/run MTT on an __heterogeneous__ cluster.
i believe @siegmargross run some basic tests on

[2017-01-31 15:51] hjelmn commented on #2526
There was a regression in PPC atomics. Should be fixed in the latest 2.0.2 release candidate. Please test.

[2017-01-31 15:55] hjelmn commented on #2530
Please test with the latest 2.0.2 release candidate.

[2017-01-31 16:36] rhc54 commented on #2802
@ggouaillardet We talked about this on the telecon this morning, and bottom line is that we will apply our usual policy here: if someone is willing to maintain and test this feature, then no problem leaving it in the code. This probably applies sooner to v2.1 than v2.0.3, but if you can update the support and at least post on the PR your MTT results, then we are content to leave this alive.

[2017-01-31 18:16] boegel commented on #2579
@jsquyres Do you have a more exact ETA yet for the final v2.0.2 release?

I need to make a decision really soon now whether or not to go forward with v2.0.2 or stick to v2.0.1 (which I'd rather not, obviously).

[2017-02-01 00:42] jsquyres commented on #2579
It has now been released!

https://www.open-mpi.org/software/ompi/v2.0/

The announcement should show up here shortly: https://www.mail-archive.com/announce@lists.open-mpi.org/

[2017-02-01 00:42] #2579 closed

[2017-02-01 07:25] boegel commented on #2579
Fantastic, thanks @jsquyres and everyone else in the OpenMPI team for the hard work!

[2017-02-01 14:59] amckinstry opened #2891 "tcp_if_seq not defined in mca_btl_tcp_component_t"
Good morning, and congratulations on releasing 2.0.2.
Now for the bad news :-(

Compilation for me fails in btl_tcp_component.c as:
[code]
tcp_if_seq not defined.

[2017-02-01 15:10] amckinstry commented on #2891
This appears to be fixed in HEAD with commit a49422fe843eec9b4d3676b30015483dbf4ebc3c

[2017-02-01 15:14] jsquyres commented on #2891
Can you send us your exact configure command line?

[2017-02-01 15:36] amckinstry commented on #2891
./configure --build=x86_64-linux-gnu --prefix=/usr --includedir=${prefix}/include --mandir=${prefix}/share/man --infodir=${prefix}/share/info --sysconfdir=/etc --localstatedir=/var --disable-silent-rules --libdir=${prefix}/lib/x86_64-linux-gnu --libexecdir=${prefix}/lib/x86_64-linux-gnu --disable-maintainer-mode --disable-dependency-tracking --with-libfabric --with-psm --with-jdk-dir=/usr/lib/jvm/

[2017-02-01 16:09] amckinstry commented on #2891
Applying the commit, I get a second failure:
[code]
which is indeed the case. Its used, defined in the header, but missing from mca_base_var_enum.c.

[2017-02-01 16:53] amckinstry opened #2892 "2.0.2 fails to build: deleted code ?"
[code]

My configuration is:
[code]

Code responsible seems to be removed from HEAD: 649301a3a2d476b33e78b3b3ad7682ca2e9b1477

[2017-02-01 16:57] rhc54 commented on #2892
I believe your code branch has become corrupted - there is no such thing as orte_routed_API_t in the 2.0 series. I just checked the 2.0.2 code base and confirmed it.

[2017-02-01 17:04] amckinstry commented on #2892
You're right. Sorry.

[2017-02-01 17:04] #2892 closed

[2017-02-01 17:36] hjelmn commented on #2851
I have a couple of open pull requests proposing such functionality but they neither got any traction. The problem with aliasing is it needs to be taken into account very early on in the component process. For that to work the aliasing support needs to be in the framework base.

I will take another crack at a solution in the next week or so.

[2017-02-01 21:00] hjelmn opened #2894 "Add support for C11 atomics"
This is a placeholder issue for the work adding C11 atomics. There are some open questions:

 - Since C11 atomics are part of the language standard it makes sense to put the support in opal/include/opal_stdatomic.h. If C11 atomics are not available this header will provide C11 compliant atomics using the atomics in opal/include/opal/sys. Does this make sense? The alternative is to make C11 atomics

[2017-02-02 00:27] ggouaillardet commented on #2891
@amckinstry i was unable to reproduce this on an up-to-date CentOS 7

btw, which distro are you running on ?

at first glance,
1. it should be
[code]
instead

2. that being said, from btl_tcp.h
[code]

it should be
[code]

and that also being said, the ```MCA_BTL_TCP_SUPPORT_PROGRESS_THREAD``` macro is always set,
so there should be no errors

also, i was unable to find any ```mca_base_var_enum_cr

[2017-02-02 02:11] kawashima-fj opened #2897 "v2.x: MPI singleton + PMIx dstore fails"
@rhc54 As discussed in #2859, when I enable the PMIx dstore, An MPI process of singleton execution (launch directly; no mpiexec) fails with the following message on v2.x branch.

[code]

The problem will be in `fork_hnp` function of the singleton ESS. It checks the number of PMIx parameters. But the number varies if dstore is enabled. Probably `PMIX_DSTORE_ESH_BASE_PATH` is added.

https://github.

[2017-02-02 02:30] kawashima-fj commented on #2897
At least 93e7384 and fb5bcc4 is also needed in addition to a1e8e58. I cannot determine other commits in `orte/mca/ess/singleton` in master is needed. @rhc54 @ggouaillardet Could you take a look?

[2017-02-02 02:49] ggouaillardet commented on #2897
@kawashima-fj at first glance, that looks good to me
fwiw, i just noted open-mpi/ompi@fb5bcc47ce26cdd43231d634a8a423c5dc507812 not only plugs a memory leak (as indicated by the commit message), but it also fixes an array overflow when more than 4 ```PMIX_*``` environment variables are set.
thanks !

[2017-02-02 09:19] rhc54 commented on #2891
@amckinstry I confirmed what @ggouaillardet said - there is no ```mca_base_var_enum_create_flag``` in the 2.0 series. I suspect you have a mixed code tree that overlays 2.0.2 with some other version of OMPI. You might want to delete it and start with a fresh unpack of a 2.0.2 tarball

[2017-02-02 11:36] amckinstry commented on #2891
@rhc54 Re-checking with a clean 2.0.2 tarball, I agree, `mca_base_var_enum_create_flag' is a local failure on my part, due to a corrupted merge.

@ggouaillardet I'm the Debian (/Ubuntu) package mantainer :-)

When I backed out a local patch I had to fix the MCA_BTL_TCP_SUPPORT_PROGRESS_THREAD issue (and used a clean checkout), it still compiles.

So, I can no longer trigger the issue on a clean co

[2017-02-02 11:57] ggouaillardet commented on #2891
@amckinstry thanks
i am pretty sure we depend on pthreads, so backporting the commit you mentionned is the right thing to do.
i will take care of that tomorrow,
meanwhile, the latent bug is very likely in dead code.

[2017-02-02 18:14] bosilca commented on #2894
Before I comment more on this, I wanted to let you know that the C11 atomics are not compatible with the currently supported OpenMP memory model (which supports up to C99), and including stdatomic.h conflicts with some of the OpenMP flags (such as -fopenmp).

[2017-02-03 10:17] sthibaul opened #2919 "memchecker tosses on multiple non-blocking send of the same buffer"
Hello,

See the attached testcase:

[test.txt](https://github.com/open-mpi/ompi/files/750103/test.txt)

to be run with -np 3. It is non-blockingly sending the same buffer several times. With memchecker this produces the following warning (using openmpi 1.6.5, but the same happens with openmpi 2):

[code]

This is apparently because at the end of MPI_Isend in isend.c there is this call:

[code]

Wh

[2017-02-03 13:59] jsquyres opened #2920 "master: pmix MPI spawn / list assertion error"
From @siegmargross post on users (https://www.mail-archive.com/users@lists.open-mpi.org/msg30564.html):

-----

I have installed openmpi-master-201702010209-6cb484a on my "SUSE Linux Enterprise Server 12.2 (x86_64)" with Sun C 5.14 and gcc-6.3.0. Unfortunately, I get errors when I run my spawn programs.

[code]

I used the following commands to build and install the package. ${SYSTEM_ENV} is "Linu

[2017-02-03 15:04] thananon opened #2921 "master: MPI_Irecv seems not to be thread safe?"
This is the message I get from multithreaded injection rate benchmark. The benchmark post multiple Irecv on the receiver side (multiple threads at a time).

This happens on both [Artem's benchmark](https://github.com/artpol84/poc) and my own benchmark and only happens on Open MPI and has been happening for a while. (I tested with Intel MPI and everything is ok)

[code]

It happens with different B

[2017-02-03 15:35] jsquyres commented on #2921
Just to be clear: this is on master?  v2.0.x?  v2.x?

[2017-02-03 16:01] amckinstry opened #2922 "Failure on mips64el"
We have a major problem at the moment in Debian on mips64el:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=848574

Now its quite possible / likely this is a local toolchain issue, but my question: is openmpi 2.0.2 regression tested on mips64el ?
(Its ok on mips, mipsel and other 64-bit archs).

[2017-02-03 16:16] jsquyres commented on #2922
AFAIK we have no regresstion testing on MIPS at all.  😬

[2017-02-03 16:27] thananon commented on #2921
@jsquyres I have been seeing this before we even released 2.0.0. I thought it was something funny with the benchmark until I tried with different MPI and different benchmark.

[2017-02-03 22:57] artpol84 commented on #2920
I can reproduce, checking ...

[2017-02-03 23:46] hjelmn commented on #2921
@thananon Arm, are you going to look at this or would you like me to take a look?

[2017-02-04 05:18] artpol84 commented on #2920
[code]

[2017-02-05 09:54] Kawashima-Azumi commented on #2802
At present I don't care BE/LE support but one scenario of my use cases is to make remote calls to x86_64 servers (LE) with high electric power consumption from a low power 32-bit system (LE). Will this be affected if heterogeneous support is removed?

[2017-02-05 10:25] gpaulsen commented on #1666
This is being worked around for now by: https://github.com/open-mpi/ompi/pull/2832.  We need to remove PR 2832 when this is fixed.

[2017-02-05 10:49] gpaulsen commented on #1405
Created internal IBM work item 140614 to track and prioritize.

[2017-02-05 14:55] ggouaillardet commented on #2922
@PHHargrove is there any mips64el in your computer zoo ?

fwiw, computer zoo is defined at http://insidehpc.com/2012/11/silicon-darwinism-how-the-computer-zoo-is-charting-the-future-of-cpus/

[2017-02-05 16:32] hppritcha commented on #2897
This PR requires a reviewer.

[2017-02-05 16:55] ggouaillardet commented on #2897
@hppritcha this is an issue, not a PR
The referenced PR was both reviewed and merged, so i am closing this issue

[2017-02-05 16:55] #2897 closed

[2017-02-05 17:18] PHHargrove commented on #2922
@ggouaillardet
Yes, I have both mips64 and mips64el and test thee ABIs (`-mabi={32,n32,64}`) on each.
All 6 passed my testing of 2.0.2rc4, which included running the ring examples (`ring_{c,mpih,usempi,usempif08}`) with two ranks on 1 node.
My tests are on Octeon II systems running Debian Wheezy, and are not mine to upgrade.

[2017-02-06 15:50] thananon commented on #2921
@hjelmn If you have cycle for this, can you please check it out? I am in the middle of other task but I will come back and take a look at this when I have time.

[2017-02-06 17:19] sjeaugey commented on #2920
Also on MTT, per #2863.

[2017-02-06 17:31] artpol84 commented on #2920
Yes, it looks very similar. I guess this should fix it.

[2017-02-06 17:33] artpol84 commented on #2920
However this fix doesn't explain list failure, it only removes the problem with missing data.
I think that in addition ORTE probably has problems with handling missing data.

[2017-02-06 20:19] jjhursey opened #2929 "libevent - Move opal_event_include logic to base"
Per comment on PR #2904 - The logic supporting MCA parameter `opal_event_include` is the same (nearly) in both the internal and external component. As such it should be moved to `base` to avoid code duplication.

[2017-02-06 23:43] hppritcha opened #2930 "mpirun man page audit"
Comments from users indicate that we need to do an audit of the mpirun man page and make sure that it includes a description of all the options available on the mpirun command line.

At a minimum, the mpirun page should document all mpirun command line options that are shown when one runs ```mpirun --help```.

[2017-02-06 23:43] hppritcha commented on #2930
assigning to @nrgraham23

[2017-02-07 00:50] matcabral commented on #2644
Question (sorry if I'm missing something)  I see this issue closed for milestone v2.0.3 but PR #2448   was not merged into 2.0.x branch. Comments?
thanks

[2017-02-07 02:01] jsquyres opened #2931 "Revamp "mpirun --help" output"
Probably in conjunction with #2930, revamp the help output from `mpirun`.

Currently:

[code]

That's a *lot* of help output.  It's quite daunting for users to find what they're looking for in there.

We should take some inspiration from `git` and other CLI-option-right executables about how they display their help: only show a summary -- perhaps showing a handful of the most common help options,

[2017-02-07 16:17] hppritcha commented on #2931
@jsquyres do you mean ```ompi_info``` rather than ```mpirun``` in the last sentence of the description?

[2017-02-07 16:20] jsquyres commented on #2931
Clarified the last sentence.

[2017-02-07 18:39] jsquyres opened #2936 "cfeeecd381f3f0fa7ee3d19f902975a77c5100e8 is causing near-100% TCP BTL timeouts in Cisco MTT"
The cfeeecd381f3f0fa7ee3d19f902975a77c5100e8 commit (and its follow on, c62498ab3dba005b270b3f1f05eb39147644918e) are causing failures in Cisco MTT using the TCP BTL.  Each Cisco server has 5 IP interfaces (one of which is localhost).

[MTT link showing massive numbers of timeouts](https://mtt.open-mpi.org/index.php?do_redir=2390).  I stopped the master TCP-based runs after that.

When I run with

[2017-02-07 18:50] jsquyres commented on #2936
I'd like to revert these two commits by tonight's build if they aren't fixed yet.  I'll file a PR.

[2017-02-07 20:57] bosilca commented on #2936
I don't have access to machines with 5 interfaces, but I cannot replicate this issue on a cluster with 3 interfaces, even if I try to force the most restrictive behaviors of the TCP BTL.

[2017-02-07 21:45] jsquyres commented on #2936
FWIW, I can get this to happen with 2 IP interfaces.  Here's using two individual subnets -- they work fine:

[code]

But if I run with both of those subnets, I get the error:

[code]

@bosilca and I are discussing in IM.

[2017-02-07 21:48] azukaitis opened #2938 "OpenMPI 2.0.2 error on Linux"
I have a fortran application that mixes openmpi and openmp.  mpirun crashes before our application even starts.  I built openmpi 2.0.2 with gcc 5.3.0.

I build the openmpi package with:
    --enable-debug --enable-mem-debug --enable-event-debug

And get the following errors:
PMIX ERROR: UNPACK-FAILURE in file ../../../../../../openmpi-2.0.2/opal/mca/pmix/pmix112/pmix/src/server/pmix_server.c at li

[2017-02-07 21:52] jsquyres commented on #2938
This type of error typically occurs when you are unexpectedly mixing versions of Open MPI on different nodes.  E.g., you compile/run with Open MPI version A on one node, but ssh+your shell startup files pick up version B on a different node.

Can you verify that you are picking up the same exact version of Open MPI on all nodes?

[2017-02-07 21:56] azukaitis commented on #2938
This is a single node run using
mpirun -np 1

On Tue, Feb 7, 2017 at 2:52 PM, Jeff Squyres <notifications@github.com>
wrote:

[2017-02-07 22:50] jsquyres commented on #2936
It seems that this has something to do with a mask of `/16` -- @bosilca was able to replicate.

It is unlikely that #2937 will be necessary; @bosilca is working on it.

[2017-02-08 00:18] bosilca commented on #2936
It turns out the mask was just a symptom not the cause. The real reason was a cut of the loop over the locally known remote interface during the connection establishment. This issue has been fixed by bc2890e.

[2017-02-08 00:18] #2936 closed

[2017-02-08 15:39] jsquyres commented on #2938
Ok, just a single node.

Let's check for the same effect, though -- can you `ldd your_program`, and make sure it's linking against the new Open MPI libraries?

Also, make sure that you didn't install the new Open MPI in the same prefix as the old Open MPI (this is a situation that is known not to work -- installing a new Open MPI does not uninstall the previous plugins and components from the old

[2017-02-08 15:47] jsquyres commented on #2802
I think this issue is now moot, per https://github.com/open-mpi/ompi/issues/2802#issuecomment-276416135 and #2940.

[2017-02-08 15:47] #2802 closed

[2017-02-08 16:36] azukaitis commented on #2938
I wiped my install directory and rebuilt openmpi 2.0.2 in debug mode using
gcc-6.1.0.  I confirmed with ldd that I am only linking mpi libraries using
my install directory   PMIX error is gone now but I'm getting a segfault
now:

mpirun -np 1 mycode.mpi
mpirun noticed that process rank 0 with PID 190153 on node host exited on
signal 11 (Segmentation fault).

On Wed, Feb 8, 2017 at 8:39 AM, Jeff Sq

[2017-02-08 16:40] jsquyres commented on #2938
That is showing that your MPI process died (vs. `mpirun`).

You should probably use some standard debugging techniques to figure out *where* in your application it is dying.  I.e., is it a problem with Open MPI, or is it a bug in your application?

If you want to verify your Open MPI installation, you might want to try to examples in the `examples/` directory in the Open MPI tarball.  There's C an

[2017-02-08 21:47] nrgraham23 commented on #2931
The man page is already somewhat broken up into groups with things like:

Setting MCA parameters:

To manage files and runtime environment:

etc.

Those could function as the groups you mention in your #2.

[2017-02-09 00:02] matcabral commented on #2644
I'm re opening until #2448 gets into 2.0.x

[2017-02-09 03:20] jsquyres commented on #2644
@matcabral Feel free to make PRs to merge this into v2.0.x and v2.x.  (frankly, I thought this was already there...?)

[2017-02-09 15:27] nrgraham23 commented on #2930
@hppritcha @jsquyres Are there any options that need to be removed from the man page?

[2017-02-09 16:01] jsquyres commented on #2930
I'm not sure offhand -- I'm thinking you'll need to audit the mpirun code and make sure that:

1. everything that is in the code is in the man page
1. everything that is in the man page is in the code

[2017-02-09 17:04] dalcinl opened #2945 "libnbc: malloc(0) warnings"
I'm getting this is with a debug build of release 2.0.2:
[code]
Looking at the sources near line 77, it seems that zero counts are non handled the right way.
https://github.com/open-mpi/ompi/blob/v2.0.2/ompi/mca/coll/libnbc/nbc_ialltoallv.c#L77

I think a similar issue is found in ``(nbc_ialltoallw.c, 70)``, take a look yourself:
https://github.com/open-mpi/ompi/blob/v2.0.2/ompi/mca/coll/libnbc/nb

[2017-02-09 18:39] artpol84 opened #2946 "configuration: OMPI v2.x with external hwloc from the distro"
@dannyauble reported the problem with OMPI configuration.

In the target environment `hwloc 1.11.3-2` was installed from the distro package in the default location in `/usr/`

For the case where we configured without parameters:
[code]
not all hwloc paths was properly set and compilation failed.
@dannyauble noticed that `MCA_hwloc_external_header` was:
[code]
instead of
[code]
Problem can be solve

[2017-02-09 18:45] jsquyres commented on #2946
This is likely related to https://github.com/open-mpi/ompi/issues/2616.

[2017-02-09 19:20] amckinstry commented on #2922
@jsquyres This appears to work fine with 2.0.2.
However Debian Stretch (9.0) is now in a freeze, and version 2.0.2 has a library version change, requiring a "transition" in Debian (rebuild of everything that uses openmpi, on all platforms).
Which won't happen.

So my best option at the moment is to do 2.0.2 without the change that required the version number bump (just the public interfaces / libr

[2017-02-09 19:45] hppritcha commented on #2922
@amckinstry are you wanting changes between versions 2.0.1 and 2.0.2?

[2017-02-09 19:49] amckinstry commented on #2922
@hppritcha Yes

[2017-02-09 20:34] matcabral commented on #2644
Hey @jsquyres , I confirmed the changes in the cm pml from PR #2448 are not in v2.0.x or v2.x. Shouldn't ti be cleaner to directly merge the PR than create a new on ?

[2017-02-09 20:38] jsquyres commented on #2644
@matcabral Not sure what you mean:

* This one (#2644) is an issue, not a PR.
* #2448 was a PR on master.

What I'm hearing you say is that there has been no v2.0.x or v2.x PR for the code that was in #2448 (i.e., the PR to master).  Is that correct?

[2017-02-09 20:55] matcabral commented on #2644
yes, to all 😄 .
I entered a few comments above that I got the performance equal 1.10 by applying   #2840 and #2448  on v2.0.x . But #2448 never made it here.

[2017-02-09 20:57] matcabral commented on #2644
Ok, I now think I get you suggestion. I'll open PR for #2448 for v2.x and v2.0.x

[2017-02-09 21:43] jsquyres commented on #2644
@matcabral Cool, thanks.

[2017-02-09 21:49] jsquyres commented on #2922
@amckinstry I'm not sure what you're asking.

Yes, we bumped libtool shared library versions in v2.0.2, but they're all in a backwards-compatible way.  I.e., you shouldn't need to recompile applications/libraries dependent upon Open MPI (unless you have some policy that says so...?).

All the bumps in Libtool `c` values (from `c:r:a`) *also* bumped `a`, meaning that all the changes should be backw

[2017-02-09 23:16] jsquyres opened #2947 "v2.0.3: SGE launch problems"
Per https://www.mail-archive.com/users@lists.open-mpi.org/msg30566.html, users have reported problems using SGE with Open MPI v2.0.2 unless they `-mca plm_rsh_agent foo` on the `mpirun` command line.

@rhc54 said that he thought he found the problem, but didn't say specifically what it was.

In https://www.mail-archive.com/users@lists.open-mpi.org/msg30579.html, Mark Dixon hypothesized that 71ec5c

[2017-02-09 23:21] jsquyres commented on #2947
@rhc Should the `!=` in https://github.com/open-mpi/ompi/commit/71ec5cfb436977ea9ad409ba634d27e6addf6fae#diff-f556f53efc98e71d3bd13ee9945949feR272 be `==`?

[2017-02-10 00:17] ggouaillardet commented on #2946
@artpol84 basically, the issue is we have a ```hwloc.h``` file in ```opal/mca/hwloc/hwloc.h``` and we automatically add ```-Iopal/mca/hwloc``` in the ```CPPFLAGS```.
bottom line, if we want the external ```hwloc.h```, we cannot simply
[code]
but we have to
[code]
(well, we do that via the ```MCA_hwloc_external_header" macro)

since the MCA framework is called ```hwloc```, then the header file must

[2017-02-10 00:52] artpol84 commented on #2946
@jsquyres I think you are right. empty argument or `external` has same meaning. Closing this one.

[2017-02-10 00:52] #2946 closed

[2017-02-10 02:09] jsquyres commented on #2616
@ggouaillardet @artpol84 Still open for suggestions on how to solve this one (per https://github.com/open-mpi/ompi/issues/2616#issuecomment-270219658).  😄

[2017-02-10 02:14] artpol84 commented on #2616
[code]

+1 for # 1

[2017-02-10 02:45] ggouaillardet commented on #2616
#1 looks like the best approach to me (though maybe a bit painful ...)
i do not mind taking a crack at it though, but before that, we should agree on how to rename the ```hwloc``` framework. i previously suggested ```hwtopo```, but remain open to new ideas

[2017-02-10 02:47] ggouaillardet commented on #2616
```hw``` is an other (and simpler) option

[2017-02-10 13:15] jsquyres commented on #2616
@ggouaillardet and I came up with competing solutions overnight.  😄

I think I figured out overnight how to rename `opal/mca/hwloc/hwloc.h` without *too* much trouble -- see #2955.

[2017-02-10 15:25] hppritcha opened #2956 "OS-X: need a workaround for long session dir name"
We keep seeing OS-X users hitting this session dir name too long.  The effect is the job typically fails with obscure startup failure.  The workaround is for users to set TMPDIR.  A more user friendly workaround would be nice.

Examples:

https://www.mail-archive.com/users@lists.open-mpi.org//msg30594.html
https://www.mail-archive.com/users@lists.open-mpi.org//msg30551.html

[2017-02-10 15:47] jjhursey commented on #2956
Do you have a good reproducer?

I'm tinkering in that area at the moment, and might be able to address this while I'm in the code.

[2017-02-10 15:59] amckinstry commented on #2922
Apologies, you are correct. I was confusing major and minor version changes. I can use 2.0.2 as is.

I've uploaded 2.0.2 into Debian for the Stretch release.

[2017-02-10 15:59] #2922 closed

[2017-02-10 16:15] hppritcha commented on #2922
Looks like #2280, #2541,  #2752 should at least be considered.

[2017-02-10 16:16] hppritcha commented on #2956
ring_c.c?

[2017-02-10 16:21] hppritcha commented on #2956
The obscure error at startup typically is
[code]

I see this on my El Capitan OS.  One of the users seeing this is running Sierra.

[2017-02-10 16:21] amckinstry commented on #2922
@hppritcha Thanks. I'd checked out #2280 already, rebuilding everything in  Debian (that uses opepenmpi)  against it and it all built as-is.

[2017-02-10 16:53] bosilca commented on #2956
I'm pretty sure you have already noticed that despite the fact that the default TMPDIR is very long, the /tmp link to it. So, [for the last few months] as a workaround I just export TMPDIR to /tmp in my .bashrc.

[2017-02-10 16:54] jsquyres commented on #2956
@bgoglin Yeah, but out of the box, it doesn't work for users.  That's the main issue.  😦

[2017-02-10 17:35] jsquyres commented on #2956
Just to be clear: this is happening on both v2.0.x and v2.x (to me on my Mac OS Sierra laptop).  It is not happening on master.

[2017-02-10 17:47] jjhursey commented on #2956
Yeah there look to be a number of session directory commits on `master` that are not on the release branches. https://github.com/open-mpi/ompi/commit/ee56d9dc1a7a3d24cac3aa5a6725370f76542604e in particular might be good to review.

[2017-02-11 03:32] ggouaillardet commented on #2956
note that in the ```v2``` branches, PMIx communications only use unix socket.
master uses unix socket by default, but can use tcp sockets too.
i did not check that yet, but there is a possibility master fails using unix sockets on OS X
(```bind``` failure because the unix path that contains ```$TMPDIR``` is too long, so fallback to tcp sockets)

on the ```v2``` branches, what if we create a symlin

[2017-02-11 08:45] ggouaillardet commented on #2956
my bad, both ```master``` and ```v2``` branches have the same issue.

the differences are
- ```master``` implements ```pmix_show_help``` so an understandable error message is displayed when a failure occurs
- in ```master```, the rendezvous file name is ```$TMPDIR/pmix-<pid>``` whereas it is ```$TMPDIR/openmpi-sessions-<uid>@<hostname>/<jobfam>/pmix-<pid>```, which is obviously longer.
i suspect t

[2017-02-11 09:36] ggouaillardet commented on #2956
here is a proof of concept for the ```v2.0.x``` branch and based on my previous idea (use a temporary and hardcoded ```/tmp/pmixlink-<pid>``` when the rendezvous file name is too long.

it works fine on my laptop, even when i force an insanely long ```$TMPDIR```

if we want to move forward with this, i will revamp the client part so we never leak the symbolic link if the connection fails.

[code]

[2017-02-12 21:53] rhc54 commented on #2947
No - the commit that was done is simply incorrect. We have to always check for qrsh.

[2017-02-12 22:43] rhc54 commented on #2956
Wow - that's a pretty major change. For the record:

- this problem was identified before we even released v2.0.0.
- it has been discussed on the user and devel mailing lists since that time
- the problem is due to something Apple introduced back in Yosemite that "bit" quite a few software packagers, not just OMPI
- the simplest fix (setting TMPDIR in your environment to something reasonable) was

[2017-02-13 00:00] ggouaillardet commented on #2956
@rhc54 what this POC does when the rendezvous filename is too long is basically
[code]

so unless the program gets killed between the ```symlink``` creation and the ```unlink```, no extra cleanup is required

[2017-02-13 00:19] rhc54 commented on #2956
I don't understand how that can work when the client (which can be multiple clients, invoked separately due to comm_spawn) have to find the rendezvous file.

Let's not create more problems - we have a workaround that follows the recommendation of the Apple forum, and a permanent solution. If we don't like the workaround, then let's use the permanent solution.

[2017-02-13 00:28] ggouaillardet commented on #2956
fwiw, the rendezvous file is always the same. the trick is we use a ```symlink``` but only for the ```bind``` syscall, so it fits the ```sun_path``` field of the ```sockaddr_un``` struct

[2017-02-13 01:27] rhc54 commented on #2956
It doesn't work that way - the client has to fill the sun_path field too, and the addr looks for that path to make the connection. So the symlink would have to be setup by the server, and must remain so long as any client is going to connect.

[2017-02-13 01:57] ggouaillardet commented on #2956
i got that too, and that is why anyone (server or client) is using (when needed) its own (```getpid()``` based) symlink to the one and only (and sometimes very long) rendezvous filename.

bottom line, we only need the symlink to make ```bind()``` happy with the ```sun_path``` length restriction, and then the symlink is removed (and we do __not__ remove the rendezvous filename)

note the ``uri``` t

[2017-02-13 03:48] rhc54 commented on #2956
@ggouaillardet I honestly think you are missing the client side of the picture. The client _must_ put the rendezvous filename into a sockaddr_un path in order to connect to the server. Thus, the length of the filename given to the client is also restricted - and it must be only the symlink. Otherwise, the filename is too long for the sockaddr_un, it gets truncated, and therefore the connection can

[2017-02-13 05:00] ggouaillardet commented on #2956
@rhc54 well, we both missed something

i use the same trick (use a temporary and short symlink pointing to the one and only rendezvous file) in __both__ client and server
note the symlink is created __before__ the socket in bound (e.g. it points to nothing at that time).

OS X Yosemite is happy to ```bind()``` the socket to the symlink, and the created unix socket file is the rendezvous file.
On t

[2017-02-13 14:53] rhc54 commented on #2956
Yeah, I just don't think this is a good solution. For one thing, you are assuming that we can just use ```/tmp``` for the symlink. We know from experience that this isn't a valid assumption - we have plenty of places where that directory isn't available to people. So the first thing we'd have to change is to provide a mechanism by which the user can specify the shortened tmpdir for the symlink.

A

[2017-02-13 16:43] jsquyres commented on #2947
@rhc54 and I talked about this on the phone.  As mentioned, the check for "is it the default value" simply isn't the right test (regardless of whether the `!=` should be `==` or not).  He'll supply a fix soon.

[2017-02-13 16:47] jsquyres commented on #2956
@rhc54 and I talked about this on the phone.

1. It feels like putting a workaround for `/tmp` is just that -- it's a band-aid for the real problem.
1. The real solution is to not use this problematic mechanism (i.e., unix-domain sockets) when we can avoid it -- use loopback TCP sockets, instead.  master already has this fix (which I think is down in PMIx).

So let's do the Real fix rather than a

[2017-02-13 22:09] jsquyres commented on #2141
@sjeaugey Is this issue still relevant, or should it be closed?

[2017-02-13 22:11] hppritcha commented on #462
closing this issue.  Will open issues per comments above.

[2017-02-13 22:11] #462 closed

[2017-02-13 22:16] hppritcha commented on #282
this has been fixed.  just make sure to build with fortran support or else the man pages will only show 'c' interfaces.

[2017-02-13 22:16] #282 closed

[2017-02-13 22:17] hppritcha commented on #142
@tkordenbrock can this anciet issue be closed?

[2017-02-13 22:18] jsquyres commented on #170
@shamisp Just saw this in the old issues -- can you look to see if it is still relevant?  If not, feel free to close it.  Thanks.

[2017-02-13 22:18] hppritcha commented on #150
@hjelmn please get to this when you have a chance.

[2017-02-13 22:19] hppritcha commented on #205
@hjelmn can this be closed?

[2017-02-13 22:53] sjeaugey commented on #2141
Can be closed.

[2017-02-13 22:53] #2141 closed

[2017-02-14 01:08] #2945 closed

[2017-02-14 01:39] ggouaillardet commented on #2956
@jsquyres note the default is to use ```usock``` instead of ```tcp```.
and unlike what i wrote earlier, ```PMIx``` does fall back to ```tcp``` if the rendezvous file name is too long.

[2017-02-14 01:49] rhc54 commented on #2956
The default should/will be to use tcp - it was only temporarily set back to usock until we fixed the performance issue (which you did awhile ago).

[2017-02-14 04:58] rhc54 commented on #2947
@jsquyres Digging deeper, the minimum fix is indeed to replace the equality test as you suggest. I have updated the logic in master to clarify things so the mistake isn't made again.

[2017-02-14 14:50] hppritcha commented on #1970
Moving this to v3.x milestone.

[2017-02-14 14:51] hppritcha commented on #682
Closing this issue.

[2017-02-14 14:51] #682 closed

[2017-02-14 14:53] hppritcha commented on #475
Moving to 3.x

[2017-02-14 14:54] hppritcha commented on #398
@dsolt can we close  this issue now?

[2017-02-14 14:56] hppritcha commented on #170
Moving to 3.x milestone

[2017-02-14 14:57] hppritcha commented on #143
@tkordenbrock where are we with this issue?

[2017-02-14 14:58] hppritcha commented on #205
Hmmm remembered we don't support coll ML currently.  Closing.

[2017-02-14 14:58] #205 closed

[2017-02-14 15:01] hppritcha commented on #150
Moving to 3.x and also assigning to @nrgraham23 so he can help with this.

[2017-02-14 15:03] hppritcha commented on #74
Kicking down the road to 3.x

[2017-02-14 15:04] hppritcha commented on #60
Moving to 3.x.

[2017-02-14 15:05] hppritcha commented on #175
Kicking down the road to 3.x

[2017-02-14 15:12] hppritcha commented on #1019
@jsquyres I think this can be closed.  On master there is no bcol component etc.

[2017-02-14 15:14] hppritcha commented on #1956
Kick down the road to 3.x

[2017-02-14 15:15] hppritcha commented on #978
Kicking down the road to 3.x

[2017-02-14 15:16] tkordenbrock commented on #143
This code is nearly complete.  I will be pushing a PR this week.

[2017-02-14 15:18] #1019 closed

[2017-02-14 15:19] hppritcha commented on #30
Moving to 3. x as it probably will not get in to 2.1.

[2017-02-14 15:24] hppritcha commented on #2168
Moving to 3.x

[2017-02-14 15:29] tkordenbrock commented on #142
Yes, this was fixed ages ago.  Closing.

[2017-02-14 15:29] #142 closed

[2017-02-14 16:41] jjhursey commented on #398
See PR #2941

[2017-02-14 17:07] jsquyres opened #2966 "IBM MTT "make check" fail"
@gpaulsen @jjhursey IBM is getting an MTT `make check` fail: https://mtt.open-mpi.org/index.php?do_redir=2391

The error is that the `opal_fifo` test is failing in 32 bit POWER on master.

[2017-02-14 17:26] jjhursey commented on #2966
Duplicate of Issue #1893 - we need to investigate. It's intermittent so hard to pin down.

here is the output from `test-suite.log` in case it helps:
[code]

[2017-02-14 17:50] jjhursey commented on #1893
Issue #2966 has more detail and a valid MTT link. So I'm going to close this one and move the discussion over there.

[2017-02-14 17:50] #1893 closed

[2017-02-14 22:28] hppritcha commented on #2956
I updated the OS-x part of the FAQ to describe workaround for 2.0.x series.

[2017-02-15 01:07] #2644 closed

[2017-02-15 01:46] rhc54 commented on #2920
I think I have this fixed with 0c8609ca165ea34059bd5d0b55ee08e576b8241a - let's see how MTT does overnight.

[2017-02-15 01:47] rhc54 commented on #2863
I think I have this fixed with 0c8609ca165ea34059bd5d0b55ee08e576b8241a - let's see how MTT does overnight.

[2017-02-15 03:59] artpol84 commented on #2920
@rhc54 out of curiosity - I don't see any visible changes related to the topic. What exactly fixes the problem?

[2017-02-15 04:25] rhc54 commented on #2920
You have to stop the progress thread prior to tearing down the infrastructure. The list problem was caused by the messaging system continuing to operate in the progress thread while the PMIx_Finalize routine was tearing down the messaging framework. See the changes in the server, client, and tool routines where we now stop the progress thread prior to calling rte_finalize.

[2017-02-15 05:53] artpol84 commented on #2920
So it doesn't address spawn problem, right?

[2017-02-15 12:31] rhc54 commented on #2920
No - I revised the fix for spawn in https://github.com/open-mpi/ompi/pull/2977

[2017-02-15 14:08] jsquyres opened #2984 "Something odd about cuda.h configury checking"
@sjeaugey Per @siegmargross's post on the users mailing list, there's some kind of oddity with him not being able to find `cuda.h` / Cuda support in configury.

Siegmar's post is not currently listed in the mail archive (!) -- I think it's because he attached his `config.log` files (as we asked him to!), and mail-archive might have dropped the mail as an anti-virus/anti-spam measure (I've emailed

[2017-02-15 14:28] tgastine opened #2985 "wrong endianness for "external32" representation"
It seems that the endianness is always shifted to "native" in Open MPI MPI-IO implementation for the `external32` data representation. Here is a little fortran program compiled using `mpif90 -fconvert=big-endian test.f90`
[code]

When I try to read it I got a little-endian binary file. This works fine with mpich2 3.1 and with intelmpi.
I know it used to be an issue in the old OpenMPI version (< 1.

[2017-02-15 14:43] edgargabriel commented on #2985
The support for different data representations in the OMPIO
implementation is incomplete to be honest. There are bits and pieces
that are done, but also significant portions of the code that are
missing to support this functionality. It is simply a question of
manpower to get that part done. Do we have plans to support that
feature? Yes. But I will have a hard time to give a firm date when the
fun

[2017-02-15 15:01] tgastine commented on #2985
Thanks for this feedback. Unfortunately the romio314 module doesn't change anything.

[2017-02-15 16:07] naughtont3 opened #2987 "dvm: daemons quit after exceed available slots"
The DVM is not usable after exceeding available resources (i.e., non-oversubscribe case).  It seems like the next invocation runs into previous invocation's error and things shutdown.

Brief summary with simplified setup (localhost w/ 2 slots) :
 - Run command that exceeds resources (e.g., `mpirun --hnp file:dvmuri -np 3 hello` but only 2 slots available) we get error
 - Then run a valid command (

[2017-02-15 16:10] naughtont3 commented on #2987
Tagging @rhc54 and @marksantcroos  b/c this is DVM related issue.

[2017-02-15 16:46] rhc54 commented on #2987
So to ensure I understand: if you submit a use-case that exceeds available resources, then the DVM remains alive but terminates itself upon the next submission, whether that submission is valid or not? I suspect I know why that would be happening. May take a bit to fix, though.

[2017-02-15 16:46] jsquyres commented on #2984
As noted in https://www.mail-archive.com/users@lists.open-mpi.org/msg30642.html, @siegmargross stated that when adding the relevant `-I` and `-L` flags to `CPPFLAGS` and `LDFLAGS`, respectively, cuda support was added properly.

Does `--with-cuda` not automatically add the Right flags to the relevant `CPPFLAGS` / `LDFLAGS`?  That would be a little weird, and not what `configure` does for other `--

[2017-02-15 16:51] naughtont3 commented on #2987
Yes, that is what I see.

It seems like the exit status of "bad" command gets recorded and not cleared.  BTW, the retval for 'orterun' that exceeds resources gets non-zero retval as expected.

[2017-02-15 17:03] naughtont3 commented on #2987
Note, slight clarification.  I see that if the "next submission" is also invalid (exceeds resources) that does not cause DVM to exit.  The mapping failed notice is printed, and things keep going.

But the next valid submission will cause the DVM to terminate.

[2017-02-15 17:04] rhc54 commented on #2987
Ah, okay - I was just typing a note asking for clarification. 😄

Thanks - will investigate

[2017-02-15 17:16] sjeaugey commented on #2984
Without looking in depth, are you sure this part of the log is not the hwloc configure, where CUDA is indeed not detected (without affecting the CUDA support) ?

[2017-02-15 17:24] sjeaugey commented on #2984
I confirm this is just hwloc (again). CUDA support is enabled.

[code]

[2017-02-15 17:26] jsquyres commented on #2984
Oops.  Sorry for the noise.

To prevent having this conversation yet again someday in the future, perhaps we should make hwloc's embedded configure also understand where cuda support lives...?  I'm guessing it would not be hard at all.  And could probably be added to 2.0.x and 2.1.x.

That being said, there's at least some possibility of us no longer embedding hwloc (perhaps as early as the 3.0.0

[2017-02-15 17:35] sjeaugey commented on #2984
I'm all for it ; it could be useful for the CUDA support too in the future (e.g. when picking an IB card, some could be closer to the GPU and get a higher score).

[2017-02-15 17:51] naughtont3 commented on #2987
FWIW, I also see that the DVM's job state changes to TERMINATED in ["orte/mca/routed/base/routed_base_fns.c" around 281](https://github.com/open-mpi/ompi/blob/master/orte/mca/routed/base/routed_base_fns.c#L281).

If you comment this out, you can continue to submit commands to DVM after an error.  This is obviously not the fix, but thought it might help with diagnosis.

[2017-02-15 18:08] jsquyres opened #2988 "master: segv's in pmix in Cisco MTT runs"
Cisco MTT ran into a small number of pmix segv's last night (perhaps it's a race condition?).  The common theme was that all of them seemed to have an MPI error or MPI abort.  Another thing I noticed is that the segv was in a process other than the MPI process reporting the error/abort.

Here's an MTT link showing some of them (ignore all the warnings about libusnic_verbs not being found by libibv

[2017-02-15 18:47] hppritcha opened #2989 "v2.1.0 release checklist"
## Make a perfect tarball

- [x] Update the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - [x] *IF RELEVANT:* If this is a new backwards-compatible release on a single branch (

[2017-02-15 18:49] hppritcha opened #2990 "v3.0.0 release checklist"
## Make a perfect tarball

- [ ] Update the major,minor,release,greek version numbers in `VERSION`
- [ ] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - [ ] *IF RELEVANT:* If this is a new backwards-compatible release on a single branch (

[2017-02-15 20:52] nrgraham23 commented on #2930
I have found a Fault Tolerance option that is available if FT is enabled.  Should I include this in the man page?  If so, should I tell the user how to enable FT at compile time?

[2017-02-15 22:44] nrgraham23 commented on #2930
Howard told me the FT stuff had bit rotted, so I will not include it in the man page.

[2017-02-15 22:59] rhc54 commented on #2930
We should remove that configure option as well - it won't even build or work

[2017-02-15 23:47] rhc54 commented on #2988
Is there any way to tell -when- MPI itself failed in the proc? Was it somewhere in MPI_Init? If so, where?

I ask because I'm trying to figure out _when_ the orted was trying to communicate to its local procs, and _why_ it was trying to do so.

I gather this was not done with a debug build? I don't really need a line number, but I might add some output to tell us who the orted was trying to commun

[2017-02-16 00:36] rhc54 commented on #2988
Also asking because I'd like to find a way to replicate, but so far your machine is the only one showing this behavior. Would be nice to know what fails in MPI that triggers it.

[2017-02-16 00:52] ggouaillardet commented on #2989
@hppritcha FYI i edited this issue and #2990 too with the task list syntax described in https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments
benefits are
- the issue displays checkboxes
- the issue list has a progress bar (0 of 62 right now)

[2017-02-16 02:11] jsquyres commented on #2988
Here's two sets of MTT results that show the error definitely *after* `MPI_INIT` -- these are tests that deliberately invoke an MPI error (i.e., test the error handling).  So MPI is effectively internally invoking the MPI abort functionality:

* https://mtt.open-mpi.org/index.php?do_redir=2395
* https://mtt.open-mpi.org/index.php?do_redir=2396

Here's two sets of MTT results that show that the sam

[2017-02-16 02:26] rhc54 commented on #2988
Sadly, I cannot replicate on my cluster - for whatever reason, your cluster is again the only place we see this happening. I've dug around and may have found the problem by inspection, so I'll post a PR with a possible fix. We'll just have to try it and see if your machine quits barfing.

[2017-02-16 08:29] ggouaillardet commented on #2985
@tgastine some backport was missing from ```master```
i filled #2996 and #2997 for that.
note only ```romio314``` correctly supports ```external32```

[2017-02-16 08:48] tgastine commented on #2985
Thanks for that. That's great to hear.

[2017-02-16 11:37] marksantcroos opened #2998 "host mapping mismatch on cray"
This is on Blue Waters a Cray with Torque.

nodenames are in the shape of `nid%05d`, but entries in `$PBS_NODEFILE` are of the shape of `%d`.

- ras: tm
- plm: alps
- ess: alps

Until recently (at least Jan 18, bisect in progress) I could use the short format, but now it requires the full format. Is that an intentional change?

[code]

[2017-02-16 14:03] rhc54 commented on #2998
Not intentional so far as I am aware - I'd have to look to see what tripped it

[2017-02-16 14:42] rhc54 commented on #2920
This appears to now be fixed - still seeing the ptl_base_send errors, but that's in a different issue.

[2017-02-16 14:42] #2920 closed

[2017-02-16 16:11] jjhursey commented on #2998
Is this with `master` or one of the release branches?

[2017-02-16 16:13] marksantcroos commented on #2998
@jjhursey master.

[2017-02-16 18:29] nrgraham23 commented on #2931
@rhc54 @jsquyres There is an array cmd_line_init with almost all of the command line options (I think the only one missing is -mca), and it is broken up into some groupings already.  I will model the enhanced help output after those groupings.

[2017-02-16 18:37] naughtont3 commented on #2998
Hi @marksantcroos, I happen to be testing with `master` today on a local Cray using Torque. It seems to be working, maybe we can sync up via email to see if the environments are different.

[2017-02-16 18:50] naughtont3 commented on #2998
Actually, I bet I didn't run the same command as you.  I do get an error if i pass `--host` argument on command-line.  My bad.

[code]

[2017-02-17 06:34] marksantcroos commented on #2998
Right, that was my use-case indeed. Thanks for checking though!

[2017-02-17 08:35] rhc54 commented on #2998
Sorry, I've been at a DOE workshop and just returned home. I'll take a look at this tomorrow. I'm somewhat surprised that it used to work, but will take your word for it 😄

[2017-02-17 08:41] marksantcroos commented on #2998
Thats my general state: being surprised if it works ;-)

[2017-02-17 08:47] marksantcroos commented on #2998
FYI: I'm still bisecting, but its kind of a pain because of most intermediate versions that are not working at all.

[2017-02-17 12:14] AndreasKempfNEC opened #3003 "CPU frequency-dependent timer issues starting with 2.0.2"
Dear Open MPI team,

A few days ago, my colleague Daniel Tameling noticed severe performance issues when running the HPCC benchmark with Open MPI. After spending quite some time tracking down the reason, we suspect that a regression was introduced between Open MPI 2.0.1 and 2.0.2. More specifically: the Open MPI 2.0.1 release tarball seems to be okay and the 2.0.2 release shows issues that persist

[2017-02-17 13:01] ggouaillardet commented on #3003
that could be a side effect of the timer change.
and what you observe could be a higher latency, or incorrect timers suggesting a higher latency (!)

can you measure the elapsed time of the osu_latency benchmark (ideally only zero size messages, and a loooot of iterations, so the elapsed time is ~1 minute)
then compare the elapsed time of the other ompi release.
if both elapsed time are similar, b

[2017-02-17 14:09] AndreasKempfNEC commented on #3003
Funnily enough, the wall time does, indeed, seem to be roughly equal with the OSU test:

("userspace" at 1.2 GHz)

[code]

From a cursory glance at the HPCC source code, the times all seem to be measured using MPI_Wtime, as well. It could really be possible that the wall time never changed during longer tests and we just did not notice! But why would anyone really doubt the notion of time?

[2017-02-17 14:50] ggouaillardet commented on #3003
my initial intuition was that the new timer is based on clock ticks, and time = ticks / frequency.
if the cpu clock increases, then you get more ticks for the same elapsed time.
since we do not seem to adjust the frequency, then ```MPI_Wtime()``` runs too fast, so the reported latency is higher than what it really is.
for the time being, i suggest you force timer based on ```gettimeofday()```
(i a

[2017-02-17 15:02] AndreasKempfNEC commented on #3003
In opal/mca/timer/linux/timer_linux_component.c, the frequency seems to be taken from /proc/cpuinfo which seems to be changed by acpi-cpufreq. At ondemand it is the lowest possible frequency (1.2 GHz for this CPU). The comment was probably true until the timer was changed:

[code]

Now that I think about it, this is particularly insidious when using "ondemand" with HPCC because all the tests are d

[2017-02-17 15:38] rhc54 commented on #2998
I'm not sure it's entirely necessary for you to undergo that pain - let me take a look at it and see what is required to make this work. I suspect this is something that may have been working by accident as opposed to intent, but might be doable in a more guaranteed manner.

[2017-02-17 18:49] #2930 closed

[2017-02-17 21:37] gpaulsen commented on #2427
Has anyone made any progress on this since November?  Can we we close this issue?

[2017-02-17 22:17] bosilca commented on #2427
This issue remains valid as libnbc is not thread safe. @ggouaillardet provided a patch, but we don't have it in the master.

[2017-02-18 08:46] #2998 closed

[2017-02-18 09:05] marksantcroos commented on #2998
It works again now, thanks!

Was it intentional or not that it worked before?
I tend to remember that the full hostname didn't work actually.

[2017-02-18 14:40] rhc54 commented on #2998
I honestly don't know - I don't recall me doing anything like that, but it has been a long time since I touched that code.

[2017-02-19 21:50] bosilca commented on #1654
This deadlock is still around. In fact it doesn't matter what mode we initialize the MPI library, as soon as we replace the memory allocator (aka we use IB) and the application has threads, we're basically doomed. If I disable pinned (and pipeline pinned), OMPI runs to completion (but supposedly with lower performance).

Here we have a multi-threaded C++ application (which does a lot of new/free i

[2017-02-20 00:32] hjelmn commented on #1654
Bah. Ok. I have an idea how to deal with this one. Should have a patch ready this week.

[2017-02-21 06:42] cshanbo opened #3009 "running error when using Python wrapper mpi4py"
Hi,
I was using [mpi4py](https://github.com/mpi4py/mpi4py) to build a python project. Following the API of open-mpi.
and using ```mpirun``` command to launch my project.

And got this error. I'm not sure how to fix it. Could anybody give me some advice?
It seems more than one process tried to initialize MPI, but I don't know when and how will such
situation happens.

[code]

[2017-02-21 07:52] ggouaillardet commented on #3009
@shanbo the error message is pretty self explanatory.
your application invokes ```MPI_Init()``` more than once (directly or via the ```mpi4py``` wrappers), and this is not allowed by MPI

[2017-02-21 16:21] regrant commented on #143
This has been fixed by PRs #2999 and #2986

[2017-02-21 16:21] #143 closed

[2017-02-21 16:21] jsquyres commented on #1763
Per discussion on the 2017-02-21 call, removed the blocker label and moved to v3.0.0.

[2017-02-21 18:44] jsquyres commented on #2106
Per discussion on the 2017-02-21 webex, @hjelmn said he would try to get this in today.

[2017-02-21 19:09] Zzzoom commented on #3003
My changes to timers aren't in 2.0.x yet, and they shouldn't affect this.
Newer processors increment the TSC at the same rate regardless of frequency, @AndreasKempfNEC does your /proc/cpuinfo list constant_tsc in its flags? If it doesn't, the problem might be that the tick rate is being queried on init before the processor increases its frequency due to load.

[2017-02-21 19:10] naughtont3 commented on #2987
Note, I do not seem to have this problem when running on Cray/ALPS, i.e,. after exceeding available resources, I can still issue commands to DVM w/o problem.

[2017-02-21 19:31] naughtont3 commented on #2987
Also, this appears to be specific to the case where you have a single host.  I was able to run normally with multiple hosts, or all hosts remote, and under SLURM. Basically, it is specific to case when you have only 1 daemon running.

[2017-02-21 23:48] bosilca commented on #3003
Here is a simple patch to disable TSC if it is not constant, and to fall back to a more costly but more accurate approach (clock_gettime if supported).

[code]

[2017-02-22 07:18] AndreasKempfNEC commented on #3003
Sorry, I do not have that much time to look into this, so I might get some stuff wrong.

First of all, the CPU has the constant_tsc flag set. As far as I can see, the regression was introduced by https://github.com/open-mpi/ompi/pull/2596 because a checkout of b393c3b5681d534483b79efc6f629aa5a712308e shows my issue and a5ab6ebd5d14939d91170dbf93a93d68f5d170ba does not.

My current understanding is

[2017-02-22 08:24] cshanbo commented on #3009
Hi @ggouaillardet . Thank you for your reply.
With the above error corrected, I got another error like following (I'm not sure if it was an mpi installation error or anything else):
[code]

[2017-02-22 13:37] jsquyres commented on #2616
@rhc54 Did you mean to close this issue?

[2017-02-22 14:12] rhc54 commented on #2616
No, it was an update into a related repo - another "git-ism" ☹️

[2017-02-22 14:36] hppritcha opened #3015 "v3.0.0 branch checklist"
The Open MPI pre-release mechanism requires more steps than simply branching master in a workarea and pushing back to open-mpi/ompi on github.  In particular, steps need to be taken to make sure nightly tarballs of the branch are being built and that there is a place for these tarballs on the Open MPI webpages.  See [v2.x](https://www.open-mpi.org/nightly/v2.x) for an example of what is needed on

[2017-02-22 16:57] jsquyres commented on #804
Moved to v3.0.0.

[2017-02-22 16:58] jsquyres commented on #1405
@gpaulsen Looks like this will miss v2.1.0.  Do you want to re-milestone it to v2.1.1, or v3.0.0?

[2017-02-22 17:03] jsquyres commented on #1831
How are we doing on this issue on the v2.x branch these days?  Is this still an open issue, or should we close it?

[2017-02-22 17:04] jsquyres commented on #1841
@bharatpotnuri @larrystevenwise Did anything come out of this?  The door to v2.1.0 is effectively closed.  If there are bug fixes that can resolve this issue, they can be eligible for v2.1.1.  Otherwise, it will need to join the v3.0.0 train.

Which would you prefer?

[2017-02-22 17:04] jsquyres commented on #2072
This is now done.

[2017-02-22 17:04] #2072 closed

[2017-02-22 17:05] jsquyres commented on #2097
This is going to have to be re-milestoned to v3.0.0.

[2017-02-22 17:09] jsquyres commented on #2115
@hppritcha @bosilca Might I suggest that we simply defer this to v3.0.0 -- would that be ok?

[2017-02-22 17:11] jsquyres commented on #2161
@larrystevenwise @bharatpotnuri Does Chelsio intend to look at this?  At this point, this issue will need to be re-milestoned to v3.0.0.

[2017-02-22 18:01] jsquyres commented on #2929
@jjhursey This could probably be classified as a "bug", and therefore be eligible for v2.1.1.  Do you want this for v2.1.1, v3.0.0, or beyond?  Please update the milestone.

[2017-02-22 18:02] jsquyres commented on #2929
(in an effort to clear out the v2.1.0 milestone, I pre-emptively moved this to v2.1.1 -- feel free to update)

[2017-02-22 18:04] jsquyres commented on #2499
Update: there has been much off-list discussion about this.  Per @ggouaillardet's comment, some of the UH OSHMEM tests are *supposed* to either fail or time out (!).  As such, the usual way of "find all the executables, run them, and look at the timeout/exit status to determine if they passed or failed" is not the right mechanism to run these through MTT.

@jsquyres submitted https://github.com/op

[2017-02-22 18:06] jsquyres commented on #2399
@edgargabriel @cniethammer It's been about 2 months since the last update -- any progress?  The door for v2.1.0 is just about closed.  I'm going to pre-emptively move this to v2.1.1; feel free to move to v3.0.0 if you think that is more realistic.

[2017-02-22 18:08] edgargabriel commented on #2399
feel free to move it to 3.0, I will not get to it. The fix that we committed for the 2.0 series (and 2.1, but will double check that), should do the trick for now.

[2017-02-22 18:10] jsquyres commented on #2399
@edgargabriel Done; thanks.

[2017-02-22 18:10] jjhursey commented on #2929
Let's move it to v3.0 - I don't think it's critical for me to get it into the v2.x series at this point.

[2017-02-22 18:18] jsquyres commented on #2328
@rhc54 and I re-synced on this today.  Fixing this issue has missed the v2.1.x train, and is just about to miss the v3.0.x train, too.

1. This isn't a Torque/Moab-specific issue.  It's more of a "when the `hostname(1)` doesn't match the name given to Open MPI" issue, which, for @martinkontsek, just happened to come up in his particular Torque/Moab setup.
1. This is also a fairly uncommon configur

[2017-02-22 19:03] gpaulsen commented on #1405
Lets just close it and when it comes in, it'll be happy days.  The test case we have really is just running 'nm' on the library and then using some grep patterns, to ensure we don't accidentally export non-MPI symbols.

[2017-02-22 19:03] #1405 closed

[2017-02-22 20:42] naughtont3 commented on #2987
@rhc54 I may have isolated the problem.  I have created a PR with a change to the DVM errmgr that catches the MAP_FAILED case and avoids disabling routing.  In the case where you have a single daemon (host) you get the problem I reported b/c of indirect effect of setting `orte_routing_is_enabled = false`, which causes things to shutdown the DVM (https://github.com/open-mpi/ompi/blob/master/orte/mc

[2017-02-22 22:55] bosilca commented on #2115
👍

[2017-02-23 02:21] hppritcha commented on #3003
@jsquyres do we want a fix for this in 2.1.0?

[2017-02-23 02:58] hjelmn commented on #3003
@hppritcha This is a bug. It looks like we have been using the wrong clock for some time. It is correct in most cases but if the user boosts the base clock I think we can get the wrong result.

@AndreasKempfNEC Does your BIOS boost the base clock? I don't see any other way the tsc calculation could be wrong.

[2017-02-23 03:12] bosilca commented on #3003
I understand that "cpu Mhz" is a mere supposition. Basically we read the frequency of the first proc at the moment when the process is starting up (not even the core associated with the current process), and we assume this frequency remains unchanged for the rest of the application. The more we dig into this the more obvious it become that we should restrict our usage of the TSC to the only the ca

[2017-02-23 04:30] ggouaillardet commented on #3003
if i understand correctly, with ```constant_tsc_flag``` the ticks occurs at the processor nominal speed.
could we try to parse the ```model name``` value of ```/proc/cpuinfo``` ?
for example, on my VM
[code]
so could using 3.60 GHz frequency (instead of 3.591947 GHz) be good enough ?

[2017-02-23 04:33] bosilca commented on #3003
We could, as this value is indeed supposed to be maximal. But then again, this only works if the governor switch the cores to max perf.

[2017-02-23 04:37] ggouaillardet commented on #3003
did you mean "only works if the ```constant_tsc_flag``` is set instead ?
or am i missing something ?

[2017-02-23 04:38] Zzzoom commented on #3003
Intel® 64 and IA-32 Architectures Software Developer’s Manual
18.18.3 Determining the Processor Base Frequency
For Intel processors in which the nominal core crystal clock frequency is enumerated in CPUID.15H.ECX and the core crystal clock ratio is encoded in CPUID.15H (see Table 3-8 “Information Returned by CPUID Instruction”), the nominal TSC frequency can be determined by using the following eq

[2017-02-23 04:38] rhc54 commented on #3003
Just as an FYI: there are several installations intending to field dynamic power mgmt in the next few years. These will definitely operate by adjusting freq on-the-fly, including adjustments on a per-cpu (or per-group-of-cpus) basis. So I don't think you'll be able to rely on a constant value.

[2017-02-23 04:41] hjelmn commented on #3003
@rhc54 We can rely on a constant value for the tsc clock unless intel is thinking about abandoning the constant tsc. If they do we will detect it by the constant tsc bit not being set in the cpuid register. @Zzzoom has the right approach for getting the constant tsc. I can take a crack at implementing that unless @Zzzoom wants to do it.

[2017-02-23 04:57] Zzzoom commented on #3003
I can give it a shot over the weekend if it isn't urgent.

[2017-02-23 06:15] bosilca commented on #3003
What about all the others Linux-based machines (aka. the ones that are not based on IA32) ?

[2017-02-23 06:25] cshanbo commented on #3009
Can anybody help with this error please? I'm not sure how to fix it. Thank you.

[2017-02-23 06:48] AndreasKempfNEC commented on #3003
Just for reference, the "cpu MHz" fields in /proc/cpuinfo of a Xeon CPU E5-2670 (Sandy Bridge) with two sockets and hyperthreading on using the "Intel P-State driver" (this one does not report clean values, and is probably what ggouaillardet has active) look like the following

[code]

But why did this only become a problem after https://github.com/open-mpi/ompi/commit/b393c3b5681d534483b79efc6f62

[2017-02-23 06:54] ggouaillardet commented on #3009
@cshanbo did you double check whether your application does not ```fork()``` any process (directly or indirectly via ```system()``` or some other python bindings) ?

if you are stuck, then can you please post a trimmed version of your test program that can be used to evidence the issue ?

[2017-02-23 09:24] rhc54 commented on #3003
@hjelmn I wasn't trying to imply anything about future directions. I was only trying to indicate that you can't just take one value from /proc/cpuinfo and assume one can use it for the entire life of the process. I concur with the proposed register-based approach so long as you periodically update from it, at least for IA machines.

[2017-02-23 13:41] naughtont3 commented on #2987
OK, I merged your PR to my branch and reran my test script and it passed.  I also signed off on my final commit that removed the debug print.

I think I may have to amend my earlier commit with a sign-off b/c the checklist for PR shows "some commits not signed-off" so I guess I goofed with initial step.  Sorry.  Will look at that now.

[2017-02-23 18:09] thananon commented on #2161
Ok, so I measured OOS message in current master with MPI_THREAD_SINGLE/ openib btl. I would say this problem is not yet solved. Unfortunately my work is relying heavily on this problem.

|Number of messages| OOS count | Percentage |
|---------|------|------|
|256000|54146|21%|
|512000|62007|12%|
|1024000|64378|8%|

[2017-02-23 20:24] thananon commented on #1831
I'm not sure if this is fixed. I'm observing performance degradation on my test with builtin atomics.

This is injection rate in msg/s from multithreaded benchmark.
Compiled with gcc 6.3.0.

|no-bulitin-atomics|default|percentage|
|---|---|---|
|109711|18962|-82%|

[2017-02-23 20:30] larrystevenwise commented on #2161
We'll look at it at some point, but we're swamped right now.

[2017-02-23 20:31] larrystevenwise commented on #1841
This issue is still outstanding and not understood.  Target it for 3.0.0 please.

[2017-02-23 20:35] jsquyres commented on #1831
Just to be clear: that was on v2.x, right?

Your table implies that we should switch the default to use the no-builtin-atomics...?

If we're seeing an 82% performance degradation, this feels like a blocker for v2.1.0.  @hppritcha?

[2017-02-23 20:41] thananon commented on #1831
@jsquyres
- Test was performed on master.
- Yes, I think it should be no-bultin-atomics by default but that only based on UTK's machine. I don't know about the behavior on others.

[2017-02-23 20:43] jsquyres commented on #1831
Could you repeat the test on v2.x, please?

[2017-02-24 22:36] naughtont3 opened #3026 "dvm: add support for passing DVM URI via environ"
When launching with the DVM you need to pass the URI location on the command line via the `--hnp` argument.  Some users may want to simplify their command-line args (e.g., in interactive sessions, automation scripts, etc.).

The proposed feature would be used like this:

[code]

You can also override the EnvVar by passing '--hnp' arg on cmdline.

[code]

I added a minor change in schizo:ompi that

[2017-02-25 16:09] #2987 closed

[2017-02-25 16:23] rhc54 opened #3032 "Something wrong with configure for atomics on master"
I am consistently seeing this output in builds, both on my machine and from Jenkins servers:

[code]

Note that this is on Intel architectures. Digging a little deeper, it isn't clear to me where the ```host``` variable is getting set, and that appears to lead to the architecture being mistakenly identified.

[2017-02-25 23:15] hppritcha opened #3033 "update NEWS and README for 2.1.0 release"
NEWS needs to be updated with a lot of stuff for 2.1.0.

[2017-02-26 11:56] ggouaillardet commented on #3032
in ```OPAL_ASM_FIND_FILE``` should we also make an exception for ```BUILTIN_GCC``` just like we do for ```BUILTIN_SYNC``` and others ?

[2017-02-26 14:00] jsquyres commented on #3033
@hppritcha First cut on NEWS was yesterday: https://github.com/open-mpi/ompi/commit/4917f0177b00d2e66c3f3ab1cc6afa3f9f691f50.  Still needs work, though -- e.g., there's a bunch of "JMS" annotations (my initials) where additional research was needed.  There may also be some missing items.

[2017-02-26 15:40] rhc54 commented on #3032
I have no idea - what would that do to fix the problem of mis-identifying the architecture?

[2017-02-26 22:05] jsquyres opened #3035 "master: TCP BTL addressing fail"
Periodically, the Cisco MTT sees odd TCP BTL addressing failures.

For example, the one-sided TCP BTL failures from last night/s MTT on master (there's ORTE errors there, too -- ignore those): https://mtt.open-mpi.org/index.php?do_redir=2399

It looks like the TCP BTL fails the incoming connection, which then causes a frag mismatch size in OB1.  Here's a stack trace:

[code]

The configuration of

[2017-02-26 23:25] ggouaillardet commented on #3032
i will make a poc today.
at this stage, i do not think we should execute this part, so that would avoid a problem that should not exist in the first place.
i also think the arch should be
AMD64	default-.text-.globl-:--.L-@-1-0-1-1-{0,1}
(e.g. __not__ x86_64), and it looks like the error message is just a false positive
(e.g. builtin gcc atomics are used)
but once again, i will review this today

[2017-02-26 23:27] rhc54 opened #3036 "configure: assembler stdout incorrect (cosmetic issue only)"
I'm seeing an incorrect identification of the hardware architecture (similar to issue reported on master #3032):

[code]

This was on an Intel x86_64 box.

[2017-02-26 23:28] rhc54 commented on #3032
Not quite sure what you mean - I guarantee my arch is x86_64, not AMD64

[2017-02-27 01:12] ggouaillardet commented on #3032
the "arch" is used to grep ```opal/asm/asm-data.txt```
this file currently support ```AMD64```, ```IA32```, ```IA64``` and other platform.
my best bet is ```AMD64``` comes back from the first Opteron days, and it was not renamed to
a vendor neutral strings such as ```X86_64``` when Intel started building compatible processors.

then in ```OPAL_ASM_FIND_FILE```, we do
[code]

```$opal_cv_asm_format

[2017-02-27 01:37] Zzzoom commented on #3003
Reading the TSC frequency is definitely the best (and only?) way to handle the constant_tsc case. However I've been toying around with CPUID leaf 15h, and this method only works for a subset of processors while recent ones require a hardcoded table because the data isn't available on the processor to query.
A good implementation of this would need to be kept up to date because Intel seems to chang

[2017-02-27 02:49] #3032 closed

[2017-02-27 04:17] ggouaillardet commented on #3032
@rhc54 this is fixed on master, and i will follow up on open-mpi/ompi#3039
my understanding is that the warning message is a false positive and you can safely ignore it.
here, ```AMD64``` should be read as ```x86_64``` since there is nothing specific to AMD processor
(just like ```IA32``` is not specific to Intel processors in this context)

[2017-02-27 12:20] Welcome-Dear-Evgueni opened #3042 "MPI_Barrier hangs in 10-20h long runs"
Hi,

After 10-20 hours, MPI_Barrier hangs with the following stack.

It looks like some error happens during mca_btl_tcp_proc_create, and then mca_btl_tcp_proc_destruct cannot proceed because mca_btl_tcp_component.tcp_lock is not recursive.

The stack below has been captured using OMPI 2.0.2a1, and the OMPI 2.0.2 release does not seem to fix this issue.

I would be greateful for any ideas about th

[2017-02-27 18:59] jsquyres opened #3048 "v2.1.x: PMIx ASM compile failure on SLES 12.2 with Sun CC"
Per @siegmargross's mail to the users list (https://www.mail-archive.com/users@lists.open-mpi.org/msg30698.html), it looks like the PMIx that was embedded in OMPI v2.x is missing an ASM compile fix: https://github.com/pmix/master/pull/309

Not sure yet if this is a blocker for v2.1.0 or not.

[2017-02-27 19:41] jjhursey commented on #3048
I've created a PR against PMIx v1.2 to pick those changes:
 * https://github.com/pmix/master/pull/322

This got missed in the sweep before the PMIx v1.2.1 release. We can talk about it's impact on OMPI v2.1.0 release tomorrow during the teleconf.

[2017-02-27 19:41] jsquyres commented on #3048
@hppritcha and I just discussed this on the phone.  Per our initial discussion, we think we would like this in v2.1.0.  Is that possible?  (we can discuss tomorrow)

[2017-02-27 19:46] jsquyres commented on #3036
Per the discussion on #3039, this feels like a cosmetic issue, not something that is actually doing the Wrong Thing on the back-end.  Defer to v2.1.1.

[2017-02-27 20:12] naughtont3 opened #3049 "orte-clean not using username and missing orte-dvm"
The `orte-clean` tool was not including the `orte-dvm` variant of the daemon in the list of procs to kill, but would remove the session directory and thus leave things in limbo.

Also, the code is using a `uid` and not the `username` when comparing candidate procs to kill based on results from the `ORTE_CLEAN_PS_CMD` output.  The configury sets the value to something like `ps -A -o fname,pid,user`

[2017-02-27 20:16] #3026 closed

[2017-02-27 22:43] jsquyres opened #3056 "Compiler warnings from osc/rdma"
@hjelmn Getting some compiler warnings from GCC 5.2.0 in osc/rdma on master:

[code]

I can move the definition of `ompi_osc_rdma_oor` from `osc_rdma.h` to `osc_rdma_lock.h` to avoid the "defined but not used" warnings, but the "might not be inlinable" warnings remain.

Can you work around this, or remove the "always inline" attribute?

[2017-02-27 23:24] hjelmn commented on #3056
The inline keyword is missing.

[2017-02-27 23:24] hjelmn commented on #3056
will fix and update PRs

[2017-02-27 23:50] hppritcha commented on #3033
related to #3058

[2017-02-27 23:51] bosilca commented on #3042
Thanks for your analysis, you have correctly pinpointed the issue. During the process of adding a new proc, initiated due to a remote request, an error condition is reached and we decide to release the newly created proc. That path clearly has a bug, as the lock protecting the proc_table was not recursive. A patch is attached here.

However, the real question is why we decided to drop the newly cr

[2017-02-27 23:53] hppritcha commented on #1831
@thananon what BTL are you using when you see the 82 per cent degradation?

[2017-02-27 23:54] hppritcha commented on #2106
@jsquyres should we push this to 2.1.1?

[2017-02-28 00:47] junjieqian opened #3059 "MPI_Iallreduce with CUDA-aware supported?"
Hi, I would like to know if MPI_Iallreduce with CUDA-aware is supported now? As in https://www.open-mpi.org/faq/?category=runcuda, it is not but the page has not been update since last July.

Thank you!

[2017-02-28 08:29] Welcome-Dear-Evgueni commented on #3042
The application log and dmesg contain only the expected information.
The error may come only from OPAL_MODEX_RECV and malloc.
What may go wrong in OPAL_MODEX_RECV?

I applied the patch + debug printf with rc, and started the app with --mca btl_base_verbose 30.

I will let you if it is able or not to run w/o deadlocks for 20h.

[2017-02-28 11:17] jsquyres commented on #2106
Agreed.  Pushed to v2.1.1.

[2017-02-28 12:39] jsquyres commented on #3056
Fixed via #3057.  Thanks @hjelmn

[2017-02-28 12:39] #3056 closed

[2017-02-28 14:19] #3049 closed

[2017-02-28 15:48] thananon commented on #1831
@jsquyres I will re run the test on 2.x as soon as I can.
@hppritcha I'm using openib btl. However the retest result is inconsistent with the original one. I will redo the whole test and report back as soon as possible.

[2017-02-28 16:27] jjhursey commented on #3048
On the teleconf this morning the OMPI community decided to update the internal PMIx component with the two patches so they can release _soon_. I've filed PR #3062 to do that.

PMIx has accepted this fixes into their `v1.2` release series and will be included in the eventual `v1.2.2` release.

[2017-02-28 17:07] jsquyres commented on #1831
Per the OMPI webex this morning, we're deferring this to v2.1.1.

[2017-02-28 19:02] jsquyres opened #3065 "MPI_UNPACK bug"
There is a bug in MPI_UNPACK that is causing many MTT tests to fail.  The bug appears to be on v2.0.x and v2.x, but not master.

#3060 (v2.1.x) and #3061 (v2.0.x) have been proposed to fix the issue.  @ggouaillardet seems to think that there should be a different fix.

Filing this issue to track the problem.

@hppritcha v2.1.0 or v2.1.1?  Tentatively marked as v2.1.0 because it's causing a lot of

[2017-02-28 19:57] #2616 closed

[2017-02-28 20:16] sjeaugey commented on #3059
Hi Junjie, the FAQ is correct, async collectives are still not supported.

[2017-03-01 05:28] Welcome-Dear-Evgueni commented on #3042
As of now, the app runs for 21h.

According to the log,  the control never passed via @@ -184,12 +186,14 @@ mca_btl_tcp_proc_t* mca_btl_tcp_proc_create(opal_proc_t* proc) in btl_tcp_proc.c.

There no warnings and debug info from MPI as well.

[2017-03-01 05:39] hppritcha commented on #3065
I think this is a reasonable fix to go into a 2.1.0rc2 tarball.

[2017-03-01 05:39] hppritcha commented on #3065
Why are we just now detecting this in MTT?

[2017-03-01 06:31] bosilca commented on #3042
Is that a good or a bad sign ?

[2017-03-01 08:54] Welcome-Dear-Evgueni commented on #3042
The fix seems to work.

To simulate errors, I have put the following code inside do {...} while (0) in btl_tcp_proc.c.
If /home/espetrov/error.txt exists, the MPI processes hang at startup w/o the fix.
After the fix, the MPI processes start normally even if /home/espetrov/error.txt exists.
Please confirm that errors in mca_btl_tcp_proc_create are not "fatal".

I also see that mca_btl_tcp_proc_crea

[2017-03-01 12:37] jsquyres commented on #3065
I don't have a good answer, other than: perhaps we weren't looking at MTT close enough...?

[2017-03-01 16:31] ccaamad commented on #3003
Hi there,

This problem is a deal breaker for us, but I need some of the other fixes that were made in 2.0.2. Is it sensible to go with the following revert until 2.0.3 (or 2.1.0) is out with the proper fix, please? I had to hack a couple of files about a bit...

ccaamad/ompi@0fdc34b7dbb24439c198c8fa824ce6d2d1a9f0ad

(a slow but working `MPI_Wtime` is better than a fast but broken `MPI_Wtime`!)

T

[2017-03-01 16:49] junjieqian commented on #3059
Thank you, @sjeaugey!

[2017-03-01 16:49] #3059 closed

[2017-03-01 18:27] bosilca commented on #3042
I pushed the fix in master (ec4a235). @jsquyres will create the PR for v2.x.

I wonder the same question about the mca_btl_tcp_proc_create. One possible reason is if you have multiple IPs, and we open the connections as needed. Or simply because we choose a different barrier algorithm on the communicator, and therefore we need to setup new connections.

[2017-03-01 19:45] jjhursey opened #3075 "PGI F08 symbol Issue on POWER"
MTT found this issue with Open MPI using the PGI compiler (16.10 on ppc64le) and the F08 module.

As you can see below the `use mpi` module is fine, but the `use mpi_f08` module is not.
[code]

[code]

Attaching a debugger the datatype being passed into the `MPI_Recv` (and `MPI_Send` - which also triggers an error, but `MPI_Recv` just won the race to issue an error here) is `0` instead `7`.

The `

[2017-03-01 23:53] jsquyres commented on #3075
@jjhursey and I chatted about this issue this afternoon; he got a bit of an education on Fortran.  😄

We narrowed the issue down a bit (the `_integer` symbol is a red herring).  Short version:

* `MPI_INTEGER` is a BIND(C) fortran declaration with name `ompi_f08_mpi_integer`.
* This symbol -- `ompi_mpi_f08_integer` -- is instantiated properly in `ompi/mpi/use-mpi-f08/constants.c`, and properly exi

[2017-03-02 00:03] jsquyres commented on #3042
Fixed via ec4a235.  Closing this issue because the problem is fixed (but feel free to keep conversing here if there's more questions / comments).

[2017-03-02 00:03] #3042 closed

[2017-03-02 00:11] nrgraham23 commented on #2931
I have broken all of the options up into several groups, most of which make sense to me.  I could use some feedback on these groups though.  @rhc54 @hppritcha @jsquyres

Here is the file with the groups:

[ompi help output groups.txt](https://github.com/open-mpi/ompi/files/812379/ompi.help.output.groups.txt)

[2017-03-02 00:54] jsquyres commented on #2931
Comments:

* I agree the pmix server URI doesn't belong there.   @rhc54 Would you classify `mpirun`'s `--ompi-server` option a "Launch option" or a "DVM option"?
* Yes, I think that breaking up mapping, binding, and ranking options into separate groups would be good.  That stuff is confusing -- keep those sections small!

I think the other groups look good.

[2017-03-02 02:23] ggouaillardet opened #3080 "v2.x: MPI_Comm_spawn() fails with MPI tasks"
@hppritcha @jsquyres @rhc54
this is a blocker that is likely solved with the simple patch below

[code]

```master``` is OK, ```v2.0.x``` is fine (though the verbose message is incorrect) but ```v2.x``` mainly hangs (and works with confusing error message once in a while)

the PR will come shortly, meanwhile, i guess we do not want to release ```v2.1.0``` nor a new rc tarball

[2017-03-02 02:29] jsquyres commented on #3080
Thanks @ggouaillardet!

[2017-03-02 02:40] rhc54 commented on #3080
Indeed, thanks! Since that patch was part of a larger commit and had a follow-on to complete the fix of singleton comm_spawn on master, can you please check to see if any more of it is needed here?

[2017-03-02 02:42] rhc54 commented on #2931
server URI: it's hard to say where to put this. It's purpose is to service functions like "publish" and "lookup" - i.e., dynamics between jobs launched by different mpirun's. I guess lumping it in with DVM is as good as anything else I can come up with.

+1 on splitting mapping, ranking, and binding groups.

[2017-03-02 02:57] ggouaillardet commented on #3080
@rhc54 i made #3081
i will push a new test to the ```ompi-tests``` repo and review the full fix later

[2017-03-02 04:02] jjhursey commented on #3075
I was able to create a small reproducer for this (possible) compiler bug. It works with GNU and XL compilers, but fails with PGI. I'll work on getting that reproducer to the PGI group and see what they have to say.

Thanks @jsquyres for the Fortran (and ompi fortran build) refresher. Makes me love C even more 😄

[2017-03-02 04:13] jjhursey commented on #3075
Here is a link to the reproducer:
 * [pgi-bug.tar.gz](https://github.com/open-mpi/ompi/files/812750/pgi-bug.tar.gz)

[code]

[code]

[code]

[2017-03-02 08:09] cshanbo opened #3084 "MPI.spawn invalid value argument for info object when passing os environment"
Hi,
I got the` invalid value argument  for info `error in the project with openmpi and mpi4py, see [this line](https://github.com/tsirif/platoon/blob/fix_attempt/platoon/mpi_util.py#L39)

And I saw a solution [here](https://groups.google.com/forum/m/#!topic/mpi4py/cYyJKyqEQTY), then I rewrite [this line](https://github.com/tsirif/platoon/blob/fix_attempt/platoon/mpi_util.py#L39) to `info.Set(key='

[2017-03-02 10:02] ccaamad opened #3089 "openmpi 2.: MPI_Wtick returns 10e-9, not 10e-6"
Hi,

The man page for `MPI_Wtick` claims that it should return 10e-6 on POSIX platforms. I've noticed that, at least on my system (centos7, x86_64), openmpi 2.0.1 returns 10e-9.

Is this intentional - should the man page be updated?

Cheers,

Mark

[2017-03-02 10:18] ggouaillardet commented on #3084
@cshanbo i wrote a simple C test program and had no issue with ```master```
[code]

at first, i recommend you spawn with one and then two environment variables, and finally you filter out all environment variables starting with ```OMPI_``` or ```PMIX_```` (these are used internally and should not be passed to the spawned processes)
last but not least, if you do not spawn a MPI task, then you need

[2017-03-02 12:07] cshanbo commented on #3084
Thank you for your reply!
I’m using the latest version in openmpi.org
<https://www.open-mpi.org/software/ompi/v2.0/>, I’m not sure if it is the
master. I will clone the master branch and reinstall openmpi.
​

Thank you.
Shanbo

2017-03-02 18:18 GMT+08:00 Gilles Gouaillardet <notifications@github.com>:

[2017-03-02 12:47] ggouaillardet commented on #3084
@cshanbo this version should be ok.
i suggest you try with the simplest example i suggested earlier, and then starts doing more complicated stuff

[2017-03-02 13:31] bosilca commented on #3089
The MPI time accuracy depends on your processor and OS, and also the fact that you ask for a monotonic time or not. You are right, the man page should be updated to reflect this flexibility.

[2017-03-02 15:43] #3089 closed

[2017-03-02 16:52] PeterGottesman opened #3095 "master: double free in orted with ras_base_multiplier"
On AWS testing I have been running into some sporadic issues with a double free in orted when I have `ras_base_multiplier` set.  The command that I ran was the following:

[code]
The executable `/shared/test` is mpi_no_op.

The backtrace:

[code]
Here is the full output
[slurm-124.txt](https://github.com/open-mpi/ompi/files/814473/slurm-124.txt)

If there is any other information I can provide let

[2017-03-02 17:25] rhc54 commented on #3095
Try running again with ```--mca sec basic``` and see if that solves the problem

[2017-03-02 18:54] nrgraham23 commented on #2931
Ok.  I have made the modifications you both suggested, cleaned up the list, and made some other changes.  I also uploaded the document to google docs so you guys can comment on it.

@hppritcha @jsquyres @rhc54 Please take a look and make some suggestions if you see something that is not in the right place.

https://docs.google.com/document/d/1Ck0Nmi0kckNqqaX3zLuOJBHmsrSkn1MQX95h8rtEUOw/edit?usp=sh

[2017-03-02 20:45] PeterGottesman commented on #3095
@rhc54, that seems to have worked, but I am running more tests now to verify it wasn't a (lucky) fluke.

[2017-03-03 00:09] rhc54 commented on #3095
I am removing that framework as it is stale and unnecessary: https://github.com/open-mpi/ompi/pull/3096

[2017-03-03 05:26] Welcome-Dear-Evgueni commented on #3042
Many thanks for bearing with me.
"ip address show" gives "inet scope global" and "inet6 scope global" addresses for eth1.
And I also see the same "inet6 scope global" address for eth1 and vlanXXX@eth1.
Which one (if anyone) may be causing the problems?

[2017-03-03 10:21] Welcome-Dear-Evgueni commented on #3042
Another question: what happens when openmpi sees multiple interfaces? E.g. vlan with an "inet6 scope global" address and eth1 with "inet scope global" and "inet6 scope global" addresses?

[2017-03-03 12:33] bosilca commented on #3042
If no restrictions have been provided via MCA parameters (btl_tcp_if_include or btl_tcp_if_exclude), then Open MPI is supposed to use all non-local interfaces.

[2017-03-03 12:43] Welcome-Dear-Evgueni commented on #3042
Does Open MPI use IPv4 and IPv6 connections simultaneously?

[2017-03-03 12:57] ggouaillardet commented on #3042
iirc, IPv6 is disabled unless you configure with --enable-ipv6

[2017-03-03 15:32] edgargabriel opened #3098 "sharedfp:lockedfile: add support for multiple jobs using the same file"
based on a bug report by Nicolas Joly on the mailing: the sharedfp/lockedfile component does not support right now a scenario where multiple jobs read from the same input file, due to a collision of the filenames utilized for the sharedfp handle.

[2017-03-03 16:26] Welcome-Dear-Evgueni commented on #3042
Since we do not --enable-ipv6, multiple IPs are not relevant here.

Then it must be that Open MPI switched to a different barrier algorithm.
But what could cause this?
Does Open MPI collect performance data at run-time and tune its performance? E.g. switches from one barrier algo to another?

[2017-03-05 20:46] #3098 closed

[2017-03-06 16:27] hppritcha opened #3107 "v3.0.0 feature whitelist"
Per the [2/28/17 devel core minutes](https://github.com/open-mpi/ompi/wiki/WeeklyTelcon_20170228) the following items made it to the v3.0.0 feature whitelist:
- [x] Hook Framework
- [x]  <del>Removing Internal hwloc component (well this hit some turbulence, see https://github.com/open-mpi/ompi/pull/3029, we're probably delaying this to the future)</del>
- [x] PMIx 2.0.0
- [x] UCX Allocator (SPML #

[2017-03-06 16:38] hppritcha commented on #3048
did #3062 fix this issue?

[2017-03-06 16:44] jjhursey commented on #3107
The Hook framework was merged into `master` as part of PR #2773 - so that can be checked off.

[2017-03-06 16:52] hppritcha commented on #3080
This should have been closed by commit #3081 per the reference in the description in that PR.

[2017-03-06 16:53] hppritcha commented on #3080
reopening to discuss with @jsquyres today.

[2017-03-06 17:00] siegmargross commented on #3048
Yes, I think so. I was able to build openmpi-2.1.0rc2 with our Oracle/Sun compiler. Thank you very much to everybody for your help.

[2017-03-06 17:42] nspark opened #3108 "OSHMEM: shmem_ptr() always returns 0"
## Issue

Currently in OSHMEM, [`shmem_ptr()` will always return a null pointer](https://github.com/open-mpi/ompi/blob/1e2019ce2a903be24361b3424d8e98d27e941c6c/oshmem/shmem/c/shmem_ptr.c).

## Background

OpenSHMEM 1.1 included a note in the definition of `shmem_ptr()` that said:

which limited the functionality of `shmem_ptr()` to exclusively load/store-based OpenSHMEM implementations.

OpenSHMEM

[2017-03-06 19:04] hppritcha commented on #398
@jjhursey is this going to make it into master soon?

[2017-03-06 19:04] hppritcha commented on #398
the PR sorry.

[2017-03-06 20:18] jsquyres commented on #3080
@rhc54 @ggouaillardet Is this one now done? I.e., was #3081 sufficient for v2.1.0?

[2017-03-06 20:19] jsquyres commented on #3065
This is now closed; MTT shows all these issues are fixed.

[2017-03-06 20:19] #3065 closed

[2017-03-06 20:20] #3048 closed

[2017-03-06 20:55] rhc54 commented on #3080
Yes

[2017-03-06 20:55] #3080 closed

[2017-03-06 22:25] jjhursey commented on #398
I think we are waiting for a review on PR #2941.

[2017-03-06 23:01] hppritcha opened #3115 "OpenBSD: segv running ring with OpenMPI 2.1.0rc2"
Configuring 2.1.0rc2 with --enable-mca-no-build=patcher, @PHHargrove got a segfault.

See https://www.mail-archive.com/devel@lists.open-mpi.org//msg19985.html

[2017-03-06 23:03] hppritcha opened #3116 "Free/NetBSD: PMIX build failures using OpenMPI 2.1.0rc2"
@PHHargrove reported a PMIX build failure when trying to build OpenMPI 2.1.0rc2 for Free/NetBSD systems at his disposal:

https://www.mail-archive.com/devel@lists.open-mpi.org//msg19986.html

He's providing a patch.

[2017-03-06 23:07] hppritcha opened #3117 "NetBSD: Runtime error using Open MPI 2.1.0rc2"
@PHHargrove reports hitting a runtime error (using ring_c).c) on NetBSD when using the Open MPI 2.1.0rc2 tarball.  Error is in PMIX.

See https://www.mail-archive.com/devel@lists.open-mpi.org//msg19987.html

[2017-03-07 03:33] rhc54 commented on #3117
Here is the error report:

[code]
@artpol84 Can you please take a look?

[2017-03-07 05:07] Evgueni-Petrov-aka-espetrov commented on #3042
Ping

[2017-03-07 05:30] ggouaillardet commented on #3042
the coll/tuned module selects the collective algorithm based on communicator and message sizes.
in the case of MPI_Barrier, decision is only based on the communicator size.

[2017-03-07 14:50] PHHargrove commented on #2666
Just for the record, this hang occurred again in my testing of 2.1.0rc2 on Yosemite.
I am not concerned too much since this is only occurring with a non-default configure option, which in-turn is planned for removal in 3.0 (https://github.com/open-mpi/ompi/issues/2668)

[2017-03-07 15:09] rhc54 commented on #3116
Fixed here: https://github.com/pmix/pmix/pull/326

Will patch OMPI shortly

[2017-03-07 15:33] artpol84 commented on #3117
The only place that can cause this error is `posix_fallocate`.
https://github.com/open-mpi/ompi/blob/v2.x/opal/mca/pmix/pmix112/pmix/src/sm/pmix_mmap.c#L69

@PHHargrove can you check `/tmp` directory to have a leftover?
is there any restrictions on that dir? Like it is a ramdisk with some fixed memory size?

[2017-03-07 15:38] gpaulsen commented on #3107
The get/set Info stuff is very close, passed review, and just needs a rebase: PR #2941.

[2017-03-07 15:46] PHHargrove commented on #3117
Thanks, Artem.
Indeed /tmp is a ram disk that is too small.
Setting TMPDIR resolved the issue.

I would suggest that in the future a better error message would be helpful, but is not critical.

[2017-03-07 15:53] jsquyres commented on #2499
Much improvement has occurred in Cisco's MTT for testing OpenSHMEM -- the number of failures is significantly smaller (others are free to copy Cisco's MTT INI config).  There's still a few left, however -- still need to investigate whether they are real failures, or if there's a few corner cases / false failures slipping through somehow.

[2017-03-07 15:59] PHHargrove commented on #3117
I spoke too soon.
Setting TMPDIR=$HOME (on a filesystem with 24GB of free space) did not help.

[2017-03-07 16:04] PHHargrove commented on #3117
I see a part of the problem: posix_fallocate does **not** set errno on failure.

Here is a relevant portion of the posix_fallocate manpage on NetBSD:
[code]

And Linux says much the same:
[code]

[2017-03-07 16:12] artpol84 commented on #3117
But still it fails for some reason.
Can you try to output what posix_fallocate is returned?

[2017-03-07 16:21] hppritcha commented on #3115
per discussion in the devel core meeting we're not sure whether this is a setup issue specific to the system or a problem with ompi.  Keeping open but moving to future mileston.

[2017-03-07 16:33] PHHargrove commented on #3117
I am working on it, but I am traveling this week (sitting in the middle of a large meeting).

[2017-03-07 16:39] jjhursey commented on #3075
PGI confirmed this is an issue on both of their linuxpower and linux86-64 builds. They filed the issue as TPR 23919.

[2017-03-07 16:49] hppritcha commented on #3107
We will delay 2941 and hwloc removal to a future release.

[2017-03-07 16:52] hppritcha commented on #170
@shamisp if you want anything for ARM in 3.0.0 needs to be in the pipeline this week.  We're planning on forking this week and only what's on #3107 (modulo bug fixes) will get in.

[2017-03-07 17:01] jsquyres commented on #3075
@jjhursey Your Fortran mastery achievement (level 2) has been unlocked.

![image](https://cloud.githubusercontent.com/assets/617316/23668018/bcfc668a-032d-11e7-99b0-3bdb86d4aa2d.png)

[2017-03-07 17:06] PHHargrove commented on #3117
Can you try to output what posix_fallocate is returned?

The return value is `EOPNOTSUPP`, which POSIX documents as "Operation not supported on *socket*".  This makes no sense to me.
It is possible that `ENOTSUP` (Operation not supported) was intended.

Perhaps the configure test for `HAVE_POSIX_FALLOCATE` should to verify that the call actually succeeds.
Alternatively (likely simpler) the PMIX co

[2017-03-07 17:42] PHHargrove commented on #3117
To completely discharge my role as the "portability police", I want to note when `HAVE_POSIX_FALLOCATE` is not defined the code is using `ftruncate()` instead.
However, this is a non-portable use of that function.
Here is what the NetBSD manpage says on the subject:
[code]
The Mac OS X, FreeBSD and OpenBSD manpages say something similar in their "BUGS" section:
[code]
The Linux manpage provides th

[2017-03-07 18:00] PHHargrove commented on #3115
I have reproduced the SEGV 4 times and examined the core files each time.
In three of four the `(gdb) info threads` output looks like:
[code]
The fourth is
[code]

One common thread (pun intended) is that in addition to the faulting thread, there is always an additional thread also in an `_dl_*` function.  So, the possibility exists that this is an OS bug with respect to thread safety in the dynam

[2017-03-07 18:06] rhc54 commented on #3117
So it sounds like we need to do one or two things, and perhaps a third:

1. update the check for ```HAVE_POSIX_FALLOCATE``` to test functionality as well as presence
1. check the return code instead of errno when calling it - we should do this regardless, though it may also serve as the only required action
1. perhaps look at using lseek to extend the file instead of ftruncate, though as you say,

[2017-03-07 18:59] PHHargrove commented on #3117
@rhc54 I agree on all three points above, including placing low priority on allowing for failure of ftruncate().

I agree that with the proper checks item 2 alone should be sufficient.  There is a 50%+ chance that a tested-and-signed-off patch will appear here in the next two hour that implements item 2.

[2017-03-07 20:25] PHHargrove commented on #3115
Adding `-pthreads` to the application link command did not help.

[2017-03-07 20:25] PHHargrove commented on #3117
Proposed [patch](https://github.com/open-mpi/ompi/files/825566/issue3117-patch.txt) which has been tested (via ring_c) on the NetBSD/amd64 system where the problem was first observed.

[2017-03-07 20:39] PHHargrove commented on #3115
I can confirm that configuring with `--disable-dlopen` lets me run ring_c more than 100 consecutive times without any failure.  So, that is probably the recommended work-around.

[2017-03-07 20:48] artpol84 commented on #3117
thanks Paul, can you create a PR against PMIx master or you want me to do that?

[2017-03-07 20:54] PHHargrove commented on #3117
@artpol84 I would really appreciate it if you could handle the PR.
I am at (or over?) the limit of what I can do while still keeping up with the meeting I am sitting in.

[2017-03-07 20:56] artpol84 commented on #3117
Thanks, Paul. We will take care.

[2017-03-07 20:56] rhc54 commented on #3115
Okay, thanks Paul!

@jsquyres Can you please add that to the README?

[2017-03-07 21:45] jsquyres commented on #3115
Got it in the updated README for v2.1.0 coming shortly...

[2017-03-07 21:45] #3115 closed

[2017-03-08 06:31] artpol84 commented on #3117
@karasevb please create PR

[2017-03-08 16:21] hppritcha opened #3126 "Remove coll/ml component from 3.0.0"

[2017-03-08 16:43] bwbarrett commented on #2849
Brian, Howard,

We can safely deprecate MXM/MTL.

Josh

-----Original Message-----
From: Barrett, Brian [mailto:bbarrett@amazon.com]
Sent: Tuesday, March 07, 2017 2:52 PM
To: Joshua Ladd <joshual@mellanox.com>
Cc: Pritchard Jr., Howard <howardp@lanl.gov>
Subject: Re: MXM MTL / Yalla PML

Thanks!  We won’t take any action until we hear from you.

Brian

On Mar 7, 2017, at 11:51 AM, Joshua Ladd <jos

[2017-03-08 17:49] jladd-mlnx commented on #2849
👍

[2017-03-08 17:49] jsquyres commented on #3126
Don't forget to remove the associated verbiage from README, too.  😄

[2017-03-08 17:51] jladd-mlnx opened #3129 "Remove Yoda SPML"
Per discussions at January F2F. Remove Yoda SPML from OSHMEM.

[2017-03-08 20:56] hppritcha commented on #3126
this was removed with commit 66131b4

[2017-03-08 20:56] #3126 closed

[2017-03-09 08:27] cshanbo opened #3133 "There are not enough slots available in the system to satisfy the 1 slots"
Hi all,
I tested a multi-node task with openmpi in [this project](https://github.com/cshanbo/platoon/tree/fix/multi-node).

As In the title, when I comment `--oversubscribe ` in [this line](https://github.com/cshanbo/platoon/blob/fix/multi-node/scripts/platoon-launcher#L124), there will be an exception, `There are not enough slots available ...` even when I only launch **one** task on each node.

[2017-03-09 09:58] Willow94 commented on #2956
Good morning all,

This is my first post on github.com, please excuse me if this is not at the right place!

I'm trying to install OpenMPI on a Mac laptop under Sierra to realise some parallel computations, but am experiencing some problems when trying the command mpirun.
I've followed the same installation process as on my Ubuntu desktop (which is working just fine) and specified the different pa

[2017-03-09 11:12] jsquyres commented on #2956
@Willow94 Please see https://www.open-mpi.org/faq/?category=osx#startup-errors-with-open-mpi-2.0.x.

[2017-03-09 11:56] Willow94 commented on #2956
@jsquyres Thank you for your answer, I hadn't seen this comment on openmpi.org before.

I'm trying to set the TMPDIR environment variable to /tmp, as adviced, by entering the following in my .bashrc file: export TMPDIR="$TMPDIR:/tmp", without any success. Am I doing anything wrong?

PS: sorry if that's basics, I'm completely new to this kind of things and trying to learn more about it so I can do

[2017-03-09 12:54] ggouaillardet commented on #2956
@Willow94 all you need is
[code]

then you can
[code]
to confirm the correct value.
(if you only set your .bashrc, you will likely have to close your terminal and open a new one)

[2017-03-09 13:00] Willow94 commented on #2956
@ggouaillardet Thanks a lot, works perfectly now!

[2017-03-09 15:02] hppritcha commented on #3117
@jsquyres I vote for moving this to 2.1.1

[2017-03-09 15:03] hppritcha commented on #3116
Closed via #3118

[2017-03-09 15:03] #3116 closed

[2017-03-09 15:04] PHHargrove commented on #3117
I only test on the effect system(s) - I don't *use* them.
So waiting for 2.1.1 is not a problem for me.

[2017-03-09 15:06] jsquyres commented on #3117
@hppritcha I just moved the milestone, but then I looked closer / remembered what this one was -- wasn't it fixed in https://github.com/open-mpi/ompi/pull/3130 ?

[2017-03-09 15:28] rhc54 commented on #3117
yes, it was, so closing this one

[2017-03-09 15:28] #3117 closed

[2017-03-09 15:31] rhc54 commented on #3133
It always helps us to properly respond if you tell us which version of OMPI you are using, whether this is a managed environment or not, and if not, then what was in your hostfile?

[2017-03-09 17:50] #3095 closed

[2017-03-10 09:39] cshanbo commented on #3133
Thank you for your reply.

I'm using the latest version of openmpi on [this page](https://www.open-mpi.org/software/ompi/v2.0/).
I launch the processes in a python script [here](https://github.com/cshanbo/platoon/blob/fix/multi-node/scripts/platoon-launcher#L126). Basically, it's a bash command like
```mpirun -np 2 -H host1,host2```

[2017-03-10 10:34] ggouaillardet commented on #3133
@cshanbo is ```mpirun``` invoked on one of the nodes listed in the ```-H``` option ?
what if you manually ?
```mpirun -np 2 -H host1,host2 hostname```
if it fails, what if you ?
```mpirun -np 2 -H host1:1,host2:1 hostname```
it do not think that should be necessary, but since there were quite some changes in this area, i might be wrong

[2017-03-10 14:27] rhc54 commented on #3133
Adding the colon qualifiers isn't necessary. We automatically assign 1 slot for every time you list the host. My best guess is that there is something in your Python wrapper that is messing up the cmd line. Try printing out the actual cmd line you are executing, and then try invoking it manually to see what happens.

[2017-03-12 06:59] C2H6O opened #3144 "Failed to run mpiexec (ompi_mpi_init: ompi_rte_init failed)"
Hello,

Open MPI version (2.0.2).

I was trying to run the following command:

[code]

Any ideas on what could be wrong (setup, environment, etc...)?

[2017-03-12 07:10] #3144 closed

[2017-03-12 10:34] rishards opened #3145 "Getting Segmentation fault when run OpenFoam with openib on aarch64"
Recently I have been testing OpenFoam with openib on **aarch64**, and get a segmentation fault:
[code]
the core dump backtrace:
[code]
I found that the **reg->cbfunc=0x00**,so i print the value of hdr->tag,and found **the value of hdr->tag** just changed around the line.

tag before:0x2
tag after:0x41
[code]
Version of Openmpi:Master
Version of Openfoam:4.1
The example : /tutorials/incompressible/

[2017-03-13 15:19] hppritcha opened #3147 "ORTE:hangs observed at finalize using PBS/Torque"
A user is reporting a problem with both master and v2.1.0rc3 on their cluster system.  The failure signature is a hang in ```MPI_Finalize``` when running any MPI program, including hello_c.c from examples. The user was so kind as to do a git bisect and narrowed the failure down to this commit:

https://github.com/open-mpi/ompi/commit/48fc33971870dd73aa8db1ed51466df813a641eb

The user noticed that

[2017-03-13 15:22] rhc54 commented on #3147
That's impossible on 2.1.0rc3 as the code in the cited commit hasn't come across to the 2.x branch, and never will. It could be possible on master, but then we have two failure modes exhibiting the same behavior - possible, but odd.

[2017-03-13 15:43] hppritcha commented on #3147
Here's the traceback that the user see's on master when using the pbs/torque cluster:

[code]

[2017-03-13 15:49] rhc54 commented on #3147
I'm afraid that doesn't tell us anything - just shows that mpirun is idling while it waits for something to happen (likely waiting for a daemon to finish). What we would need is the output from adding "-mca state_base_verbose 5 -mca plm_base_verbose 5" so we can see what is happening on the backend nodes

[2017-03-13 15:58] ccaamad opened #3150 "Errors compiling when using MPI within OpenMP parallel region"
Hi,

One of my users has reported that he gets compilation errors relating to `ompi_mpi_comm_world` and `ompi_mpi_int` when he uses MPI to communicate between OpenMP threads using openmpi 2.0.2.

openmpi has been configured/built with:
        --with-sge \
        --with-io-romio-flags=--with-file-system=lustre+ufs \
        --enable-mpi-cxx \
        --with-cma \
        --enable-mpi-thread-multi

[2017-03-13 16:02] tonycurtis commented on #3147
[code]

[2017-03-13 16:02] hppritcha commented on #3147
The user notices that on the other node, the app process exited and only the orted process remains.
User double checked 2.1.0rc3 and he does not see the problem there.

@tonycurtis would you mind running using the mpirun options in the above comment:
[code]

[2017-03-13 16:24] rhc54 commented on #3147
Sorry to be a pain - but could you configure OMPI with ```--enable-debug```? We aren't seeing some of the debug output. It looks like both daemons thought they should be launching ranks 0 and 1, and so nobody actually launched ranks 2,3.

[2017-03-13 17:02] tonycurtis commented on #3147
[code]

and hang

[2017-03-13 18:05] hppritcha commented on #3107
@jladd-mlnx where are we with these UCX related features?

[2017-03-13 18:22] rhc54 commented on #3147
Okay, I see the problem - this PR should fix it: https://github.com/open-mpi/ompi/pull/3152

[2017-03-13 19:12] jsquyres commented on #3033
Done!

[2017-03-13 19:12] #3033 closed

[2017-03-13 19:17] jsquyres commented on #2947
https://github.com/open-mpi/ompi/commit/dee2d8646d2e2055e2c86db9c207403366a2453d looks like the fix in master.  Did this get applied to v2.0.x and v2.1.x?

[2017-03-13 19:27] #2652 closed

[2017-03-13 20:00] jsquyres commented on #2947
Per discussion with @rhc54: no, it did not get applied to v2.0.x or v2.1.x.  Would be good to get into both of those.  I'll leave this issue open for v2.0.3 and file another for v2.1.x, just to make sure we don't forget to include the fix for v2.1.1.

[2017-03-13 20:02] jsquyres opened #3154 "v2.1.1: Add SGE fixes to v2.x branch"
This is the v2.1.x version of the v2.0.3 issue #2947: apply SGE fixes (dee2d86) to v2.1.x branch.

[2017-03-13 21:25] rhc54 commented on #3147
@tonycurtis Could you please update from master and verify this problem is fixed?

[2017-03-13 21:40] tonycurtis commented on #3147
Same problem.

[code]

[2017-03-13 21:48] tonycurtis commented on #3147
And same program running fine with earlier commit

[code]

[2017-03-13 22:49] rhc54 commented on #3147
Okay, well the regex is now correct and so both nodes should be seeing each other, so that's progress. Next question is: why does the 2nd node not realize that the first node has procs on it?

Let's add ```-mca rmaps_base_verbose 5``` and see what that tells us.

[2017-03-13 22:52] tonycurtis commented on #3147
[code]

[2017-03-14 00:14] ggouaillardet commented on #3150
@ccaamad i C, Open MPI defines ```MPI_COMM_WORLD``` and ```MPI_INT``` macros as ```ompi_mpi_comm_world``` and ```ompi_mpi_int```. fwiw, there are many others, and Fortran is different.

that should be internal stuff that is transparent to users 99% of the time ...

because you do an omp parallel with ```default(none)```, your user is in the 1%
so he/she can either
- add a ```shared(ompi_mpi_comm_w

[2017-03-14 01:58] rhc54 commented on #3147
I found the issue - fix coming

[2017-03-14 07:27] rhc54 commented on #3147
@tonycurtis Please update and confirm this fixed it. Thanks for your assist and patience.

[2017-03-14 08:37] cshanbo opened #3158 "Error happenss when launching a subprocess using openmpi"
Hi openmpi team,

I am attempting run a [Theano](https://github.com/Theano/Theano)-based `Python` code for [neural machine translation](https://github.com/rsennrich/nematus) with openmpi and a [multi-node framework](https://github.com/cshanbo/platoon/tree/fix/multi-node) , but something weird happened.
Any idea will be helpful and appreciated.

Background: The process of my codes is like:
1. start

[2017-03-14 08:46] cshanbo commented on #3133
I tried to invoke the process from command line without python wrapper, still got the same error.
The command is simply like:
[code]
The `THEANO_FLAGS`, etc, parameters are needed by my codes.

Error
[code]

[2017-03-14 08:51] ccaamad commented on #3150
Hi Gilles,

Thanks for the response :)

I would have thought that adding 'default(none)' was quite popular and not only used in 1% of cases.

Both of those options are pretty ugly and, since you say that there are plenty others, only going to get uglier the more MPI is used from within a OpenMP parallel region.

You are right, trying this out on a couple of mpich-derived MPIs, they work without co

[2017-03-14 10:06] ggouaillardet commented on #3150
Mark,

```default(none)``` is pretty popular indeed. by 1% i meant invoking MPI within an omp parallel
(it will likely get more and more popular, but i am not sure many are doing this now)

i will ask other folks if they have any idea on how to make things clean and/or portable.
at this stage, i think that moving to handler a la mpich is unlikely in a near future
(we will be branching Open MPI 3 b

[2017-03-14 12:12] tonycurtis commented on #3147
Sadly, still doing it:

[code]

[code]

Don't know if this helps, but I note that the first node gets the correct total rank count, and the others get the remaining-slots-to-be-filled as job size and enumerate their ranks within that range.  Will attach trace if required.

[2017-03-14 13:47] jsquyres commented on #3150
@hppritcha You're the OpenMP expert -- thoughts?

[2017-03-14 14:08] hppritcha commented on #3150
I think at this point Gilles' always shared pragma is best way to handle this.  Probably need to do same for mpi comm self etc.

[2017-03-14 14:14] rhc54 commented on #3147
Sigh - okay, let's try and get some more info. Sadly, I don't have access to a system running Torque, so would you be willing to apply the following patch and post the resulting output?

[code]

[2017-03-14 14:16] rhc54 commented on #3133
Let's break the problem down into some smaller steps. First, let's get mpirun working correctly. Try running ```mpirun -np 2 -H <host1>,<host2> hostname```

[2017-03-14 14:20] rhc54 commented on #3158
From you first scenario, it looks like your validation script is invoking an application that calls MPI_Init. If you do that directly (i.e., without using mpirun), then it runs as a "singleton". The error you received might indicate that the app was built against one version of OMPI, but your current LD_LIBRARY_PATH and PATH are pointing at another.

[2017-03-14 14:23] rhc54 commented on #2270
I think we can safely close this one now.

[2017-03-14 14:23] #2270 closed

[2017-03-14 14:25] hppritcha commented on #2929
Too late for 3.0.0.

[2017-03-14 14:32] tonycurtis commented on #3147
(Hopefully fixed some missing commas correctly). -l nodes=2:ppn=2.  First trace just with that added above, followed by full trace.

[code]

[code]

[2017-03-14 15:33] hppritcha commented on #3145
Do you know how your OpenMPI was configured?  Could you post the output of ```ompi_info```?

[2017-03-14 15:34] rhc54 commented on #3147
Here is the problem:

[code]
For some reason, the other node doesn't see the node hosting mpirun as being available. Let me see what might be going on.

[2017-03-14 15:40] hppritcha commented on #3107
UCX multi-threading PR should be posted for master by end of this week according to @jladd-mlnx

[2017-03-14 15:50] hppritcha opened #3167 "Remove loadleveler support"
loadleveler is no longer being maintained by IBM and no appears to be willing to support it.  So time for it to be removed as a orte/ras component.

@gpaulsen

[2017-03-14 16:03] hppritcha commented on #429
I'm moving this to future milestone since its unlikely there will be anyone available to work on this issue in the foreseeable future.

[2017-03-14 16:52] rhc54 commented on #3147
Okay, there is a different code path for managed allocations, and it looks like we don't pass the flag indicating that the node where mpirun is executing should be included in the job. Sorry to be a pain, but could you please ```reset``` your repo to clear the last diff, and then apply this one?

[code]

[2017-03-14 17:00] tonycurtis commented on #3147
Do I need to be at a particular git-checkout?  The rmaps_base_support_fns.c patch is being rejected (clean git-clone source tree).

[2017-03-14 17:01] rhc54 commented on #3147
you can just ignore that part - it's the other one in nidmap.c that is important

[2017-03-14 17:01] rhc54 commented on #3147
I actually think I found one more required change, so might want to hang on a minute

[2017-03-14 17:09] rhc54 commented on #3147
Someone else hit a similar problem that turned out to have the same root cause, so I have setup a PR to fix it. Once that gets committed, I think you can just update and (hopefully) this time things will actually be fixed.

[2017-03-14 17:10] tonycurtis commented on #3147
OK, will wait for that.

[2017-03-14 19:48] #3147 closed

[2017-03-14 19:48] rhc54 commented on #3147
Okay, please try it when next you get a chance - the commit is in master.

[2017-03-14 20:38] hppritcha commented on #3015
this is done, closing

[2017-03-14 20:38] #3015 closed

[2017-03-14 20:55] tonycurtis commented on #3147
+1

thanks

[2017-03-15 08:47] yqin commented on #3003
@bosilca, is that patch considered production ready or simply a hack?

[2017-03-15 09:00] yqin opened #3173 "2.0.x missing include/openmpi/ompi/mpi/cxx"
After a clean build and install, it wouldn't compile the very basic mpi_hello.cc.

$ cat mpi_hello.cc
#include <mpi.h>
int main(int argc, char* argv[])
{
    MPI::Init(argc, argv);
    int num_procs = MPI::COMM_WORLD.Get_size();
    int rank = MPI::COMM_WORLD.Get_rank();
    MPI::Finalize();
    return 0;
}

Errors:

$ mpicxx mpi_hello.cc
mpi.cc: In function 'int main(int, char**)':
mpi.cc:5: erro

[2017-03-15 09:52] ggouaillardet commented on #3173
shouldn't you
[code]
instead ?

[2017-03-15 09:59] ggouaillardet commented on #3173
also note the C++ bindings are no more built by default (the driving factor is they are now deprecated from the standard), so you have to
[code]

fwiw, some C++ developers think MPI C++ bindings were poorly designed, and BoostMPI is a better alternative

[2017-03-15 13:08] ggouaillardet commented on #3003
@yqin the patch above is a fix for cpu on which the ```constant_tsc``` flag is __not__ set.
in this case, the flag __is__ set, and the root cause is cpu frequency is not nominal
(governor is ```ondemand``` or ```userspace```)
so depending on your configuration, the patch might or might not help

[2017-03-15 13:18] jsquyres commented on #3173
This is [almost] the issue.

The MPI Forum has *deleted* the C++ bindings from the MPI-3.0 standard (they were deprecated in MPI-2.2 and deleted in MPI-3.0).

Open MPI v2.x therefore no longer builds the C++ bindings by default.  Hence, you need to `--enable-mpi-cxx` on the configure command line to build C++ bindings support in your Open MPI (Gilles got the CLI option *almost* correct 😉 ).

Also,

[2017-03-15 13:18] #3173 closed

[2017-03-15 14:56] gpaulsen commented on #3075
That image is epic.

[2017-03-15 15:41] gpaulsen commented on #3167
I asked internally to see if we have any legacy machines to test on.
Going forward IBM is not interested in maintaining support, but if we can find some internal resources we can test one time to determine it's current state.

[2017-03-15 16:19] jsquyres opened #3176 "Adjust rcache framework to allow hooking madvise properly"
Per all the hubaloo from #1654 and #3013, @hjelmn's conclusion was that the current structure of the rcache framework will not allow us to hook `madvise(2)` safely.  Hence, the current tip of master/v2.0.x/v2.x/v3.x (as of March 2017) is that we hook everything *except* `madvise(2)`.

This issue is a placeholder for someone to re-jigger the rcache framework to allow hooking `madvise(2)` properly.

[2017-03-15 16:19] jsquyres commented on #1654
Per IM discussion with @hjelmn (per #3013 and the corresponding v2.0.x and v2.x PRs), this issue can be closed.

The only issue left is that we no longer hook `madvise` properly, due to complications discussed in this issue and #3013.  New enhancement issue filed as #3176.

[2017-03-15 16:19] #1654 closed

[2017-03-15 16:26] aaronk opened #3177 "static static in pmix_s2"
I'm in the process of building openmpi 2.0.2 on a CentOS 6.8 system with gcc 6.2 using --with-pmi and --with-slurm.  Getting this compiler error.  Any reason there should be two statics here?

pmix_s2.c:98:1: error: duplicate 'static'
 static static OBJ_CLASS_INSTANCE(pmi_opcaddy_t,

[2017-03-15 16:43] jsquyres commented on #3177
We wanted to be *really* sure that it's `static`.

(that's embarrassing-yet-kinda-funny... funbarrassing?)

It looks like this is already fixed in all of the Open MPI development branches:

* master
* v2.0.x (for the upcoming v2.0.3 release)
* v2.x (for the immanent v2.1.0 release)
* v3.x (for the several-months-away 3.0.0 release)

If you want, you can grab a v2.0.x nightly snapshot tarball that

[2017-03-15 16:44] jsquyres commented on #3177
I'm going to close this issue, since the issue is already fixed in our repos, but thank you for a) noticing, and b) taking the time to report it!

[2017-03-15 16:44] #3177 closed

[2017-03-15 17:06] lee218llnl opened #3178 "Debugger support for launch, detach, then reattach"
I have noticed that if I launch an MPI job under a debugger, then orterun does not create the attach fifo. This is OK for the initial debug session, however, if I detach the debugger and then later try to attach to the same MPI job, the attach fifo does not exist and thus my debugger fails. Is it possible for orterun to generate the attach fifo after the initial debugger session detaches?

[2017-03-15 17:13] rhc54 commented on #3178
Assuming we can detect that the debugger detached, then sure - it would be relatively easy to start the fifo at that time. Alternatively, I see no reason why the fifo can't simply be created at the beginning of time, though I suppose we would have to add some protection to ensure you didn't attach to a job that was already launched under a debugger. At the moment, we have that protection for the a

[2017-03-15 21:21] hjelmn commented on #3003
@bosilca That patch isn't correct. We already have a check for an invariant tsc using cpuid. That is the function of ```opal_sys_timer_is_monotonic()```. Doing some research and it looks like we may be able to use bogomips to figure out the tsc frequency. @ccaamad is that constant across the cores in your system? On all my systems both bogomips and cpu MHz are constant.

[2017-03-15 22:41] jsquyres commented on #3003
There have been several off-list / off-issue discussions about this today.  Summary:

1. The patch that @bosilca put above *looks* like it is redundant / unnecessary.  It is doing the same thing that `opal_sys_timer_is_monotonic()` is doing (i.e., checking if the processor supports the invariant TSC) -- but via `/proc/cpuinfo` rather than via CPU ID assembly.  Hence, the code that is already there

[2017-03-15 22:49] bosilca commented on #3003
Indeed, our monotonic function check for invariance instead of monotonicity.

According to [POSIX](http://pubs.opengroup.org/onlinepubs/9699919799/functions/gettimeofday.html) gettimeofday should be considered obsolete, and applications should use clock_gettime instead.

[2017-03-15 22:53] hjelmn commented on #3003
@bosilca Yeah, I named the function ```opal_sys_timer_is_monotonic()``` since what we care about it that the tsc doesn't jump as the process moves around. Probably could have picked a better name.

[2017-03-15 22:57] hjelmn commented on #3003
bogomips looks like it will work for our case. According to this: https://en.wikipedia.org/wiki/BogoMips the relevant processors (ie both x86 AND invariant tsc) all have a 2x multiplier on the value.

I would prefer a more complete solution but after looking at the code Linux uses to determine the tsc clock rate I don't know if we should go there (http://lxr.free-electrons.com/source/arch/x86/kern

[2017-03-15 23:13] jsquyres commented on #3003
@bosilca Unfortunately, `clock_gettime()` has horrid portability issues on OS X.  ☹️  We had to stop using `clock_gettime()` in Libfabric because of said issues -- check out https://github.com/Homebrew/homebrew-core/pull/6551 for the sordid details (you can probably start reading around https://github.com/Homebrew/homebrew-core/pull/6551#issuecomment-258938148 or so).

Meaning: it is fine to use `

[2017-03-15 23:36] bosilca commented on #3003
Our detection of clock_gettime is already doing the right things (aka. it is not only checking the existence of the prototype). So we can use it as long as the configure detects it, and fall back to gettimeofday for all other cases.

[2017-03-15 23:44] jsquyres commented on #3003
@bosilca I don't think you appreciate how **evil** OS X is being with `clock_gettime`.  ☹️

Here's the key phrase from that homebrew ticket:

Meaning: even macros like `AC_CHECK_FUNC` and `AC_SEARCH_LIBS` will return "yes! that symbol is there!" but when you try to run, there's no *actual* symbol behind the weak symbol.  💥

Truly evil.  🙈 🙉 🙊

[2017-03-16 00:11] jsquyres opened #3182 "MPI_ALLOC_MEM slowness with CP2K application"
There were 3 separate threads about this issue on the Open MPI mailing list:

* https://mail-archive.com/users@lists.open-mpi.org/msg30581.html
* https://www.mail-archive.com/users@lists.open-mpi.org//msg30593.html
* https://www.mail-archive.com/users@lists.open-mpi.org/msg30732.html

Short version:

It looks like this app (CP2K -- https://www.cp2k.org/) is experiencing a large slowdown with regar

[2017-03-16 00:26] bwbarrett commented on #3003
Couldn't we AC_TRY_RUN() (evil in its own right, but I doubt anyone cross-compiles for OS X) for clock_gettime()?

[2017-03-16 00:40] jsquyres commented on #3003
We *could* use `AC_TRY_RUN`.  But it has its own issues (e.g., as you cited: cross compilation) -- I just didn't want to go there at all (at least in libfabric).

[2017-03-16 00:59] jsquyres opened #3183 "openib BTL should not register its mpool unless the BTL is actually used"
Per https://github.com/open-mpi/ompi/issues/3182, the openib BTL is registering its mpool before it should -- even if the openib BTL is not actually used for communication with any peer processes.  This is causing MPI_ALLOC_MEM to register memory with verbs, even when there are no peers to reach via the verbs API.  Case in point is when running a job on a single node (where the verbs API is not us

[2017-03-16 02:13] cshanbo commented on #3158
Hi @rhc54
Thank you for you help!

I don't think I confused OMPI. I installed open-mpi in the default path, which is `/usr/loca/`, and I set the `PATH` and `LD_LIBRARY_PATH` to `/usr/local/bin`, `/usr/local/lib`, separately to make sure the environmental variables are correct.

Basically, what my validation script is to call a python code like [this file](https://github.com/rsennrich/nematus/blob/

[2017-03-16 02:47] cshanbo commented on #3158
let me use an example to explain another weird thing:
[code]
Training process will invoke `validation script` every 2000 batches.
When invoking the validation for the first time, the validation script runs fine (training after the first 2000 batches).
The validation process will raise the error mentioned above, starts from the second validation (4000 batches in this example).

[2017-03-16 04:56] rhc54 commented on #3158
I'll go back to what I suggested on the other issue you filed: start by running simple MPI examples to ensure your installation is correct (we provide some in the OMPI examples directory). Then you can add a simple Python-MPI example (mpi4py provides a number of them). If all those work, then the likely problem is in your program and not the OMPI code.

[2017-03-16 07:06] bharatpotnuri commented on #3183
@jsquyres I am stuck with some other work, I will try to make some time for this. Shall look into it.
Thanks!

[2017-03-16 08:49] ccaamad commented on #3003
@hjelmn  yes, the bogomips value in /proc/cpuinfo appears to be constant for a particular core, but the value varies between cores on the same system (I think the value is calculated at boot time per cpu socket). I'm on a 2 socket Broadwell (E5-2650 v4) system / Centos7.

Thanks for looking at this everyone :)

[2017-03-16 10:34] jsquyres commented on #3003
@ccaamad FWIW, I see a similar effect on Sandy Bridge and Ivy Bridge machines:

[code]

These two values are from the two different packages on each machine.  However, each value is actually very close to each other.

@hjelmn and I looked at this yesterday afternoon; we're pretty sure that it's what you identified: the bogomips are computed for each package during the Linux kernel startup.  Additi

[2017-03-16 11:24] ccaamad commented on #3003
@jsquyres Tricky.

I have a mixture of Nehelem (centos5), Westmere (centos5), Sandy Bridge (centos6), Broadwell (centos6) and Haswell (centos6 and centos7) multi-socket boxes available.

(Those centos5 boxes are about to be decommissioned...)

Looking across >1000 of them, I see that...

* The bogomips value varies per core on the centos5/Nehelem/Westmere boxes only: seems to have been a per-core

[2017-03-16 12:34] jjhursey commented on #3003
`ppc64le` systems don't report bogomips at all. So if that's the path you all want to take for `x86_64` then we would have to have a different technique for PowerPC architectures.

[2017-03-16 12:35] AndreasKempfNEC commented on #3003
Is the bogomips value really a per-processor constant? As it seems to be a measurement I would expect it to change depending on whether the turbo is on or off in the firmware, for example. As far as I understand, the constant_tsc tick rate would still be unaffected, so the calibration would not work.

Unfortunately, I cannot check for myself, because I am not in a position to twiddle knobs and reb

[2017-03-16 13:40] hjelmn commented on #3003
Nehalem an Westmere don't have a invariant tsc so that is expected. We will use clock_gettime on those systems.

@jjhursey using bogomips is only being considered for x86_64.

[2017-03-16 13:58] #2668 closed

[2017-03-16 14:03] jfikar opened #3188 "mpirun does not redirect stdout in openmpi-2.0.2"
I have problem redirecting stdout to a file using mpirun > and openmpi-2.0.2, while openmpi-1.4.3 works as expected.

* Simple test script `test.sh`:
[code]

* Run test:
`mpirun -n 4 ./test.sh > out& tail -f out`

* Expected behaviour (1.4.3): out gets progressively filled with dots

* Wrong behaviour (2.0.2): out is empty all the time; stderr:
[code]

On the other hand, this works also in 2.0.2
`

[2017-03-16 14:09] hppritcha commented on #2947
Closed via #3162

[2017-03-16 14:09] #2947 closed

[2017-03-16 14:19] jsquyres commented on #3188
FWIW, when I run with a vanilla build of Open MPI v2.0.2, I get the expected output that you describe (4 dots appearing every 5 seconds).

The warning message you are seeing on stderr is likely symptomatic and possibly indicates the real error.

@rhc54 Is there any verbosity that can be increased here to shed more light on what is failing in libevent?

[2017-03-16 14:51] jfikar commented on #3188
I just tried to compile the vanilla 2.0.2 with simply `./configure;make -j6`, but I'm not able to run it without installing:
[code]

While the binary itself complains about symbols (that is expected I guess):
[code]

[2017-03-16 14:53] jsquyres commented on #3188
Check to make sure your LD_LIBRARY_PATH is pointing to the right place.

[2017-03-16 14:55] jfikar commented on #3188
shouldn't the script `openmpi-2.0.2/orte/tools/orterun/orterun` do it for me automagically?

[2017-03-16 14:56] jsquyres commented on #3188
`mpirun` is not a script, and no.  😄

[2017-03-16 15:08] jfikar commented on #3188
well, that orterun in the build folder, which I'm talking about is really a script:
[code]

anyway setting the LD_LIBRARY_PATH and using the binary in .libs gets me to the same point as using the wrapper
[code]

[2017-03-16 15:30] rhc54 commented on #3188
Why not just install it into a prefix under your home directory?

[2017-03-16 15:32] jsbronder commented on #3188
Note that we do use the system libevent in Gentoo (rather than the bundled version).  I'm getting the same behavior as @jfikar using libevent-2.0.22.

It looks like that's been a culprit in the past https://bugzilla.redhat.com/show_bug.cgi?id=1235044

[2017-03-16 15:34] rhc54 commented on #3188
That version should be okay - the error being reported is actually a known bug in the 2.0 series due to a race condition upon application process finalize. It is harmless, albeit annoying, and has nothing to do with the reported problem.

[2017-03-16 15:56] jfikar commented on #3188
local install works

the vanilla 2.0.2 works without problem with redirecting and there is no warning

[2017-03-16 15:58] jsquyres commented on #3188
Can you try configuring Open MPI v2.0.2 with `--with-libevent=external` (to pick up the system-level libevent)?

I wonder if there's some kind of buffering issue going on -- i.e., Open MPI *is* outputting the data properly, but your stdout/stderr/tty/whatever is buffering it.

Try emitting a newline after the "." in your script -- tty buffering is sometimes by a max char count *or* a newline.

[2017-03-16 15:58] rhc54 commented on #3188
One possibility then is if the system libevent wasn't built with thread support. Our configure logic is supposed to check for that and error out if it isn't, but perhaps there is an error in those checks? You should see a libevent-pthreads library (or something like that, I may have misspelled the precise name)

[2017-03-16 16:15] jfikar commented on #3188
newline is not a problem, the actual program outputs a lot of lines, but it also gets not redirected

so the with `--with-libevent=external` the error is back

[2017-03-16 16:17] jfikar commented on #3188
libevent "should" have threads
[code]

[2017-03-16 16:22] rhc54 commented on #3188
I may be misunderstanding that output - doesn't it point to a much older version of libevent?

[2017-03-16 16:23] rhc54 commented on #3188
Or maybe I should just say, a different version?

[2017-03-16 16:29] jfikar commented on #3188
it should be libevent-2.1.8, we don't seem to have more recent in Gentoo

[2017-03-16 16:33] jfikar commented on #3188
the other number in brackets corresponds to the actual file name libevent-2.1.so.6, so some versions can be in principle installed simultaneously, but it is not my case

[2017-03-16 16:43] rhc54 commented on #3188
I see the problem, then - you are actually too far ahead of us 😄 . There were a bunch of changes in libevent when they went from 2.0.x to 2.1.x, and we haven't yet made all the necessary adjustments. I'm afraid you'll have to step down for us. If you want to use an external copy, then please install libevent-2.0.22 and see if that resolves the problem.

[2017-03-16 17:30] jfikar commented on #3188
with libevent-2.0.22 I unfortunately see the same problem

[2017-03-16 17:43] lee218llnl commented on #3178
Thanks @rhc54. I trust that you can figure out the best path forward. Let me know if you need me to test anything.

[2017-03-16 18:11] jsquyres commented on #3188
How did you test with 2.0.22?

Did you uninstall libevent 2.1.x from your system, install libevent 2.0.22, then re-configure and re-build Open MPI with `--with-libevent=external` (so that it picks up the headers and libraries of libevent 2.0.22)?

If you didn't do that, you may have accidentally been using some kind of strange hybrid of libevent 2.1.x and 2.0.x between the build and run-time link.

[2017-03-16 18:54] jsquyres commented on #3182
Per discussion on the thread, and in discussions with @hjelmn, it sounds like we should:

1. Add an MCA param to disable de/registration during MPI_ALLOC|FREE_MEM.
2. Default the value of this MCA param to "disable" when memory hooks are enabled (i.e., the lazy mechanisms work quite well), and default it to "enable" when memory hooks are disabled (i.e., we want to let users effectively control the

[2017-03-16 19:17] jfikar commented on #3188
I did a downgrade of system libevent to 2.0.22, that's the only libevent now. Then I got a message to recompile the system openmpi-2.0.2...

But to be completely sure I did it once more your way, i.e. with the vanilla source and --with-libevent=external. The same result, empty out and the warning.

**jsbronder**  also said earlier, he sees the problem with 2.0.22 as well

The new version of libeve

[2017-03-16 19:39] marksantcroos opened #3192 "PMIX ERROR: UNPACK-PAST-END (persistent dvm)"
One of our users is running into this issue quite frequently (https://github.com/radical-cybertools/radical.pilot/issues/1235):

[code]

This is with persistent DVM and orterun, on  a 1024 core DVM running 1024 single core tasks.

This is with OMPI master tag 6da4dbb.

I'm still in the process of reproducing it, and seeing whether it also happens on the latest master, but wanted to get it out here

[2017-03-16 19:44] jsquyres commented on #3188
There must be something different about the system libevent vs. the embedded libevent (the embedded libevent is 2.0.22).

This is how we configure the embedded libevent in Open MPI:

[code]

Note: `/home/jsquyres/openmpi-2.0.2` is the path of my source tree.  `--enable-thread-support` is likely the most important option in there.  The `-Drandom=opal_random` shouldn't affect libevent's core correct

[2017-03-16 19:49] jsbronder commented on #3188
Here's mine:
[code]

[2017-03-16 23:06] rhc54 commented on #3192
That is an odd one - it's indicating that the client received an error notification, but the message had nothing in it (since the reported unpack error is at the first unpack operation). I just tried the DVM and it seems to be working fine, but I can't get to that scale. @hjelmn is reporting problems at 1024 as well, but the error symptom is different.

[2017-03-17 04:07] ggouaillardet commented on #3158
@cshanbo what is your subprocess and how is it launched ?
is your subprocess a MPI application ?
is it launched with ```MPI_Comm_spawn()``` or ```fork();exec(...)```

if your MPI app bluntly fork&exec an other MPI app, then i strongly suspect the forked app will get very confused because it inherits the environment from the parent MPI app (e.g. same MPI rank).

[2017-03-17 04:55] cshanbo commented on #3158
@ggouaillardet I launched my python code with mpirun. And the python code will launch another script by `exec_que` or `Popen`. That's a `fork` indeed, so I think this might be the problem, but not sure how to fix it. Is there any solution to keep the `Popen` and not break the `mpi`?

Thank you

[2017-03-17 05:04] wkliao opened #3195 "size of MPI_Offset on 32-bit machines"
What should the size of MPI_Offset type be on 32-bit machines?
On one of my i386 machines, both the latest official OpenMPI releases 1.10.6 and 2.0.2 show sizeof(MPI_Offset) = 4.

FYI, the size is 8 when using MPICH on the same machine.

[2017-03-17 07:23] rhc54 commented on #3158
Ah, that is indeed not going to work. You cannot have a job launched via mpirun start another job using mpirun. If an MPI job wants to start another MPI job, then it is supposed to use MPI_Comm_spawn to do it.

[2017-03-17 07:29] ggouaillardet commented on #3158
@rhc54 would it be enough to remove all ```OMPI_*``` and ```PMIX_*``` from the environment before ```exec()``` the sub program ?
we would end up with basically two independent MPI apps (one or both being singleton fwiw)

[2017-03-17 07:41] cshanbo commented on #3158
Yes, if it is the 2nd scenario, I can understand that the mpi exception. But in my first scenario, i didn't use mpirun, but also raises the exception. This is weird.

Best regards
Shanbo

[2017-03-17 07:45] ggouaillardet commented on #3158
@cshanbo if you do not use ```mpirun``` but your app calls ```MPI_Init()```, then you are in singleton mode.
```orted``` is fork&exec'ed under the hood, and from a high level point of view, this is pretty much equivalent to using ```mpirun -np 1 ...``` in the first place.

[2017-03-17 07:55] rhc54 commented on #3158
@ggouaillardet People have tried your proposed approach, with mixed results. The problem is that you cannot tell which OMPI params should be kept, and which should be removed. If the user intends, for example, that an MCA param set in the environment actually govern all their MPI applications, then it won't work.

It also results in a program that isn't portable across MPI implementations, but per

[2017-03-17 16:43] bosilca opened #3196 "Missing output"
If an application completes unsuccessfully (aborts or segfault) a part of the application's output is lost.  If I manually flush stdout in the app, the I can see all the output. This behavior has been confirmed with stdout, I haven't checked with others.

[2017-03-17 17:29] bosilca commented on #3196
Sorry for the noise, it turned out that for once I was not using Open MPI, but Intel MPI. We rock !

[2017-03-17 17:29] #3196 closed

[2017-03-17 18:49] wkliao commented on #3195
An additional note. The OS on my 32-bit machine does support "Large File Support (LFS)" where data type off_t can be adjusted to be 64 bits with proper compile flags.

I am not sure whether this should be considered as a bug, but OpenMPI's configure.ac can simply add AC_SYS_LARGEFILE to enable LFS.

[2017-03-17 22:43] artpol84 opened #3200 "OMPI/master failures with ext PMIx v1.2 (github)"
For provided configuration I'm getting following error from each orted.
[code]

It seems like something was broken with external component. I doubt it is https://github.com/open-mpi/ompi/pull/3181 but I will check and update here.

[2017-03-17 22:44] artpol84 commented on #3200
I tentatively set v3.x as a target, but I haven't tried to reproduce with it.

[2017-03-18 19:31] wkliao commented on #3195
After consulting with [Rajeev Thakur](https://github.com/rsth) and [Rob Latham](https://github.com/roblatham00) from the MPICH team, we believe it is a bug in OpenMPI to define MPI_Offset a 4-byte integer, if OpenMPI intended to support LFS on 32-bit machines that support LFS. If it is otherwise, we are interested to know the motivation behind it.

[2017-03-18 20:12] edgargabriel commented on #3195
I *think* that this part of the configure logic is actually fairly old,
so its most likely not a recent bug or regression. We can look into
fixing this, but realistically 32bit platforms are meanwhile fairly
rare. Jeff and Howard, any opinions on that?

Edgar

On 3/18/2017 2:31 PM, Wei-keng Liao wrote:

[2017-03-18 23:31] jsquyres commented on #3195
Looks like this was done in purpose.  See the comment here: https://github.com/open-mpi/ompi/blob/master/config/ompi_find_mpi_aint_count_offset.m4#L62-L77

@hjelmn @bosilca Is this statement still true (keeping in mind that `sizeof(MPI_Offset)` must be <= `sizeof(MPI_Count)`):

If not, we can re-evaluate the size of `MPI_Offset` on 32 bit platforms (but I agree with @edgargabriel -- this unfortuna

[2017-03-19 01:19] kcgthb opened #3202 "redefinition of ‘struct PMI_keyval_t’"
Hi there,

Trying to compile Open MPI 2.0.2 with PMI support for Slurm (17.02.1), I get the following error.

[code]

Does that sound familiar?

[2017-03-19 01:52] bosilca commented on #3195
If the only constraint is the BTL, PML and the convertor then it should be safe to have MPI_Offset equal to size_t (this is also what the statement requires <=).

[2017-03-20 15:12] rhc54 opened #3211 "MESOS support"
Transferring this from the PMIx issue tracker:

[code]

There has been at least one prior attempt to port OMPI to Mesos, but that was done by a graduate student who didn't transition the code to the OMPI repo before he graduated and left school. The primary issue, IIRC, is that Mesos doesn't support fork/exec, and so the daemons cannot start the local procs.

Assuming that is accurate, then the pr

[2017-03-20 15:31] jsquyres commented on #3129
This is a dup of #2850.

[2017-03-20 15:31] #3129 closed

[2017-03-20 15:33] jsquyres commented on #2499
This is largely done, and becomes mostly irrelevant because Cisco can no longer test OSHMEM once the yoda SPML is removed (per #2850).

[2017-03-20 15:33] #2499 closed

[2017-03-20 19:52] jladd-mlnx commented on #3107
@hppritcha Done PR: #3168

[2017-03-21 01:44] asylvest commented on #3211
Thanks for the thoughts.  This 'phone home' idea is roughly along the lines of what I was thinking, though I was planning on implementing that directly myself in my application via sockets or something similar.  It would of course be cleaner if OMPI supported it directly.

Let me do a little playing around with Mesos to confirm exactly what the constraints are here (confirm we can't fork/exec, etc

[2017-03-21 03:04] rhc54 commented on #3211
Yeah, I fear that paper is indeed badly dated. We should probably publish something more current. I've been trying to find time to document ORTE in the wiki, but that's been hard to come by of late.

I'll help you implement this as a way of also transferring some relevant knowledge. Docker is a more complicated problem, frankly, but this one shouldn't be all that hard. There must be some way to te

[2017-03-21 14:19] hppritcha commented on #3195
How impactive would relaxing this constraint be on all PMLs?  I'm concerned about needing to modify lots of converter code in the various PMLs.

[2017-03-21 14:20] bosilca commented on #3195
@hppritcha there will be 0 impact. Our code is already built over size_t and ssize_t.

[2017-03-21 15:20] hppritcha commented on #3167
Waiting for testing results from IBM.

[2017-03-21 17:38] jsquyres commented on #2989
Done!  v2.1.0 has been released.

[2017-03-21 17:38] #2989 closed

[2017-03-21 17:39] jsquyres commented on #2990
@bwbarrett @hppritcha You might want to update this checklist from https://github.com/open-mpi/ompi/issues/2989 -- while doing the final v2.1.0 release, I updated the checklist with a bunch of things.

[2017-03-21 19:27] hppritcha opened #3216 "ob1: osu bibw IB performance is poor for some message sizes"
I was doing some testing with UCX with 2.1.0 on a cluster sporting connectx5 HCAs.
Using UCX, I get very good performance

[code]

but something seems really wrong when using OB1:
[code]

[2017-03-22 04:09] rhc54 commented on #3178
@lee218llnl Please give this a try: https://github.com/open-mpi/ompi/pull/3222

[2017-03-22 15:05] hppritcha commented on #3202
@kcgthb you may want to check if applying the patch from https://patch-diff.githubusercontent.com/raw/open-mpi/ompi/pull/3206.patch
to your Open MPI source tree fixes the problem.  Otherwise the fix will be in the
2.0.3 update release.

[2017-03-22 15:07] hppritcha commented on #3202
See also #3207 and #3208 for PRs onto other branches.

[2017-03-22 15:10] edgargabriel opened #3223 "update header file used by fs/lustre component"
the fs/lustre component uses a deprecated header file (liblustreapi.h) instead of the newer version (lustreapi.h). Add the configure logic to detect the proper header file to include and use.

[2017-03-22 15:21] kcgthb commented on #3202
It actually does, thank you!

[2017-03-22 16:27] lee218llnl commented on #3178
I'm not sure what else has changed, but I am having a few issues with #3222. When I try to launch my job I get this error:

`--------------------------------------------------------------------------
All nodes which are allocated for this job are already filled.
--------------------------------------------------------------------------`

And when I try to attach I get this error:

`There are not e

[2017-03-22 16:29] rhc54 commented on #3178
Odd - can you tell me a bit about the scenario? I assume there is a resource manager involved? What was the allocation? And what was the cmd line to launch the job?

[2017-03-22 16:30] lee218llnl commented on #3178
My Launch command is:

/nfs/tmp2/lee218/prefix/stat-travis/bin/stat-cl -t 1 -C /collab/usr/global/tools/openmpi/openmpi-test/bin/mpirun mpi_ringtopo.ompi-test

And for the attach case, I ran:

/collab/usr/global/tools/openmpi/openmpi-test/bin/mpirun -n 4 mpi_ringtopo.ompi-test

And then try to attach to the PID of mpirun with the STAT tool (which uses LaunchMON).

[2017-03-22 16:32] lee218llnl commented on #3178
Here's another scenario (launching and specifying the number of MPI tasks):

`bash-4.2$ /nfs/tmp2/lee218/prefix/stat-travis/bin/stat-cl -t 1 -C /collab/usr/global/tools/openmpi/openmpi-test/bin/mpirun -n 4 mpi_ringtopo.ompi-test
STAT started at 2017-03-22-08:51:01
Launching application and tool daemons...
--------------------------------------------------------------------------
There are not enou

[2017-03-22 16:36] rhc54 commented on #3178
Just to be clear: if you attempt to run the app under the debugger on the current HEAD of OMPI master (minus this PR), does it work? I would honestly be surprised - all I changed here was to ensure that the attach fifo is always created. My guess is that the change to the mapping system (done a few weeks ago) is the culprit

[2017-03-22 16:39] lee218llnl commented on #3178
I have not tried with the HEAD of OMPI master, but my guess is that it would break in the same way. Perhaps I will just take a patch from your commit and apply it to the last working OpenMPI that I was able to use to see if the FIFO issue is resolved and then submit a separate issue for these attach/launch errors.

[2017-03-22 16:39] rhc54 commented on #3178
Kewl - that makes sense. Sorry for the problem.

[2017-03-22 16:41] hppritcha commented on #2990
@jsquyres will do!

[2017-03-22 16:57] hppritcha commented on #2990
okay should be sync'd.

[2017-03-22 17:09] lee218llnl commented on #3178
I checked out the v2.0.2 tag and added the code from #3222 to orterun.c and was able to reattach to a job that was launched under the debugger, so this issue appears to be resolved in #3222. I will do some more testing w.r.t. the other errors and submit bug reports as necessary. Thanks!

[2017-03-22 17:34] hppritcha commented on #1456
this has been done.

[2017-03-22 17:34] #1456 closed

[2017-03-22 17:34] hppritcha commented on #493
think we've added enough tests over time that this issue can be closed.

[2017-03-22 17:34] #493 closed

[2017-03-22 17:55] boegel commented on #2328
We are hitting a problem with OpenMPI 2.0.x (more specifically v2.0.2) in our systems that use Torque that we haven't seen with earlier versions of OpenMPI, that looks very much related to this.

This is the error we are getting:

[code]

(see also https://github.com/hpcugent/vsc-mympirun/issues/113)

The hostfile (provided via `-machinefile` to `mpirun`) contains hostnames like:

[code]

The `.vs

[2017-03-22 18:29] rhc54 commented on #2328
I honestly haven't seen such an arrangement (outside of Hadoop clusters) more than a handful of times, and it was always trouble. FWIW, the Moab folks assured me they were going to fix this (a simple configuration parameter to indicate the network to be used was all that was required) as it causes problems beyond just OMPI.

The default mpirun operation is to use the short hostname - i.e., we stri

[2017-03-22 19:07] boegel commented on #2328
@rhc54 To be clear, the issue that should be fixed in Torque (MOAB is the scheduler, Torque is the resource manager typically used with MOAB) is that it should be specifying short hostnames in the hostfile (`$PBS_NODEFILE`), is that right?
And OpenMPI will strip the `node2527.golett.os` to `node2527` before it compares with the entries in the hostfile?

[2017-03-22 19:11] rhc54 commented on #2328
It doesn't matter if it specifies short or long, what matters is that whatever it specifies must match what the host itself returns.

Yes, we strip the gethostname return immediately, just as we do with the entries in the nodefile and/or machinefile.

[2017-03-22 21:15] boegel commented on #2328
@rhc54 Hold on, if you strip both what `gethostname` returns and what is specified in the file provided to `-machinefile`, why are we seeing the error in the first place?

Our short hostnames (for example `node2527`) *do* match is you disregard the domain (`.golett.os` or `.golett.gent.vsc`)...

[2017-03-22 21:25] jjhursey commented on #2328
@boegel You are using `v2.0.x`, right? Have you tried with `v2.x` (the `v2.1.0` release)?

I mention this because I fixed some FQDN items in `master` and `v2.x`, but only a part of it was allowed into the `v2.0.x` by the release managers. In particular, the non-LSF portion was left out since we couldn't test easily.

It should have fixed a case where we were not stripping the hostname down as they

[2017-03-22 22:17] jsquyres opened #3224 "Abstraction violation: sshmem/ucx and atomic/ucx include oshmem/mca/spml/ucx/spml_ucx.h"
The sshmem/ucx and atomic/ucx components are directly including the spml_ucx.h header file from the spml/ucx component, and directly using symbols from the spml/ucx_component.

This is an abstraction violation and is not allowed in the MCA architecture.  It works if you `--disable-dlopen` (and slurp all components up into liboshmem), but it does not work if the components are all individual DSOs t

[2017-03-22 23:59] jsquyres opened #3225 "PMIx_Abort not always aborting"
@rhc54 and I have talked about this on the phone and IM.  There are cases where PMIx_Abort will actually deadlock instead of completing aborting.  Ralph knows what the problem is; he hasn't figured out how to fix it yet.  Filing this issue to track it.

This is causing some MPI and OSHMEM tests to hang on the Cisco MTT cluster, and eat up lots of CPU.

I'm seeing this on master and 2.x (I haven't

[2017-03-23 01:20] jsquyres opened #3226 "master: large memory leak in osc/pt2pt"
When running just about any of the communication-oriented IBM onesided tests on master (and probably v3.x), there appears to be a gigantic memory leak in the osc/pt2pt component.

For example, if I:

[code]

and in a separate window, observe `watch free -g`, I'll see the available memory on the node plunge to 0.

This does *not* appear to happen on v2.x (whew!).

[2017-03-23 01:34] jsquyres commented on #3226
@hjelmn tells me that it is expected that `sm` will fail -- it's only for win_allocated.

[2017-03-23 09:26] jsquyres commented on #3226
`git bisect` says that https://github.com/open-mpi/ompi/commit/0195d1540190716b5643b181a7e37e4b3a9e1459 is the bad commit:

[code]

[2017-03-23 09:29] boegel commented on #2328
@jjhursey I'm happy to confirm that our problem is indeed fixed in OpenMPI 2.1.0, thank you very much!

[2017-03-23 09:33] rhc54 commented on #2328
Thanks @jjhursey for clarifying things - my comments reflected the current state, not the past. Glad to hear the problem is fixed!

[2017-03-23 09:58] boegel commented on #2328
@rhc54 Note that the original reported problem, where short hostnames do not match exactly, still isn't fixed, so I'm not sure if this issue should be closed already?
Cfr. comments by @jsquyres.

[2017-03-23 14:03] clementFoyer commented on #3226
I just run on an error that seems to be related to the same commit : When calling ompi_osc_pt2pt_frag_alloc it recursively call itself until the stack overflows.

BTW, sorry for the email I sent about this, I should have check here the opened issues before.

[2017-03-23 14:16] jjhursey commented on #2328
@boegel I'm glad that worked. I'll file a PR to bring that TM patch over to v2.0.x so it'll be included in the next release of that series.

The note from the original reporter @martinkontsek said that patch didn't work for their case - so we should probably keep this open.

[2017-03-23 14:46] jsquyres commented on #3226
@clementFoyer LOL!  I just replied to your mail on the list pointing to this bug before I refreshed this page and saw that you replied here.  So I'm guilty, too.  😄

Regardless, it sounds like @hjelmn knows what the fix is and will fix it shortly.

[2017-03-24 03:59] lancewilson-monash opened #3232 "Examples and all user code no longer compiles with 2.1.0 using mxm"
When trying to compile the examples after configuring, compiling and installing 2.1.0 no code will compile and returns errors similar to the following.

[code]

If I recompile openmpi with the same parameters the error message changes with a  new random number.

[code]

It looks like there is a bug in the configure script that is collecting the number from somewhere and putting it into the LDFLAGS

[2017-03-24 04:03] rhc54 commented on #3232
Why are you adding all those flags to mpicc? You shouldn't add anything to it - all the required options are already there.

[2017-03-24 04:20] lancewilson-monash commented on #3232
That is what the makefile is doing by default. Removing those options results in exactly the same error.

On our cluster we run multiple version of openmpi and compilers so often these are added by the software when it is compiled.

[2017-03-24 04:25] lancewilson-monash commented on #3232
It is a regression as the examples for 2.0.2 compile and run without the compile fail.

[2017-03-24 10:07] marksantcroos commented on #1132
We ran into this again.

@hppritcha Whats your general configuration on Cray wrt RAS and PLM? Are you familiar with this problem?

[2017-03-24 10:09] jsquyres commented on #3232
Can you please send all the information listed here: https://www.open-mpi.org/community/help/

[2017-03-24 14:58] rhc54 commented on #1132
I can see the problem - it arises from the nodes being ordered to "flow" around the dragonfly, but the node naming scheme wasn't done that way. So "nid1234" isn't next to "nid1235" on the network, which is why it might show up on one Cray system and not another. This causes the regex generator to not be as efficient, which leads to overly long results that cause problems on the cmd line due to len

[2017-03-25 13:53] ggouaillardet commented on #3232
it looks like open-mpi/ompi@8c2086995d1083361ed515b0246c6550e4b8137c was not backported

[2017-03-25 14:03] jsquyres commented on #3232
@jladd-mlnx Is Mellanox not testing MXM with v2.1.x?  Can you please file PRs to v2.x and/or v2.0.x if necessary.  Thanks.

[2017-03-26 05:25] ggouaillardet commented on #3232
Fwiw, v2.0.x uses an older logic, and v3.x is up-to-date
so PR is only required for v2.x

[2017-03-26 12:51] rishards commented on #3145
@rhc54 @hppritcha @jsquyres Can someone please take a look ?

[2017-03-26 16:20] rhc54 commented on #1132
Well, that didn't work - Gadget is apparently being converted to SLURM, and so I may not be able to use it to debug this problem (plus the system is stuck in half-converted state, and thus nothing works right now). I'll try to add a param that lets me test this mode.

[2017-03-26 19:45] marksantcroos commented on #1132
Thanks for the update. I'll be able to look at it myself tomorrow too. Feel free to drop me any pointers to look at.

[2017-03-26 20:10] asylvest commented on #3211
So that I don't have to instantly devolve into ASCII art, I'll reference the architecture diagram at the top of http://mesos.apache.org/documentation/latest/architecture/ for the terminology I'll be using.  I'll have a total of numAgents + 2 separate machines running - one for the scheduler, one for the master, and one for each agent.  Basically what happens is that my scheduler, written in C++, r

[2017-03-27 02:45] lancewilson-monash commented on #3232
@jsquyres Please find attached the requested output. Github required a zip file so it has been put into a zip file.
[ompi-output.tar.bz2.zip](https://github.com/open-mpi/ompi/files/871340/ompi-output.tar.bz2.zip)

[2017-03-27 02:50] ggouaillardet commented on #3232
@lancewilson-monash i think the issue is known and was already fixed in master
can you please manually download and apply the patch available at https://github.com/open-mpi/ompi/pull/3240.patch and try again ?
note you need recent autotools, and you will have to run ```./autogen.pl --force```

[2017-03-27 16:31] jladd-mlnx commented on #3232
@jsquyres Very strange. We test MXM with 2.x nightly and have no issues.

[2017-03-27 16:32] rhc54 commented on #3232
Ah, but do you build the examples in those tests? I think that is the only issue being raised here

[2017-03-27 16:33] jladd-mlnx commented on #3232
@rhc54 Everynight we do a full build and build IMB, OSU, and the examples dir.

[2017-03-27 16:34] rhc54 commented on #3232
Okay, thanks for clarifying. Not sure what is going on then, other than perhaps a difference in environment.

[2017-03-27 16:35] jladd-mlnx commented on #3232
@rhc54 HPC-X is based on 2.x and out in the wild and people are building applications every day.

[2017-03-27 16:36] rhc54 commented on #3232
Understood - but the patch shows there is a clear typo in the LDFLAGS. Best guess: folks have their MXM libs in standard locations, and so the typo isn't impacting them. However, in this user's case, they are in a non-standard location, and so the typo breaks things.

[2017-03-27 19:21] jsquyres commented on #3145
@shamisp ARM: Can you have a look at this?

[2017-03-27 21:07] lee218llnl opened #3243 "Tool attach failure"
When using the latest OpenMPI commit (d782542c5ce403db835462005523afe2f2613da3) and trying to attach to an MPI job via LaunchMON (https://github.com/LLNL/LaunchMON) I get the following error:

[code]

I am on a system that allocated nodes via SLURM and this is on 2 nodes with 64 tasks. The application was launched with mpirun/orterun with 4 MPI processes, which might explain why it's trying to fil

[2017-03-27 21:25] lee218llnl commented on #3178
Note I created #3243 for the attach failure on the master branch.

[2017-03-28 02:35] rhc54 commented on #3211
I'm honestly not sure I follow all that, but the sequence of events is pretty simple. You have to start mpirun first and find a way to communicate to it how many nodes you will be using. This is done in the orte/mca/ras framework, so you'll need a "mesos" component there. Once we have that info, you then move to the next stage of "launching" the orted's, one per node. In this case, you are going t

[2017-03-28 02:50] hppritcha commented on #3167
any updates on IBM testing?

[2017-03-28 08:54] Evgueni-Petrov-aka-espetrov opened #3244 "Open MPI 2.1.0: MPI_Finalize hangs because cuIpcCloseMemHandle fails"
Hi Open MPI,

Thank you very much for fixing https://github.com/open-mpi/ompi/issues/3042!

We want to switch from version 2.0.2 to 2.1.0 containing the fix but, if we do, our application starts hanging in MPI_Finalize.
From our point of view, this behavior is a regression in version 2.1.0 w.r.t version 2.0.2.

First, MPI_Finalize warns that cuIpcCloseMemHandle failed with the return value of 4 (C

[2017-03-28 17:50] yaronyg opened #3246 "configure doesn't always honor LDFLAGS"
__Platform:__
macOS Sierra - 10.12.4
Compiler - llvm 4.0.0 installed via homebrew
openMPI version - 1.10.3 (supported release)

__Scenario:__

I want to compile openMPI with openMP support on macOS To this end I ran 'brew install --with-toolchain llvm' to get llvm 4.0 with openMP support. To make this work through I need to set a slew of environment variables:

[code]

I then run:

[code]

__Expec

[2017-03-28 17:56] rhc54 commented on #3246
Add ```--disable-vt``` to your configure line for OMPI

[2017-03-28 18:12] yaronyg commented on #3246
Yup, that seems to have worked! At least everything compiles without complaint. Thanks!

[2017-03-28 18:14] rhc54 commented on #3246
kewl

[2017-03-28 18:14] #3246 closed

[2017-03-28 20:28] jsquyres commented on #3225
Unfortunately, it does not look like this was solved.

In the https://www.open-mpi.org/nightly/master/openmpi-master-201703230209-ea84a53.tar.bz2 tarball, it included 55e4fba5f5633d08b283c247301c17926c4f5b6b which fixed one of the code paths.  However, I see a Cisco MTT process from that tarball that is still hung this morning.  I see MPI_Errhandler_fatal_f and MPI_Errhandler_fatal_c processes hun

[2017-03-28 22:03] rhc54 commented on #3225
I don't know if/when I'l have time to look at this - suggest someone else try to do so.

[2017-03-28 22:41] lee218llnl opened #3247 "orterun version 2.1.0 seg fault on tool launch via LaunchMON"
I am getting seg faults when trying to launch a debug session. This is with the OpenMPI version 2.1.0 release and using LaunchMON as a test:

[code]

Here is how you may reproduce:

git clone https://github.com/llnl/launchmon.git
cd launchmon/
export PATH=/collab/usr/global/tools/openmpi/toss_3_x86_64_ib/openmpi-2.1.0/bin:$PATH
CFLAGS="-g -O0" CXXFLAGS="-g -O0" ./configure --prefix=/nfs/tmp2/lee21

[2017-03-28 23:56] jsquyres commented on #3225
@artpol84 @jjhursey Can one of your PMIX'ers have a look at this problem?  It's causing infinite-spinning problems in Cisco MTT runs.  It looks like there were two signatures to this problem -- the first appears to be fixed by 55e4fba5f5633d08b283c247301c17926c4f5b6b.  But there still appears to be a second problem (detailed above).

[2017-03-29 00:15] rhc54 commented on #3225
AH @!$#!#%#@! - I see the problem. Fix coming

[2017-03-29 00:54] #3225 closed

[2017-03-29 08:51] Evgueni-Petrov-aka-espetrov commented on #3244
ping

[2017-03-29 09:28] LaHaine opened #3251 "crash with a bus error in IMB-MPI1"
I have found way to crash openmpi when running the Intel MPI benchmark. I have first found this when testing OpenHPC 1.2 on EL7.3 with openmpi-gnu-ohpc-1.10.4-18.1, but I could reproduce it with a self-compiled openmpi 1.10.6 or 2.1.0 as well, both compiled with OpenHPC's gcc 5.4.0.
The Intel MPI benchmark is from the package imb-gnu-openmpi-ohpc-4.1-4.2, I had to recompile it for use with openmpi

[2017-03-29 14:19] hppritcha commented on #3251
@LaHaine does the benchmark successfully do any byte transfer sizes?  Or does it hit the sigbus before any of the allreduces have been done?

I'm trying to reproduce on a different system (Cray XC) and what I'm noticing is that if I don't turn off tuned, the test just hangs trying to 16384 byte reduction if using the OB1 PML.  If I switch to using the CM PML the test runs to completion.

[2017-03-29 14:23] jsquyres commented on #3244
@sjeaugey This appears to be stuck in a CUDA call.  Can you look into this?

[2017-03-29 14:48] DrHaraldBraun opened #3255 "Alltoallv small to medium size messages desync, if used in gather-alike manner"
Hi,

repeated calls to Alltoallv exchanging small to medium size messages causes significant desynchronization of ranks, if used in a gather-alike manner. This leads to a major performance degradation in ompi 2.X.X as compared to ompi 1.X.X. All ompi 2.X Releases and release candidates exhibit this behavior.

The following was observed in a reproducer-run (see zip-archive) on 12 (2x18coreBDW_IB:FD

[2017-03-29 14:57] LaHaine commented on #3251
@hppritcha: the initial transfers were fine, it fails in my test case (1024 processes on 32 nodes) after some successful transfers.

[2017-03-29 15:02] LaHaine commented on #3251
Oh, it seems I have some problems myself to reproduce the bug. In my last test, mpirun IMB-MPI1 Allreduce finished with 1024 cores, but mpirun IMB-MPI1 failed at a different stage:
[code]

[2017-03-29 15:15] hppritcha commented on #3251
This may be an ob1 PML specific problem.  I tried on an Intel OPA/HFI1 (PSM2) system and the test runs successfully.  Also tried 544 and that worked as well.  Could you try running with these two different env. variable settings:

[code]
and
[code]
set in the shell?

Our Mellanox cluster isn't big enough to try to reproduce the problem.

Another thing you may want to try is see if you can get MXM

[2017-03-29 15:27] bosilca commented on #3251
The issue seems to be related to vader fragment initialization. Doing so in the middle of the run suggests in an Allreduce of 1M (which does have a synchronizinng behavior) suggests that we have a vader fragment leak somewhere (and we need to grow the fragment list because we are running out of allocated fragments). There might be other causes, but this seems to be the most plausible.

@LaHaine ca

[2017-03-29 16:15] hppritcha commented on #3251
Okay, our Mellanox EDR cluster actually does have enough nodes to partially(?) reproduce this problem using 2.1.0.  With UCX, the test runs successfully.  With ob1 pml using either vader or sm, I'm seeing hangs at this point:

[code]
free -g doesn't show any nodes with particularly low available memory.

Back traces vary but look like:
[code]
and
[code]
The hang behavior goes away if tuned collect

[2017-03-29 16:20] jsquyres opened #3256 "v2.x: oshmem tests keep running after oshrun is killed"
Reported a similar issue on master / v3.x in #3225.

It looks like I'm seeing a similar issue on v2.x Cisco MTT runs: OSHMEM tests are hanging / not dying.  If the issue is the same (which it may not be, because the version of PMIx is different between master+v3.x and v2.x), back-porting the following two commits on master may be sufficient:

* 55e4fba5f5633d08b283c247301c17926c4f5b6b
* 7dd34d0c9a

[2017-03-29 16:20] jsquyres commented on #3225
Yes, this appears to have fixed the problem on master.

I'm still seeing the shmem tests hang on v2.x however (I don't immediately see any v2.0.x hangs, though).  I opened #3256 to track the v2.x issue (per a phone call with @rhc54 this morning, it may or may not be the exact same issue).

[2017-03-29 16:20] rhc54 commented on #3256
The error for 7dd34d0 does not exist on the PMIx v1.2 code branch

[2017-03-29 16:46] sjeaugey commented on #3244
Maybe it's not even stuck. For some reason, there is a sleep(20) (!) for every IpcCloseMemHandle that fails. So if we're emptying our cache, there may be a lot of handles to close, and it can take a really long time !

I noticed yesterday my MTT was not finished in the morning, so I had to kill it but didn't have time to look into it. Same today. Maybe that's the reason.

I'm currently testing a f

[2017-03-29 16:51] sthibaul opened #3257 "Use screen DPI to compute font/grid size"
Now that we have high-density screens, the hwloc output is unreadable on them :)
We should take into account the screen DPI to compute the default font/grid size

[2017-03-29 16:54] bosilca commented on #3251
This seems to be a different behavior than the one that this issue was started for.

Btw, how badly do you oversubscribe the nodes for the test with 1024 processes (I noticed there is a gigantic drop in performance between 8k and 16k) ?

[2017-03-29 16:56] jsquyres commented on #3226
@clementFoyer It looks like the memory leak was fixed in master, but there's still some other problem.  @hjelmn plans to look at it next week (after SC papers are due!).

[2017-03-29 17:09] sthibaul commented on #3257
Eergl, this went to the wrong project, sorry...

[2017-03-29 17:09] #3257 closed

[2017-03-29 18:20] sjeaugey commented on #3244
I couldn't manage to reproduce the bug so far.

I tested that patch :
[code]
which compiles and works but since I can't reproduce the bug, I can't confirm it fixes the problem for sure.

@Evgueni-Petrov-aka-espetrov can you give it a try ?

[2017-03-29 19:01] rhc54 commented on #1132
Just FYI: I'm working on this now as part of fixing the broader problem of launch at scale, which is currently messed up on the Cray due to the node reordering and a couple of other things.

[2017-03-29 19:24] hppritcha commented on #3251
I'm running with 1 MPI process per hyperthread.  I'm not seeing problems using UCX pml, although there is a jump from 8KB to 16KB
[code]

[2017-03-30 06:32] ggouaillardet commented on #3255
Thanks for the patch
could you please revamp it (some files are not needed, ```Makefile.am``` is missing) and issue a PR vs the master branch ?
note you need to sign-off you patch so it can be accepted.

[2017-03-30 10:30] jsquyres commented on #3255
@DrHaraldBraun Yes, thanks for the patch!  As Gilles pointed out, can you please file this as a pull request?  That's our normal way of accepting / reviewing code contributions.  I have a few questions I'd like to ask about the patch.

Thank you!

[2017-03-30 13:28] LaHaine commented on #3251
@hppritcha with OMPI_MCA_btl=self,sm,openib I get the same crash. With OMPI_MCA_btl=self,vader,tcp I get these messages, I guess it is trying to use the IPoIB interfaces:
[code]

[2017-03-30 16:31] bosilca commented on #3255
This is a lot of gymnastic for solving an issue that would better be solved at the level of the base algorithms. As indicated by @DrHaraldBraun bringing back the 0-bytes messages would automatically re-activate the synchronizing behavior of the algorithms, prevent the clogging of the PML with unexpected messages and solve the problem. In a much cleaner and consistent way.

[2017-03-31 00:15] ggouaillardet commented on #3255
@bosilca imho, ```MPI_Alltoallv()``` is faster without sending 0-bytes messages, just like ```MPI_Bcast()``` is faster without a ```MPI_Barrier()``` before or after.
this case is similar to a previous ticket in which ```MPI_Bcast()``` was involved in a loop.
at the end, bad things happen because of a specific pattern that leads to reduced overall performances (that includes hang) caused by too man

[2017-03-31 00:46] ggouaillardet commented on #3232
fixed in #3240

[2017-03-31 00:46] #3232 closed

[2017-03-31 00:51] ggouaillardet commented on #3251
@laHaine by default, Open MPI will use all the available interfaces
(e.g. messages are split between the ethernet and the IPoIB interface)
you can restrict to the ethernet interface (assuming it is ```eth0```) with
```OMPI_MCA_btl_tcp_if_include=eth0```
you might also need to
```OMPI_MCA_oob_tcp_if_include=eth0```
if not already done, can you please make sure you did not run out of memory ?
(you c

[2017-03-31 02:23] ggouaillardet commented on #3251
@LaHaine i noted you reported "the same crash" with ```OMPI_MCA_btl=self,sm,openib```
the stack trace you posted clearly shows ```btl/vader``` is used, so if ```btl/sm``` is used instead, the stack trace should be different.
can you please double check this ?
(e.g. environment variables are exported and contains no typo)

[2017-03-31 04:53] Evgueni-Petrov-aka-espetrov commented on #3244
Thanks for the fix, @sjeaugey!
It works.

[2017-03-31 06:36] LaHaine commented on #3251
@ggouaillardet: you are right, the crash looks different in that case:
[code]
I have used the variables OMPI_MCA_btl_tcp_if_exclude=ib0 and OMPI_MCA_oob_tcp_if_exclude=ib0 in the test without Infiniband, but that failed in the end with hthis message:
[code]
oom-killer wouldn't happen here, AFAIK Slurm would prevent that. Additional tests runs without openib failed with this message:
[code]

[2017-03-31 07:29] ggouaillardet commented on #3251
i was able to reproduce the issue with 1 KNL node running
[code]
note i need to run this in a loop, since the crash does not always happen.
(50 iterations is generally enough to evidence the issue)
also note i was unable to reproduce the issue with ```--enable-debug```

without ```--enable-debug```, the default ```CFLAGS``` is ```-O3 ...``` which is a bit puzzling to me
(most projects use ```-g -O

[2017-03-31 08:06] ggouaillardet commented on #3251
@LaHaine can you try again with ```OMPI_MCA_orte_tmpdir_base=/dev/shm``` ?
i was able to reach 100 iterations so far ...
also can you confirm your ```orte_tmpdir_base``` is a ```xfs``` filesystem ?
(if you did not force this, ```$TMPDIR``` is used, and falls back to ```/tmp``` if not set)

@bosilca @hjelmn should ```btl/vader``` use ```/dev/shm``` instead of ```/tmp``` to store its shared files by

[2017-03-31 08:14] LaHaine commented on #3251
@ggouaillardet: yes, /tmp is on xfs. With that variable I got this in the first run:
[code]
and in the second run:
[code]

[2017-03-31 08:21] ggouaillardet commented on #3251
@LaHaine this is specific to ```btl/tcp``` and this is a different issue.
can you try again with the ```self,vader,openib``` btl ?

[2017-03-31 09:28] LaHaine commented on #3251
with self,vader,openib and /dev/shm it doesn't crash anymore, but the program is hanging here:
[code]

[2017-03-31 11:38] ael-code opened #3264 "opal_list: refcount not 0 during append"
I'm experiencing the following assertion failure in debug mode:
[code]
The call stack is the following:
[code]
I'm running a multithreaded code.

Here you have my current openmpi environment configuration:
[ompi_info.txt](https://github.com/open-mpi/ompi/files/885439/ompi_info.txt)

Let me if you need some more info

[2017-03-31 12:38] jsquyres commented on #3256
This issue appears nominally similar to #3225, but the symptoms appear to be somewhat different (the PMIx code is quite different between OMPI master and v2.x). In this case, the hung processes do not have a thread that is stuck in PMIx_Abort.  Hence, I'm changing the title of this issue to "oshmem tests keep running after oshrun is killed".

@artpol84 Per our discussion yesterday, this should hop

[2017-03-31 16:47] sjeaugey commented on #3244
Thanks for sharing the result. @jsquyres is it OK for me to push that patch to master directly (since Evgueni confirmed it fixed the issue ?)

[2017-03-31 16:51] rhc54 commented on #3244
Why not just put it in a branch and submit a PR like normal? It would allow the CI to ensure nothing broke outside of this environment.

[2017-03-31 17:10] sjeaugey commented on #3244
Sure -- just takes more time. I'll submit a PR.

[2017-04-01 04:49] ggouaillardet commented on #3264
@ael-code if you could provide a simple test program that evidences the issue, that would be great !

since you are running a multithreaded code, did you ```MPI_Init_thread(..., MPI_THREAD_MULTIPLE,...)``` ?
do you ```MPI_Ireduce_scatter_block(...)``` from several threads at the same time ?