[2016-07-27 14:50] jjhursey commented on #1907
This may be related to Issue #1763 (but that one is focused on a defect in `coll/tuned`)

[2016-07-27 15:08] ericch1 commented on #1875
forget these, I ran without them and got the same bug.

[2016-07-27 15:11] ericch1 commented on #1875
changes nothing, same problem.

[2016-07-27 15:22] hjelmn commented on #1893
This might be related to the new builtin atomics work. Be interesting to know if it fails with --disable-builtin-atomis

[2016-07-27 15:23] rhc54 commented on #1905
Agreed - I wondered that myself, but the @xldrx says this works on prior versions and MPICH, so I assume there must be some MPI standard corner-case about doing this operation to yourself? Or maybe it was just a fluke before?

[2016-07-27 15:26] xldrx commented on #1905
It should hang until a client call `MPI_Comm_conncet()`. But in `open-mpi 2.0.0` it just crashed immediately, not wait.
The code is the first part of a *Dynamic Process Management* hello world example.

[2016-07-27 15:34] rhc54 commented on #1905
Ah, now that is a very different statement than your initial report! It is actually doing exactly what it is supposed to do as there is a default timeout being applied. This was implemented to help people avoid wasting an entire allocation time and cost while waiting for a connect that would never appear.

If you want it to wait without timeout, then you need to pass an appropriate info key tellin

[2016-07-27 15:36] xldrx commented on #1905
Well what you are saying is the blocking calls are going to fail unless the default timeout is increased?

[2016-07-27 15:40] rhc54 commented on #1905
as currently configured, it will _eventually_ timeout. The default setting is 60 seconds. However, I'm happy to make it default to an infinite timeout and let someone specify something - more of a "user beware" issue really. Just had people asking for the timeout behavior, and so we set it to something.

[2016-07-27 15:50] hjelmn commented on #1875
@jladd-mlnx Probably not. This issue was probably triggered by a leak fix in MPI_Start. It highly likely that this issue has been in the code base for years but was masked by leaking fragments. The leaked fragments hold extra retains on the comm and datatype. See https://github.com/open-mpi/ompi/commit/e968ddfe641fec7e3a350e0cd38c4e581cc314b7#diff-9c39313573d10b224dee2484b41f8bbf .

[2016-07-27 15:50] hjelmn commented on #1875
Sorry, didn't mean to close. Wrong button :)

[2016-07-27 16:05] jladd-mlnx commented on #1875
@ericch1 A simple way to test @hjelmn 's hypothesis would be to revert e968ddfe641fec7e3a350e0cd38c4e581cc314b7 and see if the bug persists. If it does, then the hypothesis is false. If it "fixes" the issue, then next steps can be taken.

[2016-07-27 16:10] xldrx commented on #1905
My observation is the default timeout is way less than 30 seconds. I fact the timeout error is triggered in matter of microseconds.

[2016-07-27 16:17] hjelmn commented on #1875
@jladd-mlnx Really not worth checking. Without that commit there will be 1 extra retain per request. This problem occurs when the reference count of MPI_DOUBLE reaches 0. It will never reach 0 with e968ddf.

[2016-07-27 16:19] rhc54 commented on #1905
Oh? I'm seeing the timeout as a full 60 seconds, but that is after I fixed a few minor bugs I discovered, and so that may be influencing things.

[2016-07-27 16:19] ericch1 commented on #1875
ok, recompiled with "--enable-debug --enable-picky":
http://www.giref.ulaval.ca/~cmpgiref/dernier_ompi/2016.07.27.12h00_config.log
http://www.giref.ulaval.ca/~cmpgiref/dernier_ompi/2016.07.27.12h00_ompi_info_all.txt

but I have the same exact error:
** Error in `//pmi/cmpbib/compilation_BIB_dernier_ompi/COMPILE_AUTO/GIREF/bin/Test.ProblemeGD.dev': free(): invalid pointer: 0x00007f70a4176bc0 ***
==

[2016-07-27 16:21] hjelmn commented on #1875
@ericch1 The problem is that if this is a double request free I don't think we don't have a way to detect that even in a debug build. It might be possible to put a check to see if a request is returned to the free list twice.

[2016-07-27 16:25] jladd-mlnx commented on #1875
@hjelmn This has proven useful in the past.
http://linux.die.net/man/3/efence

[2016-07-27 16:29] jsquyres commented on #1875
@hjelmn You could temporarily change it to not actually free the memory, but instead, scribble some well-known pattern on the memory (so that the contents are invalid / detectable, but won't cause a segv/bus error).  Just my $0.02...

[2016-07-27 16:32] hjelmn commented on #1875
@jsquyres Problem is it isn't really a free. Its a return of a request to the free list :-/. We can kind of detect that by a loop in the lifo. We can assert on req_free_called I think.

[2016-07-27 16:34] hjelmn commented on #1875
@jsquyres Yeah, that should do it. Try this and see whether it changes anything:

[code]

[2016-07-27 16:44] ericch1 commented on #1875
@jladd-mlnx Isn't valgrind output sufficient in this case?

see it at https://github.com/open-mpi/ompi/issues/1875#issuecomment-235267969

[2016-07-27 16:49] hjelmn commented on #1875
Now that I have had a chance to evaluate the request free code in ob1 I don't think it is possible for a double MPI_Request_free to cause this sort of problem. Still digging.

[2016-07-27 16:51] jladd-mlnx commented on #1875
@hjelmn So, you're saying that reverting  e968ddf would have no effect?

[2016-07-27 16:52] hjelmn commented on #1875
@jladd-mlnx Not at all. Just saying a double free from the user side won't trigger it.

[2016-07-27 16:56] ericch1 commented on #1875
@hjelmn If I applied the patch correctly, the make and make install correctly, it didn't made a difference, sorry.

[2016-07-27 19:53] amckinstry commented on #1906
In Debian (and derivatives) we distinguish between the _library_ packages (eg libopenmpi1.10) and the development packages - libopenmpi-dev.  There may be multiple old versions of the library installed, providing eg. libopenmpi.so.1.10.3 (in package libopenmpi1.10.3) and libopenmpi.so.2.0.0 (in libopenmpi2 at the moment), but there can be only one development package libopenmpi-dev.
So, there is o

[2016-07-27 20:01] rhc54 commented on #1906
How did you resolve this before? We haven't changed anything in this regard since the project began over 12 years ago.

[2016-07-27 22:14] ggouaillardet commented on #1905
I saw this error message before, and it was related to a 2 seconds pmix timeout, not the 60 seconds pmix timeout.

[2016-07-27 22:27] rhc54 commented on #1905
this particular call down there defaults to 60 as that is what the calling MPI layer specified

[2016-07-27 22:44] hjelmn commented on #1902
@nysal That is also what I have in mind. I also want to clean up the OPAL_THREAD macros a little bit as part of this. Should have that done soon.

[2016-07-28 00:07] ggouaillardet commented on #1905
well, it should but it does not :-(

by default
[code]

when playing with ```orte_pmix_server_max_wait"

[code]

[code]

[code]

bottom line,
- the 60 seconds timeout never expires
- the ```orte_pmix_server_max_wait``` timeout expires.

```orte_pmix_server_max_wait``` default value is 2 seconds, so my guess is this is a watchdog for operations that should complete shortly (e.g. send/recv between p

[2016-07-28 00:31] jladd-mlnx commented on #1902
👍 Nice, @nysal!

[2016-07-28 00:37] rhc54 commented on #1905
is this with or without the patch? You are welcome to play with this as you like - I honestly have no bias in how connect/accept works. There is no MPI_Info key in the API by which the caller can control things, so MCA param would be the only option. For now, I simply hardcoded it to not timeout at all, though the ORTE server may time out separately.

[2016-07-28 00:44] ggouaillardet commented on #1905
here is a test program that must be submitted with 2 tasks or more, bottome line, when ```MPI_Comm_accept()``` and ```MPI_Comm_connect()``` do not have to wait each other more than 2 seconds, there is nothing wrong with using ```MPI_COMM_SELF``` nor single task communicators

[code]

[2016-07-28 00:45] ggouaillardet commented on #1905
that was without the patch, i will try it from now

[2016-07-28 04:37] ggouaillardet commented on #1907
@jjhursey this is a different issue, i am testing a fix right now

[2016-07-28 04:50] hjelmn commented on #1902
What looks like we actually did fix this with a one-off for 1.8 but I think we decided to hold off on fixing master. It has been awhile so I do not remember why exactly. Was kinda busy around the time we fixed this in v1.8. We completely lost track of this issue until @nysal managed to re-discover it. Here is the v1.8 fix: https://github.com/open-mpi/ompi-release/commit/ce91307918eadcdb6e4a3c8b642

[2016-07-28 04:50] #1907 closed

[2016-07-28 06:01] nysal commented on #1902
@hjelmn Yes, that indeed looks exactly like my patch. Please do bring it over to master and v2.x. I'll open a PR for the comm world and predefined data type refcounts today.

[2016-07-28 08:35] ggouaillardet commented on #1875
if i understand correctly, with ```opal_free_list_t```, it is up to the developer to return an item that is in an OBJ_CONSTRUCT'ed state.

here are two patches that force that for ob1 send and recv req.

you can start with the first patch (the request is zero'ed and constructed before being returned to the list)
and if it still does not work, then try the second patch
(the request is zero'ed and c

[2016-07-28 09:00] amckinstry commented on #1906
I don't believe we did (I started as OpenMPI maintainer a few months ago), but its becoming increasingly an issue, with more programs linked to MPI (and OpenMPI becoming the default for all architectures).
Looking further, as we ship the executables in a package openmpi-bin, and only have version of this installed, the question becomes: can programs linked against libopenmpi1.10 (or libopenmpi1.6

[2016-07-28 12:57] hjelmn commented on #1902
@nysal Will do that now. Github went down right after I posted that comment.

[2016-07-28 14:15] ericch1 commented on #1875
I fell so stupid: I am unable to apply the first patch, where am I wrong?
The path "apply" but does nothing... okok I will do it by hand, but again, what's wrong?

see:

patch --verbose -p1 < patch1.txt
Hmm...  Looks like a unified diff to me...
The text leading up to this was:
--------------------------
|diff --git a/ompi/mca/pml/ob1/pml_ob1_recvreq.h b/ompi/mca/pml/ob1/pml_ob1_recvreq.h
|index 6

[2016-07-28 14:41] hjelmn commented on #1902
Ok, merged. I have a PR open for 2.0.1 as well.

[2016-07-28 15:07] ggouaillardet commented on #1875
Maybe something went wrong when you did a copy/paste to patch1.txt
Could be a windows end of line ...  you can try
dos2unix patch1.txt

It could be easier to manually add the 4 lines contained in the first patch.

[2016-07-28 15:12] ericch1 commented on #1875
hmmm, after editing files by hand, I did a git diff and got :

<pre>
diff --git a/ompi/mca/pml/ob1/pml_ob1_recvreq.h b/ompi/mca/pml/ob1/pml_ob1_recvreq.h
index 6d57569..16e8cb6 100644
--- a/ompi/mca/pml/ob1/pml_ob1_recvreq.h
+++ b/ompi/mca/pml/ob1/pml_ob1_recvreq.h
@@ -143,6 +143,8 @@ static inline void mca_pml_ob1_recv_request_fini (mca_pml_ob1_recv_request_t *re
 #define MCA_PML_OB1_RECV_REQUEST

[2016-07-28 15:33] ericch1 commented on #1875
Ok, tested both patches and got the same result. :(

And just to be sure, I added a "printf" into the patched code and saw it in my output...

[2016-07-28 18:53] #1906 closed

[2016-07-28 19:12] thananon opened #1914 "v1.10 MTT fails on collective tests"
We have been seeing [a lot of fails](https://mtt.open-mpi.org/index.php?do_redir=2340) on collectives in MTT for 2 days in a row.

From what I'm seeing is all the fails are coming from the collective operations. Unfortunately I am not able to reproduce any of this. So I look into the changes in 1.10 and the only commit that might be related to this issue is https://github.com/open-mpi/ompi-release

[2016-07-28 19:13] jsquyres commented on #1906
(the issue closed because the PR applying the version to libompitrace was just committed, but we can keep this conversation going, even though the initially-reported issue is now closed)

The short answer is: the only symbols that we have provided versioning guarantees about have been the MPI API (and now the OpenSHMEM API).  Specifically: we do not provide any guarantees about internal symbols in

[2016-07-28 19:15] jsquyres commented on #1914
@ggouaillardet Per the git hash @thananon cited, this could have to do with the v1.10 PR that was just committed about collectives (https://github.com/open-mpi/ompi-release/pull/1262).  Could you check it out?  Thanks!

[2016-07-28 20:47] hjelmn commented on #1875
Ok, that suggests that the request is not being returned twice internally. Its looking more like there is an extra OBJ_RELEASE on a datatype somewhere. It can't be coming from the user as it would have aborted earlier with the parameter check turned on. Now the question is where is the extra release on the MPI_*_init/MPI_Start path.

[2016-07-28 22:17] ggouaillardet commented on #1914
I will double check that, but here is what should have happened
- fix collectives in master and v2.x
- push a bunch of new tests in the ibm test suite, these tests evidence old bugs,that are now fixed in master and v2.x
- fix collective in v1.10

so for a few days, the new tests caused a bunch of crashes and hangs on v1.10, and everything should be fixed now. I sent a mail to the core developers a

[2016-07-28 22:23] ggouaillardet commented on #1875
@hjelmn from my observations, persistent requests free the datatype only when MPI_Request_free is invoked. so the extra release/missing retain could be somewhere else.

[2016-07-28 22:29] jsquyres commented on #1914
Oh, right -- you mentioned this and we forgot.  😨

https://github.com/open-mpi/ompi-release/pull/1262 went in earlier today; if that fixes the issue, Cisco's MTT will be much cleaner tonight.

[2016-07-28 22:44] sjeaugey opened #1916 "mpirun segmentation fault"
I'm unable to run any test on master. mpirun crashes immediately (even with an hello world).

[code]
Here is the core backtrace :
[code]

[2016-07-28 22:50] rhc54 commented on #1916
It's working fine for me...

[code]

You might try blowing away your install directory and rebuilding just to ensure it isn't some old stuff getting in the way. Also check for stale "pmix" and "ompi" stuff in your temp directory

[2016-07-28 23:43] sjeaugey commented on #1916
Indeed, that fixed the bug. Thanks.

[2016-07-28 23:43] #1916 closed

[2016-07-29 10:49] ggouaillardet commented on #1875
@ericch1 very sorry about that, I screwed up when copy/paste and split the patch
do you have a debugger such as ddt you can use to set tracepoints ?
it would be interesting to print
ompi_mpi_double.dt.super.super.obj_reference_count, from->n and to->n before and after the persistent requests are created and destroyed.

if you do not have a debugger, you can
[code]

[2016-07-29 14:41] amckinstry commented on #1906
For information the "libtool" c:r:a scheme is basically a variant of the standard "symantic versioning" libfoo.$major.$minor.$revision ; for our purposes only the major ("current") matters; it needs to change when the ABI _incompatibly_ changes; with work (as referenced above), this really only needs to happen when functionality is dropped (not added, or changed, including structure definition /si

[2016-07-29 19:44] #1914 closed

[2016-07-29 19:57] jsquyres opened #1919 "2.0.0: hello_oshmem segv's in oshmem_init()"
Running with the v2.0.0 tarball or a 2.x head default build segv's with `hello_oshmem`:

[code]

@jladd-mlnx Can you have a look?  This feels like a blocker for v2.0.1.

A user just reported this on the mailing list, too: https://www.mail-archive.com/users@lists.open-mpi.org/msg00009.html

[2016-07-29 23:14] sjeaugey opened #1921 "orte/pmix : segmentation fault in orte_pmix_server_register_nspace"
NVIDIA MTT is filled with those crashes on master :
[code]

Is there an easy way to launch orted with ulimit -c unlimited and get a core file ?

[2016-07-29 23:16] sjeaugey commented on #1921
Note that it sometimes works.

In other cases, I get this other error message :

[code]

[2016-07-29 23:23] sjeaugey commented on #1921
So it seems I had something left on the second node. I killed everything and now I get 73% of the time a success, and 27% of the time the second error message (bind failed).

I think the first problem should still be solved, but I'm unable to reproduce it now.

[2016-07-29 23:30] rhc54 commented on #1921
you probably have stale "pmix*" and "ompi*" entries in the tmpdir of all your nodes that need to be removed so you can start cleanly again

[2016-07-29 23:43] sjeaugey commented on #1921
Indeed, that was the case.

But ompi-v2.x does not seem to suffer from that, while master is constantly crashing. Isn't it an issue if everytime an application crashes, it leaves files in /tmp which will later cause random failures ?

[2016-07-30 00:13] rhc54 commented on #1921
Master shouldn't be crashing any more - it was fixed this morning.

If you can figure out a way to guarantee cleanup when the daemon crashes, I'd definitely appreciate it. We haven't been able to come up with one, which is why we generally suggest running an epilog script to guarantee cleanup after an allocation completes.

[2016-07-30 00:44] sjeaugey commented on #1921
Do you mean that v1.10 and v2.x have the same issues of leaving things behind and, more importantly, crashing when there is a conflicting file ?

If that's the case, then it should be fine. My MTT has been running for a very long time without any cleaning (I found very old files) on 1.10 and 2.x and I have the impression that it never failed due to that before.

I don't care that much personally,

[2016-07-30 00:47] rhc54 commented on #1921
If there is a stale unix domain socket laying around, then it shouldn't crash, but it should indeed error out. We can look at various methods for detecting it and attempting to clean it up - of course, those have their risks too (e.g., the new user may not have permissions to remove the old pipe).

[2016-07-30 00:56] sjeaugey commented on #1921
I'm just trying to avoid regressions. Anyway, we're aware of it now. I may reopen that bug if that becomes a recurrent issue. Closing.

[2016-07-30 00:56] #1921 closed

[2016-07-30 01:35] amckinlay opened #1922 "https://open-mpi.org SSL cert error"
Visiting https://open-mpi.org results in a SSL certificate error. Open MPI packages cannot be installed with homebrew on Mac.

[2016-07-30 02:50] rhc54 commented on #1922
We just moved our web site to a new host, so we'll likely need to update certificates. Bear with us, please.

[2016-07-30 14:36] rhc54 commented on #1906
I'm not sure how that would all work, to be honest, as I have yet to see a release that didn't involve change to all three libraries, and thus you'd have to update everything anyway. However, I confess I may not fully understand what you are trying to do.

Perhaps the next step is for you to provide a patch so we can better understand exactly what you are proposing. We need to be cautious here tha

[2016-07-30 16:27] jsquyres commented on #1922
Thanks for the report.

There actually is no SSL web site any more.  Indiana University used to host our web site, and they provided SSL certificates for free.  Per http://www.open-mpi.org/community/lists/devel/2016/06/19139.php, we had to move to another hosting vendor (Host Gator), and we elected not to pay for SSL certificates.

The web site is available at http://www.open-mpi.org/

If the comm

[2016-07-30 16:33] jsquyres commented on #1922
Meh.  The point was just made on the users list that Google has oodles of https links for the web site (https://www.mail-archive.com/users@lists.open-mpi.org/msg00029.html).  We might have to pony up for SSL certificates.  😱

I'll look into it.

[2016-08-01 11:24] ggouaillardet commented on #1919
fwiw, I was unable to reproduce this with a machinefile and no RM
can you confirm this is SLURM or RM related ?

[2016-08-01 12:19] jsquyres commented on #1919
I was running in a SLURM job, so I guess it was related to that...?

[2016-08-01 13:30] jjhursey commented on #1907
Thanks @ggouaillardet!

[2016-08-02 01:51] jsquyres opened #1924 "compiler warning in req_wait.c"
[code]

@thananon Can you please fix?  Thanks.

[2016-08-02 08:15] amckinstry commented on #1906
Agreed. I'm preparing a detailed document and initial patch for review.

[2016-08-02 12:17] jsquyres commented on #1694
I see open-mpi/ompi-release@82c479a0935efda8b1856cc43a461c4c7630f1f5 which is apparently the cherry pick of  open-mpi/ompi@2b868c4.

Looks like this issue is closed.

[2016-08-02 12:17] #1694 closed

[2016-08-02 15:16] jsquyres opened #1930 "Upgrade v2.0.1 to PMIx v1.1.5"
Per discussion on the webex this morning, upgrade v2.0.1 to PMIx to v1.1.5.

IBM stated that there may be some issues with this (i.e., this might be larger than anticipated).  IBM: Can you fill in here?

[2016-08-02 15:21] jsquyres commented on #1902
PR for v2.0.1: open-mpi/ompi-release#1287

[2016-08-02 15:28] jsquyres commented on #1875
@ericch1 (after further internal discussions) We are running into problems trying to reproduce this issue.  Can you send us some kind of small reproducer?  We realize your code is internal, but a) we can't find the issue with a code review, and b) we can't reproduce the error to identify what the underlying issue is.

[2016-08-02 15:30] gpaulsen commented on #1930
We are shipping Spectrum MPI v10.1 (based on Open MPI 2.0.0) using the external PMIx component.  We started off using PMIx 1.1.2, later applied some patches, then later tried upgrading to PMIx 1.1.4, and finally backed off due to scalability issues (blamed at the time on PMIx) to PMIx 1.1.2 + some patches.

When I asked Dave about more details about this he said:

[2016-08-02 15:42] jsquyres commented on #1924
@thananon Is this fixed by 087761c2dc3d0be2059400595dea588e5653326b?

[2016-08-02 16:01] tkordenbrock opened #1932 "building master with --disable-mpi-io fails"
When building the latest master using --disable-mpi-io, I get these errors.

[code]

[2016-08-02 16:02] edgargabriel commented on #1932
I'll have a look at it, I did not try with --disable-mpi-io, but its a fair point

[2016-08-02 16:27] thananon commented on #1924
@jsquyres Yes, it should fix the warning. 👍

[2016-08-02 16:49] edgargabriel commented on #1932
@jsquyres I have a question to you: do I remember our discussion correctly, that a subdirectory in common always has to be compiled? So the question is, do we need to modify the configury script to exclude common/ompio in case the user requested --disable-mpi-io, or should I just put the source files in common/ompio/Makefile.am in a conditional statement (similarly how the MPI_File_* functions in

[2016-08-02 16:51] rhc54 commented on #1930
FWIW: I think @dsolt has spent too much time in the sun 😄 I can find no issues with running PMIx 1.1.5rc inside of OMPI v2.0.1. I suspect any problems are due to a stale external integration component in the OPAL pmix framework. I'll have to look at that separately.

[2016-08-02 17:04] jsquyres commented on #1930
Also FWIW, Open MPI still requires that the versions of Open MPI must match between all processes in a job.  We do not make any guarantees about what happens if you run a job with some processes using Open MPI version X.Y.Z and other processes using Open MPI version A.B.C.

[2016-08-02 17:05] jsquyres commented on #1924
Cool.  Can you file a 2.x PR please?

[2016-08-02 17:25] gpaulsen commented on #1930
RE: mismatch versions in a job, I'm sure that's not what this was regarding.
I want to say that the timing of MPI_Init and/or MPI_Finalize for a single node job of around 120 ranks per node showed the degradation.  Dave, you remember anything else with the Communit PMIx code 1.1.3 or 1.1.4?  If not, perhaps just integrate it and move forward.

[2016-08-02 17:41] jladd-mlnx commented on #1930
@gpaulsen @rhc54 @artpol84 @dsolt On Firestone servers running 176 threads per host, it seems to me like the shared memory dstore component that was implemented by @elenash would be highly beneficial. This feature isn't available until PMIx 2.x which will be available in OMPI 2.1.0 if I'm not mistaken.

[2016-08-02 17:44] rhc54 commented on #1930
Here are the MTT results for the update to 1.1.5:

[code]

I agree with @jladd-mlnx . The concern raised here, though, was about degradation when moving from PMIx 1.1.2 to 1.1.5. I'm not sure why that would happen, but will try to take a look

[2016-08-02 18:06] jsquyres commented on #1932
Each directory must be *traversed*, even if the sources in that directory are not *compiled*.

So your latter suggestion is the correct one: put the sources *and* the library in that `common/ompio/Makefile.am` in an `AM_CONDITIONAL`.  That way, the library will not be built in the `--disable-mpi-io` case, but `make dist` will still pick up all the sources.

[2016-08-02 18:23] gpaulsen commented on #1930
My understanding was that 1.1.2 -> 1.1.4 some functionality was moved either from the client to the server, or vice versa which exasperated the problem.  2.0 with the shared memory should solve this, but wanted to mention this as a possible down side of going to 1.1.5.  The fixed in 1.1.5 might still outweigh this issue in the OMPI 2.0.1 timeframe though.  Thanks for looking into this Ralph.

[2016-08-02 18:32] edgargabriel commented on #1932
ok, thank you. I think I have a working solution, will push iot to master later this afternoon.

[2016-08-02 18:39] jjhursey commented on #1932
Somewhat related to this, it would be useful to have a:
[code]
Similar to the one for ROMIO
[code]

Particularly since OMPIO has a number of frameworks that are related to it. It would make it easier to turn off this functionality via configure instead of using:
[code]

[2016-08-02 18:44] rhc54 commented on #1930
Aha! I know what it is. In 1.1.2, the fence would bring all the data down to the local procs. Starting in 1.1.3, we stop the data at the PMIx server in order to save memory footprint. So if you want data for a specific proc, you have to query the server to get it. We do bring down _all_ the data for that proc, but that still means you have a query/peer.

This was done because OMPI doesn't need the

[2016-08-02 18:47] gpaulsen commented on #1930
Thanks for figuring this out based on my vague recollections.  Glad to hear this won't affect the community OMPI.

[2016-08-02 23:21] jsquyres commented on #1877
We have a customer who is running into this exact issue.

@ggouaillardet Your POC is nearly correct -- @thananon is going to submit a PR shortly.  One question: why do you have `opal_random()` return `long int`?  `rand(3)` is supposed to return `int`.

[2016-08-02 23:40] #1753 closed

[2016-08-02 23:57] bosilca commented on #1877
I will contact the developers of parmetis to address the issue with them. Meanwhile I will propose a fix for the rand usage in TreeMatch.

[2016-08-03 00:33] ggouaillardet commented on #1877
I might have seen long int somewhere, but I cannot find it any more, so let's use int !

[2016-08-03 01:24] jsquyres commented on #1877
@bosilca Parmetis+treematch: awesome; thanks.

[2016-08-03 14:00] jsquyres commented on #1877
Just to cross-reference: Ralph filed this issue upstream with libevent: https://github.com/libevent/libevent/issues/384

[2016-08-03 14:21] edgargabriel commented on #1932
@jjhursey we can open a new issue for that

[2016-08-03 14:51] edgargabriel opened #1934 "add a --disable-io-ompio configure flag"
Following the model that we have with ROMIO, add a --disable-io-ompio configure flag which disables all ompio related components and frameworks

[2016-08-03 16:09] hjelmn commented on #1875
@ericch1 Can you try #1935 and see if that helps? That fixes a bug that was masked by request leaking. For me it produces a SEGV but it might have other implications.

[2016-08-04 15:27] #1877 closed

[2016-08-04 15:49] #1865 closed

[2016-08-04 18:19] matcabral commented on #1877
what about the use of srand() in romio ?

[2016-08-04 19:06] rhc54 commented on #1877
Looks like it is just in the one place (shp_fname.c) as the other is an internal test. Might try the same fix as for libevent?

[2016-08-04 22:03] jsquyres commented on #1877
@thananon I think @bosilca is still traveling.  Can you file a PR for all the other places in the OMPI code base that use `rand(3)` and `srand(3)`?  (and then PR to v2.0.1)

[2016-08-05 13:34] hppritcha opened #1943 "users reporting poor sm/vader bandwidth for 2.0.0 when openib BTL active"
Several users have reported poor bandwidth for larger messages (osu_bw) for sm/vader BTLs' using the 2.0.0 release  when the openib BTL is active.

See
https://mail-archive.com/devel@lists.open-mpi.org/msg00024.html

I think this should be investigated prior to 2.0.1 release.

[2016-08-05 14:20] jsquyres commented on #1943
@hppritcha @hjelmn Is this related to https://github.com/open-mpi/ompi-release/pull/1287 ("Fix performance regression caused by enabling opal thread support")?

[2016-08-05 16:15] thananon commented on #1877
Folks,
Please review https://github.com/open-mpi/ompi/pull/1944

[2016-08-08 14:20] #1932 closed

[2016-08-09 15:15] rhc54 commented on #1902
Fixed by open-mpi/ompi-release#1287

[2016-08-09 15:15] #1902 closed

[2016-08-09 15:16] #137 closed

[2016-08-10 01:17] yukiM-fj commented on #1754
@ggouaillardet Sorry for lating to close this issue. I close this issue because the PR has been already merged.

[2016-08-10 01:17] #1754 closed

[2016-08-11 01:54] ericch1 commented on #1875
Sorry, I was "out of town" for last 12 days...
I will try the 2 last proposed patches as soon as I can, but we will back at work on Aug 22.

[2016-08-12 14:30] amckinstry opened #1956 "Symbol versioning for OpenMPI"
Hi,
I've implemented an initial patch for symbol versioning in OpenMPI as discussed originally in #1906.

[2016-08-12 14:31] amckinstry commented on #1956
Document describing use of symbol versioning:

[versioning-in-openmpi.docx](https://github.com/open-mpi/ompi/files/415532/versioning-in-openmpi.docx)

[2016-08-13 17:55] sjackman opened #1964 "Open MPI was unable to obtain the username in order to create a path"
Due to some unresolved misconfiguration, `whoami` returns a number rather than a name. This situation causes OpenMPI to give the error:
[code]

This issue has been reported here:
https://www.open-mpi.org/community/lists/users/2014/10/25485.php

The workaround is to recompile OpenMPI using `--disable-getpwuid`. Recompiling OpenMPI is a rather heavy weight workaround, when all that is needed is a te

[2016-08-13 21:47] tseemann commented on #1964
I also get this error, which I think is due to LDAP or Active Directory authentication on our system.

If it's only for temporary folders then I expect this could be simplified.

[2016-08-13 23:39] rhc54 commented on #1964
It depends on the system environment. We no longer use getuid for the tmpdir, though I found that this patch had not been backported to the 2.x series. I'm taking care of that now.

However, we still do use getpwuid when launching via rsh/ssh unless you explicitly disable it. The rationale is simply that we shouldn't be attempting to ssh a daemon onto a remote node if the system has no idea who yo

[2016-08-14 01:05] sjackman commented on #1964
The version of `open-mpi` in Homebrew is 1.10.2 I see there's a 1.10.3 release as well.

[2016-08-14 03:33] rhc54 commented on #1964
The 1.10 series is essentially closed as it has been replaced by the 2.0 series. So I won't be backporting this patch to 1.10 - it will just go into an upcoming 2.x release as scheduled by the release managers for that series.

[2016-08-14 14:37] sjackman commented on #1964
Thanks!

I understand that it will still fail then when using `ssh` and `getpwuid` fails?  What does it do when configured with `--disable-getpwuid`? Does that also disable `ssh`? Why is `getpwuid` required to `ssh`? I haven't found that to be the case with `openssh`.

[2016-08-15 02:56] ggouaillardet opened #1966 "OSHMEM fails without pml/yalla"
Both master and v2.x are impacted.

simply create a hostfile with one slot per node
[code]

no problem with two tasks
[code]

but it fails with three tasks and more
[code]

At this stage, i think the root cause is that since pml/yalla is not used (no mxm on my box), ```MCA_PML_BASE_FLAG_REQUIRE_WORLD``` is not set and hence not all procs are added and finally the assertion in ```create_btl_idx```

[2016-08-15 04:52] ggouaillardet commented on #1964
@sjackman ```ssh``` does require ```getpwuid```, so if your system does not support getpwuid, you have to use an other command.
for example, you can
[code]

that being said, that will not work because of the following issue

fwiw, i am surprised ```getpwuid``` does not work on your system __and__ you have Open MPI use ssh to spawn its daemons.

@rhc54 i hit a case that sits in the middle ...
i bui

[2016-08-15 13:24] jsquyres opened #1967 "Many sessions directories + PMIx pipes cluttering up /tmp"
Since July, we have noticed a sharp increase in the number of stale session directories and PMIx pipes left over in /tmp (on Linux).  For example:

[code]

Most of these appear to be dated after July 22, but there's at least a few from July 6/7.

I can't tell offhand if these are from master or v2.x runs.

I also don't know if this is actually prior-existing behavior, but it has been exacerbated b

[2016-08-15 14:43] rhc54 commented on #1967
These are all from master as those "hooks" don't exist in 2.x. The usual cause is failure of the orted so it doesn't have a chance to cleanup.

I'll update orte-clean so it handles the new files, and explore putting them under the username again.

[2016-08-15 14:55] rhc54 commented on #1964
FWIW: I went ahead and modified the rsh/ssh code so it doesn't fail if getpwuid fails. We use the same code for both rsh and ssh, so even though ssh won't work, we should let the rsh case continue to try.

I'll add the new change to the release PR when it passes CI.

[2016-08-15 16:34] jladd-mlnx commented on #1966
@ggouaillardet this is not what we want. The following snippet implies direct modex would never "work" with OSHMEM. You would always exchange modex data.

[code]

[2016-08-15 17:51] jsquyres commented on #1966
@ggouaillardet Ah -- good!  I previously reported https://github.com/open-mpi/ompi/issues/1919, but then was unable to reproduce it.  Perhaps I didn't use more than 2 procs the 2nd time around.  Thanks for digging in to it!

[2016-08-15 19:13] sjackman commented on #1964
Thanks!

[2016-08-15 22:26] jsquyres opened #1970 "Update ROMIO?"
I got a comment from a user:

I know our primary support for IO is OMPIO in v2.x.  Is it worth upgrading ROMIO?  Or does OMPI support the new Panfs + RAID6 stuff that the user mentions?

@edgargabriel @ggouaillardet

[2016-08-15 22:47] edgargabriel commented on #1970
RAID 6 is below the file system level and typically not exposed to the user, but a characteristic of the internal storage architecture. It should not be something that the user / MPI I/O has to worry about. Support for new PanFS versions might be different. I know that ROMO has a panfs adio component, but since I do not have access  to a panasas storage system, I have absolutely no experience with

[2016-08-15 23:48] ggouaillardet commented on #1970
@edgargabriel i haven't been using panasas for a while.
iirc, they can do RAID at the file level (vs the block level) so i am (just) guessing "RAID6 variant" support means "file level RAID can be set by MPI-IO via hints"
if there is some interest, i can try to upgrade to romio from mpich 3.2 but not in the near term.
iirc, it could support non blocking operations ... assuming we can plug this to O

[2016-08-16 00:12] ggouaillardet commented on #1966
@jladd-mlnx fair enough, so how do we want to fix this issue ?

my observations were
- ```pml/yalla``` has the ```MCA_PML_BASE_FLAG_REQUIRE_WORLD``` flag set, which means direct modex would never work in this case (and hence the bug is avoided)

- ```_shmem_init``` ends up doing MCA_SPML_CALL(add_procs(oshmem_group_all->proc_array, oshmem_group_all->proc_count)); which invokes ```mca_spml_yoda_add

[2016-08-16 00:31] ggouaillardet commented on #1970
fwiw, i started that with mpich 3.2b1 and then stopped because we decided it would not be part of v2.x anyway. my branch is still available at https://github.com/ggouaillardet/ompi/commits/refresh/romio32b1

that should be pretty easy to do it again with 3.2

[2016-08-16 03:11] #1964 closed

[2016-08-16 10:22] jsquyres commented on #1956
Cross reference: the corresponding PR is #1955.

[2016-08-16 10:44] jsquyres commented on #1393
@amckinstry In looking through the symbol versioning issue/PR, I noticed you also have this old issue open.  Is it still an issue, or should we close it?

[2016-08-16 10:51] jsquyres commented on #1970
@hppritcha Do you have thoughts on this?  My $0.02: if we do it, it would probably be a candidate for Open MPI v2.2.

[2016-08-16 11:16] jsquyres commented on #1549
This issue is made moot by https://github.com/open-mpi/ompi-release/pull/1277.

[2016-08-16 11:17] #1549 closed

[2016-08-16 11:17] jsquyres commented on #1930
This is addressed in https://github.com/open-mpi/ompi-release/pull/1277.

[2016-08-16 11:17] #1930 closed

[2016-08-16 11:29] jsquyres commented on #1848
@bharatpotnuri Any updates?

[2016-08-16 11:31] jsquyres commented on #1841
@bharatpotnuri @larrystevenwise Any update?

[2016-08-16 11:32] jsquyres commented on #1822
@hppritcha Per @ggouaillardet's question, do you only care about v2.x for this fix, or do you need a fix for v1.10.x as well?  If you only need v2.x, then is https://github.com/open-mpi/ompi-release/pull/1298 sufficient?

[2016-08-16 11:33] jsquyres commented on #1790
I believe this error has been fixed.  @hjelmn @artpol84 please re-open if I'm incorrect.

[2016-08-16 11:33] #1790 closed

[2016-08-16 12:05] artpol84 commented on #1930
@jsquyres actually 1.1.5 doesn't have dstor so I'd expect that mentioned PR won't fix the problem.

[2016-08-16 12:20] jsquyres commented on #1930
@artpol84 I think the goal for this PR was just to get accumulated PMIx bug fixes into the v2.0.x tree.  I agree that the shared memory dstore stuff in PMIx 2.x would be beneficial, but is probabbly more appropriate for OMPI v2.1.x.

[2016-08-16 12:36] artpol84 commented on #1930
Agree.

[2016-08-16 12:58] hppritcha commented on #1966
I'd rather go for a short term fix for 2.0.1 so if it that means not being able to use direct modex that's the way it will be.  If someone can come up with a better fix that does not involve a lot of code change, that would be great.

[2016-08-16 14:28] jsquyres commented on #1943
Fixed in open-mpi/ompi-release#1315.

[2016-08-16 14:28] #1943 closed

[2016-08-16 14:30] jsquyres commented on #1875
Given the time delay and the fact that we can't replicate the issue, this is slipping to v2.0.2.

[2016-08-16 14:34] larrystevenwise commented on #1841
@bharatpotnuri is out until tomorrow.

[2016-08-16 14:35] larrystevenwise commented on #1848
@bharatpotnuri is out until tomorrow.

[2016-08-16 15:44] edgargabriel commented on #1970
another option might be to try to bring in just an update for the panfs adio, not entirely sure whether that's feasible though.

[2016-08-16 16:21] jladd-mlnx commented on #1966
@ggouaillardet @hppritcha @artpol84 Yoda SPML is broken, not UCX or Ikrit. The fix for Yoda cannot exclude using direct modex for OMPI init when using other SPMLs.

The fix for Yoda is simple:

In `mca_spml_yoda_add_procs` before the call to `create_btl_list()` call `mca_pml.pml_add_procs` with all processes on comm_world.

[2016-08-16 16:23] jsquyres commented on #1848
@larrystevenwise We're likely to push this to v2.0.2 unless some kind of conclusion can be reached in the immanent future.

[2016-08-16 17:23] larrystevenwise commented on #1848
@jsquyres please push this to v2.0.2.  I'll talk with Bharat tomorrow to see where we are at, but don't hold up the release.  Thanks.

[2016-08-16 18:33] jsquyres commented on #1848
Cool; thanks.

[2016-08-17 01:30] jsquyres opened #1973 "pkg-config files do not specify the right libraries for --enable-static --disable-shared installs"
(this is @hjelmn's fault for bringing up the issue in a face-to-face meeting today.  😄)

When linking an MPI application against static MPI libraries (e.g., `libmpi.a`), you need to not only specify `-lmpi`, you also need to specify `-lopen-rte -lopen-pal`.

However, when linking an MPI application against dynamic MPI libraries (e.g., `libmpi.so`), you want to **only** specify `-lmpi` -- you **do

[2016-08-17 01:32] ggouaillardet commented on #1966
@jladd-mlnx
here is an other patch that works for me
[code]

note i had to replace some calls to ```oshmem_num_procs``` with ```ompi_comm_size(oshmem_comm_world)``` to make it return the number of procs in ```oshmem_comm_world```, otherwise the value of ```opal_list_length(ompi_proc_list)``` might be lower.
i also got rid of an useless call to ```oshmem_proc_group_destroy``` in the error path.

[2016-08-17 02:50] ggouaillardet commented on #1970
@edgargabriel the changes look miminal (the open callback has been rewritten for the new panfs interface)

i made a patch that can be downloaded at https://github.com/ggouaillardet/ompi/commit/a7cfe9f0bab9625aff31f5151c1b4d5c9d984879.patch and i have no way to test it (so i am not even sure it compiles)

@jsquyres would you mind asking your user to give it a try ?

[2016-08-17 02:52] pietern commented on #1585
I took @ajtulloch's work and made some minor modifications to make single-stack IPv6 work for us. This patch only fixes the OOB and TCP BTL and is tested on machines with a single routeable IPv6 address (global scope). https://gist.github.com/pietern/09329d1040cc0454c3d1618495bf7362

I created a separate patch that makes both the OOB and TCP BTL work with IPv6 link-local addresses, which I used to

[2016-08-17 04:27] artpol84 commented on #1966
Looks ok, thank you.

[2016-08-17 05:26] #1966 closed

[2016-08-17 07:18] bharatpotnuri commented on #1848
@jsquyres Sorry, I was stuck with someother work, couldn't look into this one until now. Will soon update the pull request #1861 by the release.

[2016-08-17 11:12] jsquyres commented on #1864
Fixed via open-mpi/ompi-release@6e101d12a1b745cfc363c23f453eeb7f7062c572 (open-mpi/ompi-release#1277).

[2016-08-17 11:50] jsquyres opened #1976 "Update AUTHORS and shared library versions for v2.0.1"

[2016-08-17 14:11] jladd-mlnx commented on #1966
:+1: Thanks, @ggouaillardet

[2016-08-17 15:55] jjhursey commented on #1763
@bosilca You mentioned (in person) that there is an MCA parameter to route around this issue. What was that parameter?

[2016-08-17 16:01] bosilca commented on #1763
@jjhursey I said we should provide one ;) Right now you can use the tuned collective dynamic configuration to change the decision function to prevent any pipelined function from being called. We might want to create a simpler way, by taking advantage of the PVARs.

[2016-08-17 17:02] jsquyres commented on #1973
It got pointed out to me: why not put `-lopen-pal -lopen-rte` in the private libs?

Ummm... duh.  I'll try that; that will likely fix it.

[2016-08-18 01:48] jsquyres commented on #1973
Made moot by https://github.com/open-mpi/ompi/pull/1982

[2016-08-18 01:48] #1973 closed

[2016-08-18 21:25] nrgraham23 commented on #1890
This issue has been resolved.  mpijavac was being used from the wrong location.

[2016-08-18 21:25] #1890 closed

[2016-08-18 21:51] jsquyres commented on #1976
Cross references:

* master version of AUTHORS update: #1984
* v2.x PR for shared library version update: open-mpi/ompi-release#1324

[2016-08-19 11:32] bharatpotnuri commented on #1848
With commit 9a08fb7, PR #1861 tests good for disqualifying rdmacm for MPI_THREAD_MULTIPLE.

[2016-08-19 13:52] jsquyres commented on #1841
Update:

Per https://github.com/open-mpi/ompi/issues/1848#issuecomment-232619247, there definitely are problems with the RDMA CM CPC and THREAD_MULTIPLE.  #1861 is a temporary workaround to disable the RDMA CM CPC until they can be fixed.

[2016-08-19 15:07] rhc54 commented on #1967
I've moved the pmix handles under the session dir, and put the session dir under a top-level one based on the user id. Barring non-normal termination, this is as good as it gets.

I'll work on orte-clean under a separate PR, and am marking this as closed for now.

[2016-08-19 15:07] #1967 closed

[2016-08-19 17:09] sjeaugey opened #1986 "(random?) PMIX launch errors"
My MTT on v2.x shows a significant number of errors every night with the following log :

[code]

I tried cleaning /tmp yesterday, and I still got 16 failed tests today (versus 32 yesterday).

It seems to be random, i.e. it affects different tests every night, and if I run a failed test, it works. Running tests in a loop, I couldn't reproduce the error either.

[2016-08-19 17:11] sjeaugey commented on #1986
Just realized the errors were now all on the ivy5 node, which apparently I failed to clean. Closing, will reopen if I still get errors.

[2016-08-19 17:11] #1986 closed

[2016-08-22 15:49] ericch1 commented on #1875
ok, testing master which includes commit from pr #1935...

I have a question: to help people build a "small" reproducer when they are in a situation like mine or simply using in 3rd party libs (like PETSC), is it feasible to simply link to a MPI lib which, at execution,  will extract all the calls (and data) made to the MPI lib into a "c code" which will be the reproducer?  Do you think this is fe

[2016-08-22 15:55] rhc54 commented on #1875
I don't know about the overall objective, but we do ship a "libompitrace" that prints out the name of each MPI call when executed so you can "trace" your MPI usage. Might be possible to extend that capability to do what you ask.

[2016-08-22 17:22] ericch1 commented on #1875
ok, just linked with "libompitrace"...

the objective would be to transform the output from:

MPI_ISEND[0]: buf 7f746a6c8280 count 3 datatype  dest 1 tag 123454321 comm MPI_COMM_WORLD

to something like:

the_good_datatype buf[3] = {the sent buffer};
MPI_Request request;

MPI_Isend(buf,3,
                                   the_good_MPI_datatype,
                                   1

[2016-08-22 17:24] ericch1 commented on #1875
Tested the "master" branch to test the merged patch, but all tests are faulty because of this problem:

--------------------------------------------------------------------------
The PMIx server was unable to setup a rendezvous file due to your
system's restriction for Unix's socket's path-length.

   Temporary directory: /pmi/cmpbib/compilation_BIB_dernier_ompi/COMPILE_AUTO/tmp/ompi.lorien.40031/

[2016-08-22 17:26] rhc54 commented on #1875
Well, whatever system you are on has an unfortunately long path set to TMPDIR. As the error says, just set TMPDIR to something shorter so it can fit into a standard sockaddr_un.

[2016-08-22 17:29] ericch1 commented on #1875
Yeah I cant set it to a shorter path, but I didn't changed that TMPDIR variable since a long tim eago and it was working... is it a new limitation?  This limitation doesn't appear in 2.0.1...

[2016-08-22 17:48] ericch1 commented on #1875
Is it the verification of the path length that is new?  I am wondering if it can be related to the bug we are searching here...???

[2016-08-22 18:16] ericch1 commented on #1875
Just tested with a shorter path: now start ok, but the bug reported here still occurs... :/

[2016-08-22 20:09] ericch1 commented on #1875
Hi,

I just reformated the output from "ompitrace" lib into files, maybe we can discover something there.

Here are the traces from the 2 processes for working (ompi 1.10.2):
http://www.giref.ulaval.ca/~cmpgiref/dernier_ompi/ompitrace_v182.txt.formated.0
http://www.giref.ulaval.ca/~cmpgiref/dernier_ompi/ompitrace_v182.txt.formated.1

Here are the traces from the 2 processes for ompi 2.0.x (actuall

[2016-08-23 15:03] jsquyres commented on #1976
Done.

[2016-08-23 15:03] #1976 closed

[2016-08-23 15:03] #1864 closed

[2016-08-23 15:54] sjeaugey opened #1998 "dpm/spawn : unable to reach spawned processes"
MTT reported that on master, many spawn tests are failing on master :

https://mtt.open-mpi.org/index.php?do_redir=2342

[code]

[2016-08-23 15:57] sjeaugey opened #1999 "split_undefined : segmentation fault"
Reported by MTT on master :

https://mtt.open-mpi.org/index.php?do_redir=2343

[code]

[2016-08-23 16:35] jsquyres opened #2000 "Hargrove-inspired fixes:"
1. Update README to no longer support OS X 10.6 and 10.7
2. Update README to clarify Oracle Studio versions (perhaps 12.5 only?)
3. @rhc54 to update PMIx to fix a pair of issues:
  * https://www.mail-archive.com/devel@lists.open-mpi.org/msg19376.html: This is technically an OS X 10.6 problem, and we therefore don't care, but it's fixed in the pending PMIx update
  * https://www.mail-archive.com/de

[2016-08-23 16:58] jsquyres commented on #1998
@sjeaugey Github pro tip 1: MTT has "short" URLs.  Click on the "Create permalink" next to "Absolute date range" in the top right.  The short URL for the one in this PR is https://mtt.open-mpi.org/index.php?do_redir=2342

@sjeaugey Github pro tip 2: you can use Markdown to hide the URL.  E.g., [here's a link to the corresponding MTT report](https://mtt.open-mpi.org/index.php?do_redir=2342).

[2016-08-23 16:59] jsquyres commented on #1999
I shortened the MTT URL

[2016-08-23 17:12] PHHargrove commented on #2000
Did I miss something?
Why are these being dropped and why am I credited with "inspiring" this?

"Technically" it is a problem for any non-glibc platform which predates the 2008 revision of POSIX.1 in which strnlen() was first specified. That likely includes Solaris 10 and older releases of the BSD OSes (I only test the latest).

[2016-08-23 17:17] jsquyres commented on #2000
OS X 10.6 and 10.7 are ancient.  OS X support is largely for developers on laptops, and on the webex today, we decided that it is likely not that important to support such old versions of OS X.

You're credited because you are The Hargrove!  😄   You inspired the discussion on the webex today because you raised these issues.

Technically: ok.  It's getting fixed anyway.

[2016-08-24 06:02] artpol84 opened #2002 "Return support of pmix/release/v2.x branch in OMPI master"
Starting from b0cc9b0bc885ece2f09cfcb55c2b86a11be8bc16 the support for PMIx v2.x was lost as far as I can tell.

Maybe we should start new ext30 component for the pmix/master and keep ext20 in sync with pmix/release/v2.x.

[2016-08-24 06:43] ggouaillardet commented on #1999
@sjeaugey i was unable to reproduce this issue with ```--mca btl self,sm,openib``` and two nodes
(i do not have a cuda environment to test), even with allinea memory debugger (thorough test)

can you please try to reproduce the issue without the ```smcuda``` btl ?

[2016-08-24 11:47] ggouaillardet commented on #1998
this is a known issue that was previously reported at #1991
@artpol84 is working on it

[2016-08-24 12:24] ericch1 commented on #1875
About ompitrace:
I was looking at ompitrace output to find traces of MPI_*_init calls and nothing appears.
May I wrongly linked with ompitrace or not all calls are logged?

@knepley , also found a:

PETSC_HAVE_BROKEN_REQUEST_FREE

that maybe would help until all this is fixed?

[2016-08-24 14:34] knepley commented on #1875
On Wed, Aug 24, 2016 at 7:24 AM, Eric Chamberland <notifications@github.com>
wrote:

Yep, that is an option. You could run out of resources in a long run, but
its better than crashing up front.

   Matt

--
What most experimenters take for granted before they begin their
experiments is infinitely more interesting than any results to which their
experiments lead.
-- Norbert Wiener

[2016-08-24 15:03] rhc54 opened #2004 "Libevent warnings"
If a process abnormally terminates, we get a warning out of libevent (the file descriptor varies):

[code]

Similar report was filed a long time ago: https://github.com/open-mpi/ompi/issues/341

Don't know if they are related, but worth noting. I'm told we also get this message sometimes when normally terminating as well, so it's possibly a race condition.

@jladd-mlnx @hjelmn @ggouaillardet Just

[2016-08-24 15:35] sjeaugey commented on #1999
If you look at MTT results, I got the same crash using self,sm,tcp ... which means it should also happen on self,sm,openib.

Thanks for trying to reproduce -- if you can't then it can be tied to my node configuration, or the fact that I build with --enable-cuda (which is likely for that particular case since I fixed a similar problem last week that had to do with enable-cuda).

[2016-08-24 15:42] sjeaugey commented on #1998
@jsquyres Thanks for the tips -- I didn't even think MTT would have such a feature. Very convenient.

@ggouaillardet why is this issue marked v2.1.0 ? I only see it in master.

[2016-08-24 15:44] rhc54 commented on #1998
I believe because we are not planning to update PMIx to this level until v2.1.0 - but you are correct, we haven't even scheduled it for the release branch yet.

[2016-08-24 20:37] pietern commented on #1585
@rhc54 @ggouaillardet Are you interested in pulling in these patches into 1.10, or only in 2.x and 3.x? I also have changes to add IPv6 support to the OpenIB BTL (if you're using RDMA CM you can't use IB addresses and have to fall back to IPs to identify NICs). Happy to rebase and send a pull request if you're interested in merging it.

[2016-08-24 22:33] bosilca commented on #1585
@pietern I looked at your global scope patch, and I see no reason not to have it applied. I am however a bit skeptical regarding the interest of the second one (in an HPC setting).

[2016-08-24 23:46] ggouaillardet commented on #1585
@jsquyres from an administrative point of view, can we simply accept this patch ?
or should @pietern do some paperwork (if not already done) before ?

[2016-08-24 23:57] bosilca commented on #1585
This is a small patch that fixes a bug in Open MPI. As it adds no new logical constructs I think this qualifies as small enough to accept it without additional paperwork.

[2016-08-25 00:02] ggouaillardet commented on #1585
@pietern would you mind issuing a pull request (so you get properly credited from a git point of view) ?

otherwise, your patch will be commited by an Open MPI developer and you will be credited in the commit message.

[2016-08-25 00:04] pietern commented on #1585
Not at all. This is currently working against 1.10.2. What should I base the PR on? Would you be willing to pull this into the 1.10 stable train?

[2016-08-25 00:10] ggouaillardet commented on #1585
@pietern the way we work is we first update the master branch of https://github.com/open-mpi/ompi.git, and then we cherry-pick/backport the changes for the v2.x and v1.10 branches of https://github.com/open-mpi/ompi-release.git

[2016-08-25 02:45] #1793 closed

[2016-08-25 13:20] jsquyres opened #2009 "--disable-mpi-io broken on master"
@edgargabriel It looks like some recent OMPIO changes on master broke `--disable-mpi-io`.  Can you have a look?

https://mtt.open-mpi.org/index.php?do_redir=2344

[2016-08-25 14:30] edgargabriel commented on #2009
I thought I fixed that a while back, but there seems to be an issue when using --disable-dlopen. Will look into that. Can confirm and reproduce the problem.

[2016-08-25 15:54] hppritcha opened #2012 "Problem with MPI dynamic window support"
Per discussion in an email thread on the users group,
there appears to be a regression in master/2.x release with
handling of MPI dynamic windows.

The reproducer is in the email.

The error goes away if the OSC rdma component is not used.
@hjelmn

https://mail-archive.com/users@lists.open-mpi.org/msg29851.html

[2016-08-25 17:27] hjelmn commented on #2012
Will take a look.

[2016-08-25 17:46] hjelmn commented on #2012
I can reproduce the issue. Looks like the insertion code is messing up. Should have a fix shortly.

[2016-08-25 20:42] #2012 closed

[2016-08-26 02:42] artpol84 commented on #2002
@rhc54 was this addressed?

[2016-08-26 02:47] artpol84 commented on #2002
If this is a false alarm - could you provide the comments?

[2016-08-26 02:49] artpol84 commented on #2002
Ok, it seems that this is what was missing

[2016-08-26 02:49] artpol84 commented on #2002
https://github.com/open-mpi/ompi/pull/2017

[2016-08-26 02:49] #2002 closed

[2016-08-26 02:50] artpol84 commented on #2002
@rhc54 thank you!

[2016-08-26 12:53] jlost commented on #1854
FYI, a bounty has been posted for this issue:
https://www.bountysource.com/issues/35837602-dlopen_test-crash-with-xlc-on-ppc-in-v2-x

[2016-08-26 14:03] hjelmn commented on #1854
Finally got the xlc download to work. I had to use firefox... IBM probably should fix the website as neither safari nor chrome worked.

Should have this fixed today.

[2016-08-26 14:10] hjelmn commented on #1854
@jjhursey Is this with big or little endian?

[2016-08-26 14:13] jjhursey commented on #1854
@hjelmn `ppc64le` is what I tested against.

[2016-08-26 14:15] hjelmn commented on #1854
Ok, thats what I was able to get installed. Just wanted to make sure I am testing the right version.

[2016-08-26 14:16] hjelmn commented on #1854
So far no failure:
[code]

[2016-08-26 14:18] hjelmn commented on #1854
Hmm, patcher didn't build... Weird.

[2016-08-26 14:21] hjelmn commented on #1854
ring_c hits it! Finally can debug :)

[2016-08-26 14:22] hjelmn commented on #1854
Yup. Definitely have it reproducing. ring_c crashes with patcher/overwrite but doesn't without it.

[2016-08-26 17:14] hjelmn commented on #1854
So, it is making the correct decision on whether or not the address is a TOC entry. This means the correct locations are being patched. It is crashing in one of the hooks. I am still investigating. Might have to compare a gcc assembly output with the xlc output to figure this out.

[2016-08-26 17:59] hjelmn commented on #1854
I think I identified the problem. Testing now.

[2016-08-26 20:23] hjelmn commented on #1854
Ok, found two issues:

1) This does not work the same with xlc as it does with gcc:
```register unsigned long toc asm ("r2")```
I checked the value of toc vs r2 in gdb and they were not the same. I am changing this to explicitly load r2 into toc.

2) The xlc compiler is generating an access to r2 *before* the ```OPAL_PATCHER_BEGIN``` assembly. I am breaking all the hooks into two levels until a be

[2016-08-27 00:15] #1854 closed

[2016-08-27 00:16] hjelmn commented on #1854
MTT will run on this tonight. Re-open if the problem is not really gixed.

[2016-08-27 11:40] jsquyres opened #2023 "oshmem yoda spml call to add_procs seems wrong"
When compiling master and v2.x:

[code]

I note that pml add_procs takes an `(ompi_proc_t **)`, but https://github.com/open-mpi/ompi/blob/master/oshmem/mca/spml/yoda/spml_yoda.c#L645 is calling with an `(oshmem_proc_t **)`.

This was added just 10 days ago by @ggouaillardet in  6b7bc6410168f162be930f93e0b6fa18753bcdb4.

However, `oshmem_proc_t` is defined as (https://github.com/open-mpi/ompi/blob/

[2016-08-27 12:01] jsquyres commented on #2023
Actually, looking at `ompi/proc/proc.h`, I guess `(ompi_proc_t)` is *compatible* with `(oshmem_proc_t)`, so I guess the implicit cast is functional.  Ugh -- this is strange and unexpected (i.e., it doesn't fit in with the rest of the OMPI code base convention).

Can we do something a a little less unexpected with the `(oshmem_proc_t)` type -- e.g., make it have its first member be `ompi_proc_t`?

[2016-08-27 12:09] ggouaillardet commented on #2023
I was typing when you posted your last comment...

I can easily silence the warning.

[code]

and

[code]

the only difference is ompi has padding whereas oshmem has real data.

bottom line, if an ```ompi_proc_t``` is expected, it is fine to pass an ```oshmem_proc_t```,
but the compiler cannot figure it out by itself.

I have several options on top of my head
1. type casting to silence the warning

[2016-08-27 12:15] jsquyres commented on #2023
I added the cast in https://github.com/open-mpi/ompi/pull/2024.

@ggouaillardet Maybe another option is to have a common / shared type that both `ompi_proc_t` and `oshmem_proc_t` use as their first member, and then also have an `assert()` somewhere to ensure that the `sizeof(oshmem_proc_t) <= sizeof(ompi_proc_t)` (i.e., so that oshmem's extra data doesn't exceed the padding in the `ompi_proc_t`)..

[2016-08-27 12:16] ggouaillardet commented on #2023
btw, ```oshmem_proc_t``` should likely end with a 8 bytes padding if ```sizeof(char *) == 4``` (assuming the compiler adds a 4 bytes padding between the int and the char* in 64 bits arch)
a safer option would be to swap the two elements and pad 4 or 8 bytes

[2016-08-27 12:18] jsquyres commented on #2023
@ggouaillardet Good point; I don't know if there's any code that assumes that the sizeof the two types are the same.  It would probably be best to ensure that they *are* the same (e.g., perhaps an `assert()` should be added to ensure that `sizeof(oshmem_proc_t) == sizeof(ompi_proc_t)` -- not `<=`, as I proposed above).

[2016-08-27 12:19] jsquyres commented on #2023
The more I think about it, it probably *is* important to guarantee that the sizes of the two types are identical.  Otherwise, there wouldn't be any padding at the end of `(ompi_proc_t)`, right?

[2016-08-27 12:23] ggouaillardet commented on #2023
that makes sense to me.
I like option 4. best, since it does not require any modifications in ompi
(though oshmem changes might be quite important) and it is future-proof
(assuming we put the right asserts at the right places)

[2016-08-27 12:26] jsquyres commented on #2023
I'm not familiar enough with the OSHMEM code -- is it easy to make a PR for option 4?

[2016-08-27 12:27] ggouaillardet commented on #2023
I will give it a try this week.
that should not be hard, but that could be a bit tedious ...

[2016-08-27 12:34] jsquyres opened #2025 "can opal_progress() call opal_progress()? (test hanging in MPI_COMM_DUP)"
An intel test is hanging in MPI_COMM_DUP (MPI_Keyval1_c and MPI_Keyval1_f), and the backtrace from one of the hung processes is a bit strange:

[code]

A snapshot backtrace from a hung process is:

[code]

Notes:

* `ompi_comm_dup_with_info()` is essentially waiting on a request that never completes.  This seems to be the real issue.  The only communication this test does is duping communicators.

[2016-08-27 13:24] jsquyres commented on #1585
@ggouaillardet @bosilca @pietern Sorry for jumping in late.  I took a look at the two patches.  Disclaimer: IANAL, and this is not legal advice.  For the first one -- making global scopes work -- I agree with @bosilca: it seems to be fixing a bug, and it should be ok to take without paperwork.  It's probably a bit lengthy / on the upper bound of what we should take without paperwork, but it should

[2016-08-27 13:29] hjelmn commented on #1854
MTT looked clean last night. Not sure if make check is run by the IBM MTT though.

[2016-08-27 14:05] jsquyres commented on #2023
@ggouaillardet Excellent; thanks.

[2016-08-27 18:44] bosilca commented on #2025
It is difficult to see the problem only from this stack trace. Moreover, recursively calling opal_progress is not forbidden (especially in this particular context where we need to progress non-blocking non-PML requests).
@hjelmn I look at the ompi_comm_request_progress function, and I do not think there is a reason for it to exists. We have added completion callback to the requests to avoid having

[2016-08-27 18:59] hjelmn commented on #2025
yeah. was written before i knew about the callback. will update this soon

[2016-08-29 12:19] ggouaillardet commented on #1698
@nrgraham23 can you please comment on Siegmar's claim (and my replies) that was initially posted at https://mail-archive.com/users@lists.open-mpi.org/msg29868.html ?

[2016-08-29 15:13] karasevb commented on #1998
This issue has already been diagnosed, and we are solving this problem now.

[2016-08-29 15:31] jladd-mlnx commented on #1585
@jsquyres Mellanox has a strong interest in seeing both patches upstream. Mellanox would happily push @pietern 's patch under my credentials. Please advise. Thanks.

[2016-08-29 15:42] jsquyres commented on #1585
@jladd-mlnx Good to know Mellanox's interest here.  Keep in mind, though, that just changing the author/attribution does not necessarily change the fact that someone else wrote it (particularly when that code is now searchable/findable via Google under the actual authors' names).

That being said, per the discussion we're having on the core list right now about accepting exactly these kinds of con

[2016-08-29 16:26] pietern commented on #1585
Thanks all. Working with @jsquyres to get this done.

[2016-08-29 18:59] jsquyres opened #2027 "v1.10: fortran wrapper missing rpath to libfabric in --enable-static --disable-shared builds"
When building the v1.10 branch with `--enable-static` `--disable-shared` an a libfabric library in a non-standard location (e.g., `--with-libfabric=FOO`), the rpath to libfabric is missing from the resulting mpifort wrapper data file.  This does not happen in other cases:

* Shared builds of v1.10
* Static builds of master / v2.x
* Shared builds of master / v2.x

Specifically, in these bad builds

[2016-08-29 19:17] jsquyres commented on #2000
1 through 3 are in for v2.0.1.  4 is going in to v2.0.2 (no PR yet).

[2016-08-29 19:17] #2000 closed

[2016-08-29 20:26] jsquyres opened #2028 "OSHMEM yoda spml failures: need to update to BTL v3.0"
Cisco just added OSHMEM testing to its MTT 2 weeks ago (at the Dallas engineering meeting).

We're seeing a large failure rate on v2.x with OSHMEM testing using TCP,vader,self.  For example: https://mtt.open-mpi.org/index.php?do_redir=2347

This shows 1,624 failures and 6,546 passes.  I.e., a nearly 20% failure rate.  😱

Many of the failures show this kind of error message:

[code]

Does anyone kn

[2016-08-29 20:27] jsquyres commented on #2028
I also see these kinds of errors:

[code]

[2016-08-29 20:28] jsquyres commented on #2028
Am I running these tests wrong?  In most cases, the tests are run with 32 procs across 2 nodes (16 cores each); each node has 128GB RAM.

[2016-08-29 21:48] nrgraham23 commented on #1698
@ggouaillardet @siegmargross @hppritcha

Typically in Java land if something goes wrong in user code, an exception is thrown back to the user for them to handle.  So in this case, an IndexOutOfBoundsException occurs because the user is attempting to access an element of the array that is not there.

When I made this fix, I fixed a logic error in the code, however for the scenario Siegmar provided,

[2016-08-29 22:00] nrgraham23 commented on #1698
I realized I should have said much of what I said in a reply to Gilles from a comment on the commit where I merged the code to fix this issue, actually here in the issue itself.  So Ill copy paste it below.

Gilles wrote:

@nrgraham23 the result of this function is not checked in collectives. shouldn't we "cancel" the native exception and throw a MPIException here ?
my knowledge of C/Java interact

[2016-08-30 03:02] ericch1 commented on #1875
@ggouaillardet Ok, printed what you asked right into PETSc code.
Until the last MPI_Request_free call, the count is still 1...
<pre>
#if !defined(PETSC_HAVE_BROKEN_REQUEST_FREE)
  if (!to->use_alltoallv && !to->use_window) {   /* currently the to->requests etc are ALWAYS allocated even if not used */
    if (to->requests) {
      for (i=0; i<to->n; i++) {
  printf("ERIC DBG count = %d\n", ((struct

[2016-08-30 11:12] ggouaillardet commented on #1875
@ericch1 are you saying the count decreases from n to 1 and the app crashes before it prints
```ERIC DBG2 count = 0``` ?

[2016-08-30 12:30] hjelmn commented on #1875
ok.  that is odd. count should be at least 2. 1 for the original OBJ_CONSTRUCT and 1 for each OBJ_RETAIN from each request.

[2016-08-30 12:33] AndreasKempfNEC commented on #1831
I would like to relate my experiences with regard to this bug on an InfiniBand EDR system. When compiled with the components of HPC-X version 1.6.392 (hpcx-v1.6.392-gcc-MLNX_OFED_LINUX-3.2-2.0.0.0-redhat7.2), Open MPI 2.0.1rc1 shows extremely low bandwidths on osu_bw and osu_bibw using the yalla pml:

[code]

When using -mca pml cm, the bandwidths are much better:

[code]

After looking around for

[2016-08-30 13:10] ggouaillardet commented on #1875
Yep, and that suggests persistent requests are unlikely the root cause, but more likely the symptom.

[2016-08-30 13:43] ericch1 commented on #1875
Here is the backtrace from ddd:
<pre>
#0  0x00007fffde1eb0c7 in raise () from /lib64/libc.so.6
#1  0x00007fffde1ec478 in abort () from /lib64/libc.so.6
#2  0x00007fffde228784 in __libc_message () from /lib64/libc.so.6
#3  0x00007fffde22e026 in malloc_printerr () from /lib64/libc.so.6
#4  0x00007fffde22ed53 in _int_free () from /lib64/libc.so.6
#5  0x00007fffdda0d784 in opal_free (addr=0x7fffdef0ab

[2016-08-30 13:56] ggouaillardet commented on #1875
@ericch1 is this the full backtrace?
If yes, then this is not thread 0 (e.g. main)

Open MPI does not check only one MPI subroutine is invoked at a time unless MPI_THREAD_MULTIPLE, could the root cause be an invalid usage of MPI, and hence a race condition and hence a crash ?
Generally speaking, should we implement such check ?

[2016-08-30 14:05] ericch1 commented on #1875
Here is the full backtrace:
<pre>
(gdb) bt
#0  0x00007fffde1eb0c7 in raise () from /lib64/libc.so.6
#1  0x00007fffde1ec478 in abort () from /lib64/libc.so.6
#2  0x00007fffde228784 in __libc_message () from /lib64/libc.so.6
#3  0x00007fffde22e026 in malloc_printerr () from /lib64/libc.so.6
#4  0x00007fffde22ed53 in _int_free () from /lib64/libc.so.6
#5  0x00007fffdda0d784 in opal_free (addr=0x7fffd

[2016-08-30 14:12] knepley commented on #1875
On Tue, Aug 30, 2016 at 8:56 AM, Gilles Gouaillardet <
notifications@github.com> wrote:

We definitely do not use threads in PETSc. I don't think Eric is using
threads.

   Matt

--
What most experimenters take for granted before they begin their
experiments is infinitely more interesting than any results to which their
experiments lead.
-- Norbert Wiener

[2016-08-30 14:20] bosilca commented on #1875
@ericch1 what Petsc test should I run to reproduce this issue ?

[2016-08-30 14:38] ericch1 commented on #1875
It's not a simple PETSc test, it is a test from our non-regression test database that is running nightly on each architecture we support (we have 22 right now)....  and it is bugging only with OpenMPI 2.0.x

This is why I tried to give the log from ompitrace (see above) and now the backtrace...

[2016-08-30 15:36] jsquyres opened #2030 "COMM_SPAWN is broken in 2.1.x HEAD"
Recent Cisco and NVIDIA MTT results are showing COMM_SPAWN and related dynamic operations are failing.

We need to find out if it was broken in v2.0.0 and see if this is a regression.  This will determine whether it's a v2.0.1 blocker or not (because we'd really like to release the other important fixes in v2.0.1 ASAP, and start working on the short timeline for v2.1.0 and v2.0.2, etc.).

@sjeauge

[2016-08-30 15:51] sjeaugey commented on #2030
Strangely enough, IBM MTT shows the issue on master but not on v2.x.

Also, I looked at the 1.1.5rc commit and it is far from being a significant change. If this commit is the issue, it should be easy to fix.

[2016-08-30 16:44] bosilca commented on #1875
The trace is too sparse to replicate (missing pointers to the request, the calls to test or wait and so on). I created all the possible combinations with persistent requests I could think of, and I can't reproduce this issue.

[2016-08-30 17:01] jsquyres commented on #1875
Would it be helpful for me to setup a webex for you guys to be able to screen share in an interactive debugging session?

[2016-08-30 17:35] ericch1 commented on #1875
Why not!  My 2 debuggers are already opened :)

We could just try to see if we can do something this way!

[2016-08-30 18:36] ericch1 commented on #1875
Just 2 snapshots from debugger, one with the last line called before the "free", and the structure req_base partly exposed, just tell me what can be insightful...
![ddd1](https://cloud.githubusercontent.com/assets/4324959/18102017/0a3d50c0-6ebf-11e6-9ac3-c3a531e1f4cf.png)
![ddd2](https://cloud.githubusercontent.com/assets/4324959/18102043/1b90386a-6ebf-11e6-9024-fee2084b711b.png)

[2016-08-30 19:04] sjeaugey commented on #2030
I'm currently unable to reproduce the problem on v2.x outside of MTT. On MTT though, it failed both with tcp and smcuda, and the error is a clear segmentation fault in orted (not the random pmix failure when there is a remaining socket in /tmp).

[2016-08-30 19:08] jsquyres commented on #1875
I have no idea what George's availability is like -- here's a Doodle: http://doodle.com/poll/sh4dvn3wzdsk883t

If you guys can find a common time that you're both available, I'll setup the webex.

[2016-08-30 19:20] jsquyres commented on #2030
@sjeaugey Can you provide a backtrace?

[2016-08-30 19:44] hjelmn commented on #1875
Might be worth putting a watchpoint on ```((struct dummy_object_t*)MPI_DOUBLE)->count``` and see where it changes. Should start as uninitialized, go to 1 on MPI_Init, then go up by one on each MPI_Recv/Send_init, and go down by one on each MPI_Request_free. If there are any other OBJ_RELEASE calls they are worth looking at.

[2016-08-30 19:47] jsquyres commented on #2030
@sjeaugey Also, can you force your MTT to use a tarball or git clone with that PMIx commit reverted?

[2016-08-30 19:54] ericch1 commented on #1875
ok, just added some fprintf into PETSc...
before each MPI_init I saw in vpscat.c:
<pre>
      } else {
        ierr = MPI_Send_init(Ssvalues+bs*sstarts[i],bs*sstarts[i+1]-bs*sstarts[i],MPIU_SCALAR,sprocs[i],tag,comm,swaits+i);CHKERRQ(ierr);
        printf("ERIC DBG MPI_Send_init to->requests(swaits) %p vpscat.c:%d\n", (void*)(rev_swaits+i), __LINE__);fflush(stdout);
      }
...
</pre>
now just gre

[2016-08-30 20:09] sjeaugey commented on #2030
@jsquyres I still need to be able to reproduce the problem. I'm trying to launch MTT building only v2.x and only IBM dynamic/spawn, but maybe it only fails when spawn is launched after in the middle of all other tests.

[2016-08-30 20:23] ericch1 commented on #1875
Doh!  There are errors in my printfs.. ignore the preceding output... correcting...

[2016-08-30 20:29] ericch1 commented on #1875
pfew... better, now the pointer of the allocated request is there, see the corrected output:
<pre>
ERIC DBG MPI_Send_init to->requests+0(swaits) (0x307cf90) 0x307c860 vpscat.c:2732
ERIC DBG MPI_Recv_init to->rev_rwaits+0 ((nil)) 0x307c860 vpscat.c:2742
ERIC DBG MPI_Send_init from->rev_requests+0 (0x30ff1a0) 0x30ff860 vpscat.c:2719
ERIC DBG MPI_Send_init to->requests+0(swaits) (0x3103970) 0x3103240

[2016-08-30 20:35] hjelmn commented on #1875
Can you add -mca orte_tag_output 1 to the mpirun line? Will tag each line with the rank.

[2016-08-30 20:37] jsquyres commented on #2030
@sjeaugey You might be able to run this indirectly via MTT.  E.g. (I didn't look at your MTT results; I'm guessing/assuming it's the `ibm` section where you're seeing failures, and fill in `...` below for your relevant `.ini` file and scratch directory):

[code]

I.e., make a `test run` section named `ibm-run-the-bad-test` that just runs the one test that is failing.  That way you can run the test

[2016-08-30 20:38] ericch1 commented on #1875
but this is only rank0 output... we separate output from each processes...

I am coming with more (interesting?) output...

Eric

On 30/08/16 04:35 PM, Nathan Hjelm wrote:

[2016-08-30 20:49] sjeaugey commented on #2030
@jsquyres  Yes it makes sense. Still, no luck. When I only run dynamic/spawn, the tests pass.

@rhc54 I'm starting to wonder if I were just out of luck and hit the pmix problem (when the socket is already in /tmp), only that in the case of spawns, instead of the usual "Error in file orted/pmix/pmix_server.c at line 254" message, I get a segmentation fault.

[2016-08-30 20:52] ericch1 commented on #1875
Ok, nothing very new with additionals printf to cath other mpi calls into VecScatterDestroy...

Here are the output for both process #0 and #1:

<pre>
[eric@lorien] Test.ProblemeGD (master $ u+1)> grep ERIC Resultats.hooke_3d_pen_8Hexa8_parallele/Cout.hooke_3d_pen_8Hexa8_parallele.n00.txt
ERIC DBG MPI_Send_init to->requests+0(swaits) (0x202ff50) 0x202f820 vpscat.c:2738
ERIC DBG MPI_Recv_init to->r

[2016-08-30 20:56] hjelmn commented on #1875
The 11's look right to me. 1 + 10 requests. The 5 and 1's seem wrong.

[2016-08-30 21:43] hjelmn commented on #1875
Can you do the watchpoint on the MPI_DOUBLE count? Backtrace anytime the count is decremented would be helpful.

[2016-08-30 21:48] ericch1 commented on #1875
ok, I will try tomorrow if the old ddd wants to do this... :)

[2016-08-30 21:49] hjelmn commented on #1875
alright. let me know.

[2016-08-30 22:06] jladd-mlnx commented on #1831
@artpol84 I thought these were already PR-ed into 2.0.1. If not, please PR during your day tomorrow.

@jsquyres @hppritcha These three:

7d96f12feccde864435e5ff7e81e09fb6c9fd934
bc973ca
a4ff9be

need to go into 2.0.1.

[2016-08-30 22:19] bosilca commented on #1875
If we assume that the issue is not with our requests, then the only other place where we manipulate the refcount of the datatypes are in the part of the code that handle the get_content. @ericch1 are you using any non-predefined datatype (one that is manually created via one of the MPI_Type_* function) ?

[2016-08-30 22:25] ericch1 commented on #1875
Yes we do.  At multiple places!!!

For many MPI_ISend/IRecv calls and also into MPI I/O.

Le 16-08-30 à 18:19, bosilca a écrit :

[2016-08-30 22:25] sjeaugey commented on #2030
I added tmp cleanup before my nightly MTT run. We'll see tomorrow if it solved the issue.

[2016-08-31 01:37] ggouaillardet commented on #1875
@ericch1 can you please apply my patch available at https://gist.github.com/ggouaillardet/2bd0a27227d067e65e2fc1a342f6acc9 on top of your latest patch ?

it fixes the typo at line 2748, and print some more stuff

[2016-08-31 03:35] artpol84 commented on #1831
I'm confused:

ompi-release/v2.x is free from this bug:
https://github.com/open-mpi/ompi-release/blob/v2.x/ompi/mca/pml/yalla/pml_yalla_request.h#L28

as well as v1.10:
https://github.com/open-mpi/ompi-release/blob/v1.10/ompi/mca/pml/yalla/pml_yalla_request.h#L25

Can you clarify where did you cherry-picked those commits?

[2016-08-31 03:51] artpol84 commented on #1831
I also checked https://www.open-mpi.org/software/ompi/v2.0/downloads/openmpi-2.0.1rc2.tar.bz2 and I don't understand how could you apply mentioned fixes to this codebase.

[2016-08-31 05:44] artpol84 commented on #1831
I'll do the runtime check and will report back

[2016-08-31 05:48] AndreasKempfNEC commented on #1831
I am sorry for seeding confusion here. I am probably conflating two separate issues which I now realize.

There were some some bandwidth issues with the released tarball of Open MPI 2.0.1rc1 and I found this issue mentioning problems with the message rate on yalla. In the first bug report here, a possible fix on master was mentioned. Looking at the yalla history:
https://github.com/open-mpi/ompi/c

[2016-08-31 06:00] artpol84 commented on #1831
As #1840 states the following commit was causing problems:
https://github.com/open-mpi/ompi/commit/041a6a9f53033a12d1cbf5c1af36cb16c7cdcc36

And this commit is not in the 2.0.x. That's why I wonder how you applied patches from my commits you mentioned.

So the question by saying "I updated the files touched by commits" you mean that you replaced them with ones from master? Or did you actually appl

[2016-08-31 06:03] artpol84 commented on #1831
P.S. I'm sure this is the right place to discuss the problem.

[2016-08-31 06:04] AndreasKempfNEC commented on #1831
Sorry, I just replaced them. I compared the histories and figured they were identical but, clearly, I did not do a good job. I missed a few differences.

[2016-08-31 06:10] artpol84 commented on #1831
Ok, good that we clarified that!
I will double check in my environment and update here.
I'm still surprised because I was testing release and it wasn't affected by this bug. But it's worth to double check.

[2016-08-31 06:17] artpol84 commented on #1831
And thanks for finding and reporting this!

[2016-08-31 13:06] jladd-mlnx commented on #1831
bot:milestone:v2.0.1

[2016-08-31 13:46] jsquyres commented on #1831
After reading all the comments from overnight, I'm confused: is there an issue here or not?

[2016-08-31 13:51] jsquyres commented on #2028
@artpol84 @jladd-mlnx @igor-ivanov Any advice here?

[2016-08-31 13:52] jsquyres commented on #2027
Fixed via https://github.com/open-mpi/ompi-release/pull/1348.

[2016-08-31 13:52] #2027 closed

[2016-08-31 13:55] ericch1 commented on #1875
Ok I applied the patch, here is the output from rank 0 now:
<pre>
ERIC DBGX count = 1 on vectors 0x27d4b70 0x27d7820 0x27d3c20
ERIC DBG MPI_Send_init to->requests+0/1(swaits) (0x27d7f50) 0x27d7820 1 -> 2 vpscat.c:2748
ERIC DBG MPI_Recv_init to->rev_rwaits+0/1 (0x27d4510) 0x27d7820 2 -> 3 vpscat.c:2760
ERIC DBGX end count = 3 on vectors 0x27d4b70 0x27d7820 0x27d3c20 /home/mefpp_ericc/depots_prepush

[2016-08-31 14:42] vspetrov opened #2034 "Segfault int MPI_Ireduce with libnbc"
The reproducer code does a single MPI_Ireduce with the MPI_LONG_DOUBLE_INT type and MPI_MAXLOC op (5 ranks).
[code]

[code]

The same bug is reproduced with v1.10.
The code above works for some random rank counts (3,4,9,8) and fails for some others (5,6,7,24).

[2016-08-31 14:55] rhc54 commented on #2030
@sjeaugey Looks like you ran clean last night - can you clarify exactly what you did? Did you just clean the tmp? Or did you also roll back the PMIx 1.1.5 commit?

[2016-08-31 14:56] edgargabriel commented on #1875
Argh, yes I see the problem. It was introduced when we fixed the get_fileview problem reported earlier. The etype is not duplicated anymore if it is a basic datatype. I will provide a patch in a couple of minutes.

That being said, I did originally check the tracefiles that you posted , and did not see any calls to MPI I/O routines.

[2016-08-31 14:57] rhc54 commented on #1875
I very much doubt that ompitrace covered the MPI I/O calls - might be worth extending it. Probably needs to cover other functions added since I last touched it 5-8 years ago.

[2016-08-31 14:58] ericch1 commented on #1875
maybe I misused ompitrace lib:

I did just added it to the link......
What is the good usage of this?

[2016-08-31 15:05] ggouaillardet commented on #1875
@ericch1 can you please give it an other try with romio instead of ompio ?
Just to make sure there is not an other issue

```mpirun --mca io romio314 ...```

[2016-08-31 15:12] ericch1 commented on #1875
Success!!! :)

On 31/08/16 11:06 AM, Gilles Gouaillardet wrote:

[2016-08-31 15:26] artpol84 commented on #1831
@jsquyres need to verify. Will update once done.

[2016-08-31 15:32] rhc54 commented on #1875
ompitrace is intended to provide you with exactly what it did - a list of MPI calls being made by your program. Sadly, it hasn't been maintained over the years as the standard has added new functions, nor was it fully comprehensive at the start. I covered the functions of interest at the time.

[2016-08-31 15:38] artpol84 commented on #1831
I guess that here we face slightly different problem:
![image](https://cloud.githubusercontent.com/assets/7534910/18135199/47516eee-6fcb-11e6-8221-c20b1b485107.png)
Message rate is good for yalla in this measurements - it outperforms cm on small messages.
However we see bandwidth problems when message size grows.
I can reproduce so will do some analysis.

[2016-08-31 15:46] hppritcha commented on #1875
@edgargabriel if you could open a PR on master to fix this @jsquyres and I can better decide whether it should go in to 2.0.1 or wait till 2.0.2

[2016-08-31 15:50] edgargabriel commented on #1875
ok, but it will have to be a custom patch for v2.x, since this part of the code is now in a different location.

The bigger issue that I have is that I *think* I understand what the problem is, but no matter what I try I can not get the reference counter for the datatype get less than one.

[2016-08-31 15:56] hppritcha commented on #2028
I'll do some testing, I'd like to see if yoda is busted over other BTLs - like gni.

[2016-08-31 15:57] hppritcha commented on #2028
Since open shmem 1.3 compliance is going to one of the major features of the 2.1 release, we want for oshmem on as many system configs as possible.  Marking this as a blocker.

[2016-08-31 16:04] sjeaugey commented on #2030
@rhc54 I wouldn't say that. I got rid of some failures (caused by remaining sockets in tmp) but only 2 failures remain : spawn and spawn_with_env_vars. And spawn_multiple timed out too.

I'm still unable to reproduce it outside of the nightly runs however. Working on it.

[2016-08-31 16:07] edgargabriel commented on #1875
Not sure what is the easiest way to provide you a patch to try whether my solution fixes this problem. I have a branch in my private repo git@github.com:edgargabriel/ompi-release.git namely
pr/datatype-refcount-fix

Alternatively, here is the patch (it is actually just a one-liner), it might be easier to apply it manually
diff --git a/ompi/mca/io/ompio/io_ompio_file_set_view.c b/ompi/mca/io/ompio/

[2016-08-31 16:18] rhc54 commented on #2030
how strange...the nightly summary didn't show those failures. Is there a core file you can look at? A line number where those daemons are crashing would really help.

[2016-08-31 16:19] jsquyres commented on #1831
@artpol84 Is this on master, v2.x, or both?  Was this behavior in v2.0.0?

[2016-08-31 16:24] jsquyres commented on #1875
@bosilca @ericch1 I'm guessing you guys don't need the webex I setup for today, then.  I'll send a cancelation.

[2016-08-31 16:35] ericch1 commented on #1875
Great!  It fixes the bug!!!
Hourra! :)

[2016-08-31 16:40] sjeaugey commented on #2030
Some new interesting fact : on my second node, the spawn process are still there, stuck :
[code]
I tried to gstack them. That killed some of the processes, but some others survived and gave me a stack trace :
[code]
I'll kill those remaining processes eventually (they could be the cause of the failures), but if you want me to look at something in particular, please tell me.

[2016-08-31 16:44] artpol84 commented on #1831
this is only in 2.x and here is the substantial reason :):
* [master (good perf)](https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/yalla/pml_yalla.c#L129)
* [v2.x (bad perf)](https://github.com/open-mpi/ompi-release/blob/v2.x/ompi/mca/pml/yalla/pml_yalla.c#L132)

PR: https://github.com/open-mpi/ompi-release/pull/1352

[2016-08-31 16:45] miked-mellanox commented on #2028
@alex-mikheev - could you please comment.

[2016-08-31 16:46] artpol84 commented on #1831
@AndreasKempfNEC thank you once again.

@jladd-mlnx @jsquyres @hppritcha  instead of merging open-mpi/ompi-release#1352 we can pull https://github.com/open-mpi/ompi/pull/1228 and https://github.com/open-mpi/ompi/pull/1840 to the v2.x.

[2016-08-31 16:47] artpol84 commented on #1831
@jsquyres - yes, this behavior is in the v2.0.0

[2016-08-31 16:49] rhc54 commented on #2030
Yeah, I can believe they would be stuck - they are trying to Abort and the daemon is gone, so nobody they can tell. I believe we have solved that since the 1.1 series, but I'll check to ensure we do.

Real question is: why are the orted's crashing? Any chance for a line number from a core file there?

[2016-08-31 16:51] sjeaugey commented on #2030
Still trying to get a core ... worst case, I'll set ulimit in my nightly script.

[2016-08-31 16:56] edgargabriel commented on #1875
great! will file a pr for both master and v2.x in a bit.

[2016-08-31 18:02] jladd-mlnx commented on #2028
@hppritcha @jsquyres We don't maintain Yoda at all and it's very likely that many of the tests fail because the BTLs can't make asynchronous progress or do true one-sided RDMA. MXM and UCX have all of these features. I would suggest we replace Yoda SPML entirely and move to UCX. There is support for multiple transports and eliminates the BTL mess altogether. UCX will be in a near GA state come lat

[2016-08-31 18:10] jladd-mlnx commented on #1875
Interesting.

[2016-08-31 18:13] jsquyres commented on #1831
open-mpi/ompi-release#1352 seems like a good solution for v2.0.1.  The others can wait until v2.0.2.

[2016-08-31 18:17] jsquyres commented on #2028
One of the requirements for OSHMEM to come into the Open MPI code base was that it needs to be able to handle all network types.  AFAIK, UCX does not handle all network types (e.g., portals, usNIC).  As such, Yoda needs to be fixed before v2.1.0 can be released.

[2016-08-31 18:19] jladd-mlnx commented on #2028
I don't know if it's possible to fix it for TCP BTL. We have no knowledge here. This is not a regression.

[2016-08-31 18:20] jladd-mlnx commented on #2028
How does this look on 1.10.3?

[2016-08-31 18:21] hppritcha commented on #2028
I did some spot checking on a Cray XE and get "registration errors" for what looks to be the BSS export portion if I try to use 8 or more PEs:

[nid00060:07656] base/memheap_base_alloc.c:38 - mca_memheap_base_alloc_init() Memheap alloc memory: 270532608 byte(s), 1 segments by method: 2
[nid00060:07656] base/memheap_base_static.c:209 - _load_segments() add: 00601000-00602000 rw-p 00001000 00:0e 251

[2016-08-31 18:23] jladd-mlnx commented on #2028
@hppritcha, can you try on 1.10.3? We don't have access to a Cray.

[2016-08-31 18:54] hppritcha commented on #2028
I've not tried to use the 1.10.x series on Cray in forever and not sure how to configure for it.

But I did a little more digging.  Actually the registration error I'm seeing is specific to GNI and memory registration limitations on XE system.  If I use the tcp btl I'm not seeing the ```memheap_attach_seg``` issues.

I did some more testing using for PEs so there is sufficient GART space to regist

[2016-08-31 18:55] bosilca commented on #1875
Excellent, we finally got an answer to this problem! Thanks @edgargabriel

[2016-08-31 18:57] jladd-mlnx commented on #1875
@edgargabriel just curious; in which commit or ROMIO rollup was this introduced?

[2016-08-31 18:58] edgargabriel commented on #1875
it took me a while but I understand now why this never happened in my tests. ompi_datatype_destroy (what we are using in that function in ompio) explicitely protects against this scenario

--snip--
   if( ompi_datatype_is_predefined(pData) && (pData->super.super.obj_reference_count <= 1) )
        return OMPI_ERROR;
--snip--
that's why it never segfaulted in omio. However, probably different parts

[2016-08-31 19:04] edgargabriel commented on #1875
this is not in ROMIO, but in ompio. It was

io/ompio: file_getview and file_preallocate fixes #1646

And the issue on why we do not duplicate basic datatypes there was that if the user calls file_get_view on the currently set file view, the returned datatype has to be a predefined datatype (if that what he used during file_set_view). If we would duplicate the predefined type, the combiner of that

[2016-08-31 19:05] jsquyres commented on #1875
@edgargabriel Any chance you can get a v2.x PR today / before the nightly snapshot?

[2016-08-31 19:06] edgargabriel commented on #1875
jsut did that on 2.x, will do the master in a minute.

[2016-08-31 19:07] jladd-mlnx commented on #1875
@edgargabriel, sorry, my bad 😊. I fixed the comment.

[2016-08-31 19:07] edgargabriel commented on #1875
no problem :-)

[2016-08-31 19:32] hppritcha commented on #2028
@jsquyres I'm noticing that your setup is hitting an error different from mine
[code]

[2016-08-31 19:40] hppritcha commented on #2028
After discussions with MLNX there is no guarantee that BTL's that don't support true one-sided operations will be able to run open shmem tests successfully.  There will probably be a subset of of tests that work that may work with, for example, the tcp btl, but others likely not.  I think we should document in the README for 2.1 which BTLs we think can support the yoda spml.

[2016-09-01 02:17] #2034 closed

[2016-09-01 04:16] ggouaillardet commented on #2034
Thanks for the report and the test case !

there were two bugs indeed, and they are now fixed.
patches for v2.x and v1.10 are waiting to be reviewed, and in the meantime, you can manually apply them.
they are available at
 - https://patch-diff.githubusercontent.com/raw/open-mpi/ompi-release/pull/1355.patch (v2.x)
 - https://patch-diff.githubusercontent.com/raw/open-mpi/ompi-release/pull/1356.patch

[2016-09-01 06:02] AndreasKempfNEC commented on #1831
@artpol84 Thank you for analyzing and fixing the issue so quickly!

To all of the people participating int his discussion: I apologize again for the initial confusion. I took a few too many shortcuts.

So the original report was, indeed, a different problem that was only coincidentally fixed in one of these commits. What an unfortunate typo, though!

Thanks again!

[2016-09-01 06:27] #2023 closed

[2016-09-01 08:04] alex-mikheev commented on #2028
Actually it complaints about not being able to register memheap:

[nid00060:07656] Error spml_yoda.c:439 - mca_spml_yoda_register() ugni: failed to register source memory: addr: 0xff000000, size: 270532608
[nid00060:07656] Error base/memheap_base_register.c:131 - _reg_segment() Failed to register segment
May be memheap fixed base address 0xff000000 is not good on cray ?

From: Howard Pritchard [ma

[2016-09-01 12:45] ericch1 commented on #1875
Good news: this morning, all of 46 tests that were failing yesterday are now ok!  So the forthcoming 2.0.1 will be compatible "out-of-the-box" with our software!
Thanks to all!
Our tests database (~2200 tests) will still be automatically launched against ompi-release/v2.x branch all nights to ensure fast feedback.

[2016-09-01 13:46] rhc54 commented on #2028
FWIW: on v1.10, most oshmem tests pass on my TCP-only cluster. The ones that fail are of the following form:

[code]
or
[code]
So it looks to me like v2.x has some bug fixes that didn't go back into v1.10, but has some new problems as well.

[2016-09-01 14:11] jsquyres commented on #1875
Sweet!

You might want to blacklist Open MPI v2.0.0 in your configury, just to avoid unexpected user problems.  There should be fairly robust ways to determine Open MPI's version (via `ompi_info` or by checking `OPEN_MPI` and `OMPI_MAJOR_VERSION`, `OMPI_MINOR_VERSION`, and `OMPI_RELEASE_VERSION` in `mpi.h`).

[2016-09-01 14:39] ericch1 commented on #1875
Hehe...

just for "fun" here is what I did:

First verify at compile time the compatible MPIs version with
OMPI_*_VERSION #defines..

Second, because ABI of 2.0.1 is compatible with 2.0.0 and so the user
*could* change the dynamic libs *after* compilation, at runtime I verify
that the compiled version equals the beginning of the constructed string
via MPI_Get_library_version function which is into

[2016-09-01 14:39] ggouaillardet commented on #1875
Or simply blacklist ompio if Ooen MPI 2.0..0 is detected
```mpirun --mca io ^ompio```
or
```export OMPI_MCA_io=^ompio```

[2016-09-01 14:42] rhc54 opened #2040 "Java warnings"
I'm getting a ton of warnings when building the Java bindings:

[code]

I can't seem to find a way to turn these off - any suggestions as to the source of the problem?

[2016-09-01 14:42] ggouaillardet commented on #1875
Btw, if you are running on lustre, romio is used instead of ompio.

I am not saying a workaround is to run on a lustre filesystem, i am just pointing the bug might appear to have been automagically fixed when it is just hidden

[2016-09-01 15:55] hppritcha commented on #2040
what version of javac are you using?

[2016-09-01 17:15] nrgraham23 commented on #2040
What is your configure line?  I do not get these errors.

[2016-09-01 17:18] nrgraham23 commented on #2040
Also, is this for master or the 1.10 series?  Because we fixed an issue where we were getting a ton of warnings on the java bindings, but I don't recall if it was sent to 1.10 too.

[2016-09-01 17:19] rhc54 commented on #2040
This is indeed 1.10, so that may be the problem. Is it possible to get a PR for that change?

Here is how I configure:
[code]

[2016-09-01 17:21] nrgraham23 commented on #2040
Ill verify I get the warnings with 1.10, and if so, send a PR.

[2016-09-01 17:37] sjeaugey commented on #2030
@rhc54 I got a core file. Here is the orted backtrace :
[code]

[2016-09-01 17:52] nrgraham23 commented on #2040
v1.10 is not picking up my java installation.  What do I need to do to make it find it?

[2016-09-01 17:57] rhc54 commented on #2040
I honestly don't know - haven't done anything special myself other than --enable-mpi-java. I have the following java-related packages installed on my CentOS-7 box:

[code]

[2016-09-01 18:00] rhc54 commented on #2030
can you print the value of "msg" and, if not NULL, the contents (*msg)?

[2016-09-01 18:04] sjeaugey commented on #2030
I followed the whole code on line 239 (big macro calling a lot of other macros) but everything seems normal.

Even looking at the assembly, the line where it crashed is :
[code]
%rbp is equal to 0x7fffb6fc9cb0, and the value of -0x30(%rbp) is accessible and equal to 0x30.

I don't get it.

[2016-09-01 18:09] sjeaugey commented on #2030
For reference, the content of msg and msg->msg :
[code]

[2016-09-01 18:19] rhc54 commented on #2030
I see the issue - it was fixed on master. Can you try this patch?

[code]

[2016-09-01 18:22] sjeaugey commented on #2030
Ahah ... I was reading the code of master instead of v2.x. Of course I didn't see the issue. Thanks !

As for the patch, well, since I still didn't figure out how to reproduce the issue ... I cannot really test it.

[2016-09-01 18:24] rhc54 commented on #2030
Okay, I have filed a PR - if you can "review" it, then we can see if it passes MTT

[2016-09-01 19:01] nrgraham23 commented on #2040
I was able to get it to work on one of our linux machines here.  It must be an issue related to Mac, but Ill wait until @hppritcha can take a look at it before opening an issue.

I saw the warnings you were talking about, and it does look like what I fixed almost a year ago in master.  Hopefully there are not so many conflicts with a cherry-pick that its faster to simply redo the work, but Ill get

[2016-09-01 19:02] rhc54 commented on #2040
Thanks!

[2016-09-01 19:21] jsquyres commented on #2030
fixed in open-mpi/ompi-release#1359

[2016-09-01 19:22] jsquyres commented on #1831
fixed in open-mpi/ompi-release#1352

[2016-09-01 19:35] sjeaugey commented on #2030
@jsquyres please wait until tomorrow/friday to close the bug. I couldn't check it actually fixed the bug (because I cannot reproduce the issue). Hence the need to push the fix to v2.x to see if MTT results are better.

[2016-09-01 19:40] jsquyres commented on #2030
Ok.

[2016-09-01 20:34] bosilca commented on #1831
The original issue persist on both master and 2.x.
![figure_1](https://cloud.githubusercontent.com/assets/642701/18183312/c24852e8-7061-11e6-8271-ba4b6661c976.png)

This figures look at the bandwidth reported by NetPIPE and obtained using different versions of Open MPI on a recent Xeon processor. As far as I understand how the process binding works in Open MPI, and assuming there is no bug in rece

[2016-09-01 21:05] gvallee opened #2044 "Compilation problem with atomics on PPC64 and PGI 16.x"
[code]

[code]

All the output from configure and make, as well as config.log, is in the attached file.

[ompi-output.zip](https://github.com/open-mpi/ompi/files/450699/ompi-output.zip)

[2016-09-01 21:20] jsquyres commented on #2044
@sjeaugey @hjelmn can you have a look at this?  Thanks.

[2016-09-02 01:16] gvallee commented on #2044
FYI, I checked with both 16.5 and 16.7 and face that problem with both.

[2016-09-02 02:49] bosilca commented on #2044
Somehow you are using our hand-generated assembly (opal/asm/base/POWERPC64) and this file has not beed updated to include support for swap. I would propose the following patch (not tested as I have no access to a PPC64):

[code]

[2016-09-02 09:21] PHHargrove commented on #2044
I now have PGI-16.7-beta on PPC64el up and running.
I can reproduce a failure similar to Geoffroy's original report of an undefined reference to `swap_64`, but additionally I see undefined references to `ll_64` and `sc_64`:
[code]

The good news is that George's patch resolves the `swap_64` issue.

So if @bosilca (or @hjelmn ?) can provide the POWERPS64.asm bits for LL and SC (32 and 64), then thi

[2016-09-02 10:29] jsquyres commented on #2044
@gpaulsen @jjhursey If this is a POWER-related issue, IBM -- please chime in here.  Thanks.

[2016-09-02 13:02] bosilca commented on #2044
Indeed these functions are also missing from our manually generated assembly file.

[2016-09-02 14:09] hppritcha commented on #2040
Fixed by open-mpi/OMPI-release#1362

[2016-09-02 14:09] #2040 closed

[2016-09-02 14:33] jjhursey commented on #2044
Adding link to this email thread on the issue:
  https://mail-archive.com/devel@lists.open-mpi.org/msg19514.html

[2016-09-02 15:37] hjelmn commented on #2044
Not sure why this should be an issue. Doesn't PGI support inline assembly? If not how did PGI 15.x work for Paul?

[2016-09-02 17:55] PHHargrove commented on #2044
The configure output provided by Geoffroy says it does not.

Because when I responded on the devel list I had totally missed that this was PPC64 and was reporting my success with various PGI versions on x86-64 platforms.

-Paul

[2016-09-02 18:34] hjelmn commented on #2044
@PHHargrove The config.log from the failed run would be useful. We don't have PGI 16.x and probably never will.

[2016-09-02 18:35] hjelmn commented on #2044
nevermind. see there already is one attached to this bug.

[2016-09-02 18:38] PHHargrove commented on #2044
@hjelmn, the compiler Geffroy is using is a free beta for PPC64 little-endian systems.
I can provide you access to a VM (same hosting as I provided once before) where it is already installed.

The configure decision not to use GCC asm is no mystery.
From `config/opal_config_asm.m4`:
[code]

-Paul

[2016-09-02 18:40] hjelmn commented on #2044
@PHHargrove That configury is ancient. It dates back to 2008 or earlier. Might be time to kill it. @bosilca what do you think?

[2016-09-02 18:49] PHHargrove commented on #2044
@hjelmn, independent of re-enabling GCC inline ASM with PGI, I think the missing functions still need to be added to the <ARCH>.asm file(s).  I would not be surprised if `swap` it missing for some other arch as well.

[2016-09-02 18:51] hjelmn commented on #2044
@PHHargrove There has been some discussion about killing the .asm files. I don't think any of the compilers we support fail the inline asm check. Maintenance of the asm files has been non-existent and as you see they are bit-rotting.

[2016-09-02 18:55] hjelmn commented on #2044
From gasnet it looks like asm works after 6.1.1: https://gasnet.lbl.gov/dist/gasnet_asm.h

Am I interpreting that correctly?

[2016-09-02 19:00] PHHargrove commented on #2044
GCC-style inline asm support was first present in 6.1.1 for C and 6.2.2 for C++.
However, if you look in more detail at that same file you will find numerous bugs (6 of them, I think from a quick scan) in that support required work-arounds in GASNet's inline asm.
It looks like all of the asm bugs (that I knew of) were resolved by 10.8.

[2016-09-02 19:03] hjelmn commented on #2044
@PHHargrove Ok, that makes sense. If we put minimum version of PGI 12 we should be in the clear.

I can run tests with PGI 10.9, 12.10, 12.6, 13.10, 13.2, 13.7, 14.10, and 15.10. I should be able to confirm if we even can compile the C99 stuff with 10.9.

[2016-09-02 19:26] jladd-mlnx commented on #2028
FWIW: on 1.10.3 AND 2.0.1 nightly - all of the Houston OSHMEM feature tests complete successfully with Yoda using TCP, SM, openIB, and vader BTLs on up to 16 processes. At this time, I can't reproduce your results @jsquyres.

[2016-09-02 19:48] rhc54 commented on #2028
Here you go - nearly 2000 failures on 2.0.1 with MTT:

https://mtt.open-mpi.org/index.php?do_redir=2350

[2016-09-02 20:34] jsquyres commented on #2030
It looks like Nvidia's COMM_SPAWN issues have been fixed.

[2016-09-02 20:36] jsquyres commented on #2028
Can you try with 32 processes across at least 2 machines?  That's what I'm running.

[2016-09-02 20:46] jladd-mlnx commented on #2028
So, I see part of the issue. It seems *someone* isn't fragmenting correctly. I'm not sure if it's Yoda or TCP BTL, but given that Yoda has been virtually untouched for three years, and there has been significant changes to the BTL structure between 1.10 and 2.0 I'm inclined to point my sniffer on the BTL.

It's dying if the message can't fit into one BTL frag. If I set:

`-mca btl_tcp_max_send_siz

[2016-09-02 20:55] jladd-mlnx commented on #2028
Yep. Frag size is garbage.  It's `-1`.

[code]

[2016-09-02 20:58] jladd-mlnx commented on #2028
I guess when the BTLs moved into OPAL, this field went by the wayside? BTL gurus, what's the correct way to get this info now?

[2016-09-02 21:07] jladd-mlnx commented on #2028
Something is weird here; if I use the `send` path instead of `put`, then all is good i.e. Hmmm. Git blame says the naughty line was added:

`16ae7d97 (Nathan Hjelm        2015-01-08 13:04:58 -0700  122)         *frag_size = bml_btl->btl->btl_put_limit;`

[2016-09-02 21:14] hjelmn commented on #2028
I honestly did the minimum necessary to translate yoda from btl 2.0 -> btl 3.0. Looks like more work is needed to finish the job.

[2016-09-02 21:32] hjelmn commented on #2028
Not on my priority list at all. Do not assign to me.

[2016-09-02 21:33] hppritcha commented on #1698
I think the second approach is better - assuming sufficient time to implement.

[2016-09-02 21:37] hppritcha opened #2049 "v2.0.x: Open BSD 6.0 and patcher problems"
As reported by Paul H., Open BSD 6.0 disallows the patcher code's `mprotect` call.

See https://mail-archive.com/devel@lists.open-mpi.org/msg19527.html

This impacts master and v2.x

[2016-09-02 21:47] nrgraham23 commented on #1698
Upon further reading I have learned that throwing your own exception in the JNI will not return the code immediately to Java land, the C code always finishes running and exceptions are thrown when it returns to Java.

With this is mind, I think the best course of action will be to check the return of ompi_java_exceptionCheck.  If it returns true, do any cleanup and return out of the C code.

Ill w

[2016-09-02 21:47] hjelmn commented on #2028
can give pointers on how btl 3.0 works if needed but really will have no time beyond that.

[2016-09-02 22:40] sjeaugey commented on #2030
Sorry, but they just moved to the "Timed" column.

https://mtt.open-mpi.org/index.php?do_redir=2351

Here is the output of orted :
[code]

[2016-09-02 23:04] rhc54 commented on #2030
That is the output you get when a process abnormally terminates - there should be something else before that indicating what failed

[2016-09-02 23:49] sjeaugey commented on #2030
I don't have any other output. Please also not that esslingen MTT is showing the same exact list of timed out tests (c_reqops, intercomm_create, spawn, spawn_with_env_vars, spawn_multiple).

[2016-09-02 23:53] jladd-mlnx commented on #2028
@hjelmn You touched it. You need to test it, Nathan.

Offending commit
[code]

[2016-09-03 00:15] bosilca commented on #2028
btl_put_limit is a size_t and in the snippet of code above frag_size is an uint32_t. There is clear mismatch that can lead to unexpected fragmentations. @jladd-mlnx can you print the btl_put_limit instead of the *frag_size.

[2016-09-03 02:35] hjelmn commented on #2028
Please update the code to be btl 3.0 compliant. I am generally available to answer questions on the btl interface M-F 9-4 MDT except federal holidays.

[2016-09-03 05:26] siegmargross commented on #1698
Thank you very much for taking care of it.

[2016-09-04 02:47] hppritcha commented on #2030
Move to 2.0.2 since spawn appears to be still broken on 2.x

[2016-09-05 13:53] amckinstry opened #2055 "Compilation fails for powerpc with --enable-mpi-cxx"
Hi,

Enabling --enable-mpi-cxx leads to:

[code]

This fails because in opal/include/opal/sys/atomic.h:

[code]

and _opal_atomic_swap_32_ is conditionally only included if opal_atomic_swap_32 is set

[2016-09-05 23:57] jeffhammond opened #2056 "[feature request] packaging for multiple Fortran compilers"
# Summary

Please support the ability to build Open-MPI Fortran bindings for multiple Fortran compilers in the same build.  This will dramatically improve user experience.

I recognize this is not a small thing to implement, but at least two vendors do this already, and since some vendors use Open-MPI as the basis for their MPI product, it might be the sort of thing that makes sense for the projec

[2016-09-06 02:32] PHHargrove commented on #2049
FYI:

I have confirmed w/ the released 2.0.1 tarball that configuring with `--enable-mca-no-build=patcher` is sufficient to avoid the problem  I can pass `make check` and run `ring_c`, on both i386 and amd64 systems running OpenBSD-6.0

I suggest that a *possible* solution is to have the configure probe for the patcher framework attempt an `mprotect()` call with `prot = PROT_EXEC|PROT_READ|PROT_WR

[2016-09-06 02:51] jeffhammond commented on #2056
@kawashima-fj It sounds like Fujitsu MPI does what users are doing already, meaning recompiling the full library for every compiler toolchain.  Did I misunderstand you?

I was hoping for an implementation that would only compile the Fortran interface faces for every Fortran compiler, but reuse the C object codes for all Fortran compilers, for a single C compiler.

OpenMP might break C ABI compatib

[2016-09-06 04:58] kawashima-fj commented on #2056
@jeffhammond You understood correctly. The mechanism I described is not a solution for you. It's slightly off topic. The merit of the mechanism is mainly for end users, not sysadmins.

My OpenMP description was not related to this topic, sorry. Please ignore it.

[2016-09-06 13:30] jsquyres commented on #2055
@hjelmn Is this related to https://github.com/open-mpi/ompi/pull/2051?

[2016-09-06 13:48] jsquyres commented on #1875
This was fixed in v2.0.1.

[2016-09-06 13:48] #1875 closed

[2016-09-06 13:55] gpaulsen commented on #2055
@nysal - can you or someone on your team look at this?

[2016-09-06 13:58] ggouaillardet commented on #2056
@jeffhammond i think we should decouple end user experience and sysadmin experience.

sysadmins can script openmpi build/install, and run several builds in parallel.
nowadays SSD can store multi TB of data, so as far as i am concerned, i'd rather focus on enduser experience.

an other nice feature to have is the use of a single fortran wrapper that picks the "right" modules and libs.

for example

[2016-09-06 14:42] hjelmn commented on #2055
This isn't PowerPC specific. I used C99 in a header exposed to c++. I need to figure out a way to protect internal headers from c++ until the bindings are removed. will look at this today.

[2016-09-06 15:07] jsquyres commented on #2055
@hjelmn and I chatted on the call today -- he has an interesting proposal to fix this: require a C++11 compiler for the C++ MPI bindings.

My gut reaction is "we can't do that!", but Nathan raises the valid point that the MPI C++ bindings have been removed from the MPI 3.0 spec.  So raising the bar a little to compile the MPI C++ bindings may not be horrible.  Need to think about this a little bit

[2016-09-06 15:27] jsquyres commented on #2049
Per the call today, @artpol84 is going to check to see if Mellanox cares about Open BSD.

[2016-09-06 15:48] artpol84 commented on #1831
Here is our data for the benchmark that we were using for the message rate experiments

![image](https://cloud.githubusercontent.com/assets/7534910/18280651/ff5958c8-7483-11e6-9b95-7699a7f6d666.png)

[2016-09-06 16:42] sjeaugey commented on #2030
@jsquyres @rhc54 would you know who is running MTT at esslingen ? It would be useful to check if they can manually reproduce the issue (since it also appears on their v2.x MTT.).

[2016-09-06 16:44] adrianreber commented on #2030
I am running it. I will try to reproduce it outside of MTT.

[2016-09-06 17:11] rhc54 commented on #2030
I was able to get no-disconnect to hang when run on more than one node, so I can make that happen at-will. I still cannot get any other dynamic test in that suite to fail or hang.

no-disconnect does not hang on master, so this appears to be something specific to v2.x. However, I am getting an error message on master from the TCP btl during finalize at the very end of the test:

[code]

Adding an

[2016-09-06 17:42] jeffhammond commented on #2056
@ggouaillardet It is a user experience issue if the sysadmin users experience is such that the latter does not build every case.  Some sysadmins believe in validating libraries before exposing them to users.  Because we have both observed that C correctness can depend on Fortran, at least when PGI is involved (e.g. http://trac.mpich.org/projects/mpich/ticket/1869), sysadmins need to validate the e

[2016-09-06 18:45] jsquyres commented on #1831
@bosilca Can you post your reproducer scripty-foo that generates those snazzy graphs and whatnot?  That'll save a bunch of time in running those same tests on my platforms over here (so that I can post comparable results here on this issue).

[2016-09-06 18:51] hjelmn commented on #2055
Yeah, if we do C++11 I think it is ok to include any of our internal headers to C++. My understanding is many of the C99 features we use in Open MPI are available in C++11.

[2016-09-06 20:44] jsquyres commented on #2028
FWIW, I added OSHMEM testing to the v2.x branch -- just in case the mempool updates on master are causing issues: https://mtt.open-mpi.org/index.php?do_redir=2354

Short version: I'm seeing similar issues on the v2.x branch:

[code]

[2016-09-06 22:24] #2044 closed

[2016-09-07 01:04] ggouaillardet commented on #2056
if you might need ```MPI_THREAD_MULTIPLE```, then you have to configure with ```--enable-mpi-thread-multiple```, otherwise Open MPI is configured with default ```--disable-mpi-thread-multiple```.
the latter library is a bit faster because some thread related stuff is #ifdef'ed out.
/* and there is some work to make the former library nearly as fast as the latter library */

iirc, Intel MPI does th

[2016-09-07 01:19] thananon commented on #1831
Folks,

I finished bisecting the master and I found the commit. It is 664ecc8f84d47f968e95cc26a51f30f3236d26a1. I tested with both NetPIPE and Artem's benchmark. The result is in the graph below. It will be great if someone can confirm this.

![goodbad](https://cloud.githubusercontent.com/assets/7318806/18296379/46044c90-7477-11e6-83e6-862c0f2ac124.png)

@hjelmn

[2016-09-07 04:39] artpol84 commented on #1831
I guess we also reported that some time ago - when we were actively investigating.

[2016-09-07 04:42] artpol84 commented on #1831
IIRC when I was disabling build-in's the performance was much better. And I guess that I was always measuring with them disabled - that's why I've got good results compared to George's ones.

[2016-09-07 04:43] artpol84 commented on #1831
Right, here is my configure line:
[code]
@hjelmn was aware

[2016-09-07 11:58] jsquyres commented on #1831
Well, this certainly does feel like a smoking gun.  Can we narrow it down a little more / back it up with a narrower view of the data?

Is there a small benchmark that we can run (at a bunch of different sites / on a bunch of different platforms) that compares the built-in atomics with the hand-crafted atomics?

[2016-09-07 15:09] hjelmn commented on #2055
I can't get g++ 6.1 to accept C99 subobject naming. Guess I was wrong that it is supported. Working on another workaround now.

[2016-09-07 15:39] jsquyres commented on #1831
@hjelmn and I just talked about this on the phone.  He helped me understand how OMPI does atomics a bit better.  Basically, at configure time, we choose between 4 different atomics implementations:

1. GCC inline intrinsic atomics (quite similar / related to GCC C++11's atomics).
1. Old-style GCC/ICC `__sync` inline intrinsic atomics.
  * **NOTE:** This should be slower than option 1 because it's

[2016-09-07 20:09] nrgraham23 commented on #1698
After poking around in the code a little more and experimenting with exceptions I discovered that in the case of an exception being thrown from the C code, the assignment operation does not execute.  This means we do not need to worry about an erroneous object being returned to Java land.  With that in mind, I have only altered code where the C code alters existing objects after an exception check

[2016-09-07 23:15] jladd-mlnx commented on #1831
Thanks, Arm!

Do we understand the degradation in performance in going from 1.8.8 to 2.x.
Is this expected? Is it because OpenIB is not thread safe in the 1.8
series?

Josh

On Wed, Sep 7, 2016 at 4:52 PM, Arm <notifications@github.com> wrote:

[2016-09-07 23:19] jsquyres commented on #1831
@thananon Isn't that to be expected?  I.e., `sm`/`vader` have, by far, the lowest latency, so they would be most affected by small changes in overall performance.  The same small changes may not be apparent in other BTLs / transports.

[2016-09-07 23:58] bosilca commented on #1831
@jsquyres there are 2 things in these results. The first graph highlights that today's master when compiled without build-in atomics, see a significant increase in the message rate (with vader). This confirms what @artpol84 said earlier, our change in atomics is responsible for the drop in performance.

Second, we wanted to see if the atomic changes have any impact outside the SM and vader BTLs. @

[2016-09-08 00:36] thananon commented on #1831
@jsquyres Yes, for sm/vader it is a done deal. We found the place where performance degraded. However there's still some performance degradation over IB that is still there and I want to find out why.

@jladd-mlnx I see. That explains a lot. However, this test is single threaded (MPI_Init not MPI_Init_thread) and I'm under the impression that the BTL should not use any lock/atomics if the user req

[2016-09-08 14:05] artpol84 commented on #1831
I discovered problem with yalla inter-node communication.

[2016-09-08 20:26] #1698 closed

[2016-09-08 21:00] bosilca opened #2067 "Out-of-sequence (OOS) messages"
**Short version** Out-of-sequence messages exists in a single link scenario

**Cause** Intermediary buffering at different layers in the software stack allows the delivery of message out-of-sequence

**Target** Most of the BTLs, with a particular emphasis on vader and IB.

**Long version** This issue was raised during the discussion about the performance degradation seem between 1.8 and what will

[2016-09-08 22:09] jsquyres commented on #2067
I marked this as a blocker bug -- just so that we don't miss it when talking about v2.1.0.  I'm not 100% sure that it's actually a blocker, but it does seem like an important performance issue with THREAD_MULTIPLE scenarios containing lots of sending threads.  We can figure out whether this is a blocker for v2.1.0 over time.

[2016-09-08 22:13] jsquyres commented on #2067
One scenario that @bosilca cited to me earlier today is:

1. App calls MPI_ISEND
1. Get MPI sequence number X
1. openib BTL tries to do an inline send, and fails (e.g., out of resources).  So the send goes onto a queue to send later
1. Control returns to the app
1. App calls MPI_ISEND again
1. Get MPI sequence number (X+1)
1. openib BTL tries to do an inline send -- *without checking the "I failed

[2016-09-09 03:14] bosilca commented on #2067
Yes, @thananon has confirmed that a small number of OOS messages exists with vader.

Going back to your example, this is indeed how things unfold in the single threaded scenario. For the multi-threaded case it doesn't have to be MPI_Isend. The OOS only kicks in for the matching fragments, but if you push small messages from multiple threads we have this issue for every send below the eager limit,

[2016-09-09 10:36] jsquyres commented on #1585
All: Facebook has submitted a signed contribution agreement.  Woo hoo!  @pietern tells me that they're working on rebasing the patches, splitting them up, etc.

@pietern When you've got the updated patches ready, you might as well submit them as one or more pull requests (vs. posting more patches on this issue).

[2016-09-09 14:06] jladd-mlnx commented on #2067
@bosilca @thananon  I would like to summarize my understanding of the issue. Please correct me where needed.

1. OOS messages are believed to be the root cause of the observed degradation in message rates between 1.8.8 master/2.x.

2. OOS does not happen in single threaded scenario in the 1.8 series but can, and does, occur, even in a single threaded scenario, in master/2.x.

3. This is the result

[2016-09-11 10:40] astrofrog opened #2068 "DYLD_FALLBACK_LIBRARY_PATH ignored on MacOS X"
I am trying to build OpenMPI using gfortran on a MacOS X, specifically trying to make a [conda](https://github.com/conda/conda) package. In particular, I need to make sure the fortran bindings are included. The gfortran compiler included in conda produces binaries that include an ``@rpath``:

[code]

For other packages, the workaround has been to set ``DYLD_FALLBACK_LIBRARY_PATH`` to the appropria

[2016-09-11 18:37] amckinstry opened #2069 "pkgincludedir not defined in .pc files"
There is a regression in 2.0* packages; the variable ${pkgincludedir} is used in some .pc files (mpi-fort specifically), leading to failures:

$ pkg-config mpi-fort --libs
Variable 'pkgincludedir' not defined in '/usr/lib/pkgconfig/mpi-fort.pc'

Removing the clauses from Cflags that have -I${pkgincludedir}/.. and it works.

[2016-09-12 01:07] ggouaillardet commented on #2069
@amckinstry as fas ar i am concerned, the pc file is called ```ompi-fort.pc``` and __not__ ```mpi-fort.pc```

can you please double check ```/usr/lib/pkgconfig/mpi-fort.pc``` is an Open MPI file ?
if yes, can you please post your ```mpi-fort.pc``` of both ```v1.10``` and ```v2.x``` and you ```configure``` command line ?

[2016-09-12 05:46] ggouaillardet commented on #2068
i was unable to reproduce this

that being said, i had to make a few change to the recipe (e.g. remove requirements for ```perl``` and ```libgfortran```)

i am a newbie to anaconda, so i might have done something wrong during the setup.
i initially installed ```libgfortran``` and ```perl``` from ```conda-forge```, but ```conda build .``` mark them as unavailable. anyway, in installed ```gcc``` fro

[2016-09-12 07:30] amckinstry commented on #2069
@ggouaillardet You are correct; on Debian mpi-fort.pc is an alias to ompi-fort.pc (a similar symlink is used for mpich if it is installed instead).

The underlying file is ompi-fort.pc which has the issue.

./configure --build=x86_64-linux-gnu --prefix=/usr --includedir=${prefix}/include --mandir=${prefix}/share/man --infodir=${prefix}/share/info --sysconfdir=/etc --localstatedir=/var --disable-si

[2016-09-12 08:12] ggouaillardet commented on #2069
i see

fwiw, that would have been hidden you had configure'd without the ```--with-devel-headers``` option
i will look at it from now

in the meantime, can you replace ```${pkgincludedir}``` with ```${{{includedir}}}``` ?
i think this is what went wrong in the first place

[2016-09-12 08:27] amckinstry commented on #2069
Thanks. I'm not sure which of our users or packages avail of these devel headers; from the logs, we've enabled this option in Debian since the beginning.

I have a workaround doing so with sed in the current release, thanks

[2016-09-12 08:45] ggouaillardet commented on #2069
that was not quite right, for the time being, it can be replaced with ```${{{includedir}}}/openmpi```

[2016-09-12 09:03] amckinstry opened #2071 "Hang in PMPI_Neighbor_allgather()"
I have a problem with mpi4py 2.0.0, with OpenMPI 2.0.1 (on Debian).
This is a regression compared to openmpi 1.10.3

mpi4py fails on its test suite (and build) due to the following code:
[code]
(please excuse the print statements). It hangs on the neighbor_allgather(), when the test code is run outside mpiexec (single process).

Debug output:
[code]

I've a debug version of OpenMPI (--enable-debug

[2016-09-12 09:04] ggouaillardet commented on #2056
i made a proof-of-concept at open-mpi/ompi#2070

here is how it can be used

[code]

and then you can use ```mpifort``` if you want to use the GNU compiler, and ```mpiifort``` if you want to use the Intel compiler

note
- for the time being, you have to configure with ```--disable-oshmem``` because there is a single oshmem lib (and not two for C and Fortran)
- yes, you have to build twice (````con

[2016-09-12 09:19] astrofrog commented on #2068
@ggouaillardet - thanks for the quick reply! First, a quick note regarding:

I forgot to include the following step in the steps to reproduce the issue:

[code]

This needs to be done before ``conda build .`` so that the build process recognizes the conda-forge channel. Could you try with this to see if you can reproduce the issue? So basically you should do:

[code]

Now I tried the suggested pat

[2016-09-12 09:23] astrofrog commented on #2068
Huh but a.env should contain the environment variable... I'll try and investigate further.

[2016-09-12 09:32] astrofrog commented on #2068
This is puzzling - I did:

[code]

in ``build.sh`` and I get:

[code]

In other words, ``env`` doesn't show ``DYLD_FALLBACK_LIBRARY_PATH``

[2016-09-12 09:46] ggouaillardet commented on #2068
I could admit that for security reasons this variable cannot be exported.
But in that case, you should not be able to run a.out in the first place ...

Can you write a dumb a.sh script that simply invokes a.out, and then
export DY_LD...
./a.out
./a.sh

Do you get a consistent result ?
e.g. both success or both fail ?

[2016-09-12 09:47] astrofrog commented on #2068
By the way, I changed the patch you suggested to instead do ``echo \$DYLD_FALLBACK_LIBRARY_PATH`` inside the configure script, and it returns an empty string. However, if I look at that variable before running ``configure``, it is there.

[2016-09-12 09:55] ggouaillardet commented on #2068
Well, if you echo, you do not fork&exec and build.sh does the meta expansion.
So strictly speaking
echo $xxx
is different from
env | grep '^xxx='
(And we know here you did not omit to export the variable)
Maybe a security feature is that the variable is dropped as soon as the libs are resolved,
But i do not see that in my environment which is an uptodate yosemite.

btw, can't you simply use LD_LIB

[2016-09-12 10:33] ggouaillardet commented on #2068
Well, if you echo, you do not fork&exec and build.sh does the meta expansion.
So strictly speaking
echo $xxx
is different from
env | grep '^xxx='
(And we know here you did not omit to export the variable)
Maybe a security feature is that the variable is dropped as soon as the libs are resolved,
But i do not see that in my environment which is an uptodate yosemite.

btw, can't you simply use LD_LIB

[2016-09-12 10:54] astrofrog commented on #2068
@ggouaillardet - the weird thing is that this has not been an issue for e.g. mpich and hdf5 (both of which required setting ``DYLD_FALLBACK_LIBRARY_PATH`` to be set for configure to work, hence why I thought maybe openMPI is doing something different with configure. ``LD_LIBRARY_PATH`` is also set (see initial description of issue) but that doesn't seem to work.

[2016-09-12 10:58] ggouaillardet commented on #2068
Can you re-build mpich on your system right now ?
I have hard time understanding how this can be related to Open MPI

[2016-09-12 12:11] ggouaillardet commented on #2071
can you please give a try to the patch available at https://github.com/open-mpi/ompi-release/pull/1368.patch
open-mpi/ompi-release#1368 was unfortunatly not ready in time for v2.0.1

[2016-09-12 13:09] amckinstry commented on #2071
Thanks, this fix solves the issue

[2016-09-12 13:09] #2071 closed

[2016-09-12 16:55] hppritcha opened #2072 "Need PMIX1.2.1 for v2.1 release"
This issue tracks getting PMIX2 in the v2.1 release.  The shared memory dstore is an important feature when trying to support 100's of MPI processes on a single node.

[2016-09-12 19:25] hppritcha commented on #2072
per discussion in Dallas this is being marked as a blocker.

[2016-09-12 20:39] jsquyres commented on #2069
FWIW, there's some oddness going on in there, too -- I see it adding `-I/usr//include`, which is a Bad Idea.  Perhaps our path sanitization is not being applied correctly (or at all?) to the `*.pc` files...?

I'm also unable to replicate the error, even if I use `--with-devel-headers`.

[2016-09-13 01:00] ggouaillardet commented on #2069
open-mpi/ompi@628c730196d8fb566c142bf4e09f8f38c2406fb7 fixes the ```pkg-config``` error

```/usr//include``` and ```/usr//lib``` are in the path, please do note the double slash.

from the configure command line
```--with-hwloc=/usr/ --with-libltdl=/usr/```
please do also note the trailing slash in ```/usr/```

@amckinstry is there any reason not to simply use ```/usr``` here ?
if you use ```/usr`

[2016-09-13 02:44] bosilca commented on #2067
@jladd-mlnx no, no and no. I clearly stated in my original post that this has nothing to do with the performance degradation between 1.8 and 2.x, for which we have already identified the root cause. Let me try to be even more clear on the technical details.

In a single threaded case, in an injection rate scenario, some of the messages are delivered out of order. This small number of OOS messages,

[2016-09-13 03:12] artpol84 opened #2075 "Signal forwarding is broken in ompi-release"
I'm seeing litter on our jenkins server. The reason is that timeout signal is not properly propagated to the application processes in v2.x. The following example hangs:

[code]

master is not affected:

[code]

[2016-09-13 04:25] ggouaillardet commented on #2069
@amckinstry a full fix for v2.x is available at https://patch-diff.githubusercontent.com/raw/open-mpi/ompi-release/pull/1372.patch

you do not need to update your Open MPI configure command line
e.g. keep  ```--with-hwloc=/usr/ --with-libltdl=/usr/```) so you can confirm there is no more
reference to ```/usr//include``` nor ```/usr//lib``` in the ```*.pc``` files

as a side notes,
- since ```hwloc

[2016-09-13 09:02] ggouaillardet commented on #2068
@astrofrog
i found this link : http://apple.stackexchange.com/questions/212945/unable-to-set-dyld-fallback-library-path-in-shell-on-osx-10-11-1

so basically, both ```DYLD_FALLBACK_LIBRARY_PATH``` and ```LD_LIBRARY_PATH``` are reset after fork ... and this is a feature of El Capitan.
mpich cannot be build on this arch, see my logs at https://travis-ci.org/open-mpi/ompi/jobs/159506106

i was able t

[2016-09-13 09:06] astrofrog commented on #2068
@ggouaillardet - ah, thanks for looking into it and for the fix! Feel free to close this.

[2016-09-13 10:16] amckinstry commented on #2069
@ggouaillardet We use prefix=/usr but includedir, libdir are different.
-L/usr//lib and -L/usr//lib (and -rpath) show up redundantly in the Libs and Includes.

prefix=/usr
exec_prefix=${prefix}
includedir=${prefix}/lib/openmpi/include
libdir=${prefix}/lib/openmpi/lib

Libs: -L${libdir} -L/usr//lib    -Wl,-rpath -Wl,/usr//lib -Wl,-rpath -Wl,${libdir} -Wl,--enable-new-dtags -lmpi_usempif08 -lmpi_use

[2016-09-13 10:17] amckinstry commented on #1705
Hi,
Is it likely that this was fixed in 2.0.* ?
I have not been able to reproduce on powerpc, currently re-testing on mipsel with 2.0.1

[2016-09-13 11:41] ggouaillardet commented on #2069
according to @jsquyres there should not be any /usr/include nor /usr/lib.
that happened because configury did not treat /usr/ like /usr, and this is fixed in the patch.
(or you can use /usr instead of /usr/ in your configure command line, so current configure handle it correctly)

if you use /opt instead, that might appear more than once, and even if this is harmless, that is unelegant. i will als

[2016-09-13 11:49] ggouaillardet commented on #2072
btw, is this feature working on master now ?
It was disabled because it broke MPI_Comm_spawn, and i do not recall that has been fixed

[2016-09-13 15:04] #2069 closed

[2016-09-13 15:18] hppritcha commented on #2049
Mellanox does not care about Open BSD - per discussion devel telecon

[2016-09-13 15:19] jsquyres commented on #2049
@hjelmn Will add some kind of disabling for the patcher on Open BSF 6.0 systems.

[2016-09-13 15:19] hppritcha commented on #2030
I was not able to reproduce this problem using uGNI BTL.

[2016-09-13 15:25] artpol84 commented on #2075
Let me double-check this

[2016-09-13 17:31] jsquyres commented on #2030
Per the call today:

For the TCP segv, @hjelmn thinks that the items are being removed from the list twice (e.g., in the destructor) in debug builds.  That will fix the segv.  He just filed #2077 to fix this.

But there's also a hang issue that is not yet been fully diagnosed.  Suggestion:

1. Let's finish the process of:
    1. Make the 2.0.x branch
    1. Merge in a bunch of v2.1 PRs into the 2.

[2016-09-14 18:37] nrgraham23 opened #2080 "MPI_Compare_and_swap failing on master"
MPI_Compare_and_swap is currently failing on master.  There is no C test for this method which is probably why it has not been noticed yet.  The issue was reported by @gundramleifert on the ompi-users mailing list: https://www.mail-archive.com/users@lists.open-mpi.org/msg29988.html who found it while running the Java tests.

I pulled the C test I used to make the Java test and got the following ou

[2016-09-14 18:40] nrgraham23 opened #2081 "CReqops.java test failing on master"
The java test CReqops.java is currently failing on master.  The issue was reported by @gundramleifert on the ompi-users mailing list: https://www.mail-archive.com/users@lists.open-mpi.org/msg29988.html

[2016-09-15 14:49] #2080 closed

[2016-09-15 16:18] nrgraham23 commented on #2081
This issue was referenced incorrectly, re-opening it.

[2016-09-15 18:12] jjhursey opened #2086 "PGI 16.9-beta ASM error (ppc64le)"
Build fails when using the PGI 16.9-beta compiler on ppc64le:
[code]

PG 16.7-beta does not have this problem.

I suspect our ASM might need an adjustment.
Might be related to #2044

[2016-09-15 18:42] hjelmn commented on #2086
This is a nastly little bug. I used "+m" (*v) to indicate that the location pointed to by v is both read and written by the asm. This should be valid. For some reason with PGI 16.9 it doesn't like the "+m" constraint. It does, however, work with "=m" which is a little weaker. I think we are covered on the input constraint via "r" (v). I am not entirely sure but the 32-bit atomics just use "=m" any

[2016-09-15 18:53] hjelmn commented on #2081
Thought I had fixed that, sorry!

[2016-09-15 18:54] hjelmn commented on #2081
Hah, fixed in the commit but merging the PR caused it to close! Good to know.

[2016-09-15 19:33] nrgraham23 commented on #2081
No problem.  The issue was with the test, not the Java bindings.  The window size was being set as the number of processes, but it needs to be at least size 4 in parts of the test.  As soon as I bend git to my will I'll have a PR up to fix this.

[2016-09-15 19:38] #2086 closed

[2016-09-15 19:52] #2081 closed

[2016-09-16 11:21] ggouaillardet commented on #2068
this has been diagnosed as a new "El Capitan" feature, and this is independent of Open MPI

closing this issue

[2016-09-16 11:21] #2068 closed

[2016-09-20 16:16] jsquyres commented on #2028
Per lots of discussion on the [2016-09-20](https://github.com/open-mpi/ompi/wiki/WeeklyTelcon_20160920) and [2016-09-13](https://github.com/open-mpi/ompi/wiki/WeeklyTelcon_20160913) weekly teleconfs, assigning this issue to Mellanox.

[2016-09-20 22:00] jsquyres commented on #1869
@hjelmn Is this issue now resolved?

[2016-09-21 02:11] jsquyres commented on #663
This has been merged in to the v2.1.0 branch and will be included in the v2.1.0 release.

[2016-09-21 02:11] #663 closed

[2016-09-21 08:09] bertwesarg opened #2097 "OSHMEM has no C++ wrapper compilers"
Because of the missing `oshCC` wrapper I tried to compile a C++ SHMEM program with the `oshcc` wrapper, but this failed. I converted the `./examples/hello_oshmem_c.c` to C++:

[code]

Running with `oshcc` gives me:

[code]

Please note that you advertise `oshCC` in your `README`.

[2016-09-21 11:46] bosilca opened #2100 "Fix MT race condition"
Cherrypick 131fe42d to 2.x

[2016-09-21 13:00] ggouaillardet commented on #2097
Thanks for the report, i will take a crack at it

[2016-09-21 14:15] jsquyres commented on #2100
@bosilca ...and 2.0.x, right?

[2016-09-21 14:22] bosilca commented on #2100
Yes, we need this on both.

[2016-09-21 14:30] #2009 closed

[2016-09-21 14:33] jsquyres commented on #2097
I think the fact that a wrapper for the C compiler can't compile a C++ program is not surprising.

I think you're really reporting the lack of an OSHMEM wrapper for the C++ compiler, right?

[2016-09-21 14:36] ggouaillardet commented on #2097
yep, we need ```{shmem,osh}{c++,cxx,CC}``` wrappers
there is no c++ bindings for oshmem, but we need a wrapper that invokes the C++ compiler

[2016-09-21 16:44] ggouaillardet commented on #2097
i made #2102 , still need to be finalised, but at least, i could compile the example with ```oshc++```

[2016-09-21 18:44] bertwesarg commented on #2097
Thanks. I suggest to add the C++ shmem example.

[2016-09-22 10:24] jsquyres commented on #2075
I think there was some discussion about this (on the weekly call? on devel? ...I'm afraid I don't recall offhand) that this might not be correct because we have never forwarded SIGSEGV.

@artpol84 Were you able to double check this?

[2016-09-22 10:32] jsquyres commented on #2025
@hjelmn You made mention that you were going to update the request callback function.  Have you had a chance to do so?

[2016-09-22 10:35] jsquyres commented on #2030
Update on where we are on this issue:

* #2077 has been merged (the TCP BTL fix)
* Item 1 has been finished (make v2.0.x branch, merge a bunch of v2.1 PRs, ...etc.)
* Item 2 has not been finished: see #2072

[2016-09-22 10:37] jsquyres opened #2106 "v2.1.x: Open BSD 6.0 and patcher problems"
Filing a duplicate issue to #2049 for v2.1.0 (it's a blocker on v2.0.2, so it needs to be a blocker on v2.1.0, too).

-----

As reported by Paul H., Open BSD 6.0 disallows the patcher code's mprotect call.

See https://mail-archive.com/devel@lists.open-mpi.org/msg19527.html

[2016-09-22 12:28] artpol84 commented on #2075
Not yet, Jeff.

2016-09-22 17:24 GMT+07:00 Jeff Squyres <notifications@github.com>:

--
С Уважением, Поляков Артем Юрьевич
Best regards, Artem Y. Polyakov

[2016-09-22 14:41] jsquyres opened #2109 "v2.1.0: OSHMEM v1.3 API updates"
Just filing a blocker issue for tracking.

There's PRs on ompi-release that do what is needed -- they need to be re-opened on the ompi repo (and potentially rebased):

* https://github.com/open-mpi/ompi-release/pull/1041
* https://github.com/open-mpi/ompi-release/pull/1329
* https://github.com/open-mpi/ompi-release/pull/1330

I don't know if https://github.com/open-mpi/ompi/pull/2103 is intended f

[2016-09-22 15:13] jsquyres commented on #2072
Per discussion with @rhc54 this morning, there is still some development work occurring for PMIx 2.0.  After that is complete and merged to master, then it can be ported to v2.1.0.

[2016-09-23 01:31] jjhursey commented on #2072
@rhc54 Which branch of PMIx is tracking the PMIx 2.0 effort? I found three references to v2.x in the PMIx set of repos:
 * https://github.com/pmix/master/tree/v2.x
 * https://github.com/pmix/releases/tree/v2.x
 * https://github.com/pmix/releases/tree/release/v2.x

I would be interested in helping test.

[2016-09-23 01:54] rhc54 commented on #2072
I've been shifting the release tree over to the master repo, just as we did for ompi. However, I can't say for certain that I have it fully up-to-date. I'll get things squared away tomorrow

[2016-09-23 11:04] #1934 closed

[2016-09-23 15:23] rhc54 commented on #2072
@jjhursey I have consolidated the PMIx release branches into the pmix/master repo, and all branches over there are now up-to-date.

[2016-09-23 17:06] bosilca opened #2114 "Add support for local addresses to the TCP BTL"
Cherrypick 93fa94f9 in 2.0.

[2016-09-23 17:07] bosilca opened #2115 "Add support for local addresses in BTL TCP"
Cherrypick 93fa94f9.

[2016-09-23 22:05] nrgraham23 opened #2116 "Java MPI.Finalize() seems to be periodically failing."
A number of the Java tests are failing periodically when run with 8 ranks.  They seem to work fine with 2 ranks (or perhaps the issue is less likely to surface with fewer ranks).

Thanks to  @gundramleifert for finding and reporting the issue.

[2016-09-26 07:08] bertwesarg commented on #2097
I don't know if this changes anything, but Open MPI already utilized `std::complex` when compiled with a C++ compiler. Though because of the missing C++ wrapper, this could not be utilized by the user.

[2016-09-26 11:39] ggouaillardet commented on #2097
@bertwesarg I am not sure I understand, but I do not understand much of c++ anyway

mpic++
1. Use a c++ compiler (e.g. g++)
2. Links with the c++ MPI library (e.g. libmpicxx.so) that contains the C++ bindings

Though oshmem has no c++ bindings (e.g. no libosmemecxx.so), a c++ compiler must be use to compile c++ source files, hence the need for a new wrapper.

Strictly speaking, you only need the C

[2016-09-26 12:28] bertwesarg commented on #2097
The C++ wrapper is needed to use the correct compiler diver to do the linking. Thus your trick with `OPAL_CC=g++ oshcc` should work.

My intention with this comment was more, that Open MPI already has more _C++ support_ in SHMEM, than only the mention of `oshCC` in the README. As there are the `shmem_complexf_*_to_all` functions, which use `std::complex` as there arguments. So this may be an indic

[2016-09-26 12:34] ggouaillardet commented on #2097
Got it, thanks

I will double check that as well

[2016-09-26 12:46] ggouaillardet commented on #2097
At first glance, that looks like a hack to trick C++ applications
No C++ compiler is used to build oshmem and ```std::complex``` is hence never used in ```liboshmem.so```

As a side note, we should probably cleanup ```oshmem_info```
(e.g. remove reference to C++ bindings and Fortran ```usempi``` and ```usempif08``` flavors)

[2016-09-26 14:30] thananon commented on #2067
Additional information after some test in **_single threaded_** case.

|BTL|OOS|
|---|:--:|
|SM|0|
|TCP|0|
|Vader|63|
|OpenIB|39|

[2016-09-26 22:10] bosilca commented on #1654
This issue, if it was ever really solved, seems to be back in OMPI 2.0.1 (which has all the patches related to this issue the master has).

Here is the bt of one thread:

and the bt of the other one.

As originally reported they try to cross-lock mutexes, and bad things happen.

[2016-09-27 09:48] artpol84 commented on #2109
open-mpi/ompi-release#1329 is backed up by #2127

[2016-09-27 09:49] artpol84 commented on #2109
open-mpi/ompi-release#1041 is backed up by #2095

[2016-09-27 10:06] artpol84 commented on #2109
open-mpi/ompi-release#1330 is backed up by 2128

[2016-09-27 10:14] artpol84 opened #2129 "OMPI/v2.x is missing pmix2x component"
As far as I recall there was an agreement that OMPI v2.1.0 will have PMIx v2.0.
However not this is not a case:
https://github.com/open-mpi/ompi/tree/v2.x/opal/mca/pmix

We need to identify proper commits and port them from master.

[2016-09-27 10:17] artpol84 commented on #2129
@rhc54 @jladd-mlnx @jsquyres @hppritcha

[2016-09-27 13:29] jladd-mlnx commented on #2129
Closing this. Duplicates https://github.com/open-mpi/ompi/issues/2072

[2016-09-27 13:29] #2129 closed

[2016-09-27 14:40] jsquyres commented on #2109
@artpol84 Thanks for the tracking!

[2016-09-27 15:58] jjhursey commented on #2072
Ref https://github.com/pmix/master/pull/141

Timeline (rough - certainly up for discussion):
 * Get that PR into PMIx `master`
 * Update Open MPI `master` **internal PMIx component**
 * Test via MTT
 * Once clean in MTT, then cherry-pick PR into PMIx `v2.x` branch
 * Roll a `v2.0rc1` release
 * Test the `v2.0.rc1` in Open MPI `master` with the **external PMIx component**
 * Iterate on any new issu

[2016-09-27 17:09] jsquyres commented on #1848
Re-opening to track this for v2.0.2 and v2.1.0.

[2016-09-28 17:10] jijo733 commented on #812
MPI_T_pvar_get_index() returns ZERO for all valid variable names.

[2016-09-30 17:49] sjeaugey opened #2141 "rcache/gpusm compile error on v2.x"
MTT build error on v2.x :
https://mtt.open-mpi.org/index.php?do_redir=2359

It seems includes are missing but the changes are so big it's not clear to me how this should be fixed.

`In file included from rcache_gpusm_module.c:41:0:
../../../../opal/mca/rcache/base/base.h:44:22: error: unknown type name ‘mca_base_framework_t’
 OPAL_DECLSPEC extern mca_base_framework_t opal_rcache_base_framework;`

[2016-10-01 02:48] hjelmn commented on #2141
Not surprised. We merged hoping MTT would catch these and it did :). Will take a look and see if this is a missing commit or merge error.

[2016-10-02 19:48] amckinstry opened #2147 "openmpi 2.0 breaks when run as root"
OMPI 2.0 breaks if run as root, failing in PMIX.
This is a regression compared to 1.10.3 ; is it expected bahaviour?

This breaks test suites for us, as by default they are run as "fakeroot".

|(unstable-amd64-sbuild)mba@hartree:/$ OMPI_MCA_orte_rsh_agent=/bin/false
|fakeroot pw.x
|[hartree:10002] PMIX ERROR: INVALID-CREDENTIAL in file
|src/server/pmix_server_listener.c at line 540
|[hartree:10001

[2016-10-03 01:37] ggouaillardet commented on #2147
@amckinstry the issue is (so to speak) ```fakeroot```

from ```validate_cred``` in  ```opal/mca/pmix/pmix112/pmix/src/sec/pmix_native.c```

```getsockopt (peer->sd, SOL_SOCKET, SO_PEERCRED, &ucred, &crlen);```

my understanding is that ```fakeroot``` tricks the processes into believing they are ran as ```root```,
as such,  ```orted``` expects a connection from ```root``` (e.g. ```ucred.uid``` is `

[2016-10-03 13:39] tjcw opened #2150 "'nonblocking' BVT test fails"
I'm trying to run the MPICH BVT tests ( available as part of the MPICH source code ) under OpenMPI, and I find 2 of them fail. One of them is 'nonblocking.c'
  - https://gist.github.com/tjcw/530ba5bb593a0f480b08de89d0497dc6
 which fails with today's git clone of OMPI with the following message

[code]

[2016-10-03 13:42] tjcw opened #2151 "'nonblocking3' BVT test fails"
This is the second of the MPICH BVT tests which fails with today's 'git clone' of OMPI.
- https://gist.github.com/tjcw/530ba5bb593a0f480b08de89d0497dc6

It fails with the following message

[code]

[2016-10-03 13:44] tjcw commented on #2151
The 'gist' for this problem is here <script src="https://gist.github.com/tjcw/530ba5bb593a0f480b08de89d0497dc6.js"></script>

[2016-10-03 13:48] tjcw commented on #2151
[nonblocking3.zip](https://github.com/open-mpi/ompi/files/506351/nonblocking3.zip)

[2016-10-03 13:50] tjcw commented on #2151
Trying again with the 'gist' for this problem

[https://gist.github.com/tjcw/530ba5bb593a0f480b08de89d0497dc6](url)

[2016-10-03 13:52] tjcw commented on #2150
[nonblocking.zip](https://github.com/open-mpi/ompi/files/506355/nonblocking.zip)
GIST here [https://gist.github.com/tjcw/3959abbe7407febc9a9df59a51957c4a](url)

[2016-10-03 14:42] amckinstry commented on #1705
Closing issue as no longer reproducible

[2016-10-03 14:42] #1705 closed

[2016-10-03 14:43] amckinstry commented on #1393
Closing this as no longer an issue.

[2016-10-03 14:43] #1393 closed

[2016-10-03 15:09] ggouaillardet commented on #2150
can you please double check your source file ? or post a link to mpich git
i do not see any MPI_Ialltoall in the gist nor mpich nonblocking.c nor nonblicking3.c

[2016-10-03 15:10] ggouaillardet commented on #2151
can you please double check your source file ? or post a link to mpich git
i do not see any MPI_Ialltoallw in the gist (broken link) nor mpich nonblocking.c nor nonblicking3.c

[2016-10-03 15:18] tjcw commented on #2150
I have corrected the gist link in my comment above; I think it is right now. The failing line is the MPI_Ialltoall at line 143 :
fprintf(stderr, "First Ialltoall is complete\n") ;
    MPI_Ialltoall(MPI_IN_PLACE, -1, MPI_DATATYPE_NULL, rbuf, NUM_INTS, MPI_INT, comm, &req);
    MPI_Wait(&req, MPI_STATUS_IGNORE);

[2016-10-03 15:22] tjcw commented on #2151
I think I have fixed the 'gist' link now.

[2016-10-03 15:40] ggouaillardet commented on #2151
thanks, i will have a look at it
btw, how many MPI tasks are you running ?
can you also please post yoyr configure command line ?

[2016-10-03 15:47] tjcw commented on #2151
This was with 2 MPI tasks. I configured with './configure' .

[2016-10-03 16:46] hppritcha commented on #2067
Is this really a blocker for 2.1.0?   Is anyone working on a fix?  It would need to come soon or else we'll need to reset the milestone.

[2016-10-03 16:48] jsquyres commented on #2150
@tjcw Github pro tip: use three single-tick marks before and after blocks of text that you need to render as verbatim: https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2016-10-03 16:48] jsquyres commented on #2151
Is this a duplicate issue of https://github.com/open-mpi/ompi/issues/2150?

[2016-10-03 16:56] thananon commented on #2067
If we want 2.1.0 to be multithreaded-efficient, we might need it as you can see, the performance is affected a lot. I will keep on reporting and let you guys decide on the milestone.

Right now the data is pointing towards individual BTL. I'm investigating further. The solution might be as easy as disable inline send. Will report back.

[2016-10-03 19:54] hppritcha commented on #2030
This may not be fixed in 2.1.0 if we go with external pmix2 solution.

[2016-10-03 20:00] jsquyres commented on #1654
@hjelmn I think @bosilca is saying that ab8ed177f503d3c550b51ad981266f40ff53b610 didn't fix the issue.  Can you have a look?

[2016-10-03 20:20] hjelmn commented on #2067
@thananon I expect some OOS messages from vader when switching protocols. Might be worth setting the fast box limit to 1 and measuring after the transition. Should be 0 and if not I need to fix something.

[2016-10-03 20:27] hjelmn commented on #2067
Hmm, i do see a case I am not properly checking which can lead to OOS messages under heavy load. Working on a patch for you to test.

[2016-10-03 20:42] corburn opened #2153 "Update documentation link"
The link on the first line of this page points to the ompi-release repository instead of ompi:
https://www.open-mpi.org/software/ompi/v2.0/

[2016-10-03 20:44] hjelmn commented on #2067
@thananon See if this makes a difference for vader:

[code]

[2016-10-03 23:03] nrgraham23 commented on #2116
@hppritcha and I looked at this today and the error seems to be that MPI.Finalize() fails from time to time.  We saw a seg fault with as few as 2 ranks, and in multiple different tests (not just the one sided ones).

[2016-10-04 00:04] ggouaillardet commented on #2151
@jsquyres these are two distinct issues, i can reproduce both and am now on it

[2016-10-04 00:24] ggouaillardet commented on #2151
@tjcw the issue here is we do not support (yet) ```MPI_Op_free``` until the non blocking request has completed

[2016-10-04 00:24] ggouaillardet commented on #2150
@tjcw the issue here is we do not (yet) support ```MPI_IN_PLACE``` with ```MPI_Ialltoall*```

[2016-10-04 04:05] hjelmn commented on #2067
I tested my patch on a Mac and it improved the 1-byte message injection rate by ~ 50%. There is a problem with larger messages (1k-16k). I am working on a fix for that. Hoping to have the fix ready some time tomorrow. It doesn't address the multi-threaded OOS problem but it will help somewhat.

[2016-10-04 09:50] tjcw commented on #2150
Where is the code that turns away this case ?
I'm working with an IBM-written collectives library which would perform MPI_Alltoall* with MPI_IN_PLACE; if I could get OMPI to pass this call through, then more of my tests would pass.

[2016-10-04 10:39] ggouaillardet commented on #2150
This is in ompi/mpi/c/ialltoall*.c

[2016-10-04 11:57] ggouaillardet commented on #2150
@tjcw this test has been here forever or so, and i cannot find any rationale for that.
I will double check the standard, and fail in libnbc instead, so your proprietary mdule should be fine within a few days

@bosilca @hjelmn any recollection of why ompi fails with ialltoall* with MPI_IN_PLACE ?

[2016-10-04 12:24] tjcw commented on #2150
I disabled the arg checking in ialltoall*.c, and the test case got a little further. The remaining failure is in MPI_Ialltoallw; MPI_Ialltoallw(sbuf, scounts, sdispls, types, rbuf, rcounts, rdispls, types, comm, &req); causes a SEGV as follows
'''[1,0]<stderr>:[ibmgpu01:15662] *** Process received signal ***
[1,1]<stderr>:[ibmgpu02:29495] *** Process received signal ***
[1,0]<stderr>:[ibmgpu01:156

[2016-10-04 12:34] #2153 closed

[2016-10-04 12:34] jsquyres commented on #2153
@corburn Thanks for reporting!

[2016-10-04 12:45] ggouaillardet commented on #2150
Did you also remove the test from ialltoallw.c ?
I suggest you configure with
--enable-debugg
So you can get a stack trace and a line number.
Btw, do the types array contain any NULL pointer ? That could cause a crash

[2016-10-04 12:59] tjcw commented on #2150
No, I hadn't removed the test from ialltoallw.c . After I did this, I got a SEGV and a traceback
[code]
The types array doesn't have any NULL elements; the args are initialised in the test case as
[code]
The IBM proprietary library doesn't have an implementation for MPI_Ialltoallw, so we are hoping that the OMPI implementation will work ...

[2016-10-04 13:08] ggouaillardet commented on #2150
Do you pass MPI_IN_PLACE to MPI_Ialltoallw ?
If yes, that cannot work yet, but it should not crash if the test is not removed...
As a side note, displacements are in bytes for MPI_Ialltoallw
MPI_Ialltoallv uses units of type instead

[2016-10-04 13:40] tjcw commented on #2150
The crash occurs in the first call to MPI_Ialltoallw, which doesn't use  MPI_IN_PLACE.

[2016-10-04 13:59] ggouaillardet commented on #2150
Are you runnng on ppc64 ?
sdisps and rdisps are incorrect for MPI_Ialltoallw, and cause access to unaligned int.
That should be fine on x86_64, but will crash alignment sensitive arch such as sparc.
IIRC, ppc64 is sensitive, and I do not know about ppc64le

[2016-10-04 14:45] abouteiller opened #2158 "Incorrect binding/hostfile with 2.0.1"
In 2.0.1, the following error happens when running with a default hostfile, but specifying an explicit hostfile on the command line. On this machine, we have 2 sockets, with 20 slots (slots=20 in the hostfile). The number of slots is incorrectly reported during the binding (but is correct afterwards).

This error is not present in master, so a fix may just need to be back ported.

[code]

If overs

[2016-10-04 15:44] hppritcha commented on #2067
removing blocker label for this per discussion at 10/4/16 devel con call

[2016-10-04 16:19] bosilca commented on #2150
MPI 3.1 standard clearly states that the count should be a non-negative integer, and this independently on the datatype. This is true for all MPI calls, including collectives (MPI_Ialltoall is at page 206). I would consider the test as wrong.

To be entirely honest I am not a fan of allowing the use of MPI_DATATYPE_NULL on calls where the process is supposed to receive data (even when the count is

[2016-10-04 16:24] jsquyres opened #2159 "Audit OB1 + BTLs for multi-threaded out-of-sequence performance degredation"
Per #2067, it seems like there might be optimizations (and/or some level of re-design) regarding how message / frag sequencing is done in ob1 to better handle multiple threads invoking MPI sends simultaneously (in an MPI_THREAD_MULTIPLE sense) to avoid the performance degradation associated with out-of-sequence scenarios.

Improving this will likely be a large effort.  This issue is a placeholder

[2016-10-04 16:24] jsquyres opened #2160 "v2.1.0: Fix OOS issues in vader BTL with single-threaded scenarios"
Per #2067, the Vader BTL has some cases where out-of-sequence messages can occur, even in single-threaded scenarios.  This affects master, v2.0.x, v2.1.x, and, if anyone cares, v1.10.x (note that _this_ issue is on the v2.1.0 milestone).

(note that this issue specifically does _not_ address the OOS issues in multi-threaded scenarios -- that is a much larger issue, and is covered by #2159)

[2016-10-04 16:24] jsquyres opened #2161 "v2.1.0: Fix OOS issues in openib BTL with single-threaded scenarios"
Per #2067, the openib BTL has some cases where out-of-sequence messages can occur, even in single-threaded scenarios.  This affects master, v2.0.x, v2.1.x.  It assumedly affects v1.10.x, but I don't know if anyone cares.

(note that this issue specifically does _not_ address the OOS issues in multi-threaded scenarios -- that is a much larger issue, and is covered by #2159)

@larrystevenwise @bhara

[2016-10-04 19:20] thananon commented on #2067
Turning off the inline send by these MCA parameters doesn't solve reduce the number of OOS messages (both **THREAD_SINGLE AND THREAD_MULTIPLE**)

[code]

As per @hjelmn, I will wait until you finish your patch and try again. I ran @artpol84 benchmark with the message size of 64 for all test.

[2016-10-04 19:32] jsquyres commented on #1412
@igor-ivanov Is this issue moot / solved these days?

[2016-10-04 19:33] jsquyres opened #2164 "oshmem examples use deprecated APIs"
On master, `make` in the `examples` directory yields:

[code]

[2016-10-04 21:33] jsquyres opened #2165 "Memory leaks / still-reachables when running MPI ring_c example program"

[2016-10-04 21:38] jsquyres opened #2166 "Memory leaks / still-reachables when running examples/ring_c on master"
I ran master HEAD through a memory checker today and turned up a bunch of small memory leaks in the MPI layer (I reported the PMIx leaks here: https://github.com/pmix/master/issues/129).

I ran with: mpirun --mca btl tcp,vader,self -np 4 --npernode 2 --host a,b ring_c

[code]

[2016-10-04 21:40] jsquyres commented on #2165
Oops -- this got submitted as an empty issue by mistake.  The real one is #2166.

[2016-10-04 21:40] #2165 closed

[2016-10-04 22:21] cparrott73 opened #2167 "Open MPI 2.0.x crashes on ppc64le"
Posted here at the request of @jsquyres, who also requested I tag @hjelmn and @gpaulsen:

I was reading with some interest the recent reports of issues involving Open MPI 2.0 with PGI on ppc64le on the Open MPI devel mailing list:

https://mail-archive.com/devel@lists.open-mpi.org/msg19514.html

We have encountered similar issues here at PGI.  We did work around this issue by patching ./configure

[2016-10-04 22:42] hjelmn commented on #2167
this is fixed on master. we has to work around a pgi asm bug among other things. i don't think i have moved it to 2.x or 2.0.x

[2016-10-04 23:49] jsquyres commented on #665
@hjelmn @bosilca Did this issue get resolved?

[2016-10-04 23:50] jsquyres commented on #105
Looks like this was done forever ago.

[2016-10-04 23:50] #105 closed

[2016-10-04 23:50] jsquyres commented on #47
This was done in Open MPI v2.0.0.

[2016-10-04 23:50] #47 closed

[2016-10-04 23:51] jsquyres commented on #38
@bosilca I can't imagine this is still relevant any more; I'm going to close it.

[2016-10-04 23:51] #38 closed

[2016-10-04 23:52] jsquyres commented on #30
IBM is taking on this feature enhancement.

[2016-10-04 23:52] jsquyres commented on #12
The Big Red machine no longer exists.

[2016-10-04 23:52] #12 closed

[2016-10-04 23:55] hjelmn commented on #2067
I have the "problem" fixed. The vader inline send is meaningless without xpmem so I wouldn't expect it to have an effect. I should really condition it on xpmem support.

For IB it is likely due to coalescing. Set btl_openib_use_message_coalescing to false.

[2016-10-04 23:55] hjelmn commented on #2067
I will open a PR tomorrow for the vader fix.

[2016-10-04 23:58] jsquyres opened #2168 "TCP BTL does not do a good job of determining if peer interfaces can connect"
The TCP BTL has long-since used heuristics to determine if peer interface A can reach peer interface B.

It would be great if, instead, the TCP BTL consulted the OS routing table (e.g., via libnl on Linux) to see if interface A can reach interface B.

This prevents cases like the following:

* Node A has interfaces Xa, Ya, and Za
* Node B has interfaces Xb, Yb, and Zb
* Xa and Ya are reachable fro

[2016-10-05 00:24] sjeaugey commented on #2141
@hjelmn Thanks. I could try to add the missing headers to make it compile, but since I don't know what the original rework intent was, I may do it wrong and create more problems in the future.

[2016-10-05 05:28] igor-ivanov commented on #1412
@jsquyres I was not able to reproduce on my side. So probably it exists.

[2016-10-05 06:27] ggouaillardet commented on #2150
@tjcw i spotted an other error in the test program
```types``` should have type ```MPI_Datatype *``` and not ```int *```,  and allocation must be updated accordingly.

[2016-10-05 09:50] jsquyres commented on #1412
@igor-ivanov I'll assume your first sentence was the correct one, and the 2nd sentence was a typo.  I'll go ahead and close this issue; feel free to re-open (or open a new one) if static building with OSHMEM is a problem.

[2016-10-05 09:50] #1412 closed

[2016-10-05 10:02] jsquyres commented on #1869
@hjelmn Is this issue now resolved?

[2016-10-05 16:05] jsquyres opened #2179 "v2.x: --disable-mpi-io build broken w.r.t. C++ MPI bindings"
See https://mtt.open-mpi.org/index.php?do_redir=2360.

Did this get broken with https://github.com/open-mpi/ompi/pull/2064?

@ggouaillardet @edgargabriel @hjelmn Can you have a look?

[2016-10-05 16:21] hjelmn commented on #2167
Looks like I brought the patcher fixes to 2.0.x/2.x. Can you try master and see if it works? I may have missed something.

[2016-10-05 17:08] edgargabriel commented on #2179
I honestly don't know anything about the C++ interface. I can try to look into this, but it will be friday until I get to it.

That being said, I honestly think more and more that the disable-mpi-io flag is non-sensical. I understand the original motivation, but I am not aware of any system where this approach (having an external MPI I/O library) is used.  There is a stronger case for --disable-io

[2016-10-05 17:19] jsquyres commented on #2179
I'm *guessing* that this was because of @hjelmn's #2064 (which was just merged in), but I'm not 100% sure.  Let @hjelmn have a look first.

[2016-10-05 17:56] larrystevenwise commented on #2161
@jsquyres - looking at mca_btl_openib_sendi(), it returns OPAL_ERR_RESOURCE_BUSY if various resources aren't available.  I don't see it queuing the message anywhere for later retry that could result in OOS.  Am I all wet?

[2016-10-05 18:03] jsquyres commented on #2161
@hjelmn Can you comment?  I haven't looked in the openib BTL in years.

[2016-10-05 18:05] cparrott73 commented on #2167
Hi Nathan,

Thanks so much for the responses.  I will pull master from git right away and try it on our POWER systems to see if it helps.  Will follow up once I have more info.

Thanks,

+chris

[2016-10-05 18:40] hjelmn commented on #2161
I think this is largely due to the send coalescing code. I asked @thananon to verify.

[2016-10-05 18:58] jsquyres commented on #2179
@edgargabriel's question is probably relevant here: do we even need `--disable-mpi-io` any more?

I *think* it was motivated back when ROMIO was a standalone distribution.  But it isn't anymore.  So is this a moot point?  Should we just remove `--disable-mpi-io` support?  (I don't know if we can do this in v2.x at this point, but we certainly can for master)

[2016-10-05 19:55] cparrott73 commented on #2167
Hi Nathan,

master looks good on a tuleta I just tried, using a GCC 6.2.0 build here:

Thanks!

+chris

[2016-10-05 19:57] jsquyres commented on #2167
@cparrott73 Github pro tip: use three single-tick marks before and after blocks of text that you need to render as verbatim: https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2016-10-05 20:30] hjelmn commented on #2167
Ok, have you tried the 2.0.x nightly or just 2.0.1?

[2016-10-05 20:32] cparrott73 commented on #2167
I just did a source pull on master.  I'll try v2.0.x next.  Thanks!

[2016-10-05 20:51] cparrott73 commented on #2167
2.0.x looks good, too:

[code]

[2016-10-05 20:52] hjelmn commented on #2167
Alright. I will close this issue then as it is fixed for both next releases.

[2016-10-05 20:52] #2167 closed

[2016-10-06 01:58] #2179 closed

[2016-10-06 02:14] ggouaillardet commented on #2179
a few #ifdef were missing, and i fixed that.

@hjelmn
open-mpi/ompi@95e63d78038b9776e5aab04536063b6017f8afeb should be cherry-picked into #2162 and #2163

[2016-10-06 05:29] igor-ivanov commented on #1412
@rhc54 have you observed this issue more than once?

[2016-10-06 13:45] edgargabriel commented on #2179
To come back to Jeff's last point, I personally think that we should remove the flag in a long term (i.e. probably on master first). My reasoning is similar to what Jeff said, but to go even one step further: the only options somebody would have to use as an MPI I/O library are ROMIO or OMPIO. There is literally nothing else out there (there are some vendor adapted versions of ROMIO, but they come

[2016-10-06 13:52] jsquyres opened #2185 "Remove --disable-mpi-io switch"
Per discussion on https://github.com/open-mpi/ompi/issues/2179, it's time to remove the `--disable-mpi-io` configure switch.

[2016-10-06 13:53] jsquyres commented on #2179
#2185 filed to remove the `--disable-mpi-io` switch.

[2016-10-06 14:07] hjelmn commented on #2185
If this is going into 2.x then I will hold off on adding the commits from @ggouaillardet to fix this option in my PR.

[2016-10-06 14:36] jsquyres commented on #2185
I say "2.x" but I don't know if anyone has any time to work on this feature -- I filed this issue mainly so that we wouldn't forget / someone may do it someday.

If no one volunteers in the immediate future, you might as well add @ggouaillardet's commits to your C++ PR.

[2016-10-06 14:41] edgargabriel commented on #2185
To bring up another possibility, maybe we want to keep the  `--disable-mpi-io`  configure flag as a short cut to  `--disable-mpi-romio` +  `--disable-mpi-ompio`. That would however not remove the function prototypes and structure from mp.h

[2016-10-06 14:44] jsquyres commented on #2185
Actually, wait: I misspoke: this *can't* go to the 2.x branch at all, because it would break backwards compatibility.  So this is a 3.x issue.

[2016-10-06 14:57] ggouaillardet commented on #2185
i can do that

[2016-10-06 15:00] jsquyres commented on #2185
@ggouaillardet We owe you 🍻

[2016-10-07 11:17] jladd-mlnx commented on #2109
This can be closed.

[2016-10-07 11:17] #2109 closed

[2016-10-08 16:10] bosilca commented on #2166
The fix is part of #2175

[2016-10-08 16:10] #2166 closed

[2016-10-10 04:31] ggouaillardet commented on #2168
@jsquyres are you suggesting ```btl/tcp``` should use the ```reachable``` framework in addition of whatever checks are currently performed ?

[2016-10-10 15:14] rhc54 commented on #2168
I believe what we'd like to get to is for all the pairing logic to be in the reachable framework so we can share it across the various subnet-using components. We have different logic right now for OOB vs BTL, and that leads to confusion (one can reach but the other thinks it can't). It would be nice if they used the same code to select candidate networks, and then used their independent include/e

[2016-10-10 16:23] thananon commented on #2067
@hjelmn With btl_openib_use_message_coalescing 0 still shows some OOS messages but the number is lower. I haven't run the test enough to be able to statistically say that. This is just eyeballing observation.

[2016-10-10 16:33] hjelmn commented on #2067
Ok, the remainder might be due to the transition to eager rdma. Try setting btl_openib_use_eager_rdma to 0.

[2016-10-10 16:41] thananon commented on #2067
With `-mca btl_openib_use_eager_rdma 0` alone, the OOS message is now 0.

So we found the issue for IB. As you might expect, the performance drops if we set that flag but at lease we know where to look now. :)

[2016-10-10 17:18] jsquyres commented on #2161
@larrystevenwise @bharatpotnuri See the thread starting around here https://github.com/open-mpi/ompi/issues/2067#issuecomment-251486051 for some details.

[2016-10-10 17:21] larrystevenwise commented on #2067
Thanks @Hjelmn and @thananon,  I'll have a look at the eager logic in openib...

[2016-10-11 11:37] ggouaillardet commented on #2056
@jsquyres @gpaulsen would you mind raising this issue during today's telcon ?
Ideally, I'd like some more folks think about it and provide some directions on how to move forward.

[2016-10-11 15:43] larrystevenwise commented on #2067
Hey @thananon, how can I reproduce the single threaded OOS issue using openib?  Specifically, is there some statistic or counter that shows the OOS count?  Or do you have a patch?  Thanks in advance!

[2016-10-11 15:53] larrystevenwise commented on #2067
Looking at mca_btl_openib_endpoint_credit_acquire(), I see if parameter queue_frag is true, then a fragment is queued if there aren't resources available, even though OPAL_ERR_OUT_OF_RESOURCE is returned.  And I see that mca_btl_openib_endpoint_post_send() calls mca_btl_openib_endpoint_credit_acquire() with queue_frag == true.

Perhaps this is where things get out of order?

[2016-10-11 16:11] larrystevenwise commented on #2067
mca_btl_openib_endpoint_send_eager_rdma() calls mca_btl_openib_endpoint_send() which can queue the frag.  Then the frag is processed for resend in progress_no_credits_pending_frags() called by btl_openib_handle_incoming() and btl_openib_handle_incoming_completion().

So maybe if mca_btl_openib_endpoint_send_eager_rdma() is called and queues, and then mca_btl_openib_endpoint_send_eager_rdma() is ca

[2016-10-11 17:51] matcabral opened #2203 "Segfault running mpich lock_dt rma test"
host-36 /tmp> mpirun -np 2  -mca pml ob1 -mca btl self,vader,sm  ./lock_dt
[host-36:91324] *** Process received signal ***
[host-36:91324] Signal: Segmentation fault (11)
[host-36:91324] Signal code: Address not mapped (1)
[host-36:91324] Failing at address: 0x1eaa0c0
[host-36:91324] [ 0] /lib64/libpthread.so.0(+0xf130)[0x7f4e3d99e130]
[host-36:91324] [ 1] /lib64/libc.so.6(+0x147ce4)[0x7f4e3d715ce

[2016-10-11 19:28] bosilca commented on #2067
@larrystevenwise why is not mca_btl_openib_endpoint_send_eager_rdma checking if there are pending messages and send them prior to sending the current fragment ? The issue is that OOS affects the injection rate, especially on the receiver side where we must match the messages in FIFO order.

[2016-10-12 15:01] thananon commented on #2067
@larrystevenwise I used internal version of PAPI (Another project here) to obtain the number. It is not in the release state and a little bit too messy to share.

The code where we add the counter is `pml_ob1_recvfrag.c `line 745 with the tag `wrong_seq`. You can add one line there.

[2016-10-12 15:04] larrystevenwise commented on #2067
Thank you @thananon!

[2016-10-12 15:32] jsquyres opened #2209 ""make check" ddt_benchmark is failing at Nvidia MTT"
@sjeaugey You have a "make check" test failing in MTT:

https://mtt.open-mpi.org/index.php?do_redir=2364

Can you please provide details / logs on what is happening there?

The MPI name is "eddy16112-cuda-rebase" -- what is that?  Is that master?  2.0.x?  2.x?  ...?

[2016-10-12 15:35] jsquyres commented on #2164
Mellanox: given that we're updating to OSHMEM 1.3 in v2.1.0, can we fix the examples to match?

[2016-10-12 16:00] sjeaugey commented on #2209
@jsquyres don't worry about this one, it is a work-in-progress branch from UTK branch for CUDA optimizations and it is not ready yet (as you can see).

I sometimes add unstable github branches to my MTT (like I did for nathan mpool rewrite) when I'm concerned it could break CUDA support and before the pull request is made.

So, when the MPI version is ".", it is not the official Open MPI releases.

[2016-10-12 16:01] #2209 closed

[2016-10-12 18:22] hjelmn commented on #804
@bosilca Has this been done?

[2016-10-12 18:23] hjelmn commented on #1094
This is complete.

[2016-10-12 18:23] #1094 closed

[2016-10-12 19:19] bosilca commented on #804
Still work in progress.

[2016-10-14 18:40] ivotron opened #2224 "Add support for specifying SSH port"
Would it be possible to have support for specifying an SSH port in for the hosts URL? E.g. `my.mpi.node:2222`

[2016-10-15 04:15] ggouaillardet commented on #2224
Did you try to use this syntax in a machine file ?

[2016-10-15 22:41] ivotron commented on #2224
Yes, on 2.0.1:

[code]

[2016-10-15 23:10] jsquyres commented on #2224
I do not believe that we support this functionality at present.

Two workarounds:

1. Set the `plm_rsh_args` MCA var to `-p 5678` (or whatever port number you want)
1. Set the `plm_rsh_agent` MCA var to a script that simply invokes `ssh -p 5678 $*` (or whatever port number you want)

We can leave this issue open as a feature request.

[2016-10-16 03:22] ggouaillardet commented on #2224
i made a proof of concept in #2225
your hostfile should be updated like this
[code]

fwiw, if only port 2222 can be used to access these nodes, an other option is to edit your ```$HOME/.ssh/config``` and add an entry like this

[code]

[2016-10-17 04:11] ggouaillardet opened #2227 "mca_topo_treematch_dist_graph_create hangs"
@bosilca can you please have a look at this ?

i run

[code]

from `n1`, and it hangs.
`n1` is a dual socket with 6 cores per socket
`n2` is single socket with 16 cores per socket

here is what happens in `mca_topo_treematch_dist_graph_create`

at line 168, `if(hwloc_bitmap_isincluded(root_obj->cpuset,set))` is `false` on `n1`
(e.g. processes are already bound to a socket) but `true` on `n2`
(e.g.

[2016-10-17 06:28] bosilca commented on #2227
@ggouaillardet thanks for the detailed analysis. Indeed the code made the assumption that the environment was homogeneous. Please give it a try with the following patch

[code]

[2016-10-17 08:00] #2150 closed

[2016-10-17 09:10] gundramleifert commented on #2116
@nrgraham23 what is the status of this issue?

[2016-10-17 17:01] davidklaftenegger opened #2228 "segmentation fault in openib with failover enabled"
When compiling openmpi-2.0.1 (or the nightly from last Wednesday) with `--enable-btl-openib-failover` we experience a segmentation fault on the first use of MPI communication in all MPI applications when using openib.

[code]

This is a regression from openmpi-10.0.2, where this worked without incident.

When not setting `--enable-btl-openib-failover` our setup seems to work again.

In case that m

[2016-10-17 19:58] jjhursey opened #2230 "coll/libnbc does not handle internal errors"
If coll/libnbc encounters a failure on one of it's internal requests it enters an infinite loop displaying:
[code]

The particular test case that caused this has the PML issuing an `MPI_ERR_TRUNCATE` on one of the PML messages used inside `ibcast`.

libnbc detects the error [here](https://github.com/open-mpi/ompi/blob/9c3ae64297e034b30cb65298908014764216c616/ompi/mca/coll/libnbc/nbc.c#L326-L330),

[2016-10-17 21:06] jsquyres opened #2231 "Hangs on v2.x HEAD if invalid MCA params specified"
In testing both #2149 and the v2.x branch without that PR, I noticed that in some cases, if you specify a bogus MCA param on the `mpirun` command line, `mpirun` will hang.  The `orteds` will be running on the target nodes (my tests were in an `salloc` allocation), but the MPI application was never launched.

For example:

[code]

Note the bogus MCA param name.

*Sometimes* this will hang (and not

[2016-10-17 21:32] jsquyres commented on #2231
Nope!  This was a red herring; the real issue will be filed in a new issue.

[2016-10-17 21:32] #2231 closed

[2016-10-17 21:54] wkliao opened #2232 "MPI_File_delete to delete a non-existing file"
When calling MPI_File_delete to delete a non-exiting file, the error class
MPI_ERR_NO_SUCH_FILE is expected to return. However, when I tested
2.0.1 release, I got MPI_SUCCESS returned instead.

[2016-10-17 22:01] jsquyres opened #2233 "mpirun of non-existent executable hangs"
On master, v2.0.x, and v2.x, if the application launch fails on a non-local node, `mpirun` hangs.  More specifically, the orteds detect the failed launch (e.g., if you specify a non-existent executable), but that error never seems to make it over to the errmgr.

For example:

[code]

Outside of a SLURM allocation, `mpirun -np 1 --host foo this_does_not_exist` hangs in the same way.

But `mpirun -n

[2016-10-17 22:02] jsquyres commented on #1569
@ggouaillardet ping

[2016-10-17 22:08] jsquyres opened #2234 "COMM_SPAWN broken in v2.0.x"
This is a mirror for #2030, but for v2.0.x (instead of v2.1.x).

Keep all general discussion about the issue over on #2030; put any specific v2.0.x information here.

[2016-10-17 22:31] jsquyres commented on #2228
@hjelmn Are you aware of any BTL changes that would cause this kind of behavior?

[2016-10-17 23:38] wkliao commented on #2232
Forgot to mention that 1.10.3 release does return MPI_ERR_NO_SUCH_FILE correctly.
I believe the cause is from mca_io_ompio_file_delete() in file ompi/mca/io/ompio/io_ompio_file_open.c

Below is the diff between 1.10.3 and 2.0.1.

329,330c418,420
<     if (0 > ret) {
<         return OMPI_ERROR;
---

[2016-10-17 23:56] edgargabriel commented on #2232
I'll look into this. The reason we made the change was because some benchmarks such as IOR use MPI_File_delete more or less as a collective operation, i.e. all processes that opened  and closed the file also call file_delete. To make that case work where one process succeeds in deleting the file and the others not, we have to basically ignore the error code on the other processes (and keep in mind

[2016-10-18 00:08] wkliao commented on #2232
Thanks for the info. In my opinion, IOR should handle this issue, rather than OpenMPI. For example, IOR can use MPI_MODE_DELETE_ON_CLOSE mode when opening a file, so no explicit MPI_File_detele calls are needed.

FYI. I am a developer of Parallel-netCDF and a PnetCDF user reported a problem that lead me to this discovery. https://trac.mcs.anl.gov/projects/parallel-netcdf/ticket/20

PnetCDF relies

[2016-10-18 00:36] edgargabriel commented on #2232
I agree fundamentally with your position. I found the original reference, we changed the behavior last July

https://github.com/open-mpi/ompi/commit/e380f8c235a47e95953d5c890ab16a461dca83ef

Anyway, will try to find a solution.

[2016-10-18 06:45] ggouaillardet commented on #2230
@jjhursey
does the patch below fix the issue ?
[code]

note some logic might be missing (see open-mpi/ompi-release#1014)
- we might not want to set the error status to ```MPI_ERR_PENDING```
- we might not want to set the error status to ```MPI_ERR_IN_STATUS``` (which means we cannot use ```MPI_STATUSES_IGNORE``` and find the error code in the statuses array.

[2016-10-18 11:29] ggouaillardet commented on #2227
@bosilca i did not have much time today, will try tomorrow

[2016-10-18 11:33] ggouaillardet commented on #1569
i will try to find some time for it.
note i do not have solaris/sparc (but i have solaris/x86_64 and linux/sparc)

[2016-10-18 15:42] bosilca commented on #1924
The corresponding issue #1297 has been already merged.

[2016-10-18 15:42] #1924 closed

[2016-10-18 15:46] bosilca commented on #33
I don't think there is currently any interest in doing any improvement on the preconnect support. As we now open the connections lazily, this preconnect capability will have a significant overhead on the MPI_Init.

[2016-10-18 15:46] #33 closed

[2016-10-18 16:07] jsquyres commented on #2049
@hjelmn says he can work on this next week.

[2016-10-18 16:07] jsquyres commented on #2100
This is done.

[2016-10-18 16:07] #2100 closed

[2016-10-18 16:09] jsquyres commented on #1831
Per discussion on the call today: @bosilca thinks that the openib BTL still has a performance degradation issue.

@larrystevenwise @bharatpotnuri Can you look into this?

[2016-10-18 16:09] hppritcha opened #2239 "update NEWS for v2.0.2 release"
Update NEWS for v2.0.2 release

[2016-10-18 16:36] bosilca commented on #2230
You only have a single request, it is illegal to return MPI_ERR_IN_STATUS. Instead you should simply propagate the MPI_ERROR of the request.

[2016-10-18 16:53] larrystevenwise commented on #1831
We can see if this openib issue is seen on iw_cxgb4.  If not, then we should get MLNX help too...

[2016-10-18 18:00] larrystevenwise commented on #1831
@bharatpotnuri will produce message rate numbers for iw_cxgb4/openib/ob1, 1.10.3 vs 2.0 vs trunk.

[2016-10-18 18:08] #2233 closed

[2016-10-18 20:41] jjhursey commented on #2230
This is a good start. I have a modified version of it (taking into account @bosilca 's comment) that seems to be working ok. I'll setup a PR for review and we can iterate there a bit.

[2016-10-18 23:50] rhc54 commented on #2030
@hjelmn I just checked the v2.0.x branch again, and no-disconnect now hangs in the BTL finalize for the TCP BTL:

[code]

I can't get any other dynamic test to fail - any ideas why the TCP BTL is locking up?

[2016-10-18 23:51] hjelmn commented on #2030
I thought I fixed this in 2.0.x. There was an easily identifiable bug in btl/tcp. Let me see if the commit came over.

[2016-10-18 23:52] hjelmn commented on #2030
Bring this over.

https://github.com/open-mpi/ompi/commit/a681837ba8dc0cb3c6530b3ee2ae943a71565400

[2016-10-18 23:53] rhc54 commented on #2030
will do - will report back later. Thx!

[2016-10-18 23:55] hjelmn commented on #2030
np

[2016-10-19 01:18] rhc54 commented on #2030
Okay, we have 2.0.x fixed, but not 2.x - sorry for the confusion. On 2.x, we are getting a warning about removing an item that is no longer on a list:

[code]
This comes at the end of no-disconnect, and is likely again from the TCP btl. I'll try to find out where.

[2016-10-19 03:20] hjelmn commented on #2030
Same bug, different symptom.

[2016-10-19 04:07] rhc54 commented on #2030
Accept that the patch you suggested is already there

Sent from my iPhone

[2016-10-19 05:59] ggouaillardet commented on #2227
@bosilca

the patch itself works for me

it evidenced two bugs in other parts of the code
- one was fixed in open-mpi/ompi@e78fcc4db94216f86791035d48c1fda53f1d9188
- the patch below fixes the second one, can you please review it and integrate it in your fix ?
[code]

[2016-10-19 13:00] GuillaumeMercier commented on #2227
@ggouaillardet

You second patch does  not seem correct to me , as the matching is computed for all ranks, not just the local processes. Let me try and fix this.

[2016-10-19 13:02] GuillaumeMercier commented on #2227
@ggouaillardet

Can you give me details about the bug you encountered when using size instead of num_procs_in_node? Thanks.

[2016-10-19 13:30] ggouaillardet commented on #2227
I will post the details tomorrow
Basically, build_tree_from_topology is a per node operations, so if size is used instead of num_procs_in_node, and IIRC, treematch sometimes complains there are more processes than constraints.

[2016-10-19 13:38] GuillaumeMercier commented on #2227
No, it's not always a per node operation. There are two modes: in the centralized mode, one process computes the new reordering and bcasts the result to all processes. In the partially distributed mode,
then it is actually a per node operation as each local root performs the computation. When/if TreeMatch complains, then it's probably a bug.

[2016-10-19 13:41] GuillaumeMercier commented on #2227
In the centralized mode, the various topologies of the nodes are aggregated to make a single global topology. In such a case, build_tree_from_topology is not per node.

[2016-10-19 14:10] GuillaumeMercier commented on #2227
@bosilca
I agree with your patch and will apply it to the new version of the code.

[2016-10-19 14:37] bosilca commented on #2227
@ggouaillardet and @GuillaumeMercier I will wait until Guillaume have a fix for the second issue to create a PR.

[2016-10-19 14:41] GuillaumeMercier commented on #2227
@bosilca Sounds sensible ;-)

[2016-10-19 15:26] #2224 closed

[2016-10-20 03:01] ggouaillardet commented on #2227
@GuillaumeMercier
the logs are at https://gist.github.com/ggouaillardet/f2b2b144808c55074f340774f5fc561e

there are two nodes
- ```n0``` is a dual-socket with 6 cores per socket
- ```n1``` is a single-socket with 16 cores

i ran all cases with
```mpirun --mca btl tcp,self --host n0:$n,n1:$m -np $((n + m)) ./distgraph_test_4```
where ```n=[1...12]``` and ```m=[1...16]```

the first failure occurs w

[2016-10-20 05:44] GuillaumeMercier commented on #2227
@ggouaillardet
Thanks, I'll take a look at it. It seems that the single process is bound to a socket, not a core,  while the
7 others are bound to cores, hence the {2,16}.

[2016-10-20 05:55] ggouaillardet commented on #2227
I did not specify any options, so I guess all tasks should be bound to socket.
I will dig more tomorrow, the root cause could be the topology of n1 is missing some levels.

[2016-10-20 06:10] GuillaumeMercier commented on #2227
If you don't specify any options, then it should be bound to cores by default. The behaviour you're
experiencing is therefore not the one I expect.

[2016-10-20 07:06] ggouaillardet commented on #2227
I will double check that too, but I am pretty sure default mapping/binding is per socket on master branch

[2016-10-20 08:45] GuillaumeMercier commented on #2227
Maybe, but if you don't specify anything, processes are bound to cores if cores are available in the dist_graph_create code, not to sockets.

[2016-10-20 09:22] ggouaillardet commented on #2227
Are we talking about the same binding ?
MPI tasks are bound to resources (e.g. sched_setaffinity via hwloc) by orted/mpirun before they are execv'ed.
topo/treematch enters the game way later (e.g. after MPI_Init if I understand correctly)
Are you saying treematch does the matching as if MPI tasks were bound to cores ?
Or is some glue missing to correctly inform treematch how MPI tasks were bound b

[2016-10-20 10:05] GuillaumeMercier commented on #2227
There are two bindings : if a binding is enforced by mpirun, the topo/treematch code won't mess with it.
It just checks is such a binding is enforced. If not, then it tries to enforce its own, and it uses cores
as the first target for binding if cores are availables and is oversubscribing is not present.
When you don't specify a binding policy with mpirun, then the processes are not bound, AFAIK.

[2016-10-20 10:10] GuillaumeMercier commented on #2227
@bosilca  George can you confirm the current binding policy of mpirun when nothing is specified?
Are the processes left unbound or are they bound to some ressource?

[2016-10-20 10:20] ggouaillardet commented on #2227
Let's assume the policy is to bind on socket by default.
If the system is single socket, then a task is bound on all the PUs.
When a task tries to figure out whether it is bound or not, it generally concludes the task is unbound.
I do not think we (can) make a difference between "bound on the unique socket" and "unbound" just by asking hwloc.
Bottom line, per my understanding and your description,

[2016-10-20 10:24] ggouaillardet commented on #2227
@GuillaumeMercier you can
mpirun ... grep Cpus_allowed_list /proc/self/status
As long as you are not running on a single socket/core node, you will be able to figure out the default binding policy with that.

[2016-10-20 11:46] ggouaillardet commented on #2227
On n1 (single socket, 16 cores) what if ?
1. OMP_NUM_THREADS=8 mpirun -np 2 --bind-to none ...
2. OMP_NUM_THREADS=16 mpirun -np 1 --bind-to none ...
In which case does topo/treematch bind the MPI task on a single core ?

[2016-10-20 12:20] GuillaumeMercier commented on #2227
@ggouaillardet
Case 1 : each MPI process will be bound to its own core
Case 2  : the single MPI process will be bound to its dedicated core.

I agree that in the case of a single socket  node, it is impossible to make the difference
(with hwloc) between unbound and bound to the socket.

[2016-10-20 12:41] ggouaillardet commented on #2227
Case 1 is suboptimsl anyway  (user should ask to bind to 8 cores) but case 2 is problematic.

 should we conclude topo/treematch should never bind MPI tasks at all ?

[2016-10-20 12:59] GuillaumeMercier commented on #2227
Well, it's problematic because of the OpenMP threads.
If the process is not bound, then treematch is not able to compute the matching.
But then, the logic of the code can be changed to take this (i.e. OMP threads) into account
(don't know how yet ...)
Or in case 2, if the user asks to bind to socket, then it should be ok, except that we don't catch
the case of the single socket per node case.  A p

[2016-10-20 13:07] GuillaumeMercier commented on #2227
@bosilca : is there a way to have the information that a binding has been asked by the user
with mpirun?

[2016-10-20 15:14] bharatpotnuri commented on #1831
Here are the stats with openmpi-1.10.4 with iwarp :
[code]

Here are the stats with openmpi-2.0.1 with iwarp:
[code]

[2016-10-20 16:05] jjhursey opened #2256 "libnbc nonuniform type failures in ibcast, iallgather(v)"
When testing `coll/libnbc` with nonuniform data types three of the algorithms failed. I'll post a link to the test case in the comments. The unit test only works with `-np 5` some of the tests pass fine with `-np 4`.
- `ibcast` Falls into an infinite error loop in `libnbc`
- `iallgather` and `iallgatherv` produce wrong answers. Might be the same underlying problem.
### `ibcast` Failure

**Note**:

[2016-10-20 16:07] jjhursey commented on #2256
Here is the test case for this issue:
  https://gist.github.com/jjhursey/dfbb38c7c82dcde7d0e05e62852fce3c

Sorry it's not more general, but should help reproduce the problem.

[2016-10-20 17:36] larrystevenwise commented on #1831
Hmm, maybe we need to run on 40GbE T580s.  @bharatpotnuri - do you have access to some T580 nodes?

[2016-10-20 17:58] larrystevenwise commented on #1831
@bharatpotnuri - you can use r9/r10 tomorrow your time and try the same experiment on the T580s.  I'll email you details. thnx

[2016-10-20 18:06] jsquyres opened #2261 "OOB TCP progress thread abort"
This only happened once in the MTT on master last night, but it shows a clear abort in the TCP progress thread (https://mtt.open-mpi.org/index.php?do_redir=2370):

[code]

Here's the output -- three things are concerning:
1. Warning about not allowing a mutex unlock
2. Abort during `opal_dss_unpack_buffer()`
3. Lots of warnings about bad file descriptors

[code]

@bosilca Can you have a look?

[2016-10-20 18:10] jsquyres commented on #2261
My mistake -- this is not in the TCP BTL, but rather the OOB TCP.  So -- @bosilca -- please disregard.

@rhc54 Any ideas?

[2016-10-20 18:14] jsquyres opened #2262 "BTL TCP abort in MPI_FINALIZE with progress thread"
On Cisco master MTT runs when running with the BTL TCP progress thread, I'm seeing aborts during MPI_FINALIZE when the TCP BTL progress thread is enabled.

https://mtt.open-mpi.org/index.php?do_redir=2371

The failure signatures are similar to the one shown below; it looks like it's trying to destroy something in `btl_tcp_del_procs` that doesn't have a refcount of 0:

[code]

@bosilca Could you ha

[2016-10-21 01:35] ggouaillardet commented on #2256
@jjhursey i fixed ```MPI_Iallgather[v]``` in #2245

the issue with ```MPI_Ibcast``` is the very same and unresolved issue we have in ```coll/tuned```.
we should not try to split a message into chunks since we cannot be sure the remote peer is able to split the message into chunks of the same size.
for example, if you need to ```MPI_Send``` 1M ```MPI_INT```, it is trivial to ```MPI_Send``` 1k ```MP

[2016-10-21 11:46] DemjanGrubic opened #2269 "Configure fails if path has a space character in some directory name"
If some directory on the path to openmpi folder has a space character, then configure fails.
I am using ubuntu 16.04, and here are steps to reproduce:

Make a directory with name "test1 test2" (include space between).

Execute following:

[code]

Message I get:

[code]

Instead of using "test1 test2" directory, it creates directory "test1" and tries to use it, if I am not wrong.
If directory doesn

[2016-10-21 15:03] bharatpotnuri commented on #1831
@larrystevenwise r9/r10 are gen 2 machines and i got the same numbers as stevo3/4. shall try on stevo1/2 as per our discussion.

[2016-10-21 15:35] larrystevenwise commented on #1831
@bharatpotnuri - I'll make stevo1/stevo2 ready for you to try on Monday your time.  Thanks.

[2016-10-21 16:20] rhc54 opened #2270 "mpirun doesn't scale to large node counts"
There is a fundamental issue with mpirun as it stands today when launched in any environment other than ssh. In the absence of static ports, every daemon opens a socket back to mpirun to "phone home" upon launch. This is done because the only address the daemon knows is that of mpirun. The daemon reports its uri back to mpirun, who then includes that info in its xcast of the application's launch m

[2016-10-21 20:09] jjhursey commented on #2256
@ggouaillardet I can confirm that your commit fixed the problem with the `MPI_Iallgather` and `MPI_Iallgatherv` collectives. Thanks!

Adding a reference to Issue #1763 - which describes the data corruption problem with `MPI_Bcast`. Since those two are related problems, a fix for one should be ported to the other.

As a workaround I might look into adding an MCA parameter to skip the algorithm sele

[2016-10-21 21:11] rhc54 commented on #1831
woohoo!

[2016-10-21 21:37] artpol84 commented on #1831
@thananon can you clarify what 'np' stands for on the diagram?
How many nodes was used? Is this a one-node experiment?
Was there an oversubscription that was under optimiation IIRC.

[2016-10-21 21:41] bosilca commented on #1831
The information is on the title of the figure. np stands for number of nodes. On each node, the heavily multi-threaded MADNESS application is using all the available cores (in this environment there were 20 cores per node, divided in 19 threads for computations + sends and one for draining the network).

[2016-10-21 21:41] artpol84 commented on #1831
My apologies I haven't noticed info on the diagram

[2016-10-21 21:46] artpol84 commented on #1831
I see that improvement over 1.10 decreases significantly with np increase. Is this because of insufficient amount of computation? Do you know the reason?

[2016-10-21 21:51] bosilca commented on #1831
Yes, the problem is not computational intensive, but instead communication intensive. Larger scale experiments are under way, however most results will remain private until we publish our work.

[2016-10-21 22:17] rhc54 commented on #2270
That pretty much describes what we do today. ssh only phones back to the prior wave, xcast and allgather follow the topology, etc. Not sure what you think isn't already there, but I'd welcome any pointers to things we missed.

As I said, the problem is that you cannot use ssh everywhere. Many systems will not allow it on the backend nodes, and so the wave-based model won't work. We have the static

[2016-10-21 22:48] bosilca commented on #2270
All the above steps were combined together in a single larger step coordinated between multiple components, that at all moments was maintaining a connected topology (to completely remove any window of vulnerability).

It seems to me that you are asking for some magic connection handler, able to launch and connect in a scalable way a large number of processes despite a total lack of cooperation fro

[2016-10-21 23:01] rhc54 commented on #2270
Well, if it were easy, I wouldn't be asking for your sage advice! 😄

Let's just suppose that any truly scalable machine is using a PMIx-enabled RM (hey, they should!). Now mpirun could just use PMIx_Spawn to launch the app, but suppose we really want our own daemons in there - e.g., for FT purposes that the RM isn't providing.

The question is: what could we do with this arrangement to make it wor

[2016-10-22 04:24] ggouaillardet commented on #2256
@jjhursey IIRC, coll/tuned has a (per collective ?) segment_size MCA param, and we recommend it is set to 0 when running into this kind of pattern. You might want to use the same naming scheme for libnbc.
An other workaround is to blacklist coll/tuned, but that cannot be mimicked for non-blocking collectives.

[2016-10-22 04:29] ggouaillardet commented on #2256
Btw, if coll/tuned are used, the default behavior is MPI_ERR_TRUNCATE causes the program abort.
If coll/libnbc is used instead, should we follow the same logic (e.g. call the error handler, which aborts by default) ?

[2016-10-22 11:44] ggouaillardet commented on #2270
@rhc54 here are my 0.02 US$, based on what i read in this issue.
i never digged into ```rml/oob```, so i apologize in advance if my understanding is incorrect.

- with slum, you can ```srun --resv-ports```. this is still in the man page of the latest ```17.02.0-0pre2``` version. with Open MPI 1.6, we were able to ```srun --resv-ports a.out```, so local MPI task ```n``` can be contacted on port ```

[2016-10-22 14:01] jsquyres commented on #2269
@DemjanGrubic To be honest, I'm not surprised by this bug report.  Spaces are not a common convention in Linux filenames (although, as you point out, they are valid), so it's not a case that we test.  We're almost certainly missing some quoting in our configury/m4 scripting.

Unfortunately, I doubt that many of us core contributors can justify spending the time to fix this case (since it's so unco

[2016-10-22 14:49] rhc54 commented on #2270
The resv-ports option is something we should obviously do - is this something you'd be willing to tackle? I'm rather buried right now. It should be relatively easy to implement, I think, and would have a significant benefit on SLURM machines.

[2016-10-22 23:51] ggouaillardet commented on #2270
I will take a crack at it.
Note --resv-ports require a one line configuration in slurm.conf

[2016-10-23 00:50] rhc54 commented on #2270
Yeah - what I'd suggest is just modify the slurm/plm component so it first tries the cmd with --resv-ports, and if that fails, then try without that option. I don't think there is a simple way to check if someone configured it that way or not, so this is a pretty simple approach. Then, all you need to do is modify the slurm/ess component to check for that envar, and if found, set the corresponding

[2016-10-23 14:26] opoplawski commented on #1905
I'm seeing this timeout message in the mpi4py tests with openmpi 2.0.1 on Fedora rawhide on i386:
[code]
Not sure how reproducible this is yet.  This test appeared to succeed on x86_64.

[2016-10-24 03:22] ChrisPattison opened #2275 "Barrier never completes after Improbe"
- This is present in 1.10.0 (Repo)  and 2.0.1 (SRPM) on Scientific Linux (x86_64) running with two processes ( mpirun -n 2 )
- Changing the Improbe to an Iprobe makes the problem go away
- I noticed some strange behavior with IBarrier not completing either

Here is the code required to reproduce the issue
[code]