[2022-04-11 20:18] drwootton commented on #10220
@jsquyres I don't see the problem in main with test-allgather-uniform-count but it could be masked by the other failure in this test on the main branch. I don't see the failure in test-allreduce-uniform-count in any main branch run. I think I see the same failure in test-alltoall-uniform-count on the main branch. I think I see the same failure in test-gather-uniform-count on the main branch. I see

[2022-04-11 20:33] drew-parsons commented on #9432
We've figured out why openmpi was using ROMIO instead of ompio in the new Debian build.  There was a version bump in libmca_common_ompio.so (and libmca_common_ucx.so). Symlinks were left dangling which is why openmpi didn't find ompio and therefore fell back to romio321. With that fixed, mpi4py tests are now passing with openmpi 4.1.3 on amd64. i386 continues to fail tests in MPI-IO

[2022-04-11 20:36] shijin-aws commented on #10254
@wckzhang is investigating this issue today and we will get back to you ASAP.

[2022-04-11 20:42] shijin-aws opened #10257 "main: ompi compilation failed for btl/usnic component"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Ompi main branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

### If you are building/installing from a

[2022-04-11 20:53] jsquyres opened #10259 "Make ompi_mpi_java_eager MCA var show up in ompi_info"
The Java bindings layer registers the `ompi_mpi_java_eager` MCA variable.  However, this currently occurs at https://github.com/open-mpi/ompi/blob/main/ompi/mpi/java/c/mpi_MPI.c#L273-L278, which is invoked during the Java MPI binding MPI_init, and is located in `libmpi_java`.

Since `ompi_info` (rightfully) isn't linked against `libmpi_java`, that means that `ompi_info` won't see this MCA var regi

[2022-04-12 01:31] wckzhang commented on #10254
The root cause is introduced in: 0127682822d207edfe9e1de9e9166f6d39674134 -     ofi: prevent issues with multi-plane fabrics

This check was added

```0 == strcmp(provider_info->fabric_attr->name, provider->fabric_attr->name)```

which enforces fabric names to match. This isn't the case for EFA because EFA's fabric names are different per NIC. Need to figure out if EFA is doing this wrong or if th

[2022-04-12 02:43] shijin-aws commented on #10257
The issue is https://github.com/open-mpi/ompi/blob/main/opal/mca/btl/usnic/Makefile.am#L28 still uses `opal_ofi_CPPFLAGS` in `AM_CPPFLAGS`, while `opal_ofi_CPPFLAGS` has been renamed to `btl_ofi_CPPFLAGS` in https://github.com/open-mpi/ompi/commit/b542a9ce6aaebc3b47a366bbd863af5b334ad2d8.. I tested this patch and it works for me

[code]

But I am not sure if `btl_ofi_CPPFLAGS` is the right variabl

[2022-04-12 03:34] bwbarrett commented on #10257
You cant use common_ofi_CPPFLAGS or btl_ofi_CPPFLAGS, because the common/ofi and btl/ofi components own those flags.  The issue was that I removed the AC_SUBST of the opal_ofi_* flags but still used them in the usnic BTL.  I shouldn't have done that.  I posted https://github.com/open-mpi/ompi/pull/10260, which removes usage of the opal_ofi flags altogether and fixes the issue.  I didn't catch this

[2022-04-12 08:24] pipihuang1998 opened #10261 "Mpi4.1.0 How to check what algorithm was allreduce used？and why “intercomm, comm is too small, or not all peers local; disqualifying myself”"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Open MPI v4.1.2

-----------------------------

## Details of the problem
I succeeded in using mpirun to run hovorod program. I want to know what algorithm (may ring or binary tree，etc) allreduce used.
I use -mca coll_base

[2022-04-12 13:25] jsquyres commented on #9986
This has been fixed on both main and v5.0.x.  Closing.

[2022-04-12 13:25] #9986 closed

[2022-04-12 13:39] xiaowang119 commented on #8327
Hi, I have encountered the same problem, so what does the "make CC=mpicc" ?  I have done

and all right. But next the "make" occours some errors

/usr/bin/ld: ../src/.libs/libhdf5.so: undefined reference to `ompi_mpi_byte'
collect2: error: ld returned 1 exit status
make[1]: *** [Makefile:1240: testhdf5] Error 1
make[1]: Leaving directory '/home/wyj/hdf5-1.8.11/test'
make: *** [Makefile:539: all-re

[2022-04-12 14:12] jsquyres commented on #8327
Looks like you are mixing Open MPI and MPICH (you cited `ompi_mpi_op_sum`, which is from Open MPI, but you also cited `CXX=/usr/local/wyj-mpich/bin/mpicxx`, which looks like it's from an MPICH install).  These are two entirely different implementations of the MPI standard that are not link-compatible with each other.

Be consistent and use entirely Open MPI or entirely MPICH, and it will likely wo

[2022-04-12 14:28] jsquyres commented on #8327
The lines you have pasted have only shown that there is an error; you snipped out all the lines that could possibly describe what the actual error is.

Please open a new issue rather than continuing to comment on an old, unrelated, closed issue.  Thanks.

[2022-04-12 14:39] bosilca commented on #10261
Some collective components work in special cases, they disqualify themselves when the prerequisite conditions are not met. For the sm component (where SM stands for shared memory), the sine qua non condition is that all ranks in the communicator be placed on the same physical node, which appears not be the case in your run. Even when a component is selected, it might provide several implementation

[2022-04-12 14:52] xiaowang119 opened #10263 "Error occours when compiling parallel HDF5 with openmpi-4.1.1"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

openmpi-4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from a source

### Please describe the system on which you are running

* Operating system/version:  Ub

[2022-04-12 15:03] xiaowang119 commented on #10263
So sorry for my negligence, the full log is as follow
[out.txt](https://github.com/open-mpi/ompi/files/8474123/out.txt)
.

[2022-04-12 15:46] jsquyres commented on #10263
This looks like an HDF error, not an Open MPI error.

I see tons of warnings in the output, but only one actual error:

[code]

You should contact the HDF maintainers about this, not Open MPI.

[2022-04-12 15:47] janjust commented on #9759
I think 1K is the threshold, anything smaller is handled in SW. @yosefe
[code]

[2022-04-12 16:05] xiaowang119 commented on #10263
Thank you so much for your patient reply. I'll close this issue!

[2022-04-12 16:05] #10263 closed

[2022-04-12 16:15] RCagnol commented on #10251
I've noticed that when the mpirun command is not executed properly, the following environment variables are set:
[code]

I'm confused on why these are set specifically when running pytest in some ways but not in others, but could these environment variables explain why the mpirun command fails?

[2022-04-12 16:50] devreal opened #10265 "XPMEM integration broken in main/v5.0.x"
I'm trying to build Open MPI main (and v5.0.x) against xpmem (used to work until recently, last change to `config/opal_check_xpmem.m4` was 2 weeks in 6767309af2c) and both fail with a compiler error:

[code]

It appears that XPMEM is found and support is enabled but the `HAVE_XPMEM_H` macro is not set (hence `xpmem.h` is not included in `smsc_xpmem_component.c`).

My configure line is:

[code]

[2022-04-12 17:02] devreal commented on #10265
With the previous commit (e373e54c3185d63287fd3cc1adbe7e0866050d75) building with xpmem support works as expected

[2022-04-12 17:49] wckzhang commented on #10254
After some discussion, I don't think this check is incorrect. Rather I think EFA provider specifically is making a mistake in aligning device to fabric level id. We'll fix this in libfabric and close this issue since this shouldn't be an issue in Open MPI.

[2022-04-12 17:51] awlauria commented on #10257
This will needed to be brought back to v5.0.x. Reopening to track that until the fix is in.

[2022-04-12 17:52] awlauria commented on #10257
Oh - didn't see the PR: https://github.com/open-mpi/ompi/pull/10262

[2022-04-12 19:06] janjust commented on #8120
@thanh-lam Is this still an issue?
I tried reproducing with the following, but on an x86 system [1]

FWIW I tried v4.0.x, v4.1.x , and v5.x but no segfault.

[code]

[2022-04-12 19:15] brminich commented on #9759
yes, by default messages smaller than 1kb are handled in SW. To enable HW tag matching for small messages this threshold needs to be set to the desired value. But this may degrade performance, because there is some extra overhead when using HW TM and the benefit of avoiding extra memory copy with small messages in negligible.

[2022-04-12 19:15] a-szegel commented on #10154
Yes, my problem was that I forgot to install the plugins on my remote machine.  Thanks!

[2022-04-12 19:15] #10154 closed

[2022-04-12 23:53] drmichaelt7777 commented on #9759
On Tue, Apr 12, 2022 at 2:15 PM Mikhail Brinskiy ***@***.***>
wrote:

Thank you guys for the feedback!

The bigger question is if smaller messages in nonblocking MPI calls are
progressing regardless of the h/w assist at the HCAs. Suppose that an app
needs to send out small status or action messages and have these delivered
as soon as possible. There could be a mode for favor BW or favor shortest
d

[2022-04-12 23:59] ggouaillardet commented on #10251
Where are these variables set at the time `mpirun` is invoked?

If so, then it looks like you are doing something like `mpirun mpirun ...` and this simply cannot work.

[2022-04-13 12:26] RCagnol commented on #10251
Yes they are set before mpirun is invoked.

Thanks for your insight, I'm pretty certain I don't do anything like `mpirun mpirun` . Even when running a dummy test, through pytest (using the bare pytest command or  running the tests through markers), which only job is to print the environment variables (with no invocation of mpirun whatsoever), these environment variables are set. Whereas they're no

[2022-04-13 13:39] awlauria commented on #10265
@devreal is this fixed by: https://github.com/open-mpi/ompi/pull/10253 ? It looks like the same/similar errors.

[2022-04-13 13:44] #10265 closed

[2022-04-14 13:17] awlauria commented on #10216
fixed in main: https://github.com/open-mpi/ompi/pull/10271
v5.0.x: https://github.com/open-mpi/ompi/pull/10273

[2022-04-14 13:18] awlauria commented on #10265
v5.0.x pr: https://github.com/open-mpi/ompi/pull/10274

[2022-04-14 14:19] thanh-lam commented on #8120
Hello @janjust ,

I just checked the version of oshrun on my systems and it is:
[code]

Can I try to verify with this level or should wait for 4.0.7rc1?

Thanks!

[2022-04-14 14:20] janjust commented on #8120
Can you try with v4.0.7?

[2022-04-14 16:03] klaa97 commented on #10222
Thank you @jsquyres !

Before opening a PR for this, I would like to understand if actually `prun` with the DVM machine  is the correct way to handle these MPI_Join/Publish/Connect operations.

In case it is, and it is the only way, it would also be very important in my opinion to give some kind of guidance on its usage with relation to the classic `mpirun` command. A simple example is the `--with

[2022-04-14 17:56] keadyk opened #10276 "Incorrect behavior with MPI_Allreduce + MPI_MAX for unsigned long datatype"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Spack / sysadmin installed

### If you are building/install

[2022-04-14 18:46] bosilca commented on #10276
Thanks @keadyk for the report, the reproducer and the proposed fix. With this patch all seem to work fine.

[2022-04-14 19:07] awlauria commented on #10216
PR's merged, closing.

[2022-04-14 19:07] #10216 closed

[2022-04-14 21:27] #10276 closed

[2022-04-14 22:19] janjust commented on #7813
@bjpalmer So I think we (@MamziB and I) know what is happening and why some tests are failing in v5.0.

basically, a lot of the tests have the same pattern.

eg.
[code]

It seems they are populating arrays with scater offsets and values, each generated using `drand()` function.
It seems like the function behaves differently in OMPI v4.1 and v5.0. Where as the generated values are the same in v4.1

[2022-04-14 22:52] MamziB commented on #7813
[drand.txt](https://github.com/open-mpi/ompi/files/8492577/drand.txt)

To further clarify @janjust point, please consider this attached file. I am testing nga-onesided.F test with two processes and double data type running with ompi v5.0.x.

The benchmark creates two arrays with size **m**: one array of doubles (value of each element)  and one array of integers (location of each element in GA). On

[2022-04-15 09:35] klaa97 opened #10285 "master/v5.0.x: `mpirun --with-ft ulfm` produces a Segmentation Fault"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
5.0.0rc4, 5.0.0rc5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Distribution tarball for both versions

### Plea

[2022-04-15 13:16] jsquyres commented on #10222
That is an excellent question.  I'm afraid I don't know the answer.

@bosilca @abouteiller This user is volunteering to write / amend some docs.  Can you help answer the questions above?

[2022-04-15 16:32] wzamazon opened #10286 "Issues with using srun with executable from open-mpi main branch"
Thank you for taking the time to submit an issue!

## Background information

Encountered issue when using srun (from slurm) with executable from open mpi main branch

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

main branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating

[2022-04-16 09:35] drew-parsons opened #10287 "MPI_LONG_DOUBLE causes MPI_ERR_ARG in MPI-IO on i386"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.3

### Describe how Open MPI was installed)

Standard deb package from Debian unstable  (Debian package 4.1.3-2)
`apt-get install libopenmpi-dev`

### Please describe the system on which you are running

* Operating system/version:  Debian unstable (linux 4.19.235-1 (2

[2022-04-17 15:57] wzamazon commented on #10286
I did some investigation.

The error message in v4.1.x was emitted from "orte/mca/ess/pmi/ess_pmi_module.c", when opal_pmix.init() failed and the job was directly launched.

However, re-implementing the same logic in main branch does not seem trivial because:

1. orte is gone. main branch uses prrte
2. in prrte's ess component, there is no pmi module, but slurm and alps.
3. there is not a function

[2022-04-17 16:08] wzamazon commented on #10286
Opened a prrte issue https://github.com/openpmix/prrte/issues/1343. closing this one.

[2022-04-17 17:58] wzamazon commented on #10286
Got the following response from prrte

[code]

[2022-04-18 14:12] bosilca commented on #10222
ULFM does not join worlds, instead we spawn processes from an existing job, so things are slightly simpler there (not that they consistently work, but at least we do not have the issue with exchanging the modex).

[2022-04-18 17:26] awlauria commented on #10286
PMI support was dropped in v5.0.0/main. What is the output of `srun -n 1 env` when running with `--with-mpi=pmix` and without?

[2022-04-18 19:22] awlauria commented on #10215
Thanks. Can you share your config.log? I am unable to reproduce, neither on a RHEL box nor ubuntu v18.04.

[2022-04-18 22:22] ggouaillardet commented on #10286
I think the question is "what should we do is an end user `srun --mpi=pmi1 -n 2 a.out` (2 or more tasks) ?

A consequence of dropping PMI support from v5 is that we now (silently) spawn singletons, and this is very likely **not** what the end users would expect.
If Open MPI fails to contact a PMIx server, should we issue a (warning) message if a PMI1 or PMI2 environment is detected (with two or mo

[2022-04-18 22:47] wzamazon commented on #10286
output of `srun -n 1 env` is
[code]

The output of `srun -n 1 --mpi=pmix env` is
[code]

Main difference is the PMIX environments.

[2022-04-18 22:55] bwbarrett commented on #10286
How do we do this without reinventing the wheel runtime wise?

[2022-04-18 23:06] ggouaillardet commented on #10286
My creativity is being tested...
Challenge accepted :-)

[2022-04-19 13:59] naughtont3 opened #10291 "openmpi-5.0.0rc6 build failing on -ludev"
Building the openmpi-5.0.0rc6 tarball fails during link due to a missing `-ludev`.

Not sure where the udev comes from and why it changed between rc5 and rc6.

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

 - openmpi-5.0.0rc6
 - gcc 9.1.0
 - ucx 1.11.1

### Describe how Open MPI was installed (e.g., from a source/dist

[2022-04-19 14:02] awlauria commented on #10291
I actually hit this last week. Is your build picking up hcoll? That is how I hit it. Can you check your `config.log` for building the mca/coll/hcoll component?

We were able to work-around this by installing `systemd-devel` on the node.

[2022-04-19 14:03] naughtont3 commented on #10291
Yes, looks like that is it.  I won't be able to install `systemd-devel`, but will just disable.

[2022-04-19 18:21] janjust commented on #10291
@naughtont3 , which hcoll version is this? MOFED 4.4? I'm guessing, since I see summit login node.

[2022-04-19 19:08] awlauria commented on #10291
I hit it on `hcoll-4.4.2968-1.49411.ppc64le`

[2022-04-19 19:12] janjust commented on #10291
I don't see this dependency in our current release, v4.7, checking v4.5

[2022-04-19 20:32] edgargabriel commented on #10287
Am I assuming correctly that this is a 32bit platform? I tested on 64bit platforms (I don't really have access to 32bit platforms anymore) and I cannot reproduce the issue there. I would suspect that MPI_LONG_DOUBLE is simply not defined on that platform, but for this we would have to see the output of open mpi configure

[2022-04-19 20:42] wzamazon opened #10295 "main/v5.0.x branch random timeout with ompi-tests/ibm/topology/distgraph1"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

main branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

built from source
[code]
/path/to/mpirun \

[2022-04-19 20:45] wzamazon commented on #10295
I did some debug, and I can see the hang happens inside function `ompi_comm_nextcid`.
The function called `ompi_comm_nextcid_nb`, which submitted a `comm_request`.

It then wait for the request to complete, but the request never completed.

[2022-04-19 20:50] dqwu opened #10297 "mca_io_ompio_file_write_at_all() failed during parallel write of PnetCDF lib"
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
spack installation

### Please describe the system on which you are running

* Operating system/version: CentOS 8
* Computer hardware: AMD

[2022-04-19 21:46] dqwu commented on #10297
This test needs to be run on supercomputers or Linux clusters as it requires 512 MPI tasks.

Load openmpi module (if it is available) for testing. If the system does not have an available openmpi module, build one from source and then run
`export PATH=/path/to/openmpi-installation/bin:$PATH`

Build and install PnetCDF lib with openmpi (if there is no available module), e.g. to /path/to/pnetcdf-ins

[2022-04-19 22:06] drew-parsons commented on #10287
That's right, i386 (i686) is the old intel 32-bit architecture. But in general it knows how to handle 64-bit numbers.

Build logs for openmpi are found at  https://buildd.debian.org/status/logs.php?pkg=openmpi&arch=i386
most recent (4.1.3-2) is https://buildd.debian.org/status/fetch.php?pkg=openmpi&arch=i386&ver=4.1.3-2&stamp=1649668696&raw=0

The build logs don't seem to report MPI types directly

[2022-04-20 07:34] brminich commented on #10297
@dqwu, is there any error like `Transport retry count exceeded on ... `?
Also are these errors seen on the specific nodes, or the failing nodes can vary from run to run?
In general looks like a netwworking issue (DC communication failed, which led to the process termination and CMA errors from its peers)

[2022-04-20 13:28] sekoenig commented on #10111
Thanks a lot for following up and fixing this!  I cannot test easily because I am working with the OpenMPI installation deployed on the HPC cluster I am using.  I will check with the support team there if I might possibly compile a custom OpenMPI version within my home folder.

[2022-04-20 13:32] hoopoepg commented on #10111
@sekoenig the simplest way to test is build UCX with this PR and use
LD_PRELOAD=<path-to-ucx-lib>libucp.so
variable to replace system UCX

[2022-04-20 13:38] sekoenig commented on #10111
Okay, that might be doable without too much trouble. I will give it a shot.

[2022-04-20 14:48] dqwu commented on #10297
@brminich Yes, the log file also contains this error message:
`[chr-0495:3089585:0:3089585] ib_mlx5_log.c:143  Transport retry count exceeded on mlx5_0:1/IB (synd 0x15 vend 0x81 hw_synd 0/0)`

The failing nodes can vary from run to run, as this issue was reproduced with both the debug queue and the compute queue.

[2022-04-20 16:08] mrmundt opened #10300 "`mpirun` symlink breakage on Linux+Conda environments (newest patch)"
Thank you for taking the time to submit an issue!

## Background information

We have a suite of MPI tests for our package Pyomo which utilize a Linux + Conda environment. Two days ago, a new version of `openmpi` was uploaded to Anaconda, and we are now experiencing what appears to be a symlink breakage.

Previously passing test: https://github.com/Pyomo/pyomo/runs/6032066405?check_suite_focus=tru

[2022-04-20 16:59] jsquyres commented on #10297
This sounds like it is turning into an UCX issue...?  FYI @open-mpi/ucx

[2022-04-20 17:05] hppritcha opened #10301 "have to say no to hcoll to run on my RHEL 7 IB cluster"
Hi Folks,

Something changed recently in main wrt hcoll usage.  If i build main with no special configure options, I'm seeing this segfault traceback from a simple hello world:

[code]

hcoll-4.2.2543-1.45101.aarch64
librdmacm-41mlnx1-OFED.4.2.0.1.3.45101.aarch64
Red Hat Enterprise Linux Server release 7.6 (Maipo)

easy workaround is to add --with-hcoll=no on the configure line
or --mca coll ^hcol

[2022-04-20 17:19] mrmundt commented on #10300
UPDATE: We have been digging more into this on our end, and this is actually a particularly strange corner case it seems. When we run `conda install openmpi`, we are getting the version `4.0.2` from the default conda channel. However, later, we install `cyipopt` that flags `openmpi` as a dependency and then installs `4.1.3` from the `conda-forge` channel, and somehow in that update, the `bin` gets

[2022-04-20 18:01] bwbarrett commented on #10301
Which branch are you using?  Do you know if hcoll was being built previously?

[2022-04-20 18:10] hppritcha commented on #10301
i'm using main.  this just showed up in the last day or so.  the software on this cluster has been untouched for months.  I suspect it may have been built but maybe priority has changed form that component?

commit 7c4a40872d33eb37a4cc2e773e09faa99587e1ee looks like it may be related in that maybe prior to that commit the component wasn't being built on this cluster but after this commit it is.

[2022-04-20 18:16] awlauria commented on #10301
HCOLL is now being picked up regardless of whether it was asked for explicitly. I think if ompi detects other things it can build with now, it will pick them up as well.

[2022-04-20 19:34] bwbarrett commented on #10301
Note that hcoll was *ALWAYS* picked up automatically if it was found, regardless of whether it was asked for explicitly.  Like most packages, that has always been the behavior.

What did change is that we recently started looking for pkg-config files for most of our packages, including hcoll.  hcoll (and possibly other MLNX packages) are weird.  The packages themselves are installed in /opt (ie, o

[2022-04-20 20:30] hppritcha commented on #10301
Let's  see if mellanox/nvidia will take a shot at fixing this.  I'd prefer to leave the package detection as is.

[2022-04-20 20:38] hppritcha commented on #10301
@janjust could someone from nvidia take a look at this issue?

[2022-04-20 21:18] janjust commented on #10301
We'll take a look

[2022-04-21 09:13] nfsp3k opened #10303 "Unnormal Performance of MPI_Irecv()"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.2rc4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
I'm currently using a benchmark tool `osu_bw` included in [NVIDIA HPC-X](https://docs.nvidia.com/networking/d

[2022-04-21 11:02] jsquyres commented on #10303
@open-mpi/ucx Could you please investigate?

[2022-04-21 12:33] sekoenig commented on #10111
Question after a conversation with the HPC support team: is is really UCX (libucp.so) that I should be building with the PR merged?  They pointed out it seems I rather need a new  mca_pml_ucx.so, which would mean building a custom OpenMPI.  It may well be possible to get that set up.

[2022-04-21 12:37] hoopoepg commented on #10111
uuups, sorry... of-course you need PML UCX updated, not UCX.
my fault. sorry for that.
UCX is not updated here

[2022-04-21 17:26] bureddy commented on #10303
@nfsp3k The GDR performance can vary based on PCI distance between the HCA and GPU.  And also GDR performance may not be symmetric for HCA reading data from GPU (PCIe read) vs HCA writing data to GPU (PCIe writes).  I think PCie read bw is limited here because of no.of outstanding PCi transactions.

the below article is very old and not the same scenario but discusses some of these issues : https:

[2022-04-21 17:50] rhc54 opened #10307 "OMPI v4.x fails when built against PMIx v5"
The folks at SchedMD have been running into a problem when running OMPI v4.x applications against Slurm when both are built against PMIx v5. They also verified that the same problem exists when running OMPI v4.x applications using the OMPI mpirun cmd if OMPI v4.x is built against PMIx v5.

So it looks like there is something in the OMPI v4.x pmix integration that has an issue with PMIx v5. The pro

[2022-04-21 19:18] dqwu commented on #10053
@edgargabriel
Looks like openmpi/4.1.3 didn't fully fix the issue on E3SM machine Chrysalis with lock files during read.
E3SM developers had deleted all lock files in inputdata yesterday. This morning they were back.

It seems that the lock files for read are not deleted if an opening file call failed:
`ierr = pio_openfile(pio_subsystem, file, pio_iotype, fname, mode) // This calls PnetCDF open fi

[2022-04-21 19:36] edgargabriel commented on #10053
you could try to set --mca sharedfp ^lockedfile.

yes, if something goes wrong (e.g. code is crashing),  the lockfiles will not be cleaned up, and I am not sure that I am aware of an easy solution for this. I will try to think about it.

[2022-04-21 22:17] rhc54 commented on #10307
@dannyauble @wickberg Looping you into this as you uncovered the problem and might be able to answer questions about it.

[2022-04-21 22:55] dqwu commented on #10053
@edgargabriel
Thanks for the suggestion. Setting the following ENV variable should also work, right?
`export OMPI_MCA_sharedfp=^lockedfile`

I have tested the above setting with the test case mentioned in #10297
No .lock file generated but there are hundreds files named xxx.nc.data.xxx and xxx.nc.metadata.xxx generated when the write failed. Is this expected result?

[2022-04-22 11:29] edgargabriel commented on #10053
@dqwu yes, the environment variable is equivalent to the runtime parameter. Hm, I did not expect the individual component to kick-in in this case, but it looks like it has. Try to exclude both, the lockedfile and the individual component,e.g.

export OMPI_MCA_sharedfp=^lockedfile,individual

[2022-04-22 13:18] awlauria commented on #10295
This PR seems related - might be worth trying with this fix: https://github.com/open-mpi/ompi/pull/10308

[2022-04-22 13:22] awlauria commented on #10286
@wzamazon can you try with the patches linked above for main/v5.0.0?

[2022-04-22 13:31] awlauria commented on #8763
With the merging of https://github.com/open-mpi/ompi/pull/10288 into main, this may be resolved. @mathrack can you test/verify?

v5.0.x pr: https://github.com/open-mpi/ompi/pull/10310

[2022-04-22 13:35] awlauria commented on #7694
This is fixed here: https://github.com/open-mpi/ompi/pull/9686

[2022-04-22 13:35] #7694 closed

[2022-04-22 14:40] dqwu commented on #10053
@edgargabriel "export OMPI_MCA_sharedfp=^lockedfile,individual" seems to work, thanks.

[2022-04-22 15:13] david-edwards-arm opened #10312 "Request: update v5.0.x openpmix, prrte submodule pointers for rc7"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v5.0.x

-----------------------------

## Details of the problem

To include various tool fixes into 5.0.x the openpmix and prrte submodule pointers need updating, as described in  https://github.com/openpmix/prrte/issues/1345.  Could this be done for an rc7?

[2022-04-22 15:28] david-edwards-arm commented on #10312
Thanks @awlauria - closing this issue.

[2022-04-22 15:28] #10312 closed

[2022-04-22 20:44] dschulzg opened #10313 "Segfault in MPI_Finalize if MPI_Barrier isn't called first."
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Problem hapens with v4.1.3 and 4.1.1 (noticed with 4.1.1 and then upgraded to 4.1.3 to see if that fixed it.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an oper

[2022-04-22 21:28] bwbarrett commented on #10252
Mpirun behavior

In main today, mpirun is a wrapper around prterun.  In an ideal situation, mpirun could be as simple as:

[code]

There is some added complexity today in searching for prterun and handling –prefix.  The current cod mixes OMPI’s prefix with PRRTE’s prefix in a way that doesn’t generally work.  How relocation and –prefix work are somewhat dependent on whether or not PMIX and PRRTE a

[2022-04-23 02:10] ggouaillardet commented on #10313
@dschulzg the logs strongly suggests UCX is **not** used but Open MPI is using the legacy `btl/openib` component.

You can `mpirun --mca pml ucx ...` in order to force MPI to use UCX or aborts if it is not available.

[2022-04-23 04:31] dschulzg commented on #10313
I forced UCX as you said but it still segfaults but only sometimes.  I ran the test program in a loop 300 times and it crashed 8 times.  The stack dump looks the same to me:
[code]
That being said, it only outputs that stacktrace from one of the 2 nodes in the job after setting --mca pml ucx on the ones that do segfault.

[2022-04-23 05:37] ggouaillardet commented on #10313
This is puzzling ...
Anyway, since the crash occurs at `MPI_Init()` time, maybe you can avoid it by explicitly disabling the `btl/openib` component:

[code]

[2022-04-23 09:03] mathrack commented on #8763
@awlauria using commit 01d5a86c6021a9610b512e06679c11ba8974a833 of the main branch, we no longer have the error `Invalid read of size 8`. Thank you for the fix.

[2022-04-23 09:03] #8763 closed

[2022-04-23 12:58] awlauria commented on #8763
Thanks - it will be in the next v5.0.0 rc (rc7).

[2022-04-23 13:57] rhc54 opened #10315 "Extend mpicc to include PMIx headers"
We have a set of users (e.g., workflow managers) that need to directly access PMIx functions from within MPI applications. They are using OMPI as their MPI. Now that OMPI (starting with v5) directly uses PMIx itself, the PMIx functions are actually visible from within an OMPI program.

However, IIRC `mpicc` doesn't include `-I<path-to-pmix-headers>`, which means that apps wanting to access the PMI

[2022-04-24 01:23] ggouaillardet commented on #10315
@rhc54 do you mean we should either add the path to the external PMIx headers that were used to build Open MPI or to the internal PMIx (if needed)?

From a packaging point of view, that would typically means `openmpi-devel` needs `pmix-devel`.
That would be a bit counterintuitive imho, but that's not a deal breaker.

Last but not least, we would have to add -L... -lpmix since some picky linkers mi

[2022-04-25 15:43] #10111 closed

[2022-04-25 21:38] janjust commented on #10301
@hppritcha

or --mca coll ^hcoll

 Just curious, but does this also work? `-x HCOLL_ENABLE_MCAST=0`
 Definitely seems like a bug in HCOLL coming from an MCAST configuration.

[2022-04-25 21:41] wckzhang opened #10318 "Collective hanging ibm/allgather on main branch"
Open MPI main branch (918fe012bdf183b21ac6f0b32e65b57a85013889)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installed from git clone

### If you are building/installing from a git clone, please copy-n-paste the output from `git submodule status`.

 e4c20e224e8ab32d1558ba273129e1d7b22b083

[2022-04-26 03:17] bwbarrett commented on #10315
I'm not sure there's a great way to have mpicc include the PMIx paths by default, and we don't have a mechanism for adding options that's not a mess today.  If we're going to add the `-I`s for PMIx, that only makes sense if we also add the `-lpmix`, but now we've created a dependency for on applications that didn't exist before (today, applications only link against `-lmpi`.  While Open MPI no lon

[2022-04-26 08:31] Janekdererste commented on #10223
Hi, this issue was stale for a while. @jsquyres or @ggouaillardet do you have any suggestion on how I could narrow down the reason for the error I am seing?

[2022-04-26 15:18] bosilca commented on #10318
what happens if you increase the list of allowed BTL to "self,sm,tcp" ?

[2022-04-26 15:59] bwbarrett commented on #10318
I wouldn't expect --mca btl tcp to work, since the TCP BTL doesn't support send-to-self.  But I would have expected an error if you tried to send to self.  Are you sure it's using the OB1 PML at all, since you're exporting FI_LOG_LEVEL, I assume there's a Libfabric build available?

[2022-04-26 21:32] wckzhang commented on #10318
You're correct @bwbarrett I ran with --mca mtl ^ofi and it failed with a different error. That means my original issue had a hang with the ofi mtl.

However, I also ran with "self, sm, tcp" btl's and it hung as well, so I don't think this is related to the type of communication (mtl/btl), but probably a collective or some other issue:

[code]

Note, this also successfully finishes the test if I ch

[2022-04-26 22:44] bwbarrett commented on #10252
I posted a PR for most of the changes in https://github.com/open-mpi/ompi/pull/10321.  This patch doesn't do anything with prefix option, other than pass it on to the underlying PRRTE.  This is probably not what we want, but since I'm not sure what we want, it's the simplest thing to do.  I think we should merge the PR and sort out prefix later.

[2022-04-27 10:20] rhc54 commented on #10315
Sadly, I don't think so as `pmixcc` has no linkage to MPI and thus cannot compile an MPI application - there are no `-I`s or anything else for the MPI libraries. Nor is there a way to add the MPI flags as PMIx isn't configured with anything that would point to an MPI installation.

FWIW, this seems to be a use-case that is gathering steam. There is a EuroScience project specifically aimed at not o

[2022-04-27 12:13] ggouaillardet commented on #10315
I think @bwbarrett point is the end user can do
[code]

`mpicc` will add the paths/libs for Open MPI, and invoke `pmixcc` (instead of typically `gcc`) that will in turn adds the paths/libs for PMIx

does that make sense?
if yes, does it meet the needs of EuroScience?

[2022-04-27 13:21] rhc54 commented on #10315
Ah, I didn't grok that trick. At first glance, that might work. However, it has one major flaw - it doesn't guarantee that the PMIx used by OMPI matches the PMIx being invoked by `pmixcc`. As we've seen with libevent and friends, having two different versions of the same lib being used by the app causes mucho badness.

What we need is a way to ensure that the MPI library and the app are both being

[2022-04-27 14:28] jsquyres commented on #10315
(Note: after typing out this reply, I find it amusing that I'm channeling my inner Ralph in this reply: "don't make it complex!" 😜 )

I guess I'm not sure I understand the need for this complexity (new configure options, new flags, new wrapper compilers, etc.) because the building blocks are there for users already:

1. Use the nested wrapper compiler approach (e.g., setting `OMPI_CC` to `/path/to

[2022-04-27 14:49] IanSaucy opened #10324 "OpenMPI Freezes during multi-threaded communication"
## Background information
I am working on a project where we use multiple pthreads within a single MPI process, allowing each pthread to communicate with MPI. We have noticed that OMPI freezes sometimes and causes a single thread to ping at 100% CPU utilization and no forward progress is made. We were able to build a minimal example to demonstrate the issue. Unfortunately it is still non-determini

[2022-04-27 17:24] dschulzg commented on #10313
I decided to reevaluate the assertion that this happens at MPI_Init time and I can say I thought it was happening there likely because I forgot to flush the printf before the segfault and missed the message where it actually happened.  This is actually happening at MPI_Finalize time.  I did find that putting a barrier right before the finalize made the condition much less likely to happen - but st

[2022-04-27 18:17] rhc54 commented on #10315
Well....not really. It kinda works if OMPI was using an external PMIx install - the user has to use `ompi_info` to find out which PMIx was used by OMPI, and then set the paths accordingly. Little tedious, but maybe good enough until the use-case gains more traction.

However, it doesn't work at all if OMPI built against its _internal_ version of PMIx. The user may have access to system-level versi

[2022-04-27 18:25] rhc54 commented on #10315
Should have addressed this suggestion. Yes, and that is what the current developers are forced to do (or at least a variant of that suggestion). However, if you consider the average user, that's a pretty poor option. It puts a significant burden on a chemist or physicist to say you have to figure out pkg-config to compile your code, or use `mpicc --showme` and then edit/replace options to do it.

[2022-04-27 18:27] rhc54 commented on #10315
Sure, that would work - though I don't understand the dependency comment. OMPI already depends on PMIx, so I don't see what is being added from the point of view of the package manager?

[2022-04-27 18:40] jotabf opened #10328 "Error with combination of MPI_Win_create_dynamic() and MPI_Rget()"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

### Please describe the system on which you are runn

[2022-04-27 22:20] rhc54 commented on #10315
Fiddled around a bit and here is what I found.

When using the embedded PMIx:
[code]
To compile a PMIx-based program, I only had to add `-lpmix` - the include path already covers `pmix.h` and friends.

When using an external PMIx:
[code]
So the wrapper compiler remained the same, which means you have to add the other flags as well:
[code]
I'll work with the Euro guys to devise a path forward. For

[2022-04-27 22:33] ggouaillardet commented on #10315
Currently, `openmpi-devel` (that provides `mpicc` and `libmpi.so`) depends on `openmpi` (for `mpirun` and `libmpi.so.0`) and `pmix` (for `libpmix.so.0`). With these changes, `openmpi-devel` would also have to depend on `pmix-devel` (for `libpmix.so` and `pmix.h`)

[2022-04-28 01:18] rhc54 commented on #10315
The dependencies are a real can of worms, frankly. You neglected that `openmpi` actually has to depend on `prrte` since `mpirun` is just a wrapper over `prterun`.

Your `ompi-devel` package has to depend on `pmix-devel` since you directly call PMIx functions, so that dependency already exists.

PRRTE has been modified to use the PMIx utilities for code reduction, so `prrte-devel` now also requires

[2022-04-28 10:25] nfsp3k commented on #10303
Thank you @bureddy for your response!

[2022-04-28 14:02] gkatev commented on #10159
[code]
[code]

[2022-04-28 14:21] sekoenig commented on #10111
I have been trying together with the HPC support stuff, but unfortunetely we cannot get it to work.  The problem is that we need to manually compile OpenMPI 5.0, which does not work with the PMIX installation deployed on the cluster (there are compiler errors, presumably that version is too old).  Using the PMIX that comes with the ompi source tree does not seem to be an option, because the cluste

[2022-04-28 14:24] hoopoepg commented on #10111
sure, I will make PR tomorrow & let you know

[2022-04-28 16:20] IanSaucy commented on #10324
As an update, I've also tried Open MPI 5.0rc6 with the same results. Freezing in the same spot etc.

[2022-04-28 16:21] gkatev opened #10335 "Info key not propagated during communicator creation"
Hi, I'm seeing an issue when creating a communicator with `MPI_Comm_dup_with_info`. Even though I pass an info key, it is never delivered to my collective component (in the `module_enable` stage).

I inserted some code during communicator creation and it appears (to my unfamiliar-with-the-comm-creation-code eye) that the info is lost somewhere in the call to `opal_infosubscribe_change_info`.

To r

[2022-04-28 18:53] bosilca commented on #10324
I cannot reproduce with main (v2.x-dev-9807-g0d126c6405) compiled in release mode. I increased the number of threads (THREAD_COUNT) up to 16, and run each test 100 times. Everything went smooth.

[2022-04-28 19:05] awlauria commented on #10285
PR'd to the v2.1 branch here: https://github.com/openpmix/prrte/pull/1351

Will link the submodule update to v5 when we open that.

[2022-04-28 19:07] awlauria commented on #10159
prrte pr: https://github.com/openpmix/prrte/pull/1351

@gkatev specifically, the fix is here: https://github.com/openpmix/prrte/commit/d9d7312af41aeed342028bd79322b1f60e45dbcb#diff-2a67d675dd2b7dd4075c0d9a1bbe98cb2b8498d2e591490fea2fd1dd20dd4b30L96

Would you be able to checkout that prrte branch and verify it works for you?

[2022-04-28 19:46] IanSaucy commented on #10324
@bosilca Thanks for taking a look! On my end I have to allow the test to run until 20-100K tests before it freezes. Each test takes a different amount of time before it freezes but it's usually within that range or about 5-20min of testing.

Thanks!

[2022-04-28 20:21] bosilca commented on #10324
Let's try something else before we go to such testing lengths. Assuming you are using the OB1 PML with the BTLs tcp and self (this will force all non-local communications over TCP by preventing sm BTL from being used), you should be able to dump the status of the sending and receiving queues. I suggest that once you obtain the deadlock, you attach to your application with gdb and call mca_pml_ob1_

[2022-04-29 01:20] IanSaucy commented on #10324
@bosilca Specifying `--mca self,btl` has enabled me to trigger when running on a single node, thankfully in a fairly short period of time as well(when running on a large EC2 instance).

As a point of clarification on getting a dump of the queues. Does that command need to be run on the MPI process or could it also be called from one of the pthreads?

[2022-04-29 02:06] bosilca commented on #10324
You can call it in any context, gdb will execute it in it's own context. I think the segfault is because you are missing the second argument for the call `call (int) mca_pml_ob1_dump(ompi_mpi_comm_world.comm, 1)`.

[2022-04-29 02:21] IanSaucy commented on #10324
Oops, my bad on the typo. I tried again with the correct function params and I'm getting the same result. I was able to attach ARM DDT to the process in order to inspect the message queues. Although less verbose I did notice that all parties waiting on receive calls and there is no data stuck in sending queues.

Something did jump out to me once I started poking around the thread data using DDT. I

[2022-04-29 08:00] gkatev commented on #10159
Indeed @awlauria, I can confirm it now works for me. Thanks!

[2022-04-29 08:19] jeffhammond opened #10339 "attribute functions lead to application segfault"
Your attributes implementation is broken by GCC 11.

I speculate the code that GCC 11 has optimized into badness is not valid C, but I'm not enough of a language lawyer to know for sure.

# The Bug
[code]

# MCVE
[code]

# ompi_info
[code]

# It works with Open-MPI 3...

This code has worked for approximately 8 years with every other MPI implementation I've tried, including this one.
[code]

[2022-04-29 08:49] jeffhammond commented on #10339
4.1.4v1 works, so the bug was introduced in the 5.0 branch.

[2022-04-29 09:28] jeffhammond commented on #10339
I speculate that https://github.com/open-mpi/ompi/pull/10070 is the culprit, based on the timing.  That commit is from March 5, and the error first appears in the tag created on March 8.

@bwbarrett can you take a look at this?

Generally, can the developers of Open-MPI please add more tests so this doesn't happen again?  It seems rather shocking that the Open-MPI test suite does not contain basic

[2022-04-29 09:51] jeffhammond commented on #10339
1bcc6b162cc80ddb5801e1aa5a6762ffd3deabda is broken.  Now to check the commit before it...

[2022-04-29 10:05] hoopoepg commented on #10111
@sekoenig welcome to test: https://github.com/open-mpi/ompi/pull/10340

[2022-04-29 10:31] ggouaillardet commented on #10339
I was able to successfully pass the test program with both `main` branch ( @02d91b56b8eb98e705fbae0f75f31f2a2af55f3d ) and `v5.0.x` ( @ea99285f02ade6c6d0930944b5c29fc633ecdf2f )

FWIW, I configure'd with `--enable-debug`. `valgrind` did not show any memory error.

@jeffhammond can you please copy/paste your `configure` command line?

[2022-04-29 10:34] jeffhammond commented on #10339
I'm using https://github.com/jeffhammond/HPCInfo/blob/master/mpi/test-ompi-rma.sh

[2022-04-29 10:50] jeffhammond commented on #10339
Also, you can see the configure used in ompi_info above. That's why I didn't include it separately.

[2022-04-29 10:53] ggouaillardet commented on #10339
I tried again without `--enable-debug`, and it passes the test.

which compiler are you using?

BTW, the latest updates are in the `main` branch (it has been renamed from `master` a few weeks ago). can you please confirm you did not use the `master` branch? (i do not know if it has been removed or it is outdated).

[2022-04-29 10:56] jeffhammond commented on #10339
I used main but also, you can see I have the failure with multiple 5.0.x release candidates.

[2022-04-29 10:57] jeffhammond commented on #10339
See ompi_info above for compiler information:

     C compiler absolute: /bin/gcc
  C compiler family name: GNU
      C compiler version: 11.1.0

[2022-04-29 12:24] jeffhammond commented on #10339
To rule out other causes, I've removed all MPI-related packages from Apt and build Open-MPI statically.  It seems static is broken in that I have to manually remove `*.la` relative to `mpicc -show` but the result demonstrates that I'm not getting the wrong shared library and that v5.0.0rc5 is still broken.

I guess I'll rule out GCC 11 being the cause but I'm really skeptical that this is a C comp

[2022-04-29 12:36] jeffhammond commented on #10339
Okay, this is some weird ****.  GCC 7 is fine.

I'll figure out which GCC versions are bad, but if it's entirely possible it's a UB situation, in which case it's still an Open-MPI problem.

[code]

[2022-04-29 12:42] robert-mijakovic opened #10341 "OMPI v5.0.0RC6 with ORTE fails to compile when built against PMIx 3.2.3"
## Background information

### What version of Open MPI are you using?

* OpenMPI v5.0.0RC6 with GCC 10.3.0.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

* The package was installed from the distribution tarball of v5.0.0RC6.

### Please describe the system on which you are running

* Ope

[2022-04-29 12:47] dalcinl commented on #10339
@jeffhammond I ran mpi4py testsuite on the commit from your original post under GitHub Actions https://github.com/mpi4py/mpi4py-testing/actions/workflows/openmpi.yml

Full logs here: https://github.com/mpi4py/mpi4py-testing/runs/6227884365?check_suite_focus=true
There is something definitely fishy going on:
[code]

[2022-04-29 13:30] ggouaillardet commented on #10339
I rebuild with the same command and gcc 11.1.0 on rhel7 and was unable to reproduce the issue :-(

which ubuntu flavor are you running on?

[2022-04-29 14:17] dalcinl commented on #10339
Well, it is the ubuntu-20.04 image from GitHub Actions's runners. From the logs:

* Current runner version: '2.290.1'
* Operating System
  Ubuntu
  20.04.4
  LTS
* Virtual Environment
  Environment: ubuntu-20.04
  Version: 20220425.1
  Included Software: https://github.com/actions/virtual-environments/blob/ubuntu20/20220425.1/images/linux/Ubuntu2004-Readme.md
  Image Release: https://github.com/ac

[2022-04-29 14:23] dalcinl commented on #10339
@ggouaillardet This looks like memory corruption. Have you run Jeff's reproducer under valgrind?

[2022-04-29 14:43] bosilca commented on #10335
Too much smartness kill all smartness. The issue here is two folds: the MPI standard require all unknown keys to be removed, and out communicator creation and initialization is done in an asynchronous way. Thus, by the time we call opal_infosubscribe_change_info to notify all info generators that we want to add infos to the communicator, the communicator is not fully created (we have the shell but

[2022-04-29 14:54] gkatev opened #10342 "How to initialize smsc when btl/sm is not used?"
Hi, I'm using opal/smsc in a collectives component. When pml/ob1+btl/sm are used, all works correctly. However, if instead ucx is configured as the PML, smsc remains uninitialized. I noticed that btl/sm calls `mca_smsc_base_select()`, and tried calling that in my code, but even so, later calls to `get_endpoint()` fail.

So, how should I go about initializing smsc in my code when it's not initializ

[2022-04-29 14:55] dalcinl commented on #10339
@ggouaillardet I ran my CI over `ompi/main`: https://github.com/mpi4py/mpi4py-testing/runs/6229692910?check_suite_focus=true
Same failure. This is definitely a regression introduced during the week, things have been green for about a month: https://github.com/mpi4py/mpi4py-testing/actions/workflows/openmpi.yml

PS: Perhaps I should run mpi4py tests daily rather than weekly. But It would be even be

[2022-04-29 15:14] jeffhammond commented on #10339
Ubuntu 20.04 on all my machines...

[2022-04-29 19:17] jeffhammond commented on #10339
I reproduced on the Ubuntu 18.04 AArch64 machine I have, with GCC 11:

[code]

@ggouaillardet what version of glibc do you have on RHEL 7?

[2022-04-29 19:45] devreal commented on #10339
I can reproduce it on Linux Mint with GCC 11.2.0 and Open MPI debugging disabled. Will take a closer look

[2022-04-29 19:45] awlauria commented on #10339
I can't repruduce on my 18.04 laptop with gcc 7.5 (the latest/default).

rhel 8.4 with gcc 8.4.1 also no dice.

[2022-04-29 19:49] jeffhammond commented on #10339
Please use GCC 11. I've tried 7-11 and only 11 triggers this.

[2022-04-29 22:24] devreal commented on #10339
This does not only affect RMA window attributes but all attributes seem broken with GCC 11. I put up https://github.com/open-mpi/ompi/pull/10343 but it's more a bandaid than a fix for code that appears fishy to me. I hope someone who remembers the rationale behind it can comment.

[2022-05-01 14:12] jsquyres commented on #10315
I'm not sure I understand this comment:

* I think that what is being referred to here as `ompi-devel` is the package including the OMPI wrapper compilers (e.g., `mpicc`) and the OMPI header files.  I'm assuming that the intent for the `ompi-devel` package is to compile MPI applications (not the core Open MPI libraries).
* I don't know what precisely is implied by `pmix-devel`, but I would imagine

[2022-05-01 14:31] ggouaillardet commented on #10315
Open MPI directly calls PMIx functions, and that means `pmix-devel` is required in order to **build** Open MPI.
I do not see how that makes `pmix-devel` a runtime requirement for `openmpi-devel`

[2022-05-01 23:56] ggouaillardet commented on #10339
FWIW, I reported this behavior to the GCC folks at https://gcc.gnu.org/bugzilla/show_bug.cgi?id=105449

The issue occurs from -O2. I ran a few tests among the GCC versions I have:
 - GCC 9.2.0 works as expected
 - GCC 10.1.0 evidences the suspicious behavior we see on gcc 11.1.0

[2022-05-02 00:04] apinski-cavium commented on #10339
And the code is just violating C aliasing rules. Pointers types cannot alias int. So when accessing via an "int" you cannot access something which was stored as a void*. (I made a mistake in the GCC bug report because I missed the array was int* and not int** but it was a minor mistake that does not change the aliasing issues).

[2022-05-02 17:15] bosilca commented on #10342
The issue is that when OB1 is not the PML nobody stores the the modex info you are trying to read. The complete fix would be to also store the modex info in the open part of your component.

[2022-05-02 17:51] gkatev commented on #10342
Oh I see! Do you happen to have any readily available resource about the modex's workings?

I see this modex send inside smsc/xpmem, that sends exactly what is needed in `get_endpoint` https://github.com/open-mpi/ompi/blob/c7b907168c4f2b75b39cc93c5e9417031d00c731/opal/mca/smsc/xpmem/smsc_xpmem_component.c#L94

Evidently this is not enough? Could you point to the code in pml/ob1 or btl/sm that does

[2022-05-02 19:31] bosilca commented on #10342
Are you certain that function is called on all processes ?

[2022-05-02 19:37] gkatev commented on #10342
Yes, I see that each process enters it exactly once

[2022-05-02 19:43] hppritcha commented on #10301
yes that works

[2022-05-02 19:44] hppritcha commented on #10301
@janjust says this is an hcoll bug for old hcoll.  the system where this is observed is running rhel7 and will soon be upgraded so closing this issue.

[2022-05-02 19:44] #10301 closed

[2022-05-02 20:22] awlauria opened #10345 "Need to add versions of minimum required dependencies to external docs"
Right now the current required dependencies are listed here:  https://docs.open-mpi.org/en/v5.0.x/installing-open-mpi/required-support-libraries.html

however, minimum supported versions are not listed. A table could be utilized for this if it makes it easier to read.

[2022-05-02 22:23] jsquyres commented on #10345
@awlauria volunteered for this issue today, so I assigned it to him. 😄

Also, since there is likely to be confusion about this kind of stuff, I marked this as a blocker.

**NOTE:** If we want to have tech enforcement of these versions, it might be a good idea to have the minimum versions in a separate data file somewhere in the repo, and let everything read the versions from that file.  For exampl

[2022-05-02 22:39] IanSaucy commented on #10324
I tried mixing up the order of the `irec` vs `isend` and the corresponding `MPI_Wait` calls as well. Same deadlock issue except it changes what is stuck inside the buffers.

[2022-05-02 22:50] awlauria commented on #10341
@robert-mijakovic Thanks for the report.

the main and v5.0.x branches do not support ORTE - it has been removed from the code-base. The only option for building ompi v5.0.x is with prrte (or without it as with the `--without-prrte` configure option). If you would like to run a stable version of OMPI with ORTE + PMIx v3.2.3, your only option would be the v4/v4.1 series.

That being said, building

[2022-05-03 00:16] hjelmn commented on #10342
Have you tried to call from within the coll/sm component initialization? That is generally where the modex is sent.

Also, might be worth chatting offline about your plans for coll/sm. I have been working on it as well to make it NUMA aware. The first cut is to remove all existing collectives and re-implement starting with barrier. So far it is beating Intel MPI's NUMA-aware barrier on a 2-NUMA no

[2022-05-03 02:56] hjelmn commented on #10342
Also, smsc was split out of btl/sm specifically for coll/sm so I am happy to help get that integration complete.

[2022-05-03 03:02] bwbarrett opened #10347 "Coll/HAN and Coll/Adapt not default on 5.0.x"
We never bumped the priority of the HAN and ADAPT collective components on the 5.0.x branch.

I'm not submitting a PR right now (bumping the priority should be easy) because, at least on EFA, Allgather and Allreduce got considerably slower when using the HAN components.  Might be user error, but need to dig more.

[2022-05-03 09:50] robert-mijakovic commented on #10341
@awlauria Thanks for the explanation.

there are still some configure time options inside of OpenMPI 5.0.x branch that suggest that it is still possible to use ORTE, like:
1. --enable-orterun-prefix-by-default - It is possible to enable ORTE run prefix
2. --without-prrte - It is also possible to disable PRRTE, meaning that the other RTE should be able to take over.
3. contrib/platform - Inside the

[2022-05-03 14:34] awlauria commented on #10341
`--enable-orterun-prefix-by-default` is deprecated, and an alias for `--enable-prte-prefix-by-default`. We kept it around for backwards compatibility reasons.

You are correct that there are still references to orte in the contrib files that likely need to be updated to their prte equivalents (or just removed completely). Thanks for noticing this, it should get cleaned up.

Regarding alternative l

[2022-05-03 15:39] awlauria commented on #10341
@robert-mijakovic regarding support for v3.2.3 PMIx for OMPI v5 - it is a complex issue that will need to get sorted prior to release. There is some internal discussion going on of whether this should/can work and what versions of PMIx will be supported.

We'll update the ticket with more details as they come in.

[2022-05-03 15:47] gkatev commented on #10342
Where exactly is the component initialization? I have also tried placing the call in `mca_coll_sm_init_query` and `mca_coll_sm_comm_query`.

I don't have any plans for coll/sm specifically, here I just used it as a testing base. However, we *have* developed a new component for topology-aware collectives, and from your description it appears that there is overlap. I believe that the current plan is

[2022-05-03 17:05] #10339 closed

[2022-05-03 18:46] edgargabriel commented on #10287
it took me a while but I am now able to reproduce the issue, and I have fix ready. The problem is that the default file view that we use internally is not an exact multiple of the data type size (since long double on a 32 bit platform is 12bytes).

[2022-05-04 06:25] cuiyc2000 opened #10354 "Load balancing"
When running my code in cluster， is there any possibility to use LVS or other tools to load balancing?

[2022-05-04 12:58] jsquyres commented on #10354
I see that you posted exactly the same question in https://github.com/pmodels/mpich/issues/5988.

I'm not entirely sure what LVS is, but typical High Performance Computing (HPC) environments have characteristics like this:

- There is dedicated hardware for running compute jobs
- Jobs run start to finish; they are rarely pre-empted
- Jobs typically are allocated a set of hardware at job startup an

[2022-05-04 15:37] cuiyc2000 commented on #10354
Many thanks to you.

[2022-05-05 03:22] benmenadue commented on #10328
A user on our cluster has hit a very similar issue with v4.1.3, but using `MPI_Win_allocate` and `MPI_Fetch_and_op`, and only when the two ranks have different sized windows (everything but rank 0 has a zero-sized window in their example). As with here, it fails with `osc/rdma` but works with `osc/ucx`.

Running with an `--enable-debug` build gave the attached [mpi_fetch_test.log](https://github.c

[2022-05-05 08:55] wm75 opened #10356 "Latest conda-forge build of 4.1.3 for Linux makes cudatoolkit an indirect dependency"
This has recently been discovered by users of the SARS-CoV-2 lineage assignment tool pangolin in https://github.com/cov-lineages/pangolin/issues/441.

In essence, the latest build of 4.1.3 has ucx appearing as a dependency instead of just a constraint. Since ucx in turn requires the rather huge cudatoolkit, package sizes have increased substantially.

Has this change be made for a particular reaso

[2022-05-05 12:44] jsquyres commented on #10356
I think you'll need to ask the conda-forge Open MPI package maintainer; we don't control that.

[2022-05-05 19:30] jsquyres opened #10358 "MacOS 12.3.1 on M1 sysconf(_SC_OPEN_MAX) is returning an error"
This issue started with this post on the users list: https://www.mail-archive.com/users@lists.open-mpi.org/msg34892.html

I Zoom'ed with Scott, and we dug into this a bit.  The root cause of the problem appears to be the `do_child()` function in the default ODLS module.  Specifically:  https://github.com/open-mpi/ompi/blob/8a1f4566b049640e2f203850bdbe76275771047f/orte/mca/odls/default/odls_default

[2022-05-05 19:41] jsquyres commented on #10358
@bosilca found that others are seeing this, too: https://developer.apple.com/forums/thread/666765

Curiously, this is not happening on @bosilca's M1. ☹️

[2022-05-05 19:46] bosilca commented on #10358
Apparently you can alter it on OSX with `ulimit -n XXX` and break things. So, here is a quick patch to protect against such cases:

[code]

[2022-05-05 19:54] jsquyres commented on #10358
@bosilca also found this: https://github.com/gradle/gradle/issues/17274

[2022-05-06 13:11] jsquyres commented on #10358
@bosilca I expanded on your patch (I made the value be an MCA param, just because of my knee-jerk reaction against hard-coding constants in code) in #10360.  Once we agree on the particulars of that PR, I'll cherry-pick it to v4.0.x and PRTE.

[2022-05-06 18:46] bosilca commented on #10358
It turns out that OSX has `/dev/fd` listing the open fd per process (more or less as `/proc/self/fd` in Linux). So, at least for OSX there is a proper solution (I'll make a PR over the weekend).

It could be worth having that extra security around sysconf, but I think I would rather just not close any file if sysconf fails (because MAX_INT is also a legitimate max number of files, and I don't thin

[2022-05-08 00:03] opoplawski opened #10361 "hdf5 testphdf5 segfaults on exit"
Thank you for taking the time to submit an issue!

## Background information

Testing out openmpi 5 for Fedora.  hdf5 1.12.1 test fails.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
5.0.0-rc6

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.

[2022-05-09 14:57] awlauria commented on #10361
@edgargabriel can you take a look? There seems to be some double-free's in the finalize of ompio.

[2022-05-10 02:15] sekoenig commented on #10111
Sorry for the delay, it was more difficult than anticipated to set up a custom OpenMPI built on the cluster.  Many thanks to Sebastian L. from the JSC team to get it done!

I am happy to report now that with #10340 applied I have run a series of tests (based on my originally posted sample code), without encountering the issue anymore.

Thanks for fixing this!

[2022-05-10 14:58] jsquyres commented on #10252
Looks like the fix has been merged into both main and v5.0.x -- ok to close this?

[2022-05-10 16:12] awlauria commented on #10347
I don't recall if there was any discussion of what priority they should be. @bosilca @janjust @gpaulsen @hppritcha @jsquyres

[2022-05-10 16:38] jsquyres commented on #10347
That was definitely the plan: to "preview" han/adapt in the 4.x series and then make it the default to replace "tuned" in 5.x.

[2022-05-10 17:31] jotabf commented on #10328
I was running the same code with `--enable-debug` (on openmpi installation) and it was generating an infinite loop with this output:

`mpirun -n 2 -mca osc rdma -mca btl_openib_allow_ib 1 --mca osc_base_verbose 100 ./test.o `

[code]
[complete_output.txt](https://github.com/open-mpi/ompi/files/8663727/complete_output.txt)

[2022-05-10 17:51] wckzhang commented on #10347
IIRC, HAN has more collectives implemented. We are going to do some performance testing on HAN/Adapt/Tuned.

[2022-05-11 02:33] jjhursey commented on #8991
I'm seeing the same error with `topology/distgraph1` and a hostfile with 3 nodes.
[code]

Configured with:
[code]

[2022-05-11 15:02] awlauria commented on #10157
main: https://github.com/open-mpi/ompi/pull/10348 + https://github.com/open-mpi/ompi/pull/10355
v5.0.x: https://github.com/open-mpi/ompi/pull/10366

PR's merged..closing.

[2022-05-11 15:56] jjhursey commented on #8991
PR https://github.com/open-mpi/ompi/pull/10367 fixes this for me.

[2022-05-11 20:33] joshfisher-cornelisnetworks opened #10370 "segfault when trying to open significantly too many contexts"
Thank you for taking the time to submit an issue!

## Background information
Found issue when using a 2 HFI system but 1 was disabled causing command to open way too many contexts for 1 HFI

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, f

[2022-05-11 21:05] bwbarrett commented on #10347
Before we change the priorities, someone with a device other than EFA really needs to run and see if there is benefit closed to that promised in George's paper.

[2022-05-12 13:45] naughtont3 opened #10373 "romio fails to build due to missing stdatomic.h"
when building an ompi-5.0.x snapshot i get errors about building romio due to missing `stdatomic.h`.

This seems like a new dependency/build require. Should this have been caught during configure phase?

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

 - openmpi-5.0.0 nightly tarball 12-may-2022

### Describe how Open M

[2022-05-12 14:05] jsquyres commented on #10373
@naughtont3 Perfectly valid.  configure should elect not to build ROMIO in this case.  Sounds like a legit bug.

[2022-05-12 14:07] awlauria commented on #10373
FWIW - it looks like it is a bug specific to gcc v4.8, not present on gcc v4.9.

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=58016
https://gcc.gnu.org/gcc-4.9/changes.html

[2022-05-12 14:42] awlauria commented on #7830
@jsquyres ping. can this be closed?

[2022-05-12 14:52] awlauria commented on #10347
@bosilca can you post the performance numbers or provide a link for reference?

[2022-05-12 14:53] bosilca commented on #10347
Not sure what I'm expected to provide here ?

[2022-05-12 15:05] awlauria commented on #10347
1) Are there any known performance data for han/adapt compared to the current ompi defaults?
2) Is there a link to the paper we view?
3) Did you want to open the PR to raise the priorities? You probably have a better understanding of where these priorities should lie.

[2022-05-12 16:57] bosilca opened #10374 "--prefix is not properly propagated to 3rd party libraries"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OMPI main (fa08eac79bc)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

configure with --prefix. Changing the --pr

[2022-05-12 20:12] Akshay-Venkatesh opened #10377 "Fortran configure warnings and build errors with nvidia fortran compiler"
Seeing the following compiler warnings with nvidia hpc sdk 22.2 available here https://developer.nvidia.com/nvidia-hpc-sdk-releases

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distrib

[2022-05-12 20:12] Akshay-Venkatesh commented on #10377
cc @janjust

[2022-05-12 21:35] gpaulsen commented on #5818
What's the state of this?  It looks like #9681 and  #9718 (v5.0.x) have been merged.  Can we close this issue, or are there remaining items?

[2022-05-13 06:17] ggouaillardet commented on #10373
And FWIW, from 3rd-party/romio341/mpl/include/mpl_atomic.h

[code]

That seems to point at a `configure` but when detecting C11 atomics

[2022-05-13 12:54] ggouaillardet commented on #10373
The root cause is `3rd-party/romio341/mpl/include/mplconfig.h` should not be in the tarball (this is an automatically generated file)

That being said, I am not sure why this file is not re-generated at `configure` time, and if it is and `VPATH` is used, why the file in the source directory is used instead of the one in the build directory.

For the time being, a workaround is to remove this file

[2022-05-13 13:11] awlauria commented on #10159
Thanks for verifying, closing.

[2022-05-13 13:11] #10159 closed

[2022-05-13 17:46] bwbarrett commented on #10347
On EFA, we see essentially no performance difference between today's v5.0.x branch and running with `--mca coll_han_priority 100 --mca coll_adapt_priority 100` on the OSU collective benchmarks.  In some cases (allreduce in particular), it hurt performance.  There are some oddities in EFA's performance on v5.0.x right now, so this may be because of EFA.  My ask was that someone with a network that

[2022-05-13 17:57] devreal commented on #10347
I'm planning to investigate https://github.com/open-mpi/ompi/issues/9062 soon and will also look at the general performance of coll/adapt and coll/han on an IB system soon. Will report back once I have the numbers.

[2022-05-13 19:04] jjhursey commented on #8958
I'm also seeing this type of hang in our MTT now that we are running multi-node with both `master` and (more often) `v5.0.x`. With 3 nodes, running the following in a loop will eventually hang (about 10 iterations):
[code]

All processes (6 in total) are stuck with the same stack:
[code]

[2022-05-15 11:40] dalcinl opened #10388 "MPI-4: Bogus typedef and missing definitions and routines related to `MPI_Session`"
I'm using branch v5.0.x from git. The [changelog](https://docs.open-mpi.org/en/v5.0.x/news/news-v5.0.x.html) claims support for `MPI_Session`, however I found the following issues:

* The installed `mpi.h` header file contains the following line:
[code]
To the best of my knowledge, such typedef is not defined in the MPI-4 standard document. If this typedef comes from an errata or some planned exte

[2022-05-15 11:56] hatmer opened #10389 "Return error from node failure"
## Background information

### What version of Open MPI are you using?

v5.0.0rc7

### Describe how Open MPI was installed

tarball

### Please describe the system on which you are running

* Operating system/version: Linux 4.19.0-18-cloud-amd64 SMP Debian 4.19.208-1 (2021-09-29) x86_64 GNU/Linux
* Network type: TCP/IP

-----------------------------

## Details of the problem

I am trying to make

[2022-05-16 01:37] opoplawski commented on #9860
I'm seeing this as well with 5.0.0rc7.  Have you been able to generate a fix?  Thanks.

[2022-05-16 08:51] dalcinl opened #10390 "MPI-4: Broken `P{send|recv}_init` routines"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

git branch v5.0.x

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

NOTE: I'm configuring without ofi and uc

[2022-05-16 10:04] dalcinl opened #10391 "MPI-4: Missing `MPI_F_XXX` C constants"
I'm using branch v5.0.x to assess MPI-4 support.

There are 4 trivial constants (C only) that are missing and should be trivial to add (MPI-4, pp. 844, ln. 5):

* `MPI_F_STATUS_SIZE`
* `MPI_F_SOURCE`
* `MPI_F_TAG`
* `MPI_F_ERROR`

Adding something the following lines to `mpi.h` should be enough:

[code]

[2022-05-16 11:12] hoopoepg commented on #10297
hi
thank you for bug report.

it seems UCX detects error on network and reports it into OMPI. as result OMPI terminates failed rank, but neighbor rank (on same node) may try to communicate with terminated rank via SHM transport using CMA and gets error on `process_vm_readv` call.

is it possible to get logs from same run where `Transport retry count exceeded on ` and `process_vm_readv` messages ap

[2022-05-16 11:53] albandil commented on #9169
I have the same problem (`undefined reference to yylex`) when I checkout the current `v5.0.0rc7` tag from the repository. It turns out that this is indeed (?) an operating system issue. I use openSUSE Tumbleweed, which ships just the shared version of the *libfl* library and no static library. The version of Flex is 2.6.4.

I know close to nothing about Flex, but it seems to me that the library is

[2022-05-16 12:10] albandil opened #10392 "Undefined $SED in configure"
When I configure the `v5.0.0rc7` tag from the repository on openSUSE Tumbleweed (with up to date submodules and *autogen.pl* executed), I see this output:
[code]
The lines 32694 and 32700 are similar and both contain `$SED '1q'`. The content of the variable `$SED` is apparently empty. Only when I do
[code]
then the configuration finishes without complaints. Open MPI, PMIX, as well as PRTE seem to

[2022-05-16 12:43] awlauria commented on #10341
Thanks @opoplawski that is a bug..I'll submit a patch to fix that.

[2022-05-16 19:12] jsquyres commented on #10341
The PMIX_LOG_AGG issue was fixed in main #10393 and v5.0.x #10394.

[2022-05-16 19:54] jsquyres commented on #10358
@bosilca We're gearing up for another v4.1.x RC (and probable release), so I merged #10360.  I.e., we wanted *a* fix for v4.1.x, even if it's not the most optimal.  If are still working on a better `/proc/self/fd`-based solution, awesome -- would still love to see it for a future release.

[2022-05-17 01:52] ggouaillardet commented on #10392
Thanks for the report!

some `AC_PROG_SED` calls are missing in various `configure.ac`

I also noted lex library detection is busted on Tumbleweed:
`/usr/lib64/libfl.so` expects a `yylex` symbol but it is not defined in the `conftest.c` generated by autotools.

I will issue the PRs and check the flex detection issue later on.

[2022-05-17 14:35] #9192 closed

[2022-05-17 14:35] hppritcha commented on #10388
related to https://github.com/open-mpi/ompi/issues/7993

[2022-05-17 15:08] jjhursey commented on #8958
Ref https://github.com/open-mpi/ompi/issues/10318

[2022-05-17 15:09] jjhursey commented on #10318
I think this is the same as https://github.com/open-mpi/ompi/issues/8958 - the problem seems to be with PMIx connect/accept in v5.0.x and main.

[2022-05-17 15:25] devreal opened #10402 "ompi_info_t does not follow OMPI object semantics"
According to the discussion on https://github.com/open-mpi/ompi/pull/10349, the `ompi_info_t` is a) an `opal_object_t` and can thus be allocated using `OBJ_NEW`, but b) must (in the general case) be allocated using `ompi_info_allocate` to make sure the ompi instance is properly retained and released. We cannot move the instance retain/release into the constructor because that would create a cyclic

[2022-05-17 15:44] awlauria commented on #10390
@mdosanjh

[2022-05-17 15:45] hppritcha commented on #7692
we're not going to fix this.

[2022-05-17 15:45] #7692 closed

[2022-05-18 20:32] jjhursey opened #10410 "v4.1: UCX onesided crash (`ibm/onesided/1sided`)"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

`v4.1.x` branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone of the `v4.1.x` branch at 0987319a4ac11423fb140ac650f8d835390b54fc

### Please describe the

[2022-05-19 12:18] awlauria commented on #10392
Fixed by #10400 (main) and #10406 (v5.0.x)

[2022-05-19 12:18] #10392 closed

[2022-05-20 15:05] jsquyres commented on #10358
I think we've got the "good enough" fix merged everywhere it needs to go.  Someday, @bosilca may have time to do a "better" macOS solution.  But in the meantime, we should be in a better place now than we were before.

[2022-05-20 15:05] #10358 closed

[2022-05-21 18:11] tonycurtis opened #10415 "ompi 4.1.3: segmentation fault at launch on Fedora 36"
Thank you for taking the time to submit an issue!

## Background information

4.1.3 does what's described below at launch.  4.1.2 is fine.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[2022-05-21 20:26] jkarns275 opened #10416 "MPI_Comm_split_type does not behave as expected"
## Background information
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Open MPI 4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
pacman

### Please describe the system on which you are running

* Operating system/version: Arch Linux,

[2022-05-22 08:27] pengjintao opened #10417 "Is there any Scientific or Engineering Application dominated by the performance of LARGE message MPI_Allreduce?"
Thank you for taking the time to submit an issue!

## Background information
I have developed a new Allreduce algorithm for large message, and integrated into OpenMPI.
But I cannot find a batch of applications with dominated by large message allreduce （Except the distributed deep learning and Mini-AMR applications.
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name

[2022-05-23 04:15] tonycurtis commented on #10415
Just rebuilt with pmix/libevent/hwloc set to =internal and all works now

[2022-05-23 05:56] hjelmn commented on #10328
I see a bug in the supplied code. You read an MPI_Aint from the ```win_addr``` window then use it as the displacement for the second window. Problem is you never stored anything in the ```win_addr``` window so it is reading garbage.

[2022-05-23 06:10] hjelmn commented on #10328
Will dig into this tomorrow and see what is going on. I don't think much has changes with the dynamic window code in years and it was working.

[2022-05-23 16:26] dqwu opened #10418 "Possible heap-use-after-free reported by AddressSanitizer inside PMPI_Init call"
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
spack installation

### Please describe the system on which you are running

* Operating system/version: CentOS 8
* Computer hardware: AMD

[2022-05-23 16:33] awlauria commented on #10418
This seems similar to #10415

[2022-05-23 19:52] abouteiller commented on #10389
As the large banner on your output indicates, using ULFM with RMA windows is very experimental at this point.

We have had success in the past running some code using the `osc_pt2pt` component, but this component is currently removed. The code reports you are using the `osc_rdma`  component, which has not been tested and may very well deadlock when faults happen in a variety of situations.

You ma

[2022-05-23 20:09] jsquyres commented on #10418
Which version of PMIx are you using?

[2022-05-23 20:11] jsquyres commented on #10415
Can you specify what version of PMIx you were using before you built with the Open MPI-bundled PMIx?

[2022-05-23 20:13] tonycurtis commented on #10415
`pmix-4.1.1-0.2.rc6.fc36.aarch64`

[2022-05-23 20:17] jsquyres commented on #10417
@bosilca @janjust Can you guys chime in here?

[2022-05-23 20:21] jsquyres commented on #10389
@abouteiller Can you look into the "Sorry!  You were supposed to get help..." issue?  It seems like there was supposed to be a real help message there.

[2022-05-23 20:23] dqwu commented on #10418
Slurm is reporting pmi2, not PMIx. OpenMPI was built --with-pmi=/usr, not --with-pmix=...
[code]

[2022-05-23 20:38] abouteiller commented on #10389
The 'node-died' issue appears to be related to `prted` not finding its own files `share/prte/help-errmgr-base.txt`

Are you using an internal prte? (it is indicated in the final lines of 'configure' output)

[2022-05-23 20:46] jsquyres commented on #10416
I am unable to replicate the issue -- your program seems to work fine for me on an older 16 core x86 machine (with 2 NUMA nodes, each one with a single shared L3 cache):

[code]

Can you send the hwloc lstopo output from your machine?

Also, I doubt that we have changed much in this area, but there are some 2nd/3rd-level effects possible from other dependencies: can you try upgrading to the latest

[2022-05-23 22:24] bosilca commented on #10416
I can replicate it by just changing the type (L2 instead of L3). It seems the root cause is an incorrect locality in the proc info (`proc_flags`) in `ompi_comm_split_type_get_part`. I didn't yet had time to look at how the locality info was obtained.

[2022-05-23 22:26] bosilca commented on #10417
Nothing to add, these are the apps we are using for testing allreduce.

[2022-05-23 22:57] jkarns275 commented on #10416
`lstopo` output:
[code]

I will try 4.1.4rc now.

[2022-05-23 23:11] jkarns275 commented on #10416
I compiled 4.1.4rc and still get the same output. It may be worth mentioning that my numa setup is sort of messed up since I only have two sticks of ram but my CPU has four numa nodes, so I believe numa is not actually being used. That could possibly be messing with things? I have some sticks of ram on the way so we will see if thats the case.

`numactl` output:
<details>

[code]

</details>

Is t

[2022-05-24 02:15] ggouaillardet commented on #10417
What about HPCG?

My understanding is the communication part (that is generally not very significant compared to the compute part) is basically based on `MPI_Allreduce()`.
Does the typical message size qualify as "large"?

[2022-05-24 08:32] dalcinl opened #10426 "Performance issues when using oversuscription"
I've been testing mpi4py against `ompi/main` using an automatic schedule that runs on a weekly basis on GitHub Actions.

The GitHub-hosted runners have only two virtual cores, but I run tests with up to 5 MPI processes turning on oversubscription (setting  `rmaps_default_mapping_policy = :oversubscribe` within `$HOME/.prte/mca-params.conf`).
The current workflow file is [here](https://github.com/m

[2022-05-24 13:18] hatmer commented on #10389
I am using an internal prte. I tried adding the path to the openmpi installation to PATH, but that did not fix the missing error text. It's not a problem though.

Calling
[code]
after creating the window does not fix the problem of the node crash not being returned as an error.

It seems the program crashes once the MPI_Get attempts to access a node that is inaccessible (node-died error) or has ra

[2022-05-24 13:24] edgargabriel commented on #10417
@bosilca If I recall correctly, some of the applications doing in-memory checkpointing and using encoding approaches for reliability purposes where pretty heavy on reductions (both for the encoding and decoding part). Not sure whether they are still in use or not.

[2022-05-24 14:53] IanSaucy commented on #10324
@bosilca Do you have any thoughts on next steps to debug this issue? Could the thread synchronization issue be causing issues? Maybe switching away from barriers?

I can also cause the issue to occur and then give you SSH access to the node I'm testing on if that's helpful.

Thanks

[2022-05-24 15:06] devreal commented on #10324
I am able to reproduce this issue on a single node when running with `--mca btl self,tcp` and `THREAD_COUNT` set to 2. I cannot reproduce it with either `THREAD_COUNT` set to 1 (as in the posted code) or with `--mca btl self,sm`. This points to a bug in btl/tcp.

[2022-05-24 15:22] BrendanCunningham commented on #10347
@bwbarrett is this with the OSU microbenchmarks collectives? IMB collectives? Other? Which versions.

[2022-05-24 15:45] jsquyres commented on #10347
We talked about this on the call today.  @bwbarrett will be sending out some information to the devel list (and/or here) about what he ran for AWS.

A bunch of people on the call today agreed to run collective tests and see how HAN/ADAPT compared to tuned on their networks / environments.  Bottom line: we need more data than just this single EFA datapoint:

* NVIDIA
* ORNL
* Cornelius
* IBM
* UTK

[2022-05-24 15:52] jsquyres commented on #10416
@jkarns275 I talked about this today with @bosilca.  He's able to reproduce a variant of this issue; I'm not.  For some reason, his flags are getting set incorrectly (similar to how yours are apparently getting set incorrectly).  Mine are apparently getting set correctly.  ☹️  He's going to dig into this more later today (i.e., to see _how_ the flags are getting set incorrectly).

FWIW: Your RAM s

[2022-05-24 15:54] jsquyres commented on #10426
@awlauria Can you answer @dalcinl's question?  If there's a config change that is needed, this definitely needs to be documented for v5.0.x.

[2022-05-24 15:54] pengjintao commented on #10417
In my implementation, As the message size larger than 64KB, my algorithm will be used.

[2022-05-24 16:00] wzamazon commented on #10417
HPCG is at https://www.hpcg-benchmark.org/

[2022-05-24 16:02] bosilca commented on #10417
I meant we are using the same app that you mentionned in your message.

HPCG could be an interesting case, in order to increase the share of the reduction on the execution time you will need to 1) have a large problem size and 2) have a large number of participants. Not sure what exactly you are targeting, but you might need more than 128 participants.

@edgargabriel is right, the reduction was co

[2022-05-24 16:33] devreal commented on #10426
@dalcinl I don't remember any changes this year that could cause this but I had a patch a while back that added an option to control how MPI processes yield the CPU when idle. The default is still `sched_yield` but you can set `--mca threads_pthreads_yield_strategy nanosleep` to use the `nanosleep` call instead (and `--mca threads_pthreads_nanosleep_time X` to control the time slept; default is th

[2022-05-24 19:44] bosilca commented on #10324
Can't replicate on a setup with a single IP address. This, as well as the assert location reported by @devreal might indicate that the issue is in the code handling multiple interfaces. To check this out, let's make sure we restrict the BTL TCP flow over a single interface (127.0.0.1 on a single node).

What do you get if you run `mpirun -np 3 --mca btl self,tcp --mca btl_tcp_if_include 127.0.0.1

[2022-05-24 21:12] bosilca commented on #10416
All good on Linux, works as expected. Here is how to run it to get as much info as possible from the runtime: `mpirun -x HWLOC_DEBUG_VERBOSE=0 -np 8 --report-bindings ./comm_split`.

If you want to see what HWLOC finds on your node, change HWLOC_DEBUG_VERBOSE to 1 on the command line above. You should get something very similar to the output of hwloc-ls.

[2022-05-24 21:15] IanSaucy commented on #10324
@bosilca Still get the same issue with the update command as well. I'll need to re-compile OMPI in debug mode to check if it fails the assert as well like @devreal found.

Thanks!

[2022-05-24 21:34] jkarns275 commented on #10416
I noticed that if I run with 16 or fewer cores, it appears to work:
`mpirun -x HWLOC_DEBUG_VERBOSE=1 -np 16 --report-bindings ./a.out 2> out` yields:
<details>

[code]

</details>

With any more than 16 cores, we get what I put previously (groups of size one) but those extra details seem to have revealed something, although I'm not entirely sure what meaning is:
`mpirun -x HWLOC_DEBUG_VERBOSE=1 -n

[2022-05-24 21:44] bosilca commented on #10416
I will not pretend I understand why, but according to your output as soon as you start more than 16 processes (on your 32 cores node) your processes are not bound to resources anymore. Therefore, floating processes cannot be split by any type other than node.

I would reach out to the [PRRTE ](https://github.com/openpmix/prrte) folks to get more help.

[2022-05-24 21:46] bosilca commented on #10324
I tried to replicate on the same hardware as @devreal, but so far without success. I will talk with him tomorrow to see if he can share a setup where I can dig a little more into the reasons behind that abort (the abort signals that we are trying to open the connection between a pair of processes multiple times, clearly a bad thing).

[2022-05-24 21:50] jsquyres commented on #10416
@bosilca He's using OMPI v4.1.x -- PRTE isn't relevant.

[2022-05-24 22:17] jkarns275 commented on #10416
Is there a  more bleeding edge build of MPI I should try? Perhaps one that actually uses this so called PRRTE may avoid the issue.

[2022-05-24 22:29] jsquyres commented on #10416
Up to Open MPI v4.x, the underlying runtime system was named ORTE; it was included in Open MPI.  Starting with the upcoming Open MPI v5.0.0, ORTE was split off into a separate project: PRTE.  Hence, PRTE is (sort of) an evolution from ORTE.  But it's not a straight evolution - it contains a significant number of changes and differences compared to its ancestor ORTE.

You can try the latest Open MP

[2022-05-25 00:52] devreal commented on #10324
I think @bosilca is right: I have two interfaces (one being the wifi and one being a docker device). If I a) run with `--mca btl_tcp_if_include 127.0.0.1/16` (notice the `/16` mask, otherwise the value is ignored); or b) disable the docker network interface, the hang disappears. That means this is an issue related to multiple devices in btl/tcp.

[2022-05-25 06:03] dalcinl commented on #10426
@devreal My main concern is that I made absolutely no change to the way I configure Open MPI (either compile time or runtime), and yet I get this huge performance regression. Perhaps it is related to some change in GitHub Actions and how the runners are setup or configured. In the mean time, I'll try your suggestion and report back on the outcome.

[2022-05-25 08:08] dalcinl commented on #10426
@devreal I tried your suggestion (I kept the default time), but [had no effect](https://github.com/mpi4py/mpi4py-testing/runs/6587359633?check_suite_focus=true)

[2022-05-25 12:19] dalcinl commented on #10426
@devreal @awlauria After manually bisecting the issue :sweat:, I can tell for sure the regression is within Open MPI.

The last good commit is 3b4d64f [[logs]](https://github.com/mpi4py/mpi4py-testing/runs/6591499931?check_suite_focus=true), running mpi4py testsuite on 5 MPI processes takes under 3 minutes.

The regression is introduced after merging #9097 (MPI Sessions PR) in commit 7291361 [[log

[2022-05-25 12:37] devreal commented on #10426
Thanks for checking. Let me see if I can reproduce that on my machine

[2022-05-25 13:04] devreal commented on #10335
@gkatev Sorry for the late reply, this slipped under my radar. As @bosilca mentioned, MPI (§7.4.4) requires us to drop any info keys that we don't know about (to provide feedback to the user on whether the info key set was understood by the implementation). The removal is done in `opal_info_remove_unreferenced` at the end of `ompi_comm_dup_with_info` for all info keys that haven't been read at lea

[2022-05-25 13:09] devreal commented on #10402
Removing the blocker label since https://github.com/open-mpi/ompi/pull/10349 was merged and the user-facing issue was fixed. The underlying discrepancy between info allocation and object semantics remains though and should be addressed.

[2022-05-25 13:42] gkatev commented on #10335
Hi @devreal, I'm aware of the removal of unreferenced info keys. I've dealt with it by making sure to read any keys in module activation. The scenario here takes place before `opal_info_remove_unreferenced` is called, in the path triggered by `ompi_comm_activate`. Trying to read the info in the module enable stage fails.

From what I understand from @bosilca's description, `opal_infosubscribe_chan

[2022-05-25 15:04] devreal commented on #10335
I see, thanks for the clarification. `opal_infosubscribe_change_info` looks for subscribers for each key in the `info` object and invokes the subscriber callback. If there are no subscribers for a particular key, the info will be dropped. `ompi_comm_assert_subscribe` subscribes to selected communicator keys (two lines above the call to `opal_infosubscribe_change_info`). The call to `opal_info_dup`

[2022-05-25 17:17] hppritcha commented on #10426
looking in to this.

[2022-05-25 17:58] hppritcha commented on #10426
looks like a piece from 2b335ed45370c1ac29379654e099038b2f627ad7 disappeared with the sessions support

[2022-05-25 18:37] hppritcha commented on #10426
@dalcinl could you try the patch at #10428 ?

You should see a message like this:
[code]
if its working for your oversubscription case.

[2022-05-25 18:57] jkarns275 commented on #10416
Ive received those additional sticks of ram. If for some reason that resolves the issue we’ll have a good idea of what may be causing the bug?

ill try v5.0.0rc before and after this to see if it makes a difference.

[2022-05-25 21:41] jkarns275 commented on #10416
Oddly enough, v5.0.0rc appears to work properly with two sticks (ran with 32 processes here):

<details>

[code]

</details>

[2022-05-26 00:50] jkarns275 commented on #10416
So oddly enough now that each of my numa domains actually has RAM, the process function appears to work as expected when I use mpi 4.1.4rc:

`mpirun -x HWLOC_DEBUG_VERBOSE=0 -np 17 --report-bindings ./a.out`

<details>

[code]

</details>

If necessary, I can remove the new sticks of ram to recreate the bug. I don't know the internal workings of MPI well enough to say what may be going wrong but i

[2022-05-26 00:57] IanSaucy commented on #10324
Thanks for all the help on this issue everyone! I'm wondering if you(@devreal) could describe your setup a little bit more? Using the below command I still see the freeze happening. I re-compiled OMPI with `--enable-debug` but haven't see the assertion error yet but the freeze is still there.

[code]
Thanks!

[2022-05-26 06:13] dalcinl commented on #10426
@devreal Look like your suggestion was not enough to workaround the issue. I'm just trying to figure out why.
Did you forget to mention that I should have set the MCA parameter `mpi_yield_when_idle = true` as well? Perhaps you assumed that yield_when_idle was already true, given that I was oversubscribing, and you did not know about the bug @hppritcha is fixing in #10428. Is either that, or the na

[2022-05-26 12:55] devreal commented on #10426
Yes, I was assuming that this was set automatically but it looks like it isn't. Have you tried setting `mpi_yield_when_idle = true` manually?

[2022-05-26 13:59] hppritcha commented on #10426
i think the intent of https://github.com/open-mpi/ompi/commit/2b335ed45370c1ac29379654e099038b2f627ad7 was to avoid forcing the user to set additional ompi mca parameters if prte knows that the ompi app is being run in an oversubscribed manner.

[2022-05-26 15:09] dalcinl commented on #10426
@hppritcha As I commented in #10428, your patch worked fine. My question to Joseph was unrelated to your fix, I just wanted to know why his suggestion did not work.

[2022-05-26 17:44] bwbarrett opened #10430 "v4.1.5 release checklist"
**NOTE:** The Open MPI v4.1.x branch was created after v4.0.5.  Hence, for some of the `git log ...` commands, the `last_release_tag` should probably be `v4.0.5`.

## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gn

[2022-05-26 18:56] #10205 closed

[2022-05-26 19:16] abouteiller commented on #10389
The root cause for the missing help message is here https://github.com/openpmix/prrte/issues/1360

[2022-05-26 22:58] rhc54 opened #10431 "PRRTE/PMIx release schedule impact?"
I've sometimes gotten the impression that PRRTE/PMIx are holding up OMPI v5.0 release. Yet then I look at your issue tracker and see tons of problems in the MPI/OPAL layers in v5.0, which makes me think that PRRTE/PMIx are _not_ the critical path.

So I'm not sure where you stand. We have a few "blockers" over there, and so far nobody has shown any inclination to work on them. They therefore are w

[2022-05-27 14:47] robertsawko opened #10432 "Random freezes of Infiniband"
Hello, I would appreciate some advice on the following issue.

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
OpenMPI 4.1.1 and UCX 1.12.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
OpenMPI and UCX were instal

[2022-05-27 16:35] michaellass opened #10433 "Parallel MPI_Get on same window provide wrong data when using mtl/psm2 and osc/ucx"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

I can reproduce this issue with version 4.1.1 <s>but _not_ with versions 3.1.4, 3.1.1 and 2.1.2. So this looks to me like a regression in OpenMPI 4</s>(see https://github.com/open-mpi/ompi/issues/10433#issuecomment-1140262603).

### Describe how Open MPI was installed (e.g

[2022-05-27 17:05] jsquyres commented on #10432
@open-mpi/ucx  FYI

[2022-05-27 17:07] jsquyres commented on #10433
@mwheinz Is PSM still your responsibility?

[2022-05-27 17:16] mwheinz commented on #10433
@jsquyres, not PSM2, no.

@BrendanCunningham, who at Cornelis is managing PSM2 these days? It doesn’t look like Tim is a member of the OMPI devs?

[2022-05-27 18:40] BrendanCunningham commented on #10433
@jsquyres Yes, this is my responsibility.

@michaellass did you try this with OMPI and PSM2 via the OFI MTL (`--mca mtl ofi -x FI_PROVIDER=psm2`)?

[2022-05-27 19:14] janjust commented on #10432
@robertsawko  Which IB Device is present on your system?

[2022-05-27 20:04] michaellass commented on #10433
Unfortunately version 4.1.1 which I use to reprocude the issue is built without ofi mtl on this cluster. I just tested it with OpenMPI 4.0.5 with ofi built in, but there the psm2 mtl is missing, so I cannot compare directly. Anyway, on that version, the ofi mtl with `FT_PROVIDER=psm2` does work without issues.

Is there a way to tell if `FT_PROVIDER=psm2` does what it is supposed to do? `FT_PROVID

[2022-05-27 22:10] robertsawko commented on #10432
Thanks for responding so quickly!

Is this what you are asking?

[code]

[2022-05-27 23:12] janjust commented on #10432
Thanks, what if you specify `-mca pml ucx -x UCX_NET_DEVICES=mlx5_0:1`

What do you mean by random freezes? Does this mean it happens sporadically, or it simply doesn't go past the first send/recv message? If the above runtime parameters don't help. What's the backtrace on both ranks when it freezes?

[2022-05-28 00:46] bosilca commented on #10432
@janjust is right, according to your logs, UCX PML disqualify itself because the list of transports was empty.

[2022-05-28 13:11] michaellass commented on #10433
I was able to reproduce the issue with v4.1.4 freshly built from the corresponding git tag. However, the problem only shows up when OpenMPI is built with UCX support.

**Without UCX:**

[code]
With this build, I cannot reproduce the issue, even when explicitly choosing pml cm and mtl psm2.

**With UCX:**

[code]
UCX behind that path was installed via EasyBuild.

With this build, I can reproduce th

[2022-05-28 13:44] mwheinz commented on #10433
Oh, this again. I haven’t worked on OPA hardware in a while but I remember this well. UCX sees the OPA hardware and thinks it’s MLX gear and breaks things.

I have a decades-long conspiracy theory that MLX “doesn’t try very hard to make sure they don’t cause problems” for their competitors.

[2022-05-28 14:09] yosefe commented on #10433
@michaellass @mwheinz Can you pls check with latest 4.1.x? https://github.com/open-mpi/ompi/pull/10011 could be a fix for this issue.
If it doesn't help, can you pls test the "With-UCX" build with `-x UCX_MEM_EVENTS=no` and `-mca pml ^ucx` (separately)?
Thanks!

[2022-05-28 14:13] mwheinz commented on #10433
Sorry, @yosefe - as I mentioned I no longer have access to OPA hardware.

[2022-05-28 14:35] rhc54 commented on #10341
I don't think you want to do that - it means you have no aggregation, which is exactly what you said you didn't want to do. The correct solution is to update the submodule pointer and configure to require PMIx v4.1.3 or above.

[2022-05-28 14:40] yosefe commented on #10432
@robertsawko what is the output of `ls -l /sys/class/infiniband/mlx5_0/device/driver` ?
Also, can you pls try with latest v4.1.x branch, perhaps f38878e9ce7e4c164a392258d1505544a57666a2 is fixing the issue?

[2022-05-28 14:42] rhc54 commented on #10341
There really is no way to fully support PMIx versions prior to v4.1.3. For one thing, PRRTE will never do so, which means you immediately lose `mpirun`, which is not desirable as you subsequently lose several new OMPI features, including fault tolerance and MPI sessions.

The `--without-prrte` option means that you are only going to use OMPI in direct launch scenarios (e.g., using `srun` with Slur

[2022-05-28 14:49] michaellass commented on #10433
I can still reproduce this with current 4.1.x (1c67bf1c6a156f1ae693f86a38f9d859e99eeb1f). I tested the following two options with that new build:

* `-x UCX_MEM_EVENTS=no`: Does not help.
* `-mca pml ^ucx`: Does not help. In fact, `-mca pml ucx`, i.e., the opposite, works around the problem. It only shows up with pml cm. That to me is the weird aspect of this issue: It seems to be caused/triggered

[2022-05-28 14:56] yosefe commented on #10433
@michaellass can you pls try also with `-mca osc ^ucx`? Maybe the one-sided component is causing the problem. if it helps, can you pls run the original command with `-mca osc_base_verbose 999` and provide the output, to show how osc component is selected?
And if doesn't help, for debug purposes, can you pls remove all UCX modules from OpenMPI directory ($prefix/lib/openmpi/*ucx*) to see if it help

[2022-05-28 15:01] michaellass commented on #10433
Sure! `-mca osc ^ucx`  _does_ help! So we are getting closer to the issue.

Here is the output produced when adding `-mca osc_base_verbose 999`:
[code]

[2022-05-28 15:13] yosefe commented on #10433
@michaellass thanks, one more thing to try: use `-mca osc_ucx_priority 0` instead of `-mca osc ^ucx`
If it helps, it will show the problem is with OSC/UCX selection priority (rather than the initialization) and the fix should probably be using [`opal_common_ucx_support_level()`](https://github.com/open-mpi/ompi/blob/b506f73b279466ca49c94c94923749d5cc570c55/opal/mca/common/ucx/common_ucx.c#L231)  f

[2022-05-28 15:23] michaellass commented on #10433
Using `-mca osc_ucx_priority 0` also fixes the problem. I'm happy to test any patches.

I'm still trying to wrap my head around the issue. Is it that the UCX osc should only be used when also using the UCX pml? Or that it should not be used together with psm2 (but it seems to work when using the ofi mtl with provider psm2)?

[2022-05-28 15:25] yosefe commented on #10433
Seems the issue is that osc/ucx should not be used by default with OPA hardware, same as pml/ucx is not used by default with OPA hardware.

[2022-05-29 20:05] robertsawko commented on #10432
Hi! Thanks again to everyone for all their commitment and responding over the weekend too.

@yosefe
[code]
Also, I am using 4.1.1 stable. But I am happy to recompile with the commit you specified.

@janjust you are right, when I specify:
[code]
the benchmark runs like a sprint runner on the last 10m of the final day of an Olympic competition... Sorry. So is that something that I need to specify? M

[2022-05-30 12:19] gkatev opened #10435 "Map by l3cache ignored in v5"
Hi, I'm trying to specify `--map-by l3`, on v5.0.0rc7, but it's not working. Other mappings, like `core`, `numa`, `socket` work as expected.

[code]

When `map-by l3` is specified, it reports `Mapping policy: BYSLOT:NOOVERSUBSCRIBE`. This system has 4 cores per L3, so I expect the two processes to map to cores 0 and 4. Testing with v4.1.3 it appears to work correctly:

[code]

[2022-05-30 12:33] mkre opened #10436 "UCX issues with ibv_fork_init() and Open MPI 4.1.x"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from a source tarball.

### Please describe the system on which you are running

* Operating system/vers

[2022-05-30 13:43] robertsawko commented on #10432
@yosefe, I can confirm that the problem is actually fixed with 4.1.x - I no longer need to specify the variable and the `Sendrecv` produces number that I expect of our Infiniband. Many thanks for pointing this out.

[2022-05-30 13:43] #10432 closed

[2022-05-31 13:39] IanSaucy commented on #10324
@devreal Interesting, I am not able to get the issue to go away even restricting the network card usage as you described. Are you able to provide some more details about the operating system and machine(VM or physical) that you are running the test on? Maybe my environment is introducing some sort of other conflict.

Also, how often in general did you see the assertion error when running the test

[2022-05-31 14:44] bosilca commented on #10324
The assertion only triggers in a scenario with multiple IP network interfaces, as soon as you restrict to a single interface you should never see the assert.

Back to the test: I've run the test hundreds of time and other members of the team did similar tests, but we were unable to make it deadlock. This might indicate we are chasing the wrong lead, and the problem is not with the communication la

[2022-05-31 18:04] carlosrosales opened #10437 "Version 5.0.0rc7 generates broken runtime"
Hi,

I built from source 5.0.0rc7 on an AWS EC2 hpc48.xlarge instance ( AMD Milan class processor, Amazon Linux 2 with kernel 4.14.262, EFA enabled ) and found no errors in the configuration or build process. I used gcc 11.2.0 for the build. However the runtime does not seem to work at all . mpirun simply returns and not even "mpirun --help" works. There are no errors, just a silent failure.

Befo

[2022-05-31 18:07] jsquyres commented on #10437
FYI @open-mpi/efa

I doubt that this is an EFA-specific problem, but the reporter specifically mentions AWS/EFA.

[2022-05-31 18:25] wzamazon commented on #10437
I can reproduce this issue, and I am positive it is not EFA specific. As carlos mentioned, `mpirun --help` does not produce any output.

[2022-05-31 18:38] wzamazon commented on #10437
`prterun --help` does not print anything either.

[2022-05-31 20:37] #10390 closed

[2022-06-01 07:47] gkatev opened #10438 "Improvements and fixes for coll/HAN"
Hi, I have been looking into the HAN collective component, and would like to suggest some usability improvements and some fixes. I was planning on implementing these improvements (or some/most of them) and submitting PRs myself. So, in this issue, I'm looking for the "green light" that these suggestions are desirable, or any ideas/comments regarding them, or to know if someone else is already work

[2022-06-01 12:24] awlauria commented on #10437
The submodule pointer in prrte is pretty up-to-date, pointing to this commit: https://github.com/openpmix/prrte/commit/f75647a0518b5a476011f543200fca1cf8600cb8

I don't see anything obvious that came after this that would fix the issue, but I don't recall seeing it myself.

[2022-06-01 12:59] rhc54 commented on #10437
Yeah, that is pretty out-of-date now, and indeed does not include the fix for this problem.

[2022-06-01 13:03] awlauria commented on #10437
Can you point to what commit fixes this problem? I don't see any obvious fix for this in the 8 commits that came after this update.

It's moot, since we'll update the submodule pointer anyway for the next rc, but for documentation purposes it would be nice to know.

[2022-06-01 17:15] awlauria commented on #10437
@carlosrosales or @wzamazon would you be able to verify that the latest v2.1 prrte branch fixes this issue?

[2022-06-01 19:49] wzamazon commented on #10437
@awlauria

I tried update prrte in v5.0.x to v2.1 but encountered several issues:

First, prrte v2.1 configure failed and says it requires pmix >= 4.1.3, while openpmix in Open MPI v5.0.x is v4.1.3.

This was solved when I update `openpmix` in v5.0.x branch to latest of `v4.1` branch.

However, with openpmix  v4.1. branch, prrte cannot be compiled. error message was
[code]

This compilation error

[2022-06-02 13:09] bartoldeman commented on #10436
I can just add a bit of perspective, not a real solution. We (Compute Canada) use a single Open MPI installation on multiple clusters, some have omnipath, many infiniband, some only ethernet, and for us this is just a fact of live that you need to set various MCA environment variables to make it work properly (or you could set them in a configuration file). Sometimes otherwise we have issues as ab

[2022-06-02 14:09] mkre commented on #10436
@bartoldeman, thanks a lot for your input. Your usage scenario is pretty similar to ours. We are already applying quite a few of these manual MCA settings to prevent different issues (another one which just crossed my mind is https://github.com/openucx/ucx/issues/4866). While I understand that cross compiling Open MPI is not what most people are doing, I am wondering if this one here is something

[2022-06-02 18:33] awlauria commented on #10426
Merged to main and v5.0.x - closing.

[2022-06-03 11:39] gkatev commented on #9885
I gave this issue some more thought. The issue stems from the fact that when the `module_enable` function of a coll-component is called, it is not guaranteed that all coll-function pointers in the comm have been initialized by a previous component. This applies to all components that attempt to save these pointers in `module_enable` (e.g. coll/han), and not just coll/ucc.

1. This is likely to hap

[2022-06-03 12:02] janjust commented on #9885
@vspetrov

[2022-06-03 12:06] dalcinl commented on #9197
For the shake of MPI-4 completeness, some minimal support could be added first.

* `MPI_COMM_TYPE_HW_GUIDED`: Just support info key `"mpi_hw_resource_type"` with value `"mpi_shared_memory"`. The implementation is equivalent to `MPI_COMM_TYPE_SHARED`, so it should be trivial to implement.
* `MPI_COMM_TYPE_HW_UNGUIDED`: I'm not sure about this one, but returning `MPI_COMM_NULL` should be OK?

[2022-06-03 12:16] dalcinl commented on #10391
@awlauria Could you please ad the `MPI-4.0` label ?

[2022-06-03 12:17] dalcinl commented on #10388
This issue should be labeled as `MPI-4.0`.

[2022-06-04 12:50] rhc54 commented on #10437
Why OMPI is targeting the PMIx v4.1 branch is a mystery to me - it was targeting v4.2 before. Regardless, I have updated the v4.1 branch so PRRTE builds against it.

I'm not seeing any hangs, nor is the PRRTE CI. You'll need to provide more info to ensure you aren't hanging in the MPI layer.

[2022-06-04 15:54] dalcinl opened #10449 "MPI-4: Broken communicator out of MPI_Comm_create_from_group()"
I'm using current git main branch, configuring with debug arguments and `--with-<dep>=internal` for all `<dep>`s.
[code]

Looks like something weird is going on with MPI_Comm_create_from_group().

This is a trivial reproducer using mpi4py. Clarification: The C-level call to `MPI_Comm_create_from_group()` uses arguments `stringtag="org.mpi4py"`, `info=MPI_INFO_NULL`, and `errhandler=MPI_ERRORS_RETU

[2022-06-05 23:50] rhc54 commented on #10435
Could you please generate an xml file of your topology and post it so I can try to reproduce the issue?

[2022-06-06 04:49] strocode commented on #7311
I have a similar problem - I'm trying to bind all processes to socket #1 but I can't work out how.

[2022-06-06 07:02] gkatev commented on #10435
[lstopo xml](https://github.com/open-mpi/ompi/files/8842459/topo.xml.txt)

Let me know if I can further help

[2022-06-06 17:30] rhc54 commented on #10389
FWIW: the missing help message problem has been fixed in PRRTE (both master and release branches).

[2022-06-06 17:41] rhc54 commented on #10315
The problem is that OMPI continues to include internal versions of the package, so the user cannot readily know whether the library they are referencing uses the internal or an external version of PMIx, and if the latter, then which external version was used. Yes, they could be trained to use `ompi_info` or some other mechanism to figure it all out - but again, this generates extra steps that crea

[2022-06-06 19:21] jsquyres commented on #10449
@hppritcha is likely the one we need to look at this, but he's out this week.

[2022-06-06 19:38] jsquyres commented on #10431
Yo @rhc54!

Yes, you're right.  We've been trying to bang on the drum over here to get people to help with PMIx and PRTE.  We've definitely ratcheted up the pleading; I don't know if it's had much of an effect yet.

[2022-06-06 19:56] jsquyres commented on #10431
I think that this github issue was mostly a "heads up" notice from @rhc54 to us; I'm going to close it because we're tracking the need for PMIx / PRTE stuff elsewhere (i.e., the need for people to jump in and contribute to PMIx / PRTE!).

[2022-06-06 19:56] #10431 closed

[2022-06-06 19:58] jotabf opened #10452 "MPI_Win_attach() size limit"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.3 and v5.0.0rc7

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

### If you are building/installing fr

[2022-06-06 20:01] jsquyres commented on #10452
@open-mpi/ucx FYI

[2022-06-06 20:26] jotabf commented on #10452
Hi @janjust. I'm trying to avoid using the `osc ucx`, because I have unexpected behavior (explained in #10328). Then, I am trying a solution with `osc rdma`. Is this possible?

[2022-06-06 20:33] janjust commented on #10452
For `osc rdma` I think @devreal is most familiar with that code.  If I drill down the #10328 issue, it seems it boils down to failures in `osc ucx` on HCAs which do not support HW atomics - is that correct? Because from what I can tell in #10328, that issue seems to work in `osc/ucx` case.

[2022-06-06 20:33] jsquyres commented on #10370
@joshfisher-cornelisnetworks Did you intend for this to be a self-assigned issue?  I.e., if it's an HFI issue, that's a Cornelis issue, which is you, right?

[2022-06-06 20:36] mwheinz commented on #10370
Josh, did you mean to open a Jira?

[2022-06-06 20:42] jotabf commented on #10452
@janjust Sorry, I reference the wrong issue. The problem that I cited is in #9580, where the `MPI_Win_lock` generate a synchronism in my code, that I could fix in the `osc rdma`, but I could not find a solution to `osc ucx`.

[2022-06-06 20:49] mwheinz commented on #10370
So, as point of history, the OFI BTL was originally written by Intel as part of the OmniPath project. If the failure is in the OFI BTL it might be Cornelis’ responsibility now. It’s not clear. You might want to reach out to Sean Hefty - check OFIWG/libfabric to reach out to him.

[2022-06-06 20:50] janjust commented on #10452
Ah yes - this issue is due to the HCA not supporting HW atomics, and we really don't have a non HW atomic work around. Just curious, in this specific example, are these still Connect-X 3 devices? I think @devreal would be better at answering the issue at hand.

[2022-06-06 20:54] jotabf commented on #10452
@janjust I'm using the same hardware in all cases.

[2022-06-06 21:08] jsquyres commented on #10370
Sean Hefty won't have much of a clue on Open MPI code -- he's more the libfabric guy than the Open MPI guy.  Regardless, unless there's a non-HFI reproducer, I don't know if anyone else in the Open MPI community can work on this, because no one else will have HFI hardware.

[2022-06-07 08:01] torehl opened #10453 "ompi 4.1.4 fails to compile in oshmem/mca/spml/ikrit/spml_ikrit.c:513:36: error: too few arguments to function ‘memheap_find_segnum’"
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

openmpi-4.1.4.tar.bz2   from download page
92912e175fd1234368c8730c03f4996fe5942e7479bb1d10059405e7f2b3930d  openmpi-4.1.4.tar.bz2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Currently Loa

[2022-06-07 12:06] FlorentGermain-Bull commented on #10438
For now, we have 2 similar implementation in the han component

1. The collectives using `mca_coll_han_comm_create`
In this vue, there is one sub_communicator for each level for each component we want to use on it.
For example, on inter_node level (up_comm), we have one communicator for libnbc and another one for adapt. These component are "forced" through `ompi_comm_coll_preference `.

2. The col

[2022-06-07 12:58] jsquyres commented on #10453
@open-mpi/ucx FYI

[2022-06-07 13:38] devreal commented on #10452
I will can look into osc/rdma this week. @jotabf what is the error you're seeing when you try to attach 70GB?

[2022-06-07 15:28] #8991 closed

[2022-06-07 16:56] jotabf commented on #10452
If I run with v4.0.3 I have

[code]

If I run with v5.0.0rc7 I have

[code]

When I use only 7GB, the code runs completely. At least, when I use v4.0.3

[2022-06-07 20:54] tonycurtis opened #10454 "pkg-config and PMIx potential conflict"
Thank you for taking the time to submit an issue!

## Background information

I have OpenMPI installed as a PMIx-aware launcher for a separate OpenSHMEM implementation that also uses PMIx.  Open-MPI installs a `pmix.pc` file.  So when configuring OpenSHMEM, `pkg-config` discovers that file, because it sees the OpenMPI directories.  But...the installation directory inside OpenMPI that `pmix.pc` poi

[2022-06-08 07:57] gkatev commented on #10438
Thanks for the responses here and in the PR, I now better understand what goes on in HAN!

I presume that the idea in all our minds, is that *at some point* the dynamic path will supersede the historical one. The dynamic path is not currently a match for some of the historical implementations in HAN, i.e. those that use non-blocking collectives, and this is the reason that it has not yet replaced

[2022-06-08 08:47] gkatev opened #10455 "Undefined reference to opal_built_with_rocm_support, opal_rocm_runtime_initialized"
## Background information

[code]
Configure line:
[code]

[config.out.txt](https://github.com/open-mpi/ompi/files/8859835/config.out.txt)

## Details of the problem

Hi, with the latest main, when compiling an application I receive:

[code]

I'm not sure if I have rocm on the system, probably not. Adding `--without-rocm` does not alter the result.

[config-no-rocm.out.txt](https://github.com/open-

[2022-06-08 09:09] FlorentGermain-Bull commented on #10438
To extend the dynamic part of han on non-blocking collectives, extending COLLTYPE_T enum to non-blocking collective and write dynamic functions for these non-blocking collectives should be enough. To support them by name, `mca_coll_base_colltype_to_str` should alse be extended.

This fix we talked about yesterday for #8248, it probably was a copy-paste or a merging error, sorry for that one: https

[2022-06-08 12:18] FlorentGermain-Bull commented on #10438
PR #10456 created

(1) yes exactly

(2) Another issue havind a global MCA parameter is that the only component which can be used for all the collectives must provide an implementation for all the collectives. In particular, if we extend han to non-blocking collectives, there is no component that provides an implementation for both blocking and non-blocking collectives.

[2022-06-08 13:08] gkatev commented on #10438
Perfect (the [signed-off-by](https://docs.open-mpi.org/en/main/contributing.html#open-source-contributions) thing is missing).

(2) Yes it could get a bit confusing. Perhaps another approach would be for all MCA parameters (including the non-coll-specific ones) to remain unset (NULL) by default. In this approach, the first non-han component that implements each collective, i.e. the one with the hi

[2022-06-08 13:34] gkatev commented on #10455
Yes it does pretty strange. I will see if I can reproduce it on another system, and double check I haven't done any oopsies

[2022-06-08 13:45] edgargabriel commented on #10361
@awlauria may I ask how did you come to the conclusion that the problem stems from ompio? I looked over the valgrind file and I could not find an indication for that. This doesn't mean that the problem is not there (or its not due to something in ompio), I just would like to understand what points to ompio here.

As a side note, I am debugging a very similarly looking problem with the accelerator

[2022-06-08 13:50] gkatev commented on #10455
Ok I did everything again extra-clean and now it works, little surprise there, sorry for the noise (not sure what had gone wrong before)

[2022-06-08 14:12] awlauria commented on #10437
@AboorvaDevarajan created https://github.com/open-mpi/ompi/pull/10457 to bring the v5.0.0 submodule pointers up-to-date.

[2022-06-08 18:24] janciesko opened #10459 "List of issues with OMPI master+ULT+PartCom"
This tracks current issues for ULT- and PartCom support in OMPI.

ULT Support:
- [ ] Compilation fails on current master @ HEAD when configured to --with-threads={qthreads,argobots} with
` ../../opal/mca/threads/qthreads/threads_qthreads.h:29:10: fatal error: qthread.h: No such file or directory
   29 | #include "qthread.h"` Configure seems to be not setting -I/PATH_TO_ULT_LIB
- [ ] OMPI hangs whe

[2022-06-09 06:08] davidlcorbitt commented on #8301
@tnorlund what was the resolution?

[2022-06-09 08:15] kitchenknif commented on #8531
Ran into this issue on OpenMPI 4.1.4 installed via homebrew on a M1 macbook pro running macOS Monterey.

TMPDIR is set to ~/tmp

I am running a [MEEP](https://github.com/NanoComp/meep/) script using mpirun (`mpirun -n 3 python3 script.py`).

If I run using a single process, I don't run into any errors, but running with more than one, I get the error
[code]

At more than one process, the error star

[2022-06-09 16:10] awlauria commented on #10437
The update to prrte/pmix modules has been brought into the v5.0.x branch. can you verify whether it fixes your issue?

[2022-06-09 21:42] joshfisher-cornelisnetworks commented on #10370
Have a pull request for the issue that caused this segfault targeted for v4.1.x.

[2022-06-09 23:08] wzamazon commented on #10244
There seems to be multiple issues. The following PR fixed one:

https://github.com/open-mpi/ompi/pull/10462

[2022-06-10 02:15] wzamazon commented on #10244
Any PR

https://github.com/open-mpi/ompi/pull/10463

This fixed the segfault of `pp_1sided` and `halo_1sided_put_alloc_mem`

[2022-06-10 03:31] ericch1 opened #10464 "ompi/v5.0.x: Error at launch with 5 processes or more: "...But I couldn't open the help file: (null). Sorry!""
Hi,

I don't know if it is the same problem as in #10096, but I have the following message when I am launching with 5 processes or more with a simple MPI hello world:
[code]

I am building with ompi/5.0.x branch, here are the full configuration information:

https://giref.ulaval.ca/~cmpgiref/ompi_5.x/2022.05.30.22h00m02s_ompi_config.log

https://giref.ulaval.ca/~cmpgiref/ompi_5.x/2022.05.30.22h00m

[2022-06-10 14:20] devreal commented on #10452
@jotabf I tried running your test. I don't see anything wrong Open MPI. AFAICS, the problem seems to be in the test: the code puts a 760MB array (`get_value`) on the stack and then on my system segfaults when calling `MPI_Init` (gdb shows no stack frame inside MPI though). Not sure what exactly is going on there but allocating large objects on the stack is not a good idea in general.

If I allocat

[2022-06-10 14:55] jotabf commented on #10452
Hello @devreal,

I have just found the problems with my execution. Even though my machine has 512 GB, I was executing in the wrong way which was limiting the memory to 16 GB. Then, this was the cause of the test with ~7GB has worked but the ~70GB don't.

Sorry, for the trouble. I will close the issue.

[2022-06-10 14:55] #10452 closed

[2022-06-10 20:11] awlauria commented on #10464
That wrong error message is certainly a bug, you should be getting a helpful message, something like this:

[code]

Since you're running locally, I assume you have 4 physical cores?  To get around the 4 proc limitation you could do:

[code]

or something similar to what the help message I pasted above suggests. I'll see if I can take a look as to why it isn't being printed.

[2022-06-10 20:32] rhc54 commented on #10315
Just got burned by this again while helping Argonne - nice segfaults due to conflicting PMIx libraries being picked up. Made worse by apparent bugs in the OMPI configure code that are blocking the ability to build with external PMIx/PRRTE libraries.

Sigh

Argonne will file the configure bugs - if you truly object to providing the `mpicc` option, I guess I'll have to find a way to distribute the c

[2022-06-10 20:33] ericch1 commented on #10464
Hi!

The "bug" disappeared last night here when our nightly test ran against the commit 6650cc90524 .
The last "bad" commit was: b12ffb659549e5d4ae.

We are launching with "--oversubscribe" option which seems still supported...

Thanks anyway! :)

[2022-06-10 20:33] #10464 closed

[2022-06-10 20:56] BrendanCunningham commented on #10347
Cornelis OmniPath results, 2 nodes, 22 ranks per node. 1 run of each benchmark in each configuration so I haven't measured variance.

(ompi/v4.1.x, no coll/han coll/adapt MCA arguments):
[code]

(ompi/v4.1.x, with coll/han coll/adapt MCA arguments):
[code]

(ompi/main, no coll/han MCA coll/adapt arguments):
[code]

(ompi/main, with coll/han coll/adapt MCA arguments):
[code]

[2022-06-10 21:23] michaellass commented on #10433
The affected cluster is back from maintenance and I have tested all relevant branches: main, v5.0.x and v4.1.x. The results are a bit unfortunate:
* main: I am not able to reproduce the original problem with commit 2befd74658995341f3edf4891b0873b9e71a1b1d. I therefore have not tested the proposed patch https://github.com/open-mpi/ompi/pull/10443.
* v5.0.x: I am not able to reproduce the original p

[2022-06-11 20:15] michaellass commented on #10433
I finished bisecting and the issue disappears on v5.0.x and main with commit c6de09940fa970570e4c4cd6d223e3ddce6e2fa9. Starting with that change, it seems to be fine to combine mtl/psm2 and osc/ucx on our OPA hardware.

<details>
<summary>Bisection details and log</summary>

### Used software:

* GCC 11.2.0
* UCX 1.11.2

### Configure command

[code]
ofi, man pages and btl-uct needed to be disable

[2022-06-13 12:49] wzamazon commented on #10244
The hang with `c_accumulate` with efa turns out to be a bug in libfabric EFA installer. Fix is in https://github.com/ofiwg/libfabric/pull/7829. It will take a while for mtt to ingest the change.

[2022-06-13 12:51] wzamazon commented on #10244
Remaining issue are:

1. c_put_dynamic_self/c_get_dynamic_set always hangs, even for 2 ranks.
2. When btl/tcp is used, there are segfaults with `c_get_accumulate_ddt1` and `c_get_accumulate_ddt2`
3. When btl/tcp is used, `c_accumulate` is quite slow, not sure it is normal or not.

[2022-06-13 19:13] jsquyres commented on #10459
@shintaro-iwasaki Can you have a look at this?

[2022-06-13 19:17] awlauria commented on #10402
5.0.x: https://github.com/open-mpi/ompi/pull/10420

[2022-06-13 19:23] devreal commented on #10402
We should leave it open for now. The fixes in https://github.com/open-mpi/ompi/pull/10420 and https://github.com/open-mpi/ompi/pull/10349 didn't fix the underlying issue of info objects not being pure ompi objects. We'll have to discuss the path forward on this.

[2022-06-13 19:28] janjust commented on #10347
X86 ConnectX-6 cluster, 32 nodes, 40 PPN.
OMPI V5.0.X

Any value above 0% is Adapt/HAN outperforming Tuned.

[code]

![image](https://user-images.githubusercontent.com/3287332/173429001-ea37a471-420b-4c69-b8f2-df97a195435c.png)

![image](https://user-images.githubusercontent.com/3287332/173429034-3acbb066-871a-49a7-927e-dd9ac60b27e6.png)

![image](https://user-images.githubusercontent.com/3287332/

[2022-06-13 19:33] awlauria commented on #7987
@markalle is this resolved or does it still need to be documented?

[2022-06-13 19:40] jsquyres opened #10468 "Finish the TO-DO docs list for v5.0.x"
There are a bunch of Github issues with the "[Documentation](https://github.com/open-mpi/ompi/issues?q=is%3Aissue+is%3Aopen+label%3Adocumentation)" tag on them, and some of them even have the "[Blocker](https://github.com/open-mpi/ompi/issues?q=is%3Aissue+is%3Aopen+label%3A%22Severity%3A+blocker%22+label%3ADocumentation)" tag on them.

This issue points to all the remaining documentation issues, t

[2022-06-13 19:42] jsquyres opened #10469 "Document why we still have the smcuda BTL in v5.0.x"
NVIDIA has indicated that they still want to keep the `smcuda` BTL for the v5.0.x release.

We need to explain why it is still there / what+when it is used (and when it should be explicitly disabled).

FYI: @bosilca

[2022-06-13 22:11] benmenadue commented on #9759
A similar question as this has been raised by one of the users on our cluster, but this time in reference to processes on the same node, where the communication happens through UCX via shared memory. Their application uses an Isend+Irecv->compute->Wait model, and while they see the expected compute/communication overlap when the processes are on different nodes (so through UCX+IB), it seems there'

[2022-06-14 14:48] awlauria commented on #10347
Here's some runs with han + adapt compared to current collective defaults using ob1 on power9.

6 nodes at 16 ppn. Testing at 40 ppn seems to have similar (or maybe better) results for han..But I did not aggregate them. A negative % indicates that han/adapt did better, higher percentage it did worse.

Running on these same machines with mofed 4.9 + ucx 1.10.1 showed little to no difference when co

[2022-06-14 16:14] mrmundt commented on #10300
UPDATE: With the release of 4.1.4, this issue still exists.

[2022-06-14 16:44] edgargabriel commented on #10300
Apologies for my lack of knowledge, but do you have any information (or any way to find out)  who created the conda openmpi package? I am not aware of the Open MPI community doing this, at least I don't recall the topic coming up on any of the conference calls. mpirun still exists in all Open MPI versions. So whoever created the package probably made a mistake and introduced the problem. Would it

[2022-06-14 16:53] mrmundt commented on #10300
@edgargabriel - I linked the ticket we have open there, too. When we found this issue, we didn't know if it was from the build or the package.

[2022-06-14 17:35] #10300 closed

[2022-06-14 17:54] dfaraj opened #10471 "Is there a way to disable traffic striping in openmpi?"
Thank you for taking the time to submit an issue!

## Background information
on nodes with two high speed network interfaces, one on each CPU socket, it seems openmpi by default stripes the data between the two interfaces.  Is there a way to disable that? meaning, cores on first socket use attached NIC and cores on second socket use the other NIC.

### What version of Open MPI are you using? (e.g.

[2022-06-14 20:09] jjhursey commented on #10391
@drwootton said that he would try to get to this next week.

[2022-06-14 20:10] shintaro-iwasaki commented on #10459
As I left Argonne a year ago, I might not be the right person for this, but please let me know anything I can help. Jan should have known it.

(Currently, Yanfei Guo is the POC on the Argobots side.)

[2022-06-14 21:05] jsquyres commented on #10459
@shintaro-iwasaki Gotcha.  What's Yanfei Guo's github ID?

[2022-06-14 21:53] bwbarrett commented on #10318
Adding a 5.0 tag, since wei reports this happens in 5.0 as well.

[2022-06-14 22:25] jsquyres commented on #10471
FYI @open-mpi/ofi

[2022-06-15 14:50] awlauria commented on #10347
I seem to be running into issues running with han/adapt with the imb benchmarks, for example:

[code]
which is slightly worrisome. Has anyone else run imb with han/adapt, and gotten actual numbers?

[2022-06-15 14:59] awlauria commented on #10437
@wzamazon we discussed this a bit yesterday, and came to the conclusion that the internal pmix submodule pointer was pointing to the v4.2 branch, however the VERSION file in openpmix was not updated to reflect that (my bad - this should have been checked a long time ago). This seems to be corrected now in the openpmix branch repo - thanks @rhc54 .

For clarity:
- The internal openpmix should alway

[2022-06-15 16:54] wzamazon commented on #10437
Thank you! I can confirm the current 5.0.x branch does not have this issue any more.

[2022-06-15 21:56] wzamazon commented on #10244
`c_put_dynamic_self/c_get_dynamic_self` hang will be fixed by PR https://github.com/open-mpi/ompi/pull/10473

[2022-06-15 22:19] bwbarrett commented on #10471
If you are using the OFI MTL, each rank will chose exactly one NIC to use (of providers of the same name that are available).  There is no way to turn this behavior off, other than setting environment variables inside Libfabric to have each process only see one available provider.  You would have to check with your provider's documentation for how to best accomplish this.

[2022-06-16 03:07] dfaraj commented on #10471
Thanx @bwbarrett
I can actually just write a wrapper script around the binary to set the X number of avail NICs per rank.

[2022-06-16 03:07] #10471 closed

[2022-06-16 03:51] frizwi opened #10474 "Point to point protocols sometimes take a long time to complete"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
OpenMPI v4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Compiled from release source - with UCX

### If you a

[2022-06-16 04:53] frizwi opened #10475 "MPI_Finalize hangs"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Compiled from release source - with UCX

### If you are build

[2022-06-16 06:11] frizwi commented on #10474
Just to clarify, the timings above are per iteration of the same packet size

[2022-06-16 08:44] BenWibking commented on #10474
I regularly run on this cluster. I suspect it may be OS noise, rather than something related to OpenMPI itself.

For instance, running the "fixed work quantum" benchmark from http://www.unixer.de/research/netgauge/osnoise on 48 cores of a single node, I get:
![fixed_work_quantum](https://user-images.githubusercontent.com/1781919/174029691-fd95b67c-ce3a-4102-81c5-7bf07478fbdd.png)

Note that this b

[2022-06-16 09:10] BenWibking commented on #10474
On this system, it looks like there are timing variations of ~100s microseconds on a loop iteration:
[code]
![detour_noise](https://user-images.githubusercontent.com/1781919/174034453-44088e3e-14b5-4127-aa9d-c48492d48a83.png)

I will defer to the developers as to whether this could explain the timing variations you're seeing.

[2022-06-16 12:31] jsquyres commented on #10475
Can you send a small C or Fortran example program that shows the problem?

FYI @open-mpi/ucx

[2022-06-16 12:34] janjust commented on #10475
Looks like an osc issue, a small example would help.

[2022-06-16 12:36] janjust commented on #10475
How many ranks? Nodes? Are there any that are still active? It looks like the hang is in the finalize barrier one rank waiting on others.

[2022-06-16 12:37] hoopoepg commented on #10475
according call stack it waits for completions of remote access operation

[2022-06-16 15:46] shintaro-iwasaki commented on #10459
@yfguo He is leading the MPICH project.

[2022-06-16 17:10] jsquyres commented on #10459
@yfguo It looks like there are some errors with the qthreads implementation in Open MPI.  @shintaro-iwasaki used to be the maintainer of this, but now -- perhaps by default? -- the ownership has apparently transferred to you...?  We're having some compile issues as listed in this issue.  Can you investigate?

[2022-06-16 17:20] shintaro-iwasaki commented on #10459
Sorry for interruption. I believe @janciesko owns the Qthreads/Open MPI part.

https://github.com/open-mpi/ompi/pull/8479
https://github.com/open-mpi/ompi/pull/8500

I think Jan posted this issue to fix it later.

[2022-06-16 17:30] jsquyres commented on #10459
Ah, ok.  @janciesko Can you also update the `owner.txt` files so that we don't ping the wrong people in the future?  😄

[2022-06-16 19:28] bosilca commented on #10474
One-sided communications are not a replacement for two-sided communications. One-sided communications have well defined reasons to exists, and usually they can only perform well in these conditions. Going back to the example above `Fence + Get + Fence` has basically no chance to performing better than MPI_Sendrecv, because while it removes the handshake of the send/recv it adds two additional hand

[2022-06-16 19:45] awlauria commented on #10437
Thanks ! I think we can close this issue. @carlosrosales the fix will be in rc8. in the meantime you can clone and build the current v5.0.x branch for a fix.

[2022-06-16 19:45] #10437 closed

[2022-06-16 20:07] awlauria commented on #10318
This seems to be a dup of #8958 - should we close this one or the other one?

[2022-06-16 23:16] wckzhang commented on #10318
Doesn't matter we can close this one if it's convenient for tracking

[2022-06-17 00:07] frizwi commented on #10475
Single node, 48 cores, All processes still active. FYI, I used to have a Barrier just before before the Finalize, but it still only gets stuck in Finalize. Not sure If I am able to come up with a smaller example but @hoopoepg I'll have a look more closely at any RMA calls.

I'm getting a 404 trying to access open-mpi/ucx

[2022-06-17 00:39] jsquyres commented on #10475
@open-mpi/ucx is a group of people here on Github.  My "FYI @open-mpi/ucx" notation was a github notification that alerted the UCX team / made them aware of this issue.

@bosilca had good comments in your other issue about MPI one-sided operations: https://github.com/open-mpi/ompi/issues/10474#issuecomment-1158055699

Your call stack implies that you have windows that still exist at Finalize.  I t

[2022-06-17 02:15] benmenadue commented on #10474
@BenWibking Hmm, that's unexpected, thanks for letting us know. When we originally tested our OS we couldn't see much in the way of "OS-level noise". I'm wondering it one of the OS updates over the last few years has introduced this -- I think there were some significant updates to the kernel's task scheduler during one of the updates. While our periodic benchmarks jobs haven't shown any degradati

[2022-06-17 03:42] BenWibking commented on #10474
The [Mantevo](https://mantevo.github.io/index.html) mini-apps will definitely stress test the halo exchange type of communication as used in CFD and weather codes, particularly the miniAMR and miniGhost apps. The DOE Kripke benchmark code is also exceptionally sensitive to timing jitter: https://github.com/LLNL/Kripke

[2022-06-17 04:58] frizwi commented on #10474
It's annoying that I cannot reproduce this behaviour in my test program, i.e the timings are always consistent there. So there must be something specific about the data structures/memory alignment in the real program that's causing the issue but I can't see what.

Basically my workflow is as follows:
[code]
The `dataset` is `std::vector` with struct pointers. It's the same across all processes

`n

[2022-06-17 07:57] gkatev opened #10476 "cpu-list/pe-list not working in v5.0.x"
Hi, I'm trying to use the cpu-list functionality in v5.0.x (7d0750a), but I'm getting some errors. They do appear to be parsing/typo related to some extent.

[code]

In v4 I'm able to use `--cpu-list 0,4 --bind-to cpu-list:ordered` to run on cores 0 and 4. What would the intended equivalent of this in v5.0.x be?

<pre>
<b>$ mpirun -n 2 --cpu-list 0,4 --bind-to cpu-list:ordered osu_latency</b>
The

[2022-06-17 08:29] glanzkaiser opened #10477 "MPI Fortran Problem (OpenMPI-2.1.1 from OpenFOAM)"
Hi all,

I am trying to compile Trilinos with OpenMPI-2.1.1 from OpenFOAM and I get this:

![Capture d’écran_2022-06-17_15-11-23](https://user-images.githubusercontent.com/72222484/174258859-75da8655-bc65-4d0e-af87-ab555c03a237.png)

Then I try to compile SuperLUDist and I get this:

![Capture d’écran_2022-06-17_15-24-44](https://user-images.githubusercontent.com/72222484/174258985-7abad7b2-34b9-4

[2022-06-17 10:43] ggouaillardet commented on #10477
Please copy/paste the error message instead of posting screenshots.

is there a link between Trillions and OpenFOAM?

is there any reason why you want Trillionos to use Open FOAM embedded (and old) Open MPI 2.1.1?
you claim you deleted Open MPI 2.1.1, but `mpicc --showme` still refers 2.1.1, which is very odd (are you sure you deleted correctly and how?) `libmpi_mpifh.so` is the Open MPI library f

[2022-06-17 12:56] rhc54 commented on #10476
The man page is indeed out-of-date - not sure if/when it will be updated. A quick check of the code doesn't find any "ordered" option, although the mapper code does support it - I'll have to add it. The "pe-list" option had a bug in processing lists that included commas, but that has been fixed - could possibly be a question of what has gone back to PRRTE v2.1 release branch and whether or not tha

[2022-06-17 13:06] gkatev commented on #10476
Ah okay, so I wait for the fix to land in ompi (maybe it already is in master, I didn't check.. I will). But from what I understand after pe-list is fixed, further fixing will still be required for the "ordered" stuff, so that the cpu list will function like it did in v4? Note also in the first example another possible typo: `--cpu-list 0,4` gets translated to `pe-list=0,4` instead of what I assum

[2022-06-17 13:23] glanzkaiser commented on #10477
Sorry for that, I have a hard time to copy/paste the error message since it is in Qemu.

The link is both are science packages that I want to use, and the reason is because OpenMPI 2.1.1 works for "Hello World" and I want to use that for MPI enabling in building Trilinos. Instead of using new OpenMPI.

I understand that it is most likely OpenFOAM setting for OpenMPI 2.1.1 is disabling-mpi-fortran.

[2022-06-17 13:46] jsquyres opened #10479 "Document what changed from Open MPI v4.1.x --> v5.0.x"
Originally taken from the "to-do" section in the Open MPI docs:

- [ ] What specifically does `--disable-io-romio` do?
- [ ] Do we still have AMCA files?
- [ ] Do we still have `--tune` files?
- [ ] Document this new breakpoint functionality: https://github.com/open-mpi/ompi/commit/f97d081cf9b540c5a79e00aecee17b25e8c123ad
- [ ] Add that we do support “single dash” `mpirun` options, but we don’t wa

[2022-06-17 13:54] jsquyres opened #10480 "Documentation: run-time changes v4.1.x --> v5.0.x"
Originally taken from the "to-do" section in the Open MPI docs:

- [ ] #11730
    - Eliminiated all -foo options
    - Modernized some of the examples
    - Much more work needs to be done to update it for all the PRTE changes since Open MPI v4.1.x.
- [ ] #11731
- [ ] Add that we do support “single dash” `mpirun` options, but we don’t want people to do that.
- [ ] #11732
    - See https://github.c

[2022-06-17 13:55] jsquyres commented on #10476
Agreed: the `mpirun` man page in v5.0 is (currently) a slightly warmed-over version of the v4.1.x page.  See #10480 -- it *needs* to be updated before v5.0.0 is released.

[2022-06-17 14:06] jsquyres opened #10481 "Documentation: man page items"
- [ ] It’s possible that a lot of *tokens* in the RST man pages should be `tokens`.
- [ ] Look for “See the ___ section” text and create appropriate cross references.
- [ ] There’s some shmem man pages with list that have incorrect indentation in the RST, which results in odd line break, extra bold face, and strange indentation.
    * Example: `man-openshmem/man3/shmem_double_prod_to_all.3.html` –

[2022-06-17 14:33] jsquyres commented on #10477
It looks like there is still an Open MPI v2.x install somewhere on your system; I suspect that the problems you have running Open MPI v4.x. is because there is an unintentional mixing of Open MPI v2.x and v4.x on your system, and things go downhill from there.

You didn't use our template for filing Open MPI issues; can you please answer these questions:

* Describe how Open MPI was installed (e.g

[2022-06-17 14:56] rhc54 commented on #10476
Actually, I have to correct myself - there is an "ordered" option and it should be working correctly. I'll check the translation and operation here in a bit as part of the mapper update.

@jsquyres Someone over here perhaps can update that man page? I can provide advice if it would help.

[2022-06-17 15:00] jsquyres commented on #10476
@rhc54 Yes.  I actually have a draft email to you that I started after typing that response earlier this morning w.r.t. mpirun docs and our email earlier this week.  Let me finish + send it to ya...

[2022-06-17 15:02] jsquyres commented on #10468
This issue has been made moot by:

* #10479
* #10480
* #10481

[2022-06-17 15:02] #10468 closed

[2022-06-17 15:39] glanzkaiser commented on #10477
How to uninstall the OpenMPI-2 completely?

Here you go:
1. Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

For OpenMPI-4.1.3 and OpenMPI-4.1.4 I download it here:
[ompidownload](https://www.open-mpi.org/software/ompi/v4.1/)
using the tarball then extract it then build it and install it

For Open

[2022-06-17 16:54] jsquyres commented on #10477
What was the exact `configure` command line that you used to build Open MPI v4.x?  Did it succeed?  After that, did you build and install Open MPI v4.x successfully?

I cannot speak to how OpenFOAM is bundling Open MPI 2.x; we have no control of how downstream / 3rd-party packages integrate with Open MPI.  You'll have to ask them how to uninstall any version of Open MPI that their build system ins

[2022-06-17 19:06] bosilca commented on #10474
Many opened questions, let me try to focus my answer on a particular topic, the handling of concurrent messages. For reference I copied here the communication scheme you mentioned in your message:
[code]

The sender is unrestricted, it has a lot of nonblocking sends to realize, in some order. But before it even try to figure out how to send the data, it starts the communication by sending the hand

[2022-06-18 08:00] glanzkaiser commented on #10477
What was the exact configure command line that you used to build Open MPI v4.x? Did it succeed? After that, did you build and install Open MPI v4.x successfully?

First I download then enter the directory and compile it:
wget https://download.open-mpi.org/release/open-mpi/v4.1/openmpi-4.1.3.tar.gz
**tar -xvf openmpi-4.1.3.tar.gz
cd openmpi-4.1.3
./configure --prefix=/opt/hamzstlib**
(in /opt/hamzs

[2022-06-18 08:05] ggouaillardet commented on #10477
What does `type mpicc` says?

[2022-06-18 08:08] glanzkaiser commented on #10477
'type mpicc'

mpicc is hashed (/opt/hamzstlib/openfoam/ThirdParty-9/platforms/linux64Gcc/openmpi-2.1.1/bin/mpicc)

[2022-06-18 08:15] ggouaillardet commented on #10477
it would be funny if it pointed to `/opt/hamzstlib/bin/mpicc`

[2022-06-18 08:33] glanzkaiser commented on #10477
how to point it to `/opt/hamzstlib/bin/mpicc` ?

[2022-06-18 17:12] #9759 closed

[2022-06-18 20:11] devreal opened #10484 "Missing libucm with static build"
I am having trouble linking applications against an Open MPI configured with `--disable-shared --enable-static`. Here is what I get:

[code]

The link line used by Open MPI is

[code]

If I take the link command and manually add `-lucm` at the end linking succeeds:

[code]

configure was invoked as below:

[code]

This is with UCX 1.11.2 and GCC 11.2.0 building current Open MPI `main` (`v2.x-dev-9

[2022-06-18 20:35] devreal commented on #9722
Turns out, *all* increment/decrement/assignment accesses to an `_Atomic` variable are atomic with sequential consistency [1]. This nullifies all the efforts to avoid atomic operations if not needed (in the `opal_thread_*` functions, for example) and adds atomic operations where you wouldn't expect them (`OBJ_CONSTRUCT` for example, and other places where values are assigned to atomic variables). S

[2022-06-18 21:35] gkatev commented on #9722
So, you refer to `*addr = *addr operator delta` (in OPAL_THREAD_DEFINE_ATOMIC_OP), which when not using threads is meant to be non-atomic (?)

Are there any opal atomics implementations that rely on the implicit ordering of `_Atomic`? Would it harm not including it in the typedefs of `opal_atomic_xxx_t`? (or perhaps alternatively not having it when not using threads??)

My initial request would in

[2022-06-19 00:26] drmichaelt7777 commented on #9759
Actually this is our experience and we would like to let untrained
communication advance as early as possible without waiting for some global
event to advance it forward.

Regards

On Sat, Jun 18, 2022 at 12:12 PM Yiltan ***@***.***> wrote:

[2022-06-19 13:11] jsquyres commented on #10477
## tl;dr

You should probably start your entire OpenFoam / Open MPI installation over from scratch.  Otherwise, you're likely to accidentally unknowingly re-use incorrectly-installed pieces from your prior attempts.

In doing so, you should probably un-tar/configure/build/install Open MPI v4.x completely from scratch (so that there's no possibility of mixing v2.x and v4.x).  Do this first -- befor

[2022-06-19 20:47] devreal commented on #9722
That's right, it's supposed to be non-atomic addition and assignment.

IIRC, the reason we included `_Atomic` is so that patterns like the one below are not optimized out:

[code]

Not sure where such patterns are used. Alternatively, using `volatile` instead (as other atomic backends do) would achieve the same effect in the example above but the canonical way in C11 is `_Atomic` (and it safes us

[2022-06-19 21:22] ericch1 opened #10486 "ompi/5.0.x: mpiexec -V return value is 243 instead of "0""
Hi,

just noticed that when I execute "mpiexec -V" with ompi/5.0.x branch, the return value is "243".

All other versions of MPI used to return "0" I think...

Screenshot:

[code]

Is this a wanted behaviour change?

Thanks,
Eric

[2022-06-20 20:31] diffracteD opened #10490 "Openmpi-4.1.4 installation issue"
Hi,
I downloaded Openmpi-4.1.4 and tried to install on my server with instructions mentioned in INSTALL file. But it failed. I'm not sure what this error message means.
Steps taken to install:
[code]

Error after `make install` step:
[code]
I'm not sure why it's failing.
Please help me out here.

Thanks.

[2022-06-21 08:35] ggouaillardet commented on #10490
Assuming you created a `build` (like) directory in the source tree and ran from there, you should only need to

[code]

[2022-06-21 16:55] diffracteD commented on #10490
I tried these but didn’t help.
Finally I read somewhere that I need to run autoreconf before running install.
this worked perfectly fine.
Thanks

[2022-06-21 17:27] diffracteD commented on #10490
This didn’t work.
Although, I found out somewhere, running `./autogen.pl — force` before `make all install `works.
And it worked in my case too.
Thanks.

[2022-06-21 18:39] awlauria commented on #7830
I think this is done.. @jsquyres if this is still an issue please re-open.

[2022-06-21 18:39] #7830 closed

[2022-06-21 18:39] awlauria commented on #10252
I believe it can be closed. If that's not correct please reopen.

[2022-06-21 18:39] #10252 closed

[2022-06-22 13:31] glanzkaiser commented on #10477
**You should probably start your entire OpenFoam / Open MPI installation over from scratch.**
Alright I will uninstall OpenFOAM and ask the developer how to use OpenMPI 4 with OpenFOAM.

**I notice that mpicc (and friends) are a different color (cyan) than most other executables in /opt/hamzstlib/bin. Does this mean that it is a sym link and not a regular executable file?**

Yes the OpenMPI-4 inst

[2022-06-22 15:09] jsquyres commented on #10477
Ok, good luck.  I'm going to close this issue then (since you're going to go back to the OpenFoam community with the question there).  Open a new issue if a new question arises; thanks.

[2022-06-22 15:09] #10477 closed

[2022-06-22 15:22] jsquyres commented on #10486
This feels like a bug.

[2022-06-22 15:43] jsquyres commented on #10490
Per @ggouaillardet's comment: he's right -- you should not run `autoreconf`.  That will almost certainly give you incorrect results.  I could not find anywhere in the Open MPI v4.1.x `INSTALL` file where it says to run `autoreconf` -- can you point to where you found that documentation?

To be clear: You should be able to take a freshly-expanded tarball (not one where you have previously run `auto

[2022-06-22 15:43] #10490 closed

[2022-06-23 18:42] rhc54 commented on #10486
Yes it is - I have fixed it in https://github.com/openpmix/openpmix/pull/2628 and https://github.com/openpmix/prrte/pull/1380. Will backport those to their respective release branches when done.

[2022-06-23 19:18] dqwu commented on #10297
@hoopoepg I have rerun the test and the full log can be viewed at the following URL:
https://raw.githubusercontent.com/E3SM-Project/scorpio/dqwu/test_openmpi/test_openmpi.193176.out

[2022-06-23 21:37] devreal commented on #10328
I'm seeing similar errors with osc/rdma in the ARMCI test suite. Interestingly, I only see them on shared memory and not when running with one process per node. Will have to investigate.

[2022-06-23 21:38] devreal commented on #10328
@hjelmn Did you find anything useful?

[2022-06-23 22:59] devreal commented on #10328
Funny thing: I cannot reproduce this issue with the test case provided at the top. Will have to use the ARMCI tests...

[2022-06-24 03:48] frizwi commented on #10475
Thanks @jsquyres and @hoopoepg  Turns out there were some locked Windows - calling MPI_Win_unlock fixes my issues.

[2022-06-24 03:55] awlauria opened #10512 "Proposed changes to the mapping/rank/bind system"
This was sent in an email by @rhc54. Posting it here for discussion:

I've been working on updating the map/rank/bind system to address several reported problems - making good progress. However, something I would like to do during this cleanup is to simplify the code for future maintenance. So I have a few things to pass along and ask about:

* does anyone still care about the `mindist` mapper? I

[2022-06-24 11:25] jsquyres commented on #10475
Ok, great!  I'll close this issue, then.

[2022-06-24 11:25] #10475 closed

[2022-06-25 22:55] rhc54 commented on #10512
@abouteiller had mentioned that some of the oddball rankers can sometimes be useful for getting collectives to work well. The example was in fact the "map-by numa rank-by node" one. However, I'm wondering if that is really correct and wanted to dig a little deeper into that notion.

I'm assuming that one fiddles with things like the rank vs map settings to try and get the collective to better opti

[2022-06-27 10:45] hoopoepg commented on #10297
hi @dqwu
we don't see timestamps on error messages... was it cut by any grep-like utility?

[2022-06-27 14:11] dqwu commented on #10297
@hoopoepg test_openmpi.193176.out is the original output log file of the submitted slurm job to run this test. No changes have been made to this log file.
[code]

[2022-06-27 16:40] hppritcha commented on #10449
closed via #10495 and #10502

[2022-06-27 16:40] #10449 closed

[2022-06-27 17:59] bosilca commented on #10512
I am certain no code currently in OMPI optimizes the collective communication pattern based on rank closeness, the code stays away from such assumptions because as you mentionned they are most certainly incorrect. I think @abouteiller referred to the flexibility the current mapping/ranking scheme offers, to map a fixed collective topology on what the human running the benchmark knows as being the

[2022-06-28 07:08] dalcinl commented on #10449
@hppritcha Looks like you fixed the issue for INTRAcommunicators, but INTERcommunicators are still broken.

Reproducer:
[code]

Output:
[code]

[2022-06-28 12:00] hoopoepg commented on #10297
hmmm, timestamps are missing... not good.
ok, could you run application with variables:
UCX_TLS=ib
UCX_LOG_LEVEL=info

and check if error `Transport retry count exceeded` is present in logs (and post logs here)?

thank you

[2022-06-28 14:09] devreal opened #10521 "HCOLL: Broken allreduce with MPI_MIN"
I'm tracking down failures in the ARMCI test suite occuring with osc/rdma that are similar to https://github.com/open-mpi/ompi/issues/10328. I found that on my system hcoll is broken and does not properly support `MPI_MIN`, which breaks the detection of `same_size` and `same_disp` in osc/rdma. Here is a test case:

[code]

The output:
[code]

The expected output is `0 -1` on both processes. I get

[2022-06-28 14:19] janjust commented on #10521
@devreal which HCOLL version? Is this running on multiple nodes?

[2022-06-28 14:22] devreal commented on #10521
HCOLL version is `4.6.3125-fc613b79` and I'm running on a single node.

[2022-06-28 14:34] hppritcha commented on #10449
there are some known problems with the intercomm_create_from_groups function that need to be fixed.  I'll open a separate issue to track that.

[2022-06-28 15:08] awlauria commented on #10345
v5.0.x: https://github.com/open-mpi/ompi/pull/10510

PR's merged - closing.

[2022-06-28 15:08] #10345 closed

[2022-06-28 15:16] devreal commented on #10328
@benmenadue I see a similar problem with windows allocated through `MPI_Win_allocated` and filed https://github.com/open-mpi/ompi/issues/10521. In short, using hcoll causes a problem on the machine I'm using and leads osc/rdma to believe that all processes allocate the same window size when they don't. One workaround is to disable hcoll by passing `--mca coll ^hcoll` to mpirun. Any chance you coul

[2022-06-28 15:58] dqwu commented on #10297
Here is the latest log file:
https://raw.githubusercontent.com/E3SM-Project/scorpio/dqwu/test_openmpi/test_openmpi.195239.out

[2022-06-28 16:55] devreal commented on #10328
@jotabf I think I can reproduce a hang in `MPI_Get` with osc/rdma and btl/openib. I have not had any success in debugging this though. However, support for openib has been deprecated in the 4.x series and was removed in the 5.x release. The replacement for IB systems is osc/ucx, which should be selected by default on 5.0.x on your system and works for me.

[2022-06-28 17:11] devreal opened #10522 "btl/uct not compatible with AM RDMA?"
I am trying to run the example in https://github.com/open-mpi/ompi/issues/10328 with osc/rdma and btl/uct. My understanding is that this combination should work, but it doesn't. I run the example as follows:

[code]
and get the following error:
[code]

The GDB back trace is:
[code]

The code fails because `mca_btl_base_receive_descriptor_t` does not have an endpoint set (https://github.com/open-mp

[2022-06-28 17:12] bwbarrett commented on #10522
Removing me from the ticket; it's unlikely I'll ever have time to work on this issue.

[2022-06-28 17:28] dalcinl commented on #10449
Please mention me in the new issue, so I can keep track of it.

[2022-06-28 17:34] jotabf commented on #10328
I saw the problem in the Issue in https://github.com/open-mpi/ompi/issues/9580 . Initially, my problem was another, but from this point https://github.com/open-mpi/ompi/issues/9580#issuecomment-954090542, I noticed that my issue with osc/ucx. If it is not clear, I can try to reproduce the problem and open a new issue. However, I understood that the issue was about an atomic operation that still do

[2022-06-28 17:58] awlauria opened #10523 "coll/tuned: Three bcast algorithms fail when mixing contig and noncontig dtypes"
`split_binary_tree` (4), `scatter_allgather` (8) and `scatter_allgather_ring` (9) will all fail the following test:

[code]

Run command:
[code]
Same is true for using `coll_tuned_bcast_algorithm 8` and `coll_tuned_bcast_algorithm 9`

[2022-06-28 18:04] devreal commented on #9580
@yosefe Regarding your question: why is the atomic operation needed in MPI_Rget/MPI_Get?

I believe this is used to get a handle for the request to test/wait on. I added a comment a while back one line above whether `ucp_worker_flush_nb` could be used instead. Maybe that's is the cleaner way to do it?

[2022-06-28 18:09] hppritcha opened #10524 "MPI_Intercomm_create_from_groups not working"
Turns out that in implementing sessions functionality in Open MPI, we ran a bit out of gas when getting to implementing ```MPI_Intercomm_create_from_groups``` and didn't correctly define things like the remote group proc array, etc.

[2022-06-28 18:11] hppritcha commented on #10524
related to #10449

[2022-06-28 18:29] roystgnr opened #10525 "Regression in MPI_MIN of MPI_UNSIGNED_LONG from v4.1.1 to v4.1.2"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

`v4.1.2`, and the bug is still present for me in a43c46f846d98870d39e25f78c1ce09e4420effc from `origin/main`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

I first

[2022-06-28 19:27] jsquyres opened #10526 "Unify integer constants between mpi.h and the Fortran interfaces"
Per discussion in #10491, OMPI currently has two sources of truth for public integer constants:

1. `mpi.h.in`
2. `mpif-values.pl` (a script which writes out Fortran source files that get included by the various Fortran interfaces)

A lot of MPI constants are hard-coded to the same integer values in both places.

* Note that there are a few weird cases, such as the C values `MPI_F_SOURCE`, `MPI_F_

[2022-06-28 19:43] jsquyres commented on #10525
@bosilca Any idea what happened here, perchance?

[2022-06-28 19:43] devreal commented on #10525
@roystgnr Thanks for the report. I think I have a lead, will file a PR shortly.

[2022-06-28 19:53] devreal commented on #10525
https://github.com/open-mpi/ompi/pull/10527 should fix it (seems like a copy&paste error)

[2022-06-28 21:16] jjhursey commented on #10391
PR https://github.com/open-mpi/ompi/pull/10491 has been merged. The changes will be cherry-picked to the v5.0.x, v4.1.x, and v4.0.x branches.

[2022-06-28 21:16] #10391 closed

[2022-06-28 21:56] janjust commented on #10521
@devreal regarding the for the giggles experiemnt, if you set -mca hcoll,libnbc,basic - does it still fail? I get a failure too with -mca hcoll, but setting libnbc,basic works, partially because hcoll doesn't support all collectives, shouldn't segfault though.

As far as reproducer - yep, I can reproduce, we'll look into it
Thanks for reporting

[2022-06-29 14:38] devreal commented on #10521
@janjust Thanks for looking into this. I can confirm that setting `-mca coll hcoll,libnbc,basic` avoids the assertion.

[2022-06-29 15:07] yosefe commented on #10297
@dqwu can you pls try also with `UCX_TLS=sm,tcp` and `UCX_TLS=tcp`, and post the full output from `ibv_devinfo -v`?

[2022-06-29 15:24] dqwu commented on #10297
These two tests also failed.

[UCX_TLS=sm,tcp]
https://raw.githubusercontent.com/E3SM-Project/scorpio/dqwu/test_openmpi/test_openmpi.195622.out

[UCX_TLS=tcp]
https://raw.githubusercontent.com/E3SM-Project/scorpio/dqwu/test_openmpi/test_openmpi.195628.out

[ibv_devinfo]
https://raw.githubusercontent.com/E3SM-Project/scorpio/dqwu/test_openmpi/ibv_devinfo.txt

[2022-06-29 15:29] vspetrov commented on #10521
@janjust looks like we incorrectly  map OPAL_DATATYPE_LONG to DTE_UNT32 in mca/coll/hcoll/coll_hcoll_dtypes.h (it should be DTE_INT32 - signed). -1 in the test must get casted to UNT32_MAX, hence wrong result.

[2022-06-29 15:30] yosefe commented on #10297
Since it fails on TCP , seems not related to IB fabric
can you try these separate experiments:
1. `-mca pml ob1 -mca btl self,vader,tcp -mca pml ^ucx` to run OpenMPI without UCX component
 In this case, perhaps will need to add `-mca btl_tcp_if_include <netif>` to specify the Ethernet device to use
3. `-x UCX_TLS=tcp -mca coll ^hcoll` to disable collective component

[2022-06-29 15:34] janjust commented on #10521
@vspetrov why 32, shouldn't a long be 64?

[2022-06-29 15:42] vspetrov commented on #10521
I think we have it incorrect for both branches (sizeof_long == 4 and == 8)

[2022-06-29 16:30] yosefe commented on #10297
1.
export OMPI_MCA_pml=ob1
export OMPI_MCA_btl=self,vader,tcp

2.
export OMPI_MCA_coll=^hcoll
export UCX_TLS=tcp

[2022-06-29 16:57] dqwu commented on #10297
These two tests still failed.

[OMPI_MCA_pml=ob1 OMPI_MCA_btl=self,vader,tcp]
https://raw.githubusercontent.com/E3SM-Project/scorpio/dqwu/test_openmpi/test_openmpi.195638.out

[OMPI_MCA_coll=^hcoll UCX_TLS=tcp]
https://raw.githubusercontent.com/E3SM-Project/scorpio/dqwu/test_openmpi/test_openmpi.195640.out

[2022-06-29 17:43] edgargabriel commented on #10297
Can you try two things as well to change some settings for the parallel I/O part?

1. Force using a different fcoll component, e.g.
export OMPI_MCA_fcoll=dynamic

2. Force using a different io component, e.g.
export OMPI_MCA_io=^ompio

[2022-06-29 19:19] dqwu commented on #10297
[OMPI_MCA_fcoll=dynamic]
This test still failed
https://raw.githubusercontent.com/E3SM-Project/scorpio/dqwu/test_openmpi/test_openmpi.195680.out

[OMPI_MCA_io=^ompio]
This test passed
https://raw.githubusercontent.com/E3SM-Project/scorpio/dqwu/test_openmpi/test_openmpi.195718.out

[2022-06-29 20:04] dqwu commented on #10297
@edgargabriel
I do not have a simpler reproducer so far. You can try to follow the detailed steps provided in the 1st comment.

[2022-06-29 20:52] yangbinma opened #10535 "A process or daemon was unable to complete a TCP connection"
Thank you for taking the time to submit an issue!

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

mpirun (Open MPI) 4.1.2rc4

### Describe how Open MPI was installed
from source

### Please describe the system on which you are running

* Operating system/version: ubuntu20.04
* Computer hardware:
* Network type:

-----------------------------

##

[2022-06-29 21:55] rhc54 commented on #10512
Makes sense - thanks for the clarification!

Given that understanding and the lack of PRRTE support resources (which goes back to the beginning of the ORTE days), I think the best path forward will be to remove the old ranking code so we minimize the maintenance effort. I can certainly cover all the typical user requests, and may be able to cover pretty much everything (still playing with algorith

[2022-06-30 06:56] yangbinma commented on #10535
**If I use apt install openmpi-bin,libopenmpi-dev, there is no issue at all, even though the firewall setup is the same. So I think I configure sth wrong in the above case. ""**

mpirun --mca plm_base_verbose 10 --host worker1 hostname
[master:12357] mca: base: components_register: registering framework plm components
[master:12357] mca: base: components_register: found loaded component rsh
[maste

[2022-06-30 13:44] awlauria commented on #10525
Re-opening until this goes back to all release branches. Thanks @devreal

[2022-06-30 14:05] rhc54 commented on #10512
Here is an example of one combination I am considering for "not supported":

`map-by node   bind-to core   rank-by numa`

I cannot come up with a rationale for specifying such an arrangement, but it technically was supported in the past. Requires that you bind everything first and then do a brute-force search to determine which NUMA each core is in so you can then properly order the rank values. M

[2022-06-30 17:16] awlauria commented on #10521
Closing - PR's merged.

[2022-06-30 20:41] BrendanCunningham opened #10542 "ompi/v4.1.x libevent code has CVEs that are fixed in libevent/master."
## Background information

A security tool we use identified three CVEs (1x Critical, 2x High) in ompi/v4.1.x's copy of libevent.

These CVEs are fixed in libevent/master.

Here are the CVEs with links to the libevent issues and their fixes:
* https://nvd.nist.gov/vuln/detail/CVE-2016-10195
  * libevent issue: https://github.com/libevent/libevent/issues/317
  * libevent fixing commit: https://gith

[2022-07-01 15:41] BrendanCunningham commented on #10542
evdns.c is only compiled when libevent is built with DNS support. ompi/v4.1.x does not appear to build libevent with DNS support. I am still able to build v4.1.x if I remove evdns.c and edit libevent/Makefile.am like so:
[code]

The libevent CVE fix-commits cherry-pick easily to ompi/v4.1.x:

[code]

ompi/v4.1.x built with these changes (`./autogen.pl && ./configure && make -j`). I have not verifi

[2022-07-01 17:15] rhc54 commented on #10512
After prototyping a number of possible solutions, I am converging towards the following:

`--map-by`

Only change here was to move "pe-list" into the supported options and to add the "ordered" qualifier.

`--rank-by`

This is the place of greatest change. The object-based options (e.g., package, numa, etc) have been removed. Ranking follows the mapping level, so you don't get to mix/match any more

[2022-07-03 03:06] wzamazon commented on #10244
Remaining issues:

With btl/ofi, `mt_1sided` segfault.

With btl/tcp,
1. multiple tests (`1sided`, `c_accumulate`, etc) hang.
2. `c_get_accumulate_ddt1` and `c_get_accumulate_ddt2` segfault.

[2022-07-04 07:40] frizwi commented on #10474
Hi, I'm still trying various ways to organise this. Seems like what I need is graph "matching", i.e. pairing up the send/recv's between processes.

In the meantime, I'm trying a different approach to channel all comms via the master process - so gather/scatter. However, what I'm looking for is MPI_Gatherw/MPI_Scatterw but these are not available. What's the best way to mimick this? I have custom d

[2022-07-05 12:53] gkatev opened #10545 "Intermittent hangs, crashes and assert fails with ob1+uct"
Hi, I've been seeing some semi-rare hangs, crashes, and assertion fails with OpenMPI v5.0.0rc7. It looks to me like the culprit is in ob1+uct (one/both  of them or their combination).

I'm using the OSU collectives, and the problem appears at either the 8 KB or the 16 KB messages, for what that's worth.
With a non-debug build, I've observed hangs, crashes, or abrupt performance loss. With a debug

[2022-07-05 14:59] jjhursey commented on #10391
For reference, this has been merged into the relevant release branches.
  - main: https://github.com/open-mpi/ompi/pull/10491
  - v5.0.x: https://github.com/open-mpi/ompi/pull/10530
  - v4.1.x: https://github.com/open-mpi/ompi/pull/10534
  - v4.0.x: https://github.com/open-mpi/ompi/pull/10533

[2022-07-05 16:25] libhe commented on #9858
Hello, I run into the same issue when I run a MPI_Hello_World with OpenMPI. The output doesn't indicate that EFA is using.

It looks like that you made some progress, now EFA is being picked up. Can you tell me what is the exact steps to let OpenMPI pick up EFA?

Thanks a lot!

[2022-07-06 15:36] wckzhang commented on #10347
@awlauria, your graphs don't have x,y labels. Is your y the same as @janjust 's y scale (ie. anything above 0 is han/adapt performing better, and anything below is worse)?

[2022-07-06 15:47] awlauria commented on #10347
Oh, foo. You are right. that isn't very clear...

It's actually the opposite. The Y axis measures the performance improvement of Han/Adapt v. the defaults, the X axis is message size. So for my graphs anything below 0 means that Han/adapts time for the same test was X% lower than the default ...So below 0 represents an improvement for Han/Adapt.

It's still on my to-do list to re-run these to conf

[2022-07-06 16:11] wckzhang commented on #10347
So it looks like HAN/Adapt outperform Tuned except at the largest message sizes, at least for your 6 node tests.

[2022-07-06 16:47] awlauria commented on #10347
Correct. I would like confirmation of that. I will re-run these numbers, perhaps at a slightly larger scale. Will try to do that by the end of this week.

[2022-07-07 19:47] fortnern opened #10546 "MPI_File_read_at_all doesn't read all values when certain datatypes are used"
## Background information

While testing a new feature in HDF5, we noticed that OpenMPI sometimes fails in a test that generates random I/O patterns in HDF5. I've tried to create a minimal pure MPI example that shows the failure.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Tested on 4.1.1, 4.1.2, 4.1.3, 4.1.4

### Describe how Open MPI was i

[2022-07-07 19:59] fortnern commented on #10546
Forgot to add: If all ranks read the entire file then the program passes. This implies that the complicated datatype on rank 1 is interfering with I/O on other ranks (but not the rank with the complicated datatype).

[2022-07-07 22:03] jsquyres commented on #10546
@edgargabriel Can you have a look?

[2022-07-07 23:15] ggouaillardet commented on #10546
@fortnern thanks for the report and the reproducer!

meanwhile, you can force using the ROMIO component instead of the (native) `ompio` one:

[code]

[2022-07-08 14:07] fortnern commented on #10546
Test passes with ROMIO, looks like the problem is with OMPIO. Thanks!

[2022-07-08 16:15] rhc54 commented on #9658
@mwheinz @hppritcha This should be closed, yes?

[2022-07-08 16:16] rhc54 commented on #9129
@ggouaillardet I believe this should be closed, yes?

[2022-07-08 16:19] rhc54 commented on #7806
@jsquyres Could someone please close this? It has been complete for some time.

[2022-07-08 18:09] #7806 closed

[2022-07-09 04:11] ggouaillardet commented on #9105
@rhc54 yep, the patch has been merged and there was no complain about it.
I am now closing this issue.

[2022-07-09 04:11] #9105 closed

[2022-07-11 09:40] jeffhammond commented on #5637
@ThemosTsikas https://www.mpi-forum.org/docs/mpi-3.1/mpi31-report/node414.htm lists the full requirements from the MPI 3.1 standard for Fortran compilers.  `TYPE(*)` is necessary but not sufficient.

[2022-07-11 10:43] jsquyres commented on #10542
As discussed in Slack, it looks like we've made other local changes to the embedded libevent.  It may be worth making these changes on the basis of:

1. For at least the DNS change, there is demonstrably no difference to OMPI (because we're not using that functionality).
2. We don't have to explain why OMPI has unpatched CVE code every time someone stumbles across it.
3. We have precedent for maki

[2022-07-11 11:42] ThemosTsikas commented on #5637
I am no longer employed at NAG but there have been updates to the NAG Fortran Compiler since 2018. The latest version is 7.1 (Build 7112),  [Release Notes](https://www.nag.com/nagware/np/r71_doc/relnotes.html).

[2022-07-11 13:55] devreal opened #10550 "Sigbus in UCX call inside opal_common_ucx_del_procs_nofence"
I'm consistently seeing a Sigbus (Signal 7) occuring in a call to `opal_common_ucx_del_procs_nofence` during shutdown on Hawk. I'm running Open MPI main (`v2.x-dev-9510-g7bb5fe1a2f`) with UCX 1.12.0. UCX is a system installation, Open MPI is my own installation. I'm using `osu_scatter`. The issue seems to (in part) depend on the process placement: it doesn't occur with 128 on 4 nodes with 32 proce

[2022-07-11 13:56] yosefe commented on #10550
@devreal are you using Lustre?

[2022-07-11 13:57] devreal commented on #10550
There is a Lustre filesystem available but I am not using it in my runs.

[2022-07-11 14:40] wzamazon commented on #8958
Should be fixed by https://github.com/openpmix/prrte/pull/1381

The issue is that prrte will do call `grpcomm.allgather` between all servers when handling `PMIx_Connect`.

allgather uses a signature. The signature generated from `procs` from the client when calling `PMIx_Connect`.

`procs` is an array of `pmix_proc_t`, each `pmix_proc_t` is the information of one process (namespace and rank).

For

[2022-07-11 14:52] wzamazon commented on #10318
I am positive this is the same as https://github.com/open-mpi/ompi/issues/8958, and I have a root cause.

Closing.

[2022-07-11 14:52] #10318 closed

[2022-07-11 15:12] yosefe commented on #10550
Can you pls make sure the binary files (Ompi/ucx libraries) are not on Lustre filesystem?
There is a known issue that this can cause SIGBUS

[2022-07-11 15:20] devreal commented on #10550
AFAICS, all software installation directories and my home (from where I built Open MPI and where the installation is located) are NFS. I couldn't find any linked library on a Lustre FS.

[2022-07-11 17:01] jotabf commented on #9580
@devreal, PR #10554 does not solve my problem. I've done the checkout and installed your branch `osc-ucx-rputget-flushnb-v5.0.x`, but it did not work.

I was reviewing my tests and I think my problem is not the MPI_Rget(). I created a simpler new test code to show this.

[code]

Running this code with 2 processes, I hope that process 0 finishes faster than process 1. However, this does not happen

[2022-07-11 19:12] awlauria commented on #10388
merged to main and v5.0.x, closing. Thanks @hppritcha

[2022-07-11 19:16] yosefe commented on #10550
can you pls try UCX_TLS=^xpmem and UCX_TLS=^sm ?

[2022-07-11 20:40] wzamazon commented on #8958
It looks like I was wrong. PMIx document did require the order must be maintained when calling PMIx_Connect. so OMPI need to be change.

PR to ompi is:

https://github.com/open-mpi/ompi/pull/10557

[2022-07-11 20:41] jotabf commented on #9580
@janjust Yes, in both cases I used the same environment.

Runing with `mpirun --mca osc rdma -mca btl_openib_allow_ib 1 -mca btl_openib_if_include mlx4_0:1 ./bin/sync.o`

[code]
Runing with `mpirun -mca osc ucx -mca btl_openib_allow_ib 1 -mca btl_openib_if_include mlx4_0:1 --mca pml ucx -x UCX_NET_DEVICES=mlx4_0:1 ./bin/sync.o `

[code]

[2022-07-12 07:36] s417-lama opened #10559 "osc/ucx: MPI_Win_flush sometimes hangs on intra-node"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v5.0.0rc7

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From a source tarball.

configured with:
[code]

UCX v1.11.0 was configured with:
[code]

### Please descri

[2022-07-12 14:07] haampie opened #10560 "Make `--enable-wrapper-rpath --disable-wrapper-runpath` pass `-Wl,--disable-new-dtags` when supported"
Using OpenMPI 4.1.4, I would expect that the following configuration

[code]

would imply `-Wl,--disable-new-dtags` when invoking `mpicc`. That is, force RPATH, instead of relying on compiler defaults.

Already a long time ago, GCC has switched from `--disable-new-dtags`  to `--enable-new-dtags` as a default, meaning that `RUNPATH` is used when the `-Wl,--[enable/disable]-new-dtags` linker flag is

[2022-07-12 14:45] devreal commented on #10550
I tried both. The good news is: the SIGBUS disappears. The bad news is that runs tend to hang with both `^xpmem` and `^sm` at the end of the run (I assume in MPI_Finalize but I'm not sure yet). It's less likely with `^sm` than with `^xpmem`, though.

[2022-07-12 22:00] edgargabriel commented on #10546
@fortnern thank you for the bug report, I can confirm that it was a bug in ompio, introduced with the data sieving feature in the 4.1 release series. I will file a pr for 4.1 and the 5.0 releases once the code has been committed to the main repository. The 4.0 release or previous ompi releases did not have this feature.

Just for documentation purposes, it is possible to circumvent this issue in t

[2022-07-13 13:05] awlauria commented on #10559
@janjust could this be fixed on the latest v5.0.x branch?

[2022-07-13 13:10] janjust commented on #10559
Not sure, but I'll take a look today.

[2022-07-13 19:49] amirsojoodi opened #10566 "Open MPI make install complains about mpisync"
## Background information

### Open MPI version

- Open MPI: v5.0.0rc7
- UCX: v1.13.0

### Describe how Open MPI was installed

Build and installation commands:
[code]

### Output from `git submodule status`.

[code]

### System description

* Cluster: Narval of Compute Canada
* Operating system/version: Linux 4.18.0-348.23.1.el8_5.x86_64
* Computer hardware: 2 x AMD Milan 7413 with 4 NVIDIA A100

[2022-07-13 20:57] amirsojoodi commented on #10566
Removing `--enable-timing` option removes the make's complaint, but what resolves it?

[2022-07-14 01:25] ggouaillardet commented on #10566
Thanks for the report!

The fix for the `main` branch can be downloaded at https://github.com/open-mpi/ompi/pull/10567.patch

Once reviewed and merged, I will backport it into the `v5.0.x` branch.

Meanwhile, you can either (try to) apply it, or manually edit `ompi/tools/mpisync/Makefile.am` and comment out `man_pages = mpisync.1`

[2022-07-14 06:30] s417-lama commented on #10559
I appreciate your investigation.

I built UCX v1.11.0 from tarball, which was downloaded from the following link.
https://github.com/openucx/ucx/releases/download/v1.11.0/ucx-1.11.0.tar.gz

The same hang also happens with UCX v1.12.1 in my environment, so I think it is not a version issue of UCX.
If the hang is not reproduced in your environment, it might be an environmental issue close to the har

[2022-07-14 13:48] janjust commented on #10559
Can you try v4.1.x?

[2022-07-14 15:50] s417-lama commented on #10559
I built Open MPI v4.1.x from git (the latest v4.1.x branch), also configured with UCX v1.11.0, and checked the behaviour of the same program.

Commit hash: 4fdd439e1ef85983570141c6c0b06945c34483b8

However, I did not encounter any hang with v4.1.x.

What I ran:
[code]

(Because the following warning was shown, I set `--mca btl_openib_allow_ib true`.)
[code]

(note for v5.0.0rc7) I noticed that the

[2022-07-14 15:56] janjust commented on #10559
Ok thanks, I'll give it a try

[2022-07-14 20:44] amirsojoodi commented on #10566
The patch was applied, and the build process runs without any problem. Thanks!

[2022-07-14 23:18] awlauria commented on #10566
Thanks @amirsojoodi - reopening just until this filters down to the v5.0.x branch so I don't forget.

[2022-07-15 03:10] rhc54 commented on #10315
Well, the EuroScience project switched to MPICH, and I gather others are going the same way when wanting to use PMIx in their MPI apps. Easier than me trying to circulate and maintain an OMPI patch. So I guess we can close this - people wanting to use PMIx in their apps will just be referred to MPICH.

[2022-07-15 03:10] #10315 closed

[2022-07-15 03:17] rhc54 commented on #10476
I have this properly working now in my branch and will be opening a PR to bring it into PRRTE's master branch tomorrow. However, the options have changed. The `pe-list` is now in the `map-by` option as a directive and not a qualifier, and the `ordered` qualifier has also moved to the `map-by` option. The `--help map-by` output includes the following:
[code]
Should be available over the weekend.

[2022-07-15 03:18] rhc54 commented on #10512
I have completed this work and will be posting a PR for PRRTE that implements it. Given no input on the `mindist` mapper, it will include removal of that component. Someone can restore it if they care at some later point.

[2022-07-15 03:19] rhc54 commented on #10512
Oh, I guess someone with proper authorizations can close this now.

[2022-07-16 00:59] eschnett opened #10572 "Add generic MPI pkgconfig descriptors"
cmake recently gained support to use pkgconfig to detect MPI options (see https://gitlab.kitware.com/cmake/cmake/-/merge_requests/6537/diffs). This is useful e.g. when cross-compiling. Cross-compiling with OpenMPI fails regularly for me because `mpicc` etc. are binaries and cannot be executed.

This cmake patch looks for pkgconfig setups called `mpi-c`, `mpi-cxx`, and `mpi-fort`. It would be good

[2022-07-16 02:30] thomasgillis opened #10573 "MPI-RMA - performance issues with `MPI_Get`"
## Background information

my application relies on several calls to `MPI_Get` (a few hundreds per sync calls, like 200-600) with messages of small sizes (64 bytes to 9k roughly).
I observe a very strong performance decrease when going from one node to multiple nodes.

This issues relates to the comment of @bosilca [here](https://github.com/open-mpi/ompi/issues/9508#issuecomment-952532348)

### Wh

[2022-07-16 04:01] ggouaillardet commented on #10572
Here is my counter offer:
the CMake patch should be enhanced in order to also look for `ompi-c.pc` and friends.

[2022-07-16 23:46] eschnett commented on #10572
I thought about this, and I think this wouldn't be scalable. This means that cmake would need to look for all possible MPI implementations, and it would fail if it encounters an unknown one.

All cmake configuration logic starts from known, semi-standardized files (e.g. `mpicc`). Adding `pkgconfig/mpi-c.pc` would continue this.

[2022-07-17 11:39] jsquyres commented on #10433
Looks like this issue is resolved, then.  Thanks!

[2022-07-17 11:39] #10433 closed

[2022-07-17 11:46] michaellass commented on #10433
At least it will be once https://github.com/open-mpi/ompi/pull/10448 is merged.

[2022-07-18 02:25] thangckt commented on #9617
I encounter this problem with OpenMPI 4.1.4

[2022-07-18 12:20] dalcinl opened #10576 "MPI-4.0: Mandatory "mpi_size" info key from Session processors sets."
Please review MPI-4.0, pp 503, lines 43-44, quoted below:

MPI_Info object. The "mpi_size" key is mandatory for all process sets.

Next take a look at this [two test cases](https://github.com/mpi4py/mpi4py/blob/master/test/test_session.py#L50-L74) from mpi4py test suite.

These two test cases are currently failing the following way:

[code]

[code]

Looks like the `Info` object returned by `MPI_Se

[2022-07-18 12:35] dalcinl opened #10577 "MPI-4.0: MPI_Group_from_session_pset() seems to be broken"
Reproducer:

[code]

Output:

[code]

[2022-07-18 12:37] dalcinl commented on #10577
@hppritcha You may want to look at this one.

[2022-07-18 12:37] dalcinl commented on #10576
@hppritcha You may want to look at this one.

[2022-07-18 16:59] hppritcha commented on #10576
we forgot to update the key string when this was changed in the sessions proposal.

[2022-07-18 21:11] hppritcha commented on #10577
okay clearly need to add some sessions sanity checks to the ompi-tests repo.

[2022-07-19 00:37] ggouaillardet commented on #10572
For now, there are two main MPI implementations: `MPICH` and `Open MPI`, and each have several derivatives.
So from a pragmatic point of view, this limits scalability to `2`.

Note you can `configure` Open MPI with `--enable-script-wrapper-compilers` in order to generate scripts instead of binaries.

[2022-07-19 01:27] eschnett commented on #10572
Thanks for the pointer to `--enable-script-wrapper-compilers`.

[2022-07-19 12:56] artemry-nv opened #10583 "BlackDuck raises high security issue in libopen-pal.so.40.30.2 against libevent 2.0.21"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.x

BlackDuck raises high security issue in libopen-pal.so.40.30.2 against libevent 2.0.21. Maybe it should be updated to newer version?

[2022-07-19 13:43] awlauria commented on #10566
PR's merged, closing. Thanks @amirsojoodi and @jsquyres

[2022-07-19 13:43] #10566 closed

[2022-07-19 14:17] kanghui0204 opened #10584 "ORTE was unable to reliably start one or more daemons"
Hi ，I'm trying to run 2 node mpi program in docker container ,but it raise  "ORTE was unable to reliably start one or more daemons "
the submit command and log in below , can you help me to see what problem?
[code]

[2022-07-19 15:39] devreal opened #10586 "mpirun hangs intermittently"
I'm seeing mpirun hanging during startup on our system. Running `mpirun` in a loop eventually hangs, typically after a few dozen iterations:

[code]

The system has dual socket 64-core AMD Epyc Rome nodes connected through Infiniband ConnectX-6. I built Open MPI main with GCC 10.3.0 using the following git tags:

Open MPI: v2.x-dev-9896-g3bda0109c4
PRRTE: psrvr-v2.0.0rc1-4370-gdf7d17d0a3
PMIX: v1.

[2022-07-19 16:28] hppritcha commented on #10586
Is this system running slurm?

[2022-07-19 16:29] hppritcha commented on #10586
never mind I see the PBS comment.
I am seeing this type of behavior on a slurm system.

[2022-07-19 16:52] devreal commented on #10586
Argh, I wasn't on latest `main`. Updated, problem persists:

Open MPI: v2.x-dev-9961-gc6dca98c71
PRRTE and PMIx are the same as above.

[2022-07-19 17:35] awlauria commented on #10586
It may be worth trying the latest prrte/pmix main, a fix may have come since the last submodule update.

[2022-07-19 18:35] devreal commented on #10586
Mhh, I'm seeing build time issues with current PMIx:

[code]

[2022-07-19 18:59] awlauria commented on #10577
Merged to main and v5.0.x . Closing.

[2022-07-19 18:59] #10577 closed

[2022-07-19 19:49] hppritcha opened #10588 "MPI_ERR_SESSION - need to add this"
We forgot to add MPI_ERR_SESSION error class as part of the Open MPI implementation of sessions.

[2022-07-19 20:48] devreal commented on #10586
OK, so I got the latest PMIx and PRRTE to build with `CFLAGS=-Wno-unused-parameter`. I can still reproduce the problem when starting a single process in a PBS job with 8 nodes. I cannot reproduce it in a job with a single or two nodes allocated.

Funny regression: I can run `mpirun -n 1 -N 1 ...` but setting `-n 1 -N 2` leads to an error:

[code]

[2022-07-20 00:10] kanghui0204 commented on #10584
I‘m not sure why I set -H "192.168.1.11,192.168.1.12"( submit node is 192.168.1.11, remote node is 192.168.1.12) , it will raise "/bin/bash: 192.168.1.12: No such file or directory"

[2022-07-20 01:35] ggouaillardet commented on #10584
Which Open MPI version are you running?
If you built it by yourself, what was your `configure` command line?

[2022-07-20 01:44] kanghui0204 commented on #10584
Hi,I  use mpirun (Open MPI) 4.1.2rc4 version , I don't install Open MPI by myself  , it's in our docker image.
the image system is:
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.4 LTS
Release:	20.04
Codename:	focal

[2022-07-20 01:55] kanghui0204 commented on #10584
and I can use this image run mpi on slurm ，but this 2 machine，don't have slurm.

[2022-07-20 02:57] devreal commented on #10586
Seeing the same occasional hang with v5.0.x.

[2022-07-20 03:19] ggouaillardet commented on #10584
How do you use Open MPI?
 1. without SLURM: do you run `mpirun` from within a docker container? is `192.168.1.12` the IP of an other docker container running the same image?
 2. with SLURM: do you run `mpirun`? or `srun`? Do you invoke `mpirun` or `srun` within a docker container? are the slurm `slurmd` daemons running in containers?

[2022-07-20 03:34] ggouaillardet commented on #10584
Can you please double check your Open MPI version? there is no `4.1.2rc4`

[2022-07-20 03:36] kanghui0204 commented on #10584
question1:I run `mpirun`  in a docker container , is the same image , and two docker container in 192.168.1.11 and 192.168.1.12 can ssh without password
question2: I use srun submit tasks

I use this command to see mpi version :
[code]

[2022-07-20 04:01] kanghui0204 commented on #10584
and I use ompi_info to check
[code]

[2022-07-20 04:13] ggouaillardet commented on #10584
then I guess Open MPI was built from git (`v4.1.2` tag) ...
FWIW, it is generally best to build from an official tarball.

I am not able to reproduce the issue, and at first glance, I do not see how docker can be involved here...

`--prefix=...` and `Prefix:` differ which is not common, is `OPAL_PREFIX` defined in your environment?

What if you
[code]

and what if you simply
[code]

or
[code]

[2022-07-20 05:03] kanghui0204 commented on #10584
Hi I can try
[code]
later

and I have try
[code]
can work
[code]
can't work , raise same error with
[code]

[2022-07-20 10:54] #10584 closed

[2022-07-20 12:07] dalcinl opened #10590 "Singleton MPI initialization and spawn"
Looks like singleton MPI init and spawn is broken in the main branch.

Look at this reproducer:

[code]

Now I run that code using Open MPI v4.1.2 (system package from Fedora 36) the following two ways:

[code]

Note that the second way does not use `mpiexec` (that is, what the MPI standard calls singleton MPI initialization).

Next I run the code with ompi/main. I've configured with:

[code]

The

[2022-07-21 08:22] dalcinl opened #10592 "Sessions: error checking for invalid argument"
While extending mpi4py test suite, I've found several issues related to error checking and invalid arguments.

## Issues related to using the MPI_SESSION_NULL handle

The following routines do not fail when invoked with the MPI_SESSION_NULL handler:

* `MPI_Session_get_num_psets` (deadlocks)
* `MPI_Session_get_nth_pset`
* `MPI_Group_from_session_pset`
* `MPI_Session_get_errhandler`
* `MPI_Session_

[2022-07-21 16:31] jsquyres commented on #10592
Refs #10589

[2022-07-21 16:38] wzamazon commented on #8958
back port  was also merged. mtt is not impacted by this issue. Closing ....

[2022-07-21 16:38] #8958 closed

[2022-07-21 16:42] jsquyres commented on #10572
@eschnett Is that sufficient?

FWIW, I agree with @ggouaillardet: I don't think we want the files named the same across different MPI implementations.  That will make potential binary package file conflicts (e.g., if Open MPI and MPICH RPMs both contain `/same/path/to/mpi-c.pc`, then they both can't be installed at the same time).  Downstream OS distros may not care for that kind of solution.

[2022-07-21 17:18] jsquyres commented on #10388
@awlauria Do you want to re-open this?

The `MPI_ERR_SESSION` issue is being tracked at #10588

[2022-07-21 17:18] jsquyres commented on #10388
Oh, I can re-open it.  Duh.  😄

[2022-07-21 17:21] jsquyres commented on #10573
@open-mpi/ucx FYI

[2022-07-21 17:23] eschnett commented on #10572
The `--enable-script-wrapper-compilers` was very useful to know, but that is independent of the issue here. I am looking for a way to make finding MPI as easy as finding any other package, and pkgconfig seems to be a good way to go.

The packages already both contain a `include/mpi.h`, so the additional conflict didn't seem too problematic to me. If you disagree, then we can discuss with the cmake

[2022-07-21 17:42] jsquyres commented on #10583
See #10565 -- a PR which back-ports the fixes (even though Open MPI doesn't use any of the CVE-affected code).

@artemry-nv A few questions for you:

1. This CVE is several years old.  Do you know how/why it happened to come up now?
2. What version of libopen-pal.so.40.32.2 -- is that Open MPI v4.1.4?
3. Do you know how BlackDuck found this -- is it flagging the fact that Open MPI is linking again

[2022-07-21 17:52] devreal commented on #10586
I attached to a `prterun` that hung but couldn't see anything useful, other than that every thread is waiting for something to happen...

[code]

I also played around with some of the verbosity mca parameters but didn't see anything useful. Any ideas on how to debug this further?

[2022-07-21 19:01] dalcinl commented on #10388
As there is another issue tracking the leftover, you can re-close this one.

[2022-07-21 19:09] #10388 closed

[2022-07-21 21:27] jsquyres commented on #10546
@fortnern Looks like the fix was merged into the v4.1.x branch -- could you test the latest v4.1.x snapshot to see if the issue is fixed for you?  https://www.open-mpi.org/nightly/v4.1.x/

[2022-07-22 06:39] artemry-nv commented on #10583
As far as I see the issue exists quite a long period (was ignored before).
We use Open MPI v4.1.x (1c67bf1c6a156f1ae693f86a38f9d859e99eeb1f).
Not sure how BlackDuck found this (suspect that it tries to find any versioning reference). If it's unable to find version he raises an issue and you need to specify version manually.

[2022-07-22 11:27] jsquyres commented on #10583
@artemry-nv What I'm trying to determine is whether PR #10565 will fix the issue.  I.e., if we patch the existing Libevent 2.0.21 source code, will Black Duck still complain (because it's just looking at the Libevent version number, and not the actual source code)?  Or is Black Duck looking at the source code, and it will see the patches, and therefore #10565 will resolve the issue.

Can you test