[2017-06-22 20:49] hjelmn commented on #3478
I think this is fixed now.

[2017-06-22 20:52] hjelmn commented on #3330
udcm is supposed to disable itself on anything that isn't infiniband. See:

https://github.com/open-mpi/ompi/blob/master/opal/mca/btl/openib/connect/btl_openib_connect_udcm.c#L447

That check *used* to work. Does it need to be updated?

[2017-06-22 22:26] hjelmn commented on #3630
The current memory hooks require dlopen. The performance should improve if you remove --disable-dlopen.

[2017-06-23 09:22] bosilca commented on #665
That can work. I implemented a proof-of-concept in #3738.

[2017-06-23 12:52] robertsawko opened #3740 "Cannot run job on the login node after RHEL security update"
After a recent security update we seem to have lost the ability to run on the login node for on a local P8 cluster. The job crashed with the following error:
[code]
The same binary works fine when I transfer my OMPI compilation and the binary to the compute cluster. The job is submitted with LSF. I've already tried compiling a few different versions: 2.0.2 and 2.1.1 all from source with the follow

[2017-06-23 13:41] rhc54 commented on #3740
Usually the distros turn firewalls “on” by default after a security update - I’d check to see if that happened

[2017-06-23 14:09] hjelmn commented on #3527
Need to configure with --enable-builtin-atomics . We do not have ASM for s390x.

[2017-06-23 14:14] amckinstry commented on #3527
Thanks, this has been tested and works.

[2017-06-23 14:14] #3527 closed

[2017-06-23 14:17] hjelmn commented on #3527
Thanks! I will look at updating the configury for 2.1.x to use the builtins if we don't have the necessary ASM.

[2017-06-23 15:41] bwbarrett commented on #665
@bosilca, our summer intern @gabesaba was working on this issue.  I'll have him verify it works for us, but now I have to find another bug for him to fix :).

[2017-06-23 20:57] gpaulsen commented on #3576
yes.

[2017-06-23 20:57] #3576 closed

[2017-06-24 10:31] devreal opened #3750 "Missing Remote Progress MPI_Win_flush_local"
## Background information
We employ the following pattern for signaling completion between processes:

[code]

We use `MPI_Fetch_and_op` to atomically query the local memory location for a signal and `MPI_Accumulate` to send the signal (I have omitted the reset and other details for simplicity).

If running on a single node (my laptop), this code snippet reproducibly hangs, with the root process i

[2017-06-26 00:40] ggouaillardet commented on #3680
@opoplawski i was finally able to run into this issue with 32bits ```rawhide```
the issue can be evidenced with this simple program
[code]
because it has unresolved symbol.
note the issue only occurs with ```-march=i386```
(e.g. it is fine with ```-march=i686```)

i will improve atomic detection to trap this, but i am not sure how this will help you.
if you configure with ```--enable-builtin-atomi

[2017-06-26 03:04] cshanbo commented on #3286
Currently closed. Since this might a version-related problem.

[2017-06-26 03:04] #3286 closed

[2017-06-26 04:45] ggouaillardet commented on #3680
@opoplawski it turns out the fix was already available but not yet backported to the ```v2.0.x``` branch
this is now done in open-mpi/ompi#3758

[2017-06-26 06:15] bosilca commented on #665
Sorry @bwbarrett, that was something that was long overdue.

In case you are looking for things to be done in the TCP BTL hare is a short list:
- dynamically load-balancing the messages
- improving multi-link support
- redesign the connection management (horribly non scalable right now)
- figure out a small latency issue (a hardly justifiable 1us slower than NPtcp)

[2017-06-26 14:09] bmwiedemann opened #3759 "builds of openmpi are not yet reproducible"
## Background information

### What version of Open MPI are you using?
1.10.7 on openSUSE Tumbleweed (aka Factory)

## Details of the problem
For https://reproducible-builds.org/ I tried to build packages of openmpi twice and found various diffs in the binaries.

One source of such diffs should be removed by
https://github.com/open-mpi/ompi/pull/3756

But there are still invocations of

    `date`

[2017-06-26 21:21] mathbird opened #3762 "a MPICH datatype test fails"
hi

I tested  the following code with openmpi master branch. but failed. MPICH let it passed though.

http://trac.mpich.org/projects/mpich/browser/test/mpi/datatype/indexed-misc.c?rev=cef2f1ecfe5be54825776982567c2398bed71af3

[1,0]<stderr>: *** Process received signal ***
[1,0]<stderr>: Signal: Segmentation fault (11)
[1,0]<stderr>: Signal code: Address not mapped (1)
[1,0]<stderr>: Failing at add

[2017-06-26 23:06] bosilca commented on #3762
The test is broken. It stores a temporary datatype into the ```types``` array, and it does  not remove it once the type gets freed. I have pushed a fix in our own copy of the test.

The patch below should fix the problem for the MPICH team as well.

[code]

[2017-06-26 23:06] #3762 closed

[2017-06-27 07:30] GerrieWell opened #3763 "undefined reference to `opal_hwloc191*` while linking to caffe ."
## Background information
I tried to compile this lib ,[Cysu/caffe](https://github.com/Cysu/caffe) .Since they didn't open issues, I have to summit my issue in this page ,it's troubled me for days.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

v1.10 & v1.8

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, fro

[2017-06-27 10:13] ggouaillardet commented on #3763
can you please run
```ldd /home/wuyong/libs/openmpi/lib/libopen-rte.so.12```
/* it should resolve ```libopen-pal.so.*``` in the same directory */
and then
```nm /home/wuyong/libs/openmpi/lib/libopen-pal.so.* | grep hwloc```

[2017-06-27 12:40] GerrieWell commented on #3763
@ggouaillardet
it actually resolve open-pal in same dir.

[code]

And the outputs of` nm /home/wuyong/libs/openmpi/lib/libopen-pal.so.* | grep hwloc` contain opal_hwloc191_hwloc_bitmap_list_sscanf.

[code]
my system env variables are set like this :

[code]

[2017-06-27 12:52] jsquyres commented on #3763
A few things:

1. If you're just starting with Open MPI, you should likely be using the latest version of Open MPI, if possible.  That's currently version 2.1.1.  1.10 and 1.8 are pretty old release series.
1. Before trying to get your caffe program running, start with something simple.  Are you able to build / run trivial MPI programs, such as https://github.com/open-mpi/ompi/blob/master/examples

[2017-06-27 13:27] mathbird commented on #3762
**type** was freed  at line 421.  will it cause problems if it is assigned to types[0]?

[2017-06-27 13:31] bosilca commented on #3762
Yes, but it has been recreated at line 445 as an MPI_Type_hindexed.

[2017-06-27 13:36] mathbird commented on #3762
haha, I missed that.  Thx.

why MPICH let it passed? a bug in MPICH?

[2017-06-27 13:52] bosilca commented on #3762
MPICH uses integers as MPI_Datatype so they might be more tolerant to use-after-free. At the opposite we are using pointers to objects so we are sensible to all memory/objects mismanagement.

[2017-06-27 14:02] jsquyres commented on #3750
Originally posted in https://www.mail-archive.com/users@lists.open-mpi.org/msg31260.html; @hjelmn asked the user to open a Github issue so that we can track it.

[2017-06-27 14:08] jsquyres commented on #3478
@hppritcha @bwbarrett Nathan thinks this is fixed, and I confirm that the issue / PR cited in this issue are both closed.

Do one of you v3.x RMs want to close this issue?

[2017-06-27 14:26] GerrieWell commented on #3763
@jsquyres

[2017-06-27 14:31] GerrieWell commented on #3763
@jsquyres

[code]

Examples work fine. I skim the example makefile, it didn't use `libopen-rte.so.12`. Maybe I should try some examples linking with `libopen-rte` ? Anyway, thanks your help. I'm gonna sleep.

[2017-06-27 14:37] jsquyres commented on #3759
I think we'd be amenable to `$SOURCE_DATE_EPOCH` in the way it is described in the page you sent (i.e., if it's set, use it, otherwise, use the same date mechanisms we've been using).  Could you post another PR?

(the PMIX stuff will be submitted upstream to PMIX -- but they copy a lot of their build system / methodology from us, so they'll likely be amenable, too)

FWIW: the `hostname` usage (and

[2017-06-27 14:40] jsquyres commented on #3763
No MPI apps should need to link to `libopen-rte` directly.

What is the exact command that `[ 82%] Linking CXX executable caffe` is executing that causes the error?

[2017-06-27 14:49] rhc54 commented on #3759
Yeah, we'll take it upstream to MPIx. If it doesn't already exist, perhaps something like ```$SOURCE_HOSTNAME```?

[2017-06-27 15:14] #3416 closed

[2017-06-27 15:25] jsquyres opened #3769 "Segv in new monitoring coll"
@bosilca @clementFoyer Cisco's MTT is seeing segv's that seem to have to do with the monitoring coll.  See https://mtt.open-mpi.org/index.php?do_redir=2454, for example.

This also raises another point: I didn't anything to enable the monitoring components.  Are the monitoring components supposed to be enabled by default?

And if not, should I add MTT runs with them explicitly enabled?  If so, wha

[2017-06-27 15:27] clementFoyer commented on #3769
It shouldn't be enable by default. It requires at least to set --mca pml_monitoring_enable 1 at launch to start it.

[2017-06-27 15:28] hjelmn commented on #3750
Please check #3770. It should fix the issue.

[2017-06-27 15:29] rhc54 commented on #3769
We think you may have a bug in your glue that is failing even when monitoring is not enabled

[2017-06-27 15:34] clementFoyer commented on #3769
Would it be possible to send a sample for me to check on this issue ?

[2017-06-27 15:40] bosilca commented on #3769
It is not enabled in most of the jenkins checks and all test were successful. I can't replicate locally either.

[2017-06-27 15:41] rhc54 commented on #3705
@dalcinl I have added this to our discussion topics for our July developer's conference. We seem to recall there was a reason we didn't do the linkage, but maybe we can provide a configure flag to make your life easier.

[2017-06-27 15:53] ericch1 commented on #3416
Thanks, everything is working fine now! :)
Eric

[2017-06-27 15:56] jsquyres commented on #3769
Sure -- are you looking for more info than the stack traces that are on MTT?  I.e., tell me what you need, and I'll see if I can get it (since it happened at Cisco/MTT).

[2017-06-27 16:04] bosilca commented on #3769
I can reproduce.

[2017-06-27 16:05] #3478 closed

[2017-06-27 16:07] bwbarrett commented on #3107
We've pulled all the whitelist items into 3.0 and are back to bugfix only, so closing this ticket.

[2017-06-27 16:07] #3107 closed

[2017-06-27 16:37] bosilca commented on #3769
f8ffec926ee should fix the issue.

[2017-06-27 21:04] markalle commented on #3616
Confirmed, #3728 fixes this.

[2017-06-27 21:29] #3616 closed

[2017-06-28 00:10] ggouaillardet commented on #3759
i already started implementing this, and i will likely PR today

[2017-06-28 10:30] bmwiedemann commented on #3759
On 2017-06-27 16:37, Jeff Squyres wrote:

one common approach I have seen is to re-use $SOURCE_DATE_EPOCH as an
indicator for 'someone wants the build to be reproducible' e.g.

[code]

[2017-06-28 13:38] jsquyres commented on #3759
@bmwiedemann Ralph suggested `$SOURCE_HOSTNAME` -- does that work for you?  Otherwise, we wouldn't know what to pick for `someconstant`.

[2017-06-28 14:35] bmwiedemann commented on #3759
The disadvantage of an extra variable is that a dozen distributions would have to discover and use it then, while $SOURCE_DATE_EPOCH is already well-established.

I usually use `hostname=reproducible` to indicate that it is not the real build hostname

[2017-06-28 14:40] bmwiedemann commented on #3759
https://www.zq1.de/~bernhard/temp/openmpi-reproducible-patch.txt is my test-patch that made the build fully reproducible, but I considered too unclean to upstream in this form.

[2017-06-28 14:41] jsquyres commented on #3759
@bmwiedemann Just to be sure I understand: you're suggesting using `$hostname` and not `$SOURCE_HOSTNAME`, right?

Be sure to see #3779, too (but it doesn't [yet] include anything for hostname).

[2017-06-28 14:44] bmwiedemann commented on #3759
I meant: do not use an extra variable to signify that the build should override the hostname, but look at the existance of $SOURCE_DATE_EPOCH for that.

[2017-06-28 14:44] rhc54 opened #3780 "SLURM PMI integration is broken for PMI-1 and PMI-2"
This is true on both master and v3.0 branches. The runtime detection of PMI-1 also seems off as we appear to always pick the "s2" component in the opal/pmix framework. The output with pmix_base_verbose=10 looks like this (using SLURM 17.02.4):
[code]

[2017-06-28 14:53] jsquyres commented on #3759
@bmwiedemann I have to admit that that's a bit weird to me.  I can see the argument of using `$SOURCE_DATE_EPOCH` because that's a value that's at least rooted in some reality / some user choice.  But if we arbitrarily pick a non-existent hostname, that seems counter to the point, doesn't it?  It would also defeat the point of having a hostname at all.

Do reproducible builds have to produce exact

[2017-06-28 14:54] rhc54 commented on #3759
That seems a little ugly as it requires one infer some intent of the user that may not exist. However, I don't feel strongly about it. I would, though, suggest that somebody in the distro world fix the ambiguity by creating a separate variable.

[2017-06-28 15:05] rhc54 commented on #3780
@hppritcha @bwbarrett Just an FYI for your planning.

[2017-06-28 15:09] bmwiedemann commented on #3759
@jsquyres we have a build farm for openSUSE and the idea is to be able to (re)create identical binaries on any of the build hosts. (otherwise we have to re-publish build results to the mirrors and users wasting their bandwidth when nothing in the code actually changed)
At the moment, rpm metadata still contain the actual build hostname and a specialized compare script ignores that. But in a few ye

[2017-06-28 15:26] hunsa opened #3781 "MPI_Gather Performance Issue (ompi_coll_base_gather_intra_linear_sync)"
We have tested the different MPI_Gather algorithms implemented in
**Open MPI 2.1.1**.  We use 32 nodes, 16 cores each, 2 sockets per node,
and one Infiniband switch (Open MPI is configure with cma support).

When I benchmark the latency of MPI_Gather using algorithm 2, I get the following

[code]

So, everything is okay. The latency of the first and the second call
to MPI_Gather are almost identic

[2017-06-28 15:40] bosilca commented on #3781
As you are talking about the first communication the extra time might be spend in establishing connections. Try to use "--mca mpi_preconnect_all 1" to see if this changes your result. If yes then you have your culprit and there is little you can do. Otherwise we need to dig a little further to understand what is going on.

[2017-06-28 15:50] hunsa commented on #3781
As you expected, `mpi_preconnect_all` helped (see below). The startup time of MPI is now super slow, but at least, it is not influencing the first MPI_Gather communication anymore. Now, we have the expected factor of 10 between first and second Gather call.

Thanks a lot, but there is one more thing.
Do you happen to know a scenario when this "linear_sync" algorithm is more efficient than the othe

[2017-06-28 15:52] infinity0 commented on #3759
To give some background, `SOURCE_DATE_EPOCH` was not meant to be the "go-to" solution for achieving reproducible builds. Ideally we'd like software projects to be reproducible "by default". `SOURCE_DATE_EPOCH` was a compromise solution specifically for timestamps because (a) so many build tools were taking inputs from the system clock (b) it would've been hard to change this int to a string "unkno

[2017-06-28 16:09] bmwiedemann commented on #3759
sounds good.

[2017-06-28 21:54] bosilca commented on #3781
@hunsa I do not suggest you to use the preconnect in a real scenario, it decrease the opportunity for optimizations of the MPI startup process, by forcing the runtime to execute the modex (business card exchange) in a synchronous way, and also create P^2 connections that are not necessary for most applications. Using preconnect is clearly not scalable, and in most cases (and here I exclude all typ

[2017-06-29 02:05] ggouaillardet commented on #3759
from a vendor/packager point of view, i understand the value of having reproducible builds.
from a developer point of view, i also understand timestamps/hostnames can be valuable information too.

so i'd rather give everyone the option to choose what fits best.
```SOURCE_DATE_EPOCH``` looks like a _de facto_ standard, so let's just use it.
there is no such thing (yet) for hostname, so i think it i

[2017-06-29 02:34] rhc54 commented on #3759
Yeah, Jeff and I discussed this a bit earlier today and feel that we need to keep that hostname in there. I think using ```SOURCE_HOSTNAME``` is a good compromise - it gives the packagers what they want and retains the identification desired by others.

A "standard" has to start somewhere 😄

[2017-06-29 07:33] infinity0 commented on #3759
I think there was some misunderstanding of what I wrote. My comments to do with `SOURCE_DATE_EPOCH` were not to discourage using that, but more to explain why a hostname envvar isn't a good idea. I certainly would recommend against using it, for any project that would like to achieve reproducible builds.

Having too many environment variables defeats the point of having reproducible builds *by def

[2017-06-29 08:02] devreal commented on #3750
Thanks for the quick fix. I checked it and can confirm that I do not see hangs on my local system anymore when using `MPI_Win_flush_local`.

[2017-06-29 08:05] ggouaillardet commented on #3759
@infinity0 any better idea for the environment variable instead of ```SOURCE_HOSTNAME``` ?
i do not think we want to make builds reproducible __by default__, but we definitely want to give the option to make builds reproducible.

[2017-06-29 09:55] infinity0 commented on #3759
Would you be happy with adding a `--release` flag for `./configure` or something similar? When this is set, then the build could fallback to default values like 'unknown' for things like the hostname. This would make reproducible-builds easier to achieve: Suppose in the future you wanted to add extra information to the build like the kernel version, ABI number of bits, etc. Users then could tell t

[2017-06-29 12:38] dalcinl commented on #3705
@rhc54 This is not about making my life easier, but the life of all users that typically have a pre-installed Open MPI they don't have control on. If the configure flag is not on by default, installers of Open MPI will likely miss to turn on the flag, and this issue will continue harming end users *ad eternum*.

In general, I see two possible ways to fix things:

1) Modify every plugin to call `dl

[2017-06-29 13:42] rhc54 commented on #3759
I think we are falling towards not making the build reproducible per your definition by default, but I don't think we have any particular position regarding the switch to use when indicating that desired behavior. I agree with your concern about having a bunch of flags, but I also wonder if we won't encounter situations where one distro may feel that certain fields should be set a particular way,

[2017-06-29 13:47] rhc54 commented on #3705
I believe you misunderstood me. I was not minimizing your concern, but only echoing a conversation we had on the weekly telecon where I raised this issue. My point was that there was a reason for not doing the linkage, and so we have to be careful here that we don't break other things. Hence, I added it to the conference agenda to ensure we give adequate consideration to the problem before decidin

[2017-06-29 14:04] jsquyres commented on #3705
I just did a little spelunking to dig into the history of this a bit (as @rhc54 noted, we talked about this on Tuesday at our weekly webex, where @bwbarrett and I felt sure that we made it so that components do not link against their respective project libraries a while ago -- so I dug into the past to find out *why* we did this).  Here's what I found:

* We had a lengthy discussion about this on

[2017-06-29 15:06] jsquyres commented on #3759
A few points in no particular order...

### Use cases

There's a few use cases that we're concerned with:

1. Developer builds
2. Packager builds (usually OS's and distros)
3. End-user builds

I think that most software packages probably fall into using pre-built packager builds.  But Open MPI is a bit different -- in the environments where it is used, it is quite common for the sysadmins to insta

[2017-06-29 15:19] ggouaillardet commented on #3759
as far as i am concerned, i'd rather go with ```$SOURCE_DATE_EPOCH``` and ```$BUILD_HOSTNAME```.
this provides the required flexibility to generate reproducible builds.
last but not least, we do not need do decide what the "best" default date and/or hostname are.
for example
- ```unknown``` is best for privacy
- ```build.<distro>.com``` makes it clear via ```ompi_info``` that the library is provid

[2017-06-29 16:38] rhc54 commented on #3705
After working thru that page, I'm wondering if we can extract a combination that works. If we are in a Linux environment and are not building static, then it appears (if I read the tables correctly) that linking the components to their base library might work and resolve the issue. As I said, we can ponder this more at the conference.

[2017-06-29 18:26] dalcinl commented on #3705
@jsquyres From your tables, in the second one, entry 15, result (**I**), is this "other linkers will not work" just speculation or you actually have a concrete example about a platform where things are broken? BTW, I'm almost sure this sould also work on macOS, though I did not actually tried (do you want me to try it and confirm?)

[2017-06-29 19:01] jsquyres commented on #3705
@dalcinl Yeah, I noticed that same phrase again this morning when I was re-reading that table.  I had two thoughts about it:

1. Same question as you: did Past Jeff have specific systems in mind?  I unfortunately do not remember.  😦
1. What systems do we care about nowadays, and do they all work in case (**I**)?  I.e., should we solve the problem just for the systems we care about, and just make s

[2017-06-30 14:55] shamisp commented on #3697
@yosefe - what compiler version is used ?

[2017-06-30 14:58] yosefe commented on #3697
[code]

[2017-07-03 01:20] arosen93 opened #3798 "Path to $TMPDIR too long (error in file oob_usockcomponent.c)"
I am using OpenMPI 2.1.1 on a compute cluster with Torque/PBS. My system administrator installed it from a tarball. Whenever I submit a job that requires OpenMPI, I get the following error:

[code]

I have traced this back to the $TMPDIR path being too long for this version of OpenMPI. When I change the $TMPDIR path manually to something short (or try submitting a job on another cluster that uses

[2017-07-03 01:54] rhc54 commented on #3798
Simplest solution:
[code]

[2017-07-03 01:54] #3798 closed

[2017-07-03 04:36] arosen93 commented on #3798
That may work for some, but I do not have permission to copy necessary files to the resulting directory. So, the issue remains even if there is a workaround solution that works for some. If you have too long a path name, it doesn't work, so I don't know if the issue should be closed.

[2017-07-03 15:23] hppritcha commented on #2324
@hjelmn could you open a PR baesd off of #2334 on 2.x, 2.0.x, and 3.0 to fix this issue?  Or if you've already done so, please close this issue.

[2017-07-03 15:27] hppritcha commented on #1762
@edgargabriel should this be assigned to you?  If so, which milestone would you suggest?

[2017-07-03 15:27] hppritcha commented on #2525
@hjelmn any update for this issue?  Should it be moved to future milestone?

[2017-07-03 15:28] hppritcha commented on #2055
@jjhursey any updates on this issue?

[2017-07-03 15:34] hppritcha commented on #2114
@jsquyres do we still want to take this for v2.0.x/v2.x?  93fa94f doesn't apply cleanly.

[2017-07-03 15:37] hppritcha commented on #1441
@jsquyres @bturrubiates can this issue be close?  Or maybe moved to future milestone?

[2017-07-03 15:43] hppritcha commented on #1607
@jsquyres @bturrubiates any progress on this issue?  Should the milestone be changed ?

[2017-07-03 15:44] hppritcha commented on #1666
Can this issue be closed?

[2017-07-03 15:45] hppritcha commented on #1695
@jsquyres should we move this issue to a different milestone?

[2017-07-03 15:46] hppritcha commented on #409
@hjelmn did you get a chance to double check whether this issue can be closed.  Its been a while

[2017-07-03 15:48] hppritcha commented on #778
@sjeaugey anyone at nvidia still observing this problem?  If not, I'd suggest closing.

[2017-07-03 15:49] hppritcha commented on #1100
@hjelmn should we close this issue?

[2017-07-03 15:50] hppritcha commented on #3183
@bharatpotnuri any update on this issue?

[2017-07-03 15:53] hppritcha commented on #3182
@hjelmn have the items discussed above been addressed?

[2017-07-03 15:54] hppritcha commented on #2817
moving the milestone for this issue to future.

[2017-07-03 15:56] hppritcha commented on #2606
@jsquyres I think this issue can be closed since we updated the README and this is an XLF compiler bug.

[2017-07-03 15:56] hppritcha commented on #2605
@sjeaugey any updates for this issue?

[2017-07-03 15:57] sjeaugey commented on #778
Indeed, I don't remember having seen this so it must have been fixed shortly after. Closing.

[2017-07-03 15:57] #778 closed

[2017-07-03 16:02] sjeaugey commented on #2605
I'm not sure what we should do on our side. Reading Paul's email, it seems someone added this GCC-specific flag which broke compilation with PGI on darwin. Should we remove it ? Or only add this flag when the compiler is GCC ?

[2017-07-03 19:22] PHHargrove commented on #2606
@hppritcha  There are actually PGI and XLF bugs in this issue.
However, all the discussion has been on XLF so far.
Please don't close unless there is evidence that the original PGI problem has been resolved as well.

[2017-07-03 21:28] PHHargrove commented on #2606
I have confirmed access to PGI 16.10 and 17.{1,3,4,5} for OpenPower.
I am going to see today if I can at least reproduce w/ OMPI 2.0.2 and PGI-16.10 (where the problem was originally reported).
I will then see about OMPI 2.1.1 with both PGI-16.10 and more recent pgfortran.

[2017-07-03 23:21] PHHargrove commented on #2606
Problem re-confirmed with Open MPI 2.0.2 and PGI-17.3.
It is still present in Open MPI 2.1.1 (tried PGI-17.3 and 17.5) and 3.0.0rc1 (tested only PGI-17.5).

[2017-07-04 00:27] PHHargrove commented on #3612
This error is also present in my testing on OpenPower (ppc64le) with the 20170630-beta release of the XL compilers and Open MPI 3.0.0rc1.
[code]

[code]

However, I can also confirm that the MPI bindings are fine.

[2017-07-04 05:06] PHHargrove commented on #3612
I have some more data that at least pins down why the link is failing.

Configure with four different compilers on the PPC64LE system shows xlf differs from the other three:
[code]

The object references the following symbols
[code]
Note that none of these have a trailing underscore, which is consistent with the configure findings.

However, the library contains the following `shmem_int8_wait_unti

[2017-07-04 05:53] PHHargrove commented on #3612
Unlike the code in `ompi/mpi/fortran`, it appears that `oshmem/shmem/fortran` doesn't include lowercase-without-trailing-underscore as a potential FORTAN interface at all!
So, the fix for this is going to be fairly pervasive.

### Work-around:

For the moment, configuring with `FC="xlf -qextname"` to force a trailing underscore appears to work (and also verifies the diagnosis).

[2017-07-04 05:58] kawashima-fj commented on #3697
@PHHargrove reported similar issues on the [devel list](https://www.mail-archive.com/devel@lists.open-mpi.org/msg20278.html).

Regarding `make check`, totally reported version/platform/compiler/test patterns of fail/hang are:

- Open MPI 2.1.2a1 / ARM64 / GCC 4.8.5 / opal_fifo, opal_lifo, ompi_rb_tree: hang
- Open MPI 3.0.0rc1 / PPC64 / GCC 4.8.3 / opal_fifo: fail
- Open MPI 3.0.0rc1 / PPC64LE / G

[2017-07-04 07:26] bharatpotnuri commented on #3183
@hppritcha Sorry, I could not work on this.  I started looking into it now.

[2017-07-04 09:48] gruel opened #3807 "openmpi version 1.8 and above crash"
## Background information

I am trying to compile and use the finite element software [parafem](http://parafem.org.uk/). I discover a problem in openmpi which appear between the version 1.6.5 and 1.8. I must mention that I tested it with mpich 3.2 and it is working as expected.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

Version: 1.6 (last

[2017-07-04 11:09] ggouaillardet commented on #3807
thanks for the report, i will take a crack at it.
meanwhile, can you please try to run again with
```mpirun --mca coll ^tuned ...```
there is a known issue with ```coll/tuned``` when using matching signatures
(e.g. one big datatype on one hand, and many small datatypes on the other hand)
so i'd like to figure out whether this is a known issue or not

[2017-07-04 12:04] gruel commented on #3807
This is the return of the command you asked. I hope that will help. Thanks.

[code]

[2017-07-04 12:08] ggouaillardet commented on #3807
thanks for the log.
this is not the issue i had in mind, so unfortunately i have no workaround to provide yet.

i will investigate this issue this week

[2017-07-05 14:00] jsquyres opened #3809 "v3.0.0rc1: PMIx issue: UNPACK-INADEQUATE-SPACE"
From thread on devel started by @PHHargrove (https://www.mail-archive.com/devel@lists.open-mpi.org/msg20280.html): On (at least) two different hosts (both Linux, one x86-64 and one ppc64el) I am seeing a failure to launch ring_c with errors like those shown below.

Configure options: --prefix=[...] --enable-debug CC=... CXX=... FC=...
One of the two also had --with-libfabric=/usr/local/pkg/libfabr

[2017-07-05 14:03] hppritcha commented on #3809
Does the problem persist if vader BTL is used instead of sm?

[2017-07-05 14:13] jsquyres commented on #3697
Added a v3.0.0 milestone since @PHHargrove saw this on 3.0.0rc1, per the above comment.

[2017-07-05 14:25] jsquyres opened #3810 "Ensure v3.x commits are cherry picked to v3.0.x"
Per https://github.com/open-mpi/ompi/pull/3806#issuecomment-313113763, it looks like there were at least a few PRs that were merged to the v3.x branch even after it was defunct (first email I see about creating a nightly v3.0.x tarball was on May 30).

Probably need to audit the logs on the v3.x branch and ensure that all PRs that were applied there got applied to the v3.0.x branch.

Assigning thi

[2017-07-05 14:28] jsquyres opened #3811 "v3.0.0rc1: XLC build errors with ompi_datatype_module.c"
From @PHHargrove on https://www.mail-archive.com/devel@lists.open-mpi.org/msg20275.html:

With xlc-12.1 and 13.1 (big-endian PPC64, both LP64 and ILP32) there are numerous problems compiling with ompi_datatype_module.c (a prefix of which are shown below).

[code]

[2017-07-05 14:30] jsquyres commented on #3798
@rhc54 Given that this comes up again and again, perhaps we should put a show_help message in with this specific workaround...?

[2017-07-05 14:35] jsquyres commented on #2605
@sjeaugey Agreed -- it seems like libevent's configury is incorrectly adding that compiler flag.  It seems like it would be a relatively straightforward configury fix (although for best results, it should probably also be sent upstream to libevent).  Can you supply a PR?

[2017-07-05 14:38] jsquyres commented on #1695
This is likely worth discussing in Chicago next week.

[2017-07-05 14:40] rhc54 commented on #3798
Not sure what you mean by "again and again", but it does crop up on rare occasions. You are welcome to add a show_help message if you think it necessary.

[2017-07-05 14:43] jsquyres commented on #1607
I think that this should fall to the openib BTL maintainer: @bharatpotnuri

[2017-07-05 14:45] rhc54 commented on #3809
I can't replicate it using the head of the 3.0 branch

[2017-07-05 14:45] jsquyres commented on #2114
Since v3.0.0 is around the corner (and included this enhancement), and since 93fa94f96fe901ed9f8842bcbfca78a04d77ba34 doesn't apply cleanly, we might as well close this issue.

[2017-07-05 14:45] #2114 closed

[2017-07-05 15:04] bharatpotnuri commented on #1607
@jsquyres Shall work on it.

[2017-07-05 15:37] jsquyres commented on #2606
@jjhursey @DanielCChen Can one of you guys follow up on the PGI issues on this issue?  Thanks!

[2017-07-05 16:03] hjelmn commented on #2966
Its possible the LL/SC fifo implementation has a bug. I will take a look this week and see if there is anything obvious.

[2017-07-05 16:38] hppritcha commented on #3810
#3677 looks suspect.
#3568 looks suspect.q

Note I don't have write permissions on v3.x branch now so can't merge.

[2017-07-05 16:48] jjhursey commented on #2606
I'll try to take a look this week.

[2017-07-05 16:50] jjhursey commented on #3612
@PHHargrove Thanks for tracking that down! I should be able to work up a fix for this in the next day or two.

[2017-07-05 17:03] jjhursey commented on #2055
I can confirm that this is fixed in `master` by PR #3589. I've started builds to also confirm the fix is correct for the release branches:
 * `v3.0.x` : PR #3592
 * `v2.x` : PR #3590
 * `v2.0.x` : PR #3591

We can close this issue, and I'll followup with the results of the release branch testing.

[2017-07-05 17:03] #2055 closed

[2017-07-05 18:16] jjhursey commented on #2055
I verified correct compilation with `--enable-mpi-cxx` on all of the active release branches (`v2.0.x`, `v2.x`, `v3.0.x`)

[2017-07-05 18:55] PHHargrove commented on #3809
@hppritcha   No, `-mca btl vader,self` did not change or eliminate the error.

[2017-07-05 19:01] PHHargrove commented on #3809
In the flood of data that arrives each time I test an RC, I had failed to notice that despite the fact that one is x86-64 and the other ppc64el, *both* failing systems are using PathScale compilers!

I don't have other runs on the x86-64 host, but on the ppc64el host a build with clang runs just fine!

So, it looks possible that this could be a PathScale compiler bug.

[2017-07-05 19:21] PHHargrove commented on #3809
x86-64:  ekopath-6.0.963 (snapshot / free download)
[code]

ppc64el:  enzo-6.0.9
[code]

[2017-07-05 19:30] rhc54 commented on #3809
It could be a compiler issue, but more likely an uninitialized variable that Pathscale sets to a different default. We can poke in the code a bit and see what's going on.

[2017-07-05 19:36] rhc54 commented on #3809
Here's the culprit:
[code]
My guess is that Pathscale doesn't appreciate that cute ```&(int){1}``` in there.

[2017-07-05 19:39] rhc54 commented on #3809
@PHHargrove Can you please try with the following diff:
[code]

[2017-07-05 20:06] artpol84 commented on #3809
I recall that @hjelmn did similar (and maybe this) changes when we were debugging a dstore issues

[2017-07-05 20:06] artpol84 commented on #3809
Sorry, wrong button.

[2017-07-05 20:12] rhc54 commented on #3809
Just FWIW: it is legitimate according to the standard - it just may be a part of the standard that Pathscale doesn't support, and since it isn't necessary, it would be an easy fix once we confirm that this is indeed the issue.

[2017-07-05 20:15] artpol84 commented on #3809
I actually liked that change, looks very nice and avoids unnecessary variable. I didn't knew about this feature. However indeed it is quite possible that some compilers can stumble upon it.

[2017-07-05 21:26] PHHargrove commented on #3809
@rhc54
I can confirm that your patch corrects the problem on both platforms.

I tried, just now, configuring with `CC="pathcc -std=c99"` and got an unrelated compile error in libevent that does not occur with `CC="pathcc -std=gnu99"` (will report separately).  However, I did confirm that the error cannot be eliminated via `CC="pathcc -std=gnu99"`.

Re: `&(int){1}`
Didn't the Open MPI community at

[2017-07-05 21:28] rhc54 commented on #3809
I honestly don't recall if OMPI did so. PMIx tries to stay at the lowest common denominator, and so we certainly wouldn't push beyond what OMPI allows. This just slipped thru as something cute and within the standard, but definitely not something we need.

I'll setup the PR to fix it. Thanks!

[2017-07-05 21:42] hjelmn commented on #3809
@PHHargrove I think we only agreed on C99. If pathscale doesn't support ```&(int){1}``` then it isn't compliant.

[2017-07-05 21:44] PHHargrove opened #3812 "libevent build failures with -std=c99"
As was noted in issue #17, Linux does not define `NSIG` unless `_USE_MISC` is defined.
For this reason, configuration with `CC="gcc -std=c99"` fails when building libevent because `NSIG` is undefined in strict C99 mode:
[code]

Something as simple as the following somewhere in libevent (event-internal.h?) might be sufficient:
[code]

However, that alone is not sufficient since there are other thin

[2017-07-05 21:49] PHHargrove commented on #3809
@hjelmn
Perhaps the configure check for C99 support can be strengthened to reject Pathscale?
However, this particular issue appears as a runtime behavior, and not a compile-time one.

FWIW: as I just noted in #3812, if you ask gcc on Linux to be *strictly* C99 compliant then libevent won't build!

[2017-07-05 21:51] rhc54 commented on #3809
We shouldn't reject Pathscale over something this trivial and unnecessary. If we get that strict, we'll be rejecting many compilers as they all have some quirk 😄

[2017-07-05 21:53] rhc54 commented on #3809
FWIW: that code was already changed in the PMIx master, and so won't be there once we update to PMIx 2.1.0 (or 3.0, whichever comes first).

[2017-07-05 21:56] hjelmn commented on #3809
I really see no point in allowing non-compliant C compilers. I have long since abandoned using anything other than gcc and clang for the C compiler. Intel compiler is too slow, pgcc is buggy, etc. Just use whatever for the fortran bindings. But that is just me.

[2017-07-05 21:57] hjelmn commented on #3809
Its really odd that this ends up as a runtime error. Probably means pathscale supports the syntax but there is a bug in the C implementation.

[2017-07-05 21:58] rhc54 commented on #3809
yep -but it simply isn't a position we can globally take as a community. I agree that it's a bug in their implementation and should be reported to them.

[2017-07-05 21:59] rhc54 commented on #3812
Might be interesting to check their 2.1 release and see if it is fixed there

[2017-07-05 22:01] PHHargrove commented on #3809
@rhc54  I am not sure what "them" one can report to.  www.pathscale.com is down and Wikipedia's entry on Pathscale says it has been since May, 2017.

[2017-07-05 22:01] jsquyres commented on #3809
Have to agree with @rhc here -- it's a pretty obscure feature.  We apparently used it in a single place.  We should report it to the Pathscale people, and they'll likely fix it.

It might be different if this was a feature that we used widely throughout the code base.

[2017-07-05 22:02] rhc54 commented on #3809
dunno - however, the Pathscale folks have responded on our devel list recently, so they do still appear to be around.

[2017-07-05 22:06] jsquyres commented on #3809
@cbergstrom You guys still around?  Can we report a potential Pathscale compiler bug to you?

[2017-07-05 22:09] PHHargrove commented on #3809
I know that Nathan has used this feature in the attempts to fix the patcher/overwrite problems on OpenBSD.  So, I wouldn't say this is used in only one place.
FWIW, a quick grep turns up this instance and 2 others in 3.0.0rc1:
[code]

[2017-07-05 22:11] jsquyres commented on #3809
@PHHargrove I stand corrected.  😄   Perhaps we should update all of these.

[2017-07-05 22:16] PHHargrove commented on #3809
With a better regex to allow digits and spaces in type names I found three more:
[code]

[2017-07-05 22:17] rhc54 commented on #3809
sigh - yes, let's keep the level of cuteness down a bit

[2017-07-05 22:17] rhc54 commented on #3809
I'll take care of the ones in the pmix layer

[2017-07-05 22:20] hjelmn commented on #3809
It isn't cuteness. It is a C99 feature to make a temporary pointer. To be compliant a compiler MUST support it. It is not optional.

[2017-07-05 22:21] rhc54 commented on #3809
i say "cute" because it is easily coded in an optional manner that yields the exact same binary, and is thus unnecessary.

[2017-07-05 22:23] hjelmn commented on #3809
It is actually part of a OMPI required C99 feature (sub-object naming) FWIW. See C99 6.5.2.5 Compound literals.

[2017-07-05 22:25] jsquyres commented on #3809
@hjelmn I believe you.  But this is possibly a minor compiler bug.  Let's ask the compiler guys about it and see where to go from there.

[2017-07-05 22:25] rhc54 commented on #3809
Understood - but it doesn't change the situation. This isn't a critical feature we can't live without, it doesn't impact performance, etc. So let's just change the code and move on.

[2017-07-05 22:31] PHHargrove commented on #3809
`<humor>`
@hjelmn C99 also defines a behavior for the `inline` keyword that GCC violates.
So, Nathan, you can keep using Clang but must (by your own rule) stop using GCC.
`</humor>`

I am not in a position to make policy for Open MPI or PMIx.
However, as  champion for portability, I agree entirely with Ralph that this is a feature that is not necessary to the code and that making a concession to t

[2017-07-05 23:22] rhc54 commented on #3809
I fixed them all here: https://github.com/open-mpi/ompi/pull/3813

[2017-07-06 00:31] rhc54 commented on #3812
Well, v2.1.8 certainly doesn't build by default:
[code]
Turns out the definition of ```lstat``` is covered by:
[code]

[2017-07-06 01:44] ggouaillardet commented on #3807
to me, that looks like a bug in the app.

basically, it does
[code]

and i am not sure there is any guarantee that ```MPI_RECV``` will indeed receive the message that was previously ```MPI_PROBE```'d

@bosilca @jsquyres @hjelmn can you please comment on that ?

the inline patch below fixes that

[code]

[2017-07-06 02:14] #3809 closed

[2017-07-06 04:57] ggouaillardet commented on #3811
@PHHargrove can you please give the inline path a try ?

[code]

@bosilca does that sound like the right fix ?

[2017-07-06 05:57] PHHargrove opened #3816 "v3.0.0rc1: XLC-12.1 build errors w/ -q32 and atomics"
With xlc-12.1 on a ppc64 host, I am trying to build for ILP32, and configure as follows:
[code]
This build was previously failing due to #3811, but a patch from @ggouaillardet gets me past that and on to the next problem:
[code]

All thee errors are on lines with just `__sync_synchronize()`.
I have attached the [config.log](https://github.com/open-mpi/ompi/files/1126856/config.log.txt)

[2017-07-06 06:21] PHHargrove opened #3817 "v3.0.0rc1: XLC-13.1 odd failure running ring_c"
I have configured on a Linux/ppc64 system with xlc-13.1 as follows:
[code]

This build was previously failing due to #3811, but a patch from @ggouaillardet gets me past that and on to the next problem:

[code]

Note that the failing address of `0xdeafbeeddeafbf35` is suspiciously similar to
```./opal/class/opal_object.h:#define OPAL_OBJ_MAGIC_ID ((0xdeafbeedULL << 32) + 0xdeafbeedULL)```

From gdb

[2017-07-06 06:23] PHHargrove commented on #3811
@ggouaillardet
That patch did the trick on the three systems where I observed the problem (xlc-12.1 LP64 and ILP32 builds, xlc-13.1 LP64).

On the xlc-12.1 system the LP64 build gets all the way to a successful `make check` and run of ring_c, etc.

The xlc-12.1/ILP32 and xlc13-1/LP64 builds each yielded a new issue ☹️ , #3816  and
 #3817 respectively.

[2017-07-06 07:43] PHHargrove commented on #2604
Retest w/ Open MPI 3.0.0rc1 and PGI-17.4 shows that nothing has changed.

[2017-07-06 08:14] ggouaillardet commented on #3816
this is really odd, since ```sync_synchronize()``` was tested in ```configure```

out of curiosity, can you please give the inline patch below a try ?

[code]

[2017-07-06 08:38] PHHargrove commented on #3809
Re: www.pathscale.com being down
Please see https://www.hpcwire.com/2017/03/23/hpc-compiler-company-pathscale-seeks-life-raft/

[2017-07-06 09:40] ggouaillardet commented on #3817
the first warning is a red flag.
can you please attach your ```/gpfs-biou/phh1/OMPI/openmpi-3.0.0rc1-linux-ppc64-xlc-13.1/INST/lib/pmix/mca_ptl_tcp``` (the binary, i do not know which extension it has on ppc64)   ?
the name (```tcp``` should have been statically initialized, just like the type (```ptl```) but it was not ...
that sounds pretty odd to me ...

[2017-07-06 09:53] PHHargrove commented on #3816
I can verify that the following 4-line C program compiles fine with the same arguments to xlc other than the -o:
[code]
So, I don't think the configure check was wrong.

Even without the patch above from @ggouaillardet to remove `void`, I find that many files that include atomic.h are just fine.

With the patch, the one observed failure on ompi/mpi/c/profile/paddress.c *is* fixed.

Makes no sense

[2017-07-06 10:00] PHHargrove commented on #3817
@ggouaillardet
Here is mca_ptl_tcp.so, which I assume is the binary file you are asking for.
It is wrapped up inside [mca_ptl_tcp.zip](https://github.com/open-mpi/ompi/files/1127451/mca_ptl_tcp.zip) to satisfy github.

[2017-07-06 11:28] ggouaillardet commented on #3817
thanks, the binary looks bad to me
for example
[code]
all these fields are zero'ed.
they should have been
[code]

this makes very little sense to me ... can you simple preprocess ```ptl_tcp_component.c``` so maybe we can figure out what is going wrong ?
(a simple way to achieve this is
[code]
so you can get the full compile command.
and then simply copy/paste it and replace ```-c``` with ```-E```

[2017-07-06 11:54] jjhursey commented on #3809
Is this something we can easily add a configure check for? That way configure will fail out if the compiler does not correctly support this aspect of C99. We certainly do this kind of testing of Fortran compilers, so I think it would be good to do so of C compilers. I don't know how difficult it would be to generate a test for it though.

[2017-07-06 12:32] rhc54 commented on #3809
That's a death-spiral - as Paul pointed out, every compiler has a bug in it somewhere. If we begin rejecting compilers that aren't fully compliant, nothing will be left.

Where we want to use a feature that is critical to the implementation or offers a clear performance advantage, then we should take a hard look at the situation if a compiler has issues with it to see if coding around the problem

[2017-07-06 12:37] gruel commented on #3807
Thank you very much. Indeed the patch is fixing the problem. Take care.

[2017-07-06 12:54] ericch1 opened #3818 "OpenMPI/3.0x: singleton hang at beginning"
Hi,

using OpenMPI 3.0x branch, I configured it this way:

http://www.giref.ulaval.ca/~cmpgiref/ompi_3.x/2017.07.05.20h00m01s_config.log

Here is the output of ompi_info --all
http://www.giref.ulaval.ca/~cmpgiref/ompi_3.x/2017.07.05.20h00m01s_ompi_info_all.txt

Over 2400 tests (~2200 are singletons), only 1 is bugging at start with this output in stderr:

<pre>
[zorg:25154] [[INVALID],INVALID] plm

[2017-07-06 14:05] mathbird opened #3821 "vader fails IMB-EXT Unidir_Get test"
Hi, I am testing OMPI with Intel IMB test “**IMB-EXT Unidir_Get**” as following. With “**vader**”, it gave error. Without “vader” or adding openib as “-mca btl **openib,vader,tcp,self**”, the test passed well.   Does “vader” need special configure option to build? Does it need other options to make it work?

Thanks,

Dahai

[code]

[code]

[2017-07-06 14:25] jjhursey commented on #3821
We are also digging into this issue, but any insight/help would be appreciated. We have tracked it down to a handful of commits and are currently bisecting further to narrow it down to one. But it looks like the rcache / mpool rework might be the source.

The current thinking is that it's memory corruption. Adding some additional context to the error reported in [vader here](https://github.com/ope

[2017-07-06 14:44] jjhursey commented on #3821
I'm using `master` from yesterday configured with `--enable-debug` using the IMB 4.1 benchmark. Running on a single machine with `-np 2` can reproduce. We have been able to reproduce on both ppc64le and x86_64 platforms.
 * **Pass**:  -mca btl sm,self
 * **Pass**:  -mca btl tcp,self
 * **Fail**:  -mca btl vader,self

Here is the full trace of a failed run:
[code]

[2017-07-06 15:22] mathbird commented on #3821
we found **Unidir_Put** works well with different options.   so how the vader code to handle **get** and **put** differently?

[2017-07-06 15:23] mathbird commented on #3821
we found Unidir_Put works well with different options. so how does the vader code handle get and put differently?

[2017-07-06 16:41] bwbarrett commented on #3821
@jjhursey, are the patches in question also on the v3.0.x branch?  I assume yes, but hoping no...

[2017-07-06 16:54] jjhursey commented on #3821
@bwbarrett yeah it impacts the v3.0.x branch. Here is the breakdown for the release branches (as of a build from yesterday):
 * **Pass** v2.0.x
 * **Fail** v2.x
 * **Fail** v3.0.x
 * **Fail** master

The leading suspect commit is the mpool/rcache rework (which is not in the v2.0.x branch):
 * https://github.com/open-mpi/ompi/commit/d4afb16f5a7201cd8b6e79377662bee3d4f17aaa

Valgrind shows some warn

[2017-07-06 17:15] #3807 closed

[2017-07-06 17:17] jsquyres commented on #3807
@ggouaillardet is correct -- just because you PROBE successfully for a message, if you RECV with ANY_SOURCE and/or ANY_TAG, it's not guaranteed that you'll get the same message that you PROBEd for.

A similar mechanism to get the same effect that @ggouaillardet showed is also to use MPROBE (which, if it returns success, will remove the message in question from matching, and you can MRECV to get ex

[2017-07-06 17:30] hjelmn commented on #3821
Yeah, looks like the item key is not being set.

[2017-07-06 17:30] hjelmn commented on #3821
Not sure if it is the cause of this bug though.

[2017-07-06 17:31] hjelmn commented on #3821
Maybe try adding this @ mpool_base_alloc.c:78

[code]

[2017-07-06 17:42] jjhursey commented on #3821
@hjelmn No love on that change. Though it did fix the valgrind complaints.

[2017-07-06 17:44] hjelmn commented on #3821
Ok, so that is a required fix but there is still something else going on. Is this with CMA, KNEM, or XPMEM?

[2017-07-06 18:26] jjhursey commented on #3821
CMA seems to be the only one active:
[code]

[2017-07-06 18:41] jjhursey commented on #3821
Here is something. Adding `-mca btl_vader_segment_size 8388608` allows it to pass (default is `4194304` or 4MB for my configuration). So maybe something in the fragmentation mechanism?

[2017-07-06 18:49] hjelmn commented on #3821
Could be. Maybe a bug in the fragment allocator?

[2017-07-06 19:53] PHHargrove commented on #3817
@ggouaillardet
preprocess look normal:
[code]

[2017-07-06 19:58] PHHargrove commented on #3817
I am now rebuilding from scratch to see if this was something random.

[2017-07-06 20:04] bosilca commented on #3807
In MPI the order of reception between multiple peers is not deterministic. Basically, during the PROBE OMPI tries to find a message from all potential peers in some order, and returns the first matching message. However, between this moment and the receive from ANY_SOURCE, a message might have been received from another peer that is placed earlier in the tested list of peers, and because of the lo

[2017-07-06 20:19] hjelmn commented on #3821
Was able to reproduce the issue on my mac with both put and get. Digging into it now.

[2017-07-06 20:47] jjhursey commented on #3612
Humm I took a pass at this and it became a mess. The fortran bindings in oshmem are not as centralized as they are in ompi, so it touches a lot of files. The no underscore version results in a number of duplicate naming issues that need to be worked though. Changing one or two of the interfaces worked for the ring test, but broader application of the technique caused build issues.

I think for `v3

[2017-07-06 21:13] mathbird commented on #3821
I think IMB_ones_**mget** and IMB_ones_**mput**  in  IMB_ones_unidir.c triggered the issue.  There is no MPI_Win_fence for each MPI_win_Get/MPI_win_Put calls.

[2017-07-06 21:55] jjhursey commented on #3821
A breadcrumb...

So `size` is overflowing because [here in ob1](https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/ob1/pml_ob1_recvreq.c#L763) the `prev_sent` can be greater than `bytes_remaining`. Since they are both `size_t` then it overflows resulting in a very larger number. I added a check at this location printing out these value **before** `bytes_remaining` is decremented. You can se

[2017-07-06 22:29] #2817 closed

[2017-07-07 00:34] PHHargrove commented on #3817
Failure is exactly the same after removing the build directory and starting again from configure.

[2017-07-07 01:05] rhc54 commented on #3817
@jjhursey Can you folks replicate this?

[2017-07-07 01:49] PHHargrove commented on #3817
@jjhursey
FYI, this is on a Power7 system where the admins (if they deserve that title) have apparently never applied any updates:
[code]

[2017-07-07 07:32] nmorey commented on #2966
I also see this problem pop up once in a while with SUSE openmpi2 packaging, on ppc64le only.

[2017-07-07 11:40] jjhursey commented on #3817
Yeah I can take a look on Monday when I get back in the office. I have access to a couple Power7 boxes. I don't remember what XL compiler version they are running though.

[2017-07-07 11:57] jsquyres commented on #3811
@ggouaillardet Did you file a PR corresponding to the patch you included above?

[2017-07-07 12:03] jsquyres commented on #3816
@PHHargrove Just curious: is `paddress.o` the first time this error appears in the build process?  Or is it happening in lots of places, and you just happened to cite the `paddress.c` compilation line in this github issue?

I ask because if it *first* shows up in `paddress.c`, that's really odd.  On the one hand, it's very deep into the compilation process.  The atomics have been used (and apparen

[2017-07-07 12:12] ggouaillardet commented on #3811
@jsquyres not yet, i am waiting for some feedback from @bosilca first

[2017-07-07 12:18] jsquyres commented on #3763
@GerrieWell Ping

[2017-07-07 12:29] jsquyres opened #3830 "OPAL and PMIX define the same "MB" macro"
On master HEAD, when compiling with the RHEL 6 gcc 4.4.7 compiler, I get a bunch of these kinds of warnings when compiling the pmix2x component:

[code]

It turns that that both OPAL and PMIX define this macro:

* OPAL: https://github.com/open-mpi/ompi/blob/master/opal/include/opal/sys/sync_builtin/atomic.h#L48
* PMIx: https://github.com/open-mpi/ompi/blob/master/opal/mca/pmix/pmix2x/pmix/src/atom

[2017-07-07 12:30] jsquyres commented on #3811
👍

[2017-07-07 12:54] rhc54 commented on #3830
Yeah, just one place that got missed. I'll take another pass thru it

[2017-07-07 13:03] rhc54 commented on #3830
This is probably another symbol leak in OPAL that @markalle addresses in #3258, so I'll leave the OPAL stuff alone.

[2017-07-07 13:58] mathbird commented on #3821
my 2 cents this morning:

The input parameter **size** in the function mca_btl_vader_get_cma is not right whenever the error happened.  It should equal to the bytes size of the data, but it showed as following:

--- i = 1024, iter = 983
--- i  --- in mca_btl_vader_get_cma, size = 7440     // <--- should be **1024*4= 4096

**
--- in mca_btl_vader_get_cma, size = 3344
--- in mca_btl_vader_get_cma, s

[2017-07-07 15:04] #3830 closed

[2017-07-07 15:37] yosefe commented on #3566
@markalle this patch causes a failure in this test: [MPI_Type_vector_basic_f](https://github.com/open-mpi/ompi-tests/blob/master/intel_tests/src/MPI_Type_vector_basic_f.F)
Looks like the datatype is empty but after the fix , true_ub-true_lb is used for the size.
Shall we revert to using `ompi_datatype_type_size(&size)`?
[code]

[2017-07-07 18:58] PHHargrove commented on #3816
@jsquyres
I also observed that the atomics compiled many times, before `paddress.c` which is the first failure.
It was *not* the first file compiled in `ompi/mca/c/profile` either:
[code]

This is not  problem with LP64 (the preferred ABI) and I really think this looks to be a compiler bug.

While 12.1 is the latest XLC on *this* system (the front-end to a BG/Q), it is not the latest release for b

[2017-07-07 19:00] bwbarrett commented on #3816
I agree with @PHHargrove; I'll put together a README note this afternoon.

[2017-07-07 19:01] jsquyres commented on #3816
@PHHargrove @bwbarrett 👍

[2017-07-07 19:05] PHHargrove commented on #3816
@bwbarrett
This system/compiler has been build Open MPI RCs for years without problem.
So there is something different from previous releases.
I suspect that something like `--disable-builtin-atomics` might work-around the problem.
So, you might want to hold off on writing the README note until I've had a chance to try that,

[2017-07-07 19:30] gpaulsen commented on #3816
I asked our compiler person and he said:

By looking at the code change, it seems that the failure is caused by something else.

In the C standard, there is no difference between foo() {...} and foo(void) {...} (i.e. function definitions), both mean that the function has no parameter.  However, there is a difference between foo() and foo(void).

Two relevant references in the C11 standard:

    "T

[2017-07-07 19:36] bwbarrett commented on #3816
@PHHargrove , yeah, I'd suspect it's the builtin atomics, since those are new to the 3.0.x series.  Will wait for your feedback.

[2017-07-07 19:38] gpaulsen commented on #3816
I like the README with possible workaround of disabling atomics in README.

[2017-07-07 19:40] PHHargrove commented on #3816
@gpaulsen
Not only is there no difference by specification for the code before and after Gilles's change, but additionally the error code from XLC appears to indicate incorrect argument types to a compiler intrinsic (such as the vector extensions), which points to the call the `__sync_synchronize()` which did not change.

[2017-07-07 20:16] PHHargrove commented on #3816
@bwbarrett
As suspected, disabling builtin atomics resolved the problem.
When documenting, also please note that with is only a problem w/ the ILP32 ABI (the `-q32` compiler flag).  A build on ppc64 w/o setting CFLAGS (etc.) is fine with the builtin atomics.

[2017-07-07 20:30] markalle commented on #3566
I guess we should switch to opal_datatype_span() then:
[code]

If we just change to use ompi_datatype_type_size() that reintroduces the previous bug that I had fixed.

I feel like MPI is wrong when it reports the true extent as 1 for a type like this
[code]
But I have to admit degenerate cases can be confusing and I'd have to re-read the standard to be sure it's wrong.

But either way, my original

[2017-07-07 22:35] wlepera commented on #3821
I think I've narrowed this down a bit more.  In pml_ob1_recvreq.c, the value for frag->rdma_length is set to bytes_remaining, with a value of 8208.  Next, a successful call to mca_pml_ob1_recv_request_get_frag(frag) is made.  After this, frag->rdma_length has changed to 4096, which ultimately causes the error in the calculation referenced by @jjhursey.  I've traced this as far as the call to mca_b

[2017-07-08 22:10] bosilca commented on #3821
I think we have a conceptual flaw in the RGET implementation. Let's ignore for a minute the comment in the mca_pml_ob1_recv_request_progress_rget function that talks about fragmentation. The loop in mca_pml_ob1_recv_request_progress_rget assumes that the fragment itself is available to the PML for meddling with upon return from the mca_pml_ob1_recv_request_get_frag function.
This assumptions is no

[2017-07-10 10:16] karasevb commented on #3810
There is #3677 was already added to v3.0.x branch as a part of PR #3723

[2017-07-11 02:24] gpaulsen commented on #3816
So how should we resolve this?  I'd think that compiler generated atomics for -q32 case would be acceptable.  Do we just need to add some configure logic to make that happen?

[2017-07-11 10:36] jsquyres commented on #3816
It might be worthwhile to put in a specific configure test for this broken compiler scenario.

[2017-07-11 10:43] PHHargrove commented on #3816
@jsquyres wrote:

Based on the odd circumstances (only the profile build, and not until the 5th file), I doubt anything can be done at configure time other than explicitly identifying the compiler by version and the ABI from something like sizeof(void*).

[2017-07-11 14:28] rhc54 commented on #3780
not seen by others

[2017-07-11 14:28] #3780 closed

[2017-07-11 14:39] jsquyres commented on #3821
Per discussion at Chicago July 2017 meeting, @hjelmn will look at this in the immediate future.

[2017-07-11 18:20] jjhursey commented on #3821
@hjelmn In case it helps, Aboorva found that if we disable the `cma` with (`-mca btl_vader_single_copy_mechanism none`) then this test passes clean.

[2017-07-11 18:24] hjelmn commented on #3821
Whats funny is this fails miserably for me on my mac :-/

[2017-07-11 18:24] hjelmn commented on #3821
No vader RDMA there.

[2017-07-11 18:26] hjelmn commented on #3821
setting ```btl_vader_single_copy_mechanism=none``` gives the same behavior on my mac.

[2017-07-11 18:32] hjelmn commented on #3821
My thinking is this is either an pml/ob1 or osc/pt2pt bug.

[2017-07-11 18:33] hjelmn commented on #3821
Though it does pass with tcp....

[2017-07-11 18:39] bosilca commented on #3821
It works with SM. How to you get it to fail on your laptop ?

[2017-07-11 18:51] shamisp commented on #3697
I will try to reproduce it on one of my systems.

[2017-07-11 18:58] hjelmn commented on #3821
This looks like an old ob1 issue. I can provide a quick workaround in vader and work on a bigger fix for the ob1 issue later.

[2017-07-11 20:33] hjelmn opened #3845 "Issue when using btl/vader under heavy contention/"
Thank you for taking the time to submit an issue!

## Background information

There is a longstanding bug in the ob1 pml that has bitten us yet again. Under heavy contention it is possible to get into a state where ob1 will not progress its send pending list even though there are network resources available. This happens when the BTL makes no callbacks (because there are none to be made) when ther

[2017-07-11 20:33] hjelmn commented on #3845
Working on the vader workaround now.

[2017-07-11 21:39] zzzoom opened #3847 "Fixing opal_timer_linux_find_freq() on x86"
Due to the TSC frequency debacle in #3003 MPI_Wtime got switched back to ```clock_gettime()``` but ```opal_timer_linux_find_freq``` has been left broken. This only affects the one remaining call to ```opal_timer_base_get_freq``` left in ```opal_progress_set_event_poll_rate``` but I'd like to take a shot at fixing it anyway.

Some alternatives I've been thinking about:
1. Measure the frequency betw

[2017-07-11 21:59] #3821 closed

[2017-07-12 08:02] nmorey commented on #3821
This should be backported to the v2.x branch too

[2017-07-12 12:16] sharkcz commented on #2055
I can confirm I got a successful build with --enable-mpi-cxx on ppc64 from the v2.0.x branch, thanks to all.

[2017-07-12 12:54] nmorey commented on #3821
I don't know about 3.x but I backported the patch to 2.1.1 (only conflict is the copyright in header) and it's still broken:
[code]

[2017-07-12 13:28] wlepera commented on #3821
@nmorey, did you take both #3844 and #3846?  I think both are needed.  Our tests with both allow the testcase to pass.

[2017-07-12 13:54] jjhursey commented on #3821
I'm setting up some builds this morning to verify for the release branches. It should impact `v3.0.x`, `v2.x` but not `v2.0.x` from my previous testing.

[2017-07-12 13:59] nmorey commented on #3821
@wlepera I only took #3844 as #3846 was not referenced in this bug.
I'll try with both fixes.

Anyway both will need to be backported to v2.x

[2017-07-12 14:00] hppritcha commented on #3223
@edgargabriel where are we on this issue?

[2017-07-12 14:24] hppritcha commented on #2643
It was decided that we'll fix aarch64 in the 3.0.x or later release.

[2017-07-12 14:32] hppritcha commented on #2604
@sjeaugey we need to know whether or not Nvidia will be supporting PGI on OS-x.   If not, then we will indicate in the README that we don't support PGI on OS-x for Open MPI.

[2017-07-12 14:34] hppritcha commented on #2605
Another case of updating the README to indicate that we don't support PGI on OS-x.

[2017-07-12 14:35] hppritcha commented on #2606
@gpaulsen says to bump to 2.1.2

[2017-07-12 14:37] bgoglin commented on #190
FYI, this was fixed in hwloc 1.11.3 in early 2016 but all branches < 3.0.x still have 1.11.2 (with a couple unrelated patchs).

[2017-07-12 14:37] hppritcha commented on #2614
@gpaulsen will check to see if we have more data on this issue.  @hjelmn says he'll work on it.

[2017-07-12 14:41] hppritcha commented on #3182
It was decided at the 7/17 devel F2F to move this to future milestone.

[2017-07-12 14:43] hppritcha commented on #3538
pushed back to all release branches so this issue can be closed.

[2017-07-12 14:43] #3538 closed

[2017-07-12 14:46] hppritcha commented on #1666
This has been addressed for OSC PT2PT component, but not RDMA.

[2017-07-12 14:48] hppritcha commented on #1762
@edgargabriel says this will not be fixed in the 2.0x/2.x release branches.  It is fixed in 3.0.x.

[2017-07-12 14:48] #1762 closed

[2017-07-12 14:52] hppritcha commented on #1100
Not enough interest in this.  Moving to future.  Will open an issue to update the README.

[2017-07-12 14:52] dalcinl opened #3854 "malloc(0) in MPI_Unpublish_name() with MPI_INFO_NULL"
This is with v2.1.1

[code]

The offending line (in master) is here: https://github.com/open-mpi/ompi/blob/2f11d371cdb2a1fa7e19ca738d3c753eb05bb912/opal/mca/pmix/ext1x/pmix1x_client.c#L862

[2017-07-12 14:55] jjhursey commented on #3845
@hjelmn We are just trying to better understand the fix. in PR #3845 the discussion is about fixing a progression issue. How did that lead to a data corruption?
Or is the data corruption handled by #3844 and a hang fixed by PR #3845?

[2017-07-12 14:59] hjelmn commented on #3845
The data corruption is #3844 and the hang is #3845. Eventually I will make ob1 better with regard to  the pending list but modifying vader works for now.

[2017-07-12 15:00] hppritcha commented on #2604
@gvallee here's on of the PGI related issues

[2017-07-12 15:00] hppritcha commented on #2605
@gvallee and here's another one.

[2017-07-12 15:01] jsquyres commented on #1607
Using XOR here seems unnecessarily complicated.  I had to stare at that for a few minutes before I grokked the code.  😄

Can you make it simpler?

This is just a response to Linus' update a while ago: https://github.com/torvalds/linux/commit/e15f431fe2d53cd4673510736da7d4fa1090e096

Do you think it's necessary, e.g., to future-proof?  Or is that unnecessary?

[2017-07-12 15:02] hppritcha commented on #2606
@gvallee and here's the other PGI issue we discussed before you arrived today.

[2017-07-12 15:04] hppritcha opened #3855 "README: update to indicate aarch64 is not currently supported"
The Open MPI project currently lacks resources/interest to actively support aarch64.  This needs to be updated in the README.

[2017-07-12 15:09] #3750 closed

[2017-07-12 15:10] jjhursey commented on #3821
@nmorey There is a comment here about the pair of commits: https://github.com/open-mpi/ompi/issues/3845#issuecomment-314797029

Nathan has filed PRs to push this fix to the release branches:
 * https://github.com/open-mpi/ompi/pull/3852
 * https://github.com/open-mpi/ompi/pull/3850
 * https://github.com/open-mpi/ompi/pull/3851 (this one might not be needed)

[2017-07-12 15:22] hppritcha opened #3859 "README: state that PGI is not supported on OS-X"
Add note that we don't support the PGI compiler on OS-X.

[2017-07-12 16:51] jjhursey commented on #2606
This is an old thread and I'm trying to capture where we are so please let me know if I get this wrong.

 * RHEL 7.3 - No issues. Both PGI and XL are passing correctly.
   - @PHHargrove Is that correct?
   - My testing with the following configure options on RHEL 7.3 passed compiling/running `ring_usempif08` (just XL at the moment, testing PGI next)
      - `--enable-debug CC=xlc_r CXX=xlC_r FC=xl

[2017-07-12 18:11] DanielCChen commented on #2606
The linker is changed in Ubuntu 16.04 in comparison to 14.1 (the one I tried). It no longer searches and links in the definition of the symbol, which caused the issue. I have fixed the XLF compiler to workaround it.

[2017-07-12 18:22] jjhursey commented on #2606
How about this for `README` language:
[code]

[2017-07-12 18:23] jjhursey commented on #3075
See https://github.com/open-mpi/ompi/issues/2606#issuecomment-314854943 for some language for the `README`

[2017-07-12 18:54] #2324 closed

[2017-07-12 19:15] jjhursey commented on #2606
I created a PR for the `README` change (probably an easier place to discuss the language): PR #3866

[2017-07-12 19:32] PHHargrove commented on #2606
@jjhursey

Based on my testing of 3.0.0rc1, can can confirm:

+ RHEL 7.3 - XL and PGI both PASS with respect to F08 MPI bindings
   + `IBM XL Fortran for Linux, V16.1 (Beta 6)`  **good** except for #3612 (oshmem underscores) which goes away with `FC="xlf -qextname"`.   Earlier testing w/ V15.1.5 was the same the best of my recollection.
  + PGI 17.5 all good
+ Ubuntu 16.04.2 - XL and PGI both FAIL

[2017-07-12 20:28] #1174 closed

[2017-07-13 01:42] ggouaillardet commented on #3855
@hppritcha fwiw, i build Open MPI on my raspberry pi 3 running Open SuSE Leap 42.2 once in a while, and so far, i have no issue with it (i test is very lightly though).
i am concerned stating bluntly "Open MPI does not support ARM 64bits" is both strong and could be misleading (some vendors have such plans, @kawashima-fj can you confirm post-K (Fujitsu/Riken co-designed ARM64 based processor) will

[2017-07-13 01:56] PHHargrove commented on #2606
I wrote:

I restested XLF V15.1.5 on RHEL 7.3 today and *re*confirmed no problem w/ MPI **F08** bindings.
I configured with --disable-oshmem-fortran to avoid the OSHMEM F08 bindings issue: #3612

[2017-07-13 11:49] jsquyres commented on #1607
@bharatpotnuri That looks great.  Can you file a PR?

[2017-07-13 12:10] jsquyres commented on #3855
https://github.com/open-mpi/ompi/issues/3697#issuecomment-312787357 is a good summary of the current status of ARM v8 support in OMPI v2.1.x (I assume it's similar in v2.0.x) and 3.0.0rc1.  The consensus in the room yesterday is that if ARM is going to move to be a supported platform, we *need* regular testing results in MTT.

[2017-07-13 12:14] jsquyres commented on #2643
FYI:
* https://github.com/open-mpi/ompi/issues/3697#issuecomment-312787357 Summary of ARM support in v2.1.x and v3.0.0rc
* https://github.com/open-mpi/ompi/issues/3855 Discussion of adding "aarch64 is not supported" to README.

Please jump into these discussions if this is not the desired result.  These discussions were initiated by long inaction for fixing ARM support.  Thanks!

[2017-07-13 14:07] bwbarrett commented on #3855
Yes, but @ggouaillardet raises a good point.  We don't actually document what's not supported.  We document what's supported and what's known not to work.  It's a subtle distinction, but one we should follow here.  aarch64 is already not listed as a supported platform.  What we need to do is document the known issues with the platform, so that others aren't surprised by them.

[2017-07-13 14:17] hppritcha commented on #2643
@opoplawski could you try reproducing with the Open MPI 2.0.3 release?

[2017-07-13 14:33] shamisp commented on #3855
Description in https://github.com/open-mpi/ompi/issues/2643#issuecomment-315060160
is not accurate.

We have been responding on both issue (reflected in tickets). The issues are not easily reproducible since it depends on multiple factors, including ARMv8 implementation (multiple vendors), drivers, compiler, etc.  In some case we directly approached people for remote access, but we understand it i

[2017-07-13 15:13] hjelmn opened #3879 "Update Open MPI to require a C11 compiler"
We are discussing updating the compiler requirement for Open MPI to require C11. The features we want to require are:

 - C11 atomics. These will completely replace the hand-coded assembly in Open MPI.

 - Thread local support. This feature will completely replace the thread local storage code provided by opal.

 - aligned_alloc. Right now we use a memalign, posix_memalign, or malloc + hand aligni

[2017-07-13 15:23] jsquyres commented on #190
This doesn't appear to have been a major problem since 2014, and it will be fixed in >v3.0.0.  So I think we should close this issue.

[2017-07-13 15:23] #190 closed

[2017-07-13 15:28] ael-code opened #3880 "psm2 does not work with multithreading enabled."
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
`v2.1.1`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
compiled from source

### Please describe the system on which you are running

* Operating system/version:
 S

[2017-07-13 15:29] jsquyres commented on #2643
@opoplawski Or, better yet, can you test with Open MPI v2.1.1?

[2017-07-13 15:50] jsquyres opened #3882 "v3.0.0: remove BTL SM"
Per discussion in the room in the Chicago face to face meeting:

* Remove the BTL SM
* Replace it with a new BTL SM component that does one thing: detect if the "sm" was explicitly requested by the user, and if so, do an `opal_show_help()` saying "Hey, you specified `sm`, but you really meant `vader`...".  This is a super low-risk/easy to do way that will guide users to the Right way to run if the

[2017-07-13 16:00] jsquyres commented on #1695
Done!

[2017-07-13 16:00] #1695 closed

[2017-07-13 16:19] bwbarrett commented on #3810
Closing this issue; we completed the audit and haven't missed any patches.

[2017-07-13 16:19] #3810 closed

[2017-07-13 16:24] jsquyres commented on #3705
We talked about this in detail yesterday at the [face to face meeting in Chicago](https://github.com/open-mpi/ompi/wiki/Meeting-2017-07).  The prevailing thought was: we don't remember the system(s) that were a problem back in Oct 2010.  Doh!

We updated https://github.com/open-mpi/ompi/wiki/Linkers yesterday to say:

So the thought was that we should (re)write the test(s) that were used to genera

[2017-07-13 19:16] artpol84 opened #3890 "v2.x: XRC UCDM openib failures while running Mellanox CI"
## Background information
Silent Mellanox jenkins failures was observed recently.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
Failures seems to be observed for GitHub v2.x branch only.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Reg

[2017-07-13 19:17] artpol84 commented on #3890
@hppritcha @jsquyres @hjelmn @bwbarrett @miked-mellanox @jladd-mlnx @Di0gen

[2017-07-13 19:24] jsquyres commented on #3890
Ah, so there was an actual failure, it was just silent?  Got it.  Thanks for tracking it down and making it non-silent for the future.

[2017-07-13 19:26] jsquyres commented on #3224
@artpol84 @jladd-mlnx Is there an ETA when this will be fixed?

[2017-07-13 19:33] artpol84 commented on #3890
With  pml/yalla and pml/ucx those tests are fine as well.

[2017-07-13 22:15] artpol84 commented on #3890
What is the right way to proceed?
Wait for the fix or disable as it disturbs other PRs?

[2017-07-13 22:35] shamisp commented on #3697
I can confirm that the problem *only* show ups in "-O0" mode.

[2017-07-14 00:35] jsquyres commented on #3890
In reading the description of the bug, I didn't realize it was a *real* openib problem -- I think most people will have missed the logfile you put at the bottom of the description.

@hjelmn @hppritcha @bharatpotnuri There appears to be a problem with XRC in the openib BTL in the v2.x branch right now.  See below for a snippit from the logfile Artem included earlier in the ticket.  Who will fix thi

[2017-07-14 06:14] #3854 closed

[2017-07-14 16:35] jsquyres commented on #3880
@afriedle-intel FYI.

[2017-07-15 07:43] artpol84 commented on #3890
I temporally disabled openib for v2.x branch to allow PRs to be tested.
Please let me know ASAP when the problem will be fixed so I'll re-enable it.

[2017-07-17 07:45] victorsndvg opened #3902 "Compilation error: SIGSEGV not declared here. First use in this function"
## Background information

### What version of Open MPI are you using?

OpenMPI 3.0.0 rc1 and also OpenMPI 2.1.1

### Describe how Open MPI was installed

Both versions compiled from tarballs

### Please describe the system on which you are running

* Operating system/version:  RedHat 6 - kernel version 2.6.32-573.12.1.el6.x86_64

## Details of the problem

Error detected during compilation proces

[2017-07-17 14:09] hppritcha commented on #3890
Looks like we need to cherry pick 56bdcd0888

[2017-07-17 14:20] edgargabriel opened #3903 "switching to a non-default grouping options in ompio leads to segfault"
Thank you for taking the time to submit an issue!

## Background information

when changing the aggregator selection algorithm from 'simple' to any other value, a segfault occurs in mca_io_ompio_create_groups due to a double-free problem. Fix will be provided immediatly

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

problem is observed on mast

[2017-07-17 14:24] edgargabriel opened #3904 "activating lazy_open for shared file pointers in ompio leads to erroneous error message"
Thank you for taking the time to submit an issue!

## Background information

when activating the mca_io_ompio_sharedfp_lazy_open option in ompio, the code returns an erroneous error message when using MPI_MODE_APPEND. Fix will be provided immediately.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

master, 3.0, 2.x

### Describe how Open MPI w

[2017-07-17 15:23] edgargabriel commented on #3903
target: v3.0.1

[2017-07-17 15:37] hjelmn commented on #3902
Shoot. Debug code in a production release. Fixing.

[2017-07-17 15:38] hjelmn commented on #3902
For now just delete the offending line.

[2017-07-17 15:40] bwbarrett commented on #3632
3.0.0 NEWS includes the removal of the Yoda SPML.

[2017-07-17 15:44] hjelmn commented on #3718
This should be fixed by #3852, #3850, and #3851. Once those are merged we can close this.

[2017-07-17 15:48] hjelmn commented on #3879
One comment. LANL tends to support some old compiler versions to support fortran. This can be handled by using a supported compiler and using the older fortran compiler for the bindings. Example: ```./configure CC=gcc-6 FC=ifort```.

[2017-07-17 15:55] bwbarrett commented on #3903
@edgargabriel, any reason you tagged this for 3.0.1 instead of 3.0.0?

[2017-07-17 16:30] edgargabriel commented on #3903
@bwbarrett if we can bring this into 3.0.0, that would be great, since this is a regression from 2.1. I just thought that it might be too late for 3.0.0

[2017-07-17 17:24] bwbarrett commented on #3903
As long as it's in before 3.0.0 releases (which looks likely), I think pulling into 3.0.0 is reasonable.  It's certainly a bugfix.

[2017-07-17 20:08] hjelmn opened #3918 "Use project name when registering performance variables"
## Background information

The MCA variables system uses the project name to create variable groups. Unfortunately the performance variable system does not. This is a bug in the MCA base.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

This affects Open MPI v2.0.x, v2.x, and v3.0.x.

[2017-07-17 20:44] hjelmn commented on #3879
One question is whether we should continue to offer ```opal_atomic_*``` functions or just go straight to using ```atomic_*``` everywhere. There are benefits to both but the later is a little more work and is probably cleaner in the long run.

[2017-07-17 21:30] alsrgv commented on #3685
Thanks @vspetrov for reporting this issue!

I am seeing exactly the same issue with MPI_Allreduce, except in my case all MPI calls done in **single thread** (but otherwise application is multi-threaded and uses jemalloc).  I also was able to trace it down to single p2p call where correct data is sent and corrupted data is received.

It does repro with OpenIB and does not repro with TCP.  It does n

[2017-07-18 01:13] alsrgv commented on #3685
UPDATE:  I discovered that I can repro this issue with my ring-reduce implementation too if I modify it to use malloc'd buffer.  Currently it's using pinned memory buffer and avoids corruption.

[2017-07-18 06:12] victorsndvg commented on #3902
:+1:

[2017-07-18 15:25] #3903 closed

[2017-07-18 16:33] hjelmn commented on #3697
I know what is happening. With -O0 the opal_atomic_* functions are *not* inlined. That makes the LL/SC atomics a function call. This will cause livelock with the LL/SC fifo/lifo implementations. The correct fix is to force those atomics to always be inlined. I will make the change and see if it fixes the issue.

[2017-07-18 16:56] hjelmn commented on #3879
Basic configury is complete. Will push the branch to my repository shortly.

[code]

[2017-07-18 21:56] hppritcha commented on #2850
closed via #3897

[2017-07-18 21:56] #2850 closed

[2017-07-19 09:05] kawashima-fj commented on #3697
@hjelmn I confirmed the current status on AArch64.

- CPU: Cavium Thunder X (ARMv8 (64-bit))
- OS: CentOS Linux release 7.2.1603 (AltArch)
- Compiler: GCC 4.8.5 (in CentOS)
- Open MPI:
  * 2.0.3
  * 2.1.1
  * 3.0.0rc1
  * 2.0.x nightly tarball (openmpi-v2.0.x-201707120323-25919a1)
  * 2.1.x nightly tarball (openmpi-v2.x-201707130323-bbbe264)
  * 3.0.x nightly tarball (openmpi-v3.0.x-201707180322-0

[2017-07-19 13:49] kawashima-fj commented on #3697
@hjelmn I run `osu_latency` and `osu_latency_mt` on my ARM machine and found `--disable-builtin-atomics` is slightly faster than `--enable-builtin-atomics` on `osu_latency_mt`.

- CPU/OS/Compiler: same as my previous comment
- Open MPI: 3.0.0rc1
- Compiler Option: `-O3` (both Open MPI and OSU Micro-Benchmarks)
- BTL: vader

`osu_latency` latency (us):

| size (byte) |`--enable-builtin-atomics` |`-

[2017-07-20 04:32] kawashima-fj commented on #2643
@opoplawski I'm trying to reproduce the problem but cannot reproduce it. What is your configuration?

My configuration is:

- CPU: Cavium Thunder X
- OS: CentOS Linux release 7.2.1603 AArch64 (AltArch)
- Compiler: GCC 4.8.5 (in CentOS)
- hwloc: 1.11.5 (default configuration)
- Open MPI: 2.0.1(default configuration)
- HDF5: 1.8.19 (`--enable-parallel`)
- NetCDF: 4.4.1.1 (with HDF5)

I ran `make run

[2017-07-20 05:07] kawashima-fj commented on #3697
@hjelmn You asked me which commits I backported into v2.0.2-based Fujitsu MPI in the f2f meeting. I backported the following commits. Open MPI 2.0 can run on AArch64 without these commits but I backported for better support of AArch64.

- 0084ad0
- 253c919
- f06f7eb
- 9a50ce6

[2017-07-20 06:58] densamoylov opened #3937 "Crash or a hang (it depends on OpenMPI version) when receiver and sender use different datatypes"
Hi all,

I'm developer of Intel Math Kernel Library and for our cluster components we provide OpenMPI support for our customers.
But recently we faced with issue related to sending/receiving when sender and receiver use different  data types.

I tried to use several OpenMPI versions such as 1.6.1 (hang), 1.8.1 and 2.1.1 (crash).
These versions have been downloaded from OpenMPI site and built from

[2017-07-20 08:33] johanburati opened #3938 "Performance degradation between 16 and 32 nodes"
Running a benchmark, we can see considerable performance degradation between 16 and 32 nodes, is there a reason for that ?

[code]

[2017-07-20 12:24] ericch1 commented on #3818
Ok, I have fixed the way we kill the singletion to have a core dump.

Here is a backtrace, I have gdb openned write now, can print anything else on demand!
<pre>
#1  0x00007f36681698ca in OPAL_MCA_PMIX2X_PMIx_Init (proc=0x7f3668456d60 <my_proc>, info=0x0, ninfo=0) at client/pmix_client.c:446
(gdb) bt
#0  0x00007f366e33f03f in pthread_cond_wait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
#1  0x0000

[2017-07-20 13:02] rhc54 commented on #3818
Okay, it is waiting for the daemon it started to respond, so there is probably something hung over there (and not in this proc itself). IIRC, you are not calling comm_spawn in this test - yes? If so, you are probably better off running this singleton as "isolated", which means it won't spawn off that support daemon.

I just queued a PR for the v3.0 branch that fixed "isolated" operations (#3935) -

[2017-07-20 13:10] ericch1 commented on #3818
About comm_spawn, I am using PETSc, and it is stucked at MPI_Init_thread call within PetscInitialize call and the only other mpi call in there is MPI_Initialized (line 773):

<pre>
/pmi/cmpbib/compilation_BIB_ompi_3.x/COMPILE_AUTO/open-mpi-v2.x-debug/petsc-3.7.6-debug/src/sys/objects/pinit.c:779
(gdb) list
773    ierr = MPI_Initialized(&flag);CHKERRQ(ierr);
774	  if (!flag) {
775	    if (PETSC_COM

[2017-07-20 13:12] rhc54 commented on #3818
I'm sure there are other MPI calls elsewhere in that code, just not in that little snippet. So long as MPI_Comm_spawn isn't one of them, you should be fine.

[2017-07-20 14:07] bosilca commented on #3938
All environment variables you are setting on the command line are for Intel MPI. Are you sure you are using Open MPI in this benchmark ?

Depending how the processes are selected in the groups where the alltoall tests are done you might be entirely in shared memory in the first case and in distributed in the second one.

[2017-07-20 14:10] #3859 closed

[2017-07-20 14:19] bosilca commented on #3937
Denis, we have a long standing bug related to collective communications using different datatypes when the tuned collective modules is used and the pipelining is enabled. Because of the different datatypes, the processes will decide to pipeline the collective at different granularities leading in some cases to data truncation. The open issue related to this topic is #1763.

There is no known quick

[2017-07-20 15:34] rhc54 opened #3939 "Slow singletons"
As reported by @jsquyres, singletons run really slow even when they are just doing MPI "hello".

[2017-07-20 16:09] artpol84 opened #3940 "Possibly extra hwloc files in the repo"
@ggouaillardet when I ran autogen on master and did `git diff` I noticed:
[code]

it seems to me that `opal/mca/hwloc/hwloc2x/hwloc/include/private/autogen/config.h.in` shouldn't be in the repo. But it went there:
[code]

Can you have a look?

[2017-07-20 16:24] bwbarrett commented on #150
This doesn't block 3.0; moving to future milestone and removing the target label.

[2017-07-20 16:25] bwbarrett commented on #175
@jsquyres / @jjhursey / @hppritcha, are we holding this as a requirement for the 3.0 series, or punting down the road?

[2017-07-20 16:33] bwbarrett commented on #978
Given that this lived through the entire 2.x series, it's clearly not a blocker for 3.0.  Punting to the future.

[2017-07-20 16:47] artpol84 opened #3941 "PMIx server direct modex response with error status is broken"
In case direct modex response cannot be satisfied `send_error()` is called that packs status and peer id in the reply (https://github.com/open-mpi/ompi/blob/v2.0.x/orte/orted/pmix/pmix_server.c#L385:L397)
At the receiver side a "hotel room number" is expected to proceed correctly:
https://github.com/open-mpi/ompi/blob/v2.0.x/orte/orted/pmix/pmix_server.c#L597:L615.

[2017-07-20 16:49] ericch1 commented on #3818
here is all the function:

http://www.mcs.anl.gov/petsc/petsc-current/src/sys/objects/pinit.c.html#PetscInitialize

Eric

[2017-07-20 17:29] rhc54 commented on #3818
Looks clean, so you should be okay to use the isolated option. In order to activate it, you need to set OMPI_MCA_ess_singleton_isolated=1 in your environment (and use my patch, of course).

[2017-07-20 18:01] rhc54 opened #3943 "Fix signal forwarding on ORTE"
As reported on SLURM mailing list, orte daemons are not forwarding SIGSTOP and thus leaving application procs merrily spinning away. Although it was reported for v2.x, the user is content with a fix going into v3.0

[2017-07-20 18:31] #3855 closed

[2017-07-20 18:32] rhc54 commented on #3940
I have it fixed - commit coming

[2017-07-20 19:09] densamoylov commented on #3937
Thanks for the detailed explanation!

[2017-07-20 19:23] rhc54 commented on #3940
Fixed with 7d8d877837de3987dffb9c9a3bea4224c4480f61

[2017-07-20 19:23] #3940 closed

[2017-07-20 19:42] shamisp commented on #3697
I have tried gcc gcc/6.1.0 and gcc/7.1.0 and I still observe the same issue.

[2017-07-20 21:27] bwbarrett commented on #3521
@jsquyres, i'm not seeing this in your build failures, but it looks like there's some other sketchy looking build failures from earlier this week.  Can you update this issue?

[2017-07-21 07:46] zuzuki commented on #2486
Did you see this issue?
If you saw, could you tell me about the current status?

[2017-07-21 16:33] opoplawski commented on #2643
netcdf builds appear to have stabilized, so closing for now.

[2017-07-21 16:33] #2643 closed

[2017-07-21 17:45] matcabral commented on #3880
I'll be looking at this

[2017-07-24 18:34] markalle opened #3954 "Fortran/C PMPI profiling wrappers"
I found an old discussion here
https://www.open-mpi.org/community/lists/devel/2015/08/17842.php
that led to the current situation where libmpi_mpifh.so defines Fortran entrypoints like mpi_send() with PMPI_Send() as the C call doing the main work.

The topic is whether wrapping the C MPI calls should lead to automagic wrapping of the Fortran MPI calls. The standard allows but doesn't require it (t

[2017-07-24 19:19] bwbarrett commented on #3939
@rhc54 , can we close this issue?

[2017-07-24 19:19] hjelmn commented on #3879
We may want to keep some of the inline assembly going forward. It looks like gcc v7 removed support for lock-free compare-and-set for 128-bit integers on x86-64. This was done because the load/store of these integers is not atomic unless CAS is used. We do not care about this in the lifo/fifo implementations. A similar problem affects the LL/SC fifo/lifo implementations. There is no C11 atomic sup

[2017-07-24 19:30] bwbarrett commented on #1607
@bharatpotnuri, #3881 looks ready to merge into master.  Can you do so and then file PRs to merge the change to whichever branches make sense (I assume at least 3.0.0, since the issue is tagged as such)?  Thanks!

[2017-07-24 19:32] gvallee commented on #2604
No news from PGI yet but we are trying to reach them again.

[2017-07-24 19:43] bwbarrett commented on #2990
We have two lists for v3.0.0 that appear to be identical.  Closing this one in favor of #3633.

[2017-07-24 19:43] #2990 closed

[2017-07-24 19:48] hppritcha commented on #175
I suggest we punt this down the road

[2017-07-24 19:49] hppritcha commented on #442
should we move this to future milestone?

[2017-07-24 19:51] hppritcha commented on #1763
Doesn't look like this is going to make it into 3.0.0.  Should we move to future?

[2017-07-24 19:53] rhc54 commented on #3939
Sure -  I thought github would close these when it did, but I guess it didn't.

[2017-07-24 19:53] #3939 closed

[2017-07-24 19:56] hppritcha commented on #1183
@bosilca will you be opening a PR for master to fix this in the near future (like this week)?

[2017-07-24 20:30] hppritcha commented on #3521
@jsquyres double pinging welcome back!

[2017-07-24 20:39] hppritcha commented on #3558
@jsquyres I think PR #3888 does the moral equivalent of this for 3.0.0?

[2017-07-24 20:40] hppritcha commented on #2399
@edgargabriel should we just move this to future or do you think you can get a fix in to 3.0.1?

[2017-07-24 21:01] hppritcha commented on #2161
@larrystevenwise @bharatpotnuri any chance someone will look at this soon?  otherwise we'll move to future milestone.

[2017-07-25 01:30] ggouaillardet commented on #3954
quoting @jsquyres

as far as i am concerned, i fully agree with Jeff.
so i'd rather keep Open MPI the way it is, and update ```IPM``` so it correctly handles MPI implementations that wrap calls once or twice (this could be a ```configure``` option or be auto-detected)

[2017-07-25 01:46] bosilca commented on #1763
👍

[2017-07-25 06:09] bosilca commented on #1183
Let me check the status of the branch and I'll get back to you.

[2017-07-25 07:30] bharatpotnuri commented on #2161
@hppritcha We are still stuck with other work, we may need to move it to next milestone,.

[2017-07-25 11:11] hra0031 commented on #3630
Sorry for late response. I tried your suggestion and "mpi_leave_pinned" is working now. Thanks for your time. The performance is still a little lower than on Open MPI 1.10.7. If you have any other idea to incrase performance I'll be glad.

[2017-07-25 14:15] jsquyres commented on #3521
I'm back today (Tuesday).  MTT was off the rails at Cisco this past week because of a typo -- oops.  It's now fixed, and I just kicked off runs.  Let's see if this build fail happens again.

[2017-07-25 15:09] rhc54 commented on #1136
Given no more reports and after this much time, we'll assume this is fixed - please reopen if it remains.

[2017-07-25 15:09] #1136 closed

[2017-07-25 15:21] edgargabriel commented on #2399
@hppritcha it is on my to do list for this summer, but I don't think it will make it for 3.0.1, I hope to have it ready for 3.1 (or 4.0 whatever the next release is).

[2017-07-25 15:21] hppritcha commented on #3890
Per discussions at devel core meeting 7/25/17 will open a PR to disable XRC support in the openib BTL.  Mellanox will try to determine why the test fails on their config over the next week.  If no progress made, by next Tuesday, this PR will get merged in to master.

[2017-07-25 17:08] hjelmn commented on #3902
Merged into affected branches. Closing.

[2017-07-25 17:08] #3902 closed

[2017-07-25 18:31] jsquyres commented on #175
👍

[2017-07-25 19:02] markalle commented on #3954
From a purely MPI-standard compliance standpoint the current code is correct, but the previous code was correct too. The change was made to be nice to IPM, even though technically you could have just declared that IPM was wrong and that they have to support both situations with regard to language-wrapping interception.

The possibility of automatic language wrapping is part of the standard. Since

[2017-07-25 19:27] jsquyres commented on #3954
@ggouaillardet is quoting me correctly: it is only possible to wrap the Fortran API calls *in Fortran*, for at least the following reasons:

1. MPI_SIZEOF only exists in Fortran, and by definition, it *must* use multiple Fortran interfaces (i.e., "overloading", in C++ parlance).
1. There are some Fortran calls where the MPI implementation *must* know that the call originated from Fortran (e.g., an

[2017-07-25 19:56] artpol84 commented on #3890
@hppricha, I checked and we won't be able to get to this in near future.
No need to wait anymore.

[2017-07-25 20:19] markalle commented on #3954
MPI_SIZEOF shoudn't matter. A profile writer doesn't have to wrap every MPI call, and the topic is just about whether wrapping a C call gives the corresponding Fortran call for free.

I agree the current MPI_Comm_create_errhandler() code wouldn't work though. Current code would be the awkward situation of saying "most" C calls wrap their corresponding Fortran call for free, except for this small s

[2017-07-25 20:28] jsquyres commented on #3954
Sure, I like free things, too.  But it doesn't mean that they're always realistic.  😄

Let's not forget about the `mpi` and `mpi_f08` Fortran modules, too.  Are you proposing wrapping those in C, too?  Wrapping typed choice buffers in C would be... difficult, especially when array slices and other exotic things are supported.

Attribute functions also need special treatment.

...the list continues

[2017-07-25 21:22] markalle commented on #3954
Wrapping Fortran 77 is realistic though, relatively easy, and 98% done already. Not sure about f08 etc, offhand I'd take the easy route and say that's a separate language binding and thus would be in that same optional category (and yeah, I'd opt out of that one solely because I'm not as familiar with it).

I haven't tried to parse out what the new Fortran features looks like in C. In general that

[2017-07-25 23:04] hjelmn commented on #3879
Another note about C11 atomics. The language guarantees the atomicity of arithmetic and bit-wise operators (+, -, *, ^, etc). So these are equivalent:

[code]

[code]

The benefit of the ```atomic_*``` calls is the ability to add _explicit and change the memory model.

This behavior has an impact on the ```OPAL_THREAD_*``` macros. Those will have the cast away the _Atomic to when ```opal_using_thr

[2017-07-26 04:00] bosilca commented on #3879
This will prevent us from declaring the members of the structures as atomic, as not all operations on these members need to be atomic.

[2017-07-26 06:22] bharatpotnuri commented on #1607
@bwbarrett I submitted PRs for 3.0.x, 3.x, 2.x, 2.0.x. I am not sure if 2.x branches still accept trivial changes. This one anyway is harmless.
Thanks!

[2017-07-26 14:41] gvallee commented on #2604
PGI said it has been forwarded to the appropriate developer but did not give a timeframe for a potential fix.

[2017-07-26 15:24] nspark opened #3968 "Error in generic selection for shmem_g"
## Background information

**Problem**: There is essentially a typo in the generic selection expression for [`shmem_g` in `shmem.h.in`](https://github.com/open-mpi/ompi/blob/master/oshmem/include/shmem.h.in#L300). The macro for `shmem_g` accepts the arguments `addr` and `pe`, however, the controlling expression for the generic selection uses `dst`.

**Resolution**: Replace `dst` with `addr` on [li

[2017-07-26 15:29] hppritcha opened #3969 "Disable use of XRC in OpenIB BTL by default"
Per discussions at the 7/25/17 devel core meeting, it was agreed that for now OpenIB XRC support will be disabled until issue #3890 is resolved.  Even though the issue is specific to the v2.x release (seemingly), the fact that no one is interested or has time to try and fix the issue, it was decided that XRC support will be disabled in master and the 3.0.x, 2.x, and 2.0.x releases.

[2017-07-26 17:46] ericch1 commented on #3818
If I understand well, the PR has been merged into 3.0.x... but I still have the issue today at the very same line:

<pre>

(gdb) bt
#0  0x00007fd6ce63003f in pthread_cond_wait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
#1  0x00007fd6c845b9d7 in OPAL_MCA_PMIX2X_PMIx_Init (proc=0x7fd6c8748d60 <my_proc>, info=0x0, ninfo=0) at client/pmix_client.c:446
#2  0x00007fd6c84145f4 in pmix2x_client_init (ili

[2017-07-26 17:56] ericch1 commented on #3818
Doh, maybe I missed to set "OMPI_MCA_ess_singleton_isolated=1" ?

[2017-07-26 20:28] rhc54 commented on #3818
Yes please do

Sent from my iPhone

[2017-07-26 20:31] ericch1 commented on #3818
Is it harmful if I use it also for non-singleton runs? (if yes, it will be simpler for me to set it up into the test environment...)

[2017-07-26 21:08] rhc54 commented on #3818
Shouldn't harm anything but haven't tried it

Sent from my iPhone

[2017-07-27 12:28] ericch1 commented on #3818
ok, it will be tested from tonight.

[2017-07-27 14:17] Felandric opened #3972 "CUDA GPUDirect blocks on message size greater than GPUDirect RDMA limit with openib btl"
## Background information
When using CUDA GPUDirect to Send and Recv directly from GPU buffers on message sizes greater than the RDMA limit, rather than expected behavior of staging buffers through host memory, Open MPI simply hangs.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
v3.0.x

### Describe how Open MPI was installed (e.g., from a sou

[2017-07-28 04:55] karasevb opened #3977 "v3.0.x: PMIx v1.2 external doesn't work with v3.0.x"
The problem reproduced with v3.0.x and PMIx v1.2 as external component and`hello_c` program.

There is a hang when the client is trying to request a key from the server:
[code]

[2017-07-28 04:56] karasevb commented on #3977
@artpol84

[2017-07-28 09:41] hppritcha commented on #3977
This is a known limitation.  We'll make sure its documented.

[2017-07-28 12:19] artpol84 commented on #3977
@hppricha, we need 1.2 working in 3.0. It seems that I missed the decision of making this problem just a "known limitation".

[2017-07-28 15:46] bwbarrett commented on #3977
We won't hold 3.0.0rc2 (which has already been cut, will be released today), but I think it's reasonable to pull these in for 3.0.0, assuming @rhc54 is on board.

[2017-07-28 16:09] artpol84 commented on #3977
Sounds good.

[2017-07-29 03:58] hjelmn commented on #3879
To some degree yes. We have to be careful and always cast away the atomic where needed. I am working through out current atomic usage in opal now. Will have a branch up next week.

[2017-07-29 21:01] artpol84 commented on #3941
It seems like this Issue can be closed as all PRs are merged.

[2017-07-29 21:01] #3941 closed

[2017-07-30 19:10] artpol84 opened #3980 "OMPI v3.0: pmix install dirs info is not propagated to orteds"
### Open MPI version

gitclone ompi v3.0.x (2f13cce)

## Details of the problem

If OMPI installation is moved to a different location `OPAL_PREFIX` env var is used to identify that and `installdirs/env`  is handling this correctly.
PMIx also has MCA infrastructure and similar installdirs component. in PMIx `PMIX_INSTALL_PREFIX` playing the role of `OPAL_PREFIX`. The important difference is that `

[2017-07-30 19:12] artpol84 commented on #3980
@rhc54 I know that on the dev meeting we had discussion of variable propagation. Do we have any new on that?

[2017-07-30 23:15] artpol84 commented on #3980
One of the obvious solutions is to check if `OPAL_PREFIX` is set in `pmix2x_server_init` and if `PMIX_INSTALL_PREFIX` is not set - export necessary PMIX variables.
Something like this may needs to be done for the client as well.
However I wonder if there is more generic approach to this.

[2017-07-31 14:07] rhc54 commented on #3980
We said at the meeting that we would create some kind of registration mechanism to cover these things, but that won't be ready for awhile and certainly wouldn't go into 3.0. For now, the only real solution is to manually do these things in the schizo/ompi component. I can add some code to cover it.

[2017-07-31 14:09] artpol84 commented on #3980
Ok, thank you.

[2017-07-31 14:10] rhc54 commented on #3943
hmmm...auto-closing of issues doesn't seem to be working?

[2017-07-31 14:10] #3943 closed

[2017-07-31 14:15] rhc54 commented on #3980
Actually, one correction: we only forward OPAL_PREFIX for the plm/rsh component. So the addition will occur there.

[2017-07-31 14:17] artpol84 commented on #3980
I only checked with pml/rsh but I it would be good to make sure that others are working fine as well.

[2017-07-31 14:22] rhc54 commented on #3980
There actually isn't any way to forward something in the other methods - we have to rely solely on the configuration of the resource manager. Usually that config will forward nearly everything - i.e., the config generally doesn't scan for particular envar patterns like OPAL_. However, you are correct that users know to set the OPAL envar and expect it to cover everything. Probably the easiest solu

[2017-07-31 15:28] artpol84 opened #3984 "v3.0x: Hostfile behavior under RM allocation"
### Open MPI version

-----------------------------

## Details of the problem
When running application under SLURM allocation but using hostfile ras/slurm breaks the launch:
[code]

if I explicitly disable slurm ras all works fine:
[code]

@rhc54 is this an expected behavior?

[2017-07-31 15:50] rhc54 commented on #3984
Depends - what is in the hostfile, and what did slurm allocate?

[2017-07-31 16:17] bwbarrett commented on #3943
@rhc54, auto-closing on GitHub only works on the default branch (master in our case).  It doesn't work on other branches.  This is documented, but not super obviously.

[2017-07-31 17:34] #3244 closed

[2017-08-01 00:23] kawashima-fj opened #3986 "Internal representation difference of a datatype with a gap"
Open MPI 2.0.2 and 2.0.3/master have different representation for a datatype with a gap. @bosilca Could you comment?

I run the following program.

[code]

Open MPI 2.0.2 output:

[code]

Open MPI 2.0.3 and master output:

[code]

The notable difference is flags of the first elements of optimized descriptions (`------PGD--` and `-cC---P-DB-`). Open MPI 2.0.2 says there is a gap (`G`) but Open MPI

[2017-08-01 02:26] PHHargrove commented on #3811
Still present in 3.0.0rc2

[2017-08-01 11:32] ggouaillardet commented on #3984
@artpol84 what if you run only 2 MPI tasks ?
would ```mpirun``` assume 1 slot per host if ```-hostfile``` is used under SLURM ?

[2017-08-01 13:15] rhc54 commented on #3984
Somebody would have to check @jsquyres table for behaviors. IIRC, providing a hostname in the hostfile without specifying num slots is supposed to default to the detected number of cores (or hwthreads if use-hwthreads-as-cpus is set). So this should have selected those two nodes out of the allocation, but used whatever slurm provided as the number of slots allocated on those nodes. From the output

[2017-08-01 13:56] hjelmn commented on #3697
@kawashima-fj #3988  should fix the hang.

Its no surprise that the built-in atomics version is slower. The LL/SC lifo is significantly faster than the compare-and-swap version.

[2017-08-01 14:04] hppritcha opened #3989 "configure yoinks in the presence of libfabrics"
As part of Paul's testing of 3.0.0rc2, he reports yoinks:
[code]
He reported this on the mail list:
https://www.mail-archive.com/devel@lists.open-mpi.org//msg20324.html

[2017-08-01 14:07] hjelmn commented on #3816
@bwbarrett Adding the target-v3.x tag because I think we have a simple fix that can be included in v3.0.0.

[2017-08-01 14:08] hjelmn commented on #3816
Opps, wrong one.

[2017-08-01 14:09] hjelmn commented on #3697
This is the correct one. Think we have a fix.

[2017-08-01 14:21] jsquyres commented on #3989
@hppritcha I'm not sure why you're assigning this to me -- this is a user error...?

[2017-08-01 14:24] jsquyres commented on #3989
@PHHargrove This error means that your libfabric is apparently dependent upon both libnl1 and libnl3, which means it will likely crash if you try to use it.  You can confirm/deny this by running `ldd` on your `libfabric.so` and see if it lists both libnl and libnl3 libraries.

[2017-08-01 14:35] PHHargrove commented on #3989
I can confirm what @jsquyres says:

[code]

This appears to be the latest for Scientific Linux 6.9 (RHEL clone similar to Centos 6.9)
[code]

[2017-08-01 14:37] jsquyres commented on #3989
In this case, I maintain that Open MPI did exactly what it was supposed to do: it told the user "this won't work -- barf!" (so that Open MPI won't get blamed for the error).

So I'm going to close this issue.

That being said, if Scientific Linux 6.9 is shipping a libfabric built that way, that's a bug in their distro.

[2017-08-01 14:37] #3989 closed

[2017-08-01 14:46] PHHargrove commented on #3989
@jsquyres

Wouldn't omitting libfabric support be a better behavior than stopping?

Alternatively, wouldn't "try again passing --without-libfabric" be a more useful message than "yoinks!"?

[2017-08-01 14:50] artpol84 commented on #3980
To clarify: in the issue description PMIX_INSTALL_PREFIX variable was manually set by me.

[2017-08-01 14:57] hppritcha opened #3991 "pmix2x/libz link failure on NetBSD7 with 3.0.0rc2"
@PHHargrove is hitting a pmix2/libz link failure testing 3.0.0rc2 on a NetBSD7 system:

[code]
reported on the devel list:
https://www.mail-archive.com/devel@lists.open-mpi.org//msg20325.html

[2017-08-01 14:57] jsquyres commented on #3989
@PHHargrove What did you pass on your configure line?

[2017-08-01 15:06] hppritcha opened #3992 "3.0.0rc2: FreeBSD: divide-by-zero in hwloc"
@PHHargrove reported a problem bubbling up from hwloc when testing 3.0.0rc2 on
FreeBSD/amd64:

[code]
reported on devel mail list:
https://www.mail-archive.com/devel@lists.open-mpi.org//msg20326.html

[2017-08-01 15:12] PHHargrove commented on #3989
@jsquyres I passed only `--prefix=[...] --enable-debug`

[2017-08-01 15:13] hppritcha opened #3993 "3.0.0rc2: Borked OPAL_CHECK_GCC_ATOMIC_BUILTINS definitions"
@PHHargrove reports seeing problems using xlc12.1 to build 3.0.0rc2
[code]

reported on devel:
https://www.mail-archive.com/devel@lists.open-mpi.org//msg20323.html

[2017-08-01 15:30] gpaulsen commented on #3705
Wanted to figure out which platform caused problems in the past.  Other platforms, please test and update.

[2017-08-01 15:42] gpaulsen commented on #3980
Discussed at the call today.  Adding Blocker label to this for v3.0

Expect there is a similar issue with hwloc components directory as well, except that hwloc doesn't build mca components by default (?)

[2017-08-01 15:46] artpol84 commented on #3980
@bwbarrett we have some discussion of the current solution in #3985.

[2017-08-01 15:47] jsquyres commented on #3705
Per 1 Aug webex: I asked @siegmargross to run on his various flavors of Solaris/Linux on x86/SPARC.  @bwbarrett will be testing on all the variety of platforms available at Amazon.

[2017-08-01 15:48] jsquyres commented on #1607
Now merged on all branches.  Closing this issue.

[2017-08-01 15:48] #1607 closed

[2017-08-01 15:48] artpol84 commented on #3980
This is fine unless we are using external components.

[2017-08-01 15:50] jsquyres commented on #3685
Per discussion on 1 Aug Webex:

* This issue was originally reported with MXM+patcher
* @alsrgv reported with openib (assumedly +patcher)
* IBM has seen similar problems in PAMI+patcher.

@vspetrov Does this happen with v3.0.x?  (we're assuming you didn't test v3.0.x -- can you clarify?)

@hjelmn Can you chime in here?  It's apparently reproducible with openib, and a test case was attached in the

[2017-08-01 15:52] artpol84 commented on #3980
Here is the update to a problem description as it seems that there might be a misunderstanding:

We have 2 problems now:
a) At least not all PMIX_ variables are propagated
b) Some PMIX_ variables should be set automatically (derived from OPAL_) if we are using internal PMIx for better user experience.

This issue is mostly about a) but it is fint to fix b) as part of it.

With respect to a) here i

[2017-08-01 15:56] jsquyres commented on #3989
@PHHargrove Ah, then *that* does sound like a bug.  Meaning: configure correctly determined that your libfabric is borked.  But if you didn't explicitly `--with-libfabric`, then configure should have just skipped libfabric support (like the way the rest of OMPI handles `--with-FOO` and `--without-FOO` things).  Oops.  I'll open a separate issue to handle that (so that we don't confuse it with what

[2017-08-01 15:57] jsquyres opened #3995 "If libfabric is borked, configure unconditionally aborts"
As an offshoot out of #3989, it was discovered that if configure determines that libfabric is borked (by linking in both libnl v1 and v3), then configure aborts.

Instead, it should obey `--with[out]-libfabric` CLI conventions (i.e., only abort if `--with-libfabric` was specified; otherwise, just skip libfabric support).

[2017-08-01 15:59] hjelmn commented on #3685
Probably a race that isn't triggered by the slower case without ```mpi_leave_pinned```. I can try to see if this happens with Aries later this week.

[2017-08-01 16:29] bwbarrett commented on #3705
I tested on Amazon Linux 17.03 (newish kernel), FreeBSD 11, and NetBSD 7.0, and all three worked.

[2017-08-01 16:47] PHHargrove commented on #3991
@bwbarrett

It looks likely to be the fault of  bashism (`==` is not a test operator):
[code]

Sorry I didn't notice that when reporting the problem originally.

[2017-08-01 16:53] PHHargrove commented on #3991
Looks like both pmix and opal contain the same error with respect to libz, and pmix has several additional instances of `==` as a test operator:
[code]

[2017-08-01 17:29] #3968 closed

[2017-08-01 17:53] tonycurtis opened #3996 "Typo in spml_ucx.c ?"
Thank you for taking the time to submit an issue!

## Background information

possible typo in source code format string

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

commit 83d21e31302054eb24d12190ecd71cc9d3bb0f13 (HEAD -> master, origin/master, origin/HEAD)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball,

[2017-08-01 19:17] PHHargrove commented on #3993
It appears that both `OPAL_CHECK_GCC_ATOMIC_BUILTINS` and `OPAL_CHECK_SYNC_BUILTINS` both set `OPAL_ASM_SYNC_HAVE_64BIT`.  That alone may be erroneous.

However, I have tracked the empty (first) definition to the `OPAL_CHECK_GCC_ATOMIC_BUILTINS` macro which is consuming `opal_asm_sync_have_64bit` which has yet to be set:

[code]

[2017-08-01 19:27] jsquyres commented on #3995
@PHHargrove Can you attach your full configure output and config.log to this issue?  I'm digging into this issue, and this might be a bit more complex than I initially thought.

[2017-08-01 19:28] hppritcha opened #3998 "ORTE needs to work better with SLURM signal mechanisms"
Our site (and other DOE CTS-1 system owners) are having problems with Open MPI/ORTEs interaction with SLURM's mechanism for propagating signals to processes in a job, in particular when using SLURM scancel of sbatch + --signal option.

The problem has to do with what's going on with the HNP, namely, that MPI processes are currently children of the HNP rather than a slurmd daemon.   SLURM doesn't k

[2017-08-01 19:37] bwbarrett commented on #3998
@hppritcha, which branches does this impact?

[2017-08-01 19:39] bwbarrett commented on #3996
@jladd-mlnx, can you have someone take a look?

[2017-08-01 19:40] PHHargrove commented on #3995
@jsquyres here you go (w/ .txt suffixes to make github happy):
[config.log.txt](https://github.com/open-mpi/ompi/files/1191720/config.log.txt)
[configure.out.txt](https://github.com/open-mpi/ompi/files/1191721/configure.out.txt)

[2017-08-01 19:45] jsquyres commented on #3705
@shamisp confirms it works on two different Linux/ARM platforms.

[2017-08-01 19:50] bwbarrett commented on #3918
@hjelmn, I see commits for all the tagged targets; can this be closed?

[2017-08-01 19:52] bwbarrett commented on #3904
@edgargabriel, is this still targeted for 2.1.x?  I see the label, but not a PR into v2.x...

[2017-08-01 20:00] bwbarrett commented on #3521
@jsquyres, am I right in remembering we sorted this out?

[2017-08-01 20:05] bwbarrett commented on #3845
@hjelmn, where are we on this?

[2017-08-01 20:10] hjelmn commented on #3845
Complete. All branches merged.

[2017-08-01 20:10] #3845 closed

[2017-08-01 20:12] hjelmn commented on #3816
@bwbarrett This one will be fixed in  v3.0.1 when we disable the builtin atomics by default again. Are we just waiting on documenting this issue for v3.0.0?

[2017-08-01 20:14] artpol84 commented on #3984
@bwbarrett according to @rhc54 this is a regression. So maybe we need to consider this as a blocker as well.

[2017-08-01 20:14] artpol84 commented on #3984
@hppritcha

[2017-08-01 20:21] bwbarrett commented on #3816
why are we waiting for 3.0.1 to disable builtin atomics?  If it's broken, we should fix it before we release...

[2017-08-01 20:47] hjelmn commented on #3993
Hmm, thats an error. Let me take a look now.

[2017-08-01 20:54] hjelmn commented on #3993
copy-and-paste error. fix incoming.

[2017-08-01 21:25] PHHargrove commented on #3993
:+1: I am not well equipped to autogen, and so have not tested #4000 directly.  However, manually removing the expansion of the offending AC_DEFINE_UNQUOTED from the configure in the 3.0.0rc2 tarball lets me progress to the next bug ( #3811 ).

[2017-08-01 22:03] PHHargrove opened #4001 "pmix support for non-builtin atomics appear to be busted"
With the 3.0.0rc2 tarball I've configured with `CC=xlc CXX=xlC FC=xlc --enable-debug --disable-builtin-atomics`.
In configure's output I see the following while configuring pmix2x:
[code]

The "No such file or directory" appears to be an error.
Examining pmix_config_asm.m4 is appears that `PMIX_TOP_SRCDIR` is used but never defined.

[2017-08-01 22:06] PHHargrove commented on #3816
@bwbarrett wrote

Because there are trolls living under that particular bridge.
See #4001 for one I just found.

[2017-08-01 22:07] hjelmn commented on #3816
@bwbarrett We discussed just this at the developer meeting (or on the phone-- can't remember). It is deemed too late in the release to change it.

[2017-08-01 22:08] hjelmn commented on #3816
#4001 would indeed need to be fixed though.....

[2017-08-01 22:09] bwbarrett commented on #3816
So this is a 3.0.0 or not for 3.0.x decision; it's absolutely the wrong thing to plan on swapping something like atomics around mid-release series. I'm not even sure we should enable built-in for 3.0 and then disable it for 3.1; that feels like the wrong thing for our users.

[2017-08-01 22:10] hjelmn commented on #3816
@bwbarrett Exactly. I would be more comfortable not using the builtins. They are slower right now and we haven't determined why.

FWIW, it is a single line change to configury to go back to the v2.x default.

[2017-08-01 22:15] hjelmn commented on #3816
I think it really is time to kill the pre-built assembly. I don't know of any work done on that support in the last couple of years. Killing that would help fix #4001.

[2017-08-01 22:42] bwbarrett commented on #3816
now that we require perl (sigh), the pre-built stuff can die.  It was a workaround for us not wanting to require perl.

[2017-08-01 22:46] jladd-mlnx commented on #3996
@bwbarrett thanks. We will address this.

[2017-08-01 23:42] gpaulsen commented on #3705
Works on ppc64le on Red Hat Enterprise 7.3
glibc-common-2.17-157.el7.ppc64le
Linux kernel 3.10.0

[2017-08-01 23:59] rhc54 commented on #3984
@bwbarrett I would advise against making this a blocker as we don't have anyone standing up and saying if/when they will fix it. I know I don't have time.

[2017-08-02 00:01] rhc54 commented on #4001
I'll address it when I return on Friday

[2017-08-02 00:02] rhc54 commented on #3991
@PHHargrove Many thanks for the detective work! I'll address it when I return on Friday

[2017-08-02 00:48] bwbarrett commented on #3984
@rhc54: if it's a feature regression, it's a blocker.  If there's no one to work on it, then we don't release until someone comes up with resources or we explicitly decide that the regression is ok and we document it.  Neither of those has happened, so blocker (or I'm wrong that it's a feature regression, in which case it's not a blocker).

[2017-08-02 00:53] ericch1 commented on #3818
ok, it is working fine for last 4 days.... but have to wait longer since it was intermittent.

Also, does it mean that we should always use OMPI_MCA_ess_singleton_isolated=1 by default?

... and will the upcoming 3.0 release have this option activated by default?
Thanks,
Eric

[2017-08-02 01:07] artpol84 commented on #3984
@ggouaillardet 2 procs work fine. So hostfile ignores RAS info or incorrectly interprets it and yes - assumes one slot per host.

[2017-08-02 03:47] rhc54 commented on #3980
Whoa there, partners - you are blowing this way out of proportion. First off, it is the _users_ responsibility to set the paths for both OMPI and any secondary libraries on the backend nodes. We cannot take responsibility for forwarding paths for everything - the command line has stringent length limits.

There was a lot of argument about excepting OPAL_PREFIX back when we first did it, and it was

[2017-08-02 03:51] artpol84 commented on #3980
@rhc54 one comment
[code]
I'm not sure I understand. If we don't forward PMIX env how user can communicate this to the server-side part of the external PMIx sitting in orted's.

[2017-08-02 06:24] ggouaillardet commented on #3998
@hppritcha what is the behavior you would like/expect ?

1. slurm signals the HNP (and probably the tasks running on this node too), and then Open MPI does the signal propagation
2. slurm signals the HNP (but not its children), and then Open MPI does the signal propagation
3. slurm signals all processes (shells, mpirun, orted, mpi tasks, ...)
4. slurm signals mpirun (and some shells) and orted, an

[2017-08-02 10:42] kawashima-fj commented on #3705
Works on
- SPARC64 XIfx + Linux 2.6.32 + glibc 2.12 + gcc 4.4.7 / Fujitsu compiler (Fujitsu PRIMEHPC FX100)
- Thunder X (AArch64) + Linux 4.5.0 + glibc 2.17 + gcc 4.8.5 (CentOS 7.2)

[2017-08-02 12:32] ggouaillardet opened #4005 "remove references to removed coll/hierarch from README starting at v2"
As reported at https://stackoverflow.com/questions/45459262/mpi-and-hierarchical-collectives-missing-hierarch-coll-module-from-openmpi-2 README from ```v2``` should no more reference ```coll/hierarch``` since this module has been removed.

[2017-08-02 12:33] ggouaillardet commented on #4005
@bwbarrett @hppritcha fyi, this is a trivial documentation fix. i will do that tomorrow, and i hope it can make it for ```v3.0.0```. meanwhile, everyone is free to fix that if timing is critical

[2017-08-02 12:56] rhc54 commented on #3980
We always require that users take responsibility for ensuring that their environment (path and library path) is properly setup on the backend to reach any libraries they linked against OMPI. This includes external copies of hwloc, libevent, and pmix. If they installed their external pmix in a location that requires PMIX_INSTALL_DIR, then they need to set that in their backend environment - if they

[2017-08-02 13:16] rhc54 commented on #3980
BTW: that last point should only be done if having PMIX_INSTALL_DIR set actually causes us to relocate the PMIx plugins when we build the internal PMIx library. If not, then we can just ignore that envar.

[2017-08-02 13:48] ericch1 commented on #3818
A new error occured this morning on only one test:

<pre>
--------------------------------------------------------------------------
A call to mkdir was unable to create the desired directory:

  Directory: /tmp/tmp.DVXrIH7bPT/ompi.zorg.40031/jf.0/1
  Error:     No such file or directory

Please check to ensure you have adequate permissions to perform
the desired operation.
-----------------------

[2017-08-02 14:06] edgargabriel commented on #3904
@bwbarrett I am contemplating to not move that to the 2.1 branch. The flag at this point really is just a minor optimization, that users would have to utilize very cautiously, i.e. know the conditions under which they can activate it.

[2017-08-02 14:50] jjhursey commented on #3980
@rhc54 I don't see a `PMIX_INSTALL_DIR` in either repo. I think you mean `PMIX_INSTALL_PREFIX`. Just for clarity in the conversation. It doesn't change your argument.

[2017-08-02 15:01] jsquyres commented on #3705
@siegmargross confirms:

[code]

[code]

[2017-08-02 15:18] jsquyres commented on #3705
In off-issue discussion (i.e., email), @kawashima-fj mentions the following is necessary to make it work with their compilers (I just want to capture all this data in one place):

For the moment, it may be sufficient to document this somewhere.  @ggouaillardet didn't think it was worth adding additional logic into our `configure` to handle this case (but I think we could be open to that, perhaps a

[2017-08-02 16:19] artpol84 commented on #3980
[code]
I believe that `PMIX_INSTALL_PREFIX` makes sense only to the installdirs plugin so it shouldn't affect the build/installation process.

[2017-08-02 16:25] artpol84 commented on #3980
[code]
I agree with that,the recent commit does that differently:
https://github.com/open-mpi/ompi/blob/master/opal/mca/pmix/pmix2x/pmix2x_server_south.c#L113
I will open another PR to fix that.

[2017-08-02 16:31] jjhursey commented on #3980
Or original thinking was:

The argument against this would be that if there is a PMIx installed in the default search path, then we don't want to force the sysadmin to set `PMIX_INSTALL_PREFIX` just to keep us from doing so. So I'm ok with pushing that responsibility to the end user, and we can work around this.

In any case we should be propagating `PMIX_INSTALL_PREFIX` if it is set in the `mpiru

[2017-08-02 16:42] PHHargrove commented on #3991
I have verified that the problem goes away if I manually edit Open MPI's and pmix2's generated configure scripts to change "==" to "=" in the lines corresponding to:
[code]

Of course the other `==` instances need to be fixed as well.

[2017-08-02 16:45] PHHargrove commented on #3995
@jsquyres Let me know if access to the system is needed to resolve this.  I can reactivate your account on our cluster.

[2017-08-02 16:47] #1183 closed

[2017-08-02 16:48] artpol84 commented on #3980
@jjhursey
[code]
install prefix is enough - I verified that at runtime.

However I'm not sure I understand your point about the handling of existing/nonexisting install prefix.
I was going to do the following: #4007. Does that sounds ok with everybody?

[2017-08-02 16:57] artpol84 commented on #3980
@jjhursey re-reading your comment it seems like you suggesting to revert all the changes in pmix2 component (that auto-set `PMIx install prefix) and keep only the rsh part that propagates install prefix envar.
Is that correct?

[2017-08-02 17:40] PHHargrove commented on #3992
If I configure using `--with-hwloc=/usr/local` I get hwloc-1.11.7 (newer than the embedded 1.11.3) and the problem does not occur.  The FreeBSD ports tree does not appear to be applying any patches of its own.   So, there is potentially an upstream fix that can be cherry-picked.

Alternatively, README could suggest installing/using an external hwloc.

In case it matters, this is a KVM-based virtua

[2017-08-02 17:54] rhc54 commented on #3980
You can't just blindly propagate like that - see my notes

Sent from my iPhone

[2017-08-03 11:08] ericch1 commented on #3818
same issue today, with another singleton...
<pre>
--------------------------------------------------------------------------
A call to mkdir was unable to create the desired directory:

  Directory: /tmp/tmp.rrXrhrGtet/ompi.zorg.40031/jf.0
  Error:     No such file or directory

Please check to ensure you have adequate permissions to perform
the desired operation.
---------------------------------

[2017-08-03 15:25] jsquyres commented on #3705
@hppritcha Points out that if we link the Java bindings against lib OMPI / ORTE / OPAL (i.e., whichever is necessary), the hinkyness of ompi/mpi/java/c/mpi_MPI.c `dlopen()`ing `libmpi.so` can probably go away.

[2017-08-03 15:37] hppritcha commented on #3685
@vspetrov could you check the v3.0.x branch?

[2017-08-03 15:50] dalcinl commented on #3705
@jsquyres I mentioned Java when I opened this issue, and indeed the Java issues should be fixed. Linking `libmpi.so` should be enough.

[2017-08-03 16:29] bwbarrett commented on #3993
Fixes merged into master and 3.0.0; closing.

[2017-08-03 16:29] #3993 closed

[2017-08-03 17:24] hjelmn commented on #3816
@bwbarrett I will put it together.

[2017-08-03 18:33] certik commented on #1284
I can confirm, that the same issue happens with NAG 6.1 and openmpi 2.1.1, when cmake gives an error:
[code]
and patching `mpifort-wrapper-data.txt` fixes it.
[code]
So I think this looks like a bug in openmpi.

[2017-08-03 20:36] hjelmn commented on #3685
Nothing to do with the patcher. Looks like it might be a consistency problem with rcache/grdma. Investigating now.

[2017-08-03 22:03] hjelmn commented on #3685
Think I have a fix. Testing now. Want to make sure there are no regressions and that the problem isn't just being masked.

[2017-08-03 22:18] rhc54 commented on #3818
Honestly not sure what I can advise on this - is the directory too full? Does the directory already exist and we are trying to mkdir over it?

[2017-08-04 03:11] bwbarrett commented on #3992
Interesting; I can't replicate on EC2 with 11.0; wonder if something changed between 11.0 and 11.1 or if it's something in the QEMU processor emulation.

[code]

[2017-08-04 03:56] rhc54 commented on #3992
Is there any reason not to update to 1.11.7? I ask because there are some improvements and bug fixes in those latter releases that are good to have. I'm willing to roll the PR if you want it.

[2017-08-04 04:07] rhc54 commented on #3991
Fix is slated for PMIx master (see https://github.com/pmix/pmix/pull/440), will then be ported into release branch. Since that will take a little time, I'll provide a separate fix here.

[2017-08-04 04:15] rhc54 commented on #4001
Weird - PMIX_TOP_SRCDIR is defined in configure.ac way before pmix_config_asm.m4 is referenced. So I wonder why it got lost?

[2017-08-04 04:20] rhc54 commented on #4001
Hmmm...looks like opal_config_asm.m4 has radically changed anyway, and another issue thread implies that maybe we need to update it for other reasons. I'm going to close this one and just track the update to the overall asm configure code.

[2017-08-04 04:20] #4001 closed

[2017-08-04 08:51] Sergei-Lebedev opened #4019 "opal_bitmap test is always passed"
### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
Open MPI v2.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
brew install open-mpi

## Details of the problem
main function in opal_bitmap test should return the value from test_finalize() i

[2017-08-04 09:14] pozdneev opened #4020 "`ompi_info --param` does not work for vader"
## Background information
### What version of Open MPI are you using?
[code]

### Describe how Open MPI was installed
Open MPI was installed from source:
[code]

### Describe the system on which you are running
* Operating system/version:
[code]

* Computer hardware: Lenovo ThinkPad T430 laptop
[code]
-----------------------------

## Details of the problem
`ompi_info` does not list parameters for

[2017-08-04 13:16] ericch1 commented on #3818
The directory is definitely not full:
<pre>
zorg:/tmp # df -h .
Filesystem      Size  Used Avail Use% Mounted on
/dev/sdb2        95G   34G   60G  37% /
</pre>

What I think, is that there is a concurrency problem:  the automated tests are launching about 12 singletons at the same time...  Maybe the way the temporary directory is created is problematic?

I think this is definitely a new problem wi

[2017-08-04 14:09] hppritcha commented on #4020
I see this behavior on master too.

[2017-08-04 14:43] bwbarrett commented on #3992
@rhc54, I don't think so; just the usual wanting to get something out the door.  But if that's the easiest way to get this bug removed, then let's do that.

[2017-08-04 15:41] hjelmn commented on #3685
This bug is the result of a regression fix gone bad. I am working on a way to fix this without re-introducing the original bug. I am hoping to have a workaround today with the long term fix being a new registration cache.

Note, I changed the title to reflect that this is not a threading issue but a more general issue with how we ensure consistency in the registration cache.

[2017-08-04 15:45] hjelmn commented on #3685
@bosilca The regression fix that introduced this was for a memory hook deadlock you identified. Can you provide the reproducer?

[2017-08-04 16:25] #3969 closed

[2017-08-04 18:40] bosilca commented on #3685
I first got it with MADNESS but then I could reproduce it with any C++ multi-threaded application.

[2017-08-04 19:10] hjelmn commented on #3685
@bosilca Ok, I think the attached app may be sufficient to trigger it as well. I am working with a patch that uses the deadlock "plan B" which uses a free list for the vma items. It seems to be working and is probably a good enough solution until I finish the new registration cache. I will post the PR shortly for testing.

[2017-08-04 19:31] hjelmn commented on #3685
Ok, fix is up in PR #4026. I have a simple reproducer that will go into MTT once this ticket is closed.

[2017-08-04 21:05] jjhursey commented on #3980
Some notes from our teleconf.

### Case A: Internal PMIx component
  * If any `PMIX_` installdir value is set (regardless of `OPAL_PREFIX`)
    - Error out with a descriptive message
      - Make sure to include values of all `PMIX_` installdir values (since, for example, `PMIX_SHAREDSTATEDIR` might be set in an odd way as well). This way a user can unset these values if, for example, the sysadmin

[2017-08-04 22:39] PeterGottesman opened #4027 "hwloc 2.0 segfault in ec2/cfncluster on master"
## Background information
This was encountered on an EC2 cluster running in a slurm(16.05.3) allocation.

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)
This occurred on master(e79eb856908).

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
O

[2017-08-04 22:44] rhc54 commented on #4027
@bgoglin Can you make anything out of that backtrace?

[2017-08-04 23:29] bgoglin commented on #4027
I guess newobj->logical_index is wrong. "print *newobj" in GDB would help.
Otherwise send the xml output of lstopo on that node and I'll see if I can reproduce.

[2017-08-04 23:33] bgoglin commented on #4027
Good candidate for easier debugging: if you have a hwloc gitclone built, do "cd tests/hwloc; make hwloc_topology_dup; ./hwloc_topology_dup", it should crash too.

[2017-08-05 02:55] jjhursey commented on #3980
Note: I did get started on the external component MCA parameter. There are a couple snags that I'll need to come back to. Plan to have more on Monday.

[2017-08-05 22:00] nncarlson opened #4032 "NAG Fortran compiler does not recognize the -pthread option"
I'm trying to build 2.1.1 using the NAG 6.1 Fortran compiler (and system gcc 6.4.1) and it fails in the `fortran/use-mpi-tkr` directory when it tries to link the `libmpi_usempi.so.20.10.0` shared library.  The `-pthread` option is being used but this is not something the NAG compiler understands, and it fails as a consequence.

Who is responsible for putting that option there?  openmpi, libtool?

[2017-08-06 21:36] nncarlson opened #4034 "NAG Fortran compiler -rpath configuration error"
With NAG 6.0, 6.1 and openmpi 2.1.1, mpifort gives the error

    gcc: error: unrecognized command line option ‘-rpath’

This may have been part of #1284 (now closed). If it was ever fixed, it is back now. The issue is that the compiler wrapper uses `-Wl,-rpath ` which results in `-rpath` being passed to gcc.  In order to get that flag to the linker, the wrapper must use `-Wl,-Wl,,-rpath`.  See ht

[2017-08-06 21:51] nncarlson commented on #4034
Actually there are several `-Wl,` options in `mpifort` and I suspect they may all be wrong for the same reason.

[2017-08-06 23:23] PHHargrove commented on #3992
I've tried #4022, but the problem persists.  Perhaps I was wrong when I concluded that no patches were applied to the hwloc build in the FreeBSD package repo.

The fastest way to get 3.0 out the door seems to me to be to simply document that `--with-hwloc=/usr/local` is necessary.  Unfortunately, beween Brian's FreeBSD-11.0+EC2 results and my FreeBSD-11.1+KVM results, we are left uncertain if the

[2017-08-06 23:24] rhc54 commented on #3992
@bgoglin Any thoughts?

[2017-08-07 00:23] ggouaillardet commented on #4034
@nncarlson thanks for the report.

this is a known issue that has been around for a while ...
i fixed that some time ago, but then my NAG evaluation license has expired and the related commits were never backported into the ```v2``` branches.

can you please give a try to ```v3.0.0rc2``` ?
(the fixes were backported into this branch)

if you'd rather use the ```v2.1``` series, you can manually dow

[2017-08-07 04:31] rajachan opened #4035 "nb"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

### Please describe the system on which you are running

* Operati

[2017-08-07 04:32] #4035 closed

[2017-08-07 06:49] bgoglin commented on #3992
I am not aware of any patch being applied to FreeBSD hwloc.

@PHHargrove when cache->type == 0, we ignore the cache, you shouldn't ever use that cache in the code. I have a FreeBSD 11.1 running on KVM, no problem. But it may depend on the underlying hardware since we are in the cpuid/x86 code here. Can you run hwloc-gather-cpuid from hwloc git master and send the resulting cpuid directory? I can d

[2017-08-07 07:10] PHHargrove commented on #3992
@bgoglin
hwloc-gather-cpuid from hwloc git master SEGVs:
[code]

[2017-08-07 18:08] bgoglin commented on #3992
Ergl, it likely fails for similar reasons. Can you set HWLOC_COMPONENTS=-x86 in the environment before running?

[2017-08-07 18:40] rhc54 opened #4045 "When emitted, libpmix is not linked against libopen-pal"
We emit a copy of libpmix based on the internal PMIx code tree when we are configured --with-devel-headers. This is done so that applications can directly reference PMIx calls and ensure they are compatible with the included ORTE support.

However, libpmix in this case is referencing OPAL-prefixed names for libevent and other functions, so we need to link it back to libopen-pal to resolve them.

[2017-08-07 19:05] jsquyres commented on #4005
Looks like this is done everywhere.  Closing.

[2017-08-07 19:05] #4005 closed

[2017-08-07 19:18] PeterGottesman commented on #4027
Okay, running gdb on a core file I get the following result:
[code]

The xml output of lstopo and the output of hwloc_topology_dup (which didn't actually crash) are attached.
[hwloc_info.tar.gz](https://github.com/open-mpi/ompi/files/1205870/hwloc_info.tar.gz)

[2017-08-07 20:01] bgoglin commented on #4027
Strange, I can't find this "xvda" device in your XML. Maybe because you ran lstopo from 1.11 ? hwloc 1.11 doesn't report as many block devices as git master (you xvda is likely not a PCI device). That would also explain why hwloc_topology_dup didn't fail.

I assumed I was duplicating things out-of-order but I can't reproduce anyway.

Can you also "print i", "print newtopology->slevels[i]", "print

[2017-08-07 20:12] PeterGottesman commented on #4027
All of these have been optimized out according to gdb
[code]

[2017-08-07 20:14] PeterGottesman commented on #4027
[lstopo_out.xml.txt](https://github.com/open-mpi/ompi/files/1206030/lstopo_out.xml.txt)

And here is the corrected lstopo output, sorry about that.

[2017-08-07 20:27] bgoglin commented on #4027
Thanks for the XML.
Can you try again in gdb after replacing i with 2 and newobj->logical_index with 1?

[2017-08-07 20:30] PHHargrove commented on #3992
@bgoglin tarball of cpuid directory will be sent by email shortly.

[2017-08-07 20:41] PeterGottesman commented on #4027
[code]

[2017-08-07 21:17] bgoglin commented on #3992
Thanks. One thing that seems strange is that the VM exposes an AMD with cache information in both AMD and Intel CPUID leaves. Our code is supposed to ignore Intel-specific caches on non-Intel but I am not sure we have ever tested that.

Any chance you give me access to the VM? Or any way to share the image of the VM on a ffile sharing website?

If we have to stay in your own gdb, I would like to s

[2017-08-07 21:27] PHHargrove commented on #3992
@bgoglin VM access is possible.  Switching to private email.

[2017-08-07 23:05] jsquyres commented on #4027
@bgoglin and @PeterGottesman iterated off-list and @bgoglin says he'll have a fix for tomorrow.

Just to be clear: hwloc v2.0.0 is not on OMPI v3.0.0, so there's no need to hold up v3.0.0 for this issue.

[2017-08-08 02:58] kawashima-fj commented on #3986
@bosilca Could you comment?

[2017-08-08 08:16] bgoglin commented on #4027
This should fix the issue:
[code]

[2017-08-08 09:09] bgoglin commented on #3992
I am on the VM but I can't reproduce any single crash with 1.11.3, 1.11.7 or git master. Even hwloc-gather-cpuid works fine. Do you have anything in your environment and/or on your configure command-line? Note that I only tried lstopo from vanilla hwloc, nothing from OMPI's hwloc.

[2017-08-08 12:58] rhc54 commented on #4027
@bgoglin what branch should I pull this from? The patch doesn't apply cleanly to what I have, so I assume you have an updated branch I should use?

[2017-08-08 13:33] carns commented on #3954
I can add commentary from another tool developer's perspective.  Darshan (http://www.mcs.anl.gov/research/projects/darshan/) has always just wrapped the C API.  That's been a boon for us in the past, because (with rare hiccups) it has allowed us to instrument I/O across platforms, MPI implementations, compilers, languages, and vendors with a single, heavily tested set of wrapper functions.  We do

[2017-08-08 14:21] bgoglin commented on #4027
Strange, it applies on top of OMPI master here:
[code]

I'll update my shmem branch with this and other hwloc git master changes once the bug fix is confirmed.

[2017-08-08 14:48] rhc54 commented on #4027
It's the hunk offsets that triggered my comment - if things were up-to-date, that shouldn't happen

[2017-08-08 15:46] jsquyres commented on #3991
Looks like this is fixed -- closing.

[2017-08-08 15:46] #3991 closed

[2017-08-08 15:50] jjhursey opened #4053 "Add XL compiler version check to configure"
Add configure check for XL compiler version support. As indicated by various bug reports, we don't really support older XL compiler versions (<=12.1) so we should error out with an informative message.
  * https://github.com/open-mpi/ompi/issues/3816
  * https://github.com/open-mpi/ompi/issues/3817 (somewhat related)
  * https://github.com/open-mpi/ompi/issues/3811 (somewhat related)

It might als

[2017-08-08 15:52] jsquyres commented on #3812
We're not going to make libevent C99 compliant.  Closing as "wontfix".

[2017-08-08 15:52] #3812 closed

[2017-08-08 15:53] jsquyres commented on #3984
Per discussion on 8 Aug 2017 webex: yes, this is definitely a change in behavior.  At the moment, no one has any availability to work on it.  Not sure where to go from here.

[2017-08-08 16:03] jsquyres commented on #3685
Per discussion on 8 Aug 2017 webex: @hjelmn explains that this happened because we didn't hook madvise() when we created patcher, solely because we didn't think we needed to.  This issue and Nathan's further testing shows that we *do* need to hook madvise because there are cases where you can end up in a deadlock scenario (even in a single-threaded test).

The issue is that there is a race conditi

[2017-08-08 16:08] jsquyres opened #4055 "XLC: fail configure for <= v12"
Per discussion on the 8 Aug 2017 webex, since IBM is no longer supporting Open MPI with XLC <= v12.x, we should add a configure check that will abort (with a friendly help message) in that case.

[2017-08-08 16:11] jsquyres commented on #4055
This is a dup of #4053.  Closing.

[2017-08-08 16:11] #4055 closed

[2017-08-08 16:28] jladd-mlnx commented on #3977
@karasevb @artpol84 please close the issue once satisfied that it's working.

[2017-08-08 16:29] artpol84 commented on #3977
Yes, it's working now.

[2017-08-08 16:29] #3977 closed

[2017-08-08 16:53] gpaulsen commented on #3984
Sorry, we don't have any resources to help with this in the short-term (i.e. before v3.0 goes out).  It's not a correctness issue, so perhaps just document as a known issue for v3.0 and close it for now?

[2017-08-08 19:03] PHHargrove commented on #3992
@bgoglin Output of "env" (with one redaction) is below.
The empty USERNAME is *not* a redaction - it really is empty in my environment.

Another possible difference is that I am a member of the system group "wheel", but I've ruled that out by removing myself.

My configure command line for master was empty on the first try, and I added --enable-debug after the first SEGV.

[code]

@jsquyres and @b

[2017-08-08 20:18] jjhursey commented on #4053
Two points related to this PR:
 * IBM has no objections to Open MPI discontinuing support for XL compilers older than 13.1.
 * IBM has no objections to Open MPI discontinuing support for `ppc64 BE` Linux.

I'll add a configure time check for both of these cases and have it return a descriptive error message. Once we settle on the form of the check for `master` I'll PR it to the release branches.

[2017-08-08 20:59] PHHargrove commented on #3992
@bgoglin
CORRECTION:
I had configured with `CC=cc CXX=c++` to ensure use of the system default clang compilers (in /usr/bin), rather than gcc in /usr/local/bin.
Without these options to configure, hwloc defaults to use of gcc and g++ **and no SEGV occurs**.

[2017-08-08 21:11] bgoglin commented on #3992
Ah! I had to install gcc on my FreeBSD11 VM too because cc/clang was causing strange segfaults that moved around when adding printf.

[2017-08-08 21:28] rhc54 commented on #3992
@PHHargrove so does that mean that your system hwloc in /usr/local was built with gcc and not clang? It sounds like the problem is in the clang compiler for that VM.

[2017-08-08 21:45] PHHargrove commented on #3992
@rhc54 No, I've confirmed that the system hwloc-1.11.7 is built w/ CC=cc CXX=c++.
It is possible that the SEGV in hwloc-gather-cpuid (master) and the original divide-by-zero (1.11.3) are unrelated.

Keep in mind that (like Apple), the FreeBSD folks have adopted Clang as their official compiler, and gcc is just an add-on.  Theor openmpi2 (2.0.2, FWIW) package is also built w/ Clang.  So, that is th

[2017-08-08 21:50] bgoglin commented on #3992
My hwloc 1.11.7 built with cc/c++ fails miserably. gdb shows things that make no sense. And adding debug printf makes the stack get crazy and segfaults move around.

All these failures occur in topology-x86.c which is the only lib file that uses inline asm for cpuid. So maybe clang doesn't like our asm. And hwloc-gather-cpuid also uses that asm.

Do you guys test things with clang/Linux?

[2017-08-08 21:53] rhc54 commented on #3992
yes, the various CI and some MTT tests are done against it

[2017-08-08 22:01] rhc54 commented on #3992
I'm just poking to understand what action needs to be done in response to all this info. I'm not sure I see it yet.

[2017-08-08 22:31] jsquyres commented on #3954
@markalle and I finally got on a phone call to discuss this idea.  Here's what we concluded (please correct anything I get wrong here):

1. The general idea is to have an MCA parameter that allows flipping between having the `mpif.h` MPI interface functions call their underlying C counterparts with an `MPI_` prefix or a `PMPI_` prefix.
    1. We didn't talk about this, but I'd suggest leaving the

[2017-08-09 01:51] ggouaillardet commented on #3954
i'd like to suggest we use a ```MPI_C_CALL()``` macro _a la_ ```MCA_PML_CALL()```
so we can do ```configure --with-fortran-call={mpi,pmpi,runtime}```
- ```mpi``` means Fortran calls the C ```MPI_*``` function (e.g. C wrapper __is__ invoked by Fortran)
- ```pmpi``` means Fortran calls the C ```PMPI_*``` function (e.g. C wrapper is __not__ invoked by Fortran)
- ```runtime``` means Fortran behavior i

[2017-08-09 05:37] #3605 closed

[2017-08-09 14:23] bosilca commented on #3954
👍  on @ggouaillardet suggestion. This seems like a major, hardly necessary, change where most experts agree that this is __not__ the right solution. If someone has time to waste on this, so be it, but in addition to a clean solution that does not affect the default build, I would like to see a long term maintenance plan as well.

[2017-08-09 15:28] hppritcha commented on #3566
@markalle  @yosefe can this issue be closed now?

[2017-08-09 15:29] yosefe commented on #3566
yes

[2017-08-09 15:36] hppritcha commented on #3223
@edgargabriel do you want this fix in 2.0.x?  If so, I think you need to open a PR against that branch too, otherwise I think this issue can be closed.

[2017-08-09 15:37] hppritcha commented on #1831
Has this actually been fixed in 2.1.1?  Otherwise I'd like to move this to future milestone.

[2017-08-09 15:39] hppritcha commented on #3480
@ggouaillardet can this issue be closed now?

[2017-08-09 15:39] #3566 closed

[2017-08-09 15:42] matcabral commented on #1831
the problems I found were addressed in #3748
thanks

[2017-08-09 16:04] jjhursey commented on #2606
The `README` on the various branches has now been updated. I think we can close this Issue now.

[2017-08-09 16:04] #2606 closed

[2017-08-09 16:26] hppritcha commented on #4020
Reopening to track PRs back to release branches.

[2017-08-09 19:42] PHHargrove commented on #3992
@rhc54
Since FreeBSD comes with clang and not gcc, one could argue that is the compiler that should be supported.  However, if Brice is confident that clang is buggy (or simply not practical to support) then you may need to document that gcc is a requirement.

[2017-08-09 19:54] rhc54 commented on #3992
Actually, I had a slightly different perspective in mind. I have installed clang 3.4.2 on my CentOS7 box and confirmed that we both build against it and can run without issue (not a surprise as our CI regularly tests against clang). My question, therefore, was whether the FreeBSD clang compiler on your VM might somehow be borked, and thus we should simply ignore that failure.

[2017-08-09 20:23] PHHargrove commented on #3992
@rhc54 One comment from @bgoglin seems to indicate clang is giving him problems on FreeBSD as well.  So this is not isolated to "my" VM.

This is the system compiler we are talking about here.
The FreeBSD kernel and all of /bin and /usr/bin are built with it, plus hundreds (thousands?) of packages in the Ports tree are built with it.
So, if it were *fundamentally* flawed, it would not have made it

[2017-08-09 22:20] edgargabriel commented on #3223
I think we don't necessarily have to move this to the 2.0. series as well, it is in 2.1 and in 3.0. If necessary, we can still reopen it anytime.

[2017-08-09 22:20] #3223 closed

[2017-08-09 22:42] leonardo0lyj opened #4067 "Which allreduce algorithm is used for large vectors (200MB+)?"
## Background information
Hi, I am Leo, a great fan of the OpenMPI. Currently, I am trying to understand the details of the MPI_Allreduce in the OpenMPI (version 2.0.2). I have learned allreduce algorithms like binomial tree, recursive doubling, recursive halving and doubling, binary block, and the ring algorithm. Most of them are based on the reduce-scatter and then allgather. But I am still wond

[2017-08-09 22:55] bosilca commented on #4067
Hi Leo, the allreduce algorithm is decided in ompi/mca/coll/tuned/coll_tuned_decision_fixed.c in the function ompi_coll_tuned_allreduce_intra_dec_fixed. For very large data (aka. > #processes * 1Mb) and commutative operations OMPI uses a segmented ring. This is not the best algorithm for such large data sets, as we have highlighted in [Efficient Communications in Training Large Scale Neural Networ

[2017-08-09 23:58] PHHargrove commented on #3992
I've confirmed that Open MPI 2.1.1 fails in the same manner.
However, that release had worked fine prior to my update of FreeBSD.
So, this is a regression of the FreeBSD-11.1 platform relative to FreeBSD-11.0.

[2017-08-10 00:00] ggouaillardet commented on #3480
yes, the issue is fixed from ```v2```, so let's close this issue

[2017-08-10 00:00] #3480 closed

[2017-08-10 01:06] leonardo0lyj commented on #4067
Is it "ompi_coll_base_allreduce_intra_ring_segmented"?

[2017-08-10 09:30] bgoglin commented on #3992
@PHHargrove if you're planning to report a bug against FreeBSD 11.1, I'd like to see it (in case I can generate a small testcase with the hwloc x86 cpuid code).

[2017-08-10 14:00] hppritcha commented on #1831
per last comment from @matcabral closing this issue

[2017-08-10 14:00] #1831 closed

[2017-08-10 15:09] jsquyres opened #4069 "v2.1.x: PMIx visibility issue"
@rhc54 reminded me this morning that there is still a pending symbol visibility issue identified by @siegmargross for the v2.1.x series.

Ralph is working on it and should have a PR within a few days.  We won't hold up the v2.1.2rc for this issue, but wanted to file an issue just to make sure we track it.

[2017-08-10 15:36] jsquyres commented on #4069
I believe that this is the @siegmargross issue that was reported: https://www.mail-archive.com/users@lists.open-mpi.org/msg31383.html

[2017-08-10 16:14] carns commented on #3954
The MCA parameter (or hardwired calls to MPI_ functions) would be straightforward for Darshan since we primarily motivated by wrapper portability for a relatively small subset of functions.  I understand there are other considerations beyond what Darshan needs, though :-)

I'll add a couple of comments based on the above discussion:

1) If we end up with a range of possibilities depending on how O

[2017-08-10 19:04] PHHargrove commented on #3992
@bgoglin I don't have current plans to file a bug report because (a) I don't have time and (b) without a reduced test case I don't think the bug would get any attention.  If you *can* produce a reduced testcase, I can probably make time to collaborate on submitting the bug report.

@rhc54 I think this is a documentation issue for both 3.0.0 and 2.1.2.  My suggestion:

The system compiler (clang-4.

[2017-08-10 20:28] bosilca commented on #4067
Yes, this is the backend function getting called (and according to the decision function the segment size seems to be 1Mb).

[2017-08-10 22:41] rhc54 opened #4072 "PMIx packaging"
@opoplawski @amckinstry @bmwiedemann

We have a growing number of packages integrating against PMIx. I know @opoplawski was packaging it separately at one point for use by OMPI, but may have stopped. I was wondering if you folks would be willing to begin distributing PMIx on its own so that SLURM, OMPI, MPICH, etc. can be built against it?

[2017-08-11 05:13] bmwiedemann commented on #4072
I think, the general wish in distributions is to have smaller packages (that can be updated individually), reducing code-duplication, e.g. in openSUSE we split a 300MB texlive package into many small packages in the past.
and we got the 'poppler' package to handle pdf rendering, so that we do not have to do security updates for xpdf and several other packages that kept their own copy before.

When

[2017-08-11 13:56] rhc54 commented on #3992
@hppritcha @bwbarrett I concur with the documentation suggestion, but it's up to you folks

[2017-08-11 14:07] jsquyres commented on #4027
@bgoglin: @PeterGottesman confirmed to me in a conversation yesterday that your patch worked for him on OMPI master (despite the hunk offsets).

[2017-08-11 14:13] rhc54 commented on #4027
Kewl - I'll apply as-is and then update once @bgoglin provides an updated branch

[2017-08-11 16:39] #4027 closed

[2017-08-11 17:55] amckinstry commented on #4072
I'd have no problems with doing so.
I'll investigate further what needs to be done.

[2017-08-11 18:52] rhc54 commented on #4072
Thanks! Please let us know if there is anything we can do to help, or to make things easier.

Our only dependency is on libevent, and I have verified that we can build/run against both libevent 2.0.22 and 2.1.8.

[2017-08-11 19:09] rhc54 commented on #3680
@opoplawski Quick question that isn't fully relevant here. I seem to recall you saying something about no longer packaging OMPI against the external libevent because the system libevent version had moved to 2.1.8, and there was some concern about OMPI being able to build/run against it. Is that an accurate memory?

I'm asking because I just tested OMPI against libevent 2.1.8 and it built/ran fine,

[2017-08-11 19:28] opoplawski commented on #3680
@rhc54 There were some run time issues with using the system libevent.  See https://bugzilla.redhat.com/show_bug.cgi?id=1235044 for one.

[2017-08-11 20:17] rhc54 commented on #3680
I see - actually, that was due to an issue in our IO forwarding code that had nothing to do with libevent itself. We fixed the internal problem, so I expect this is no longer an issue.

[2017-08-11 20:39] leonardo0lyj commented on #4067
Thanks a lot, Bosilca! I just tried the "--mca coll_base_verbose 1" flag and I can see the allreduce algorithm clearly. (i.e. I have 4 processes to perform the allreduce on float vectors. Each process owns its float32 vector with 648010 elementes, which is about 2.47MB. The native sum operation is used to perform the allreduce on these 4 vectors. It turns out to be the "coll:base:allreduce_intra_r

[2017-08-11 20:56] bosilca commented on #4067
For non commutative operations (and user defined operations fall in this category), we are using a 2 steps allreduce, a reduce followed by a bcast (ompi/mca/coll/base/coll_base_allreduce.c function ompi_coll_base_allreduce_intra_nonoverlapping).

[2017-08-12 18:06] leonardo0lyj commented on #4067
Thanks a lot, Bosilca. What if I declare my user-defined operation as the "commutative"? I just tried a toy example (my google drive: https://drive.google.com/file/d/0Bxuk2nyTbdcTMjQ0SUNlck9hWWc/view ) and confirmed that my user-defined sum allreduce only prints out the "ring" algorithm, just as the native sum allreduce. **So how did the allreduce deal with my user-defined commutative sum?**

Real

[2017-08-13 17:09] artpol84 commented on #3980
The issue was closed incorrectly.
@rhc54 as I understand we close the issue when all targets are addressed.
Not all of the masters changes are PR'd - you don't seem to cherry-pick https://github.com/open-mpi/ompi/pull/4004/commits/71da0fcbef3e19e2c2f10fcc15da83229112a0e0 into https://github.com/open-mpi/ompi/pull/3985

[2017-08-13 17:17] artpol84 commented on #3980
@jjhurse has your external component changes went it? If not - I guess that this issue is not fully solved in master as well

[2017-08-13 20:17] bosilca commented on #4067
The answer is [here](https://github.com/open-mpi/ompi/blob/84810adc245e08fbba7b6dc1be6353a63439a238/ompi/mca/coll/tuned/coll_tuned_decision_fixed.c#L44).

[2017-08-13 23:30] rhc54 commented on #3980
There is nothing to do in the external components. OPAL_PREFIX doesn't impact them, and it is the user's responsibility to propagate any PMIx prefix requirements.

[2017-08-13 23:41] leonardo0lyj commented on #4067
Got it. Very clear now : )

May I have one more question about the "Ring Allreduce"? I read the code and found that the ring allreduce performs the ring-based reduce-scatter followed by the ring-based allgather.  However, it says the allgather is a [variation of ring allgather](https://github.com/open-mpi/ompi/blob/e291d0eeed4d4626a2f44c96127b9629713bd969/ompi/mca/coll/base/coll_base_allreduce.c#L

[2017-08-13 23:54] artpol84 commented on #3980
I have a question on that btw.
User responsibility to setup environment on compute nodes is ok for the single environment.
The regular way to manage multiple environment is modules. In this case you usually load the module on the head or launch node and that is all you can do. I don't see the way to recreate this environment on all other nodes other than propagate it. OMPI provides `-x` option to

[2017-08-14 01:58] rhc54 commented on #3980
There are many things that one environment provides and others don't, so this isn't the only difference users encounter. All managed systems generally pass a fair range of envars, depending on configuration, so most of those will likely be okay. Users running on unmanaged systems are most likely to build against the internal PMIx, or against one installed by the system that is going to be in a sta

[2017-08-14 03:46] bosilca commented on #4067
There are basically 2 differences. First, the sizes are different between iterations (depending if the initiator of the slice was before or after the ```split_rank```, or 1/2 the size). Second, it is a variation because the first data each process receives is the one that was initiated from itself (because all other processes have added their contribution the data that started locally is now on th

[2017-08-14 17:12] leonardo0lyj commented on #4067
Thanks a lot! Bosilca : )

[2017-08-14 17:33] leonardo0lyj commented on #4067
Hi Bosilca, may I have last question about the [**Segmented Ring Allreduce**?](https://github.com/open-mpi/ompi/blob/e291d0eeed4d4626a2f44c96127b9629713bd969/ompi/mca/coll/base/coll_base_allreduce.c#L618) I have been trying to understand this pipelined ring allreduce and failed to figure out how the phases are pipelined. (i.e. COMPUTATION PHASE 1 (b) seems to perform the two phases concurrently in

[2017-08-14 18:15] bosilca commented on #4067
You do not pipeline the 2 stages, but you pipeline the first stage. There is no need to pipeline the second as every process send and receive data in same time.

[2017-08-14 19:25] jsquyres opened #4077 "Bring fix for "when you ask for atomics and don't get it, abort configure" to release branches"
Master PR is #3757.  All it does is make this part of `configure` like other parts of `configure`: if a human asks for FOO and `configure` can't deliver FOO, then `configure` should abort.

Need to bring this to release branches:

* v2.0.x
* v2.x
* v3.0.x

[2017-08-14 19:29] jsquyres commented on #3685
@vspetrov @jladd-mlnx Can you test again on master / v2.x and see if you can reproduce the issue?  According to @hjelmn, the band-aid fix should be good enough.

[2017-08-14 19:38] jsquyres opened #4078 "Port madvise fix to v2.0.x branch"
As discussed on https://github.com/open-mpi/ompi/issues/3685#issuecomment-321002480, need to port the madvise fix to the v2.0.x branch (it's a bit more work than was required to bring it to the v2.x and v3.0.x branches in PRs #4042 and #4041, respectively).

Adding this as an issue so that we don't forget / can track it.

[2017-08-14 19:52] leonardo0lyj commented on #4067
You mean the pipeline is for the "COMPUTATION PHASE 0 (a)"? But this phase seems to be just regular ring algorithm -- every rank r sends its block "a" to rank (r+1), concurrently. I still don't see the pipeline. Do I miss something? Really appreciated,

[2017-08-14 22:41] nncarlson commented on #4034
@ggouaillardet sorry it took me so long to give this a try.

I downloaded `v3.0.0rc2` and ran `./autogen.pl` (no `.sh`) -- that seemed to go fine.  I was then able to successfully build and use this version, so I'd say your fixes are spot on.

Out of curiosity when is 3.0.0 due to be released?   We're currently using static builds with 2.1.1 to get around this problem (but see #4032 which only sho

[2017-08-14 23:03] nncarlson commented on #4032
@ggouaillardet, you should know that this issue is also resolved by `v3.0.0rc2`.   This error occurred when building the default shared libraries.  That prompted me to build static libraries, which is the context for #4034, which is also fixed by `v3.0.0rc2`.  Any chance these fixes can be back ported to 2.1?

[2017-08-15 00:16] ggouaillardet commented on #4034
@nncarlson did you get a chance to try the patch at https://github.com/open-mpi/ompi/pull/2092.patch on the ```v2.x``` branch ? once this gets tested, i will do my best to have it included in the next ```v2.1.1``` release.

```v3.0.0``` is due anytime now ... once we can solve the remaining blocking issues

[2017-08-15 15:28] hppritcha commented on #3992
I'll do a README update

[2017-08-15 15:33] hjelmn commented on #3879
Well, thats fun. We will not be able to use arithmetic operations directly on atomic types due to icc. We will have to use the ```atomic_*``` API.

[code]

[code]

[2017-08-15 16:28] nncarlson commented on #4034
@ggouaillardet  I've tested the patch now, and it too looks good to me.  It applied cleanly to 2.1.1 with some offsets/fuzzes.  Ran `autogen.pl --force` and then `configure` as usual.  This also fixes the problem I reported in #4032.

[2017-08-15 16:30] bosilca commented on #4067
The pipeline is between blocks, the operation is not done on a single piece, but instead divided in blocks to provide a global pipelining.

[2017-08-15 17:54] bwbarrett commented on #3980
Merged #4076, so closing this ticket.

[2017-08-15 17:54] #3980 closed

[2017-08-15 19:41] artpol84 opened #4087 "HCOLL is causing XRC problems in v2.x"
This problem was originally treated as an `btl/openib` issue: https://github.com/open-mpi/ompi/issues/3890.
However more detailed investigation indicating that this is an effect of `coll/hcoll` component: https://github.com/open-mpi/ompi/pull/4082

Without hcoll it runs ok:
[code]

While enabling hcoll introduces the problem:
[code]

[2017-08-15 19:42] artpol84 commented on #4087
@hjelmn @hppritcha
One side effect of this issue that I've noticed is that OMPI fails silently in this case leaving no chance to regular user to understand that it even fails. Even we were thinking that all is good at the very beginning because the output was clean.

[2017-08-15 19:43] artpol84 commented on #4087
@jladd-mlnx @vspetrov @bureddy

[2017-08-15 20:20] leonardo0lyj commented on #4067
Thanks. So you mean each step in the computation phases is not actually done on a single piece. Rather, each step is executed in block-cyclic fashion for each of the segment groups (a, b in this example).

For the code below, in this Step 0 for segment "a", the pipleline is executed as:
First on block 0: node 0's [00a] is sent to node 1 and perform the reduction.
Then on block 1: node 1's [11a] is

[2017-08-15 20:54] hjelmn commented on #3879
I am almost leaning toward requiring Open MPI to be built with a truly compliant C11 compiler. This would mean no icc. This does not prevent us from building a version of Open MPI for a the intel compiler suite. See #4088.

[2017-08-15 20:58] bwbarrett commented on #3879
I would strongly push back on this.  Users have had it drilled into them for years that they should build Open MPI with the compiler they build their apps with.  I think changing that now will cause significant heartache.  While there's developer efficiencies in using C11 atomics, there's no technical reason that we *must* use them.

[2017-08-15 21:03] hjelmn commented on #3879
@bwbarrett Yeah, we may have to drop the whole idea of using C11 atomics until intel catches up if we are uncomfortable with this. I suggest this because C compilers are generally link compatible with each other and it might be worth looking at.

If not we can still look at _Thread_local and a couple of the other C11 features that Intel does support correctly.

[2017-08-15 21:19] hjelmn commented on #3879
So here is the C11 matrix so far:

|Compiler|First Version|C11 Atomics|_Thread_local|_Generic|_Static_assert|
|---------|-------------|------------|-------------|---------|--------------|
|Intel|16|No|Yes|Yes|Yes|
|gcc|4.9.0|Yes|Yes|Yes|Yes|
|clang|3.5|Yes|Yes|Yes|Yes|
|xlc|12.1|Yes (no stdatomic.h)|Yes|Yes|Yes|
|pgi|

[2017-08-15 21:57] hjelmn commented on #3879
@bwbarrett Just want to point out that may be some technical reasons to use the C11 atomics. There may be performance advantages to using compiler atomics (C11, __atomic builtins) because the compiler has more information. Not saying they are faster, just that they could be. That is part of the reason I wanted to do this investigation.

[2017-08-15 22:08] bosilca commented on #4067
I thought the [ASCII art](https://github.com/open-mpi/ompi/blob/e291d0eeed4d4626a2f44c96127b9629713bd969/ompi/mca/coll/base/coll_base_allreduce.c#L562) above the code was pretty clear. The pipeline is because we redivide each process's owned block into smaller segments in order to reduce the time where no op can be executed. Yes this also give us the opportunity to overlap communications with comp

[2017-08-15 22:30] leonardo0lyj commented on #4067
Appreciated for your patience. So you mean: the communication and computation of segment "a" and "b" within their block are overlapped due to the pipeline of "a" and "b"?

Thanks again,

[2017-08-15 23:06] bosilca commented on #4067
Yes. The goal is to maximize the occupancy of all connections between the processes (obviously this is not topology-aware), by having each process send and receive data at each step. The smaller the steps the more overlap we get between the reception of the next segment and the op with the last one. The communication overheads (```o``` and ```g``` on the LogP model) limit the size of the segment s

[2017-08-16 06:33] rhc54 commented on #4069
This should have been closed by #4080

[2017-08-16 06:33] #4069 closed

[2017-08-16 12:59] gpaulsen commented on #3811
Josh Hursey is addressing this by discontinuing support for PPC BigEndian in configure for v3.x
https://github.com/open-mpi/ompi/pull/4090

[2017-08-16 13:36] jjhursey commented on #3816
Per issue #4053 and corresponding PR #4090 we are dropping support for the PowerPC Big Endian architecture _and_ xlc compilers older than 13.1. Once that PR is in to the release branch then we can close this issue.

[2017-08-16 13:36] jjhursey commented on #3817
Per issue #4053 and corresponding PR #4090 we are dropping support for the PowerPC Big Endian architecture. Once that PR is in to the release branch then we can close this issue.

[2017-08-16 16:36] jsquyres commented on #4087
Per https://github.com/open-mpi/ompi/pull/4082#issuecomment-322709334, @vspetrov is claiming the problem is definitely in the openib BTL.

Is there an XRC problem in *both* hcoll *and* openib?

[2017-08-16 17:33] artpol84 commented on #4087
@jsquyres I think that @vspetrov demonstrated that `hcoll` is just triggering the problem in `openib` by mimic it's activity with `Allreduce` and disabling `hcoll`.
So as I understand it - it is not an `hcoll` bug, but `hcoll` creates allowable conditions where XRC is failing.

[2017-08-16 18:10] jsquyres commented on #4087
So do you want to close all those "Revert..." PRs?

[2017-08-16 18:13] artpol84 commented on #4087
Yes. I guess that I answered the question from this weeks telecon: only v2.x demonstrates this kind of problems with `openib`, all other branches are OK (according to our Jenkins at least).

[2017-08-16 18:15] artpol84 commented on #4087
I think we can close this issue as well

[2017-08-16 18:17] #4087 closed

[2017-08-16 18:37] jdinan opened #4098 "shmem_broadcast not in OpenSHMEM"
The ```shmem_broadcast``` routine provided by OSHMEM is not part of OpenSHMEM.  For compliance with OpenSHMEM, this routine should either be renamed to ```shmemx_broadcast``` (and moved to ```shmemx.h```) or removed.

## Background information

[OpenSHMEM v1.3](http://openshmem.org/site/sites/default/site_files/OpenSHMEM-1.3.pdf), Section 5:

and Section 8.6.3, broadcast routines.

### What versio

[2017-08-16 19:09] jsquyres opened #4099 "Huge number of leaked symbols when compiling with icc"
Are we not specifying some flag to `icc` properly?

When compiling with `icc`, 17.0 the symbol name checker test (in `make check`) finds a ginormous number of leaked symbols.  The report is too long to include inline -- see attached:

[make-check-symbol-checker-icc-fail.txt](https://github.com/open-mpi/ompi/files/1229262/make-check-symbol-checker-icc-fail.txt)

This causes MTT fails with `make che

[2017-08-16 20:20] leonardo0lyj commented on #4067
Thanks Bosilca : ) It seems clear now. I feel like the segmented ring is still the regular ring in high level, because they share the same pattern -- every block right-shift by one rank. However, in the segmented ring, we feel the block is too large so we segment it into multiple segments (a,b,c...). Accordingly, instead of sending the entire block and perform the reduction, each segment is sent a

[2017-08-16 20:29] rhc54 commented on #4099
when you disable-dlopen, lots of symbols are suddenly going to be in our library as everything gets swept up into it. Most of these symbols are coming from libraries you linked against, not from OMPI itself.

[2017-08-16 20:30] jjhursey opened #4102 "Remove PowerPC Big Endian integration"
Follow-on to Issue #4053 there are some places in the code that still refer to:
  `powerpc-*|powerpc64-*|ppc-*`

These should be removed since they represent dead code. It may take a while to identify all of the spots, so we are doing so separately.

[2017-08-16 20:30] jjhursey commented on #4102
Reference [discussion](https://github.com/open-mpi/ompi/pull/4090#issuecomment-322818482) on PR #4090

[2017-08-16 20:31] #4053 closed

[2017-08-16 22:30] jsquyres commented on #4099
Yes, but even if we disable dlopen, all those symbols should be private -- and they are with `gcc`.

Also, I don't know why the test would be showing symbols from dependent libraries (like `libm`).

@markalle Any ideas?

[2017-08-16 23:42] bosilca commented on #4067
@leonardo0lyj there are models that show the drawbacks and benefits of the different algorithms, including the pipelining ring. As you pointed out the pipeline increase the resource occupancy, leading to a sharp increase in performance, especially for very large data.

[2017-08-17 00:41] jsquyres commented on #3521
@bwbarrett I think I finally figured out why Cisco's MTT wasn't running all of its builds (which may be why we weren't seeing the failures in MTT any more).

Tonight, hopefully 3/4 of Cisco's builds will run (i.e., a usual night).  Let's see is this v3.0.x build in particular (the `--with-mtt-ran-autogen` builds) works.

[2017-08-17 02:24] tjb900 commented on #3458
(apologies in advance if I should have opened a new issue instead)

@rhc54 Thanks very much for looking into this - I was one of the ones hoping to use this feature.  Unfortunately it still seems to be giving an error (though a different one this time):

[code]

I've attached a relatively relatively simple reproducer, which for me gives the above errors on today's master (1f799afa3).

[test3.zip](

[2017-08-17 14:11] jsquyres commented on #4098
@artpol84 @jladd-mlnx Can you guys have a look?

[2017-08-17 14:13] jsquyres commented on #3763
Closing this after nearly 2 months of inactivity.  Please feel free to re-open if you can supply more information; thanks.

[2017-08-17 14:13] #3763 closed

[2017-08-17 14:28] jsquyres opened #4108 "Compile failures in the openib BTL with older versions of hwloc"
On master, MTT is seeing build failures when compiling against older (external) versions of hwloc.

For example, 2 of the 3 builds in this MTT link (https://mtt.open-mpi.org/index.php?do_redir=2471) show failures with hwloc 1.8.1 and 1.5.2.  Both failures look like they are missing some `#if` protection -- they are of the form:

[code]

[2017-08-17 15:07] hppritcha opened #4109 "autogen.pl problems with PMIx 1.2.3"
I was noticing when running autogen.pl on a system that use to be able to autogen correctly for the 2.1.x now fails in part of the pmix configury.  This seems to be related to the upgrade to 1.2.3. For master and the other branches, autogen.pl still works for me.

Unfortunately the system where i observed this problem is not currently accessible.

[2017-08-17 16:39] rhc54 commented on #4109
Do you recall the error message it emitted?

[2017-08-17 18:38] leonardo0lyj commented on #4067
Really appreciated!

[2017-08-17 18:38] #4067 closed

[2017-08-17 19:27] rhc54 commented on #3458
I've gone back and looked at where this stands, and found that I had fixed ompi-server, but there was still some work left to resolve the cross-mpirun connect issue. I've taken it as far as I have time right now and will commit those changes. However, it won't fix the problem and so we won't port it to a release branch.

There remains an issue over how the callbacks are flowing at the end of the c

[2017-08-17 21:37] PeterGottesman opened #4113 "Orted Segfault on Master/HEAD on AWS"
When running mpi_memprobe on master/HEAD testing on AWS, orted segfaults.

[code]

Backtrace:
[code]

[2017-08-18 13:54] jsquyres commented on #3521
Confirmed -- this appears to have been fixed.

[2017-08-18 13:54] #3521 closed

[2017-08-18 17:31] markalle commented on #4099
Well, about the --disable-dlopen I did fix up the nm test so when all those extra MCA symbols get pulled into the main library those are all merely identified as warnings. I think it would be nice to have those names cleaned up too, since that would still be name pollution for people who build --disable-dlopen. But since the main path is to have MCAs as .so files I don't care very much about all t

[2017-08-18 17:46] rhc54 commented on #4099
I think you're fighting an unwinnable battle. Every compiler and configure option is going to result in more symbols that have to be white-listed, and you'll have to update it with the release of every new version.

A better approach might be to search for symbols that contain things used in OMPI - e.g., "btl" - but that also has problems.

Bottom line is: while you have a noble goal, it is ultima

[2017-08-18 18:17] markalle commented on #4099
I don't think it'll be that hard to automate. If I look at .o instead of .so wouldn't that avoid extra compiler-generated symbols? In that case I'd still start by looking at the symbols in a .so, but also have a list that came from the .o files and filter the former list to only include symbols that also exist in the latter list.

If I only look at symbols with particular pre-selected names the te

[2017-08-18 18:37] rhc54 commented on #4099
I don't know how you make this work, but you are welcome to beat your head against it 😄

I think this test should not be part of "make check", but instead be in MTT and you can run it on your machines (and make it fail) - those of us who don't care are then not impacted by it.

[2017-08-18 19:00] mohanasudhan commented on #85
Can we close this issue based on recent PR? let me know if you need anything more. Thx

[2017-08-18 19:21] jsquyres commented on #4113
Some things we left out of the original bug report:

* This is occurring in a SLURM `sbatch` job.
* We can see that all the MPI processes have launched; there are also core files showing a backtrace in the TCP BTL.  Libevent had woken up the TCP BTL and called some function back (I'm sorry, we didn't record exactly what function it was -- the `orted` segv seemed more relevant).

The corefiles asso

[2017-08-18 19:43] gpaulsen commented on #3705
How much work would it be for someone well versed in configure to add the -lmpi to the MPC components to make this "just work"?  That's all that's needed correct?
I'm eager to test a PR if one is available.

[2017-08-18 20:24] bwbarrett commented on #85
@mohanasudhan, if you think you covered the issues, go ahead and close.

[2017-08-18 20:34] mohanasudhan commented on #85
closing this issue as per #3955

[2017-08-18 20:34] #85 closed

[2017-08-19 14:45] rhc54 opened #4117 "Different notify behavior for local vs remote clients"
Local clients are always notified, but remote clients only receive notifications for non-default handlers. This creates an uneven behavior.

[2017-08-21 04:45] markalle commented on #4099
Symbol name pollution isn't just a cosmetic issue though, it's a real bug when an application and the MPI library use the same global symbol. To the extent the test works its errors shouldn't be ignored. When it gives nuisance false positives though, that I totally agree nobody should be forced to deal with.

So I've made a PR to always exit(0) on the belief that it has too many false positives:
h

[2017-08-21 13:29] rhc54 commented on #4099
😆  didn't realize I was still signed in on the userid we were setting up for testing.

[2017-08-21 14:27] jjhursey commented on #3705
I have a branch with some changes that is passing the posted test. Let me clean it up a bit this morning and I'll post a PR for review today. I might need help cleaning up the Java bindings (I just haven't looked at what needs to happen there yet).

[2017-08-21 14:40] jdinan commented on #4098
Here's another one -- ```SHMEM_HEAP_TYPE``` is also not in the spec.

https://github.com/open-mpi/ompi/blob/master/oshmem/include/shmem.h.in#L76

[2017-08-21 14:43] jdinan commented on #4098
Also, ```SHMEM_HEAP_SIZE``` (```SHMEM_SYMMETRIC_SIZE``` is the constant defined by the spec.).

[2017-08-21 14:57] markalle commented on #4099
Thanks, that makes sense. I don't object to MTT. I've updated the pull request to disable it

[2017-08-21 16:32] dalcinl commented on #3705
@jjhursey I think you just need to fix `JNI_OnLoad()`/`JNI_OnUnload()` to remove `dlopen()`/`dlclose()` calls and related code.

Can you point me to your branch? I would like to give it a try with mpi4py.

[2017-08-21 17:37] rhc54 commented on #4099
Keep in mind that you can also drop all that "whitelist" stuff as all you care about is difference from the "gold" fingerprint. Given you now control the configuration/compiler combination, the only change should be coming from something we do.

[2017-08-21 19:04] jjhursey commented on #3705
@dalcinl I have opened PR #4121 - you can grab that branch to try. That just has the component level changes. I need to add the Java fix, and do some cleanup. But that should give you enough to try it out.

[2017-08-21 19:04] matcabral commented on #3880
I finally found there was an issue in PSM2 library shm device that got triggered when building OMPI with multithread support and running osu_latency_mt. The patch will be up-streamed to https://github.com/01org/opa-psm2

@ael-code would you share a reproducer to confirm if it is the same issue ?
thanks,

[2017-08-22 04:53] kawashima-fj opened #4122 "CMA compilation error in sm BTL"
Compilation of sm BTL fails with newer glibc on Linux/SPARC64 (at least).
We need to cherry-pick d984b4b to v2.x and v2.0.x branch. I'll create PRs.

Reported by @PHHargrove.
See https://www.mail-archive.com/devel@lists.open-mpi.org/msg20340.html

[2017-08-22 09:09] dalcinl opened #4126 "Regression in MPI_Info_delete() with missing key"
This is with branch `jjhursey:explore/dlopen-local` which should be (very close to) current master plus the dlopen fixes.

[code]
Previous versions of Open MPI failed with `MPI_ERR_INFO_NOKEY`.

[2017-08-22 10:06] lcebaman opened #4127 "Static link error on Cray XC30"
## Background information

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

2.1.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

module swap PrgEnv-cray  PrgEnv-intel
export CRAY_LINK_TYPE=static
CC=cc CXX=CC CXXFLAGS=-static CFLAGS=-stati

[2017-08-22 10:10] ael-code commented on #3880
Since I'm running a complex simulation platform [HPDCS/ROOT-Sim](https://github.com/HPDCS/ROOT-Sim), it is rather difficult to provide simple reproducible steps. However I will be glad to test the new patch.

[2017-08-22 15:13] jjhursey commented on #4126
Due to change made in PR #3743

[2017-08-22 15:16] jsquyres commented on #4126
Looks straightforward to fix; I'll take a stab at it.

[2017-08-22 15:50] dalcinl commented on #4126
@jsquyres After almost every new release of Open MPI, I found regressions by running mpi4py's testsuite. You know, I'm so maniac as to test the error code value after attempting to delete a missing key from an Info object.

Would it be possible to somehow get mpi4py testsuite run as part of the CI infrastructure? I proposed this in the past, and I got comments like *we may not be interested in mpi

[2017-08-22 15:51] hjelmn commented on #4127
libpciaccess is only one of the libraries which Cray does not provide a static library for. If you want static linking you can disable pci support (not needed on Crays anyway) and memkind. When I get back to the office on Thursday i will see if there are others.

[2017-08-22 15:59] jsquyres commented on #4126
@dalcinl BTW, I don't know if you know how much we value your tests and bug reports.  If we haven't said it before, THANK YOU!

This sounds like quite an interesting idea.  We've actually been beefing up our CI infrastructure quite a bit recently (particularly on PR builds).  How long does the mpi4py test suite take to run?  How many np does it need?

@bwbarrett FYI.

[2017-08-22 16:05] jsquyres commented on #4098
@artpol84 confirmed on the weekly dev webex that Mellanox will be looking into this.

[2017-08-22 16:08] jsquyres commented on #4099
Per Webex discussion 22 Aug 2017: we should remove this test from the critical path (i.e., remove it from `make check` altogether), fix it, and then put it back.  I.e., everyone agrees that the intent of this test is good.  But it's causing a bunch of false failures.  So it needs to be taken out, evaluated / hardened up (if possible), and (if possible) returned to the critical path.

[2017-08-22 16:19] dalcinl commented on #4126
@jsquyres Take a quick look at https://travis-ci.org/mpi4py/mpi4py/ This runs in a container were some dependencies (Python and NumPy) are preinstalled. It takes less than two minutes to test Open MPI. If you inspect any of the logs, in each build I test twice: one with 1 process, and a second one with 5 processes. Of course your own mpi4py testing does not need to use all these Python versions, y

[2017-08-22 16:29] jsquyres commented on #4126
@dalcinl That sounds great.

@bwbarrett Any chance you have a minion who could add this to the OMPI CI?

[2017-08-22 16:43] matcabral commented on #3880
I'll notify you when the patch makes it to psm2 github. The ETA I got was the week of 28th of August.

Thanks!

[2017-08-22 19:12] dalcinl opened #4130 "MPI_Comm_spawn(): Warnings about failing handshake"
This is from mpi4py tests involving `MPI_Comm_spawn()`. I getting the output below, but not consistently. I've not been able to reproduce the issue with simple pure-C example.

Any tips about how to further debug this issue?

[code]

[2017-08-22 20:29] rhc54 opened #4131 "BTL/TCP broken on master"
When trying to run a simple ring program, I am getting the following error:
[code]
The ring still completes - does anyone know why this started happening?

[2017-08-22 21:15] dalcinl commented on #4130
Maybe a duplicate of #4131.

[2017-08-22 21:55] bwbarrett commented on #4131
@rhc54, is this two porcesses on the same host or different hosts?

[2017-08-22 22:21] rhc54 commented on #4131
The two processes reporting the warning are on the same host, which is odd because vader is also enabled. However, they are talking to two procs on another host, and that might be the connection they are complaining about.

[2017-08-23 01:31] ggouaillardet commented on #4131
it looks like there is some inconsistency here.

from ```mca_btl_tcp_recv_blocking()```
[code]
so if zero byte is read
- an error message is displayed
- the function returns ```-1```

but in ```mca_btl_tcp_endpoint_recv_connect_ack()```

[code]

this block of code
- suggests it is ok to read zero byte (there is a known race condition two peers connect to each other, and we know how to handle that)

[2017-08-23 01:32] ggouaillardet commented on #4130
this is a duplicate of #4131 indeed (and i made a tentative fix in #4134), so let's close this issue for now.

[2017-08-23 01:32] #4130 closed

[2017-08-23 01:35] bosilca commented on #4131
@ggouaillardet is right, if both processes open connections to each other simultaneously one of the connections will be dropped (the one initiated by the lowest gid). The new behavior was introduced by #3955.

[2017-08-23 02:12] bosilca commented on #3986
@kawashima-fj the most notable difference is the introduction of the ```blen``` field which is the indicator that this is a composite vector. In fact the new representation saves space on the datatype description by packing the vector type as much as possible. Now the ```count``` is the number of repetitions of the ```blen``` block-length, each one with the specified ```extent```. The flags does n

[2017-08-23 06:02] kawashima-fj commented on #3986
@bosilca Thanks for your explanation. I'll revise my code.

[2017-08-23 06:02] #3986 closed

[2017-08-23 10:22] lcebaman commented on #4127
I am also getting `attempted static link of dynamic object `/usr/lib64/libmunge.so'`

[2017-08-23 12:51] ggouaillardet commented on #4126
@dalcinl thanks for the (many) bug reports you submitted !

@jsquyres @bwbarrett should this be in MTT rather than CI ?
i remember i tried a bit, but unfortunatly mpi4py was not straightforward to integrate within the MTT infrastructure.
at first, we need a stable version of mpi4py (that obviously includes its test suite).
the rationale is virtually no-one in the Open MPI community wants to sort w

[2017-08-23 13:00] dalcinl commented on #4126
@ggouaillardet @jsquyres @bwbarrett Right now I'm working on overhauling mpi4py's testsuite. Eventually, I'll provide a flag to the test script to not skip any know failure (some tests are currently alsways disabled for Open MPI), that way you can be sure to run everything. Regarding stability, I'd be making a new mpi4py release very soon, but anyway current master is very stable.

[2017-08-23 14:40] dalcinl opened #4135 "MPI_Reduce() with NULL buffers and zero count"
The second call to `MPI_Reduce()` in the snippet below currently errors in master. Maybe just overzealous error checking?

[code]

[2017-08-23 16:10] bwbarrett commented on #4126
@dalcinl, is the test suite single node or multi node?  Currently, that (and runtime, but 2 minutes is pretty short) is the main driver between CI and MTT.  We don't have a great story yet for running multi-node jobs in CI.  It's on the todo list, but down a ways.  Either way, yes, we should at least run an experiment with regular automated testing with mpi4py.

[2017-08-23 16:29] dalcinl commented on #4126
@bwbarrett I usually run on a single node with 1  and 5 processes (all mpi4py's CI services run that way currently). The testsuite should also run on multiple nodes, but I've not tested it in a long time, probably some MPI I/O tests would fail on multiple nodes, as I create temporary files in '/tmp' (this should be easy to fix if required in the future).

[2017-08-23 16:37] dalcinl commented on #4126
@bwbarrett Look at this script https://bitbucket.org/mpi4py/mpi4py/src/master/conf/ci/anaconda.sh

With minimal modifications (to not install the Open MPI package in the `conda install ...` line), you get all full run of the testsuite. This script should be sourced and then `test-package` should be executed. Some other adjustments are needed, like the `ANACONDA` variable. As long as `mpicc`/`mpiex

[2017-08-23 17:01] rhc54 commented on #4108
Fixed by #4132

[2017-08-23 17:01] #4108 closed

[2017-08-24 00:25] ggouaillardet commented on #4135
that is an interesting one !
it fails because on the root rank, ```sendbuf == recvbuf```, and Open MPI would expect ```MPI_IN_PLACE``` here

fwiw, a similar test using ```MPI_Allreduce()``` passes the test because the argument check is
[code]

fwiw, i think this test is incorrect
- we should test for both a non zero count, __and__ a non zero size datatype
- if there is data to be transmitted, i th

[2017-08-24 02:30] bosilca commented on #4135
@ggouaillardet I think the test with ```MPI_BOTTOM``` was to make sure that we are not using ```MPI_BOTTOM``` with a count larger than 1. I think the problem with the test is that the first ```&&``` should be a ```||```.

I am not a strong supporter of allowing zero-byte operations to check all possible combination of input arguments. But I have the impression that we had this discussion before an

[2017-08-24 13:44] jjhursey commented on #2966
Ref: PR #3988 Issue #3697

[2017-08-24 13:50] jjhursey commented on #3811
This has been resolved by PR #4103

[2017-08-24 13:50] #3811 closed

[2017-08-24 13:50] jjhursey commented on #3817
This has been resolved by PR #4103

[2017-08-24 13:50] #3817 closed

[2017-08-24 13:50] jjhursey commented on #3816
This has been resolved by PR #4103

[2017-08-24 13:50] #3816 closed

[2017-08-24 13:53] jjhursey commented on #2966
Ref: PR #2526

[2017-08-24 16:00] AdamWill commented on #2526
I am seeing the same test - `test_fifo` - hang on ppc64le during attempts to build openmpi 2.1.1 for Fedora. Every other arch completes successfully, but ppc64le just hangs after `test_lifo` passes, and eventually the job is killed when it reaches the build system's timeout.

[2017-08-24 16:01] AdamWill commented on #2966
I am seeing the same test - `test_fifo` - hang on ppc64le during attempts to build openmpi 2.1.1 for Fedora. Every other arch completes successfully, but ppc64le just hangs after `test_lifo` passes, and eventually the job is killed when it reaches the build system's timeout.

[2017-08-24 20:16] jjhursey opened #4139 "Add MCA parameter to record PMIx version"
It would be useful to have an MCA parameter registered by the internal (and external) PMIx component that records the PMIx version. This would be read-only. This way one could do a:
[code]

Filing this so I don't forget about it.

[2017-08-25 18:20] jjhursey commented on #3705
PR #4121 merged into master. Re-opening so we can consider it for v3.0 release

[2017-08-25 18:32] jjhursey commented on #3705
@jsquyres @hppritcha Is this something that you would consider for the v2.x series? If so then I can create a PR there. Otherwise we can just work on getting it in the v3.0.x series.

[2017-08-25 19:04] jsquyres commented on #3705
I think going with v3.0.x should be fine.

[2017-08-29 01:18] markalle opened #4144 "romio ADIOI_GEN_WriteStrided with mixed contig/non-contig types"
I'm able to hit the below bug with master, if I run on a filesystem that takes the ADIOI_GEN_WriteStrided path for MPI_File_write().  (I was using gpfs, and offhand the users of that path appear to be gpfs, hfs, ntfs, panfs, pfs, sfs, ufs, xfs.)

Testcase:  https://gist.github.com/markalle/d7da240c19e57f095c5d1b13240dae24
% mpicc -o x romio_write_timing.c
% mpirun -mca io romio314 -np 4 ./x

The t

[2017-08-29 15:33] #4117 closed

[2017-08-29 15:34] #4045 closed

[2017-08-29 16:35] hppritcha commented on #4109
Okay system is available again.  Here's the error I'm seeing:
[code]
running ./autogen.pl  on master and 3.0.x works.  Google seems to indicate this may be an automake issue.

On the system where autogen.pl is failing, I'm using automake version 1.13.4.

[2017-08-29 16:44] hppritcha commented on #4109
Per discussions with @jsquyres we'd like for the PMIX configury for 1.2.3 to be modified so that
one can run Open MPI's autogen.pl using the

[code]
values in that file.

[2017-08-29 16:45] rhc54 commented on #4109
yeah, we are familiar with that error coming from 1.13 - it actually is an automake bug that was fixed later on. I believe we know the workaround, so I'll take a look with @jjhursey

[2017-08-29 17:22] jsquyres commented on #3484
This has been fixed.

[2017-08-29 17:22] #3484 closed

[2017-08-29 17:24] jsquyres opened #4146 "Absoft MTT 32 bit build failure on master"
Absoft's MTT is showing a 32 bit build failure on master -- linking `opal_wrapper` seems to be looking for a non-existent `opal_cmpset_64` symbol.

See https://mtt.open-mpi.org/index.php?do_redir=2478.

@cagoelz sent the attached full logs, but they apparently don't show much beyond what we see in MTT generated by:

[code]

[make_output.txt](https://github.com/open-mpi/ompi/files/1261112/make_outp

[2017-08-29 17:49] jsquyres commented on #4146
From @cagoelz:

[code]

[2017-08-29 17:53] jsquyres commented on #4146
@cagoelz Can we get the `config.log` file as well?  @hjelmn would like to see it.

[2017-08-29 18:00] cagoelz commented on #4146
Here it is.
[config.log.zip](https://github.com/open-mpi/ompi/files/1261197/config.log.zip)

[2017-08-29 18:19] hjelmn commented on #4146
Hmm, seems this is a side-effect of deleting the old hand-coded ASM. This commit is why it is failing: open-mpi@b5ea5e09 . @bwbarrett Do you remember any of the details? I wonder if gcc still have the limitation.

[2017-08-29 20:23] bwbarrett commented on #4146
Wow; talk about bad flashbacks.  I love this part:
[code]
Apparently it took 12 years for the hack to catch up with us.

Shockingly, I do remember this one.  `cmpxchg8b ` requires `ebx` to be used, but some versions of gcc were throwing an error trying to protect `ebx`, because shared libraries totally break if you change `ebx` (which we handle by saving/restoring the register).  It was a hard com

[2017-08-30 03:03] roblatham00 commented on #4144
Ugh, wrapping LOCK/UNLOCK around contiguous writes gets you correct behavior but at significant performance cost.  Factor of 5x on our GPFS systems, easy.

Much prefer @ggouaillardet 's suggestion to consult the file type at set_view time and then decide what path to take based on that.

I'm surprised ROMIO is taking the contig path here... the "is_contiguous"  check is not much more complicated t

[2017-08-30 13:52] hppritcha commented on #3995
@jsquyres can this issue be closed now?

[2017-08-30 14:05] jsquyres commented on #3995
No. @PHHargrove reported an error with my latest patch (in #4016), and I haven't fixed it yet.

[2017-08-30 17:46] hppritcha commented on #4127
munge presents a similar problem.  You'll need to build that package yourself and install in a non-default location, and set LDFLAGS to include the path where you installed libmunge.a

Is there a particular reason to build statically?

[2017-08-30 18:05] hppritcha opened #4151 "SUN/GCC compilers - warnings from make and make check"
Siegmar reports the Sun C 5.1.5 and gcc-7.1.0 produce a lot of warnings when compiling Open MPI both and master and the 2.1.x series:

https://www.mail-archive.com/users@lists.open-mpi.org//msg31446.html

and also for master. Very odd, but I don't see that email in the archives so here's the attachment from that email:

[log.make-check.Linux.x86_64.64_cc.txt](https://github.com/open-mpi/ompi/files

[2017-08-30 20:25] rhc54 commented on #4109
@hppritcha Can you let us know about #4147? If it fixes the problem for you, then we can proceed with a PMIx v1.2.4 release.

[2017-08-30 20:46] awlauria opened #4153 "Segmentation fault in simple program using MPI_Comm_accept()/connect()"
Updated, new info 9/1/17

### What version of Open MPI are you using? (e.g., v1.10.3, v2.1.0, git branch name and hash, etc.)

3.0.0rc4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone

### Please describe the system on which you are running

Red Hat 7.3
Power and X86

# Details of

[2017-08-30 21:11] jjhursey commented on #4153
It's strange that a very similar test case is passing with MTT:
 * https://github.com/open-mpi/ompi-tests/blob/master/ibm/collective/intercomm/gather_inter.c
The failure is at the `MPI_Send` before an intercommunicator is created. It's sending over `MPI_COMM_WORLD`.

The stack looks like a data corruption. How did you configure Open MPI?

[2017-08-31 00:27] PHHargrove commented on #3992
In testing 2.1.2rc3 I have again found /usr/bin/cc (clang) on FreeBSD-11.1/amd64 to be leading to unexpected SEGVs.  See [https://www.mail-archive.com/devel@lists.open-mpi.org/msg20351.html](https://www.mail-archive.com/devel@lists.open-mpi.org/msg20351.html)

I believe it would be appropriate to remove the Blocker tag (and perhaps Bug, too) from this issue, since it seems to be entirely due to ex