[2016-04-21 16:39] jsquyres commented on #1571
Yes.  Change it to `localhost:2` and let's see if that fixes the problem.  Thank you!

[2016-04-21 16:45] cagoelz commented on #1571
I will do that.  Question, is it still useful to you guys for us to run the tests on this system given that it is 32 bit and Centos 5.11 is eol March, 31 2017?

[2016-04-21 16:48] jsquyres commented on #1571
Yes.  32 bit builds are most helpful because we have a handful of customers who use 32 bit, but none of us have 32 bit machines on which to test.  😄

[2016-04-21 16:50] hppritcha commented on #1559
Ralph,

that information was provided near the beginning of this email thread.
It is also included in the issue 1559.  LLNL did some repackaging.

Howard

2016-04-21 10:31 GMT-06:00 rhc54 <notifications@github.com>:

[2016-04-21 16:56] cagoelz commented on #1571
We will continue testing on that system then, I have updated our ini file with "hostlist = localhost:2" and started a fresh run.

[2016-04-21 17:05] matcabral commented on #1559
@rhc54 it seems there are different names of the RPMs according to to who creates them. The names that @hppritcha provided above (hfi-psm*.rpm) are valid ones and are the ones distributed with intel IFS package.

@hppritcha merging the omp-devel email thread here, I see you are reproducing two different issues:
a) epid = 0 assert. which I can reproduce and @rhc54 started trying a patch, so we have

[2016-04-21 17:09] hppritcha commented on #1559
Correct about the two issues.  Its not clear that they are related at this point.

[2016-04-21 17:30] adrianreber commented on #1571
Interesting, I have the same error on ppc64 but not on x86_64 with more or less the same configuration:  https://mtt.open-mpi.org/index.php?do_redir=2293

[code]

The system has 4 cores:

[code]

[2016-04-21 17:34] jsquyres commented on #1571
That's with the spawn test. The resulting number of procs may be more than the number of cores...?

Sent from my phone. No type good.

[2016-04-21 19:15] cagoelz commented on #1571
The test run after chaning np to 2 produced similar bad results:

"There are not enough slots available in the system to satisfy the 2 slots
that were requested by the application:
  ./c_hello"

https://mtt.open-mpi.org/index.php?do_redir=2294

[2016-04-21 21:36] jsquyres commented on #1571
@cagoelz Mmm... somehow it still ran with `-np 4`.  Can you send me your .ini file in email?  I'll have a closer look.

[2016-04-21 22:14] #1547 closed

[2016-04-21 22:14] bosilca commented on #1547
Fixed in d379e23

[2016-04-21 22:15] cagoelz commented on #1571
I will send you the ini file tomorrow but I think my skills generating links out of the test reporter may be misleading you. When I scroll about half way down in the linked report to test 19, I see:

****************************************
19
Date range	2016-04-21 18:35:49
Org	absoft
Platform name	Fortran_16.0_32_CentOS5.11
Hardware	 ia32
OS	Linux
MPI name	ompi-nightly-master
MPI version	dev-3885

[2016-04-21 22:29] jsquyres commented on #1571
Ah yes, if I scroll down to 19, I see that, too: `-np 2`, and the same error.

Can you run `lstopo` on the machine in question and verify that it's actually showing up with 2 cores?

[2016-04-22 00:35] cagoelz commented on #1571
[cag@ltljoe3 ~]$ lstopo
Machine (2026MB)
  Socket L#0 + L2 L#0 (2048KB) + L1d L#0 (16KB) + Core L#0
    PU L#0 (P#0)
    PU L#1 (P#1)
  HostBridge L#0
    PCIBridge
      PCIBridge
        PCI 1000:0030
          Block L#0 "sdb"
          Block L#1 "sda"
    PCIBridge
      PCIBridge
        PCI 8086:1076
          Net L#2 "eth0"
      PCIBridge
        PCI 8086:1076
          Net L#3 "eth1"
    P

[2016-04-22 01:20] rhc54 commented on #1571
Is this some kind of VM? It shows only a single core, two HTs. So you could run 2 procs if you add -use-hwthread-cpus, or add "-oversubscribe" to the cmd line. If you do the latter, you can run as many procs as you like, so that is probably the simplest solution.

[2016-04-22 14:28] cagoelz commented on #1571
It's just an old 32 bit server with a single hyperthreaded Intel something something. I've added
-use-hwthread-cpus and left np at 2.

[2016-04-22 14:33] jsquyres commented on #1571
Perfect; thanks.

[2016-04-22 14:33] #1571 closed

[2016-04-22 17:43] rhc54 opened #1573 "PMIx component selection failure on Solaris"
Received from @siegmargross:

[code]
@ggouaillardet Can you please take a look? From debug received so far, it appears that the pmix component is being built, but is not even being considered for some reason. I had @siegmargross set the MCA param to show load errors, but that came up empty - which I cannot explain.

[2016-04-22 17:44] rhc54 commented on #1569
@ggouaillardet Can you try to replicate? I have no access to this environment.

[2016-04-22 19:15] #1570 closed

[2016-04-22 20:11] jjhursey commented on #1570
For those following this bug: I added two pull requests for the release branches:
 * v10.1 branch: https://github.com/open-mpi/ompi-release/pull/1092
 * v2.x branch: https://github.com/open-mpi/ompi-release/pull/1093

[2016-04-23 12:12] jsquyres opened #1575 "Missing MPI_F08_STATUS[ES]_IGNORE in mpi.h"
MPI-3.1 p657:43-48 states:

OMPI is missing the declarations / definitions for `MPI_F08_STATUS[ES]_IGNORE`.

[2016-04-23 14:09] ggouaillardet commented on #1575
this is a duplicate of #1475
see my last two comments about the current issue.
basically, we cannot define MPI_F08_STATUS_IGNORE __and__ have all the mangling flavors in the fortran library (and we do not have all of them today)

[2016-04-23 14:24] rhc54 commented on #1418
@jsquyres Can you please try this now? I think it may be (hopefully) fixed.

[2016-04-23 16:42] #1575 closed

[2016-04-24 02:53] ggouaillardet commented on #1569
will do.
fwiw, ompi is configure'd with --enable-heterogeneous
this is very lightly tested on the v1.10 branch, especially in an heterogeneous cluster.
I have my own branch that fixes it all (so far) but for master only.
I hope I can find the time to clean and push it and pr to v2.x

[2016-04-25 13:40] nysal opened #1576 "Barrier in MPI_Finalize"
I had posted this a while back in the devel mailing list - https://www.open-mpi.org/community/lists/devel/2015/10/18145.php

This issue can be easily reproduced in both master and v2.x using the ibm/random/ticket-1944-test4.c test case. Just reduce the sm BTL's fifo size:
[code]
As expected adding an MPI_Barrier before MPI_Finalize in the test case fixes the issue. The pmix fence does not progress

[2016-04-25 13:41] nysal commented on #1576
@jsquyres @rhc54 Comments ?

[2016-04-25 14:08] bosilca commented on #1576
Now that the RTE does not call opal_progress we need indeed a way to synchronize the processes before tearing down the communication infrastructure. Adding a barrier is a workable solution.

[2016-04-25 14:29] rhc54 commented on #1576
Actually, I'm not sure why this is true. What happens is that we call PMIx_Fence_nb in MPI_Finalize, and then loop opal_progress while we wait for the non-blocking fence to complete. So things should be progressing just fine.

Unless someone removed that logic?? I can take a look in a bit.

[2016-04-25 15:13] nysal commented on #1576
It looks like the blocking version is used. Quoting from ompi_mpi_finalize():
[code]

[2016-04-25 15:20] rhc54 commented on #1576
Yes, someone removed the logic - I've replaced it here:

https://github.com/open-mpi/ompi/pull/1577

Please check it out

[2016-04-25 15:41] nysal commented on #1576
@rhc54 Thanks, that fixes the issue for me

[2016-04-25 15:41] bosilca commented on #1576
👍

[2016-04-25 15:53] jsquyres commented on #1418
Agreed; this appears fixed now.  Thanks.

[2016-04-25 15:53] #1418 closed

[2016-04-25 16:35] rhc54 commented on #1576
Fixed by open-mpi/ompi@7373111

[2016-04-25 16:35] #1576 closed

[2016-04-25 17:09] hppritcha commented on #1559
If I simply if def out the PSM2_DEVICES setting code in the PSM2 MTL, all problems with single node jobs vanish, both the hang for multi process cases and the assert for single process case.

[2016-04-25 20:33] jsquyres opened #1579 "openib compiler warnings: undefined macro"
This is on current master HEAD (78b367e):

[code]

[2016-04-26 03:04] matcabral commented on #1559
@hppritcha, Couple comments:
I) the patch you share to disable setting the env var will has side effects that limit the number of ranks to ran on the PSM2 shm. In other words, by initializing the hfi device with will have certain limits imposed by the HW. I don't have the numbers here by hand, but the point is that such limit shouldn't be imposed for shm communication.
ii) I made some progress on

[2016-04-26 14:07] rhc54 commented on #1526
@dsolt @jjhursey

[2016-04-26 15:07] hppritcha commented on #1559
Actually ii isn't exactly accurate.  Using mpirun one also observes the hang.

[2016-04-26 16:13] jsquyres commented on #321
Realistically, I don't see this being fixed in the v2.x series -- moving the milestone (someone feel free to correct me if I'm wrong!).

[2016-04-26 16:27] ajtulloch opened #1585 "IPv6-only cluster support in oob_tcp"
It seems like this block:

https://github.com/open-mpi/ompi/blob/a3fea58d1ce6caca4b7a466c6844dfe66a16309a/orte/mca/oob/tcp/oob_tcp.c#L272-L276

[code]

and a few others lead to a failure to setup Open MPI on clusters with IPv6-only addresses, leading to errors like:

[code]

I'd be happy to contribute to fixing this if someone could help identify what needs to be done. Naively removing the AF_INET

[2016-04-26 16:47] jsquyres opened #1586 "v2.x: `opal_mutex_unlock: Operation not permitted` errors"
Seeing this error in multiple v2.x runs, in different contexts.  Example:

* https://github.com/open-mpi/ompi-release/pull/1096#issuecomment-214613444
* https://mtt.open-mpi.org/index.php?do_redir=2298 (search for the string -- it may be in the middle)

This seems to indicate that we have an errant mutex unlock somewhere.  The stack traces are varied.  For example, the stack trace corresponding to

[2016-04-26 18:28] hppritcha commented on #1586
this is sad.  a customer here at LANL has hit this.

[2016-04-26 18:30] jsquyres commented on #1586
# loop_spawn fails

In the first Cisco runs (the loop spawns), I looked at the corefiles.  I'm not sure why the BT in the MTT output doesn't show the last two function names, but here's the full bt (it's essentially the same for all the failures) -- it's in the ORTE progress thread:

[code]

# test_acc3 fails

In the test_acc3 fails, the corefile was corrupted in the first run (i.e., no full BT av

[2016-04-26 18:42] hppritcha commented on #1586
a user here at LANL hit this problem today with v2.x

[2016-04-26 18:43] hppritcha commented on #1586
sorry for the duplication.  anyway, I"ve asked the user to back up several PR merges back and try again.
He seems to have a good reproducer.

[2016-04-26 18:57] jsquyres commented on #1586
@hpcraink Nathan, Ralph and I think we have figured this out.

1. There's two different bugs on this issue:
   1. Problem with `opal_mutex_unlock` in the ORTE thread
   1. `test_acc3` error
1. We figured out the first one (ORTE thread error): the problem is that MPI sets whether we are using threads late during `ompi_mpi_init()` -- it's *after* ORTE has been initialized and the ORTE progress threa

[2016-04-26 19:04] jsquyres opened #1589 "v2.x: test_acc3 mutex errors and assert fails"
*(this issue originally reported on #1586, but split off to its own issue)*

* Version: v2.x-dev-1304-g1005306
* Configure: `"CFLAGS=-g -pipe" --enable-picky --enable-debug --enable-mpirun-prefix-by-default --enable-mpi-cxx --disable-dlopen --enable-mpi-thread-multiple`

Runs with similar output:

* Run: `mpirun  --oversubscribe -np 32 --mca orte_startup_timeout 10000 --mca coll ^ml --mca btl sm,t

[2016-04-26 19:22] bosilca commented on #1586
We got the issue with the PML OB1. Fix underway.

[2016-04-26 19:31] jsquyres commented on #1586
@bosilca Sweet!  Note that that issue moved over to #1589.

[2016-04-26 19:45] hjelmn commented on #1589
@bosilca I see the problem. It has to do with how osc/pt2pt handles incoming requests. It creates a receive request then sets the callback to a function that posts another receive. In this case ```recv_request_pml_complete()``` shows up twice in the backtrace:

[code]

One possible fix is to drop the ompi_request_lock before calling the request callback.

[2016-04-26 19:46] hjelmn commented on #1589
Another fix would be to make the request lock recursive.

[2016-04-26 19:57] hjelmn commented on #1589
Looks like I do drop the request lock in one other path in osc/pt2pt. Simple enough for me to do that in this path as well.

[2016-04-26 20:04] #1586 closed

[2016-04-26 20:06] bosilca commented on #1589
It is totally unsafe to release the lock in OSC. We could release the lock before calling the request callback, but then we will have to acquire it right after in order to ensure the signaling is done correctly.

After tinkering with the code it seems that the only reasonable approach is to make the request lock recursive.

[2016-04-26 20:09] hjelmn commented on #1589
Ok, in order to avoid the problem at least one callback in osc/pt2pt dropped and re-acquired the request lock. Another callback did not do the same so it ran into the issue. I can make the change to make the lock recursive and also remove the drop/reacquire of the request lock if you want.

[2016-04-26 20:18] bosilca commented on #1589
bf19067 should be a fix. I can't replicate the deadlock (despite few tens of runs), hopefully MTT will catch it again tonight.

[2016-04-26 20:18] hjelmn commented on #1589
Ok, I will patch osc/pt2pt to not drop the lock.

[2016-04-26 20:27] hjelmn commented on #1589
Opened #1590 to cleanup osc/pt2pt.

[2016-04-26 20:54] rhc54 commented on #1585
We used to have the IPv6 code working, but we honestly don't have someone able to regularly test it, and so it fell into bit-rot. It would be great to see it restored!

Let me take a gander at what is there again and provide some advice.

[2016-04-26 21:17] rhc54 commented on #1559
@hppritcha Could you please setup a call between our folks, you, and the LLNL folks to discuss this? We're having a little trouble reproducing some of the hang issues and would like to ensure we are accurately replicating the setup.

[2016-04-26 21:40] jladd-mlnx commented on #1586
@jsquyres Which commit introduced the first bug?

[2016-04-26 21:48] jsquyres commented on #1586
There were two bugs:

1. The `OPAL_THREAD_LOCK` issue: no, we didn't track it back to an individual commit.  This may have been in there for a while, and the additional MTT `THREAD_MULTIPLE` testing is what revealed the issue.
1. The ob1/osd issue: it looks like it's an issue in how the osd  handles some requests -- https://github.com/open-mpi/ompi/pull/1590 is the PR to fix it for master.  This a

[2016-04-26 22:25] ajtulloch commented on #1585
That would be awesome @rhc54, thanks very much.

[2016-04-26 22:53] hjelmn commented on #1586
/osd/osc/

[2016-04-26 22:54] hjelmn commented on #1586
@jladd-mlnx These are both bugs that appear to have existed for some time. Not sure why they are triggering now.

[2016-04-26 23:01] hppritcha commented on #1559
I'll try to set up something for tomorrow (Wednesday).

[2016-04-27 00:55] rhc54 commented on #1585
I removed that check you noted elsewhere to let the IPv6 connection start, and got a bit further. I'm working on the following branch (please post PRs against it):

https://github.com/rhc54/ompi/tree/topic/ipv6

At this point, the problem is that the connection handshake seems to fail:

[code]

I'm not sure why the send is failing:

[code]

Can you take a look?
Ralph

[2016-04-27 01:50] ajtulloch commented on #1585
@rhc54 I took a crack at it myself this afternoon (off a 1.10.2 branch), and made some progress (with some hacks/debugging output left over).

[code]

In particular, one major bug was that `parse_uri` wasn't passing the port argument, that might be what you just hit?

[2016-04-27 03:10] rhc54 commented on #1585
Wow - I'm impressed you got that far so quickly! We should sign you up as a developer!

FYI: we always work first on the master so we can prove things out under testing, and then cherry-pick across to the release branches. So I'll bring this into my master branch and see how it does.

[2016-04-27 05:18] ajtulloch commented on #1585
@rhc54 yeah, I'm happy to keep contributing - it's a large codebase but happy to help out if/where I can :) WRT this, I'm definitely happy to test IPv6-only support for TCP OOB and BTL (including  `MPI_Comm_{accept/connect}` with IPv6).

I'm by no means an IPv6/networking expert, so I think there's some stuff wrong in that diff, I just pushed through some of the obvious issues through until stuff

[2016-04-27 14:15] rhc54 commented on #1585
I would not advise running a production system on master - it isn't that stable. We just have a policy of committing there first to ensure things get adequately tested prior to going into a release branch.

[2016-04-27 15:19] hppritcha commented on #1559
@matcabral thanks for the info.  Our clusters have Broadwell E5-2695 v4 processors - 36 HTs total/node.     It wasn't quite clear from your comment if there is an upper limit one the number of MPI processes/node that can be run if PSM2_DEVICES is not set to self,shm?  I don't seem to hit that limitation on our cluster.

[2016-04-27 17:41] rhc54 commented on #1585
okay, i have pushed the changes up to my branch. May I ask that you work from there? The master is somewhat different from the 1.10 series, and it makes upstreaming these changes more difficult.

The problem we are now hitting is in oob_tcp_component.c - specifically, in the component_available code starting at line 460. What I'm seeing is that I'm only picking up the IPv4 address interfaces, and

[2016-04-27 18:15] ajtulloch commented on #1585
Oh great, thanks @rhc54.

I'm seeing on our NICs:

[code]

In the patch above I had:

[code]

which seemed to help the Linux if setup get the right IPv6 address. I'll take a look at your patches, thanks!

[2016-04-27 18:41] jsquyres opened #1593 "--enable-sparse-groups causes assert failures in intel and ibm tests"
v2.x results https://mtt.open-mpi.org/index.php?do_redir=2306 shows that `--enable-sparse-groups` is returning in assertion failures in:

* Intel MPI_Comm_split3_c
* Intel MPI_Comm_split3_f
* Intel MPI_Comm_split4_c
* Intel MPI_Comm_split4_f

And v2.x results https://mtt.open-mpi.org/index.php?do_redir=2309 shows an `--enable-sparse-groups` fail in

* IBM group/compare
* Similar failures occurred

[2016-04-27 18:45] edgargabriel commented on #1593
Honestly, I suspect that these failures have to do something with the addproc changes, since the sparse group code has not changes since ~2008

[2016-04-27 18:48] rhc54 commented on #1593
Is this on the master, or 2.x? I thought we had fixed such things on the master, and so this might just be something that hasn't come across.

[2016-04-27 18:49] jsquyres commented on #1593
This is on v2.x.  But I see the same failure signature on master.

[2016-04-27 18:51] jsquyres commented on #1593
Looks like there's more failures of the same type on master (i.e., more fails on master than there are on v2.x).  I added an MTT link for master fails to the initial description.

[2016-04-27 18:52] edgargabriel commented on #1593
I can have a look, but it will take me a couple of days to get to it

[2016-04-27 18:56] jsquyres commented on #1593
@edgargabriel Many thanks.  There's no immediate rush, but given all the progress we've made in terms of scalability for the 2.x series, having sparse groups continue to work is probably a Good Thing.  Doesn't need to be v2.0.0, though.

[2016-04-27 19:03] rhc54 commented on #1593
FWIW: I believe @ggouaillardet was looking at this and (IIRC) had a patch for it that is pending for master

[2016-04-27 20:52] jsquyres commented on #1593
Also FWIW: I don't see an obvious PR pending about sparse groups.  Shrug.  @hjelmn thinks it may be a missing OBJ_RETAIN or OBJ_RELEASE.

[2016-04-27 21:37] hjelmn commented on #1593
I couldn't find an existing PR so I opened #1595 to fix this. Tested and the failure is gone and I do not see any procs being leaked.

[2016-04-27 22:14] ggouaillardet commented on #1370
fixed in #1593

[2016-04-27 22:14] #1370 closed

[2016-04-27 22:15] jsquyres commented on #1370
Ah -- that's why @hjelmn and I couldn't find this; it was an issue, not a PR.  Got it -- sorry we missed it... :frowning:

[2016-04-27 22:18] hjelmn commented on #1370
@ggouaillardet Sorry for dropping the ball on this. The appropriate fix is up for PR. I wanted to avoid extra retains.

[2016-04-27 23:03] matcabral commented on #1559
@hppritcha, did you see my answer to the ranks limit on #1578 ?

[2016-04-27 23:06] #1593 closed

[2016-04-28 02:52] rhc54 opened #1596 "USNIC breaks build if external hwloc is detected"
I continue to hit this problem on the 2.x release branch. If an external version of hwloc is present in my path, then the usnic/btl will fail to build with an error that "hwloc.h: not built with verbs support".

Yes, my external hwloc version wasn't built with verbs support - because I don't have IB on my machine!

We fixed this on master, but somehow that fix has been left out of 2.x. Can you ple

[2016-04-28 15:25] jsquyres commented on #1596
@rhc54 On https://github.com/open-mpi/ompi-release/pull/1051, you said this could wait until v2.0.1.  Do you now need it for v2.0.0?

[2016-04-28 15:32] hppritcha opened #1597 "aprun launched jobs hang on v2.x"
Looks like a recent commit broke aprun launched jobs.

[2016-04-28 16:08] rhc54 commented on #1596
I commented on #1051 - we can close this one here

[2016-04-28 16:08] #1596 closed

[2016-04-28 16:11] rhc54 commented on #1597
Shifting the thread over here: Is it hanging in the MPI_Barrier? Or in the pmix.fence?

[2016-04-28 16:48] artpol84 opened #1599 "Graph500 failure with ompi-release v2.x"
Hello, I'm facing the the error (the output log is below) with graph500 and ompi-release v2.x and `ob1/openib`.
With ompi-release v1.10 this doesn't happen. This also doesn't appear with v2.x and `yalla`

Way to reproduce:
1. `git clone` ompi-release and switch to the v2.x branch
2. build and install ompi-release
3. Use following sources of graph500 http://www.graph500.org/sites/default/files/file

[2016-04-28 16:53] hjelmn commented on #1599
Weird. It shouldn't be using osc/pt2pt at all in this case. Try adding -mca osc rdma.

[2016-04-28 17:19] hppritcha commented on #1597
i think this is an easy fix.

[2016-04-28 17:24] hjelmn commented on #1599
Ok, the backtraces are very misleading. It crashes with osc/rdma and apparently hangs with osc/pt2pt.

[2016-04-28 19:05] hjelmn commented on #1599
Found an issue calculating the global rank data ids and offsets in osc/rdma. Working on a patch now.

[2016-04-28 19:50] #1597 closed

[2016-04-28 20:13] jsquyres commented on #1599
@artpol84 @hjelmn Is this a blocker for v2.0.0, or can it slip to v2.0.1?

[2016-04-28 20:25] hjelmn commented on #1599
i can get a fix in today so its really up to you.

[2016-04-28 20:25] jladd-mlnx commented on #1599
@jsquyres it's a blocker.

[2016-04-28 20:49] hppritcha commented on #1599
I'm not sure why this should be a blocker.  If it works in 1.10.x, seems like customers have a reasonable workaround.   Or is there something else? The fix could go in to 2.0.1.

[2016-04-28 21:15] hjelmn commented on #1599
I am fine with putting this into 2.0.1. RMA is not heavily used at this point and 2.0.1 is not far off.

[2016-04-28 21:20] hjelmn commented on #1599
BTW, this bug seems to only occur with --map-by node.

[2016-04-28 21:29] hjelmn commented on #1599
Fix coming to master soon.

[2016-04-28 21:46] hppritcha commented on #1599
So if one doesn't use --map-by node the app runs correctly?

[2016-04-28 21:55] hjelmn commented on #1599
With osc/rdma, yes. The problem has to do with how the global offset array index is calculated.

[2016-04-28 21:56] hjelmn commented on #1599
osc/pt2pt hang is a different problem and I am still trying to debug.

[2016-04-28 22:28] hppritcha commented on #1559
customer has a satisfactory workaround for now.

[2016-04-28 22:34] hppritcha commented on #1559
config options I used for ompi for these issue is
[code]
config options used by the admins for the system install of ompi is
[code]
@matcabral

[2016-04-28 22:39] jladd-mlnx commented on #1599
@hppritcha if a fix can be quickly developed by @hjelmn, it should go in 2.0.0. If it needs to wait, that's OK too. We can remove the blocker label.

[2016-04-28 22:39] hppritcha commented on #1599
I"m moving this to 2.0.1.  Tarball for 2.0.0rc2 is building now.

[2016-04-28 22:41] hppritcha commented on #1559
If we do a 1.10.4 this can be set to that milestone.  Setting to 2.0.1 milestone for now.  Per discussions on a telecon today, there will be a ompi fix required as well as a fix in PSM2.

[2016-04-29 00:34] hjelmn commented on #1599
Sounds good. The fix for osc/rdma is ready but the osc/pt2pt one is difficult to debug. Should have it figured out by the end of the week.

[2016-04-29 02:41] #1599 closed

[2016-04-29 07:12] hjelmn commented on #1589
Looks like it is fixed in last nights MTT.

[2016-04-29 07:12] #1589 closed

[2016-04-29 14:02] jsquyres opened #1607 "ENOSYS used incorrectly in openib BTL"
As mentioned in http://www.open-mpi.org/community/lists/devel/2016/04/18839.php, the openib BTL should probably be minorly updated to handle `EOPNOTSUPP`.

See the mail for more details.

[2016-04-29 16:27] hjelmn commented on #1599
Confirmed osc/pt2pt runs very very slowing on top of btl/openib. Runs fine with btl/vader and btl/ugni.

[2016-04-30 04:19] opoplawski opened #1609 "Cannot find /usr/lib64/libpmix.so"
On Fedora, pmix is installed to /usr/lib64/libpmix.so on 64-bit.  openmpi 2.0.0rc2 fails to find it because it only looks in /usr/lib:
[code]

[2016-04-30 04:49] rhc54 commented on #1609
Working this now - hope to have a patch for you to test in the morning.

Out of curiosity: what version of PMIx are you using? We are getting ready to release 1.1.4, and if that is what you would package, then I'll make sure we test that combination.

[2016-04-30 05:39] ggouaillardet commented on #1609
@opoplawski do you configure with
--with-external-pmix
or
--with-external-pmix=/usr
iirc, we have a macro that search library in lib64 if the dir is /usr

[2016-04-30 11:35] astrung opened #1610 "MPI_Rsend:how to know that a receive buffer is already posted"
By [MPI_Rsend man papers][1],in order to use MPI_Rsend,we need to guarantee that a receive is already posted. It is an error if the receive is not posted before the ready send is called.But how to guarantee that a receive is already posted ???.I try to find some examples about MPI_Rsend,but i can not find anything.And how to get this error ? <br>
In this link [MPI_RSend_error][2] ,finally some one

[2016-04-30 14:15] rhc54 commented on #1609
@ggouaillardet Actually, we don't use that macro, and so we aren't currently looking at lib64. I have a patch to correct this now.

[2016-04-30 14:43] ggouaillardet commented on #1610
it is up to the MPI application to ensure MPI_Recv have been posted before MPI_Rsend is invoked.
in theory, MPI_Rsend can be more efficient than MPI_Send since it does not need to handle the cases where no MPI_Recv has been posted.
MPI_Rsend can take some shortcuts by assuming MPI_Recv were posted on the other end, and it is ultimately the end user responsibility to enforce this.
generally speakin

[2016-04-30 15:29] opoplawski commented on #1609
We currently have pmix 1.1.3 packaged.  I'm not specifying =/usr, but it finds the header in /usr/include, it's just not looking in /usr/lib64 as Ralph has confirmed.  I did a quick hack to make a build for testing so there is no big rush.  Thanks.

[2016-04-30 19:07] wkliao opened #1611 "create zero-length MPI derived datatypes"
A PnetCDF user reported the following error messages when using OpenMPI to build PnetCDF.
*** An error occurred in MPI_Type_create_hindexed
*** reported by process [230463504385,227633266688]
*** on communicator MPI_COMM_WORLD
*** MPI_ERR_ARG: invalid argument of some other kind
*** MPI_ERRORS_ARE_FATAL (processes in this communicator will now abort,
***    and potentially your MPI job)

The root

[2016-04-30 19:21] rhc54 commented on #1611
Could you please tell us what version of OMPI you are referring to?

[2016-05-01 01:28] astrung commented on #1610
So we will need synchronize between processes , iterator,... to use MPI_RSEND ????
My example code:
void AllGather_ring_RSend(void* data, int count, MPI_Datatype datatype,MPI_Comm communicator)
{
  int me;
  MPI_Comm_rank(communicator, &me);
  int world_size;
  MPI_Comm_size(communicator, &world_size);
  int next=me+1;
  if(next>=world_size)
      next=0;
  int prev=me-1;
  if(prev<0)
      prev=w

[2016-05-01 01:56] wkliao commented on #1611
OpenMPI 1.10.2 and 1.8.5.

Wei-keng

On Apr 30, 2016, at 2:21 PM, rhc54 wrote:

[2016-05-01 02:17] ggouaillardet commented on #1610
this application might crash since there is no guarantee a Recv was posted on the other end when MPI_Rsend is invoked.
if you really want to use MPI_Rsend, you can try
[code]

or

[code]

from a performance point of view, the second variant could be faster with large messages, and once again, I would not take it for granted. fwiw, it would be fair to compare this with a plain MPI_Send(...)

[2016-05-01 09:25] astrung commented on #1610
Well, but its cost will increase by using MPI_Barrier.It is still a communication collective operation,and its cost + RSend cost may be larger than MPI_Send ??
Do we have other ways ???

[2016-05-01 11:43] ggouaillardet commented on #1610
i checked the sources and there is no optimization for MPI_Rsend (e.g. it is a plain MPI_Send under the hood)

[2016-05-01 16:43] bosilca commented on #1611
In some of the datatype creation functions we were extremely strict on the arguments (we require a allocated pointer even if the array was not needed). I made (6e6ed62a3) all our datatypes consistent, they all now accept NULL if the count (or the dimensions) is 0.

[2016-05-02 05:51] ggouaillardet commented on #1585
@ajtulloch you might want to include https://github.com/open-mpi/ompi/pull/605 if not already done.
it seems none of the OpenMPI developers know much about IPv6, nor has the infrastructure to test ...
if i remember correctly, this PR avoids using the local link IPv6 which is always set in IPv6
(and we had to learn this the hard way ...)
i also remember we do not set the ```scope``` correctly, and

[2016-05-02 10:41] jsquyres commented on #1611
Fixed via 6e6ed62.

[2016-05-02 10:41] #1611 closed

[2016-05-02 13:44] #1551 closed

[2016-05-02 14:22] jsquyres commented on #1610
The assumption for the design of ready send is that the application may have natural synchronization points such that it may know -- without additional synchronization, as in @ggouaillardet's examples -- that a receive has already been posted, just as a by-product of its existing protocols.  A simple "please send me X" type of request kind of protocol is an example.  I.e., the sender can pre-post

[2016-05-02 19:01] jsquyres commented on #1609
PR filed for v2.x: https://github.com/open-mpi/ompi-release/pull/1125

[2016-05-02 19:01] #1609 closed

[2016-05-02 19:02] jsquyres commented on #299
This was closed via #1495.

[2016-05-02 19:02] #299 closed

[2016-05-02 19:11] jsquyres commented on #661
I believe these have all been incorporated onto master, and are slated for releases beyond v2.0.0.

[2016-05-02 19:11] #661 closed

[2016-05-02 19:24] fengliplatform opened #1614 "Only short hostname is accepted in rank file in case of affinity support"
OpenMPI 1.10.1

When the rank file is like following with long name, Got error.

[code]
When the rank file is like following with short name, it works all right.

[code]

Note: this long hostname rank file has been tested successfully with OpenMPI 1.6.5.

***EDIT: Reformatted verbatim text***

[2016-05-02 19:46] jsquyres commented on #1614
What happens with v2.0.0rc2?

[2016-05-03 04:53] beginZero opened #1620 "OMPI-1.7 MPI_Alltoallv hang"
I encounter an indeterministic hang when running the OSU benchmark osu_alltoallv in following way:

mpirun -mca coll_basic_priority 100 -mca btl tcp,self ./osu_alltoallv -m SIZE.

I run it on 3 computing nodes (32 cores/node), with each node having 32 processes. The hang happens around 512KB message size. OMPI emits following error messages when the hang happens:

1 Mon May  2 20:12:53 CDT 2016

[2016-05-03 14:33] jsquyres opened #1623 "mindist mapper broken on master"
A bunch of Mellanox Jenkins runs have been failing on master with this kind of error:

[code]

In https://github.com/open-mpi/ompi/pull/1612#issuecomment-216546013, @jladd-mlnx reported that the PMIx external component changes (i.e., the changes from that PR) seem to be what broke this test.

@rhc54 Can you investigate?

[2016-05-03 14:35] jladd-mlnx commented on #1623
I see it in Brice's unmerged PR too. HWLOC change makes sense, but how has it crept into master? Don't see it on 2.x. Strange...

https://github.com/open-mpi/ompi/pull/1584

[2016-05-03 14:41] jsquyres commented on #1623
@jladd-mlnx Did you git bisect and find that the place where it came into master was the commit that came from #1612?

[2016-05-03 14:50] jladd-mlnx commented on #1623
No, just combing through closed PRs to see where it first showed up. It may have nothing to do with this commit. It shows up in Brice's unmerged HWLOC update - which would make more sense, but then I don't understand how it would have leaked in master. Not sure I will have time to chase much down today. If I get a few spare cycles, I can bisect.

[2016-05-03 14:59] jsquyres opened #1624 "MTT static builds broken on master"
[MTT is showing](https://mtt.open-mpi.org/index.php?do_redir=2312) that static builds are broken on master with the following kinds of errors:

[code]

[2016-05-03 16:15] jsquyres commented on #1624
Per discussion on the teleconf today, @rhc54 is aware of this already.  It's a duplication of symbols for the debugger stuff between ORTE and OMPI.

And just as an additional confirmation, I did a git bisect and it looks like 6ac7929bd070f72252ce8fc51c08ccbc7db0153d is the commit that caused the issue (which I think Ralph already knew).

[2016-05-03 17:27] jsquyres commented on #1623
Discussed on teleconf today: @rhc54 is going to have a look, but will need help in testing it because he doesn't have any HCAs.

[2016-05-03 21:59] kmroz commented on #120
In Linux, we can get this via an ioctl(..., SIOCETHTOOL, ...) + ethtool_cmd_speed(). However, this wouldn't work on the BSDs, etc.

@jsquyres - Does OMPI come with some #defines for specific OSs? We could do the ioctl() if Linux, otherwise default to the current 100 Mbit/sec that's being set?

[2016-05-03 22:05] jsquyres commented on #120
No, we tend to stay away from OS/version #defines and instead test for desired behavior in configure.  For example, in this case, we could just check to see if `SIOCETHTOOL` exists.  And if so, it's probably a safe enough assumption that it can be used for this `ioctl()`.

Want to make a PR to do that?

[2016-05-03 22:10] kmroz commented on #120
Ahh, I see... like you do with ```#ifdef HAVE_SYS_TYPES_H``` etc.

Yes, I will put something together for this.

[2016-05-04 10:58] jsquyres commented on #1623
@jladd-mlnx @Di0gen Can you temporarily disable the mindist test while we know that it is broken?  It's making all other PR's fail the Mellanox Jenkins test.  We can re-enable it when mindist gets fixed.

[2016-05-04 13:16] jladd-mlnx commented on #1623
Done. I plan to re-enable it in one week.

On Wed, May 4, 2016 at 6:58 AM, Jeff Squyres <notifications@github.com>
wrote:

[2016-05-04 17:59] rhc54 commented on #1530
Solution lies outside of our scope, so I'm going to close this one.

[2016-05-04 17:59] #1530 closed

[2016-05-04 18:00] rhc54 commented on #1366
@hjelmn Has this now been fixed?

[2016-05-04 18:01] rhc54 commented on #1284
@jsquyres Where are we on this?

[2016-05-04 18:01] rhc54 commented on #639
Pushing to 2.1 as I doubt we'll deal with this in the 1.10 series

[2016-05-04 18:02] rhc54 commented on #1569
@ggouaillardet Where does this stand?

[2016-05-04 19:07] dalcinl opened #1630 "2.0.0rc2: Regression in MPI_File_get_info()"
After creating a file passing null info handle, quering for the info returns a null info handle. Previous releases returned a non null info handle. The wording in the MPI-3 standard seems to imply that the call should return a new (I interpret that as non-null) info handle.

[code]
[code]

[2016-05-04 19:27] dalcinl opened #1631 "2.0.0rc2: Regression in MPI_File_get_byte_offset()"
According to the MPI standard: *The default view is a linear byte stream (displacement is zero, etype and filetype equal to MPI_BYTE).* In the snipped below, I'm expecting to see output of the form ``(i, i)`` for i=0..3, however ``MPI_File_get_byte_offset()`` is returning displacement 0 for any input offset value.

[code]
[code]

[2016-05-04 19:36] edgargabriel commented on #1631
I am not sure I understand neither your example nor the argument. If you do not write or read data from the file at all, your file pointer is at the beginning of the file, therefore the offset is zero. *every* process has the initial offset of zero.

[2016-05-04 19:38] edgargabriel commented on #1631
ok, I see now your point. Let me check, Its not about the position of the file pointer, its about what would it be if you pass in *offset* etypes. I'll double check.

[2016-05-04 19:41] dalcinl commented on #1631
This is the first of many regressions. I'm double checking all of them and reporting separate issues.
https://bitbucket.org/mpi4py/mpi4py/issues/40/test-failures-with-openmpi-200rc2

[2016-05-04 19:59] dalcinl opened #1632 "2.0.0rc2: Regression in MPI_Type_get_envelope() after MPI_File_get_view()"
Querying the envelope of etype/filetype obtained with ``MPI_File_get_view()`` errors with ``MPI_ERR_INTERN``.

[code]
[code]

[2016-05-04 20:36] dalcinl opened #1633 "2.0.0rc2: Regression in MPI_File_get_size() after two call to MPI_File_preallocate()"
[code]
[code]

[2016-05-04 20:39] edgargabriel commented on #1632
I *think* ompio does the right thing here and the error comes from the datatype engine (there is the possibility that I might use the wrong function to duplicate the datatype after it moved to the opal layer, but in the debugger  I can see the datatype as "dup dup MPI_Byte". @bosilca would you mind having a quick look at that? C version of this test is attached.

[2016-05-04 20:41] edgargabriel commented on #1632
#include <stdio.h>
#include "mpi.h"

int main ( int argc, char **argv )
{
    int rank, size, ret;
    MPI_File fh;
    MPI_Datatype etype, ftype;
    MPI_Offset disp;
    char datarep[64];

    MPI_Init ( &argc, &argv);
    MPI_Comm_rank ( MPI_COMM_WORLD, &rank );
    MPI_Comm_size ( MPI_COMM_WORLD, &size );

    MPI_File_open (MPI_COMM_WORLD, "test.out", MPI_MODE_RDWR | MPI_MODE_CREATE,

[2016-05-04 20:42] dalcinl commented on #1632
[code]

[2016-05-04 20:42] edgargabriel commented on #1631
will create a fix for that, I can confirm that this is a bug.

[2016-05-04 20:58] edgargabriel commented on #1632
I  was referring to the name of the datatype as shown in the internal datatype structure of OMPI. Basically, it shows that MPI_BYTE was duplicated twice during the process. But then ompi_datatype_get_args returns with MPI_ERR_INTERNAL

[2016-05-04 21:00] dalcinl commented on #1632
I know, I'm just showing you that duplicating twice and getting the envelope seems to work just fine.

[2016-05-04 21:08] edgargabriel commented on #1632
so basically what it comes down to is whether

ompi_datatype_duplicate (&ompi_mpi_byte.dt, ...);

is identical to using MPI_Type_dup (MPI_BYTE,...)

[2016-05-04 21:09] edgargabriel commented on #1633
will provide a fix for this, I *think* it is fairly straight forward.

[2016-05-04 21:30] bosilca commented on #1632
Calling ompi_datatype_duplicate is not enough, the args (which is the placeholder used for the enveloppe) is not created. In fact only the MPI level functions are creating the args, because returning a datatype is not a usual operation for any of the MPI functions.

[2016-05-05 01:05] edgargabriel commented on #1632
ok, so what else do I have for that? And I agree that it is fairly unusual scenario that I honestly have not seen in any of the MPI I/O applications or benchmarks

[2016-05-05 03:55] ggouaillardet commented on #1284
@PHHargrove could you please give a try to https://patch-diff.githubusercontent.com/raw/open-mpi/ompi/pull/1295.patch
it should fix everything, except maybe with --disable-mpi-fortran
my NAG eval license has expired, and I have not done much recently

[2016-05-05 04:13] PHHargrove commented on #1284
@ggouaillardet
I will give it a try tonight and let you know what I find.

[2016-05-05 05:28] PHHargrove commented on #1284
@ggouaillardet :+1:

Looks good!
I tried the following two configurations, with both versions 5 and 6 of NAG Fortran
-   --enable-debug --prefix=... FC=nagfor
-   --enable-debug --prefix=... FC=nagfor --enable-static --disable-shared
-   --enable-debug --prefix=... FC=nagfor --disable-mpi-fortran

All six combinations worked as expected.

In case somebody (Jeff?) is keeping track of which Fortan c

[2016-05-05 05:57] hjelmn commented on #1366
Yup. Fixed

[2016-05-05 06:22] PHHargrove opened #1635 "romio build failure on OpenBSD-5.7"
Just wanted to make a record of this other than the devel list posting.

As described in more detail in https://www.open-mpi.org/community/lists/devel/2015/05/17449.php OpenBSD-5.7 cannot build the romio version embedded in Open MPI v1.8, v1.10 or v2.0.
The problem, not present in OpenBSD-5.6 and earlier, relates to struct statfs which is not defined as romio expects:
[code]

As of the current mpi

[2016-05-05 07:44] ggouaillardet commented on #1631
@dalcinl keep in mind that the default io module is ompio from v2.x, it was previously romio.
what if you
mpirun --mca io romio314 ...

from an end user point of view, I agree this is being seen as a regression.
but from a developer point of view, that might be a bug that has always been around and undetected.

[2016-05-05 07:48] ggouaillardet commented on #1623
@jladd-mlnx does mellanox Jenkins explicitly configure ompi with external pmix ?
if yes, then both external hwloc and libevent are required.
if not, then external pmix should not be built, and this is a bug.
@rhc54 do you agree with the last statement ?

[2016-05-05 08:16] dalcinl opened #1636 "2.0.0rc2: Regression in MPI_Ireduce_scatter_block()"
The following trivial test checks that ``MPI_Reduce_scatter_block()`` and ``MPI_Ireduce_scatter_block()`` produce the expected output and do not overwrite past the receive buffer. To keep it simple, it can be run in at most 16 processes.

Using Open MPI 1.10.2, I get the expected output in all cases, so this is definitely a regression in 2.0.0rc2.

[code]

Using ``MPI_Reduce_scatter_block()``, I g

[2016-05-05 08:34] dalcinl commented on #1631
@ggouaillardet I agree, name it as you see fit and feel free to change the issue title. I'm just reporting issues before 2.0.0 is released, otherwise people will flood my own issue tracker with bugs that are not related to my code, my continuous integration builds start failing after upgrading Open MPI, packagers from Linux distros have to patch my code to skip tests, etc.

[2016-05-05 09:28] rhc54 commented on #1623
Yes, that would certainly be true. However, someone on the call looked back at the logs and claimed it started with a different PR, so there is some uncertainty here.

[2016-05-05 09:29] rhc54 commented on #1366
@hjelmn So can this be closed? If so, please do so.

[2016-05-05 12:21] edgargabriel commented on #1632
looking at the code of type_dup.c, I see there is a function ompi_datatype_set_args, I will try to use this one. Following the logic in that function, I am however not sure whether I would also need to copy the attributes in a similar manner, i.e. if a user set some attributes on the filetype for example, and he retrieves a copy of the file type using get_view, would who expect the attributes to b

[2016-05-05 12:23] edgargabriel commented on #1631
this is btw. the one issue that will take me a little time to implement. WE have the logic available to perform these calculations, but I need to extract the logic such that we do not move the file pointer at the same time. All other issues that you reported should be resolved by tomorrow. (latest). Its then the release managers duty to decide whether we schedule them for 2.0.0 or 2.0.1

[2016-05-05 14:25] ggouaillardet commented on #1636
the fix got lost when libnbc was rewritten ...
I will fix that tomorrow

[2016-05-05 14:53] jsquyres commented on #1620
Can you try upgrading to the latest Open MPI v1.10.x (as of this writing, 1.10.2) and see if the problem fixes itself?

[2016-05-05 18:23] jsquyres commented on #1610
@astrung With no activity in a few days, I'm going to assume your question is answered -- I'm going to close this ticket.  Feel free to respond/re-open the ticket if you have further questions on this topic.

[2016-05-05 18:23] #1610 closed

[2016-05-05 18:24] jsquyres commented on #1614
@fengliplatform Ping.

[2016-05-05 18:54] edgargabriel commented on #1632
I have a solution coded up for this one, but I have now a question to the MPI spec experts @bosilca and @jsquyres . What is the combiner supposed to be e.g. for the etype returned by MPI_File_get_envelope? Since I dup the datatypes on the handle, the combiner in my solution is COMBINER_DUP. If you run it with ROMIO, it is the original combiner (e.g. COMBINER NAMED if the original datatypes as e.g.

[2016-05-05 19:07] bosilca commented on #1632
It doesn't say that it returns a duplicate of the datatype, which allows me to think that:
 - we don't have to copy the attributes, and
 - we should not return a duplicate of the datatype.

I would simply call ompi_datatype_copy_args on the datatype to be returned.

[2016-05-05 19:11] edgargabriel commented on #1632
well, ok, but that is then a bigger change, because right know I do dupliucate all the datatypes. Would the standard in your opinion support that? In the end, it does say that it returns a 'new' datatype

[2016-05-05 19:27] bosilca commented on #1632
Technically it has to be a new datatype, because the user is requested to call free on them. As the user is only allowed to call free once on any MPI objects, if we return a pointer to the original datatype we will have a problem.

[2016-05-05 19:29] edgargabriel commented on #1632
ok, I see. So bottom line would be to still call ompi_datatype_duplicate, but instead of calling ompi_datatype_set_args () we should call ompi_datatype_copy_args, right?
I have this coded, but forwhatever reason, the copy_args routine segfaults on me, the setargs version did work however. Still looking into it.

[2016-05-05 19:33] bosilca commented on #1632
Yes, I think this should be correct. If you send me a patch I'll take a look.

[2016-05-05 19:53] jsquyres commented on #1632
@edgargabriel @bosilca I wrote tests for all of @dalcinl's tests in the `ibm/io` and `ibm/collective` dirs -- but you have gone back and forth on this one so much that I'm not sure what to test.  😸  So I leave it up to you to write the test...

[2016-05-05 19:54] edgargabriel commented on #1632
ok, thanks. I sent the test directly to George.

[2016-05-05 19:55] edgargabriel commented on #1633
just as an FYI, the solution is already available in my private repo, just waiting to finish the fix to file the joint pull request.

[2016-05-05 19:57] jsquyres commented on #1633
Sweet.  I added the tests so that we can make sure these don't regress again.

[2016-05-05 19:59] edgargabriel commented on #1633
Cool. The get_byte_offset will take me a bit longer however.

[2016-05-05 20:08] #1630 closed

[2016-05-06 01:24] jsquyres commented on #1624
Fixed via 83c2d04aa34605afa6ad105d2a54bb8933aede08.

[2016-05-06 01:24] #1624 closed

[2016-05-06 03:27] bosilca commented on #1632
@edgargabriel After looking at the code I cleaned your solution a little bit (not create a duplicate if there is a predefined type, and not recommit the data as it inherit the commit state of the parent through _dup).

[2016-05-06 12:25] edgargabriel commented on #1632
thank you George! Will add UTK copyrights to that file

[2016-05-06 13:06] bosilca commented on #1632
btw, I wonder if this is the only place in the standard where we use this notion of "new datatype" without clearly stating that it is a duplicate. We might want to bring this to the Forum, we clarify the behavior.

[2016-05-06 13:13] edgargabriel commented on #1632
A good question, I don't know. I just noticed btw. that the wrong commit closes this bug. argh:-( Not sure whether this can be fixed. @jsquyres should I redo the commits on my private branch?

[2016-05-06 13:14] edgargabriel commented on #1632
actually, let me add a commit each that I squash and I can fix the commit message in that case, isn;t it?

[2016-05-06 15:27] fengliplatform commented on #1614
Super busy...sorry for the delay...

So first shot so far...
1. To long name rank file: the same issue.
 li@fengli-16.gss.platformlab.ibm.com-72: cat ./hostrankfile0
rank 0=fengli-17.gss.platformlab.ibm.com slot=0
rank 1=fengli-17.gss.platformlab.ibm.com slot=1
rank 2=fengli-17.gss.platformlab.ibm.com slot=2
rank 3=fengli-17.gss.platformlab.ibm.com slot=3
rank 4=fengli-16.gss.platformlab.ibm.com s

[2016-05-06 15:31] fengliplatform commented on #1614
2. To short name rank file:

 li@fengli-16.gss.platformlab.ibm.com-75: cat ./hostrankfile1
rank 0=fengli-17 slot=0
rank 1=fengli-17 slot=1
rank 2=fengli-17 slot=2
rank 3=fengli-17 slot=3
rank 4=fengli-16 slot=0
rank 5=fengli-16 slot=1
rank 6=fengli-16 slot=2
rank 7=fengli-16 slot=3

 li@fengli-16.gss.platformlab.ibm.com-76: which mpirun
/usr/local/openmpi-2.0-rc2/bin/mpirun
 li@fengli-16.gss.platf

[2016-05-06 15:32] fengliplatform commented on #1614
Looks not good...but not much time now to look into...Please verify

[2016-05-06 15:35] fengliplatform commented on #1614
Some other info from my env:

 li@fengli-16.gss.platformlab.ibm.com-86: mpirun -h
mpirun (Open MPI) 2.0.0rc2

Usage: mpirun [OPTION]...  [PROGRAM]...
Start the given program using Open RTE

 li@fengli-16.gss.platformlab.ibm.com-87: ompi_info
                 Package: Open MPI root@fengli-16.gss.platformlab.ibm.com
                          Distribution
                Open MPI: 2.0.0rc2
  Open MPI

[2016-05-06 15:44] fengliplatform opened #1647 "OpenMPI 2.0 rc2 affinity/rankfile support issues."
This is from issue 1614 - affinity/rankfile support issue in 1.10.
This one is for 2.0 rc2. Detail errors please refer to issue 1614.

[2016-05-06 15:52] rhc54 commented on #1647
Please don't create a duplicate issue - we will port any fix to both release branches

[2016-05-06 15:52] #1647 closed

[2016-05-06 15:58] jjhursey commented on #1614
Thanks for trying that release.

I'm assigning myself to this issue, but might not have time to look at it for a few more weeks. If someone has cycles before then feel free to pick it up. Otherwise I'll update once I start work.

[2016-05-06 16:46] #1632 closed

[2016-05-06 18:01] beginZero commented on #1620
Thanks for the reply:)

I tried OMPI-1.10.0 and run in the same style. It failed again yet the effect is a crash rather than a hang. The error message is given below:

 hongbo @ 2****************************************************************
 25 Fri May  6 12:52:08 CDT 2016
 26
 27 # OSU MPI All-to-Allv Personalized Exchange Latency Test
 28 Number of processes: 96
 29 Message size: 256.000000KB

[2016-05-06 21:39] #1623 closed

[2016-05-07 04:36] bosilca commented on #1620
Because the error is triggered in mca_btl_tcp_endpoint_recv_blocking, this indicates that some connection is being established. As your original post claims that the alltoall was ongoing for quite some time (because you reached 512k), it is clear that is a working connection going on, and that the establishment of the second connection fails. This raises several questions:
 - How many interfaces a

[2016-05-07 08:08] ggouaillardet commented on #1636
Fixed in open-mpi/ompi-release#1143

[2016-05-07 08:08] #1636 closed

[2016-05-07 15:25] jsquyres commented on #1632
Sorry, I was out yesterday, but it looks like you figured it out.  😄

A `git rebase -i` on your private branch before merging allows you to do all kinds of things -- including rewording an existing commit message (i.e., you don't have to squash if you just want to reword an existing commit message).

[2016-05-07 15:31] jsquyres commented on #1614
@fengliplatform Github pro tip: enclose blocks of verbatim output in three triple ticks (i.e., ` ` ` without the spaces).  This makes sure that the text renders in the wiki format without markup interpretation and in a fixed-width font.  It's significantly easier to read.

Here's a full description of the Github wiki markdown format that you can use in Github issues, pull requests, and wiki pages:

[2016-05-07 16:54] jsquyres opened #1654 "Patcher issues reported on mailing list"
As reported by @PHHargrove http://www.open-mpi.org/community/lists/devel/2016/05/18928.php and http://www.open-mpi.org/community/lists/devel/2016/05/18930.php, and by @bosilca http://www.open-mpi.org/community/lists/devel/2016/05/18929.php, there appear to be new segv's in master -- potentially caused by patcher...?

Here's one stack trace posted by @PHHargrove on LITTLE-ENDIAN Power8:

[code]

He

[2016-05-07 17:31] rhc54 opened #1655 "Libraries are not being added to wrapper compiler when building with external hwloc"
When building with an external hwloc and devel headers, I'm finding that the wrapper compilers are not getting the required flags to build the ORTE tests:

[code]

I have to manually add ```-lhwloc -lopen-rte -lopen-pal``` to get it to build. Will check to see if this impacts 2.x as well

[2016-05-09 07:48] ggouaillardet commented on #1655
@rhc54 i do not understand what the issue is ...

as far as i am concerned, ```mpicc``` should only use ```-lmpi```
if you are building ORTE tests, then shouldn't you use ```ortecc``` instead ?

in my (outdated) build with all (pmix, libevent and hwloc) external libs, ```mpicc``` uses ```-lmpi```
and ```ortecc``` uses ```-lopen-rte -lopen-pal```

also, if ORTE tests do not invoke OPAL directly, th

[2016-05-09 08:10] astrung opened #1658 "Open MPI + Scalasca :Can not run mpirun command with option --prefix"
I have installed scalasca(scorep,cube,..)with Open MPI for peformance measurement . When i add an option : " --prefix = /my-path" to mpirun, "scalasca - analyze" can not be executed ( Aborted ) .
My command :
_scalasca -analyze mpirun -np 1 --host localhost --prefix /home/as/lib /home/as/Documents/a.out_
"/home/as/lib" is the installed Open MPI directory.
And error :
_S=C=A=N: Abort: Target execut

[2016-05-09 12:53] rhc54 commented on #1658
Configure OMPI --enable-orterun-prefix-by-default and then you won't have to add the prefix option.

BTW: you should let the scorep folks know they have a bug in their program so they can fix it.

[2016-05-09 12:56] rhc54 commented on #1655
It's an interesting point, but it has worked just fine for years, which indicates that something changed recently. Note that it continues to work today _unless_ I build with external (pmix, libevent, and hwloc), which would appear to indicate a problem with how we are handling that scenario.

[2016-05-09 13:09] ggouaillardet commented on #1655
how do you evidence the issue ?
make check ?
other ?

[2016-05-09 13:12] ggouaillardet commented on #1655
can you also please post your configure command line, and your LD_LIBRARY_PATH ?

[2016-05-09 14:09] ggouaillardet commented on #1658
you can also try to replace mpirun with `which mpirun` and remove the --prefix option
or you can try
scalasca -analyze -- mpirun --prefix ...
(not sure how scalasca will handle these though...)

[2016-05-09 14:37] rhc54 commented on #1655
Sure - the issue can be evidenced by just changing to the orte/test/mpi directory and doing "make clean hello"

Configure line:
[code]

[2016-05-09 18:03] jjhursey opened #1660 "PMIx configure logic should fail configure if external cannot be used"
Configure with:
[code]

On this particular machine PMIx 1.1.3 is installed, but `pmix_common.h` is missing a header so the configure check fails:
[code]

However, when we get down to the pmix component selection it is still trying to build the pmix112
[code]

So notice that at the end of configure there are no `pmix` components available. Since Open MPI requires an PMIx component this should fail

[2016-05-09 18:24] rhc54 commented on #1660
We have to fix this before release to protect the upstream distros

[2016-05-10 00:27] ggouaillardet commented on #1655
ok, that is something different than what i initially expected.

the ```orte/test/mpi``` Makefile invokes ```mpirun --openmpi:linkall``` and it links with ```-lmpi -lopen-rte -lopen-pal -levent -levent_pthreads -lutil -lm```

the issue here is ```hwloc_bitmap_alloc``` is an undefined reference in ```hello.o```
with internal hwloc, it is defined in ```libopen-pal.so``` so we are good, but with exte

[2016-05-10 00:36] beginZero commented on #1620
Thanks for the suggestion. I will double check the above questions.

[2016-05-10 03:00] ggouaillardet commented on #1655
@jsquyres can you please take care of this ?
i did a bit of research, and event, pmix and hwloc have all different logics
(i guess the rationale is hwloc needs to special tweaking to handle ```OPAL_HWLOC_WANT_VERBS_HELPER```), so some variable is set but too late for the wrapper.

pmix is not a ```STOP_AT_FIRST``` framework,  (i guess because we always try to build ```s1,s2,singleton``` __and__ on

[2016-05-10 13:50] jsquyres commented on #1655
@rhc54 Are you sure that building with externals worked properly recently?  I did a git bisect back to last November, and I still don't see the externals' flags being pulled into the wrappers.

[2016-05-10 14:33] payerle commented on #1089
Please allow an option to disable adding the --enable-new-dtags flag.
We are running into issues with it for openmpi/1.10.2 built with intel/2016.3.210 compiler suite; the
compiler environmental setup scripts sets LD_LIBRARY_PATH to include the path to Intel MPI libraries,
which are being preferred to the OpenMPI libraries set in rpath (because if DT_RUNPATH is set, DT_RPATH is ignored, so LD_LIBR

[2016-05-10 14:34] jsquyres commented on #1655
There are two problems:

1. The hwloc WRAPPER_EXTRA flags are set in POST_CONFIG, not in CONFIG.  This is easy enough to fix.
2. The PMIX external/configure.m4 is somewhat of a mess.
  * I'm not sure why the bulk of its test is AC_REQUIRE'ed (which makes it run out of sequence), and is defined in opal_pmi.m4 -- but is not used by any other component.
  * It sets `external_WRAPPER_EXTRA_CPPFLAGS` a

[2016-05-10 15:23] jsquyres commented on #1631
@edgargabriel Where are we on this?

[2016-05-10 15:26] jsquyres commented on #1654
@hjelmn Where are we with this?

[2016-05-10 15:28] jsquyres commented on #1654
@hjelmn We're told by @bosilca that C++ `new` is busted with this.  Any ideas?

[2016-05-10 15:32] edgargabriel commented on #1631
That will take me a couple of more days. I would suggest to push this one to 2.0.1

[2016-05-10 15:51] jsquyres commented on #1631
Will do; thanks.

[2016-05-10 15:54] jsquyres commented on #1655
Fixed via #1663.

[2016-05-10 15:54] #1655 closed

[2016-05-10 16:42] larrystevenwise opened #1664 "OpenMPI 2.0.0rc2 with openib/iWARP btl stalls running OSU/IMB benchmarks"
I have installed this OpenMPI on my lab machines. I find that the
osu_latency test runs OK. However, the osu_bw test stalls. Upon doing some more
investigation, I find the that calls to MPI_ISend  on the first node all
complete and the calls to MPI_irecv on the second node all complete. However
when the nodes go into MPI_Waitall both nodes stall.

It is important that we identify where the problem

[2016-05-10 16:42] larrystevenwise commented on #1664
1- I built openmpi 2..0.0rc2 with the following configure command

./configure --prefix=/usr/local/ --enable-mpi-thread-multiple
--enable-mpirun-prefix-by-default --enable-debug --enable-mpi-cxx

Does not matter about mpi-thread-multiple. Tried it both ways.

[2016-05-10 16:44] larrystevenwise commented on #1664
When stalled we see one rank with a pending SEND WR.  HW has consumed the WR and it appears the node has transmitted the SEND to the peer.

[2016-05-10 16:44] larrystevenwise commented on #1664
We started bisecting the ompi release git repo.. For commits before march of ompi,
osu tests are working fine. Will update the culprit commit..

[2016-05-10 16:46] larrystevenwise commented on #1664
Only osu_bcast and osu_bw have this issue and other OSU tests are running fine.
Tests are hanging with no traffic running.  IMB tests are also not working on
openmpi2.0.0rc2.

[2016-05-10 18:13] larrystevenwise commented on #1664
@jsquyres, I think this is a blocker for 2.0.0.  Chelsio is working this as top priority.  I'm also pushing on Chelsio to regression test new RCs as they release.  This issue should not have made it to rc2 IMO...

[2016-05-10 18:17] jsquyres commented on #1664
@larrystevenwise Yes, would have been great to know that this bug existed before now.  No one else in the community has Chelsio equipment with which to test.

[2016-05-10 18:44] larrystevenwise commented on #1664
@jsquyres, sorry about that.  I can ask Chelsio to give some cards to someone who would test OMPI/openib/cxgb4 regularly.

[2016-05-10 18:46] jsquyres commented on #1664
I think the community would prefer if *you* or *Chelsio* did regular testing.  😄

[2016-05-10 18:47] larrystevenwise commented on #1664
agreed... :)

I've recommended they test rc1 of each release and then regression test each rc after that.

[2016-05-10 18:49] jsquyres commented on #1664
FWIW, it would be best if they could test more than that -- even submitting nightly (or even weekly?) MTT runs to the community database would be a good heads-up to catch problems *before* RC releases.

Absoft, for example, does this.

[2016-05-10 18:53] larrystevenwise commented on #1664
I've passed this along.  Thanks Jeff.

[2016-05-10 18:56] matcabral commented on #1559
bot:milestone:v1.10.3

[2016-05-10 19:00] matcabral commented on #1559
@hppritcha as mentioned above, @rhc54 submitted fixes for both of the issues you reported in this bug:
open-mpi/ompi-release PR 1138 solved the epid=0 issue
open-mpi/ompi-release PR 1150 solved the hang.
thanks,

[2016-05-10 22:02] larrystevenwise commented on #1664
I installed OFED-3.18-2-rc1 and the stall goes away.  So:

OMPI-2.0.0rc2, rhel 6.5 kernel, OFED-3.18-1, chelsio's latest drivers: BAD
OMPI-2.0.0rc2, rhel 6.5 kernel, OFED-3.18-2-rc1, chelsio's latest drivers: GOOD

It could be that OMPI configures differently against OFED-3.18-1 vs OFED-3.18-2 and that is causing the change in behavior due to different code running in OMPI itself, or it could be t

[2016-05-10 23:18] beginZero commented on #1620
We tried the suggested setting, but the bug persists. Maybe this is related to some environment setting?

1. Each node has two network interfaces: one ethernet interface (eth0) and one ib interface (ib0).
2. Yes, they are all in a working state.
3. We tried to run with only one interface, i.e. either eth0 or ib0, but the bug is still there.

[2016-05-11 05:37] Zhiming-Wang opened #1666 "MPI_Accumulate Error when using datatype "MPI_SHORT_INT""
Hi, all

There is a MPI_Accumulate error at Open MPI when using  datatype "MPI_SHORT_INT".

I thought that it was about the compress/uncompress of predefined datatype "MPI_SHORT_INT" at osc module.

The datatype "MPI_SHORT_INT" used at this case, its size of storage space is 8 byte (4-byte aligned),  but its payload size is 6 byte (2 byte for short, and 4 byte for int.). When updating data from re

[2016-05-11 05:47] Zhiming-Wang commented on #1666
I have fixed the TCP branch. It is ugly, but it works at my test case.
I added a temp buffer for converting 6 byte to 8 byte using "osc_pt2pt_copy_on_recv" at reader for TCP.

[code]

There should be a similar process at "rdma" osc component for OpenIB. But I haven't found her yet.
I'm not sure that all branches can be covered by my modification. I'm also not sure whether the compress and uncompre

[2016-05-11 06:44] nysal commented on #1666
@hjelmn Can you take a look at this one?

[2016-05-11 09:42] hjelmn commented on #1666
MPI_SHORT_INT is not a valid datatype for accumulate operations. From MPI 3-1 § 11.3.4 pp 425:2-8:

[code]

Look at the table in Annex A.1 pp 673. MPI_SHORT_INT is not a "predefined type" and is not made up entirely of a single predefined type.

[2016-05-11 09:57] hjelmn commented on #1666
Also, I should point out MPI_MINLOC is not valid for accumulate either.

[2016-05-11 10:48] nysal commented on #1666
mpich does have a test that uses MPI_2INT - http://git.mpich.org/mpich.git/blob/HEAD:/test/mpi/rma/acc-loc.c
MPI_SHORT_INT belongs to the same group of predefined datatypes for reduction functions (Annex A.1 page 657).  The "where
all basic components are of the same predefined datatype" could be interpreted as a remark about derived dataypes.
The http://git.mpich.org/mpich.git/blob/HEAD:/test/mpi

[2016-05-11 11:28] hjelmn commented on #1666
MPI_2INT is definitely ok as it is made up of 2 of the same predefined datatypes. I will have top ask the forum wg on the other one. MPICH may be violating the standard here with the MPI_LONG_DOUBLE_INT usage. My understanding is only those on the table i referenced or derived datatypes made up of a single one from the table are allowed with accumulate.

[2016-05-11 11:49] nysal commented on #1666
ok, In that case I'll reopen the issue and then we can take appropriate action once we get a clarification from the RMA wg.

[2016-05-11 15:36] jjhursey commented on #1660
PR #1667 fixes this issue.

The configure fails as expected when the external library cannot be used, but was asked for.
[code]

When switching to a working external lib, it builds fine.
[code]

[2016-05-11 15:56] #1660 closed

[2016-05-11 20:56] larrystevenwise commented on #1664
git bisect results:

Here is the culprit commit of ompi release repo:
From this commit onward bw test fails with an rdma_cm error or stalls.

<pre>
repo: https://github.com/open-mpi/ompi-release.git
branch v2.X

[root@maneybhanjang ompi-release]# git bisect bad
d7c21da1b835be1f7f035d33550587e3e1954b0b is the first bad commit
commit d7c21da1b835be1f7f035d33550587e3e1954b0b
Author: Jeff Squyres <jsq

[2016-05-12 10:08] jsquyres commented on #1664
If this is a bug in OFED-3.18-1, should we care?

[2016-05-12 14:13] larrystevenwise commented on #1664
We don't care if the problem doesn't exist in OFED-3.18-2, but I would still like to understand the root cause.  And the problem is avoided with backing out the identified commit.  Also: running with '--mca mpi_add_procs_cutoff 1024' added to the mpirun works around the problem.

Jeff, can you please explain what mpi_add_procs_cutoff does and how it might affect openib btl?  Any ideas?

[2016-05-12 14:20] jsquyres commented on #1664
@larrystevenwise The behavior of `mpi_add_procs_cutoff` was discussed by the community literally for *months*.  I'm actually pretty annoyed that Chelsio is coming in literally at the last second and calling for a full stop, despite the fact that they completely ignored the community for the entire development cycle. 😠

There is not a short explanation of `mpi_add_procs_cutoff`.  We fundamentally c

[2016-05-12 14:33] larrystevenwise commented on #1664
Since there is an easy workaround, i'm not concerned about holding the release (which you wouldn't do anyway apparently).   I've expressed the issue of spending more resources on OMPI with chelsio and I'll work to get them more involved and doing regular regression testing.

[2016-05-12 14:43] larrystevenwise commented on #1664
What we see when looking at the 2 ranks that are stalled is that one rank has posted a SEND WR which has been transmitted and processed by the peer rank, but the CQE for that SEND has never been polled.  And I think there's another RECV CQE sitting in the CQ that the rank hasn't polled either.  So it seems the rank has stopped polling the CQ for some reason.  Debugging further.

[2016-05-12 16:10] larrystevenwise commented on #1664
Both the RCQ and SCQ for the stuck rank have never been successfully polled.  The RCQ has a handful of completions and the SCQ has a send completion.  Seems like the rank never got going on polling the CQs...

[2016-05-13 03:30] bosilca commented on #1654
Let me try to detail the status of my findings. Btw, if someone is willing to help I'll really appreciate. I am working on master, compiled with the default options, but I call MPI_Init_thread with THREAD_MULTIPLE. However, I am not sure this is important because the issue is not necessarily related to MPI functions, it also happen when the application threads are allocating/releasing memory. I wi

[2016-05-13 09:24] astrung commented on #1658
I fixed it by " --prefix /my/path ".
But i get an other error:
Do we have any limits on MPI_Send or MPI_Recv - or limits by computer ??? When i try to send large data, it can not completed.
This is my code :

[All_gather.zip](https://github.com/open-mpi/ompi/files/262883/All_gather.zip)

[2016-05-13 09:35] astrung opened #1669 "Limits with MPI_Send or MPI_Recv ??"
Do we have any limits about message size on MPI_Send or MPI_Recv - or limits by computer ??? When i try to send large data, it can not completed.
This is my code :

[All_gather.zip](https://github.com/open-mpi/ompi/files/262883/All_gather.zip)
It stopped when i try to run with a buffer about 80000 bytes(40000 integer)

[2016-05-13 10:25] jsquyres commented on #1658
Closing this because the question about `--prefix` has been answered (for simplicity, let's keep issues to a single issue -- and you opened #1669 to discuss the other issue).

[2016-05-13 10:25] #1658 closed

[2016-05-13 10:35] jsquyres commented on #1669
The attached code does not compile:

[code]

Additionally, it looks like this code is not correct: you are assuming that MPI_Sends can complete before their respective MPI_Recvs have been posted.  This is usually referred to as assuming that MPI has implicit buffering.  See the MPI-3.1 document, page 43, example 3.9 -- your code seems to be making the same mistake.

[2016-05-13 10:35] #1669 closed

[2016-05-13 12:44] astrung commented on #1669
Should i use MPI_ISend or use MPI_Sendrecv ???

[2016-05-13 12:46] jsquyres commented on #1669
It depends on your application.  In the example you sent, probably either would be fine.

[2016-05-13 12:52] astrung commented on #1669
But for peformance, which method can be the best solution ???( MPI_Send , ISend , Sendrecv )

[2016-05-13 13:15] jsquyres commented on #1669
Keep in mind that you have to get your application correct first, and then worry about optimization.

All the various MPI send / receive mechanisms have various benefits and tradeoffs.  And it very much depends on what exactly your real application is doing.  Your best bet may well be to try each of the different mechanisms and see which work best for your particular application.

[2016-05-13 19:16] larrystevenwise commented on #1664
the stuck ranks seems to be stuck doing this and never proceeding:
<pre>
#0  0x00007fff56f40952 in vgetns (ts=0x2af6dab28d70) at arch/x86/vdso/vclock_gettime.c:42
#1  do_monotonic (ts=0x2af6dab28d70) at arch/x86/vdso/vclock_gettime.c:81
#2  0x00007fff56f40a47 in __vdso_clock_gettime (clock=<value optimized out>, ts=<value optimized out>) at arch/x86/vdso/vclock_gettime.c:124
#3  0x0000003ef6803e46

[2016-05-13 19:51] jsquyres commented on #1664
Is it not progressing past that point, or is it endlessly looping in in the event base loop in the progress thread?

I note that that is not the main MPI thread.

[2016-05-13 20:39] larrystevenwise commented on #1664
some more data points: with the same OFED-3.18-1 code, mlx4 runs ok regardless of mpi_add_procs_cutoff value.  cxgb4 stalls if the value is <= 2.

[2016-05-14 03:01] astrung commented on #1669
Using MPI_Isend after MPI_Irecv immediately, could we lost data by sending before received node is ready ??
My code:
`for`
`MPI_Irecv`
`MPI_Isend`
`MPI_Wait_all`

[2016-05-14 09:50] jsquyres commented on #1669
No.  MPI's communication is defined to be reliable / lossless (even if the receiver isn't ready when the data is sent).

[2016-05-14 15:35] rhc54 commented on #1614
@fengliplatform Sorry to be so far behind, but have you tried setting the ``orte_keep_fqdn_hostnames`` MCA param? I believe that is all that is required here - we default to stripping the domain name from the host.

[2016-05-16 15:16] fengliplatform commented on #1614
Thank you @rhc54 for the message. Will try this when get a chance... but can we make both long and short name rank file understood by MCA by default? I would think that would be a better behavior instead of having to set parameter.

[2016-05-16 15:28] rhc54 commented on #1614
It leads to ambiguity, I'm afraid. We've had that problem in the past - someone refers to both a short and long name, and the two were for different machines. Hence the requirement for the parameter.

[2016-05-16 15:54] fengliplatform commented on #1614
In that case, someone needs to fix their network configuration - that is not proper environment and error prone to all aspects (not only to OpenMPI)... from my point of view. OpenMPI don't have to sacrifice ...

[2016-05-16 15:57] rhc54 commented on #1614
well, we can certainly argue the point, but i'm not inclined to do so here. IMHO, there is no right/wrong, just people doing things in different ways. Since we previously focused on short names, adding a parameter to support the alternative method seemed the best solution and has been accepted for nearly 10 years now. In fact, this is the first concern I've heard about it in at least 5 years, so i

[2016-05-16 16:11] fengliplatform commented on #1614
sure,...we appreciate all the effort from community to let this happen :-) BTW, when adding this parameter, is both long and short rank file supported? or only long name supported? Thanks,

[2016-05-16 16:38] hjelmn commented on #1654
Ugh, that is really ugly. I have an idea that might work. Let me try coding it up and see where it goes. Should have this done sometime today.

[2016-05-16 16:40] rhc54 commented on #1614
The hostnames have to match - so if you have short names in the hostfile, then you need to use short names everywhere else. If you have long names in the hostfile, then you need to use long names everywhere else.

It all hinges on what is being provided in the allocation.

[2016-05-16 22:58] hjelmn commented on #1654
George, there is no way around it. We absolutely have to delay freeing anything until the vma lock is dropped to protect against this. I think I have a working solution that should do the job without being too horrendous. Testing now and will post a PR soon if it works.

[2016-05-16 23:03] bosilca commented on #1654
Once you fill the PR I will gladly give it a try, I have the perfect reproducer.

[2016-05-17 15:32] jsquyres opened #1674 "IBM null_args_for_empty_datatypes test failing"
@bosilca We're seeing the new IBM test fail (https://mtt.open-mpi.org/index.php?do_redir=2320)

[code]

Can you have a look?

[2016-05-17 15:56] larrystevenwise commented on #1664
@bharatpotnuri is working on this.  Not sure if he has access to adding to these issues?

[2016-05-17 19:26] bosilca commented on #1674
open-mpi/ompi@6e6ed62a has not bee cherry-picked in 2.x.

[2016-05-18 06:24] bharatpotnuri commented on #1664
The main thread of rank1 is looping endlessly at opal_progress(), as it doesn't find registered callbacks for progressing further.

Below is the snippet of code, where is fails to get registered callback:
opal/runtime/opal_progress.c:187
187     /* progress all registered callbacks */
188     for (i = 0 ; i < callbacks_len ; ++i) {
189         events += (callbacks[i])();
190     }

Below is the ba

[2016-05-18 10:37] jsquyres commented on #1664
@bharatpotnuri @larrystevenwise Github pro tip: use three back ticks on a line to start and end verbose blocks. See https://help.github.com/articles/basic-writing-and-formatting-syntax/ for more github markdown formatting.

[2016-05-18 10:44] jsquyres commented on #1664
So just to be clear: you're saying that `opal_progress()` is not ending up calling `btl_openib_progress()` in its loop over the `callbacks[]` array?

Hmm.  I'm not sure how this could happen -- that the openib BTL was evidently selected for use, but then didn't have its progress function registered with the main progression engine (that should be done up in ob1, actually).

* What message is being

[2016-05-18 10:54] bharatpotnuri commented on #1664
Yes opal_progress is not calling btl_openib_component_progress().
The difference in code flow between working case(mpi_add_procs_cutoff > 3 for np=2 ) and stall case(mpi_add_procs_cutoff = 0 for np=2) is nprocs value is 1 in case of stall and 2 in working case.
Following the code back, nprocs is propagated through mca_pml_ob1_add_procs(). I am checking further how it gets called.
I am checking ans

[2016-05-18 12:30] bharatpotnuri commented on #1664
This is the test command which stalls:
[code]

[2016-05-18 13:03] bharatpotnuri commented on #1664
- What message is being sent by the openib BTL? Is it an MPI message, or some type of control / initialization message?
- Is the openib BTL being selected for use?

@jsquyres Could you please tell me what to check for in MPI code, for your above two questions. I couldn't figure it out from ompi code.

[2016-05-18 13:35] jsquyres commented on #1664
I chatted with @hjelmn about this in IM.  He's thinking that the issue might be in bml/r2 somewhere (r2 is the code that ob1 uses to multiplex over all of its BTLs), because r2 is where the BTL component progress functions are supposed to be registered.

He's poking into this today to see what's going on...

[2016-05-18 16:12] #120 closed

[2016-05-18 18:15] larrystevenwise commented on #1664
Perhaps this issue has something to do with the fact that cxgb4/iwarp is using the rdmacm CPC, and thus the CTS message?    I see with openib/mlx4, which does not stall, the rdmacm CPC is not being used.
[code]

[2016-05-18 18:32] hjelmn commented on #1664
Nah. This is caused by your network not supporting loopback. In that case openib is disqualified on the initial add_procs (local procs) only but then selected on a future add_proc call. mlnx isn't affected as the openib btl is not disqualified on local procs.

[2016-05-18 18:35] larrystevenwise opened #1676 "openmpi-2.0.0rc2: mtl/ofi/verbs being chosen over pml/ob1/btl/openib"
I haven't figured out how I get the systems in this state, but somehow I'm seeing the cm pml is being chosen over ob1.  This results in the following error:
[code]
Bumping up the ob1 priority works around the problem:
[code]

[2016-05-18 18:39] larrystevenwise commented on #1664
@hjelmn, I include 'self' in the btl list.   And cxgb4 does support hw loopback...

[2016-05-18 18:41] larrystevenwise commented on #1664
cxgb4 rdma hw loopback is working:
[code]

[2016-05-18 18:42] larrystevenwise commented on #1664
oops: disregard my last two posts: wrong issue number :(

[2016-05-18 18:43] larrystevenwise commented on #1664
cxgb4 does support hw loobpack, but maybe the openib btl doesn't know that?

[2016-05-18 18:46] larrystevenwise commented on #1664
Ah.  from mca_btl_openib_add_procs():
[code]

[2016-05-18 18:47] larrystevenwise commented on #1664
cxgb3 did not support hw loobpack.  cxgb4 and beyond does.

[2016-05-18 18:48] jsquyres commented on #1664
I think @hjelmn will reply with detail shortly about what he just found.

@larrystevenwise Feel free to submit a PR to amend that `#if` block you just found.  It needs to be a generic solution, though -- we have avoided "if device X, do Y" kinds of hard-coding in the openib BTL.

[2016-05-18 18:56] larrystevenwise commented on #1676
on rank0, ob1 and cm have the same priority, and ob1 is selected:
[code]
on rank1, ob1 has 20 and cm has 25, so cm selected:
[code]

[2016-05-18 19:02] larrystevenwise commented on #1664
@jsquyres I'll look into a way to detect hw loobpack support.  But the OpenFabrics Verbs API doesn't advertise this capability from what I can tell.

But the 'self' btl was included in the mpirun, so maybe the openib shouldn't be disqualified?

[2016-05-18 19:14] larrystevenwise commented on #1664
One gross way to detect hw loopback in openib is to attempt a hw loopback connection as part of module init...

[2016-05-18 19:39] hjelmn commented on #1664
We already do that in the openib add_procs. You can remove the ```#if``` block and see if it is working with your hardware.

I am working on a fix so it will not hang when local communication is not available. Should be ready shortly.

[2016-05-18 19:49] larrystevenwise commented on #1676
Looks like mtl ofi is being selected on rank 1 with priority 25, and not at all on rank0:
rank0:
[code]
rank 1 selects mtl ofi:
[code]

I think the issue is stevo4 has libfabrics installed or setup to include the 'verbs' provider...

[2016-05-18 19:56] larrystevenwise commented on #1676
If i exclude 'verbs' from the ofi components via '--mca mtl_ofi_provider_exclude verbs', then stevo4 selects "sockets" and the job runs very slowly.  If I exclude all mtl components, then the job ends up using openib/iwarp and runs lickety split.

I'm not sure why the ofi mtl is being used on stevo4 and not on stevo3.

[2016-05-18 20:04] larrystevenwise commented on #1676
stevo3 (the rank that was getting "mtl_ofi_component.c:329: fi_endpoint failed: No such device" error turned out to have an older libfabrics installed and I think that was getting loaded.  I removed that and now both ranks choose mtl/ofi/verbs.  But both fail here:
[code]

[2016-05-18 20:19] larrystevenwise commented on #1664
Removing the 2 blocks in btl_openib.c that excluded iwarp devices works around the issue.

[code]

[2016-05-18 20:22] larrystevenwise commented on #1676
@jsquyres - any thoughts on this one?  Thanks.

[2016-05-18 20:42] jsquyres commented on #1664
@larrystevenwise Another github pro tip: you can tell github how it should syntax hilight your verbatim blocks.  For example, trail the 3 back ticks with "diff" (without the quotes) and it tells Github to render that verbatim block with diff syntax hilighting.

[2016-05-18 20:45] larrystevenwise commented on #1664
nifty!

[2016-05-18 21:04] larrystevenwise commented on #1676
Why would ompi/mtl/ofi/sockets be chosen over opal/btl/openib?
Why would ompi/mtl/ofi/verbs be chosen over opal/btl/openib?

Trying to wrap my noodle around this...

[2016-05-19 00:10] ggouaillardet commented on #1676
@larrystevenwise i cannot help with the details of libfabric fail.
if i remember correctly, ```cm``` default priority is higher than ```ob1```, so in your case, ```cm``` is chosen by design. if you want to use ```ob1```, then you have to force it.

you wrote that both pml have priority 20 on rank 0 (stevo3)
my understanding of the logs on rank0 is that ```ob1``` has priority 20, and ```cm``` is di

[2016-05-19 00:13] jsquyres commented on #1674
Fixed via open-mpi/ompi-release#1168.

[2016-05-19 00:13] #1674 closed

[2016-05-19 00:37] hjelmn commented on #1676
@ggouaillardet pml/cm is only supposed to have higher priority if certain mtls are enabled (mtl/psm, mtl/psm2). mtl/ofi is not one of those so it's priority is erroneous. It should be 15 if I remember not 25. Will fix this.

[2016-05-19 00:42] hjelmn commented on #1676
Looks like a commit that should never have gone into 2.0.0 went in. This commit will be reverted: https://github.com/open-mpi/ompi-release/commit/1b5637d5a3834a1761025f7b24690e3115e9a168

[2016-05-19 00:50] hjelmn commented on #1676
@larrystevenwise Thank you for reporting this. The affected systems we have either have psm or mxm installed so we were explicitly adding -mca pml ob1.

[2016-05-19 09:34] bharatpotnuri commented on #1664
By removing the 2 blocks in `btl_openib.c` that excluded iWARP devices works around the issue. The test seems to be working but is failing to complete.
[code]
The main thread is waiting at `rdmacm_endpoint_finalize()`. Below is the back-trace of rank 1:
[code]
ompi-release/opal/mca/btl/openib/connect/btl_openib_connect_rdmacm.c:1231
[code]
I am running the test with git `ompi-release repo`, "commi

[2016-05-19 11:13] bharatpotnuri commented on #1664
Please ignore my above comment.
I have tested with `commit a679cc072b9458957671886062c643f6a40b0351 bml/r2: always add btl progress function`, it is working fine with iWARP and fixes the issue.

[2016-05-19 11:33] jsquyres commented on #1664
Great!  @hjelmn please PR to v2.x if you have not done so already.

[2016-05-19 14:27] larrystevenwise commented on #1676
You're welcome @hjelmn !  Should you also revert the priority to 15 in the ompi master branch?

[2016-05-19 14:29] larrystevenwise commented on #1664
So should i close this issue out now?

[2016-05-19 15:07] #1664 closed

[2016-05-19 17:50] larrystevenwise commented on #1676
Should https://github.com/open-mpi/ompi/commit/889c76634e0dfb03bd30a624c32d37fae52f840f be reverted as well?

[2016-05-20 10:06] artpol84 opened #1683 "`make distclean` is broken when configured with external libraries"
When I'm configuring OMPI with external libevent/pmix/hwloc I can't `make distclean` getting the following error:
[code]

[2016-05-20 12:13] sthibaul opened #1684 "memchecker segfaults on 0-byte datatype"
Hello,

This is with openmpi 1.10.2.

We use a 0-byte datatype to be able to pass NULL to MPI_Send, but when using memchecker this fails. See attached test case (oddly enough, github refused the .c file, so I  have renamed it to .txt...):

$ mpicc test-void.c -o test-void
$ mpirun -np 2 valgrind ./test-void
...
==17802== Invalid read of size 2
==17802==    at 0x4EA5560: PMPI_Recv (in /usr/lib/open

[2016-05-20 15:00] bosilca commented on #1684
@sthibaul this might be an issue in the 10.2.0. Looking the next stable, and on the master, there is a similar check already in the memchecker_call. To be more descriptive, if a datatype is empty, very few fields are initialized inside the datatype, and certainly the opt_desc (which stand for optimized description) is not one of them. On the memchecker.h file if the count is 0 or if the datatype s

[2016-05-20 15:20] rhc54 commented on #1684
@bosilca Just to clarify for the old fossil brain - are you saying this looks to be fixed in 1.10.3rc? Or do we need to port something over from master?

[2016-05-20 15:29] bosilca commented on #1684
This looks fixed in all the pending releases (as well as in the master).

[2016-05-20 15:31] rhc54 commented on #1684
kewl - thanks!

[2016-05-20 17:05] hjelmn commented on #1666
Forum agrees with you but I have a fundamental disagreement with the forum over the existence of MPI_MAXLOC/MPI_MINLOC. They require special types that do not even begin to cover the types users might want to use (there is an open forum ticket to add more). I am going to push for deprecation in MPI-4. In the meantime I will add support for these non-contiguous (which is the real problem) type. The

[2016-05-21 17:23] #1676 closed

[2016-05-23 02:47] Zhiming-Wang opened #1686 "About mpiCC/mpic++/mpicxx"
As far as I know; the C++ MPI bindings is disabled by default at v2.0.
// "configure" file at openmpi-2.0.0rc2.tar.bz2
145   --enable-mpi-cxx        enable C++ MPI bindings (default: disabled)

I installed openmpi-2.0.0rc2 without manually add "enable-mpi-cxx", but mpiCC/mpic++/mpicxx exist and do not work. I think they should be removed to avoid confusion the user, if "enable-mpi-cxx" is not spec

[2016-05-23 03:13] Zhiming-Wang commented on #1666
@hjelmn Thanks very much.

[2016-05-23 13:24] jsquyres commented on #1686
Can you clarify what you mean by "they do not work"?

AFAIK, they still work just fine -- you can compile C++-based MPI applications, and use the MPI C++ bindings (that were, indeed, removed in MPI-3.0, but at still allowed to be in MPI implementations).

[2016-05-23 14:28] jsquyres commented on #1684
@bosilca I'm assuming we should therefore close this issue.

[2016-05-23 14:28] #1684 closed

[2016-05-23 14:39] larrystevenwise commented on #1676
I don't think: https://github.com/open-mpi/ompi/commit/31bfeede82957d15b7cc1efe6897162e303bbca7 fixes this issue.  It fixes #1664

[2016-05-23 14:43] larrystevenwise commented on #1676
@hjelmn - can you please point me at the commit that resolves this in ompi/master?  Also, i just pulled ompi-release and I don't see the revert commit.  So should this issue really be closed?

[2016-05-23 14:46] larrystevenwise commented on #1676
never mind, I guess the fix is this PR: https://github.com/open-mpi/ompi/pull/1680

[2016-05-24 01:37] Zhiming-Wang commented on #1686
Sorry, I forget that user can access the C bindings from C++. The mpiCC/mpic++/mpicxx are needed.
I closed the issue. Thanks @jsquyres

[2016-05-24 01:37] #1686 closed

[2016-05-24 13:06] jsquyres opened #1694 "Heterogeneous builds broken (master and v2.x)"
From https://mtt.open-mpi.org/index.php?do_redir=2324 (master, but v2.x is the same):

[code]

@bosilca @ggouaillardet

[2016-05-24 14:17] bosilca commented on #1694
These are harmless warnings (a more picky compiler than usual). The real culprit seems to be the ddt_pack test, which aborted. Can you provide a stack trace ?

[2016-05-24 14:30] vondele commented on #587
At least with openmpi 1.8.6 this problem is not fixed using MPI_STATUSES_IGNORE:

       CALL mpi_waitall(count, requests, MPI_STATUSES_IGNORE, ierr)
                                                                  1
Error: There is no specific subroutine for the generic ‘mpi_waitall’ at (1)

[2016-05-24 14:39] jsquyres commented on #587
On May 24, 2016, at 10:30 AM, Joost VandeVondele <notifications@github.com> wrote:

This was likely a bug in the v1.8.8 Fortran interfaces.  Try upgrading to the latest v1.10.x version.

--
Jeff Squyres
jsquyres@cisco.com
For corporate legal information go to: http://www.cisco.com/web/about/doing_business/legal/cri/

[2016-05-24 15:07] jsquyres commented on #1620
Is there any chance you can upgrade to the latest Open MPI v1.10.x series?

I ask because both the v1.7 and v1.8 series are frozen / done -- bug fixes are being applied to the v1.10 series.

[2016-05-24 15:10] jsquyres commented on #1694
Here's the bt:

[code]

[2016-05-24 15:19] hppritcha commented on #652
closing this.

[2016-05-24 15:19] #652 closed

[2016-05-24 15:49] jsquyres opened #1695 "Improve how BTL progress functions are registered"
Per open-mpi/ompi#1676 and https://github.com/open-mpi/ompi-release/pull/1174, we probably want to improve how BTL progress functions are invoked.  Suggestions:
1. Separate, low-priority progress functions for advancement of incoming connections.
2. Don't have R2 always register BTL progress functions -- let BTLs register their own progress functions as they see fit (or not).
3. Might be better to

[2016-05-24 16:04] jsquyres opened #1696 "Add the request completion refactor to v2.x branch"
Per discussion on the 2016-05-24 webex, we have decided that we need the request completion refactor (https://github.com/open-mpi/ompi/pull/1422) as a critical performance improvement for the v2.0.0 release.

[2016-05-24 17:12] vondele commented on #587
The issue is still present in v1.10.2 if the requests are a rank 2 array.

   SUBROUTINE mp_waitall_2(requests)
      USE mpi
      INTEGER, DIMENSION(:, :), INTENT(inout)  :: requests
      INTEGER                                  :: ierr
      INTEGER                                  :: count
      count = SIZE(requests)
      CALL mpi_waitall(count, requests, MPI_STATUSES_IGNORE, ierr)
   END S

[2016-05-24 17:23] rhc54 commented on #587
@jsquyres was probably asking you to test the 1.10.3 nightly tarball as it contains fixes that might deal with this - at least, some things went in that discussed this issue.

https://www.open-mpi.org/nightly/v1.10/

[2016-05-24 17:26] hppritcha opened #1698 "java bindings error handling could use improving"
The OMPI native method error handling code ```ompi_java_exceptionCheck``` could use some improving.  In particular, there are some cases where the MPI native code might return MPI_SUCCESS, but actually the JNI support code detected something was amiss and had thrown an exception.  Currently this case is not being handled correctly.

The two attached test cases illustrate the problem.  In the first

[2016-05-24 17:37] jsquyres commented on #587
I am not a Fortran expert: does your declaration of `requests` match what is required by the MPI spec?

[code]

I'm asking specifically about your use of `DIMENSION(:, :)`.  I notice that if you change it to `DIMENSION(:)`, the program compiles fine.

[2016-05-24 18:23] jsquyres opened #1699 "v1.10 build failing on some platforms with link error: missing -pthread"
On RHEL 6.5, it looks like the addition of

[code]

in https://github.com/open-mpi/ompi-release/pull/1181 caused `-pthread` to disappear from CFLAGS ( found this via git bisect).  This PR was merged after the nightly v1.10 snapshot tarball was made last night, so it didn't show up in MTT results from last night.

Specifically, before this commit, config.log shows:

[code]

and then configure later

[2016-05-24 18:31] jsquyres commented on #1699
I'm afraid I don't have cycles to look into this -- who has a few free cycles to chase this down?

[2016-05-24 19:02] vondele commented on #587
It would not be compatible with the interface definition you provide.

It would be compatible with a declaration such as

subroutine MPI_Waitall(count, array_of_requests, array_of_statuses, ierror)
  integer, intent(in) :: count
  integer, dimension(*), intent(inout) :: array_of_requests
  integer, dimension(MPI_STATUS_SIZE, *), intent(out) :: array_of_statuses
  integer, intent(out) :: ierror
end

[2016-05-24 20:00] jsquyres commented on #587
Wait, I don't think you're correct.  :-)

Note that MPI-3.1 has *two* Fortran interfaces:

[code]

The `count` length of requests is only specified for the F08 binding -- it is not specified for the `mpif.h` / `use mpi` bindings.  So if OMPI is forcing requests to have a specific dimension size (i.e., count), that seems like a bug.

Right?  (again, I'm not a Fortran expert... please confirm!)

[2016-05-24 21:22] sjeaugey opened #1702 "rcache/grdma : build broken for CUDA GDR"
As reported by MTT. Build fails at rcache_grdma_module.c:486 ('base' undeclared).

[2016-05-24 21:57] hjelmn commented on #1702
Not in a release so removing blocker flag.

[2016-05-24 21:57] hjelmn commented on #1702
Will be fixed once jenkins finishes on #1703.

[2016-05-24 22:08] sjeaugey commented on #1702
Thanks for the fix. I was not sure indeed if flags were relevant outside of releases.

[2016-05-24 22:11] hjelmn commented on #1702
No problem. The flags tend to be used for releases since there is no blocking master :).

[2016-05-24 22:30] bosilca commented on #1699
pthread is pulled automatically by -lrt as there is a dependence (at least on RedHat). This might explain why -lpthread disappear from the linking flags.

[2016-05-24 22:39] rhc54 commented on #1699
so maybe someone with an affected system could please check adding -lpthread back to the CFLAGS after that check? my system works, and so this isn't something i can check

[2016-05-25 00:30] sjeaugey commented on #1702
:+1: I confirm that fixed the build issue. Should be reflected in two days in MTT.

[2016-05-25 01:07] #1699 closed

[2016-05-25 01:15] jsquyres commented on #1699
@bosilca FWIW: it was sorta related to that.  What you describe explains why the problem doesn't happen on RHEL7.  But it doesn't explain why `configure` was happy with its configure tests with just `-lrt` on RHEL6, but then it *wasn't* happy when compiling `opal_wrapper` (with just `-lrt` and no other pthread flags).

The real fix was on master (https://github.com/open-mpi/ompi/commit/9d9d05b22d4

[2016-05-25 01:52] ggouaillardet commented on #1694
This is related to the issue that was initially reported at http://www.open-mpi.org/community/lists/users/2016/05/29260.php

@bosilca found an issue and fixed it in open-mpi/ompi@16d9f71d01cc and that was backported into v2.x and v1.10.

i also identified an other issue (that unlikely affected the user at that time) which is yet to be solved.
(basically, we do not ```malloc``` enough space for the

[2016-05-25 03:41] bosilca commented on #1694
I think open-mpi/ompi@2b868c4 should solve the problem. I was miscounting (OK ignoring) the space for storing the datatype ID. Now we will overcompute the length of the packed description, but the only impact will be on the local allocation. When the data is packed to be moved to another node (such as one-sided), we are using the length returned by the packing function, value that is correct.

[2016-05-25 04:51] ggouaillardet commented on #1699
fwiw, i noted yet an other "librt crazyness" with Fujitsu compilers.
```-lrt``` is appended under the hood when building a binary, but not when building a shared library.
as a consequence, Open MPI does not find any need for ```-lrt``` and components cannot be dlopen'ed.
as a workaround, i configure with ```--disable-dlopen``` and everything is fine.

[2016-05-25 05:25] beginZero commented on #1620
Thanks for the reply. We have tested OMPI-1.10.0 actually. It is crash though as mentioned earlier in this post.

Anyway, we can try much higher version:)

[2016-05-25 06:49] vondele commented on #587
I see, so yes, I would say that the interface provided by OMPI in 'use mpi' doesn't match the subroutine MPI_WAITALL provided above, i.e. the assumed size vs. explicit-shape problem. The problem is that the current OMPI interface requires a 1D array whereas this is not required by the MPI_WAITALL definition.

Unrelated, it is a pity that mpi_f08 interface requires explicitly a 1D array, using a 2D

[2016-05-25 08:59] amckinstry opened #1705 "Test failure on powerpc and mipsel"
Upstream issue on Debian unstable:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=814183
Also related:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=813722

Two packages (aces3 and petsc) fail to build on powerpc (and mipsel?) with openmpi 1.10.2
This is also seen on Ubuntu.

Logs:
https://launchpadlibrarian.net/238273884/buildlog_ubuntu-xenial-powerpc.petsc_3.6.2.dfsg1-3build2_BUILDING.tx

[2016-05-25 14:49] jsquyres opened #1707 "Compile failures in 29 of 30 MTT builds last night: C++ bindings"
Cisco shows compile failures in 29 out of 30 builds on master last night https://mtt.open-mpi.org/index.php?do_redir=2325.

The problem appears to be when compiling the C++ bindings (i.e., when you specify `--enable-mpi-cxx`) -- there's some kind of implicit casting going on that is fine in C, but not in C++:

[code]

[2016-05-25 16:15] abouteiller opened #1709 "Inconsistent oversubscribe behavior"
I am testing 1.10.3rc3 on our local cluster (cents 6.7). The map-by behavior is generally consistent, except for cores+1 deployments:

with 120 cores total, requesting for 122 processes gives the expected error message about oversubscribing being a bad idea. However, requesting for 121 processes does not give an error, which I believe is incorrect.

See below the replicator.

[code]

[2016-05-25 16:48] #1707 closed

[2016-05-25 17:53] abouteiller opened #1712 "SCIF causing poor collective performance on multicore nodes"
Testing on 1.10.3rc3, I found the following performance issue (big performance issue):

BTL SCIF has a too high exclusivity and will replace vader/sm inappropriately (causing poor performance).

Deployment is 1 rank/core on a 20 core IB56G cluster. Reduce for msglen>=256k, reduce_scatter for msglen>=2k perform extremely poorly in that setup. Notably, allreduce performs a lot better than reduce (!)

[2016-05-25 18:08] abouteiller opened #1713 "Collective performance tuning by default"
Still running tests on 1.10.3rc3, but this is not specific to 1.10 series. We said we do care about out-of-the-box performance, so I am reporting this here.

Performance looks pretty good overall, but there are a couple of performance glitches in the collective performance.  Barrier and allreduce are not optimally tuned by default.
1. allreduce(4bytes) is faster than Barrier
2. reduce(4bytes)+bcas

[2016-05-25 19:14] hjelmn commented on #1712
This was unintentional. Let me take a look at the exclusivity.

[2016-05-25 22:22] rhc54 commented on #1709
Something is indeed wrong - note that we are not hitting an oversubscribe error, but an overload binding error. I'll take a look

[2016-05-26 02:47] rhc54 commented on #1713
Any suggestions on how this can be resolved?

[2016-05-26 03:18] bosilca commented on #1713
At the message and communicator sizes mentioned here the reduce and bcast use a binomial tree, the allreduce uses recursive doubling and barrier use Bruck (like recursive doubling but slightly optimized for non-power of 2). Both recursive doubling and Bruck are using a similar communication scheme, irecv + isend + waitall. The binomial reduce is using a similar scheme (slightly fancier with a doub

[2016-05-26 03:46] rhc54 commented on #1713
Thanks for the explanation! Would it make sense to add topo awareness to tuned for a later release?

[2016-05-26 03:57] bosilca commented on #1713
Definitively, topology awareness and many others low-hanging fruits. As an example, the tuned module could be updated to base it's decisions on slightly more recent network devices (ahem than Myrinet 1G). Open MPI had the supporting infrastructure for few years now, I've been told at the hardware level we also made some progress, and despite that nobody picked the ball.
\<quote> I'm looking forwar

[2016-05-26 04:12] ggouaillardet commented on #1713
@bosilca, there is a ```coll/hierarch``` module in ```v1.10``` but no more since ```v2.x```

do you remember why this was removed ?
wouldn't it be the easiest way to add topo awareness ?
(i mean intra vs inter node communications)

[2016-05-26 04:23] bosilca commented on #1713
My understanding is that hierarch was just a proof of concept for a 2 level hierarchy. As it became unmaintained, and due to lack of interest from the users (possibly because we never turned it on by default) we decided to let it go.

Honestly, a hierarchical module is not a magic solution. It will certainly decrease the the inter-node communications, making it a win for large messages. In exchang

[2016-05-26 17:31] sjeaugey commented on #1702
This issue shows up in v2.x now.

[2016-05-26 18:33] hjelmn commented on #1702
Ah yes. Will backport the change.

[2016-05-26 20:52] abouteiller commented on #1709
With the PR, the behavior is self-consistent for the bynode mode.

The behavior between byslot and bynode is wildly different though. In by slot, using slot+1 ranks gets me ```There are not enough slots available in the system to satisfy the 181 slots```, while in bynode it will happily run oversubscribed.

[2016-05-26 21:13] abouteiller commented on #1713
The hierarch module usually yields worst results for small messages indeed.

I am removing the milestone as this looks like a longer effort than anticipated.

[2016-05-26 21:54] abouteiller commented on #1712
Patch proposed by @hjelmn does fix the issue in 1.10

However, SCIF remains loaded in master because of multirail initialization. Upon reaching some message size, SCIF will get initialized and messages will be fragmented over both transports.

[2016-05-26 22:03] rhc54 commented on #1709
Hmmm...can you tell me if your machinefile is specifying the number of slots on the machines?

[2016-05-26 22:16] rhc54 commented on #1709
never mind - I found the source of the inconsistency. You must have a slots=N line in your hostfile, yes?

When mapping by-node, we weren't checking for oversubscription permission under a specific use-case. I am updating the PR so all these cases are treated the same (i.e., you will get an error for being oversubscribed)

[2016-05-26 22:21] sjeaugey commented on #1702
Not fixed on v2.x

[2016-05-27 14:58] #1712 closed

[2016-05-31 13:22] #1709 closed

[2016-05-31 14:49] jsquyres opened #1732 "--with-valgrind=/path builds broken on master"
The addition of the new hwloc component (v1.11.3) appears to have broken external valgrind builds.

Specifically, early in configure, hwloc1113 checks for `<valgrind/valgrind.h>` and fails to find it.  Note that this is fine for hwloc -- it doesn't need Valgrind support.

However, if OMPI was configured with `--with-valgrind=/location`, then later in configure, then `opal/mca/memchecker/valgrind/c

[2016-05-31 14:53] rhc54 commented on #1732
If hwloc doesn't need valgrind, then why does it include that header and check for it??

[2016-05-31 14:57] jsquyres commented on #1732
hwloc *can* use Valgrind, but it doesn't *need* it.

[2016-06-01 08:56] bgoglin commented on #1732
I committed your code with reworded comments and commit message. Thanks.

[2016-06-01 15:14] #1732 closed

[2016-06-02 09:10] plesn opened #1744 "MPI_Abort(0) in srun/pmi2 aborts only current process"
The `PMI2_Abort()` function aborts all processes when the flag is
non-zero, otherwise it exits only current process. The MPI spec for
`MPI_Abort()` says it should abort all tasks (on a best effort basis)
and return the error code. So strictly speaking we may be ok even
though we don't abort.

If user calls MPI_Abort with 0, should we rather abort all processes
at the cost of changing the error cod

[2016-06-02 14:06] rhc54 commented on #1744
Since slurm specifically documents their behavior, it seems to me that we would be causing considerable confusion if we changed it under-the-covers.

[2016-06-02 14:06] #1744 closed

[2016-06-02 14:28] hjelmn opened #1745 "__atomic builtins failing Travis CI on master"
New atomics were merged before I could debug this. Building a 10.9.x virtual machine to figure out why they are failing.

[2016-06-03 18:44] #1631 closed

[2016-06-03 22:46] beginZero commented on #1620
Sorry for the late reply. We just tested it with the latest version.

We have even tested the latest version 1.10.2 as well as 1.10.0 and 1.7. The bug still occurs. Most importantly, we happened to find the triggering case for this type of bug is interesting. We use the osu_alltoallv from OSU benchmark suite to perform the testing. This benchmark will iteratively test message size from 1 bytes, 2

[2016-06-03 22:48] beginZero commented on #1620
Continue...

If we just start testing from size 512 Kilobytes , it fails almost deterministically. But if we start from 1byte, it can successfully pass the test on 512 Kilobytes and even goes to several megabytes without any problems.

[2016-06-03 23:17] sjeaugey opened #1751 "rpool/rgpusm : segmentation fault in finalize"
As reported by MTT, all tests compiled with CUDA support crash during MPI_Finalize in mca_mpool_rgpusm_finalize.

Here is the stack trace :
[code]

I will try to get a better trace with the exact location where we crash.

[2016-06-03 23:18] sjeaugey commented on #1702
Build is fixed in v2.x.
Closing this one.

[2016-06-03 23:18] #1702 closed

[2016-06-04 02:30] hjelmn commented on #1751
Weird, mpool/grdma has the same line at the end and rcache/vma definitely has an rcache_clean function... Will test on one of our clusters over the weekend and see if I can reproduce the bug.

[2016-06-04 03:08] bosilca commented on #1620
The only way to replicate the deadlock is to add a non-connected network interface. As you state that you have tried to restrict Open MPI to a single interface (I assume using --mca btl_tcp_if_include) I am running out of ideas regarding the reason of such a deadlock.

[2016-06-06 01:26] kawashima-fj opened #1753 "Missing Fortran named constants for predefined datatypes"
@bosilca, I found a Fortran/datatype bug and am trying to fix it but I want to hear your opinion.
The bug is that a Fortran program cannot be compiled if it uses some predefined datatypes.
The cause is that those datatypes are not defined or incorrectly defined in `include/mpif-handles.h`, which is created by `ompi/include/mpif-values.pl`.

The missing datatypes are:
- `MPI_C_BOOL`
- `MPI_LONG_LON

[2016-06-06 04:19] yukiM-fj opened #1754 "Wrong result on non-blocking collectives with user-defined op"
Our team(Fujitsu MPI team) found a problem in libnbc at Open MPI 2.0.0rc1.
Results may be wrong when using non-blocking collectives with user-defined op.
The problem occurrs because of the following two reasons:
 - Non-commutative operations are not considered in libnbc.
 - Results may be overwritten unexpectedly in ompi_3buff_op_user() function.
   - Overwritten when src2 and dst are pointed same

[2016-06-06 08:28] ggouaillardet commented on #1754
with two ranks, this looks like a bug in Open MPI and here is a patch
[code]

i will double check what happens with 3 tasks and more.

if i understand the standard correctly, a user defined reduction __must__ be associative but might not be commutative, am i right ?

[2016-06-06 13:20] ggouaillardet commented on #1754
@bosilca

[code]

basically, it does
```result = op(source2, source1)```
which is counter-intuitive (at least to me ...), is this intentional ?

also, it does not work if ```result == source2```

that being said, libnbc could/should be rewritten to use ```ompi_op_reduce```, I will work on that tomorrow

[2016-06-07 00:09] sjeaugey opened #1759 "MPI_Waitany broken"
All MPI_Waitany are now failing on master on NVIDIA MTT.

Seems like a consequence of the request refactoring.

[2016-06-07 02:54] ggouaillardet commented on #1754
@yukiM-fj i made PR #1760 for master

the inline patch is for v2.x
[code]

could you please give it a try ?

fwiw, if i replace ```MPI_Iallreduce``` by ```MPI_Ireduce``` followed by ```MPI_Bcast```, wrong behavior is observed.

i will review this and other non blocking collectives that use ```MPI_Op```

thanks for the report and test case, it was very helpful !

[2016-06-07 05:49] yukiM-fj commented on #1754
@ggouaillardet, thank you. I try building & testing your PR now.
I think so, too (a user defined reduction must be associative but may be non-commutative ) .

fwiw, I add other TPs at [gist](https://gist.github.com/yukiM-fj/af4db4885c51d2de39ba59a98cd62168)
These TPs are checking non-blocking collectives (iscan, iexscan, ireduce_scatter, and ireduce_scatter_block).  But not check recently Open MPI

[2016-06-07 05:55] ggouaillardet commented on #1754
@yukiM-fj thanks !
do you mind me adding these test to the open-mpi/ompi-tests test suite ?

out of curiosity, what is the difference between Open MPI and Fujitsu MPI regarding non blocking collectives ?
does Fujitsu MPI use ```libnbc``` ? an other (proprietary ?) module ?

[2016-06-07 06:11] yukiM-fj commented on #1754
@ggouaillardet  it is ok to adding these tests.
Fujitsu MPI also use libnbc. But Fujitsu MPI has already fixed this issue.
Some issues are fixed in Fujitsu MPI, but not fixed in Open MPI.
So, we're trying to PR or issue now...

[2016-06-07 06:12] yukiM-fj commented on #1754
Sorry! I missed operation.

[2016-06-07 06:43] yukiM-fj commented on #1754
@ggouaillardet, I tested your PR with these tests in my gist.
Then, iallreduce, iscan, iexscan look OK, but ireduce, ireduce_scatter and ireduce_scatter_block are abort.

[2016-06-07 06:51] ggouaillardet commented on #1754
@yukiM-fj i just pushed some more commits into #1760
all tests should pass now.
please note there is still an issue with how temporary buffers are allocated/used.
it is basically broken if ```lower_bound``` is non zero, or if ```extent < true_extent```
i will also consider some code factorization, since the binomial reduce algo is duplicated in several places.

[2016-06-07 07:28] yukiM-fj commented on #1754
@ggouaillardet  I look your PR, but may be tomorrow...

binomial ireduce alg needs more buffer when op is non-commutative.
Root may not be 0 , but communication and computation is like that root is 0.
And recvbuf may be not exist when rank is not root, so need other temporary buffer.
so  i wrote [gist](https://gist.github.com/yukiM-fj/a4e4245b6954c15715e77881afb80fba) when alg selection.
(Sorry, i

[2016-06-07 07:36] ggouaillardet commented on #1754
@yukiM-fj i kind of simplified that
when root is not zero and op is not commutative, then the reduction is done on rank 0, and the result is sent to root.
regardless root, root rank has one temp buffer and recv buffer, and other ranks have two temp buffers, so i think this is fine ... did i miss something ?

[2016-06-07 11:47] nysal opened #1762 "MPI_File_open not thread safe"
MPI_File_open() loads the io framework lazily, which is not thread safe

[code]

We should probably protect this with a mutex. Should we just use the bootstrap mutex used in MPI_Init ? The same problem exists in a few other areas too - MPI_File_delete, MPI_Register_datarep

[2016-06-07 11:55] nysal opened #1763 "Tuned bcast data corruption"
There are multiple issues with bcast algorithms when the tasks involved specify different counts and datatypes for a given bcast operation.

One low hanging fix is :
[code]
I'm seeing issues with both the pipelined and split binary tree algorithms. This is probably a known issue with pipelined algorithms in tuned module. We should probably start discussing the right approach to solve this.

Here's

[2016-06-07 12:44] ggouaillardet commented on #1763
I confirm this is a known issue.
iirc, the workaround is to force the segment size to zero.
there has been some discussions on how to fix that, one of them involves flatten datatypes.
generally speaking, this requires an internal copy, which does impact performances.

[2016-06-07 14:08] hiliev opened #1764 "Handling of datatypes with initial gaps in certain in-place collectives"
It seems that the handling of datatypes with initial gaps is broken when it comes to in-place collectives such as `MPI_Allreduce`.

[code]

Expected output with two processes: two times `2`. Actual result: segmentation fault in `non_overlap_copy_content_same_ddt`.

The culprit seems to be the following code from `coll_base_allreduce.c`:

[code]

I believe that `inplacebuf` should be adjusted down

[2016-06-07 15:52] sjeaugey commented on #1759
This is not limited to ib or CUDA, it fails also with tcp.

[2016-06-07 16:03] jsquyres opened #1765 "Document that MPI_FILE operations are not THREAD_MULTIPLE_SAFE"
Per @nysal #1762, and per discussion with @edgargabriel, it sounds like we don't have much confidence in THREAD_MULTIPLE for MPI_FILE operations.  So we need to document this in the README or somesuch.

[2016-06-07 16:24] jsquyres commented on #1759
See some Cisco MTT fails for the Waitany tests: https://mtt.open-mpi.org/index.php?do_redir=2331

[2016-06-08 06:37] yukiM-fj commented on #1754
@ggouaillardet , I look your PR. I think your modification is ok.
But I'm still confused by two following things.
1. we need to check non-collective reductions with **inter-communicator**?
2. I don't understand well "it is basically broken if lower_bound is non zero, or if extent < true_extent ".
If I understand correctly about 2, result may be still wrong with your PR when use specified datatype

[2016-06-08 07:21] dalcinl commented on #1633
@edgargabriel @jsquyres There are still issues with `MPI_File_preallocate()`. The following extended example calls preallocate with a size less than the current file size. According to the MPI standard (page 498, lines 23-25), the file size should not change

[code]

[code]

[2016-06-08 08:02] ggouaillardet commented on #1764
thanks for the report, i fixed that in open-mpi/ompi@0e393195d9f2373ffa9d59a240092f643117cd39

```inplacebuf``` is now adjusted with ```gap``` and ```inplacebuf_free``` is used to free the buffer upon completion. this is the paradigm we use/should be using everywhere else.
i also fixed MPI_Reduce which has a similar issue.
i should review all the collectives, but that might take some time, meanwhi

[2016-06-08 08:10] ggouaillardet commented on #1754
@yukiM-fj i did not check non blocking collectives with inter communicator, but they are likely busted as well. if you have some test cases, they are more than welcome !

note i just pushed open-mpi/ompi@0e393195d9f2373ffa9d59a240092f643117cd39, it fixes blocking (all)reduce.

i updated the PR with a checkpoint of my work, it fixes all the test cases i wrote based on yours.
i also added variants w

[2016-06-08 10:58] bosilca commented on #1763
Indeed, the problem is that despite the fact that all processes must provide the same type signature, they can provide different counts, and the collective algorithm selection will be unable to cut the datatype at the expected boundary. Thus flattening the datatype, will generate the packed type that match the user provided type on all processes, a type that can be easily split in multiple fragmen

[2016-06-08 12:44] ggouaillardet commented on #1763
i like the second option better

consider the following academic case
- one hand sends n MPI_BYTE
- the other hand sends one ddt, which is m MPI_BYTE followed by padding and then (n-m) MPI_BYTE
- m is a prime number

the only way I can think of sending data into several pieces is to copy the data into a buffer (flatten datatype) first.
this is very unefficient ...

so let's enhance the PML framewo

[2016-06-08 13:33] jsquyres opened #1771 "pmix use of strnlen is not portable"
As reported by @siegmargross http://www.open-mpi.org/community/lists/users/2016/06/29405.php, Solaris 10 does not have `strnlen`.  It is used in the pmix 114 component:

[code]

@rhc54 Can you add a quick configure test to PMIx and use an alternate when `strnlen` is not available?

[2016-06-08 14:19] nysal commented on #1763
I like the second suggestion better as well. So this will require an addition to the pml send interface. Lets discuss how that might look like. So an interface where we pass a convertor to the PML will be sufficient ?

[2016-06-08 14:35] edgargabriel commented on #1633
I'll have a look

[2016-06-08 14:51] bosilca commented on #1763
@ggouaillardet I don't think we can make this work the way you describe. My suggestion was that instead of the usual (pointer, datatype, count) we provide a well formed convertor and a length to the isend/irecv calls. This means that we maintain the same semantics as today (including matching per message), but we gain more flexibility on what par of the user data become a message by itself.

@ggou

[2016-06-08 15:48] rhc54 commented on #1771
I'm afraid you are a little late for the PMIx 1.1.4 release, but I can do something for inside OMPI and add it to PMIx for a future release. It means that we won't support Solaris 10 based on distro packages, but that is probably too big of a problem - any such users will just have to build OMPI themselves using the internal PMIx support.

[2016-06-08 16:37] rhc54 commented on #1771
Someone with access to a machine that does not have strnlen might want to check this to ensure I got it right

[2016-06-08 17:37] sjeaugey commented on #1751
Fixed by PR  ompi-release/#1218.

[2016-06-08 17:37] #1751 closed

[2016-06-08 17:40] sjeaugey commented on #1759
Fixed by #1766.

[2016-06-08 17:40] #1759 closed

[2016-06-08 19:19] #1771 closed

[2016-06-08 23:51] kawashima-fj commented on #1753
@bosilca Could  you comment?

[2016-06-09 00:01] ggouaillardet commented on #1763
@bosilca ok for the pml extension you suggested

back to the academic case, this is something i never understood ... but i d like to understand at some point in time ...

let's create the ```ddt``` with
```MPI_Type_create_struct(2, {3,1}, {0,4}, MPI_BYTE, &ddt);```

and let's have one task call
[code]
and an other one call
[code]
and we want to split the message into two (two bytes) chunks.

that

[2016-06-09 20:02] beginZero commented on #1620
Wow... It is my bad. When I try to restrict communication to a single interface, I write btl_tcp_if_include as btl_if_include. Thanks for reminding me that.

I test it in the correct way then. It works great if we fix it to ib0, but it fails when we fix it to eth0. And it works both with 1.7 and 1.10.0.

It is strange how the failure with eth0 relates to the message size: when the message size gro

[2016-06-10 05:13] yukiM-fj commented on #1754
@ggouaillardet , thank you for your PR(blocking allreduce fix) and test.
I understood what you thought problem. I also need to consider user-defined datatype...

I wrote test using iallreduce with intercommunicator and non-commutative op in my [gist](https://gist.github.com/yukiM-fj/4d7eca1873d2f1b83e2cd9f87cdb4ad6)
And It is wrong answer with Open MPI 2.0.0rc2.

[2016-06-10 08:09] ggouaillardet commented on #1754
thanks for the test case, i pushed an other commit into #1760

[2016-06-11 18:57] eschnett opened #1776 "OpenMPI puts `-L/usr/lib` into `libmpi.la`"
OpenMPI 1.10 (and 1.8) put the system library directory `/usr/lib` into the library search path. This leads to the following problem:
- I have installed OpenMPI myself
- I am now building HDF5 with MPI support (using `CC=/my/openmpi/location/bin/mpicc` etc.)
- HDF5 examines the linker flags that OpenMPI needs, and then uses `-L/usr/lib` in its `LDFLAGS`
- The system already has (a different versio

[2016-06-11 19:21] rhc54 commented on #1776
We don't typically do that, so it is either a bug or due to something we picked up. Can you please create a gist and give us your configure cmd line, the output of configure, and the config.log?

[2016-06-11 20:39] eschnett commented on #1776
I believe this was caused by the option `--with-verbs=/usr`. I'm now using `--with-verbs` instead. Thanks for the quick reply!

[2016-06-11 20:39] #1776 closed

[2016-06-13 05:16] nysal commented on #1666
@hjelmn Did you get a chance to look at this one?

[2016-06-13 05:23] hjelmn commented on #1666
Not yet. The fix is actually really complicated. Still planning on pushing on deprecation but need to do some searching to see where these ops are use.

To be clear this is a very low priority ticket for me. I don't think anyone should use this functionality and I will enable it for completeness in the 2.1 or 2.2 timeframe.

[2016-06-14 01:37] ggouaillardet commented on #1754
@yukiM-fj i pushed all your test cases plus my variants in open-mpi/ompi-tests#14

This is a private repository, so if you do not have access to it yet, please ask @jsquyres to grant you access

[2016-06-14 01:44] kawashima-fj commented on #1754
Thanks @ggouaillardet. She is my colleague. I can access ompi-tests and can show her the pull request and the repository.

[2016-06-14 03:44] rhc54 opened #1779 "Disconnect of intercommunicators is failing"
When someone calls MPI_Comm_free or MPI_Comm_disconnect on an intercommunicator, we enter a function called ```ompi_dpm_base_disconnect_init```. That function attempts to execute the following code:

[code]

On the parent process, this code fails every time with an error on the isend side:

[code]
When we do a loop_spawn, these messages queue up until the process consumes all available resources,

[2016-06-14 08:02] yukiM-fj commented on #1754
Thanks @ggouaillardet. I look your ompi-tests (Thanks to @kawashima-fj ) .
And I add some TPs in my [gist](https://gist.github.com/yukiM-fj/ada14280b46ed9dfbcd627b95057b68d) for inter-comm (i)reduce_scatter(_block).
I found another problem that results are wrong with using non-commutative op in MPI_Reduce_scatter & MPI_Reduce_scatter_block (comm is **inter-comm**. )

[2016-06-14 09:37] ggouaillardet commented on #1754
Thanks, i will take care of that tomorrow

[2016-06-14 13:49] edgargabriel commented on #1779
its been a while that I looked at this code, but keep in mind that this is a inter-communicator. Sending a message to process 0 means its process zero from the other group, not to yourself. This function basically mimics a non-blocking barrier operation. The code looks generally ok to me, the only question that I would is why do we use SEND_SYNCHRONOUS instead of the standard send, but even in tha

[2016-06-14 13:51] rhc54 commented on #1779
Is it possible the remote process is exiting before the send can be completed? I'm trying to figure out how it is that the remote proc is "unreachable"

[2016-06-14 13:53] edgargabriel commented on #1779
this should not be possible if both groups call disconnect. However, it could happen if one of the two groups does not call disconnect.

[2016-06-14 13:59] rhc54 commented on #1779
hmmm...the child code is certainly calling disconnect, but i wonder if it doesn't realize that it's an intercomm on its side? something is clearly borked.

[2016-06-14 14:00] ggouaillardet commented on #1779
If comm is an intra communicator, then we do isend/irecv with ourself.
My first impression is that this is dumb but harmless.

[2016-06-14 14:16] ggouaillardet commented on #1779
Are you referring the tests in orte/tests from v1.10 ? or ompi-test repo ?
The loop_spawn test from the ompi-tests repo is a bit different
In ompi-tests, both loop-spawn and loop_child call
MPI_Comm_disconnect(intercomm)
No such thing in v1.10 ...

I am pretty sure MPI_Comm_disconnect is somehow called in MPI_Finalize()
That makes no difference in loop_child, but makes a big one in loop_spawn.
(Al

[2016-06-14 14:16] jsquyres opened #1780 "Fix error code propagation for persistent requests"
Per @bosilca's comment (https://github.com/open-mpi/ompi-release/pull/1199#issuecomment-224670918), error codes are not being propagated properly for persistent requests (after the recent request code revamp).

[2016-06-14 14:40] rhc54 commented on #1779
In orte/tests they call comm_free, which calls disconnect under the covers. However, I tried changing it to directly call disconnect without getting any difference in behavior.

[2016-06-14 15:07] ggouaillardet commented on #1779
@rhc54 which branch ?
Master is ok, v1.10 is not
You need to
MPI_Comm_free(merged_communicator);
__and__
MPI_Comm_disconnect(intercomm);

I am afk and will double check that tomorrow only

[2016-06-14 15:28] rhc54 commented on #1779
Ah, good point - I updated the orte/test version in 1.10 and it now runs cleanly. So it sounds like this is actually an issue with the tests instead of the code.

[2016-06-14 15:34] rhc54 commented on #1779
I agree that the orte/test in master and 2.x is okay, and I checked ompi-tests and that looks okay too. So I think things look okay, and the problem may be in the user's code if they followed the orte/test examples. I fixed the 1.10 example.

[2016-06-14 15:34] #1779 closed

[2016-06-15 06:44] ggouaillardet commented on #1754
@yukiM-fj i updated both my #1760 and the ompi-tests repo

note your tests only work if local and remote groups have the same size, and a necessary condition is to run on an even number of tasks.
ideally these tests would be extended to support odd number of tasks, or non symmetric splits
(for example 8 tasks with a 3+5 split)
```MPI_Reduce_scatter``` and ```MPI_Reduce_scatter_block``` add some re

[2016-06-16 06:28] yukiM-fj commented on #1754
@ggouaillardet I look your PR and test.
I think your PR is OK. I also think your comment for my tests is right.

[2016-06-17 09:12] ggouaillardet commented on #1763
I made #1789 as a proof of concept
Only ob1 implements the extended pml interface for now.
The test case works now except with the openib btl
(I still need to debug some paths in ob1)
Heterogeneous clusters are currently broken.
I pass a size_t* parameter, but i could also pass a size_t, since non blocking subroutine do not update this value (yet)

Any thoughts ?

[2016-06-17 15:40] jsquyres opened #1790 "master/openib BTL failing Mellanox Jenkins test"
From http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/2591/console (which was a test on https://github.com/open-mpi/ompi/pull/1787):

[code]

The error occurred on a PR dealing with ia32 code changes, which should not have affected the Mellanox Jenkins environment.

The output from Jenkins is a bit puzzling; it seems to show at least two different errors:

1. a problem with `mca_btl_openib_

[2016-06-17 16:26] jladd-mlnx commented on #1790
Looks like the same symptom #1716, but now with regular RC.

[2016-06-18 04:17] hjelmn commented on #1790
I think the flex error probably has something to do with it. The error is completely unrelated to the one we saw with #1716. That was caused by overrunning the number of WQEs with XRC. This one is happening with PP and SRQ. I suggest having someone check the SRQ and PP endpoint init functions to see why the WQE count is not getting set right.

[2016-06-18 04:18] hjelmn commented on #1790
It could also be a bug in rdmacm. The WQE initialization for PP and SRQ looks ok to me. udcm doesn't have this issue.

[2016-06-18 13:36] jsquyres opened #1792 "PMIx 2.x malloc+unexpected message warnings"
Getting one of these for each MPI process started when running a debug build on master:

[code]

@rhc54 Can you have a look?

[2016-06-18 13:57] jsquyres commented on #1792
@rhc54 I'm also getting "UNEXEPCTED MESSAGE" outputs, which I discovered were coming from PMIx.

The run below is on the head of master inside a SLURM allocation across 2 nodes.  The warnings show up at the end of the run, and occur most of the time.  In the run below, I'm running just 2 procs even through there are a total of 32 slots available.  I get 2 of these UNEXPECTED warnings:

[code]

If

[2016-06-18 14:05] jsquyres opened #1793 "Hangs when btl_tcp_progress_thread=1"
@bosilca In testing the `btl_tcp_progress_thread=1` functionality on master and v2.x today, runs *usually* -- but not *always* -- hang with even a simple MPI ring program when the progress thread is enabled.

On master, when I run the example ring_c program across 2 servers, if I run with np=2, 10 times out of 10, it runs fine.  But if I run with np=4, 10 times out of 10, it hangs (I limited it do

[2016-06-18 14:11] jsquyres opened #1794 "Patcher component differences between master and v2.x"
@hjelmn I notice that there is a compiler warning with memory_patcher_component.c on the v2.x branch:

[code]

I did a diff between the memory patcher component on master and v2.x and found a bunch of changes between the two -- do these need to be reconciled?

[code]

[2016-06-18 14:31] jsquyres opened #1795 "Differences between master/v2.x request code"
The following warnings come up when compiling on v2.x:

[code]

It looks like at least some of them are due to open-mpi/ompi@b001184e6361fd44a00bd8bfba03b7bdb8bc462c not being applied to v2.x.  However, if I try to cherry pick this commit to v2.x, I get conflicts.

@bosilca @hjelmn Please investigate.

[2016-06-18 14:36] jsquyres opened #1796 "OPAL_ENABLE_THREAD_MULTI usage on v2.x"
@hjelmn @bosilca There is a use of `OPAL_ENABLE_THREAD_MULTI` in bml/r2 on v2.x that is causing a compiler warning (because it isn't defined).  This macro is not used in bml/r2 on master.  With all the thread changes on master recently, I don't know whether it is safe to just delete this `#if` or not.

Master:

[code]

v2.x:

[code]

Please investigate.

[2016-06-18 20:49] #1792 closed

[2016-06-20 13:12] hjelmn commented on #1796
Just delete it. It hasn't existed for a long time.

[2016-06-20 13:13] hjelmn commented on #1795
Conflicts are due to C/R code still existing on master. Will open a PR with a merged cherry pick later today.

[2016-06-20 13:13] hjelmn commented on #1794
Looks like a commit is missing from 2.x. Will investigate.

[2016-06-20 19:13] jsquyres commented on #1796
Closed via https://github.com/open-mpi/ompi-release/pull/1234

[2016-06-20 19:15] jsquyres commented on #1796
Closed via https://github.com/open-mpi/ompi-release/pull/1236

[2016-06-20 19:18] #1796 closed

[2016-06-20 19:18] jsquyres commented on #1694
@ggouaillardet @bosilca Is this now resolved?

[2016-06-20 19:18] jsquyres commented on #1696
This has been done.

[2016-06-20 19:18] #1696 closed

[2016-06-20 19:19] jsquyres commented on #137
@bosilca @thananon It's over a year later.  Is it still an issue?

[2016-06-20 19:20] jsquyres commented on #1633
@edgargabriel How's it going on this one -- has it been resolved?

[2016-06-20 19:20] edgargabriel commented on #1633
It is fixed on master, but I need to file the pr to 2.x.

[2016-06-20 19:21] jsquyres commented on #1633
Could you do so today?  We're really, really trying to get v2.0.0 out... 😄

Thanks!

[2016-06-20 19:23] edgargabriel commented on #1633
ok, I just figured that since the fix to the file_get_byte_offset issue was delayed to 2.0.1, the same will happen to this. I will also need somebody to review this.

[2016-06-20 19:29] jsquyres commented on #1633
Just talking this over with @hppritcha right now... can you get https://github.com/open-mpi/ompi-release/pull/1212 and the fix for this reviewed in the immediate future, perchance?

[2016-06-20 19:30] jsquyres commented on #1633
Sorry -- I hit submit too soon: if you can get both of these reviewed in the immediate future, we can put them both in for v2.0.0.  Thanks!

[2016-06-20 19:31] edgargabriel commented on #1633
Jeff, you want me to push the fix for the preallocate problem into the pr for the get_byte_offset ?

[2016-06-20 19:38] edgargabriel commented on #1633
I just did that, will keep the efforts low for everybody involved

[2016-06-20 19:45] jsquyres commented on #1633
Perfect; many thanks, @edgargabriel

[2016-06-20 19:47] edgargabriel commented on #1633
Jeff, does @vvenkates27 have access to the ompi-tests repository? If not, could you please give him access?

[2016-06-20 19:59] jsquyres commented on #1633
Done.

[2016-06-20 20:14] edgargabriel commented on #1633
Thanks!

[2016-06-20 22:58] vvenkates27 commented on #1633
Thanks for providing access.

[2016-06-21 00:35] jsquyres commented on #1633
Fixed via https://github.com/open-mpi/ompi-release/pull/1212.

[2016-06-21 00:35] #1633 closed

[2016-06-21 15:22] jsquyres commented on #119
@hjelmn Says that this is now resolved -- that whole section of code was re-written (it was a non-issue to begin with).

[2016-06-21 15:22] #119 closed

[2016-06-21 15:23] gpaulsen commented on #1765
Is this true for both OMPIO and ROMIO IO components?

[2016-06-21 15:24] jsquyres commented on #112
According to @hjelmn this behavior is possible in Open MPI v2.0.0.  Resolving.

[2016-06-21 15:24] #112 closed

[2016-06-21 15:26] jsquyres commented on #92
According to @hjelmn we have done mitigation of these code paths (in the BTLs), and it doesn't happen any more.

Keeping this open because it feels like it would be nice if OB1 handled this instead of the BTLs.  Moving it to the Future milestone.

[2016-06-21 16:13] nysal opened #1806 "Single threaded latency with latest request changes"
I was seeing a slowdown in single threaded IMB pingpong latency with the new request code in v2.x branch. ompi_request_wait_completion seems to use the multithreaded version even though I built with --disable-mpi-thread-multiple. The code seems to be guarded with OPAL_ENABLE_MULTI_THREADS, which doesn't look right. There are a few other locations too that seem to use the same check. On discussing

[2016-06-21 16:27] penglz commented on #157
I got the problem with 1.8.x versions and it seems to be solved in latest 1.10.3

[2016-06-21 16:32] hjelmn commented on #157
v2.0.0 will fix this.

[2016-06-21 16:33] rhc54 commented on #157
As noted, it is also solved in 1.10.3, so I'd consider this fixed

[2016-06-21 16:33] #157 closed

[2016-06-21 20:47] #1806 closed

[2016-06-22 04:46] ggouaillardet opened #1809 "ROMIO bug with the NFS filesystem"
As initially reported in http://www.open-mpi.org/community/lists/users/2016/06/29434.php, there is an issue with ROMIO and the NFS filesystem.

this test program can be used to evidence the issue

[code]

this test program uses the [data.txt](https://gist.github.com/ggouaillardet/01c067ba06ca1505bb1cefbec0571dbb)  input file

[code]

works as expected

but

[code]

crashes

this issue has been rep

[2016-06-22 10:43] ggouaillardet commented on #1809
as reported in the mailing list, ADIOI_NFS_WriteStrided should be fixed too in a similar way

[2016-06-23 16:40] jsquyres opened #1813 "Overlap test sometimes failing in Mellanox Jenkins with Yalla"
Mellanox Jenkins is showing a periodic problem with the overlap test using Yalla.  There has been some discussion on https://github.com/open-mpi/ompi-release/pull/1240 about what the actual root cause is, starting around here: https://github.com/open-mpi/ompi-release/pull/1240#issuecomment-227990044.

Please continue the discussion here: @jladd-mlnx @miked-mellanox @artpol84 @nysal @hjelmn

We nee

[2016-06-23 22:28] #1794 closed

[2016-06-23 22:28] #1795 closed

[2016-06-24 16:18] bosilca commented on #137
With the new request completion code I think this issue vanished.

[2016-06-24 16:21] jsquyres commented on #137
Sweet.  Should I close it?  I.e., it "should" have vanished, or "did" vanish?  😸

[2016-06-24 19:05] artpol84 commented on #1813
Here is the analysis and the solution for the problem:
* The root cause of the problem is the **NEW OMPI request handling code**, in particular - locking.
* The bug was introduced in open-mpi/ompi-release@f19731bcf1388e7e27c9d20cca7ab48fbc2e497e and unmasked in https://github.com/open-mpi/ompi-release/commit/b4ff061bd45705eb39a91976fad855315ba990cc (I was working with the release originally):
[cod

[2016-06-24 19:06] artpol84 commented on #1813
+ @karasevb

[2016-06-24 19:24] jladd-mlnx commented on #1813
@artpol84 Outstanding analysis. @hppritcha - LANL, we'll send you a bill for our services ☺️. @karasevb @artpol84 I think we better ensure that this change hasn't negatively impacted our message rates. Please test this with osu_mbw_mr against 1.10.3. @gpaulsen - is IBM keeping track of this in Spectrum MPI?

[2016-06-24 19:29] jladd-mlnx commented on #1813
@artpol84 @karasevb - please check the UCX PML as well. Probably the bug was pushed into that component as well.

[2016-06-24 19:30] rhc54 commented on #1813
@artpol84 thanks - we knew Yalla wasn't guilty of having a new error, but clearly there is some interaction that involved the way Yalla used the request code vs how the other pml's etc do, and that really meant you folks needed to be involved. we'll definitely look forward to your patch.

[2016-06-24 19:50] artpol84 commented on #1813
@jladd-mlnx this fix is general and fixes this kind of race conditions for all PML's (thanks to centralized approach to locking).
Will check `osu_mbw_mr` on Monday.

[2016-06-24 20:10] gpaulsen commented on #1813
@nysal  - has been following the locking changes needed, and should be able to comment.  We've hit something similar in our PAMI PML, and are just now reacting to it.

[2016-06-25 09:33] artpol84 commented on #1813
Currently we have 2 alternative PR's that are trying to solve the same race condition:
* One proposed by Mellanox: https://github.com/open-mpi/ompi/pull/1815
* And one from LANL: https://github.com/open-mpi/ompi/pull/1816

Let's discuss their proc and cons based on community experience with regard to atomic performance. There is no rush - this bug was pending there since May 24. We can spend some

[2016-06-25 14:10] rhc54 commented on #1813
We generally take whichever has the best performance, followed by the minimal change, and if those are both the same, then we would use the one from the person who typically contributes to that code area. We don't usually get hung up over who proposed something first or get into arguments over who did what amount of work as that is highly subjective. Frankly, I've never seen a case where the two p

[2016-06-27 01:24] yurivict opened #1819 "[feature suggestion] Please add the .cmake file for cmake-based projects to be able to configure ompi better"

[2016-06-27 14:22] jsquyres commented on #1819
I'm not sure what you're asking for -- are you looking for a zero-length `.cmake` file at the top of the Open MPI tree?

If you're asking for full cmake support, it is unfortunately unlikely that we will add that.  Open MPI is a GNU Autotools-based system.  We have discussed adding cmake support a few times over the years, but every time we have more than one build system, the multiple systems end

[2016-06-27 16:43] jsquyres commented on #1819
I'm going to assume you're asking for full cmake support and close this issue.  If you intended something else, please reply to this ticket and we can re-open if necessary.  Thanks.

[2016-06-27 16:43] #1819 closed

[2016-06-28 15:12] #1813 closed

[2016-06-28 15:39] hppritcha opened #1822 "Open MPI parsing of proc mounts needs help"
Open MPI tries to parse proc/mounts (not the hwloc part), which dies if entries exceed the size of the buffer used to read a line from the file.  The technique in hwloc using `setmntent` and `getmntent` to parse /proc/mounts is probably the way to go.

This problem shows up regularly on Cray XC's running CLE 6.

[2016-06-28 15:48] artpol84 opened #1823 "RDMACM failures in Mellanox"
Here is some info about the failure. Will post more as I'll discover

The backtrace in the core-file:
[code]

The frame:
[code]

[2016-06-28 15:56] artpol84 commented on #1823
Setting ridiculous device gives exactly the same backtrace. For example (no mlx5_3:2 on the host):
[code]

[2016-06-28 16:05] artpol84 commented on #1823
@hjelmn do you want me to print out something from the core or enable verbose on the openib component?

[2016-06-28 16:33] hjelmn commented on #1823
Surprised this hasn't been a problem before. The devices_count value is used for two things: to keep track of the number of usable devices, and the size of the devices pointer array. Unfortunately the devices_count value only indicates the maximum number of devices in the devices array. I added an if check to protect progress_one_device but in the future I may clean this up.

[2016-06-28 21:47] jjhursey opened #1825 "MPI_Status_set_elements"
Test case in this Gist: https://gist.github.com/jjhursey/95b6c8a26bf100a7076a69c6e2983eed

In `MPI_Status_set_elements`, if a datatype is defined by the user, then setting the elements in status is incorrect.

Fails at the macro call on [Line 222](https://gist.github.com/jjhursey/95b6c8a26bf100a7076a69c6e2983eed#file-large-count-c-L222) in large-count.c (see Gist)

[Line 198](https://gist.github.c

[2016-06-28 22:10] #1823 closed

[2016-06-29 01:54] ggouaillardet commented on #1825
@jjhursey @bosilca and i previously discussed a similar case.
per the MPI 3.1 standard (p483) about ```MPI_STATUS_SET_ELEMENTS[_X]```
[code]

so bottom line, the test is wrong (and so is mpich by the way ...)
if you
[code]
then the checks should be
[code]
the count check is type dependent, for ```four_ints``` and ```imax_contig``` for example, that should be
[code]

an other way to see things is t

[2016-06-29 02:42] ggouaillardet commented on #1825
i wrote a fixed and extended version of the test, it is available at https://gist.github.com/ggouaillardet/f3ec4611a3c880206cd9b6a5ca89df55

[2016-06-29 03:09] jjhursey commented on #1825
@ggouaillardet Thanks for the response. That sounds reasonable to me. Let me talk it over internally with the folks that asked me to report the issue before we close it as invalid.

[2016-06-29 05:27] bharatpotnuri opened #1826 "Segfault seen while running imb IMB-MPI1 test."
Tried to run imb test on ompi master, the following segmentation fault is seen:
Test command:
[code]
Test output:
[code]
Here is the gdb back-trace from core file:
[code]
Tried with the following commit of ompi-master as TOT:
[code]

[2016-06-29 05:34] bharatpotnuri commented on #1826
git blame for `orted/pmix/pmix_server_gen.c:80`, points me to the following change:
[code]

[2016-06-29 05:54] karasevb opened #1827 "configuring OMPI with the latest PMIx master"
Hello, it seems that `./configure` test for the pmix v2.x/2.0 has problems. Here is the excerpt from the configure log on my machine when trying to configure with PMIx/master:

[code]

If I grab `conftest.c` and compile it with PMIx library - all is OK. The problem seems to be in the original compilation command: I don't see `-lpmix` there:
[code]

[2016-06-29 07:01] karasevb commented on #1827
Sorry, that was a false alarm. Confusion came from several facts:
* First, originally I was configuring against the stale master that was lacking of `PMIx_Register_event_handler()` and thus OMPI wasn't treat it as pmix/ext2.0.
* Second when today I started configuring against latest master the config.log was confusing because of the way `./configure` checks for the libraries:
[code]

As you can se

[2016-06-29 10:27] ggouaillardet commented on #1826
would you mind removing your install dir, and run
make install
again ?

if some old pmix module are left over, that can cause this kind of crash

[2016-06-29 10:37] bharatpotnuri commented on #1826
Sure, will do a fresh installation.

[2016-06-29 11:11] bharatpotnuri commented on #1826
@ggouaillardet  Yes. The issue is due to the older pmix modules.
Did a fresh installation, It works fine.
My bad this is an installation issue.Thanks @ggouaillardet.

[2016-06-29 11:28] nysal opened #1828 "collcomp multithreaded test hangs on v2.x"
With the latest v2.x branch the collcomp test case from ANL thread-tests hangs when run across two Power 8 nodes with 16 threads. Here's the stack:
[code]

I was able to reproduce it with the TCP BTL, it but doesn't seem transport specific. The complete stack from all threads are not pasted, as they are just in the compute loop. Thread 17's stack seems to be the only relevant one.

[2016-06-29 11:40] #1826 closed

[2016-06-29 12:39] artpol84 commented on #1827
@jsquyres do you know why calling
[code]

leads to checking of "" and "pmix" instead of just "pmix"?

[2016-06-29 13:37] jjhursey commented on #1825
After discussing this a bit internally, I think we are coming to the same consensus opinion. I'm going to close this issue as invalid. Thanks!

[2016-06-29 13:37] #1825 closed

[2016-06-29 14:51] ggouaillardet commented on #1828
in this test, the max number of threads is hard coded (MAX_THREADS) and is 10
there is no check, and it does create the number of threads requested on the command line.
can you confirm you ran with more than 10 threads ?
I will push a fix tomorrow not to use hard coded value any more

[2016-06-29 15:07] hjelmn commented on #1828
@ggouaillardet Yeah, that is a common problem with all the anl thread tests I have seen. Running more than 10 will sometimes work, sometimes hang, and sometimes crash.

[2016-06-29 15:50] jsquyres commented on #1827
OPAL_CHECK_PACKAGE uses [AC_SEARCH_LIBS](https://www.gnu.org/software/autoconf/manual/autoconf.html#index-AC_005fSEARCH_005fLIBS-344).

I assume from the discussion above that this issue should be closed; feel free to re-open it, if incorrect.

[2016-06-29 15:50] #1827 closed

[2016-06-29 16:08] artpol84 commented on #1827
Yeah I know it uses it, but it doesn't explain to me why we check
empty-string as lib.

среда, 29 июня 2016 г. пользователь Jeff Squyres написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2016-06-29 16:12] jsquyres commented on #1827
Check the Autoconf docs I linked to.

[2016-06-29 16:45] artpol84 commented on #1827
Thanks!
I saw that manual today but looks like wasnt carefully reading :).

среда, 29 июня 2016 г. пользователь Jeff Squyres написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2016-06-29 16:55] jsquyres opened #1829 "rdmacm sometimes hangs in finalize in Mellanox Jenkins"
http://bgate.mellanox.com/jenkins/job/gh-ompi-master-pr/2638/console -- which is a Jenkins run off https://github.com/open-mpi/ompi/pull/1821 -- shows a problem that we've been seeing in a few Jenkins runs: the rdmacm CPC in the openib BTL hangs during finalize.

Here's the command that is run:

[code]

This warning comes up; I don't know if it's significant:

[code]

But then all procs have a bac

[2016-06-29 16:57] jsquyres commented on #1827
😄  IIRC, the rationale for testing without the library is to see if it's a system-default-linked library.  I.e., you don't need to specify `-lfoo` because the system does it for you automatically (kinda like `-lc`).

[2016-06-29 16:58] artpol84 commented on #1827
I figured that yout, yes. Thank's once again!

2016-06-29 22:57 GMT+06:00 Jeff Squyres <notifications@github.com>:

--
С Уважением, Поляков Артем Юрьевич
Best regards, Artem Y. Polyakov

[2016-06-29 17:21] hjelmn commented on #1829
I think I see where it could be going bad. A change awhile ago updated how rdmacm disconnect was done and it looks like there is one path that is not correctly handled. Have PR open to check this case.

[2016-06-29 17:25] jladd-mlnx commented on #1829
@hjelmn Which change was this?

[2016-06-29 17:30] hjelmn commented on #1829
If my PR passes then the responsible commit is https://github.com/open-mpi/ompi/commit/b8af310efae3358f2b6f7e6eb618744ab099562f . Looks like it is only triggered when there are multiple ports. Testing did not indicate a problem until recently.

[2016-06-29 17:31] hjelmn commented on #1829
I think in the case of Mellanox Jenkins some endpoints may not have a rdmacm client object. If that happens then we block indefinitely waiting for a callback that will never happen.

[2016-06-29 17:34] hjelmn commented on #1829
@jladd-mlnx Will re-assign back to you guys if I am wrong in my analysis. Though I am about 99% sure at this time. Also, if you want udcm working over a router let me know. It is much better than rdmacm but needs some changes to support using the GID.

[2016-06-29 18:14] jladd-mlnx opened #1831 "Significant degradation in message rates observed on Master."
Opening this issue for tracking purposes. Measured with Master nightly build against 1.10.3. Possible fix on master.

@hjelmn or @bosilca please comment.

[code]

[2016-06-29 18:18] hjelmn commented on #1831
@jladd-mlnx You need to confirm this affects 2.0.0 before setting a blocker there.

[2016-06-29 18:25] hjelmn commented on #1831
One of the biggest differences between 2.0.0 and master is master always has MPI_THREAD_MULTIPLE support. This will impact performance and should be fixed by the next master branch.

[2016-06-29 18:31] bosilca commented on #1831
We also need to confirm that the performance drop was not already visible before the request rework made it in.

[2016-06-29 20:04] jladd-mlnx commented on #1831
Yalla looks better on 2.x, but still degraded by ~5%. OpenIB still has performance issues, and a bug that prevents the test from completing.

PML - Yalla
OMPI - v2.x
[code]

[code]

[2016-06-29 20:07] hjelmn commented on #1831
Looks like the issue is the tcp btl is being used. Add ```-mca btl self,vader,openib```

[2016-06-29 20:09] jladd-mlnx commented on #1831
@hjelmn I see that. That's odd. Violates the law of least surprise. Still some degradation.

[code]

[2016-06-29 20:12] hjelmn commented on #1831
Yeah, very odd that the tcp btl is active. Is this system similar to the one running Jenkins? I understand that one has a two port card with one ib and one ethernet port. By default both ports will be used for large messages. Not sure why it is affecting small ones. I put together a patch to adjust all the latency and bandwidth numbers for the btls that might help.

[2016-06-29 20:12] hjelmn commented on #1831
BTW, ~5% is not a blocker. I have seen larger variation due to changes in icache miss rates :-/

[2016-06-29 20:23] bosilca commented on #1831
Did we lost the exclusivity ?

[2016-06-29 20:28] jladd-mlnx commented on #1831
Law of least surprise is respected on Master. Same command line that triggered TCP BTL, loads OpenIB on master. The nightly build is from an internal nightly MLNX build. I'll try with master from Git when I get a chance.

[2016-06-29 20:32] hjelmn commented on #1831
@bosilca The exclusivity check looks ok to me on master. Will check 2.x.

[2016-06-29 20:41] hjelmn commented on #1831
v2.x looks ok too. We sort the btls be decreasing exclusivity. Then we add the proc to each btl in that order and only add them to btl_send if there is no send btl endpoint for the proc or the exclusivity is equal.

[2016-06-29 20:44] bosilca commented on #1831
If preventing the TCP BTL from being used improves the latency, then the exclusivity might not work the way we expect.

[2016-06-29 20:48] hjelmn commented on #1831
Agreed. It should be preventing the tcp btl from running with that proc. Will have to run through the code to see why this could be happening.

[2016-06-29 22:11] jladd-mlnx commented on #1831
Tests with master head from GitHub. BIG degradation in Yalla. Significant degredation in OpenIB.

OMPI - Master Head f18d6606daedf6
PML - Yalla
[code]
Another observation - OpenIB message rates are quite erratic from run to run. This is just a single trial that came back particularly degraded
OMPI - master f18d6606daedf6
PML - OB1 (OpenIB)
[code]

[2016-06-29 22:12] jladd-mlnx commented on #1831
@hppritcha Please see this Issue for tracking and comments.

[2016-06-29 22:53] jladd-mlnx commented on #1831
@gpaulsen @nysal Please be aware.

[2016-06-29 22:54] thananon commented on #1831
I did some performance test and backtracked to before and after we merge #1397 (MPI_THREAD_MULTIPLE support by default). This is way before request refactoring. Here's the result of the same benchmark.

I did only a couple run, the performance changed a bit every run (especially on small message), but this is enough to get the idea.

<img width="637" alt="screen shot 2016-06-29 at 3 49 44 pm" src=

[2016-06-29 23:00] jladd-mlnx commented on #1831
@thananon Thanks!! Very interesting. With which PML was this data collected?

[2016-06-29 23:01] thananon commented on #1831
@jladd-mlnx This is ob1. Sorry I forgot to mention.

[2016-06-29 23:06] jladd-mlnx commented on #1831
@thananon could you please bisect and find the guilty commit?

[2016-06-29 23:13] thananon commented on #1831
I have to do some work in usnic for @jsquyres but I can probably fire up this tracking in the background. It might take me a while.

[2016-06-29 23:14] rhc54 commented on #1831
Perhaps we shouldn't say "guilty", but rather let's find the commit (or commits) where performance started to erode. Might well find that the performance dropped in a set of spurts over some period of time, so tracking performance over some period of commits (e.g., going back a year and taking a snapshot every month) might be more productive.

[2016-06-29 23:18] thananon commented on #1831
As a side note, since I plotted this earlier, I might as well put them here. We see different effect on different BTL.

![tcp](https://cloud.githubusercontent.com/assets/7318806/16471910/f31c0c90-3e14-11e6-9a5f-3e104bd303f0.png)
![usnic](https://cloud.githubusercontent.com/assets/7318806/16471916/f9b94d06-3e14-11e6-96dd-72cb858bf804.png)
![vader](https://cloud.githubusercontent.com/assets/7318806/

[2016-06-29 23:26] hjelmn commented on #1831
I should point out this is not a 2.0.0 issue. Please open a separate issue for the bml/r2 bug (tcp being used) and assign it to 2.0.1. This issue is a master only issue and needs to be understood but it is not right now important.

[2016-06-29 23:27] hjelmn commented on #1831
For what it is worth this looks like a similar regression to the ones we already fixed. Something is taking a multi-threaded path when it shouldn't.

[2016-06-29 23:33] hjelmn commented on #1831
This problem also show the importance of getting performance testing into the nightly MTT. @jjhursey Are there plans to do performance with the next MTT version?

[2016-06-29 23:48] hjelmn commented on #1831
@thananon Did you collect each BTL's numbers by only enabling that btl (+self)?

[2016-06-30 00:16] jjhursey commented on #1831
@hjelmn I'll file a feature request for it. I agree that prioritizing that would be a good idea. Might be worth exploring some design options before the Aug F2F meeting, and discussing issues there.
MTT Issue here:
https://github.com/open-mpi/mtt/issues/445

[2016-06-30 01:01] hjelmn commented on #1831
@jladd-mlnx Not sure why master is not showing the tcp use. It is most definitely being used as an rdma endpoint. I see no performance regression when I use ```-mca btl self,vader``` on my mac. btl/tcp was never intended to be added as an rdma endpoint in any case except when it is used for send/recv. I am opening a PR to correct this behavior. Please test and see if it has any effect on the regre

[2016-06-30 01:52] kawashima-fj commented on #1753
@bosilca Could you comment?

[2016-06-30 02:05] thananon commented on #1831
@hjelmn Yes

[2016-06-30 02:23] hjelmn commented on #1831
@thananon Thats what I thought. That suggests this isn't just because the tcp btl gets added to the rdma list of each endpoint or else it would affect 2.0 as well. Something else is going on.

[2016-06-30 02:41] hppritcha commented on #1828
this isn't a blocker.

[2016-06-30 02:42] jsquyres commented on #1828
It actually seems like a bug in the test, not in OMPI.  I don't think this even needs a milestone at all.

[2016-06-30 02:42] hppritcha commented on #1828
reassigning to bug fix milestone 2.0.1

[2016-06-30 02:45] hppritcha commented on #1407
this issue can be closed.  relevant PRs are in v2.x

[2016-06-30 02:45] #1407 closed

[2016-06-30 02:48] hppritcha commented on #1828
can we close this issue if its a bug in the test?

[2016-06-30 02:49] jsquyres commented on #1828
Maybe re-title it as an enhancement to update the tests to not let them run with more threads than their hard-coded defaults (at a minimum, or make them dynamically run with however many threads you specify at a maximum)?  Otherwise, it feels like someone else will unknowingly run into this error again in the future.

[2016-06-30 03:42] nysal commented on #1828
I already have MAX_THREADS set to 20 locally. So the test is fine. Will bisect today.

[2016-06-30 04:00] ggouaillardet commented on #1828
i am now rewriting this part to use malloc and check nthreads >=1

[2016-06-30 04:12] ggouaillardet commented on #1828
this is now fixed in open-mpi/ompi-tests@ff17ea8d2c1554374e1b3ca0918538928afc6cb9

[2016-06-30 11:20] nysal commented on #1828
I'm guessing the blocker label was removed on the assumption that this is a test case bug, triggered when the number of threads exceeds MAX_THREADS. This is not the case, I had MAX_THREADS set to 20. This is still a blocker as far as PPC systems are concerned, thread multiple is currently broken. git bisect indicates the following as the first bad commit:

[code]
The fact that it only fails on PPC

[2016-06-30 11:24] bharatpotnuri commented on #1829
@jsquyres I see the stall at MPI_Finalize with openmpi-2.0.0rc3 for iWARP. With ompi-2.0.0, Issue is seen intermittently with iwarp too.

[2016-06-30 11:37] artpol84 commented on #1831
@jladd-mlnx @thananon @hjelmn
I'm working on bisection. Will report later today or tomorrow.

[2016-06-30 12:09] artpol84 commented on #1831
Ok, so in master regression appeared between

commit 97c9732badcc0d3a558fe21856d3c99306fbb8eb
Author: Nathan Hjelm <hjelmn@lanl.gov>
Date:   Thu Oct 22 09:42:52 2015 -0600

and

commit b253d4e887cc9f0c8e73167c53c8b3386b0eb01d
Author: Edgar Gabriel <gabriel@cs.uh.edu>
Date:   Thu Jan 21 08:30:19 2016 -0600

I'm going to bisect now.

Checking release in parallel

[2016-06-30 12:32] artpol84 commented on #1831
Correction: at  97c9732 in master I see 9% Yalla regression (as we currently observe in the release repo). in the current master there is >50% regression.

[2016-06-30 12:49] hjelmn commented on #1828
@nysal Could be a missing barrier between WAIT_SYNC_INIT and OPAL_ATOMIC_CMPSET_PTR. Can you try adding an opal_atomic_wmb to the end of the WAIT_SYNC_INIT macro?

[2016-06-30 12:55] hjelmn commented on #1828
I also think that the count needs to be volatile.

[2016-06-30 13:24] hjelmn commented on #1828
I have access to a power8 system. I will see if I can reproduce the problem there.

[2016-06-30 13:46] bharatpotnuri commented on #1829
Here is the part of log showing imb test stall:
[code]

[2016-06-30 13:53] bharatpotnuri commented on #1829
Backtrace of a rank (looks same as the one in issue description):
[code]

[2016-06-30 13:59] hjelmn commented on #1829
Can you test with https://github.com/open-mpi/ompi/pull/1830 and see if it fixes the hang?

[2016-06-30 14:34] jsquyres commented on #1828
@nysal Ok, thanks for the explanation.

Blocker / v2.0.0 milestone restored to this issue.

[2016-06-30 14:39] nysal commented on #1828
@hjelmn Thanks. I'm investigating as well. The wmb at the end of WAIT_SYNC_INIT didn't help. So did making count volatile.

[2016-06-30 15:07] gpaulsen commented on #1828
Nysal tells me the is the only open blocker yet before we can pull the MPI_Request changes in v2.x

[2016-06-30 15:45] hjelmn commented on #1828
Think I found the issue. Checking the fix now.

[2016-06-30 15:52] hjelmn commented on #1828
Yup, found the issue. I do not know how this bug was missed during testing. Thank you for reporting this!

[2016-06-30 17:06] nysal commented on #1828
@hjelmn Thanks, this fixes the hang. I'll run a full thread multiple regression test in the morning and report back.

[2016-06-30 17:14] bharatpotnuri commented on #1829
@jladd-mlnx  sorry I didn't get it. Did you mean the  output stats of mpi-imb tests?

[2016-06-30 17:18] gpaulsen commented on #1828
@hjelmn, @nysal, @ggouaillardet, @artpol84,

Big thanks to all of you for staying engaged and finding / fixing these issues at the last minute like this!

[2016-06-30 18:42] bharatpotnuri commented on #1829
@hjelmn commit ed2bba2  fixes the stall at MPI_Finalize and tests fine for iwarp.

[2016-07-01 00:50] #1828 closed

[2016-07-01 00:52] hjelmn commented on #1829
Fixed in master. Will be in tonight's MTT tests.

[2016-07-01 01:04] hjelmn commented on #1829
Closing since this is fixed on master. Will be in the final 2.0.0 rc.

[2016-07-01 01:04] #1829 closed

[2016-07-01 01:05] hjelmn commented on #1822
I think I fixed this on master with the rcache/mpool rewrite. Will need to make a 2.0.x specific fix.

[2016-07-01 03:29] NLKNguyen opened #1838 "Make failed on Alpine Linux: unknown type name 'uid_t'"
Hi
I can't build OpenMPI (from master branch) on Alpine Linux. Please help! Thanks.
Also,  what is the best supported Linux distros that you mainly test on?
[code]

[2016-07-01 03:36] rhc54 commented on #1838
Can you tell me what header contains uid_t on Alpine? Just do a “man getuid” and it should tell us.

We generally test on RHEL/Fedora, CentOS, Ubuntu, SLES, and OSX (and probably others that I’m overlooking).

[2016-07-01 03:48] jsquyres commented on #1838
It would probably be better to send all the build information listed here:

https://www.open-mpi.org/community/help/

[2016-07-01 06:57] bosilca commented on #176
This issue is now stale, all future discussion will go in #1820 ,

[2016-07-01 06:57] #176 closed

[2016-07-01 10:32] NLKNguyen commented on #1838
Thanks you two for quick responses! I attached the zip of *.out files according to the help doc.
[ompi-output.zip](https://github.com/open-mpi/ompi/files/343219/ompi-output.zip)

Since Alpine is a very minimal Linux distro (5MB), many things are not included by default. I installed man and man-pages, but `man` command is not functional.

I use Docker's official Alpine image. Although my host OS is

[2016-07-01 11:59] ggouaillardet commented on #1838
@rhc54
it seems alpine defines uid_t in unistd.h and not in sys/types.h
by any chance, would pmix only #include the latter ?

@NLKNguyen is ssh installed in the docker image ? is it in the $PATH ?
you can try
mpirun --mca plm_rsh_agent /usr/bin/ssh ...
or edit the etc/openmpi-mca-params.conf (please double check the name)
and add/replace
pml_rsh_agent = /usr/bin/ssh

[2016-07-01 12:27] jsquyres opened #1839 "Incorrect XRC atomic setup"
Per http://www.open-mpi.org/community/lists/devel/2016/07/19144.php, Håkon Bugge notes:

Can someone with knowledge of the openib BTL and/or XRC please check this?  Thanks.

[2016-07-01 16:34] hjelmn opened #1841 "openib rdmacm is not completely thread safe"
We are currently seeing failures with rdmacm when multiple threads are used. No similar problem is seen with udcm so this is probably either a rdmacm issue or an issue with the CTS connection paths used by rdmacm. Opening this bug to track the issue.

[code]

[2016-07-01 16:37] hjelmn commented on #1841
@artpol84 @larrystevenwise If anyone is interested in MPI_THREAD_MULTIPLE with rdmacm something needs to be fixed. The above stack traces look fine to me (one thread is calling progress). This could also just be hanging because the test is taking more than 10 mins. If that is the case then feel free to close this.

[2016-07-01 16:56] artpol84 commented on #1841
It's an overlap test. Running less than a minute. So it's a bug I think.
I'll check next week.

пятница, 1 июля 2016 г. пользователь Nathan Hjelm написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2016-07-01 18:36] larrystevenwise commented on #1841
@bharatpotnuri, please have a look...

[2016-07-01 20:30] jjhursey opened #1842 "listen_thread accept() failure on master"
A number of the Jenkins systems have started to see errors that look like this:

[code]

LANL, IBM, and Mellanox have all seen this issue on occasion when running MPI applications as simple as hello_world. Below is the example from the IBM Jenkins:

[code]

It has been floated that this is a pmix issue with the failure coming from `mpirun`. It does not happen all the time, so it might be a timing

[2016-07-02 01:33] NLKNguyen commented on #1838
Ahh, I overlooked ssh. After installing it, the hello_mpi program works. Didn't think that ssh would be necessary for running on a single host. Thanks for pointing out.
[code]
So, it seems like that qnib/alpn-openmpi Docker image has OpenMPI working and is only missing ssh. I think I can learn from their dockerfiles to do a clean build again. I'll post the steps once I make it.

[2016-07-02 02:01] rhc54 commented on #1838
It isn’t required at all - just add ‘-mca plm isolated’ on your cmd line

[2016-07-02 02:14] NLKNguyen commented on #1838
Can you please provide the link to the `mca` related section in the documentation for reference?

[2016-07-02 02:20] rhc54 commented on #1838
https://www.open-mpi.org/faq/?category=tuning#mca-params

https://www.open-mpi.org/faq/?category=tuning#available-mca-params

https://www.open-mpi.org/faq/?category=tuning#setting-mca-params

[2016-07-02 02:30] NLKNguyen commented on #1838
Great, thanks!

[2016-07-02 19:09] bharatpotnuri commented on #1841
@hjelmn, what application/test could I use to see the current failure with multithread.

[2016-07-03 05:56] NLKNguyen commented on #1838
Unfortunately I can't build OpenMPI by following the steps in that Docker image. The download links they used were dead, and the build details on DockerHub shows that the last successful build was many months ago.

I think I will drop this and only use only one of the distros that you mainly test on, probably Ubuntu.

Thanks for the help!

[2016-07-03 05:56] #1838 closed

[2016-07-04 04:12] ggouaillardet commented on #1838
@NLKNguyen you can download a fix at https://patch-diff.githubusercontent.com/raw/pmix/master/pull/111.patch

and then
[code]

unless you are planning to do develop OpenMPI, you might want to use the latest stable version (1.10.3) available at https://www.open-mpi.org/software/ompi/v1.10/ instead of the ```master``` branch
note i had to add ```--disable-vt``` to the configure command line in order

[2016-07-04 06:27] artpol84 commented on #1841
@bharatpotnuri
This is the failing command:

[code]

[2016-07-04 08:08] ggouaillardet commented on #1822
@hjelmn
i made #1846 for master
a similar fix should be done for v2.x

@hppritcha
v1.10 hwloc manually parses /proc/mounts, is a fix required for this branch too ?

[2016-07-04 10:54] jjhursey commented on #1614
@fengliplatform Did you have a chance to try the `-mca orte_keep_fqdn_hostnames 1` option?

I did a test using the v2.x series and this option allowed your example to work correctly.

[code]

[code]
[code]

[2016-07-04 11:19] bosilca commented on #1753
@kawashima-fj the fortran parameters must have the same values as the index of the C datatype in the ompi_datatype_f_to_c_table array, which normally corresponds to the OMPI datatype index, aka. OMPI_DATATYPE_MPI_* define (this is needed so that the PMPI_Type_f2c macro can convert between C and Fortran objects).

So your proposed fix for the first and third issues are correct. For the second issue

[2016-07-04 11:31] fengliplatform commented on #1614
Thanks, Josh. Yes , the problem has been resolved.

To make programmer's life easier, I'd like to see a transparent solution in future that long , short names are covered automatically without having to have a parameter...

Have a nice day

[2016-07-04 11:46] jjhursey commented on #1614
I'll think a bit more about how to make that transparent to the user. That might require some discussion about expected behavior and the principle of least astonishment.

Thanks for confirming the issue is resolved.

[2016-07-04 11:46] #1614 closed

[2016-07-05 19:41] jsquyres opened #1848 "Make rdmacm CPC disqualify itself if MPI_THREAD_MULTIPLE"
As discussed on today's webex, the rdmacm CPC in the openib BTL is not thread safe (it never has been).  The rdmacm CPC should disqualify itself (instead of failing in random ways) if MPI_THREAD_MULTIPLE is the thread level.

@jladd-mlnx @artpol84 @larrystevenwise @bharatpotnuri Could one of you do this?  I'm assuming that this is easier / faster than actually making the rdmacm CPC thread safe.

T

[2016-07-05 19:42] #1765 closed

[2016-07-05 19:48] jsquyres commented on #1848
BTW, this is different than #1841, which is about fixing the rdmacm CPC to be thread safe -- I filed this issue as a quick workaround so that we already get orderly failures/aborts rather than undefined behavior.

[2016-07-06 15:07] jsquyres commented on #1841
A little background for everyone that we discussed on the webex yesterday:

The openib BTL was only recently declared to be "thread safe," meaning that until recently, it would exclude itself from selection when MPI_THREAD_MULTIPLE was used.  Specifically, when the openib BTL was upgraded to be MPI_THREAD_MULTIPLE-safe (and stopped automatically disqualifying itself when MPI_THREAD_MULTIPLE was us

[2016-07-06 15:17] larrystevenwise commented on #1848
@jsquyres - should the openib/rdmacm CPC use global var 'ompi_mpi_thread_multiple' to decide if it will participate in connections?

[2016-07-06 15:23] jsquyres commented on #1848
Yes, `ompi_mpi_thread_multiple` will only be `true` if MPI_INIT[_THREAD] was setup with MPI_THREAD_MULTIPLE.

[2016-07-06 15:56] larrystevenwise commented on #1848
Something like this (untested)?

<pre>
diff --git a/opal/mca/btl/openib/connect/btl_openib_connect_rdmacm.c b/opal/mca/btl/openib/connect/btl_openib_connect_rdmacm.c
index b675748..3d47708 100644
--- a/opal/mca/btl/openib/connect/btl_openib_connect_rdmacm.c
+++ b/opal/mca/btl/openib/connect/btl_openib_connect_rdmacm.c
@@ -2000,6 +2000,11 @@ static int rdmacm_component_query(mca_btl_openib_module_t

[2016-07-06 15:59] jsquyres commented on #1848
Github pro tip: you can add "patch" after the triple-single-ticks in the Github markdown so that github knows to syntax hilight that verbatim code as a diff.  😄   (github understands lots of tokens to tell it how to syntax hilight verbatim blocks, like "c", "sh", "fortran", ...etc.).

Yes, probably something like that...?  I haven't looked at that code in years, though, and don't know offhand what

[2016-07-06 16:02] larrystevenwise commented on #1848
[code]

[2016-07-06 16:09] larrystevenwise commented on #1848
This compiles.  @bharatpotnuri, can you please verify this works and provide a PR for it?
[code]

[2016-07-06 16:16] larrystevenwise commented on #1848
@jsquyres - dumb question:  How does one enable or disable MPI_THREAD_MULTIPLE thread level?  I thought it was a 'configure' option, but I don't see it.  I see env var OMPI_MPI_THREAD_LEVEL though. Is that the proper way? thanks!

[2016-07-06 16:57] #1683 closed

[2016-07-06 17:19] jsquyres commented on #1848
@larrystevenwise The env variable is an easy way (and is OMPI-specific, obviously).  The normal way is to call MPI_INIT_THREAD (instead of MPI_INIT) to initialize MPI in your program.  MPI_INIT doesn't take thread-level arguments, but MPI_INIT_THREAD does.

You probably want to use one of the explicitly threaded tests, though.  The issue isn't just running a single-threaded program when run with O

[2016-07-06 17:48] larrystevenwise commented on #1848
@jsquyres - Yes. This makes sense.  I was concerned that single-threaded mpi applications would not run by default with ompi-2.x over iwarp because the rdmacm cpc would be skipped.  But that isn't the case.  Good! :)

[2016-07-06 17:54] larrystevenwise commented on #1841
@artpol84 does the test stall with '-bind-to none'?

[2016-07-06 18:01] artpol84 commented on #1841
Just changed that, jenkins is running. We'll see.

[2016-07-06 18:05] larrystevenwise commented on #1841
@jsquyres who is the mellanox developer that supports rdma-cm over mlx?

[2016-07-06 19:01] jsquyres commented on #1841
@larrystevenwise I don't know if Mellanox has anyone specifically tasked to supporting RDMA CM -- @jladd-mlnx?

[2016-07-07 07:05] ggouaillardet commented on #1754
i replaced #1760 with #1852

[2016-07-07 19:38] jjhursey opened #1854 "dlopen_test crash with xlc on PPC in v2.x"
Reported by @PHHargrove on the devel mailing list:
 * https://www.open-mpi.org/community/lists/devel/2016/07/19156.php
 * https://www.open-mpi.org/community/lists/devel/2016/06/19107.php

In the email exchange, @hjelmn mentioned maybe having a fix for this - maybe can comment about what he had in mind.

On a ppc64le system with the XL compiler I was able to reproduce with the following configure a

[2016-07-08 12:53] bharatpotnuri commented on #1841
@artpol84 My test runs doesn't show any stall, I ran the same command in https://github.com/open-mpi/ompi/issues/1841#issuecomment-230214481 except without srq (dont know if that is causing the problem), But as @jsquyres said in https://github.com/open-mpi/ompi/issues/1848#issuecomment-230842457, I will rerun the test with latency_th and see if it stalls.

[2016-07-08 12:56] artpol84 commented on #1841
We changed Jenkins. The problem was solved

пятница, 8 июля 2016 г. пользователь Potnuri Bharat Teja написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2016-07-08 12:57] artpol84 commented on #1841
But that doesn't solve the topic of this issue, I wasn't working on it.

пятница, 8 июля 2016 г. пользователь Artem Polyakov написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2016-07-08 12:58] jsquyres commented on #1841
@artpol84 The issue @bharatpotnuri is looking into is the general thread safety of the rdmacm CPC.  It's never really been tested thoroughly, so we don't know *for sure* if it is thread safe or not (per the 2nd comment @bharatpotnuri cited).

[2016-07-11 13:09] bharatpotnuri commented on #1848
I am able to reproduce the issue with osu_latency_mt test for rdmacm CPC.
Here is the command and failure:
[code]
Like @jsquyres said, osu_latency_mt.c uses MPI_INIT_THREAD to MPI to initialize. Will update with more details.

[2016-07-11 18:59] jsquyres commented on #1694
@ggouaillardet @bosilca Is this now resolved?

[2016-07-11 19:04] jsquyres commented on #1854
Per discussion with @jjhursey, moving this to v2.0.1.

[2016-07-12 13:16] bharatpotnuri commented on #1848
Added PR https://github.com/open-mpi/ompi/pull/1861 for disqualifying rdmacm for MPI_THREAD_MULTIPLE.

[2016-07-12 22:04] jsquyres opened #1864 "Don't install PMIX man pages"
The v2.0.0 tarball is installing a small number of PMIX man pages:

* pmix*7
* pmix*3

These probably shouldn't be installed by Open MPI.

[2016-07-13 09:06] dalcinl opened #1865 "2.0.0: C type of MPI_UNWEIGHTED and MPI_WEIGHTS_EMPTY"
Currently, from mpi.h

[code]
However, according to the MPI-3.1 standard (page 680), they should be

[code]
The current definition is harmless for C, however it is wrong for C++ code including ``mpi.h``.

[2016-07-13 09:10] dalcinl opened #1866 "2.0.0: MPI_Group_intersection: malloc(0) warning with 2.0.0rc3"
Trivial Python code checking the intersection of the empty group with itself.

[code]

[code]

[2016-07-13 13:07] jsquyres opened #1868 "oshmem/include/mpp/shmem.fh includes oshmem/include/shmem.fh"
Paul Kapinos reports in https://www.open-mpi.org/community/lists/devel/2016/07/19184.php that the only thing `oshmem/include/mpp/shmem.fh` does is include `oshmem/include/shmem.fh`. I notice that the C versions of the header files do the same thing.

This apparently causes a problem with cmake-fueled build systems (cmake goes into an infinite loop during dependency analysis).

I don't know anythin

[2016-07-13 13:10] jsquyres opened #1869 "MPI-RMA rget doesn't complete the communication after mpi_wait"
Alfio Lazzaro reports in http://www.open-mpi.org/community/lists/users/2016/07/29648.php that the following program doesn't give the expected output:

[code]

When running the program with 2 processes, they expect to get the following output:

[code]

but they instead get the output:

[code]

They note that uncommenting the MPI_WIN_FLUSH_ALL makes the program work.

@hjelmn Can you have a look?  I

[2016-07-13 14:07] jsquyres commented on #1869
Add @alazzaro as the original reporter.

[2016-07-13 14:22] hjelmn commented on #1869
Looking like a bug in the bindings. I don't do fortran but this looks wrong:

[code]

We are investigating.

[2016-07-13 22:38] hjelmn commented on #1848
@bharatpotnuri That error is due to not having a per-peer QP. You need to add one for rdmacm to function.

[2016-07-14 02:21] #1866 closed

[2016-07-14 05:33] #1868 closed

[2016-07-14 07:55] #2 closed

[2016-07-14 09:49] bharatpotnuri commented on #1848
@hjelmn I tried the test with Chelsio adapter too and the error is same. Here is the error trace when run with `--mca btl_openib_receive_queues P,65536,256,192,128`:
*For iwarp the current HW does not support SRQ, Hence used only per-peer QP.

[code]

[2016-07-14 15:22] jsquyres opened #1875 "Petsc test failing: possible MPI_REQUEST_FREE issue"
According to Eric Chamberland in http://www.open-mpi.org/community/lists/devel/2016/07/19210.php, he's getting a failure in a petsc test.  Here's the backtrace:

[code]

@hjelmn @bosilca Could you have a look?

[2016-07-14 15:42] ericch1 commented on #1875
Ok, thanks for your reply.

I will report bugs I have here for the 2.0x master branch (from ompi.git repo)...  Maybe when things will stable, I should return to the ompi-release.git repo?

Thanks,
Eric

[2016-07-14 15:51] hppritcha opened #1876 "mxm mtl component needs better configury checks"
The mxm mtl component is not doing a good job at configury checks for devel rpms that need to be installed.  So far I've hit no zlib devel and no binutils-devel.   Its not friendly to have the build fail at the link stage for the mxm mtl component.

[2016-07-14 20:39] rhc54 opened #1877 "OMPI interfering with rand/random series"
Per mail to devel, from @matcabral

Doing quick test with rand()/srand() I found that MPI_Init() seems to be calling a function in their family  that is affecting the values in the user application.  Please see below my simple test and the results. Yes, moving the second call to srand() after MPI_init() solves the problem. However, I’m confused since this was supposedly addressed in version 1.7.5.

[2016-07-14 20:48] rhc54 commented on #1877
Doing a quick scan thru the code, I see several places that violate the "leave rand/random alone" rules:

[code]

Not sure what we can do about these as they are all from downstream libraries. Thoughts?

[2016-07-14 22:19] jsquyres commented on #1875
@ericch1 Just to be clear on our versioning system:

1. The `ompi` repo contains our master development branch.  It is currently marked as version `3.0.0a1`.
1. The `ompi-release` repo contains all of our release branches (e.g., v2.x, ...etc.).

We did it this way because github didn't used to have per-branch ACLs.  Now they do, and we anticipate merging `ompi-release` back into `ompi` sometime so

[2016-07-15 00:51] ggouaillardet commented on #1876
@hpptritcha that is kind of a tricky case.
```libz```, ```libbfd```, ```libiberty``` nor ```libxml2``` are not directly required by the ```mtl/mxm```.

these libraries are pulled by ```libtool``` when linking with ```libhcoll.la```.
note if you manually remove ```libhcoll.la```, then Open MPI linking works just fine.

bottom line, i do not know an elegant way of solving this.
ugly ways are
- assum

[2016-07-15 04:06] ggouaillardet commented on #1877
At first glance, this requirement does look wrong to me.
any third party library can potentially use the random number generator, so if someone wants a deterministic behavior, he/she should change his/her app and use ```srand_r()``` instead of ```srand()```.

Open MPI can be updated, but that would not work when built with and external libevent that uses ```random()``` and friends.

anyway, here i

[2016-07-15 12:12] vondele commented on #1869
Is this a confirmed bug? Right now, we're implementing the flush as a workaround, but it kills performance.

[2016-07-15 12:27] hjelmn commented on #1869
Pretty sure this is a fortran binding bug at this point. The C works as expected. I am surprised that flush helps and more surprised that it hurts performance.

[2016-07-15 12:29] hjelmn commented on #1869
@ggouaillardet @jsquyres Want to take a crack at this. I have no idea how to fix the fortran bindings. You also know my opinion of fortran :D.

[2016-07-15 12:30] vondele commented on #1869
Thanks for confirming its a bug.

[2016-07-15 12:35] hjelmn commented on #1869
I would also verify MPI_Get_accumulate and MPI_Rget_accumulate. Undoubtedly they have the same problem.

[2016-07-15 12:37] ggouaillardet commented on #1869
@hjelmn shall I understand you rewrote the test case in C, it worked, and hence the issue is Fortran related ?

[2016-07-15 12:39] hjelmn commented on #1869
Yeah. We also have some request-based tests in MTT but they are all in C. Its also a little odd that there is an INTENT(in) on the origin address and no asynchronous. I don't know enough about fortran to fix it though,

[2016-07-15 12:41] hjelmn commented on #1869
@ggouaillardet See ```c_reqops.c``` in the ibm tests.

[2016-07-15 12:49] ggouaillardet commented on #1869
@hjelmn iirc, some asynchronous keywords are missing because of a lack of support by most compilers

[2016-07-15 13:32] vondele commented on #1869
I doubt the asynchronous etc matter, as this compiled at -O0.

actually, I found out that the testcase not only can give wrong results but also segfaults. Not sure what the status is for running under valgrind, but I'm seeing this:

==53308== Memcheck, a memory error detector
==53308== Copyright (C) 2002-2015, and GNU GPL'd, by Julian Seward et al.
==53308== Using Valgrind-3.11.0 and LibVEX; rerun

[2016-07-15 13:45] vondele commented on #1869
seemingly mpi_rget doesn't set the request handle.

[2016-07-15 14:22] jsquyres commented on #1869
@ggouaillardet I think we should be using `OMPI_ASYNCHRONOUS` -- that will either be empty or be `asynchronous`, depending on what `configure` files.

The `INTENT(IN)` might be the problem in this specific case, though...?  Compilers are allowed to do funny optimizations with `INTENT(IN)`.  MPI_RGET is supposed to be (from MPI-3.1):

[code]

I have a super-vague recollection that there is no `INTE

[2016-07-15 14:30] vondele commented on #1869
well, the problem is not with origin_addr but with request. Just change the code to

  request=42
  CALL MPI_RGET(recv,size,MPI_INTEGER,MOD(rank+1,2),disp_aint,&
       size,MPI_INTEGER,win,request,ierr)
write(6,*) request

to see it print 42 and crash afterwards.

[2016-07-15 14:43] ggouaillardet commented on #1869
There is definitely a typo in ompi/MPI/fortran/mpif-h/rget_f.c

[code]
Should be
[code]
Thanks for the hint !

@jsquyres could you please fix that (or wait until Monday) ?

[2016-07-15 14:45] ggouaillardet commented on #1869
Same typo in rput_f.c and rget_accumulate_f.c

[2016-07-15 14:55] vondele commented on #1869
Thanks for figuring out.. maybe also in raccumulate_f.c ?

Any chance this will eventually be backported ?

[2016-07-15 14:56] hjelmn commented on #1869
We will get all the fixes into 2.0.1 but its unlikely there will be another 1.10.x release.

[2016-07-15 15:03] ggouaillardet commented on #1869
There is no release date for v1.10.4.
That being said, my understanding is that it will be released when "enough" bugs have been fixed in v1.10.3
The focus is on v2.x, so the v1.10 branch has a low priority right now.

@rhc54 can you please comment on that ?

[2016-07-15 15:11] hjelmn commented on #1869
#1878 Fixes the part @ggouaillardet tracked down. We still need to remove INTENT(in) and add asynchronous where appropriate.

[2016-07-18 18:49] hjelmn commented on #1848
@bharatpotnuri I fixed the deadlock on master. Are you testing an older hash? See: 01d6da31af4345e752d836c41af82012f8b6c3c9 and 960fcd292c2fc9a05acb9dd003ba9dfc27e8c1eb.

[2016-07-19 07:21] bharatpotnuri commented on #1848
@hjelmn I am using the latest code pulled from master. Commits  01d6da3 and 960fcd2 exist in my repo.
Apparently this could be another deadlock issue with multi thread(issue only seen with multi thread tests). When run with gdb I see the test proceeding for a little extent(runs successfully once in a while) and then hits a deadlock.  I did not get much useful info when run under gdb. Will update w

[2016-07-19 20:26] jsquyres opened #1884 "autogen.pl --no-ompi is broken"
Looks like dc5adc5a91b4682a8e0de492350745eb01fa37d0 broke `./autogen.pl --no-ompi` (see http://www.open-mpi.org/community/lists/devel/2016/07/19243.php).

@ggouaillardet This was your commit -- can you have a look?  I'm guessing that this will also affect the v2.0.1 PR https://github.com/open-mpi/ompi-release/pull/1215.

[2016-07-20 00:38] rhc54 commented on #1884
thanks!!

[2016-07-20 00:43] ggouaillardet commented on #1884
@rhc54 you are welcome :-)

@jsquyres what about extending Cisco mtt so it
```./autogen.sh --no-oshmem```
```./autogen.sh --no-ompi```
```./autogen.sh --no-orte```
and build/install (i am not sure test can be run if only opal is built)

this is not the first time this kind of error is detected quite some time after ompi was broken.

[2016-07-20 03:00] rhc54 commented on #1884
@ggouaillardet I apologize - I had to revert this commit in order to finish some work on master. Please resubmit when the problem has been fixed.

[2016-07-20 03:01] ggouaillardet commented on #1884
my bad, i will test that thouroughly on #1887

[2016-07-20 07:18] #1884 closed

[2016-07-20 15:41] hiliev commented on #1713
At some point in the future, I might be willing to take over the `coll/hierarch` as part of my research. No promises though.

[2016-07-20 16:05] nrgraham23 opened #1890 "ompi build on wolf broken"
Building from master on Wolf is not working.  mpijavac is attempting to use java 6 for some reason, and mpirun is giving the following error:

mpirun: Symbol `orte_schizo' has different size in shared object, consider re-linking

[2016-07-21 13:06] jsquyres opened #1893 "opal_fifo test failing on master at IBM / MTT"
The `opal_fifo`test is failing in IBM's MTT on master: https://mtt.open-mpi.org/index.php?do_redir=2335

The compiler appears to be gcc 4.8.2 on an Ubuntu-based 32 bit platform (I don't know if it's x86 or POWER).

@jjhursey Can you provide more detail (e.g., the output log and/or stack trace)?

[2016-07-25 16:25] damora commented on #1511
Hi, has there been an new developments along this thread? I'm interested in executing mpirun from a container and connecting to containers started on remote hosts. I am interested in running on the host network which in my case is infiniband. Curious if anyone has a solution. It seems that mpirun (or exec) would need to be modified so it could start processes on remote nodes from inside the contai

[2016-07-25 16:33] gmkurtzer commented on #1511
@damora I've created a solution called Singularity, and it not only supports containerized MPI with OMPI, but it also supports GPUs, standard HPC scheduling paradigms, parallel file systems, InfiniBand, mobility of compute, and all this as a user.

https://github.com/gmkurtzer/singularity

[2016-07-25 20:17] ericch1 commented on #1875
Hi Jeff,

please have a look at the following exchange with Matthew Knepley from PETSc:

http://lists.mcs.anl.gov/pipermail/petsc-users/2016-July/029911.html

In this report, I used the ompi-release/v2.x branch...  But it looks like the same MPI_Request_free problem...

Eric

[2016-07-26 12:26] ggouaillardet commented on #1754
@yukiM-fj master, v2.x and ompi-tests repo have been updated
open-mpi/ompi-release#1262 is for v1.10 and has already been approved for merge

[2016-07-26 13:31] ggouaillardet commented on #1875
@ericch1 per the message on the ML
[code]

do you have any idea on how the MPI_Request was created ?
e.g. MPI_Start_init, MPI_Isend, MPI_Ibcast or other ?

[2016-07-26 14:09] knepley commented on #1875
MPI_Isend() and MPI_Irecv()

[2016-07-26 14:34] ggouaillardet commented on #1875
got it, thanks !
I can try to build a simple reproducer with that.

btw, can you confirm the destructor is invoked __before__ MPI_Finalize() ?

[2016-07-26 14:39] ericch1 commented on #1875
Yes, I can confirm this:

yes the destructor is invoked before MPI_Finalize...

Eric

[2016-07-26 14:55] hjelmn commented on #1875
Are you sure about that? From what I can tell the to->requests and from->requests arrays only hold requests allocated through MPI_*_init.

-Nathan

On Jul 26, 2016, at 08:12 AM, Matthew Knepley <notifications@github.com> wrote:

MPI_Isend() and MPI_Irecv()
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-26 14:58] ericch1 commented on #1875
100% sure: no more, no less.

Eric

[2016-07-26 15:44] knepley commented on #1875
Nathan,

I think you are right, that I was wrong. The Isend and Irecv seem to be
just calculating setup information. Then the
stored pattern is setup by the _init calls. Here is a pointer to the code
https://bitbucket.org/petsc/petsc/src/e99b8dcdee95b77e1530d3c4d61c134af21db400/src/vec/vec/utils/vpscat.c?at=master&fileviewer=file-view-default#vpscat.c-2654

Sorry about that.

  Thanks,

     Matt

[2016-07-26 16:14] hjelmn commented on #1875
We did fix a leak in MPI_Start/MPI_Startall in 2.0.0. The initial request passed to MPI_Start/MPI_Startall was being leaked. This was leaving an extra retain on both the communicator and datatype. Its very possible this bug is in Open MPI and has been for many years but was masked by the leak. It will probably take us at least a couple of days to figure it out.

-Nathan

On Jul 26, 2016, at 09:44

[2016-07-26 16:24] jsquyres opened #1902 "Disable atomics in OBJ_RETAIN/RELEASE during THREAD_SINGLE"
@nysal brought up on the 2016-07-26 webex that the code still uses atomics for OBJ_RETAIN/RELEASE even in the THREAD_SINGLE case.

@hjelmn noted on the call that this is mainly for historical / code structure reasons, but it should probably be fixed (i.e., there's no need to use the atomics in the THREAD_SINGLE case).  On the call, he proposed separating some header files that would obviate the ne

[2016-07-26 16:40] hjelmn commented on #1902
There is a case for atomics in THREAD_SINGLE if async progress is enabled. The change should be to use atomics if opal_using_threads() is true.

[2016-07-26 20:06] hjelmn commented on #1902
@nysal There is actually a bit more cleanup that could be done. I have a little time today to take a crack at it. It will probably need a little work but I can at least give an idea of how I think things should be structured.

[2016-07-26 23:25] xldrx opened #1905 "bug in Dynamic Process Management (MPI_Comm_accept) in open-mpi 2.0.0"
`MPI_Comm_accept` doesn't work properly in 2.0.0 release.

I used the following code:

[code]

The code is compiled and run with the following commands:

[code]

Unfortunately it is crashed immediately after start with the following
error messages:

[code]

The code works just find on previous versions of open-mpi (1.10.x, 1.8.x)
and `MPICH`.

I've compile the open-mpi myself with both default con

[2016-07-26 23:35] rhc54 commented on #1905
have you tried it without threading enabled?

[2016-07-27 00:34] rhc54 commented on #1905
actually, i see the problem - the implementation currently assumes that two procs are involved, and you are doing it all with the same proc looping onto itself. I'll have to explore a solution.

[2016-07-27 04:18] nysal commented on #1902
@hjelmn Sure, let me know how you want it structured. I was initially planning to move the opal_using_threads() and closely tied APIs (opal_set_using_threads()) to say opal/threads/threads_base.h. Then include this new header in opal/class/opal_object.h. This is to break the circular dependency. The second optimization was to skip reference counting for MPI_COMM_WORLD and predefined dataypes. The

[2016-07-27 05:36] nysal commented on #1902
I ran the phloem SQMR benchmark using vader BTL (master branch) to measure the message rate, using 2 tasks (--bind-to core --map-by socket) on a Power8 system. I see roughly 30% improvement in message rate for small messages with the patch to disable atomic refcounts, when the application is single threaded.

[code]

[2016-07-27 05:51] nysal commented on #1902
This is the patch I used for the previously reported benchmark: https://github.com/nysal/ompi/commit/7a1a9d9387955f4f50a3dad71529c3b502368b33

The comm world and predefined datatype refcount optimization is not included in this commit. I will add it as a separate commit as it seems logically separate. @hjelmn This is not yet ready to commit, I just put it out there to get comments.

[2016-07-27 08:30] ggouaillardet commented on #1875
i tried to be creative but was unable to build a reproducer.
what i found is a memory leak
if we ```MPI_Recv_init(...)``` followed by ```MPI_Request_free(...)```, then the datatype is not OBJ_RELEASE'd
(and i guess the same thing happen for the communicator)

at this stage, i cannot exclude the extra RELEASE or the missing RETAIN does not occur "somewhere else" in the code, and the crash in the de

[2016-07-27 09:40] amckinstry opened #1906 "libompitrace soversion is still 0.0.0 in release 2.0.0"
Hi,
All the other libraries have upgraded from $random to 20.0.0 in OMPI release 2.0.0.

This doesn't have any operational impact on OMPI, but it does cause issues with packaging. With OMPI shipping multiple libraries, we typically put them all in a single package (libopenmpi1.10 , now libopenmpi2.0). We aim to make it possible for both sets of libraries to be present simultaneously, to enable cle

[2016-07-27 10:44] ggouaillardet commented on #1905
I would expect the test hang because no one is calling MPI_Comm_connect()
did I miss something ?

[2016-07-27 10:46] ggouaillardet commented on #1875
btw, is MPI_THREAD_MULTIPLE involved when the crash occurs ?
I clearly did not test that path ...

[2016-07-27 10:51] jsquyres commented on #1906
Oops -- yes, this is a bug / oversight.

[2016-07-27 11:10] jsquyres commented on #1906
Note that this library hasn't changed in a long time.  The PR I just created (https://github.com/open-mpi/ompi-release/pull/1278) sets the .so version to 20:0:0, but it's unlikely that the content of this library will change, and therefore the version will stay at 20:0:0, even in successive 2.x releases.

[2016-07-27 12:07] ericch1 commented on #1875
Ok, I will test --mca mpi_param_check 1.

MPI_Init_thread is called with MPI_THREAD_FUNNELED.

Are there other configure/mca options I can trigger to give a better "trace" or log of what happens?

[2016-07-27 12:27] ggouaillardet commented on #1875
--mca mpi_param_check 1 simply adds extra check
(MPI_* is called between MPI_Init and MPI_Finalize, types are commited, ... and aborts with a friendly error message if MPI is incorrectly used), it is on by default, but could have been tuned on your site.

if not already done, you can configure Open MPI with
--enable-debug --enable-picky
that adds some extra sanity checks at runtime.

do you always

[2016-07-27 12:31] amckinstry commented on #1906
Thanks, I'm applying this fix to our current release of openmpi (2.0.0-2 in debian experimental).
It would be good to come up with a general solution to "the versioning problem", though. Its problematic for us when individual libraries _don't_ update their soversion, but others do.

The canonical solution in Debian is one package per library, with soname version, eg.
package libopenmpitrace20 cont

[2016-07-27 12:49] ericch1 commented on #1875
ok, will activate them after testing --mca mpi_param_check 1

Good question.  Since I checked only some of the 20 that bugs, I can't tell for sure they are all bugging at the exact same place.  Ok, picking a single test a checking for past 5 nights: hooke_3d_pen_8Hexa8_parallele: backtrace is the same for all 5 nights:
*** Error in `/pmi/cmpbib/compilation_BIB_dernier_ompi/COMPILE_AUTO/GIREF/bin/T

[2016-07-27 12:54] ericch1 commented on #1875
Ok, maybe have a look at:
http://www.giref.ulaval.ca/~cmpgiref/dernier_ompi/2016.07.27.08h19m26s_ompi_info_all.txt
http://www.giref.ulaval.ca/~cmpgiref/dernier_ompi/2016.07.27.08h19m26s_config.log

And I just noticed there is a strange error during make install:
WARNING!  Common symbols found:
         btl_openib_lex.o: 0000000000000008 C btl_openib_ini_yyleng
         btl_openib_lex.o: 0000000000

[2016-07-27 13:00] ggouaillardet commented on #1875
thanks, you can safely ignore the warning about common symbols, this is intended for developers only

[2016-07-27 13:04] ericch1 commented on #1875
Hmmm, I don't think the problem is related to running multiple programs at the same time since running the test alone give the same error...

[2016-07-27 14:34] jsquyres commented on #1906
Hmm.  That seems to contradict the official GNU Libtool guidance for shared library versioning (which is what we use): https://www.gnu.org/software/libtool/manual/libtool.html#Updating-version-info

This is how we apply that Libtool guidance to Open MPI: https://github.com/open-mpi/ompi/blob/master/README#L1514-L1575

Do you configure Open MPI with `--disable-dlopen`, or do you get creative with p

[2016-07-27 14:38] jladd-mlnx commented on #1875
@ericch1 It might be worthwhile doing a Git Bisect study rather than trying to chase a memory corruption/double free type of issue. Just a thought.

[2016-07-27 14:49] jjhursey opened #1907 "coll/basic allgatherv wrong answer on different datatypes/counts"
Test Case: https://gist.github.com/jjhursey/508037aa535c7dd1fe2e64610675c280

The above linked testcase performs collectives using the same type signature at each rank in the collective call, but using different types and counts to achieve that signature. It uses either `MPI_LONG_LONG`, a non-contiguous `MPI_LONG_LONG` followed by a space, or contiguous 2x `MPI_LONG_LONG` as its three datatypes.