[2022-01-25 19:36] #9890 closed

[2022-01-25 19:57] awlauria commented on #9919
@edgargabriel I was wrong with my configure statement, I updated it.

I get similar results with --disable-io-ompio (though it is not clear to me that is still supported...)

I do notice that the fcoll/base directory is still built, which is causing the issue. Does this need to be explicitly disabled somehow? I would think including fcoll in the line would disable everything underneath, but for so

[2022-01-25 20:03] edgargabriel commented on #9924
@ericch1 what file systems are these tests running on?
There is one potentially new feature in the 5.0 series that relies on locks, the MPI_File_atomicity operations, do you know whether your tests/codes use the MPI_File_set_atomicity function?  Other than that, shared file pointer operations are also using potentially file locks, but that was already there in 4.0 and 4.1, so that is not new in 5.

[2022-01-25 20:03] haampie commented on #9890
Thanks for double checking, I'll mention this thread with the MPICH folks too.

Turns out, there's a report about this from 2016: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=847554 but I don't see any follow up :(

[2022-01-25 20:05] edgargabriel commented on #9919
@awlauria I can have a look at it, but I am not a super-master of the ompi build logic, will see whether I find something

[2022-01-25 20:58] ericch1 commented on #9924
@edgargabriel the filesystem is "xfs":

[code]
I am not using any MPI_File_atomicity directly.  I however use `MPI_File_read_all` successfully on other ompi versions...

New information:
Just took another test, and saw this on "stderr":
[code]

Also, note that I have configured ompi with: `--enable-debug --enable-picky `

[2022-01-25 21:32] hzhou commented on #375
(Revisiting this issue as it is still haunting us) I have to say, that is a HORRIBLE policy. I am more amenable to the `-fno-common` solution. If a compiler emits common symbols and mess up the linking and offers no flags to switch off, that is a bad compiler. Fortran compilers are exempt due to language design. C compilers have no excuse.

[2022-01-25 21:39] awlauria commented on #9919
I have a potential solution, will post a PR for you to review soon.

[2022-01-25 23:10] edgargabriel commented on #9924
hm, this is actually interesting information, I am wandering whether the mmap problem could lead to the issue that you observe with the file locks. Give me a day or three to think about that.

Could you provide maybe a small reproducer  for the problem, and the number of processes that you use for the tests? ( I assume you are using only one node since you are using xfs?)

[2022-01-25 23:52] edgargabriel commented on #9924
@ericch1 what is OS the test running on?

[2022-01-26 01:05] jsquyres commented on #9918
That sounds like you did the right things.  To triple check, can you run this on pc2:

[code]

Do the same thing from pc1 to pc2.  Make sure that it gives the expected answers (i.e., the location of where you installed Open MPI v4.1.2 by hand, which I think you're saying is `/usr/local/bin/mpirun`, and 4.1.2.

[2022-01-26 01:29] ericch1 commented on #9924
OpenSuse 15.3

[2022-01-26 01:41] #9919 closed

[2022-01-26 01:45] edgargabriel commented on #9924
well, this is getting really interesting, OpenSuse 15.3 with xfs is literally my development environment, and I do not see this issue on any of my tests. So lets hope we can narrow the issue down using your testscase, since we did have a somewhat related bug report a few weeks back ( on Lustre though), but its really hard to fix a problem if you cannot reproduce it.

[2022-01-26 02:14] ericch1 commented on #9924
Ok, let me try to have a reproducer...  give me some days please...
( Maybe some key differences can be seen in the config.log? )

[2022-01-26 02:44] gengtsh commented on #9918
in pc2:
ssh pc1 which mpirun    => /usr/local/bin/mpirun
ssh pc1 mpirun --version =>
mpirun (Open MPI) 4.1.2

Report bugs to http://www.open-mpi.org/community/help/

in pc1:
ssh pc2 which mpirun => /usr/local/bin/mpirun
ssh pc2 mpirun --version =>
mpirun (Open MPI) 4.1.2

Report bugs to http://www.open-mpi.org/community/help/

[2022-01-26 16:56] sassy-crick commented on #9881
I think we can close that issue now. Many thanks for your help!

[2022-01-26 16:56] #9881 closed

[2022-01-26 18:09] shefty commented on #9920
FWIW, I get the same build error with v4.0.7.  I'm trying to see how other developers in my group have successfully built openmpi.  If I copy the 'missing' file (it's there) into my include path, the error moves to the next 'missing' include file in line.  I've tried setting CFLAGS -I hoping that would force the pick-up of the include path, but that didn't work.

[2022-01-26 19:13] j-xiong commented on #9920
Have you tried "make V=1" to see the full compiler command line?

[2022-01-26 22:18] leofang commented on #9845
@Akshay-Venkatesh @bureddy mentioned offline that `cuda` collective component doesn't provide an implementation for Ireduce/Iallreduce, nor does hcoll.

[2022-01-27 01:07] shefty commented on #9920
Quick update: Alexia logged into the same system using the same account as me and was able to build.  She used a github generated tarball, rather than the release tarball.  I tried to duplicate, and hit my same build issue.  So, we have that going for us.

[2022-01-27 01:28] Micket commented on #9906
In case it's not clear what we EasyBuild folks are trying to do here; this is really just a packaging issue from our side. It would be greatly beneficial for us to build "cuda support" separately, and allowing it as an opt-in at runtime. We thought UCX's plugin system would allow us to achieve that, but we (I in particular) was wrong.

Since MCAs are supposed to allow for run-time assembling of th

[2022-01-27 01:37] shefty commented on #9920
This works on my system:
[code]
this does not:
[code]
why the prefix matters is beyond me, but that's where things landed.  My /home/mshefty directory is very boring.  (I'm on a system that I rarely use.)

[2022-01-27 03:03] bwbarrett commented on #9920
was the build directory inside /home/mshefty when you ran into trouble?  And was it inside /home/mshefty/ompi when it worked?  I have alarm bells going off that there's a known issue in the autotools when the build tree is inside $prefix, but I'd have to dig to remember the details.

[2022-01-27 03:44] shefty commented on #9920
I was building from /home/mshefty/src/ompi-4.1.2.  Alexia was building from a different location, but also using a different prefix (to avoid overwriting mine).  When I changed my prefix, the build worked.

[2022-01-27 07:09] akesandgren commented on #9906
I agree https://github.com/open-mpi/ompi/commit/deb37ac03fff566b0ad235734f63213ec0775c72 looks like a bad move for us (EasyBuild) and seems like making the MCA separation model less useful. Before that commit you can build OpenMPI with CUDA support enabled without using cuda include files and then add the actual OpenMPI-CUDA runtime part at a later stage (or separately in our case).

The above com

[2022-01-27 13:45] jsquyres commented on #9845
Does this same problem occur with the equivalent test program written in C?

[2022-01-27 13:58] jsquyres commented on #9920
On the surface, that makes no sense to me at all.  FWIW, I do this kind of thing all the time:

[code]

I could see that there could well be problems if the prefix was the _same_ as the srcdir.  But I've not had problems embedding the prefix in a non-conflicting / non-pre-existing directory inside the srcdir.

For your original error:

[code]

We would need to see the output of `make V=1` to see t

[2022-01-27 14:28] jsquyres commented on #9918
Ok, that's promising.  One more thing to check -- let's double check that the `mpirun` on both nodes is finding the correct libraries:

[code]

[2022-01-27 16:59] bwbarrett opened #9933 "V5.0.x / master: reports that cuda is not run-time loadable"
In https://github.com/open-mpi/ompi/issues/9906 (which started out as a CUDA on 4.1.x problem), there is a discussion that on master (and therefore 5.0.x), it is no longer possible to build Open MPI with cuda support and run on platforms without cuda installed, due to deb37ac.  We need to verify this and fix any regressions in that configuration.

[2022-01-27 17:02] bwbarrett commented on #9906
Closing this issue, as we've identified root cause.  Because Open MPI has to manipulate the user buffer in certain scenarios (collectives are a big one, but there are others), Open MPI must be built with CUDA support in order for the application to be able to pass CUDA buffers to MPI.  That was the root cause of the 4.1.x problem.

I've opened https://github.com/open-mpi/ompi/issues/9933 to track

[2022-01-27 17:02] #9906 closed

[2022-01-27 18:22] shefty commented on #9920
Here's the last section of make output after the 'bad' configure mentioned above.  Let me know if you want the full log:
[code]
/home/mshefty/include only contains the libfabric installed headers under rdma subdir.

[2022-01-27 19:27] Micket commented on #9906
I'm sorry but I must have been unclear and I would like to clarify; this isn't at all the situation, and I have no reason to believe this scenario that you describe is in any way broken in any version of OpenMPI (including 5.0).

My comments are about the opal functions (this code specifcally https://github.com/open-mpi/ompi/blob/v4.1.x/opal/datatype/opal_datatype_cuda.c) which does not actually n

[2022-01-27 19:52] jsquyres commented on #9920
Your output is from `./configure --prefix=/home/mshefty --enable-mpi-fortran=no --with-libfabric=/home/mshefty`, right?

Oddly, I get several more `-I`'s than Sean when I compile `bfrop_base_frame.c`.

* These are the same between Sean's build and my build:
    * `-I.`
    * `-I../../../src/include`
    * `-I../../../include`
    * `-iquote/SRCDIR/opal/mca/pmix/pmix3x/pmix`
    * `-iquote/SRCDIR/o

[2022-01-27 19:56] shefty commented on #9920
Attached should be output from:
[code]
[config.log](https://github.com/open-mpi/ompi/files/7953423/config.log)
[make.txt](https://github.com/open-mpi/ompi/files/7953426/make.txt)

[2022-01-27 23:52] wckzhang commented on #9933
ACK, will work on this in February

[2022-01-27 23:53] wckzhang commented on #9762
I'll take a look while I address https://github.com/open-mpi/ompi/issues/9933

[2022-01-28 00:31] cparrott73 commented on #9444
FYI - it appears this issue has been fixed internally, and the fix should be available to all when the 22.2 release drops soon.

[2022-01-28 02:20] ericch1 commented on #9924
I still not have a reproducer, but following down into ompi code step by step I found that the call that creates the .lock file is mca_io_base_file_select: base/io_base_file_select.c:249:
[code]
I put a breakpoint here to go down further....

[2022-01-28 02:29] ericch1 commented on #9924
Ok, here is the backtrace to exactly where the .lock file is created:
[code]

What should I try to display now?  Maybe we could do a live debugging session?

[2022-01-28 07:05] rhc54 commented on #9907
I'm afraid this is proving to be a fundamental problem - we may wind up having to add a configure check in PMIx and PRRTE to disallow hwloc versions greater than 2.4. The problem is that we now fail if the _system_ hwloc is built with the NVIDIA libraries. Remember, neither PMIx nor PRRTE carry their own versions of HWLOC - we rely on the provided version, which is typically just what the system h

[2022-01-28 07:24] akesandgren commented on #9906
And if it isn't clear yet, what we, EasyBuild, want to achieve is to build OpenMPI in such a way that it is aware of the CUDA functionality in the base build (without it trying to include cuda.h at configure/build) then at a later stage build the actual cuda part,  libmca_common_cuda.so, into a separate directory and add it to the paths OpenMPI searches for MCA modules.

I.e. the code prior to the

[2022-01-28 11:16] saulocpp commented on #9851
@janjust is it ok if I update the topic?
In the NV thread mentioned, the moderator made the cuda-aware data copy work on his Tegra setup and so did I, after fixing a few paths due to differences in installation. However, even with the copy working and the remote Tegra printing the right value to confirm the copy, I get the following message:

[code]

EVH5150 is the host receiving the data copy in

[2022-01-28 12:30] edgargabriel commented on #9924
@ericch1 thank you, this looks perfectly fine so far and expected. The question really is why is the file not removed during file_close, this is where the cleanup should occur but does not in your case.

[2022-01-28 14:57] janjust commented on #9851
@saulocpp

Sure
@open-mpi/cuda fyi

[2022-01-28 15:23] ericch1 commented on #9924
I have a reproducer!

The bug is that we do `chdir` before the call to `MPI_File_open` and just after...

Here it goes:
[code]
With the fo.c being:
[code]

and since only the "filename" without path is kept into `mca_sharedfp_lockedfile_data`, then the call made in `mca_sharedfp_lockedfile_file_close` :
[code]
is not deleting anything...

But I can't go further into debugging this... ;)

[2022-01-28 15:30] brminich commented on #9859
@hoopoepg

[2022-01-28 15:46] hoopoepg commented on #9859
@brminich will look

[2022-01-28 17:56] bwbarrett commented on #9906
You can't achieve what you propose with Open MPI's design, at any point in Open MPI's history.  What you tried may have worked for certain cases, but would not have worked in the general case.

CUDA's design is pretty invasive for something like an MPI implementation.  Certain datatypes require local processing (frequently, copying), as there's no other rational way to transfer them.  A 1 million

[2022-01-28 18:00] edgargabriel commented on #9924
@ericch1 excellent, thank you! I will try to create a patch over the weekend, this is super helpful!

[2022-01-28 20:41] hppritcha commented on #9656
closed via #9788 #9787 #9786 and #9784

[2022-01-28 20:41] #9656 closed

[2022-01-28 21:13] awlauria commented on #9576
I retested this on v5.0.x, and it got past configure, however I did run into some pkg-config errors and other things. That said I think the reported issue here is fixed.

My configure line:

[code]

PR to fix these issues: #9943

[2022-01-29 16:15] Akshay-Venkatesh commented on #9851
@janjust @saulocpp

I'll look into possible cumemhostregister limitations on tegra. Looking at the forum post and the output here, it doesn't look like ucx is being used.

@saulocpp in the past I had run openmpi(3.x) and ucx(1.8?) versions on a Jetson nano and my tests were working. I'll try and find the recipe and post here.

[2022-01-29 18:37] saulocpp commented on #9851
@Akshay-Venkatesh thanks for your time looking into this.
And just to complement with information you may want to know, both the moderator at NV forum and I are using the latest versions available from git, that is, ucx 1.11 and ompi 5.1 (if I'm not mistaken), compiled with ucx support on JetPack 4.6 and an existing ompi v2.1 installation from Ubuntu factory (this one built without cuda-awareness

[2022-01-30 09:44] bgoglin commented on #9907
If people use an external hwloc built with CUDA in /usr/local/cuda without LD_LIBRARY_PATH pointing to /usr/local/cuda/lib64, that lstopo will fail with the same error. It's a bug in their hwloc installation, they must put /usr/loca/cuda/lib64 in LD_LIBRARY_PATH or ld.so.conf .

I don't know what happened on the EC2 machine, but CUDA installs a /etc/ld.so.conf.d/cuda... on CentOS, and it points to

[2022-01-30 11:55] Ajax-Light commented on #6464
Hi, is this still open? I'd like to take a shot at this

[2022-01-30 11:57] Ajax-Light commented on #7148
Hi, is this still open?

[2022-01-30 15:46] rhc54 commented on #9907
Err...I honestly don't believe that is what you want, for two reasons.

First, you've gone to all that trouble to write configure code that checks the CUDA library for its version, features, etc, setting controls to direct what you build inside HWLOC. You then throw all that away to accept an arbitrary version in someone's library path? You have no idea what version that is, if your controls are s

[2022-01-30 16:49] bgoglin commented on #9907
We're not asking third-party to guess where CUDA is, we're asking the guy who installed a custom hwloc to setup things properly (export LD_LIBRARY_PATH in a "module", update ld.so.conf, ...) so that third-party gets the info automatically if they use that hwloc. That's what all spack/guix/module things do all the time and it works fine.

That's said, I am fine with adding rpath (if something knows

[2022-01-30 18:09] rhc54 commented on #9907
I guess I'll just leave it as "I disagree". To me, the point of "module" is to allow multiple versions of the same library to coexist in an environment so that users can easily switch between them. It is specifically not to enable a particular instance of a library to operate. If I install a library using a configure line that tells it exactly where a required dependency exists, I shouldn't have t

[2022-01-30 18:11] edgargabriel commented on #9924
@ericch1 would you mind giving this patch here a test?
https://github.com/edgargabriel/ompi/tree/topic/lockedfile-fixes

(Side note: I see now occasionally on my system also the same error message from sharedfp/sm as you, but I cannot yet reliable reproduce it. Will investigate it separately from this patch).

[2022-01-30 18:49] ericch1 commented on #9924
ok, testing right now... full ompi/petsc/MEF++ compilation and tests is 5 hours... stay tuned! ;)

[2022-01-31 01:25] ericch1 commented on #9924
Oups, I did a mistake and didn't retrieved the good branch... the nightly build will start soon, so the results will be there tomorrow...

[2022-01-31 13:26] hoopoepg commented on #9859
@devreal could you check this PR https://github.com/open-mpi/ompi/pull/9946

thank you

[2022-01-31 13:53] ericch1 commented on #9924
@edgargabriel good news: all temporary `.lock` files are gone with 62577a4a1 !  Thanks a lot! :)

For information, here are the build logs for ompi and PETSc:

http://www.giref.ulaval.ca/~cmpgiref/ompi_5.x/2022.01.30.22h06m28s_ompi_config.log
http://www.giref.ulaval.ca/~cmpgiref/ompi_5.x/2022.01.30.22h06m28s_ompi_ompi_info_all.txt

Petsc's logs: http://www.giref.ulaval.ca/~cmpgiref/ompi_5.x/2022.0

[2022-01-31 14:12] edgargabriel commented on #9924
@ericch1 thank you! You were the one identifying the actual issue, developing the solution was relatively straight forward from there. We will merge this hopefully soon, and I would expect the patch to be also backported to at least the 4.1 branch, maybe also 4.0.

[2022-01-31 14:42] jsquyres commented on #7148
Yep!

[2022-01-31 14:43] jsquyres commented on #6464
Yes, it's still open.

[2022-01-31 16:57] Akshay-Venkatesh commented on #9851
@saulocpp Can you provide the output of ` cudaDeviceGetAttribute` with `cudaDevAttrHostRegisterSupported` attribute? It maybe the case that HostRegister is unsupported on your platform. Refer [I/O Coherency](https://docs.nvidia.com/cuda/cuda-for-tegra-appnote/index.html#io-coherency)

[2022-01-31 17:07] ericch1 commented on #9924
You're welcome!

But I didn't noticed the bug with 4.1.x or 4.0.x branch which we test nightly also!... ???

[2022-01-31 17:08] jjhursey commented on #9907
For reference, @bgoglin filed an issue to track this over in hwloc. I've been able to reproduce with a container with CUDA libraries and posted some details there.
 * https://github.com/open-mpi/hwloc/issues/515

I plan to take a look at the configure logic to see if I can improve it for CUDA. If that pans out then we can try to apply it to the OpenCL logic (and if others need it).

[2022-01-31 17:41] saulocpp commented on #9851
@Akshay-Venkatesh , first of all, thanks for your reply.
I think you nailed. This function returns 1 for this attribute on a Jetson Xavier NX (Volta) but 0 on a Jetson Nano (Maxwell), which is part of my cluster.
I will read the doc you referred to but already saw that "I/O coherency is supported on Tegra devices starting with Xavier SOC".

In this direction, if I am manually allocating pinned mem

[2022-01-31 17:50] Akshay-Venkatesh commented on #9851
As there isn't a way for UCX/OpenMPI to know about user allocated pinned memory, UCX would have to make its own allocation and use/reuse these buffers for staging over subsequent transfers. IIUC, you're right that you don't have to additionally allocate pinned host memory manually.

[2022-01-31 19:42] saulocpp commented on #9851
@Akshay-Venkatesh thanks for your input on all of this and ultimately pointing me to the issue.
Your last comment on the buffer and copy scratched the surface of UCX, which now prompts me to read some documentation to understand the persistence of its buffers, such as predicting a copy on the way back and avoiding a new allocation, and rethink my resource management policy.
I will update the topic

[2022-01-31 20:25] Yiltan commented on #9759
Did anybody work this one out?

[2022-02-01 10:37] akesandgren opened #9950 "mca_btl_smcuda.super.btl_cuda_eager_limit missing OPAL_CUDA_GDR_SUPPORT protection"
opal/mca/btl/smcuda/btl_smcuda_component.c uses mca_btl_smcuda.super.btl_cuda_eager_limit without #if OPAL_CUDA_GDR_SUPPORT protection.

Master branch (2022-02-01)
opal/mca/btl/smcuda/btl_smcuda_component.c  line 217-218
The member is protected in opal/mca/btl/btl.h

This is the only occurance I can find that has this problem.

[2022-02-01 10:47] akesandgren commented on #9950
opal/mca/btl/smcuda/btl_smcuda.c is also missing a OPAL_CUDA_GDR_SUPPORT protection around
MCA_BTL_REG_FLAG_CUDA_GPU_MEM in mca_btl_smcuda_register_mem line 1011

The same goes for ompi/mca/pml/ob1/pml_ob1_cuda.c in mca_pml_ob1_rdma_cuda_btls line 130-131

[2022-02-01 11:13] angainor opened #9951 "Q: HPCX and current state of DC and UD transports"
We are running HPCX 2.10 on our ConnectX-6 cluster. Recently we have switched to using the UD transport as default on the cluster, because of various issues we've seen with DC. Things seem mostly fine, but one user reports seeing random issues like:
[code]
I saw a number of similar reports here, and some of them have apparently been fixed. But it seems there are more outstanding issues of this typ

[2022-02-01 11:18] angainor commented on #9951
Argh.. sorry, I thought I was writing on the UCX forum.

[2022-02-01 11:18] #9951 closed

[2022-02-01 15:14] gpaulsen commented on #6464
@Ajax-Light As you investigate this, please remember that Open MPI `v5.0.x` and `master` branches no longer have the `MPIR` debugger interface.  I'm not sure if DDT yes supports the PMIx Tools debugger interface, but if it doesn't, please take a look at the SHIM library https://github.com/openpmix/mpir-to-pmix-guide to allow parallel debuggers which support `MPIR` to work with the PMIx Tools debug

[2022-02-01 15:22] jsquyres commented on #9920
This rabbit hole is getting deeper.  ☹️

Can you also send opal/mca/pmix/pmix3x/pmix/config.log?

[2022-02-01 15:28] jsquyres commented on #9918
There certainly are differences between the mpirun's dependent libraries.  That _could_ be what's going on here; I have to say that testing a single run across Ubuntu 18 and Ubuntu 20 is not an environment that we test.

Is there any way you can get the same version of Ubuntu on both nodes?  That would simplify things.

[2022-02-01 16:06] akesandgren commented on #9762
It also fails to build with just --enable-mca-dso, even without --with-cuda, this time when linking ompi_info
[code]

[2022-02-01 16:11] edgargabriel commented on #9762
pr #9944 has been filed to fix this issue

[2022-02-01 16:24] puneet336 opened #9953 "error: function "MPI_Comm" is not a type name"
## Background information
I am trying to compile wrfv3.9.1.1 on RHEL 8.4.
i get issues like -
error: function "MPI_Comm" is not a type name
error: "MPI_Comm" has already been declared in the current scope
when trying to compile file https://github.com/wrf-model/WRF/blob/V3.9.1.1/external/RSL_LITE/buf_for_proc.c
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and

[2022-02-01 16:34] gengtsh commented on #9918
Is this the reason? Openmpi 4.1.2 can't run on different Ubuntu system at
the same time? I can't change the os system because this is the situation
where I  simulate my test cases (running on different node with different
OS ). Is there a way to figure out  the specific reason and solve the
problem?

On Tue, Feb 1, 2022, 7:29 AM Jeff Squyres ***@***.***> wrote:

[2022-02-01 16:38] puneet336 commented on #9953
issue got fixed by adding mpicc  **-DMPI2_SUPPORT**

[2022-02-01 16:38] #9953 closed

[2022-02-01 17:06] jsquyres commented on #9918
What I know is that this is not a situation that we test.

In principle, you should be able to configure Open MPI identically between Ubuntu 18 and Ubuntu 20.  However, with the naturally-different versions of libraries on Ubuntu (like hwloc, libevent, PMIx, etc.), Open MPI may end up configuring itself differently on these different machines.

One example: I don't know offhand if PMIx (one of Ope

[2022-02-01 17:19] rhc54 commented on #9918
Err...PMIx has no role in the problem reported here. It is either one of several things:

1. the backend daemon dies in mid-message, and so the message buffer is truncated.
2. the front and backend OMPI installations are not configured the same - one was built with `--enable-debug` and the other was built without that flag
3. there are completely different versions being used on the two ends. Most

[2022-02-01 17:52] gengtsh commented on #9918
@rhc54 , can you please let me know how to solve/check your suggested issues  1 and 3

for second issue, i installed openmpi in both pc with same commands: sudo ./configure --prefix=/usr/local  ; sudo make all install, i didn't add debug parameter

[2022-02-01 18:00] gengtsh commented on #9918
@jsquyres , based on the suggestions you list

i run command in PC2:
sudo apt-get install libevent-dev
sudo apt-get install -y libpmi2-pmix

then i get the same output

[2022-02-01 18:22] jsquyres commented on #9918
What I would try next is the `./configure ...` that I suggested above (with the `internal` options and putting the `PREFIX` entries at the front of your `PATH` / `LD_LIBRARY_PATH`).

[2022-02-01 18:44] shefty commented on #9920
config.log from pmix should be attached.  Unfortunately I don't have a way to grant someone external access to this system.

[pmix-config.log](https://github.com/open-mpi/ompi/files/7981124/pmix-config.log)

[2022-02-01 22:18] gengtsh commented on #9918
@jsquyres
I did reinstall openmp in pc2 using:
sudo ./configure --prefix=/usr/local --with-libevent=internal --with-hwloc=internal --with-pmix=internal
sudo make all install

add /usr/local to my PATH/LD_LIBRARY_PATH

and rerun command:  mpirun -np 1 --host pc1 hostname
i got the same outputs

[2022-02-01 22:24] jsquyres commented on #9918
Did you add `/usr/local/bin` to the front of your `PATH` and `/usr/local/lib` to the front of your `LD_LIBRARY_PATH`?

Make sure to do that in your shell startup file (e.g., `$HOME/.bashrc`) so that they are set for non-interactive logins.  E.g., `ssh othernode env | grep PATH` should show these two env variables set with `/usr/local/BLAH` in the front.

[2022-02-01 22:28] gengtsh commented on #9918
yes, i did add /usr/local/bin to PATH, /usr/local/lib to LD_LIBRARY_PATH
in pc1, i run ssh pc2 env|grep PATH , the output is
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
in pc2, run ssh pc1 env|grep PATH, the output is
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin

[2022-02-01 23:31] jsquyres commented on #9918
In the output from those ssh statements, you should see LD_LIBRARY_PATH, too.  Check your `.bashrc`.

[2022-02-01 23:50] gengtsh commented on #9918
this is what i added in my .bashrc
export PATH=/usr/local/bin:$PATH
export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH

[2022-02-02 13:15] jsquyres commented on #9918
There is a difference between interactive logins and non-interactive logins.  Open MPI is using non-interactive logins (i.e., like `ssh othernode some_command` -- that's a non-interactive login because it runs one command and then exits).  Some `.bashrc`'s exit early upon non-interactive logins because the assumption is that non-interactive logins don't need all the same things setup as interactiv

[2022-02-02 16:02] #9013 closed

[2022-02-02 17:18] ofloveandhate commented on #9905
I'm getting nearly identical results on MacOS 12.2, with openmpi 4.1.2 installed via homebrew.  I'm using software called [Bertini](bertini.nd.edu).

[code]

The program still produces its results, but I'm getting these errors from MPI.  Two additional pieces of information:
* I checked and I own the folder `/var/folders/53/j42yr5ln4753p482rthz0bfr0000gq/T`, with rwx permissions.
* `T` does not co

[2022-02-02 18:03] gengtsh commented on #9918
thanks @jsquyres .
can you please me know what others i can try to solve the problem?

[2022-02-02 18:41] gengtsh commented on #9918
thanks @jsquyres .
i have a question that since $LD_LIBRARY_PATH are not shown in env of both PC1 and PC2, but in PC1, the command "mpirun -np 1 --host pc2 hostname", i get the correct output. PC2 can not get the correct output. If it is $LD_LIBRARY_PATH env issue, PC1 should not get the correct output too. it confuses me a lot.

[2022-02-02 19:07] thomasgillis opened #9957 "OpenMPI + UCX fails in MPI_Win_post"
Hi,

I am having issues wit the RMA part of OpenMPI (v4.1.2). The code randomly succeeds or fails with `ucx` and is unable to create a window with `rdma`, as described below.

Thanks for your time!

## Background information
We have a code using MPI one sided communications with a PSCW approach.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
I a

[2022-02-02 20:16] awlauria commented on #9576
Should be fixed on master with: https://github.com/open-mpi/ompi/pull/9955

[2022-02-02 20:18] hppritcha commented on #9203
closed via #9707 #9916

[2022-02-02 20:18] #9203 closed

[2022-02-02 20:47] hppritcha commented on #9555
@devreal I think we need PR #9567  applied to v5.0.x branch as well.

[2022-02-02 23:37] awlauria commented on #9917
Opened https://github.com/open-mpi/ompi/pull/9959 to potentially address this in master.

[2022-02-03 01:39] wckzhang commented on #9762
Was able to reproduce, trying to wrap my head around the mca dso stuff now.

[2022-02-03 06:26] akesandgren commented on #9762
Due to other reasons I'd strongly recommend reverting https://github.com/open-mpi/ompi/commit/deb37ac03fff566b0ad235734f63213ec0775c72
From my perspective that code doesn't belong in mca_common_cuda since it isn't directly depending on cuda.h
It will also fix this problem for --enable-mca-dso=all together with --wth-cuda

[2022-02-03 14:06] awlauria commented on #9576
One potential bug with the above pr, when testing `--with-pmix=external`, where pmix is built into something like `/usr/local/lib`, I get a runtime error where it will fail to fine libpmix.so unless I set LD_LIBRARY_PATH to point to it. I don't think this is a problem with it installed in the general lib/lib64 dirs.

This could be fixed in OPAL_CHECK_PACKAGE to add the rpath to the LD_FLAGS. Howev

[2022-02-03 15:23] ofloveandhate commented on #9905
Indeed, on MacOS, this worked.  Please pardon if my comments read as noise on this issue.  Thank you very much!

[2022-02-03 16:33] awlauria commented on #9576
Closing this, as master and v5.0.x has been merged. I may open a new issue on the runtime error.

[2022-02-03 16:33] #9576 closed

[2022-02-03 19:47] shijin-aws commented on #9907
Tested the `--enable-plugin` option introduced in https://github.com/open-mpi/ompi/pull/9921. Verified it fixes the issue we had.

[2022-02-03 20:50] wckzhang commented on #9762
I think the issue occurred from this patch -https://github.com/open-mpi/ompi/pull/8788/commits/c81cdd76897499fb42099ef784fb2dfd86cc9f06

What happened I think was:

1. Made it work with --enable-mca-dso (when it was by default)
2. We changed build style to default to static (it didn't work with static at the time and broke)
3. Made it work with --enable-mca-static (the new default) - and broke it

[2022-02-03 22:30] devreal commented on #9555
@hppritcha This was merged into v5.0.x in https://github.com/open-mpi/ompi/pull/9770 (it didn't reference the issue though, sorry)

[2022-02-04 04:20] bparseghian opened #9965 "mpirun hangs without giving an error on macOS Monterey"
Thank you for taking the time to submit an issue!

## Background information

mpirun hangs without giving an error

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

openmpi-4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

installed from

[2022-02-04 13:54] jsquyres commented on #9861
This was fixed by #9863

[2022-02-04 13:54] #9861 closed

[2022-02-04 14:14] jsquyres opened #9972 "master: sessions support broke --enable-heterogeneous builds"
It looks like #9097 (6bd36a78716) introduced a compile error when using `--enable-heterogeneous`.  Both coll/adapt and pml/ob1 get compile errors.  They both appear to stem from `ob1/pml_ob1_hdr.h`, so I'll only list a token set of compile errors from pml/ob1 here:

[code]

This obviously needs to be fixed before sessions can be brought to the v5.0.x branch.

[2022-02-04 14:57] ofloveandhate commented on #9905
Was this solved for @afborchert?

[2022-02-04 15:04] jsquyres commented on #9905
Oops -- I didn't notice that the "That fixed it!" notice wasn't from the original poster.  My bad!

@afborchert Can you chime in as to whether that fixed it for you?

[2022-02-04 15:05] afborchert commented on #9905
@ofloveandhate No, the close by @jsquyres was a surprise to me. However, I am not sure right now how I can help @hppritcha and possibly others to analyze this problem. Right now, we have OpenMP 4.1.2 just on Solaris. The messages appear indeed to be harmless but are, of course, annoying. This effect is intermittent and attempts to have this happening while running under truss (system call logger c

[2022-02-04 15:43] awlauria commented on #9924
master pr: https://github.com/open-mpi/ompi/pull/9945

[2022-02-04 21:07] awlauria commented on #9917
Master and v5.0.x PR's merged - closing.

[2022-02-04 21:07] #9917 closed

[2022-02-04 21:50] albandil opened #9974 "MPI_Win_allocate_shared throws MPI_ERR_RMA_SHARED on osc component selection"
I am using self-compiled Open MPI from the 5.0.x development branch on a standard desktop system with openSUSE Tumbleweed. I have up-to-date Git submodules and have executed `autogen.pl` before compilation.

In the commit 43b5d8c666817c468cad4c5e6fb664b402c07fa1, the code of `ompi_osc_rdma_component_query` has been changed to always return `OMPI_ERR_RMA_SHARED` when shared memory functionality is

[2022-02-04 21:52] bwbarrett commented on #9974
Yeah, WIN_ALLOCATE_SHARED is currently broken in both master and 5.0.  There is no workaround on those branches.  Fixing this is on my todo list.

[2022-02-05 19:25] albandil opened #9976 "Option --preload-files causes segmentation fault"
I am using self-compiled Open MPI from the 5.0.x development branch on a standard desktop system with openSUSE Tumbleweed. I have up-to-date Git submodules and have executed autogen.pl before compilation. I compiled the package by
[code]

When I attempt to use the option `--preload-files`, I get segmentation fault:
[code]
The presence or absence of the file "xxx" does not affect the behaviour.

[2022-02-05 20:23] albandil commented on #9833
The error is due to wrong code in `opal_str_to_bool_impl` (see the snippet from current master below). To evaluate string as `false`, it needs to be ***both*** "no" and "false", which is obviously impossible. The key "alloc_shared_noncontig" in question is normally "false". So, in the current state of the code it falls through to `OPAL_ERR_BAD_PARAM`.
[code]

[2022-02-05 21:13] rhc54 commented on #9976
Fixed in https://github.com/openpmix/prrte/pull/1199 - unsure when it will be updated in OMPI

[2022-02-06 19:34] #9965 closed

[2022-02-06 19:51] bparseghian commented on #9965
Conflict error having nothing to do with open-mai.  Sorry.

[2022-02-07 17:22] tkordenbrock opened #9980 "master: Portals4: replace comm->c_contextid use with ompi_comm_get_local_cid()"
https://github.com/open-mpi/ompi/pull/9097 extended the the communicator context ID and direct access to comm->c_contextid is no longer appropriate.  Use ompi_comm_get_local_cid() instead.

[2022-02-07 21:22] rhc54 opened #9983 "Warnings in master branch: src/mem area"
Building CentOS with gcc 8.5.0 compiler:
[code]

[2022-02-07 21:25] rhc54 opened #9984 "Warnings on master branch: ucx related"
Building on CentOS with gcc 8.5.0 compiler:
[code]

[2022-02-07 21:26] rhc54 opened #9985 "Warnings on master branch: MPI related"
Compiling on CentOS with gcc 8.5.0 compiler:
[code]

[2022-02-07 21:28] jsquyres opened #9986 "Building --disable-shared --enable-static results in being unable to link MPI apps"
Configuring Open MPI master HEAD with `--disable-shared --enable-static` results in being unable to link MPI apps:

[code]

[code]

If we manually add the missing libraries, it compiles fine, of course:

[code]

pkg-config does exist.  If I manually set `PKG_CONFIG_PATH`:

[code]

PMIx reported libz.  Looking at the output from configure, it looks like the libnl3 dependency is coming from PMIx, to

[2022-02-07 21:30] jsquyres commented on #9984
FYI @open-mpi/ucx

[2022-02-07 22:09] thomasgillis opened #9987 "OpenMPI 4.1.2 - MPI_Win_create fails with `osc rdma`"
Dear OpenMPI team,

I have issues with the configuration of OpenMPI (4.1.2 + UCX 11.1) and especially with the `rdma` flavor of one-sided communications.
When running this [smal example](https://github.com/thomasgillis/cori-mpi-rma/blob/162f2258c723dc88b12b148aa138863e39476c82/empty.cpp) with `mca osc ucx` it works as expected while the same code with `mca osc rdma` fails at the creation of the of

[2022-02-08 00:33] rhc54 commented on #9985
Got another when building on Mac:
[code]

[2022-02-08 00:34] rhc54 commented on #9985
Hmmm...and now it fails on Mac too!
[code]
This was configured with external libevent, hwloc, pmix, and prrte. No other configure flags given.

[2022-02-08 00:35] rhc54 commented on #9985
Also got one more warning before the failure:
[code]

[2022-02-08 00:41] rhc54 commented on #9985
Anyone have any suggestions on how to get past this - perhaps some configure option one could use? Or are we just dead in the water?

[2022-02-08 00:44] rhc54 commented on #9985
Never mind - I found a way to fix the duplicate symbol problem. Will post a PR for it shortly.

[2022-02-08 00:46] rhc54 opened #9988 "Warnings on master branch: vprotocol"
Generated on the Mac:
[code]

[2022-02-08 01:11] bosilca commented on #9985
[code]

This would be a better solution, but still not perfect, as we will have a structure defined twice. I'll create a PR.

[2022-02-08 11:12] yosefe commented on #9984
@rhc54 Thanks for the report, which CentOS version was it? Any special ./configure flags?

[2022-02-08 14:17] rhc54 commented on #9984
CentOS 7 - only the prefix for configure

[2022-02-08 15:21] awlauria commented on #9986
I tried this on rhel8.4 and am unable to reproduce

[code]

[code]

[code]

[2022-02-08 16:12] bwbarrett commented on #9986
@jsquyres can you attach the output of configure and the resulting config.log?

[2022-02-08 16:27] jsquyres commented on #9972
@hppritcha FWIW, I did a configure with *just* `--enable-heteorgeneous` -- none of the `debug` configure flags, and it still fails with my gcc 10.2.0.  Here's the compile line ([here's my full config.log](https://github.com/open-mpi/ompi/files/8025652/config.log))

[code]

[2022-02-08 16:48] jsquyres commented on #9972
I should clarify that my above comment apparently automatically enabled debug options (due to the presence of the `.git` subdir).  I note that when I do a VPATH build and all the debug stuff isn't enabled, I still get the compile error:

[code]

[2022-02-08 18:22] bwbarrett commented on #3879
@gpaulsen I think we should close this issue.  I think we've pushed C11 usage as far as we sanely can at this point, and it's waiting for the world to catch up before we can take the next step.  There's a particularly ugly problem with ARM and POWER and LL/SC that we'd have to sort out and unless we can (which seems dubious), we're always going to have about the level of atomics complexity we have

[2022-02-08 18:54] jsquyres commented on #9986
[config.log](https://github.com/open-mpi/ompi/files/8026668/config.log)
[config.stdout.txt](https://github.com/open-mpi/ompi/files/8026669/config.stdout.txt)

[2022-02-08 20:21] awlauria commented on #9986
Your pkg-config didn't pick up libevent for some reason. Not sure if that is what caused this, but it is strange.

[2022-02-09 05:16] bosilca commented on #9972
The corresponding PR (#9993) has been merged.

[2022-02-09 05:16] #9972 closed

[2022-02-09 15:03] thomasgillis commented on #9987
If someone encounters the same issue, recompiling with an `ofi` support solved my issue:
[code]

[2022-02-09 18:12] #9836 closed

[2022-02-10 16:51] #9984 closed

[2022-02-11 12:27] angainor commented on #9479
@edgargabriel Has this been pinned yet? We see the same thing on OpenMPI 4.1.1 compiled with Intel compilers, on Lustre client 2.12.8. The Fortran code writes a file using the following code (indices come from domain decomposition, so it's not directly runnable):
[code]
The code starts writing the file, and gets somewhere, but then hangs:
[code]
The same run with ROMIO321 goes without trouble:
[co

[2022-02-11 13:42] angainor commented on #9479
@edgargabriel we have also tested the IO performance with OMPIO and ROMIO321 using the NPB benchmark, and the difference in speed is rather dramatic:
[code]

[2022-02-12 05:05] #9985 closed

[2022-02-14 07:46] mkre commented on #9638
Just want to post a friendly reminder @bosilca...

[2022-02-14 15:50] thomasgillis commented on #9871
I experienced a similar issue recently on v4.1.2 (https://github.com/open-mpi/ompi/issues/9987)
Installing an `ofi` interface solved my issues but if you have a better solution I am highly interested

Thanks for your help!

[2022-02-14 20:26] gefei-qian-nih commented on #9920
Are you on RHEL7/CentOS7?
The system installed gcc 4.8.5 may not be compatible with it. Try some newer gcc. Gcc version 10.2.9 will solve that particular problem, at least.

[2022-02-15 00:26] ggouaillardet commented on #9920
There is no gcc 10.2.9.
Also, I was able to build Open MPI 4.1.2 on my CentOS7 workstation with the stock gcc 4.8.5.

[2022-02-15 00:46] ggouaillardet commented on #9920
got it :-)

from  PMIx `config.log`

[code]

I suspect this overwrites `CPPFLAGS` (causing `-I/home/mshefty/src/ompi-4.1.2` to be removed and hence the failure).
This also explains why you do not have this error when you use a different prefix (that does not contain a `share/config.site`)

[2022-02-15 01:01] shefty commented on #9920
@ggouaillardet - That's it.  I don't know how that file got there (it's 5 years old), but that's overwriting those flags.

[2022-02-15 03:54] gefei-qian-nih commented on #9920
Confirmed. A clean centos7 does not have this problem. I may have other issues on my system.

[2022-02-15 05:11] #9920 closed

[2022-02-16 00:41] wckzhang commented on #9762
To summarize, this bug was caused when we moved the cuda copy/malloc/etc. code from datatype -> common. When building with dynamic dso's, libopen-pal needs the common cuda component as a dependency with that change. In addition, simply adding the dependency breaks design as the core libraries were never intended to depend on common libraries. Instead of reverting the code move, the requested chang

[2022-02-16 04:33] nysal commented on #9307
Working on a proposal here - https://github.com/nysal/ompi/tree/framework_threadsafe_open

[2022-02-16 09:43] angainor commented on #9924
@edgargabriel is this in any way related to #9479 ?

[2022-02-16 14:51] edgargabriel commented on #9924
@angainor if you refer to the the lock files problem on that ticket, most likely yes. The performance issue reported later on the ticket probably not.

[2022-02-16 19:48] bangerth opened #10017 "MPI_Datatype definitions cannot be used in constexpr statements"
I was trying to write a little generic C++ routine that translates the data type of a variable into the corresponding `MPI_Datatype` value. Something of this sort (the specific details don't actually matter, but you get the idea):
[code]
The problem is that at least some compilers don't allow making the variable (and the query functions) `constexpr` because, as I found out to my surprise, the defi

[2022-02-16 20:32] devreal commented on #10017
That is indeed a problem I ran into in the past. The MPI standard gives the implementations the freedom to implement MPI handles in whichever way they want. Since C++ is not officially supported by MPI, this isn't even a quality of implementation question.

Your suggestion won't work either because `ompi_mpi_unsigned` is en external symbol that is not a compile-time constant. For Open MPI to suppo

[2022-02-16 20:42] devreal commented on #10017
You might want to add your wish to the list in https://github.com/mpi-forum/mpi-issues/issues/288 (if it's not already there). The MPI Forum is discussing a future C++ interface and I agree that support for `constexpr` would be nice (although I don't like the repercussions it might have on implementations).

[2022-02-16 21:34] bangerth commented on #10017
@devreal Actually, I think that this should still work. `ompi_mpi_unsigned` is an external variable whose *contents* are unknown in the header file and that consequently can't be accessed in a `constexpr` variable. But `MPI_UNSIGNED` only refers to the *address* of the object, and that is (at least as far as I know) a `constexpr`.

Indeed, this works:
[code]

[2022-02-16 21:35] bangerth commented on #10017
I *think* that the root cause is really just the `static_cast<void*>` where you're doing type-punning because you want the address of the first member of the `struct`.

[2022-02-16 22:36] devreal commented on #10017
That's surprising. I stand corrected :) The cast is needed because of the padding put into predefined types in order to keep the ABI stable. Exposing the implementation of `ompi_predefined_datatype_t` (and necessarily `ompi_datatype_t`) defeats the purpose. I cannot quite make sense of the explanation given in https://github.com/open-mpi/ompi/blob/master/ompi/communicator/communicator.h#L349 as to

[2022-02-17 03:36] bangerth commented on #10017
I think the cast isn't actually for the padding, but because you define `MPI_UNSIGNED` as a pointer to a member of a structure of a different type. You happen to know that the member is at offset zero, so their addresses are the same, but have different types, and the double cast is simply a way to do type punning of the pointer.

What I don't understand is why `MPI_UNSIGNED` isn't just defined as

[2022-02-17 04:58] ggouaillardet commented on #10017
@bangerth my 0.02US$

shouldn't it be instead (note the `&`) ?
[code]

Anyway, **internally**, `ompi_datatype_t` and `ompi_predefined_datatype_t` are fully defined.

However, from an end user point of view (e.g. `#include <mpi.h>`), only (pointers to an ) unspecified `struct` are used, so the `dt` field is **not** exposed to the end users.

[2022-02-17 11:12] gkatev commented on #9885
I dug a bit into this, and it looks like it's related to the `ompi_comm_coll_preference` info key (@bosilca). Apply this helpful patch to observe the effect:
[code]
[code]
libnbc is included in the info key, and therefore is inserted last into selectable, so as to get chosen
[code]
UCC's `module_enable` is called before libnbc's, which is why `mca_coll_ucc_save_coll_handlers()` fails.

[2022-02-17 17:25] bangerth commented on #10017
Yes, it should have been the address.

[2022-02-17 17:35] devreal commented on #10017
After talking to @bosilca on why we have separate types for predefined MPI handles, here is my take-away: the internal data structures of Open MPI (`ompi_datatype_t` being among them) may change when Open MPI is compiled with different options (debug probably the most likely culprit). `ompi_mpi_unsigned` is defined as an external symbol so the linker records its size at link time and the loader co

[2022-02-18 02:33] camda03 opened #10025 "Orted hanging(?) while importing TensorFlow."
Thank you for taking the time to submit an issue!

## Background information

I'm running Open MPI in support of TensorFlow Version =  2.7.0
Sometimes, for no readily apparent reason, importing TensorFlow "import tensorflow as tf" hangs.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

$ ompi_info
                 Package: Debian OpenMPI

[2022-02-18 03:54] rhc54 commented on #10025
I'm not that familiar with the current state of MPI integration with Tensorflow, but it doesn't look all that solid from what you have provided. They'd be a lot better off running it under PRRTE as opposed to what they appear to be doing (which is to start a whole bunch of singletons). OMPI singletons involve some significant overhead as we have to assume the procs will do a "comm_spawn", which me

[2022-02-18 04:15] camda03 commented on #10025
Thanks for your response and for putting up with my limited
understanding of the inner workings of OpenMPI.
Here's a ticket I created with the TensorFlow team on this issue.
https://github.com/tensorflow/tensorflow/issues/54218One of their
developers or support team members is on this ticket.
I appreciate your explanation of what might be going wrong here.As you
properly point out, orted may not b

[2022-02-18 13:03] gkatev commented on #9883
I've also been taking a look into HAN's code these days, and was a bit confused as to how the component selection works, especially with the `dynamic` MCA parameters.

From what I've gathered:

- The `_simple` (have only actually looked at allreduce) functions utilize `mca_coll_han_comm_create_new()`.
  - mca_coll_han_comm_create_new() creates intra/inter modules, simply excluding HAN.
[code]
  -

[2022-02-18 15:47] camda03 commented on #10025
Excellent!!!
Thanks very much!!!
Dave

On 2/18/2022 at 10:04 AM, "Ralph Castain"  wrote:
	Please see tensorflow/tensorflow#54450

	—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you authored the thread.Message ID:

[2022-02-18 17:30] drew-parsons opened #10026 "armci-mpi fails in multi-node execution with openmpi"
## Background information

### What version of Open MPI

4.1.2

### Describe how Open MPI was installed

Debian packages  4.1.2-1 (official .deb for debian testing),
https://packages.debian.org/bookworm/libopenmpi-dev

### Please describe the system on which you are running

* Operating system/version:  Linux 5.16.7-2  (Debian GNU/Linux testing/bookworm)
* Computer hardware: Intel Xeon Processor (

[2022-02-18 18:09] drew-parsons commented on #10026
Following the discussion at https://github.com/open-mpi/ompi/issues/7813#issuecomment-644823020 , I find that my tests pass (both armci-mpi and nwchem) if I set the environment variable
[code]
(my system does not recognize OMPI_MCA_pml)

Is it expected that this setting should be required?   If so, then it's just a runtime configuration issue, not bug.

[2022-02-18 19:58] albandil opened #10027 "PBS library path (--with-tm) ignored during configure of PRRTE"
When I try to build Open MPI from branch 5.0.x (with synchronized submodules and autogen.sh rerun) on openSUSE Tumbleweed, simply providing path to a non-system location of PBS is not enough to successfully configure the package:
[code]
For successful configuration I need to add the PBS library path to the global linker search path:
[code]
I observe the same behaviour also on the "master" branch,

[2022-02-18 21:30] rhc54 commented on #10027
Ah yes - definitely a bug! Missing the libdir when checking for the library. I'll fix it. Thx for reporting it!

[2022-02-19 05:45] minsii opened #10028 "libompitrace does not check use of MPI_DATATYPE_NULL when calling PMPI_Type_get_name and causes MPI_ERR_TYPE"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
We use 4.0.2 but the same issue exists in master branch.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from

[2022-02-19 07:46] albandil commented on #10027
Yes, it works now. Thank you for the quick fix!

[2022-02-19 14:54] rhc54 commented on #10027
Thanks!

@bwbarrett @gpaulsen @awlauria Could someone please update the OMPI master submodule pointers? I am porting this fix to the PRRTE v2.0 and v2.1 release branches as well.

[2022-02-19 20:28] camda03 commented on #10025
Are there any suggested workaround or things to try to get around this in the meantime?

This worked yesterday and it's hanging today.

Behavior is the same today as what's in the log files and the tickets.

I'm just trying to work with the GPUs on my local machine.

Yesterday I (thought I) got around the hanging issue by kill -9ing the orted processes but that isn't working today either.

Part of

[2022-02-19 21:38] rhc54 commented on #10025
I'm not entirely sure of exactly what you are doing, but have you tried using "mpirun" to start your application procs? Scanning thru our prior issues that mention Horovod, this seems to be a common solution.

[2022-02-20 00:53] camda03 commented on #10025
I'm not doing anything directly with OpenMPI.
I'm just running TensorFlow though a Jupyter Notebook.
The following command reproduces the behavior without using Jupyter
i.e. it hangs when the Jupyter Notebook hangs and vice versa.

strace -ttt python -c 'import tensorflow as tf; print(tf.__version__)'
| tee -a strace-python.txt

This ends in:
1645317911.314069 stat("/usr/bin/orted", {st_mode=S_IFR

[2022-02-20 01:14] rhc54 commented on #10025
Afraid I have no advice to offer on that use-case (I have no idea what Jupyter Notebook even is). Obviously, something inside the tensorflow package is calling MPI_Init, but I have no insight into where or why. My comment was just that if you are starting a python application, then if you have OMPI installed you could do "mpirun python myapp" and that might satisfy the temsorflow import problem.

[2022-02-20 01:24] camda03 commented on #10025
I tried the following modified command and got the results below.
The script still hung but it generated different output.

$ strace -ttt mpirun python -c 'import tensorflow as tf;
print(tf.__version__)' | tee -a strace-python.txt
1645319891.011617 close(10)             = 0
1645319891.011627 getsockname(9, {sa_family=AF_INET,
sin_port=htons(54692), sin_addr=inet_addr("127.0.0.1")}, [124->16]) =
0

[2022-02-20 01:29] ggouaillardet commented on #10025
When you see a hang, can you get the stack trace of the (python) TensorFlow process?

`orted` might appear to be stuck ... because is has nothing to do.

[2022-02-20 02:10] camda03 commented on #10025
[stack_trace.txt](https://github.com/open-mpi/ompi/files/8103339/stack_trace.txt)
Will this work?

Thanks!

Dave

[2022-02-20 02:32] ggouaillardet commented on #10025
I am sorry I cannot make sense of this output.

why don't you simply run TensorFlow (no`strace` whatsoever), and then
`pstack <pid of TensorFlow>` when it hangs?

[2022-02-20 02:45] camda03 commented on #10025
Here's what I got.
0 S david    3922630 3183114 99  80   0 - 1470274 pipe_r 21:41 pts/4
00:00:13 python -c import tensorflow as tf2; print(tf2.__version__)
0 S david    3923166 3907974  0  80   0 -  2261 pipe_r 21:42 pts/5
00:00:00 grep --color=auto -i python
***@***.***:~$ sudo pstack 3922630

3922630: python -c import tensorflow as tf2; print(tf2.__version__)
(No symbols found)
0x7f3b2b7ac17c: ?

[2022-02-20 03:03] ggouaillardet commented on #10025
unfortunately that did not help :-(

a previous message mentions `MIT-MAGIC-COOKIE-1`, which is related to the X11 server.

What is the value of the `DISPLAY` environment variable?
if it is set, can you unset it and try again?

The root cause could be X11 and not MPI.

[2022-02-20 03:15] camda03 commented on #10025
Yes, that wasn't a very impressive output.  :-)

DISPLAY was DISPLAY=:0
I unset it.
env | grep -i DISPLAY  {nothing}
It still failed.  Here's the strace tail FYI.

1645326628.760110
stat("/usr/lib/x86_64-linux-gnu/openmpi/lib/openmpi3/mca_ess_singleton.so",
{st_mode=S_IFREG|0644, st_size=27704, ...}) = 0
1645326628.760138 openat(AT_FDCWD,
"/usr/lib/x86_64-linux-gnu/openmpi/lib/openmpi3/mca_ess_sin

[2022-02-20 03:30] ggouaillardet commented on #10025
well, that was worth trying anyway :-)

Let's do it the hard way then:

[code]

then please do compress tf.strace and upload it so I can have a look

[2022-02-20 03:49] camda03 commented on #10025
Here it is.  This is really the .Z file but I had to rename it to get it uploaded.

[tf.strace.zip](https://github.com/open-mpi/ompi/files/8103393/tf.strace.zip)

BTW this is my latest ifconfig.

$ ifconfig
eno1: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        ether 3c:ec:ef:7f:e4:3a  txqueuelen 1000  (Ethernet)
        RX packets 0  bytes 0 (0.0 B)
        RX errors 0  dropped 0  overruns 0

[2022-02-20 04:38] ggouaillardet commented on #10025
`orted` is stuck communicating with `127.0.0.1:6006`.
Can you start TF (no `strace` here) and then `ptrace -p <pid_of_orted>` when it is stuck?

At this stage, my best bet is `hwloc` is stuck trying to communicate with the gpu driver.

try running `xhost +` and see if if helps (note you might not be able to do this...)

If you have root access on your box, I would suggest you try to move `/usr/lib

[2022-02-20 04:47] camda03 commented on #10025
TensorBoard is running on 127.0.0.1:6006.
tensorboard --logdir=./my_logs

This is used to show the results of training runs (among other things)
in TensorFlow.
Would that be what you're seeing?
Thanks!
Dave
On 2/19/2022 at 11:38 PM, "Gilles Gouaillardet"  wrote:
	orted is stuck communicating with 127.0.0.1:6006.
 Can you start TF (no strace here) and then ptrace -p  when it is
stuck?

	At this sta

[2022-02-20 04:54] ggouaillardet commented on #10025
ports 6000 and following are generally used by X11 servers, so my guess `hwloc` try/scan all of them ... and something goes wrong because TensorBoard is not an X11 server.

so yeah, run TensorBoard on an other port and see how it goes!

[2022-02-20 05:07] camda03 commented on #10025
tensorboard --port 9999 --logdir=./my_logs

It worked!!!!!!
1645333587.361210 munmap(0x7f215416b000, 33554432) = 0
1645333587.361229 munmap(0x7f215196a000, 33554432) = 0
1645333587.361246 munmap(0x7f214f169000, 33554432) = 0
1645333587.361264 munmap(0x7f214c968000, 33554432) = 0
1645333587.361282 munmap(0x7f214a968000, 33554432) = 0
1645333587.361300 munmap(0x7f2148167000, 33554432) = 0
1645333587

[2022-02-20 05:12] camda03 commented on #10025
I just restarted a TensorFlow model and that worked too!
It was hanging all day today.

Thanks!!!!
Dave

On 2/19/2022 at 11:54 PM, "Gilles Gouaillardet"  wrote:
	ports 6000 and following are generally used by X11 servers, so my
guess hwloc try/scan all of them ... and something goes wrong because
TensorBoard is not an X11 server.

	so yeah, run TensorBoard on an other port and see how it goes!

	—

[2022-02-20 10:45] drew-parsons commented on #10026
Worth also pointing out, however, even though nwchem/openmpi does run on 2 nodes with `OMPI_MCA_osc=ucx`, it's unusable.

A test case finishes on 1 node (16 cpu) in 4000 sec, around 1 hr. Running on 2 nodes (2×16 processes), I gave up and killed it after more than 122292.3 sec, nearly 2 days.

nwchem/armci-mpi built with mpich runs the same job over 2 nodes in 2800 sec.

[2022-02-20 16:07] jsquyres commented on #10028
@bosilca made #10029 to fix the issue; see the discussion over there.

[2022-02-21 04:18] markwdalton commented on #10025
Thank you!  For this!   At least it gets us down the right path.
The network configuration on this machine is different than how we normally setup machines.

The X11 and orted is a common issue we have seen on HPC and clusters over the last decades.

However, I have not seen this in the last 5-10 years.  Yes, commonly X11 setup of xauthority/xhosts
or for orted it was normally network configuratio

[2022-02-21 05:10] ggouaillardet commented on #10025
@markwdalton I think this is a much simpler issue.

If a daemon (that is not a X11 server) is running on a port generally assigned to a X11 server, `hwloc` might try to talk to it and then all bets are off: in this case it seems `hwloc/OpenCL/OpenGL` send something to TensorBoard (thinking it is an X11 server), and TensorBoard chooses not to reply anything (since it was not a valid TensorBoard pro

[2022-02-21 10:19] Stadik opened #10031 "SEGFAULT in ompi/opal/mca/btl/smcuda/btl_smcuda.c at *descriptor = NULL"
## Background information

OpenMPI versions: 3.0.0, 4.1.0, 4.1.2

All of them installed from source via:
./configure --with-cuda=/usr/local/cuda --prefix=/usr/local/openmpi-<major>.<minor>.<patch>/

Was tested on Ubuntu20.04 and CentOS7 with NVIDIA GTX 1080Ti and NVIDIA RTX 2080 with CUDA 11.0, 11.2, 11.3 and 11.4.

-----------------------------

## Details of the problem

The problem happens when

[2022-02-21 14:08] devreal commented on #10026
@drew-parsons Thanks for the report! So it seems that there are multiple issues here: the non-ucx OSC component (osc/pt2pt I guess) failing to allocate the window and the UCX OSC either showing poor performance or getting stuck. I'm not sure why the osc/pt2pt component failed to allocate the window, running with `--mca osc_base_verbose 100` could tell us more. Also, could you try the Open MPI 5.0

[2022-02-21 14:49] rhc54 commented on #10025
This feels like a bug to me in whichever library is attempting to query the X11 server. Assuming that a socket in the 6000+ range _must_ be an X11 server is a pretty big assumption - seems to me that the library should include a timeout feature to deal with exactly this scenario.

@bgoglin I suspect this must be happening in one of the secondary libraries (OpenCL or OpenGL) and not hwloc itself, y

[2022-02-21 16:44] drew-parsons commented on #10026
I tried running mpirun with  `--mca osc_base_verbose 100` (without setting OMPI_MCA_osc=ucx), but it's not providing any more information. Just the same
[code]
Time constraints make it difficult to test v5 for the time being.

[2022-02-21 18:51] awlauria commented on #10031
This is the same symptom as https://github.com/open-mpi/ompi/issues/9638 - but that is __without__ gpus.

Is it possible that for some reason these gpus are not being detected?

[2022-02-21 23:56] saulocpp opened #10032 "OMPI host program using a shared object with OMPI instructions"
I have a main C++ program that includes some classes with MPI code and it works as it should. Then I decided to split these classes to a shared object and load it in runtime from the host program, which is only a testbed for what I do in the library.

The problem is that, when calling an imported function, `/usr/local/ucx/lib/libucs.so.0` complains about  `address not mapped to object at address (

[2022-02-22 00:20] ggouaillardet commented on #10032
I have no answer, but here are a couple of things to double check:
- does you `MPI_CUDA.so` depend on `libmpi.so`?
- do you observe the same behavior instead of `dlopen("MPI_CUDA.so"...)`, you make your `MPI_CUDA` binary depend on `MPI_CUDA.so`?

[2022-02-22 00:41] ggouaillardet commented on #10026
@drew-parsons (most) debugging code is stripped out unless Open MPI is configure'd with `--enable-debug`.
So I am afraid you have to manually rebuild Open MPI  (and then your app since debug/non debug Open MPI builds might not be ABI compatible) in order to get useful logs.

Meanwhile, what if you
[code]
or
[code]

@devreal isn't it a known issue where `osc/pt2pt` use `btl/openib` that might not b

[2022-02-22 01:59] minsii commented on #10028
@jsquyres Thank you for linking to the fix PR.

[2022-02-22 06:54] Stadik commented on #10031
GPUs are detected fine, because I am using another of my libraries where I connect process 0 to all GPUs via threads in ray-tracing code, which is successful.

I am currently doing some extended testing, but it seems I could fix the issue in ompi/opal/mca/btl/smcuda/btl_smcuda.c

I am not clear on how the code handle the message when above 'return OPAL_ERR_OUT_OF_RESOURCE;' is triggered, but the i

[2022-02-22 08:50] saulocpp commented on #10032
Good morning, Gilles, and thanks for your time looking into this.

Yes, both the .so and the executable depend on libmpi.so.
I will try what you suggest and also move the MPI initialization/finalization to the referred function being imported, instead of doing from the host program, just to see what happens and then report back.

[2022-02-22 09:45] Stadik commented on #10031
I can confirm all problem cases are working with this changes. I checked the link @awlauria shared obviously just removing *descriptor = NULL also works.
Will this be fixed in a released patch? This was blocking us for quite some time.

[2022-02-22 18:53] jsquyres opened #10036 "Do we want libompitrace in OMPI v5.0?"
`libompitrace` is an incomplete library that intercepts user application MPI API calls, print them out, and then invoke the underlying PMPI call.  It currently intercepts 20 of the public MPI APIs.

It was first introduced as `libtrace` in August 2009 in e1662b4c3083d8ec54fcf7fe5a936e660b895cfe, and then renamed to `libompitrace` in July of 2010 in 1802325a397a7e513d96c5391bbb4373c5d0e8a4 (due to

[2022-02-22 20:18] awlauria commented on #10036
If someone wants to do the work to remove it from master and bring it back to v5 we'll take it.

[2022-02-22 20:34] rhc54 commented on #10036
As I said in Slack - why? The code has been there for a very long time, requires zero maintenance, there is no way on earth for us to know if anyone is using it (or how many there might be). So why would you tear it out? Because someone used it to expose a bug in OMPI???

[2022-02-22 20:39] bosilca commented on #10036
This library is such a weird collection of functions: some collectives, alloc_mem, get_address, accumulate and send/recv. It clearly was meant to be some form of proof of concept, that unfortunately remained blocked at that level.

[2022-02-22 20:40] awlauria commented on #10036
We (the v5.0.x rm's) discussed it and are indifferent. If someone wants to do the work to remove it, we wouldn't be opposed.

That said this is pretty late in the game, and if someone out there is using this, it is short notice for removal.

[2022-02-22 20:52] rhc54 commented on #10036
No, that's completely incorrect. It is a collection of functions that certain researchers were specifically requesting be traced. They didn't want a profiler or anything more complex - they just wanted a listing of what functions were being called. If someone wants to extend it, feel free. My only point was that it shouldn't be ripped out simply because it exposed a bug in OMPI while someone was u

[2022-02-22 21:41] jsquyres commented on #10036
FWIW, this didn't expose a bug in Open MPI -- it exposed:

1. An ambiguity in the MPI spec (see https://github.com/mpi-forum/mpi-issues/issues/544)
2. Bugs in libompitrace (i.e., because of the ambiguity, the only safe thing that can be done is to handle `MPI_DATATYPE_NULL` because at least one user is using it with a popular library, NCCL, where the `MPI_DATATYPE_NULL` issue comes up)

[2022-02-22 21:57] rhc54 commented on #10036
I guess I will no longer attempt to help anyone in this community given the rancor and nastiness of these conversations. Do what you want - you will anyway 🤷‍♂️

[2022-02-22 23:00] hppritcha commented on #9868
closed via #9954 and #9880

[2022-02-22 23:00] #9868 closed

[2022-02-23 09:41] drew-parsons commented on #10026
The pml options don't shed more light, unfortunately (without yet rebuilding openmpi):
[code]
or
[code]

[2022-02-23 22:40] alex--m commented on #9957
@yosefe might be relevant here

[2022-02-24 07:08] chenshixinnb commented on #9858
[c-96-4-worker0004:03574] select: component ofi selected
[c-96-4-worker0004:03574] select: init returned priority 25
[c-96-4-worker0004:03574] selected cm best priority 25
[c-96-4-worker0004:03574] select: component cm selected
[c-96-4-worker0004:03571] select: init returned success
[c-96-4-worker0004:03571] select: component ofi selected
[c-96-4-worker0004:03571] select: init returned priority 25

[2022-02-24 08:13] gwiesenekker opened #10041 "Running Docker container conflicts with OpenMPI?"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

The OpenMPI version is 4.1.2.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

I compiled it from a downloaded source/distribution tarball and installed it using ./co

[2022-02-24 09:07] alexmechanic commented on #7971
@rhc54 is it really that long that MPI path addition makes it overflow? Mine TMPDIR was `/var/folders/_m/yw88_yxx41d4wz7c36zzvq_h0000gn/T/`, which is 49 chars, which is, IMO, is definitely not "a very long named location" that can lead MPI runtime to fail (except library path var is limited to char[255], but in that case MPI could produce path suffix >= 206 chars, which is also questioning design)

[2022-02-24 15:17] wzamazon commented on #9858
Hi @chenshixinnb  it looks like you made some progress, now EFA is being picked up but there is some issue with MPI_bcast.

Can you provide your full command line and full log? Because the log is quite long, I recommend making it an attachment.

[2022-02-24 20:13] wckzhang opened #10042 "Asynchronous Cuda Copy in pml ob1 implementation fails to check for copy completion for dtoh copy."
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

Master (and most versions probably)

## Details of the problem

When reading through the asynchronous cuda copy code, in ```mca_pml_ob1_recv_frag_callback_ack``` we set the copy function for the sendreq to be an asynchronous dtoh copy.

[code]

However, it doesn't appear l

[2022-02-24 20:16] awlauria commented on #7220
@mwheinz can you check to see if: https://github.com/open-mpi/ompi/pull/10040

fixes this issue for you? I noticed the same thing on master recently.

[2022-02-25 00:07] arstgr commented on #9759
Did anyone come up with a solution for this?

[2022-02-25 02:50] chenshixinnb commented on #9858
Thanks, I have sent it to you by email

[2022-02-25 03:13] zhngaj opened #10044 "prterun tries to parse the option of the application itself, and fail"
## Background information

- Use git clone https://github.com/open-mpi/ompi.git
- **master** branch c06bb8adc3348f54534d6d466cc10064fcd92374
- build with `./configure --prefix=/fsx/ompi/install --with-ofi=/opt/amazon/efa/ --with-hwloc=external --disable-man-pages`

- `git submodule status` outputs
[code]

-----------------------------

## Details of the problem

**prterun tries to parse the option

[2022-02-25 03:35] wzamazon commented on #9858
@chenshixinnb

According to your log file, gromacs has started successfully, then encountered an error. Hence, the error might be related to the application (gromacs) itself.

Can you try to run some basic mpi benchmark to verify that Open MPI itself works? For example, the OSU micro benchmark https://mvapich.cse.ohio-state.edu/benchmarks/

[2022-02-25 12:49] yosefe commented on #9957
@thomasgillis can you pls provide more details:
- What kind of network is used?
- Are any UCX environment vars are set (can see them by adding "-x UCX_LOG_LEVEL=info" to mpirun)
- Is it possible to provide reproducer code and command line?

[2022-02-25 14:19] awlauria commented on #10044
Seems ties to `-x` specifically:

[code]
fails the same way, but removing `-x 42` and it works.

[2022-02-25 14:21] janjust commented on #9759
Hi - as far as UCX, it progresses only asynchronous events (eg. connect/disconnect), the message progress Isend, Irecv are done via calls to ucp_worker_progress(). So the asynchronous thread should come from upper level opal/ompi, and it doesn’t look like we support it.

[2022-02-25 14:29] jsquyres commented on #10044
Good analysis; thanks for identifying the issue.

Given that the command line parsing is now "owned" by Open MPI (remember: the code resides in PRTE, but it's an OMPI-specific plugin), I think it's probably our responsibility to fix it.

Has anyone looked into the OMPI schitzo component in PRTE to fix this?

[2022-02-25 14:40] thomasgillis commented on #9957
@yosefe Thanks for your feedback

- for the network it is an InfiniBand, see the `ucx_info` below (idk why the file I have added initially is wrong)
- no special UCX environment is set, I will retry with `-x UCX_LOG_LEVEL=info`
- the reproducer is tricky as we only observe that behavior on a certain number of nodes etc. If you are willing to look at the source code, it's here https://github.com/va

[2022-02-25 14:44] awlauria commented on #10044
It doesn't specifically seem to be tied to the ompi plugin, using prterun will fail in the same way:

[code]

[2022-02-25 15:08] alex--m commented on #9759
@janjust - your answer is regarding progress threads on the UCX level, right?
I think the original approach was to have a progress thread on OMPI's level, which would periodically call internal MPI progress (e.g. `opal_progress`) - which in turn would also call UCX's explicit progress function (i.e. `ucp_worker_progress`).

In the absence of such an OMPI-level progress thread - how can async. comm

[2022-02-25 15:17] janjust commented on #9759
It would be up to the user to implement calls to ompi wait routines which I think would call into opal progress.

[2022-02-25 15:21] thomasgillis commented on #9957
@yosefe
here are the `stdout` and `stderr` log of the execution

[stdout_ucx_23.log](https://github.com/open-mpi/ompi/files/8142231/stdout_ucx_23.log)
[stderr_ucx_23.log](https://github.com/open-mpi/ompi/files/8142232/stderr_ucx_23.log)

Let me know if it helps and if you need something else.
Thanks again

[2022-02-25 15:21] alex--m commented on #9759
If communication progress only happens during wait calls - does it still qualify as computation/communication overlapping? Maybe it's just me, but I think the answer is no. :(

[2022-02-25 15:22] yosefe commented on #9957
hi @thomasgillis,
I would expect that on mlx5 device, dc transport would be supported and used; it's more performant than UD.
can you pls post the output of:
* `rpm -q rdma-core`
* `rpm -q libibverbs`
* `ofed_info -s`
* `ibv_devinfo -vv`

[2022-02-25 15:24] Yiltan commented on #9759
I think you could also use MPI_Test to engage the progress engine.

Something like

[code]

Still non-ideal but would allow for some more overlap than just an MPI_Wait

[2022-02-25 15:29] thomasgillis commented on #9957
sure, here it is :-)

As you can see I have a `command not found` for the `ofed_info`
[code]

[2022-02-25 15:43] alex--m commented on #9759
Yes, looks like using `MPI_Test` will make OMPI call `opal_progress` if the request is not ready... though it won't help applications not written/modified to use this technique, unfortunately.

With OMPI seeming to have dropped support for async. progress threads - looks like this is the next best thing.

[2022-02-25 15:46] yosefe commented on #9759
@MichaelLaufer in your example with MPI_Isend/Irecv, what is the message size?
Can you try to set `UCX_RC_MLX5_TM_ENABLE=y` (assuming ConnectX-5 or newer NIC)?

[2022-02-25 16:01] yosefe commented on #9957
These are pretty old versions of the driver (probably came with the linux distro) so DC is not supported.
Can you pls try the debug patch below, along with latest UCX pulled from master branch?
Can you also try to disable async modex: `-mca mpi_add_procs_cutoff 100000`?

<details>

[code]

[2022-02-25 16:04] jsquyres commented on #9759
Just to clarify, Open MPI has _not_ dropped support for progress threads.

The old macro `OPAL_ENABLE_PROGRESS_THREADS` is a red herring.  There are several low-impact progress threads in MPI processes today (e.g., PMIx, libevent, etc.).  Network layers are free to implement their own progress threads if they want to.

Be aware that there are costs associated with low-latency-network progression t

[2022-02-25 16:10] yosefe commented on #9759
👍
With UCX and Mellanox NICs, OpenMPI progress thread is probably not the right approach; we'd like to offload to HW as much as possible.
Large messages would use rendezvous protocol that is fragmented to packets by RDMA HW, but there could be a problem of RTS received after MPI_Irecv ("expected") and data fetch not started before going to MPI_Wait. That's what `UCX_RC_MLX5_TM_ENABLE=y` is aimed t

[2022-02-25 16:21] vitduck opened #10045 "Cannot use SHARP with Singularity container"
### What version of Open MPI are you using?
v4.1.1

### Describe how Open MPI was installed
[code]
### Please describe the system on which you are running
* Operating system/version: CentOS Linux release 7.9.2009
* Computer hardware: AMD EPYC 7543/A100-SXM-80GB
* Network type: Mellanox Infiniband
-----------------------------
### Details of the problem
I am testing the performance of SHARP's with

[2022-02-25 16:40] alex--m commented on #9759
@yosefe @jsquyres Thank you both for your answers, it really cleared things up, and delegating the progress to the networking library does make sense (my bad for mistaking it for lack of support in OMPI).

If @MichaelLaufer does see significant improvement as a result of `UCX_RC_MLX5_TM_ENABLE=y` - it might also be helpful for others if this kind of tuning could be proposed, when applicable. I mea

[2022-02-25 16:46] jladd-mlnx commented on #10045
@bureddy  FYI.
Hi, can you, please, add the output from the run where SHARP works ("SHARP does work if we build CPU version of HPL from source.") ? Which ConnectX devices are you running over?

To validate that SHARP is indeed up and performing as expected, I would recommend starting out with a microbenchmark like OSU Allreduce and running it with and without SHARP enabled. HPL won't exercise SHAR

[2022-02-25 16:48] jsquyres commented on #7971
@alexmechanic Open MPI makes a hierarchy of folders under the tmpdir, some of which have long names, themselves.  This is what leads the filename limit to get longer than whatever the filesystem limit is.

[2022-02-25 16:56] bureddy commented on #10045
@vitduck  SHARP is enabled through HCOLL. Can you build OMPI with HCOLL?

[2022-02-25 17:36] zhngaj commented on #10044
Failed in this case (without -x in application's option) as well. Note that the complained `576` is the one after `-npmin`
[code]

[2022-02-25 17:59] jsquyres commented on #10044
The solution is going to have to be effected over in the PRTE code base and then the submodule here in OMPI will need to be updated to get the fix.  It is highly likely that someone from the OMPI community will need to be involved in making the PRTE fix (read: it might not get fixed if we don't contribute the fix).

[2022-02-25 18:03] wzamazon commented on #10044
Is it possible to revert the recent change to ompi https://github.com/open-mpi/ompi/commit/6ea18b79a5ec6188d56f0bf5ceb57d4f47dcd262 that updated pmix?

[2022-02-25 18:06] jladd-mlnx commented on #9759
No. Asynchronous communication progress works best (i.e. enables 100% overlap while sustaining high-performance) when dedicated DMA and compute engines are available and leveraged by middleware. NIC-based HW tag matching available in ConnectX-5 and higher allows UCX to fully offload the implementation of the rendezvous protocol by using the HW tag-matching engine to complete the RTS handling and a

[2022-02-25 19:27] awlauria commented on #7220
I miss-read this issue. It appears it only happens in the mpi v3 series - which is frozen. Since it is fixed in v4 and beyond, this should probably be closed.

I confirmed that #10040 is a master/v5 regression - it works on v4/4.1.

v5.0.x pr: https://github.com/open-mpi/ompi/pull/10046

[2022-02-25 19:27] #7220 closed

[2022-02-25 21:17] thomasgillis commented on #9957
I have tried with `--mca mpi_add_procs_cutoff 100000` on the unmodified version 11.2 but still got the same error.

I am working on the patch and will update this comment once done

[2022-02-25 22:16] jsquyres commented on #10044
Is the problem in PMIx or PRTE?  I had assumed it was PRTE.

It would probably be best to "fail forward", and get a fix in PRTE and/or PMIx and get that fix in an updated submodule here.  I say this because -- presumably -- that submodule update fixed other issues, and we probably want to keep those fixes.

Is this issue causing pain for you?  Can you use `--` to delineate the mpirun/prterun args

[2022-02-25 23:01] awlauria commented on #10044
It is a bug in prrte's general command line parsing - it doesn't seem to stop at the users executable. This naive patch seems to do the trick:

[code]

@zhngaj could you try that?

[2022-02-26 00:01] kenorb opened #10047 "libopen-pal.so: undefined reference to PMIx_Value_unload/PMIx_Info_xfer/PMIx_Info_load"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

### If you are building/installing from a git clone, please copy-n-paste the output from `git submodul

[2022-02-26 02:03] dqwu opened #10048 "Open MPI memory leaks on Ubuntu"
This issue can be reproduced with Open MPI 4.1.2 release on Ubuntu 18.04 and 20.04 with default gcc.
Both Leak Sanitizer and Valgrind report memory leaks when running a simple MPI program.

Steps to reproduce
[code]

Valgrind report
[code]

[2022-02-26 02:44] yosefe commented on #9957
@thomasgillis can you pls build the debug version ($UCX_DIR/contrib/configure-devel)

[2022-02-26 13:44] kenorb commented on #10047
I think it works for v4.1.2 tag.

[2022-02-26 14:04] kenorb opened #10049 "mca_base_component_repository_open: unable to open mca_shmem_sysv/mmap/posix"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

`v4.1.2`

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

### Please describe the system on which you are running

* Operating system/version: Ubuntu 21.10
*

[2022-02-26 19:11] Lorenzomarta opened #10050 "openmpi: Executing phase: 'configure'"
Hello everybody,
I have problems regarding the configuration and installation phase of openmpi starting from the command:
``` spack install hdf5```
for the installation of spack.

Keep getting the following output:

[code]

[2022-02-26 19:33] gpaulsen commented on #10050
Hello.  Thanks for submitting an issue.  I've not used `spack` before for managing compilers, but please try the `spack compilers` command as referenced above to list what compilers are currently in your environment.

I'm not sure what compiler should be used on a mac with m1 processor.  [This article](https://www.phoronix.com/scan.php?page=news_item&px=GCC-12-Apple-M1-Port-Plan) seems to indicate

[2022-02-26 22:28] Lorenzomarta commented on #10050
From the ```spack compilers``` I get this output:

[code]

[2022-02-27 15:11] jsquyres commented on #10036
@rhc54 and I chatted about this verbally on the phone this past Friday.  We both agree that although this library was added for a specific purpose a few years ago, there is no longer a maintainer.  There's also few -- if any -- users (I checked with the reporter from #10028: she filed that issue not because they are using libompitrace, but because they just happened to notice the bug, and therefor

[2022-02-28 14:42] jdinan commented on #10044
Does `prterun` support a `--` argument that tells it to stop parsing?

[2022-02-28 15:46] hjelmn commented on #10048
At one point I had Open MPI valgrind-clean for Init/Finalize on Cray XE. Can you run it with ```--leak-check=full``` and post that output?

[2022-02-28 17:10] dqwu opened #10053 "Lock files generated during parallel read of a NetCDF file"
### What version of Open MPI are you using?
v4.1.1
### Describe how Open MPI was installed
spack installation
### Please describe the system on which you are running
* Operating system/version: CentOS 8
* Computer hardware: AMD Epyc 7532 processors (32 cores per CPU, 2.4 GHz)
* Network type: N.A.

-----------------------------

## Details of the problem

This issue occurs at a machine used by E3SM

[2022-02-28 17:19] edgargabriel commented on #10053
@dqwu thank you for the bug report. There is a chance that this issue is already resolved, there is a pending pr to fix a problem with removing lockfiles at the end. I hope it makes it into the v4.1.2 release

https://github.com/open-mpi/ompi/pull/10006

The ROMIO environment variable will not have any impact on the OMPIO components, those are two separate implementations of the MPI I/O operations

[2022-02-28 17:23] devreal commented on #10048
Here is a run with current master and debug symbols, to make spotting the leaks easier:

[leaks.txt](https://github.com/open-mpi/ompi/files/8155327/leaks.txt)

[2022-02-28 17:56] jsquyres commented on #10028
Fixed in master, v4.0.x, and v4.1.x.  Will be included in any next release from the v4.0.x and v4.1.x branches.  PR #10051 ended up removing libompitrace from master, and #10054 removed it from the v5.0.x branch.  Hence, libompitrace will not be included in the v5.0.0 release.

Since this issue has been resolved on all the relevant release branches, I'm going to close the bug.

Thanks for reportin

[2022-02-28 17:56] #10028 closed

[2022-02-28 19:58] zhngaj commented on #10044
Thanks, @awlauria
I got some weird issue when verifying your fix earlier, I will try it again.

[2022-02-28 20:56] dqwu opened #10056 "Open MPI 4.1.2 static-only build reachable_netlink linking issue on Ubuntu 20.04"
This issue can be reproduced with Open MPI 4.1.2 release on Ubuntu 20.04.
Not reproducible with a shared build. Not reproducible on Ubuntu 18.04.
Looks like a linking issue related to reachable_netlink lib on Ubuntu 20.04.

Steps to reproduce
[code]
Output:
[code]

One possible workaround:
Configure Open MPI without reachable-netlink support (--enable-mca-no-build=reachable-netlink)

[2022-02-28 21:57] awlauria commented on #10044
@jdinan @jsquyres - it appears that `--` can be used as a work-around from my testing.
[code]
works - but:

[code]
does not.

[2022-02-28 21:59] awlauria commented on #10044
@zhngaj the fix has been merged into pmix master - and will go into the prrte v2.1 branch for v5.0.x to pick it up at this time. Let us know if you find any additional issues with the patch.

[2022-02-28 23:10] gpaulsen commented on #10050
Hmm.. sorry I don't have access to an M1 based Mac.  On my Mac I use a combination of Xcode and https://brew.sh/2021/02/05/homebrew-3.0.0/ to install dependencies, to build Open MPI.  It looks like homebrew has not yet fully ported all of their packaged libraries for M1 native yet, but it might be far enough along to allow you to proceed.

Would that be a potential approach?

Alternatively, the co

[2022-02-28 23:41] bosilca commented on #10050
spack is looking for a Fortran compiler on your system, and clang is not providing that. You have at least 2 paths forward:
- install one of the traditional OSX Unix environment ([brew](https://brew.sh/) or [Mac Port](https://www.macports.org/)) and use a Fortran compiler provided with them.
- get a Fortran compiler from [OSX HPC](http://hpc.sourceforge.net/).

I have a similar setup (M1) and have

[2022-03-01 00:48] zhngaj commented on #10044
Pulled prrte v2.1 branch for submodule prrte, option parsing works correctly for me. Thanks @awlauria
[code]

[2022-03-01 13:00] wzamazon commented on #10044
@awlauria OMPI master branch also need to update PMIX submodule pointer to ingest this change?

[2022-03-01 13:40] sfilippone opened #10057 "Missing ELEMENTAL in declaration of ompi_request_op_ne in mpi_f08 module?"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
openmpi-4.1.0-5.fc34.x86_64

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Fedora 34 package

### If you are buildi

[2022-03-01 14:50] jsquyres commented on #10057
Forgive my ignorance -- what does it mean to compare an array to a scalar?

[2022-03-01 15:21] jsquyres commented on #10057
Interesting.  Ok.  I have some followup questions:

1. Does using `ELEMENTAL` violate the MPI spec?  I don't *think* so -- it doesn't look like the MPI 4.0 spec says anything about `ELEMENTAL` at all.  Indeed, MPI-4.0 section 19.1.2, "Fortran Support Through the mpi_f08 Module", only says the following about the operator functions (p793, 22:23):

2. What will adding `ELEMENTAL` to the `mpi_f08` bi

[2022-03-01 15:25] jsquyres commented on #10057
FWIW: I just asked this question to the MPI Forum Fortran working group (which hasn't needed to be active much lately, but they still respond to questions) to get some advice, too: https://lists.mpi-forum.org/pipermail/mpiwg-fortran/2022-March/003613.html.

[2022-03-01 15:30] sfilippone commented on #10057
ELEMENTAL means that the Fortran compiler is allowed to apply that function
element-by-element  (in the context of an array expression).
That is what the compiler does with the "normal"  .EQ. and .NE. operators;
given that these functions are very simple and can be declared ELEMENTAL, I
would go for the behaviour that generates the least surprise.

I do not know whether ELEMENTAL changes the ABI;

[2022-03-01 15:38] jsquyres commented on #10057
Let's link up all 3 discussions (this Open MPI github issue, the MPICH discuss thread, and the Forum Fortran working group discussion) so that we don't have to have the same Q&A 3 times.

Where's the MPICH discuss thread?  I don't see it in the archives: https://lists.mpich.org/pipermail/discuss/  Has the March archive simply not been created yet, perchance?

[2022-03-01 15:39] jsquyres commented on #10057
If your mail to discuss@mpich.org was set to moderation as a first-time poster, perhaps it would be better to cancel that message and file a github issue at https://github.com/pmodels/mpich/issues, and link to this issue and the Forum Fortran WG thread...?

[2022-03-01 16:32] sfilippone commented on #10057
Ok, will do.

[2022-03-01 16:41] sfilippone commented on #10057
Some additional background:
1. The issue surfaced when moving from MPI_MOD/integer handles to MPI_F08/type(mpi_request), and the code stopped working, whereas the expectation would be that moving from an intrinsic comparison to a defined operator should not cause an error;
2. The ELEMENTAL declaration carries with it some restriction, all of them are easily satisfied by the operators' code
3. Addi

[2022-03-01 19:16] thomasgillis commented on #9957
@yosefe I have two updates regarding this issue:

- the libs `rdma` and `libibverbs` have been updated, here are the new versions:
[code]

- meanwhile I have also compiled the fix and I could test it.
The error that now appears randomly is

[code]

[2022-03-01 19:55] #10036 closed

[2022-03-01 22:55] hzhou commented on #10057
From my limited knowledge, Fortran doesn't have a well-defined ABI to start with. For example, the interface (where the keyword `elemental` is being discussed) is all compiler-specific and may well be just a gzip-ed source code.

[2022-03-01 23:00] awlauria commented on #10044
@zhngaj @wzamazon pr's posted to ompi master and v5.0.x to pick up these changes.

[2022-03-02 15:26] jsquyres commented on #10057
@hzhou I was referring to Open MPI's ABI guarantees.  I.e., if Open MPI v4.1.0 was build with fortran compiler X and compiler options Y and configure options Z, then an MPI application -- even an application that uses `mpi_f08` -- should work without recompilation with Open MPI v4.1.x.

Hence, if `ELEMENTAL` changes something in terms of the back-end symbol(s) that the compiler generates, that wil

[2022-03-02 18:29] sfilippone commented on #10057
Il Mer 2 Mar 2022, 17:56 Hui Zhou ***@***.***> ha scritto:

Exactly, with ELEMENTAL  the compiler can apply the fuction to arrays even
if it is defined  on scalars, otherwise you would need some other machinery
(which I have no time to go into right now)
Salvatore

—

[2022-03-02 22:23] jsquyres commented on #10049
If you got a git clone of the Open MPI repository and checked out the v4.1.2 branch, I'm guessing you also ran `autogen.pl` before invoking `configure`, right?

Can you send the full configure and build logs?  I haven't seen `dynamic loader not available (using dldummy)` as an error before; it suggests that someone compiled something like https://github.com/ryancdotorg/brainflayer/blob/master/dldu

[2022-03-02 22:36] jsquyres commented on #10041
I can't think of a reason offhand, but we would need more information to be able to help troubleshoot.

[2022-03-02 22:38] jsquyres commented on #9638
Yo @bosilca -- we're looking to make a 4.1.x RC in a week or so.  Do you think you could look at the solution proposed on this issue before then?  #10031 also proposes a slightly different solution.

[2022-03-02 23:02] thomasgillis commented on #9957
@yosefe I have been trying to understand what is going on with this `MPI_Allgather` and trying to reproduce the issue.
Is there any reason on top of your head the update of the drivers would cause this call to stall sporadically?
All the ranks are entering the function and if I tried to get more information from the UCX side but I couldn't get anything.

[2022-03-02 23:34] ggouaillardet commented on #10041
Are you running your C program inside or outside the container?
Are you sure there is no other services running in your container (for example, TensorBoard on port 6006)?

When the container is started, are some `iptables` automagically created and could they impact `mpirun`?

[2022-03-03 14:16] jsquyres commented on #9885
FYI @open-mpi/ucx

[2022-03-03 15:42] gpaulsen commented on #9933
@wckzhang How is this going?

[2022-03-03 15:43] gpaulsen commented on #9907
@bwbarrett Do you think this is fixed other than #9933 ?

[2022-03-03 15:47] gpaulsen commented on #9339
@janjust Is this fixed yet?

[2022-03-03 15:51] bwbarrett commented on #9907
Yes and No.  We've fixed all the issues for mpicc, although haven't fixed the bigger issue for prterun.  But I think you can remove the blocker tag for 5.0, if that's what you're getting at.

[2022-03-03 15:54] janjust commented on #9339
not yet - it's an issue with the  MPI_Win_post/start/complete/wait synchronization.
@mamzib is on it

[2022-03-03 16:11] janjust commented on #9461
@yosefe @hoopoepg Hey guys, can you answer the above question?

[2022-03-04 02:29] chenshixinnb commented on #9858
Sorry, there is no problem with single nodes, but multiple nodes still report an error.I have sent the attachment to you.

[2022-03-04 02:33] chenshixinnb commented on #9858
The same script,I run Gromacs with a single node,the output is normal,But I get an error when I use two nodes.
running script：run.sh
Run logs of a node：slurm-17.out
Run logs of two nodes：slurm-18.out
============================
Same,I use ./osu_alltoall,for the same script, the single node works well, but the two nodes fail.
running script：/home/cloudam/Software/Osu/libexec/osu-micro-benchmarks/m

[2022-03-04 07:15] alexmechanic commented on #7971
Well, that makes more sense now. And hence, being said you know exactly the reason of the issue, what is preventing from adding: simple path length check to produce exact and meaningful error message about the known and trackable path issue?

Don't get we wrong, I do not argue with source of the issue, I do not understand why the issue source in known, this ticket is closed, but nobody tried to ma

[2022-03-04 20:25] bernstei opened #10071 "mpirun args for multi-node run with multiple cores per MPI task"
I'm using OpenMPI 4.1.1 with SLURM (CentOS 7), and I can't figure out how to run with a total `n_mpi_tasks = nslots / cores_per_task` and binding each MPI task to a contiguous set of `cores_per_task` cores. The documentation suggests that I need `mpirun -np n_mpi_tasks --map-by slot:PE=cores_per_task --bind-to core`.  When I try this for a single node job (16 slots, 4 cores per task, 4 tasks), it

[2022-03-05 18:22] kenorb commented on #10047
I think I've found the problem, the `./configure` failed with the following errors (which I must to miss it before):

[code]

I've `libpmix-dev` installed fine.

[code]

Al thought the mentioned files are in submodule at https://github.com/openpmix/openpmix/blob/94169f1725a26a156fd73fca1b61df14ccd581ab/src/util/pmix_argv.h

So it seems configure is not checking them correctly.

I'm attaching my `c

[2022-03-05 19:11] kenorb commented on #10049
[code]

- `config.log file` attached: [`config.log.gz`](https://github.com/open-mpi/ompi/files/8191285/config.log.gz)

[2022-03-05 19:14] awlauria commented on #10044
Submodule pointers updated to bring the fixes in to master/v5.0.x. Closing.

[2022-03-05 19:14] #10044 closed

[2022-03-05 19:24] kenorb commented on #10049
Yes, I've forked brainflayer with branch which has MPI integration somebody did and I'm trying to fix it (for the purpose of comparing speed with non-MPI version, reproducing setup described in the following [blog post](https://web.archive.org/web/20150817221111/https://www.juliu5.com/brainflayer-parallelized/) which it worked there and continuation of the work). But the run fails and I'm not fami

[2022-03-06 03:39] ggouaillardet commented on #10049
By default, Open MPI uses `dlopen()` and friends to handle components (aka plugins).
In your case, Open MPI ends up invoking the dummy `dlopen()` instead of the real one, and hence causing the error.

Unless you can get rid of `dldummy`, you need (at the very least) to
`configure --disable-dlopen ...`
and rebuild Open MPI

[2022-03-06 11:46] jsquyres commented on #10049
@kenorb Yes, @ggouaillardet is spot-on: you're using a library that deliberately disables system-level functionality that Open MPI uses by default (the `dlopen()` function and friends).

You can ditch that "dldummy" functionality in brainflayer (e.g., just remove `dldummy.o` from brainflayer's `Makefile`), or you can do what @ggouaillardet suggested: re-configure Open MPI with the `--disable-dlope

[2022-03-06 11:56] jsquyres commented on #10049
BTW, just re-reading your above post and cloning that brainflayer fork/dev-mpi branch out of curiosity...

It looks like the main use of MPI in there is to use the MPI_File APIs to read some sort of input file.  That's a somewhat odd way to do it, but workable.  I think it does presume that you're going to run more than one brainflayer process, though.  I.e., if you just compile/link brainflayer a

[2022-03-06 12:43] jsquyres opened #10074 "Nightly master builds are failing"
Potentially due to #10059, nightly builds are failing:

[code]

Per the message above, the build artifacts are available at http://download.open-mpi.org/nightly/open-mpifailed-builds/openmpi-master-202203060241-failed.tar.gz.

I'm not sure if this is a real failure or a side effect of how the nightly tarballs are being generated.  FWIW: `make distcheck` just passed for me on my mac with OMPI maste

[2022-03-06 12:46] jsquyres commented on #10047
There's unfortunately not enough information in the `config.log` you sent -- Open MPI's `configure` script invokes the sub-`configure` scripts in the embedded copies of `PMIx` and `PRTE` (which then generate their own `config.log` files).  Can you send the full stdout/stderr from running `configure`?

Note that it's expected that some of `configure`'s tests will fail.  It's therefore not unusual t

[2022-03-06 15:42] awlauria commented on #10074
Looks like we need to pull in this: https://github.com/openpmix/prrte/pull/1247

Fwiw - I did not reproduce this on our rhel 8 boxes.

[2022-03-06 16:00] wzamazon commented on #10074
AWS internal CI failed with the same reason, but I cannot reproduced either.

[2022-03-06 16:08] kenorb commented on #10047
Most likely different errors happened at different recent HEADs.

- `aeafbde1900c78f746888bf2ca0d75a491d10e18` - ./configure passed (didn't verify the missing headers), so build failed during the compilation (missing PMIx references)
- `0f50e03d656a86883fb6a742e73f3d0a94c9b8b2` (latest master) - ./configure fails before finding missing PMIx devel headers

I'm going to wait for the further fixes an

[2022-03-06 16:35] #10074 closed

[2022-03-06 16:36] jsquyres commented on #10047
Looks like #10074 has been fixed (got some new commits from the submodule).  The problem would have occurred on machines with the netlink library headers.

[2022-03-06 16:39] jsquyres commented on #10074
Looks like the problem was related to the netlink reachability plugin.  That explains why it didn't reproduce on my Mac (because libnetl doesn't exist on MacOS).  It would have only happened on machines that had the libnl dev headers installed.

[2022-03-06 17:38] kenorb commented on #10047
I've tested the latest `eb9b9c42e179f13ba8b86d06e895e557f3b89fe2`, and I've the same error:

[code]

[2022-03-06 18:29] jsquyres commented on #10047
Is there a reason you're not using an official release tarball?

The output I can see on the screenshot of the video says why it failed: it found a PMIx install in /usr/local, but it couldn't find the PMIx devel headers.

Did you previously install PMIx into /usr/local without the devel headers?  If so, you have two choices:

1. Uninstall the PMIx in /usr/local and just use the PMIx obtained via g

[2022-03-06 19:18] kenorb commented on #10047
Yes, I could use v4.1.2 instead which configures and compiles fine.

Regarding `master` branch, I've tried to provide the necessary information so you could solve the issue in the latest code, but it could be specific to my local environment. Maybe it found previous PMIx headers which I've installed from v4.1.2 branch.

- I did remove `libpmix-dev` and `libpmix2` Apt packages, and reconfigured, di

[2022-03-06 19:26] jsquyres commented on #10047
Thanks for taking the time to submit everything.  This is _probably_ an issue with your local environment.

From your last output, I see you've removed a bunch of PMIx stuff such that pmix.pc (the PMIx pkg-config file) is no longer found, but you didn't include the rest of the configure output that shows why it still thinks it found PMIx but no devel headers.

[2022-03-06 21:38] kenorb commented on #10049
I've reconfigured `v4.1.2` with `--disable-dlopen` and after install, the binary with provided command runs without errors, so it's a good start.
Thank you.

[2022-03-06 21:38] #10049 closed

[2022-03-07 05:41] gwiesenekker commented on #10041
Hi,

I am running my C program outside the container. The container only exposes port 8888. The diff between netstat -an before and after starting the container is:
`
$ diff netstat-before-docker-sorted.out netstat-after-docker-sorted.out
8a9

36a38

68a71

358a362,363

361a367

378a385,386

379a388,392

`
The diff between netstat -an before and after starting my c-program s:
`
gwies@amd1950x:~$ d

[2022-03-07 06:40] ggouaillardet commented on #10041
is `192.168.123.23` an address on your host?
is it configured even when `docker` is not running?
if the `192.168.123.0/24` network (I guessed the net mask) is for Docker only, can you try to
`mpirun --mca btl_tcp_if_exclude 192.168.123.0/24 ...` and see if it helps?

a more reliable method to assess whether a firewall is running or not is to run `potables -L` and confirm there are no rules.

[2022-03-07 08:48] gwiesenekker commented on #10041
192.168.123.23 is the IP-address of my server, so it is configured even if docker is not running. The docker networks are:

`
$ docker network ls
NETWORK ID     NAME      DRIVER    SCOPE
92a9bb0d869e   bridge    bridge    local
82806583b0d0   host      host      local
48f981befc0d   none      null      local
$ docker network inspect 92a9bb0d869e
[
    {
        "Name": "bridge",
        "Id": "92a

[2022-03-07 09:12] ggouaillardet commented on #10041
OK, try the other way around then
[code]

[2022-03-07 11:51] Isaac-a95 opened #10076 "PMIx compilation failed when using pmi headers via --with-pmi"
## Background information

I'm configuring Open MPI in a system which already have pmi.h in a custom location.
I give the correct path but still pmi.h is not correctly included when compiling the internal version of PMIx.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribu

[2022-03-07 15:23] gwiesenekker commented on #10041
I am getting the same error:

$ env | grep OMPI
OMPI_MCA_oob_tcp_if_include=192.168.123.0/24
OMPI_MCA_btl_tcp_if_exclude=192.168.123.0/24
$ a.out --nslaves=16 gen_pos 1000000
before MPI_Barrier
--------------------------------------------------------------------------
Open MPI detected an inbound MPI TCP connection request from a peer
that appears to be part of this MPI job (i.e., it identified it

[2022-03-07 16:12] #9329 closed

[2022-03-07 19:31] awlauria commented on #9650
v4.1.x pr merged - closing.

[2022-03-07 20:20] jsquyres commented on #9884
@karasevb It's been a while since you've commented here -- is this still an issue?

[2022-03-07 20:22] awlauria commented on #8983
This is now fixed in the master/v5..x mtt based on last nights (3/6) results.

Closing - thanks @bwbarrett and @wzamazon

[2022-03-07 20:22] #8983 closed

[2022-03-07 20:35] #9554 closed

[2022-03-07 20:36] awlauria commented on #9554
With the merging of #10077 I think v5.0.x has pulled in all of the partitioned communication pr's.

[2022-03-07 21:49] hppritcha commented on #10057
@jsquyres reading through the comments here and what my fortran book says about elemental functions, I think we should add the elemental prefix to our ```ompi_request_op_ne``` and friends to make it easier for applications that prefer to operate on arrays of MPI handles.

Metcalf, Michael; Reid, John; Cohen, Malcolm. Modern Fortran Explained (Numerical Mathematics and Scientific Computation) gives

[2022-03-07 21:58] jsquyres commented on #10057
@hppritcha Can you check if it has an effect on the symbol that the compiler produces?

[2022-03-07 21:59] hppritcha commented on #10057
oh that's a good point.  I'll check that!

[2022-03-07 21:59] hppritcha commented on #10057
of course the behavior is likely compiler dependent.

[2022-03-08 00:02] ggouaillardet commented on #10041
You should **include** the subnet on both `oob` and `tcp:

[code]

[2022-03-08 00:28] ggouaillardet commented on #10026
This is very puzzling ...
the `osc/ucx` component is there and usable (since `OMPI_MCA_osc=ucx` does not cause an error), but `pml/ucx` is either absent or unusable.

Can you
[code]
and see it is sheds some light on why `pml/ucx` cannot be used?

[2022-03-08 03:35] jsquyres opened #10083 "Add 5.0 NEWS to RST docs"
The contents of https://github.com/open-mpi/ompi/pull/10079 were pretty much overwritten immediately with the RST docs.

The content from that PR needs to be added to the new `docs/` tree -- a new `news/news-5.0.x.rst` file is likely needed, similar to the news files for the other release series.

[2022-03-08 09:21] gwiesenekker commented on #10041
Hi,

That solved the issue and it is reproducible: unsetting these environment variables: MPI_Barrier hangs (when the Docker container is running); setting these environment variables: the program continues. So, what do these settings achieve to resolve the conflict with Docker?

Regards,
GW

[2022-03-08 09:33] ggouaillardet commented on #10041
Open MPI (the `btl/tcp` component to be more specific) (tries to) use several socket pairs between processes when several interfaces are available. My guess is that docker sets up some network that are tried by Open MPI but are not usable (typically, the communications would hang because of docker firewall).
So I guess restricting IP traffic to a subnet that is known to always work avoid the hang.

[2022-03-08 14:35] brminich commented on #9884
@jsquyres, the issue can't be reproduced anymore, so closing this issue

[2022-03-08 14:35] #9884 closed

[2022-03-08 16:48] hppritcha commented on #10057
Using gcc 9.4.0 the symbol names are the same
[code]

[2022-03-08 17:27] #9846 closed

[2022-03-08 17:43] jsquyres commented on #10057
@hppritcha and I talked on the phone today; he's going to cook up a small non-MPI example to test what happens when:

* have a module+library that doesn't use ELEMENTAL
* compile an application (that does not expect ELEMENTAL) against that interface so that the executable is dependent upon the library
* change the interface to now use ELEMENTAL
* recompile the module+library
* does the application

[2022-03-08 17:53] gwiesenekker commented on #10041
Hi,

Your guess is absolutely right: the netstat -an output shows exactly that:

tcp        0      0 172.17.0.1:1030         192.168.123.23:59109    TIME_WAIT

The 172.17.0.1 address belongs to the Docker bridge network.

Regards,
GW

[2022-03-08 17:56] jsquyres commented on #10041
FWIW, Open MPI has both "include" and "exclude" MCA params (which you're setting via env vars).  You could either exclude the Docker-only network or include the desired comma-delimited list of network(s) -- either way will work (but not both simultaneously -- it only makes sense to use "include" *or* "exclude" -- not both).

Sounds like this issue is resolved; I'll close the issue.  Feel free to r

[2022-03-08 17:56] #10041 closed

[2022-03-08 18:04] sfilippone commented on #10057
Yes, the application will still work correctly in both  (old application +  new module/library, new application + new module/library).
If it doesn't, it's a compiler bug.

[2022-03-08 20:07] hppritcha commented on #10057
Okay I did some playing around with the following files:
[code]
and
[code]
and two tests:
[code]
and
[code]
and checked compiling the mytest_scalar using either of the modules files generated from interval_type (and the elemental variant) and linking first with object file produced compiling interval_types.f90 and interval_types_elem.f90 and did not find a problem with gfortran, Cray fortran, IBM

[2022-03-08 22:23] wzamazon commented on #9850
I can see the referenced PR was merged https://github.com/openpmix/prrte/pull/1176, and ompi master behavior has changed by. Thank you!

[2022-03-08 22:23] #9850 closed

[2022-03-08 23:21] wckzhang opened #10096 "PMIx help text not found"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
OMPI master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone

[code]

I've been seeing these prints on recent debug runs. It doesn't seem to be causing any p

[2022-03-08 23:43] wzamazon commented on #10096
I encountered the same problem. When I run `mpirun -h`, I got the following error message:

[code]

[2022-03-08 23:51] wzamazon opened #10097 "mpirun (master branch) error message for unknown and deprecated argument is wrong"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone from source. then configured with `./configure --p

[2022-03-09 14:26] jsquyres opened #10099 "Correctly document ABI issues between v4.x and v5.0"
Per #10098 and ed9a670074eaf64a34f7fdfdcba843f4eaf0219e, we will need to update several sections about ABI in the docs.  For example, several sections in docs/building-apps/removed-mpi-constructs.rst will need to be updated.

It should also probably be mentioned prominently somewhere what the ABI differences are (e.g., if the C MPI bindings ABI was maintained, but the Fortran MPI bindings ABI was

[2022-03-09 14:33] massimiliano-leoni opened #10100 "[Question/bug] size of complex types seems wrong"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Compiled from official sources taken from https://www.open-mpi.org/software/ompi/v4.1/ .
Configured with simply

[2022-03-09 14:44] devreal commented on #10100
sizeof(MPI_DOUBLE_COMPLEX);
sizeof(MPI_C_FLOAT_COMPLEX);
sizeof(MPI_C_DOUBLE_COMPLEX);
sizeof(MPI_C_LONG_DOUBLE_COMPLEX);

You're querying the size of the MPI datatype handle, not the size of the datatype. Use `MPI_Type_size` instead.

[2022-03-09 14:49] awlauria commented on #10096
With the command line shuffling it isn't pointing to the right hostfile. libpmix is making the show-help call, so it expects it to be in a pmix subdir, when it actually is in a prte subdir (`install/share/prte`).

It is probably a simple fix, probably. prte and prun have the same issue. I'll post a patch for it this morning.

[2022-03-09 15:35] awlauria commented on #10097
Working on a fix. Should post this morning

[2022-03-09 17:36] awlauria commented on #10097
Fix for unknown argument "(null)":

https://github.com/openpmix/prrte/pull/1257
https://github.com/openpmix/openpmix/pull/2495

[2022-03-09 17:37] awlauria commented on #10096
Can you try these and add review/test:

https://github.com/openpmix/prrte/pull/1257
https://github.com/openpmix/openpmix/pull/2495

[2022-03-09 17:47] gpaulsen opened #10103 "configure option `--runstatedir=DIR` not in OMPI v5.0.0rc3.tar.gz"
When I compare the output of `configure --help` from the v5.0.0rc3 tarball with the output of `configure --help` from a gitclone of the tag `v5.0.0rc3` after running autogen.pl on my mac (using autoconf v2.71 and automake v1.16.5) I see that the output from the gitclone includes an additional option:
[code]

I would expect these two paths to be identical.

[2022-03-09 18:24] bwbarrett commented on #10103
`runstatedir` is automatically added by newer versions of Autoconf (2.70 or later).  We don't use it in Open MPI, so it doesn't matter, but dist tarballs (and nightly tarballs) are always built with the autotools versions specified in the make_dist_tarball script that is in the branch being built.  5.0.x specifies AC 2.69, which didn't auto-add that option.

[2022-03-09 18:24] #10103 closed

[2022-03-09 18:58] awlauria commented on #10097
Regarding the deprecation warning, it appears you are missing a `-` on `--machinefile`, which is causing the parser to get a bit wonky.

it seems to work when adding a double-dash.

FWIW it doesn't seem to be in prrte's deprecated list. I don't think it is deprecated.

[2022-03-10 17:52] bwbarrett commented on #10047
It would be very helpful to have the entire output of OMPI's configure.  It's hard to figure out exactly what is happening from the short snippets.

[2022-03-10 17:53] bwbarrett commented on #10032
@saulocpp is this still an issue, or can we close this issue?

[2022-03-10 19:10] bwbarrett commented on #10076
The PMI-1/PMI-2 checks are written a little oddly.  My SLURM install is in /opt/slurm instead of /usr/, but I was able to replicate your failure with ` ./configure --prefix=/home/ec2-user/install --with-pmi=/opt/slurm/include/slurm --with-pmi-libdir=/opt/slurm/lib`.  Configure passed with identical messages, but the build failed.

Digging a little, it's because of a convoluted series of tests for

[2022-03-10 19:26] hjelmn commented on #10048
Fixing two of the leaks in https://github.com/open-mpi/ompi/pull/10105

[2022-03-10 19:36] saulocpp commented on #10032
Brian, apologies for not providing a proper update.
Yes, it can be closed as I got a tip from Gilles over SO.
Thanks a lot.

[2022-03-10 19:47] bwbarrett commented on #10032
No problem; thanks for the quick response.  I hate closing tickets without confirmed resolution...

[2022-03-10 19:47] #10032 closed

[2022-03-10 20:20] gpaulsen commented on #10083
@awlauria posted https://github.com/open-mpi/ompi/pull/10084

[2022-03-10 22:46] bwbarrett commented on #10056
Thank you for bringing this to our attention.  I can confirm that there is a bug in the configure logic for the netlink reachable component such that (for static library builds) we are not adding the netlink libraries to the wrapper compilers.  I am working on a patch to fix this issue and it will be fixed in the upcoming 4.1.3 release.

As you note, `--enable-mca-no-build=reachable-netlink` will

[2022-03-10 23:23] bwbarrett commented on #10056
#10107 fixes the issue on master; more backports to fix some bugs in opal_mca.m4 will be required on v4.1.x

[2022-03-11 09:50] Isaac-a95 commented on #10076
Configuring as as you proposed fixed the issue.

[code]

And then correctly compiles, thanks!

[2022-03-11 11:36] jorab commented on #9845
Well, I don't know about equivalent and for C, but it does for the (presumably) analogous program in C++. The OSU micro benchmark suite tests for Ireduce/Iallreduce (`osu_ireduce` and `osu_iallreduce`) breaks for me in a very similar way using both OpenMPI 4.0.7 and 4.1.2 on RHEL 8 compiled with system GCC. All other collective components in the OSU suite works when run on an NVIDIA SuperPOD GPUs

[2022-03-11 14:30] wzamazon commented on #10097
Ah, I see. Thank you!

However, single dash is accepted by open mpi 4, so I think it should be handled by v5 (or at least print a proper warning).

Yes, I remember prrte used to do that.

[2022-03-11 14:46] awlauria commented on #10097
No worries, I can try posting that patch, but may not until next week.

The fixes for "(null)" are fixed in pmix/prte master, just need to update the submodule.

[2022-03-11 14:56] awlauria commented on #10096
v5.0.x is not effected, or shouldn't be. This came as a result of prrte using pmix utilities, which is not in the v5.0.0 series.

This should be fixed in the current prrte/pmix masters, just need to update the submodule pointer.

[2022-03-11 15:40] wzamazon commented on #10097
I can confirm the "(null)" has been fixed by latest pmix/prte. Thank you!

[2022-03-11 17:46] jsquyres commented on #9845
@Akshay-Venkatesh Can you help?

[2022-03-11 18:56] rhc54 opened #10110 "Comm_spawn/accept using inefficient (and frail) rendezvous mechanism"
The current OMPI dpm code uses the PMIx publish/lookup mechanism for rendezvous during MPI comm_spawn and connect/accept operations. This mechanism has proven somewhat weak over time and doesn't really scale all that well.

A better mechanism would be to use the PMIx "group" functions as these are designed to scale. We couldn't do this before now because the "group" operations weren't in earlier v

[2022-03-11 20:25] david-edwards-arm commented on #10096
I am seeing this issue on 5.0.0rc3 (built from tarball).

[2022-03-11 21:53] awlauria commented on #10096
Intersting, thanks. Will take a look.

[2022-03-11 22:17] awlauria commented on #10097
@wzamazon I opened https://github.com/openpmix/prrte/pull/1269 to try and fix the single dash issue if you want to test it.

[2022-03-12 01:52] leofang commented on #9845
That said, segfault is not acceptable... Couldn't we return an error code to indicate "not supported"?

[2022-03-12 13:23] jsquyres commented on #9845
Agreed.  @Akshay-Venkatesh Can we do better?

[2022-03-12 18:05] sekoenig opened #10111 "Concurrent bcast with derived datatype corrupts memory"
Concurrent bcast with derived datatype corrupts memory
---

## Background information

In my application, I am running multiple broadcasts in parallel (on separate communicators and buffers, of course).  Because in principle the buffers can become very large, I am using a derived datatype (MPI_Type_contiguous) for this operation. After experiencing spurious segmentation faults, I turned on the add

[2022-03-13 03:32] dqwu opened #10115 "Floating-point exception in common_ompio_aggregators.c"
We have a test that calls netCDF4 API nc_put_vars_text, which received signal SIGFPE:
Floating-point exception - erroneous arithmetic operation.

This issue can be reproduced on Ubuntu 18.04. Open MPI 5.0.0rc3, HDF5 1.12.1 and NetCDF-C 4.8.1 were built with gcc 7.4.0

With Address Sanitizer turned on, the call stack is:
[code]

The SIGFPE is likely a division by zero in line 1514 of ompi/mca/commo

[2022-03-13 03:37] dqwu commented on #10115
A related issue is #6774

[2022-03-13 05:11] ggouaillardet commented on #10111
That could be somehow specific to UCX.
What if you `mpirun --mca pml ^ucx ...` ?

[2022-03-13 05:33] ggouaillardet commented on #10111
FWIW, here is a C+OpenMP version of the test program

[code]

[2022-03-13 05:57] ggouaillardet commented on #10111
from `pml_ucx_datatype.h`:

[code]

this is not thread safe: `mca_pml_ucx_init_datatype()` should not be called on the same datatype by two concurrent threads.

[2022-03-13 05:57] ggouaillardet commented on #10111
@yosefe can you please have a look?

[2022-03-13 11:31] jsquyres commented on #10076
Thanks for the confirmation!

[2022-03-13 11:31] #10076 closed

[2022-03-13 13:24] sekoenig commented on #10111
I tried with `export OMPI_MCA_pml=^ucx` because I need to use SLURM (srun) instead of mpirun.  Unfortunately I cannot really test because now I get `Open MPI failed to TCP connect to a peer MPI process.`.  Not sure if there's a way around UCX on the cluster I am using.

[2022-03-13 13:28] edgargabriel commented on #10115
@dqwu thank you for the bugreport Can you please provide additional information how to reproduce this issue? E.g. testcode, input parameters, number of processes etc. Just running the hdf5 testsuite does not trigger this issue.

[2022-03-13 14:03] ggouaillardet commented on #10111
You can try to restrict to a TCP network known to work, for example
[code]

[2022-03-13 14:09] sekoenig commented on #10111
Thanks for the suggestion and for investigating the issue! I think it's best I open a ticket tomorrow with the cluster support team to help me test this. I will do that tomorrow and report the result here.

[2022-03-13 16:25] dqwu commented on #10115
@edgargabriel
Unfortunately we do not have a simple test program for you to reproduce this issue so far.
It was originally reproduced by a Fortran unit test of SCORPIO (https://github.com/E3SM-Project/scorpio).
The test is run with only 4 MPI tasks.

This issue can be reproduced on Ubuntu 18 with default gcc 7 but you should be able to reproduce it on other systems with available gcc. You need fir

[2022-03-13 19:42] albandil opened #10116 "PBS support is never built in 5.0.0rc3"
I compile Open MPI using the following command:
[code]
When I test the resulting installation on a PBS-managed cluster, I get different results in 5.0.0rc2 and 5.0.0rc3. What I do is the following:
[code]
When using 5.0.0rc2, I get a reasonable output:
[code]
However, with 5.0.0rc3, the installation apparently completely ignores the PBS allocation:
[code]
This is confirmed by *config.log*:
[code]

[2022-03-13 20:48] sethrj commented on #7847
This looks fairly similar to https://github.com/openpmix/openpmix/issues/2508 : intermittent hangs and crashes during MPI_Finalize.

[2022-03-13 21:10] sethrj opened #10117 "Intermittent crashes inside MPI_Finalize"
## Background information

This is moved from https://github.com/openpmix/openpmix/issues/2508 . Our CI experiences roughly a 1 in 1000 chance of crashing or hanging during a normal call to MPI_Finalize at the end of our unit tests (even ones that are launched with only a single processor).

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

I've se

[2022-03-14 00:24] ggouaillardet commented on #10116
Thanks for the report!

The issue is indeed what you described, and I issued openpmix/prrte#1275 in order to fix it.
Meanwhile, your change in `configure` is the right thing to do.

[2022-03-14 10:20] cniethammer commented on #10057
@hppritcha I just took your example codes from above and tried with Intel 19.1.0, AOCC.LLVM.2.1.0 (flang), and PGI 20.4.
Examples compile fine and symbol names are the same. However, call addresses seem to change in case of AOCC/LLVM and PGI:
[code]

[2022-03-14 13:04] edgargabriel commented on #10115
@dqwu thank you, this is very helpful! I will try to reproduce it, but it might take me a couple of days until I get to it.

[2022-03-14 16:34] sekoenig commented on #10111
With the help of the HPC support team I was able to run the test code now without UCX.  The specific settings I used are
[code]

Interestingly, using the contiguous type still causes a problem, but now it's different:
[code]
In particular, this only appears after one successful pass.  (That could be coincidental though if we are dealing with some sort of race condition.)

On the other hand, runnin

[2022-03-14 16:55] bosilca commented on #10111
1. The attribute setting is thread safe, but MPI allows overwriting an attribute, which means that rewriting the same attribute will force the deletion of the previous one, which translates into a UCX datatype being deleted by mca_pml_ucx_datatype_attr_del_fn while another thread is using it. The @open-mpi/ucx folks need to refcount their use of the internal datatype.
2. You can use IPoIB to restr

[2022-03-14 21:33] shijin-aws commented on #10096
@awlauria I could verify that after checking out the commits in https://github.com/openpmix/prrte/pull/1257
and https://github.com/openpmix/openpmix/pull/2495 to prrte and openpmix, the error is fixed.

[2022-03-14 21:45] awlauria commented on #10096
Thanks @shijin-aws .

@david-edwards-arm are you seeing this with `mpirun --version / mpirun -V` ?

I am able to reproduce that via the tarball, it seems the version option is broken in rc3. Other help options look ok to me.

[2022-03-14 21:52] david-edwards-arm commented on #10096
@awlauria yes I see the issue with `--version` but not `--help`; the issue affecting multiple executables `mpirun`, `prun`, `prte` etc.

[2022-03-15 00:27] Akshay-Venkatesh commented on #9845
Will discuss internally and get back early this week. Hope that works.

[2022-03-15 08:36] ggouaillardet commented on #10111
@bosilca my point was it could be better to avoid overwritting `datatype->pml_data` with (a pointer to a) similar data in the first place, and hence avoiding to concurrently set the datatype.

FWIW, here is a quick and dirty proof of concept that seems to fix the issue in my environment

[code]

[2022-03-15 13:51] jjhursey commented on #10071
The command line looks correct. I don't have a Slurm environment to test in, but testing locally with 2 machines worked as expected.

From the error message, it looks like there may be only one CPU slot made available from Slurm to Open MPI on `compute-3-56` so the runtime is warning about overloading that CPU by performing the mapping. Can you run with `--display-allocation` to see what the Open

[2022-03-15 14:12] gkatev opened #10121 "smsc/XPMEM region map fails due to padding/alignment and/or inaccurate max address"
Hi, I observed that some of my SMSC `map_peer_region` calls were failing. It appears that the 8 MB padding/alignment added to XPMEM attachments, in conjunction with an inaccurately(?) set `address_max`, brings the attachment range over the limit.

Adding these debug prints:
[code]

Generates this output:
[code]
The attachment with size 8388609 ie. 0x800001 (btw, why the +1?) fails, whereas the 409

[2022-03-15 14:40] bernstei commented on #10071
Copying from mailing list

I wouldn't be surprised if it is indeed an interaction with slurm.  The only evidence I have that OpenMPI and slurm are talking to each other is that "mpirun exec" without "-np" works as expected, one MPI task per core on each node.
From the error message, it looks like there may be only one CPU slot made available from Slurm to Open MPI on compute-3-56 so the runtime is

[2022-03-15 15:13] jjhursey commented on #10071
IIRC There was an issue with Slurm 19 where it was aggressively binding (per https://github.com/open-mpi/ompi/pull/6674/files). I'm curious if you set `SLURM_CPU_BIND=none` in your default environment if that resolves the issue.

[2022-03-15 15:35] bosilca commented on #10111
You're right, preventing concurrent access to `mca_pml_ucx_init_datatype` can be done with an atomic operation in `mca_pml_ucx_get_datatype`. Nice patch !

[2022-03-15 15:43] sekoenig commented on #10111
Naïve question based on my superficial understanding of things: would it not make sense to do this kind of initialization within the implementation of `MPI_Type_commit`?

[2022-03-15 15:47] devreal commented on #10121
@gkatev Do your attachments succeed if you choose a smaller (4K) alignment via `--mca smsc_xpmem_log_align 12`?

[2022-03-15 16:52] bosilca commented on #10111
You could indeed do it during MPI_Type_commit. If not all committed types are used for point-to-point communications you would waste some memory, but in exchange you are getting rid of the atomic construct to protect the datatype creation.

[2022-03-15 16:52] gkatev commented on #10121
I'm havin a harder time reproducing it now, but given that in my debug code, where every time the 8MB-aligned attachment failed the 4KB one did succeed, I would guesstimate that it would not appear with a smaller alignment.

Yes, it also seemed to me that that +1 is redundant. Perhaps also the -1?

What issue are you seeing with smsc?

[2022-03-15 17:12] sekoenig commented on #10111
Sounds to me like creating a large number of unused types is something that could/should be addressed at the application level, while getting rid of this initialization within the communication routines could even bring a (presumably small) performance improvement.

But admittedly I do not know the history of/reasoning for the current design, and ultimately I am happy to see it fixed in any way :)

[2022-03-15 17:55] jjhursey commented on #10071
Try setting it in your `.bashrc` (or similar). We would need the `orted` to pick it up.

From the allocation report it looks like we are seeing all of the slots.
[code]

Are you able to use `ssh` to move between nodes in the allocation? If so you might try running with `-mca plm ^slurm` which will use the `ssh` launcher instead of `srun`.

If those ideas do not work then someone with the Slurm env

[2022-03-15 18:01] bernstei commented on #10071
I tried that (.bashrc and .bash_profile, just in case), and it didn't make a difference

That gave a different error starting up
[code]

Can you think of anything else the `--map-by` option could be doing? mpirun _can_ do the right thing if I give it an explicit rankfile.  Is there any way to get verbose output from the mapping step?

[2022-03-15 19:09] #9638 closed

[2022-03-15 19:37] hppritcha opened #10124 "master build failing trying to install oshcc and related man pages"
See IBM MTT results.  Also I observed this on NERSC system using the nightly tarball.
[code]

[2022-03-15 20:39] jsquyres commented on #10124
Should be fixed by #10114.

[2022-03-15 20:42] devreal commented on #10121
OK, I think I am hitting the same issue. Will work on a patch. Am I right assuming that we shouldn't attempt to include the `[vsyscall]` area in a mapping?

[2022-03-15 21:33] jjhursey commented on #10071
The `bash: orted: command not found` seems to indicate that Open MPI is not in your path on the remote machine. Can you ssh to that node and do a `which orted mpirun` - you might need to adjust the PATH on that node.

You can also enable debugging output for the daemon launch by adding `-mca plm_base_verbose 100 --debug-daemons -mca odls_base_verbose 100` that will show you the command that `mpiru

[2022-03-15 22:56] #10124 closed

[2022-03-16 00:33] ggouaillardet commented on #10111
Currently, there is no mechanism to invoke a (`pml` specific) callback in `MPI_Type_commit()`.

This is something we should at least (carefully) consider, but since that would likely break internal ABI, that is unlikely to happen anytime soon.

[2022-03-16 00:55] sekoenig commented on #10111
I finally managed to try this with more help from the HPC support team. I had to replace `sm` with `vader` because otherwise I get `As of version 3.0.0, the "sm" BTL is no longer available in Open MPI.`, but then with the proper TCP network info set my test program completes fine, with contiguous derived datatype and with plain MPI_DOUBLE.

The Address Sanitizer reports a couple of (supposed) memo

[2022-03-16 03:18] dqwu commented on #10115
@edgargabriel
I have also created a simple SCORPIO Fortran example program to reproduce this issue (similar to ncdf_get_put_np4_nio2_st2 test). It seems that this issue can only be reproduced with a Fortran executable built with -ffpe-trap=zero flag (I am not able to reproduce it with a similar C executable so far).
[code]

[2022-03-16 05:01] dqwu commented on #10115
@edgargabriel
I am able to reproduce this issue with a simple NetCDF4 C program now. We only need to build Open MPI, Zlib, HDF5 and NetCDF-C (no need to build NetCDF-Fortran and SCORPIO) with "-g" flag.

C program for testing (test_nc4.c):
[code]
Build and run steps:
[code]

[2022-03-16 07:24] gkatev commented on #10121
Yes it seems like a good solution for this case. (assuming that there's not reason to attach to another process's `[vsyscall]`?)

Maybe in order to cover all cases, one would have to take into account also the gaps in the remote process's memory map. Eg. in the example above, could the padding cause an attachment to exceed the heap's limit? But I guess that creating and keeping up to date such a s

[2022-03-16 12:58] bernstei commented on #10071
I'll try, but if that were the case, why would it be any different with the explicit rankfile? Presumably it'd still be starting the remote daemon the same way.

[2022-03-16 13:38] bernstei commented on #10071
When I ssh from the job's main execute node to the other allocated nodes the path in that ssh appears to be just /usr/bin and /usr/local/bin, which is obviously much truncated compared to the path the job script sees when it's running on the job's head execution node. I'm not sure how ssh decides what environment to export and/or what shell to start, and how to control that for the mpirun's spawne

[2022-03-16 13:43] devreal commented on #10121
@gkatev I created https://github.com/open-mpi/ompi/pull/10127. Can you give that a try? I believe we should try to use the requested upper bound if the aligned upper bound cannot be mapped. That worked for in my tests with variables on the stack.

[2022-03-16 15:38] gkatev commented on #10121
Yes that solves it!

I would probably have the bound fall back to the next page limit from the requested bound -- not sure if using the exact requested bound is safer than that or not. If the bound passed to xpmem_attach is not page-aligned, xpmem will align it and include the whole page in the attachment. The downside is that smsc/xpmem won't know about it. But I think it's not really a problem e

[2022-03-16 15:54] edgargabriel commented on #10115
@dqwu always interesting to learn something new. First of all, I can confirm that I can reproduce the problem with your  code. Interestingly, if I comment out the ```feenableexcept(FE_DIVBYZERO);``` line in your code, the testscode actually finishes without an error, and produces the correct output file (i.e. identical to file generated using romio).  Nevertheless, it most likely points to a legit

[2022-03-16 16:47] bwbarrett commented on #10056
I was wrong; https://github.com/open-mpi/ompi/pull/10130 was all that was needed to fix this on 4.1.x.

[2022-03-16 17:28] janjust commented on #8086
Can we close this?

[2022-03-16 17:33] janjust commented on #9689
This should be fixed with #10126

[2022-03-16 19:03] thomasgillis commented on #9871
@bwbarrett thanks for the detailed explanation, appreciated!

[2022-03-16 19:42] edgargabriel commented on #10115
@dqwu I found the problem, I will file the fix either tonight or early tomorrow morning.

[2022-03-17 09:14] monsieuralok opened #10132 "Not able to set stripe and stripe sie using mpi_info_set"
We are using PnetCDF in CESM and usually, it sets automatic stripes on files using following call:
         call mpi_info_set(info,"striping_factor",stripestr,ierr)
         call mpi_info_set(info,"striping_unit",stripestr2,ierr)

while using cray mpich and intel MPI we are not having any problem.  We are having a lustre file system and it is OpenMPI 4.0.3 compiled using intel/2020a compiler.
Plea

[2022-03-17 10:05] ggouaillardet commented on #10132
It is possible `striping_factor` and `striping_unit` keys are ignored by our `io/ompio` component (but used by the `io/romio...` component.

Are striping parameters used if you
[code]

[2022-03-17 10:33] ggouaillardet commented on #10132
With Open MPI 4.0.3, the ROMIO component is `io/romio321`, so you should try

[code]

[2022-03-17 10:39] monsieuralok commented on #10132
mpirun -np 4 --mca io romio321 ./a.out
 node           0 : Hello world
 node           2 : Hello world
 node           3 : Hello world
 node           1 : Hello world
[agu002@login-2.BETZY /cluster/work/users/agu002/pnetcdf]$ lfs getstripe test.nc
test.nc
lmm_stripe_count:  1
lmm_stripe_size:   1048576
lmm_pattern:       raid0
lmm_layout_gen:    0
lmm_stripe_offset: 18
lmm_pool:          projects

[2022-03-17 10:44] monsieuralok commented on #10132
Hi Gilles,
                    Thanks a lot, I tried, and it is not giving accepted results. Therefore, I have wrote again to OpenMPI support .

Thanks a lot
Alok

[cid:norce_426cc920-64ab-4893-95d0-c29d5dab670c.png]

NORCE Norwegian Research Centre AS
norceresearch.no<https://www.norceresearch.no/>

________________________________
From: Gilles Gouaillardet ***@***.***>
Sent: Thursday, March 17,

[2022-03-17 10:55] monsieuralok commented on #10132
Here is my test program in fortran:

          program stripe
#  include <pnetcdf.inc>
#  include <mpif.h>
      integer*4 ,save :: info=MPI_INFO_NULL
      character(len=3) :: stripestr
      character(len=9) :: stripestr2
      integer ierr,status,ncid,size,rank
      character*(8) :: fnm
      fnm="test.nc"
      write(stripestr,('(i3)')) 8
      write(stripestr2,('(i9)')) 2048*1024
      call

[2022-03-17 11:24] ggouaillardet commented on #10132
I briefly checked the `io/romio321` component, and it should handle `striping_factor` correctly.

A possible explanation is lustre support was not detected at `configure` time.

What if you replace `test.nc` with `lustre:test.nc`?
it should force ROMIO to use the `ad_lustre` component and fail if it is not builtin.

[2022-03-17 11:33] monsieuralok commented on #10132
I replaced
_fnm="test.nc"_ in program with _fnm="lustre:test.nc"_
and I get following error:
_MPI error (MPI_File_open) : MPI_ERR_IO: input/output error_

so you want to say that OpenMPI is not built/configured with lustre support. I will write to our support. Is there any other way to check it? Thanks a lot Alok

[2022-03-17 12:34] ggouaillardet commented on #10132
Right, the message means that the ROMIO component has no lustre support.

I am not sure how to verify Lustre support was built from the install tree, so better check the output of `configure` (or `ompi/mca/io/romio321/romio/config.log` if the admins kept it)

[2022-03-17 12:44] edgargabriel commented on #10132
just to clarify briefly an item, ompio does recognize on luster file systems the info objects "stripe_size", and "stripe_width"(We might have to adjust the names of the info objects to match the MPI spec, I actually missed this aspect).

However, in the 4.0.x series romio is the default io component on Lustre file systems, that changed starting from the 4.1.x release series. And second, if I recal

[2022-03-17 15:38] wzamazon commented on #10097
I can confirm https://github.com/openpmix/prrte/pull/1269 fixed the issue of single dash

[2022-03-17 17:15] jsquyres commented on #10057
Everything is merged in all branches; ELEMENTAL support will debug in Open MPI v4.1.3, which, if all goes well, will be released late next week.

[2022-03-17 17:15] #10057 closed

[2022-03-17 23:06] simonbyrne opened #10142 "dlopen, dlclose libmpi triggers a segmentation fault if calling getenv"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Using homebrew.

### If you are building/installing from a git clone, please copy-n-paste the output from `git

[2022-03-17 23:46] vchuravy commented on #10142
I can also confirm this on Archlinux with OpenMPI 4.1.2

[2022-03-18 00:26] Akshay-Venkatesh commented on #9845
@jsquyres When are the next 4x/5x releases planned for? I don't think targeting for 4.1.4 or 5.0.0 is realistic but we may have resources for beyond that point. If we need better handling for the current problem (i.e reporting not supported instead of segfault), we would need to add cuda detection in nbc components that get picked up to run the collective. This also seems non-trivial work and must

[2022-03-18 00:41] ggouaillardet commented on #10142
are you sure `getenv()` is involved?
my program crashes in `dlclose()` on RHEL8 like

[code]

[2022-03-18 01:22] ggouaillardet commented on #10142
As a workaround, try to
[code]
before running your program.

[2022-03-18 01:25] ggouaillardet commented on #10142
@vchuravy did you adapt the path to `libmpi.so` on arch linux?
if not, the root cause of the crash will likely be `dlclose(NULL)`

[2022-03-18 01:50] ggouaillardet commented on #10142
@vchuravy and you probably did ...

@simonbyrne note you can reproduce the crash by using `/usr/local/lib/libhwloc.15.dylib` instead

feel free to refer to open-mpi/hwloc@fe363de1647013c190ac3e9d25bb1d7d3fbe574d for the gory details.

[2022-03-18 02:34] jsquyres commented on #9845
v4.1.3 is quite possibly going to be late next week.  There's no date for v4.1.4 yet.

I don't recall the exact timeline for v5.0.0, but it's (currently) within the next few months.

You might want to have some discussions with other Open MPI community members before sprinkling more CUDA code throughout the Open MPI code base (e.g., are you going to need to edit all the NBC collectives?  What abou

[2022-03-18 03:54] nncarlson commented on #9795
I started poking at this a bit myself, starting with this error from configure:
[code]
I cut-n-pasted the failed test code into a source file, and confirmed the same error when compiling directly.  But I also tried compiling it with both Intel and GFortran and they both give exactly the same error. The problem lies in the m4 file that generates the Fortran source: https://github.com/open-mpi/ompi/

[2022-03-18 05:03] simonbyrne commented on #10142
Indeed I can, thanks! And your suggested fix works.

Will your patch make it into a release soon?

[2022-03-18 05:54] ggouaillardet commented on #10142
I am not the author of that patch.

@bgoglin any plan to release `hwloc` with that fix anytime soon?
per this ticket, the bug has "landed" into homebrew and Archlinux.

[2022-03-18 12:32] jsquyres commented on #10142
The fix is actually in hwloc, not Open MPI.

Open MPI embeds a copy of hwloc (which, for the purposes of this discussion, is just a library), but that embedded copy of hwloc is only used if hwloc is not already available on your system.  The version of hwloc that is included in Open MPI v4.1.2 is hwloc v2.0.2, which is long before the `ZES_ENABLE_SYSMAN` issue (i.e., it won't crash because of this

[2022-03-18 12:35] jsquyres commented on #10142
FWIW: I see the fix in hwloc v2.7.0, which appears to both be the latest version available, and also what homebrew pulled down and installed for me this morning.

[2022-03-18 12:44] jsquyres commented on #10031
Fixed by #10088.

[2022-03-18 13:30] bgoglin commented on #10142
I wonder why I don't receive notification from github anymore when I am tagged.
I can do 2.7.1rc1 on Monday for sure. I didn't do it earlier because it seemed it wasn't urgently needed anymore.

[2022-03-18 13:35] ggouaillardet commented on #10142
@jsquyres you meant the `hwloc-v2.7` **branch**, right?
The fix is definitely **not** in the `hwloc-2.7.0` **tag**

[2022-03-18 13:37] jsquyres commented on #10142
@ggouaillardet You are absolutely right.  Thanks for the correction!

[2022-03-18 15:00] awlauria commented on #10097
This should be fixed in master with #10136 fixed in master. Needs back porting to v5.0.0x

[2022-03-18 15:01] awlauria commented on #10096
This should be fixed in master with #10136 fixed in master. Needs back porting to v5.0.0x

[2022-03-18 15:22] gpaulsen commented on #10031
Re-opening to track for v5.0.x and v4.1.x

[2022-03-18 16:22] awlauria commented on #10031
v4.0.x: #10145
v4.1.x: #10144
v5.0.x: #10146

[2022-03-20 14:55] nathanweeks commented on #8086
Still no error with v5.0.0rc3; I'd say "yes".

[2022-03-20 14:55] #8086 closed

[2022-03-21 08:51] bgoglin commented on #10142
hwloc 2.7.1rc1 is available from https://www.open-mpi.org/software/hwloc/v2.7/
I'll release the final 2.7.1 in a couple days if you confirm the issue is gone.

[2022-03-21 13:24] jayeshkrishna commented on #10053
Update: We still have the same issue after upgrading to OpenMPI 4.1.2

[2022-03-21 13:45] #9339 closed

[2022-03-21 13:57] janjust commented on #8652
Closing since it's a feature req. for UCX not an ompi issue.

[2022-03-21 13:57] #8652 closed

[2022-03-21 13:58] janjust commented on #9851
Closing, topic updated at the NV forum.

[2022-03-21 13:58] #9851 closed

[2022-03-21 14:45] ericch1 opened #10149 "ompi/v5.0.x : mpirun --version doesn't works!"
Hi,

since March 2, it seems that `mpirun --version` argument doesn't works as expected.  It returns:
[code]

Here are all the configuration informations:

http://www.giref.ulaval.ca/~cmpgiref/ompi_5.x/2022.03.02.22h04m44s_ompi_config.log

http://www.giref.ulaval.ca/~cmpgiref/ompi_5.x/2022.03.02.22h04m44s_ompi_ompi_info_all.txt

Thanks,

Eric

[2022-03-21 14:46] awlauria commented on #10149
Thanks for the report. This is actually a dup of https://github.com/open-mpi/ompi/issues/10096, and should be fixed for rc3.

[2022-03-21 14:48] #10149 closed

[2022-03-21 18:56] giordano commented on #10142
I did a local build of 2.7.1rc1 and I can confirm that with this one dlclosing libhwloc doesn't segfault badly:
[code]
For reference, at the moment I get
[code]

Thanks!

[2022-03-22 10:15] lockywolf opened #10151 "mpirun ignores port setting for the local machine"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.0 and 4.0.5.0.88d8972a4085

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

4.0.5.0.88d8972a4085 was from OpenS

[2022-03-22 10:54] ggouaillardet commented on #10151
are you running on `laptop`?
if so, `mpirun` does not (use SSH to) spawn an `orted` daemon and you should not expect a timeout.

Not you need to add `self` to the list of `btl` if you plan to run a MPI application.

[2022-03-22 11:09] lockywolf commented on #10151
`laptop` is the name of the machine. It is not a laptop.

Why and where is this documented?

The absence of `tcp` in the command-line is intentional. I need it to connect by ssh to the tcp port 10002 (as written in the hostfile), and launch `orted` on whatever machine it connects to.

[2022-03-22 12:56] gkatev opened #10152 "opal_path_nfs test fails with (timed-out) autofs mount"
Hi, I'm encountering a failure with the `tests/util/opal_path_nfs` test. If I'm interpreting everything correctly, it looks like it is the test that is problematic and not `opal_path_nfs()`.

Cherry-picking a specific mount from the list for demontration purposes:
[code]
From what I can tell this filesystem indeed is nfs (mounted via autofs).
[code]
Actually, when all offending mounts have been re

[2022-03-22 14:18] jsquyres commented on #10142
Thanks @bgoglin!

[2022-03-22 14:43] jsquyres commented on #10151
@lockywolf What is it that you are trying to do?

I do not think we have much documentation on the exact inner-workings of how Open MPI launches across localhost and remote hosts.  The short version is that on localhost, we just fork/exec -- there's no need to ssh to localhost just to launch a process locally.

[2022-03-22 14:50] lockywolf commented on #10151
The local port 10002 is forwarded to the port 22 on  different machine, as are ports 10000-11000, to exactly the same port numbers on that different machine.

Mca on that different machine has
oob_tcp_dynamic_ports=10000-11000

Mca on local machine has
oob_tcp_dynamic_ports=9000-9999

I need to run an mpi application on these two machines via forwarded ports.

[2022-03-22 16:18] ggouaillardet commented on #10151
My question was whether you invoke `mpirun` on the machine called `laptop`.
It makes zero difference if this machine is indeed a laptop or something else.
If you use `pml/ob1`, you always have to include `btl/self` otherwise your app will fail in `MPI_Init()`

you might be able to trick `mpirun` by using different hostnames (such as `laptop1`, `laptop2` and so on) and tweak your `~/.ssh/config` (f

[2022-03-22 17:27] hppritcha opened #10153 "mpirun: failure to launch when using SLURM PRTE PLM"
This issue is being filed as an Open MPI issue as it is more likely to be a google hit than an issue in prte repo.
A subsequent issue will be filed against prte.

This issue impacts master.  It was introduced by commit 953c23e35f0e395c441ee35a8e27243d7fc08d94.
To reproduce this problem find a system that is running slurm (I doubt it matters what version).
Allocate two nodes.
Build OMPI master.
run

[2022-03-22 17:29] hppritcha commented on #10153
@awlauria possibly of interest to 5.0.x RMs

[2022-03-22 17:31] awlauria commented on #10153
Thanks Howard.

@gpaulsen @janjust

[2022-03-23 03:36] a-szegel opened #10154 "Question: VSCode Reference Finding not working"
Has anyone gotten VSCode reference finding (i.e.. go to definition functionality) working with this project?  I have googled how to get VSCode to work with large C projects to no avail.  I was wondering if anyone has had this issue and figured out how to solve it.

Thanks!!!

[2022-03-23 05:12] mkurnosov opened #10155 "5.0.0rc3: ./autogen.pl --force fails"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
5.0.0rc3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
[openmpi-5.0.0rc3.tar.bz2](https://download.open-mpi.org/re

[2022-03-23 07:20] ggouaillardet commented on #10155
Thanks for the report!

indeed, in `autogen.pl`

[code]

the issue here is the macros defined in `config/opal_try_assemble.m4` are not used anywhere and this file does not get included in the tarball.

Meanwhile, you can either remove the mentionned lines or choose an other `m4` file from the `config` directory.

[2022-03-23 07:56] mkurnosov commented on #10155
@ggouaillardet thank you

[2022-03-23 10:02] jsquyres commented on #10155
This is definitely a blocker bug for v5.0.0.  Thankfully, it's easy to fix.

[2022-03-23 10:14] jsquyres commented on #10151
@lockywolf I think the root cause here is that you are using the run time system of Open MPI in a configuration that we simply did not design for (i.e., using localhost but not really as localhost).

There are many, many places in Open MPI (not just the run time system) where there is a fundamental difference between how things happen to peers on localhost vs. how things happen to peers not on loc

[2022-03-23 10:15] jsquyres opened #10156 "master/v5.0.x: mpirun --hostfile broken"
On master, `mpirun --hostfile NAME ...` is broken:

[code]

Same thing happens at HEAD of the v5.0.x branch.

There are two issues:

1. The file clearly exists and was provided on the command line.
2. The help message is terrible -- it needs to be more clear.

[2022-03-23 10:28] jsquyres opened #10157 "master/v5.0.x: no de-duplication of mpirun launch failure messages"
On HEAD of master and v5.0.x, we seem to have lost the ability to de-duplicate launch failure messages.  For example, in v4.1.x:

[code]

But on master / v5.0.x HEAD, the same message is repeated twice (and overlays itself, in `mpirun`'s output, making it very difficult to read/understand -- the problem gets worse if there are more nodes involved):

[code]

[2022-03-23 12:53] artemry-nv commented on #9933
Looks like we observed the similar issue with Open MPI from v5.0.x built on RHEL 7.x - libmpi.so depends on libcudart.so
Interesting that there's no such dependency on Ubuntu.

[2022-03-23 14:13] bosilca commented on #10154
I'm using VSCode among other editors while developing in OMPI. Most of them can handle references in the same part of the code (info, groups, communicators, datatype), but they fail to work nice with our internal API, because the interactions of the core with the MCA components (such as send/recv, one-sided, ...) go through a structure with function pointers (dynamically selected at runtime), and

[2022-03-23 19:49] awlauria commented on #10156
You actually hit an edge-case. It works with hostfiles not named 'h' as one would expect.

prtre has reserved the right to use 'h' as an alias to give the help output for a specific option. For example:

[code]

prrte seems to want to support this:

[code]

Notice the last bit:

**Note that the "help" and "h" options do not
  require the dash prefixes - i.e., the following commands
    "prterun --

[2022-03-23 19:53] jsquyres commented on #10156
That is terrible.  `h` is a valid filename.

The token argument to `--hostfile` should never be interpreted as anything other than a filename.

My $0.02: if there's some additional logic going on that might end up treating the argument to `--hostfile` -- or any valid CLI option -- as something else, then that logic should be fixed.

[2022-03-23 20:33] bwbarrett commented on #10156
+1.  `h` is, for better or for worse, a commonly used example hostfile name in web pages.  We can't break that.

[2022-03-23 20:54] awlauria commented on #10156
I agree.

I think the most sane thing is to remove support for the non-dashed help options rather than trying to work-around it - it's a bug not specific to the ompi/schizo as it also impacts prterun/prun.

Allowing "prterun --hostfile -h" or "prterun --hosefile --help" seems sane and good enough - I don't get the rationale of trying to support the non-dashed versions. It just leads to headaches,

[2022-03-23 20:59] jsquyres commented on #10156
@awlauria Ok.  I quibble with one thing, though.  I think:

[code]

should look for a file named `-h`.  That `-h` should _not_ be interpreted as a "please show the help message" option.

Specifically: the argument to `--hostfile` should _always_ be interpreted as a filename.  This is how many other CLI parsers (including `getopt_long(3)`) work.

[2022-03-23 21:07] awlauria commented on #10156
I don't think I would go that far.

`./exports/bin/prterun --hostfile "\-h" hostname` works on current prte master for users who want to name their hostfiles/paths in such a manner. Which is about what I would expect.

"-h" is short for --help. Even trying to open a file names "-h" with `vi` takes some effort (`vi "\-h"` is how I did it.)

fwiw: trying `mpirun --hostfile -h` doesn't work on a v4 f

[2022-03-23 21:43] jsquyres commented on #10156
I'm not sure if you're agreeing with me or not.  😄

I agree that `-h` is a kinda stupid filename.  But the argument to `--hostfile` should always, _Always,_ **ALWAYS** be interpreted as a filename.  If someone types in `mpirun --hostname -h uptime`, it should open the file named `-h` and use that (and error if there is no file named `-h`).

I'm not going to advocate for what `prterun` should do.

[2022-03-23 21:58] bwbarrett commented on #10156
@awlauria vi takes some effort because the filename isn't an argument of an option, but the "leftover" arguments.  If you do `vi -- -h`, you'll edit a file named `-h` as you'd expect.  But take an application that takes a filename as an option argument, like sed:

[code]

Yes, that's pretty contrived, but I was actually struggling to find an easy example while typing this.  So I think that `prteru

[2022-03-24 08:56] Janekdererste opened #10158 "Java Segmentation Fault"
## Background information
I have posted this to the [mailing list](https://www.mail-archive.com/users@lists.open-mpi.org/msg34846.html) as well, but maybe this is the more appropriate place. I am trying to set up a java project with Open-MPI, but I ran into trouble deploying the application on our HPC

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc

[2022-03-24 10:07] bgoglin commented on #10142
Thanks a lot for testing so quickly, I just released the final hwloc 2.7.1 then.

[2022-03-24 10:48] gkatev opened #10159 "Command line MCA parameter does not take precedence over env var (?)"
Hi, I'm seeing an issue where a `--mca` argument to mpirun does not override the value given to the same MCA parameter via an env var (I believe it is supposed to?).

I'm on v5.0.x (#9a070fc), building from git clone.
How I'm building Open MPI:
[code]
Configure output: [config.out](https://github.com/open-mpi/ompi/files/8340720/config.out.txt)
[code]
For example, running this results in a failure:

[2022-03-24 11:09] ggouaillardet commented on #10159
@gkatev this is indeed very surprising!

I will try to reproduce it.

Can you please run the following command and post the output?

[code]

[2022-03-24 11:12] gkatev commented on #10159
@ggouaillardet
[code]

[2022-03-24 13:11] awlauria commented on #10156
Ah, I see.

So should we just drop this prte feature from mpi tools?

[2022-03-24 13:17] jsquyres commented on #10159
I've marked this as a blocker for v5.0.x -- as described, it sounds like a regression.

[2022-03-24 13:17] awlauria commented on #10156
I'm referencing that prte allows users to do:

`mpirun --option -h/--help/help h`

to get a show help message referencing `--option`.

As I mentioned, this bug is not limited to `--hostfile`, but could impact other options (I was able to reproduce with `--path` in a similar manner).

[2022-03-24 13:26] jsquyres commented on #10156
IMHO, that feature is not good CLI design because the tokens `-h`, `--help`, `help`, and `h` can be valid arguments in many cases.

I don't know the history or rationale of this design, but it feels like this feature may have been inspired by CLIs like `git`, where you can do things like `git log --help`.  But -- at least in the `git` scenario -- that's a little different because the git `log` com

[2022-03-24 13:38] ggouaillardet commented on #10159
Thanks @gkatev
unfortunately all I can say is: this is not good :-(

[2022-03-24 14:59] #10151 closed

[2022-03-24 15:08] gkatev commented on #10159
@ggouaillardet so you could not reproduce it, right?

FYI I built a version of 4.1.2 with the same config line ([config.out](https://github.com/open-mpi/ompi/files/8342745/config.out.txt)) and it worked correctly.

[2022-03-24 15:12] ggouaillardet commented on #10159
FWIW, I was able to fix this by patching the embedded PMIx

[code]

@rhc54 could you please check if this is the right fix?

[2022-03-24 15:19] awlauria commented on #10159
@ggouaillardet can you post this patch to openpmix? He won't see mentions here.

[2022-03-24 15:26] ggouaillardet commented on #10159
I am AFK now
I can do that tomorrow unless someone else takes care of it in the mean
time.

On Fri, Mar 25, 2022, 00:19 Austen Lauria ***@***.***> wrote:

[2022-03-24 20:37] bosilca commented on #10156
Maybe we do want do follow some [guidelines](https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html).

[2022-03-24 21:49] awlauria commented on #10159
Testing your patch, @ggouaillardet I am not sure it is completely correct.

While it does force the command line to take precedence over what the user has in the environment, if the user only uses the environment and not the command line, it is no longer propagated across node. IE:

[code]
Will only show OMPI_MCA_osc for the local node.

[2022-03-25 00:02] jsquyres commented on #10154
@a-szegel Did that answer your question?

[2022-03-25 01:18] ggouaillardet commented on #10159
@awlauria thanks for testing my patch.
Indeed, that was not a good one ...

I just opened openpmix/openpmix#2548 with a new tentative fix.

[2022-03-25 07:01] Stadik commented on #10031
Thank you very much for the info. I guess it is not really necessary, but for reasons of completeness I will reply here once we use 4.1.3 and it works with the problem cases.

[2022-03-25 14:09] jsquyres commented on #10031
@Stadik If you could test with the latest 4.1.x nightly snapshot tarball, that would be great (this fix wasn't included in 4.1.3rc1, but it will definitely be in the release): https://www.open-mpi.org/nightly/v4.1.x/

[2022-03-26 08:24] lahwaacz commented on #9589
I have noticed this on Arch Linux too. It seems to be a problem with OpenMPI's internal PMIX library, building OpenMPI with external PMIX installation (`./configure --with-pmix=/usr ...`) solved it for me.

[2022-03-28 05:57] Stadik commented on #10031
Of course thanks, I already had checked 4.1.3rc1 source code, so I thought I probably need to wait for the final release, but then I will test that directly
then.

[2022-03-28 09:38] artemry-nv opened #10168 "prterun -help fails with the error "ompi/share/prte/help-cli.txt: No such file or directory""
Open MPI v5.0.x

[code]

 OS: RHEL 7.x

[2022-03-28 13:04] awlauria commented on #10097
This should be fixed in the v5.0.x branch via the following submodule pointer update: https://github.com/open-mpi/ompi/pull/10161

for master: https://github.com/open-mpi/ompi/pull/10165 (This PR fixes a variety of issues, but updating the submodule here will fix this issue on main).

[2022-03-28 13:04] awlauria commented on #10096
This should be fixed in the v5.0.x branch via the following submodule pointer update: https://github.com/open-mpi/ompi/pull/10161

for main: https://github.com/open-mpi/ompi/pull/10165 (This PR fixes a variety of issues, but updating the submodule here will fix this issue on main).

[2022-03-28 13:06] awlauria commented on #10168
Thanks for the report @artemry-nv . This is actually a dup of: https://github.com/open-mpi/ompi/issues/10097

We'll have this fixed in rc4. The submodule pointer that has these fixes is already in for v5.0.x here: https://github.com/open-mpi/ompi/pull/10161

on main, the pointer update to bring these fixes in is here: https://github.com/open-mpi/ompi/pull/10165

Closing this since #10097 is tracki

[2022-03-28 13:06] #10168 closed

[2022-03-28 13:26] Stadik commented on #10031
@jsquyres I will probably have some time to actually run it tomorrow, but I just had a look into https://github.com/open-mpi/ompi/pull/10144
I can see the case with NULL for descriptor is fixed in **[opal/mca/btl/self/btl_self.c](https://github.com/open-mpi/ompi/blob/1db814b2e112fe5472f9feddc6240f1bf8a2b229/opal/mca/btl/self/btl_self.c):249**
but not in **[opal/mca/btl/smcuda/btl_smcuda.c](https:/

[2022-03-28 19:58] jsquyres commented on #10031
@bosilca It looks like @Stadik may be correct -- there's another assignment to `*descriptor` that doesn't check whether `descriptor` is NULL or not (on main, and therefore not fixed on the release branches, either):

https://github.com/open-mpi/ompi/blob/1db814b2e112fe5472f9feddc6240f1bf8a2b229/opal/mca/btl/smcuda/btl_smcuda.c#L937-L941

Is there a reason that assignment is ok?  Can you have a loo

[2022-03-28 21:54] bosilca commented on #10031
I missed to go through the safety check in that `if`. Patch pending.

[2022-03-28 22:32] janjust opened #10175 "Potential issue in osc/sm"
During onesided debugging we observed strange behavior with _ompi-tests/ibm/onesided/c_win_shared_noncontig_put_ when we're running _ppn > 1_.

The issue happens when ranks call _Win_shared_query()_ on windows of size 0 and check the return base_ptr.

[code]

Interestingly, it seems that in the osc/sm code, the following calls may impact `module->noncontig` variable which is used in a conditional

[2022-03-29 01:19] #10031 closed

[2022-03-29 01:29] jsquyres commented on #10031
* v4.0.x PR: #10177
* v4.1.x PR: #10176
* v5.0.x PR: #10178

[2022-03-29 19:11] gpaulsen commented on #9451
@bwbarrett Is this still an issue?  We could document the workaround for v5.0.0 and fix post v5.0.0 if needed.

[2022-03-29 19:12] awlauria commented on #7830
@jsquyres can we close this?

[2022-03-29 19:14] bwbarrett commented on #9451
I think that the issue remains, yes.

[2022-03-29 19:14] awlauria commented on #9434
Closing as pr's merged.

[2022-03-29 19:14] #9434 closed

[2022-03-29 19:22] #9654 closed

[2022-03-29 19:23] gpaulsen commented on #9654
Fixed in v5.0.x with https://github.com/open-mpi/ompi/pull/10138

[2022-03-29 19:27] gpaulsen commented on #10156
This will be fixed on `main` when submodule pointers are updated, presumably by https://github.com/open-mpi/ompi/pull/10165.

[2022-03-29 19:39] awlauria commented on #10042
Mis-typed the above referenced pr's. They re not related.

[2022-03-29 19:56] drwootton opened #10186 "Multiple failures running collective-big-count tests with OMPI main branch and 'adapt' collective component"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI main branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from current main branch (3/22/22)

###

[2022-03-29 21:43] drwootton opened #10187 "Multiple failures running collective-big-count tests with OMPI main branch and 'han' collective component"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI main branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from current main branch (3/22/22)

###

[2022-03-29 23:37] bwbarrett commented on #10175
This looks more like a question about the info subsystem than osc, and I know nothing about the info subsystem, so I'm not the right person to own this ticket.  @hjelmn and @jsquyres may be able to help.

It looks like (ignoring the info questions), the SM OSC component is working properly.  Unless the SM component detects that the info key "alloc_shared_noncontig" is "true", the component will al

[2022-03-30 01:56] devreal commented on #10175
The registered callback `component_set_alloc_shared_noncontig_info` does not actually change the noncontig value in the module. Instead, it returns `"false"` (because `module->noncontig` is `false` by default), which is then set as the value in the info object. Any further querying of the info key will return false. If, however, you move the the call to `opal_info_get_bool` up (and thus set `modul

[2022-03-30 05:05] bosilca commented on #10186
I got some, maybe most, of them but there are other issues that need a little bit more thinking. There are also few corner cases where one of the processes gets killed by the OOM, and that's something you cannot trap in gdb. I'll push a PR soon for both #10186 and #10187.

[2022-03-30 11:59] Stadik commented on #10031
@jsquyres @bosilca I can confirm latest 4.1.x nightly snapshot https://download.open-mpi.org/nightly/open-mpi/v4.1.x/openmpi-v4.1.x-202203300416-0a8d17c.tar.gz solves the issue I described here above.

[2022-03-30 13:39] drwootton opened #10190 "Multiple failures running collective-big-count tests with OMPI main branch and 'tuned' collective component"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI main branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from current main branch (3/22/22)

###

[2022-03-30 14:16] awlauria commented on #10157
FWIW: I can only reproduce a single duplicate message no matter how many nodes I involve.

The culprit seems to be this commit, added 2 years ago to prrte: https://github.com/openpmix/prrte/commit/d702d8ad502cd1236501a9743cd5624c4fc4f9f7

it's sending the message to the tool and stderr, as opposed to just one or the other.

[2022-03-30 14:31] jsquyres commented on #10157
Nice work tracking it down.

[2022-03-30 14:52] drwootton opened #10191 "Multiple failures running collective-big-count tests with OMPI main branch and 'ftagree' collective component"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI main branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from current main branch (3/22/22)

###

[2022-03-30 18:26] h1z1 opened #10193 "Suggestion: add OpenMPI tag to project"
Not sure where to post this, Github's "search" is severely degenerate but when you search for "OpenMPI" on GITHUB, 99.9% of the results are anything but this repo.  Though it technically wouldn't be able to match on the project name, nor the repository itself.

One suggestion thus is add various tags related to it - "OpenMPI", "openmp" etc along with the "mpi"  topic tags?  Another would be create

[2022-03-30 19:26] bwbarrett commented on #10193
Thank you for the filing the issue.  Surprisingly, none of us had noticed the search issue before.  We've added a tag and that seems to have already changed the search ordering some.

[2022-03-30 19:26] #10193 closed

[2022-03-30 19:45] h1z1 commented on #10193
Can confirm this repo is listed as #1 now :)

[2022-03-30 20:12] bwbarrett commented on #10175
@devreal is there actually any reason to subscribe to an info key like "alloc_shared_noncontig"?  The behavior in question can't change once WIN_ALLOCATE_SHARED returns, since the memory is allocated at that point.  Can't we simplify by just checking the value, doing our allocations, and moving on?  Is there anything we should be doing to reject an attempt to set an info key after the window is cr

[2022-03-30 20:25] devreal commented on #10175
Good question. Looking at the infosubscriber code, it seems like any attempt to update the key is ignored if there are no subscribers. Dropping the subscription in osc/sm should be safe then, the key won't be changed.

[2022-03-31 13:25] awlauria commented on #10155
This is fixed in main by: https://github.com/open-mpi/ompi/pull/10167

[2022-03-31 15:30] awlauria commented on #10142
PR's merged. Closing as fixed in upstream HWLOC and now in internal HWLOC ompi builds.

[2022-03-31 15:30] #10142 closed

[2022-03-31 15:33] awlauria commented on #9833
Pr's merged to master and v5.0.x. Closing.

[2022-03-31 15:42] bwbarrett commented on #7795
Moved the milestone to 5.0 and removed the 4.1.x label; given that OMPIO works for this use case, we're not going to backport significant ROMIO changes into 4.1.x at this point.

[2022-03-31 15:46] #10056 closed

[2022-03-31 15:54] bwbarrett commented on #9123
Moving the target to 5.0.  I think this behavior is much better in 5.0 (ie, UCX will be chosen as the OSC component in the cases where UCX is used with not-TCP).  There's still room for improvement there, but the changes are unlikely to be backported to 4.1.x, given their complexity.

[2022-03-31 15:59] bwbarrett commented on #8763
I'm punting this issue to 5.0; there's little chance it will be fixed in the ramp-down period of the 4.1 series.

[2022-03-31 16:03] bwbarrett commented on #8271
I'm going to close this ticket; at this point, we would not refresh ROMIO in the 4.1.x branch.

[2022-03-31 16:03] #8271 closed

[2022-03-31 16:04] bwbarrett commented on #8829
I'm going to close this ticket; it is highly unlikely that we will fix this issue in the 4.1 series.  The issue does not occur in the 5.0/main series, because of the rewrite of the PMIx configure logic there.

[2022-03-31 16:04] #8829 closed

[2022-03-31 16:05] bwbarrett opened #10205 "v4.1.4 release checklist"
**NOTE:** The Open MPI v4.1.x branch was created after v4.0.5.  Hence, for some of the `git log ...` commands, the `last_release_tag` should probably be `v4.0.5`.

## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gn

[2022-03-31 17:04] awlauria commented on #10175
Pr's merged - I believe this can be closed?

[2022-03-31 17:06] awlauria commented on #10153
@hppritcha I don't think this broke in v5.0.x because the change that broke this only went into prrte master, right?

This should be fixed in an upcoming submodule pointer update to main.

[2022-03-31 17:08] #10175 closed

[2022-03-31 18:36] #9703 closed

[2022-03-31 19:19] hppritcha commented on #10153
correct, not broken in v5.0.x.  Also I didn't think the prrte refactoring that caused this problem will be happening in the prrte v2.1 branch, right?

[2022-03-31 22:51] hppritcha commented on #9193
closed via #9926

[2022-03-31 22:51] hppritcha commented on #8315
Closing this as EOL is in sight for the GNI libfabric provider.

[2022-03-31 22:51] #8315 closed

[2022-04-01 15:08] #10116 closed

[2022-04-01 16:24] awlauria commented on #9974
@albandil I confirmed that the provided test passes in v5.0.0rc4. available here: https://www.open-mpi.org/software/ompi/v5.0/

Please retest, and let us know if you run into any issues.

[2022-04-01 16:24] #9974 closed

[2022-04-01 16:25] awlauria commented on #9933
@janjust can this be closed by: https://github.com/open-mpi/ompi/pull/10196

[2022-04-01 16:26] #9833 closed

[2022-04-01 16:42] hppritcha opened #10210 "OFI MTL - HPE CXI provider problem with synchronous sends"
Running IBM regression test suite using OMPI master and the HPE provided libfabric shows failures that aren't observed using the the OFI MTL with rxm;verbs on a IB cluster:

[code]

The common feature of these tests is the use of MPI_Ssend.  Converting the MPI_Ssend's to MPI_Send causes the tests to pass.

[2022-04-01 17:35] rhc54 commented on #10157
Just FYI: The fix I provided doesn't address the issue of "show_help" messages from the OMPI or OPAL layers (or PMIx for that matter). Those messages don't flow thru the same code path - I believe they go thru the PMIx_Log API, or they may just appear on stderr. So those messages are not aggregated or otherwise handled in the "show_help" manner.

So if you get any show_help messages from those sou

[2022-04-01 20:11] awlauria commented on #10156
This was included in v5.0.x here: https://github.com/open-mpi/ompi/pull/10179

[2022-04-01 20:11] #10156 closed

[2022-04-01 20:13] awlauria commented on #10159
v5.0.x: https://github.com/open-mpi/ompi/pull/10179. Included in rc3.

main still requires a submodule update.

[2022-04-01 21:19] awlauria commented on #10153
Fixed by #10212.

[2022-04-01 21:19] #10153 closed

[2022-04-02 16:11] bwbarrett commented on #9204
What do we propose to do here?  We can't issue a deprecation warning at compile/link time, because there's no practical way to differentiate between a call to a send request vs. a receive request at compile/link time.  We've never issued deprecation warnings during runtime; do we want to do so for this feature?  Given the way some applications capture stdout/stderr, that seems like it could be dan

[2022-04-04 13:31] drwootton opened #10214 "Multiple failures running collective-big-count tests with OMPI main branch"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI main branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from current main branch (3/22/22)

###

[2022-04-04 19:25] SeyedMir opened #10215 "Segfault at thread exit with latest main branch"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Main branch commit 4265e248c

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Installed from git clone.

### If you are building/installing from a git clone, please cop

[2022-04-04 19:28] SeyedMir commented on #10215
@streichler FYI

[2022-04-04 20:06] janjust commented on #9933
Closed with #10196

[2022-04-04 20:06] #9933 closed

[2022-04-04 20:56] david-edwards-arm opened #10216 "Cannot combine ppr mapping with oversubscribe"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
5.0.0rc4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Source tarball

### Please describe the system on which you are running

* Operating system/version: Ubuntu 18

[2022-04-04 21:23] whophil commented on #9617
For what it's worth, I also encounter this issue with OpenMPI 4.1.1 installed from OpenHPC channels (RockyLinux 8.5, Mellanox ConnectX-4).

[2022-04-05 16:45] drwootton opened #10220 "Multiple failures running collective-big-count tests with OMPI v4.1.x branch"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI v4.1.x branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from current v4.1.x branch (3/22/22)

[2022-04-05 17:10] drwootton commented on #10220
There are similar failures with OpenMPI v4.1.x for the test_alltoall_uniform_count, test_gather_uniform_count and test_scatter_uniform_count testcases when running with the **--mca coll adapt,basic,sm,self,inter,libnbc** option.

[2022-04-05 17:30] drwootton opened #10221 "Assertion `reserve > 0' failed running collective-big-count tests using v4.1.x branch and --mca coll adapt,basic,sm,self,inter,libnbc option"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

OpenMPI v4.1.x branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Built from current v4.1.x branch (3/22/22)

[2022-04-05 17:49] drwootton commented on #10220
There are similar failures for all four failing testcases with OpenMPI v4.1.x and using the --mca coll_han_priority 100 --mca coll han,basic,sm,self,inter,libnbc options

[2022-04-05 18:04] drwootton commented on #10220
There are similar failures for all four failing testcases with OpenMPI v4.1.x and using the **--mca coll tuned,basic,sm,self,inter,libnbc** option

[2022-04-05 20:44] klaa97 opened #10222 "master/v5.0.x: missing documentation on MPI_Comm_join/Publish usage (client/server pattern)"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v5.0.0rc4

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installed Open MPI from distribution tarball of v5.0.0rc5 from https://www.open-mpi.org/software/ompi/v5.0/

[2022-04-05 22:50] ggouaillardet commented on #9432
@drew-parsons The root cause is still the same: non blocking MPI-IO collectives are not implemented in Open MPI ROMIO component.
That being said, the default component for MPI-IO is now the "native" `ompio` component regardless the filesystem (the default used to be to fallback on ROMIO on Lustre filesystem, but this is not the case any more).

Is there any reason why you are explicitly requesting

[2022-04-05 23:03] drew-parsons commented on #9432
It's a good question, @dalcini from mpi4py raised it too. @amckinstry might be able to answer.

[2022-04-06 07:18] Janekdererste opened #10223 "Java Segmentation Fault in ping-pong-mpi-tcp"
## Background information
This is related to #10158 . I am opening a separate issue hoping to provide a better example of the error I am seeing.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package,

[2022-04-06 17:50] hppritcha commented on #10210
this was determined to be an issue with the vendor provider.   patch supplied to vendor that fixes the problem.
related to https://github.com/ofiwg/libfabric/issues/7652

[2022-04-06 18:13] ece8264 opened #10225 "Installation stops at configure step"
OpenMPI version: 4.1.3

I tried to install OpenMPI according to the following steps:

$ mkdir $HOME/openmpi
$ cd $HOME/openmpi
3. Copy the .tar.gz file into this directory:
$ cp $HOME/Downloads/openmpi-1.8.7.tar.gz $HOME/openmpi
4. Extract the package and go into the extracted directory:
$ tar -xzvf openmpi-1.8.7.tar.gz
$ cd openmpi-1.8.7
5. Configure and compile (this step may take about 5-10 min

[2022-04-06 18:26] bwbarrett commented on #10225
It would be most helpful if you could attach the config.log generated by that run of configure.

[2022-04-06 18:40] ece8264 commented on #10225
Of course thank you in advance btw it's an immense file I don't know if it's possible to find something there
[config.log](https://github.com/open-mpi/ompi/files/8429536/config.log)

[2022-04-06 19:40] bwbarrett commented on #10225
Well, this is confusing.  My guess is that there's something wrong with your fortran compiler/runtime install, but I have no idea what.  The Fortran compiler was able to compile and run a number of simple programs, but appears to cause a runtime exception when the Fortran open function is called.  This is one of the tests that fails to run:

[code]

I believe that this is a valid Fortran program (

[2022-04-06 19:42] bwbarrett commented on #10225
@ggouaillardet, @jsquyres or one of the other Fortran folks, any ideas?

I don't think they're the problem, but you have a number of binary hardening LDFLAGS set (likely as part of your anaconda environment).  Those are not flags that the Open MPI team regularly builds with.  I don't think any of them would cause this behavior, but it might be worth trying to not set all of the things in your LDFL

[2022-04-06 20:35] hppritcha commented on #9193
this issue was resolved via #9926

[2022-04-06 20:35] #9193 closed

[2022-04-06 21:19] ece8264 commented on #10225
PROBLEM SOLVED !
Once again thank you for diving that deep and proposing a concrete solution to such an obscure issue.
Due to my lack of experience with handling LDFLAGS and many more ... I preferred to simply remove every anaconda3 directory as well as associated hidden files and its directory on the PATH environment variable that probably was the reason that caused configuration step to stop wit

[2022-04-07 14:34] jsquyres opened #10233 "PLATFORM_COMPILER_GNU not defined on macos"
Getting a zillion of these when compiling main/HEAD on macos:

[code]

I have not checked, but I presume that this is also an issue on v5.0.0.

I don't have time to investigate at the moment; wanted to file this to make sure it wasn't lost.

[2022-04-07 14:48] awlauria commented on #10155
v5.0.x: https://github.com/open-mpi/ompi/pull/10227

[2022-04-07 14:49] #10097 closed

[2022-04-07 14:50] awlauria commented on #10096
PR's merged. Closing. This (*I think*) made it into v5.0.0rc4, but if not will definitely be in v5.0.0rc5.

[2022-04-07 15:36] jsquyres commented on #10233
Hey @devreal -- looks like this came from 935ee76461f, which was your commit.  Any idea what's happening here?

[2022-04-07 15:37] gpaulsen commented on #10233
I'd hit this last week, but somehow it went away.  My solution was to change the `#if` to a `#if defined()`, but I didn't PR it since after a MAC OS update/brew update (something) it seemed to go away.  Let me try to reproduce again today.

[2022-04-07 15:41] gpaulsen commented on #10233
I rebased and pushed my potential PR to my fork here: https://github.com/gpaulsen/ompi/tree/topic/main/fix_annoying_mac_warning

[2022-04-07 15:46] jsquyres commented on #10233
@gpaulsen Do you have another issue or PR open already?

[2022-04-07 15:48] gpaulsen commented on #10233
no.

[2022-04-07 16:10] jsquyres commented on #10223
Forgive me; I'm fairly ignorant of Java.  I tried to replicate the problem, but I notice that when I run the `mpi.sh` from the https://github.com/mboysan/ping-pong-mpi-tcp project, it downloads an Open MPI jarfile for v4.0.1.

How do I get it to use my local Open MPI Java install?

[2022-04-07 16:40] gpaulsen commented on #10233
I confirmed this is still an issue for me as well.  Testing my branch now, and will PR if it looks good.

[2022-04-07 16:50] acgoldma opened #10235 "ROMIO fails to build if level_zero is installed"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

https://github.com/open-mpi/ompi/pull/10224

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

I was attempting to bu

[2022-04-07 18:00] #10155 closed

[2022-04-07 19:04] #10233 closed

[2022-04-07 20:32] #10225 closed

[2022-04-07 20:48] hppritcha opened #10243 "clang not happy building Open MPI when UCX present"
I'm noticing that with the AMD AOCC compilers (clang) based, that the linker is pickier than gnu with respect to undefined symbols in share libraries:

[code]

The problem is not in Open MPI but in the contents of the ucx.pc file.  Opening here in case other's hit this problem and are googling.

This problem was observed with ucx 1.11.0

A workaround till the ucx.pc file is fixed is to add LDFLAGS

[2022-04-07 20:56] bwbarrett commented on #10243
That doesn't seem like the right fix.  The right fix should be to add something to LIBS.

[2022-04-07 21:03] hppritcha commented on #10243
That doesn't make sense to me.  I'd want my package to have a correct contents.  It appears this was revamped in ucx master branch.

For ucx master
[code]
returns
[code]
unfortunately this doesn't appear in 1.12.1.

[2022-04-07 21:08] bwbarrett commented on #10243
Sorry, poor phrasing.  The right fix is for UCX's pkg-config module to return the libraries that contain public APIs (and if we call things that aren't ipublic APIs, shame on us).

I meant that the workaround doesn't sound right.  We shouldn't set `LDFLAGS="-Wl,--allow-shlib-undefined"`, but we should set something like `LIBS=-lucm` (plus whatever other libraries are missing).

[2022-04-07 22:21] shijin-aws opened #10244 "MTT ibm one-sided test failures for ompi v5.0.x"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v5.0.x branch

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

[code]

Part

### If you are building/installing fro

[2022-04-08 00:16] jsquyres opened #10245 "Default mpirun behavior for Java apps incorrect if PRTE libdir != OMPI libdir"
See https://github.com/openpmix/prrte/issues/1335 for details.  Filing this here just to track it on the OMPI side.

This is a regression compared to v4.x (because ORTE handled this in v4.x, but now this functionality is in PRTE, and therefore PRTE's libdir could be different than OMPI's libdir -- and therefore `mpirun` won't add the right libdir to the Java classpath).

[2022-04-08 04:10] jsquyres commented on #189
This issue can be closed when #8057 merges.

[2022-04-08 07:00] hoopoepg commented on #10243
hi
could you run ```make V=1``` command to get linker arguments and provide output? it seems something wrong in libs sequence in linker...

[2022-04-08 09:43] Janekdererste commented on #10223
Thank you very much for trying it out. This is a little tedious, unfortunately.

The jar has to be in some kind of maven repository. You could create a local maven repository like this:
[code]
ArtifactId, groupId and version can be chosen how ever you like

Then in the [pom.xml](https://github.com/mboysan/ping-pong-mpi-tcp/blob/master/pom.xml), the local repository needs to be added to the [```<re

[2022-04-08 13:14] awlauria commented on #10216
Thanks for the report. This is fixed in prte master by:
https://github.com/openpmix/prrte/commit/6284d3445c744bcb8d0ba9e439f980127a53ec53
and
https://github.com/openpmix/prrte/commit/317d42eec4573f6f563c667ca048e76e2504f2ce

They are on track to be in the next rc - rc6.

[2022-04-08 13:22] jsquyres commented on #10223
Thanks!  Let me give this a whirl.

[2022-04-08 13:54] awlauria commented on #10215
I am unable to reproduce. Are you using an external HWLOC installation perchance?

Can you share a backtrace of the segv (compiling with -g).

[2022-04-08 14:06] hppritcha commented on #10243
the issue is in what’s returned from

pkg-config –libs ucx

That’s how Open MPI is determining which UCX libs to add to the link line.

 It appears that at some point someone added in functions into opal/mca/common/ucx that requires the ucm lib.  Also, there seems to be pickiness with clang’s linker selection that brings out this problem.  I don’t see this with the gnu compilers I’m using.

My wor

[2022-04-08 17:41] RCagnol opened #10251 "Calling python script with mpirun within a pytest does not work"
Hello,
I report an issue  similar to https://github.com/open-mpi/ompi/issues/6773, except that in my case this issue occurs only when I run a python script with mpirun within a pytest, so I thought that creating an new issue would not be a duplicate.

After creating the two files coder.py and parallel.py just as in issue 6773 python coder.py, running
`python coder.py`

Gives the expected output:
[

[2022-04-08 18:49] SeyedMir commented on #10215
I build with `--with-hwloc=internal` and I tested on another system and got the same segfault.
This is the backtrace I get:
[code]

[2022-04-08 18:58] bwbarrett opened #10252 "main/v5.0: mpirun issues finding prterun"
This is a spin-off from https://github.com/open-mpi/ompi/pull/10224.  There are a couple of issues with mpirun finding the underlying prterun today.  This issue tracks the required fixes:

1) First, there's a typo in ompi_setup_prrte.m4 which causes us to set the search path wrong
2) Second, when that goes wrong, the error message around prterun not found is wrong.  YOu'll see something like:

[co

[2022-04-08 21:27] shijin-aws commented on #10252
One interesting thing I observed is I get different results when using absolute path or relative path to kick off `mpirun`:

[code]

[2022-04-08 21:35] bwbarrett commented on #10252
yeah, i understand what's happening.  It's broken; going to take some time to figure out how to fix it.

[2022-04-08 22:26] shijin-aws commented on #10252
I think the issue is here: https://github.com/open-mpi/ompi/blob/main/ompi/tools/mpirun/main.c#L88-L101

If prefix is given, the code use the same ompi prefix to find prterun, but for external prte build it shouldn't? I added this patch

[code]
Then the error is mitigated.

[2022-04-08 22:55] bwbarrett commented on #10252
Your patch probably works, but just papers over the core problem, which is that the logic about picking the path is wrong.  And even if it was right, it highlights that everything else about setting the prefixes and behaviors is wrong.  I'm working on a proposal for what the code should do, because we're so far off from logical behavior that it's not worth looking at code until we agree on a desir

[2022-04-09 00:25] shijin-aws opened #10254 "v4.1.x: Multi NIC functionality is not working"
We have observed that the multi-nic support is broken since Open MPI 4.1.2 release.

On a EC2 P4d instance with 4 EFA NIC attached, for Open MPI 4.1.1, 4 EFA NIC can be detected by mtl ofi

[code]

While since Open MPI 4.1.2 release, only 1 efa NIC can be detected by mtl ofi:

[code]

Same issue for Open MPI 4.1.3 release and v4.1.x branch

[2022-04-09 00:29] shijin-aws commented on #10254
AWS contributed the https://github.com/open-mpi/ompi/pull/8176 to support multi NIC in v4.1.x initially and will volunteer to debug this issue.

[2022-04-09 01:00] shijin-aws commented on #10254
5.0.x and main have the same issue.

[2022-04-09 12:12] jsquyres commented on #10223
@Janekdererste Thanks for the instructions -- with that, I got the ping pong to compile and run.

Unfortunately, it runs successfully for me.  However, I see that you're using UCX.  I wonder if there's some kind of conflict here with registered memory for InfiniBand...?

@open-mpi/ucx Can you please have a look at this?  **NOTE:** While the same issue undoubtedly exists in main/v5.0.x, be aware of

[2022-04-09 15:34] bwbarrett commented on #10252
The core problem with the mpirun wrapper is that we don't seem to have a clear plan around handling prefix behavior.  There are two cases in play: pmix/prrte built as part of OMPI and pmix/prrte built outside OMPI.

In the built-in case, the behavior of the prefix behavior is relatively straight forward, in that the paths are all the same.  So if mpirun had a `--prefix` argument, was called with w

[2022-04-10 15:15] yosefe commented on #10223
@Janekdererste can you please try without ucx (replace "--mca pml ucx" by "-mca btl tcp")?
@jsquyres how do the Java OpenMPI bindings work in the sense of making sure the buffer virtual address is not moved before a non-blocking MPI request is completed?

[2022-04-10 21:41] jsquyres commented on #10223
@yosefe IIRC, the Java bindings use some sort of special type of Java buffer that is effectively pinned.

[2022-04-11 02:26] ggouaillardet commented on #10223
@Janekdererste  in order to force `btl/tcp` you will need to
[code]

[2022-04-11 02:53] ggouaillardet commented on #10251
Do you invoke `pytest` inside a SLURM allocation?

FWIW, I am able to run the test on an ubuntu 20.04 virtual machine with the distro Open MPI / mpi4py / pytest

[2022-04-11 04:16] RCagnol commented on #10251
Invoking it inside or outside a SLURM allocation produces the same behavior.

Thank you for your answer, it's good to know you're able to run it on your side.

[2022-04-11 12:50] jsquyres commented on #10223
@Janekdererste While researching this issue, I also updated the Java Open MPI docs.  I came across this statement in the docs:

Does your app (and/or this sample ping-pong app) use any non-blocking MPI methods?  If so, are direct buffers used?

[2022-04-11 12:59] jsquyres commented on #10254
Updated the title to clarify that this is specific to the OFI MTL.

[2022-04-11 13:08] Janekdererste commented on #10223
I hope this information helps:

@jsquyres  said:

I also tried to run this on a cluster with an Omnipath network. This yields the same errors.

@jsquyres  said:

When I try to run the example with my local installation (WSL - Ubuntu 20.04) everything works fine.

Also, I tried to call the ompi-c-api directly via Java's Foreign Function & Memory Api. (This api is still in incubator state, but I tho

[2022-04-11 14:23] jsquyres commented on #10210
@hppritcha This was merged upstream.  What do you want to do with this issue?

[2022-04-11 14:24] hppritcha commented on #10210
HI Jeff, what was merged upstream?  Something in OFI libfabric?

[2022-04-11 14:35] jsquyres commented on #10222
Good point.  I just added this to the docs to-do list in #10256.  If you'd like to add this to the upcoming v5.x docs, please feel free to open a PR!

[2022-04-11 14:38] jsquyres commented on #10210
@hppritcha My mistake -- I looked at https://github.com/ofiwg/libfabric/issues/7652 too quickly.  Disregard my above comment...

[2022-04-11 14:43] jsquyres commented on #10221
@drwootton Were any of these issues fixed on main and could be back-ported to the v4.0.x / v4.1.x branches?

[2022-04-11 19:08] jsquyres commented on #10254
@shijin-aws We're likely to do a v4.1.4 in the _very near future_ (because we already have an upgrade issue that is driving a v4.1.4 release).  Will you have a fix for this in the _very near future_?  I ask because I don't know what the timing for v4.1.5 will be -- at least several months from now.

[2022-04-11 19:28] janjust commented on #7813
@bjpalmer are the tests designed to work with a certain number of ranks? Do they work with PPN>2 or NP>4 ?

[2022-04-11 19:35] bjpalmer commented on #7813
The code in the develop branch is reasonably stable, but it is development. The master branch reflects actual releases, so for your purposes, it may be the one you want to use. The standard configuration for running the test suite is to run on two SMP nodes, 2 processes per node for a total of 4 nodes.

[2022-04-11 19:36] drwootton commented on #10221
@jsquyres I did not see this failure in any tests with the main branch other than once in test-allgather-uniform-count, so the problem may be fixed in main. I don't see any failures with the main branch for either test-bcast-uniform-count and test-reduce-uniform-count. I see the same (or very similar) failure for test-reduce-uniform-count in issue #10186. I can't tell if the problem is fixed for t