[2020-11-30 17:17] zhngaj commented on #8225
The current PMIx's [configure.ac](
https://github.com/open-mpi/ompi/blob/v4.1.x/opal/mca/pmix/pmix3x/pmix/configure.ac#L269-L270) will write hwloc as `Requires` in created pmix.pc.

[code]

I enabled verbose ouput during rpmbuild, I can see that pkg-config was invoked to process all *.pc files to query `requires` information. As shown in the snippet below, pkgconfig(hwloc), pkgconfig(libevent), an

[2020-11-30 17:20] jsquyres commented on #8257
I don't know if I fully understand what you mean.

You can certainly make a `/etc/hosts` file with multiple different hostnames and different IP addresses, where the IP addresses correspond to the public IP address for remote peers (I'm assuming that each peer has the same private IP address but different public IP addresses, where "public" is loosely defined as "public within the scope of your ho

[2020-11-30 17:22] rhc54 commented on #8225
Sounds reasonable - you want to open a PR against openpmix master for us?

[2020-11-30 17:24] #8257 closed

[2020-11-30 18:48] zhngaj commented on #8225
Sure.

[2020-11-30 21:12] rzambre commented on #8179
@thananon just a friendly reminder about this. Could you provide me with things I could try to check what the error is?

[2020-11-30 23:05] zhngaj commented on #8225
openpmix master and v3.2 branch have different places and values assigned to`pmix_hwloc_source` in case of embedded mode.
For master branch, it's src/mca/ploc/hwloc/configure.m4 [link](https://github.com/openpmix/openpmix/blob/master/src/mca/ploc/hwloc/configure.m4), and `cobuild`; while for v3.2 branch, it's config/pmix_setup_hwloc.m4[link](https://github.com/openpmix/openpmix/blob/v3.2/config/pm

[2020-12-02 00:01] zhngaj commented on #8225
PR merged, close.

[2020-12-02 00:01] #8225 closed

[2020-12-02 16:51] bodgerer commented on #6871
I no longer have access to the original system, but ROMIO on a power9 system seeing the same problem on openmpi 4.0.5 is fixed by this pull request:

https://github.com/open-mpi/ompi/pull/3975

See:

https://www.mail-archive.com/users@lists.open-mpi.org//msg34187.html

[2020-12-03 15:39] jsquyres opened #8264 "All TYPE(MPI_Foo) types need to be in the "mpi" module"
While proofing the MPI 4.0 RC document, I came across this gem in the appendix:

[code]

I thought that this was a mistake (i.e., that they have to be in both `mpi_f08` *and* `mpi`), but then I see in 19.1.3 where we discuss the requirements of the `mpi` module:

* Define the derived type `MPI_Status` and all named handle types that are used in the `mpi_f08` module. For these named handle types, o

[2020-12-04 02:19] davetaflin opened #8266 "Apparent bug in MPI_File_seek() using MPI_SEEK_END"
Thank you for taking the time to submit an issue!

## Background information
The scenario is that a program wishes to append data to the end of a file that has been opened using MPI_File_open(). Attempting to position the file pointer to the end of the file using MPI_File_seek(fileHandle, 0, MPI_SEEK_END) surprisingly places the file handle at position 0x400000 instead of the end of the file.

###

[2020-12-04 02:20] davetaflin commented on #8266
Apparently embedding the gist didn't work. Here's a web link: https://gist.github.com/davetaflin/8841e22ad9cd7584249e613cadd3ea2f

[2020-12-04 04:02] ggouaillardet commented on #8266
@davetaflin First, there is a race condition in your program. You have to `MPI_Barrier(MPI_COMM_WORLD)` after `MPI_File_write(...)` in order to fix it.

Also, I am not even sure this program is correct since it implicitly assumes that when one rank increase the file size, all other ranks are immediately made aware of the new file size. This is likely true on a local filesystem, but I would not bet

[2020-12-04 09:40] hakostra commented on #7795
For reference: I just encountered the same error on a system with GPFS filesystem as well, with OpenMPI 4.1.0-rc1.

[2020-12-04 16:00] edgargabriel commented on #8266
@ggouaillardet you are probably right, the file size might not be the same on all processes. The part that is confusing me  is that for SEEK_END we do actually exactly the same thing internally as the workaround in the code

--snip---
''' case MPI_SEEK_END:
        ret = data->ompio_fh.f_fs->fs_file_get_size (&data->ompio_fh,
                                                     &temp_offset2);

[2020-12-04 21:08] rajachan opened #8268 "orted crash with v4.0.5 and BUILTIN_GCC (GCC v7.3.1)"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

RPM built from the internal spec file.

### If you are buil

[2020-12-04 21:18] rhc54 commented on #8268
I'm unaware of any problems down in there, but that doesn't mean something couldn't exist. The issue in the opal thread sounds very suspicious, however, especially if it works using different atomics.

[2020-12-04 23:43] davetaflin commented on #8266
Adding MPI_Barrier() after the parallel write (before the block executed only by rank 0) made no difference. I added a couple print statements inside that block:

#else // This doesn't work:
        MPI_File_get_size(fileHandle, &mpiOffset);
        std::cerr << "Reported file size: " << mpiOffset << std::endl;
        mpiOffset = 0;
        MPI_File_seek(fileHandle, mpiOffset, MPI_SEEK_END);

[2020-12-05 09:29] ggouaillardet commented on #8266
@davetaflin thanks for the update, this clearly deserves an investigation.

@edgargabriel

things do not go as (naively) expected in `mca_io_ompio_file_get_eof_offset()`

I noted

[code]

I let you establish whether there is indeed a bug here, or if the issue is the user did not set an appropriate view.

[2020-12-05 16:05] jzhang82119 opened #8269 "mpirun not working"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.0.4rc3

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

from the following package
hpcx-v2.7.1-gcc-MLNX_OFED_LINU

[2020-12-05 19:39] jzhang82119 commented on #8269
installed nvidia fabric manager. Now it is working.

[2020-12-05 19:39] #8269 closed

[2020-12-06 14:05] jwagnerhki opened #8270 ""no-slot-list" missing from help-rmaps_rank_file.txt"
## Background information

[code]

[code]

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v1.10.7

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Rocks, but also checked out tag v1.10.7 from git

## Details of the problem

There is a refer

[2020-12-07 14:24] awlauria commented on #8270
Hi - can you try adding `slots=` as described here:
https://www.open-mpi.org/doc/v4.0/man1/mpirun.1.php#sect10

I get the same as you do without it on a more modern 4.x branch, but with it it works. That said, I'm not positive if not specifying slots is supposed to work - if not a better error message would certainly be helpful.

[code]

[2020-12-07 15:00] hppritcha commented on #8252
This has also been mentioned on the user mail list - https://www.mail-archive.com/users@lists.open-mpi.org//msg34206.html

[2020-12-07 15:39] rhc54 commented on #8270
Errrr...we really don't support v1.10 any longer - it is way too old. Any chance you could update to a more modern version?

As @awlauria Mentioned, the more modern version may still require a slots= entry. I don't know why the rank-file mapper requires it, but should we choose to change that requirement, the change definitely won't go back as far as v1.10.

[2020-12-07 15:43] awlauria commented on #8270
Yeah any fixes for this would go into 4.x/master/5.0.

It's not clear from the wiki if this is supported without `slots=`. But as Ralph mentioned there's probably no reason why it couldn't be.

[2020-12-07 20:48] jsquyres opened #8271 "Update ROMIO in v4.1.x branch"
Due to several ongoing discussions (see #8249, for example), we're almost certainly going to upgrade ROMIO in the v4.1.x branch.

It may or may not be in time for v4.1.0, but I'm filing this issue so that it stays on our radar.

[2020-12-07 22:00] wzamazon opened #8274 "random MPI_Init() failure on ARM64 cpu (graviton 2)"
Thank you for taking the time to submit an issue!

## Background information
When running Open MPI on graviton 2 cpu (ARM based), open mpi would randomly fail with the following error message:

[code]
### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a g

[2020-12-07 22:09] wzamazon commented on #8274
I did some debugging and the following is what I have found so far:

1. The error happened inside function ```ompi_interlib_declare()```, which is in file ```ompi/interlib/interlib.c```.

The following is a snippet related to this issue:

[code]

My understanding is: ompi try to register an event handler ```model_callback``` with pmix for an event. It also provided a callback function for the regi

[2020-12-08 00:37] ggouaillardet commented on #8274
Thanks for the report and analysis!

It makes perfect sense to me: ARM has a weak memory model (aka weakly consistent memory model aka relaxed memory model).

I believe the right way to do this in Open MPI is to call the "portable" `opal_atomic_mb()` (memory barrier), or maybe `opal_atomic_wmb()` (write memory barrier).

You are very welcome to issue a PR (the commit must be signed-off, please mak

[2020-12-08 01:10] wzamazon commented on #8274
@ggouaillardet

Thank you!  I will open PR for this.

[2020-12-08 02:04] wzamazon commented on #8274
Opened https://github.com/open-mpi/ompi/pull/8275.

Two more findings:
1. I found another place which has the same issue, and fixed it too.
2. master branch does not have this issue because it uses OPAL_PMIX_WAKEUP_THREAD instead of ```trk->active```.

[2020-12-08 03:54] bosilca commented on #8274
This is really unexpected in a single threaded execution, because the memory ordering should not have an impact there. Is this happening between multiple threads?

[2020-12-08 03:57] wzamazon commented on #8274
I am not too familiar with the code, but my understanding is that this is between two threads.

[2020-12-08 16:01] rhc54 commented on #8274
Yes, it is between two threads - the upcall from the PMIx progress thread and the transfer to the main OPAL thread.

[2020-12-09 20:57] fm-dewal opened #8278 "Received msg header indicates a size that is too large - ptl_base_max_msg_size"
## Background information
Successfully able to run a 60k replica hello_c example across 1024 hosts with 60 slots-per-host.

In same environment, attempting to run a ~100k replica hello_c example across 1024 hosts with 128 slots-per-host.

### What version of Open MPI are you using? Describe how Open MPI was installed
I have Open MPI version 4.0.5 installed in my docker images.
Installation done us

[2020-12-09 21:47] rhc54 commented on #8278
The "ptl" referenced her is inside the PMIx code - the one referenced in the OMPI FAQ is a very old thing long gone from OMPI code. The message more than likely indicates a mismatch between OMPI versions somewhere - it is highly unlikely that PMIx would pass a message of more than a few kilobytes. I'd check to ensure you aren't picking up some incorrect library version.

[2020-12-09 22:41] fm-dewal commented on #8278
I am using docker based containers as hosts for my openMPI jobs.
The image are shared using a local registry and validated to be same same across all servers.
I hope, this helps ensure the match between OMPI versions.

As stated in the initial description, the 60k ranks job works successfully.

Further, the following observations were also made:
The "Requested size" provided in the error message v

[2020-12-10 12:54] ggouaillardet commented on #8271
see my latest attempt (to be finalized) in #8279

[2020-12-10 15:57] rhc54 commented on #8278
Try the following with just one instance - i.e., don't launch 1024 nodes with 128 ppn, just launch 1 node with 1 ppn. Set `PMIX_MCA_gds_base_verbose=10` so we can see what storage mechanism PMIx is using on your setup.

[2020-12-10 17:52] fm-dewal commented on #8278
Hi Ralph,
Thank you for the suggestion.
Based on your suggestion, here is the output received on running just one instance

$ echo $PMIX_MCA_gds_base_verbose
10
$ mpirun -n 1 ./hello_c.o
[docker_cntnr:00931] mca: base: component_find: searching (null) for gds components
[docker_cntnr:00931] mca: base: find_dyn_components: checking (null) for gds components
[docker_cntnr:00931] pmix:mca: base: comp

[2020-12-10 19:20] rhc54 commented on #8278
Hmmm....it all looks okay. I'm struggling to understand why a PMIx message would get so large. We store the data in a shared memory region, so the message from the server to any client is only a few kilobytes to tell it where the shmem region sits. You don't appear to be using the "hash" support which would entail the server sending all the data to each client.

You are welcome to try with a large

[2020-12-11 00:31] fm-dewal commented on #8278
Since using the PMIX_MCA_ptl_base_max_msg_size=30, I no longer encounter the  ptl_base_max_msg_size error. However, the job still fails. To help digest the error messages better, I have divided them into 4 parts.
Please let me know if you have suggestions on how to tackle these errors.
Thank you for your time and expertise.

Part 1:

[root@server:./logDir]# cat stderr.log | grep -v -E 'PMIX|\*\*\*

[2020-12-11 15:05] wzamazon commented on #8274
PR has been merged to both v4.1.x and v4.0.x branch. Closing ...

[2020-12-11 15:05] #8274 closed

[2020-12-11 16:25] #8259 closed

[2020-12-11 17:45] fm-dewal opened #8282 "How to improve orted wireup and connection"
## Background information
During a performance analysis, it is observed that orted processes take ~30 seconds from time of creation to establishing connectivity with the mpirun process.

Setup: Cluster of 1024 docker hosts with OpenMPI installed, launched on 13 physical servers.

### What version of Open MPI are you using? Describe how Open MPI was installed
I have Open MPI version 4.0.5 installed

[2020-12-14 01:46] cpmech commented on #6620
Unfortunately, same problem here.

More details (and working code+cmake): https://github.com/cpmech/test-openmpi-valgrind

[2020-12-14 15:06] jsquyres commented on #6620
Looks like we missed a cleanup somewhere.

Can you try with the latest Open MPI v4.0.x and/or v4.1.x RC (or corresponding heads of git branches)?

Additionally, if you configure Open MPI with `--disable-dlopen`, then Open MPI's plugins will be slurped up into their respective shared libraries (e.g., the MPI layer plugins will be slurped up into libmpi.so), which will allow Valgrind to resolve the

[2020-12-14 15:17] jsquyres commented on #8282
Also see the discussion on #8278.

[2020-12-14 15:17] jsquyres commented on #8278
Also see the discussion on #8282.

[2020-12-14 15:36] rhc54 commented on #8282
Few thoughts here:

* fwd_mpirun_port really isn't going to do any good here as you are using ssh to start the various daemons. Best to take that off
* orte_enable_recovery does nothing at this time
* should add pmix_base_collect_data false

You may be running up against the limits of what you can do with Docker - you are starting a fair number of containers on each node, and there is overhead due

[2020-12-14 16:13] jsquyres commented on #8282
Also take note of how much oversubscription you're doing: you mention 1024 docker hosts on 13 physical servers.  That's 78.7 dockers per host (this issue doesn't specify how many MPI procs you're starting in each docker instance), and unless you have giant machines, you must be oversubscribing.  With all the virtual networking and context switching due to oversubscription, 30 seconds might not be

[2020-12-14 20:34] jsquyres commented on #8040
@hppritcha Did this get fixed?

[2020-12-14 20:35] jsquyres commented on #8040
Actually, per @hppritcha's last comment, it looks like he can use `--enable-mca-no-build`, and that's good enough.  Closing.

@hppritcha Please re-open if I'm incorrect.  Thanks!

[2020-12-14 20:35] #8040 closed

[2020-12-14 20:50] jsquyres opened #8285 "Fix allocation issue in coll_base_scatter.c"
PR was filed for master in #8283.

Filing this issue because we'll also need the fix for v4.0.x and v4.1.x.

[2020-12-15 02:01] fm-dewal commented on #8282
Hi Raplh,
Could you provide some pointers on how to optimize launching of daemons using the fwd_mpirun_port?
Is there an RPC which could experience enchanced performance when using this functionality?
https://www.open-mpi.org/faq/?category=all#reducing-startup-time

Thank you for the suggestions.

[2020-12-15 02:07] fm-dewal commented on #8282
Hi Jeff,
Yes, acknowledged. There is a significant amount of over-subscription going on.
Good to know.

[2020-12-15 02:46] cpmech commented on #6620
Hi there, thanks for your time.

I've compiled OpenMPI from the GitHub repo (recent/main branch) with `./configure --prefix=/usr/local --disable-dlopen` and still get warnings from Valgrind (on my Ubuntu 20.04.1); mostly from `libnvidia-opencl.so`.

I've also created a "self-sufficient" Docker image to test it:

[code]

So, I build the image and run the test with:

[code]

And get this output:

[c

[2020-12-15 02:58] rhc54 commented on #8282
It is only of help when launching in managed environments such as Slurm or ALPS. When launching via ssh/rsh, we use a tree-based spawning pattern and the messages all flow along the tree, so no benefit from forwarding the mpirun port.

[2020-12-15 08:54] patrick-legi opened #8290 "Memory leak with openib component when using MPI_AllToAllW"
Thank you for taking the time to submit an issue!

## Background information
Using MPI_type_Create_SubArray and MPI_AllToAllW show a memory leak with openib component.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
OpenMPI 3.1 and OpenMPI 4.0.5.
OpenMPI 1.10 works fine.

### Describe how Open MPI was installed (e.g., from a source/distribution t

[2020-12-15 14:18] jsquyres commented on #8290
See also the thread on the mailing list that led up to this issue: https://www.mail-archive.com/users@lists.open-mpi.org/msg34197.html

[2020-12-15 14:52] jsquyres commented on #8282
If you care, I wrote a pair of blog articles about this several years ago:

* https://blogs.cisco.com/performance/tree-based-launch-in-open-mpi
* https://blogs.cisco.com/performance/tree-based-launch-in-open-mpi-part-2

[2020-12-15 14:58] jsquyres commented on #6620
I note that those are leaks in the PRTE process (i.e., `mpirun`), not the MPI process itself.

These are definitely leaks on Open MPI master, not the v4.0.x branch (as stated in the report).

I know it's a weird distinction, but on Open MPI master (what will eventually become v5.0.x), `mpirun` is really a 3rd party project called PRTE: https://github.com/openpmix/prrte/.  It would be best to repor

[2020-12-15 17:14] artpol84 commented on #8252
@brminich
[code]
Do you have any insights?

[2020-12-15 17:21] brminich commented on #8252
@naughtont3, can you please check whether setting `UCX_IB_ENABLE_CUDA_AFFINITY=n` helps to resolve the issue?

[2020-12-16 00:11] cpmech commented on #6620
Alright, understood. I'll send them a message. Thanks again.

[2020-12-16 15:20] christoph-conrads opened #8292 "mpirun `--do-not-launch` flag causes request to file bug report"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

(ISA is x86-64 unless shown otherwise)

| OS | OpenMPI Version | Exhibits problem? |
| -- | -- | -- |
| CentOS 8 | 4.0.2 | yes |
| Debian 9 (i386) | 2.0.2 |
| Debian 9 | 2.0.2 |
| Debian 10 | 3.1.3 | yes |
| Ubuntu 18 | 2.1.1 |
| Ubuntu 20 | 4.0.3 | yes |

### Describe how

[2020-12-16 18:04] hppritcha opened #8294 "segfault in ompi_mpiinfo_init on master under certain conditions"
Turns out that with master at  3f6877b5, ompi_mpiinfo_init segfaults while trying to set the ```host``` key's value when one sets OMPI_MCA_pml=XXX or uses --mca pml XXX on the mpirun command line.

I'm observing this in a slurm environment.  For some reason, the PMIX_HOSTNAME value is not being retrieved in ompi_rte_init.

PMIx returns
[code]
However, there's really a more basic problem.  Within o

[2020-12-17 19:10] loveshack commented on #8252
I found that using the UCX v1.10.x development branch avoids the error in question.  It gets me through around two thirds of mpich's mpi/rma/testlist test cases, and half the testlist.gpu ones, but that still doesn't seem satisfactory. (Also on ac922s, unfortunately.)

[2020-12-18 09:38] angainor opened #8299 "[Q] srun + OpenMPI MPI_Comm_split_type"
I'm having trouble using `MPI_Comm_split_type` for in-node splits with custom `OMPI_COMM_TYPE_*`. Everything works fine when I run with `mpirun`, but the same code doesn't work with `srun`.  Is this supposed to work, or are there some limitations I'm not aware of? I'm trying with OpenMPI 4.0.3 and 4.0.5, Centos 7.7 with Slurm 19.05, stock hwloc 1.11 (but I also tried to compile OpenMPI with hwloc

[2020-12-18 18:18] hppritcha commented on #8294
Did more digging into the PMIX_HOSTNAME issue.  Turns out its connected to using

--prtemca ras_base_launch_orted_on_hn true

or not.  On Cray systems this mca parameter is set to true by default to allow for access to the HSN.
If I set this parameter to false, then the pmix clients successfully retrieve the PMIX_HOSTNAME value, if true, get PMIX not found error.

Yes the mca parameter is in fact

[2020-12-18 18:36] tnorlund opened #8301 "Open MPI in Xcode"
I'm having trouble running Open MPI in Xcode. I can execute it just find, but when calling `MPI_Init(NULL, NULL);`, I get an error: `Failed to retrieve device information! Invalid enumerated value!`.

# Setup
I used Homebrew to install Open MPI. I then used `pkg-config` to find the libraries, headers, and linker flags required:

[code]

From here, I added the header and libraries.

<img width="151

[2020-12-18 20:09] jsquyres opened #8303 "v4.1.1 Release Checklist"
**NOTE:** The Open MPI v4.1.x branch was created after v4.0.5.  Hence, for some of the `git log ...` commands, the `last_release_tag` should probably be `v4.0.5`.

## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gn

[2020-12-18 22:02] jjhursey opened #8304 "ORTE SEGV when launching with static ports"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1 [HEAD](https://github.com/open-mpi/ompi/commit/5955da99f756562b2299787387c008aa30b45668)

I confirmed that this is a problem in the following branches: `v4.1.x`, `v4.0.x`, `v3.1.x`

The `v3.0.x` branch seems to work, as does `master`

### Describe how Open MPI was ins

[2020-12-18 22:10] jjhursey commented on #8304
Note to self: The [orte_util_build_daemon_nidmap](https://github.com/open-mpi/ompi/blob/v3.0.6/orte/util/nidmap.c#L99) function is what we probably need to port to the `regx/base`.

[2020-12-18 23:11] hppritcha opened #8305 "OFI MTL: ring_c and connectivity_c hang when using PSM2 provider"
In doing some sanity checks of the OFI support in various releases I noticed that the PSM2 provider no longer works on the master and v4.1.x branches.

[code]

master (and probably 4.1.x) does work with the GNI and verbs:rxm providers.
v4.0.x works nominally with the psm2 provider

[2020-12-18 23:13] rajachan commented on #8305
master and 4.1.x work with the EFA provider too.

[2020-12-19 18:51] jsquyres commented on #7801
It took us a long time to get here, but it finally happened.

![happy-dance](https://user-images.githubusercontent.com/617316/102697129-54339800-4201-11eb-89a3-41a4c3a7290a.gif)

[2020-12-19 18:51] #7801 closed

[2020-12-19 18:53] jsquyres commented on #7437
Cross-reference this against #7740.

[2020-12-20 19:15] chenrui333 opened #8306 "open-mpi 4.1.0 build failure (AVX)"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

open-mpi 4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Install process detailed in [this formula](https://

[2020-12-20 19:17] chenrui333 commented on #8218
Same error seen in 4.1.0 release build.

[code]

reported a separate issue, #8306

[2020-12-20 22:43] bosilca commented on #8306
The detection of the supported architecture features is extremely fragile, and we are at the mercy of the compiler because there is no portable way to specify exactly what architectural features we want/need. In this particular case I suspect the clang compiler used in your bottle has an incomplete set of supported features for the `skylake-avx512` architecture.

We need support for 3 capabilities

[2020-12-20 23:57] ggouaillardet commented on #8306
This is a brew specific issue, see a previous message on our slack.

Will update shortly.

Sent from my iPod

[2020-12-21 00:42] ggouaillardet commented on #8306
Please refer to Homebrew/homebrew-core#65296 for some more context, and a description of the root cause in homebrew.

TL;DR `-march=skylake-avx512` is passed to `gcc` at `configure` time, but brew `superenv` removes it at `make` time. You generally do not see this failure when building from the command line (e.g. **not** undet brew `superenv`)

A simple workaround for homebrew is to pass `--enable

[2020-12-21 01:31] bosilca commented on #8306
The second approach is highly specialized for brew, a little too much to my taste, I don't think we should add this into our own source code. OMPI does all the right things, checks for flags and compiler capabilities assuming that what we get during configure remains valid afterwards. superenv is clearly hindering our efforts, selectively changing flags and making the configure time detection inva

[2020-12-21 01:44] ggouaillardet commented on #8306
That's fair (and I already had a lot of fun hacking this :-) ).

Let's wait for what the Homebrew team has to say about the `superenv` behavior.

[2020-12-21 01:54] ggouaillardet commented on #8306
The Homebrew team suggested the use of `ENV.refurbish_args` in the Open MPI formulae.

I am now trying this

[2020-12-21 03:32] pogevip commented on #7516
It works for me.

[2020-12-21 10:05] fxcoudert commented on #8306
`ENV.refurbish_args` will make brew silently ignore your arch flags during configure, so depending on how the test is written, that will probably not help (i.e., configure will still think the flag is accepted).

When `-march=skylake-avx512` is used, some macros are being defined: could the code be conditionally defined behind those?

[code]

[2020-12-21 10:59] ggouaillardet commented on #8306
@fxcoudert thanks for the hint about the `AVX512` macros.

Please help me understand better how `superenv` works.
Is there an option to have `superenv` behave the same (e.g. replace `-march=...` with `-march=nehalem` at **both** `configure` and `make` time?
What is the exact role of `ENV.refurbish_args`? should it prevents `-march=...` replacement at __both__ `configure` and `make` time? I am real

[2020-12-21 11:07] fxcoudert commented on #8306
`ENV.refurbish_args` will force all commands within `install` (including `configure`) to replace `-march`
So that will make `configure` and `make` run behave the same

[2020-12-21 14:59] hoopoepg opened #8310 "[from StackOverflow] MPI returns incorrect results for one of processes"
Original issue: https://stackoverflow.com/questions/65281642/mpi-returns-incorrect-results-for-one-of-processes

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
OpenMPI 4.0.4 and/or Fedora 33

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system dis

[2020-12-21 15:24] jjhursey commented on #7437
Things to remove
- [ ] opal-checkpoint tool
- [ ] opal-restart tool
- [ ] WANT_FT_CR code blocks
- [ ] WANT_FT_THREAD/ENABLE_FT_THREAD code blocks
- [ ] `pml/crcpw`
- [ ] `opal/mca/crs` framework (@abouteiller do you all use anything here?)

[2020-12-21 22:14] jjhursey commented on #7437
PR #8311 should resolve this issue.

[2020-12-22 11:11] bkmgit commented on #7130
It may be helpful to specify exact interfaces to use, for example:
mpirun --mca btl_tcp_if_include eth1,eth2
or
mpirun --mca btl_tcp_if_include 192.168.1.0/24,10.10.0.0/16
as indicated at
https://www.open-mpi.org/faq/?category=tcp#tcp-multi-network

[2020-12-22 20:49] hppritcha opened #8315 "OFI MTL/BTL: random segfaults at MPI_Finalize when using GNI provider"
When using the OFI libfabric GNI provider with Open MPI master and v4.1.x branches, periodic segfaults during MPI_Finalize are observed.  This problem is not observed in the 4.0.x branch.  This likely has something to do with the libfabric API version being requested and changes in behavior.

The problem goes away if
- the ofi btl is put on the mca-no-build list
- the disable-dlopen configure opti

[2020-12-27 22:54] ksiazekm opened #8321 "Processes returns wrong results on OpenMPI 4.0.4 unless $OMPI_MCA_pml is set to "^ucx""
OpenMPI 4.0.4
Installed from official Fedora repository with use of dnf.
OS: Fedora 33, the latest
gcc 10.2.1 20201125 (Red Hat 10.2.1-9)
AMD FX8350,

some processes randomly return wrong results on the given configuration. When
tested the same source code on Debian GNU/Linux 7 (wheezy) with OpenMPI 1.4.5
it returns correct results each time. Test on each configuration was executed
30 times in a l

[2020-12-28 08:15] leofang commented on #8306
Hello @bosilca and other OMPI developers, we at Conda-Forge also hit the same AVX512 build errors on both Linux and OS X, see the CI logs in the bot PR https://github.com/conda-forge/openmpi-feedstock/pull/71. It seems a  OS X specific workaround has been suggested and I will try it out asap, but how about Linux? In general turning AVX512 on will make the package broken in certain users' environme

[2020-12-28 15:11] ggouaillardet commented on #8306
@leofang for the time being, your best bet is **not** to build the `op/avx` component.
That can be achieved with `configure --enable-mca-no-build=op-avx ...`

FWIW
 - Open MPI only builds one file with `AVX512` instructions (assuming the compiler supports that) and the subroutines are only invoked at runtime if the CPU has support for that. That means that if you build with `AVX512` support and yo

[2020-12-28 15:17] leofang commented on #8306
Hi @ggouaillardet Thanks for quick reply!

This is because around the time I posted, a core dev @isuruf was helping us resolve this issue by ejecting `-march` and `-mtune` in Conda-Forge's CFLAGS setting 🙂 but it seems `--enable-mca-no-build=op-avx` could be more robust and I'll give it a try. The log for the failing tests can still be accessed here: https://dev.azure.com/conda-forge/feedstock-bui

[2020-12-28 15:33] ggouaillardet commented on #8306
Just to be clear, `--enable-mca-no-build=op-avx` does not build the `op/avx` component.
In a sense, this is more robust, but keep in mind the `op/avx` component contains interesting runtime optimizations you ideally do not want to miss.

As for brew, the logs show that `-march=avx512-skylake` worked at `configure` time, but a build error occurred  at `make` time. And as for brew, I highly recommen

[2020-12-28 15:40] fxcoudert commented on #8306
@ggouaillardet we know that Homebrew's build system is a bit tricky for software that tries to autodetect a lot of features… but it also makes it possible to compile a lot of software that is not designed for / tested on macOS.

I'm looking at the configure now for that AVX detection, and in most cases for autoconf-based software it is possible to override checks with `ac_cv_`-type variables (usin

[2020-12-28 15:43] leofang commented on #8306
Right, I just realized this. In @isuruf's approach it seems we are able to build the `op/avx` component without hitting the avx512 issue, so it is in fact better than to not build. It's just unclear to me whether the avx512 stuff is skipped or not in the `op/avx` component. Is there a way for me to check?

I think it is also the case in our failing tests. I see that the configure log says `avx512`

[2020-12-28 17:51] bosilca commented on #8306
Your approach restricts users of your binary distribution with recent processors by limiting the compile architecture to a [very] ancient setup (Nehalem was released in 2008). At the contrary, our approach tries to extract the highest set of capabilities from the current compile setup, and delay the decision of what code path to be used until runtime (such that we can compile on a Nehalem and stil

[2020-12-28 19:04] leofang commented on #8306
I hope this refers to @ggouaillardet's solution, not ours 🙂

Just a little update from our side (Conda-Forge): as @isuruf found out our default setting of `-march` and `-mtune` would interfere with the configure system, and our solution (removing all `-march` and `-mtune` from `CFLAGS` before configuring) works fine on both Linux and macOS. I think this is better than not building `op:avx` at all

[2020-12-28 19:43] bosilca commented on #8306
As long as the compile flags are consistent between the configure and the make stages, OMPI should build the right bundle of possible architectural features.

[2020-12-28 19:47] isuruf commented on #8306
@bosilca, it doesn't. At configure step,  `-march=skylake-avx512` is appended to user defined `CFLAGS`, but during compilation `-march=skylake-avx512` is prepended. That's why we had this issue in conda-forge. We've fixed that by removing `-march=` from user defined `CFLAGS`

[2020-12-28 19:59] bosilca commented on #8306
I see, if the order of the flags is the only issue then this is easy as the order of these flags can be controlled and made consistent between the configure and make steps. At least for as long as the underlying compiler uses the first encountered march, and not the most restrictive/permissive one.

I have a patch to fix the order of the flags. I'm testing it right now, it should be added to #8322

[2020-12-28 20:04] isuruf commented on #8306
Compiler uses the last encountered `march`.

Will do

[2020-12-28 20:41] bosilca commented on #8306
Thanks @isuruf. With the current #8322 I can now run `CFLAGS=-march=nehalem && configure ...` successfully: configure will not enable AVX512 support but we will generate and use the AVX2 and AVX execution paths. Let me know if this works for you.

[2020-12-29 01:37] ggouaillardet commented on #8306
@fxcoudert In current implementation, we do not cache `op_avx512_support` and friends, that's why they cannot be overridden with `ac_cv_op_avx512_support` and friends. That's a fair point and I will enhance Open MPI to support it (and then you can implement a better (e.g. finer grain) workaround in `brew`.

[2020-12-29 10:54] amckinstry opened #8323 "missing symbol in 4.1.0 (mca_op_avx)"
Thank you for taking the time to submit an issue!

## Background information

4.1.0 in Debian unstable (I'm Debian maintainer)

This bug was reported to Debian. It occurs when running "dolfin":

[code]

If I set environment variable RDMAV_FORK_SAFE as instructed, then the
process will run successfully.  But is this the best workaround or
should some other action be taken?

It does seem odd that mc

[2020-12-29 11:06] ggouaillardet commented on #8323
This looks like a bug (incorrect visibility).
Patch is coming.

[2020-12-29 13:19] ggouaillardet commented on #8323
The issue with `ompi_op_base_module_t_class` could appear on debian since `mca_op_avx.so` does not depend on `libmpi.so` (like most components fwiw)

can you please give the attached patch a try?
[code]

note you will need to run `autogen.pl --force` if you apply the patch on the `4.1.0` tarball

[2020-12-30 17:43] markalle commented on #6871
I've been putting my romio fixes into mpich here:
https://github.com/pmodels/mpich/pull/4943 [accepted]
https://github.com/pmodels/mpich/pull/4948
https://github.com/pmodels/mpich/pull/4956
and I've made an OMPI branch off of v4.0.x with all the above pushed into it.  I can post it now or wait till the above all get accepted into mpich first.

I think just the first change above is the one that ma

[2020-12-31 20:52] zosman1 opened #8326 "PMIx Not Installing - Linux"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Master- 982949c25ed1c81e8cc768b8e09455b7b2d79cd1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Downloaded from git clone, stuck on configure

### If you are building

[2020-12-31 21:03] rhc54 commented on #8326
I think the error message is telling you exactly what is wrong:
[code]
Something messed up the OMPI configure logic causing PRRTE to think you told it to use an external PMIx installation in the default location.  I'd guess you just did a "git pull" to update your clone? We changed the PMIx branch the submodule pointed to, and that can create some problems unless you do the magic dance:
[code]
Or

[2020-12-31 21:08] zosman1 commented on #8326
This is a pretty fresh clone- I just deleted and recloned about an hour ago, any other ideas?

[2020-12-31 21:10] rhc54 commented on #8326
Well, you could check your environment to ensure you don't have any "with_pmix" envars - it would be unusual, but it has happened. If what you showed is your entire configure cmd line, you could try removing the java directives to see if that is causing the problem. You could also try adding `--with-pmix=internal` to force the issue.

Afraid I can't come up with anything else - we aren't seeing th

[2020-12-31 21:24] zosman1 commented on #8326
[code]
  So it looks like there's no pmix environment variables

[code]

It looks like this happens even if I exclude the java stuff

[code]

Also looks like this happens with that flag,

This is a pretty minimal system with not much else installed, do you have any other ideas on what could be messing with this?

[2020-12-31 21:34] rhc54 commented on #8326
Afraid not - you'll likely have to wait until next week for folks to return from the holidays. Meantime, you could post your config.log and the stdout/err from running configure so they can look at it.

[2020-12-31 21:40] zosman1 commented on #8326
Thanks for the help!
I've attached both below

[output.txt](https://github.com/open-mpi/ompi/files/5758323/output.txt)
[config.log](https://github.com/open-mpi/ompi/files/5758322/config.log)

[2021-01-01 03:27] ggouaillardet commented on #8326
@zosman1 where are located the system `pmix.h` and `libpmix.so` on your system?

out of curiosity, any reason why you `sudo configure` ?
a typical install process consists in`configure; make; sudo make install`
keep in mind that `sudo ...` will likely reset all the environment variables.

[2021-01-01 03:58] ggouaillardet commented on #6871
@markalle thanks a lot!

Please open two PR for the `v4.0.x` and `v4.1.x` branches.

The way to move forward is imho to update ROMIO (see #8279), but I do not see that happening in the current release branches, so I am afraid patching them is our best option for the time being.

[2021-01-01 07:38] zosman1 commented on #8326
Found em:

`/usr/local/include/pmix.h`
`/usr/local/lib/libpmix.so`

I was running with sudo to try to get the configure working, out of curiosity I just tried running it again and got the same error

looks like it's expecting the pmix.h to be in /usr/include but mine is in /usr/local/include, any ideas why?

[2021-01-01 09:11] ggouaillardet commented on #8326
I suspect the `output.txt` you posted does not match the (truncated) `config.log`: the former was not generated with `--with-pmix=internal`.

Open MPI looks happy with the external PMIx

[code]

but `prrte` is expecting `PMIx` in `/usr` and is not looking for into `/usr/local` by default, hence the error.

So if you are willing to use the external PMIx, you can `configure --with-pmix=/usr/local`.

[2021-01-01 19:02] bartoldeman commented on #8306
A similar issue happens with EasyBuild. In my example it sets CFLAGS `-O2 -ftree-vectorize -march=core-avx2 -fno-math-errno` at `configure` *and* `make` time, though by default it will use `-O2 -ftree-vectorize -march=native -fno-math-errno` for GCC.

It then fails as follows with `V=1` because the second `-march` overrides the first one:

[code]

I'm not sure if `-march=skylake-avx512` is the rig

[2021-01-01 19:28] jsquyres commented on #8306
FWIW, it would be awesome if the Brew / Conda / EasyBuild / etc. Open MPI packagers joined the https://lists.open-mpi.org/mailman/listinfo/ompi-packagers mailing list so that we could identify these kinds of issues before release.  Thanks!

[2021-01-01 19:54] fxcoudert commented on #8306
@jsquyres Homebrew has about a dozen active maintainers, all volunteers, for 5423 formulas. We simply can't follow development of the every software, or even test pre-releases in a systematic way.

[2021-01-01 20:48] bartoldeman commented on #8306
I can confirm #8322 does the trick with EasyBuild.  I now get:
[code]
instead of `... yes` for the last one, because it now uses `CFLAGS="-march=skylake-avx512 $CFLAGS"` instead of `CFLAGS="$CFLAGS -march=skylake-avx512"`.

Note.. I needed to use `prebuildopts = "./autogen.pl --force && "` to make sure the configure scripts were regenerated.

[2021-01-01 20:56] isuruf commented on #8306
Yes, #8322 works, but I think we want to find a way to enable avx512 for binary distributions like brew, conda, etc. Maybe replace `-march=skylake-avx512` with `-mavx512bw -mavx512f -mavx512vl`.

[2021-01-01 21:05] zosman1 commented on #8326
Here we go:

I generated the output.txt by running `./configure &>output.txt` On my side I haven't truncated any logs, if there's an argument I need to use to get the full log let me know!

[output.txt](https://github.com/open-mpi/ompi/files/5759436/output.txt)
[prrte-config.log](https://github.com/open-mpi/ompi/files/5759437/prrte-config.log)
[config.log](https://github.com/open-mpi/ompi/files/57

[2021-01-01 21:09] rhc54 commented on #8326
Yes - the PMIx integration is now in opal_config_pmix.m4

[2021-01-01 21:27] ajayp1 opened #8327 "Cannot install h5py: "undefined symbol: ompi_mpi_info_null""
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.0.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

source, tar.gz

### Please describe the system on which you

[2021-01-02 00:10] bartoldeman commented on #8306
I misunderstood, there is a single source file `op_avx_functions.c` that is compiled into multiple object files, so the `-march=skylake-avx512` is ok, also for binary distributions. There is one advantage to `-mavx512bw -mavx512f -mavx512vl` however in that it avoids a GCC bug where `-march=native` overrides all other `-march` switches (see https://gcc.gnu.org/bugzilla/show_bug.cgi?id=69471) which

[2021-01-02 00:46] leofang commented on #8306
@bartoldeman Cool! Good to know. cc: @dalcinl who had concerns on this. (Though I'd hope this is something the developers could tell us directly without us digging into the source code 😅)

@jsquyres Thanks. While it's nice that OMPI has a dedicated mailing list for package maintainers, perhaps it's better to have conversations kept on GitHub. It's much easier to search, reference, and get interest

[2021-01-02 03:53] ggouaillardet commented on #8326
@zosman1 this is now consistent with what I described:
 - if you want to use the external PMIx, `configure --with-pmix=/usr/local`
 - if you want to use the internal PMIx, `configure --with-pmix=internal`

and if it still fails, please post the same three files so I can have a look

[2021-01-02 04:11] bartoldeman commented on #8306
Doing a simple search-replace of `-march=skylake-avx512` by `-mavx512f -mavx512bw -mavx512vl -mavx512dq` in `ompi/mca/op/avx/configure.m4` does the trick (don't forget the "dq", it's needed too).

This removes any trouble with multiple `-march` flags and compiles in run-time detected avx512 support even if you compile with a lower architecture e.g. `-march=haswell`. It would still be good to have

[2021-01-02 11:39] amckinstry commented on #8323
Yes, this works, thanks

[2021-01-02 12:14] ggouaillardet commented on #8306
@bartoldeman thank you very much!

I agree `-mavx512f -mavx512bw -mavx512vl -mavx512dq` is superior to `-march=skylake-avx512` in the context of the `op/avx` component.

[2021-01-02 19:48] zosman1 commented on #8326
so, it looks like this works `configure --with-pmix=/usr/local`

my question is, shouldn't this be the default behavior?

[2021-01-02 23:33] jsquyres commented on #8306
@leofang I hear what you're saying, but there's no way for us on Github to asynchronously notify our downstream packagers without them all paying close attention to our repo.  That's what the ompi-packagers list is for: it's a (very) low-volume list that allows us to give a heads up to our downstream packagers when a) a new major series is coming, and/or b) a change is coming that affects packagin

[2021-01-03 00:02] jsquyres commented on #8301
Interesting.  I can't say I've ever tried to launch Open MPI via XCode.

If I load Open MPI via Homebrew and compile `hello_c.c` on the command line and run it, I do not get the same warnings you're getting:

[code]

(`mpirun` is a sym link to `orterun`)

I can't imagine why `orterun` would be linked against OpenCL...?

[2021-01-03 04:01] leofang commented on #8306
Hi @jsquyres Perhaps there is a way! 🙂 I noticed Open MPI has a good tradition of having a checklist issue opened long before any release. I don't know about other packagers, but we at Conda-Forge can be notified on GitHub if you ping @conda-forge/openmpi. So perhaps we can try both pinging people in your checklists (when close to the release to reduce spam) vs we packagers subscribe the mailing l

[2021-01-03 04:13] leofang commented on #8306
Sorry, don't mind me. It seems to be a GitHub limitation that one can't ping a team under Org A from a different Org B.

[2021-01-03 12:36] ggouaillardet commented on #8326
@zosman1 can you please post the three files for `configure --with-pmix=internal`?

FWIW, some systems do search `/usr/local` by default and some do not.
I can certainly agree you felt into a non user-friendly use case:
Open MPI considers the external PMIx can be used as is (since it is in `/usr/local`),
but PRRTE cannot find it (since it only searches `/usr`)

I defer it to @rhc54 to suggest the

[2021-01-03 18:52] jsquyres commented on #8323
@ggouaillardet I assume you'll turn this into a PR?

[2021-01-03 20:23] jsquyres commented on #8306
No worries. 😄

If there are better ways than us having an `ompi-packagers` list, we're open to suggestions.  We *do* make decisions that impact downstream packagers sometimes, and we *want* to be able to communicate these kinds of things to you folks.  We have also used that list to solicit the opinions of our downstream packagers (i.e., to influence an upcoming decision that will affect packaging

[2021-01-04 00:45] zosman1 commented on #8326
Sorry for the delay, here you go:

[config.log](https://github.com/open-mpi/ompi/files/5762542/config.log)
[prrte-config.log](https://github.com/open-mpi/ompi/files/5762543/prrte-config.log)
[output.txt](https://github.com/open-mpi/ompi/files/5762544/output.txt)

[2021-01-04 03:19] leofang commented on #8306
@bosilca @ggouaillardet Should we wait for this to be incorporated in #8322, and once it's accepted we (Conda-Forge) then apply it as a hotfix to our 4.1.0 package?

[2021-01-04 03:29] bosilca commented on #8306
@ggouaillardet already pushed 2 or 3 patches on #8322, I think the PR now reflect as most of the discussions ongoing here. In addition, I have one pending fix plus a bunch of comments to add and the PR should be ready to go.

[2021-01-04 04:26] zosman1 commented on #8326
Resolved with https://github.com/open-mpi/ompi/pull/8331

[2021-01-04 04:26] #8326 closed

[2021-01-04 04:31] ggouaillardet commented on #8323
@jsquyres yep, I pushed it in #8322 that should be merged shortly.

[2021-01-04 16:43] ax3l opened #8332 "macOS: levent_core missing for OpenMPI 4.0.5"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.0.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

I am trying to install Open MPI 4.0.5 on macOS 10.15 via Spack using AppleClang as the compiler. The instance r

[2021-01-04 16:45] ax3l commented on #8332
cc @jjhursey @jsquyres @gpaulsen @rhc54 since the last change I can see was from #7698

[2021-01-04 16:48] ax3l commented on #8332
Is libevent an optional or required dependency of Open MPI? Is it a dependency of Open MPI on all platforms?

Potentially it's only a dependency declaration that is missing in Spack.

[2021-01-04 16:51] jsquyres commented on #8332
It is required on all platforms.

Open MPI has an embedded copy of libevent, however.  I think your issue is this: https://www.open-mpi.org/faq/?category=building#libevent-or-hwloc-errors-when-linking-fortran

[2021-01-04 16:52] ax3l commented on #8332
Thanks a lot, will migrate this downstream to Spack then!

[2021-01-04 16:52] #8332 closed

[2021-01-04 16:54] jsquyres commented on #8332
👍

Be sure to also read: https://www.open-mpi.org/faq/?category=building#internal-or-external-hwloc-and-libevent

[2021-01-04 16:57] ax3l commented on #8332
Thanks, Jeff!

[2021-01-04 20:34] mwheinz commented on #8305
An Intel employee just reported to me that they used git bisect to trace a hang in IMPI 4.1 to  issue 8178 - which was a change provided by an EFA developer. I've asked for more details.

[2021-01-04 20:36] mwheinz commented on #8305
In my defense when I approved #8178 I was recovering from surgery...

[2021-01-04 20:42] hppritcha commented on #8321
It would be useful to know the version of UCX is being used.

[2021-01-04 20:54] mwheinz commented on #8305
Howard, when you were running your tests were you running more than one rank per node? @acgoldma indicated that the his issue doesn't happen when running only 1 rank per node.

[2021-01-04 21:01] jsquyres commented on #8305
@rajachan FYI.

[2021-01-04 23:01] rajachan opened #8334 "AVX-based MPI_OP performance regression"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
From source tarball, default configuration built with GCC 4.8

[2021-01-04 23:38] rajachan commented on #8305
https://github.com/open-mpi/ompi/pull/8178 would affect provider selection only and not the datapath. If the PSM provider was chosen, I'm not sure what in that change could be causing a hang a few transfers in. Unless the test was done on a system with multiple NICs of course, and the behavior might have changed. Do share more details once you have them, I'll double-check the logic in my PR. Perha

[2021-01-05 00:25] ggouaillardet commented on #8334
@rajachan how much performance degradation did you measure?

My understanding is that on recent processors, unaligned load/store are as efficient as aligned load/store when the data is aligned.

Is it fair to say that the performance hit is caused by the combined use of unaligned load/store **and** gcc 4.8.5?
(e.g. no performance hit when running the very same code on the very same hardware with G

[2021-01-05 00:36] shijin-aws commented on #8334
@ggouaillardet it's a ~10% degradation. The average loop time of lammps (in seconds) jumps from 7.7 to 8.6.

[2021-01-05 00:39] ggouaillardet commented on #8334
@shijin-aws thanks,

well, 10% of the user app (e.g. not 10% of the `MPI_Reduce()` performance) looks like a pretty massive hit.

 what if you disable the `op/avx` component (e.g. `mpirun --mca op ^avx ...`) ?

[2021-01-05 01:07] shijin-aws commented on #8334
@ggouaillardet Using `mpirun --mca op ^avx` can make the performance back to the level of ompi 4.0.5 (7.7 seconds).

[2021-01-05 01:27] ggouaillardet commented on #8334
@shijin-aws Thanks

can you please confirm GCC 4.8.5 is to be blamed here? in that case, should be simply **not** build the `op/avx` component with GCC < 7?

[2021-01-05 01:30] shijin-aws commented on #8334
@ggouaillardet Sure, @rajachan suggested the same thing. I am trying to build it with gcc7 on my machine to confirm the root cause is 4.8.5.

[2021-01-05 03:30] bosilca commented on #8334
you can always use the reduce_local on the test/datatype with the type and op of your liking to see if there is any performance degradation in the AVX part of the reduction operation.

On a skylake machine I see a difference of about 15% between the double SUM local reduction operation compiled with gcc 4.8.5 and gcc 10.2.0. Looking a little deeper into this it seems that gcc 4.8.5 does not unders

[2021-01-05 05:25] ggouaillardet commented on #8334
@bosilca I am afraid this is a different issue.

The reported issue is `op/avx` is slower than the default `op` component on skylake with gcc 4.8.5

I applied the patch below to the `reduce_local` test (move `MPI_Wtime()`, add `-d <aligments>`, typically to `reduce_local -d 1` and only use aligned data, implement `-r <repeats>` to make the test longer.

Then I found `op/avx` is a bit faster than t

[2021-01-05 07:52] shijin-aws commented on #8334
@ggouaillardet @rajachan I rebuilt the application with gcc/g++ 7.2.1 on the same os (alinux1), but the performance does not go back to the level of open mpi 4.0.5 or running with `--mca op ^avx`.

[2021-01-05 10:34] amckinstry opened #8335 "OpenMPI 4.1.0 fails with [external] pmix 4.0.0"
Thank you for taking the time to submit an issue!

## Background information

OpenMPI 4.1.0
PMIX 4.0.0

Debian Unstable (and ubuntu)

When built against external 4.0.0 , we see segfaults on simple hello world tests:
[code]

For the moment we have reverted to internal pmix (3.2.2?)

[2021-01-05 12:48] ksiazekm commented on #8321
ucx.x86_64 1.8.1-3.fc33

[2021-01-05 14:27] jsquyres commented on #8335
@rhc54 @jjhursey Have you guys heard about this before, perchance?

@amckinstry Can you send us the full build details?  E.g., `./configure` line for both PMIx and Open MPI.

[2021-01-05 14:42] jsquyres commented on #8321
Can you provide more detail about exactly what is going wrong, and/or a small example showing the problem?

[2021-01-05 16:05] jsquyres commented on #8321
I'm the worst -- you provided a gist link with a sample and I missed it.  We'll investigate...

[2021-01-05 16:07] hppritcha commented on #7199
@dshrader can this issue be closed now?

[2021-01-05 16:14] rhc54 commented on #8335
@amckinstry I looked into this and found the issue - a configure code that is looking for `major version == 3` instead of `major version >= 3`. Should be a trivial change - @jjhursey said he would fix it later today. Thanks for the report and sorry for the problem.

[2021-01-05 19:10] acgoldma commented on #8305
I was able to work with @mwheinz to reproduce on a single node.

While dumping some of the fi_info data returned with and without the patch I noticed that the fi_info that has a cq_data_size of 0 was being returned with the patch form #8178. I looked at the old code from before that patch and the same was happening in the first call to fi_getinfo(). However, on the second call this struct was not

[2021-01-05 19:18] rajachan commented on #8305
Ah, yes 😓, thanks for catching that.

There might be exposing a PSM provider bug or MTL bug in here though. Without a big enough CQ data buffer, the MTL will fall back to MTL_OFI_TAG_1.  I'd guess forcing that with your fix will still cause the test to hang? (`OMPI_MCA_mtl_ofi_tag_mode=ofi_tag_1`; which will use 12 bits for the communicator, 18 bits source rank, and 32 bits tag)

[2021-01-05 19:43] jjhursey commented on #8335
Thanks for letting us know. I filed fixes for the two latest release streams:
 * `v4.0.x` branch in PR #8338
 * `v4.1.x` branch in PR #8337
 * This will need to go back to PRRTE as well. I'll update this comment with the PR link once I file it.

[2021-01-05 19:58] jjhursey commented on #4139
This is already in place for the v4 branches
[code]
Note that it is not in place for `master` - we should fix as part of Issue #7285

[2021-01-05 19:58] #4139 closed

[2021-01-05 20:01] jjhursey commented on #7285
You can pick up the PMIx version with `prte_info` once https://github.com/openpmix/prrte/issues/715 is complete.

[2021-01-05 20:58] rajachan commented on #8334
Here's what I am seeing with vanilla reduce_local and 32-bit float sums:

  |   | gcc482 | gcc721
-- | -- | -- | --
1 | time | 0.000017 | 0.000011
2 | time | 0 | 0
4 | time | 0 | 0
8 | time | 0 | 0
16 | time | 0 | 0
32 | time | 0 | 0
64 | time | 0 | 0
128 | time | 0 | 0
256 | time | 0 | 0
512 | time | 0.000001 | 0
1024 | time | 0.000001 | 0.000001
2048 | time | 0.000002 | 0.000001
4096 | time | 0.

[2021-01-05 21:42] jsquyres commented on #8334
So are we coming down to determining that this is a compiler issue?  I.e., certain versions of gcc give terrible performance?

If so, is there a way we can detect this in configure and react appropriately?

[2021-01-05 22:12] rajachan commented on #8334
That's what it is looking like to me. I'm going to try @shijin-aws's test with the actual application again to make sure he wasn't inadvertently running with the older compiler.

[2021-01-05 22:58] dshrader commented on #7199
I think so. The second patch worked fine for me, so as long as that code makes it in, I'm good!

[2021-01-06 00:52] rajachan commented on #8334
I've reproduced @shijin-aws's observation. With the LAMMPS application, even with the newer gcc (7.2.1), runs using op/avx perform poorer than the ones without.

$ /shared/ompi/install/bin/mpirun  --mca op ^avx -n 1152  -N 36 -hostfile /shared/ompi/hfile   /shared/lammps/bin/lmp -in /shared/lammps/bin/in.chute.scaled -var x 90 -var y 90 -log /shared/lammps/inchutescaledgcc48
Loop time of 7.94407 o

[2021-01-06 01:10] ggouaillardet commented on #8334
@rajachan thanks for confirming there is more that the gcc version.

Would you be able to reproduce this issue with a smaller config ?
(ideally one node and 24 MPI tasks)

[2021-01-06 01:30] rajachan commented on #8334
Yup, it is more evident with a single-node run.

with op/avx ( --mca op avx -n 24  -N 24):
Loop time of 373.581 on 24 procs for 100 steps with 259200000 atoms

without op/avx ( --mca op ^avx -n 24  -N 24):
Loop time of 312.945 on 24 procs for 100 steps with 259200000 atoms

 Will run it through a profiler.

[2021-01-06 02:23] rajachan commented on #8334
Stating the obvious with some pretty charts, but the mpiP profile from the run without op/avx shows the aggregate AllReduce cost across ranks:
![image](https://user-images.githubusercontent.com/742736/103720903-47dd6800-4f81-11eb-8f81-03201bf559f0.png)

And the run with op/avx:
![image](https://user-images.githubusercontent.com/742736/103720937-5a57a180-4f81-11eb-8026-cdbce8de9a70.png)

Here are t

[2021-01-06 04:20] bosilca commented on #8334
This is totally puzzling. Assuming we are pointing toward the AVX support as the culprit behind this performance regression, I went ahead and tested just the MPI_OP and I am unable to replicate it anywhere. I've tried skylake with gcc 4.8.5, 7.0.2 and 10.2.0. Again, I have not looked at the performance of the MPI_Allreduce collective, but specifically at the performance of the MPI_OP.

As it was n

[2021-01-06 04:31] ggouaillardet commented on #8334
same here, with the enhanced test **and** pinning the process, `op/avx` is faster than the base component on a skylake processor with gcc 4.8.5 (that is only `AVX2` capable).

make sure the `-bind-to core` option is passed to the `mpirun` command line
(or simply `taskset -c 0 ./reduce_local` if running in singleton mode)

[2021-01-06 04:34] bosilca commented on #8334
My previous tests were looking at the performance of a single MPI_OP running undisturbed on the machine, so I though maybe the issue is not coming in the MPI_OP itself but from running multiple of these MPI_OP simultaneously. So I run the OSU allreduce test on all the skylake cores I had access to, and it reflected the same finding as above: the AVX version is 5.7% faster than the non-AVX one (209

[2021-01-06 09:18] alinask opened #8340 "v4.1.x: Failure on btl tcp on the greq1 benchmark"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

[code]

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From a git clone.

### If you are building/installing from a git clone, please copy-n-paste the output from `g

[2021-01-06 09:22] alinask commented on #8340
[greq1.txt](https://github.com/open-mpi/ompi/files/5774862/greq1.txt)

[2021-01-06 12:34] AboorvaDevarajan opened #8341 "ompi - errhandler fortran test fails"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone

### If you are building/installing from a git clone, please copy-n-paste the output from `git submodu

[2021-01-06 14:19] #6917 closed

[2021-01-06 15:05] jsquyres commented on #8341
Good catch!

[2021-01-06 15:59] jjhursey opened #8345 "ompi_info does not display registrations with stack variables"
I've noticed that if a component calls `mca_base_component_var_register` with a `storage` argument (last argument) that is a variable declared in the scope of the function then it will not be shown in `ompi_info`.

[code]

The workaround is to declare the storage variable in the global scope
[code]

The above example shows 'verbose', but this impacts any other MCA parameter being registered.

[2021-01-06 16:03] rhc54 commented on #8345
@jjhursey That isn't really a bug in the variable code - that is an error in your component_register code. You cannot use a stack variable in the var_register function. It has to be global static memory. This is documented in the opal/mca headers.

[2021-01-06 16:21] jjhursey commented on #8345
Thanks. I found the doc [here](https://github.com/open-mpi/ompi/blob/master/opal/mca/base/mca_base_var.h#L418-L428) - so technically this is invalid code.

It still seems weird that it causes `ompi_info --all` not to show it.

[2021-01-06 16:21] #8345 closed

[2021-01-06 17:19] rajachan commented on #8334
With 20be3fc from #8322 cherry-picked on v4.1.x and GCC 4.8.5:

op/avx excluded:

[code]

op/avx included:

[code]

The reproduction seems limited to the application's pattern. I will take a closer look at LAMMPS usage of the collective today.

[2021-01-06 17:20] #8305 closed

[2021-01-06 18:34] bosilca commented on #8340
I don't think the reported error has anything to do with any BTL or PML, simply because we are talking about a standalone test checking the behavior of generalized requests. #8347 fixes the issue for me.

[2021-01-06 18:34] rhc54 commented on #8345
Yeah, that is weird - not sure I understand why that would happen.

[2021-01-07 07:32] ggouaillardet commented on #8327
what does `ldd /usr/lib/x86_64-linux-gnu/hdf5/openmpi/libhdf5.so` reports?

[2021-01-07 13:54] jsquyres commented on #8340
The master PR was merged; re-opening this until a v4.1.x PR is merged.

[2021-01-07 13:56] jsquyres commented on #8340
PR #8348 filed for v4.1.x.  @alinask can you review?

[2021-01-07 16:14] ajayp1 commented on #8327
I have since resolved the error, and it turns out I needed to add openmpi to my RPATH when installing HDF5. If anyone stumbles on this issue in the future, you need to go through the ./configure file for hdf5 and look for the cmd argument that lets you specify the RPATH. Then, when you execute ./configure, you precede it by setting that arg = /your/openmpi/path/. Unfortunately, I'm not at the mach

[2021-01-07 16:15] ajayp1 commented on #8327
I have since resolved the error, and it turns out I needed to add openmpi to my RPATH when installing HDF5. If anyone stumbles on this issue in the future, you need to go through the ./configure file for hdf5 and look for the cmd argument that lets you specify the RPATH. Then, when you execute ./configure, you precede it by setting that arg = /your/openmpi/path/. Unfortunately, I'm not at the mach

[2021-01-07 16:15] #8327 closed

[2021-01-07 18:19] mathomp4 opened #8350 "Crash with Open MPI 4.1.0 on macOS, but not 4.0.5: Symbol not found: _preadv"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

I am using v4.0.5 and v4.1.0 for this.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

In each case, the stack was built with GCC 10.2.0 built from scratch. I then u

[2021-01-07 18:48] jjhursey commented on #8304
PR #8339 should have the fix for this.

[2021-01-07 18:59] edgargabriel commented on #8350
@mathomp4  thank you for report this issue. You are right that there were significant changes in the fbtl posix component, I am however confused since the part that you are referring to (namely the utilization of preadv) is identical in the 4.1 and 4.0.x series. The function is protected by an #if macro,e.g.

[code]
i.e. if the configure step does not find the preadv function with a given compiler

[2021-01-07 19:03] mathomp4 commented on #8350
@edgargabriel Well, it might just be where I am in the program. It's dying in the initialization phase of our model which is a looooooot of file reads. I'd have to consult with the experts, but it's possible this could be the first MPI IO read? Our model is a mix of plain fortran `read()`, a lot of netCDF Fortran, and some scatter MPI I/O.

Do you know of a "simple" MPI program I could whip up tha

[2021-01-07 19:31] edgargabriel commented on #8350
for this particular purpose, something as simple as the following test would do:

[code]

just compile this file using mpicc, create a testfile called test.out with an integer value in it, and if you run it on a single process using you should see the same error message,

[2021-01-07 19:52] edgargabriel commented on #8350
actually, looking back at your error message, the issue is maybe slightly different:

you use  Users/mathomp4/installed/Compiler/gcc-gfortran-10.2.0/openmpi/4.1.0/lib/openmpi/mca_fbtl_posix.so which is  I assume using gcc-gfortran-10.2.0. According to some later output that you showed, gcc-gfortran has ac_cv_func_preadv=yes (which means the configure script found preadv), and that's why its using

[2021-01-07 19:58] mathomp4 commented on #8350
Well, sadly your example didn't cause a crash. I even went looking through our source code and added some of the info's we set:
[code]
but it still worked.

[2021-01-07 19:58] mathomp4 commented on #8350
I might try out adding:
[code]
to a 4.1.0 build and see what happens. Maybe it will do something!

[2021-01-07 20:08] edgargabriel commented on #8350
did you compile netcdf with MPI support, and if yes, did you recompile it separately with gcc vs. clang as well? I am wandering whether the gcc compiled fbtl component could be sucked into the clang execution, and this is causing the issue.

[2021-01-07 20:17] mathomp4 commented on #8350
@edgargabriel Yes, I compiled netCDF with MPI support. To be "safe" I'm recompiling Open MPI, then I'll do the baselibs, and then I'll build the model and run it.

As for compiling, in this case, I don't let clang get near it as far as I can. My library build system sees only gcc/mpicc (where mpicc = gcc), etc. My lua modules are setup to make sure I prepend paths and I tell the build system "Use

[2021-01-07 22:20] #8341 closed

[2021-01-08 10:20] amckinstry commented on #8335
Thanks.  I can now build openmpi 4.1.0 with the external pmix 4.0 with this patch, but still have issues due to a bug in pix 4.0.0 ( https://github.com/open-mpi/ompi/issues/8323 ).

Because of this, openmpi in Debian Unstable is currently configured to use the internal pmix 3.* but appears to be fragile in the presence of pmix 4.0 on the system ( mpich and slurm are also configured to use the exte

[2021-01-08 13:37] mathomp4 commented on #8350
I can report that adding:
[code]
to `ompi/mca/fbtl/posix/fbtl_posix_preadv.c` didn't help. Still get the preadv crash. Ah well. A valiant effort!

[2021-01-08 14:56] rhc54 commented on #8335
@amckinstry Can you please expand on this statement? Are you just referring to https://github.com/openpmix/openpmix/issues/2003 or is there some other problem?

[2021-01-08 14:58] edgargabriel commented on #8350
I just compiled openmpi-4.1.0 on the Mac of my wife, it uses Apple clang version 11.0, and I am afraid that I could not reproduce the problem that you mentioned. Configure correctly detected that preadv and pwritev are not available (ac_cv_func_preadv=no) and the code uses because of that the workaround (i.e. lseek/pread). I could run tests without issues. So not entirely sure how to follow up on

[2021-01-08 16:47] mathomp4 commented on #8350
Well, guess what worked? 👍🏼

I'm going to blow away my model build and rebuild from scratch to confirm.

[2021-01-08 17:29] mathomp4 commented on #8350
Yep. I can confirm it works for me. I can even add:
[code]
in my Open MPI 4.1.0 modulefile and it works.

So, is this "safe"? Or is there something maybe I can do at configure time?

[2021-01-08 17:53] edgargabriel commented on #8350
I am the main developer of ompio, the default parallel I/O component in Open MPI, so I will not advocate to switch to romio, the competition 😉. You probably also don't want a detailed comparison between ompio and romio. I would look at it fairly pragmatic at this point: as long as we are not able to identify the problem on your laptop with your application, this is viable option for you.

[2021-01-08 18:19] mathomp4 commented on #8350
Ah. Indeed. 😄

Was romio the default in Open MPI 4.0.x and that's why it worked for me? Or did something change in ompio?

[2021-01-08 18:21] edgargabriel commented on #8350
no, not really (unless you execute on a Lustre file system), on local file systems ompio was the default since the 2.x series. This is part of the puzzle here. I still have the suspicion that there is somewhere on some level a mixup of the gcc and the clang modules.

[2021-01-08 19:00] orxshi opened #8356 "Data unpack would read past end of buffer in file util/show_help.c at line 501"
## Background information

I submitted a job via slurm. The job ran for 12 hours and was working as expected. Then I got `Data unpack would read past end of buffer in file util/show_help.c at line 501`. It is usual for me to get errors like `ORTE has lost communication with a remote daemon` but I usually get this in the beginning of the job. It is annoying but still does not cause as much time los

[2021-01-08 19:14] rhc54 commented on #8356
The problem doesn't lie in the "data unpack" - that's more an issue with what we output to the screen to tell you there is a problem. The problem that caused your job to fail is here:
[code]

[2021-01-08 19:40] orxshi commented on #8356
Is problem related to my code or network? How can I debug?

[2021-01-08 20:20] rhc54 commented on #8356
Most likely to be in your code, unfortunately. You might want to have it print something out to show progress so you can get an idea of when/where it is failing.

[2021-01-08 21:27] jsquyres commented on #8350
@mathomp4 You cited that you use the following to configure Open MPI:

[code]

What is the location of your `gcc` and `g++` -- are they in `/usr/bin`?  More specifically, are they in the same location as `gfortran` (e.g., `/usr/local/bin`)?  Even more specifically: are your `gcc`/`g++` part of the same compiler install as your `gfortran`, or are they functionally two different compiler installs?

[2021-01-08 22:28] hppritcha commented on #8294
A pmix update on master fixed this issue.

[2021-01-08 22:28] #8294 closed

[2021-01-08 22:43] hppritcha commented on #8321
@ksiazekm i'm having reproducing this.  First how many MPI processes are you using when you observe the problem and what is the tabsize you're supplying?

[2021-01-09 00:42] rajachan commented on #8334
I've been looking at this for a while now, and I still do not have a silver bullet here. Just the use of AVX for the op seems to be slowing things down. Poking around, I see several references to frequency scaling caused by heavy use of AVX on multiple cores simultaneously, and that causing slowdowns. Is this something you are aware of, and could that be a probable cause?

https://dl.acm.org/doi/1

[2021-01-09 01:03] mathomp4 commented on #8350
@jsquyres I don't think so, but I can try on Monday morning when I'm "at work". If nothing else, I can pass in the full paths to my GCC installation and doubly make sure it's GCC 10 it's seeing and not the clang-gcc from `/usr/bin`

[2021-01-09 06:06] ggouaillardet commented on #8356
@orxshi When you ask the very same question on both sites (e.g. GitHub and Stack Overflow), please add some cross links.

[2021-01-09 13:09] ksiazekm commented on #8321
Here you have 30 executions of the code from the previous gist: [Test Results](https://gist.github.com/ksiazekm/314083e4c8c9b6b00e2775ddab2aedf2)

[2021-01-09 16:02] edgargabriel commented on #8350
@jsquyres @mathomp4 this is the type of problem that I was suspecting, but I was thinking more about it being an LD_LIBRARY_PATH problem. I have not much experience on Macs, but would a static build be an option for testing purposes?

[2021-01-09 16:12] ggouaillardet commented on #8321
@hppritcha FWIW, I was able to reproduce the issue on a Fedora 33 virtual machine, using Open MPI and UCX provided by the distro. I was only able to find discarding the `pml/ucx` component was a workaround.
I did not have time to dig a bit more and figure out whether the root cause is in Open MPI, or UCX or both.

[2021-01-09 16:17] ggouaillardet commented on #8334
@rajachan thanks for the report.

Frequency scaling is indeed a documented drawback of AVX, that, in the worst case, slow things down, especially on a loaded system.
I guess we could add a runtime parameter to set the max AVX flavor to be used. For example, SSE is likely faster than the default implementation, and on some systems, AVX2 might be faster than SSE but slower than AVX512 under load.

[2021-01-09 17:27] bosilca commented on #8334
Let's not jump to conclusions yet. If I correctly read the graphs posted by @rajachan we are looking at a factor 10x of performance decrease for the allreduce between the AVX and the non-AVX version, while the papers talk about a 10% decrease in a similar workload (suite of AVX and non-AVX operations).

We already have an MCA parameter to control how much of the hardware AVX support is allowed by

[2021-01-09 20:54] puneet336 opened #8358 "mpi.h:339:59: error: expected primary-expression before ‘static_assert’"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
OpenMPI - 4.1.2

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
source

### Please describe the system on which you

[2021-01-10 00:01] hjelmn commented on #8358
The error message tells you what is wrong. You are using functions that are no longer provided by MPI since 3.0.

[2021-01-10 00:02] #8358 closed

[2021-01-10 13:12] alinask commented on #8340
@jsquyres As the v4.1.x PR is merged, I'm closing this ticket.
Thanks!

[2021-01-10 13:12] #8340 closed

[2021-01-10 16:13] jsquyres commented on #8358
@puneet336 I'm a little confused because there is no Open MPI v4.1.2 -- we only just released v4.1.0 very recently.

Also, you might want to look at https://www.open-mpi.org/faq/?category=mpi-removed.

Hope that helps.

[2021-01-10 17:42] wzamazon opened #8360 "[4.1.0] Should orted call opal_set_using_threads()?"
Thank you for taking the time to submit an issue!

## Background information

orted in OMPI 4.1.0 randomly hit the following ```double free``` error:

[code]
I think the reason is  orted did not call ```opal_set_using_threads()``` to enable OPAL's multi thread support during initialization, even though it is using multiple threads.

However, I wonder why we did not see this error for open mpi 4.0.

[2021-01-10 19:30] bosilca commented on #8323
#8322 has been merged.

[2021-01-10 19:30] #8323 closed

[2021-01-11 02:54] ggouaillardet commented on #8323
@bosilca shouldn't we wait until #8322 is back ported into the `v4.1.x` branch before closing this issue?

[2021-01-11 02:57] rhc54 commented on #8360
Yes, it should call that fn - should do it in v4.0.x too.

[2021-01-11 13:09] amckinstry commented on #8335
Ok, with an apparent fix i've now reverted to openmpi 4.1.0 usng external pmix 4.0.0 on Debian Unstable.
By "fragile" I mean if openmpi is built to use internal pmix, while another copy of pmix (both libpmix.so.2) exists on the system, albeit with different paths, bugs are likely to ensue - picking up the wrong library at build or runtime.

I'm not sure that openmpi/openpmix should be doing anythi

[2021-01-11 14:03] mathomp4 commented on #8350
@edgargabriel I'll try building a static Open MPI now. I'll start by doing `--enable-static --disable-shared`. But I might need to come back to you if I need fancier options ( `--enable-mca-static`, etc)

[2021-01-11 15:03] awlauria commented on #8321
So far I can't reproduce on power9 + rhel8.2. I tried v4.0.x latest and also  the v4.0.4 release tarball.

[2021-01-11 15:47] wzamazon commented on #8360
@rhc54  Thank you for your reply!

I have one more question: I did some test with open mpi 4.0.5, and noticed for 4.0.5 the function ```pmix_server_dmdx_resp``` was not called, which should be the reason this bug does not appear for 4.05.

I wonder why the behavior is different between 4.0.5 and 4.1.0?

[2021-01-11 16:00] rhc54 commented on #8360
I suspect there was a change in the default setting controlling whether or not OMPI executes a full data exchange during MPI_Init. Sounds like OMPI is doing the full exchange in 4.0.x, but it is not doing so in 4.1.x. As a result, OMPI needs to execute a direct modex request for connection info in v4.1, which is why it would trip the bug.

[2021-01-11 16:08] wzamazon commented on #8360
@rhc54 Thank you so much!

I opened PR https://github.com/open-mpi/ompi/pull/8362, would you please take a look?

[2021-01-11 16:13] rhc54 commented on #8360
Looked fine - thx!

[2021-01-11 16:26] jjhursey commented on #8304
PRs for release branches:
 * `v4.1.x` in PR #8339
 * `v4.0.x` in PR #8363
 * Note that `v3.1.x` has this problem, but that series is no longer supported. So I did not file a PR there.

[2021-01-11 16:46] thomasgillis opened #8364 "One sided communications - ucx vs pt2pt : performance and memory leak"
## Background information
I am running an mpi application using one-sided communications with PSCW synchronization.
I experience some issues with the ucx and the pt2pt implementations.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
v4.0.5 - gcc 9.3.0 (foss 2020a release)

### Describe how Open MPI was installed (e.g., from a source/distribution

[2021-01-11 16:56] awlauria commented on #8364
Note that osc pt2pt has been removed from master, and will not be in OMPI v5.0 nor later releases. This is because it is buggy and not maintained. You are welcome to fix any bugs in it in v4.x, but keep in mind it is the last ompi release with pt2pt.

You can get a better picture by configuring with `--enable-debug`, which should help you get better traces. There's also `--enable-memchecker`, thou

[2021-01-11 16:57] devreal commented on #8364
@thomasgillis Do you have a reproducer showing the performance difference, by chance?

[2021-01-11 17:21] thomasgillis commented on #8364
Sure, sorry I forgot to add it in the issue: https://gist.github.com/thomasgillis/bd76a8c038794e0b670e8cf54b21ce62

The performance measurement is quite naive (the `Allreduce` is overkill), but it highlights the difference between the two:
- `ucx`: `The exchange took me 0.063487 sec on avg (min = 0.054910, max = 0.066095)`
- `pt2pt`: `The exchange took me 0.005760 sec on avg (min = 0.003002, max =

[2021-01-11 17:49] thomasgillis commented on #8364
@awlauria ok, thx for the info. I am fine with using `ucx` then, but I am worried about the performance gap between the two.

[2021-01-11 17:51] hjelmn commented on #8364
osc/pt2pt will ultimately be replaced by osc/rdma with emulated network RDMA. Working in completing the code now.

[2021-01-11 17:54] devreal commented on #8364
@thomasgillis You're benchmark was a bit convoluted you actually measured the time for deleting a  dataype as well (what was that even used for?) Plus, measuring one iteration of this code is too short to get meaningful data. I changed the code to only include post-start-get-complete-wait in loop:

On two nodes:
[code]

On 8 nodes:
[code]

There is a slow-down, but I don't see a huge factor. As fo

[2021-01-11 17:54] jjhursey commented on #7515
The `mpirun` man page has a pretty good description of these two options with a few examples:
 * https://www.open-mpi.org/doc/v3.0/man1/mpirun.1.php#sect9

[code]

[2021-01-11 17:54] #7515 closed

[2021-01-11 18:14] jjhursey commented on #8000
This part of the error message seems to indicate that it is an LSF issue and not necessarily MPI
[code]

Under the hood Open MPI uses the LSF blaunch API to start the daemons on the compute nodes. I would start by getting an allocation and trying a `blaunch hostname` to see if that works. If it doesn't then you will need to look at the LSF setup. If it does work then we can look a bit deeper into

[2021-01-11 18:50] thomasgillis commented on #8364
@devreal thx for your help and for pointing out some issues!

The benchmark tries to reproduce the different steps actually done in my application. I use the datatype (here it's overkill I agree) to send subparts of 3D block for hallo update. It's said to be less performant, although it's still very convenient when dealing with strided memory locations.

I tried to remove the type deallocation and

[2021-01-11 19:41] hjelmn commented on #8364
Active message RMA is discouraged FWIW. You will get better performance with passive message.

[2021-01-11 19:41] hjelmn commented on #8364
Active message should be removed from the standard IMHO.

[2021-01-11 20:29] gpaulsen commented on #3629
Closing as above comment should have resolved.

[2021-01-11 20:29] #3629 closed

[2021-01-11 20:32] jsquyres commented on #8304
Merged the v4.1.x PR.

[2021-01-11 20:32] jsquyres commented on #8306
Merged fix in the v4.1.x branch.

[2021-01-11 20:32] #8306 closed

[2021-01-11 20:33] jsquyres commented on #8335
Merged into the v4.1.x branch -- fixed!

[2021-01-11 20:33] #8335 closed

[2021-01-11 20:36] mathomp4 commented on #8350
Well this is odd. So, I built Open MPI with `--enable-static --disable-shared` and built my library stack and the model (though I had to do a couple things to get that to work, we seem to have been assuming shared object MPI for some weird f2py thing?). But the model built!

I then made an experiment and it crashes right on the start:
[code]
I can definitely say we don't call `MPI_Comm_f2c()` in o

[2021-01-11 20:54] jsquyres commented on #8350
@mathomp4 Did you confirm where your `gcc`, `g++`, and `gfortran` live, and whether they have the same search paths / etc.?

Per the `MPI_Comm_f2c()`, can you get a stack trace of where that's happening, perchance?  E.g., attach a debugger and find print out the stack trace when that error occurs (in a crude manner: you can edit https://github.com/open-mpi/ompi/blob/master/ompi/errhandler/errhandl

[2021-01-11 21:00] wzamazon commented on #8360
PR https://github.com/open-mpi/ompi/pull/8362 was merged to 4.1.x

I opened another PR to back port it to 4.0.x:  https://github.com/open-mpi/ompi/pull/8366

[2021-01-11 21:47] thomasgillis commented on #8364
@devreal additionally to my previous comment, I timed multiple times the PS - get - CW operation (without the type_free) and the results stay consistant:
- `ucx`: `The exchange took me 0.064025 sec on avg (min = 0.051932, max = 0.071230) `
- `pt2pt`: `The exchange took me 0.005080 sec on avg (min = 0.002321, max = 0.009648)`

[2021-01-12 07:59] devreal commented on #8364
I cannot reproduce a factor of 10 but I do see a slowdown with UCX (v1.9.0) if I increase the number of ranks per node, reaching ~2.5x for 16 ranks per node (64 ranks in total). If I increase the number of ranks per node further I might hit higher latencies. With a single rank per node I see virtually no difference between `pt2pt` and `ucx` for passive mode. How many ranks per node are you running

[2021-01-12 13:22] mathomp4 commented on #8350
As far as I can tell, yes, they are the ones I expect. From the non-static "standard" build `config.log`:
[code]
and:
[code]
So I cannot see how I might have picked up the clang gcc as that should return:
[code]

I'll try to figure this out. I usually use DDT or Totalview to debug, but those are only on our cluster, not my personal laptop. But, I decided to go old school and add some prints to the

[2021-01-12 14:19] awlauria commented on #8310
Thanks for opening. Looks like this is duped by https://github.com/open-mpi/ompi/issues/8321.
Closing as that one has more discussion.

[2021-01-12 14:19] #8310 closed

[2021-01-12 14:36] hoopoepg commented on #8321
hi
have you any specific configuration in virtual machine? what processor of host system?
we are trying to reproduce issue but have no success

[2021-01-12 14:48] ggouaillardet commented on #8321
That is a pretty standard Virtualbox VM running on a x86_64 (intel) processor.

[2021-01-12 14:50] hoopoepg commented on #8321
what is number of CPU? memory volume?
and could you run there ```ucx_info -d``` there & post output here?

thank you

[2021-01-12 15:07] ggouaillardet commented on #8321
1 GB
1 CPU

[code]

[2021-01-12 15:07] hjelmn commented on #8364
Slower than pt2pt is pretty hard to do. That component is hard to optimize. UCX needs to figure this out.

[2021-01-12 15:08] ggouaillardet commented on #8321
use

[code]

you might have to run it several times to evidence the issue.

[2021-01-12 15:50] devreal commented on #8364
@thomasgillis Another thing I noticed in your benchmark: you are using `MPI_Win_create`, which gives the implementations essentially no control over where memory is placed and makes it harder to share memory between ranks. That might explain the issue you have in shared memory. Could you try using `MPI_Win_allocate` instead? Is there a reason for using `MPI_Win_create` instead?

[2021-01-12 16:10] jsquyres commented on #8321
I'm pre-emptively adding a v4.1 label on this issue too -- I'm *assuming* that the issue exists over there as well.

[2021-01-12 16:12] gpaulsen commented on #8321
I set the blocker label until we have more information.

[2021-01-12 16:14] wzamazon commented on #8360
both PR merged. closing ...

[2021-01-12 16:14] #8360 closed

[2021-01-12 16:17] jsquyres commented on #8299
Apologies for the delay here; we missed this issue as it was filed over the holidays.  The issue was reported against the v4.0.x series, but I pre-emptively also applied the v4.1.x tag, too.

[2021-01-12 16:40] gpaulsen commented on #8304
Resolved on v4.0.x and v4.0.1. (look for fix in v4.0.6, and v4.1.1)

[2021-01-12 16:40] #8304 closed

[2021-01-12 16:51] rhc54 commented on #8299
@bosilca pointed me to the right place in the code. The problem here is that the split code requests the process locality for each proc participating in the split - this locality is then used for the split. OMPI's runtime provides that locality, but Slurm does not. At the moment, the code doesn't return an error if OMPI is unable to get the locality of each process - it just assumes that every pro

[2021-01-12 17:04] thomasgillis commented on #8364
@devreal I can change that easily but I would like to have the ability to align the memory to help in the vectorization of the operations on the window (cfr. #7955 and #7985).
Is there any flush/lock/unlock restrictions on the use of MPI_Win_create? I tried to change from active to passive synchronization but I struggle to get the sync correctly.

[2021-01-12 17:11] bosilca commented on #8299
During the discussion I proposed to throw an error if we are missing the information for the requested split type. I should have known better, one don't just raise errors in MPI, as we will automatically trigger the default error handler and abort the application. Thus, with the current MPI version there is little we can do, except returning a duplicate of MPI_COMM_SELF to put each process in its

[2021-01-12 17:16] hjelmn commented on #8364
@thomasgillis No restriction.

I think we added an alignment info key for the memory used by MPI_Win_allocate. If not we should probably do that. I think right now it is aligned on page boundaries for osc/rdma.

[2021-01-12 17:19] rhc54 commented on #8299
Ah, good point! I had totally missed that one too. FWIW: it would be pretty simple to update Slurm to provide the required info, if someone is interested in doing so. Basically just one function call.

[2021-01-12 17:21] rhc54 commented on #8334
@wesbland Have you seen anything like this? Can you perhaps connect us to someone over there who can help us figure out the right path forward?

[2021-01-12 17:28] jsquyres commented on #8350
Ah, ok, this is excellent information.  A few new questions:

1. Does your application definitely call MPI_Finalize before exiting?
2. Does your application call any MPI functions after MPI_Finalize?
3. Does your application dynamically open libmpi.so?

[2021-01-12 18:47] mathomp4 commented on #8350
Yes it seems to be the last call:

[code]
The only code after that `MPI_Finalize` is a string of returns that ends here (`cap%run` is calling `finalize_mpi`):
[code]
Note that `MAPL_Finalize` is essentially shutting down our loggers, etc.

Not that I know of. It is the last call in our system.

Nope. We have been doing some DSO experimenting, but `libmpi.so` is a bit beyond our current scope for s

[2021-01-12 18:54] jsquyres commented on #8350
Blarg.  No smoking gun here.

Can you run through the debugger and/or printfs to find out *where* this message is coming out?  I've already asked questions about where I could think of that it could be happening.

[2021-01-12 19:32] amckinstry opened #8367 "Advice: recommended params for a generic setup"
So, this is a request for advice rather than a bug report.

I'm a maintainer of the MPI stack in Debian, so : OpenMPI is the default MPI (we also ship mpich), but also pmix, ucx, etc.

Increasingly it makes sense to build the MPI versions of apps by default, but as a generic distro we cannot assume
Infiniband is present/used on our systems; now with UCX we get:

[code]

The problem is: OpenIB and

[2021-01-12 19:32] amckinstry commented on #8367
Argh. I misread, I thought I was submitting to openmpi. Moved and closing, sorry.

[2021-01-12 19:44] rajachan commented on #8334
@bosilca  With LAMMPS running on 24 ranks on a single compute node, here's what I see with the various avx level:

OMPI_MCA_op_avx_support=0
Loop time of 35.2146 on 24 procs for 100 steps with 28800000 atoms

OMPI_MCA_op_avx_support=31
Loop time of 34.8507 on 24 procs for 100 steps with 28800000 atoms

OMPI_MCA_op_avx_support=53
Loop time of 42.3577 on 24 procs for 100 steps with 28800000 atoms

D

[2021-01-12 19:47] angainor commented on #8299
NP. we use `mpirun` for now, so it's not critical.

[2021-01-12 20:05] thomasgillis commented on #8364
@devreal ok perfect, thx. I tried `MPI_Win_allocate` but the performances remain almost identical.

Could you confirm that a fence was missing in my testcase? (in order to ensure the readiness of the window memory).
Is there another, cheaper, way to do so?

Thank you for your help and your time!

[2021-01-12 21:09] jjhursey commented on #8367
@amckinstry This is the right place for Open MPI. I'll re-open this ticket.

This sounds like a good question for the UCX folks on how best to handle this in the v4.x series, and moving forward.

[2021-01-12 21:22] bosilca commented on #8334
Based on these numbers it seems we should leave the avx component enabled and with high priority on x86, but restrict it to use only AVX instructions.

[2021-01-12 21:54] edgargabriel opened #8368 "Exceeding the max. number of pending aio requests on MacOS"
Thank you for taking the time to submit an issue!

## Background information

This is a bug discovered while debugging issue #8350  Running our testsuite on Mac OS revealed that posted a large number of non-blocking read/write operations leads to an error message on this platform. A fix is already available and will be committed shortly.

### What version of Open MPI are you using? (e.g., v3.0.5,

[2021-01-12 22:17] wesbland commented on #8334
I haven't seen anything like this personally, but I can ask around with some of the other folks.

[2021-01-12 22:48] markalle commented on #6871
https://github.com/open-mpi/ompi/pull/8370  for v4.0.x
https://github.com/open-mpi/ompi/pull/8371  for v4.1.x

[2021-01-12 23:41] rajachan commented on #8334
Agreed, this sounds the safest without having to change priority.

[2021-01-12 23:54] bosilca commented on #8334
I just discuvered that the Intel compiler does not define the __AVX*__ macros without a specific -m option. Kudos to icc folks, way to go. I have a patch, I will restrict the AVX512 as well.

[2021-01-13 00:43] ggouaillardet commented on #8334
@rajachan did you bind MPI tasks to a single core (e.g. `mpirun -bind-to core ...`)?

I suspect AVX512 frequency scaling might cause unnecessary task migration that could severely impact performances.

[2021-01-13 00:51] ggouaillardet commented on #8321
@jsquyres @gpaulsen I was only able to reproduce this on a Fedora 33 (virtual) machine, and the workaround is to discard the `pml/ucx` component (built on top of the distro provided UCX).

I did not investigate more (lack of time) and could not reach a conclusion w.r.t. the root cause of this issue (Open MPI? UCX? Fedora? a combination of these?)

@opoplawski meanwhile, you might want to skip the

[2021-01-13 01:11] rajachan commented on #8334
I used the default binding policy in that last run, but there's a degradation after pinning to cores as well, just not as pronounced:

OMPI_MCA_op_avx_support=0
Loop time of 42.2022 on 24 procs for 100 steps with 28800000 atoms

OMPI_MCA_op_avx_support=31
Loop time of 42.7109 on 24 procs for 100 steps with 28800000 atoms

OMPI_MCA_op_avx_support=53
Loop time of 45.9294 on 24 procs for 100 steps wi

[2021-01-13 01:21] ggouaillardet commented on #8334
@rajachan thanks for the interesting numbers.
The degradation is indeed not as pronounced, but the absolute performance is just worst.

without the `op/avx` component, loop time increased from 35 up to 42 seconds after pinning to a core (!)

[2021-01-13 07:22] devreal commented on #8364
The upcoming MPI-4 standard will have the `mpi_minimum_alignment` info key and I proposed an implementation  a while back over at https://github.com/open-mpi/ompi/pull/7985. IIRC, UCX does not currently allow us to specify a certain alignment though. Just out of curiosity, what happens when you run with `--mca osc rdma`? You may need to rebuild OMPI with `--disable-uct-version-check` if you're usi

[2021-01-13 12:27] gothicVI commented on #4732
Thank you so much! This finally allowed me to run my stuff after way too long searching for the cause of the error.

[2021-01-13 13:21] amckinstry commented on #8367
I can silence UCX warnings (above) using:
[code]
to disable UCX by default. How can I do so in `/etc/openmpi/openmpi-mca-params.conf` ?
The equivalent `mpl_base_exclude=ucx` doesn't appear to exist.

[2021-01-13 13:56] ggouaillardet commented on #8367
@amckinstry simply add the following line in `openmpi-mca-params.conf`

[code]

that might not be enough since UCX can be used by `btl/uct` if `pml/ob1` is used, and `osc/ucx` for rdma
in that case, you also need to add
[code]
you might also consider this alternative to also avoid `btl/openib` (that issues warnings by default)
[code]

[2021-01-13 14:59] jsquyres commented on #8321
@jladd-mlnx @hoopoepg Someone from the UCX community needs to look into this.

[2021-01-13 15:00] hoopoepg commented on #8321
we can't reproduce issue on our environment :(

[2021-01-13 15:01] hoopoepg commented on #8321
300+ iterations in vieryal box VM can't identify any issues

[2021-01-13 15:01] jsquyres commented on #8367
@jladd-mlnx @hoopoepg Someone from the UCX community should probably make these messages better (i.e., it's not an error if there's no IB equipment present).  This just causes downstream packagers to disable UCX.

[2021-01-13 15:02] jsquyres commented on #8367
Another user posted a UCX error message yesterday -- I don't know if it's related or helps track this down: https://www.mail-archive.com/users@lists.open-mpi.org/msg34257.html

[2021-01-13 15:03] jsquyres commented on #8321
Another user posted a UCX error message yesterday -- I don't know if it's related or helps track this down: https://www.mail-archive.com/users@lists.open-mpi.org/msg34257.html.

[2021-01-13 15:21] hoopoepg commented on #8321
@jsquyres

on user's configuration there are different setup: on failed pair UCX is trying to use libverbs for communications, on node where it works - RC accelerated transport (RCX) - MOFED based. It seems issue is in configuration

[2021-01-13 15:33] jsquyres commented on #8321
@hoopoepg Ok.  Could someone from the UCX community please engage the user on the list?  Thanks.

[2021-01-13 15:43] hoopoepg commented on #8321
there is already reply with same point - non-unified configuration: https://www.mail-archive.com/users@lists.open-mpi.org/msg34258.html

[2021-01-13 16:14] benoitlucienjosephmarchand commented on #8327
actually all you need to do is "make CC=mpicc"

[2021-01-13 17:48] artpol84 commented on #8364
@devreal thank you for the ping.
We will check this one out

[2021-01-13 18:13] rajachan commented on #8334
Yes, that's a bit puzzling too, and should be looked at separately in addition to the AVX512 issue.

[2021-01-13 20:27] bosilca commented on #8334
We are trying to replicate these results on a single, skylake-based node, but so far we are unable to highlight any performance regression with AVX2 or AVX512 turned on. @dong0321 will post the result soon.

Meanwhile, I will amend #8372 and #8373 to remove the part where I alter the flags of the AVX component, such that we can pull in the fix for icc, but without reducing [yet] the capabilities o

[2021-01-13 21:22] thomasgillis commented on #8364
@devreal
- thx again for the check of the testcase, I remove the non-needed lock on `orig_rank`. (I am still a newbie in osc, sorry if my questions might seem straightforward).
- for the `osc rdma`, I could run on one node, but it complains about the validity of the window on multiple nodes (I assume it's due to the missing flag `--disable-uct-version-check`, I need to see with the sysadmin). I ob

[2021-01-13 23:42] cniethammer opened #8377 "Configure errors with autoconf 2.70"
Using autoconf 2.70 the configure script generated by autogen.pl is broken and aborts with
[code]
Inspecting the generated configure script there seem to be a broken function definition for `ac_fn_c_check_decl` around the reported lines messing up brackets/configure code. A second, non-broken definition of `ac_fn_c_check_decl` occures later in the configure script... looking very strange to me.

I

[2021-01-13 23:55] jsquyres commented on #8377
Looks like Autoconf 2.70 was released in Dec of 2020: https://lists.gnu.org/archive/html/autotools-announce/2020-12/msg00001.html, which contains this:

I'm guessing you ran into some of the backwards incompatibilities.

This might be painful.  Ugh!

[2021-01-14 00:09] cniethammer commented on #8377
I just gave the latest developer version of autoconf a try (https://github.com/autotools-mirror/autoconf/commit/66fdaea3cfb4e758212c1891913e9a59441d49af) as one of the commits around AC_CHECK_DECL was after the release of autoconf 2.70 (https://github.com/autotools-mirror/autoconf/commit/ec90049dfcf4538750e61d675d885157fa5ca7f8)

This runs for some lines but breaks as well:
[code]

[2021-01-14 01:28] dong0321 commented on #8334
I did the same experiments as @rajachan described.

Experiment environment:
**Single node, 24 processes --bind-to core.**
**Model name:**            Intel(R) Xeon(R) Gold 6254 CPU @ 3.10GHz
**Flags:**  ssse3 sse4_1 sse4_2 avx avx2  avx512f avx512dq avx512cd avx512bw avx512vl avx512_vnni
**combination of processor capabilities** as follow SSE 0x01, SSE2 0x02, SSE3 0x04, SSE4.1 0x08, AVX 0x010, AVX2

[2021-01-14 04:37] ajayp1 commented on #8327
For whatever reason, I could not simply export CC=mpicc. I had to specify the full path of mpicc and then specify the RPATH. Not sure why

[2021-01-14 05:43] hakasapl opened #8378 "MPIRun Hangs after Slurm 20.11 Update"
## Background information
I'm running an HPC slurm cluster. Recently, we updated to slurm 20.11. I was aware of the openmpi changes going into it. However, an unexpected problem arose. When running mpirun on an interactive srun job for at least two nodes, it just hangs.

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.0

### Describe how Ope

[2021-01-14 06:58] benoitlucienjosephmarchand commented on #8327
I meant to use "make CC=mpicc" when building the package, not to "export CC=mpicc".  There's an issue with the latest hdf5 parallel build where it uses CC to compile parallel IO libraries.

[2021-01-14 15:51] jsquyres commented on #8378
Please see https://www.open-mpi.org/faq/?category=slurm#slurm-20.11-mpirun.  Does this help?

FYI: @wickberg

[2021-01-14 15:53] hakasapl commented on #8378
I have seen that page but nothing there helps me. It's not that my job is killed or runs slowly, mpirun just doesn't run at all. Hangs the moment I run it. I'm using pmi2 in slurm.

[2021-01-14 16:08] jsquyres opened #8379 "UCX and MPI one-sided in v4.1.0"
From https://www.mail-archive.com/users@lists.open-mpi.org/msg34261.html:

FYI @loveshack

[2021-01-14 16:31] hoopoepg commented on #8379
Hi

I tried to send e-mail to original thread, but it was rejected... So, duplicate it here:

Thank you for bug report.

Could you describe your system:

- What OS is used? How OMPI/UCX were installed
- Is your application launched on single node or multiple nodes were used
- What is command line?
- Could you also provide output from commands:
[code]

Thank you

[2021-01-14 17:46] mathomp4 commented on #8350
@jsquyres Can you help me out with a little C to do that. I think I might be able to figure out how to get gdb working (maybe?) but I'm a Fortran programmer and my C is very slight (I mean, I can crash programs, but doing something more than that is a lot of StackOverflow).

[2021-01-14 18:36] puneet336 commented on #8358
Default gcc verion was gcc 8 with centos 8.
when i load gcc10, this error goes away and compilation works fine.

[2021-01-14 18:40] loveshack commented on #8379
The problem is #8102.

However, I mis-remembered that osc=ucx came from the ucx doc, apologies.
That just says you must avoid the uct btl, which OMPI 4.1 still builds
and uses.  I realize that with btl ^uct, at least that failure goes
away.

[2021-01-14 18:44] loveshack commented on #8102
I found I can avoid this with btl ^uct following the UCX doc, at least with OMPI 4.1, which still builds and uses it by default.

[2021-01-14 23:19] dshrader opened #8381 "enhance libpsm2 version check to allow building against older libpsm2 under certain circumstances"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

4.1.0 release tarball

### Please describe the system on wh

[2021-01-14 23:25] rhc54 commented on #8381
@mwheinz Any thoughts?

[2021-01-14 23:55] hakasapl commented on #8378
I'm not sure how to proceed. Does openmpi have any logs I can examine/share other than the strace? I couldn't make much sense of the strace, it just hangs on poll().

Please let me know if I can provide additional information.

[2021-01-15 15:05] mwheinz commented on #8381
Which release of RHEL 7? We definitely continue to support the current version of PSM2 for RHEL 7.8 and 7.9.

Have you considered grabbing the latest release of PSM2 from https://github.com/cornelisnetworks/opa-psm2 and using that?

[2021-01-15 15:25] dshrader commented on #8381
We're running RHEL 7.8 on our HPC clusters, but we don't pull rpms directly from RedHat update servers. On a RedHat 7.9 machine that is pulling from RedHat update servers, the latest libpsm2 that I can pull is 11.2.78-1.

For this scenario, I am actually building Open MPI 4.1.0 for the general user base of our HPC clusters. We have considered providing hardware communication libraries such as libp

[2021-01-15 15:35] mwheinz commented on #8381
In that case I should warn you that there's a known bug with 4.1.0 and PSM2 that will prevent you from working at all. The fix is going to be in 4.1.1.

[2021-01-15 16:15] dshrader commented on #8381
Which bug? For my own testing, I patched the version check out of 4.1.0's configure and one of the psm2 mtl files, and built with only the psm2 mtl enabled, and I was able to run the Intel MPI Benchmark suite as well as I normally could. I'm curious about what workload I may be missing in my testing...

[2021-01-15 16:38] mwheinz commented on #8381
#8305.

Another way to get a newer PSM would be to get the latest IFS package from (checks notes) [Intel's website](https://www.intel.com/content/www/us/en/design/products-and-solutions/networking-and-io/fabric-products/omni-path/product-releases-library.html). (We're still in the process of transitioning back to being an independent company so things are in flux right now...)

[2021-01-15 16:38] mwheinz commented on #8381
All that said, I'm not entirely opposed to your request - if you want to submit a patch we can take a look at it.

[2021-01-15 16:42] rhc54 commented on #8381
@mwheinz Just FYI: @dshrader is using the PSM MTL, not the OFI one, and so #8305 does not apply.

[2021-01-15 17:57] jsquyres commented on #8321
@hoopoepg Can you please reply to your customer on the list?  He already emailed me off list asking why no one has replied yet.  Thanks.

[2021-01-15 18:17] rajachan commented on #8334
I'm talking to George offline about this. I am setting up a test cluster for @dong0321 to check out the differences between our two runs. We will report back with findings.

[2021-01-15 18:36] jsquyres commented on #8378
Can you try the steps listed here: https://www.open-mpi.org/faq/?category=running#diagnose-multi-host-problems

(obviously the `ssh`-related stuff in there is not relevant, but the idea of testing with a non-MPI program, etc. is relevant)

In addition to that, try running with `mpirun --mca plm_base_verbose 100 --mca ras_base_verbose 100 --mca rss_base_verbose 100 --mca rmaps_base_verbose 100 ...`

[2021-01-15 18:56] jsquyres commented on #8350
I forgot!  We have some MCA parameters to help out in exactly these scenarios -- so: no C code needed!  😄

From https://www.open-mpi.org/faq/?category=debugging#debug-ompi-controls:

* Try running with `mpirun --mca mpi_abort_print_stack 1 ...` and see if it prints the stack out nicely for you.
* Failing that, run with `mpirun --mca mpi_abort_delay -1 ...` and it will show you the hostname/PID tha

[2021-01-15 19:16] hakasapl commented on #8378
Using the host flag, I'm able to get an output on the node I'm on, but not on the node I'm not on. (this is an srun job allocated to nodes 19 and 20, I'm on node19).

[code]

That srun error seems promising. Slurm isn't allowing the srun command launched by mpirun to create a job step because that node is busy. Not sure why it would be flagging it as busy though.

If it makes a difference, we are

[2021-01-15 19:17] hakasapl commented on #8378
This is how I'm launching the srun job: `srun -p cpu --nodelist=node[19,20] -N 2 -n 8 --pty bash`

[2021-01-15 19:26] jsquyres commented on #8378
Oh -- the results from running `hostname` may well be telling.

Is node 20 actually in your job and available?  E.g., if you `srun hostname`, does it actually run on both nodes 19 and 20?  If it hangs while trying to run on 20, that would likely be effectively the same thing that's happening to Open MPI (because `mpirun` uses `srun` under the covers to launch on other nodes in your SLURM job).

[2021-01-15 19:29] hakasapl commented on #8378
Yes:
[code]

Both nodes work for non-mpi jobs.

[2021-01-15 19:33] hakasapl commented on #8378
This also works:

[code]

[2021-01-15 19:49] jsquyres commented on #8378
Ok, let's try this... in your `srun -p cpu --nodelist=node[19,20] -N 2 -n 8 --pty bash` job, try to run (effectively) the same command that `mpirun` is invoking to launch on node 20.

This is what `mpirun` tried to launch:

[code]

We obviously don't want to run `orted` here, so just try running:

[code]

[2021-01-15 20:01] hakasapl commented on #8378
That command just hangs:

[code]

This leads me to believe this is definitely a slurm issue, though I don't know what has changed that is causing slurm to disable job step creation.

[2021-01-15 20:05] rhc54 commented on #8378
Try removing the `--ntasks-per-node` option and see if that helps

[2021-01-15 20:05] rhc54 commented on #8378
Basically, I'm suggesting you remove one of those options at a time until we can identify the one causing the problem

[2021-01-15 20:12] mathomp4 commented on #8350
@jsquyres Unfortunately, that didn't seem to help. If I added `mpi_abort_print_stack` I got:
[code]
with nothing new.

So, after spending much of the day learning [how to get freaking `gdb` working on macOS](https://sourceware.org/gdb/wiki/BuildingOnDarwin) I did get a working `gdb`. So I tried running with `mpirun -np 6 xterm -e gdb ./GEOSgcm.x` but then things get weird. It throws up 6 xterms, a

[2021-01-15 20:24] hakasapl commented on #8378
[code]
That command hangs the same. Getting rid of "nodelist" also causes a hang.

When I get rid of the --ntasks parameter, it prints this:
[code]

[2021-01-15 20:31] rhc54 commented on #8378
Sorry to have you playing "whack-a-mole", but try leaving the `--ntasks-per-node` and removing `--ntasks`

[2021-01-15 20:33] rhc54 commented on #8378
srun: error: Unable to create step for job 1333693: More processors requested than permitted

Hmmm...you know, I wonder if you specified only 1 core/node in your allocation request? That might be the root cause here - I believe Slurm changed their cmd line so that it defaulted to 1 core/node. Might want to check that out.

[2021-01-15 20:40] hakasapl commented on #8378
[code]

[2021-01-15 20:51] rhc54 commented on #8378
Yeah - what was your `salloc` cmd to get that allocation? I think that is where the problem begins.

[2021-01-15 21:00] jsquyres commented on #8350
You don't need the gdb/xterm approach - just `mpirun --mca mpi_abort_delay -1 ...your normal mpirun params..`.

When the abort occurs, it'll just sit there, and there's messages with the PIDs of the MPI processes on the screen.  You can just `gdb --pid <the_pid>` and you should attach to the process with PID `<the_pid>`.  Then you can `bt` to get a backtrace.

[2021-01-15 21:09] The9Cat commented on #8378
I simply used `srun` to make the allocation.  If I use `salloc` to get the same allocation followed by `srun --jobid xxxx`, the behavior is the same.  I'm probably missing your point here, sorry.

[2021-01-15 21:21] mathomp4 commented on #8350
I just tried that:
[code]
and it doesn't halt or anything. It just screams on through and never stops...

[2021-01-15 22:07] rhc54 commented on #8378
So here's the problem. In 20.11, Slurm changed their allocation methods. I won't go into all the gory details as it gets very confusing. Suffice to say that SchedMD got yelled at a lot by people encountering all kinds of problems such as this one, and the change has been backed out. They are *strongly* advising everyone to skip 20.11.0 and jump to 20.11.3, which has the reversion in it.

I suggest

[2021-01-15 22:30] hakasapl commented on #8378
We are currently running 20.11.2, which is the latest release on github and their website. Is there another location I'm missing that has the .3 release?

If not, we will have to revert back to 20.02.

[2021-01-15 22:32] rhc54 commented on #8378
I'm afraid I don't know - could be that .3 release is imminent? If you don't see it, then it hasn't come out yet.

[2021-01-15 22:34] hakasapl commented on #8378
Okay, we will revert to 20.02.6 for the moment. I'll let you know if that fixes the issue on this thread. Thank you for all the support!

[2021-01-15 22:39] The9Cat commented on #8378
Looks like 20.11.3 is on github but not officially released yet.

Thanks, @rhc54!

[2021-01-15 23:29] rajachan commented on #8334
I had a vanilla build of OMPI, but @dong0321 had `CFLAGS=-march=skylake-avx512` set in his configure, which is what was causing the difference. He has since reproduced my results with a vanilla build. I'll let him post his resulls.

[2021-01-16 03:43] ggouaillardet commented on #8350
@mathomp4 this is the failing test

[code]

I'd like to suggest you build Open MPI with `--enable-debug` and then rebuild your application.
Then, after `MPI_Init()` completes, print the value of `ompi_mpi_state`, its address, and set a watchpoint.
Then continue the program and see what happens ...
If this value is modified, get a stack trace and check if it makes sense. If not, that likely points

[2021-01-16 06:36] hoopoepg commented on #8321
I can't - server rejects my answers

[2021-01-18 09:41] jeorsch commented on #7642
I am not really sure, if it is really related, but I observed occasional errors in the init process when using vader BTL.

Here is how to reproduce:
[code]

Compile and run **many** instances in a loop:
`for i in $(seq $(nproc)); do (while true; do mpirun -oversubscribe -np $(nproc) ./a.out; done)& done`

This results in occasional errors:
[code]

When using only TCP and self BTL I observed no suc

[2021-01-18 17:31] marcindulak commented on #8321
Can we link the fedora bugzilla issue here after this is confirmed? Is this related to https://bugzilla.redhat.com/show_bug.cgi?id=1892128?

[2021-01-18 23:48] KyuzoR opened #8385 "MPI_Comm_spawn and UCX"
## Background information

[code]
[code]
[code]
[code]
[code]

-----------------------------

## Details of the problem

C code: test_mpi.c
[code]

Compile&Run
[code]
Sometime I get
[code]
which is, except for the four `UCX ERROR` lines, the expected output. But sometime I get
[code]

Same result even without specifying ` --mca pml ucx -x UCX_NET_DEVICES=mlx5_0:1`

[2021-01-19 01:20] hakasapl commented on #8378
Downgrading to `20.02.6` did the trick. Thanks for all the support!

[2021-01-19 01:20] #8378 closed

[2021-01-19 14:51] jjhursey commented on #7486
Ref #8384
I _think_ we might be ready to tackle this? I was waiting on an all clear from Biran. I'll bring it up on today's call.

[2021-01-19 16:20] jeorsch commented on #7642
It seems like the error triggered by the minimal reproducer is fixed in 4.1.0. However, it is still an issue for 4.0.5.

[2021-01-19 16:51] jeorsch commented on #7642
4.0.6rc1 also seems to fix the error for the minimal reproducer. Possibly due to the PMIx update?

I will try to install 4.1.0 on out CI build system to see, if the errors in production are also fixed. Since they used to happen not too frequently, I have to wait some weeks to be able to assess if the issue is solved.

[2021-01-19 16:57] bosilca commented on #8102
Something is weird with your install. The configure command posted here specifically points to UCX 1.9 as the underlying UCX stack, but the UCT BTL prohibit anything [higher than 1.8](https://github.com/open-mpi/ompi/blob/53bb30f6d163c09d117f781763fe9034cf03c66a/opal/mca/btl/uct/configure.m4#L55) to be used. I wonder how the UCT BTL got compiled in.

[2021-01-19 17:26] bosilca commented on #8379
The UCT BTL is only built with a version of UCX prior to [1.9](https://github.com/open-mpi/ompi/blob/53bb30f6d163c09d117f781763fe9034cf03c66a/opal/mca/btl/uct/configure.m4#L55). What version of UCX are you using here ?

[2021-01-19 18:43] wreckdump commented on #8377
I am having the same issue. Any plans on updating the autogen.pl with up-to-date autoconf macros..? I would guess this would be a pain...

[2021-01-19 19:13] hppritcha commented on #8321
I've tried to reproduce this on a RHEL7.6 system using UCX 1.8.1 and OMPI 4.0.4 and using the UCX_TLS transports that are available for the VM setups discussed so far and am unable to reproduce.  An interesting experiment would be to build UCX and OMPI on a fedora system and see if the problem is still observed.

[2021-01-19 19:13] jsquyres commented on #8377
@wreckdump It's being worked on, but slowly (i.e., not a high priority).  Given that Autoconf deliberately introduced backwards incompatibilities, I think downstream distro packagers are going to have a heckuva time figuring out when to upgrade their bundled copies of Autoconf.  ☹️

For the moment, it would be best to simply use an older Autoconf.

[2021-01-19 21:40] dalcinl opened #8391 "Generalized Request regresion"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

4.1.0

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Distribution tarball

`./configure --prefix=... --enable-deb

[2021-01-19 21:50] bosilca commented on #8391
I think issue has been already addressed in #8340.

[2021-01-19 21:52] dalcinl commented on #8391
Yes, looks like this one is a duplicate, sorry for the noise.

[2021-01-19 22:04] cniethammer commented on #8377
The fix for this can be found in PR #8393.
A bit of cleanup of some obsolete macro warnings along the way can be found in #8392

[2021-01-20 01:42] zhngaj opened #8395 "OMPI configuration failure with master branch and libfabric enabled"
With OMPI master branch (1faba6589e (HEAD -> master) Merge pull request #8382 from rhc54/topic/mst) and libfabric enabled, I encountered configuration failure when building submodule openpmix.

**git log:**
[code]

**submodule status:**
[code]
**Configure command:**
[code]
**Configure error:**
[code]

I narrowed the issue down to PR #8382 specifically, and looks like the it's related to the change

[2021-01-20 01:53] zhngaj commented on #8395
The configuration works fine when using 206c8131c5 as HEAD, and the following submodules.
[code]
[code]

[2021-01-20 02:27] ggouaillardet commented on #8395
@zhngaj can you please compress and post your `3rd-party/openpmix/config.log` file?

[2021-01-20 02:53] zhngaj commented on #8395
@ggouaillardet here is 3rd-party/openpmix/config.log
[config.log](https://github.com/open-mpi/ompi/files/5839855/config.log)

[2021-01-20 03:27] ggouaillardet commented on #8395
It looks like there is no `/fsx/libfabric/install/lib64/libfabric.so` nor `/fsx/libfabric/install/lib/libfabric.so`.
Can you please confirm the content of these directories?

[2021-01-20 03:29] rhc54 commented on #8395
@ggouaillardet I copied the ofi m4 code from OMPI over the weekend as we needed to detect if libfabric was around. It worked fine for me in my test VM, but that has libfabric in the default locations. I wonder if this is also a problem in OMPI master? If not, then I wonder why the difference. There is some configure code for passing arguments down to the 3rd party packages - perhaps something is m

[2021-01-20 03:38] ggouaillardet commented on #8395
I just checked the code and at first glance it looks good to me.
I noted there is no `-L/fsx/libfabric/install/lib64` in the gcc command line (!).
`LDFLAGS` is set in the code, but it looks like `AC_SEARCH_LIBS` ignores it ...
FWIW, `CPPFLAGS` is set and used by `AC_CHECK_HEADERS`.

@zhngaj which `autoconf` version did you use?

[2021-01-20 04:05] ggouaillardet commented on #8395
never mind, same issue here with `./configure --with-libfabric=...` invoked from `3rd-party/openpmix`

[2021-01-20 04:08] wreckdump commented on #8377
@cniethammer It works! I'll also look into the cleanup. Much obliged!

[2021-01-20 04:19] ggouaillardet commented on #8395
oh I see ...

first we test without any `$LDFLAGS`
[code]
and it fails (obviously)

then we try with `LDFLAGS=-L/fsx/libfabric/install/lib64`

[code]

except we try nothing but use the result we just cached (so it's yet an other no ... without even trying)

the logical conclusion is this never worked ... and yet it did, so I must be missing something here.

[2021-01-20 05:07] zhngaj commented on #8395
@ggouaillardet I can confirm /fsx/libfabric/install/lib and .so files are there.

So you mean even though it looks for library in /fsx/libfabric/install/lib eventually, but it's still using the cached result (based on the test without any `$LDFLAGS` previously), which will never work. Is that correct?
[code]

[2021-01-20 05:07] ggouaillardet commented on #8395
It never worked because we likely never ran into this before.
I mean `PMIX_CHECK_PACKAGE()` is not called with a non empty `prefix` **and** an emptry `libdir-prefix`.
I mimicked `pmix_setup_libev.m4` and came with this patch (to be applied on openpmix)

[code]

[2021-01-20 05:09] ggouaillardet commented on #8395
Note if `$with_ofi/lib` exists but the right library is in `$with_ofi/lib64`, I suspect the test will fail because only the former is given a try.

[2021-01-20 05:11] ggouaillardet commented on #8395
@zhngaj the inline patch above should fix the issue (at least as far as `openpmix` and `libfabric` are concerned)

[2021-01-20 05:29] zhngaj commented on #8395
Thanks @ggouaillardet, it makse sense to me.

One minor thing: It should be `AC_MSG_RESULT([Could not find $with_ofi/lib or $with_ofi])` instead of `AC_MSG_RESULT([Could not find $with_ofi/lib or $with_ofi/`.

[2021-01-20 05:31] ggouaillardet commented on #8395
@zhngaj thanks for spotting the lines were truncated, I edited the patch to fix that.
(fwiw, it was meant to be `... or $with_ofi/lib64`)

[2021-01-20 05:38] zhngaj commented on #8395
Yep.
Since we found the issue, and the fix will be applied to openpmix, close the issue.

[2021-01-20 05:38] #8395 closed

[2021-01-20 14:57] edgargabriel opened #8398 "mpich testsuite MPI I/O fixes"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master, v4.0, v4.1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

github/any installation source

### If you are

[2021-01-20 15:01] #8368 closed

[2021-01-20 15:41] #8391 closed

[2021-01-20 16:08] amckinstry opened #8402 "MPI Generalized requests failing on 4.1.0"
This is on Debian unstable, with OpenMPI 4.1.0 in MPI4PY (3.0.3) test suite.

The errors we're seeing are here:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=979480

The tests work with openmpi 4.0.5.

In both cases the /etc/openmpi/openmpi-mca-params.conf has:
[code]
to allow testing on single node systems (This is with oversubscription enabled).

Failed case uses pmix 4.0.0, working case use

[2021-01-20 16:16] rhc54 commented on #8402
Just to be clear: are you saying the OMPI v4.1.0 passes these tests if configured with PMIx v3.2.2, but fails if configured with PMIx v4.0.0? There as a bug in generalized requests that has been fixed on the branch, but that had nothing to do with PMIx (AFAIK).

[2021-01-20 16:16] amckinstry commented on #8402
A quick test shows trying 4.1.0 with pmix 3.2.2 doesn't fix it

[2021-01-20 16:17] amckinstry commented on #8402
So something has changed in 4.0.5 -> 4.1.0 (or our related config)

[2021-01-20 16:21] jsquyres commented on #8402
This was fixed in #8340.

[2021-01-20 16:22] jsquyres commented on #8402
To clarify: this was reported in #8340 and fixed in the v4.1.x branch in #8348.

[2021-01-20 16:59] akjt opened #8403 "Cluster simulation suddenly crashed saying problems with IB connection"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
We are using 4.0.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installed from source  ompi_info:
                Package: Open MPI ttgjp@bigbird.localdomain Distr

[2021-01-20 18:19] amckinstry commented on #8402
This solves the issue for us.

[2021-01-20 18:19] #8402 closed

[2021-01-20 18:42] jsquyres commented on #8402
@amckinstry Excellent. FYI: we only have one or two more things before we plan to roll a v4.1.1rc.  Should be "Real Soon Now".

[2021-01-20 22:07] #7199 closed

[2021-01-20 22:15] kholland-intel opened #8407 "Remove PMIx requirement from opal_check_ofi.m4"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone

### If you are building/installing from a git clon

[2021-01-20 22:47] jjhursey commented on #7486
I got the all-clear from Brian that nothing more is expected. I have a branch in progress for this that I hope to have up this week.

[2021-01-21 14:32] gpaulsen commented on #6941
@jladd-mlnx Can you please re-check the status of this?

[2021-01-21 14:46] gpaulsen commented on #7660
Need to re-test with ompi master / prrte master.

[2021-01-21 14:47] gpaulsen commented on #7676
Is this still and issue?

[2021-01-21 15:04] gpaulsen commented on #7937
@rhc54 Has this been fixed in master yet?

[2021-01-21 15:42] jsquyres commented on #7676
I just built master with Ubu 20.04 in a VM.  Looks like this has been fixed.  Closing.

[2021-01-21 15:42] #7676 closed

[2021-01-21 15:43] rhc54 commented on #7937
Not yet

[2021-01-21 18:33] awlauria commented on #8321
Tried running this in a rhel8.1 container, and found that I could not reproduce with the latest ucx 1.9, but could reproduce with 1.8.1, which it appears  @ksiazekm is using.

@ksiazekm can you try upgrading to ucx 1.9 and see if it goes away?

[2021-01-21 18:51] bosilca commented on #7690
I do not recall the specifics of this discussion. Looking in the smcuda BTL at what we do with the NUMA locality information it seems unnecessary to bother find it in an accurate way, simply because we never use it. If someone else can confirm that I correctly understood the code path, we should demote, or even completely scrap, this issue.

[2021-01-21 18:56] rajachan commented on #7690
@Akshay-Venkatesh, for comment.

[2021-01-22 17:09] louisespellacy-arm commented on #7757
Is there any update on this issue? This issue persists with OpenMPI 4.1.0 recently released and PGI 20.1.

orted_submit.c is still being compiled with -O3.

[2021-01-22 17:23] awlauria commented on #7757
@louisespellacy-arm sorry, this slipped through the cracks. I'll take a look.

[2021-01-22 17:47] louisespellacy-arm commented on #7757
Attempted to fix the above issue with the following changes but unsure if its the best approach:
`diff --git a/orte/orted/Makefile.am b/orte/orted/Makefile.am
index 1235e51e69..7523cc5336 100644
--- a/orte/orted/Makefile.am
+++ b/orte/orted/Makefile.am
@@ -19,6 +19,8 @@
 #
 # $HEADER$
 #
+CFLAGS = $(CFLAGS_WITHOUT_OPTFLAGS) $(DEBUGGER_CFLAGS)
+#

 # This makefile.am does not stand on its own - it

[2021-01-23 12:34] jjhursey commented on #7486
## Problem

 * We need to automatically pull in all/most of the configure options for each of the 3rd party projects.
 * Hardcoding such a list is not sustainable for a variety of reasons.
 * The 3rd party might add a configure option that conflicts with an OMPI option or another 3rd party's configure option.
 * We cannot force a 3rd party to adjust their configure options based on our needs espec

[2021-01-23 12:43] jjhursey commented on #7486
I created a draft PR in #8409 with the design above.
The exclude file needs to be refined a bit more and hwloc/libevent need to be re-enabled in `autogen.pl`, but otherwise it is functional if you want to play around with it for PMIx/PRRTE.

[2021-01-23 13:06] fxcoudert opened #8410 "Build failure on Apple Silicon"
## Background information

### What version of Open MPI are you using?

4.1.0 from official sources

### Please describe the system on which you are running

* Operating system/version: macOS 11
* Computer hardware: Apple Silicon (aarch64-appel-darwin20)
* Compiler: clang 12 (from Apple)

-----------------------------

## Details of the problem

https://github.com/Homebrew/homebrew-core/pull/67367

[2021-01-23 14:52] fxcoudert commented on #8410
`--disable-builtin-atomics` as suggested by @ggouaillardet does not avoid the issue

[2021-01-23 14:59] hjelmn commented on #8410
Hmmm. Let me take a look. master builds fine on the M1 but I rarely ever build releases.

[2021-01-23 17:04] bwbarrett commented on #7486
I think we should kill the PR.  I think Jeff's original issue is incorrect.  THe right way to handle this in Autoconf is to use --help=recursive.  All those options still have meaning to recursive packages, and there is an existing, Autoconf-approved way of seeing them today, without all the extra code.

I also really want to understand the renaming idea; that seems very bad, and we intentionally

[2021-01-23 18:18] rhc54 commented on #7486
I wouldn't do the renaming - I agree with that concern.

The problem is that the world out there (a) doesn't know or care that OMPI suddenly added submodules, and therefore (b) doesn't know that they now have to do something different than normal for discovering the configure options. We had questions coming in (some actually from Amazon!) about OMPI suddenly removing RTE options and concerns that

[2021-01-24 04:04] ggouaillardet commented on #8410
@fxcoudert thanks for the report.

the logs you posted are related to `PMIx` using the GCC builtin atomics.
did you use `--disable-builtin-atomics` to generate them?

if so, the error might be that Open MPI does **not** pass `--disable-builtin-atomics` to PMIx `configure`
(you can check that in `opal/mca/pmix/pmix3x/pmix/config.status`)

[2021-01-24 04:06] hjelmn commented on #8410
@ggouaillardet We shouldn't be failing even without that option. The gcc builtins are inferior on Apple Silicon so they should really be disable on AArch64 in v4.1.0. For master C11 should be used.

[2021-01-24 04:10] hjelmn commented on #8410
I really need to refactor the atomic support. Even when using C11 I still want the LL/SC atomics to be available. The LL/SC lifo/fifo implementations are ~ 2x the speed of the CAS128 implementations. C11 and builtins do not provide direct access to them.

[2021-01-24 04:20] hjelmn commented on #8410
Hmm, the v4.1.x branch builds just fine for me.

[code]

[2021-01-24 22:16] fxcoudert commented on #8410
With run configure with `./configure --prefix=/opt/homebrew/Cellar/open-mpi/4.1.0 --disable-dependency-tracking --disable-silent-rules --enable-ipv6 --enable-mca-no-build=op-avx,reachable-netlink --with-libevent=/opt/homebrew/opt/libevent --with-sge --disable-builtin-atomics`, with clang as C compiler and gfortran as Fortran compiler

[2021-01-25 00:41] hjelmn commented on #8410
@fxcoudert Odd. I will try to build with all those options but fortran. It is a cancer on MPI :) and shouldn't have an impact on building PMIx.

[2021-01-25 00:46] hjelmn commented on #8410
What I may do is update just v4.0.x and v4.1.x to never select the builtins for AArch64. master will get an update to not use CAS128.

LL/SC:
[code]

CAS128:
[code]

Not even a contest.

[2021-01-25 01:00] hjelmn commented on #8410
Simlarly bad with opal_fifo:

LL/SC
[code]

CAS128:
[code]

[2021-01-25 13:12] jjhursey commented on #7486
* It's (very much) too bad that this objection was not raised during the community teleconf, when I updated the ticket to say I was working on it, nor when I asked Brian for the all-clear to start on it. It would have saved me a couple of valuable days of work that, in retrospect, I should have spent on other things. I'll factor that in the next time I take an issue from the community to work on.

[2021-01-25 15:26] fxcoudert commented on #8410
I've uploaded our full build log at https://gist.github.com/fxcoudert/0710566fc631546b7a5ad496dabcb747
so you can check what is happening.

One weird thing is `checking for builtin atomics... BUILTIN_GCC` because we're using clang as C compiler.

[2021-01-25 15:43] hjelmn commented on #8410
@fxcoudert That is because clang implements the gcc builtin atomics (```__atomic_*```). I think we defaulted to the builtins for v4.x. This appears to have been a mistake for AArch64 as the performance is definitely worse.

[2021-01-25 16:00] bwbarrett commented on #7486
To be clear, I said that I was not working on anything in the 3rd party code right now, not that I thought this was a good idea.  I thought I made it pretty clear I had no idea what was going on, other than seeing my name go by in a proposal.

I'm one person, who raised objections to the PR because it's not how Autoconf expects packages to work.  Maybe we still should do the argument forwarding.

[2021-01-25 16:26] dong0321 commented on #8334
I reproduced Raja's results on **skylake   Intel(R) Xeon(R) Platinum 8124M CPU @ 3.00GHz**
This result shows that  AVX512 is decreasing the perfs, avx2 is not.

~/opt/ompi/4.1.x/bin/mpirun  --mca op avx --mca op_avx_support **0xfff** --bind-to core -np 24 path/lmp_mpi -in /path/in.chute.scaled -var x 30 -var y 30
Loop time of 40.3812 on 24 procs for 100 steps with 28800000 atoms

~/opt/ompi/4.1.x/

[2021-01-25 16:32] dong0321 commented on #8334
We did another approach that takes the reduce_local and replace the local reduce by an allreduce on MPI_COMM_WORLD() with unaligned and aligned data.  It shows no performance decrease. This is on cascade lake Intel(R) Xeon(R) Gold 6254 CPU @ 3.10GHz

Test with allreduce aligned and unaligned.  The result shows AVX is still faster than non-AVX.
This is the output from rank 0 with 24 processes.
[6:3

[2021-01-25 16:35] rajachan commented on #8334
@dong0321 Can you repeat this test on the Skylake system where we reproduced the impact on LAMMPS?

[2021-01-25 16:51] jjhursey commented on #7486
There are a small number of people familiar enough with the build system to do this work, and thus have opinions about how it should function. All I ask is that you take care in the future either directly or indirectly green lighting a ticket like this, especially if there is more context to add (i.e., your prior conversation with Ralph about this topic) so folks don't waste time. It was not clear

[2021-01-25 17:25] dong0321 commented on #8334
allreduce results on skylake Intel(R) Xeon(R) Platinum 8124M CPU @ 3.00GHz
AVX is faster than non-AVX.
This is the output from rank 0 with 24 processes.
[code]

[2021-01-25 17:37] bosilca commented on #8046
@jsquyres are you still seeing these failures or can we close this issue ?

[2021-01-25 20:26] jsquyres commented on #8046
Works now!  Closing.

[2021-01-25 20:26] #8046 closed

[2021-01-25 21:52] marisaroman-cornelisnetworks opened #8414 "PSM2 envvars show different labels but they all refer to the same one"
OMPI_MCA_orte_precondition_transports refers to the same as OPA_TRANSPORT_KEY and  PMIX_MCA_opa_precondition_transports.

when running on RHEL 8.2, it shows:
[code]

### If you are building/installing from a git clone, please copy-n-paste the output from `git submodule status`.
mroman@cn-priv-09:~/openmpi/ompi$ git submodule status
 dcf16079252d1d05b6de5502f822573b2fd9514a 3rd-party/openpmix (v1.1

[2021-01-26 07:12] ggouaillardet commented on #8410
@hjelmn

from the logs posted by @fxcoudert I noted:

[code]

I quickly checked `config/opal_config_asm.m4`, and indeed, we do not support M1:

[code]

right after,

[code]

so we could have two issues in Open MPI:
 - M1 (e.g. `host=arm-apple-darwin20.2.0` is not supported
 - we (seem to) fallback to builtin atomics, even if `--disable-builtin-atomics` was passed on the `configure` command line

[2021-01-26 10:28] fxcoudert commented on #8410
The triplet for that arch should not be `arm-apple-darwin20.2.0` but `aarch64-apple-darwin20.2.0` (https://github.com/gcc-mirror/gcc/blob/5a36cae275ad84cc7e623f2f5829bdad767e3f6a/config.guess#L1345)

Therefore `config.{guess,sub}` need to be updated: https://www.gnu.org/software/gettext/manual/html_node/config_002eguess.html

[2021-01-26 11:58] ggouaillardet commented on #8410
@fxcoudert thanks for the pointer!

@jsquyres any advice on how we should handle that?

my best bet is we should patch `config.{guess, sub}` the same way we patch `configure` to correctly handle third party dependencies.

[2021-01-26 16:01] jsquyres commented on #8410
Just to be clear -- are we saying that the upstream `config.sub` / `config.guess` files include the now-correct notation `aarch64-apple-darwin20.2.0`?

If so, we should probably stash copies of them in our git repo and just `cp` them to the appropriate places during `autogen.pl`.  We *used* to do something like this (we would `wget` the most recent `config.*` files during `autogen`, but that's not

[2021-01-26 16:04] jsquyres commented on #8350
@mathomp4 Have you been able to make any progress on this, perchance?

[2021-01-26 16:05] jsquyres commented on #8379
@loveshack Can you reply?  Thanks!

[2021-01-26 16:11] bwbarrett commented on #8410
I don't think we should include config.guess and config.sub in git.  One day, autoconf's will be newer and then we'll have a real problem.  There is a timestamp in the files, so we may be able to cover that.  But it still seems a little awkward.

We used to grab the latest config.guess/sub as part of building a tarball, although it looks like we no longer do.  That seems much better than trying to

[2021-01-26 16:19] jsquyres commented on #8321
@ksiazekm Can you provide some more details?

* Are you using one computer, or multiple computers?
* If using multiple computers, what kind of network / protocol are you using?  (E.g., InfiniBand?  Ethernet/TCP?  Ethernet/RoCE?  ...?)

[2021-01-26 16:21] bwbarrett commented on #8410
I did verify that the config.guess we ship with OMPI tarballs (which is the one included with Autoconf 2.69) returns `arm-apple-darwin20.2.0`.  The latest config.guess in Savannah returns `aarch64-apple-darwin20.2.0`.  So it looks like we do need to pull config.guess/config.sub, at least when building tarballs.

[2021-01-26 16:32] jsquyres commented on #8410
As noted on the Jan 26: we will also need to apply (at least the `config.*` files) in PMIx and PRRTE.

[2021-01-26 16:36] jladd-mlnx commented on #8367
@janjust

[2021-01-26 16:37] jladd-mlnx commented on #8367
@yosefe

[2021-01-26 16:46] jsquyres commented on #8367
@open-mpi/ucx FYI.

[2021-01-26 16:46] awlauria commented on #8321
To add a little more context,

- I did verify that ucx was being used.
- I found it failed with UCX v1.8.1 but worked with 1.9
- It was consistent behavior as described in https://www.mail-archive.com/users@lists.open-mpi.org/msg34258.html
IE. it worked when I added these mpirun lines:

[code]
and failed otherwise.

[2021-01-26 17:04] ksiazekm commented on #8321
@awlauria I will test it with ucx 1.9 when it will be available by official Fedora upgrade.
@jsquyres I use single machine.

[2021-01-26 17:17] jsquyres commented on #8321
@open-mpi/ucx FYI

[2021-01-26 17:19] jsquyres commented on #8410
@bwbarrett and I talked offline.  I'll go make a PR to do what was described above: stash known good copies of `config.*` in Open MPI's git repo, and during `autogen`, do the version compare, and if the stashed versions are newer, copy those in over what `autoconf` installed.

[2021-01-26 17:33] jsquyres opened #8416 "Add cherry-pick checker to CI"
This has been on my to-do list for a long time.  I prototyped it out and have something nearly ready.

Here's the goals:

1. If a `(cherry picked from commit abc123)` message is found in a git commit message, verify that that commit actually exists in the main Open MPI repo.  If it doesn't, fail the CI test.
1. Have a config file in the git repo (e.g., `.github/cherry-pick-checker.json`) that indi

[2021-01-26 17:57] mathomp4 commented on #8350
@jsquyres Not yet. I've been tasked to other more urgent issues at the moment. I did build the debug version of Open MPI, and that's when things blowed up in other areas of the job. I'm hoping to get back to it this week. Been busy last couple of weeks!

[2021-01-26 19:20] yosefe commented on #8367
@amckinstry the error `[1610465245.269420] [debian:800759:0]      rdmacm_cm.c:638  UCX  ERROR rdma_create_event_channel failed: No such device` should not happen even if there is no RDMA device on the system. We will reproduce the issue see how to avoid such error from UCX side. adding @alinask and @evgeny-leksikov

[2021-01-26 19:29] jsquyres commented on #8410
See #8417 for `autogen.pl` updates to use known-good `config.guess` and `config.sub`.

[2021-01-26 20:01] fxcoudert commented on #8410
GNU's own documentation recommends using `config.{guess,sub}` from their own repo, rather than rely on autoconf versions. https://www.gnu.org/software/gettext/manual/html_node/config_002eguess.html

[2021-01-26 20:12] jsquyres commented on #8410
@fxcoudert PR #8417 includes cached copies of `config.guess` and `config.sub` from Savannah from today.

We don't want to just arbitrarily grab those files from Savannah when building a tarball for a few reasons:

1. We lose reproducibility, making debugging potentially more difficult.
2. At any given time, those files might be "bad" on Savannah for some reason.  Having a known-good set of files e

[2021-01-26 20:32] awlauria commented on #7757
@louisespellacy-arm while that will work in a pinch, I don't think that is the best solution. Doing that will propagate the debugger CFLAGS for everything below the orte tree (losing -O3) for basically all of orte as far as I can tell.

Unfortunately, it seems that libtool is blasting every file with `-O3` again. The intent was (as far as I remember) to not compile this file with -O3, but I don't

[2021-01-26 21:22] awlauria commented on #7757
I'm no configure expert, so maybe there's a better way. I have a branch where this is partially implemented, and it seems to as well as before. Basically I just replaced CFLAGS/CPPFLAGS with OPAL_CFLAGS/OPAL_CPPFLAGS, and set CFLAGS/CPPFLAGS to be empty, preventing libtool from tacking them on. Then I've gone across a subset of makefiles and set them for each library. They will also have to be pas

[2021-01-26 21:22] jjhursey commented on #7757
The OPAL_{CFLAGS|CPPFLAGS} method looks like it would work, but is pretty time-intensive to implement. Before going too much further down that road the community (at least those familiar with the build system - @jsquyres @bwbarrett @ggouaillardet mayeb others) should weigh in so Austen doesn't waste effort here if there is another way.

The only other way I thought of was to inject a script at the

[2021-01-26 21:54] jsquyres commented on #7757
It looks like we did this differently in https://github.com/open-mpi/ompi/blob/master/ompi/debuggers/Makefile.am -- we overrode `CFLAGS` for the entire `Makefile.am`.  It looks like we did that because the `_LINK` line for the `.lo` files are like this (from the rendered `orte/orted/Makefile` -- showing line numbers and line breaks from my text editor, sorry):

[code]

Notice how it still has `$(C

[2021-01-26 22:09] awlauria commented on #7757
That would work limit the scope some, but all files beneath orte/orted would also be affected (there's a pmix dir there), right

The global CFLAGS hammer is...burdensome to work-around. If we were to remove it, the added flexibility it will give developers/users to mix and match flags between components is a nice bonus as well.

[2021-01-26 22:40] jsquyres commented on #7757
The end goal here is to compile the one file that is necessary without the regular `CFLAGS`.  You may even want to move that one file into its own subdirectory so that it can have its own `Makefile.am`.  We more-or-less did that in `ompi/debuggers`, and we've definitely done similar things in the Fortran MPI bindings.

This is unfortunately just how Automake rolls...

[2021-01-26 22:42] jsquyres commented on #7757
Well, actually, it just occurs to me that there could be another method that could work, but it may be a bit crazy / not worth it.

You could just override the rule for `orted/liborted_mpir_la-orted_submit.lo` in `orte/orted/Makefile.am`.

I say that this is a little crazy because, honestly, this scheme is a little dicey: if Libtool ever changes the rules that they generate, we'll be out of sync w

[2021-01-26 23:09] awlauria commented on #7757
True this is only for one file. But the way we're doing it now is not recommended by the automake docs as I read them - IE using CFLAGS as a global entity 'that everyone shall have'. And while right now we are running into this issue for mpir, which admittedly is going away, I'm sure we will eventually run into this issue again. And when that happens, we'll have to reshuffle things around or tinke

[2021-01-27 06:23] Qinghe12 opened #8419 "Failed to bind to core"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

### If you are building/installing from a git clone, please copy-n-

[2021-01-27 06:32] Qinghe12 opened #8420 "Failed to bind to uncontinuous core int SMT machine"
## Background information
I tried to bind mpi process to different core in a SMT machine as following but failed:

cmd：mpirun -np 2  --allow-run-as-root  taskset -c 0,2 ./graph500_reference_bfs 20 16

I  observed that  two  processes run in core 0 and core 1 as default.

openmpi version:  v4.0.5
compilation：./configure --prefix=/xxxx
make
make install

[2021-01-27 06:54] #8419 closed

[2021-01-27 06:55] ggouaillardet commented on #8420
What are you trying to achieve?

How do you observe that the processes run on cores 0 and 1?

[2021-01-27 07:09] #8420 closed

[2021-01-27 15:18] #8410 closed

[2021-01-27 17:33] Akshay-Venkatesh commented on #7690
@bosilca Not sure if I follow the problem. Can you elaborate if you don't mind?

[2021-01-27 18:06] bosilca commented on #7690
Neither do I. I recall long ago we were careful to place the temporary memory on the local NUMA node to minimize the burden, but I don't see that logic in the code anymore. Plus, I think that even for same node GPU to GPU transfers we are not falling back to UCX, so this issue might be irrelevant now.

[2021-01-27 22:51] jsquyres commented on #8410
@fxcoudert This issue auto-closed, sorry about that.  The v4.1.x version of the fix is in #8421.

I don't know if you want to just pull the patch and apply that; we can (and probably will) roll an RC soon, but I think you said that you don't generally test upstream betas.  FWIW: we have just one more AVX blocker issue before v4.1.1 (it compiles and runs properly now, but at least in some cases the

[2021-01-28 00:48] rajachan commented on #8334
This regression does not happen when compiling OMPI with icc. The issue seems contained to the use of gcc (tested with multiple versions up until v11 candidate built from source). LAMMPS developers have confirmed they are not making explicit use of AVX512 here.  @bosilca I propose updating https://github.com/open-mpi/ompi/pull/8376 to conditionally use those combinations only when the Intel compil

[2021-01-28 01:48] bosilca commented on #8334
Allow me to summarize the situation as I understand it. We have a performance regression on __one__ application, on __a__ particular processor, when compiled with __a__ particular compiler (many versions of the same compiler). Analysis of the regression __in the application context__, pinpoints the performance issue on an MPI_Allreduce, but we are __unable to replicate__ (even using the same set o

[2021-01-28 05:30] rajachan commented on #8334
Given this is a performance optimization we are talking about and given this was just introduced in this series, yes, that is _exactly_ why I am proposing we be conservative. We have one application that we know of and we don't have full understanding of the problem, so we can not say no other application is impacted (we don't know what we don't know). We learned from the LAMMPS developers that th

[2021-01-28 05:44] rajicon opened #8425 "MPI internal error in MPI_Dist_graph_create_adjacent"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v5.0.0a1

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone

### If you are building/installing from a git

[2021-01-28 09:42] devreal commented on #8425
@rajicon It would be helpful to a) know your setup (system configuration, network, configure command for OMPI); and b) to have a small reproducer. Can you reproduce the issue by calling `MPI_Dist_graph_create_adjacent` in a loop for example? What does the application do leading up to the error?

[2021-01-28 14:07] opoplawski commented on #8321
I'm happy to push a ucx 1.9 update to Fedora 33 if that seems appropriate.  Is update UCX versions okay?  There isn't a soname bump.

[2021-01-28 14:24] tomhaber opened #8426 "MPI_spawn and MPI_Intercomm_merge causes UCX errors"
## Background information

[code]

-----------------------------

## Details of the problem

Test code:

[code]

While the code actually does run correctly, it produces a bunch of errors in UCX

[code]

[2021-01-28 14:28] tomhaber commented on #8426
It seems that the problem is resolved by freeing the merged communicator
[code]

I'm not sure if this is mandatory. I didn't have any problems before with many different MPI libraries and it seems that the examples I found online are also missing the free.

[2021-01-28 15:59] awlauria commented on #7757
@louisespellacy-arm See https://github.com/open-mpi/ompi/pull/8428 for the v4.1.x fix, if you have time to verify. Thanks for your patience!

[2021-01-28 16:35] yosefe commented on #8403
@akjt the openib BTL is deprecated and will be disappearing in 5.0, and is no longer supported. The recommendation is to use UCX PML instead, as described in https://openucx.readthedocs.io/en/master/running.html#openmpi-with-ucx

[2021-01-28 16:50] bodgerer commented on #8252
Just had a report of someone hitting this same issue using multi-node gromacs with gpus on an ibm ac922 system. Same ompi/ucx versions as original poster.

Tried setting UCX_IB_ENABLE_CUDA_AFFINITY=n ,  no difference to failure.

[2021-01-28 17:06] yosefe commented on #8252
@bodgerer can we suggest to use UCX v1.10 version?
https://github.com/openucx/ucx/releases/tag/v1.10.0-rc1

[2021-01-28 21:50] cniethammer commented on #8377
Fix #8393 was merged into master

[2021-01-28 21:50] #8377 closed

[2021-01-28 21:57] akjt commented on #8403
Hi @yosefe ;
Thanks for your reply. Yes, I did see this and was planning to build ucx and then openmpi with that.
However, I am not sure whether that is the issue here. In fact, I just reproduced my problem using openmpi version 3.0. I am just wondering if there is any known issue with mpi_allreduce.
We have a quite complex communication pattern where each rank might have up to 20 different commun

[2021-01-29 06:43] rajicon commented on #8425
Thanks for the reply!  Our code is quite complex, so I will try and figure out a small reproducer and get back to you.   In the meantime, do you have any suggestions of what the internal error could mean?  Is there anything to double check first?

[2021-01-29 07:16] devreal commented on #8425
Unfortunately, I am neither familiar with the Java interface, nor with the Dist-graph implementation. Maybe someone else can chime in. But since this is a fairly generic error I'm afraid it\s hard to make sense of it without more details.

[2021-01-29 09:09] algorithmconquer commented on #6107
@regel Do you solve the problem?

[2021-01-29 13:05] yosefe commented on #8403
@akjt the error is timeout in RC transport, and is not specific to allreduce, it indicates some issue on the network layer. In this case, the way that btl/openib transport utilizes the network, especially on large scale, is less efficient and more error-prone vs. ucx. This is one of the reasons btl/openib was phased out and replaced by UCX.

[2021-01-29 13:07] #8367 closed

[2021-01-29 13:10] akjt commented on #8403
Thanks @yosefe ; we will move forward with UCX to test it. Thanks for your answer.

[2021-01-29 14:15] loveshack commented on #8102
I'm increasingly confused.

It does, indeed, seem the btl doesn't get built against ucx 1.9.  I must
have been going by the fact that the ucx doc says you have to disable
it, and makes no mention of version dependence; that and the fact that
the failure looked consistent with memory corruption, and btl ^uct
apparently cured it.  Apologies for not checking properly.  Perhaps
someone can get the ucx

[2021-01-29 14:17] loveshack commented on #8379
See my reply in #8379

[2021-01-29 14:31] loveshack commented on #8252
The current 1.10-dev, built code (built with cuda, gdrcopy, and
thread-multiple) and openmpi 4.1 segvs in ompi_osc_rdma_lock_atomic
during startup of IMB-RMA across two nodes, the same as with 1.9.

[2021-01-29 17:03] louisespellacy-arm commented on #7757
Built using the pull requested linked and built with PGI 20.1. Checking breaks at MPIR_Breakpoint seems to give desired output - at the location of new file.
[code]

[2021-01-29 17:03] jsquyres commented on #8102
@loveshack Just to be sure: are you installing one build of Open MPI over the prior build of Open MPI?  Or are you always installing into a clean, new, empty directory tree?

I.e., I'm wondering if you built with an older UCX at one point, and therefore the Open MPI UCT BTL was built and installed.  But then you re-built Open MPI with a *newer* UCX, and the Open MPI UCT BTL was _not_ built... but

[2021-01-29 17:11] jjhursey commented on #7686
@awlauria Filed part of this for OpenPMIx in https://github.com/openpmix/openpmix/pull/2042 (`master` branch). Thanks!

[2021-01-29 17:23] hppritcha commented on #8321
@opoplawski thanks Orion.  Transferring to Nvidia to let them decide how to deal with this from the Open MPI side.  Recommend a configure check to not build UCX pml and osc if the UCX being installed is older than 1.9. @hoopoepg

[2021-01-29 17:28] gpaulsen commented on #7757
This should be resolved in v4.0.6 by https://github.com/open-mpi/ompi/pull/8422.

[2021-01-29 17:30] jsquyres commented on #8321
@hppritcha Better to use the general "UCX" team name to alert all the relevant people on the UCX side, not just @hoopoepg.

FYI: @open-mpi/ucx

[2021-01-29 17:42] louisespellacy-arm commented on #7757
Excellent thanks for all the help!

[2021-01-29 17:47] yosefe commented on #8321
@hppritcha @jsquyres how about pml/ucx would disqualify itself at runtime, if UCX library version is older than v1.9, with some warning and mca var to override this?
I guess we could update that minimal version from time to time as we move to newer UCX versions

[2021-01-29 18:04] jsquyres commented on #8321
If you really want to stop supporting older versions of UCX, you can certainly do that.

IMHO: It would be best to have both `configure.m4`-time and run time checks for versions, just to be safe.

[2021-01-29 18:07] jsquyres commented on #7757
@gpaulsen @awlauria Is this not needed on master?

[2021-01-29 18:16] awlauria commented on #7757
It's my understanding that MPIR is not on master - the standard is shifting to PMix based standards:

https://github.com/openpmix/mpir-to-pmix-guide

That said there may be some adjustments needed in PMix to make sure the same thing doesn't happen with the new implementation.

[2021-01-29 18:17] jsquyres commented on #7757
Umm... right.  Duh.  Got it.

[2021-01-29 18:19] rhc54 commented on #7757
No memory mapping is done with PMIx tools, so we shouldn't have to worry about this particular problem 😄

[2021-01-29 20:11] jsquyres commented on #7757
@awlauria But the fix _is_ also needed on v4.1, right?

[2021-01-29 23:13] #8403 closed

[2021-01-30 17:02] opoplawski commented on #8321
I've submitted ucx 1.9 to Fedora 33 - https://bodhi.fedoraproject.org/updates/FEDORA-2021-613166cadb  Please test and provide feedback.

[2021-02-01 01:31] rajicon commented on #8425
While I try to find a simple version of the problem, I will explain the issue in more detail.  We are working on an agent simulation project, where different cpus handle different portions of the environment.  This is managed by a QuadTree, where each partition is rebalanced to make sure the amount of work each partition is doing is similar.  After rebalancing, the MPI_Dist_graph_create_adjacent i

[2021-02-01 02:19] ggouaillardet commented on #8425
@rajicon one thing you can do is monitor the memory usage, and check if there is a correlation between the MPI error, and the nodes (or a given Java virtual machine) running out of memory.

you can also try blacklisting the `topo/treematch` module and see if it helps

[code]

[2021-02-01 11:57] louisespellacy-arm commented on #7757
Are changes still being made to the v3.1.x branch? PGI/NVHPC is still shipping a pre-built openmpi-3.1.x and openmpi-4.0.x - would it be possible to apply the pull request to v3.1.x also?

[2021-02-01 15:38] awlauria commented on #7757
It's my understanding that v3.1 is closed, or very limited. @jsquyres @bwbarrett would you consider taking it?

[2021-02-01 20:11] jsquyres commented on #8321
@ksiazekm Just out of curiosity, are you seeing the same behavior with Open MPI v4.1.0 as well?

[2021-02-01 20:14] jsquyres commented on #8299
@artpol84 Since NVIDIA is the maintainer of the SLURM plugin, is there any chance you guys will add support for this? 😄

[2021-02-01 20:59] jsquyres commented on #7757
We talked about this today (i.e., merging to v3.1).  @awlauria is going to make a v3.1.x PR.  If it's on the same order of magnitude as the master / v4.0.x / v4.1.x PRs (i.e., self-contained and low risk), we're open to merging it on v3.1.x.  We will almost certainly _not_ do a new release, though -- but a snapshot build tarball from the v3.1.x branch will be available within 24 hours of merging (

[2021-02-02 00:49] awlauria commented on #7757
Closing this, as all PR's have been merged. @louisespellacy-arm if you encounter any other issues, feel free to re-open or create a new issue.

Thanks!

[2021-02-02 00:49] #7757 closed

[2021-02-02 02:22] schrc3b6 opened #8434 "Segfault MPI_Get in Vader/sm module"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
We got the Segfault for Version 4.1.0 and 4.0.5 from https://www.open-mpi.org/.

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
* tarball from https://www.open-mpi.org

[2021-02-02 07:37] hoopoepg commented on #8385
@karasevb could you look if this is known issue?

[2021-02-02 09:35] hoopoepg commented on #8385
hi @KyuzoR
This PR should resolve issue: https://github.com/open-mpi/ompi/pull/8408
Could you check if it works now?

thank you

[2021-02-02 09:38] karasevb commented on #8385
@KyuzoR did you tried to run this test without UCX (`--mca pml ^ucx`)?

[2021-02-02 10:55] louisespellacy-arm commented on #7757
Thanks! Useful so we can indicate to customers to pull latest if they encounter issues!

[2021-02-02 12:09] manasi-t24 opened #8436 "How to use MPI_Iallreduce with OpenMPI"
Thank you for taking the time to submit an issue!

## Background information
I have to use MPI_Iallreduce (non-blocking collective operation) in my application. I have used MPI_Iallreduce successfully on a Cray system before using Cray-MPICH library. The Cray-MPICH library requires following environment variables to be set to ensure progress of the asynchronous communication in MPI_Iallreduce:
exp

[2021-02-02 17:26] jsquyres opened #8439 "Detect (and ignore) stale Open MPI components"
Periodically, we have users who accidentally have stale Open MPI components in their installation tree (e.g., they install a new version of Open MPI over an old version, and some components from the old version aren't overwritten -- perhaps because they don't exist in the new version).

https://github.com/open-mpi/ompi/issues/8102 is one example where this *may* be happening (at the time of this w

[2021-02-02 17:40] yosefe commented on #8439
Maybe “make install” could wipe $libdir/openmpi before putting new component libs in it?

[2021-02-02 18:40] KyuzoR commented on #8385
@karasevb With `--mca pml ^ucx --mca btl '^openib,uct'` I got
[code]

[2021-02-02 19:08] hoopoepg commented on #8385
as I can see it created original ranks but failed to spawn more processes, right?

[2021-02-02 19:28] KyuzoR commented on #8385
Yes.

[2021-02-03 00:38] karasevb commented on #8385
It looks like this is a common MPI_Comm_spawn problem, not UCX.

[2021-02-03 03:57] karasevb commented on #8385
This is probably the same root cause as https://github.com/open-mpi/ompi/issues/7094

[2021-02-03 06:57] hoopoepg commented on #8385
@KyuzoR may we close issue as ```duplicated```?

[2021-02-03 14:25] loveshack commented on #8102
I was using spack (with packaging from an openmpi maintainer, I think),
which should mean the latter.

No, I didn't.  After several rebuilds I don't have the installation I
was using, and I've no evidence the BTL was ever built.  I just wanted
to say what I reported seems to have been wrong and should be
disregarded without being able to account for it.  I'm sorry for not
being able to get things

[2021-02-03 14:35] gpaulsen commented on #8000
@milancurcic Did you determine the source of your issue?  Can we close this Open-MPI ticket?

[2021-02-03 14:39] milancurcic commented on #8000
Thank you @jjhursey and @gpaulsen. Yes, I think it can be closed. I didn't find a solution, but the sysadmin urged me to move away from trying to get this to work (unsupported by the vendor). They agreed it looked like an LSF issue.

[2021-02-03 14:39] #8000 closed

[2021-02-03 14:39] jayeshkrishna opened #8442 "Data corruption with OpenMPI 4.0.4 and UCX 1.9.0"
There seems to be a data corruption issue with OpenMPI 4.0.4 + UCX 1.9.0 (and 4.1.0 + UCX 1.9.0) when communicating data between processes using MPI. The attached test code is an MPI program in C++ that shows the issue when run on more than one node in a local cluster. Restricting the UCX transport protocol to sm, tcp, ud is a workaround for the issue (Not setting UCX_TLS or setting it to rc, dc r

[2021-02-03 14:51] KyuzoR commented on #8385
Issue solved in version 4.1.0

[2021-02-03 14:51] #8385 closed

[2021-02-03 15:00] yosefe commented on #8442
@jayeshkrishna can you pls try setting UCX_MEM_EVENTS=n to check if the issue is related to memory hooks?

[2021-02-03 15:16] gpaulsen commented on #8398
@edgargabriel Are you still planning to PR to release branches?  v4.0.6 is getting close, and this might be nice to get in.

[2021-02-03 15:22] jjhursey commented on #7486
Per Teleconf Feb. 2, 2021:
 * Brian sent an email to the mailing list [here](https://www.mail-archive.com/devel@lists.open-mpi.org/msg21222.html)
 * The consensus on the call was
   * **Do not** rename the configure options for the 3rd party libraries (e.g., `--with-slurm` becomes `--with-prrte-slurm`)
     * Rationale: This exposes the internal build structure of OMPI to users who should not care

[2021-02-03 15:25] edgargabriel commented on #8398
@gpaulsen I will do that later today or tomorrow morning. None of the issues are in my opinion really 'high priority' issues, but you are right that it is still a good idea to bring them over to 4.0.x and 4.1.x branches

[2021-02-03 16:43] akjt commented on #8403
Just to confirm that once I updated openMPI to employ the UCX, I am no longer seeing this error. Also, there is actually an appreciable performance gain by this simple switch!

Also, I read that you guys suggest to use the flag`--mca opal_common_ucx_opal_mem_hooks 1` since we did not disable the BTL when we configured OMPI with UCX. Although, I am still seeing the following Warnings when running

[2021-02-03 16:48] yosefe commented on #8403
Yes, that is correct.

[2021-02-03 16:51] jayeshkrishna commented on #8442
I just tried setting "UCX_MEM_EVENTS=n" (env variable) but that did not help (the reproducer validation failed)

[2021-02-03 20:00] hppritcha commented on #8426
This is unlikely to be a UCX issue, rather UCX is just a messenger here.

[2021-02-03 20:50] rhc54 commented on #8426
I believe OMPI requires it or else you'll get warnings, but can't swear to it. Probably good practice regardless.

[2021-02-03 21:23] schrc3b6 commented on #8434
I just tested it with the master branch and I still get segmentation faults.
I also looked some more at the source code and think the following patch should fix the issue:

https://github.com/schrc3b6/ompi/commit/b70fc73aa6eaa9bb6e4e2b8c487bcfc3c8d9171f

Since I'm new here it would be great if someone could try to reproduce this error or telll me if my test program is wrong.
Thanks

[2021-02-04 05:01] hjelmn commented on #8434
I don't quite follow. On that line remote_rank is a value between 0 and ```nlocal_procs-1```. ```MCA_BTL_SM_LOCAL_RANK``` is ```opal_process_info.my_local_rank```. That said. Does that change make a difference? If it does something else is going on.

[2021-02-04 05:04] hjelmn commented on #8434
That said I see nothing obviously wrong with the program so this likely is a bug. I can take a look and see if I can determine what is going wrong.

[2021-02-04 05:08] hjelmn commented on #8434
Also note that BTLs have no concept of communicator rank.

[2021-02-04 05:48] ggouaillardet commented on #8434
@hjelmn I had some hard time to follow too ... but the fix is legit:

if you run the attached program on a single node with 3 MPI tasks, because of lazy initialization, `sm_add_proc()` is (only) invoked by ranks `1` and `2` with `procs={1,2}`.
`MCA_BTL_SM_LOCAL_RANK = opal_process_info.my_local_rank` is (so to speak) the "local" (e.g. within the same node) rank in `MPI_COMM_WORLD`.
Bottom line, we

[2021-02-04 08:08] schrc3b6 commented on #8434
Since I was looking at the code I noticed the same offset problem in btl_sm_fifo.h.

In the function virtual2relativepeer remote_rank is used, but in relative2virtual and virtual2relative MCA_BTL_SM_LOCAL_RANK is used.

Since for the allocation of the enpoints in sm_add_procs MCA_BTL_SM_NUM_LOCAL_PEERS + 1 is used, which for the example of 3 Processes evaluates to 3, it should be ok to set ep->pee

[2021-02-04 09:06] ggouaillardet commented on #8434
@schrc3b6 since `init_sm_endpoint()` is a `static` subroutine, I have no objection you change its signature.

but once again, please issue a proper Pull Request, this will make code review much easier.

[2021-02-04 14:25] hjelmn commented on #8434
How odd. Do we now lazily add local procs? E We used to always call add procs with all the local procs.

[2021-02-04 14:31] hjelmn commented on #8434
If we now no longer call add procs with all the local procs Vader will not work as written. It relied on that property and may give the wrong result.

[2021-02-04 14:56] hjelmn commented on #8434
Is PMIX_LOCALITY not necessarily available in ompi_proc_complete for all local procs? If that is the case we have a real problem.

[2021-02-04 15:13] rhc54 commented on #8434
@hjelmn We do indeed still call "add procs" during MPI_Init for all the local procs, and PMIX_LOCALITY is definitely available. I don't know what else is going on here, but the analysis of root cause seems off.

[2021-02-04 15:25] hjelmn commented on #8434
@rhc54 Yeah. Something is not right. An expected property of MPI_Init appears to have broken.

There is no real barrier to btl/sm supporting lazy add_procs for local procs (the linked CL is one such change-- but there are others). We need to root cause this asap and determine which releases are affected.

[2021-02-04 15:37] schrc3b6 commented on #8434
@rhc54 I just ran my test program to see if add procs is called during mpi_init.
If I am using pml ob1 it is run on mpi_init, but if I'm using pml ucx it is not. (see the two backtraces: https://gist.github.com/schrc3b6/47f5987594430005ff8bf702494fad35)

[2021-02-04 15:40] rhc54 commented on #8434
Aha - this sounds like a UCX-related issue then. It should be getting called there, just like ob1

[2021-02-04 15:42] hjelmn commented on #8434
Ah, I see. This issue. At some point, even when using UCX, we still called add_procs for all local procs. Not sure why that is no longer happening.

[2021-02-04 15:43] hjelmn commented on #8434
I can quickly fix this issue with calling add_procs in osc/rdma if it is selected (which it should be in the all-local case).

[2021-02-04 15:48] rhc54 commented on #8434
Actually, I think I do have an objection to this PR. At one point, @hjelmn and I had enabled the use of "vader" between MPI jobs, specifically between the parent and child jobs of MPI_Comm_spawn. This PR would appear to disable that capability - yes? If so, I would consider that a major negative.

[2021-02-04 15:54] hjelmn commented on #8434
@rhc54 Hmmm. Maybe. Should compare the whole name to be safe.

[2021-02-04 16:04] hjelmn commented on #8434
The fix is simple enough. Will have a PR up shortly.

[2021-02-04 16:09] hjelmn commented on #8434
The user's code is a good reproducer and should be added to MTT.

[2021-02-04 16:17] rhc54 commented on #8434
If you compare the entire name, then won't this limit "sm" to connecting only procs from the same jobid?

[2021-02-04 16:18] hjelmn commented on #8434
No. This particular check just prevents btl/sm from setting up state for self.

[2021-02-04 16:25] hjelmn commented on #8434
@schrc3b6 Can you test #8449 and confirm that it fixes your issue.

[2021-02-04 16:54] rhc54 commented on #8434
Got it - thanks!

[2021-02-04 16:54] schrc3b6 commented on #8434
looks good to me, thanks.

[2021-02-04 18:57] jsquyres commented on #8434
Let's leave this open until #8449 merges (it will auto-close this issue).

[2021-02-04 20:04] jsquyres commented on #8442
@open-mpi/ucx  FYI

[2021-02-05 03:29] rhc54 opened #8450 "Master branch broken on M1 Mac"
Getting a flood of these errors:
[code]
Looks like something in the datatype engine is broken?

[2021-02-05 03:43] rhc54 commented on #8450
Some more info:
[code]

[2021-02-05 03:44] hjelmn commented on #8450
Seeing the same thing. Was working the other day.

[2021-02-05 03:59] hjelmn commented on #8450
Looks like opal_short_float_complex_t is undefined.

[2021-02-05 04:06] ggouaillardet commented on #8450
There is an issue with `SHORT_FLOAT_COMPLEX` and `OPAL_DATATYPE_SHORT_FLOAT_COMPLEX`

the macro does
[code]

it works fine with predefined datatype (e.g. `int`, `float`), but fails here since `SHORT_FLOAT_COMPLEX` is declared as a `Float16 [2]` :

[code]
which is invalid syntax.

@bosilca can you please have a look?
I would assume the changes were never tested on ARM (or other architecture support

[2021-02-05 04:08] hjelmn commented on #8450
Indeed:

[code]

[2021-02-05 04:09] ggouaillardet commented on #8450
meanwhile, you can comment out the two `case` in `opal/datatype/opal_datatype_pack_unpack_predefined.h` starting at lines 369 and 503

[2021-02-05 04:21] #8434 closed

[2021-02-05 04:42] rajicon commented on #8425
Unfortunately blacklisting top/treematch did not solve the issue.  I have been looking into the problem some more, and it does seem to be a memory issue.  I've noticed that the error always occurs after a specific amount of rebalancing calls (MPI_Dist_graph_create_adjacent calls).  I now suspect that perhaps the old mpi graphs are not getting deleted, but I'm still not sure as to why.  Have you se

[2021-02-05 04:52] ggouaillardet commented on #8425
Running out of communicator ids (CIDs) could explain this behavior.

[2021-02-05 06:23] hoopoepg commented on #8442
hi @jayeshkrishna

thank you for bug report.

I tried to reproduce your issue and it seems our compiler is too old to process regexp - I see error:
[code]
we are using compiler: GCC 4.8.5 20150623 (Red Hat 4.8.5-36)

what compiler do you use?
I'm going to re-implement your reproducer to use getopt function to parse arguments. will let you know about progress

[2021-02-05 06:26] sarats commented on #8442
@hoopoepg Jayesh has used Intel-20.0.4 (from the gist above).
GNU 4.8.5 is too old, a recent gcc shouldn't have issues as far as I know.

[2021-02-05 06:33] sarats commented on #8442
@hoopoepg Apparently, gcc 4.9 added "Improved support for C++11, including: support for <regex>;"
https://gcc.gnu.org/gcc-4.9/changes.html

[2021-02-05 06:35] hoopoepg commented on #8442
ok, thank you

[2021-02-05 14:01] kawashima-fj commented on #8450
Could you try this patch? It will work around the error. Unfortunately there is power outage at my office this weekend and I cannot try it on our AArch64 machine now.

[code]

[2021-02-05 15:17] jayeshkrishna commented on #8442
Yes, a newer version of gcc should work fine. We use gcc 8.2.0 for our gnu tests (We require gcc 4.9+ for building Scorpio + E3SM due to limited C++ regex support in gcc < 4.9).

[2021-02-05 18:13] bosilca commented on #8450
Thanks @kawashima-fj , this patch works great. I pushed it out in a PR.

[2021-02-06 04:39] #8450 closed

[2021-02-08 11:03] rajicon commented on #8425
Hi, Can you clarify this some more?  How can I verify CIDs and whether we are running out?

[2021-02-08 13:30] hoopoepg commented on #8442
hi @jayeshkrishna
could you test your reproducer with variable
UCX_MAX_RNDV_LANES=1

thank you

[2021-02-08 14:47] jayeshkrishna commented on #8442
Ok, I will try this as soon as our cluster finishes the scheduled maintenance today. Meanwhile, were you able to recreate the issue with the test program?

[2021-02-08 15:06] ggouaillardet commented on #8425
in `C`, you can use `MPI_Comm_c2f(MPI_Comm)` in order to get the CID (e.g. an `int`) of a given communicator.

If there is no communicator leak (e.g. `MPI_Comm_free()` matches communicator creation), the CID of any newly created communicator should remain low during the application lifetime.

[2021-02-08 15:14] jsquyres commented on #8425
Just a quick comment: what @ggouaillardet says is correct, but note that it is a feature of how Open MPI works.

The MPI standard itself does not define a "communicator ID" entity, nor how to portably obtain it.  What @ggouaillardet is stating is that Open MPI has a finite number of CIDs (i.e., effectively the number of concurrent communicators that can exist in an Open MPI MPI process).  Using `M

[2021-02-08 20:27] jsquyres commented on #8321
@open-mpi/ucx Can you give a definitive ruling on what you plan to do?  I.e., are UCX versions prior to v1.9.0 problematic?

[2021-02-08 20:29] gpaulsen commented on #8442
Added blocker as this is data corruption issue.

[2021-02-09 05:51] jayeshkrishna commented on #8442
Setting the env variable UCX_TLS=rc I can recreate the issue on a single node.

On a single node run with UCX_TLS=rc and UCX_MAX_RNDV_LANES=1 the issue still exists.

The issue also exists with a multi node run with UCX_MAX_RNDV_LANES=1 (UCX_TLS not set)

[2021-02-09 07:08] jayeshkrishna commented on #8442
Also note that argparser.cpp has a no_regex_parse() function to support compilers that do not support regex. If you are having issues with regex when running your code, you might want to try replacing
[code]
in mpi_gather.cpp:57 with
[code]
(I would however recommend a newer version of the gnu compiler though)

[2021-02-09 07:17] hoopoepg commented on #8321
there is one more issue https://github.com/open-mpi/ompi/issues/8442 which may be related to this one, and we reproduced it on our environment. working over idenrifying.

[2021-02-09 08:19] 3rav opened #8463 "OepnMPI and mingw (msys2)"
Hi,

I am trying to compile OpenMPI 4.1.0 in the mingw environment, but at the moment I have such errors during configuration:
[code]

If I remove the check for statfs and statvfs in the configure file then I have this error:
[code]

PS. The mingw hwolc 2.4.0 package is available

[2021-02-09 10:21] hoopoepg commented on #8321
@ksiazekm could you test latest OMPI+UCX available in Fedora 33?

thank you

[2021-02-09 14:48] hoopoepg commented on #8442
@jayeshkrishna is it possible to reproduce issue using OMPI master branch?

[2021-02-09 15:06] edgargabriel opened #8464 "sharedfp/sm component broken on master with threading changes"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

master

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

source code from git clone

### If you are building/install

[2021-02-09 15:09] jayeshkrishna commented on #8442
I haven't tried the OpenMPI master but as mentioned in the issue description above the issue also occurs with OpenMPI 4.1.0 (OpenMPI 4.1.0 + UCX 1.9.0). Are you able to recreate the issue using the reproducer?

[2021-02-09 15:40] hoopoepg commented on #8442
yes, we reproduced it, also reproduced using sharem memory transport...
we found really strange behavior in OMPI data pack engine and fould that issue is not reproduced on OMPI master branch

[2021-02-09 16:12] hppritcha commented on #8442
@hoopoepg so you don't see this problem on master?

[2021-02-09 16:15] hoopoepg opened #8466 "datatype unpack: potential incorrect assert"
Thank you for taking the time to submit an issue!

## Background information
During debugging of issue https://github.com/open-mpi/ompi/issues/8442 we found strange assert, details below

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
Found at least in 4.1.x and master branches

## Details of the problem
there is assert at https://github.com/open

[2021-02-09 16:17] jsquyres commented on #8466
@bosilca will have a look; datastuff is in his domain...

[2021-02-09 16:23] hoopoepg commented on #8442
@hppritcha right, at least on configuration described by @jayeshkrishna and on our test configurations used for reproducing.
as I can see there are significant changes in datatype processing between 4.1 and master, I tried to backport it into 4.1 - but without success...

[2021-02-09 16:36] hoopoepg commented on #8442
@hppritcha update: issue is reproduced on extended configuration with master branch. Will continue to investigate tomorrow.

[2021-02-09 16:40] adrianjhpc opened #8467 "Compiling with AOCC (Clang-9)"
## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)
OpenMPI v4.1.0 tar file from the website

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From source tarball

### Please describe the system on which you are running

[2021-02-09 16:46] ksiazekm commented on #8321
I can confirm that it works properly with:
- ucx.x86_64 1.9.0-1.fc33
- openmpi.x86_64 4.0.5-1.fc33

[2021-02-09 16:54] jjhursey commented on #7486
Per Teleconf Feb. 9, 2021:
 - **Do not** add the `(From PMIx)` suffix. Since there might be options with the same name from multiple packages. Sorting out the duplication is more effort than it is worth right now. There are autogenerated .m4 files if we really need to track it down.
 - **Investigate** duplicate options. Some reports that options are shown multiple times, others think that autogen

[2021-02-09 17:54] bosilca commented on #8442
I can run the provided test with OB1 and any BTL combination without any issues. This does not mean the root cause is not in the datatype, but at least it eliminates the collective layer. I will add more comments on #8466.

[2021-02-10 08:19] hoopoepg commented on #8442
the problem could be in data segment size used to transmit portions os message: different transports may use 2^n bytes segments which eliminates any padding

[2021-02-10 22:47] #7499 closed

[2021-02-11 10:01] hoopoepg commented on #8442
so, it seems issue is in unpacker. I collected logs from unpacker, some details:

data is unpacked into vector of blocks with length 8x8bytes (double datatype) and stride 256 bytes (128 bytes of data + 128 bytes of padding)
[code]
as you can see from logs block aligment is XXX**40** bytes, but there is situation when space is not enough and data unpacked partially, after this block is unpacked by

[2021-02-11 14:36] awlauria commented on #8467
I've recently built with clang-9 (not AOCC) and didn't run into this issue.
Can you try setting FC to gfortran and see if it reproduces?

[2021-02-11 14:39] adrianjhpc commented on #8467
The Cray setup makes it difficult to have two compilers active at the same time.

[2021-02-11 16:37] awlauria commented on #8467
Just recompiled from the v4.1 tarball, and I was unable to reproduce with clang + flang.

It looks like the link command was slightly different for me though:

[code]
the `-Wl` seems to be missing from yours. Just playing on the command line, this is probably the reason it 'works' in my env.

Can you check the generated `libtool` file and see what it has on this line:

[code]
Some versions for com

[2021-02-11 16:44] awlauria commented on #8467
For me, if I set Wl="" in libtool and try a rebuild, it fails for me with a similar error:

`
libtool: link: clang -shared  -fPIC -DPIC  class/.libs/opal_bitmap.o class/.libs/opal_free_list.o class/.libs/opal_hash_table.o class/.libs/opal_hotel.o class/.libs/opal_tree.o class/.libs/opal_list.o class/.libs/opal_object.o class/.libs/opal_graph.o class/.libs/opal_lifo.o class/.libs/opal_fifo.o class/

[2021-02-11 18:49] hppritcha commented on #8321
@open-mpi/ucx just to note there seem to be some significant differences between this issue and #8442 namely this one doesn't seem to be reproducible when using RC UCX_TLS, whereas #8442 seems to be avoidable using sm, tcp.  Still they may be related although the conditions under which they appear wrt UCX_TLS are different.

[2021-02-14 09:36] yosefe commented on #8321
@ksiazekm can you pls check if #8473 resolves the issue (with ucx v1.8.0)?

[2021-02-14 12:49] #8416 closed

[2021-02-15 16:14] hoopoepg commented on #8321
@ksiazekm could you provide output of command ```ucx_info -d" from system where data corruption happened?

thank you

[2021-02-15 20:00] sarats commented on #8442
Thanks @hoopoepg for identifying the cause of the problem.

@bosilca Just wondering if there is an interim workaround in case the final fix takes a while.

[2021-02-15 20:25] jsquyres commented on #8102
@loveshack Should I interpret your last comment to mean that we can close this issue (and #8379)?

[2021-02-15 20:25] jsquyres commented on #8379
@loveshack Should I interpret your last comment to mean that we can close this issue (and #8102)?

[2021-02-16 13:57] hoopoepg commented on #8321
Hi @jsquyres
UCX v1.8 has data race in some configuration when used TCP and SHM transports simultaneously. In UCX v1.9 this data flow was updated and issue doesn’t appear anymore. The final fix was implemented in UCX v1.10 in PR https://github.com/openucx/ucx/pull/5936.

Is it still important enough to add warning given that we are pushing updated package for Fedora?

[2021-02-16 15:38] jsquyres commented on #8321
Many people use Open MPI outside of Fedora.

If you want to restrict Open MPI to only use UCX >= v1.10, you need to update the configury.

Silent data corruption is ***BAD***.

[2021-02-16 15:57] yosefe commented on #8321
@jsquyres IMO, runtime version check would be more strict (in case the user compiles OpenMPI with one UCX version, but runs with another version), WDYT?

[2021-02-16 16:01] jsquyres commented on #8321
That would be fine as well.

But we definitely also like configure-time failures (with helpful explanation messages).  E.g., if someone tries to compile with an old/unsupported UCX, it should fail right away during configure (vs. succeeding to configure, build, and install, and then only fail at run time).

Make sense?

[2021-02-16 16:09] yosefe commented on #8321
@jsquyres yes, that makes sense. just to make sure, it would not be a problem for OpenMPI that we essentially drop support for older UCX versions?

[2021-02-16 16:10] yosefe commented on #8321
adding @shamisp as well

[2021-02-16 23:18] ksiazekm commented on #8321
@hoopoepg here you have:

$ ucx_info -d
#
# Memory domain: sockcm
#     Component: sockcm
#           supports client-server connection establishment via sockaddr
#   < no supported devices found >
#
# Memory domain: tcp
#     Component: tcp
#             register: unlimited, cost: 0 nsec
#           remote key: 0 bytes
#
#   Transport: tcp
#      Device: enp3s6
#
#      capabilities:
#

[2021-02-17 00:04] jsquyres opened #8489 "UCX PML is pre-empting the usNIC BTL"
During the weekly Webex today, it became evident that there are differing views on when the UCX PML is to be used by default.  **NOTE:** All of the discussion below is about the default case -- any component / transport can be selected via MCA params / CLI options / etc., of course.

* My understanding of the UCX PML was that it was only to be used when IB or RoCE devices were discovered on the sy

[2021-02-17 00:19] rhc54 commented on #8489
Say what?? Absolutely not - TCP was supposed to default to the TCP BTL, as it has done for many years. Users would certainly be surprised to find it wasn't.

[2021-02-17 00:50] Akshay-Venkatesh commented on #8489
Cc @yosefe

[2021-02-17 00:51] jsquyres commented on #8489
FYI @open-mpi/ucx

[2021-02-17 00:55] rhc54 commented on #8489
To be clear, the only time UCX was supposed to be the default is when we are on Mellanox hardware. Otherwise, we were supposed to default to (a) the vendor's BTL/MTL (e.g., usnic) and then (b) to the BTLs. UCX was never supposed to be the default everywhere, just like OFI isn't the default (even though it too supports TCP).

[2021-02-17 07:27] hoopoepg commented on #8321
@ksiazekm thank you for info.
You have same configuration as we reproduced issue and upgrade to UCX 1.9 should resolve issue.

[2021-02-17 09:12] ggouaillardet opened #8490 "flux support on master"
I gave `flux` a shot on my cluster.
It works out of the box with the latest release branch, but not with the `master` branch.

Here is the error message

[code]

a workaround is to
[code]

What happens here is `flux` automatically sets the following environment variables
 - `OMPI_MCA_orte_tmpdir_base`
 - `OMPI_MCA_pmix=flux`
 - `OMPI_MCA_schizo=flux`

The issue is with `OMPI_MCA_pmix=flux`.
Since

[2021-02-17 10:28] loveshack commented on #8102
No.  The failure is still there, as originally reported by me and on
Summit.  What I can't reproduce is the fix I thought I had by following
what the UCX doc says (which turns out to be misleading).  The problem
appears to be in UCX, but the openmpi issue should stay open until UCX
is fixed, particularly as it contains the original workaround for the
failure.

[2021-02-17 10:33] yosefe commented on #8102
@loveshack does setting "-mca osc ucx" still workaround the original failure?

[2021-02-17 10:37] loveshack commented on #8379
This one can be closed as the openmpi configure does avoid building the
uct btl, despite what the UCX doc still says (although That doesn't
solve the fundamental problem with RMA on POWER).

It would be helpful if someone authoritative could get
https://github.com/openucx/ucx/wiki/OpenMPI-and-OpenSHMEM-installation-with-UCX
changed.

[2021-02-17 10:40] yosefe commented on #8379
@loveshack do you mean that the note to disable "btl_uct" is no longer relevant because it's already disabled automatically by OpenMPI?

[2021-02-17 11:51] rhc54 commented on #8490
Nothing we can do - flux needs to upgrade to support PMIx directly instead of using PMI-1. LLNL is aware of this but hasn't gotten around to it yet.

[2021-02-17 12:03] ggouaillardet commented on #8490
Got it, thanks!

I just noticed I did not realize that my workaround simply made `flux` spawn `n` instances of rank `0` instead of a job of `n` ranks ...

[2021-02-17 12:55] rhc54 opened #8491 "Warnings on HAN and ADAPT in master"
Repeated multiple times each:
[code]

[2021-02-17 15:02] #8379 closed

[2021-02-17 15:20] jsquyres commented on #8463
Sorry, somehow this issue slipped by me and I didn't see it until now.

Open MPI really needs `statfs()` or `statvfs()`.  If your system somehow doesn't support those, Open MPI won't work.

We don't explicitly test in Windows; I don't know if Open MPI will work there.  Have you tried Windows Systems for Linux?

[2021-02-17 16:04] ksiazekm commented on #8321
@hoopoepg indeed, as I wrote in [comment](https://github.com/open-mpi/ompi/issues/8321#issuecomment-776077448) :)

[2021-02-17 16:30] thananon commented on #8179
Hi @rzambre , sorry I have not checked in with this account for a while. Are you still pursuing this? I see that you did not compile with btl/uct (OMPI has different modules for ucx and uct). You will have to specify this in configure flag.

[2021-02-17 18:17] #8491 closed

[2021-02-18 07:05] nmorey commented on #7568
Any news on this ? This is still broken in all recent SUSE distros.

[2021-02-18 14:54] jsquyres commented on #7568
FYI @open-mpi/ucx

[2021-02-18 15:02] hjelmn commented on #7568
Likely as osc/rdma bug that was not patched in v3.1.x. Try v4.0.x.

[2021-02-18 15:41] yosefe commented on #7568
@nmorey btl_openib component was deprecated in v4.0.x series, and superseded with UCX one-sided component as the preferred provider of MPI-RMA over RDMA Infiniband networks.
Pls see https://openucx.readthedocs.io/en/master/running.html#openmpi-with-ucx for details on how to build and run OpenMNPI with UCX.

[2021-02-18 16:52] nmorey commented on #7568
@yosefe I haven't tested out openMPI 4 yet, but SUSE does have to maintain openmpi[23] for a while for SLES.
So I do need get this fixed at some point

[2021-02-18 17:51] jsquyres commented on #7568
@nmorey It's probably more of what @hjelmn said than @yosefe said -- an MPI one-sided fix that wasn't back-ported to the v3.x series.  ☹️

[2021-02-18 18:24] hjelmn commented on #7568
Yup. v3.1.x is old so I haven't bothered backporting fixes to it. If we need to do so let me know.

[2021-02-18 18:37] nmorey commented on #7568
This commit seems relevant bbd1ae265b2c
I'll give it a spin.

@hjelmn I do have to maintain these version for SUSE anyway. We do lag behind a lot (openmpi2 is still our default at the moment, although we deliver 2, 3,  and 4).
If it's out of maintenance on your side, I'll just deal with the fixes "locally". I just juggling with too many projects to keep up to date on 4.x fixes that may need to be

[2021-02-18 18:54] jsquyres commented on #7568
Thanks @nmorey.  Just FYI: unless there's an incredibly urgent need, we have no plans for any future 3.0.x or 3.1.x releases.

[2021-02-18 19:11] bwbarrett opened #8498 "Potential deadlock with multiple TCP BTL devices"
We found a "deadlock" situation with OB1 and the TCP BTL when there are multiple network endpoints AND there is a non-OMPI communication layer in use.  In this case, the situation was found when running the NCCL tests, which are testing NCCL's non-MPI communication stack, but using MPI for synchronization and launching.  The code in question is essentially:

[code]

Like MPI_ALLREDUCE, NCCL's allr

[2021-02-19 09:32] nmorey commented on #7568
Tried a few commits but no luck yet:
072a6a485095d6a8fd63afd678d9592243b5d931
da9f833f4aa9424ca6b180d5fc4e972184c86ac0
56e31f8206516d8ebbc07dbf45edc75a633d6cf4
2d3f862f1d1fb6e1543cae5a17c7761be7367a84
1af51d07d6be7b87e26bb01aeb1b72633a86d151

[2021-02-19 15:29] devreal opened #8505 "Changing info value on objects (should we remove __IN_ key prefixes?)"
Following the [discussion on changes to the info mechanism](https://github.com/open-mpi/ompi/pull/8330#discussion_r571500706), I decided to dig a little more into the info subscriber mechanism. I found that the osc/sm component ignores updates on the value for `alloc_shared_noncontig`, see https://github.com/open-mpi/ompi/blob/master/ompi/mca/osc/sm/osc_sm_component.c#L576 (ignoring it makes sense

[2021-02-19 16:58] #8490 closed

[2021-02-21 02:07] #8301 closed

[2021-02-22 02:47] jayeshkrishna commented on #8442
When will the fix for this issue be integrated to master/release (and are there any workarounds that we can use until the fix is available?)?

[2021-02-22 08:18] bertwesarg opened #8508 "Build with lustre headers breaks Open MPI"
I can trigger this bug:

- https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=898743

with an Open MPI 4.0.5 build on Ubuntu 20.04/amd64 in file ompi/mca/fs/lustre/fs_lustre.c.

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

- lustre package 2.14.0 (https://downloads.whamcloud.com/public/lustre/lustre-2.14.0/ubuntu2004/

[2021-02-22 08:20] bertwesarg commented on #8508
@blastmaster

[2021-02-22 13:26] edgargabriel commented on #8508
@bertwesarg thank you for the report, any chance that you can post the actual error message along with the configure output of the lustre section? I Don't have access right now to lustre 2.14.0, but will see whether we can recreate the error somewhere

[2021-02-22 14:22] rhc54 opened #8509 "Intercomm merge yields incorrect order"
Seeing this consistently in MTT - not sure of the cause. Note that the error also causes a segfault at the end:

**received unexpected process identifier: got [[19424,2],0] expected [[19424,3],0]
malloc debug: pml:ob1: mca_pml_ob1_match_completion_free: operation failed with code**

Full output from IBM test suite:
[code]

[2021-02-22 15:11] bertwesarg commented on #8508
I do not have the error handy, though its the same as the one in the debian bug. The file `ompi/mca/fs/lustre/fs_lustre.c` includes through some other files `linux/lustre/lustre_user.h`, which does include `linux/fs.h`. It also includes `sys/mount.h` directly. I can also reproduce the error directly with the mini-example in the bug report, not lustre or Open MPI involved. My fix for Open MPI was t

[2021-02-22 15:23] edgargabriel commented on #8508
I looked at the debian bug that you linked to , but I am honestly not sure what to do about that, since (as you pointed out) it is not really an Open MPI issue the way it looks. You are basically saying that the order of include statements matters, or we should add some #undef statements for some versions of libc?

[2021-02-22 15:24] KineticTheory opened #8510 "Issue: A call to mkdir was unable to create the desired directory"
Thank you for taking the time to submit an issue!

## Background information

### What version of Open MPI are you using? (e.g., v3.0.5, v4.0.2, git branch name and hash, etc.)

v4.0.5

### Describe how Open MPI was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installed by the sysadmin, presumably from a distribution t

[2021-02-22 17:42] hppritcha commented on #8510
@KineticTheory are you building OMPI via spack?  I could try to provide you a patch file via a spack PR if that's the case.

[2021-02-22 17:47] KineticTheory commented on #8510
No, I'm not building it myself.  I'm using pre-installed versions provided on Darwin.  But thanks for the offer!

If you have a potential work around, we could ask Dave to provide a friendly-user testing version for me to try.

[2021-02-22 19:32] loveshack commented on #8379
Yes.  At least it is with ucx 1.9 (but not <1.9 as far as I remember).
I don't know whether or not it's relevant for older versions.

[2021-02-22 19:36] loveshack commented on #8102
I don't know what "still" means -- with a different ucx or openmpi?  I
don't think there's any difference between openmpi 4.0 and 4.1, at
least.

[2021-02-22 19:41] hjelmn commented on #8379
Thats the thing. It is not built with UCX 1.9 (though it works so I am bumping the version). By default the allowed TLs is set to none. That effectively disables the BTL. Not sure why osc/rdma continues to try to use it as it should not even appear in the active BTL module list.

I plan to look into this as soon as I have a chance. I need to get the osc/rdma changes for non-RDMA systems in before